openapi: 3.0.1
info:
  title: na.internal.analytics.cred.1
  description: 'A sample API with information related to a technical conference.  The available resources  include *Speakers*, *Sessions* and *Topics*.  A single write operation is available to provide  feedback on a session.'
  version: '1'
servers:
  - url: https://nauat08.chubbdigital.com/analytics.billing.cred
  - url: https://nauat.chubbdigital.com/analytics.billing.cred
  - url: https://dp-uat.digitalgateway.chubb.com/analytics.billing.cred
  - url: https://mtls-uat.na.digitalgateway.chubb.com/analytics.billing.cred
  - url: https://na-central-uat.chubbdigital.com/analytics.billing.cred
paths:
  /payloadTrans:
    put:
      tags:
        - Demo
      summary: payloadTrans
      description: PayloadTransformation test
      operationId: payloadTrans
      parameters:
        - name: Authorization
          in: header
          description: ' JWT Bearer token for OAuth authentication'
          required: true
          schema:
            type: string
        - name: apiVersion
          in: header
          description: 'Api Version (eg :1, 2)'
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitSessionBodyRequest-json'
            example: string
      responses:
        '200':
          description: OK
        '500':
          description: Internal Server Error
  '/files-test12/{accountName}/containers/{containerName}':
    get:
      tags:
        - Files
      summary: ListFiles-test
      description: List all Files
      operationId: ListFiles-test
      parameters:
        - name: accountName
          in: path
          required: true
          schema:
            type: string
        - name: containerName
          in: path
          required: true
          schema:
            type: string
        - name: authorization
          in: header
          required: true
          schema:
            type: string
        - name: apiVersion
          in: header
          description: 'Api Version (eg :1, 2)'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/xml: { }
        '500':
          description: Internal Server Error
  /mock:
    get:
      tags:
        - Issuance
        - Demo
      summary: mock
      description: Mocking test
      operationId: mock
      parameters:
        - name: Authorization
          in: header
          description: ' JWT Bearer token for OAuth authentication'
          required: true
          schema:
            type: string
        - name: apiVersion
          in: header
          description: 'Api Version (eg :1, 2)'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
        '500':
          description: Internal Server Error
  /caching:
    get:
      tags:
        - Demo
      summary: caching
      description: Caching test
      operationId: caching
      parameters:
        - name: Authorization
          in: header
          description: ' JWT Bearer token for OAuth authentication'
          required: true
          schema:
            type: string
        - name: apiVersion
          in: header
          description: 'Api Version (eg :1, 2)'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
        '500':
          description: Internal Server Error
  /routing:
    get:
      tags:
        - Demo
      summary: routing
      description: Routing test
      operationId: routing
      parameters:
        - name: Authorization
          in: header
          description: ' JWT Bearer token for OAuth authentication'
          required: true
          schema:
            type: string
        - name: apiVersion
          in: header
          description: 'Api Version (eg :1, 2)'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
        '500':
          description: Internal Server Error
  /encrypt:
    post:
      tags:
        - Demo
      summary: encrypt
      description: encrypt test
      operationId: encrypt
      parameters:
        - name: Authorization
          in: header
          description: ' JWT Bearer token for OAuth authentication'
          required: true
          schema:
            type: string
        - name: apiVersion
          in: header
          description: 'Api Version (eg :1, 2)'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
        '500':
          description: Internal Server Error
  /decrypt:
    post:
      tags:
        - Demo
      summary: decrypt
      description: decrypt test
      operationId: decrypt
      parameters:
        - name: Authorization
          in: header
          description: ' JWT Bearer token for OAuth authentication'
          required: true
          schema:
            type: string
        - name: apiVersion
          in: header
          description: 'Api Version (eg :1, 2)'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
        '500':
          description: Internal Server Error
  '/files/{accountName}/containers/{containerName}/{fileName}':
    get:
      tags:
        - Files
      summary: GetFile
      description: Get File
      operationId: GetFile
      parameters:
        - name: accountName
          in: path
          required: true
          schema:
            type: string
        - name: containerName
          in: path
          required: true
          schema:
            type: string
        - name: fileName
          in: path
          required: true
          schema:
            type: string
        - name: authorization
          in: header
          required: true
          schema:
            type: string
        - name: apiVersion
          in: header
          description: 'Api Version (eg :1, 2)'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/xml: { }
        '500':
          description: Internal Server Error
    delete:
      tags:
        - Files
      summary: DeleteFile
      description: Delete File
      operationId: DeleteFile
      parameters:
        - name: accountName
          in: path
          required: true
          schema:
            type: string
        - name: containerName
          in: path
          required: true
          schema:
            type: string
        - name: fileName
          in: path
          required: true
          schema:
            type: string
        - name: authorization
          in: header
          required: true
          schema:
            type: string
        - name: apiVersion
          in: header
          description: 'Api Version (eg :1, 2)'
          required: true
          schema:
            type: string
      responses:
        '202':
          description: Accepted
          content:
            application/xml: { }
        '500':
          description: Internal Server Error
    put:
      tags:
        - Files
      summary: CreateNewFile
      description: Create new File
      operationId: CreateNewFile
      parameters:
        - name: accountName
          in: path
          required: true
          schema:
            type: string
        - name: containerName
          in: path
          required: true
          schema:
            type: string
        - name: fileName
          in: path
          required: true
          schema:
            type: string
        - name: authorization
          in: header
          required: true
          schema:
            type: string
        - name: apiVersion
          in: header
          description: 'Api Version (eg :1, 2)'
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            example: <RequestBody>string</RequestBody>
      responses:
        '201':
          description: Created
          content:
            application/xml: { }
        '500':
          description: Internal Server Error
  '/files/{accountName}/containers/{containerName}':
    get:
      tags:
        - Files
      summary: ListFiles
      description: List all Files
      operationId: ListFiles
      parameters:
        - name: accountName
          in: path
          required: true
          schema:
            type: string
        - name: containerName
          in: path
          required: true
          schema:
            type: string
        - name: authorization
          in: header
          required: true
          schema:
            type: string
        - name: apiVersion
          in: header
          description: 'Api Version (eg :1, 2)'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/xml: { }
        '500':
          description: Internal Server Error
components:
  schemas:
    SubmitSessionBodyRequest-json:
      type: string
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    apiKeyQuery:
      type: apiKey
      name: subscription-key
      in: query
security:
  - apiKeyHeader: [ ]
  - apiKeyQuery: [ ]