{"openapi":"3.0.1","info":{"title":"Connect OIDC APIs","description":"APIs that are used to provide, validate and assert user identities for Single Sign-On (SSO), and API workloads\n\nThe APIs may be accessed through an active web session within the application (i.e. any JavaScript running on the server itself) or through authorizing a client application through OIDC or OAuth 2.0.\n\nThe APIs can be accessed via a tenant specific domain.","version":"Released"},"servers":[{"url":"https://nxt-ulm-pdt.m1amdocs.io/oidc"}],"tags":[{"name":"OIDC","description":"Public user API for OpenId connect specification"}],"paths":{"/authorize":{"get":{"tags":["OIDC"],"summary":"Authentication Request","description":"OpenID Connect Authorization Endpoint as described in [§3.1.2](https://openid.net/specs/openid-connect-core-1_0.html#AuthorizationEndpoint), [§3.2.2](https://openid.net/specs/openid-connect-core-1_0.html#ImplicitAuthorizationEndpoint), and [§3.3.2](https://openid.net/specs/openid-connect-core-1_0.html#HybridAuthorizationEndpoint) of [OpenID Connect Core](https://openid.net/specs/openid-connect-core-1_0.html)","externalDocs":{"description":"OpenID Connect Core 1.0 incorporating errata set 1","url":"https://openid.net/specs/openid-connect-core-1_0.html"},"operationId":"oidcAuthorize","parameters":[{"name":"response_type","in":"query","description":"OAuth 2.0 response type requested.<br/>Possible values are a combination of _code_, _id_token_, _token_<br/>\n* code - Authorization Code Flow\n* id_token - Implicit Flow\n* id_token token - Implicit Flow\n* code id_token - Hybrid Flow\n* code token - Hybrid Flow\n* code id_token token -  Hybrid Flow","required":true,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"client_id","in":"query","description":"OAuth 2.0 client-ID of the Relying Party.","required":true,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"redirect_uri","in":"query","description":"Redirection URI to which the response will be sent. Must match\nconfigured values for the Relying Party","required":true,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"scope","in":"query","description":"Scopes requested. If missing all scopes from Relying party are assigned upon successful request.","required":false,"style":"form","explode":true,"schema":{"type":"string","example":"profile,email"}},{"name":"state","in":"query","description":"Opaque value to be returned with the redirect","required":false,"style":"form","explode":true,"schema":{"type":"string","example":"af0ifjsldkj"}},{"name":"nonce","in":"query","description":"(Optional) Opaque value to be included in the ID Token","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"prompt","in":"query","description":"(Optional) Allowed authentication methods.\nSpace delimited, case sensitive list. The defined values are:\n* none - No authentication or consent user interface pages are displayed. Typical error codes will be _login_required_, _interaction_required_.\n* login - Prompt the End-User for reauthentication. Typical error _login_required_.\n* consent - Prompt the End-User for consent. Typical error _consent_required_.\n* select_account - Prompt the End-User to select a user account. Typical error _account_selection_required_.","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"max_age","in":"query","description":"(Optional) Maximum authentication age","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"id_token_hint","in":"query","description":"(Optional) Previously-issued ID Token to be used as a reference","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"login_hint","in":"query","description":"(Optional) Suggested User-ID","required":false,"style":"form","explode":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Never happens. Successful scenario is 302 redirect."},"302":{"description":"Redirect to the {redirect_uri} with the auth code (and other parameters defined in Section 4.1.2 of OAuth 2.0 [RFC6749]) as query parameters.","headers":{"Location":{"description":"Redirect URI","style":"simple","explode":false,"schema":{"type":"string","example":"https://idp.example.org/login"}}}},"400":{"description":"Invalid input","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthorizeResponse400"}}}}}}},"/devicecode":{"post":{"tags":["OIDC"],"summary":"Device Authorization Request","description":"Use this API to initate the device authorization flow by requesting a verification code.","operationId":"deviceAuthorization","parameters":[{"name":"client_id","in":"query","description":"OAuth 2.0 client-ID of the Relying Party.","required":true,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"com.uxpsystems.device_id","in":"query","description":"The device ID.","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"x-process-debug","in":"query","description":"Flag to enable generation of the debug data.","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"scope","in":"query","description":"The requested scopes","required":false,"style":"form","explode":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceCodeResponse200"}}}},"400":{"description":"Bad Request - If the Token Request is invalid or unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceCodeResponse400"}}}}}}},"/device/verify":{"post":{"tags":["OIDC"],"summary":"Device Authorization verifications","description":"Use this API to verify a user code generated by /devicecode.","operationId":"deviceAuthorizationVerify","parameters":[{"name":"user_code","in":"query","description":"The end-user verification code.","required":true,"style":"form","explode":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceUserResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceUserResponse400"}}}},"401":{"description":"Access Denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceUserResponse401"}}}},"403":{"description":"Access Denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceUserResponse403"}}}}},"security":[{"user-session-cookie":[]},{"bearerAuth":[]}]}},"/device/approve":{"post":{"tags":["OIDC"],"summary":"Device Authorization Approval","description":"Use this API to verify a user code generated by /devicecode.","operationId":"deviceAuthorizationApprove","parameters":[{"name":"user_code","in":"query","description":"The end-user verification code.","required":true,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"user_oauth_approval","in":"query","required":true,"style":"form","explode":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceUserResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceUserResponse400"}}}},"401":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceUserResponse401"}}}},"403":{"description":"Access Denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceUserResponse403"}}}}},"security":[{"user-session-cookie":[]},{"bearerAuth":[]}]}},"/token":{"post":{"tags":["OIDC"],"summary":"Token Request","description":"OpenID Connect Token Endpoint as described in as described in [§3.1.3](https://openid.net/specs/openid-connect-core-1_0.html#TokenEndpoint) and [§3.3.3](https://openid.net/specs/openid-connect-core-1_0.html#HybridTokenEndpoint) of [OpenID Connect Core](https://openid.net/specs/openid-connect-core-1_0.html)","externalDocs":{"description":"OpenID Connect Core 1.0 incorporating errata set 1","url":"https://openid.net/specs/openid-connect-core-1_0.html"},"operationId":"oidcTokenPost","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/TokenRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenResponse"}}}},"401":{"description":"Bad Request - If the Token Request is invalid or unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenResponse401"}}}}},"security":[{"basic-query-params":[]},{"form-urlencoded-params":[]},{"basic-authz":[]}]}},"/revoke":{"post":{"tags":["OIDC"],"summary":"Token Revoke","description":"Performs [RFC 7009](https://tools.ietf.org/html/rfc7009) token revocation on an OAuth 2.0 Access Token or Refresh Token.\nRelying Parties may use this endpoint to revoke tokens issued to them.","externalDocs":{"description":"OAuth 2.0 Token Revocation","url":"https://tools.ietf.org/html/rfc7009"},"operationId":"oidcRevokePost","parameters":[{"name":"token","in":"query","description":"OAuth 2.0 Access Token or Refresh Token","required":true,"style":"form","explode":true,"schema":{"type":"string"},"example":"8ae1c0e3hhjfjiif"},{"name":"client_id","in":"query","description":"OAuth 2.0 client-ID of the Relying Party","required":true,"style":"form","explode":true,"schema":{"type":"string"},"example":"f3cf62d2-8967-440e-9dfc-c38fab8055e2"},{"name":"client_secret","in":"query","description":"OAuth 2.0 client secret of the Relying Party. Not needed for public RPs withouot secret.","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"8ae1c0e3-a70a-4335-86b5-a5aee1399bf0"},{"name":"token_type_hint","in":"query","description":"(Optional) Ignored.","required":false,"style":"form","explode":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenRevokeResponse400"}}}},"401":{"description":"Authentication problem","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenRevokeResponse401"}}}}},"security":[{"basic-query-params":[]},{"form-urlencoded-params":[]},{"basic-authz":[]}]}},"/introspect":{"post":{"tags":["OIDC"],"summary":"Token Revoke","description":"Accepts a supplied OAuth 2.0 access or refresh token and performs performs [RFC 7662](https://tools.ietf.org/html/rfc7662) token inspection on it. Responds with a JSON payload as per §2.2 of the RFC.\nAccess to this Introspection Endpoint must be enabled for the particular client accessing it, and that client must supply valid OAuth 2.0 client credentials in the request as well.","externalDocs":{"description":"OAuth 2.0 Token Introspection","url":"https://tools.ietf.org/html/rfc7662"},"operationId":"oidcIntrospect","parameters":[{"name":"token","in":"query","description":"OAuth 2.0 Access Token or Refresh Token","required":true,"style":"form","explode":true,"schema":{"type":"string"},"example":"8ae1c0e3hhjfjiif"},{"name":"client_id","in":"query","description":"OAuth 2.0 client-ID of the Relying Party","required":true,"style":"form","explode":true,"schema":{"type":"string"},"example":"f3cf62d2-8967-440e-9dfc-c38fab8055e2"},{"name":"client_secret","in":"query","description":"OAuth 2.0 client secret of the Relying Party. Not needed for public RPs withouot secret.","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"8ae1c0e3-a70a-4335-86b5-a5aee1399bf0"},{"name":"token_type_hint","in":"query","description":"(Optional) Ignored.","required":false,"style":"form","explode":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntrospectResponse"}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntrospectResponse400"}}}},"401":{"description":"Authentication problem","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntrospectResponse401"}}}},"403":{"description":"Authorization problem","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntrospectResponse403"}}}}},"security":[{"basic-query-params":[]}]}},"/userinfo":{"get":{"tags":["OIDC"],"summary":"User Info Request","description":"Retrieves the OIDC UserInfo object for the User whose OAuth2 Access Token is being presented.\nThis endpoint is only accessible with an OAuth 2.0 Access Token. Ordinary Connect authentication methods are not supported.","externalDocs":{"description":"OpenID Connect Core 1.0 incorporating errata set 1","url":"https://openid.net/specs/openid-connect-core-1_0.html"},"operationId":"oidcUserinfo","parameters":[{"name":"token","in":"query","description":"OAuth 2.0 Access Token or Refresh Token","required":true,"style":"form","explode":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserInfoResponse"}}}},"400":{"description":"Bad Request - If the Request is invalid or unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserInfoResponse400"}}}}},"security":[{"bearerAuth":[]}]}},"/oauth/confirm_access_model":{"get":{"tags":["OIDC"],"summary":"OAUTH Client Consent User Confirmation Request","description":"Retrieves the OAUTH Client Consents object for the User.","operationId":"confirmAccessModel","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientConsentConfirmation"}}}},"403":{"description":"Forbidden - If the Request is unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientConsentConfirmationResponse403"}}}}},"security":[{"user-session-cookie":[]}]}},"/jwk":{"get":{"tags":["OIDC"],"summary":"List of public keys","operationId":"oidcJwk","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JWKResponse200"}}}}}}},"/privacy/user/consent/{consentName}":{"delete":{"tags":["Privacy"],"summary":"revokeConsent","description":"Revokes a Client Consent by end-user","operationId":"revokeClientConsent","parameters":[{"name":"consentName","in":"path","description":"the consent name identifier","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"204":{"description":"Request successfully handled","content":{}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RevokeClientConsentResponse404Error"}}}}},"deprecated":false,"security":[{"bearerAuth":[]}]}},"/privacy/user/partner":{"delete":{"tags":["Privacy"],"summary":"revokeRelationshipWithPartner","description":"Revoke Relationship with Partner","operationId":"revokeRelationshipWithPartner","responses":{"204":{"description":"Request successfully handled","content":{}}},"deprecated":false,"security":[{"bearerAuth":[]}]}},"/privacy/user/consents":{"get":{"tags":["Privacy"],"description":"Get User client consents.","operationId":"getUserClientConsents","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserClientConsentsResponseDTO"}}}},"401":{"description":"Authentication problem","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientConsentsResponse401"}}}},"403":{"description":"Authorization problem","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientConsentsResponse403"}}}}},"security":[{"bearerAuth":[]}]}},"/.well-known/openid-configuration":{"get":{"tags":["OIDC"],"summary":"Well-known endpoint","externalDocs":{"description":"OpenID Connect Discovery 1.0 incorporating errata set 1","url":"https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderConfig"},"operationId":"oidcWellKnown","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WellKnownOpenidConfigurationResponse"}}}}}}}},"components":{"schemas":{"TokenRequest":{"title":"TokenRequest","type":"object","properties":{"grant_type":{"description":"OAuth 2.0 response type requested","type":"string","enum":["authorization_code","refresh_token","password","client_credentials","urn:ietf:params:oauth:grant-type:device_code","urn:amdocs:params:oauth:grant-type:token-exchange"]},"code":{"description":"Authorization Code","type":"string"},"client_id":{"description":"OAuth 2.0 client-ID of the Relying Party","type":"string"},"client_secret":{"description":"OAuth 2.0 client secret of the Relying Party","type":"string"},"redirect_uri":{"description":"Redirection URI to which the response will be sent. Must match configured values for the Relying Party","type":"string"},"response_mode":{"description":"(Optional) Unused","type":"string"},"nonce":{"description":"(Optional) Opaque value to be included in the ID Token","type":"string"},"prompt":{"description":"(Optional) Allowed authentication methods","type":"string"},"max_age":{"description":"(Optional) Maximum authentication age","type":"string"},"id_token_hint":{"description":"(Optional) Previously-issued ID Token to be used as a reference","type":"string"},"login_hint":{"description":"(Optional) Suggested User-ID","type":"string"},"actor_token":{"type":"string","description":"A security token that represents the identity of the acting party.  Typically, this will be the party that is authorized to use the requested security token and act on behalf of the subject. This is required for the urn:amdocs:params:oauth:grant-type:token-exchange grant."}},"required":["client_id","code","grant_type"]},"TokenResponse":{"title":"TokenResponse","type":"object","properties":{"access_token":{"type":"string","description":"JWT access token","example":"tokenValue"},"expires_in":{"type":"integer","description":"Expiry time of the acess token","example":3599},"id_token":{"type":"string","description":"JWT Id token","example":"tokenValue"},"refresh_token":{"type":"string","description":"JWT refresh token (unsigned)","example":"tokenValue"},"scope":{"type":"string","description":"Scopes for that client","example":"openid offline_access profile"},"token_type":{"type":"string","description":"The type of the token. (E.g. \"Bearer\")","example":"Bearer"}},"description":"Token Response"},"TokenResponse401":{"type":"object","properties":{"error":{"type":"string","description":"Error message:\n* invalid_grant\n* unsupported_grant_type\n* invalid_token","example":"invalid_grant","enum":["invalid_request","invalid_client","unauthorized_client","invalid_grant","unsupported_grant_type","invalid_scope","invalid_token","authorization_pending","access_denied","slow_down","expired_token"]},"error_description":{"type":"string","description":"Description of the error","example":"AuthorizationCodeRepository: no authorization code found for value xxxxx"}},"description":"If the Token Request is invalid or unauthorized"},"IntrospectResponse":{"title":"IntrospectResponse","type":"object","properties":{"active":{"type":"boolean","description":"Is token valid?","example":true},"scope":{"type":"string","description":"Scopes for this token, delimited by space","example":"openid profile email"},"expires_at":{"type":"string","description":"Expiry time of the acess token in ISO format","example":"2085-05-13T23:03:30+0000"},"exp":{"type":"integer","description":"Expiry time of the acess token","example":3640633410},"sub":{"type":"string","description":"SubId","example":"6cc435f8-2960-4e37-8370-192fc350b552"},"user_id":{"type":"string","description":"The Id of the user for which the token was issued.","example":"2345|nxt"},"client_id":{"type":"string","description":"OAuth 2.0 client-ID of the Relying Party.","example":"b0949ff1-bad0-4e09-95d1-5215e349d1b8"},"token_type":{"type":"string","description":"The type of the token. (E.g. \"Bearer\")","example":"Bearer"}},"description":"Introspect Response"},"UserInfoResponse":{"title":"UserInfoResponse","type":"object","properties":{"sub":{"type":"string","description":"The Sub Id","format":"uuid","example":"d891bba7-4a62-4a04-aeac-6953777038a3"},"name":{"type":"string","description":"The user's display name.","example":"John"},"preferred_username":{"type":"string","description":"User's preferred username","format":"email","example":"user@example.com"},"given_name":{"type":"string","description":"User's first name","example":"John"},"family_name":{"type":"string","description":"User's last name.","example":"Doe"},"middle_name":{"type":"string","description":"User's middle name","example":"Joe"},"nickname":{"type":"string","description":"User's nickname","example":"johndoe"},"profile":{"type":"string","description":"Profile","example":"profile"},"picture":{"type":"string","description":"The URI of the user's picture","format":"uri","example":"https://pictures.example.com/pic=uuid"},"website":{"type":"string","description":"User's website","format":"uri","example":"hrrps://myblog.example.com"},"gender":{"type":"string","description":"Gender","example":"male"},"zoneinfo":{"type":"string","description":"Zoneinfo","example":"zoneinfo"},"locale":{"type":"string","description":"User's locale","example":"en_US"},"updated_at":{"type":"integer","description":"Last update","format":"int64","example":1508849760527},"birthdate":{"type":"string","description":"User's birthday","format":"date"},"email":{"type":"string","description":"User's contact email.","format":"email","example":"contact.emal@example.com"},"email_verified":{"type":"boolean","description":"User has vrified their email address","example":true},"phone_number":{"type":"string","description":"User's phone number","example":"818-519-2395"},"phone_number_verified":{"type":"boolean","description":"User has vrified their phone number","example":true}},"description":"UserInfo Response"},"WellKnownOpenidConfigurationResponse":{"title":"WellKnownOpenidConfigurationResponse","type":"object","properties":{"request_parameter_supported":{"type":"boolean","example":true},"claims_parameter_supported":{"type":"boolean","example":true},"introspection_endpoint":{"type":"string","description":"URL of the introspection endpoint","format":"uri","example":"https://server.example.com/oidc/introspect"},"scopes_supported":{"type":"array","items":{"type":"string","example":"Single-string"}},"issuer":{"type":"string","description":"Issuer","format":"uri","example":"https://server.example.com/oidc/"},"userinfo_encryption_enc_values_supported":{"type":"array","example":["A256CBC+HS512","A256GCM","A192GCM","A128GCM","A128CBC-HS256","A192CBC-HS384","A256CBC-HS512","A128CBC+HS256"],"items":{"type":"string"}},"id_token_encryption_enc_values_supported":{"type":"array","example":["A256CBC+HS512","A256GCM","A192GCM","A128GCM","A128CBC-HS256","A192CBC-HS384","A256CBC-HS512","A128CBC+HS256"],"items":{"type":"string"}},"authorization_endpoint":{"type":"string","description":"Authorization endpoint URL","format":"uri","example":"https://server.example.com/oidc/authorize"},"service_documentation":{"type":"string","description":"About endpoint URL","format":"uri","example":"https://server.example.com/oidc/about"},"request_object_encryption_enc_values_supported":{"type":"array","example":["A256CBC+HS512","A256GCM","A192GCM","A128GCM","A128CBC-HS256","A192CBC-HS384","A256CBC-HS512","A128CBC+HS256"],"items":{"type":"string"}},"userinfo_signing_alg_values_supported":{"type":"array","example":["HS256","HS384","HS512","RS256","RS384","RS512","ES256","ES384","ES512","PS256","PS384","PS512"],"items":{"type":"string"}},"claims_supported":{"type":"array","example":["sub","name","preferred_username","given_name","family_name","middle_name","nickname","profile","picture","website","gender","zoneinfo","locale","updated_at","birthdate","email","email_verified","phone_number","phone_number_verified","address"],"items":{"type":"string"}},"claim_types_supported":{"type":"array","example":["normal"],"items":{"type":"string"}},"op_policy_uri":{"type":"string","description":"OpenId Provider Policy URL","format":"uri","example":"https://server.example.com/oidc/about"},"token_endpoint_auth_methods_supported":{"type":"array","example":["client_secret_post","client_secret_basic","client_secret_jwt","private_key_jwt","none"],"items":{"type":"string"}},"token_endpoint":{"type":"string","description":"Token Endpoint URL","format":"uri","example":"https://server.example.com/oidc/token"},"response_types_supported":{"type":"array","example":["code","token"],"items":{"type":"string"}},"request_uri_parameter_supported":{"type":"boolean","example":true},"userinfo_encryption_alg_values_supported":{"type":"array","example":["RSA-OAEP","RSA-OAEP-256","RSA1_5"],"items":{"type":"string"}},"grant_types_supported":{"type":"array","example":["authorization_code","implicit","urn:ietf:params:oauth:grant-type:jwt-bearer","client_credentials","urn:ietf:params:oauth:grant_type:redelegate"],"items":{"type":"string"}},"revocation_endpoint":{"type":"string","description":"Token (access or refresh) Revoke Endpoint URL","format":"uri","example":"https://server.example.com/oidc/revoke"},"userinfo_endpoint":{"type":"string","description":"Userinfo Endpoint URL","format":"uri","example":"https://server.example.com/oidc/userinfo"},"token_endpoint_auth_signing_alg_values_supported":{"type":"array","example":["HS256","HS384","HS512","RS256","RS384","RS512","ES256","ES384","ES512","PS256","PS384","PS512"],"items":{"type":"string"}},"op_tos_uri":{"type":"string","format":"uri","example":"https://server.example.com/oidc/about"},"require_request_uri_registration":{"type":"boolean","example":false},"id_token_encryption_alg_values_supported":{"type":"array","example":["RSA-OAEP","RSA-OAEP-256","RSA1_5"],"items":{"type":"string"}},"jwks_uri":{"type":"string","description":"JWK URL","format":"uri","example":"https://server.example.com/oidc/jwk"},"subject_types_supported":{"type":"array","example":["public","pairwise"],"items":{"type":"string"}},"id_token_signing_alg_values_supported":{"type":"array","example":["HS256","HS384","HS512","RS256","RS384","RS512","ES256","ES384","ES512","PS256","PS384","PS512","none"],"items":{"type":"string"}},"registration_endpoint":{"type":"string","description":"Registration Wndpoint URL","format":"uri","example":"https://server.example.com/oidc/register"},"request_object_signing_alg_values_supported":{"type":"array","example":["HS256","HS384","HS512","RS256","RS384","RS512","ES256","ES384","ES512","PS256","PS384","PS512"],"items":{"type":"string"}},"request_object_encryption_alg_values_supported":{"type":"array","example":["RSA-OAEP","RSA-OAEP-256","RSA1_5"],"items":{"type":"string"}}},"description":"Well-Known Configuration Response"},"DeviceUserResponse":{"type":"object","properties":{"deviceCode":{"$ref":"#/components/schemas/DeviceCodeInfo"},"client":{"$ref":"#/components/schemas/ClientInfo"},"status":{"type":"string","enum":["APPROVED","DENIED","PENDING"]},"requestedScopes":{"type":"array","items":{"$ref":"#/components/schemas/SystemScope"}}}},"SystemScope":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"value":{"type":"string"},"description":{"type":"string","description":"human-readable description"},"icon":{"type":"string","description":"class of the icon to display on the auth page"},"defaultScope":{"type":"boolean","description":"is this a default scope for newly-registered clients?","default":false},"restricted":{"type":"boolean","description":"is this scope restricted to admin-only registration access?","default":false},"structured":{"type":"boolean","description":"is this a default scope for newly-registered clients?","default":false},"structuredParamDescription":{"type":"string"},"structuredValue":{"type":"string"}}},"DeviceCodeInfo":{"type":"object","properties":{"deviceCode":{"type":"string"},"userCode":{"type":"string"},"expiration":{"type":"string","format":"datetime"},"clientId":{"type":"string"},"approved":{"type":"boolean"},"scope":{"type":"array","description":"requested scopes","items":{"type":"string"}},"requestParameters":{"type":"object","additionalProperties":{"type":"string"},"description":"orginal request parameters"}}},"ClientInfo":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"isDynamicallyRegistered":{"type":"boolean"},"homeURI":{"type":"string"},"logoURI":{"type":"string"},"policyURI":{"type":"string"},"tosURI":{"type":"string"},"subjectType":{"type":"string"},"provisionedScopes":{"type":"array","description":"requested scopes","items":{"type":"string"}},"contacts":{"type":"array","description":"requested scopes","items":{"type":"string"}},"registeredAt":{"type":"string","format":"datetime"}}},"ClientConsentConfirmation":{"type":"object","properties":{"client":{"$ref":"#/components/schemas/ClientInfoForConsent"},"redirectUri":{"type":"string"},"claimsForScopes":{"$ref":"#/components/schemas/ClientConsentConfirmation_claimsForScopes"}}},"ClientInfoForConsent":{"type":"object","properties":{"id":{"type":"integer"},"clientName":{"type":"string"},"clientId":{"type":"string"},"clientDescription":{"type":"string"},"policyUri":{"type":"string"},"tosUri":{"type":"string"},"redirectUris":{"type":"array","description":"redirect uris","items":{"type":"string"}},"scope":{"type":"array","description":"redirect uris","items":{"type":"string"}},"createdAt":{"type":"string","format":"datetime"},"dynamicallyRegistered":{"type":"boolean"}}},"ClientConsentConfirmationResponse403":{"type":"object","properties":{"error":{"type":"string","example":"security-challenge-failed","enum":["security-challenge-failed"]},"error_description":{"type":"string","description":"Description of the error","example":"No consent confirmation available"}}},"UserClientConsentsResponseDTO":{"type":"object","properties":{"consents":{"type":"array","items":{"$ref":"#/components/schemas/ClientConsent"}}}},"ClientConsent":{"type":"object","properties":{"consent":{"type":"string","description":"Name of the scope (PII related)","example":"email"},"purpose":{"type":"string","description":"Reason for the collection of this PII","example":"need to send notification"},"retention":{"type":"string","description":"How long the consent will remain","example":"4 months"},"mandatory":{"type":"boolean","description":"Boolean value that determines if a user must accept or not","example":true},"customConsent":{"type":"string","description":"Consent is not managed by ULM","example":"consent"},"metadata":{"type":"object","additionalProperties":{"type":"object"},"description":"Useful for storing additional information (keypair)."}}},"JWKResponse":{"type":"object","properties":{"kty":{"type":"string","description":"Key type parameter for JWK.","example":"RSA"},"e":{"type":"string","description":"The \"e\" (exponent) parameter contains the exponent value for the RSA public key.  It is represented as a Base64urlUInt-encoded value.","example":"AQAB"},"use":{"type":"string","example":"sig"},"kid":{"type":"boolean","description":"key identifier","example":false},"alg":{"type":"string","description":"Header Parameter value defines algorithm specification for use with JWS","example":"RS256","enum":["HS256","HS384","HS512","RS256","RS384","RS512","ES256","ES384","ES512","PS256","PS384","PS512"]},"n":{"type":"string","description":"The \"n\" (modulus) parameter contains the modulus value for the RSA public key.  It is represented as a Base64urlUInt-encoded value.","example":"mEwhsnFjo8Jb8CC1PNAXlDvNAc9X93_IFkY3-Z6chjeTPiZDx0wPwPFMxZq3v_SA4luUjSFp2dI_flReGjua5X1-FJEmqK6KNcxwkKeDudy6ymPQ0wK9TWLM8J8321BhxvtMCkUPAqYjBDiYn64hgiSlCt2k5hz9-Yjo_u8Yd6GnnC_u_zE2iCV7EVsk12mBIPkN5wqdOrAs1gOMCL2QOcUPL5WCZok53BX-HHI_7Utca5niYU753SVWva58E-nJNoBObuusoNoouSjjL-5AjaOmwqgyNOR9mKXA_mK7rddesDbIOHyRlOTyZUX9zW2P8otWl5wKmowvoC8Uu0Wrew"}}},"DeviceCodeResponse200":{"required":["device_code","user_code","verification_uri"],"type":"object","properties":{"device_code":{"type":"string","description":"The device verification code.","example":"b8152b4e-941a-47e5-b1c3-3a84b597b057"},"user_code":{"type":"string","description":"The end-user verification code.","example":"VV75TT"},"verification_uri":{"type":"string","description":"The end-user verification URI on the authorization server.  The URI should be short and easy to remember as end users will be asked to manually type it into their user agent.","example":"https://some.telco.io/oidc/device"},"verification_uri_complete":{"type":"string","description":"A verification URI that includes the \"user_code\" (or other information with the same function as the \"user_code\"), which is designed for non-textual transmission."},"expires_in":{"type":"integer","description":"The lifetime in seconds of the device_code and user_code.","example":300},"interval":{"type":"integer","description":"The minimum amount of time in seconds that the client SHOULD wait between polling requests to the token endpoint.  If no value is provided, clients MUST use 5 as the default.","example":10},"ulm_details":{"$ref":"#/components/schemas/DeviceCodeResponse200UlmDetails"}}},"DeviceCodeResponse400":{"type":"object","properties":{"error":{"type":"string","example":"invalid_client","enum":["invalid_request","invalid_client","invalid_scope","invalid_token"]},"error_description":{"type":"string","description":"Description of the error","example":"Invalid client"}}},"DeviceUserResponse400":{"type":"object","properties":{"operationErrors":{"type":"array","items":{"$ref":"#/components/schemas/DeviceUserResponse400OperationErrors"}}}},"DeviceUserResponse401":{"type":"object","properties":{"operationErrors":{"type":"array","items":{"$ref":"#/components/schemas/DeviceUserResponse401OperationErrors"}}}},"DeviceUserResponse403":{"type":"object","properties":{"operationErrors":{"type":"array","items":{"$ref":"#/components/schemas/DeviceUserResponse403OperationErrors"}}}},"TokenRevokeResponse400":{"type":"object","properties":{"error":{"type":"string","example":"invalid_request","enum":["invalid_request"]},"error_description":{"type":"string","description":"Description of the error","example":"Required String parameter 'token' is not present"}}},"AuthorizeResponse400":{"type":"object","properties":{"error":{"type":"string","example":"invalid_client","enum":["invalid_client","invalid_request","invalid_scope","unsupported_response_type","invalid_grant"]},"error_description":{"type":"string","description":"Description of the error","example":"Required String parameter 'token' is not present"}}},"IntrospectResponse400":{"type":"object","properties":{"error":{"type":"string","example":"invalid_request","enum":["invalid_request"]},"error_description":{"type":"string","description":"Description of the error","example":"Required String parameter 'token' is not present"}}},"TokenRevokeResponse401":{"type":"object","properties":{"error":{"type":"string","example":"invalid_client","enum":["invalid_client"]},"error_description":{"type":"string","description":"Description of the error","example":"Bad client credentials"}}},"IntrospectResponse401":{"type":"object","properties":{"error":{"type":"string","example":"invalid_client","enum":["invalid_client"]},"error_description":{"type":"string","description":"Description of the error","example":"Bad client credentials"}}},"IntrospectResponse403":{"type":"object","properties":{"error":{"type":"string","example":"access_denied","enum":["access_denied"]},"error_description":{"type":"string","description":"Description of the error","example":"Client [rpId] is not allowed to call introspection endpoint"}}},"UserInfoResponse400":{"type":"object","properties":{"error":{"type":"string","example":"invalid_client","enum":["invalid_request","invalid_client","unauthorized_client","invalid_token","expired_token"]},"error_description":{"type":"string","description":"Description of the error","example":"Invalid client [XXX]"}}},"JWKResponse200":{"type":"object","properties":{"keys":{"type":"array","items":{"$ref":"#/components/schemas/JWKResponse"}}}},"DeviceCodeResponse200UlmDetails":{"type":"object","properties":{"notification_type":{"type":"string","description":"The type of device code notification that was sent","example":"EMAIL"},"notification_dest":{"type":"string","description":"The destination to which the device code notification was sent","example":"p***i@gmail.com"}},"description":"A set of key/value pairs useful for storing additional information."},"DeviceUserResponse400OperationErrors":{"type":"object","properties":{"code":{"type":"string","enum":["user_code_missing","user_code_expired","user_code_already_approved","user_code_session_mismatch","MISSING_SERVLET_REQUEST_PARAMETER","TYPE_MISMATCH"]},"message":{"type":"string","example":"Invalid user code"}}},"DeviceUserResponse401OperationErrors":{"type":"object","properties":{"code":{"type":"string","enum":["INVALID_REQUEST"]},"message":{"type":"string","example":"Client not found"}}},"DeviceUserResponse403OperationErrors":{"type":"object","properties":{"code":{"type":"string","enum":["ACCESS_FORBIDDEN","forbidden"]},"message":{"type":"string","example":"Access is denied"}}},"ClientConsentConfirmation_claimsForScopes":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/MapOfScope"},"example":{"profile":{"name":"Father User","locale":"en","picture":"/static/img/user-avatars/avatar01_small.png"},"email":{"email_verified":true,"email":"father@operator.com","claimConsentInfo":{"purpose":"need to send notification","icon":"envelope","description":"email addres","mandatory":true,"retention":"4 months"}}}},"MapOfScope":{"type":"object","additionalProperties":{}},"RevokeClientConsentResponse404Error":{"type":"object","properties":{"operationErrors":{"type":"array","items":{"$ref":"#/components/schemas/RevokeClientConsentResponse404OperationErrors"}}}},"RevokeClientConsentResponse404OperationErrors":{"type":"object","properties":{"code":{"type":"string","enum":["consent-not-found"]},"message":{"type":"string","example":"Consent not found"}}},"ClientConsentsResponse401":{"type":"object","properties":{"error":{"type":"string","example":"invalid_client","enum":["invalid_client","unauthorized"]},"error_description":{"type":"string","description":"Description of the error","example":"Bad client credentials"}}},"ClientConsentsResponse403":{"type":"object","properties":{"error":{"type":"string","example":"access_denied","enum":["access_denied"]},"error_description":{"type":"string","description":"Description of the error","example":"Access is denied"}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"},"user-session-cookie":{"type":"apiKey","name":"JSESSIONID","in":"cookie"},"basic-query-params":{"type":"http","description":"Authentication using query parameters","scheme":"basic"},"form-urlencoded-params":{"type":"http","description":"Authentication using url-encoded post form parameters","scheme":"basic"},"basic-authz":{"type":"http","description":"Authentication Basic {clientid:secret base64encoded}","scheme":"basic"}}}}