{
    "openapi": "3.1.0",
    "info": {
        "title": "Transaction Service",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api-integration.pxp-solutions.net/transactionservice"
        }
    ],
    "components": {
        "securitySchemes": {
            "sec0": {
                "type": "http",
                "scheme": "basic"
            }
        }
    },
    "security": [
        {
            "sec0": []
        }
    ],
    "paths": {
        "/api/v5/transactions/03379763-2E9A-4AB8-9E0F-ED8C39614FCF": {
            "get": {
                "summary": "Token Transaction Status",
                "description": "This Service is used to for Card / APM processing.\n\nThis request type can be used to get the transaction status and details using the id (Token) recieved from a previous transaction.",
                "operationId": "get-details-of-a-transaction-using-a-tokenid",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "schema": {
                            "type": "string",
                            "default": "Basic QkREVGVzdDpCRERUZXN0"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Authorised": {
                                        "value": "{\n    \"id\": \"03379763-2e9a-4ab8-9e0f-ed8c39614fcf\",\n    \"state\": \"Authorised\",\n    \"providerStateCode\": \"000\",\n    \"providerStateMessage\": null,\n    \"currencyCode\": \"USD\",\n    \"transactionAmount\": 10,\n    \"cardType\": \"card.visa\",\n    \"type\": \"ecom.sale\",\n    \"transactionDateTime\": \"2018-02-16T14:55:41.777\",\n    \"accountDetails\": {\n        \"cardNumber\": \"444433******1111\",\n        \"cardTokenizedNumber\": \"9997000000005071111\",\n        \"isVisaCheckout\": null,\n        \"cardExpiryYear\": 49,\n        \"cardExpiryMonth\": 12\n    },\n    \"details\": {\n        \"providerMerchantId\": \"542929008043127\",\n        \"providerTerminalId\": \"00630376\"\n    },\n    \"stateDetails\": {\n        \"approvalCode\": \"06287A\"\n    },\n    \"cardSecurityResponseCode\": null,\n    \"addressVerificationResponseCode\": null\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "03379763-2e9a-4ab8-9e0f-ed8c39614fcf"
                                        },
                                        "state": {
                                            "type": "string",
                                            "example": "Authorised"
                                        },
                                        "providerStateCode": {
                                            "type": "string",
                                            "example": "000"
                                        },
                                        "providerStateMessage": {},
                                        "currencyCode": {
                                            "type": "string",
                                            "example": "USD"
                                        },
                                        "transactionAmount": {
                                            "type": "integer",
                                            "example": 10,
                                            "default": 0
                                        },
                                        "cardType": {
                                            "type": "string",
                                            "example": "card.visa"
                                        },
                                        "type": {
                                            "type": "string",
                                            "example": "ecom.sale"
                                        },
                                        "transactionDateTime": {
                                            "type": "string",
                                            "example": "2018-02-16T14:55:41.777"
                                        },
                                        "accountDetails": {
                                            "type": "object",
                                            "properties": {
                                                "cardNumber": {
                                                    "type": "string",
                                                    "example": "444433******1111"
                                                },
                                                "cardTokenizedNumber": {
                                                    "type": "string",
                                                    "example": "9997000000005071111"
                                                },
                                                "isVisaCheckout": {},
                                                "cardExpiryYear": {
                                                    "type": "integer",
                                                    "example": 49,
                                                    "default": 0
                                                },
                                                "cardExpiryMonth": {
                                                    "type": "integer",
                                                    "example": 12,
                                                    "default": 0
                                                }
                                            }
                                        },
                                        "details": {
                                            "type": "object",
                                            "properties": {
                                                "providerMerchantId": {
                                                    "type": "string",
                                                    "example": "542929008043127"
                                                },
                                                "providerTerminalId": {
                                                    "type": "string",
                                                    "example": "00630376"
                                                }
                                            }
                                        },
                                        "stateDetails": {
                                            "type": "object",
                                            "properties": {
                                                "approvalCode": {
                                                    "type": "string",
                                                    "example": "06287A"
                                                }
                                            }
                                        },
                                        "cardSecurityResponseCode": {},
                                        "addressVerificationResponseCode": {}
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": []
            }
        },
        "/api/v5/transactions?merchantId={merchantId}&clientSystemTransactionId={clientSystemTransactionId}&clientSystemInvoiceId={clientSystemInvoiceId}&optionalResponseFields={clientSystemTransactionId}&optionalResponseFields={ProviderCvvAndAvsResult}": {
            "get": {
                "summary": "TransactionReference Transaction Status",
                "description": "This Service is used to for Card / APM processing.\n\nThis request type can be used to get the transaction status and details using the Transaction reference (clientSystemTransactionId or clientSystemInvoiceId) supplied in the original transaction request. The response will be an array of responses, as more than one transaction could use the same clientSystemInvoiceId",
                "operationId": "get-details-of-a-transaction-using-a-transactionreference",
                "parameters": [
                    {
                        "name": "merchantId",
                        "in": "path",
                        "schema": {
                            "type": "string",
                            "default": "BDD"
                        },
                        "required": true
                    },
                    {
                        "name": "clientSystemTransactionId",
                        "in": "path",
                        "schema": {
                            "type": "string",
                            "default": "12345"
                        },
                        "required": true
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "schema": {
                            "type": "string",
                            "default": "Basic QkREVGVzdDpCRERUZXN0"
                        }
                    },
                    {
                        "name": "optionalResponseFields",
                        "in": "path",
                        "description": "(This paremeter can be optionally sent in multiple times, with the possible values listed below)",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Authorised": {
                                        "value": "[\n    {\n        \"id\": \"03379763-2e9a-4ab8-9e0f-ed8c39614fcf\",\n        \"state\": \"Authorised\",\n        \"providerStateCode\": \"000\",\n        \"providerStateMessage\": null,\n        \"currencyCode\": \"USD\",\n        \"transactionAmount\": 10,\n        \"cardType\": \"card.visa\",\n        \"type\": \"ecom.sale\",\n        \"transactionDateTime\": \"2018-02-16T14:55:41.777\",\n        \"accountDetails\": {\n            \"cardNumber\": \"444433******1111\",\n            \"cardTokenizedNumber\": \"9997000000005071111\",\n            \"isVisaCheckout\": null,\n            \"cardExpiryYear\": 49,\n            \"cardExpiryMonth\": 12\n        },\n        \"details\": {\n            \"providerMerchantId\": \"542929008043127\",\n            \"providerTerminalId\": \"00630376\"\n        },\n        \"stateDetails\": {\n            \"approvalCode\": \"06287A\"\n        },\n        \"cardSecurityResponseCode\": null,\n        \"addressVerificationResponseCode\": null\n    }\n]"
                                    }
                                },
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "example": "03379763-2e9a-4ab8-9e0f-ed8c39614fcf"
                                            },
                                            "state": {
                                                "type": "string",
                                                "example": "Authorised"
                                            },
                                            "providerStateCode": {
                                                "type": "string",
                                                "example": "000"
                                            },
                                            "providerStateMessage": {},
                                            "currencyCode": {
                                                "type": "string",
                                                "example": "USD"
                                            },
                                            "transactionAmount": {
                                                "type": "integer",
                                                "example": 10,
                                                "default": 0
                                            },
                                            "cardType": {
                                                "type": "string",
                                                "example": "card.visa"
                                            },
                                            "type": {
                                                "type": "string",
                                                "example": "ecom.sale"
                                            },
                                            "transactionDateTime": {
                                                "type": "string",
                                                "example": "2018-02-16T14:55:41.777"
                                            },
                                            "accountDetails": {
                                                "type": "object",
                                                "properties": {
                                                    "cardNumber": {
                                                        "type": "string",
                                                        "example": "444433******1111"
                                                    },
                                                    "cardTokenizedNumber": {
                                                        "type": "string",
                                                        "example": "9997000000005071111"
                                                    },
                                                    "isVisaCheckout": {},
                                                    "cardExpiryYear": {
                                                        "type": "integer",
                                                        "example": 49,
                                                        "default": 0
                                                    },
                                                    "cardExpiryMonth": {
                                                        "type": "integer",
                                                        "example": 12,
                                                        "default": 0
                                                    }
                                                }
                                            },
                                            "details": {
                                                "type": "object",
                                                "properties": {
                                                    "providerMerchantId": {
                                                        "type": "string",
                                                        "example": "542929008043127"
                                                    },
                                                    "providerTerminalId": {
                                                        "type": "string",
                                                        "example": "00630376"
                                                    }
                                                }
                                            },
                                            "stateDetails": {
                                                "type": "object",
                                                "properties": {
                                                    "approvalCode": {
                                                        "type": "string",
                                                        "example": "06287A"
                                                    }
                                                }
                                            },
                                            "cardSecurityResponseCode": {},
                                            "addressVerificationResponseCode": {}
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": []
            }
        },
        "/api/v5/transactions?merchantId={merchantId}&clientSystemTransactionId={clientSystemTransactionId}&singleUseTokenId={singleUseTokenId}&optionalResponseFields={clientSystemTransactionId}&optionalResponseFields={clientSystemInvoiceId}": {
            "get": {
                "summary": "SingleUseToken Transaction Status",
                "description": "This Service is used to for Card / APM processing.\n\nThis request type can be used to get the transaction status and details using the Transaction reference (clientSystemTransactionId or clientSystemInvoiceId) and optionally narroring down to a specific Single Use Token (singleUseTokenId) supplied in the original transaction request.\n\nNote: If singleUseTokenId is NOT provided, then the response will be an array of responses.",
                "operationId": "get-details-of-a-transaction-using-a-singleusetoken",
                "parameters": [
                    {
                        "name": "merchantId",
                        "in": "path",
                        "schema": {
                            "type": "string",
                            "default": "BDD"
                        },
                        "required": true
                    },
                    {
                        "name": "clientSystemTransactionId",
                        "in": "path",
                        "schema": {
                            "type": "string",
                            "default": "12345"
                        },
                        "required": true
                    },
                    {
                        "name": "singleUseTokenId",
                        "in": "path",
                        "schema": {
                            "type": "string",
                            "default": "03379763-2E9A-4AB8-9E0F-ED8C39614FCF"
                        },
                        "required": true
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "schema": {
                            "type": "string",
                            "default": "Basic QkREVGVzdDpCRERUZXN0"
                        }
                    },
                    {
                        "name": "optionalResponseFields",
                        "in": "path",
                        "description": "(This paremeter can be optionally sent in multiple times, with the possible values listed below)",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Authorised (With singleUseToken provided in request)": {
                                        "value": "{\n    \"id\": \"03379763-2e9a-4ab8-9e0f-ed8c39614fcf\",\n    \"state\": \"Authorised\",\n    \"providerStateCode\": \"000\",\n    \"providerStateMessage\": null,\n    \"currencyCode\": \"GBP\",\n    \"transactionAmount\": 35.0000,\n    \"cardType\": \"card.visa\",\n    \"type\": \"internet.sale\",\n    \"transactionDateTime\": \"2018-02-16T14:55:41.777\",\n    \"accountDetails\": {\n        \"cardNumber\": \"444433******1111\",\n        \"cardTokenizedNumber\": \"9997000000005071111\",\n        \"isVisaCheckout\": null,\n        \"cardExpiryYear\": 49,\n        \"cardExpiryMonth\": 12\n    },\n    \"details\": {\n        \"providerMerchantId\": \"542929008043127\",\n        \"providerTerminalId\": \"00630376\"\n    },\n    \"stateDetails\": {\n        \"approvalCode\": \"06287A\"\n    },\n    \"threeDSecureDetails\": null,\n    \"cardSecurityResponseCode\": null,\n    \"addressVerificationResponseCode\": null\n}"
                                    },
                                    "Authorised (With singleUseToken NOT provided in request)": {
                                        "value": "[\n  {\n    \"id\": \"03379763-2e9a-4ab8-9e0f-ed8c39614fcf\",\n    \"state\": \"Authorised\",\n    \"providerStateCode\": \"000\",\n    \"providerStateMessage\": null,\n    \"currencyCode\": \"GBP\",\n    \"transactionAmount\": 35.0000,\n    \"cardType\": \"card.visa\",\n    \"type\": \"internet.sale\",\n    \"transactionDateTime\": \"2018-02-16T14:55:41.777\",\n    \"accountDetails\": {\n        \"cardNumber\": \"444433******1111\",\n        \"cardTokenizedNumber\": \"9997000000005071111\",\n        \"isVisaCheckout\": null,\n        \"cardExpiryYear\": 49,\n        \"cardExpiryMonth\": 12\n    },\n    \"details\": {\n        \"providerMerchantId\": \"542929008043127\",\n        \"providerTerminalId\": \"00630376\"\n    },\n    \"stateDetails\": {\n        \"approvalCode\": \"06287A\"\n    },\n    \"threeDSecureDetails\": null\n}\n]\n"
                                    }
                                },
                                "schema": {
                                    "oneOf": [
                                        {
                                            "title": "Authorised (With singleUseToken provided in request)",
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "03379763-2e9a-4ab8-9e0f-ed8c39614fcf"
                                                },
                                                "state": {
                                                    "type": "string",
                                                    "example": "Authorised"
                                                },
                                                "providerStateCode": {
                                                    "type": "string",
                                                    "example": "000"
                                                },
                                                "providerStateMessage": {},
                                                "currencyCode": {
                                                    "type": "string",
                                                    "example": "GBP"
                                                },
                                                "transactionAmount": {
                                                    "type": "integer",
                                                    "example": 35,
                                                    "default": 0
                                                },
                                                "cardType": {
                                                    "type": "string",
                                                    "example": "card.visa"
                                                },
                                                "type": {
                                                    "type": "string",
                                                    "example": "internet.sale"
                                                },
                                                "transactionDateTime": {
                                                    "type": "string",
                                                    "example": "2018-02-16T14:55:41.777"
                                                },
                                                "accountDetails": {
                                                    "type": "object",
                                                    "properties": {
                                                        "cardNumber": {
                                                            "type": "string",
                                                            "example": "444433******1111"
                                                        },
                                                        "cardTokenizedNumber": {
                                                            "type": "string",
                                                            "example": "9997000000005071111"
                                                        },
                                                        "isVisaCheckout": {},
                                                        "cardExpiryYear": {
                                                            "type": "integer",
                                                            "example": 49,
                                                            "default": 0
                                                        },
                                                        "cardExpiryMonth": {
                                                            "type": "integer",
                                                            "example": 12,
                                                            "default": 0
                                                        }
                                                    }
                                                },
                                                "details": {
                                                    "type": "object",
                                                    "properties": {
                                                        "providerMerchantId": {
                                                            "type": "string",
                                                            "example": "542929008043127"
                                                        },
                                                        "providerTerminalId": {
                                                            "type": "string",
                                                            "example": "00630376"
                                                        }
                                                    }
                                                },
                                                "stateDetails": {
                                                    "type": "object",
                                                    "properties": {
                                                        "approvalCode": {
                                                            "type": "string",
                                                            "example": "06287A"
                                                        }
                                                    }
                                                },
                                                "threeDSecureDetails": {},
                                                "cardSecurityResponseCode": {},
                                                "addressVerificationResponseCode": {}
                                            }
                                        },
                                        {
                                            "title": "Authorised (With singleUseToken NOT provided in request)",
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "example": "03379763-2e9a-4ab8-9e0f-ed8c39614fcf"
                                                    },
                                                    "state": {
                                                        "type": "string",
                                                        "example": "Authorised"
                                                    },
                                                    "providerStateCode": {
                                                        "type": "string",
                                                        "example": "000"
                                                    },
                                                    "providerStateMessage": {},
                                                    "currencyCode": {
                                                        "type": "string",
                                                        "example": "GBP"
                                                    },
                                                    "transactionAmount": {
                                                        "type": "integer",
                                                        "example": 35,
                                                        "default": 0
                                                    },
                                                    "cardType": {
                                                        "type": "string",
                                                        "example": "card.visa"
                                                    },
                                                    "type": {
                                                        "type": "string",
                                                        "example": "internet.sale"
                                                    },
                                                    "transactionDateTime": {
                                                        "type": "string",
                                                        "example": "2018-02-16T14:55:41.777"
                                                    },
                                                    "accountDetails": {
                                                        "type": "object",
                                                        "properties": {
                                                            "cardNumber": {
                                                                "type": "string",
                                                                "example": "444433******1111"
                                                            },
                                                            "cardTokenizedNumber": {
                                                                "type": "string",
                                                                "example": "9997000000005071111"
                                                            },
                                                            "isVisaCheckout": {},
                                                            "cardExpiryYear": {
                                                                "type": "integer",
                                                                "example": 49,
                                                                "default": 0
                                                            },
                                                            "cardExpiryMonth": {
                                                                "type": "integer",
                                                                "example": 12,
                                                                "default": 0
                                                            }
                                                        }
                                                    },
                                                    "details": {
                                                        "type": "object",
                                                        "properties": {
                                                            "providerMerchantId": {
                                                                "type": "string",
                                                                "example": "542929008043127"
                                                            },
                                                            "providerTerminalId": {
                                                                "type": "string",
                                                                "example": "00630376"
                                                            }
                                                        }
                                                    },
                                                    "stateDetails": {
                                                        "type": "object",
                                                        "properties": {
                                                            "approvalCode": {
                                                                "type": "string",
                                                                "example": "06287A"
                                                            }
                                                        }
                                                    },
                                                    "threeDSecureDetails": {}
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400",
                        "content": {
                            "text/plain": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": []
            }
        },
        "/api/v5/apmTransactions": {
            "post": {
                "summary": "Alternative Payment Method (APM) Transaction",
                "description": "This Service is used to for Card / APM processing.\n\nThis request type can be used to process supported APMs transactions.",
                "operationId": "processing-a-transaction-using-an-alternative-payment-method",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "schema": {
                            "type": "string",
                            "default": "Basic QkREVGVzdDpCRERUZXN0"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "schema": {
                            "type": "string",
                            "default": "application/json"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "merchantId",
                                    "storeId",
                                    "userId",
                                    "type",
                                    "amount",
                                    "currencyCode",
                                    "clientSystemTransactionId"
                                ],
                                "properties": {
                                    "merchantId": {
                                        "type": "string",
                                        "description": "[Length=3] This is the customer code, a unique customer ID allocated to a customer when the service is set up"
                                    },
                                    "storeId": {
                                        "type": "string",
                                        "description": "[Length=12] This is the site identifier, a unique site ID allocated to a customer when the service is set up"
                                    },
                                    "userId": {
                                        "type": "string",
                                        "description": "[Length<=50] This is a username allocated to a service user when the service is set up; it refers to a service account not a person"
                                    },
                                    "type": {
                                        "type": "string",
                                        "description": "This is a combination of how the card was captured and transaction type of the transaction. i.e. mailorder.sale, internet.preAuthorization. Refer to Type under Elements"
                                    },
                                    "amount": {
                                        "type": "string",
                                        "description": "This is the monetary value of the transaction in minor units"
                                    },
                                    "currencyCode": {
                                        "type": "string",
                                        "description": "[Length=3] This is the currency of the transaction.  This is the currency code. A three character code in accordance with ISO 4217"
                                    },
                                    "clientSystemTransactionId": {
                                        "type": "string",
                                        "description": "[Length<=50] This is the merchant's own unique reference for the transaction"
                                    },
                                    "clientSystemInvoiceId": {
                                        "type": "string",
                                        "description": "[Length<=50] Required for AliPay/Wechat/Klarna, this is the clientSystemTransactionId from the original transaction"
                                    },
                                    "providerDiscretionaryData": {
                                        "type": "string",
                                        "description": "[Length<=50] This is the merchant's external facing order number with the consumer, which if supported, will be passed to the Provider as an additional descriptor."
                                    },
                                    "apmDetails": {
                                        "properties": {
                                            "apmProviderName": {
                                                "type": "string",
                                                "description": "This is the alternative payment method provider name. Refer to APM Providers under Elements"
                                            },
                                            "apmPayerAccountNumber": {
                                                "type": "string",
                                                "description": "[Length<=50] This is the unique account number of the payer for the chosen alternative payment method provider"
                                            },
                                            "apmPayerEmailAddress": {
                                                "type": "string",
                                                "description": "[Length<=255] This is the e-mail address of the payer for the chosen alternative payment method provider"
                                            },
                                            "apmBarQrCode": {
                                                "type": "string",
                                                "description": "[Length<=128] Required for AliPay/Wechat Sale transactions, this is the Bar or QR code scanned by the merchant device"
                                            },
                                            "apmOriginalAmount": {
                                                "type": "string",
                                                "description": "Required for AliPay/Wechat Refunds, this is the monetary value of the original transaction in minor units"
                                            },
                                            "apmProviderTransactionId": {
                                                "type": "string",
                                                "description": "[Length<=32] Required for AliPay/Wechat Refunds, this contains the Provider Transaction Id from the original transaction being refunded"
                                            },
                                            "apmScheme": {
                                                "type": "string",
                                                "description": "[Length<=6] Required for AliPay/Wechat Refunds"
                                            }
                                        },
                                        "required": [
                                            "apmProviderName",
                                            "apmPayerAccountNumber",
                                            "apmPayerEmailAddress",
                                            "apmBarQrCode",
                                            "apmOriginalAmount",
                                            "apmProviderTransactionId"
                                        ],
                                        "type": "object"
                                    },
                                    "details": {
                                        "properties": {
                                            "providerMerchantId": {
                                                "type": "string",
                                                "description": "[Length<=20] Optional for AliPay/Wechat, this is the Merchant Id that will be used when requesting authorization through the acquirer."
                                            }
                                        },
                                        "required": [],
                                        "type": "object"
                                    },
                                    "shoppingCartDetails": {
                                        "properties": {
                                            "itemDetails": {
                                                "properties": {
                                                    "item": {
                                                        "properties": {
                                                            "productId": {
                                                                "type": "string",
                                                                "description": "[Length<=64] This is the client facing article number, SKU or similar.  <br><b>Optional for Klarna</b>"
                                                            },
                                                            "productName": {
                                                                "type": "string",
                                                                "description": "[Length<=100] This is the merchant's descriptive product name for the item line <br><b>Optional for Klarna</b>"
                                                            },
                                                            "productDescription": {
                                                                "type": "string",
                                                                "description": "[Length<=100] This is the merchant's product description for the item line <br><b>Optional for Klarna</b>"
                                                            },
                                                            "productType": {
                                                                "type": "string",
                                                                "description": "This is the type of product being sold for the item line<br>Supported values are \"physical\", \"digital\", \"giftCard\", \"surcharge\" <br><b>Optional for Klarna</b>"
                                                            },
                                                            "productQuantity": {
                                                                "type": "integer",
                                                                "description": "[Length<=4] This is the quantity for the item line. Allowed values are 1-9999 <br><b>Optional for Klarna</b>",
                                                                "format": "int32"
                                                            },
                                                            "unitAmount": {
                                                                "type": "string",
                                                                "description": "This is the monetary value (Gross Amount) in minor units for the item line. <br><b>Must include tax if applicable, but exclude any discount</b> <br><b>Optional for Klarna</b>"
                                                            },
                                                            "unitTaxAmount": {
                                                                "type": "string",
                                                                "description": "This is the monetary value of the tax amount in minor units for the item line.  <br>(Example: If the unitAmount is 20.00 and taxRate is 20%, then the unitTaxAmount would be 3.33 ) (((unitAmount/1.taxRate) - unitAmount) * -1) <br>Required if taxRate > 0 and unitAmount > 0<br><b>Conditional for Klarna</b>"
                                                            },
                                                            "taxRate": {
                                                                "type": "string",
                                                                "description": "[Length<=5] This is the tax rate that that is being applied to the unitAmount for the item line.  <br>(Example: VAT of 20% would mean a value of 20 being supplied)  <br>If no tax applies, then send 0 or do not include this element <br><b>Conditional - Required if item.unitTaxAmount is supplied</b>"
                                                            },
                                                            "totalAmount": {
                                                                "type": "string",
                                                                "description": "This is the monetary value of the total amount in minor units for the item line. ((unitAmount x productQuantity) - discountAmount)  <br><b>Must include tax and any discount if applicable</b> <br>(Example: If the unitAmount is 34.00, productQuantity is 2 and discountAmount is 5.00, then the totalAmount would be 63.00) <br><b>Optional for Klarna</b>"
                                                            },
                                                            "totalTaxAmount": {
                                                                "type": "string",
                                                                "description": "This is the monetary value of the total tax amount in minor units for the item line. (totalAmount/1.taxRate) - totalAmount) * -1) <br>(Example: If the totalAmount is 63.00 and taxRate is 20%, then the totalTaxAmount would be 10.50 ) (((totalAmount/1.taxRate) - totalAmount) * -1) <br>Required if taxRate > 0"
                                                            },
                                                            "discountAmount": {
                                                                "type": "string",
                                                                "description": "This is the non-negative monetary value of the discount amount in minor units for the item line. <br><b>Optional for Klarna</b>"
                                                            },
                                                            "discountName": {
                                                                "type": "string",
                                                                "description": "[Length<=100] This is the name of the discount or promotion being used for the item line. <br>Required if item.discountAmount > 0"
                                                            },
                                                            "discountTaxAmount": {
                                                                "type": "string",
                                                                "description": "This is the tax amount of the discount or promotion being used for the item line. <br>(Example: If the discountAmount is 5.00 and taxRate is 20%, then the discountTaxAmount would be 0.83 ) (((discountAmount/1.taxRate) - discountAmount) * -1) <br>Required if taxRate > 0 and discountAmount > 0"
                                                            }
                                                        },
                                                        "required": [],
                                                        "type": "object"
                                                    }
                                                },
                                                "required": [],
                                                "type": "object"
                                            },
                                            "shippingDetails": {
                                                "properties": {
                                                    "shippingName": {
                                                        "type": "string",
                                                        "description": "[Length<=100] This is the name of the Shipping service for the order (Example: DHL 24hr Next Day Express)<br>Required if shippingAmount > 0"
                                                    },
                                                    "shippingAmount": {
                                                        "type": "string",
                                                        "description": "This is the monetary value of the total shipping amount in minor units for the entire order."
                                                    },
                                                    "shippingTaxAmount": {
                                                        "type": "string",
                                                        "description": "This is the monetary value of the total shipping amount in minor units for the item line. (totalAmount * taxRate / 100) <br>(Example: If the shippingAmount is 5.00 and taxRate is 20%, then the shippingAmount would be 0.83 ) (((shippingAmount/1.taxRate) - shippingAmount) * -1) <br>Required if shippingTaxRate > 0 and shippingAmount > 0"
                                                    },
                                                    "shippingTaxRate": {
                                                        "type": "string",
                                                        "description": "[Length<=5] This is the tax rate that that is being applied to the shippingAmount for the entire order.  <br>(Example: VAT of 20% would mean a value of 20 being supplied)"
                                                    }
                                                },
                                                "required": [],
                                                "type": "object"
                                            },
                                            "discountDetails": {
                                                "properties": {
                                                    "discount": {
                                                        "properties": {
                                                            "discountAmount": {
                                                                "type": "string",
                                                                "description": "This is the non-negative monetary value of the discount amount in minor units for the entire order. <br><b>Optional for Klarna</b>"
                                                            },
                                                            "discountType": {
                                                                "type": "string",
                                                                "description": "This is the Type of the discount or promotion being used for the entire order. <br>Accepted values are discount, storeCredit and giftCard <br><b>Conditional - Required if discountDetails.discount.discountAmount is supplied</b>"
                                                            },
                                                            "discountName": {
                                                                "type": "string",
                                                                "description": "[Length<=100] This is the Name of the discount or promotion being used for the entire order. <br><b>Conditional - Required if discountDetails.discount.discountAmount is supplied</b>"
                                                            }
                                                        },
                                                        "required": [],
                                                        "type": "object"
                                                    }
                                                },
                                                "required": [],
                                                "type": "object"
                                            },
                                            "totaltaxAmount": {
                                                "type": "string",
                                                "description": "This is the monetary value of the total tax amount in minor units for the entire order, including any shipping tax. <br>Sum of all itemDetails.item.totalTaxAmount already calculated at a per line level plus shippingTaxAmount) <br>Required if taxRate > 0 or shippingTaxRate > 0"
                                            }
                                        },
                                        "required": [],
                                        "type": "object"
                                    }
                                }
                            },
                            "examples": {
                                "Paypal (Refund)": {
                                    "value": {
                                        "merchantId": "BDD",
                                        "storeId": "BDD500000005",
                                        "userId": "BDDTest",
                                        "type": "ecom.refund",
                                        "amount": "10.00",
                                        "currencyCode": "GBP",
                                        "clientSystemTransactionId": "UniqueTransactionRef01",
                                        "apmDetails": {
                                            "apmProviderName": "Paypal",
                                            "apmPayerAccountNumber": "1ABCDEFGHIJKL",
                                            "apmPayerEmailAddress": "joe_bloggs@testdomain.com"
                                        }
                                    }
                                },
                                "Alipay/Wechat (Refund)": {
                                    "value": {
                                        "merchantId": "BDD",
                                        "storeId": "BDD500000005",
                                        "userId": "BDDTest",
                                        "type": "ecom.refund",
                                        "amount": "10.00",
                                        "currencyCode": "GBP",
                                        "clientSystemTransactionId": "UniqueTransactionRef01",
                                        "clientSystemInvoiceId": "UniqueGroupTransactionRef01",
                                        "apmDetails": {
                                            "apmProviderName": "Europass",
                                            "apmBarQrCode": "5453535355665465644778999979799",
                                            "apmOriginalAmount": "9.00",
                                            "apmProviderTransactionId": "123456789",
                                            "apmScheme": "Alipay"
                                        },
                                        "details": {
                                            "ProviderMerchantId": "7623204161"
                                        }
                                    }
                                },
                                "Klarna (Capture)": {
                                    "value": {
                                        "merchantId": "BDD",
                                        "storeId": "BDD500000005",
                                        "userId": "BDDTest",
                                        "type": "ecom.capture",
                                        "amount": "112.61",
                                        "currencyCode": "GBP",
                                        "clientSystemInvoiceId": "UniqueTransactionRef1",
                                        "clientSystemTransactionId": "UniqueTransactionRef1-capture",
                                        "apmDetails": {
                                            "apmProviderName": "klarna"
                                        },
                                        "shoppingCartDetails": {
                                            "itemDetails": [
                                                {
                                                    "productId": "ABC001",
                                                    "productName": "Blue Jeans",
                                                    "productDescription": "Stone Washed",
                                                    "productType": "physical",
                                                    "productQuantity": "1",
                                                    "unitAmount": "45.00",
                                                    "taxRate": "20.00",
                                                    "unitTaxAmount": "7.50",
                                                    "discountName": "10% Off Jeans",
                                                    "discountAmount": "4.50",
                                                    "discountTaxAmount": "0.75",
                                                    "totalAmount": "40.50",
                                                    "totalTaxAmount": "6.75"
                                                },
                                                {
                                                    "productId": "ABC002",
                                                    "productName": "Wooly Jumper",
                                                    "productDescription": "Black Cashmere",
                                                    "productType": "physical",
                                                    "productQuantity": "2",
                                                    "unitAmount": "34.00",
                                                    "taxRate": "20.00",
                                                    "unitTaxAmount": "5.67",
                                                    "discountName": "15% off Jumpers",
                                                    "discountAmount": "2.27",
                                                    "discountTaxAmount": "0.38",
                                                    "totalAmount": "65.73",
                                                    "totalTaxAmount": "10.96"
                                                },
                                                {
                                                    "productId": "ABC003",
                                                    "productName": "Kids T Shirt",
                                                    "productDescription": "White - Cartoon Print",
                                                    "productType": "physical",
                                                    "productQuantity": "1",
                                                    "unitAmount": "15.00",
                                                    "taxRate": "0",
                                                    "unitTaxAmount": "0",
                                                    "discountName": null,
                                                    "discountAmount": "0",
                                                    "discountTaxAmount": "0",
                                                    "totalAmount": "15.00",
                                                    "totalTaxAmount": "0"
                                                }
                                            ],
                                            "shippingDetails": {
                                                "shippingName": "DHL Next Day Express",
                                                "shippingAmount": "5.00",
                                                "shippingTaxAmount": "0.83",
                                                "shippingTaxRate": "20.00"
                                            },
                                            "discountDetails": [
                                                {
                                                    "discountName": "5% Loyalty Discount",
                                                    "discountType": "discount",
                                                    "discountAmount": "12.62"
                                                },
                                                {
                                                    "discountName": "£1 Off Discount",
                                                    "discountType": "discount",
                                                    "discountAmount": "1.00"
                                                }
                                            ],
                                            "totaltaxAmount": "18.54"
                                        }
                                    }
                                },
                                "Klarna (Reversal)": {
                                    "value": {
                                        "merchantId": "BDD",
                                        "storeId": "BDD500000005",
                                        "userId": "BDDTest",
                                        "type": "reversalPreAuthorization",
                                        "amount": "112.61",
                                        "currencyCode": "GBP",
                                        "clientSystemInvoiceId": "UniqueTransactionRef1",
                                        "clientSystemTransactionId": "UniqueTransactionRef1-reversal",
                                        "apmDetails": {
                                            "apmProviderName": "klarna"
                                        }
                                    }
                                },
                                "Klarna (Refund)": {
                                    "value": {
                                        "merchantId": "BDD",
                                        "storeId": "BDD500000005",
                                        "userId": "BDDTest",
                                        "type": "ecom.refund",
                                        "amount": "112.61",
                                        "currencyCode": "GBP",
                                        "clientSystemInvoiceId": "UniqueTransactionRef1",
                                        "clientSystemTransactionId": "UniqueTransactionRef1-capture",
                                        "providerDiscretionaryData": "ABC19642141",
                                        "apmDetails": {
                                            "apmProviderName": "klarna"
                                        },
                                        "shoppingCartDetails": {
                                            "itemDetails": [
                                                {
                                                    "productId": "ABC001",
                                                    "productName": "Blue Jeans",
                                                    "productDescription": "Stone Washed",
                                                    "productType": "physical",
                                                    "productQuantity": "1",
                                                    "unitAmount": "45.00",
                                                    "taxRate": "20.00",
                                                    "unitTaxAmount": "7.50",
                                                    "discountName": "10% Off Jeans",
                                                    "discountAmount": "4.50",
                                                    "discountTaxAmount": "0.75",
                                                    "totalAmount": "40.50",
                                                    "totalTaxAmount": "6.75"
                                                },
                                                {
                                                    "productId": "ABC002",
                                                    "productName": "Wooly Jumper",
                                                    "productDescription": "Black Cashmere",
                                                    "productType": "physical",
                                                    "productQuantity": "2",
                                                    "unitAmount": "34.00",
                                                    "taxRate": "20.00",
                                                    "unitTaxAmount": "5.67",
                                                    "discountName": "15% off Jumpers",
                                                    "discountAmount": "2.27",
                                                    "discountTaxAmount": "0.38",
                                                    "totalAmount": "65.73",
                                                    "totalTaxAmount": "10.96"
                                                },
                                                {
                                                    "productId": "ABC003",
                                                    "productName": "Kids T Shirt",
                                                    "productDescription": "White - Cartoon Print",
                                                    "productType": "physical",
                                                    "productQuantity": "1",
                                                    "unitAmount": "15.00",
                                                    "taxRate": "0",
                                                    "unitTaxAmount": "0",
                                                    "discountName": null,
                                                    "discountAmount": "0",
                                                    "discountTaxAmount": "0",
                                                    "totalAmount": "15.00",
                                                    "totalTaxAmount": "0"
                                                }
                                            ],
                                            "shippingDetails": {
                                                "shippingName": "DHL Next Day Express",
                                                "shippingAmount": "5.00",
                                                "shippingTaxAmount": "0.83",
                                                "shippingTaxRate": "20.00"
                                            },
                                            "discountDetails": [
                                                {
                                                    "discountName": "5% Loyalty Discount",
                                                    "discountType": "discount",
                                                    "discountAmount": "12.62"
                                                },
                                                {
                                                    "discountName": "£1 Off Discount",
                                                    "discountType": "discount",
                                                    "discountAmount": "1.00"
                                                }
                                            ],
                                            "totaltaxAmount": "18.54"
                                        }
                                    }
                                },
                                "Klarna (Extend Authorization Time)": {
                                    "value": {
                                        "merchantId": "BDD",
                                        "storeId": "BDD500000005",
                                        "userId": "BDDTest",
                                        "type": "ecom.extendAuth",
                                        "amount": "112.61",
                                        "currencyCode": "GBP",
                                        "clientSystemInvoiceId": "UniqueTransactionRef1",
                                        "clientSystemTransactionId": "UniqueTransactionRef1-extendAuth",
                                        "apmDetails": {
                                            "apmProviderName": "klarna"
                                        }
                                    }
                                },
                                "Bancontact (Refund)": {
                                    "value": {
                                        "merchantId": "BDD",
                                        "storeId": "BDD500000005",
                                        "userId": "BDDTest",
                                        "type": "ecom.refund",
                                        "amount": "100.00",
                                        "currencyCode": "EUR",
                                        "clientSystemInvoiceId": "UniqueTransactionRef1",
                                        "clientSystemTransactionId": "UniqueTransactionRef1-Refund",
                                        "providerDiscretionaryData": "ABC19642141",
                                        "apmDetails": {
                                            "apmProviderName": "bancontact"
                                        }
                                    }
                                },
                                "iDeal (Refund)": {
                                    "value": {
                                        "merchantId": "BDD",
                                        "storeId": "BDD500000005",
                                        "userId": "BDDTest",
                                        "type": "ecom.refund",
                                        "amount": "100.00",
                                        "currencyCode": "EUR",
                                        "clientSystemInvoiceId": "OriginalTransactionRef01",
                                        "clientSystemTransactionId": "UniqueTransactionRef01-Refund",
                                        "providerDiscretionaryData": "ABC19642141",
                                        "apmDetails": {
                                            "apmProviderName": "iDeal"
                                        }
                                    }
                                },
                                "GiroPay (Refund)": {
                                    "value": {
                                        "merchantId": "BDD",
                                        "storeId": "BDD500000005",
                                        "userId": "BDDTest",
                                        "type": "ecom.refund",
                                        "amount": "100.00",
                                        "currencyCode": "EUR",
                                        "clientSystemInvoiceId": "OriginalTransactionRef01",
                                        "clientSystemTransactionId": "UniqueTransactionRef01-Refund",
                                        "providerDiscretionaryData": "ABC19642141",
                                        "apmDetails": {
                                            "apmProviderName": "giroPay"
                                        }
                                    }
                                },
                                "Trustly (Refund)": {
                                    "value": {
                                        "merchantId": "BDD",
                                        "storeId": "BDD500000005",
                                        "userId": "BDDTest",
                                        "type": "ecom.refund",
                                        "amount": "100.00",
                                        "currencyCode": "GBP",
                                        "clientSystemInvoiceId": "OriginalTransactionRef01",
                                        "clientSystemTransactionId": "UniqueTransactionRef01-Refund",
                                        "providerDiscretionaryData": "ABC19642141",
                                        "apmDetails": {
                                            "apmProviderName": "trustly"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Paypal": {
                                        "value": "{\n    \"id\": \"57bc8107-0482-488d-8c0c-5021042124f2\",\n    \"state\": \"Authorised\",\n    \"providerStateCode\": \"AuthorisedByProvider\",\n    \"currencyCode\": \"GBP\",\n    \"apmDetails\": {\n        \"apmProviderName\": \"Paypal\",\n        \"apmPayerAccountNumber\": \"1ABCDEFGHIJKL\",\n        \"apmPayerEmailAddress\": \"joe_bloggs@testdomain.com\"\n    }\n}"
                                    },
                                    "Alipay/Wechat": {
                                        "value": "{\n  \"id\": \"57bc8107-0482-488d-8c0c-5021042124f2\",\n  \"state\": \"Authorised\",\n  \"providerStateCode\": \"AuthorisedByProvider\",\n  \"currencyCode\": \"GBP\",\n  \"apmDetails\": {\n    \"apmProviderName\": \"EuroPass\",\n    \"apmScheme\" : \"Alipay\",\n    \"apmProviderTransactionId\" : \"4324522352\",\n    \"apmSchemeTransactionId\" : \"3123123434\",\n    \"apmProviderRefundId\" : \"5455346422322\"\n  },\n  \"details\": {\n    \"providerMerchantId\": \"542929008043127\",\n    \"providerTerminalId\": \"00630376\"\n  }\n}"
                                    },
                                    "Klarna (Capture)": {
                                        "value": "{\n    \"id\": \"57bc8107-0482-488d-8c0c-5021042124f2\",\n    \"state\": \"Authorised\",\n    \"providerStateCode\": \"PendingToBeCaptured\",\n    \"currencyCode\": \"GBP\",\n    \"clientSystemTransactionId\": \"UniqueTransactionRef01\",\n    \"apmDetails\": {\n        \"apmProviderName\": \"Klarna\",\n        \"apmPaymentMethod\": \"KlarnaFinancingCapture\"\n    }\n}"
                                    },
                                    "Klarna (Reversal)": {
                                        "value": "{\n    \"id\": \"57bc8107-0482-488d-8c0c-5021042124f2\",\n    \"state\": \"Reversed\",\n    \"providerStateCode\": \"Cancelled\",\n    \"currencyCode\": \"GBP\",\n    \"clientSystemTransactionId\": \"UniqueTransactionRef01\",\n    \"apmDetails\": {\n        \"apmProviderName\": \"Klarna\",\n        \"apmPaymentMethod\": \"KlarnaCancellation\"\n    }\n}"
                                    },
                                    "Klarna (Refund)": {
                                        "value": "{\n    \"id\": \"57bc8107-0482-488d-8c0c-5021042124f2\",\n    \"state\": \"Authorised\",\n    \"providerStateCode\": \"Refunded\",\n    \"currencyCode\": \"GBP\",\n    \"clientSystemTransactionId\": \"UniqueTransactionRef01\", \n    \"apmDetails\": {\n        \"apmProviderName\": \"Klarna\",\n        \"apmPaymentMethod\": \"KlarnaRefund\"\n    }\n}"
                                    },
                                    "Klarna (Extend Authorization Time)": {
                                        "value": "{\n    \"id\": \"57bc8107-0482-488d-8c0c-5021042124f2\",\n    \"state\": \"Authorised\",\n    \"providerStateCode\": \"AuthorizationExtended\",\n    \"currencyCode\": \"GBP\",\n      \"clientSystemTransactionId\": \"UniqueTransactionRef01\", \n    \"apmDetails\": {\n        \"apmProviderName\": \"Klarna\",\n        \"apmPaymentMethod\": \"KlarnaPayNowDeposit\"\n    }\n}"
                                    },
                                    "Bancontact (Refund)": {
                                        "value": "{\n    \"id\": \"a00343e9-15f3-48de-ad4b-49960cc5aa57\",\n    \"state\": \"Authorised\",\n    \"providerStateCode\": \"0\",\n    \"providerStateMessage\": \"Approved or completed successfully\",\n    \"currencyCode\": \"EUR\",\n    \"accountDetails\": {\n        \"cardNumber\": \"411111******1517\"\n    },\n    \"stateDetails\": {\n        \"approvalCode\": \"203415\"\n    },\n    \"cardSecurityResponseCode\": \"0\",\n    \"addressVerificationResponseCode\": \"0\"\n}\n"
                                    },
                                    "iDeal/GiroPay (Refund)": {
                                        "value": "{\n    \"id\": \"57bc8107-0482-488d-8c0c-5021042124f2\",\n    \"state\": \"Approved\",\n    \"providerStateCode\": \"WithdrawnByProvider\",\n    \"currencyCode\": \"EUR\",\n    \"clientSystemTransactionId\": \"UniqueTransactionRef01-Refund\",\n    \"apmDetails\": {\n        \"apmProviderName\": \"PXP Financial\",\n        \"apmPaymentMethod\": \"BankTransferWithdrawal\"\n    }\n}\n"
                                    },
                                    "Trustly (Refund)": {
                                        "value": "{\n    \"id\": \"57bc8107-0482-488d-8c0c-5021042124f2\",\n    \"state\": \"Approved\",\n    \"providerStateCode\": \"Refunded\",\n    \"currencyCode\": \"GBP\",\n    \"clientSystemTransactionId\": \"UniqueTransactionRef01\",\n    \"apmDetails\": {\n\t\t\t\t\"apmProviderName\": \"Trustly\",\n        \"apmPaymentMethod\": \"TrustlyInstantBankRefund\",\n    }\n}"
                                    }
                                },
                                "schema": {
                                    "oneOf": [
                                        {
                                            "title": "Paypal",
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "57bc8107-0482-488d-8c0c-5021042124f2"
                                                },
                                                "state": {
                                                    "type": "string",
                                                    "example": "Authorised"
                                                },
                                                "providerStateCode": {
                                                    "type": "string",
                                                    "example": "AuthorisedByProvider"
                                                },
                                                "currencyCode": {
                                                    "type": "string",
                                                    "example": "GBP"
                                                },
                                                "apmDetails": {
                                                    "type": "object",
                                                    "properties": {
                                                        "apmProviderName": {
                                                            "type": "string",
                                                            "example": "Paypal"
                                                        },
                                                        "apmPayerAccountNumber": {
                                                            "type": "string",
                                                            "example": "1ABCDEFGHIJKL"
                                                        },
                                                        "apmPayerEmailAddress": {
                                                            "type": "string",
                                                            "example": "joe_bloggs@testdomain.com"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "title": "Alipay/Wechat",
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "57bc8107-0482-488d-8c0c-5021042124f2"
                                                },
                                                "state": {
                                                    "type": "string",
                                                    "example": "Authorised"
                                                },
                                                "providerStateCode": {
                                                    "type": "string",
                                                    "example": "AuthorisedByProvider"
                                                },
                                                "currencyCode": {
                                                    "type": "string",
                                                    "example": "GBP"
                                                },
                                                "apmDetails": {
                                                    "type": "object",
                                                    "properties": {
                                                        "apmProviderName": {
                                                            "type": "string",
                                                            "example": "EuroPass"
                                                        },
                                                        "apmScheme": {
                                                            "type": "string",
                                                            "example": "Alipay"
                                                        },
                                                        "apmProviderTransactionId": {
                                                            "type": "string",
                                                            "example": "4324522352"
                                                        },
                                                        "apmSchemeTransactionId": {
                                                            "type": "string",
                                                            "example": "3123123434"
                                                        },
                                                        "apmProviderRefundId": {
                                                            "type": "string",
                                                            "example": "5455346422322"
                                                        }
                                                    }
                                                },
                                                "details": {
                                                    "type": "object",
                                                    "properties": {
                                                        "providerMerchantId": {
                                                            "type": "string",
                                                            "example": "542929008043127"
                                                        },
                                                        "providerTerminalId": {
                                                            "type": "string",
                                                            "example": "00630376"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "title": "Klarna (Capture)",
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "57bc8107-0482-488d-8c0c-5021042124f2"
                                                },
                                                "state": {
                                                    "type": "string",
                                                    "example": "Authorised"
                                                },
                                                "providerStateCode": {
                                                    "type": "string",
                                                    "example": "PendingToBeCaptured"
                                                },
                                                "currencyCode": {
                                                    "type": "string",
                                                    "example": "GBP"
                                                },
                                                "clientSystemTransactionId": {
                                                    "type": "string",
                                                    "example": "UniqueTransactionRef01"
                                                },
                                                "apmDetails": {
                                                    "type": "object",
                                                    "properties": {
                                                        "apmProviderName": {
                                                            "type": "string",
                                                            "example": "Klarna"
                                                        },
                                                        "apmPaymentMethod": {
                                                            "type": "string",
                                                            "example": "KlarnaFinancingCapture"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "title": "Klarna (Reversal)",
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "57bc8107-0482-488d-8c0c-5021042124f2"
                                                },
                                                "state": {
                                                    "type": "string",
                                                    "example": "Reversed"
                                                },
                                                "providerStateCode": {
                                                    "type": "string",
                                                    "example": "Cancelled"
                                                },
                                                "currencyCode": {
                                                    "type": "string",
                                                    "example": "GBP"
                                                },
                                                "clientSystemTransactionId": {
                                                    "type": "string",
                                                    "example": "UniqueTransactionRef01"
                                                },
                                                "apmDetails": {
                                                    "type": "object",
                                                    "properties": {
                                                        "apmProviderName": {
                                                            "type": "string",
                                                            "example": "Klarna"
                                                        },
                                                        "apmPaymentMethod": {
                                                            "type": "string",
                                                            "example": "KlarnaCancellation"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "title": "Klarna (Refund)",
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "57bc8107-0482-488d-8c0c-5021042124f2"
                                                },
                                                "state": {
                                                    "type": "string",
                                                    "example": "Authorised"
                                                },
                                                "providerStateCode": {
                                                    "type": "string",
                                                    "example": "Refunded"
                                                },
                                                "currencyCode": {
                                                    "type": "string",
                                                    "example": "GBP"
                                                },
                                                "clientSystemTransactionId": {
                                                    "type": "string",
                                                    "example": "UniqueTransactionRef01"
                                                },
                                                "apmDetails": {
                                                    "type": "object",
                                                    "properties": {
                                                        "apmProviderName": {
                                                            "type": "string",
                                                            "example": "Klarna"
                                                        },
                                                        "apmPaymentMethod": {
                                                            "type": "string",
                                                            "example": "KlarnaRefund"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        {
[...]
