{
    "openapi": "3.1.0",
    "info": {
        "title": "Ped Emulator Rest Service",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://pxpfinancial.com/pedemulator"
        }
    ],
    "components": {
        "securitySchemes": {}
    },
    "security": [
        {}
    ],
    "paths": {
        "/CreatePed": {
            "post": {
                "summary": "CreatePed",
                "description": "TCP JSON Request Only, Ignore URL Below",
                "operationId": "createped",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "Route",
                                    "Data",
                                    "Reference",
                                    "Scenario",
                                    "FeatureTag",
                                    "DeviceSpecification",
                                    "Port",
                                    "AutoStartDevice",
                                    "Dialect",
                                    "AnyPayPedVersion",
                                    "Kernal"
                                ],
                                "properties": {
                                    "Route": {
                                        "type": "string",
                                        "description": "Action to perform",
                                        "default": "CreatePed"
                                    },
                                    "Data": {
                                        "type": "object",
                                        "properties": {}
                                    },
                                    "Reference": {
                                        "type": "string"
                                    },
                                    "Scenario": {
                                        "type": "string",
                                        "description": "playback file name",
                                        "default": "1"
                                    },
                                    "FeatureTag": {
                                        "type": "string",
                                        "description": "Used in playback file folder structure",
                                        "default": "Retail_Vx820_Icc_feature"
                                    },
                                    "DeviceSpecification": {
                                        "type": "object",
                                        "properties": {}
                                    },
                                    "Port": {
                                        "type": "string",
                                        "description": "Port number virtual PED will listen on",
                                        "default": "16107"
                                    },
                                    "AutoStartDevice": {
                                        "type": "boolean",
                                        "description": "Automatically start the virtual PED",
                                        "default": true
                                    },
                                    "Dialect": {
                                        "type": "string",
                                        "description": "Used in playback file folder structure",
                                        "default": "VX820_AnyPayPed"
                                    },
                                    "AnyPayPedVersion": {
                                        "type": "string",
                                        "description": "Used in playback file folder structure",
                                        "default": "Ped_Version_1.6.734"
                                    },
                                    "Kernal": {
                                        "type": "string",
                                        "description": "Used in playback file folder structure",
                                        "default": "Kernal_Version_7"
                                    }
                                }
                            },
                            "examples": {
                                "Request Example": {
                                    "value": {
                                        "Route": "CreatePed",
                                        "Data": {
                                            "Reference": "bcbd4f99-015e-4b15-8654-a725fde6d746",
                                            "Scenario": "1",
                                            "FeatureTag": "Retail_Vx820_Icc_feature",
                                            "DeviceSpecification": {
                                                "Port": 16107,
                                                "AutoStartDevice": true,
                                                "Dialect": "VX820_AnyPayPed",
                                                "AnyPayPedVersion": "Ped_Version_1.6.734"
                                            },
                                            "Kernal": "Kernal_Version_7"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  \"id\": \"ad58ef9c-131f-47d2-9f0d-da6ea6c98cc7\",\n  \"ip\": \"192.168.185.129\",\n  \"port\": \"16107\",\n  \"status\": \"Started\",\n    \"Reference\":\"bcbd4f99-015e-4b15-8654-a725fde6d746\"\n}\n"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "ad58ef9c-131f-47d2-9f0d-da6ea6c98cc7"
                                        },
                                        "ip": {
                                            "type": "string",
                                            "example": "192.168.185.129"
                                        },
                                        "port": {
                                            "type": "string",
                                            "example": "16107"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "Started"
                                        },
                                        "Reference": {
                                            "type": "string",
                                            "example": "bcbd4f99-015e-4b15-8654-a725fde6d746"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": []
            }
        },
        "/Dispose": {
            "post": {
                "summary": "DisposePed",
                "description": "TCP JSON Request Only, Ignore URL Below",
                "operationId": "disposeped",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "Route",
                                    "Data"
                                ],
                                "properties": {
                                    "Route": {
                                        "type": "string",
                                        "description": "Action to perform",
                                        "default": "Dispose"
                                    },
                                    "Data": {
                                        "type": "string",
                                        "description": "Id from CreatePed Request"
                                    }
                                }
                            },
                            "examples": {
                                "Request Example": {
                                    "value": {
                                        "Route": "Dispose",
                                        "Data": "f8aa3e4b-02ee-4d6e-a717-e01e0e2658cf"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  \"id\": \"ad58ef9c-131f-47d2-9f0d-da6ea6c98cc7\",\n  \"ip\": \"192.168.185.129\",\n  \"port\": \"16107\",\n  \"status\": \"Disposed\",\n}\n"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        }
    },
    "x-readme": {
        "headers": [],
        "explorer-enabled": true,
        "proxy-enabled": true
    },
    "x-readme-fauxas": true
}