{
    "openapi": "3.1.0",
    "info": {
        "title": "Customer Service",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api-integration.pxp-solutions.net/customerservice"
        }
    ],
    "components": {
        "securitySchemes": {}
    },
    "security": [
        {}
    ],
    "paths": {
        "/api/v5/customer/autoregistration": {
            "post": {
                "summary": "Customer Registration",
                "description": "",
                "operationId": "processing-a-merchant-registration",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "customerDetails": {
                                        "properties": {
                                            "customerId": {
                                                "type": "string",
                                                "description": "[Length=3] This is the customer code, a unique customer id allocated to a customer when the service is set up"
                                            },
                                            "customerNotificationUrl": {
                                                "type": "string",
                                                "description": "[Length<=255]"
                                            }
                                        },
                                        "required": [
                                            "customerId",
                                            "customerNotificationUrl"
                                        ],
                                        "type": "object"
                                    },
                                    "storeDetails": {
                                        "properties": {
                                            "StoreId": {
                                                "type": "string",
                                                "description": "[Length=12]"
                                            },
                                            "Address1": {
                                                "type": "string",
                                                "description": "[Length<=50]"
                                            },
                                            "Address2": {
                                                "type": "string",
                                                "description": "[Length<=50]"
                                            },
                                            "Address3": {
                                                "type": "string",
                                                "description": "[Length<=50]"
                                            },
                                            "Address4": {
                                                "type": "string",
                                                "description": "[Length<=50]"
                                            },
                                            "Town": {
                                                "type": "string",
                                                "description": "[Length<=50]"
                                            },
                                            "County": {
                                                "type": "string",
                                                "description": "[Length<=50]"
                                            },
                                            "PostCode": {
                                                "type": "string",
                                                "description": "[Length<=10]"
                                            },
                                            "CountryCode": {
                                                "type": "string",
                                                "description": "[Length=3]"
                                            },
                                            "Timezone": {
                                                "type": "string",
                                                "description": "[Length<=200] •\tTime zone value should be one of the default windows time zone name’s found here •\thttps://docs.microsoft.com/en-us/windows-hardware/manufacture/desktop/default-time-zones"
                                            },
                                            "Language": {
                                                "type": "string",
                                                "description": "[Length=2] ISO 639-1 2-digit language codes https://www.loc.gov/standards/iso639-2/php/code_list.php"
                                            }
                                        },
                                        "required": [
                                            "CountryCode",
                                            "Language"
                                        ],
                                        "type": "object"
                                    },
                                    "providerDetails": {
                                        "properties": {
                                            "acquirerId": {
                                                "type": "string",
                                                "description": "[Length=3]"
                                            },
                                            "authorisationProcessorId": {
                                                "type": "string",
                                                "description": "[Length=3]"
                                            },
                                            "settlementProcessorId": {
                                                "type": "string",
                                                "description": "[Length=3]"
                                            },
                                            "merchantId": {
                                                "type": "string",
                                                "description": "[Length<=20] This is the Merchant Id that will be used when requesting authorization through the acquirer."
                                            },
                                            "merchantName": {
                                                "type": "string",
                                                "description": "[Length<=50]"
                                            },
                                            "merchantLocation": {
                                                "type": "string",
                                                "description": "[Length<=75]"
                                            }
                                        },
                                        "required": [
                                            "acquirerId",
                                            "merchantId",
                                            "merchantName"
                                        ],
                                        "type": "object"
                                    }
                                }
                            },
                            "examples": {
                                "Request Example": {
                                    "value": {
                                        "customerDetails": {
                                            "customerId": "CUS",
                                            "customerNotificationUrl": ""
                                        },
                                        "storeDetails": {
                                            "storeId": "CUS000000001",
                                            "address1": "The Cornmill",
                                            "address2": "",
                                            "address3": "",
                                            "address4": "",
                                            "town": "Stanstead Abbotts",
                                            "county": "Hertfordshire",
                                            "postCode": "SG12 8XL",
                                            "countryCode": "GBP",
                                            "language": "en",
                                            "timezone": "GMT Standard Time"
                                        },
                                        "providerDetails": {
                                            "acquirerId": "PXF",
                                            "authorisationProcessorId": "PXF",
                                            "settlementProcessorId": "PXF",
                                            "merchantId": "12345678",
                                            "merchantName": "PXP Financial",
                                            "merchantLocation": "Hertfordshire"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "text/plain": {
                                "examples": {
                                    "Result": {
                                        "value": "An empty body will be returned"
                                    }
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "412",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n    \"code\": \"nnnnnn\",\n    \"details\": {\n        \"message\": \"Provide details merchant id 11111111 failed to insert\"\n    }\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "string",
                                            "example": "nnnnnn"
                                        },
                                        "details": {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "example": "Provide details merchant id 11111111 failed to insert"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/api/v5/standaloneped/statenotification": {
            "post": {
                "summary": "Stand-Alone Pin Entry Device State Notification",
                "description": "",
                "operationId": "pin-entry-device-registration",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "customerDetails": {
                                        "properties": {
                                            "customerId": {
                                                "type": "string",
                                                "description": "[Length=3] This is the customer code, a unique customer id allocated to a customer when the service is set up"
                                            }
                                        },
                                        "required": [
                                            "customerId"
                                        ],
                                        "type": "object"
                                    },
                                    "storeDetails": {
                                        "properties": {
                                            "storeId": {
                                                "type": "string",
                                                "description": "[Length=12] This is the site identifier, format must be first three letters of the customerId followed by a 9 digit number.  Combined the storeId MUST be unique."
                                            }
                                        },
                                        "required": [
                                            "storeId"
                                        ],
                                        "type": "object"
                                    },
                                    "standalonePinEntryDetails": {
                                        "properties": {
                                            "merchantId": {
                                                "type": "string",
                                                "description": "[Length<=20] This is the Merchant Id that will be used when requesting authorization through the acquirer."
                                            },
                                            "terminalId": {
                                                "type": "string",
                                                "description": "[Length<=20]"
                                            },
                                            "state": {
                                                "type": "string"
                                            },
                                            "errorCode": {
                                                "type": "string"
                                            },
                                            "errorMessage": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "merchantId",
                                            "terminalId",
                                            "state"
                                        ],
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/api/v5/standaloneped/terminate": {
            "put": {
                "summary": "Terminate Stand-alone Pin Entry Device",
                "description": "",
                "operationId": "stand-alone-pin-entry-device-terminate",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "customerDetails": {
                                        "properties": {
                                            "customerId": {
                                                "type": "string",
                                                "description": "[Length=3] This is the customer code, a unique customer id allocated to a customer when the service is set up"
                                            }
                                        },
                                        "required": [
                                            "customerId"
                                        ],
                                        "type": "object"
                                    },
                                    "storeDetails": {
                                        "properties": {
                                            "storeId": {
                                                "type": "string",
                                                "description": "[Length=12] This is the site identifier, format must be first three letters of the customerId followed by a 9 digit number. Combined the storeId MUST be unique."
                                            }
                                        },
                                        "required": [
                                            "storeId"
                                        ],
                                        "type": "object"
                                    },
                                    "standalonePinEntryDetails": {
                                        "properties": {
                                            "merchantId": {
                                                "type": "string",
                                                "description": "[Length<=20] This is the Merchant Id that will be used when requesting authorization through the acquirer."
                                            },
                                            "terminalId": {
                                                "type": "string",
                                                "description": "[Length<=20]"
                                            }
                                        },
                                        "required": [
                                            "merchantId",
                                            "terminalId"
                                        ],
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "text/plain": {
                                "examples": {
                                    "OK": {
                                        "value": "An empty body will be returned"
                                    }
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "412",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n    \"code\": \"XXXXXX\",\n    \"details\": {\n        \"message\": \"Stand-alone Pin Entry Device for merchant id 11111111 and terminal id 11111111 failed to termniate\"\n    }\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "string",
                                            "example": "XXXXXX"
                                        },
                                        "details": {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "example": "Stand-alone Pin Entry Device for merchant id 11111111 and terminal id 11111111 failed to termniate"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/api/v5/standaloneped/enable": {
            "put": {
                "summary": "Enable Stand-alone Pin Entry Device",
                "description": "",
                "operationId": "enable-stand-alone-pin-entry-device",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "customerDetails": {
                                        "properties": {
                                            "customerId": {
                                                "type": "string",
                                                "description": "[Length=3] This is the customer code, a unique customer id allocated to a customer when the service is set up"
                                            }
                                        },
                                        "required": [
                                            "customerId"
                                        ],
                                        "type": "object"
                                    },
                                    "storeDetails": {
                                        "properties": {
                                            "storeId": {
                                                "type": "string",
                                                "description": "[Length=12] This is the site identifier, format must be first three letters of the customerId followed by a 9 digit number. Combined the storeId MUST be unique."
                                            }
                                        },
                                        "required": [
                                            "storeId"
                                        ],
                                        "type": "object"
                                    },
                                    "standalonePinEntryDetails": {
                                        "properties": {
                                            "merchantId": {
                                                "type": "string",
                                                "description": "[Length<=20] This is the Merchant Id that will be used when requesting authorization through the acquirer."
                                            },
                                            "terminalid": {
                                                "type": "string",
                                                "description": "[Length<=20]"
                                            }
                                        },
                                        "required": [
                                            "merchantId",
                                            "terminalid"
                                        ],
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "text/plain": {
                                "examples": {
                                    "OK": {
                                        "value": "An empty body will be returned"
                                    }
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "412",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n    \"code\": \"XXXXXX\",\n    \"details\": {\n        \"message\": \"Stand-alone Pin Entry Device for merchant id 11111111 and terminal id 11111111 failed to enable\"\n    }\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "string",
                                            "example": "XXXXXX"
                                        },
                                        "details": {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "example": "Stand-alone Pin Entry Device for merchant id 11111111 and terminal id 11111111 failed to enable"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/api/v5/standaloneped/disable": {
            "put": {
                "summary": "Disable Stand-alone Pin Entry Device",
                "description": "",
                "operationId": "disable-stand-alone-pin-entry-device-1",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "customerDetails": {
                                        "properties": {
                                            "customerId": {
                                                "type": "string",
                                                "description": "[Length=3] This is the customer code, a unique customer id allocated to a customer when the service is set up"
                                            }
                                        },
                                        "required": [
                                            "customerId"
                                        ],
                                        "type": "object"
                                    },
                                    "storeDetails": {
                                        "properties": {
                                            "storeId": {
                                                "type": "string",
                                                "description": "[Length=12] This is the site identifier, format must be first three letters of the customerId followed by a 9 digit number. Combined the storeId MUST be unique."
                                            }
                                        },
                                        "required": [
                                            "storeId"
                                        ],
                                        "type": "object"
                                    },
                                    "standalonePinEntryDetails": {
                                        "properties": {
                                            "merchantId": {
                                                "type": "string",
                                                "description": "[Length<=20] This is the Merchant Id that will be used when requesting authorization through the acquirer."
                                            },
                                            "terminalId": {
                                                "type": "string",
                                                "description": "[Length<=20]"
                                            }
                                        },
                                        "required": [
                                            "merchantId",
                                            "terminalId"
                                        ],
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "text/plain": {
                                "examples": {
                                    "OK": {
                                        "value": "An empty body will be returned"
                                    }
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "412",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n    \"code\": \"XXXXXX\",\n    \"details\": {\n        \"message\": \"Stand-alone Pin Entry Device for merchant id 11111111 and terminal id 11111111 failed to disable\"\n    }\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "string",
                                            "example": "XXXXXX"
                                        },
                                        "details": {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "example": "Stand-alone Pin Entry Device for merchant id 11111111 and terminal id 11111111 failed to disable"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/api/v5/standaloneped/tms": {
            "put": {
                "summary": "Activate TMS for Stand-alone Pin Entry Device",
                "description": "",
                "operationId": "invoke-tms-on-stand-alone-pin-entry-device",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "customerDetails": {
                                        "properties": {
                                            "customerId": {
                                                "type": "string",
                                                "description": "[Length=3] This is the customer code, a unique customer id allocated to a customer when the service is set up"
                                            }
                                        },
                                        "required": [
                                            "customerId"
                                        ],
                                        "type": "object"
                                    },
                                    "storeDetails": {
                                        "properties": {
                                            "storeId": {
                                                "type": "string",
                                                "description": "[Length=12] This is the site identifier, format must be first three letters of the customerId followed by a 9 digit number. Combined the storeId MUST be unique."
                                            }
                                        },
                                        "required": [
                                            "storeId"
                                        ],
                                        "type": "object"
                                    },
                                    "standalonePinEntryDetails": {
                                        "properties": {
                                            "merchantId": {
                                                "type": "string",
                                                "description": "[Length<=20] This is the Merchant Id that will be used when requesting authorization through the acquirer."
                                            },
                                            "terminalId": {
                                                "type": "string",
                                                "description": "[Length<=20]"
                                            }
                                        },
                                        "required": [
                                            "merchantId",
                                            "terminalId"
                                        ],
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "text/plain": {
                                "examples": {
                                    "OK": {
                                        "value": "An empty body will be returned"
                                    }
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "412",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n    \"code\": \"XXXXXX\",\n    \"details\": {\n        \"message\": \"Stand-alone Pin Entry Device for merchant id 11111111 and terminal id 11111111 failed to activate TMS \"\n    }\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "string",
                                            "example": "XXXXXX"
                                        },
                                        "details": {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "example": "Stand-alone Pin Entry Device for merchant id 11111111 and terminal id 11111111 failed to activate TMS "
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        }
    },
    "x-readme": {
        "headers": [],
        "explorer-enabled": true,
        "proxy-enabled": true
    },
    "x-readme-fauxas": true
}