{
    "openapi": "3.1.0",
    "info": {
        "title": "Single Use Token Service",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://sut-integration.pxp-solutions.net/singleusetokenservice"
        }
    ],
    "components": {
        "securitySchemes": {}
    },
    "security": [
        {}
    ],
    "paths": {
        "/api/v5/tokens": {
            "post": {
                "summary": "Single Use Token Transaction",
                "description": "This Service is used to securely exchange card data for a Single Use Token.\n\nUsing a  a Public Api Key, this request type can be used to pass card data direct from the browser to PXP, ensuring that Card Data does not pass though the merchant's system as communication is direct from the browser to PXP's secure Data Centers.",
                "operationId": "request-a-single-use-token",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The Public Api Key is obtained through a GET request to the Public Key Service",
                        "schema": {
                            "type": "string",
                            "default": "PublicApiKey fa5a7568-1191-4a93-8681-20b1b48c5b58"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "merchantId"
                                ],
                                "properties": {
                                    "merchantId": {
                                        "type": "string",
                                        "description": "[Length=3] This identifies the customer to PXP"
                                    },
                                    "clientSystemTokenId": {
                                        "type": "string",
                                        "description": "[Length<=50] This is the merchant's own unique reference for the single use token"
                                    },
                                    "details": {
                                        "properties": {
                                            "cardNumber": {
                                                "type": "string",
                                                "description": "[Length<=19] This is the card number that is to be represented with a single use token"
                                            },
                                            "cardExpiryMonth": {
                                                "type": "string",
                                                "description": "[Length<=2] This is the card expiry month that is to be represented with a single use token. Format is 'MM'"
                                            },
                                            "cardExpiryYear": {
                                                "type": "string",
                                                "description": "[Length =4 or =2] This is the expiry year of the card for the transaction.  Format is 'CCYY' or 'YY'"
                                            }
                                        },
                                        "required": [
                                            "cardNumber"
                                        ],
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Approved": {
                                        "value": "{\n  \"state\": \"Approved\",\n  \"id\": \"13c45dc2-56ec-4d7f-a966-50b6c3e93b37-1111\",\n  \"type\": \"card.visa\",\n  \"cardExpiryMonth\": 7,\n  \"cardExpiryYear\": 2017 \n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "state": {
                                            "type": "string",
                                            "example": "Approved"
                                        },
                                        "id": {
                                            "type": "string",
                                            "example": "13c45dc2-56ec-4d7f-a966-50b6c3e93b37-1111"
                                        },
                                        "type": {
                                            "type": "string",
                                            "example": "card.visa"
                                        },
                                        "cardExpiryMonth": {
                                            "type": "integer",
                                            "example": 7,
                                            "default": 0
                                        },
                                        "cardExpiryYear": {
                                            "type": "integer",
                                            "example": 2017,
                                            "default": 0
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "412": {
                        "description": "412",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  \"code\": \"4011930\",\n  \"details\": {\n    \"message\": \"Merchant id is invalid\"\n  }\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "string",
                                            "example": "4011930"
                                        },
                                        "details": {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "example": "Merchant id is invalid"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": []
            }
        }
    },
    "x-readme": {
        "headers": [
            {
                "value": "PublicApiKey df40bb98-a324-4e57-9999-9d69c7e7240d",
                "key": "Authorization"
            }
        ],
        "explorer-enabled": true,
        "proxy-enabled": true
    },
    "x-readme-fauxas": true
}