{"openapi":"3.1.0","info":{"title":"OpenPayd Reference Data","version":"1.0"},"servers":[{"url":"https://sandbox.openpayd.com/api"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","name":"Authorization","x-bearer-format":"bearer"}}},"security":[{"sec0":[]}],"paths":{"/beneficiary-required-details":{"get":{"summary":"Beneficiary Required Details","description":"Get the details required to create a beneficiary depending on the beneficiary type, currency and country.","operationId":"get-beneficiary-required-details","parameters":[{"name":"bankAccountCountry","in":"query","description":"Two-letter [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code where the beneficiary bank account is held. e.g. `GB`","required":true,"schema":{"type":"string"}},{"name":"bankAccountCurrency","in":"query","description":"Three-letter [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) currency code in which the beneficiary bank account is held. e.g. `EUR`","required":true,"schema":{"type":"string"}},{"name":"beneficiaryType","in":"query","description":"Type of the beneficiary.<br>`CORPORATE`, `RETAIL`","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"[\n   {\n      \"paymentType\":\"SEPA\",\n      \"requiredFieldsList\":[\n         {\n            \"fieldName\":\"BANK_ACCOUNT_COUNTRY\",\n            \"display\":true,\n            \"required\":true,\n            \"expression\":\"^.{2}\"\n         },\n         {\n            \"fieldName\":\"PAYMENT_TYPE\",\n            \"display\":true,\n            \"required\":true,\n            \"expression\":\"SEPA\"\n         },\n         {\n            \"fieldName\":\"CURRENCY\",\n            \"display\":true,\n            \"required\":true,\n            \"expression\":\"^.{3}\"\n         },\n         {\n            \"fieldName\":\"IBAN\",\n            \"display\":true,\n            \"required\":true,\n            \"expression\":\"^[a-zA-Z]{2}[0-9]{2}[a-zA-Z0-9]{8}([a-zA-Z0-9]?){3,19}$|^[A-Z]{2}\\\\\\\\d{5}[0-9A-Z]{13}$\"\n         },\n         {\n            \"fieldName\":\"BANK_ACCOUNT_HOLDER_NAME\",\n            \"display\":true,\n            \"required\":true,\n            \"expression\":\"^.{1,50}\"\n         }\n      ]\n   },\n   {\n      \"paymentType\":\"SEPA_INSTANT\",\n      \"requiredFieldsList\":[\n         {\n            \"fieldName\":\"BANK_ACCOUNT_COUNTRY\",\n            \"display\":true,\n            \"required\":true,\n            \"expression\":\"^.{2}\"\n         },\n         {\n            \"fieldName\":\"CURRENCY\",\n            \"display\":true,\n            \"required\":true,\n            \"expression\":\"^.{3}\"\n         },\n         {\n            \"fieldName\":\"IBAN\",\n            \"display\":true,\n            \"required\":true,\n            \"expression\":\"^[a-zA-Z]{2}[0-9]{2}[a-zA-Z0-9]{8}([a-zA-Z0-9]?){3,19}$|^[A-Z]{2}\\\\\\\\d{5}[0-9A-Z]{13}$\"\n         },\n         {\n            \"fieldName\":\"PAYMENT_TYPE\",\n            \"display\":true,\n            \"required\":true,\n            \"expression\":\"SEPA_INSTANT\"\n         },\n         {\n            \"fieldName\":\"BANK_ACCOUNT_HOLDER_NAME\",\n            \"display\":true,\n            \"required\":true,\n            \"expression\":\"^.{1,50}\"\n         }\n      ]\n   }\n]"}},"schema":{"type":"array","items":{"type":"object","properties":{"paymentType":{"type":"string","example":"SEPA"},"requiredFieldsList":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","example":"BANK_ACCOUNT_COUNTRY"},"display":{"type":"boolean","example":true,"default":true},"required":{"type":"boolean","example":true,"default":true},"expression":{"type":"string","example":"^.{2}"}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/transactions/exchangePayout":{"post":{"summary":"Make International PIX Payments","description":"Pix is a way to send money in BRL from funds deposited in an OpenPayd account. Payments to Brazil can be initiated using a recipient’s alias, known as a Chave Pix. To enable payments and transfers, users can receive a registered Pix key using four options: CPF/CNPJ, cellphone number, email, and random key. The random key, generated by the Brazilian Central Bank, is composed of 32 characters, including letters and symbols, and is tied to a single account, offering a method to receive Pix payments without disclosing personal information.","operationId":"make-international-pix-payments","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"accountId":{"type":"string","description":"Encrypted `id` of the account from where the payout will be made. e.g.`cWc4SktyWlkxM0hwcmdYe6FMdXRSQT09`","default":"cWc4SktyWlkxM0hwcmdYe6FMdXRSQT09"},"exchangeSourceAccountId":{"type":"string","description":"Encrypted `id` of the account from where the exchange will be made. e.g.`cWc4SktyWlkxM0hwcmdYe6FMdXRSQT09`","default":"WmZianlKVzAxeklYb0ZhNUdCc0hyQT09"},"amount":{"type":"object","properties":{"value":{"type":"number","default":10,"format":"float"},"currency":{"type":"string","description":"`GBP`","default":"GBP"}}},"exchangeCurrency":{"type":"string","default":"BRL"},"paymentType":{"type":"string","default":"PIX"},"reference":{"type":"string","default":"Payment reference"},"beneficiaryId":{"type":"string","description":"If do you have beneficiary id you can use in here like this `983b296d-b3e1-4e8c-bcd5-145d89e61773`"},"beneficiary":{"type":"object","properties":{"bankAccountCountry":{"type":"string","description":"Two-letter [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code where the beneficiary bank account is held. e.g. `GB`","default":"BR"},"bankAccountCurrency":{"type":"string","default":"BRL"},"customerType":{"type":"string","default":"CORPORATE","enum":["CORPORATE","RETAIL"]},"companyName":{"type":"string","description":"Required if `customerType` is `CORPORATE`.","default":"John Doe LTD"},"firstName":{"type":"string","description":"Required if `customerType` is `RETAIL`."},"lastName":{"type":"string","description":"Required if `customerType` is `RETAIL`."},"documentId":{"type":"string","description":"Identity document Id. Usually numbers or combination of numbers and letters.","default":"72.162.402/0001-01"},"bankAccountAlias":{"type":"string","default":"test@test.com"}}},"fixedSide":{"type":"string","default":"SELL","enum":["SELL","BUY"]},"reasonCode":{"type":"string","default":"FUNDS","enum":["FUNDS"]},"metadata":{"type":"object","properties":{"CONCEPT_CODE":{"type":"string","description":"OpenPayd currently supports the following [concept codes](ref:concept-codes) for Pix payments.","default":"C_0003","enum":["C_0001","C_0002","C_0003","C_0004","C_0005","C_0006","C_0007","C_0008","C_0009","C_0010","C_0011","C_0012","C_0013","C_0014","C_0015","C_0016","C_0017","C_0018","C_0019","C_0020","C_0021","C_0022","C_0023","C_0024","C_0025","C_0026","C_0027","C_0028","C_0029","C_0030","C_0031","C_0032","C_0033","C_0034","C_0035","C_0036","C_0037","C_0038","C_0039","C_0040",""]}}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"transactionId\": \"141f4f43-b168-4c94-8991-118b72acc0b8\",\n    \"shortId\": \"20240418-VD36Q3\",\n    \"externalCustomerId\": null,\n    \"reference\": \"payment reference\",\n    \"paymentType\": \"PIX\",\n    \"reasonCode\": \"FUNDS\",\n    \"amount\": {\n        \"value\": 10,\n        \"currency\": \"GBP\"\n    },\n    \"beneficiary\": {\n        \"customerType\": \"CORPORATE\",\n        \"firstName\": null,\n        \"lastName\": null,\n        \"companyName\": \"dsa\",\n        \"beneficiaryCountry\": null,\n        \"beneficiaryPostalCode\": null,\n        \"beneficiaryCity\": null,\n        \"beneficiaryState\": null,\n        \"beneficiaryAddressLine\": null,\n        \"beneficiaryBirthDate\": null,\n        \"bankAccountCountry\": \"BR\",\n        \"bankName\": null,\n        \"taxId\": null,\n        \"phoneNumber\": null,\n        \"bankAccountType\": null,\n        \"bankAccountHolderName\": \"dsa\",\n        \"bic\": null,\n        \"iban\": null,\n        \"accountNumber\": null,\n        \"documentId\": \"72.162.402/0001-01\",\n        \"bankAccountAlias\": \"beneficiary@email.com\",\n        \"intermediaryBankAccountCountry\": null,\n        \"intermediaryName\": null,\n        \"intermediaryTownName\": null,\n        \"intermediaryPostalCode\": null,\n        \"routingCodes\": {},\n        \"metadata\": {}\n    },\n    \"bulkPaymentId\": null,\n    \"metadata\": {\n        \"CONCEPT_CODE\": \"C_0003\"\n    },\n    \"status\": \"IN_PROGRESS\",\n    \"beneficiaryId\": \"983b296d-b3e1-4e8c-bcd5-145d89e61773\",\n    \"sourceInfo\": {\n        \"type\": \"ACCOUNT\",\n        \"identifier\": \"Nnh2WTllV3dXT0VEZUpFUFliU1h3QT09\"\n    },\n    \"destinationInfo\": {\n        \"type\": \"BANK\",\n        \"identifier\": \"983b296d-b3e1-4e8c-bcd5-145d89e61773\"\n    },\n    \"accountHolderId\": \"fb56c211-2b84-4945-82cc-68f288a2ec21\",\n    \"type\": \"PAYOUT\"\n}"}},"schema":{"type":"object","properties":{"transactionId":{"type":"string","example":"141f4f43-b168-4c94-8991-118b72acc0b8"},"shortId":{"type":"string","example":"20240418-VD36Q3"},"externalCustomerId":{},"reference":{"type":"string","example":"payment reference"},"paymentType":{"type":"string","example":"PIX"},"reasonCode":{"type":"string","example":"FUNDS"},"amount":{"type":"object","properties":{"value":{"type":"integer","example":10,"default":0},"currency":{"type":"string","example":"GBP"}}},"beneficiary":{"type":"object","properties":{"customerType":{"type":"string","example":"CORPORATE"},"firstName":{},"lastName":{},"companyName":{"type":"string","example":"dsa"},"beneficiaryCountry":{},"beneficiaryPostalCode":{},"beneficiaryCity":{},"beneficiaryState":{},"beneficiaryAddressLine":{},"beneficiaryBirthDate":{},"bankAccountCountry":{"type":"string","example":"BR"},"bankName":{},"taxId":{},"phoneNumber":{},"bankAccountType":{},"bankAccountHolderName":{"type":"string","example":"dsa"},"bic":{},"iban":{},"accountNumber":{},"documentId":{"type":"string","example":"72.162.402/0001-01"},"bankAccountAlias":{"type":"string","example":"beneficiary@email.com"},"intermediaryBankAccountCountry":{},"intermediaryName":{},"intermediaryTownName":{},"intermediaryPostalCode":{},"routingCodes":{"type":"object","properties":{}},"metadata":{"type":"object","properties":{}}}},"bulkPaymentId":{},"metadata":{"type":"object","properties":{"CONCEPT_CODE":{"type":"string","example":"C_0003"}}},"status":{"type":"string","example":"IN_PROGRESS"},"beneficiaryId":{"type":"string","example":"983b296d-b3e1-4e8c-bcd5-145d89e61773"},"sourceInfo":{"type":"object","properties":{"type":{"type":"string","example":"ACCOUNT"},"identifier":{"type":"string","example":"Nnh2WTllV3dXT0VEZUpFUFliU1h3QT09"}}},"destinationInfo":{"type":"object","properties":{"type":{"type":"string","example":"BANK"},"identifier":{"type":"string","example":"983b296d-b3e1-4e8c-bcd5-145d89e61773"}}},"accountHolderId":{"type":"string","example":"fb56c211-2b84-4945-82cc-68f288a2ec21"},"type":{"type":"string","example":"PAYOUT"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}}},"x-readme":{"headers":[{"key":"Content-Type","value":"application/json"}],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}