{"openapi":"3.0.0","info":{"title":"Carousal Type Template(Image)","version":"1.0.0"},"servers":[{"url":"https://partner.gupshup.io"}],"paths":{"/partner/app/{appId}/templates":{"post":{"tags":["default"],"summary":"Carousal type template","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","required":["elementName","category","templateType","content","example","vertical","buttons","cards"],"properties":{"elementName":{"type":"string","description":"The name of a template. Element name is unique for a WABAs namespace.","example":"caouseltemplate_kj"},"languageCode":{"type":"string","description":"Language code for the template. Refer to all the language codes here.","example":"en"},"content":{"type":"string","description":"The body of the template","example":"Hey Gupshup! new products:"},"category":{"type":"string","description":"The category of your template.","example":"MARKETING"},"vertical":{"type":"string","description":"vertical (not more than 180 char.)","example":"products"},"templateType":{"type":"string","description":"Type of template ","example":"CAROUSEL"},"example":{"type":"string","description":"Template example","example":"Hey Gupshup! new products:"},"allowTemplateCategoryChange":{"type":"boolean","description":"Boolean value. If True, Meta will automatically update the category of the template as per the template content. Default value is False.","example":"false"},"enableSample":{"type":"boolean","description":"Boolean value","example":"true"},"cards":{"type":"string","description":"Card list","example":"[{\"headerType\":\"IMAGE\",\"mediaUrl\":\"https://www.buildquickbots.com/whatsapp/media/sample/jpg/sample01.jpg\",\"mediaId\":null,\"exampleMedia\":null,\"body\":\"New Year is round the corner {{1}}\",\"sampleText\":\"New Year is round the corner User\",\"buttons\":[{\"type\":\"URL\",\"text\":\"Buy now\",\"url\":\"https://www.luckyshrub.com/shop?promo={{1}}\",\"buttonValue\":\"https://www.luckyshrub.com/shop?promo=\",\"suffix\":\"exotic_produce_2023\",\"example\":[\"https://www.luckyshrub.com/shop?promo=exotic_produce_2023\"]},{\"type\":\"QUICK_REPLY\",\"text\":\"Send more like this\"}]},{\"headerType\":\"IMAGE\",\"mediaUrl\":\"https://www.buildquickbots.com/whatsapp/media/sample/jpg/sample01.jpg\",\"mediaId\":null,\"exampleMedia\":null,\"body\":\"New Year is round the corner {{1}}\",\"sampleText\":\"New Year is round the corner User\",\"buttons\":[{\"type\":\"URL\",\"text\":\"Buy now\",\"url\":\"https://www.luckyshrub.com/shop?promo={{1}}\",\"buttonValue\":\"https://www.luckyshrub.com/shop?promo=\",\"suffix\":\"exotic_produce_2023\",\"example\":[\"https://www.luckyshrub.com/shop?promo=exotic_produce_2023\"]},{\"type\":\"QUICK_REPLY\",\"text\":\"Send more like this\"}]},\n{\"headerType\":\"IMAGE\",\"mediaUrl\":\"https://www.buildquickbots.com/whatsapp/media/sample/jpg/sample01.jpg\",\"mediaId\":null,\"exampleMedia\":null,\"body\":\"New Year is round the corner {{1}}\",\"sampleText\":\"New Year is round the corner User\",\"buttons\":[{\"type\":\"URL\",\"text\":\"Buy now\",\"url\":\"https://www.luckyshrub.com/shop?promo={{1}}\",\"buttonValue\":\"https://www.luckyshrub.com/shop?promo=\",\"suffix\":\"exotic_produce_2023\",\"example\":[\"https://www.luckyshrub.com/shop?promo=exotic_produce_2023\"]},{\"type\":\"QUICK_REPLY\",\"text\":\"Send more like this\"}]},{\"headerType\":\"IMAGE\",\"mediaUrl\":\"https://www.buildquickbots.com/whatsapp/media/sample/jpg/sample01.jpg\",\"mediaId\":null,\"exampleMedia\":null,\"body\":\"New Year is round the corner {{1}}\",\"sampleText\":\"New Year is round the corner User\",\"buttons\":[{\"type\":\"URL\",\"text\":\"Buy now\",\"url\":\"https://www.luckyshrub.com/shop?promo={{1}}\",\"buttonValue\":\"https://www.luckyshrub.com/shop?promo=\",\"suffix\":\"exotic_produce_2023\",\"example\":[\"https://www.luckyshrub.com/shop?promo=exotic_produce_2023\"]},{\"type\":\"QUICK_REPLY\",\"text\":\"Send more like this\"}]}]"}}}}}},"parameters":[{"name":"token","in":"header","schema":{"type":"string"},"description":"Your app token, please refer [**Get access token api**](https://docs.gupshup.io/reference/get_partner-app-appid-token) to get the token from partner documentation.","example":"sk_61b3021c97214370b341f8baaae0xxxx","required":true},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"description":"Unique identifier of the app.","example":"9e97650d-xxxx-xxxx-xxxx-4cdf47c3fa68"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"template":{"type":"object","properties":{"appId":{"type":"string","example":"a41b30f4-d202-4fdb-911e-3a8fbfbfb797"},"category":{"type":"string","example":"MARKETING"},"containerMeta":{"type":"string","example":{"appId":"a41b30f4-d202-4fdb-911e-3a8fbfbfb797","data":"Hey Gupshup! new products:","cards":[{"headerType":"IMAGE","mediaUrl":"https://www.buildquickbots.com/whatsapp/media/sample/jpg/sample01.jpg","body":"New Year is round the corner {{1}}","sampleText":"New Year is round the corner User","buttons":[{"type":"URL","text":"Buy now","url":"https://www.luckyshrub.com/shop?promo={{1}}","example":["https://www.luckyshrub.com/shop?promo=exotic_produce_2023"]},{"type":"QUICK_REPLY","text":"Send more like this"}]},{"headerType":"IMAGE","mediaUrl":"https://www.buildquickbots.com/whatsapp/media/sample/jpg/sample01.jpg","body":"New Year is round the corner {{1}}","sampleText":"New Year is round the corner User","buttons":[{"type":"URL","text":"Buy now","url":"https://www.luckyshrub.com/shop?promo={{1}}","example":["https://www.luckyshrub.com/shop?promo=exotic_produce_2023"]},{"type":"QUICK_REPLY","text":"Send more like this"}]},{"headerType":"IMAGE","mediaUrl":"https://www.buildquickbots.com/whatsapp/media/sample/jpg/sample01.jpg","body":"New Year is round the corner {{1}}","sampleText":"New Year is round the corner User","buttons":[{"type":"URL","text":"Buy now","url":"https://www.luckyshrub.com/shop?promo={{1}}","example":["https://www.luckyshrub.com/shop?promo=exotic_produce_2023"]},{"type":"QUICK_REPLY","text":"Send more like this"}]},{"headerType":"IMAGE","mediaUrl":"https://www.buildquickbots.com/whatsapp/media/sample/jpg/sample01.jpg","body":"New Year is round the corner {{1}}","sampleText":"New Year is round the corner User","buttons":[{"type":"URL","text":"Buy now","url":"https://www.luckyshrub.com/shop?promo={{1}}","example":["https://www.luckyshrub.com/shop?promo=exotic_produce_2023"]},{"type":"QUICK_REPLY","text":"Send more like this"}]}],"sampleText":"Hey Gupshup! new products:","enableSample":true,"editTemplate":false,"allowTemplateCategoryChange":false,"addSecurityRecommendation":false}},"createdOn":{"type":"integer","format":"int64","example":"1715600418102"},"data":{"type":"string","example":"Hey Gupshup! new products:"},"elementName":{"type":"string","example":"caouseltemplate_kj"},"id":{"type":"string","example":"7efb9be8-c9b5-48e9-af0e-1e495b4ed2a3"},"languageCode":{"type":"string","example":"en"},"languagePolicy":{"type":"string","example":"deterministic"},"meta":{"type":"string","example":{"example":"Hey Gupshup! new products:"}},"modifiedOn":{"type":"integer","format":"int64","example":"1715600418102"},"namespace":{"type":"string","example":"9c7fe92f_2a48_40ec_83d0_69c62a772433"},"priority":{"type":"integer","format":"int32","example":"1"},"quality":{"type":"string","example":"UNKNOWN"},"retry":{"type":"integer","format":"int32","example":"0"},"stage":{"type":"string","example":"NONE"},"status":{"type":"string","example":"PENDING"},"templateType":{"type":"string","example":"CAROUSEL"},"vertical":{"type":"string","example":"products"},"wabaId":{"type":"string","example":"104505526065633"}}}}}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Too Many Requests"},"status":{"type":"string","example":"error"}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Internal server error"},"status":{"type":"string","example":"error"}}}}}}}}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}