{"openapi":"3.0.0","info":{"title":"Partner Release 8.5 Apis","version":"1.0.0"},"servers":[{"url":"https://partner.gupshup.io"}],"tags":[{"name":"WhatsApp Pay"},{"name":"Template Comparison"},{"name":"Template Analytics"}],"paths":{"/partner/app/{appId}/payments/{payment_configuration}/{reference_id}":{"get":{"tags":["WhatsApp Pay"],"summary":"Payment Status Check API","description":"Api to check payment status of Whatsapp pay Transactions","parameters":[{"name":"token","in":"header","schema":{"type":"string"},"required":true,"description":"Your app token, please refer [**Get access token api**](https://docs.gupshup.io/reference/get_partner-app-appid-token) to get the token from partner documentation.","example":"sk_61b3021c97214370b341f8baaae0xxxx"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"description":"Unique identifier of the app.","example":"9e97650d-xxxx-xxxx-xxxx-4cdf47c3fa68"},{"name":"payment_configuration","in":"path","schema":{"type":"string"},"required":true,"description":"Payment config to be used in for whatsapp pay transaction","example":"Gupshup-testing"},{"name":"reference_id","in":"path","schema":{"type":"string"},"required":true,"description":"Unique id to identify a each transaction","example":"BM345A-16"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","title":"Payment status check success response","properties":{"payments":{"type":"array","items":{"type":"object","properties":{"reference_id":{"type":"string","example":"BM345A-16"},"status":{"type":"string","example":"CAPTURED"},"amount":{"type":"object","properties":{"offset":{"type":"integer","format":"int32","example":"100"},"value":{"type":"integer","format":"int32","example":"100"}}},"currency":{"type":"string","example":"INR"},"transactions":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"order_NXtDlCJBziFTnj"},"type":{"type":"string","example":"razorpay"},"status":{"type":"string","example":"success"},"created_timestamp":{"type":"integer","format":"int32","example":"1707287109"},"updated_timestamp":{"type":"integer","format":"int32","example":"1707287109"},"refunds":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"rfnd_NXtF8rj6lP7Ag7"},"amount":{"type":"object","properties":{"offset":{"type":"integer","format":"int32","example":"100"},"value":{"type":"integer","format":"int32","example":"100"}}},"speed_processed":{"type":"string","example":"normal"},"status":{"type":"string","example":"completed"},"created_timestamp":{"type":"integer","format":"int32","example":"1707287160"},"updated_timestamp":{"type":"integer","format":"int32","example":"1707287228"}}}},"amount":{"type":"object","properties":{"offset":{"type":"integer","format":"int32","example":"100"},"value":{"type":"integer","format":"int32","example":"100"}}},"currency":{"type":"string","example":"INR"}}}}}}}}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Payment_check_bad_request1"}},"application/json ":{"schema":{"$ref":"#/components/schemas/Payment_check_bad_request2"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"You do not have the required permissions to access this API"},"status":{"type":"integer","example":403}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Internal error occured"},"status":{"type":"integer","example":500}}}}}}}}},"/partner/app/{appId}/payments/refund":{"post":{"tags":["WhatsApp Pay"],"summary":"Payment Refund API","description":" Payment Refund api used to refund a payment of a particular reference id","requestBody":{"content":{"application/json":{"schema":{"type":"object","example":{"reference_id":"reference-id-07","speed":"normal","payment_config_id":"Gupshup-t1esting","amount":{"currency":"INR","value":"100","offset":"100"}}}}}},"parameters":[{"name":"token","in":"header","schema":{"type":"string"},"description":"Your app token, please refer [**Get access token api**](https://docs.gupshup.io/reference/get_partner-app-appid-token) to get the token from partner documentation.","example":"sk_61b3021c97214370b341f8baaae0xxxx","required":true},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"description":"Unique identifier of the app.","example":"9e97650d-xxxx-xxxx-xxxx-4cdf47c3fa68"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","example":"refund-id"},"status":{"type":"string","example":"pending"},"speed_processed":{"type":"string","example":"normal"}}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Payment_refund_bad_request1"}},"application/json ":{"schema":{"$ref":"#/components/schemas/Payment_refund_bad_request2"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"You do not have the required permissions to access this API"},"status":{"type":"integer","example":403}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Internal server error. Please try again later and If Issue still persist than contact Gupshup Dev Support"},"status":{"type":"integer","example":500}}}}}}}}},"/partner/app/{appId}/v3/message":{"post":{"tags":["WhatsApp Pay"],"summary":"Send V3 Session Message","description":"Using this api you can send messages","requestBody":{"content":{"application/json":{"schema":{"type":"object","example":{"messaging_product":"whatsapp","to":"91750608xxxx","type":"{{template_type}}","recipient_type":"individual","{{template_type}}":{}}}}}},"parameters":[{"name":"token","in":"header","schema":{"type":"string"},"description":"Your app token, please refer [**Get access token api**](https://docs.gupshup.io/reference/get_partner-app-appid-token) to get the token from partner documentation.","example":"sk_61b3021c97214370b341f8baaae0xxxx","required":true},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"description":"Unique identifier of the app.","example":"9e97650d-xxxx-xxxx-xxxx-4cdf47c3fa68"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"messages":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"4b0a61e0-4177-4210-889c-26874eb2xxxx"}}}},"messaging_product":{"type":"string","example":"whatsapp"},"contacts":{"type":"array","items":{"type":"object","properties":{"input":{"type":"string","example":"91888899xxxx"},"wa_id":{"type":"string","example":"91888899xxxx"}}}}}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Send_msg_bad_request1"}},"application/json ":{"schema":{"$ref":"#/components/schemas/Send_msg_bad_request2"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"You do not have the required permissions to access this API"},"status":{"type":"integer","example":403}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Internal server error. Please try again later and If Issue still persist than contact Gupshup Dev Support"},"status":{"type":"integer","example":500}}}}}}}}},"/partner/app/{appId}/template/analytics/{templateId}/compare":{"get":{"tags":["Template Comparison"],"summary":"Template Comparison API","description":"Using this api you can compare templates","parameters":[{"name":"token","in":"header","schema":{"type":"string"},"description":"Your app token, please refer [**Get access token api**](https://docs.gupshup.io/reference/get_partner-app-appid-token) to get the token from partner documentation.","example":"sk_61b3021c97214370b341f8baaae0xxxx","required":true},{"name":"templateList","in":"query","schema":{"type":"string"},"example":"0aaba456-6f57-4f63-b9c8-c7b6efc5xxxx","required":true},{"name":"end","in":"query","schema":{"type":"integer"},"example":"1719964800","required":true},{"name":"start","in":"query","schema":{"type":"integer"},"example":"1712188800","required":true},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"description":"Unique identifier of the app.","example":"9e97650d-xxxx-xxxx-xxxx-4cdf47c3fa68"},{"name":"templateId","in":"path","schema":{"type":"string"},"required":true,"example":"73c7e112-ef66-41eb-b4c1-0fb5d85526d2"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"metric":{"type":"string","example":"BLOCK_RATE"},"order_by_relative_metric":{"type":"array","items":{"type":"string","example":"eb955f0b-837c-4b2f-a761-a0d71c3b8a0e"},"example":["eb955f0b-837c-4b2f-a761-a0d71c3b8a0e"]},"type":{"type":"string","example":"RELATIVE"},"number_values":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","example":"7ee65d64-a3d5-49a5-9e05-0a75d5f7f8f6"},"value":{"type":"integer","format":"int32","example":"1116"}}},"example":[{"key":"7ee65d64-a3d5-49a5-9e05-0a75d5f7f8f6","value":1116}]},"string_values":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","example":"7ee65d64-a3d5-49a5-9e05-0a75d5f7f8f6"},"value":{"type":"string","example":"UNKNOWN_BLOCK_REASON"}}},"example":[{"key":"7ee65d64-a3d5-49a5-9e05-0a75d5f7f8f6","value":"UNKNOWN_BLOCK_REASON"}]}}},"example":[{"metric":"BLOCK_RATE","order_by_relative_metric":["eb955f0b-837c-4b2f-a761-a0d71c3b8a0e","7ee65d64-a3d5-49a5-9e05-0a75d5f7f8f6"],"type":"RELATIVE"},{"metric":"MESSAGE_SENDS","number_values":[{"key":"7ee65d64-a3d5-49a5-9e05-0a75d5f7f8f6","value":1116},{"key":"eb955f0b-837c-4b2f-a761-a0d71c3b8a0e","value":1666}],"type":"NUMBER_VALUES"},{"metric":"TOP_BLOCK_REASON","string_values":[{"key":"7ee65d64-a3d5-49a5-9e05-0a75d5f7f8f6","value":"UNKNOWN_BLOCK_REASON"},{"key":"eb955f0b-837c-4b2f-a761-a0d71c3b8a0e","value":"UNKNOWN_BLOCK_REASON"}],"type":"STRING_VALUES"}]},"status":{"type":"string","example":"success"}}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Template_comparision_bad_request1"}},"application/json ":{"schema":{"$ref":"#/components/schemas/Template_comparision_bad_request2"}},"application/json  ":{"schema":{"$ref":"#/components/schemas/Template_comparision_bad_request3"}},"application/json   ":{"schema":{"$ref":"#/components/schemas/Template_comparision_bad_request4"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"You do not have the required permissions to access this API"},"status":{"type":"integer","example":403}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Internal server error. Please try again later and If Issue still persist than contact Gupshup Dev Support"},"status":{"type":"integer","example":500}}}}}}}}},"/partner/app/{appId}/template/analytics":{"get":{"tags":["Template Analytics"],"summary":"Get Template Analytics for a template","description":"API to get template analytics for a template","parameters":[{"name":"token","in":"header","schema":{"type":"string"},"description":"Your app token, please refer [**Get access token api**](https://docs.gupshup.io/reference/get_partner-app-appid-token) to get the token from partner documentation.","example":"sk_61b3021c97214370b341f8baaae0xxxx","required":true},{"name":"start","in":"query","schema":{"type":"integer"},"example":"1711929610","required":true},{"name":"end","in":"query","schema":{"type":"integer"},"example":"1712188810","required":true},{"name":"granularity","in":"query","schema":{"type":"string"},"description":"Optional (default : AGGREGATE)","example":"DAILY"},{"name":"metric_types","in":"query","schema":{"type":"string"},"description":"Optional(Default: SENT,DELIVERED,READ,CLICKED)","example":"SENT,DELIVERED,READ,CLICKED"},{"name":"template_ids","in":"query","schema":{"type":"string"},"example":"100275e3-6c8f-477f-9671-780dd908xxxx","required":true},{"name":"limit","in":"query","schema":{"type":"integer"},"description":" linit should be in range of 0 -30","example":"2","required":true},{"name":"appId","in":"path","schema":{"type":"string"},"example":"9e97650d-xxxx-xxxx-xxxx-4cdf47c3fa68","required":true,"description":"Unique identification of the app"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"template_analytics":{"type":"array","items":{"type":"object","properties":{"delivered":{"type":"integer","format":"int32","example":"0"},"end":{"type":"integer","format":"int32","example":"1712016000"},"read":{"type":"integer","format":"int32","example":"0"},"sent":{"type":"integer","format":"int32","example":"0"},"start":{"type":"integer","format":"int32","example":"1711929600"},"template_id":{"type":"string","example":"c0758280-9f0a-45d4-8452-c48c2d45c82f"}}},"example":[{"delivered":0,"end":1712016000,"read":0,"sent":0,"start":1711929600,"template_id":"c0758280-9f0a-45d4-8452-c48c2d45c82f"}]}}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Get_Template_analytics_bad_request1"}},"application/json ":{"schema":{"$ref":"#/components/schemas/Get_Template_analytics_bad_request2"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"You do not have the required permissions to access this API"},"status":{"type":"integer","example":403}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Internal server error. Please try again later and If Issue still persist than contact Gupshup Dev Support"},"status":{"type":"integer","example":500}}}}}}}},"post":{"tags":["Template Analytics"],"summary":"Enable template analytics setting","description":"API to confirm template analytics on Meta","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","required":["enable"],"properties":{"enable":{"type":"boolean","example":"true","description":"flag to enable template analytics on Meta"},"enableOnUi":{"type":"boolean","description":"flag to enable template analytics on UI.\n\noptional(Default: false)","example":"true"}}}}}},"parameters":[{"name":"token","in":"header","schema":{"type":"string"},"description":"Your app token, please refer [**Get access token api**](https://docs.gupshup.io/reference/get_partner-app-appid-token) to get the token from partner documentation.","example":"sk_61b3021c97214370b341f8baaae0xxxx","required":true},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"description":"Unique identifier of the app.","example":"9e97650d-xxxx-xxxx-xxxx-4cdf47c3fa68"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"stauts":{"type":"string","example":"sucess"}}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Authentication Failed"},"status":{"type":"string","example":"error"}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"You do not have the required permissions to access this API"},"status":{"type":"integer","example":403}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Internal server error. Please try again later and If Issue still persist than contact Gupshup Dev Support"},"status":{"type":"integer","example":500}}}}}}}}},"/partner/app/{appId}/template/analytics/buttonclick":{"post":{"tags":["Template Analytics"],"summary":"Disable button click analytics","description":"API to disable button click analytics for a template","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","required":["templateId","disable"],"properties":{"templateId":{"type":"string","description":"gs-template id of template","example":"{{TEMPLATE_ID}}"},"disable":{"type":"boolean","description":"flag to disable or enable button click analytics","example":"false"}}}}}},"parameters":[{"name":"token","in":"header","schema":{"type":"string"},"description":"Your app token, please refer [**Get access token api**](https://docs.gupshup.io/reference/get_partner-app-appid-token) to get the token from partner documentation.","example":"sk_61b3021c97214370b341f8baaae0xxxx","required":true},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"description":"Unique identifier of the app.","example":"9e97650d-xxxx-xxxx-xxxx-4cdf47c3fa68"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"stauts":{"type":"string","example":"sucess"}}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Please pass template id"},"status":{"type":"string","example":"error"}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"You do not have the required permissions to access this API"},"status":{"type":"integer","example":403}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Internal server error. Please try again later and If Issue still persist than contact Gupshup Dev Support"},"status":{"type":"integer","example":500}}}}}}}}}},"components":{"schemas":{"Payment_check_bad_request1":{"title":"Reference id invalid","type":"object","properties":{"status":{"type":"string","example":"error"},"message":{"type":"string","example":"(#134006) Reference id is invalid"}}},"Payment_check_bad_request2":{"title":"Payment configuration id is invalid","type":"object","properties":{"status":{"type":"string","example":"error"},"message":{"type":"string","example":"(#134009) Payment configuration id is invalid"}}},"Payment_refund_bad_request1":{"title":"Generic user error","type":"object","properties":{"status":{"type":"string","example":"error"},"message":{"type":"string","example":"(#135000) Generic user error"}}},"Payment_refund_bad_request2":{"title":"Parameter ref id required error","type":"object","properties":{"status":{"type":"string","example":"error"},"message":{"type":"string","example":"(#100) The parameter reference_id is required"}}},"Send_msg_bad_request1":{"title":"Callback Billing must be enabled for this API","type":"object","properties":{"status":{"type":"string","example":"error"},"message":{"type":"string","example":"Callback Billing must be enabled for this API"}}},"Send_msg_bad_request2":{"title":"The provided app is not of the expected type for this API. Please ensure that the app is on cloud","type":"object","properties":{"status":{"type":"string","example":"error"},"message":{"type":"string","example":"The provided app is not of the expected type for this API. Please ensure that the app is on cloud"}}},"Template_comparision_bad_request1":{"title":"Not Template Owner","type":"object","properties":{"status":{"type":"string","example":"error"},"message":{"type":"string","example":"Not Template Owner"}}},"Template_comparision_bad_request2":{"title":"The parameter start_timestamp should be less than end_timestamp","type":"object","properties":{"status":{"type":"string","example":"error"},"message":{"type":"string","example":"The parameter start_timestamp should be less than end_timestamp."}}},"Template_comparision_bad_request3":{"title":"The difference between start and end times should be the number of seconds in 7, 30, 60 or 90 days","type":"object","properties":{"status":{"type":"string","example":"error"},"message":{"type":"string","example":"The difference between start and end times should be the number of seconds in 7, 30, 60 or 90 days."}}},"Template_comparision_bad_request4":{"title":"One or more templates in the list is not approved","type":"object","properties":{"status":{"type":"string","example":"error"},"message":{"type":"string","example":"One or more templates in the list is not approved."}}},"Get_Template_analytics_bad_request1":{"title":"Start time can't be older than 90 days","type":"object","properties":{"status":{"type":"string","example":"error"},"message":{"type":"string","example":"Start time can't be older than 90 days"}}},"Get_Template_analytics_bad_request2":{"title":"Template Analytics settings for app {{appId}} does not exist","type":"object","properties":{"status":{"type":"string","example":"error"},"message":{"type":"string","example":"Template Analytics settings for app {{appId}} does not exist"}}}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}