{"openapi":"3.0.3","info":{"title":"Partner Portal Public APIs","version":"1.0.0"},"servers":[{"url":"https://partner.gupshup.io"}],"tags":[{"name":"Account"},{"name":"Partner"},{"name":"App"},{"name":"App > OnBoarding Api's"}],"paths":{"/partner/account/login":{"post":{"tags":["Account"],"summary":"partner account login","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"properties":{"email":{"type":"string","description":"Partner  email","example":"test@gupshup.io"},"password":{"type":"string","description":"Password","example":"Test@123"}}}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{}}},"400":{"description":"Bad request","content":{"application/json":{}}},"403":{"description":"Forbidden","content":{"application/json":{}}},"500":{"description":"Internal server error","content":{"application/json":{}}}}}},"/partner/account/api/partnerApps":{"get":{"tags":["Partner"],"summary":"get partner apps","parameters":[{"name":"Authorization","in":"header","schema":{"type":"string"},"example":"{{PARTNER_TOKEN}}"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}},"400":{"description":"Bad request","content":{"application/json":{}}},"401":{"description":"Unauthorized","content":{"application/json":{}}},"500":{"description":"Internal server error","content":{"application/json":{}}}}}},"/partner/account/api/appLink":{"post":{"tags":["Partner"],"summary":"link app using apiKey","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"properties":{"apiKey":{"type":"string","example":"7e411e0332704866c83b94df2eaa2054"},"appName":{"type":"string","example":"assistant0092"}}}}}},"parameters":[{"name":"Authorization","in":"header","schema":{"type":"string"},"example":"{{PARTNER_TOKEN}}"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}},"400":{"description":"Bad request","content":{"application/json":{}}},"401":{"description":"Unauthorized","content":{"application/json":{}}},"500":{"description":"Internal server error","content":{"application/json":{}}}}}},"/partner/account/api/event/incoming":{"get":{"tags":["Partner"],"summary":"get Partner App Inbound Message","parameters":[{"name":"token","in":"header","schema":{"type":"string"},"example":"{{PARTNER_TOKEN}}"},{"name":"id","in":"query","schema":{"type":"string"},"description":"event id","example":"9e97a0d-add3-4as557-1535-4cdf47c3fa68"},{"name":"appId","in":"query","schema":{"type":"string"},"example":"1e899553-fb5c-434e-a81f-2204207840e9"},{"name":"date","in":"query","schema":{"type":"string"},"example":"10-01-2023"},{"name":"start","in":"query","schema":{"type":"integer"},"example":"1673303513"},{"name":"end","in":"query","schema":{"type":"integer"},"example":"1673307113"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}},"400":{"description":"Bad request","content":{"application/json":{}}},"401":{"description":"Unauthorized","content":{"application/json":{}}},"500":{"description":"Internal server error","content":{"application/json":{}}}}}},"/partner/account/api/event/outgoing":{"get":{"tags":["Partner"],"summary":"get Partner App Outbound Message","parameters":[{"name":"token","in":"header","schema":{"type":"string"},"example":"{{PARTNER_TOKEN}}"},{"name":"id","in":"query","schema":{"type":"string"},"description":"optional","example":"9e97a0d-add3-4as557-1535-4cdf47c3fa68"},{"name":"appId","in":"query","schema":{"type":"string"},"example":"1e899553-fb5c-434e-a81f-2204207840e9"},{"name":"date","in":"query","schema":{"type":"string"},"example":"10-01-2023"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}},"400":{"description":"Bad request","content":{"application/json":{}}},"401":{"description":"Unauthorized","content":{"application/json":{}}},"500":{"description":"Internal server error","content":{"application/json":{}}}}}},"/partner/app":{"post":{"tags":["App > OnBoarding Api's"],"summary":"APP | Create application from Partner Portal","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"properties":{"name":{"type":"string","example":"TestApp"},"templateMessaging":{"type":"boolean","example":"true"},"disableOptinPrefUrl":{"type":"boolean","example":"true"}}}}}},"parameters":[{"name":"token","in":"header","schema":{"type":"string"},"example":"{{PARTNER_TOKEN}}"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}},"400":{"description":"Bad request","content":{"application/json":{}}},"401":{"description":"Unauthorized","content":{"application/json":{}}},"500":{"description":"Internal server error","content":{"application/json":{}}}}}},"/partner/app/{appId}":{"put":{"tags":["App > OnBoarding Api's"],"summary":"APP | Update application from Partner Portal","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"properties":{"templateMessaging":{"type":"boolean","example":"false"},"storageRegion":{"type":"string","example":"FBC"},"disableOptinPrefUrl":{"type":"boolean","example":"false"}}}}}},"parameters":[{"name":"token","in":"header","schema":{"type":"string"},"example":"{{PARTNER_TOKEN}}"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"example":"0ee06d0b-3816-4a44-9594-2eb970f175db"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}},"400":{"description":"Bad request","content":{"application/json":{}}},"401":{"description":"Unauthorized","content":{"application/json":{}}},"500":{"description":"Internal server error","content":{"application/json":{}}}}}},"/partner/app/list":{"get":{"tags":["App > OnBoarding Api's"],"summary":"APP | Filter and get list of app for the partner","parameters":[{"name":"token","in":"header","schema":{"type":"string"},"example":"{{PARTNER_TOKEN}}"},{"name":"name","in":"query","schema":{"type":"string"},"example":"user name"},{"name":"phone","in":"query","schema":{"type":"integer"},"example":"1234567890"},{"name":"pageNo","in":"query","schema":{"type":"integer"},"example":"1"},{"name":"pageSize","in":"query","schema":{"type":"integer"},"example":"1"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}},"400":{"description":"Bad request","content":{"application/json":{}}},"401":{"description":"Unauthorized","content":{"application/json":{}}},"500":{"description":"Internal server error","content":{"application/json":{}}}}}},"/partner/app/{appId}/details":{"get":{"tags":["App > OnBoarding Api's"],"summary":"APP | Get app details based on appId","parameters":[{"name":"token","in":"header","schema":{"type":"string"},"example":"{{PARTNER_TOKEN}}"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"example":"0ee06d0b-3816-4a44-9594-2eb970f175db"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}},"400":{"description":"Bad request","content":{"application/json":{}}},"401":{"description":"Unauthorized","content":{"application/json":{}}},"500":{"description":"Internal server error","content":{"application/json":{}}}}}},"/partner/app/{appId}/callback":{"put":{"tags":["App > OnBoarding Api's"],"summary":"APP | Set callback for an app id","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"properties":{"url":{"type":"string","example":"https://test.io"},"directForwarding":{"type":"boolean","example":"false"},"notifyWithPhone":{"type":"boolean","example":"false"},"modes":{"type":"string","example":"SENT,DELETED,DELIVERED,READ"}}}}}},"parameters":[{"name":"token","in":"header","schema":{"type":"string"},"example":"{{PARTNER_TOKEN}}"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"example":"0ee06d0b-3816-4a44-9594-2eb970f175db"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}},"400":{"description":"Bad request","content":{"application/json":{}}},"401":{"description":"Unauthorized","content":{"application/json":{}}},"500":{"description":"Internal server error","content":{"application/json":{}}}}}},"/partner/app/{appId}/onboarding/contact":{"put":{"tags":["App > OnBoarding Api's"],"summary":"APP | Set contact details for an app","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"properties":{"contactEmail":{"type":"string","example":"test@gmail.com"},"contactName":{"type":"string","example":"contact name"},"contactNumber":{"type":"integer","example":"1234567890"}}}}}},"parameters":[{"name":"token","in":"header","schema":{"type":"string"},"example":"{{PARTNER_TOKEN}}"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"example":"0ee06d0b-3816-4a44-9594-2eb970f175db"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}},"400":{"description":"Bad request","content":{"application/json":{}}},"401":{"description":"Unauthorized","content":{"application/json":{}}},"500":{"description":"Internal server error","content":{"application/json":{}}}}}},"/partner/app/{appId}/onboarding/contact/email/resend":{"post":{"tags":["App > OnBoarding Api's"],"summary":"APP | Resend verification link","requestBody":{"content":{}},"parameters":[{"name":"token","in":"header","schema":{"type":"string"},"example":"{{PARTNER_TOKEN}}"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"example":"0ee06d0b-3816-4a44-9594-2eb970f175db"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}},"400":{"description":"Bad request","content":{"application/json":{}}},"401":{"description":"Unauthorized","content":{"application/json":{}}},"500":{"description":"Internal server error","content":{"application/json":{}}}}}},"/partner/app/{appId}/onboarding/embed/link":{"get":{"tags":["App > OnBoarding Api's"],"summary":"APP | Generate embed signed link","parameters":[{"name":"token","in":"header","schema":{"type":"string"},"example":"{{PARTNER_TOKEN}}"},{"name":"regenerate","in":"query","schema":{"type":"boolean"},"example":"true"},{"name":"user","in":"query","schema":{"type":"string"},"example":"user name"},{"name":"lang","in":"query","schema":{"type":"string"},"example":"English"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"example":"0ee06d0b-3816-4a44-9594-2eb970f175db"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}},"400":{"description":"Bad request","content":{"application/json":{}}},"401":{"description":"Unauthorized","content":{"application/json":{}}},"500":{"description":"Internal server error","content":{"application/json":{}}}}}},"/partner/app/{appId}/templates":{"get":{"tags":["App"],"summary":"App | Get Templates","parameters":[{"name":"Authorization","in":"header","schema":{"type":"string"},"example":"{{PARTNER_APP_TOKEN}}"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"example":"9e97650d-add3-4557-9535-4cdf47c3fa68"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}},"400":{"description":"Bad request","content":{"application/json":{}}},"401":{"description":"Unauthorized","content":{"application/json":{}}},"500":{"description":"Internal server error","content":{"application/json":{}}}}},"post":{"tags":["App"],"summary":"App | Apply For Templates with sample media","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"anyOf":[{"title":"Apply For Template With Sample Media","type":"object","properties":{"elementName":{"type":"string","example":"ticket_check_url_4245343"},"languageCode":{"type":"string","example":"en_US"},"content":{"type":"string","example":"Your verification code is {{1}}."},"footer":{"type":"string","description":"Footer of the template. Character limit: 60","example":"This is the footer"},"category":{"type":"string","description":"The category of your template. Possible Values: AUTHENTICATION, MARKETING and UTILITY.\nIf you submit the templates with the any other categories, you will receive an error Invalid category provided, kindly use category from these option AUTHENTICATION, MARKETING, UTILITY.","example":"MARKETING"},"templateType":{"type":"string","example":"IMAGE"},"vertical":{"type":"string","example":"Ticket update"},"appId":{"type":"string","example":"9e97650d-add3-4557-9535-4cdf47c3fa68"},"example":{"type":"string","example":"Your verification code is 213."},"exampleMedia":{"type":"string","example":"4::aW1hZ2UvcadG5n:ARYaMMMA2QvIXuQZdPjWVXTOqfoBU3n0L1Ftyg4w57yxi9nD105yQDvW2nu3-HNo9HGefxZ-Ig-HAi3YSsckwIsOEUwxSPatsxT0Niob30E63A:e:1634884682:2281283925530161:100033655335566:ARaBAxW-1L-ZRu6SMSg"},"enableSample":{"type":"boolean","description":"Required when submitting CTA template with variables.","example":"true"},"allowTemplateCategoryChange":{"type":"boolean","description":"Boolean value. If True, Meta will automatically update the category of the template as per the template content. Default value is False. If the category gets updated, you can view the oldCategory from the Get Templates API","example":"false"}}},{"title":"Apply For Templates","type":"object","properties":{"elementName":{"type":"string","description":"The name of a template. Element name is unique for a WABAs namespace.","example":"ticket_check_url_4245343"},"languageCode":{"type":"string","description":"Language code for the template. Refer to all the language codes here.","example":"en_US"},"category":{"type":"string","description":"The category of your template. Possible Values: AUTHENTICATION, MARKETING and UTILITY.\nIf you submit the templates with the any other categories, you will receive an error Invalid category provided, kindly use category from these option AUTHENTICATION, MARKETING, UTILITY.","example":"MARKETING"},"templateType":{"type":"string","description":"The type of template: TEXT, IMAGE, LOCATION, VIDEO & DOCUMENT","example":"TEXT"},"vertical":{"type":"string","description":"Character limit: 180","example":"TEXT"},"content":{"type":"string","description":"The body of the template. Character limit: 1028. For “Authentication” category the first line should be - {{1}} is your verification code.","example":"your ticket has been confirmed for {{1}} persons on date {{2}}."},"header":{"type":"string","description":"Header of the template. Applicable for templateType = Text Character limit: 60. Not applicable for “Authentication” category.","example":"This is the header"},"footer":{"type":"string","description":"Footer of the template. Character limit: 60. Not applicable for “Authentication” category, only set based on code_expiration_minutes value","example":"This is the footer"},"buttons":{"type":"string","description":"Used only if your template has a CTA. An example is also submitted if a URL button has variable parameter. For “Authentication” category OTP button type is supported with two otp_type:\n1. COPY_CODE\n2. ONE_TAP\nIf otp_type is set to ONE_TAP, three additional parameters are required:\n\n1. autofill_text\n2. package_name\n3. signature_hash","example":"[{\"type\":\"PHONE_NUMBER\",\"text\":\"Call Us\",\"phone_number\":\"+919872329959\"},{\"type\":\"URL\",\"text\":\"Book A Demo\",\"url\":\"https://bookins.gupshup.io/{{1}}\",\"example\":[\"https://bookins.gupshup.io/abc\"]}] or for “Authentication” category: [{\"type\":\"OTP\",\"otp_type\":\"COPY_CODE\",\"text\":\"Copy OTP\"},{\"type\":\"OTP\", “otp-type”: “ONE_TAP”, \"text\":\"Book A Demo\", \"autofill_text\": \"Autofill\", #One-tap buttons only \"package_name\": \"com.example.myapplication\" #One-tap buttons only , \"signature_hash\": \"K8a%2FAINcGX7\", #One-tap buttons only }]"},"example":{"type":"string","description":"An example of the template.","example":"your ticket has been confirmed for 4 persons on date 2020-05-04."},"enableSample":{"type":"boolean","description":"Required for creating all types of templates.","example":"true"},"allowTemplateCategoryChange":{"type":"boolean","description":"Boolean value. If True, Meta will automatically update the category of the template as per the template content. Default value is False. If the category gets updated, you can view the oldCategory from the Get Templates API","example":"false"},"exampleHeader":{"type":"string","example":"This is the header"},"addSecurityRecommendation":{"type":"boolean","description":"Optionally for \"Authentication\" category a security disclaimer is added to content - For your security, do not share this code","example":"true"},"codeExpirationMinutes":{"type":"integer","description":"Optionally for “Authentication” category the following text is added to footer - This code expires in <NUM_MINUTES> minutes. Code expiry time should be between 1 and 90 minutes.","example":"2"}}}]}}}},"parameters":[{"name":"Authorization","in":"header","schema":{"type":"string"},"example":"{{PARTNER_APP_TOKEN}}"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"example":"9e97650d-add3-4557-9535-4cdf47c3fa68"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}},"400":{"description":"Bad request","content":{"application/json":{}}},"401":{"description":"Unauthorized","content":{"application/json":{}}},"500":{"description":"Internal server error","content":{"application/json":{}}}}}},"/partner/app/{appId}/template/{elementName}":{"delete":{"tags":["App"],"summary":"App | Delete Template","parameters":[{"name":"Authorization","in":"header","schema":{"type":"string"},"example":"{{PARTNER_APP_TOKEN}}"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"example":"9e97650d-add3-4557-9535-4cdf47c3fa68"},{"name":"elementName","in":"path","schema":{"type":"string"},"required":true,"example":"ticket_check_url_4245343"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}},"400":{"description":"Bad request","content":{"application/json":{}}},"401":{"description":"Unauthorized","content":{"application/json":{}}},"500":{"description":"Internal server error","content":{"application/json":{}}}}}},"/partner/app/{appId}/token":{"get":{"tags":["App"],"summary":"App | Get access Token","parameters":[{"name":"Authorization","in":"header","schema":{"type":"string"},"example":"{{PARTNER_TOKEN}}"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"example":"9e97650d-add3-4557-9535-4cdf47c3fa68"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}},"400":{"description":"Bad request","content":{"application/json":{}}},"401":{"description":"Unauthorized","content":{"application/json":{}}},"500":{"description":"Internal server error","content":{"application/json":{}}}}}},"/partner/app/{appId}/ratings":{"get":{"tags":["App"],"summary":"App | Get Quality Ratings","parameters":[{"name":"Authorization","in":"header","schema":{"type":"string"},"example":"{{PARTNER_APP_TOKEN}}"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}},"400":{"description":"Bad request","content":{"application/json":{}}},"401":{"description":"Unauthorized","content":{"application/json":{}}},"500":{"description":"Internal server error","content":{"application/json":{}}}}}},"/partner/app/{appId}/userStatus":{"get":{"tags":["App"],"summary":"App | Get User Status","parameters":[{"name":"Authorization","in":"header","schema":{"type":"string"},"example":"{{PARTNER_APP_TOKEN}}"},{"name":"phone","in":"query","schema":{"type":"integer"},"example":"918286836492"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"example":"9e97650d-add3-4557-9535-4cdf47c3fa68"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}},"400":{"description":"Bad request","content":{"application/json":{}}},"401":{"description":"Unauthorized","content":{"application/json":{}}},"500":{"description":"Internal server error","content":{"application/json":{}}}}}},"/partner/app/{appId}/wallet/balance":{"get":{"tags":["App"],"summary":"App | Get Wallet Balance","parameters":[{"name":"Authorization","in":"header","schema":{"type":"string"},"example":"{{PARTNER_APP_TOKEN}}"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"example":"9e97650d-add3-4557-9535-4cdf47c3fa68"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}},"400":{"description":"Bad request","content":{"application/json":{}}},"401":{"description":"Unauthorized","content":{"application/json":{}}},"500":{"description":"Internal server error","content":{"application/json":{}}}}}},"/partner/app/{appId}/block":{"put":{"tags":["App"],"summary":"App | Block User","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"properties":{"phone":{"type":"integer","example":"918286836492"},"isBlocked":{"type":"boolean","example":"false"}}}}}},"parameters":[{"name":"Authorization","in":"header","schema":{"type":"string"},"example":"{{PARTNER_APP_TOKEN}}"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"example":"9e97650d-add3-4557-9535-4cdf47c3fa68"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}},"400":{"description":"Bad request","content":{"application/json":{}}},"401":{"description":"Unauthorized","content":{"application/json":{}}},"500":{"description":"Internal server error","content":{"application/json":{}}}}}},"/partner/app/{appId}/health":{"get":{"tags":["App"],"summary":"App | Check Health","parameters":[{"name":"Authorization","in":"header","schema":{"type":"string"},"example":"{{PARTNER_APP_TOKEN}}"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"example":"9e97650d-add3-4557-9535-4cdf47c3fa68"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}},"400":{"description":"Bad request","content":{"application/json":{}}},"401":{"description":"Unauthorized","content":{"application/json":{}}},"500":{"description":"Internal server error","content":{"application/json":{}}}}}},"/partner/app/{appId}/optin":{"put":{"tags":["App"],"summary":"App | Optin App User","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"properties":{"phone":{"type":"integer","example":"918286836492"}}}}}},"parameters":[{"name":"Authorization","in":"header","schema":{"type":"string"},"example":"{{PARTNER_APP_TOKEN}}"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"example":"9e97650d-add3-4557-9535-4cdf47c3fa68"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}},"400":{"description":"Bad request","content":{"application/json":{}}},"401":{"description":"Unauthorized","content":{"application/json":{}}},"500":{"description":"Internal server error","content":{"application/json":{}}}}}},"/partner/app/{appId}/template/msg":{"post":{"tags":["App"],"summary":"App | Send msg With Template ID","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"properties":{"source":{"type":"integer","example":"918910567700"},"sandbox":{"type":"boolean","example":"false"},"destination":{"type":"integer","example":"918286836492"},"template":{"type":"string","example":"{\"id\": \"007b7c0e-fc8d-4698-a9a8-3938151dd5da\",\"params\": [\"monday\",\"2020-12-20\",\"apps\"]}"},"src.name":{"type":"string","example":"GupshupDevAssistant01"},"message":{"type":"number","description":"Required when templateType is 'LOCATION'","example":"{\"type\":\"location\",\"location\":{\"name\":\"1513 Farnum Road\",\"address\":\"New York 10019\",\"longitude\":-79.0896492,\"latitude\":42.5950661}}"}}}}}},"parameters":[{"name":"Authorization","in":"header","schema":{"type":"string"},"example":"{{PARTNER_APP_TOKEN}}"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"example":"9e97650d-add3-4557-9535-4cdf47c3fa68"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}},"400":{"description":"Bad request","content":{"application/json":{}}},"401":{"description":"Unauthorized","content":{"application/json":{}}},"500":{"description":"Internal server error","content":{"application/json":{}}}}}},"/partner/app/{appId}/callbackUrl":{"put":{"tags":["App"],"summary":"App | update callback Url","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"properties":{"callbackUrl":{"type":"string","example":"https://enxaoecznjfe.x.pipedream.net/"}}}}}},"parameters":[{"name":"Authorization","in":"header","schema":{"type":"string"},"example":"{{PARTNER_APP_TOKEN}}"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"example":"9e97650d-add3-4557-9535-4cdf47c3fa68"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}},"400":{"description":"Bad request","content":{"application/json":{}}},"401":{"description":"Unauthorized","content":{"application/json":{}}},"500":{"description":"Internal server error","content":{"application/json":{}}}}}},"/partner/app/{appId}/templates/{templateId}":{"put":{"tags":["App"],"summary":"App | Edit template","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"properties":{"elementName":{"type":"string","example":"ticket_check_url_345456"},"languageCode":{"type":"string","example":"en_US"},"category":{"type":"string","example":"TICKET_UPDATE"},"isMaster":{"type":"boolean","example":"true"},"active":{"type":"boolean","example":"true"},"status":{"type":"string","example":"APPROVED"},"namespace":{"type":"string","example":"4baa9054_9e0b_9569_3dac_6d3b01aa0bbb"},"externalId":{"type":"integer","example":"2132"},"isGlobal":{"type":"boolean","example":"false"},"appId":{"type":"string","example":"9e97650d-add3-4557-9535-4cdf47c3fa68"},"vertical":{"type":"string","example":"BUTTON_CHECK"},"templateType":{"type":"string","example":"TEXT"},"meta":{"type":"string","example":"{\"example\":\"your ticket has been confirmed for {{1}} persons on date {{2}}\"}"},"content":{"type":"string","example":"your ticket has been confirmed for {{1}} persons on date {{2}}."},"buttons":{"type":"string","example":"[{\"type\":\"PHONE_NUMBER\",\"text\":\"connect here\",\"phone_number\":\"+918286836492\"},{\"type\":\"URL\",\"text\":\"check \",\"url\":\"https://www.speedtest.net/{{1}}\"}]"}}}}}},"parameters":[{"name":"Authorization","in":"header","schema":{"type":"string"},"example":"{{PARTNER_APP_TOKEN}}"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true},{"name":"templateId","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}},"400":{"description":"Bad request","content":{"application/json":{}}},"401":{"description":"Unauthorized","content":{"application/json":{}}},"500":{"description":"Internal server error","content":{"application/json":{}}}}}},"/partner/app/{appId}/usage":{"get":{"tags":["App"],"summary":"App | Get App wise Usage","parameters":[{"name":"Authorization","in":"header","schema":{"type":"string"},"example":"{{PARTNER_APP_TOKEN}}"},{"name":"from","in":"query","schema":{"type":"string"},"example":"2022-03-01"},{"name":"to","in":"query","schema":{"type":"string"},"example":"2022-04-01"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"example":"04e6c66b-bb95-4bfc-b75e-4e7391ddc680"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}},"400":{"description":"Bad request","content":{"application/json":{}}},"401":{"description":"Unauthorized","content":{"application/json":{}}},"500":{"description":"Internal server error","content":{"application/json":{}}}}}},"/partner/app/{appId}/appPreference":{"put":{"tags":["App"],"summary":"APP | update add preference","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"properties":{"isHSMEnabled":{"type":"boolean","example":"true"}}}}}},"parameters":[{"name":"Authorization","in":"header","schema":{"type":"string"},"example":"{{PARTNER_APP_TOKEN}}"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"example":"04e6c66b-bb95-4bfc-b75e-4e7391ddc680"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}},"400":{"description":"Bad request","content":{"application/json":{}}},"401":{"description":"Unauthorized","content":{"application/json":{}}},"500":{"description":"Internal server error","content":{"application/json":{}}}}}},"/partner/app/{appId}/capping":{"put":{"tags":["App"],"summary":"APP | Update partner capping","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"properties":{"cap":{"type":"integer","example":"75"}}}}}},"parameters":[{"name":"Authorization","in":"header","schema":{"type":"string"},"example":"{{PARTNER_APP_TOKEN}}"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"example":"04e6c66b-bb95-4bfc-b75e-4e7391ddc680"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}},"400":{"description":"Bad request","content":{"application/json":{}}},"401":{"description":"Unauthorized","content":{"application/json":{}}},"500":{"description":"Internal server error","content":{"application/json":{}}}}}},"/partner/app/{appId}/optinMessagePreference":{"put":{"tags":["App"],"summary":"APP | Update optin message preference","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"properties":{"enableOptinMessage":{"type":"boolean","example":"true"}}}}}},"parameters":[{"name":"Authorization","in":"header","schema":{"type":"string"},"example":"{{PARTNER_APP_TOKEN}}"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"example":"04e6c66b-bb95-4bfc-b75e-4e7391ddc680"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}},"400":{"description":"Bad request","content":{"application/json":{}}},"401":{"description":"Unauthorized","content":{"application/json":{}}},"500":{"description":"Internal server error","content":{"application/json":{}}}}}},"/partner/app/{appId}/callback/mode":{"put":{"tags":["App"],"summary":"APP | Update DLR event","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"properties":{"modes":{"type":"string","example":"abc"}}}}}},"parameters":[{"name":"Authorization","in":"header","schema":{"type":"string"},"example":"{{PARTNER_APP_TOKEN}}"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"example":"04e6c66b-bb95-4bfc-b75e-4e7391ddc680"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}},"400":{"description":"Bad request","content":{"application/json":{}}},"401":{"description":"Unauthorized","content":{"application/json":{}}},"500":{"description":"Internal server error","content":{"application/json":{}}}}}},"/partner/app/{appId}/discount":{"get":{"tags":["App"],"summary":"APP | get appwise discount details","parameters":[{"name":"Authorization","in":"header","schema":{"type":"string"},"example":"{{PARTNER_APP_TOKEN}}"},{"name":"year","in":"query","schema":{"type":"integer"},"example":"2020"},{"name":"month","in":"query","schema":{"type":"integer"},"example":"3"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"example":"04e6c66b-bb95-4bfc-b75e-4e7391ddc680"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}},"400":{"description":"Bad request","content":{"application/json":{}}},"401":{"description":"Unauthorized","content":{"application/json":{}}},"500":{"description":"Internal server error","content":{"application/json":{}}}}}},"/partner/app/{appId}/business/profile/":{"get":{"tags":["App"],"summary":"APP | get profile details","parameters":[{"name":"Authorization","in":"header","schema":{"type":"string"},"example":"{{PARTNER_APP_TOKEN}}"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"example":"04e6c66b-bb95-4bfc-b75e-4e7391ddc680"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}},"400":{"description":"Bad request","content":{"application/json":{}}},"401":{"description":"Unauthorized","content":{"application/json":{}}},"500":{"description":"Internal server error","content":{"application/json":{}}}}}},"/partner/app/{appId}/business/profile":{"put":{"tags":["App"],"summary":"APP | Update profile details","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"properties":{"addLine1":{"type":"integer","example":"123"},"addLine2":{"type":"string","example":"panvel"},"city":{"type":"string","example":"mumbai"},"state":{"type":"string","example":"maharastra"},"pinCode":{"type":"integer","example":"123"},"country":{"type":"string","example":"india"},"vertical":{"type":"string","description":"Param vertical must be one of {OTHER, AUTO, BEAUTY, APPAREL, EDU, ENTERTAIN, EVENT_PLAN, FINANCE, GROCERY, GOVT, HOTEL, HEALTH, NONPROFIT, PROF_SERVICES, RETAIL, TRAVEL, RESTAURANT}","example":"OTHER"},"website1":{"type":"string","example":"123.com"},"website2":{"type":"string","example":"123.com"},"desc":{"type":"string","example":"see desc"},"profileEmail":{"type":"string","example":"123@gmail.com"}}}}}},"parameters":[{"name":"Authorization","in":"header","schema":{"type":"string"},"example":"{{PARTNER_APP_TOKEN}}"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"example":"f69373df-608e-42bd-8417-b8c0fb4e47b5"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}},"400":{"description":"Bad request","content":{"application/json":{}}},"401":{"description":"Unauthorized","content":{"application/json":{}}},"500":{"description":"Internal server error","content":{"application/json":{}}}}}},"/partner/app/{appId}/business/profile/about":{"get":{"tags":["App"],"summary":"APP | get profile about","parameters":[{"name":"Authorization","in":"header","schema":{"type":"string"},"example":"{{PARTNER_APP_TOKEN}}"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"example":"04e6c66b-bb95-4bfc-b75e-4e7391ddc680"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}},"400":{"description":"Bad request","content":{"application/json":{}}},"401":{"description":"Unauthorized","content":{"application/json":{}}},"500":{"description":"Internal server error","content":{"application/json":{}}}}},"put":{"tags":["App"],"summary":"APP | update  profile about","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"properties":{"about":{"type":"string","example":"Test about string"}}}}}},"parameters":[{"name":"Authorization","in":"header","schema":{"type":"string"},"example":"{{PARTNER_APP_TOKEN}}"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"example":"04e6c66b-bb95-4bfc-b75e-4e7391ddc680"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}},"400":{"description":"Bad request","content":{"application/json":{}}},"401":{"description":"Unauthorized","content":{"application/json":{}}},"500":{"description":"Internal server error","content":{"application/json":{}}}}}},"/partner/app/{appId}/business/profile/photo":{"get":{"tags":["App"],"summary":"APP | get profile photo url","parameters":[{"name":"Authorization","in":"header","schema":{"type":"string"},"example":"{{PARTNER_APP_TOKEN}}"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"example":"04e6c66b-bb95-4bfc-b75e-4e7391ddc680"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}},"400":{"description":"Bad request","content":{"application/json":{}}},"401":{"description":"Unauthorized","content":{"application/json":{}}},"500":{"description":"Internal server error","content":{"application/json":{}}}}},"delete":{"tags":["App"],"summary":"APP | delete profile photo","parameters":[{"name":"Authorization","in":"header","schema":{"type":"string"},"example":"{{PARTNER_APP_TOKEN}}"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"example":"04e6c66b-bb95-4bfc-b75e-4e7391ddc680"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}},"400":{"description":"Bad request","content":{"application/json":{}}},"401":{"description":"Unauthorized","content":{"application/json":{}}},"500":{"description":"Internal server error","content":{"application/json":{}}}}},"put":{"tags":["App"],"summary":"APP | update  profile picture","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"image":{"type":"string","format":"binary"}}}}}},"parameters":[{"name":"Authorization","in":"header","schema":{"type":"string"},"example":"{{PARTNER_APP_TOKEN}}"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"example":"04e6c66b-bb95-4bfc-b75e-4e7391ddc680"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}},"400":{"description":"Bad request","content":{"application/json":{}}},"401":{"description":"Unauthorized","content":{"application/json":{}}},"500":{"description":"Internal server error","content":{"application/json":{}}}}}},"/partner/app/{appid}/upload/media":{"post":{"tags":["App"],"summary":"APP | Upload template media","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file_type":{"type":"string","example":"pdf"},"file":{"type":"string","format":"binary"}}}}}},"parameters":[{"name":"Authorization","in":"header","schema":{"type":"string"},"example":"{{PARTNER_APP_TOKEN}}"},{"name":"appid","in":"path","schema":{"type":"string"},"required":true,"example":"04e6c66b-bb95-4bfc-b75e-4e7391ddc680"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}},"400":{"description":"Bad request","content":{"application/json":{}}},"401":{"description":"Unauthorized","content":{"application/json":{}}},"500":{"description":"Internal server error","content":{"application/json":{}}}}}}},"components":{"schemas":{"Apply_For_Templates":{"title":"Apply For Templates","type":"object","properties":{"elementName":{"type":"string","description":"The name of a template. Element name is unique for a WABAs namespace.","example":"ticket_check_url_4245343"},"languageCode":{"type":"string","description":"Language code for the template. Refer to all the language codes here.","example":"en_US"},"category":{"type":"string","description":"The category of your template. Possible Values: AUTHENTICATION, MARKETING and UTILITY.\nIf you submit the templates with the any other categories, you will receive an error Invalid category provided, kindly use category from these option AUTHENTICATION, MARKETING, UTILITY.","example":"MARKETING"},"templateType":{"type":"string","description":"The type of template: TEXT, IMAGE, LOCATION, VIDEO & DOCUMENT","example":"TEXT"},"vertical":{"type":"string","description":"Character limit: 180","example":"TEXT"},"content":{"type":"string","description":"The body of the template. Character limit: 1028. For “Authentication” category the first line should be - {{1}} is your verification code.","example":"your ticket has been confirmed for {{1}} persons on date {{2}}."},"header":{"type":"string","description":"Header of the template. Applicable for templateType = Text Character limit: 60. Not applicable for “Authentication” category.","example":"This is the header"},"footer":{"type":"string","description":"Footer of the template. Character limit: 60. Not applicable for “Authentication” category, only set based on code_expiration_minutes value","example":"This is the footer"},"buttons":{"type":"string","description":"Used only if your template has a CTA. An example is also submitted if a URL button has variable parameter. For “Authentication” category OTP button type is supported with two otp_type:\n1. COPY_CODE\n2. ONE_TAP\nIf otp_type is set to ONE_TAP, three additional parameters are required:\n\n1. autofill_text\n2. package_name\n3. signature_hash","example":"[{\"type\":\"PHONE_NUMBER\",\"text\":\"Call Us\",\"phone_number\":\"+919872329959\"},{\"type\":\"URL\",\"text\":\"Book A Demo\",\"url\":\"https://bookins.gupshup.io/{{1}}\",\"example\":[\"https://bookins.gupshup.io/abc\"]}] or for “Authentication” category: [{\"type\":\"OTP\",\"otp_type\":\"COPY_CODE\",\"text\":\"Copy OTP\"},{\"type\":\"OTP\", “otp-type”: “ONE_TAP”, \"text\":\"Book A Demo\", \"autofill_text\": \"Autofill\", #One-tap buttons only \"package_name\": \"com.example.myapplication\" #One-tap buttons only , \"signature_hash\": \"K8a%2FAINcGX7\", #One-tap buttons only }]"},"example":{"type":"string","description":"An example of the template.","example":"your ticket has been confirmed for 4 persons on date 2020-05-04."},"enableSample":{"type":"boolean","description":"Required for creating all types of templates.","example":"true"},"allowTemplateCategoryChange":{"type":"boolean","description":"Boolean value. If True, Meta will automatically update the category of the template as per the template content. Default value is False. If the category gets updated, you can view the oldCategory from the Get Templates API","example":"false"},"exampleHeader":{"type":"string","example":"This is the header"},"addSecurityRecommendation":{"type":"boolean","description":"Optionally for \"Authentication\" category a security disclaimer is added to content - For your security, do not share this code","example":"true"},"codeExpirationMinutes":{"type":"integer","description":"Optionally for “Authentication” category the following text is added to footer - This code expires in <NUM_MINUTES> minutes. Code expiry time should be between 1 and 90 minutes.","example":"2"}}},"Apply_For_Templates_With_Sample_Media":{"title":"Apply For Template With Sample Media","type":"object","properties":{"elementName":{"type":"string","example":"ticket_check_url_4245343"},"languageCode":{"type":"string","example":"en_US"},"content":{"type":"string","example":"Your verification code is {{1}}."},"footer":{"type":"string","description":"Footer of the template. Character limit: 60","example":"This is the footer"},"category":{"type":"string","description":"The category of your template. Possible Values: AUTHENTICATION, MARKETING and UTILITY.\nIf you submit the templates with the any other categories, you will receive an error Invalid category provided, kindly use category from these option AUTHENTICATION, MARKETING, UTILITY.","example":"MARKETING"},"templateType":{"type":"string","example":"IMAGE"},"vertical":{"type":"string","example":"Ticket update"},"appId":{"type":"string","example":"9e97650d-add3-4557-9535-4cdf47c3fa68"},"example":{"type":"string","example":"Your verification code is 213."},"exampleMedia":{"type":"string","example":"4::aW1hZ2UvcadG5n:ARYaMMMA2QvIXuQZdPjWVXTOqfoBU3n0L1Ftyg4w57yxi9nD105yQDvW2nu3-HNo9HGefxZ-Ig-HAi3YSsckwIsOEUwxSPatsxT0Niob30E63A:e:1634884682:2281283925530161:100033655335566:ARaBAxW-1L-ZRu6SMSg"},"enableSample":{"type":"boolean","description":"Required when submitting CTA template with variables.","example":"true"},"allowTemplateCategoryChange":{"type":"boolean","description":"Boolean value. If True, Meta will automatically update the category of the template as per the template content. Default value is False. If the category gets updated, you can view the oldCategory from the Get Templates API","example":"false"}}}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}