{"openapi":"3.0.2","info":{"title":"TemplateApis","version":"1.0.0"},"servers":[{"url":"https://partner.gupshup.io"}],"tags":[{"name":"App"}],"paths":{"/partner/app/{appId}/templates":{"post":{"tags":["App"],"summary":"Apply For Templates","description":"Using this API, you can Create a template for a particular app","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","required":["elementName","category","templateType","content","example","vertical"],"properties":{"elementName":{"type":"string","description":"The name of a template. Element name is unique for a WABAs namespace.","example":"ticket_check_url_4245343"},"languageCode":{"type":"string","description":"Language code for the template. Refer to all the language codes [*here*](https://support.gupshup.io/hc/en-us/articles/360013321939).","example":"en_US"},"category":{"type":"string","description":"The category of your template. Possible Values: AUTHENTICATION, MARKETING and UTILITY.\nIf you submit the templates with the any other categories, you will receive an error Invalid category provided, kindly use category from these option AUTHENTICATION, MARKETING, UTILITY.","enum":["AUTHENTICATION","MARKETING","UTILITY"],"example":"MARKETING"},"templateType":{"type":"string","description":"The type of template: TEXT, IMAGE, LOCATION, VIDEO, DOCUMENT, PRODUCT and CATALOG","enum":["TEXT","IMAGE","LOCATION","VIDEO","DOCUMENT","PRODUCT","CATALOG"],"example":"TEXT"},"vertical":{"type":"string","description":"Character limit: 180","example":"TEXT"},"content":{"type":"string","description":"The body of the template. Character limit: 1028. For “Authentication” category the first line should be - {{1}} is your verification code.","example":"your ticket has been confirmed for {{1}} persons on date {{2}}."},"header":{"type":"string","description":"Header of the template. \n 1. Applicable for templateType = Text Character limit: 60. \n2. Not applicable for “Authentication” category and template type “CATALOG”","example":"This is the header"},"footer":{"type":"string","description":"Footer of the template. Character limit: 60. Not applicable for “Authentication” category, only set based on code_expiration_minutes value","example":"This is the footer"},"buttons":{"type":"string","description":"* Used only if your template has a CTA. An example is also submitted if a URL button has variable parameter. For “Authentication” category OTP button type is supported with two otp_type:\n\t1. COPY_CODE\n\t2. ONE_TAP\nIf otp_type is set to ONE_TAP. \n\n* Three additional parameters are required:\n\n\t1. autofill_text\n\t2. package_name\n\t3. signature_hash","example":"[{\"type\":\"PHONE_NUMBER\",\"text\":\"Call Us\",\"phone_number\":\"+919872329959\"},{\"type\":\"URL\",\"text\":\"Book A Demo\",\"url\":\"https://bookins.gupshup.io/{{1}}\",\"example\":[\"https://bookins.gupshup.io/abc\"]}] or for “Authentication” category: [{\"type\":\"OTP\",\"otp_type\":\"COPY_CODE\",\"text\":\"Copy OTP\"},{\"type\":\"OTP\", “otp-type”: “ONE_TAP”, \"text\":\"Book A Demo\", \"autofill_text\": \"Autofill\", #One-tap buttons only \"package_name\": \"com.example.myapplication\" #One-tap buttons only , \"signature_hash\": \"K8a%2FAINcGX7\", #One-tap buttons only }]"},"example":{"type":"string","description":"An example of the template.","example":"your ticket has been confirmed for 4 persons on date 2020-05-04."},"enableSample":{"type":"boolean","description":"Required for creating all types of templates.","example":"true"},"allowTemplateCategoryChange":{"type":"boolean","description":"Boolean value. If True, Meta will automatically update the category of the template as per the template content. Default value is False. If the category gets updated, you can view the oldCategory from the Get Templates API.","example":"false"},"exampleHeader":{"type":"string","description":"Not applicable for template type: CATALOG","example":"This is the header"},"addSecurityRecommendation":{"type":"boolean","description":"Optionally for \"Authentication\" category a security disclaimer is added to content - For your security, do not share this code.","example":"true"},"codeExpirationMinutes":{"type":"integer","description":"Optionally for “Authentication” category the following text is added to footer - This code expires in <NUM_MINUTES> minutes. Code expiry time should be between 1 and 90 minutes.","example":"2"}}}}}},"parameters":[{"name":"token","in":"header","schema":{"type":"string"},"required":true,"description":"Your app token, please refer [**Get access token api**](https://www.gupshup.io/docs/partner/#collapse-TokenApis-App_7CGetAccessToken) to get the token from partner documentation.","example":"sk_61b3021c97214370b341f8baaae0xxxx"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"description":"Unique identifier of the app.","example":"9e97650d-xxxx-xxxx-xxxx-4cdf47c3fa68"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","title":"Template success response schema","properties":{"status":{"type":"string","example":"success"},"template":{"type":"object","properties":{"appId":{"type":"string","example":"a41b30f4-d202-4fdb-911e-3a8fbfbfb756"},"category":{"type":"string","example":"MARKETING"},"containerMeta":{"type":"string","example":"{\"appId\":\"a41b30f4-d202-4fdb-911e-3a8fbfbfb756\",\"data\":\"Your verification code is {{1}}.\",\"footer\":\"This is the footer\",\"sampleText\":\"Your verification code is 213.\",\"sampleMedia\":\"4::aW1hZ2UvcadG5n:ARYaMMMA2QvIXuQZdPjWVXTOqfoBU3n0L1Ftyg4w57yxi9nD105yQDvW2nu3-HNo9HGefxZ-Ig-HAi3YSsckwIsOEUwxSPatsxT0Niob30E63A:e:1634884682:2281283925530161:100033655335566:ARaBAxW-1L-ZRu6SMSg\",\"enableSample\":true,\"editTemplate\":false,\"allowTemplateCategoryChange\":false,\"addSecurityRecommendation\":false}"},"createdOn":{"type":"number","example":1695796030611},"data":{"type":"string","example":"Your verification code is {{1}}.\\nThis is the footer"},"elementName":{"type":"string","example":"ticket_check_url_3454562"},"id":{"type":"string","example":"2dd50ba7-a9ab-4c9c-9cb3-3ad6c86c2acbe"},"languageCode":{"type":"string","example":"en_us"},"languagePolicy":{"type":"string","example":"deterministic"},"meta":{"type":"string","example":"{\"example\":\"Your verification code is 213.\"}"},"modifiedOn":{"type":"number","example":1695796030611},"namespace":{"type":"string","example":"9c7fe92f_2a48_40ec_83d0_69c62a772433"},"priority":{"type":"integer","example":1},"retry":{"type":"integer","example":0},"stage":{"type":"string","example":"NONE"},"status":{"type":"string","example":"PENDING"},"templateType":{"type":"string","example":"TEXT"},"vertical":{"type":"string","example":"Header"},"wabaId":{"type":"string","example":"10450552656776"}}}}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Invalid app id provided"},"status":{"type":"integer","example":400}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"You do not have the required permissions to access this API"},"status":{"type":"integer","example":403}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Internal error occured"},"status":{"type":"integer","example":500}}}}}}}},"get":{"tags":["App"],"summary":"Get Templates","description":"Using this API, you can get the list of templates for a an app. You will get the rejection reason for templates.\n\n *Note: Starting from 29th March 2023, Meta will migrate your templates to the new categories. Once we get the new category for your template, the old template category will be associated with the parameter oldCategory, and the new category will be associated with the parameter category. You will not see the oldCategory parameter until the new category is received. You will also receive a template category-update event on your callback URL notifying of the change. Learn more about it [here](https://docs.gupshup.io/docs/system-events#template-events).*","parameters":[{"name":"token","in":"header","schema":{"type":"string"},"required":true,"description":"Your app token, please refer [**Get access token api**](https://www.gupshup.io/docs/partner/#collapse-TokenApis-App_7CGetAccessToken) to get the token from partner documentation.","example":"sk_61b3021c97214370b341f8baaae0xxxx"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"description":"Unique identifier of the app.","example":"9e97650d-xxxx-xxxx-xxxx-4cdf47c3fa68"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","title":"Template success response schema","properties":{"status":{"type":"string","example":"success"},"template":{"type":"object","properties":{"appId":{"type":"string","example":"a41b30f4-d202-4fdb-911e-3a8fbfbfb756"},"category":{"type":"string","example":"MARKETING"},"containerMeta":{"type":"string","example":"{\"appId\":\"a41b30f4-d202-4fdb-911e-3a8fbfbfb756\",\"data\":\"Your verification code is {{1}}.\",\"footer\":\"This is the footer\",\"sampleText\":\"Your verification code is 213.\",\"sampleMedia\":\"4::aW1hZ2UvcadG5n:ARYaMMMA2QvIXuQZdPjWVXTOqfoBU3n0L1Ftyg4w57yxi9nD105yQDvW2nu3-HNo9HGefxZ-Ig-HAi3YSsckwIsOEUwxSPatsxT0Niob30E63A:e:1634884682:2281283925530161:100033655335566:ARaBAxW-1L-ZRu6SMSg\",\"enableSample\":true,\"editTemplate\":false,\"allowTemplateCategoryChange\":false,\"addSecurityRecommendation\":false}"},"createdOn":{"type":"number","example":1695796030611},"data":{"type":"string","example":"Your verification code is {{1}}.\\nThis is the footer"},"elementName":{"type":"string","example":"ticket_check_url_3454562"},"id":{"type":"string","example":"2dd50ba7-a9ab-4c9c-9cb3-3ad6c86c2acbe"},"languageCode":{"type":"string","example":"en_us"},"languagePolicy":{"type":"string","example":"deterministic"},"meta":{"type":"string","example":"{\"example\":\"Your verification code is 213.\"}"},"modifiedOn":{"type":"number","example":1695796030611},"namespace":{"type":"string","example":"9c7fe92f_2a48_40ec_83d0_69c62a772433"},"priority":{"type":"integer","example":1},"retry":{"type":"integer","example":0},"stage":{"type":"string","example":"NONE"},"status":{"type":"string","example":"PENDING"},"templateType":{"type":"string","example":"TEXT"},"vertical":{"type":"string","example":"Header"},"wabaId":{"type":"string","example":"10450552656776"}}}}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Invalid app id provided"},"status":{"type":"integer","example":400}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"You do not have the required permissions to access this API"},"status":{"type":"integer","example":403}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Internal error occured"},"status":{"type":"integer","example":500}}}}}}}}},"/partner/app/{appId}/upload/media":{"post":{"tags":["App"],"summary":"Upload template media","description":"Using this API, you can upload your sample media and generate a ***handleId*** for it. Using the ***handleId***, you can create and submit a template along with a sample media. The handleId is passed in the ***exampleMedia*** parameter of the ***Apply for templates with sample media*** API.","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","required":["file_type","file"],"properties":{"file_type":{"type":"string","description":"Upload a file from your local machine.","example":"image/png"},"file":{"type":"string","description":"Attach the file you want to upload here","format":"binary"}}}}}},"parameters":[{"name":"token","in":"header","schema":{"type":"string"},"required":true,"description":"Your app token, please refer [**Get access token api**](https://www.gupshup.io/docs/partner/#collapse-TokenApis-App_7CGetAccessToken) to get the token from partner documentation.","example":"sk_61b3021c97214370b341f8baaae0xxxx"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"description":"Unique identifier of the app.","example":"9e97650d-xxxx-xxxx-xxxx-4cdf47c3fa68"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"title":"Upload template media response schema","type":"object","properties":{"handleId":{"type":"object","properties":{"message":{"type":"string","example":"4::cG5n:ARaUNs3E_0NGikafRDDUHYyuaOLAKsiQERpJiz5FDk8x14sOVxZJ5OfN-25gyTp_9imoMSqCXNqVB6wwPmWw7rGOGmNj-BiY-9ZmrPKR9cUxXQ:e:1696142166:2281283925530161:100033655335566:ARaB4RMvmxQkTDeeJYc"}}},"status":{"type":"string","example":"success"}}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Invalid app id provided"},"status":{"type":"integer","example":400}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"You do not have the required permissions to access this API"},"status":{"type":"integer","example":403}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Internal error occured"},"status":{"type":"integer","example":500}}}}}}}}},"/partner/app/{appId}/templates/{templateId}":{"put":{"tags":["App"],"summary":"Edit template","description":"Using this API, you can edit a template using *templateId*.","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"content":{"type":"string","description":"TEXT: The body of the template. Character limit: 1028","example":"your ticket has been confirmed for {{1}} persons on date {{2}}."},"templateType":{"type":"string","description":"The type of template: TEXT, IMAGE, LOCATION, PRODUCT, CATALOG, VIDEO & DOCUMENT","example":"TEXT"},"example":{"type":"string","description":"TEXT - An example of the template.","example":"your ticket has been confirmed for 4 persons on date 2020-05-04."},"enableSample":{"type":"boolean","description":"BOOLEAN: True or False. Required for creating all types of templates.","example":"true"},"header":{"type":"string","description":"Header of the template. Applicable for templateType = Text Character limit: 60","example":"This is the header"},"footer":{"type":"string","description":"Footer of the template. Character limit: 60","example":"This is the footer"},"buttons":{"type":"string","description":"Used only if your template has a CTA. An example is also submitted if a URL button has variable parameter.","example":"[{\"type\":\"PHONE_NUMBER\",\"text\":\"Call Us\",\"phone_number\":\"+919872329959\"},{\"type\":\"URL\",\"text\":\"Book A Demo\",\"url\":\"https://bookins.gupshup.io/{{1}}\",\"example\":[\"https://bookins.gupshup.io/abc\"]}] or for “Authentication” category: [{\"type\":\"OTP\",\"otp_type\":\"COPY_CODE\",\"text\":\"Copy OTP\"},{\"type\":\"OTP\", “otp-type”: “ONE_TAP”, \"text\":\"Book A Demo\", \"autofill_text\": \"Autofill\", #One-tap buttons only \"package_name\": \"com.example.myapplication\" #One-tap buttons only , \"signature_hash\": \"K8a%2FAINcGX7\", #One-tap buttons only }]"},"exampleMedia":{"type":"string","description":"Get handleId from [*here*](https://www.gupshup.io/docs/partner/#collapse-TemplateApis-App_7GetHandleIdForSampleMedia)","example":"4::aW1hZ2UvcadG5n:ARYaMMMA2QvIXuQZdPjWVXTOqfoBU3n0L1Ftyg4w57yxi9nD105yQDvW2nu3-HNo9HGefxZ-Ig-HAi3YSsckwIsOEUwxSPatsxT0Niob30E63A:e:1634884682:2281283925530161:100033655335566:ARaBAxW-1L-ZRu6SMSg"},"mediaId":{"type":"string","description":"Media ID","example":"TEXT"},"mediaUrl":{"type":"string","description":"Media URL","example":"TEXT"},"category":{"type":"string","description":"Use category from these option AUTHENTICATION, MARKETING, UTILITY in description.","example":"AUTHENTICATION"}}}}}},"parameters":[{"name":"token","in":"header","schema":{"type":"string"},"required":true,"description":"Your app token, please refer [**Get access token api**](https://www.gupshup.io/docs/partner/#collapse-TokenApis-App_7CGetAccessToken) to get the token from partner documentation.","example":"sk_61b3021c97214370b341f8baaae0xxxx"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"description":"Unique identifier of the app.","example":"9e97650d-xxxx-xxxx-xxxx-4cdf47c3fa68"},{"name":"templateId","in":"path","schema":{"type":"string"},"required":true,"description":"Unique identifier for a template, refer **Get templates api**","example":"fc05da-f2135-45e2-8sad4-dc44xxxx"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"}}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Invalid app id provided"},"status":{"type":"integer","example":400}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"You do not have the required permissions to access this API"},"status":{"type":"integer","example":403}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Internal error occured"},"status":{"type":"integer","example":500}}}}}}}},"get":{"tags":["App"],"summary":"Get Template by id","description":"Using this API, you can get the details of specific template using *templateId*","parameters":[{"name":"token","in":"header","schema":{"type":"string"},"required":true,"description":"Your app token, please refer [**Get access token api**](https://www.gupshup.io/docs/partner/#collapse-TokenApis-App_7CGetAccessToken) to get the token from partner documentation.","example":"sk_61b3021c97214370b341f8baaae0xxxx"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"description":"Unique identifier of the app.","example":"9e97650d-xxxx-xxxx-xxxx-4cdf47c3fa68"},{"name":"templateId","in":"path","schema":{"type":"string"},"required":true,"description":"Unique identifier for a template, refer **Get templates api**","example":"fc05da-f2135-45e2-8sad4-dc44xxxx"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","title":"Template success response schema","properties":{"status":{"type":"string","example":"success"},"template":{"type":"object","properties":{"appId":{"type":"string","example":"a41b30f4-d202-4fdb-911e-3a8fbfbfb756"},"category":{"type":"string","example":"MARKETING"},"containerMeta":{"type":"string","example":"{\"appId\":\"a41b30f4-d202-4fdb-911e-3a8fbfbfb756\",\"data\":\"Your verification code is {{1}}.\",\"footer\":\"This is the footer\",\"sampleText\":\"Your verification code is 213.\",\"sampleMedia\":\"4::aW1hZ2UvcadG5n:ARYaMMMA2QvIXuQZdPjWVXTOqfoBU3n0L1Ftyg4w57yxi9nD105yQDvW2nu3-HNo9HGefxZ-Ig-HAi3YSsckwIsOEUwxSPatsxT0Niob30E63A:e:1634884682:2281283925530161:100033655335566:ARaBAxW-1L-ZRu6SMSg\",\"enableSample\":true,\"editTemplate\":false,\"allowTemplateCategoryChange\":false,\"addSecurityRecommendation\":false}"},"createdOn":{"type":"number","example":1695796030611},"data":{"type":"string","example":"Your verification code is {{1}}.\\nThis is the footer"},"elementName":{"type":"string","example":"ticket_check_url_3454562"},"id":{"type":"string","example":"2dd50ba7-a9ab-4c9c-9cb3-3ad6c86c2acbe"},"languageCode":{"type":"string","example":"en_us"},"languagePolicy":{"type":"string","example":"deterministic"},"meta":{"type":"string","example":"{\"example\":\"Your verification code is 213.\"}"},"modifiedOn":{"type":"number","example":1695796030611},"namespace":{"type":"string","example":"9c7fe92f_2a48_40ec_83d0_69c62a772433"},"priority":{"type":"integer","example":1},"retry":{"type":"integer","example":0},"stage":{"type":"string","example":"NONE"},"status":{"type":"string","example":"PENDING"},"templateType":{"type":"string","example":"TEXT"},"vertical":{"type":"string","example":"Header"},"wabaId":{"type":"string","example":"10450552656776"}}}}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Invalid app id provided"},"status":{"type":"integer","example":400}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"You do not have the required permissions to access this API"},"status":{"type":"integer","example":403}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Internal error occured"},"status":{"type":"integer","example":500}}}}}}}}},"/partner/app/{appId}/template/{elementName}":{"delete":{"tags":["App"],"summary":"Delete Template","description":"Using this API, you can delete a template using the *elementName*","parameters":[{"name":"token","in":"header","schema":{"type":"string"},"required":true,"description":"Your app token, please refer [**Get access token api**](https://www.gupshup.io/docs/partner/#collapse-TokenApis-App_7CGetAccessToken) to get the token from partner documentation.","example":"sk_61b3021c97214370b341f8baaae0xxxx"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"description":"Unique identifier of the app.","example":"9e97650d-xxxx-xxxx-xxxx-4cdf47c3fa68"},{"name":"elementName","in":"path","schema":{"type":"string"},"required":true,"description":"Template element name, refer **Get template by id api**","example":"order_update"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"}}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Invalid app id provided"},"status":{"type":"integer","example":400}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"You do not have the required permissions to access this API"},"status":{"type":"integer","example":403}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Internal error occured"},"status":{"type":"integer","example":500}}}}}}}}},"/partner/app/{appId}/template/msg":{"post":{"tags":["App"],"summary":"Send msg With Template ID","description":"Using this API, you can send template message with *templateID*","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"allOf":[{"title":"Send message with location template","type":"object","required":["source","destination","src.name"],"properties":{"source":{"type":"integer","description":"Phone number to send message from. \n\nRequired phone Number With Country Code","example":"918910567700"},"sandbox":{"type":"boolean","example":"false"},"destination":{"type":"integer","description":"Phone number of the customer to send the message to. \n\nRequired phone Number With Country Code.","example":"918286836492"},"template":{"type":"string","description":"Required when templateType is PRODUCT AND CATALOG. \n\nCreate template format using templateId and product code","example":{"id":"007b7c0e-fc8d-4698-a9a8-3938151dd5da","params":["monday","2020-12-20","apps"]}},"src.name":{"type":"string","description":"App name, whose appId used while creating template","example":"GupshupDevAssistant01"},"message":{"type":"number","description":"1. Required when templateType is LOCATION, TEXT\n2. Not applicable when template type PRODUCT and CATALOG","example":{"type":"location","location":{"name":"1513 Farnum Road","address":"New York 10019","longitude":-79.0896492,"latitude":42.5950661}}}}},{"title":"Send message with catalog template","type":"object","properties":{"source":{"type":"integer","example":"918929874278"},"destination":{"type":"integer","example":"917385180297"},"sandbox":{"type":"boolean","example":"false"},"src.name":{"type":"string","example":"august18"},"template":{"type":"string","example":{"id":"602ad57a-8d74-475b-b614-76f5cb56c5e4","params":["a2py9opgpp"]}},"channel":{"type":"string","description":"Messaging channel to send message on.","example":"whatsapp"}}},{"title":"Send message with MPM template","type":"object","properties":{"source":{"type":"integer","example":"918929874278"},"destination":{"type":"integer","example":"917385180297"},"sandbox":{"type":"boolean","example":"false"},"src.name":{"type":"string","example":"august18"},"template":{"type":"string","example":{"id":"f784384d-4393-4d75-8b0a-3f873ee883ce","params":["a2py9opgpp"],"mpm":{"sections":[{"title":"Products","products":["a2py9opgpp"]}]}}},"channel":{"type":"string","example":"whatsapp"}}}]},"examples":{"Send meesage with template":{"value":{"source":918910567700,"sandbox":false,"destination":918286836492,"template":{"id":"007b7c0e-fc8d-4698-a9a8-3938151dd5da","params":["monday","2020-12-20","apps"]},"src.name":"GupshupDevAssistant01","message":{"type":"location","location":{"name":"1513 Farnum Road","address":"New York 10019","longitude":-79.0896492,"latitude":42.5950661}}}},"Send meesage with catalog template":{"value":{"source":918929874278,"destination":917385180297,"sandbox":false,"src.name":"august18","template":{"id":"602ad57a-8d74-475b-b614-76f5cb56c5e4","params":["a2py9opgpp"]},"channel":"whatsapp"}},"Send meesage with MPM template":{"value":{"source":918929874278,"destination":917385180297,"sandbox":false,"src.name":"august18","template":{"id":"f784384d-4393-4d75-8b0a-3f873ee883ce","params":["a2py9opgpp"],"mpm":{"sections":[{"title":"Products","products":["a2py9opgpp"]}]}},"channel":"whatsapp"}}}}}},"parameters":[{"name":"token","in":"header","schema":{"type":"string"},"required":true,"description":"Your app token, please refer [**Get access token api**](https://www.gupshup.io/docs/partner/#collapse-TokenApis-App_7CGetAccessToken) to get the token from partner documentation.","example":"sk_61b3021c97214370b341f8baaae0xxxx"},{"name":"appId","in":"path","schema":{"type":"string"},"required":true,"description":"Unique identifier of the app.","example":"9e97650d-xxxx-xxxx-xxxx-4cdf47c3fa68"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"messageId":{"type":"string","example":"b99b02b5-ffba-4544-b39e-8f4b336a494c"},"status":{"type":"string","example":"submitted"}}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Invalid app id provided"},"status":{"type":"integer","example":400}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"You do not have the required permissions to access this API"},"status":{"type":"integer","example":403}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Internal error occured"},"status":{"type":"integer","example":500}}}}}}}}}},"components":{"schemas":{"Apply_For_Templates":{"title":"Apply For Templates","type":"object","properties":{"elementName":{"type":"string","description":"The name of a template. Element name is unique for a WABAs namespace.","example":"ticket_check_url_4245343"},"languageCode":{"type":"string","description":"Language code for the template. Refer to all the language codes here.","example":"en_US"},"category":{"type":"string","description":"The category of your template. Possible Values: AUTHENTICATION, MARKETING and UTILITY.\nIf you submit the templates with the any other categories, you will receive an error Invalid category provided, kindly use category from these option AUTHENTICATION, MARKETING, UTILITY.","example":"MARKETING"},"templateType":{"type":"string","description":"The type of template: TEXT, IMAGE, LOCATION, VIDEO & DOCUMENT","example":"TEXT"},"vertical":{"type":"string","description":"Character limit: 180","example":"TEXT"},"content":{"type":"string","description":"The body of the template. Character limit: 1028. For “Authentication” category the first line should be - {{1}} is your verification code.","example":"your ticket has been confirmed for {{1}} persons on date {{2}}."},"header":{"type":"string","description":"Header of the template. Applicable for templateType = Text Character limit: 60. Not applicable for “Authentication” category.","example":"This is the header"},"footer":{"type":"string","description":"Footer of the template. Character limit: 60. Not applicable for “Authentication” category, only set based on code_expiration_minutes value","example":"This is the footer"},"buttons":{"type":"string","description":"Used only if your template has a CTA. An example is also submitted if a URL button has variable parameter. For “Authentication” category OTP button type is supported with two otp_type:\n1. COPY_CODE\n2. ONE_TAP\nIf otp_type is set to ONE_TAP, three additional parameters are required:\n\n1. autofill_text\n2. package_name\n3. signature_hash","example":"[{\"type\":\"PHONE_NUMBER\",\"text\":\"Call Us\",\"phone_number\":\"+919872329959\"},{\"type\":\"URL\",\"text\":\"Book A Demo\",\"url\":\"https://bookins.gupshup.io/{{1}}\",\"example\":[\"https://bookins.gupshup.io/abc\"]}] or for “Authentication” category: [{\"type\":\"OTP\",\"otp_type\":\"COPY_CODE\",\"text\":\"Copy OTP\"},{\"type\":\"OTP\", “otp-type”: “ONE_TAP”, \"text\":\"Book A Demo\", \"autofill_text\": \"Autofill\", #One-tap buttons only \"package_name\": \"com.example.myapplication\" #One-tap buttons only , \"signature_hash\": \"K8a%2FAINcGX7\", #One-tap buttons only }]"},"example":{"type":"string","description":"An example of the template.","example":"your ticket has been confirmed for 4 persons on date 2020-05-04."},"enableSample":{"type":"boolean","description":"Required for creating all types of templates.","example":"true"},"allowTemplateCategoryChange":{"type":"boolean","description":"Boolean value. If True, Meta will automatically update the category of the template as per the template content. Default value is False. If the category gets updated, you can view the oldCategory from the Get Templates API","example":"false"},"exampleHeader":{"type":"string","example":"This is the header"},"addSecurityRecommendation":{"type":"boolean","description":"Optionally for \"Authentication\" category a security disclaimer is added to content - For your security, do not share this code","example":"true"},"codeExpirationMinutes":{"type":"integer","description":"Optionally for “Authentication” category the following text is added to footer - This code expires in <NUM_MINUTES> minutes. Code expiry time should be between 1 and 90 minutes.","example":"2"}}},"Apply_For_Templates_With_Sample_Media":{"title":"Apply For Template With Sample Media","type":"object","properties":{"elementName":{"type":"string","example":"ticket_check_url_4245343"},"languageCode":{"type":"string","example":"en_US"},"content":{"type":"string","example":"Your verification code is {{1}}."},"footer":{"type":"string","description":"Footer of the template. Character limit: 60","example":"This is the footer"},"category":{"type":"string","description":"The category of your template. Possible Values: AUTHENTICATION, MARKETING and UTILITY.\nIf you submit the templates with the any other categories, you will receive an error Invalid category provided, kindly use category from these option AUTHENTICATION, MARKETING, UTILITY.","example":"MARKETING"},"templateType":{"type":"string","example":"IMAGE"},"vertical":{"type":"string","example":"Ticket update"},"appId":{"type":"string","example":"9e97650d-add3-4557-9535-4cdf47c3fa68"},"example":{"type":"string","example":"Your verification code is 213."},"exampleMedia":{"type":"string","example":"4::aW1hZ2UvcadG5n:ARYaMMMA2QvIXuQZdPjWVXTOqfoBU3n0L1Ftyg4w57yxi9nD105yQDvW2nu3-HNo9HGefxZ-Ig-HAi3YSsckwIsOEUwxSPatsxT0Niob30E63A:e:1634884682:2281283925530161:100033655335566:ARaBAxW-1L-ZRu6SMSg"},"enableSample":{"type":"boolean","description":"Required when submitting CTA template with variables.","example":"true"},"allowTemplateCategoryChange":{"type":"boolean","description":"Boolean value. If True, Meta will automatically update the category of the template as per the template content. Default value is False. If the category gets updated, you can view the oldCategory from the Get Templates API","example":"false"}}},"Apply_for_MPM_template":{"title":"Apply for MPM template","type":"object","properties":{"elementName":{"type":"string","example":"mpm_template_4"},"languageCode":{"type":"string","example":"en"},"content":{"type":"string","example":"Dear {{1}}, here are our products."},"category":{"type":"string","example":"MARKETING"},"vertical":{"type":"string","example":"testing"},"templateType":{"type":"string","example":"PRODUCT"},"example":{"type":"string","example":"Dear SpiderMan, Here are our products."},"footer":{"type":"string","example":"Thanks for shopping with us"},"header":{"type":"string","example":"Hi {{1}}"},"exampleHeader":{"type":"string","example":"Hi spiderMan"}}},"Apply_for_catalog_template":{"title":"Apply for catalog template","type":"object","properties":{"elementName":{"type":"string","example":"catalog_template_4"},"languageCode":{"type":"string","example":"en"},"content":{"type":"string","example":"Dear {{1}}, here are our products."},"category":{"type":"string","example":"MARKETING"},"vertical":{"type":"string","example":"testing"},"templateType":{"type":"string","example":"CATALOG"},"example":{"type":"string","example":"Dear SpiderMan, Here are our products."},"footer":{"type":"string","example":"Thanks for shopping with us"}}},"Send_message_with_template":{"title":"Send message with location template","type":"object","properties":{"source":{"type":"integer","example":"918910567700"},"sandbox":{"type":"boolean","example":"false"},"destination":{"type":"integer","example":"918286836492"},"template":{"type":"string","example":{"id":"007b7c0e-fc8d-4698-a9a8-3938151dd5da","params":["monday","2020-12-20","apps"]}},"src.name":{"type":"string","example":"GupshupDevAssistant01"},"message":{"type":"number","description":"Required when templateType is 'LOCATION'","example":{"type":"location","location":{"name":"1513 Farnum Road","address":"New York 10019","longitude":-79.0896492,"latitude":42.5950661}}}}},"Send_message_with_catalog_template":{"title":"Send message with catalog template","type":"object","properties":{"source":{"type":"integer","example":"918929874278"},"destination":{"type":"integer","example":"917385180297"},"sandbox":{"type":"boolean","example":"false"},"src.name":{"type":"string","example":"august18"},"template":{"type":"string","example":{"id":"602ad57a-8d74-475b-b614-76f5cb56c5e4","params":["a2py9opgpp"]}},"channel":{"type":"string","example":"whatsapp"}}},"Send_message_with_MPM_template":{"title":"Send message with MPM template","type":"object","properties":{"source":{"type":"integer","example":"918929874278"},"destination":{"type":"integer","example":"917385180297"},"sandbox":{"type":"boolean","example":"false"},"src.name":{"type":"string","example":"august18"},"template":{"type":"string","example":{"id":"f784384d-4393-4d75-8b0a-3f873ee883ce","params":["a2py9opgpp"],"mpm":{"sections":[{"title":"Products","products":["a2py9opgpp"]}]}}},"channel":{"type":"string","example":"whatsapp"}}},"Upload_template_media_response_schema":{"title":"Upload template media response schema","type":"object","properties":{"handleId":{"type":"object","properties":{"message":{"type":"string","example":"4::cG5n:ARaUNs3E_0NGikafRDDUHYyuaOLAKsiQERpJiz5FDk8x14sOVxZJ5OfN-25gyTp_9imoMSqCXNqVB6wwPmWw7rGOGmNj-BiY-9ZmrPKR9cUxXQ:e:1696142166:2281283925530161:100033655335566:ARaB4RMvmxQkTDeeJYc"}}},"status":{"type":"string","example":"success"}}},"handleId":{"type":"object","properties":{"message":{"type":"string","example":"4::cG5n:ARaUNs3E_0NGikafRDDUHYyuaOLAKsiQERpJiz5FDk8x14sOVxZJ5OfN-25gyTp_9imoMSqCXNqVB6wwPmWw7rGOGmNj-BiY-9ZmrPKR9cUxXQ:e:1696142166:2281283925530161:100033655335566:ARaB4RMvmxQkTDeeJYc"}}},"Template_sucess_response_schema":{"type":"object","title":"Template success response schema","properties":{"status":{"type":"string","example":"success"},"template":{"type":"object","properties":{"appId":{"type":"string","example":"a41b30f4-d202-4fdb-911e-3a8fbfbfb756"},"category":{"type":"string","example":"MARKETING"},"containerMeta":{"type":"string","example":"{\"appId\":\"a41b30f4-d202-4fdb-911e-3a8fbfbfb756\",\"data\":\"Your verification code is {{1}}.\",\"footer\":\"This is the footer\",\"sampleText\":\"Your verification code is 213.\",\"sampleMedia\":\"4::aW1hZ2UvcadG5n:ARYaMMMA2QvIXuQZdPjWVXTOqfoBU3n0L1Ftyg4w57yxi9nD105yQDvW2nu3-HNo9HGefxZ-Ig-HAi3YSsckwIsOEUwxSPatsxT0Niob30E63A:e:1634884682:2281283925530161:100033655335566:ARaBAxW-1L-ZRu6SMSg\",\"enableSample\":true,\"editTemplate\":false,\"allowTemplateCategoryChange\":false,\"addSecurityRecommendation\":false}"},"createdOn":{"type":"number","example":1695796030611},"data":{"type":"string","example":"Your verification code is {{1}}.\\nThis is the footer"},"elementName":{"type":"string","example":"ticket_check_url_3454562"},"id":{"type":"string","example":"2dd50ba7-a9ab-4c9c-9cb3-3ad6c86c2acbe"},"languageCode":{"type":"string","example":"en_us"},"languagePolicy":{"type":"string","example":"deterministic"},"meta":{"type":"string","example":"{\"example\":\"Your verification code is 213.\"}"},"modifiedOn":{"type":"number","example":1695796030611},"namespace":{"type":"string","example":"9c7fe92f_2a48_40ec_83d0_69c62a772433"},"priority":{"type":"integer","example":1},"retry":{"type":"integer","example":0},"stage":{"type":"string","example":"NONE"},"status":{"type":"string","example":"PENDING"},"templateType":{"type":"string","example":"TEXT"},"vertical":{"type":"string","example":"Header"},"wabaId":{"type":"string","example":"10450552656776"}}}}}},"examples":{"Apply_for_template":{"value":{"elementName":"ticket_check_url_4245343","languageCode":"en_US","category":"MARKETING","templateType":"TEXT","vertical":"TEXT","content":"your ticket has been confirmed for {{1}} persons on date {{2}}.","header":"This is the header","footer":"This is the footer","buttons":"[{\"type\":\"PHONE_NUMBER\",\"text\":\"Call Us\",\"phone_number\":\"+919872329959\"},{\"type\":\"URL\",\"text\":\"Book A Demo\",\"url\":\"https://bookins.gupshup.io/{{1}}\",\"example\":[\"https://bookins.gupshup.io/abc\"]}] or for “Authentication” category: [{\"type\":\"OTP\",\"otp_type\":\"COPY_CODE\",\"text\":\"Copy OTP\"},{\"type\":\"OTP\", “otp-type”: “ONE_TAP”, \"text\":\"Book A Demo\", \"autofill_text\": \"Autofill\", #One-tap buttons only \"package_name\": \"com.example.myapplication\" #One-tap buttons only , \"signature_hash\": \"K8a%2FAINcGX7\", #One-tap buttons only }]","example":"your ticket has been confirmed for 4 persons on date 2020-05-04.","enableSample":true,"allowTemplateCategoryChange":false,"exampleHeader":"This is the header","addSecurityRecommendation":true,"codeExpirationMinutes":2}},"Apply_for_template_with_sample_media":{"value":{"elementName":"ticket_check_url_4245343","languageCode":"en_US","content":"Your verification code is {{1}}.","footer":"This is the footer","category":"MARKETING","templateType":"IMAGE","vertical":"Ticket update","appId":"9e97650d-add3-4557-9535-4cdf47c3fa68","example":"Your verification code is 213.","exampleMedia":"4::aW1hZ2UvcadG5n:ARYaMMMA2QvIXuQZdPjWVXTOqfoBU3n0L1Ftyg4w57yxi9nD105yQDvW2nu3-HNo9HGefxZ-Ig-HAi3YSsckwIsOEUwxSPatsxT0Niob30E63A:e:1634884682:2281283925530161:100033655335566:ARaBAxW-1L-ZRu6SMSg","enableSample":true,"allowTemplateCategoryChange":false}},"Apply_for_catalog_template":{"value":{"elementName":"rs_template_5","languageCode":"en_US","content":"Dear {{1}}, here are our products.","category":"MARKETING","vertical":"testing","templateType":"CATALOG","example":"Dear SpiderMan, Here are our products.","footer":"Thanks for shopping with us"}},"Apply_for_MPM_template":{"value":{"elementName":"rsmpm_template_4","languageCode":"en","content":"Dear {{1}}, here are our products.","category":"MARKETING","vertical":"testing","templateType":"PRODUCT","example":"Dear SpiderMan, Here are our products.","footer":"Thanks for shopping with us","header":"Hi {{1}}","exampleHeader":"Hi spiderMan"}},"template_response":{"value":{"status":"success","template":{"appId":"a41b30f4-d202-4fdb-911e-3a8fbfbfb756","category":"MARKETING","containerMeta":"{\"appId\":\"a41b30f4-d202-4fdb-911e-3a8fbfbfb756\",\"data\":\"Your verification code is {{1}}.\",\"footer\":\"This is the footer\",\"sampleText\":\"Your verification code is 213.\",\"sampleMedia\":\"4::aW1hZ2UvcadG5n:ARYaMMMA2QvIXuQZdPjWVXTOqfoBU3n0L1Ftyg4w57yxi9nD105yQDvW2nu3-HNo9HGefxZ-Ig-HAi3YSsckwIsOEUwxSPatsxT0Niob30E63A:e:1634884682:2281283925530161:100033655335566:ARaBAxW-1L-ZRu6SMSg\",\"enableSample\":true,\"editTemplate\":false,\"allowTemplateCategoryChange\":false,\"addSecurityRecommendation\":false}","createdOn":1695796030611,"data":"Your verification code is {{1}}.\nThis is the footer","elementName":"ticket_check_url_3454562","id":"2dd50ba7-a9ab-4c9c-9cb3-3ad6c86c2acbe","languageCode":"en_US","languagePolicy":"deterministic","meta":"{\"example\":\"Your verification code is 213.\"}","modifiedOn":1695796030611,"namespace":"9c7fe92f_2a48_40ec_83d0_69c62a772433","priority":1,"retry":0,"stage":"NONE","status":"PENDING","templateType":"IMAGE","vertical":"Ticket update","wabaId":"10450552656776"}}},"send_message_with_template":{"value":{"source":918910567700,"sandbox":false,"destination":918286836492,"template":{"id":"007b7c0e-fc8d-4698-a9a8-3938151dd5da","params":["monday","2020-12-20","apps"]},"src.name":"GupshupDevAssistant01","message":{"type":"location","location":{"name":"1513 Farnum Road","address":"New York 10019","longitude":-79.0896492,"latitude":42.5950661}}}},"send_message_with_catalog_template":{"value":{"source":918929874278,"destination":917385180297,"sandbox":false,"src.name":"august18","template":{"id":"602ad57a-8d74-475b-b614-76f5cb56c5e4","params":["a2py9opgpp"]},"channel":"whatsapp"}},"send_message_with_MPM_template":{"value":{"source":918929874278,"destination":917385180297,"sandbox":false,"src.name":"august18","template":{"id":"f784384d-4393-4d75-8b0a-3f873ee883ce","params":["a2py9opgpp"],"mpm":{"sections":[{"title":"Products","products":["a2py9opgpp"]}]}},"channel":"whatsapp"}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{}}},"400":{"description":"Bad request","content":{"application/json":{"example":{"message":"Invalid app id provided","status":400}}}},"403":{"description":"Forbidden","content":{"application/json":{"example":{"message":"You do not have the required permissions to access this API","status":403}}}},"500":{"description":"Internal server error","content":{"application/json":{"example":{"message":"Internal error occured","status":500}}}}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}