FORMAT: X-1A
HOST: https://www.transdirect.com.au/api

# Transdirect Public API V201905
A very warm welcome to the Transdirect Application Programming Interface (API) documentation that offers booking, tracking, and nationwide shipping and air freight service options suitable for all your delivery needs.
- Transdirect uses __basic authentication__ through your member __email__ and __password__.
__Example__ https://www.transdirect.com.au/api/bookings
<!--# The API is only accessible via __HTTPS__. -->
<!--#- __Note__ : In order to use our api using basic authentication you should use following url.-->
<!--#- __Ex__: For simple booking/quote you can use https://www.transdirect.com.au/api/bookings. In other word just remove v4 from all urls given in below examples.-->
- Another way to authenticate is using the generated API key in the member’s area and to create a Custom header with the format __"Api-key: [API-KEY-GENERATED]"__. __Example__ https://www.transdirect.com.au/api/bookings/v4
- You can generate your API key from __[Here](https://www.transdirect.com.au/members_new/api/apimodules)__.
![name](https://wp-uploads-eb-transdirect-com-au.s3.amazonaws.com/uploads/2019/04/Members_Modules_setting.png)
<!--#- The API is accessible via https://www.transdirect.com.au/api/ -->

__A few notes:__
- Transdirect uses JSON and will retrieve a 415 error on invalid content types.
- Dates and Times are in ISO8601 format.
<!--# Group Simple Quote-->

<!--# Get a simple quote [/quotes]-->

<!--## Fetching a simple quote[POST]-->

<!--At a minimum the body must contain the fields below. Following creation you can update the booking from the returned booking id by using the PUT or PATCH methods.-->

<!--The `country` field in `from`/`to` is set to "AU" by default.-->

<!-- + Request (application/json) -->

<!--    + Body -->
        
<!--        ```js-->
<!--        {-->
<!--            "declared_value": "1000.00",-->
<!--            "items": [-->
<!--                {-->
<!--                    "weight": "38.63",          -->
<!--                    "height": "0.25",           -->
<!--                    "width": "1.65",            -->
<!--                    "length": "3.32",           -->
<!--                    "quantity": 1,              -->
<!--                    "description": "carton"     -->
<!--                },-->
<!--                {-->
<!--                    "weight": "39.63",          -->
<!--                    "height": "1.25",           -->
<!--                    "width": "2.65",            -->
<!--                    "length": "4.32",           -->
<!--                    "quantity": 2,              -->
<!--                    "description": "carton"     -->
<!--                }-->
<!--            ],-->
<!--            "sender": {-->
<!--                "postcode": "2000",-->
<!--                "suburb": "SYDNEY",            -->
<!--                "type": "business",             -->
<!--                "country": "AU"                 -->
<!--            },-->
<!--            "receiver": {-->
<!--                "postcode": "3000",-->
<!--                "suburb": "MELBOURNE",-->
<!--                "type": "business",             -->
<!--                "country": "AU"                 -->
<!--            }-->
<!--        }-->
<!--        ```-->

<!-- + Response 201 (application/json) -->

<!--    + Headers  -->
    
<!--        ```-->
        
<!--        ```-->
    
<!--    + Body -->
        
<!--        ```js-->
<!--        {-->
<!--            "declared_value": 1000,-->
<!--            "items": [-->
<!--                {-->
<!--                    "id": 1177622,-->
<!--                    "description": "carton",-->
<!--                    "weight": 38.63,-->
<!--                    "length": 3.32,-->
<!--                    "width": 1.65,-->
<!--                    "height": 0.25,-->
<!--                    "quantity": 1-->
<!--                },-->
<!--                {-->
<!--                    "id": 1177623,-->
<!--                    "description": "carton",-->
<!--                    "weight": 39.63,-->
<!--                    "length": 4.32,-->
<!--                    "width": 2.65,-->
<!--                    "height": 1.25,-->
<!--                    "quantity": 2-->
<!--                }-->
<!--            ],-->
<!--            "quotes": {-->
<!--                "allied": {-->
<!--                    "total": 79.24,-->
<!--                    "price_insurance_ex": 72.09,-->
<!--                    "fee": 7.15,-->
<!--                    "insured_amount": 4500,-->
<!--                    "service": "road",-->
<!--                    "transit_time": "1-2 days",-->
<!--                    "pickup_dates": [-->
<!--                        "2015-08-27",-->
<!--                        "2015-08-28"-->
<!--                    ],-->
<!--                    "pickup_time": {-->
<!--                        "from": "14:00",-->
<!--                        "to": "18:00"-->
<!--                    }-->
<!--                },-->
<!--                "tnt_overnight_express": {-->
<!--                    "total": 34.915,-->
<!--                    "price_insurance_ex": 27.765,-->
<!--                    "fee": 7.15,-->
<!--                    "insured_amount": 4500,-->
<!--                    "service": "road",-->
<!--                    "transit_time": "4 days",-->
<!--                    "pickup_dates": [-->
<!--                        "2015-08-27",-->
<!--                        "2015-08-28"-->
<!--                    ],-->
<!--                    "pickup_time": {-->
<!--                        "from": "14:00",-->
<!--                        "to": "18:00"-->
<!--                    }-->
<!--                },-->
<!--                "tnt_road_express": {-->
<!--                    "total": 41.845,-->
<!--                    "price_insurance_ex": 34.695,-->
<!--                    "fee": 7.15,-->
<!--                    "insured_amount": 4500,-->
<!--                    "service": "road",-->
<!--                    "transit_time": "4 days",-->
<!--                    "pickup_dates": [-->
<!--                        "2015-08-27",-->
<!--                        "2015-08-28"-->
<!--                    ],-->
<!--                    "pickup_time": {-->
<!--                        "from": "14:00",-->
<!--                        "to": "18:00"-->
<!--                    }-->
<!--                }-->
<!--            },-->
<!--            "tailgate_pickup": true,-->
<!--            "tailgate_delivery": true-->
<!--        }-->
<!--        ```-->


# Group Bookings / Simple Quotes

'Get a quick quote' will return a booking id that can be further updated with sender, receiver and other shipping options.


# Create Booking [/bookings/v4]

## Create a booking or get a quick quote [POST]

At a minimum, the body must contain the fields written on the right column which can be accessed by selecting __'Create a booking or get a quick quote'__ link above.

The `country` field in `sender`/`receiver` is set to "AU" for Australia by default. For any other country you need to pass respective country ISO2 code (__EX:__ "US" for United States, "SG" for Singapore).

__Notes__: 
- `tailgate_pickup` and `tailgate_delivery` are optional fields and they are set to __false__ by default.
- If the shipment item exceeds 25kgs, you must have a forklift available at pickup and delivery address. So if you do not have a forklift, you must pass a __true__ value for `tailgate_pickup` and `tailgate_delivery` and surcharges will be applied.

+ Request (application/json)

    + Body 
        
        ```js
        {
            "declared_value": "1000.00",
            "referrer": "API",
            "requesting_site": "http://www.woocommerce.com.au",
            "tailgate_pickup": true,
            "tailgate_delivery": true,
            "items": [
                {
                    "weight": "38.63",          
                    "height": "0.25",           
                    "width": "1.65",            
                    "length": "3.32",           
                    "quantity": 1,              
                    "description": "carton"     
                },
                {
                    "weight": "39.63",          
                    "height": "1.25",           
                    "width": "2.65",            
                    "length": "4.32",           
                    "quantity": 2,              
                    "description": "carton"     
                }
            ],
            "sender": {
                "address": "21 Kirksway Place",     
                "company_name": "",             
                "email": "",
                "name": "",
                "postcode": "2000",
                "phone": 123456789, 
                "state": "",
                "suburb": "SYDNEY",            
                "type": "business",             
                "country": "AU"                 
            },
            "receiver": {
                "address": "216 Moggill Rd",         
                "company_name": "",   
                "email": "",
                "name": "John Smith",
                "postcode": "3000",
                "phone": 123456789, 
                "state": "",
                "suburb": "MELBOURNE",
                "type": "business",             
                "country": "AU"                 
            }
        }
        ```

+ Response 201 (application/json)

    + Headers  
    
        ```
        Location: /bookings/725625
        ```
    
    + Body 
        
        ```js
        {
            "id": 725625,
            "booked_at": "2015-05-14T19:38:55+1000",
            "booked_by": "sender",
            "created_at": "2015-05-14T19:39:03+1000",
            "declared_value": 1000,
            "insured_value": 0,
            "description": null,
            "items": [
                {
                    "id": 1177622,
                    "description": "carton",
                    "weight": 38.63,
                    "length": 3.32,
                    "width": 1.65,
                    "height": 0.25,
                    "quantity": 1
                },
                {
                    "id": 1177623,
                    "description": "carton",
                    "weight": 39.63,
                    "length": 4.32,
                    "width": 2.65,
                    "height": 1.25,
                    "quantity": 2
                }
            ],
            "label": "http://www.dev.transdirect.com.au/api/bookings/725625/label",
            "notifications": {
                "email": false,
                "sms": false
            },
            "quotes": {
                "allied": {
                    "total": 79.24,
                    "price_insurance_ex": 72.09,
                    "fee": 7.15,
                    "insured_amount": 4500,
                    "service": "road",
                    "transit_time": "1-2 days",
                    "pickup_dates": [
                        "2015-08-27",
                        "2015-08-28"
                    ],
                    "pickup_time": {
                        "from": "14:00",
                        "to": "18:00"
                    }
                },
                "tnt_overnight_express": {
                    "total": 34.915,
                    "price_insurance_ex": 27.765,
                    "fee": 7.15,
                    "insured_amount": 4500,
                    "service": "road",
                    "transit_time": "4 days",
                    "pickup_dates": [
                        "2015-08-27",
                        "2015-08-28"
                    ],
                    "pickup_time": {
                        "from": "14:00",
                        "to": "18:00"
                    }
                },
                "tnt_road_express": {
                    "total": 41.845,
                    "price_insurance_ex": 34.695,
                    "fee": 7.15,
                    "insured_amount": 4500,
                    "service": "road",
                    "transit_time": "4 days",
                    "pickup_dates": [
                        "2015-08-27",
                        "2015-08-28"
                    ],
                    "pickup_time": {
                        "from": "14:00",
                        "to": "18:00"
                    }
                }
            },
            "receiver": {
                "id": 1500838,
                "address": "216 Moggill Rd",
                "company_name": "",
                "email": "",
                "name": "John Smith",
                "postcode": "3000",
                "phone": "123456789",
                "state": "",
                "suburb": "MELBOURNE",
                "type": "business",
                "country": "AU"
            },
            "sender": {
                "id": 1500837,
                "address": "21 Kirksway Place",
                "company_name": "",
                "email": "",
                "name": "",
                "postcode": "2000",
                "phone": "123456789",
                "state": "",
                "suburb": "SYDNEY",
                "type": "business",
                "country": "AU"
            },
            "pickup_window": [],
            "connote": null,
            "charged_weight": 0,
            "scanned_weight": 0,
            "special_instructions": " - NO REDELIVERY OR REDIRECTION WITHOUT PERMISSION FROM TRANSDIRECT",
            "status": "new",
            "updated_at": "2015-05-14T19:39:11+1000",
            "tailgate_pickup": true,
            "tailgate_delivery": true
        }
        ```


# Get Bookings [/bookings/v4/{?since,sort}]

## Get bookings based on since and sort [GET]

+ Parameters

    + since (optional, string) ... Timestamp in ISO 8601 format: `YYYY-MM-DD+HH:MM:SS` Only bookings created at or after this time are returned. Example `2015-04-15+11:42:00
    + sort (optional, string) ... The sort order by field of the bookings returned. Options are `booking_time`, `pickup_date`, `cost`, etc. Example `booking_time` (default)

+ Response 201 (application/json)

    + Body 
        
        ```js
        [
            {
                "id": 725514,
                "booked_at": "2015-04-15T16:22:57+1000",
                "booked_by": "sender",
                "created_at": "2015-05-18T13:08:20+1000",
                "declared_value": 0,
                "insured_value": 0,
                "description": "",
                "items": [
                    {
                        "id": 1177483,
                        "description": "Carton",
                        "weight": 10,
                        "length": 10,
                        "width": 10,
                        "height": 10,
                        "quantity": 1
                    }
                ],
                "label": "http://www.dev.transdirect.com.au/api/bookings/725514/label",
                "notifications": {
                    "email": false,
                    "sms": false
                },
                "quotes": {
                    "allied": {
                        "total": 79.24,
                        "price_insurance_ex": 72.09,
                        "fee": 7.15,
                        "insured_amount": 4500,
                        "service": "road",
                        "transit_time": "1-2 days",
                        "pickup_dates": [
                            "2015-08-27",
                            "2015-08-28"
                        ],
                        "pickup_time": {
                            "from": "14:00",
                            "to": "18:00"
                        }
                    },
                    "tnt_overnight_express": {
                        "total": 34.915,
                        "price_insurance_ex": 27.765,
                        "fee": 7.15,
                        "insured_amount": 4500,
                        "service": "road",
                        "transit_time": "4 days",
                        "pickup_dates": [
                            "2015-08-27",
                            "2015-08-28"
                        ],
                        "pickup_time": {
                            "from": "14:00",
                            "to": "18:00"
                        }
                    },
                    "tnt_road_express": {
                        "total": 41.845,
                        "price_insurance_ex": 34.695,
                        "fee": 7.15,
                        "insured_amount": 4500,
                        "service": "road",
                        "transit_time": "4 days",
                        "pickup_dates": [
                            "2015-08-27",
                            "2015-08-28"
                        ],
                        "pickup_time": {
                            "from": "14:00",
                            "to": "18:00"
                        }
                    }
                },
                "receiver": {
                    "id": 1500592,
                    "address": "",
                    "company_name": "",
                    "email": "",
                    "name": "",
                    "postcode": "2001",
                    "phone": "",
                    "state": "NSW",
                    "suburb": "SYDNEY",
                    "type": "residential",
                    "country": "AU"
                },
                "sender": {
                    "id": 1500591,
                    "address": "",
                    "company_name": "",
                    "email": "",
                    "name": "",
                    "postcode": "2001",
                    "phone": "",
                    "state": "NSW",
                    "suburb": "SYDNEY",
                    "type": "business",
                    "country": "AU"
                },
                "pickup_window": [],
                "connote": "",
                "charged_weight": 10,
                "scanned_weight": 0,
                "special_instructions": " - NO REDELIVERY OR REDIRECTION WITHOUT PERMISSION FROM TRANSDIRECT",
                "status": "pending_payment",
                "updated_at": "2015-05-18T13:08:28+1000",
                "tailgate_pickup": false,
                "tailgate_delivery": false
            },
            {
                "id": 725546,
                "booked_at": "2015-04-20T17:04:37+1000",
                "booked_by": "sender",
                "created_at": "2015-05-18T13:08:28+1000",
                "declared_value": 0,
                "insured_value": 0,
                "description": "",
                "items": [
                    {
                        "id": 1177528,
                        "description": "Carton",
                        "weight": 1,
                        "length": 8,
                        "width": 8,
                        "height": 8,
                        "quantity": 8
                    }
                ],
                "label": "http://www.dev.transdirect.com.au/api/bookings/725546/label",
                "notifications": {
                    "email": false,
                    "sms": false
                },
                "quotes": {
                    "allied": {
                        "total": 79.24,
                        "price_insurance_ex": 72.09,
                        "fee": 7.15,
                        "insured_amount": 4500,
                        "service": "road",
                        "transit_time": "1-2 days",
                        "pickup_dates": [
                            "2015-08-27",
                            "2015-08-28"
                        ],
                        "pickup_time": {
                            "from": "14:00",
                            "to": "18:00"
                        }
                    },
                    "tnt_overnight_express": {
                        "total": 34.915,
                        "price_insurance_ex": 27.765,
                        "fee": 7.15,
                        "insured_amount": 4500,
                        "service": "road",
                        "transit_time": "4 days",
                        "pickup_dates": [
                            "2015-08-27",
                            "2015-08-28"
                        ],
                        "pickup_time": {
                            "from": "14:00",
                            "to": "18:00"
                        }
                    },
                    "tnt_road_express": {
                        "total": 41.845,
                        "price_insurance_ex": 34.695,
                        "fee": 7.15,
                        "insured_amount": 4500,
                        "service": "road",
                        "transit_time": "4 days",
                        "pickup_dates": [
                            "2015-08-27",
                            "2015-08-28"
                        ],
                        "pickup_time": {
                            "from": "14:00",
                            "to": "18:00"
                        }
                    }
                },
                "receiver": {
                    "id": 1500658,
                    "address": "",
                    "company_name": "",
                    "email": "",
                    "name": "",
                    "postcode": "2006",
                    "phone": "",
                    "state": "NSW",
                    "suburb": "THE UNIVERSITY OF SYDNEY",
                    "type": "business",
                    "country": "AU"
                },
                "sender": {
                    "id": 1500657,
                    "address": "",
                    "company_name": "",
                    "email": "",
                    "name": "",
                    "postcode": "2001",
                    "phone": "",
                    "state": "NSW",
                    "suburb": "SYDNEY",
                    "type": "business",
                    "country": "AU"
                },
                "pickup_window": [],
                "connote": "",
                "charged_weight": 8,
                "scanned_weight": 0,
                "special_instructions": " - NO REDELIVERY OR REDIRECTION WITHOUT PERMISSION FROM TRANSDIRECT",
                "status": "pending_payment",
                "updated_at": "2015-05-18T13:08:36+1000",
                "tailgate_pickup": false,
                "tailgate_delivery": false
            }
        ]
        ```
    

# Single Booking [/bookings/v4/{id}]

__Example:__ `/bookings/v4/623630`

__Statuses:__ `new`, `pending_payment`, `paid`, `pending_review`, `request_sent`, `request_failed` (request to courier failed), `reviewed`, `confirmed`, `cancelled`, and `booked_manually`

__Changes:__ After a shipment has been paid, changes can no longer be done. But you are able to cancel the shipment if it has not yet been sent to and confirmed by the Courier. And if the shipment has been confirmed by the Courier, you will need to contact our Helpdesk for further advice.

+ Parameters

    + id (required, integer) ... ID of the booking.
 
+ Model (application/json)

    JSON representation of Booking Resource.

    + Body

        ```js
        {
            "id": 623630,
            "booked_at": "2015-01-08T14:42:07+1100",
            "booked_by": "sender",
            "created_at": "2015-05-18T13:44:25+1000",
            "declared_value": 0,
            "insured_value": 0,
            "description": "TEST BOOKINGS",
            "items": [
                {
                    "id": 1055686,
                    "description": "Carton",
                    "weight": 5,
                    "length": 5,
                    "width": 10,
                    "height": 5,
                    "quantity": 1
                }
            ],
            "label": "http://www.dev.transdirect.com.au/api/bookings/623630/label",
            "notifications": {
                "email": false,
                "sms": false
            },
            "quotes": {
                "allied": {
                    "total": 79.24,
                    "price_insurance_ex": 72.09,
                    "fee": 7.15,
                    "insured_amount": 4500,
                    "service": "road",
                    "transit_time": "1-2 days",
                    "pickup_dates": [
                        "2015-08-27",
                        "2015-08-28"
                    ],
                    "pickup_time": {
                        "from": "14:00",
                        "to": "18:00"
                    }
                },
                "tnt_overnight_express": {
                    "total": 34.915,
                    "price_insurance_ex": 27.765,
                    "fee": 7.15,
                    "insured_amount": 4500,
                    "service": "road",
                    "transit_time": "4 days",
                    "pickup_dates": [
                        "2015-08-27",
                        "2015-08-28"
                    ],
                    "pickup_time": {
                        "from": "14:00",
                        "to": "18:00"
                    }
                },
                "tnt_road_express": {
                    "total": 41.845,
                    "price_insurance_ex": 34.695,
                    "fee": 7.15,
                    "insured_amount": 4500,
                    "service": "road",
                    "transit_time": "4 days",
                    "pickup_dates": [
                        "2015-08-27",
                        "2015-08-28"
                    ],
                    "pickup_time": {
                        "from": "14:00",
                        "to": "18:00"
                    }
                }
            },
            "receiver": {
                "id": 1285798,
                "address": "1|TEST",
                "company_name": "TEST Company",
                "email": "jorge@bywave.com.au",
                "name": "TEST BOOKINGS",
                "postcode": "2000",
                "phone": "1111111111",
                "state": "NSW",
                "suburb": "SYDNEY",
                "type": "business",
                "country": "AU"
            },
            "sender": {
                "id": 1285797,
                "address": "1|TEST",
                "company_name": "",
                "email": "jorge@bywave.com.au",
                "name": "TEST BOOKINGS",
                "postcode": "2000",
                "phone": "1111111111",
                "state": "NSW",
                "suburb": "SYDNEY",
                "type": "residential",
                "country": "AU"
            },
            "pickup_window": [
                "2015-01-12T12:00:00+1100",
                "2015-01-12T17:00:00+1100"
            ],
            "connote": "IRE000623630",
            "charged_weight": 5,
            "scanned_weight": 0,
            "special_instructions": " - NO REDELIVERY OR REDIRECTION WITHOUT PERMISSION FROM TRANSDIRECT",
            "status": "confirmed",
            "updated_at": "2015-05-18T13:44:44+1000",
            "tailgate_pickup": false,
            "tailgate_delivery": false
        }
        ```        

## Get a single booking [GET]

+ Response 200

    [Single Booking][]
    
## Update a booking [PUT]

+ Request (application/json)

    + Body 
        
        ```js
        {
            "declared_value": 10000,
            "description": "TEST BOOKINGS 2",
            "items": [
                {
                    "description": "Carton",
                    "weight": 5,
                      "length": 5,
                      "width": 10,
                      "height": 5,
                      "quantity": 12
                }
            ],
            "receiver": {
                "postcode": "2000",
                "type": "business",
                "country": "AU",
                "suburb": "SYDNEY"
            },
            "sender": {
                "postcode": "2000",
                "type": "residential",
                "country": "AU",
                "suburb": "SYDNEY"
            },
            "tailgate_pickup": false,
            "tailgate_delivery": false
        } 
        ```

+ Response 201 (application/json)

    + Body 
        
        ```js
        {
            "id": 623630,
            "booked_at": "2015-01-08T14:42:07+1100",
            "booked_by": "sender",
            "created_at": "2015-05-18T17:25:42+1000",
            "declared_value": 10000,
            "insured_value": 0,
            "description": "TEST BOOKINGS 2",
            "items": [
                {
                    "id": 1055686,
                    "description": "Carton",
                    "weight": 5,
                    "length": 5,
                    "width": 10,
                    "height": 5,
                    "quantity": 1
                },
                {
                    "id": 1177634,
                    "description": "Carton",
                    "weight": 5,
                    "length": 5,
                    "width": 10,
                    "height": 5,
                    "quantity": 12
                }
            ],
            "label": "http://www.dev.transdirect.com.au/api/bookings/623630/label",
            "notifications": {
                "email": false,
                "sms": false
            },
            "quotes": {
                "allied": {
                    "total": 79.24,
                    "price_insurance_ex": 72.09,
                    "fee": 7.15,
                    "insured_amount": 4500,
                    "service": "road",
                    "transit_time": "1-2 days",
                    "pickup_dates": [
                        "2015-08-27",
                        "2015-08-28"
                    ],
                    "pickup_time": {
                        "from": "14:00",
                        "to": "18:00"
                    }
                },
                "tnt_overnight_express": {
                    "total": 34.915,
                    "price_insurance_ex": 27.765,
                    "fee": 7.15,
                    "insured_amount": 4500,
                    "service": "road",
                    "transit_time": "4 days",
                    "pickup_dates": [
                        "2015-08-27",
                        "2015-08-28"
                    ],
                    "pickup_time": {
                        "from": "14:00",
                        "to": "18:00"
                    }
                },
                "tnt_road_express": {
                    "total": 41.845,
                    "price_insurance_ex": 34.695,
                    "fee": 7.15,
                    "insured_amount": 4500,
                    "service": "road",
                    "transit_time": "4 days",
                    "pickup_dates": [
                        "2015-08-27",
                        "2015-08-28"
                    ],
                    "pickup_time": {
                        "from": "14:00",
                        "to": "18:00"
                    }
                }
            },
            "receiver": {
                "id": 1285798,
                "address": "1|TEST",
                "company_name": "TEST Company",
                "email": "jorge@bywave.com.au",
                "name": "TEST BOOKINGS",
                "postcode": "2000",
                "phone": "1111111111",
                "state": "NSW",
                "suburb": "SYDNEY",
                "type": "business",
                "country": "AU"
            },
            "sender": {
                "id": 1285797,
                "address": "1|TEST",
                "company_name": "",
                "email": "jorge@bywave.com.au",
                "name": "TEST BOOKINGS",
                "postcode": "2000",
                "phone": "1111111111",
                "state": "NSW",
                "suburb": "SYDNEY",
                "type": "residential",
                "country": "AU"
            },
            "pickup_window": [
                "2015-01-12T12:00:00+1100",
                "2015-01-12T17:00:00+1100"
            ],
            "connote": "IRE000623630",
            "charged_weight": 5,
            "scanned_weight": 0,
            "special_instructions": " - NO REDELIVERY OR REDIRECTION WITHOUT PERMISSION FROM TRANSDIRECT",
            "status": "new",
            "updated_at": "2015-05-18T17:25:50+1000",
            "tailgate_pickup": false,
            "tailgate_delivery": false
        }
        ```

## Remove a booking [DELETE]

+ Response 204


# Booking Confirmation [/bookings/v4/{id}/confirm]

__Example:__ `/bookings/v4/623630`

__Notes:__ While you test the integration, the booking will have a “demo” status by default once the booking is confirmed. When you feel your API integration is finalized, please contact our Customer Support to allow your account to create live bookings. 

## Confirm a booking [POST]
+ Parameters

    + id (required, integer) ... ID of the booking.

+ Request (application/json)
    
    + Body
    
        ```js
        {
            "courier": "allied",
            "pickup-date": "2015-08-27"
        }
        ```
    
+ Response 204


# Tracking Booking [/bookings/track/v4/{id}]

__Example:__ `/bookings/v4/623630`

__Notes:__ This will return the tracking of booking - status, date, time and depot;

## Track a booking [GET]
+ Parameters

    + id (required, integer) ... ID of the booking.
+ Response 200 (text/html; charset=UTF-8)
 
    + Body 
    
       ```
       HTML table format
        ```

# Creating Customs Declaration [/booking/v4/{id}/custom_declaration]

__Example:__ `/bookings/v4/623630/custom_declaration`

__Notes:__ This can only be done in international bookings

## Create customs declaration [POST]
+ Parameters

    + id (required, integer) ... ID of the booking.

+ Request (application/json)
    
    + Body 
        ```
        {
            "custom_declaration": {
                "name": "Johnny Maker",
                "email": "john_maker@google.com",
                "phone": "61412345678",
                "company_name": "Shoe Makers",
                "booking_party_details_type": 1,
                "reason_of_shipment": "Gift",
                "items": [
                    "item": "Shoes",
                    "description": "Pair of black leather shoes",
                    "weight": "5",
                    "quantity": "2",
                    "invoice_value": "2.5",
                    "invoice_description": "Shoe Invoice",
                    "manufacturer_country": "AU"
                ]
            }
        }
        ```
        
+ Response 200 (text/html; charset=UTF-8)

    ```
    {
        "status": "success",
        "message": "Customs Declaration Successfully created"
    }
    ```

# Group Booking Items


# Booking Items [/bookings/v4/{id}/items]

__Example:__ `/bookings/v4/623630/items`

+ Parameters

    + id (required, integer) ... ID of the booking.
 
+ Model (application/json)

    JSON representation of Item Resource.

    + Body

        ```
        [
            {
                "id": 1055686,
                "description": "Carton",
                "weight": 5,
                "length": 5,
                "width": 10,
                "height": 5,
                "quantity": 1
            }
        ]    
        ```

## Get all items in a booking [GET]

+ Response 200

    [Booking Items][]

## Add an item to a booking [POST]

+ Request (application/json)
    
    + Body
    
        ```
        {
            "weight" : 10,
            "height" : 10,
            "width" : 10,
            "length" : 10,
            "quantity" : 5,
            "description" : "carton"
        }
        ```

+ Response 201

    + Body

        ```
        [
            {
                "id": 1177642,
                "description": "carton",
                "weight": 10,
                "length": 10,
                "width": 10,
                "height": 10,
                "quantity": 5
            }
        ]    
        ```


# Booking Single Item [/bookings/v4/{id}/items/{item_id}]

__Example:__ `/bookings/v4/623630/items/1177642`

+ Parameters

    + id (required, integer) ... ID of the booking.
    + item_id (required, integer) ... ID of the item.
 
+ Model (application/json)

    JSON representation of Item Resource.

    + Body

        ```
        {
            "id": 1177642,
            "description": "carton",
            "weight": 10,
            "length": 10,
            "width": 10,
            "height": 10,
            "quantity": 5
        }
        ```

## Get an item [GET]

+ Response 200

    [Booking Single Item][]

## Update an item [PUT]

+ Request (application/json)
    
    + Body
    
        ```
        {
            "height": 5
        }
        ```

+ Response 200

    + Body 
        
        ```
        {
            "id" : 523459,
            "weight" : 10,
            "height" : 5,
            "width" : 10,
            "length" : 10,
            "quantity" : 5,
            "description" : "carton"
        }
        ```

## Remove an item from a booking [DELETE]

+ Response 204



# Group Booking PDF


# Booking Label [/bookings/v4/{id}/label]

__Example:__ `/bookings/v4/623630/label`

+ Parameters

    + id (required, integer) ... ID of the booking.

## Get the PDF label for a booking [GET]

__Note:__ Demo account users can also fetch a label. The retrieved labels will be in a static demo label format for each Courier.
+ List of couriers that have demo labels:
    + Couriers Plase
    + Fastway
    + Toll
    + Toll International
    + Northline
    + TNT
    + TNT International

+ Response 200 (application/pdf)
 
    + Headers  
    
        ```
        Content-Disposition: attachment; filename="label.pdf"
        ```
    
    + Body 
    
       ```
       JVBERi0xLjIgDQol4uPP0w0KIA0KOSAwIG9iag0KPDwNCi9MZW5ndGggMTAgMCBSDQovRmlsdGVyIC9GbGF0ZURlY29kZSANCj4+DQpzdHJlYW0NCkiJzZDRSsMwFIafIO/we6eyZuckTZPtbtIWBi0UjYKQGxFbJmpliuLb26QM8X6CJBfJyf99ycmFF6xJagWrrMxzwJeCEMd+gFjWBC1dLPeCJFkbl/fTKfwnTqt1CK0xIZyEwFYZ2T+fwT8KnmIxUmJinNKJyUiyW7mZVEQ6I54m2K3ZzFiupvgPaee7JHFuZqyDvxuGBbZdu8D1y+7jYf+2e//C2KOJm9dxfEqqTHMRXZlR0hRJuKwZau6EJa+MOdjpYN/gprq8xVW7aRp0ZY162ySbktoWvxpPZULGxJLSr+G4UuX+QHrcl/rz/2eqvPgGPPWhqg0KZW5kc3RyZWFtDQplbmRvYmoNCjEwIDAgb2JqDQoyNDYNCmVuZG9iag0KNCAwIG9iag0KPDwNCi9UeXBlIC9QYWdlDQovUGFyZW50IDUgMCBSDQovUmVzb3VyY2VzIDw8DQovRm9udCA8PA0KL0YwIDYgMCBSIA0KL0YxIDcgMCBSIA0KPj4NCi9Qcm9jU2V0IDIgMCBSDQo+Pg0KL0NvbnRlbnRzIDkgMCBSDQo+Pg0KZW5kb2JqDQo2IDAgb2JqDQo8PA0KL1R5cGUgL0ZvbnQNCi9TdWJ0eXBlIC9UcnVlVHlwZQ0KL05hbWUgL0YwDQovQmFzZUZvbnQgL0FyaWFsDQovRW5jb2RpbmcgL1dpbkFuc2lFbmNvZGluZw0KPj4NCmVuZG9iag0KNyAwIG9iag0KPDwNCi9UeXBlIC9Gb250DQovU3VidHlwZSAvVHJ1ZVR5cGUNCi9OYW1lIC9GMQ0KL0Jhc2VGb250IC9Cb29rQW50aXF1YSxCb2xkDQovRmlyc3RDaGFyIDMxDQovTGFzdENoYXIgMjU1DQovV2lkdGhzIFsgNzUwIDI1MCAyNzggNDAyIDYwNiA1MDAgODg5IDgzMyAyMjcgMzMzIDMzMyA0NDQgNjA2IDI1MCAzMzMgMjUwIA0KMjk2IDUwMCA1MDAgNTAwIDUwMCA1MDAgNTAwIDUwMCA1MDAgNTAwIDUwMCAyNTAgMjUwIDYwNiA2MDYgNjA2IA0KNDQ0IDc0NyA3NzggNjY3IDcyMiA4MzMgNjExIDU1NiA4MzMgODMzIDM4OSAzODkgNzc4IDYxMSAxMDAwIDgzMyANCjgzMyA2MTEgODMzIDcyMiA2MTEgNjY3IDc3OCA3NzggMTAwMCA2NjcgNjY3IDY2NyAzMzMgNjA2IDMzMyA2MDYgDQo1MDAgMzMzIDUwMCA2MTEgNDQ0IDYxMSA1MDAgMzg5IDU1NiA2MTEgMzMzIDMzMyA2MTEgMzMzIDg4OSA2MTEgDQo1NTYgNjExIDYxMSAzODkgNDQ0IDMzMyA2MTEgNTU2IDgzMyA1MDAgNTU2IDUwMCAzMTAgNjA2IDMxMCA2MDYgDQo3NTAgNTAwIDc1MCAzMzMgNTAwIDUwMCAxMDAwIDUwMCA1MDAgMzMzIDEwMDAgNjExIDM4OSAxMDAwIDc1MCA3NTAgDQo3NTAgNzUwIDI3OCAyNzggNTAwIDUwMCA2MDYgNTAwIDEwMDAgMzMzIDk5OCA0NDQgMzg5IDgzMyA3NTAgNzUwIA0KNjY3IDI1MCAyNzggNTAwIDUwMCA2MDYgNTAwIDYwNiA1MDAgMzMzIDc0NyA0MzggNTAwIDYwNiAzMzMgNzQ3IA0KNTAwIDQwMCA1NDkgMzYxIDM2MSAzMzMgNTc2IDY0MSAyNTAgMzMzIDM2MSA0ODggNTAwIDg4OSA4OTAgODg5IA0KNDQ0IDc3OCA3NzggNzc4IDc3OCA3NzggNzc4IDEwMDAgNzIyIDYxMSA2MTEgNjExIDYxMSAzODkgMzg5IDM4OSANCjM4OSA4MzMgODMzIDgzMyA4MzMgODMzIDgzMyA4MzMgNjA2IDgzMyA3NzggNzc4IDc3OCA3NzggNjY3IDYxMSANCjYxMSA1MDAgNTAwIDUwMCA1MDAgNTAwIDUwMCA3NzggNDQ0IDUwMCA1MDAgNTAwIDUwMCAzMzMgMzMzIDMzMyANCjMzMyA1NTYgNjExIDU1NiA1NTYgNTU2IDU1NiA1NTYgNTQ5IDU1NiA2MTEgNjExIDYxMSA2MTEgNTU2IDYxMSANCjU1NiBdDQovRW5jb2RpbmcgL1dpbkFuc2lFbmNvZGluZw0KL0ZvbnREZXNjcmlwdG9yIDggMCBSDQo+Pg0KZW5kb2JqDQo4IDAgb2JqDQo8PA0KL1R5cGUgL0ZvbnREZXNjcmlwdG9yDQovRm9udE5hbWUgL0Jvb2tBbnRpcXVhLEJvbGQNCi9GbGFncyAxNjQxOA0KL0ZvbnRCQm94IFsgLTI1MCAtMjYwIDEyMzYgOTMwIF0NCi9NaXNzaW5nV2lkdGggNzUwDQovU3RlbVYgMTQ2DQovU3RlbUggMTQ2DQovSXRhbGljQW5nbGUgMA0KL0NhcEhlaWdodCA5MzANCi9YSGVpZ2h0IDY1MQ0KL0FzY2VudCA5MzANCi9EZXNjZW50IDI2MA0KL0xlYWRpbmcgMjEwDQovTWF4V2lkdGggMTAzMA0KL0F2Z1dpZHRoIDQ2MA0KPj4NCmVuZG9iag0KMiAwIG9iag0KWyAvUERGIC9UZXh0ICBdDQplbmRvYmoNCjUgMCBvYmoNCjw8DQovS2lkcyBbNCAwIFIgXQ0KL0NvdW50IDENCi9UeXBlIC9QYWdlcw0KL01lZGlhQm94IFsgMCAwIDYxMiA3OTIgXQ0KPj4NCmVuZG9iag0KMSAwIG9iag0KPDwNCi9DcmVhdG9yICgxNzI1LmZtKQ0KL0NyZWF0aW9uRGF0ZSAoMS1KYW4tMyAxODoxNVBNKQ0KL1RpdGxlICgxNzI1LlBERikNCi9BdXRob3IgKFVua25vd24pDQovUHJvZHVjZXIgKEFjcm9iYXQgUERGV3JpdGVyIDMuMDIgZm9yIFdpbmRvd3MpDQovS2V5d29yZHMgKCkNCi9TdWJqZWN0ICgpDQo+Pg0KZW5kb2JqDQozIDAgb2JqDQo8PA0KL1BhZ2VzIDUgMCBSDQovVHlwZSAvQ2F0YWxvZw0KL0RlZmF1bHRHcmF5IDExIDAgUg0KL0RlZmF1bHRSR0IgIDEyIDAgUg0KPj4NCmVuZG9iag0KMTEgMCBvYmoNClsvQ2FsR3JheQ0KPDwNCi9XaGl0ZVBvaW50IFswLjk1MDUgMSAxLjA4OTEgXQ0KL0dhbW1hIDAuMjQ2OCANCj4+DQpdDQplbmRvYmoNCjEyIDAgb2JqDQpbL0NhbFJHQg0KPDwNCi9XaGl0ZVBvaW50IFswLjk1MDUgMSAxLjA4OTEgXQ0KL0dhbW1hIFswLjI0NjggMC4yNDY4IDAuMjQ2OCBdDQovTWF0cml4IFswLjQzNjEgMC4yMjI1IDAuMDEzOSAwLjM4NTEgMC43MTY5IDAuMDk3MSAwLjE0MzEgMC4wNjA2IDAuNzE0MSBdDQo+Pg0KXQ0KZW5kb2JqDQp4cmVmDQowIDEzDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDIxNzIgMDAwMDAgbg0KMDAwMDAwMjA0NiAwMDAwMCBuDQowMDAwMDAyMzYzIDAwMDAwIG4NCjAwMDAwMDAzNzUgMDAwMDAgbg0KMDAwMDAwMjA4MCAwMDAwMCBuDQowMDAwMDAwNTE4IDAwMDAwIG4NCjAwMDAwMDA2MzMgMDAwMDAgbg0KMDAwMDAwMTc2MCAwMDAwMCBuDQowMDAwMDAwMDIxIDAwMDAwIG4NCjAwMDAwMDAzNTIgMDAwMDAgbg0KMDAwMDAwMjQ2MCAwMDAwMCBuDQowMDAwMDAyNTQ4IDAwMDAwIG4NCnRyYWlsZXINCjw8DQovU2l6ZSAxMw0KL1Jvb3QgMyAwIFINCi9JbmZvIDEgMCBSDQovSUQgWzw0NzE0OTUxMDQzM2RkNDg4MmYwNWY4YzEyNDIyMzczND48NDcxNDk1MTA0MzNkZDQ4ODJmMDVmOGMxMjQyMjM3MzQ+XQ0KPj4NCnN0YXJ0eHJlZg0KMjcyNg0KJSVFT0YNCg==
        ```


# Booking Invoice [/bookings/v4/{id}/invoice]

+ Parameters

    + id (required, integer) ... ID of the booking.

## Get the PDF invoice for a booking [GET]

+ Response 200 (application/pdf)
 
    + Headers  
    
        ```
        Content-Disposition: attachment; filename="invoice.pdf"
        ```
    
    + Body 
    
       ```
       JVBERi0xLjIgDQol4uPP0w0KIA0KOSAwIG9iag0KPDwNCi9MZW5ndGggMTAgMCBSDQovRmlsdGVyIC9GbGF0ZURlY29kZSANCj4+DQpzdHJlYW0NCkiJzZDRSsMwFIafIO/we6eyZuckTZPtbtIWBi0UjYKQGxFbJmpliuLb26QM8X6CJBfJyf99ycmFF6xJagWrrMxzwJeCEMd+gFjWBC1dLPeCJFkbl/fTKfwnTqt1CK0xIZyEwFYZ2T+fwT8KnmIxUmJinNKJyUiyW7mZVEQ6I54m2K3ZzFiupvgPaee7JHFuZqyDvxuGBbZdu8D1y+7jYf+2e//C2KOJm9dxfEqqTHMRXZlR0hRJuKwZau6EJa+MOdjpYN/gprq8xVW7aRp0ZY162ySbktoWvxpPZULGxJLSr+G4UuX+QHrcl/rz/2eqvPgGPPWhqg0KZW5kc3RyZWFtDQplbmRvYmoNCjEwIDAgb2JqDQoyNDYNCmVuZG9iag0KNCAwIG9iag0KPDwNCi9UeXBlIC9QYWdlDQovUGFyZW50IDUgMCBSDQovUmVzb3VyY2VzIDw8DQovRm9udCA8PA0KL0YwIDYgMCBSIA0KL0YxIDcgMCBSIA0KPj4NCi9Qcm9jU2V0IDIgMCBSDQo+Pg0KL0NvbnRlbnRzIDkgMCBSDQo+Pg0KZW5kb2JqDQo2IDAgb2JqDQo8PA0KL1R5cGUgL0ZvbnQNCi9TdWJ0eXBlIC9UcnVlVHlwZQ0KL05hbWUgL0YwDQovQmFzZUZvbnQgL0FyaWFsDQovRW5jb2RpbmcgL1dpbkFuc2lFbmNvZGluZw0KPj4NCmVuZG9iag0KNyAwIG9iag0KPDwNCi9UeXBlIC9Gb250DQovU3VidHlwZSAvVHJ1ZVR5cGUNCi9OYW1lIC9GMQ0KL0Jhc2VGb250IC9Cb29rQW50aXF1YSxCb2xkDQovRmlyc3RDaGFyIDMxDQovTGFzdENoYXIgMjU1DQovV2lkdGhzIFsgNzUwIDI1MCAyNzggNDAyIDYwNiA1MDAgODg5IDgzMyAyMjcgMzMzIDMzMyA0NDQgNjA2IDI1MCAzMzMgMjUwIA0KMjk2IDUwMCA1MDAgNTAwIDUwMCA1MDAgNTAwIDUwMCA1MDAgNTAwIDUwMCAyNTAgMjUwIDYwNiA2MDYgNjA2IA0KNDQ0IDc0NyA3NzggNjY3IDcyMiA4MzMgNjExIDU1NiA4MzMgODMzIDM4OSAzODkgNzc4IDYxMSAxMDAwIDgzMyANCjgzMyA2MTEgODMzIDcyMiA2MTEgNjY3IDc3OCA3NzggMTAwMCA2NjcgNjY3IDY2NyAzMzMgNjA2IDMzMyA2MDYgDQo1MDAgMzMzIDUwMCA2MTEgNDQ0IDYxMSA1MDAgMzg5IDU1NiA2MTEgMzMzIDMzMyA2MTEgMzMzIDg4OSA2MTEgDQo1NTYgNjExIDYxMSAzODkgNDQ0IDMzMyA2MTEgNTU2IDgzMyA1MDAgNTU2IDUwMCAzMTAgNjA2IDMxMCA2MDYgDQo3NTAgNTAwIDc1MCAzMzMgNTAwIDUwMCAxMDAwIDUwMCA1MDAgMzMzIDEwMDAgNjExIDM4OSAxMDAwIDc1MCA3NTAgDQo3NTAgNzUwIDI3OCAyNzggNTAwIDUwMCA2MDYgNTAwIDEwMDAgMzMzIDk5OCA0NDQgMzg5IDgzMyA3NTAgNzUwIA0KNjY3IDI1MCAyNzggNTAwIDUwMCA2MDYgNTAwIDYwNiA1MDAgMzMzIDc0NyA0MzggNTAwIDYwNiAzMzMgNzQ3IA0KNTAwIDQwMCA1NDkgMzYxIDM2MSAzMzMgNTc2IDY0MSAyNTAgMzMzIDM2MSA0ODggNTAwIDg4OSA4OTAgODg5IA0KNDQ0IDc3OCA3NzggNzc4IDc3OCA3NzggNzc4IDEwMDAgNzIyIDYxMSA2MTEgNjExIDYxMSAzODkgMzg5IDM4OSANCjM4OSA4MzMgODMzIDgzMyA4MzMgODMzIDgzMyA4MzMgNjA2IDgzMyA3NzggNzc4IDc3OCA3NzggNjY3IDYxMSANCjYxMSA1MDAgNTAwIDUwMCA1MDAgNTAwIDUwMCA3NzggNDQ0IDUwMCA1MDAgNTAwIDUwMCAzMzMgMzMzIDMzMyANCjMzMyA1NTYgNjExIDU1NiA1NTYgNTU2IDU1NiA1NTYgNTQ5IDU1NiA2MTEgNjExIDYxMSA2MTEgNTU2IDYxMSANCjU1NiBdDQovRW5jb2RpbmcgL1dpbkFuc2lFbmNvZGluZw0KL0ZvbnREZXNjcmlwdG9yIDggMCBSDQo+Pg0KZW5kb2JqDQo4IDAgb2JqDQo8PA0KL1R5cGUgL0ZvbnREZXNjcmlwdG9yDQovRm9udE5hbWUgL0Jvb2tBbnRpcXVhLEJvbGQNCi9GbGFncyAxNjQxOA0KL0ZvbnRCQm94IFsgLTI1MCAtMjYwIDEyMzYgOTMwIF0NCi9NaXNzaW5nV2lkdGggNzUwDQovU3RlbVYgMTQ2DQovU3RlbUggMTQ2DQovSXRhbGljQW5nbGUgMA0KL0NhcEhlaWdodCA5MzANCi9YSGVpZ2h0IDY1MQ0KL0FzY2VudCA5MzANCi9EZXNjZW50IDI2MA0KL0xlYWRpbmcgMjEwDQovTWF4V2lkdGggMTAzMA0KL0F2Z1dpZHRoIDQ2MA0KPj4NCmVuZG9iag0KMiAwIG9iag0KWyAvUERGIC9UZXh0ICBdDQplbmRvYmoNCjUgMCBvYmoNCjw8DQovS2lkcyBbNCAwIFIgXQ0KL0NvdW50IDENCi9UeXBlIC9QYWdlcw0KL01lZGlhQm94IFsgMCAwIDYxMiA3OTIgXQ0KPj4NCmVuZG9iag0KMSAwIG9iag0KPDwNCi9DcmVhdG9yICgxNzI1LmZtKQ0KL0NyZWF0aW9uRGF0ZSAoMS1KYW4tMyAxODoxNVBNKQ0KL1RpdGxlICgxNzI1LlBERikNCi9BdXRob3IgKFVua25vd24pDQovUHJvZHVjZXIgKEFjcm9iYXQgUERGV3JpdGVyIDMuMDIgZm9yIFdpbmRvd3MpDQovS2V5d29yZHMgKCkNCi9TdWJqZWN0ICgpDQo+Pg0KZW5kb2JqDQozIDAgb2JqDQo8PA0KL1BhZ2VzIDUgMCBSDQovVHlwZSAvQ2F0YWxvZw0KL0RlZmF1bHRHcmF5IDExIDAgUg0KL0RlZmF1bHRSR0IgIDEyIDAgUg0KPj4NCmVuZG9iag0KMTEgMCBvYmoNClsvQ2FsR3JheQ0KPDwNCi9XaGl0ZVBvaW50IFswLjk1MDUgMSAxLjA4OTEgXQ0KL0dhbW1hIDAuMjQ2OCANCj4+DQpdDQplbmRvYmoNCjEyIDAgb2JqDQpbL0NhbFJHQg0KPDwNCi9XaGl0ZVBvaW50IFswLjk1MDUgMSAxLjA4OTEgXQ0KL0dhbW1hIFswLjI0NjggMC4yNDY4IDAuMjQ2OCBdDQovTWF0cml4IFswLjQzNjEgMC4yMjI1IDAuMDEzOSAwLjM4NTEgMC43MTY5IDAuMDk3MSAwLjE0MzEgMC4wNjA2IDAuNzE0MSBdDQo+Pg0KXQ0KZW5kb2JqDQp4cmVmDQowIDEzDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDIxNzIgMDAwMDAgbg0KMDAwMDAwMjA0NiAwMDAwMCBuDQowMDAwMDAyMzYzIDAwMDAwIG4NCjAwMDAwMDAzNzUgMDAwMDAgbg0KMDAwMDAwMjA4MCAwMDAwMCBuDQowMDAwMDAwNTE4IDAwMDAwIG4NCjAwMDAwMDA2MzMgMDAwMDAgbg0KMDAwMDAwMTc2MCAwMDAwMCBuDQowMDAwMDAwMDIxIDAwMDAwIG4NCjAwMDAwMDAzNTIgMDAwMDAgbg0KMDAwMDAwMjQ2MCAwMDAwMCBuDQowMDAwMDAyNTQ4IDAwMDAwIG4NCnRyYWlsZXINCjw8DQovU2l6ZSAxMw0KL1Jvb3QgMyAwIFINCi9JbmZvIDEgMCBSDQovSUQgWzw0NzE0OTUxMDQzM2RkNDg4MmYwNWY4YzEyNDIyMzczND48NDcxNDk1MTA0MzNkZDQ4ODJmMDVmOGMxMjQyMjM3MzQ+XQ0KPj4NCnN0YXJ0eHJlZg0KMjcyNg0KJSVFT0YNCg==
        ```


# Booking TNT Label [/bookings/v4/{id}/tntregeneralabel]

+ Parameters

    + id (required, integer) ... ID of the booking.

## Get the PDF TNT label for a booking [GET]

+ Response 200 (application/pdf)
 
    + Headers  
    
        ```
        Content-Disposition: attachment; filename="label.pdf"
        ```
    
    + Body 
    
       ```
       JVBERi0xLjIgDQol4uPP0w0KIA0KOSAwIG9iag0KPDwNCi9MZW5ndGggMTAgMCBSDQovRmlsdGVyIC9GbGF0ZURlY29kZSANCj4+DQpzdHJlYW0NCkiJzZDRSsMwFIafIO/we6eyZuckTZPtbtIWBi0UjYKQGxFbJmpliuLb26QM8X6CJBfJyf99ycmFF6xJagWrrMxzwJeCEMd+gFjWBC1dLPeCJFkbl/fTKfwnTqt1CK0xIZyEwFYZ2T+fwT8KnmIxUmJinNKJyUiyW7mZVEQ6I54m2K3ZzFiupvgPaee7JHFuZqyDvxuGBbZdu8D1y+7jYf+2e//C2KOJm9dxfEqqTHMRXZlR0hRJuKwZau6EJa+MOdjpYN/gprq8xVW7aRp0ZY162ySbktoWvxpPZULGxJLSr+G4UuX+QHrcl/rz/2eqvPgGPPWhqg0KZW5kc3RyZWFtDQplbmRvYmoNCjEwIDAgb2JqDQoyNDYNCmVuZG9iag0KNCAwIG9iag0KPDwNCi9UeXBlIC9QYWdlDQovUGFyZW50IDUgMCBSDQovUmVzb3VyY2VzIDw8DQovRm9udCA8PA0KL0YwIDYgMCBSIA0KL0YxIDcgMCBSIA0KPj4NCi9Qcm9jU2V0IDIgMCBSDQo+Pg0KL0NvbnRlbnRzIDkgMCBSDQo+Pg0KZW5kb2JqDQo2IDAgb2JqDQo8PA0KL1R5cGUgL0ZvbnQNCi9TdWJ0eXBlIC9UcnVlVHlwZQ0KL05hbWUgL0YwDQovQmFzZUZvbnQgL0FyaWFsDQovRW5jb2RpbmcgL1dpbkFuc2lFbmNvZGluZw0KPj4NCmVuZG9iag0KNyAwIG9iag0KPDwNCi9UeXBlIC9Gb250DQovU3VidHlwZSAvVHJ1ZVR5cGUNCi9OYW1lIC9GMQ0KL0Jhc2VGb250IC9Cb29rQW50aXF1YSxCb2xkDQovRmlyc3RDaGFyIDMxDQovTGFzdENoYXIgMjU1DQovV2lkdGhzIFsgNzUwIDI1MCAyNzggNDAyIDYwNiA1MDAgODg5IDgzMyAyMjcgMzMzIDMzMyA0NDQgNjA2IDI1MCAzMzMgMjUwIA0KMjk2IDUwMCA1MDAgNTAwIDUwMCA1MDAgNTAwIDUwMCA1MDAgNTAwIDUwMCAyNTAgMjUwIDYwNiA2MDYgNjA2IA0KNDQ0IDc0NyA3NzggNjY3IDcyMiA4MzMgNjExIDU1NiA4MzMgODMzIDM4OSAzODkgNzc4IDYxMSAxMDAwIDgzMyANCjgzMyA2MTEgODMzIDcyMiA2MTEgNjY3IDc3OCA3NzggMTAwMCA2NjcgNjY3IDY2NyAzMzMgNjA2IDMzMyA2MDYgDQo1MDAgMzMzIDUwMCA2MTEgNDQ0IDYxMSA1MDAgMzg5IDU1NiA2MTEgMzMzIDMzMyA2MTEgMzMzIDg4OSA2MTEgDQo1NTYgNjExIDYxMSAzODkgNDQ0IDMzMyA2MTEgNTU2IDgzMyA1MDAgNTU2IDUwMCAzMTAgNjA2IDMxMCA2MDYgDQo3NTAgNTAwIDc1MCAzMzMgNTAwIDUwMCAxMDAwIDUwMCA1MDAgMzMzIDEwMDAgNjExIDM4OSAxMDAwIDc1MCA3NTAgDQo3NTAgNzUwIDI3OCAyNzggNTAwIDUwMCA2MDYgNTAwIDEwMDAgMzMzIDk5OCA0NDQgMzg5IDgzMyA3NTAgNzUwIA0KNjY3IDI1MCAyNzggNTAwIDUwMCA2MDYgNTAwIDYwNiA1MDAgMzMzIDc0NyA0MzggNTAwIDYwNiAzMzMgNzQ3IA0KNTAwIDQwMCA1NDkgMzYxIDM2MSAzMzMgNTc2IDY0MSAyNTAgMzMzIDM2MSA0ODggNTAwIDg4OSA4OTAgODg5IA0KNDQ0IDc3OCA3NzggNzc4IDc3OCA3NzggNzc4IDEwMDAgNzIyIDYxMSA2MTEgNjExIDYxMSAzODkgMzg5IDM4OSANCjM4OSA4MzMgODMzIDgzMyA4MzMgODMzIDgzMyA4MzMgNjA2IDgzMyA3NzggNzc4IDc3OCA3NzggNjY3IDYxMSANCjYxMSA1MDAgNTAwIDUwMCA1MDAgNTAwIDUwMCA3NzggNDQ0IDUwMCA1MDAgNTAwIDUwMCAzMzMgMzMzIDMzMyANCjMzMyA1NTYgNjExIDU1NiA1NTYgNTU2IDU1NiA1NTYgNTQ5IDU1NiA2MTEgNjExIDYxMSA2MTEgNTU2IDYxMSANCjU1NiBdDQovRW5jb2RpbmcgL1dpbkFuc2lFbmNvZGluZw0KL0ZvbnREZXNjcmlwdG9yIDggMCBSDQo+Pg0KZW5kb2JqDQo4IDAgb2JqDQo8PA0KL1R5cGUgL0ZvbnREZXNjcmlwdG9yDQovRm9udE5hbWUgL0Jvb2tBbnRpcXVhLEJvbGQNCi9GbGFncyAxNjQxOA0KL0ZvbnRCQm94IFsgLTI1MCAtMjYwIDEyMzYgOTMwIF0NCi9NaXNzaW5nV2lkdGggNzUwDQovU3RlbVYgMTQ2DQovU3RlbUggMTQ2DQovSXRhbGljQW5nbGUgMA0KL0NhcEhlaWdodCA5MzANCi9YSGVpZ2h0IDY1MQ0KL0FzY2VudCA5MzANCi9EZXNjZW50IDI2MA0KL0xlYWRpbmcgMjEwDQovTWF4V2lkdGggMTAzMA0KL0F2Z1dpZHRoIDQ2MA0KPj4NCmVuZG9iag0KMiAwIG9iag0KWyAvUERGIC9UZXh0ICBdDQplbmRvYmoNCjUgMCBvYmoNCjw8DQovS2lkcyBbNCAwIFIgXQ0KL0NvdW50IDENCi9UeXBlIC9QYWdlcw0KL01lZGlhQm94IFsgMCAwIDYxMiA3OTIgXQ0KPj4NCmVuZG9iag0KMSAwIG9iag0KPDwNCi9DcmVhdG9yICgxNzI1LmZtKQ0KL0NyZWF0aW9uRGF0ZSAoMS1KYW4tMyAxODoxNVBNKQ0KL1RpdGxlICgxNzI1LlBERikNCi9BdXRob3IgKFVua25vd24pDQovUHJvZHVjZXIgKEFjcm9iYXQgUERGV3JpdGVyIDMuMDIgZm9yIFdpbmRvd3MpDQovS2V5d29yZHMgKCkNCi9TdWJqZWN0ICgpDQo+Pg0KZW5kb2JqDQozIDAgb2JqDQo8PA0KL1BhZ2VzIDUgMCBSDQovVHlwZSAvQ2F0YWxvZw0KL0RlZmF1bHRHcmF5IDExIDAgUg0KL0RlZmF1bHRSR0IgIDEyIDAgUg0KPj4NCmVuZG9iag0KMTEgMCBvYmoNClsvQ2FsR3JheQ0KPDwNCi9XaGl0ZVBvaW50IFswLjk1MDUgMSAxLjA4OTEgXQ0KL0dhbW1hIDAuMjQ2OCANCj4+DQpdDQplbmRvYmoNCjEyIDAgb2JqDQpbL0NhbFJHQg0KPDwNCi9XaGl0ZVBvaW50IFswLjk1MDUgMSAxLjA4OTEgXQ0KL0dhbW1hIFswLjI0NjggMC4yNDY4IDAuMjQ2OCBdDQovTWF0cml4IFswLjQzNjEgMC4yMjI1IDAuMDEzOSAwLjM4NTEgMC43MTY5IDAuMDk3MSAwLjE0MzEgMC4wNjA2IDAuNzE0MSBdDQo+Pg0KXQ0KZW5kb2JqDQp4cmVmDQowIDEzDQowMDAwMDAwMDAwIDY1NTM1IGYNCjAwMDAwMDIxNzIgMDAwMDAgbg0KMDAwMDAwMjA0NiAwMDAwMCBuDQowMDAwMDAyMzYzIDAwMDAwIG4NCjAwMDAwMDAzNzUgMDAwMDAgbg0KMDAwMDAwMjA4MCAwMDAwMCBuDQowMDAwMDAwNTE4IDAwMDAwIG4NCjAwMDAwMDA2MzMgMDAwMDAgbg0KMDAwMDAwMTc2MCAwMDAwMCBuDQowMDAwMDAwMDIxIDAwMDAwIG4NCjAwMDAwMDAzNTIgMDAwMDAgbg0KMDAwMDAwMjQ2MCAwMDAwMCBuDQowMDAwMDAyNTQ4IDAwMDAwIG4NCnRyYWlsZXINCjw8DQovU2l6ZSAxMw0KL1Jvb3QgMyAwIFINCi9JbmZvIDEgMCBSDQovSUQgWzw0NzE0OTUxMDQzM2RkNDg4MmYwNWY4YzEyNDIyMzczND48NDcxNDk1MTA0MzNkZDQ4ODJmMDVmOGMxMjQyMjM3MzQ+XQ0KPj4NCnN0YXJ0eHJlZg0KMjcyNg0KJSVFT0YNCg==
        ```



# Group Members


# Member [/member]

## Get the currently authenticated member [GET]

+ Response 200 (application/json)
    
    + Body
        
        ```
        {
          "id": 503,
          "company_name": "Bywave Testing Account",
          "contact_name": "Chris",
          "address": "2",
          "suburb": "",
          "postcode": 2117,
          "state": "NSW",
          "phone": "0",
          "discount_factor": 0,
          "credit_limit": 3000,
          "credit_limit_available": 2941.2,
          "charge_type": "",
          "last_invoice_timestamp": "0",
          "terms": "0",
          "active": "no"
        }    
        ```



# Group Locations

A location is a unique postcode/suburb combination. A suburb might have multiple locations with different postcodes and similarly a postcode will have many locations for each suburb within the postcode.


# Get Locations [/locations]

## Get locations [GET]

+ Response 200 (application/json)

    + Body
    
        ```js
        {
            "next_page": "https://www.transdirect.com.au/api/locations/page/2",
            "code": 200,
            "locations": {
                "1": {
                    "id": "1",
                    "locality": "AUSTRALIAN NATIONAL UNIVERSITY",
                    "postcode": "0200",
                    "state": "ACT",
                    "priority": "1"
                },
                "2": {
                    "id": "2",
                    "locality": "BARTON",
                    "postcode": "0221",
                    "state": "ACT",
                    "priority": "1"
                },
                "3": {
                    "id": "3",
                    "locality": "DARWIN",
                    "postcode": "0800",
                    "state": "NT",
                    "priority": "1"
                }
            }    
        }
        ```


# Search Locations [/locations{?q}]

## Search locations [GET]

+ Parameters

    + q (required, string) ... Search term. This will be matched on postcode or suburb name. Example `4000`
    
+ Response 200 (application/json)
    
    + Body
    
        ```js
        {
            "locations": {
                "8742": {
                    "id": "8742",
                    "locality": "BRISBANE ADELAIDE STREET",
                    "postcode": "4000",
                    "state": "QLD",
                    "priority": "10"
                },
                "8743": {
                    "id": "8743",
                    "locality": "BRISBANE CITY",
                    "postcode": "4000",
                    "state": "QLD",
                    "priority": "10"
                },
                "8744": {
                    "id": "8744",
                    "locality": "BRISBANE GPO",
                    "postcode": "4000",
                    "state": "QLD",
                    "priority": "10"
                },
                "8745": {
                    "id": "8745",
                    "locality": "PETRIE TERRACE",
                    "postcode": "4000",
                    "state": "QLD",
                    "priority": "10"
                },
                "8746": {
                    "id": "8746",
                    "locality": "SPRING HILL",
                    "postcode": "4000",
                    "state": "QLD",
                    "priority": "10"
                },
                "16640": {
                    "id": "16640",
                    "locality": "BRISBANE",
                    "postcode": "4000",
                    "state": "QLD",
                    "priority": "10"
                }
            }
        }
        ```


# Get Locations Within Postcode [/locations/postcode/{postCode}]

Get all locations available. Please note this data is for use in instances like typeaheads and may not be 100% accurate for all Couriers, since each has their own postcode and suburb data.

+ Parameters

    + postCode (required, string) ... Post code to search for locations. Example `2000` for Sydney

## Get locations within a postcode [GET]

+ Response 200 (application/json)
    
    + Body

        ```js
        {
            "locations": [
                {
                    "locality": "BARANGAROO",
                    "postcode": "2000",
                    "state": "NSW"
                },
                {
                    "locality": "DAWES POINT",
                    "postcode": "2000",
                    "state": "NSW"
                },
                {
                    "locality": "HAYMARKET",
                    "postcode": "2000",
                    "state": "NSW"
                },
                {
                    "locality": "MILLERS POINT",
                    "postcode": "2000",
                    "state": "NSW"
                },
                {
                    "locality": "PARLIAMENT HOUSE",
                    "postcode": "2000",
                    "state": "NSW"
                },
                {
                    "locality": "SYDNEY",
                    "postcode": "2000",
                    "state": "NSW"
                },
                {
                    "locality": "SYDNEY SOUTH",
                    "postcode": "2000",
                    "state": "NSW"
                },
                {
                    "locality": "THE ROCKS",
                    "postcode": "2000",
                    "state": "NSW"
                }
            ]
        }   
        ```
        
# Group Orders

Saves an order which will be available to a member to generate a booking at a later stage.


# Create Orders [/orders]

## Create a saved order [POST]

It is required that the body contains the fields by selecting the __‘Create a saved order’__ link above. Once an Order has been created, you can retrieve a quote id for a booking by using the __PUT__ method.

+ Request (application/json)

    + Body 
        
        ```js
        {
            "transdirect_order_id" : 12345, 
            "order_id" : "4444", 
            "goods_summary" : "This is a test", 
            "goods_dump" : "Another test", 
            "imported_from" : "Woocommerce", 
            "purchased_time" : "2015-06-01T16:06:52+1000", 
            "sale_price" : 10.2, 
            "selected_courier" : "toll", 
            "paid_time" : "2015-06-01T16:06:52+1000", 
            "buyer_name" : "John Doe", 
            "buyer_email" : "john@testemail.com.au", 
            "delivery": {
                "name": "John Doe",
                "email": "",
                "phone": "123456789",
                "address": "216 Moggill Rd"
            }
        }
        ```

+ Response 201 (application/json)

    + Headers  
    
        ```
        Location: /bookings/725625
        ```
    
    + Body 
        
        ```js
        {
            "id": "4",
            "transdirect_order_id": 12345,
            "transdirect_member_id": "503",
            "transdirect_order_status": "pending",
            "order_id": "4444",
            "goods_summary": "This is a test",
            "goods_dump": "Another test",
            "imported_from": "Woocommerce",
            "imported_time": "2015-06-01T16:28:21+1000",
            "purchased_time": "2015-06-01T16:06:52+1000",
            "sale_price": 10.2,
            "selected_courier": "toll",
            "courier_price": 14.2,
            "paid_time": "2015-06-01T16:06:52+1000",
            "buyer_name": "John Doe",
            "buyer_email": "john@testemail.com.au",
            "delivery": {
                "name": "John Doe",
                "email": "",
                "phone": "123456789",
                "address": "216 Moggill Rd"
            }
        }
        ```


# Get Saved Orders [/orders/{?since,sort}]

## Get orders based on since and sort [GET]

+ Parameters

    + since (optional, string) ... Timestamp in ISO 8601 format: `YYYY-MM-DD+HH:MM:SS` Only bookings created at or after this time are returned. Example `2015-04-15+11:42:00

+ Response 201 (application/json)

    + Body 
        
        ```js
        [
            {
                "id": "4",
                "transdirect_order_id": 12346,
                "transdirect_member_id": "503",
                "transdirect_order_status": "pending",
                "order_id": "4444",
                "goods_summary": "This is a test",
                "goods_dump": "Another test",
                "imported_from": "Woocommerce",
                "imported_time": "2015-06-01T16:28:21+1000",
                "purchased_time": "2015-06-01T16:06:52+1000",
                "sale_price": 10.2,
                "selected_courier": "toll",
                "courier_price": 25.2,
                "paid_time": "2015-06-01T16:06:52+1000",
                "buyer_name": "John Doe",
                "buyer_email": "john@testemail.com.au",
                "delivery": {
                    "name": "John Doe",
                    "email": "",
                    "phone": "123456789",
                    "address": "216 Moggill Rd"
                }
            },
            {
                "id": "5",
                "transdirect_order_id": 12345,
                "transdirect_member_id": "503",
                "transdirect_order_status": "pending",
                "order_id": "5555",
                "goods_summary": "This is a test",
                "goods_dump": "Another test",
                "imported_from": "Woocommerce",
                "imported_time": "2015-06-01T16:28:21+1000",
                "purchased_time": "2015-06-01T16:06:52+1000",
                "sale_price": 4.2,
                "selected_courier": "toll",
                "courier_price": 15.2,
                "paid_time": "2015-06-01T16:06:52+1000",
                "buyer_name": "John Doe",
                "buyer_email": "john@testemail.com.au",
                "delivery": {
                    "name": "John Doe",
                    "email": "",
                    "phone": "123456789",
                    "address": "216 Moggill Rd"
                }
            }
        ]
        ```
    

# Single Saved Order [/orders/{id}]

__Example:__ `/orders/4`

__Statuses:__ `pending`, `booked`, `manually_dispatched`, `cancelled`


+ Parameters

    + id (required, integer) ... ID of the saved order.
 
+ Model (application/json)

    JSON representation of Saved Order Resource.

    + Body

        ```js
        {
            "id": "4",
            "transdirect_order_id": 817155,
            "transdirect_member_id": "503",
            "transdirect_order_status": "pending",
            "order_id": "4444",
            "goods_summary": "This is a test",
            "goods_dump": "Another test",
            "imported_from": "Woocommerce",
            "imported_time": "2015-06-01T16:28:21+1000",
            "purchased_time": "2015-06-01T16:06:52+1000",
            "sale_price": 10.2,
            "selected_courier": "toll",
            "courier_price": 13.2,
            "paid_time": "2015-06-01T16:06:52+1000",
            "buyer_name": "John Doe",
            "buyer_email": "john@testemail.com.au",
            "delivery": {
                "name": "John Doe",
                "email": "",
                "phone": "123456789",
                "address": "216 Moggill Rd"
            }
        }
        ```        

## Get a single order [GET]

+ Response 200

    [Single Booking][]
    
## Update an order [PUT]

+ Request (application/json)

    + Body 
        
        ```js
        {
            "transdirect_order_id" : 12345, 
            "order_id" : "4444", 
            "goods_summary" : "This is a test", 
            "goods_dump" : "Another test", 
            "imported_from" : "Woocommerce", 
            "purchased_time" : "2015-06-01T16:06:52+1000", 
            "sale_price" : 10.2, 
            "selected_courier" : "toll",
            "paid_time" : "2015-06-01T16:06:52+1000", 
            "buyer_name" : "John Doe", 
            "buyer_email" : "john@testemail.com.au", 
            "delivery": {
                "name": "John Doe",
                "email": "",
                "phone": "123456789",
                "address": "216 Moggill Rd"
            }
        }
        ```

+ Response 201 (application/json)

    + Body 
        
        ```js
        {
            "id": "4",
            "transdirect_order_id": 817155,
            "transdirect_member_id": "503",
            "transdirect_order_status": "pending",
            "order_id": "4444",
            "goods_summary": "This is a test",
            "goods_dump": "Another test",
            "imported_from": "Woocommerce",
            "imported_time": "2015-06-01T16:28:21+1000",
            "purchased_time": "2015-06-01T16:06:52+1000",
            "sale_price": 10.2,
            "selected_courier": "toll",
            "courier_price": 13.2,
            "paid_time": "2015-06-01T16:06:52+1000",
            "buyer_name": "John Doe",
            "buyer_email": "john@testemail.com.au",
            "delivery": {
                "name": "John Doe",
                "email": "",
                "phone": "123456789",
                "address": "216 Moggill Rd"
            }
        }
        ```

## Remove an order [DELETE]

+ Response 204

# Group Couriers

List all Couriers supported.

# Fetch all couriers supported [/couriers]
## List of all couriers [GET]

+ Response 200 (application/json)

    + Body 
        
        ```js
        {
            "Allied": "allied",
            "Couriers Please": "couriers_please",
            "Direct Couriers": {
                "Regular": "direct_couriers_regular",
                "Express": "direct_couriers_express",
                "Elite": "direct_couriers_elite"
            },
            "Fastway": "fastway",
            "Mainfreight": "mainfreight",
            "Northline": "northline",
            "TNT Express": {
                "TNT 9AM": "tnt_nine_express",
                "TNT 10AM": "tnt_ten_express",
                "TNT 12PM": "tnt_twelve_express",
                "TNT Overnight": "tnt_overnight_express",
                "TNT Road Express": "tnt_road_express"
            },
            "Toll": {
                "Toll Ipec": "toll",
                "Toll Priority": "toll_priority",
                "Toll Priority Overnight": "toll_priority_overnight",
                "Toll Priority Same Day": "toll_priority_sameday"
            }
        }
        ```
    
# Group Order Box

Order box is a advanced feature for API module Settings:

-You can add up to 5 boxes to be used for packing your items
-The system will calculate the most efficient and cheapest boxes for the items

This feature is intended for customers who might have a large number of small items to be boxed before dispatching and want to achieve better rates.

Multiple packages will be consolidated in boxes and computed based on the total dimension and volumetric weight. Afterwards, these items will be placed in the smallest box size capable of supporting the amount of items.

Note: This is an advanced functionality -  do not enable this if you do not fully understand the implications that this will have on quoting.


![name](https://wp-uploads-eb-transdirect-com-au.s3.amazonaws.com/uploads/2019/05/order_box.png)
- Minimum fill:  allows you to individually quote items outside boxes if they don’t fill a given last box (if multiple boxes in a shipment) by a certain percentage; 
- Box dimension fields: You may input a maximum of 5 boxes that can be used. Order Boxing functions will select the best combination of boxes to fit your items;
- Note: This request is generated as part of a Quote request.

+ Request (application/json)

    + Body 
        
        ```js
        {
            "items": [
                {
                    "weight":0.5,
                    "height":10,
                    "width":5,
                    "length":3,
                    "quantity":1,
                    "description":"Carton",
                    "sku": "ABC123"
                },
                {
                    "weight":7,
                    "height":48,
                    "width":20,
                    "length":15,
                    "quantity":1,
                    "description":"Carton",
                    "sku": "ABC234"
                },
                {
                    "weight":3,
                    "height":24,
                    "width":5,
                    "length":15,
                    "quantity":1,
                    "description":"Carton",
                    "sku": "ABC456"
                },
                {
                    "weight":70,
                    "height":100,
                    "width":100,
                    "length":100,
                    "quantity":1,
                    "description":"Carton",
                    "sku": "ABC789"
                }
            ]
        }
        ```
        
+ Response 201 (application/json)

    + Body 
        
        ```js
        {
            "items": [
                    {
                        "id": 3965588,
                        "description": "Carton",
                        "weight": 81,
                        "length": 120,
                        "width": 120,
                        "height": 120,
                        "quantity": 1,
                        "sku": false
                    }
                ],
        }
        ```
        

# Group Multipickup

Multipickup Tiers allows bookings to be booked via batches.

Each batch is picked up from a given location and you can have distinct batches to be picked up from distinct locations. 

Each batch will also be booked on a given date and you will able to complete the booking once you have assigned the minimums shipments amounts for each batch.

Multipickup bookings gives you access to cheaper Courier rates since this process reduces the operational costs for Couriers, which will be able to pickup multiple shipments from a given location on a given day.


## Set Up

- You can setup the API to always return the Multipickup Tier price instead of the Everday Price by editing the API module __[Here](https://www.transdirect.com.au/members_new/api/apimodules)__.
![name](https://wp-uploads-eb-transdirect-com-au.s3.amazonaws.com/uploads/2019/04/Members_Modules_setting.png)
![name](https://wp-uploads-eb-transdirect-com-au.s3-ap-southeast-2.amazonaws.com/uploads/2019/06/Multipickup-Tiers.png)

When you enable a Tier Price option, the quotes returned by the API will always be from Tier prices. 

Please note that currently only Couriers Please and Fastway offer Multipickup.


## API Quote Examples
The following is a sample quote when you set the Multipickup options to always display the Everyday price.

+ Request (application/json)

    + Body 
        
        ```js
        {
            "declared_value": "1000.00",
            "referrer": "API",
            "requesting_site": "http://www.woocommerce.com.au",
            "tailgate_pickup": true,
            "tailgate_delivery": true,
            "items": [
                {
                    "weight": "38.63",          
                    "height": "0.25",           
                    "width": "1.65",            
                    "length": "3.32",           
                    "quantity": 1,              
                    "description": "carton"     
                },
                {
                    "weight": "39.63",          
                    "height": "1.25",           
                    "width": "2.65",            
                    "length": "4.32",           
                    "quantity": 2,              
                    "description": "carton"     
                }
            ],
            "sender": {
                "address": "21 Kirksway Place",     
                "company_name": "",             
                "email": "",
                "name": "",
                "postcode": "2000",
                "phone": 123456789, 
                "state": "",
                "suburb": "SYDNEY",            
                "type": "business",             
                "country": "AU"                 
            },
            "receiver": {
                "address": "216 Moggill Rd",         
                "company_name": "",   
                "email": "",
                "name": "John Smith",
                "postcode": "3000",
                "phone": 123456789, 
                "state": "",
                "suburb": "MELBOURNE",
                "type": "business",             
                "country": "AU"                 
            }
        }
        ```
        
+ Response 201 (application/json)

    + Body 
        
        ```js
        {
            "id": 725625,
            "booked_at": "2015-05-14T19:38:55+1000",
            "booked_by": "sender",
            "created_at": "2015-05-14T19:39:03+1000",
            "declared_value": 1000,
            "insured_value": 0,
            "description": null,
            "items": [
                {
                    "id": 1177622,
                    "description": "carton",
                    "weight": 38.63,
                    "length": 3.32,
                    "width": 1.65,
                    "height": 0.25,
                    "quantity": 1
                },
                {
                    "id": 1177623,
                    "description": "carton",
                    "weight": 39.63,
                    "length": 4.32,
                    "width": 2.65,
                    "height": 1.25,
                    "quantity": 2
                }
            ],
            "label": "http://www.dev.transdirect.com.au/api/bookings/725625/label",
            "notifications": {
                "email": false,
                "sms": false
            },
            "quotes": {
                "allied": {
                    "total": 79.24,
                    "price_insurance_ex": 72.09,
                    "fee": 7.15,
                    "insured_amount": 4500,
                    "service": "road",
                    "transit_time": "1-2 days",
                    "pickup_dates": [
                        "2015-08-27",
                        "2015-08-28"
                    ],
                    "pickup_time": {
                        "from": "14:00",
                        "to": "18:00"
                    }
                },
                "tnt_overnight_express": {
                    "total": 34.915,
                    "price_insurance_ex": 27.765,
                    "fee": 7.15,
                    "insured_amount": 4500,
                    "service": "road",
                    "transit_time": "4 days",
                    "pickup_dates": [
                        "2015-08-27",
                        "2015-08-28"
                    ],
                    "pickup_time": {
                        "from": "14:00",
                        "to": "18:00"
                    }
                },
                "tnt_road_express": {
                    "total": 41.845,
                    "price_insurance_ex": 34.695,
                    "fee": 7.15,
                    "insured_amount": 4500,
                    "service": "road",
                    "transit_time": "4 days",
                    "pickup_dates": [
                        "2015-08-27",
                        "2015-08-28"
                    ],
                    "pickup_time": {
                        "from": "14:00",
                        "to": "18:00"
                    }
                },
                "couriers_please_domestic_proirity_signature": {
                    "total": 11.03,
                    "price_insurance_ex": 11.03,
                    "fee": 0,
                    "applied_gst": 1.11,
                    "insured_amount": 0,
                    "service": "road",
                    "transit_time": "0-1 Business Days",
                    "pickup_dates": [
                        "2019-06-06",
                        "2019-06-07",
                        "2019-06-11",
                        "2019-06-12",
                        "2019-06-13",
                        "2019-06-14",
                        "2019-06-17",
                        "2019-06-18",
                        "2019-06-19",
                        "2019-06-20"
                    ],
                    "pickup_time": {
                        "from": "09:00",
                        "to": "17:00"
                    },
                    "tiers": [
                        {
                            "identifier": 1,
                            "description": "Multipickup 10",
                            "total": 6.96,
                            "price_insurance_ex": 6.96,
                            "fee": 0,
                            "applied_gst": 0.64,
                            "insured_amount": 0
                        },
                        {
                            "identifier": 2,
                            "description": "Multipickup 21",
                            "total": 5.75,
                            "price_insurance_ex": 5.75,
                            "fee": 0,
                            "applied_gst": 0.53,
                            "insured_amount": 0
                        }
                    ]
                }
            },
            "receiver": {
                "id": 1500838,
                "address": "216 Moggill Rd",
                "company_name": "",
                "email": "",
                "name": "John Smith",
                "postcode": "3000",
                "phone": "123456789",
                "state": "",
                "suburb": "MELBOURNE",
                "type": "business",
                "country": "AU"
            },
            "sender": {
                "id": 1500837,
                "address": "21 Kirksway Place",
                "company_name": "",
                "email": "",
                "name": "",
                "postcode": "2000",
                "phone": "123456789",
                "state": "",
                "suburb": "SYDNEY",
                "type": "business",
                "country": "AU"
            },
            "pickup_window": [],
            "connote": null,
            "charged_weight": 0,
            "scanned_weight": 0,
            "special_instructions": " - NO REDELIVERY OR REDIRECTION WITHOUT PERMISSION FROM TRANSDIRECT",
            "status": "new",
            "updated_at": "2015-05-14T19:39:11+1000",
            "tailgate_pickup": true,
            "tailgate_delivery": true
        }
        ```
        
        
The following is a sample quote when you set the Multipickup settings to always display the Multpickup price. In this example, we set the Couriers Please to display the Multipickup 21 price.

+ Request (application/json)

    + Body 
        
        ```js
        {
            "declared_value": "1000.00",
            "referrer": "API",
            "requesting_site": "http://www.woocommerce.com.au",
            "tailgate_pickup": true,
            "tailgate_delivery": true,
            "items": [
                {
                    "weight": "38.63",          
                    "height": "0.25",           
                    "width": "1.65",            
                    "length": "3.32",           
                    "quantity": 1,              
                    "description": "carton"     
                },
                {
                    "weight": "39.63",          
                    "height": "1.25",           
                    "width": "2.65",            
                    "length": "4.32",           
                    "quantity": 2,              
                    "description": "carton"     
                }
            ],
            "sender": {
                "address": "21 Kirksway Place",     
                "company_name": "",             
                "email": "",
                "name": "",
                "postcode": "2000",
                "phone": 123456789, 
                "state": "",
                "suburb": "SYDNEY",            
                "type": "business",             
                "country": "AU"                 
            },
            "receiver": {
                "address": "216 Moggill Rd",         
                "company_name": "",   
                "email": "",
                "name": "John Smith",
                "postcode": "3000",
                "phone": 123456789, 
                "state": "",
                "suburb": "MELBOURNE",
                "type": "business",             
                "country": "AU"                 
            }
        }
        ```
        
+ Response 201 (application/json)

    + Body 
        
        ```js
        {
            "id": 725625,
            "booked_at": "2015-05-14T19:38:55+1000",
            "booked_by": "sender",
            "created_at": "2015-05-14T19:39:03+1000",
            "declared_value": 1000,
            "insured_value": 0,
            "description": null,
            "items": [
                {
                    "id": 1177622,
                    "description": "carton",
                    "weight": 38.63,
                    "length": 3.32,
                    "width": 1.65,
                    "height": 0.25,
                    "quantity": 1
                },
                {
                    "id": 1177623,
                    "description": "carton",
                    "weight": 39.63,
                    "length": 4.32,
                    "width": 2.65,
                    "height": 1.25,
                    "quantity": 2
                }
            ],
            "label": "http://www.dev.transdirect.com.au/api/bookings/725625/label",
            "notifications": {
                "email": false,
                "sms": false
            },
            "quotes": {
                "allied": {
                    "total": 79.24,
                    "price_insurance_ex": 72.09,
                    "fee": 7.15,
                    "insured_amount": 4500,
                    "service": "road",
                    "transit_time": "1-2 days",
                    "pickup_dates": [
                        "2015-08-27",
                        "2015-08-28"
                    ],
                    "pickup_time": {
                        "from": "14:00",
                        "to": "18:00"
                    }
                },
                "tnt_overnight_express": {
                    "total": 34.915,
                    "price_insurance_ex": 27.765,
                    "fee": 7.15,
                    "insured_amount": 4500,
                    "service": "road",
                    "transit_time": "4 days",
                    "pickup_dates": [
                        "2015-08-27",
                        "2015-08-28"
                    ],
                    "pickup_time": {
                        "from": "14:00",
                        "to": "18:00"
                    }
                },
                "tnt_road_express": {
                    "total": 41.845,
                    "price_insurance_ex": 34.695,
                    "fee": 7.15,
                    "insured_amount": 4500,
                    "service": "road",
                    "transit_time": "4 days",
                    "pickup_dates": [
                        "2015-08-27",
                        "2015-08-28"
                    ],
                    "pickup_time": {
                        "from": "14:00",
                        "to": "18:00"
                    }
                },
                "couriers_please_domestic_proirity_signature": {
                    "total": 5.75,
                    "price_insurance_ex": 5.75,
                    "fee": 0,
                    "applied_gst": 0.53,
                    "insured_amount": 0,
                    "service": "road",
                    "transit_time": "0-1 Business Days",
                    "pickup_dates": [
                        "2019-06-06",
                        "2019-06-07",
                        "2019-06-11",
                        "2019-06-12",
                        "2019-06-13",
                        "2019-06-14",
                        "2019-06-17",
                        "2019-06-18",
                        "2019-06-19",
                        "2019-06-20"
                    ],
                    "pickup_time": {
                        "from": "09:00",
                        "to": "17:00"
                    }
                }
            },
            "receiver": {
                "id": 1500838,
                "address": "216 Moggill Rd",
                "company_name": "",
                "email": "",
                "name": "John Smith",
                "postcode": "3000",
                "phone": "123456789",
                "state": "",
                "suburb": "MELBOURNE",
                "type": "business",
                "country": "AU"
            },
            "sender": {
                "id": 1500837,
                "address": "21 Kirksway Place",
                "company_name": "",
                "email": "",
                "name": "",
                "postcode": "2000",
                "phone": "123456789",
                "state": "",
                "suburb": "SYDNEY",
                "type": "business",
                "country": "AU"
            },
            "pickup_window": [],
            "connote": null,
            "charged_weight": 0,
            "scanned_weight": 0,
            "special_instructions": " - NO REDELIVERY OR REDIRECTION WITHOUT PERMISSION FROM TRANSDIRECT",
            "status": "new",
            "updated_at": "2015-05-14T19:39:11+1000",
            "tailgate_pickup": true,
            "tailgate_delivery": true
        }
        ```

## Confirm a Multipickup booking
This is similar as a normal API confirmation functionality but you will need to specify the tier.

+ Request (application/json)
    
    + Body
    
        ```js
        {
            "courier": "fastway",
            "pickup-date": "2021-09-17",
            "tier": 1
        }
        ```
    
+ Response 204

# Change Log
06-06-2019: Multipickup functionality added to the API

27-05-2019: Order Boxing functionality added to the API