{
  "openapi": "3.0.3",
  "info": {
    "version": "3.0.0",
    "title": " MessageWhiz API",
    "description": "Using the MessageWhiz API, you can create message campaigns, send individual SMS messages or entire message broadcasts, manage recipients, senders, unsubscribers lists, and create and manage templates, tokens and links.\n\nThis document will guide you through the core endpoints and functionality of the Message Whiz API, so you can quickly and efficiently start your messaging.\n\n**Getting started**\n\nIn this section, we describe all the necessary steps to send your first broadcast via the MW API.\n\nTo start, MessageWhiz uses API keys to allow access to the API. You can find your API key in your personal MW account page.\n\nTo properly access the MessageWhiz platform, the API key needs to be included in the header for all API requests to the server.\n\n You must replace `apikey` with your personal API key.\n\n**Sending First Broadcast**\n\nIn order to send the basic message broadcast, you need to perform the following steps:\n\n*Create a Campaign* - a set of SMS messages grouped under one campaign name.\n\n*Create Recipient List* - phone numbers to which the messages will be sent.\n\n*Create Sender* - a number, name, or ID that recipients see on their devices when they receive a message from you. Only after creating these entities, you can create and send a broadcast. Or you might use already existing entities for broadcasting as well.\n\n**Generic replaceable**\n\nThe following variables should be replaced with your actual information in requests:\n\n`<apikey>` Personal API key\n\n`<url>` URL from which API is accessed - https://sms.messagewhiz.com/\n",
    "termsOfService": "",
    "contact": {
      "url": "https://sms.messagewhiz.com"
    }
  },
  "servers": [
    {
      "url": "https://sms.messagewhiz.com/",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "Single",
      "description": ""
    },
    {
      "name": "Broadcast",
      "description": ""
    },
    {
      "name": "Campaign",
      "description": "A Campaign unifies a set of SMS messages grouped under one campaign name.\nThe campaign exists in a specified time period, thus start and end dates should be indicated during\ncampaign creation."
    },
    {
      "name": "DeliveryReport",
      "description": ""
    },
    {
      "name": "Link",
      "description": "MessageWhiz provides you with the possibility to include Links in your message broadcasts.\nYou are able to create and manage Links beforehand, and then just insert them in a message as a Link token(`{{link:linkId}}`)."
    },
    {
      "name": "Link List",
      "description": "MessageWhiz provides you with the possibility to group multiple links into one list.\nWith the help of the Link List token, links from the list will be evenly distributed between recipients of the broadcast.\nJust insert Link List in a message as a token(`{{link_list:linkListId}}`)."
    },
    {
      "name": "Recipients",
      "description": "Here you can manage your recipients - basically phone numbers grouped into lists of recipients\nto whom the messages will be sent.\nSome additional metadata related to each recipient might be included in the recipient lists and used in the broadcasts.\n\nYou have *two* options for the recipient list creation:\n\n* [Import](%create-a-recipient-list-import-a-file) .xlsx, .xls, or .csv file with numbers and metadata(optional),\n* Add numbers [manually](%create-a-recipient-list-manually) in array.\n\nPlease make sure to enter the number in the international format, including the country code.\nFor example, enter 18756785619 if you are sending an SMS to a recipient from the USA or Canada,\nwhere 1 is the country code.\n\n<aside class=\"notice\"> You can import either .xlsx, .xls, or .csv files file with contacts.\nThe maximum file size is 5 MB and it should contain a maximum of 10 columns.\nPlease note that up to 100,000 recipients can be designated in a single broadcast.</aside>"
    },
    {
      "name": "Senders",
      "description": "Sender is generally a number, name, or ID that recipients see on their devices when they receive a message from you.\nHere's how to manage a single sender entity."
    },
    {
      "name": "Sender Lists",
      "description": "MessageWhiz provides you with the possibility to group multiple Senders into one Sender List,\nfrom which a Sender will be randomly select for each broadcast message."
    },
    {
      "name": "Template",
      "description": "You can write the text of your message immediately before sending it, or use a predefined template for it.\nA message template is a message saved on the  MessageWhiz platform that can be reused for new messages with similar content."
    },
    {
      "name": "Trigger",
      "description": "One of the sending conditions that MessageWhiz provides is Trigger.\nDefault triggers are used to postpone the sending of the message until a specific event occurs to trigger its transmission."
    },
    {
      "name": "Word Spinners",
      "description": "Word spinner is a token which enables randomizing the text in broadcast messages by randomly selecting from a predefined\nlist of synonyms, so that the overall message and meaning are left intact while the wording is changed slightly.\nJust insert Word Spinner in a message as a token(`{{word_spinner:ID}}`)."
    },
    {
      "name": "Unsubscribe List",
      "description": "Unsubscribe lists - lists of numbers that will be excluded from recipient lists and will not receive messages from you.\nAn unsubscribe list consists of the numbers that opted out of your broadcasts as well as numbers you added to the list yourself.\n\n**_NOTE:_** To enable recipients to opt out of your broadcasts, you should include\n`{{unsubscription_link:ID}}` token that generates a link to your message body.\nThe recipient clicks on the unsubscribe link and confirms unsubscription, the user’s data will be added to the\nunsubscribe list associated with this token. </aside>"
    },
    {
      "name": "2way API",
      "description": "The Messages API consolidates and normalises exchanges across all messaging channels. It allows you to use a single API to interact with our various channels such as WhatsApp. Manage customers."
    },
    {
      "name": "Customers",
      "description": "Customer management API that allows you to manage customers, and cut out the manual step of creating customers. You can add new customers, delete, update customers, and get a list of customers."
    }
  ],
  "x-tagGroups": [
    {
      "name": "Broadcast service",
      "tags": [
        "Single",
        "Broadcast",
        "Campaign",
        "DeliveryReport",
        "Link",
        "Link List",
        "Recipients",
        "Senders",
        "Sender Lists",
        "Template",
        "Trigger",
        "Word Spinners",
        "Unsubscribe List"
      ]
    },
    {
      "name": "2way API",
      "tags": [
        "Messages",
        "Customers"
      ]
    }
  ],
  "paths": {
    "/api/3/Campaign/": {
      "post": {
        "parameters": [],
        "tags": [
          "Campaign"
        ],
        "summary": "Create a Campaign",
        "description": "Create a Campaign from your MessageWhiz account\n\n In the request body specify details for the Campaign that will be created. Date and time are expressed according to ISO 8601.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "errorCode": 0,
                  "errorMessage": "",
                  "errorType": "",
                  "executionTime": 0.044941952,
                  "result": {
                    "id": 46279,
                    "is_default": 0,
                    "name": "MyCampaign",
                    "start_date": "2020-07-22T21:00:00.000Z",
                    "end_date": "2020-09-25T21:00:00.000Z",
                    "enabled": true
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "integer",
                      "default": 0
                    },
                    "errorMessage": {
                      "type": "string",
                      "default": ""
                    },
                    "errorType": {
                      "type": "string",
                      "default": ""
                    },
                    "executionTime": {
                      "type": "float",
                      "default": 0.01234
                    },
                    "result": {
                      "$ref": "#/components/responses/campaign_create"
                    }
                  }
                }
              }
            },
            "description": "Successful operation"
          },
          "400": {
            "description": "Bad Request -- Invalid parameters specified"
          },
          "401": {
            "description": "Unauthorized -- API key is missing or invalid"
          },
          "403": {
            "description": "Forbidden -- User/company is either disabled or doesn't have enough permissions"
          },
          "404": {
            "description": "Not found -- An entity is not found"
          }
        },
        "requestBody": {
          "description": "Note , the Campaign `end_date` cannot be earlier than `start_date`.",
          "content": {
            "application/json": {
              "example": {
                "name": "CampaignName",
                "start_date": "2020-07-22T21:00:00.000Z",
                "end_date": "2020-09-25T21:00:00.000Z"
              },
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "$ref": "#/components/parameters/campaign_name"
                  },
                  "end_date": {
                    "$ref": "#/components/parameters/campaign_end_date"
                  },
                  "start_date": {
                    "$ref": "#/components/parameters/campaign_start_date"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "HTTP",
            "source": "POST /api/3/Campaign/ HTTP/1.1\nHost: sms.messagewhiz.com\napikey: YOUR_COMPANY_API_KEY\nContent-Type: application/json\n\n{\n  \"name\": \"CampaignName\",\n  \"start_date\": \"2020-07-22T21:00:00.000Z\",\n  \"end_date\": \"2020-09-25T21:00:00.000Z\"\n}"
          },
          {
            "lang": "cURL",
            "source": "curl --location --request POST 'https://sms.messagewhiz.com/api/3/Campaign/' \\\n--header 'apikey: YOUR_COMPANY_API_KEY' \\\n--header 'Content-Type: application/json' \\\n--data '{\n  \"name\": \"CampaignName\",\n  \"start_date\": \"2020-07-22T21:00:00.000Z\",\n  \"end_date\": \"2020-09-25T21:00:00.000Z\"\n}'"
          }
        ]
      },
      "get": {
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            },
            "name": "limit",
            "in": "query",
            "description": "The number of items to fetch"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            },
            "name": "start",
            "in": "query",
            "description": "The number of items to skip"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 100
            },
            "name": "filter",
            "in": "query",
            "description": "Filtering by the specific campaign name"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false",
                "all"
              ],
              "default": "true"
            },
            "name": "enabled",
            "in": "query",
            "description": "Fetch only active campaigns"
          }
        ],
        "tags": [
          "Campaign"
        ],
        "summary": "Get Campaigns",
        "description": "Get Campaigns from your MessageWhiz account\n\n You can include several parameters in your GET query in order to receive only the data you need.\n      As an example, to get first two inactive campaigns, the query URL will be the following:\n\n`GET https://sms.messagewhiz.com/api/3/campaign?limit=2&enabled=false`\n\nTo get the Campaign by the name:\n\n`GET https://sms.messagewhiz.com/api/3/campaign?filter=name=CampaignName`\n",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "errorCode": 0,
                  "errorMessage": "",
                  "errorType": "",
                  "executionTime": 0.012664016,
                  "result": [
                    {
                      "enabled": true,
                      "id": 46279,
                      "is_default": 0,
                      "name": "CampaignName",
                      "start_date": "2020-07-22T21:00:00.000Z",
                      "end_date": "2020-09-25T21:00:00.000Z",
                      "userList": [
                        {
                          "campaign_id": 46279,
                          "user_id": 3191,
                          "company_id": 3182
                        }
                      ]
                    },
                    {
                      "enabled": true,
                      "id": 34641,
                      "is_default": 1,
                      "name": "Default campaign",
                      "start_date": null,
                      "end_date": null,
                      "userList": [
                        {
                          "campaign_id": 34641,
                          "user_id": 3191,
                          "company_id": null
                        }
                      ]
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "integer",
                      "default": 0
                    },
                    "errorMessage": {
                      "type": "string",
                      "default": ""
                    },
                    "errorType": {
                      "type": "string",
                      "default": ""
                    },
                    "executionTime": {
                      "type": "float",
                      "default": 0.01234
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/responses/Campaign"
                      }
                    }
                  }
                }
              }
            },
            "description": "Successful operation"
          },
          "400": {
            "description": "Bad Request -- Invalid parameters specified"
          },
          "401": {
            "description": "Unauthorized -- API key is missing or invalid"
          },
          "403": {
            "description": "Forbidden -- User/company is either disabled or doesn't have enough permissions"
          },
          "404": {
            "description": "Not found -- An entity is not found"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "HTTP",
            "source": "GET /api/3/Campaign/ HTTP/1.1\nHost: sms.messagewhiz.com\napikey: YOUR_COMPANY_API_KEY\n"
          },
          {
            "lang": "cURL",
            "source": "curl --location --request GET 'https://sms.messagewhiz.com/api/3/Campaign/' \\\n--header 'apikey: YOUR_COMPANY_API_KEY' \\\n"
          }
        ]
      }
    },
    "/api/3/Campaign/{id}": {
      "get": {
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "id",
            "in": "path",
            "description": "Campaign ID",
            "required": true
          }
        ],
        "tags": [
          "Campaign"
        ],
        "summary": "Get Campaign by ID",
        "description": "Get Campaign detailes from your MessageWhiz account",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "example": {
                  "errorCode": 0,
                  "errorMessage": "",
                  "errorType": "",
                  "executionTime": 0.044941952,
                  "result": {
                    "id": 2134,
                    "is_default": 0,
                    "name": "CampaignName",
                    "start_date": "2020-07-22T21:00:00.000Z",
                    "end_date": "2020-09-25T21:00:00.000Z",
                    "enabled": true
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "integer",
                      "default": 0
                    },
                    "errorMessage": {
                      "type": "string",
                      "default": ""
                    },
                    "errorType": {
                      "type": "string",
                      "default": ""
                    },
                    "executionTime": {
                      "type": "float",
                      "default": 0.01234
                    },
                    "result": {
                      "$ref": "#/components/responses/Campaign"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request -- Invalid parameters specified"
          },
          "401": {
            "description": "Unauthorized -- API key is missing or invalid"
          },
          "403": {
            "description": "Forbidden -- User/company is either disabled or doesn't have enough permissions"
          },
          "404": {
            "description": "Not found -- An entity is not found"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "HTTP",
            "source": "GET /api/3/Campaign/{id} HTTP/1.1\nHost: sms.messagewhiz.com\napikey: YOUR_COMPANY_API_KEY\n"
          },
          {
            "lang": "cURL",
            "source": "curl --location --request GET 'https://sms.messagewhiz.com/api/3/Campaign/{id}' \\\n--header 'apikey: YOUR_COMPANY_API_KEY' \\\n"
          }
        ]
      },
      "put": {
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "id",
            "description": "Campaign ID",
            "in": "path",
            "required": true
          }
        ],
        "tags": [
          "Campaign"
        ],
        "summary": "Modify a Campaign",
        "description": "To modify a specific Campaign from your MessageWhiz account, include its ID in the query:\n\n`PUT https://sms.messagewhiz.com/api/3/campaign/{id}`\n\nFor instance, PUT `https://sms.messagewhiz.com/api/3/campaign/46279`, where `46279` is the ID of the Campaign that will be replaced using the data presented in the request body.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "errorCode": 0,
                  "errorMessage": "",
                  "errorType": "",
                  "executionTime": 0.026245764,
                  "result": {
                    "id": 2134,
                    "is_default": 0,
                    "name": "CampaignName",
                    "start_date": "2020-07-22T21:00:00.000Z",
                    "end_date": "2021-03-25T21:00:00.000Z",
                    "enabled": true
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "integer",
                      "default": 0
                    },
                    "errorMessage": {
                      "type": "string",
                      "default": ""
                    },
                    "errorType": {
                      "type": "string",
                      "default": ""
                    },
                    "executionTime": {
                      "type": "float",
                      "default": 0.01234
                    },
                    "result": {
                      "$ref": "#/components/responses/campaign_create"
                    }
                  }
                }
              }
            },
            "description": "Successful operation"
          },
          "400": {
            "description": "Bad Request -- Invalid parameters specified"
          },
          "401": {
            "description": "Unauthorized -- API key is missing or invalid"
          },
          "403": {
            "description": "Forbidden -- User/company is either disabled or doesn't have enough permissions"
          },
          "404": {
            "description": "Not found -- An entity is not found"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "$ref": "#/components/parameters/campaign_name"
                  },
                  "start_date": {
                    "$ref": "#/components/parameters/campaign_start_date"
                  },
                  "end_date": {
                    "$ref": "#/components/parameters/campaign_end_date"
                  }
                }
              },
              "example": {
                "end_date": "2021-03-25T21:00:00.000Z"
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "HTTP",
            "source": "PUT /api/3/Campaign/{id} HTTP/1.1\nHost: sms.messagewhiz.com\napikey: YOUR_COMPANY_API_KEY\nContent-Type: application/json\n\n{\n  \"end_date\": \"2021-03-25T21:00:00.000Z\"\n}"
          },
          {
            "lang": "cURL",
            "source": "curl --location --request PUT 'https://sms.messagewhiz.com/api/3/Campaign/{id}' \\\n--header 'apikey: YOUR_COMPANY_API_KEY' \\\n--header 'Content-Type: application/json' \\\n--data '{\n  \"end_date\": \"2021-03-25T21:00:00.000Z\"\n}'"
          }
        ]
      },
      "patch": {
        "parameters": [
          {
            "description": "Campaign ID",
            "schema": {
              "type": "string"
            },
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "tags": [
          "Campaign"
        ],
        "summary": "Modify a Campaign",
        "description": "To modify a specific Campaign from your MessageWhiz account, include its ID in the query",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "errorCode": 0,
                  "errorMessage": "",
                  "errorType": "",
                  "executionTime": 0.026245764,
                  "result": {
                    "id": 2134,
                    "is_default": 0,
                    "name": "CampaignName",
                    "start_date": "2020-07-22T21:00:00.000Z",
                    "end_date": "2021-03-25T21:00:00.000Z",
                    "enabled": true
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "integer",
                      "default": 0
                    },
                    "errorMessage": {
                      "type": "string",
                      "default": ""
                    },
                    "errorType": {
                      "type": "string",
                      "default": ""
                    },
                    "executionTime": {
                      "type": "float",
                      "default": 0.01234
                    },
                    "result": {
                      "$ref": "#/components/responses/campaign_create"
                    }
                  }
                }
              }
            },
            "description": "Successful operation"
          },
          "400": {
            "description": "Bad Request -- Invalid parameters specified"
          },
          "401": {
            "description": "Unauthorized -- API key is missing or invalid"
          },
          "403": {
            "description": "Forbidden -- User/company is either disabled or doesn't have enough permissions"
          },
          "404": {
            "description": "Not found -- An entity is not found"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "enabled": "1"
              },
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "$ref": "#/components/parameters/campaign_name"
                  },
                  "start_date": {
                    "$ref": "#/components/parameters/campaign_start_date"
                  },
                  "end_date": {
                    "$ref": "#/components/parameters/campaign_end_date"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "HTTP",
            "source": "PATCH /api/3/Campaign/{id} HTTP/1.1\nHost: sms.messagewhiz.com\napikey: YOUR_COMPANY_API_KEY\nContent-Type: application/json\n\n{\n  \"enabled\": \"1\"\n}"
          },
          {
            "lang": "cURL",
            "source": "curl --location --request PATCH 'https://sms.messagewhiz.com/api/3/Campaign/{id}' \\\n--header 'apikey: YOUR_COMPANY_API_KEY' \\\n--header 'Content-Type: application/json' \\\n--data '{\n  \"enabled\": \"1\"\n}'"
          }
        ]
      },
      "delete": {
        "parameters": [
          {
            "schema": {
              "description": "Campaign ID",
              "type": "string"
            },
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "tags": [
          "Campaign"
        ],
        "summary": "Disable a Campaign",
        "description": "To remove a specific Campaign from your MessageWhiz account, add its ID as parameter to the query",
        "responses": {
          "200": {
            "$ref": "#/components/responses/SimpleSuccess",
            "description": "Successful operation"
          },
          "400": {
            "description": "Bad Request -- Invalid parameters specified"
          },
          "401": {
            "description": "Unauthorized -- API key is missing or invalid"
          },
          "403": {
            "description": "Forbidden -- User/company is either disabled or doesn't have enough permissions"
          },
          "404": {
            "description": "Not found -- An entity is not found"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "HTTP",
            "source": "DELETE /api/3/Campaign/{id} HTTP/1.1\nHost: sms.messagewhiz.com\napikey: YOUR_COMPANY_API_KEY\n"
          },
          {
            "lang": "cURL",
            "source": "curl --location --request DELETE 'https://sms.messagewhiz.com/api/3/Campaign/{id}' \\\n--header 'apikey: YOUR_COMPANY_API_KEY' \\\n"
          }
        ]
      }
    },
    "/api/3/DeliveryReport/": {
      "post": {
        "parameters": [],
        "tags": [
          "DeliveryReport"
        ],
        "summary": "Get a delivery report",
        "description": "To get the delivery report of a certain broadcast:\n\n`POST https://sms.messagewhiz.com/api/3/DeliveryReport`\n\nIn case the broadcast is a V3 smart broadcast (Manual/CTR threshold) each segment DLR will be shown in a separate object in the response.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "errorCode": 0,
                  "errorMessage": "",
                  "errorType": "",
                  "executionTime": 0.044941952,
                  "result": {
                    "broadcast_id": 123123,
                    "sent": 0,
                    "delivered": 1,
                    "undelivered": 0,
                    "rejected": 0,
                    "expired": 0,
                    "failed": 0
                  }
                }
              }
            },
            "description": "Successful operation"
          },
          "400": {
            "description": "Bad Request -- Invalid parameters specified"
          },
          "401": {
            "description": "Unauthorized -- API key is missing or invalid"
          },
          "403": {
            "description": "Forbidden -- User/company is either disabled or doesn't have enough permissions"
          },
          "404": {
            "description": "Not found -- An entity is not found"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "bid"
                ],
                "properties": {
                  "bid": {
                    "description": "id of the broadcast which delivery report should be fetched",
                    "schema": {
                      "type": "string"
                    },
                    "example": "225544",
                    "type": "string"
                  }
                }
              },
              "description": "POST /api/3/campaign HTTP/1.1\nHost: sms.messagewhiz.com\napikey: <apikey>\nContent-Type: application/json\n\n{\n    \"name\":\"CampaignName\",\n\t\"start_date\":\"2020-07-22T21:00:00.000Z\",\n\t\"end_date\":\"2020-09-25T21:00:00.000Z\"\n}"
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "HTTP",
            "source": "POST /api/3/DeliveryReport/ HTTP/1.1\nHost: sms.messagewhiz.com\napikey: YOUR_COMPANY_API_KEY\nContent-Type: application/json\n\n{\n  \"bid\": \"225544\"\n}"
          },
          {
            "lang": "cURL",
            "source": "curl --location --request POST 'https://sms.messagewhiz.com/api/3/DeliveryReport/' \\\n--header 'apikey: YOUR_COMPANY_API_KEY' \\\n--header 'Content-Type: application/json' \\\n--data '{\n  \"bid\": \"225544\"\n}'"
          }
        ]
      }
    },
    "/api/3/Broadcast/": {
      "post": {
        "parameters": [],
        "tags": [
          "Broadcast"
        ],
        "summary": "Send Broadcast",
        "description": "To Send a broadcast via API",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Single Broadcast": {
                    "value": {
                      "errorCode": 0,
                      "errorMessage": "",
                      "errorType": "",
                      "executionTime": 0.160202353,
                      "result": {
                        "broadcastID": 331,
                        "segmentID": 493,
                        "custom_parameter": "1234abcd5678efgh"
                      }
                    }
                  },
                  "Base Broadcast": {
                    "value": {
                      "errorCode": 0,
                      "errorMessage": "",
                      "errorType": "",
                      "executionTime": 0.446636071,
                      "result": {
                        "broadcastID": 333,
                        "segmentID": 494
                      }
                    }
                  },
                  "Smart Broadcast": {
                    "value": {
                      "errorCode": 0,
                      "errorMessage": "",
                      "errorType": "",
                      "executionTime": 0.446636071,
                      "result": {
                        "broadcastID": 333,
                        "segmentID": 495
                      }
                    }
                  },
                  "Text Optimisation": {
                    "value": {
                      "errorCode": 0,
                      "errorMessage": "",
                      "errorType": "",
                      "executionTime": 0.446636071,
                      "result": {
                        "broadcastID": 333,
                        "segmentIDs": [
                          494,
                          495
                        ]
                      }
                    }
                  }
                }
              }
            },
            "description": "Successful operation"
          },
          "400": {
            "description": "Bad Request -- Invalid parameters specified"
          },
          "401": {
            "description": "Unauthorized -- API key is missing or invalid"
          },
          "403": {
            "description": "Forbidden -- User/company is either disabled or doesn't have enough permissions"
          },
          "404": {
            "description": "Not found -- An entity is not found"
          }
        },
        "requestBody": {
          "x-show-example-request": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "title": "Base Broadcast",
                    "allOf": [
                      {
                        "$ref": "#/components/requestBodies/Broadcasts_submitBase"
                      }
                    ]
                  },
                  {
                    "title": "Smart Standard",
                    "allOf": [
                      {
                        "$ref": "#/components/requestBodies/Broadcasts_submitSmart_Standart"
                      }
                    ]
                  },
                  {
                    "title": "Smart CTR",
                    "allOf": [
                      {
                        "$ref": "#/components/requestBodies/Broadcasts_submitSmart_CTR"
                      }
                    ]
                  },
                  {
                    "title": "Text Optimisation",
                    "allOf": [
                      {
                        "$ref": "#/components/requestBodies/Broadcasts_submitTextOptimization"
                      }
                    ]
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "label": "Base Broadcast HTTP",
            "lang": "HTTP",
            "source": "POST /api/3/Broadcast/ HTTP/1.1\nHost: sms.messagewhiz.com\napikey: YOUR_COMPANY_API_KEY\nContent-Type: application/json\n\n{\n  \"name\": \"broadcast\",\n  \"campaign_id\": 1,\n  \"broadcast_type\": 11,\n  \"unsubscriber_list_ids\": \"\",\n  \"sender_ids\": \"23\",\n  \"recipient_list_ids\": \"12\",\n  \"message_body\": \"broadcast message\"\n}"
          },
          {
            "label": "Base Broadcast cURL",
            "lang": "cURL",
            "source": "curl --location --request POST 'https://sms.messagewhiz.com/api/3/Broadcast/' \\\n--header 'apikey: YOUR_COMPANY_API_KEY' \\\n--header 'Content-Type: application/json' \\\n--data '{\n  \"name\": \"broadcast\",\n  \"campaign_id\": 1,\n  \"broadcast_type\": 11,\n  \"unsubscriber_list_ids\": \"\",\n  \"sender_ids\": \"23\",\n  \"recipient_list_ids\": \"12\",\n  \"message_body\": \"broadcast message\"\n}'"
          },
          {
            "label": "Smart Standard HTTP",
            "lang": "HTTP",
            "source": "POST /api/3/Broadcast/ HTTP/1.1\nHost: sms.messagewhiz.com\napikey: YOUR_COMPANY_API_KEY\nContent-Type: application/json\n\n{\n  \"name\": \"manual\",\n  \"campaign_id\": 1,\n  \"broadcast_type\": 12,\n  \"unsubscriber_list_ids\": \"\",\n  \"sender_ids\": \"23\",\n  \"recipient_list_ids\": \"12\",\n  \"message_body\": \"man message\",\n  \"send_date\": \"2021-03-01T12:41:38.837Z\",\n  \"utc_offset\": 120,\n  \"eb_type\": \"manual\",\n  \"first_segment_size\": \"3\"\n}"
          },
          {
            "label": "Smart Standard cURL",
            "lang": "cURL",
            "source": "curl --location --request POST 'https://sms.messagewhiz.com/api/3/Broadcast/' \\\n--header 'apikey: YOUR_COMPANY_API_KEY' \\\n--header 'Content-Type: application/json' \\\n--data '{\n  \"name\": \"manual\",\n  \"campaign_id\": 1,\n  \"broadcast_type\": 12,\n  \"unsubscriber_list_ids\": \"\",\n  \"sender_ids\": \"23\",\n  \"recipient_list_ids\": \"12\",\n  \"message_body\": \"man message\",\n  \"send_date\": \"2021-03-01T12:41:38.837Z\",\n  \"utc_offset\": 120,\n  \"eb_type\": \"manual\",\n  \"first_segment_size\": \"3\"\n}'"
          },
          {
            "label": "Smart CTR HTTP",
            "lang": "HTTP",
            "source": "POST /api/3/Broadcast/ HTTP/1.1\nHost: sms.messagewhiz.com\napikey: YOUR_COMPANY_API_KEY\nContent-Type: application/json\n\n{\n  \"name\": \"CTR\",\n  \"campaign_id\": 57568,\n  \"broadcast_type\": 12,\n  \"eb_type\": \"CTR\",\n  \"sender_ids\": \"143871\",\n  \"recipient_list_ids\": 109242,\n  \"message_body\": \"broadcast message {{link:132451}}\",\n  \"first_segment_size\": 1,\n  \"next_segment_size\": 1,\n  \"conversion_threshold\": 25\n}"
          },
          {
            "label": "Smart CTR cURL",
            "lang": "cURL",
            "source": "curl --location --request POST 'https://sms.messagewhiz.com/api/3/Broadcast/' \\\n--header 'apikey: YOUR_COMPANY_API_KEY' \\\n--header 'Content-Type: application/json' \\\n--data '{\n  \"name\": \"CTR\",\n  \"campaign_id\": 57568,\n  \"broadcast_type\": 12,\n  \"eb_type\": \"CTR\",\n  \"sender_ids\": \"143871\",\n  \"recipient_list_ids\": 109242,\n  \"message_body\": \"broadcast message {{link:132451}}\",\n  \"first_segment_size\": 1,\n  \"next_segment_size\": 1,\n  \"conversion_threshold\": 25\n}'"
          },
          {
            "label": "Text Optimisation HTTP",
            "lang": "HTTP",
            "source": "POST /api/3/Broadcast/ HTTP/1.1\nHost: sms.messagewhiz.com\napikey: YOUR_COMPANY_API_KEY\nContent-Type: application/json\n\n{\n  \"name\": \"Text optimisation\",\n  \"campaign_id\": 1,\n  \"test_segment_size\": \"100\",\n  \"broadcast_type\": 13,\n  \"recipient_list_ids\": \"79419\",\n  \"sender_ids\": \"144548\",\n  \"unsubscriber_list_ids\": \"\",\n  \"utc_offset\": 180,\n  \"message_bodies\": [\n    \"Text 1 {{link:132451}}\",\n    \"Text 2 {{link:132451}}\"\n  ],\n  \"conversion_threshold\": \"25\",\n  \"period\": 120,\n  \"recipient_cap\": \"no_limit\",\n  \"send_immediately_when_ctr_done\": false\n}"
          },
          {
            "label": "Text Optimisation cURL",
            "lang": "cURL",
            "source": "curl --location --request POST 'https://sms.messagewhiz.com/api/3/Broadcast/' \\\n--header 'apikey: YOUR_COMPANY_API_KEY' \\\n--header 'Content-Type: application/json' \\\n--data '{\n  \"name\": \"Text optimisation\",\n  \"campaign_id\": 1,\n  \"test_segment_size\": \"100\",\n  \"broadcast_type\": 13,\n  \"recipient_list_ids\": \"79419\",\n  \"sender_ids\": \"144548\",\n  \"unsubscriber_list_ids\": \"\",\n  \"utc_offset\": 180,\n  \"message_bodies\": [\n    \"Text 1 {{link:132451}}\",\n    \"Text 2 {{link:132451}}\"\n  ],\n  \"conversion_threshold\": \"25\",\n  \"period\": 120,\n  \"recipient_cap\": \"no_limit\",\n  \"send_immediately_when_ctr_done\": false\n}'"
          }
        ]
      }
    },
    "/api/3/Broadcast/Estimate": {
      "post": {
        "parameters": [],
        "tags": [
          "Broadcast"
        ],
        "summary": "Estimate Broadcast",
        "description": "To Estimate a broadcast via API",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Single, Base, Smart Standard, Smart CTR": {
                    "value": {
                      "errorCode": 0,
                      "errorMessage": "",
                      "errorType": "",
                      "executionTime": 5.076538867,
                      "result": {
                        "messages": 1,
                        "sum": 3.36,
                        "parts": 1,
                        "recipient_id_map": [],
                        "replacements": {},
                        "firstSegmentCount": 1,
                        "recipient_meta_data_map": [
                          [
                            3852004823,
                            {
                              "phone_number": 3852004823,
                              "email": "email@gmail.com",
                              "custom": "Custom",
                              "url": "https://google.com",
                              "first_name": "John",
                              "last_name": "Doe"
                            }
                          ]
                        ],
                        "recipients": {
                          "3852004823": {
                            "rate": 3.36,
                            "mccMnc": 111222
                          }
                        },
                        "messageExpanded": {
                          "actions": {
                            "callback": {
                              "replacement": "",
                              "uuid": "",
                              "count": 0
                            },
                            "first_name": {
                              "replacement": "",
                              "count": 0
                            },
                            "last_name": {
                              "replacement": "",
                              "count": 0
                            },
                            "url": {
                              "replacement": "",
                              "count": 0
                            },
                            "random_symbol": {
                              "replacement": "h",
                              "count": 0
                            },
                            "verification_code": {
                              "replacement": "",
                              "count": 0
                            },
                            "custom": {
                              "replacement": "",
                              "count": 0,
                              "parameters": []
                            },
                            "custom1": {
                              "replacement": "",
                              "count": 0,
                              "parameters": []
                            },
                            "custom2": {
                              "replacement": "",
                              "count": 0,
                              "parameters": []
                            },
                            "custom3": {
                              "replacement": "",
                              "count": 0,
                              "parameters": []
                            },
                            "custom4": {
                              "replacement": "",
                              "count": 0,
                              "parameters": []
                            },
                            "gender": {
                              "replacement": "",
                              "count": 0
                            },
                            "word_spinner": {
                              "replacement": "",
                              "count": 0,
                              "parameters": [],
                              "isApproximate": true
                            },
                            "link": {
                              "replacement": "",
                              "count": 0,
                              "parameters": []
                            },
                            "link_list": {
                              "replacement": "",
                              "count": 0,
                              "parameters": []
                            },
                            "unsubscription_link": {
                              "replacement": "",
                              "count": 0,
                              "parameters": []
                            },
                            "shorten_url": {
                              "replacement": "",
                              "count": 0,
                              "parameters": []
                            },
                            "callback_link": {
                              "replacement": "",
                              "count": 0,
                              "parameters": []
                            }
                          },
                          "text": "sample"
                        },
                        "links": {},
                        "warnings": [],
                        "estimateHash": "8572aeb3624293a238cd2d7cd901fb61743e3a435e50e00d631a410cb0044d39dd4a53be35e040974f88c7e3799ab1f8d1629455c260a87b0fa48da547c7ffcb",
                        "batchEstimation": {
                          "messages": 1,
                          "sum": 3.36,
                          "parts": 1
                        }
                      }
                    }
                  },
                  "Text Optimisation": {
                    "value": {
                      "errorCode": 0,
                      "errorMessage": "",
                      "errorType": "",
                      "executionTime": 0.12474547,
                      "result": {
                        "testSegmentCount": 2,
                        "testSegmentSize": 50,
                        "testSegmentEstimations": [
                          {
                            "messageExpanded": {
                              "actions": {
                                "callback": {
                                  "replacement": "",
                                  "uuid": "",
                                  "count": 0
                                },
                                "first_name": {
                                  "replacement": "",
                                  "count": 0
                                },
                                "last_name": {
                                  "replacement": "",
                                  "count": 0
                                },
                                "url": {
                                  "replacement": "",
                                  "count": 0
                                },
                                "random_symbol": {
                                  "replacement": "i",
                                  "count": 0
                                },
                                "verification_code": {
                                  "replacement": "",
                                  "count": 0
                                },
                                "custom": {
                                  "replacement": "",
                                  "count": 0,
                                  "parameters": []
                                },
                                "custom1": {
                                  "replacement": "",
                                  "count": 0,
                                  "parameters": []
                                },
                                "custom2": {
                                  "replacement": "",
                                  "count": 0,
                                  "parameters": []
                                },
                                "custom3": {
                                  "replacement": "",
                                  "count": 0,
                                  "parameters": []
                                },
                                "custom4": {
                                  "replacement": "",
                                  "count": 0,
                                  "parameters": []
                                },
                                "gender": {
                                  "replacement": "",
                                  "count": 0
                                },
                                "word_spinner": {
                                  "replacement": "",
                                  "count": 0,
                                  "parameters": [],
                                  "isApproximate": true
                                },
                                "link": {
                                  "replacement": "",
                                  "count": 0,
                                  "parameters": []
                                },
                                "link_list": {
                                  "replacement": "",
                                  "count": 1,
                                  "parameters": [
                                    "36238"
                                  ]
                                },
                                "unsubscription_link": {
                                  "replacement": "",
                                  "count": 0,
                                  "parameters": []
                                },
                                "shorten_url": {
                                  "replacement": "",
                                  "count": 0,
                                  "parameters": []
                                },
                                "callback_link": {
                                  "replacement": "",
                                  "count": 0,
                                  "parameters": []
                                }
                              },
                              "text": " Test segment 1"
                            },
                            "parts": 1,
                            "sum": 4.999999999999998,
                            "messages": 50,
                            "recipients": 50,
                            "links": {
                              "link_list": {
                                "36238": {
                                  "223955": "https://www.google.com/",
                                  "226214": "https://www.google.com/"
                                }
                              }
                            }
                          },
                          {
                            "messageExpanded": {
                              "actions": {
                                "callback": {
                                  "replacement": "",
                                  "uuid": "",
                                  "count": 0
                                },
                                "first_name": {
                                  "replacement": "",
                                  "count": 0
                                },
                                "last_name": {
                                  "replacement": "",
                                  "count": 0
                                },
                                "url": {
                                  "replacement": "",
                                  "count": 0
                                },
                                "random_symbol": {
                                  "replacement": "H",
                                  "count": 0
                                },
                                "verification_code": {
                                  "replacement": "",
                                  "count": 0
                                },
                                "custom": {
                                  "replacement": "",
                                  "count": 0,
                                  "parameters": []
                                },
                                "custom1": {
                                  "replacement": "",
                                  "count": 0,
                                  "parameters": []
                                },
                                "custom2": {
                                  "replacement": "",
                                  "count": 0,
                                  "parameters": []
                                },
                                "custom3": {
                                  "replacement": "",
                                  "count": 0,
                                  "parameters": []
                                },
                                "custom4": {
                                  "replacement": "",
                                  "count": 0,
                                  "parameters": []
                                },
                                "gender": {
                                  "replacement": "",
                                  "count": 0
                                },
                                "word_spinner": {
                                  "replacement": "",
                                  "count": 0,
                                  "parameters": [],
                                  "isApproximate": true
                                },
                                "link": {
                                  "replacement": "",
                                  "count": 1,
                                  "parameters": [
                                    "223955"
                                  ]
                                },
                                "link_list": {
                                  "replacement": "",
                                  "count": 0,
                                  "parameters": []
                                },
                                "unsubscription_link": {
                                  "replacement": "",
                                  "count": 0,
                                  "parameters": []
                                },
                                "shorten_url": {
                                  "replacement": "",
                                  "count": 0,
                                  "parameters": []
                                },
                                "callback_link": {
                                  "replacement": "",
                                  "count": 0,
                                  "parameters": []
                                }
                              },
                              "text": " Test segment 2"
                            },
                            "parts": 1,
                            "sum": 4.999999999999998,
                            "messages": 50,
                            "recipients": 50,
                            "links": {
                              "link": {
                                "223955": "https://www.google.com/"
                              }
                            }
                          }
                        ],
                        "warnings": [],
                        "messages": 250,
                        "sum": 25.000000000000085,
                        "recipients": 250,
                        "parts": 1,
                        "messageExpanded": {
                          "actions": {
                            "callback": {
                              "replacement": "",
                              "uuid": "",
                              "count": 0
                            },
                            "first_name": {
                              "replacement": "",
                              "count": 0
                            },
                            "last_name": {
                              "replacement": "",
                              "count": 0
                            },
                            "url": {
                              "replacement": "",
                              "count": 0
                            },
                            "random_symbol": {
                              "replacement": "i",
                              "count": 0
                            },
                            "verification_code": {
                              "replacement": "",
                              "count": 0
                            },
                            "custom": {
                              "replacement": "",
                              "count": 0,
                              "parameters": []
                            },
                            "custom1": {
                              "replacement": "",
                              "count": 0,
                              "parameters": []
                            },
                            "custom2": {
                              "replacement": "",
                              "count": 0,
                              "parameters": []
                            },
                            "custom3": {
                              "replacement": "",
                              "count": 0,
                              "parameters": []
                            },
                            "custom4": {
                              "replacement": "",
                              "count": 0,
                              "parameters": []
                            },
                            "gender": {
                              "replacement": "",
                              "count": 0
                            },
                            "word_spinner": {
                              "replacement": "",
                              "count": 0,
                              "parameters": [],
                              "isApproximate": true
                            },
                            "link": {
                              "replacement": "",
                              "count": 0,
                              "parameters": []
                            },
                            "link_list": {
                              "replacement": "",
                              "count": 1,
                              "parameters": [
                                "36238"
                              ]
                            },
                            "unsubscription_link": {
                              "replacement": "",
                              "count": 0,
                              "parameters": []
                            },
                            "shorten_url": {
                              "replacement": "",
                              "count": 0,
                              "parameters": []
                            },
                            "callback_link": {
                              "replacement": "",
                              "count": 0,
                              "parameters": []
                            }
                          },
                          "text": " Test segment 1"
                        },
                        "links": {
                          "link_list": {
                            "36238": {
                              "223955": "https://www.google.com/",
                              "226214": "https://www.google.com/"
                            }
                          }
                        },
                        "estimateHash": "90ea00d1ed058fe0b5df00c7a48fdf8f3a24d3f734d8b41e7b2a1d434e73dd57a8136b399384d1e6a161a8e9c6e11ea841eb0430bdd1906afd4d3d609924ea7b"
                      }
                    }
                  }
                }
              }
            },
            "description": "Successful operation"
          },
          "400": {
            "description": "Bad Request -- Invalid parameters specified"
          },
          "401": {
            "description": "Unauthorized -- API key is missing or invalid"
          },
          "403": {
            "description": "Forbidden -- User/company is either disabled or doesn't have enough permissions"
          },
          "404": {
            "description": "Not found -- An entity is not found"
          }
        },
        "requestBody": {
          "x-show-example-request": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "title": "Base Broadcast",
                    "allOf": [
                      {
                        "$ref": "#/components/requestBodies/Broadcasts_estimate_base"
                      }
                    ]
                  },
                  {
                    "title": "Smart Standard",
                    "allOf": [
                      {
                        "$ref": "#/components/requestBodies/Broadcasts_estimate_standard"
                      }
                    ]
                  },
                  {
                    "title": "Smart CTR",
                    "allOf": [
                      {
                        "$ref": "#/components/requestBodies/Broadcasts_estimate_CTR"
                      }
                    ]
                  },
                  {
                    "title": "Text Optimisation",
                    "allOf": [
                      {
                        "$ref": "#/components/requestBodies/Broadcasts_estimateTextOptimization"
                      }
                    ]
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "label": "Base Broadcast HTTP",
            "lang": "HTTP",
            "source": "POST /api/3/Broadcast/Estimate HTTP/1.1\nHost: sms.messagewhiz.com\napikey: YOUR_COMPANY_API_KEY\nContent-Type: application/json\n\n{\n  \"broadcast_type\": 11,\n  \"recipient_list_ids\": \"288696\",\n  \"unsubscriber_list_ids\": \"\",\n  \"message_body\": \"sample\"\n}"
          },
          {
            "label": "Base Broadcast cURL",
            "lang": "cURL",
            "source": "curl --location --request POST 'https://sms.messagewhiz.com/api/3/Broadcast/Estimate' \\\n--header 'apikey: YOUR_COMPANY_API_KEY' \\\n--header 'Content-Type: application/json' \\\n--data '{\n  \"broadcast_type\": 11,\n  \"recipient_list_ids\": \"288696\",\n  \"unsubscriber_list_ids\": \"\",\n  \"message_body\": \"sample\"\n}'"
          },
          {
            "label": "Smart Standard HTTP",
            "lang": "HTTP",
            "source": "POST /api/3/Broadcast/Estimate HTTP/1.1\nHost: sms.messagewhiz.com\napikey: YOUR_COMPANY_API_KEY\nContent-Type: application/json\n\n{\n  \"broadcast_type\": 12,\n  \"message_body\": \"message  {{link:233648}} \",\n  \"eb_type\": \"manual\",\n  \"first_segment_size\": \"10\",\n  \"time_limit\": 0,\n  \"recipient_cap\": \"no_limit\",\n  \"recipient_list_ids\": \"132885\",\n  \"unsubscriber_list_ids\": \"\"\n}"
          },
          {
            "label": "Smart Standard cURL",
            "lang": "cURL",
            "source": "curl --location --request POST 'https://sms.messagewhiz.com/api/3/Broadcast/Estimate' \\\n--header 'apikey: YOUR_COMPANY_API_KEY' \\\n--header 'Content-Type: application/json' \\\n--data '{\n  \"broadcast_type\": 12,\n  \"message_body\": \"message  {{link:233648}} \",\n  \"eb_type\": \"manual\",\n  \"first_segment_size\": \"10\",\n  \"time_limit\": 0,\n  \"recipient_cap\": \"no_limit\",\n  \"recipient_list_ids\": \"132885\",\n  \"unsubscriber_list_ids\": \"\"\n}'"
          },
          {
            "label": "Smart CTR HTTP",
            "lang": "HTTP",
            "source": "POST /api/3/Broadcast/Estimate HTTP/1.1\nHost: sms.messagewhiz.com\napikey: YOUR_COMPANY_API_KEY\nContent-Type: application/json\n\n{\n  \"broadcast_type\": 12,\n  \"message_body\": \"message  {{link:233248}} \",\n  \"eb_type\": \"CTR\",\n  \"first_segment_size\": \"15\",\n  \"next_segment_size\": \"25\",\n  \"recipient_list_ids\": \"132995\",\n  \"unsubscriber_list_ids\": \"\"\n}"
          },
          {
            "label": "Smart CTR cURL",
            "lang": "cURL",
            "source": "curl --location --request POST 'https://sms.messagewhiz.com/api/3/Broadcast/Estimate' \\\n--header 'apikey: YOUR_COMPANY_API_KEY' \\\n--header 'Content-Type: application/json' \\\n--data '{\n  \"broadcast_type\": 12,\n  \"message_body\": \"message  {{link:233248}} \",\n  \"eb_type\": \"CTR\",\n  \"first_segment_size\": \"15\",\n  \"next_segment_size\": \"25\",\n  \"recipient_list_ids\": \"132995\",\n  \"unsubscriber_list_ids\": \"\"\n}'"
          },
          {
            "label": "Text Optimisation HTTP",
            "lang": "HTTP",
            "source": "POST /api/3/Broadcast/Estimate HTTP/1.1\nHost: sms.messagewhiz.com\napikey: YOUR_COMPANY_API_KEY\nContent-Type: application/json\n\n{\n  \"test_segment_size\": \"50\",\n  \"broadcast_type\": 13,\n  \"recipient_list_ids\": \"129161\",\n  \"unsubscriber_list_ids\": \"\",\n  \"message_bodies\": [\n    \"{{link_list:36238}} Test segment 1\",\n    \"{{link:223955}} Test segment 2\"\n  ]\n}"
          },
          {
            "label": "Text Optimisation cURL",
            "lang": "cURL",
            "source": "curl --location --request POST 'https://sms.messagewhiz.com/api/3/Broadcast/Estimate' \\\n--header 'apikey: YOUR_COMPANY_API_KEY' \\\n--header 'Content-Type: application/json' \\\n--data '{\n  \"test_segment_size\": \"50\",\n  \"broadcast_type\": 13,\n  \"recipient_list_ids\": \"129161\",\n  \"unsubscriber_list_ids\": \"\",\n  \"message_bodies\": [\n    \"{{link_list:36238}} Test segment 1\",\n    \"{{link:223955}} Test segment 2\"\n  ]\n}'"
          }
        ]
      }
    },
    "/api/3/Broadcast/List": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/filter_limit"
          },
          {
            "$ref": "#/components/parameters/filter_start"
          },
          {
            "$ref": "#/components/parameters/broadcast_filter"
          },
          {
            "$ref": "#/components/parameters/filter_orderby"
          }
        ],
        "tags": [
          "Broadcast"
        ],
        "summary": "Get Broadcasts List",
        "description": "Get Broadcasts from your MessageWhiz account",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "errorCode": 0,
                  "errorMessage": "",
                  "errorType": "",
                  "executionTime": 0.351626371,
                  "result": [
                    {
                      "id": 200,
                      "user_id": 123,
                      "name": "sample broadcast",
                      "type": 1,
                      "message_body": "sample message",
                      "enabled": 1,
                      "trigger_id": null,
                      "send_date": "2041-03-07T11:41:55.000Z",
                      "state": 2,
                      "parent_id": null,
                      "real_price": 0,
                      "estimated_price": 10.5,
                      "create_date": "2019-08-05T13:20:04.000Z",
                      "estimated_count": 8,
                      "utc_offset": 0,
                      "next_segment_size": null,
                      "eb_type": null,
                      "company_name": "sample company",
                      "timezone": "GMT +0",
                      "send_now": false,
                      "broadcastConversion": {
                        "uniqueClicks": 0,
                        "totalClicks": 0,
                        "recipientCount": 8,
                        "conversion": "0.00",
                        "broadcastId": 200
                      }
                    }
                  ]
                }
              }
            },
            "description": "Successful operation",
            "schema": {
              "required": [
                "errorCode",
                "errorMessage",
                "errorType",
                "executionTime",
                "result"
              ],
              "properties": {
                "errorCode": {
                  "type": "number",
                  "example": 0
                },
                "errorMessage": {
                  "type": "string",
                  "example": ""
                },
                "errorType": {
                  "type": "string",
                  "example": ""
                },
                "executionTime": {
                  "type": "number",
                  "example": 0.351626371
                },
                "result": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "number",
                        "example": 200
                      },
                      "user_id": {
                        "type": "number",
                        "example": 123
                      },
                      "name": {
                        "type": "string",
                        "example": "sample broadcast"
                      },
                      "type": {
                        "type": "number",
                        "example": 1
                      },
                      "message_body": {
                        "type": "string",
                        "example": "sample message"
                      },
                      "enabled": {
                        "type": "number",
                        "example": 1
                      },
                      "send_date": {
                        "type": "string",
                        "example": "2041-03-07T11:41:55.000Z"
                      },
                      "state": {
                        "type": "number",
                        "example": 2
                      },
                      "real_price": {
                        "type": "number",
                        "example": 0
                      },
                      "estimated_price": {
                        "type": "number",
                        "example": 10.5
                      },
                      "create_date": {
                        "type": "string",
                        "example": "2019-08-05T13:20:04.000Z"
                      },
                      "estimated_count": {
                        "type": "number",
                        "example": 8
                      },
                      "utc_offset": {
                        "type": "number",
                        "example": 0
                      },
                      "company_name": {
                        "type": "string",
                        "example": "sample company"
                      },
                      "timezone": {
                        "type": "string",
                        "example": "GMT +0"
                      },
                      "send_now": {
                        "type": "boolean",
                        "example": false
                      },
                      "broadcastConversion": {
                        "required": [
                          "uniqueClicks",
                          "totalClicks",
                          "recipientCount",
                          "conversion",
                          "broadcastId"
                        ],
                        "properties": {
                          "uniqueClicks": {
                            "type": "number",
                            "example": 0
                          },
                          "totalClicks": {
                            "type": "number",
                            "example": 0
                          },
                          "recipientCount": {
                            "type": "number",
                            "example": 8
                          },
                          "conversion": {
                            "type": "string",
                            "example": "0.00"
                          },
                          "broadcastId": {
                            "type": "number",
                            "example": 200
                          }
                        },
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request -- Invalid parameters specified"
          },
          "401": {
            "description": "Unauthorized -- API key is missing or invalid"
          },
          "403": {
            "description": "Forbidden -- User/company is either disabled or doesn't have enough permissions"
          },
          "404": {
            "description": "Not found -- An entity is not found"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "HTTP",
            "source": "GET /api/3/Broadcast/List HTTP/1.1\nHost: sms.messagewhiz.com\napikey: YOUR_COMPANY_API_KEY\n"
          },
          {
            "lang": "cURL",
            "source": "curl --location --request GET 'https://sms.messagewhiz.com/api/3/Broadcast/List' \\\n--header 'apikey: YOUR_COMPANY_API_KEY' \\\n"
          }
        ]
      }
    },
    "/api/3/Broadcast/Combinedsubmit": {
      "post": {
        "parameters": [],
        "tags": [
          "Broadcast"
        ],
        "summary": "Single request broadcasts",
        "description": "An endpoint on Segment Based architecture which enables creating a Base Broadcast and sending it to a new Recipient list withone request",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "errorCode": 0,
                  "errorMessage": "",
                  "errorType": "",
                  "executionTime": 0.351626371,
                  "result": [
                    {
                      "broadcastID": 333,
                      "segmentID": 495
                    }
                  ]
                }
              }
            },
            "description": "Successful operation"
          },
          "400": {
            "description": "Bad Request -- Invalid parameters specified"
          },
          "401": {
            "description": "Unauthorized -- API key is missing or invalid"
          },
          "403": {
            "description": "Forbidden -- User/company is either disabled or doesn't have enough permissions"
          },
          "404": {
            "description": "Not found -- An entity is not found"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "message_body": "hello {{first_name}} {{last_name}} here is {{custom2}} click on link {{shorten_url}}!!",
                "sender": "My sender",
                "recipients": [
                  {
                    "phone_number": 380100001010,
                    "first_name": "John",
                    "last_name": "Doe",
                    "custom2": "MyCustomToken",
                    "url": "https://mylink1.com"
                  },
                  {
                    "phone_number": 380100001011,
                    "first_name": "Bob",
                    "url": "https://mylink2.com"
                  }
                ]
              },
              "schema": {
                "type": "object",
                "required": [
                  "message_body",
                  "sender",
                  "recipients"
                ],
                "properties": {
                  "message_body": {
                    "$ref": "#/components/parameters/broadcast_message_body"
                  },
                  "sender": {
                    "$ref": "#/components/parameters/broadcast_sender"
                  },
                  "recipients": {
                    "description": "Json file with all needed data (phone number, first name, last name, URL ect. per each recipient)",
                    "type": "array",
                    "items": {
                      "type": "object"
                    },
                    "minLength": 1,
                    "maxLength": 100000
                  },
                  "name": {
                    "description": "The name of broadcast is an optional parameter. If it is defined in the request, this value will be used as the name. If it is not provided, the broadcast ID will be used as a name",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64
                  },
                  "send_date": {
                    "$ref": "#/components/parameters/broadcast_send_date"
                  },
                  "sender_id": {
                    "$ref": "#/components/parameters/broadcast_sender_id"
                  },
                  "utc_offset": {
                    "$ref": "#/components/parameters/broadcast_utc_offset"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "HTTP",
            "source": "POST /api/3/Broadcast/Combinedsubmit HTTP/1.1\nHost: sms.messagewhiz.com\napikey: YOUR_COMPANY_API_KEY\nContent-Type: application/json\n\n{\n  \"message_body\": \"hello {{first_name}} {{last_name}} here is {{custom2}} click on link {{shorten_url}}!!\",\n  \"sender\": \"My sender\",\n  \"recipients\": [\n    {\n      \"phone_number\": 380100001010,\n      \"first_name\": \"John\",\n      \"last_name\": \"Doe\",\n      \"custom2\": \"MyCustomToken\",\n      \"url\": \"https://mylink1.com\"\n    },\n    {\n      \"phone_number\": 380100001011,\n      \"first_name\": \"Bob\",\n      \"url\": \"https://mylink2.com\"\n    }\n  ]\n}"
          },
          {
            "lang": "cURL",
            "source": "curl --location --request POST 'https://sms.messagewhiz.com/api/3/Broadcast/Combinedsubmit' \\\n--header 'apikey: YOUR_COMPANY_API_KEY' \\\n--header 'Content-Type: application/json' \\\n--data '{\n  \"message_body\": \"hello {{first_name}} {{last_name}} here is {{custom2}} click on link {{shorten_url}}!!\",\n  \"sender\": \"My sender\",\n  \"recipients\": [\n    {\n      \"phone_number\": 380100001010,\n      \"first_name\": \"John\",\n      \"last_name\": \"Doe\",\n      \"custom2\": \"MyCustomToken\",\n      \"url\": \"https://mylink1.com\"\n    },\n    {\n      \"phone_number\": 380100001011,\n      \"first_name\": \"Bob\",\n      \"url\": \"https://mylink2.com\"\n    }\n  ]\n}'"
          }
        ]
      }
    },
    "/api/3/Segments/": {
      "post": {
        "parameters": [],
        "tags": [
          "Broadcast"
        ],
        "summary": "Continue smart broadcast",
        "description": "",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "errorCode": 0,
                  "errorMessage": "",
                  "errorType": "",
                  "executionTime": 2.202010018,
                  "result": {
                    "real_price": 0,
                    "id": 1,
                    "broadcast_id": 111,
                    "utc_offset": 180,
                    "message_body": "sample",
                    "template_id": null,
                    "batch_index": null,
                    "state": 0,
                    "recipient_count": 1,
                    "estimated_price": 3.36,
                    "send_conditions_id": 1,
                    "enabled": true,
                    "created_at": "2021-06-25 14:02:50",
                    "send_time": "2021-06-25 14:02:50",
                    "estimated_count": 1
                  }
                }
              }
            },
            "description": "Successful operation",
            "schema": {
              "required": [
                "errorCode",
                "errorMessage",
                "errorType",
                "executionTime",
                "result"
              ],
              "properties": {
                "errorCode": {
                  "type": "number",
                  "example": 0
                },
                "errorMessage": {
                  "type": "string",
                  "example": ""
                },
                "errorType": {
                  "type": "string",
                  "example": ""
                },
                "executionTime": {
                  "type": "number",
                  "example": 2.202010018
                },
                "result": {
                  "required": [
                    "real_price",
                    "id",
                    "broadcast_id",
                    "utc_offset",
                    "message_body",
                    "template_id",
                    "batch_index",
                    "state",
                    "recipient_count",
                    "estimated_price",
                    "send_conditions_id",
                    "enabled",
                    "created_at",
                    "send_time",
                    "estimated_count"
                  ],
                  "properties": {
                    "real_price": {
                      "type": "number",
                      "example": 0
                    },
                    "id": {
                      "type": "number",
                      "example": 1
                    },
                    "broadcast_id": {
                      "type": "number",
                      "example": 111
                    },
                    "utc_offset": {
                      "type": "number",
                      "example": 180
                    },
                    "message_body": {
                      "type": "string",
                      "example": "sample"
                    },
                    "state": {
                      "type": "number",
                      "example": 0
                    },
                    "recipient_count": {
                      "type": "number",
                      "example": 1
                    },
                    "estimated_price": {
                      "type": "number",
                      "example": 3.36
                    },
                    "send_conditions_id": {
                      "type": "number",
                      "example": 1
                    },
                    "enabled": {
                      "type": "boolean",
                      "example": true
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2021-06-25 14:02:50"
                    },
                    "send_time": {
                      "type": "string",
                      "example": "2021-06-25 14:02:50"
                    },
                    "estimated_count": {
                      "type": "number",
                      "example": 1
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request -- Invalid parameters specified"
          },
          "401": {
            "description": "Unauthorized -- API key is missing or invalid"
          },
          "403": {
            "description": "Forbidden -- User/company is either disabled or doesn't have enough permissions"
          },
          "404": {
            "description": "Not found -- An entity is not found"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "broadcast_id": {
                    "description": "Id of the broadcast to be continued",
                    "schema": {
                      "type": "integer"
                    },
                    "type": "integer"
                  },
                  "sender_ids": {
                    "description": "Specifies if the segment should be sent as soon as possible",
                    "type": "boolean"
                  },
                  "segment_size": {
                    "description": "Ount of the recipients whose messages will be sent within the segment",
                    "schema": {
                      "type": "integer",
                      "minimum": 1
                    },
                    "type": "integer",
                    "minimum": 1
                  },
                  "message_body": {
                    "description": "Message for the segment",
                    "schema": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 100000
                    },
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100000
                  },
                  "next_segment_size": {
                    "description": "Count of the recipients whose messages will be sent within the next segments of the batch (should be specified if a paused CTR Threshold broadcast is being continued)",
                    "schema": {
                      "type": "integer",
                      "minimum": 1
                    },
                    "type": "integer",
                    "minimum": 1
                  },
                  "recipient_cap": {
                    "description": "Count of recipients whose messages will be sent before the broadcast will be paused for further actions (should be specified if a paused CTR Threshold broadcast is being continued)",
                    "schema": {
                      "type": [
                        "integer",
                        "string"
                      ],
                      "pattern": "no_limit",
                      "default": "no_limit",
                      "minimum": 1
                    },
                    "type": [
                      "integer",
                      "string"
                    ],
                    "pattern": "no_limit",
                    "default": "no_limit",
                    "minimum": 1
                  },
                  "send_date": {
                    "description": "Date when the segment will be send (may be used instead of send_now)",
                    "schema": {
                      "type": "string"
                    },
                    "type": "string"
                  },
                  "sender_list_ids": {
                    "description": "Ids of the sender lists which will be used for the created segment (may be used instead of `sender_ids`)",
                    "schema": {
                      "type": "string",
                      "minLength": 0,
                      "maxLength": 1000,
                      "pattern": "^[0-9]+(,[0-9]+)*$",
                      "errorMessage": {
                        "pattern": "Only numeric sender_list_ids separated by comma can be used"
                      }
                    },
                    "type": "string",
                    "minLength": 0,
                    "maxLength": 1000,
                    "pattern": "^[0-9]+(,[0-9]+)*$",
                    "errorMessage": {
                      "pattern": "Only numeric sender_list_ids separated by comma can be used"
                    }
                  },
                  "first_segment_size": {
                    "description": "Count of the recipients whose messages will be sent within the first segment of the batch (should be specified if a paused CTR Threshold broadcast is being continued)",
                    "schema": {
                      "type": "integer",
                      "minimum": 1
                    },
                    "type": "integer",
                    "minimum": 1
                  },
                  "template_ids": {
                    "description": "Ids of the templates that will be used for the created segment (may be used instead of message_body)",
                    "schema": {
                      "type": "string"
                    },
                    "type": "string"
                  },
                  "utc_offset": {
                    "description": "Specific time zone, in minutes (min -720, max +720, e.g. for UTC+0 the value is 0)",
                    "schema": {
                      "type": "integer",
                      "minimum": -720,
                      "maximum": 720
                    },
                    "type": "integer",
                    "minimum": -720,
                    "maximum": 720
                  }
                },
                "required": [
                  "broadcast_id",
                  "message_body",
                  "segment_size",
                  "sender_ids"
                ]
              },
              "example": {
                "broadcast_id": 111,
                "message_body": "sample",
                "segment_size": 1,
                "send_now": true,
                "sender_ids": "1",
                "utc_offset": 180
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "HTTP",
            "source": "POST /api/3/Segments/ HTTP/1.1\nHost: sms.messagewhiz.com\napikey: YOUR_COMPANY_API_KEY\nContent-Type: application/json\n\n{\n  \"broadcast_id\": 111,\n  \"message_body\": \"sample\",\n  \"segment_size\": 1,\n  \"send_now\": true,\n  \"sender_ids\": \"1\",\n  \"utc_offset\": 180\n}"
          },
          {
            "lang": "cURL",
            "source": "curl --location --request POST 'https://sms.messagewhiz.com/api/3/Segments/' \\\n--header 'apikey: YOUR_COMPANY_API_KEY' \\\n--header 'Content-Type: application/json' \\\n--data '{\n  \"broadcast_id\": 111,\n  \"message_body\": \"sample\",\n  \"segment_size\": 1,\n  \"send_now\": true,\n  \"sender_ids\": \"1\",\n  \"utc_offset\": 180\n}'"
          }
        ]
      }
    },
    "/api/3/LinkList/": {
      "post": {
        "parameters": [],
        "tags": [
          "Link List"
        ],
        "summary": "Create a Link List",
        "description": "Create an empty Link List from your MessageWhiz account\n\n In the request body specify the name(string) of the Link List that will be created. Either linkIds - an array of IDs of the previously created Links that the list will contain, or links - an array of objects with url and name properties\n\nTo add existing Links to the Link List, include Link List ID in the query:\n\n`POST https://sms.messagewhiz.com/api/3/LinkList/{id}/links`\n\nIn the request body specify the `ids(array)` an array of IDs of the previously created Links that the list will contain. Or specify one link `id(int)`\n\n### To create a Link List by importing the file, use `multipart/formdata` request\n\n",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "errorCode": 0,
                  "errorMessage": "",
                  "errorType": "",
                  "executionTime": 0.017949384,
                  "result": {
                    "id": 6940,
                    "name": "FirstLinkList",
                    "enabled": true,
                    "linkListLength": 1,
                    "warning": ""
                  }
                }
              }
            },
            "description": "Successful operation",
            "schema": {
              "required": [
                "errorCode",
                "errorMessage",
                "errorType",
                "executionTime",
                "result"
              ],
              "properties": {
                "errorCode": {
                  "type": "number",
                  "example": 0
                },
                "errorMessage": {
                  "type": "string",
                  "example": ""
                },
                "errorType": {
                  "type": "string",
                  "example": ""
                },
                "executionTime": {
                  "type": "number",
                  "example": 0.017949384
                },
                "result": {
                  "required": [
                    "id",
                    "name",
                    "enabled",
                    "linkListLength",
                    "warning"
                  ],
                  "properties": {
                    "id": {
                      "type": "number",
                      "example": 6940
                    },
                    "name": {
                      "type": "string",
                      "example": "FirstLinkList"
                    },
                    "enabled": {
                      "type": "boolean",
                      "example": true
                    },
                    "linkListLength": {
                      "type": "number",
                      "example": 1
                    },
                    "warning": {
                      "type": "string",
                      "example": ""
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request -- Invalid parameters specified"
          },
          "401": {
            "description": "Unauthorized -- API key is missing or invalid"
          },
          "403": {
            "description": "Forbidden -- User/company is either disabled or doesn't have enough permissions"
          },
          "404": {
            "description": "Not found -- An entity is not found"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "name": "FirstLinkList",
                "linkIds": [
                  "311"
                ]
              },
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "$ref": "#/components/parameters/linklist_name"
                  },
                  "linkIds": {
                    "$ref": "#/components/parameters/linklist_linkIds"
                  },
                  "links": {
                    "$ref": "#/components/parameters/linklist_links"
                  },
                  "mapping": {
                    "$ref": "#/components/parameters/linklist_mapping"
                  }
                },
                "required": [
                  "name"
                ]
              }
            },
            "multipart/form-data": {
              "example": "--form 'doc=@/home/user/Downloads/SecondLinkList.csv' \\\n--form 'mapping={\"0\":\"name\", \"1\":\"url\"}' \\\n--form 'name=NewList'",
              "x-show-example-request": true,
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "mapping": {
                    "$ref": "#/components/parameters/linklist_mapping"
                  },
                  "name": {
                    "$ref": "#/components/parameters/linklist_name"
                  },
                  "doc": {
                    "$ref": "#/components/parameters/file"
                  }
                },
                "required": [
                  "name",
                  "doc",
                  "mapping"
                ]
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "HTTP",
            "source": "POST /api/3/LinkList/ HTTP/1.1\nHost: sms.messagewhiz.com\napikey: YOUR_COMPANY_API_KEY\nContent-Type: application/json\n\n{\n  \"name\": \"FirstLinkList\",\n  \"linkIds\": [\n    \"311\"\n  ]\n}"
          },
          {
            "lang": "cURL",
            "source": "curl --location --request POST 'https://sms.messagewhiz.com/api/3/LinkList/' \\\n--header 'apikey: YOUR_COMPANY_API_KEY' \\\n--header 'Content-Type: application/json' \\\n--data '{\n  \"name\": \"FirstLinkList\",\n  \"linkIds\": [\n    \"311\"\n  ]\n}'"
          }
        ]
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/filter_limit"
          },
          {
            "$ref": "#/components/parameters/filter_enabled"
          },
          {
            "$ref": "#/components/parameters/linklist_filter"
          },
          {
            "$ref": "#/components/parameters/filter_start"
          }
        ],
        "tags": [
          "Link List"
        ],
        "summary": "Get Link Lists",
        "description": "Get Link Lists from your MessageWhiz account",
        "responses": {
          "200": {
            "content": {
[...]
