openapi: 3.0.3
info:
  version: 1.0.34
  title: 10DLC Brand and Campaign Provisioning
  x-metaTitle: Vonage 10DLC API Reference | Vonage API Documentation
  x-metaDescription: Find quick answers to questions about the Vonage 10DLC API in
    this reference guide. Learn more in Vonage's API documentation.
  contact:
    name: Vonage
    url: https://developer.nexmo.com
    email: devrel@vonage.com
  description: APIs relating to 10DLC brand and campaign management
servers:
  - url: https://api-eu.vonage.com
tags:
  - name: Enums
    description: The list of values available for enum properties across all APIs
  - name: Account
    description: API endpoints for Account
  - name: Brands
    description: APIs relating to working with Brands
  - name: Campaigns
    description: APIs relating to working with Campaigns
  - name: Numbers
    description: APIs relating to working with Numbers in Campaigns
  - name: OTP
    description: Sole Proprietor OTP verification
  - name: Brand vettings
    description: Endpoints for requesting brand vetting and appeals
  - name: Resellers
    description: APIs for managing resellers associated with your account.
security:
  - basicAuth: []
paths:
  /v1/10dlc/enum:
    get:
      tags:
        - Enums
      description: Get the list of all enum values available for each enum parameter
      summary: Get enumeration values
      operationId: getEnumValues
      responses:
        "200":
          description: List of all enumeration values
          content:
            application/json:
              schema:
                description: |
                  Enumeration values used in other API objects.
                  These values are dynamic and can be changed regularly.
                type: object
                properties:
                  alt_business_id_type:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                  brand_relationship:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                  brand_status:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                  campaign_status:
                    type: array
                    items:
                      type: object
                      properties:
                        description:
                          type: string
                        id:
                          type: string
                  campaign_op_status:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                  compliance:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                  country:
                    type: array
                    items:
                      type: object
                      properties:
                        description:
                          type: string
                        id:
                          type: string
                  cnp:
                    type: array
                    items:
                      type: object
                      properties:
                        description:
                          type: string
                        id:
                          type: string
                  dca:
                    type: array
                    items:
                      type: object
                      properties:
                        description:
                          type: string
                        id:
                          type: string
                  entity_type:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                  event_category:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                  identity_status:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                  mno:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        mno:
                          type: string
                  nudge_intent:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                  number_status:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                  opt_attribute_name:
                    type: array
                    items:
                      type: object
                      properties:
                        description:
                          type: string
                        id:
                          type: string
                        type:
                          type: string
                  sharing_status:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                  stock_exchange:
                    type: array
                    items:
                      type: object
                      properties:
                        country:
                          type: string
                        description:
                          type: string
                        id:
                          type: string
                  tcr_campaign_status:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                  tmo_brand_tier:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                  usecase:
                    type: array
                    items:
                      type: object
                      properties:
                        classification:
                          type: string
                        description:
                          type: string
                        display_name:
                          type: string
                        id:
                          type: string
                        max_sub_usecases:
                          type: number
                        min_sub_usecases:
                          type: number
                        valid_sub_usecase:
                          type: number
                        min_msg_samples:
                          description: >
                            This is the minimum number of message samples for a
                            campaign's usecase. 

                            This does not account for additional samples needed by a campaign's sub usecases.
                          type: number
                  usstate:
                    type: array
                    items:
                      type: object
                      properties:
                        description:
                          type: string
                        id:
                          type: string
                  vertical:
                    type: array
                    items:
                      type: object
                      properties:
                        description:
                          type: string
                        display_name:
                          type: string
                        id:
                          type: string
                        industry_id:
                          type: string
                  vetting_class:
                    type: array
                    items:
                      type: object
                      properties:
                        description:
                          type: string
                        display_name:
                          type: string
                        enabled:
                          type: number
                        id:
                          type: string
                        validity_months:
                          type: number
                  vetting_provider:
                    type: array
                    items:
                      type: object
                      properties:
                        display_name:
                          type: string
                        id:
                          type: string
                        vetting_classes:
                          type: string
                  vetting_status:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                  vetting_appeal_category:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        display_name:
                          type: string
                        description:
                          type: string
                example:
                  alt_business_id_type:
                    - id: DUNS
                    - id: GIIN
                    - id: LEI
                    - id: NONE
                  brand_relationship:
                    - id: BASIC_ACCOUNT
                    - id: KEY_ACCOUNT
                    - id: LARGE_ACCOUNT
                    - id: MEDIUM_ACCOUNT
                    - id: SMALL_ACCOUNT
                  brand_status:
                    - id: ACTIVE
                    - id: DELETED
                    - id: UNKNOWN
                  campaign_status:
                    - description: The campaign has been approved by every party and traffic can now
                        be sent.
                      id: ACTIVE
                    - description: The campaign has expired.
                      id: CANCELED
                    - description: The campaign has been approved by our internal process. It is
                        created in the registry and is pending approval from
                        third parties.
                      id: CARRIERS_REVIEW
                    - description: The campaign is active but will not be renewed. It will be canceled
                        at the next renewal date.
                      id: PENDING_CANCELLATION
                    - description: The initial state of a campaign. The campaign has been submitted
                        for an internal review and cannot be used to send
                        traffic yet.
                      id: PENDING_REVIEW
                    - description: The campaign has been suspended, along with any traffic it's used
                        to send. This can happen if suspicious traffic has been
                        detected (spam, ...) or after an MNO complaint. This
                        triggers an internal review process which can lead to
                        the unsuspension or termination of the campaign.
                      id: SUSPENDED
                    - description: The campaign has been terminated. A campaign cannot be recovered
                        after it's been terminated.
                      id: TERMINATED
                    - description: The campaign has been reviewed after submission, but needs changes
                        before it can be approved.
                      id: UPDATES_REQUIRED
                  campaign_op_status:
                    - id: REGISTERED
                    - id: REJECTED
                    - id: REVIEW
                    - id: SUSPENDED
                    - id: UNKNOWN
                  compliance:
                    - id: HIPAA
                    - id: NONE
                  country:
                    - description: United Kingdom of Great Britain and Northern Ireland
                      id: GB
                    - description: United States of America
                      id: US
                  cnp:
                    - description: Bandwidth
                      id: BANDW
                  dca:
                    - description: Bandwidth
                      id: BANDW
                  entity_type:
                    - id: GOVERNMENT
                    - id: NON_PROFIT
                    - id: PRIVATE_PROFIT
                    - id: PUBLIC_PROFIT
                    - id: SOLE_PROPRIETOR
                  event_category:
                    - id: BRAND
                    - id: CAMPAIGN
                  identity_status:
                    - id: SELF_DECLARED
                    - id: PENDING
                    - id: UNVERIFIED
                    - id: VERIFIED
                    - id: VETTED_VERIFIED
                  mno:
                    - id: "10017"
                      mno: AT&T
                    - id: "10035"
                      mno: T-Mobile
                    - id: "10037"
                      mno: US Cellular
                    - id: "10038"
                      mno: Verizon Wireless
                    - id: "10631"
                      mno: ClearSky
                    - id: "10901"
                      mno: Interop
                  nudge_intent:
                    - id: APPEAL_REJECTION
                    - id: REVIEW
                  number_status:
                    - id: LINKING
                    - id: LINKED
                    - id: REJECTED
                    - id: UNLINKING
                    - id: UNLINKED
                  opt_attribute_name:
                    - description: Confirmation that the brand is a closely affiliated, generally by
                        government ownership or control, with federal, state or
                        local governments.
                      id: governmentEntity
                      type: BOOLEAN
                    - description: Political committee Locale. Possible values are federal, state,
                        local and tribal.
                      id: politicalCommitteeLocale
                      type: STRING
                    - description: Publicly traded company identified in the Russell 3000 Index
                      id: russell3000
                      type: BOOLEAN
                    - description: 527 group is a type of U.S. tax-exempt organization organized under
                        Section 527 of the U.S. Internal Revenue Code.
                      id: section527
                      type: BOOLEAN
                    - description: "Nonprofit organization tax-exempt status per section 501 of the
                        U.S. tax code. Example: '501c3'. Please refer to IRS
                        code, section 501 - Ballotpedia for more info."
                      id: taxExemptStatus
                      type: STRING
                  sharing_status:
                    - id: ACCEPTED
                    - id: DECLINED
                    - id: PENDING
                    - id: UNKNOWN
                  stock_exchange:
                    - country: US
                      description: Nasdaq
                      id: NASDAQ
                    - country: US
                      description: New York Stock Exchange
                      id: NYSE
                  tcr_campaign_status:
                    - id: ACTIVE
                    - id: EXPIRED
                    - id: UNKNOWN
                  tmo_brand_tier:
                    - id: LOW
                    - id: SOLE_PROPRIETOR
                    - id: TOP
                  usecase:
                    - classification: STANDARD
                      description: A notification that the security of a system, either software or
                        hardware, has been compromised in some way and there is
                        an action you need to take
                      display_name: Security Alert
                      id: SECURITY_ALERT
                      max_sub_usecases: 0
                      min_sub_usecases: 0
                      valid_sub_usecase: 1
                    - classification: SPECIAL
                      description: Sole Proprietor
                      display_name: Sole Proprietor
                      id: SOLE_PROPRIETOR
                      max_sub_usecases: 5
                      min_sub_usecases: 1
                      valid_sub_usecase: 0
                  usstate:
                    - description: New York
                      id: NY
                    - description: Washington
                      id: WA
                  vertical:
                    - description: Agriculture businesses and services.
                      display_name: Agriculture
                      id: AGRICULTURE
                      industry_id: agriculture
                    - description: Communication and mass media.
                      display_name: Communication and Mass Media
                      id: COMMUNICATION
                      industry_id: mass-media-and-communication
                  vetting_class:
                    - description: Detailed vetting along with vet report
                      display_name: Enhanced
                      enabled: 1
                      id: ENHANCED
                      validity_months: 1200
                    - description: Required for federal level political campaign.
                      display_name: Political
                      enabled: 1
                      id: POLITICAL
                      validity_months: 12
                    - description: Standard Vetting covering all but Political, Exempted and Political
                        use-cases
                      display_name: Standard
                      enabled: 1
                      id: STANDARD
                      validity_months: 12
                  vetting_provider:
                    - display_name: Aegis Mobile
                      id: AEGIS
                      vetting_classes: STANDARD,POLITICAL,ENHANCED
                    - display_name: Campaign Verify
                      id: CV
                      vetting_classes: POLITICAL_FEDERAL
                    - display_name: WMC Global
                      id: WMC
                      vetting_classes: STANDARD
                  vetting_status:
                    - id: ACTIVE
                    - id: EXPIRED
                    - id: FAILED
                    - id: PENDING
                    - id: UNSCORE
                  vetting_appeal_category:
                    - id: VERIFY_TAX_ID
                      display_name: Verify tax ID
                      description: Select this category if the record is FAILED due to an inability to
                        match the tax ID.
                    - id: VERIFY_NON_PROFIT
                      display_name: Verify Non-Profit status/subsection
                      description: Select this category if the record submitted as a Non-Profit entity
                        type is VETTED_VERIFIED and is missing a 'Tax Exempt
                        Status'.
                    - id: VERIFY_GOVERNMENT
                      display_name: Verify Government status
                      description: Select this category if the record submitted as a Government entity
                        type is VETTED_VERIFIED and is missing a “Government
                        Entity” status.
                    - id: LOW_SCORE
                      display_name: Low score
                      description: Select this category if the vetting score is too low based on the
                        Company's characteristics, including size, years in
                        business, business reputation, financial history, civil
                        and criminal legal history, regulatory history, official
                        registration and standing, and business messaging
                        integrity record. This category applies only for
                        Standard external vets.
        "401":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/401"
  /v1/10dlc/account:
    get:
      tags:
        - Account
      summary: Retrieves the authenticated Account attributes.
      description: Retrieves the authenticated Account attributes.
      operationId: getAccount
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  opt_out_assist:
                    $ref: "#/paths/~1v1~110dlc~1account/patch/requestBody/content/application~1json\
                      /schema/properties/opt_out_assist"
        "401":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/401"
        "422":
          $ref: "#/paths/~1v1~110dlc~1throughputs/get/responses/422"
    patch:
      tags:
        - Account
      summary: Update account attributes, only the primary account is allowed to
        update the account attributes.
      description: Update account attributes
      operationId: updateAccount
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                opt_out_assist:
                  description: >
                    Specifies whether opt out assist is enabled for this
                    account. On a campaign, indicated whether it's enabled on
                    the primary account of the campaign's brand. It is only
                    possible to enable opt out assist.
                  type: boolean
                  example: true
              required:
                - opt_out_assist
      responses:
        "204":
          description: No Content
        "401":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/401"
        "403":
          description: Forbidden action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorCouldNotRemoveNumber/allOf/0"
              example:
                type: https://developer.vonage.com/api-errors#forbidden
                title: Permission denied
                detail: Your account does not have permission to perform this action
                instance: 3c2548d132ca4b09870da17d56969a75
        "422":
          $ref: "#/paths/~1v1~110dlc~1throughputs/get/responses/422"
  /v1/10dlc/brands:
    get:
      parameters:
        - $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1appeal~1evidence/parameters\
            /0"
        - $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1appeal~1evidence/parameters\
            /1"
        - $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1appeal~1evidence/parameters\
            /2"
        - in: query
          name: status
          description: >
            One or multiple status can be given. Thus `ACTIVE` and `SUSPENDED`.
            The endpoint then returns the brands with the chosen status. If no
            status is chosen, both `ACTIVE` and `SUSPENDED` brands would be
            returned.
          required: false
          schema:
            enum:
              - ACTIVE
              - SUSPENDED
              - TERMINATED
              - DELETED
            type: string
      tags:
        - Brands
      summary: Get all brands with specific Account ID.
      description: Retrieve all brands with Account ID.
      operationId: listBrands
      responses:
        "200":
          description: List of brands that are associated with an account
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/responses/MultiNumbersResponse/content/application~1json/sc\
                      hema/allOf/0"
                  - type: object
                    properties:
                      _embedded:
                        type: object
                        properties:
                          brands:
                            type: array
                            items:
                              $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1revet/post/responses/200/co\
                                ntent/application~1json/schema"
                      _links:
                        type: object
                        properties:
                          self:
                            type: object
                            properties:
                              href:
                                type: string
                                example: https://api.nexmo.com/v1/10dlc/brands/BLQKOPK?page=2
                          next:
                            type: object
                            properties:
                              href:
                                type: string
                                example: https://api.nexmo.com/v1/10dlc/brands/?page=3
                          previous:
                            type: object
                            properties:
                              href:
                                type: string
                                example: https://api.nexmo.com/v1/10dlc/brands/?page=1
                          first:
                            type: object
                            properties:
                              href:
                                type: string
                                example: https://api.nexmo.com/v1/10dlc/brands/?page=1
                          last:
                            type: object
                            properties:
                              href:
                                type: string
                                example: https://api.nexmo.com/v1/10dlc/brands/?page=10
              examples:
                simple:
                  value:
                    page_size: 10
                    page: 1
                    total_pages: 3
                    total_items: 2
                    _embedded:
                      brands:
                        ABCBLQ:
                          value:
                            brand_id: ABCBLQ
                            account_id: abcd1234
                            primary_account_id: abcd1234
                            entity_type: PUBLIC_PROFIT
                            first_name: John
                            last_name: Smith
                            display_name: Vonage
                            company_name: Vonage
                            ein: 20-1111111
                            ein_issuing_country: US
                            universal_ein: 20-1111111
                            alt_business_id_type: DUNS
                            alt_business_id: "150483782"
                            phone: "15556660001"
                            mobile_phone: "123123222334"
                            street: 23 Main Street
                            city: Holmdel
                            state: NJ
                            postal_code: "07733"
                            country: US
                            email: devrel@vonage.com
                            stock_symbol: VG
                            stock_exchange: NASDAQ
                            website: https://vonage.com
                            vertical: TECHNOLOGY
                            brand_relationship: BASIC_ACCOUNT
                            identity_status: PENDING
                            partner: true
                            shared: true
                            owner: true
                            tcr_status: ACTIVE
                            status: ACTIVE
                            campaign_count: 0
                            carrier_suspensions:
                              - {}
                            reseller: true,
                            created_date: 2019-08-24T14:15:22Z
                            verified_date: 2019-09-24T14:15:22Z
                            last_updated: 2019-09-24T14:15:22Z
                            optional_attributes: {}
                            _links:
                              self:
                                href: https://api.nexmo.com/v1/10dlc/brands/BLQKOPK
                              campaigns:
                                href: https://api.nexmo.com/v1/10dlc/brands/BLQKOPK/campaigns
                              usecases:
                                href: https://api.nexmo.com/v1/10dlc/brands/BLQKOPK/usecases
                        BLQKOPK:
                          value:
                            brand_id: BLQKOPK
                            account_id: abcd1234
                            primary_account_id: abcd1234
                            entity_type: PUBLIC_PROFIT
                            first_name: John
                            last_name: Smith
                            display_name: Vonage
                            company_name: Vonage
                            ein: 20-1111111
                            ein_issuing_country: US
                            universal_ein: 20-1111111
                            alt_business_id_type: DUNS
                            alt_business_id: "150483782"
                            phone: "15556660001"
                            mobile_phone: "123123222334"
                            street: 23 Main Street
                            city: Holmdel
                            state: NJ
                            postal_code: "07733"
                            country: US
                            email: devrel@vonage.com
                            stock_symbol: VG
                            stock_exchange: NASDAQ
                            website: https://vonage.com
                            vertical: TECHNOLOGY
                            brand_relationship: BASIC_ACCOUNT
                            identity_status: PENDING
                            partner: true
                            shared: true
                            owner: true
                            tcr_status: ACTIVE
                            status: ACTIVE
                            campaign_count: 0
                            carrier_suspensions:
                              - {}
                            reseller: true,
                            created_date: 2019-08-24T14:15:22Z
                            verified_date: 2019-09-24T14:15:22Z
                            last_updated: 2019-09-24T14:15:22Z
                            optional_attributes: {}
                            _links:
                              self:
                                href: https://api.nexmo.com/v1/10dlc/brands/BLQKOPK
                              campaigns:
                                href: https://api.nexmo.com/v1/10dlc/brands/BLQKOPK/campaigns
                              usecases:
                                href: https://api.nexmo.com/v1/10dlc/brands/BLQKOPK/usecases
                    _links:
                      first:
                        href: https://api.nexmo.com/v1/10dlc/brands/BLQKOPK?page=1
                      last:
                        href: https://api.nexmo.com/v1/10dlc/brands/BLQKOPK?page=3
                      previous:
                        href: https://api.nexmo.com/v1/10dlc/brands/BLQKOPK?page=1
                      next:
                        href: https://api.nexmo.com/v1/10dlc/brands/BLQKOPK?page=3
                      self:
                        href: https://api.nexmo.com/v1/10dlc/brands/BLQKOPK?page=2
        "400":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/400"
        "401":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/401"
        "404":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/404"
        "422":
          $ref: "#/paths/~1v1~110dlc~1throughputs/get/responses/422"
    post:
      tags:
        - Brands
      summary: Create a new brand for your account
      description: >
        Create a new brand for your account. A brand is a business or individual

        identity behind the campaign. Most accounts will be created immediately,

        and you can move on to qualifying a new campaign for the brand. Some

        brands may require additional vetting. In such cases, please move on to

        the vetting API endpoints before attempting to create a campaign.


        Please note the `entity_type` field, as that field value will help determine which fields are required.`
      operationId: createBrand
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - title: Non-Profit
                  x-tab-id: NonProfit
                  allOf:
                    - description: Fields required to create a brand with type other than
                        PUBLIC_PROFIT or SOLE_PROPRIETOR.
                      allOf:
                        - $ref: "#/paths/~1v1~110dlc~1brands/post/responses/201/content/application~1json\
                            /schema/allOf/0"
                        - type: object
                          properties:
                            account_id:
                              $ref: "#/components/schemas/VettingRequest/properties/account_id"
                          required:
                            - account_id
                            - entity_type
                            - display_name
                            - company_name
                            - vertical
                            - ein
                            - phone
                            - email
                            - street
                            - city
                            - state
                            - postal_code
                            - country
                - title: Private Company
                  x-tab-id: PrivateCompany
                  allOf:
                    - $ref: "#/paths/~1v1~110dlc~1brands/post/requestBody/content/application~1json/s\
                        chema/oneOf/0/allOf/0"
                - title: Public Company
                  x-tab-id: PublicCompany
                  allOf:
                    - description: Fields required to create PUBLIC_PROFIT brand.
                      allOf:
                        - $ref: "#/paths/~1v1~110dlc~1brands/post/responses/201/content/application~1json\
                            /schema/allOf/0"
                        - type: object
                          properties:
                            account_id:
                              $ref: "#/components/schemas/VettingRequest/properties/account_id"
                          required:
                            - account_id
                            - entity_type
                            - display_name
                            - company_name
                            - vertical
                            - ein
                            - phone
                            - email
                            - stock_symbol
                            - stock_exchange
                            - street
                            - city
                            - state
                            - postal_code
                            - country
                - title: Sole Proprietor
                  x-tab-id: SoleProprietor
                  allOf:
                    - description: Fields required to create SOLE_PROPRIETOR brand.
                      allOf:
                        - $ref: "#/paths/~1v1~110dlc~1brands/post/responses/201/content/application~1json\
                            /schema/allOf/0"
                        - type: object
                          properties:
                            account_id:
                              $ref: "#/components/schemas/VettingRequest/properties/account_id"
                          required:
                            - account_id
                            - entity_type
                            - first_name
                            - last_name
                            - display_name
                            - company_name
                            - ein
                            - phone
                            - email
                            - street
                            - city
                            - state
                            - postal_code
                            - country
                            - mobile_phone
              discriminator:
                propertyName: entity_type
      responses:
        "201":
          $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1revet/post/responses/200"
        "400":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/400"
        "401":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/401"
        "404":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/404"
        "409":
          $ref: "#/paths/~1v1~110dlc~1resellers/post/responses/409"
        "422":
          $ref: "#/paths/~1v1~110dlc~1throughputs/get/responses/422"
  "/v1/10dlc/brands/{brand_id}":
    parameters:
      - $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1revet/parameters/0"
    get:
      tags:
        - Brands
      summary: Get a brand by Brand ID.
      description: Retrieve a specific brand with Brand ID.
      operationId: getBrand
      responses:
        "200":
          $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1revet/post/responses/200"
        "400":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/400"
        "401":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/401"
        "404":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/404"
        "422":
          $ref: "#/paths/~1v1~110dlc~1throughputs/get/responses/422"
    patch:
      tags:
        - Brands
      summary: Partially update a brand
      description: >
        This operation applies a partial update of a brand enabling the CSP to
        keep brand details updated in the registry. 

        Please note that if vetting is successfully completed, the `ein` `ein_issuing_country` and `entity_type` fields will be locked and the associated values cannot be changed.
      operationId: patchBrand
      requestBody:
        required: true
        content:
          application/json:
            schema:
              description: Fields that are editable for a brand
              type: object
              properties:
                company_name:
                  type: string
                  maxLength: 255
                  description: Legal company name.
                  example:
                    $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1revet/post/responses/200/co\
                      ntent/application~1json/examples/vonage/value/company_nam\
                      e"
                first_name:
                  type: string
                  maxLength: 100
                  description: First name of business contact. **NB:** Required for
                    `SOLE_PROPRIETOR` entity type
                  example:
                    $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1revet/post/responses/200/co\
                      ntent/application~1json/examples/vonage/value/first_name"
                last_name:
                  type: string
                  maxLength: 100
                  description: last name of business contact. **NB:** Required for
                    `SOLE_PROPRIETOR` entity type
                  example:
                    $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1revet/post/responses/200/co\
                      ntent/application~1json/examples/vonage/value/last_name"
                display_name:
                  type: string
                  maxLength: 255
                  description: Display or marketing name of the brand.
                  example:
                    $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1revet/post/responses/200/co\
                      ntent/application~1json/examples/vonage/value/display_nam\
                      e"
                ein:
                  type: string
                  pattern: ^([0-9]{2}[-]?[0-9]{7})$|^([0-9]{3}[-]?[0-9]{2}[-]?[0-9]{4})$
                  maxLength: 21
                  description: (Required for Non-profit) Government assigned corporate tax ID. EIN
                    is 9-digits in U.S.A.
                  example:
                    $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1revet/post/responses/200/co\
                      ntent/application~1json/examples/vonage/value/ein"
                ein_issuing_country:
                  type: string
                  pattern: ^[A-Z]{2}$
                  description: ISO3166-Alpha2 country code.
                  example:
                    $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1revet/post/responses/200/co\
                      ntent/application~1json/examples/vonage/value/ein_issuing\
                      _country"
                entity_type:
                  type: string
                  enum:
                    - PRIVATE_PROFIT
                    - PUBLIC_PROFIT
                    - NON_PROFIT
                    - SOLE_PROPRIETOR
                    - GOVERNMENT
                  description: >
                    Entity type behind the brand.

                    This is the form of business establishment.

                    **NB:** The `GOVERNMENT` entity_type is ONLY applicable to US governmental agencies (FBI, CIA, Department of defence etc.) Other countries’ governmental agencies must use `NON_PROFIT` entity type.

                    Please refer to the [/enum](#Enums) endpoint for an update list of valid values.
                  example:
                    $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1revet/post/responses/200/co\
                      ntent/application~1json/examples/vonage/value/entity_type"
                website:
                  type: string
                  description: Brand website URL.
                  example:
                    $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1revet/post/responses/200/co\
                      ntent/application~1json/examples/vonage/value/website"
                phone:
                  type: string
                  description: Valid phone number in E.164 international format without the +
                    prefix.
                  example:
                    $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1revet/post/responses/200/co\
                      ntent/application~1json/examples/vonage/value/phone"
                mobile_phone:
                  $ref: "#/components/schemas/Reseller/properties/phone"
                street:
                  type: string
                  maxLength: 100
                  description: Street number and name.
                  example:
                    $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1revet/post/responses/200/co\
                      ntent/application~1json/examples/vonage/value/street"
                city:
                  type: string
                  maxLength: 100
                  description: City name
                  example:
                    $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1revet/post/responses/200/co\
                      ntent/application~1json/examples/vonage/value/city"
                state:
                  type: string
                  maxLength: 20
                  description: State. Must be 2 letters code for U.S.A.
                  example:
                    $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1revet/post/responses/200/co\
                      ntent/application~1json/examples/vonage/value/state"
                postal_code:
                  type: string
                  maxLength: 10
                  description: Postal codes. Use 5 digit zipcode for United States
                  example:
                    $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1revet/post/responses/200/co\
                      ntent/application~1json/examples/vonage/value/postal_code"
                country:
                  type: string
                  description: ISO3166-Alpha2 country code.
                  example:
                    $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1revet/post/responses/200/co\
                      ntent/application~1json/examples/vonage/value/country"
                email:
                  type: string
                  maxLength: 100
                  description: Valid email address of brand support contact.
                  example:
                    $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1revet/post/responses/200/co\
                      ntent/application~1json/examples/vonage/value/email"
                stock_symbol:
                  type: string
                  maxLength: 10
                  description: Stock Symbol - Required if entity_type=PUBLIC_PROFIT.
                  example:
                    $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1revet/post/responses/200/co\
                      ntent/application~1json/examples/vonage/value/stock_symbo\
                      l"
                stock_exchange:
                  type: string
                  maxLength: 10
                  description: Required if entity_type=PUBLIC_PROFIT.
                  enum:
                    - NONE
                    - AMEX
                    - AMX
                    - ASX
                    - B3
                    - BME
                    - BSE
                    - FRA
                    - ICEX
                    - JSE
                    - KRX
                    - LON
                    - NASDAQ
                    - NSE
                    - NYSE
                    - OMX
                    - SEHK
                    - SSE
                    - STO
                    - SWX
                    - SZSE
                    - TSX
                    - TWSE
                    - VSE
                  example:
                    $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1revet/post/responses/200/co\
                      ntent/application~1json/examples/vonage/value/stock_excha\
                      nge"
                vertical:
                  type: string
                  description: >
                    Business/industry segment of this campaign.

                    Use the [/enum](#Enums)  endpoint to get an updated list of verticals
                  enum:
                    - REAL_ESTATE
                    - HEALTHCARE
                    - ENERGY
                    - ENTERTAINMENT
                    - RETAIL
                    - AGRICULTURE
                    - INSURANCE
                    - EDUCATION
                    - HOSPITALITY
                    - FINANCIAL
                    - GAMBLING
                    - CONSTRUCTION
                    - NGO
                    - MANUFACTURING
                    - GOVERNMENT
                    - TECHNOLOGY
                    - COMMUNICATION
                  example:
                    $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1revet/post/responses/200/co\
                      ntent/application~1json/examples/vonage/value/vertical"
      responses:
        "200":
          $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1revet/post/responses/200"
        "400":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/400"
        "401":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/401"
        "404":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/404"
        "422":
          $ref: "#/paths/~1v1~110dlc~1throughputs/get/responses/422"
    delete:
      tags:
        - Brands
      summary: Remove a specific brand from your account
      description: >
        This operation deletes a brand.


        A brand can be deleted if it does not have active campaigns.

        Once a brand is deleted, it will be in a `DELETED` state and it cannot be restored to an `ACTIVE` state.

        Deleted brands will remain in the system for a period of time and can be searched using the GET/brand endpoint with the query filter `status` = ACTIVE.

        While deleted brands are searchable, all other API endpoints involving a deleted brand will result in a `502 - Brand not found` error.
      operationId: deleteBrand
      responses:
        "204":
          description: No Content
        "400":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/400"
        "401":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/401"
        "404":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/404"
        "409":
          $ref: "#/paths/~1v1~110dlc~1resellers/post/responses/409"
        "422":
          $ref: "#/paths/~1v1~110dlc~1throughputs/get/responses/422"
  "/v1/10dlc/brands/{brand_id}/feedback":
    get:
      parameters:
        - $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1revet/parameters/0"
      tags:
        - Brands
      operationId: getBrandFeedback
      summary: Get feedback of a brand by Brand ID.
      description: >
        Retrieve feedback of a specific brand with Brand ID.


        The endpoint will only respond correctly if the brand's identity status is already checked.

        If the brand's identity status is still `PENDING`, it will answer with a 422 error.


        Also, if the brand's identity status is not `UNVERIFIED`, the response should be empty.
      responses:
        "200":
          description: Return feedback for a brand
          content:
            application/json:
              schema:
                type: object
                properties:
                  categories:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        description:
                          type: string
                        fields:
                          type: array
                          items:
                            type: string
        "400":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/400"
        "401":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/401"
        "404":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/404"
        "422":
          $ref: "#/paths/~1v1~110dlc~1throughputs/get/responses/422"
  "/v1/10dlc/brands/{brand_id}/usecases/{usecase}":
    parameters:
      - $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1revet/parameters/0"
      - in: path
        name: usecase
        description: Name of a use case
        required: true
        schema:
          type: string
          enum:
            - CUSTOMER_CARE
            - POLLING_VOTING
            - HIGHER_EDUCATION
            - PUBLIC_SERVICE_ANNOUNCEMENT
            - MARKETING
            - SECURITY_ALERT
            - DELIVERY_NOTIFICATION
            - ACCOUNT_NOTIFICATION
            - 2FA
            - FRAUD_ALERT
            - TRIAL
            - CHARITY
            - POLITICAL
            - EMERGENCY
            - SWEEPSTAKE
            - CONVERSATIONAL
            - MIXED
            - CARRIER_EXEMPT
            - SOCIAL
            - LOW_VOLUME
    get:
      tags:
        - Brands
      description: |
        Check to see if a brand is qualified to run a campaign against a given
        use case. A brand must check this endpoint before attempting to generate
        a new campaign.

        If the use case is not qualified, the brand may request additional third
        party vetting to see if the additional use cases can be added to their
        account.
      summary: Check Use Case Qualifications for a Brand
      operationId: qualifyBrandUseCase
      responses:
        "200":
          description: A valid qualified use case for a brand
          content:
            application/json:
              schema:
                type: object
                properties:
                  usecase:
                    type: string
                    example:
                      $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1usecases~1%7Busecase%7D/get\
                        /responses/200/content/application~1json/examples/simpl\
                        e/value/usecase"
                  quarterly_fee:
                    type: integer
                    format: int32
                    example:
                      $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1usecases~1%7Busecase%7D/get\
                        /responses/200/content/application~1json/examples/simpl\
                        e/value/quarterly_fee"
                  annual_fee:
                    type: integer
                    format: int32
                    example:
                      $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1usecases~1%7Busecase%7D/get\
                        /responses/200/content/application~1json/examples/simpl\
                        e/value/annual_fee"
                  mno_metadata:
                    type: array
                    items:
                      type: object
                      properties:
                        network_id:
                          type: string
                          description: Network ID of the MNO.
                          example: "10017"
                        mno:
                          type: string
                          description: Name of the MNO.
                          example: AT&T
                        status:
                          type: string
                          description: MNO campaign operation status. Please refer to the
                            campaign_op_status property of the /enum endpoint
                            response for an updated list of valid values.
                        mno_support:
                          type: boolean
                          description: If 'false', then the desired usecase cannot be supported by the
                            MNO.
                        mno_review:
                          type: boolean
                          description: If 'true', then the submitted campaign is subject to the MNO
                            (manual) review process.
                        qualify:
                          type: boolean
                          description: If 'false', then the brand does not qualify for the desired usecase
                            on the MNO.
                        min_msg_samples:
                          type: integer
                          description: The minimum number of message samples required by MNO for
                            submission of the desired usecase.
                          example: 2
                        req_subscriber_opt_in:
                          type: boolean
                          description: If 'true' then MNO requires the subscriber to opt-into the campaign
                            before the message may be sent to the subscriber.
                            The opt-in mechanism can be mobile or web opt-in.
                        req_subscriber_opt_out:
                          type: boolean
                          description: If 'true' then MNO requires a campaign to support an opt-out
                            mechanism through MO stop keywords such as 'STOP',
                            'QUIT'. Upon receive the STOP message from a
                            subscriber, the campaign must stop sending messages
                            to the subscriber immediately.
                        req_subscriber_help:
                          type: boolean
                          description: If 'true' then MNO requires a campaign to support a 'help'
                            mechanism through MO help key words such as 'HELP',
                            'INFO'.
                        no_embedded_link:
                          type: boolean
                          description: If 'true' then MNO forbids call-to-action link/URL to be embedded
                            in all messages sent to the subscriber.
                        no_embedded_phone:
                          type: boolean
                          description: If 'true' then MNO forbids call-to-action phone number to be
                            embedded in all messages sent to the subscriber.
                        att_msg_class:
                          type: string
                          description: (Only for AT&T). Message class assigned to the campaign by MNO.
                            Please refer to the AT&T 10DLC guide for a complete
                            list of available message class and definition.
                          example: Q
                        att_tpm:
                          type: integer
                          description: (Only for AT&T). SMS Message TPM (throughput per minute) qualified
                            by the brand for the desired usecase.
                          example: 3000
                        att_mms_tpm:
                          type: integer
                          description: (Only for AT&T). MMS Message TPM (throughput per minute) qualified
                            by the brand for the desired usecase.
                          example: 3000
                        att_number_based:
                          type: boolean
                          description: (Only for AT&T). Whether is the MNO applying the TPM per number or
                            per campaign.
                        tmo_brand_tier:
                          type: string
                          enum:
                            - LOW
                            - LOWER_MID
                            - UPPER_MID
                            - TOP
                            - UNCAPPED
                          description: (Only for T-Mobile). Daily message volume is restricted based on
                            brand tier or brand qualification. The daily volume
                            restriction applies to brand across campaigns and
                            CSPs. Please refer to the /enum endpoint for an
                            updated list of valid values.
                          example: LOW
                        tmo_tpd:
                          type: integer
                          description: (Only for TMobile). Message TPD (throughput per day) qualified by
                            the brand for the desired usecase.
                        complaints:
                          type: array
                          items:
                            type: object
                            properties:
                              complaints:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    description:
                                      description: Description of this MNO complaint.
                                      type: string
                                      maxLength: 65535
                                    dca:
                                      type: string
                                      description: dca name
                                      example: SINCH
                                    created_at:
                                      description: Date-time when this record was created.
                                      type: string
                                      format: date-time
                    example:
                      $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1usecases~1%7Busecase%7D/get\
                        /responses/200/content/application~1json/examples/simpl\
                        e/value/mno_metadata"
              examples:
                simple:
                  value:
                    usecase: POLITICAL
                    quarterly_fee: 30
                    annual_fee: 30
                    mno_metadata:
                      - network_id: "10017"
                        min_msg_samples: 2
                        att_msg_class: Q
                        req_subscriber_opt_in: false
                        req_subscriber_help: false
                        req_subscriber_opt_out: false
                        mno: AT&T
                        att_tpm: 2000
                        mno_support: true
                        mno_review: true
                        no_embedded_link: true
                        qualify: true
                        tmo_brand_tier: null
                      - network_id: "10035"
                        min_msg_samples: 2
                        req_subscriber_opt_in: false
                        req_subscriber_help: false
                        req_subscriber_opt_out: false
                        mno: TMO
                        mno_support: true
                        mno_review: true
                        no_embedded_link: true
                        no_embedded_phone: true
                        qualify: true
                        tmo_brand_tier: LOW
                        att_tpm: null
                        att_msg_class: null
        "400":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/400"
        "401":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/401"
        "404":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/404"
        "422":
          $ref: "#/paths/~1v1~110dlc~1throughputs/get/responses/422"
  "/v1/10dlc/brands/{brand_id}/start_verification":
    post:
      parameters:
        - $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1revet/parameters/0"
      tags:
        - OTP
      summary: Triggers an OTP verification for Sole proprietor brand.
      description: Triggers an OTP verification for Sole proprietor brand. OTP message
        is sent to brand's registered mobile phone number.
      operationId: startverification
      requestBody:
        required: false
        description: Optional body to customize the OTP flow.
        content:
          application/json:
            schema:
              type: object
              description: |
                Customized OTP message.
              properties:
                verify_sms:
                  description: |
                    Template OTP message to be sent to the brand's mobilePhone.
                    Must contain either @OTP_PIN@ or @OTP_YES@ macro element.
                    If @OTP_YES@ macro is only with SMS reply confirmation flow.
                  example: Your verification code is @OTP_PIN@
                  type: string
                  pattern: ^(.*)@(OTP_PIN|OTP_YES)@(.*)$
                success_sms:
                  description: >
                    SMS to be sent to the brand's mobile phone upon successful
                    SMS reply OTP confirmation.
                  example: Your verification code has been confirmed successfully
                  type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  brand_id:
                    $ref: "#/components/schemas/ThroughputItem/properties/brand_id"
                  reference_id:
                    $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1verification~1%7Breference_\
                      id%7D/get/parameters/1/schema"
        "400":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/400"
        "401":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/401"
        "404":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/404"
        "422":
          $ref: "#/paths/~1v1~110dlc~1throughputs/get/responses/422"
  "/v1/10dlc/brands/{brand_id}/verify":
    post:
      parameters:
        - $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1revet/parameters/0"
      tags:
        - OTP
      summary: Verify the OTP code sent to brand's registered mobile phone number.
      description: Verify an OTP code sent to brand's registered mobile phone number.
      operationId: verify
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - otp_pin
              properties:
                otp_pin:
                  description: Code received by the brand's registered mobile phone number after
                    starting the OTP verification process.
                  type: string
                  minLength: 6
                  maxLength: 6
      responses:
        "204":
          description: No Content
        "400":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/400"
        "401":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/401"
        "403":
          $ref: "#/paths/~1v1~110dlc~1account/patch/responses/403"
        "404":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/404"
        "422":
          $ref: "#/paths/~1v1~110dlc~1throughputs/get/responses/422"
  "/v1/10dlc/brands/{brand_id}/verification/{reference_id}":
    get:
      parameters:
        - $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1revet/parameters/0"
        - in: path
          name: reference_id
          description: SMS OTP reference ID is an alphanumeric identifier (with 'OTP'
            prefix).
          required: true
          schema:
            description: Reference ID for tracking the status of the OTP request.
            type: string
            example: OTP1234567
      tags:
        - OTP
      summary: Retrieves SMS OTP status by referenceId.
      description: API endpoint provides two key pieces of information; OTP verify
        status and SMS delivery status of the OTP message.
      operationId: getOTPStatus
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  brand_id:
                    $ref: "#/components/schemas/ThroughputItem/properties/brand_id"
                  reference_id:
                    $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1verification~1%7Breference_\
                      id%7D/get/parameters/1/schema"
                  mobile_phone:
                    $ref: "#/components/schemas/Reseller/properties/phone"
                  request_date:
                    description: SMS OTP initial requested timestamp.
                    type: string
                    format: date-time
                  verity_date:
                    description: OTP verification complete timestamp.
                    type: string
                    format: date-time
                  delivery_status:
                    description: The most recent SMS delivery status as provided by an SMS service
                      provider, if supported by the SMS service provider. The
                      delivery status information is not guaranteed to be timely
                      or consistent with OTP verify status. This information
                      should only be used to facilitate triaging SMS
                      derivability issue.
                    type: string
                    enum:
                      - DELIVERED_HANDSET
                      - DELIVERED_GATEWAY
                      - FAILED_ROUTING
                      - FAILED_BLOCKED
                      - FAILED_EXPIRED
                      - FAILED_UNKNOWN
                      - UNKNOWN_STATUS
                      - IN_TRANSIT
                  delivery_status_date:
                    description: Timestamp corresponding to the updated SMS OTP delivery status.
                      This field is `null` if delivery_status is `null`.
                    type: string
                    format: date-time
                  delivery_status_details:
                    description: OTP SMS delivery status details provided by the OTP SMS service
                      provider, if supported by the SMS service provider.
                    type: string
                    maxLength: 1024
                    format: date-time
        "400":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/400"
        "401":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/401"
        "403":
          $ref: "#/paths/~1v1~110dlc~1account/patch/responses/403"
        "404":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/404"
        "422":
          $ref: "#/paths/~1v1~110dlc~1throughputs/get/responses/422"
  "/v1/10dlc/brands/{brand_id}/vetting/requests":
    parameters:
      - $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1revet/parameters/0"
    get:
      tags:
        - Brand vettings
      summary: Retrieve a list of vetting records for a brand
      description: Retrieve a list of vetting records for a brand
      operationId: getVettingRequests
      responses:
        "200":
          description: Returns a list of vetting requests
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/VettingRequest"
        "400":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/400"
        "401":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/401"
        "404":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/404"
        "422":
          $ref: "#/components/responses/ErrorVettingParameters"
    post:
      tags:
        - Brand vettings
      summary: Request vetting for a brand
      description: >
        This operation requests the specific vetting provider to perform

        vetting on a brand. This authorizes Vonage to allow the vetting

        partner access to the particular brand information stored in The Campaign Registry (TCR). This request

        can take anywhere from a few minutes to 48 hours.
      operationId: requestVetting
      requestBody:
        $ref: "#/components/requestBodies/VettingRequest"
      responses:
        "200":
          $ref: "#/components/responses/VettingRequest"
        "422":
          $ref: "#/components/responses/ErrorVettingParameters"
        "429":
          $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1vetting~1requests/put/respo\
            nses/429"
    put:
      tags:
        - Brand vettings
      summary: Import an existing vetting request to Vonage
      description: >
        Vetting requests can either be automated or manual. In the case that a

        vetting request has been manually performed or was requested outside of

        Vonage, you can request that the request be imported. The vetting

        request will be validated and, if successful, saved with the brand in TCR and the vetting record will be considered for future campaign qualification. This

        validation process is not immediate.
      operationId: importVettingRequest
      requestBody:
        $ref: "#/components/requestBodies/ExistingVettingRequest"
      responses:
        "200":
          $ref: "#/components/responses/VettingRequest"
        "409":
          $ref: "#/components/responses/ErrorVettingConflict"
        "422":
          $ref: "#/components/responses/ErrorVettingParameters"
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                properties:
                  type:
                    type: string
                    example: https://developer.vonage.com/api-errors#throttled
                  title:
                    type: string
                    example: Too many requests
                  detail:
                    type: string
                    example: Your account has reached it's API limit and has been throttled
                  instance:
                    $ref: "#/components/schemas/ErrorCouldNotRemoveNumber/allOf/0/properties/instan\
                      ce"
                  retry_after:
                    description: Time in seconds the client should wait before sending a new request
                    type: integer
                    example: 30
  "/v1/10dlc/brands/{brand_id}/vetting/requests/{vetting_id}/appeal":
    parameters:
      - $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1revet/parameters/0"
      - in: path
        name: vetting_id
        description: Vetting ID
        required: true
        schema:
          type: string
    post:
      tags:
        - Brand vettings
      summary: Request vetting appeal for a brand
      description: |
        This sends an appeal for the selected vetting.
      operationId: postBrandVettingAppeal
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - categories
                - evidence_ids
                - explanation
              properties:
                categories:
                  $ref: "#/components/schemas/VettingAppealCategories"
                evidence_ids:
                  type: array
                  items:
                    type: string
                  minItems: 0
                  maxItems: 10
                  description: |
                    An array referencing previously uploaded evidence files IDs.
                explanation:
                  type: string
                  maxLength: 1024
                  description: Explanation of why the appeal should be granted.
              example:
                categories:
                  - LOW_SCORE
                evidence_ids:
                  - OWUwZTA5MmUtOGNjYS00ZGI0LWFkNWUtZTg4MmUwNzhjMDUy
                  - ZDk4NzhiMzktY2IwZC00ZTg1LTg0OTEtZWI3ZmI0ZmM3NDM5
                explanation: We think the low score is not warranted because ...
      responses:
        "204":
          description: No Content
        "401":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/401"
        "404":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/404"
        "422":
          $ref: "#/components/responses/ErrorVettingParameters"
  "/v1/10dlc/brands/{brand_id}/revet":
    parameters:
      - name: brand_id
        in: path
        description: TCR Brand ID
        required: true
        schema:
          $ref: "#/components/schemas/ThroughputItem/properties/brand_id"
    post:
      tags:
        - Brand vettings
      summary: Request a brand revetting
      description: >
        This operation allows you to revet the brand; however, revetting is

        allowed once after the successful brand registration. Search for campaigns you registered by any combination of `brand_id`, `reseller_id`, `status`, `usecase`, and `vertical`. This operation supports pagination with a maximum of 500 records per fetch. Values for `brand_id`, `reseller_id`, `status`, `usecase`, and `vertical` must be exact matches if supplied.
      operationId: brandRevet
      responses:
        "200":
          description: Return a single brand
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      account_id:
                        $ref: "#/components/schemas/VettingRequest/properties/account_id"
                      primary_account_id:
                        $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1campaigns/post/responses/20\
                          1/content/application~1json/schema/properties/primary\
                          _account_id"
                      entity_type:
                        $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D/patch/requestBody/content/ap\
                          plication~1json/schema/properties/entity_type"
                      first_name:
                        $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D/patch/requestBody/content/ap\
                          plication~1json/schema/properties/first_name"
                      last_name:
                        $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D/patch/requestBody/content/ap\
                          plication~1json/schema/properties/last_name"
                      display_name:
                        $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D/patch/requestBody/content/ap\
                          plication~1json/schema/properties/display_name"
                      company_name:
                        $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D/patch/requestBody/content/ap\
                          plication~1json/schema/properties/company_name"
                      ein:
                        $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D/patch/requestBody/content/ap\
                          plication~1json/schema/properties/ein"
                      ein_issuing_country:
                        $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D/patch/requestBody/content/ap\
                          plication~1json/schema/properties/ein_issuing_country"
                      universal_ein:
                        type: string
                        pattern: ^([0-9]{2}[-]?[0-9]{7})$|^([0-9]{3}[-]?[0-9]{2}[-]?[0-9]{4})$
                        maxLength: 50
                        description: Universal EIN of Brand, Read-Only
                        example:
                          $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1revet/post/responses/200/co\
                            ntent/application~1json/examples/vonage/value/unive\
                            rsal_ein"
                      alt_business_id_type:
                        type: string
                        maxLength: 50
                        description: Required if alt_business_id is provided.
                        enum:
                          - DUNS
                          - GIIN
                          - LEI
                        example:
                          $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1revet/post/responses/200/co\
                            ntent/application~1json/examples/vonage/value/alt_b\
                            usiness_id_type"
                      alt_business_id:
                        type: string
                        maxLength: 50
                        description: Required if alt_business_id_type is provided.
                        example:
                          $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1revet/post/responses/200/co\
                            ntent/application~1json/examples/vonage/value/alt_b\
                            usiness_id"
                      phone:
                        $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D/patch/requestBody/content/ap\
                          plication~1json/schema/properties/phone"
                      mobile_phone:
                        $ref: "#/components/schemas/Reseller/properties/phone"
                      street:
                        $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D/patch/requestBody/content/ap\
                          plication~1json/schema/properties/street"
                      city:
                        $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D/patch/requestBody/content/ap\
                          plication~1json/schema/properties/city"
                      state:
                        $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D/patch/requestBody/content/ap\
                          plication~1json/schema/properties/state"
                      postal_code:
                        $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D/patch/requestBody/content/ap\
                          plication~1json/schema/properties/postal_code"
                      country:
                        $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D/patch/requestBody/content/ap\
                          plication~1json/schema/properties/country"
                      email:
                        $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D/patch/requestBody/content/ap\
                          plication~1json/schema/properties/email"
                      stock_symbol:
                        $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D/patch/requestBody/content/ap\
                          plication~1json/schema/properties/stock_symbol"
                      stock_exchange:
                        $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D/patch/requestBody/content/ap\
                          plication~1json/schema/properties/stock_exchange"
                      website:
                        $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D/patch/requestBody/content/ap\
                          plication~1json/schema/properties/website"
                      vertical:
                        $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D/patch/requestBody/content/ap\
                          plication~1json/schema/properties/vertical"
                  - description: Fields that are added to a brand by the system
                    type: object
                    properties:
                      brand_id:
                        $ref: "#/components/schemas/ThroughputItem/properties/brand_id"
                      campaign_count:
                        type: integer
                        description: Number of campaigns associated with the brand
                        example: 5
                      carrier_suspensions:
                        type: array
                        items:
                          $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1campaigns/post/responses/20\
                            1/content/application~1json/schema/properties/carri\
                            er_brand_suspensions/items"
                      brand_relationship:
                        description: Brand relationship level.
                        type: string
                        example: BASIC_ACCOUNT
                        enum:
                          - BASIC_ACCOUNT
                          - SMALL_ACCOUNT
                          - MEDIUM_ACCOUNT
                          - LARGE_ACCOUNT
                          - KEY_ACCOUNT
                      partner:
                        description: Flag indicating the brand is related to a partner customer (brand &
                          campaigns registered directly on TCR and shared with
                          Vonage)
                        type: boolean
                      shared:
                        description: True when the brand is shared with the current Account ID.
                        type: boolean
                      owner:
                        description: True when the brand is owned by the requesting account.
                        type: boolean
                      status:
                        description: Brand status.
                        type: string
                      reference_id:
                        description: Unique identifier for preventing duplicate brand registration into
                          TCR.
                        type: string
                      verified_date:
                        description: Date-time when brand mobile phone was verified.
                        type: string
                        format: date-time
                      created_date:
                        type: string
                        pattern: ^\d{4}-[01]\d-[0-3]\d [0-2]\d:[0-5]\d:[0-5]\d$
                        example:
                          $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1revet/post/responses/200/co\
                            ntent/application~1json/examples/vonage/value/creat\
                            ed_date"
                      last_updated:
                        type: string
                        pattern: ^\d{4}-[01]\d-[0-3]\d [0-2]\d:[0-5]\d:[0-5]\d$
                        example:
                          $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1revet/post/responses/200/co\
                            ntent/application~1json/examples/vonage/value/last_\
                            updated"
                  - type: object
                    properties:
                      _links:
                        type: object
                        properties:
                          self:
                            type: object
                            properties:
                              href:
                                type: string
                                example: https://api.nexmo.com/10dlc/brands/BLQKOPK
                          campaigns:
                            type: object
                            properties:
                              href:
                                type: string
                                example: https://api.nexmo.com/10dlc/brands/BLQKOPK/campaigns
              examples:
                vonage:
                  value:
                    brand_id: BLQKOPK
                    account_id: abcd1234
                    primary_account_id: abcd1234
                    entity_type: PUBLIC_PROFIT
                    first_name: John
                    last_name: Smith
                    display_name: Vonage
                    company_name: Vonage
                    ein: 20-1111111
                    ein_issuing_country: US
                    universal_ein: 20-1111111
                    alt_business_id_type: DUNS
                    alt_business_id: "150483782"
                    phone: "15556660001"
                    mobile_phone: "123123222334"
                    street: 23 Main Street
                    city: Holmdel
                    state: NJ
                    postal_code: "07733"
                    country: US
                    email: devrel@vonage.com
                    stock_symbol: VG
                    stock_exchange: NASDAQ
                    website: https://vonage.com
                    vertical: TECHNOLOGY
                    brand_relationship: BASIC_ACCOUNT
                    identity_status: PENDING
                    partner: true
                    shared: true
                    owner: true
                    tcr_status: ACTIVE
                    status: ACTIVE
                    campaign_count: 0
                    carrier_suspensions:
                      - {}
                    reseller: true,
                    created_date: 2019-08-24 14:15:22
                    verified_date: 2019-09-24 14:15:22
                    last_updated: 2019-09-24 14:15:22
                    optional_attributes: {}
                    _links:
                      self:
                        href: https://api.nexmo.com/v1/10dlc/brands/BLQKOPK
                      campaigns:
                        href: https://api.nexmo.com/v1/10dlc/brands/BLQKOPK/campaigns
        "401":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/401"
        "404":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/404"
        "422":
          $ref: "#/paths/~1v1~110dlc~1throughputs/get/responses/422"
  "/v1/10dlc/brands/{brand_id}/appeal/evidence":
    parameters:
      - in: query
        name: page
        description: Page of results to jump to
        required: false
        schema:
          description: Page Offset
          example: 2
          type: integer
          minimum: 1
      - in: query
        name: page_size
        description: Number of results per page
        required: false
        schema:
          description: Items per page
          example: 10
          type: integer
          minimum: 0
      - description: >
          Narrow down results based on matching conditions.

          Follow the [comprehensive guide](https://developer.vonage.com/messages/10-dlc/filter) to learn how to craft filter queries.
        in: query
        name: filter
        required: false
        schema:
          type: array
          title: Filter
          description: >
            This is a double array representing filters combined with AND and OR
            operators.

            The first level is combined with an AND operator and the second one with an OR.


            **Note**: the total number of rules should not exceed 3.


            Example:

              The filter

              [[{"field":"name","type":"==","value":"doe"},{"field":"age","type":"<=","value":42}],[{"field":"address.country","type":"regexp","value":"^EN$|^FR$"}]]

              is URL-encoded as a query parameter:

              filter=%5B%5B%7B%22field%22%3A%22name%22%2C%22type%22%3A%22%3D%3D%22%2C%22value%22%3A%22doe%22%7D%2C%7B%22field%22%3A%22age%22%2C%22type%22%3A%22%3C%3D%22%2C%22value%22%3A42%7D%5D%2C%5B%7B%22field%22%3A%22address.country%22%2C%22type%22%3A%22regexp%22%2C%22value%22%3A%22%5EEN%24%7C%5EFR%24%22%7D%5D%5D

              the equivalent logic is:

              ((name==doe OR age<=42) AND (address.country match "EN" or "FR"))
          minItems: 1
          maxItems: 3
          items:
            type: array
            minItems: 1
            maxItems: 3
            items:
              type: object
              title: Rule
              description: Represents a single rule that can be combined into a filter.
              required:
                - field
                - type
                - value
              properties:
                field:
                  type: string
                  title: Field selector
                  description: >
                    The path used to to get the field of an input item to
                    evaluate against.

                    It can target a nested field, in which case it's dot-separated.
                  example: address.country
                type:
                  type: string
                  title: Type
                  description: The type of the rule
                  example: ==
                  enum:
                    - regexp
                    - "!="
                    - "!=$"
                    - "!=="
                    - "!^="
                    - "!~="
                    - <
                    - <=
                    - =
                    - =$
                    - ==
                    - ">"
                    - ">="
                    - ^=
                    - ~=
                value:
                  title: The value to evaluate against
                  example: NGO
                  oneOf:
                    - type: string
                    - type: number
                    - type: boolean
                    - type: integer
        examples:
          simple:
            description: Simple "age == 42" rule
            value:
              - - field: age
                  type: ==
                  value: 42
          combination:
            description: |
              Combination of AND or OR rules.
              ((name==doe OR age<=42) AND (address.country match "EN" or "FR"))
            value:
              - - field: name
                  type: ==
                  value: doe
                - field: age
                  type: <=
                  value: 42
              - - field: address.country
                  type: regexp
                  value: ^EN$|^FR$
      - $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1revet/parameters/0"
    get:
      tags:
        - Brand vettings
      summary: List vetting appeal evidence files
      description: |
        List files that can be used for vetting appeals.
      operationId: brandListAppealEvidence
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/200/content/application~1js\
                      on/schema/allOf/0"
                  - type: object
                    properties:
                      _embedded:
                        type: object
                        properties:
                          evidences:
                            type: array
                            items:
                              $ref: "#/components/schemas/AttachmentInfo"
        "401":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/401"
        "404":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/404"
    post:
      tags:
        - Brand vettings
      summary: Upload evidence for a vetting appeal
      description: >
        This operation allows you to import evidence files to be used to appeal
        an existing vetting.

        Multiple files can be uploaded in once to a maximum of 100MB per HTTP request.

        We expect the filename to be populated in the Content-Disposition header and

        the Content-Type to be set in each subpart.
      operationId: brandUploadAppealEvidence
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - file
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttachmentInfo"
        "401":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/401"
        "404":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/404"
        "422":
          $ref: "#/paths/~1v1~110dlc~1throughputs/get/responses/422"
  "/v1/10dlc/brands/{brand_id}/appeal/evidence/{evidence_id}":
    parameters:
      - $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1revet/parameters/0"
      - in: path
        name: evidence_id
        description: The ID of the evidence to download
        required: true
        schema:
          type: string
    get:
      tags:
        - Brand vettings
      summary: Download appeal evidence file
      description: >
        This operation allows you to download an evidence file.

        The Content-Type header might vary and will reflect the Mime-Type of the file.

        The Content-Disposition header will hold the filename.
      operationId: brandDownloadAppealEvidence
      responses:
        "200":
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "401":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/401"
        "404":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/404"
    delete:
      tags:
        - Brand vettings
      summary: Delete appeal evidence file
      operationId: deleteAppealEvidence
      description: |
        This operation allows you to delete an evidence file.
      responses:
        "204":
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "401":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/401"
        "404":
          $ref: "#/paths/~1v1~110dlc~1resellers/get/responses/404"
  "/v1/10dlc/brands/{brand_id}/campaigns":
    get:
      parameters:
        - $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1revet/parameters/0"
        - $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1appeal~1evidence/parameters\
            /0"
        - $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1appeal~1evidence/parameters\
            /1"
        - $ref: "#/paths/~1v1~110dlc~1brands~1%7Bbrand_id%7D~1appeal~1evidence/parameters\
            /2"
        - in: query
          name: status
          description: >
            You can choose one or multiple statuses i.e: ACTIVE or CANCELED. If
            no status is given, then no filter would be applied and any campaign
            would be returned.
          required: false
          schema:
            description: >
              Campaign Status.

               * `PENDING_REVIEW`: This is the initial status of a campaign. This implies that the campaign has been submitted for an internal review and cannot be used yet.
               * `UPDATES_REQUIRED`: The campaign has been reviewed but requires changes before it can be approved.
               * `CARRIERS_REVIEW`: The campaign has been approved by our internal process. It has been created in the registry and but pending approval from third parties i.e: mobile carrier.
               * `ACTIVE`: The campaign has been approved by every party and traffic can now be sent.
               * `PENDING_CANCELLATION`: The campaign is active but will not be renewed. It will be canceled at the next renewal date.
               * `SUSPENDED`: The campaign has been suspended, along with any traffic it's used to send. This can happen if suspicious traffic has been detected (e.g.: spam) or after an MNO complaint. This triggers an internal review process which can lead to the un-suspension or termination of the campaign.
               * `TERMINATED`: The campaign has been terminated. A campaign cannot be recovered after it's been terminated.
               * `EXPIRED`: The campaign has expired.
               * `REJECTED`: This implies the campaign was rejected by the compliance team as it is not compliant with 10DLC requirements. Further reasons can be found in the description of the rejection event received from TCR. You may update the campaign using TCR’s API or dashboard, and re-share the campaign with Vonage for a new review.
               * `CNP_CANCELED`: The campaign has been canceled during a CNP migration. You are required to restart a CNP migration.
               * `PORTED_OUT`: The campaign has been ported out from Vonage. You are required to start a CNP migration.
            type: string
            example: ACTIVE
            enum:
              - PENDING_REVIEW
[...]
