openapi: 3.0.3
info:
  title: Conversations APIs
  description: |-
    
    Conversation API is culmination of "crm" and "livechat" permission. Any message passed via customer, bot or Agent would be consisted within a Conversation. While different amount of User data gets changed, Conversation would remain the same.

    Conversation would contain data like Unique conversationid at channel level, Unique pageid of channel level, customer data coming out of channels or saved via agent or flow.

    Jumper provides App an ability to setup notification url for livechat, This implies that a event would be sent once any kind of message coming to any channel connected to merchant account.
  version: 1.0.0
  contact: {}
servers:
- url: https://api.jumper.ai

paths:
  /chat/get-social-channels:
    get:
      tags:
      - Conversations API
      summary: Fetch connected social channels
      description: Fetch connected social channels of the merchant.
      operationId: fetchSocialChannels
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
            format: Bearer <token>
            example: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJXNjdvZVpPVTBUU004QlFBaFZzeXBvRzdOcXRaIiwiYXVkIjoiUVdGNEt3MXFkR3NLcXhaV1AzR3o5akhaMTVXS0dmY29vR1B5Q3N6dzd1bEVjemNaIiwiaXNzIjoidXJuOlwvXC9hcGlnZWUtZWRnZS1KV1QtcG9saWN5LXRlc3QiLCJtZXJjaGFudF9pZCI6IjQ3NjY4ODEzNzgyMDU2OTYiLCJleHAiOjE2ODU1Mjc5ODMsImlhdCI6MTY3Nzc1MTk4MywianRpIjoiZWQ1YzljOGItZTRmOC00MGQ5LTkxNGQtZmM3Yzg4NGFlMDBiIn0.PJOMZKvFxcFBKFlhHP5UQT3KnOKjbwHCX7E84-tvZI1eEo2bENidua7VZLPTvQlRAHHHyL497cB36zmTTbr1jwl0J_UzLq9x_1_1_cAsUAH5BxB1d8YE_5Veui5SUCMj_2cvi4uVhROgA_b8UEXB7r2fdghcw2saXGNG3Srn0xnHHCDxwoxzG2tI670f7S7E8XiT1f_MUWm3CJsHDtRFi0Fef9zzjuWr4HXlzk7FtZQhHzvnr_AtqkP20ImfhjhjO52TQMdO3AQV5lzKi-K5AAODP5Lc0tt0BySRAk4qVS2qR7cEZGNW240t_Ok-rWSagSghsQs9TNZr_mCi_e7zhw","refresh_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiI3Z3M1QTBVdkl0V1ZBRXdaRzFId09wUGNyb1BZMzRBZyIsImF1ZCI6IlFXRjRLdzFxZEdzS3F4WldQM0d6OWpIWjE1V0tHZmNvb0dQeUNzenc3dWxFY3pjWiIsImlzcyI6InVybjpcL1wvYXBpZ2VlLWVkZ2UtSldULXBvbGljeS10ZXN0IiwibWVyY2hhbnRfaWQiOiI0NzY2ODgxMzc4MjA1Njk2IiwiZXhwIjoxNjg1NTI3OTgzLCJpYXQiOjE2Nzc3NTE5ODMsImp0aSI6Ijg0NjcwZjU0LWMwYzAtNDVjNi05Nzg4LWNlYjQxNGE5NzRjZiJ9.h8bwm-ny2cMl5Xzkh0QhaWr_oSUMTpKFrDPAesCBtN4uEnQSGxB6bqVOWebgbNxwYaPAIC79RZitaQ0NxCfNffPBm1nZr4dPchl_JTJOx13EDWdx8iZeG4_CBSYnsBCQ7L934pgmupV5qx4pkL3trU2fr3Z-wQHBo01e8vPaSMlCbso94NarXZMsBY_9Z5ALMimYRk0H7yiJ0XQk2JM6W6gbiQ67F3m5UImsYb_rge8IhLlCsgdTyWSw6lpkqs31pFv1N8tKdGN-XdOlrPwYl3d7-els04wg3XZPsASufnoP-hooTELPNdl-FUFHX7plBl5Uvng85y1XzHzIO9IWqA
      responses:
        '200':
          description: Fetch connected social channels of the merchant.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                          example: imagetest
                          description: "Custom property name associated with conversations."
                        id:
                          type: number
                          example: 4579330569011200
                          description: "Unique identifier associated with the custom property of the conversation."
                        value:
                          type: string
                          example: '3'
                          description: "Custom property value."
                      example:
                      - field: imagetest
                        id: 4579330569011200
                        value: '3'
                    example:
                      - field: mine
                        id: 4645025717682176
                        value: 'true'
                      - field: date of birth
                        id: 6664171078811648
                        value: test8@test.com
                      - field: prodnewtest4
                        id: 6665857625227264
                        value: '2'
                  errorMessage:
                    type: string
                    example: ''
                    description: "User readable error message giving information about error."
                  success:
                    type: boolean
                    example: true
                    description: "Flag indicating whether the API executed successfully or not."
                example:
                  Fetch Social Channels for the merchant:
                    value:
                      instagram:
                        - instagram_name: Jumper.ai
                          pageid: '123456789'
                          name: ccommerce.demo
                          profile_picture_url: https://scontent-ord5-1.xx.fbcdn.net/v/t51.2885-15/241695183_2961721824069447_4508010935200168082_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=86c713&_nc_ohc=waxqlaUesO0AX9Bqbt1&_nc_ht=scontent-ord5-1.xx&edm=AL-3X8kEAAAA&oh=00_AfByOIUgcAa2eoIN_XenybdsgKM0mulSacSpdYtpaIhRPQ&oe=645E39A5
                          active: true
                          id: 12345678909876
                      pinterest: [ ]
                      telegram:
                        - webhook: https://jumper.ai/telegram/incoming/12345678909876
                          botid: 6032250088
                          id: 12345678909876
                          botusername: Jump2TestingBot
                          active: true
                          botname: Jump2TestingBot
                      twitter:
                        - direct_message: true
                          twitterName: CommerceDemo
                          twitterSecret: JiVwCFJFRvCW4fj4iUiCzlGYNtmowme
                          twitterId: 98765432135789
                          twitterKey: 13579864201-kxEywlmJdfhELzLbJlzqW3homPYyAm
                          id: 892928772822
                      sms:
                        - countrycode: "+1"
                          webhook: https://jumper.ai/sms/incoming/172826356278133
                          account_name: Retail Demo Test
                          mobile_number: '2013402235'
                          active: true
                          api_key: ab2ab254
                          id: 172826356278133
                      youtube: [ ]
                      imessage:
                        - pageid: 842dde39-319a-7u78-bbf6-d5a9b8fd0365
                          name: Jumper.ai
                          businessid: 842dde39-262j-4e84-bbf6-d5a9b8fd0365
                          influencer_page:
                          active: true
                          logo: https://register.apple.com/business/api/logos/842dde39-319a-4e84-bbf6-d5a9b8fd0365/X3VPbXJoTFhXRWh4YzRZU1ZYTEZCUT09
                          id: 4772826383908864
                      viber:
                        pages: [ ]
                      facebook:
                        - fbusername: Chirag Kotak
                          fbuid: '10106868548500629'
                          pages:
                            - name: Retail Demo Beauty
                              influencer_page:
                              messenger: '105042108033679'
                              active: true
                              link: www.facebook.com/105042108033679
                              id: 5057445007327232
                              botletter: false
                      adlingo: [ ]
                      twilio: [ ]
                      line:
                        pages:
                          - channelaccesstoken: JT6rp2+/IbLyo98T1s83wLjI1+w58HkrZpvaTW2EhN3X5Svgw09CS2TSaqhPnkCD2o5IqcWl28tiBRq4P8zSKYYq+ZSU/XvK0K8pIjw96wuHNWQZvEn0rx+wSlxLE1BdjpledlC2xRTduZiIl4ibRwdB04t89/1O/w1cDnyilFU=
                            active: true
                            channelname: 687uespx
                            webhookurl: https://jumper.ai/linewebhook/QM1qvllxY
                            linechannelid: '1656277602'
                      googlebusinessmsg:
                        - bot_image: https://jumperdevnew.appspot.com/landing/resources/images/jumper-logo-256x256.png
                          active: true
                          agentid: '084aeb4b-d8b0-40bd-b389-17b55f112158'
                          id: 5082392160370688
                          bot_name: Jumper test
                      whatsapp:
                        cloudapi: true
                        enablepayment: true
                        webhookurl: https://jumper.ai/whatsapp/incoming/5395075167682560
                        business_id: '1310418019121706'
                        current_tier:
                        linknumber: '6565746847'
                        country_code: "+65"
                        mobile_number: '65746847'
                        active: true
                        loadbalancehost: abcd
                        use3rdparty: false
                        name: Jumper.ai
                        id: 5395075167682560
                        webappurl: http://34.70.183.176:9090
                      errorMessage: ''
                      success: true
  /chat/add-custom-field:
    post:
      tags:
      - Conversations API
      summary: Add Custom Fields to a Conversation
      description: Custom fields are data structures that function like dictionaries, allowing users to store and retrieve key-value pairs of information associated with a particular conversation. Unlike single string tags, which likely serve as simple labels or identifiers for conversations, custom fields offer a more flexible and versatile way to store additional information in a structured manner. By using custom fields, users can associate specific data with a conversation, making it easier to organize and access relevant information when needed.
      operationId: addCustomFieldsToConversation
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
            format: Bearer <token>
            example: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJXNjdvZVpPVTBUU004QlFBaFZzeXBvRzdOcXRaIiwiYXVkIjoiUVdGNEt3MXFkR3NLcXhaV1AzR3o5akhaMTVXS0dmY29vR1B5Q3N6dzd1bEVjemNaIiwiaXNzIjoidXJuOlwvXC9hcGlnZWUtZWRnZS1KV1QtcG9saWN5LXRlc3QiLCJtZXJjaGFudF9pZCI6IjQ3NjY4ODEzNzgyMDU2OTYiLCJleHAiOjE2ODU1Mjc5ODMsImlhdCI6MTY3Nzc1MTk4MywianRpIjoiZWQ1YzljOGItZTRmOC00MGQ5LTkxNGQtZmM3Yzg4NGFlMDBiIn0.PJOMZKvFxcFBKFlhHP5UQT3KnOKjbwHCX7E84-tvZI1eEo2bENidua7VZLPTvQlRAHHHyL497cB36zmTTbr1jwl0J_UzLq9x_1_1_cAsUAH5BxB1d8YE_5Veui5SUCMj_2cvi4uVhROgA_b8UEXB7r2fdghcw2saXGNG3Srn0xnHHCDxwoxzG2tI670f7S7E8XiT1f_MUWm3CJsHDtRFi0Fef9zzjuWr4HXlzk7FtZQhHzvnr_AtqkP20ImfhjhjO52TQMdO3AQV5lzKi-K5AAODP5Lc0tt0BySRAk4qVS2qR7cEZGNW240t_Ok-rWSagSghsQs9TNZr_mCi_e7zhw","refresh_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiI3Z3M1QTBVdkl0V1ZBRXdaRzFId09wUGNyb1BZMzRBZyIsImF1ZCI6IlFXRjRLdzFxZEdzS3F4WldQM0d6OWpIWjE1V0tHZmNvb0dQeUNzenc3dWxFY3pjWiIsImlzcyI6InVybjpcL1wvYXBpZ2VlLWVkZ2UtSldULXBvbGljeS10ZXN0IiwibWVyY2hhbnRfaWQiOiI0NzY2ODgxMzc4MjA1Njk2IiwiZXhwIjoxNjg1NTI3OTgzLCJpYXQiOjE2Nzc3NTE5ODMsImp0aSI6Ijg0NjcwZjU0LWMwYzAtNDVjNi05Nzg4LWNlYjQxNGE5NzRjZiJ9.h8bwm-ny2cMl5Xzkh0QhaWr_oSUMTpKFrDPAesCBtN4uEnQSGxB6bqVOWebgbNxwYaPAIC79RZitaQ0NxCfNffPBm1nZr4dPchl_JTJOx13EDWdx8iZeG4_CBSYnsBCQ7L934pgmupV5qx4pkL3trU2fr3Z-wQHBo01e8vPaSMlCbso94NarXZMsBY_9Z5ALMimYRk0H7yiJ0XQk2JM6W6gbiQ67F3m5UImsYb_rge8IhLlCsgdTyWSw6lpkqs31pFv1N8tKdGN-XdOlrPwYl3d7-els04wg3XZPsASufnoP-hooTELPNdl-FUFHX7plBl5Uvng85y1XzHzIO9IWqA
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                conversationid:
                  type: string
                  example: ag5wfmp1bXBlcmRldm5ld3IZCxIMQ29udmVyc2F0aW9uGICAgJ-NreoKDA
                  description: "URL-safe conversation unique identifier used to fetch details of specific conversation."
                custom_fields:
                  type: string
                  example: '[{"field":"mine","value":"true"}]'
                  description: "Custom data to be associated with the conversation, field is the name of property and value represents the value to be associated to the specified property."
              example:
                conversationid: ag5wfmp1bXBlcmRldm5ld3IZCxIMQ29udmVyc2F0aW9uGICAgJ-NreoKDA
                custom_fields: '[{"field":"mine","value":"true"}]'
      responses:
        '200':
          description: Add Custom Fields to a Conversation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                          example: testfield3
                          description: "Custom property name to be associated with conversation."
                        id:
                          type: number
                          example: 6665252571709440
                          description: "Unique identifier associated with the custom property associated with conversation."
                      example:
                      - field: testfield3
                        id: 6665252571709440
                    example:
                      value:
                        field: testfield3
                        id: 6665252571709440
                  errorMessage:
                    type: string
                    example: ""
                    description: "user readable error message giving information about error."
                  message:
                    type: string
                    example: ""
                  success:
                    type: boolean
                    example: true
                    description: "flag indicating whether the API executed successfully or not."
                example:
                  data:
                  - field: testfield3
                    id: 6665252571709440
                  - field: testfield4
                    id: 6133379256811520
                  errorMessage: {}
                  message: {}
                  success: true
  /chat/add-tag:
    post:
      tags:
      - Conversations API
      summary: Add Tags to a Conversation
      description: Adds a new Tag to customer conversation, basically making the conversation or the User, This would prove useful while catgeorizing the conversations.
      operationId: addTagToConversation
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
            format: Bearer <token>
            example: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJXNjdvZVpPVTBUU004QlFBaFZzeXBvRzdOcXRaIiwiYXVkIjoiUVdGNEt3MXFkR3NLcXhaV1AzR3o5akhaMTVXS0dmY29vR1B5Q3N6dzd1bEVjemNaIiwiaXNzIjoidXJuOlwvXC9hcGlnZWUtZWRnZS1KV1QtcG9saWN5LXRlc3QiLCJtZXJjaGFudF9pZCI6IjQ3NjY4ODEzNzgyMDU2OTYiLCJleHAiOjE2ODU1Mjc5ODMsImlhdCI6MTY3Nzc1MTk4MywianRpIjoiZWQ1YzljOGItZTRmOC00MGQ5LTkxNGQtZmM3Yzg4NGFlMDBiIn0.PJOMZKvFxcFBKFlhHP5UQT3KnOKjbwHCX7E84-tvZI1eEo2bENidua7VZLPTvQlRAHHHyL497cB36zmTTbr1jwl0J_UzLq9x_1_1_cAsUAH5BxB1d8YE_5Veui5SUCMj_2cvi4uVhROgA_b8UEXB7r2fdghcw2saXGNG3Srn0xnHHCDxwoxzG2tI670f7S7E8XiT1f_MUWm3CJsHDtRFi0Fef9zzjuWr4HXlzk7FtZQhHzvnr_AtqkP20ImfhjhjO52TQMdO3AQV5lzKi-K5AAODP5Lc0tt0BySRAk4qVS2qR7cEZGNW240t_Ok-rWSagSghsQs9TNZr_mCi_e7zhw","refresh_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiI3Z3M1QTBVdkl0V1ZBRXdaRzFId09wUGNyb1BZMzRBZyIsImF1ZCI6IlFXRjRLdzFxZEdzS3F4WldQM0d6OWpIWjE1V0tHZmNvb0dQeUNzenc3dWxFY3pjWiIsImlzcyI6InVybjpcL1wvYXBpZ2VlLWVkZ2UtSldULXBvbGljeS10ZXN0IiwibWVyY2hhbnRfaWQiOiI0NzY2ODgxMzc4MjA1Njk2IiwiZXhwIjoxNjg1NTI3OTgzLCJpYXQiOjE2Nzc3NTE5ODMsImp0aSI6Ijg0NjcwZjU0LWMwYzAtNDVjNi05Nzg4LWNlYjQxNGE5NzRjZiJ9.h8bwm-ny2cMl5Xzkh0QhaWr_oSUMTpKFrDPAesCBtN4uEnQSGxB6bqVOWebgbNxwYaPAIC79RZitaQ0NxCfNffPBm1nZr4dPchl_JTJOx13EDWdx8iZeG4_CBSYnsBCQ7L934pgmupV5qx4pkL3trU2fr3Z-wQHBo01e8vPaSMlCbso94NarXZMsBY_9Z5ALMimYRk0H7yiJ0XQk2JM6W6gbiQ67F3m5UImsYb_rge8IhLlCsgdTyWSw6lpkqs31pFv1N8tKdGN-XdOlrPwYl3d7-els04wg3XZPsASufnoP-hooTELPNdl-FUFHX7plBl5Uvng85y1XzHzIO9IWqA
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                conversationid:
                  type: string
                  example: ag5wfmp1bXBlcmRldm5ld3IZCxIMQ29udmVyc2F0aW9uGICAgJ-NreoKDA
                  description: 'URL-safe conversation unique identifier used to fetch details of specific conversation.'
                tag:
                  type: string
                  example: 'western'
                  description: 'Tag name to be attached to the conversations.'
              example:
                conversationid: ag5wfmp1bXBlcmRldm5ld3IZCxIMQ29udmVyc2F0aW9uGICAgJ-NreoKDA
                tag: 'western'
      responses:
        '200':
          description: Add Tags to a Conversation
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorMessage:
                    type: string
                    example: "errormsgexample1"
                    description: "User readable error message giving information about error."
                  success:
                    type: boolean
                    example: true
                    description: "Flag indicating whether the API executed successfully or not."
                example:
                  errorMessage: "errormsgexample1"
                  success: true
  /chat/fetch-tags:
    get:
      tags:
      - Conversations API
      summary: Fetch Custom Fields of a Conversation
      description: Fetch out all of the custome fields associated with a specific conversation.
      operationId: fetchCustomFieldsToConversation
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
            format: Bearer <token>
            example: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJXNjdvZVpPVTBUU004QlFBaFZzeXBvRzdOcXRaIiwiYXVkIjoiUVdGNEt3MXFkR3NLcXhaV1AzR3o5akhaMTVXS0dmY29vR1B5Q3N6dzd1bEVjemNaIiwiaXNzIjoidXJuOlwvXC9hcGlnZWUtZWRnZS1KV1QtcG9saWN5LXRlc3QiLCJtZXJjaGFudF9pZCI6IjQ3NjY4ODEzNzgyMDU2OTYiLCJleHAiOjE2ODU1Mjc5ODMsImlhdCI6MTY3Nzc1MTk4MywianRpIjoiZWQ1YzljOGItZTRmOC00MGQ5LTkxNGQtZmM3Yzg4NGFlMDBiIn0.PJOMZKvFxcFBKFlhHP5UQT3KnOKjbwHCX7E84-tvZI1eEo2bENidua7VZLPTvQlRAHHHyL497cB36zmTTbr1jwl0J_UzLq9x_1_1_cAsUAH5BxB1d8YE_5Veui5SUCMj_2cvi4uVhROgA_b8UEXB7r2fdghcw2saXGNG3Srn0xnHHCDxwoxzG2tI670f7S7E8XiT1f_MUWm3CJsHDtRFi0Fef9zzjuWr4HXlzk7FtZQhHzvnr_AtqkP20ImfhjhjO52TQMdO3AQV5lzKi-K5AAODP5Lc0tt0BySRAk4qVS2qR7cEZGNW240t_Ok-rWSagSghsQs9TNZr_mCi_e7zhw","refresh_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiI3Z3M1QTBVdkl0V1ZBRXdaRzFId09wUGNyb1BZMzRBZyIsImF1ZCI6IlFXRjRLdzFxZEdzS3F4WldQM0d6OWpIWjE1V0tHZmNvb0dQeUNzenc3dWxFY3pjWiIsImlzcyI6InVybjpcL1wvYXBpZ2VlLWVkZ2UtSldULXBvbGljeS10ZXN0IiwibWVyY2hhbnRfaWQiOiI0NzY2ODgxMzc4MjA1Njk2IiwiZXhwIjoxNjg1NTI3OTgzLCJpYXQiOjE2Nzc3NTE5ODMsImp0aSI6Ijg0NjcwZjU0LWMwYzAtNDVjNi05Nzg4LWNlYjQxNGE5NzRjZiJ9.h8bwm-ny2cMl5Xzkh0QhaWr_oSUMTpKFrDPAesCBtN4uEnQSGxB6bqVOWebgbNxwYaPAIC79RZitaQ0NxCfNffPBm1nZr4dPchl_JTJOx13EDWdx8iZeG4_CBSYnsBCQ7L934pgmupV5qx4pkL3trU2fr3Z-wQHBo01e8vPaSMlCbso94NarXZMsBY_9Z5ALMimYRk0H7yiJ0XQk2JM6W6gbiQ67F3m5UImsYb_rge8IhLlCsgdTyWSw6lpkqs31pFv1N8tKdGN-XdOlrPwYl3d7-els04wg3XZPsASufnoP-hooTELPNdl-FUFHX7plBl5Uvng85y1XzHzIO9IWqA
        - in: query
          name: filter_fields
          schema:
            type: string
            example: tag or customfield
          description: To retrieve all tags associated with a merchant, provide the value "tag" to the filter_fields parameter. Similarly, to fetch custom fields, provide "customfield" value into the filter_fields parameter.
      responses:
        '200':
          description: Fetch the custom fields or tags associated with the conversations.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    anyOf:
                      - type: array
                        items:
                          type: string
                          example: "hello, subscribe"
                          description: tags associated with the conversations.
                        example:
                          - hello, subscribe, whatsapp
                      - type: array
                        items:
                          type: object
                          properties:
                            field:
                              type: string
                              example: imagetest
                              description: "Custom property name associated with conversations."
                            id:
                              type: number
                              example: 4579330569011200
                              description: "Unique identifier associated with the custom property of the conversation."
                            value:
                              type: string
                              example: '3'
                              description: "Custom property value."
                          example:
                            field: imagetest
                            id: 4579330569011200
                            value: '3'
                        example:
                          data:
                            - field: mine
                              id: 4645025717682176
                              value: 'true'
                            - field: date of birth
                              id: 6664171078811648
                              value: test8@test.com
                  errorMessage:
                    type: string
                    example: ''
                    description: "User readable error message giving information about error."
                  success:
                    type: boolean
                    example: true
                    description: "Flag indicating whether the API executed successfully or not."
                example:
                  Fetch Custom Fields to a Conversation:
                    value:
                      data:
                        - field: imagetest
                          id: 4579330569011200
                          value: '3'
                        - field: mine
                          id: 4645025717682176
                          value: 'true'
                        - field: date of birth
                          id: 6664171078811648
                          value: test8@test.com
                        - field: prodnewtest4
                          id: 6665857625227264
                          value: '2'
                      errorMessage: ''
                      success: true
  /chat/add-customer:
    post:
      tags:
        - Conversations API
      summary: Add or Update a customer using mobile number and pageid combination.
      description: Add or Update a customer using mobile number and pageid combination as their primary key. This API can be used to add a new customer into CRM Panel.
      operationId: addCustomer
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
            format: Bearer <token>
            example: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJXNjdvZVpPVTBUU004QlFBaFZzeXBvRzdOcXRaIiwiYXVkIjoiUVdGNEt3MXFkR3NLcXhaV1AzR3o5akhaMTVXS0dmY29vR1B5Q3N6dzd1bEVjemNaIiwiaXNzIjoidXJuOlwvXC9hcGlnZWUtZWRnZS1KV1QtcG9saWN5LXRlc3QiLCJtZXJjaGFudF9pZCI6IjQ3NjY4ODEzNzgyMDU2OTYiLCJleHAiOjE2ODU1Mjc5ODMsImlhdCI6MTY3Nzc1MTk4MywianRpIjoiZWQ1YzljOGItZTRmOC00MGQ5LTkxNGQtZmM3Yzg4NGFlMDBiIn0.PJOMZKvFxcFBKFlhHP5UQT3KnOKjbwHCX7E84-tvZI1eEo2bENidua7VZLPTvQlRAHHHyL497cB36zmTTbr1jwl0J_UzLq9x_1_1_cAsUAH5BxB1d8YE_5Veui5SUCMj_2cvi4uVhROgA_b8UEXB7r2fdghcw2saXGNG3Srn0xnHHCDxwoxzG2tI670f7S7E8XiT1f_MUWm3CJsHDtRFi0Fef9zzjuWr4HXlzk7FtZQhHzvnr_AtqkP20ImfhjhjO52TQMdO3AQV5lzKi-K5AAODP5Lc0tt0BySRAk4qVS2qR7cEZGNW240t_Ok-rWSagSghsQs9TNZr_mCi_e7zhw","refresh_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiI3Z3M1QTBVdkl0V1ZBRXdaRzFId09wUGNyb1BZMzRBZyIsImF1ZCI6IlFXRjRLdzFxZEdzS3F4WldQM0d6OWpIWjE1V0tHZmNvb0dQeUNzenc3dWxFY3pjWiIsImlzcyI6InVybjpcL1wvYXBpZ2VlLWVkZ2UtSldULXBvbGljeS10ZXN0IiwibWVyY2hhbnRfaWQiOiI0NzY2ODgxMzc4MjA1Njk2IiwiZXhwIjoxNjg1NTI3OTgzLCJpYXQiOjE2Nzc3NTE5ODMsImp0aSI6Ijg0NjcwZjU0LWMwYzAtNDVjNi05Nzg4LWNlYjQxNGE5NzRjZiJ9.h8bwm-ny2cMl5Xzkh0QhaWr_oSUMTpKFrDPAesCBtN4uEnQSGxB6bqVOWebgbNxwYaPAIC79RZitaQ0NxCfNffPBm1nZr4dPchl_JTJOx13EDWdx8iZeG4_CBSYnsBCQ7L934pgmupV5qx4pkL3trU2fr3Z-wQHBo01e8vPaSMlCbso94NarXZMsBY_9Z5ALMimYRk0H7yiJ0XQk2JM6W6gbiQ67F3m5UImsYb_rge8IhLlCsgdTyWSw6lpkqs31pFv1N8tKdGN-XdOlrPwYl3d7-els04wg3XZPsASufnoP-hooTELPNdl-FUFHX7plBl5Uvng85y1XzHzIO9IWqA
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - to
                - channel
                - userdata
              properties:
                from:
                  type: string
                  example: 651234567
                  description: Here we can specify "from" parameter.
                  required: false
                to:
                  type: string
                  example: 91987654321
                  description: The "to" field contains the customer's phone number, including the country code as an example (91987654321). The sentence also emphasizes that this phone number functions as the conversation ID, facilitating interactions and communication with the customer.
                  required: true
                userdata:
                  type: object
                  properties:
                    Country code:
                      type: string
                      example: "+65"
                      description: User's mobile country code
                    mobilenumber:
                      type: string
                      example: "9799433141"
                      description: Customer's mobile number
                    First Name:
                      type: string
                      example: "John"
                      description: "First Name of the customer"
                    Last Name:
                      type: string
                      example: "Roe"
                      description: "Last Name of the customer"
                  description: ""
                channel:
                  type: string
                  example: "whatsapp"
                  description: The channel refers to the sales channel through which we are adding a customer. The available sales channels include line, instagram, telegram, sms, viber, facebook, googlebusinessmsg, twitter, bot and  whatsapp.
            example:
              from: 65987654321
              to: 65123456789
              channel: "whatsapp"
              userdata:
               Country code: "+65"
               mobilenumber: 123456789
               First Name: John
               Last Name: Roe
      responses:
        '200':
          description: Add customer response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Customer has been added to CRM.
                    description: ""
                  success:
                    type: boolean
                    example: true
                    description: "Flag indicating whether the API executed successfully or not."
                example:
                    message: 'Customer has been added to CRM.'
                    success: true
  /chat/fetch-conversations:
    get:
      tags:
      - Conversations API
      summary: Fetch list of Conversations
      description: Fetch all the conversations by channel wise.Further, Conversation can be filtered by applying additional parameters.(eg. channel=all&retarget=false&size=25)
      operationId: fetchListOfConversations
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
            format: Bearer <token>
            example: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJXNjdvZVpPVTBUU004QlFBaFZzeXBvRzdOcXRaIiwiYXVkIjoiUVdGNEt3MXFkR3NLcXhaV1AzR3o5akhaMTVXS0dmY29vR1B5Q3N6dzd1bEVjemNaIiwiaXNzIjoidXJuOlwvXC9hcGlnZWUtZWRnZS1KV1QtcG9saWN5LXRlc3QiLCJtZXJjaGFudF9pZCI6IjQ3NjY4ODEzNzgyMDU2OTYiLCJleHAiOjE2ODU1Mjc5ODMsImlhdCI6MTY3Nzc1MTk4MywianRpIjoiZWQ1YzljOGItZTRmOC00MGQ5LTkxNGQtZmM3Yzg4NGFlMDBiIn0.PJOMZKvFxcFBKFlhHP5UQT3KnOKjbwHCX7E84-tvZI1eEo2bENidua7VZLPTvQlRAHHHyL497cB36zmTTbr1jwl0J_UzLq9x_1_1_cAsUAH5BxB1d8YE_5Veui5SUCMj_2cvi4uVhROgA_b8UEXB7r2fdghcw2saXGNG3Srn0xnHHCDxwoxzG2tI670f7S7E8XiT1f_MUWm3CJsHDtRFi0Fef9zzjuWr4HXlzk7FtZQhHzvnr_AtqkP20ImfhjhjO52TQMdO3AQV5lzKi-K5AAODP5Lc0tt0BySRAk4qVS2qR7cEZGNW240t_Ok-rWSagSghsQs9TNZr_mCi_e7zhw","refresh_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiI3Z3M1QTBVdkl0V1ZBRXdaRzFId09wUGNyb1BZMzRBZyIsImF1ZCI6IlFXRjRLdzFxZEdzS3F4WldQM0d6OWpIWjE1V0tHZmNvb0dQeUNzenc3dWxFY3pjWiIsImlzcyI6InVybjpcL1wvYXBpZ2VlLWVkZ2UtSldULXBvbGljeS10ZXN0IiwibWVyY2hhbnRfaWQiOiI0NzY2ODgxMzc4MjA1Njk2IiwiZXhwIjoxNjg1NTI3OTgzLCJpYXQiOjE2Nzc3NTE5ODMsImp0aSI6Ijg0NjcwZjU0LWMwYzAtNDVjNi05Nzg4LWNlYjQxNGE5NzRjZiJ9.h8bwm-ny2cMl5Xzkh0QhaWr_oSUMTpKFrDPAesCBtN4uEnQSGxB6bqVOWebgbNxwYaPAIC79RZitaQ0NxCfNffPBm1nZr4dPchl_JTJOx13EDWdx8iZeG4_CBSYnsBCQ7L934pgmupV5qx4pkL3trU2fr3Z-wQHBo01e8vPaSMlCbso94NarXZMsBY_9Z5ALMimYRk0H7yiJ0XQk2JM6W6gbiQ67F3m5UImsYb_rge8IhLlCsgdTyWSw6lpkqs31pFv1N8tKdGN-XdOlrPwYl3d7-els04wg3XZPsASufnoP-hooTELPNdl-FUFHX7plBl5Uvng85y1XzHzIO9IWqA
        - in: query
          name: channel
          schema:
            type: string
            example: all
            description: "Channel of the conversations."
        - in: query
          name: retarget
          schema:
            type: string
            example: 'false'
            description: "Conversations to be fetched of retargetting user"
        - in: query
          name: size
          schema:
            type: string
            example: '25'
            description: "Count of elements to be fetched in single call of the API."
      responses:
        '200':
          description: Fetch list of Conversations
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: number
                    example: 50000
                    description: "Total conversation count with specified filters."
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        active:
                          type: boolean
                          example: true
                          description: "Bot is active or not."
                        assigned_to:
                          type: object
                          properties:
                            agent_nickname:
                              type: string
                              nullable: true
                              example: assistmeplease
                              description: "Nickname of the agent assigned to the conversation."
                            email:
                              type: string
                              example: ankit+bbtest@jumper.ai
                              description: "Email of the agent assigned to the conversation."
                            firstName:
                              type: string
                              nullable: true
                              example: Ankit
                              description: "Firstname of the agent assigned to the conversation."
                            id:
                              type: string
                              example: '5797285424267264'
                              description: "Unique user identifier for the agent user object."
                            lastName:
                              type: string
                              nullable: true
                              example: Botbuilder
                              description: "Lastname of the agent assigned to the conversation."
                            mobile:
                              type: string
                              example: '+65938146381'
                              description: "Mobile number of the agent assigned to the conversation."
                            name:
                              type: string
                              example: Ankit Botbuilder
                              description: "Name of the agent assigned to the conversation."
                            picture:
                              type: string
                              example: https://lh3.googleusercontent.com/4tiubNjpzIOdW-zlv2WDHgmgVjYvCzqM_19PLClC0V00mV6rSyMN7m-itYcJtsRJ9pm_IFuj1MUAEZXCNwITWP7S
                              description: "URL of the picture of the agent assigned to the conversation."
                          nullable: true
                          example:
                            agent_nickname: assistmeplease
                            email: ankit+bbtest@jumper.ai
                            firstName: Ankit
                            id: '5797285424267264'
                            lastName: Botbuilder
                            mobile: '+65938146381'
                            name: Ankit Botbuilder
                            picture: https://lh3.googleusercontent.com/4tiubNjpzIOdW-zlv2WDHgmgVjYvCzqM_19PLClC0V00mV6rSyMN7m-itYcJtsRJ9pm_IFuj1MUAEZXCNwITWP7S
                        channel:
                          type: string
                          example: '5228190203117568'
                          description: "Channel of the conversations."
                        conversationid:
                          type: string
                          example: ag5wfmp1bXBlcmRldm5ld3IZCxIMQ29udmVyc2F0aW9uGICAgJ-NreoKDA
                          description: "URL safe conversation identifier."
                        email:
                          type: string
                          example: unrecorded
                          description: "Email address of the user associated with conversation."
                        image:
                          type: string
                          example: "https://scontent-atl3-2.xx.fbcdn.net/v/t1.30497-1/84628273_176159830277856_972693363922829312_n.jpg?stp=dst-jpg_p720x720&_nc_cat=1&ccb=1-5&_nc_sid=12b3be&_nc_ohc=1EQv-VlG8p4AX_nSXGy&_nc_ht=scontent-atl3-2.xx&edm=AP4hL3IEAAAA&oh=00_AT9JbrLn-ErxHCdJ8n9Z2pBPPIIDDdG7aKeowQVucactfQ&oe=62755819"
                          description: "URL of the picture of the user associated with the conversation."
                        lastReplyTimestamp:
                          type: string
                          example: 2021-08-18 18:37:47.660564
                          description: "Last Replied Timestamp from Bot/Agent"
                        name:
                          type: string
                          example: Ankit Chaturvedi
                          description: "Name of the user associated with the conversation."
                        outletid:
                          type: string
                          example: '4927766552117248'
                          description: "Outlet identifier of the merchant."
                      example:
                      - active: true
                        assigned_to:
                          agent_nickname: assistmeplease
                          email: ankit+bbtest@jumper.ai
                          firstName: Ankit
                          id: '5797285424267264'
                          lastName: Botbuilder
                          mobile: '+65938146381'
                          name: Ankit Botbuilder
                          picture: https://lh3.googleusercontent.com/4tiubNjpzIOdW-zlv2WDHgmgVjYvCzqM_19PLClC0V00mV6rSyMN7m-itYcJtsRJ9pm_IFuj1MUAEZXCNwITWP7S
                        channel: '5228190203117568'
                        conversationid: ag5wfmp1bXBlcmRldm5ld3IZCxIMQ29udmVyc2F0aW9uGICAgJ-NreoKDA
                        email: unrecorded
                        image: ''
                        lastReplyTimestamp: 2021-08-18 18:37:47.660564
                        name: Ankit Chaturvedi
                    example:
                      - active: true
                        assigned_to:
                          agent_nickname: assistmeplease
                          email: ankit+bbtest@jumper.ai
                          firstName: Ankit
                          id: '5797285424267264'
                          lastName: Botbuilder
                          mobile: '+65938146381'
                          name: Ankit Botbuilder
                          picture: https://lh3.googleusercontent.com/4tiubNjpzIOdW-zlv2WDHgmgVjYvCzqM_19PLClC0V00mV6rSyMN7m-itYcJtsRJ9pm_IFuj1MUAEZXCNwITWP7S
                        channel: '5228190203117568'
                        conversationid: ag5wfmp1bXBlcmRldm5ld3IZCxIMQ29udmVyc2F0aW9uGICAgJ-NreoKDA
                        email: unrecorded
                        image: ''
                        lastReplyTimestamp: 2021-08-18 18:37:47.660564
                        name: Ankit Chaturvedi
                  errorMessage:
                    type: string
                    example: ""
                    description: "User readable error message giving information about error."
                  next:
                    type: string
                    example: ClIKHwoSbGFzdFJlcGx5VGltZXN0YW1wEgkIh4qs0ZOn8gISK2oOcH5qdW1wZXJkZXZuZXdyGQsSDENvbnZlcnNhdGlvbhiAgIDv68TrCAwYACAB
                    description: "Pointer to the next page to be fetched for the response of list API."
                  prev:
                    nullable: true
                    example: null
                    description: "Pointer to the previous page to be fetched for the response of list API."
                  success:
                    type: boolean
                    example: true
                    description: "Flag indicating whether the API executed successfully or not."
                example:
                  count: 50000
                  data:
                  - active: true
                    assigned_to:
                      agent_nickname: assistmeplease
                      email: ankit+bbtest@jumper.ai
                      firstName: Ankit
                      id: '5797285424267264'
                      lastName: Botbuilder
                      mobile: '+65938146381'
                      name: Ankit Botbuilder
                      picture: https://lh3.googleusercontent.com/4tiubNjpzIOdW-zlv2WDHgmgVjYvCzqM_19PLClC0V00mV6rSyMN7m-itYcJtsRJ9pm_IFuj1MUAEZXCNwITWP7S
                    channel: '5228190203117568'
                    conversationid: ag5wfmp1bXBlcmRldm5ld3IZCxIMQ29udmVyc2F0aW9uGICAgJ-NreoKDA
                    email: unrecorded
                    image: ''
                    lastReplyTimestamp: 2021-08-18 18:37:47.660564
                    name: Ankit Chaturvedi
                  errorMessage: ''
                  next: ClIKHwoSbGFzdFJlcGx5VGltZXN0YW1wEgkIh4qs0ZOn8gISK2oOcH5qdW1wZXJkZXZuZXdyGQsSDENvbnZlcnNhdGlvbhiAgIDv68TrCAwYACAB
                  prev: null
                  success: true
  /chat/get-conversation:
    get:
      tags:
      - Conversations API
      summary: Get Conversation's Information
      description: To fetch the conversation for the conversation ID provided. This detail would involve unique channel level ID, User's name, picture, mobile number, email if defined.
      operationId: getConversationSInformation
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
            format: Bearer <token>
            example: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJXNjdvZVpPVTBUU004QlFBaFZzeXBvRzdOcXRaIiwiYXVkIjoiUVdGNEt3MXFkR3NLcXhaV1AzR3o5akhaMTVXS0dmY29vR1B5Q3N6dzd1bEVjemNaIiwiaXNzIjoidXJuOlwvXC9hcGlnZWUtZWRnZS1KV1QtcG9saWN5LXRlc3QiLCJtZXJjaGFudF9pZCI6IjQ3NjY4ODEzNzgyMDU2OTYiLCJleHAiOjE2ODU1Mjc5ODMsImlhdCI6MTY3Nzc1MTk4MywianRpIjoiZWQ1YzljOGItZTRmOC00MGQ5LTkxNGQtZmM3Yzg4NGFlMDBiIn0.PJOMZKvFxcFBKFlhHP5UQT3KnOKjbwHCX7E84-tvZI1eEo2bENidua7VZLPTvQlRAHHHyL497cB36zmTTbr1jwl0J_UzLq9x_1_1_cAsUAH5BxB1d8YE_5Veui5SUCMj_2cvi4uVhROgA_b8UEXB7r2fdghcw2saXGNG3Srn0xnHHCDxwoxzG2tI670f7S7E8XiT1f_MUWm3CJsHDtRFi0Fef9zzjuWr4HXlzk7FtZQhHzvnr_AtqkP20ImfhjhjO52TQMdO3AQV5lzKi-K5AAODP5Lc0tt0BySRAk4qVS2qR7cEZGNW240t_Ok-rWSagSghsQs9TNZr_mCi_e7zhw","refresh_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiI3Z3M1QTBVdkl0V1ZBRXdaRzFId09wUGNyb1BZMzRBZyIsImF1ZCI6IlFXRjRLdzFxZEdzS3F4WldQM0d6OWpIWjE1V0tHZmNvb0dQeUNzenc3dWxFY3pjWiIsImlzcyI6InVybjpcL1wvYXBpZ2VlLWVkZ2UtSldULXBvbGljeS10ZXN0IiwibWVyY2hhbnRfaWQiOiI0NzY2ODgxMzc4MjA1Njk2IiwiZXhwIjoxNjg1NTI3OTgzLCJpYXQiOjE2Nzc3NTE5ODMsImp0aSI6Ijg0NjcwZjU0LWMwYzAtNDVjNi05Nzg4LWNlYjQxNGE5NzRjZiJ9.h8bwm-ny2cMl5Xzkh0QhaWr_oSUMTpKFrDPAesCBtN4uEnQSGxB6bqVOWebgbNxwYaPAIC79RZitaQ0NxCfNffPBm1nZr4dPchl_JTJOx13EDWdx8iZeG4_CBSYnsBCQ7L934pgmupV5qx4pkL3trU2fr3Z-wQHBo01e8vPaSMlCbso94NarXZMsBY_9Z5ALMimYRk0H7yiJ0XQk2JM6W6gbiQ67F3m5UImsYb_rge8IhLlCsgdTyWSw6lpkqs31pFv1N8tKdGN-XdOlrPwYl3d7-els04wg3XZPsASufnoP-hooTELPNdl-FUFHX7plBl5Uvng85y1XzHzIO9IWqA
        - in: query
          name: conversationid
          schema:
            type: string
            example: ag5wfmp1bXBlcmRldm5ld3IZCxIMQ29udmVyc2F0aW9uGICAgJ-NreoKDA
          description: URL-safe conversation unique identifier used to fetch details of specific conversation.(ex.conversationid=ag5wfmp1bXBlcmRldm5ld3IZCxIMQ29udmVyc2F0aW9uGICAgJ-NreoKDA)
      responses:
        '200':
          description: Get Conversation's Information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      active:
                        type: boolean
                        example: true
                        description: "Bot is active or not."
                      assigned_to:
                        type: object
                        properties:
                          agent_nickname:
                            type: string
                            example: assistmeplease
                            description: "Nickname of the agent assigned to the conversation."
                          email:
                            type: string
                            example: ankit+bbtest@jumper.ai
                            description: "Email of the agent assigned to the conversation."
                          firstName:
                            type: string
                            example: Ankit
                            description: "Firstname of the agent assigned to the conversation."
                          id:
                            type: string
                            example: '5797285424267264'
                            description: "Unique user identifier for the agent user object."
                          lastName:
                            type: string
                            example: Botbuilder
                            description: "Lastname of the agent assigned to the conversation."
                          mobile:
                            type: string
                            example: '+65938146381'
                            description: "Mobile number of the agent assigned to the conversation."
                          name:
                            type: string
                            example: Ankit
                            description: "Name of the agent assigned to the conversation."
                          picture:
                            type: string
                            example: https://lh3.googleusercontent.com/4tiubNjpzIOdW-zlv2WDHgmgVjYvCzqM_19PLClC0V00mV6rSyMN7m-itYcJtsRJ9pm_IFuj1MUAEZXCNwITWP7S
                            description: "URL of the picture of the agent assigned to the conversation."
                        example:
                          agent_nickname: assistmeplease
                          email: ankit+bbtest@jumper.ai
                          firstName: Ankit
                          id: '5797285424267264'
                          lastName: Botbuilder
                          mobile: '+65938146381'
                          name: Ankit Botbuilder
                          picture: https://lh3.googleusercontent.com/4tiubNjpzIOdW-zlv2WDHgmgVjYvCzqM_19PLClC0V00mV6rSyMN7m-itYcJtsRJ9pm_IFuj1MUAEZXCNwITWP7S
                      channel:
                        type: string
                        example: '5228190203117568'
                        description: "Channel of the conversations."
                      consented_time:
                        type: string
                        example: 2021-08-14 10:47:26
                        description: "Datetime object when the user's consent received or when has_consented_latest flag is set."
                      custom_fields:
                        type: array
                        items:
                          type: object
                          properties:
                            field:
                              type: string
                              example: mine
                              description: "Custom property name to be associated with conversation."
                            id:
                              type: number
                              example: 4645025717682176
                              description: "Unique identifier associated with the custom property associated with conversation."
                            value:
                              type: string
                              example: 'true'
                              description: "Custom property value of the conversation."
                          example:
                            - field: mine
                              id: 4645025717682176
                              value: 'true'
                        example:
                        - field: mine
                          id: 4645025717682176
                          value: 'true'
                        - field: testfield4
                          id: 6133379256811520
                          value: testvalue2
                        - field: testfield
                          id: 6460731732000768
                          value: testvalue
                        - field: testfield3
                          id: 6665252571709440
                          value: testvalue
                      dob:
                        type: string
                        example: None
                        description: "Conversation user's date of birth."
                      email:
                        type: string
                        example: unrecorded
                        description: "Conversation user's email."
                      existing:
                        type: boolean
                        example: false
                        description: "Represents whether the conversatiom has existing transaction associated."
                      followup:
                        type: boolean
                        example: false
                        description: "Indicates whether the conversation has to be follow-uped (for agent only)"
                      gender:
                        type: string
                        example: ''
                        description: "Conversation user's gender."
                      has_consented_latest:
                        type: boolean
                        example: true
                        description: "Conversation user's consent flag"
                      headerinfo:
                        type: object
                        properties: {}
                        description: "Browser/IP related information of Conversation (in webbot case)"
                      image:
                        type: string
                        example: ''
                        description: "Conversation user image URL."
                      lastReplyTimestamp:
                        type: string
                        example: 2021-08-18 18:37:47.660564
                        description: "Last Replied Timestamp from Bot/Agent"
                      locale:
                        type: string
                        example: ''
                        description: "Conversation user's language."
                      loyalty points:
                        type: number
                        example: 0
                        description: "Conversation's user loyalty points."
                      mobile:
                        type: string
                        example: '82469399'
                        description: "Conversation user's mobile number."
                      mobilecountrycode:
                        type: string
                        example: '+65'
                        description: "Conversation user's mobile country code."
                      name:
                        type: string
                        example: Ankit Chaturvedi
                        description: "Name of the user associated with the conversation."
                      product:
                        type: string
                        example: toysrus
                        description: "Product hashtag value."
                      psid:
                        type: string
                        example: ''
                        description: "Merchant’s Channel-specific ID of where the Conversation is taking place."
                      status:
                        type: string
                        example: Idle in chat
                        description: "Status of the conversation."
                      step:
                        type: string
                        example: Stage to set for human takeover
                        description: "Name of the message."
                      subscribed:
                        type: boolean
                        example: false
                        description: "User has subscription points or not."
                      tags:
                        type: array
                        items:
                          type: string
                          example: western
                          description: 'Tag name attached to the conversations.'
                        example:
                        - western
                        - coolwest
                        - cool
                      timezone:
                        type: string
                        example: ''
                        description: "Conversation user's timezone"
                      verified:
                        type: boolean
                        example: false
                        description: "Email Address verified or not."
                      vertex:
                        type: number
                        example: 2125
                        description: "Current vertex"
                    example:
                      active: true
                      assigned_to:
                        agent_nickname: assistmeplease
                        email: ankit+bbtest@jumper.ai
                        firstName: Ankit
                        id: '5797285424267264'
                        lastName: Botbuilder
                        mobile: '+65938146381'
                        name: Ankit Botbuilder
                        picture: https://lh3.googleusercontent.com/4tiubNjpzIOdW-zlv2WDHgmgVjYvCzqM_19PLClC0V00mV6rSyMN7m-itYcJtsRJ9pm_IFuj1MUAEZXCNwITWP7S
                      channel: '5228190203117568'
                      consented_time: 2021-08-14 10:47:26
                      custom_fields:
                        - field: mine
                          id: 4645025717682176
                          value: 'true'
                        - field: testfield4
                          id: 6133379256811520
                          value: testvalue2
                        - field: testfield
                          id: 6460731732000768
                          value: testvalue
                        - field: testfield3
                          id: 6665252571709440
                          value: testvalue
                      dob: None
                      email: unrecorded
                      existing: false
                      followup: false
                      gender: ''
                      has_consented_latest: true
                      headerinfo: { }
                      image: ''
                      lastReplyTimestamp: 2021-08-18 18:37:47.660564
                      locale: ''
                      loyalty points: 0
                      mobile: '82469399'
                      mobilecountrycode: '+65'
                      name: Ankit Chaturvedi
                      product: toysrus
                      psid: ''
                      status: Idle in chat
                      step: Stage to set for human takeover
                      subscribed: false
                      tags:
                        - western
                        - coolwest
                        - cool
                      timezone: ''
                      verified: false
                      vertex: 2125
                  errorMessage:
                    type: string
                    example: ''
                    description: "User readable error message giving information about error."
                  success:
                    type: boolean
                    example: true
                    description: "Flag indicating whether the API executed successfully or not."
                example:
                  data:
                    active: true
                    assigned_to:
                      agent_nickname: assistmeplease
                      email: ankit+bbtest@jumper.ai
                      firstName: Ankit
                      id: '5797285424267264'
                      lastName: Botbuilder
                      mobile: '+65938146381'
                      name: Ankit Botbuilder
                      picture: https://lh3.googleusercontent.com/4tiubNjpzIOdW-zlv2WDHgmgVjYvCzqM_19PLClC0V00mV6rSyMN7m-itYcJtsRJ9pm_IFuj1MUAEZXCNwITWP7S
                    channel: '5228190203117568'
                    consented_time: 2021-08-14 10:47:26
                    custom_fields:
                    - field: mine
                      id: 4645025717682176
                      value: 'true'
                    - field: testfield4
                      id: 6133379256811520
                      value: testvalue2
                    - field: testfield
                      id: 6460731732000768
                      value: testvalue
                    - field: testfield3
                      id: 6665252571709440
                      value: testvalue
                    dob: None
                    email: unrecorded
                    existing: false
                    followup: false
                    gender: ''
                    has_consented_latest: true
                    headerinfo: {}
                    image: ''
                    lastReplyTimestamp: 2021-08-18 18:37:47.660564
                    locale: ''
                    loyalty points: 0
                    mobile: '82469399'
                    mobilecountrycode: '+65'
                    name: Ankit Chaturvedi
                    product: toysrus
                    psid: ''
                    status: Idle in chat
                    step: Stage to set for human takeover
                    subscribed: false
                    tags:
                    - western
                    - coolwest
                    - cool
                    timezone: ''
                    verified: false
                    vertex: 2125
                  errorMessage: ''
                  success: true
  /chat/fetch-chats:
    get:
      tags:
      - Conversations API
      summary: Get Chat Messages of a Conversation
      description: Fetch out last 10 messages interacted between Customer and Channel. Can be used to fetch out history if cursor is used.
      operationId: getChatMessagesOfAConversation
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
            format: Bearer <token>
            example: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJXNjdvZVpPVTBUU004QlFBaFZzeXBvRzdOcXRaIiwiYXVkIjoiUVdGNEt3MXFkR3NLcXhaV1AzR3o5akhaMTVXS0dmY29vR1B5Q3N6dzd1bEVjemNaIiwiaXNzIjoidXJuOlwvXC9hcGlnZWUtZWRnZS1KV1QtcG9saWN5LXRlc3QiLCJtZXJjaGFudF9pZCI6IjQ3NjY4ODEzNzgyMDU2OTYiLCJleHAiOjE2ODU1Mjc5ODMsImlhdCI6MTY3Nzc1MTk4MywianRpIjoiZWQ1YzljOGItZTRmOC00MGQ5LTkxNGQtZmM3Yzg4NGFlMDBiIn0.PJOMZKvFxcFBKFlhHP5UQT3KnOKjbwHCX7E84-tvZI1eEo2bENidua7VZLPTvQlRAHHHyL497cB36zmTTbr1jwl0J_UzLq9x_1_1_cAsUAH5BxB1d8YE_5Veui5SUCMj_2cvi4uVhROgA_b8UEXB7r2fdghcw2saXGNG3Srn0xnHHCDxwoxzG2tI670f7S7E8XiT1f_MUWm3CJsHDtRFi0Fef9zzjuWr4HXlzk7FtZQhHzvnr_AtqkP20ImfhjhjO52TQMdO3AQV5lzKi-K5AAODP5Lc0tt0BySRAk4qVS2qR7cEZGNW240t_Ok-rWSagSghsQs9TNZr_mCi_e7zhw","refresh_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiI3Z3M1QTBVdkl0V1ZBRXdaRzFId09wUGNyb1BZMzRBZyIsImF1ZCI6IlFXRjRLdzFxZEdzS3F4WldQM0d6OWpIWjE1V0tHZmNvb0dQeUNzenc3dWxFY3pjWiIsImlzcyI6InVybjpcL1wvYXBpZ2VlLWVkZ2UtSldULXBvbGljeS10ZXN0IiwibWVyY2hhbnRfaWQiOiI0NzY2ODgxMzc4MjA1Njk2IiwiZXhwIjoxNjg1NTI3OTgzLCJpYXQiOjE2Nzc3NTE5ODMsImp0aSI6Ijg0NjcwZjU0LWMwYzAtNDVjNi05Nzg4LWNlYjQxNGE5NzRjZiJ9.h8bwm-ny2cMl5Xzkh0QhaWr_oSUMTpKFrDPAesCBtN4uEnQSGxB6bqVOWebgbNxwYaPAIC79RZitaQ0NxCfNffPBm1nZr4dPchl_JTJOx13EDWdx8iZeG4_CBSYnsBCQ7L934pgmupV5qx4pkL3trU2fr3Z-wQHBo01e8vPaSMlCbso94NarXZMsBY_9Z5ALMimYRk0H7yiJ0XQk2JM6W6gbiQ67F3m5UImsYb_rge8IhLlCsgdTyWSw6lpkqs31pFv1N8tKdGN-XdOlrPwYl3d7-els04wg3XZPsASufnoP-hooTELPNdl-FUFHX7plBl5Uvng85y1XzHzIO9IWqA
        - in: query
          name: conversationid
          schema:
            type: string
            example: ag5wfmp1bXBlcmRldm5ld3IZCxIMQ29udmVyc2F0aW9uGICAgJ-NreoKDA
          description: URL-safe conversation unique identifier used to fetch details of specific conversation
      responses:
        '200':
          description: Get Chat Messages of a Conversation
          content:
            application/json:
              schema:
                type: object
                properties:
                  cursor:
                    type: string
                    example: CkQKFAoHY3JlYXRlZBIJCKGT-4GntfICEihqDnB-anVtcGVyZGV2bmV3chYLEglDaGF0SW5ib3gYgICA34HD2ggMGAAgAQ==
                    description: "Pointer to the next page for the pagination."
                  errorMessage:
                    type: string
                    example: ''
                    description: "User readable error message giving information about error."
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        agent:
                          type: object
                          properties:
                            agent_nickname:
                              type: string
                              example: assistmeplease
                              description: "Nickname of the agent assigned to the conversation."
                            email:
                              type: string
                              example: ankit+bbtest@jumper.ai
                              description: "Email of the agent assigned to the conversation."
                            firstName:
                              type: string
                              example: Ankit
                              description: "Firstname of the agent assigned to the conversation."
                            id:
                              type: string
                              example: '5797285424267264'
                              description: "Unique user identifier for the agent user object."
                            lastName:
                              type: string
                              example: Botbuilder
                              description: "Lastname of the agent assigned to the conversation."
                            mobile:
                              type: string
                              example: '+65938146381'
                              description: "Mobile number of the agent assigned to the conversation."
                            name:
                              type: string
                              example: Ankit Botbuilder
                              description: "Name of the agent assigned to the conversation."
                            picture:
                              type: string
                              example: https://lh3.googleusercontent.com/4tiubNjpzIOdW-zlv2WDHgmgVjYvCzqM_19PLClC0V00mV6rSyMN7m-itYcJtsRJ9pm_IFuj1MUAEZXCNwITWP7S
                              description: "URL of the picture of the agent assigned to the conversation."
                          nullable: true
                          example:
                            agent_nickname: assistmeplease
                            email: ankit+bbtest@jumper.ai
                            firstName: Ankit
                            id: '5797285424267264'
                            lastName: Botbuilder
                            mobile: '+65938146381'
                            name: Ankit Botbuilder
                            picture: https://lh3.googleusercontent.com/4tiubNjpzIOdW-zlv2WDHgmgVjYvCzqM_19PLClC0V00mV6rSyMN7m-itYcJtsRJ9pm_IFuj1MUAEZXCNwITWP7S
                        contextproduct:
                          type: object
                          properties: {}
                          description: "Product/ Action Identifier active during Conversation."
                        conversation_active:
                          type: boolean
                          example: true
                          description: "Bot is active or not."
                        conversationid:
                          type: string
                          example: ag5wfmp1bXBlcmRldm5ld3IZCxIMQ29udmVyc2F0aW9uGICAgJ-NreoKDA
                          description: "URL-safe conversation unique identifier used to fetch details of specific conversation."
                        created:
                          type: string
                          example: 2021-08-18 18:38:05.090187
                          description: "Creation Timestamp."
                        delivered:
                          type: boolean
                          nullable: true
                          example: true
                          description: "True when message has been sent to User based on success from jumper API. False when an error occur while trying to send the message to User, Not necessary if user has got the message."
                        fail_reason:
                          type: string
                          example: ''
                          description: "Error message recevied when sending a message to the channel. Reason why the message failed."
                        message:
                          type: string
                          example: Hey there
                          description: "Actual Message sent/received."
                        messageid:
                          type: string
                          example: gBEFZYJGk5kCCX6w2VARzDwsFQ
                          description: "Message id."
                        mobile_template:
                          type: array
                          items:
                            type: object
                            properties:
                              message:
                                type: string
                                example: |-
                                  *Ankit*
                                  Hey there
                              type:
                                type: string
                                example: text
                            example:
                              message: |-
                                *Ankit*
                                Hey there
                              type: text
                          description: "JSON configuration of Chat Message sent"
                          example:
                          - message: |-
                              *Ankit*
                              Hey there
                            type: text
                        negative:
                          type: string
                          example: ''
                          description: "Probablility that User’s message is negative."
                        page_conversation_id:
                          type: string
                          example: '6582469399'
                          description: "Channel specific identifier for Conversation."
                        pageid:
                          type: string
                          example: '5228190203117568'
                          description: "Merchant’s Channel identifier."
                        platform:
                          type: string
                          example: whatsapp
                          description: "Channel where conversation is taking place."
                        positive:
                          type: string
                          example: ''
                          description: "Probablility that User’s message is positive"
                        reaction:
                          type: string
                          example: ''
                          description: "Reaction sent/received (Instagram and FB)."
                        replied:
                          type: boolean
                          example: true
                          description: "True if Chat Message is from Bot or Agent (Outbound). False if Chat Message is from User (Inbound).Used by FE to display message on left or right"
                        replytomessage:
                          nullable: true
                          example: null
                          description: "In insta/FB, the id of the message replied to."
                        rule:
                          type: string
                          example: ''
                          description: "16 digit identifier of Rule which is triggered to send message. Should only be present for bot messages."
                        schedule:
                          nullable: true
                          example: null
                          description: ""
                        shop:
                          type: string
                          example: bbtest
                          description: "Shopname of the seller."
                        status:
                          type: string
                          nullable: true
                          example: sent
                          description: "Indicates the status of a Status message. It is not null when it is a Status message. Can be an empty string"
                        stuckerror:
                          type: boolean
                          example: false
                          description: "When user doesnot select the options, used by agent for identification"
                        template:
                          example:
                          - message: |-
                              *Ankit*
                              Hey there
                            type: text
                          anyOf:
                          - type: array
                            items:
                              type: object
                              properties:
                                message:
                                  type: string
                                  example: |-
                                    *Ankit*
                                    Hey there
                                  description: "Content of the template message."
                                type:
                                  type: string
                                  example: text
                                  description: "Type of the message."
                            example:
                            - message: |-
                                *Ankit*
                                Hey there
                              type: text
                          - type: object
                            properties:
                              attachment:
                                type: string
                                example: ''
                                description: "Attachment URL for the template."
                              attachmenttype:
                                type: string
                                example: text
                                description: "Attachment type for template."
                          - type: array
                            items:
                              type: object
                              properties:
                                filetype:
                                  type: string
                                  example: image
                                  description: "File-type of the attachment."
                                message:
                                  type: string
                                  example: https://jumperdevnew.appspot.com/jump-image/ag5wfmp1bXBlcmRldm5ld3IYCxILSnVtcGVyaW1hZ2UYgICAn6iHiwoM
                                  description: "URL of the file used."
                                type:
                                  type: string
                                  example: file
                                  description: "Type of the content."
                            example:
                            - filetype: image
                              message: https://jumperdevnew.appspot.com/jump-image/ag5wfmp1bXBlcmRldm5ld3IYCxILSnVtcGVyaW1hZ2UYgICAn6iHiwoM
                              type: file
                          - type: array
                            items:
                              type: object
                              properties:
                                buttons:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      description:
                                        type: string
                                        example: Order now
                                        description: "Text of the button."
                                      elementposition:
                                        type: number
                                        example: 0
                                        description: "Index for element position"
                                      extrainfo:
                                        type: object
                                        properties:
                                          description:
                                            type: string
                                            example: Order now
                                          header:
                                            type: string
                                            example: Your Cart
                                        description: "Extra information about the template."
                                      header:
                                        type: string
                                        example: Your Cart
                                        description: "Header title of the template."
                                      imageurl:
                                        type: array
                                        items: {}
                                        example: []
                                        description: "Image Links that will be used in Template"
                                      part:
                                        type: string
                                        example: button
                                        description: "element"
                                      payload:
                                        type: string
                                        example: header
                                        description: "Payload of Template part"
                                      position:
                                        type: number
                                        example: 0
                                        description: "Position of Template Part"
                                      subtitle:
                                        type: array
                                        items: {}
                                        example: []
                                        description: "Text for Subtitle element"
                                      templatetype:
                                        type: string
                                        example: listreply_displaycategoriescartadded
                                        description: "Template Types"
                                      title:
                                        type: string
                                        example: Select Next Option
                                        description: "Text for Title element"
                                      type:
                                        type: string
                                        example: postback
                                        description: "array string"
                                      url:
                                        nullable: true
                                        example: null
                                        description: "url link that will be opened"
                                  example:
                                  - description: Order now
                                    elementposition: 0
                                    extrainfo:
                                      description: Order now
                                      header: Your Cart
                                    header: Your Cart
                                    imageurl: []
                                    part: button
                                    payload: header
                                    position: 0
                                    subtitle: []
                                    templatetype: listreply_displaycategoriescartadded
                                    title: Select Next Option
                                    type: postback
                                    url: null
                                message:
                                  type: string
                                  example: |-
                                    Your cart:
                                    3 x Polics SUV 4x4: SG $120.00


                                    What would you like to to next?
                                type:
                                  type: string
                                  example: button_message
                            example:
                            - buttons:
                              - description: Order now
                                elementposition: 0
                                extrainfo:
                                  description: Order now
                                  header: Your Cart
                                header: Your Cart
                                imageurl: []
                                part: button
                                payload: header
                                position: 0
                                subtitle: []
                                templatetype: listreply_displaycategoriescartadded
                                title: Select Next Option
                                type: postback
                                url: null
                              message: |-
                                Your cart:
                                3 x Polics SUV 4x4: SG $120.00


                                What would you like to to next?
                              type: button_message
                          - type: array
                            items:
                              type: object
                              properties:
                                message:
                                  type: string
                                  example: Sure, Added it to your cart. You can edit
                                    quantity/selections just before checkout
                                  description: "Message for the template."
                                type:
                                  type: string
                                  example: text
                                  description: "Type of the template content."
                            example:
                            - message: Sure, Added it to your cart. You can edit quantity/selections
                                just before checkout
                              type: text
                          - type: array
                            items:
                              type: object
                              properties:
                                buttons:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      description:
                                        type: string
                                        example: Order now
                                      elementposition:
                                        type: number
                                        example: 0
                                      extrainfo:
                                        type: object
                                        properties:
                                          description:
                                            type: string
                                            example: Order now
                                          header:
                                            type: string
                                            example: Select Products
                                          withproduct:
                                            type: boolean
                                            example: true
                                      header:
                                        type: string
                                        example: Select Products
                                      imageurl:
                                        type: array
                                        items: {}
                                        example: []
                                      part:
                                        type: string
                                        example: button
                                      payload:
                                        type: string
                                        example: header
                                      position:
                                        type: number
                                        example: 0
                                      subtitle:
                                        type: array
                                        items: {}
                                        example: []
                                      templatetype:
                                        type: string
                                        example: listreply_displayproducts
                                      title:
                                        type: string
                                        example: Select a product
                                      type:
                                        type: string
                                        example: postback
                                      url:
                                        nullable: true
                                        example: null
                                      withproduct:
                                        type: boolean
                                        example: true
                                  example:
                                  - description: Order now
                                    elementposition: 0
                                    extrainfo:
                                      description: Order now
                                      header: Select Products
                                      withproduct: true
                                    header: Select Products
                                    imageurl: []
                                    part: button
                                    payload: header
                                    position: 0
                                    subtitle: []
                                    templatetype: listreply_displayproducts
                                    title: Select a product
                                    type: postback
                                    url: null
                                    withproduct: true
                                message:
                                  type: string
                                  example: 'Please check the list of products you
                                    could choose from:'
                                type:
                                  type: string
                                  example: button_message
                            example:
                            - buttons:
                              - description: Order now
                                elementposition: 0
                                extrainfo:
                                  description: Order now
                                  header: Select Products
                                  withproduct: true
                                header: Select Products
                                imageurl: []
                                part: button
                                payload: header
                                position: 0
                                subtitle: []
                                templatetype: listreply_displayproducts
                                title: Select a product
                                type: postback
                                url: null
                                withproduct: true
                              message: 'Please check the list of products you could
                                choose from:'
                              type: button_message
                          - type: array
                            items:
                              type: object
                              properties:
                                message:
                                  type: string
                                  example: "Hey Ankit,\n\nBrowse through the products
                                    from Toys R Us collection, and add them to cart/wishlist
                                    by following the instructions below\U0001F447\U0001F447"
                                type:
                                  type: string
                                  example: text
                            example:
                            - message: "Hey Ankit,\n\nBrowse through the products
                                from Toys R Us collection, and add them to cart/wishlist
                                by following the instructions below\U0001F447\U0001F447"
                              type: text
                          - type: array
                            items:
                              type: object
                              properties:
                                message:
                                  type: string
                                  example: https://jumperdevnew.appspot.com/getimage/product-6164480322961408_0
                                type:
                                  type: string
                                  example: image
                            example:
                            - message: https://jumperdevnew.appspot.com/getimage/product-6164480322961408_0
                              type: image
                          - type: object
                            properties:
                              attachment:
                                type: string
                                example: ''
                              attachmenttype:
                                type: string
                                example: text
                        to_agent:
                          nullable: true
                          example: null
                          description: "Agent Identifier, used in routing case (if enabled)"
                        vertex:
                          type: string
                          nullable: true
                          example: null
                          description: "Vertex where Conversation is at when Chat Message is sent/received."
                      example:
                        agent:
                          agent_nickname: assistmeplease
                          email: ankit+bbtest@jumper.ai
                          firstName: Ankit
                          id: '5797285424267264'
                          lastName: Botbuilder
                          mobile: '+65938146381'
                          name: Ankit Botbuilder
                          picture: https://lh3.googleusercontent.com/4tiubNjpzIOdW-zlv2WDHgmgVjYvCzqM_19PLClC0V00mV6rSyMN7m-itYcJtsRJ9pm_IFuj1MUAEZXCNwITWP7S
                        contextproduct: { }
                        conversation_active: true
                        conversationid: ag5wfmp1bXBlcmRldm5ld3IZCxIMQ29udmVyc2F0aW9uGICAgJ-NreoKDA
                        created: 2021-08-18 18:38:05.090187
                        delivered: true
                        fail_reason: ''
                        message: Hey there
                        messageid: gBEFZYJGk5kCCX6w2VARzDwsFQ
                        mobile_template:
                          - message: |-
                              *Ankit*
                              Hey there
                            type: text
                        negative: ''
                        page_conversation_id: '6582469399'
                        pageid: '5228190203117568'
                        platform: whatsapp
                        positive: ''
                        reaction: ''
                        replied: true
                        replytomessage: null
                        rule: ''
                        schedule: null
                        shop: bbtest
                        status: sent
                        stuckerror: false
                        template:
                          - message: |-
                              *Ankit*
                              Hey there
                            type: text
                        to_agent: null
                        vertex: null
                    example:
                    - agent:
                        agent_nickname: assistmeplease
                        email: ankit+bbtest@jumper.ai
                        firstName: Ankit
                        id: '5797285424267264'
                        lastName: Botbuilder
                        mobile: '+65938146381'
                        name: Ankit Botbuilder
                        picture: https://lh3.googleusercontent.com/4tiubNjpzIOdW-zlv2WDHgmgVjYvCzqM_19PLClC0V00mV6rSyMN7m-itYcJtsRJ9pm_IFuj1MUAEZXCNwITWP7S
                      contextproduct: {}
                      conversation_active: true
                      conversationid: ag5wfmp1bXBlcmRldm5ld3IZCxIMQ29udmVyc2F0aW9uGICAgJ-NreoKDA
                      created: 2021-08-18 18:38:05.090187
                      delivered: true
                      fail_reason: ''
                      message: Hey there
                      messageid: gBEFZYJGk5kCCX6w2VARzDwsFQ
                      mobile_template:
                      - message: |-
                          *Ankit*
                          Hey there
                        type: text
                      negative: ''
                      page_conversation_id: '6582469399'
                      pageid: '5228190203117568'
                      platform: whatsapp
                      positive: ''
                      reaction: ''
                      replied: true
                      replytomessage: null
                      rule: ''
                      schedule: null
                      shop: bbtest
                      status: sent
                      stuckerror: false
                      template:
                      - message: |-
                          *Ankit*
                          Hey there
                        type: text
                      to_agent: null
                      vertex: null
                    - agent: null
                      contextproduct: {}
                      conversation_active: true
                      conversationid: ag5wfmp1bXBlcmRldm5ld3IZCxIMQ29udmVyc2F0aW9uGICAgJ-NreoKDA
                      created: 2021-08-18 18:37:52.279860
                      delivered: true
                      fail_reason: ''
                      message: Yo
                      messageid: gBEFZYJGk5kCCeEz49-Q-ojkDg
                      mobile_template:
                      - message: Yo
                        type: text
                      negative: ''
                      page_conversation_id: '6582469399'
                      pageid: '5228190203117568'
                      platform: whatsapp
                      positive: ''
                      reaction: ''
                      replied: true
                      replytomessage: null
                      rule: '5872845483671552'
                      schedule: null
                      shop: bbtest
                      status: delivered
                      stuckerror: false
                      template:
                      - message: Yo
                        type: text
                      to_agent: null
                      vertex: '560500'
                    - agent: null
                      contextproduct: {}
                      conversation_active: true
                      conversationid: ag5wfmp1bXBlcmRldm5ld3IZCxIMQ29udmVyc2F0aW9uGICAgJ-NreoKDA
                      created: 2021-08-18 18:37:47.694027
                      delivered: null
                      fail_reason: ''
                      message: Yo
                      messageid: ABEFZYJGk5kCCjpuO1SVbw8uUWU
                      mobile_template:
                      - attachment: ''
                        attachmenttype: text
                      negative: '0.647572384839'
                      page_conversation_id: '6582469399'
                      pageid: '5228190203117568'
                      platform: whatsapp
                      positive: '0.247350493021'
                      reaction: ''
                      replied: false
                      replytomessage: null
                      rule: ''
                      schedule: null
                      shop: bbtest
                      status: null
                      stuckerror: false
                      template:
                        attachment: ''
                        attachmenttype: text
                      to_agent: null
                      vertex: '2125'
                    - agent:
                        agent_nickname: assistmeplease
                        email: ankit+bbtest@jumper.ai
                        firstName: Ankit
                        id: '5797285424267264'
                        lastName: Botbuilder
                        mobile: '+65938146381'
                        name: Ankit Botbuilder
                        picture: https://lh3.googleusercontent.com/4tiubNjpzIOdW-zlv2WDHgmgVjYvCzqM_19PLClC0V00mV6rSyMN7m-itYcJtsRJ9pm_IFuj1MUAEZXCNwITWP7S
                      contextproduct: {}
                      conversation_active: true
                      conversationid: ag5wfmp1bXBlcmRldm5ld3IZCxIMQ29udmVyc2F0aW9uGICAgJ-NreoKDA
                      created: 2021-08-16 12:55:13.950110
                      delivered: true
                      fail_reason: ''
                      message: https://jumperdevnew.appspot.com/jump-image/ag5wfmp1bXBlcmRldm5ld3IYCxILSnVtcGVyaW1hZ2UYgICAn6iHiwoM
                      messageid: gBEFZYJGk5kCCTK3zKY7o8AjeA
                      mobile_template:
                      - filetype: image
                        message: https://jumperdevnew.appspot.com/jump-image/ag5wfmp1bXBlcmRldm5ld3IYCxILSnVtcGVyaW1hZ2UYgICAn6iHiwoM
                        type: file
                      negative: ''
                      page_conversation_id: '6582469399'
                      pageid: '5228190203117568'
                      platform: whatsapp
                      positive: ''
                      reaction: ''
                      replied: true
                      replytomessage: null
                      rule: ''
                      schedule: null
                      shop: bbtest
                      status: delivered
                      stuckerror: false
                      template:
                      - filetype: image
                        message: https://jumperdevnew.appspot.com/jump-image/ag5wfmp1bXBlcmRldm5ld3IYCxILSnVtcGVyaW1hZ2UYgICAn6iHiwoM
                        type: file
                      to_agent: null
                      vertex: null
                    - agent: null
                      contextproduct: {}
                      conversation_active: true
                      conversationid: ag5wfmp1bXBlcmRldm5ld3IZCxIMQ29udmVyc2F0aW9uGICAgJ-NreoKDA
                      created: 2021-08-16 10:12:59.656599
                      delivered: true
                      fail_reason: ''
                      message: |-
                        Your cart:
                        3 x Polics SUV 4x4: SG $120.00


                        What would you like to to next?
                      messageid: gBEFZYJGk5kCCXI3WMsGldcDHQ
                      mobile_template:
                      - buttons:
                        - description: Order now
                          elementposition: 0
                          extrainfo:
                            description: Order now
                            header: Your Cart
                          header: Your Cart
                          imageurl: []
                          part: button
                          payload: header
                          position: 0
                          subtitle: []
                          templatetype: listreply_displaycategoriescartadded
                          title: Select Next Option
                          type: postback
                          url: null
                        message: |-
                          Your cart:
                          3 x Polics SUV 4x4: SG $120.00


                          What would you like to to next?
                        type: button_message
                      negative: ''
                      page_conversation_id: '6582469399'
                      pageid: '5228190203117568'
                      platform: whatsapp
                      positive: ''
                      reaction: ''
                      replied: true
                      replytomessage: null
                      rule: '5409041310285824'
                      schedule: null
                      shop: bbtest
                      status: delivered
                      stuckerror: false
                      template:
                      - buttons:
                        - description: Order now
                          elementposition: 0
                          extrainfo:
                            description: Order now
                            header: Your Cart
                          header: Your Cart
                          imageurl: []
                          part: button
                          payload: header
                          position: 0
                          subtitle: []
                          templatetype: listreply_displaycategoriescartadded
                          title: Select Next Option
                          type: postback
                          url: null
                        message: |-
                          Your cart:
                          3 x Polics SUV 4x4: SG $120.00


                          What would you like to to next?
                        type: button_message
                      to_agent: null
                      vertex: '800049'
                    - agent: null
                      contextproduct: {}
                      conversation_active: true
                      conversationid: ag5wfmp1bXBlcmRldm5ld3IZCxIMQ29udmVyc2F0aW9uGICAgJ-NreoKDA
                      created: 2021-08-16 10:12:58.432210
                      delivered: true
                      fail_reason: ''
                      message: Sure, Added it to your cart. You can edit quantity/selections
                        just before checkout
                      messageid: gBEFZYJGk5kCCVAlWgWAAAqTJw
                      mobile_template:
                      - message: Sure, Added it to your cart. You can edit quantity/selections
                          just before checkout
                        type: text
                      negative: ''
                      page_conversation_id: '6582469399'
                      pageid: '5228190203117568'
                      platform: whatsapp
                      positive: ''
                      reaction: ''
                      replied: true
                      replytomessage: null
                      rule: '5409041310285824'
                      schedule: null
                      shop: bbtest
                      status: null
                      stuckerror: false
                      template:
                      - message: Sure, Added it to your cart. You can edit quantity/selections
                          just before checkout
                        type: text
                      to_agent: null
                      vertex: '800048'
                    - agent: null
                      contextproduct: {}
                      conversation_active: true
[...]
