openapi: 3.0.0
servers:
  - url: https://api.nexmo.com/v1
info:
  version: 5.5.0
  title: Conversation API
  x-metaTitle: Vonage Conversation API (v1.0) Reference | Vonage API Documentation
  x-metaDescription: Find quick answers to questions about the Vonage Conversation
    API (v1.0) in this reference guide. Learn more in Vonage's API
    documentation.
  description: The Vonage Conversation API enables you to build conversation
    features where communication can take place across multiple mediums
    including IP Messaging, PSTN Voice, SMS and WebRTC Audio. The context of the
    conversations is maintained though each communication event taking place
    within a conversation, no matter the medium.
  contact:
    name: Vonage DevRel
    email: devrel@vonage.com
    url: https://developer.nexmo.com/
paths:
  /conversations:
    get:
      operationId: listConversations
      tags:
        - conversation
      summary: List conversations
      description: >
        Get a list of all conversations that the provided JWT has access to.

        Please note that not all data is available in the list endpoint. Once 

        you've identified the conversation you need to work with, use the 

        [GET /conversations/:id](#get-conversation) endpoint to fetch all of the conversation details
      parameters:
        - $ref: "#/components/parameters/date_start"
        - $ref: "#/components/parameters/date_end"
        - $ref: "#/components/parameters/page_size"
        - $ref: "#/components/parameters/order"
        - $ref: "#/components/parameters/cursor"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  page_size:
                    $ref: "#/components/schemas/page_size"
                  _embedded:
                    description: A list of conversation objects. See the [get details of a specific
                      conversation](#retrieveConversation) response fields for a
                      description of the nested objects
                    type: object
                    x-nexmo-developer-collection-description-shown: true
                    properties:
                      conversations:
                        type: array
                        description: List of conversations matching the provided filter
                        items:
                          $ref: "#/components/schemas/conversation_lite"
                    required:
                      - conversations
                  _links:
                    type: object
                    description: A series of links between resources in this API in the [HAL
                      Specification](http://stateless.co/hal_specification.html).
                    properties:
                      first:
                        type: object
                        properties:
                          href:
                            type: string
                            example: https://api.nexmo.com/v1/conversations?order=desc&page_size=10
                      self:
                        type: object
                        properties:
                          href:
                            type: string
                            example: https://api.nexmo.com/v1/conversations?order=desc&page_size=10&cursor=G%2B62WaHsQs7j85CkpyDW2TPwiyfOlRFNtZUyA2hb6eZYlCphM4erOEY%3D
                      next:
                        type: object
                        properties:
                          href:
                            type: string
                            example: https://api.nexmo.com/v1/conversations?order=desc&page_size=10&cursor=7EjDNQrAcipmOnc0HCzpQRkhBULzY44ljGUX4lXKyUIVfiZay5pv9wg%3D
                      prev:
                        type: object
                        properties:
                          href:
                            type: string
                            example: https://api.nexmo.com/v1/conversations?order=desc&page_size=10&cursor=7EjDNQrAcipmOnc0HCzpQRkhBULzY44ljGUX4lXKyUIVfiZay5pv9wg%3D
                    required:
                      - self
                required:
                  - coursor
                  - page_size
                  - _embedded
                  - _links
        "400":
          $ref: "#/components/responses/General400ValidationFailDateStart"
        "401":
          $ref: "#/components/responses/General401InvalidToken"
        "500":
          $ref: "#/components/responses/General500InternalError"
    post:
      operationId: createConversation
      tags:
        - conversation
      summary: Create a conversation
      description: >
        Create a conversation with a unique name. The name must be unique across
        all conversations.
      requestBody:
        $ref: "#/components/requestBodies/conversation"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/conversation"
        "401":
          $ref: "#/components/responses/General401InvalidToken"
        "409":
          $ref: "#/components/responses/Conversation409DuplicateName"
        "500":
          $ref: "#/components/responses/General500InternalError"
  "/conversations/{conversation_id}":
    parameters:
      - $ref: "#/components/parameters/conversation_id"
    get:
      operationId: retrieveConversation
      tags:
        - conversation
      summary: Retrieve a conversation
      responses:
        "200":
          description: Retrieve a conversation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/conversation"
        "401":
          $ref: "#/components/responses/General401InvalidToken"
        "404":
          $ref: "#/components/responses/Conversation404"
        "500":
          $ref: "#/components/responses/General500InternalError"
    put:
      operationId: replaceConversation
      tags:
        - conversation
      summary: Update a conversation
      responses:
        "200":
          description: Update a conversation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/conversation"
        "400":
          $ref: "#/components/responses/General400ValidationFailName"
        "401":
          $ref: "#/components/responses/General401InvalidToken"
        "404":
          $ref: "#/components/responses/Conversation404"
        "409":
          $ref: "#/components/responses/Conversation409DuplicateName"
        "500":
          $ref: "#/components/responses/General500InternalError"
      requestBody:
        $ref: "#/components/requestBodies/conversation"
    delete:
      operationId: deleteConversation
      tags:
        - conversation
      summary: Delete a conversation
      responses:
        "204":
          $ref: "#/components/responses/General204"
        "401":
          $ref: "#/components/responses/General401InvalidToken"
        "404":
          $ref: "#/components/responses/Conversation404"
        "500":
          $ref: "#/components/responses/General500InternalError"
  "/conversations/{conversation_id}/members":
    parameters:
      - $ref: "#/components/parameters/conversation_id"
    get:
      operationId: getMembers
      tags:
        - member
      summary: List members
      parameters:
        - $ref: "#/components/parameters/page_size"
        - $ref: "#/components/parameters/order"
        - $ref: "#/components/parameters/cursor"
      responses:
        "200":
          description: Members List Object
          content:
            application/json:
              schema:
                properties:
                  page_size:
                    type: integer
                    example: 10
                    description: The number of results returned on this page
                  _embedded:
                    type: object
                    properties:
                      members:
                        type: array
                        description: List of members matching the provided filter
                        items:
                          $ref: "#/components/schemas/member_lite"
                  _links:
                    type: object
                    properties:
                      first:
                        type: object
                        properties:
                          href:
                            type: string
                            example: https://api.nexmo.com/v1/conversations/CON-d66d47de-5bcb-4300-94f0-0c9d4b948e9a/members?order=desc&page_size=10
                      self:
                        type: object
                        properties:
                          href:
                            type: string
                            example: https://api.nexmo.com/v1/conversations/CON-d66d47de-5bcb-4300-94f0-0c9d4b948e9a/members?order=desc&page_size=10&cursor=88b395c167da4d94e929705cbd63b82973771e7d390d274a58e301386d5762600a3ffd799bfb3fc5190c5a0d124cdd0fc72fe6e450506b18e4e2edf9fe84c7a0
                      next:
                        type: object
                        properties:
                          href:
                            type: string
                            example: https://api.nexmo.com/v1/conversations/CON-d66d47de-5bcb-4300-94f0-0c9d4b948e9a/members?order=desc&page_size=10&cursor=88b395c167da4d94e929705cbd63b829a650e69a39197bfd4c949f4243f60dc4babb696afa404d2f44e7775e32b967f2a1a0bb8fb259c0999ba5a4e501eaab55
                      prev:
                        type: object
                        properties:
                          href:
                            type: string
                            example: https://api.nexmo.com/v1/conversations/CON-d66d47de-5bcb-4300-94f0-0c9d4b948e9a/members?order=desc&page_size=10&cursor=069626a3de11d2ec900dff5042197bd75f1ce41dafc3f2b2481eb9151086e59aae9dba3e3a8858dc355232d499c310fbfbec43923ff657c0de8d49ffed9f7edb
        "401":
          $ref: "#/components/responses/General401InvalidToken"
        "404":
          $ref: "#/components/responses/Conversation404"
        "500":
          $ref: "#/components/responses/General500InternalError"
    post:
      operationId: createMember
      tags:
        - member
      summary: Create a member
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Create a Member in invited or joined state
              properties:
                state:
                  $ref: "#/components/schemas/member_state_request"
                user:
                  type: object
                  description: Either the user id or name is required.
                  properties:
                    id:
                      $ref: "#/components/schemas/user_id"
                    name:
                      $ref: "#/components/schemas/user_name"
                channel:
                  $ref: "#/components/schemas/channel"
                media:
                  $ref: "#/components/schemas/media"
                knocking_id:
                  $ref: "#/components/schemas/knocker_id"
                member_id_inviting:
                  $ref: "#/components/schemas/member_id_inviting"
                from:
                  $ref: "#/components/schemas/member_from"
              required:
                - user
                - state
                - channel
      responses:
        "201":
          description: Create a member
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/member"
        "400":
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/member_error_validation_state_invited"
                  - $ref: "#/components/schemas/member_error_already_joined"
        "401":
          $ref: "#/components/responses/General401InvalidToken"
        "404":
          $ref: "#/components/responses/User404"
        "500":
          $ref: "#/components/responses/General500InternalError"
  "/conversations/{conversation_id}/members/me":
    get:
      operationId: getMe
      tags:
        - member
      summary: Retrieve your member
      description: This retrieves the member associated with the sub claim on the JWT
      parameters:
        - $ref: "#/components/parameters/conversation_id"
      responses:
        "200":
          description: Retrieve member payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/member"
        "401":
          $ref: "#/components/responses/General401InvalidToken"
        "404":
          description: Not found.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/conversation_error_not_found"
                  - $ref: "#/components/schemas/member_error_not_found"
        "500":
          $ref: "#/components/responses/General500InternalError"
  "/conversations/{conversation_id}/members/{member_id}":
    parameters:
      - $ref: "#/components/parameters/conversation_id"
      - $ref: "#/components/parameters/member_id"
    get:
      operationId: getMember
      tags:
        - member
      summary: Retrieve a member
      responses:
        "200":
          description: Retrieve member payload
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/member"
                  - type: object
                    properties:
                      state:
                        type: string
                        example: JOINED
        "401":
          $ref: "#/components/responses/General401InvalidToken"
        "404":
          description: Not found.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/conversation_error_not_found"
                  - $ref: "#/components/schemas/member_error_not_found"
        "500":
          $ref: "#/components/responses/General500InternalError"
    patch:
      operationId: updateMember
      tags:
        - member
      summary: Update a member
      description: >
        Setting the `state` to `left` will result in the member leaving the
        conversation.
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - title: Set state to Joined
                  properties:
                    state:
                      type: string
                      enum:
                        - joined
                    from:
                      type: string
                - title: Set state to Left
                  properties:
                    state:
                      type: string
                      enum:
                        - left
                    from:
                      type: string
                    reason:
                      type: object
                      properties:
                        code:
                          type: string
                        text:
                          type: string
      responses:
        "200":
          description: Member updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/member"
        "400":
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/member_error_validation_state"
                  - $ref: "#/components/schemas/member_error_invalid_state"
                  - $ref: "#/components/schemas/member_error_already_joined"
        "401":
          $ref: "#/components/responses/General401InvalidToken"
        "404":
          description: Not found.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/conversation_error_not_found"
                  - $ref: "#/components/schemas/member_error_not_found"
        "500":
          $ref: "#/components/responses/General500InternalError"
  "/conversations/{conversation_id}/events":
    post:
      operationId: createEvent
      description: >
        Events are used to record actions that take place within a conversation.
        Some events are created automatically when carrying out actions such as
        adding a user to a conversation, but you can also create custom events
        to record other actions that take place within a conversation.

        For more details on event types and how they should be used please see the

        [event concept documentation](/conversation/concepts/event).
      tags:
        - event
      summary: Create an event
      parameters:
        - $ref: "#/components/parameters/conversation_id"
      requestBody:
        $ref: "#/components/requestBodies/event"
      responses:
        "201":
          $ref: "#/components/responses/event"
        "401":
          $ref: "#/components/responses/General401InvalidToken"
        "404":
          $ref: "#/components/responses/Conversation404"
        "500":
          $ref: "#/components/responses/General500InternalError"
    get:
      operationId: getEvents
      tags:
        - event
      summary: Get a list of events
      parameters:
        - $ref: "#/components/parameters/event_start_id"
        - $ref: "#/components/parameters/event_end_id"
        - $ref: "#/components/parameters/event_type"
        - $ref: "#/components/parameters/page_size"
        - $ref: "#/components/parameters/order"
        - $ref: "#/components/parameters/cursor"
        - $ref: "#/components/parameters/exclude_deleted_events"
        - $ref: "#/components/parameters/conversation_id"
      responses:
        "200":
          $ref: "#/components/responses/event_list"
        "401":
          $ref: "#/components/responses/General401InvalidToken"
        "404":
          $ref: "#/components/responses/Conversation404"
        "500":
          $ref: "#/components/responses/General500InternalError"
  "/conversations/{conversation_id}/events/{event_id}":
    get:
      operationId: getEvent
      tags:
        - event
      summary: Get an event
      parameters:
        - $ref: "#/components/parameters/conversation_id"
        - $ref: "#/components/parameters/event_id"
      responses:
        "200":
          $ref: "#/components/responses/event_single"
        "401":
          $ref: "#/components/responses/General401InvalidToken"
        "404":
          description: Not found.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/conversation_error_not_found"
                  - $ref: "#/components/schemas/event_error_not_found"
        "500":
          $ref: "#/components/responses/General500InternalError"
    delete:
      operationId: deleteEvent
      tags:
        - event
      summary: Delete an event
      description: Only message and custom events can be deleted, and then only events
        your user created or if you use an admin token
      parameters:
        - in: path
          name: conversation_id
          required: true
          schema:
            $ref: "#/components/schemas/conversation_id"
          description: The conversation ID
        - in: path
          name: event_id
          required: true
          schema:
            $ref: "#/components/schemas/event_id"
          description: The event ID
      responses:
        "204":
          $ref: "#/components/responses/General204"
        "401":
          $ref: "#/components/responses/General401InvalidToken"
        "404":
          description: Not found.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/conversation_error_not_found"
                  - $ref: "#/components/schemas/event_error_not_found"
        "500":
          $ref: "#/components/responses/General500InternalError"
  "/users/{user_id}/conversations":
    parameters:
      - $ref: "#/components/parameters/user_id"
    get:
      operationId: getuserConversations
      tags:
        - user
      summary: List user conversations
      description: >
        Please note that not all data is available in the list endpoint. Once 

        you've identified the conversation you need to work with, use the 

        [GET /conversations/:id](#get-conversation) endpoint to fetch all of the conversation details
      parameters:
        - $ref: "#/components/parameters/date_start"
        - $ref: "#/components/parameters/page_size"
        - $ref: "#/components/parameters/order"
        - $ref: "#/components/parameters/cursor"
        - $ref: "#/components/parameters/member_state"
        - $ref: "#/components/parameters/order_by"
        - $ref: "#/components/parameters/include_custom_data"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  page_size:
                    $ref: "#/components/schemas/page_size"
                  _embedded:
                    description: A list of conversation objects. See the [get details of a specific
                      conversation](#retrieveConversation) response fields for a
                      description of the nested objects
                    type: object
                    x-nexmo-developer-collection-description-shown: true
                    properties:
                      conversations:
                        type: array
                        description: List of conversations matching the provided filter
                        items:
                          $ref: "#/components/schemas/conversation_user"
                    required:
                      - conversations
                  _links:
                    type: object
                    description: A series of links between resources in this API in the
                      http://stateless.co/hal_specification.html.
                    properties:
                      first:
                        type: object
                        properties:
                          href:
                            type: string
                            example: https://api.nexmo.com/v1/users/USR-82e028d9-5201-4f1e-8188-604b2d3471ec/conversations?order=desc&page_size=10
                      self:
                        type: object
                        properties:
                          href:
                            type: string
                            example: https://api.nexmo.com/v1/users/USR-82e028d9-5201-4f1e-8188-604b2d3471ec/conversations?order=desc&page_size=10&cursor=7EjDNQrAcipmOnc0HCzpQRkhBULzY44ljGUX4lXKyUIVfiZay5pv9wg%3D
                      next:
                        type: object
                        properties:
                          href:
                            type: string
                            example: https://api.nexmo.com/v1/users/USR-82e028d9-5201-4f1e-8188-604b2d3471ec/conversations?order=desc&page_size=10&cursor=7EjDNQrAcipmOnc0HCzpQRkhBULzY44ljGUX4lXKyUIVfiZay5pv9wg%3D
                      prev:
                        type: object
                        properties:
                          href:
                            type: string
                            example: https://api.nexmo.com/v1/users/USR-82e028d9-5201-4f1e-8188-604b2d3471ec/conversations?order=desc&page_size=10&cursor=7EjDNQrAcipmOnc0HCzpQRkhBULzY44ljGUX4lXKyUIVfiZay5pv9wg%3D
                    required:
                      - self
                required:
                  - coursor
                  - page_size
                  - _embedded
                  - _links
        "401":
          $ref: "#/components/responses/General401InvalidToken"
        "404":
          $ref: "#/components/responses/User404"
        "500":
          $ref: "#/components/responses/General500InternalError"
components:
  schemas:
    user_lite:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/user_id"
        name:
          $ref: "#/components/schemas/user_name"
        display_name:
          $ref: "#/components/schemas/user_display_name"
        _links:
          $ref: "#/components/schemas/user_links"
    user:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/user_id"
        name:
          $ref: "#/components/schemas/user_name"
        display_name:
          $ref: "#/components/schemas/user_display_name"
        image_url:
          $ref: "#/components/schemas/user_image_url"
        properties:
          $ref: "#/components/schemas/user_properties"
        channels:
          $ref: "#/components/schemas/user_channels"
        _links:
          $ref: "#/components/schemas/user_links"
        timestamp:
          $ref: "#/components/schemas/user_timestamp"
    user_id:
      type: string
      example: USR-82e028d9-5201-4f1e-8188-604b2d3471ec
      description: User ID
    user_name:
      type: string
      example: my_user_name
      description: Unique name for a user
      nullable: true
    user_display_name:
      type: string
      example: My User Name
      description: A string to be displayed as user name. It does not need to be unique
      nullable: true
    user_image_url:
      type: string
      example: https://example.com/image.png
      description: An image URL that you associate with the user
    user_properties:
      type: object
      description: User properties
      properties:
        custom_data:
          type: object
    user_channels:
      type: object
      properties:
        pstn:
          type: array
          items:
            type: object
            additionalProperties:
              type: string
        sip:
          type: array
          items:
            type: object
            additionalProperties:
              type: string
        vbc:
          type: array
          items:
            type: object
            additionalProperties:
              type: string
        websocket:
          type: array
          items:
            type: object
            additionalProperties:
              type: string
        sms:
          type: array
          items:
            type: object
            properties:
              number:
                type: string
                example: "447700900000"
            required:
              - number
            additionalProperties:
              type: string
        mms:
          type: array
          items:
            type: object
            properties:
              number:
                type: string
                example: "447700900000"
            required:
              - number
            additionalProperties:
              type: string
        whatsapp:
          type: array
          items:
            type: object
            properties:
              number:
                type: string
                example: "447700900000"
            required:
              - number
            additionalProperties:
              type: string
        viber:
          type: array
          items:
            type: object
            properties:
              number:
                type: string
                example: "447700900000"
            required:
              - number
            additionalProperties:
              type: string
        messenger:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                example: "0"
            required:
              - id
            additionalProperties:
              type: string
    user_links:
      type: object
      properties:
        self:
          type: object
          properties:
            href:
              type: string
              example: https://api.nexmo.com/v1/users/USR-82e028d9-5201-4f1e-8188-604b2d3471ec
    user_timestamp:
      type: object
      properties:
        created:
          $ref: "#/components/schemas/timestamp_created"
        updated:
          $ref: "#/components/schemas/timestamp_updated"
        destroyed:
          $ref: "#/components/schemas/timestamp_destroyed"
    conversation_lite:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/conversation_id"
        name:
          $ref: "#/components/schemas/conversation_name"
        display_name:
          $ref: "#/components/schemas/conversation_display_name"
        image_url:
          $ref: "#/components/schemas/conversation_image_url"
        timestamp:
          $ref: "#/components/schemas/conversation_timestamp"
        _links:
          $ref: "#/components/schemas/conversation_links"
    conversation_user:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/conversation_id"
        name:
          $ref: "#/components/schemas/conversation_name"
        display_name:
          $ref: "#/components/schemas/conversation_display_name"
        image_url:
          $ref: "#/components/schemas/conversation_image_url"
        sequence_number:
          $ref: "#/components/schemas/conversation_sequence_number"
        properties:
          $ref: "#/components/schemas/conversation_properties"
        timestamp:
          $ref: "#/components/schemas/conversation_timestamp"
        _links:
          $ref: "#/components/schemas/conversation_links"
        _embedded:
          $ref: "#/components/schemas/conversation_members"
    conversation:
      type: object
      description: Conversation Object
      properties:
        id:
          $ref: "#/components/schemas/conversation_id"
        name:
          $ref: "#/components/schemas/conversation_name"
        display_name:
          $ref: "#/components/schemas/conversation_display_name"
        image_url:
          $ref: "#/components/schemas/conversation_image_url"
        state:
          $ref: "#/components/schemas/conversation_state"
        sequence_number:
          $ref: "#/components/schemas/conversation_sequence_number"
        timestamp:
          $ref: "#/components/schemas/conversation_timestamp"
        properties:
          $ref: "#/components/schemas/conversation_properties"
        _links:
          $ref: "#/components/schemas/conversation_links"
    conversation_id:
      type: string
      example: CON-d66d47de-5bcb-4300-94f0-0c9d4b948e9a
      description: The unique identifier for this conversation
    conversation_name:
      type: string
      example: customer_chat
      description: Your internal conversation name. Must be unique. If not supplied a
        randomly generated name will be used.
      maxLength: 100
    conversation_display_name:
      type: string
      example: Customer Chat
      description: The public facing name of the conversation
      nullable: true
      maxLength: 50
    conversation_image_url:
      type: string
      example: https://example.com/image.png
      description: An image URL that you associate with the conversation
      format: uri
      maxLength: 2048
      nullable: true
    conversation_timestamp:
      type: object
      properties:
        created:
          type: string
          example: 2019-09-03T18:40:24.324Z
          description: The time that the conversation was created
        updated:
          type: string
          example: 2019-09-03T18:50:24.324Z
          description: The time that the conversation was updated
          nullable: true
        destroyed:
          type: string
          example: 2019-09-05T18:40:24.324Z
          description: The time that the conversation was destroyed
          nullable: true
    conversation_state:
      type: string
      enum:
        - ACTIVE
        - INACTIVE
        - DELETED
      example: ACTIVE
      description: The state the conversation is in.
    conversation_sequence_number:
      type: integer
      example: 0
      description: The last Event ID in this conversation. This ID can be used to
        [retrieve a specific event](#getEvent).
    conversation_properties:
      type: object
      description: Conversation properties
      properties:
        ttl:
          type: integer
          example: 60
          description: Time to leave. After how many seconds an empty conversation is
            deleted.
          minimum: 0
          maximum: 2147483648
        custom_data:
          type: object
          description: Custom Key value pairs to be included with conversation data
          additionalProperties:
            type: string
    conversation_links:
      type: object
      properties:
        self:
          type: object
          properties:
            href:
              type: string
              example: https://api.nexmo.com/v1/conversations/CON-7f977ca5-6e86-46a8-bdc9-67b9d8c8dfa9
    conversation_numbers:
      type: array
      description: An array containing number on different channels.
      oneOf:
        - type: object
          description: Phone Channel
          properties:
            type:
              type: string
              enum:
                - phone
              example: phone
            number:
              type: string
              example: "447700900000"
    conversation_callback:
      type: object
      properties:
        url:
          type: string
          description: The URL to send conversation events to.
          example: https://example.com/eventcallback
          format: uri
          maxLength: 2048
        event_mask:
          description: A comma separated string detailing the events to send to the
            callback URL. If not supplied all events will be sent.
          example: member:invited, member:joined
          type: string
          maxLength: 200
        params:
          type: object
          properties:
            applicationId:
              description: The application ID that the event is associated with.
              type: string
              maxLength: 200
            ncco_url:
              description: The URL to send the NCCO to.
              example: https://example.com/ncco
              type: string
              format: uri
              maxLength: 2048
        method:
          description: The HTTP method to use when sending events to the callback URL.
          type: string
          default: POST
          enum:
            - POST
            - GET
    conversation_numbers_phone:
      description: Phone Channel
      type: object
      properties:
        type:
          type: string
          enum:
            - phone
          example: phone
        number:
          type: string
          example: "447700900000"
      required:
        - type
        - number
    conversation_numbers_sip:
      description: SIP Channel
      type: object
      properties:
        type:
          type: string
          enum:
            - sip
          example: sip
        uri:
          type: string
          maxLength: 200
          pattern: ^(sip|sips):\+?([\w|:.\-@;,=%&]+)
          example: sip:+Htg:;xa
        usenname:
          type: string
        password:
          type: string
      required:
        - type
        - uri
    conversation_numbers_app:
      description: App Channel
      type: object
      properties:
        type:
          type: string
          enum:
            - app
          example: app
        user:
          type: string
      required:
        - type
    conversation_numbers_websocket:
      description: Websocket Channel
      type: object
      properties:
        type:
          type: string
          enum:
            - websocket
          example: websocket
        uri:
          type: string
          maxLength: 200
          example: ws://example.com:8080
        content_type:
          type: string
      required:
        - type
        - uri
    conversation_numbers_vbc:
      description: VBC Channel
      type: object
      properties:
        type:
          type: string
          enum:
            - vbc
          example: vbc
        extension:
          type: string
          example: "447700900000"
      required:
        - type
        - extension
    conversation_numbers_whatsappvoice:
      description: Whatsapp Voice Channel
      type: object
      properties:
        type:
          type: string
          enum:
            - whatsapp-voice
        number:
          type: string
    conversation_error_not_found:
      type: object
      description: Conversation not found
      properties:
        title:
          type: string
          example: Not found.
        type:
          type: string
          example: https://developer.nexmo.com/api/conversation#conversation:error:not-found
        code:
          type: string
          example: conversation:error:not-found
        detail:
          type: string
          example: Conversation does not exist, or you do not have access.
        instance:
          type: string
          example: 00a5916655d650e920ccf0daf40ef4ee
    event_error_not_found:
      type: object
      description: Event not found
      properties:
        title:
          type: string
          example: Not found.
        type:
          type: string
          example: https://developer.nexmo.com/api/conversation#event:error:not-found
        code:
          type: string
          example: event:error:not-found
        detail:
          type: string
          example: Event does not exist, or you do not have access.
        instance:
          type: string
          example: fd26b002-91de-4ec5-8e95-2c04a261118a
    conversation_members:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/member_id"
        state:
          $ref: "#/components/schemas/member_state"
    member_lite:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/member_id"
        state:
          $ref: "#/components/schemas/member_state"
        _embedded:
          type: object
          properties:
            user:
              $ref: "#/components/schemas/user_lite"
        _links:
          type: object
          properties:
            href:
              $ref: "#/components/schemas/member_href"
    member:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/member_id"
        conversation_id:
          $ref: "#/components/schemas/conversation_id"
        _embedded:
          type: object
          properties:
            user:
              $ref: "#/components/schemas/user_lite"
        state:
          $ref: "#/components/schemas/member_state"
        timestamp:
          $ref: "#/components/schemas/member_timestamp"
        initiator:
          $ref: "#/components/schemas/member_initiator"
        channel:
          $ref: "#/components/schemas/channel"
        media:
          $ref: "#/components/schemas/media"
        knocking_id:
          type: string
          description: The ID of the original knocker request (if applicable).
        invited_by:
          type: string
          description: The member ID of the member that invited this member to the
            conversation (if applicable).
          example: MEM-63f61863-4a51-4f6b-86e1-46edebio0378
        _links:
          type: object
          properties:
            href:
              $ref: "#/components/schemas/member_href"
    member_id:
      type: string
      example: MEM-63f61863-4a51-4f6b-86e1-46edebio0391
      description: Member ID
    member_state_request:
      type: string
      description: Invite or join a member to a conversation
      example: invited
      enum:
        - invited
        - joined
    member_state:
      type: string
      description: The state that the member is in. Possible values are `INVITED`,
        `JOINED`, `LEFT`, or `UNKNOWN`
      example: JOINED
      enum:
        - INVITED
        - JOINED
        - LEFT
        - UNKNOWN
    member_href:
      type: string
      format: url
      example: https://api.nexmo.com/v1/conversations/CON-63f61863-4a51-4f6b-86e1-46edebio0391/members/MEM-63f61863-4a51-4f6b-86e1-46edebio0391
      description: A link towards a member included in Conversation API
    member_timestamp:
      type: object
      properties:
        invited:
          description: The time that the member was invited to a conversation
          $ref: "#/components/schemas/timestamp"
        joined:
          description: The time that the member joined the conversation
          $ref: "#/components/schemas/timestamp"
        left:
          description: The time that the member left the conversation
          $ref: "#/components/schemas/timestamp"
    member_id_inviting:
      type: string
      example: MEM-63f61863-4a51-4f6b-86e1-46edebio0391
      description: Member ID of the member that sends the invitation
    member_from:
      type: string
    member_initiator:
      oneOf:
        - type: object
          title: Invited by User
          properties:
            joined:
              type: object
              properties:
                is_system:
                  type: boolean
                  description: "`false` if the user was invited by a user."
                user_id:
                  $ref: "#/components/schemas/user_id"
                member_id:
                  $ref: "#/components/schemas/member_id"
        - type: object
          title: Invited by Admin JWT
          properties:
            invited:
              type: object
              properties:
                is_system:
                  type: boolean
                  description: "`true` if the user was invited by an admin JWT."
    member_error_not_found:
      type: object
      description: Member not found
      properties:
        title:
          type: string
          example: Not found.
        type:
          type: string
          example: https://developer.nexmo.com/api/conversation#conversation:error:member-not-found
        code:
          type: string
          example: conversation:error:member-not-found
        detail:
          type: string
          example: Member does not exist, or you do not have access.
        instance:
          type: string
          example: 00a5916655d650e920ccf0daf40ef4ee
    member_error_already_joined:
      type: object
      description: Member already joined
      properties:
        title:
          type: string
          example: Bad request.
        type:
          type: string
          example: https://developer.nexmo.com/api/conversation#conversation:error:member-already-joined
        code:
          type: string
          example: conversation:error:member-already-joined
        detail:
          type: string
          example: The request failed due to the user already having a member joined in
            'app' type. Please provide a valid user and try again.
        instance:
          type: string
          example: 00a5916655d650e920ccf0daf40ef4ee
    member_error_invalid_state:
      type: object
      description: Invalid member state
      properties:
        title:
          type: string
          example: Conflict.
        type:
          type: string
          example: https://developer.nexmo.com/api/conversation#conversation:error:invalid-member-state
        code:
          type: string
          example: conversation:error:invalid-member-state
        detail:
          type: string
          example: The conversation membership has already ended.
        instance:
          type: string
          example: 00a5916655d650e920ccf0daf40ef4ee
    member_error_validation_state_invited:
      type: object
      description: Validation fail
      properties:
        title:
          type: string
          example: Bad request.
        type:
          type: string
          example: https://developer.nexmo.com/api/conversation#http:error:validation-fail
        code:
          type: string
          example: http:error:validation-fail
        detail:
          type: string
          example: Input validation failure.
        instance:
          type: string
          example: 00a5916655d650e920ccf0daf40ef4ee
        invalid_parameters:
          type: array
          description: List of invalid parameters
          items:
            type: object
            properties:
              name:
                type: string
                example: state
              reason:
                type: string
                example: '"state" must be one of [invited, joined]'
    member_error_validation_state:
      type: object
      description: Validation fail
      properties:
        title:
          type: string
          example: Bad request.
        type:
          type: string
          example: https://developer.nexmo.com/api/conversation#http:error:validation-fail
        code:
          type: string
          example: http:error:validation-fail
        detail:
          type: string
          example: Input validation failure.
        instance:
          type: string
          example: 00a5916655d650e920ccf0daf40ef4ee
        invalid_parameters:
          type: array
          description: List of invalid parameters
          items:
            type: object
            properties:
              name:
                type: string
                example: state
              reason:
                type: string
                example: '"state" must be one of [invited, joined, left]'
    member_channel_from:
      type: object
      description: Which channel types this member accepts messages from (if not set,
        all are accepted)
      properties:
        type:
          description: Comma sperated list, can include channel types `app`, `phone`,
            `sms`, `mms`, `whatsapp` , `viber`, or `messenger`
          type: string
    channel:
      description: A user who joins a conversation as a member can have one channel
        per membership. For more details see [channel concept
        docs](/conversation/concepts/channel)
      type: object
      oneOf:
        - type: object
          title: App
          description: Member is using app channel type
          properties:
            type:
              type: string
              description: Channel type
              enum:
                - app
            from:
              $ref: "#/components/schemas/member_channel_from"
            to:
              type: object
              description: Settings which control who this member can send messages to.
              properties:
                type:
                  type: string
                  enum:
                    - app
                user:
                  description: The user ID of the member that this member can send messages to.
                  type: string
          required:
            - type
        - type: object
          title: Phone
          description: Member is using phone channel type
          properties:
            type:
              type: string
              description: Channel type
              enum:
                - phone
            from:
              $ref: "#/components/schemas/member_channel_from"
            to:
              type: object
              description: Settings which control who this member can send messages to.
              properties:
                number:
                  type: string
                  description: The phone number of the member that this member can send messages
                    to.
                type:
                  type: string
                  enum:
                    - phone
          required:
            - type
        - type: object
          title: SMS
          properties:
            type:
              type: string
              description: Channel type
              enum:
                - sms
            from:
              $ref: "#/components/schemas/member_channel_from"
            to:
              type: object
              properties:
                number:
                  type: string
                type:
                  type: string
                  enum:
                    - sms
        - type: object
          title: MMS
          properties:
            type:
              type: string
              description: Channel type
              enum:
                - mms
            from:
              $ref: "#/components/schemas/member_channel_from"
            to:
              type: object
              properties:
                number:
                  type: string
        - type: object
          title: WhatsApp
          properties:
            type:
              type: string
              description: Channel type
              enum:
                - whatsapp
            from:
              $ref: "#/components/schemas/member_channel_from"
            to:
              type: object
              properties:
                number:
                  type: string
        - type: object
          title: Viber
          properties:
            type:
              type: string
              description: Channel type
              enum:
                - viber
            from:
              $ref: "#/components/schemas/member_channel_from"
            to:
              type: object
              properties:
                id:
                  type: string
        - type: object
          title: Messenger
          properties:
            type:
              type: string
              description: Channel type
              enum:
                - messenger
            from:
              $ref: "#/components/schemas/member_channel_from"
            to:
              type: object
              properties:
                id:
                  type: string
    action:
      type: string
      example: start
      description: Recording Action
      enum:
        - start
        - stop
    event_url:
      type: array
      items:
        type: string
        format: url
      example:
        - https://example.com/event
      x-nexmo-developer-collection-description-shown: true
      description: The webhook endpoint where recording progress events are sent to.
    event_method:
      type: string
      description: The HTTP method used to send event information to event_url.
      example: POST
      default: POST
    split:
      type: string
      description: Record the sent and received audio in separate channels of a stereo
        recording
      example: conversation
      default: conversation
    format:
      type: string
      description: Record the Conversation in a specific format.
      example: mp3
      default: mp3
      enum:
        - mp3
        - wav
    leg_state:
      type: string
      example: terminated
      description: Leg Status
      enum:
        - terminated
    user_id_or_user_name:
      type: string
      description: user name or user id of the inviter
      example: someone_else_user_name
    name:
      type: string
      example: my_unique_name
      description: Unique name
    name_conversation:
      type: string
      example: customer_chat
      description: Unique name for a conversation
    href:
      type: string
      format: url
      example: https://api.nexmo.com/v1/conversations/CON-63f61863-4a51-4f6b-86e1-46edebio0391
      description: A link towards a resources included in Conversation API
    href_conversation:
      type: string
      format: url
      example: https://api.nexmo.com/v1/conversations/CON-63f61863-4a51-4f6b-86e1-46edebio0391
      description: A link towards a conversation included in Conversation API
    href_conversations_list:
      type: string
      format: url
      example: https://api.nexmo.com/v1/conversations?page_size=2&record_index=10&
      description: A link towards a conversations list included in Conversation API
    href_user:
      type: string
      format: url
      example: https://api.nexmo.com/v1/users/USR-63f61863-4a51-4f6b-86e1-46edebio0391
      description: A link towards a user included in Conversation API
    href_event:
      type: string
      format: url
      example: https://api.nexmo.com/v1/conversations/CON-63f61863-4a51-4f6b-86e1-46edebio0391/events/1
      description: A link towards a conversation event included in Conversation API
    href_rtc:
      type: string
      format: url
      example: https://api.nexmo.com/v1/conversations/CON-63f61863-4a51-4f6b-86e1-46edebio0391/rtc/7777777777777
      description: A link towards a rtc (leg) included in Conversation API
    event_id:
      type: string
      example: "5"
      description: Event id. This is a progressive integer
    display_name:
      type: string
      example: Customer Chat
      description: The display name for the conversation. It does not have to be unique
    page_size:
      type: integer
      description: The amount of records returned in this response
      minimum: 1
      maximum: 100
      default: 10
      example: 10
    record_index:
      type: number
      description: Return `page_size` amount of conversations from this index in the
        response. That is, if your request returns 300 conversations, set
        `record_index` to 5 in order to return conversations 50 to 59. The
        default value is 0. That is, the first `page_size` calls.
      default: 0
      minimum: 0
      example: 0
    timestamp:
      type: string
      example: 2020-01-01T14:00:00.00Z
    timestamp_created:
      type: string
      example: 2020-01-01T14:00:00.00Z
      description: Time of creation
    timestamp_updated:
      type: string
      example: 2020-01-01T14:05:00.00Z
      description: Time of last update
    timestamp_destroyed:
      type: string
      example: 2020-01-01T14:20:00.00Z
      description: Time of last update
    timestamp_leg_start_time:
      type: string
      example: 2020-01-01T14:00:00.00Z
      description: Time of leg start
    timestamp_leg_end_time:
      type: string
      example: 2020-01-01T14:00:00.00Z
      description: Time of leg end
    timestamp_res_event:
      type: string
      example: 2020-01-01T14:00:00.00Z
      description: Time of event creation
    timestamp_res_conversation:
      type: object
      properties:
        created:
          $ref: "#/components/schemas/timestamp_created"
        updated:
          $ref: "#/components/schemas/timestamp_updated"
        destroyed:
          $ref: "#/components/schemas/timestamp_destroyed"
    timestamp_obj_leg:
      type: object
      properties:
        start:
          $ref: "#/components/schemas/timestamp_created"
        end:
          $ref: "#/components/schemas/timestamp"
        request:
          $ref: "#/components/schemas/timestamp"
    leg_id:
      type: string
      example: a595959595959595995
      description: The id of the leg. rtc_id and call_id are leg id
    channel_number:
      type: string
      example: a447700900585
      description: this can be a phone number or a random string
    channel_type:
      type: string
      example: phone
      description: Channel type
      enum:
        - app
        - phone
        - sms
        - mms
        - whatsapp
        - viber
        - messenger
    media:
      type: object
      description: Details about the current media setting states
      properties:
        audio_settings:
          type: object
          properties:
            enabled:
              description: is audio currently enabled
              type: boolean
            earmuffed:
              description: is audio currently earmuffed
              type: boolean
            muted:
              description: is audio currently muted
              type: boolean
        audio:
          description: Is an audio connection possible
          type: boolean
    event_type:
      type: string
      description: Event type. A sequence of event types separated by a comma. The
        maximum number of items allowed is 5.
      example: text
    event_body:
      type: object
      description: Event Body
      example:
        text: My Text
    event_retrieved:
      type: object
      description: Retrieve Events Response Payload Object Item
      properties:
        id:
          $ref: "#/components/schemas/event_id"
        type:
          $ref: "#/components/schemas/event_type"
        from:
          $ref: "#/components/schemas/member_id"
        to:
          $ref: "#/components/schemas/member_id"
        body:
          $ref: "#/components/schemas/event_body"
        state:
          $ref: "#/components/schemas/member_state"
        timestamp:
          $ref: "#/components/schemas/timestamp_created"
        href:
          $ref: "#/components/schemas/href_event"
      required:
        - id
        - type
        - body
        - timestamp
        - href
    knocker_id:
      type: string
      description: Knocker ID. A knocker is a pre-member of a conversation who does
        not exist yet
      example: a972836a-450f-35fa-156c-52a2ab5b7d25
    event_user:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/user_id"
        name:
          $ref: "#/components/schemas/user_name"
        display_name:
          $ref: "#/components/schemas/user_display_name"
        image_url:
          $ref: "#/components/schemas/user_image_url"
        custom_data:
          type: object
    embedded_event_from:
      type: object
      properties:
        from_user:
          $ref: "#/components/schemas/event_user"
        from_member:
          type: object
          properties:
            id:
              type: string
    event_links:
      type: object
      properties:
        self:
          type: object
          properties:
            href:
              type: string
    event_media_boolean:
      type: object
      description: Media Object with boolean audio
      properties:
        audio_settings:
          type: object
          properties:
            enabled:
              type: boolean
            earmuffed:
              type: boolean
            muted:
              type: boolean
        audio:
          type: boolean
    event_media:
      type: object
      description: Media Object with object audio
      properties:
        audio_settings:
          type: object
          properties:
            enabled:
              type: boolean
            earmuffed:
              type: boolean
            muted:
              type: boolean
        audio:
          type: object
          properties:
            enabled:
              type: boolean
            earmuffed:
              type: boolean
            muted:
              type: boolean
    event_channel:
      type: object
      properties:
        to:
          $ref: "#/components/schemas/channel"
        from:
          $ref: "#/components/schemas/channel"
        id:
          type: string
        type:
          type: string
          enum:
            - app
            - phone
            - sip
            - websocket
            - vbc
            - whatsapp-voice
        headers:
          type: object
    event_sms_channel:
      description: SMS Channel
      type: object
      properties:
        to:
          type: object
          properties:
            number:
              type: string
        from:
          type: object
          properties:
            number:
              type: string
        type:
          type: string
          enum:
            - sms
    event_mms_channel:
      description: MMS Channel
      type: object
      properties:
        to:
          type: object
          properties:
            number:
              type: string
        from:
          type: object
          properties:
            number:
              type: string
        type:
          type: string
          enum:
            - mms
    event_whatsapp_channel:
      description: Whatsapp Channel
      type: object
      properties:
        to:
          type: object
          properties:
            number:
              type: string
        from:
          type: object
          properties:
            number:
              type: string
        type:
          type: string
          enum:
            - whatsapp
    event_viber_channel:
      description: Viber Channel
      type: object
      properties:
        to:
          type: object
          properties:
            number:
              type: string
        from:
          type: object
          properties:
            id:
              type: string
        type:
          type: string
          enum:
            - viber
    event_messenger_channel:
      description: Messenger Channel
      type: object
      properties:
        to:
          type: object
          properties:
            id:
              type: string
        from:
          type: object
          properties:
            id:
              type: string
        type:
          type: string
          enum:
            - viber
    event_audio_channels:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
            - app
            - phone
            - sip
            - websocket
            - vbc
            - whatsapp-voice
        to:
          oneOf:
            - $ref: "#/components/schemas/conversation_numbers_phone"
            - $ref: "#/components/schemas/conversation_numbers_sip"
            - $ref: "#/components/schemas/conversation_numbers_app"
            - $ref: "#/components/schemas/conversation_numbers_vbc"
            - $ref: "#/components/schemas/conversation_numbers_websocket"
            - $ref: "#/components/schemas/conversation_numbers_whatsappvoice"
        from:
          oneOf:
            - $ref: "#/components/schemas/conversation_numbers_phone"
            - $ref: "#/components/schemas/conversation_numbers_sip"
            - $ref: "#/components/schemas/conversation_numbers_app"
            - $ref: "#/components/schemas/conversation_numbers_vbc"
            - $ref: "#/components/schemas/conversation_numbers_websocket"
            - $ref: "#/components/schemas/conversation_numbers_whatsappvoice"
        headers:
          type: object
    leg_status:
      type: object
      description: Leg Status started, ringing or answered
      properties:
        status:
          type: string
          enum:
            - started
            - ringing
            - answered
    leg_status_complete:
      type: object
      description: Leg Status completed
      properties:
        status:
          type: string
          enum:
            - completed
        successful:
          type: boolean
        reason:
          type: string
          enum:
            - failed
            - busy
            - timeout
            - cancelled
            - rejected
            - ok
            - not_found
            - request_terminated
            - bad_extension
            - busy_here
            - request_timeout
            - temporarily_unavailable
            - forbidden
            - gone
            - bad_gateway
            - address_incomplete
            - server_internal_error
            - not_implemented
            - server_timeout
            - version_not_supported
            - service_unavailable
            - payment_required
            - banned_call_ended
            - flow_failed
    leg_status_history_member:
      type: object
      description: Leg Status History with Member ID
      properties:
        conversation_id:
          type: string
        member_id:
          type: string
        status:
          type: string
          enum:
            - started
            - ringing
            - answered
            - completed
            - machine
            - failed
            - busy
            - timeout
            - cancelled
            - rejected
        state:
          oneOf:
            - $ref: "#/components/schemas/leg_status_complete"
            - $ref: "#/components/schemas/leg_status"
        date:
          type: string
    leg_status_history_knocker:
      type: object
      description: Leg Status History with Knocker ID
      properties:
        knocker_id:
          type: string
        status:
          type: string
          enum:
            - started
            - ringing
            - answered
            - completed
            - machine
            - failed
            - busy
            - timeout
            - cancelled
            - rejected
        state:
          oneOf:
            - $ref: "#/components/schemas/leg_status_complete"
            - $ref: "#/components/schemas/leg_status"
        date:
          type: string
    event_invited_member:
      type: object
      properties:
        channel:
          oneOf:
            - $ref: "#/components/schemas/event_sms_channel"
            - $ref: "#/components/schemas/event_mms_channel"
            - $ref: "#/components/schemas/event_whatsapp_channel"
            - $ref: "#/components/schemas/event_viber_channel"
            - $ref: "#/components/schemas/event_messenger_channel"
        media:
          oneOf:
            - $ref: "#/components/schemas/event_media_boolean"
            - $ref: "#/components/schemas/event_media"
        member_id:
          type: string
        name:
          type: string
        state:
          type: string
          enum:
            - INVITED
            - JOINED
            - LEFT
            - UNKNOWN
        timestamp:
          type: object
          properties:
            invited:
              type: string
              example: 2020-01-01T14:00:00.00Z
            left:
              type: string
              example: 2020-01-01T14:00:00.00Z
            joined:
              type: string
              example: 2020-01-01T14:00:00.00Z
        user_id:
          type: string
    audiodtmf_body_digit_no_method:
      description: Digit no method and duration
      properties:
        digit:
          type: string
          pattern: ^([abcdABCD0-9*#pPeEfF])+$
        channel:
          $ref: "#/components/schemas/event_channel"
        dtmf_seq:
          type: integer
      required:
        - digit
    audiodtmf_body_digits_no_method:
      description: Digits no method and duration
      properties:
        digits:
          type: string
          pattern: ^([abcdABCD0-9*#pPeEfF])+$
        channel:
          $ref: "#/components/schemas/event_channel"
        dtmf_seq:
          type: integer
      required:
        - digits
    audiodtmf_body_digits:
      description: Digits no method and duration
      properties:
        digits:
          type: string
          pattern: ^([abcdABCD0-9*#pPeEfF])+$
        channel:
          $ref: "#/components/schemas/event_channel"
        dtmf_seq:
          type: integer
        method:
          type: string
          enum:
            - in
        duration:
          type: integer
      required:
        - digits
        - method
        - duration
    audiodtmf_body_digit:
      description: Digit no method and duration
      properties:
        digit:
          type: string
          pattern: ^([abcdABCD0-9*#pPeEfF])+$
        channel:
          $ref: "#/components/schemas/event_channel"
        dtmf_seq:
          type: integer
        method:
          type: string
          enum:
            - in
        duration:
          type: integer
      required:
        - digit
        - method
        - duration
    message_body_text:
      description: Text Message Body
      type: object
      properties:
        message_type:
          type: string
          enum:
            - text
        text:
          type: string
    message_body_image:
      description: Image Message Body
      type: object
      properties:
        message_type:
          type: string
          enum:
            - image
        image:
          type: object
          properties:
            url:
              type: string
    message_body_audio:
      description: Audio Message Body
      type: object
      properties:
        message_type:
          type: string
          enum:
            - audio
        audio:
          type: object
          properties:
            url:
              type: string
    message_body_video:
      description: Video Message Body
      type: object
      properties:
        message_type:
          type: string
          enum:
            - video
        video:
          type: object
          properties:
            url:
              type: string
    message_body_file:
      description: File Message Body
      type: object
      properties:
        message_type:
          type: string
          enum:
            - file
        file:
          type: object
          properties:
            url:
              type: string
    message_body_template:
      description: Template Message Body
      type: object
      properties:
        message_type:
          type: string
          enum:
            - template
        template:
          type: object
          properties:
            name:
              type: string
            parameters:
              type: array
              items:
                type: string
            whatsapp:
              type: object
              properties:
                policy:
                  type: string
                locale:
                  type: string
    message_body_custom:
      description: Custom Message Body
      type: object
      properties:
        message_type:
          type: string
          enum:
            - custom
        custom:
          type: object
          properties:
            custom_field:
              type: string
    message_body_vcard:
      description: VCard Message Body
      type: object
      properties:
        message_type:
          type: string
          enum:
            - vcard
        vcard:
          type: object
          properties:
            url:
              type: string
        image:
          type: object
          properties:
            url:
              type: string
    message_body_location:
      description: Location Message Body
      type: object
      properties:
        message_type:
          type: string
          enum:
            - location
        location:
          type: object
          properties:
            longitude:
              type: string
            latitude:
              type: string
            name:
              type: string
            address:
              type: string
    message_body_random:
      description: Random Message Body
      type: object
      properties:
        message_type:
          type: string
          enum:
            - random
    audioplay_event:
      description: audio:play - Play audio
      type: object
      properties:
        type:
          type: string
          enum:
            - audio:play
        from:
          description: Member ID
          type: string
        body:
          type: object
          properties:
            queue:
              type: boolean
            level:
              type: number
              minimum: -1
              maximum: 1
              exclusiveMinimum: true
              exclusiveMaximum: true
            loop:
              type: integer
            stream_url:
              type: array
              items:
                type: string
          required:
            - level
            - loop
            - stream_url
      required:
        - type
        - body
    audioplaystop_event:
      description: audio:play:stop - Stop currently playing audio
      type: object
      properties:
        type:
          type: string
          enum:
            - audio:play:stop
        from:
          description: Member ID
          type: string
        body:
          type: object
          properties:
            play_id:
              type: string
          required:
            - play_id
      required:
        - type
        - body
    audiosay_event:
      description: audio:say - Use TTS to speak the given text
      type: object
      properties:
        type:
          type: string
          enum:
            - audio:say
        from:
          description: Member ID
          type: string
        body:
          type: object
          description: Either set voice_name to use the old style TTS voices, otherwise
            set language, style, premium and SSML to use new voices. For more
            infomation see [text to speech
            docs.](https://developer.vonage.com/en/voice/voice-api/concepts/text-to-speech)
          properties:
            level:
              type: number
              minimum: -1
              maximum: 1
              exclusiveMinimum: true
              exclusiveMaximum: true
            loop:
              type: integer
            queue:
              type: boolean
            voice_name:
              type: string
            language:
              type: string
            style:
              type: integer
            premium:
              type: boolean
            text:
              type: string
            ssml:
              type: boolean
          required:
            - level
            - loop
            - text
      required:
        - type
        - body
    audiosaystop_event:
      description: audio:say:stop - Stop currently playing TTS
      type: object
      properties:
        type:
          type: string
          enum:
            - audio:say:stop
        from:
          description: Member ID
          type: string
        body:
          type: object
          properties:
            say_id:
              type: string
          required:
            - say_id
      required:
        - type
        - body
    audiodtmf_event:
      description: audio:dtmf - Play DTMF audio
      type: object
      properties:
        type:
          type: string
          enum:
            - audio:dtmf
        from:
          description: Member ID
          type: string
        body:
          description: method and duration are added when you want any IP user in a call
            to not only recieve the event but hear the dialtones in the mixer.
          oneOf:
            - $ref: "#/components/schemas/audiodtmf_body_digit_no_method"
            - $ref: "#/components/schemas/audiodtmf_body_digits_no_method"
            - $ref: "#/components/schemas/audiodtmf_body_digit"
            - $ref: "#/components/schemas/audiodtmf_body_digits"
      required:
        - type
        - body
    audiorecord_event:
      description: audio:record - Record the audio in the conversation
      type: object
      properties:
        type:
          type: string
          enum:
            - audio:record
        from:
          description: Member ID
          type: string
        body:
          type: object
          properties:
            validity:
              type: integer
            streamed:
              type: boolean
            format:
              type: string
            beep_start:
              type: boolean
            beep_stop:
              type: boolean
            detect_speech:
              type: boolean
            split:
              type: boolean
            mulitrack:
              type: boolean
            channels:
              type: integer
            transcription:
              type: object
              properties:
                language:
                  type: string
                sentiment_analysis:
                  type: boolean
              required:
                - language
      required:
        - type
        - body
    audiorecordstop_event:
      description: audio:record:stop - Stop current recording of audio
      type: object
      properties:
        type:
          type: string
          enum:
            - audio:record:stop
        from:
          description: Member ID
          type: string
        body:
          type: object
          properties:
            record_id:
              type: string
          required:
            - record_id
      required:
        - type
        - body
    audiomuteon_event:
      description: audio:mute:on - Mute audio
      type: object
      properties:
        type:
          type: string
          enum:
            - audio:mute:on
        from:
          description: Member ID
          type: string
        body:
          type: object
          properties:
            rtc_id:
              type: string
          required:
            - rtc_id
      required:
        - type
        - body
    audiomuteoff_event:
      description: audio:mute:off - Unmute audio
      type: object
      properties:
        type:
          type: string
          enum:
            - audio:mute:off
        from:
          description: Member ID
          type: string
        body:
          type: object
          properties:
            rtc_id:
              type: string
          required:
            - rtc_id
      required:
        - type
        - body
    audioearmuffon_event:
      description: audio:earmuff:on - Earmuff audio
      type: object
      properties:
        type:
          type: string
          enum:
            - audio:earmuff:on
        from:
          description: Member ID
          type: string
        body:
          type: object
          properties:
            rtc_id:
              type: string
          required:
            - rtc_id
      required:
        - type
        - body
    audioearmuffoff_event:
      description: audio:earmuff:off - Earmuff audio
      type: object
      properties:
        type:
          type: string
          enum:
            - audio:earmuff:off
        from:
          description: Member ID
          type: string
        body:
          type: object
          properties:
            rtc_id:
              type: string
          required:
            - rtc_id
      required:
        - type
        - body
    audiospeakingon_event:
      description: audio:speaking:on - Speaking on
      type: object
      properties:
        type:
          type: string
          enum:
            - audio:speaking:on
        from:
          description: Member ID
          type: string
        body:
          type: object
          properties:
            channel:
              $ref: "#/components/schemas/event_channel"
      required:
        - type
        - body
    audiospeakingoff_event:
      description: audio:speaking:off - Speaking on
      type: object
      properties:
        type:
          type: string
          enum:
            - audio:speaking:off
        from:
          description: Member ID
          type: string
        body:
          type: object
          properties:
            channel:
              $ref: "#/components/schemas/event_channel"
      required:
        - type
        - body
    custom_event:
      description: custom - Custom event
      type: object
      properties:
        type:
          type: string
          pattern: ^custom:[\w\-:]+
          example: custom:test
        from:
          description: Member ID
          type: string
        body:
          type: object
          description: any custom data you wish to send/receive.
      required:
        - type
        - body
    ephemeral_event:
      description: ephemeral - Ephemeral
      type: object
      properties:
        type:
          type: string
          enum:
            - ephemeral
        from:
          description: Member ID
          type: string
        body:
          type: object
          description: any custom data you wish to send/receive.
      required:
        - type
        - body
    message_event:
      description: message - Message (Text, Image, Audio, Video, File, Template,
        Custom, VCard, Location, Random)
      type: object
      properties:
        type:
          type: string
          enum:
            - message
        from:
          description: Member ID
          type: string
        body:
          type: object
          oneOf:
            - $ref: "#/components/schemas/message_body_text"
            - $ref: "#/components/schemas/message_body_image"
            - $ref: "#/components/schemas/message_body_audio"
            - $ref: "#/components/schemas/message_body_video"
            - $ref: "#/components/schemas/message_body_file"
            - $ref: "#/components/schemas/message_body_template"
            - $ref: "#/components/schemas/message_body_custom"
            - $ref: "#/components/schemas/message_body_vcard"
            - $ref: "#/components/schemas/message_body_location"
            - $ref: "#/components/schemas/message_body_random"
      required:
        - type
        - body
    messagesubmitted_event:
      description: message:submitted - Message submitted
      type: object
      properties:
        type:
          type: string
          enum:
            - message:submitted
        from:
          description: Member ID
          type: string
        body:
          type: object
          properties:
            event_id:
              type: string
          required:
            - event_id
      required:
        - type
        - body
    messagerejected_event:
      description: message:rejected - Message rejected
      type: object
      properties:
        type:
          type: string
          enum:
            - message:rejected
        from:
          description: Member ID
          type: string
        body:
          type: object
          properties:
            event_id:
              type: string
          required:
            - event_id
      required:
        - type
        - body
    messageundeliverable_event:
      description: message:undeliverable - Message undeliverable
      type: object
      properties:
        type:
          type: string
          enum:
            - message:undeliverable
        from:
          description: Member ID
          type: string
        body:
          type: object
          properties:
            event_id:
              type: string
          required:
            - event_id
      required:
        - type
        - body
    messageseen_event:
      description: message:seen - Message seen
      type: object
      properties:
        type:
          type: string
          enum:
            - message:seen
        from:
          description: Member ID
          type: string
        body:
          type: object
          properties:
            event_id:
              type: string
          required:
            - event_id
      required:
        - type
        - body
    messagedelivered_event:
      description: message:delivered - Message delivered
      type: object
      properties:
        type:
          type: string
          enum:
            - message:delivered
        from:
          description: Member ID
          type: string
        body:
          type: object
          properties:
            event_id:
              type: string
          required:
            - event_id
      required:
        - type
        - body
    audioplay_event_response:
      description: audio:play - Play Audio
      type: object
      properties:
        id:
          type: integer
          description: Event id. This is a progressive integer
        type:
          type: string
          enum:
            - audio:play
        from:
          description: Member ID
          type: string
        timestamp:
          $ref: "#/components/schemas/timestamp_created"
        _embedded:
          $ref: "#/components/schemas/embedded_event_from"
        _links:
          $ref: "#/components/schemas/event_links"
        body:
          type: object
          properties:
            queue:
              type: boolean
            level:
              type: number
              minimum: -1
              maximum: 1
              exclusiveMinimum: true
              exclusiveMaximum: true
            loop:
              type: integer
            stream_url:
              type: array
              items:
                type: string
    audioplaystop_event_response:
      description: audio:play:stop - Stop currently playing audio
      type: object
      properties:
        id:
          type: integer
          description: Event id. This is a progressive integer
        type:
          type: string
          enum:
            - audio:play:stop
        from:
          description: Member ID
          type: string
        body:
          type: object
          properties:
            play_id:
              type: string
        timestamp:
          $ref: "#/components/schemas/timestamp_created"
        _embedded:
          $ref: "#/components/schemas/embedded_event_from"
        _links:
          $ref: "#/components/schemas/event_links"
    audioplaydone_event_response:
      description: audio:play:done - Playing audio has stopped
      type: object
      properties:
        id:
          type: integer
          description: Event id. This is a progressive integer
        type:
          type: string
          enum:
            - audio:play:done
        from:
          description: Member ID
          type: string
        body:
          type: object
          properties:
            play_id:
              type: string
        timestamp:
          $ref: "#/components/schemas/timestamp_created"
        _embedded:
          $ref: "#/components/schemas/embedded_event_from"
        _links:
          $ref: "#/components/schemas/event_links"
    audiosay_event_response:
      description: audio:say - Use TTS to speak the given text
      type: object
      properties:
        id:
          type: integer
          description: Event id. This is a progressive integer
        type:
          type: string
          enum:
            - audio:say
        from:
          description: Member ID
          type: string
        body:
          type: object
          properties:
            level:
              type: number
              minimum: -1
              maximum: 1
              exclusiveMinimum: true
              exclusiveMaximum: true
            loop:
              type: integer
            queue:
              type: boolean
            voice_name:
              type: string
            language:
              type: string
            style:
              type: integer
            premium:
              type: boolean
            text:
              type: string
            ssml:
              type: boolean
        timestamp:
          $ref: "#/components/schemas/timestamp_created"
        _embedded:
          $ref: "#/components/schemas/embedded_event_from"
        _links:
          $ref: "#/components/schemas/event_links"
    audiosaystop_event_response:
      description: audio:say:stop - Stop currently playing TTS
      type: object
      properties:
        id:
          type: integer
          description: Event id. This is a progressive integer
        type:
          type: string
          enum:
            - audio:say:stop
        from:
          description: Member ID
          type: string
        body:
          type: object
          properties:
            say_id:
              type: string
        timestamp:
          $ref: "#/components/schemas/timestamp_created"
        _embedded:
          $ref: "#/components/schemas/embedded_event_from"
        _links:
          $ref: "#/components/schemas/event_links"
    audiosaydone_event_response:
      description: audio:say:done - Playing TTS has stopped
      type: object
      properties:
        id:
          type: integer
          description: Event id. This is a progressive integer
        type:
          type: string
          enum:
            - audio:say:done
        from:
          description: Member ID
          type: string
        body:
          type: object
          properties:
            say_id:
              type: string
        timestamp:
          $ref: "#/components/schemas/timestamp_created"
        _embedded:
          $ref: "#/components/schemas/embedded_event_from"
        _links:
          $ref: "#/components/schemas/event_links"
    audiodtmf_event_response:
      description: audio:dtmf - Play DTMF audio
      type: object
      properties:
        id:
          type: integer
          description: Event id. This is a progressive integer
        type:
          type: string
          enum:
            - audio:dtmf
        from:
          description: Member ID
          type: string
        body:
          description: method and duration are added when you want any IP user in a call
            to not only recieve the event but hear the dialtones in the mixer.
          oneOf:
            - $ref: "#/components/schemas/audiodtmf_body_digit_no_method"
            - $ref: "#/components/schemas/audiodtmf_body_digits_no_method"
            - $ref: "#/components/schemas/audiodtmf_body_digit"
            - $ref: "#/components/schemas/audiodtmf_body_digits"
        timestamp:
          $ref: "#/components/schemas/timestamp_created"
        _embedded:
          $ref: "#/components/schemas/embedded_event_from"
        _links:
          $ref: "#/components/schemas/event_links"
    audiorecord_event_response:
      description: audio:record - Record the audio
      type: object
      properties:
        id:
          type: integer
          description: Event id. This is a progressive integer
        type:
          type: string
          enum:
            - audio:record
        from:
          description: Member ID
          type: string
        body:
          type: object
          properties:
            recording_id:
              type: string
            validity:
              type: integer
            streamed:
              type: boolean
            format:
              type: string
            beep_start:
              type: boolean
            beep_stop:
              type: boolean
            detect_speech:
              type: boolean
            split:
              type: boolean
            mulitrack:
              type: boolean
            channels:
              type: integer
            transcription:
              type: object
              properties:
                language:
                  type: string
                sentiment_analysis:
                  type: boolean
        timestamp:
          $ref: "#/components/schemas/timestamp_created"
        _embedded:
          $ref: "#/components/schemas/embedded_event_from"
        _links:
          $ref: "#/components/schemas/event_links"
    audiorecorddone_event_response:
      description: audio:record:done - Recording the audio has completed
      type: object
      properties:
        id:
          type: integer
          description: Event id. This is a progressive integer
        type:
          type: string
          enum:
            - audio:record:done
        from:
          description: Member ID
          type: string
        body:
          type: object
          properties:
            event_id:
              type: integer
            recording_id:
              type: string
            destination_url:
              type: string
            format:
              type: string
            start_time:
              type: string
              example: 2020-01-01T14:00:00.00Z
            end_time:
              type: string
              example: 2020-01-01T14:00:00.00Z
            size:
              type: integer
        timestamp:
          $ref: "#/components/schemas/timestamp_created"
        _embedded:
          $ref: "#/components/schemas/embedded_event_from"
        _links:
          $ref: "#/components/schemas/event_links"
    audiorecordstop_event_response:
      description: audio:record:stop - Stop current recording of audio
      type: object
      properties:
        id:
          type: integer
          description: Event id. This is a progressive integer
        type:
          type: string
          enum:
            - audio:record:stop
        from:
          description: Member ID
          type: string
        body:
          type: object
          properties:
            record_id:
              type: string
        timestamp:
          $ref: "#/components/schemas/timestamp_created"
        _embedded:
          $ref: "#/components/schemas/embedded_event_from"
        _links:
          $ref: "#/components/schemas/event_links"
    audiomuteon_event_response:
      description: audio:mute:on - Mute audio
      type: object
      properties:
        id:
          type: integer
          description: Event id. This is a progressive integer
        type:
          type: string
          enum:
            - audio:mute:on
        from:
          description: Member ID
          type: string
        body:
          type: object
          properties:
            rtc_id:
              type: string
        timestamp:
          $ref: "#/components/schemas/timestamp_created"
        _embedded:
          $ref: "#/components/schemas/embedded_event_from"
        _links:
          $ref: "#/components/schemas/event_links"
    audiomuteoff_event_response:
      description: audio:mute:off - Unmute audio
      type: object
      properties:
        id:
          type: integer
          description: Event id. This is a progressive integer
        type:
          type: string
          enum:
            - audio:mute:off
        from:
          description: Member ID
          type: string
        body:
          type: object
          properties:
            rtc_id:
              type: string
        timestamp:
          $ref: "#/components/schemas/timestamp_created"
        _embedded:
          $ref: "#/components/schemas/embedded_event_from"
        _links:
          $ref: "#/components/schemas/event_links"
    audioearmuffon_event_response:
      description: audio:earmuff:on - Turn on audio earmuff
      type: object
      properties:
        id:
          type: integer
          description: Event id. This is a progressive integer
        type:
          type: string
          enum:
            - audio:earmuff:on
        from:
          description: Member ID
          type: string
        body:
          type: object
          properties:
            rtc_id:
              type: string
        timestamp:
          $ref: "#/components/schemas/timestamp_created"
        _embedded:
          $ref: "#/components/schemas/embedded_event_from"
        _links:
          $ref: "#/components/schemas/event_links"
    audioearmuffoff_event_response:
      description: audio:earmuff:off - Turn off audio earmuff
      type: object
      properties:
        id:
          type: integer
          description: Event id. This is a progressive integer
        type:
          type: string
          enum:
            - audio:earmuff:off
        from:
          description: Member ID
          type: string
        body:
          type: object
          properties:
            rtc_id:
              type: string
        timestamp:
          $ref: "#/components/schemas/timestamp_created"
        _embedded:
          $ref: "#/components/schemas/embedded_event_from"
        _links:
          $ref: "#/components/schemas/event_links"
    audiospeakingon_event_response:
      description: audio:speaking:on - Speaking on
      type: object
      properties:
        id:
          type: integer
          description: Event id. This is a progressive integer
        type:
          type: string
          enum:
            - audio:speaking:on
        from:
          description: Member ID
          type: string
        body:
          type: object
          properties:
            channel:
              $ref: "#/components/schemas/event_channel"
        timestamp:
          $ref: "#/components/schemas/timestamp_created"
        _embedded:
          $ref: "#/components/schemas/embedded_event_from"
        _links:
          $ref: "#/components/schemas/event_links"
    audiospeakingoff_event_response:
      description: audio:speaking:off - Speaking off
      type: object
      properties:
        id:
          type: integer
          description: Event id. This is a progressive integer
        type:
          type: string
          enum:
            - audio:speaking:off
        from:
          description: Member ID
          type: string
        body:
          type: object
          properties:
            channel:
              $ref: "#/components/schemas/event_channel"
        timestamp:
          $ref: "#/components/schemas/timestamp_created"
        _embedded:
          $ref: "#/components/schemas/embedded_event_from"
        _links:
          $ref: "#/components/schemas/event_links"
    audioasrdone_event_response:
      description: audio:asr:done - Automatic speech recognition completed
      type: object
      properties:
        id:
          type: integer
          description: Event id. This is a progressive integer
        type:
          type: string
          enum:
            - audio:asr:done
        from:
          description: Member ID
          type: string
        body:
          type: object
          properties:
            channel:
              $ref: "#/components/schemas/event_channel"
            asr:
              type: object
              properties:
                results:
                  type: array
                  items:
                    properties:
                      word:
                        type: string
                      confidence:
                        type: number
                error:
                  type: string
                asr_id:
                  type: string
                call_id:
                  type: string
                timeout_reason:
                  type: string
        timestamp:
          $ref: "#/components/schemas/timestamp_created"
        _embedded:
          $ref: "#/components/schemas/embedded_event_from"
        _links:
          $ref: "#/components/schemas/event_links"
    audioasrrecorddone_event_response:
      description: audio:asr:record:done - Automatic speech recognition of recording
        completed
      type: object
      properties:
        id:
          type: integer
          description: Event id. This is a progressive integer
        type:
          type: string
          enum:
            - audio:asr:record:done
        from:
          description: Member ID
          type: string
        body:
          type: object
          properties:
            channel:
              $ref: "#/components/schemas/event_channel"
            asr:
              type: object
              properties:
                error:
                  type: string
                asr_id:
                  type: string
                call_id:
                  type: string
                destination_url:
                  type: string
                format:
                  type: string
                  enum:
                    - mp3
                    - wav
                start_time:
                  type: string
                  example: 2020-01-01T14:00:00.00Z
                end_time:
                  type: string
                  example: 2020-01-01T14:00:00.00Z
                size:
                  type: integer
                media_service_uuid:
                  type: string
        timestamp:
[...]
