openapi: 3.0.3
info:
  title: OAuth 2.0 Authentication
  description: |-
    OAuth 2.0 stands for Open Authorization, an industry-standard protocol for Authorization. To set up OAuth 2.0, first, 
    create an app in the jumper apigee dev portal with the callback url. And once the app is created, get the API Key / Secret 
    and use these credentials to generate authorization code.
    
    Steps to generate the access_token and a refresh_token
    
    1. Create an App from developer portal, with required scope
    2. Note down the client_key/API_KEY and client_secret/API_SECRET for the application, as these will be utilised to generate the access token for the merchant.
    3. Generate the Jumper Login link, following are the parameters required to generate the jumper login link
          - client_id - Client Key based on your App API_KEY information
          - response_type - Always Pass it as a "code" string parameter, it implies that a code would be generated at redirect_uri
          - scope - Pass the scope based on API Product allowed OAuth scopes
          - redirect_uri - Pass the redirect URI to which the login needs to be redirected to after the code has been generated (Please make sure to provide the same whitelisted one that was provided at the time of App generation)
          - state - An optional parameter to pass custom identifier
       Please have a look over how an example login link is supposed to look

       Example Login URL - https://api.jumper.ai/oauth/login?client_id={client_id}&response_type=code&scope=order&redirect_uri={redirect_uri}&state={state}
       
    4. Use the above generated link to Connect the app to a merchant account. Using the link merchant would be prompted to approve the app to use the required resources.
    5. Once approved the procedure would come back to GET method provided redirect_uri along with code, merchant_id, scope and provided state.
       Have a look over how the redirect_uri would look once merchant has approved, This is basically the screen that would be displayed to merchant once they have connected the app. 

       Example Redirect Url - {redirect_uri}?code={code}&response_type=code&scope=order&merchant_id={merchant_id}&state={state}
  
    5. Collect out the follwoing parameters from the GET {redirect_uri} request, and use them to generate out an Access and a Refresh Token
          - code - String of random characters used to verify the conclusion of Authentication
          - redirect_uri - Redirect URL without any URL parameters
          - merchant_id - Unique merchantid param that will be used to generate the access token

    6. Use the /oauth/token APIs along with client_key and client_secret stored previously to generate out an access token.

  version: 1.0.0
  contact: {}

servers:
- url: https://api.jumper.ai

paths:
  /oauth/token:
    post:
      tags:
      - OAuth 2.0 API
      summary: 'Generate Access Token'
      description: Using this api, access_token can be generated by authorization code. 
        But once authorization code is used, it requires re-authorize the app to regenerate the authorization code.
      operationId: generateAccessToken
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                  example: "ieBB08Gn"
                  description: "authorization code that client will exchange for an access token"
                grant_type:
                  type: string
                  example: "authorization_code"
                  description: "authorization_code grant type enables a client application to obtain authorized access"
                redirect_uri:
                  type: string
                  example: "https://jumper.ai/oauth-prod-test-result"
                  description: "redirect_uri is an address used by OAuth to return the access_token"
                client_id:
                  type: string
                  example: "JKltltsnwpv9fyAfwf3EDt2d7G71PRSms6Sw6YzYrXdfS1hG"
                  description: "Client Key based on your App API_KEY information"
                client_secret:
                  type: string
                  example: "AAU2d2WCPi6Cmh58vBBLkUmgcfPajUQAiA2aiXA6IIpAFsOYEwuhzgGGD1PJpb6h"
                  description: "client_secret information based on the APP information"
                merchant_id:
                  type: integer
                  example: 4975680077955072
                  description: "Merchant id which we get in redirect url"
            example:
              code: "ieBB08Gn"
              grant_type: 'authorization_code'
              redirect_uri: "https://jumper.ai/oauth-prod-test-result"
              client_id: "JKltltsnwpv9fyAfwf3EDt2d7G71PRSms6Sw6YzYrXdfS1hG"
              client_secret: "AAU2d2WCPi6Cmh58vBBLkUmgcfPajUQAiA2aiXA6IIpAFsOYEwuhzgGGD1PJpb6h"
              merchant_id: 4975680077955072
      responses:
        '200':
          description: 'access_token & refresh_token gets generated'
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    example: 'eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJ6cGhBMUdCM0tWdjF6ejViem9Ma0hic0dRNVlTIiwiYXVkIjoiSktsdGx0c253cHY5ZnlBZndmM0VEdDJkN0c3MVBSU21zNlN3Nll6WXJYZGZTMWhHIiwiaXNzIjoidXJuOlwvXC9hcGlnZWUtZWRnZS1KV1QtcG9saWN5LXRlc3QiLCJtZXJjaGFudF9pZCI6IjY3MTYzOTA4NjMwMTE4NDAiLCJleHAiOjE2ODE5MzYyODUsImlhdCI6MTY3NDE2MDI4NSwianRpIjoiMGQ2ZGIyY2EtYjE0Yi00OTNjLTg2ODktZjZiOGU0NDZiMDgyIn0.jLXYTYOqzpS8k9yutoK787WRZ-bLgChOJfejEaNthy8neughmI6hi19WQxLyiHWtUelT09dAtOYNtxz0y3f7vHElHhA7vkT0zBYMKiBrqWcNvrE30RbpwK_GguKdb3Cid8aH9WAaElZSX8TspUGss05iCbEp9JlHLH9VMRrEAB_kuQWdsSUfbR8JlF2fLWhIjoRQNKoPld3-ScZd2GPCPfDzWTO-xoOEaVd21Lbq06r782GRnGFTWfBpvjch6uiH1zFsflGSg5iP-4qeS-w8dqQt4C9SBcYOlBnjwOL6n2IVQP_K15hEf3gg-OnadwiZE-rzZDBgfuKG21tPrQVGnA'
                    description: 'access_token is a string that identifies user identity'
                  refresh_token:
                    type: string
                    example: 'eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJ6cGhBMUdCM0tWdjF6ejViem9Ma0hic0dRNVlTIiwiYXVkIjoiSktsdGx0c253cHY5ZnlBZndmM0VEdDJkN0c3MVBSU21zNlN3Nll6WXJYZGZTMWhHIiwiaXNzIjoidXJuOlwvXC9hcGlnZWUtZWRnZS1KV1QtcG9saWN5LXRlc3QiLCJtZXJjaGFudF9pZCI6IjY3MTYzOTA4NjMwMTE4NDAiLCJleHAiOjE2ODE5MzYyODUsImlhdCI6MTY3NDE2MDI4NSwianRpIjoiMTVmMDg1ZDMtNWRlZi00ZGJjLTk2YTUtYmY3NWEyZTg4YjI1In0.QaYB_MZq96iTspHE1IHRosgU3LT_lm38qh7lZKxEsIPuIlbNmtWkbcsTJEdTq4U-jMFGI69c3sHaezP0b5qvWutjatJeLa4SAZw7rpCr11vQISYNIzDhZgoOVooRmxDbJbHyq0_lT-25Pnoz4qqMTagQJdXWl20apWZZk-WU9MVTKN0cVH-2wngCMM_HEjs-RrLnAeIPXORMAUWTiiZSblR2nxwuGu9uNbtcSkV_kRoAS-aRo5duv3v8niA4iAxUEFebldeTC8v9Zcpm2IloSMdHpe9uhKjOf0BRZos_nZ-p3ryPFPDJOrgzGub1lZm9A1eApjcP_gPlBeJKptIv1A'
                    description: 'refresh_token use to generate a new access_token and expires in 90days'
                  expires_in:
                    type: string
                    example: '2591999'
                    description: 'token expiry timelimit in seconds, Please assign the new ones before this expires'
              examples:
                'access_token / refresh_token generated':
                  value:
                    access_token: 'eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJ6cGhBMUdCM0tWdjF6ejViem9Ma0hic0dRNVlTIiwiYXVkIjoiSktsdGx0c253cHY5ZnlBZndmM0VEdDJkN0c3MVBSU21zNlN3Nll6WXJYZGZTMWhHIiwiaXNzIjoidXJuOlwvXC9hcGlnZWUtZWRnZS1KV1QtcG9saWN5LXRlc3QiLCJtZXJjaGFudF9pZCI6IjY3MTYzOTA4NjMwMTE4NDAiLCJleHAiOjE2ODE5MzYyODUsImlhdCI6MTY3NDE2MDI4NSwianRpIjoiMGQ2ZGIyY2EtYjE0Yi00OTNjLTg2ODktZjZiOGU0NDZiMDgyIn0.jLXYTYOqzpS8k9yutoK787WRZ-bLgChOJfejEaNthy8neughmI6hi19WQxLyiHWtUelT09dAtOYNtxz0y3f7vHElHhA7vkT0zBYMKiBrqWcNvrE30RbpwK_GguKdb3Cid8aH9WAaElZSX8TspUGss05iCbEp9JlHLH9VMRrEAB_kuQWdsSUfbR8JlF2fLWhIjoRQNKoPld3-ScZd2GPCPfDzWTO-xoOEaVd21Lbq06r782GRnGFTWfBpvjch6uiH1zFsflGSg5iP-4qeS-w8dqQt4C9SBcYOlBnjwOL6n2IVQP_K15hEf3gg-OnadwiZE-rzZDBgfuKG21tPrQVGnA'
                    refresh_token: 'eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJ6cGhBMUdCM0tWdjF6ejViem9Ma0hic0dRNVlTIiwiYXVkIjoiSktsdGx0c253cHY5ZnlBZndmM0VEdDJkN0c3MVBSU21zNlN3Nll6WXJYZGZTMWhHIiwiaXNzIjoidXJuOlwvXC9hcGlnZWUtZWRnZS1KV1QtcG9saWN5LXRlc3QiLCJtZXJjaGFudF9pZCI6IjY3MTYzOTA4NjMwMTE4NDAiLCJleHAiOjE2ODE5MzYyODUsImlhdCI6MTY3NDE2MDI4NSwianRpIjoiMTVmMDg1ZDMtNWRlZi00ZGJjLTk2YTUtYmY3NWEyZTg4YjI1In0.QaYB_MZq96iTspHE1IHRosgU3LT_lm38qh7lZKxEsIPuIlbNmtWkbcsTJEdTq4U-jMFGI69c3sHaezP0b5qvWutjatJeLa4SAZw7rpCr11vQISYNIzDhZgoOVooRmxDbJbHyq0_lT-25Pnoz4qqMTagQJdXWl20apWZZk-WU9MVTKN0cVH-2wngCMM_HEjs-RrLnAeIPXORMAUWTiiZSblR2nxwuGu9uNbtcSkV_kRoAS-aRo5duv3v8niA4iAxUEFebldeTC8v9Zcpm2IloSMdHpe9uhKjOf0BRZos_nZ-p3ryPFPDJOrgzGub1lZm9A1eApjcP_gPlBeJKptIv1A'
                    expires_in: '2591999'
  /oauth/refresh:
    post:
      tags:
        - OAuth 2.0 API
      summary: 'Generate Access Token by passing refresh token'
      description: Before an access_token is expired, Use this API to generate the new access and refresh tokens. This would require Basic Authentication of Client_key and Client_secret
      operationId: generateAccessTokenFromRefreshToken
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
            format: Basic <base64encoded key and secret>
            example: Basic UVdGNEt3MXFkR3NLcXhaV1AzR3o5akhaMTVXS0dmY29vR1B5Q3N6dzd1bEVjemNaOnFtV0tmbGROeHNPR0JNMzUzOW9qN2VwcVV5Q2Y5OEVMRjBhWUdZNWV1V0RHQkpPTGVNTjVCSm5EZ1V0aFdTamY=
          description: Basic level Authentication using base64 encode <client_key + ":" + client_secret>
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                refresh_token:
                  type: string
                  example: "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJ6cGhBMUdCM0tWdjF6ejViem9Ma0hic0dRNVlTIiwiYXVkIjoiSktsdGx0c253cHY5ZnlBZndmM0VEdDJkN0c3MVBSU21zNlN3Nll6WXJYZGZTMWhHIiwiaXNzIjoidXJuOlwvXC9hcGlnZWUtZWRnZS1KV1QtcG9saWN5LXRlc3QiLCJtZXJjaGFudF9pZCI6IjY3MTYzOTA4NjMwMTE4NDAiLCJleHAiOjE2ODE5MzYyODUsImlhdCI6MTY3NDE2MDI4NSwianRpIjoiMTVmMDg1ZDMtNWRlZi00ZGJjLTk2YTUtYmY3NWEyZTg4YjI1In0.QaYB_MZq96iTspHE1IHRosgU3LT_lm38qh7lZKxEsIPuIlbNmtWkbcsTJEdTq4U-jMFGI69c3sHaezP0b5qvWutjatJeLa4SAZw7rpCr11vQISYNIzDhZgoOVooRmxDbJbHyq0_lT-25Pnoz4qqMTagQJdXWl20apWZZk-WU9MVTKN0cVH-2wngCMM_HEjs-RrLnAeIPXORMAUWTiiZSblR2nxwuGu9uNbtcSkV_kRoAS-aRo5duv3v8niA4iAxUEFebldeTC8v9Zcpm2IloSMdHpe9uhKjOf0BRZos_nZ-p3ryPFPDJOrgzGub1lZm9A1eApjcP_gPlBeJKptIv1A"
                  description: "Refresh token"
                grant_type:
                  type: string
                  example: "refresh_token"
                  description: "To regenerate the token, grant_type refresh_token is used."
            example:
              refresh_token: "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJ6cGhBMUdCM0tWdjF6ejViem9Ma0hic0dRNVlTIiwiYXVkIjoiSktsdGx0c253cHY5ZnlBZndmM0VEdDJkN0c3MVBSU21zNlN3Nll6WXJYZGZTMWhHIiwiaXNzIjoidXJuOlwvXC9hcGlnZWUtZWRnZS1KV1QtcG9saWN5LXRlc3QiLCJtZXJjaGFudF9pZCI6IjY3MTYzOTA4NjMwMTE4NDAiLCJleHAiOjE2ODE5MzYyODUsImlhdCI6MTY3NDE2MDI4NSwianRpIjoiMTVmMDg1ZDMtNWRlZi00ZGJjLTk2YTUtYmY3NWEyZTg4YjI1In0.QaYB_MZq96iTspHE1IHRosgU3LT_lm38qh7lZKxEsIPuIlbNmtWkbcsTJEdTq4U-jMFGI69c3sHaezP0b5qvWutjatJeLa4SAZw7rpCr11vQISYNIzDhZgoOVooRmxDbJbHyq0_lT-25Pnoz4qqMTagQJdXWl20apWZZk-WU9MVTKN0cVH-2wngCMM_HEjs-RrLnAeIPXORMAUWTiiZSblR2nxwuGu9uNbtcSkV_kRoAS-aRo5duv3v8niA4iAxUEFebldeTC8v9Zcpm2IloSMdHpe9uhKjOf0BRZos_nZ-p3ryPFPDJOrgzGub1lZm9A1eApjcP_gPlBeJKptIv1A"
              grant_type: "refresh_token"
      responses:
        '200':
          description: 'access_token & refresh_token generated'
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    example: 'eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJ6cGhBMUdCM0tWdjF6ejViem9Ma0hic0dRNVlTIiwiYXVkIjoiSktsdGx0c253cHY5ZnlBZndmM0VEdDJkN0c3MVBSU21zNlN3Nll6WXJYZGZTMWhHIiwiaXNzIjoidXJuOlwvXC9hcGlnZWUtZWRnZS1KV1QtcG9saWN5LXRlc3QiLCJtZXJjaGFudF9pZCI6IjY3MTYzOTA4NjMwMTE4NDAiLCJleHAiOjE2ODE5MzYyODUsImlhdCI6MTY3NDE2MDI4NSwianRpIjoiMGQ2ZGIyY2EtYjE0Yi00OTNjLTg2ODktZjZiOGU0NDZiMDgyIn0.jLXYTYOqzpS8k9yutoK787WRZ-bLgChOJfejEaNthy8neughmI6hi19WQxLyiHWtUelT09dAtOYNtxz0y3f7vHElHhA7vkT0zBYMKiBrqWcNvrE30RbpwK_GguKdb3Cid8aH9WAaElZSX8TspUGss05iCbEp9JlHLH9VMRrEAB_kuQWdsSUfbR8JlF2fLWhIjoRQNKoPld3-ScZd2GPCPfDzWTO-xoOEaVd21Lbq06r782GRnGFTWfBpvjch6uiH1zFsflGSg5iP-4qeS-w8dqQt4C9SBcYOlBnjwOL6n2IVQP_K15hEf3gg-OnadwiZE-rzZDBgfuKG21tPrQVGnA'
                    description: 'access_token is a string that identifies user identity'
                  refresh_token:
                    type: string
                    example: 'eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJ6cGhBMUdCM0tWdjF6ejViem9Ma0hic0dRNVlTIiwiYXVkIjoiSktsdGx0c253cHY5ZnlBZndmM0VEdDJkN0c3MVBSU21zNlN3Nll6WXJYZGZTMWhHIiwiaXNzIjoidXJuOlwvXC9hcGlnZWUtZWRnZS1KV1QtcG9saWN5LXRlc3QiLCJtZXJjaGFudF9pZCI6IjY3MTYzOTA4NjMwMTE4NDAiLCJleHAiOjE2ODE5MzYyODUsImlhdCI6MTY3NDE2MDI4NSwianRpIjoiMTVmMDg1ZDMtNWRlZi00ZGJjLTk2YTUtYmY3NWEyZTg4YjI1In0.QaYB_MZq96iTspHE1IHRosgU3LT_lm38qh7lZKxEsIPuIlbNmtWkbcsTJEdTq4U-jMFGI69c3sHaezP0b5qvWutjatJeLa4SAZw7rpCr11vQISYNIzDhZgoOVooRmxDbJbHyq0_lT-25Pnoz4qqMTagQJdXWl20apWZZk-WU9MVTKN0cVH-2wngCMM_HEjs-RrLnAeIPXORMAUWTiiZSblR2nxwuGu9uNbtcSkV_kRoAS-aRo5duv3v8niA4iAxUEFebldeTC8v9Zcpm2IloSMdHpe9uhKjOf0BRZos_nZ-p3ryPFPDJOrgzGub1lZm9A1eApjcP_gPlBeJKptIv1A'
                    description: 'refresh_token use to generate a new access_token and expires in 90 days'
                  expires_in:
                    type: string
                    example: '2591999'
                    description: 'token expiry timeline'
              examples:
                'access_token / refresh_token generated':
                  value:
                    access_token: 'eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJ6cGhBMUdCM0tWdjF6ejViem9Ma0hic0dRNVlTIiwiYXVkIjoiSktsdGx0c253cHY5ZnlBZndmM0VEdDJkN0c3MVBSU21zNlN3Nll6WXJYZGZTMWhHIiwiaXNzIjoidXJuOlwvXC9hcGlnZWUtZWRnZS1KV1QtcG9saWN5LXRlc3QiLCJtZXJjaGFudF9pZCI6IjY3MTYzOTA4NjMwMTE4NDAiLCJleHAiOjE2ODE5MzYyODUsImlhdCI6MTY3NDE2MDI4NSwianRpIjoiMGQ2ZGIyY2EtYjE0Yi00OTNjLTg2ODktZjZiOGU0NDZiMDgyIn0.jLXYTYOqzpS8k9yutoK787WRZ-bLgChOJfejEaNthy8neughmI6hi19WQxLyiHWtUelT09dAtOYNtxz0y3f7vHElHhA7vkT0zBYMKiBrqWcNvrE30RbpwK_GguKdb3Cid8aH9WAaElZSX8TspUGss05iCbEp9JlHLH9VMRrEAB_kuQWdsSUfbR8JlF2fLWhIjoRQNKoPld3-ScZd2GPCPfDzWTO-xoOEaVd21Lbq06r782GRnGFTWfBpvjch6uiH1zFsflGSg5iP-4qeS-w8dqQt4C9SBcYOlBnjwOL6n2IVQP_K15hEf3gg-OnadwiZE-rzZDBgfuKG21tPrQVGnA'
                    refresh_token: 'eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJ6cGhBMUdCM0tWdjF6ejViem9Ma0hic0dRNVlTIiwiYXVkIjoiSktsdGx0c253cHY5ZnlBZndmM0VEdDJkN0c3MVBSU21zNlN3Nll6WXJYZGZTMWhHIiwiaXNzIjoidXJuOlwvXC9hcGlnZWUtZWRnZS1KV1QtcG9saWN5LXRlc3QiLCJtZXJjaGFudF9pZCI6IjY3MTYzOTA4NjMwMTE4NDAiLCJleHAiOjE2ODE5MzYyODUsImlhdCI6MTY3NDE2MDI4NSwianRpIjoiMTVmMDg1ZDMtNWRlZi00ZGJjLTk2YTUtYmY3NWEyZTg4YjI1In0.QaYB_MZq96iTspHE1IHRosgU3LT_lm38qh7lZKxEsIPuIlbNmtWkbcsTJEdTq4U-jMFGI69c3sHaezP0b5qvWutjatJeLa4SAZw7rpCr11vQISYNIzDhZgoOVooRmxDbJbHyq0_lT-25Pnoz4qqMTagQJdXWl20apWZZk-WU9MVTKN0cVH-2wngCMM_HEjs-RrLnAeIPXORMAUWTiiZSblR2nxwuGu9uNbtcSkV_kRoAS-aRo5duv3v8niA4iAxUEFebldeTC8v9Zcpm2IloSMdHpe9uhKjOf0BRZos_nZ-p3ryPFPDJOrgzGub1lZm9A1eApjcP_gPlBeJKptIv1A'
                    expires_in: '2591999'
  /app/add-subscription:
    post:
      tags:
        - OAuth 2.0 API
      summary: 'Setup event based trigger over different functionality by subscribing to the app'
      description: To setup an event based trigger over order updates, inventory updates, chat updates. After registering the app, developer has an option to subscription to their target endpoint. They will receive the event on the POST method of target endpoint.
      operationId: createAppSubscription
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
            format: Bearer <token>
            example: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJXNjdvZVpPVTBUU004QlFBaFZzeXBvRzdOcXRaIiwiYXVkIjoiUVdGNEt3MXFkR3NLcXhaV1AzR3o5akhaMTVXS0dmY29vR1B5Q3N6dzd1bEVjemNaIiwiaXNzIjoidXJuOlwvXC9hcGlnZWUtZWRnZS1KV1QtcG9saWN5LXRlc3QiLCJtZXJjaGFudF9pZCI6IjQ3NjY4ODEzNzgyMDU2OTYiLCJleHAiOjE2ODU1Mjc5ODMsImlhdCI6MTY3Nzc1MTk4MywianRpIjoiZWQ1YzljOGItZTRmOC00MGQ5LTkxNGQtZmM3Yzg4NGFlMDBiIn0.PJOMZKvFxcFBKFlhHP5UQT3KnOKjbwHCX7E84-tvZI1eEo2bENidua7VZLPTvQlRAHHHyL497cB36zmTTbr1jwl0J_UzLq9x_1_1_cAsUAH5BxB1d8YE_5Veui5SUCMj_2cvi4uVhROgA_b8UEXB7r2fdghcw2saXGNG3Srn0xnHHCDxwoxzG2tI670f7S7E8XiT1f_MUWm3CJsHDtRFi0Fef9zzjuWr4HXlzk7FtZQhHzvnr_AtqkP20ImfhjhjO52TQMdO3AQV5lzKi-K5AAODP5Lc0tt0BySRAk4qVS2qR7cEZGNW240t_Ok-rWSagSghsQs9TNZr_mCi_e7zhw","refresh_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiI3Z3M1QTBVdkl0V1ZBRXdaRzFId09wUGNyb1BZMzRBZyIsImF1ZCI6IlFXRjRLdzFxZEdzS3F4WldQM0d6OWpIWjE1V0tHZmNvb0dQeUNzenc3dWxFY3pjWiIsImlzcyI6InVybjpcL1wvYXBpZ2VlLWVkZ2UtSldULXBvbGljeS10ZXN0IiwibWVyY2hhbnRfaWQiOiI0NzY2ODgxMzc4MjA1Njk2IiwiZXhwIjoxNjg1NTI3OTgzLCJpYXQiOjE2Nzc3NTE5ODMsImp0aSI6Ijg0NjcwZjU0LWMwYzAtNDVjNi05Nzg4LWNlYjQxNGE5NzRjZiJ9.h8bwm-ny2cMl5Xzkh0QhaWr_oSUMTpKFrDPAesCBtN4uEnQSGxB6bqVOWebgbNxwYaPAIC79RZitaQ0NxCfNffPBm1nZr4dPchl_JTJOx13EDWdx8iZeG4_CBSYnsBCQ7L934pgmupV5qx4pkL3trU2fr3Z-wQHBo01e8vPaSMlCbso94NarXZMsBY_9Z5ALMimYRk0H7yiJ0XQk2JM6W6gbiQ67F3m5UImsYb_rge8IhLlCsgdTyWSw6lpkqs31pFv1N8tKdGN-XdOlrPwYl3d7-els04wg3XZPsASufnoP-hooTELPNdl-FUFHX7plBl5Uvng85y1XzHzIO9IWqA
          description: Authentication using Bearer Token
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    permission:
                      type: string
                      example: order,crm,product
                      description: These are the comma separated permission or subscription of which event has setup
                    webhook:
                      type: string
                      example: https://test-merchant.com/jumper-order
                      description: Receive the event on the POST method of this webhook
                  example: 
                    permission: order,crm,product
                    webhook: https://test-merchant.com/jumper-order
              example: 
                permission: order,crm,product
                webhook: https://test-merchant.com/jumper-order
            example: 
              permission: order,crm,product
              webhook: https://test-merchant.com/jumper-order
      responses:
        '200':
          description: Fetch app subscriptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppSubscription'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /app/delete-subscription:
    post:
      tags:
        - OAuth 2.0 API
      summary: Unsubscribing from the event
      description: After subscribing to the app, the developer can unsubscribe from the subscription. By unsubscribing, the developer won't receive any order, inventory, or chat updates.	
      operationId: deleteAppSubscription
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
            format: Bearer <token>
            example: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJXNjdvZVpPVTBUU004QlFBaFZzeXBvRzdOcXRaIiwiYXVkIjoiUVdGNEt3MXFkR3NLcXhaV1AzR3o5akhaMTVXS0dmY29vR1B5Q3N6dzd1bEVjemNaIiwiaXNzIjoidXJuOlwvXC9hcGlnZWUtZWRnZS1KV1QtcG9saWN5LXRlc3QiLCJtZXJjaGFudF9pZCI6IjQ3NjY4ODEzNzgyMDU2OTYiLCJleHAiOjE2ODU1Mjc5ODMsImlhdCI6MTY3Nzc1MTk4MywianRpIjoiZWQ1YzljOGItZTRmOC00MGQ5LTkxNGQtZmM3Yzg4NGFlMDBiIn0.PJOMZKvFxcFBKFlhHP5UQT3KnOKjbwHCX7E84-tvZI1eEo2bENidua7VZLPTvQlRAHHHyL497cB36zmTTbr1jwl0J_UzLq9x_1_1_cAsUAH5BxB1d8YE_5Veui5SUCMj_2cvi4uVhROgA_b8UEXB7r2fdghcw2saXGNG3Srn0xnHHCDxwoxzG2tI670f7S7E8XiT1f_MUWm3CJsHDtRFi0Fef9zzjuWr4HXlzk7FtZQhHzvnr_AtqkP20ImfhjhjO52TQMdO3AQV5lzKi-K5AAODP5Lc0tt0BySRAk4qVS2qR7cEZGNW240t_Ok-rWSagSghsQs9TNZr_mCi_e7zhw","refresh_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiI3Z3M1QTBVdkl0V1ZBRXdaRzFId09wUGNyb1BZMzRBZyIsImF1ZCI6IlFXRjRLdzFxZEdzS3F4WldQM0d6OWpIWjE1V0tHZmNvb0dQeUNzenc3dWxFY3pjWiIsImlzcyI6InVybjpcL1wvYXBpZ2VlLWVkZ2UtSldULXBvbGljeS10ZXN0IiwibWVyY2hhbnRfaWQiOiI0NzY2ODgxMzc4MjA1Njk2IiwiZXhwIjoxNjg1NTI3OTgzLCJpYXQiOjE2Nzc3NTE5ODMsImp0aSI6Ijg0NjcwZjU0LWMwYzAtNDVjNi05Nzg4LWNlYjQxNGE5NzRjZiJ9.h8bwm-ny2cMl5Xzkh0QhaWr_oSUMTpKFrDPAesCBtN4uEnQSGxB6bqVOWebgbNxwYaPAIC79RZitaQ0NxCfNffPBm1nZr4dPchl_JTJOx13EDWdx8iZeG4_CBSYnsBCQ7L934pgmupV5qx4pkL3trU2fr3Z-wQHBo01e8vPaSMlCbso94NarXZMsBY_9Z5ALMimYRk0H7yiJ0XQk2JM6W6gbiQ67F3m5UImsYb_rge8IhLlCsgdTyWSw6lpkqs31pFv1N8tKdGN-XdOlrPwYl3d7-els04wg3XZPsASufnoP-hooTELPNdl-FUFHX7plBl5Uvng85y1XzHzIO9IWqA
          description: Authentication using Bearer Token
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                subscription_type:
                  type: string
                  example: order,crm,product
                  description: It requires same permission(comma separated), which are the given while creating subscription
            example:
              subscription_type: order,crm,product
      responses:
        '200':
          description: Delete App subscription
          content:
            application/json:
              schema:
                errorMessage:
                  type: string
                  example: ''
                  description: returns error message information
              examples:
                errorMessage: ''
                success: true
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /app/list-subscription:
    get:
      tags:
        - OAuth 2.0 API
      summary: List subscribed apps
      description: After setting up the event, they can view all the subscription here
      operationId: listAppSubscription
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
            format: Bearer <token>
            example: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJXNjdvZVpPVTBUU004QlFBaFZzeXBvRzdOcXRaIiwiYXVkIjoiUVdGNEt3MXFkR3NLcXhaV1AzR3o5akhaMTVXS0dmY29vR1B5Q3N6dzd1bEVjemNaIiwiaXNzIjoidXJuOlwvXC9hcGlnZWUtZWRnZS1KV1QtcG9saWN5LXRlc3QiLCJtZXJjaGFudF9pZCI6IjQ3NjY4ODEzNzgyMDU2OTYiLCJleHAiOjE2ODU1Mjc5ODMsImlhdCI6MTY3Nzc1MTk4MywianRpIjoiZWQ1YzljOGItZTRmOC00MGQ5LTkxNGQtZmM3Yzg4NGFlMDBiIn0.PJOMZKvFxcFBKFlhHP5UQT3KnOKjbwHCX7E84-tvZI1eEo2bENidua7VZLPTvQlRAHHHyL497cB36zmTTbr1jwl0J_UzLq9x_1_1_cAsUAH5BxB1d8YE_5Veui5SUCMj_2cvi4uVhROgA_b8UEXB7r2fdghcw2saXGNG3Srn0xnHHCDxwoxzG2tI670f7S7E8XiT1f_MUWm3CJsHDtRFi0Fef9zzjuWr4HXlzk7FtZQhHzvnr_AtqkP20ImfhjhjO52TQMdO3AQV5lzKi-K5AAODP5Lc0tt0BySRAk4qVS2qR7cEZGNW240t_Ok-rWSagSghsQs9TNZr_mCi_e7zhw","refresh_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiI3Z3M1QTBVdkl0V1ZBRXdaRzFId09wUGNyb1BZMzRBZyIsImF1ZCI6IlFXRjRLdzFxZEdzS3F4WldQM0d6OWpIWjE1V0tHZmNvb0dQeUNzenc3dWxFY3pjWiIsImlzcyI6InVybjpcL1wvYXBpZ2VlLWVkZ2UtSldULXBvbGljeS10ZXN0IiwibWVyY2hhbnRfaWQiOiI0NzY2ODgxMzc4MjA1Njk2IiwiZXhwIjoxNjg1NTI3OTgzLCJpYXQiOjE2Nzc3NTE5ODMsImp0aSI6Ijg0NjcwZjU0LWMwYzAtNDVjNi05Nzg4LWNlYjQxNGE5NzRjZiJ9.h8bwm-ny2cMl5Xzkh0QhaWr_oSUMTpKFrDPAesCBtN4uEnQSGxB6bqVOWebgbNxwYaPAIC79RZitaQ0NxCfNffPBm1nZr4dPchl_JTJOx13EDWdx8iZeG4_CBSYnsBCQ7L934pgmupV5qx4pkL3trU2fr3Z-wQHBo01e8vPaSMlCbso94NarXZMsBY_9Z5ALMimYRk0H7yiJ0XQk2JM6W6gbiQ67F3m5UImsYb_rge8IhLlCsgdTyWSw6lpkqs31pFv1N8tKdGN-XdOlrPwYl3d7-els04wg3XZPsASufnoP-hooTELPNdl-FUFHX7plBl5Uvng85y1XzHzIO9IWqA
          description: Authentication using Bearer Token
      responses:
        '200':
          description: Fetch All App subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppSubscription'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT Authorization using the Bearer scheme.
  responses:
    UnauthorizedError:
      description: Access token is missing or invalid
  schemas:
    AppSubscription:
      type: object
      properties:
        errorMessge:
          type: string
          example: ''
          description: returns error message information
        prev:
          type: string
          example: 'CkwKFAoHY3JlYXRlZBIJCKqI5cGayvsCEjBqD3N-anVtcGVyLTE0NzgwNnIdCxIQQnJvYWRjYXN0cHJlc2V0cxiAgLD94tiLCQwYACAB'
          description: This attribute is used as url parameter to fetch previous page
        data:
          type: object
          properties:
            delay:
              type: string
              example: '0'
              description: ''
            user_permission:
              type: string
              example: ''
              description: ''
            client_id:
              type: string
              example: 007d4079-872f-4f79-9996-690dfd49c94d
              description: 'App Client Id, provided by the Jumper'
            subscription_type:
              type: string
              example: 'order,crm,product'
              description: Comma separated subscription_type of which event has been triggered.
            merchant_id:
              type: string
              example: 4711955160891392
              description: Its 16 digit App Id
            webhook:
              type: string
              example: https://test-merchant.com/jumper-order
              description: Target endpoint where event has been passed
            id:
              type: string
              example: ag5wfmp1bXBlcmRldm5ld3IcCxIPQXBwU3Vic2NyaXB0aW9uGICAwLaw1-UKDA
              description: AppSubscription URL Safe key
            method:
              type: string
              example: 'POST'
              description: 'Webhook url method'
          example:
            delay: '0'
            user_permission:
            client_id: 007d4079-872f-4f79-9996-690dfd49c94d
            subscription_type: order,crm,product
            merchant_id: '4711955160891392'
            webhook: test2
            id: ag5wfmp1bXBlcmRldm5ld3IcCxIPQXBwU3Vic2NyaXB0aW9uGICAwLaw1-UKDA
            method: POST
        success:
          type: boolean
          example: true
          description: This returns true in case api run successfully.
        next:
          type: string
          example: 'CkwKFAoHY3JlYXRlZBIJCKqI5cGayvsCEjBqD3N-anVtcGVyLTE0NzgwNnIdCxIQQnJvYWRjYXN0cHJlc2V0cxiAgLD94tiLCQwYACAB'
          description: This attribute is used as url parameter to fetch next page
      example:
        errorMessage:
        prev: null
        data:
          - delay: '0'
            client_id: 007d4079-872f-4f79-9996-690dfd49c94d
            subscription_type: order,crm,product
            merchant_id: '4711955160891392'
            webhook: https://test-merchant.com/jumper-order
            id: ag5wfmp1bXBlcmRldm5ld3IcCxIPQXBwU3Vic2NyaXB0aW9uGICAwLaw1-UKDA
        success: true
        next: CkwKFAoHY3JlYXRlZBIJCKqI5cGayvsCEjBqD3N-anVtcGVyLTE0NzgwNnIdCxIQQnJvYWRjYXN0cHJlc2V0cxiAgLD94tiLCQwYACAB

tags:
- name: OAuth 2.0 API
  description: |-
    APIs to help setup OAuth2.0 over a merhant i.e. To connect the App to merchant account. This would be the starting point after developing the app as Bearer access_token genarated here would play a key component in all API hits. 
