openapi: 3.0.3
info:
  title: Orders API
  description: |-
    All of the Order's API would require App to have "order" permission and Merchant to have provided the permission to the App as well.

    Order data would contain the following information within it:

    1. OrderID - unique Id for reference
    2. Buyer - Information over Buyer's name, email etc.
    3. Address - Address to which the order is to be sent
    4. Cart - Cart item bought by Customer
    5. Product - If Cart not present this would be the product bought else this would contain details of Collection or Set
    6. Total Cost and Subtotal - To generate out Summary of transaction
    7. Gateway Information - via which Order has been paid
  version: 1.0.0
  contact: {}
servers:
- url: https://api.jumper.ai

paths:
  /orders/fetch-all-transactions:
    get:
      tags:
      - Orders API
      summary: 'Search Order via OrderID, Order Number'
      description: A paid Order could be searched via full or partial provision of ordernumber. Some of related orderid is responded.
      operationId: searchOrderViaOrderidOrderNumber
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
            format: Bearer <token>
            example: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJXNjdvZVpPVTBUU004QlFBaFZzeXBvRzdOcXRaIiwiYXVkIjoiUVdGNEt3MXFkR3NLcXhaV1AzR3o5akhaMTVXS0dmY29vR1B5Q3N6dzd1bEVjemNaIiwiaXNzIjoidXJuOlwvXC9hcGlnZWUtZWRnZS1KV1QtcG9saWN5LXRlc3QiLCJtZXJjaGFudF9pZCI6IjQ3NjY4ODEzNzgyMDU2OTYiLCJleHAiOjE2ODU1Mjc5ODMsImlhdCI6MTY3Nzc1MTk4MywianRpIjoiZWQ1YzljOGItZTRmOC00MGQ5LTkxNGQtZmM3Yzg4NGFlMDBiIn0.PJOMZKvFxcFBKFlhHP5UQT3KnOKjbwHCX7E84-tvZI1eEo2bENidua7VZLPTvQlRAHHHyL497cB36zmTTbr1jwl0J_UzLq9x_1_1_cAsUAH5BxB1d8YE_5Veui5SUCMj_2cvi4uVhROgA_b8UEXB7r2fdghcw2saXGNG3Srn0xnHHCDxwoxzG2tI670f7S7E8XiT1f_MUWm3CJsHDtRFi0Fef9zzjuWr4HXlzk7FtZQhHzvnr_AtqkP20ImfhjhjO52TQMdO3AQV5lzKi-K5AAODP5Lc0tt0BySRAk4qVS2qR7cEZGNW240t_Ok-rWSagSghsQs9TNZr_mCi_e7zhw","refresh_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiI3Z3M1QTBVdkl0V1ZBRXdaRzFId09wUGNyb1BZMzRBZyIsImF1ZCI6IlFXRjRLdzFxZEdzS3F4WldQM0d6OWpIWjE1V0tHZmNvb0dQeUNzenc3dWxFY3pjWiIsImlzcyI6InVybjpcL1wvYXBpZ2VlLWVkZ2UtSldULXBvbGljeS10ZXN0IiwibWVyY2hhbnRfaWQiOiI0NzY2ODgxMzc4MjA1Njk2IiwiZXhwIjoxNjg1NTI3OTgzLCJpYXQiOjE2Nzc3NTE5ODMsImp0aSI6Ijg0NjcwZjU0LWMwYzAtNDVjNi05Nzg4LWNlYjQxNGE5NzRjZiJ9.h8bwm-ny2cMl5Xzkh0QhaWr_oSUMTpKFrDPAesCBtN4uEnQSGxB6bqVOWebgbNxwYaPAIC79RZitaQ0NxCfNffPBm1nZr4dPchl_JTJOx13EDWdx8iZeG4_CBSYnsBCQ7L934pgmupV5qx4pkL3trU2fr3Z-wQHBo01e8vPaSMlCbso94NarXZMsBY_9Z5ALMimYRk0H7yiJ0XQk2JM6W6gbiQ67F3m5UImsYb_rge8IhLlCsgdTyWSw6lpkqs31pFv1N8tKdGN-XdOlrPwYl3d7-els04wg3XZPsASufnoP-hooTELPNdl-FUFHX7plBl5Uvng85y1XzHzIO9IWqA
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ordernumber:
                  type: string
                  example: JMP0084
                  description: OrderID to be searched, This could be full or part of it
                size:
                  type: string
                  example: '10'
                  description: Amount of Orders to be fetched
                seller:
                  type: boolean
                  example: true
                  description: Always set as True
              example:
                ordernumber: JMP0084
                size: '10'
                seller: true
            example:
              ordernumber: JMP0084
              size: '10'
              seller: true

      responses:
        '200':
          description: 'Search Order via OrderID, Order Number'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
              examples:
                orderDetailResponse:
                  value:
                    errorMessage: ''
                    success: true
                    total: 1
                    transactions:
                    - additional discount: '0.00'
                      address:
                        addressLine1: 136 Joo Chiat Terrace
                        addressLine2: ''
                        addresstype: personal
                        city: Singapore
                        closing_time: null
                        collectmobile: false
                        companyname: ''
                        country: Singapore
                        customer_countrycode: '+65'
                        customer_email: ''
                        customer_mobile: '93814638'
                        customer_name: ''
                        delivery: false
                        dinein: true
                        id: 6254986289741824
                        latitude: ''
                        longitude: ''
                        name: ''
                        opening_time: null
                        pincode: '427282'
                        radius: ''
                        radius_measure: ''
                        state: Singapore
                        support_contact: ''
                        support_email_verified: false
                        suppport_email: ''
                      billing_address:
                        addressLine1: "10 Shenton Way"
                        addressLine2: "Singapore"
                        addresstype: "personal"
                        city: "Singapore"
                        closing_time: null
                        collectmobile: false
                        companyname: ""
                        country: "Singapore"
                        customer_countrycode: "+65"
                        customer_email: ""
                        customer_mobile: "97541217"
                        customer_name: ""
                        delivery: false
                        dinein: true
                        id: 5580315091009536
                        latitude: ""
                        longitude: ""
                        name: ""
                        opening_time: null
                        pincode: "123456"
                        radius: ""
                        radius_measure: ""
                        state: "Singapore"
                        support_contact: ""
                        support_email_verified: false
                        suppport_email: ""
                        village: ""
                      buyer:
                        email: ankit@jumper.ai
                        firstName: Ankit
                        lasttName: C
                        mobileNumber: '93814638'
                        mobilecountrycode: '+65'
                        name: Ankit C
                      cancel: false
                      cancelled_reason: null
                      cart:
                      - askquantity: true
                        bundle_productids: ''
                        cost: '48.00'
                        currency: SGD
                        discount: false
                        discountamount: '0.00'
                        fulfilled: true
                        id: '4749400268079104'
                        image: https://lh3.googleusercontent.com/AbHiflmN02w676hObQKytPFyEnsR1WD9GwdfNlzfs9VyyFTolv_0m_VOTvxXvVpEf8ElnMSsehz_aOCRTluhHgY
                        name: img test
                        notes: ''
                        original_cost: '48.00'
                        productid: 5242568965095424
                        quantity: 4
                        quantity_limit: 99999999
                        reward: false
                        stock: 1203
                        subtitle: Color - Green
                        variationid: 5997416413134848
                      cash_on_delivery: true
                      collected_from_address:
                        addressLine1: 136 Joo Chiat Terrace
                        addressLine2: ''
                        addresstype: personal
                        city: Singapore
                        closing_time: null
                        collectmobile: false
                        companyname: ''
                        country: Singapore
                        customer_countrycode: '+65'
                        customer_email: ''
                        customer_mobile: '93814638'
                        customer_name: ''
                        delivery: false
                        dinein: true
                        id: 6254986289741824
                        latitude: ''
                        longitude: ''
                        name: ''
                        opening_time: null
                        pincode: '427282'
                        radius: ''
                        radius_measure: ''
                        state: Singapore
                        support_contact: ''
                        support_email_verified: false
                        suppport_email: ''
                      conversation: ag5wfmp1bXBlcmRldm5ld3IZCxIMQ29udmVyc2F0aW9uGICAgO_rxOsIDA
                      created: 2021-08-10 17:59:51.273084
                      delivered: false
                      discount: '0.00'
                      gateway: cash on delivery
                      gateway_transaction_id: null
                      hashtag: imgtest
                      id: 6387765606350848
                      influencer: null
                      issent: false
                      jumperfees: '0.00'
                      jumperfeesud: '0.00'
                      noteactive: false
                      notes: null
                      order_created: 2021-08-10 17:58:29.880760
                      orderkeyid: 5233267525550080
                      ordernumber: JMP0084
                      orderready: false
                      payment: false
                      pickuptime: ''
                      product:
                        currency: SGD
                        event: false
                        hashtag: imgtest
                        images: https://lh3.googleusercontent.com/AbHiflmN02w676hObQKytPFyEnsR1WD9GwdfNlzfs9VyyFTolv_0m_VOTvxXvVpEf8ElnMSsehz_aOCRTluhHgY
                        name: img test
                        online_event: false
                      quantity: 4
                      referred: ''
                      released: true
                      restaurant: false
                      reward discount: '0.00'
                      shippedlink: null
                      shipping:
                        description: "Shipping Fee"
                        id: 6196599156113408
                        name: "Shipping Fee"
                        rate: "10"
                      shippingcost: '0.00'
                      sku: null
                      splitdone: true
                      status: paid
                      stripetxnid: null
                      subtotal: '48.00'
                      tax: '0.00'
                      tipamount: '0.00'
                      total: '48.00'
                      total discount: '0.00'
                      type: http://bbtest.jumperdevnew.appspot.com/imgtest
                      unitprice: '12'
                      variables:
                        altertype: true
                        applied_discount: true
                        codelink: "https://lh3.googleusercontent.com/n9gamhAEqdrVMnp_5KPoYiQlYfi0cH8BcUl_iCqPrt_UswuBt1p3TowMPt7gAmvJspVCsw8BSYU6I3FdIZZF16bkM4n20jVPnelCFQ"
                        fromflowigwa: true
                      variation: 'Color: Green'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /orders/mark-transaction-as-paid:
    post:
      tags:
      - Orders API
      summary: 'Mark Order as Paid'
      description: For marking Cash on Delivery and jumper\'s Bank transfer orders as paid. This would indicate that cash has been collected.
      operationId: markOrderAsPaid
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
            format: Bearer <token>
            example: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJXNjdvZVpPVTBUU004QlFBaFZzeXBvRzdOcXRaIiwiYXVkIjoiUVdGNEt3MXFkR3NLcXhaV1AzR3o5akhaMTVXS0dmY29vR1B5Q3N6dzd1bEVjemNaIiwiaXNzIjoidXJuOlwvXC9hcGlnZWUtZWRnZS1KV1QtcG9saWN5LXRlc3QiLCJtZXJjaGFudF9pZCI6IjQ3NjY4ODEzNzgyMDU2OTYiLCJleHAiOjE2ODU1Mjc5ODMsImlhdCI6MTY3Nzc1MTk4MywianRpIjoiZWQ1YzljOGItZTRmOC00MGQ5LTkxNGQtZmM3Yzg4NGFlMDBiIn0.PJOMZKvFxcFBKFlhHP5UQT3KnOKjbwHCX7E84-tvZI1eEo2bENidua7VZLPTvQlRAHHHyL497cB36zmTTbr1jwl0J_UzLq9x_1_1_cAsUAH5BxB1d8YE_5Veui5SUCMj_2cvi4uVhROgA_b8UEXB7r2fdghcw2saXGNG3Srn0xnHHCDxwoxzG2tI670f7S7E8XiT1f_MUWm3CJsHDtRFi0Fef9zzjuWr4HXlzk7FtZQhHzvnr_AtqkP20ImfhjhjO52TQMdO3AQV5lzKi-K5AAODP5Lc0tt0BySRAk4qVS2qR7cEZGNW240t_Ok-rWSagSghsQs9TNZr_mCi_e7zhw","refresh_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiI3Z3M1QTBVdkl0V1ZBRXdaRzFId09wUGNyb1BZMzRBZyIsImF1ZCI6IlFXRjRLdzFxZEdzS3F4WldQM0d6OWpIWjE1V0tHZmNvb0dQeUNzenc3dWxFY3pjWiIsImlzcyI6InVybjpcL1wvYXBpZ2VlLWVkZ2UtSldULXBvbGljeS10ZXN0IiwibWVyY2hhbnRfaWQiOiI0NzY2ODgxMzc4MjA1Njk2IiwiZXhwIjoxNjg1NTI3OTgzLCJpYXQiOjE2Nzc3NTE5ODMsImp0aSI6Ijg0NjcwZjU0LWMwYzAtNDVjNi05Nzg4LWNlYjQxNGE5NzRjZiJ9.h8bwm-ny2cMl5Xzkh0QhaWr_oSUMTpKFrDPAesCBtN4uEnQSGxB6bqVOWebgbNxwYaPAIC79RZitaQ0NxCfNffPBm1nZr4dPchl_JTJOx13EDWdx8iZeG4_CBSYnsBCQ7L934pgmupV5qx4pkL3trU2fr3Z-wQHBo01e8vPaSMlCbso94NarXZMsBY_9Z5ALMimYRk0H7yiJ0XQk2JM6W6gbiQ67F3m5UImsYb_rge8IhLlCsgdTyWSw6lpkqs31pFv1N8tKdGN-XdOlrPwYl3d7-els04wg3XZPsASufnoP-hooTELPNdl-FUFHX7plBl5Uvng85y1XzHzIO9IWqA
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                transactionid:
                  type: string
                  example: '5723313798119424'
                  description: Unique transaction id of the product
              example:
                transactionid: '5723313798119424'
      responses:
        '200':
          description: Mark Order as Paid
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorMessage:
                    type: string
                    example: ''
                    description: returns error message information
                  success:
                    type: boolean
                    example: true
                    description: return success status in boolean
                example:
                    errorMessage: ''
                    success: true
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /orders/mark-transaction-as-shipped:
    post:
      tags:
      - Orders API
      summary: Mark Order as Shipped
      description: Add and relate Tracking Link to a paid order. This API would send a notification to customer over the channel and would mail a shipping notification over to customer's email.
      operationId: markOrderAsShipped
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
            format: Bearer <token>
            example: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJXNjdvZVpPVTBUU004QlFBaFZzeXBvRzdOcXRaIiwiYXVkIjoiUVdGNEt3MXFkR3NLcXhaV1AzR3o5akhaMTVXS0dmY29vR1B5Q3N6dzd1bEVjemNaIiwiaXNzIjoidXJuOlwvXC9hcGlnZWUtZWRnZS1KV1QtcG9saWN5LXRlc3QiLCJtZXJjaGFudF9pZCI6IjQ3NjY4ODEzNzgyMDU2OTYiLCJleHAiOjE2ODU1Mjc5ODMsImlhdCI6MTY3Nzc1MTk4MywianRpIjoiZWQ1YzljOGItZTRmOC00MGQ5LTkxNGQtZmM3Yzg4NGFlMDBiIn0.PJOMZKvFxcFBKFlhHP5UQT3KnOKjbwHCX7E84-tvZI1eEo2bENidua7VZLPTvQlRAHHHyL497cB36zmTTbr1jwl0J_UzLq9x_1_1_cAsUAH5BxB1d8YE_5Veui5SUCMj_2cvi4uVhROgA_b8UEXB7r2fdghcw2saXGNG3Srn0xnHHCDxwoxzG2tI670f7S7E8XiT1f_MUWm3CJsHDtRFi0Fef9zzjuWr4HXlzk7FtZQhHzvnr_AtqkP20ImfhjhjO52TQMdO3AQV5lzKi-K5AAODP5Lc0tt0BySRAk4qVS2qR7cEZGNW240t_Ok-rWSagSghsQs9TNZr_mCi_e7zhw","refresh_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiI3Z3M1QTBVdkl0V1ZBRXdaRzFId09wUGNyb1BZMzRBZyIsImF1ZCI6IlFXRjRLdzFxZEdzS3F4WldQM0d6OWpIWjE1V0tHZmNvb0dQeUNzenc3dWxFY3pjWiIsImlzcyI6InVybjpcL1wvYXBpZ2VlLWVkZ2UtSldULXBvbGljeS10ZXN0IiwibWVyY2hhbnRfaWQiOiI0NzY2ODgxMzc4MjA1Njk2IiwiZXhwIjoxNjg1NTI3OTgzLCJpYXQiOjE2Nzc3NTE5ODMsImp0aSI6Ijg0NjcwZjU0LWMwYzAtNDVjNi05Nzg4LWNlYjQxNGE5NzRjZiJ9.h8bwm-ny2cMl5Xzkh0QhaWr_oSUMTpKFrDPAesCBtN4uEnQSGxB6bqVOWebgbNxwYaPAIC79RZitaQ0NxCfNffPBm1nZr4dPchl_JTJOx13EDWdx8iZeG4_CBSYnsBCQ7L934pgmupV5qx4pkL3trU2fr3Z-wQHBo01e8vPaSMlCbso94NarXZMsBY_9Z5ALMimYRk0H7yiJ0XQk2JM6W6gbiQ67F3m5UImsYb_rge8IhLlCsgdTyWSw6lpkqs31pFv1N8tKdGN-XdOlrPwYl3d7-els04wg3XZPsASufnoP-hooTELPNdl-FUFHX7plBl5Uvng85y1XzHzIO9IWqA
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                shippedlink:
                  type: string
                  example: https://testshipping.com/tracking
                  description: Product shipping information
                shippingdata:
                  type: string
                  example: '{"expected_delivery_time": "2022-08-21T23:59:59Z", "order_code":
                    "LL7DEP", "trans_type": "air", "sort_code": "0-000-0-00"}'
                  description: Shipping information for each transaction
                status:
                  type: string
                  example: In Transit
                  description: Product shipping status
                transactionid:
                  type: string
                  example: '5723313798119424'
                  description: Unique transaction id of the product
              example:
                shippedlink: https://testshipping.com/tracking
                shippingdata: '{"expected_delivery_time": "2022-08-21T23:59:59Z", "order_code":
                  "LL7DEP", "trans_type": "air", "sort_code": "0-000-0-00"}'
                status: In Transit
                transactionid: '5723313798119424'
      responses:
        '200':
          description: Mark Order as Shipped
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorMessage:
                    type: string
                    example: ''
                    description: returns error message information
                  success:
                    type: boolean
                    example: true
                    description: return success status in boolean
                example:
                  errorMessage: ''
                  success: true
tags:
- name: Orders API
  description: |-
    To Fetch and Update Orders from and into Jumper Dashboard - Orders API could be used by shipping Provider or external Integrator to implement Post Order procedures.

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT Authorization using the Bearer scheme.
  responses:
    UnauthorizedError:
      description: Access token is missing or invalid
  schemas:
    Order:
      type: object
      properties:
        additional discount:
          type: string
          example: '0.00'
          description: Additional discount amount to be applied
        address:
          type: object
          properties:
            id:
              type: number
              example: 6254986289741824
              description: The unique order id information
            addressLine1:
              type: string
              example: 136 Joo Chiat Terrace
              description: Address Line 1 is the civic number and street name (street address)
            addressLine2:
              type: string
              example: ''
              description: Address Line 2 is for the apartment, suite, unit number, or other address designation that is not part of the physical address.
            addresstype:
              type: string
              example: personal
              description: The type of the address for example - (personal/business)
            city:
              type: string
              example: Singapore
              description: The buyer city information
            closing_time:
              nullable: true
              example: null
              description: Timestamp of closing time
            collectmobile:
              type: boolean
              example: false
              description: Whether to collect consumer's mobile information or not
            companyname:
              type: string
              example: ''
              description: What is the buyer shop name
            country:
              type: string
              example: Singapore
              description: The buyer country information
            customer_countrycode:
              type: string
              example: '+65'
              description: The buyer country code information
            customer_email:
              type: string
              example: ''
              description: The buyer email information
            customer_mobile:
              type: string
              example: '93814638'
              description: The buyer mobile phone information
            customer_name:
              type: string
              example: ''
              description: The buyer name information
            delivery:
              type: boolean
              example: false
              description: The order delivery status
            dinein:
              type: boolean
              example: true
              description: Whether to dinein in a restaurant or takeaway
            latitude:
              type: string
              example: ''
              description: The unique latitude information of the location
            longitude:
              type: string
              example: ''
              description: The unique longitude information of the location
            name:
              type: string
              example: ''
              description: The unique name of the order
            opening_time:
              nullable: true
              example: null
              description: Opening time information of the restaurant
            pincode:
              type: string
              example: '427282'
              description: Pincode information of the place
            radius:
              type: string
              example: ''
              description: Delivery radius information
            radius_measure:
              type: string
              example: ''
              description: Delivery radius measure information
            state:
              type: string
              example: Singapore
              description: State information of the location
            support_contact:
              type: string
              example: ''
              description: Contact information of the support specialist
            support_email_verified:
              type: boolean
              example: false
              description: Whether support email is verified or not
            suppport_email:
              type: string
              example: ''
              description: Email information of the support specialist
          example:
            addressLine1: 136 Joo Chiat Terrace
            addressLine2: ''
            addresstype: personal
            city: Singapore
            closing_time: null
            collectmobile: false
            companyname: ''
            country: Singapore
            customer_countrycode: '+65'
            customer_email: ''
            customer_mobile: '93814638'
            customer_name: ''
            delivery: false
            dinein: true
            id: 6254986289741824
            latitude: ''
            longitude: ''
            name: ''
            opening_time: null
            pincode: '427282'
            radius: ''
            radius_measure: ''
            state: Singapore
            support_contact: ''
            support_email_verified: false
            suppport_email: ''
        billing_address:
          type: object
          properties:
            id:
              type: integer
              example: 5589094482313216
              description: Billing Address unique id
            name:
              type: string
              example: ''
              description: ''
            addressLine1:
              type: string
              example: 210 Shenton Way
              description: Billing address line1 of the buyer
            addressLine2:
              type: string
              example: Singapore
              description: Billing address line2 of the buyer
            addresstype:
              type: string
              example: personal
              description: The type of the address for example - (personal/business)
            city:
              type: string
              example: Singapore
              description: Billing city of the buyer
            closing_time:
              type: string
              example: ''
              description: ''
            collectmobile:
              type: boolean
              example: false
              description: ''
            companyname:
              type: string
              example: ''
              description: ''
            country:
              type: string
              example: Malaysia
              description: Billing country name of the buyer
            customer_countrycode:
              type: string
              example: +60
              description:  Billing country code of the buyer
            customer_email:
              type: string
              example: ankit@jumper.ai
              description: Billing email id of the buyer
            customer_mobile:
              type: string
              example: 987117217
              description: Billing mobile number of the buyer
            customer_name:
              type: string
              example: Ankit
              description: Billing person name
            delivery:
              type: boolean
              example: false
              description: ''
            dinein:
              type: boolean
              example: true
              description: ''
            latitude:
              type: string
              example: ''
              description: The unique latitude information of the billing address
            longitude:
              type: string
              example: ''
              description: The unique longitude information of the billing address
            opening_time:
              type: string
              example: ''
              description: ''
            pincode:
              type: string
              example: 123456
              description: pincode of the billing address
            radius:
              type: string
              example: ''
              description: ''
            radius_measure:
              type: string
              example: ''
              description: ''
            state:
              type: string
              example: Melaka
              description: state of the billing address
            support_contact:
              type: string
              example: ''
              description: ''
            support_email_verified:
              type: boolean
              example: false
              description: ''
            suppport_email:
              type: string
              example: ''
              description: ''
            village:
              type: string
              example: ''
              description: village of the billing address
            example:
              addressLine1: "10 Shenton Way "
              addressLine2: "Singapore"
              addresstype: "personal"
              city: "Singapore"
              closing_time: null
              collectmobile: false
              companyname: ""
              country: "Malaysia"
              customer_countrycode: "+60"
              customer_email: "ankit@jumper.ai"
              customer_mobile: "987117217"
              customer_name: "Ankit"
              delivery: false
              dinein: true
              id: 5589094482313216
              latitude: ""
              longitude: ""
              name: ""
              opening_time: null
              pincode: "123456"
              radius: ""
              radius_measure: ""
              state: "Melaka"
              support_contact: ""
              support_email_verified: false
              suppport_email: ""
              village: ""
          example:
            addressLine1: "10 Shenton Way "
            addressLine2: "Singapore"
            addresstype: "personal"
            city: "Singapore"
            closing_time: null
            collectmobile: false
            companyname: ""
            country: "Malaysia"
            customer_countrycode: "+60"
            customer_email: "ankit@jumper.ai"
            customer_mobile: "987117217"
            customer_name: "Ankit"
            delivery: false
            dinein: true
            id: 5589094482313216
            latitude: ""
            longitude: ""
            name: ""
            opening_time: null
            pincode: "123456"
            radius: ""
            radius_measure: ""
            state: "Melaka"
            support_contact: ""
            support_email_verified: false
            suppport_email: ""
            village: ""
        buyer:
          type: object
          properties:
            email:
              type: string
              example: ankit@jumper.ai
              description: Email information of the buyer
            firstName:
              type: string
              example: Ankit
              description: Firstname information of the buyer
            lastName:
              type: string
              example: C
              description: Lastname information of the buyer
            mobileNumber:
              type: string
              example: '93814638'
              description: Mobile number information of the buyer
            mobilecountrycode:
              type: string
              example: '+65'
              description: Mobile country code information of the buyer
            name:
              type: string
              example: Ankit C
              description: Name information of the buyer
          example:
            email: ankit@jumper.ai
            firstName: Ankit
            lasttName: C
            mobileNumber: '93814638'
            mobilecountrycode: '+65'
            name: Ankit C
        cancel:
          type: boolean
          example: false
          description: Order cancel status information
        cancelled_reason:
          nullable: true
          example: null
          description: The reason behind the order cancellation
        cart:
          type: object
          properties:
            askquantity:
              type: boolean
              example: true
              description: Whether quantity needs to be asked for product within flow
            bundle_productids:
              type: string
              example: ''
              description: Product id information for group of products
            cost:
              type: string
              example: '48.00'
              description: Cost information for the product
            currency:
              type: string
              example: SGD
              description: Currency information for the product
            discount:
              type: boolean
              example: false
              description: Discount is applied to the product or not
            discountamount:
              type: string
              example: '0.00'
              description: Discount amount information for the product
            fulfilled:
              type: boolean
              example: true
              description: Whether the order is fulfilled or not
            id:
              type: string
              example: '4749400268079104'
              description: Cart unique id information for the transaction
            image:
              type: string
              example: https://lh3.googleusercontent.com/AbHiflmN02w676hObQKytPFyEnsR1WD9GwdfNlzfs9VyyFTolv_0m_VOTvxXvVpEf8ElnMSsehz_aOCRTluhHgY
              description: Cart image to be applied
            name:
              type: string
              example: img test
              description: Cart name information to be applied
            notes:
              type: string
              example: ''
              description: Cart notes information to be applied
            original_cost:
              type: string
              example: '48.00'
              description: Original cost information of the product
            productid:
              type: number
              example: 5242568965095424
              description: Unique product id information
            quantity:
              type: number
              example: 4
              description: Product quantity information in the cart
            quantity_limit:
              type: number
              example: 99999999
              description: Total quantity allowed per each product in the cart
            reward:
              type: boolean
              example: false
              description: Whether reward applied to the product
            stock:
              type: number
              example: 1203
              description: How much stock left per product
            subtitle:
              type: string
              example: Color - Green
              description: Cart name information to be applied
            variationid:
              type: number
              example: 5997416413134848
              description: Unique variation id information of the product
          example:
            - askquantity: true
              bundle_productids: ''
              cost: '48.00'
              currency: SGD
              discount: false
              discountamount: '0.00'
              fulfilled: true
              id: '4749400268079104'
              image: https://lh3.googleusercontent.com/AbHiflmN02w676hObQKytPFyEnsR1WD9GwdfNlzfs9VyyFTolv_0m_VOTvxXvVpEf8ElnMSsehz_aOCRTluhHgY
              name: img test
              notes: ''
              original_cost: '48.00'
              productid: 5242568965095424
              quantity: 4
              quantity_limit: 99999999
              reward: false
              stock: 1203
              subtitle: Color - Green
              variationid: 5997416413134848
        cash_on_delivery:
          type: boolean
          example: true
          description: Allow Cash on Delivery as an option
        collected_from_address:
          type: object
          description: Address of the Outlet from where collection is supposed to happen, Only valid in "Pick-up from outlet" Case 
          properties:
            id:
              type: integer
              example: 5589094482313216
              description: Collection Address unique id
            name:
              type: string
              example: ''
              description: ''
            addressLine1:
              type: string
              example: 210 Shenton Way
              description: Collection address line1 of the buyer
            addressLine2:
              type: string
              example: Singapore
              description: Collection address line2 of the buyer
            addresstype:
              type: string
              example: personal
              description: The type of the address for example - (personal/business)
            city:
              type: string
              example: Singapore
              description: Collection city of the buyer
            closing_time:
              type: string
              example: ''
              description: ''
            collectmobile:
              type: boolean
              example: false
              description: ''
            companyname:
              type: string
              example: ''
              description: ''
            country:
              type: string
              example: Malaysia
              description: Collection Outlet country name
            delivery:
              type: boolean
              example: false
              description: ''
            dinein:
              type: boolean
              example: true
              description: ''
            latitude:
              type: string
              example: ''
              description: The unique latitude information of the collection address
            longitude:
              type: string
              example: ''
              description: The unique longitude information of the collection address
            opening_time:
              type: string
              example: ''
              description: ''
            pincode:
              type: string
              example: 123456
              description: pincode of the collection address
            radius:
              type: string
              example: ''
              description: ''
            radius_measure:
              type: string
              example: ''
              description: ''
            state:
              type: string
              example: Melaka
              description: state of the collection address
            support_contact:
              type: string
              example: ''
              description: ''
            support_email_verified:
              type: boolean
              example: false
              description: ''
            suppport_email:
              type: string
              example: ''
              description: ''
            village:
              type: string
              example: ''
              description: village of the collection address
            example:
              addressLine1: "10 Shenton Way "
              addressLine2: "Singapore"
              addresstype: "personal"
              city: "Singapore"
              closing_time: null
              collectmobile: false
              companyname: ""
              country: "Malaysia"
              customer_countrycode: "+60"
              customer_email: "ankit@jumper.ai"
              customer_mobile: "987117217"
              customer_name: "Ankit"
              delivery: false
              dinein: true
              id: 5589094482313216
              latitude: ""
              longitude: ""
              name: ""
              opening_time: null
              pincode: "123456"
              radius: ""
              radius_measure: ""
              state: "Melaka"
              support_contact: ""
              support_email_verified: false
              suppport_email: ""
              village: ""
          example:
            addressLine1: "10 Shenton Way "
            addressLine2: "Singapore"
            addresstype: "personal"
            city: "Singapore"
            closing_time: null
            collectmobile: false
            companyname: ""
            country: "Malaysia"
            customer_countrycode: "+60"
            customer_email: "ankit@jumper.ai"
            customer_mobile: "987117217"
            customer_name: "Ankit"
            delivery: false
            dinein: true
            id: 5589094482313216
            latitude: ""
            longitude: ""
            name: ""
            opening_time: null
            pincode: "123456"
            radius: ""
            radius_measure: ""
            state: "Melaka"
            support_contact: ""
            support_email_verified: false
            suppport_email: ""
            village: ""
        conversation:
          type: string
          example: ag5wfmp1bXBlcmRldm5ld3IZCxIMQ29udmVyc2F0aW9uGICAgO_rxOsIDA
          description: Unique conversation id information
        created:
          type: string
          example: 2021-08-10 17:59:51.273084
          description: Auto generated created timestamp at the time of product added to the cart
        delivered:
          type: boolean
          example: false
          description: Product delivery information, whether the product is delivered or not
        discount:
          type: string
          example: '0.00'
          description: Product discount amount information
        gateway:
          type: string
          example: cash on delivery
          description: Payment gateway mode information to process the payment
        gateway_transaction_id:
          nullable: true
          example: null
          description: Unique payment gateway transaction id
        hashtag:
          type: string
          example: imgtest
          description: Product unique hashtag information
        id:
          type: number
          example: 6387765606350848
          description: Unique id for each transaction
        influencer:
          nullable: true
          example: null
          description: Social connection page information
        issent:
          type: boolean
          example: false
          description: Whether the transaction is process successfully
        jumperfees:
          type: string
          example: '0.00'
          description: Jumper transaction fees to be applied for each transaction
        jumperfeesud:
          type: string
          example: '0.00'
          description: Jumper transaction fees to be applied for each transaction in USD
        noteactive:
          type: boolean
          example: false
          description: Whether the transaction is active or not
        notes:
          nullable: true
          example: null
          description: Whether notes needs to be asked for product within flow
        order_created:
          type: string
          example: 2021-08-10 17:58:29.880760
          description: Order creation auto generated timestamp
        orderkeyid:
          type: number
          example: 5233267525550080
          description: Unique order id information
        ordernumber:
          type: string
          example: JMP0084
          description: Unique order number information
        orderready:
          type: boolean
          example: false
          description: Whether the order is ready for transaction
        payment:
          type: boolean
          example: false
          description: Whether the payment is successful or failed
        pickuptime:
          type: string
          example: ''
          description: At what time the order will get picked up
        product:
          type: object
          properties:
            currency:
              type: string
              example: SGD
              description: Which currency mode is allowed for the transaction
            event:
              type: boolean
              example: false
            hashtag:
              type: string
              example: imgtest
              description: Unique hashtag for each product
            images:
              type: string
              example: https://lh3.googleusercontent.com/AbHiflmN02w676hObQKytPFyEnsR1WD9GwdfNlzfs9VyyFTolv_0m_VOTvxXvVpEf8ElnMSsehz_aOCRTluhHgY
              description: Product image information to identify the item
            name:
              type: string
              example: img test
              description: Unique product name information
            online_event:
              type: boolean
              example: false
              description: Product event information, whether any event organized for the product
          example:
            currency: SGD
            event: false
            hashtag: imgtest
            images: https://lh3.googleusercontent.com/AbHiflmN02w676hObQKytPFyEnsR1WD9GwdfNlzfs9VyyFTolv_0m_VOTvxXvVpEf8ElnMSsehz_aOCRTluhHgY
            name: img test
            online_event: false
        quantity:
          type: number
          example: 4
          description: How many quantity allowed for that product
        referred:
          type: string
          example: ''
          description: From which channel the product is referred
        released:
          type: boolean
          example: true
          description: Whether transaction is released for that product
        restaurant:
          type: boolean
          example: false
          description: Whether the address type is restaurant to deliver the product
        reward discount:
          type: string
          example: '0.00'
          description: What is the discount amount for that product
        shippedlink:
          nullable: true
          example: null
          description: Product shipping information
        shipping:
          type: object
          properties:
            id:
              type: integer
              example: 5200174121222144
              description: Shipping Charge Id
            name:
              type: string
              example: Standard Shipping
              description: Shipping Charge name
            rate:
              type: integer
              example: 15
              description: Rate of the shipping charges
            description:
              type: string
              example: Standard Shipping
              description: Shipping Charge description
          example:
            description: "Shipping Fee"
            id: 6196599156113408
            name: "Shipping Fee"
            rate: "10"
        shippingcost:
          type: string
          example: '0.00'
          description: How much is the shipping cost
        sku:
          nullable: true
          example: null
          description: What is the sku value for the product
        splitdone:
          type: boolean
          example: true
          description:
        status:
          type: string
          example: paid
          description: Whether the transaction is successful or failed
        stripetxnid:
          nullable: true
          example: null
          description: Unique stripe transaction id information
        subtotal:
          type: string
          example: '48.00'
          description: Product total amount information
        tax:
          type: string
          example: '0.00'
          description: Product tax amount information
        tipamount:
          type: string
          example: '0.00'
          description: Product tip amount information
        total:
          type: string
          example: '48.00'
          description: Product total amount information
        total discount:
          type: string
          example: '0.00'
          description: How much discount applied to the product
        type:
          type: string
          example: http://bbtest.jumperdevnew.appspot.com/imgtest
          description: Which type of product provided by the merchant
        unitprice:
          type: string
          example: '12'
          description: What is the unit price of the product
        variables:
          type: object
          description: External variables that might differ among Orders over case to case basis.
          properties:
            applied_discount:
              type: boolean
              example: false
              description: 'To confirm if a discount check has happened over the order or not'
            codelink:
              type: string
              example: https://lh3.googleusercontent.com/CrFIavSJIbtShuF-NnZDn-2XLQsKdYCnSxgZq6q1E60ieJBQkPBtedBv2WRdUxh7DaEV51_6BXEMoEQlmGhV5wbVDeYcLPVNFGRgBiM
              description: 'Link of the QR code genarted by an external system, this might be visible in QR Order pickup flow.'
            customer_id:
              type: string
              example: 12345678901
              description: 'Only valid if customer ID flow has been enabled. This implies an external customer ID of the buyer in an external third party system.'
        variation:
          type: string
          example: 'Color: Green'
          description: Cart name information to be applied
      example:
        additional discount: '0.00'
        address:
          addressLine1: 136 Joo Chiat Terrace
          addressLine2: ''
          addresstype: personal
          city: Singapore
          closing_time: null
          collectmobile: false
          companyname: ''
          country: Singapore
          customer_countrycode: '+65'
          customer_email: ''
          customer_mobile: '93814638'
          customer_name: ''
          delivery: false
          dinein: true
          id: 6254986289741824
          latitude: ''
          longitude: ''
          name: ''
          opening_time: null
          pincode: '427282'
          radius: ''
          radius_measure: ''
          state: Singapore
          support_contact: ''
          support_email_verified: false
          suppport_email: ''
        billing_address:
          addressLine1: "10 Shenton Way "
          addressLine2: "Singapore"
          addresstype: "personal"
          city: "Singapore"
          closing_time: null
          collectmobile: false
          companyname: ""
          country: "Malaysia"
          customer_countrycode: "+60"
          customer_email: "ankit@jumper.ai"
          customer_mobile: "987117217"
          customer_name: "Ankit"
          delivery: false
          dinein: true
          id: 5589094482313216
          latitude: ""
          longitude: ""
          name: ""
          opening_time: null
          pincode: "123456"
          radius: ""
          radius_measure: ""
          state: "Melaka"
          support_contact: ""
          support_email_verified: false
          suppport_email: ""
          village: ""
        buyer:
          email: ankit@jumper.ai
          firstName: Ankit
          lasttName: C
          mobileNumber: '93814638'
          mobilecountrycode: '+65'
          name: Ankit C
        cancel: false
        cancelled_reason: null
        cart:
          - askquantity: true
            bundle_productids: ''
            cost: '48.00'
            currency: SGD
            discount: false
            discountamount: '0.00'
            fulfilled: true
            id: '4749400268079104'
            image: https://lh3.googleusercontent.com/AbHiflmN02w676hObQKytPFyEnsR1WD9GwdfNlzfs9VyyFTolv_0m_VOTvxXvVpEf8ElnMSsehz_aOCRTluhHgY
            name: img test
            notes: ''
            original_cost: '48.00'
            productid: 5242568965095424
            quantity: 4
            quantity_limit: 99999999
            reward: false
            stock: 1203
            subtitle: Color - Green
            variationid: 5997416413134848
        cash_on_delivery: true
        collected_from_address:
          type: object
          description: Address of the Outlet from where collection is supposed to happen, Only valid in "Pick-up from outlet" Case 
          properties:
            id:
              type: integer
              example: 5589094482313216
              description: Collection Address unique id
            name:
              type: string
              example: ''
              description: ''
            addressLine1:
              type: string
              example: 210 Shenton Way
              description: Collection address line1 of the buyer
            addressLine2:
              type: string
              example: Singapore
              description: Collection address line2 of the buyer
            addresstype:
              type: string
              example: personal
              description: The type of the address for example - (personal/business)
            city:
              type: string
              example: Singapore
              description: Collection city of the buyer
            closing_time:
              type: string
              example: ''
              description: ''
            collectmobile:
              type: boolean
              example: false
              description: ''
            companyname:
              type: string
              example: ''
              description: ''
            country:
              type: string
              example: Malaysia
              description: Collection Outlet country name
            delivery:
              type: boolean
              example: false
              description: ''
            dinein:
              type: boolean
              example: true
              description: ''
            latitude:
              type: string
              example: ''
              description: The unique latitude information of the collection address
            longitude:
              type: string
              example: ''
              description: The unique longitude information of the collection address
            opening_time:
              type: string
              example: ''
              description: ''
            pincode:
              type: string
              example: 123456
              description: pincode of the collection address
            radius:
              type: string
              example: ''
              description: ''
            radius_measure:
              type: string
              example: ''
              description: ''
            state:
              type: string
              example: Melaka
              description: state of the collection address
            support_contact:
              type: string
              example: ''
              description: ''
            support_email_verified:
              type: boolean
              example: false
              description: ''
            suppport_email:
              type: string
              example: ''
              description: ''
            village:
              type: string
              example: ''
              description: village of the collection address
            example:
              addressLine1: "10 Shenton Way "
              addressLine2: "Singapore"
              addresstype: "personal"
              city: "Singapore"
              closing_time: null
              collectmobile: false
              companyname: ""
              country: "Malaysia"
              customer_countrycode: "+60"
              customer_email: "ankit@jumper.ai"
              customer_mobile: "987117217"
              customer_name: "Ankit"
              delivery: false
              dinein: true
              id: 5589094482313216
              latitude: ""
              longitude: ""
              name: ""
              opening_time: null
              pincode: "123456"
              radius: ""
              radius_measure: ""
              state: "Melaka"
              support_contact: ""
              support_email_verified: false
              suppport_email: ""
              village: ""
          example:
            addressLine1: "10 Shenton Way "
            addressLine2: "Singapore"
            addresstype: "personal"
            city: "Singapore"
            closing_time: null
            collectmobile: false
            companyname: ""
            country: "Malaysia"
            customer_countrycode: "+60"
            customer_email: "ankit@jumper.ai"
            customer_mobile: "987117217"
            customer_name: "Ankit"
            delivery: false
            dinein: true
            id: 5589094482313216
            latitude: ""
            longitude: ""
            name: ""
            opening_time: null
            pincode: "123456"
            radius: ""
            radius_measure: ""
            state: "Melaka"
            support_contact: ""
            support_email_verified: false
            suppport_email: ""
            village: ""
        conversation: ag5wfmp1bXBlcmRldm5ld3IZCxIMQ29udmVyc2F0aW9uGICAgO_rxOsIDA
        created: 2021-08-10 17:59:51.273084
        delivered: false
        discount: '0.00'
        gateway: cash on delivery
        gateway_transaction_id: null
        hashtag: imgtest
        id: 6387765606350848
        influencer: null
        issent: false
        jumperfees: '0.00'
        jumperfeesud: '0.00'
        noteactive: false
        notes: null
        order_created: 2021-08-10 17:58:29.880760
        orderkeyid: 5233267525550080
        ordernumber: JMP0084
        orderready: false
        payment: false
        pickuptime: ''
        product:
          currency: SGD
          event: false
          hashtag: imgtest
          images: https://lh3.googleusercontent.com/AbHiflmN02w676hObQKytPFyEnsR1WD9GwdfNlzfs9VyyFTolv_0m_VOTvxXvVpEf8ElnMSsehz_aOCRTluhHgY
          name: img test
          online_event: false
        quantity: 4
        referred: ''
        released: true
        restaurant: false
        reward discount: '0.00'
        shippedlink: null
        shipping:
          description: "Standard Shipping"
          id: 5200174121222144
          name: "Standard Shipping"
          rate: "15"
        shippingcost: '0.00'
        sku: null
        splitdone: true
        status: paid
        stripetxnid: null
        subtotal: '48.00'
        tax: '0.00'
        tipamount: '0.00'
        total: '48.00'
        total discount: '0.00'
        type: http://bbtest.jumperdevnew.appspot.com/imgtest
        unitprice: '12'
        variables:
          altertype: true
          applied_discount: true
          codelink: "https://lh3.googleusercontent.com/n9gamhAEqdrVMnp_5KPoYiQlYfi0cH8BcUl_iCqPrt_UswuBt1p3TowMPt7gAmvJspVCsw8BSYU6I3FdIZZF16bkM4n20jVPnelCFQ"
          fromflowigwa: true
        variation: 'Color: Green'
# Apply the security globally to all operations
security:
  - bearerAuth: []