openapi: 3.0.3
info:
  title: Products API
  description: |-
    There are different way Types of Products maintained within jumper, following are short description of them:

    1. Product without Variation
    2. Product with multiple level of Variations
    3. Collection - Catalogue of different Products
    4. Set/Collection - Sold within a single Add to Cart

    Jumper provides ability to list down these different types of created products, and even add and edit them. 
    This would only be possible if "product" permission is allowed with Bearer token.
  version: 1.0.0
  contact: {}

servers:
- url: https://api.jumper.ai

paths:
  /products/add-edit-product:
    post:
      tags:
      - Products API
      summary: Add or Update Product
      description: Productid is passed to the API if product needs to be updated, else a new product would be created.
        For a new product creation, a validation of hashtag happens which would serve as a unique entity for product.
        Product could have variation in certain order, each with their unique ID and sku, In that case weight, sku, totalcost would be considered from Variation.
      operationId: addEditProduct
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
            format: Bearer <token>
            example: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJXNjdvZVpPVTBUU004QlFBaFZzeXBvRzdOcXRaIiwiYXVkIjoiUVdGNEt3MXFkR3NLcXhaV1AzR3o5akhaMTVXS0dmY29vR1B5Q3N6dzd1bEVjemNaIiwiaXNzIjoidXJuOlwvXC9hcGlnZWUtZWRnZS1KV1QtcG9saWN5LXRlc3QiLCJtZXJjaGFudF9pZCI6IjQ3NjY4ODEzNzgyMDU2OTYiLCJleHAiOjE2ODU1Mjc5ODMsImlhdCI6MTY3Nzc1MTk4MywianRpIjoiZWQ1YzljOGItZTRmOC00MGQ5LTkxNGQtZmM3Yzg4NGFlMDBiIn0.PJOMZKvFxcFBKFlhHP5UQT3KnOKjbwHCX7E84-tvZI1eEo2bENidua7VZLPTvQlRAHHHyL497cB36zmTTbr1jwl0J_UzLq9x_1_1_cAsUAH5BxB1d8YE_5Veui5SUCMj_2cvi4uVhROgA_b8UEXB7r2fdghcw2saXGNG3Srn0xnHHCDxwoxzG2tI670f7S7E8XiT1f_MUWm3CJsHDtRFi0Fef9zzjuWr4HXlzk7FtZQhHzvnr_AtqkP20ImfhjhjO52TQMdO3AQV5lzKi-K5AAODP5Lc0tt0BySRAk4qVS2qR7cEZGNW240t_Ok-rWSagSghsQs9TNZr_mCi_e7zhw","refresh_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiI3Z3M1QTBVdkl0V1ZBRXdaRzFId09wUGNyb1BZMzRBZyIsImF1ZCI6IlFXRjRLdzFxZEdzS3F4WldQM0d6OWpIWjE1V0tHZmNvb0dQeUNzenc3dWxFY3pjWiIsImlzcyI6InVybjpcL1wvYXBpZ2VlLWVkZ2UtSldULXBvbGljeS10ZXN0IiwibWVyY2hhbnRfaWQiOiI0NzY2ODgxMzc4MjA1Njk2IiwiZXhwIjoxNjg1NTI3OTgzLCJpYXQiOjE2Nzc3NTE5ODMsImp0aSI6Ijg0NjcwZjU0LWMwYzAtNDVjNi05Nzg4LWNlYjQxNGE5NzRjZiJ9.h8bwm-ny2cMl5Xzkh0QhaWr_oSUMTpKFrDPAesCBtN4uEnQSGxB6bqVOWebgbNxwYaPAIC79RZitaQ0NxCfNffPBm1nZr4dPchl_JTJOx13EDWdx8iZeG4_CBSYnsBCQ7L934pgmupV5qx4pkL3trU2fr3Z-wQHBo01e8vPaSMlCbso94NarXZMsBY_9Z5ALMimYRk0H7yiJ0XQk2JM6W6gbiQ67F3m5UImsYb_rge8IhLlCsgdTyWSw6lpkqs31pFv1N8tKdGN-XdOlrPwYl3d7-els04wg3XZPsASufnoP-hooTELPNdl-FUFHX7plBl5Uvng85y1XzHzIO9IWqA
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                productid:
                  type: string
                  example: '5124999989952512'
                  description: ID of the product whose information is to be fetched
                hashtag:
                  type: string
                  example: 'prodnewtest5'
                  description: Hashtag of the product
                name:
                  type: string
                  example: 'prodnewtest5'
                  description: Name of the product
                tags:
                  type: string
                  example: 'yourtag'
                  description: Tag assigned to the product
                description:
                  type: string
                  example: 'Prodnewtest5'
                  description: Short Descriptionof the product
                sku:
                  type: string
                  example: 'HJY679'
                  description: SKU assigned to product
                weight_si_unit:
                  type: string
                  example: 'kg'
                  description: Weight unit to be read for product
                length_si_unit:
                  type: string
                  example: 'cm'
                  description: Length unit to be read for product
                cost:
                  type: string
                  example: '350.00'
                  description: Total Cost of Product
                askquantity:
                  type: string
                  example: 'false'
                  description: Whether quantity needs to be asked for product within flow
                quantity_limit:
                  type: string
                  example: '1'
                  description: Amount of product quantity that can be added by customer within one order
                cash_on_delivery:
                  type: string
                  example: 'false'
                  description: Allow Cash on Delivery as an option
                notes:
                  type: string
                  example: 'false'
                  description: Whether notes needs to be asked for product within flow
                shopActive:
                  type: string
                  example: 'true'
                  description: Set as true if Product is to be displayed on Shop page
                skipaddress:
                  type: string
                  example: 'true'
                  description: Whether Address needs to be asked for product within flow
                selloffline:
                  type: string
                  example: 'false'
                  description: Set as true If product allows "click & collect"
                skipemail:
                  type: string
                  example: 'false'
                  description: Whether email needs to be asked for product within flow
                stock:
                  type: string
                  example: '7776'
                  description: Current set Inventory of the product
                image_urls:
                  type: string
                  example: 'https://lh3.googleusercontent.com/V2oPIJZsdJGnO2iMesy4qnCyaW7NsL0D7E06FPPuBWkPO_OsBCjz7dA2dgGaZXRa3e6lfwbYiS9iikZt-qFhZ_hScomLsxBC8-FXmg'
                  description: Comma separated images of the product
                grams:
                  type: string
                  example: '2000'
                  description: Weight of the product
                height:
                  type: string
                  example: '1'
                  description: Height of the product
                width:
                  type: string
                  example: '1'
                  description: Height of the product
                length:
                  type: string
                  example: '1'
                  description: Height of the product
                inventory_policy:
                  type: string
                  example: 'jumper'
                  description: set as jumper if product is not imported by any commerce channel
              example:
                productid: '5124999989952512'
                hashtag: 'prodnewtest5'
                name: 'Prodnewtest5 test'
                tags: 'test'
                description: 'Prodnewtest5'
                sku: 'HJY679'
                weight_si_unit: 'kg'
                length_si_unit: 'cm'
                cost: '350.00'
                totalcost: '350.00'
                askquantity: 'false'
                quantity_limit: '1'
                cash_on_delivery: 'false'
                notes: 'false'
                shopActive: 'true'
                skipaddress: 'false'
                selloffline: 'false'
                skipemail: 'false'
                stock: '7776'
                image_urls: 'https://lh3.googleusercontent.com/V2oPIJZsdJGnO2iMesy4qnCyaW7NsL0D7E06FPPuBWkPO_OsBCjz7dA2dgGaZXRa3e6lfwbYiS9iikZt-qFhZ_hScomLsxBC8-FXmg'
                grams: '2000'
                height: '1'
                width: '1'
                length: '1'
                inventory_policy: 'jumper'
            example:
              productid: '5124999989952512'
              hashtag: 'prodnewtest5'
              name: 'Prodnewtest5 test'
              tags: 'test'
              description: 'Prodnewtest5'
              sku: 'HJY679'
              weight_si_unit: 'kg'
              length_si_unit: 'cm'
              cost: '350.00'
              totalcost: '350.00'
              askquantity: 'false'
              quantity_limit: '1'
              cash_on_delivery: 'false'
              notes: 'false'
              shopActive: 'true'
              skipaddress: 'false'
              selloffline: 'false'
              skipemail: 'false'
              stock: '7776'
              image_urls: 'https://lh3.googleusercontent.com/V2oPIJZsdJGnO2iMesy4qnCyaW7NsL0D7E06FPPuBWkPO_OsBCjz7dA2dgGaZXRa3e6lfwbYiS9iikZt-qFhZ_hScomLsxBC8-FXmg'
              grams: '2000'
              height: '1'
              width: '1'
              length: '1'
              inventory_policy: 'jumper'
      responses:
        '200':
          description: 'Resposne for newly added or edited product'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
              example:
                status: 'published'
                weight_si_unit: 'kg'
                woocommerce: false
                hashtags: []
                tax: '0'
                height: '1'
                currency: 'SGD'
                cost: '350.00'
                magento: false
                length_si_unit: 'cm'
                images:
                - 'https://lh3.googleusercontent.com/V2oPIJZsdJGnO2iMesy4qnCyaW7NsL0D7E06FPPuBWkPO_OsBCjz7dA2dgGaZXRa3e6lfwbYiS9iikZt-qFhZ_hScomLsxBC8-FXmg'
                lowername: 'prodnewtest5 test'
                taxpercent: false
                event: 'False'
                category: ''
                shopify: false
                lead: false
                inventory_policy: 'jumper'
                online_event_url: false
                id: '5124999989952512'
                width: '1'
                live: false
                version: null
                stock: '7776'
                totalcost: '350.00'
                sku: 'HJY679'
                selloffline: false
                errormessages:
                mockuprequired: true
                description: 'Prodnewtest5'
                tags:
                skipaddress: false
                errorMessage: ''
                bigcommerce: false
                amazon: false
                hashtag: 'prodnewtest5'
                active: true
                customer_quantity_limit: '0'
                sellergetcost: '0'
                quantity_limit: '1'
                name: 'Prodnewtest5 test'
                success: true
                created: '2021-08-16 14:32:32.561374'
                notes: false
                askquantity: false
                variations: {"variations": { }, "name": "", "image": "", "relations": {}}
                skipemailverification: false
                printfulmockup: false
                shopActive: true
                length: '1'
                printful: false
                isbundle: false
                grams: '2000'
                cash_on_delivery: false
                skipemail: false
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /products/get-product:
    get:
      tags:
      - Products API
      summary: Expand Product/Collection/Set Data
      description: Using the unique product ID, Data of product is fetched. This data would include variations within the product, acceptable data, Images related to product.
        Same API is used to fetch the data of a Collection or a Set as well
      operationId: expandProduct
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
            format: Bearer <token>
            example: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJXNjdvZVpPVTBUU004QlFBaFZzeXBvRzdOcXRaIiwiYXVkIjoiUVdGNEt3MXFkR3NLcXhaV1AzR3o5akhaMTVXS0dmY29vR1B5Q3N6dzd1bEVjemNaIiwiaXNzIjoidXJuOlwvXC9hcGlnZWUtZWRnZS1KV1QtcG9saWN5LXRlc3QiLCJtZXJjaGFudF9pZCI6IjQ3NjY4ODEzNzgyMDU2OTYiLCJleHAiOjE2ODU1Mjc5ODMsImlhdCI6MTY3Nzc1MTk4MywianRpIjoiZWQ1YzljOGItZTRmOC00MGQ5LTkxNGQtZmM3Yzg4NGFlMDBiIn0.PJOMZKvFxcFBKFlhHP5UQT3KnOKjbwHCX7E84-tvZI1eEo2bENidua7VZLPTvQlRAHHHyL497cB36zmTTbr1jwl0J_UzLq9x_1_1_cAsUAH5BxB1d8YE_5Veui5SUCMj_2cvi4uVhROgA_b8UEXB7r2fdghcw2saXGNG3Srn0xnHHCDxwoxzG2tI670f7S7E8XiT1f_MUWm3CJsHDtRFi0Fef9zzjuWr4HXlzk7FtZQhHzvnr_AtqkP20ImfhjhjO52TQMdO3AQV5lzKi-K5AAODP5Lc0tt0BySRAk4qVS2qR7cEZGNW240t_Ok-rWSagSghsQs9TNZr_mCi_e7zhw","refresh_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiI3Z3M1QTBVdkl0V1ZBRXdaRzFId09wUGNyb1BZMzRBZyIsImF1ZCI6IlFXRjRLdzFxZEdzS3F4WldQM0d6OWpIWjE1V0tHZmNvb0dQeUNzenc3dWxFY3pjWiIsImlzcyI6InVybjpcL1wvYXBpZ2VlLWVkZ2UtSldULXBvbGljeS10ZXN0IiwibWVyY2hhbnRfaWQiOiI0NzY2ODgxMzc4MjA1Njk2IiwiZXhwIjoxNjg1NTI3OTgzLCJpYXQiOjE2Nzc3NTE5ODMsImp0aSI6Ijg0NjcwZjU0LWMwYzAtNDVjNi05Nzg4LWNlYjQxNGE5NzRjZiJ9.h8bwm-ny2cMl5Xzkh0QhaWr_oSUMTpKFrDPAesCBtN4uEnQSGxB6bqVOWebgbNxwYaPAIC79RZitaQ0NxCfNffPBm1nZr4dPchl_JTJOx13EDWdx8iZeG4_CBSYnsBCQ7L934pgmupV5qx4pkL3trU2fr3Z-wQHBo01e8vPaSMlCbso94NarXZMsBY_9Z5ALMimYRk0H7yiJ0XQk2JM6W6gbiQ67F3m5UImsYb_rge8IhLlCsgdTyWSw6lpkqs31pFv1N8tKdGN-XdOlrPwYl3d7-els04wg3XZPsASufnoP-hooTELPNdl-FUFHX7plBl5Uvng85y1XzHzIO9IWqA
        - in: query
          name: productid
          example: 5124999989952512
          schema:
            type: string
          description: ID of the product whose information is to be fetched
      responses:
        '200':
          description: 'Display the product response by passing product id as query parameter'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
              examples:
                validResponse:
                  value:
                    status: 'published'
                    weight_si_unit: 'kg'
                    woocommerce: false
                    hashtags: []
                    tax: '0'
                    height: '1'
                    currency: 'SGD'
                    cost: '350.00'
                    magento: false
                    length_si_unit: 'cm'
                    images:
                    - 'https://lh3.googleusercontent.com/V2oPIJZsdJGnO2iMesy4qnCyaW7NsL0D7E06FPPuBWkPO_OsBCjz7dA2dgGaZXRa3e6lfwbYiS9iikZt-qFhZ_hScomLsxBC8-FXmg'
                    lowername: 'prodnewtest5 test'
                    taxpercent: false
                    event: 'False'
                    category: ''
                    shopify: false
                    lead: false
                    inventory_policy: 'jumper'
                    online_event_url: false
                    id: '5124999989952512'
                    width: '1'
                    live: false
                    version: null
                    stock: '7776'
                    totalcost: '350.00'
                    sku: 'HJY679'
                    selloffline: false
                    errormessages:
                    mockuprequired: true
                    description: 'Prodnewtest5'
                    tags:
                    skipaddress: false
                    errorMessage: ''
                    bigcommerce: false
                    amazon: false
                    hashtag: 'prodnewtest5'
                    active: true
                    customer_quantity_limit: '0'
                    sellergetcost: '0'
                    quantity_limit: '1'
                    name: 'Prodnewtest5 test'
                    success: true
                    created: '2021-08-16 14:32:32.561374'
                    notes: false
                    askquantity: false
                    variations: {}
                    skipemailverification: false
                    printfulmockup: false
                    shopActive: true
                    length: '1'
                    printful: false
                    isbundle: false
                    grams: '2000'
                    cash_on_delivery: false
                    skipemail: false
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /products/fetch-products:
    get:
      tags:
        - Products API
      summary: Fetch All Products
      description: Fetch all of the products current merchant has, this would include
        all the SKUs, including final level variations.
      operationId: fetchAllProducts
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
            format: Bearer <token>
            example: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJXNjdvZVpPVTBUU004QlFBaFZzeXBvRzdOcXRaIiwiYXVkIjoiUVdGNEt3MXFkR3NLcXhaV1AzR3o5akhaMTVXS0dmY29vR1B5Q3N6dzd1bEVjemNaIiwiaXNzIjoidXJuOlwvXC9hcGlnZWUtZWRnZS1KV1QtcG9saWN5LXRlc3QiLCJtZXJjaGFudF9pZCI6IjQ3NjY4ODEzNzgyMDU2OTYiLCJleHAiOjE2ODU1Mjc5ODMsImlhdCI6MTY3Nzc1MTk4MywianRpIjoiZWQ1YzljOGItZTRmOC00MGQ5LTkxNGQtZmM3Yzg4NGFlMDBiIn0.PJOMZKvFxcFBKFlhHP5UQT3KnOKjbwHCX7E84-tvZI1eEo2bENidua7VZLPTvQlRAHHHyL497cB36zmTTbr1jwl0J_UzLq9x_1_1_cAsUAH5BxB1d8YE_5Veui5SUCMj_2cvi4uVhROgA_b8UEXB7r2fdghcw2saXGNG3Srn0xnHHCDxwoxzG2tI670f7S7E8XiT1f_MUWm3CJsHDtRFi0Fef9zzjuWr4HXlzk7FtZQhHzvnr_AtqkP20ImfhjhjO52TQMdO3AQV5lzKi-K5AAODP5Lc0tt0BySRAk4qVS2qR7cEZGNW240t_Ok-rWSagSghsQs9TNZr_mCi_e7zhw","refresh_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiI3Z3M1QTBVdkl0V1ZBRXdaRzFId09wUGNyb1BZMzRBZyIsImF1ZCI6IlFXRjRLdzFxZEdzS3F4WldQM0d6OWpIWjE1V0tHZmNvb0dQeUNzenc3dWxFY3pjWiIsImlzcyI6InVybjpcL1wvYXBpZ2VlLWVkZ2UtSldULXBvbGljeS10ZXN0IiwibWVyY2hhbnRfaWQiOiI0NzY2ODgxMzc4MjA1Njk2IiwiZXhwIjoxNjg1NTI3OTgzLCJpYXQiOjE2Nzc3NTE5ODMsImp0aSI6Ijg0NjcwZjU0LWMwYzAtNDVjNi05Nzg4LWNlYjQxNGE5NzRjZiJ9.h8bwm-ny2cMl5Xzkh0QhaWr_oSUMTpKFrDPAesCBtN4uEnQSGxB6bqVOWebgbNxwYaPAIC79RZitaQ0NxCfNffPBm1nZr4dPchl_JTJOx13EDWdx8iZeG4_CBSYnsBCQ7L934pgmupV5qx4pkL3trU2fr3Z-wQHBo01e8vPaSMlCbso94NarXZMsBY_9Z5ALMimYRk0H7yiJ0XQk2JM6W6gbiQ67F3m5UImsYb_rge8IhLlCsgdTyWSw6lpkqs31pFv1N8tKdGN-XdOlrPwYl3d7-els04wg3XZPsASufnoP-hooTELPNdl-FUFHX7plBl5Uvng85y1XzHzIO9IWqA
        - in: query
          name: offset
          schema:
            type: integer
          description: Offset of the page to be displayed
        - in: query
          name: size
          schema:
            type: integer
          description: Size of the page to be displayed
        - in: query
          name: event
          schema:
            type: boolean
          description: Make sure to pass false so event type products does not come in.
      responses:
        '200':
          description: Fetch All Products
          headers:
            Authorization:
              schema:
                type: string
                format: bearer <token>
              description: API will work with a JWT Access Token, which can be obtained using the /oauth endpoint.
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/Product'
              examples:
                Fetch All Products:
                  value:
                    errorMessage: ''
                    posts:
                    - active: true
                      amazon: false
                      bigcommerce: false
                      category: ''
                      cost: '350.00'
                      created: 2021-08-16 14:32:32.561374
                      currency: SGD
                      customer_quantity_limit: 0
                      errormessages: []
                      event: False
                      grams: '2000'
                      hashtag: prodnewtest5
                      hashtags: []
                      id: '5124999989952512'
                      images:
                      - https://lh3.googleusercontent.com/V2oPIJZsdJGnO2iMesy4qnCyaW7NsL0D7E06FPPuBWkPO_OsBCjz7dA2dgGaZXRa3e6lfwbYiS9iikZt-qFhZ_hScomLsxBC8-FXmg
                      inventory_policy: jumper
                      isbundle: false
                      lead: false
                      live: false
                      lowername: prodnewtest5
                      magento: false
                      mockuprequired: true
                      name: Prodnewtest5
                      notes: false
                      online_event_url: false
                      printful: false
                      printfulmockup: false
                      quantity_limit: 1
                      sellergetcost: '0'
                      shopActive: true
                      shopify: false
                      skipaddress: false
                      skipemail: false
                      skipemailverification: false
                      sku: HJY679
                      status: published
                      stock: '7776'
                      taxpercent: false
                      totalcost: '350.00'
                      version: null
                      weight_si_unit: kg
                      woocommerce: false
                    - active: true
                      amazon: false
                      bigcommerce: false
                      category: ''
                      cost: '300.00'
                      created: 2021-08-16 14:14:08.767661
                      currency: SGD
                      customer_quantity_limit: 0
                      errormessages: []
                      event: False
                      grams: '2000'
                      hashtag: prodnewtest4
                      hashtags: []
                      id: '4803462900482048'
                      images:
                      - https://lh3.googleusercontent.com/A4NRgZdgZXZJmc_65e8u0qwmfJkN3sAknCtK5mgzEAlCC4KfoxNmo78b8MtguKn_ZPXk2gF9dCI8d4COh2KsRxHkpT_ZupahyE1ULQ
                      inventory_policy: jumper
                      isbundle: false
                      lead: false
                      live: false
                      lowername: prodnewtest4
                      magento: false
                      mockuprequired: true
                      name: Prodnewtest4
                      notes: false
                      online_event_url: false
                      printful: false
                      printfulmockup: false
                      quantity_limit: 2
                      sellergetcost: '0'
                      shopActive: true
                      shopify: false
                      skipaddress: false
                      skipemail: false
                      skipemailverification: false
                      sku: HJY679
                      status: published
                      stock: '3331'
                      taxpercent: false
                      totalcost: '300.00'
                      version: null
                      weight_si_unit: kg
                      woocommerce: false
                    - active: true
                      amazon: false
                      bigcommerce: false
                      category: ''
                      cost: '200.00'
                      created: 2021-08-16 13:27:22.252395
                      currency: SGD
                      customer_quantity_limit: 0
                      errormessages: []
                      event: False
                      grams: '1000'
                      hashtag: prodnewtest3
                      hashtags: []
                      id: '5824297069182976'
                      images:
                      - https://lh3.googleusercontent.com/5gbC3OrYLELnZ92yYPysnlREPhenSYMInB67G2SWDmVi7bAgwWWS9ktZj0XIOlsQt1NNBT887RScbhFU33aOvEix3I_UIc6rBYYh2w
                      inventory_policy: jumper
                      isbundle: false
                      lead: false
                      live: false
                      lowername: prodnewtest3
                      magento: false
                      mockuprequired: true
                      name: Prodnewtest3
                      notes: false
                      online_event_url: false
                      printful: false
                      printfulmockup: false
                      quantity_limit: 1
                      sellergetcost: '0'
                      shopActive: true
                      shopify: false
                      skipaddress: true
                      skipemail: false
                      skipemailverification: false
                      sku: KSG568
                      status: published
                      stock: '2221'
                      taxpercent: false
                      totalcost: '200.00'
                      version: null
                      weight_si_unit: kg
                      woocommerce: false
                    - active: true
                      amazon: false
                      bigcommerce: false
                      category: ''
                      cost: '150.00'
                      created: 2021-08-16 13:05:04.589920
                      currency: SGD
                      customer_quantity_limit: 0
                      errormessages: []
                      event: False
                      grams: '2000'
                      hashtag: prodnewtest2
                      hashtags: []
                      id: '6241852279750656'
                      images:
                      - https://lh3.googleusercontent.com/-tMU4X_7_L5M_kWxmfrghibZ7zx6qslawWWsnQ7UgVuZjOFapmC74e_CJ9OrLYtUgTJZ9xYIv_9gR9pROCkEMxz4wx-G-w7sPSxQFEs
                      inventory_policy: jumper
                      isbundle: false
                      lead: false
                      live: false
                      lowername: prodnewtest2
                      magento: false
                      mockuprequired: true
                      name: Prodnewtest2
                      notes: false
                      online_event_url: false
                      printful: false
                      printfulmockup: false
                      quantity_limit: 1
                      sellergetcost: '0'
                      shopActive: true
                      shopify: false
                      skipaddress: true
                      skipemail: false
                      skipemailverification: false
                      sku: KHH789
                      status: published
                      stock: '5554'
                      taxpercent: false
                      totalcost: '150.00'
                      version: null
                      weight_si_unit: kg
                      woocommerce: false
                    - active: true
                      amazon: false
                      bigcommerce: false
                      category: ''
                      cost: '100.00'
                      created: 2021-08-16 12:45:40.962519
                      currency: SGD
                      customer_quantity_limit: 0
                      errormessages: []
                      event: False
                      grams: '1000'
                      hashtag: prodnewtest1
                      hashtags: []
                      id: '5165609174171648'
                      images:
                      - https://lh3.googleusercontent.com/5x4JUTfyTm9KNPIaHf5KI85owZ06UrCn4xlrpzjDhVn9jJS031o4VqtCgBaSMKbaqOCA6Wl6mWa5GL4IuFx85Uwtk0RBokkEJc2o
                      inventory_policy: jumper
                      isbundle: false
                      lead: false
                      live: false
                      lowername: prodnewtest1
                      magento: false
                      mockuprequired: true
                      name: Prodnewtest1
                      notes: false
                      online_event_url: false
                      printful: false
                      printfulmockup: false
                      quantity_limit: 1
                      sellergetcost: '0'
                      shopActive: true
                      shopify: false
                      skipaddress: true
                      skipemail: true
                      skipemailverification: false
                      sku: KSG567
                      status: published
                      stock: '4443'
                      taxpercent: false
                      totalcost: '100.00'
                      version: null
                      weight_si_unit: kg
                      woocommerce: false
                    - active: true
                      amazon: false
                      bigcommerce: false
                      category: ''
                      cost: '150.00'
                      created: 2021-07-23 07:25:25.089902
                      currency: SGD
                      customer_quantity_limit: 0
                      errormessages: []
                      event: False
                      grams: '1000'
                      hashtag: productfbone
                      hashtags: []
                      id: '5661358861320192'
                      images:
                      - https://lh3.googleusercontent.com/DwAQfgk_5ZYN4Thu0RGyu8rIa36kccYM6PReEf4TB6vHvAm2nojVx-g8Wltew5XKtf_xoA0Ls9JCLQfslYSZvjZzayTX7DE70XHWIgQ
                      inventory_policy: jumper
                      isbundle: false
                      lead: false
                      live: false
                      lowername: productfbone edit1
                      magento: false
                      mockuprequired: true
                      name: productfbone edit1
                      notes: false
                      online_event_url: false
                      printful: false
                      printfulmockup: false
                      quantity_limit: 20
                      sellergetcost: '0'
                      shopActive: true
                      shopify: false
                      skipaddress: false
                      skipemail: false
                      skipemailverification: false
                      sku: GHT676877
                      status: published
                      stock: '39995'
                      taxpercent: false
                      totalcost: '150.00'
                      version: null
                      weight_si_unit: kg
                      woocommerce: false
                    - active: true
                      amazon: false
                      bigcommerce: false
                      category: ''
                      cost: '100.00'
                      created: 2021-07-02 04:51:27.347050
                      currency: SGD
                      customer_quantity_limit: 0
                      errormessages: []
                      event: False
                      grams: '0'
                      hashtag: imagetest
                      hashtags: []
                      id: '5091577393315840'
                      images:
                      - https://lh3.googleusercontent.com/QFkBhTz8CI9ovrqX7SJVx67ebMoFfkuuAm7xGngYlttE_Bxl2t4BTTGcqw08b_7hbK0TnmCM7vMUutCAG0xt1bjoYh7igyMYSZmhLA
                      - https://lh3.googleusercontent.com/CAWBfMpUP9ZftSYfp_N6Y9eqkvYNKBtYvQ602hs0f8jwJ08JKp8FF4yp9at-_RM1KnwYcq2jqqBCLCmLkKlmo8H5ZRDHYGaO86mUygs
                      inventory_policy: jumper
                      isbundle: false
                      lead: false
                      live: false
                      lowername: image test
                      magento: false
                      mockuprequired: true
                      name: image test
                      notes: false
                      online_event_url: false
                      printful: false
                      printfulmockup: false
                      quantity_limit: 99999999
                      sellergetcost: '0'
                      shopActive: true
                      shopify: false
                      skipaddress: false
                      skipemail: false
                      skipemailverification: false
                      sku: image_test
                      status: published
                      stock: '46'
                      taxpercent: false
                      totalcost: '100.00'
                      version: null
                      weight_si_unit: kg
                      woocommerce: false
                    - active: true
                      amazon: false
                      bigcommerce: false
                      category: ''
                      cost: '51.00'
                      created: 2021-06-23 06:38:45.576142
                      currency: SGD
                      customer_quantity_limit: 0
                      errormessages: []
                      event: False
                      grams: '0'
                      hashtag: theconcentrate3ml
                      hashtags: []
                      id: '6751621444796416'
                      images:
                      - https://jumperdevnew.appspot.com/getimage/product-6751621444796416
                      inventory_policy: jumper
                      isbundle: false
                      lead: false
                      live: false
                      lowername: the concentrate 3ml
                      magento: false
                      mockuprequired: true
                      name: The Concentrate 3ml
                      notes: false
                      online_event_url: false
                      printful: false
                      printfulmockup: false
                      quantity_limit: 1
                      sellergetcost: None
                      shopActive: false
                      shopify: false
                      skipaddress: false
                      skipemail: false
                      skipemailverification: false
                      sku: null
                      status: published
                      stock: '240'
                      taxpercent: false
                      totalcost: '51.00'
                      version: null
                      weight_si_unit: kg
                      woocommerce: false
                    - active: true
                      amazon: false
                      bigcommerce: false
                      category: ''
                      cost: '525.00'
                      created: 2021-06-23 06:38:40.458228
                      currency: SGD
                      customer_quantity_limit: 0
                      errormessages: []
                      event: False
                      grams: '0'
                      hashtag: cremedelamerblueheart
                      hashtags: []
                      id: '5625721537953792'
                      images:
                      - https://lh3.googleusercontent.com/TvZwWF-PfAY9G7jPqeGzl_oqATwzKrzS5Q3ZrRkBuBQrSt4Fn1E8rkhQa_gNkAaSX3O1RHV5rVuruEgVf8UTw2zzwCMxOu5GzP4D
                      inventory_policy: jumper
                      isbundle: false
                      lead: false
                      live: false
                      lowername: the blue heart crème de la mer collection
                      magento: false
                      mockuprequired: true
                      name: The Blue Heart Crème de la Mer Collection
                      notes: false
                      online_event_url: false
                      printful: false
                      printfulmockup: false
                      quantity_limit: 8
                      sellergetcost: None
                      shopActive: true
                      shopify: false
                      skipaddress: false
                      skipemail: false
                      skipemailverification: false
                      sku: '1'
                      status: published
                      stock: '446'
                      taxpercent: false
                      totalcost: '525.00'
                      version: null
                      weight_si_unit: kg
                      woocommerce: false
                    - active: true
                      amazon: false
                      bigcommerce: false
                      category: ''
                      cost: '525.00'
                      created: 2021-06-23 06:38:35.500209
                      currency: SGD
                      customer_quantity_limit: 0
                      errormessages: []
                      event: False
                      grams: '0'
                      hashtag: cremedelamer60
                      hashtags: []
                      id: '5729393324326912'
                      images:
                      - https://lh3.googleusercontent.com/nbSeqQgdNgtdUVZbO6a0dthyPEBxSFvpkqs4RNuwMUMHOP1zzNFkM5gHnptBw2JqE9ZyWF0N1Iomb8X5BzN9pi1bm4uBne22VYnYBg
                      inventory_policy: jumper
                      isbundle: false
                      lead: false
                      live: false
                      lowername: crème de la mer, 60ml
                      magento: false
                      mockuprequired: true
                      name: Crème de la Mer, 60ml
                      notes: false
                      online_event_url: false
                      printful: false
                      printfulmockup: false
                      quantity_limit: 8
                      sellergetcost: None
                      shopActive: true
                      shopify: false
                      skipaddress: false
                      skipemail: false
                      skipemailverification: false
                      sku: '3320020000'
                      status: published
                      stock: '0'
                      taxpercent: false
                      totalcost: '525.00'
                      version: null
                      weight_si_unit: kg
                      woocommerce: false
                    product_count: 10
                    success: true
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /products/fetch-bundle:
    get:
      tags:
      - Products API
      summary: Fetch All Sets/Bundles
      description: |-
        Fetch all Set/Bundles merchant has created. Set would contain a list of products within it and a specific criteria to add it to cart.

        Set/Bundle data could be expanded using expand API
      operationId: fetchAllSetsBundles
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
            format: Bearer <token>
            example: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJXNjdvZVpPVTBUU004QlFBaFZzeXBvRzdOcXRaIiwiYXVkIjoiUVdGNEt3MXFkR3NLcXhaV1AzR3o5akhaMTVXS0dmY29vR1B5Q3N6dzd1bEVjemNaIiwiaXNzIjoidXJuOlwvXC9hcGlnZWUtZWRnZS1KV1QtcG9saWN5LXRlc3QiLCJtZXJjaGFudF9pZCI6IjQ3NjY4ODEzNzgyMDU2OTYiLCJleHAiOjE2ODU1Mjc5ODMsImlhdCI6MTY3Nzc1MTk4MywianRpIjoiZWQ1YzljOGItZTRmOC00MGQ5LTkxNGQtZmM3Yzg4NGFlMDBiIn0.PJOMZKvFxcFBKFlhHP5UQT3KnOKjbwHCX7E84-tvZI1eEo2bENidua7VZLPTvQlRAHHHyL497cB36zmTTbr1jwl0J_UzLq9x_1_1_cAsUAH5BxB1d8YE_5Veui5SUCMj_2cvi4uVhROgA_b8UEXB7r2fdghcw2saXGNG3Srn0xnHHCDxwoxzG2tI670f7S7E8XiT1f_MUWm3CJsHDtRFi0Fef9zzjuWr4HXlzk7FtZQhHzvnr_AtqkP20ImfhjhjO52TQMdO3AQV5lzKi-K5AAODP5Lc0tt0BySRAk4qVS2qR7cEZGNW240t_Ok-rWSagSghsQs9TNZr_mCi_e7zhw","refresh_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiI3Z3M1QTBVdkl0V1ZBRXdaRzFId09wUGNyb1BZMzRBZyIsImF1ZCI6IlFXRjRLdzFxZEdzS3F4WldQM0d6OWpIWjE1V0tHZmNvb0dQeUNzenc3dWxFY3pjWiIsImlzcyI6InVybjpcL1wvYXBpZ2VlLWVkZ2UtSldULXBvbGljeS10ZXN0IiwibWVyY2hhbnRfaWQiOiI0NzY2ODgxMzc4MjA1Njk2IiwiZXhwIjoxNjg1NTI3OTgzLCJpYXQiOjE2Nzc3NTE5ODMsImp0aSI6Ijg0NjcwZjU0LWMwYzAtNDVjNi05Nzg4LWNlYjQxNGE5NzRjZiJ9.h8bwm-ny2cMl5Xzkh0QhaWr_oSUMTpKFrDPAesCBtN4uEnQSGxB6bqVOWebgbNxwYaPAIC79RZitaQ0NxCfNffPBm1nZr4dPchl_JTJOx13EDWdx8iZeG4_CBSYnsBCQ7L934pgmupV5qx4pkL3trU2fr3Z-wQHBo01e8vPaSMlCbso94NarXZMsBY_9Z5ALMimYRk0H7yiJ0XQk2JM6W6gbiQ67F3m5UImsYb_rge8IhLlCsgdTyWSw6lpkqs31pFv1N8tKdGN-XdOlrPwYl3d7-els04wg3XZPsASufnoP-hooTELPNdl-FUFHX7plBl5Uvng85y1XzHzIO9IWqA
      responses:
        '200':
          description: Fetch All Sets/Bundles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sets'
                examples:
                  Fetch All Collections:
                    value:
                      errorMessage: ''
                      posts:
                        - active: true
                          basecost: 458.00
                          bundle: false
                          catalog: true
                          currency: SG $
                          description: ''
                          event: false
                          hashtag: beauty
                          hashtags: [ ]
                          id: '4677140295450624'
                          image:  https://lh3.googleusercontent.com/x2DBO5z1u19MkewbjIQkANwy4qErkNP9khunOM1AofmHBV67UbFpdBPV7CDoHgzMDXreHbuFvliUco46e2pjNNZd2GA8bjvnTDWZ
                          images:
                            - https://lh3.googleusercontent.com/x2DBO5z1u19MkewbjIQkANwy4qErkNP9khunOM1AofmHBV67UbFpdBPV7CDoHgzMDXreHbuFvliUco46e2pjNNZd2GA8bjvnTDWZ
                          name: Gadgets
                          shopActive: true
                          sku: null
                          stock: 999999
                          totalcost: '300.00'
                          variation: true
                      success: true
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /products/fetch-collections:
    get:
      tags:
      - Products API
      summary: Fetch All Collections
      description: |-
        Fetch all Collections/Catalogue created by the Merchant. These Collection would contain one of the following structure

        -  With Categories

        Collection -> category -> Product

        -  Without Categories

        Collection -> Product

        Data can be further elaborated using the expand API
      operationId: fetchAllCollections
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
            format: Bearer <token>
            example: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJXNjdvZVpPVTBUU004QlFBaFZzeXBvRzdOcXRaIiwiYXVkIjoiUVdGNEt3MXFkR3NLcXhaV1AzR3o5akhaMTVXS0dmY29vR1B5Q3N6dzd1bEVjemNaIiwiaXNzIjoidXJuOlwvXC9hcGlnZWUtZWRnZS1KV1QtcG9saWN5LXRlc3QiLCJtZXJjaGFudF9pZCI6IjQ3NjY4ODEzNzgyMDU2OTYiLCJleHAiOjE2ODU1Mjc5ODMsImlhdCI6MTY3Nzc1MTk4MywianRpIjoiZWQ1YzljOGItZTRmOC00MGQ5LTkxNGQtZmM3Yzg4NGFlMDBiIn0.PJOMZKvFxcFBKFlhHP5UQT3KnOKjbwHCX7E84-tvZI1eEo2bENidua7VZLPTvQlRAHHHyL497cB36zmTTbr1jwl0J_UzLq9x_1_1_cAsUAH5BxB1d8YE_5Veui5SUCMj_2cvi4uVhROgA_b8UEXB7r2fdghcw2saXGNG3Srn0xnHHCDxwoxzG2tI670f7S7E8XiT1f_MUWm3CJsHDtRFi0Fef9zzjuWr4HXlzk7FtZQhHzvnr_AtqkP20ImfhjhjO52TQMdO3AQV5lzKi-K5AAODP5Lc0tt0BySRAk4qVS2qR7cEZGNW240t_Ok-rWSagSghsQs9TNZr_mCi_e7zhw","refresh_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiI3Z3M1QTBVdkl0V1ZBRXdaRzFId09wUGNyb1BZMzRBZyIsImF1ZCI6IlFXRjRLdzFxZEdzS3F4WldQM0d6OWpIWjE1V0tHZmNvb0dQeUNzenc3dWxFY3pjWiIsImlzcyI6InVybjpcL1wvYXBpZ2VlLWVkZ2UtSldULXBvbGljeS10ZXN0IiwibWVyY2hhbnRfaWQiOiI0NzY2ODgxMzc4MjA1Njk2IiwiZXhwIjoxNjg1NTI3OTgzLCJpYXQiOjE2Nzc3NTE5ODMsImp0aSI6Ijg0NjcwZjU0LWMwYzAtNDVjNi05Nzg4LWNlYjQxNGE5NzRjZiJ9.h8bwm-ny2cMl5Xzkh0QhaWr_oSUMTpKFrDPAesCBtN4uEnQSGxB6bqVOWebgbNxwYaPAIC79RZitaQ0NxCfNffPBm1nZr4dPchl_JTJOx13EDWdx8iZeG4_CBSYnsBCQ7L934pgmupV5qx4pkL3trU2fr3Z-wQHBo01e8vPaSMlCbso94NarXZMsBY_9Z5ALMimYRk0H7yiJ0XQk2JM6W6gbiQ67F3m5UImsYb_rge8IhLlCsgdTyWSw6lpkqs31pFv1N8tKdGN-XdOlrPwYl3d7-els04wg3XZPsASufnoP-hooTELPNdl-FUFHX7plBl5Uvng85y1XzHzIO9IWqA
      responses:
        '200':
          description: Fetch All Collections
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
              examples:
                Fetch All Collections:
                  value:
                    errorMessage: ''
                    posts:
                      - active: true
                        basecost: 458.00
                        bundle: false
                        catalog: true
                        currency: SG $
                        description: ''
                        event: false
                        hashtag: beauty
                        hashtags: [ ]
                        id: 4677140295450624
                        image: https://jumperdevnew.appspot.com/getimage/product-4677140295450624
                        images:
                          - https://jumperdevnew.appspot.com/getimage/product-4677140295450624
                        name: Beauty Products
                        shopActive: true
                        sku: null
                        stock: 999999
                        totalcost: '0.00'
                        variation: true
                    success: true
        '401':
          $ref: '#/components/responses/UnauthorizedError'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT Authorization using the Bearer scheme.
  responses:
    UnauthorizedError:
      description: Access token is missing or invalid
  schemas:
    Product:
      type: object
      properties:
        success:
          type: boolean
          example: true
          description: True if api shows the right result
        errorMessage:
          type: string
          example: ''
          description: Any error message in api execution printed here
        status:
          type: string
          example: 'published'
          description: ''
        weight_si_unit:
          type: string
          example: 'kg'
          description: Unit measurement of weight (kg,lbs,oz)
        woocommerce:
          type: boolean
          example: false
          description: Product imported from woocommerce
        hashtags:
          type: array
          items:
            type: string
            example:
            - 'hashtag1'
          description: ''
        tax:
          type: string
          example: '0'
          description: ''
        height:
          type: string
          example: '1'
          description: Product Height
        currency:
          type: string
          example: 'SGD'
          description: Currency of the product
        cost:
          type: string
          example: '350.00'
          description: Cost of the product
        magento:
          type: boolean
          example: false
          description: Product imported from Magento
        length_si_unit:
          type: string
          example: 'cm'
          description: Unit measurement of height
        images:
          type: array
          items:
            type: string
            example:
            - 'https://lh3.googleusercontent.com/V2oPIJZsdJGnO2iMesy4qnCyaW7NsL0D7E06FPPuBWkPO_OsBCjz7dA2dgGaZXRa3e6lfwbYiS9iikZt-qFhZ_hScomLsxBC8-FXmg'
          description: Multiple (Upto 5) images can be upload for the product
        lowername:
          type: string
          example: 'prodnewtest5 test'
          description: Lower name of the product
        taxpercent:
          type: boolean
          example: false
          description: ''
        event:
          type: string
          example: 'False'
          description: ''
        category:
          type: string
          example: ''
          description: ''
        shopify:
          type: boolean
          example: false
          description: Product imported from shopify
        lead:
          type: boolean
          example: false
          description: ''
        inventory_policy:
          type: string
          example: 'jumper'
          description: ''
        online_event_url:
          type: boolean
          example: false
          description: ''
        id:
          type: string
          example: '5124999989952512'
          description: Product Id - used in other apis
        width:
          type: string
          example: '1'
          description: width of the product
        live:
          type: boolean
          example: false
          description: ''
        version:
          type: string
          example: null
          description: ''
        stock:
          type: string
          example: '7776'
          description: Product Inventory
        totalcost:
          type: string
          example: '350.00'
          description: Actual cost of the product
        sku:
          type: string
          example: 'HJY679'
          description: SKU Id of the product
        selloffline:
          type: boolean
          example: false
          description: Is product can be sellable in offline market
        errormessages:
          type: array
          items:
            type: string
          description: ''
        description:
          type: string
          example: 'Prodnewtest5'
          description: Product description
        tags:
          type: array
          items:
            type: string
            example: 'test'
          description: Multiple tags can be attached to the product in case of empty it return False
        skipaddress:
          type: boolean
          example: false
          description: ''
        bigcommerce:
          type: boolean
          example: false
          description: Product imported from bigcommerce
        amazon:
          type: boolean
          example: false
          description: Product imported from amazon
        hashtag:
          type: string
          example: 'prodnewtest5'
          description: Checkout Trigger word for the produt
        active:
          type: boolean
          example: true
          description: ''
        customer_quantity_limit:
          type: integer
          example: 0
          description: Maximum ordered quantity per order
        sellergetcost:
          type: string
          example: '0'
          description: ''
        quantity_limit:
          type: integer
          example: 1
          description: ''
        name:
          type: string
          example: 'Prodnewtest5 test'
          description: Name of the product
        created:
          type: string
          example: '2021-08-16 14:32:32.561374'
          description: Product creation timestamp
        notes:
          type: boolean
          example: false
          description: ''
        askquantity:
          type: boolean
          example: false
          description: ''
        variations:
          type: array
          items:
            type: object
            example: {"variations": { }, "name": "", "image": "", "relations": {}}
          description: List of variations of the products
        skipemailverification:
          type: boolean
          example: false
          description: ''
        printfulmockup:
          type: boolean
          example: false
          description: ''
        shopActive:
          type: boolean
          example: true
          description: True indicate this set displays on the store
        length:
          type: string
          example: '1'
          description: Length of the product
        printful:
          type: boolean
          example: false
          description: ''
        isbundle:
          type: boolean
          example: false
          description: True in case of it is a Set
        grams:
          type: string
          example: '2000'
          description: Weight of the product
        cash_on_delivery:
          type: boolean
          example: false
          description: Accepting COD for the product
        skipemail:
          type: boolean
          example: true
          description: ''
      example:
        productid: '5124999989952512'
        hashtag: 'prodnewtest5'
        name: 'Prodnewtest5 test'
        tags: 'test'
        description: 'Prodnewtest5'
        sku: 'HJY679'
        weight_si_unit: 'kg'
        length_si_unit: 'cm'
        cost: '350.00'
        totalcost: '350.00'
        askquantity: 'false'
        quantity_limit: '1'
        cash_on_delivery: 'false'
        notes: 'false'
        shopActive: 'true'
        skipaddress: 'false'
        selloffline: 'false'
        skipemail: 'false'
        stock: '7776'
        image_urls: 'https://lh3.googleusercontent.com/V2oPIJZsdJGnO2iMesy4qnCyaW7NsL0D7E06FPPuBWkPO_OsBCjz7dA2dgGaZXRa3e6lfwbYiS9iikZt-qFhZ_hScomLsxBC8-FXmg'
        grams: '2000'
        height: '1'
        width: '1'
        length: '1'
        inventory_policy: 'jumper'
    Sets:
      type: object
      properties:
        sku:
          type: string
          example: 'HJY679'
          description: ''
        totalcost:
          type: string
          example: '430.00'
          description: Selling price of the Set
        description:
          type: string
          example: 'its a set'
          description: Description of the Set
        name:
          type: string
          example: 'Gadgets'
          description: Name of the Set
        currency:
          type: string
          example: 'SG $'
          description: Currency of the Set
        basecost:
          type: string
          example: '450.00'
          description: Actual cost of the Set
        image:
          type: string
          example: https://jumperdevnew.appspot.com/getimage/product-4580188539060224
          description: Image of the Set.
        hashtags:
          type: array
          items:
            type: string
            example: ELECTRONICS
          example:
            - ELECTRONICS
          description: ''
        bundle:
          type: boolean
          example: true
          description: True in case of it is a Set
        event:
          type: boolean
          example: false
          description: ''
        shopActive:
          type: boolean
          example: true
          description: True indicate this set displays on the store
        images:
          type: array
          items:
            type: string
            example: https://jumperdevnew.appspot.com/getimage/product-4580188539060224
          example:
            - https://jumperdevnew.appspot.com/getimage/product-4580188539060224
          description: ''
        catalog:
          type: boolean
          example:
            false
          description: True in case of it is a Collection
        variation:
          type: boolean
          example: true
          description: ''
        hashtag:
          type: string
          example: 'gadget'
          description: Checkout trigger word for the Set
        active:
          type: boolean
          example: true
          description: ''
        id:
          type: string
          example: '4580188539060224'
          description: It is the id of the Set
        stock:
          type: number
          example: 907
          description: Inventory of the Set
      example:
        sku: 'SKU_01_GADGETS'
        totalcost: '148.00'
        description: 'TEST'
        name: 'Gadgets'
        currency: 'SG$'
        basecost: '148.00'
        image: 'https://lh3.googleusercontent.com/x2DBO5z1u19MkewbjIQkANwy4qErkNP9khunOM1AofmHBV67UbFpdBPV7CDoHgzMDXreHbuFvliUco46e2pjNNZd2GA8bjvnTDWZ'
        hashtags: ['Electronics']
        bundle: true
        event: false
        shopActive: true
        images: [
          https://lh3.googleusercontent.com/x2DBO5z1u19MkewbjIQkANwy4qErkNP9khunOM1AofmHBV67UbFpdBPV7CDoHgzMDXreHbuFvliUco46e2pjNNZd2GA8bjvnTDWZ
        ]
        catalog: false
        variation: true
        hashtag: 'gadgetsaussie1'
        active: true
        id: '6075078493077504'
        stock: 93
    Collection:
      type: object
      properties:
        sku:
          type: string
          example: 'HJY679'
          description: ''
        totalcost:
          type: string
          example: '430.00'
          description: Selling price of the collection
        description:
          type: string
          example: 'its a set'
          description: Description of the collection
        name:
          type: string
          example: 'Gadgets'
          description: Name of the collection
        currency:
          type: string
          example: 'SG $'
          description: Currency of the collection
        basecost:
          type: string
          example: '450.00'
          description: Actual cost of the collection
        image:
          type: string
          example: https://jumperdevnew.appspot.com/getimage/product-4580188539060224
          description: Image of the collection.
        hashtags:
          type: array
          items:
            type: string
            example: ELECTRONICS
          example:
            - ELECTRONICS
          description: ''
        bundle:
          type: boolean
          example: true
          description: True in case of it is a Set
        event:
          type: boolean
          example: false
          description: ''
        shopActive:
          type: boolean
          example: true
          description: True indicate this set displays on the store
        images:
          type: array
          items:
            type: string
            example: https://jumperdevnew.appspot.com/getimage/product-4580188539060224
          example:
            - https://jumperdevnew.appspot.com/getimage/product-4580188539060224
          description: ''
        catalog:
          type: boolean
          example:
            false
          description: True in case of it is a collection
        variation:
          type: boolean
          example: true
          description: ''
        hashtag:
          type: string
          example: 'gadget'
          description: Checkout trigger word for the collection
        active:
          type: boolean
          example: true
          description: ''
        id:
          type: string
          example: '4580188539060224'
          description: It is the id of the collection
        stock:
          type: number
          example: 907
          description: Inventory of the collection
      example:
        sku: 'SKU_01_GADGETS'
        totalcost: '148.00'
        description: 'TEST'
        name: 'Gadgets'
        currency: 'SG$'
        basecost: '148.00'
        image: 'https://lh3.googleusercontent.com/x2DBO5z1u19MkewbjIQkANwy4qErkNP9khunOM1AofmHBV67UbFpdBPV7CDoHgzMDXreHbuFvliUco46e2pjNNZd2GA8bjvnTDWZ'
        hashtags: [ 'Electronics' ]
        bundle: true
        event: false
        shopActive: true
        images: [
          https://lh3.googleusercontent.com/x2DBO5z1u19MkewbjIQkANwy4qErkNP9khunOM1AofmHBV67UbFpdBPV7CDoHgzMDXreHbuFvliUco46e2pjNNZd2GA8bjvnTDWZ
        ]
        catalog: false
        variation: true
        hashtag: 'gadgetsaussie1'
        active: true
        id: '6075078493077504'
        stock: 93
# Apply the security globally to all operations
security:
  - bearerAuth: []