{"openapi":"3.0.0","info":{"title":"DevPortal (Main API): Account information APIs","description":"Luminor agnostic API definitions","contact":{"email":"openbanking@luminorgroup.com"},"version":"1.0.2"},"servers":[{"url":"https://api.developer.luminoropenbanking.com/sandbox/"}],"tags":[{"name":"Account information","description":"Set of endpoints used to request accounts information"}],"paths":{"/v1/accounts":{"get":{"tags":["Account information"],"summary":"Get accounts within user's consent","description":"Returns accounts within particular consent","operationId":"getAccounts","parameters":[{"name":"X-Request-ID","in":"header","description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"},{"name":"Authorization","in":"header","description":"Access token issued by the authorization server","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"8f5SZKlfrPg9pTqaeGIYwxAmsco"},{"name":"Consent-ID","in":"header","description":"Consent ID","required":true,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}},{"name":"PSU-IP-Address","in":"header","description":"User's IP Address","schema":{"type":"string","format":"ipv4","exampleSetFlag":false},"example":"255.255.255.255"},{"name":"PSU-Corporate-ID","in":"header","description":"PSU personal ID code/Company's registration code (for validation purpose)","required":false,"schema":{"type":"string","exampleSetFlag":false}},{"name":"withBalance","in":"query","description":"Include balance information in response (true/false)","required":false,"style": "form","explode":true,"schema":{"type":"boolean","exampleSetFlag":false},"example":true},{"name":"currency","in":"query","description":"Filter accounts by currency","required":false,"style": "form","explode":true,"schema":{"type":"string","exampleSetFlag":false},"example":"EUR"}],"responses":{"200":{"description":"OK","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_200","exampleSetFlag":false},"exampleSetFlag":false}}},"400":{"description":"Bad Request","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"401":{"description":"Unauthorized","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"403":{"description":"Forbidden","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"404":{"description":"Not Found","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"409":{"description":"Conflict","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"429":{"description":"Too Many Requests","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"500":{"description":"Internal Server Error","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}}},"security":[{"headers":["content-type: application/json","authorization: Bearer REPLACE_IT_BY_ACCESS_TOKEN(customer2,ttp1)"]}]}},"/v1/accounts/{accountId}":{"get":{"tags":["Account information"],"summary":"Get account details","description":"Returns details of specified account","operationId":"getAccount","parameters":[{"name":"X-Request-ID","in":"header","description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"},{"name":"Authorization","in":"header","description":"Access token issued by the authorization server","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"8f5SZKlfrPg9pTqaeGIYwxAmsco"},{"name":"Consent-ID","in":"header","description":"Consent ID","required":true,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}},{"name":"PSU-IP-Address","in":"header","description":"User's IP Address","schema":{"type":"string","format":"ipv4","exampleSetFlag":false},"example":"255.255.255.255"},{"name":"accountId","in":"path","description":"Account ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","exampleSetFlag":false}},{"name":"withBalance","in":"query","description":"Include balance information in response (true/false)","required":false,"style": "form","explode":true,"schema":{"type":"boolean","exampleSetFlag":false},"example":true}],"responses":{"200":{"description":"OK","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_200_1","exampleSetFlag":false},"exampleSetFlag":false}}},"400":{"description":"Bad Request","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"401":{"description":"Unauthorized","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"403":{"description":"Forbidden","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"404":{"description":"Not Found","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"409":{"description":"Conflict","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"429":{"description":"Too Many Requests","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"500":{"description":"Internal Server Error","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}}},"security":[{"headers":["content-type: application/json","authorization: Bearer REPLACE_IT_BY_ACCESS_TOKEN(customer2,ttp1)"]}]}},"/v1/accounts/{accountId}/balances":{"get":{"tags":["Account information"],"summary":"Get account balances","description":"Returns balances of specified account","operationId":"getAccountBalances","parameters":[{"name":"X-Request-ID","in":"header","description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"},{"name":"Authorization","in":"header","description":"Access token issued by the authorization server","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"8f5SZKlfrPg9pTqaeGIYwxAmsco"},{"name":"Consent-ID","in":"header","description":"Consent ID","required":true,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}},{"name":"PSU-IP-Address","in":"header","description":"User's IP Address","schema":{"type":"string","format":"ipv4","exampleSetFlag":false},"example":"255.255.255.255"},{"name":"accountId","in":"path","description":"Account ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","exampleSetFlag":false}}],"responses":{"200":{"description":"OK","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_200_2","exampleSetFlag":false},"exampleSetFlag":false}}},"400":{"description":"Bad Request","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"401":{"description":"Unauthorized","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"403":{"description":"Forbidden","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"404":{"description":"Not Found","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"409":{"description":"Conflict","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"429":{"description":"Too Many Requests","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"500":{"description":"Internal Server Error","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}}},"security":[{"headers":["content-type: application/json","authorization: Bearer REPLACE_IT_BY_ACCESS_TOKEN(customer2,ttp1)"]}]}},"/v1/accounts/{accountId}/transactions":{"get":{"tags":["Account information"],"summary":"Get account transactions","description":"Returns transactions of specified account","operationId":"getAccountTransactions","parameters":[{"name":"X-Request-ID","in":"header","description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"},{"name":"Authorization","in":"header","description":"Access token issued by the authorization server","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"8f5SZKlfrPg9pTqaeGIYwxAmsco"},{"name":"Consent-ID","in":"header","description":"Consent ID","required":true,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}},{"name":"PSU-IP-Address","in":"header","description":"User's IP Address","schema":{"type":"string","format":"ipv4","exampleSetFlag":false},"example":"255.255.255.255"},{"name":"accountId","in":"path","description":"Account ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","exampleSetFlag":false}},{"name":"bookingStatus","in":"query","description":"Filter transactions by booking status (only \"booked\" is supported)","required":true,"style": "form","explode":true,"schema":{"type":"string","exampleSetFlag":false,"enum":["booked","pending"]},"example":"booked"},{"name":"dateFrom","in":"query","description":"Start date (YYYY-MM-DD) must be not older than 90 days from today","required":true,"style": "form","explode":true,"schema":{"type":"string","format":"date","exampleSetFlag":false},"example":"2020-08-01"},{"name":"dateTo","in":"query","description":"End date (YYYY-MM-DD) must be not more than 30 days from start date","required":true,"style": "form","explode":true,"schema":{"type":"string","format":"date","exampleSetFlag":false},"example":"2020-08-15"},{"name":"transactionType","in":"query","description":"Filter transactions by type (incoming/outgoing)","required":false,"style": "form","explode":true,"schema":{"type":"string","exampleSetFlag":false,"enum":["incoming","outgoing"]},"example":"outgoing"}],"responses":{"200":{"description":"OK","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_200_3","exampleSetFlag":false},"exampleSetFlag":false}}},"210":{"description":"OK","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_200_3","exampleSetFlag":false},"exampleSetFlag":false}}},"400":{"description":"Bad Request","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"401":{"description":"Unauthorized","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"403":{"description":"Forbidden","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"404":{"description":"Not Found","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"409":{"description":"Conflict","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"429":{"description":"Too Many Requests","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"500":{"description":"Internal Server Error","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}}},"security":[{"headers":["content-type: application/json","authorization: Bearer REPLACE_IT_BY_ACCESS_TOKEN(customer2,ttp1)"]}]}}},"components":{"schemas":{"accountsEnv":{"type":"object","properties":{"accounts":{"type":"array","description":"List of accounts","exampleSetFlag":false,"items":{"$ref":"#/components/schemas/accountsEnv_accounts","exampleSetFlag":false}}},"exampleSetFlag":false},"account":{"type":"object","properties":{"resourceId":{"type":"string","description":"Account ID","example":"A01A77CCB3F8EE9F4B56E0C26EAAB19AD36A9741F1560DF57B71B0C287794542","exampleSetFlag":true},"iban":{"type":"string","description":"IBAN","example":"LT594010049500047594","exampleSetFlag":true},"currency":{"type":"string","description":"Currency","example":"EUR","exampleSetFlag":true},"product":{"type":"string","description":"Account product name","example":"Payment card account","exampleSetFlag":true,"enum":["Current account","Payment card account","Minimum salary account","Investment account"]},"name":{"type":"string","description":"Account name given by the customer","example":"My main account","exampleSetFlag":true},"ownerName":{"type":"string","description":"Name of the legal account owner","example":"NameA SurnameA","exampleSetFlag":true},"cardAccount":{"type":"boolean","description":"Account has card attached (true/false)","example":true,"exampleSetFlag":true},"bic":{"type":"string","description":"BIC","example":"RIKOLV2X","exampleSetFlag":true},"interestRate":{"type":"string","description":"Account interest rate","example":"5.6","exampleSetFlag":true},"usage":{"type":"string","description":"Account usage (private or corporate)","example":"PRIV","exampleSetFlag":true,"enum":["PRIV","ORGA"]},"status":{"type":"string","description":"Account status","example":"blocked","exampleSetFlag":true,"enum":["enabled","blocked"]},"balances":{"type":"array","description":"Account balances","exampleSetFlag":false,"items":{"$ref":"#/components/schemas/accountsEnv_balances","exampleSetFlag":false}},"_links":{"$ref":"#/components/schemas/accountsEnv__links","exampleSetFlag":false}},"exampleSetFlag":false},"accountBalance":{"type":"object","properties":{"balanceAmount":{"$ref":"#/components/schemas/accountsEnv_balanceAmount","exampleSetFlag":false},"balanceType":{"type":"string","description":"Account balance type","example":"interimAvailable","exampleSetFlag":true,"enum":["interimAvailable","interimBooked"]},"creditLimitIncluded":{"type":"boolean","description":"Credit limit is included in the calculation of the balance (true/false)","example":true,"exampleSetFlag":true}},"example":[{"balanceAmount":{"currency":"EUR","amount":900.0},"balanceType":"interimAvailable","creditLimitIncluded":true},{"balanceAmount":{"currency":"EUR","amount":400.0},"balanceType":"interimBooked"}],"exampleSetFlag":true},"accountLinks":{"type":"object","properties":{"balances":{"$ref":"#/components/schemas/accountsEnv__links_balances","exampleSetFlag":false},"transactions":{"$ref":"#/components/schemas/accountsEnv__links_transactions","exampleSetFlag":false}},"description":"Links","exampleSetFlag":false},"hrefTypeBalances":{"type":"object","properties":{"href":{"type":"string","description":"Link to balances","example":"/v1/accounts/A01A77CCB3F8EE9F4B56E0C26EAAB19AD36A9741F1560DF57B71B0C287794542/balances","exampleSetFlag":true}},"description":"Balances","exampleSetFlag":false},"hrefTypeTransaction":{"type":"object","properties":{"href":{"type":"string","description":"Link to transactions","example":"/v1/accounts/A01A77CCB3F8EE9F4B56E0C26EAAB19AD36A9741F1560DF57B71B0C287794542/transactions","exampleSetFlag":true}},"description":"Transactions","exampleSetFlag":false},"accountBalancesEnv":{"type":"object","properties":{"account":{"$ref":"#/components/schemas/accountBalancesEnv_account","exampleSetFlag":false},"balances":{"type":"array","description":"Account balances","example":[{"balanceAmount":{"currency":"EUR","amount":900.0},"balanceType":"interimAvailable","creditLimitIncluded":true},{"balanceAmount":{"currency":"EUR","amount":400.0},"balanceType":"interimBooked"}],"exampleSetFlag":true,"items":{"$ref":"#/components/schemas/accountsEnv_balances","exampleSetFlag":false}}},"exampleSetFlag":false},"transactionsEnv":{"type":"object","properties":{"account":{"$ref":"#/components/schemas/accountBalancesEnv_account","exampleSetFlag":false},"booked":{"type":"array","description":"Booked transactions","exampleSetFlag":false,"items":{"$ref":"#/components/schemas/transactionsEnv_booked","exampleSetFlag":false}},"balances":{"type":"array","description":"Account balances","example":[{"balanceAmount":{"currency":"EUR","amount":900.0},"balanceType":"interimBooked"}],"exampleSetFlag":true,"items":{"$ref":"#/components/schemas/transactionsEnv_balances","exampleSetFlag":false}},"_links":{"$ref":"#/components/schemas/transactionsEnv__links","exampleSetFlag":false},"statementId":{"type":"string","description":"resourceId","exampleSetFlag":false},"statementStatus":{"type":"string","description":"resource status","exampleSetFlag":false}},"exampleSetFlag":false},"transaction":{"type":"object","properties":{"transactionId":{"type":"string","description":"Transaction ID","example":"40367613","exampleSetFlag":true},"endToEndId":{"maxLength":35,"type":"string","description":"End-to-end reference","example":"NOT PROVIDED","exampleSetFlag":true},"creditorName":{"maxLength":70,"type":"string","description":"Beneficiary name","example":"Jonas Jonaitis","exampleSetFlag":true},"creditorAccount":{"$ref":"#/components/schemas/transactionsEnv_creditorAccount","exampleSetFlag":false},"debtorName":{"maxLength":70,"type":"string","description":"Payer name","example":"Janis Berzins","exampleSetFlag":true},"debtorAccount":{"$ref":"#/components/schemas/transactionsEnv_creditorAccount","exampleSetFlag":false},"transactionAmount":{"$ref":"#/components/schemas/transactionsEnv_transactionAmount","exampleSetFlag":false},"bookingDate":{"type":"string","description":"Date when an entry is posted to an account","format":"date","example":"2020-03-15","exampleSetFlag":true},"valueDate":{"type":"string","description":"Date at when transaction was actually executed","format":"date","example":"2020-03-25","exampleSetFlag":true},"remittanceInformationUnstructured":{"maxLength":140,"type":"string","description":"Unstructured payment details","example":"Invoice x29876","exampleSetFlag":true},"remittanceInformationStructured":{"$ref":"#/components/schemas/transactionsEnv_remittanceInformationStructured","exampleSetFlag":false},"bankTransactionCode":{"type":"string","description":"Concatenated code from ISO20022 (Domain Code-Family Code-SubFamiliy Code)","example":"PMNT-ICDT-OTHR","exampleSetFlag":true}},"exampleSetFlag":false},"transactionBalance":{"type":"object","properties":{"balanceAmount":{"$ref":"#/components/schemas/accountsEnv_balanceAmount","exampleSetFlag":false},"balanceType":{"type":"string","description":"Account balance type","example":"interimBooked","exampleSetFlag":true,"enum":["interimBooked"]}},"exampleSetFlag":false},"transactionId":{"type":"string","description":"Transaction ID","example":"40367613","exampleSetFlag":true},"endToEndId":{"maxLength":35,"type":"string","description":"End-to-end reference","example":"NOT PROVIDED","exampleSetFlag":true},"creditorName":{"maxLength":70,"type":"string","description":"Beneficiary name","example":"Jonas Jonaitis","exampleSetFlag":true},"debtorName":{"maxLength":70,"type":"string","description":"Payer name","example":"Janis Berzins","exampleSetFlag":true},"bookingDate":{"type":"string","description":"Date when an entry is posted to an account","format":"date","example":"2020-03-15","exampleSetFlag":true},"valueDate":{"type":"string","description":"Date at when transaction was actually executed","format":"date","example":"2020-03-25","exampleSetFlag":true},"remittanceInformationUnstructured":{"maxLength":140,"type":"string","description":"Unstructured payment details","example":"Invoice x29876","exampleSetFlag":true},"remittanceInformationStructured":{"type":"object","properties":{"reference":{"type":"string","description":"Reference number","example":"RF18539007547034","exampleSetFlag":true},"referenceType":{"type":"string","description":"Reference type","example":"SCOR","exampleSetFlag":true},"referenceIssuer":{"type":"string","description":"Reference issuer","example":"ISO","exampleSetFlag":true}},"description":"Structured payment details","exampleSetFlag":false},"bankTransactionCode":{"type":"string","description":"Concatenated code from ISO20022 (Domain Code-Family Code-SubFamiliy Code)","example":"PMNT-ICDT-OTHR","exampleSetFlag":true},"accountReference":{"properties":{"iban":{"type":"string","description":"IBAN","example":"LT594010049500047594","exampleSetFlag":true}},"exampleSetFlag":false},"debitAccountReference":{"properties":{"iban":{"type":"string","description":"IBAN","example":"LT594010049500047594","exampleSetFlag":true}},"exampleSetFlag":false},"errorResponse":{"type":"object","properties":{"errors":{"type":"array","description":"error details","exampleSetFlag":false,"items":{"$ref":"#/components/schemas/errorResponse_errors","exampleSetFlag":false}}},"exampleSetFlag":false},"error":{"required":["category","code"],"properties":{"category":{"type":"string","description":"Error category. Only \"ERROR\" or \"WARNING\" permitted","example":"ERROR","exampleSetFlag":true,"enum":["ERROR","WARNING"]},"code":{"type":"string","description":"Error message code","example":"FORMAT_ERROR","exampleSetFlag":true},"text":{"type":"string","description":"Additional explaining text","example":"Review query parameters","exampleSetFlag":true}},"exampleSetFlag":false},"iban":{"type":"string","description":"IBAN","example":"LT594010049500047594","exampleSetFlag":true},"currency":{"type":"string","description":"Currency","example":"EUR","exampleSetFlag":true},"bicfi":{"type":"string","description":"BIC","example":"RIKOLV2X","exampleSetFlag":true},"AccountMoney":{"type":"object","properties":{"currency":{"type":"string","description":"Currency","example":"EUR","exampleSetFlag":true},"amount":{"type":"number","description":"Amount","example":152.45,"exampleSetFlag":true}},"description":"Account balance","exampleSetFlag":false},"amount":{"type":"number","description":"Amount","example":152.45,"exampleSetFlag":true},"Money":{"type":"object","properties":{"currency":{"type":"string","description":"Currency","example":"EUR","exampleSetFlag":true},"amount":{"type":"number","description":"Amount","example":152.45,"exampleSetFlag":true}},"description":"Transaction amount","exampleSetFlag":false},"inline_response_200":{"type":"object","properties":{"accounts":{"type":"array","description":"List of accounts","exampleSetFlag":false,"items":{"$ref":"#/components/schemas/accountsEnv_accounts","exampleSetFlag":false}}},"exampleSetFlag":false},"inline_response_400":{"type":"object","properties":{"errors":{"type":"array","description":"error details","exampleSetFlag":false,"items":{"$ref":"#/components/schemas/errorResponse_errors","exampleSetFlag":false}}},"exampleSetFlag":false},"inline_response_200_1":{"type":"object","properties":{"resourceId":{"type":"string","description":"Account ID","example":"A01A77CCB3F8EE9F4B56E0C26EAAB19AD36A9741F1560DF57B71B0C287794542","exampleSetFlag":true},"iban":{"type":"string","description":"IBAN","example":"LT594010049500047594","exampleSetFlag":true},"currency":{"type":"string","description":"Currency","example":"EUR","exampleSetFlag":true},"product":{"type":"string","description":"Account product name","example":"Payment card account","exampleSetFlag":true,"enum":["Current account","Payment card account","Minimum salary account","Investment account"]},"name":{"type":"string","description":"Account name given by the customer","example":"My main account","exampleSetFlag":true},"ownerName":{"type":"string","description":"Name of the legal account owner","example":"NameA SurnameA","exampleSetFlag":true},"cardAccount":{"type":"boolean","description":"Account has card attached (true/false)","example":true,"exampleSetFlag":true},"bic":{"type":"string","description":"BIC","example":"RIKOLV2X","exampleSetFlag":true},"interestRate":{"type":"string","description":"Account interest rate","example":"5.6","exampleSetFlag":true},"usage":{"type":"string","description":"Account usage (private or corporate)","example":"PRIV","exampleSetFlag":true,"enum":["PRIV","ORGA"]},"status":{"type":"string","description":"Account status","example":"blocked","exampleSetFlag":true,"enum":["enabled","blocked"]},"balances":{"type":"array","description":"Account balances","exampleSetFlag":false,"items":{"$ref":"#/components/schemas/accountsEnv_balances","exampleSetFlag":false}},"_links":{"$ref":"#/components/schemas/accountsEnv__links","exampleSetFlag":false}},"exampleSetFlag":false},"inline_response_200_2":{"type":"object","properties":{"account":{"$ref":"#/components/schemas/accountBalancesEnv_account","exampleSetFlag":false},"balances":{"type":"array","description":"Account balances","example":[{"balanceAmount":{"currency":"EUR","amount":900.0},"balanceType":"interimAvailable","creditLimitIncluded":true},{"balanceAmount":{"currency":"EUR","amount":400.0},"balanceType":"interimBooked"}],"exampleSetFlag":true,"items":{"$ref":"#/components/schemas/accountsEnv_balances","exampleSetFlag":false}}},"exampleSetFlag":false},"inline_response_200_3":{"type":"object","properties":{"account":{"$ref":"#/components/schemas/accountBalancesEnv_account","exampleSetFlag":false},"booked":{"type":"array","description":"Booked transactions","exampleSetFlag":false,"items":{"$ref":"#/components/schemas/transactionsEnv_booked","exampleSetFlag":false}},"balances":{"type":"array","description":"Account balances","example":[{"balanceAmount":{"currency":"EUR","amount":900.0},"balanceType":"interimBooked"}],"exampleSetFlag":true,"items":{"$ref":"#/components/schemas/transactionsEnv_balances","exampleSetFlag":false}},"_links":{"$ref":"#/components/schemas/transactionsEnv__links","exampleSetFlag":false},"statementId":{"type":"string","description":"resourceId","exampleSetFlag":false},"statementStatus":{"type":"string","description":"resource status","exampleSetFlag":false}},"exampleSetFlag":false},"accountsEnv_balanceAmount":{"type":"object","properties":{"currency":{"type":"string","description":"Currency","example":"EUR","exampleSetFlag":true},"amount":{"type":"number","description":"Amount","example":152.45,"exampleSetFlag":true}},"description":"Account balance","exampleSetFlag":true},"accountsEnv_balances":{"type":"object","properties":{"balanceAmount":{"$ref":"#/components/schemas/accountsEnv_balanceAmount","exampleSetFlag":false},"balanceType":{"type":"string","description":"Account balance type","example":"interimAvailable","exampleSetFlag":true,"enum":["interimAvailable","interimBooked"]},"creditLimitIncluded":{"type":"boolean","description":"Credit limit is included in the calculation of the balance (true/false)","example":true,"exampleSetFlag":true}},"example":"[{\"balanceAmount\":{\"currency\":\"EUR\",\"amount\":900.0},\"balanceType\":\"interimAvailable\",\"creditLimitIncluded\":true},{\"balanceAmount\":{\"currency\":\"EUR\",\"amount\":400.0},\"balanceType\":\"interimBooked\"}]","exampleSetFlag":true},"accountsEnv__links_balances":{"type":"object","properties":{"href":{"type":"string","description":"Link to balances","example":"/v1/accounts/A01A77CCB3F8EE9F4B56E0C26EAAB19AD36A9741F1560DF57B71B0C287794542/balances","exampleSetFlag":true}},"description":"Balances","exampleSetFlag":true},"accountsEnv__links_transactions":{"type":"object","properties":{"href":{"type":"string","description":"Link to transactions","example":"/v1/accounts/A01A77CCB3F8EE9F4B56E0C26EAAB19AD36A9741F1560DF57B71B0C287794542/transactions","exampleSetFlag":true}},"description":"Transactions","exampleSetFlag":true},"accountsEnv__links":{"type":"object","properties":{"balances":{"$ref":"#/components/schemas/accountsEnv__links_balances","exampleSetFlag":false},"transactions":{"$ref":"#/components/schemas/accountsEnv__links_transactions","exampleSetFlag":false}},"description":"Links","exampleSetFlag":true},"accountsEnv_accounts":{"type":"object","properties":{"resourceId":{"type":"string","description":"Account ID","example":"A01A77CCB3F8EE9F4B56E0C26EAAB19AD36A9741F1560DF57B71B0C287794542","exampleSetFlag":true},"iban":{"type":"string","description":"IBAN","example":"LT594010049500047594","exampleSetFlag":true},"currency":{"type":"string","description":"Currency","example":"EUR","exampleSetFlag":true},"product":{"type":"string","description":"Account product name","example":"Payment card account","exampleSetFlag":true,"enum":["Current account","Payment card account","Minimum salary account","Investment account"]},"name":{"type":"string","description":"Account name given by the customer","example":"My main account","exampleSetFlag":true},"ownerName":{"type":"string","description":"Name of the legal account owner","example":"NameA SurnameA","exampleSetFlag":true},"cardAccount":{"type":"boolean","description":"Account has card attached (true/false)","example":true,"exampleSetFlag":true},"bic":{"type":"string","description":"BIC","example":"RIKOLV2X","exampleSetFlag":true},"interestRate":{"type":"string","description":"Account interest rate","example":"5.6","exampleSetFlag":true},"usage":{"type":"string","description":"Account usage (private or corporate)","example":"PRIV","exampleSetFlag":true,"enum":["PRIV","ORGA"]},"status":{"type":"string","description":"Account status","example":"blocked","exampleSetFlag":true,"enum":["enabled","blocked"]},"balances":{"type":"array","description":"Account balances","exampleSetFlag":false,"items":{"$ref":"#/components/schemas/accountsEnv_balances","exampleSetFlag":false}},"_links":{"$ref":"#/components/schemas/accountsEnv__links","exampleSetFlag":false}},"exampleSetFlag":true},"accountBalancesEnv_account":{"type":"object","properties":{"iban":{"type":"string","description":"IBAN","example":"LT594010049500047594","exampleSetFlag":true}},"description":"Account","exampleSetFlag":true},"transactionsEnv_creditorAccount":{"properties":{"iban":{"type":"string","description":"IBAN","example":"LT594010049500047594","exampleSetFlag":true}},"exampleSetFlag":true},"transactionsEnv_transactionAmount":{"type":"object","properties":{"currency":{"type":"string","description":"Currency","example":"EUR","exampleSetFlag":true},"amount":{"type":"number","description":"Amount","example":152.45,"exampleSetFlag":true}},"description":"Transaction amount","exampleSetFlag":true},"transactionsEnv_remittanceInformationStructured":{"type":"object","properties":{"reference":{"type":"string","description":"Reference number","example":"RF18539007547034","exampleSetFlag":true},"referenceType":{"type":"string","description":"Reference type","example":"SCOR","exampleSetFlag":true},"referenceIssuer":{"type":"string","description":"Reference issuer","example":"ISO","exampleSetFlag":true}},"description":"Structured payment details","exampleSetFlag":true},"transactionsEnv_booked":{"type":"object","properties":{"transactionId":{"type":"string","description":"Transaction ID","example":"40367613","exampleSetFlag":true},"endToEndId":{"maxLength":35,"type":"string","description":"End-to-end reference","example":"NOT PROVIDED","exampleSetFlag":true},"creditorName":{"maxLength":70,"type":"string","description":"Beneficiary name","example":"Jonas Jonaitis","exampleSetFlag":true},"creditorAccount":{"$ref":"#/components/schemas/transactionsEnv_creditorAccount","exampleSetFlag":false},"debtorName":{"maxLength":70,"type":"string","description":"Payer name","example":"Janis Berzins","exampleSetFlag":true},"debtorAccount":{"$ref":"#/components/schemas/transactionsEnv_creditorAccount","exampleSetFlag":false},"transactionAmount":{"$ref":"#/components/schemas/transactionsEnv_transactionAmount","exampleSetFlag":false},"bookingDate":{"type":"string","description":"Date when an entry is posted to an account","format":"date","example":"2020-03-15","exampleSetFlag":true},"valueDate":{"type":"string","description":"Date at when transaction was actually executed","format":"date","example":"2020-03-25","exampleSetFlag":true},"remittanceInformationUnstructured":{"maxLength":140,"type":"string","description":"Unstructured payment details","example":"Invoice x29876","exampleSetFlag":true},"remittanceInformationStructured":{"$ref":"#/components/schemas/transactionsEnv_remittanceInformationStructured","exampleSetFlag":false},"bankTransactionCode":{"type":"string","description":"Concatenated code from ISO20022 (Domain Code-Family Code-SubFamiliy Code)","example":"PMNT-ICDT-OTHR","exampleSetFlag":true}},"exampleSetFlag":true},"transactionsEnv_balances":{"type":"object","properties":{"balanceAmount":{"$ref":"#/components/schemas/accountsEnv_balanceAmount","exampleSetFlag":false},"balanceType":{"type":"string","description":"Account balance type","example":"interimBooked","exampleSetFlag":true,"enum":["interimBooked"]}},"exampleSetFlag":true},"transactionsEnv__links_account":{"type":"object","properties":{"href":{"type":"string","description":"Link to account details","example":"/v1/accounts/A01A77CCB3F8EE9F4B56E0C26EAAB19AD36A9741F1560DF57B71B0C287794542","exampleSetFlag":true}},"description":"Account details","exampleSetFlag":true},"transactionsEnv__links_download":{"type":"object","properties":{"href":{"type":"string","description":"Link to download transaction history","example":"/v1/accounts/123abc/transactions/124bca/download","exampleSetFlag":true}},"description":"Download transaction history","exampleSetFlag":true},"transactionsEnv__links_status":{"type":"object","properties":{"href":{"type":"string","description":"Link to consent status","example":"/v1/accounts/123abc/transactions/124bca/status","exampleSetFlag":true}},"description":"Consent status","exampleSetFlag":true},"transactionsEnv__links":{"type":"object","properties":{"account":{"$ref":"#/components/schemas/transactionsEnv__links_account","exampleSetFlag":false},"download":{"$ref":"#/components/schemas/transactionsEnv__links_download","exampleSetFlag":false},"status":{"$ref":"#/components/schemas/transactionsEnv__links_status","exampleSetFlag":false}},"description":"Links","exampleSetFlag":true},"errorResponse_errors":{"required":["category","code"],"properties":{"category":{"type":"string","description":"Error category. Only \"ERROR\" or \"WARNING\" permitted","example":"ERROR","exampleSetFlag":true,"enum":["ERROR","WARNING"]},"code":{"type":"string","description":"Error message code","example":"FORMAT_ERROR","exampleSetFlag":true},"text":{"type":"string","description":"Additional explaining text","example":"Review query parameters","exampleSetFlag":true}},"exampleSetFlag":true}},"parameters":{"accountId":{"name":"accountId","in":"path","description":"Account ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","exampleSetFlag":false}},"withBalance":{"name":"withBalance","in":"query","description":"Include balance information in response (true/false)","required":false,"style": "form","explode":true,"schema":{"type":"boolean","exampleSetFlag":false},"example":true}},"headers":{"xRequestId":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}}}}