{"openapi":"3.1.0","info":{"title":"Satispay - GBusiness API","version":"1.0.0","contact":{"name":"Satispay Tech","email":"tech@satispay.com","url":"https://developers.satispay.com"}},"servers":[{"url":"https://authservices.satispay.com/g_business/v1","description":"Production"},{"url":"https://staging.authservices.satispay.com/g_business/v1","description":"Sandbox"}],"paths":{"/authentication_keys":{"post":{"summary":"2. Obtain the KeyId","operationId":"keyid","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"public_key":{"type":"string","description":"The `RSA` public key, in `PEM` format generated in the [previous step](ref:generate-rsa-keys)."},"token":{"type":"string","description":"The activation code required to authenticate the APIs. <br> <br> For more information read [here](ref:keyid#how-the-token-field-works)"}},"required":["public_key","token"]}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"key_id":{"type":"string","description":"The KeyId generated for the activation code sent. <br> <br> The returned value must be saved in a safe place with the private and the public keys used."}}},"examples":{"response":{"value":"{\n    \"key_id\": \"4ekqhmf77q95deciis2frre12el393rteletbrg4rffqri3n58lsjsvf6uph934o7vr69r93iu4ifc3tkeidlg5fhoogo3grmh99lr2g94a6aerbf56m48og47e6vnbfu13rf1vvj3l4b3mn3qd2ttoc4a8hh2jgb589s59d56tdmp7dkuobesvfmnnpf8cmg7646do5\"\n}\n"}}}}},"400":{"description":"400 Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"wlt":{"type":"string","description":"The request CID/WLT, save this string in case of errors. <br> This will help our IT support to trace the request."},"code":{"type":"string","description":"The specific system error code. <br> <br> `34` <br> The `public_key` that you sent is invalid. <br> Please check the formatting as described above."},"message":{"type":"string","description":"The error message."}}},"examples":{"response":{"value":"{\n    \"code\": 34,\n    \"message\": \"Bad request. Invalid RSA key\",\n    \"wlt\": \"pAfiPytd\"\n}"}}}}},"403":{"description":"403 Forbidden or invalid authorization header","content":{"application/json":{"schema":{"type":"object","properties":{"wlt":{"type":"string","description":"The request CID/WLT, save this string in case of errors. <br> This will help our IT support to trace the request."},"code":{"type":"string","description":"The specific system error code. <br> <br> `45` <br> The `token` that you sent has already been paired. <br> Remember that activation codes are one-time use."},"message":{"type":"string","description":"The error message."}}},"examples":{"response":{"value":"{\n    \"code\": 45,\n    \"message\": \"Forbidden\",\n    \"wlt\": \"t5JPz9Oq\"\n}"}}}}},"404":{"description":"404 Resource not found","content":{"application/json":{"schema":{"type":"object","properties":{"wlt":{"type":"string","description":"The request CID/WLT, save this string in case of errors. <br> This will help our IT support to trace the request."},"code":{"type":"string","description":"The specific system error code. <br> <br> `41` <br> The `token` that you has not been found on the system. <br> Please verify that you are using it in the correct environment [endpoint](ref:endpoints)."},"message":{"type":"string","description":"The error message."}}},"examples":{"response":{"value":"{\n    \"code\": 41,\n    \"message\": \"Resource not found\",\n    \"wlt\": \"BmYAT6jH\"\n}"}}}}}},"x-readme":{"explorer-enabled":true,"samples-languages":["shell","php"],"code-samples":[{"language":"curl","code":"curl --request POST \\\n  --url https://authservices.satispay.com/g_business/v1/authentication_keys \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"public_key\": \"-----BEGIN PUBLIC KEY-----\\nMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAkbVuFw4g+Zpf2mC1EpG2\\ngapOCWUp+8Xb/DjTk/WRJoFOZ+OGKZ7DZzlgGVlYgY59T4+fHS/aGXQRIYIgH3sr\\na17x2PXcgOFcWJbyAL9kS+sUej8ePkt/aeCT5i32dE27qV9T7wfYqBdzKOPdhHzN\\n9p8o7SOQgmyYsw6FdioQ+zMhCDT0gF3wiXHqCztPMQr5Cb1b6tDiZO0VKNk71qXh\\nl1ltvyqr68/ULlTF9oKHU3TybErU/1uHMi6PWwsylJDZdETfA+lnNFvkMhuza8Ma\\ngdQQJ7/Q3wQPuZGmjBTLt5jWtnNXts+QCOkUGjz2XK06+v8J9tWf+ltBNfMdN8Ou\\nYU5CxEG7+phpuexK/DhfVNyWz5Awagyn6C4Iu0cUo+s89aLMcg4hgSVZJb5CkY6K\\n4ymLzgVp+M5J7g2BSXk0L/eCSkCeOy/RNs3/nJk9QlEzb7xBjwITAv3pD0X6AXmr\\nOlVKW4O9ovjmXp+8UdTh/YXT6xoC4+kuGBKensLwH4Vd69llmFhneEykeEOUQSAt\\nrmPm7Us0DSpXoUjiimd8eFsNV3wqSVHLV1jadlkhusYdmWhDvdrqHoXol/T5aN/E\\nP3HopzFrNy0w01DCSWv+PDjx5i6MmhTYTYI9MlSmVsPUGU3g0CV3MCVwUFu25jze\\nAwZuPOe/vLyM/pOB42A8ibUCAwEAAQ==\\n-----END PUBLIC KEY-----\",\n    \"token\": \"6N3ECU\"\n  }'","name":"","correspondingExample":""},{"language":"php","code":"<?php\n\nrequire_once('../vendor/autoload.php');\n\n// authenticate with the activation code\n$authentication = \\SatispayGBusiness\\Api::authenticateWithToken(\"6N3ECU\");\n\n// persist authentication credentials\n$publicKey = $authentication->publicKey;\n$privateKey = $authentication->privateKey;\n$keyId = $authentication->keyId;\n","name":"","correspondingExample":""}]}}},"/payments":{"post":{"summary":"Create payment","operationId":"create-a-payment","parameters":[{"in":"header","name":"Content-Type","description":"Always send this header as `application/json`.","required":true,"schema":{"type":"string"}},{"in":"header","name":"Host","description":"The host declared in the [signature](ref:sign-the-string).","required":true,"schema":{"type":"string"}},{"in":"header","name":"Date","description":"The date declared in the [signature](ref:sign-the-string).","required":true,"schema":{"type":"string"}},{"in":"header","name":"Digest","description":"The digest declared in the [signature](ref:sign-the-string).","required":true,"schema":{"type":"string"}},{"in":"header","name":"Authorization","description":"The request [signature](ref:sign-the-string).","required":true,"schema":{"type":"string"}},{"in":"header","name":"Idempotency-Key","description":"The idempotent request key. <br> <br> You can read more [here](ref:idempotency).","required":false,"schema":{"type":"string"}},{"in":"header","name":"x-satispay-deviceinfo","description":"The device information (e.g., hostname).","required":false,"schema":{"type":"string"}},{"in":"header","name":"x-satispay-devicetype","description":"The device type.","required":false,"schema":{"type":"string","enum":["SMARTPHONE","TABLET","CASH REGISTER","POS","PC","ECOMMERCE_PLUGIN"]}},{"in":"header","name":"x-satispay-os","description":"The Operating System name (e.g., Windows).","required":false,"schema":{"type":"string"}},{"in":"header","name":"x-satispay-osv","description":"The Operating System version (e.g., 10).","required":false,"schema":{"type":"string"}},{"in":"header","name":"x-satispay-apph","description":"The software house name (e.g., Satispay).","required":false,"schema":{"type":"string"}},{"in":"header","name":"x-satispay-appn","description":"The software name (e.g., My awesome app).","required":false,"schema":{"type":"string"}},{"in":"header","name":"x-satispay-appv","description":"The software version (e.g., v2.0.0).","required":false,"schema":{"type":"string"}},{"in":"header","name":"x-satispay-tracking-code","description":"The tracking code used by Satispay commercial partners. <br> <br> Use this code only if explicitly required by Satispay.","required":false,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"flow":{"type":"string","description":"The payment flow that you want to use. <br> <br> `MATCH_CODE` <small>[DOC](doc:one-off)</small> <br> This flow can be used generically for one-off payments. <br> <br> `HOTP_AUTH` <small>[DOC](doc:one-off-hotp)</small> <br> This flow can be used to perform one-off payments via HOTP tokens. <br> To use this flow you must also include the `token` parameter. <br> <br> `MATCH_USER` <small>[DOC](doc:payment-mobile-number)</small> <br> This flow can be used for one-off payments on a specific user. <br> To use this flow you must also include the `consumer_uid` parameter. <br> <br> `FUND_LOCK` <small>[DOC](doc:funds-lock-late-capture)</small> <br> This flow can be used for funds lock payments. <br> <br> `PRE_AUTHORIZED` <small>[DOC](doc:automatic-payments)</small> <br> This flow can be used for automatic payments. <br> To use this flow you must also include the `token` parameter. <br> <br> `PRE_AUTHORIZED_FUND_LOCK` <small>[DOC](doc:automatic-funds-lock)</small> <br> This flow can be used for automatic funds lock payments. <br> To use this flow you must also include the `token` parameter. <br> <br> `REFUND` <br> This flow can be used for refunds on a specific payment. <br> To use this flow you must also include the `parent_payment_uid` and the `amount_unit`.","enum":["MATCH_CODE","MATCH_USER","REFUND","PRE_AUTHORIZED","FUND_LOCK","PRE_AUTHORIZED_FUND_LOCK","HOTP_AUTH"]},"amount_unit":{"type":"integer","description":"The payment amount in cents. <br> <br> For example, to represent the amount `€12.40`, you should multiply it by `100`, resulting in `1240` cents."},"currency":{"type":"string","description":"The payment currency. <br> <br> Currently `EUR` is the only currency supported.","default":"EUR"},"pre_authorized_payments_token":{"type":"string","description":"The payment automatic payment token id. <br> This has been replaced with the new `token` parameter.","deprecated":true},"token":{"type":"string","description":"The token required to charge the consumer wallet. <br> It can be an automatic payment or HOTP token. <br> <br> Required with `HOTP_AUTH`, `PRE_AUTHORIZED` and `PRE_AUTHORIZED_FUND_LOCK` flows only."},"consumer_uid":{"type":"string","description":"The unique id of the consumer required for payment acceptance. <br> To obtain the customer id, please use the [Get Consumer API](ref:retrive-consumer). <br> <br> Required with `MATCH_USER` flow only. <br> <br> This parameter is deprecated; we suggest avoiding the `MATCH_USER` UX unless absolutely necessary.","deprecated":true},"parent_payment_uid":{"type":"string","description":"The id of the payment that you want to refund. <br> <br> Required with `REFUND` flow only."},"external_code":{"type":"string","description":"The external order id or payment identifier. <br> <br> We highly recommend to use this field by populating it with your internal order id. <br> This string will be included in your reports for reconciliation and shown to the Satispay consumer in-app. <br> <br> This field has a maximum length of 50 characters, including spaces."},"callback_url":{"type":"string","description":"The URL to be triggered via an HTTP GET request when there is a change in payment status. <br> <br> When the given `callback_url` is invoked, a GET request for payment details can be made to retrieve the updated payment status. <br> <br> Please note that `{uuid}` will be replaced with the generated payment id. <br> e.g. `https://example.com/satispay-callback?payment_id={uuid}` <br> <br> You can read more [here](ref:callback-s2s)."},"redirect_url":{"type":"string","description":"This field specifies the URL where the user will be redirected after the payment flow from the Satispay app is completed. <br> <br> For instance, you can set this URL to ensure users are redirected to that specific page upon successful payment completion. <br> e.g. `https://example.com/payment-redirect?order_id=your_order_id` <br> <br> Please note that this field doesn't support any placeholder."},"metadata":{"type":"object","description":"The additional metadata for the payment. <br> <br> This field supports up to 20 key-value pairs, with keys limited to 45 characters and values limited to 500 characters each.","additionalProperties":true,"properties":{"phone_number":{"type":"string","description":"This special metadata can be used to pre-fill the phone number field available if you're using a web-redirect flow. <br> <br> The phone number must contain the prefix an shouldn't have any additional space. <br> e.g. `+393891122333`"}}},"expiration_date":{"type":"string","description":"The UTC payment expiration datetime. <br> <br> The format should be `ISO 8601` like this `yyyy-MM-dd'T'HH:mm:ss.SSSZ`. <br> <br> By default: <br> `MATCH_CODE` and `MATCH_USER` payments are valid for 2 hours.  <br> `FUND_LOCK` payments are valid for 10 days. <br> `PRE_AUTHORIZED_FUND_LOCK` payments are valid for 5 days. <br> <br> This timeframe is calculated from the moment of creation. <br> <br> This parameter cannot be used with `PRE_AUTHORIZED`, `HOTP_AUTH` and `REFUND` flows."}},"required":["flow","amount_unit","currency"]}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The unique payment id. <br> <br> This can be used for every eventual subsequent operations on the payment, including refunds."},"code_identifier":{"type":"string","description":"The Satispay code identifier. <br> <br> This string can be encoded in a QR code that can be scanned by the user. <br> This property is only available in `MATCH_CODE` flow payments."},"type":{"type":"string","description":"The current payment type. <br> <br> `TO_BUSINESS` <br> This type is used for payments from a consumer to a merchant. <br> <br> `REFUND_TO_BUSINESS` <br> This type is used for payments from a merchant to a consumer (e.g. refunds)."},"amount_unit":{"type":"integer","description":"The payment amount in cents. <br> <br> For example, the amount `€12.40` is being represented as `1240` cents."},"currency":{"type":"string","description":"The payment currency.","enum":["EUR"]},"status":{"type":"string","description":"The current payment status. <br> <br> `PENDING` <br> The payment is created and awaits user interaction, such as scanning the QR code. <br> <br> `AUTHORIZED` - for `FUND_LOCK` and `PRE_AUTHORIZED_FUND_LOCK` flows only. <br> The payment has been authorized by the user and is ready to be confirmed by the merchant with the [Update payment API](doc:update-a-payment). <br> <br> `ACCEPTED` <br> The payment has been accepted and succesfully executed."},"expired":{"type":"boolean","description":"The current payment expiration status. <br> <br> It becomes `true` once it reaches the `expiration_date` without being accepted or canceled."},"metadata":{"type":"object","description":"The additional metadata for the payment.","additionalProperties":true},"sender":{"type":"object","description":"The sender payment actor.","properties":{"id":{"type":"string","description":"The unique sender id. <br> <br> This will only be available once the payment will be matched with a consumer."},"type":{"type":"string","description":"The sender type. <br> <br> `CONSUMER` <br> This sender type is used when the payment goes from a consumer to a merchant. <br> <br> `SHOP` <br> This sender type is used when the payment goes from a merchant to a consumer (e.g. refunds payments)."},"name":{"type":"string","description":"The sender name. <br> <br> This will only be available once the payment will be matched with a consumer."}}},"receiver":{"type":"object","description":"The receiver payment actor.","properties":{"id":{"type":"string","description":"The unique receiver id."},"type":{"type":"string","description":"The receiver type. <br> <br> `CONSUMER` <br> This receiver type is used when the payment goes from a merchant to a consumer. <br> <br> `SHOP` <br> This receiver type is used when the payment goes from a consumer to a merchant (e.g. refunds payments)."}}},"insert_date":{"type":"string","description":"The UTC payment creation datetime."},"expire_date":{"type":"string","description":"The UTC payment expiration datetime. <br> <br> This property can be ignored when using `PRE_AUTHORIZED` or `HOTP_AUTH` flows."},"description":{"type":"string","deprecated":true,"description":"The external_code set during the payment creation request. <br> <br> Please use the `external_code` field instead."},"flow":{"type":"string","deprecated":true},"external_code":{"type":"string","description":"The `external_code` set during the creation request."},"redirect_url":{"type":"string","description":"The URL where the user will be redirected after the payment flow from the Satispay app is completed. <br> <br> This property is available only when the payment uses the `MATCH_CODE`, `MATCH_USER` or `FUND_LOCK` flow."}}},"examples":{"OK - MATCH_CODE":{"value":"{\n    \"id\": \"2ee5f6c7-f85d-45b7-8f1b-2a570a7002eb\",\n    \"code_identifier\": \"S6Y-PAY--2EE5F6C7-F85D-45B7-8F1B-2A570A7002EB\",\n    \"type\": \"TO_BUSINESS\",\n    \"amount_unit\": 1240,\n    \"currency\": \"EUR\",\n    \"status\": \"PENDING\",\n    \"expired\": false,\n    \"metadata\": {\n        \"order_id\": \"my_order_id\",\n        \"user_id\": \"my_user_id\",\n        \"payment_id\": \"my_payment_id\",\n        \"session_id\": \"my_session_id\",\n        \"key\": \"value\"\n    },\n    \"sender\": {\n        \"type\": \"CONSUMER\"\n    },\n    \"receiver\": {\n        \"id\": \"0c4f4511-1afa-4b17-b529-ff7465d126c1\",\n        \"type\": \"SHOP\"\n    },\n    \"insert_date\": \"2020-07-01T09:18:17.166Z\",\n    \"expire_date\": \"2020-07-01T11:18:17.163Z\",\n    \"description\": \"my_order_id\",\n    \"flow\": \"CHARGE\",\n    \"external_code\": \"my_order_id\",\n    \"redirect_url\": \"https://online.satispay.com/pay/2ee5f6c7-f85d-45b7-8f1b-2a570a7002eb?redirect_url=https%3A%2F%2Fexample.com%2Fsatispay-redirect%3Forder_id%3Dmy_order_id\"\n}"},"OK - HOTP_AUTH":{"value":"{\n    \"id\": \"2ee5f6c7-f85d-45b7-8f1b-2a570a7002eb\",\n    \"type\": \"TO_BUSINESS\",\n    \"amount_unit\": 1240,\n    \"currency\": \"EUR\",\n    \"status\": \"ACCEPTED\",\n    \"expired\": false,\n    \"metadata\": {\n        \"order_id\": \"my_order_id\",\n        \"user_id\": \"my_user_id\",\n        \"payment_id\": \"my_payment_id\",\n        \"session_id\": \"my_session_id\",\n        \"key\": \"value\"\n    },\n    \"sender\": {\n        \"id\": \"0f7c13fb-06d4-424d-8b98-18e82d1f27a8\",\n        \"type\": \"CONSUMER\",\n        \"name\": \"Emanuele C.\",\n        \"profile_pictures\": {\n            \"has_more\": false,\n            \"data\": [\n                {\n                    \"id\": \"f60f9bd3-357a-4b46-8441-52d6a3bd630f\",\n                    \"url\": \"https://placehold.co/640x640.jpg\",\n                    \"width\": 640,\n                    \"height\": 640,\n                    \"is_original\": false\n                },\n                {\n                    \"id\": \"33f2dc8b-de76-4287-910b-560799b60b3d\",\n                    \"url\": \"https://placehold.co/512x512.jpg\",\n                    \"width\": 512,\n                    \"height\": 512,\n                    \"is_original\": true\n                },\n                {\n                    \"id\": \"f1c7d014-47dc-4c16-85d9-fc83556ab173\",\n                    \"url\": \"https://placehold.co/180x180.jpg\",\n                    \"width\": 180,\n                    \"height\": 180,\n                    \"is_original\": false\n                }\n            ]\n        }\n    },\n    \"receiver\": {\n        \"id\": \"0c4f4511-1afa-4b17-b529-ff7465d126c1\",\n        \"type\": \"SHOP\"\n    },\n    \"insert_date\": \"2020-07-01T09:18:17.166Z\",\n    \"expire_date\": \"2020-08-01T09:18:17.163Z\",\n    \"description\": \"my_order_id\",\n    \"external_code\": \"my_order_id\"\n}"},"OK - MATCH_USER":{"value":"{\n    \"id\": \"2ee5f6c7-f85d-45b7-8f1b-2a570a7002eb\",\n    \"type\": \"TO_BUSINESS\",\n    \"amount_unit\": 1240,\n    \"currency\": \"EUR\",\n    \"status\": \"PENDING\",\n    \"expired\": false,\n    \"metadata\": {\n        \"order_id\": \"my_order_id\",\n        \"user_id\": \"my_user_id\",\n        \"payment_id\": \"my_payment_id\",\n        \"session_id\": \"my_session_id\",\n        \"key\": \"value\"\n    },\n    \"sender\": {\n        \"id\": \"0f7c13fb-06d4-424d-8b98-18e82d1f27a8\",\n        \"type\": \"CONSUMER\",\n        \"profile_pictures\": {\n            \"has_more\": false,\n            \"data\": []\n        }\n    },\n    \"receiver\": {\n        \"id\": \"0c4f4511-1afa-4b17-b529-ff7465d126c1\",\n        \"type\": \"SHOP\"\n    },\n    \"insert_date\": \"2020-07-01T09:18:17.166Z\",\n    \"expire_date\": \"2020-07-01T11:18:17.163Z\",\n    \"description\": \"my_order_id\",\n    \"flow\": \"CHARGE\",\n    \"external_code\": \"my_order_id\",\n    \"redirect_url\": \"https://online.satispay.com/pay/2ee5f6c7-f85d-45b7-8f1b-2a570a7002eb\"\n}"},"OK - FUND_LOCK":{"value":"{\n    \"id\": \"2ee5f6c7-f85d-45b7-8f1b-2a570a7002eb\",\n    \"code_identifier\": \"S6Y-PAY--2EE5F6C7-F85D-45B7-8F1B-2A570A7002EB\",\n    \"type\": \"TO_BUSINESS\",\n    \"amount_unit\": 1240,\n    \"currency\": \"EUR\",\n    \"status\": \"PENDING\",\n    \"expired\": false,\n    \"metadata\": {\n        \"order_id\": \"my_order_id\",\n        \"user_id\": \"my_user_id\",\n        \"payment_id\": \"my_payment_id\",\n        \"session_id\": \"my_session_id\",\n        \"key\": \"value\"\n    },\n    \"sender\": {\n        \"type\": \"CONSUMER\"\n    },\n    \"receiver\": {\n        \"id\": \"0c4f4511-1afa-4b17-b529-ff7465d126c1\",\n        \"type\": \"SHOP\"\n    },\n    \"insert_date\": \"2020-07-01T09:18:17.166Z\",\n    \"expire_date\": \"2020-07-11T09:18:17.163Z\",\n    \"flow\": \"CHARGE\",\n    \"description\": \"my_order_id\",\n    \"external_code\": \"my_order_id\",\n    \"redirect_url\": \"https://online.satispay.com/pay/2ee5f6c7-f85d-45b7-8f1b-2a570a7002eb?redirect_url=https%3A%2F%2Fexample.com%2Fsatispay-redirect%3Forder_id%3Dmy_order_id\"\n}"},"OK - PRE_AUTHORIZED":{"value":"{\n    \"id\": \"2ee5f6c7-f85d-45b7-8f1b-2a570a7002eb\",\n    \"type\": \"TO_BUSINESS\",\n    \"amount_unit\": 1240,\n    \"currency\": \"EUR\",\n    \"status\": \"ACCEPTED\",\n    \"expired\": false,\n    \"metadata\": {\n        \"order_id\": \"my_order_id\",\n        \"user_id\": \"my_user_id\",\n        \"payment_id\": \"my_payment_id\",\n        \"session_id\": \"my_session_id\",\n        \"key\": \"value\"\n    },\n    \"sender\": {\n        \"id\": \"0f7c13fb-06d4-424d-8b98-18e82d1f27a8\",\n        \"type\": \"CONSUMER\",\n        \"name\": \"Emanuele C.\",\n        \"profile_pictures\": {\n            \"has_more\": false,\n            \"data\": [\n                {\n                    \"id\": \"f60f9bd3-357a-4b46-8441-52d6a3bd630f\",\n                    \"url\": \"https://placehold.co/640x640.jpg\",\n                    \"width\": 640,\n                    \"height\": 640,\n                    \"is_original\": false\n                },\n                {\n                    \"id\": \"33f2dc8b-de76-4287-910b-560799b60b3d\",\n                    \"url\": \"https://placehold.co/512x512.jpg\",\n                    \"width\": 512,\n                    \"height\": 512,\n                    \"is_original\": true\n                },\n                {\n                    \"id\": \"f1c7d014-47dc-4c16-85d9-fc83556ab173\",\n                    \"url\": \"https://placehold.co/180x180.jpg\",\n                    \"width\": 180,\n                    \"height\": 180,\n                    \"is_original\": false\n                }\n            ]\n        }\n    },\n    \"receiver\": {\n        \"id\": \"0c4f4511-1afa-4b17-b529-ff7465d126c1\",\n        \"type\": \"SHOP\"\n    },\n    \"insert_date\": \"2020-07-01T09:18:17.166Z\",\n    \"expire_date\": \"2020-08-01T09:18:17.163Z\",\n    \"description\": \"my_order_id\",\n    \"external_code\": \"my_order_id\"\n}"},"OK - PRE_AUTHORIZED_FUND_LOCK":{"value":"{\n    \"id\": \"2ee5f6c7-f85d-45b7-8f1b-2a570a7002eb\",\n    \"type\": \"TO_BUSINESS\",\n    \"amount_unit\": 1240,\n    \"currency\": \"EUR\",\n    \"status\": \"AUTHORIZED\",\n    \"expired\": false,\n    \"metadata\": {\n        \"payment_id\": \"my_payment\",\n        \"session_id\": \"my_session\",\n        \"user\": \"my_user_id\",\n        \"order_id\": \"my_order_id\",\n        \"key\": \"value\"\n    },\n    \"sender\": {\n        \"id\": \"0f7c13fb-06d4-424d-8b98-18e82d1f27a8\",\n        \"type\": \"CONSUMER\",\n        \"name\": \"Emanuele C.\",\n        \"profile_pictures\": {\n            \"has_more\": false,\n            \"data\": [\n                {\n                    \"id\": \"f60f9bd3-357a-4b46-8441-52d6a3bd630f\",\n                    \"url\": \"https://placehold.co/640x640.jpg\",\n                    \"width\": 640,\n                    \"height\": 640,\n                    \"is_original\": false\n                },\n                {\n                    \"id\": \"33f2dc8b-de76-4287-910b-560799b60b3d\",\n                    \"url\": \"https://placehold.co/512x512.jpg\",\n                    \"width\": 512,\n                    \"height\": 512,\n                    \"is_original\": true\n                },\n                {\n                    \"id\": \"f1c7d014-47dc-4c16-85d9-fc83556ab173\",\n                    \"url\": \"https://placehold.co/180x180.jpg\",\n                    \"width\": 180,\n                    \"height\": 180,\n                    \"is_original\": false\n                }\n            ]\n        }\n    },\n    \"receiver\": {\n        \"id\": \"0c4f4511-1afa-4b17-b529-ff7465d126c1\",\n        \"type\": \"SHOP\"\n    },\n    \"insert_date\": \"2020-07-01T09:18:17.166Z\",\n    \"expire_date\": \"2020-07-06T09:18:17.163Z\",\n    \"description\": \"my_order_id\",\n    \"external_code\": \"my_order_id\"\n}"},"OK - REFUND":{"value":"{\n    \"id\": \"3ccea4c1-0d5e-430f-9975-0becd9440d41\",\n    \"type\": \"REFUND_TO_BUSINESS\",\n    \"amount_unit\": 1240,\n    \"currency\": \"EUR\",\n    \"status\": \"ACCEPTED\",\n    \"expired\": false,\n    \"metadata\": {},\n    \"sender\": {\n        \"id\": \"0c4f4511-1afa-4b17-b529-ff7465d126c1\",\n        \"type\": \"SHOP\"\n    },\n    \"receiver\": {\n        \"id\": \"0f7c13fb-06d4-424d-8b98-18e82d1f27a8\",\n        \"type\": \"CONSUMER\"\n    },\n    \"insert_date\": \"2020-07-01T09:20:17.166Z\",\n    \"expire_date\": \"2020-07-01T11:20:17.163Z\",\n    \"flow\": \"CHARGE\"\n}"}}}}},"400":{"description":"400 Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"The specific system error code. <br> <br> `21` <br> Insufficient availability. <br> <br> `36` <br> Malformed flow, payment or metadata. <br> <br> `131` <br> Payment too old to be refunded. <br> It is possible to refund payments within the past 365 days from creation. <br> <br> `27` <br> Payment not allowed. <br> Consumer or shop are currently not able to pay/receive payments. <br> Please note that this condition could be temporary. <br> <br> `172` <br> Pre authorized payments token is not valid. <br> <br> `246` <br> The HOTP token is not valid."},"message":{"type":"string","description":"The error message."},"wlt":{"type":"string","description":"The request CID/WLT, save this string in case of errors. <br> This will help our IT support to trace the request."}}},"examples":{"response":{"value":"{\n    \"code\": 21,\n    \"wlt\": \"FnT15Fhr\"\n}"}}}}},"401":{"description":"401 Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"The specific system error code. <br> <br> `34` <br> Merchant not found or unauthorized."},"message":{"type":"string","description":"The error message."},"wlt":{"type":"string","description":"The request CID/WLT, save this string in case of errors. <br> This will help our IT support to trace the request."}}},"examples":{"response":{"value":"{\n    \"code\": 34,\n    \"message\": \"...\",\n    \"wlt\": \"PyL36Ehs\"\n}"}}}}},"403":{"description":"403 Forbidden or invalid authorization header","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"The specific system error code. <br> <br> `45` <br> Unable to fulfill the request. <br> <br> `70` <br> Anti-hammering violation."},"message":{"type":"string","description":"The error message."},"wlt":{"type":"string","description":"The request CID/WLT, save this string in case of errors. <br> This will help our IT support to trace the request."}}},"examples":{"response":{"value":"{\n    \"code\": 45,\n    \"message\": \"...\",\n    \"wlt\": \"GsM82Btk\"\n}"}}}}}},"x-readme":{"headers":[{"key":"Content-Type","value":"application/json"},{"key":"Host","value":"authservices.satispay.com"},{"key":"Date","value":"Fri, 01 Jul 2020 09:18:17 +0200"},{"key":"Digest","value":"SHA-256=…the request digest"},{"key":"Authorization","value":"Signature keyId=\"4ekqhmf…\", algorithm=\"rsa-sha256\", headers=\"(request-target) host date digest\", signature=\"C5yynRx…\""}],"explorer-enabled":true,"samples-languages":["shell","php"],"code-samples":[{"language":"curl","code":"curl --request POST \\\n  --url https://authservices.satispay.com/g_business/v1/payments \\\n  --header 'Content-Type: application/json' \\\n  --header 'Host: authservices.satispay.com' \\\n  --header 'Date: Fri, 01 Jul 2020 09:18:17 GMT' \\\n  --header 'Digest: SHA-256=...' \\\n  --header 'Authorization: Signature keyId=\"4ekqhm...\", algorithm=\"rsa-sha256\", headers=\"(request-target) host date digest\", signature=\"C5yynRx...\"' \\\n  --data '{\n    \"flow\": \"MATCH_CODE\",\n    \"amount_unit\": 1240,\n    \"currency\": \"EUR\",\n    \"external_code\": \"my_order_id\",\n    \"callback_url\": \"https://example.com/satispay-callback?payment_id={uuid}\",\n    \"redirect_url\": \"https://example.com/satispay-redirect?order_id=my_order_id\",    \n    \"metadata\": {\n      \"order_id\": \"my_order_id\",\n      \"user_id\": \"my_user_id\",\n      \"payment_id\": \"my_payment_id\",\n      \"session_id\": \"my_session_id\",\n      \"key\": \"value\"\n    }\n  }'\n","name":"MATCH_CODE","correspondingExample":"OK - MATCH_CODE"},{"language":"php","code":"<?php\n\nrequire_once('../vendor/autoload.php');\n\n// set keys\n\\SatispayGBusiness\\Api::setPublicKey(\"your_public_key\");\n\\SatispayGBusiness\\Api::setPrivateKey(\"your_private_key\");\n\\SatispayGBusiness\\Api::setKeyId(\"your_key_id\");\n\n// create MATCH_CODE payment\n$payment = \\SatispayGBusiness\\Payment::create([\n    'flow' => 'MATCH_CODE',\n    'amount_unit' => 12.40 * 100,\n    'currency' => 'EUR',\n    'external_code' => 'my_order_id',\n    'callback_url' => 'https://example.com/satispay-callback?payment_id={uuid}',\n    'redirect_url' => 'https://example.com/satispay-redirect?order_id=my_order_id',    \n    'metadata' => [\n        'order_id' => 'my_order_id',\n        'user_id' => 'my_user_id',\n        'payment_id' => 'my_payment_id',\n        'session_id' => 'my_session_id',\n        'key' => 'value'\n    ]\n]);\n","name":"MATCH_CODE","correspondingExample":"OK - MATCH_CODE"},{"language":"curl","code":"curl --request POST \\\n  --url https://authservices.satispay.com/g_business/v1/payments \\\n  --header 'Content-Type: application/json' \\\n  --header 'Host: authservices.satispay.com' \\\n  --header 'Date: Fri, 01 Jul 2020 09:18:17 GMT' \\\n  --header 'Digest: SHA-256=...' \\\n  --header 'Authorization: Signature keyId=\"4ekqhm...\", algorithm=\"rsa-sha256\", headers=\"(request-target) host date digest\", signature=\"C5yynRx...\"' \\\n  --data '{\n    \"flow\": \"HOTP_AUTH\",\n    \"token\": \"88978279029358-266346\",\n    \"amount_unit\": 1240,\n    \"currency\": \"EUR\",\n    \"external_code\": \"my_order_id\",\n    \"metadata\": {\n      \"order_id\": \"my_order_id\",\n      \"user_id\": \"my_user_id\",\n      \"payment_id\": \"my_payment_id\",\n      \"session_id\": \"my_session_id\",\n      \"key\": \"value\"\n    }  \n  }'\n","name":"HOTP_AUTH","correspondingExample":"OK - HOTP_AUTH"},{"language":"php","code":"<?php\n\nrequire_once('../vendor/autoload.php');\n\n// set keys\n\\SatispayGBusiness\\Api::setPublicKey(\"your_public_key\");\n\\SatispayGBusiness\\Api::setPrivateKey(\"your_private_key\");\n\\SatispayGBusiness\\Api::setKeyId(\"your_key_id\");\n\n// create HOTP_AUTH payment\n$payment = \\SatispayGBusiness\\Payment::create([\n    'flow' => 'HOTP_AUTH',\n    'token' => '88978279029358-266346',\n    'amount_unit' => 12.40 * 100,\n    'currency' => 'EUR',\n    'external_code' => 'my_order_id',\n    'metadata' => [\n        'order_id' => 'my_order_id',\n        'user_id' => 'my_user_id',\n        'payment_id' => 'my_payment_id',\n        'session_id' => 'my_session_id',\n        'key' => 'value'\n    ]\n]);\n","name":"HOTP_AUTH","correspondingExample":"OK - HOTP_AUTH"},{"language":"curl","code":"curl --request POST \\\n  --url https://authservices.satispay.com/g_business/v1/payments \\\n  --header 'Content-Type: application/json' \\\n  --header 'Host: authservices.satispay.com' \\\n  --header 'Date: Fri, 01 Jul 2020 09:18:17 GMT' \\\n  --header 'Digest: SHA-256=...' \\\n  --header 'Authorization: Signature keyId=\"4ekqhm...\", algorithm=\"rsa-sha256\", headers=\"(request-target) host date digest\", signature=\"C5yynRx...\"' \\\n  --data '{\n    \"flow\": \"MATCH_USER\",\n    \"consumer_uid\": \"1ed62785-4c8d-46c3-8673-5f5d16ca9f67\",\n    \"amount_unit\": 1240,\n    \"currency\": \"EUR\",\n    \"external_code\": \"my_order_id\",\n    \"callback_url\": \"https://example.com/satispay-callback?payment_id={uuid}\",\n    \"metadata\": {\n      \"order_id\": \"my_order_id\",\n      \"user_id\": \"my_user_id\",\n      \"payment_id\": \"my_payment_id\",\n      \"session_id\": \"my_session_id\",\n      \"key\": \"value\"\n    }\n  }'\n","name":"MATCH_USER","correspondingExample":"OK - MATCH_USER"},{"language":"php","code":"<?php\n\nrequire_once('../vendor/autoload.php');\n\n// set keys\n\\SatispayGBusiness\\Api::setPublicKey(\"your_public_key\");\n\\SatispayGBusiness\\Api::setPrivateKey(\"your_private_key\");\n\\SatispayGBusiness\\Api::setKeyId(\"your_key_id\");\n\n// create MATCH_USER payment\n$payment = \\SatispayGBusiness\\Payment::create([\n    'flow' => 'MATCH_USER',\n    'consumer_uid' => '1ed62785-4c8d-46c3-8673-5f5d16ca9f67',\n    'amount_unit' => 12.40 * 100,\n    'currency' => 'EUR',\n    'external_code' => 'my_order_id',\n    'callback_url' => 'https://example.com/satispay-callback?payment_id={uuid}',\n    'metadata' => [\n        'order_id' => 'my_order_id',\n        'user_id' => 'my_user_id',\n        'payment_id' => 'my_payment_id',\n        'session_id' => 'my_session_id',\n        'key' => 'value'\n    ]\n]);\n","name":"MATCH_USER","correspondingExample":"OK - MATCH_USER"},{"language":"curl","code":"curl --request POST \\\n  --url https://authservices.satispay.com/g_business/v1/payments \\\n  --header 'Content-Type: application/json' \\\n  --header 'Host: authservices.satispay.com' \\\n  --header 'Date: Fri, 01 Jul 2020 09:18:17 GMT' \\\n  --header 'Digest: SHA-256=...' \\\n  --header 'Authorization: Signature keyId=\"4ekqhm...\", algorithm=\"rsa-sha256\", headers=\"(request-target) host date digest\", signature=\"C5yynRx...\"' \\\n  --data '{\n    \"flow\": \"FUND_LOCK\",\n    \"amount_unit\": 1240,\n    \"currency\": \"EUR\",\n    \"external_code\": \"my_order_id\",\n    \"callback_url\": \"https://example.com/satispay-callback?payment_id={uuid}\",\n    \"redirect_url\": \"https://example.com/satispay-redirect?order_id=my_order_id\",\n    \"metadata\": {\n      \"order_id\": \"my_order_id\",\n      \"user_id\": \"my_user_id\",\n      \"payment_id\": \"my_payment_id\",\n      \"session_id\": \"my_session_id\",\n      \"key\": \"value\"\n    }\n  }'\n","name":"FUND_LOCK","correspondingExample":"OK - FUND_LOCK"},{"language":"php","code":"<?php\n\nrequire_once('../vendor/autoload.php');\n\n// set keys\n\\SatispayGBusiness\\Api::setPublicKey('your_public_key');\n\\SatispayGBusiness\\Api::setPrivateKey('your_private_key');\n\\SatispayGBusiness\\Api::setKeyId('your_key_id');\n\n// create FUND_LOCK payment\n$payment = \\SatispayGBusiness\\Payment::create([\n    'flow' => 'FUND_LOCK',\n    'amount_unit' => 12.40 * 100,\n    'currency' => 'EUR',\n    'external_code' => 'my_order_id',\n    'callback_url' => 'https://example.com/satispay-callback?payment_id={uuid}',\n    'redirect_url' => 'https://example.com/satispay-redirect?order_id=my_order_id',\n    'metadata' => [\n        'order_id' => 'my_order_id',\n        'user_id' => 'my_user_id',\n        'payment_id' => 'my_payment_id',\n        'session_id' => 'my_session_id',\n        'key' => 'value'\n    ]\n]);\n","name":"FUND_LOCK","correspondingExample":"OK - FUND_LOCK"},{"language":"curl","code":"curl --request POST \\\n  --url https://authservices.satispay.com/g_business/v1/payments \\\n  --header 'Content-Type: application/json' \\\n  --header 'Host: authservices.satispay.com' \\\n  --header 'Date: Fri, 01 Jul 2020 09:18:17 GMT' \\\n  --header 'Digest: SHA-256=...' \\\n  --header 'Authorization: Signature keyId=\"4ekqhm...\", algorithm=\"rsa-sha256\", headers=\"(request-target) host date digest\", signature=\"C5yynRx...\"' \\\n  --data '{\n    \"flow\": \"PRE_AUTHORIZED\",\n    \"token\": \"1b336659-5463-46e6-b89d-50625c1de05e\",\n    \"amount_unit\": 1240,\n    \"currency\": \"EUR\",\n    \"external_code\": \"my_order_id\",\n    \"metadata\": {\n      \"order_id\": \"my_order_id\",\n      \"user_id\": \"my_user_id\",\n      \"payment_id\": \"my_payment_id\",\n      \"session_id\": \"my_session_id\",\n      \"key\": \"value\"\n    }\n  }'\n","name":"PRE_AUTHORIZED","correspondingExample":"OK - PRE_AUTHORIZED"},{"language":"php","code":"<?php\n\nrequire_once('../vendor/autoload.php');\n\n// set keys\n\\SatispayGBusiness\\Api::setPublicKey('your_public_key');\n\\SatispayGBusiness\\Api::setPrivateKey('your_private_key');\n\\SatispayGBusiness\\Api::setKeyId('your_key_id');\n\n// create PRE_AUTHORIZED payment\n$payment = \\SatispayGBusiness\\Payment::create([\n    'flow' => 'PRE_AUTHORIZED',\n    'token' => '6d508316-24d0-4f5c-83f0-49c94bb99847',\n    'amount_unit' => 12.40 * 100,\n    'currency' => 'EUR',\n    'external_code' => 'my_order_id',\n    'metadata' => [\n        'order_id' => 'my_order_id',\n        'user_id' => 'my_user_id',\n        'payment_id' => 'my_payment_id',\n        'session_id' => 'my_session_id',\n        'key' => 'value'\n    ]\n]);\n","name":"PRE_AUTHORIZED","correspondingExample":"OK - PRE_AUTHORIZED"},{"language":"curl","code":"curl --request POST \\\n  --url https://authservices.satispay.com/g_business/v1/payments \\\n  --header 'Content-Type: application/json' \\\n  --header 'Host: authservices.satispay.com' \\\n  --header 'Date: Fri, 01 Jul 2020 09:18:17 GMT' \\\n  --header 'Digest: SHA-256=...' \\\n  --header 'Authorization: Signature keyId=\"4ekqhm...\", algorithm=\"rsa-sha256\", headers=\"(request-target) host date digest\", signature=\"C5yynRx...\"' \\\n  --data '{\n    \"flow\": \"PRE_AUTHORIZED_FUND_LOCK\",\n    \"token\": \"1b336659-5463-46e6-b89d-50625c1de05e\",\n    \"amount_unit\": 1240,\n    \"currency\": \"EUR\",\n    \"external_code\": \"my_order_id\",\n    \"metadata\": {\n      \"order_id\": \"my_order_id\",\n      \"user_id\": \"my_user_id\",\n      \"payment_id\": \"my_payment_id\",\n      \"session_id\": \"my_session_id\",\n      \"key\": \"value\"\n    }\n  }'\n","name":"PRE_AUTHORIZED_FUND_LOCK","correspondingExample":"OK - PRE_AUTHORIZED_FUND_LOCK"},{"language":"php","code":"<?php\n\nrequire_once('../vendor/autoload.php');\n\n// set keys\n\\SatispayGBusiness\\Api::setPublicKey(\"your_public_key\");\n\\SatispayGBusiness\\Api::setPrivateKey(\"your_private_key\");\n\\SatispayGBusiness\\Api::setKeyId(\"your_key_id\");\n\n// create PRE_AUTHORIZED_FUND_LOCK payment\n$payment = \\SatispayGBusiness\\Payment::create([\n    'flow' => 'PRE_AUTHORIZED_FUND_LOCK',\n    'token' => '6d508316-24d0-4f5c-83f0-49c94bb99847',\n    'amount_unit' => 12.40 * 100,\n    'currency' => 'EUR',\n    'external_code' => 'my_order_id',\n    'callback_url' => 'https://example.com/satispay-callback?payment_id={uuid}',\n    'metadata' => [\n        'order_id' => 'my_order_id',\n        'user_id' => 'my_user_id',\n        'payment_id' => 'my_payment_id',\n        'session_id' => 'my_session_id',\n        'key' => 'value'\n    ]\n]);\n","name":"PRE_AUTHORIZED_FUND_LOCK","correspondingExample":"OK - PRE_AUTHORIZED_FUND_LOCK"},{"language":"curl","code":"curl --request POST \\\n  --url https://authservices.satispay.com/g_business/v1/payments \\\n  --header 'Content-Type: application/json' \\\n  --header 'Host: authservices.satispay.com' \\\n  --header 'Date: Fri, 01 Jul 2020 09:18:17 GMT' \\\n  --header 'Digest: SHA-256=...' \\\n  --header 'Authorization: Signature keyId=\"4ekqhm...\", algorithm=\"rsa-sha256\", headers=\"(request-target) host date digest\", signature=\"C5yynRx...\"' \\\n  --data '{\n    \"flow\": \"REFUND\",\n    \"amount_unit\": 1240,\n    \"currency\": \"EUR\",\n    \"parent_payment_uid\": \"2ee5f6c7-f85d-45b7-8f1b-2a570a7002eb\",\n    \"external_code\": \"my_order_id\"\n  }'\n","name":"REFUND","correspondingExample":"OK - REFUND"},{"language":"php","code":"<?php\n\nrequire_once('../vendor/autoload.php');\n\n// set keys\n\\SatispayGBusiness\\Api::setPublicKey('your_public_key');\n\\SatispayGBusiness\\Api::setPrivateKey('your_private_key');\n\\SatispayGBusiness\\Api::setKeyId('your_key_id');\n\n// create REFUND payment\n$payment = \\SatispayGBusiness\\Payment::create([\n    'flow' => 'REFUND',\n    'amount_unit' => 12.40 * 100,\n    'currency' => 'EUR',\n    'parent_payment_uid' => '2ee5f6c7-f85d-45b7-8f1b-2a570a7002eb',\n    'external_code' => 'my_order_id'\n]);\n","name":"REFUND","correspondingExample":"OK - REFUND"}]}},"get":{"summary":"Get shop payments","operationId":"get-list-of-payments","parameters":[{"in":"header","name":"Host","description":"The host declared in the [signature](ref:sign-the-string).","required":true,"schema":{"type":"string"}},{"in":"header","name":"Date","description":"The date declared in the [signature](ref:sign-the-string).","required":true,"schema":{"type":"string"}},{"in":"header","name":"Digest","description":"The digest declared in the [signature](ref:sign-the-string).","required":true,"schema":{"type":"string"}},{"in":"header","name":"Authorization","description":"The request [signature](ref:sign-the-string).","required":true,"schema":{"type":"string"}},{"in":"header","name":"x-satispay-deviceinfo","description":"The device information (e.g., hostname).","required":false,"schema":{"type":"string"}},{"in":"header","name":"x-satispay-devicetype","description":"The device type.","required":false,"schema":{"type":"string","enum":["SMARTPHONE","TABLET","CASH REGISTER","POS","PC","ECOMMERCE_PLUGIN"]}},{"in":"header","name":"x-satispay-os","description":"The Operating System name (e.g., Windows).","required":false,"schema":{"type":"string"}},{"in":"header","name":"x-satispay-osv","description":"The Operating System version (e.g., 10).","required":false,"schema":{"type":"string"}},{"in":"header","name":"x-satispay-apph","description":"The software house name (e.g., Satispay).","required":false,"schema":{"type":"string"}},{"in":"header","name":"x-satispay-appn","description":"The software name (e.g., My awesome app).","required":false,"schema":{"type":"string"}},{"in":"header","name":"x-satispay-appv","description":"The software version (e.g., v2.0.0).","required":false,"schema":{"type":"string"}},{"in":"header","name":"x-satispay-tracking-code","description":"The tracking code used by Satispay commercial partners. <br> <br> Use this code only if explicitly required by Satispay.","required":false,"schema":{"type":"string"}},{"in":"query","name":"status","description":"Filter by the payment status. <br> <br> `ACCEPTED` <br> Shows all the payments in `ACCEPTED` status. <br> <br> `PENDING` <br> Shows all the payments in `PENDING` status. <br> <br> `CANCELED` <br> Shows all the payments in `CANCELED` status. <br> <br> Defaults to `ACCEPTED` if not specified.","required":false,"schema":{"type":"string","enum":["ACCEPTED","PENDING","CANCELED"],"default":"ACCEPTED"}},{"in":"query","name":"limit","description":"Set a limit on the number of returned payments in the response.","required":false,"schema":{"type":"integer","minimum":1,"maximum":100,"default":20}},{"in":"query","name":"starting_after","description":"The ID of the last payment from the previous page. <br> Used to retrieve the next set of payments in the list.","required":false,"schema":{"type":"string"}},{"in":"query","name":"starting_after_timestamp","description":"The timestamp in milliseconds from which to start listing payments. <br> Used to retrieve payments created after the specified timestamp.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"has_more":{"type":"boolean","description":"Indicates whether there are additional items available beyond the current list."},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The unique payment id. <br> <br> This can be used for every eventual subsequent operations on the payment, including refunds."},"code_identifier":{"type":"string","description":"The Satispay code identifier. <br> <br> This string can be encoded in a QR code that can be scanned by the user. <br> This property is only available in `MATCH_CODE` flow payments."},"type":{"type":"string","description":"The current payment type. <br> <br> `TO_BUSINESS` <br> This type is used for payments from a consumer to a merchant. <br> <br> `REFUND_TO_BUSINESS` <br> This type is used for payments from a merchant to a consumer (e.g. refunds)."},"amount_unit":{"type":"integer","description":"The payment amount in cents. <br> <br> For example, the amount `€12.40` is being represented as `1240` cents."},"currency":{"type":"string","description":"The payment currency.","enum":["EUR"]},"status":{"type":"string","description":"The current payment status. <br> This will depend on the request query param `status`. <br> <br> `PENDING` <br> The payment is created and awaits user interaction, such as scanning the QR code. <br> <br> `ACCEPTED` <br> The payment has been accepted and succesfully executed. <br> <br> `CANCELED` <br> The payment has been canceled, this could happen if: <br> - the consumer's explicitely declines it in the Satispay app. <br> - the merchant cancels it via the [Update payment API](ref:-payment) with a `CANCEL` action. <br> - the payment reaches the `expiration_date` while in a `PENDING` or `AUTHORIZED` status."},"expired":{"type":"boolean","description":"The current payment expiration status. <br> <br> It becomes `true` once it reaches the `expiration_date` without being accepted or canceled."},"metadata":{"type":"object","description":"The additional metadata for the payment.","additionalProperties":true},"sender":{"type":"object","description":"The sender payment actor.","properties":{"id":{"type":"string","description":"The unique sender id. <br> <br> This will only be available once the payment will be matched with a consumer."},"type":{"type":"string","description":"The sender type. <br> <br> `CONSUMER` <br> This sender type is used when the payment goes from a consumer to a merchant. <br> <br> `SHOP` <br> This sender type is used when the payment goes from a merchant to a consumer (e.g. refunds payments)."},"name":{"type":"string","description":"The sender name. <br> <br> This will only be available once the payment will be matched with a consumer."}}},"receiver":{"type":"object","description":"The receiver payment actor.","properties":{"id":{"type":"string","description":"The unique receiver id."},"type":{"type":"string","description":"The receiver type. <br> <br> `CONSUMER` <br> This receiver type is used when the payment goes from a merchant to a consumer. <br> <br> `SHOP` <br> This receiver type is used when the payment goes from a consumer to a merchant (e.g. refunds payments)."}}},"daily_closure":{"type":"object","properties":{"id":{"type":"string","description":"The [daily closure](ref:retrieve-daily-closure) id."},"date":{"type":"string","description":"The [daily closure](ref:retrieve-daily-closure) date."}},"description":"This property is available only for `ACCEPTED` payments and with type `TO_BUSINESS`."},"insert_date":{"type":"string","description":"The UTC payment creation datetime."},"expire_date":{"type":"string","description":"The UTC payment expiration datetime."}}}}}},"examples":{"OK - PENDING":{"value":"{\n    \"has_more\": false,\n    \"data\": [\n        {\n            \"id\": \"2ee5f6c7-f85d-45b7-8f1b-2a570a7002eb\",\n            \"type\": \"TO_BUSINESS\",\n            \"amount_unit\": 1240,\n            \"currency\": \"EUR\",\n            \"status\": \"PENDING\",\n            \"expired\": false,\n            \"metadata\": {},\n            \"sender\": {\n                \"id\": \"0f7c13fb-06d4-424d-8b98-18e82d1f27a8\",\n                \"type\": \"CONSUMER\",\n                \"name\": \"Emanuele C.\",\n                \"profile_pictures\": {\n                    \"has_more\": false,\n                    \"data\": [\n                        {\n                            \"id\": \"f60f9bd3-357a-4b46-8441-52d6a3bd630f\",\n                            \"url\": \"https://placehold.co/640x640.jpg\",\n                            \"width\": 640,\n                            \"height\": 640,\n                            \"is_original\": false\n                        },\n                        {\n                            \"id\": \"33f2dc8b-de76-4287-910b-560799b60b3d\",\n                            \"url\": \"https://placehold.co/512x512.jpg\",\n                            \"width\": 512,\n                            \"height\": 512,\n                            \"is_original\": true\n                        },\n                        {\n                            \"id\": \"f1c7d014-47dc-4c16-85d9-fc83556ab173\",\n                            \"url\": \"https://placehold.co/180x180.jpg\",\n                            \"width\": 180,\n                            \"height\": 180,\n                            \"is_original\": false\n                        }\n                    ]\n                }\n            },\n            \"receiver\": {\n                \"id\": \"0c4f4511-1afa-4b17-b529-ff7465d126c1\",\n                \"type\": \"SHOP\"\n            },\n            \"insert_date\": \"2020-07-01T09:18:17.166Z\",\n            \"expire_date\": \"2020-07-01T11:18:17.163Z\"\n        },\n        {\n            \"id\": \"474e916c-09fb-47e3-b08e-2a96b904ed63\",\n            \"type\": \"TO_BUSINESS\",\n            \"amount_unit\": 1240,\n            \"currency\": \"EUR\",\n            \"status\": \"PENDING\",\n            \"expired\": false,\n            \"metadata\": {},\n            \"sender\": {\n                \"id\": \"a91234b1-cd01-4c40-a72c-344843e414f7\",\n                \"type\": \"CONSUMER\",\n                \"name\": \"Francesco C.\",\n                \"profile_pictures\": {\n                    \"has_more\": false,\n                    \"data\": [\n                        {\n                            \"id\": \"a2f4e79c-8d71-4ca0-af9a-1d30990e8519\",\n                            \"url\": \"https://placehold.co/640x640.jpg\",\n                            \"width\": 640,\n                            \"height\": 640,\n                            \"is_original\": false\n                        },\n                        {\n                            \"id\": \"8dab5311-719f-4dd2-bde3-570586dd4e60\",\n                            \"url\": \"https://placehold.co/512x512.jpg\",\n                            \"width\": 512,\n                            \"height\": 512,\n                            \"is_original\": true\n                        },\n                        {\n                            \"id\": \"bb1f97d4-56f0-48e6-8e30-4599647490fb\",\n                            \"url\": \"https://placehold.co/180x180.jpg\",\n                            \"width\": 180,\n                            \"height\": 180,\n                            \"is_original\": false\n                        }\n                    ]\n                }\n            },\n            \"receiver\": {\n                \"id\": \"0c4f4511-1afa-4b17-b529-ff7465d126c1\",\n                \"type\": \"SHOP\"\n            },\n            \"insert_date\": \"2020-07-01T09:18:36.180Z\",\n            \"expire_date\": \"2020-07-01T11:18:36.173Z\"\n        }\n    ]\n}"},"OK - ACCEPTED":{"value":"{\n    \"has_more\": true,\n    \"data\": [\n        {\n            \"id\": \"f71e3828-991e-4395-af11-bd1e1b1b00a7\",\n            \"type\": \"REFUND_TO_BUSINESS\",\n            \"amount_unit\": 1240,\n            \"currency\": \"EUR\",\n            \"status\": \"ACCEPTED\",\n            \"expired\": false,\n            \"metadata\": {},\n            \"sender\": {\n                \"id\": \"0c4f4511-1afa-4b17-b529-ff7465d126c1\",\n                \"type\": \"SHOP\"\n            },\n            \"receiver\": {\n                \"id\": \"0f7c13fb-06d4-424d-8b98-18e82d1f27a8\",\n                \"type\": \"CONSUMER\",\n                \"name\": \"Emanuele C.\",\n                \"profile_pictures\": {\n                    \"has_more\": false,\n                    \"data\": [\n                        {\n                            \"id\": \"f60f9bd3-357a-4b46-8441-52d6a3bd630f\",\n                            \"url\": \"https://placehold.co/640x640.jpg\",\n                            \"width\": 640,\n                            \"height\": 640,\n                            \"is_original\": false\n                        },\n                        {\n                            \"id\": \"33f2dc8b-de76-4287-910b-560799b60b3d\",\n                            \"url\": \"https://placehold.co/512x512.jpg\",\n                            \"width\": 512,\n                            \"height\": 512,\n                            \"is_original\": true\n                        },\n                        {\n                            \"id\": \"f1c7d014-47dc-4c16-85d9-fc83556ab173\",\n                            \"url\": \"https://placehold.co/180x180.jpg\",\n                            \"width\": 180,\n                            \"height\": 180,\n                            \"is_original\": false\n                        }\n                    ]\n                }\n            },\n            \"insert_date\": \"2020-07-01T09:24:10.140Z\",\n            \"expire_date\": \"2020-07-01T11:24:10.136Z\"\n        },\n        {\n            \"id\": \"2ee5f6c7-f85d-45b7-8f1b-2a570a7002eb\",\n            \"type\": \"TO_BUSINESS\",\n            \"amount_unit\": 1240,\n            \"currency\": \"EUR\",\n            \"status\": \"ACCEPTED\",\n            \"status_ownership\": false,\n            \"expired\": false,\n            \"metadata\": {},\n            \"sender\": {\n                \"id\": \"0f7c13fb-06d4-424d-8b98-18e82d1f27a8\",\n                \"type\": \"CONSUMER\",\n                \"name\": \"Emanuele C.\",\n                \"profile_pictures\": {\n                    \"has_more\": false,\n                    \"data\": [\n                        {\n                            \"id\": \"f60f9bd3-357a-4b46-8441-52d6a3bd630f\",\n                            \"url\": \"https://placehold.co/640x640.jpg\",\n                            \"width\": 640,\n                            \"height\": 640,\n                            \"is_original\": false\n                        },\n                        {\n                            \"id\": \"33f2dc8b-de76-4287-910b-560799b60b3d\",\n                            \"url\": \"https://placehold.co/512x512.jpg\",\n                            \"width\": 512,\n                            \"height\": 512,\n                            \"is_original\": true\n                        },\n                        {\n                            \"id\": \"f1c7d014-47dc-4c16-85d9-fc83556ab173\",\n                            \"url\": \"https://placehold.co/180x180.jpg\",\n                            \"width\": 180,\n                            \"height\": 180,\n                            \"is_original\": false\n                        }\n                    ]\n                }\n            },\n            \"receiver\": {\n                \"id\": \"0c4f4511-1afa-4b17-b529-ff7465d126c1\",\n                \"type\": \"SHOP\"\n            },\n            \"daily_closure\": {\n                \"id\": \"20200701\",\n                \"date\": \"2020-07-01T00:00:00.000Z\"\n            },\n            \"insert_date\": \"2020-07-01T09:18:17.166Z\",\n            \"expire_date\": \"2020-07-01T11:18:17.163Z\"\n        }\n    ]\n}"},"OK - CANCELED":{"value":"{\n    \"has_more\": true,\n    \"data\": [\n        {\n            \"id\": \"474e916c-09fb-47e3-b08e-2a96b904ed63\",\n            \"type\": \"TO_BUSINESS\",\n            \"amount_unit\": 1240,\n            \"currency\": \"EUR\",\n            \"status\": \"CANCELED\",\n            \"expired\": false,\n            \"metadata\": {},\n            \"sender\": {\n                \"id\": \"a91234b1-cd01-4c40-a72c-344843e414f7\",\n                \"type\": \"CONSUMER\",\n                \"name\": \"Francesco C.\",\n                \"profile_pictures\": {\n                    \"has_more\": false,\n                    \"data\": [\n                        {\n                            \"id\": \"a2f4e79c-8d71-4ca0-af9a-1d30990e8519\",\n                            \"url\": \"https://placehold.co/640x640.jpg\",\n                            \"width\": 640,\n                            \"height\": 640,\n                            \"is_original\": false\n                        },\n                        {\n                            \"id\": \"8dab5311-719f-4dd2-bde3-570586dd4e60\",\n                            \"url\": \"https://placehold.co/512x512.jpg\",\n                            \"width\": 512,\n                            \"height\": 512,\n                            \"is_original\": true\n                        },\n                        {\n                            \"id\": \"bb1f97d4-56f0-48e6-8e30-4599647490fb\",\n                            \"url\": \"https://placehold.co/180x180.jpg\",\n                            \"width\": 180,\n                            \"height\": 180,\n                            \"is_original\": false\n                        }\n                    ]\n                }\n            },\n            \"receiver\": {\n                \"id\": \"0c4f4511-1afa-4b17-b529-ff7465d126c1\",\n                \"type\": \"SHOP\"\n            },\n            \"insert_date\": \"2020-07-01T09:18:36.180Z\",\n            \"expire_date\": \"2020-07-01T11:18:36.173Z\"\n        }\n    ]\n}"}}}}},"400":{"description":"400 Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"wlt":{"type":"string","description":"The request CID/WLT, save this string in case of errors. <br> This will help our IT support to trace the request."},"code":{"type":"string","description":"The specific system error code. <br> <br> `36` <br> Invalid query parament status."},"message":{"type":"string","description":"The error message."}}},"examples":{"response":{"value":"{\n    \"code\": 34,\n    \"message\": \"...\",\n    \"wlt\": \"JwL56Vpr\"\n}"}}}}},"401":{"description":"401 Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"wlt":{"type":"string","description":"The request CID/WLT, save this string in case of errors. <br> This will help our IT support to trace the request."},"code":{"type":"string","description":"The specific system error code. <br> <br> `34` <br> Merchant not found or unauthorized."},"message":{"type":"string","description":"The error message."}}},"examples":{"response":{"value":"{\n    \"code\": 34,\n    \"message\": \"...\",\n    \"wlt\": \"JwL56Vpr\"\n}"}}}}},"403":{"description":"403 Forbidden or invalid authorization header","content":{"application/json":{"schema":{"type":"object","properties":{"wlt":{"type":"string","description":"The request CID/WLT, save this string in case of errors. <br> This will help our IT support to trace the request."},"code":{"type":"string","description":"The specific system error code. <br> <br> `45` <br> Unable to fulfill the request. <br> <br> `70` <br> Anti-hammering violation."},"message":{"type":"string","description":"The error message."}}},"examples":{"response":{"value":"{\n    \"code\": 45,\n    \"message\": \"...\",\n    \"wlt\": \"TpD93Mvx\"\n}"}}}}}},"x-readme":{"headers":[{"key":"Content-Type","value":"application/json"},{"key":"Host","value":"authservices.satispay.com"},{"key":"Date","value":"Fri, 01 Jul 2020 09:18:17 +0200"},{"key":"Digest","value":"SHA-256=…the request digest"},{"key":"Authorization","value":"Signature keyId=\"4ekqhmf…\", algorithm=\"rsa-sha256\", headers=\"(request-target) host date digest\", signature=\"C5yynRx…\""}],"explorer-enabled":true,"samples-languages":["shell","php"],"code-samples":[{"language":"curl","code":"curl --request GET \\\n  --url\"https://authservices.satispay.com/g_business/v1/payments?status=PENDING\" \\\n  --header 'Host: authservices.satispay.com' \\\n  --header 'Date: Fri, 01 Jul 2024 09:18:17 GMT' \\\n  --header 'Digest: SHA-256=...' \\\n  --header 'Authorization: Signature keyId=\"4ekqhm...\", algorithm=\"rsa-sha256\", headers=\"(request-target) host date digest\", signature=\"C5yynRx...\"'\n","name":"PENDING","correspondingExample":"OK - PENDING"},{"language":"php","code":"<?php\n\nrequire_once('../vendor/autoload.php');\n\n// set keys\n\\SatispayGBusiness\\Api::setPublicKey('your_public_key');\n\\SatispayGBusiness\\Api::setPrivateKey('your_private_key');\n\\SatispayGBusiness\\Api::setKeyId('your_key_id');\n\n// get the payments\n$payment = \\SatispayGBusiness\\Payment::all([\n    'status' => 'PENDING'\n]);\n","name":"PENDING","correspondingExample":"OK - PENDING"},{"language":"curl","code":"curl --request GET \\\n  --url \"https://authservices.satispay.com/g_business/v1/payments?status=ACCEPTED\" \\\n  --header 'Host: authservices.satispay.com' \\\n  --header 'Date: Fri, 01 Jul 2024 09:18:17 GMT' \\\n  --header 'Digest: SHA-256=...' \\\n  --header 'Authorization: Signature keyId=\"4ekqhm...\", algorithm=\"rsa-sha256\", headers=\"(request-target) host date digest\", signature=\"C5yynRx...\"'\n","name":"ACCEPTED","correspondingExample":"OK - ACCEPTED"},{"language":"php","code":"<?php\n\nrequire_once('../vendor/autoload.php');\n\n// set keys\n\\SatispayGBusiness\\Api::setPublicKey('your_public_key');\n\\SatispayGBusiness\\Api::setPrivateKey('your_private_key');\n\\SatispayGBusiness\\Api::setKeyId('your_key_id');\n\n// get the payments\n$payment = \\SatispayGBusiness\\Payment::all([\n    'status' => 'ACCEPTED'\n]);\n","name":"ACCEPTED","correspondingExample":"OK - ACCEPTED"},{"language":"curl","code":"curl --request GET \\\n  --url \"https://authservices.satispay.com/g_business/v1/payments?status=CANCELED\" \\\n  --header 'Host: authservices.satispay.com' \\\n  --header 'Date: Fri, 01 Jul 2024 09:18:17 GMT' \\\n  --header 'Digest: SHA-256=...' \\\n  --header 'Authorization: Signature keyId=\"4ekqhm...\", algorithm=\"rsa-sha256\", headers=\"(request-target) host date digest\", signature=\"C5yynRx...\"'\n","name":"CANCELED","correspondingExample":"OK - CANCELED"},{"language":"php","code":"<?php\n\nrequire_once('../vendor/autoload.php');\n\n// set keys\n\\SatispayGBusiness\\Api::setPublicKey('your_public_key');\n\\SatispayGBusiness\\Api::setPrivateKey('your_private_key');\n\\SatispayGBusiness\\Api::setKeyId('your_key_id');\n\n// get the payments\n$payment = \\SatispayGBusiness\\Payment::all([\n    'status' => 'CANCELED'\n]);\n","name":"CANCELED","correspondingExample":"OK - CANCELED"}]}}},"/payments/{id}":{"get":{"summary":"Get payment","operationId":"get-the-details-of-a-payment","parameters":[{"in":"header","name":"Host","description":"The host declared in the [signature](ref:sign-the-string).","required":true,"schema":{"type":"string"}},{"in":"header","name":"Date","description":"The date declared in the [signature](ref:sign-the-string).","required":true,"schema":{"type":"string"}},{"in":"header","name":"Digest","description":"The digest declared in the [signature](ref:sign-the-string).","required":true,"schema":{"type":"string"}},{"in":"header","name":"Authorization","description":"The request [signature](ref:sign-the-string).","required":true,"schema":{"type":"string"}},{"in":"header","name":"x-satispay-response-wait-time","description":"Specifies the duration, in seconds, for which the `HTTP` call will be hanging,  waiting for a payment status change. <br> <br> The maximum allowed value is `60` seconds.","required":false,"schema":{"type":"integer","minimum":0,"maximum":60}},{"in":"header","name":"x-satispay-deviceinfo","description":"The device information (e.g., hostname).","required":false,"schema":{"type":"string"}},{"in":"header","name":"x-satispay-devicetype","description":"The device type.","required":false,"schema":{"type":"string","enum":["SMARTPHONE","TABLET","CASH REGISTER","POS","PC","ECOMMERCE_PLUGIN"]}},{"in":"header","name":"x-satispay-os","description":"The Operating System name (e.g., Windows).","required":false,"schema":{"type":"string"}},{"in":"header","name":"x-satispay-osv","description":"The Operating System version (e.g., 10).","required":false,"schema":{"type":"string"}},{"in":"header","name":"x-satispay-apph","description":"The software house name (e.g., Satispay).","required":false,"schema":{"type":"string"}},{"in":"header","name":"x-satispay-appn","description":"The software name (e.g., My awesome app).","required":false,"schema":{"type":"string"}},{"in":"header","name":"x-satispay-appv","description":"The software version (e.g., v2.0.0).","required":false,"schema":{"type":"string"}},{"in":"header","name":"x-satispay-tracking-code","description":"The tracking code used by Satispay commercial partners. <br> <br> Use this code only if explicitly required by Satispay.","required":false,"schema":{"type":"string"}},{"in":"path","name":"id","description":"The payment id to retrieve.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The unique payment id. <br> <br> This can be used for every eventual subsequent operations on the payment, including refunds."},"code_identifier":{"type":"string","description":"The Satispay code identifier. <br> <br> This string can be encoded in a QR code that can be scanned by the user. <br> This property is only available in `MATCH_CODE` flow payments."},"type":{"type":"string","description":"The current payment type. <br> <br> `TO_BUSINESS` <br> This type is used for payments from a consumer to a merchant. <br> <br> `REFUND_TO_BUSINESS` <br> This type is used for payments from a merchant to a consumer (e.g. refunds)."},"amount_unit":{"type":"integer","description":"The payment amount in cents. <br> <br> For example, the amount `€12.40` is being represented as `1240` cents."},"currency":{"type":"string","description":"The payment currency.","enum":["EUR"]},"status":{"type":"string","description":"The current payment status. <br> <br> `PENDING` <br> The payment is created and awaits user interaction, such as scanning the QR code. <br> <br> `AUTHORIZED` - for `FUND_LOCK` and `PRE_AUTHORIZED_FUND_LOCK` flows only. <br> The payment has been authorized by the user and is ready to be confirmed by the merchant with the [Update payment API](doc:update-a-payment). <br> <br> `ACCEPTED` <br> The payment has been accepted and succesfully executed. <br> <br> `CANCELED` <br> The payment has been canceled, this could happen if: <br> - the consumer's explicitely declines it in the Satispay app. <br> - the merchant cancels it via the [Update payment API](ref:-payment) with a `CANCEL` action. <br> - the payment reaches the `expiration_date` while in a `PENDING` or `AUTHORIZED` status."},"status_ownership":{"type":"boolean","deprecated":true},"expired":{"type":"boolean","description":"The current payment expiration status. <br> <br> It becomes `true` once it reaches the `expiration_date` without being accepted or canceled."},"metadata":{"type":"object","description":"The additional metadata for the payment.","additionalProperties":true},"sender":{"type":"object","description":"The sender payment actor.","properties":{"id":{"type":"string","description":"The unique sender id. <br> <br> This will only be available once the payment will be matched with a consumer."},"type":{"type":"string","description":"The sender type. <br> <br> `CONSUMER` <br> This sender type is used when the payment goes from a consumer to a merchant. <br> <br> `SHOP` <br> This sender type is used when the payment goes from a merchant to a consumer (e.g. refunds payments)."},"name":{"type":"string","description":"The sender name. <br> <br> This will only be available once the payment will be matched with a consumer."}}},"receiver":{"type":"object","description":"The receiver payment actor.","properties":{"id":{"type":"string","description":"The unique receiver id."},"type":{"type":"string","description":"The receiver type. <br> <br> `CONSUMER` <br> This receiver type is used when the payment goes from a merchant to a consumer. <br> <br> `SHOP` <br> This receiver type is used when the payment goes from a consumer to a merchant (e.g. refunds payments)."}}},"insert_date":{"type":"string","description":"The UTC payment creation datetime."},"expire_date":{"type":"string","description":"The UTC payment expiration datetime."},"description":{"type":"string","deprecated":true,"description":"The external_code set during the payment creation request. <br> <br> Please use the `external_code` field instead."},"flow":{"type":"string","deprecated":true},"external_code":{"type":"string","description":"The `external_code` set during the creation request."},"redirect_url":{"type":"string","description":"The URL where the user will be redirected after the payment flow from the Satispay app is completed. <br> <br> This property is available only when the payment uses the `MATCH_CODE`, `MATCH_USER` or `FUND_LOCK` flow."}}},"examples":{"OK - PENDING":{"value":"{\n    \"id\": \"2ee5f6c7-f85d-45b7-8f1b-2a570a7002eb\",\n    \"code_identifier\": \"S6Y-PAY--2EE5F6C7-F85D-45B7-8F1B-2A570A7002EB\",\n    \"type\": \"TO_BUSINESS\",\n    \"amount_unit\": 1240,\n    \"currency\": \"EUR\",\n    \"status\": \"PENDING\",\n    \"expired\": false,\n    \"metadata\": {\n        \"order_id\": \"my_order_id\",\n        \"user_id\": \"my_user_id\",\n        \"payment_id\": \"my_payment_id\",\n        \"session_id\": \"my_session_id\",\n        \"key\": \"value\"\n    },\n    \"sender\": {\n        \"type\": \"CONSUMER\"\n    },\n    \"receiver\": {\n        \"id\": \"0c4f4511-1afa-4b17-b529-ff7465d126c1\",\n        \"type\": \"SHOP\"\n    },\n    \"insert_date\": \"2020-07-01T09:18:17.166Z\",\n    \"expire_date\": \"2020-07-01T11:18:17.163Z\",\n    \"description\": \"my_order_id\",\n    \"flow\": \"CHARGE\",\n    \"external_code\": \"my_order_id\",\n    \"redirect_url\": \"https://online.satispay.com/pay/2ee5f6c7-f85d-45b7-8f1b-2a570a7002eb?redirect_url=https%3A%2F%2Fexample.com%2Fsatispay-redirect%3Forder_id%3Dmy_order_id\"\n}"},"OK - ACCEPTED":{"value":"{\n    \"id\": \"2ee5f6c7-f85d-45b7-8f1b-2a570a7002eb\",\n    \"code_identifier\": \"S6Y-PAY--2EE5F6C7-F85D-45B7-8F1B-2A570A7002EB\",\n    \"type\": \"TO_BUSINESS\",\n    \"amount_unit\": 1240,\n    \"currency\": \"EUR\",\n    \"status\": \"ACCEPTED\",\n    \"status_ownership\": false,\n    \"expired\": false,\n    \"metadata\": {\n        \"order_id\": \"my_order_id\",\n        \"user_id\": \"my_user_id\",\n        \"payment_id\": \"my_payment_id\",\n        \"session_id\": \"my_session_id\",\n        \"key\": \"value\"\n    },\n    \"sender\": {\n        \"id\": \"0f7c13fb-06d4-424d-8b98-18e82d1f27a8\",\n        \"type\": \"CONSUMER\",\n        \"name\": \"Emanuele C.\",\n        \"profile_pictures\": {\n            \"has_more\": false,\n            \"data\": [\n                {\n                    \"id\": \"f60f9bd3-357a-4b46-8441-52d6a3bd630f\",\n                    \"url\": \"https://placehold.co/640x640.jpg\",\n                    \"width\": 640,\n                    \"height\": 640,\n                    \"is_original\": false\n                },\n                {\n                    \"id\": \"33f2dc8b-de76-4287-910b-560799b60b3d\",\n                    \"url\": \"https://placehold.co/512x512.jpg\",\n                    \"width\": 512,\n                    \"height\": 512,\n                    \"is_original\": true\n                },\n                {\n                    \"id\": \"f1c7d014-47dc-4c16-85d9-fc83556ab173\",\n                    \"url\": \"https://placehold.co/180x180.jpg\",\n                    \"width\": 180,\n                    \"height\": 180,\n                    \"is_original\": false\n                }\n            ]\n        }\n    },\n    \"receiver\": {\n        \"id\": \"0c4f4511-1afa-4b17-b529-ff7465d126c1\",\n        \"type\": \"SHOP\"\n    },\n    \"daily_closure\": {\n        \"id\": \"20200701\",\n        \"date\": \"2020-07-01T00:00:00.000Z\"\n    },\n    \"insert_date\": \"2020-07-01T09:18:17.166Z\",\n    \"expire_date\": \"2020-07-01T11:18:17.163Z\",\n    \"description\": \"my_order_id\",\n    \"flow\": \"CHARGE\",\n    \"external_code\": \"my_order_id\",\n    \"redirect_url\": \"https://online.satispay.com/pay/2ee5f6c7-f85d-45b7-8f1b-2a570a7002eb?redirect_url=https%3A%2F%2Fexample.com%2Fsatispay-redirect%3Forder_id%3Dmy_order_id\"\n}"},"OK - AUTHORIZED":{"value":"{\n    \"id\": \"2ee5f6c7-f85d-45b7-8f1b-2a570a7002eb\",\n    \"code_identifier\": \"S6Y-PAY--2EE5F6C7-F85D-45B7-8F1B-2A570A7002EB\",\n    \"type\": \"TO_BUSINESS\",\n    \"amount_unit\": 1240,\n    \"currency\": \"EUR\",\n    \"status\": \"AUTHORIZED\",\n    \"expired\": false,\n    \"metadata\": {\n        \"order_id\": \"my_order_id\",\n        \"user_id\": \"my_user_id\",\n        \"payment_id\": \"my_payment_id\",\n        \"session_id\": \"my_session_id\",\n        \"key\": \"value\"\n    },\n    \"sender\": {\n        \"id\": \"0f7c13fb-06d4-424d-8b98-18e82d1f27a8\",\n        \"type\": \"CONSUMER\",\n        \"name\": \"Emanuele C.\",\n        \"profile_pictures\": {\n            \"has_more\": false,\n            \"data\": [\n                {\n                    \"id\": \"f60f9bd3-357a-4b46-8441-52d6a3bd630f\",\n                    \"url\": \"https://placehold.co/640x640.jpg\",\n                    \"width\": 640,\n                    \"height\": 640,\n                    \"is_original\": false\n                },\n                {\n                    \"id\": \"33f2dc8b-de76-4287-910b-560799b60b3d\",\n                    \"url\": \"https://placehold.co/512x512.jpg\",\n                    \"width\": 512,\n                    \"height\": 512,\n                    \"is_original\": true\n                },\n                {\n                    \"id\": \"f1c7d014-47dc-4c16-85d9-fc83556ab173\",\n                    \"url\": \"https://placehold.co/180x180.jpg\",\n                    \"width\": 180,\n                    \"height\": 180,\n                    \"is_original\": false\n                }\n            ]\n        }\n    },\n    \"receiver\": {\n        \"id\": \"0c4f4511-1afa-4b17-b529-ff7465d126c1\",\n        \"type\": \"SHOP\"\n    },\n    \"insert_date\": \"2020-07-01T09:18:17.166Z\",\n    \"expire_date\": \"2020-07-11T11:18:17.163Z\",\n    \"redirect_url\": \"https://online.satispay.com/pay/2ee5f6c7-f85d-45b7-8f1b-2a570a7002eb?redirect_url=https%3A%2F%2Fexample.com%2Fsatispay-redirect%3Forder_id%3Dmy_order_id\"\n}"},"OK - CANCELED":{"value":"{\n    \"id\": \"2ee5f6c7-f85d-45b7-8f1b-2a570a7002eb\",\n    \"code_identifier\": \"S6Y-PAY--2EE5F6C7-F85D-45B7-8F1B-2A570A7002EB\",\n    \"type\": \"TO_BUSINESS\",\n    \"amount_unit\": 1240,\n    \"currency\": \"EUR\",\n    \"status\": \"CANCELED\",\n    \"expired\": false,\n    \"metadata\": {\n        \"order_id\": \"my_order_id\",\n        \"user_id\": \"my_user_id\",\n        \"payment_id\": \"my_payment_id\",\n        \"session_id\": \"my_session_id\",\n        \"key\": \"value\"\n    },\n    \"sender\": {\n        \"type\": \"CONSUMER\"\n    },\n    \"receiver\": {\n        \"id\": \"0c4f4511-1afa-4b17-b529-ff7465d126c1\",\n        \"type\": \"SHOP\"\n    },\n    \"insert_date\": \"2020-07-01T09:18:17.166Z\",\n    \"expire_date\": \"2020-07-01T11:18:17.163Z\",\n    \"description\": \"my_order_id\",\n    \"flow\": \"CHARGE\",\n    \"external_code\": \"my_order_id\",\n    \"redirect_url\": \"https://online.satispay.com/pay/2ee5f6c7-f85d-45b7-8f1b-2a570a7002eb?redirect_url=https%3A%2F%2Fexample.com%2Fsatispay-redirect%3Forder_id%3Dmy_order_id\"\n}"}}}}},"401":{"description":"401 Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"wlt":{"type":"string","description":"The request CID/WLT, save this string in case of errors. <br> This will help our IT support to trace the request."},"code":{"type":"string","description":"The specific system error code. <br> <br> `34` <br> Merchant not found or unauthorized."},"message":{"type":"string","description":"The error message."}}},"examples":{"response":{"value":"{\n    \"code\": 34,\n    \"message\": \"...\",\n    \"wlt\": \"PyL36Ehs\"\n}"}}}}},"403":{"description":"403 Forbidden or invalid authorization header","content":{"application/json":{"schema":{"type":"object","properties":{"wlt":{"type":"string","description":"The request CID/WLT, save this string in case of errors. <br> This will help our IT support to trace the request."},"code":{"type":"string","description":"The specific system error code. <br> <br> `45` <br> Unable to fulfill the request. <br> <br> `70` <br> Anti-hammering violation."},"message":{"type":"string","description":"The error message."}}},"examples":{"response":{"value":"{\n    \"code\": 45,\n    \"message\": \"...\",\n    \"wlt\": \"GsM82Btk\"\n}"}}}}},"404":{"description":"404 Resource not found","content":{"application/json":{"schema":{"type":"object","properties":{"wlt":{"type":"string","description":"The request CID/WLT, save this string in case of errors. <br> This will help our IT support to trace the request."},"code":{"type":"string","description":"The specific system error code. <br> <br> `41` <br> Resource not found."},"message":{"type":"string","description":"The error message."}}},"examples":{"response":{"value":"{\n    \"code\": 41,\n    \"message\": \"Resource not found\",\n    \"wlt\": \"bpy0AX3X\"\n}"}}}}}},"x-readme":{"headers":[{"key":"Content-Type","value":"application/json"},{"key":"Host","value":"authservices.satispay.com"},{"key":"Date","value":"Fri, 01 Jul 2020 09:18:17 +0200"},{"key":"Digest","value":"SHA-256=…the request digest"},{"key":"Authorization","value":"Signature keyId=\"4ekqhmf…\", algorithm=\"rsa-sha256\", headers=\"(request-target) host date digest\", signature=\"C5yynRx…\""}],"explorer-enabled":true,"samples-languages":["shell","php"],"code-samples":[{"language":"curl","code":"curl --request GET \\\n  --url https://authservices.satispay.com/g_business/v1/payments/2ee5f6c7-f85d-45b7-8f1b-2a570a7002eb \\\n  --header 'Host: authservices.satispay.com' \\\n  --header 'Date: Fri, 01 Jul 2024 09:18:17 GMT' \\\n  --header 'Digest: SHA-256=...' \\\n  --header 'Authorization: Signature keyId=\"4ekqhm...\", algorithm=\"rsa-sha256\", headers=\"(request-target) host date digest\", signature=\"C5yynRx...\"'\n","name":"","correspondingExample":"OK - ACCEPTED"},{"language":"php","code":"<?php\n\nrequire_once('../vendor/autoload.php');\n\n// set keys\n\\SatispayGBusiness\\Api::setPublicKey('your_public_key');\n\\SatispayGBusiness\\Api::setPrivateKey('your_private_key');\n\\SatispayGBusiness\\Api::setKeyId('your_key_id');\n\n// get the payment\n$payment = \\SatispayGBusiness\\Payment::get('2ee5f6c7-f85d-45b7-8f1b-2a570a7002eb');\n","name":"","correspondingExample":"OK - ACCEPTED"}]}},"put":{"summary":"Update payment","operationId":"update-a-payment","parameters":[{"in":"header","name":"Content-Type","description":"Always send this header as `application/json`.","required":true,"schema":{"type":"string"}},{"in":"header","name":"Host","description":"The host declared in the [signature](ref:sign-the-string).","required":true,"schema":{"type":"string"}},{"in":"header","name":"Date","description":"The date declared in the [signature](ref:sign-the-string).","required":true,"schema":{"type":"string"}},{"in":"header","name":"Digest","description":"The digest declared in the [signature](ref:sign-the-string).","required":true,"schema":{"type":"string"}},{"in":"header","name":"Authorization","description":"The request [signature](ref:sign-the-string).","required":true,"schema":{"type":"string"}},{"in":"header","name":"x-satispay-deviceinfo","description":"The device information (e.g., hostname).","required":false,"schema":{"type":"string"}},{"in":"header","name":"x-satispay-devicetype","description":"The device type.","required":false,"schema":{"type":"string","enum":["SMARTPHONE","TABLET","CASH REGISTER","POS","PC","ECOMMERCE_PLUGIN"]}},{"in":"header","name":"x-satispay-os","description":"The Operating System name (e.g., Windows).","required":false,"schema":{"type":"string"}},{"in":"header","name":"x-satispay-osv","description":"The Operating System version (e.g., 10).","required":false,"schema":{"type":"string"}},{"in":"header","name":"x-satispay-apph","description":"The software house name (e.g., Satispay).","required":false,"schema":{"type":"string"}},{"in":"header","name":"x-satispay-appn","description":"The software name (e.g., My awesome app).","required":false,"schema":{"type":"string"}},{"in":"header","name":"x-satispay-appv","description":"The software version (e.g., v2.0.0).","required":false,"schema":{"type":"string"}},{"in":"header","name":"x-satispay-tracking-code","description":"The tracking code used by Satispay commercial partners. <br> <br> Use this code only if explicitly required by Satispay.","required":false,"schema":{"type":"string"}},{"in":"path","name":"id","description":"The payment id to update.","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"action":{"type":"string","description":"The action to execute on a specific payment. <br> <br> `ACCEPT` <br> This action can be used to accept `PENDING` or `AUTHORIZED` payments. <br> <br> `CANCEL` <br> This action can be used to cancel `PENDING` or `AUTHORIZED` payments. <br> <br> `CANCEL_OR_REFUND` <br> This action can be used to cancel `PENDING` or `AUTHORIZED` payments. <br> Or to refund a payment in status `ACCEPTED`. <br> <br> We suggest to execute this action only if you don't know the actual status of the payment. <br> For example if you received a timeout or an HTTP `500`. <br>  <br> Depending on the actual status of the payment, you will receive a different outcome and response.","enum":["ACCEPT","CANCEL","CANCEL_OR_REFUND"]},"amount_unit":{"type":"integer","description":"The payment amount that you want to capture in cents. <br> <br> To represent the amount `€12.40`, you should multiply it by `100`, resulting in `1240` cents. <br> <br> This property is applicable only for payments in `AUTHORIZED` status. <br> These payments must be created using either the `FUND_LOCK` or `PRE_AUTHORIZED_FUND_LOCK` flow. <br> <br> This amount must be equal or smaller than the amount set during the payment creation."}},"required":["action"]}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The unique payment id. <br> <br> This can be used for every eventual subsequent operations on the payment, including refunds."},"type":{"type":"string","description":"The current payment type. <br> <br> `TO_BUSINESS` <br> This type is used for payments from a consumer to a merchant. <br> <br> `REFUND_TO_BUSINESS` <br> This type is used for payments from a merchant to a consumer (e.g. refunds)."},"amount_unit":{"type":"integer","description":"The payment amount in cents. <br> <br> For example, the amount `€12.40` is being represented as `1240` cents."},"currency":{"type":"string","description":"The payment currency.","enum":["EUR"]},"status":{"type":"string","description":"The current payment status. <br> <br> `ACCEPTED` <br> The payment has been accepted succesfully. <br> Beware: if you use the `CANCEL_OR_REFUND` action and you receive back an `ACCEPTED` status, this means that the payment has been successfully refunded. <br> <br> `CANCELED` <br> The payment has been correctly canceled. <br> Beware: if you use the `CANCEL_OR_REFUND` action and you receive back a `CANCELED` status, this means that the payment has been successfully canceled."},"expired":{"type":"boolean","description":"The current payment expiration status. <br> <br> It becomes `true` once it reaches the `expiration_date` without being accepted or canceled."},"metadata":{"type":"object","description":"The additional metadata for the payment.","additionalProperties":true},"sender":{"type":"object","description":"The sender payment actor.","properties":{"id":{"type":"string","description":"The unique sender id. <br> <br> This will only be available once the payment will be matched with a consumer."},"type":{"type":"string","description":"The sender type. <br> <br> `CONSUMER` <br> This sender type is used when the payment goes from a consumer to a merchant. <br> <br> `SHOP` <br> This sender type is used when the payment goes from a merchant to a consumer (e.g. refunds payments)."},"name":{"type":"string","description":"The sender name. <br> <br> This will only be available once the payment will be matched with a consumer."}}},"receiver":{"type":"object","description":"The receiver payment actor.","properties":{"id":{"type":"string","description":"The unique receiver id."},"type":{"type":"string","description":"The receiver type. <br> <br> `CONSUMER` <br> This receiver type is used when the payment goes from a merchant to a consumer. <br> <br> `SHOP` <br> This receiver type is used when the payment goes from a consumer to a merchant (e.g. refunds payments)."}}},"insert_date":{"type":"string","description":"The UTC payment creation datetime."},"expire_date":{"type":"string","description":"The UTC payment expiration datetime."}}},"examples":{"OK - ACCEPT - CHECK-IN":{"value":"{\n    \"id\": \"2ee5f6c7-f85d-45b7-8f1b-2a570a7002eb\",\n    \"type\": \"TO_BUSINESS\",\n    \"amount_unit\": 1240,\n    \"currency\": \"EUR\",\n    \"status\": \"ACCEPTED\",\n    \"expired\": false,\n    \"metadata\": {},\n    \"sender\": {\n        \"id\": \"0f7c13fb-06d4-424d-8b98-18e82d1f27a8\",\n        \"type\": \"CONSUMER\",\n        \"name\": \"Emanuele C.\",\n        \"profile_pictures\": {\n            \"has_more\": false,\n            \"data\": [\n                {\n                    \"id\": \"f60f9bd3-357a-4b46-8441-52d6a3bd630f\",\n                    \"url\": \"https://placehold.co/640x640.jpg\",\n                    \"width\": 640,\n                    \"height\": 640,\n                    \"is_original\": false\n                },\n                {\n                    \"id\": \"33f2dc8b-de76-4287-910b-560799b60b3d\",\n                    \"url\": \"https://placehold.co/512x512.jpg\",\n                    \"width\": 512,\n                    \"height\": 512,\n                    \"is_original\": true\n                },\n                {\n                    \"id\": \"f1c7d014-47dc-4c16-85d9-fc83556ab173\",\n                    \"url\": \"https://placehold.co/180x180.jpg\",\n                    \"width\": 180,\n                    \"height\": 180,\n                    \"is_original\": false\n                }\n            ]\n        }\n    },\n    \"receiver\": {\n        \"id\": \"0c4f4511-1afa-4b17-b529-ff7465d126c1\",\n        \"type\": \"SHOP\"\n    },\n    \"insert_date\": \"2020-07-01T09:18:20.166Z\",\n    \"expire_date\": \"2020-07-01T11:18:20.163Z\"\n}"},"OK - CANCEL - CHECK-IN":{"value":"{\n    \"id\": \"2ee5f6c7-f85d-45b7-8f1b-2a570a7002eb\",\n    \"type\": \"TO_BUSINESS\",\n    \"amount_unit\": 1240,\n    \"currency\": \"EUR\",\n    \"status\": \"CANCELED\",\n    \"expired\": false,\n    \"metadata\": {},\n    \"sender\": {\n        \"id\": \"0f7c13fb-06d4-424d-8b98-18e82d1f27a8\",\n        \"type\": \"CONSUMER\",\n        \"name\": \"Emanuele C.\",\n        \"profile_pictures\": {\n            \"has_more\": false,\n            \"data\": [\n                {\n                    \"id\": \"f60f9bd3-357a-4b46-8441-52d6a3bd630f\",\n                    \"url\": \"https://placehold.co/640x640.jpg\",\n                    \"width\": 640,\n                    \"height\": 640,\n                    \"is_original\": false\n                },\n                {\n                    \"id\": \"33f2dc8b-de76-4287-910b-560799b60b3d\",\n                    \"url\": \"https://placehold.co/512x512.jpg\",\n                    \"width\": 512,\n                    \"height\": 512,\n                    \"is_original\": true\n                },\n                {\n                    \"id\": \"f1c7d014-47dc-4c16-85d9-fc83556ab173\",\n                    \"url\": \"https://placehold.co/180x180.jpg\",\n                    \"width\": 180,\n                    \"height\": 180,\n                    \"is_original\": false\n                }\n            ]\n        }\n    },\n    \"receiver\": {\n        \"id\": \"0c4f4511-1afa-4b17-b529-ff7465d126c1\",\n        \"type\": \"SHOP\"\n    },\n    \"insert_date\": \"2020-07-01T09:20:17.166Z\",\n    \"expire_date\": \"2020-07-01T11:20:17.163Z\"\n}"},"OK - ACCEPT - FUNDS LOCK":{"value":"{\n    \"id\": \"2ee5f6c7-f85d-45b7-8f1b-2a570a7002eb\",\n    \"code_identifier\": \"S6Y-PAY--2EE5F6C7-F85D-45B7-8F1B-2A570A7002EB\",\n    \"type\": \"TO_BUSINESS\",\n    \"amount_unit\": 1130,\n    \"currency\": \"EUR\",\n    \"status\": \"ACCEPTED\",\n    \"expired\": false,\n    \"metadata\": {\n        \"order_id\": \"my_order_id\",\n        \"user_id\": \"my_user_id\",\n        \"payment_id\": \"my_payment_id\",\n        \"session_id\": \"my_session_id\",\n        \"key\": \"value\"\n    },\n    \"sender\": {\n        \"id\": \"0f7c13fb-06d4-424d-8b98-18e82d1f27a8\",\n        \"type\": \"CONSUMER\",\n        \"name\": \"Emanuele C.\",\n        \"profile_pictures\": {\n            \"has_more\": false,\n            \"data\": [\n                {\n                    \"id\": \"f60f9bd3-357a-4b46-8441-52d6a3bd630f\",\n                    \"url\": \"https://placehold.co/640x640.jpg\",\n                    \"width\": 640,\n                    \"height\": 640,\n                    \"is_original\": false\n                },\n                {\n                    \"id\": \"33f2dc8b-de76-4287-910b-560799b60b3d\",\n                    \"url\": \"https://placehold.co/512x512.jpg\",\n                    \"width\": 512,\n                    \"height\": 512,\n                    \"is_original\": true\n                },\n                {\n                    \"id\": \"f1c7d014-47dc-4c16-85d9-fc83556ab173\",\n                    \"url\": \"https://placehold.co/180x180.jpg\",\n                    \"width\": 180,\n                    \"height\": 180,\n                    \"is_original\": false\n                }\n            ]\n        }\n    },\n    \"receiver\": {\n        \"id\": \"0c4f4511-1afa-4b17-b529-ff7465d126c1\",\n        \"type\": \"SHOP\"\n    },\n    \"insert_date\": \"2020-07-01T09:20:17.166Z\",\n    \"expire_date\": \"2020-07-11T11:20:17.163Z\",\n    \"redirect_url\": \"https://online.satispay.com/pay/2ee5f6c7-f85d-45b7-8f1b-2a570a7002eb?redirect_url=https%3A%2F%2Fexample.com%2Fsatispay-redirect%3Forder_id%3Dmy_order_id\"\n}"},"OK - CANCEL - FUNDS LOCK":{"value":"{\n    \"id\": \"2ee5f6c7-f85d-45b7-8f1b-2a570a7002eb\",\n    \"code_identifier\": \"S6Y-PAY--2EE5F6C7-F85D-45B7-8F1B-2A570A7002EB\",\n    \"type\": \"TO_BUSINESS\",\n    \"amount_unit\": 1240,\n    \"currency\": \"EUR\",\n    \"status\": \"CANCELED\",\n    \"expired\": false,\n    \"metadata\": {\n        \"order_id\": \"my_order_id\",\n        \"user_id\": \"my_user_id\",\n        \"payment_id\": \"my_payment_id\",\n        \"session_id\": \"my_session_id\",\n        \"key\": \"value\"\n    },\n    \"sender\": {\n        \"id\": \"0f7c13fb-06d4-424d-8b98-18e82d1f27a8\",\n        \"type\": \"CONSUMER\",\n        \"name\": \"Emanuele C.\",\n        \"profile_pictures\": {\n            \"has_more\": false,\n            \"data\": [\n                {\n                    \"id\": \"f60f9bd3-357a-4b46-8441-52d6a3bd630f\",\n                    \"url\": \"https://placehold.co/640x640.jpg\",\n                    \"width\": 640,\n                    \"height\": 640,\n                    \"is_original\": false\n                },\n                {\n                    \"id\": \"33f2dc8b-de76-4287-910b-560799b60b3d\",\n                    \"url\": \"https://placehold.co/512x512.jpg\",\n                    \"width\": 512,\n                    \"height\": 512,\n                    \"is_original\": true\n                },\n                {\n                    \"id\": \"f1c7d014-47dc-4c16-85d9-fc83556ab173\",\n                    \"url\": \"https://placehold.co/180x180.jpg\",\n                    \"width\": 180,\n                    \"height\": 180,\n                    \"is_original\": false\n                }\n            ]\n        }\n    },\n    \"receiver\": {\n        \"id\": \"0c4f4511-1afa-4b17-b529-ff7465d126c1\",\n        \"type\": \"SHOP\"\n    },\n    \"insert_date\": \"2020-07-01T09:18:20.166Z\",\n    \"expire_date\": \"2020-07-11T11:18:20.163Z\",\n    \"redirect_url\": \"https://online.satispay.com/pay/2ee5f6c7-f85d-45b7-8f1b-2a570a7002eb?redirect_url=https%3A%2F%2Fexample.com%2Fsatispay-redirect%3Forder_id%3Dmy_order_id\"\n}"},"OK - CANCEL_OR_REFUND - CANCELED":{"value":"{\n    \"id\": \"2ee5f6c7-f85d-45b7-8f1b-2a570a7002eb\",\n    \"type\": \"TO_BUSINESS\",\n    \"amount_unit\": 1240,\n    \"currency\": \"EUR\",\n    \"status\": \"CANCELED\",\n    \"expired\": false,\n    \"metadata\": {},\n    \"sender\": {\n        \"id\": \"0f7c13fb-06d4-424d-8b98-18e82d1f27a8\",\n        \"type\": \"CONSUMER\",\n        \"name\": \"Emanuele C.\",\n        \"profile_pictures\": {\n            \"has_more\": false,\n            \"data\": [\n                {\n                    \"id\": \"f60f9bd3-357a-4b46-8441-52d6a3bd630f\",\n                    \"url\": \"https://placehold.co/640x640.jpg\",\n                    \"width\": 640,\n                    \"height\": 640,\n                    \"is_original\": false\n                },\n                {\n                    \"id\": \"33f2dc8b-de76-4287-910b-560799b60b3d\",\n                    \"url\": \"https://placehold.co/512x512.jpg\",\n                    \"width\": 512,\n                    \"height\": 512,\n                    \"is_original\": true\n                },\n                {\n                    \"id\": \"f1c7d014-47dc-4c16-85d9-fc83556ab173\",\n                    \"url\": \"https://placehold.co/180x180.jpg\",\n                    \"width\": 180,\n                    \"height\": 180,\n                    \"is_original\": false\n                }\n            ]\n        }\n    },\n    \"receiver\": {\n        \"id\": \"0c4f4511-1afa-4b17-b529-ff7465d126c1\",\n        \"type\": \"SHOP\"\n    },\n    \"insert_date\": \"2020-07-01T09:20:17.166Z\",\n    \"expire_date\": \"2020-07-01T11:20:17.163Z\"\n}"},"OK - CANCEL_OR_REFUND - REFUNDED":{"value":"{\n    \"id\": \"3ccea4c1-0d5e-430f-9975-0becd9440d41\",\n    \"type\": \"REFUND_TO_BUSINESS\",\n    \"amount_unit\": 1240,\n    \"currency\": \"EUR\",\n    \"status\": \"ACCEPTED\",\n    \"expired\": false,\n    \"metadata\": {},\n    \"sender\": {\n        \"id\": \"0c4f4511-1afa-4b17-b529-ff7465d126c1\",\n        \"type\": \"SHOP\"\n    },\n    \"receiver\": {\n        \"id\": \"0f7c13fb-06d4-424d-8b98-18e82d1f27a8\",\n        \"type\": \"CONSUMER\"\n    },\n    \"insert_date\": \"2020-07-01T09:20:17.166Z\",\n    \"expire_date\": \"2020-07-01T11:20:17.163Z\",\n    \"flow\": \"CHARGE\"\n}"}}}}},"400":{"description":"400 Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"wlt":{"type":"string","description":"The request CID/WLT, save this string in case of errors. <br> This will help our IT support to trace the request."},"code":{"type":"string","description":"The specific system error code. <br> <br> `36` <br> Malformed flow, payment or metadata."},"message":{"type":"string","description":"The error message."}}},"examples":{"response":{"value":"{\n    \"wlt\": \"RhL16Tpe\",\n    \"code\": 36,\n    \"message\": \"...\"\n}"}}}}},"401":{"description":"401 Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"wlt":{"type":"string","description":"The request CID/WLT, save this string in case of errors. <br> This will help our IT support to trace the request."},"code":{"type":"string","description":"The specific system error code. <br> <br> `34` <br> Merchant not found or unauthorized."},"message":{"type":"string","description":"The error message."}}},"examples":{"response":{"value":"{\n    \"wlt\": \"YoR36Cnm\",\n    \"code\": 34,\n    \"message\": \"...\"\n}"}}}}},"403":{"description":"403 Forbidden or invalid authorization header","content":{"application/json":{"schema":{"type":"object","properties":{"wlt":{"type":"string","description":"The request CID/WLT, save this string in case of errors. <br> This will help our IT support to trace the request."},"code":{"type":"string","description":"The specific system error code. <br> <br> `44` <br> Illegal state transition. <br> This error typically occurs when you attempt to cancel a payment that is already in `CANCELED` status or accept a payment that is already in `ACCEPTED` status. <br> <br> `45` <br> Unable to fulfill the request. <br> <br> `70` <br> Anti-hammering violation."},"message":{"type":"string","description":"The error message."}}},"examples":{"response":{"value":"{\n    \"wlt\": \"EaV36Lte\",\n    \"code\": 45,\n    \"message\": \"...\"\n}"}}}}},"404":{"description":"404 Resource not found","content":{"application/json":{"schema":{"type":"object","properties":{"wlt":{"type":"string","description":"The request CID/WLT, save this string in case of errors. <br> This will help our IT support to trace the request."},"code":{"type":"string","description":"The specific system error code. <br> <br> `41` <br> Resource not found."},"message":{"type":"string","description":"The error message."}}},"examples":{"response":{"value":"{\n    \"code\": 41,\n    \"message\": \"Resource not found\",\n    \"wlt\": \"bpy0AX3X\"\n}"}}}}}},"x-readme":{"headers":[{"key":"Content-Type","value":"application/json"},{"key":"Host","value":"authservices.satispay.com"},{"key":"Date","value":"Fri, 01 Jul 2020 09:18:17 +0200"},{"key":"Digest","value":"SHA-256=…the request digest"},{"key":"Authorization","value":"Signature keyId=\"4ekqhmf…\", algorithm=\"rsa-sha256\", headers=\"(request-target) host date digest\", signature=\"C5yynRx…\""}],"explorer-enabled":true,"samples-languages":["shell","php"],"code-samples":[{"language":"curl","code":"curl --request PUT \\\n  --url https://authservices.satispay.com/g_business/v1/payments/2ee5f6c7-f85d-45b7-8f1b-2a570a7002eb \\\n  --header 'Content-Type: application/json' \\\n  --header 'Host: authservices.satispay.com' \\\n  --header 'Date: Fri, 01 Jul 2024 09:18:17 GMT' \\\n  --header 'Digest: SHA-256=...' \\\n  --header 'Authorization: Signature keyId=\"4ekqhm...\", algorithm=\"rsa-sha256\", hea
[...]
