{"openapi":"3.1.0","info":{"title":"Conekta API","version":"2.0"},"servers":[{"url":"https://api.conekta.io/"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","name":"Authorization","x-bearer-format":"basic","x-default":"a2V5X2VZdldWN2dTRGtOWVhzbXI="}}},"security":[{"sec0":[]}],"paths":{"/orders":{"post":{"summary":"Crear Orden","description":"Crea una orden nueva.","operationId":"crear-orden","parameters":[{"name":"Accept","in":"header","description":"El formato esperado de la respuesta, indicando la versión del render","required":true,"schema":{"type":"string","default":"application/vnd.conekta-v2.0.0+json"}},{"name":"Content-Type","in":"header","description":"El formato de la petición, tiene que ser JSON","required":true,"schema":{"type":"string","default":"application/json"}},{"name":"Accept-Language","in":"header","description":"Idioma de los mensajes de error","schema":{"type":"string","default":"es"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["currency","line_items","customer_info"],"properties":{"currency":{"type":"string","description":"Divisa con la cual se realizará el cobro. Utiliza el código de 3 letras del [Estándar Internacional ISO 4217.](https://es.wikipedia.org/wiki/ISO_4217)","default":"MXN","enum":["MXN","USD"]},"line_items":{"type":"array","description":"Lista de los [productos](https://developers.conekta.com/reference/test-si) que se venden en la orden. Debe tener al menos un producto.","items":{"properties":{"unit_price":{"type":"integer","description":"El precio por unidad expresado en centavos.","default":1000,"format":"int32"},"name":{"type":"string","description":"Nombre del producto.","default":"Product Name"},"description":{"type":"string","description":"Pequeña descripción del producto (< 250)"},"quantity":{"type":"integer","description":"Cantidad vendida del producto.","default":1,"format":"int32"},"sku":{"type":"string","description":"Indica el Storage Keeping Unit designado por la empresa"},"tags":{"type":"array","description":"Arreglo que contiene las categorías a las que pertenece el producto. Debe tener al menos un elemento.","default":[],"items":{"type":"string"}},"brand":{"type":"string","description":"Marca del producto."},"metadata":{"type":"object","description":"Hash en donde el usuario puede enviar información adicional por cada producto."}},"required":["unit_price","name","quantity"],"type":"object"}},"shipping_lines":{"type":"array","description":"Lista de los [costos de envío](https://developers.conekta.com/reference/test-23gg). Si la tienda en línea ofrece productos digitales, este parámetro es opcional.","items":{"properties":{"amount":{"type":"string","description":"El precio del envío en centavos"},"tracking_number":{"type":"string","description":"Número de rastreo que el proveedor de envios proporciona."},"carrier":{"type":"string","description":"Nombre del proveedor de envío."},"method":{"type":"string","description":"Método de envío (e.g. terrestre, mismo día)"},"metadata":{"type":"object","description":"Hash en donde el usuario puede enviar información adicional por cada 'shipping_line'."}},"required":["amount"],"type":"object"}},"discount_lines":{"type":"array","description":"Lista de los [descuentos](https://developers.conekta.com/reference/descuentos) que se aplican a la orden.","items":{"properties":{"code":{"type":"string","description":"Código del descuento."},"type":{"type":"string","description":"Puede ser 'loyalty', 'campaign', 'coupon' o 'sign'","enum":["loyalty","campaign","coupon","sign"]},"amount":{"type":"integer","description":"La cantidad a descontar de la suma total de todos los pagos, en centavos.","format":"int32"}},"type":"object"}},"tax_lines":{"type":"array","description":"Lista de los[ impuestos](https://developers.conekta.com/reference/impuestos) que se pagan.","items":{"properties":{"code":{"type":"string","description":"Código del descuento."},"type":{"type":"string","description":"Puede ser 'loyalty', 'campaign', 'coupon' o 'sign'","enum":["loyalty","campaign","coupon","sign"]},"amount":{"type":"integer","description":"La cantidad a descontar de la suma total de todos los pagos, en centavos.","format":"int32"}},"type":"object"}},"pre_authorize":{"type":"boolean","description":"Indica si los cargos de la orden deben ser preautorizados","default":false},"customer_info":{"type":"object","description":"Hash que contiene la información del cliente","properties":{"customer_id":{"type":"string","description":"identificador del customer"},"email":{"type":"string","description":"requerido si no se envía el customer_id"},"phone":{"type":"string","description":"requerido si no se envía el customer_id"},"name":{"type":"string","description":"requerido si no se envía el customer_id"},"corporate":{"type":"boolean","default":false}}},"shipping_contact":{"type":"object","description":"Detalles del [envío](https://developers.conekta.com/reference/contactos-de-env%C3%ADos), obligatorio en caso de mandar un shipping_line. Si no recibimos un shipping_contact en la orden, se utilizará el shipping_contact del customer por default.","required":["phone"],"properties":{"phone":{"type":"string","description":"Teléfono de contacto"},"receiver":{"type":"string","description":"Nombre de la persona a la que va dirigido el paquete"},"between_streets":{"type":"string","description":"Las calles al lado de la dirección de entrega"},"address":{"type":"object","description":"Dirección de entrega","required":["street1","city","state","country","postal_code"],"properties":{"street1":{"type":"string","description":"La primera línea para la dirección de envío. Usualmente es utilizado para calle y número."},"street2":{"type":"string","description":"La segunda línea para la dirección de envío. Usualmente es utilizado para número interior, suite, fraccionamiento o delegación."},"city":{"type":"string","description":"La ciudad de la dirección de envío"},"state":{"type":"string","description":"El estado de la dirección de envío"},"country":{"type":"string","description":"País de destino, utiliza el formato ISO 3166-1 de 2 dígitos."},"postal_code":{"type":"string","description":"El código postal de la dirección de envío"},"residential":{"type":"boolean","description":"Indica si es una dirección de envío residencial","default":true}}}}},"charges":{"type":"array","description":"Los cargos a realizar para este order","items":{"properties":{"payment_method":{"type":"object","description":"Método de pago utilizado en el cargo. Ve a la sección de [métodos de pago ](https://developers.conekta.com/reference/m%C3%A9todos-de-pago)para más detalles","required":["type"],"properties":{"type":{"type":"string","description":"Tipo de pago, puede ser 'default', 'card', 'cash' y 'spei'","default":"default","enum":["default","card","cash","spei"]},"token_id":{"type":"string","description":"Id del token asociado, en caso que sea un cobro de tarjeta y sin customer_id"}}},"expires_at":{"type":"integer","description":"Fecha de expiración del método como unix timestamp","format":"int32"},"reference_id":{"type":"string","description":"Referencia custom para agregar al cargo"},"monthly_installments":{"type":"integer","description":"Cuantos meses sin intereses a aplicar, puede ser 3, 6, 9, 12 o 18","format":"int32"}},"type":"object"}},"checkout":{"type":"object","description":"Detalles del [checkout](https://developers.conekta.com/reference/checkout)","required":["type","allowed_payment_methods"],"properties":{"name":{"type":"string","description":"Motivo del cobro"},"type":{"type":"string","description":"Este campo representa el tipo de checkout, podría ser `Integration` o `HostedPayment`."},"success_url":{"type":"string","description":"Url de redirección de vuelta hacia el sitio en caso pago exitoso, aplica solamente para `HostedPayment`."},"failure_url":{"type":"string","description":"Url de redirección de vuelta hacia el sitio en caso pago fallido, aplica solamente para `HostedPayment`."},"expires_at":{"type":"integer","description":"Timestamp unix de la expiración del checkout","format":"int32"},"allowed_payment_methods":{"type":"array","description":"Son los métodos de pago disponibles para este link, pueden ser `card`, `cash`, `bank_transfer`.","items":{"type":"string"}},"needs_shipping_contact":{"type":"boolean","description":"Esta bandera permite llenar la información de envío en el checkout"},"monthly_installments_enabled":{"type":"boolean","description":"Esta bandera permite especificar si estará activo meses sin intereses"},"monthly_installments_options":{"type":"array","description":"Indicar los meses sin intereses activos, por ejemplo 3, 6, 9, 12, 18 meses.","items":{"type":"integer","format":"int32"}},"on_demand_enabled":{"type":"boolean","description":"Habilitar guardado de tarjetas"},"plan_id":{"type":"string","description":"Identificador del plan asociado al checkout para la Suscripción."}}}}}}}},"responses":{"200":{"description":"200","content":{"text/plain":{"examples":{"Result":{"value":"{\n  \"id\": \"ord_2fw8EWJusiRrxdPzT\",\n  \"object\": \"order\",\n  \"livemode\": false,\n  \"amount\": 35000,\n  \"amount_refunded\": 0,\n  \"payment_status\": \"paid\",\n  \"currency\": \"MXN\",\n  \"customer_info\": {\n    \"object\": \"customer_info\",\n    \"customer_id\": \"cus_zzmjKsnM9oacyCwV3\",\n    \"name\": \"Mario Perez\",\n    \"email\": \"usuario@example.com\",\n    \"phone\": \"+5215555555555\",\n    \"antifraud_info\":{\n      \"account_created_at\": 1484040996,\n      \"first_paid_at\": 1485151007,\n      \"paid_transactions\": 4\n    }\n  },\n  \"created_at\": 1597069682,\n  \"updated_at\": 1597069682,\n  \"line_items\": {\n    \"object\": \"list\",\n    \"has_more\": false,\n    \"total\": 1,\n    \"data\": [{\n      \"id\": \"line_item_2fw8EWJusiRrxdPzR\",\n      \"object\": \"line_item\",\n      \"name\": \"Box of Cohiba S1s\",\n      \"unit_price\": 35000,\n      \"quantity\": 1,\n      \"parent_id\": \"ord_2fw8EWJusiRrxdPzT\",\n      \"antifraud_info\": {\n        \"trip_id\": \"12345\",\n        \"driver_id\": \"driv_1231\",\n        \"ticket_class\": \"economic\",\n        \"pickup_latlon\": \"23.4323456,-123.1234567\",\n        \"dropoff_latlon\": \"23.4323456,-123.1234567\"\n      },\n      \"metadata\": {}\n    }]\n  },\n  \"charges\": {\n    \"object\": \"list\",\n    \"has_more\": false,\n    \"total\": 1,\n    \"data\": [{\n      \"id\": \"589026bbedbb6e56430016ad\",\n      \"object\": \"charge\",\n      \"livemode\": false,\n      \"created_at\": 1597069682,\n      \"status\": \"paid\",\n      \"amount\": 35000,\n      \"paid_at\": 1485842112,\n      \"currency\": \"MXN\",\n      \"fee\": 1467,\n      \"customer_id\": \"\",\n      \"order_id\": \"ord_2fw8EWJusiRrxdPzT\",\n      \"payment_method\": {\n        \"object\": \"card_payment\",\n        \"type\": \"credit\",\n        \"name\": \"Jorge Lopez\",\n        \"exp_month\": \"12\",\n        \"exp_year\": \"19\",\n        \"auth_code\": \"490884\",\n        \"last4\": \"4242\",\n        \"brand\": \"visa\",\n        \"issuer\": \"BBVA\",\n        \"account_type\": \"\",\n        \"country\": \"MX\"\n      }\n    }]\n  },\n  \"metadata\": {}\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"ord_2fw8EWJusiRrxdPzT"},"object":{"type":"string","example":"order"},"livemode":{"type":"boolean","example":false,"default":true},"amount":{"type":"integer","example":35000,"default":0},"amount_refunded":{"type":"integer","example":0,"default":0},"payment_status":{"type":"string","example":"paid"},"currency":{"type":"string","example":"MXN"},"customer_info":{"type":"object","properties":{"object":{"type":"string","example":"customer_info"},"customer_id":{"type":"string","example":"cus_zzmjKsnM9oacyCwV3"},"name":{"type":"string","example":"Mario Perez"},"email":{"type":"string","example":"usuario@example.com"},"phone":{"type":"string","example":"+5215555555555"},"antifraud_info":{"type":"object","properties":{"account_created_at":{"type":"integer","example":1484040996,"default":0},"first_paid_at":{"type":"integer","example":1485151007,"default":0},"paid_transactions":{"type":"integer","example":4,"default":0}}}}},"created_at":{"type":"integer","example":1597069682,"default":0},"updated_at":{"type":"integer","example":1597069682,"default":0},"line_items":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_more":{"type":"boolean","example":false,"default":true},"total":{"type":"integer","example":1,"default":0},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"line_item_2fw8EWJusiRrxdPzR"},"object":{"type":"string","example":"line_item"},"name":{"type":"string","example":"Box of Cohiba S1s"},"unit_price":{"type":"integer","example":35000,"default":0},"quantity":{"type":"integer","example":1,"default":0},"parent_id":{"type":"string","example":"ord_2fw8EWJusiRrxdPzT"},"antifraud_info":{"type":"object","properties":{"trip_id":{"type":"string","example":"12345"},"driver_id":{"type":"string","example":"driv_1231"},"ticket_class":{"type":"string","example":"economic"},"pickup_latlon":{"type":"string","example":"23.4323456,-123.1234567"},"dropoff_latlon":{"type":"string","example":"23.4323456,-123.1234567"}}},"metadata":{"type":"object","properties":{}}}}}}},"charges":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_more":{"type":"boolean","example":false,"default":true},"total":{"type":"integer","example":1,"default":0},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"589026bbedbb6e56430016ad"},"object":{"type":"string","example":"charge"},"livemode":{"type":"boolean","example":false,"default":true},"created_at":{"type":"integer","example":1597069682,"default":0},"status":{"type":"string","example":"paid"},"amount":{"type":"integer","example":35000,"default":0},"paid_at":{"type":"integer","example":1485842112,"default":0},"currency":{"type":"string","example":"MXN"},"fee":{"type":"integer","example":1467,"default":0},"customer_id":{"type":"string","example":""},"order_id":{"type":"string","example":"ord_2fw8EWJusiRrxdPzT"},"payment_method":{"type":"object","properties":{"object":{"type":"string","example":"card_payment"},"type":{"type":"string","example":"credit"},"name":{"type":"string","example":"Jorge Lopez"},"exp_month":{"type":"string","example":"12"},"exp_year":{"type":"string","example":"19"},"auth_code":{"type":"string","example":"490884"},"last4":{"type":"string","example":"4242"},"brand":{"type":"string","example":"visa"},"issuer":{"type":"string","example":"BBVA"},"account_type":{"type":"string","example":""},"country":{"type":"string","example":"MX"}}}}}}}},"metadata":{"type":"object","properties":{}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n\t\"details\": [{\n\t\t\"debug_message\": \"El campo contiene caracteres incorrectos.\",\n\t\t\"message\": \"El campo contiene caracteres incorrectos.\",\n\t\t\"param\": \"shipping_contact.address.street1\",\n\t\t\"code\": \"conekta.errors.parameter_validation.checkout.bad_request\"\n\t}],\n\t\"object\": \"error\",\n\t\"type\": \"parameter_validation_error\",\n\t\"log_id\": \"62fe934141de2753067ddc3f\"\n}"}},"schema":{"type":"object","properties":{"details":{"type":"array","items":{"type":"object","properties":{"debug_message":{"type":"string","example":"El campo contiene caracteres incorrectos."},"message":{"type":"string","example":"El campo contiene caracteres incorrectos."},"param":{"type":"string","example":"shipping_contact.address.street1"},"code":{"type":"string","example":"conekta.errors.parameter_validation.checkout.bad_request"}}}},"object":{"type":"string","example":"error"},"type":{"type":"string","example":"parameter_validation_error"},"log_id":{"type":"string","example":"62fe934141de2753067ddc3f"}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"ruby","code":"Conekta::Order.create({\n  currency: \"MXN\",\n  customer_info: {\n    customer_id: \"cus_zzmjKsnM9oacyCwV3\",\n    antifraud_info: {\n      paid_transactions: 4\n    }\n  },\n  line_items: [{\n    name: \"Box of Cohiba S1s\",\n    unit_price: 35000,\n    quantity: 1,\n    antifraud_info: {\n      trip_id: \"12345\",\n      driver_id: \"driv_1231\",\n      ticket_class: \"economic\",\n      pickup_latlon: \"23.4323456,-123.1234567\",\n      dropoff_latlon: \"23.4323456,-123.1234567\"\n    }\n  }],\n  charges: [{\n    payment_method: {\n      type: \"default\"\n    }\n  }]\n})"},{"language":"php","code":"\\Conekta\\Order::create([\n  'currency' => 'MXN',\n  'customer_info' => [\n    'customer_id' => 'cus_zzmjKsnM9oacyCwV3',\n    'antifraud_info' => [\n      'paid_transactions' => 4\n    ]\n  ]\n  'line_items' => [\n    [\n      'name' => 'Box of Cohiba S1s',\n      'unit_price' => 35000,\n      'quantity' => 1,\n      'antifraud_info' => [\n          'trip_id'        => '12345',\n          'driver_id'      => 'driv_1231',\n          'ticket_class'   => 'economic',\n          'pickup_latlon'  => '23.4323456,-123.1234567',\n          'dropoff_latlon' => '23.4323456,-123.1234567'\n      ]\n    ]\n  ],\n  'charges' => [\n    [\n      'payment_method' => [\n        'type' => 'default'\n      ]\n    ]\n  ]\n]);"},{"language":"javascript","code":"conekta.Order.create({\n  \"currency\": \"MXN\",\n  \"customer_info\": {\n    \"customer_id\": \"cus_zzmjKsnM9oacyCwV3\",\n    \"antifraud_info\": {\n      \"paid_transactions\": 4\n    }\n  },\n  \"line_items\": [{\n    \"name\": \"Box of Cohiba S1s\",\n    \"unit_price\": 35000,\n    \"quantity\": 1,\n    \"antifraud_info\": {\n      \"trip_id\": \"12345\",\n      \"driver_id\": \"driv_1231\",\n      \"ticket_class\": \"economic\",\n      \"pickup_latlon\": \"23.4323456,-123.1234567\",\n      \"dropoff_latlon\": \"23.4323456,-123.1234567\"\n    }\n  }],\n  \"charges\": [{\n    \"payment_method\": {\n      \"type\": \"default\"\n    }\n  }]\n}, function(err, order) {\n    console.log(order.toObject());\n})","name":"Javascript"},{"language":"python","code":"conekta.Order.create({\n  \"currency\": \"MXN\",\n  \"customer_info\": {\n    \"customer_id\": \"cus_zzmjKsnM9oacyCwV3\"\n  },\n  \"line_items\": [{\n    \"name\": \"Box of Cohiba S1s\",\n    \"unit_price\": 35000,\n    \"quantity\": 1\n  }],\n  \"charges\": [{\n    \"payment_method\": {\n      \"type\": \"default\"\n    }\n  }]\n})"},{"language":"java","code":"Order.create(new JSONObject(\"{\"\n    + \"'currency': 'MXN', \"\n    + \"'customer_info': {\"\n        + \"'customer_id': 'cus_zzmjKsnM9oacyCwV3',\"\n        + \"'antifraud_info': {\"\n        +   \"'paid_transactions': 4\"\n        + \"}\"\n    + \"},\"\n    + \"'line_items': [{\"\n        + \"'name': 'Box of Cohiba S1s',\"\n        + \"'unit_price': 35000,\"\n        + \"'quantity': 1,\"\n        + \"'antifraud_info': {\"\n            + \"'trip_id': '12345',\"\n            + \"'driver_id': 'driv_1231',\"\n            + \"'ticket_class': 'economic',\"\n            + \"'pickup_latlon': '23.4323456,-123.1234567',\"\n            + \"'dropoff_latlon': '23.4323456,-123.1234567'\"\n        + \"}\"\n    + \"}],\"\n    + \"'charges': [{\"\n        + \"'payment_method': {\"\n            + \"'type': 'default'\"\n        + \"}\"\n    + \"}]\"\n+ \"}\"));"},{"language":"csharp","code":"Order order = new conekta.Order().create(@\"{\n  \"\"currency\"\":\"\"MXN\"\",\n  \"\"customer_info\"\": {\n    \"\"customer_id\"\": \"\"cus_zzmjKsnM9oacyCwV3\"\",\n    \"\"antifraud_info\"\": {\n      \"\"paid_transactions\"\": 4\n    }\n  },\n  \"\"line_items\"\": [{\n    \"\"name\"\": \"\"Box of Cohiba S1s\"\",\n    \"\"unit_price\"\": 35000,\n    \"\"quantity\"\": 1,\n    \"\"antifraud_info\"\": {\n      \"\"trip_id\"\": \"\"12345\"\",\n      \"\"driver_id\"\": \"\"5f671gaqg1\"\",\n      \"\"ticket_class\"\": \"\"X\"\",\n      \"\"driver_id\"\": \"\"5f671gaqg1\"\",\n      \"\"pickup_latlon\"\": \"\"19.4153209,-99.1804722\"\",\n      \"\"dropoff_latlon\"\": \"\"19.434606,-99.1639283\"\"\n    }\n  }],\n  \"\"charges\"\": [{\n    \"\"payment_method\"\": {\n      \"\"type\"\": \"\"default\"\"\n    }\n  }]\n}\");"},{"language":"go","code":"import  (\n    conekta \"github.com/conekta/conekta-go\"\n    \"github.com/conekta/conekta-go/order\"\n)\n\nAddress := &conekta.Address{\n        Street1:    \"Street1\",\n        Street2:    \"Street2\",\n        City:       \"City\",\n        State:      \"State\",\n        Country:    \"Country\",\n        PostalCode: \"PostalCode\", \n    }\n\n    customerParams := &conekta.CustomerParams{\n        Name:  \"name_customer\",\n        Email: \"name_email@dominio.com\",\n        Phone: \"55-5555-5555\",  \n    }\n\n    lineItemParams := &conekta.LineItemsParams{\n        Name:      \"Naranjas Robadas\",\n        UnitPrice: 10000,\n        Quantity:  2, \n    }\n\n    shippingParams := &conekta.ShippingLinesParams{\n        Amount:         200,\n        TrackingNumber: \"123\",\n        Carrier:        \"Test Carrier\",\n        Method:         \"method\", \n    }\n\n    shippingContactParams := &conekta.ShippingContactParams{\n        Phone:          \"55-5555-5555\",\n        Receiver:       \"Miguel\",\n        BetweenStreets: \"BetweenStreets\",\n        Address:        Address,  \n    }\n\n    chargeParams := &conekta.ChargeParams{\n        PaymentMethod: &conekta.PaymentMethodParams{\n            Type:    \"card\",\n            TokenID: \"tok_test_visa_4242\",  \n            //ExpiresAt: time.Now().AddDate(0, 0, 90).Unix(),\n            //ExpiresAt es para usar en caso de enviar cargo tipo oxxo. Reemplazar por TokenID\n        },\n    }\n\n    orderParams := &conekta.OrderParams{}\n    orderParams.Currency = \"MXN\"\n    orderParams.CustomerInfo = customerParams\n    orderParams.PreAuth =  true //en caso de no pasar este parametro, procesar la orden no podrá ser posible\n    orderParams.LineItems = append(orderParams.LineItems, lineItemParams)\n    orderParams.ShippingLines = append(orderParams.ShippingLines, shippingParams)\n    orderParams.ShippingContact = shippingContactParams\n    orderParams.Charges = append(orderParams.Charges, chargeParams)\n\n\n    order.Create(orderParams)"},{"language":"curl","code":"curl -H \"Accept: application/vnd.conekta-v2.0.0+json\" \\\n     -H \"Content-type: application/json\" \\\n     -u key_eYvWV7gSDkNYXsmr: \\\n     -X POST -d '{\n        \"currency\": \"MXN\",\n        \"customer_info\": {\n          \"email\": \"usuario@example.com\",\n          \"name\": \"Mario Perez\",\n          \"phone\": \"+5215555555555\",\n          \"antifraud_info\": {\n            \"paid_transactions\": 4\n          }\n        },\n        \"line_items\": [{\n          \"name\": \"Box of Cohiba S1s\",\n          \"unit_price\": 35000,\n          \"quantity\": 1,\n          \"antifraud_info\": {\n            \"trip_id\": \"12345\",\n            \"driver_id\": \"driv_1231\",\n            \"ticket_class\": \"economic\",\n            \"pickup_latlon\": \"23.4323456,-123.1234567\",\n            \"dropoff_latlon\": \"23.4323456,-123.1234567\"\n          }\n        }],\n        \"charges\": [{\n          \"payment_method\": {\n            \"type\": \"card\",\n            \"token_id\": \"tok_test_visa_4242\"\n          }\n        }]\n      }' https://api.conekta.io/orders"}],"samples-languages":["ruby","php","javascript","python","java","csharp","go","curl"]}},"get":{"summary":"Obtener una lista de órdenes","description":"Obtener los detalles de órdenes en forma de una lista","operationId":"obtener-una-lista-de-órdenes","parameters":[{"name":"Accept","in":"header","description":"El formato esperado de la respuesta, indicando la versión del render","required":true,"schema":{"type":"string","default":"application/vnd.conekta-v2.0.0+json"}},{"name":"Content-Type","in":"header","description":"El formato de la petición, tiene que ser JSON","required":true,"schema":{"type":"string","default":"application/json"}},{"name":"Accept-Language","in":"header","description":"Idioma de los mensajes de error","schema":{"type":"string","default":"en-us"}},{"name":"search","in":"query","description":"Búsqueda general de orders, e.g. por correo, referencia etc","schema":{"type":"string","default":"example@example.com"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"next_page_url\": \"https://api.conekta.io/orders?next=ord_2oDLrxiVJpJw1t6C7\",\n    \"has_more\": true,\n    \"total\": 64110,\n    \"object\": \"list\",\n    \"data\": [\n        {\n          \"id\": \"ord_2fw8EWJusiRrxdPzT\",\n          \"object\": \"order\",\n          \"livemode\": false,\n          \"amount\": 35000,\n          \"amount_refunded\": 0,\n          \"payment_status\": \"paid\",\n          \"currency\": \"MXN\",\n          \"customer_info\": {\n            \"object\": \"customer_info\",\n            \"customer_id\": \"cus_zzmjKsnM9oacyCwV3\",\n            \"name\": \"Mario Perez\",\n            \"email\": \"usuario@example.com\",\n            \"phone\": \"+5215555555555\",\n            \"antifraud_info\":{\n              \"account_created_at\": 1484040996,\n              \"first_paid_at\": 1485151007,\n              \"paid_transactions\": 4\n            }\n          },\n          \"created_at\": 1597069682,\n          \"updated_at\": 1597069682,\n          \"line_items\": {\n            \"object\": \"list\",\n            \"has_more\": false,\n            \"total\": 1,\n            \"data\": [{\n              \"id\": \"line_item_2fw8EWJusiRrxdPzR\",\n              \"object\": \"line_item\",\n              \"name\": \"Box of Cohiba S1s\",\n              \"unit_price\": 35000,\n              \"quantity\": 1,\n              \"parent_id\": \"ord_2fw8EWJusiRrxdPzT\",\n              \"antifraud_info\": {\n                \"trip_id\": \"12345\",\n                \"driver_id\": \"driv_1231\",\n                \"ticket_class\": \"economic\",\n                \"pickup_latlon\": \"23.4323456,-123.1234567\",\n                \"dropoff_latlon\": \"23.4323456,-123.1234567\"\n              },\n              \"metadata\": {}\n            }]\n          },\n          \"charges\": {\n            \"object\": \"list\",\n            \"has_more\": false,\n            \"total\": 1,\n            \"data\": [{\n              \"id\": \"589026bbedbb6e56430016ad\",\n              \"object\": \"charge\",\n              \"livemode\": false,\n              \"created_at\": 1597069682,\n              \"status\": \"paid\",\n              \"amount\": 35000,\n              \"paid_at\": 1485842112,\n              \"currency\": \"MXN\",\n              \"fee\": 1467,\n              \"customer_id\": \"\",\n              \"order_id\": \"ord_2fw8EWJusiRrxdPzT\",\n              \"payment_method\": {\n                \"object\": \"card_payment\",\n                \"type\": \"credit\",\n                \"name\": \"Jorge Lopez\",\n                \"exp_month\": \"12\",\n                \"exp_year\": \"19\",\n                \"auth_code\": \"490884\",\n                \"last4\": \"4242\",\n                \"brand\": \"visa\",\n                \"issuer\": \"\",\n                \"account_type\": \"\",\n                \"country\": \"MX\",\n                \"fraud_score\": 29,\n                \"fraud_indicators\": []\n              }\n            }]\n          },\n          \"metadata\": {}\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"next_page_url":{"type":"string","example":"https://api.conekta.io/orders?next=ord_2oDLrxiVJpJw1t6C7"},"has_more":{"type":"boolean","example":true,"default":true},"total":{"type":"integer","example":64110,"default":0},"object":{"type":"string","example":"list"},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"ord_2fw8EWJusiRrxdPzT"},"object":{"type":"string","example":"order"},"livemode":{"type":"boolean","example":false,"default":true},"amount":{"type":"integer","example":35000,"default":0},"amount_refunded":{"type":"integer","example":0,"default":0},"payment_status":{"type":"string","example":"paid"},"currency":{"type":"string","example":"MXN"},"customer_info":{"type":"object","properties":{"object":{"type":"string","example":"customer_info"},"customer_id":{"type":"string","example":"cus_zzmjKsnM9oacyCwV3"},"name":{"type":"string","example":"Mario Perez"},"email":{"type":"string","example":"usuario@example.com"},"phone":{"type":"string","example":"+5215555555555"},"antifraud_info":{"type":"object","properties":{"account_created_at":{"type":"integer","example":1484040996,"default":0},"first_paid_at":{"type":"integer","example":1485151007,"default":0},"paid_transactions":{"type":"integer","example":4,"default":0}}}}},"created_at":{"type":"integer","example":1597069682,"default":0},"updated_at":{"type":"integer","example":1597069682,"default":0},"line_items":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_more":{"type":"boolean","example":false,"default":true},"total":{"type":"integer","example":1,"default":0},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"line_item_2fw8EWJusiRrxdPzR"},"object":{"type":"string","example":"line_item"},"name":{"type":"string","example":"Box of Cohiba S1s"},"unit_price":{"type":"integer","example":35000,"default":0},"quantity":{"type":"integer","example":1,"default":0},"parent_id":{"type":"string","example":"ord_2fw8EWJusiRrxdPzT"},"antifraud_info":{"type":"object","properties":{"trip_id":{"type":"string","example":"12345"},"driver_id":{"type":"string","example":"driv_1231"},"ticket_class":{"type":"string","example":"economic"},"pickup_latlon":{"type":"string","example":"23.4323456,-123.1234567"},"dropoff_latlon":{"type":"string","example":"23.4323456,-123.1234567"}}},"metadata":{"type":"object","properties":{}}}}}}},"charges":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_more":{"type":"boolean","example":false,"default":true},"total":{"type":"integer","example":1,"default":0},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"589026bbedbb6e56430016ad"},"object":{"type":"string","example":"charge"},"livemode":{"type":"boolean","example":false,"default":true},"created_at":{"type":"integer","example":1597069682,"default":0},"status":{"type":"string","example":"paid"},"amount":{"type":"integer","example":35000,"default":0},"paid_at":{"type":"integer","example":1485842112,"default":0},"currency":{"type":"string","example":"MXN"},"fee":{"type":"integer","example":1467,"default":0},"customer_id":{"type":"string","example":""},"order_id":{"type":"string","example":"ord_2fw8EWJusiRrxdPzT"},"payment_method":{"type":"object","properties":{"object":{"type":"string","example":"card_payment"},"type":{"type":"string","example":"credit"},"name":{"type":"string","example":"Jorge Lopez"},"exp_month":{"type":"string","example":"12"},"exp_year":{"type":"string","example":"19"},"auth_code":{"type":"string","example":"490884"},"last4":{"type":"string","example":"4242"},"brand":{"type":"string","example":"visa"},"issuer":{"type":"string","example":""},"account_type":{"type":"string","example":""},"country":{"type":"string","example":"MX"},"fraud_score":{"type":"integer","example":29,"default":0},"fraud_indicators":{"type":"array"}}}}}}}},"metadata":{"type":"object","properties":{}}}}}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl --location --request GET 'https://api.conekta.io/orders?search=example@example.com' \\\n--header 'Accept: application/vnd.conekta-v2.0.0+json' \\\n--header 'Content-Type: application/json; charset=utf-8' \\\n-u key_xxxxxxxxxxxxxx:"},{"language":"javascript","code":" conekta.Order.where({'search': 'example@example.com'}, (err, orders) => {\n   assert(orders.toObject().data instanceof Array, true)\n })"},{"language":"ruby","code":"order_list = Conekta::Order.where({search: 'example@example.com'})"},{"language":"php","code":"$orderList = \\Conekta\\Order::where(['search' => 'example@example.com']);"},{"language":"python","code":"order = conekta.Order.where({\"search\": \"example@example.com\"})"},{"language":"java","code":"JSONObject paginateParams = new JSONObject(\"{'search': 'example@example.com'}\");\nConektaOrder order = Order.where(paginateParams);"},{"language":"csharp","code":"string requestParams = @\"{\n  search: 'example@example.com'\n}\";\n\nOrder[] orders = new Order().where(JObject.Parse(requestParams));"},{"language":"go","code":"import  (\n    conekta \"github.com/conekta/conekta-go\"\n    conektaOrder \"github.com/conekta/conekta-go/order\"\n)\n\ntype Query struct {\n\tsearch string `url:\"search,omitempty\"`\n}\nconekta.APIKey = \"key_ZLy4aP2szht1HqzkCezDEA\"\nsearch := &Query{search: \"example@example.com\"}\nconektaOrder.Where(search)"}],"samples-languages":["curl","javascript","ruby","php","python","java","csharp","go"]}}},"/orders/{order_id}":{"put":{"summary":"Actualizar Orden","description":"Actualiza una Orden existente.","operationId":"actualizar-orden","parameters":[{"name":"order_id","in":"path","description":"Id del order a actualizar","schema":{"type":"string"},"required":true},{"name":"Accept","in":"header","description":"El formato esperado de la respuesta, indicando la versión del render","schema":{"type":"string","default":"application/vnd.conekta-v2.0.0+json"}},{"name":"Content-Type","in":"header","description":"El formato de la petición, tiene que ser JSON","schema":{"type":"string","default":"application/json"}},{"name":"Accept-Language","in":"header","description":"Idioma de los mensajes de error","schema":{"type":"string","default":"es-mx"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"currency":{"type":"string","description":"Divisa con la cual se realizará el cobro. Utiliza el código de 3 letras del [Estándar Internacional ISO 4217.](https://es.wikipedia.org/wiki/ISO_4217)","default":"MXN","enum":["MXN","USD"]},"line_items":{"type":"array","description":"Lista de los [productos](https://developers.conekta.com/reference/test-si) que se venden en la orden. Debe tener al menos un producto.","items":{"properties":{"unit_price":{"type":"integer","description":"El precio por unidad expresado en centavos.","default":1000,"format":"int32"},"name":{"type":"string","description":"Nombre del producto.","default":"Product Name"},"description":{"type":"string","description":"Pequeña descripción del producto (< 250)"},"quantity":{"type":"integer","description":"Cantidad vendida del producto.","default":1,"format":"int32"},"sku":{"type":"string","description":"Indica el Storage Keeping Unit designado por la empresa"},"tags":{"type":"array","description":"Arreglo que contiene las categorías a las que pertenece el producto. Debe tener al menos un elemento.","default":[],"items":{"type":"string"}},"brand":{"type":"string","description":"Marca del producto."},"metadata":{"type":"object","description":"Hash en donde el usuario puede enviar información adicional por cada producto."}},"required":["unit_price","name","quantity"],"type":"object"}},"shipping_lines":{"type":"array","description":"Lista de los [costos de envío](https://developers.conekta.com/reference/test-23gg). Si la tienda en línea ofrece productos digitales, este parámetro es opcional.","items":{"properties":{"amount":{"type":"string","description":"El precio del envío en centavos"},"tracking_number":{"type":"string","description":"Número de rastreo que el proveedor de envios proporciona."},"carrier":{"type":"string","description":"Nombre del proveedor de envío."},"method":{"type":"string","description":"Método de envío (e.g. terrestre, mismo día)"},"metadata":{"type":"object","description":"Hash en donde el usuario puede enviar información adicional por cada 'shipping_line'."}},"required":["amount"],"type":"object"}},"discount_lines":{"type":"array","description":"Lista de los [descuentos](https://developers.conekta.com/reference/descuentos) que se aplican a la orden.","items":{"properties":{"code":{"type":"string","description":"Código del descuento."},"type":{"type":"string","description":"Puede ser 'loyalty', 'campaign', 'coupon' o 'sign'","enum":["loyalty","campaign","coupon","sign"]},"amount":{"type":"integer","description":"La cantidad a descontar de la suma total de todos los pagos, en centavos.","format":"int32"}},"type":"object"}},"tax_lines":{"type":"array","description":"Lista de los[ impuestos](https://developers.conekta.com/reference/impuestos) que se pagan.","items":{"properties":{"description":{"type":"string","description":"Código del impuesto"},"amount":{"type":"string","description":"La cantidad a cobrar por impuesto en centavos"},"metadata":{"type":"object","description":"Hash en donde el usuario puede enviar información adicional por cada tax_line"}},"required":["description","amount"],"type":"object"}},"pre_authorize":{"type":"boolean","description":"Indica si los cargos de la orden deben ser preautorizados","default":false},"customer_info":{"type":"object","description":"Hash que contiene la información del cliente, requerido al menos que mandas customer_id","required":["email","phone","name"],"properties":{"email":{"type":"string","description":"Correo del cliente"},"phone":{"type":"string","description":"Teléfono del cliente"},"name":{"type":"string","description":"Nombre del cliente"},"coporate":{"type":"boolean","description":"Booleano que indica si el usuario es corporativo o no","default":false}}},"customer_id":{"type":"string","description":"Id del cliente a cuál quieres cobrar, requerido si no mandas customer_info"},"shipping_contact":{"type":"object","description":"Detalles del [envío](https://developers.conekta.com/reference/contactos-de-env%C3%ADos), obligatorio en caso de mandar un shipping_line. Si no recibimos un shipping_contact en la orden, se utilizará el shipping_contact del customer por default.","required":["phone"],"properties":{"phone":{"type":"string","description":"Teléfono de contacto"},"receiver":{"type":"string","description":"Nombre de la persona a la que va dirigido el paquete"},"between_streets":{"type":"string","description":"Las calles al lado de la dirección de entrega"},"address":{"type":"object","description":"Dirección de entrega","required":["street1","city","state","country","postal_code"],"properties":{"street1":{"type":"string","description":"La primera línea para la dirección de envío. Usualmente es utilizado para calle y número."},"street2":{"type":"string","description":"La segunda línea para la dirección de envío. Usualmente es utilizado para número interior, suite, fraccionamiento o delegación."},"city":{"type":"string","description":"La ciudad de la dirección de envío"},"state":{"type":"string","description":"El estado de la dirección de envío"},"country":{"type":"string","description":"País de destino, utiliza el formato ISO 3166-1 de 2 dígitos."},"postal_code":{"type":"string","description":"El código postal de la dirección de envío"},"residential":{"type":"boolean","description":"Indica si es una dirección de envío residencial","default":true}}}}},"charges":{"type":"array","description":"Los cargos a realizar para este order"},"checkout":{"type":"object","description":"Detalles del checkout a hacer render, si aplica","required":["type","allowed_payment_methods"],"properties":{"name":{"type":"string","description":"Motivo del cobro"},"type":{"type":"string","description":"Este campo representa el tipo de checkout, podría ser `Integration` o `HostedPayment`."},"success_url":{"type":"string","description":"Url de redirección de vuelta hacia el sitio en caso pago exitoso, aplica solamente para `HostedPayment`."},"failure_url":{"type":"string","description":"Url de redirección de vuelta hacia el sitio en caso pago fallido, aplica solamente para `HostedPayment`."},"expires_at":{"type":"integer","description":"Timestamp unix de la expiración del checkout","format":"int32"},"allowed_payment_methods":{"type":"array","description":"Son los métodos de pago disponibles para este link, pueden ser `card`, `cash`, `bank_transfer`.","items":{"type":"string"}},"needs_shipping_contact":{"type":"boolean","description":"Esta bandera permite llenar la información de envío en el checkout"},"monthly_installments_enabled":{"type":"boolean","description":"Esta bandera permite especificar si estará activo meses sin intereses"},"monthly_installments_options":{"type":"array","description":"Indicar los meses sin intereses activos, por ejemplo 3, 6, 9, 12, 18 meses.","items":{"type":"integer","format":"int32"}},"on_demand_enabled":{"type":"boolean","description":"Habilitar guardado de tarjetas"},"plan_id":{"type":"string","description":"Identificador del plan asociado al checkout para la Suscripción."}}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": \"ord_2fw8EWJusiRrxdPzT\",\n  \"object\": \"order\",\n  \"livemode\": false,\n  \"amount\": 35000,\n  \"amount_refunded\": 0,\n  \"payment_status\": \"paid\",\n  \"currency\": \"MXN\",\n  \"customer_info\": {\n    \"object\": \"customer_info\",\n    \"customer_id\": \"cus_zzmjKsnM9oacyCwV3\",\n    \"name\": \"Mario Perez\",\n    \"email\": \"usuario@example.com\",\n    \"phone\": \"+5215555555555\",\n    \"antifraud_info\":{\n      \"account_created_at\": 1484040996,\n      \"first_paid_at\": 1485151007,\n      \"paid_transactions\": 4\n    }\n  },\n  \"created_at\": 1597069682,\n  \"updated_at\": 1597069682,\n  \"line_items\": {\n    \"object\": \"list\",\n    \"has_more\": false,\n    \"total\": 1,\n    \"data\": [{\n      \"id\": \"line_item_2fw8EWJusiRrxdPzR\",\n      \"object\": \"line_item\",\n      \"name\": \"Box of Cohiba S1s\",\n      \"unit_price\": 35000,\n      \"quantity\": 1,\n      \"parent_id\": \"ord_2fw8EWJusiRrxdPzT\",\n      \"antifraud_info\": {\n        \"trip_id\": \"12345\",\n        \"driver_id\": \"driv_1231\",\n        \"ticket_class\": \"economic\",\n        \"pickup_latlon\": \"23.4323456,-123.1234567\",\n        \"dropoff_latlon\": \"23.4323456,-123.1234567\"\n      },\n      \"metadata\": {}\n    }]\n  },\n  \"charges\": {\n    \"object\": \"list\",\n    \"has_more\": false,\n    \"total\": 1,\n    \"data\": [{\n      \"id\": \"589026bbedbb6e56430016ad\",\n      \"object\": \"charge\",\n      \"livemode\": false,\n      \"created_at\": 1597069682,\n      \"status\": \"paid\",\n      \"amount\": 35000,\n      \"paid_at\": 1485842112,\n      \"currency\": \"MXN\",\n      \"fee\": 1467,\n      \"customer_id\": \"\",\n      \"order_id\": \"ord_2fw8EWJusiRrxdPzT\",\n      \"payment_method\": {\n        \"object\": \"card_payment\",\n        \"type\": \"credit\",\n        \"name\": \"Jorge Lopez\",\n        \"exp_month\": \"12\",\n        \"exp_year\": \"19\",\n        \"auth_code\": \"490884\",\n        \"last4\": \"4242\",\n        \"brand\": \"visa\",\n        \"issuer\": \"BBVA\",\n        \"account_type\": \"\",\n        \"country\": \"MX\"\n      }\n    }]\n  },\n  \"metadata\": {}\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"ord_2fw8EWJusiRrxdPzT"},"object":{"type":"string","example":"order"},"livemode":{"type":"boolean","example":false,"default":true},"amount":{"type":"integer","example":35000,"default":0},"amount_refunded":{"type":"integer","example":0,"default":0},"payment_status":{"type":"string","example":"paid"},"currency":{"type":"string","example":"MXN"},"customer_info":{"type":"object","properties":{"object":{"type":"string","example":"customer_info"},"customer_id":{"type":"string","example":"cus_zzmjKsnM9oacyCwV3"},"name":{"type":"string","example":"Mario Perez"},"email":{"type":"string","example":"usuario@example.com"},"phone":{"type":"string","example":"+5215555555555"},"antifraud_info":{"type":"object","properties":{"account_created_at":{"type":"integer","example":1484040996,"default":0},"first_paid_at":{"type":"integer","example":1485151007,"default":0},"paid_transactions":{"type":"integer","example":4,"default":0}}}}},"created_at":{"type":"integer","example":1597069682,"default":0},"updated_at":{"type":"integer","example":1597069682,"default":0},"line_items":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_more":{"type":"boolean","example":false,"default":true},"total":{"type":"integer","example":1,"default":0},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"line_item_2fw8EWJusiRrxdPzR"},"object":{"type":"string","example":"line_item"},"name":{"type":"string","example":"Box of Cohiba S1s"},"unit_price":{"type":"integer","example":35000,"default":0},"quantity":{"type":"integer","example":1,"default":0},"parent_id":{"type":"string","example":"ord_2fw8EWJusiRrxdPzT"},"antifraud_info":{"type":"object","properties":{"trip_id":{"type":"string","example":"12345"},"driver_id":{"type":"string","example":"driv_1231"},"ticket_class":{"type":"string","example":"economic"},"pickup_latlon":{"type":"string","example":"23.4323456,-123.1234567"},"dropoff_latlon":{"type":"string","example":"23.4323456,-123.1234567"}}},"metadata":{"type":"object","properties":{}}}}}}},"charges":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_more":{"type":"boolean","example":false,"default":true},"total":{"type":"integer","example":1,"default":0},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"589026bbedbb6e56430016ad"},"object":{"type":"string","example":"charge"},"livemode":{"type":"boolean","example":false,"default":true},"created_at":{"type":"integer","example":1597069682,"default":0},"status":{"type":"string","example":"paid"},"amount":{"type":"integer","example":35000,"default":0},"paid_at":{"type":"integer","example":1485842112,"default":0},"currency":{"type":"string","example":"MXN"},"fee":{"type":"integer","example":1467,"default":0},"customer_id":{"type":"string","example":""},"order_id":{"type":"string","example":"ord_2fw8EWJusiRrxdPzT"},"payment_method":{"type":"object","properties":{"object":{"type":"string","example":"card_payment"},"type":{"type":"string","example":"credit"},"name":{"type":"string","example":"Jorge Lopez"},"exp_month":{"type":"string","example":"12"},"exp_year":{"type":"string","example":"19"},"auth_code":{"type":"string","example":"490884"},"last4":{"type":"string","example":"4242"},"brand":{"type":"string","example":"visa"},"issuer":{"type":"string","example":"BBVA"},"account_type":{"type":"string","example":""},"country":{"type":"string","example":"MX"}}}}}}}},"metadata":{"type":"object","properties":{}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n\t\"details\": [{\n\t\t\"debug_message\": \"El campo contiene caracteres incorrectos.\",\n\t\t\"message\": \"El campo contiene caracteres incorrectos.\",\n\t\t\"param\": \"shipping_contact.address.street1\",\n\t\t\"code\": \"conekta.errors.parameter_validation.checkout.bad_request\"\n\t}],\n\t\"object\": \"error\",\n\t\"type\": \"parameter_validation_error\",\n\t\"log_id\": \"62fe934141de2753067ddc3f\"\n}"}},"schema":{"type":"object","properties":{"details":{"type":"array","items":{"type":"object","properties":{"debug_message":{"type":"string","example":"El campo contiene caracteres incorrectos."},"message":{"type":"string","example":"El campo contiene caracteres incorrectos."},"param":{"type":"string","example":"shipping_contact.address.street1"},"code":{"type":"string","example":"conekta.errors.parameter_validation.checkout.bad_request"}}}},"object":{"type":"string","example":"error"},"type":{"type":"string","example":"parameter_validation_error"},"log_id":{"type":"string","example":"62fe934141de2753067ddc3f"}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"ruby","code":"order = Conekta::Order.find(\"ord_2fw8EWJusiRrxdPzT\")\norder.update({\n  currency: \"MXN\"\n})"},{"language":"curl","code":"curl -H \"Accept: application/vnd.conekta-v2.0.0+json\" \\\n-H \"Content-type: application/json\" \\\n-u key_eYvWV7gSDkNYXsmr: \\\n-X PUT -d '{\n  \"currency\": \"MXN\"\n}' https://api.conekta.io/orders/ord_2fw8EWJusiRrxdPzT"},{"language":"php","code":"$order = \\Conekta\\Order::find(\"ord_2fw8EWJusiRrxdPzT\");\n$order->update([\n  'currency' => 'MXN'\n]);"},{"language":"javascript","code":"conekta.Order.find(\"ord_2fw8EWJusiRrxdPzT\", function(err, order) {\n  order.update({\n    \"currency\": \"MXN\"\n  }, function(err, res) {\n    console.log(res.toObject());\n  });\n});"},{"language":"python","code":"order = conekta.Order.find(\"ord_2fw8EWJusiRrxdPzT\")\norder.update({\n  \"currency\": \"MXN\"\n})"},{"language":"java","code":"JSONObject data = new JSONObject(\"{'currency':'MXN'}\");\nOrder order = Order.find(\"ord_2fw8EWJusiRrxdPzT\");\norder.update(data);"},{"language":"csharp","code":"Order order = new Order().find(\"ord_2fw8EWJusiRrxdPzT\");\norder.update(@\"{\"\"currency\"\": \"\"MXN\"\"}\");"},{"language":"go","code":"import  (\n    conekta \"github.com/conekta/conekta-go\"\n    \"github.com/conekta/conekta-go/order\"\n)\n\norderParams := &conekta.OrderParams{}\norderParams.Currency = \"MXN\"\norder.Update(\"ord_2fw8EWJusiRrxdPzT\", orderParams)"}],"samples-languages":["ruby","curl","php","javascript","python","java","csharp","go"]}},"get":{"summary":"Obtener una orden","description":"Obtener los datos de una orden","operationId":"obtener-una-orden","parameters":[{"name":"order_id","in":"path","description":"Id del order a capturar","schema":{"type":"string"},"required":true},{"name":"Accept","in":"header","description":"El formato esperado de la respuesta, indicando la versión del render","schema":{"type":"string","default":"application/vnd.conekta-v2.0.0+json"}},{"name":"Content-Type","in":"header","description":"El formato de la petición, tiene que ser JSON","schema":{"type":"string","default":"application/json"}},{"name":"Accept-Language","in":"header","description":"Idioma de los mensajes de error","schema":{"type":"string","default":"en-us"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": \"ord_2fw8EWJusiRrxdPzT\",\n  \"object\": \"order\",\n  \"livemode\": false,\n  \"amount\": 35000,\n  \"amount_refunded\": 0,\n  \"payment_status\": \"paid\",\n  \"currency\": \"MXN\",\n  \"customer_info\": {\n    \"object\": \"customer_info\",\n    \"customer_id\": \"cus_zzmjKsnM9oacyCwV3\",\n    \"name\": \"Mario Perez\",\n    \"email\": \"usuario@example.com\",\n    \"phone\": \"+5215555555555\"\n  },\n  \"created_at\": 1600094116,\n  \"updated_at\": 1600094116,\n  \"line_items\": {\n    \"object\": \"list\",\n    \"has_more\": false,\n    \"total\": 1,\n    \"data\": [{\n      \"id\": \"line_item_2fw8EWJusiRrxdPzR\",\n      \"object\": \"line_item\",\n      \"name\": \"Box of Cohiba S1s\",\n      \"unit_price\": 35000,\n      \"quantity\": 1,\n      \"parent_id\": \"ord_2fw8EWJusiRrxdPzT\",\n      \"antifraud_info\": {},\n      \"metadata\": {}\n    }]\n  },\n  \"charges\": {\n    \"object\": \"list\",\n    \"has_more\": false,\n    \"total\": 1,\n    \"data\": [{\n      \"id\": \"589026bbedbb6e56430016ad\",\n      \"object\": \"charge\",\n      \"livemode\": false,\n      \"created_at\": 1600094116,\n      \"status\": \"paid\",\n      \"amount\": 35000,\n      \"paid_at\": 1485842112,\n      \"currency\": \"MXN\",\n      \"fee\": 1467,\n      \"customer_id\": \"\",\n      \"order_id\": \"ord_2fw8EWJusiRrxdPzT\",\n      \"payment_method\": {\n        \"object\": \"card_payment\",\n        \"type\": \"credit\",\n        \"name\": \"Jorge Lopez\",\n        \"exp_month\": \"12\",\n        \"exp_year\": \"19\",\n        \"auth_code\": \"490884\",\n        \"last4\": \"4242\",\n        \"brand\": \"visa\",\n        \"issuer\": \"\",\n        \"account_type\": \"\",\n        \"country\": \"MX\",\n        \"fraud_score\": 29,\n        \"fraud_indicators\": []\n      }\n    }]\n  },\n  \"metadata\": {}\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"ord_2fw8EWJusiRrxdPzT"},"object":{"type":"string","example":"order"},"livemode":{"type":"boolean","example":false,"default":true},"amount":{"type":"integer","example":35000,"default":0},"amount_refunded":{"type":"integer","example":0,"default":0},"payment_status":{"type":"string","example":"paid"},"currency":{"type":"string","example":"MXN"},"customer_info":{"type":"object","properties":{"object":{"type":"string","example":"customer_info"},"customer_id":{"type":"string","example":"cus_zzmjKsnM9oacyCwV3"},"name":{"type":"string","example":"Mario Perez"},"email":{"type":"string","example":"usuario@example.com"},"phone":{"type":"string","example":"+5215555555555"}}},"created_at":{"type":"integer","example":1600094116,"default":0},"updated_at":{"type":"integer","example":1600094116,"default":0},"line_items":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_more":{"type":"boolean","example":false,"default":true},"total":{"type":"integer","example":1,"default":0},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"line_item_2fw8EWJusiRrxdPzR"},"object":{"type":"string","example":"line_item"},"name":{"type":"string","example":"Box of Cohiba S1s"},"unit_price":{"type":"integer","example":35000,"default":0},"quantity":{"type":"integer","example":1,"default":0},"parent_id":{"type":"string","example":"ord_2fw8EWJusiRrxdPzT"},"antifraud_info":{"type":"object","properties":{}},"metadata":{"type":"object","properties":{}}}}}}},"charges":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_more":{"type":"boolean","example":false,"default":true},"total":{"type":"integer","example":1,"default":0},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"589026bbedbb6e56430016ad"},"object":{"type":"string","example":"charge"},"livemode":{"type":"boolean","example":false,"default":true},"created_at":{"type":"integer","example":1600094116,"default":0},"status":{"type":"string","example":"paid"},"amount":{"type":"integer","example":35000,"default":0},"paid_at":{"type":"integer","example":1485842112,"default":0},"currency":{"type":"string","example":"MXN"},"fee":{"type":"integer","example":1467,"default":0},"customer_id":{"type":"string","example":""},"order_id":{"type":"string","example":"ord_2fw8EWJusiRrxdPzT"},"payment_method":{"type":"object","properties":{"object":{"type":"string","example":"card_payment"},"type":{"type":"string","example":"credit"},"name":{"type":"string","example":"Jorge Lopez"},"exp_month":{"type":"string","example":"12"},"exp_year":{"type":"string","example":"19"},"auth_code":{"type":"string","example":"490884"},"last4":{"type":"string","example":"4242"},"brand":{"type":"string","example":"visa"},"issuer":{"type":"string","example":""},"account_type":{"type":"string","example":""},"country":{"type":"string","example":"MX"},"fraud_score":{"type":"integer","example":29,"default":0},"fraud_indicators":{"type":"array"}}}}}}}},"metadata":{"type":"object","properties":{}}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n\t\"details\": [{\n\t\t\"debug_message\": \"The object order \\\"ord_2fw8EWJusiRrxdPzT\\\" could not be found.\",\n\t\t\"message\": \"El recurso no ha sido encontrado.\",\n\t\t\"code\": \"conekta.errors.resource_not_found.entity\"\n\t}],\n\t\"object\": \"error\",\n\t\"type\": \"resource_not_found_error\",\n\t\"log_id\": \"62fd142214c6920508443072\"\n}"}},"schema":{"type":"object","properties":{"details":{"type":"array","items":{"type":"object","properties":{"debug_message":{"type":"string","example":"The object order \"ord_2fw8EWJusiRrxdPzT\" could not be found."},"message":{"type":"string","example":"El recurso no ha sido encontrado."},"code":{"type":"string","example":"conekta.errors.resource_not_found.entity"}}}},"object":{"type":"string","example":"error"},"type":{"type":"string","example":"resource_not_found_error"},"log_id":{"type":"string","example":"62fd142214c6920508443072"}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl --location --request GET 'https://api.conekta.io/orders/ord_2oDSZ7p4fq3G5gdMM' \\\n--header 'Accept: application/vnd.conekta-v2.0.0+json' \\\n--header 'Content-Type: application/json; charset=utf-8' \\\n-u key_xxxxxxxxxxxxxx:"},{"language":"javascript","code":"conekta.Order.find(\"ord_2fw8EWJusiRrxdPzT\", function(err, customer) {\n  console.log(\"Found\");\n});"},{"language":"ruby","code":"order = Conekta::Order.find('ord_2fw8EWJusiRrxdPzT')"},{"language":"php","code":"$order = \\Conekta\\Order::find('ord_2fw8EWJusiRrxdPzT');"},{"language":"python","code":"order = conekta.Order.find('ord_2fw8EWJusiRrxdPzT')"},{"language":"java","code":"ConektaOrder order = Order.find(\"ord_2fw8EWJusiRrxdPzT\");"},{"language":"csharp","code":"Order order = new Order().find(\"ord_2fw8EWJusiRrxdPzT\");"},{"language":"go","code":"import  (\n    conekta \"github.com/conekta/conekta-go\"\n    conektaOrder \"github.com/conekta/conekta-go/order\"\n)\n\nconekta.APIKey = \"key_ZLy4aP2szht1HqzkCezDEA\"\nconektaOrder.Create(\"ord_2fw8EWJusiRrxdPzT\")"}],"samples-languages":["curl","javascript","ruby","php","python","java","csharp","go"]}}},"/orders/{order_id}/capture":{"post":{"summary":"Capturar Orden","description":"Procesa una orden que ha sido previamente autorizada.","operationId":"capturar-orden","parameters":[{"name":"order_id","in":"path","description":"Id del order a capturar","schema":{"type":"string"},"required":true},{"name":"Accept","in":"header","description":"El formato esperado de la respuesta, indicando la versión del render","required":true,"schema":{"type":"string","default":"application/vnd.conekta-v2.0.0+json"}},{"name":"Content-Type","in":"header","description":"El formato de la petición, tiene que ser JSON","required":true,"schema":{"type":"string","default":"application/json"}},{"name":"Accept-Language","in":"header","description":"Idioma de los mensajes de error","schema":{"type":"string","default":"en-us"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  id: \"ord_2fw8EWJusiRrxdPzT\",\n  object: \"order\",\n  livemode: false,\n  amount: 35000,\n  amount_refunded: 0,\n  payment_status: \"paid\",\n  currency: \"MXN\",\n  customer_info: {\n    object: \"customer_info\",\n    customer_id: \"cus_zzmjKsnM9oacyCwV3\",\n    name: \"Mario Perez\",\n    email: \"usuario@example.com\",\n    phone: \"+5215555555555\",\n  },\n  created_at: 1597069683,\n  updated_at: 1597069683,\n  line_items: {\n    object: \"list\",\n    has_more: false,\n    total: 1,\n    data: [{\n      id: \"line_item_2fw8EWJusiRrxdPzR\",\n      object: \"line_item\",\n      name: \"Box of Cohiba S1s\",\n      unit_price: 35000,\n      quantity: 1,\n      parent_id: \"ord_2fw8EWJusiRrxdPzT\",\n      metadata: {}\n    }]\n  },\n  charges: {\n    object: \"list\",\n    has_more: false,\n    total: 1,\n    data: [{\n      id: \"589026bbedbb6e56430016ad\",\n      object: \"charge\",\n      livemode: false,\n      created_at: 1597069683,\n      status: \"paid\",\n      amount: 35000,\n      paid_at: 1485842112,\n      currency: \"MXN\",\n      fee: 1467,\n      customer_id: \"\",\n      order_id: \"ord_2fw8EWJusiRrxdPzT\",\n      payment_method: {\n        object: \"card_payment\",\n        type: \"credit\",\n        name: \"Jorge Lopez\",\n        exp_month: \"12\",\n        exp_year: \"19\",\n        auth_code: \"490884\",\n        last4: \"4242\",\n        brand: \"visa\",\n        issuer: \"\",\n        account_type: \"\",\n        country: \"MX\",\n        fraud_score: 29,\n        fraud_indicators: []\n      }\n    }]\n  },\n  metadata: {}\n}"}}}}},"402":{"description":"402","content":{"application/json":{"examples":{"Result":{"value":"{\n\t\"details\": [{\n\t\t\"debug_message\": \"There was a processing error. Please try again.\",\n\t\t\"message\": \"La tarjeta ingresada ha sido declinada. Por favor intenta con otro método de pago.\",\n\t\t\"code\": \"conekta.errors.processing.bank.general_error\"\n\t}],\n\t\"object\": \"error\",\n\t\"type\": \"processing_error\",\n\t\"log_id\": \"62fd04c4fb7dfd28118b6d83\"\n}"}},"schema":{"type":"object","properties":{"details":{"type":"array","items":{"type":"object","properties":{"debug_message":{"type":"string","example":"There was a processing error. Please try again."},"message":{"type":"string","example":"La tarjeta ingresada ha sido declinada. Por favor intenta con otro método de pago."},"code":{"type":"string","example":"conekta.errors.processing.bank.general_error"}}}},"object":{"type":"string","example":"error"},"type":{"type":"string","example":"processing_error"},"log_id":{"type":"string","example":"62fd04c4fb7dfd28118b6d83"}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"ruby","code":"order = Conekta::Order.find(\"ord_2fw8EWJusiRrxdPzT\")\norder.authorize_capture()"},{"language":"curl","code":"curl -H \"Accept: application/vnd.conekta-v2.0.0+json\" \\\n     -H \"Content-type: application/json\" \\\n     -u key_eYvWV7gSDkNYXsmr: \\\n     -X POST https://api.conekta.io/orders/ord_2fw8EWJusiRrxdPzT/capture"},{"language":"php","code":"$order = \\Conekta\\Order::find(\"ord_2fw8EWJusiRrxdPzT\")\n$order->capture();"},{"language":"javascript","code":"conekta.Order.find('ord_2fw8EWJusiRrxdPzT', function (err, order) {\n  if (err) {\n    console.log(err);\n    return;\n  }\n  order.capture(function (errCapture, capture) {\n    console.log('errCapture', errCapture);\n    console.log('capture', capture);\n  });\n});"},{"language":"python","code":"conekta.Order.find('ord_2fw8EWJusiRrxdPzT', function (err, order) {\n  if (err) {\n    console.log(err);\n    return;\n  }\n  order.capture(function (errCapture, capture) {\n    console.log('errCapture', errCapture);\n    console.log('capture', capture);\n  });\n});"},{"language":"java","code":"Order order = Order.find(\"ord_2fw8EWJusiRrxdPzT\");\norder.capture();"},{"language":"csharp","code":"Order order = new Order().find(\"ord_2fw8EWJusiRrxdPzT\");\norder.capture();"},{"language":"go","code":"import  (\n    conekta \"github.com/conekta/conekta-go\"\n    \"github.com/conekta/conekta-go/order\"\n)\n\norder.Capture(\"ord_2fw8EWJusiRrxdPzT\")"}],"samples-languages":["ruby","curl","php","javascript","python","java","csharp","go"]}}},"/orders/{order_id}/refunds":{"post":{"summary":"Reembolsar Orden","description":"Una orden reembolsada describe los artículos, monto y razón por la que una orden está siendo reembolsada.","operationId":"reembolsar-orden","parameters":[{"name":"order_id","in":"path","description":"Id del order a reembolsar","schema":{"type":"string"},"required":true},{"name":"Accept","in":"header","description":"El formato esperado de la respuesta, indicando la versión del render","schema":{"type":"string","default":"application/vnd.conekta-v2.0.0+json"}},{"name":"Content-Type","in":"header","description":"El formato de la petición, tiene que ser JSON","schema":{"type":"string","default":"application/json"}},{"name":"Accept-Language","in":"header","description":"Idioma de los mensajes de error","schema":{"type":"string","default":"en-us"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"reason":{"type":"string","description":"Motivo del reembolso, puede ser `requested_by_client`, `cannot_be_fulfilled`, `duplicated_transaction`, `suspected_fraud`, `other`"},"amount":{"type":"string","description":"Monto a reembolsar en caso de reembolso parcial"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  id: \"ord_2fw8EWJusiRrxdPzT\",\n  object: \"order\",\n  livemode: false,\n  amount: 35000,\n  amount_refunded: 15000,\n  payment_status: \"partially_refunded\",\n  currency: \"MXN\",\n  customer_info: {\n    object: \"customer_info\",\n    customer_id: \"cus_zzmjKsnM9oacyCwV3\",\n    name: \"Mario Perez\",\n    email: \"usuario@example.com\",\n    phone: \"+5215555555555\",\n  },\n  created_at: 1597069683,\n  updated_at: 1597069683,\n  line_items: {\n    object: \"list\",\n    has_more: false,\n    total: 1,\n    data: [{\n      id: \"line_item_2fw8EWJusiRrxdPzR\",\n      object: \"line_item\",\n      name: \"Box of Cohiba S1s\",\n      unit_price: 35000,\n      quantity: 1,\n      parent_id: \"ord_2fw8EWJusiRrxdPzT\",\n      metadata: {}\n    }]\n  },\n  charges: {\n    object: \"list\",\n    has_more: false,\n    total: 1,\n    data: [{\n      id: \"589026bbedbb6e56430016ad\",\n      object: \"charge\",\n      livemode: false,\n      created_at: 1597069683,\n      status: \"partially_refunded\",\n      amount: 35000,\n      paid_at: 1485842112,\n      currency: \"MXN\",\n      fee: 1467,\n      customer_id: \"\",\n      order_id: \"ord_2fw8EWJusiRrxdPzT\",\n      payment_method: {\n        object: \"card_payment\",\n        type: \"credit\",\n        name: \"Jorge Lopez\",\n        exp_month: \"12\",\n        exp_year: \"19\",\n        auth_code: \"490884\",\n        last4: \"4242\",\n        brand: \"visa\",\n        issuer: \"\",\n        account_type: \"\",\n        country: \"MX\",\n      }\n      refunds: {\n        object: \"list\",\n        has_more: false,\n        total: 1,\n        data: [{\n          id: \"58b8b111edbb6e799eef7743\",\n          object: \"refund\",\n          amount: -15000,\n          auth_code: \"411021\",\n          created_at: 1597069683\n        }]\n      }\n    }]\n  },\n  metadata: {}\n}"}}}}},"402":{"description":"402","content":{"application/json":{"examples":{"Result":{"value":"{\n\t\"details\": [{\n\t\t\"debug_message\": \"Your account does not have enough balance to perform this refund.\",\n\t\t\"message\": \"No tienes saldo sufficiente para realizar este devolución.\",\n\t\t\"code\": \"conekta.errors.processing.charge_operations.refund.insufficient_balance\"\n\t}],\n\t\"object\": \"error\",\n\t\"type\": \"processing_error\",\n\t\"log_id\": \"62fe8c6514c6924e81c973a6\"\n}"}},"schema":{"type":"object","properties":{"details":{"type":"array","items":{"type":"object","properties":{"debug_message":{"type":"string","example":"Your account does not have enough balance to perform this refund."},"message":{"type":"string","example":"No tienes saldo sufficiente para realizar este devolución."},"code":{"type":"string","example":"conekta.errors.processing.charge_operations.refund.insufficient_balance"}}}},"object":{"type":"string","example":"error"},"type":{"type":"string","example":"processing_error"},"log_id":{"type":"string","example":"62fe8c6514c6924e81c973a6"}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"ruby","code":"order = Conekta::Order.find(\"ord_2fw8LMoXP8BeVLcVn\")\norder.refund({\n  reason: 'requested_by_client',\n  amount: 15000\n})"},{"language":"curl","code":"curl -H \"Accept: application/vnd.conekta-v2.0.0+json\" \\\n     -H \"Content-type: application/json\" \\\n     -u key_eYvWV7gSDkNYXsmr: \\\n     -X POST -d '{\n          \"amount\": 15000,\n          \"reason\": \"requested_by_client\"\n        }' https://api.conekta.io/orders/ord_2fw8EWJusiRrxdPzT/refunds"},{"language":"php","code":"$order = \\Conekta\\Order::find(\"ord_2fw8EWJusiRrxdPzT\")\n$order->refund([\n  'reason' => 'requested_by_client',\n  'amount' => 15000\n])"},{"language":"javascript","code":"conekta.Order.find(\"ord_2fw8EWJusiRrxdPzT\", function(err, order) {\n  order.createRefund({\n    \"reason\": \"requested_by_client\",\n    \"amount\": 1000\n  }, function(err, res) {\n    console.log(res);\n  });\n});"},{"language":"python","code":"order = conekta.Order.find(\"ord_2fw8EWJusiRrxdPzT\")\norder.refund({\n  \"reason\": \"requested_by_client\",\n  \"amount\": 15000\n})"},{"language":"java","code":"Order order = Order.find(\"ord_2fw8EWJusiRrxdPzT\");\nJSONObject validRefund = new JSONObject(\"{\"\n  + \"'amount': 15000,\"\n  + \"'reason': 'requested_by_client'\"\n+ \"}\");\n\norder.refund(validRefund);"},{"language":"csharp","code":"Order order = new Order().find(\"ord_2fw8EWJusiRrxdPzT\");\n\norder.refund(@\"{\n  \"\"reason\"\": \"requested_by_client\",\n  \"\"amount\"\": 15000\n}\");"},{"language":"go","code":"import  (\n    conekta \"github.com/conekta/conekta-go\"\n    \"github.com/conekta/conekta-go/order\"\n)\n\norderRefund := &conekta.OrderRefundParams{}\norderRefund.Reason = \"\"\norderRefund.Amount = 1500\norder.Refund(\"ord_2fw8EWJusiRrxdPzT\", orderRefund)"}],"samples-languages":["ruby","curl","php","javascript","python","java","csharp","go"]}}},"/checkouts":{"post":{"summary":"Crear Link de Pago Único","description":"Crea un nuevo link de pago.","operationId":"crearlink-de-pago","parameters":[{"name":"accept","in":"header","schema":{"type":"string","default":"application/vnd.conekta-v2.0.0+json"}},{"name":"content-type","in":"header","schema":{"type":"string","default":"application/json"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Motivo de cobro."},"type":{"type":"string","description":"Este campo representa el tipo de checkout, podría ser PaymentLink.","default":"PaymentLink"},"recurrent":{"type":"boolean","description":"false: un solo uso.  true: multiples pagos.","default":false},"expires_at":{"type":"integer","description":"(32-bit unix timestamp). Timestamp de la fecha de expiración del link de pago. El rango válido es de 2 a 365 días (el rango válido se tomará a partir del siguiente día de fecha de creación a las 00:01 hrs)","format":"int32"},"allowed_payment_methods":{"type":"array","description":"Son los métodos de pago disponibles para este link.","items":{"type":"string"}},"needs_shipping_contact":{"type":"boolean","description":"Esta bandera permite llenar la información de envío en el checkout."},"monthly_installments_enabled":{"type":"boolean","description":"Esta bandera permite especificar si estará activo meses sin intereses."},"monthly_installments_options":{"type":"array","description":"Indicar los meses sin intereses activos, por ejemplo 3, 6, 9, 12, 18 meses.","items":{"type":"integer","format":"int32"}},"order_template":{"type":"array","description":"Mantiene los atributos con los cuales se creará la orden al recibir un nuevo pago.","items":{"type":"string"}},"line_items":{"type":"array","description":"Son los productos a comprar. Cada uno contiene los parámetros  \"unit price\" y \"quantity\" que se usan para calcular el monto total de la orden.","items":{"type":"string"}},"customer_info":{"type":"array","description":"La información del customer: email, name y phone.","items":{"properties":{}}},"metadata":{"type":"array","description":"Es un hash de tipo llave/valor que puede mantener campos custom. Máximo 100 elementos y permite caracteres especiales."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"security":[],"x-readme":{"code-samples":[{"language":"curl","code":"curl --location --request POST 'https://api.conekta.io/checkouts' \\\n--header 'accept: application/vnd.conekta-v2.0.0+json' \\\n--header 'content-type: application/json' \\\n-u key_xxxxxxxxxxxxxx: \\\n--data-raw '{\n    \"name\": \"Payment Link Name\",\n    \"type\": \"PaymentLink\",\n    \"recurrent\": false,\n    \"expires_at\": 1667672958,\n    \"allowed_payment_methods\": [\"cash\", \"card\"],\n    \"needs_shipping_contact\": false,\n    \"monthly_installments_enabled\": true,\n    \"monthly_installments_options\": [3, 6, 9, 12],\n    \"order_template\": {\n        \"line_items\": [{\n            \"name\": \"Red Wine\",\n            \"unit_price\": 500000,\n            \"quantity\": 1\n        }],\n        \"currency\": \"MXN\",\n        \"customer_info\": {\n            \"name\": \"Juan Perez\",\n            \"email\": \"juan.perez@conekta.com\",\n            \"phone\": \"5566982090\"\n        }\n    }\n }'"}],"samples-languages":["curl"]}},"get":{"summary":"Obtener lista de links creados","description":"Regresa una lista de links generados por el merchant","operationId":"obtener-lista-de-links-creados","parameters":[{"name":"accept","in":"header","schema":{"type":"string","default":"application/vnd.conekta-v2.0.0+json"}},{"name":"content-type","in":"header","schema":{"type":"string","default":"application/json"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"RAW_BODY":{"type":"string"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"security":[],"x-readme":{"code-samples":[{"language":"curl","code":"curl --location --request GET 'https://api.conekta.io/checkouts' \\\n--header 'accept: application/vnd.conekta-v2.0.0+json' \\\n--header 'content-type: application/json' \\\n-u key_xxxxxxxxxxxxxx: \\\n--data-raw '{}'"}],"samples-languages":["curl"]}}},"/orders/{order_id}/charges":{"post":{"summary":"Crear Cargo","description":"Crea un cargo nuevo para una orden existente.","operationId":"crear-cargo","parameters":[{"name":"order_id","in":"path","description":"Id del order a capturar","schema":{"type":"string","default":"ord_2fw8EWJusiRrxdPzT"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["payment_method"],"properties":{"reference_id":{"type":"string","description":"Referencia custom para agregar al cargo"},"payment_method":{"type":"object","description":"Método de pago utilizado en el cargo. Ve a la sección de [métodos de pago ](https://developers.conekta.com/reference/m%C3%A9todos-de-pago)para más detalles","required":["type"],"properties":{"type":{"type":"string","description":"Tipo de pago, puede ser 'default', 'card', 'cash' y 'spei'","default":"default","enum":["default","card","cash","spei"]},"token_id":{"type":"string","description":"Id del token asociado, en caso que sea un cobro de tarjeta y sin customer_id"}}},"expires_at":{"type":"integer","description":"Fecha de expiración del método como unix timestamp","format":"int32"},"monthly_installments":{"type":"string","description":"Cuantos meses sin intereses a aplicar, puede ser 3, 6, 9, 12 o 18","enum":["3","6","9","12","18"]}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n\t\"id\": \"589026bbedbb6e56430016ad\",\n\t\"object\": \"charge\",\n\t\"livemode\": false,\n\t\"created_at\": 1597069682,\n\t\"status\": \"paid\",\n\t\"amount\": 35000,\n\t\"paid_at\": 1485842112,\n\t\"currency\": \"MXN\",\n\t\"fee\": 1467,\n\t\"customer_id\": \"\",\n\t\"order_id\": \"ord_2fw8EWJusiRrxdPzT\",\n\t\"payment_method\": {\n\t\t\"object\": \"card_payment\",\n\t\t\"type\": \"credit\",\n\t\t\"name\": \"Jorge Lopez\",\n\t\t\"exp_month\": \"12\",\n\t\t\"exp_year\": \"19\",\n\t\t\"auth_code\": \"490884\",\n\t\t\"last4\": \"4242\",\n\t\t\"brand\": \"visa\",\n\t\t\"issuer\": \"BBVA\",\n\t\t\"account_type\": \"\",\n\t\t\"country\": \"MX\"\n\t}\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"589026bbedbb6e56430016ad"},"object":{"type":"string","example":"charge"},"livemode":{"type":"boolean","example":false,"default":true},"created_at":{"type":"integer","example":1597069682,"default":0},"status":{"type":"string","example":"paid"},"amount":{"type":"integer","example":35000,"default":0},"paid_at":{"type":"integer","example":1485842112,"default":0},"currency":{"type":"string","example":"MXN"},"fee":{"type":"integer","example":1467,"default":0},"customer_id":{"type":"string","example":""},"order_id":{"type":"string","example":"ord_2fw8EWJusiRrxdPzT"},"payment_method":{"type":"object","properties":{"object":{"type":"string","example":"card_payment"},"type":{"type":"string","example":"credit"},"name":{"type":"string","example":"Jorge Lopez"},"exp_month":{"type":"string","example":"12"},"exp_year":{"type":"string","example":"19"},"auth_code":{"type":"string","example":"490884"},"last4":{"type":"string","example":"4242"},"brand":{"type":"string","example":"visa"},"issuer":{"type":"string","example":"BBVA"},"account_type":{"type":"string","example":""},"country":{"type":"string","example":"MX"}}}}}}}},"402":{"description":"402","content":{"application/json":{"examples":{"Result":{"value":"{\n\t\"details\": [{\n\t\t\"debug_message\": \"The transaction is not allowed for this card.\",\n\t\t\"message\": \"Esta transacción no está permitida para esta tarjeta.\",\n\t\t\"code\": \"conekta.errors.processing.bank.invalid_transaction\"\n\t}],\n\t\"object\": \"error\",\n\t\"type\": \"processing_error\",\n\t\"log_id\": \"62fbd86a41de2703f4c234cb\"\n}"}},"schema":{"type":"object","properties":{"details":{"type":"array","items":{"type":"object","properties":{"debug_message":{"type":"string","example":"The transaction is not allowed for this card."},"message":{"type":"string","example":"Esta transacción no está permitida para esta tarjeta."},"code":{"type":"string","example":"conekta.errors.processing.bank.invalid_transaction"}}}},"object":{"type":"string","example":"error"},"type":{"type":"string","example":"processing_error"},"log_id":{"type":"string","example":"62fbd86a41de2703f4c234cb"}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl -H \"Accept: application/vnd.conekta-v2.0.0+json\" \\\n     -H \"Content-type: application/json\" \\\n     -u key_eYvWV7gSDkNYXsmr: \\\n     -X POST -d '{\n       \"payment_method\": {\n         \"type\":       \"oxxo_cash\",\n           \"expires_at\": 1599661683\n       }\n    }' https://api.conekta.io/orders/ord_2fw8EWJusiRrxdPzT/charges"},{"language":"javascript","code":"conekta.Order.find(\"ord_2fw8EWJusiRrxdPzT\", function(err, order) {\n    order.createCharge({\n    \"payment_method\": {\n      \"type\": \"oxxo_cash\",\n      \"expires_at\": 1599661683\n    }\n  }, function(err, charge) {\n        console.log(charge);\n    });\n});"},{"language":"ruby","code":"order  = Conekta::Order.find(\"ord_2fw8EWJusiRrxdPzT\")\ncharge = order.create_charge({\n    payment_method: {\n      type: \"oxxo_cash\",\n      expires_at: 1599661683\n    }\n})"},{"language":"php","code":"$order  = \\Conekta\\Order::find(\"ord_2fw8EWJusiRrxdPzT\");\n$charge = $order->createCharge(\n   [\n      'payment_method' => [\n        'type' => 'oxxo_cash',\n        'expires_at' => 1599661683\n      ]\n   ]\n);"},{"language":"python","code":"order  = conekta.Order.find(\"ord_2fw8EWJusiRrxdPzT\")\ncharge = order.create_charge({\n    payment_method: {\n      type: \"oxxo_cash\",\n      expires_at: 1599661683\n    }\n})"},{"language":"java","code":"JSONObject data = new JSONObject(\"{\"\n  + \"'payment_method': {\"\n    + \"'type': 'oxxo_cash',\"\n    + \"'expires_at': 1599661683\"\n  + \"}\"\n+\"}\");\n\nOrder order = Order.find(\"ord_2fw8EWJusiRrxdPzT\");\nCharge charge = order.createCharge(data);"},{"language":"csharp","code":"Charge charge = order.createCharge(@\"{\n    \"\"payment_method\"\": {\n        \"\"type\"\": \"\"oxxo_cash\"\",\n        \"\"expires_at\"\": 1599661683\n    }\n}\");"},{"language":"go","code":"import  (\n    conekta \"github.com/conekta/conekta-go\"\n    \"github.com/conekta/conekta-go/charge\"\n)\n\nchargeParams := &conekta.ChargeParams{\n    PaymentMethod: &conekta.PaymentMethodParams{\n        Type:    \"card\",\n        TokenID: \"tok_test_visa_4242\",\n    }, \n}\n\ncharge.Create(\"ord_2nBZ4a8tNqxo2uQk6\", chargeParams)"}],"samples-languages":["curl","javascript","ruby","php","python","java","csharp","go"]}},"get":{"summary":"Obtener los cargos de una orden","description":"","operationId":"obtener-los-cargos-de-una-orden","parameters":[{"name":"Accept","in":"header","description":"El formato esperado de la respuesta, indicando la versión del render","required":true,"schema":{"type":"string","default":"application/vnd.conekta-v2.0.0+json"}},{"name":"Content-Type","in":"header","description":"El formato de la petición, tiene que ser JSON","required":true,"schema":{"type":"string","default":"application/json"}},{"name":"Accept-Language","in":"header","description":"Idioma de los mensajes de error","schema":{"type":"string","default":"en-us"}},{"name":"order_id","in":"path","description":"El id de la order","schema":{"type":"string","default":"ord_2fw8EWJusiRrxdPzT"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"has_more\": false,\n    \"total\": 1,\n    \"object\": \"list\",\n    \"data\": [\n        {\n          id: \"589026bbedbb6e56430016ad\",\n          object: \"charge\",\n          status: \"pending_payment\",\n          amount: 35000,\n          fee: 1279,\n          reference_id: \"Tracking number: 54323456\",\n          order_id: \"ord_2fw8EWJusiRrxdPzT\",\n          livemode: false,\n          created_at: 1597069683,\n          currency: \"MXN\",\n          payment_method: {\n              service_name: \"OxxoPay\",\n              object: \"cash_payment\",\n              type: \"oxxo\",\n              expires_at: 1599661683,\n              store_name: \"OXXO\",\n              reference: \"93345678901234\"\n          }\n      }\n    ]\n}"}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n\t\"details\": [{\n\t\t\"debug_message\": \"The object order \\\"ord_2fw8EWJusiRrxdPzT\\\" could not be found.\",\n\t\t\"message\": \"El recurso no ha sido encontrado.\",\n\t\t\"code\": \"conekta.errors.resource_not_found.entity\"\n\t}],\n\t\"object\": \"error\",\n\t\"type\": \"resource_not_found_error\",\n\t\"log_id\": \"62fd142214c6920508443072\"\n}"}},"schema":{"type":"object","properties":{"details":{"type":"array","items":{"type":"object","properties":{"debug_message":{"type":"string","example":"The object order \"ord_2fw8EWJusiRrxdPzT\" could not be found."},"message":{"type":"string","example":"El recurso no ha sido encontrado."},"code":{"type":"string","example":"conekta.errors.resource_not_found.entity"}}}},"object":{"type":"string","example":"error"},"type":{"type":"string","example":"resource_not_found_error"},"log_id":{"type":"string","example":"62fd142214c6920508443072"}}}}}}},"deprecated":false}},"/orders/{order_id}/shipping_lines":{"post":{"summary":"Crear Envío","description":"Crea un nuevo Envío para una orden.","operationId":"crear-envío","parameters":[{"name":"order_id","in":"path","description":"El id del orden","schema":{"type":"string","default":"ord_2fw8EWJusiRrxdPzT"},"required":true},{"name":"Accept","in":"header","description":"El formato esperado de la respuesta, indicando la versión del render","required":true,"schema":{"type":"string","default":"application/vnd.conekta-v2.0.0+json"}},{"name":"Content-Type","in":"header","description":"El formato de la petición, tiene que ser JSON","required":true,"schema":{"type":"string","default":"application/json"}},{"name":"Accept-Language","in":"header","description":"Idioma de los mensajes de error","schema":{"type":"string","default":"es-mx"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["amount","carrier"],"properties":{"amount":{"type":"integer","description":"El precio del envío en centavos","format":"int32"},"tracking_number":{"type":"string","description":"Número de rastreo que el proveedor de envios proporciona."},"carrier":{"type":"string","description":"Nombre del proveedor de envío"},"method":{"type":"string","description":"Método de envío"},"metadata":{"type":"object","description":"Hash en donde el usuario puede enviar información adicional por cada 'shipping_line'.","properties":{}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n\t\"amount\": 0,\n\t\"carrier\": \"Fedex\",\n\t\"method\": \"Airplane\",\n\t\"tracking_number\": \"TRACK123\",\n\t\"object\": \"shipping_line\",\n\t\"id\": \"ship_lin_2sLxi45ZFs1GHJmzx\",\n\t\"parent_id\": \"ord_2sLxi3MqYFJ1QfTmP\"\n}"}},"schema":{"type":"object","properties":{"amount":{"type":"integer","example":0,"default":0},"carrier":{"type":"string","example":"Fedex"},"method":{"type":"string","example":"Airplane"},"tracking_number":{"type":"string","example":"TRACK123"},"object":{"type":"string","example":"shipping_line"},"id":{"type":"string","example":"ship_lin_2sLxi45ZFs1GHJmzx"},"parent_id":{"type":"string","example":"ord_2sLxi3MqYFJ1QfTmP"}}}}}},"422":{"description":"422","content":{"application/json":{"examples":{"Result":{"value":"{\n\t\"details\": [{\n\t\t\"debug_message\": \"The \\\"name\\\" is missing.\",\n\t\t\"message\": \"El parametro \\\"name\\\" es requerido.\",\n\t\t\"param\": \"name\",\n\t\t\"code\": \"conekta.errors.parameter_validation.name.missing\"\n\t}],\n\t\"object\": \"error\",\n\t\"type\": \"parameter_validation_error\",\n\t\"log_id\": \"62ffbe2a0211a668806b394c\"\n}"}},"schema":{"type":"object","properties":{"details":{"type":"array","items":{"type":"object","properties":{"debug_message":{"type":"string","example":"The \"name\" is missing."},"message":{"type":"string","example":"El parametro \"name\" es requerido."},"param":{"type":"string","example":"name"},"code":{"type":"string","example":"conekta.errors.parameter_validation.name.missing"}}}},"object":{"type":"string","example":"error"},"type":{"type":"string","example":"parameter_validation_error"},"log_id":{"type":"string","example":"62ffbe2a0211a668806b394c"}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl -H \"Accept: application/vnd.conekta-v2.0.0+json\" \\\n-H \"Content-type: application/json\" \\\n-u key_eYvWV7gSDkNYXsmr: \\\n-X POST -d '{\n    \"description\": \"Free Shipping\",\n    \"amount\": 0,\n    \"tracking_number\": \"TRACK123\",\n    \"carrier\": \"Fedex\",\n    \"method\": \"Airplane\"\n}' https://api.conekta.io/orders/ord_2fw8EWJusiRrxdPzT/shipping_lines"},{"language":"javascript","code":"conekta.Order.find(\"ord_2fw8EWJusiRrxdPzT\", function(err, order) {\n    order.createShippingLine({\n        \"amount\": 0,\n        \"tracking_number\": \"TRACK123\",\n        \"carrier\": \"Fedex\",\n        \"method\": \"Airplane\"\n    }, function (err, shippingLine) {\n        console.log(shippingLine);\n    });\n});"},{"language":"ruby","code":"order  = Conekta::Order.find(\"ord_2fw8EWJusiRrxdPzT\")\norder.create_shipping_line({\n  amount: 0,\n  tracking_number: \"TRACK123\",\n  carrier: \"Fedex\",\n  method: \"Airplane\"\n})"},{"language":"php","code":"$order = \\Conekta\\Order::find(\"ord_2fw8EWJusiRrxdPzT\");\n$order->createShippingLine([\n  'amount' => 0,\n  'tracking_number' => 'TRACK123',\n  'carrier' => 'Fedex',\n  'method'  => 'Airplane'\n]);"},{"language":"python","code":"order = conekta.order.find(\"ord_2fw8EWJusiRrxdPzT\")\norder.createShippingLine({\n  \"amount\": 0,\n  \"tracking_number\": \"TRACK123\",\n  \"carrier\": \"Fedex\",\n  \"method\": \"Airplane\"\n})"},{"language":"java","code":"Order order = Order.find(\"ord_2fw8EWJusiRrxdPzT\");\nJSONObject shippingLineParams = new JSONObject(\"{\"\n  + \"'description': 'Free Shipping',\"\n  + \"'amount': 0,\"\n  + \"'tracking_number': 'TRACK123',\"\n  + \"'carrier': 'USPS',\"\n  + \"'method': 'Train'\"\n+ \"}\");\n\norder.createShippingLine(shippingLineParams);"},{"language":"csharp","code":"order = new Order().find(\"ord_2fw8EWJusiRrxdPzT\");\norder.createShippingLine(@\"{\n  \"\"amount\"\": 0,\n  \"\"tracking_number\"\": \"\"TRACK123\"\",\n  \"\"carrier\"\": \"\"Fedex\"\",\n  \"\"method\"\": \"\"Airplane\"\"\n}\");"},{"language":"go","code":"import  (\n    conekta \"github.com/conekta/conekta-go\"\n    \"github.com/conekta/conekta-go/shippinglines\"\n)\n\nshippingLinesParams := &conekta.ShippingLinesParams{\n    Amount:    00,\n    TrackingNumber: \"TRACK123\",\n    Carrier: \"Fedex\",\n    Method: \"Airplane\", \n}\nshippinglines.Create(\"ord_2fw8EWJusiRrxdPzT\", shippingLinesParams)"}],"samples-languages":["curl","javascript","ruby","php","python","java","csharp","go"]}}},"/customers/{customer_id}/payment_sources":{"post":{"summary":"Crear Método de Pago","description":"Crea un nuevo Método de Pago","operationId":"tes","parameters":[{"name":"customer_id","in":"path","description":"Id del customer","schema":{"type":"string","default":"cus_zzmjKsnM9oacyCwV3"},"required":true},{"name":"Accept","in":"header","description":"El formato esperado de la respuesta, indicando la versión del render","required":true,"schema":{"type":"string","default":"application/vnd.conekta-v2.0.0+json"}},{"name":"Content-Type","in":"header","description":"El formato de la petición, tiene que ser JSON","required":true,"schema":{"type":"string","default":"application/json"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["type"],"properties":{"type":{"type":"string","description":"Tipo del método de pago","default":"cash_recurrent","enum":["card","cash_recurrent","spei_recurrent"]},"token_id":{"type":"string","description":"Id de token que será utilizado para crear un método de pago de tipo \"card\". Ve el tutorial de [suscripciones](https://developers.conekta.com/reference/suscripciones) para más información sobre cómo tokenizar tarjetas."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": \"src_2fw8YeLSqoaGEYTn3\",\n  \"object\": \"payment_source\",\n  \"type\": \"card\",\n  \"address\": {\n    \"street1\": \"Tamesis\",\n    \"street2\": \"114\",\n    \"city\": \"Monterrey\",\n    \"state\": \"Nuevo Leon 4\",\n    \"country\": \"mx\",\n    \"object\": \"address\",\n    \"postal_code\": \"64700\"\n  },\n  \"created_at\": 1597069683,\n  \"last4\": \"4242\",\n  \"bin\": \"424242\",\n  \"exp_month\": \"12\",\n  \"exp_year\": \"20\",\n  \"brand\": \"VISA\",\n  \"name\": \"Mario perez\",\n  \"parent_id\": \"cus_zzmjKsnM9oacyCwV3\",\n  \"default\": false\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"src_2fw8YeLSqoaGEYTn3"},"object":{"type":"string","example":"payment_source"},"type":{"type":"string","example":"card"},"address":{"type":"object","properties":{"street1":{"type":"string","example":"Tamesis"},"street2":{"type":"string","example":"114"},"city":{"type":"string","example":"Monterrey"},"state":{"type":"string","example":"Nuevo Leon 4"},"country":{"type":"string","example":"mx"},"object":{"type":"string","example":"address"},"postal_code":{"type":"string","example":"64700"}}},"created_at":{"type":"integer","example":1597069683,"default":0},"last4":{"type":"string","example":"4242"},"bin":{"type":"string","example":"424242"},"exp_month":{"type":"string","example":"12"},"exp_year":{"type":"string","example":"20"},"brand":{"type":"string","example":"VISA"},"name":{"type":"string","example":"Mario perez"},"parent_id":{"type":"string","example":"cus_zzmjKsnM9oacyCwV3"},"default":{"type":"boolean","example":false,"default":true}}}}}},"422":{"description":"422","content":{"application/json":{"examples":{"Result":{"value":"{\n\t\"details\": [{\n\t\t\"debug_message\": \"The token does not exist.\",\n\t\t\"message\": \"El token no existe.\",\n\t\t\"param\": \"token_id\",\n\t\t\"code\": \"conekta.errors.parameter_validation.token_id.nonexistent_token\"\n\t}],\n\t\"object\": \"error\",\n\t\"type\": \"parameter_validation_error\",\n\t\"log_id\": \"62fbd7e914c6927ea9226bd1\"\n}"}},"schema":{"type":"object","properties":{"details":{"type":"array","items":{"type":"object","properties":{"debug_message":{"type":"string","example":"The token does not exist."},"message":{"type":"string","example":"El token no existe."},"param":{"type":"string","example":"token_id"},"code":{"type":"string","example":"conekta.errors.parameter_validation.token_id.nonexistent_token"}}}},"object":{"type":"string","example":"error"},"type":{"type":"string","example":"parameter_validation_error"},"log_id":{"type":"string","example":"62fbd7e914c6927ea9226bd1"}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl -H \"Accept: application/vnd.conekta-v2.0.0+json\" \\\n     -H \"Content-type: application/json\" \\\n     -u key_eYvWV7gSDkNYXsmr: \\\n     -X POST -d '{\n       \"type\": \"card\",\n       \"token_id\":\"tok_test_visa_4242\"\n     }' https://api.conekta.io/customers/cus_zzmjKsnM9oacyCwV3/payment_sources/"},{"language":"javascript","code":"conekta.Customer.find('cus_zzmjKsnM9oacyCwV3', function(err, customer) {\n  customer.createPaymentSource({\n    type: \"card\",\n    token_id: \"tok_test_visa_4242\"\n  }, function(err, res) {\n    console.log(res.toObject());\n  });\n});"},{"language":"ruby","code":"customer = Conekta::Customer.find(\"cus_zzmjKsnM9oacyCwV3\")\nsource   = customer.create_payment_source(type: \"card\", token_id: \"tok_test_visa_4242\")"},{"language":"php","code":"$customer = \\Conekta\\Customer::find(\"cus_zzmjKsnM9oacyCwV3\");\n$source = $customer->createPaymentSource([\n  'token_id' => 'tok_test_visa_4242',\n  'type'     => 'card'\n]);"},{"language":"python","code":"customer = conekta.Customer.find(\"cus_zzmjKsnM9oacyCwV3\")\nsource = customer.createPaymentSource({\n  \"type\": \"card\",\n  \"token_id\": \"tok_test_visa_4242\"\n})"},{"language":"java","code":"Customer customer = Customer.find(\"cus_zzmjKsnM9oacyCwV3\");\nJSONObject paymentSourceJSON = new JSONObject(\"{\"\n  + \"'token_id': 'tok_test_visa_4242',\"\n  + \"'type': 'card'\"\n+ \"}\");\n\nPaymentSource paymentSource = customer.createPaymentSource(paymentSourceJSON);"},{"language":"csharp","code":"Customer customer = new conekta.Customer().find(\"cus_zzmjKsnM9oacyCwV3\");\nPaymentSource payment_source = customer.createPaymentSource(@\"{\n  \"\"type\"\": \"\"card\"\",\n  \"\"token_id\"\": \"\"tok_test_visa_4242\"\"\n}\");"},{"language":"go","code":"import  (\n    conekta \"github.com/conekta/conekta-go\"\n    \"github.com/conekta/conekta-go/paymentsource\"\n)\n\npaymentSourceParams := &conekta.PaymentSourceCreateParams{\n    TokenID:        \"tok_test_mastercard_4444\",\n    PaymentType:    \"card\", \n}\n\npaymentsource.Create(\"cus_zzmjKsnM9oacyCwV3\", paymentSourceParams)"}],"samples-languages":["curl","javascript","ruby","php","python","java","csharp","go"]}}},"/customers/{customer_id}/payment_sources/{payment_source_id}":{"delete":{"summary":"Eliminar Método de Pago","description":"Elimina un método de pago existente.","operationId":"test2-cdd","parameters":[{"name":"customer_id","in":"path","description":"Id del cliente","schema":{"type":"string","default":"cus_zzmjKsnM9oacyCwV3"},"required":true},{"name":"payment_source_id","in":"path","description":"Id del método de pago","schema":{"type":"string","default":"src_2ghVL83uWtPmcs58S"},"required":true},{"name":"Accept","in":"header","description":"El formato esperado de la respuesta, indicando la versión del render","required":true,"schema":{"type":"string","default":"application/vnd.conekta-v2.0.0+json"}},{"name":"Content-Type","in":"header","description":"El formato de la petición, tiene que ser JSON","required":true,"schema":{"type":"string","default":"application/json"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": \"src_2fw8YeLSqoaGEYTn3\",\n  \"object\": \"payment_source\",\n  \"type\": \"card\",\n  \"address\": {\n    \"street1\": \"Tamesis\",\n    \"street2\": \"114\",\n    \"city\": \"Monterrey\",\n    \"state\": \"Nuevo Leon 4\",\n    \"country\": \"mx\",\n    \"object\": \"address\",\n    \"postal_code\": \"64700\"\n  },\n  \"created_at\": 1597069683,\n  \"last4\": \"4242\",\n  \"bin\": \"424242\",\n  \"exp_month\": \"12\",\n  \"exp_year\": \"20\",\n  \"brand\": \"VISA\",\n  \"name\": \"Mario perez\",\n  \"parent_id\": \"cus_zzmjKsnM9oacyCwV3\",\n  \"default\": false,\n  \"deleted\": true\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"src_2fw8YeLSqoaGEYTn3"},"object":{"type":"string","example":"payment_source"},"type":{"type":"string","example":"card"},"address":{"type":"object","properties":{"street1":{"type":"string","example":"Tamesis"},"street2":{"type":"string","example":"114"},"city":{"type":"string","example":"Monterrey"},"state":{"type":"string","example":"Nuevo Leon 4"},"country":{"type":"string","example":"mx"},"object":{"type":"string","example":"address"},"postal_code":{"type":"string","example":"64700"}}},"created_at":{"type":"integer","example":1597069683,"default":0},"last4":{"type":"string","example":"4242"},"bin":{"type":"string","example":"424242"},"exp_month":{"type":"string","example":"12"},"exp_year":{"type":"string","example":"20"},"brand":{"type":"string","example":"VISA"},"name":{"type":"string","example":"Mario perez"},"parent_id":{"type":"string","example":"cus_zzmjKsnM9oacyCwV3"},"default":{"type":"boolean","example":false,"default":true},"deleted":{"type":"boolean","example":true,"default":true}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"details\": [\n        {\n            \"debug_message\": \"The object customer \\\"cus_WRONG_ID\\\" could not be found.\",\n            \"message\": \"El recurso no ha sido encontrado.\",\n            \"code\": \"conekta.errors.resource_not_found.entity\"\n        }\n    ],\n    \"object\": \"error\",\n    \"type\": \"resource_not_found_error\",\n    \"log_id\": \"613fa99bfb7dfd4e04f1d006\"\n}"}},"schema":{"type":"object","properties":{"details":{"type":"array","items":{"type":"object","properties":{"debug_message":{"type":"string","example":"The object customer \"cus_WRONG_ID\" could not be found."},"message":{"type":"string","example":"El recurso no ha sido encontrado."},"code":{"type":"string","example":"conekta.errors.resource_not_found.entity"}}}},"object":{"type":"string","example":"error"},"type":{"type":"string","example":"resource_not_found_error"},"log_id":{"type":"string","example":"613fa99bfb7dfd4e04f1d006"}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl -H \"Accept: application/vnd.conekta-v2.0.0+json\" \\\n     -H \"Content-type: application/json\" \\\n     -u key_eYvWV7gSDkNYXsmr: \\\n     -X DELETE  https://api.conekta.io/customers/cus_zzmjKsnM9oacyCwV3/payment_sources/src_2ghVL83uWtPmcs58S"},{"language":"javascript","code":"conekta.Customer.find('cus_zzmjKsnM9oacyCwV3', function(err, customer) {\n  customer.payment_sources.get(0).delete(function(err, resp) {\n    console.log(resp.toObject());\n    })\n});"},{"language":"ruby","code":"customer = Conekta::Customer.find(\"cus_zzmjKsnM9oacyCwV3\")\nsource   = customer.payment_sources.first.delete"},{"language":"php","code":"$customer = \\Conekta\\Customer::find(\"cus_zzmjKsnM9oacyCwV3\");\n$source   = $customer->payment_sources[0]->delete();"},{"language":"python","code":"customer = conekta.Customer.find(\"cus_zzmjKsnM9oacyCwV3\")\nsource = customer.payment_sources[0].delete()"},{"language":"java","code":"Customer customer = Customer.find(\"cus_zzmjKsnM9oacyCwV3\");\nPaymentSource paymentSourceDeleted = (PaymentSource) customer.payment_sources.get(0);\n\npaymentSourceDeleted.delete();"},{"language":"csharp","code":"conekta.Customer customer = new conekta.Customer().find(\"cus_zzmjKsnM9oacyCwV3\");\nPaymentSource payment_source = (PaymentSource)customer.payment_sources[0];\n\npayment_source.destroy();"},{"language":"go","code":"import  (\n    co
[...]
