openapi: 3.0.2
info:
  contact:
    email: support@tapico.io
    name: Tapico
    url: http://www.tapico.io
  description: PLACEHOLDER DESCRIPTION
  termsOfService: https://tapico.io/sandbox-tos/
  title: Tapico API
  version: 1.0.0
servers:
- description: Sandbox environment
  url: https://api.sandbox.tapico.io/v1
- description: Production environment
  url: https://api.prod.tapico.io/v1
paths:
  /ping:
    get:
      description: Ping the server.
      responses:
        "200":
          description: Site is up.
      summary: Ping the server
      tags:
      - Ping
  /oauth/token:
    post:
      description: Use this endpoint to exchange your Application's credentials for
        an access token
      parameters:
      - description: "Specifies the Region for the request. \nWhen specified, this\
          \ must match the region that the application access token was generated\
          \ for. \n\nFor more information about regions see https://docs.tapico.io/docs/regions\n"
        example: EU
        in: header
        name: region
        required: false
        schema:
          $ref: '#/components/schemas/Region'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TokenPostRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/TokenPostRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
          description: Successful token request
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The credentials used are not recognised.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests sent in quick succession.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      summary: OAuth2 token end point
      tags:
      - OAuth
  /account-access-consents:
    get:
      description: |
        An `Account Access Consent` represents the consent a user has given to an Application to access their data from an Account Servicer (e.g. their bank account data).

        Once consent has been granted by the user, an Application has permission to pull back account data on the users behalf through our API.

        This endpoint allows retrieval of the account access consents associated with your Application.
      parameters:
      - description: "Specifies the Region for the request. \nWhen specified, this\
          \ must match the region that the application access token was generated\
          \ for. \n\nFor more information about regions see https://docs.tapico.io/docs/regions\n"
        example: EU
        in: header
        name: region
        required: false
        schema:
          $ref: '#/components/schemas/Region'
      - description: A CSV of specific resource IDs to retrieve.
        explode: false
        in: query
        name: id
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
      - description: Only return results with the specified Account Servicer ID.
        in: query
        name: accountServicerId
        required: false
        schema:
          format: uuid
          type: string
      - description: Only return results with the specified Application ID.
        in: query
        name: applicationId
        required: false
        schema:
          format: uuid
          type: string
      - description: Only return results with the specified Authorising User ID.
        in: query
        name: authorisingUserId
        required: false
        schema:
          format: uuid
          type: string
      - description: Only return results with the specified status.
        in: query
        name: status
        required: false
        schema:
          $ref: '#/components/schemas/ConsentStatus'
      - description: |
          Each response payload may contain a nextCursor in the metadata, which is a pointer to the next set of results when more results are available.

          Set this query parameter to access the next page of results.
        in: query
        name: cursor
        required: false
        schema:
          type: string
      - description: The numbers of items to return.
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
      - description: Account Access Consents sorting options.
        explode: false
        in: query
        name: sort
        required: false
        schema:
          enum:
          - status:ASC
          - status:DESC
          - lastRefreshDateTime:ASC
          - lastRefreshDateTime:DESC
          - expiryDateTime:ASC
          - expiryDateTime:DESC
          - createdDateTime:ASC
          - createdDateTime:DESC
          - updatedDateTime:ASC
          - updatedDateTime:DESC
          type: string
      - description: Properties on the response payload to expand. When specified
          the property on the response payload will contain the full object. When
          not specified the property will just contain the ID reference.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            enum:
            - accountServicer
            - application
            - authorisingUser
            - consentTypes
            type: string
          type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountAccessConsentsSuccess'
          description: success response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The credentials used are not recognised.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request parameter validation error.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests sent in quick succession.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      security:
      - bearer: []
      summary: List and search account access consents
      tags:
      - Account Access
    post:
      description: |
        Initiate a request to gain consent from your user, to share their account data with your Application.

        Returns a URL where the user can securely authorise your data sharing request with their Account Servicer.
      parameters:
      - description: "Specifies the Region for the request. \nWhen specified, this\
          \ must match the region that the application access token was generated\
          \ for. \n\nFor more information about regions see https://docs.tapico.io/docs/regions\n"
        example: EU
        in: header
        name: region
        required: false
        schema:
          $ref: '#/components/schemas/Region'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountAccessConsentPostRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountAccessConsentsSuccess'
          description: success response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The credentials used are not recognised.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: This request is already in progress please try again later.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request parameter validation error.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests sent in quick succession.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      security:
      - bearer: []
      summary: Initiate an account access consent request
      tags:
      - Account Access
  /account-access-consents/{accountAccessConsentId}:
    delete:
      description: |
        Reject or Revoke an active consent.
        - Where the consent is requested but not yet granted this will reject the request.
        - Where the consent has been authorised this will revoke the granted access.
      parameters:
      - description: "Specifies the Region for the request. \nWhen specified, this\
          \ must match the region that the application access token was generated\
          \ for. \n\nFor more information about regions see https://docs.tapico.io/docs/regions\n"
        example: EU
        in: header
        name: region
        required: false
        schema:
          $ref: '#/components/schemas/Region'
      - description: Account Access Consent ID.
        in: path
        name: accountAccessConsentId
        required: true
        schema:
          type: string
      responses:
        "204":
          description: There is no content for the selected user.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The credentials used are not recognised.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Entity cannot be found.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests sent in quick succession.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      security:
      - bearer: []
      - cookie: []
      summary: Reject or Revoke an account access consent
      tags:
      - Account Access
    get:
      description: |
        Get details for a specific account access consent.
      parameters:
      - description: "Specifies the Region for the request. \nWhen specified, this\
          \ must match the region that the application access token was generated\
          \ for. \n\nFor more information about regions see https://docs.tapico.io/docs/regions\n"
        example: EU
        in: header
        name: region
        required: false
        schema:
          $ref: '#/components/schemas/Region'
      - description: Account Access Consent ID.
        in: path
        name: accountAccessConsentId
        required: true
        schema:
          type: string
      - description: Properties on the response payload to expand. When specified
          the property on the response payload will contain the full object. When
          not specified the property will just contain the ID reference.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            enum:
            - accountServicer
            - application
            - authorisingUser
            - consentTypes
            type: string
          type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountAccessConsentsSuccess'
          description: success response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The credentials used are not recognised.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Entity cannot be found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request parameter validation error.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests sent in quick succession.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      security:
      - bearer: []
      - cookie: []
      summary: Retrieve a specific account access consent
      tags:
      - Account Access
  /account-access-consents/{accountAccessConsentId}/reconfirm:
    put:
      description: |
        Initiate a request to reconfirm an existing account access consent before expiration (Open Banking and Starling only).
        Returns the account access consent reconfirmed if the account servicer is an Open Banking one or Starling.
      parameters:
      - description: "Specifies the Region for the request. \nWhen specified, this\
          \ must match the region that the application access token was generated\
          \ for. \n\nFor more information about regions see https://docs.tapico.io/docs/regions\n"
        example: EU
        in: header
        name: region
        required: false
        schema:
          $ref: '#/components/schemas/Region'
      - description: Account Access Consent ID.
        in: path
        name: accountAccessConsentId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountAccessConsentsSuccess'
          description: success response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The credentials used are not recognised.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: This request is already in progress please try again later.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request parameter validation error.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests sent in quick succession.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      security:
      - bearer: []
      summary: Request to reconfirm an existing account access consent
      tags:
      - Account Access
  /authorising-users:
    get:
      description: |
        Get details of the authorising users associated with the API consumer.
      parameters:
      - description: "Specifies the Region for the request. \nWhen specified, this\
          \ must match the region that the application access token was generated\
          \ for. \n\nFor more information about regions see https://docs.tapico.io/docs/regions\n"
        example: EU
        in: header
        name: region
        required: false
        schema:
          $ref: '#/components/schemas/Region'
      - description: Third party application system identifier for the user who is
          authorising sharing of their data.
        in: query
        name: externalUserId
        required: false
        schema:
          type: string
      - description: Only return results with the specified Application ID.
        in: query
        name: applicationId
        required: false
        schema:
          format: uuid
          type: string
      - description: |
          Each response payload may contain a nextCursor in the metadata, which is a pointer to the next set of results when more results are available.

          Set this query parameter to access the next page of results.
        in: query
        name: cursor
        required: false
        schema:
          type: string
      - description: The numbers of items to return.
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
      - description: Default sorting, by createdDateTime or updatedDateTime property.
        explode: false
        in: query
        name: sort
        required: false
        schema:
          enum:
          - createdDateTime:ASC
          - createdDateTime:DESC
          - updatedDateTime:ASC
          - updatedDateTime:DESC
          type: string
      - description: Authorising User expandable fields.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            enum:
            - identities
            - identities.servicingAgent
            type: string
          type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorisingUsersSuccess'
          description: success response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The credentials used are not recognised.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request parameter validation error.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests sent in quick succession.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      security:
      - bearer: []
      summary: List and search authorising users
      tags:
      - Authorising Users
  /authorising-users/{authorisingUserId}:
    get:
      description: |
        Get details for a specific authorising user.
      parameters:
      - description: "Specifies the Region for the request. \nWhen specified, this\
          \ must match the region that the application access token was generated\
          \ for. \n\nFor more information about regions see https://docs.tapico.io/docs/regions\n"
        example: EU
        in: header
        name: region
        required: false
        schema:
          $ref: '#/components/schemas/Region'
      - description: Authorising User ID.
        in: path
        name: authorisingUserId
        required: true
        schema:
          format: uuid
          type: string
      - description: Authorising User expandable fields.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            enum:
            - identities
            - identities.servicingAgent
            type: string
          type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorisingUsersSuccess'
          description: success response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The credentials used are not recognised.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Entity cannot be found.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests sent in quick succession.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      security:
      - bearer: []
      summary: Retrieve a specific authorising user
      tags:
      - Authorising Users
  /authorising-users/{authorisingUserId}/servicing-agents:
    get:
      description: |
        Get a list of account servicing agents from the source system.

        e.g. Advisers, Para-planners, Wealth or Discretionary managers.
      parameters:
      - description: "Specifies the Region for the request. \nWhen specified, this\
          \ must match the region that the application access token was generated\
          \ for. \n\nFor more information about regions see https://docs.tapico.io/docs/regions\n"
        example: EU
        in: header
        name: region
        required: false
        schema:
          $ref: '#/components/schemas/Region'
      - description: Authorising User ID.
        in: path
        name: authorisingUserId
        required: true
        schema:
          format: uuid
          type: string
      - description: Only return results with the specified Account Servicer ID.
        in: query
        name: accountServicerId
        required: false
        schema:
          format: uuid
          type: string
      - description: Filter Servicing Agent results by the source system primary entity
          identifier.
        in: query
        name: externalId
        required: false
        schema:
          type: string
      - description: |
          Each response payload may contain a nextCursor in the metadata, which is a pointer to the next set of results when more results are available.

          Set this query parameter to access the next page of results.
        in: query
        name: cursor
        required: false
        schema:
          type: string
      - description: The numbers of items to return.
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
      - description: Default sorting, by createdDateTime or updatedDateTime property.
        explode: false
        in: query
        name: sort
        required: false
        schema:
          enum:
          - createdDateTime:ASC
          - createdDateTime:DESC
          - updatedDateTime:ASC
          - updatedDateTime:DESC
          type: string
      - description: Servicing Agent expandable fields.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            enum:
            - accountServicer
            - servicingOrganisation
            type: string
          type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicingAgentsSuccess'
          description: success response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The credentials used are not recognised.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request parameter validation error.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests sent in quick succession.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      security:
      - bearer: []
      summary: list and search account servicing agents
      tags:
      - Agents
  /authorising-users/{authorisingUserId}/servicing-agents/{servicingAgentId}:
    get:
      description: |
        Get an account servicing agent from the source system.

        e.g. Adviser, Para-planner, Wealth or Discretionary manager.
      parameters:
      - description: "Specifies the Region for the request. \nWhen specified, this\
          \ must match the region that the application access token was generated\
          \ for. \n\nFor more information about regions see https://docs.tapico.io/docs/regions\n"
        example: EU
        in: header
        name: region
        required: false
        schema:
          $ref: '#/components/schemas/Region'
      - description: Authorising User ID.
        in: path
        name: authorisingUserId
        required: true
        schema:
          format: uuid
          type: string
      - description: Servicing Agent ID.
        in: path
        name: servicingAgentId
        required: true
        schema:
          format: uuid
          type: string
      - description: Servicing Agent expandable fields.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            enum:
            - accountServicer
            - servicingOrganisation
            type: string
          type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicingAgentsSuccess'
          description: success response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The credentials used are not recognised.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Entity cannot be found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request parameter validation error.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests sent in quick succession.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      security:
      - bearer: []
      summary: Get a servicing agent
      tags:
      - Agents
  /authorising-users/{authorisingUserId}/servicing-organisations:
    get:
      description: |
        Get a list of account servicing organisations from the source system.

        e.g. Financial Advice Firms, Wealth Management Firms, or other financial intermediary organisation.
      parameters:
      - description: "Specifies the Region for the request. \nWhen specified, this\
          \ must match the region that the application access token was generated\
          \ for. \n\nFor more information about regions see https://docs.tapico.io/docs/regions\n"
        example: EU
        in: header
        name: region
        required: false
        schema:
          $ref: '#/components/schemas/Region'
      - description: Authorising User ID.
        in: path
        name: authorisingUserId
        required: true
        schema:
          format: uuid
          type: string
      - description: Only return results with the specified Account Servicer ID.
        in: query
        name: accountServicerId
        required: false
        schema:
          format: uuid
          type: string
      - description: Filter Servicing Organisation results by the source system primary
          entity identifier.
        in: query
        name: externalId
        required: false
        schema:
          type: string
      - description: |
          Each response payload may contain a nextCursor in the metadata, which is a pointer to the next set of results when more results are available.

          Set this query parameter to access the next page of results.
        in: query
        name: cursor
        required: false
        schema:
          type: string
      - description: The numbers of items to return.
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
      - description: Default sorting, by createdDateTime or updatedDateTime property.
        explode: false
        in: query
        name: sort
        required: false
        schema:
          enum:
          - createdDateTime:ASC
          - createdDateTime:DESC
          - updatedDateTime:ASC
          - updatedDateTime:DESC
          type: string
      - description: Servicing Organisation expandable fields.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            enum:
            - accountServicer
            type: string
          type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicingOrganisationsSuccess'
          description: success response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The credentials used are not recognised.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request parameter validation error.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests sent in quick succession.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      security:
      - bearer: []
      summary: list and search account servicing organisations
      tags:
      - Agents
  /authorising-users/{authorisingUserId}/servicing-organisations/{servicingOrganisationId}:
    get:
      description: |
        Get an account servicing organisation from the source system.

        e.g. Financial Advice Firm, Wealth Management Firm, or other financial intermediary organisation.
      parameters:
      - description: "Specifies the Region for the request. \nWhen specified, this\
          \ must match the region that the application access token was generated\
          \ for. \n\nFor more information about regions see https://docs.tapico.io/docs/regions\n"
        example: EU
        in: header
        name: region
        required: false
        schema:
          $ref: '#/components/schemas/Region'
      - description: Authorising User ID.
        in: path
        name: authorisingUserId
        required: true
        schema:
          format: uuid
          type: string
      - description: Servicing Organisation ID.
        in: path
        name: servicingOrganisationId
        required: true
        schema:
          format: uuid
          type: string
      - description: Servicing Organisation expandable fields.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            enum:
            - accountServicer
            type: string
          type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicingOrganisationsSuccess'
          description: success response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The credentials used are not recognised.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Entity cannot be found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request parameter validation error.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests sent in quick succession.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      security:
      - bearer: []
      summary: Get a servicing organisation
      tags:
      - Agents
  /authorising-users/{authorisingUserId}/customers:
    get:
      description: |
        Get details of the customers for the specified authorising user.
      parameters:
      - description: "Specifies the Region for the request. \nWhen specified, this\
          \ must match the region that the application access token was generated\
          \ for. \n\nFor more information about regions see https://docs.tapico.io/docs/regions\n"
        example: EU
        in: header
        name: region
        required: false
        schema:
          $ref: '#/components/schemas/Region'
      - description: A CSV of specific resource IDs to retrieve.
        explode: false
        in: query
        name: id
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
      - description: Search for entities based on search term.
        in: query
        name: search
        required: false
        schema:
          maxLength: 30
          type: string
      - description: Authorising User ID.
        in: path
        name: authorisingUserId
        required: true
        schema:
          format: uuid
          type: string
      - description: Only return results with the specified Account Servicer ID.
        in: query
        name: accountServicerId
        required: false
        schema:
          format: uuid
          type: string
      - description: Customer Type.
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/CustomerType'
      - description: Filter Customer results by the source system primary entity identifier.
        in: query
        name: externalId
        required: false
        schema:
          type: string
      - description: Filter Customer results by the source system secondary entity
          identifier.
        in: query
        name: secondaryExternalId
        required: false
        schema:
          type: string
      - description: |
          Each response payload may contain a nextCursor in the metadata, which is a pointer to the next set of results when more results are available.

          Set this query parameter to access the next page of results.
        in: query
        name: cursor
        required: false
        schema:
          type: string
      - description: The numbers of items to return.
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
      - description: Default sorting, by createdDateTime or updatedDateTime property.
        explode: false
        in: query
        name: sort
        required: false
        schema:
          enum:
          - createdDateTime:ASC
          - createdDateTime:DESC
          - updatedDateTime:ASC
          - updatedDateTime:DESC
          type: string
      - description: Customer expandable fields.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            enum:
            - accountGroupRoles
            - accountGroupRoles.accountGroup
            - accountGroupRoles.accountGroup.servicingAgent
            - accountRoles
            - accountRoles.account
            - accountRoles.account.servicingAgent
            - accountServicer
            type: string
          type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomersSuccess'
          description: success response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The credentials used are not recognised.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Entity cannot be found.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests sent in quick succession.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      security:
      - bearer: []
      summary: List and search customers for an authorising user
      tags:
      - Customers
  /authorising-users/{authorisingUserId}/customers/{customerId}:
    get:
      description: |
        Get details for a specific customer.
      parameters:
      - description: "Specifies the Region for the request. \nWhen specified, this\
          \ must match the region that the application access token was generated\
          \ for. \n\nFor more information about regions see https://docs.tapico.io/docs/regions\n"
        example: EU
        in: header
        name: region
        required: false
        schema:
          $ref: '#/components/schemas/Region'
      - description: Authorising User ID.
        in: path
        name: authorisingUserId
        required: true
        schema:
          format: uuid
          type: string
      - description: Customer ID.
        in: path
        name: customerId
        required: true
        schema:
          format: uuid
          type: string
      - description: Customer expandable fields.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            enum:
            - accountGroupRoles
            - accountGroupRoles.accountGroup
            - accountGroupRoles.accountGroup.servicingAgent
            - accountRoles
            - accountRoles.account
            - accountRoles.account.servicingAgent
            - accountServicer
            type: string
          type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomersSuccess'
          description: success response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The credentials used are not recognised.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Entity cannot be found.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests sent in quick succession.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      security:
      - bearer: []
      summary: Retrieve a specific customer
      tags:
      - Customers
  /authorising-users/{authorisingUserId}/account-groups:
    get:
      description: |
        Get details of the account groups for the specified authorising user.
      parameters:
      - description: "Specifies the Region for the request. \nWhen specified, this\
          \ must match the region that the application access token was generated\
          \ for. \n\nFor more information about regions see https://docs.tapico.io/docs/regions\n"
        example: EU
        in: header
        name: region
        required: false
        schema:
          $ref: '#/components/schemas/Region'
      - description: A CSV of specific resource IDs to retrieve.
        explode: false
        in: query
        name: id
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
      - description: Search for entities based on search term.
        in: query
        name: search
        required: false
        schema:
          maxLength: 30
          type: string
      - description: Authorising User ID.
        in: path
        name: authorisingUserId
        required: true
        schema:
          format: uuid
          type: string
      - description: Filter Account Group results by the source system primary entity
          identifier.
        in: query
        name: externalId
        required: false
        schema:
          type: string
      - description: Only return results with the specified Account Servicer ID.
        in: query
        name: accountServicerId
        required: false
        schema:
          format: uuid
          type: string
      - description: |
          Each response payload may contain a nextCursor in the metadata, which is a pointer to the next set of results when more results are available.

          Set this query parameter to access the next page of results.
        in: query
        name: cursor
        required: false
        schema:
          type: string
      - description: The numbers of items to return.
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
      - description: Default sorting, by createdDateTime or updatedDateTime property.
        explode: false
        in: query
        name: sort
        required: false
        schema:
          enum:
          - createdDateTime:ASC
          - createdDateTime:DESC
          - updatedDateTime:ASC
          - updatedDateTime:DESC
          type: string
      - description: Account Group expandable fields.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            enum:
            - accounts
            - accountServicer
            - externalAccounts
            - roles
            - roles.customer
            - servicingAgent
            type: string
          type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountGroupsSuccess'
          description: success response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The credentials used are not recognised.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request parameter validation error.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests sent in quick succession.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      security:
      - bearer: []
      summary: List and search account groups for an authorising user
      tags:
      - Account Groups
  /authorising-users/{authorisingUserId}/account-groups/{accountGroupId}:
    get:
      description: |
        Get details for a specific account group.
      parameters:
      - description: "Specifies the Region for the request. \nWhen specified, this\
          \ must match the region that the application access token was generated\
          \ for. \n\nFor more information about regions see https://docs.tapico.io/docs/regions\n"
        example: EU
        in: header
        name: region
        required: false
        schema:
          $ref: '#/components/schemas/Region'
      - description: Authorising User ID.
        in: path
        name: authorisingUserId
        required: true
        schema:
          format: uuid
          type: string
      - description: Account Group ID.
        in: path
        name: accountGroupId
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountGroupsSuccess'
          description: success response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The credentials used are not recognised.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Entity cannot be found.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests sent in quick succession.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      security:
      - bearer: []
      summary: Retrieve a specific account group
      tags:
      - Account Groups
  /authorising-users/{authorisingUserId}/customers/{customerId}/account-groups:
    get:
      description: |
        Get details of the account groups associated with the specified customer.
      parameters:
      - description: "Specifies the Region for the request. \nWhen specified, this\
          \ must match the region that the application access token was generated\
          \ for. \n\nFor more information about regions see https://docs.tapico.io/docs/regions\n"
        example: EU
        in: header
        name: region
        required: false
        schema:
          $ref: '#/components/schemas/Region'
      - description: A CSV of specific resource IDs to retrieve.
        explode: false
        in: query
        name: id
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
      - description: Search for entities based on search term.
        in: query
        name: search
        required: false
        schema:
          maxLength: 30
          type: string
      - description: Authorising User ID.
        in: path
        name: authorisingUserId
        required: true
        schema:
          format: uuid
          type: string
      - description: Customer ID.
        in: path
        name: customerId
        required: true
        schema:
          format: uuid
          type: string
      - description: Filter Account Group results by the source system primary entity
          identifier.
        in: query
        name: externalId
        required: false
        schema:
          type: string
      - description: Filter Account Group results by the source system secondary entity
          identifier.
        in: query
        name: secondaryExternalId
        required: false
        schema:
          type: string
      - description: |
          Each response payload may contain a nextCursor in the metadata, which is a pointer to the next set of results when more results are available.

          Set this query parameter to access the next page of results.
        in: query
        name: cursor
        required: false
        schema:
          type: string
      - description: The numbers of items to return.
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
      - description: Default sorting, by createdDateTime or updatedDateTime property.
        explode: false
        in: query
        name: sort
        required: false
        schema:
          enum:
          - createdDateTime:ASC
          - createdDateTime:DESC
          - updatedDateTime:ASC
          - updatedDateTime:DESC
          type: string
      - description: Account Group expandable fields.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            enum:
            - accounts
            - accountServicer
            - externalAccounts
            - roles
            - roles.customer
            - servicingAgent
            type: string
          type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountGroupsSuccess'
          description: success response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The credentials used are not recognised.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request parameter validation error.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests sent in quick succession.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      security:
      - bearer: []
      summary: List and search account groups for a customer
      tags:
      - Account Groups
  /authorising-users/{authorisingUserId}/accounts:
    get:
      description: |
        Get details of the accounts accessible by the specified authorising user.
      parameters:
      - description: "Specifies the Region for the request. \nWhen specified, this\
          \ must match the region that the application access token was generated\
          \ for. \n\nFor more information about regions see https://docs.tapico.io/docs/regions\n"
        example: EU
        in: header
        name: region
        required: false
        schema:
          $ref: '#/components/schemas/Region'
      - description: A CSV of specific resource IDs to retrieve.
        explode: false
        in: query
        name: id
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
      - description: Search for entities based on search term.
        in: query
        name: search
        required: false
        schema:
          maxLength: 30
          type: string
      - description: Authorising User ID.
        in: path
        name: authorisingUserId
        required: true
        schema:
          format: uuid
          type: string
      - description: Filter Account results by the source system primary entity identifier.
        in: query
        name: externalId
        required: false
        schema:
          type: string
      - description: Only return results with the specified Account Servicer ID.
        in: query
        name: accountServicerId
        required: false
        schema:
          format: uuid
          type: string
      - description: |
          Each response payload may contain a nextCursor in the metadata, which is a pointer to the next set of results when more results are available.

          Set this query parameter to access the next page of results.
        in: query
        name: cursor
        required: false
        schema:
          type: string
      - description: The numbers of items to return.
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
      - description: Default sorting, by createdDateTime or updatedDateTime property.
        explode: false
        in: query
        name: sort
        required: false
        schema:
          enum:
          - createdDateTime:ASC
          - createdDateTime:DESC
          - updatedDateTime:ASC
          - updatedDateTime:DESC
          type: string
      - description: Account expandable fields.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            enum:
            - accountGroup
            - accountServicer
            - roles
            - roles.customer
            - servicingAgent
            type: string
          type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsSuccess'
          description: success response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The credentials used are not recognised.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request parameter validation error.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests sent in quick succession.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      security:
      - bearer: []
      summary: List and search accounts for an authorising user
      tags:
      - Accounts
  /authorising-users/{authorisingUserId}/accounts/{accountId}:
    get:
      description: |
        Get details for a specific account.
      parameters:
      - description: "Specifies the Region for the request. \nWhen specified, this\
          \ must match the region that the application access token was generated\
          \ for. \n\nFor more information about regions see https://docs.tapico.io/docs/regions\n"
        example: EU
        in: header
        name: region
        required: false
        schema:
          $ref: '#/components/schemas/Region'
      - description: Authorising User ID.
        in: path
        name: authorisingUserId
        required: true
        schema:
          format: uuid
          type: string
      - description: Account ID.
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
      - description: Account expandable fields.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            enum:
            - accountGroup
            - accountServicer
            - roles
            - roles.customer
            - servicingAgent
            type: string
          type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsSuccess'
          description: success response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The credentials used are not recognised.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Entity cannot be found.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests sent in quick succession.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      security:
      - bearer: []
      summary: Retrieve a specific account
      tags:
      - Accounts
  /authorising-users/{authorisingUserId}/customers/{customerId}/accounts:
    get:
      description: |
        Get details of the accounts associated with the specified customer.
      parameters:
      - description: "Specifies the Region for the request. \nWhen specified, this\
          \ must match the region that the application access token was generated\
          \ for. \n\nFor more information about regions see https://docs.tapico.io/docs/regions\n"
        example: EU
        in: header
        name: region
        required: false
        schema:
          $ref: '#/components/schemas/Region'
      - description: A CSV of specific resource IDs to retrieve.
        explode: false
        in: query
        name: id
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
      - description: Search for entities based on search term.
        in: query
        name: search
        required: false
        schema:
          maxLength: 30
          type: string
      - description: Authorising User ID.
        in: path
        name: authorisingUserId
        required: true
        schema:
          format: uuid
          type: string
      - description: Customer ID.
        in: path
        name: customerId
        required: true
        schema:
          format: uuid
          type: string
      - description: Filter Account results by the source system primary entity identifier.
        in: query
        name: externalId
        required: false
        schema:
          type: string
      - description: Filter Account results by the source system secondary entity
          identifier.
        in: query
        name: secondaryExternalId
        required: false
        schema:
          type: string
      - description: |
          Each response payload may contain a nextCursor in the metadata, which is a pointer to the next set of results when more results are available.

          Set this query parameter to access the next page of results.
        in: query
        name: cursor
        required: false
        schema:
          type: string
      - description: The numbers of items to return.
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
      - description: Default sorting, by createdDateTime or updatedDateTime property.
        explode: false
        in: query
        name: sort
        required: false
        schema:
          enum:
          - createdDateTime:ASC
          - createdDateTime:DESC
          - updatedDateTime:ASC
          - updatedDateTime:DESC
          type: string
      - description: Account expandable fields.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            enum:
            - accountGroup
            - accountServicer
            - roles
            - roles.customer
            - servicingAgent
            type: string
          type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsSuccess'
          description: success response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The credentials used are not recognised.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request parameter validation error.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests sent in quick succession.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      security:
      - bearer: []
      summary: List and search accounts for a customer
      tags:
      - Accounts
  /authorising-users/{authorisingUserId}/account-groups/{accountGroupId}/accounts:
    get:
      description: |
        Get details of the accounts associated with the specified account group.
      parameters:
      - description: "Specifies the Region for the request. \nWhen specified, this\
          \ must match the region that the application access token was generated\
          \ for. \n\nFor more information about regions see https://docs.tapico.io/docs/regions\n"
        example: EU
        in: header
        name: region
        required: false
        schema:
          $ref: '#/components/schemas/Region'
      - description: A CSV of specific resource IDs to retrieve.
        explode: false
        in: query
        name: id
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
      - description: Search for entities based on search term.
        in: query
        name: search
        required: false
        schema:
          maxLength: 30
          type: string
      - description: Authorising User ID.
        in: path
        name: authorisingUserId
        required: true
        schema:
          format: uuid
          type: string
      - description: Account Group ID.
        in: path
        name: accountGroupId
        required: true
        schema:
          format: uuid
          type: string
      - description: Filter Account results by the source system primary entity identifier.
        in: query
        name: externalId
        required: false
        schema:
          type: string
      - description: |
          Each response payload may contain a nextCursor in the metadata, which is a pointer to the next set of results when more results are available.

          Set this query parameter to access the next page of results.
        in: query
        name: cursor
        required: false
        schema:
          type: string
      - description: The numbers of items to return.
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
      - description: Default sorting, by createdDateTime or updatedDateTime property.
        explode: false
        in: query
        name: sort
        required: false
        schema:
          enum:
          - createdDateTime:ASC
          - createdDateTime:DESC
          - updatedDateTime:ASC
          - updatedDateTime:DESC
          type: string
      - description: Account expandable fields.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            enum:
            - accountGroup
            - accountServicer
            - roles
            - roles.customer
            - servicingAgent
            type: string
          type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsSuccess'
          description: success response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The credentials used are not recognised.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request parameter validation error.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests sent in quick succession.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      security:
      - bearer: []
      summary: List and search accounts for an account group
      tags:
      - Accounts
  /authorising-users/{authorisingUserId}/external-accounts:
    get:
      description: |
        Get details of the external accounts accessible by the specified authorising user.
      parameters:
      - description: "Specifies the Region for the request. \nWhen specified, this\
          \ must match the region that the application access token was generated\
          \ for. \n\nFor more information about regions see https://docs.tapico.io/docs/regions\n"
        example: EU
        in: header
        name: region
        required: false
        schema:
          $ref: '#/components/schemas/Region'
      - description: A CSV of specific resource IDs to retrieve.
        explode: false
        in: query
        name: id
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
      - description: Search for entities based on search term.
        in: query
        name: search
        required: false
        schema:
          maxLength: 30
          type: string
      - description: Authorising User ID.
        in: path
        name: authorisingUserId
        required: true
        schema:
          format: uuid
          type: string
      - description: Filter External Account results by the source system primary
          entity identifier.
        in: query
        name: externalId
        required: false
        schema:
          type: string
      - description: Only return results with the specified Account Servicer ID.
        in: query
        name: accountServicerId
        required: false
        schema:
          format: uuid
          type: string
      - description: |
          Each response payload may contain a nextCursor in the metadata, which is a pointer to the next set of results when more results are available.

          Set this query parameter to access the next page of results.
        in: query
        name: cursor
        required: false
        schema:
          type: string
      - description: The numbers of items to return.
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
      - description: Default sorting, by createdDateTime or updatedDateTime property.
        explode: false
        in: query
        name: sort
        required: false
        schema:
          enum:
          - createdDateTime:ASC
          - createdDateTime:DESC
          - updatedDateTime:ASC
          - updatedDateTime:DESC
          type: string
      - description: External Account expandable fields.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            enum:
            - accountGroup
            - accountServicer
            - servicingAgent
            type: string
          type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalAccountsSuccess'
          description: success response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The credentials used are not recognised.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request parameter validation error.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests sent in quick succession.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      security:
      - bearer: []
      summary: List and search external accounts for an authorising user
      tags:
      - External Accounts
  /authorising-users/{authorisingUserId}/external-accounts/{externalAccountId}:
    get:
      description: |
        Get details for a specific external account.
      parameters:
      - description: "Specifies the Region for the request. \nWhen specified, this\
          \ must match the region that the application access token was generated\
          \ for. \n\nFor more information about regions see https://docs.tapico.io/docs/regions\n"
        example: EU
        in: header
        name: region
        required: false
        schema:
          $ref: '#/components/schemas/Region'
      - description: Authorising User ID.
        in: path
        name: authorisingUserId
        required: true
        schema:
          format: uuid
          type: string
      - description: External Account ID.
        in: path
        name: externalAccountId
        required: true
        schema:
          format: uuid
          type: string
      - description: External Account expandable fields.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            enum:
            - accountGroup
            - accountServicer
            - servicingAgent
            type: string
          type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalAccountsSuccess'
          description: success response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The credentials used are not recognised.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Entity cannot be found.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests sent in quick succession.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      security:
      - bearer: []
      summary: Retrieve a specific external account
      tags:
      - External Accounts
  /authorising-users/{authorisingUserId}/customers/{customerId}/external-accounts:
    get:
      description: |
        Get details of the external accounts associated with the specified customer.
      parameters:
      - description: "Specifies the Region for the request. \nWhen specified, this\
          \ must match the region that the application access token was generated\
          \ for. \n\nFor more information about regions see https://docs.tapico.io/docs/regions\n"
        example: EU
        in: header
        name: region
        required: false
        schema:
          $ref: '#/components/schemas/Region'
      - description: A CSV of specific resource IDs to retrieve.
        explode: false
        in: query
        name: id
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
      - description: Search for entities based on search term.
        in: query
        name: search
        required: false
        schema:
          maxLength: 30
          type: string
      - description: Authorising User ID.
        in: path
        name: authorisingUserId
        required: true
        schema:
          format: uuid
          type: string
      - description: Customer ID.
        in: path
        name: customerId
        required: true
        schema:
          format: uuid
          type: string
      - description: Filter External Account results by the source system primary
          entity identifier.
        in: query
        name: externalId
        required: false
        schema:
          type: string
      - description: Filter External Account results by the source system secondary
          entity identifier.
        in: query
        name: secondaryExternalId
        required: false
        schema:
          type: string
      - description: |
          Each response payload may contain a nextCursor in the metadata, which is a pointer to the next set of results when more results are available.

          Set this query parameter to access the next page of results.
        in: query
        name: cursor
        required: false
        schema:
          type: string
      - description: The numbers of items to return.
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
      - description: Default sorting, by createdDateTime or updatedDateTime property.
        explode: false
        in: query
        name: sort
        required: false
        schema:
          enum:
          - createdDateTime:ASC
          - createdDateTime:DESC
          - updatedDateTime:ASC
          - updatedDateTime:DESC
          type: string
      - description: External Account expandable fields.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            enum:
            - accountGroup
            - accountServicer
            - servicingAgent
            type: string
          type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalAccountsSuccess'
          description: success response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The credentials used are not recognised.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request parameter validation error.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests sent in quick succession.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      security:
      - bearer: []
      summary: List and search external accounts for a customer
      tags:
      - External Accounts
  /authorising-users/{authorisingUserId}/account-groups/{accountGroupId}/external-accounts:
    get:
      description: |
        Get details of the external accounts associated with the specified account group.
      parameters:
      - description: "Specifies the Region for the request. \nWhen specified, this\
          \ must match the region that the application access token was generated\
          \ for. \n\nFor more information about regions see https://docs.tapico.io/docs/regions\n"
        example: EU
        in: header
        name: region
        required: false
        schema:
          $ref: '#/components/schemas/Region'
      - description: A CSV of specific resource IDs to retrieve.
        explode: false
        in: query
        name: id
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
      - description: Search for entities based on search term.
        in: query
        name: search
        required: false
        schema:
          maxLength: 30
          type: string
      - description: Authorising User ID.
        in: path
        name: authorisingUserId
        required: true
        schema:
          format: uuid
          type: string
      - description: Account Group ID.
        in: path
        name: accountGroupId
        required: true
        schema:
          format: uuid
          type: string
      - description: Filter External Account results by the source system primary
          entity identifier.
        in: query
        name: externalId
        required: false
        schema:
          type: string
      - description: |
          Each response payload may contain a nextCursor in the metadata, which is a pointer to the next set of results when more results are available.

          Set this query parameter to access the next page of results.
        in: query
        name: cursor
        required: false
        schema:
          type: string
      - description: The numbers of items to return.
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
      - description: Default sorting, by createdDateTime or updatedDateTime property.
        explode: false
        in: query
        name: sort
        required: false
        schema:
          enum:
          - createdDateTime:ASC
          - createdDateTime:DESC
          - updatedDateTime:ASC
          - updatedDateTime:DESC
          type: string
      - description: External Account expandable fields.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            enum:
            - accountGroup
            - accountServicer
            - servicingAgent
            type: string
          type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalAccountsSuccess'
          description: success response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The credentials used are not recognised.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request parameter validation error.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests sent in quick succession.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      security:
      - bearer: []
      summary: List and search external accounts for an account group
      tags:
      - External Accounts
  /authorising-users/{authorisingUserId}/accounts/{accountId}/holdings:
    get:
      description: |
        Get details of the holdings for the specified account.

        This includes cash balances returned by the `Cash Balances` endpoint.
      parameters:
      - description: "Specifies the Region for the request. \nWhen specified, this\
          \ must match the region that the application access token was generated\
          \ for. \n\nFor more information about regions see https://docs.tapico.io/docs/regions\n"
        example: EU
        in: header
        name: region
        required: false
        schema:
          $ref: '#/components/schemas/Region'
      - description: Authorising User ID.
        in: path
        name: authorisingUserId
        required: true
        schema:
          format: uuid
          type: string
      - description: Account ID.
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
      - description: |
          Each response payload may contain a nextCursor in the metadata, which is a pointer to the next set of results when more results are available.

          Set this query parameter to access the next page of results.
        in: query
        name: cursor
        required: false
        schema:
          type: string
      - description: The numbers of items to return.
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
      - description: Holdings sorting options.
        explode: false
        in: query
        name: sort
        required: false
        schema:
          enum:
          - quantity:ASC
          - quantity:DESC
          - createdDateTime:ASC
          - createdDateTime:DESC
          - updatedDateTime:ASC
          - updatedDateTime:DESC
          type: string
      - description: Holding expandable fields.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            enum:
            - instrument
            - sourceInstrument
            type: string
          type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HoldingsSuccess'
          description: success response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The credentials used are not recognised.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Entity cannot be found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request parameter validation error.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests sent in quick succession.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      security:
      - bearer: []
      summary: List and search holdings for an account
      tags:
      - Holdings
  /authorising-users/{authorisingUserId}/accounts/{accountId}/transactions:
    get:
      description: |
        Get details of the transactions for the specified account.
      parameters:
      - description: "Specifies the Region for the request. \nWhen specified, this\
          \ must match the region that the application access token was generated\
          \ for. \n\nFor more information about regions see https://docs.tapico.io/docs/regions\n"
        example: EU
        in: header
        name: region
        required: false
        schema:
          $ref: '#/components/schemas/Region'
      - description: Authorising User ID.
        in: path
        name: authorisingUserId
        required: true
        schema:
          format: uuid
          type: string
      - description: Account ID.
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
      - description: Booked Datetime.
        in: query
        name: bookedDateTime
        required: false
        schema:
          $ref: '#/components/schemas/DateTimeFilter'
      - description: Transaction type.
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/TransactionType'
      - description: Transaction subtype.
        in: query
        name: subType
        required: false
        schema:
          $ref: '#/components/schemas/TransactionSubType'
      - description: Updated Datetime.
        in: query
        name: updatedDateTime
        required: false
        schema:
          $ref: '#/components/schemas/DateTimeFilter'
      - description: |
          Each response payload may contain a nextCursor in the metadata, which is a pointer to the next set of results when more results are available.

          Set this query parameter to access the next page of results.
        in: query
        name: cursor
        required: false
        schema:
          type: string
      - description: The numbers of items to return.
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
      - description: Transactions sorting options.
        explode: false
        in: query
        name: sort
        required: false
        schema:
          enum:
          - quantity:ASC
          - quantity:DESC
          - instrument:ASC
          - instrument:DESC
          - bookedDateTime:ASC
          - bookedDateTime:DESC
          - valueDateTime:ASC
          - valueDateTime:DESC
          - updatedDateTime:ASC
          - updatedDateTime:DESC
          type: string
      - description: Transaction expandable fields.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            enum:
            - instrument
            - sourceInstrument
            type: string
          type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsSuccess'
          description: success response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The credentials used are not recognised.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Entity cannot be found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request parameter validation error.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests sent in quick succession.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
      security:
      - bearer: []
      summary: List and search transactions for an account
      tags:
      - Transactions
  /authorising-users/{authorisingUserId}/accounts/{accountId}/regular-payments:
    get:
      description: |
        Get details of the regular contributions or withdrawals for the specified account.
      parameters:
      - description: "Specifies the Region for the request. \nWhen specified, this\
          \ must match the region that the application access token was generated\
          \ for. \n\nFor more information about regions see https://docs.tapico.io/docs/regions\n"
        example: EU
        in: header
        name: region
        required: false
        schema:
          $ref: '#/components/schemas/Region'
      - description: Authorising User ID.
        in: path
        name: authorisingUserId
        required: true
        schema:
          format: uuid
          type: string
      - description: Account ID.
        in: path
        name: accountId
        required: true
        schema:
          format: uuid
          type: string
      - description: Updated Datetime.
        in: query
        name: updatedDateTime
        required: false
        schema:
          $ref: '#/components/schemas/DateTimeFilter'
      - description: |
          Each response payload may contain a nextCursor in the metadata, which is a pointer to the next set of results when more results are available.

          Set this query parameter to access the next page of results.
        in: query
        name: cursor
        required: false
        schema:
          type: string
      - description: The numbers of items to return.
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
      - description: Regular Payment expandable fields.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            enum:
            - externalAccount
            type: string
          type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegularPaymentsSuccess'
          description: success response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The credentials used are not recognised.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden.
        "404":
          content:
            application/json:
              schema:
[...]
