{
    "openapi": "3.0.3",
    "info": {
        "title": "Railsr v2 API",
        "description": "Explore our technical documentation. Our library of endpoints gives you everything you need to build your embedded financial experience.\n\nTo get your OAuth Client or API Key, Sign Up or Sign In [here](https://dashboard.railsr.com/).",
        "version": "2.0"
    },
    "servers": [
        {
            "description": "Play environment",
            "url": "https://play.railsbank.com"
        }
    ],
    "security": [
        {
            "bearerAuth": [],
            "apiKeyAuth": []
        }
    ],
    "paths": {
        "/v2/endusers": {
            "get": {
                "description": "This endpoint retrieves a collection of endusers. It allows you to fetch a list of all endusers associated with your account. You can use pagination parameters to control the number of results returned.\n\nOAuth scopes: `urn:railsr:endusers.readonly`, `urn:railsr:endusers`",
                "tags": [
                    "Endusers"
                ],
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {
                        "apiKeyAuth": []
                    }
                ],
                "produces": [
                    "application/json",
                    "application/problem+json"
                ],
                "consumes": [
                    "application/json"
                ],
                "x-scopes": [
                    "urn:railsr:endusers.readonly",
                    "urn:railsr:endusers"
                ],
                "summary": "Get endusers collection",
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "endusers": {
                                            "type": "array",
                                            "items": {
                                                "anyOf": [
                                                    {
                                                        "type": "object",
                                                        "properties": {
                                                            "updatedAt": {
                                                                "type": "string",
                                                                "format": "date-time"
                                                            },
                                                            "taxResidences": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "country": {
                                                                            "enum": [
                                                                                "CR",
                                                                                "TG",
                                                                                "TJ",
                                                                                "ZA",
                                                                                "IM",
                                                                                "PE",
                                                                                "LC",
                                                                                "CH",
                                                                                "RU",
                                                                                "MP",
                                                                                "CK",
                                                                                "SI",
                                                                                "AU",
                                                                                "KR",
                                                                                "IT",
                                                                                "FI",
                                                                                "GF",
                                                                                "SC",
                                                                                "SX",
                                                                                "TT",
                                                                                "TK",
                                                                                "MY",
                                                                                "SY",
                                                                                "MN",
                                                                                "TF",
                                                                                "KP",
                                                                                "AM",
                                                                                "DZ",
                                                                                "UY",
                                                                                "TD",
                                                                                "DJ",
                                                                                "BI",
                                                                                "MK",
                                                                                "MU",
                                                                                "LI",
                                                                                "NU",
                                                                                "GR",
                                                                                "GY",
                                                                                "CG",
                                                                                "NF",
                                                                                "ML",
                                                                                "AX",
                                                                                "GM",
                                                                                "SA",
                                                                                "CX",
                                                                                "BH",
                                                                                "NE",
                                                                                "BN",
                                                                                "MF",
                                                                                "CD",
                                                                                "DK",
                                                                                "BJ",
                                                                                "ME",
                                                                                "SJ",
                                                                                "BO",
                                                                                "JO",
                                                                                "CV",
                                                                                "VE",
                                                                                "CI",
                                                                                "UZ",
                                                                                "TN",
                                                                                "IS",
                                                                                "EH",
                                                                                "TM",
                                                                                "GA",
                                                                                "LS",
                                                                                "TZ",
                                                                                "AT",
                                                                                "LT",
                                                                                "NP",
                                                                                "BG",
                                                                                "IL",
                                                                                "GU",
                                                                                "PK",
                                                                                "PT",
                                                                                "HR",
                                                                                "VU",
                                                                                "PF",
                                                                                "BM",
                                                                                "MR",
                                                                                "GE",
                                                                                "HU",
                                                                                "TW",
                                                                                "MM",
                                                                                "VG",
                                                                                "YE",
                                                                                "SR",
                                                                                "PN",
                                                                                "VA",
                                                                                "PR",
                                                                                "KW",
                                                                                "SE",
                                                                                "GB",
                                                                                "UM",
                                                                                "VN",
                                                                                "CF",
                                                                                "PA",
                                                                                "VC",
                                                                                "JP",
                                                                                "IR",
                                                                                "AF",
                                                                                "LY",
                                                                                "MZ",
                                                                                "RO",
                                                                                "QA",
                                                                                "CM",
                                                                                "GG",
                                                                                "BY",
                                                                                "SD",
                                                                                "BQ",
                                                                                "MO",
                                                                                "KY",
                                                                                "AR",
                                                                                "BR",
                                                                                "ZW",
                                                                                "NR",
                                                                                "NZ",
                                                                                "AW",
                                                                                "FJ",
                                                                                "ID",
                                                                                "SV",
                                                                                "CN",
                                                                                "FM",
                                                                                "HT",
                                                                                "CC",
                                                                                "RW",
                                                                                "BA",
                                                                                "TL",
                                                                                "JM",
                                                                                "KM",
                                                                                "KE",
                                                                                "WS",
                                                                                "TO",
                                                                                "PY",
                                                                                "SH",
                                                                                "CY",
                                                                                "GH",
                                                                                "MA",
                                                                                "SG",
                                                                                "LK",
                                                                                "PH",
                                                                                "SM",
                                                                                "WF",
                                                                                "TR",
                                                                                "PS",
                                                                                "BZ",
                                                                                "CU",
                                                                                "TV",
                                                                                "AD",
                                                                                "SB",
                                                                                "DM",
                                                                                "LR",
                                                                                "OM",
                                                                                "SO",
                                                                                "DO",
                                                                                "AL",
                                                                                "BL",
                                                                                "FR",
                                                                                "GW",
                                                                                "MS",
                                                                                "BB",
                                                                                "CA",
                                                                                "MG",
                                                                                "KH",
                                                                                "LA",
                                                                                "GP",
                                                                                "BV",
                                                                                "HN",
                                                                                "TH",
                                                                                "DE",
                                                                                "LB",
                                                                                "KZ",
                                                                                "AS",
                                                                                "EC",
                                                                                "NO",
                                                                                "AO",
                                                                                "FK",
                                                                                "ET",
                                                                                "GS",
                                                                                "MD",
                                                                                "AG",
                                                                                "BE",
                                                                                "MV",
                                                                                "SZ",
                                                                                "CZ",
                                                                                "CL",
                                                                                "BT",
                                                                                "NL",
                                                                                "EG",
                                                                                "MQ",
                                                                                "SN",
                                                                                "FO",
                                                                                "EE",
                                                                                "AQ",
                                                                                "ST",
                                                                                "KN",
                                                                                "BW",
                                                                                "MH",
                                                                                "NI",
                                                                                "PG",
                                                                                "VI",
                                                                                "IQ",
                                                                                "KG",
                                                                                "US",
                                                                                "ZM",
                                                                                "MC",
                                                                                "GI",
                                                                                "NC",
                                                                                "GT",
                                                                                "BF",
                                                                                "YT",
                                                                                "LU",
                                                                                "UA",
                                                                                "IE",
                                                                                "LV",
                                                                                "GD",
                                                                                "MW",
                                                                                "BS",
                                                                                "AZ",
                                                                                "SK",
                                                                                "GQ",
                                                                                "TC",
                                                                                "RE",
                                                                                "IN",
                                                                                "ES",
                                                                                "GL",
                                                                                "KI",
                                                                                "HK",
                                                                                "CO",
                                                                                "SS",
                                                                                "RS",
                                                                                "IO",
                                                                                "NG",
                                                                                "UG",
                                                                                "CW",
                                                                                "SL",
                                                                                "ER",
                                                                                "JE",
                                                                                "AE",
                                                                                "HM",
                                                                                "PM",
                                                                                "BD",
                                                                                "MT",
                                                                                "AI",
                                                                                "GN",
                                                                                "PW",
                                                                                "NA",
                                                                                "MX",
                                                                                "PL"
                                                                            ],
                                                                            "type": "string",
                                                                            "description": "Country code, using ISO 3166-1 alpha-2.",
                                                                            "title": "tax/country"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "country"
                                                                    ]
                                                                }
                                                            },
                                                            "accountUsage": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "types": {
                                                                        "type": "array",
                                                                        "items": {
                                                                            "enum": [
                                                                                "digitalAssets",
                                                                                "gamingOrBetting",
                                                                                "socialWelfarePayments",
                                                                                "savings",
                                                                                "salary",
                                                                                "sendAndReceiveMoneyTransfers",
                                                                                "inheritance",
                                                                                "investments",
                                                                                "incomeFromBusinessActivity",
                                                                                "personalExpenses",
                                                                                "other"
                                                                            ],
                                                                            "type": "string"
                                                                        },
                                                                        "description": "Account usage types",
                                                                        "title": "accountUsagePerson/types"
                                                                    },
                                                                    "otherNotes": {
                                                                        "type": "string",
                                                                        "description": "When “other” type is used then this field becomes mandatory to explain account usage in free text.",
                                                                        "title": "accountUsage/otherNotes",
                                                                        "minLength": 1,
                                                                        "maxLength": 30
                                                                    }
                                                                },
                                                                "required": [
                                                                    "types"
                                                                ],
                                                                "description": "Details about how the account will be used.",
                                                                "title": "person/accountUsage"
                                                            },
                                                            "enduserId": {
                                                                "type": "string",
                                                                "format": "uuid"
                                                            },
                                                            "createdAt": {
                                                                "type": "string",
                                                                "format": "date-time"
                                                            },
                                                            "citizenships": {
                                                                "type": "array",
                                                                "items": {
                                                                    "enum": [
                                                                        "CR",
                                                                        "TG",
                                                                        "TJ",
                                                                        "ZA",
                                                                        "IM",
                                                                        "PE",
                                                                        "LC",
                                                                        "CH",
                                                                        "RU",
                                                                        "MP",
                                                                        "CK",
                                                                        "SI",
                                                                        "AU",
                                                                        "KR",
                                                                        "IT",
                                                                        "FI",
                                                                        "GF",
                                                                        "SC",
                                                                        "SX",
                                                                        "TT",
                                                                        "TK",
                                                                        "MY",
                                                                        "SY",
                                                                        "MN",
                                                                        "TF",
                                                                        "KP",
                                                                        "AM",
                                                                        "DZ",
                                                                        "UY",
                                                                        "TD",
                                                                        "DJ",
                                                                        "BI",
                                                                        "MK",
                                                                        "MU",
                                                                        "LI",
                                                                        "NU",
                                                                        "GR",
                                                                        "GY",
                                                                        "CG",
                                                                        "NF",
                                                                        "ML",
                                                                        "AX",
                                                                        "GM",
                                                                        "SA",
                                                                        "CX",
                                                                        "BH",
                                                                        "NE",
                                                                        "BN",
                                                                        "MF",
                                                                        "CD",
                                                                        "DK",
                                                                        "BJ",
                                                                        "ME",
                                                                        "SJ",
                                                                        "BO",
                                                                        "JO",
                                                                        "CV",
                                                                        "VE",
                                                                        "CI",
                                                                        "UZ",
                                                                        "TN",
                                                                        "IS",
                                                                        "EH",
                                                                        "TM",
                                                                        "GA",
                                                                        "LS",
                                                                        "TZ",
                                                                        "AT",
                                                                        "LT",
                                                                        "NP",
                                                                        "BG",
                                                                        "IL",
                                                                        "GU",
                                                                        "PK",
                                                                        "PT",
                                                                        "HR",
                                                                        "VU",
                                                                        "PF",
                                                                        "BM",
                                                                        "MR",
                                                                        "GE",
                                                                        "HU",
                                                                        "TW",
                                                                        "MM",
                                                                        "VG",
                                                                        "YE",
                                                                        "SR",
                                                                        "PN",
                                                                        "VA",
                                                                        "PR",
                                                                        "KW",
                                                                        "SE",
                                                                        "GB",
                                                                        "UM",
                                                                        "VN",
                                                                        "CF",
                                                                        "PA",
                                                                        "VC",
                                                                        "JP",
                                                                        "IR",
                                                                        "AF",
                                                                        "LY",
                                                                        "MZ",
                                                                        "RO",
                                                                        "QA",
                                                                        "CM",
                                                                        "GG",
                                                                        "BY",
                                                                        "SD",
                                                                        "BQ",
                                                                        "MO",
                                                                        "KY",
                                                                        "AR",
                                                                        "BR",
                                                                        "ZW",
                                                                        "NR",
                                                                        "NZ",
                                                                        "AW",
                                                                        "FJ",
                                                                        "ID",
                                                                        "SV",
                                                                        "CN",
                                                                        "FM",
                                                                        "HT",
                                                                        "CC",
                                                                        "RW",
                                                                        "BA",
                                                                        "TL",
                                                                        "JM",
                                                                        "KM",
                                                                        "KE",
                                                                        "WS",
                                                                        "TO",
                                                                        "PY",
                                                                        "SH",
                                                                        "CY",
                                                                        "GH",
                                                                        "MA",
                                                                        "SG",
                                                                        "LK",
                                                                        "PH",
                                                                        "SM",
                                                                        "WF",
                                                                        "TR",
                                                                        "PS",
                                                                        "BZ",
                                                                        "CU",
                                                                        "TV",
                                                                        "AD",
                                                                        "SB",
                                                                        "DM",
                                                                        "LR",
                                                                        "OM",
                                                                        "SO",
                                                                        "DO",
                                                                        "AL",
                                                                        "BL",
                                                                        "FR",
                                                                        "GW",
                                                                        "MS",
                                                                        "BB",
                                                                        "CA",
                                                                        "MG",
                                                                        "KH",
                                                                        "LA",
                                                                        "GP",
                                                                        "BV",
                                                                        "HN",
                                                                        "TH",
                                                                        "DE",
                                                                        "LB",
                                                                        "KZ",
                                                                        "AS",
                                                                        "EC",
                                                                        "NO",
                                                                        "AO",
                                                                        "FK",
                                                                        "ET",
                                                                        "GS",
                                                                        "MD",
                                                                        "AG",
                                                                        "BE",
                                                                        "MV",
                                                                        "SZ",
                                                                        "CZ",
                                                                        "CL",
                                                                        "BT",
                                                                        "NL",
                                                                        "EG",
                                                                        "MQ",
                                                                        "SN",
                                                                        "FO",
                                                                        "EE",
                                                                        "AQ",
                                                                        "ST",
                                                                        "KN",
                                                                        "BW",
                                                                        "MH",
                                                                        "NI",
                                                                        "PG",
                                                                        "VI",
                                                                        "IQ",
                                                                        "KG",
                                                                        "US",
                                                                        "ZM",
                                                                        "MC",
                                                                        "GI",
                                                                        "NC",
                                                                        "GT",
                                                                        "BF",
                                                                        "YT",
                                                                        "LU",
                                                                        "UA",
                                                                        "IE",
                                                                        "LV",
                                                                        "GD",
                                                                        "MW",
                                                                        "BS",
                                                                        "AZ",
                                                                        "SK",
                                                                        "GQ",
                                                                        "TC",
                                                                        "RE",
                                                                        "IN",
                                                                        "ES",
                                                                        "GL",
                                                                        "KI",
                                                                        "HK",
                                                                        "CO",
                                                                        "SS",
                                                                        "RS",
                                                                        "IO",
                                                                        "NG",
                                                                        "UG",
                                                                        "CW",
                                                                        "SL",
                                                                        "ER",
                                                                        "JE",
                                                                        "AE",
                                                                        "HM",
                                                                        "PM",
                                                                        "BD",
                                                                        "MT",
                                                                        "AI",
                                                                        "GN",
                                                                        "PW",
                                                                        "NA",
                                                                        "MX",
                                                                        "PL"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "description": "List of countries where the person holds citizenship. Each country should be provided as an ISO 3166-1 alpha-2 country code.",
                                                                "title": "person/citizenships"
                                                            },
                                                            "riskScore": {
                                                                "enum": [
                                                                    "low",
                                                                    "high",
                                                                    "lowMedium",
                                                                    "mediumHigh",
                                                                    "medium"
                                                                ],
                                                                "type": "string",
                                                                "description": "Assessed risk level of the enduser.",
                                                                "title": "enduser/riskScore"
                                                            },
                                                            "lastName": {
                                                                "type": "string",
                                                                "description": "Enduser's last name.",
                                                                "title": "person/lastName",
                                                                "minLength": 1,
                                                                "maxLength": 200
                                                            },
                                                            "dateOfBirth": {
                                                                "type": "string",
                                                                "format": "date",
                                                                "description": "Associated person's date of birth in ISO 8601 format (YYYY-MM-DD). No time or timezone information.",
                                                                "title": "person/dateOfBirth"
                                                            },
                                                            "gender": {
                                                                "enum": [
                                                                    "male",
                                                                    "female",
                                                                    "other"
                                                                ],
                                                                "type": "string",
                                                                "description": "Enduser's gender.",
                                                                "title": "person/gender"
                                                            },
                                                            "email": {
                                                                "type": "string",
                                                                "format": "email",
                                                                "description": "Email address. Must be a valid email.",
                                                                "title": "email/email",
                                                                "minLength": 1,
                                                                "maxLength": 320,
                                                                "pattern": "^[a-zA-Z0-9!#$%&'*+\\/=?^_`{|}~-][a-zA-Z0-9.!#$%&'*+\\/=?^_`{|}~-]{0,63}@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]{2,7})*$"
                                                            },
                                                            "placeOfBirthCountry": {
                                                                "enum": [
                                                                    "CR",
                                                                    "TG",
                                                                    "TJ",
                                                                    "ZA",
                                                                    "IM",
                                                                    "PE",
                                                                    "LC",
                                                                    "RH",
                                                                    "CH",
                                                                    "RU",
                                                                    "MP",
                                                                    "CK",
                                                                    "SI",
                                                                    "AU",
                                                                    "KR",
                                                                    "IT",
                                                                    "TP",
                                                                    "FI",
                                                                    "GF",
                                                                    "SC",
                                                                    "SX",
                                                                    "TT",
                                                                    "TK",
                                                                    "MY",
                                                                    "SY",
                                                                    "MN",
                                                                    "TF",
                                                                    "KP",
                                                                    "AM",
                                                                    "DZ",
                                                                    "DY",
                                                                    "UY",
                                                                    "VD",
                                                                    "TD",
                                                                    "DJ",
                                                                    "BI",
                                                                    "MK",
                                                                    "MU",
                                                                    "LI",
                                                                    "NU",
                                                                    "GR",
                                                                    "GY",
                                                                    "CG",
                                                                    "NF",
                                                                    "ML",
                                                                    "AX",
                                                                    "GM",
                                                                    "SA",
                                                                    "CX",
                                                                    "BH",
                                                                    "NE",
                                                                    "BN",
                                                                    "MF",
                                                                    "CD",
                                                                    "DK",
                                                                    "BJ",
                                                                    "NH",
                                                                    "ME",
                                                                    "SJ",
                                                                    "CS",
                                                                    "BO",
                                                                    "JO",
                                                                    "SU",
                                                                    "CV",
                                                                    "VE",
                                                                    "CI",
                                                                    "UZ",
                                                                    "NT",
                                                                    "PZ",
                                                                    "TN",
                                                                    "IS",
                                                                    "EH",
                                                                    "TM",
                                                                    "GA",
                                                                    "LS",
                                                                    "TZ",
                                                                    "AT",
                                                                    "LT",
                                                                    "NP",
                                                                    "BG",
                                                                    "IL",
                                                                    "GU",
                                                                    "PK",
                                                                    "PT",
                                                                    "HR",
                                                                    "VU",
                                                                    "PF",
                                                                    "BM",
                                                                    "MR",
                                                                    "GE",
                                                                    "HU",
                                                                    "TW",
                                                                    "MM",
                                                                    "YU",
                                                                    "WK",
                                                                    "VG",
                                                                    "YE",
                                                                    "SR",
                                                                    "PN",
                                                                    "VA",
                                                                    "AN",
                                                                    "PR",
                                                                    "KW",
                                                                    "FX",
                                                                    "NQ",
                                                                    "SE",
                                                                    "GB",
                                                                    "UM",
                                                                    "VN",
                                                                    "CF",
                                                                    "PA",
                                                                    "VC",
                                                                    "JP",
                                                                    "IR",
                                                                    "AF",
                                                                    "LY",
                                                                    "MZ",
                                                                    "RO",
                                                                    "QA",
                                                                    "CM",
                                                                    "GG",
                                                                    "BY",
                                                                    "SD",
                                                                    "DD",
                                                                    "BQ",
                                                                    "MO",
                                                                    "KY",
                                                                    "CT",
                                                                    "AR",
                                                                    "BR",
                                                                    "ZW",
                                                                    "NR",
                                                                    "NZ",
                                                                    "AW",
                                                                    "FJ",
                                                                    "ID",
                                                                    "SV",
                                                                    "ZR",
                                                                    "CN",
                                                                    "FM",
                                                                    "HT",
                                                                    "CC",
                                                                    "RW",
                                                                    "BA",
                                                                    "TL",
                                                                    "JM",
                                                                    "KM",
                                                                    "KE",
                                                                    "WS",
                                                                    "TO",
                                                                    "PY",
                                                                    "SH",
                                                                    "CY",
                                                                    "GH",
                                                                    "MA",
                                                                    "SG",
                                                                    "LK",
                                                                    "PH",
                                                                    "SM",
                                                                    "WF",
                                                                    "TR",
                                                                    "PS",
                                                                    "JT",
                                                                    "BZ",
                                                                    "CU",
                                                                    "TV",
                                                                    "AD",
                                                                    "SB",
                                                                    "PC",
                                                                    "DM",
                                                                    "LR",
                                                                    "OM",
                                                                    "SO",
                                                                    "DO",
                                                                    "PU",
                                                                    "AL",
                                                                    "BL",
                                                                    "FR",
                                                                    "GW",
                                                                    "MS",
                                                                    "BB",
                                                                    "CA",
                                                                    "MG",
                                                                    "KH",
                                                                    "LA",
                                                                    "GP",
                                                                    "BV",
                                                                    "HV",
                                                                    "HN",
                                                                    "TH",
                                                                    "DE",
                                                                    "LB",
                                                                    "KZ",
                                                                    "AS",
                                                                    "EC",
                                                                    "NO",
                                                                    "AO",
                                                                    "FK",
                                                                    "ET",
                                                                    "GS",
                                                                    "MD",
                                                                    "AG",
                                                                    "BE",
                                                                    "BU",
                                                                    "MV",
                                                                    "SZ",
                                                                    "CZ",
                                                                    "CL",
                                                                    "FQ",
                                                                    "BT",
                                                                    "NL",
                                                                    "EG",
                                                                    "MQ",
                                                                    "SN",
                                                                    "FO",
                                                                    "EE",
                                                                    "AQ",
                                                                    "ST",
                                                                    "KN",
                                                                    "BW",
                                                                    "MH",
                                                                    "NI",
                                                                    "PG",
                                                                    "VI",
                                                                    "IQ",
                                                                    "KG",
                                                                    "US",
                                                                    "ZM",
                                                                    "MC",
                                                                    "GI",
                                                                    "NC",
                                                                    "GT",
                                                                    "BF",
                                                                    "YT",
                                                                    "LU",
                                                                    "UA",
                                                                    "IE",
                                                                    "LV",
                                                                    "GD",
                                                                    "MW",
                                                                    "BS",
                                                                    "AZ",
                                                                    "SK",
                                                                    "GQ",
                                                                    "TC",
                                                                    "RE",
                                                                    "IN",
                                                                    "ES",
                                                                    "GL",
                                                                    "KI",
                                                                    "HK",
                                                                    "CO",
                                                                    "SS",
                                                                    "RS",
                                                                    "IO",
                                                                    "NG",
                                                                    "UG",
                                                                    "CW",
                                                                    "SL",
                                                                    "ER",
                                                                    "JE",
                                                                    "AE",
                                                                    "HM",
                                                                    "PM",
                                                                    "BD",
                                                                    "MT",
                                                                    "AI",
                                                                    "YD",
                                                                    "GN",
                                                                    "PW",
                                                                    "NA",
                                                                    "MX",
                                                                    "PL"
                                                                ],
                                                                "type": "string",
                                                                "description": "Country where the enduser was born, provided as an ISO 3166-1 alpha-2 country code. Additionally allows former country codes as an ISO 3166-3 alpha-2 code",
                                                                "title": "person/placeOfBirthCountry"
                                                            },
                                                            "onboardedAt": {
                                                                "type": "string",
                                                                "format": "date-time"
                                                            },
                                                            "firstName": {
                                                                "type": "string",
                                                                "description": "Enduser's first name.",
                                                                "title": "person/firstName",
                                                                "minLength": 1,
                                                                "maxLength": 200
                                                            },
                                                            "middleNames": {
                                                                "type": "string",
                                                                "description": "Enduser's middle name(s), if any.",
                                                                "title": "person/middleNames",
                                                                "minLength": 1,
                                                                "maxLength": 200
                                                            },
                                                            "telephone": {
                                                                "type": "string",
                                                                "description": "Phone number. Cannot start with 0 and without '+' sign (e.g., 1012555123).",
                                                                "title": "telephone/telephone",
                                                                "minLength": 1,
                                                                "maxLength": 14
                                                            },
                                                            "metadata": {
                                                                "type": "object",
                                                                "description": "Additional custom metadata about the enduser. Key-value pairs for custom data.",
                                                                "title": "enduser/metadata"
                                                            },
                                                            "occupation": {
                                                                "type": "string",
                                                                "description": "Enduser's job title or profession.",
                                                                "title": "person/occupation",
                                                                "minLength": 1,
                                                                "maxLength": 200
                                                            },
                                                            "type": {
                                                                "enum": [
                                                                    "person"
                                                                ],
                                                                "type": "string",
                                                                "description": "Type of enduser. Must be \"person\" for this schema.",
                                                                "title": "person/type"
                                                            },
                                                            "placeOfBirthCity": {
                                                                "type": "string",
                                                                "description": "City where the enduser was born.",
                                                                "title": "person/placeOfBirthCity",
                                                                "minLength": 1,
                                                                "maxLength": 200
                                                            },
                                                            "isPep": {
                                                                "type": "boolean",
                                                                "description": "Indicates if the associated person is a Politically Exposed Person. Must be either true or false.",
                                                                "title": "person/isPep"
                                                            },
                                                            "vulnerableDetails": {
                                                                "type": "string",
                                                                "description": "Details about the enduser's vulnerability status, if applicable",
                                                                "title": "person/vulnerableDetails",
                                                                "minLength": 1,
                                                                "maxLength": 160
                                                            },
                                                            "expectedVolume": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "range": {
                                                                        "enum": [
                                                                            "0-5000",
                                                                            "5001-10000",
                                                                            "10000+"
                                                                        ],
                                                                        "type": "string",
                                                                        "description": "Range of the expected transaction volumes.",
                                                                        "title": "expectedVolumePerson/range"
                                                                    },
                                                                    "type": {
                                                                        "enum": [
                                                                            "monthly"
                                                                        ],
                                                                        "type": "string",
                                                                        "description": "Define frequency for the range.",
                                                                        "title": "expectedVolume/type"
                                                                    },
                                                                    "currency": {
                                                                        "enum": [
                                                                            "EUR",
                                                                            "GBP"
                                                                        ],
                                                                        "type": "string",
                                                                        "description": "Currency of expected transaction volumes. Provided as an ISO 4217 currency code. ",
                                                                        "title": "expectedVolume/currency"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "range",
                                                                    "type",
                                                                    "currency"
                                                                ],
                                                                "description": "Expected transaction volume for the account.",
                                                                "title": "person/expectedVolume"
                                                            },
                                                            "employmentStatus": {
                                                                "enum": [
                                                                    "partTimeEmployed",
                                                                    "selfEmployed",
                                                                    "unemployed",
                                                                    "fullTimeEmployed",
                                                                    "retired"
                                                                ],
                                                                "type": "string",
                                                                "description": "Current employment status of the enduser.",
                                                                "title": "person/employmentStatus"
                                                            },
                                                            "residentialAddress": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "houseNumber": {
                                                                        "type": "string",
                                                                        "description": "House number or building name of residence.",
                                                                        "title": "address/houseNumber",
                                                                        "minLength": 1,
                                                                        "maxLength": 100
                                                                    },
                                                                    "street": {
                                                                        "type": "string",
                                                                        "description": "Street name of residence.",
                                                                        "title": "address/street",
                                                                        "minLength": 1,
                                                                        "maxLength": 100
                                                                    },
                                                                    "city": {
                                                                        "type": "string",
                                                                        "description": "City of residence.",
                                                                        "title": "address/city",
                                                                        "minLength": 1,
                                                                        "maxLength": 100
                                                                    },
                                                                    "postalCode": {
                                                                        "type": "string",
                                                                        "description": "Postal code of residence.",
                                                                        "title": "address/postalCode",
                                                                        "minLength": 1,
                                                                        "maxLength": 10
                                                                    },
                                                                    "country": {
                                                                        "enum": [
                                                                            "CR",
                                                                            "TG",
                                                                            "TJ",
                                                                            "ZA",
                                                                            "IM",
                                                                            "PE",
                                                                            "LC",
                                                                            "CH",
                                                                            "RU",
                                                                            "MP",
                                                                            "CK",
                                                                            "SI",
                                                                            "AU",
                                                                            "KR",
                                                                            "IT",
                                                                            "FI",
                                                                            "GF",
                                                                            "SC",
                                                                            "SX",
                                                                            "TT",
                                                                            "TK",
                                                                            "MY",
                                                                            "SY",
                                                                            "MN",
                                                                            "TF",
                                                                            "KP",
                                                                            "AM",
                                                                            "DZ",
                                                                            "UY",
                                                                            "TD",
                                                                            "DJ",
                                                                            "BI",
                                                                            "MK",
                                                                            "MU",
                                                                            "LI",
                                                                            "NU",
                                                                            "GR",
                                                                            "GY",
                                                                            "CG",
                                                                            "NF",
                                                                            "ML",
                                                                            "AX",
                                                                            "GM",
                                                                            "SA",
                                                                            "CX",
                                                                            "BH",
                                                                            "NE",
                                                                            "BN",
                                                                            "MF",
                                                                            "CD",
                                                                            "DK",
                                                                            "BJ",
                                                                            "ME",
                                                                            "SJ",
                                                                            "BO",
                                                                            "JO",
                                                                            "CV",
                                                                            "VE",
                                                                            "CI",
                                                                            "UZ",
                                                                            "TN",
                                                                            "IS",
                                                                            "EH",
                                                                            "TM",
                                                                            "GA",
                                                                            "LS",
                                                                            "TZ",
                                                                            "AT",
                                                                            "LT",
                                                                            "NP",
                                                                            "BG",
                                                                            "IL",
                                                                            "GU",
                                                                            "PK",
                                                                            "PT",
                                                                            "HR",
                                                                            "VU",
                                                                            "PF",
                                                                            "BM",
                                                                            "MR",
                                                                            "GE",
                                                                            "HU",
                                                                            "TW",
                                                                            "MM",
                                                                            "VG",
                                                                            "YE",
                                                                            "SR",
                                                                            "PN",
                                                                            "VA",
                                                                            "PR",
                                                                            "KW",
                                                                            "SE",
                                                                            "GB",
                                                                            "UM",
                                                                            "VN",
                                                                            "CF",
                                                                            "PA",
                                                                            "VC",
                                                                            "JP",
                                                                            "IR",
                                                                            "AF",
                                                                            "LY",
                                                                            "MZ",
                                                                            "RO",
                                                                            "QA",
                                                                            "CM",
                                                                            "GG",
                                                                            "BY",
                                                                            "SD",
                                                                            "BQ",
                                                                            "MO",
                                                                            "KY",
                                                                            "AR",
                                                                            "BR",
                                                                            "ZW",
                                                                            "NR",
                                                                            "NZ",
                                                                            "AW",
                                                                            "FJ",
                                                                            "ID",
                                                                            "SV",
                                                                            "CN",
                                                                            "FM",
                                                                            "HT",
                                                                            "CC",
                                                                            "RW",
                                                                            "BA",
                                                                            "TL",
                                                                            "JM",
                                                                            "KM",
                                                                            "KE",
                                                                            "WS",
                                                                            "TO",
                                                                            "PY",
                                                                            "SH",
                                                                            "CY",
                                                                            "GH",
                                                                            "MA",
                                                                            "SG",
                                                                            "LK",
                                                                            "PH",
                                                                            "SM",
                                                                            "WF",
                                                                            "TR",
                                                                            "PS",
                                                                            "BZ",
                                                                            "CU",
                                                                            "TV",
                                                                            "AD",
                                                                            "SB",
[...]
