{"openapi":"3.0.1","info":{"title":"PayMaya Connect","description":"PayMaya Connect OAuth endpoints","version":"1.24.11"},"servers":[{"url":"https://connect-sb-issuing.paymaya.com"}],"paths":{"/authorize":{"get":{"summary":"Authorize","description":"This endpoint is used to interact with the resource owner and obtain an authorization grant by redirecting the user's browser. Note: This is a web endpoint and not an API endpoint.","responses":{"302":{"description":"The request should follow the redirection to the URI provided.","content":{"text/html":{"examples":{"success_redirect":{"summary":"Successful redirect","value":"Page should be redirected to the URI provided by the client."}}}}},"400":{"description":"Client error due to invalid request parameters.","content":{"text/html":{"examples":{"invalid_client_id":{"summary":"Invalid Client ID","value":"<html><body>Client with ID clientabc not found. If you need assistance, contact us with this reference ID: 9db6533d-d39e-4928-ac53-378e5f578dee.</body></html>"},"invalid_redirect_uri":{"summary":"Invalid Redirect URI","value":"<html><body>Invalid redirect: http://somewrongurl:8080/324/callback does not match one of the registered values. If you need assistance, contact us with this reference id: sample-reference-id.</body></html>"}}}}}},"parameters":[{"name":"response_type","in":"query","required":true,"schema":{"type":"string"},"example":"code","description":"Response type to indicate the authorization processing flow to be used. When using the Authorization Code Flow, this value is code."},{"name":"client_id","in":"query","required":true,"schema":{"type":"string"},"example":"clientxyz","description":"Client ID."},{"name":"redirect_uri","in":"query","required":true,"schema":{"type":"string","format":"uri"},"example":"https://maya-merchant.com/home","description":"Redirection URI to which the response will be sent. Must exactly match one of the Redirection URI values registered for the Client ID."},{"name":"scope","in":"query","schema":{"type":"string"},"example":"add_money%20kyc%20phone","description":"Space-delimited list of scopes you want to request the user to authorize. Omitting this will default to requesting all the scopes the client has"},{"name":"state","in":"query","schema":{"type":"string"},"example":"currentstate","description":"Used to maintain state between the request and the callback. This parameter can be used to mitigate Cross-Site Request Forgery (CSRF) attacks."},{"name":"prompt","in":"query","schema":{"type":"string","enum":["login","consent","none"]},"example":"login","description":"Possible values: login, consent and none"},{"name":"user_id","in":"query","schema":{"type":"string"},"example":"639171111111","description":"Possible values: MIN, email or new"},{"name":"first_name","in":"query","schema":{"type":"string"},"example":"John","description":"Pre-fills the first name in the registration form. Value is editable."},{"name":"last_name","in":"query","schema":{"type":"string"},"example":"Doe","description":"Pre-fills the last name in the registration form. Value is editable."},{"name":"backup_identity","in":"query","schema":{"type":"string"},"example":"test@test.com","description":"Pre-fills the backup identity in the registration form. Value is editable."},{"name":"flow","in":"query","schema":{"type":"string","enum":["push"]},"example":"push","description":"Possible values: push. If not specified, user will be redirected to the BAU login via username/password flow"}]}},"/token":{"post":{"summary":"Create Access Token","description":"Generate an access token for different flows\n\n**Default validity in seconds:**\n- access_token: 3600\n- id_token: 600\n- refresh_token: 604800\n- authorization_code: 300","x-readme":{"code-samples":[{"language":"curl","code":"curl --request POST \\\n--url https://connect-sb-issuing.paymaya.com/token \\\n--header 'Content-Type: application/x-www-form-urlencoded' \\\n--header 'Authorization: Basic Y2xpZW50aWQ6c2stZHVtbXlzZWNyZXR2YWx1ZQ==' \\\n--data-urlencode 'grant_type=client_credentials'","name":"Client Creds"},{"language":"curl","code":"curl --request POST \\\n--url https://connect-sb-issuing.paymaya.com/token \\\n--header 'Content-Type: application/x-www-form-urlencoded' \\\n--header 'Authorization: Basic Y2xpZW50aWQ6c2stZHVtbXlzZWNyZXR2YWx1ZQ==' \\\n--data-urlencode 'grant_type=authorization_code' \\\n--data-urlencode 'code=EmLyJF' \\\n--data-urlencode 'redirect_uri=http://localhost:8080/callback'","name":"Auth Code"},{"language":"curl","code":"curl --request POST \\\n--url https://connect-sb-issuing.paymaya.com/token \\\n--header 'Content-Type: application/x-www-form-urlencoded' \\\n--header 'Authorization: Basic Y2xpZW50aWQ6c2stZHVtbXlzZWNyZXR2YWx1ZQ==' \\\n--data-urlencode 'grant_type=refresh_token' \\\n--data-urlencode 'refresh_token= eyJraWQiOiJyc2ExIiwiYWxnIjoiUlMyNTYifQ.eyJzdWIiOiJzdW5mbG93ZXJ0ZXN0IiwiYXpwIjoic3VuZmxvd2VydGVzdCIsInNjb3BlIjoiaW50ZXJuYWwgc2hvcCBjaGFuZ2VfaWRlbnRpdHkgb3BlbmlkIG9mZmxpbmVfYWNjZXNzIGJpbGwgYWxpYXMiLCJpc3MiOiJodHRwczpcL1wvcGF5bWF5YS1jb25uZWN0LXRlc3QtY29ycC5wYXltYXlhLmNvbSIsImV4cCI6MTYxMjE0Nzg2MSwiaWF0IjoxNjEyMTQ3ODAyLCJqdGkiOiJkOWQ2NjI4YS0zNGQwLTRkNDctOGQxMy1mOWNjN2YxYjQ4ODUifQ.RNt5qYCniFcpZz9qcAhG8whIQcR8lOOb4djLXB0W15-_-JiDJRqgRfz6gqECT_zDoPUmpW99LzGT6XVKWdMnX_HgO2z48JpHdkrNVnwIuG4Wnqek_H-XrU4xWcUWyr4ltGxPi2NmkWASdzgKUMVnYGhLWWLEEYS47Fhqms9WyFzUKY_jZ-8itXJfHObwL84vSslxzEp9oKAVKOeAkXagIgpdsUry-tO5kdP3IPC8MbDe0axTY4IIQNOanfsDpF6NRuwT77w7j33nIMNp2W6HaFldfHGJvWD97KjIxcoTA1eU_iNFBRw5o6uQT_Ml24xOlK_JBl7WGhsTiT-nPB6VDA'","name":"Refresh Token"}]},"parameters":[{"$ref":"#/components/parameters/ContentTypeURLEncoded"},{"$ref":"#/components/parameters/BasicAuthorization"}],"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"oneOf":[{"description":"Authorization Code","$ref":"#/components/schemas/AuthorizationCodeRequest"},{"description":"Client Credentials","$ref":"#/components/schemas/ClientCredentialsRequest"},{"description":"Refresh Token","$ref":"#/components/schemas/RefreshTokenRequest"}]},"examples":{"Client Credentials Grant":{"summary":"Client Credentials Example","value":"grant_type=client_credentials&client_id=960b3d64-ee70-4eea-8cb2-d833eb4a781f&client_secret=67d49f83-236f-4d89-b9a1-8637abd20303"},"Authorization Code Grant":{"value":{"grant_type":"authorization_code","code":"EmLyJF","redirect_uri":"http://localhost:8080/callback"}},"Refresh Token Grant":{"value":{"grant_type":"refresh_token","refresh_token":"eyJraWQiOiJyc2ExIiwiYWxnIjoiUlMyNTYifQ.eyJzdWIiOiJzdW5mbG93ZXJ0ZXN0IiwiYXpwIjoic3VuZmxvd2VydGVzdCIsInNjb3BlIjoiaW50ZXJuYWwgc2hvcCBjaGFuZ2VfaWRlbnRpdHkgb3BlbmlkIG9mZmxpbmVfYWNjZXNzIGJpbGwgYWxpYXMiLCJpc3MiOiJodHRwczpcL1wvcGF5bWF5YS1jb25uZWN0LXRlc3QtY29ycC5wYXltYXlhLmNvbSIsImV4cCI6MTYxMjE0Nzg2MSwiaWF0IjoxNjEyMTQ3ODAyLCJqdGkiOiJkOWQ2NjI4YS0zNGQwLTRkNDctOGQxMy1mOWNjN2YxYjQ4ODUifQ.RNt5qYCniFcpZz9qcAhG8whIQcR8lOOb4djLXB0W15-_-JiDJRqgRfz6gqECT_zDoPUmpW99LzGT6XVKWdMnX_HgO2z48JpHdkrNVnwIuG4Wnqek_H-XrU4xWcUWyr4ltGxPi2NmkWASdzgKUMVnYGhLWWLEEYS47Fhqms9WyFzUKY_jZ-8itXJfHObwL84vSslxzEp9oKAVKOeAkXagIgpdsUry-tO5kdP3IPC8MbDe0axTY4IIQNOanfsDpF6NRuwT77w7j33nIMNp2W6HaFldfHGJvWD97KjIxcoTA1eU_iNFBRw5o6uQT_Ml24xOlK_JBl7WGhsTiT-nPB6VDA"}}}}}},"responses":{"200":{"description":"Returns a new access token","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/ClientCredentialsTokenResponse"},{"$ref":"#/components/schemas/AuthorizationCodeTokenResponse"},{"$ref":"#/components/schemas/RefreshTokenResponse"}]},"examples":{"Client Credentials Grant":{"$ref":"#/components/examples/client_credentials_success_grant"},"Authorization Code Grant":{"$ref":"#/components/examples/authorization_code_success_grant"},"Refresh Token Grant":{"$ref":"#/components/examples/refresh_token_success_grant"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthApiError"},"examples":{"Missing Grant Type":{"value":{"error":"invalid_request","error_description":"Missing grant type","logref":"bc7eba38-f86c-4822-b40c-abc623289d6f"}},"Unsupported Grant Type":{"value":{"error":"unsupported_grant_type","error_description":"Unsupported grant type: client_credentials234","logref":"a78737aa-24f8-4956-aaec-bf9c4dd17bc5"}},"Invalid Grant Type":{"value":{"error":"invalid_grant","error_description":"JpaAuthorizationCodeRepository: no authorization code found for value <code>"}},"Redirect URI Mismatch":{"value":{"error":"invalid_grant","error_description":"Redirect URI mismatch."}},"Invalid Refresh Token":{"value":{"error":"invalid_token","error_description":"Invalid refresh token: eyJraWQiOiJyc2ExIiwiYWxnIjoiUlMyNTYifQ.eyJzdWIiOiI0OWVhOWJjYS01NzQ3LTQyYzEtYjg5NC03ZmNiOTE4NGM3YzciLCJhenAiOiJmYWNlYm9vayIsInNjb3BlIjoic2hvcCBhY3Rpdml0eSBjYXJkLnJlYWQgb3BlbmlkIHB1cmNoYXNlIGJpbGwgdHJhbnNmZXIgYmFsYW5jZSBreWMgbWlzc2lvbnMgb2ZmbGluZV9hY2Nlc3MgYWxsLnJlYWQgYWxpYXMgcmVnaXN0cmF0aW9uIGFsbC53cml0ZSIsImlzcyI6Imh0dHBzOlwvXC9wYXltYXlhLWNvbm5lY3QtdGVzdC1jb3JwLnBheW1heWEuY29tIiwiZXhwIjoxNjYyNzM1MTM1LCJpYXQiOjE2NjI3MzE1MzUsImp0aSI6ImQ0MDI0YThmLTU4NDAtNDM0My1hNmYxLTExOTM5NzBkYTUyMSJ9.RqhiPznsn3cWMejg9LApGBar35Wx3I66eW4xGEfq_X4jLnO2Rrifa0l4FzQG0ogPMY0sI0XPEAUhXw2XkNWpR5SHOgoxkOd7jTGua4Dto993vUKchoTN7srQc8jqtvGVE4Qxtzf4RDHqe5mpzIvSKnZyg8GjF-6bh1j-gUNtY_jrMR8763ox9bRaZtFc6YhBA9EEpaPkGWhfKwNwVAI5OCFAMHx8_Rn_1uR_5eZhIqWtRVyJAVdGfBr0sCoLm4_GhZrilZJsL-_alQXkSXmluudVrN2ffs95ZqNvr6PVgYLyCX9X2Moi_wzjWKvy8ifaWDmwh8B0cQvxzUMNu-53ew","logref":"228eea5d-3b93-4a19-9d0e-b28e31f2f5ba","additional_info":""}},"Invalid Scope":{"value":{"error":"invalid_scope","error_description":"Invalid scope; requested:[openid]","logref":"adcf2b61-0b61-492b-bd55-11f58d6935b5","additional_info":""}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthApiError"},"examples":{"Invalid Client Credentials":{"$ref":"#/components/examples/InvalidClientCredentialsResponse"},"Unauthorized Grant Type":{"value":{"error":"invalid_client","error_description":"Unauthorized grant type: refresh_token"}},"Unsupported Authentication Type":{"value":{"error":"unauthorized","error_description":"Client does not support this authentication method."}}}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServerError"},"examples":{"Server Error Response":{"$ref":"#/components/examples/ServerErrorResponse"}}}}}}}},"/userinfo":{"get":{"summary":"Get User Info","description":"Get the user's profile information. There is currently no checking of which details should be returned.","parameters":[{"$ref":"#/components/parameters/BearerAuthorization"}],"responses":{"200":{"description":"successful getting of userinfo","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserInfoResponse"},"examples":{"KYC0":{"$ref":"#/components/examples/kyc0_userinfo"},"KYC1":{"$ref":"#/components/examples/kyc1_userinfo"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthApiError"},"examples":{"Invalid Access Token":{"value":{"error":"invalid_token","error_description":"Invalid access token: eyJraWQiOiJyc2ExIiwiYWxnIjoiUlMyNTYifQ.eyJzdWIiOiIwOGViNjNjMy1mYzEzLTRiMWQtOGQ2NS1jZDQzOTUxYTVmNmEiLCJhenAiOiJmYWNlYm9vayIsInNjb3BlIjoic2hvcCBhY3Rpdml0eSBjYXJkLnJlYWQgb3BlbmlkIHB1cmNoYXNlIGJpbGwgdHJhbnNmZXIgYmFsYW5jZSBreWMgbWlzc2lvbnMgb2ZmbGluZV9hY2Nlc3MgYWxsLnJlYWQgYWxpYXMgcmVnaXN0cmF0aW9uIGFsbC53cml0ZSIsImlzcyI6Imh0dHBzOlwvXC9wYXltYXlhLWNvbm5lY3QtdGVzdC1jb3JwLnBheW1heWEuY29tIiwiZXhwIjoxNjM0ODA2OTEwLCJpYXQiOjE2MzQ4MDMzMTAsImp0aSI6ImMyZWUzZDkxLWMwMGItNDc5MC1iNDQ4LTM1OTdhYTUzNmQ4YyJ9.zvLzk7EykkqcXHXrWEfqh7myNIjd5n1mp83-fZDi3S5pubg1erbgBG-Ie3isWuR81NvrY6FxY3IJYYGNq1B1ki6KqnpkU8Nz0a5wJwIxPUlzenQ1kE0yb-xftAXiBGzFf6NEyMfxgW8MlFWt0gdBWy-cV8e9NhWFgWZsnjVDOrUmqI_MndrkzrRNeRMejaNMY4E98lHK_ghgA3tI2tlEp6dduv_w49-E6uZzZZOrBX2BZf3mu0ZkeqD99wkjMCpbSHvVkgj2TScRxFRa-Btnol1C43EBoLERV_A7zAqV3-KiOUmanA5t-2BUNu-oOQ7ynqUEntPeKt1W5lgEFvEdMw"}}}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthApiError"},"examples":{"Access token was generated via client_credentials":{"$ref":"#/components/examples/ForbiddenErrorResponse"}}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServerError"},"examples":{"Server Error Response":{"$ref":"#/components/examples/ServerErrorResponse"}}}}}}}},"/jwk":{"get":{"summary":"Get JSON Web Key Set","description":"Retrieve the public server JSON Web Key (JWK) to verify the signature of an issued token or to encrypt request objects to it.","responses":{"200":{"description":"Successful response containing the JWK set.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JwksResponse"},"examples":{"jwk_response":{"summary":"Successful JWK response","value":{"keys":[{"kty":"RSA","e":"AQAB","kid":"rsa1","alg":"RS256","n":"5t8..."}]}}}}}},"404":{"description":"JWKS not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthApiError"},"examples":{"Not Found":{"$ref":"#/components/examples/NotFoundErrorResponse"}}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServerError"},"examples":{"Server Error Response":{"$ref":"#/components/examples/ServerErrorResponse"}}}}}}}}},"components":{"schemas":{"GrantType":{"type":"string","enum":["authorization_code","client_credentials","refresh_token"]},"AuthorizationCodeRequest":{"type":"object","required":["grant_type","code","redirect_uri"],"properties":{"grant_type":{"type":"string","enum":["authorization_code"],"description":"The grant type."},"code":{"type":"string","description":"The authorization code received from the authorization server."},"redirect_uri":{"type":"string","format":"uri","description":"The same redirect URI that was used in the authorization request."}}},"ClientCredentialsRequest":{"type":"object","required":["grant_type"],"properties":{"grant_type":{"type":"string","enum":["client_credentials"],"description":"The grant type.","example":"client_credentials"}}},"RefreshTokenRequest":{"type":"object","required":["grant_type","refresh_token"],"properties":{"grant_type":{"type":"string","enum":["refresh_token"],"description":"The grant type."},"refresh_token":{"type":"string","description":"The value of the refresh token."}}},"ApiSuccess":{"type":"object","properties":{"success":{"type":"string"},"data":{"type":"object"}}},"ApiError":{"description":"Error response returned by API","type":"object","required":["code","message"],"properties":{"code":{"type":"string"},"message":{"type":"string"}}},"Identity":{"description":"identity object","type":"object","properties":{"type":{"type":"string","enum":["email","msisdn"]},"value":{"type":"string"}}},"JwksResponse":{"description":"jwk response object","type":"object","properties":{"kty":{"type":"string","description":"Specifies the cryptographic algorithm family used with the key","enum":["RSA"]},"e":{"type":"string","description":"The exponent of the RSA key, encoded in Base64URL. This parameter applies to RSA keys"},"kid":{"type":"string","description":"(Key ID): A unique identifier for the key"},"alg":{"type":"string","description":"Identifies the algorithm intended for use with the key","enum":["RSA256"]},"n":{"type":"string","description":"The modulus of the RSA key, encoded in Base64URL. This parameter applies to RSA keys"}}},"ClientCredentialsTokenResponse":{"type":"object","properties":{"access_token":{"$ref":"#/components/schemas/AccessToken"},"token_type":{"$ref":"#/components/schemas/TokenType"},"expires_in":{"$ref":"#/components/schemas/AccessTokenExpiresIn"},"scope":{"$ref":"#/components/schemas/TokenScope"}},"required":["access_token","token_type","expires_in","scope"]},"AuthorizationCodeTokenResponse":{"type":"object","properties":{"access_token":{"$ref":"#/components/schemas/AccessToken"},"token_type":{"$ref":"#/components/schemas/TokenType"},"refresh_token":{"$ref":"#/components/schemas/RefreshToken"},"expires_in":{"$ref":"#/components/schemas/AccessTokenExpiresIn"},"scope":{"$ref":"#/components/schemas/TokenScope"},"id_token":{"$ref":"#/components/schemas/IdToken"}},"required":["access_token","token_type","expires_in","scope","id_token"]},"RefreshTokenResponse":{"type":"object","properties":{"access_token":{"$ref":"#/components/schemas/AccessToken"},"token_type":{"$ref":"#/components/schemas/TokenType"},"refresh_token":{"$ref":"#/components/schemas/RefreshToken"},"expires_in":{"$ref":"#/components/schemas/AccessTokenExpiresIn"},"scope":{"$ref":"#/components/schemas/TokenScope"},"id_token":{"$ref":"#/components/schemas/IdToken"}},"required":["access_token","token_type","refresh_token","expires_in","scope","id_token"]},"AccessToken":{"type":"string","format":"JWS","description":"The client token to be used in the Authorization header of Maya specific endpoints."},"TokenType":{"type":"string","enum":["Bearer"],"description":"The type of token. For client credentials, value should be: Bearer."},"AccessTokenExpiresIn":{"type":"integer","default":3599,"description":"Token validity in seconds"},"TokenScope":{"type":"string","format":"space-delimited list","default":"All scopes provided to the client upon onboarding","description":"The scope of the token"},"RequestScope":{"type":"string","format":"space-delimited list"},"RefreshToken":{"type":"string","format":"JWS","description":"Needs refresh_token grant. Contains the value of the refresh token. It is used to obtain a new access token when the current access token expires, without requiring the user to re-authenticate. "},"IdToken":{"type":"string","format":"JWS","description":" Contains the value of the ID token. An ID token is used to convey information about the authenticated user. This field will only be returned if a client has an openid scope. It is primarily used in OpenID Connect (OIDC), which is an identity layer built on top of OAuth 2.0"},"UserInfoOwner":{"type":"object","description":"Details of the account owner","required":["person"],"properties":{"person":{"$ref":"#/components/schemas/UserInfoPerson"}}},"UserInfoPerson":{"type":"object","required":["first_name","last_name"],"properties":{"first_name":{"$ref":"#/components/schemas/Name"},"last_name":{"$ref":"#/components/schemas/Name"},"middle_name":{"$ref":"#/components/schemas/Name"},"alternative_contact":{"$ref":"#/components/schemas/AltContact"},"birthdate":{"$ref":"#/components/schemas/BirthDate"},"birth_place":{"$ref":"#/components/schemas/BirthPlace"},"nationality":{"$ref":"#/components/schemas/CountryCode"},"present_address":{"$ref":"#/components/schemas/Address"},"permanent_address":{"$ref":"#/components/schemas/Address"},"id":{"$ref":"#/components/schemas/IdObject"},"photo_url":{"$ref":"#/components/schemas/PhotoUrl"},"tin":{"$ref":"#/components/schemas/LegacyID"},"ssn":{"$ref":"#/components/schemas/LegacyID"},"ids":{"$ref":"#/components/schemas/Attachment"},"liveness_video_url":{"$ref":"#/components/schemas/LivenessUrl"},"additional_docs":{"$ref":"#/components/schemas/Attachment"},"pep_status":{"type":"boolean"},"fund_source":{"$ref":"#/components/schemas/FundSource"},"work_nature":{"$ref":"#/components/schemas/WorkNature"},"employment_detail":{"$ref":"#/components/schemas/EmploymentDetail"},"kyc_verified":{"type":"boolean"},"kyc_level":{"type":"string","enum":["0","1"]},"account_status":{"type":"string"},"virtual_fund_source_status":{"type":"string"},"card_status":{"type":"string"},"type":{"$ref":"#/components/schemas/AccountType"}}},"UserInfoIdentityStatuses":{"type":"object","properties":{"identity_status":{"type":"array","items":{"anyOf":[{"$ref":"#/components/schemas/AutoProfileId"},{"$ref":"#/components/schemas/RegisteredMobileIdentity"},{"$ref":"#/components/schemas/RegisteredEmailIdentity"}]},"minItems":2,"maxItems":2}}},"UserInfoFundingSourceStatuses":{"type":"object","properties":{"funding_source_status":{"type":"array","items":{"$ref":"#/components/schemas/FundingSourceStatus"}}}},"Name":{"type":"string","maxLength":50},"AltContact":{"type":"object","description":"Back-up identity","anyOf":[{"$ref":"#/components/schemas/EmailIdentity"},{"$ref":"#/components/schemas/MobileIdentity"}]},"BirthDate":{"type":"string","format":"YYYY-MM-DD"},"BirthPlace":{"type":"object","properties":{"city":{"type":"string","maxLength":50},"country":{"$ref":"#/components/schemas/CountryCode"}}},"EmailIdentity":{"title":"email","type":"object","required":["type","value"],"properties":{"type":{"enum":["email"],"type":"string"},"value":{"type":"string","format":"email"}}},"RegisteredEmailIdentity":{"title":"email","type":"object","required":["identity","verified","registration_id"],"properties":{"identity":{"type":"object","required":["type","value"],"properties":{"type":{"enum":["email"],"type":"string"},"value":{"type":"string","format":"email"}}},"verified":{"type":"boolean","enum":[true]},"registration_id":{"type":"string","enum":["N/A"]}}},"MobileIdentity":{"title":"msisdn","type":"object","required":["type","value"],"properties":{"type":{"type":"string","enum":["msisdn"]},"value":{"type":"string","format":"+63##########"}}},"RegisteredMobileIdentity":{"title":"msisdn","type":"object","required":["identity","verified","registration_id"],"properties":{"identity":{"type":"object","required":["type","value"],"properties":{"type":{"type":"string","enum":["msisdn"]},"value":{"type":"string","format":"+63##########"}}},"verified":{"type":"boolean","enum":[true]},"registration_id":{"type":"string","enum":["N/A"]}}},"CountryCode":{"type":"string","format":"country code","maxLength":2},"Address":{"type":"object","required":["line1","locality","city","state","zip_code","country"],"properties":{"line1":{"type":"string","maxLength":100},"line2":{"type":"string","maxLength":100,"nullable":true},"locality":{"type":"string","maxLength":50},"city":{"type":"string","maxLength":50},"state":{"type":"string","maxLength":50},"zip_code":{"type":"string","maxLength":10},"country":{"$ref":"#/components/schemas/CountryCode"}}},"UserInfoResponse":{"type":"object","properties":{"owner":{"$ref":"#/components/schemas/UserInfoOwner"},"identity_statuses":{"$ref":"#/components/schemas/UserInfoIdentityStatuses"},"funding_source_statuses":{"$ref":"#/components/schemas/UserInfoFundingSourceStatuses"},"registration_channel":{"type":"string"}},"required":["owner","identity_statuses","funding_source_statuses","registration_channel"]},"OAuthApiError":{"description":"OAuth2.0 error responses","type":"object","required":["error","error_description"],"properties":{"error":{"type":"string","description":"The error code"},"error_description":{"type":"string","description":"Short description of the error"},"logref":{"type":"string","description":"The UUID identifier of the error"},"additional_info":{"type":"string","description":"Any additional information related to the error"}}},"ServerError":{"description":"Server Error","type":"object","required":["error","error_description"],"properties":{"error":{"type":"string","description":"The error code"},"error_description":{"type":"string","description":"Short description of the error"},"logref":{"type":"string","description":"The UUID identifier of the error"},"additional_info":{"type":"string","description":"Any additional information related to the error"}}},"IdObject":{"type":"object","required":["type","value"],"properties":{"type":{"type":"string","maxLength":50},"value":{"type":"string","maxLength":20}}},"Attachment":{"type":"array","items":{"properties":{"url":{"type":"string","maxLength":2000},"type":{"type":"string","maxLength":36},"number":{"type":"string","maxLength":100},"backside_url":{"type":"string","maxLength":2000},"expiry":{"type":"string","format":"YYYY-MM-DD"}}}},"PhotoUrl":{"type":"string","format":"uri","maxLength":1023,"description":"Photo URL related to the id object"},"LegacyID":{"type":"string","maxLength":20},"LivenessUrl":{"type":"string","format":"uri","maxLength":2000},"FundSource":{"type":"string","maxLength":255,"description":"source of income"},"WorkNature":{"type":"string","maxLength":255},"EmploymentDetail":{"type":"string","maxLength":255},"AccountType":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"region":{"$ref":"#/components/schemas/Region"},"currency":{"type":"string"},"status":{"type":"string"}}},"AutoProfileId":{"type":"object","title":"profile_id","required":["identity","verified","registration_id"],"properties":{"identity":{"type":"object","required":["type","value"],"properties":{"type":{"type":"string","enum":["profile_id"],"description":"profile_id auto-generated upon registration"},"value":{"type":"string","format":"77##########","minLength":10,"maxLength":10}}},"verified":{"type":"boolean","enum":[true]},"registration_id":{"type":"string","enum":["N/A"]}}},"FundingSourceStatus":{"type":"object","properties":{"status":{"type":"string"},"id":{"type":"string"},"card_profile":{"$ref":"#/components/schemas/CardProfile"}}},"Region":{"type":"object","properties":{"regionId":{"type":"string"},"name":{"type":"string"},"locale":{"type":"string"}}},"CardProfile":{"type":"object","properties":{"scheme":{"type":"string"},"brand":{"type":"string"}}}},"parameters":{"ContentTypeURLEncoded":{"name":"Content-Type","in":"header","required":true,"schema":{"type":"string","enum":["application/x-www-form-urlencoded"]}},"BasicAuthorization":{"name":"Authorization","in":"header","required":true,"description":"Using **Basic Authentication**, this field should have the **base64-encoded** string of the client credentials (client_id and client_secret).\n\nExample: Basic bXl1c2VyOm15cGFzc3dvcmQ=","schema":{"type":"string"}},"GrantType":{"name":"grant_type","in":"query","required":true,"description":"The oAuth grant type","schema":{"type":"string"}},"BearerAuthorization":{"name":"Authorization","in":"header","required":true,"description":"The access token generated from the POST /token endpoint.\n\n\nExample: Bearer (the token value)","schema":{"type":"string"}},"ContentTypeJson":{"name":"Content-Type","in":"header","required":true,"schema":{"type":"string","enum":["application/json"]}}},"examples":{"client_credentials_success_grant":{"value":{"access_token":"eyJraWQiOiJyc2ExIiwiYWxnIjoiUlMyNTYifQ.eyJzdWIiOiJmYWNlYm9vayIsImF6cCI6ImZhY2Vib29rIiwic2NvcGUiOiJzaG9wIGFjdGl2aXR5IGNhcmQucmVhZCBvcGVuaWQgcHVyY2hhc2UgYmlsbCB0cmFuc2ZlciBiYWxhbmNlIGt5YyBtaXNzaW9ucyBvZmZsaW5lX2FjY2VzcyBhbGwucmVhZCBhbGlhcyByZWdpc3RyYXRpb24gYWxsLndyaXRlIiwiaXNzIjoiaHR0cHM6XC9cL3BheW1heWEtY29ubmVjdC10ZXN0LWNvcnAucGF5bWF5YS5jb20iLCJleHAiOjE2NjI3MzQ0MjIsImlhdCI6MTY2MjczMDgyMiwianRpIjoiMzk5NDJkMmUtNzA3Ni00ZDFhLWEwOTUtNGFlMTBkMzFhMmE5In0.MZeAliQNZl4D3fk0OeW_F7bYLoBhopz3y8XsPkNa1AJollFUML_RmIUuiFTZlzCht1mbInhYiIge5u5r7d94ffcpZrxKwzz46VBpNYG5uThDP_7jrDZR1HaL_e06ZrmQ93aqhMGhhGDrX0RYScvxXDj9qtRzYR4k_6s9UdeYJXoewWPHa3mw80zwhijMPGExxyN7EFiiC6TblzLWLnckgFNCQTJXNsW-fiUvOp5wDR58ZP-_Meetxom0fYqhGWM43i7t-BhkY090CEIZMOhD2AGvhUBl38ydRKW9YpqSb9dmYFtN98u7BRNk4m8UtZz8W_dj1hwuRNNAb7WUIP4lTg","token_type":"Bearer","expires_in":3599,"scope":"purchase all.read alias balance all.write openid"}},"authorization_code_success_grant":{"value":{"access_token":"eyJraWQiOiJyc2ExIiwiYWxnIjoiUlMyNTYifQ.eyJzdWIiOiIzYzRlYWFlNC1kOWIxLTQzODItYmY3OS03MWY1YzJjZGViYzYiLCJhenAiOiJzdW5mbG93ZXJ0ZXN0Iiwic2NvcGUiOiJhbGlhcyBiaWxsIGludGVybmFsIHNob3Agb3BlbmlkIG9mZmxpbmVfYWNjZXNzIiwiaXNzIjoiaHR0cHM6XC9cL2Nvbm5lY3Qtc2ItaXNzdWluZy5wYXltYXlhLmNvbSIsImV4cCI6MTYzOTY3MzIxNiwiaWF0IjoxNjM5NjY5NjE2LCJqdGkiOiIwNWI5N2JhYi1iMWZiLTQwNTQtOTM3ZC05ODA5YjYwNDA5NjIifQ.VZJlMUuRNixKLi-bg6zjmupLp37qYnP0sETPs-vhipHemZ6tB3h4uwVWj-pSsdXrPoUHNWB54wLmXq1M6759jURKSVgiS91IfpVd3eYUigu5Sd_TRjS3KFXPtcgrFMkWnoBRdYtYUz_HaSottZ3zVgfyFkTckJ3HrXiaoMBDYLrad3hVUC0ZYyp3hwdJQlGUTFdcAzbyMMeL8WnN-wPeT7DLRjFaYP8ZLlhhY_s0LrxNEgTutqn7qhrJnYwNTjaqgx1GDW-hUmFQrIK_W1Eh2GIy8uSTH6SHOSIUvfPIhgnungGzY05qBw7FkdnU4pULTDjg-AGBfU9heK-lJ91I7A","token_type":"Bearer","refresh_token":"eyJhbGciOiJub25lIn0.eyJleHAiOjE2NDAyNzQ0MTYsImp0aSI6ImU1MTE1NjEwLTY3ZTUtNGViMy1iNjA1LTI1NTEyYjQ2ODRhZiJ9.","expires_in":3599,"scope":"purchase all.read alias balance all.write openid","id_token":"eyJraWQiOiJyc2ExIiwiYWxnIjoiUlMyNTYifQ.eyJzdWIiOiIzYzRlYWFlNC1kOWIxLTQzODItYmY3OS03MWY1YzJjZGViYzYiLCJhdWQiOiJzdW5mbG93ZXJ0ZXN0Iiwia2lkIjoicnNhMSIsImlzcyI6Imh0dHBzOlwvXC9jb25uZWN0LXNiLWlzc3VpbmcucGF5bWF5YS5jb20iLCJleHAiOjE2Mzk2NzAyMTYsImlhdCI6MTYzOTY2OTYxNiwianRpIjoiMzQzMmE4NWEtYzE3NC00YzcxLTk3ZjYtODQ1YjQ1ZDdiM2I3In0.mf4iPWlOY0lFz4Lc99SAb9YpZkpYb3GfwvI3obRtDmHaDj7bfANk-0hTFQXRHhBWOxso6IP-V2pSgvLt3vvrinQsCZSM2yDZqAJCeJ8dAEgqXlNgGGGGgSUzB-zB-pCoXhnB4a9dyTDi69yq-xoNn7za8PcttC3YNMiPPiWY2RDG3SypMbODHuuIfvePrLxO-KPrgbViDP9S-Xb6RiZqWSQNJg54TQzj94-_W-Iw4Vp1DZ6xn3nmVlrC1j8TnTIufxEMPqOVXcnLz0ytdvjoLNezmZNtapzQqcdjCAiTHXoWaf1wBO51XrW1_nfE44aUjUgjjQia02Z_ceAzoFF0VA"}},"refresh_token_success_grant":{"value":{"access_token":"eyJraWQiOiJyc2ExIiwiYWxnIjoiUlMyNTYifQ.eyJzdWIiOiIzYzRlYWFlNC1kOWIxLTQzODItYmY3OS03MWY1YzJjZGViYzYiLCJhenAiOiJzdW5mbG93ZXJ0ZXN0Iiwic2NvcGUiOiJhbGlhcyBiaWxsIGludGVybmFsIHNob3Agb3BlbmlkIG9mZmxpbmVfYWNjZXNzIiwiaXNzIjoiaHR0cHM6XC9cL2Nvbm5lY3Qtc2ItaXNzdWluZy5wYXltYXlhLmNvbSIsImV4cCI6MTYzOTY3MzIxNiwiaWF0IjoxNjM5NjY5NjE2LCJqdGkiOiIwNWI5N2JhYi1iMWZiLTQwNTQtOTM3ZC05ODA5YjYwNDA5NjIifQ.VZJlMUuRNixKLi-bg6zjmupLp37qYnP0sETPs-vhipHemZ6tB3h4uwVWj-pSsdXrPoUHNWB54wLmXq1M6759jURKSVgiS91IfpVd3eYUigu5Sd_TRjS3KFXPtcgrFMkWnoBRdYtYUz_HaSottZ3zVgfyFkTckJ3HrXiaoMBDYLrad3hVUC0ZYyp3hwdJQlGUTFdcAzbyMMeL8WnN-wPeT7DLRjFaYP8ZLlhhY_s0LrxNEgTutqn7qhrJnYwNTjaqgx1GDW-hUmFQrIK_W1Eh2GIy8uSTH6SHOSIUvfPIhgnungGzY05qBw7FkdnU4pULTDjg-AGBfU9heK-lJ91I7A","token_type":"Bearer","refresh_token":"eyJhbGciOiJub25lIn0.eyJleHAiOjE2NDAyNzQ0MTYsImp0aSI6ImU1MTE1NjEwLTY3ZTUtNGViMy1iNjA1LTI1NTEyYjQ2ODRhZiJ9.","expires_in":3599,"scope":"purchase all.read alias balance all.write openid","id_token":"eyJraWQiOiJyc2ExIiwiYWxnIjoiUlMyNTYifQ.eyJzdWIiOiIzYzRlYWFlNC1kOWIxLTQzODItYmY3OS03MWY1YzJjZGViYzYiLCJhdWQiOiJzdW5mbG93ZXJ0ZXN0Iiwia2lkIjoicnNhMSIsImlzcyI6Imh0dHBzOlwvXC9jb25uZWN0LXNiLWlzc3VpbmcucGF5bWF5YS5jb20iLCJleHAiOjE2Mzk2NzAyMTYsImlhdCI6MTYzOTY2OTYxNiwianRpIjoiMzQzMmE4NWEtYzE3NC00YzcxLTk3ZjYtODQ1YjQ1ZDdiM2I3In0.mf4iPWlOY0lFz4Lc99SAb9YpZkpYb3GfwvI3obRtDmHaDj7bfANk-0hTFQXRHhBWOxso6IP-V2pSgvLt3vvrinQsCZSM2yDZqAJCeJ8dAEgqXlNgGGGGgSUzB-zB-pCoXhnB4a9dyTDi69yq-xoNn7za8PcttC3YNMiPPiWY2RDG3SypMbODHuuIfvePrLxO-KPrgbViDP9S-Xb6RiZqWSQNJg54TQzj94-_W-Iw4Vp1DZ6xn3nmVlrC1j8TnTIufxEMPqOVXcnLz0ytdvjoLNezmZNtapzQqcdjCAiTHXoWaf1wBO51XrW1_nfE44aUjUgjjQia02Z_ceAzoFF0VA"}},"kyc0_userinfo":{"value":{"owner":{"person":{"id":{},"first_name":"Juan","middle_name":"","last_name":"Dela Cruz","birth_place":{},"kyc_verified":false,"account_status":"ACTIVE","virtual_fund_source_status":"unfunded","pep_status":false,"card_status":"not_activated","type":{"id":"CONSUMER_BASIC","name":"Basic Consumer","description":"Account with KYC 0","region":{"regionId":"PH","name":"PHILIPPINES","locale":"EN"},"currency":"PHP","status":"ACTIVE"}}},"identity_statuses":{"identity_status":[{"identity":{"type":"msisdn","value":"+639473338490"},"verified":true,"registration_id":"N/A"},{"identity":{"type":"profile_id","value":"775091049423"},"verified":true,"registration_id":"N/A"},{"identity":{"type":"username","value":"@sample_username"},"verified":true,"registration_id":"N/A"}]},"funding_source_statuses":{"funding_source_status":[]},"registration_channel":"APP"}},"kyc1_userinfo":{"value":{"owner":{"person":{"nationality":"PH","tin":"TIN123","ssn":"3312345678","id":{"type":"Alien Certification of Registration (ACR)","value":"VID123000"},"ids":[{"url":"http://paymaya.com/whee.png","type":"PASSPORT","number":"P123456","expiry":"2050-01-02"},{"url":"http://paymaya.com/oink.png","type":"DRIVERS_LICENSE","number":"123-34-12312N","expiry":"2050-01-01"}],"first_name":"Sample","middle_name":"","last_name":"Burp","birth_date":"1999-04-21","present_address":{"line1":"6/F Launchpad Bldg., Sheridan St. Cor. Reliance St.","locality":"Brgy. Highway Hills","city":"Mandaluyong","state":"Metro Manila","zip_code":"1552","country":"PH"},"permanent_address":{"line1":"6/F Launchpad Bldg., Sheridan St. Cor. Reliance St.","locality":"Brgy. Highway Hills","city":"Mandaluyong","state":"Metro Manila","zip_code":"1552","country":"PH"},"birth_place":{"city":"Manila","country":"PH"},"fund_source":"Employment","work_nature":"Product","employment_detail":"PayMaya Philippines","photo_url":"https://i.pinimg.com/originals/ee/e7/5d/eee75d6e875e7e205a1394aaa96fad12.png","kyc_verified":true,"kyc_level":"1","account_status":"ACTIVE","virtual_fund_source_status":"funded","pep_status":false,"card_status":"not_activated","alternative_contact":{"type":"email","value":"leslie.james@paymaya.com"},"type":{"id":"CONSUMER_UPGRADED","name":"Upgraded Consumer","description":"Account with KYC 1","region":{"regionId":"PH","name":"PHILIPPINES","locale":"EN"},"currency":"PHP","status":"ACTIVE"},"additional_docs":[{"url":"http://paymaya.com/woof.png","type":"BIRTH_CERTIFICATE","number":"123-34-XXXXXX","expiry":"2049-12-23"}]}},"identity_statuses":{"identity_status":[{"identity":{"type":"msisdn","value":"+639473338490"},"verified":true,"registration_id":"N/A"},{"identity":{"type":"profile_id","value":"775091049423"},"verified":true,"registration_id":"N/A"},{"identity":{"type":"username","value":"@sample_username"},"verified":true,"registration_id":"N/A"}]},"funding_source_statuses":{"funding_source_status":[{"status":"BASIC","id":"eb385704-3a4f-4ecd-bde6-b342ac33fdf6","card_profile":{}}]},"registration_channel":"APP"}},"InvalidClientCredentialsResponse":{"value":{"error":"invalid_client","error_description":"Bad client credentials"}},"ServerErrorResponse":{"value":{"error":"internal_server_error","error_description":"Something went wrong!","logref":"a461d327-9732-424b-b953-cb2786390f25","additional_info":""}},"ForbiddenErrorResponse":{"value":{"error":"forbidden","error_description":"Forbidden","logref":"b6b339cc-e8f3-4512-b208-6fd99cfa1b81","additional_info":""}},"NotFoundErrorResponse":{"value":{"error":"NotFound","error_description":"Not Found","logref":"b6b339cc-e8f3-4512-b208-6fd99cfa1b81","additional_info":""}}},"securitySchemes":{"OIDC_Basic_Auth":{"type":"openIdConnect","openIdConnectUrl":"/.well-known/openid-configuration","description":"client_secret_basic and client_secret_post are the only ones tested to be working. **[RFC6749](https://www.rfc-editor.org/rfc/rfc6749)** recommends `client_secret_basic` over the other."},"OIDC_Bearer_Auth":{"type":"openIdConnect","openIdConnectUrl":"/.well-known/openid-configuration","description":"The access token generated from the POST /token endpoint"},"Authorization":{"type":"oauth2","flows":{"clientCredentials":{"tokenUrl":"/token","scopes":{"openid":"Default. Login to account","activities.read":"View all your PayMaya transactions","alias":"Generate transfer codes / Money-In code for user","all.read":"View account and transaction details","all.write":"Perform transactions","balance":"View user's balance","bill":"Pay bills from user account","card.read":"View your card information","change_identity":"Change user's identity","escrow":"Send and receive payments via escrow","kyc":"Submit KYC request for user and receive notifications when KYC submission status changes.","offline_access":"Stay logged in to your account","purchase":"Pay merchant from user account","shop":"Purchase from PayMaya Shop using user account","transfer":"Send money from user account","internal":"Internal scope for own apps only. Client approval (account-linking) step is skipped.","initial_access_token":"Generate initial access token used to register new clients"}}}}},"responses":{"NotFound":{"description":"Requested resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"},"example":{"code":"NotFound","message":"Requested resource not found"}}}},"BadRequest":{"description":"Invalid request parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"},"example":{"code":"ValidationError","message":"Invalid request parameters"}}}},"InternalServerError":{"description":"Unexpected error occurred","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"},"example":{"code":"UnknownError","message":"Internal server error"}}}}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}