openapi: 3.0.1
info:
  title: finAPI Web Form 2.0
  description: "The following pages give you some general information on how to use\
    \ our APIs.<br/>The actual API services documentation then follows further below.\
    \ You can use the menu to jump between API sections.<br/><br/>This page has a\
    \ built-in HTTP(S) client, so you can test the services directly from within this\
    \ page, by filling in the request parameters and/or body in the respective services,\
    \ and then hitting the TRY button. Note that you need to be authorized to make\
    \ a successful API call. To authorize, refer to the '<a target='_blank' href='https://docs.finapi.io/?product=access#tag--Authorization'>Authorization</a>'\
    \ section of Access, or in case you already have a valid user token, just use\
    \ the QUICK AUTH on the left.<br/>Please also remember that all user management\
    \ functions should be looked up in <a target='_blank' href='https://docs.finapi.io/?product=access'>Access</a>.<br/><br/>You\
    \ should also check out the <a target='_blank' href='https://documentation.finapi.io/webform/'>Web\
    \ Form 2.0 Public Documentation</a> as well as <a target='_blank' href='https://documentation.finapi.io/access/'>Access\
    \ Public Documentation</a> for more information. If you need any help with the\
    \ API, contact <a href='mailto:support@finapi.io'>support@finapi.io</a>.<br/><h2\
    \ id=\"general-information\">General information</h2><h3 id=\"general-request-ids\"\
    ><strong>Request IDs</strong></h3>With any API call, you can pass a request ID\
    \ via a header with name \"X-Request-Id\". The request ID can be an arbitrary\
    \ string with up to 255 characters. Passing a longer string will result in an\
    \ error.<br/><br/>If you don't pass a request ID for a call, finAPI will generate\
    \ a random ID internally.<br/><br/>The request ID is always returned back in the\
    \ response of a service, as a header with name \"X-Request-Id\".<br/><br/>We highly\
    \ recommend to always pass a (preferably unique) request ID, and include it into\
    \ your client application logs whenever you make a request or receive a response(especially\
    \ in the case of an error response). finAPI is also logging request IDs on its\
    \ end. Having a request ID can help the finAPI support team to work more efficiently\
    \ and solve tickets faster.<h3 id=\"type-coercion\"><strong>Type Coercion</strong></h3>In\
    \ order to ease the integration for some languages, which do not natively support\
    \ high precision number representations, Web Form 2.0 API supports relax type\
    \ binding for the openAPI type <code>number</code>, which is used for money amount\
    \ fields. If you use one of those languages, to avoid precision errors that can\
    \ appear from <code>float</code> values, you can pass the amount as a <code>string</code>.<h3\
    \ id=\"general-faq\"><strong>FAQ</strong></h3><strong>Is there a finAPI SDK?</strong><br/>Currently\
    \ we do not offer a native SDK, but there is the option to generate an SDKfor\
    \ almost any target language via OpenAPI. Use the 'Download SDK' button on this\
    \ page for SDK generation.<br/><br/><strong>Why do I need to keep authorizing\
    \ when calling services on this page?</strong><br/>This page is a \"one-page-app\"\
    . Reloading the page resets the OAuth authorization context. There is generally\
    \ no need to reload the page, so just don't do it and your authorization will\
    \ persist."
  version: 2.748.0
servers:
- url: https://webform-sandbox.finapi.io
  description: Current environment
security:
- BearerAccessToken:
  - all
tags:
- name: Profiles
  description: "If you are interested in customizing the web form to be aligned with\
    \ your brand, then keep reading.<br/>Please check our documentation <a target='_blank'\
    \ href='https://documentation.finapi.io/webform/White-labeling.2066612596.html'>here</a>\
    \ for more information."
paths:
  /api/webForms/{id}/cancel:
    post:
      tags:
      - Web Forms
      summary: Cancel a web form
      description: "Cancel an existing web form.<br/><br/>When you cancel a web form,\
        \ it will be immediately terminated, resulting in the following consequences:<br/>&bull;\
        \ Any interaction with the web form's user interface will be instantly prohibited.\
        \ Any attempt by the end user to interact with it will result in an error\
        \ message. This error only affects the UI though and does not alter the state\
        \ of the web form. We recommend using this endpoint cautiously, ideally only\
        \ when the end user has already left the web form (e.g., by closing a popup\
        \ containing the embedded web form).<br/>&bull; If the web form gets cancelled,\
        \ its status is usually set to <code>CANCELLED</code>. However, there are\
        \ exceptions to this rule: for instance, if an import is in progress and at\
        \ least one interface has already been successfully imported, the web form\
        \ will be finalized with the status <code>COMPLETED</code>.<br/>&bull; Callbacks\
        \ are <b>not</b> triggered even if they were provided for the web form. Instead,\
        \ use the response of the service since it already contains the most up-to-date\
        \ web form's state.<br/><br/>Must pass the user's access token."
      operationId: cancelWebForm
      parameters:
      - name: id
        in: path
        description: Identifier of the web form
        required: true
        schema:
          type: string
      responses:
        "403":
          description: No access
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: "Code <code>ALREADY_COMPLETED</code>: web form is already in\
            \ the final state and can no longer be cancelled."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "200":
          description: A web form
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebForm"
        "401":
          description: "Either there is no access token within the request, or it's\
            \ invalid"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Web form not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/webForms/standingOrder:
    post:
      tags:
      - Payment Initiation Services
      summary: Create a standing order
      description: "Initiates a standing order from a specific checking account. Based\
        \ on the API parameters used, a recurrent payment initiation order will be\
        \ requested at the bank.<br/><br/>In order to test the API, you can initiate\
        \ a payment with our Demo banks. For more details, please see the associated\
        \ <a href='https://documentation.finapi.io/access/finAPI-Test-Banks.2556264541.html'\
        \ target='_blank'>documentation</a>.<br/><br/>In case the API request is syntactically\
        \ correct, the service will respond with HTTP code 201 and a web form resource.\
        \ You must direct your user to our web form with the URL from the returned\
        \ resource.<br/><br/>Must pass the user's access token."
      operationId: createForStandingOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StandingOrderDetails"
        required: true
      responses:
        "201":
          description: Created web form
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebForm"
        "401":
          description: "Either there is no access token within the request, or it's\
            \ invalid (code <code>UNAUTHORIZED</code>)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: No access
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: "The request is valid technically, but another error occurred:<br/>&bull;\
            \ <code>BANK_NOT_SUPPORTED</code> - if applying the given <code>sender.iban</code>\
            \ does not result in a uniquely valid bank;<br/>&bull; <code>PAYMENT_NOT_SUPPORTED</code>\
            \ - if the transfer amount currency is not 'EUR';<br/>&bull; <code>MANDATOR_MISCONFIGURATION</code>\
            \ - the mandator is not properly configured on the Access side, e.g.,\
            \ it is still configured to use the old web form, or the scraper interface\
            \ has been selected by the Web Form 2.0 but using it is not allowed on\
            \ the mandator level. Please contact our support team (<a href='mailto:support@finapi.io'>support@finapi.io</a>)\
            \ for troubleshooting;<br/>&bull; <code>INVALID_REDIRECT_URL</code> -\
            \ depending on the license of your mandator, you either pass <code>redirectUrl</code>\
            \ parameter when it is not allowed, or vice versa you don't provide it\
            \ when it is mandatory. See the error's <code>description</code> for the\
            \ exact reason."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Unexpected server error (code <code>INTERNAL_SERVER_ERROR</code>)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "400":
          description: Validation failed for the given request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "404":
          description: Profile with the given ID not found (code <code>NOT_FOUND</code>)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      callbacks:
        WebFormCompletedCallback:
          '{$request.body#/callbacks/finalised}':
            post:
              operationId: postOnStandingOrderFinalisedCallback
              requestBody:
                description: Callback payload
                content:
                  application/json:
                    schema:
                      $ref: "#/components/schemas/WebFormCompletedCallback"
                required: true
              responses:
                "200":
                  description: Callback has been successfully received
  /api/webForms/standalonePayment:
    post:
      tags:
      - Payment Initiation Services
      summary: Create a standalone payment
      description: "Initiates a payment from a specific checking account. If you don't\
        \ need end users to connect their account and download their bank data to\
        \ our database before requesting payment initiation, then this is the service\
        \ to use. Ideal for use cases that need one-time payment initiation.<br/><br/>In\
        \ order to test the API, you can initiate a payment with our Demo banks. For\
        \ more details, please see the associated <a href='https://documentation.finapi.io/access/finAPI-Test-Banks.2556264541.html'\
        \ target='_blank'>documentation</a>.<br/><br/>In case the API request is syntactically\
        \ correct, the service will respond with HTTP return code 201 and a unique\
        \ URL. You must direct your user to our web form with the URL.<br/><br/>Must\
        \ pass the user's access token."
      operationId: createForStandalonePayment
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StandalonePaymentDetails"
        required: true
      responses:
        "201":
          description: Created web form
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebForm"
        "401":
          description: "Either there is no access token within the request, or it's\
            \ invalid (code <code>UNAUTHORIZED</code>)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: No access
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Unexpected server error (code <code>INTERNAL_SERVER_ERROR</code>)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: "The request is valid technically, but another error occurred:<br/>&bull;\
            \ <code>BANK_NOT_SUPPORTED</code><br/>&nbsp;&nbsp;&nbsp;&nbsp;- if applying\
            \ the given <code>sender.iban</code> does not result in a uniquely valid\
            \ bank;<br/>&nbsp;&nbsp;&nbsp;&nbsp;- if the bank identified by the given\
            \ <code>sender.iban</code> does not have the required payment capabilities.<br/>&nbsp;&nbsp;&nbsp;&nbsp;-\
            \ if the domestic transfer counterparty IBAN does not belong to the sender\
            \ IBAN country .<br/>&bull; <code>MANDATOR_MISCONFIGURATION</code> - the\
            \ mandator is not properly configured on the Access side, e.g., it is\
            \ still configured to use the old web form, or the scraper interface has\
            \ been selected by the Web Form 2.0 but using it is not allowed on the\
            \ mandator level. Please contact our support team (<a href='mailto:support@finapi.io'>support@finapi.io</a>)\
            \ for troubleshooting;<br/>&bull; <code>INVALID_REDIRECT_URL</code> -\
            \ depending on the license of your mandator, you either pass <code>redirectUrl</code>\
            \ parameter when it is not allowed, or vice versa you don't provide it\
            \ when it is mandatory. See the error's <code>description</code> for the\
            \ exact reason."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "400":
          description: Validation failed for the given request<br/>This also includes
            the finAPI Access <code>BankInterface.paymentConstraints</code> limitations.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "404":
          description: Profile with the given ID not found (code <code>NOT_FOUND</code>)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      callbacks:
        WebFormCompletedCallback:
          '{$request.body#/callbacks/finalised}':
            post:
              operationId: postOnStandalonePaymentFinalisedCallback
              requestBody:
                description: Callback payload
                content:
                  application/json:
                    schema:
                      $ref: "#/components/schemas/WebFormCompletedCallback"
                required: true
              responses:
                "200":
                  description: Callback has been successfully received
  /api/webForms/paymentWithAccountId:
    post:
      tags:
      - Payment Initiation Services
      summary: Create a payment with account ID
      description: "Initiates payment from a specific checking account using an account\
        \ ID. A pre-requisite for using this service is, the payment account must\
        \ already be imported and stored in Access and associated with an account\
        \ ID. This is ideal for customers who's use case might involve monitoring\
        \ and managing payment accounts and also recurring possible payment initiations\
        \ from the same account.<br/><br/>In case the API request is syntactically\
        \ correct, the service will respond with HTTP return code 201 and a unique\
        \ URL. You must direct your user to our web form with the URL.<br/><br/>Must\
        \ pass the user's access token."
      operationId: createForPaymentWithAccountId
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentWithAccountDetails"
        required: true
      responses:
        "201":
          description: Created web form
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebForm"
        "401":
          description: "Either there is no access token within the request, or it's\
            \ invalid (code <code>UNAUTHORIZED</code>)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: No access
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Unexpected server error (code <code>INTERNAL_SERVER_ERROR</code>)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: "The request is valid technically, but another error occurred:<br/>&bull;\
            \ <code>PAYMENT_NOT_SUPPORTED</code><br/>&nbsp;&nbsp;&nbsp;&nbsp;- if\
            \ the account identified by the given <code>accountId</code> does not\
            \ have the required payment capabilities;<br/>&nbsp;&nbsp;&nbsp;&nbsp;-\
            \ if the transfer amount currency does not match selected account currency;<br/>&nbsp;&nbsp;&nbsp;&nbsp;-\
            \ if the transfer requires the recipient BIC to be defined.<br/>&nbsp;&nbsp;&nbsp;&nbsp;-\
            \ if the domestic transfer counterparty IBAN does not belong to the sender\
            \ IBAN country .<br/>&bull; <code>MANDATOR_MISCONFIGURATION</code> - the\
            \ mandator is not properly configured on the Access side, e.g., it is\
            \ still configured to use the old web form, or the scraper interface has\
            \ been selected by the Web Form 2.0 but using it is not allowed on the\
            \ mandator level. Please contact our support team (<a href='mailto:support@finapi.io'>support@finapi.io</a>)\
            \ for troubleshooting;<br/>&bull; <code>INVALID_REDIRECT_URL</code> -\
            \ depending on the license of your mandator, you either pass <code>redirectUrl</code>\
            \ parameter when it is not allowed, or vice versa you don't provide it\
            \ when it is mandatory. See the error's <code>description</code> for the\
            \ exact reason."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "400":
          description: Validation failed for the given request.<br/>This also includes
            the finAPI Access <code>BankInterface.paymentConstraints</code> limitations.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "404":
          description: Profile with the given ID not found (code <code>NOT_FOUND</code>)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      callbacks:
        WebFormCompletedCallback:
          '{$request.body#/callbacks/finalised}':
            post:
              operationId: postOnPaymentWithAccountIdFinalisedCallback
              requestBody:
                description: Callback payload
                content:
                  application/json:
                    schema:
                      $ref: "#/components/schemas/WebFormCompletedCallback"
                required: true
              responses:
                "200":
                  description: Callback has been successfully received
  /api/webForms/directDebitWithAccountId:
    post:
      tags:
      - Payment Initiation Services
      summary: Create a direct debit with account ID
      description: "Initiates a direct debit from a specific account using an account\
        \ ID. A pre-requisite for using this service is, the payment account must\
        \ already be imported and stored in Access and associated with an account\
        \ ID.<br/><br/>In case the API request is syntactically correct, the service\
        \ will respond with HTTP return code 201 and a unique URL. You must direct\
        \ your user to our web form with the URL.<br/><br/>A collective direct debit\
        \ contains more than one order in the 'orders' list. It is specially handled\
        \ by the bank and can be booked by the bank either as a single booking for\
        \ each order or as a single cumulative booking. The preferred booking type\
        \ can be given with the 'singleBooking' flag, but it is not guaranteed each\
        \ bank will regard this flag.<br/><br/><strong>NOTE:</strong> For direct debits\
        \ created for debtors outside of the European Union, <code>orders[].payer.address</code>\
        \ and <code>orders[].payer.country</code> should be defined.<br/><br/>Must\
        \ pass the user's access token."
      operationId: createForDirectDebitWithAccountId
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DirectDebitWithAccountDetails"
        required: true
      responses:
        "201":
          description: Created web form
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebForm"
        "401":
          description: "Either there is no access token within the request, or it's\
            \ invalid (code <code>UNAUTHORIZED</code>)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: No access
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Unexpected server error (code <code>INTERNAL_SERVER_ERROR</code>)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "400":
          description: Validation failed for the given request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "404":
          description: Profile with the given ID not found (code <code>NOT_FOUND</code>)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: "The request is valid technically, but another error occurred:<br/>&bull;\
            \ <code>PAYMENT_NOT_SUPPORTED</code><br/>&nbsp;&nbsp;&nbsp;&nbsp;- if\
            \ the account identified by the given <code>accountId</code> does not\
            \ have direct debit capabilities;<br/>&nbsp;&nbsp;&nbsp;&nbsp;- if the\
            \ transfer amount currency does not match selected account currency;<br/>&nbsp;&nbsp;&nbsp;&nbsp;-\
            \ if the transfer requires the payer BIC to be defined.<br/>&bull; <code>MANDATOR_MISCONFIGURATION</code>\
            \ - the mandator is not properly configured on the Access side, e.g.,\
            \ it is still configured to use the old web form, or the scraper interface\
            \ has been selected by the Web Form 2.0 but using it is not allowed on\
            \ the mandator level. Please contact our support team (<a href='mailto:support@finapi.io'>support@finapi.io</a>)\
            \ for troubleshooting;<br/>&bull; <code>INVALID_REDIRECT_URL</code> -\
            \ depending on the license of your mandator, you either pass <code>redirectUrl</code>\
            \ parameter when it is not allowed, or vice versa you don't provide it\
            \ when it is mandatory. See the error's <code>description</code> for the\
            \ exact reason."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      callbacks:
        WebFormCompletedCallback:
          '{$request.body#/callbacks/finalised}':
            post:
              operationId: postOnDirectDebitFinalisedCallback
              requestBody:
                description: Callback payload
                content:
                  application/json:
                    schema:
                      $ref: "#/components/schemas/WebFormCompletedCallback"
                required: true
              responses:
                "200":
                  description: Callback has been successfully received
  /api/webForms/bankConnectionImport:
    post:
      tags:
      - Account Information Services
      summary: Import a bank connection
      description: "Imports and groups all the bank data the end user has at the specific\
        \ bank into a bank connection (identifiable with a bankConnectionId). The\
        \ endpoint connects to all available interfaces(XS2A, finTS and Web Scraper)\
        \ for the bank. Hence, the end user will be prompted for credentials and SCA\
        \ for every loop over each of the interface. For best results, consider your\
        \ use case and review the API parameter, accountTypes list before you begin\
        \ your integration.<br/><br/>All bank accounts will be downloaded and imported\
        \ with their current balances, transactions and supported two-step-procedures\
        \ (note that the amount of available transactions may vary between banks,\
        \ e.g. some banks deliver all transactions from the past year, others only\
        \ deliver the transactions from the past three months). The balance and transactions\
        \ download process runs asynchronously, so this service may return before\
        \ all balances and transactions have been imported. Also, all downloaded transactions\
        \ will be categorized by a separate background process that runs asynchronously\
        \ too. To check the status of the balance and transactions download process\
        \ as well as the background categorization process, see the status flags that\
        \ are returned by the GET /bankConnections/ service. For a more in-depth understanding\
        \ of the import process, please also read this page on our documentation:\
        \ <a target='_blank' href='https://documentation.finapi.io/access/Post-Processing-of-Bank-Account-Import%2FUpdate.2766405656.html'>Post\
        \ Processing of Bank Account Import/Update</a>.<br/><br/>In order to test\
        \ the API, you can import a \"demo connection\". To import the demo connection,\
        \ you need to pass the identifier of the \"finAPI Test Bank\". For more details,\
        \ please see the associated <a target='_blank' href='https://documentation.finapi.io/access/finAPI-Test-Banks.2556264541.html'>documentation</a>.<br/><br/>In\
        \ case the API request is syntactically correct, the service will respond\
        \ with HTTP return code 201 and a unique URL. You must direct your user to\
        \ our web form with the URL.<br/><br/>Must pass the user's access token."
      operationId: createForBankConnectionImport
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BankConnectionImportDetails"
        required: true
      responses:
        "422":
          description: "The request is valid technically, but another error occurred:<br/>&bull;\
            \ <code>BANK_NOT_SUPPORTED</code> - if applying the given <code>bank.id</code>\
            \ or <code>code.search</code> does not result in a uniquely valid bank;<br/>&bull;\
            \ <code>BANK_NOT_UNIQUE</code> - if applying the given <code>bank.search</code>\
            \ results in multiple banks;<br/>&bull; <code>MANDATOR_MISCONFIGURATION</code>\
            \ - the mandator is not properly configured on the Access side, e.g.,\
            \ it is still configured to use the old web form, or the scraper interface\
            \ has been selected by the Web Form 2.0 but using it is not allowed on\
            \ the mandator level. Please contact our support team (<a href='mailto:support@finapi.io'>support@finapi.io</a>)\
            \ for troubleshooting;<br/>&bull; <code>INVALID_REDIRECT_URL</code> -\
            \ depending on the license of your mandator, you either pass <code>redirectUrl</code>\
            \ parameter when it is not allowed, or vice versa you don't provide it\
            \ when it is mandatory. See the error's <code>description</code> for the\
            \ exact reason."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "201":
          description: Created web form
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebForm"
        "401":
          description: "Either there is no access token within the request, or it's\
            \ invalid (code <code>UNAUTHORIZED</code>)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: No access
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Unexpected server error (code <code>INTERNAL_SERVER_ERROR</code>)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "400":
          description: Validation failed for the given request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "404":
          description: Profile with the given ID not found (code <code>NOT_FOUND</code>)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      callbacks:
        WebFormCompletedCallback:
          '{$request.body#/callbacks/finalised}':
            post:
              operationId: postOnBankConnectionImportFinalisedCallback
              requestBody:
                description: Callback payload
                content:
                  application/json:
                    schema:
                      $ref: "#/components/schemas/WebFormCompletedCallback"
                required: true
              responses:
                "200":
                  description: Callback has been successfully received
  /api/translations:
    get:
      tags:
      - Customisation / Translations (BETA)
      summary: Get translations (BETA)
      description: Get all translations.<br/><br/>Must pass the <a href='https://documentation.finapi.io/access/Application-management.2763423767.html'
        target='_blank'>mandator admin client</a>'s access_token.
      operationId: getTranslations
      parameters:
      - name: page
        in: query
        description: Page to load
        required: false
        schema:
          type: integer
          format: int32
          default: 1
        example: 1
      - name: perPage
        in: query
        description: The number of items on the page
        required: false
        schema:
          type: integer
          format: int32
          default: 20
        example: 20
      responses:
        "403":
          description: Incorrect authorization role
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "200":
          description: A page of translations ordered by creation date
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TranslationSetsPage"
        "401":
          description: "Either there is no access token within the request, or it's\
            \ invalid"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
    post:
      tags:
      - Customisation / Translations (BETA)
      summary: Create a translation (BETA)
      description: "The endpoint provides a list of parameters that customers can\
        \ use to personalize the titles and subtitles we display on each of the Web\
        \ Form views.<br/><br/>For more details, please see the associated <a href='https://documentation.finapi.io/webform/translation'\
        \ target='_blank'>documentation</a>.<br/><br/>The endpoint triggered with\
        \ a list of values will create a translation set with a unique identifier.\
        \ The translation set will be applied to every Web Form generated by the customer.<br/><br/>In\
        \ case the API request is syntactically correct, the service will respond\
        \ with HTTP return code 201 and a translation set object. Must pass the <a\
        \ href='https://documentation.finapi.io/access/Application-management.2763423767.html'\
        \ target='_blank'>mandator admin client</a>'s access_token."
      operationId: createTranslation
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTranslationDetails"
        required: true
      responses:
        "422":
          description: "The request is valid technically, but another error occurred:<br/>&bull;\
            \ <code>ENTITY_EXISTS</code> - if a translation already exists."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Incorrect authorization role
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: "Either there is no access token within the request, or it's\
            \ invalid"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "201":
          description: Created a translation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TranslationSet"
        "400":
          description: Validation failed for the given request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/tasks/backgroundUpdate:
    post:
      tags:
      - Account Information Services
      summary: Update a bank connection
      description: "This endpoint serves 3 purposes:<br/><br/>Updates the bank connection\
        \ to present the most latest snapshot of the accounts connected to it. The\
        \ update impacts account data and transaction data. The endpoint will loop\
        \ over all connected interfaces and update every account (and its related\
        \ data) on the bank connection. Hence, the end user might be prompted for\
        \ credentials and SCA for every loop over each interface. You can also update\
        \ the \"demo connection\" if you would like to test the endpoint.<br/>Note\
        \ that you cannot trigger an update of a bank connection as long as there\
        \ is still a previously triggered update running.<br/><br/>For a more in-depth\
        \ understanding of the update process, please also read this page on our documentation:\
        \ <a target='_blank' href='https://documentation.finapi.io/access/Post-Processing-of-Bank-Account-Import%2FUpdate.2766405656.html'>Post\
        \ Processing of Bank Account Import/Update</a>.<br/><br/>Looks for and imports\
        \ any new accounts that the end user (newly) has at the bank. This lookup\
        \ is only possible by setting a specific API parameter.<br/><br/>Allows the\
        \ end user to manage their preference for bank login credentials storage.\
        \ Use a specific API parameter in order to allow end users to update credentials\
        \ in our Database or also to stop saving credentials, if they wish to.<br/><br/>Note\
        \ however that in case the task created by this endpoint results in a web\
        \ form, and this web form is cancelled by the end user, the web form will\
        \ be set to the following status:<br/>&bull; <code>ABORTED</code> - if it\
        \ was cancelled before the web form managed to complete any update of the\
        \ given bank connection;<br/>&bull; <code>COMPLETED</code> - if it was cancelled\
        \ after at least one interface of the given bank connection has already been\
        \ successfully completed.<br/><br/>In case the API request is syntactically\
        \ correct, the service will respond with HTTP return code 201 and a unique\
        \ task ID. You can follow the status of the update with the task ID.<br/><br/>Must\
        \ pass the user's access token."
      operationId: createBankConnectionUpdateTask
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BankConnectionUpdateTaskDetails"
        required: true
      responses:
        "401":
          description: "Either there is no access token within the request, or it's\
            \ invalid (code <code>UNAUTHORIZED</code>)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: No access
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Unexpected server error (code <code>INTERNAL_SERVER_ERROR</code>)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "423":
          description: Bank connection cannot get updated at the moment as it is currently
            being imported or updated (either by the user or by finAPI's automatic
            batch update). Code <code>LOCKED</code>.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: "The request is valid technically, but another error occurred:<br/>&bull;\
            \ <code>BANK_NOT_SUPPORTED</code> - if the bank of the given bank connection\
            \ is no longer supported by Access;<br/>&bull; <code>MANDATOR_MISCONFIGURATION</code>\
            \ - the mandator is not properly configured on the Access side, e.g.,\
            \ it is still configured to use the old web form, or the scraper interface\
            \ has been selected by the Web Form 2.0 but using it is not allowed on\
            \ the mandator level. Please contact our support team (<a href='mailto:support@finapi.io'>support@finapi.io</a>)\
            \ for troubleshooting;"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Either bank connection or profile with the given ID not found
            (code <code>NOT_FOUND</code>)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "400":
          description: Validation failed for the given request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "201":
          description: Created task
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Task"
      callbacks:
        TaskCompletedCallback:
          '{$request.body#/callbacks/finalised}':
            post:
              operationId: postOnBackgroundUpdateFinalisedCallback
              requestBody:
                description: Callback payload
                content:
                  application/json:
                    schema:
                      $ref: "#/components/schemas/TaskCallback"
                required: true
              responses:
                "200":
                  description: Callback has been successfully received
        WebFormRequiredCallback:
          '{$request.body#/callbacks/webFormRequired}':
            post:
              operationId: postOnWebFormRequiredForBackgroundUpdateCallback
              requestBody:
                description: Callback payload
                content:
                  application/json:
                    schema:
                      $ref: "#/components/schemas/TaskCallback"
                required: true
              responses:
                "200":
                  description: Callback has been successfully received
  /api/profiles:
    get:
      tags:
      - Customisation / Profiles
      summary: Get profiles
      description: Get all profiles.<br/><br/>Must pass the <a href='https://documentation.finapi.io/access/Application-management.2763423767.html'
        target='_blank'>mandator admin client</a>'s access_token.
      operationId: getProfiles
      parameters:
      - name: order
        in: query
        description: "Determines the order of the results. You can order by <code>createdAt</code>\
          \ field ascending or descending. The general format is <code>property[,asc|desc]</code>,\
          \ with <code>asc</code> being the default value.The default order is <code>createdAt,asc</code>."
        schema:
          type: string
          example: "createdAt,desc"
      - name: page
        in: query
        description: Page to load
        required: false
        schema:
          type: integer
          format: int32
          default: 1
        example: 1
      - name: perPage
        in: query
        description: The number of items on the page
        required: false
        schema:
          type: integer
          format: int32
          default: 20
        example: 20
      responses:
        "200":
          description: A page of profiles ordered by creation date
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProfilesPage"
        "403":
          description: Incorrect authorization role
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: "Either there is no access token within the request, or it's\
            \ invalid"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
    post:
      tags:
      - Customisation / Profiles
      summary: Create a profile
      description: "The endpoint provides a list of parameters which customers can\
        \ personalize to be in line with their brand's styling.<br/>The endpoint triggered\
        \ with a list of values, will create a profile with a unique <code>profileId</code>.\
        \ When the customer passes the <code>profileId</code> on an API call, the\
        \ values from the profile are applied on the web form while rendering to end-users.\
        \ We welcome customers to set up a default profile, so that they do not need\
        \ to pass the <code>profileId</code> as a parameter for every API call.<br/><br/>In\
        \ case the API request is syntactically correct, the service will respond\
        \ with HTTP return code 201 and a profile object.<br/><br/>Must pass the <a\
        \ href='https://documentation.finapi.io/access/Application-management.2763423767.html'\
        \ target='_blank'>mandator admin client</a>'s access_token."
      operationId: createProfile
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProfileDetails"
        required: true
      responses:
        "422":
          description: "The request is valid technically, but another error occurred:<br/>&bull;\
            \ <code>ENTITY_EXISTS</code> - if a profile with the same <code>label</code>\
            \ or if a default profile already exists."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "201":
          description: Created a profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Profile"
        "403":
          description: Incorrect authorization role
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: "Either there is no access token within the request, or it's\
            \ invalid"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "400":
          description: Validation failed for the given request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "500":
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/profiles/{id}:
    get:
      tags:
      - Customisation / Profiles
      summary: Get a profile
      description: Get a single profile by its id.<br/><br/>Must pass the <a href='https://documentation.finapi.io/access/Application-management.2763423767.html'
        target='_blank'>mandator admin client</a>'s access_token.
      operationId: getProfile
      parameters:
      - name: id
        in: path
        description: Identifier of the profile
        required: true
        schema:
          type: string
      responses:
        "403":
          description: Incorrect authorization role
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: "Either there is no access token within the request, or it's\
            \ invalid"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Profile not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "200":
          description: A profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Profile"
    delete:
      tags:
      - Customisation / Profiles
      summary: Delete a profile
      description: Delete a single profile by its id.<br/><br/>Must pass the <a href='https://documentation.finapi.io/access/Application-management.2763423767.html'
        target='_blank'>mandator admin client</a>'s access_token.
      operationId: deleteProfile
      parameters:
      - name: id
        in: path
        description: Identifier of the profile
        required: true
        schema:
          type: string
      responses:
        "403":
          description: Incorrect authorization role
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: "Either there is no access token within the request, or it's\
            \ invalid"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "200":
          description: Profile has been deleted
        "404":
          description: Profile not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      tags:
      - Customisation / Profiles
      summary: Edit a profile
      description: Edit a single profile by its id.<br/><br/>Must pass the <a href='https://documentation.finapi.io/access/Application-management.2763423767.html'
        target='_blank'>mandator admin client</a>'s access_token.
      operationId: editProfile
      parameters:
      - name: id
        in: path
        description: Identifier of the profile
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EditProfileDetails"
        required: true
      responses:
        "422":
          description: "The request is valid technically, but another error occurred:<br/>&bull;\
            \ <code>ENTITY_EXISTS</code> - if a profile with the same <code>label</code>\
            \ or if a default profile already exists."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Incorrect authorization role
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: "Either there is no access token within the request, or it's\
            \ invalid"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "201":
          description: The updated profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Profile"
        "400":
          description: Validation failed for the given request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "404":
          description: Profile not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/webForms:
    get:
      tags:
      - Web Forms
      summary: Get web forms
      description: Get all web forms associated with the authorized user.<br/><br/>Must
        pass the user's access token.
      operationId: getWebForms
      parameters:
      - name: order
        in: query
        description: "Determines the order of the results. You can order by <code>createdAt</code>\
          \ field ascending or descending. The general format is <code>property[,asc|desc]</code>,\
          \ with <code>asc</code> being the default value.The default order is <code>createdAt,asc</code>."
        schema:
          type: string
          example: "createdAt,desc"
      - name: page
        in: query
        description: Page to load
        required: false
        schema:
          type: integer
          format: int32
          default: 1
        example: 1
      - name: perPage
        in: query
        description: The number of items on the page
        required: false
        schema:
          type: integer
          format: int32
          default: 20
        example: 20
      responses:
        "403":
          description: No access
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: "Either there is no access token within the request, or it's\
            \ invalid"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "200":
          description: A page of web forms ordered by creation date
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebFormsPage"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
  /api/webForms/{id}:
    get:
      tags:
      - Web Forms
      summary: Get a web form
      description: Get a web form of the authorized user.<br/><br/>Must pass the user's
        access token.
      operationId: getWebForm
      parameters:
      - name: id
        in: path
        description: Identifier of the web form
        required: true
        schema:
          type: string
      responses:
        "403":
          description: No access
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "200":
          description: A web form
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebForm"
        "401":
          description: "Either there is no access token within the request, or it's\
            \ invalid"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Web form not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      tags:
      - Web Forms
      summary: Delete a web form
      description: Delete a web form of the user that is authorized by the access
        token.<br/><br/>Must pass the user's access token.
      operationId: deleteWebForm
      parameters:
      - name: id
        in: path
        description: Identifier of the web form
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Web form has been deleted
        "403":
          description: No access
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: "Either there is no access token within the request, or it's\
            \ invalid"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Web form not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/translations/{id}:
    get:
      tags:
      - Customisation / Translations (BETA)
      summary: Get a translation (BETA)
      description: Get a single translation by its id.<br/><br/>Must pass the <a href='https://documentation.finapi.io/access/Application-management.2763423767.html'
        target='_blank'>mandator admin client</a>'s access_token.
      operationId: getTranslation
      parameters:
      - name: id
        in: path
        description: Identifier of the translation
        required: true
        schema:
          type: string
      responses:
        "403":
          description: Incorrect authorization role
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: "Either there is no access token within the request, or it's\
            \ invalid"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Translation not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "200":
          description: A translation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TranslationSet"
    delete:
      tags:
      - Customisation / Translations (BETA)
      summary: Delete a translation (BETA)
      description: Delete a single translation by its id.<br/><br/>Must pass the <a
        href='https://documentation.finapi.io/access/Application-management.2763423767.html'
        target='_blank'>mandator admin client</a>'s access_token.
      operationId: deleteTranslation
      parameters:
      - name: id
        in: path
        description: Identifier of the translation
        required: true
        schema:
          type: string
      responses:
        "403":
          description: Incorrect authorization role
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: "Either there is no access token within the request, or it's\
            \ invalid"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Translation not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "200":
          description: Translation has been deleted
  /api/tasks:
    get:
      tags:
      - Tasks
      summary: Get tasks
      description: Get all tasks associated with the authorized user.<br/><br/>Must
        pass the user's access token.
      operationId: getTasks
      parameters:
      - name: order
        in: query
        description: "Determines the order of the results. You can order by <code>createdAt</code>\
          \ field ascending or descending. The general format is <code>property[,asc|desc]</code>,\
          \ with <code>asc</code> being the default value.The default order is <code>createdAt,asc</code>."
        schema:
          type: string
          example: "createdAt,desc"
      - name: page
        in: query
        description: Page to load
        required: false
        schema:
          type: integer
          format: int32
          default: 1
        example: 1
      - name: perPage
        in: query
        description: The number of items on the page
        required: false
        schema:
          type: integer
          format: int32
          default: 20
        example: 20
      responses:
        "200":
          description: A page of tasks ordered by creation date
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TasksPage"
        "403":
          description: No access
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: "Either there is no access token within the request, or it's\
            \ invalid"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
  /api/tasks/{id}:
    get:
      tags:
      - Tasks
      summary: Get a task
      description: Get a task of the authorized user.<br/><br/>Must pass the user's
        access token.
      operationId: getTask
      parameters:
      - name: id
        in: path
        description: Identifier of the task
        required: true
        schema:
          type: string
      responses:
        "403":
          description: No access
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: "Either there is no access token within the request, or it's\
            \ invalid"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "200":
          description: A task
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Task"
        "404":
          description: Task not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  schemas:
    Error:
      required:
      - code
      - description
      - endpoint
      - timestamp
      type: object
      properties:
        code:
          type: string
          description: Error code
          example: INVALID_REQUEST
          enum:
          - UNAUTHORIZED
          - FORBIDDEN
          - NOT_FOUND
          - NOT_ALLOWED
          - BANK_NOT_SUPPORTED
          - BANK_NOT_UNIQUE
          - ENTITY_EXISTS
          - MANDATOR_MISCONFIGURATION
          - NOT_SUPPORTED
          - PAYMENT_NOT_SUPPORTED
          - INVALID_REDIRECT_URL
          - ALREADY_COMPLETED
          - LOCKED
          - INTERNAL_SERVER_ERROR
        description:
          type: string
          description: Error message
          example: Invalid parameter
        timestamp:
          type: string
          description: Timestamp when the error occurred in the format <code>yyyy-MM-dd'T'HH:mm:ss.SSSZ</code>.
          format: date-time
        endpoint:
          type: string
          description: Endpoint caused the error
          example: GET /api/webForms
      description: Error details
    Payload:
      type: object
      properties:
        bankConnectionId:
          type: integer
          description: "Identifier of the bank connection in the Access API. Initialized\
            \ as soon as the Web Form reaches a final status and a bank connection\
            \ exists in Access. Use this ID to gather Bank Connection data from Access\
            \ endpoints like, \"<a target='_blank' href='https://docs.finapi.io/?product=access#get-/api/v1/bankConnections/-id-'>Get\
            \ a bank connection</a>\" or \"<a target='_blank' href='https://docs.finapi.io/?product=access#get-/api/v1/accounts'>Get\
            \ and search all accounts</a>\".<br/>This field is mutually exclusive\
            \ with <code>paymentId</code> and <code>standingOrderId</code>."
          format: int64
          nullable: true
          example: 42
        paymentId:
          type: integer
          description: "Identifier of the payment in the Access API. Initialized as\
            \ soon as the Web Form reaches a final status and a payment exists in\
            \ Access. Use this ID to get Payment initialization data from the Access\
            \ endpoint, \"<a target='_blank' href='https://docs.finapi.io/?product=access#get-/api/v1/payments'>Get\
            \ payments</a>\".<br/>This field is mutually exclusive with <code>bankConnectionId</code>\
            \ and <code>standingOrderId</code>."
          format: int64
          nullable: true
          example: 42
        standingOrderId:
          type: integer
          description: "Identifier of the standing order in the Access API. Initialized\
            \ as soon as the Web Form reaches a final status and a standing order\
            \ exists in Access. Use this ID to get Standing Order initialization data\
            \ from the Access endpoint, \"<a target='_blank' href='https://docs.finapi.io/?product=access#get-/api/v1/standingOrders'>Get\
            \ standing orders</a>\".<br/>This field is mutually exclusive with <code>bankConnectionId</code>\
            \ and <code>paymentId</code>."
          format: int64
          nullable: true
          example: 42
        errorCode:
          type: string
          description: "Reason of the web form failure.<br/><strong>NOTE:</strong>\
            \ This enum can be extended in the future as new cases arise!<br/><br/>Codes\
            \ can be interpreted as follows:<br/>&bull; <code>ENTITY_EXISTS</code>\
            \ - Access API rejected the import because of detected bank connection\
            \ duplication;<br/>&bull; <code>BANK_SERVER_REJECTION</code> - the flow\
            \ has been terminated on the bank side, e.g., in case of incorrect credentials;<br/>&bull;\
            \ <code>INTERRUPTED</code> - web form has been reloaded or re-opened on\
            \ a step where it's not supported;<br/>&bull; <code>INVALID_TOKEN</code>\
            \ - the given access token expired or became invalid during the flow;\
            \ <br/>&bull; <code>MANDATOR_MISCONFIGURATION</code> - the mandator is\
            \ not properly configured on the Access side, e.g., it is still configured\
            \ to use the old web form, or the scraper interface has been selected\
            \ by the Web Form 2.0 but using it is not allowed on the mandator level.\
            \ Please contact our support team (<a href='mailto:support@finapi.io'>support@finapi.io</a>)\
            \ for troubleshooting;<br/>&bull; <code>NO_ACCOUNTS_FOR_TYPE_LIST</code>\
            \ - in the end of the web form flow there were no accounts of type requested\
            \ in the API call; <br/>&bull; <code>UNDETERMINED_BANK</code> - the given\
            \ search criteria resulted in either zero or multiple bank entries;<br/>&bull;\
            \ <code>UNEXPECTED_ACCESS_RESPONSE</code> - an unexpected response has\
            \ been received from the Access API - similarly to the <code>INTERNAL_ERROR</code>\
            \ code, please forward all details to our Customer Support team; <br/>&bull;\
            \ <code>UNSUPPORTED_FEATURE</code> - Access API rejected the request because\
            \ the requested feature is not supported, e.g., a payment with the execution\
            \ date in the future was requested for a bank that does not support it;<br/>&bull;\
            \ <code>UNSUPPORTED_ORDER</code> - Access API rejected the payment request\
            \ because the associated account does not have the required capabilities;<br/>&bull;\
            \ <code>INTERNAL_ERROR</code> - the reason of the failure can not be identified\
            \ - please forward all the details to our Customer Support team in order\
            \ to get more info and also help us to eliminate the issue."
          nullable: true
          example: INTERNAL_ERROR
          enum:
          - ENTITY_EXISTS
          - BANK_SERVER_REJECTION
          - INTERNAL_ERROR
          - INTERRUPTED
          - INVALID_TOKEN
          - MANDATOR_MISCONFIGURATION
          - NO_ACCOUNTS_FOR_TYPE_LIST
          - UNDETERMINED_BANK
          - UNEXPECTED_ACCESS_RESPONSE
          - UNSUPPORTED_FEATURE
          - UNSUPPORTED_ORDER
        errorMessage:
          type: string
          description: Details of web form failure.
          nullable: true
          example: Invalid credentials.
      description: Payload of the web form
    WebForm:
      required:
      - createdAt
      - expiresAt
      - id
      - payload
      - status
      - type
      - url
      type: object
      properties:
        id:
          maxLength: 36
          minLength: 36
          type: string
          description: Globally unique web form's identifier
          example: 946db09e-5bfc-11eb-ae93-0242ac130002
        url:
          maxLength: 2048
          minLength: 1
          type: string
          description: "Full web form's URL (including the hostname).<br/>You can\
            \ enhance the given URL with the following query parameters: <code>redirectUrl</code>,\
            \ <code>errorRedirectUrl</code>, <code>abortRedirectUrl</code>, <code>customerSupportUrl</code>.<br/>Find\
            \ more info in the <a href='https://documentation.finapi.io/webform/For-best-results!.2477654019.html#Forbestresults!-Enhanceend-userexperience!'\
            \ target='_blank'>Web Form 2.0 Public Documentation</a>."
          example: https://webform.finapi.io/wf/946db09e-5bfc-11eb-ae93-0242ac130002
        createdAt:
          type: string
          description: The timestamp when the web form was created in the format <code>yyyy-MM-dd'T'HH:mm:ss.SSSZ</code>.
          format: date-time
        expiresAt:
          type: string
          description: The timestamp when the web form expires in the format <code>yyyy-MM-dd'T'HH:mm:ss.SSSZ</code>.
          format: date-time
        type:
          $ref: "#/components/schemas/WebFormType"
        status:
          $ref: "#/components/schemas/WebFormStatus"
        payload:
          $ref: "#/components/schemas/Payload"
    WebFormStatus:
      type: string
      description: "<strong>Web form status:</strong><br/>&bull; <code>NOT_YET_OPENED</code>\
        \ - the web form was not yet opened by the end user;<br/>&bull; <code>IN_PROGRESS</code>\
        \ - the web form has already been opened by the end user and is currently\
        \ in progress;<br/>&bull; <code>COMPLETED</code> - the web form has been successfully\
        \ completed (final status);<br/>&bull; <code>COMPLETED_WITH_ERROR</code> -\
        \ the web form has been completed with an error (final status);<br/>&bull;\
        \ <code>EXPIRED</code> - the web form has expired (final status); This status\
        \ means that either the <code>expiresAt</code> has passed, or the user closed\
        \ the web form and we finalized the flow in the background;<br/>&bull; <code>ABORTED</code>\
        \ - the web form has been cancelled by the end user (final status);<br/>&bull;\
        \ <code>CANCELLED</code> - the web form has been cancelled through the public\
        \ API (final status).<br/><br/><strong>NOTE:</strong> This status only applies\
        \ to the Web Form and does not reflect the status of any other background\
        \ processes (ex: synchronization of the bank data, payment status). Even if\
        \ a web form was successfully completed, it can still be the case that accounts\
        \ were not properly imported, or that a payment is still in `PENDING` status."
      example: COMPLETED
      enum:
      - NOT_YET_OPENED
      - IN_PROGRESS
      - COMPLETED
      - COMPLETED_WITH_ERROR
      - EXPIRED
      - ABORTED
      - CANCELLED
    WebFormType:
      type: string
      description: <strong>Web form type:</strong><br/>&bull; <code>BANK_CONNECTION_IMPORT</code>
        - web form was created for importing a bank connection (service "<a href='#post-/api/webForms/bankConnectionImport'>Import
        a bank connection</a>");<br/>&bull; <code>BANK_CONNECTION_UPDATE</code> -
        web form was created for updating a bank connection (service "<a href='#post-/api/tasks/backgroundUpdate'>Update
        a bank connection</a>");<br/>&bull; <code>PAYMENT_WITH_ACCOUNT_ID</code> -
        web form was created for a payment from an account that already exists in
        Access (service "<a href='#post-/api/webForms/paymentWithAccountId'>Create
        a payment with account ID</a>");<br/>&bull; <code>STANDALONE_PAYMENT</code>
        - web form was created for a standalone payment (service "<a href='#post-/api/webForms/standalonePayment'>Create
        a standalone payment</a>");<br/>&bull; <code>DIRECT_DEBIT_WITH_ACCOUNT_ID</code>
        - web form was created for a direct debit from an account that already exists
        in Access (service "<a href='#post-/api/webForms/directDebitWithAccountId'>Create
        a direct debit with account ID</a>");<br/>&bull; <code>STANDING_ORDER</code>
        - web form was created for a standing order (service "<a href='#post-/api/webForms/standingOrder'>Create
        a standing order</a>").
      example: STANDALONE_PAYMENT
      enum:
      - BANK_CONNECTION_IMPORT
      - BANK_CONNECTION_UPDATE
      - PAYMENT_WITH_ACCOUNT_ID
      - STANDALONE_PAYMENT
      - STANDING_ORDER
      - DIRECT_DEBIT_WITH_ACCOUNT_ID
    Amount:
      required:
      - currency
      - value
      type: object
      properties:
        value:
          type: number
          description: The amount of the payment. Must be a positive decimal number
            with at most two decimal places.
          example: 0.04
        currency:
          $ref: "#/components/schemas/Currency"
      description: Amount details
    Callbacks:
      type: object
      properties:
        finalised:
          maxLength: 2048
          minLength: 0
          pattern: "https://(www\\.)?[-a-zA-Z0-9@:%._+~#=]{1,256}\\.[a-zA-Z0-9()]{1,63}\\\
            b([-a-zA-Z0-9()@:%_+.~#?&/=]*)"
          type: string
          description: "URL to which finAPI sends the notification message after the\
            \ web form is finalised (either completed successfully or with an error,\
            \ or aborted by the user).<br/>finAPI will call this URL with HTTP method\
            \ POST ignoring the response of the target endpoint. Only HTTPS URLs are\
            \ allowed."
          nullable: true
          example: https://dev.finapi.io/callback?state=42
      description: Callbacks for the instantiated web form. Find more info in the
        <a href='https://documentation.finapi.io/webform/For-best-results!.2477654019.html#Forbestresults!-Enhanceyourexperience!'
        target='_blank'>Web Form 2.0 Public Documentation</a>.
      nullable: true
    Currency:
      type: string
      description: "<strong>Currency:</strong> The <a target='_blank' href='https://www.iso.org/iso-4217-currency-codes.html'>ISO-4217</a>\
        \ currency code of the amount.<br/>At the moment, the only possible currency\
        \ we accept here is:<br/>&bull; for direct debits and standing orders - <code>EUR</code>\
        \ only;<br/>&bull; for payments with an account - the currency associated\
        \ with the account;<br/>&bull; for standalone payments - the currency must\
        \ be <code>EUR</code> for SEPA transfers, or <code>CZK/RON</code> for domestic\
        \ transfers."
      example: EUR
      enum:
      - AED
      - AFN
      - ALL
      - AMD
      - ANG
      - AOA
      - ARS
      - AUD
      - AWG
      - AZN
      - BAM
      - BBD
      - BDT
      - BGN
      - BHD
      - BIF
      - BMD
      - BND
      - BOB
      - BOV
      - BRL
      - BSD
      - BTN
      - BWP
      - BYN
      - BZD
      - CAD
      - CDF
      - CHE
      - CHF
      - CHN
      - CHW
      - CLF
      - CLP
      - CNY
      - COP
      - COU
      - CRC
      - CUC
      - CUP
      - CVE
      - CZK
      - DJF
      - DKK
      - DOP
      - DZD
      - EGP
      - ERN
      - ETB
      - EUR
      - FJD
      - FKP
      - GBP
      - GEL
      - GGP
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HRK
      - HTG
      - HUF
      - IDR
      - ILS
      - IMP
      - INR
      - IQD
      - IRR
      - ISK
      - JEP
      - JMD
      - JOD
      - JPY
      - KES
      - KGS
      - KHR
      - KID
      - KMF
      - KPW
      - KRW
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LYD
      - MAD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MOP
      - MRU
      - MUR
      - MVR
      - MWK
      - MXN
      - MXV
      - MYR
      - MZN
      - NAD
      - NGN
      - NIO
      - NIS
      - NOK
      - NPR
      - NTD
      - NZD
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PRB
      - PYG
      - QAR
      - RMB
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SGD
      - SHP
      - SLL
      - SLS
      - SOS
      - SRD
      - SSP
      - STN
      - SVC
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRY
      - TTD
      - TVD
      - TWD
      - TZS
      - UAH
      - UGX
      - USD
      - USN
      - UYI
      - UYU
      - UYW
      - UZS
      - VEF
      - VES
      - VND
      - VUV
      - WST
      - XAF
      - XAG
      - XAU
      - XBA
      - XBB
      - XBC
      - XBD
      - XCD
      - XDR
      - XOF
      - XPD
      - XPF
      - XPT
      - XSU
      - XTS
      - XUA
      - XXX
      - YER
      - ZAR
      - ZMW
      - ZWB
      - ZWL
    Recipient:
      required:
      - iban
      - name
      type: object
      properties:
        iban:
          maxLength: 34
          minLength: 0
          type: string
          description: A normalized (without spaces) IBAN of the counterparty's account.<br/><strong>NOTE:</strong>
            Must belong to SEPA area.
          example: DE77533700080111111100
        name:
          maxLength: 70
          minLength: 1
          type: string
          description: "Name of the counterparty.<br/>Note that neither finAPI nor\
            \ the involved bank are guaranteed to validate the counterparty name.\
            \ Even if the name does not depict the actual registered account holder\
            \ of the target account, the order might still be successful."
          example: Max Mustermann
      description: Recipient details
    Sender:
      required:
      - iban
      type: object
      properties:
        iban:
          maxLength: 34
          minLength: 0
          type: string
          description: "A normalized (without spaces) IBAN of the sender's account.\
            \ If the value is provided, the web form will be prefilled with that value.\
            \ Otherwise, it will ask the end user to provide a valid IBAN.<br/><strong>NOTE:</strong>\
            \ If provided, it must belong to SEPA (without Switzerland or the United\
            \ Kingdom) area."
          example: DE77533700080111111100
      description: "Sender details. When not provided at the API-level, the end-user\
        \ can search for the IBAN or Bank name or BLZ directly on the Web Form and\
        \ then initiate the payment."
      nullable: true
    StandingOrderDetails:
      required:
      - amount
      - frequency
      - recipient
      - startDate
      type: object
      properties:
        amount:
          $ref: "#/components/schemas/Amount"
        purpose:
          maxLength: 2000
          minLength: 1
          type: string
          description: The purpose of the transfer transaction
          nullable: true
          example: Well done
        sepaPurposeCode:
          pattern: "^[a-zA-Z0-9]{4}$"
          type: string
          description: "SEPA purpose code, according to ISO 20022, external codes\
            \ set.<br/>Please note that the SEPA purpose code may be ignored by some\
            \ banks."
          nullable: true
          example: SALA
        endToEndId:
          maxLength: 35
          minLength: 1
          type: string
          description: End-To-End ID for the transfer transaction.
          nullable: true
          example: endToEndId
        recipient:
          $ref: "#/components/schemas/Recipient"
        sender:
          $ref: "#/components/schemas/Sender"
        startDate:
          type: string
          description: "Date when the 1st of the standing orders should be executed,\
            \ in the format <code>YYYY-MM-DD</code>. The date may not be in the past."
          format: date
          example: "2022-12-31"
        endDate:
          type: string
          description: "Date by when the last standing order in the request should\
            \ be executed, in the format <code>YYYY-MM-DD</code>. If is not provided,\
            \ it is an infinite standing order. This date must be after the start\
            \ date."
          format: date
          nullable: true
          example: "2023-12-31"
        frequency:
          type: string
          description: The frequency of the recurring payment resulting from the standing
            order.
          example: MONTHLY
          enum:
          - MONTHLY
          - EVERY_TWO_MONTHS
          - QUARTERLY
          - SEMI_ANNUAL
          - ANNUAL
        profileId:
          maxLength: 36
          minLength: 36
          type: string
          description: "The profile to be applied to the web form.<br/>This will overwrite\
            \ the default profile, if such a profile exists."
          nullable: true
          example: a2c9fc3b-1777-403c-8b2f-1ce4d90157a2
        redirectUrl:
          maxLength: 2048
          minLength: 1
          pattern: "https://(www\\.)?[-a-zA-Z0-9@:%._+~#=]{1,256}\\.[a-zA-Z0-9()]{1,63}\\\
            b([-a-zA-Z0-9()@:%_+.~#?&/=]*)"
          type: string
          description: "The URL where the end-user will be redirected to after completing\
            \ the bank login and (possibly) the SCA on the bank's website. Must always\
            \ be provided by mandators with <code>FULLY_LICENSED</code> or <code>PISP</code>\
            \ license type, and may not be provided by mandators with other license\
            \ types. Find more info in the <a target='_blank' href='https://documentation.finapi.io/webform/Licensed-customers-using-the-Web-Form.2832302195.html'>Web\
            \ Form 2.0 Public Documentation</a>.<br/><br/><strong>NOTE:</strong> Please\
            \ note that this URL is used during the bank authentication flow. If you\
            \ would like to provide a URL to which the end user will get redirected\
            \ at the <strong>end of the web form flow</strong>, please check out the\
            \ <a href='https://documentation.finapi.io/webform/For-best-results!.2477654019.html#Forbestresults!-Enhanceend-userexperience!'\
            \ target='_blank'>Web Form 2.0 Public Documentation</a>."
          nullable: true
          example: https://finapi.io/callback
        callbacks:
          $ref: "#/components/schemas/Callbacks"
        allowTestBank:
          type: boolean
          description: "Whether the bank search will include the test banks in the\
            \ search results. When set to false, all test banks will be excluded from\
            \ the bank search results."
          nullable: true
          example: true
          default: true
    InvalidFieldError:
      required:
      - field
      - message
      type: object
      properties:
        field:
          type: string
          description: Field that caused the error
        message:
          type: string
          description: Error message
      description: Error details regarding the field and cause of the error
    ValidationError:
      required:
      - endpoint
      - errors
      - timestamp
      type: object
      properties:
        errors:
          maxItems: 2147483647
          minItems: 1
          type: array
          description: Fields that caused the error
          items:
            $ref: "#/components/schemas/InvalidFieldError"
        timestamp:
          type: string
          description: Timestamp when the error occurred in the format <code>yyyy-MM-dd'T'HH:mm:ss.SSSZ</code>.
          format: date-time
        endpoint:
          type: string
          description: Endpoint caused the error
          example: GET /api/webForms
      description: Set of validation errors
    WebFormCompletedCallback:
      required:
      - status
      - webFormId
      type: object
      properties:
        webFormId:
          maxLength: 36
          minLength: 36
          type: string
          description: Web form's identifier
          example: 31c508d8-51da-11eb-ae93-0242ac130002
        status:
          $ref: "#/components/schemas/WebFormStatus"
    AddressData:
      type: object
      properties:
        street:
          maxLength: 70
          minLength: 1
          type: string
          description: Street of the counterparty's address
          example: Pariser Platz
        houseNumber:
          maxLength: 16
          minLength: 1
          type: string
          description: House number of the counterparty's address
          example: "1"
        postCode:
          maxLength: 16
          minLength: 1
          type: string
          description: Post code of the counterparty's address
          example: "10117"
        city:
          maxLength: 35
          minLength: 1
          type: string
          description: City of the counterparty's address
          example: Berlin
        country:
          $ref: "#/components/schemas/CountryCode"
      description: The address data of the counterparty.<br/><br/>These address fields
        are only relevant in very few cases if the debtor bank requires the counterparty's
        address.<br/>Please refer to the <a href='https://documentation.finapi.io/payments/czech-republic-sepa-transfers'
        target='_blank'>Czech Republic SEPA Transfers documentation</a> for more details.
      nullable: true
    StandalonePaymentDetails:
      required:
      - orders
      type: object
      properties:
        orders:
          maxItems: 15000
          minItems: 1
          type: array
          description: Payment orders
          items:
            $ref: "#/components/schemas/StandalonePaymentOrder"
        executionDate:
          type: string
          description: "Execution date for the money transfer(s), in the format <code>YYYY-MM-DD</code>.\
            \ May not be in the past. If not specified, then the current date will\
            \ be used."
          format: date
          nullable: true
          example: "2022-12-31"
        batchBookingPreferred:
          type: boolean
          description: "This field is only relevant when you pass multiple orders.\
            \ It determines whether the orders should be processed by the bank as\
            \ one collective booking (in case of <code>true</code>), or as separate\
            \ bookings (in case of <code>false</code>). Note that it is subject to\
            \ the bank whether it will regard the field."
          nullable: true
          example: true
          default: true
        instantPayment:
          type: boolean
          description: "Whether the order should be submitted to the bank as an instant\
            \ SEPA order. <br/><br/><strong>NOTE:</strong><br/>&bull; Submitting an\
            \ instant payment will work only with interfaces that support it.<br/>&bull;\
            \ Instant payments work only for a single order, not for collective orders.<br/>&bull;\
            \ The bank may charge a fee for instant payments, depending on the agreement\
            \ between the user and the bank.<br/>&bull; The payment might get rejected\
            \ if the source and/or target account doesn't support instant payments.<br/><br/>If\
            \ you are interested in additional banks where we can support Instant\
            \ Payments, please contact our Sales or support team"
          example: false
          default: false
        profileId:
          maxLength: 36
          minLength: 36
          type: string
          description: "The profile to be applied to the web form.<br/>This will overwrite\
            \ the default profile, if such a profile exists."
          nullable: true
          example: a2c9fc3b-1777-403c-8b2f-1ce4d90157a2
        redirectUrl:
          maxLength: 2048
          minLength: 1
          pattern: "https://(www\\.)?[-a-zA-Z0-9@:%._+~#=]{1,256}\\.[a-zA-Z0-9()]{1,63}\\\
            b([-a-zA-Z0-9()@:%_+.~#?&/=]*)"
          type: string
          description: "The URL where the end-user will be redirected to after completing\
            \ the bank login and (possibly) the SCA on the bank's website. Must always\
            \ be provided by mandators with <code>FULLY_LICENSED</code> or <code>PISP</code>\
            \ license type, and may not be provided by mandators with other license\
            \ types. Find more info in the <a target='_blank' href='https://documentation.finapi.io/webform/Licensed-customers-using-the-Web-Form.2832302195.html'>Web\
            \ Form 2.0 Public Documentation</a>.<br/><br/><strong>NOTE:</strong> Please\
            \ note that this URL is used during the bank authentication flow. If you\
            \ would like to provide a URL to which the end user will get redirected\
            \ at the <strong>end of the web form flow</strong>, please check out the\
            \ <a href='https://documentation.finapi.io/webform/For-best-results!.2477654019.html#Forbestresults!-Enhanceend-userexperience!'\
            \ target='_blank'>Web Form 2.0 Public Documentation</a>."
          nullable: true
          example: https://finapi.io/callback
        callbacks:
          $ref: "#/components/schemas/Callbacks"
        sender:
          $ref: "#/components/schemas/Sender"
        allowTestBank:
          type: boolean
          description: "Whether the bank search will include the test banks in the\
            \ search results. When set to false, all test banks will be excluded from\
            \ the bank search results."
          nullable: true
          example: true
          default: true
    StandalonePaymentOrder:
      required:
      - amount
      - recipient
      type: object
      properties:
        recipient:
          $ref: "#/components/schemas/StandalonePaymentRecipient"
        structuredRemittanceInformation:
          uniqueItems: true
          type: array
          description: |
            This attribute is used to submit structured remittance information for the domestic
            payments. Please refer to the documentation for more details. For more information,
            please check the <a href="https://documentation.finapi.io/payments/
            Czech-Republic-Domestic-Transfers.3045916711.html">FAQ article</a>.
          nullable: true
          example:
          - VS:12345
          - KS:12345
          - SS:12345
          items:
            pattern: "(VS:|KS:|SS:)\\d{1,10}"
            type: string
        amount:
          $ref: "#/components/schemas/Amount"
        purpose:
          maxLength: 2000
          minLength: 1
          type: string
          description: The purpose of the transfer transaction
          nullable: true
          example: Well done
        sepaPurposeCode:
          pattern: "^[a-zA-Z0-9]{4}$"
          type: string
          description: "SEPA purpose code, according to ISO 20022, external codes\
            \ set.<br/>Please note that the SEPA purpose code may be ignored by some\
            \ banks."
          nullable: true
          example: SALA
        endToEndId:
          maxLength: 35
          minLength: 1
          type: string
          description: End-To-End ID for the transfer transaction.
          nullable: true
          example: endToEndId
      description: Payment order
    StandalonePaymentRecipient:
      required:
      - iban
      type: object
      properties:
        name:
          maxLength: 70
          minLength: 1
          type: string
          description: "Name of the counterparty. Must be provided for the SEPA transfers.<br/>Note\
            \ that neither finAPI nor the involved bank are guaranteed to validate\
            \ the counterparty name. Even if the name does not depict the actual registered\
            \ account holder of the target account, the order might still be successful."
          nullable: true
          example: Max Mustermann
        iban:
          maxLength: 34
          minLength: 1
          type: string
          description: A normalized (without spaces) IBAN of the counterparty's account<br/><strong>NOTE:</strong>
            Must belong to SEPA area.
          example: DE77533700080111111100
        bic:
          pattern: "^[A-Z]{4}(AD|AE|AF|AG|AI|AL|AM|AO|AQ|AR|AS|AT|AU|AW|AX|AZ|BA|BB|BD|BE|BF|BG|BH|BI|BJ|BL|BM|BN|BO|BQ|BR|BS|BT|BV|BW|BY|BZ|CA|CC|CD|CF|CG|CH|CI|CK|CL|CM|CN|CO|CR|CU|CV|CW|CX|CY|CZ|DE|DJ|DK|DM|DO|DZ|EC|EE|EG|EH|ER|ES|ET|FI|FJ|FK|FM|FO|FR|GA|GB|GD|GE|GF|GG|GH|GI|GL|GM|GN|GP|GQ|GR|GS|GT|GU|GW|GY|HK|HM|HN|HR|HT|HU|ID|IE|IL|IM|IN|IO|IQ|IR|IS|IT|JE|JM|JO|JP|KE|KG|KH|KI|KM|KN|KP|KR|KW|KY|KZ|LA|LB|LC|LI|LK|LR|LS|LT|LU|LV|LY|MA|MC|MD|ME|MF|MG|MH|MK|ML|MM|MN|MO|MP|MQ|MR|MS|MT|MU|MV|MW|MX|MY|MZ|NA|NC|NE|NF|NG|NI|NL|NO|NP|NR|NU|NZ|OM|PA|PE|PF|PG|PH|PK|PL|PM|PN|PR|PS|PT|PW|PY|QA|RE|RO|RS|RU|RW|SA|SB|SC|SD|SE|SG|SH|SI|SJ|SK|SL|SM|SN|SO|SR|SS|ST|SV|SX|SY|SZ|TC|TD|TF|TG|TH|TJ|TK|TL|TM|TN|TO|TR|TT|TV|TW|TZ|UA|UG|UM|US|UY|UZ|VA|VC|VE|VG|VI|VN|VU|WF|WS|XK|YE|YT|ZA|ZM|ZW)[2-9A-Z][0-9A-NP-Z](XXX|[0-9A-WYZ]{1}[0-9A-Z]{2})?$"
          type: string
          description: BIC of the counterparty's account
          nullable: true
          example: DEUTDEFF533
        address:
          $ref: "#/components/schemas/AddressData"
        bankName:
          maxLength: 128
          minLength: 1
          type: string
          description: Bank name of the counterparty's account.<br/>Note that neither
            finAPI nor the involved bank are guaranteed to validate the counterparty
            bank name.
          nullable: true
          example: finAPI Test Bank
      description: Payment Recipient
    PaymentWithAccountDetails:
      required:
      - orders
      - sender
      type: object
      properties:
        executionDate:
          type: string
          description: "Execution date for the money transfer(s), in the format <code>YYYY-MM-DD</code>.\
            \ May not be in the past. If not specified, then the current date will\
            \ be used."
          format: date
          nullable: true
          example: "2022-12-31"
        batchBookingPreferred:
          type: boolean
          description: "This field is only relevant when you pass multiple orders.\
            \ It determines whether the orders should be processed by the bank as\
            \ one collective booking (in case of <code>true</code>), or as separate\
            \ bookings (in case of <code>false</code>). Note that it is subject to\
            \ the bank whether it will regard the field."
          nullable: true
          example: true
          default: true
        profileId:
          maxLength: 36
          minLength: 36
          type: string
          description: "The profile to be applied to the web form.<br/>This will overwrite\
            \ the default profile, if such a profile exists."
          nullable: true
          example: a2c9fc3b-1777-403c-8b2f-1ce4d90157a2
        redirectUrl:
          maxLength: 2048
          minLength: 1
          pattern: "https://(www\\.)?[-a-zA-Z0-9@:%._+~#=]{1,256}\\.[a-zA-Z0-9()]{1,63}\\\
            b([-a-zA-Z0-9()@:%_+.~#?&/=]*)"
          type: string
          description: "The URL where the end-user will be redirected to after completing\
            \ the bank login and (possibly) the SCA on the bank's website. Must always\
            \ be provided by mandators with <code>FULLY_LICENSED</code> or <code>PISP</code>\
            \ license type, and may not be provided by mandators with other license\
            \ types. Find more info in the <a target='_blank' href='https://documentation.finapi.io/webform/Licensed-customers-using-the-Web-Form.2832302195.html'>Web\
            \ Form 2.0 Public Documentation</a>.<br/><br/><strong>NOTE:</strong> Please\
            \ note that this URL is used during the bank authentication flow. If you\
            \ would like to provide a URL to which the end user will get redirected\
            \ at the <strong>end of the web form flow</strong>, please check out the\
            \ <a href='https://documentation.finapi.io/webform/For-best-results!.2477654019.html#Forbestresults!-Enhanceend-userexperience!'\
            \ target='_blank'>Web Form 2.0 Public Documentation</a>."
          nullable: true
          example: https://finapi.io/callback
        callbacks:
          $ref: "#/components/schemas/Callbacks"
        sender:
          $ref: "#/components/schemas/PaymentWithAccountSender"
        instantPayment:
          type: boolean
          description: "Whether the order should be submitted to the bank as an instant\
            \ SEPA order. <br/><br/><strong>NOTE:</strong><br/>&bull; Submitting an\
            \ instant payment will work only with interfaces that support it.<br/>&bull;\
            \ Instant payments work only for a single order, not for collective orders.<br/>&bull;\
            \ The bank may charge a fee for instant payments, depending on the agreement\
            \ between the user and the bank.<br/>&bull; The payment might get rejected\
            \ if the source and/or target account doesn't support instant payments.<br/><br/>If\
            \ you are interested in additional banks where we can support Instant\
            \ Payments, please contact our Sales or support team"
          example: false
          default: false
        orders:
          maxItems: 15000
          minItems: 1
          type: array
          description: Payment orders
          items:
            $ref: "#/components/schemas/PaymentWithAccountOrder"
      description: Parameters for a payment with an account
    PaymentWithAccountOrder:
      required:
      - amount
      - recipient
      type: object
      properties:
        recipient:
          $ref: "#/components/schemas/PaymentWithAccountRecipient"
        structuredRemittanceInformation:
          uniqueItems: true
          type: array
          description: |
            This attribute is used to submit structured remittance information for the domestic
            payments. Please refer to the documentation for more details. For more information,
            please check the <a href="https://documentation.finapi.io/payments/
            Czech-Republic-Domestic-Transfers.3045916711.html">FAQ article</a>.
          nullable: true
          example:
          - VS:12345
          - KS:12345
          - SS:12345
          items:
            pattern: "(VS:|KS:|SS:)\\d{1,10}"
            type: string
        amount:
          $ref: "#/components/schemas/Amount"
        purpose:
          maxLength: 2000
          minLength: 1
          type: string
          description: The purpose of the transfer transaction
          nullable: true
          example: Well done
        sepaPurposeCode:
          pattern: "^[a-zA-Z0-9]{4}$"
          type: string
          description: "SEPA purpose code, according to ISO 20022, external codes\
            \ set.<br/>Please note that the SEPA purpose code may be ignored by some\
            \ banks. Only applicable for the SEPA transfers and will be discarded\
            \ for other transfers."
          nullable: true
          example: SALA
        endToEndId:
          maxLength: 35
          minLength: 1
          type: string
          description: End-To-End ID for the transfer transaction. Only applicable
            for the SEPA transfers and will be discarded for other transfers.
          nullable: true
          example: endToEndId
      description: Payment order
    PaymentWithAccountRecipient:
      required:
      - iban
      type: object
      properties:
        name:
          maxLength: 70
          minLength: 1
          type: string
          description: "Name of the counterparty. Must be provided for the SEPA transfers.<br/>Note\
[...]
