openapi: 3.0.1
info:
  title: finAPI Data Intelligence
  version: "2024.32.1"
  description: |
    The following pages give you some general information on how to use the API.

    The actual API services documentation then follows further below. You can
    use the menu to jump between API sections.


    This page has a built-in HTTP(S) client, so you can test the services
    directly from within this page, by filling in the request parameters and/or
    body in the respective services, and then hitting the TRY button. Note that
    you need to be authorized to make a successful API call. To authorize, refer
    to the 'Authorization' section of the API, or just use the OAUTH button that
    can be found near the TRY button.
    
    
    In general, authorized API endpoints require authorization with an OAuth user-token with the necessary (product-specific- or administrative-) scopes as defined in this document. 
    **Authorization with OAuth client-tokens is not possible**. For retrieval of the required __authorization token__ to use this service, refer to the 
    [DI Solutions Public Documentation](https://documentation.finapi.io/dippd/getting-started-authorization)'s authorization-related chapter to elaborate the approach suitable for your product,
    and to understand the required scopes.
    
    
    Besides the built-in client, we provide a [Postman](https://www.postman.com/downloads/) collection for 
    testing on our sandbox environment(right-click on the links to store the 
    <a href="https://di-sandbox.finapi.io/postman_customer/finapi-di-reportservice-postman-customer.zip" target="_blank">ZIP archive file</a>.  
    
    
    You should also check out the Developer Portal for more information. If you
    need any help with the API, contact support@finapi.io
    
    
    <sub>Application-Version: 1.857.0</sub>
  contact:
    name: finAPI GmbH
    url: 'https://www.finapi.io/impressum/'
    email: kontakt@finapi.io
  x-logo:
    url: 'https://docs.finapi.io/css/images/finapi-logo-new.png'
servers:
  - url: 'https://di-sandbox.finapi.io/api/v1'
  - url: 'https://di-live.finapi.io/api/v1'
tags:
  - name: Data Sources
  - name: Users
  - name: Cases
  - name: Checks
  - name: Aggregations
  - name: Transactions
    description: |
      Endpoints to obtain labelled transactions
  - name: Report
  - name: SCHUFA Reports
  - name: Extended Analyses
    description: |
      Endpoints to start an extended analysis on all transactions
  - name: DAC for loan
  - name: Balances
    description: |
      Endpoints to obtain daily balances
  - name: Labels
    description: |
      Endpoints to obtain informations about the defined lables and their mapping to reports

paths:
  '/dataSources':
    get:
      operationId: fetchAllDataSourcesOfUser
      summary: Get a list of data sources for the user
      description: |
        The service retrieves all data sources created for the authorized user.
        The <code>dataSourceIds</code> and <code>accountIds</code> provided in the response can be used as <code>dataSourceIds</code> for subsequent case file creation.

        > Note: *In case some bank connections were imported for the same DI user directly in finAPI Access, these connections will not be included in the response body of this service until the synchronization endpoint is called.*
      tags:
        - Data Sources
      security:
        - ApiOAuth2: [ DATA_INTELLIGENCE, FINAPI_INTERNAL ]
      responses:
        '200':
          description: Success
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/DataSources'
        '401':
          description: Unauthorized
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessageUnauthorized'
        '404':
          description: Datasources not found
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                dataSourcesNotFound:
                  $ref: '#/components/examples/errorMessage404DataSourcesExample'
        '500':
          description: An unexpected error occurred
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  "/dataSources/schufa/creditInformation":
    post:
      operationId: createSchufaCreditInformationDataSource
      summary: Create new SCHUFA data source
      description: |
        The service uses the provided by customer information to obtain the SCHUFA score and contracts data.
        By default it corresponds to a request to the `SCHUFA A-Auskunft` with the feature code `KH`.
        To obtain the data, it is necessary to provide SCHUFA credentials.

        Fully automated processing by the SCHUFA is not possible in every case. The API returns a <code>400</code> error in this case,
        with the code <code>ERROR_CODE_SCHUFA_MANUAL_PROCESSING</code> or <code>ERROR_CODE_SCHUFA_NO_ELECTRONIC_PROCESSING</code>.
      tags:
        - Data Sources
      security:
        - ApiOAuth2: [ DATA_INTELLIGENCE, FINAPI_INTERNAL ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SchufaCreditCheckResource'
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SchufaDataSourceResource"
        '400':
          description: Input parameter is invalid
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                schufaManualProcessing:
                  $ref: '#/components/examples/errorMessage400SchufaManualProcessingExample'
                invalidInputParameter:
                  $ref: '#/components/examples/errorMessage400Example'
        '401':
          description: Unauthorized
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessageUnauthorized'
        '403':
          description: SCHUFA service business error occurred
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                invalidInputParameter:
                  $ref: '#/components/examples/errorMessage403Example'
        '500':
          description: An unexpected error occurred
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorMessage"

  '/dataSources/bankConnections/synchronization':
    post:
      operationId: syncBankConnectionDataSources
      summary: Synchronize bank connection data sources
      description: |
        The service synchronizes bank connections with the data sources.
        It updates and/or adds the available accounts and bank connections for the authorized user, which are importable without user interaction.
        > In case <code>finapiAccessAccountId </code> or <code>IBAN </code> are specified as input parameters, the service will synchronize only the given account data*
      tags:
        - Data Sources
      security:
        - ApiOAuth2: [ DATA_INTELLIGENCE, FINAPI_INTERNAL ]
      requestBody:
        required: false
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/SynchronizeBankConnectionParams'
      callbacks:
        datasource:
          '{$request.body#/callbackUrl}':
            post:
              operationId: getDataSourceCallback
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: "#/components/schemas/DataSourceStatusCallbackResource"
              responses:
                '200':
                  description: Response if callback was accepted.

      responses:
        '201':
          description: Success
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/DataSources'
        '401':
          description: Unauthorized
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessageUnauthorized'
        '404':
          description: Datasources not found
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                dataSourcesNotFound:
                  $ref: '#/components/examples/errorMessage404DataSourcesExample'
                accountNotFound:
                  $ref: '#/components/examples/errorMessage404AccountExample'
        '423':
          description: A synchronization is already in progress for the given input parameters.
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                syncAlreadyStarted:
                  $ref: '#/components/examples/errorMessage423BankConnectionSyncExample'
                concurrentApiCall:
                  $ref: '#/components/examples/errorMessage423ConcurrentAccess'
        '500':
          description: An unexpected error occurred
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  '/dataSources/{dataSourceId}/status':
    get:
      operationId: statusOfDatasourceById
      summary: Get the status of a data source
      description: |
        The service returns the status of the created data source, that can be either <code>IN_PROGRESS</code>, <code>SUCCESSFUL</code>, <code>FAILED</code>.
        The code returned as a part of the response body provides the reason why the data source refers to this or that status.

        The service updates the given data source.
        If the consent of the user is no longer valid on the bank's side, then a Strong Customer Authentication will be required for updating the bank data.
        <br><br>
        Both <code>accountIds</code> and <code>dataSourceIds</code> can be used as <code>dataSourceId</code> for the bank connection update.
        In case the <code> accountId </code> is used as a <code> dataSourceId</code> request parameter, the data source (bank connection), to which this account belongs will be updated.
      tags:
        - Data Sources
      security:
        - ApiOAuth2: [ DATA_INTELLIGENCE, FINAPI_INTERNAL ]
      parameters:
        - name: dataSourceId
          description: UUID of the data source
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          description: Success
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/DataSourceStatusResource'
        '400':
          description: Input parameter is invalid
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                invalidInputParameter:
                  $ref: '#/components/examples/errorMessage400Example'
        '401':
          description: Unauthorized
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessageUnauthorized'
        '404':
          description: Datasource not found
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                dataSourceNotFound:
                  $ref: '#/components/examples/errorMessage404DataSourceExample'
        '500':
          description: An unexpected error occurred
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                internalErrorExample:
                  $ref: '#/components/examples/errorMessage500'
                invalidParameterExample:
                  $ref: '#/components/examples/errorMessage500InvalidParameter'

  '/dataSources/transactions':
    post:
      operationId: storeTransactions
      summary: Create a transaction datasource
      description: |
        Store transactions directly via API to the Report Service, instead of connecting an existing datasource.
        The service returns the status of the created data source, that can be either <code>IN_PROGRESS</code>, <code>SUCCESSFUL</code>, <code>FAILED</code>.
      tags:
        - Data Sources
      security:
        - ApiOAuth2: [ DATA_INTELLIGENCE, FINAPI_INTERNAL ]
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/TransactionDataRequest'
      responses:
        '201':
          description: Success
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/TransactionDataSourceResponse'
        '400':
          description: Input parameter is invalid
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                invalidInputParameter:
                  $ref: '#/components/examples/errorMessage400Example'
        '401':
          description: Unauthorized
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessageUnauthorized'
        '404':
          description: Datasource not found
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                dataSourceNotFound:
                  $ref: '#/components/examples/errorMessage404DataSourceExample'
        '422':
          description: Not all data sources completed successfully.
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                unprocessable:
                  $ref: '#/components/examples/errorMessage422CaseUnprocessableExample'
        '500':
          description: An unexpected error occurred
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                internalErrorExample:
                  $ref: '#/components/examples/errorMessage500'
                invalidParameterExample:
                  $ref: '#/components/examples/errorMessage500InvalidParameter'

  '/cases':
    get:
      operationId: fetchAllCases
      summary: Get all cases
      description: |
        The service retrieves all case files created for the authorized user together with the data sources and reports stored in each of the case files.
      tags:
        - Cases
      security:
        - ApiOAuth2: [ DATA_INTELLIGENCE, FINAPI_INTERNAL ]
      responses:
        '200':
          description: Success
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/UserCasesResource'
        '401':
          description: Unauthorized
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessageUnauthorized'
        '404':
          description: The case does not exist
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                caseNotFoundExample:
                  $ref: '#/components/examples/errorMessage404CasesExample'
        '500':
          description: An unexpected error occurred
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
    post:
      operationId: createCase
      summary: Create a case
      description: |
        The service creates a new case file, i.e. an information container where the imported and analysed data of the authorized user is stored.
        <br><br>
        The case defines the timeframe for the report results within it, by setting the optional <code>maxDaysForCase</code> parameter.
        The parameter sets the inclusive range (in number of days) for which the transactions will be analysed, going back from the case file creation date.
        <br><br>
        Both <code>accountIds</code> and <code>dataSourceIds</code> can be used as data sources for the case creation.
        The data sources can be used as a container for multiple accounts.

        > Note: *<code>dataSourceIds</code> will be resolved internally to <code>accountIds</code> to avoid changes in the report if the user adds or removes new accounts on the data source.*

        > Note: *A case file can contain maximum one SCHUFA Credit Check Data Source.*

        > Note: *<code>maxDaysForCase</code> parameter does not set any limitations for the data, retrieved based on the SCHUFA Credit Check Data Sources.*
      tags:
        - Cases
      security:
        - ApiOAuth2: [ DATA_INTELLIGENCE, FINAPI_INTERNAL ]
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/CreateCaseParams'
      responses:
        '201':
          description: Success
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/CaseResource'
        '400':
          description: Input parameter is invalid
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                invalidInputParameter:
                  $ref: '#/components/examples/errorMessage400Example'
        '401':
          description: Unauthorized
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessageUnauthorized'
        '404':
          description: Datasource not found
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                dataSourceNotFound:
                  $ref: '#/components/examples/errorMessage404DataSourceExample'
        '422':
          description: Not all data sources completed successfully.
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                unprocessable:
                  $ref: '#/components/examples/errorMessage422CaseUnprocessableExample'
        '423':
          description: Case file cannot contain multiple SCHUFA Credit Check Data Sources.
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                creditRatingDataSourceDuplicated:
                  $ref: '#/components/examples/errorMessage423SchufaDataSourceDuplicateExample'
        '500':
          description: An unexpected error occurred
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  '/cases/{caseId}/report':
    post:
      operationId: createReport
      summary: Create a report
      description: |
        The service creates a Report based on the data stored in the case file and the report type in the request body.
        The transactions which are used for the report creation are defined by the <code>dataSourceIds</code> inside the case file and <code>maxDaysForCase</code> parameter.
        The parameter sets the inclusive range (in number of days) for which the transactions will be analysed, going back from the case file creation date.
        <br><br>
        If there is a need for report to be re-generated, the <code>parentReportId</code> field and optional field <code>endDate</code> need to be specified.
        If the <code>endDate</code> is not present the default value is today / now.
        If the <code>endDate</code> is present the day is considered until 23:59:59, so that it is a day to day report.
        Such a report will be considered continuous and will have associated with it child reports, created inside of the same case file.
        <br><br>
        The result returned by the service is the UUID of the report created.

        | Report type (from <code>ReportTypeEnum</code>) | Description                                                                                                                                                                                                                                |
        |------------------------------------------------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
        | **Risk Indicators reports**                    |                                                                                                                                                                                                                                            |
        | <code>RISK_INDICATORS</code>                   | Risk Indicators report is aimed to summarize risk transactions for the following categories 
        |                                                | **Chargebacks** subreport is aimed at returning only the labeled transactions related to the user’s returned charges.  The report detects chargebacks transactions that are split into CHARGEBACKS_ACTIVE (actual chargebacks transactions of the account), CHARGEBACKS_PASSIVE (chargebacks transactions for 3rd parties, like customers), CHARGEBACKS_OBJECTION_INCOME (an objection against the validity of a chargeback), CHARGEBACKS_OBJECTION_SPENDING (if a company, an objection against the validity of a chargeback of the  3rd parties, like customers against the company), CHARGEBACKS and CHARGEBACK_FEE ( transactions that do not have enough information to be considered in the other categories).                                                                                                                                              |                                                                                                                           | 
        |                                                | **Debt Collection** subreport is aimed at returning only the labeled transactions related to debt repayment.                                                                                                                                      |
        |                                                | **Gambling** subreport is aimed at returning only the labeled transactions that signify the gaming and gambling-related expenditures.                                                                                                             |
        |                                                | **Seizure** subreport is aimed at returning only the labeled transactions that signify seizure.The report detects seizure transactions that are split into SEIZURE_ACTIVE (actual seizure transactions of the account), SEIZURE_SALARY (salary transactions from which the amount was already seized; the extracted seized amount is used for the calculations) and SEIZURE_PASSIVE (seizure transactions for 3rd parties, like employees).                                                                                                                                              |
        |                                                | **Credit Limit** subreport is aimed at returning only the labeled transactions related to overdraft interest repayment.                                                                                                                           |
        |                                                |                                                                                                                                                                                                                                            |
        | **Cashflow reports**                           |                                                                                                                                                                                                                                            |
        | <code>MAXIMUMAVAILABLEFUNDS</code>             | MAF report is aimed at returning the maximum amount of available funds, which equals to the sum of account’s balance and overdraft limit (if available) on a certain date and the date when this amount was present on the account.        |
        | <code>SPENDING</code>                          | Spending report is aimed at returning only the labeled transactions with negative amounts, that signify the user’s spending's on rent, insurance and etc.                                                                                  |
        | <code>INCOME</code>                            | Income report is aimed at returning only the labeled transactions with positive amounts, that signify the user’s incomes obtained as a result of salary, pension payments and etc.                                                         |
        | <code>RENTANDLIVING</code>                     | Rent & Living report is aimed at returning only the labeled transactions with negative amounts, that signify the user’s Rent & Living-related expenditures, such as spending on utilities, rent and etc.                                   |
        | <code>INSURANCE</code>                         | Insurance report is aimed at returning only the labeled transactions with negative amounts, that signify the user’s insurance-related expenditures, such as spending on life insurance, accidents insurance and etc.                       |
        | <code>BALANCES</code>                          | Balances report is aimed at returning the analysed balances data, such as the average balance per the given period, maximum and minimum balance amounts and the dates when these amounts were present, overdraft limit (if available).     |
        |                                                |                                                                                                                                                                                                                                            |
        |                                                |                                                                                                                                                                                                                                            |
        | **Contract reports**                           |                                                                                                                                                                                                                                            |
        | <code>CONTRACTSINSURANCE</code>                | Contracts Reports for insurances is aimed at returning the information about the insurance-related contractual relationships, that the authorized user has in the analyzed time span together with the transactions associated with these contractual relationships.                 |
        | <code>CONTRACTSLOAN</code>                     | Contracts Reports for loans is aimed at returning the information about the loans-related contractual relationships, that the authorized user has in the analyzed time span together with the transactions associated with these contractual relationships.                          |
        | <code>CONTRACTSELECTRICITY</code>              | Contracts Reports for electricity is aimed at returning the information about the electricity-related contractual relationships, that the authorized user has in the analyzed time span together with the transactions associated with these contractual relationships.              |
        | <code>CONTRACTSGAS</code>                      | Contracts Reports for gas is aimed at returning the information about the gas-related contractual relationships, that the authorized user has in the analyzed time span together with the transactions associated with these contractual relationships.                              |
        | <code>CONTRACTSTELECOMMUNICATION</code>        | Contracts Reports for telecommunication is aimed at returning the information about the telecommunication-related contractual relationships, that the authorized user has in the analyzed time span together with the transactions associated with these contractual relationships.  |
        | <code>CONTRACTSLOANVALIDATOR</code>            | Contracts Reports for loan validator is aimed at returning the information about the loans-related contractual relationships, that the authorized user has in the analyzed time span together with the transactions associated with these contractual relationships.                 |

        > Note: *Balances report does not consider security accounts.*
        <br><br>
        > Note: *<code>dataSourceIds</code> will be resolved internally to <code>accountIds</code> to avoid changes in the report if the user adds or removes new accounts on the data source.*

        > Note: *It is recommended to check the state of the datasources, before creating a continuous report (by setting the <code>parentReportId</code>), to ensure, that bank consent to download transactions is still valid.*

        > Note: *In case the report is considered continuous, the time span of transactions, that will be analysed for child reports is defined by the end date of the parent report and <code>endDate</code>, not by <code>maxDaysForCase</code> parameter.*

        > Note: *A case file can contain maximum one Report of the same type (child reports are not taken into account for this count).*

        > Note: *The mapping of transaction labels to reports can be obtained from the API endpoint <code>/labels</code>.*

      tags:
        - Report
      security:
        - ApiOAuth2: [ DATA_INTELLIGENCE, FINAPI_INTERNAL ]
      parameters:
        - name: caseId
          schema:
            type: string
          in: path
          required: true
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/CreateReportParams'
            examples:
              defaultReport:
                $ref: '#/components/examples/createReportBodyExample'
              continuousReport:
                $ref: '#/components/examples/createReportContinuousBodyExample'
      responses:
        '201':
          description: Success
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ReportResource'
        '400':
          description: Input parameter is invalid
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                invalidInputParameter:
                  $ref: '#/components/examples/errorMessage400Example'
        '401':
          description: Unauthorized
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessageUnauthorized'
        '404':
          description: Report does not exist
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                reportNotFoundExample:
                  $ref: '#/components/examples/errorMessage404ReportExample'
        '500':
          description: An unexpected error occurred
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  '/cases/{caseId}/reports':
    get:
      operationId: fetchAllReportsOfCases
      summary: Get all reports
      description: |
        The service returns all the reports stored in the given case file.

        > Note: *A case file may store only one report of a particular type (e.g. the case file may store only one Chargeback Report (child reports are not taken into account for this count)).
        > In case the <code>maxDaysForCase</code> parameter was set upon the case file creation, all the reports inside the particular case will analyse the transactions for the same time span.*
      x-finapi:
        order: '1'
      x-codegen-request-body-name: body
      tags:
        - Report
      security:
        - ApiOAuth2: [ DATA_INTELLIGENCE, FINAPI_INTERNAL, FINAPI_CLIENT_ADMIN ]
      parameters:
        - name: caseId
          schema:
            type: string
          in: path
          required: true
        - name: withTransactions
          schema:
            type: boolean
          in: query
          description: |
            Defines whether the report should include transactions data or not.
            By default, if not specified, the value of the parameter from the given case file is inherited.
            The value from the case file may be reset by providing the <code>withTransactions</code> parameter at the report getting level.
          required: false
        - name: showOnlyActiveContracts
          in: query
          description: |
            Defines whether the report should include only active contracts or not.
            By default, if not specified, the value of the parameter is set <code>false</code>.
            If the parameter is set to <code>false</code>, then the report will display all ACTIVE, INACTIVE and UNKNOWN contracts.
            If the parameter is set to <code>true</code>, then the report will display only ACTIVE contracts.
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/ReportsForCaseResource"
        '400':
          description: Input parameter is invalid
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                invalidInputParameter:
                  $ref: '#/components/examples/errorMessage400Example'
        '401':
          description: Unauthorized
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessageUnauthorized'
        '404':
          description: Case not found
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                dataSourceNotFound:
                  $ref: '#/components/examples/errorMessage404CaseExample'
        '500':
          description: An unexpected error occurred
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                internalErrorExample:
                  $ref: '#/components/examples/errorMessage500'
                invalidParameterExample:
                  $ref: '#/components/examples/errorMessage500InvalidParameter'

  '/cases/{caseId}/report/recurring':
    post:
      operationId: createRecurringReport
      summary: Create a recurring report
      description: |
        The Recurring Report provides a comprehensive overview of the customer's repetitive financial interactions. 
        It reveals the counterparts involved, the amount of money being transferred, and the frequency of these transactions. 
        Additionally, it encompasses pertinent account details and transaction specifics.
        
        Transactions included in the report are determined by specified <code>dataSourceIds</code> within the case file and the <code>maxDaysForCase</code> parameter, which sets the analysis timeframe counting backward from the case file's creation date.
      tags:
        - Report
      security:
        - ApiOAuth2: [ DATA_INTELLIGENCE, FINAPI_INTERNAL ]
      parameters:
        - name: caseId
          schema:
            type: string
          in: path
          required: true
      responses:
        '201':
          description: Success
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ReportResource'
        '400':
          description: Input parameter is invalid
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                invalidInputParameter:
                  $ref: '#/components/examples/errorMessage400Example'
        '401':
          description: Unauthorized
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessageUnauthorized'
        '404':
          description: Case does not exist
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                reportNotFoundExample:
                  $ref: '#/components/examples/errorMessage404ReportExample'
        '500':
          description: An unexpected error occurred
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  '/cases/{caseId}/reports/recurring/{reportId}':
    get:
      operationId: fetchRecurringReport
      summary: Get a recurring report
      description: |
        The service returns the recurring report stored in the given case file.
      tags:
        - Report
      security:
        - ApiOAuth2: [ DATA_INTELLIGENCE, FINAPI_INTERNAL ]
      parameters:
        - name: caseId
          schema:
            type: string
          in: path
          required: true
        - name: reportId
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          description: Success
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/RecurringReportResource"
        '400':
          description: Input parameter is invalid
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                invalidInputParameter:
                  $ref: '#/components/examples/errorMessage400Example'
        '401':
          description: Unauthorized
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessageUnauthorized'
        '404':
          description: Case not found
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                dataSourceNotFound:
                  $ref: '#/components/examples/errorMessage404CaseExample'
        '423':
          description: Locked - report is in progress
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '424':
          description: Failed Dependency - The analytics service was unable to analyze the data
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: An unexpected error occurred
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                internalErrorExample:
                  $ref: '#/components/examples/errorMessage500'
                invalidParameterExample:
                  $ref: '#/components/examples/errorMessage500InvalidParameter'

  '/cases/{caseId}/report/crosscountry':
    post:
      operationId: createCrossCountryTransferReport
      summary: Create a cross country report
      description: |
        The report includes various elements under <code>crossCountryTransfers</code>, unique in their <code>originationCountry</code> and <code>destinationCountry</code> combinations. 
        Within these segments, it provides a comprehensive summary and average of transactions between the two countries over the reporting period, along with monthly breakdowns. 
        Additionally, a detailed monthly analysis illustrates transfer amounts between countries for each month.

        Transactions included in the report are determined by specified <code>dataSourceIds</code> within the case file and the <code>maxDaysForCase</code> parameter, which sets the analysis timeframe counting backward from the case file's creation date.
      tags:
        - Report
      security:
        - ApiOAuth2: [ DATA_INTELLIGENCE, FINAPI_INTERNAL ]
      parameters:
        - name: caseId
          schema:
            type: string
          in: path
          required: true
      responses:
        '201':
          description: Success
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ReportResource'
        '400':
          description: Input parameter is invalid
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                invalidInputParameter:
                  $ref: '#/components/examples/errorMessage400Example'
        '401':
          description: Unauthorized
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessageUnauthorized'
        '404':
          description: Case does not exist
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                reportNotFoundExample:
                  $ref: '#/components/examples/errorMessage404ReportExample'
        '500':
          description: An unexpected error occurred
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  '/cases/{caseId}/reports/crosscountry/{reportId}':
    get:
      operationId: fetchCrossCountryTransferReport
      summary: Get a cross country report
      description: |
        The service returns the cross country report stored in the given case file.
      tags:
        - Report
      security:
        - ApiOAuth2: [ DATA_INTELLIGENCE, FINAPI_INTERNAL ]
      parameters:
        - name: caseId
          schema:
            type: string
          in: path
          required: true
        - name: reportId
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          description: Success
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/CrossCountryReportResource"
        '400':
          description: Input parameter is invalid
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                invalidInputParameter:
                  $ref: '#/components/examples/errorMessage400Example'
        '401':
          description: Unauthorized
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessageUnauthorized'
        '404':
          description: Case not found
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                dataSourceNotFound:
                  $ref: '#/components/examples/errorMessage404CaseExample'
        '500':
          description: An unexpected error occurred
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                internalErrorExample:
                  $ref: '#/components/examples/errorMessage500'
                invalidParameterExample:
                  $ref: '#/components/examples/errorMessage500InvalidParameter'

  '/cases/{caseId}/dataSources':
    get:
      operationId: fetchDatasourcesOfCases
      summary: Get a list of registered data sources
      description: |
        The service returns the data sources which are stored and analysed in the given case file.
      tags:
        - Cases
      security:
        - ApiOAuth2: [ DATA_INTELLIGENCE, FINAPI_INTERNAL ]
      parameters:
        - name: caseId
          description: UUID of the case file
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          description: Success
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/DataSources'
        '400':
          description: Input parameter is invalid
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                invalidInputParameter:
                  $ref: '#/components/examples/errorMessage400Example'
        '401':
          description: Unauthorized
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessageUnauthorized'
        '404':
          description: Case not found
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                dataSourceNotFound:
                  $ref: '#/components/examples/errorMessage404CaseExample'
        '500':
          description: An unexpected error occurred
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                internalErrorExample:
                  $ref: '#/components/examples/errorMessage500'
                invalidParameterExample:
                  $ref: '#/components/examples/errorMessage500InvalidParameter'

  '/cases/{caseId}/aggregations':
    post:
      operationId: createAggregations
      summary: Create aggregations based on the label filter.
      description: |
        The aggregation endpoint receives as request body an object that defines the desired aggregations.
        
        An alias can be used to define which aggregation it is.
        
        The element <code>includedLabelGroup</code> defines which labels should be used for the aggregation. The label and its sub-labels (higher LoD) are used.
        In order not to have to transmit too many labels, but to be able to define which ones should not be used if necessary, the <code>excludedLabelGroup</code> can be set. 
        Labels (and their sub-labels) contained in it will be excluded from the aggregation group.
        
        Basically, the system behaves in such a way that if multiple aggregations are requested, transactions that have already been allocated cannot be allocated to other aggregations.
        This means, that the order of the requested aggregations determines the assignment of the transactions.
        
        So if a transaction is assigned to the aggregation with the alias "MyFirstAggr", it is no longer available to the next aggregation group and thus prevents duplications.
        
        This means: If a transaction has 2 labels: <code>BANKANDCREDIT</code> and <code>INSURANCE</code>, but <code>INSURANCE</code> is defined as an aggregation view before <code>BANKANDCREDIT</code>, the transaction is taken for <code>INSURANCE</code> and removed from the processed transaction list. 
        If the customer has another aggregation, which is using <code>BANKANDCREDIT</code>, this transaction is not a part of this later section.
      tags:
        - Aggregations
      security:
        - ApiOAuth2: [ DATA_INTELLIGENCE, FINAPI_INTERNAL ]
      parameters:
        - name: caseId
          schema:
            type: string
          in: path
          required: true
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/CreateAggregationResourceRequest'
      responses:
        '201':
          description: Success
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/AggregationResourceResponse'
        '400':
          description: Input parameter is invalid
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                invalidInputParameter:
                  $ref: '#/components/examples/errorMessage400Example'
        '401':
          description: Unauthorized
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessageUnauthorized'
        '404':
          description: Report does not exist
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                reportNotFoundExample:
                  $ref: '#/components/examples/errorMessage404ReportExample'
        '500':
          description: An unexpected error occurred
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'


  '/cases/{caseId}/reports/schufa/creditInformation':
    post:
      operationId: createSchufaCreditInformation
      summary: Create a SCHUFA credit information report
      description: |
        The service creates a SCHUFA Credit Information Report based on the data provided by SCHUFA.
        <br><br>
        The result returned by the service is the UUID of the report created.
        <br><br>
        SCHUFA Credit Information Report is aimed at returning the information about credit score and contracts, that the authorized user has on the basis of SCHUFA data.

        > Note: *SCHUFA Credit Report does not take into regard <code>maxDaysForCase</code> and returns all the data, provided by SCHUFA irrespectively of the mentioned in the case file time span, as of the SCHUFA Credit Rating Data Source creation date.*

        > Note: *SCHUFA Credit Check report can be created only in the case file, that has SCHUFA Credit Rating Data Source inside of it.*

        > Note: *A case file can contain maximum one SCHUFA Credit Information report.*
      tags:
        - SCHUFA Reports
      security:
        - ApiOAuth2: [ DATA_INTELLIGENCE, FINAPI_INTERNAL ]
      parameters:
        - name: caseId
          schema:
            type: string
          in: path
          required: true
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResource'
        '400':
          description: Input parameter is invalid
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                invalidInputParameter:
                  $ref: '#/components/examples/errorMessage400Example'
        '401':
          description: Unauthorized
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessageUnauthorized'
        '404':
          description: The case does not exist
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                caseNotFoundExample:
                  $ref: '#/components/examples/errorMessage404CaseExample'
        '423':
          description: No report duplicates are allowed.
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                reportAlreadyExist:
                  $ref: '#/components/examples/errorMessage423ReportExistExample'
        '500':
          description: An unexpected error occurred
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                internalErrorExample:
                  $ref: '#/components/examples/errorMessage500'
                invalidParameterExample:
                  $ref: '#/components/examples/errorMessage500InvalidParameter'
    get:
      tags:
        - SCHUFA Reports
      security:
        - ApiOAuth2: [ DATA_INTELLIGENCE, FINAPI_INTERNAL ]
      summary: Get the SCHUFA Credit Information report of the case
      description: |
        The service returns the created in the given case file SCHUFA Credit Information report.
        The report contains the information about credit score and contracts, that the authorized user has on the basis of SCHUFA data.

        It is possible to filter the count of the contracts for special characteristic codes with the query parameter <code>contractsCharacteristicsFilter</code>.

        The default uses the following codes to count the contracts:
        <ul>
          <li><code>HF</code> - Forward Loan [Forward Darlehn]</li>
          <li><code>HN</code> - Building savings loan for borrower secured with letter of commitment [mit Verpflichtungserklärung gesichertes Bauspardarlehen für Kreditnehmer / BS-Darlehn]</li>
          <li><code>HP</code> - Loan secured by real estate lien [grundpfandrechtlich gesicherter Kredit / Hypo Kredit]</li>
          <li><code>HY</code> - Loan secured by real estate lien without amount [grundpfandrechtlich gesicherter Kredit ohne Betrag / Hypo Kredit]</li>
          <li><code>K1</code> - Working capital credit line for freelancers [Betriebsmittelkreditlinie für Freiberufler]</li>
          <li><code>K2</code> - Working capital credit line for self-employed persons/small businesses [Betriebsmittelkreditlinie für Selbständige/Kleingewerbetreibende]</li>
          <li><code>K3</code> - Investment credit for freelancers [Investitionskredit für Freiberufler]</li>
          <li><code>K4</code> - Investment loan for self-employed persons/ small businessmen [Investitionskredit für Selbständige/ Kleingewerbetreibende]</li>
          <li><code>KR</code> - Blank home loan or installment loan not secured by real estate lien [Blankobauspardarlehen oder nicht grundpfandrechtlich gesicherter Ratenkredit / Kredit]</li>
          <li><code>KX</code> - Unsecured home loan or loan not secured by real estate lien with final maturity [Blankobauspardarlehen oder nicht grundpfandrechtlich gesicherter Kredit mit Endfälligkeit / Kredit]</li>
          <li><code>M3</code> - Leasing/hire-purchase for commercial purposes (for freelancers) [Leasing/Mietkauf für gewerbliche Zwecke (für Freiberufler)]</li>
          <li><code>M4</code> - Leasing/hire-purchase for commercial purposes (for self-employed and small traders) [Leasing/Mietkauf für gewerbliche Zwecke (für Selbständige und Kleingewerbetreibende)]</li>
          <li><code>M5</code> - Credit card for commercial purposes (for freelancers) [Kreditkarte für gewerbliche Zwecke (für Freiberufler)]</li>
          <li><code>M6</code> - Credit card for commercial purposes (for self-employed and small traders) [Kreditkarte für gewerbliche Zwecke (für Selbständige und Kleingewerbetreibende)]</li>
          <li><code>M7</code> - Investment loan secured by real estate lien for business purposes purposes (for freelancers) [Grundpfandrechtlich gesicherter Investitionskredit für geschäftliche Zwecke (für Freiberufler)]</li>
          <li><code>M8</code> - Investment loan secured by real estate lien for business purposes (for self-employed persons and small businesses) [Grundpfandrechtlich gesicherter Investitionskredit für geschäftliche Zwecke (für Selbständige und Kleingewerbetreibende)]</li>
          <li><code>MA</code> - Co-commitment for a blank home loan or an installment loan not secured by a real estate lien [Mitverpflichtung für ein Blankobauspardarlehen oder einen nicht grundpfandrechtlich gesicherten Ratenkredit / Mitantragsteller]</li>
          <li><code>ML</code> - Leasing/hire-purchase [Leasing/Mietkauf]</li>
          <li><code>MX</code> - Co-commitment for a blank home improvement loan or a loan not secured loan with final maturity date [Mitverpflichtung für ein Blankobauspardarlehen oder einen nicht grundpfandrechtlich gesicherten Kredit mit Endfälligkeit / Mitantragsteller]</li>
          <li><code>MY</code> - Co-obligation for a loan secured by real estate lien (including building society loan with letter of commitment) [Mitverpflichtung für einen grundpfandrechtlich gesicherten Kredit (einschließlich Bauspardarlehen mit Verpflichtungserklärung) / Mitantragsteller]</li>
          <li><code>RK</code> - Master credit agreement with a credit institution [Rahmenkreditvertrag mit einem Kreditinstitut / Rahmenkredit]</li>
          <li><code>CR</code> - Credit card with revolving credit line [Kreditkarte mit revolvierendem Kreditrahmen / Kreditkarte]</li>
          <li><code>CC</code> - Credit card or credit card account [Kreditkarte bzw. Kreditkartenkonto]</li>
        </ul>

        > Note: *A case file can contain maximum one SCHUFA Credit Information Report.*
      operationId: fetchSchufaCreditInformation
      parameters:
        - name: caseId
          schema:
            type: string
          in: path
          required: true
        - name: contractsCharacteristicsFilter
          description: |-
            This filter allows to control the <code>countContracts</code> field.
            It may contain one or more characteristic codes.
            Multiple codes must be separated by commas.
          schema:
            type: string
          in: query
          required: false
      responses:
        '200':
          description: Success
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/SchufaCreditCheckReportResource'
        '400':
          description: Input parameter is invalid
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                invalidInputParameter:
                  $ref: '#/components/examples/errorMessage400Example'
        '401':
          description: Unauthorized
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessageUnauthorized'
        '404':
          description: Report does not exist
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                caseNotFoundExample:
                  $ref: '#/components/examples/errorMessage404CaseExample'
                reportNotFoundExample:
                  $ref: '#/components/examples/errorMessage404ReportExample'
        '500':
          description: An unexpected error occurred
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                internalErrorExample:
                  $ref: '#/components/examples/errorMessage500'
                invalidParameterExample:
                  $ref: '#/components/examples/errorMessage500InvalidParameter'

  '/checks/balancesCheck':
    post:
      operationId: createFundsConfirmationCheck
      summary: Create a balances check
      description: |
        The service performs a Balances Check on the basis of the stored in the data source data about the latest imported account balance and (if available) overdraft limit.
        <br><br>
        Balances Check is aimed at returning the data about whether the latest amount of account's available funds is equal or higher than the specified in the request <code>checkAmount</code>, against which the check should be done.
        <br><br>
        Both <code>accountIds</code> and <code>dataSourceIds</code> can be used as data sources for the check creation.

        > Note: *<code>dataSourceIds</code> will be resolved internally to <code>accountIds</code>.*

        > Note: *Overdraft limit information is not available for every account.*

        > Note: *Balances Check does not consider security accounts.*

        > Note: *Balances Check does not consider SCHUFA data sources.*
      tags:
        - Checks
      security:
        - ApiOAuth2: [ DATA_INTELLIGENCE, FINAPI_INTERNAL ]
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/CreateBalancesCheckParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckDataResource'
        '400':
          description: Input parameter is invalid
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                invalidInputParameter:
                  $ref: '#/components/examples/errorMessage400Example'
        '401':
          description: Unauthorized
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessageUnauthorized'
        '404':
          description: Bank connection data source / account not found
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '422':
          description: Not all data sources completed successfully.
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                unprocessable:
                  $ref: '#/components/examples/errorMessage422CaseUnprocessableExample'
        '500':
          description: An unexpected error occurred
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                internalErrorExample:
                  $ref: '#/components/examples/errorMessage500'
                invalidParameterExample:
                  $ref: '#/components/examples/errorMessage500InvalidParameter'

  '/checks/childrenCheck':
    post:
      operationId: createChildrenCheck
      summary: Create a children check
      description: |
        The service performs a Children Check on the basis of the stored in the data source data about the child benefit payments.
        <br><br>
        Children Check is aimed at returning the data about the number of children, benefit payments for which are provided to the given account.
        <br><br>
        Both <code>accountIds</code> and <code>dataSourceIds</code> can be used as data sources for the check creation.

        > Note: *<code>dataSourceIds</code> will be resolved internally to <code>accountIds</code>.*

        > Note: *Children Check does not consider SCHUFA data sources.*

        > Note: *Children Check can provide inaccurate children count in case it is conducted against the accumulated child benefit payment, for e.g. for the very first child benefit paid out for multiple months or in the case of renewed outpayments of the child benefit after a break.*
      tags:
        - Checks
      security:
        - ApiOAuth2: [ DATA_INTELLIGENCE, FINAPI_INTERNAL ]
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/CreateChildrenCheckParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChildrenCheckDataResource'
        '400':
          description: Input parameter is invalid
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                invalidInputParameter:
                  $ref: '#/components/examples/errorMessage400Example'
        '401':
          description: Unauthorized
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessageUnauthorized'
        '404':
          description: Bank connection data source / account not found
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '422':
          description: Not all data sources completed successfully.
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                unprocessable:
                  $ref: '#/components/examples/errorMessage422CaseUnprocessableExample'
        '500':
          description: An unexpected error occurred
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                internalErrorExample:
                  $ref: '#/components/examples/errorMessage500'
                invalidParameterExample:
                  $ref: '#/components/examples/errorMessage500InvalidParameter'

  '/checks/accountHolderType':
    post:
      operationId: createAccountHolderTypeCheck
      summary: Create an account holder type check
      description: |
        The service performs an Account Holder Type Check on the basis of the stored in the data source data about account holder name.
        <br><br>
        Account Holder Type Check is aimed at returning the data on whether an account belongs to one person, multiple persons or legal entity (company).
        <br><br>
        Both <code>accountIds</code> and <code>dataSourceIds</code> can be used as data sources for the check creation.

        > Note: *<code>dataSourceIds</code> will be resolved internally to <code>accountIds</code>.*

        > Note: *Account Holder Type Check does not consider SCHUFA data sources.*
      tags:
        - Checks
      security:
        - ApiOAuth2: [ DATA_INTELLIGENCE, FINAPI_INTERNAL ]
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/CreateAccountHolderTypeCheckParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountHolderTypeCheckResource'
        '400':
          description: Input parameter is invalid
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                invalidInputParameter:
                  $ref: '#/components/examples/errorMessage400Example'
        '401':
          description: Unauthorized
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessageUnauthorized'
        '404':
          description: Bank connection data source / account not found
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                dataSourceNotFound:
                  $ref: '#/components/examples/errorMessage404AccountExample'
        '422':
          description: Not all data sources completed successfully.
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                unprocessable:
                  $ref: '#/components/examples/errorMessage422CaseUnprocessableExample'
        '500':
          description: An unexpected error occurred
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                internalErrorExample:
                  $ref: '#/components/examples/errorMessage500'
                invalidParameterExample:
                  $ref: '#/components/examples/errorMessage500InvalidParameter'

  '/checks/topListCheck':
    post:
      operationId: createTopListCheck
      summary: Create a top list check
      description: |
        The service performs a top x transactions check on the basis of the stored in the data source data, from the following perspectives:
        <br>
        - Top transactions at which counterparty the most amounts are paid
        - What are the biggest transactions
        - With which counterparty are most transactions exchanged
        
        <br>
        Both <code>accountIds</code> and <code>dataSourceIds</code> can be used as data sources for the check creation.

        > Note: *<code>dataSourceIds</code> will be resolved internally to <code>accountIds</code>.*
      tags:
        - Checks
      security:
        - ApiOAuth2: [ DATA_INTELLIGENCE, FINAPI_INTERNAL ]
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/CreateTopListCheckParams'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopListCheckResource'
        '400':
          description: Input parameter is invalid
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                invalidInputParameter:
                  $ref: '#/components/examples/errorMessage400Example'
        '401':
          description: Unauthorized
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessageUnauthorized'
        '404':
          description: Bank connection data source / account not found
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                dataSourceNotFound:
                  $ref: '#/components/examples/errorMessage404AccountExample'
        '422':
          description: Not all data sources completed successfully.
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                unprocessable:
                  $ref: '#/components/examples/errorMessage422CaseUnprocessableExample'
        '500':
          description: An unexpected error occurred
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                internalErrorExample:
                  $ref: '#/components/examples/errorMessage500'
                invalidParameterExample:
                  $ref: '#/components/examples/errorMessage500InvalidParameter'


  '/reports/{reportId}':
    get:
      operationId: fetchReportById
      summary: Get a report
      description: |
        The service returns an already created (historical) report by its identifier.
      tags:
        - Report
      security:
        - ApiOAuth2: [ DATA_INTELLIGENCE, FINAPI_INTERNAL ]
      parameters:
        - name: reportId
          schema:
            type: string
          in: path
          required: true
        - name: withTransactions
          schema:
            type: boolean
          in: query
          description: |
            Defines whether the report should include transactions data or not.
            By default, if not specified, the value of the parameter from the given case file is inherited.
            The value from the case file may be reset by providing the <code>withTransactions</code> parameter at the report getting level.
          required: false
        - name: showOnlyActiveContracts
          in: query
          description: |
            Defines whether the report should include only active contracts or not.
            By default, if not specified, the value of the parameter is set <code>false</code>.
            If the parameter is set to <code>false</code>, then the report will display all ACTIVE, INACTIVE and UNKNOWN contracts.
            If the parameter is set to <code>true</code>, then the report will display only ACTIVE contracts.
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Success
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/GenericReportResult'
              examples:
                riskIndicatorsExample:
                  $ref: '#/components/examples/riskIndicatorsReportResponseExample'
                maximumAvailableFundsExample:
                  $ref: '#/components/examples/mafReportResponseExample'
                spendingExample:
                  $ref: '#/components/examples/spendingReportResponseExample'
                incomeExample:
                  $ref: '#/components/examples/incomeReportResponseExample'
                rentAndLivingExample:
                  $ref: '#/components/examples/rentAndLivingReportResponseExample'
                insuranceExample:
                  $ref: '#/components/examples/insuranceReportResponseExample'
                contractsInsuranceExample:
                  $ref: '#/components/examples/contractsInsuranceReportResponseExample'
                contractsLoanExample:
                  $ref: '#/components/examples/contractsLoanReportResponseExample'
                contractsElectricityExample:
                  $ref: '#/components/examples/contractsElectricityReportResponseExample'
                contractsGasExample:
                  $ref: '#/components/examples/contractsGasReportResponseExample'
                contractsTelecommunicationExample:
                  $ref: '#/components/examples/contractsTelecommunicationReportResponseExample'
                contractsLoanValidatorExample:
                  $ref: '#/components/examples/contractsLoanValidatorReportResponseExample'
                balancesExample:
                  $ref: '#/components/examples/balancesReportResponseExample'
                recurringTransactionExample:
                  $ref: '#/components/examples/recurringTransactionReportResponseExample'
                crossCountryTransfersExample:
                  $ref: '#/components/examples/crossCountryTransfersReportResponseExample'
        '400':
          description: Input parameter is invalid
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                invalidInputParameter:
                  $ref: '#/components/examples/errorMessage400Example'
        '401':
          description: Unauthorized
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessageUnauthorized'
        '404':
          description: Report does not exist
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                reportNotFoundExample:
                  $ref: '#/components/examples/errorMessage404ReportExample'
        '423':
          description: Locked - report is in progress
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '424':
          description: Failed Dependency - The analytics service was unable to analyze the data
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: An unexpected error occurred
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  '/extendedAnalyses':
    post:
      operationId: createExtendedAnalysis
      summary: Create extended analysis
      description: |
        This extended analysis examines all transactions.

        Hereby transactions can be detected, which were not recognized by the normal labeling.
        This applies especially to transfers that do not contain a clear purpose.
      tags:
        - Extended Analyses
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AnalyzeTransactionRequest"
      callbacks:
        subscription:
          '{$request.body#/callbackUrl}':
            post:
              operationId: extendedAnalysisCallback
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: "#/components/schemas/CallbackNotification"
              responses:
                '200':
                  description: Response if callback was accepted.
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyzeTransactionRequest"
        '400':
          description: Input parameter is invalid
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                invalidInputParameter:
                  $ref: '#/components/examples/errorMessage400Example'
        '401':
          description: Unauthorized
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessageUnauthorized'
        '404':
          description: No data sources found
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                reportNotFoundExample:
                  $ref: '#/components/examples/errorMessage404AnalysisExample'
        '423':
          description: Analysis already started
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                dataSourceExist:
                  $ref: '#/components/examples/errorMessage423AnalysisStartedExample'
        '500':
          description: An unexpected error occurred
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                internalErrorExample:
                  $ref: '#/components/examples/errorMessage500'
                invalidParameterExample:
                  $ref: '#/components/examples/errorMessage500InvalidParameter'

  '/dacCases/loan':
    post:
      operationId: createDacForLoan
      summary: Create a DAC for loan report
      description: |
        The service creates a new case file with the DAC for Loan report inside of it.
        <br><br>
        The case defines the timeframe for the report results within it, by setting the optional <code>maxDaysForCase</code> parameter.
        The parameter sets the inclusive range (in number of days) for which the transactions will be analysed, going back from the case file creation date.
        <br><br>
        Both <code>accountIds</code> and <code>dataSourceIds</code> can be used as data sources for the case creation.
        The data sources can be used as a container for multiple accounts.
        <br><br>
        The case file <code>id</code> returned in the response of the call should be used as an input path parameter for <code>GET cases/{caseId}/reports</code> to retrieve the DAC for Loan report results.

        > Note: *<code>dataSourceIds</code> will be resolved internally to <code>accountIds</code> to avoid changes in the report if the user adds or removes new accounts on the data source.*
        <br><br>
        Depending on the <code>businessAnalysisType</code>, a set of reports will be created, for <code>B2C</code>, the dac loan report includes
        <ul>
        <li><code>INCOME</code></li>  
        <li><code>SPENDING</code></li> 
        <li><code>RENTANDLIVING</code></li> 
        <li><code>CHARGEBACKS</code></li> 
        <li><code>DEBTCOLLECTION</code></li> 
        <li><code>SEIZURE</code></li> 
        <li><code>GAMBLING</code></li>
        </ul>
        In case of <code>B2B</code>, it includes
        <ul>
        <li><code>INCOME</code></li>  
        <li><code>SPENDING</code></li> 
        <li><code>CHARGEBACKS</code></li> 
        <li><code>DEBTCOLLECTION</code></li> 
        <li><code>SEIZURE</code></li> 
        <li><code>CREDIT_LIMIT</code></li>         
        <li><code>BALANCES</code></li>
        </ul>
        <br><br>

      tags:
        - DAC for loan
      security:
        - ApiOAuth2: [ DATA_INTELLIGENCE, FINAPI_INTERNAL ]
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              $ref: "#/components/schemas/CreateDacLoanParams"
      responses:
        '201':
          description: Success
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/CaseResource"
        '400':
          description: Input parameter is invalid
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/ErrorMessage"
              examples:
                invalidInputParameter:
                  $ref: "#/components/examples/errorMessage400Example"
        '401':
          description: Unauthorized
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/ErrorMessageUnauthorized"
        '404':
          description: Datasource not found
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/ErrorMessage"
              examples:
                dataSourceNotFound:
                  $ref: '#/components/examples/errorMessage404DataSourceExample'
        '422':
          description: Not all data sources completed successfully.
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/ErrorMessage"
              examples:
                unprocessable:
                  $ref: "#/components/examples/errorMessage422CaseUnprocessableExample"
        '500':
          description: An unexpected error occurred
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  '/user':
    delete:
      operationId: deleteUser
      summary: Delete all data of the user
      description: |
        The service deletes the data of the authorized user, such as Data Sources, Case Files, Reports created for the user.
      tags:
        - Users
      security:
        - ApiOAuth2: [ DATA_INTELLIGENCE, FINAPI_INTERNAL ]
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DeleteUserResource"
        '401':
          description: Not authenticated or invalid access_token
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorMessageUnauthorized"
        '500':
          description: An unexpected error occurred
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorMessage"

  '/user/status/delete/{deletionId}':
    get:
      operationId: userDeleteStatus
      summary: Get deletion status of the user’s data
      description: |
        The service retrieves user deletion status.
      parameters:
        - name: deletionId
          schema:
            type: string
          in: path
          required: true
      tags:
        - Users
      responses:
        '200':
          description: Success
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/DeleteUserStatusResource'
        '401':
          description: Unauthorized
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessageUnauthorized'
        '404':
          description: The case does not exist
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: An unexpected error occurred
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  '/reporting/dacLoan/{caseId}':
    post:
      operationId: reportingDacLoan
      summary: Create a PDF of DAC for loan report
      description: |
        The service generates the PDF report on the basis of the reports, located inside of the case file.
      parameters:
        - $ref: '#/components/parameters/locale'
        - name: caseId
          schema:
            type: string
          in: path
          required: true
      requestBody:
        required: false
        content:
          'application/json':
            schema:
              $ref: "#/components/schemas/DacLoanPdfReportParams"
      tags:
        - DAC for loan
      security:
        - ApiOAuth2: [ DATA_INTELLIGENCE, FINAPI_INTERNAL, CLIENT_CUSTOMER_DASHBOARD ]
      responses:
        '200':
          description: Success
          content:
            application/pdf:
              schema:
                type: string
                format: byte
        '400':
          description: Input parameter is invalid
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/ErrorMessage"
              examples:
                invalidInputParameter:
                  $ref: "#/components/examples/errorMessage400Example"
        '401':
          description: Unauthorized
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessageUnauthorized'
        '404':
          description: The case does not exist, or the required reports are missing in the case file.
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: An unexpected error occurred
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  '/labels':
    get:
      operationId: getLabelsWithDescription
      summary: Get labels
      description: |
        Get all defined transaction labels with description. Optionally filter result for a specific report.
      parameters:
        - name: reportType
          schema:
            $ref: '#/components/schemas/ReportTypeEnum'
          in: query
          required: false
      tags:
        - Labels
      responses:
        '200':
          description: Success
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/LabelDescriptions'
        '400':
          description: Input parameter is invalid
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/ErrorMessage"
              examples:
                invalidInputParameter:
                  $ref: "#/components/examples/errorMessage400Example"
        '401':
          description: Unauthorized
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessageUnauthorized'
        '500':
          description: An unexpected error occurred
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  '/balances':
    post:
      operationId: getBalances
      summary: Get daily balances
      description: |
        Get daily balances for the user. Parameters to filter the available balances can be passed in the parameter body.
      parameters:
        - in: query
          name: page
          description: |
            Page number which has to be `>= 0`, based on the page size of the response.
          schema:
            type: integer
            minimum: 0
            default: 0
            example: 0
        - in: query
          name: size
          description: |
            Describes the number of elements to return in a page.
            If the parameter is omitted, a default size is used.
          schema:
            type: integer
            minimum: 0
            default: 50
            maximum: 500
            example: 50

      requestBody:
        required: false
        content:
          'application/json':
            schema:
              $ref: "#/components/schemas/RequestBalances"
      tags:
        - Balances
      security:
        - ApiOAuth2: [ DATA_INTELLIGENCE, FINAPI_INTERNAL ]
      responses:
        '200':
          description: Success
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Balances'
        '400':
          description: Input parameter is invalid
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/ErrorMessage"
              examples:
                invalidInputParameter:
                  $ref: "#/components/examples/errorMessage400Example"
        '401':
          description: Unauthorized
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessageUnauthorized'
        '500':
          description: An unexpected error occurred
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  '/transactions':
    post:
      operationId: getTransactions
      summary: Get transactions
      description: |
        Get labelled transactions for the user. Parameters to filter the available transactions can be passed in the parameter body.
        
        > Note: If transactions are requested with label details, the priority order for the level-of-detail 1 labels can be specified, 
        and for <code>INCOME</code> transaction the priority order for the level-of-detail 2 labels.
      parameters:
        - in: query
          name: page
          description: |
            Page number which has to be `>= 0`, based on the page size of the response.
          schema:
            type: integer
            minimum: 0
            default: 0
            example: 0
        - in: query
          name: size
          description: |
            Describes the number of elements to return in a page.
            If the parameter is omitted, a default size is used.
          schema:
            type: integer
            minimum: 0
            default: 50
            maximum: 500
            example: 50
      requestBody:
        required: false
        content:
          'application/json':
            schema:
              $ref: "#/components/schemas/RequestTransactions"
      tags:
        - Transactions
      security:
        - ApiOAuth2: [ DATA_INTELLIGENCE, FINAPI_INTERNAL ]
      responses:
        '200':
          description: Success
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/LabelledTransactions'
        '400':
          description: Input parameter is invalid
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/ErrorMessage"
              examples:
                invalidInputParameter:
                  $ref: "#/components/examples/errorMessage400Example"
        '401':
          description: Unauthorized
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessageUnauthorized'
        '500':
          description: An unexpected error occurred
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  '/transactions/accountStatementSheet/pdf':
    post:
      operationId: createAccountStatementSheetPdf
      summary: Create an Signed Digital Bank Statement PDF
      description: |
        The service returns an Signed Digital Bank Statement PDF on the basis of the stored in the data source data about transactions and accounts.
        <br><br>
      tags:
        - Transactions
      security:
        - ApiOAuth2: [ DATA_INTELLIGENCE, FINAPI_INTERNAL, FINAPI_CLIENT_ADMIN, CLIENT_CUSTOMER_DASHBOARD ]
      parameters:
        - $ref: '#/components/parameters/locale'
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/CreateAccountStatementSheetParams'
      responses:
        '200':
          description: Success
          content:
            application/pdf:
              schema:
                type: string
                format: byte
        '400':
          description: Input parameter is invalid
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                invalidInputParameter:
                  $ref: '#/components/examples/errorMessage400Example'
        '401':
          description: Unauthorized
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessageUnauthorized'
        '404':
          description: Account not found
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                dataSourceNotFound:
                  $ref: '#/components/examples/errorMessage404AccountExample'
        '422':
          description: Not all data sources completed successfully.
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                unprocessable:
                  $ref: '#/components/examples/errorMessage422CaseUnprocessableExample'
        '500':
          description: An unexpected error occurred
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorMessage'
              examples:
                internalErrorExample:
                  $ref: '#/components/examples/errorMessage500'
                invalidParameterExample:
                  $ref: '#/components/examples/errorMessage500InvalidParameter'

components:

  securitySchemes:
    ApiOAuth2:
      type: oauth2
      flows:
        password:
          tokenUrl: https://localhost/api/v1/auth/token
          scopes:
            DATA_INTELLIGENCE: Grants access to an endpoint. The finAPI-Access mandator (configuration) has to be DataIntelligence-enabled.
            FINAPI_INTERNAL: internal calls from other finAPI services will be granted.

            FINAPI_FINAPI_ADMIN: Grants access to endpoint, if it is called with a finAPI finapi-admin user.
            FINAPI_CLIENT_ADMIN: Grants access to endpoint, if it is called by the client's finAPI client-admin user.

            CLIENT_CUSTOMER_DASHBOARD: Grants access for the Access client Admin use by the finAPI Customer Dashboard App.

  schemas:
    RequestBalances:
      type: object
      description: |
        Specifies, which of the daily balances shall be returned; Defined by filter options and pagination.
      properties:
        filter:
          $ref: '#/components/schemas/BalancesFilter'

    BalancesFilter:
      type: object
      description: describes how the user's daily balances shall be filtered for the response
      properties:
        startDate:
          type: string
          example: "2000-01-01"
          description: |
            (Included) start date for the balances to download, format '<code>YYYY-MM-DD</code>'.
            
            If not present, the start date is set to 10 years in the past.
          minLength: 10
          maxLength: 10
          pattern: '\d{4}\-(0?[1-9]|1[012])\-(0?[1-9]|[12][0-9]|3[01])$'
        endDate:
          type: string
          example: "2000-01-01"
          description: |
            (Included) end date for the balances to download, format '<code>YYYY-MM-DD</code>'.
            
            If not present, the end date is today.
          minLength: 10
          maxLength: 10
          pattern: '\d{4}\-(0?[1-9]|1[012])\-(0?[1-9]|[12][0-9]|3[01])$'
        accountId:
          type: string
          format: uuid
          description: UUID of the bank account to get balances for
          example: 4e760145-2e65-4242-ac33-488943528c93

    Balances:
      type: object
      description: Optionally filtered labelled balances for the user
      required:
        - number
        - size
        - totalElements
        - totalPages
      properties:
        balances:
          type: array
          items:
            $ref: '#/components/schemas/Balance'
        number:
          type: integer
          description: page number for the returned paginated result
          minimum: 0
        size:
[...]
