{"openapi":"3.0.1","info":{"title":"Minting API","description":"A Postman collection of the entire HyperMint API.","version":"1.0.0"},"servers":[{"url":"https://api.hypermint.com/v1"}],"paths":{"/nft-contract":{"put":{"tags":["Contracts"],"summary":"Create Draft Contract","description":"Creates a contract on the HyperMint platform and places it in the \"Draft\" state. The Deploy Contract endpoint can then be used to deploy it onto the blockchain of choice.\n","parameters":[{"$ref":"#/paths/~1access-list/put/parameters/0"},{"$ref":"#/paths/~1access-list/put/parameters/1"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Name of the contract"},"network":{"type":"object","properties":{"type":{"$ref":"#/paths/~1nft-contract~1%7BcontractId%7D/get/responses/200/content/application~1json/schema/properties/network/properties/type","description":"The type of network"},"environment":{"$ref":"#/paths/~1nft-contract~1%7BcontractId%7D/get/responses/200/content/application~1json/schema/properties/network/properties/environment","description":"The environment of the network"},"chain":{"$ref":"#/paths/~1nft-contract~1%7BcontractId%7D/patch/requestBody/content/application~1json/schema/properties/network/properties/chain/oneOf/0","description":"The blockchain network"},"recoveryAddress":{"type":"string","description":"Address used to reclaim control of the contract from HM if desired in the future"},"presaleAddress":{"type":"string","description":"Address used when providing custom access list behavior via an external API"},"customerPrimaryRoyaltyAddress":{"type":"string","description":"Address for the customer's primary royalty"},"collectionOwnerAddress":{"type":"string","description":"Address shown as the owner on marketplaces"},"contractType":{"$ref":"#/paths/~1nft-contract~1%7BcontractId%7D/get/responses/200/content/application~1json/schema/properties/network/properties/contractType","description":"Type of the NFT contract"},"useManagedAccessList":{"type":"boolean","description":"Whether a managed access list is used"},"usePrimarySaleSplitter":{"type":"boolean","description":"Whether a primary sale splitter is used"},"primarySaleSplitterId":{"type":"string","description":"ID of the primary sale splitter, required if usePrimarySaleSplitter is true"},"secondaryRoyaltyAddress":{"type":"string","description":"Address for secondary royalty"},"useSecondarySaleSplitter":{"type":"boolean","description":"Whether a secondary sale splitter is used"},"secondarySaleSplitterId":{"type":"string","description":"ID of the secondary sale splitter, required if useSecondarySaleSplitter is true"}},"required":["type","environment","chain","recoveryAddress","customerPrimaryRoyaltyAddress","collectionOwnerAddress","contractType","useManagedAccessList","secondaryRoyaltyAddress"]},"symbol":{"type":"string","description":"Symbol of the contract"},"allowBuyOnNetwork":{"type":"boolean","description":"Whether buying on the network is allowed"},"metadata":{"type":"object","properties":{"type":{"$ref":"#/paths/~1nft-contract~1%7BcontractId%7D/get/responses/200/content/application~1json/schema/properties/metadata/properties/type","description":"Type of the NFT contract metadata"},"contractUrl":{"type":"string","description":"URL of the contract"},"tokenUrl":{"type":"string","description":"URL of the token"},"description":{"type":"string","description":"Description of the contract"},"externalLink":{"type":"string","description":"External link related to the contract"}}},"publicSaleAt":{"type":"string","format":"date-time","description":"Public sale start time in format YYYY-MM-DDTHH:mm:ss.sssZ"},"saleClosesAt":{"type":"string","format":"date-time","description":"Sale closing time in format YYYY-MM-DDTHH:mm:ss.sssZ"},"secondarySaleBasisPoints":{"type":"number","description":"Secondary royalty percentage"},"erc721Price":{"type":"number","description":"Price of the token in ETH"},"erc721MaxPerTransaction":{"type":"number","description":"Maximum number a wallet can buy in a single transaction"},"allowBuyWithMoonPay":{"type":"boolean","description":"Whether buying with MoonPay is allowed"}},"required":["name","network","symbol","allowBuyOnNetwork","metadata","secondarySaleBasisPoints"]}}}},"responses":{"200":{"description":"OK - Response with contractId which is used later to deploy","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The contract ID used for later deployment"}}}}}},"400":{"$ref":"#/paths/~1access-list/put/responses/400"},"404":{"description":"Not Found - Unable to find details for the given contract or token","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"The error message explaining that the contract details were not found"}}}}}}}}},"/nft-contract/{contractId}":{"get":{"tags":["Contracts"],"summary":"Get Contract Information","description":"Returns contract information which can be used to track the status or populate storefronts. The contract id for a contract can be found on the UI.\n\nRequires authentication for draft or deploying contracts. Allows unauthenticated access for contracts that have been fully deployed, but only reveals information that is publicly available on the blockchain. This can be used to power storefronts, particularly through the HyperMint Client SDK.\n","parameters":[{"name":"contractId","in":"path","required":true,"description":"Add your Contract ID from the \"Developers\" tab in the HyperMint console.","schema":{"type":"string"}},{"$ref":"#/paths/~1access-list/put/parameters/0"},{"$ref":"#/paths/~1access-list/put/parameters/1"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"symbol":{"type":"string"},"status":{"type":"string","enum":["Draft","InReview","Deploying","Deployed","Disabled","Archived"]},"allowBuyOnNetwork":{"type":"boolean"},"network":{"type":"object","properties":{"type":{"type":"string","enum":["Ethereum","Polygon"]},"environment":{"type":"string","enum":["Emulator","Testnet","Mainnet"]},"chain":{"$ref":"#/paths/~1nft-contract~1%7BcontractId%7D/patch/requestBody/content/application~1json/schema/properties/network/properties/chain/oneOf/0","nullable":true},"contractAddress":{"type":"string","nullable":true},"contractType":{"type":"string","enum":["ERC721","ERC1155","Syndicate","Custom"]},"customerAddress":{"type":"string"},"useManagedAccessList":{"type":"boolean"}}},"metadata":{"type":"object","properties":{"type":{"type":"string","enum":["None","Hosted","Url"]},"contractUrl":{"type":"string","nullable":true},"tokenUrl":{"type":"string","nullable":true}}},"publicSaleAt":{"type":"string","format":"date-time","nullable":true},"saleClosesAt":{"type":"string","format":"date-time","nullable":true},"erc721Price":{"type":"number","nullable":true},"erc721MaxPerTransaction":{"type":"number","nullable":true},"enableOpenSeaOperatorFilterRegistry":{"type":"boolean"}}}}}},"404":{"$ref":"#/paths/~1nft-contract/put/responses/404"}}},"patch":{"tags":["Contracts"],"summary":"Update Contract (ERC721)","description":"Sets the `erc721Price` and `erc721MaxPerTransaction` fields on a contract record. `erc721TotalSupply` is used to alter the total supply of tokens for the contract. `erc721TotalSupply` must be more than the total number of minted tokens for a deployed contract.\n","parameters":[{"name":"contractId","in":"path","required":true,"description":"Add your Contract ID from the \"Developers\" tab in the HyperMint console.","schema":{"type":"string"}},{"$ref":"#/paths/~1access-list/put/parameters/0"},{"$ref":"#/paths/~1access-list/put/parameters/1"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Name of the contract"},"symbol":{"type":"string","description":"Symbol of the contract"},"network":{"type":"object","properties":{"type":{"$ref":"#/paths/~1nft-contract~1%7BcontractId%7D/get/responses/200/content/application~1json/schema/properties/network/properties/type","description":"The type of network"},"environment":{"$ref":"#/paths/~1nft-contract~1%7BcontractId%7D/get/responses/200/content/application~1json/schema/properties/network/properties/environment","description":"The environment of the network"},"chain":{"oneOf":[{"type":"integer","enum":[1,5,11155111,137,80001,80002]},{"type":"string"}],"description":"The blockchain network or custom string"},"recoveryAddress":{"type":"string","description":"Address for recovery"},"collectionOwnerAddress":{"type":"string","description":"Address of the collection owner"},"customerPrimaryRoyaltyAddress":{"type":"string","description":"Address for the customer's primary royalty"}}},"secondarySaleBasisPoints":{"type":"number","description":"Secondary royalty percentage"},"erc721TotalSupply":{"type":"number","description":"Total supply of the ERC-721 tokens available"},"erc721MaxPerTransaction":{"type":"number","description":"Maximum number a wallet can buy in a single transaction"},"erc721Price":{"type":"number","description":"Price of the token"}},"required":["name","symbol"]}}}},"responses":{"200":{"description":"If contract is deployed, the endpoint returns with a list of interaction Ids. The interaction Ids returned from this endpoint can be used with Get Interaction Status to get the state of each interaction.","content":{"application/json":{"schema":{"type":"object","properties":{"interactionIds":{"type":"array","items":{"type":"string"}}}}}}},"400":{"$ref":"#/paths/~1access-list/put/responses/400"},"404":{"$ref":"#/paths/~1nft-contract/put/responses/404"}}}},"/nft-contract/{contractId}/mint":{"put":{"tags":["Tokens"],"summary":"Mint Tokens","description":"Performs a mint on the contract.\nContracts using ERC-721 should only pass a single token with id 0.\nOnly deployed contracts can be minted.\nMultiple amounts and tokens can be minted at once by specifying them in the tokens array and they will be delivered in a single transaction.\nThe id returned in the response can be used to check the status of the mint (see GET: Mint Status).\n","parameters":[{"name":"contractId","in":"path","required":true,"schema":{"type":"string"},"description":"The ID of the NFT contract"},{"$ref":"#/paths/~1access-list/put/parameters/0"},{"$ref":"#/paths/~1access-list/put/parameters/1"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"address":{"type":"string","description":"Wallet address to get authorized"},"tokens":{"type":"array","items":{"type":"object","properties":{"tokenId":{"type":"integer","description":"The ID of the token"},"amount":{"type":"integer","description":"The amount of tokens to mint"}}},"required":["tokenId","amount"]}},"required":["address","tokens"]}}}},"responses":{"200":{"description":"OK - Responds with an interaction ID which can be used to check the status of the transaction","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The interaction ID used to check the status of the transaction"}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"Error message explaining the reason for the bad request"}}},"examples":{"contractDisabled":{"summary":"Contract Disabled","value":{"error":"The contract has been disabled by an administrator"}},"contractNotDeployed":{"summary":"Contract Not Deployed","value":{"error":"The contract has not been deployed"}},"walletAddressNotFound":{"summary":"Wallet Address Not Found","value":{"error":"The wallet address provided is not found"}},"invalidTokenIdERC721":{"summary":"Invalid Token ID for ERC-721","value":{"error":"Attempted to mint using tokenId on ERC-721 contract"}},"notEnoughSupply":{"summary":"Not Enough Supply","value":{"error":"Not enough remaining supply"}}}}}},"404":{"description":"Not Found - Unable to find token details for the given contract ID","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"Error message explaining that the contract or token details were not found"}}},"example":{"error":"Unable to find token details for the given contract ID"}}}}}}},"/nft-contract/{contractId}/mint/{mintId}":{"get":{"tags":["Tokens"],"summary":"Get Mint Status","parameters":[{"name":"contractId","in":"path","required":true,"description":"Add your Contract ID from the \"Developers\" tab in the HyperMint console.","schema":{"type":"string"}},{"name":"mintId","in":"path","required":true,"description":"Mint ID returned by \"Mint Token\".","schema":{"type":"string"}},{"$ref":"#/paths/~1access-list/put/parameters/0"},{"$ref":"#/paths/~1access-list/put/parameters/1"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The interaction ID used to check the status of the transaction"},"status":{"$ref":"#/paths/~1interaction~1%7BinteractionId%7D/get/responses/200/content/application~1json/schema/properties/status","description":"The status of the network interaction"},"statusReason":{"type":"string","description":"The reason for the status, if applicable"},"address":{"type":"string","description":"The wallet address involved in the mint"},"sentAt":{"type":"string","format":"date-time","description":"The date and time when the interaction was sent"},"createdAt":{"type":"string","format":"date-time","description":"The date and time when the interaction was created"},"updatedAt":{"type":"string","format":"date-time","description":"The date and time when the interaction was last updated"},"transactionHash":{"type":"string","description":"The transaction hash, if applicable"},"tokens":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"The ID of the token"},"amount":{"type":"number","description":"The amount of tokens involved"}},"required":["id","amount"]}},"result":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"The ID of the token"},"amount":{"type":"number","description":"The amount of tokens involved"}}}}}}}}},"404":{"$ref":"#/paths/~1nft-contract/put/responses/404"}}}},"/nft-contract/{contractId}/mints":{"get":{"summary":"Get Mints of Contract","tags":["Tokens"],"description":"This endpoint allows you to get all of the mints from a contract and also optionally filter these by address too. The address represents the initial address that the token was minted to.\n> 🚧 The address of the mint returned in this endpoint will not be a true representation of who owns the associated token on chain after it has been transferred. You can use the GET: Owned Tokens endpoint to see a true on chain representation of who owns the token\n\n> 📘 ERC-721 contracts will return the on chain token ids that were minted in the result array for the request\n","parameters":[{"name":"contractId","in":"path","required":true,"description":"Add your Contract ID from the \"Developers\" tab in the HyperMint console.","schema":{"type":"string"}},{"name":"address","in":"query","required":true,"schema":{"type":"string"},"description":"The address represents the initial address that the token was minted to"},{"$ref":"#/paths/~1access-list/put/parameters/0"},{"$ref":"#/paths/~1access-list/put/parameters/1"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/paths/~1nft-contract~1%7BcontractId%7D~1mint~1%7BmintId%7D/get/responses/200/content/application~1json/schema"}}}}},"404":{"$ref":"#/paths/~1nft-contract/put/responses/404"}}}},"/nft-contract/{contractId}/tokens":{"get":{"tags":["Tokens"],"summary":"Get Tokens","description":"Returns all tokens related to the contract.The contract id for a contract can be found on the Collection screen in the Dashboard.\nRequires authentication for draft or deploying contracts.\n\nAllows unauthenticated access for contracts that have been fully deployed, but only reveals information that is publicly available on the blockchain.\n","parameters":[{"name":"contractId","in":"path","required":true,"description":"Add your Contract ID from the \"Developers\" tab in the HyperMint console.","schema":{"type":"string"}},{"$ref":"#/paths/~1access-list/put/parameters/0"},{"$ref":"#/paths/~1access-list/put/parameters/1"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"The ID of the token"},"price":{"type":"number","description":"The price of the token"},"supply":{"type":"number","description":"The supply of the token"},"remaining":{"type":"number","description":"The remaining supply of the token"},"totalSupply":{"type":"number","description":"The total supply of the token"},"maxPerTransaction":{"type":"number","description":"The maximum number of tokens per transaction, if applicable"},"tokenAddress":{"type":"string","description":"The address of the token, if applicable"},"tokenAccountAddress":{"type":"string","description":"The account address of the token, if applicable"}}}}}}},"404":{"$ref":"#/paths/~1nft-contract/put/responses/404"}}}},"/nft-contract/{contractId}/tokens/owners/{walletAddress}":{"get":{"summary":"Get Owned Tokens","tags":["Tokens"],"description":"Returns all tokens owned by a user's wallet address for a specified contract.\n","parameters":[{"name":"contractId","in":"path","required":true,"description":"Add your Contract ID from the \"Developers\" tab in the HyperMint console.","schema":{"type":"string"}},{"name":"walletAddress","in":"path","required":true,"description":"User's wallet address.","schema":{"type":"string"}},{"$ref":"#/paths/~1access-list/put/parameters/0"},{"$ref":"#/paths/~1access-list/put/parameters/1"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"tokens":{"type":"array","items":{"type":"object","properties":{"tokenId":{"type":"integer","description":"The ID of the token"},"amount":{"type":"number","description":"The amount of tokens owned"},"tokenAddress":{"type":"string","description":"The address of the token, if applicable"},"tokenAccountAddress":{"type":"string","description":"The account address of the token, if applicable"}}}}}}}}},"400":{"$ref":"#/paths/~1access-list/put/responses/400"},"404":{"$ref":"#/paths/~1nft-contract/put/responses/404"}}}},"/nft-contract/{contractId}/token/{tokenId}":{"get":{"tags":["Tokens"],"summary":"Get Token Information","description":"Returns information about a given token (ID) which can be used to populate sales pages. The contract id for a contract can be found on the Collection screen in the Dashboard.\n","parameters":[{"name":"contractId","in":"path","required":true,"description":"Add your Contract ID from the \"Developers\" tab in the HyperMint console.","schema":{"type":"string"}},{"name":"tokenId","in":"path","required":true,"description":"ID of the token you'd like to see.","schema":{"type":"string"}},{"$ref":"#/paths/~1access-list/put/parameters/0"},{"$ref":"#/paths/~1access-list/put/parameters/1"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","description":"Token id not internal db id"},"supply":{"type":"number","description":"The supply of the token"},"remaining":{"type":"number","description":"Convenience property of total - supply"},"totalSupply":{"type":"number","description":"The total supply of the token"},"price":{"type":"number","description":"The price of the token"},"maxPerTransaction":{"type":"number","description":"The maximum number of tokens per transaction"},"tokenAddress":{"type":"string","description":"The address of the token, if applicable"},"metadata":{"type":"object","properties":{"name":{"type":"string","description":"The name of the token"},"description":{"type":"string","description":"The description of the token"},"image":{"type":"string","description":"The image URL of the token"},"animationUrl":{"type":"string","description":"The animation URL of the token"},"attributes":{"type":"array","items":{"type":"object","properties":{"traitType":{"type":"string","description":"The trait type of the attribute"},"value":{"oneOf":[{"type":"string"},{"type":"boolean"}],"description":"The value of the attribute"},"displayType":{"type":"string","description":"The display type of the attribute"}}}}}}}}}}},"404":{"$ref":"#/paths/~1nft-contract/put/responses/404"}}},"patch":{"tags":["Tokens"],"summary":"Update Token (ERC-1155)","description":"Token id in the request is the integer token id on the network found in the UI or returns as part of contract information/when adding new tokens.\n\nTokens can be updated to have new prices or total supplies.\n","parameters":[{"name":"contractId","in":"path","required":true,"description":"Add your Contract ID from the \"Developers\" tab in the HyperMint console.","schema":{"type":"string"}},{"name":"tokenId","in":"path","required":true,"description":"ID of the token you'd like to modify.","schema":{"type":"string"}},{"$ref":"#/paths/~1access-list/put/parameters/0"},{"$ref":"#/paths/~1access-list/put/parameters/1"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"symbol":{"type":"string"},"metadata_url":{"type":"string"},"animation_url":{"type":"string"},"buy_on_network":{"type":"boolean"},"start_date":{"type":"string","format":"date-time"},"end_date":{"type":"string","format":"date-time"}}}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"string","description":"The ID of the interaction that allows you to check the status of the request"}}}},"400":{"$ref":"#/paths/~1access-list/put/responses/400"},"404":{"$ref":"#/paths/~1nft-contract/put/responses/404"}}}},"/nft-contract/{contractId}/token/{tokenId}/authorise-buy":{"get":{"summary":"Authorise Buy","tags":["Tokens"],"description":"Generates a signature that permits a specific wallet to buy a specified amount of a specific token. This endpoint validates that the specified wallet is permitted to perform this action, taking into account allow lists as well as public sale windows. Suitable for use directly from storefronts.\n","parameters":[{"name":"contractId","in":"path","required":true,"description":"Add your Contract ID from the \"Developers\" tab in the HyperMint console.","schema":{"type":"string"}},{"name":"tokenId","in":"path","required":true,"description":"ID of the token.","schema":{"type":"string"}},{"name":"address","in":"query","required":true,"schema":{"type":"string"},"description":"Wallet address to get authorized"},{"name":"amount","in":"query","required":true,"schema":{"type":"number","description":"Amount of tokens the specified address is permitted to buy"}},{"$ref":"#/paths/~1access-list/put/parameters/0"},{"$ref":"#/paths/~1access-list/put/parameters/1"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"totalPrice":{"type":"number","description":"The total price of the presale"},"maxPerAddress":{"type":"number","description":"The maximum number of items per address, if applicable"},"expires":{"type":"number","description":"The expiration time of the presale in Unix timestamp format"},"signature":{"type":"string","description":"The signature of the presale"}}}}}},"400":{"$ref":"#/paths/~1access-list/put/responses/400"},"404":{"$ref":"#/paths/~1nft-contract/put/responses/404"}}}},"/nft-contract/{contractId}/metadata-image":{"put":{"tags":["Contracts"],"summary":"Upload Contract Image","description":"When using Hosted Metadata, the media can be uploaded to the HyperMint servers using the following endpoints.\n\nThese endpoints use the multipart/form-data content type to upload the media.\n\nAccepted media types: JPG, JPEG, PNG, GIF or SVG.\n","parameters":[{"name":"contractId","in":"path","required":true,"description":"Add your Contract ID from the \"Developers\" tab in the HyperMint console.","schema":{"type":"string"}},{"$ref":"#/paths/~1access-list/put/parameters/0"},{"$ref":"#/paths/~1access-list/put/parameters/1"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/paths/~1nft-contract~1%7BcontractId%7D/get/responses/200/content/application~1json/schema"}}}},"404":{"$ref":"#/paths/~1nft-contract/put/responses/404"}}}},"/nft-contract/deploy/{contractId}":{"patch":{"tags":["Contracts"],"summary":"Deploy Contract","description":"This function will deploy a previously created Draft contract.\n","parameters":[{"name":"contractId","in":"path","required":true,"description":"Add your Contract ID from the \"Developers\" tab in the HyperMint console.","schema":{"type":"string"}},{"$ref":"#/paths/~1access-list/put/parameters/0"},{"$ref":"#/paths/~1access-list/put/parameters/1"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"interactions":{"type":"array","items":{"$ref":"#/paths/~1interaction~1%7BinteractionId%7D/get/responses/200/content/application~1json/schema"}}}}}}},"404":{"$ref":"#/paths/~1nft-contract/put/responses/404"}}}},"/nft-contract/{contractId}/transfer":{"put":{"tags":["Tokens"],"description":"Transfers a token owned by the contract to the address.\nThe id returned in the response can be used to check the status of the transfer (see Transfer Status)\n","summary":"Transfer Token","parameters":[{"name":"contractId","in":"path","required":true,"description":"Add your Contract ID from the \"Developers\" tab in the HyperMint console.","schema":{"type":"string"}},{"$ref":"#/paths/~1access-list/put/parameters/0"},{"$ref":"#/paths/~1access-list/put/parameters/1"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"address":{"type":"string","description":"Valid wallet address that the transfer should be initiated to"},"tokenId":{"type":"number","description":"The Id of the token you wish to transfer"},"amount":{"type":"number","description":"The amount of token you would wish to transfer (ERC1155 only)"}},"required":["address","tokenId"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"string","description":"The id returned in the response can be used to check the status of the transfer (see Transfer Status)"}}}},"400":{"$ref":"#/paths/~1access-list/put/responses/400"},"404":{"$ref":"#/paths/~1nft-contract/put/responses/404"}}}},"/nft-contract/{contractId}/transfer/{transferId}":{"get":{"tags":["Tokens"],"description":"Returns the status of a transfer.\n","summary":"Get Transfer Status","parameters":[{"name":"contractId","in":"path","required":true,"description":"Add your Contract ID from the \"Developers\" tab in the HyperMint console.","schema":{"type":"string"}},{"name":"transferId","in":"path","required":true,"description":"Transfer ID outputted from then \"Transfer Token\" function.","schema":{"type":"string"}},{"$ref":"#/paths/~1access-list/put/parameters/0"},{"$ref":"#/paths/~1access-list/put/parameters/1"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The interaction ID used to check the status of the transaction"},"status":{"$ref":"#/paths/~1interaction~1%7BinteractionId%7D/get/responses/200/content/application~1json/schema/properties/status","description":"The status of the network interaction"},"statusReason":{"type":"string","description":"The reason for the status, if applicable"},"address":{"type":"string","description":"The wallet address involved in the transfer"},"sentAt":{"type":"string","format":"date-time","description":"The date and time when the interaction was sent"},"createdAt":{"type":"string","format":"date-time","description":"The date and time when the interaction was created"},"updatedAt":{"type":"string","format":"date-time","description":"The date and time when the interaction was last updated"},"transactionHash":{"type":"string","description":"The transaction hash, if applicable"},"tokenId":{"type":"number","description":"The ID of the token involved in the transfer"},"amount":{"type":"number","description":"The amount of tokens involved in the transfer, if applicable"}}}}}},"default":{"description":"Error response"}}}},"/nft-contract/{contractId}/token/{tokenId}/metadata-image":{"put":{"summary":"Upload Token Image","tags":["Tokens"],"description":"This endpoint uses the multipart/form-data content type to upload the media.\n\nAccepted media types: JPG, JPEG, PNG, GIF or SVG.\n\n> 🚧 You must first set the token metadata for the target token before uploading its image\n","parameters":[{"name":"contractId","in":"path","required":true,"description":"Add your Contract ID from the \"Developers\" tab in the HyperMint console.","schema":{"type":"string"}},{"name":"tokenId","in":"path","required":true,"description":"The ID of the token you'd like to modify.","schema":{"type":"string"}},{"$ref":"#/paths/~1access-list/put/parameters/0"},{"$ref":"#/paths/~1access-list/put/parameters/1"}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"media":{"type":"string","format":"binary","description":"Accepted media types: JPG, JPEG, PNG, GIF or SVG."}}}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates if the operation was successful"}}}}}},"400":{"$ref":"#/paths/~1access-list/put/responses/400"},"404":{"$ref":"#/paths/~1nft-contract/put/responses/404"}}}},"/nft-contract/{contractId}/token/{tokenId}/metadata-animation":{"put":{"summary":"Upload Animation File","tags":["Tokens"],"description":"This endpoint uses the multipart/form-data content type to upload the media.\n\nAccepted media types: MP4, WEBM, MP3, WAV, OGG, GLB, GLTF.\n\n> 🚧 You must first set the token metadata for the target token before uploading its image\n","parameters":[{"name":"contractId","in":"path","required":true,"description":"Add your Contract ID from the \"Developers\" tab in the HyperMint console.","schema":{"type":"string"}},{"name":"tokenId","in":"path","required":true,"description":"The ID of the token you'd like to modify.","schema":{"type":"string"}},{"$ref":"#/paths/~1access-list/put/parameters/0"},{"$ref":"#/paths/~1access-list/put/parameters/1"}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"media":{"type":"string","format":"binary","description":"Accepted media types: MP4, WEBM, MP3, WAV, OGG, GLB, GLTF."}}}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates if the operation was successful"}}}}}},"400":{"$ref":"#/paths/~1access-list/put/responses/400"},"404":{"$ref":"#/paths/~1nft-contract/put/responses/404"}}}},"/nft-contract/{contractId}/token/{tokenId}/metadata":{"patch":{"summary":"Set Token Hosted Metadata","tags":["Tokens"],"description":"If you have chosen to host metadata on the HyperMint servers, metadata for a token can be set via this endpoint.\n\nAll properties need to be sent with the request body. Properties that are not sent when using this endpoint will set those properties to null. Token id in the request is the integer token id on the network found in the UI or returned as part of contract information/when adding new tokens. I.E token id 1, 2, 1000, etc.\n","parameters":[{"name":"contractId","in":"path","required":true,"description":"Add your Contract ID from the \"Developers\" tab in the HyperMint console.","schema":{"type":"string"}},{"name":"tokenId","in":"path","required":true,"description":"ID of the token you'd like to modify.","schema":{"type":"string"}},{"$ref":"#/paths/~1access-list/put/parameters/0"},{"$ref":"#/paths/~1access-list/put/parameters/1"}],"requestBody":{"description":"Metadata to be set for the specified token.","required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Optional name"},"description":{"type":"string","description":"Optional description"},"image":{"type":"string","description":"Optional image URL"},"background_color":{"type":"string","description":"Optional background color"},"animation_url":{"type":"string","description":"Optional animation URL"},"youtube_url":{"type":"string","description":"Optional YouTube URL"},"attributes":{"type":"array","items":{"type":"object","properties":{"trait_type":{"type":"string","description":"Optional trait type"},"value":{"type":"string","description":"Optional value"},"display_type":{"type":"string","description":"Optional display type"}}}}}}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates if the operation was successful"}}}}}},"400":{"$ref":"#/paths/~1access-list/put/responses/400"},"404":{"$ref":"#/paths/~1nft-contract/put/responses/404"}}}},"/nft-contract/{contractId}/update-name-and-symbol":{"patch":{"tags":["Contracts"],"summary":"Update Contract Name and Symbol","description":"Sets the name and symbol on the contract and network.\n\n> 📘 Changes to deployed contracts will be broadcasted immediately\n","parameters":[{"name":"contractId","in":"path","required":true,"description":"Add your Contract ID from the \"Developers\" tab in the HyperMint console.","schema":{"type":"string"}},{"$ref":"#/paths/~1access-list/put/parameters/0"},{"$ref":"#/paths/~1access-list/put/parameters/1"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Name of the contract"},"symbol":{"type":"string","description":"Symbol of the contract"}},"required":["name","symbol"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"interactionId":{"type":"string","description":"ID of the contract interaction"}}}}}},"400":{"$ref":"#/paths/~1access-list/put/responses/400"},"404":{"$ref":"#/paths/~1nft-contract/put/responses/404"}}}},"/nft-contract/{contractId}/update-metadata-urls":{"patch":{"tags":["Contracts"],"summary":"Update Contract Metadata URLs","description":"Sets the metadata URLs on the contract.\n\nCan be used to create blind drops (aka a \"reveal\") where the token information is revealed to the public after a certain period of time simply by updating the metadata url when NFTs are ready to be revealed.\n\n> 📘 Changes to deployed contracts will be broadcasted immediately\n","parameters":[{"name":"contractId","in":"path","required":true,"description":"Add your Contract ID from the \"Developers\" tab in the HyperMint console.","schema":{"type":"string"}},{"$ref":"#/paths/~1access-list/put/parameters/0"},{"$ref":"#/paths/~1access-list/put/parameters/1"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"contractMetadataUrl":{"type":"string","description":"URL for contract metadata"},"tokenMetadataUrl":{"type":"string","description":"URL for token metadata"}},"required":["contractMetadataUrl","tokenMetadataUrl"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"interactionId":{"type":"string","description":"ID of the contract interaction"}}}}}},"400":{"$ref":"#/paths/~1access-list/put/responses/400"},"404":{"$ref":"#/paths/~1nft-contract/put/responses/404"}}}},"/nft-contract/{contractId}/update-buy-on-network":{"patch":{"tags":["Contracts"],"summary":"Update Contract Buy on Network","description":"Sets the `Allow Buy on Network` property enabling or disabling buying tokens directly on the network.\n\n> 📘 Changes to deployed contracts will be broadcasted immediately\n","parameters":[{"name":"contractId","in":"path","required":true,"description":"Add your Contract ID from the \"Developers\" tab in the HyperMint console.","schema":{"type":"string"}},{"$ref":"#/paths/~1access-list/put/parameters/0"},{"$ref":"#/paths/~1access-list/put/parameters/1"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"allowBuyOnNetwork":{"type":"string","description":"Property for allowing buy on network. Can be set to true or false."}},"required":["allowBuyOnNetwork"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"interactionId":{"type":"string","description":"ID of the contract interaction"}}}}}},"400":{"$ref":"#/paths/~1access-list/put/responses/400"},"404":{"$ref":"#/paths/~1nft-contract/put/responses/404"}}}},"/nft-contract/{contractId}/update-dates":{"patch":{"tags":["Contracts"],"summary":"Update Contract Dates","description":"Sets the sale dates on the contract for buying on network.\n\n> 📘 Changes to deployed contracts will be broadcasted immediately\n","parameters":[{"name":"contractId","in":"path","required":true,"description":"Add your Contract ID from the \"Developers\" tab in the HyperMint console.","schema":{"type":"string"}},{"$ref":"#/paths/~1access-list/put/parameters/0"},{"$ref":"#/paths/~1access-list/put/parameters/1"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"publicSaleAt":{"type":"string","format":"date-time","description":"Date format is YYYY-MM-DDTHH:mm:ss.sssZ. Not setting a date will disable checks on the contract when buying.  publicSaleAt as undefined allows buying at any time before the close date.\n"},"saleCloseAt":{"type":"string","format":"date-time","description":"Date format is YYYY-MM-DDTHH:mm:ss.sssZ. Not setting a date will disable checks on the contract when buying.  saleClosesAt as undefined allows buying indefinitely.\n"}},"required":["publicSaleAt","saleCloseAt"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"interactionId":{"type":"string","description":"ID of the contract interaction"}}}}}},"400":{"$ref":"#/paths/~1access-list/put/responses/400"},"404":{"$ref":"#/paths/~1nft-contract/put/responses/404"}}}},"/access-list":{"put":{"tags":["Access List"],"summary":"Create Access List","description":"Creates an access list for the contract. The access list is a list of wallet addresses that are allowed to interact with the contract.\n","parameters":[{"name":"HM_ACCESS_KEY","in":"header","required":true,"description":"","schema":{"type":"string"}},{"name":"HM_ACCESS_KEY_SECRET","in":"header","required":true,"description":"","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Name of the access list"},"type":{"description":"Type of the access list","type":"string","enum":["Address","Token","Token Snapshot","Email"]},"tokenContractId":{"type":"string","description":"ID of the token contract"},"externalTokenContract":{"description":"External token contract","type":"object","properties":{"address":{"type":"string","description":"Address of the external contract"},"type":{"description":"Type of the contract","type":"string","enum":["ERC721","ERC1155","Splitter Contract","Syndicate","Custom"]},"networkType":{"$ref":"#/paths/~1nft-contract~1%7BcontractId%7D/get/responses/200/content/application~1json/schema/properties/network/properties/type","description":"Type of the network"},"networkEnvironment":{"$ref":"#/paths/~1nft-contract~1%7BcontractId%7D/get/responses/200/content/application~1json/schema/properties/network/properties/environment","description":"Environment of the network"},"networkChain":{"$ref":"#/paths/~1nft-contract~1%7BcontractId%7D/patch/requestBody/content/application~1json/schema/properties/network/properties/chain/oneOf/0","description":"Chain of the network"}}}}}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"ID of the accecss list"}}}}}},"400":{"description":"Bad Request - The request sent was malformed or did not pass as a validation. The error message should explain what happened.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"The error message explaining why the request couldn't be processed"}}}}}}}}},"/access-list/{accessListId}/addresses":{"put":{"tags":["Access List"],"summary":"Add Access List Addresses","parameters":[{"name":"accessListId","in":"path","required":true,"description":"Add your Access List ID from the \"Access Lists\" tab in the HyperMint console.","schema":{"type":"string"}},{"$ref":"#/paths/~1access-list/put/parameters/0"},{"$ref":"#/paths/~1access-list/put/parameters/1"}],"requestBody":{"description":"addresses is an array of wallet addresses to be added to the specified access list.","required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"addresses":{"type":"array","items":{"type":"object","properties":{"address":{"type":"string","description":"Wallet address to be added"},"name":{"type":"string","description":"Optional name for the address"}}}}}}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"}}}}}},"400":{"$ref":"#/paths/~1access-list/put/responses/400"}}}},"/interaction/{interactionId}":{"get":{"tags":["Interaction"],"summary":"Get Interaction Status","description":"When a request to update a contract, token or add a new token is received, it is queued in the system to be broadcast to the network.\n","parameters":[{"name":"interactionId","in":"path","required":true,"description":"Interaction ID outputted by any of the Update functions.","schema":{"type":"string"}},{"$ref":"#/paths/~1access-list/put/parameters/0"},{"$ref":"#/paths/~1access-list/put/parameters/1"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The ID of the interaction"},"type":{"description":"The type of network interaction","type":"string","enum":["Deploy","Set name and symbol","Set allow buy","Set allow public transfers","Set metadata URLs","Set dates","Set addresses","Set royalty","Set purchase token","Update ERC721 token","Update ERC1155 token","Add ERC1155 tokens","Mint batch","Set use OpenSea Filter Registry","Transfer Token","Withdraw Funds"]},"status":{"description":"The status of the network interaction","type":"string","enum":["Pending","Queued","Sent","Complete","Failed","Warning","Confirming"]},"statusReason":{"type":"string","description":"The reason for the status, if applicable"},"transactionHash":{"type":"string","description":"The transaction hash, if applicable"},"sentAt":{"type":"string","format":"date-time","description":"The date and time when the interaction was sent"},"update":{"description":"The update associated with the network interaction","type":"object","properties":{"name":{"type":"string","description":"The name associated with the network interaction"},"symbol":{"type":"string","description":"The symbol associated with the network interaction"},"allowBuyOnNetwork":{"type":"boolean","description":"Indicates if buying on the network is allowed"},"allowPublicTransfers":{"type":"boolean","description":"Indicates if public transfers are allowed"},"enableOpenSeaOperatorFilterRegistry":{"type":"boolean","description":"Indicates if OpenSea Operator Filter Registry is enabled"},"contractUrl":{"type":"string","format":"uri","description":"The URL of the contract"},"tokenUrl":{"type":"string","format":"uri","description":"The URL of the token"},"publicSaleAt":{"type":"string","format":"date-time","description":"The date and time when the public sale starts"},"saleClosesAt":{"type":"string","format":"date-time","description":"The date and time when the sale closes"},"addresses":{"type":"object","properties":{"recoveryAddress":{"type":"string","description":"The recovery address"},"collectionOwnerAddress":{"type":"string","description":"The collection owner's address"},"authorisationAddress":{"type":"string","description":"The authorisation address"},"purchaseTokenAddress":{"type":"string","description":"The purchase token address"},"managerPrimaryRoyaltyAddress":{"type":"string","description":"The manager's primary royalty address"},"customerPrimaryRoyaltyAddress":{"type":"string","description":"The customer's primary royalty address"},"secondaryRoyaltyAddress":{"type":"string","description":"The secondary royalty address"}}},"royalty":{"type":"object","properties":{"primaryFee":{"type":"number","description":"The primary fee for the royalty"},"secondaryFee":{"type":"number","description":"The secondary fee for the royalty"}},"required":["primaryFee","secondaryFee"]},"erc1155":{"type":"object","properties":{"tokenUpdate":{"type":"object","properties":{"id":{"type":"number","description":"The token ID"},"price":{"type":"number","description":"The token price"},"totalSupply":{"type":"number","description":"The total supply of the token"},"maxPerTransaction":{"type":"number","description":"The maximum number of tokens per transaction"}}},"addTokens":{"type":"array","items":{"type":"object","properties":{"id":{"type":"number","description":"The token ID"},"price":{"type":"number","description":"The token price"},"totalSupply":{"type":"number","description":"The total supply of the token"},"maxPerTransaction":{"type":"number","description":"The maximum number of tokens per transaction"}}}}}},"erc721":{"type":"object","properties":{"tokenUpdate":{"type":"object","properties":{"price":{"type":"number","description":"The token price"},"totalSupply":{"type":"number","description":"The total supply of the token"},"maxPerTransaction":{"type":"number","description":"The maximum number of tokens per transaction"}}}}},"solana":{"type":"object","properties":{"createToken":{"type":"string","description":"The Solana token creation details"}}},"purchaseTokenAddress":{"type":"string","description":"The address of the purchase token"},"deploy":{"type":"array","items":{"type":"object","description":"The details of the deployment"}},"mintCount":{"type":"number","description":"The count of tokens minted"}}}}}}}}}}},"/nft-contract/{contractId}/tokens/{tokenId}/allocation/{address}":{"get":{"tags":["Tokens"],"summary":"Get Token Allocation (currently only supports ERC721)","description":"Returns a breakdown of token allocation and purchasing options for a given wallet address as it relates to a given contract. This endpoint considers all the Access Lists attached to a contract. Access lists and allocations only apply for Mint With Crypto and Fiat Minting.\n\n> 🚧 This endpoint currently only supports ERC-721 contracts.\n","parameters":[{"name":"contractId","in":"path","required":true,"description":"Add your Contract ID from the \"Developers\" tab in the HyperMint console.","schema":{"type":"string"}},{"name":"tokenId","in":"path","required":true,"description":"ID of the token you'd like information on.","schema":{"type":"string"}},{"name":"address","in":"path","required":true,"description":"Wallet address of the user.","schema":{"type":"string"}},{"$ref":"#/paths/~1access-list/put/parameters/0"},{"$ref":"#/paths/~1access-list/put/parameters/1"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"allocation":{"type":"array","items":{"type":"object","properties":{"remainingAllocation":{"type":"number","description":"Remaining allocation, not present if the supply is unlimited"},"pricePerToken":{"type":"number","description":"Price per token"}}}}}}}}},"400":{"$ref":"#/paths/~1access-list/put/responses/400"},"404":{"$ref":"#/paths/~1nft-contract/put/responses/404"}}}},"/nft-contract/verify-burn/{contractId}/{txHash}":{"get":{"tags":["Tokens"],"summary":"Verify Token Burn","description":"Returns an object which can be used to Verify if a transaction was a token burn. The contractId for a collection can be found on the dashboard under the \"Developers\" tab in the contract detail page.\n","parameters":[{"name":"contractId","in":"path","required":true,"description":"Add your Contract ID from the \"Developers\" tab in the HyperMint console.","schema":{"type":"string"}},{"name":"txHash","in":"path","required":true,"description":"Transaction hash outputted by a burn action.","schema":{"type":"string"}},{"$ref":"#/paths/~1access-list/put/parameters/0"},{"$ref":"#/paths/~1access-list/put/parameters/1"}],"responses":{"200":{"description":"Returns status of the transfer","content":{"application/json":{"schema":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"Status of the transaction (Pending/Complete/Failed)"},"burn":{"type":"boolean","description":"True if the transaction is a completed burn transaction (sent to zero address)"},"walletaddress":{"type":"string","description":"User's wallet address"}}}}}},"400":{"$ref":"#/paths/~1access-list/put/responses/400"},"404":{"$ref":"#/paths/~1nft-contract/put/responses/404"}}}},"/metadata/{contractId}":{"get":{"tags":["Contracts"],"summary":"Get Contract Hosted Metadata","description":"If you have chosen to host metadata on the HyperMint servers, this endpoint will return metadata for the contract.\n","parameters":[{"name":"contractId","in":"path","required":true,"description":"Add your Contract ID from the \"Developers\" tab in the HyperMint console.","schema":{"type":"string"}}],"responses":{"200":{"description":"Responds with interaction status","content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Optional name"},"description":{"type":"string","description":"Optional description"},"image":{"type":"string","description":"Optional image URL"},"external_url":{"type":"string","description":"Optional external URL"},"seller_fee_basis_points":{"type":"number","description":"Optional seller fee in basis points"},"fee_recipient":{"type":"string","description":"Optional fee recipient address"}}}}}}}}},"/metadata/{contractId}/{tokenId}":{"get":{"tags":["Tokens"],"summary":"Get Token Hosted Metadata","description":"If you have chosen to host metadata on the HyperMint servers, this endpoint will return metadata for the token.\n","parameters":[{"name":"contractId","in":"path","required":true,"description":"Add your Contract ID from the \"Developers\" tab in the HyperMint console.","schema":{"type":"string"}},{"name":"tokenId","in":"path","required":true,"description":"ID of the token.","schema":{"type":"string"}}],"responses":{"200":{"description":"Responds with interaction status","content":{"application/json":{"schema":{"$ref":"#/paths/~1nft-contract~1%7BcontractId%7D~1token~1%7BtokenId%7D~1metadata/patch/requestBody/content/application~1json/schema"}}}}}}}},"components":{"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"HM_ACCESS_KEY"},"ApiSecretAuth":{"type":"apiKey","in":"header","name":"HM_ACCESS_KEY_SECRET"}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}