{"openapi":"3.0.0","servers":[{"url":"https://api.ethpass.xyz"}],"info":{"description":"ethpass is an API service for creating Apple Wallet and Google Wallet passes from your NFTs and other assets.\n\n## Authentication\nThe service uses API keys to authenticate requests. \nLog into the [developer dashboard](https://ethpass.xyz/login) to generate yours, or see our [Generate API Key](/getting-started/generate-api-key) guide. \n\nTo supply an API key for a request, you must include it in the request header.\n\n<SecurityDefinitions />\n\n```jsx\nconst response = await fetch(\"https://api.ethpass.xyz/api/v0/passes\", {\n  method: \"POST\",\n  body: JSON.stringify(payload),\n  headers: new Headers({\n    \"content-type\": \"application/json\",\n    \"X-API-KEY\": \"YOUR_SECRET_API_KEY\"\n  }),\n});\n```\n","version":"0.1.0","title":"Passes API","x-logo":{"url":"https://","altText":"logo"}},"tags":[{"name":"Passes","description":"Passes"},{"name":"pass_input_model","x-displayName":"Create Pass Model","description":"<SchemaDefinition schemaRef=\"#/components/schemas/PassInput\" />\n"},{"name":"apple_pass_model","x-displayName":"Apple Pass Model","description":"<SchemaDefinition schemaRef=\"#/components/schemas/PublicApplePass\" />\n"},{"name":"google_pass_model","x-displayName":"Google Pass Model","description":"<SchemaDefinition schemaRef=\"#/components/schemas/PublicGooglePass\" />\n"},{"name":"policy_model","x-displayName":"Policy Model","description":"<SchemaDefinition schemaRef=\"#/components/schemas/Policy\" />\n"},{"name":"policy_rules_model","x-displayName":"Policy Rules Model","description":"<SchemaDefinition schemaRef=\"#/components/schemas/PolicyRule\" />\n"}],"x-tagGroups":[{"name":"PROJECT MANAGEMENT","expanded":true,"tags":["Project"]},{"name":"PASS MANAGEMENT","expanded":true,"tags":["Passes","Scan"]},{"name":"POLICY MANAGEMENT","expanded":true,"tags":["Policies"]}],"components":{"schemas":{"WalletInput":{"type":"object","required":["chain","address"],"properties":{"chain":{"$ref":"#/components/schemas/ChainInput"},"address":{"type":"string","description":"Wallet address"},"signature":{"type":"string","description":"Signed message <br><font size='2' color='red'>Required when `signatureMessage` parameter is specified</font>","example":"0x71147d2b97a397061e6dbd82351867a7057bdb4d9566a8ac2d618e1a3e62d43c722245fb4e6a8e9ee814348bdd5c433224c8c10f9fadf7fd154b44c17056109f1c"},"signatureMessage":{"type":"string","description":"Message displayed when requesting signature <br><font size='2' color='red'>Required when `signature` parameter is specified</font>","example":"Sign this message to generate a test pass with ethpass.xyz"},"requireUniqueSignature":{"type":"boolean","description":"Set to true to ensure that a unique signature is submitted during pass creation.","default":false},"delegation":{"$ref":"#/components/schemas/Delegation"}}},"ChainInput":{"type":"object","properties":{"name":{"$ref":"#/components/schemas/Chains"},"network":{"$ref":"#/components/schemas/Network"}}},"PassInput":{"type":"object","properties":{"wallet":{"$ref":"#/components/schemas/WalletInput"},"nft":{"type":"object","description":"NFT Details","$ref":"#/components/schemas/EVMNFT"},"policies":{"type":"array","description":"Policy IDs","items":{"type":"string"}},"barcode":{"$ref":"#/components/schemas/BarcodeInput","description":"Barcode message"},"image":{"type":"string","description":"You can display a custom image on your pass. **The file size of the image should not exceed 2MB, and it should be in one of the following formats. (.png, .jpg, .webp, .svg, .gif, .tiff)**\n","example":"https://ipfs.io/ipfs/QmYyXcVMgny4BJYiaUyTU46HX7seFNgnvte2eoL2fN2PXf"},"externalId":{"type":"string","description":"Use this parameter to grant custom identifiers to passes.","example":"external-id-123"},"templateId":{"type":"string","description":"The unique identifier (ID) for a custom pass template. This ID corresponds to templates that have been specifically designed and customized by users through our interactive dashboard interface. It allows for referencing and utilization of these custom designs when generating or managing passes.","example":"01791169-5edc-4fbc-a87a-106fb9400bdc"},"layout":{"allOf":[{"$ref":"#/components/schemas/PassLayout"},{"description":"The configuration and structure of the pass's visual appearance. This includes specifications for different platforms like universal, Apple, and Google. Each platform-specific layout defines elements such as logos, colors, and fields to be displayed on the pass. <br/></br>**Please note that this will override any defaults you have setup through your template. Read more about pass layouts in our [here](https://docs.ethpass.xyz/guides/passes/leverage-barcode#using-a-pass-redirect-not-recommended-unless-you-have-unique-requirements)**."}]}},"additionalProperties":false},"TokenInterface":{"description":"<font size=\"2\" color=\"red\">Required if smart contract supports both ERC721 & ERC-1155 token standards</font>","type":"string","enum":["0x80ac58cd","0xd9b67a26"]},"Chains":{"type":"string","enum":["evm"]},"EVMNFT":{"type":"object","required":["contractAddress","tokenId"],"properties":{"contractAddress":{"type":"string","description":"Contract Address","example":"0x79c1d53f15e34895d608ff47ee56ad1f0f3f45d3"},"tokenId":{"type":"string","description":"Token ID","example":"315"},"contractInterface":{"$ref":"#/components/schemas/TokenInterface"}}},"Delegation":{"type":"object","description":"Wallet Delegation","required":["registry","vaultAddress"],"properties":{"registry":{"type":"string","enum":["delegate.cash","warm.xyz"],"description":"Registry name"},"vaultAddress":{"type":"string","example":"0x79c1d53f15e34895d608ff47ee56ad1f0f3f45d3","description":"The vault wallet address the message signer is delegating for"}}},"Network":{"type":"number","description":"Reference table:\n\n| Name | Value |\n|-----|-----|\n| Ethereum Mainnet   | 1   |\n| Ethereum Sepolia Testnet   | 11155111   |\n| Polygon Mainnet   | 137   |\n| Polygon Mumbai Testnet   | 80001   |\n| Optimism Mainnet   | 10   |\n| Optimism Sepolia Testnet   | 11155420   |\n| Arbitrum Mainnet   | 42161   |\n| Arbitrum Sepolia Testnet  | 421614   |\n| Binance Smart Chain   | 56   |\n| Binance Smart Chain Testnet   | 97   |\n| Gnosis Mainnet   | 100   |\n| Base Mainnet   | 8453   |\n| Base Sepolia Testnet   | 84532   |\n| Hedera   | 295   |\n| Hedera Testnet   | 296   |\n","enum":[1,5,11155111,137,80001,10,420,42161,421613,56,97,100,84531,295,296]},"BarcodeFormat":{"type":"string","enum":["QR","CODE_128","AZTEC","PDF417","NONE"]},"BarcodeInput":{"type":"object","properties":{"message":{"type":"string","description":"Message encoded into the pass, to be decoded upon a successful scan. Useful for embedding internal IDs, coupon codes, and other useful values in your system.","example":"Encoded code or message here"},"format":{"$ref":"#/components/schemas/BarcodeFormat"},"encoded":{"description":"Set to false to display barcode message as plain text","type":"boolean"},"redirect":{"type":"object","description":"Can be used redirect to your own service for verification, for unique cases. Learn more [here](https://docs.ethpass.xyz/guides/passes/leverage-barcode#using-a-pass-redirect-not-recommended-unless-you-have-unique-requirements).","properties":{"url":{"type":"string","description":"URL to redirect to when scanning","example":"https://my-app.io/scan"}}}},"required":["message"],"additionalProperties":false},"PublicApplePass":{"type":"object","properties":{"description":{"type":"string","example":"My Event Name"},"logoText":{"type":"string","example":"MY EVENTS"},"labelColor":{"type":"string","example":"rgb(255,0,0)"},"backgroundColor":{"type":"string","example":"rgb(0,0,0)"},"foregroundColor":{"type":"string","example":"rgb(255,255,255)"},"expirationDate":{"type":"string"},"locations":{"type":"array","items":{"$ref":"#/components/schemas/Location"}},"auxiliaryFields":{"type":"array","items":{"$ref":"#/components/schemas/Field"}},"backFields":{"type":"array","items":{"$ref":"#/components/schemas/Field"}},"headerFields":{"type":"array","items":{"$ref":"#/components/schemas/Field"}},"primaryFields":{"type":"array","items":{"$ref":"#/components/schemas/Field"}},"secondaryFields":{"type":"array","items":{"$ref":"#/components/schemas/Field"}},"appLaunchURL":{"type":"string"},"associatedStoreIdentifiers":{"type":"array","items":{"type":"number"}}},"additionalProperties":false},"DistributionPayload":{"type":"object","properties":{"apple":{"type":"object","properties":{"url":{"type":"string"},"buffer":{"type":"object","description":"File Buffer"}}},"google":{"type":"object","properties":{"url":{"type":"string"}}}}},"Field":{"type":"object","properties":{"label":{"type":"string","example":"CLAIM CODE"},"textAlignment":{"type":"string","example":"PKTextAlignmentNatural"},"key":{"type":"string","example":"field1"},"value":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"string","format":"date-time"}]}},"required":["key","value","label"],"additionalProperties":false},"PublicGooglePass":{"type":"object","properties":{"messages":{"type":"array","items":{"$ref":"#/components/schemas/walletobjects_v1_Message"}},"textModulesData":{"$ref":"#/components/schemas/walletobjects_v1_TextModuleData"},"linksModuleData":{"$ref":"#/components/schemas/walletobjects_v1_LinksModuleData"},"locations":{"$ref":"#/components/schemas/walletobjects_v1_LatLongPoint"}},"additionalProperties":false},"walletobjects_v1_Message":{"type":"object","properties":{"body":{"description":"The message body.","anyOf":[{"type":"string"}]},"displayInterval":{"$ref":"#/components/schemas/walletobjects_v1_TimeInterval","description":"The period of time that the message will be displayed to users. You can define both a `startTime` and `endTime` for each message. A message is displayed immediately after a Wallet Object is inserted unless a `startTime` is set. The message will appear in a list of messages indefinitely if `endTime` is not provided."},"header":{"description":"The message header.","anyOf":[{"type":"string"}]},"id":{"description":"The ID associated with a message. This field is here to enable ease of management of messages. Notice ID values could possibly duplicate across multiple messages in the same class/instance, and care must be taken to select a reasonable ID for each message.","anyOf":[{"type":"string"}]},"kind":{"description":"Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#walletObjectMessage\"`.","anyOf":[{"type":"string"}]},"localizedBody":{"$ref":"#/components/schemas/walletobjects_v1_LocalizedString","description":"Translated strings for the message body."},"localizedHeader":{"$ref":"#/components/schemas/walletobjects_v1_LocalizedString","description":"Translated strings for the message header."},"messageType":{"description":"The type of the message. Currently, this can only be set for offers.","anyOf":[{"type":"string"}]}},"additionalProperties":false,"description":"A message that will be displayed with a Valuable"},"walletobjects_v1_TimeInterval":{"type":"object","properties":{"end":{"$ref":"#/components/schemas/walletobjects_v1_DateTime","description":"End time of the interval. Offset is not required. If an offset is provided and `start` time is set, `start` must also include an offset."},"kind":{"description":"Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#timeInterval\"`.","anyOf":[{"type":"string"}]},"start":{"$ref":"#/components/schemas/walletobjects_v1_DateTime","description":"Start time of the interval. Offset is not required. If an offset is provided and `end` time is set, `end` must also include an offset."}},"additionalProperties":false},"walletobjects_v1_DateTime":{"type":"object","properties":{"date":{"description":"An ISO 8601 extended format date/time. Offset may or may not be required (refer to the parent field's documentation). Time may be specified up to nanosecond precision. Offsets may be specified with seconds precision (even though offset seconds is not part of ISO 8601). For example: `1985-04-12T23:20:50.52Z` would be 20 minutes and 50.52 seconds after the 23rd hour of April 12th, 1985 in UTC. `1985-04-12T19:20:50.52-04:00` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985, 4 hours before UTC (same instant in time as the above example). If the date/time is intended for a physical location in New York, this would be the equivalent of Eastern Daylight Time (EDT). Remember that offset varies in regions that observe Daylight Saving Time (or Summer Time), depending on the time of the year. `1985-04-12T19:20:50.52` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985 with no offset information. Providing an offset makes this an absolute instant in time around the world. The date/time will be adjusted based on the user's time zone. For example, a time of `2018-06-19T18:30:00-04:00` will be 18:30:00 for a user in New York and 15:30:00 for a user in Los Angeles. Omitting the offset makes this a local date/time, representing several instants in time around the world. The date/time will always be in the user's current time zone. For example, a time of `2018-06-19T18:30:00` will be 18:30:00 for a user in New York and also 18:30:00 for a user in Los Angeles. This is useful when the same local date/time should apply to many physical locations across several time zones.","anyOf":[{"type":"string"}]}},"additionalProperties":false},"walletobjects_v1_LocalizedString":{"type":"object","properties":{"defaultValue":{"$ref":"#/components/schemas/walletobjects_v1_TranslatedString","description":"Contains the string to be displayed if no appropriate translation is available."},"kind":{"description":"Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#localizedString\"`.","anyOf":[{"type":"string"}]},"translatedValues":{"type":"array","items":{"$ref":"#/components/schemas/walletobjects_v1_TranslatedString"},"description":"Contains the translations for the string."}},"additionalProperties":false},"walletobjects_v1_TranslatedString":{"type":"object","properties":{"kind":{"description":"Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#translatedString\"`.","anyOf":[{"type":"string"}]},"language":{"description":"Represents the BCP 47 language tag. Example values are \"en-US\", \"en-GB\", \"de\", or \"de-AT\".","anyOf":[{"type":"string"}]},"value":{"description":"The UTF-8 encoded translated string.","anyOf":[{"type":"string"}]}},"additionalProperties":false},"walletobjects_v1_TextModuleData":{"type":"object","properties":{"body":{"description":"The body of the Text Module, which is defined as an uninterrupted string. Recommended maximum length is 500 characters to ensure full string is displayed on smaller screens.","anyOf":[{"type":"string"}]},"header":{"description":"The header of the Text Module. Recommended maximum length is 35 characters to ensure full string is displayed on smaller screens.","anyOf":[{"type":"string"}]},"id":{"description":"The ID associated with a text module. This field is here to enable ease of management of text modules.","anyOf":[{"type":"string"}]},"localizedBody":{"$ref":"#/components/schemas/walletobjects_v1_LocalizedString","description":"Translated strings for the body. Recommended maximum length is 500 characters to ensure full string is displayed on smaller screens."},"localizedHeader":{"$ref":"#/components/schemas/walletobjects_v1_LocalizedString","description":"Translated strings for the header. Recommended maximum length is 35 characters to ensure full string is displayed on smaller screens."}},"additionalProperties":false,"description":"Data for Text module. All fields are optional. Header will be displayed if available, different types of bodies will be concatenated if they are defined."},"walletobjects_v1_LinksModuleData":{"type":"object","properties":{"uris":{"type":"array","items":{"$ref":"#/components/schemas/walletobjects_v1_Uri"},"description":"The list of URIs."}},"additionalProperties":false},"walletobjects_v1_Uri":{"type":"object","properties":{"description":{"description":"The URI's title appearing in the app as text. Recommended maximum is 20 characters to ensure full string is displayed on smaller screens. Note that in some contexts this text is not used, such as when `description` is part of an image.","anyOf":[{"type":"string"}]},"id":{"description":"The ID associated with a uri. This field is here to enable ease of management of uris.","anyOf":[{"type":"string"}]},"kind":{"description":"Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#uri\"`.","anyOf":[{"type":"string"}]},"localizedDescription":{"$ref":"#/components/schemas/walletobjects_v1_LocalizedString","description":"Translated strings for the description. Recommended maximum is 20 characters to ensure full string is displayed on smaller screens."},"uri":{"description":"The location of a web page, image, or other resource. URIs in the `LinksModuleData` module can have different prefixes indicating the type of URI (a link to a web page, a link to a map, a telephone number, or an email address). URIs must have a scheme.","anyOf":[{"type":"string"}]}},"additionalProperties":false},"walletobjects_v1_LatLongPoint":{"type":"object","properties":{"kind":{"description":"Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#latLongPoint\"`.","anyOf":[{"type":"string"}]},"latitude":{"description":"The latitude specified as any value in the range of -90.0 through +90.0, both inclusive. Values outside these bounds will be rejected.","anyOf":[{"type":"number"}]},"longitude":{"description":"The longitude specified in the range -180.0 through +180.0, both inclusive. Values outside these bounds will be rejected.","anyOf":[{"type":"number"}]}},"additionalProperties":false},"PassResponse":{"type":"object","properties":{"id":{"type":"string","description":"Pass ID","example":"e9adf464-c17b-4494-854c-25604c5fa948"},"chain":{"type":"object","description":"Blockchain Details","properties":{"name":{"type":"string","enum":["evm"]},"network":{"$ref":"#/components/schemas/Network"}}},"ownerAddress":{"type":"string","description":"Wallet Address","example":"0xD0136A89A15CV85f3f7e76e77E2450538a70B02h"},"signatureVerified":{"type":"boolean","description":"Value indicates whether a valid signature was submitted for the wallet address when the pass was created."},"createdAt":{"type":"string","format":"date","description":"Date/time of when pass was created"},"lastScannedAt":{"type":"string","format":"date","description":"Date/time of when pass was last scanned"},"expiredAt":{"type":"string","format":"date","description":"Date/time of when pass was expired"},"expireAction":{"type":"string","description":"The action that expired the pass","example":"NFT transferred to another wallet"},"policies":{"type":"array","description":"Policy Details","items":{"$ref":"#/components/schemas/Policy"}},"nfts":{"type":"array","description":"NFT Details","allOf":[{"$ref":"#/components/schemas/EVMNFT"},{"type":"object","properties":{"valid":{"type":"boolean","description":"`true` if the wallet is still in ownership of the NFT"}}}]},"barcodeSignature":{"type":"string","description":"Barcode message","example":"0xc1fe64e0fcb287ec5b4eab53541fac723abc7a5d06554f79ef7263dd5ae4708b03695f55e6e6acf86b92274c626859750ceaae2dbaa67688f472bc924f3bca921c"},"templateId":{"type":"string","description":"Custom template","example":"f664196b-035a-454d-90c4-ab0adc107981"},"registrations":{"type":"array","items":{"type":"object"},"description":"Pass Device Registrations"},"delegation":{"$ref":"#/components/schemas/Delegation"}}},"PolicyRuleType":{"type":"string","enum":["COLLECTION","ERC20","NATIVE_TOKEN","ALLOW_LIST","POAP"]},"PolicyRuleEvaluation":{"type":"string","enum":["ALL","ANY","SOME"]},"Policy":{"type":"object","properties":{"name":{"type":"string"},"chain":{"$ref":"#/components/schemas/ChainInput"},"ruleEvaluation":{"$ref":"#/components/schemas/PolicyRuleEvaluation"},"minRules":{"type":"number","description":"Minimum number of rules that must be satisfied if `ruleEvaluation` is `SOME`"},"rules":{"type":"array","items":{"$ref":"#/components/schemas/PolicyRule"}}}},"PolicyRule":{"type":"object","properties":{"type":{"$ref":"#/components/schemas/PolicyRuleType"},"satisfiesRule":{"description":"A number that represents whether the rule is satisfied or not. A value of `0` means the rule should not be satisfied, whereas a value of `1` means the rule should be satisfied.","type":"number"},"data":{"oneOf":[{"$ref":"#/components/schemas/COLLECTION"},{"$ref":"#/components/schemas/NATIVE_TOKEN"},{"$ref":"#/components/schemas/ERC20"},{"$ref":"#/components/schemas/ALLOW_LIST"},{"$ref":"#/components/schemas/POAP"}]},"metadata":{"type":"object"}}},"COLLECTION":{"type":"object","properties":{"contractAddress":{"type":"string"},"tokenIds":{"type":"array","items":{"oneOf":[{"type":"number"},{"type":"string"}]}},"balance":{"type":"number"},"holdingTime":{"$ref":"#/components/schemas/HoldingTime"},"attributes":{"type":"array","items":{"$ref":"#/components/schemas/CollectionAttribute"}}}},"ERC20":{"type":"object","properties":{"contractAddress":{"type":"string"},"balance":{"type":"number"}}},"NATIVE_TOKEN":{"type":"object","properties":{"balance":{"type":"number"}}},"ALLOW_LIST":{"type":"object","properties":{"walletAddresses":{"type":"array","items":{"type":"string"}}}},"POAP":{"type":"object","properties":{"eventIds":{"type":"array","items":{"type":"number"}}}},"HoldingTime":{"type":"object","properties":{"unit":{"$ref":"#/components/schemas/HoldingTimeUnits"},"value":{"oneOf":[{"type":"number"},{"type":"string"}]}}},"CollectionAttribute":{"type":"object","properties":{"name":{"type":"string"},"values":{"type":"array","items":{"type":"string"}}}},"HoldingTimeUnits":{"type":"string","enum":["minutes","hours","days","weeks","months","years","since"]},"PolicyResponse":{"allOf":[{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}},{"$ref":"#/components/schemas/Policy"}]},"PolicyValidationPayload":{"allOf":[{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"valid":{"type":"boolean"},"verifiedBlockNumber":{"type":"number"}}},{"$ref":"#/components/schemas/Policy"}]},"PolicyValidationFailureReasons":{"type":"string","enum":["ALLOW_LIST_CONDITION_NOT_MET","ATTRIBUTES_CONDITION_NOT_MET","BALANCE_CONDITION_NOT_MET","HOLDING_TIME_CONDITION_NOT_MET","OWNERSHIP_REQUIREMENT_NOT_MET","RESTRICTED_TOKENS_CONDITION_NOT_MET"]},"PolicyValidationResponse":{"type":"array","items":{"allOf":[{"type":"object","properties":{"address":{"type":"string","format":"uuid"},"satisfiesAllPolicies":{"type":"boolean"},"policies":{"type":"array","items":{"allOf":[{"$ref":"#/components/schemas/PolicyValidationPayload"},{"type":"object","properties":{"rules":{"type":"array","items":{"allOf":[{"type":"object","properties":{"valid":{"type":"boolean"},"results":{"type":"object","properties":{"ruleViolation":{"$ref":"#/components/schemas/PolicyValidationFailureReasons"},"currentBalance":{"type":"number","description":"Current balance of the wallet"},"tokenChecks":{"type":"array","description":"Token checks performed if a list of token ids is provided","items":{"type":"object","properties":{"tokenId":{"type":"string"},"balance":{"type":"number"}}}}}}}},{"$ref":"#/components/schemas/PolicyRule"}]}}}}]}}}}]}},"ScanResult":{"allOf":[{"type":"object","properties":{"scanResult":{"type":"object","oneOf":[{"properties":{"valid":{"type":"boolean"},"nft":{"allOf":[{"$ref":"#/components/schemas/EVMNFT"},{"type":"object","properties":{"valid":{"type":"boolean","description":"`true` if the wallet is still in ownership of the NFT"}}}]}}},{"properties":{"valid":{"type":"boolean"},"policies":{"type":"array","items":{"allOf":[{"$ref":"#/components/schemas/PolicyValidationPayload"},{"type":"object","properties":{"rules":{"type":"array","items":{"allOf":[{"type":"object","properties":{"valid":{"type":"boolean"},"results":{"type":"object","properties":{"ruleViolation":{"$ref":"#/components/schemas/PolicyValidationFailureReasons"},"currentBalance":{"type":"number","description":"Current balance of the wallet"},"tokenChecks":{"type":"array","description":"Token checks performed if a list of token ids is provided","items":{"type":"object","properties":{"tokenId":{"type":"string"},"balance":{"type":"number"}}}}}}}}]}}}},{"$ref":"#/components/schemas/PolicyRule"}]}}}}]}}},{"$ref":"#/components/schemas/PassResponse"}]},"Location":{"type":"object","properties":{"relevantText":{"type":"string"},"altitude":{"type":"number"},"latitude":{"type":"number"},"longitude":{"type":"number"}},"required":["latitude","longitude"],"additionalProperties":false},"Semantics":{"type":"object","properties":{"airlineCode":{"type":"string"},"artistIDs":{"type":"array","items":{"type":"string"}},"awayTeamAbbreviation":{"type":"string"},"awayTeamLocation":{"type":"string"},"awayTeamName":{"type":"string"},"balance":{"$ref":"#/components/schemas/SemanticTagType.CurrencyAmount"},"boardingGroup":{"type":"string"},"boardingSequenceNumber":{"type":"string"},"carNumber":{"type":"string"},"confirmationNumber":{"type":"string"},"currentArrivalDate":{"type":"string"},"currentBoardingDate":{"type":"string"},"currentDepartureDate":{"type":"string"},"departureAirportCode":{"type":"string"},"departureAirportName":{"type":"string"},"departureGate":{"type":"string"},"departureLocation":{"$ref":"#/components/schemas/SemanticTagType.Location"},"departureLocationDescription":{"type":"string"},"departurePlatform":{"type":"string"},"departureStationName":{"type":"string"},"departureTerminal":{"type":"string"},"destinationAirportCode":{"type":"string"},"destinationAirportName":{"type":"string"},"destinationGate":{"type":"string"},"destinationLocation":{"$ref":"#/components/schemas/SemanticTagType.Location"},"destinationLocationDescription":{"type":"string"},"destinationPlatform":{"type":"string"},"destinationStationName":{"type":"string"},"destinationTerminal":{"type":"string"},"duration":{"type":"number"},"eventEndDate":{"type":"string"},"eventName":{"type":"string"},"eventStartDate":{"type":"string"},"eventType":{"type":"string","enum":["PKEventTypeGeneric","PKEventTypeLivePerformance","PKEventTypeMovie","PKEventTypeSports","PKEventTypeConference","PKEventTypeConvention","PKEventTypeWorkshop","PKEventTypeSocialGathering"]},"flightCode":{"type":"string"},"flightNumber":{"type":"number"},"genre":{"type":"string"},"homeTeamAbbreviation":{"type":"string"},"homeTeamLocation":{"type":"string"},"homeTeamName":{"type":"string"},"leagueAbbreviation":{"type":"string"},"leagueName":{"type":"string"},"membershipProgramName":{"type":"string"},"membershipProgramNumber":{"type":"string"},"originalArrivalDate":{"type":"string"},"originalBoardingDate":{"type":"string"},"originalDepartureDate":{"type":"string"},"passengerName":{"$ref":"#/components/schemas/SemanticTagType.PersonNameComponents"},"performerNames":{"type":"array","items":{"type":"string"}},"priorityStatus":{"type":"string"},"seats":{"type":"array","items":{"$ref":"#/components/schemas/SemanticTagType.Seat"}},"securityScreening":{"type":"string"},"silenceRequested":{"type":"boolean"},"sportName":{"type":"string"},"totalPrice":{"$ref":"#/components/schemas/SemanticTagType.CurrencyAmount"},"transitProvider":{"type":"string"},"transitStatus":{"type":"string"},"transitStatusReason":{"type":"string"},"vehicleName":{"type":"string"},"vehicleNumber":{"type":"string"},"vehicleType":{"type":"string"},"venueEntrance":{"type":"string"},"venueLocation":{"$ref":"#/components/schemas/SemanticTagType.Location"},"venueName":{"type":"string"},"venuePhoneNumber":{"type":"string"},"venueRoom":{"type":"string"},"wifiAccess":{"$ref":"#/components/schemas/SemanticTagType.WifiNetwork"}},"additionalProperties":false,"description":"Alphabetical order"},"SemanticTagType.CurrencyAmount":{"type":"object","properties":{"currencyCode":{"type":"string"},"amount":{"type":"string"}},"additionalProperties":false},"SemanticTagType.Location":{"type":"object","properties":{"latitude":{"type":"number"},"longitude":{"type":"number"}},"required":["latitude","longitude"],"additionalProperties":false},"SemanticTagType.PersonNameComponents":{"type":"object","properties":{"familyName":{"type":"string"},"givenName":{"type":"string"},"middleName":{"type":"string"},"namePrefix":{"type":"string"},"nameSuffix":{"type":"string"},"nickname":{"type":"string"},"phoneticRepresentation":{"type":"string"}},"additionalProperties":false},"SemanticTagType.Seat":{"type":"object","properties":{"seatSection":{"type":"string"},"seatRow":{"type":"string"},"seatNumber":{"type":"string"},"seatIdentifier":{"type":"string"},"seatType":{"type":"string"},"seatDescription":{"type":"string"}},"additionalProperties":false},"SemanticTagType.WifiNetwork":{"type":"object","properties":{"password":{"type":"string"},"ssid":{"type":"string"}},"required":["password","ssid"],"additionalProperties":false},"PassLayout":{"type":"object","properties":{"universal":{"$ref":"#/components/schemas/UniversalPass"},"apple":{"$ref":"#/components/schemas/UniversalPass"},"google":{"$ref":"#/components/schemas/UniversalPass"}}},"UniversalPass":{"type":"object","properties":{"logoText":{"type":"string"},"description":{"type":"string","description":"<small>Exclusive to Apple passes</small>"},"labelColor":{"type":"string","description":"<small>Exclusive to Apple passes</small>"},"foregroundColor":{"type":"string","description":"<small>Exclusive to Apple passes</small>"},"backgroundColor":{"type":"string"},"headerFields":{"type":"array","items":{"$ref":"#/components/schemas/UniversalField"}},"primaryFields":{"type":"array","items":{"$ref":"#/components/schemas/UniversalField"}},"secondaryFields":{"type":"array","items":{"$ref":"#/components/schemas/UniversalField"}},"auxiliaryFields":{"type":"array","items":{"$ref":"#/components/schemas/UniversalField"}},"backFields":{"type":"array","description":"<small>Exclusive to Apple passes</small>","items":{"$ref":"#/components/schemas/UniversalBackField"}}}},"UniversalField":{"type":"object","properties":{"alignment":{"$ref":"#/components/schemas/UniversalFieldAlignment"},"label":{"type":"string"},"value":{"type":"string"}}},"UniversalBackField":{"type":"object","properties":{"label":{"type":"string"},"value":{"type":"string"}}},"UniversalFieldAlignment":{"type":"string","enum":["left","middle","right"]}},"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"X-API-KEY"}}},"paths":{"/v0/passes":{"post":{"tags":["Passes"],"summary":"Create a new pass","description":"#### POST /v0/passes\n\nThis endpoint allows you to generate an Apple or Google pass based on specific wallet signatures.\n\nUsing this feature, you can create a digital representation of ownership or affiliation, similar to a digital card or pass, which can be added to a user's Apple Wallet or Google Pay. This pass can be created to represent various forms of ownership or involvement, such as the ownership of a wallet, possession of a particular NFT, or even attachment to one or multiple existing policies.\n","security":[{"ApiKeyAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PassInput"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Pass ID.","example":"f664196b-035a-454d-90c4-ab0adc107981"},"distribution":{"$ref":"#/components/schemas/DistributionPayload"}}},{"$ref":"#/components/schemas/PassResponse"}]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}}}}}},"401":{"description":"Unauthorized"}}},"get":{"tags":["Passes"],"summary":"Get all passes","description":"#### GET /v0/passes\n\nThis endpoint fetches a list of all passes associated with your project. Each pass represents an Apple or Google pass that has been generated for a specific wallet, NFT, or policy.\n\nTo tailor the response to your specific needs, you have the flexibility to filter the passes based on multiple parameters including scanning times, creation times, expiration status, chain type, network, owner`s wallet address, contract address, and token ID.\n\nThe endpoint also allows for sorting the results based on a specific field such as `id`, `ownerAddress`, `createdAt`, `lastScannedAt`, or `expiredAt`. The order of the results can be set to ascending or descending using the `asc` query parameter.\n\nYou can also manage the number of results returned with the `limit` parameter and skip certain results using the `offset` parameter. By default, the response will include a maximum of 50 passes.\n\nEach retrieved pass will contain comprehensive details including the ID, blockchain network, owner address, token ID, contract address, creation time, last scanned time, and expiration status.\n","parameters":[{"in":"query","name":"lastScannedStartTime","description":"Filter passes scanned on or after specified time <small><strong>(Unix timestamp in seconds)</strong></small>","schema":{"type":"number"}},{"in":"query","name":"lastScannedEndTime","description":"Filter passes scanned up to or before specified time <small><strong>(Unix timestamp in seconds)</strong></small>","schema":{"type":"number"}},{"in":"query","name":"createdStartTime","description":"Filter passes created on or after specified time <small><strong>(Unix timestamp in seconds)</strong></small>","schema":{"type":"number"}},{"in":"query","name":"createdEndTime","description":"Filter passes created up to or before specified time <small><strong>(Unix timestamp in seconds)</strong></small>","schema":{"type":"number"}},{"in":"query","name":"expired","description":"`0` Filter active passes <br/>`1` Filter expired passes","schema":{"type":"number"}},{"in":"query","name":"chain","description":"Filter passes by blockchain","schema":{"$ref":"#/components/schemas/Chains"}},{"in":"query","name":"network","description":"Filter passes by network","schema":{"$ref":"#/components/schemas/Network"}},{"in":"query","name":"ownerAddress","description":"Filter passes by owners wallet address","schema":{"type":"string"}},{"in":"query","name":"contractAddress","description":"Filter passes by contract address","schema":{"type":"string"}},{"in":"query","name":"tokenId","description":"Filter passes by token ID","schema":{"type":"string"}},{"in":"query","name":"policyIds","description":"Commaseparated list of policy IDs","schema":{"type":"string"}},{"in":"query","name":"orderBy","description":"Sort the results based on a field <br/><small><strong>Default:</strong> `createdAt`</small>","schema":{"type":"string","enum":["id","ownerAddress","createdAt","lastScannedAt","expiredAt"]}},{"in":"query","name":"asc","description":"The \"asc\" query parameter sorts database query results in ascending order when set to 1, and descending order when set to 0, and is typically used in conjunction with the \"orderBy\" parameter.","schema":{"type":"number","enum":["0","1"]}},{"in":"query","name":"limit","description":"Restrict the number of results returned.<br/><small><strong>Default:</strong> 50</small>","schema":{"type":"number"}},{"in":"query","name":"offset","description":"Skip a certain number of results and return the remaining results.","schema":{"type":"number"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"number"},"passes":{"type":"array","items":{"$ref":"#/components/schemas/PassResponse"}}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}}}}}},"401":{"description":"Unauthorized"}},"security":[{"ApiKeyAuth":[]}]}},"/v0/passes/{id}":{"get":{"tags":["Passes"],"summary":"Get a single pass","description":"#### GET /v0/passes/{id}\n\nThis endpoint enables you to fetch the details of a specific pass by its unique identifier (ID). The pass ID could either be obtained from the creation of the pass or by querying the endpoint GET /v0/passes.\n\nThe pass details returned will encompass all pertinent data regarding the pass, including the platform it pertains to (Apple or Google), associated blockchain network, owner's wallet address, token ID, contract address, creation time, last scanned time, and expiration status.\n\nTo delve into the pass's scan history, you have the option to include parameters `scanHistoryStartTime` and `scanHistoryEndTime``. These parameters help filter out barcode scans in the pass's history that occurred within the specified time range. The time is provided as a Unix timestamp in seconds.\n","operationId":"getPassById","parameters":[{"in":"path","name":"id","schema":{"type":"string"},"required":true,"description":"Pass ID or user provided `externalId`"},{"in":"query","name":"scanHistoryStartTime","description":"Include previous barcode scans starting from specified time <small><strong>(Unix timestamp in seconds)</strong></small>","schema":{"type":"number"}},{"in":"query","name":"scanHistoryEndTime","description":"Include previous barcode scans ending at specified time <small><strong>(Unix timestamp in seconds)</strong></small>","schema":{"type":"number"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PassResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}}}}}},"401":{"description":"Unauthorized"}},"security":[{"ApiKeyAuth":[]}]},"patch":{"tags":["Passes"],"summary":"Update a pass","description":"#### PATCH /v0/passes/{id}\n\nThis endpoint enables you to update specific fields of an existing pass for either Apple Wallet or Google Wallet. The pass ID, which is a mandatory parameter, helps identify the specific pass to be updated.\n\nYou can modify various pass details such as the encoded message in the barcode, custom images on your pass, or other aspects of the pass linked to Apple or Google platforms.\n\nMoreover, if you want to change the barcode information, you can provide the updated details in the request body following the BarcodeInput schema.\n\nChanges in pass details related to Apple Wallet or Google Wallet can also be made, guided by their respective schemas, i.e., PublicApplePass or PublicGooglePass.\n","parameters":[{"in":"path","name":"id","schema":{"type":"string"},"required":true,"description":"Pass ID or user provided `externalId`"}],"responses":{"200":{"description":"Success"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}}}}}},"401":{"description":"Unauthorized"}},"security":[{"ApiKeyAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"barcode":{"$ref":"#/components/schemas/BarcodeInput"},"image":{"type":"string","description":"You can display a custom image on your pass. **The file size of the image should not exceed 2MB, and it should be in one of the following formats. (.png, .jpg, .webp, .svg, .gif, .tiff)**\n","example":"https://ipfs.io/ipfs/QmYyXcVMgny4BJYiaUyTU46HX7seFNgnvte2eoL2fN2PXf"},"pass":{"anyOf":[{"$ref":"#/components/schemas/PublicApplePass"},{"$ref":"#/components/schemas/PublicGooglePass"}]}}}}}}},"delete":{"tags":["Passes"],"summary":"Invalidate a pass","description":"#### DELETE /v0/passes/{id}\n\nThis endpoint invalidates a pass associated with the provided ID. Upon executing this operation, the pass will be removed from the user's Apple Wallet or Google Wallet, thereby preventing any further use. Please note that once a pass is invalidated, it cannot be reinstated; a new pass must be generated if required.\n\n> **Note:** A new API endpoint will be released soon, which will provide the functionality to reinstate an existing pass if required.\n\nIt's crucial to understand that invalidating a pass does not result in the deletion of its record from the database. Rather, it simply modifies the status of the pass to inactive, indicating that the pass is no longer in use.\n","operationId":"deletePassById","parameters":[{"in":"path","name":"id","schema":{"type":"string"},"required":true,"description":"Pass ID or user provided `externalId`"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PassResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}}}}}},"401":{"description":"Unauthorized"}},"security":[{"ApiKeyAuth":[]}]}},"/v0/passes/{id}/distribute":{"get":{"tags":["Passes"],"summary":"Redistribute a pass","description":"#### GET /v0/passes/{id}/distribute\n\nThis endpoint facilitates the redistribution of a pass, meaning it allows for the retrieval of a specific Apple Wallet or Google Wallet pass URL. Users can access this URL to download their respective passes.\n\nThe mandatory parameter is the pass ID or the user-provided `externalId`. It uniquely identifies the specific pass you want to redistribute.\n\nUpon success, the response will include the file URL from where the user can download their pass. For Apple passes, an additional file buffer will be returned.\n\nRedistributing a pass is particularly useful in cases where a pass needs to be reissued, if there is an update in the pass details, or if the user misplaced the initial pass. This helps maintain access to the services associated with the pass without any disruptions.\n\n> **Note:** Distribution links are designed to expire automatically 48 hours after they are first accessed as a security measure. Additionally, any pre-existing distribution links will automatically expire upon the creation of a new link for the same pass.\n","operationId":"getPassDistributionById","parameters":[{"in":"path","name":"id","schema":{"type":"string"},"required":true,"description":"Pass ID or user provided `externalId`"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"distribution":{"$ref":"#/components/schemas/DistributionPayload"}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}}}}}},"401":{"description":"Unauthorized"}},"security":[{"ApiKeyAuth":[]}]}},"/v0/scan":{"get":{"tags":["Scan"],"summary":"Scan a pass","description":"#### GET /v0/scan\n\nVerify ownership of a token by scanning the barcode on a pass. ethpass will once again read the on-chain owner of the token linked to the pass, and return a successful response if the ownership is accurate.\n\n[See our tips on scanning QR codes.](https://docs.ethpass.xyz/guides/passes/scan-pass)\n","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScanResult"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}}}}}},"401":{"description":"Unauthorized"}},"security":[{"ApiKeyAuth":[]}],"parameters":[{"in":"query","name":"data","required":true,"schema":{"type":"string","description":"Barcode value extracted from scan"}},{"in":"query","name":"dryRun","schema":{"type":"boolean","default":false,"description":"With this parameter set to true, the API will scan a pass and return the extracted information, but it will not be recorded as a valid scan in the database."}}]}},"/v0/policies":{"post":{"tags":["Policies"],"summary":"Create a new policy","description":"#### POST /v0/policies\n\nThis endpoint allows you to create a new policy within your project.\n\nA policy includes attributes such as the policy name, the chain on which it operates, the rule evaluation method, the minimum number of rules required, and the specific array of rules applicable to that policy.\n","operationId":"createPolicy","security":[{"ApiKeyAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Policy"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicyResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}}}}}},"401":{"description":"Unauthorized"}}},"get":{"tags":["Policies"],"summary":"Get all policies","description":"#### GET /v0/policies\n\nThis endpoint provides a comprehensive list of all policies that have been created in your project.\n\nEach policy retrieved will include detailed attributes such as the policy name, the type of chain it operates on, the rule evaluation criteria, the minimum number of rules required, and an array of associated rules.\n","operationId":"getPolicies","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"number"},"policies":{"type":"array","items":{"$ref":"#/components/schemas/PolicyResponse"}}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}}}}}},"401":{"description":"Unauthorized"}},"security":[{"ApiKeyAuth":[]}]}},"/v0/policies/{id}":{"get":{"tags":["Policies"],"summary":"Get a single policy","description":"#### GET /v0/policies/{id}\n\nThis endpoint retrieves detailed information for a specific policy that has been created within your project.\n\nThe retrieved policy includes an array of comprehensive attributes, such as the policy name, the type of chain it operates on, the rule evaluation method, the minimum number of rules required, and an extensive list of associated rules.\n","operationId":"getPolicyById","parameters":[{"in":"path","name":"id","schema":{"type":"string"},"required":true,"description":"Policy ID"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicyResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}}}}}},"401":{"description":"Unauthorized"}},"security":[{"ApiKeyAuth":[]}]},"patch":{"tags":["Policies"],"summary":"Update a policy","description":"#### PATCH /v0/policies/{id}\n\nThis endpoint allows you to update the details of an existing policy within your project.\n\nUpdating a policy entails modifying the existing attributes such as the policy name, the type of chain it operates on, the rule evaluation method, the minimum number of rules required, and the specific set of associated rules.\n","operationId":"patchPolicyId","parameters":[{"in":"path","name":"id","schema":{"type":"string"},"required":true,"description":"Policy ID"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicyResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}}}}}},"401":{"description":"Unauthorized"}},"security":[{"ApiKeyAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Policy"}}}}},"delete":{"tags":["Policies"],"summary":"Delete a policy","description":"#### DELETE /v0/policies/{id}\n\nThis endpoint enables you to delete a specific policy associated with your project.\n\nDeleting a policy involves the removal of the existing set of rules and parameters. This action is generally taken when a policy is no longer necessary or relevant to your project's current requirements or operational strategy.\n","operationId":"deletePolicyId","parameters":[{"in":"path","name":"id","schema":{"type":"string"},"required":true,"description":"Policy ID"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicyResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}}}}}},"401":{"description":"Unauthorized"}},"security":[{"ApiKeyAuth":[]}]}},"/v0/policies/validate":{"get":{"tags":["Policies"],"summary":"Verify Policies","operationId":"verifyPolicies","description":"This endpoint verifies provided policies against the provided wallet addresses. Each policy object includes its identifier, validation status, and an array of rules. These rules contain their respective identifier, type, satisfaction status, and associated data.\n\nThe endpoint processes each address and policy pair, checking if the conditions of each policy rule are met. If a policy is invalid (for instance, if a rule within the policy is not satisfied), it returns a detailed error message indicating the policy ID and the reason for its failure. In the case of any other error during the execution, an appropriate error message is returned.\n\nThe successful response includes the same array of wallet addresses and policies, but each policy now also includes a `satisfiesAllPolicies` boolean indicating if all its rules were satisfied. Additionally, each rule in a policy includes a 'valid' boolean showing if the rule was satisfied, and a 'results' object containing the outcomes of the rule validation.\n","security":[{"ApiKeyAuth":[]}],"parameters":[{"in":"query","name":"policyIds","schema":{"type":"string"},"required":true,"description":"Comma separated string of policy IDs to be verified."},{"in":"query","name":"walletAddresses","schema":{"type":"string"},"required":true,"description":"Comma separated string of wallet addresses to be verified against the policies."}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","description":"The response is a JSON object of the result of the verification process.","$ref":"#/components/schemas/PolicyValidationResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"An error message indicating what went wrong."}}}}}},"401":{"description":"Unauthorized"}}}},"/v0/project":{"get":{"tags":["Project"],"summary":"Get project information","description":"#### GET /v0/project\n\nThis endpoint fetches details for a specific project tied to your account. The data retrieved includes the unique identifier (id) of the project, which follows the universally unique identifier (UUID) format. It also provides the name of the project, which can be used to easily identify the project across various platforms or interfaces.\n\nIn addition, the project's associated timezone is returned. This can be essential for understanding and scheduling time-sensitive operations related to the project.\n\nLastly, the `keyCreated` boolean value indicates whether a key has been created for the project. This piece of information can be vital for determining the project's readiness for certain operations and integrations that may require a project key.\n","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"timezone":{"type":"string"},"keyCreated":{"type":"boolean"}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}}}}}},"401":{"description":"Unauthorized"}},"security":[{"ApiKeyAuth":[]}]}},"/v0/project/stats":{"get":{"tags":["Project"],"summary":"Get project stats","description":"#### GET /v0/project\n\nThis endpoint retrieves a comprehensive set of statistical data tied to a specific project. The statistics include the total number of passes and scan counts, as well as a detailed breakdown of platform-specific metrics for Apple and Google. These platform metrics include the total number, registered, and expired counts.\n\nFurthermore, this endpoint also provides an array of recent activities, encapsulating key information such as the platform, chain, owner address, network, timestamps of creation, expiry and last scan, as well as data on scans and registrations. It also provides action details and timestamps.\n","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"stats":{"type":"object","properties":{"totalPasses":{"type":"integer"},"totalScanCount":{"type":"integer"},"apple":{"type":"object","properties":{"total":{"type":"integer"},"registered":{"type":"integer"},"expired":{"type":"integer"}}},"google":{"type":"object","properties":{"total":{"type":"integer"},"registered":{"type":"integer"},"expired":{"type":"integer"}}}}},"recentActivity":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"chain":{"type":"string"},"ownerAddress":{"type":"string"},"network":{"type":"string"},"expiredAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"lastScannedAt":{"type":"string","format":"date-time"},"registrations":{"type":"array","items":{}},"scans":{"type":"object","additionalProperties":{"oneOf":[{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"createdAt":{"type":"string","format":"date-time"},"pass":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}}}}},{"type":"integer"}]},"properties":{"total":{"type":"integer"}}},"action":{"type":"string"},"timestamp":{"type":"integer"}}}}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}}}}}},"401":{"description":"Unauthorized"}},"security":[{"ApiKeyAuth":[]}]}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}