{"openapi":"3.0.0","info":{"title":"Server to server API","version":"1.0.0"},"servers":[{"url":"https://api.moonpay.com"}],"components":{"securitySchemes":{"apiKey":{"type":"apiKey","name":"Authorization","in":"header"}}},"tags":[{"name":"Buy transactions"},{"name":"Customers"},{"name":"Sell transactions"}],"paths":{"/v1/transactions":{"get":{"tags":["Buy transactions"],"summary":"List Buy transactions","description":"Returns an array of successful Buy transactions which fulfill criteria supplied in the query parameters. Each entry in the array is a separate transaction object. Transactions will be listed from newest to oldest.","security":[{"apiKey":[]}],"parameters":[{"name":"query","in":"query","style":"form","explode":true,"required":true,"schema":{"type":"object","properties":{"externalTransactionId":{"type":"string","example":"123","description":"An identifier associated with a transaction, provided by you."},"customerId":{"type":"string","example":"123","description":"Unique identifier for a customer."},"externalCustomerId":{"type":"string","example":"123","description":"An identifier associated with a customer, provided by you. `customerId` filter takes precedence over `externalCustomerId`."},"startDate":{"type":"string","example":"2023-07-01","description":"The earliest date on which transactions should have been made. Format is YYYY-MM-DD."},"endDate":{"type":"string","example":"2023-07-31","description":"The most recent date on which transactions should have been made. Format is YYYY-MM-DD."},"limit":{"type":"integer","example":20,"description":"A positive integer representing the maximum number of transaction objects to be returned. Default is <span class=\"value\">10</span>, minimum is <span class=\"value\">1</span> and maximum is <span class=\"value\">50</span>."},"offset":{"type":"integer","example":1,"description":"A positive integer representing the number of transaction objects to skip before returning the list. An offset of <span class=\"value\">1</span> means the list will start with the second-newest transaction."}}}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","description":"The response object (to be documented)."}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"A descriptive error message."},"type":{"type":"string","description":"An error type."}}}}}}}}},"/v1/customers/{customerId}":{"get":{"tags":["Customers"],"summary":"Get customer","description":"Returns very basic information about a customer based on their MoonPay ID. For you to be able to retrieve a customer, they must have at least one session initiated with your `Api-Key`.","security":[{"apiKey":[]}],"parameters":[{"name":"customerId","in":"path","schema":{"type":"string"},"example":"123","description":"A valid customer ID.","required":true}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","description":"The response object (to be documented)."}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"A descriptive error message."},"type":{"type":"string","description":"An error type."}}}}}}}}},"/v1/customers/ext/{customerId}":{"get":{"tags":["Customers"],"summary":"Get customer by external ID","description":"Returns very basic information about a customer based on their external customer ID. For you to be able to retrieve a customer, they must have at least one session initiated with your `API-Key`. Please note that this endpoint returns an array of objects because we cannot ensure the uniqueness of the external customer ID.","security":[{"apiKey":[]}],"parameters":[{"name":"customerId","in":"path","schema":{"type":"string"},"example":"123","description":"A valid external customer ID.","required":true}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","description":"The response object (to be documented)."}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"A descriptive error message."},"type":{"type":"string","description":"An error type."}}}}}}}}},"/v3/sell_transactions":{"get":{"tags":["Sell transactions"],"summary":"List Sell transactions","description":"Returns an array of successful Sell transactions which fulfill criteria supplied in the query parameters. Each entry in the array is a separate transaction object. Transactions will be listed from newest to oldest. This call will return an error if `customerId` is not supplied in the query parameters.","security":[{"apiKey":[]}],"parameters":[{"name":"query","in":"query","style":"form","explode":true,"required":true,"schema":{"type":"object","properties":{"externalTransactionId":{"type":"string","example":"123","description":"An identifier associated with a transaction, provided by you."},"customerId":{"type":"string","example":"123","description":"Unique identifier for a customer."},"externalCustomerId":{"type":"string","example":"123","description":"An identifier associated with a customer, provided by you. `customerId` filter takes precedence over `externalCustomerId`."},"startDate":{"type":"string","example":"2023-07-01","description":"The earliest date on which transactions should have been made. Format is YYYY-MM-DD."},"endDate":{"type":"string","example":"2023-07-31","description":"The most recent date on which transactions should have been made. Format is YYYY-MM-DD."},"limit":{"type":"integer","example":20,"description":"A positive integer representing the maximum number of transaction objects to be returned. Default is <span class=\"value\">10</span>, minimum is <span class=\"value\">1</span> and maximum is <span class=\"value\">50</span>."},"offset":{"type":"integer","example":1,"description":"A positive integer representing the number of transaction objects to skip before returning the list. An offset of <span class=\"value\">1</span> means the list will start with the second-newest transaction."}}}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","description":"The response object (to be documented)."}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"A descriptive error message."},"type":{"type":"string","description":"An error type."}}}}}}}}},"/v3/sell_transactions/{transactionId}":{"delete":{"tags":["Sell transactions"],"summary":"Cancel Sell transaction","description":"Cancels a sell transaction. This endpoint will return HTTP status <span class=\"value\">204 No Content</span> if the sell transaction was successfully canceled. If sell transaction could not be canceled (e.g. because it has already been completed) it will return HTTP status <span class=\"value\">409 Conflict</span>.","security":[{"apiKey":[]}],"parameters":[{"name":"transactionId","in":"path","schema":{"type":"string"},"example":"123","description":"A valid Sell transaction ID.","required":true}],"responses":{"204":{"description":"Successful response","content":{"application/json":{}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"A descriptive error message."},"type":{"type":"string","description":"An error type."}}}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"A descriptive error message."},"type":{"type":"string","description":"An error type."}}}}}}}}},"/v3/sell_transactions/ext/{transactionId}":{"delete":{"tags":["Sell transactions"],"summary":"Cancel Sell transaction by external ID","description":"Cancels a sell transaction based on their external transaction ID. This endpoint will return HTTP status <span class=\"value\">204 No Content</span> if the sell transaction was successfully canceled. If sell transaction could not be canceled (e.g. because it has already been completed) it will return HTTP status <span class=\"value\">409 Conflict</span>.","security":[{"apiKey":[]}],"parameters":[{"name":"transactionId","in":"path","schema":{"type":"string"},"example":"123","description":"A valid Sell transaction ID.","required":true}],"responses":{"204":{"description":"Successful response","content":{"application/json":{}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"A descriptive error message."},"type":{"type":"string","description":"An error type."}}}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"A descriptive error message."},"type":{"type":"string","description":"An error type."}}}}}}}}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}