{
  "openapi": "3.0.1",
  "info": {
    "title": "PayPal eComm API",
    "description": "PayPal eComm APIs",
    "version": "1.6.0"
  },
  "servers": [
    {
      "url": "https://emea.gsc.verifone.cloud/oidc/paypal-ecom",
      "description": "EMEA Production"
    },
    {
      "url": "https://us.gsc.verifone.cloud/oidc/paypal-ecom",
      "description": "Americas Production"
    },
    {
      "url": "https://nz.gsc.verifone.cloud/oidc/paypal-ecom",
      "description": "New Zealand and Australia"
    },
    {
      "url": "https://cst.test-gsc.vfims.com/oidc/paypal-ecom",
      "description": "Global Sandbox"
    },
    {
      "url": "https://uscst.gb.gsc.cficloud/oidc/paypal-ecom",
      "description": "Americas Sandbox"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [],
  "paths": {
    "/transactions": {
      "post": {
        "tags": ["Transactions"],
        "summary": "Create transaction",
        "operationId": "postTransactions",
        "parameters": [
          {
            "name": "paypalFraudId",
            "in": "header",
            "description": "PayPal Fraud Id",
            "schema": {
              "type": "string",
              "x-format": {
                "guid": true
              }
            },
            "x-format": {
              "guid": true
            }
          },
          {
            "name": "x-vfi-api-idempotencyKey",
            "in": "header",
            "description": "A value you specify that uniquely identifies the transaction. If you're unsure whether a particular transaction succeeded, you can reattempt it with the same idempotency key without worrying about duplicating the transaction. <br/><b>Required</b> when billingAgreementId is passed in the payload",
            "schema": {
              "type": "string",
              "x-format": {
                "guid": true
              }
            },
            "x-format": {
              "guid": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/Model26"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model28"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/transactions/{id}": {
      "patch": {
        "tags": ["Transactions"],
        "summary": "Update transaction",
        "operationId": "patchTransactionsId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Transaction UUID from create transaction API",
            "required": true,
            "schema": {
              "type": "string",
              "x-format": {
                "guid": true
              }
            },
            "x-format": {
              "guid": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/updateTransaction"
              }
            }
          },
          "required": false
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/transactions/risk/context": {
      "post": {
        "tags": ["Transactions"],
        "summary": "Set transaction context",
        "operationId": "postTransactionsRiskContext",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/Model44"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model45"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/transactions/{id}/void": {
      "post": {
        "tags": ["Transactions"],
        "summary": "Cancel authorisation",
        "operationId": "postTransactionsIdVoid",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Transaction UUID from create transaction API",
            "required": true,
            "schema": {
              "type": "string",
              "x-format": {
                "guid": true
              }
            },
            "x-format": {
              "guid": true
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/{id}/authorize": {
      "post": {
        "tags": ["Transactions"],
        "summary": "Authorize transaction",
        "operationId": "postTransactionsIdAuthorize",
        "parameters": [
          {
            "name": "paypalFraudId",
            "in": "header",
            "description": "PayPal Fraud Id",
            "schema": {
              "type": "string",
              "x-format": {
                "guid": true
              }
            },
            "x-format": {
              "guid": true
            }
          },
          {
            "name": "x-vfi-api-idempotencyKey",
            "in": "header",
            "description": "A value you specify that uniquely identifies the transaction. If you're unsure whether a particular transaction succeeded, you can reattempt it with the same idempotency key without worrying about duplicating the transaction.",
            "schema": {
              "type": "string",
              "x-format": {
                "guid": true
              }
            },
            "x-format": {
              "guid": true
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Transaction UUID from create transaction API",
            "required": true,
            "schema": {
              "type": "string",
              "x-format": {
                "guid": true
              }
            },
            "x-format": {
              "guid": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/Model46"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model47"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/transactions/{id}/capture": {
      "post": {
        "tags": ["Transactions"],
        "summary": "Capture transaction",
        "operationId": "postTransactionsIdCapture",
        "parameters": [
          {
            "name": "paypalFraudId",
            "in": "header",
            "description": "PayPal Fraud Id",
            "schema": {
              "type": "string",
              "x-format": {
                "guid": true
              }
            },
            "x-format": {
              "guid": true
            }
          },
          {
            "name": "x-vfi-api-idempotencyKey",
            "in": "header",
            "description": "A value you specify that uniquely identifies the transaction. If you're unsure whether a particular transaction succeeded, you can reattempt it with the same idempotency key without worrying about duplicating the transaction.",
            "schema": {
              "type": "string",
              "x-format": {
                "guid": true
              }
            },
            "x-format": {
              "guid": true
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Transaction UUID from create transaction API",
            "required": true,
            "schema": {
              "type": "string",
              "x-format": {
                "guid": true
              }
            },
            "x-format": {
              "guid": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/Model49"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model50"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/transactions/{id}/refund": {
      "post": {
        "tags": ["Transactions"],
        "summary": "Refund transaction",
        "operationId": "postTransactionsIdRefund",
        "parameters": [
          {
            "name": "x-vfi-api-idempotencyKey",
            "in": "header",
            "description": "A value you specify that uniquely identifies the transaction. If you're unsure whether a particular transaction succeeded, you can reattempt it with the same idempotency key without worrying about duplicating the transaction.",
            "schema": {
              "type": "string",
              "x-format": {
                "guid": true
              }
            },
            "x-format": {
              "guid": true
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Transaction UUID from create transaction API",
            "required": true,
            "schema": {
              "type": "string",
              "x-format": {
                "guid": true
              }
            },
            "x-format": {
              "guid": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/Model52"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model53"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/billingAgreement/{agreementId}": {
      "get": {
        "tags": ["Billing Agreement"],
        "summary": "Get agreement details",
        "operationId": "getBillingagreementAgreementid",
        "parameters": [
          {
            "name": "agreementId",
            "in": "path",
            "description": "PayPal billing agreement id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paymentProviderContract",
            "in": "query",
            "description": "PayPal Payment Provider Contract UUID",
            "required": true,
            "schema": {
              "type": "string",
              "x-format": {
                "guid": true
              }
            },
            "x-format": {
              "guid": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model8"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          }
        }
      }
    },
    "/billingAgreement/token/{tokenId}": {
      "get": {
        "tags": ["Billing Agreement"],
        "summary": "Show token details",
        "operationId": "getBillingagreementTokenTokenid",
        "parameters": [
          {
            "name": "tokenId",
            "in": "path",
            "description": "The ID of the agreement token for which to show details.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paymentProviderContract",
            "in": "query",
            "description": "PayPal Payment Provider Contract UUID",
            "required": true,
            "schema": {
              "type": "string",
              "x-format": {
                "guid": true
              }
            },
            "x-format": {
              "guid": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model17"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          }
        }
      }
    },
    "/billingAgreement/create": {
      "post": {
        "tags": ["Billing Agreement"],
        "summary": "Create billing agreement using token",
        "operationId": "postBillingagreementCreate",
        "parameters": [
          {
            "name": "x-vfi-api-idempotencyKey",
            "in": "header",
            "description": "A value you specify that uniquely identifies the transaction. If you're unsure whether a particular transaction succeeded, you can reattempt it with the same idempotency key without worrying about duplicating the transaction.",
            "schema": {
              "type": "string",
              "x-format": {
                "guid": true
              }
            },
            "x-format": {
              "guid": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/Model29"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model30"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/billingAgreement/initiate": {
      "post": {
        "tags": ["Billing Agreement"],
        "summary": "Initiate billing agreement",
        "operationId": "postBillingagreementInitiate",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/Model32"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model33"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/billingAgreement/{agreementId}/cancel": {
      "post": {
        "tags": ["Billing Agreement"],
        "summary": "Cancel agreement details",
        "operationId": "postBillingagreementAgreementidCancel",
        "parameters": [
          {
            "name": "agreementId",
            "in": "path",
            "description": "PayPal billing agreement id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/Model38"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/products": {
      "get": {
        "tags": ["Products"],
        "summary": "List products",
        "operationId": "getProducts",
        "parameters": [
          {
            "name": "paymentProviderContract",
            "in": "query",
            "description": "PayPal Payment Provider Contract UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of items to return in the response.",
            "schema": {
              "maximum": 20,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "A non-zero integer which is the start index of the entire list of items that are returned in the response. So, the combination of page=1 and page_size=20 returns the first 20 items. The combination of page=2 and page_size=20 returns the next 20 items.",
            "schema": {
              "maximum": 100000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "totalRequired",
            "in": "query",
            "description": "Indicates whether to show the total items and total pages in the response.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model7"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Products"],
        "summary": "Create product",
        "operationId": "postProducts",
        "parameters": [
          {
            "name": "x-vfi-api-idempotencyKey",
            "in": "header",
            "description": "A value you specify that uniquely identifies the transaction. If you're unsure whether a particular transaction succeeded, you can reattempt it with the same idempotency key without worrying about duplicating the transaction.",
            "schema": {
              "type": "string",
              "x-format": {
                "guid": true
              }
            },
            "x-format": {
              "guid": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/Model18"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model10"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/products/{id}": {
      "get": {
        "tags": ["Products"],
        "summary": "Get product details",
        "operationId": "getProductsId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The product ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paymentProviderContract",
            "in": "query",
            "description": "PayPal Payment Provider Contract UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model10"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Products"],
        "summary": "Update product",
        "operationId": "patchProductsId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The product ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/Model54"
              }
            }
          },
          "required": false
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/billingPlans": {
      "get": {
        "tags": ["Billing Plans"],
        "summary": "List billing plans",
        "operationId": "getBillingplans",
        "parameters": [
          {
            "name": "paymentProviderContract",
            "in": "query",
            "description": "PayPal Payment Provider Contract UUID",
            "required": true,
            "schema": {
              "type": "string",
              "x-format": {
                "guid": true
              }
            },
            "x-format": {
              "guid": true
            }
          },
          {
            "name": "productId",
            "in": "query",
            "description": "Filters the response by a Product ID.",
            "schema": {
              "maxLength": 50,
              "minLength": 6,
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Filters the response by list of plan IDs.",
            "schema": {
              "maxLength": 270,
              "minLength": 6,
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of items to return in the response.",
            "schema": {
              "maximum": 20,
              "minimum": 1,
              "type": "number"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "A non-zero integer which is the start index of the entire list of items to return in the response.",
            "schema": {
              "maximum": 100000,
              "minimum": 1,
              "type": "number"
            }
          },
          {
            "name": "totalRequired",
            "in": "query",
            "description": "Indicates whether to show the total count in the response.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model4"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          }
        }
      }
    },
    "/billingPlans/{planId}/activate": {
      "put": {
        "tags": ["Billing Plans"],
        "summary": "Activate billing plans",
        "operationId": "putBillingplansPlanidActivate",
        "parameters": [
          {
            "name": "planId",
            "in": "path",
            "description": "PayPal billing plan Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/Model38"
              }
            }
          },
          "required": false
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/billingPlans/{planId}/deactivate": {
      "put": {
        "tags": ["Billing Plans"],
        "summary": "Deactivate billing plans",
        "operationId": "putBillingplansPlanidDeactivate",
        "parameters": [
          {
            "name": "planId",
            "in": "path",
            "description": "PayPal billing plan Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/Model38"
              }
            }
          },
          "required": false
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "bod"
      }
    },
    "/billingPlans/{planId}": {
      "get": {
        "tags": ["Billing Plans"],
        "summary": "Get billing plan",
        "operationId": "getBillingplansPlanid",
        "parameters": [
          {
            "name": "planId",
            "in": "path",
            "description": "PayPal billing plan Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paymentProviderContract",
            "in": "query",
            "description": "PayPal Payment Provider Contract UUID",
            "required": true,
            "schema": {
              "type": "string",
              "x-format": {
                "guid": true
              }
            },
            "x-format": {
              "guid": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model9"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Billing Plans"],
        "summary": "Update billing plans",
        "operationId": "putBillingplansPlanid",
        "parameters": [
          {
            "name": "planId",
            "in": "path",
            "description": "PayPal billing plan Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/Model61"
              }
            }
          },
          "required": false
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/billingPlans/create": {
      "post": {
        "tags": ["Billing Plans"],
        "summary": "Create billing plan",
        "operationId": "postBillingplansCreate",
        "parameters": [
          {
            "name": "x-vfi-api-idempotencyKey",
            "in": "header",
            "description": "A value you specify that uniquely identifies the transaction. If you're unsure whether a particular transaction succeeded, you can reattempt it with the same idempotency key without worrying about duplicating the transaction.",
            "schema": {
              "type": "string",
              "x-format": {
                "guid": true
              }
            },
            "x-format": {
              "guid": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/Model36"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model37"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/subscriptions": {
      "post": {
        "tags": ["Subscriptions"],
        "summary": "Create subscription",
        "operationId": "postSubscriptions",
        "parameters": [
          {
            "name": "x-vfi-api-idempotencyKey",
            "in": "header",
            "description": "A value you specify that uniquely identifies the transaction. If you're unsure whether a particular transaction succeeded, you can reattempt it with the same idempotency key without worrying about duplicating the transaction.",
            "schema": {
              "type": "string",
              "x-format": {
                "guid": true
              }
            },
            "x-format": {
              "guid": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/Model20"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model21"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/subscriptions/{id}": {
      "get": {
        "tags": ["Subscriptions"],
        "summary": "Subscription Details",
        "operationId": "getSubscriptionsId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paymentProviderContract",
            "in": "query",
            "description": "PayPal Payment Provider Contract UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model16"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Subscriptions"],
        "summary": "Update subscription",
        "operationId": "patchSubscriptionsId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/Model59"
              }
            }
          },
          "required": false
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/subscriptions/{id}/revise": {
      "post": {
        "tags": ["Subscriptions"],
        "summary": "Revise subscription",
        "operationId": "postSubscriptionsIdRevise",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/Model39"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/subscriptions/{id}/cancel": {
      "post": {
        "tags": ["Subscriptions"],
        "summary": "Cancel subscription",
        "operationId": "postSubscriptionsIdCancel",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/Model40"
              }
            }
          },
          "required": false
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/subscriptions/{id}/capture": {
      "post": {
        "tags": ["Subscriptions"],
        "summary": "Capture authorized payment on subscription",
        "operationId": "postSubscriptionsIdCapture",
        "parameters": [
          {
            "name": "x-vfi-api-idempotencyKey",
            "in": "header",
            "description": "A value you specify that uniquely identifies the transaction. If you're unsure whether a particular transaction succeeded, you can reattempt it with the same idempotency key without worrying about duplicating the transaction.",
            "schema": {
              "type": "string",
              "x-format": {
                "guid": true
              }
            },
            "x-format": {
              "guid": true
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/Model41"
              }
            }
          },
          "required": false
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/subscriptions/{id}/activate": {
      "post": {
        "tags": ["Subscriptions"],
        "summary": "Activate subscription",
        "operationId": "postSubscriptionsIdActivate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/Model42"
              }
            }
          },
          "required": false
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/subscriptions/{id}/suspend": {
      "post": {
        "tags": ["Subscriptions"],
        "summary": "Suspend subscription",
        "operationId": "postSubscriptionsIdSuspend",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/Model43"
              }
            }
          },
          "required": false
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model5"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "type": "http"
      }
    },
    "schemas": {
      "fixedPrice": {
        "required": ["currencyCode", "value"],
        "type": "object",
        "properties": {
          "currencyCode": {
            "maxLength": 3,
            "minLength": 3,
            "type": "string",
            "description": "Currency code (ISO-4217)",
            "example": "EUR",
            "enum": [
              "AED",
              "AFN",
              "ALL",
              "AMD",
              "ANG",
              "AOA",
              "ARS",
              "AUD",
              "AWG",
              "AZN",
              "BAM",
              "BBD",
              "BDT",
              "BGN",
              "BHD",
              "BIF",
              "BMD",
              "BND",
              "BOB",
              "BOV",
              "BRL",
              "BSD",
              "BTN",
              "BWP",
              "BYN",
              "BZD",
              "CAD",
              "CDF",
              "CHE",
              "CHF",
              "CHW",
              "CLF",
              "CLP",
              "CNY",
              "COP",
              "COU",
              "CRC",
              "CUC",
              "CUP",
              "CVE",
              "CZK",
              "DJF",
              "DKK",
              "DOP",
              "DZD",
              "EGP",
              "ERN",
              "ETB",
              "EUR",
              "FJD",
              "FKP",
              "GBP",
              "GEL",
              "GHS",
              "GIP",
              "GMD",
              "GNF",
              "GTQ",
              "GYD",
              "HKD",
              "HNL",
              "HRK",
              "HTG",
              "HUF",
              "IDR",
              "ILS",
              "INR",
              "IQD",
              "IRR",
              "ISK",
              "JMD",
              "JOD",
              "JPY",
              "KES",
              "KGS",
              "KHR",
              "KMF",
              "KPW",
              "KRW",
              "KWD",
              "KYD",
              "KZT",
              "LAK",
              "LBP",
              "LKR",
              "LRD",
              "LSL",
              "LYD",
              "MAD",
              "MDL",
              "MGA",
              "MKD",
              "MMK",
              "MNT",
              "MOP",
              "MRU",
              "MUR",
              "MVR",
              "MWK",
              "MXN",
              "MXV",
              "MYR",
              "MZN",
              "NAD",
              "NGN",
              "NIO",
              "NOK",
              "NPR",
              "NZD",
              "OMR",
              "PAB",
              "PEN",
              "PGK",
              "PHP",
              "PKR",
              "PLN",
              "PYG",
              "QAR",
              "RON",
              "RSD",
              "RUB",
              "RWF",
              "SAR",
              "SBD",
              "SCR",
              "SDG",
              "SEK",
              "SGD",
              "SHP",
              "SLL",
              "SOS",
              "SRD",
              "SSP",
              "STN",
              "SVC",
              "SYP",
              "SZL",
              "THB",
              "TJS",
              "TMT",
              "TND",
              "TOP",
              "TRY",
              "TTD",
              "TWD",
              "TZS",
              "UAH",
              "UGX",
              "USD",
              "USN",
              "UYI",
              "UYU",
              "UYW",
              "UZS",
              "VES",
              "VND",
              "VUV",
              "WST",
              "XAF",
              "XAG",
              "XAU",
              "XBA",
              "XBB",
              "XBC",
              "XBD",
              "XCD",
              "XDR",
              "XOF",
              "XPD",
              "XPF",
              "XPT",
              "XSU",
              "XTS",
              "XUA",
              "XXX",
              "YER",
              "ZAR",
              "ZMW",
              "ZWL"
            ]
          },
          "value": {
            "type": "integer",
            "description": "Integer amount value (100 is 1.00)",
            "example": 100,
            "x-constraint": {
              "greater": 0
            }
          }
        },
        "description": "The fixed amount to charge for the subscription"
      },
      "amount": {
        "required": ["currencyCode", "value"],
        "type": "object",
        "properties": {
          "currencyCode": {
            "maxLength": 3,
            "minLength": 3,
            "type": "string",
            "description": "Currency code (ISO-4217)",
            "example": "EUR",
            "enum": [
              "AED",
              "AFN",
              "ALL",
              "AMD",
              "ANG",
              "AOA",
              "ARS",
              "AUD",
              "AWG",
              "AZN",
              "BAM",
              "BBD",
              "BDT",
              "BGN",
              "BHD",
              "BIF",
              "BMD",
              "BND",
              "BOB",
              "BOV",
              "BRL",
              "BSD",
              "BTN",
              "BWP",
              "BYN",
              "BZD",
              "CAD",
              "CDF",
              "CHE",
              "CHF",
              "CHW",
              "CLF",
              "CLP",
              "CNY",
              "COP",
              "COU",
              "CRC",
              "CUC",
              "CUP",
              "CVE",
              "CZK",
              "DJF",
              "DKK",
              "DOP",
              "DZD",
              "EGP",
              "ERN",
              "ETB",
              "EUR",
              "FJD",
              "FKP",
              "GBP",
              "GEL",
              "GHS",
              "GIP",
              "GMD",
              "GNF",
              "GTQ",
              "GYD",
              "HKD",
              "HNL",
              "HRK",
              "HTG",
              "HUF",
              "IDR",
              "ILS",
              "INR",
              "IQD",
              "IRR",
              "ISK",
              "JMD",
              "JOD",
              "JPY",
              "KES",
              "KGS",
              "KHR",
              "KMF",
              "KPW",
              "KRW",
              "KWD",
              "KYD",
              "KZT",
              "LAK",
              "LBP",
              "LKR",
              "LRD",
              "LSL",
              "LYD",
              "MAD",
              "MDL",
              "MGA",
              "MKD",
              "MMK",
              "MNT",
              "MOP",
              "MRU",
              "MUR",
              "MVR",
              "MWK",
              "MXN",
              "MXV",
              "MYR",
              "MZN",
              "NAD",
              "NGN",
              "NIO",
              "NOK",
              "NPR",
              "NZD",
              "OMR",
              "PAB",
              "PEN",
              "PGK",
              "PHP",
              "PKR",
              "PLN",
              "PYG",
              "QAR",
              "RON",
              "RSD",
              "RUB",
              "RWF",
              "SAR",
              "SBD",
              "SCR",
              "SDG",
              "SEK",
              "SGD",
              "SHP",
              "SLL",
              "SOS",
              "SRD",
              "SSP",
              "STN",
              "SVC",
              "SYP",
              "SZL",
              "THB",
              "TJS",
              "TMT",
              "TND",
              "TOP",
              "TRY",
              "TTD",
              "TWD",
              "TZS",
              "UAH",
              "UGX",
              "USD",
              "USN",
              "UYI",
              "UYU",
              "UYW",
              "UZS",
              "VES",
              "VND",
              "VUV",
              "WST",
              "XAF",
              "XAG",
              "XAU",
              "XBA",
              "XBB",
              "XBC",
              "XBD",
              "XCD",
              "XDR",
              "XOF",
              "XPD",
              "XPF",
              "XPT",
              "XSU",
              "XTS",
              "XUA",
              "XXX",
              "YER",
              "ZAR",
              "ZMW",
              "ZWL"
            ]
          },
          "value": {
            "type": "integer",
            "description": "Integer amount value (100 is 1.00)",
            "example": 100,
            "x-constraint": {
              "greater": 0
            }
          }
        }
      },
      "Model1": {
        "required": ["amount", "startingQuantity"],
        "type": "object",
        "properties": {
          "startingQuantity": {
            "type": "string",
            "description": "The starting quantity for the tier."
          },
          "endingQuantity": {
            "type": "string",
            "description": "The ending quantity for the tier. Optional for the last tier."
          },
          "amount": {
            "$ref": "#/components/schemas/amount"
          }
        }
      },
      "tiers": {
        "type": "array",
        "description": "An array of pricing tiers which are used for billing volume/tiered plans.",
        "items": {
          "$ref": "#/components/schemas/Model1"
        }
      },
      "pricingScheme": {
        "type": "object",
        "properties": {
          "version": {
            "maximum": 999,
            "type": "number",
            "description": "The version of the pricing scheme."
          },
          "fixedPrice": {
            "$ref": "#/components/schemas/fixedPrice"
          },
          "pricingModel": {
            "type": "string",
            "description": "The pricing model for tiered plan",
            "enum": ["VOLUME", "TIERED"]
          },
          "tiers": {
            "$ref": "#/components/schemas/tiers"
          }
        },
        "description": "The active pricing scheme for this billing cycle."
      },
      "frequency": {
        "required": ["intervalUnit"],
        "type": "object",
        "properties": {
          "intervalUnit": {
            "type": "string",
            "description": "The interval at which the subscription is charged or billed.",
            "enum": ["DAY", "WEEK", "MONTH", "YEAR"]
          },
          "intervalCount": {
            "type": "number",
            "description": "The number of intervals after which a subscriber is billed."
          }
        }
      },
      "Model2": {
        "required": ["frequency", "sequence", "tenureType"],
        "type": "object",
        "properties": {
          "pricingScheme": {
            "$ref": "#/components/schemas/pricingScheme"
          },
          "frequency": {
            "$ref": "#/components/schemas/frequency"
          },
          "tenureType": {
            "type": "string",
            "description": "The interval at which the subscription is charged or billed.",
            "enum": ["REGULAR", "TRIAL"]
          },
          "sequence": {
            "type": "number",
            "description": "The order in which this cycle is to run among other billing cycles."
          },
          "totalCycles": {
            "type": "number",
            "description": "The number of times this billing cycle gets executed."
          }
        }
      },
      "billingCycles": {
        "minItems": 1,
        "type": "array",
        "description": "An array of billing cycles for trial billing and regular billing",
        "items": {
          "$ref": "#/components/schemas/Model2"
        }
      },
      "setupFee": {
        "required": ["currencyCode", "value"],
        "type": "object",
        "properties": {
          "currencyCode": {
            "maxLength": 3,
            "minLength": 3,
            "type": "string",
            "description": "Currency code (ISO-4217)",
            "example": "EUR",
            "enum": [
              "AED",
              "AFN",
              "ALL",
              "AMD",
              "ANG",
              "AOA",
              "ARS",
              "AUD",
              "AWG",
              "AZN",
              "BAM",
              "BBD",
              "BDT",
              "BGN",
              "BHD",
              "BIF",
              "BMD",
              "BND",
              "BOB",
              "BOV",
              "BRL",
              "BSD",
              "BTN",
              "BWP",
              "BYN",
              "BZD",
              "CAD",
              "CDF",
              "CHE",
              "CHF",
              "CHW",
              "CLF",
              "CLP",
              "CNY",
              "COP",
              "COU",
              "CRC",
              "CUC",
              "CUP",
              "CVE",
              "CZK",
              "DJF",
              "DKK",
              "DOP",
              "DZD",
              "EGP",
              "ERN",
              "ETB",
              "EUR",
              "FJD",
              "FKP",
              "GBP",
              "GEL",
              "GHS",
              "GIP",
              "GMD",
              "GNF",
              "GTQ",
              "GYD",
              "HKD",
              "HNL",
              "HRK",
              "HTG",
              "HUF",
              "IDR",
              "ILS",
              "INR",
              "IQD",
              "IRR",
              "ISK",
              "JMD",
              "JOD",
              "JPY",
              "KES",
              "KGS",
              "KHR",
              "KMF",
              "KPW",
              "KRW",
              "KWD",
              "KYD",
              "KZT",
              "LAK",
              "LBP",
              "LKR",
              "LRD",
              "LSL",
              "LYD",
              "MAD",
              "MDL",
              "MGA",
              "MKD",
              "MMK",
              "MNT",
              "MOP",
              "MRU",
              "MUR",
              "MVR",
              "MWK",
              "MXN",
              "MXV",
              "MYR",
              "MZN",
              "NAD",
              "NGN",
              "NIO",
              "NOK",
              "NPR",
              "NZD",
              "OMR",
              "PAB",
              "PEN",
              "PGK",
              "PHP",
              "PKR",
              "PLN",
              "PYG",
              "QAR",
              "RON",
              "RSD",
              "RUB",
              "RWF",
              "SAR",
              "SBD",
              "SCR",
              "SDG",
              "SEK",
              "SGD",
              "SHP",
              "SLL",
              "SOS",
              "SRD",
              "SSP",
              "STN",
              "SVC",
              "SYP",
              "SZL",
              "THB",
              "TJS",
              "TMT",
              "TND",
              "TOP",
              "TRY",
              "TTD",
              "TWD",
              "TZS",
              "UAH",
              "UGX",
              "USD",
              "USN",
              "UYI",
              "UYU",
              "UYW",
              "UZS",
              "VES",
              "VND",
              "VUV",
              "WST",
              "XAF",
              "XAG",
              "XAU",
              "XBA",
              "XBB",
              "XBC",
              "XBD",
              "XCD",
              "XDR",
              "XOF",
              "XPD",
              "XPF",
              "XPT",
              "XSU",
              "XTS",
              "XUA",
              "XXX",
              "YER",
              "ZAR",
              "ZMW",
              "ZWL"
            ]
          },
          "value": {
            "type": "integer",
            "description": "Integer amount value (100 is 1.00)",
            "example": 100,
            "x-constraint": {
              "greater": 0
            }
          }
        },
        "description": "The initial set-up fee for the service."
      },
      "paymentPreferences": {
        "type": "object",
        "properties": {
          "autoBillOutstanding": {
            "type": "boolean",
            "description": "Indicates whether to automatically bill the outstanding amount in the next billing cycle."
          },
          "setupFee": {
            "$ref": "#/components/schemas/setupFee"
          },
          "setupFeeFailureAction": {
            "type": "string",
            "description": "The action to take on the subscription if the initial payment for the setup fails.",
            "enum": ["CONTINUE", "CANCEL"]
          },
          "paymentFailureThreshold": {
            "type": "number",
            "description": "The maximum number of payment failures before a subscription is suspended."
          }
        },
        "description": "The payment preferences for a subscription."
      },
      "taxes": {
        "required": ["percentage"],
        "type": "object",
        "properties": {
          "percentage": {
            "type": "string",
            "description": "The tax percentage on the billing amount."
          },
          "inclusive": {
            "type": "boolean",
            "description": "Indicates whether the tax was already included in the billing amount."
          }
        },
        "description": "The tax details."
      },
      "Model3": {
        "required": [
          "billingCycles",
          "createTime",
          "name",
          "paymentPreferences"
        ],
        "type": "object",
        "properties": {
          "id": {
            "maxLength": 50,
            "minLength": 6,
            "type": "string",
            "description": "Filters the response by a Product ID."
          },
          "name": {
            "maxLength": 127,
            "type": "string",
            "description": "The plan name"
          },
          "billingCycles": {
            "$ref": "#/components/schemas/billingCycles"
          },
          "paymentPreferences": {
            "$ref": "#/components/schemas/paymentPreferences"
          },
          "status": {
            "type": "string",
            "description": "The initial state of the plan",
            "enum": ["ACTIVE", "INACTIVE", "CREATED"]
          },
          "description": {
            "maxLength": 127,
            "type": "string",
            "description": "The detailed description of the plan."
          },
          "taxes": {
            "$ref": "#/components/schemas/taxes"
          },
          "quantitySupported": {
            "type": "boolean",
            "description": "Indicates whether you can subscribe to this plan by providing a quantity for the goods or service."
          },
          "createTime": {
            "type": "string",
            "description": "The date and time when the billing plan was created.",
            "format": "date"
          },
          "updateTime": {
            "type": "string",
            "description": "The date and time when the billing plan was updated.",
            "format": "date"
          }
        }
      },
      "plans": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Model3"
        }
      },
      "Model4": {
        "type": "object",
        "properties": {
          "plans": {
            "$ref": "#/components/schemas/plans"
          },
          "totalItems": {
            "type": "number",
            "description": "The total number of items."
          },
          "totalPages": {
            "type": "number",
            "description": "The total number of pages."
          }
        }
      },
      "details": {
        "type": "object"
      },
      "Model5": {
        "required": ["code", "message"],
        "type": "object",
        "properties": {
          "code": {
            "type": "number",
[...]
