openapi: 3.0.0
info:
  title: Verifone Global Service Connector (GSC) - Order Service API
  description: >-
    The Order Service API provides the ability to order hardware and services as well as provision and board devices.

  termsOfService: https://www.verifone.com/en/us/legal
  contact:
    url: https://developer.verifone.com
    email: developers@verifone.com
  version: 2.14.2
servers:
  - url: https://emea.gsc.verifone.cloud/oidc/order-service
    description: EMEA Production
  - url: https://us.gsc.verifone.cloud/oidc/order-service
    description: Americas Production
  - url: https://nz.gsc.verifone.cloud/oidc/order-service
    description: New Zealand and Australia Production
  - url: https://cst.test-gsc.vfims.com/oidc/order-service
    description: Global Sandbox
  - url: https://uscst-gb.gsc.vficloud.net/oidc/order-service
    description: Americas Sandbox
tags:
  - name: Common
    description: Operations common to all orders
  - name: Merchant Orders
    description: Operations to manage Merchant Orders
  - name: POI Orders
    description: >-
      Operations to manage POI (Point of interaction/terminal) Orders for
      existing merchants.
  - name: Merchant Maintenance
    description: Operations to manage exiting merchants
  - name: Internal
    description: Verifone internal operations
  - name: Batch
    description: "Verifone internal batch operations;used for Merchant & POI maintenance "
paths:
  /orders:
    get:
      tags:
        - Common
      summary: Get the list of all orders
      description: |
        By passing in the appropriate options, you can search for
        available orders in the system
      operationId: searchOrders
      parameters:
        - name: orderReference
          in: query
          description: Optional search string for looking up order by ID
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: status
          in: query
          description: pass an optional search string for looking up order by status
          required: false
          style: form
          explode: true
          schema:
            $ref: "#/components/schemas/orderStatusEnum"
        - name: detailedStatus
          in: query
          description: >-
            pass an optional search string for looking up order by detailed
            status
          required: false
          style: form
          explode: true
          schema:
            $ref: "#/components/schemas/detailedStatusEnum"
        - name: orderType
          in: query
          description: >-
            pass an optional search string for looking up order by type.
            Otherwise this will default to MerchantOrder
          required: false
          style: form
          explode: true
          schema:
            $ref: "#/components/schemas/orderType"
        - name: filterDateType
          in: query
          description: >-
            pass an optional search string for filtering based on date type.
            Otherwise this will default to createdDate
          required: false
          style: form
          explode: true
          schema:
            $ref: "#/components/schemas/filterDateType"
        - name: userUids
          in: query
          description: >-
            List of the User_ID corresponding to the User who created or
            modified the order.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              format: uuid
              example: 04f5ea24-cc4f-11e8-a8d5-f2801f1b9fd1
        - name: startTime
          in: query
          description: The record date/time to search from.
          required: false
          style: form
          explode: true
          schema:
            type: string
            format: date-time
            example: "2020-01-06T18:16:14.243Z"
        - name: endTime
          in: query
          description: The record date/time to search to.
          required: false
          style: form
          explode: true
          schema:
            type: string
            format: date-time
            example: "2020-01-06T18:16:14.243Z"
        - name: lastChangeTime
          in: query
          description: Orders last changed before this time (used to find order not moved)
          required: false
          style: form
          explode: false
          schema:
            $ref: "#/components/schemas/lastChangeTime"
        - name: merchantCompany
          in: query
          description: The merchant company.
          required: false
          style: form
          explode: true
          schema:
            $ref: "#/components/schemas/merchantNameType"
        - name: merchantCompanyEntityUid
          in: query
          description: The Verifone assigned ID corresponding to the Merchant Company.
          required: false
          style: form
          explode: false
          schema:
            $ref: "#/components/schemas/merchantCompanyEntityUid"
        - name: customerEntityUid
          in: query
          description: The estate customer entity UUID for the portfolio.
          required: false
          style: form
          explode: true
          schema:
            $ref: "#/components/schemas/entityUid"
        - name: pageNumber
          in: query
          description: Page number for records.
          required: false
          style: form
          explode: true
          schema:
            $ref: "#/components/schemas/pageNumber"
        - name: pageSize
          in: query
          description: Page size for returned records.
          required: false
          style: form
          explode: true
          schema:
            $ref: "#/components/schemas/pageSize"
        - name: order
          in: query
          description: The order direction.
          required: false
          style: form
          explode: false
          schema:
            $ref: "#/components/schemas/queryOrderEnum"
        - name: orderBy
          in: query
          description: >-
            The field to order by. Valid fields are: createdBy, createdDate,
            modifiedDate, merchantName, status
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: merchantType
          in: query
          description: Merchant type for the orders
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              $ref: "#/components/schemas/merchantTypeEnum"
        - name: signingProvider
          in: query
          description: >-
            The signing provider for the order. Valid fields are: ADOBE,
            SIGNICAT, DOKOBIT
          required: false
          style: form
          explode: false
          schema:
            $ref: "#/components/schemas/signingProviderEnum"
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/orderSearchResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
        "401":
          description: Unauthorised Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
        "403":
          description: Forbidden Request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpError403"
        "404":
          description: Not Found Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_429"
        "500":
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_500"
        "503":
          description: Service Not Available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_503"
        "504":
          description: Service Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_504"
  /orders/creators:
    get:
      tags:
        - Common
      summary: Get the list of the creators for the orders
      description: |
        By passing in the appropriate options, you can search for
        creators based upon the search criteria
      operationId: searchCreators
      parameters:
        - name: orderReference
          in: query
          description: Optional search string for looking up order by ID
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: status
          in: query
          description: pass an optional search string for looking up order by status
          required: false
          style: form
          explode: true
          schema:
            $ref: "#/components/schemas/orderStatusEnum"
        - name: orderType
          in: query
          description: >-
            pass an optional search string for looking up order by type.
            Otherwise this will default to MerchantOrder
          required: false
          style: form
          explode: true
          schema:
            $ref: "#/components/schemas/orderType"
        - name: filterDateType
          in: query
          description: >-
            pass an optional search string for filtering based on date type.
            Otherwise this will default to createdDate
          required: false
          style: form
          explode: true
          schema:
            $ref: "#/components/schemas/filterDateType"
        - name: userUids
          in: query
          description: >-
            List of the User_ID corresponding to the User who created or
            modified the order.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              format: uuid
              example: 04f5ea24-cc4f-11e8-a8d5-f2801f1b9fd1
        - name: startTime
          in: query
          description: The record date/time to search from.
          required: false
          style: form
          explode: true
          schema:
            type: string
            format: date-time
            example: "2020-01-06T18:16:14.243Z"
        - name: endTime
          in: query
          description: The record date/time to search to.
          required: false
          style: form
          explode: true
          schema:
            type: string
            format: date-time
            example: "2020-01-06T18:16:14.243Z"
        - name: merchantCompany
          in: query
          description: The merchant company.
          required: false
          style: form
          explode: true
          schema:
            $ref: "#/components/schemas/merchantNameType"
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/creatorsResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
        "401":
          description: Unauthorised Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
        "403":
          description: Forbidden Request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpError403"
        "404":
          description: Not Found Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_429"
        "500":
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_500"
        "503":
          description: Service Not Available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_503"
        "504":
          description: Service Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_504"
  /orders/{orderId}:
    get:
      tags:
        - Common
      summary: Get a single order
      description: Get a single order by Order Id
      operationId: getOrder
      parameters:
        - name: orderId
          in: path
          description: Verifone allocated ID for the Order
          required: true
          style: simple
          explode: false
          schema:
            $ref: "#/components/schemas/orderId"
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/oneOfOrderResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
        "401":
          description: Unauthorised Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
        "403":
          description: Forbidden Request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpError403"
        "404":
          description: Not Found Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_429"
        "500":
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_500"
        "503":
          description: Service Not Available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_503"
        "504":
          description: Service Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_504"
  /orders/{orderId}/cancel:
    post:
      tags:
        - Common
      summary: Request Order to be cancelled
      description: >-
        Request an Order to be cancelled, note depending on status of the order
        this may not be allowed.
      operationId: cancelOrder
      parameters:
        - name: orderId
          in: path
          description: Verifone allocated ID for the Order
          required: true
          style: simple
          explode: false
          schema:
            $ref: "#/components/schemas/orderId"
      requestBody:
        description: Status update request.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/orderCancellation"
      responses:
        "204":
          description: Order Cancellation Requested
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
        "401":
          description: Unauthorised Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
        "403":
          description: Forbidden Request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpError403"
        "404":
          description: Not Found Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
        "405":
          description: Operation Not Allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_405"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_429"
        "500":
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_500"
        "503":
          description: Service Not Available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_503"
        "504":
          description: Service Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_504"
  /orders/drafts/{orderId}:
    post:
      tags:
        - Common
      summary: Submit Draft Order for processing
      description: Submit Draft Order for processing
      operationId: submitOrder
      parameters:
        - name: orderId
          in: path
          description: Verifone allocated ID for the Order
          required: true
          style: simple
          explode: false
          schema:
            $ref: "#/components/schemas/orderId"
        - name: validateAcquirer
          in: header
          description: An optional header indicating whether to validate the acquirer.
          required: false
          style: simple
          explode: false
          schema:
            type: boolean
      responses:
        "204":
          description: Order submitted
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
        "401":
          description: Unauthorised Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
        "403":
          description: Forbidden Request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpError403"
        "404":
          description: Not Found Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_429"
        "500":
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_500"
        "503":
          description: Service Not Available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_503"
        "504":
          description: Service Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_504"
    delete:
      tags:
        - Common
      summary: Delete a Draft Order
      description: Delete a Draft Order (only if in draft state)
      operationId: deleteOrder
      parameters:
        - name: orderId
          in: path
          description: Verifone allocated ID for the Order
          required: true
          style: simple
          explode: false
          schema:
            $ref: "#/components/schemas/orderId"
      responses:
        "204":
          description: Order Deleted
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
        "401":
          description: Unauthorised Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
        "403":
          description: Forbidden Request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpError403"
        "404":
          description: Not Found Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_429"
        "500":
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_500"
        "503":
          description: Service Not Available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_503"
        "504":
          description: Service Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_504"
  /orders/{orderId}/status:
    get:
      tags:
        - Internal
      summary: Get extended status
      description: Get more details about the order status, worfklows, etc.
      operationId: getExtendedOrderStatus
      parameters:
        - name: orderId
          in: path
          description: Verifone allocated ID for the Order
          required: true
          style: simple
          explode: false
          schema:
            $ref: "#/components/schemas/orderId"
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/extendedStatusResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
        "401":
          description: Unauthorised Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
        "403":
          description: Forbidden Request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpError403"
        "404":
          description: Not Found Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_429"
        "500":
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_500"
        "503":
          description: Service Not Available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_503"
        "504":
          description: Service Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_504"
    patch:
      tags:
        - Internal
      summary: Update order status
      description: Update order status. This can only be done by internal Verifone systems.
      operationId: updateOrderState
      parameters:
        - name: orderId
          in: path
          description: Verifone allocated ID for the Order
          required: true
          style: simple
          explode: false
          schema:
            $ref: "#/components/schemas/orderId"
      requestBody:
        description: Status update request.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/statusUpdate"
      responses:
        "200":
          description: Order status updated
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
        "401":
          description: Unauthorised Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
        "403":
          description: Forbidden Request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpError403"
        "404":
          description: Not Found Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_429"
        "500":
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_500"
        "503":
          description: Service Not Available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_503"
        "504":
          description: Service Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_504"
  /orders/merchantMaintenance:
    post:
      tags:
        - Internal
      summary: Internal Merchant Maintenance Order Request
      description: >-
        Create an internal merchant maintenance order to track the workflow
        related to a merchant maintenance request such as updating a trading
        address. This should only be used by the order service consumer after a
        change has been done to entity service and additional workflow steps are
        required to orchestrate this data to other systems.
      operationId: internalMerchantMaintenanceOrderRequest
      requestBody:
        description: Maintenance Order details
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MerchantMaintenanceOrder"
      responses:
        "201":
          description: Create Merchant Maintenance Order Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MerchantMaintenanceOrder"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
        "401":
          description: Unauthorised Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
        "403":
          description: Forbidden Request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpError403"
        "404":
          description: Not Found Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_429"
        "500":
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_500"
        "503":
          description: Service Not Available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_503"
        "504":
          description: Service Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_504"
  /orders/merchant:
    post:
      tags:
        - Merchant Orders
      summary: Create Merchant Order
      description: >-
        Adds a new merchant to the system and optionally allows for ordering
        hardware and services.
      operationId: addMerchantDraft
      parameters:
        - name: saveDraft
          in: header
          description: >-
            An optional header indicating whether to save the order into a DRAFT
            status. If this value is not specified or set to false then the
            order will be SUBMITTED immediately.
          required: false
          style: simple
          explode: false
          schema:
            type: boolean
        - name: validateAcquirer
          in: header
          description: An optional header indicating whether to validate the acquirer.
          required: false
          style: simple
          explode: false
          schema:
            type: boolean
      requestBody:
        description: Merchant to add
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/merchantOrder"
      responses:
        "200":
          description: Create Merchant Order Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MerchantOrderResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
        "401":
          description: Unauthorised Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
        "403":
          description: Forbidden Request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpError403"
        "404":
          description: Not Found Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_429"
        "500":
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_500"
        "503":
          description: Service Not Available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_503"
        "504":
          description: Service Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_504"
  /orders/merchant/{orderId}:
    put:
      tags:
        - Merchant Orders
      summary: Update/Replace Merchant Order.
      description: >-
        Update merchant order. This can only be done if the order has not been
        submitted.
      operationId: updateMerchant
      parameters:
        - name: orderId
          in: path
          description: Verifone allocated ID for the Order
          required: true
          style: simple
          explode: false
          schema:
            $ref: "#/components/schemas/orderId"
        - name: validateAcquirer
          in: header
          description: An optional header indicating whether to validate the acquirer.
          required: false
          style: simple
          explode: false
          schema:
            type: boolean
      requestBody:
        description: Order details to update
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/merchantOrder"
      responses:
        "200":
          description: Replace Merchant Order Response
          content:
            application/json:
              schema:
                maxItems: 1
                type: array
                items:
                  $ref: "#/components/schemas/MerchantOrderResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
        "401":
          description: Unauthorised Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
        "403":
          description: Forbidden Request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpError403"
        "404":
          description: Not Found Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_429"
        "500":
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_500"
        "503":
          description: Service Not Available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_503"
        "504":
          description: Service Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_504"
  /orders/merchant/additionalServices:
    post:
      tags:
        - Additional Services
      summary: Create Additional Services Order
      description: >-
        Creates an order for add-on services (e.g. APM integration).A new PPC is
        created if no contract id is specified.
      operationId: addOnServicesOrderRequest
      parameters:
        - name: saveDraft
          in: header
          description: >-
            An optional header indicating whether to save the order into a DRAFT
            status. If this value is not specified or set to false then the
            order will be SUBMITTED immediately.
          required: false
          style: simple
          explode: false
          schema:
            type: boolean
      requestBody:
        description: Additional Services Order Request Body
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdditionalServicesOrder"
      responses:
        "201":
          description: Create Additional Services Order Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdditionalServicesOrderResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
        "401":
          description: Unauthorised Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
        "403":
          description: Forbidden Request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpError403"
        "404":
          description: Not Found Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_429"
        "500":
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_500"
        "503":
          description: Service Not Available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_503"
        "504":
          description: Service Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_504"
  /orders/merchant/additionalServices/{orderId}:
    put:
      tags:
        - Additional Services
      summary: Update Additional Services Order
      description: >-
        Updates an existing add-on services order, provided the order has not
        yet been submitted
      operationId: updateAddOnServicesOrderRequest
      parameters:
        - name: orderId
          in: path
          description: Verifone allocated ID for the Order
          required: true
          style: simple
          explode: false
          schema:
            $ref: "#/components/schemas/orderId"
      requestBody:
        description: Additional Services Order Request Body
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdditionalServicesOrder"
      responses:
        "201":
          description: Update Additional Services Order Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdditionalServicesOrderResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
        "401":
          description: Unauthorised Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
        "403":
          description: Forbidden Request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpError403"
        "404":
          description: Not Found Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_429"
        "500":
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_500"
        "503":
          description: Service Not Available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_503"
        "504":
          description: Service Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_504"
  /orders/pois:
    post:
      tags:
        - POI Orders
      summary: Create POI Order
      description: >-
        Adds new Point Of Interactions (terminals) to an existing merchant/store
        and optionally order hardware and services
      operationId: addPoiOrder
      parameters:
        - name: saveDraft
          in: header
          description: >-
            An optional header indicating whether to save the order into a DRAFT
            status. If this value is not specified or set to false then the
            order will be SUBMITTED immediately.
          required: false
          style: simple
          explode: false
          schema:
            type: boolean
        - name: validateAcquirer
          in: header
          description: An optional header indicating whether to validate the acquirer.
          required: false
          style: simple
          explode: false
          schema:
            type: boolean
      requestBody:
        description: Terminals to add
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/poiOrder"
      responses:
        "200":
          description: Create POI Order Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PoiOrderResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
        "401":
          description: Unauthorised Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
        "403":
          description: Forbidden Request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpError403"
        "404":
          description: Not Found Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_429"
        "500":
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_500"
        "503":
          description: Service Not Available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_503"
        "504":
          description: Service Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_504"
  /orders/pois/{orderId}:
    put:
      tags:
        - POI Orders
      summary: Update/Replace POI order.
      description: >-
        Update/Replace POI order. This can only be done if the order has not
        been submitted.
      operationId: updatePoiOrder
      parameters:
        - name: orderId
          in: path
          description: Verifone allocated ID for the Order
          required: true
          style: simple
          explode: false
          schema:
            $ref: "#/components/schemas/orderId"
        - name: validateAcquirer
          in: header
          description: An optional header indicating whether to validate the acquirer.
          required: false
          style: simple
          explode: false
          schema:
            type: boolean
      requestBody:
        description: Order details to update
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/poiOrder"
      responses:
        "200":
          description: Replace POI Order Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PoiOrderResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
        "401":
          description: Unauthorised Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
        "403":
          description: Forbidden Request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpError403"
        "404":
          description: Not Found Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_429"
        "500":
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_500"
        "503":
          description: Service Not Available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_503"
        "504":
          description: Service Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_504"
  /pois/orders/maintenance/{poiUid}:
    post:
      tags:
        - Maintenance Orders
      summary: POI Maintenance Order Request
      description: Submits a POI Maintenance Order Request
      operationId: poiMaintenanceOrderRequest
      parameters:
        - name: poiUid
          in: path
          description: The assigned ID corresponding for the POI.
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
          example: 04f5ea24-cc4f-11e8-a8d5-f2801f1b9fd1
      requestBody:
        description: Maintenance Order details
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/poiMaintenanceOrder"
      responses:
        "201":
          description: Create POI Maintenance Order Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PoiMaintenanceOrderResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
        "401":
          description: Unauthorised Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
        "403":
          description: Forbidden Request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpError403"
        "404":
          description: Not Found Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_429"
        "500":
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_500"
        "503":
          description: Service Not Available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_503"
        "504":
          description: Service Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_504"
  /pois/orders/accessories/{poiUid}:
    description: Accessory orders
    post:
      tags:
        - POI Orders
      summary: Create POI Accessory Order
      description: >-
        Creates an order for add-on accessories & consumables (e.g. stationery)
        which are typically used with a POI
      operationId: accessoryOrderRequest
      parameters:
        - name: poiUid
          in: path
          description: The assigned ID corresponding for the POI.
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
          example: 04f5ea24-cc4f-11e8-a8d5-f2801f1b9fd1
      requestBody:
        description: Accessory Order Request Body
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PoiAccessoryOrder"
      responses:
        "201":
          description: POI Accessory Order Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PoiAccessoryOrderResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
        "401":
          description: Unauthorised Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
        "403":
          description: Forbidden Request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpError403"
        "404":
          description: Not Found Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_429"
        "500":
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_500"
        "503":
          description: Service Not Available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_503"
        "504":
          description: Service Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_504"
  /entities/{entityUid}/tradingAddress:
    patch:
      tags:
        - Merchant Maintenance
      summary: Partial Update of a Trading address
      description: >-
        A partial update of an existing Merchant Entity Address. Only replaces
        the provided parameters.
      operationId: updateEntityAddress
      parameters:
        - name: entityUid
          in: path
          description: The Verifone assigned ID corresponding to the entity.
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
          example: 04f5ea24-cc4f-11e8-a8d5-f2801f1b9fd1
      requestBody:
        description: Address details to update
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/baseAddress"
      responses:
        "200":
          description: Patch Trading Address Response
          headers:
            orderId:
              style: simple
              explode: false
              schema:
                $ref: "#/components/schemas/orderId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/baseAddressWithoutType"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
        "401":
          description: Unauthorised Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
        "403":
          description: Forbidden Request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpError403"
        "404":
          description: Not Found Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_429"
        "500":
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_500"
        "503":
          description: Service Not Available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_503"
        "504":
          description: Service Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_504"
  /entities/{entityUid}:
    delete:
      tags:
        - Merchant Maintenance
      summary: Delete a Single Merchant Entity
      description: Deletes an Entity.
      operationId: deleteEntity
      parameters:
        - name: entityUid
          in: path
          description: The Verifone assigned ID corresponding to the entity.
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
          example: 04f5ea24-cc4f-11e8-a8d5-f2801f1b9fd1
      responses:
        "204":
          description: The Entity was successfully deleted.
          headers:
            orderId:
              style: simple
              explode: false
              schema:
                $ref: "#/components/schemas/orderId"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
        "401":
          description: Unauthorised Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
        "403":
          description: Forbidden Request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpError403"
        "404":
          description: Not Found Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_429"
        "500":
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_500"
        "503":
          description: Service Not Available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_503"
        "504":
          description: Service Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_504"
    patch:
      tags:
        - Merchant Maintenance
      summary: Partial Update of a Merchant Entity
      description: >-
        A partial update of an existing Merchant Entity. Only replaces the
        provided parameters. 


        This can be used to activate/deactivate a merchant entity and change the
        trading name.
      operationId: patchEntity
      parameters:
        - name: entityUid
          in: path
          description: The Verifone assigned ID corresponding to the entity.
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
          example: 04f5ea24-cc4f-11e8-a8d5-f2801f1b9fd1
      requestBody:
        description: Entity details to update
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/entityPatch"
      responses:
        "204":
          description: Patch Entity Success.
          headers:
            orderId:
              style: simple
              explode: false
              schema:
                $ref: "#/components/schemas/orderId"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
        "401":
          description: Unauthorised Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
        "403":
          description: Forbidden Request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpError403"
        "404":
          description: Not Found Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_429"
        "500":
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_500"
        "503":
          description: Service Not Available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_503"
        "504":
          description: Service Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_504"
  /pois/{poiUid}/parentPoi:
    get:
      tags:
        - Multi Merchant
      summary: Get multi merchant parent record.
      description: Get the parent multi merchant POI record associated with this POI.
      operationId: getParentPoi
      parameters:
        - name: poiUid
          in: path
          description: The assigned ID corresponding for the POI.
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
          example: 04f5ea24-cc4f-11e8-a8d5-f2801f1b9fd1
      responses:
        "200":
          description: Multi Merchant Parent (owner) POI.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/poiTypeSimplifiedResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
        "401":
          description: Unauthorised Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
        "403":
          description: Forbidden Request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpError403"
        "404":
          description: Not Found Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_429"
        "500":
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_500"
        "503":
          description: Service Not Available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_503"
        "504":
          description: Service Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_504"
  /pois/{poiUid}/childPois/move:
    post:
      tags:
        - Multi Merchant
      summary: Move child POIs to a new parent.
      description: Move existing child POI records to a new multi merchant parent POI.
      operationId: childPoisMove
      parameters:
        - name: poiUid
          in: path
          description: The assigned ID corresponding for the POI.
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
          example: 04f5ea24-cc4f-11e8-a8d5-f2801f1b9fd1
      requestBody:
        description: Destination POI details.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/childPoiMoveRequest"
      responses:
        "200":
          description: Multi Merchant Parent POI.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/poiTypeSimplifiedResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
        "401":
          description: Unauthorised Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
        "403":
          description: Forbidden Request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpError403"
        "404":
          description: Not Found Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_429"
        "500":
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_500"
        "503":
          description: Service Not Available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_503"
        "504":
          description: Service Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_504"
  /pois/{poiUid}:
    delete:
      tags:
        - POI Maintenance
      summary: Delete a Single POI
      description: Deletes a POI.
      operationId: deletePoi
      parameters:
        - name: poiUid
          in: path
          description: The assigned ID corresponding for the POI.
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
          example: 04f5ea24-cc4f-11e8-a8d5-f2801f1b9fd1
      responses:
        "204":
          description: The Poi was successfully deleted.
          headers:
            orderId:
              style: simple
              explode: false
              schema:
                $ref: "#/components/schemas/orderId"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
        "401":
          description: Unauthorised Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
        "403":
          description: Forbidden Request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpError403"
        "404":
          description: Not Found Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_429"
        "500":
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_500"
        "503":
          description: Service Not Available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_503"
        "504":
          description: Service Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_504"
    patch:
      tags:
        - POI Maintenance
      summary: Partial Update of a POI
      description: >-
        A partial update of an existing POI record. Only replaces the provided
        parameters. 


        This can be used to activate/deactivate a POI record. When deactivated
        the terminal will be blocked from transacting.
      operationId: patchPoi
      parameters:
        - name: poiUid
          in: path
          description: The assigned ID corresponding for the POI.
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
          example: 04f5ea24-cc4f-11e8-a8d5-f2801f1b9fd1
      requestBody:
        description: POI details to update
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/poiPatch"
      responses:
        "204":
          description: Patch POI Success.
          headers:
            orderId:
              style: simple
              explode: false
              schema:
                $ref: "#/components/schemas/orderId"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
        "401":
          description: Unauthorised Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
        "403":
          description: Forbidden Request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpError403"
        "404":
          description: Not Found Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_429"
        "500":
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_500"
        "503":
          description: Service Not Available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_503"
        "504":
          description: Service Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_504"
  /entities/{entityUid}/users:
    post:
      tags:
        - User
      summary: Create a new unapproved user
      description: >-
        Create an unapproved merchant user associated to the target customer
        entity. The target entity needs to have a customer profile in the
        portfolio service and an entity configured to add unapproved users to in
        the customer profile.
      operationId: createUnapprovedUser
      parameters:
        - name: entityUid
          in: path
          description: The Verifone assigned ID corresponding to the entity.
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
          example: 04f5ea24-cc4f-11e8-a8d5-f2801f1b9fd1
      requestBody:
        description: Contact Details of the user to create
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactType"
      responses:
        "201":
          description: User Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddUserResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
        "401":
          description: Unauthorised Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
        "403":
          description: Forbidden Request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpError403"
        "404":
          description: Not Found Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_429"
        "500":
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_500"
        "503":
          description: Service Not Available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_503"
        "504":
          description: Service Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_504"
  /v2/entities/{entityUid}/users:
    post:
      tags:
        - User
      summary: Create a new unapproved user, version 2
      description: >-
        Create an unapproved merchant user associated to the target customer
        entity. The target entity needs to have a customer profile in the
        portfolio service and an entity configured to add unapproved users to in
        the customer profile.
      operationId: createUnapprovedUserV2
      parameters:
        - name: entityUid
          in: path
          description: The Verifone assigned ID corresponding to the entity.
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
          example: 04f5ea24-cc4f-11e8-a8d5-f2801f1b9fd1
      requestBody:
        description: Contact Details of the user to create
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserContactType"
      responses:
        "201":
          description: User Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddUserResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
        "401":
          description: Unauthorised Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
        "403":
          description: Forbidden Request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpError403"
        "404":
          description: Not Found Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_429"
        "500":
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_500"
        "503":
          description: Service Not Available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_503"
        "504":
          description: Service Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_504"
  /entities/{entityUid}/purchasedTid:
    summary: >-
      Set of APIs used when the TID allocation scheme is PURCHASED.Assumed that
      purchased TIDs are checked for uniqueness
    description: APIs for purchased TIDs
    get:
      tags:
        - Purchased TIDs
      summary: List TIDs in the pool
      description: Get list of TIDs from the TID pool
      operationId: listPurchasedTIDs
      parameters:
        - name: entityUid
          in: path
          description: The Verifone assigned ID corresponding to the entity.
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
          example: 04f5ea24-cc4f-11e8-a8d5-f2801f1b9fd1
        - name: status
          in: query
          required: false
          style: form
          explode: true
          schema:
            $ref: "#/components/schemas/tidPoolStatusEnum"
        - name: pageNumber
          in: query
          description: Page number for records.
          required: false
          style: form
          explode: true
          schema:
            $ref: "#/components/schemas/pageNumber"
        - name: pageSize
          in: query
          description: Page size for returned records.
          required: false
          style: form
          explode: true
          schema:
            $ref: "#/components/schemas/pageSize"
        - name: orderBy
          in: query
          description: >-
            The field to order by. Valid fields are: createdDate, modifiedDate,
            status
          required: false
          style: form
          explode: false
          schema:
            type: string
      responses:
        "200":
          description: Purchased TIDs results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/tidPoolFetchResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
        "401":
          description: Unauthorised Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
        "403":
          description: Forbidden Request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpError403"
        "404":
          description: Not Found Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_429"
        "500":
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_500"
        "503":
          description: Service Not Available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_503"
        "504":
          description: Service Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_504"
    put:
      tags:
        - Purchased TIDs
      summary: Insert TIDs into pool
      description: >-
        Insert an array of purchased TIDs into the TID pool.Its assumed that
        purchased TIDs are checked for uniqueness in the system.<br/> Used by
        sales/operations.
      operationId: insertPurchasedTIDs
      parameters:
        - name: entityUid
          in: path
          description: The Verifone assigned ID corresponding to the entity.
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
          example: 04f5ea24-cc4f-11e8-a8d5-f2801f1b9fd1
        - name: orderReference
          in: query
          description: Optional search string for looking up order by ID
          required: false
          style: form
          explode: true
          schema:
            type: string
      requestBody:
        description: "Array of TIDs to insert . By default allocated flag is set to false "
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/uniqueTIDs"
      responses:
        "200":
          description: TIDs inserted into pool
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
        "401":
          description: Unauthorised Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
        "403":
          description: Forbidden Request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpError403"
        "404":
          description: Not Found Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_429"
        "500":
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_500"
        "503":
          description: Service Not Available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_503"
        "504":
          description: Service Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_504"
    patch:
      tags:
        - Purchased TIDs
      summary: Patch status of TIDs in the pool
      description: Change allocation status of purchased TID to required status
      operationId: changePurchasedTIDAllocation
      parameters:
        - name: entityUid
          in: path
          description: The Verifone assigned ID corresponding to the entity.
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
          example: 04f5ea24-cc4f-11e8-a8d5-f2801f1b9fd1
        - name: status
          in: query
          required: true
          style: form
          explode: false
          schema:
            $ref: "#/components/schemas/tidPoolStatusEnum"
        - name: orderReference
          in: query
          description: Optional search string for looking up order by ID
          required: false
          style: form
          explode: true
          schema:
            type: string
      requestBody:
        description: Array of TIDs whose allocation status needs to be updated
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/uniqueTIDs"
      responses:
        "204":
          description: TID status changed
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
        "401":
          description: Unauthorised Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
        "403":
          description: Forbidden Request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpError403"
        "404":
          description: Not Found Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_429"
        "500":
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_500"
        "503":
          description: Service Not Available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_503"
        "504":
          description: Service Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_504"
  /entities/{entityUid}/purchasedTid/reserve:
    get:
      tags:
        - Purchased TIDs
      summary: Reserve TIDs from the pool
      description: >-
        Reserve 'çount' number of TIDs from the TID pool. If 'count' is not
        available 400 is returned
      operationId: reservePurchasedTIDs
      parameters:
        - name: entityUid
          in: path
          description: The Verifone assigned ID corresponding to the entity.
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
          example: 04f5ea24-cc4f-11e8-a8d5-f2801f1b9fd1
        - name: count
          in: query
          description: Count of TIDs required from pool
          required: true
          style: form
          explode: false
          schema:
            minimum: 1
            type: integer
        - name: duration
          in: query
          description: "Duration in hours to reserve the TID "
          required: false
          style: form
          explode: false
          schema:
            maximum: 12
            minimum: 1
            type: integer
            default: 1
        - name: orderReference
          in: query
          description: Optional search string for looking up order by ID
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        "200":
          description: Purchased TIDs results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/uniqueTIDs"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
        "401":
          description: Unauthorised Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
        "403":
          description: Forbidden Request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpError403"
        "404":
          description: Not Found Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_429"
        "500":
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_500"
        "503":
          description: Service Not Available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_503"
        "504":
          description: Service Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_504"
  /entities/mid/{rangeId}:
    post:
      tags:
        - MID/TID Generation
      summary: Generate a new Verifone Merchant ID based on Range
      description: >-
        Generate a new Verifone Merchant ID based on range, which is configured
        in the Order Service configuration database
      operationId: generateMerchantId
      parameters:
        - name: rangeId
          in: path
          description: Range allocation to be performed from
          required: true
          style: simple
          explode: true
          schema:
            type: string
            example: verifone
      responses:
        "201":
          description: MID Generated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/midAllocation"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
        "401":
          description: Unauthorised Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
        "403":
          description: Forbidden Request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpError403"
        "404":
          description: Not Found Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_429"
        "500":
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_500"
        "503":
          description: Service Not Available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_503"
        "504":
          description: Service Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_504"
  /pois/tid/{rangeId}:
    post:
      tags:
        - MID/TID Generation
      summary: Generate a new Verifone Terminal ID based on Range
      description: >-
        Generate a new Verifone Terminal ID based on range which is configured
        in the Order Service configuration database.
      operationId: generationTerminalId
      parameters:
        - name: rangeId
          in: path
          description: Range allocation to be performed from
          required: true
          style: simple
          explode: true
          schema:
            type: string
            example: verifone
      responses:
        "201":
          description: TID Generated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/tidAllocation"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
        "401":
          description: Unauthorised Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
        "403":
          description: Forbidden Request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpError403"
        "404":
          description: Not Found Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_429"
        "500":
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_500"
        "503":
          description: Service Not Available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_503"
        "504":
          description: Service Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_504"
  /accounts/sites:
    get:
      tags:
        - Internal
      summary: Get the list of all Verifone Sites in Billing Engine
      description: >
        Using the UUID of the user or the merchantCompanyUid in the query (ROLE)
        Dependent.
      operationId: searchAccountSites
      parameters:
        - name: customerEntityUid
          in: query
          description: The estate customer entity UUID for the portfolio.
          required: true
          style: form
          explode: false
          schema:
            $ref: "#/components/schemas/entityUid"
        - name: merchantCompanyEntityUid
          in: query
          description: The Verifone assigned ID corresponding to the Merchant Company.
          required: false
          style: form
          explode: false
          schema:
            $ref: "#/components/schemas/merchantCompanyEntityUid"
        - name: billingSitesOnly
          in: query
          description: Only return the billing sites.
          required: false
          style: form
          explode: false
          schema:
            type: boolean
            default: true
        - name: billingSiteId
          in: query
          description: The billing site id to query.
          required: false
          style: form
          explode: false
          schema:
            type: string
          example: "13232331"
        - name: locateCustomer
          in: query
          description: >-
            A flag to indicate if when creating the user to verify them by
            locating the customer in the verifone billing systems.
          required: false
          style: form
          explode: false
          schema:
            type: boolean
        - name: merchantCompany
          in: query
          description: The merchant company.
          required: false
          style: form
          explode: true
          schema:
            $ref: "#/components/schemas/merchantNameType"
        - name: addressLine
          in: query
          description: The first line of the address
          required: false
          style: form
          explode: false
          schema:
            $ref: "#/components/schemas/addressLine"
        - name: postCode
          in: query
          description: The postal code of the address.
          required: false
          style: form
          explode: false
          schema:
            $ref: "#/components/schemas/postCode"
        - name: activeBank
          in: query
          description: Last 4 digits of active bank account
          required: false
          style: form
          explode: true
          schema:
            $ref: "#/components/schemas/activeBank"
        - name: customerId
          in: query
          description: Customer ID of existing unapproved user
          required: false
          style: form
          explode: true
          schema:
            $ref: "#/components/schemas/customerId"
        - name: siteId
          in: query
          description: Site ID of existing unapproved user
          required: false
          style: form
          explode: true
          schema:
            $ref: "#/components/schemas/siteId"
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/accountSitesResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
        "401":
          description: Unauthorised Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
        "403":
          description: Forbidden Request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpError403"
        "404":
          description: Not Found Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_429"
        "500":
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_500"
        "503":
          description: Service Not Available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_503"
        "504":
          description: Service Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_504"
  /accounts/oracle:
    get:
      tags:
        - Accounts
      summary: Get the list of all oracle accounts
      description: |
        By passing in the appropriate options, you can search for
        available oracle accounts in the system
      operationId: searchAccounts
      parameters:
        - name: oracleAccountId
          in: query
          description: The oracle Account Id.
          required: false
          style: form
          explode: false
          schema:
            $ref: "#/components/schemas/oracleAccountId"
        - name: userUid
          in: query
          description: >-
            The User_ID corresponding to the User who created or modified the
            order.
          required: false
          style: form
          explode: false
          schema:
            type: string
            format: uuid
            example: 04f5ea24-cc4f-11e8-a8d5-f2801f1b9fd1
        - name: merchantCompanyEntityUid
          in: query
          description: The Verifone assigned ID corresponding to the Merchant Company.
          required: false
          style: form
          explode: false
          schema:
            $ref: "#/components/schemas/merchantCompanyEntityUid"
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/oracleAccountDetailsResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
        "401":
          description: Unauthorised Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
        "403":
          description: Forbidden Request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpError403"
        "404":
          description: Not Found Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_429"
        "500":
          description: Internal Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_500"
        "503":
          description: Service Not Available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_503"
        "504":
          description: Service Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_504"
    post:
      tags:
        - Accounts
      summary: Add Oracle account
      description: Add Oracle account with MOP users and/or merchant company
      operationId: addOracleAccount
      requestBody:
        description: Oracle Account details
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/oracleAccountDetails"
      responses:
        "201":
          description: Add Oracle Account Success.
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
        "401":
          description: Unauthorised Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
        "403":
          description: Forbidden Request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpError403"
        "404":
          description: Not Found Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
        "429":
[...]
