{"openapi":"3.0.3","info":{"contact":{"email":"experience@nium.com","name":"NIUM Platform","url":"https://www.nium.com"},"description":"NIUM Platform","license":{"name":"Copyright (c) 2024 NIUM"},"title":"Wallet","version":"2024.6.18"},"servers":[{"url":"https://gateway.nium.com/"}],"tags":[{"name":"Customer Wallet Balance","description":"REST API's for Customer's Wallet Balance"},{"name":"Wallet to Wallet Transfers","description":"REST API's for Wallet to Wallet Transfers"},{"name":"Customer Wallet Transactions","description":"REST API's for Customer Wallet Transactions"}],"paths":{"/api/v1/client/{clientHashId}/customer/{customerHashId}/wallet/{walletHashId}":{"get":{"parameters":[{"description":"Unique client identifier generated and shared before API handshake.","in":"path","name":"clientHashId","required":true,"schema":{"type":"string","example":"{{clientHashId}}"}},{"description":"Unique customer identifier generated on customer creation.","in":"path","name":"customerHashId","required":true,"schema":{"type":"string"}},{"description":"Unique wallet identifier generated simultaneously with customer creation.","in":"path","name":"walletHashId","required":true,"schema":{"type":"string"}},{"description":"Enter a unique UUID value","in":"header","name":"x-request-id","schema":{"type":"string","example":"{{$guid}}"}}],"responses":{"200":{"content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/WalletBalanceResponseDTO"},"type":"array"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"BadRequest"},"401":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"Not Found"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"Internal Server Error"}},"tags":["Customer Wallet Balance"],"deprecated":false,"description":"This API allows you to fetch balance for a specific wallet.","operationId":"WalletBalance","summary":"Wallet Balance","x-info":{"apiType":"external"},"security":[{"default":[]}]},"put":{"parameters":[{"description":"Unique client identifier generated and shared before API handshake.","in":"path","name":"clientHashId","required":true,"schema":{"type":"string"}},{"description":"Unique customer identifier generated on customer creation.","in":"path","name":"customerHashId","required":true,"schema":{"type":"string"}},{"description":"Unique wallet identifier generated simultaneously with customer creation.","in":"path","name":"walletHashId","required":true,"schema":{"type":"string"}},{"description":"Enter a unique UUID value.","in":"header","name":"x-request-id","schema":{"type":"string","example":"{{$guid}}"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletResponseDTO2"}}},"description":"Ok"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}},"description":"BadRequest"},"401":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Standard404Error"}}},"description":"Not Found"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletStandard500Error"}}},"description":"Internal Server Error"}},"tags":["Customer Wallet Balance"],"deprecated":false,"description":"This API allows you to update a specific wallet.","operationId":"UpdateWallet","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateWalletRequestDTO"}}},"description":"updateWalletRequestDTO","required":true},"summary":"Update Wallet","x-info":{"apiType":"external"},"security":[{"default":[]}]}},"/api/v1/client/{clientHashId}/customer/{customerHashId}/wallet":{"get":{"parameters":[{"description":"Unique client identifier generated and shared before API handshake.","in":"path","name":"clientHashId","required":true,"schema":{"type":"string"}},{"description":"Unique customer identifier generated on customer creation.","in":"path","name":"customerHashId","required":true,"schema":{"type":"string"}},{"description":"The name of the tag.\nThe maximum character length for `keys` is 128 characters.","example":"department","in":"query","name":"tagKey","required":false,"schema":{"type":"string"}},{"description":"The value of the tag.\nThe maximum character length for values is 256 characters.","example":"sales","in":"query","name":"tagValue","required":false,"schema":{"type":"string"}},{"description":"Unique wallet identifier generated on wallet creation.","example":"c69f684f-a306-4c4a-8daa-1e91ce7c85f8","in":"query","name":"walletHashId","required":false,"schema":{"type":"string"}},{"description":"Enter a unique UUID value.","in":"header","name":"x-request-id","schema":{"type":"string","example":"{{$guid}}"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletResponseDTO2"}}},"description":"Ok"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}},"description":"BadRequest"},"401":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Standard404Error"}}},"description":"Not Found"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletStandard500Error"}}},"description":"Internal Server Error"}},"tags":["Customer Wallet Balance"],"deprecated":false,"operationId":"GetWallet","summary":"Fetch Wallet","x-info":{"apiType":"external"},"security":[{"default":[]}]},"post":{"parameters":[{"description":"Unique client identifier generated and shared before API handshake.","in":"path","name":"clientHashId","required":true,"schema":{"type":"string"}},{"description":"Unique customer identifier generated on customer creation.","in":"path","name":"customerHashId","required":true,"schema":{"type":"string"}},{"description":"Enter a unique UUID value.","in":"header","name":"x-request-id","schema":{"type":"string","example":"{{$guid}}"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletResponseDTO2"}}},"description":"Ok"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}},"description":"BadRequest"},"401":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Standard404Error"}}},"description":"Not Found"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletStandard500Error"}}},"description":"Internal Server Error"}},"tags":["Customer Wallet Balance"],"deprecated":false,"description":"This API allows you to add a wallet for a customer.","operationId":"AddWallet","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddWalletRequestDTO"}}},"description":"addWalletRequestDTO","required":true},"summary":"Add Wallet","x-info":{"apiType":"external"},"security":[{"default":[]}]}},"/api/v1/client/{clientHashId}/customer/{customerHashId}/wallet/{walletHashId}/transfers":{"post":{"parameters":[{"description":"Unique client identifier generated and shared before API handshake.","in":"path","name":"clientHashId","required":true,"schema":{"type":"string"}},{"description":"Unique customer identifier generated on customer creation.","in":"path","name":"customerHashId","required":true,"schema":{"type":"string"}},{"description":"Unique source wallet identifier generated simultaneously with customer creation.","in":"path","name":"walletHashId","required":true,"schema":{"type":"string"}},{"description":"Enter a unique UUID value.","in":"header","name":"x-request-id","schema":{"type":"string","example":"{{$guid}}"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FundTransferResponse"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"BadRequest"},"401":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"Not Found"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"Internal Server Error"}},"tags":["Wallet to Wallet Transfers"],"deprecated":false,"description":"This API enables you to transfer money from one wallet to another wallet for customers belonging to different clients.","operationId":"WalletTransfer","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FundTransferRequestDTO"}}},"description":"fundTransferRequestDTO","required":true},"summary":"Wallet to Wallet Transfer","x-info":{"apiType":"external"},"security":[{"default":[]}]}},"/api/v1/client/{clientHashId}/customer/{customerHashId}/wallet/{walletHashId}/p2pTransfer":{"post":{"parameters":[{"description":"Unique client identifier generated and shared before the API handshake.","in":"path","name":"clientHashId","required":true,"schema":{"type":"string","example":"{{clientHashId}}"}},{"description":"Unique customer identifier generated on customer creation.","in":"path","name":"customerHashId","required":true,"schema":{"type":"string"}},{"description":"Unique wallet identifier generated simultaneously with customer creation.","in":"path","name":"walletHashId","required":true,"schema":{"type":"string"}},{"description":"Enter a unique UUID value.","in":"header","name":"x-request-id","schema":{"type":"string","example":"{{$guid}}"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/P2PTransferResponse"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"BadRequest"},"401":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"Not Found"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"Internal Server Error"}},"tags":["Wallet to Wallet Transfers"],"deprecated":false,"description":"This API enables you to transfer money from one wallet to another wallet within the same client family. \n >⚠️ WARNING \n >This API version has been deprecated. Eventually, deprecated API versions become unsupported. Use the [Wallet To Wallet Transfer](ref:wallettransfer) API to achieve the same functionality.","operationId":"P2PTransfer","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/P2PTransferDTO"}}},"description":"p2pTransferDTO","required":true},"summary":"P2P Transfer","x-info":{"apiType":"external"},"security":[{"default":[]}]}},"/api/v1/client/{clientHashId}/customer/{customerHashId}/wallet/{walletHashId}/transactions":{"get":{"parameters":[{"description":"Filter transactions based on the authorization code. In case of fund wallet transactions you can provide the `systemReferenceNumber` as the value.","in":"query","name":"authCode","required":false,"schema":{"type":"string"}},{"description":"Filter transactions based on the authentication currency. Accepts any 3-letter [ISO-4217 transaction currency code](https://docs.nium.com/apis/docs/currency-and-country-codes).","in":"query","name":"authCurrency","required":false,"schema":{"type":"string"}},{"description":"Filter for transactions where `businessTransaction` is **TRUE** or **FALSE**.","in":"query","name":"businessTransaction","required":false,"schema":{"type":"string"}},{"description":"Filter transactions based on the unique card identifier generated during new/add-on card issuance.","in":"query","name":"cardHashId","required":false,"schema":{"type":"string"}},{"description":"Filter transactions based on the `childCustomerHashId` used in the transactions.","in":"query","name":"childCustomerHashId","required":false,"schema":{"type":"string"}},{"description":"Filter transactions based on the client's unique `clientHashId` that was used in the transaction.","in":"path","name":"clientHashId","required":true,"schema":{"type":"string","example":"{{clientHashId}}"}},{"description":"Filter transactions based on the `complianceStatus`.","in":"query","name":"complianceStatus","required":false,"schema":{"enum":["CLEAR","PENDING","RFI_REQUESTED","REJECT"],"type":"string"}},{"description":"Filter transactions based on the customer's unique `customerHashId` that was used in the transaction.","in":"path","name":"customerHashId","required":true,"schema":{"type":"string"}},{"description":"End date for fetching the transaction details. The format for endDate is YYYY-MM-DD.","in":"query","name":"endDate","required":false,"schema":{"type":"string"}},{"description":"Filter transactions based on the 4-digit Merchant Category Code used during the transaction.","in":"query","name":"mcc","required":false,"schema":{"type":"string"}},{"description":"Filter transactions based on the description of the merchant's type of business product or service, also known as the Merchant Category Code (MCC) such as Airlines, Restaurants etc.","in":"query","name":"merchantCategories","required":false,"schema":{"type":"string"}},{"description":"Filter transactions based on the merchant's city.","in":"query","name":"merchantCity","required":false,"schema":{"type":"string"}},{"description":"Filter transactions based on a comma-separated list of 2-letter ISO merchant countries.","in":"query","name":"merchantCountries","required":false,"schema":{"type":"string"}},{"description":"Filter transactions based on the merchant's country field.","in":"query","name":"merchantCountry","required":false,"schema":{"type":"string"}},{"description":"Filter transactions based on the merchant's name field.","in":"query","name":"merchantName","required":false,"schema":{"type":"string"}},{"description":"Sort the order of the returned results.","example":"DESC","in":"query","name":"order","required":false,"schema":{"enum":["ASC","DESC"],"type":"string"}},{"description":"In some cases, the response can return multiple pages of data. Use this parameter to page through the returned results.\nThe default page is 0.","example":0,"in":"query","name":"page","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"Filter transactions based on a list of comma-separated `paymentInstrumentHashIds`.","in":"query","name":"paymentInstrumentHashId","required":false,"schema":{"type":"string"}},{"description":"Details the response parameter used to sort the transaction list. Sorted by 'createdAt' by default.","in":"query","name":"property","required":false,"schema":{"type":"string"}},{"description":"Filter transactions based on the settlement date of the transaction in the format yyyyMMdd.","in":"query","name":"settlementDate","required":false,"schema":{"type":"string"}},{"description":"Filter transactions based on settlement the status. A list of possible values is available in the response.","in":"query","name":"settlementStatus","required":false,"schema":{"type":"string"}},{"description":"Define how many elements get retunred per response page. Accepted values can be 1-20.","example":20,"in":"query","name":"size","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"The beginning date to start fetching transaction details. The format for `startDate` is YYYY-MM-DD.","in":"query","name":"startDate","required":false,"schema":{"type":"string"}},{"description":"Filter transactions based on the `status`. A list of possible values is available in the response.","in":"query","name":"status","required":false,"schema":{"enum":["IN_PROGRESS","ACTION_REQUIRED","RFI_REQUESTED","RFI_RESPONDED","COMPLETED","ERROR","REJECT","EXPIRED"],"type":"string"}},{"description":"Filter transactions based on the `systemReferenceNumber`.","in":"query","name":"systemReferenceNumber","required":false,"schema":{"type":"string"}},{"description":"Flter transactions based on `systemTraceAuditNumber`.","in":"query","name":"systemTraceAuditNumber","required":false,"schema":{"type":"string"}},{"description":"Filter transactions based on the exact value of tagKey defined against transactions. This can be used as an independent search parameter.","in":"query","name":"tagKey","required":false,"schema":{"type":"string"}},{"description":"Filter the responses based on the exact value of `tagKey`. The `tagkey` can be used also be used as an independent search parameter.","in":"query","name":"tagValue","required":false,"schema":{"type":"string"}},{"description":"Filter trasnactions based on the 3-letter [ISO-4217 transaction currency code](https://www.iso.org/iso-4217-currency-codes.html).","in":"query","name":"transactionCurrency","required":false,"schema":{"type":"string"}},{"description":"Filter transactions based the status. A detailed list of the transactions types available can be found at [Transaction Types](https://docs.nium.com/apis/docs/transaction-types).","in":"query","name":"transactionType","required":false,"schema":{"type":"string"}},{"description":"Flter transactions based on the `transactionsLabelsKey`.","in":"query","name":"transactionsLabelsKey","required":false,"schema":{"type":"string"}},{"description":"Filter transactions based on `transactionsLabelsValue`.","in":"query","name":"transactionsLabelsValue","required":false,"schema":{"type":"string"}},{"description":"Filter transactions based on the unique wallet identifier generated during customer creation.","in":"path","name":"walletHashId","required":true,"schema":{"type":"string"}},{"description":"Filter transactions based on the unique UUID value.","in":"header","name":"x-request-id","schema":{"type":"string","example":"{{$guid}}"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletTransactionsResponseDTO"},"example":{"content":[{"tags":{"department":"ACCOUNTS","internalReferenceNumber":"123456789","sourcingChannel":"DIGITAL","testKey1":"testkeyvalue1"},"acquirerCountryCode":"null","acquiringInstitutionCode":"null","authAmount":62,"authCode":"FW4526424507","authCurrencyCode":"SGD","billingAmount":62,"billingConversionRate":"null","billingCurrencyCode":"SGD","billingReplacementAmount":0,"businessTransaction":false,"cardHashID":"null","cardTransactionAmount":62,"comments":"Bank transfer wallet credit","complianceStatus":"RFI_REQUESTED","createdAt":"2021-03-26 14:22:48","currentWithHoldingBalance":0,"dateOfTransaction":"2021-03-26","debit":false,"effectiveAuthAmount":62,"labels":{"bankReferenceNumber":"DUMMYBANKREF","destinationCountry":"SG","iccPayMode":"FAST","iccReceivedAt":"2019-04-15T12:26:01.31Z","iccSource":"DBSSG","remitterAccountNumber":"9876","remitterBankName":"Bank of Singapore","remitterName":"Paul Walker","uniquePayerId":"DBS cards","uniquePaymentId":"8850932067971"},"localDate":"null","localTime":"null","maskedCardNumber":"null","mcc":"null","merchantCategory":"","merchantCity":"null","merchantCountry":"null","merchantID":"null","merchantLatitude":"null","merchantLongitude":"null","merchantName":"null","merchantNameLocation":"null","merchantTaggedName":"null","merchantZoomIndex":"null","originalAuthorizationCode":"null","partnerReferenceNumber":"null","paymentInstrumentHashId":"null","posConditionCode":"null","posEntryCapabilityCode":"null","posEntryMode":"1020","previousBalance":1191,"processingCode":"null","receiptFileName":"null","receiptType":"null","retrievalReferenceNumber":"FW4526424507","rfiDetails":[{"description":"agreementOfSale","documentType":"POA","mandatory":true,"remarks":"Provide an agreement for sale","requiredData":[{"fieldLabel":"Agreement Of Sale","fieldValue":"identificationDocument","type":"document"}],"rfiHashId":"9c28bbfb-4c83-44cb-9a07-8e9f0596558a","rfiId":"8261ad61-bac1-4987-9ef4-a4dab9a516f1","rfiStatus":"RFI_RESPONDED","transactionEntityType":"DEBTOR","type":"document"}],"rhaTransactionId":"null","settlementAmount":62,"settlementAuthAmount":62,"settlementDate":"null","settlementStatus":"UNSETTLED","settlementTransactionAmount":62,"status":"PENDING","systemTraceAuditNumber":"FW4526424507","terminalID":"null","transactionCurrencyCode":"SGD","transactionReplacementAmount":0,"transactionType":"Wallet_Credit_Mode_Offline","updatedAt":"2021-03-26 14:22:54"}],"totalElements":1,"totalPages":1}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"BadRequest"},"401":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"Not Found"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"Internal Server Error"}},"tags":["Customer Wallet Transactions"],"deprecated":false,"description":"Use this endpoint to fetch transaction details for a customer.","operationId":"Transactions","summary":"Transactions","x-info":{"apiType":"external"},"security":[{"default":[]}]}},"/api/v1/client/{clientHashId}/customer/{customerHashId}/wallet/{walletHashId}/transactions/{transactionId}/business":{"put":{"parameters":[{"description":"Unique client identifier generated and shared before API handshake.","in":"path","name":"clientHashId","required":true,"schema":{"type":"string","example":"{{clientHashId}}"}},{"description":"Unique customer identifier generated on customer creation.","in":"path","name":"customerHashId","required":true,"schema":{"type":"string"}},{"description":"Unique 36 character transaction identifier generated for each transaction.","in":"path","name":"transactionId","required":true,"schema":{"type":"string"}},{"description":"Unique wallet identifier generated simultaneously with customer creation.","in":"path","name":"walletHashId","required":true,"schema":{"type":"string"}},{"description":"Enter a unique UUID value.","in":"header","name":"x-request-id","schema":{"type":"string","example":"{{$guid}}"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"BadRequest"},"401":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"Not Found"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"Internal Server Error"}},"tags":["Customer Wallet Transactions"],"deprecated":false,"description":"This endpoint enables you to flag transactions as business transactions.","operationId":"UpdateBusinessTransactionFlag","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionsBusinessDTO"}}},"description":"transactionsBusinessDTO","required":true},"summary":"Update Business Transaction Flag","x-info":{"apiType":"external"},"security":[{"default":[]}]}},"/api/v1/client/{clientHashId}/customer/{customerHashId}/wallet/{walletHashId}/transactions/{transactionId}/location":{"put":{"parameters":[{"description":"Unique client identifier generated and shared before API handshake.","in":"path","name":"clientHashId","required":true,"schema":{"type":"string","example":"{{clientHashId}}"}},{"description":"Unique customer identifier generated on customer creation.","in":"path","name":"customerHashId","required":true,"schema":{"type":"string"}},{"description":"Unique 36 character transaction identifier generated for each transaction.","in":"path","name":"transactionId","required":true,"schema":{"type":"string"}},{"description":"Unique wallet identifier generated simultaneously with customer creation.","in":"path","name":"walletHashId","required":true,"schema":{"type":"string"}},{"description":"Enter a unique UUID value","in":"header","name":"x-request-id","schema":{"type":"string","example":"{{$guid}}"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"BadRequest"},"401":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"Not Found"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"Internal Server Error"}},"tags":["Customer Wallet Transactions"],"deprecated":false,"description":"This endpoint enables you to update transactions with the merchant's location.","operationId":"TransactionGeo-Tagging","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionsLocationDTO"}}},"description":"transactionsLocationDTO","required":true},"summary":"Transaction Geo-Tagging","x-info":{"apiType":"external"},"security":[{"default":[]}]}},"/api/v1/client/{clientHashId}/customer/{customerHashId}/wallet/{walletHashId}/transactions/{transactionId}/receipt":{"get":{"parameters":[{"description":"Unique client identifier generated and shared before API handshake.","in":"path","name":"clientHashId","required":true,"schema":{"type":"string","example":"{{clientHashId}}"}},{"description":"Unique customer identifier generated on customer creation.","in":"path","name":"customerHashId","required":true,"schema":{"type":"string"}},{"description":"Unique 36 character transaction identifier generated for each transaction.","in":"path","name":"transactionId","required":true,"schema":{"type":"string"}},{"description":"Unique wallet identifier generated simultaneously with customer creation.","in":"path","name":"walletHashId","required":true,"schema":{"type":"string"}},{"description":"Enter a unique UUID value","in":"header","name":"x-request-id","schema":{"type":"string","example":"{{$guid}}"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/TransactionsReceiptDTO"}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"BadRequest"},"401":{"content":{"*/*":{"schema":{"type":"string"}}},"description":"Unauthorized"},"403":{"content":{"*/*":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"Not Found"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"Internal Server Error"}},"tags":["Customer Wallet Transactions"],"deprecated":false,"description":"This endppint enables you to download a receipt for any transaction.","operationId":"DownloadTransactionReceipt","summary":"Download Transaction Receipt","x-info":{"apiType":"external"},"security":[{"default":[]}]},"post":{"parameters":[{"description":"Unique client identifier generated and shared before API handshake.","in":"path","name":"clientHashId","required":true,"schema":{"type":"string","example":"{{clientHashId}}"}},{"description":"Unique customer identifier generated on customer creation.","in":"path","name":"customerHashId","required":true,"schema":{"type":"string"}},{"description":"Unique 36 character transaction identifier generated for each transaction.","in":"path","name":"transactionId","required":true,"schema":{"type":"string"}},{"description":"Unique wallet identifier generated simultaneously with customer creation.","in":"path","name":"walletHashId","required":true,"schema":{"type":"string"}},{"description":"Enter a unique UUID value","in":"header","name":"x-request-id","schema":{"type":"string","example":"{{$guid}}"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"BadRequest"},"401":{"content":{"*/*":{"schema":{"type":"string"}}},"description":"Unauthorized"},"403":{"content":{"*/*":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"Not Found"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"Internal Server Error"}},"tags":["Customer Wallet Transactions"],"deprecated":false,"description":"This endpoint enables you to upload a receipt for any transaction.","operationId":"UploadTransactionReceipt","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionsReceiptDTO"}}},"description":"transactionReceipt","required":true},"summary":"Upload Transaction Receipt","x-info":{"apiType":"external"},"security":[{"default":[]}]}},"/api/v1/client/{clientHashId}/customer/{customerHashId}/wallet/{walletHashId}/transactions/{transactionId}/tags":{"post":{"parameters":[{"description":"Unique client identifier generated and shared before API handshake.","in":"path","name":"clientHashId","required":true,"schema":{"type":"string","example":"{{clientHashId}}"}},{"description":"Unique customer identifier generated on customer creation.","in":"path","name":"customerHashId","required":true,"schema":{"type":"string"}},{"description":"Unique 36 character transaction identifier generated for each transaction.","in":"path","name":"transactionId","required":true,"schema":{"type":"string"}},{"description":"Unique wallet identifier generated simultaneously with customer creation.","in":"path","name":"walletHashId","required":true,"schema":{"type":"string"}},{"description":"Enter a unique UUID value.","in":"header","name":"x-request-id","schema":{"type":"string","example":"{{$guid}}"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/TransactionClientTagsResponseDTO"}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"BadRequest"},"401":{"content":{"*/*":{"schema":{"type":"string"}}},"description":"Unauthorized"},"403":{"content":{"*/*":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"Not Found"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"Internal Server Error"}},"tags":["Customer Wallet Transactions"],"deprecated":false,"description":"This API enables you to add, update, and delete transaction tags.","operationId":"ManageTransactionTags","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionClientTagsRequestDTO"}}},"description":"tags","required":true},"summary":"Manage Transaction Tags","x-info":{"apiType":"external"},"security":[{"default":[]}]}}},"components":{"schemas":{"Standard404Error":{"properties":{"code":{"enum":["resource_not_found"],"type":"string"},"description":{"type":"string"}},"title":"Standard404Error","type":"object"},"AddWalletRequestDTO":{"properties":{"tags":{"description":"This object contains the user defined key-value pairs provided by the client. The maximum number of tags allowed is 15.","items":{"$ref":"#/components/schemas/WalletTag"},"type":"array"},"currencies":{"description":"The list of currencies that the wallet will use. Currencies should be submitted as the [3-letter ISO-4217 currency code](https://www.currency-iso.org/en/home/tables/table-a1.html).","items":{"type":"string"},"type":"array"},"intendedUseOfAccount":{"description":"The customer's intended use of the wallet.","example":"For Sales department","type":"string"},"name":{"description":"A description to identify the balance held in the wallet.","example":"Regional balance","type":"string"}},"title":"AddWalletRequestDTO","type":"object"},"WalletApiError":{"properties":{"errors":{"description":"List of returned errors.","example":["field1 is not valid","field2 is not valid"],"items":{"type":"string"},"type":"array"},"message":{"description":"Description of returned error messages.","example":"Error message descriptor.","type":"string"},"status":{"description":"HttpStatus of the request : BAD_REQUEST, INTERNAL_SERVER_ERROR.","enum":["200 OK","400 BAD_REQUEST","403 FORBIDDEN","404 NOT_FOUND","500 INTERNAL_SERVER_ERROR","502 BAD_GATEWAY","503 SERVICE_UNAVAILABLE"],"example":"BAD_REQUEST","type":"string"}},"title":"ApiError","type":"object"},"ApiErrorResponse":{"properties":{"code":{"enum":["invalid_client_hash_id","invalid_customer_hash_id","invalid_wallet_hash_id","invalid_card_hash_id","customer_status_not_clear","invalid_currency","currency_not_configured","wallet_creation_limit_exceeds","tags_maximum_limit_exceeded","tag_key_contains_special_chars","unique_tag_key_required","duplicate_client_transaction_config","invalid_client_transaction_config","invalid_transaction_category","invalid_transaction_type","wallet_currency_already_exists","invalid_permission_to_override_customer_fee","invalid_customer_fee_for_individual","invalid_fee_type_for_customer_level","invalid_FX_markup_flat_fee","invalid_customer_fee_currency","invalid_customer_fee_status","fee_already_defined_for_auth_currency","invalid_transaction_currency","invalid_fee_currency","customer_fee_above_threshold","fee_currency_should_not_be_any","customer_fee_does_not_exists","customer_fee_update_not_allowed_for_region","customer_fee_already_exists","wallet_currency_removal_not_allowed","invalid_system_reference_number","invalid_status_for_remittance_cancel","wallet_creation_not_allowed","invalid_input","resource_not_found","invalid_date_range"],"type":"string"},"description":{"type":"string"},"field":{"type":"string"}},"title":"ApiErrorResponse","type":"object"},"ClientCustomTagDTO":{"properties":{"key":{"description":"The name of the tag.\nThe maximum character length for `keys` is 128 characters.","type":"string"},"value":{"description":"The value of the tag.\nThe maximum character length for values is 256 characters.","type":"string"}},"title":"Client custom tag","type":"object"},"CurrencyDetail":{"properties":{"balance":{"description":"Current balance in the currency.","example":10,"format":"double","type":"number"},"code":{"description":"The 3-letter [ISO-4217 currency code](doc:currency-and-country-codes) for the currency.","example":"SGD","type":"string"},"default":{"description":"This field describes if the currency is a base currency or not.","example":true,"type":"boolean"},"withHoldingBalance":{"description":"The amount withheld for debiting the wallet.","example":10,"format":"double","type":"number"}},"title":"CurrencyDetail","type":"object"},"DeviceDetailsDTO":{"properties":{"countryIP":{"description":"Accepts the country IP address of the device the customer is using to initate the request.","example":"66.249.74.64","type":"string"},"deviceInfo":{"description":"This field accepts the details of the device the customer used to initate the request.","example":"macOS","type":"string"},"ipAddress":{"description":"The IP address of the device the customer is using to initate the request.","example":"45.48.241.198","type":"string"},"sessionId":{"description":"The session ID of the instance the customer is initiating.","example":"40531ac01a6f11edafc28dba55d51275","type":"string"}},"title":"Device details","type":"object"},"FundTransferRequestDTO":{"properties":{"tags":{"items":{"$ref":"#/components/schemas/ClientCustomTagDTO"},"type":"array"},"authenticationCode":{"description":"Accepts the authentication code generated as part of SCA (Strong Customer Authentication).\nNote: Authentication code is expected if regulatory region is UK or EU.","example":"authCode","type":"string"},"customerComments":{"description":"Accepts customer comments for wallet to wallet transfers.","example":"Paid for lunch","type":"string"},"destinationAmount":{"description":"The amount to be transferred.","example":50,"format":"double","type":"number"},"destinationCurrencyCode":{"description":"Accepts the 3-letter [ISO-4217 currency code](doc:currency-and-country-codes) for the amount.","example":"SGD","type":"string"},"destinationWalletHashId":{"description":"The walletHashId of Nium’s customer who is the recepient of the funds.","example":"c69f684f-a306-4c4a-8daa-1e91ce7c85f8","type":"string"},"deviceDetails":{"$ref":"#/components/schemas/DeviceDetailsDTO","description":"Accepts the device and IP details for the transaction."},"exemptionCode":{"description":"Accepts the reason code for the exemption provided as part of SCA (Strong Customer Authentication). Accepted values include:\n01 - Trusted Beneficiary\n02 - Low Value Transaction\n03 - Recurring Transactions\n04 - Payment to Self\n\nNote: Exemption code is required if regulatory region is UK or EU","example":"01","type":"string"},"purposeCode":{"description":"Accepts the purpose code for the payment. Refer to the [Glossary of Purpose Codes](doc:purpose-of-transfer-codes) For the value to include.","example":"IR01802","type":"string"},"sourceAmount":{"description":"The amount to be transferred.","example":50,"format":"double","type":"number"},"sourceCurrencyCode":{"description":"Accepts the 3-letter [ISO-4217 currency code](doc:currency-and-country-codes) for the amount.","example":"SGD","type":"string"}},"required":["destinationAmount","destinationCurrencyCode","destinationWalletHashId","purposeCode","sourceAmount","sourceCurrencyCode"],"title":"FundTransferRequestDTO","type":"object"},"FundTransferResponse":{"properties":{"message":{"description":"Provides more details about the returned error. Returns null is there are no errors.","example":"null","type":"string"},"status":{"description":"The status of the transfer.","enum":["ACTIVE","INACTIVE","BLOCKED","SUSPENDED","UPLOADED","APPROVED","REJECTED","FAILED","SUCCESS","FAILURE","PARTIALLY SUCCESS","SYNC","NOT SYNC","PENDING","REQUIRES_ACTION","CLEAR","DECLINED","ACCOUNT_BLOCKED","AMOUNT_BLOCKED"],"example":"APPROVED","type":"string"},"systemReferenceNumber":{"description":"The transaction reference number generated by the card issuance platform.","example":"FT6449832977","type":"string"}},"title":"FundTransferResponse","type":"object"},"MerchantCategoryResponseDTO2":{"properties":{"description":{"description":"Description of the MCC.","example":"Ice cream shops, Fast Food Restaurants","type":"string"},"mccCode":{"description":"The four-digit Visa Merchant Category Code.","example":"5814","type":"string"},"merchantCategory":{"description":"Nium's categorization of the  MCC.","example":"Food n Beverage","type":"string"}},"title":"Merchant category response","type":"object"},"P2PTransferDTO":{"properties":{"amount":{"description":"The amount in the destination currency to transfer.","example":50,"format":"double","type":"number"},"authenticationCode":{"description":"Accepts the authentication code generated as part of SCA (Strong Customer Authentication).\nNote: Authentication code is expected if regulatory region is UK or EU.","example":"authCode","type":"string"},"countryIP":{"type":"string"},"currencyCode":{"description":"Accepts the 3-letter [ISO-4217 currency code](doc:currency-and-country-codes) for the amount.","example":"SGD","type":"string"},"customerComments":{"description":"Accepts customer comments for the P2P transfer.\nMaximum character limit is 512","example":"Paid for lunch","type":"string"},"destinationWalletHashId":{"description":"The wallet hash Id under the same client which will receive the funds.","example":"c69f684f-a306-4c4a-8daa-1e91ce7c85f8","type":"string"},"deviceInfo":{"type":"string"},"exemptionCode":{"description":"Accepts the reason code for the exemption provided as part of SCA (Strong Customer Authentication), which can be one of the following values:\n01 - Trusted Beneficiary\n02 - Low Value Transaction\n03 - Recurring Transactions\n04 - Payment to Self\n\nNote: Exemption code is expected if regulatory region is UK or EU","example":"01","type":"string"},"ipAddress":{"type":"string"},"sessionId":{"type":"string"}},"required":["amount","currencyCode","destinationWalletHashId"],"title":"P2P transfer","type":"object"},"P2PTransferResponse":{"properties":{"message":{"description":"Provides more details about the returned error. Returns null is there are no errors.","example":"null","type":"string"},"retrievalReferenceNumber":{"description":"Unique auth code generated for the transaction by the card issuance platform. This field will be deprecated in future. Clients should use `systemReferenceNumber` instead.","example":"FT6449832977","type":"string"},"status":{"description":"The status of the transfer.","enum":["ACTIVE","INACTIVE","BLOCKED","SUSPENDED","UPLOADED","APPROVED","REJECTED","FAILED","SUCCESS","FAILURE","PARTIALLY SUCCESS","SYNC","NOT SYNC","PENDING","REQUIRES_ACTION","CLEAR","DECLINED","ACCOUNT_BLOCKED","AMOUNT_BLOCKED"],"example":"APPROVED","type":"string"},"success":{"description":"Details if the transfer was successful. or not.","example":true,"type":"boolean"},"systemReferenceNumber":{"description":"The transaction reference number generated by the card issuance platform.","example":"FT6449832977","type":"string"}},"title":"P2P transfer response","type":"object"},"WalletRfiAttributeResponse":{"properties":{"label":{"description":"The field label for the RFI.","type":"string"},"type":{"description":"Details the field type. Available values include data or document.","type":"string"},"value":{"description":"The field value for the RFI. This will be used while responding to transaction RFI.","type":"string"}},"title":"RfiAttributeResponse","type":"object"},"WalletStandard500Error":{"properties":{"code":{"enum":["internal_error","external_dependent_system_failed"],"type":"string"},"description":{"enum":["An internal error occurred"],"type":"string"}},"title":"Standard500Error","type":"object"},"TransactionClientTagRequestDTO":{"properties":{"action":{"description":"Define the operation that needs to be performed. Available values include:\n**DELETE**: When tag needs to be deleted.\n**MAINTAIN**: When tags need to be added or updated.","enum":["MAINTAIN","DELETE"],"type":"string"},"key":{"description":"The name of the tag.\nThe maximum character length for `keys` is 128 characters.","type":"string"},"value":{"description":"The value of the tag.\nThe maximum character length for values is 256 characters.","type":"string"}},"required":["action","key"],"title":"Transaction client tag request","type":"object"},"TransactionClientTagResponseDTO":{"properties":{"key":{"type":"string"},"message":{"type":"string"}},"title":"Transaction client tag response","type":"object"},"TransactionClientTagsRequestDTO":{"properties":{"tags":{"description":"This object accepts the user defined key-value pairs.\nThe maximum number of tags allowed is 15.","items":{"$ref":"#/components/schemas/TransactionClientTagRequestDTO"},"type":"array"}},"required":["tags"],"title":"Transaction client tags request","type":"object"},"TransactionClientTagsResponseDTO":{"properties":{"tags":{"items":{"$ref":"#/components/schemas/TransactionClientTagResponseDTO"},"type":"array"}},"title":"Transaction client tags response","type":"object"},"TransactionResponseDTO":{"properties":{"tags":{"additionalProperties":{"type":"string"},"description":"Contains the user defined key-value pairs provided by the client.","type":"object"},"acquirerCountryCode":{"description":"The country code of the acquirer.","type":"string"},"acquiringInstitutionCode":{"description":"The acquiring institution code that identifies the financial institution acting as the acquirer of the transaction.","type":"string"},"authAmount":{"description":"The authorization amount of the transaction.","format":"double","type":"number"},"authCode":{"description":"The authorization code of the transaction.","type":"string"},"authCurrencyCode":{"description":"The 3-letter [ISO-4217 currency code](doc:currency-and-country-codes) of the auth currency, the currency in which amount is deducted from wallet.","type":"string"},"billingAmount":{"description":"The equivalent transaction amount in base currency.","format":"double","type":"number"},"billingConversionRate":{"description":"The conversion rate of transaction currency to billing currency; included with all card transactions.","type":"string"},"billingCurrencyCode":{"description":"The 3-letter [ISO-4217 currency code](doc:currency-and-country-codes) for the billing currency or base currency.","type":"string"},"billingReplacementAmount":{"description":"The corrected amount of a transaction in a partial reversal. This is defined by ISO-8583 as a fixed length field with four subfields, but only the first subfield is used. A 12 position field for the corrected, billing amount of a customer's transaction, in the billing currency. The field is right justified, with lead zero fill.","format":"double","type":"number"},"businessTransaction":{"description":"Mark or unmark a transaction as a business transaction.","type":"boolean"},"cardHashID":{"description":"The unique card identifier generated while new/add-on card issuance.","type":"string"},"cardTransactionAmount":{"description":"The amount of a card transaction.","format":"double","type":"number"},"childCustomerHashId":{"description":"This field refers to a unique identifier, known as customerHashId, assigned to an individual customer who is associated with a corporate customer at the parent level. This ID helps distinguish and track the child-level customer within a given client's program. Using this ID, you can link the child customer and their parent corporate customer, ensuring accurate management of customer data.","type":"string"},"clientHashId":{"description":"Unique client identifier generated and shared before API handshake.","type":"string"},"comments":{"description":"Auto-generated comments with details on the transactions such as the reason for a decline.","type":"string"},"complianceStatus":{"description":"This field contains the compliance status of the transaction. Available values include: NULL\nIN_PROGRESS\nACTION_REQUIRED\nRFI_REQUESTED\nRFI_RESPONDED\nCOMPLETED\nERROR\nREJECT\nEXPIRED","enum":["NONE","IN_PROGRESS","COMPLETED","ACTION_REQUIRED","ERROR","REJECT","EXPIRED","RFI_REQUESTED","RFI_RESPONDED","UNKNOWN","INITIATED","PENDING","CLEAR","CLOSED"],"type":"string"},"createdAt":{"description":"The date and time of when the transaction was created in UTC.","format":"date-time","type":"string"},"currentWithHoldingBalance":{"description":"This field will be deprecated in the future.","format":"double","type":"number"},"customerHashId":{"description":"Unique customer identifier generated on customer creation.","type":"string"},"dateOfTransaction":{"description":"The date when the transaction occurred in yyyy-MM-dd format.","format":"date-time","type":"string"},"debit":{"description":"Details if the transaction is a debit transaction.","type":"boolean"},"effectiveAuthAmount":{"description":"The effective authorization amount which includes fees, markup, etc.","format":"double","type":"number"},"labels":{"additionalProperties":{"type":"string"},"description":"This object will contain different key-value pairs depending on the type of transaction. This object contains different labels based on the type of transaction. The list will change over time depending on different use-cases. For more information, see [Glossary of Labels](/apis/docs/transaction-response-labels).","type":"object"},"localDate":{"description":"The local date of the transaction.","type":"string"},"localTime":{"description":"The local time of the transaction.","type":"string"},"maskedCardNumber":{"description":"The 16-digit masked card number in format 1234-56xx-xxxx-3456.","type":"string"},"mcc":{"description":"The four-digit Merchant Category Code.","type":"string"},"merchantCategory":{"description":"The merchant category such as Airlines, Hotels, Shopping, etc.","type":"string"},"merchantCity":{"description":"The name of the merchant's city.","type":"string"},"merchantCountry":{"description":"The country of the merchant.","type":"string"},"merchantID":{"description":"The unique merchant identifier.","type":"string"},"merchantLatitude":{"description":"The latitude of the merchant captured during geo-tagging.","type":"string"},"merchantLongitude":{"description":"The longitude of the merchant captured during geo-tagging.","type":"string"},"merchantName":{"description":"The name of the merchant.","type":"string"},"merchantNameLocation":{"description":"The full name of the merchant and location data as received from network.","type":"string"},"merchantTaggedName":{"description":"The tagged name of the merchant.","type":"string"},"merchantZoomIndex":{"description":"The merchant map zoom index.","type":"string"},"originalAuthorizationCode":{"description":"The authorization code of the original transaction in case of reversal.","type":"string"},"partnerReferenceNumber":{"description":"This field contains the identifier provided by an RHA client in response to an authorization.","type":"string"},"paymentInstrumentHashId":{"description":"The unique payment instrument identifier generated for the linked card.","type":"string"},"posConditionCode":{"description":"The pos condition code that describes how the transaction took place at the point of service.\n00 - Normal transaction\n01 - Cardholder not present\n03 - Merchant suspicious\n08 - Mail/telephone order\n51 - Account Verification Message(AVM)\n55 - ICC Capable Branch ATM\n59 - Electronic Commerce\n90 - Recurring Payment","type":"string"},"posEntryCapabilityCode":{"description":"Provides details about the terminal used at the point of service. Types of terminal field values include: 0 - Unspecified\n2 - Unattended terminal(customer-operated)\n4 - Electronic cash register\n7 - Telephone device\n8 - MCAS device\n9 - Mobile acceptance solution(mPOS)\nCapability of terminal field values include:\n0 - Unspecified\n1 - Terminal not used\n2 - Magnetic stripe read capability\n3 - Bar code read capability\n4 - OCR read capability\n5 - Integrated circuit card read capability\n9 - Terminal does not read card data\n","type":"string"},"posEntryMode":{"description":"This field contains the pos entry code that identifies the actual method used to capture the account number and expiration date, and the PIN capture capability of the terminal. This is a fixed‑length field with three subfields:\n1. Positions 1‑2 - PAN and Date Entry Mode: This is a two‑digit code that identifies the actual method used at the point of service to enter the cardholder account number and card expiry date.\n00 - Unknown\n01 - Keyed transaction\n02 - Magnetic stripe read\n05 - Chip was read at the terminal\n07 - Contactless\n90 - Magnetic stripe read and transmitted unaltered\n91 - Contactless - Magnetic stripe data (MSD) transmitted\n2. Position 3 - PIN Entry Capability: This is a one‑digit code that identifies the capability of the authorization terminal, if one was used, to capture PINs. This coding does not necessarily mean that a PIN was entered or is included in this message:\n0 - Unknown\n1 - Terminal can accept PINs\n2 - Terminal cannot accept PINs\n3 - mPOS terminal can accept software-based PINs (Mastercard only)\n3. Position 4 - Unused(filler): This is one digit of filler, which must be zero.\n","type":"string"},"previousBalance":{"description":"The previous balance in the wallet.","format":"double","type":"number"},"processingCode":{"description":"The processing code is a 6 character Visa field. Refer to the [link](https://en.wikipedia.org/wiki/ISO_8583#Processing_code) for more details on the processing code.","type":"string"},"receiptFileName":{"description":"The name of the receipt file.","type":"string"},"receiptType":{"description":"The receipt type.Expected values are as follows: \nimage/png\nimage/jpg\nimage/jpeg\napplication/pdf","type":"string"},"retrievalReferenceNumber":{"description":"The 12 digit number that is used with other data elements as a key to identify and track all messages related to a given customer transaction.","type":"string"},"rfiDetails":{"description":"An array that holds RFI details.","items":{"$ref":"#/components/schemas/TransactionRfiDetailsResponse"},"type":"array"},"rhaTransactionId":{"description":"The transaction Id for an RHA client.","type":"string"},"settlementAmount":{"description":"The settlement amount of the transaction. This amount is valid only for a settled transaction.","format":"double","type":"number"},"settlementAuthAmount":{"description":"The settlement authorization amount of a transaction. This amount is valid only for a settled transaction.","format":"double","type":"number"},"settlementBillingAmount":{"format":"double","type":"number"},"settlementCurrency":{"type":"string"},"settlementDate":{"description":"The settlement date in case of a Settled transaction. Otherwise, returns null.","type":"string"},"settlementStatus":{"description":"The settlement status. Available vlues include:\nUnsettled\nSettled\n Released\nDisputed\nDisputeClosed\nWaived","enum":["APPROVED","DECLINED","BLOCKED","SETTLED","UNSETTLED","REVERSAL","RELEASED","PENDING","WAIVED","DISPUTED","DISPUTE_CLOSED","IN_PROGRESS","REJECTED","RETURNED","AWAITING_FUNDS","EXPIRED","CANCELLED","SCHEDULED","NA"],"type":"string"},"settlementTransactionAmount":{"format":"double","type":"number"},"status":{"description":"The status of the transaction. Available values include:\nPending: Transaction authorization is awaiting success or failure.\nApproved: Transaction is successfully authorized.\nRejected: Transaction is rejected due to NIUM risk and compliance policies.\nDeclined: Transaction is declined.\nReversal: Transaction is reversed.\nBlocked: Transaction is blocked","enum":["APPROVED","DECLINED","BLOCKED","SETTLED","UNSETTLED","REVERSAL","RELEASED","PENDING","WAIVED","DISPUTED","DISPUTE_CLOSED","IN_PROGRESS","REJECTED","RETURNED","AWAITING_FUNDS","EXPIRED","CANCELLED","SCHEDULED","NA"],"type":"string"},"systemTraceAuditNumber":{"description":"The system trace audit number assigned to uniquely identify transactions.","type":"string"},"terminalID":{"description":"The unique terminal ID.","type":"string"},"transactionCurrencyCode":{"description":"The 3-letter [ISO-4217 currency code](doc:currency-and-country-codes) for the transaction currency.","type":"string"},"transactionReplacementAmount":{"description":"The corrected amount of a transaction in a partial reversal. This is defined by ISO-8583 as a fixed length field with four subfields, but only the first subfield is used. A 12 position field for the corrected, actual amount of a customer's transaction, in the transaction currency. The field is right justified, with lead zero fill.","format":"double","type":"number"},"transactionType":{"description":"The type of transaction. Can be any one of the list of transaction types mentioned in [Transaction Types](https://docs.nium.com/apis/docs/transaction-types).","enum":["Debit","Reversal","Original_Credit","Original_Credit_Reversal","Balance_Inquiry","Partial_Reversal","Reversal_Advice","Decline_Advice","Incremental_Auth_Reversal","Auto_Sweep","Auto_Sweep_Payout","Auto_Sweep_Payout_Reversal","Settlement_Debit","Settlement_Credit","Settlement_Reversal","Settlement_Direct_Reversal","Settlement_Direct_Debit","Fee_Debit","Fee_Reversal","Fee_Waiver","Client_Prefund","Client_Refund","Wallet_Refund","Wallet_Credit_Mode_Card","Wallet_Credit_Mode_Prefund","Wallet_Credit_Mode_Prefund_Cross_Currency","Wallet_Credit_Mode_Offline","Wallet_Credit_Mode_Offline_Cross_Currency","Wallet_Credit_Mode_Offline_ThirdParty","Wallet_Credit_Mode_Direct_Debit","Wallet_Credit_Mode_Direct_Debit_Reversal","Customer_Wallet_Credit_Fund_Transfer","Customer_Wallet_Debit_Fund_Transfer","Wallet_Fund_Transfer","Client_Fund_Transfer","Wallet_Hold","Wallet_Unhold","Remittance_Debit","Remittance_Debit_External","Remittance_Reversal","Remittance_Client_Auto_Sweep","Remittance_Client_Auto_Sweep_Reversal","Remittance_Debit_Prescreening","Remittance_Debit_External_Prescreening","Remittance_Bene_Microdeposit","Remittance_Bene_Microdeposit_Reversal","Regulatory_Auto_Sweep","Regulatory_Block","Regulatory_Block_Release","Regulatory_Debit","Regulatory_Debit_Reversal","Transfer_Local","Transfer_Local_Reversal","Cashback_Credit","Cashback_Credit_Client","Chargeback_Credit","Customer_Wallet_Debit_Intra_Region","Customer_Wallet_Credit_Intra_Region","Customer_Wallet_Debit_Cross_Region","Customer_Wallet_Credit_Cross_Region","Direct_Debit_Payout","Direct_Debit_Payout_Reversal","Invoicing_Debit","NA"],"type":"string"},"updatedAt":{"description":"TThe date and time when the transaction was last updated in UTC.","format":"date-time","type":"string"},"walletHashId":{"description":"The unique wallet identifier generated when a new wallet is created.","type":"string"}},"title":"Transaction response","type":"object"},"TransactionRfiDetailsResponse":{"properties":{"description":{"description":"The description of the RFI.","type":"string"},"documentType":{"description":"The type of the document if applicable, for example, POI, POA, etc.","type":"string"},"mandatory":{"description":"Details if the RFI is required or not.","type":"boolean"},"remarks":{"description":"The remarks that were provided while raising the RFI.","type":"string"},"requiredData":{"description":"An array that contains the required data for the RFI.","items":{"$ref":"#/components/schemas/WalletRfiAttributeResponse"},"type":"array"},"rfiHashId":{"description":"The unique RFI hash ID.","type":"string"},"rfiId":{"description":"The unique identifier for the group of RFI raised for the customer transaction.","type":"string"},"rfiStatus":{"description":"The transaction RFI status.","enum":["NONE","IN_PROGRESS","COMPLETED","ACTION_REQUIRED","ERROR","REJECT","EXPIRED","RFI_REQUESTED","RFI_RESPONDED","UNKNOWN","INITIATED","PENDING","CLEAR","CLOSED"],"type":"string"},"transactionEntityType":{"description":"The type of transaction entity. Available values include:\nDEBTOR\nCREDITOR","enum":["DEBTOR","CREDITOR"],"type":"string"},"type":{"description":"The type of RFI. Available values include document or data.","type":"string"}},"title":"TransactionRfiDetailsResponse","type":"object"},"TransactionsBusinessDTO":{"properties":{"businessTransaction":{"description":"Mark or unmark a transactions as a business transactions.","example":true,"type":"boolean"}},"required":["businessTransaction"],"title":"Transactions business","type":"object"},"TransactionsLocationDTO":{"properties":{"merchantLatitude":{"description":"Accepts the latitude of the merchant's location.","example":"28.532094","type":"string"},"merchantLongitude":{"description":"Accepts the longitude of the merchant's location.","example":"77.01632","type":"string"},"merchantTaggedName":{"description":"Accepts the merchant's tagged name.","example":"STARBUCKS","type":"string"},"merchantZoomIndex":{"description":"Accepts the merchant's map zoom index.","example":"4","type":"string"}},"required":["merchantLatitude","merchantLongitude","merchantTaggedName","merchantZoomIndex"],"title":"Transactions location","type":"object"},"TransactionsReceiptDTO":{"properties":{"document":{"description":"Contains the receipt as uploaded in Base64 encoded format.","example":"iVBORw0KGgoAAAANSUhEU...<Base64 Encoded Image or Document>","type":"string"},"receiptFileName":{"description":"The name of the file as uploaded.","example":"receipt_1.png","type":"string"},"receiptType":{"description":"The file type of the uploaded receipt.","enum":["image/png","image/jpg","image/jpeg","application/pdf"],"example":"image/png","type":"string"}},"required":["document","receiptFileName","receiptType"],"title":"Transactions receipt","type":"object"},"UpdateWalletRequestDTO":{"properties":{"tags":{"items":{"$ref":"#/components/schemas/WalletTag"},"type":"array"},"currencies":{"description":"The list of currencies that the wallet will use. Currencies should be submitted as the [3-letter ISO-4217 currency code](https://www.currency-iso.org/en/home/tables/table-a1.html).","items":{"type":"string"},"type":"array"},"name":{"description":"A description to identify the balance held in the wallet.","example":"Regional wallet","type":"string"}},"title":"UpdateWalletRequestDTO","type":"object"},"WalletBalanceResponseDTO":{"properties":{"balance":{"description":"The available amount in the pocket.","example":10,"format":"double","type":"number"},"curSymbol":{"description":"The 3-letter [ISO-4217 currency code](doc:currency-and-country-codes) for the pocket currency.","example":"SGD","type":"string"},"default":{"type":"boolean"},"isoCode":{"description":"The [3-digit ISO numeric code](https://www.currency-iso.org/en/home/tables/table-a1.html) for the currency.","example":"702","type":"string"},"mccData":{"description":"An array that contains multiple objects; each object is a mccCode for which the pocket has restrictions.","items":{"$ref":"#/components/schemas/MerchantCategoryResponseDTO2"},"type":"array"},"pocketName":{"description":"The name of the pocket as defined under base currency.","example":"Food","type":"string"},"withHoldingBalance":{"description":"The amount blocked by NIUM.","example":10,"format":"double","type":"number"}},"title":"Wallet balance response","type":"object"},"WalletResponseDTO2":{"properties":{"tags":{"additionalProperties":{"type":"string"},"description":"The tags is an map that contains multiple objects. This object contains the below data elements. Please refer the example for exact structure.","type":"object"},"createdAt":{"description":"This field contains the timestamp of wallet creation in the format yyyy-MM-ddTHH:mm:ssZ.","example":"2024-01-14T08:06:49+0000","type":"string"},"currencies":{"description":"The currencies is an array that contains multiple objects. This object contains the below data elements. Please refer the example for exact structure.","items":{"$ref":"#/components/schemas/CurrencyDetail"},"type":"array"},"intendedUseOfAccount":{"description":"This field contains customer's intention to use the account.","example":"For Sales department","type":"string"},"name":{"description":"A description to identify the balance held in the wallet.","example":"Regional wallet","type":"string"},"status":{"description":"Current status of the wallet.","enum":["ACTIVE","INACTIVE","BLOCKED","SUSPENDED","UPLOADED","APPROVED","REJECTED","FAILED","SUCCESS","FAILURE","PARTIALLY SUCCESS","SYNC","NOT SYNC","PENDING","REQUIRES_ACTION","CLEAR","DECLINED","ACCOUNT_BLOCKED","AMOUNT_BLOCKED"],"example":"Active","type":"string"},"updatedAt":{"description":"This field contains the timestamp of wallet updation in the format yyyy-MM-ddTHH:mm:ssZ.","example":"2024-01-14T08:06:49+0000","type":"string"},"walletHashId":{"description":"Unique identifier of the wallet.","example":"c69f684f-a306-4c4a-8daa-1e91ce7c85f8","type":"string"}},"title":"WalletResponseDTO2","type":"object"},"WalletTag":{"properties":{"key":{"description":"The name of the tag.\nThe maximum character length for `keys` is 128 characters.","type":"string"},"value":{"description":"The value of the tag.\nThe maximum character length for values is 256 characters.","type":"string"}},"required":["key"],"title":"WalletTag","type":"object"},"WalletTransactionsResponseDTO":{"properties":{"content":{"items":{"$ref":"#/components/schemas/TransactionResponseDTO"},"type":"array"},"totalElements":{"format":"int64","type":"integer"},"totalPages":{"format":"int32","type":"integer"}},"title":"Wallet transactions response","type":"object"}},"securitySchemes":{"default":{"in":"header","name":"x-api-key","type":"apiKey"}}},"security":[{"default":[]}],"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}