{"openapi":"3.0.3","info":{"contact":{"email":"experience@nium.com","name":"NIUM Platform","url":"https://www.nium.com"},"description":"NIUM Platform","license":{"name":"Copyright (c) 2024 NIUM"},"title":"FX","version":"2024.7.18"},"servers":[{"url":"https://gateway.nium.com/"}],"tags":[{"name":"Rates","description":"The Rates API"},{"name":"Quotes","description":"The Quotes API"},{"name":"Conversions","description":"The Conversions API"},{"name":"Quotes (Previous Version)","description":"The previous version of the Quotes API"},{"name":"Conversions (Previous Version)","description":"The Previous version of the Conversions API"}],"paths":{"/api/v2/exchangeRate":{"get":{"tags":["Rates"],"summary":"Exchange Rate V2","description":"This API fetches the interbank FX rate for a currency pair. Note that the rate provided does not include the Nium markup.","operationId":"ExchangeRateV2","parameters":[{"name":"sourceCurrencyCode","in":"query","description":"This field contains the 3-letter [ISO-4217 currency code](https://www.iso.org/iso-4217-currency-codes.html) for the source amount.","required":true,"schema":{"maxLength":3,"minLength":3,"type":"string"}},{"name":"destinationCurrencyCode","in":"query","description":"This field contains the 3-letter [ISO-4217 currency code](https://www.iso.org/iso-4217-currency-codes.html) for the destination amount.","required":true,"schema":{"maxLength":3,"minLength":3,"type":"string"}},{"description":"Enter a unique UUID value","in":"header","name":"x-request-id","schema":{"type":"string","example":"{{$guid}}"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExchangeRateV2ResponseDto","title":"ExchangeRateV2ResponseDto"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"x-info":{"apiType":"external"},"security":[{"default":[]}]}},"/api/v1/exchangeRates/aggregate":{"get":{"tags":["Rates"],"summary":"Fetch historic aggregated exchange rates","description":"This API will retrieve aggregated time series of historical exchange rate.","operationId":"aggregatedExchangeRates","parameters":[{"$ref":"#/components/parameters/Authorization"},{"$ref":"#/components/parameters/CsrfToken"},{"$ref":"#/components/parameters/SCC_QueryParam"},{"$ref":"#/components/parameters/DCC_QueryParam"},{"name":"start","in":"query","description":"The start timestamp used to filter the aggregated time series. Must be in the format 'yyyy-mm-ddTHH:MM:SSZ'.","schema":{"type":"string","format":"date-time"}},{"name":"end","in":"query","description":"The end timestamp used to filter the aggregated time series. Must be in the format 'yyyy-mm-ddTHH:MM:SSZ'.","schema":{"type":"string","format":"date-time"}},{"name":"window","in":"query","description":"Specifies the field by which the results should be grouped.","schema":{"$ref":"#/components/schemas/Window"}},{"description":"Enter a unique UUID value.","in":"header","name":"x-request-id","schema":{"type":"string","example":"{{$guid}}"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"examples":{"By_Hour":{"summary":"Aggregated By Hour","value":{"sourceCurrencyCode":"USD","destinationCurrencyCode":"SGD","start":"2022-10-10T10:00:00.000Z","end":"2022-10-10T12:00:00.000Z","window":"1_hour","exchangeRates":[{"average":1.399889513,"min":1.374944574,"max":1.398566593,"time":"2022-10-10T10:00:00Z"},{"average":1.374467773,"min":1.343376816,"max":1.321947227,"time":"2022-10-10T11:00:00Z"},{"average":1.328672475,"min":1.335772491,"max":1.341418158,"time":"2022-10-10T12:00:00Z"}]}},"By_Day":{"summary":"Aggregated By Day","value":{"sourceCurrencyCode":"USD","destinationCurrencyCode":"SGD","start":"2022-10-11T00:00:00.000Z","end":"2022-10-14T00:00:00.000Z","window":"1_day","exchangeRates":[{"average":1.399889513,"min":1.374944574,"max":1.398566593,"time":"2022-10-11T00:00:00Z"},{"average":1.374467773,"min":1.343376816,"max":1.321947227,"time":"2022-10-12T00:00:00Z"},{"average":1.328672475,"min":1.335772491,"max":1.341418158,"time":"2022-10-13T00:00:00Z"},{"average":1.376544187,"min":1.376772491,"max":1.376418158,"time":"2022-10-14T00:00:00Z"}]}}},"schema":{"$ref":"#/components/schemas/ExchangeRatesGetResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"500":{"$ref":"#/components/responses/InternalError"}},"deprecated":false,"x-info":{"apiType":"external"},"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited","security":[{"default":[]}]}},"/api/v1/client/{clientHashId}/quotes":{"post":{"tags":["Quotes"],"summary":"Create Quote","description":"This API creates an FX quote for a currency pair according to the desired lock period and conversion schedule. The FX rate provided by this API includes the Nium markup and can be utilized for any FX conversion within the quote's validity period.","operationId":"createQuote","parameters":[{"name":"clientHashId","in":"path","description":"Unique identifier of the client.","required":true,"style":"simple","explode":false,"schema":{"$ref":"#/components/schemas/CoreApiHashId","example":"abc12345-5d6e-0a8b-c8d7-3a7706a0c312"}},{"description":"Enter a unique UUID value","in":"header","name":"x-request-id","schema":{"type":"string","example":"{{$guid}}"}}],"requestBody":{"description":"quoteCreationRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuoteCreationRequest"},"examples":{"With_No_Amount":{"value":{"quoteType":"balance_transfer","lockPeriod":"5_mins","conversionSchedule":"immediate","sourceCurrencyCode":"USD","destinationCurrencyCode":"SGD","customerHashId":"abc12345-5d6e-0a8b-c8d7-3a7706a0c312","executionType":"at_conversion_time"},"summary":"With No Amount"},"With_Source_Amount":{"value":{"quoteType":"balance_transfer","lockPeriod":"5_mins","sourceAmount":100,"conversionSchedule":"immediate","sourceCurrencyCode":"USD","destinationCurrencyCode":"SGD","customerHashId":"abc12345-5d6e-0a8b-c8d7-3a7706a0c312","executionType":"at_conversion_time"},"summary":"With Source Amount"},"With_Destination_Amount":{"value":{"quoteType":"balance_transfer","lockPeriod":"5_mins","destinationAmount":100,"conversionSchedule":"immediate","sourceCurrencyCode":"USD","destinationCurrencyCode":"SGD","customerHashId":"abc12345-5d6e-0a8b-c8d7-3a7706a0c312","executionType":"at_conversion_time"},"summary":"With Destination Amount"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuoteCreationResponse","title":"QuoteCreationResponse"},"examples":{"With_Amount":{"value":{"id":"quote_6wBIHIRhPElAHfcgVaDFZs","netExchangeRate":1.3279389,"expiryTime":"2023-06-16T05:07:03Z","sourceCurrencyCode":"USD","destinationCurrencyCode":"SGD","quoteType":"balance_transfer","conversionSchedule":"immediate","lockPeriod":"5_mins","executionType":"at_conversion_time","exchangeRate":1.3373,"markupRate":0.0093611,"clientMarkupRate":0.0083611,"customerHashId":"abc12345-5d6e-0a8b-c8d7-3a7706a0c312","rateCaptureTime":"2023-06-16T01:02:03Z","sourceAmount":100,"destinationAmount":132.79,"destinationMarkupAmount":0.94,"createdTime":"2023-06-16T05:02:03Z"},"summary":"With Amounts"},"With_ECB_Rate":{"value":{"id":"quote_6wBIHIRhPElAHfcgVaDFZs","netExchangeRate":0.9075027,"expiryTime":"2023-06-16T05:07:03Z","sourceCurrencyCode":"EUR","destinationCurrencyCode":"SGD","quoteType":"balance_transfer","conversionSchedule":"immediate","lockPeriod":"5_mins","executionType":"at_conversion_time","exchangeRate":0.9139,"markupRate":0.0063973,"clientMarkupRate":0.0053973,"customerHashId":"abc12345-5d6e-0a8b-c8d7-3a7706a0c312","ecbExchangeRate":0.9139,"rateCaptureTime":"2023-06-16T01:02:03Z","sourceAmount":100,"destinationAmount":90.75,"destinationMarkupAmount":0.64,"createdTime":"2023-06-16T05:02:03Z"},"summary":"With ECB Rate"},"With_No_Amount":{"value":{"id":"quote_6wBIHIRhPElAHfcgVaDFZs","netExchangeRate":1.3279389,"expiryTime":"2023-06-16T05:07:03Z","sourceCurrencyCode":"USD","destinationCurrencyCode":"SGD","quoteType":"balance_transfer","conversionSchedule":"immediate","lockPeriod":"5_mins","executionType":"at_conversion_time","exchangeRate":1.3373,"markupRate":0.0093611,"clientMarkupRate":0.0083611,"customerHashId":"abc12345-5d6e-0a8b-c8d7-3a7706a0c312","rateCaptureTime":"2023-06-16T01:02:03Z","createdTime":"2023-06-16T05:02:03Z"},"summary":"With No Amount"},"When_Stale_Rate":{"summary":"When Stale Rate","value":{"id":"quote_6wBIHIRhPElAHfcgVaDFZs","netExchangeRate":1.3279389,"expiryTime":"2023-06-16T05:07:03Z","sourceCurrencyCode":"USD","destinationCurrencyCode":"SGD","quoteType":"balance_transfer","conversionSchedule":"immediate","lockPeriod":"5_mins","executionType":"at_conversion_time","exchangeRate":1.3373,"markupRate":0.0093611,"clientMarkupRate":0.0083611,"customerHashId":"abc12345-5d6e-0a8b-c8d7-3a7706a0c312","rateCaptureTime":"2023-06-14T01:02:03Z","sourceAmount":100,"destinationAmount":132.79,"destinationMarkupAmount":0.94,"createdTime":"2023-06-16T05:02:03Z","isRateStale":true}}}}}},"400":{"description":"Error response when the request format is invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateQuoteErrorResponse"}}}},"401":{"description":"Error response when the request is unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FXStandard401Error"}}}},"403":{"description":"Error response when the requested resource is forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FXStandard403Error"}}}},"404":{"description":"Error response when the requested resource cannot be found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Descriptive404Error"}}}},"500":{"description":"Error response when service has internal error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FXStandard500Error"}}}}},"deprecated":false,"x-info":{"apiType":"external"},"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited","x-codegen-request-body-name":"QuoteCreationRequest","security":[{"default":[]}]}},"/api/v1/client/{clientHashId}/quotes/{quoteId}":{"get":{"tags":["Quotes"],"summary":"Fetch Quote by ID","description":"This API allows to fetch a quote. A quote is used to identify the exchange rate, and associated markup and fees.","operationId":"fetchQuote","parameters":[{"name":"clientHashId","in":"path","description":"Unique identifier of the client.","required":true,"style":"simple","explode":false,"schema":{"$ref":"#/components/schemas/CoreApiHashId","example":"abc12345-5d6e-0a8b-c8d7-3a7706a0c312"}},{"name":"quoteId","in":"path","required":true,"style":"simple","explode":false,"schema":{"$ref":"#/components/schemas/QuoteId","description":"Unique identifier of the quote.","example":"quote_1234567890abcdefABCDEF"}},{"description":"Enter a unique UUID value","in":"header","name":"x-request-id","schema":{"type":"string","example":"{{$guid}}"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuoteCreationResponse","title":"QuoteCreationResponse"},"examples":{"With_Amount":{"value":{"id":"quote_6wBIHIRhPElAHfcgVaDFZs","netExchangeRate":1.3279389,"expiryTime":"2023-06-16T05:07:03Z","sourceCurrencyCode":"USD","destinationCurrencyCode":"SGD","quoteType":"balance_transfer","conversionSchedule":"immediate","lockPeriod":"5_mins","executionType":"at_conversion_time","exchangeRate":1.3373,"markupRate":0.0093611,"clientMarkupRate":0.0083611,"customerHashId":"abc12345-5d6e-0a8b-c8d7-3a7706a0c312","rateCaptureTime":"2023-06-16T01:02:03Z","sourceAmount":100,"destinationAmount":132.79,"destinationMarkupAmount":0.94,"createdTime":"2023-06-16T05:02:03Z"},"summary":"With Amounts"},"With_ECB_Rate":{"value":{"id":"quote_6wBIHIRhPElAHfcgVaDFZs","netExchangeRate":0.9075027,"expiryTime":"2023-06-16T05:07:03Z","sourceCurrencyCode":"EUR","destinationCurrencyCode":"SGD","quoteType":"balance_transfer","conversionSchedule":"immediate","lockPeriod":"5_mins","executionType":"at_conversion_time","exchangeRate":0.9139,"markupRate":0.0063973,"clientMarkupRate":0.0053973,"customerHashId":"abc12345-5d6e-0a8b-c8d7-3a7706a0c312","ecbExchangeRate":0.9139,"rateCaptureTime":"2023-06-16T01:02:03Z","sourceAmount":100,"destinationAmount":90.75,"destinationMarkupAmount":0.64,"createdTime":"2023-06-16T05:02:03Z"},"summary":"With ECB Rate"},"With_No_Amount":{"value":{"id":"quote_6wBIHIRhPElAHfcgVaDFZs","netExchangeRate":1.3279389,"expiryTime":"2023-06-16T05:07:03Z","sourceCurrencyCode":"USD","destinationCurrencyCode":"SGD","quoteType":"balance_transfer","conversionSchedule":"immediate","lockPeriod":"5_mins","executionType":"at_conversion_time","exchangeRate":1.3373,"markupRate":0.0093611,"clientMarkupRate":0.0083611,"customerHashId":"abc12345-5d6e-0a8b-c8d7-3a7706a0c312","rateCaptureTime":"2023-06-16T01:02:03Z","createdTime":"2023-06-16T05:02:03Z"},"summary":"With No Amount"},"When_Stale_Rate":{"summary":"When Stale Rate","value":{"id":"quote_6wBIHIRhPElAHfcgVaDFZs","netExchangeRate":1.3279389,"expiryTime":"2023-06-16T05:07:03Z","sourceCurrencyCode":"USD","destinationCurrencyCode":"SGD","quoteType":"balance_transfer","conversionSchedule":"immediate","lockPeriod":"5_mins","executionType":"at_conversion_time","exchangeRate":1.3373,"markupRate":0.0093611,"clientMarkupRate":0.0083611,"customerHashId":"abc12345-5d6e-0a8b-c8d7-3a7706a0c312","rateCaptureTime":"2023-06-14T01:02:03Z","sourceAmount":100,"destinationAmount":132.79,"destinationMarkupAmount":0.94,"createdTime":"2023-06-16T05:02:03Z","isRateStale":true}}}}}},"400":{"description":"Error response when the request format is invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FetchQuoteErrorResponse"}}}},"401":{"description":"Error response when the request is unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FXStandard401Error"}}}},"403":{"description":"Error response when the requested resource is forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FXStandard403Error"}}}},"404":{"description":"Error response when the requested resource cannot be found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Descriptive404Error"}}}},"500":{"description":"Error response when service has internal error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FXStandard500Error"}}}}},"deprecated":false,"x-info":{"apiType":"external"},"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited","security":[{"default":[]}]}},"/api/v1/client/{clientHashId}/customer/{customerHashId}/wallet/{walletHashId}/conversions":{"post":{"tags":["Conversions"],"summary":"Create Conversion","description":"This API allows you to convert the balance from one currency to another within the same customer wallet either at the current market rate or using a previous exchange rate quote. This API allows you to select a settlement schedule for the conversion.","operationId":"createConversion","parameters":[{"name":"clientHashId","in":"path","description":"Unique identifier of the client.","required":true,"style":"simple","explode":false,"schema":{"$ref":"#/components/schemas/CoreApiHashId","example":"abc12345-5d6e-0a8b-c8d7-3a7706a0c312"}},{"name":"customerHashId","in":"path","description":"Unique identifier of the customer.","required":true,"style":"simple","explode":false,"schema":{"$ref":"#/components/schemas/CoreApiHashId","example":"abc12345-5d6e-0a8b-c8d7-3a7706a0c312"}},{"name":"walletHashId","in":"path","description":"Unique identifier of the wallet.","required":true,"style":"simple","explode":false,"schema":{"$ref":"#/components/schemas/CoreApiHashId","example":"abc12345-5d6e-0a8b-c8d7-3a7706a0c312"}},{"description":"Enter a unique UUID value","in":"header","name":"x-request-id","schema":{"type":"string","example":"{{$guid}}"}}],"requestBody":{"description":"ConversionCreationRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConversionCreationRequest"},"examples":{"With_QuoteId_And_Source_Amount":{"value":{"quoteId":"quote_6WRfj2CkYaRSuiPskK3kj3","sourceAmount":100,"customerComment":"Converting USD to SGD"},"summary":"With Quote Id and Source Amount"},"With_QuoteId_And_Destination_Amount":{"value":{"quoteId":"quote_6WRfj2CkYaRSuiPskK3kj3","customerComment":"Converting USD to SGD","destinationAmount":100},"summary":"With Quote Id and Destination Amount"},"With_Currency_Pair_And_Source_Amount":{"value":{"sourceAmount":100,"customerComment":"Converting USD to SGD","sourceCurrencyCode":"USD","destinationCurrencyCode":"SGD"},"summary":"With Currency Pair and Source Amount"},"With_Currency_Pair_And_Destination_Amount":{"value":{"customerComment":"Converting USD to SGD","destinationAmount":100,"sourceCurrencyCode":"USD","destinationCurrencyCode":"SGD"},"summary":"With Currency Pair and Destination Amount"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConversionCreationResponse","title":"ConversionCreationResponse"},"examples":{"With_QuoteId":{"value":{"id":"conversion_4UTXo2tQnThdZGrMz6FdQR","status":"processing","conversionTime":"2023-06-16T05:22:14Z","sourceCurrencyCode":"USD","destinationCurrencyCode":"SGD","executionType":"at_conversion_time","sourceAmount":100,"destinationAmount":132.52,"quoteId":"quote_6WRfj2CkYaRSuiPskK3kj3","netExchangeRate":1.3251652,"exchangeRate":1.3372,"markupRate":0.0120348,"clientMarkupRate":0.0110348,"destinationMarkupAmount":1.2,"systemReferenceNumber":"WFT9188961163","customerComments":"Converting USD to SGD","createdTime":"2023-06-16T05:22:14Z","updatedTime":"2023-06-16T05:22:14Z"},"summary":"With Quote Id"},"With_CurrencyPair":{"value":{"id":"conversion_37Fom6qCpA6J0nUZh8MaJg","status":"processing","conversionTime":"2023-06-16T05:22:14Z","sourceCurrencyCode":"USD","destinationCurrencyCode":"SGD","executionType":"at_conversion_time","sourceAmount":100,"destinationAmount":132.52,"quoteId":"quote_4z3gDQho4IXp9CBJoocrTu","netExchangeRate":1.3251652,"exchangeRate":1.3372,"markupRate":0.0120348,"clientMarkupRate":0.0110348,"destinationMarkupAmount":1.2,"systemReferenceNumber":"WFT9420624396","customerComments":"Converting USD to SGD","createdTime":"2023-06-16T05:22:14Z","updatedTime":"2023-06-16T05:22:14Z"},"summary":"With Currency Pair"}}}}},"400":{"description":"Error response when the request format is invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateConversionErrorResponse"}}}},"401":{"description":"Error response when the request is unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FXStandard401Error"}}}},"403":{"description":"Error response when the requested resource is forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FXStandard403Error"}}}},"404":{"description":"Error response when the requested resource cannot be found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Descriptive404Error"}}}},"500":{"description":"Error response when service has internal error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FXStandard500Error"}}}}},"deprecated":false,"x-info":{"apiType":"external"},"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited","x-codegen-request-body-name":"ConversionCreationRequest","security":[{"default":[]}]}},"/api/v1/client/{clientHashId}/customer/{customerHashId}/wallet/{walletHashId}/conversions/{conversionId}":{"get":{"tags":["Conversions"],"summary":"Fetch Conversion by id","description":"This API will retrieve an existing conversion with the conversionId.","operationId":"fetchConversion","parameters":[{"name":"clientHashId","in":"path","description":"Unique identifier of the client.","required":true,"style":"simple","explode":false,"schema":{"$ref":"#/components/schemas/CoreApiHashId","example":"abc12345-5d6e-0a8b-c8d7-3a7706a0c312"}},{"name":"customerHashId","in":"path","description":"Unique identifier of the customer.","required":true,"style":"simple","explode":false,"schema":{"$ref":"#/components/schemas/CoreApiHashId","example":"abc12345-5d6e-0a8b-c8d7-3a7706a0c312"}},{"name":"walletHashId","in":"path","description":"Unique identifier of the wallet.","required":true,"style":"simple","explode":false,"schema":{"$ref":"#/components/schemas/CoreApiHashId","example":"abc12345-5d6e-0a8b-c8d7-3a7706a0c312"}},{"name":"conversionId","in":"path","required":true,"style":"simple","explode":false,"schema":{"$ref":"#/components/schemas/ConversionId","description":"Unique identifier of the conversion.","example":"conversion_1234567890abcdefABCDEF"}},{"description":"Enter a unique UUID value","in":"header","name":"x-request-id","schema":{"type":"string","example":"{{$guid}}"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConversionCreationResponse","title":"ConversionCreationResponse"},"examples":{"created_conversion":{"value":{"id":"conversion_37Fom6qCpA6J0nUZh8MaJg","status":"created","conversionTime":"2023-06-16T05:22:14Z","sourceCurrencyCode":"USD","destinationCurrencyCode":"SGD","executionType":"at_conversion_time","sourceAmount":100,"destinationAmount":132.52,"quoteId":"quote_4z3gDQho4IXp9CBJoocrTu","netExchangeRate":1.3251652,"exchangeRate":1.3372,"markupRate":0.0120348,"clientMarkupRate":0.0110348,"destinationMarkupAmount":1.2,"systemReferenceNumber":"WFT9420624396","customerComments":"Converting USD to SGD","createdTime":"2023-06-16T05:22:14Z","updatedTime":"2023-06-16T05:22:14Z"},"summary":"created_conversion"},"cancelled_conversion":{"value":{"id":"conversion_37Fom6qCpA6J0nUZh8MaJg","status":"cancelled","conversionTime":"2023-06-22T01:00:00Z","sourceCurrencyCode":"USD","destinationCurrencyCode":"SGD","executionType":"at_conversion_time","sourceAmount":100,"destinationAmount":132.52,"quoteId":"quote_4z3gDQho4IXp9CBJoocrTu","netExchangeRate":1.3251652,"exchangeRate":1.3372,"markupRate":0.0120348,"clientMarkupRate":0.0110348,"destinationMarkupAmount":1.2,"systemReferenceNumber":"WFT9420624396","customerComments":"Converting USD to SGD","cancellationFee":5.28,"cancellationFeeCurrencyCode":"USD","cancellationComment":"Cancellation due to change of plan","cancellationReason":"user_cancel","cancellationFeeSystemReferenceNumber":"3064439572F","createdTime":"2023-06-16T05:22:14Z","updatedTime":"2023-06-16T05:24:14Z"},"summary":"cancelled_conversion"}}}}},"400":{"description":"Error response when the request format is invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FetchConversionErrorResponse"}}}},"401":{"description":"Error response when the request is unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FXStandard401Error"}}}},"403":{"description":"Error response when the requested resource is forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FXStandard403Error"}}}},"404":{"description":"Error response when the requested resource cannot be found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Descriptive404Error"}}}},"500":{"description":"Error response when service has internal error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FXStandard500Error"}}}}},"deprecated":false,"x-info":{"apiType":"external"},"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited","security":[{"default":[]}]}},"/api/v1/client/{clientHashId}/customer/{customerHashId}/wallet/{walletHashId}/conversions/{conversionId}/cancel":{"post":{"tags":["Conversions"],"summary":"Cancel Conversion","description":"This API allows you to cancel a conversion prior to the execution time.","operationId":"cancelConversion","parameters":[{"name":"clientHashId","in":"path","description":"Unique identifier of the client.","required":true,"style":"simple","explode":false,"schema":{"$ref":"#/components/schemas/CoreApiHashId","example":"abc12345-5d6e-0a8b-c8d7-3a7706a0c312"}},{"name":"customerHashId","in":"path","description":"Unique identifier of the customer.","required":true,"style":"simple","explode":false,"schema":{"$ref":"#/components/schemas/CoreApiHashId","example":"abc12345-5d6e-0a8b-c8d7-3a7706a0c312"}},{"name":"walletHashId","in":"path","description":"Unique identifier of the wallet.","required":true,"style":"simple","explode":false,"schema":{"$ref":"#/components/schemas/CoreApiHashId","example":"abc12345-5d6e-0a8b-c8d7-3a7706a0c312"}},{"name":"conversionId","in":"path","required":true,"style":"simple","explode":false,"schema":{"$ref":"#/components/schemas/ConversionId","description":"Unique identifier of the conversion.","example":"conversion_1234567890abcdefABCDEF"}},{"description":"Enter a unique UUID value","in":"header","name":"x-request-id","schema":{"type":"string","example":"{{$guid}}"}}],"requestBody":{"description":"ConversionCancelRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConversionCancelRequest","title":"ConversionCancelRequest"},"example":{"cancellationComment":"Cancellation due to change of plan"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConversionCancelResponse","title":"ConversionCancelResponse"},"example":{"id":"conversion_1234567890abcdefABCDEF","status":"created","systemReferenceNumber":"WFT1234567890","cancellationFee":0.53,"cancellationFeeCurrencyCode":"string","cancellationComment":"Cancelling due to change of plans.","cancellationFeeSystemReferenceNumber":"1234567890F","cancellationReason":"user_cancel"}}}},"400":{"description":"Error response when the request format is invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancelConversionErrorResponse"}}}},"401":{"description":"Error response when the request is unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FXStandard401Error"}}}},"403":{"description":"Error response when the requested resource is forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FXStandard403Error"}}}},"404":{"description":"Error response when the requested resource cannot be found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Descriptive404Error"}}}},"500":{"description":"Error response when service has internal error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FXStandard500Error"}}}}},"deprecated":false,"x-info":{"apiType":"external"},"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited","x-codegen-request-body-name":"ConversionCancelRequest","security":[{"default":[]}]}},"/api/v1/client/{clientHashId}/customer/{customerHashId}/wallet/{walletHashId}/conversions/{conversionId}/execute":{"post":{"tags":["Conversions"],"summary":"Execute Conversion","description":"This endpoint triggers the manual execution of a scheduled conversion within the customer wallet. The response includes only the conversion's ID and its current status.","operationId":"executeConversion","parameters":[{"name":"clientHashId","in":"path","description":"Unique identifier of the client.","required":true,"style":"simple","explode":false,"schema":{"$ref":"#/components/schemas/CoreApiHashId"}},{"name":"customerHashId","in":"path","description":"Unique identifier of the customer.","required":true,"style":"simple","explode":false,"schema":{"$ref":"#/components/schemas/CoreApiHashId"}},{"name":"walletHashId","in":"path","description":"Unique identifier of the wallet.","required":true,"style":"simple","explode":false,"schema":{"$ref":"#/components/schemas/CoreApiHashId"}},{"name":"conversionId","in":"path","required":true,"style":"simple","explode":false,"schema":{"$ref":"#/components/schemas/ConversionId"}},{"description":"Enter a unique UUID value.","in":"header","name":"x-request-id","schema":{"type":"string","example":"{{$guid}}"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConversionExecutionResponse"},"example":{"id":"conversion_9Km834Dn4Jfz12XqZ5LkR1","status":"processing"}}}},"400":{"description":"Error response when the request format is invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExecuteConversionErrorResponse"}}}},"401":{"description":"Error response when the request is unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FXStandard401Error"}}}},"403":{"description":"Error response when the requested resource is forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FXStandard403Error"}}}},"404":{"description":"Error response when the requested resource cannot be found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Descriptive404Error"}}}},"500":{"description":"Error response when service has internal error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FXStandard500Error"}}}}},"deprecated":false,"x-info":{"apiType":"external"},"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited","security":[{"default":[]}]}},"/api/v1/client/{clientHashId}/exchangeRate":{"get":{"tags":["Quotes (Previous Version)"],"summary":"Exchange Rate With Markup","description":"This API fetches the exchange rate between source currency and destination currency. If either source or destination amount is provided, the equivalent amount will also be returned. Note that you may not send both sourceAmount and destinationAmount as query parameters together. If both are provided, sourceAmount shall be taken for conversion.","operationId":"exchangeRateWithMarkup","parameters":[{"name":"clientHashId","in":"path","description":"Unique customer identifier generated on customer creation.","required":true,"schema":{"maxLength":36,"minLength":36,"type":"string"},"example":"{{clientHashId}}"},{"name":"sourceCurrencyCode","in":"query","description":"This field contains the 3-letter [ISO-4217 currency code](https://www.iso.org/iso-4217-currency-codes.html) for the source amount.","required":true,"schema":{"maxLength":3,"minLength":3,"type":"string"}},{"name":"destinationCurrencyCode","in":"query","description":"This field contains the 3-letter [ISO-4217 currency code](https://www.iso.org/iso-4217-currency-codes.html) for the destination amount.","required":true,"schema":{"maxLength":3,"minLength":3,"type":"string"}},{"name":"sourceAmount","in":"query","description":"An amount to be converted. This field takes precedence over destinationAmount, in case both are provided.","required":false,"schema":{"type":"number","format":"double"}},{"name":"destinationAmount","in":"query","description":"An amount to which the source is converted. It can be used to find the necessary source amount value. If both sourceAmount and destinationAmount are provided, this field is ignored.","required":false,"schema":{"type":"number","format":"double"}},{"description":"Enter a unique UUID value","in":"header","name":"x-request-id","schema":{"type":"string","example":"{{$guid}}"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExchangeRateV2ResponseDto","title":"ExchangeRateV2ResponseDto"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"x-info":{"apiType":"external"},"security":[{"default":[]}]}},"/api/v1/client/{clientHashId}/customer/{customerHashId}/wallet/{walletHashId}/lockExchangeRate":{"get":{"parameters":[{"allowEmptyValue":false,"description":"This field is used if client wants to apply additional Fxmarkup in the exchange rate for their customer. The value should be in percentage. For example use 0.10 for 0.1% additional markup.","in":"query","name":"additionalFxMarkup","required":false,"schema":{"default":0,"format":"double","type":"number"}},{"description":"Unique client identifier generated and shared before API handshake.","in":"path","name":"clientHashId","required":true,"schema":{"type":"string","example":"{{clientHashId}}"}},{"description":"Unique customer identifier generated on customer creation.","in":"path","name":"customerHashId","required":true,"schema":{"type":"string"}},{"allowEmptyValue":false,"description":"This field contains the [3-letter ISO-4217 currency code](doc:currency-and-country-codes) for the destination amount.","in":"query","name":"destinationCurrency","required":true,"schema":{"type":"string"}},{"allowEmptyValue":false,"description":"This field contains the [3-letter ISO-4217 currency code](doc:currency-and-country-codes) for the source amount.","in":"query","name":"sourceCurrency","required":true,"schema":{"type":"string"}},{"description":"Unique wallet identifier generated simultaneously with customer creation.","in":"path","name":"walletHashId","required":true,"schema":{"type":"string"}},{"description":"Enter a unique UUID value","in":"header","name":"x-request-id","schema":{"type":"string","example":"{{$guid}}"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FxHoldLockResponseContent"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"BadRequest"},"401":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"Not Found"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"Internal Server Error"}},"tags":["Quotes (Previous Version)"],"deprecated":false,"description":"This API allows you to fetch exchange rate, and lock and hold the rates till a certain amount of time.","operationId":"ExchangeRateLockandHold","summary":"Exchange Rate Lock and Hold","x-info":{"apiType":"external"},"security":[{"default":[]}]}},"/api/v1/client/{clientHashId}/customer/{customerHashId}/wallet/{walletHashId}/transfer":{"post":{"tags":["Conversions (Previous Version)"],"summary":"Balance Transfer within Wallet","description":"This API allows you to transfer the balance from one currency to another within the same customer wallet.","operationId":"balanceTransferwithinWallet","parameters":[{"name":"clientHashId","in":"path","description":"Unique client identifier generated and shared before API handshake.","required":true,"schema":{"type":"string"},"example":"{{clientHashId}}"},{"name":"customerHashId","in":"path","description":"Unique customer identifier generated on customer creation.","required":true,"schema":{"type":"string"}},{"name":"walletHashId","in":"path","description":"Unique wallet identifier generated simultaneously with customer creation.","required":true,"schema":{"type":"string"}},{"description":"Enter a unique UUID value","in":"header","name":"x-request-id","schema":{"type":"string","example":"{{$guid}}"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletTransferDto","title":"WalletTransferDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletTransferResponseDto","title":"WalletTransferResponseDto"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"x-info":{"apiType":"external"},"security":[{"default":[]}]}}},"components":{"schemas":{"WalletApiError":{"properties":{"errors":{"description":"List of errors occurred.","example":["field1 is not valid","field2 is not valid"],"items":{"type":"string"},"type":"array"},"message":{"description":"Error message descriptor.","example":"Error message descriptor.","type":"string"},"status":{"description":"HttpStatus of the request : BAD_REQUEST, INTERNAL_SERVER_ERROR.","enum":["200 OK","400 BAD_REQUEST","403 FORBIDDEN","404 NOT_FOUND","500 INTERNAL_SERVER_ERROR","502 BAD_GATEWAY","503 SERVICE_UNAVAILABLE"],"example":"BAD_REQUEST","type":"string"}},"title":"ApiError","type":"object"},"FxHoldLockResponseContent":{"properties":{"additionalFxMarkup":{"description":"This field contains the Additional Fx Markup of the given audit ID","example":"0.2","type":"string"},"audit_id":{"description":"This field contains the audit ID which is generated by NIUM as a unique number for internal purpose.","example":112,"format":"int64","type":"integer"},"destination_currency":{"description":"This field contains the 3-letter [ISO-4217 destination currency code](doc:currency-and-country-codes) for the destination amount.","example":"INR","type":"string"},"ecb_fx_rate":{"description":"This field contains the ECB exchange rate.","example":"0.0","type":"string"},"fx_hold_id":{"description":"This field contains the foreign exchange hold ID.","example":"472e130b-ed14-4829-9e6d-81a9d8dce72e","type":"string"},"fx_rate":{"description":"This field contains the real time FX provider rate.","example":"74.719","type":"string"},"hold_expiry_at":{"description":"This field contains the timestamp till which the exchange rate will be valid. In other words, the timestamp at which the exchange rate held by NIUM shall expire. Format of this field is yyyy-MM-ddTHH:mm:ss.SSSZ.","example":"2021-07-02T10:43:00.514Z","type":"string"},"markup_rate":{"description":"This field contains the markup rate charged by NIUM.","example":"0.0","type":"string"},"source_currency":{"description":"This field contains the 3-letter [ISO-4217 source currency code](doc:currency-and-country-codes) for the source amount.","example":"USD","type":"string"},"status":{"description":"This field contains the status of the given audit ID","example":"ACTIVE","type":"string"}},"title":"Fx hold lock response content","type":"object"},"ExchangeRateV2ResponseDto":{"title":"ExchangeRateV2ResponseDto","type":"object","properties":{"destinationAmount":{"type":"number","description":"The credited amount.","format":"double","example":13.42},"destinationCurrencyCode":{"type":"string","description":"This field contains the 3-letter [ISO-4217 currency code](https://www.iso.org/iso-4217-currency-codes.html) for the destination amount.","example":"SGD"},"ecbFxRate":{"type":"number","description":"The ecb exchange rate fetched for the conversion.\nThis field is only applicable for EU and UK.","format":"double","example":1.349},"exchangeRate":{"type":"number","description":"The exchange rate fetched for the conversion.","format":"double","example":1.349},"expiryDate":{"type":"string","description":"Timestamp till which the quoted rate is valid. The timezone is UTC +00.","example":"2021-03-09T06:46:03.000Z"},"markupAmount":{"type":"number","description":"In case source or destination amount is provided the markup amount will be calculated using markupRate.","format":"double","example":0.07},"markupRate":{"type":"number","description":"This is the markup rate charged by NIUM.","format":"double","example":0.006745},"netExchangeRate":{"type":"number","description":"This is exchangeRate subtracted by the markupRate.","format":"double","example":1.342255},"quoteId":{"type":"string","description":"Unique quote Id for the exchange rate.","example":"f3632302-1d41-4a40-b7a0-4c456dddbd9e"},"scalingFactor":{"type":"integer","description":"The netExchangeRate should be divided by the scaling factor to fetch the actual exchange rate.","format":"int32","example":1},"sourceAmount":{"type":"number","description":"An amount to be converted.","format":"double","example":10},"sourceCurrencyCode":{"type":"string","description":"This field contains the 3-letter [ISO-4217 currency code](https://www.iso.org/iso-4217-currency-codes.html) for the source amount.","example":"USD"}}},"WalletTransferDto":{"title":"WalletTransferDto","required":["destinationCurrency","sourceCurrency"],"type":"object","properties":{"amount":{"type":"number","description":"This field is the amount in source currency which is to be transferred. If destinationAmount is provided, it will take preference over this field.","format":"double","example":10},"customerComments":{"maxLength":512,"type":"string","description":"This field accepts customer comments for the balance transfer within wallet.\nMaximum character limit is 512.","example":"Changed SGD to INR during Travel"},"destinationAmount":{"type":"number","description":"This field is the amount in destination currency which is to be transferred. If provided, amount field is not considered. If this field is skipped, amount is considered in source currency.","format":"double","example":20},"destinationCurrency":{"maxLength":3,"minLength":3,"type":"string","description":"This field accepts the 3-letter [ISO-4217 currency code](https://www.iso.org/iso-4217-currency-codes.html) for the destination amount.","example":"INR"},"quoteId":{"type":"string","example":"UUID"},"sourceCurrency":{"maxLength":3,"minLength":3,"type":"string","description":"This field accepts the 3-letter [ISO-4217 currency code](https://www.iso.org/iso-4217-currency-codes.html) for the source amount.","example":"SGD"}}},"WalletTransferResponseDto":{"title":"WalletTransferResponseDto","type":"object","properties":{"destinationAmount":{"type":"number","description":"Destination amount is the actual amount credited after deducting Fx and markup.","format":"double","example":549.07},"destinationCurrencyCode":{"type":"string","description":"This field contains the 3-letter [ISO-4217 currency code](https://www.iso.org/iso-4217-currency-codes.html) for the destination amount.","example":"INR"},"exchangeRate":{"type":"number","description":"Exchange rate between source and destination currencies.","format":"double","example":54.934},"markupAmount":{"type":"number","description":"Markup amount calculated on the transaction.","format":"double","example":0.27},"markupRate":{"type":"number","description":"Cross-currency markup percentage levied by NIUM.","format":"double","example":0.027467},"netExchangeRate":{"type":"number","description":"Exchange rate between source and destination currencies derived after accounting for markup. The netExchangeRate should be divided by the scaling factor to fetch the actual exchange rate.","format":"double","example":54.906533},"scalingFactor":{"type":"integer","description":"The netExchangeRate should be divided by the scaling factor to fetch the actual exchange rate.","format":"int32","example":1},"sourceAmount":{"type":"number","description":"Source amount is the amount transferred by the customer.","format":"double","example":10},"sourceCurrencyCode":{"type":"string","description":"This field contains the 3-letter [ISO-4217 currency code](https://www.iso.org/iso-4217-currency-codes.html) for the source amount.","example":"SGD"},"systemReferenceNumber":{"type":"string","description":"Unique auth code generated for the transaction by the card issuance platform.","example":"CP2919853847"}}},"QuoteCreationRequest":{"title":"QuoteCreationRequest","required":["destinationCurrencyCode","quoteType","sourceCurrencyCode"],"allOf":[{"type":"object","properties":{"sourceCurrencyCode":{"$ref":"#/components/schemas/SCC"},"destinationCurrencyCode":{"$ref":"#/components/schemas/DCC"},"quoteType":{"$ref":"#/components/schemas/QuoteType"},"conversionSchedule":{"$ref":"#/components/schemas/ConversionSchedule"},"lockPeriod":{"$ref":"#/components/schemas/LockPeriod"},"executionType":{"$ref":"#/components/schemas/ExecutionType"},"customerHashId":{"$ref":"#/components/schemas/CustomerHashId"}}},{"$ref":"#/components/schemas/EitherSourceOrDestinationAmountOrNoAmount"}]},"QuoteCreationResponse":{"title":"QuoteCreationResponse","type":"object","properties":{"id":{"$ref":"#/components/schemas/QuoteId"},"netExchangeRate":{"$ref":"#/components/schemas/NetExchangeRate"},"expiryTime":{"$ref":"#/components/schemas/QuoteExpiryTime"},"sourceCurrencyCode":{"$ref":"#/components/schemas/SCC"},"destinationCurrencyCode":{"$ref":"#/components/schemas/DCC"},"quoteType":{"$ref":"#/components/schemas/QuoteType"},"conversionSchedule":{"$ref":"#/components/schemas/ConversionSchedule"},"lockPeriod":{"$ref":"#/components/schemas/LockPeriod"},"executionType":{"$ref":"#/components/schemas/ExecutionType"},"exchangeRate":{"$ref":"#/components/schemas/ExchangeRate"},"markupRate":{"$ref":"#/components/schemas/MarkupRate"},"clientMarkupRate":{"$ref":"#/components/schemas/ClientMarkupRate"},"customerHashId":{"$ref":"#/components/schemas/CustomerHashId"},"ecbExchangeRate":{"$ref":"#/components/schemas/EcbExchangeRate"},"rateCaptureTime":{"$ref":"#/components/schemas/RateCaptureTime"},"sourceAmount":{"$ref":"#/components/schemas/SourceAmount_Quote_ExcludeNull"},"destinationAmount":{"$ref":"#/components/schemas/DestinationAmount_Quote_ExcludeNull"},"destinationMarkupAmount":{"$ref":"#/components/schemas/DestinationMarkupAmount_ExcludeNull"},"isOffMarket":{"$ref":"#/components/schemas/IsOffMarketExcludeNull"},"createdTime":{"$ref":"#/components/schemas/CreatedTime"},"isRateStale":{"$ref":"#/components/schemas/IsRateStaleExcludeNull"}}},"ConversionCreationRequest":{"title":"ConversionCreationRequest","allOf":[{"type":"object","properties":{"customerComment":{"$ref":"#/components/schemas/Comment_Customer"}}},{"oneOf":[{"allOf":[{"title":"With Quote Id","type":"object","properties":{"quoteId":{"$ref":"#/components/schemas/QuoteId"}}},{"$ref":"#/components/schemas/EitherSourceOrDestinationAmount"}]},{"allOf":[{"title":"With Currency Pair","type":"object","properties":{"sourceCurrencyCode":{"$ref":"#/components/schemas/SCC"},"destinationCurrencyCode":{"$ref":"#/components/schemas/DCC"}}},{"$ref":"#/components/schemas/EitherSourceOrDestinationAmount"}]}]}]},"ConversionCreationResponse":{"title":"ConversionCreationResponse","type":"object","properties":{"id":{"$ref":"#/components/schemas/ConversionId"},"status":{"$ref":"#/components/schemas/ConversionStatus"},"conversionTime":{"$ref":"#/components/schemas/ConversionTime"},"expiryTime":{"$ref":"#/components/schemas/ConversionExpiryTime"},"sourceCurrencyCode":{"$ref":"#/components/schemas/SCC"},"destinationCurrencyCode":{"$ref":"#/components/schemas/DCC"},"executionType":{"$ref":"#/components/schemas/ExecutionType"},"sourceAmount":{"$ref":"#/components/schemas/SourceAmount_Conversion"},"destinationAmount":{"$ref":"#/components/schemas/DestinationAmount_Conversion"},"quoteId":{"$ref":"#/components/schemas/QuoteId"},"netExchangeRate":{"$ref":"#/components/schemas/NetExchangeRate"},"exchangeRate":{"$ref":"#/components/schemas/ExchangeRate"},"markupRate":{"$ref":"#/components/schemas/MarkupRate"},"clientMarkupRate":{"$ref":"#/components/schemas/ClientMarkupRate"},"destinationMarkupAmount":{"$ref":"#/components/schemas/DestinationMarkupAmount"},"systemReferenceNumber":{"$ref":"#/components/schemas/SRN_Conversion"},"customerComment":{"$ref":"#/components/schemas/Comment_Customer"},"isOffMarket":{"$ref":"#/components/schemas/IsOffMarketExcludeNull"},"cancellationFee":{"$ref":"#/components/schemas/CancellationFee_ExcludeNull"},"cancellationFeeCurrencyCode":{"$ref":"#/components/schemas/CancellationFeeCurrencyCode_ExcludeNull"},"cancellationReason":{"$ref":"#/components/schemas/CancellationReason"},"cancellationComment":{"$ref":"#/components/schemas/Comment_CancellationExcludeNull"},"cancellationFeeSystemReferenceNumber":{"$ref":"#/components/schemas/SRN_CancellationExcludeNull"},"createdTime":{"$ref":"#/components/schemas/CreatedTime"},"updatedTime":{"$ref":"#/components/schemas/UpdatedTime"}}},"ConversionExecutionResponse":{"title":"ConversionExecutionResponse","type":"object","properties":{"id":{"$ref":"#/components/schemas/ConversionId"},"status":{"$ref":"#/components/schemas/ConversionStatus"}}},"ConversionCancelRequest":{"title":"ConversionCancelRequest","type":"object","properties":{"cancellationComment":{"$ref":"#/components/schemas/Comment_CancellationIncludeNull"}}},"ConversionCancelResponse":{"title":"ConversionCancelResponse","type":"object","properties":{"id":{"$ref":"#/components/schemas/ConversionId"},"status":{"$ref":"#/components/schemas/ConversionStatus"},"systemReferenceNumber":{"$ref":"#/components/schemas/SRN_Conversion"},"cancellationFee":{"$ref":"#/components/schemas/CancellationFee_IncludeNull"},"cancellationFeeCurrencyCode":{"$ref":"#/components/schemas/CancellationFeeCurrencyCode_IncludeNull"},"cancellationComment":{"$ref":"#/components/schemas/Comment_CancellationExcludeNull"},"cancellationFeeSystemReferenceNumber":{"$ref":"#/components/schemas/SRN_CancellationIncludeNull"},"cancellationReason":{"$ref":"#/components/schemas/CancellationReason"}}},"Comment_CancellationExcludeNull":{"maxLength":512,"type":"string","description":"Free text comment for clients to record and track cancellation of the conversion.","example":"Cancelling due to change of plans.","x-field-extra-annotation":"@JsonInclude(JsonInclude.Include.NON_NULL)"},"Comment_CancellationIncludeNull":{"maxLength":512,"type":"string","description":"Free text comment for clients to record and track cancellation of the conversion.","example":"Cancelling due to change of plans."},"Comment_Customer":{"maxLength":512,"type":"string","description":"Free text comment for clients to record and track the conversion.","example":"Converting SGD to INR during Travel."},"QuoteId":{"type":"string","description":"Unique identifier of the quote.","example":"quote_1234567890abcdefABCDEF"},"ConversionId":{"type":"string","description":"Unique identifier of the conversion.","example":"conversion_1234567890abcdefABCDEF"},"CustomerHashId":{"maxLength":36,"minLength":36,"type":"string","description":"Unique identifier of the customer.","example":"abc12345-5d6e-0a8b-c8d7-3a7706a0c312","x-field-extra-annotation":"@JsonInclude(JsonInclude.Include.NON_NULL)"},"CoreApiHashId":{"maxLength":36,"minLength":36,"type":"string","example":"abc12345-5d6e-0a8b-c8d7-3a7706a0c312"},"SCC":{"type":"string","minLength":3,"maxLength":3,"description":"3-letter [ISO-4217 currency code](https://www.iso.org/iso-4217-currency-codes.html) for the source amount.","example":"USD"},"DCC":{"type":"string","minLength":3,"maxLength":3,"description":"3-letter [ISO-4217 currency code](https://www.iso.org/iso-4217-currency-codes.html) for the destination amount.","example":"SGD"},"SourceAmount_Conversion":{"minimum":0,"exclusiveMinimum":true,"type":"number","description":"The source amount to be converted to the destination currency.","format":"double","example":13.42},"SourceAmount_Quote":{"minimum":0,"exclusiveMinimum":true,"type":"number","description":"The source amount to be converted to the destination currency. This value is for reference only and will not be used as the actual conversion amount.","format":"double","example":13.42},"SourceAmount_Quote_ExcludeNull":{"minimum":0,"exclusiveMinimum":true,"type":"number","description":"The source amount to be converted to the destination currency. This value is for reference only and will not be used as the actual conversion amount.","format":"double","example":13.42,"x-field-extra-annotation":"@JsonInclude(JsonInclude.Include.NON_NULL)"},"DestinationAmount_Conversion":{"minimum":0,"exclusiveMinimum":true,"type":"number","description":"The amount needed in the destination currency.","format":"double","example":13.42},"DestinationAmount_Quote":{"minimum":0,"exclusiveMinimum":true,"type":"number","description":"The amount needed in the destination currency. This value is for reference only and will not be used as the actual conversion amount.","format":"double","example":13.42},"DestinationAmount_Quote_ExcludeNull":{"minimum":0,"exclusiveMinimum":true,"type":"number","description":"The amount needed in the destination currency. This value is for reference only and will not be used as the actual conversion amount.","format":"double","example":13.42,"x-field-extra-annotation":"@JsonInclude(JsonInclude.Include.NON_NULL)"},"DestinationMarkupAmount":{"type":"number","description":"The amount charged in the destination currency as the markup for the conversion.","format":"double","example":0.07},"DestinationMarkupAmount_ExcludeNull":{"type":"number","description":"The amount charged in the destination currency as the markup for the conversion.","format":"double","example":0.07,"x-field-extra-annotation":"@JsonInclude(JsonInclude.Include.NON_NULL)"},"NetExchangeRate":{"type":"number","description":"Exchange rate with markup to be used for the conversion.","format":"double","example":1.342255231},"ExchangeRate":{"type":"number","description":"Foreign exchange market rate for the currency pair, used as the benchmark for quote calculation.","format":"double","example":1.349324513},"MarkupRate":{"type":"number","description":"Markup rate applied to the exchange rate for the conversion by Nium.","format":"double","example":0.006745677},"ClientMarkupRate":{"type":"number","description":"Markup rate configured at the client level during the initial setup. If a customer level markup is not configured, then the MarkupRate defaults to this ClientMarkupRate.","format":"double","example":0.006745677,"x-field-extra-annotation":"@JsonInclude(JsonInclude.Include.NON_NULL)"},"EcbExchangeRate":{"type":"number","description":"Europe Central Bank's exchange rate for this currency pair, provided only for EU and UK.","format":"double","example":1.349324513,"x-field-extra-annotation":"@JsonInclude(JsonInclude.Include.NON_NULL)"},"CreatedTime":{"type":"string","description":"Time of creation in UTC.","format":"date-time","example":"2021-03-09T06:46:03.000Z"},"UpdatedTime":{"type":"string","description":"Time of update in UTC.","format":"date-time","example":"2021-03-09T06:46:03.000Z"},"QuoteExpiryTime":{"type":"string","description":"Expiry time of the quote in UTC.","format":"date-time","example":"2021-03-09T06:46:03.000Z"},"ConversionExpiryTime":{"type":"string","description":"Expiry time of the conversion in UTC.","format":"date-time","example":"2021-03-09T06:46:03.000Z","x-field-extra-annotation":"@JsonInclude(JsonInclude.Include.NON_NULL)"},"IsOffMarketExcludeNull":{"type":"boolean","description":"Returns <code>true</code> if an FX_MARKUP_OFFMARKET fee has been applied. This field is only returned if off-market requests have been enabled by Nium. For more information, see <a href=\"https://docs.nium.com/apis/docs/fx-overview#off-market-rates\">FX - Overview</a>.\n","x-field-extra-annotation":"@JsonInclude(JsonInclude.Include.NON_NULL)"},"IsRateStaleExcludeNull":{"type":"boolean","description":"Indicates whether the exchange rate provided is stale. A value of \"true\" suggests that the exchange rate information is no longer current. Clients can use this flag to make informed decisions based on the freshness of the exchange rate.","x-field-extra-annotation":"@JsonInclude(JsonInclude.Include.NON_NULL)"},"ConversionTime":{"type":"string","description":"Scheduled settlement time in UTC. This is significant for future-dated conversions (e.g., nextDay, 2days). Ensure sufficient funds in the customer's wallet before this time to avoid cancellation and related charges.","format":"date-time","example":"2021-03-09T06:46:03.000Z","x-field-extra-annotation":"@JsonInclude(JsonInclude.Include.NON_NULL)"},"SRN_Conversion":{"type":"string","description":"Unique identifier for wallet financial activities used in all Nium reports and dashboards. Refer to [doc](https://docs.nium.com/apis/reference/clienttransactions) for details.","example":"WFT1234567890"},"SRN_CancellationExcludeNull":{"type":"string","description":"Unique identifier for wallet financial activities used in all Nium reports and dashboards. Refer to [doc](https://docs.nium.com/apis/reference/clienttransactions) for details.","example":"1234567890F","x-field-extra-annotation":"@JsonInclude(JsonInclude.Include.NON_NULL)"},"SRN_CancellationIncludeNull":{"type":"string","description":"Unique identifier for wallet financial activities used in all Nium reports and dashboards. Refer to [doc](https://docs.nium.com/apis/reference/clienttransactions) for details.","example":"1234567890F"},"CancellationFee_ExcludeNull":{"type":"number","description":"The fee charged when executing the cancellation.","format":"double","x-field-extra-annotation":"@JsonInclude(JsonInclude.Include.NON_NULL)"},"CancellationFee_IncludeNull":{"type":"number","description":"The fee charged when executing the cancellation.","format":"double"},"CancellationFeeCurrencyCode_ExcludeNull":{"type":"string","description":"3-letter [ISO-4217 currency code](https://www.iso.org/iso-4217-currency-codes.html) for the cancellation fee.","x-field-extra-annotation":"@JsonInclude(JsonInclude.Include.NON_NULL)"},"CancellationFeeCurrencyCode_IncludeNull":{"type":"string","description":"3-letter [ISO-4217 currency code](https://www.iso.org/iso-4217-currency-codes.html) for the cancellation fee."},"EitherSourceOrDestinationAmountOrNoAmount":{"oneOf":[{"title":"With No Amount","type":"object"},{"title":"With Source Amount","type":"object","properties":{"sourceAmount":{"$ref":"#/components/schemas/SourceAmount_Quote"}}},{"title":"With Destination Amount","type":"object","properties":{"destinationAmount":{"$ref":"#/components/schemas/DestinationAmount_Quote"}}}]},"EitherSourceOrDestinationAmount":{"oneOf":[{"title":"With Source Amount","type":"object","properties":{"sourceAmount":{"$ref":"#/components/schemas/SourceAmount_Conversion"}}},{"title":"With Destination Amount","type":"object","properties":{"destinationAmount":{"$ref":"#/components/schemas/DestinationAmount_Conversion"}}}]},"ConversionSchedule":{"title":"ConversionSchedule","type":"string","description":"The time period after which the conversion should be settled.","example":"immediate","default":"immediate","enum":["immediate","end_of_day","next_day","2_days"]},"QuoteType":{"title":"QuoteType","type":"string","description":"The type of the quote.\n  * `balance_transfer`: Quote for transferring the balance from one currency to another within the same customer wallet.\n","enum":["balance_transfer"]},"LockPeriod":{"title":"LockPeriod","type":"string","description":"The duration for which the quote remains valid after creation.","example":"15_mins","default":"5_mins","enum":["5_mins","15_mins","1_hour","4_hours","8_hours","24_hours"]},"ExecutionType":{"title":"ExecutionType","type":"string","description":"Specifies the conversion type. 'Manual' conversions needs user intervention before 'expiryTime' to execute, while 'at_conversion_time' conversions self-execute at 'conversionTime' without user intervention.","example":"manual","default":"at_conversion_time","enum":["at_conversion_time","manual"]},"CancellationReason":{"title":"CancellationReason","type":"string","description":"Reason for a conversion cancellation. \n  * `user_cancel`: User initiated cancellation.\n  * `insufficient_fund`: Cancellation due to insufficient balance in the wallet at the time of conversion execution.\n","enum":["user_cancel","insufficient_fund","expired"],"x-field-extra-annotation":"@JsonInclude(JsonInclude.Include.NON_NULL)"},"ConversionStatus":{"title":"ConversionStatus","type":"string","description":"The status of the conversion.","enum":["created","processing","completed","cancelled","failed","pending_cancellation"]},"RateCaptureTime":{"title":"RateCaptureTime","type":"string","description":"Time in UTC at which exchange rate was obtained from the rate provider","format":"date-time","example":"2021-03-09T06:46:03.000Z"},"CreateQuoteError":{"description":"error details description\n","allOf":[{"$ref":"#/components/schemas/Error"},{"type":"object","properties":{"code":{"type":"string","description":"The detailed error code associated with HTTP status 400.\n\n* `fx_constraint_violated_input`: The input violates the model constraints.\n* `fx_invalid_format_input`: The input format is invalid.\n* `fx_invalid_currency_code`: The input currency code is invalid.\n","enum":["fx_constraint_violated_input","fx_invalid_format_input","fx_invalid_currency_code"]},"field":{"x-field-extra-annotation":"@JsonInclude(JsonInclude.Include.NON_NULL)"}}}]},"FetchQuoteError":{"description":"error details description\n","allOf":[{"$ref":"#/components/schemas/Error"},{"type":"object","properties":{"code":{"type":"string","description":"The detailed error code associated with HTTP status 400.\n* `fx_constraint_violated_input`: The input violates the model constraints.\n","enum":["fx_constraint_violated_input"]},"field":{"x-field-extra-annotation":"@JsonInclude(JsonInclude.Include.NON_NULL)"}}}]},"CreateConversionError":{"description":"error details description\n","allOf":[{"$ref":"#/components/schemas/Error"},{"type":"object","properties":{"code":{"type":"string","description":"The detailed error code associated with HTTP status 400.\n* `fx_constraint_violated_input`: The input violates the model constraints.\n* `fx_invalid_format_input`: The input format is invalid.\n* `fx_invalid_currency_code`: The input currency code is invalid.\n* `fx_quote_expired`: The provided quote is expired.\n* `fx_insufficient_funds`: The balance in the account is insufficient to complete/schedule the transfer.\n","enum":["fx_constraint_violated_input","fx_invalid_format_input","fx_invalid_currency_code","fx_quote_expired","fx_insufficient_funds"]},"field":{"x-field-extra-annotation":"@JsonInclude(JsonInclude.Include.NON_NULL)"}}}]},"FetchConversionError":{"description":"error details description\n","allOf":[{"$ref":"#/components/schemas/Error"},{"type":"object","properties":{"code":{"type":"string","description":"The detailed error code associated with HTTP status 400.\n* `fx_constraint_violated_input`: The input violates the model constraints.\n","enum":["fx_constraint_violated_input"]},"field":{"x-field-extra-annotation":"@JsonInclude(JsonInclude.Include.NON_NULL)"}}}]},"ExecuteConversionError":{"description":"error details description\n","allOf":[{"$ref":"#/components/schemas/Error"},{"type":"object","properties":{"code":{"type":"string","description":"The detailed error code associated with HTTP status 400.\n* `fx_invalid_operation_conversion`: The operation on the conversion is invalid.\n* `fx_constraint_violated_input`: The input violates the model constraints.\n","enum":["fx_invalid_operation_conversion","fx_constraint_violated_input"]},"field":{"x-field-extra-annotation":"@JsonInclude(JsonInclude.Include.NON_NULL)"}}}]},"CancelConversionError":{"description":"error details description\n","allOf":[{"$ref":"#/components/schemas/Error"},{"type":"object","properties":{"code":{"type":"string","description":"The detailed error code associated with HTTP status 404.\n* `fx_invalid_operation_conversion`: The operation on the conversion is invalid.\n* `fx_constraint_violated_input`: The input violates the model constraints.\n","enum":["fx_invalid_operation_conversion","fx_constraint_violated_input"]},"field":{"x-field-extra-annotation":"@JsonInclude(JsonInclude.Include.NON_NULL)"}}}]},"FetchQuoteErrorResponse":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/FetchQuoteError"}}}},"CreateQuoteErrorResponse":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/CreateQuoteError"}}}},"CreateConversionErrorResponse":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/CreateConversionError"}}}},"FetchConversionErrorResponse":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/FetchConversionError"}}}},"ExecuteConversionErrorResponse":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/ExecuteConversionError"}}}},"CancelConversionErrorResponse":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/CancelConversionError"}}}},"Descriptive404Error":{"description":"error details description\n","allOf":[{"$ref":"#/components/schemas/FXStandard404Error"},{"type":"object","properties":{"description":{"type":"string","description":"The detailed error code associated with HTTP status 404.\n"}}}]},"FXStandard401Error":{"type":"object","properties":{"code":{"type":"string","default":"unauthorized","enum":["unauthorized"]},"description":{"type":"string","default":"Access Denied","enum":["Access Denied"]}}},"FXStandard403Error":{"type":"object","properties":{"code":{"type":"string","default":"access_forbidden","enum":["access_forbidden"]},"description":{"type":"string","default":"Access to resource not allowed","enum":["Access to resource not allowed"]}}},"FXStandard500Error":{"type":"object","properties":{"code":{"type":"string","default":"internal_error","enum":["internal_error","external_dependent_system_failed"]},"description":{"type":"string","default":"An internal error occurred","enum":["An internal error occurred"]}}},"Error":{"required":["code","description"],"type":"object","properties":{"code":{"type":"string"},"description":{"type":"string"},"field":{"type":"string"}}},"FXStandard404Error":{"type":"object","properties":{"code":{"type":"string","default":"resource_not_found","enum":["resource_not_found"]},"description":{"type":"string","default":"Resource not found","enum":["Resource not found"]}}},"ExchangeRateGetResponse":{"title":"ExchangeRateGetResponse","properties":{"average":{"type":"number","format":"double","example":1.634793477,"description":"The calculated average fx rate within the window. For example, average for a 1_hour window will show the average interbank fx rate value within the hour window."},"min":{"type":"number","format":"double","example":1.625575716,"description":"The min interbank fx rate fetched within the window."},"max":{"type":"number","format":"double","example":1.689794369,"description":"The max interbank fx rate fetched within the window."},"time":{"type":"string","format":"date-time","example":"2022-03-15T06:00:00.000Z","description":"The end date-time stamp of the window."}}},"ExchangeRatesGetResponse":{"title":"ExchangeRatesGetResponse","properties":{"sourceCurrencyCode":{"$ref":"#/components/schemas/SCC"},"destinationCurrencyCode":{"$ref":"#/components/schemas/DCC"},"start":{"type":"string","format":"date-time","description":"The start timestamp used to filter the aggregated time series. Must be in the format 'yyyy-mm-ddTHH:MM:SSZ'."},"end":{"type":"string","format":"date-time","description":"The end timestamp used to filter the aggregated time series. Must be in the format 'yyyy-mm-ddTHH:MM:SSZ'."},"window":{"$ref":"#/components/schemas/Window"},"exchangeRates":{"type":"array","items":{"$ref":"#/components/schemas/ExchangeRateGetResponse"}}}},"Window":{"title":"Window","description":"Specifies the field by which the results should be grouped.","enum":["1_day","1_hour"],"default":"1_day"},"ErrorCodes400":{"type":"string","description":"The detailed error code associated with HTTP status 400.\n\n* `fx_constraint_violated_input`: The input violates the model constraints.\n* `fx_invalid_format_input`: The input format is invalid.\n* `fx_invalid_currency_code`: The input currency code is invalid.\n* `fx_missing_input`: The required fields are missing.\n* `fx_date_range_invalid`: The date range should be within 90 days.\n","enum":["fx_constraint_violated_input","fx_invalid_format_input","fx_invalid_currency_code","fx_missing_input","fx_date_range_invalid"]},"ErrorCodes401":{"type":"string","description":"The detailed error code associated with HTTP status 401.\n* `fx_client_unauthenticated`: The client request lacks valid authentication credentials.\n","enum":["fx_client_unauthenticated"]},"ErrorCodes403":{"type":"string","description":"The detailed error code associated with HTTP status 403.\n* `fx_client_no_access`: The client is authenticated but not authorized.\n","enum":["fx_client_no_access"]},"ErrorCodes500":{"type":"string","description":"The detailed error code associated with HTTP status 500.\n* `fx_dependency_error`: Error happens when the service calls its dependencies.\n* `fx_uncategorized_error`: Service errors not categorized.\n","enum":["fx_dependency_error","fx_uncategorized_error"]},"ErrorDetail400":{"type":"object","description":"error details description","properties":{"code":{"$ref":"#/components/schemas/ErrorCodes400"},"description":{"type":"string","description":"Description of the error."}}},"ErrorDetail401":{"type":"object","description":"error details description","properties":{"code":{"$ref":"#/components/schemas/ErrorCodes401"},"description":{"type":"string","description":"Description of the error."}}},"ErrorDetail403":{"type":"object","description":"error details description","properties":{"code":{"$ref":"#/components/schemas/ErrorCodes403"},"description":{"type":"string","description":"Description of the error."}}},"ErrorDetail500":{"type":"object","description":"error details description","properties":{"code":{"$ref":"#/components/schemas/ErrorCodes500"},"description":{"type":"string","description":"Description of the error."}}},"ErrorResponse400":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"$ref":"#/components/schemas/ErrorDetail400"}}}},"ErrorResponse401":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"$ref":"#/components/schemas/ErrorDetail401"}}}},"ErrorResponse403":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"$ref":"#/components/schemas/ErrorDetail403"}}}},"ErrorResponse500":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"$ref":"#/components/schemas/ErrorDetail500"}}}}},"responses":{"BadRequest":{"description":"Error response when the request format is invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse400"}}}},"Unauthorized":{"description":"Error response when the request is unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse401"}}}},"Forbidden":{"description":"Error response when the requested resource is forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse403"}}}},"InternalError":{"description":"Error response when service has internal error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse500"}}}}},"parameters":{"Authorization":{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"},"x-internal":true},"CsrfToken":{"name":"csrf_token","in":"header","required":false,"schema":{"type":"string"},"x-internal":true},"SCC_QueryParam":{"name":"sourceCurrencyCode","in":"query","description":"This field contains the 3-letter [currency-and-country-codes](https://docs.nium.com/apis/docs/currency-and-country-codes).","required":true,"schema":{"$ref":"#/components/schemas/SCC"}},"DCC_QueryParam":{"name":"destinationCurrencyCode","in":"query","description":"This field contains the 3-letter [currency-and-country-codes](https://docs.nium.com/apis/docs/currency-and-country-codes).","required":true,"schema":{"$ref":"#/components/schemas/DCC"}}},"securitySchemes":{"default":{"in":"header","name":"x-api-key","type":"apiKey"}}},"security":[{"default":[]}],"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}