{"openapi":"3.0.3","info":{"contact":{"email":"experience@nium.com","name":"NIUM Platform","url":"https://www.nium.com"},"description":"NIUM Platform","license":{"name":"Copyright (c) 2024 NIUM"},"title":"Payin","version":"2024.7.16"},"servers":[{"url":"https://gateway.nium.com/"}],"tags":[{"name":"Customer Funding","description":"REST API's for Customer Funding"},{"name":"Customer Virtual Accounts","description":"REST API's for Customer Virtual Accounts"}],"paths":{"/api/v1/client/{clientHashId}/customer/{customerHashId}/fundingInstruments/{fundingInstrumentId}/confirmFundingInstrument":{"post":{"parameters":[{"description":"Unique client identifier generated and shared before API handshake.","in":"path","name":"clientHashId","required":true,"schema":{"type":"string"}},{"description":"Unique customer identifier generated on customer creation.","in":"path","name":"customerHashId","required":true,"schema":{"type":"string"}},{"description":"This field is the unique 36-character funding instrument identifier. The id is a bank account identifier when the funding channel is direct debit.","in":"path","name":"fundingInstrumentId","required":true,"schema":{"type":"string"}},{"description":"Enter a unique UUID value","in":"header","name":"x-request-id","schema":{"type":"string","example":"{{$guid}}"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountStatusResponse"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayinApiError"}}},"description":"BadRequest"},"401":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayinApiError"}}},"description":"Not Found"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayinApiError"}}},"description":"Internal Server Error"}},"tags":["Customer Funding"],"deprecated":false,"description":"This API allows you to confirm funding instrument id","operationId":"ConfirmFundingInstrumentId","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfirmFundingInstrumentRequestDTO"}}},"description":"Confirm funding instrument"},"summary":"Confirm funding instrument","x-info":{"apiType":"external"},"security":[{"default":[]}]}},"/api/v1/client/{clientHashId}/customer/{customerHashId}/fundingInstruments/{fundingInstrumentId}/fundingInstrumentDetails":{"get":{"parameters":[{"description":"Unique client identifier generated and shared before API handshake.","in":"path","name":"clientHashId","required":true,"schema":{"type":"string"}},{"description":"Unique customer identifier generated on customer creation.","in":"path","name":"customerHashId","required":true,"schema":{"type":"string"}},{"description":"Unique 36-character funding instrument identifier.","in":"path","name":"fundingInstrumentId","required":true,"schema":{"type":"string"}},{"description":"Enter a unique UUID value","in":"header","name":"x-request-id","schema":{"type":"string","example":"{{$guid}}"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountStatusResponse"},"examples":{"US":{"value":{"bankName":"US Bank","fundingInstrumentId":"7ac4bc1f-3e81-4766-a908-6231ddd79531","fundingChannel":"DIRECT_DEBIT","clientHashId":"94c15268-41fb-4518-8191-a4f7feed17a5","customerHashId":"8fdc1fd6-3e2c-41f2-9d25-19a7056b60f5","walletHashId":"fd25a7d3-e8d7-4379-b5a9-e8044d492cae","saved":true,"status":"APPROVED","statusDescription":"SUCCESS","maskedAccountNumber":"XXXXXXXXXXXX1111","routingType":"ACH CODE","routingValue":"011401533","country":"US","currency":"USD","createdAt":"2023-01-02 12:21:52","updatedAt":"2023-01-02 12:27:00"}}}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayinApiError"}}},"description":"BadRequest"},"401":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayinApiError"}}},"description":"Not Found"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayinApiError"}}},"description":"Internal Server Error"}},"tags":["Customer Funding"],"deprecated":false,"description":"Get Funding instrument details","operationId":"GetFundingInstrumentDetails","summary":"Get Funding instrument details","x-info":{"apiType":"external"},"security":[{"default":[]}]}},"/api/v1/client/{clientHashId}/customer/{customerHashId}/fundingInstruments":{"get":{"parameters":[{"description":"Unique client identifier generated and shared before API handshake.","in":"path","name":"clientHashId","required":true,"schema":{"type":"string","example":"{{clientHashId}}"}},{"description":"Unique customer identifier generated on customer creation.","in":"path","name":"customerHashId","required":true,"schema":{"type":"string"}},{"description":"Enter a unique UUID value","in":"header","name":"x-request-id","schema":{"type":"string","example":"{{$guid}}"}}],"responses":{"200":{"content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/WalletFundingInstrumentsResponseDTO"},"type":"array"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayinApiError"}}},"description":"BadRequest"},"401":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayinApiError"}}},"description":"Not Found"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayinApiError"}}},"description":"Internal Server Error"}},"tags":["Customer Funding"],"deprecated":false,"description":"This API allows you to fetch the funding instruments that have been registered for a customer.","operationId":"GetFundingInstrumentList","summary":"Get Funding Instrument List","x-info":{"apiType":"external"},"security":[{"default":[]}]}},"/api/v1/client/{clientHashId}/customer/{customerHashId}/fundingInstruments/{fundingInstrumentId}":{"delete":{"parameters":[{"description":"Unique client identifier generated and shared before API handshake.","in":"path","name":"clientHashId","required":true,"schema":{"type":"string","example":"{{clientHashId}}"}},{"description":"Unique customer identifier generated on customer creation.","in":"path","name":"customerHashId","required":true,"schema":{"type":"string"}},{"description":"The unique 36-character alphanumeric identifier of a funding instrument.","in":"path","name":"fundingInstrumentId","required":true,"schema":{"type":"string"}},{"description":"Enter a unique UUID value","in":"header","name":"x-request-id","schema":{"type":"string","example":"{{$guid}}"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseOfstring"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayinApiError"}}},"description":"BadRequest"},"401":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayinApiError"}}},"description":"Not Found"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayinApiError"}}},"description":"Internal Server Error"}},"tags":["Customer Funding"],"deprecated":false,"operationId":"deleteFundinginstrument","summary":"Delete Funding Instrument","x-info":{"apiType":"external"},"security":[{"default":[]}],"description":"This API allows you to delete a specific funding instrument based on the fundingInstrumentId."}},"/api/v1/client/{clientHashId}/customer/{customerHashId}/wallet/{walletHashId}/fundingInstruments":{"post":{"parameters":[{"description":"Unique client identifier generated and shared before API handshake.","in":"path","name":"clientHashId","required":true,"schema":{"type":"string"}},{"description":"Unique customer identifier generated on customer creation.","in":"path","name":"customerHashId","required":true,"schema":{"type":"string"}},{"description":"Unique wallet identifier generated simultaneously with customer creation.","in":"path","name":"walletHashId","required":true,"schema":{"type":"string"}},{"description":"Enter a unique UUID value","in":"header","name":"x-request-id","schema":{"type":"string","example":"{{$guid}}"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinkAccountResponse"},"examples":{"US":{"value":{"fundingInstrumentId":"1c8739c0-13f8-4ea8-9ed9-5f920a7e0492","status":"PENDING","fundingChannel":"DIRECT_DEBIT","country":"US","currency":"USD","createdAt":"2023-03-09 19:27:22","returnUrl":"https://integrationspreprod.partners.instarem.com/preprod/plaid/account-link-v2/accounts/link?tokenId=eyJhbGciOiJIUzI1NiJ9.eyJlbmMiOiJMcWlLTk84ZW1pN2J2ek5GZFhMd2RickpoVmQ0cFRjNHRmcG1CL2VROW5wSFYrUy9iRzdTVUQ3V2s2aG9SWW9iMkpNSUsxUjkvaVM2aHRrbkpkcGhpdz09IiwiZXhwIjoxNjc4MzkxODQyLCJpYXQiOjE2NzgzOTAwNDJ9.6aXNX7_G-l36s4eY_LQVKxk_suXxE6f1ud7eV7NHkvg"}}}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayinApiError"}}},"description":"BadRequest"},"401":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayinApiError"}}},"description":"Not Found"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayinApiError"}}},"description":"Internal Server Error"}},"tags":["Customer Funding"],"deprecated":false,"description":"This API allows you to link account","operationId":"AddFundingInstrument","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerLinkAccountRequest"},"examples":{"US":{"value":{"country":"US","currency":"USD","fundingChannel":"DIRECT_DEBIT"}}}}},"description":"Add a new funding instrument"},"summary":"Add funding instrument","x-info":{"apiType":"external"},"security":[{"default":[]}]}},"/api/v1/client/{clientHashId}/customer/{customerHashId}/wallet/{walletHashId}/fund":{"post":{"parameters":[{"description":"Unique client identifier generated and shared before API handshake.","in":"path","name":"clientHashId","required":true,"schema":{"type":"string","example":"{{clientHashId}}"}},{"description":"Unique customer identifier generated on customer creation.","in":"path","name":"customerHashId","required":true,"schema":{"type":"string"}},{"description":"Unique wallet identifier generated simultaneously with customer creation.","in":"path","name":"walletHashId","required":true,"schema":{"type":"string"}},{"description":"Enter a unique UUID value","in":"header","name":"x-request-id","schema":{"type":"string","example":"{{$guid}}"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletFundResponseDTO"},"examples":{"BANK_TRANSFER":{"value":{"destinationAmount":500,"destinationCurrencyCode":"USD","paymentMethods":[{"accountName":"NIUM Pte Ltd.","accountNumber":"999456781932","bankName":"DBS SG","type":"bankTransfer"},{"qrCode":"iVBORw0KGgoAAAANSUhEUgAAAfQAAAH0CAYAAADL1t+KAAAcmklEQVR42u3d669cVRkH4P4TnFZbKPb0FCpeErVRvxg/qOGL8aOJMVWxbahQoLQeWk5LCaWUS6GlyB0rohAxWC+kgEQwAS+QSDUSKZeUS4lBoiY0GgOkdDtnzpnpDKcHC8Kc9b7r+SUT6dS9Z2bvtd5n7emsvWY1IiIiEj6zHAIRERGgi4iICNBFREQE6CIiIgJ0ERERoIuIiAjQRUREBOgiIiICdBEREaCLiIgI0EVERAToIiIiAnQRERGgi4iICNBFREQE6CIiIgJ0ERERoIuIiAjQRUREBOgiIiICdBEREaC/w2x4/7rwj5I+3zt9L1HOX0nvs6RjHeW8ZzhHUdpuSfU6e10qqdYBHehABzrQgQ50oAMd6EAHOtCBDnSgAx3oQAc60IEOdKADHehABzrQgQ50oAMd6EAHOtCBDnSgAx3oQAc60IEO9PfsZJb0Pktq5FEGZFHObYaBXJRBV/Z9RhlA1DyIzeQf0IEOdKADHehABzrQgQ50oAMd6EAHOtCBDnSgAx3oQAc60IEOdKADHehABzrQgQ50oAMd6EAHOtCBDnSgAx3oQC8GkuzbZQev5jn4GZDJPoDPfm4zbBdlDj7QgQ50oAMd6EAHOtCBDnSgAx3oQAc60IEOdKADHehABzrQgQ50oAMd6EAHOtCBDnSgAx3oQAc60IEOdKADHehAr/7A17JUX+SUNC/cALDONh+lRpY0AAQ60IEuQAc60IEOdAce6EAHOtCBDnSgAx3oQAc60IEOdKADHehABzrQgc4VoAOd3EAHOtCBDnSgAx3oQAc60IEOdKCHfkTBoub7HdS8lGt2uDIM1vR3oAMd6Do40IEOdK4AHehABzrQgQ50oAMd6EAHOtCBDnSgO/BABzrQgQ50/R3oQAe6Dg50oAOdK0AHOtCBDnSgAx3oQRpd9oFH9uUNsxfFDO8zOxbgKmOf+i3QgQ507RPoQAe6fgt0oANdYQA60IEOdAce6EAHOtCBrt8CHehABzrQgQ50/RboQAe69gl0oANdvwU60IGuMAAd6EAH+oA7FShtZzvb2c52NboCdKDbzna2sx3QgQ50Hcd2trOd7YAOdKDbzna2s53tgA50oNvOdrazne2ADnSg2852trOd7YAOdKDbzna2sx3QgV59oswTjfLZs5/3DK+X4d4EUZb+Nd9agA50oAMd6EAHOtAF6EAHOtCBDnSgAx3oQAc60IEOdKADHehABzrQgS5ABzrQgQ50oAMd6AJ0oAMd6EAHOtCLKCiWKSwf5uw4ldTOapl3W+NgpqQ6EeW4RPEI6EAHOtCBDnSgAx3oQAc60IEOdKADHehABzrQgQ50oAMd6EAHOtCBDnSgAx3oQAc60IEOdKADHehABzrQgQ50oKfpcIPGUHHLW2xKGlhlx6nmwWFJ9Sz7RVa0AB3oQAc60IEOdKADHehABzrQgQ50oAMd6EAHOtCBDnSgAx3oQAc60IEOdKADHehABzrQgQ50oAMd6EAHOtCBXgHoGeYZZoAkQ9GPMpjJvhymQWzsC4YMc8bdlwHoQAc60IEOdKADHehABzrQgQ50oAMd6EAHOtCBDnSgAx3oQAc60IEOdKADHehABzrQgQ50oAMd6EAHOtCBDnSgJ5ibWTO+JX32KO0l+3KtUQZyUe53UNKAM8PAI8rACuhABzrQgQ50oAMd6EAHOtCBDnSgAx3oQAc60IEOdKADHehABzrQgQ50oAMd6EAHOtCB7lgDHehABzrQgQ50oAM9FOjZBxAKQ/mdMcN83ZJQszRu7MF2zecd6EAHOtCBDnSgAx3oQAc60IEOdKADHehABzrQgQ50oAMd6EAHOtCBDnSgAx3oQAc60IEOdKADHehABzrQgQ50oBe3fGpJg4uaBywZlj40UI19XGr+7FGOWc33pLB8KtCBDnSgAx3oQAc60IEOdKADHehABzrQgQ50oAMd6EAHOtCBDnSgAx3oQAc60IEOdKADHehABzrQgQ50oAMd6KFAz7D04aDhKqkD1DyAMOgqf7CWfR56SfuM8tmjXEwAHehABzrQgQ50oAMd6EAHOtCBDnSg68RAhxPQgQ50oAMd6EAHOtCBDnSgAx3oQAc60IEOdKADHehABzrQgQ50oKc5gNmLTYbCnn2OeqZiM6iUdB5qPtY1zws3Dx3oQAc60IEOdKADHehABzpkgA50oAMd6EAHOtAda6ADHehABzrQge5YAx3oQAc60IEOdKADHehABzrQIQN0oAN9VmmdKsMAIvs8yuzHOsq5zQ5sSaBHgTL7cqY11x6gAx3oQAc60IEOdKBryDoV0IEOdHUQ6EAHOtCBDnSgAx3oTjTQgQ50oANd7QE60IEOdKADHehABzrQdSqgAx3oQAf6e1akMhS+KMclw5zcDMvDZlh6NDtA2QcQJdWe7IN7oAMd6EAHOtCBDnSgAx3oQAc60IEOdKADHehABzrQgQ50oAMd6EAHOtCBDnSgAx3oQAc60IEOdKADHehABzrQgV4cXFFOSpQOYI563s+X/VhnKNBRPl+GQV6m+0AAHehABzrQgQ50oAMd6EAHOtCBDnSgAx3oQAc60IEOdKADHehABzrQgQ50oAMd6EAHOtCBDnSgAx3oQAc60IFeAejZG3JJHWDQRb+k7UpqgxmKcIYBYPa+qV6XfyE1U+cW6EAHOtCBDnSgAx3oQAc60IEOdKADHehABzrQgQ50oAMd6EAHOtCBrl4DHehABzrQgQ50oAMd6EAHOtCBDnSgVwB69jm5Nc/lrbmY1jw4jFLcLDmbd+AR5XgCHehABzrQHRegAx3oQAc60IEOdKADHehAB7riBnSgAx3oQAc60IEOdKADHehABzrQge64AB3oQAc60IEOdKADHegzAnqU18swBzjKMoUZjmf2NpGhFtTcrktqg1H6ZpRBLNCBrvABHehABzrQgQ50oAMd6EAHOtCBDnSgAx3oQAc60IEOdKADHehABzrQgQ50oAMd6EAHOtCBDnSgAx3oQLd8apoOXnNB0anK6CsZBofZB1Yl9bHsA8cM9QzoQAc60IEOdKADHehABzrQgQ50oAMd6EAHOtCBDnSgAx3oQAc60IEOdKADHehABzrQgQ50oAMd6EAHOtCBDnSghzqANXd+jbzOdl3z0pzZocxQB0uqrVEuTIEOdKADHehABzrQgQ50oAMd6EAHOtCBDnSgAx3oQAc60DU6oAMd6EAHOtCBDnSgAx3oQAc60IEOdKADHehABzrQi/uwGeaFl1RQoszdz1A0ogxmMgCbob5kP576JtCBDnRFA+hABzrQgQ50oCsaQAc60IEOdKADHehAB7q+CXSgAx3oQAc60PVNoAMd6IoG0IEOdKADHehAVzSADnSgVw96hkKkaJRRNCzRWAawUQp0hjnxUS56MsxtzzQQADrQgQ50oAMd6EAHOtCBDnSgAx3oQAc60IEOdKAD3XkAOtCBDnSgAx3oQAc60IEOdKCDBOhABzrQgQ50oAMd6JWDHqWARUEmSgEraYCUYeBo+dTyz3v2ZZajDHCBDnSgAx3oQAc60IEOdKAr7EAHOtCBDnSgAx3oQAc60IEOdKADHehABzrQgQ50oAMd6EAHOtCBDnSgK+xAd96BDvQ0oNdyAEsowlEKpqKfF9gM7zPKQM4+Yw/EgQ50oAMd6EC3T6ADHehABzrQQQl0oAMd6EAHOtDtE+hABzrQgQ50oNsn0IEOdKADHehAt0+gAx3oQAc60KEGdKAXV/gyDDyyz83MvgxjhnZWUnHLvtxu9j5dUvusub4AHehABzrQgQ50oAMd6Doc0IEOdKADHehABzrQgQ509QXoQAc60IEOdKCrL0AHOtCBDnSgAx3oQAe6Dgd0oAMd6BWBXvPyf1GKviKcF8oMA84og67s93rIfo8By6cCHehABzrQgQ50oAMd6EAHOtCBDnSgAx3oQAc60IEOdKADHehABzrQgQ50oAMd6EAHOtCBDnSgAx3oQAc60IFeBeglNboM8xqzd7gog7UMbT7KgKVmfNXk2AYAHehABzrQgQ50oAMd6EAHOtCBDnSgazxABzrQgQ50D6ADHehABzrQgQ50oAMd6EAHOtCBDnSgAx3oQAc60IEO9FBFKsOAJUOxyQDJID/D1XM2NDuP+tjYt8/X//1a9+8euejB7vOd5575+b6e5za2HmPNtqE1aY9nzYOEDLU8+wUm0DUQoFcN+liza/EVzU3DW7pIXz37vO7221v/3Qt+J9uGVre37Tz32r9e7e4v8/EEOtCBDnSgA71Y0DvP3bTg4ilwv/kKvjed5/76+xdag4D17f/eMXcU6EAHOtCBDnSgz8RX7p3nOlfcO1o4j2fP0h9NXrGPNTefsmXyv8/v7vsvP9z7luADHehABzrQgQ70gf4b+ljf/17/he9MXoFP/PnQq4f6rsj7r9I3dp8/8PDzQAc60IEOdKADffCgj/VdXW8b+naz41Pb2n9/NDhLvL/eOJvzT+feLn7/3vhgf3d/T9555/+57+dAx3oQAc60IEO9AF+5d77uGzo7Gl+Bd9/lb7vjr3H9HU70IEOdKCH7lTZ50ZnX1Iw8xKNN4xsfkvQdx71K/mpg4DrllzR9+O6KINtg0P3GKitngEd6EBPD/rYlG12Ldk57VX3jtnrJr+eP3sC/g9t7UMe6EAHOtCBDnSgF77d6y/0uxddGbz6MKzmt8Mn908uODc5t4T1zR3z189Y4gCHehABzrQgQ70t7HdvpO/3jx+0sou6A8Nr2h+9YEz2qDvnn9ms+n485stI5uADnSgAx3oQAf6ILe7as5o96vyjfPWd///W4cvnPJ1+7OLv9w8efKKFuinT/t6d52wvrl93sQv3fd89c6j/vK999/mtw2d0/7z9k9f3v03eqADHehABzrQgf5//Ciuc//2NugjF/Zh/OqLf2/2n7K8BfrKaV/vZ/PXtEBf19zRAv37cycGAp19P3f/093tLl60qfv8RcMXtLfdNnTuW/44D+hABzrQgQ50oB8z6Bua6+dvfhPoEzA/+FvtEBf1t3uDyNL/Z/z8euau6eP9oG/fZ5o82tLdDH57BfOXtNex9X9dwX/rKhbx3l7nSTr/JK4EOdKDXCHqGRpeho0aZA1zzAOntrLZ2VNA/clqz/4MToD/3lR3NHxed0Tyy8Jvd177vxLVt0F/65VPN4TcOt0G/bfjSFupvTHtf+GveN/GNwAdEvfAi/RA6fYA+oM5x3oQAd6laAfmVvemYo2/tX7JQs3TQv6eCZ+FLeq2fvZrc0DC9a0Qb/rhOXdvx8H/Zo55/QAPtY8vfvxPtDHX/IvePHWlfz5wId6EAHOtCBDvR3foV+5MdoHWxvHtnyJtCXNfsXn9Z9rVd+t791hb6qPW3tgclpa70ZB/3aORMrrt328Z3t1xj/2v2WxZdM+TbgWOevAx3oQAc60IEO9GO89euuU6+fcne47hX6Kcv7Xu/Rk1a0QF/dnofem/u/uKv9o7jfjt475Wv2qY+Jq/Pts0eBDnSgAx3oQAf6uwX6+GPH5JrmvaA/99Fl7R/FPbNkbd9rPjS8sjlw48N9z/X+yn060K/73M6+P1/5ycuBDnSgAx3oQAf6uwl675rovT9Um5i2tqJ58YKfTPseOtPWfvH5a/ueP3jglSOAzx2dcp/4TL8GBjrQgQ50oAN94KDftHBLc+lxZzRbj1vZ9/wNIxc1lw2d2fq7VX2v8dTJp7fvFDf+K/eXfvxYc+jgf5qDjz3f7DlxZXP3/PPaoN8696yjvr/x/Y0/Oq+xffba9p9vPGEL0IEO9NpBrxnKDJ+9JCijDNZKeC9/XrS0517uqyd/FLe2DfruU79b/YAz+/z1DIOZmg0AOtCBDvQpj59+7XvNrxec1dz3mSuazcev9w0S0IEOdKADHegR34t/EgI60IEOdKADHehABzrQga6AAR3o+oO2C3SgAx3oiiLQgQ50oAMd6EAHOtA9gA50oAdAe9CNrqTjkgGgml+v5sFThgGZ82CfEQJ0oAMd6EB3HuwT6EAHOtCBDnSgAx3oQAc60EECdKADHehABzrQgQ50+AId6EAHOtCB7jzYJ9CBDnSgAx3oQAd65aBHQTT7/PUMcEU5DzW3z5oHOiX1hwztOspFFtCBDnSgAx3oQAc60IEOdIUP6EAHOtCBDnSgAx3oQAc60IEOdKADHehABzrQgQ50oAMd6EAHOtCBDnSFD+hABzrQZ0U6ENmLVIaimP31Stpn9s8A+9hwuXgBOtCBDnSgAx3oQAc60IEOdKADHehABzrQgQ50oAMd6EAHOtCBDnSgAx3oQAc60IEOdKADHehABzrQgQ50oAMd6EEaj3m+5Q8ushf97IU9e+GLMoc7ynuxdGxZc+mBDnSgAx3oQAc60IEOdKADHehABzrQgQ50oAMd6EAHOtCBDnSgAx3oQAc60IEOdKADHehABzrQgQ50oAMd6ECvHPSSGk/NnyE7QFE6f5QBZ82DmSjnNsMgKErfLLFdAx3oQAc60IEOdKADHehABzrQgQ50oAMd6EAHOtCBDnSgAx3oQAc60IEOdKADHehABzrQgQ50oAMd6EAHOtCBDvRqO6OiUcbgIsp5zz5Yi9I+oxX2EuDKPiixfCrQgQ50oAMd6EAHOtCBDnSgAx3oQAc60IEOdKADHehABzrQgQ50oAMd6EAHOtCBDnSgAx3oQAc60IEOdKADHejFgZ59rqtlGGN3xihLLdZ8v4Moy+1GGVRmXyq6lmWrgQ50oAMd6EAHOtCBDnSgAx3oQAc60IEOdKADHehABzrQgQ50oAMd6EAHOtCBDnSgAx3oQAc60IEOdKADHehArwD0KAUlwzKTGnL5bbfmOcAZCnT2QVD2/l7LZwc60IEOdKADHehABzrQgQ50oAMd6EAHOtCBDnSgAx3oQAc60IEOdKADHehABzrQgQ50oAMd6EAHOtCBDnSgAx3oITq/+Z4GXVHbi0FC+YOE7PdCKOmYmYcOdKADHehABzrQgQ50oAMd6EAHOtCBDnSgAx3oQAc60IEOdKADHehABzrQgQ50oAMd6EAHOtCBDnSgAx3oQAc60KFdxDKMgz7vlhfNO5c3O041DwR8BvPQgQ50oAMd6DAEOtCBDnSgAx3oQAc60IEOdKADHehABzrQgQ50oAMd6EAHOtCBDnSgAx3oQAc60IEOdKADHehAHzDoJRX9KB01QxE2tzbv8cxeCwwStE+gAx3oQFcwgQ50oAMd6EAHOtCBDnSgAx3oQAc60IEOdKADHehABzrQga59Ah3oQAe6ggl0oAMd6EAHOtCBDnSgAz0t6BmWLLV0bPlFI0ObyPA+owysovTb7BcoGS4Uga54A12bADrQgQ50oAMd6EAHOtCBDnSgAx3oQAc60IEOdKADHehABzrQgQ50xRvo2gTQgQ50oAMd6EAHOtCBDnSgV4FMhoFHSUWx5uVoo+yz5sKXfanaDIhmOJ4zdf6ADnSgAx3oQAc60IEOdKADHejeJ9CBDnSgAx3ooAQ60IEOdKADHeigBDrQgQ50oAMd6EAHOtCBDnSgAx3o3ifQKwA9SmPNsKSnzh97MBoF0QxLFGfv7xmWgM1w8TJTATrQgQ50oAMd6EAHOtCBDnSgAx3oQAc60IEOdKADHehA18GBDnSg6+9ABzrQgQ50oAMd6EAHOtCBDnSgAx3oQLfaWrVzVmtetjPKICF7+8w+d7+kPpahLUUZXEQZVAId6EAHOtCBDnSgAx3oQNc+gQ50oAMd6EAHOtCBDnSgAx3oQAc60IEOdKADHehABzrQgQ50oAMd6EDXPoEOdKADfUaSYc6jQltn0S9pEBRl0JWpmEa+mCjp3Ga4r0ZVy6cCHehABzrQgQ50oAMd6EAHOtCBDnSgAx3oQAc60IEOdKADHehABzrQgQ50oAMd6EAHOtCBDnSgAx3oQAc60IGeG/QoaGcvNjUDG6UIZzjvJX2+7PUlw5LBUZacBTrQgQ50oAMd6EAHOtCBDnSgAx3oQAc60IEOdKADHehABzrQgQ50oAMd6EAHOtCBDnSgAx3oQAc60IEOdKADHehpOkeGObmOdfltN0NBydBeLO/roiDzRR3Qga7YAB3oQAc60CEDdMUG6EAHOtCBDnSgAx3oQNfHgA50oDvWQAc60IEOdKADXbEBOtCBDnSgAx3oig3QgQ50oFcAepSCWdL7jFKkohSwDG1p0Mc6SjL06ZrvMRDlQjFagA50oAMd6EAHOtCBDnSgAx3oQAc60IEOdKADHehABzrQgQ50oAMd6EAHOtCBDnSgAx3oQAc60IEOdKADHehArxz0khqW18tbwKIMrLKDXvP8fMv7aoNAByzQgQ50oAMd6EAHOtCBrpgCHehAB7rXAzrQgQ50oAMd6EAHOtCBDnRtEOiABTrQgQ50oAMd6EAHOtAVU6ADHegDO4Al7TND589eaDPMGQdl3sFazcfMwAroQAc60IEOdKADHehABzrQgQ50oAMd6EAHOtDhBHSgAx3oQAc60IHumAEd6EAHOtCBDnSgAx3oQAc60IEOdKADfcCgZ2hYGd5LhoJSy9KHJaAdZdCcAdEMA/8M7TpTfQE60IEOdKADHehABzrQgQ50oAMd6EAHOtCBDnSgAx3oQAc60IEOdKADHehABzrQgQ50oAMd6EAHOtCBDnSgA71y0GsutNnxjVI0ai6mUYDNAElJ59bAKv9FAdCBDnSgAx3oQAc60IEOdKADHehABzrQgQ50oAMd6EAHOtCBDnSgAx3oQAc60IEOdKADHehABzrQgQ50oAMd6BWAHmWeYXYos7+XDMs31rysZUltIspg1HKtsZdnBjrQvRegAx3oQAc60CEKdKADHehABzrQIQp0oAMd6EAHOtCBDnSgAx3oQAc60L0XoAMd6EAHOtCBDnSgAx3oQAd6cY08Q2fM0HFK6gBR5vLWXIRrLrQZBlYGXXHqEtCBDnSgAx3oQAc60IEOdKADHehABzrQgQ50oAMd6EAHOtCBDnSgAx3oQAc60IEOdKADHehABzrQgQ50oAMd6EAvpoGYx1x+Mny+KAOrkgaHBtR579WR/TPMVIAOdKADHehABzrQgQ50oAMd6EAHOtCBDnSgAx3oQAc60IEOdKADHehABzrQgQ50oAMd6EAHOtCBDnSgAx3oQAc60AvHMEphzzBfN/t7cZ8E8+UF6EAHOtCBDnSgC9CBDnSgAx3oQAc60IEOdKADHehABzrQgQ50oAMd6AJ0oAMd6EAHOtAF6EAHOtCBDnSgAx3oRc6tjXKsPcx/ru38ZR9U1jywinYPDKAD3QPo2gTQgQ50oAPdA+hABzrQgQ50oAMB6EAHOtCBDnSgAx3oQAc60IEOdIUa6NoE0IEOdKAD3QPozh/QgQ70YpJh7qkCVkZ7cR5iDzxK+gwlbRel33ovQAe6wgB0oAMdokAHOtCBDnSgAx3oQAc60IEOdKADHehABzrQgQ50oOu33gvQga4wAB3oQAc60IEOdKADHehAh2j1oGefO+z1LBdZcjGNch7cI8IAImObBzrQgQ50oAMd6EAHOmCBrrgBHejaPNCBDnSgK25AB7o2D3Sgez2gK25AB7o2D3SgAx3oQAc60IEOdKADXXEDOtC1eaCLiIgI0EVERAToIiIiAnQRERGgi4iICNBFREQE6CIiIgJ0ERERoIuIiAjQRUREBOgiIiICdBEREaCLiIgI0EVERAToIiIiAnQRERGgi4iICNBFREQE6CIiIgJ0ERERAbqIiAjQRUREBOgiIiLyLuW/McgCNhXps8UAAAAASUVORK5CYII=","type":"dynamicPayNow"},{"UEN":"12345678U12A","type":"staticPayNow"},{"accountName":"NIUM FINTECH LIMITED - CMA","accountNumber":"13470105","bankName":"BARCLAYS_UK","iban":"GB90BARC20000013470105","sortCode":"200000","type":"bankTransfer"}],"sourceAmount":500,"sourceCurrencyCode":"SGD","status":"Pending","systemReferenceNumber":"FW5289214401"}},"CARDS":{"value":{"systemReferenceNumber":"FW0968045292","sourceAmount":23,"sourceCurrencyCode":"SGD","destinationAmount":23,"destinationCurrencyCode":"SGD","status":"Pending","paymentMethods":[],"returnUrl":"https://hooks.stripe.com/redirect/authenticate/src_1LNYoOIW1TKPh79li2Zb0Ue4?client_secret=src_client_secret_oCQT7m9SUfuwVqcVeDkaC0Z7&source_redirect_slug=test_YWNjdF8xSHduZlZJVzFUS1BoNzlsLF9NNWtKNmViazA3cWRIaVAxYUU4YjBmTTBpNm5HaE9R0100hmLaAeHv"}},"DIRECT_DEBIT":{"value":{"systemReferenceNumber":"FW5014355697","sourceAmount":25,"sourceCurrencyCode":"USD","destinationAmount":25,"destinationCurrencyCode":"USD","status":"Pending","paymentMethods":[],"returnUrl":"null"}}}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayinApiError"}}},"description":"BadRequest"},"401":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayinApiError"}}},"description":"Not Found"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayinApiError"}}},"description":"Internal Server Error"}},"tags":["Customer Funding"],"deprecated":false,"description":"This API allows you to top-up into the customer's wallet. Refer to the [Fund wallet user guide](/docs/fund-wallet) for details on usage instructions on this API.\n >ℹ️ INFO \n >**Guidelines for Fund Wallet.**\n>1. Cards and direct_debit funding channels are restricted by default. Reach out to your Nium support specialist to enable this functionality.\n>2. Source and destination should be in the same currency when funding channel is bank_transfer, cards, or direct_debit.\n>3. No restriction on source or destination currency if funding channel is prefund.\n","operationId":"FundWallet","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletFundDTO"},"examples":{"BANK_TRANSFER":{"value":{"amount":500,"destinationCurrencyCode":"SGD","fundingChannel":"BANK_TRANSFER","fundingInstrumentId":"<hash-id>","sourceCurrencyCode":"SGD"}},"Cards":{"value":{"amount":500,"countryIP":"192.168.2.2","destinationCurrencyCode":"SGD","deviceInfo":"android","fundingChannel":"CARD","fundingInstrumentId":"<card-hash-id>","ipAddress":"192.168.1.1","pocketName":"DEFAULT","sessionId":"1234","sourceCurrencyCode":"SGD"}},"DIRECT_DEBIT":{"value":{"amount":5000,"sourceCurrencyCode":"USD","destinationCurrencyCode":"USD","fundingChannel":"DIRECT_DEBIT","fundingInstrumentId":"7ac4bc1f-3e81-4766-a908-6231ddd79531"}}}}},"description":"Guidelines for Fund Wallet\n\n1.cards as a funding channel is restricted by default. It may be enabled for a client on request.\n2.Source and destination currencies should be same if funding channel is bankTransfer or cards\n3.No restriction on source or destination currency if funding channel is prefund.\n\nFund Wallet with a Card\n\nCustomer onboarded and KYCed successfully [through Manual or eKYC flow] with e-KYC calls Fund Wallet API with funding channel as cards."},"summary":"Fund Wallet","x-info":{"apiType":"external"},"security":[{"default":[]}]}},"/api/v2/client/{clientHashId}/customer/{customerHashId}/wallet/{walletHashId}/fundingInstruments":{"post":{"parameters":[{"description":"Unique client identifier generated and shared before API handshake.","in":"path","name":"clientHashId","required":true,"schema":{"format":"uuid","type":"string"}},{"description":"Unique customer identifier generated on customer creation.","in":"path","name":"customerHashId","required":true,"schema":{"format":"uuid","type":"string"}},{"description":"Unique wallet identifier generated simultaneously with customer creation.","in":"path","name":"walletHashId","required":true,"schema":{"format":"uuid","type":"string"}},{"description":"Enter a unique UUID value.","in":"header","name":"x-request-id","schema":{"type":"string","example":"{{$guid}}"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinkAccountResponseV2"}}},"description":"Funding instrument created"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddFundingInstrumentV2ErrorResponse"}}},"description":"Error response when the request is invalid."},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayinStandard401Error"}}},"description":"Error response when the request is unauthorized."},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayinStandard403Error"}}},"description":"Error response when the requested resource is forbidden."},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Standard404Error"}}},"description":"Error response when the requested resource is not found."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayinStandard500Error"}}},"description":"Error response when an internal error occurs."}},"tags":["Customer Funding"],"deprecated":false,"description":"This API is used to add a direct debit funding instrument with a bank account.","operationId":"AddFundingInstrumentV2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerLinkAccountRequestV2"}}},"description":"customerLinkAccountRequest"},"summary":"Add funding instrument V2","x-info":{"apiType":"external"},"security":[{"default":[]}]}},"/api/v1/client/{clientHashId}/customer/{customerHashId}/wallet/{walletHashId}/paymentId":{"post":{"parameters":[{"description":"Unique client identifier generated and shared before API handshake.","in":"path","name":"clientHashId","required":true,"schema":{"type":"string","example":"{{clientHashId}}"}},{"description":"Unique customer identifier generated on customer creation.","in":"path","name":"customerHashId","required":true,"schema":{"type":"string"}},{"description":"Unique wallet identifier generated simultaneously with customer creation.","in":"path","name":"walletHashId","required":true,"schema":{"type":"string"}},{"description":"Enter a unique UUID value","in":"header","name":"x-request-id","schema":{"type":"string","example":"{{$guid}}"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentIdResponseDTO2"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"BadRequest"},"401":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"Not Found"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"Internal Server Error"}},"tags":["Customer Virtual Accounts"],"deprecated":false,"description":"This API allows you to assign virtual account numbers to customers so they can use a specific funding source.","operationId":"AssignPaymentID","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentIdRequestDTO2"}}},"description":"paymentIdRequestDTO2","required":true},"summary":"Assign Payment ID","x-info":{"apiType":"external"},"security":[{"default":[]}]}},"/api/v1/client/{clientHashId}/customer/{customerHashId}/wallet/{walletHashId}/paymentId/tags":{"post":{"parameters":[{"description":"Unique client identifier generated and shared before API handshake.","in":"path","name":"clientHashId","required":true,"schema":{"type":"string","example":"{{clientHashId}}"}},{"description":"Unique customer identifier generated on customer creation.","in":"path","name":"customerHashId","required":true,"schema":{"type":"string"}},{"description":"Unique wallet identifier generated simultaneously with customer creation.","in":"path","name":"walletHashId","required":true,"schema":{"type":"string"}},{"description":"Enter a unique UUID value","in":"header","name":"x-request-id","schema":{"type":"string","example":"{{$guid}}"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentIdCientTagsResponseDTO"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"BadRequest"},"401":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"Not Found"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"Internal Server Error"}},"tags":["Customer Virtual Accounts"],"deprecated":false,"description":"This API allows you to add, update, delete client tags against each virtual account.","operationId":"ManageVirtualAccountTags","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentIdTagRequestDTO"}}},"description":"tags","required":true},"summary":"Manage Virtual Account Tags","x-info":{"apiType":"external"},"security":[{"default":[]}]}},"/api/v1/client/{clientHashId}/customer/{customerHashId}/wallet/{walletHashId}/paymentIds":{"get":{"parameters":[{"description":"Unique client identifier generated and shared before API handshake.","in":"path","name":"clientHashId","required":true,"schema":{"type":"string","example":"{{clientHashId}}"}},{"in":"query","name":"currencyCode","required":false,"schema":{"type":"string"}},{"description":"Unique customer identifier generated and shared before API handshake.","in":"path","name":"customerHashId","required":true,"schema":{"type":"string"}},{"in":"query","name":"endDate","required":false,"schema":{"type":"string"}},{"example":"DESC","in":"query","name":"order","required":false,"schema":{"enum":["DESC","ASC"],"type":"string"}},{"example":0,"in":"query","name":"page","required":false,"schema":{"format":"int32","type":"integer"}},{"example":"createdAt","in":"query","name":"property","required":false,"schema":{"enum":["createdAt"],"type":"string"}},{"example":20,"in":"query","name":"size","required":false,"schema":{"format":"int32","type":"integer"}},{"in":"query","name":"startDate","required":false,"schema":{"type":"string"}},{"in":"query","name":"status","required":false,"schema":{"type":"string"}},{"in":"query","name":"tagKey","required":false,"schema":{"type":"string"}},{"in":"query","name":"tagValue","required":false,"schema":{"type":"string"}},{"description":"Unique wallet identifier generated and shared before API handshake.","in":"path","name":"walletHashId","required":true,"schema":{"type":"string"}},{"description":"Enter a unique UUID value","in":"header","name":"x-request-id","schema":{"type":"string","example":"{{$guid}}"}}],"responses":{"200":{"content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/WalletPaymentIdsResponseDTO"},"type":"array"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"BadRequest"},"401":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"Not Found"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"Internal Server Error"}},"tags":["Customer Virtual Accounts"],"deprecated":false,"description":"This API allows you to fetch virtual accounts assigned to a customer's wallet. \n ⚠️ WARNING \n > To access updated functionality and features we recommed using the latest version of this API [Virtual Account Details V2](/apis/reference/virtualaccountdetailsv2). Eventually, this API version will be deprecated and becomes unsupported.","operationId":"VirtualAccountDetails","summary":"Virtual Account Details","x-info":{"apiType":"external"},"security":[{"default":[]}]}},"/api/v2/client/{clientHashId}/customer/{customerHashId}/wallet/{walletHashId}/paymentIds":{"get":{"parameters":[{"description":"Unique client identifier generated and shared before API handshake.","in":"path","name":"clientHashId","required":true,"schema":{"type":"string","example":"{{clientHashId}}"}},{"in":"query","name":"currencyCode","required":false,"schema":{"type":"string","example":"SGD"},"description":"This field accepts the [3-letter ISO-4217 currency code](doc:currency-and-country-codes) for which routing code search is to be initiated."},{"description":"Unique customer identifier generated and shared before API handshake.","in":"path","name":"customerHashId","required":true,"schema":{"type":"string"}},{"in":"query","name":"endDate","required":false,"schema":{"type":"string","example":"2024-12-31"},"description":"End date for fetching the transaction details. The format for endDate is YYYY-MM-DD."},{"example":"DESC","in":"query","name":"order","required":false,"schema":{"enum":["DESC","ASC"],"type":"string"},"description":"The sort order for the results. Acceptable values are ASC or DESC.\nThe default order is DESC."},{"example":0,"in":"query","name":"page","required":false,"schema":{"format":"int32","type":"integer"},"description":"In some cases, the response can return multiple pages of data. Use this parameter to page through the returned results.\nThe default page is 0."},{"example":"createdAt","in":"query","name":"property","required":false,"schema":{"enum":["createdAt"],"type":"string"},"description":"Define how to sort paginated data. The default sorting order is 'createdAt'."},{"example":20,"in":"query","name":"size","required":false,"schema":{"format":"int32","type":"integer"},"description":"Define how many elements get retunred per response page. Accepted values can be 1-20."},{"in":"query","name":"startDate","required":false,"schema":{"type":"string","example":"2024-01-01"},"description":"The beginning date to start fetching transaction details. The format for `startDate` is YYYY-MM-DD."},{"in":"query","name":"status","required":false,"schema":{"type":"string"}},{"in":"query","name":"tagKey","required":false,"schema":{"type":"string"},"description":"Use this parameter to filter responses, based on the exact value of `tagKey`. The `tagkey` can be used also be used as an independent search parameter."},{"in":"query","name":"tagValue","required":false,"schema":{"type":"string"},"description":"Use this parameter to filter responses, based on the exact value of `tagValue` (that may be mapped for a `tagKey` defined against transactions). The `tagValue` can also be used as an independent search parameter."},{"description":"Unique wallet identifier generated and shared before API handshake.","in":"path","name":"walletHashId","required":true,"schema":{"type":"string"}},{"description":"Enter a unique UUID value","in":"header","name":"x-request-id","schema":{"type":"string","example":"{{$guid}}"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VirtualAccountResponseDTO"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"BadRequest"},"401":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"Not Found"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"Internal Server Error"}},"tags":["Customer Virtual Accounts"],"deprecated":false,"description":"This API allows you to fetch virtual accounts assigned to a customer's wallet.","operationId":"VirtualAccountDetailsV2","summary":"Virtual Account Details V2","x-info":{"apiType":"external"},"security":[{"default":[]}]}},"/api/v1/client/{clientHashId}/customer/{customerHashId}/accountOwnershipCertificate":{"get":{"parameters":[{"description":"Unique client identifier generated and shared before API handshake.","in":"path","name":"clientHashId","required":true,"schema":{"type":"string"}},{"allowEmptyValue":false,"description":"This field accepts the list of currencies in 3-letter [ISO-4217 transaction currency code](https://docs.nium.com/apis/docs/currency-and-country-codes) for which the account ownership certificate to be generated. If no currencies are being sent in query param then account ownership certificate will be generated for all the currencies enabled to the customer.","in":"query","name":"currencies","required":false,"schema":{"type":"string"}},{"allowEmptyValue":false,"description":"Set to `true` to include the current account balance in the response. Default is `false`.","example":false,"in":"query","name":"currentAccountBalance","required":false,"schema":{"default":false,"type":"boolean"}},{"description":"Unique customer identifier, generated when the customer was first created.","in":"path","name":"customerHashId","required":true,"schema":{"type":"string"}},{"description":"Enter a unique UUID value.","in":"header","name":"x-request-id","schema":{"type":"string","example":"{{$guid}}"}}],"responses":{"200":{"description":"OK"},"400":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError2"}}},"description":"Bad Request"},"401":{"content":{"*/*":{"schema":{"type":"string"}}},"description":"Unauthorized"},"403":{"content":{"*/*":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError2"}}},"description":"Not Found"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/WalletApiError"}}},"description":"Internal Server Error"}},"tags":["Customer Virtual Accounts"],"deprecated":false,"description":"This API allows you to download an account ownership certificate.","operationId":"AccountOwnershipCertificate","summary":"Account Ownership Certificate","x-info":{"apiType":"external"},"security":[{"default":[]}]}}},"components":{"schemas":{"AccountStatusResponse":{"properties":{"bankName":{"description":"The name of the bank which has issued the account linked to this funding instrument.","type":"string"},"clientHashId":{"description":"The unique 36-character client identifier generated and shared before the API handshake.","type":"string"},"country":{"description":"The [two-letter ISO-2 country code](doc:currency-and-country-codes) where the bank account resides.","type":"string"},"createdAt":{"description":"The timestamp of when the funding instrument was added.","format":"date-time","type":"string"},"currency":{"description":"The 3-letter [ISO-4217 currency code](doc:currency-and-country-codes) for the account to be linked.","example":"USD","type":"string"},"customerHashId":{"description":"The unique 36-character customer identifier generated and shared before API handshake.","type":"string"},"fundingChannel":{"description":"Details how the wallet is configuered to be funding.","enum":["DIRECT_DEBIT"],"example":"DIRECT_DEBIT","type":"string"},"fundingInstrumentId":{"description":"The unique 36-character funding instrument identifier.","type":"string"},"maskedAccountNumber":{"description":"The masked bank account number in the format XXXXXXXXXXXX1111.","type":"string"},"redirectURL":{"description":"The URL customers are redirected to when they're finsished.","type":"string"},"routingType":{"description":"The routing code type, for example, 'ACH CODE' for US.","type":"string"},"routingValue":{"description":"The routing code of the account.","type":"string","example":"011401533"},"saved":{"description":"<ul><li>Returns <code>true</code> when the funding instrument is saved.</li><li>This can return false when funding instrument status is not yet approved.</li></ul>","type":"boolean"},"status":{"description":"The current status of the funding instrument.","enum":["ACTIVE","INACTIVE","BLOCKED","SUSPENDED","UPLOADED","APPROVED","REJECTED","FAILED","SUCCESS","FAILURE","PARTIALLY SUCCESS","SYNC","NOT SYNC","PENDING","REQUIRES_ACTION","CLEAR","DECLINED","ACCOUNT_BLOCKED","AMOUNT_BLOCKED","DE_LINKED","CANCELLED","LINKED"],"type":"string"},"statusDescription":{"description":"Additional background information about the `status`.","type":"string"},"updatedAt":{"description":"Tthe timestamp when the funding instrument was last updated.","format":"date-time","type":"string"},"walletHashId":{"description":"The unique 36-character wallet identifier generated and shared before the API handshake.","type":"string"}},"title":"Account status","type":"object"},"AddFundingInstrumentV2ErrorResponse":{"properties":{"errors":{"items":{"$ref":"#/components/schemas/TypedErrorOfstring"},"type":"array"}},"title":"AddFundingInstrumentV2ErrorResponse","type":"object"},"PayinApiError":{"properties":{"errors":{"description":"A list a of errors if any occurred.","example":["field1 is not valid","field2 is not valid"],"items":{"type":"string"},"type":"array"},"message":{"description":"Returns additional background information about the error message.","example":"Error message descriptor.","type":"string"},"status":{"description":"The `HTTP` status code of the request.","enum":["100 CONTINUE","101 SWITCHING_PROTOCOLS","102 PROCESSING","103 CHECKPOINT","200 OK","201 CREATED","202 ACCEPTED","203 NON_AUTHORITATIVE_INFORMATION","204 NO_CONTENT","205 RESET_CONTENT","206 PARTIAL_CONTENT","207 MULTI_STATUS","208 ALREADY_REPORTED","226 IM_USED","300 MULTIPLE_CHOICES","301 MOVED_PERMANENTLY","302 FOUND","302 MOVED_TEMPORARILY","303 SEE_OTHER","304 NOT_MODIFIED","305 USE_PROXY","307 TEMPORARY_REDIRECT","308 PERMANENT_REDIRECT","400 BAD_REQUEST","401 UNAUTHORIZED","402 PAYMENT_REQUIRED","403 FORBIDDEN","404 NOT_FOUND","405 METHOD_NOT_ALLOWED","406 NOT_ACCEPTABLE","407 PROXY_AUTHENTICATION_REQUIRED","408 REQUEST_TIMEOUT","409 CONFLICT","410 GONE","411 LENGTH_REQUIRED","412 PRECONDITION_FAILED","413 PAYLOAD_TOO_LARGE","413 REQUEST_ENTITY_TOO_LARGE","414 URI_TOO_LONG","414 REQUEST_URI_TOO_LONG","415 UNSUPPORTED_MEDIA_TYPE","416 REQUESTED_RANGE_NOT_SATISFIABLE","417 EXPECTATION_FAILED","418 I_AM_A_TEAPOT","419 INSUFFICIENT_SPACE_ON_RESOURCE","420 METHOD_FAILURE","421 DESTINATION_LOCKED","422 UNPROCESSABLE_ENTITY","423 LOCKED","424 FAILED_DEPENDENCY","425 TOO_EARLY","426 UPGRADE_REQUIRED","428 PRECONDITION_REQUIRED","429 TOO_MANY_REQUESTS","431 REQUEST_HEADER_FIELDS_TOO_LARGE","451 UNAVAILABLE_FOR_LEGAL_REASONS","500 INTERNAL_SERVER_ERROR","501 NOT_IMPLEMENTED","502 BAD_GATEWAY","503 SERVICE_UNAVAILABLE","504 GATEWAY_TIMEOUT","505 HTTP_VERSION_NOT_SUPPORTED","506 VARIANT_ALSO_NEGOTIATES","507 INSUFFICIENT_STORAGE","508 LOOP_DETECTED","509 BANDWIDTH_LIMIT_EXCEEDED","510 NOT_EXTENDED","511 NETWORK_AUTHENTICATION_REQUIRED"],"example":"BAD_REQUEST","type":"string"}},"title":"ApiError","type":"object"},"ApiResponseOfstring":{"properties":{"body":{"description":"The response message from our server.","example":"Success","type":"string"},"code":{"description":"The `HTTP` status code and additional details about what the code means.","example":"200 OK","type":"string"},"errors":{"description":"Returns a description of the error if any ocurred.","items":{"type":"string"},"type":"array"},"message":{"description":"Returns the response message.","example":"Success","type":"string"},"status":{"description":"Details if the request was successful or if an error has ocurred.","enum":["100 CONTINUE","101 SWITCHING_PROTOCOLS","102 PROCESSING","103 CHECKPOINT","200 OK","201 CREATED","202 ACCEPTED","203 NON_AUTHORITATIVE_INFORMATION","204 NO_CONTENT","205 RESET_CONTENT","206 PARTIAL_CONTENT","207 MULTI_STATUS","208 ALREADY_REPORTED","226 IM_USED","300 MULTIPLE_CHOICES","301 MOVED_PERMANENTLY","302 FOUND","302 MOVED_TEMPORARILY","303 SEE_OTHER","304 NOT_MODIFIED","305 USE_PROXY","307 TEMPORARY_REDIRECT","308 PERMANENT_REDIRECT","400 BAD_REQUEST","401 UNAUTHORIZED","402 PAYMENT_REQUIRED","403 FORBIDDEN","404 NOT_FOUND","405 METHOD_NOT_ALLOWED","406 NOT_ACCEPTABLE","407 PROXY_AUTHENTICATION_REQUIRED","408 REQUEST_TIMEOUT","409 CONFLICT","410 GONE","411 LENGTH_REQUIRED","412 PRECONDITION_FAILED","413 PAYLOAD_TOO_LARGE","413 REQUEST_ENTITY_TOO_LARGE","414 URI_TOO_LONG","414 REQUEST_URI_TOO_LONG","415 UNSUPPORTED_MEDIA_TYPE","416 REQUESTED_RANGE_NOT_SATISFIABLE","417 EXPECTATION_FAILED","418 I_AM_A_TEAPOT","419 INSUFFICIENT_SPACE_ON_RESOURCE","420 METHOD_FAILURE","421 DESTINATION_LOCKED","422 UNPROCESSABLE_ENTITY","423 LOCKED","424 FAILED_DEPENDENCY","425 TOO_EARLY","426 UPGRADE_REQUIRED","428 PRECONDITION_REQUIRED","429 TOO_MANY_REQUESTS","431 REQUEST_HEADER_FIELDS_TOO_LARGE","451 UNAVAILABLE_FOR_LEGAL_REASONS","500 INTERNAL_SERVER_ERROR","501 NOT_IMPLEMENTED","502 BAD_GATEWAY","503 SERVICE_UNAVAILABLE","504 GATEWAY_TIMEOUT","505 HTTP_VERSION_NOT_SUPPORTED","506 VARIANT_ALSO_NEGOTIATES","507 INSUFFICIENT_STORAGE","508 LOOP_DETECTED","509 BANDWIDTH_LIMIT_EXCEEDED","510 NOT_EXTENDED","511 NETWORK_AUTHENTICATION_REQUIRED"],"example":"OK","type":"string"}},"title":"ApiResponseOfstring","type":"object"},"ConfirmFundingInstrumentRequestDTO":{"properties":{"otpReceived":{"description":"The one-time password (OTP) you received from Nium when calling the Add Funding Instrument API. This is a required field for EU and UK direct deposits.","type":"string"}},"title":"ConfirmFundingInstrumentRequestDTO","type":"object"},"CustomerLinkAccountRequest":{"properties":{"accountNumber":{"description":"The customer account number or IBAN.","example":"55779911","type":"string"},"country":{"description":"The [2-letter ISO-2 country code](doc:currency-and-country-codes) where the bank account resides.","example":"US","type":"string"},"currency":{"description":"The 3-letter [ISO-4217 currency code](doc:currency-and-country-codes) for the linked account.","example":"USD","type":"string"},"fundingChannel":{"description":"The mode to use to fund a wallet. Adding a new funding instrument is only supported for direct debit.","enum":["DIRECT_DEBIT"],"example":"DIRECT_DEBIT","type":"string"},"routingCodes":{"description":"Accepts the List of routing code type and value.","items":{"$ref":"#/components/schemas/RoutingInfo"},"type":"array"}},"required":["country","currency","fundingChannel"],"title":"Customer link account request","type":"object"},"CustomerLinkAccountRequestV2":{"properties":{"bankAccountId":{"format":"uuid","type":"string"}},"title":"CustomerLinkAccountRequestV2","type":"object"},"InvoiceDetails":{"properties":{"date":{"description":"Date of the trade.","example":"2022-09-21","type":"string"},"description":{"description":"A brief description of the wallet.","example":"Card payment","type":"string"},"items":{"description":"Ender details about the quantity and price.","example":"Trade Details","items":{"$ref":"#/components/schemas/ItemDetails"},"type":"array"},"name":{"description":"The name of the account holder.","example":"Jack Stan","type":"string"},"number":{"description":"A unique alphanumeric value containing an invoice number for your reference at a later time.","example":45667090,"type":"string"}},"title":"InvoiceDetails","type":"object"},"ItemDetails":{"properties":{"unitPrice":{"description":"The price of an indivdual unit. Only accepts whole numbers; decimals and partial integers are not allowed.","example":1,"type":"string"},"unitQuantity":{"description":"This quantity of units. Only accepts whole numbers; decimals and partial integers are not allowed. whole number","example":1,"type":"string"}},"title":"ItemDetails","type":"object"},"LinkAccountResponse":{"properties":{"country":{"description":"The [2-letter ISO-2 country code](doc:currency-and-country-codes) where the bank account resides.","example":"US","type":"string"},"createdAt":{"description":"The timestamp of when the funding instrument was added.","format":"date-time","type":"string"},"currency":{"description":"The 3-letter [ISO-4217 currency code](doc:currency-and-country-codes) for the account to be linked.","example":"USD","type":"string"},"fundingChannel":{"description":"The mode of funding the wallet. Direct debit is supported when adding a new funding instrument.","enum":["DIRECT_DEBIT"],"type":"string"},"fundingInstrumentId":{"description":"The unique 36-character alphanumeric identifier of a funding instrument. The ID is a bank account identifier when the funding channel is direct debit.","type":"string"},"returnUrl":{"description":"The URL to redirect the customer when they're done.","type":"string"},"status":{"description":"This field contains the status of the request. Available values include:<ul><li><strong>PENDING</strong></li><li><strong>FAILED</strong></li></ul>","type":"string"}},"title":"Link account response","type":"object"},"LinkAccountResponseV2":{"properties":{"bankAccountId":{"format":"uuid","type":"string"},"country":{"type":"string"},"createdAt":{"format":"date-time","type":"string"},"currency":{"type":"string"},"fundingInstrumentId":{"format":"uuid","type":"string"},"maskedAccountNumber":{"type":"string"},"routingCodes":{"items":{"$ref":"#/components/schemas/RoutingInfo"},"type":"array"},"status":{"type":"string"}},"title":"LinkAccountResponseV2","type":"object"},"RoutingInfo":{"properties":{"type":{"description":"This field accepts the routing code type.","enum":["SWIFT","TRANSIT_NUMBER","BSB_CODE","SORT_CODE","ACH_CODE","BRANCH_CODE"],"example":"SORT_CODE","type":"string"},"value":{"description":"This field accepts the routing code value.","example":200000,"type":"string"}},"title":"RoutingInfo","type":"object"},"PayinStandard401Error":{"properties":{"code":{"enum":["unauthorized"],"type":"string"},"description":{"enum":["Access Denied"],"type":"string"}},"title":"Standard401Error","type":"object"},"PayinStandard403Error":{"properties":{"code":{"enum":["access_forbidden"],"type":"string"},"description":{"enum":["Access to resource not allowed"],"type":"string"}},"title":"Standard403Error","type":"object"},"Standard404Error":{"properties":{"code":{"enum":["resource_not_found"],"type":"string"},"description":{"type":"string"}},"title":"Standard404Error","type":"object"},"PayinStandard500Error":{"properties":{"code":{"enum":["internal_error","external_dependent_system_failed"],"type":"string"},"description":{"enum":["An internal error occurred"],"type":"string"}},"title":"Standard500Error","type":"object"},"TypedErrorOfstring":{"properties":{"code":{"enum":["validation_error","direct_debit_disabled","invalid_bank_account","invalid_input"],"type":"string"},"description":{"type":"string"},"field":{"type":"string"}},"title":"TypedErrorOfstring","type":"object"},"WalletFundDTO":{"properties":{"amount":{"description":"The amount in the destination currency to transfer. If `amount` is provided, it will take precedence over the `sourceAmount` field.","example":500,"format":"double","type":"number"},"countryIpAddress":{"description":"The country IP address of the device the customer is using to initate the request.","example":"2.2.2.2","type":"string"},"currencyMap":{"additionalProperties":{"format":"double","type":"number"},"type":"object"},"destinationCurrencyCode":{"description":"The 3-letter [ISO-4217 currency code](doc:currency-and-country-codes) for the destination amount.","example":"SGD","type":"string"},"deviceKey":{"description":"Device key","example":1234567890,"type":"string"},"fundingChannel":{"description":"<ul><li>Funding wallets using <strong>PREFUND</strong> is available via cross-currency.</li><li>Funding wallets using <strong>BANK_TRANSFER</strong> mode is only available for SGD to SGD. <strong>BANK_TRANSFER</strong> is not available for cross-currency funding.</li><li>Funding wallets using <strong>DIRECT_DEBIT</strong> is only available for the USA.</li></ul>","enum":["PREFUND","BANK_TRANSFER","CARD","DIRECT_DEBIT","FASTER_DIRECT_DEBIT"],"example":"BANK_TRANSFER","type":"string"},"fundingInstrumentExpiry":{"description":"The expiry date of the funding insturment in MMYY format. Required when adding new cards.","type":"string"},"fundingInstrumentHolderName":{"description":"Name of the card holder as printed on the card. Maximum length of this field is 26 characters. This is required in case of new card.","example":"John Smith","type":"string"},"fundingInstrumentId":{"description":"The ID of the funding instrument that's returned when Adding a `fundingInstrument` `. The `fundingInstrumentId` is a card hash when `fundingChannel` is **CARD** and required only for existing cards. The id is a bank account identifier when the funding channel is direct debit.","type":"string"},"fundingInstrumentNumber":{"description":"The 16-digit card number. Required when adding new cards.","type":"string"},"fundingInstrumentSecurityNumber":{"description":"The 3-digit CVV number. Required for both new and existing cards.","type":"string"},"invoiceDetails":{"$ref":"#/components/schemas/InvoiceDetails","description":"Used only for JPY collection fund requests."},"ipAddress":{"description":"The IP address of the device the customer is using to initate the request.","example":"192.168.1.1","type":"string"},"pocketName":{"description":"The name of the pocket as defined under base currency.","example":"DEFAULT","type":"string"},"save":{"description":"Set to **TRUE** to save the funding instrument for future transfers.","example":true,"type":"boolean"},"sessionId":{"description":"The session ID of the instance the customer is initiating. the request.","example":"1234","type":"string"},"sourceAmount":{"description":"The amount in the source currency to convert and transfer. Note the `amount` field takes precedence over `sourceAmount`.","example":15.34,"format":"double","type":"number"},"sourceCurrencyCode":{"description":"The 3-letter [ISO-4217 currency code](doc:currency-and-country-codes) for the source amount.","example":"SGD","type":"string"},"statementNarrative":{"description":"Set what to display on bank account statements when they are pulling funds using Direct Debit. The value entered will be truncated to 10 characters for the UK and US, and 140 chars for the EU.","type":"string"}},"required":["destinationCurrencyCode","fundingChannel","sourceCurrencyCode"],"title":"Wallet fund","type":"object"},"WalletFundResponseDTO":{"properties":{"destinationAmount":{"description":"The credited amount.","example":500,"format":"double","type":"number"},"destinationCurrencyCode":{"description":"The 3-letter [ISO-4217 currency code](doc:currency-and-country-codes) for the destination amount.","example":"USD","type":"string"},"paymentMethods":{"description":"An array with three types of objects:<ul><li>Bank transfer data</li><li>Dynamic pay now code</li><li>Static pay now code</li></ul>","items":{"anyOf":[{"$ref":"#/components/schemas/BankTransfer"},{"$ref":"#/components/schemas/DynamicPayNow"},{"$ref":"#/components/schemas/StaticPayNow"}],"discriminator":{"propertyName":"type"}},"type":"array"},"returnUrl":{"description":"A 3DS Stripe URL generated to enter a One-Time Password (OTP).","type":"string"},"sourceAmount":{"description":"The amount in the source currency that's being converted and transfered. Note the `amount` field takes precedence over `sourceAmount`.","example":500,"format":"double","type":"number"},"sourceCurrencyCode":{"description":"The 3-letter [ISO-4217 currency code](doc:currency-and-country-codes) for the source amount.","example":"SGD","type":"string"},"status":{"description":"Returns the following values:<ul> <li><strong>Pending:</strong> Authorization of the transaction is awaiting approval.</li> <li><strong>Approved:</strong> The transaction has been approved and successfully authorized.</li> <li><strong>Rejected:</strong> The transaction was rejected due to NIUM's risk and compliance policy.</li> <li><strong>Declined:</strong> The transaction was declined. Follow up with the account owner to confirm funds are available, and the details provided are correct.</li> <li><strong>Reversal:</strong> The transaction was reversed and refunded.</li> <li><strong>Disputed:</strong> The account owner has disputed the transaction and filed a dispute with their bank.</li> <li><strong>DisputeClosed:</strong> The dispute filed against the transaction has been resolved.</li> </ul>","example":"Pending","type":"string"},"systemReferenceNumber":{"description":"The transaction reference number generated by the card issuance platform.","example":"FW5289214401","type":"string"}},"title":"Wallet fund response","type":"object"},"WalletFundingInstrumentsResponseDTO":{"properties":{"bankName":{"description":"The name of the bank that issued the account associated with the funding instrument.","type":"string"},"cardBankName":{"description":"The name of the bank that issued the card associated with the funding instrument.","example":"CHASE MANHATTAN BANK","type":"string"},"cardNetwork":{"description":"The payment network the provided card uses. At this time we support Visa and MasterCard.","example":"visa","type":"string"},"cardType":{"description":"The type of card being used. Available values include **credit** and **debit**.","example":"credit","type":"string"},"clientHashId":{"description":"The unique 36-character client identifier generated and shared before the API handshake.","example":"c9364508-bd8e-4f6c-a481-8b0cd9a0a7b3","type":"string"},"country":{"description":"The country the card or account was originally opened in.","example":"US","type":"string"},"createdAt":{"description":"A timestamp detailing when the funding instrument got added. Retunred in a YYYY-MM-DD hh:mm:ss format.","example":"2021-01-13 11:13:53","format":"date-time","type":"string"},"currency":{"description":"This currency the submitted the card or account uses.","example":"USD","type":"string"},"customerHashId":{"description":"The unique 36-character customer identifier generated and shared before the API handshake.","example":"39396524-6f07-4abf-a957-9cc4f7f927cd","type":"string"},"fundingChannel":{"description":"The funding channel of the funding instrument.","enum":["DIRECT_DEBIT"],"example":"DIRECT_DEBIT","type":"string"},"fundingInstrumentId":{"description":"The unique 36-character funding instrument identifier.","example":"e5bc0d30-6455-4942-b65e-3a195fc5fbd8","type":"string"},"maskCardNumber":{"description":"The 16-digit card number in a masked format: 1234-56xx-xxxx-3456.","example":"4000-00xx-xxxx-0446","type":"string"},"maskedAccountNumber":{"description":"The account number in a masked format where only the blast 4 digits are visible.","example":"XXXXXXXXXXXX1111","type":"string"},"routingType":{"description":"The routing type.","example":"ACH CODE","type":"string"},"routingValue":{"description":"The routing value.","example":"011401533","type":"string"},"saved":{"description":"Details if the the funding instrument is saved for future funding transfers. or not.","example":true,"type":"boolean"},"status":{"description":"The status of the funding instrument.","enum":["ACTIVE","INACTIVE","BLOCKED","SUSPENDED","UPLOADED","APPROVED","REJECTED","FAILED","SUCCESS","FAILURE","PARTIALLY SUCCESS","SYNC","NOT SYNC","PENDING","REQUIRES_ACTION","CLEAR","DECLINED","ACCOUNT_BLOCKED","AMOUNT_BLOCKED","DE_LINKED","CANCELLED","LINKED"],"example":"APPROVED","type":"string"},"threeDSecureUsage":{"description":"Details if the funding instrument supports 3DS verification.","example":true,"type":"boolean"},"updatedAt":{"description":"A timestamp detailing when the funding instrument was last updated. Retunred in a YYYY-MM-DD hh:mm:ss format.","example":"2021-01-13 11:13:53","format":"date-time","type":"string"},"walletHashId":{"description":"This field contains the unique 36-character wallet identifier generated and shared before API handshake.","example":"f898c437-21b6-4050-8457-c70cc035644c","type":"string"}},"title":"Wallet funding instruments response","type":"object"},"AddressDTO":{"properties":{"addressLine1":{"type":"string"},"addressLine2":{"type":"string"},"city":{"type":"string"},"country":{"type":"string"},"postcode":{"type":"string"},"state":{"type":"string"}},"title":"AddressDTO","type":"object"},"WalletApiError":{"properties":{"errors":{"description":"Returns the errors that occurred if any.","example":["field1 is not valid","field2 is not valid"],"items":{"type":"string"},"type":"array"},"message":{"description":"Provides more details about the returned error, if any.","example":"Error message descriptor.","type":"string"},"status":{"description":"HttpStatus of the request : BAD_REQUEST, INTERNAL_SERVER_ERROR.","enum":["200 OK","400 BAD_REQUEST","403 FORBIDDEN","404 NOT_FOUND","500 INTERNAL_SERVER_ERROR","502 BAD_GATEWAY","503 SERVICE_UNAVAILABLE"],"example":"BAD_REQUEST","type":"string"}},"title":"ApiError","type":"object"},"ApiError2":{"properties":{"errors":{"description":"Returns the errors that occurred if any.","example":["field1 is not valid","field2 is not valid"],"items":{"type":"string"},"type":"array"},"message":{"description":"Provides more details about the returned error, if any.","example":"Error message descriptor.","type":"string"}},"title":"ApiError2","type":"object"},"BeneficialOwnerDetailsDTO":{"properties":{"address":{"$ref":"#/components/schemas/AddressDTO"},"dateOfBirth":{"type":"string"},"firstName":{"type":"string"},"identificationNumber":{"type":"string"},"lastName":{"type":"string"}},"title":"BeneficialOwnerDetailsDTO","type":"object"},"CorporateDTO":{"properties":{"beneficialOwnerDetails":{"$ref":"#/components/schemas/BeneficialOwnerDetailsDTO"},"businessAddress":{"$ref":"#/components/schemas/AddressDTO"},"businessName":{"type":"string"},"identificationDocIssuanceCountry":{"type":"string"},"identificationNumber":{"type":"string"},"identificationType":{"enum":["BUSINESS_REGISTRATION_CERTIFICATE"],"type":"string"},"registeredAddress":{"$ref":"#/components/schemas/AddressDTO"},"registrationDate":{"type":"string"}},"title":"CorporateDTO","type":"object"},"CustomerDetailDTO":{"properties":{"corporate":{"$ref":"#/components/schemas/CorporateDTO"},"entityType":{"enum":["INDIVIDUAL","CORPORATE"],"type":"string"},"individual":{"$ref":"#/components/schemas/IndividualDTO"}},"title":"CustomerDetailDTO","type":"object"},"IndividualDTO":{"properties":{"address":{"$ref":"#/components/schemas/AddressDTO"},"dateOfBirth":{"type":"string"},"email":{"type":"string"},"firstName":{"type":"string"},"gender":{"type":"string"},"identificationDocIssuanceCountry":{"type":"string"},"identificationNumber":{"type":"string"},"identificationType":{"enum":["PASSPORT_NO","NATIONAL_ID"],"type":"string"},"lastName":{"type":"string"},"nationality":{"type":"string"}},"title":"IndividualDTO","type":"object"},"PaymentIdCientTagsResponseDTO":{"properties":{"tags":{"items":{"$ref":"#/components/schemas/PaymentIdClientTagResponseDTO"},"type":"array"}},"title":"PaymentId cient tags response","type":"object"},"PaymentIdClientTagResponseDTO":{"properties":{"key":{"type":"string"},"message":{"type":"string"}},"title":"PaymentId client tag response","type":"object"},"PaymentIdRequestDTO2":{"properties":{"tags":{"description":"Use this field to create and include tags for your future reference. Accepts client defined key-value pairs.\nThe maximum number of tags allowed is 15.","items":{"$ref":"#/components/schemas/WalletPaymentIdsTagRequestDTO"},"type":"array"},"accountCategory":{"description":"The category the virtual account was assigned to.","enum":["SELF_FUNDING_ACCOUNT","COLLECTION_ACCOUNT","Null"],"type":"string","example":"null"},"bankName":{"description":"The name of the bank which has issued the account linked to this account.","type":"string","example":"CFSB_US"},"currencyCode":{"description":"The 3-letter [ISO-4217 currency code](doc:currency-and-country-codes) of the payment.","type":"string","example":"USD"},"customerDetails":{"$ref":"#/components/schemas/CustomerDetailDTO","description":"This object accepts customer details while assigning payment ID. This fields is conditional based on the Clients, who intends to leverage this API to request for VAN allocation without onboarding"}},"required":["bankName","currencyCode"],"title":"PaymentId request","type":"object"},"PaymentIdResponseDTO2":{"properties":{"bankName":{"type":"string","description":"The name of the bank which has issued the customer's account linked.","example":"CFSB_US"},"currencyCode":{"type":"string","description":"The 3-letter [ISO-4217 currency code](doc:currency-and-country-codes) used by the customer's account.","example":"USD"},"uniquePayerId":{"type":"string","description":"The unique email ID provided to the customer in addition to a `uniquePaymentId` for supported regions and configurations. If the region doesn't support `uniquePayerId`, the field will return null.","example":null},"uniquePaymentId":{"type":"string","example":"85175412368"}},"title":"PaymentId response","type":"object"},"PaymentIdTagRequestDTO":{"properties":{"tags":{"description":"Use this field to create and include tags for your future reference. Accepts client defined key-value pairs.\nThe maximum number of tags allowed is 15.","items":{"$ref":"#/components/schemas/WalletPaymentIdsTagRequestDTO2"},"type":"array"},"currencyCode":{"description":"The 3-letter [ISO-4217 currency code](doc:currency-and-country-codes).","type":"string"},"uniquePaymentId":{"description":"The unique virtual account assigned to the customer.","type":"string"}},"required":["currencyCode","tags","uniquePaymentId"],"title":"PaymentId tag request","type":"object"},"VirtualAccountResponseDTO":{"properties":{"content":{"items":{"$ref":"#/components/schemas/WalletPaymentIdsResponseDTO"},"type":"array"},"totalElements":{"format":"int64","type":"integer","description":"Details the total number of items retunred in the response."},"totalPages":{"format":"int32","type":"integer","description":"Details the number of pages in the response body."}},"title":"Virtual account response","type":"object"},"WalletPaymentIdsResponseDTO":{"properties":{"tags":{"additionalProperties":{"type":"string"},"type":"object","description":"Use this field to create and include tags for your futre reference. Accepts client defined key-value pairs.\nThe maximum number of tags allowed is 15."},"accountCategory":{"enum":["SELF_FUNDING_ACCOUNT","COLLECTION_ACCOUNT"],"type":"string","description":"The category the virtual account was assigned to.","example":"SELF_FUNDING_ACCOUNT"},"accountName":{"type":"string","description":"The name of the bank account or the primary beneficiary.","example":"John Doe's Account"},"accountType":{"type":"string","description":"Details the type of the virtual account.","example":"LOCAL"},"bankAddress":{"type":"string","description":"The address of the bank that holds the virtual account.","example":"1088 Roosevelt Street, San Francisco, United States 94105"},"bankName":{"type":"string","example":"CFSB_USINTL","description":"This field represents the bank name of the virtual account Available values include:\n* BOL_LT\n* MONOOVA_AU\n* DBS_HK\n* DBS_SG\n* JPM_AU\n* JPM_SG\n* CB_GB\n* CFSB_USINTL\n* JPM_UK"},"currencyCode":{"type":"string","description":"The 3-letter [ISO-4217 currency code](doc:currency-and-country-codes) of the payment.","example":"USD"},"fullBankName":{"type":"string","description":"The name of the issuing bank in its entirety.","example":"CFSB_US"},"routingCodeType1":{"type":"string","description":"The routing code type 1.","example":"ABA (ACH)"},"routingCodeType2":{"type":"string","description":"The routing code type 2.","example":"ABA (Wire)"},"routingCodeValue1":{"type":"string","description":"The routing code value 1. See [Examples of Routing Codes](/apis/docs/routing-codes#examples-of-routing-codes) for more details.","example":"026073150"},"routingCodeValue2":{"type":"string","description":"The routing code value 2. See [Examples of Routing Codes](/apis/docs/routing-codes#examples-of-routing-codes) for more details."},"status":{"enum":["ACTIVE","INACTIVE","BLOCKED","SUSPENDED","UPLOADED","APPROVED","REJECTED","FAILED","SUCCESS","FAILURE","PARTIALLY SUCCESS","SYNC","NOT SYNC","PENDING","REQUIRES_ACTION","CLEAR","DECLINED","ACCOUNT_BLOCKED","AMOUNT_BLOCKED"],"type":"string","example":"Active","description":"The current status of the funding instrument."},"uniquePayerId":{"type":"string","description":"This field contains the unique payer ID.","example":"85986555375"},"uniquePaymentId":{"type":"string","description":"The unique payment ID."}},"title":"Wallet paymentIds response","type":"object"},"WalletPaymentIdsTagRequestDTO":{"properties":{"key":{"description":"Accepts the name of a tag.\nThe maximum character length for tag keys is 128 characters.","type":"string"},"value":{"description":"Accepts the value of a tag.\nThe maximum character length for tag values is 256 characters.","type":"string"}},"required":["key"],"title":"Wallet paymentIds tag request","type":"object"},"WalletPaymentIdsTagRequestDTO2":{"properties":{"action":{"description":"Set the tag operation of your request. Available values include: <ul> <li><strong>DELETE:</strong> When you want to remove tags.</li> <li><strong>MAINTAIN:</strong> When you want to update, add, or change tags.</li> </ul>","enum":["MAINTAIN","DELETE"],"type":"string"},"key":{"description":"Accepts the name of a tag.\nThe maximum character length for tag keys is 128 characters.","type":"string"},"value":{"description":"Accepts the value of a tag.\nThe maximum character length for tag values is 256 characters.\nNote: A value must be included if `tags.action` is **MAINTAIN**.","type":"string"}},"required":["action","key"],"title":"Wallet paymentIds tag request","type":"object"},"BankTransfer":{"description":"A \"bank transfer\" refers to a method of electronic payment that enables you to transfer funds from your bank account to another bank account or from the same bank or to a different financial institution. Bank transfer often get used for larger transactions, such as paying bills or sending money to a friend or family member.","properties":{"accountName":{"description":"This name of the NIUM bank account.","type":"string"},"accountNumber":{"description":"The physical bank account number of NIUM.","type":"string"},"bankName":{"description":"The name of the bank money is being transferred to.","type":"string"},"iban":{"description":"The International Bank Account Number. Also called an IBAN, is a combination of country code, check digits, bank code, sort code and account number.","type":"string"},"sortCode":{"description":"UEN number associated with NIUM PayNow account.","type":"string"},"type":{"description":"The type of payment method. Available values include: <ul><li>staticPayNow</li><li>dynamicPayNow</li><li>bankTransfer</li></ul>","enum":["bankTransfer"],"type":"string"}},"required":["type"],"title":"Bank transfer","type":"object"},"DynamicPayNow":{"description":"The amount to be paid can be adjusted or changed in real-time before the payment is initiated. DynamicPayNow payments are often used for transactions with dynamic pricing like buying shares of a company's stock or making a bid in an auction.","properties":{"UEN":{"description":"The UEN number associated with NIUM's PayNow account.","type":"string"},"type":{"description":"This field contains the type of payment method such as staticPayNow, dynamicPayNow, or bankTransfer.","enum":["dynamicPayNow"],"type":"string"}},"required":["type"],"title":"Dynamic pay now code","type":"object"},"StaticPayNow":{"description":"The amount to be paid is fixed and cannot be changed once the payment is initiated. StaticPayNow payments are most often used for one-time transactions, such as paying for a product or service.","properties":{"qrCode":{"description":"Returns the codec-base64 encoded QRCode image data. Once decoded, a QRCode image becomes available. The QRCode image can be read by devices such as smartphone or camera.","type":"string"},"type":{"description":"Details the type of payment method used; in this case **staticPayNow**.","enum":["staticPayNow"],"type":"string"}},"required":["type"],"title":"Static pay now code","type":"object"}},"securitySchemes":{"default":{"in":"header","name":"x-api-key","type":"apiKey"}}},"security":[{"default":[]}],"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}