{"openapi":"3.0.3","info":{"contact":{"email":"experience@nium.com","name":"NIUM Platform","url":"https://www.nium.com"},"description":"NIUM Platform","license":{"name":"Copyright (c) 2024 NIUM"},"title":"Testing","version":"2024.6.4"},"servers":[{"url":"https://gateway.nium.com/"}],"tags":[{"name":"Payin","description":"REST API's for Payin"}],"paths":{"/api/v1/inward/payment/manual":{"post":{"parameters":[{"description":"Enter a unique UUID value","in":"header","name":"x-request-id","schema":{"type":"string","example":"{{$guid}}"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayinApiResponse2"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayinApiError"}}},"description":"BadRequest"},"401":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayinApiError"}}},"description":"Not Found"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayinApiError"}}},"description":"Internal Server Error"}},"tags":["Payin"],"deprecated":false,"operationId":"Simulatereceivepayment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InwardPaymentManualRequestDTO"},"examples":{"Simulate_Receiving_Transaction":{"value":{"amount":1000000,"currency":"SGD","bankReferenceNumber":1234,"bankSource":"DBS_SG","country":"SGD"},"summary":"Simulate Receiving a Transaction"}}}},"description":"inwardPaymentManualRequestDTO","required":true},"summary":"Simulate Receiving a Transaction","x-info":{"apiType":"external"},"security":[{"default":[]}],"description":"This API can be used in Sandbox testing to simulate the inward receipt of transaction and credit funds into a wallet for testing purposes.\n >ℹ️ INFO \n>This API is for testing purpose only and not to be used in production.\n>Use a unique bankReferenceNumber every time you simulate receiving a transaction."}},"/api/v1/simulations/client/{clientHashId}/customer/{customerHashId}/fundingInstruments/{fundingInstrumentId}/updateStatus":{"post":{"parameters":[{"description":"clientHashId","in":"path","name":"clientHashId","required":true,"schema":{"type":"string"}},{"description":"customerHashId","in":"path","name":"customerHashId","required":true,"schema":{"type":"string"}},{"description":"fundingInstrumentId","in":"path","name":"fundingInstrumentId","required":true,"schema":{"type":"string"}},{"description":"Enter a unique UUID value.","in":"header","name":"x-request-id","schema":{"type":"string","example":"{{$guid}}"}}],"responses":{"200":{"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayinApiError"}}},"description":"BadRequest"},"401":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"type":"string"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayinApiError"}}},"description":"Not Found"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayinApiError"}}},"description":"Internal Server Error"}},"tags":["Payin"],"deprecated":false,"operationId":"SimulateFundingInstrumentStatusUpdate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FundingInstrumentStatusUpdateRequestDTO"}}},"description":"fundingInstrumentStatusUpdateRequestDTO","required":true},"summary":"Simulate Funding Instrument Status Update (Sandbox Testing)","x-info":{"apiType":"external"},"security":[{"default":[]}]}},"/api/v1/simulations/client/{clientHashId}/customer/{customerHashId}/bankAccounts/{bankAccountId}/microDeposits":{"get":{"tags":["Customer"],"summary":"Fetch micro-deposit details","description":"This API is used to fetch the micro-deposit details that were sent to a linked bank account pending authentication for E2E testing.","operationId":"fetchMicroDepositDetails","parameters":[{"name":"clientHashId","in":"path","description":"Unique identifier of the client.","required":true,"schema":{"type":"string","format":"UUID"}},{"name":"customerHashId","in":"path","description":"Unique identifier of the customer.","required":true,"schema":{"type":"string","format":"UUID"}},{"name":"bankAccountId","in":"path","description":"Unique identifier of the linked bank account.","required":true,"style":"simple","explode":false,"schema":{"$ref":"#/components/schemas/BankAccountId"}},{"description":"Enter a unique UUID value.","in":"header","name":"x-request-id","schema":{"type":"string","example":"{{$guid}}"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MicroDepositDetails"},"example":{"amounts":[0.03,0.32]}}}},"401":{"description":"Error response when the request is unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/externalAccountServiceStandard401Error"}}}},"404":{"description":"Error response when the requested resource is not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/externalAccountServiceStandard404Error"}}}},"500":{"description":"Error response when an internal error occurs.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/externalAccountServiceStandard500Error"}}}}},"deprecated":false,"x-info":{"apiType":"external"},"security":[{"default":[]}]}}},"components":{"schemas":{"PayinApiError":{"properties":{"errors":{"description":"List of errors occurred.","example":["field1 is not valid","field2 is not valid"],"items":{"type":"string"},"type":"array"},"message":{"description":"Error message descriptor.","example":"Error message descriptor.","type":"string"},"status":{"description":"HttpStatus of the request : BAD_REQUEST, INTERNAL_SERVER_ERROR.","enum":["100 CONTINUE","101 SWITCHING_PROTOCOLS","102 PROCESSING","103 CHECKPOINT","200 OK","201 CREATED","202 ACCEPTED","203 NON_AUTHORITATIVE_INFORMATION","204 NO_CONTENT","205 RESET_CONTENT","206 PARTIAL_CONTENT","207 MULTI_STATUS","208 ALREADY_REPORTED","226 IM_USED","300 MULTIPLE_CHOICES","301 MOVED_PERMANENTLY","302 FOUND","302 MOVED_TEMPORARILY","303 SEE_OTHER","304 NOT_MODIFIED","305 USE_PROXY","307 TEMPORARY_REDIRECT","308 PERMANENT_REDIRECT","400 BAD_REQUEST","401 UNAUTHORIZED","402 PAYMENT_REQUIRED","403 FORBIDDEN","404 NOT_FOUND","405 METHOD_NOT_ALLOWED","406 NOT_ACCEPTABLE","407 PROXY_AUTHENTICATION_REQUIRED","408 REQUEST_TIMEOUT","409 CONFLICT","410 GONE","411 LENGTH_REQUIRED","412 PRECONDITION_FAILED","413 PAYLOAD_TOO_LARGE","413 REQUEST_ENTITY_TOO_LARGE","414 URI_TOO_LONG","414 REQUEST_URI_TOO_LONG","415 UNSUPPORTED_MEDIA_TYPE","416 REQUESTED_RANGE_NOT_SATISFIABLE","417 EXPECTATION_FAILED","418 I_AM_A_TEAPOT","419 INSUFFICIENT_SPACE_ON_RESOURCE","420 METHOD_FAILURE","421 DESTINATION_LOCKED","422 UNPROCESSABLE_ENTITY","423 LOCKED","424 FAILED_DEPENDENCY","425 TOO_EARLY","426 UPGRADE_REQUIRED","428 PRECONDITION_REQUIRED","429 TOO_MANY_REQUESTS","431 REQUEST_HEADER_FIELDS_TOO_LARGE","451 UNAVAILABLE_FOR_LEGAL_REASONS","500 INTERNAL_SERVER_ERROR","501 NOT_IMPLEMENTED","502 BAD_GATEWAY","503 SERVICE_UNAVAILABLE","504 GATEWAY_TIMEOUT","505 HTTP_VERSION_NOT_SUPPORTED","506 VARIANT_ALSO_NEGOTIATES","507 INSUFFICIENT_STORAGE","508 LOOP_DETECTED","509 BANDWIDTH_LIMIT_EXCEEDED","510 NOT_EXTENDED","511 NETWORK_AUTHENTICATION_REQUIRED"],"example":"BAD_REQUEST","type":"string"}},"title":"ApiError","type":"object"},"PayinApiResponse2":{"properties":{"message":{"description":"This field returns `true` if the request was successful.","example":"ICC request has been processed and published successfully","type":"string"},"success":{"description":"This flag indicates the success of the request.","example":true,"type":"boolean"}},"title":"ApiResponse2","type":"object"},"FundingInstrumentStatusUpdateRequestDTO":{"properties":{"action":{"description":"The action value to simulate the status of the funding instrument.","enum":["MICRODEPOSIT_REVERSED","MICRODEPOSIT_SUCCESSFUL"],"example":"MICRODEPOSIT_REVERSED","type":"string"}},"required":["action"],"title":"FundingInstrumentStatusUpdateRequestDTO","type":"object"},"InwardPaymentManualRequestDTO":{"properties":{"additionalInfo":{"additionalProperties":{"type":"string"},"description":"This object accepts additional information about the corridor being used.","type":"object"},"amount":{"description":"The amount of the transaction to simulate.","example":10,"format":"double","type":"number"},"bankReferenceNumber":{"description":"This field contains the bank reference number.","example":"712347512376","type":"string"},"bankSource":{"description":"This field details the source of the funds.","enum":["DBS_HK","DBS_SG","DBS_ID","JPM_SG","JPM_AU","JPM_UK","JPM_CA","MONOOVA_AU","BOL_LT","CB_GB","CFSB_US","BARCLAYS_UK","BARCLAYS_EU","CITI_SG","CITI_MX","CFSB_USINTL","GMO_JP","NETBANK_PH","GOCARDLESS","DIRECTFAST_SG","BANKINGCIRCLE_PL","COLUMN"],"example":"DBS_SG","type":"string"},"branchCode":{"description":"This field contains bank's branch code.","example":535,"type":"string"},"country":{"description":"This field contains the country.","example":"SG","type":"string"},"currency":{"description":"This field contains the 3-letter currency code.","enum":["SGD","AUD","EUR","HKD","USD","GBP","AED","CAD","CHF","CZK","DKK","HUF","ILS","MXN","NOK","NZD","PLN","RON","RUB","SEK","ZAR","CNY","JPY","THB","TRY","PHP","IDR"],"example":"SGD","type":"string"},"iccExpiry":{"description":"This field contains the expiry time for ICC.","example":"2023-07-05 07:26:38.026","type":"string"},"instructionType":{"description":"This field contains the payment instruction type","enum":["INQUIRY","PROCESS"],"example":"PROCESS","type":"string"},"narrative":{"description":"This field contains the narrative.","example":"FROM NIUM","type":"string"},"payMode":{"description":"This field details the payment mode.","example":"ACH","type":"string"},"remitterAccountNumber":{"description":"This field contains the remitter account number.","example":"HLFX11029100808072","type":"string"},"remitterBankCode":{"description":"This field contains the remitter bank code.","example":"BYLADEM1KUB","type":"string"},"remitterBankName":{"description":"This field contains the remitter bank name.","example":"DBS_SG","type":"string"},"remitterName":{"description":"This field contains the remitter name.","example":"John K","type":"string"},"remitterNameLocalLanguage":{"description":"This field contains the remitter name local language.","example":"エム・エス・シャーマー","type":"string"},"transactionId":{"description":"This field contains the transaction reference number/ID.","example":"FW242141","type":"string"},"transactionSource":{"description":"This field contains the ICC transaction source.","example":"ACH","type":"string"},"type":{"description":"This field contains the ICC entry type.","example":"CREDIT or DEBIT","type":"string"},"virtualAccountNumber":{"description":"This field contains the virtual account number.","example":"907654315445678","type":"string"}},"title":"InwardPaymentManualRequestDTO","type":"object"},"externalAccountServiceStandard401Error":{"type":"object","properties":{"code":{"type":"string","default":"unauthorized","enum":["unauthorized"]},"description":{"type":"string","default":"Access Denied","enum":["Access Denied"]}}},"externalAccountServiceStandard404Error":{"type":"object","properties":{"code":{"type":"string","default":"resource_not_found","enum":["resource_not_found"]},"description":{"type":"string","default":"Resource not found","enum":["Resource not found"]}}},"externalAccountServiceStandard500Error":{"type":"object","properties":{"code":{"type":"string","default":"internal_error","enum":["internal_error","external_dependent_system_failed"]},"description":{"type":"string","default":"An internal error occurred","enum":["An internal error occurred"]}}},"BankAccountId":{"type":"string","description":"Unique identifier of a linked bank account.","format":"uuid"},"MicroDepositDetails":{"type":"object","properties":{"amounts":{"type":"array","description":"The micro-deposit amounts sent.","items":{"type":"number","format":"float"}}}}},"securitySchemes":{"default":{"in":"header","name":"x-api-key","type":"apiKey"}}},"security":[{"default":[]}],"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}