{"openapi":"3.1.0","info":{"title":"Checkouts API","version":"2"},"servers":[{"url":"https://api.sandbox.zip.co/merchant"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","name":"Authorization","x-bearer-format":"bearer","x-default":"YOUR_API_KEY"}}},"security":[{"sec0":[]}],"paths":{"/checkouts":{"post":{"summary":"Create a checkout","description":"","operationId":"create-checkouts","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["shopper","order","config"],"properties":{"type":{"type":"string","description":"Checkout product type. Accepted Values: <br> <span class=\"codeLabel codeLabel-nolink\">standard</span>"},"shopper":{"type":"object","description":"Shopper information object","properties":{"title":{"type":"string","description":"Title of shopper (Mr, Mrs, etc). Must be characters of alphabet only."},"first_name":{"type":"string","description":"First name of shopper."},"last_name":{"type":"string","description":"Last name of shopper."},"middle_name":{"type":"string","description":"Middle name of shopper. Must be characters of alphabet only."},"phone":{"type":"string","description":"Phone number of shopper. Must only be numerals (no spaces, special characters or alphabet chars)."},"email":{"type":"string","description":"Email address of shopper."},"gender":{"type":"string","description":"The shopper’s gender. Possible values <span class=\"codeLabel codeLabel-nolink\">female</span><span class=\"codeLabel codeLabel-nolink\">male</span>"},"birthdate":{"type":"string","description":"Birth date of buyer in format of yyyy-mm-dd."},"billing_address":{"type":"object","description":"Bill address of the shopper","properties":{"line1":{"type":"string","description":"Line 1 of the billing address"},"line2":{"type":"string","description":"Line 2 of the billing address"},"city":{"type":"string","description":"City of the billing address Line 1 of the billing address"},"state":{"type":"string","description":"State of the billing address Line 1 of the billing address"},"postal_code":{"type":"string","description":"Postal code of the billing address Line 1 of the billing address"},"country":{"type":"string","description":"Country of the billing address Line 1 of the billing address"},"first_name":{"type":"string","description":"First name of the billing address"},"last_name":{"type":"string","description":"Last name of the billing address"}}}}},"order":{"type":"object","description":"Order details object.","required":["reference","amount","currency"],"properties":{"reference":{"type":"string","description":"Unique order reference id. Can also be passed in to /charges call. If left out one will be automatically generated at this point."},"merchant_fee_for_payment_plan":{"type":"number","description":"Merchant fee for payment plan.<br>Only available for <span class=\"codeLabel codeLabel-nolink\">USD</span> and <span class=\"codeLabel codeLabel-nolink\">CAD</span>","format":"double"},"amount":{"type":"number","description":"Total amount of order. This is the amount that is charged to the customer’s zip account.","format":"double"},"currency":{"type":"string","description":"Transaction currency. <br>Accepted values are <span class=\"codeLabel\">USD</span> <span class=\"codeLabel\">CAD</span> <span class=\"codeLabel\">AUD</span> <span class=\"codeLabel\">NZD</span>"},"shipping":{"type":"object","description":"Shipping object.","required":["pickup"],"properties":{"pickup":{"type":"boolean","description":"Line 1 of the billing address."},"address":{"type":"object","properties":{"line1":{"type":"string","description":"Line 1 of the billing address"},"line2":{"type":"string","description":"Line 2 of the shipping address."},"city":{"type":"string","description":"City of the shipping address"},"state":{"type":"string","description":"State of the shipping address"},"postal_code":{"type":"string","description":"Postal Code of the shipping address"},"country":{"type":"string","description":"Country of the shipping address"}}}}},"items":{"type":"array","description":"Order items object","items":{"properties":{"name":{"type":"string","description":"Name of the item"},"amount":{"type":"number","description":"Amount of the item. Sum of item amounts, each multiplied by its quantity (next field) must equal amount on the order","format":"double"},"quantity":{"type":"number","description":"Quantity of items of this sku","format":"double"},"type":{"type":"string","description":"Type of item. Accepted values. Accepted values: <span class=\"codeLabel\">SKU</span>  <span class=\"codeLabel\">tax</span>  <span class=\"codeLabel\">shipping</span> <span class=\"codeLabel\">discount</span>"},"reference":{"type":"string","description":"Item code reference."},"item_uri":{"type":"string","description":"Item URL for product page."},"image_uri":{"type":"string","description":"URI of thumbnail image for item – displayed in checkout flow."}},"type":"object"}},"platform_reference":{"type":"string","description":"Checkout reference id generated by the payment platform. Typically used by payment services platforms and gateways to specify their unique checkout ID for each payment attempt."}}},"features":{"type":"object","description":"Feature object for extra features required on this checkout","properties":{"tokenisation":{"type":"object","description":"Tokenisation object – required if you are requesting to tokenise the user’s account.","properties":{"required":{"type":"boolean","description":"Defines whether tokenization is required to complete the order."}}}}},"config":{"type":"object","required":["redirect_uri"],"properties":{"redirect_uri":{"type":"string","description":"Redirect URI – where the customer is redirected to following placement of order. This will be an intermediate page or endpoint that performs order finalization, including charging or tokenizing account."},"expires_in":{"type":"integer","description":"Checkout expiration timeframe in hours","format":"int32"}}},"metadata":{"type":"object","description":"Object containing name value pairs of meta data to be returned whenever recalling this checkout object.","properties":{}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\"id\":\"co_P9GOgSVE9qMnL0VA6Jy8z6\",\n  \"uri\":\"https://account.sandbox.zipmoney.com.au/?co=co_P9GOgSVE9qMnL0VA6Jy8z6&m=aa7bd4b9-f270-4eba-94b7-a64e\",\n   \"type\":\"standard\",\n   \"shopper\":{\n      \"title\":\"Mr\",\n      \"first_name\":\"John\",\n      \"last_name\":\"Smith\",\n      \"middle_name\":\"Joe\",\n      \"phone\":\"0400000000\",\n      \"email\":\"test@emailaddress.com\",\n      \"birth_date\":\"2017-10-10\",\n      \"gender\":\"Male\",\n      \"billing_address\":{\n         \"line1\":\"10 Test st\",\n         \"city\":\"Sydney\",\n         \"state\":\"NSW\",\n         \"postal_code\":\"2000\",\n         \"country\":\"AU\",\n         \"first_name\":\"John\",\n         \"last_name\":\"Smith\"\n      }\n   },\n   \"order\":{\n      \"reference\":\"testcheckout1\",\n      \"amount\":200,\n      \"currency\":\"AUD\",\n      \"merchant_fee_for_payment_plan\":4,\n      \"shipping\":{\n         \"pickup\":false,\n         \"address\":{\n            \"line1\":\"10 Test st\",\n            \"city\":\"Sydney\",\n            \"state\":\"NSW\",\n            \"postal_code\":\"2000\",\n            \"country\":\"AU\"\n         }\n      },\n      \"items\":[\n         {\n            \"name\":\"Awesome shoes\",\n            \"amount\":200,\n            \"reference\":\"1\",\n            \"quantity\":1.0,\n            \"type\":\"sku\"\n         }\n      ]\n   },\n   \"metadata\":{\n      \"name1\":\"value1\"\n   },\n   \"created\":\"2018-05-07T05:37:56.4794801Z\",\n   \"state\":\"created\",\n   \"config\":{\n      \"redirect_uri\":\"http://www.redirectsuccess.com/zipmoney/approved\"\n   }\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"co_P9GOgSVE9qMnL0VA6Jy8z6"},"uri":{"type":"string","example":"https://account.sandbox.zipmoney.com.au/?co=co_P9GOgSVE9qMnL0VA6Jy8z6&m=aa7bd4b9-f270-4eba-94b7-a64e"},"type":{"type":"string","example":"standard"},"shopper":{"type":"object","properties":{"title":{"type":"string","example":"Mr"},"first_name":{"type":"string","example":"John"},"last_name":{"type":"string","example":"Smith"},"middle_name":{"type":"string","example":"Joe"},"phone":{"type":"string","example":"0400000000"},"email":{"type":"string","example":"test@emailaddress.com"},"birth_date":{"type":"string","example":"2017-10-10"},"gender":{"type":"string","example":"Male"},"billing_address":{"type":"object","properties":{"line1":{"type":"string","example":"10 Test st"},"city":{"type":"string","example":"Sydney"},"state":{"type":"string","example":"NSW"},"postal_code":{"type":"string","example":"2000"},"country":{"type":"string","example":"AU"},"first_name":{"type":"string","example":"John"},"last_name":{"type":"string","example":"Smith"}}}}},"order":{"type":"object","properties":{"reference":{"type":"string","example":"testcheckout1"},"amount":{"type":"integer","example":200,"default":0},"currency":{"type":"string","example":"AUD"},"merchant_fee_for_payment_plan":{"type":"integer","example":4,"default":0},"shipping":{"type":"object","properties":{"pickup":{"type":"boolean","example":false,"default":true},"address":{"type":"object","properties":{"line1":{"type":"string","example":"10 Test st"},"city":{"type":"string","example":"Sydney"},"state":{"type":"string","example":"NSW"},"postal_code":{"type":"string","example":"2000"},"country":{"type":"string","example":"AU"}}}}},"items":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"Awesome shoes"},"amount":{"type":"integer","example":200,"default":0},"reference":{"type":"string","example":"1"},"quantity":{"type":"integer","example":1,"default":0},"type":{"type":"string","example":"sku"}}}}}},"metadata":{"type":"object","properties":{"name1":{"type":"string","example":"value1"}}},"created":{"type":"string","example":"2018-05-07T05:37:56.4794801Z"},"state":{"type":"string","example":"created"},"config":{"type":"object","properties":{"redirect_uri":{"type":"string","example":"http://www.redirectsuccess.com/zipmoney/approved"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/charges":{"post":{"summary":"Create a charge","description":"","operationId":"create-charges","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["authority","reference","amount","currency"],"properties":{"authority":{"type":"object","description":"Order shipping address object.","required":["type","value"],"properties":{"type":{"type":"string","description":"Authority type to process the charge request. Accepted values <span class=\"codeLabel\">checkout_id</span> <span class=\"codeLabel\">account_token</span>"},"value":{"type":"string","description":"Authority value in the form of a checkout_id value or account_token value"}}},"reference":{"type":"string","description":"Unique payment reference for this charge."},"amount":{"type":"string","description":"Amount of this charge. This is the amount that will be transferred (if capture=true) from customer to merchant account or ring-fenced if capture=false."},"currency":{"type":"string","description":"Transaction currency. <br>Accepted values are <span class=\"codeLabel\">USD</span> <span class=\"codeLabel\">CAD</span> <span class=\"codeLabel\">AUD</span> <span class=\"codeLabel\">NZD</span>"},"capture":{"type":"boolean","description":"Defaults to true. <span class=\"codeLabel\">capture=true</span>  will immediately transfer funds to merchant account and deduct the funds from customers account. <span class=\"codeLabel\">capture=false</span>  will authorize only and will ring-fence funds to be transferred on a call to <span class=\"codeLabel\">/capture</span>","default":true},"shopper":{"type":"object","description":"Shopper information object","properties":{"title":{"type":"string","description":"Title of shopper (Mr, Mrs, etc). Must be characters of alphabet only."},"first_name":{"type":"string","description":"First name of shopper."},"last_name":{"type":"string","description":"Last name of shopper."},"middle_name":{"type":"string","description":"Middle name of shopper. Must be characters of alphabet only."},"phone":{"type":"string","description":"Phone number of shopper. Must only be numerals (no spaces, special characters or alphabet chars)."},"email":{"type":"string","description":"Email address of shopper."},"gender":{"type":"string","description":"The shopper’s gender. Possible values <span class=\"codeLabel codeLabel-nolink\">female</span><span class=\"codeLabel codeLabel-nolink\">male</span>"},"birthdate":{"type":"string","description":"Birth date of buyer in format of yyyy-mm-dd."},"billing_address":{"type":"object","description":"Bill address of the shopper","properties":{"line1":{"type":"string","description":"Line 1 of the billing address"},"line2":{"type":"string","description":"Line 2 of the billing address"},"city":{"type":"string","description":"City of the billing address Line 1 of the billing address"},"state":{"type":"string","description":"State of the billing address Line 1 of the billing address"},"postal_code":{"type":"string","description":"Postal code of the billing address Line 1 of the billing address"},"country":{"type":"string","description":"Country of the billing address Line 1 of the billing address"},"first_name":{"type":"string","description":"First name of the billing address"},"last_name":{"type":"string","description":"Last name of the billing address"}}}}},"Order":{"type":"object","description":"Order information object","required":["reference","amount","currency"],"properties":{"reference":{"type":"string","description":"Unique order reference id. Can also be passed in to /charges call. If left out one will be automatically generated at this point."},"merchant_fee_for_payment_plan":{"type":"number","description":"Merchant fee for payment plan.<br>Only available for <span class=\"codeLabel codeLabel-nolink\">USD</span> and <span class=\"codeLabel codeLabel-nolink\">CAD</span>","format":"double"},"amount":{"type":"number","description":"Total amount of order. This is the amount that is charged to the customer’s zip account.","format":"double"},"currency":{"type":"string","description":"Transaction currency. <br>Accepted values are <span class=\"codeLabel\">USD</span> <span class=\"codeLabel\">CAD</span> <span class=\"codeLabel\">AUD</span> <span class=\"codeLabel\">NZD</span>"},"shipping":{"type":"object","description":"Shipping object.","required":["pickup"],"properties":{"pickup":{"type":"boolean","description":"Line 1 of the billing address."},"address":{"type":"object","properties":{"line1":{"type":"string","description":"Line 1 of the billing address"},"line2":{"type":"string","description":"Line 2 of the shipping address."},"city":{"type":"string","description":"City of the shipping address"},"state":{"type":"string","description":"State of the shipping address"},"postal_code":{"type":"string","description":"Postal Code of the shipping address"},"country":{"type":"string","description":"Country of the shipping address"}}}}},"items":{"type":"array","description":"Order items object","items":{"properties":{"name":{"type":"string","description":"Name of the item"},"amount":{"type":"number","description":"Amount of the item. Sum of item amounts, each multiplied by its quantity (next field) must equal amount on the order","format":"double"},"quantity":{"type":"number","description":"Quantity of items of this sku","format":"double"},"type":{"type":"string","description":"Type of item. Accepted values. Accepted values: <span class=\"codeLabel\">SKU</span>  <span class=\"codeLabel\">tax</span>  <span class=\"codeLabel\">shipping</span> <span class=\"codeLabel\">discount</span>"},"reference":{"type":"string","description":"Item code reference."},"item_uri":{"type":"string","description":"Item URL for product page."},"image_uri":{"type":"string","description":"URI of thumbnail image for item – displayed in checkout flow."}},"type":"object"}},"platform_reference":{"type":"string","description":"Checkout reference id generated by the payment platform. Typically used by payment services platforms and gateways to specify their unique checkout ID for each payment attempt."}}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"amount\": 25,\n    \"captured_amount\": 25,\n    \"created_date\": \"2021-02-24T10:22:40.528Z\",\n    \"currency\": \"GBP\",\n    \"id\": \"uk-4816d007-ff6b-4f62-89bf-3eb56cb4f00f\",\n    \"product\": \"partPay\",\n    \"receipt_number\": 210224654538,\n    \"refunded_amount\": 0,\n    \"state\": \"approved\",\n    \"customer\": {\n        \"id\": \"7fa56dd9-9578-4b5f-99ec-c1bdf3449939\",\n        \"first_name\": \"Zac\",\n        \"last_name\": \"Miller\",\n        \"email\": \"email_address@zip.co\",          \n      \n    },\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/charges/{charge_id}/capture":{"post":{"summary":"Capture a charge","description":"","operationId":"capture","parameters":[{"name":"charge_id","in":"path","description":"The unique charge ID returned in the /charges call","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["amount","reference"],"properties":{"amount":{"type":"number","description":"Order shipping address object.","format":"double"},"reference":{"type":"string","description":"Unique transaction reference."},"is_partial_capture":{"type":"boolean","description":"Specifies whether the capture request is partial or not. If true and the capture amount is less than the authorized amount then the outstanding balance will remain authorised for capture at a later stage. If false and the capture amount is less than the authorized amount then the outstanding balance will be released back to the customer and the charges will be finalised, future captures will not be allowed. Default value is false if attribute is not specified in the request","default":false}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n   \"id\":\"ch_AKS81QxsiKUSnr281pX7z4\",\n   \"reference\":\"nsadioghsdgoihsd\",\n   \"amount\":200,\n   \"currency\":\"AUD\",\n   \"state\":\"captured\",\n   \"captured_amount\":200,\n   \"refunded_amount\":0,\n   \"created_date\":\"2018-05-07T05:46:48.963Z\",\n   \"receipt_number\":155953,\n   \"product\":\"zipPay\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"ch_AKS81QxsiKUSnr281pX7z4"},"reference":{"type":"string","example":"nsadioghsdgoihsd"},"amount":{"type":"integer","example":200,"default":0},"currency":{"type":"string","example":"AUD"},"state":{"type":"string","example":"captured"},"captured_amount":{"type":"integer","example":200,"default":0},"refunded_amount":{"type":"integer","example":0,"default":0},"created_date":{"type":"string","example":"2018-05-07T05:46:48.963Z"},"receipt_number":{"type":"integer","example":155953,"default":0},"product":{"type":"string","example":"zipPay"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/refunds":{"post":{"summary":"Create a refund","description":"","operationId":"create-refunds","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["charge_id","reference","reason"],"properties":{"charge_id":{"type":"string","description":"Zip transaction charge ID to apply the refund."},"reference":{"type":"string","description":"Unique transaction reference."},"reason":{"type":"string","description":"Reason of the refund."},"amount":{"type":"number","description":"Refund amount.","format":"double"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n   \"id\":\"rf_8a12RyFyrD0h7py94nJatJ\",\n   \"charge_id\":\"ch_AKS81QxsiKUSnr281pX7z4\",\n   \"reason\":\"Unwanted item\",\n   \"amount\":100,\n   \"created\":\"2018-05-10T06:54:34.9237159Z\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"rf_8a12RyFyrD0h7py94nJatJ"},"charge_id":{"type":"string","example":"ch_AKS81QxsiKUSnr281pX7z4"},"reason":{"type":"string","example":"Unwanted item"},"amount":{"type":"integer","example":100,"default":0},"created":{"type":"string","example":"2018-05-10T06:54:34.9237159Z"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/calculate-merchant-fees":{"post":{"summary":"Calculate merchant fees","description":"","operationId":"calculate-merch-fees","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["currency","amount","customer_State","customer_country"],"properties":{"currency":{"type":"string","description":"Order currency that will be applied to merchant fee plan calculation."},"amount":{"type":"number","description":"Order amount used to calculate the merchant fee plan.","format":"double"},"customer_State":{"type":"string","description":"Customer state derived from the customer's shipping address"},"customer_country":{"type":"string","description":"Customer country derived from the customer's shipping address"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"adjusted_order_amount\": 64,\n  \"currency\": \"USD\",\n  \"merchant_fee_for_payment_plan\": 4\n}"}},"schema":{"type":"object","properties":{"adjusted_order_amount":{"type":"integer","example":64,"default":0},"currency":{"type":"string","example":"USD"},"merchant_fee_for_payment_plan":{"type":"integer","example":4,"default":0}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/refunds/{refund_id}":{"get":{"summary":"Retrieve refund","description":"","operationId":"get-refund","parameters":[{"name":"refund_id","in":"path","description":"Refund ID returned in POST /refund API","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n   \"id\":\"rf_8a12RyFyrD0h7py94nJatJ\",\n   \"charge_id\":\"ch_AKS81QxsiKUSnr281pX7z4\",\n   \"reason\":\"Unwanted item\",\n   \"amount\":100,\n   \"created\":\"2018-05-10T06:54:34.923Z\",\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/tokens":{"post":{"summary":"Create a Token","description":"","operationId":"token","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"authority":{"type":"object","description":"Tokens authority object","required":["type","value"],"properties":{"type":{"type":"string","description":"Authority type to create a token. Accepted values <span class=\"codeLabel\">checkout_id</span>"},"value":{"type":"string","description":"Authority value in the form of a <span class=\"codeLabel\">checkout_id</span> returned in the<span class=\"codeLabel\">/checkouts</span>  API call."}}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": \"8\",\n  \"value\": \"7gs8oFWH34X1C6f1LunKY8dnZwt8fzkpBgtWY3CVhh4=\",\n  \"active\": true,\n  \"created_date\": \"2017-03-07T21:19:30.9892289Z\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"8"},"value":{"type":"string","example":"7gs8oFWH34X1C6f1LunKY8dnZwt8fzkpBgtWY3CVhh4="},"active":{"type":"boolean","example":true,"default":true},"created_date":{"type":"string","example":"2017-03-07T21:19:30.9892289Z"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/charges/{charge_id}/cancel":{"post":{"summary":"Cancel a charge","description":"","operationId":"cancel-charge","parameters":[{"name":"charge_id","in":"path","description":"<span class=\"codeLabel\">charge_id</span> returned in the <span class=\"codeLabel\">/charges</span> API","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["reference"],"properties":{"reference":{"type":"string","description":"Unique transaction reference."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"amount\": 500,\n    \"captured_amount\": 0,\n    \"created_date\": \"2022-02-16T08:08:12.337Z\",\n    \"currency\": \"USD\",\n    \"id\": \"8f813598-a0c4-4e31-91f4-892d6ce831f1\",\n    \"product\": \"partPay\",\n    \"receipt_number\": 220216450122,\n    \"refunded_amount\": 0,\n    \"state\": \"cancelled\"\n}"}},"schema":{"type":"object","properties":{"amount":{"type":"integer","example":500,"default":0},"captured_amount":{"type":"integer","example":0,"default":0},"created_date":{"type":"string","example":"2022-02-16T08:08:12.337Z"},"currency":{"type":"string","example":"USD"},"id":{"type":"string","example":"8f813598-a0c4-4e31-91f4-892d6ce831f1"},"product":{"type":"string","example":"partPay"},"receipt_number":{"type":"integer","example":220216450122,"default":0},"refunded_amount":{"type":"integer","example":0,"default":0},"state":{"type":"string","example":"cancelled"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/checkouts/{checkout_id}":{"get":{"summary":"Retrieve a checkout","description":"","operationId":"get-checkout","parameters":[{"name":"checkout_id","in":"path","description":"<span class=\"codeLabel\">checkout_id</span> returned in the POST <span class=\"codeLabel\">/checkouts</span> API","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n   \"id\":\"co_P9GOgSVE9qMnL0VA6Jy8z6\",\n   \"uri\":\"https://account.sandbox.zipmoney.com.au/?co=co_P9GOgSVE9qMnL0VA6Jy8z6&m=aa7bd4b9-f270-4eba-94b7-a64e\",\n   \"type\":\"standard\",\n   \"shopper\":{\n      \"title\":\"Mr\",\n      \"first_name\":\"John\",\n      \"last_name\":\"Smith\",\n      \"middle_name\":\"Joe\",\n      \"phone\":\"0400000000\",\n      \"email\":\"test@emailaddress.com\",\n      \"birth_date\":\"2017-10-10\",\n      \"gender\":\"Male\",\n      \"billing_address\":{\n         \"line1\":\"10 Test st\",\n         \"city\":\"Sydney\",\n         \"state\":\"NSW\",\n         \"postal_code\":\"2000\",\n         \"country\":\"AU\",\n         \"first_name\":\"John\",\n         \"last_name\":\"Smith\"\n      }\n   },\n   \"order\":{\n      \"reference\":\"testcheckout1\",\n      \"amount\":200,\n      \"currency\":\"AUD\",\n      \"merchant_fee_for_payment_plan\": 4,\n      \"shipping\":{\n         \"pickup\":false,\n         \"address\":{\n            \"line1\":\"10 Test st\",\n            \"city\":\"Sydney\",\n            \"state\":\"NSW\",\n            \"postal_code\":\"2000\",\n            \"country\":\"AU\"\n         }\n      },\n      \"items\":[\n         {\n            \"name\":\"Awesome shoes\",\n            \"amount\":200,\n            \"reference\":\"1\",\n            \"quantity\":1,\n            \"type\":\"sku\"\n         }\n      ]\n   },\n   \"metadata\":{\n      \"name1\":\"value1\"\n   },\n   \"created\":\"2018-05-07T05:37:56.4794801Z\",\n   \"state\":\"created\",\n   \"config\":{\n      \"redirect_uri\":\"http://www.redirectsuccess.com/zipmoney/approved\"\n   }\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"co_P9GOgSVE9qMnL0VA6Jy8z6"},"uri":{"type":"string","example":"https://account.sandbox.zipmoney.com.au/?co=co_P9GOgSVE9qMnL0VA6Jy8z6&m=aa7bd4b9-f270-4eba-94b7-a64e"},"type":{"type":"string","example":"standard"},"shopper":{"type":"object","properties":{"title":{"type":"string","example":"Mr"},"first_name":{"type":"string","example":"John"},"last_name":{"type":"string","example":"Smith"},"middle_name":{"type":"string","example":"Joe"},"phone":{"type":"string","example":"0400000000"},"email":{"type":"string","example":"test@emailaddress.com"},"birth_date":{"type":"string","example":"2017-10-10"},"gender":{"type":"string","example":"Male"},"billing_address":{"type":"object","properties":{"line1":{"type":"string","example":"10 Test st"},"city":{"type":"string","example":"Sydney"},"state":{"type":"string","example":"NSW"},"postal_code":{"type":"string","example":"2000"},"country":{"type":"string","example":"AU"},"first_name":{"type":"string","example":"John"},"last_name":{"type":"string","example":"Smith"}}}}},"order":{"type":"object","properties":{"reference":{"type":"string","example":"testcheckout1"},"amount":{"type":"integer","example":200,"default":0},"currency":{"type":"string","example":"AUD"},"merchant_fee_for_payment_plan":{"type":"integer","example":4,"default":0},"shipping":{"type":"object","properties":{"pickup":{"type":"boolean","example":false,"default":true},"address":{"type":"object","properties":{"line1":{"type":"string","example":"10 Test st"},"city":{"type":"string","example":"Sydney"},"state":{"type":"string","example":"NSW"},"postal_code":{"type":"string","example":"2000"},"country":{"type":"string","example":"AU"}}}}},"items":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"Awesome shoes"},"amount":{"type":"integer","example":200,"default":0},"reference":{"type":"string","example":"1"},"quantity":{"type":"integer","example":1,"default":0},"type":{"type":"string","example":"sku"}}}}}},"metadata":{"type":"object","properties":{"name1":{"type":"string","example":"value1"}}},"created":{"type":"string","example":"2018-05-07T05:37:56.4794801Z"},"state":{"type":"string","example":"created"},"config":{"type":"object","properties":{"redirect_uri":{"type":"string","example":"http://www.redirectsuccess.com/zipmoney/approved"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/charges/{charge_id}":{"get":{"summary":"Retrieve a charge","description":"","operationId":"get-charges","parameters":[{"name":"charge_id","in":"path","description":"ID returned in the POST <span class=\"codeLabel\">/charges</span> AI","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n   \"id\":\"ch_AKS81QxsiKUSnr281pX7z4\",\n   \"reference\":\"nsadioghsdgoihsd\",\n   \"amount\":200,\n   \"currency\":\"AUD\",\n   \"state\":\"authorised\",\n   \"captured_amount\":0,\n   \"refunded_amount\":0,\n   \"created_date\":\"2018-05-07T05:46:48.963Z\",\n   \"order\":{\n      \"reference\":\"refno1ononon\",\n      \"shipping\":{\n         \"pickup\":false,\n         \"address\":{\n            \"line1\":\"10 Test st\",\n            \"city\":\"Sydney\",\n            \"state\":\"NSW\",\n            \"postal_code\":\"2000\",\n            \"country\":\"AU\"\n         }\n      },\n      \"items\":[\n         {\n            \"name\":\"veniam qui occaecat amet ipsum\",\n            \"amount\":200,\n            \"reference\":\"1\",\n            \"quantity\":1,\n            \"type\":\"sku\",\n            \"item_uri\":\"https://tatum.name\"\n         }\n      ],\n      \"cart_reference\":\"exercitation doloresdfsd\"\n   },\n   \"customer\":{\n      \"id\":\"14589\",\n      \"first_name\":\"John\",\n      \"last_name\":\"APPROVETEST\",\n      \"email\":\"tim@tmkcomputing.com.au\"\n   },\n   \"receipt_number\":155953,\n   \"product\":\"zipPay\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"ch_AKS81QxsiKUSnr281pX7z4"},"reference":{"type":"string","example":"nsadioghsdgoihsd"},"amount":{"type":"integer","example":200,"default":0},"currency":{"type":"string","example":"AUD"},"state":{"type":"string","example":"authorised"},"captured_amount":{"type":"integer","example":0,"default":0},"refunded_amount":{"type":"integer","example":0,"default":0},"created_date":{"type":"string","example":"2018-05-07T05:46:48.963Z"},"order":{"type":"object","properties":{"reference":{"type":"string","example":"refno1ononon"},"shipping":{"type":"object","properties":{"pickup":{"type":"boolean","example":false,"default":true},"address":{"type":"object","properties":{"line1":{"type":"string","example":"10 Test st"},"city":{"type":"string","example":"Sydney"},"state":{"type":"string","example":"NSW"},"postal_code":{"type":"string","example":"2000"},"country":{"type":"string","example":"AU"}}}}},"items":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"veniam qui occaecat amet ipsum"},"amount":{"type":"integer","example":200,"default":0},"reference":{"type":"string","example":"1"},"quantity":{"type":"integer","example":1,"default":0},"type":{"type":"string","example":"sku"},"item_uri":{"type":"string","example":"https://tatum.name"}}}},"cart_reference":{"type":"string","example":"exercitation doloresdfsd"}}},"customer":{"type":"object","properties":{"id":{"type":"string","example":"14589"},"first_name":{"type":"string","example":"John"},"last_name":{"type":"string","example":"APPROVETEST"},"email":{"type":"string","example":"tim@tmkcomputing.com.au"}}},"receipt_number":{"type":"integer","example":155953,"default":0},"product":{"type":"string","example":"zipPay"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}}},"x-readme":{"headers":[{"key":"Zip-Version","value":"2021-08-25"}],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}