{"openapi":"3.0.2","info":{"title":"Online API","version":"3.0.0","contact":{"name":"Zip Integrations Support Team","email":"integrationsteam@zip.co","url":"https://zip.co/"}},"servers":[{"url":"https://api.static.sand.au.edge.zip.co","description":"Sandbox Environment"},{"url":"https://api.static.prod.au.edge.zip.co","description":"Production Environment"}],"tags":[{"name":"Accounts","description":"The Accounts API is responsible for providing callers with information pertaining to a customer's accounts.\nThe first of the end-points that is being made available is for the accounts collection. The initial goal of this end-point is to provide the caller (e.g. a merchant's web site) to list a client's accounts and balances as a part of the checkout and payment flow.\n"},{"name":"Charges","description":"To collect a payment for a good or service we first need to create a charge. A charge verifies that a given account has enough funds (the available balance) to pay for a purchase. If there are enough funds in an account the charge amount is placed in an authorised state for the funds to be captured by the merchant after the purchase has been fulfilled.\nFor convenience, the charge API allows the caller to both authorise and capture in a single request. This is to support situations where the goods being purchased are made available at the time the charge is created.\nCharges may remain in an authorised state, and the funds placed on hold, for a limited period of time. The timeframe is dependent upon your merchant agreement.\nFrom time to time it may be necessary to cancel a charge before the funds have been captured. For example, when a customer cancels an order prior to shipping. As no funds have been transferred out of the customer's account, the charge is marked as cancelled and the hold on funds is removed.\nIn the event that a charge has been captured, it is possible to refund an amount to the customer's account. The amount of a refund can be the same, more, or less than the amount of the captured amount.\n"},{"name":"Checkouts","description":"The Checkouts API allows a system to register detailed SKU-level information about what is being purchased. This is optional in the payment flow.\n"},{"name":"Healthcheck","description":"The Status API is here to notify the status of Linking and Charges services.\n"},{"name":"Identity","description":"The Identity API is responsible for generating OAuth tokens.\nThe [token] endpoint can generate different kinds of tokens based on the value of the [grant_type] parameter. To generate a new access token, id token, and refresh token for a user, the recommended value for parameter [grant_type] is [refresh_token].\n"},{"name":"Linking","description":"The Linking API is responsible for identifying the customer and to retrieve a token that represents the customer.\nThe first of the end-points that is being made available is for the customer identification. The initial goal of this end-point is to provide the caller (e.g. a merchant's web site) to a way to verify an phone number associated with an customer.\n"},{"name":"System","description":"The primary role of services made available under the System namespace are to provide information on the current state of the system. The first of these services to be published is a health check endpoint that provides a status for each of our public APIs\n"}],"paths":{"/login/connect/token":{"post":{"tags":["Identity"],"summary":"Refresh an access token","description":"Generates a new id token, an access token and a refresh token when the value of parameter [grant_type] is set to [refresh_token].\n","operationId":"refreshToken","requestBody":{"content":{"multipart/form-data":{"schema":{"properties":{"client_id":{"description":"Id of the client application.\n","type":"string","example":"ClientID"},"client_secret":{"description":"Secret key of the client application.","type":"string","example":"Secret"},"grant_type":{"description":"Must be set to [refresh_token]. The Refresh Token grant type is used to exchange a refresh token for an access token when the access token has expired.","type":"string","example":"refresh_token"},"refresh_token":{"description":"The latest refresh token issued by the identity service.","type":"string","example":"6b009557c5dbe86ff4f68ed548f77859f431ab086d9058a5ea0b3b3b363aa7a2"}},"required":["client_id","client_secret","grant_type","refresh_token"]}}}},"responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"properties":{"id_token":{"type":"string"},"access_token":{"type":"string"},"expires_in":{"type":"number","example":3600},"token-type":{"type":"string"},"refresh_token":{"type":"string"}}}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"properties":{"error":{"type":"string"}}}}}}}}},"/accounts":{"get":{"tags":["Accounts"],"summary":"Retrieve a list of accounts","description":"Provides a list of the accounts that can be accessed by the given access token (in the Authorization HTTP header). The response is a list of accounts that includes a UID for each, a balance. When a user has previously selected a preferred/default account for the integrated system, this information will also be provided as an attribute of the account.\n","operationId":"getAccounts","security":[{"api_key":[],"access_token":["read_balances"]}],"parameters":[{"name":"Accept","in":"header","required":true,"description":"v3 MIME type specification","schema":{"type":"string","description":"application/vnd.zipco.v3+json"}}],"responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"properties":{"accounts":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"A unique identifier that provides a reference to the account. This can be used in the account_id field when interacting with the account (e.g. making a `Charge`)\n"},"product_name":{"type":"string","enum":["Zip Pay","Zip Money"],"description":"The name of the Zip account type\n"},"status":{"type":"string","enum":["active","locked"],"description":"Only active accounts should have charges created against them"},"available_balance":{"type":"string","description":"The amount of funds available to the customer at the time of this call","example":"3350.39"}}}},"preferred_account_id":{"type":"string"}}}}}},"401":{"description":"Unauthorized operation.","content":{"application/vnd.zipco.v3.problem+json":{"schema":{"type":"object","description":"A machine-readable format for specifying errors in HTTP API responses based on https://tools.ietf.org/html/rfc7807.","required":["type","title","status"],"properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type.","example":"https://zip-online.api-docs.io/v1/api-specification/charge-create-a-charge#specific-error-responses"},"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"One or more model validation errors occurred."},"status":{"type":"number","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","example":400},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"See the errors property for details."},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence of the problem.","example":"https://api.sand.au.edge.zip.co/challenges/errors/specific-error-type-account-missing"}}}}}},"403":{"description":"Forbidden.","content":{"application/vnd.zipco.v3.problem+json":{"schema":{"type":"object","description":"A machine-readable format for specifying errors in HTTP API responses based on https://tools.ietf.org/html/rfc7807.","required":["type","title","status"],"properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type.","example":"https://zip-online.api-docs.io/v1/api-specification/charge-create-a-charge#specific-error-responses"},"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"One or more model validation errors occurred."},"status":{"type":"number","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","example":400},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"See the errors property for details."},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence of the problem.","example":"https://api.sand.au.edge.zip.co/challenges/errors/specific-error-type-account-missing"}}}}}}}}},"/challenges":{"post":{"tags":["Linking"],"summary":"Create a challenge","description":"Provides a way to verify a phone number, and check if there is an existing customer associated with that phone number.\n","operationId":"challengeCustomer","security":[{"api_key":[]}],"parameters":[{"name":"Accept","in":"header","required":true,"description":"v3 MIME type specification","schema":{"type":"string","description":"application/vnd.zipco.v3+json"}}],"requestBody":{"content":{"application/vnd.zipco.v3+json":{"schema":{"properties":{"country_code":{"description":"The standard internation code for the country. The phone's country code. i.e. 61\n","type":"integer","example":61},"phone_number":{"description":"The phone number of the customer, consisting of 6-12 digits  e.g. 487654321","type":"string","example":"487654321"},"client_ip":{"description":"the ip address of the client where this request is originated. If captured from a website, the client ip where the request is originated.","type":"string","example":"192.0.1.1"},"metadata":{"description":"Set of key-value pairs that you can attach to an object. This can be useful for storing additional information about the object in a structured format that is available when retrieving the response later.","type":"object"}},"required":["country_code","phone_number","client_ip"]}}}},"responses":{"201":{"description":"An OTP (preferred) Challenge successfully created and sent to customer.","headers":{"location":{"schema":{"type":"string"},"description":"A link to the created challenge"}},"content":{"application/vnd.zipco.v3+json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"A unique identifier that provides a reference to the challenge. This can be used verify the status of the challenge.\n"},"_links":{"description":"References to self and other resources","type":"object","properties":{"self":{"type":"object","properties":{"href":{"type":"string","description":"A URL that links to the current resources"}}},"verify":{"type":"object","properties":{"href":{"type":"string","description":"The URL to verify the challenge"}}}}}}}}}},"400":{"description":"Bad request.","content":{"application/vnd.zipco.v3.problem+json":{"schema":{"type":"object","description":"A machine-readable format for specifying errors in HTTP API responses based on https://tools.ietf.org/html/rfc7807.","required":["type","title","status"],"properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type.","example":"https://zip-online.api-docs.io/v1/api-specification/charge-create-a-charge#specific-error-responses"},"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"One or more model validation errors occurred."},"status":{"type":"number","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","example":400},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"See the errors property for details."},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence of the problem.","example":"https://api.sand.au.edge.zip.co/challenges/errors/specific-error-type-account-missing"}}}}}},"401":{"description":"Unauthorized operation.","content":{"application/vnd.zipco.v3.problem+json":{"schema":{"type":"object","description":"A machine-readable format for specifying errors in HTTP API responses based on https://tools.ietf.org/html/rfc7807.","required":["type","title","status"],"properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type.","example":"https://zip-online.api-docs.io/v1/api-specification/charge-create-a-charge#specific-error-responses"},"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"One or more model validation errors occurred."},"status":{"type":"number","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","example":400},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"See the errors property for details."},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence of the problem.","example":"https://api.sand.au.edge.zip.co/challenges/errors/specific-error-type-account-missing"}}}}}}}}},"/challenges/{id}":{"get":{"tags":["Linking"],"summary":"Retrieve a challenge","description":"Provides a way to check the status of an challenge.\n","operationId":"getChallenge","security":[{"api_key":[]}],"parameters":[{"name":"id","in":"path","required":true,"description":"The ID returned in response to a POST request to the /challenges collection","schema":{"type":"string"}},{"name":"Accept","in":"header","required":true,"description":"v3 MIME type specification","schema":{"type":"string","description":"application/vnd.zipco.v3+json"}}],"responses":{"200":{"description":"retrieve the challenge details if needed.","content":{"application/vnd.zipco.v3+json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"A unique identifier that provides a reference to the challenge. This can be used verify the status of the challenge.\n"},"status":{"type":"string","description":"The status of the challenge.\n"},"_links":{"description":"References to self and other resources","type":"object","properties":{"self":{"type":"object","properties":{"href":{"type":"string","description":"A URL that links to the current resources"}}},"verify":{"type":"object","properties":{"href":{"type":"string","description":"The URL to verify the challenge"}}}}}}}}}},"400":{"description":"Bad request.","content":{"application/vnd.zipco.v3.problem+json":{"schema":{"type":"object","description":"A machine-readable format for specifying errors in HTTP API responses based on https://tools.ietf.org/html/rfc7807.","required":["type","title","status"],"properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type.","example":"https://zip-online.api-docs.io/v1/api-specification/charge-create-a-charge#specific-error-responses"},"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"One or more model validation errors occurred."},"status":{"type":"number","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","example":400},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"See the errors property for details."},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence of the problem.","example":"https://api.sand.au.edge.zip.co/challenges/errors/specific-error-type-account-missing"}}}}}},"401":{"description":"Unauthorized operation.","content":{"application/vnd.zipco.v3.problem+json":{"schema":{"type":"object","description":"A machine-readable format for specifying errors in HTTP API responses based on https://tools.ietf.org/html/rfc7807.","required":["type","title","status"],"properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type.","example":"https://zip-online.api-docs.io/v1/api-specification/charge-create-a-charge#specific-error-responses"},"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"One or more model validation errors occurred."},"status":{"type":"number","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","example":400},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"See the errors property for details."},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence of the problem.","example":"https://api.sand.au.edge.zip.co/challenges/errors/specific-error-type-account-missing"}}}}}},"404":{"description":"Resource not found.","content":{"application/vnd.zipco.v3.problem+json":{"schema":{"type":"object","description":"A machine-readable format for specifying errors in HTTP API responses based on https://tools.ietf.org/html/rfc7807.","required":["type","title","status"],"properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type.","example":"https://zip-online.api-docs.io/v1/api-specification/charge-create-a-charge#specific-error-responses"},"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"One or more model validation errors occurred."},"status":{"type":"number","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","example":400},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"See the errors property for details."},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence of the problem.","example":"https://api.sand.au.edge.zip.co/challenges/errors/specific-error-type-account-missing"}}}}}}}}},"/challenges/{id}/retry":{"post":{"tags":["Linking"],"summary":"Retry a challenge","description":"Provides a way to retry the challenge, sends an OTP message to the customer phone number\n","operationId":"retryChallenge","security":[{"api_key":[]}],"parameters":[{"name":"id","in":"path","required":true,"description":"The ID returned in response to a POST request to the /challenges collection","schema":{"type":"string"}},{"name":"Accept","in":"header","required":true,"description":"v3 MIME type specification","schema":{"type":"string","description":"application/vnd.zipco.v3+json"}}],"responses":{"200":{"description":"An Preferred (OTP) Challenge successfully is re-created and sent to customer.","content":{"application/vnd.zipco.v3+json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"A unique identifier that provides a reference to the challenge. This can be used verify the status of the challenge.\n"},"_links":{"description":"References to self and other resources","type":"object","properties":{"self":{"type":"object","properties":{"href":{"type":"string","description":"A URL that links to the current resources"}}},"verify":{"type":"object","properties":{"href":{"type":"string","description":"The URL to verify the challenge"}}}}}}}}}},"400":{"description":"Bad request.","content":{"application/vnd.zipco.v3.problem+json":{"schema":{"type":"object","description":"A machine-readable format for specifying errors in HTTP API responses based on https://tools.ietf.org/html/rfc7807.","required":["type","title","status"],"properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type.","example":"https://zip-online.api-docs.io/v1/api-specification/charge-create-a-charge#specific-error-responses"},"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"One or more model validation errors occurred."},"status":{"type":"number","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","example":400},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"See the errors property for details."},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence of the problem.","example":"https://api.sand.au.edge.zip.co/challenges/errors/specific-error-type-account-missing"}}}}}},"401":{"description":"Unauthorized operation.","content":{"application/vnd.zipco.v3.problem+json":{"schema":{"type":"object","description":"A machine-readable format for specifying errors in HTTP API responses based on https://tools.ietf.org/html/rfc7807.","required":["type","title","status"],"properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type.","example":"https://zip-online.api-docs.io/v1/api-specification/charge-create-a-charge#specific-error-responses"},"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"One or more model validation errors occurred."},"status":{"type":"number","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","example":400},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"See the errors property for details."},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence of the problem.","example":"https://api.sand.au.edge.zip.co/challenges/errors/specific-error-type-account-missing"}}}}}},"404":{"description":"Resource not found.","content":{"application/vnd.zipco.v3.problem+json":{"schema":{"type":"object","description":"A machine-readable format for specifying errors in HTTP API responses based on https://tools.ietf.org/html/rfc7807.","required":["type","title","status"],"properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type.","example":"https://zip-online.api-docs.io/v1/api-specification/charge-create-a-charge#specific-error-responses"},"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"One or more model validation errors occurred."},"status":{"type":"number","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","example":400},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"See the errors property for details."},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence of the problem.","example":"https://api.sand.au.edge.zip.co/challenges/errors/specific-error-type-account-missing"}}}}}}}}},"/challenges/{id}/verify":{"post":{"tags":["Linking"],"summary":"Verify a challenge","description":"Once the challenge is created, you can post the challenge response code from the customer to complete the verification.\nOn successful verification of the challenge, an access_token is provided that must be supplied when calling customer-centric APIs. Further, account_details linked with the challenge will be returned\n","operationId":"verifyCustomer","security":[{"api_key":[]}],"parameters":[{"name":"id","in":"path","required":true,"description":"The challenge ID returned in response to a POST request to the /challenges request.","schema":{"type":"string"}},{"name":"Accept","in":"header","required":true,"description":"v3 MIME type specification","schema":{"type":"string","description":"application/vnd.zipco.v3+json;include=accounts, application/vnd.zipco.v3+json"}}],"requestBody":{"content":{"application/vnd.zipco.v3+json":{"schema":{"properties":{"verification_code":{"description":"The code sent to the customer in response to the challenge request\n","type":"string","example":2945}},"required":["verification_code"]}}}},"responses":{"200":{"description":"A challenge is verified successfully.","content":{"application/vnd.zipco.v3+json;include=accounts":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"A unique identifier that provides a reference to the challenge.\n"},"access_token":{"type":"string","description":"An access_token to fetch a customer's accounts The passed access_token could be used to identify the customer and make charges against the customer's accounts.\n"},"refresh_token":{"type":"string","description":"A refresh_token to get a new access_token in case it the access_token is expired\n"},"accounts":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"A unique identifier that provides a reference to the account. This can be used in the account_id field when interacting with the account (e.g. making a `Charge`)\n"},"product_name":{"type":"string","enum":["Zip Pay","Zip Money"],"description":"The name of the Zip account type\n"},"status":{"type":"string","enum":["active","locked"],"description":"Only active accounts should have charges created against them"},"available_balance":{"type":"string","description":"The amount of funds available to the customer at the time of this call","example":"3350.39"}}}},"preferred_account_id":{"type":"string"},"_links":{"description":"References to self and other resources","type":"object","properties":{"self":{"type":"object","properties":{"href":{"type":"string","description":"A URL that links to the current resources"}}},"accounts":{"type":"object","properties":{"href":{"type":"string","description":"A URL that retrives the account details for the customer."}}}}}}}},"application/vnd.zipco.v3+json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"A unique identifier that provides a reference to the challenge.\n"},"access_token":{"type":"string","description":"An access_token to fetch a customer's accounts The passed access_token could be used to identify the customer and make charges against the customer's accounts.\n"},"refresh_token":{"type":"string","description":"A refresh_token to get a new access_token in case it the access_token is expired\n"},"_links":{"description":"References to self and other resources","type":"object","properties":{"self":{"type":"object","properties":{"href":{"type":"string","description":"A URL that links to the current resources"}}},"accounts":{"type":"object","properties":{"href":{"type":"string","description":"A URL that retrives the account details for the customer."}}}}}}}}}},"400":{"description":"Bad request.","content":{"application/vnd.zipco.v3.problem+json":{"schema":{"type":"object","description":"A machine-readable format for specifying errors in HTTP API responses based on https://tools.ietf.org/html/rfc7807.","required":["type","title","status"],"properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type.","example":"https://zip-online.api-docs.io/v1/api-specification/charge-create-a-charge#specific-error-responses"},"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"One or more model validation errors occurred."},"status":{"type":"number","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","example":400},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"See the errors property for details."},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence of the problem.","example":"https://api.sand.au.edge.zip.co/challenges/errors/specific-error-type-account-missing"}}}}}},"401":{"description":"Unauthorized operation.","content":{"application/vnd.zipco.v3.problem+json":{"schema":{"type":"object","description":"A machine-readable format for specifying errors in HTTP API responses based on https://tools.ietf.org/html/rfc7807.","required":["type","title","status"],"properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type.","example":"https://zip-online.api-docs.io/v1/api-specification/charge-create-a-charge#specific-error-responses"},"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"One or more model validation errors occurred."},"status":{"type":"number","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","example":400},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"See the errors property for details."},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence of the problem.","example":"https://api.sand.au.edge.zip.co/challenges/errors/specific-error-type-account-missing"}}}}}},"403":{"description":"Forbidden.","content":{"application/vnd.zipco.v3.problem+json":{"schema":{"type":"object","description":"A machine-readable format for specifying errors in HTTP API responses based on https://tools.ietf.org/html/rfc7807.","required":["type","title","status"],"properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type.","example":"https://zip-online.api-docs.io/v1/api-specification/charge-create-a-charge#specific-error-responses"},"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"One or more model validation errors occurred."},"status":{"type":"number","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","example":400},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"See the errors property for details."},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence of the problem.","example":"https://api.sand.au.edge.zip.co/challenges/errors/specific-error-type-account-missing"}}}}}},"404":{"description":"A challenge is verified successfully, but could not find any existing customer associated with the challenge.","content":{"application/vnd.zipco.v3.problem+json":{"schema":{"type":"object","description":"A machine-readable format for specifying errors in HTTP API responses based on https://tools.ietf.org/html/rfc7807.","required":["type","title","status"],"properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type.","example":"https://zip-online.api-docs.io/v1/api-specification/charge-create-a-charge#specific-error-responses"},"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"One or more model validation errors occurred."},"status":{"type":"number","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","example":400},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"See the errors property for details."},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence of the problem.","example":"https://api.sand.au.edge.zip.co/challenges/errors/specific-error-type-account-missing"}}}}}}}}},"/charges":{"post":{"tags":["Charges"],"description":"A charge is created by issueing a POST request to the /charges collection. For the charge to be authorised the request must be approved by the customer. To allow merchants to make the checkout process more frictionless, it is possible to provide an access_token for the customer accounts as a part of the request. The access_token is to be provided in the Authorization header in the HTTPS request.\n\nCalls to create a Charge may supply a reference number that is specific to the merchant as a way to reconcile charges across systems.\n","operationId":"authorizeCharge","security":[{"api_key":[],"access_token":["create_charges"]}],"summary":"Authorise a charge","parameters":[{"name":"Idempotency-Key","in":"header","description":"When same operation is tried again, if you pass the Idempotency-Key we map to the same transaction to avoid duplicate","schema":{"type":"string"}}],"requestBody":{"content":{"application/vnd.zipco.v3+json":{"schema":{"properties":{"amount":{"description":"Amount of this charge. This is the amount that will be transferred (if capture=true) from customer to merchant account or ring-fenced if capture=false. The value is provided as a string containing a numeric value in a format that is appropriate for the provided currency code. (eg; \"100.00\" or \"100\" when capturing an amount in \"aud\")\n","type":"string","example":"54.30"},"capture":{"description":"Whether to immediately capture the charge. When 'false', the charge issues an authorization (or pre-authorization) that will need to be captured later. Uncaptured charges may be expired depending on your merchant agreement.","type":"boolean"},"currency":{"description":"Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html), in lowercase. Only \"aud\" is supported at present.","type":"string","example":"aud"},"description":{"description":"An arbitrary string which you can attach to a 'Charge' this will appear in the user's Account Activity. A clear charge description helps reduce customer confusion about why they have been charged.","type":"string","example":"a pair of shoes at Easter Gardens"},"metadata":{"description":"Set of key-value pairs that you can attach to an object. This can be useful for storing additional information about the object in a structured format that is available when retrieving the charge later.","type":"object"},"checkout_id":{"description":"The checkout id. Checkout is optional in the payment flow.","type":"string"},"merchant_id":{"description":"The Zip merchant_id that the funds should be settled against.","type":"string"},"account_id":{"description":"The customer's account_id that the funds should be charged against.","type":"string"},"reference":{"description":"The caller can specify a unique identifier for the charge to reconcile the charge against their own systems.","type":"string"}},"required":["amount","currency","merchant_id","account_id","capture"]}}}},"responses":{"201":{"description":"Charge successfully created.","content":{"application/vnd.zipco.v3+json":{"schema":{"properties":{"id":{"description":"Unique identifier for the object.","type":"string"},"status":{"description":"If the charge was created without capturing, this enum represents whether it is still uncaptured or has since been captured.","type":"string","enum":["authorised","captured"],"example":"authorised"},"created":{"description":"Time at which the object was created. Measured in seconds since the Unix epoch.","type":"integer","example":1562728786},"_links":{"description":"References to self and other resources","type":"object","properties":{"self":{"type":"object","properties":{"href":{"type":"string","description":"A URL that links to the current resources"}}},"capture":{"type":"object","properties":{"href":{"type":"string","description":"The URL to capture the current charge (only available if the status is \"authorised\").\n"}}},"cancel":{"type":"object","properties":{"href":{"type":"string","description":"The URL to cancel the current charge (only available if the status is \"authorised\")"}}}}}},"title":"ChargeSummary","type":"object"}}}},"400":{"description":"Bad request.","content":{"application/vnd.zipco.v3.problem+json":{"schema":{"type":"object","description":"A machine-readable format for specifying errors in HTTP API responses based on https://tools.ietf.org/html/rfc7807.","required":["type","title","status"],"properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type.","example":"https://zip-online.api-docs.io/v1/api-specification/charge-create-a-charge#specific-error-responses"},"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"One or more model validation errors occurred."},"status":{"type":"number","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","example":400},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"See the errors property for details."},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence of the problem.","example":"https://api.sand.au.edge.zip.co/challenges/errors/specific-error-type-account-missing"}}}}}},"401":{"description":"Unauthorized operation.","content":{"application/vnd.zipco.v3.problem+json":{"schema":{"type":"object","description":"A machine-readable format for specifying errors in HTTP API responses based on https://tools.ietf.org/html/rfc7807.","required":["type","title","status"],"properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type.","example":"https://zip-online.api-docs.io/v1/api-specification/charge-create-a-charge#specific-error-responses"},"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"One or more model validation errors occurred."},"status":{"type":"number","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","example":400},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"See the errors property for details."},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence of the problem.","example":"https://api.sand.au.edge.zip.co/challenges/errors/specific-error-type-account-missing"}}}}}},"403":{"description":"Forbidden.","content":{"application/vnd.zipco.v3.problem+json":{"schema":{"type":"object","description":"A machine-readable format for specifying errors in HTTP API responses based on https://tools.ietf.org/html/rfc7807.","required":["type","title","status"],"properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type.","example":"https://zip-online.api-docs.io/v1/api-specification/charge-create-a-charge#specific-error-responses"},"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"One or more model validation errors occurred."},"status":{"type":"number","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","example":400},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"See the errors property for details."},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence of the problem.","example":"https://api.sand.au.edge.zip.co/challenges/errors/specific-error-type-account-missing"}}}}}}}}},"/charges/{id}":{"get":{"tags":["Charges"],"description":"Used to retrieve a Charge resource.\n","operationId":"getCharge","security":[{"api_key":[]}],"summary":"Retrieve a charge","parameters":[{"name":"id","in":"path","required":true,"description":"The Charge ID returned in response to a POST request to the /charges collection","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response.","content":{"application/vnd.zipco.v3+json":{"schema":{"properties":{"id":{"description":"Unique identifier for the object.","type":"string"},"reference":{"type":"string","description":"The caller can specify a unique identifier for the charge to reconcile the charge against their own systems."},"amount":{"description":"A positive number to two decimal places formatted as a string. Eg 100.00 for $100.00. Decimal places are not required for whole dollar numbers.\n","type":"string","example":"100.00"},"captured_amount":{"description":"A positive number to two decimal places formatted as a string. Eg 100.00 for $100.00. Decimal places are not required for whole dollar numbers.\n","type":"string","example":"98.90"},"refunded_amount":{"description":"A positive number to two decimal places formatted as a string. Eg 100.00 for $100.00. Decimal places are not required for whole dollar numbers.\n","type":"string","example":"1.10"},"status":{"description":"If the charge was created without capturing, this Boolean represents whether it is still uncaptured or has since been captured.","type":"string","enum":["authorised","captured","cancelled","refunded","partially_captured"],"example":"authorised"},"merchant_id":{"description":"The Zip merchant_id that the funds should be settled against.","type":"string"},"account_id":{"description":"The customer's account_id that the funds should be charged against.","type":"string"},"metadata":{"description":"Set of key-value pairs that you can attach to an object. This can be useful for storing additional information about the object in a structured format that is available when retrieving the charge later.","type":"object"},"created":{"description":"Time at which the object was created. Measured in seconds since the Unix epoch.","type":"integer","example":1562728786},"_links":{"description":"References to self and other resources","type":"object","properties":{"self":{"type":"object","properties":{"href":{"type":"string","description":"A URL that links to the current resources"}}},"capture":{"type":"object","properties":{"href":{"type":"string","description":"The URL to capture the current charge (only available if the status is \"authorised\")"}}},"cancel":{"type":"object","properties":{"href":{"type":"string","description":"The URL to cancel the current charge (only available if the status is \"authorised\")"}}}}}}}}}},"400":{"description":"Bad request.","content":{"application/vnd.zipco.v3.problem+json":{"schema":{"type":"object","description":"A machine-readable format for specifying errors in HTTP API responses based on https://tools.ietf.org/html/rfc7807.","required":["type","title","status"],"properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type.","example":"https://zip-online.api-docs.io/v1/api-specification/charge-create-a-charge#specific-error-responses"},"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"One or more model validation errors occurred."},"status":{"type":"number","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","example":400},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"See the errors property for details."},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence of the problem.","example":"https://api.sand.au.edge.zip.co/challenges/errors/specific-error-type-account-missing"}}}}}},"401":{"description":"Unauthorized operation.","content":{"application/vnd.zipco.v3.problem+json":{"schema":{"type":"object","description":"A machine-readable format for specifying errors in HTTP API responses based on https://tools.ietf.org/html/rfc7807.","required":["type","title","status"],"properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type.","example":"https://zip-online.api-docs.io/v1/api-specification/charge-create-a-charge#specific-error-responses"},"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"One or more model validation errors occurred."},"status":{"type":"number","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","example":400},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"See the errors property for details."},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence of the problem.","example":"https://api.sand.au.edge.zip.co/challenges/errors/specific-error-type-account-missing"}}}}}},"403":{"description":"Forbidden.","content":{"application/vnd.zipco.v3.problem+json":{"schema":{"type":"object","description":"A machine-readable format for specifying errors in HTTP API responses based on https://tools.ietf.org/html/rfc7807.","required":["type","title","status"],"properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type.","example":"https://zip-online.api-docs.io/v1/api-specification/charge-create-a-charge#specific-error-responses"},"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"One or more model validation errors occurred."},"status":{"type":"number","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","example":400},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"See the errors property for details."},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence of the problem.","example":"https://api.sand.au.edge.zip.co/challenges/errors/specific-error-type-account-missing"}}}}}},"404":{"description":"Resource not found.","content":{"application/vnd.zipco.v3.problem+json":{"schema":{"type":"object","description":"A machine-readable format for specifying errors in HTTP API responses based on https://tools.ietf.org/html/rfc7807.","required":["type","title","status"],"properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type.","example":"https://zip-online.api-docs.io/v1/api-specification/charge-create-a-charge#specific-error-responses"},"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"One or more model validation errors occurred."},"status":{"type":"number","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","example":400},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"See the errors property for details."},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence of the problem.","example":"https://api.sand.au.edge.zip.co/challenges/errors/specific-error-type-account-missing"}}}}}}}}},"/charges/{id}/capture":{"post":{"tags":["Charges"],"description":"POSTing to this endpoint results in the capture of authorised charge as a part of the fulfilment process. Captured charges appear as transactions in the customer's activity/transaction list.\n","operationId":"captureCharge","security":[{"api_key":[]}],"summary":"Capture a charge","parameters":[{"name":"id","in":"path","required":true,"description":"The charge ID returned in response to a POST request to the /charges collection","schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"When same operation is tried again, if you pass the Idempotency-Key we map to the same transaction to avoid duplicate","schema":{"type":"string"}}],"requestBody":{"description":"A charge created by the calling application to pay for goods or services","content":{"application/vnd.zipco.v3+json":{"schema":{"properties":{"amount":{"description":"A positive number to two decimal places formatted as a string. Eg 100.00 for $100.00. Decimal places are not required for whole dollar numbers.\n","type":"string","example":"34.50"},"reference":{"description":"The caller can specify a unique identifier for the capture to reconcile the capture against their own systems.","type":"string"},"checkout_id":{"description":"The Checkout `id` from POST /checkouts","type":"string"},"currency":{"description":"Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html), in lowercase.","type":"string"}},"required":["amount","currency"]}}}},"responses":{"200":{"description":"Successful response.","content":{"application/vnd.zipco.v3+json":{"schema":{"properties":{"_links":{"description":"References to self and other resources","type":"object","properties":{"up":{"type":"object","properties":{"href":{"type":"string","description":"A URL that links to the parent resource"}}},"capture":{"type":"object","properties":{"href":{"type":"string","description":"The URL to capture the current charge (only available if the status is \"authorised\").\n"}}},"refund":{"type":"object","properties":{"href":{"type":"string","description":"The URL to refund the current charge (only available if the status is \"captured\")"}}}}}}}}}},"400":{"description":"Bad request.","content":{"application/vnd.zipco.v3.problem+json":{"schema":{"type":"object","description":"A machine-readable format for specifying errors in HTTP API responses based on https://tools.ietf.org/html/rfc7807.","required":["type","title","status"],"properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type.","example":"https://zip-online.api-docs.io/v1/api-specification/charge-create-a-charge#specific-error-responses"},"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"One or more model validation errors occurred."},"status":{"type":"number","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","example":400},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"See the errors property for details."},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence of the problem.","example":"https://api.sand.au.edge.zip.co/challenges/errors/specific-error-type-account-missing"}}}}}},"401":{"description":"Unauthorized operation.","content":{"application/vnd.zipco.v3.problem+json":{"schema":{"type":"object","description":"A machine-readable format for specifying errors in HTTP API responses based on https://tools.ietf.org/html/rfc7807.","required":["type","title","status"],"properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type.","example":"https://zip-online.api-docs.io/v1/api-specification/charge-create-a-charge#specific-error-responses"},"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"One or more model validation errors occurred."},"status":{"type":"number","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","example":400},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"See the errors property for details."},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence of the problem.","example":"https://api.sand.au.edge.zip.co/challenges/errors/specific-error-type-account-missing"}}}}}},"403":{"description":"Forbidden.","content":{"application/vnd.zipco.v3.problem+json":{"schema":{"type":"object","description":"A machine-readable format for specifying errors in HTTP API responses based on https://tools.ietf.org/html/rfc7807.","required":["type","title","status"],"properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type.","example":"https://zip-online.api-docs.io/v1/api-specification/charge-create-a-charge#specific-error-responses"},"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"One or more model validation errors occurred."},"status":{"type":"number","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","example":400},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"See the errors property for details."},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence of the problem.","example":"https://api.sand.au.edge.zip.co/challenges/errors/specific-error-type-account-missing"}}}}}},"404":{"description":"Resource not found.","content":{"application/vnd.zipco.v3.problem+json":{"schema":{"type":"object","description":"A machine-readable format for specifying errors in HTTP API responses based on https://tools.ietf.org/html/rfc7807.","required":["type","title","status"],"properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type.","example":"https://zip-online.api-docs.io/v1/api-specification/charge-create-a-charge#specific-error-responses"},"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"One or more model validation errors occurred."},"status":{"type":"number","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","example":400},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"See the errors property for details."},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence of the problem.","example":"https://api.sand.au.edge.zip.co/challenges/errors/specific-error-type-account-missing"}}}}}}}}},"/charges/{id}/refund":{"post":{"tags":["Charges"],"description":"POSTing to this endpoint results in the refund of captured charge.\n","operationId":"refundCharge","security":[{"api_key":[]}],"summary":"Refund a charge","parameters":[{"name":"id","in":"path","required":true,"description":"The charge ID returned in response to a POST request to the /charges collection","schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"When same operation is tried again, if you pass the Idempotency-Key we map to the same transaction to avoid duplicate","schema":{"type":"string"}}],"requestBody":{"description":"A charge created by the calling application to pay for goods or services","content":{"application/vnd.zipco.v3+json":{"schema":{"properties":{"amount":{"description":"A positive number to two decimal places formatted as a string. Eg 100.00 for $100.00. Decimal places are not required for whole dollar numbers.\n","type":"string","example":"34.50"},"reference":{"description":"The caller can specify a unique identifier for the refund to reconcile the refund against their own systems.","type":"string"}},"required":["amount"]}}}},"responses":{"200":{"description":"Successful response.","content":{"application/vnd.zipco.v3+json":{"schema":{"properties":{"_links":{"description":"References to self and other resources","type":"object","properties":{"up":{"type":"object","properties":{"href":{"type":"string","description":"A URL that links to the parent resource"}}},"capture":{"type":"object","properties":{"href":{"type":"string","description":"The URL to capture the current charge (only available if the status is \"authorised\").\n"}}},"refund":{"type":"object","properties":{"href":{"type":"string","description":"The URL to refund the current charge (only available if the status is \"captured\")"}}}}}}}}}},"400":{"description":"Bad request.","content":{"application/vnd.zipco.v3.problem+json":{"schema":{"type":"object","description":"A machine-readable format for specifying errors in HTTP API responses based on https://tools.ietf.org/html/rfc7807.","required":["type","title","status"],"properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type.","example":"https://zip-online.api-docs.io/v1/api-specification/charge-create-a-charge#specific-error-responses"},"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"One or more model validation errors occurred."},"status":{"type":"number","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","example":400},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"See the errors property for details."},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence of the problem.","example":"https://api.sand.au.edge.zip.co/challenges/errors/specific-error-type-account-missing"}}}}}},"401":{"description":"Unauthorized operation.","content":{"application/vnd.zipco.v3.problem+json":{"schema":{"type":"object","description":"A machine-readable format for specifying errors in HTTP API responses based on https://tools.ietf.org/html/rfc7807.","required":["type","title","status"],"properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type.","example":"https://zip-online.api-docs.io/v1/api-specification/charge-create-a-charge#specific-error-responses"},"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"One or more model validation errors occurred."},"status":{"type":"number","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","example":400},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"See the errors property for details."},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence of the problem.","example":"https://api.sand.au.edge.zip.co/challenges/errors/specific-error-type-account-missing"}}}}}},"403":{"description":"Forbidden.","content":{"application/vnd.zipco.v3.problem+json":{"schema":{"type":"object","description":"A machine-readable format for specifying errors in HTTP API responses based on https://tools.ietf.org/html/rfc7807.","required":["type","title","status"],"properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type.","example":"https://zip-online.api-docs.io/v1/api-specification/charge-create-a-charge#specific-error-responses"},"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"One or more model validation errors occurred."},"status":{"type":"number","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","example":400},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"See the errors property for details."},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence of the problem.","example":"https://api.sand.au.edge.zip.co/challenges/errors/specific-error-type-account-missing"}}}}}},"404":{"description":"Resource not found.","content":{"application/vnd.zipco.v3.problem+json":{"schema":{"type":"object","description":"A machine-readable format for specifying errors in HTTP API responses based on https://tools.ietf.org/html/rfc7807.","required":["type","title","status"],"properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type.","example":"https://zip-online.api-docs.io/v1/api-specification/charge-create-a-charge#specific-error-responses"},"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"One or more model validation errors occurred."},"status":{"type":"number","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","example":400},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"See the errors property for details."},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence of the problem.","example":"https://api.sand.au.edge.zip.co/challenges/errors/specific-error-type-account-missing"}}}}}}}}},"/charges/{id}/cancel":{"post":{"tags":["Charges"],"description":"POSTing to this endpoint results in the cancellation of an authorised charge. This is different to a refund as the funds have not yet been captured.\n","operationId":"cancelCharge","security":[{"api_key":[]}],"summary":"Cancel a charge","parameters":[{"name":"id","in":"path","required":true,"description":"The charge ID returned in response to a POST request to the /charges collection","schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"When same operation is tried again, if you pass the Idempotency-Key we map to the same transaction to avoid duplicate","schema":{"type":"string"}}],"responses":{"204":{"description":"Successful response."},"400":{"description":"Bad request.","content":{"application/vnd.zipco.v3.problem+json":{"schema":{"type":"object","description":"A machine-readable format for specifying errors in HTTP API responses based on https://tools.ietf.org/html/rfc7807.","required":["type","title","status"],"properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type.","example":"https://zip-online.api-docs.io/v1/api-specification/charge-create-a-charge#specific-error-responses"},"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"One or more model validation errors occurred."},"status":{"type":"number","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","example":400},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"See the errors property for details."},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence of the problem.","example":"https://api.sand.au.edge.zip.co/challenges/errors/specific-error-type-account-missing"}}}}}},"401":{"description":"Unauthorized operation.","content":{"application/vnd.zipco.v3.problem+json":{"schema":{"type":"object","description":"A machine-readable format for specifying errors in HTTP API responses based on https://tools.ietf.org/html/rfc7807.","required":["type","title","status"],"properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type.","example":"https://zip-online.api-docs.io/v1/api-specification/charge-create-a-charge#specific-error-responses"},"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"One or more model validation errors occurred."},"status":{"type":"number","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","example":400},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"See the errors property for details."},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence of the problem.","example":"https://api.sand.au.edge.zip.co/challenges/errors/specific-error-type-account-missing"}}}}}},"403":{"description":"Forbidden.","content":{"application/vnd.zipco.v3.problem+json":{"schema":{"type":"object","description":"A machine-readable format for specifying errors in HTTP API responses based on https://tools.ietf.org/html/rfc7807.","required":["type","title","status"],"properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type.","example":"https://zip-online.api-docs.io/v1/api-specification/charge-create-a-charge#specific-error-responses"},"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"One or more model validation errors occurred."},"status":{"type":"number","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","example":400},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"See the errors property for details."},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence of the problem.","example":"https://api.sand.au.edge.zip.co/challenges/errors/specific-error-type-account-missing"}}}}}},"404":{"description":"Resource not found.","content":{"application/vnd.zipco.v3.problem+json":{"schema":{"type":"object","description":"A machine-readable format for specifying errors in HTTP API responses based on https://tools.ietf.org/html/rfc7807.","required":["type","title","status"],"properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type.","example":"https://zip-online.api-docs.io/v1/api-specification/charge-create-a-charge#specific-error-responses"},"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"One or more model validation errors occurred."},"status":{"type":"number","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","example":400},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"See the errors property for details."},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence of the problem.","example":"https://api.sand.au.edge.zip.co/challenges/errors/specific-error-type-account-missing"}}}}}}}}},"/checkouts":{"post":{"tags":["Checkouts"],"description":"This creates a new checkout.\n","operationId":"createCheckout","summary":"Create a checkout","security":[{"api_key":[],"access_token":["create_checkout"]},{"api_key":[]}],"requestBody":{"content":{"application/vnd.zipco.v3+json":{"schema":{"type":"object","properties":{"merchant_id":{"type":"string","description":"The Zip child merchant id if the merchant is set up as a group hierarchy"},"media":{"type":"object","description":"Media information requested relating to the checkout","properties":{"include_qr_code":{"type":"boolean","description":"True if QR code is required when a checkout is created, False otherwise","default":false}}},"person":{"description":"The description of the shopper","properties":{"given_name":{"type":"string"},"last_name":{"type":"string"},"middle_name":{"type":"string"},"maiden_name":{"type":"string"},"phone":{"type":"string","pattern":"^\\+?[\\d\\s]+$"},"email":{"type":"string","format":"email"},"dob":{"properties":{"day":{"type":"integer"},"month":{"type":"integer"},"year":{"type":"integer"}},"required":["day","month","year"],"title":"date_of_birth_specs","type":"object"},"gender":{"type":"string","enum":["Male","Female","Other"]},"shipping_address_same_as_billing":{"type":"boolean","description":"A flag which allows the billing address to be used as the shipping address."},"billing_address":{"description":"Address details","type":"object","properties":{"line1":{"type":"string","description":"The first line in the address","maxLength":200},"line2":{"type":"string","description":"The (optional) second address line","maxLength":200},"city":{"type":"string","description":"The address city","maxLength":50},"state":{"type":"string","description":"The state or province","maxLength":50},"postal_code":{"type":"string","description":"The post or zip code","maxLength":15},"country":{"type":"string","description":"The ISO-3166 country code. See https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2","minLength":2,"maxLength":2},"given_name":{"type":"string","description":"First name","maxLength":200},"last_name":{"type":"string","description":"Last name","maxLength":200}},"required":["line1","city","state","postal_code","country"]},"statistics":{"description":"Statistics object relating to the person.","type":"object","properties":{"account_created":{"description":"The time at which the shopper's account was created","type":"string","format":"date-time"},"sales_total_count":{"description":"The total number of separate purchases the shopper has made through the store","type":"integer"},"sales_total_amount":{"description":"The total purchase amount of all orders previously captured through the store.","type":"number"},"sales_avg_amount":{"description":"The average value of sales made by the shopper through the store","type":"number"},"sales_max_amount":{"description":"The maximum purchase amount the shopper has previously purchased from the store","type":"number"},"refunds_total_amount":{"description":"The total amount of all refunds linked to this shopper's account","type":"number"},"previous_chargeback":{"description":"Has the shopper had a previous chargeback?","type":"boolean"},"currency":{"description":"The currency of all all amount values","type":"string"},"last_login":{"description":"The date at which the shopper last logged in to your store","type":"string","format":"date-time"},"has_previous_purchases":{"description":"Does this customer have previous purchases at your store?","type":"boolean"},"fraud_check_result":{"description":"Merchant system's fraud check result","type":"string","enum":["pass","fail","unknown"]}}},"metadata":{"type":"object","description":"Schema free object relating to the person."}},"title":"Person","required":["given_name","last_name","email"]},"order":{"properties":{"reference":{"description":"The order id in the merchants' system.","type":"string","maxLength":200},"amount":{"description":"Amount of this checkout.The value is provided as a string containing a numeric value in a format that is appropriate for the provided currency code. (eg; \"100.00\" or \"100\" when capturing an amount in \"aud\")","type":"string"},"currency":{"description":"Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html), in lowercase.","type":"string"},"created":{"description":"Time at which the object was created. Measured in seconds since the Unix epoch.","type":"integer"},"email":{"description":"The email address of the customer placing the order.","type":"string","format":"email"},"id":{"description":"Unique identifier for the object.","type":"string"},"items":{"description":"List of items constituting the order.","items":{"properties":{"name":{"description":"Name of the order item","type":"string"},"amount":{"description":"Amount of this order item. The value is provided as a string containing a numeric value in a format that is appropriate for the provided currency code. (eg; \"100.00\" or \"100\" when capturing an amount in \"aud\")","type":"string"},"currency":{"description":"Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html), in lowercase.","type":"string"},"description":{"description":"Description of the line item, meant to be displayable to the user (e.g., `\"Express shipping\"`).","type":"string"},"sku":{"description":"The SKU of the object","type":"string"},"quantity":{"description":"A positive integer representing the number of instances of `parent` that are included in this order item. Applicable/present only if `type` is `sku`.","type":"integer","minimum":0},"type":{"description":"The type of line item.","type":"string","enum":["sku","tax","shipping","discount","store_credit"]},"image_uri":{"type":"string","format":"uri"},"item_uri":{"type":"string","format":"uri"},"product_code":{"type":"string","maxLength":200},"metadata":{"type":"object","properties":{"flights":{"type":"array","items":{"description":"Details of a flight order item","type":"object","properties":{"departure_date":{"type":"string","format":"date-time"},"flight_number":{"type":"string"},"aircraft_type":{"type":"string"},"class":{"type":"string"},"origin":{"type":"string"},"destination":{"type":"string"},"duration":{"type":"string"},"stopovers":{"type":"array","items":{"type":"string"}},"passengers":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string"},"given_name":{"type":"string"},"last_name":{"type":"string"},"gender":{"type":"string"},"date_of_birth":{"type":"string","format":"date-time"},"seat_number":{"type":"string"}}}}}}},"metadata":{"type":"object"}}}},"required":["name","amount"],"title":"OrderItem","type":"object"},"type":"array"},"metadata":{"description":"Set of key-value pairs that you can attach to an object. This can be useful for storing additional information about the object in a structured format.","type":"object"},"selected_shipping_method":{"description":"The shipping method that is currently selected for this order, if any.","type":"string"},"shipping":{"description":"Shipping information.","properties":{"pickup":{"description":"States if the shipping method is pickup, otherwise the shipping address should be provided","type":"boolean"},"address":{"description":"Address details","type":"object","properties":{"line1":{"type":"string","description":"The first line in the address","maxLength":200},"line2":{"type":"string","description":"The (optional) second address line","maxLength":200},"city":{"type":"string","description":"The address city","maxLength":50},"state":{"type":"string","description":"The state or province","maxLength":50},"postal_code":{"type":"string","description":"The post or zip code","maxLength":15},"country":{"type":"string","description":"The ISO-3166 country code. See https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2","minLength":2,"maxLength":2},"given_name":{"type":"string","description":"First name","maxLength":200},"last_name":{"type":"string","description":"Last name","maxLength":200}},"required":["line1","city","state","postal_code","country"]},"name":{"type":"string"},"phone":{"type":"string"},"tracking":{"type":"object","description":"Tracking information","properties":{"number":{"type":"string","maxLength":200},"uri":{"type":"string","maxLength":500,"format":"uri"},"carrier":{"type":"string","maxLength":120}}}},"title":"Shipping","type":"object"},"status":{"description":"Current order status.","type":"string","enum":["created","paid","canceled","fufilled","returned"],"example":"created"},"cart_reference":{"description":"The shopping cart reference id","type":"string","maxLength":200},"updated":{"description":"Time at which the object was last changed. Measured in seconds since the Unix epoch.","type":"integer"}},"title":"Order","type":"object","required":["amount","currency"]},"originator":{"type":"object","description":"Contains the location id and the details of the merchant<br>May have `required` fields if `media.include_qr_code` is `true`","properties":{"location_id":{"type":"string","description":"This is a Zip provided value<br>This becomes `required` if `media.include_qr_code` is `true`"},"device_ref_code":{"type":"string"},"staff_actor":{"type":"object","properties":{"ref_code":{"type":"string"},"name":{"type":"string"}}}}},"reference":{"type":"string","description":"Unique merchant reference code<br>This becomes `required` if `media.include_qr_code` is `true`"},"config":{"type":"object","properties":{"redirect_uri":{"type":"string","format":"uri","description":"Required for online initiated purchases only"},"capture":{"type":"boolean","description":"true if auto capture is required, false for manual capture","default":true}}},"metadata":{"type":"object","description":"Schema free object relating to checkout."}},"required":["order"]}}}},"responses":{"201":{"description":"Successful response.","content":{"application/vnd.zipco.v3+json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The checkout id"},"status":{"type":"string","description":"Status of the checkout","enum":["new","pending","completed","cancel_requested"]},"order":{"properties":{"reference":{"description":"The order id in the merchants' system.","type":"string","maxLength":200},"amount":{"description":"Amount of this checkout.The value is provided as a string containing a numeric value in a format that is appropriate for the provided currency code. (eg; \"100.00\" or \"100\" when capturing an amount in \"aud\")","type":"string"},"currency":{"description":"Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html), in lowercase.","type":"string"},"created":{"description":"Time at which the object was created. Measured in seconds since the Unix epoch.","type":"integer"},"email":{"description":"The email address of the customer placing the order.","type":"string","format":"email"},"id":{"description":"Unique identifier for the object.","type":"string"},"items":{"description":"List of items constituting the order.","items":{"properties":{"name":{"description":"Name of the order item","type":"string"},"amount":{"description":"Amount of this order item. The value is provided as a string containing a numeric value in a format that is appropriate for the provided currency code. (eg; \"100.00\" or \"100\" when capturing an amount in \"aud\")","type":"string"},"currency":{"description":"Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html), in lowercase.","type":"string"},"description":{"description":"Description of the line item, meant to be displayable to the user (e.g., `\"Express shipping\"`).","type":"string"},"sku":{"description":"The SKU of the object","type":"string"},"quantity":{"description":"A positive integer representing the number of instances of `parent` that are included in this order item. Applicable/present only if `type` is `sku`.","type":"integer","minimum":0},"type":{"description":"The type of line item.","type":"string","enum":["sku","tax","shipping","discount","store_credit"]},"image_uri":{"type":"string","format":"uri"},"item_uri":{"type":"string","format":"uri"},"product_code":{"type":"string","maxLength":200},"metadata":{"type":"object","properties":{"flights":{"type":"array","items":{"description":"Details of a flight order item","type":"object","properties":{"departure_date":{"type":"string","format":"date-time"},"flight_number":{"type":"string"},"aircraft_type":{"type":"string"},"class":{"type":"string"},"origin":{"type":"string"},"destination":{"type":"string"},"duration":{"type":"string"},"stopovers":{"type":"array","items":{"type":"string"}},"passengers":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string"},"given_name":{"type":"string"},"last_name":{"type":"string"},"gender":{"type":"string"},"date_of_birth":{"type":"string","format":"date-time"},"seat_number":{"type":"string"}}}}}}},"metadata":{"type":"object"}}}},"required":["name","amount"],"title":"OrderItem","type":"object"},"type":"array"},"metadata":{"description":"Set of key-value pairs that you can attach to an object. This can be useful for storing additional information about the object in a structured format.","type":"object"},"selected_shipping_method":{"description":"The shipping method that is currently selected for this order, if any.","type":"string"},"shipping":{"description":"Shipping information.","properties":{"pickup":{"description":"States if the shipping method is pickup, otherwise the shipping address should be provided","type":"boolean"},"address":{"description":"Address details","type":"object","properties":{"line1":{"type":"string","description":"The first line in the address","maxLength":200},"line2":{"type":"string","description":"The (optional) second address line","maxLength":200},"city":{"type":"string","description":"The address city","maxLength":50},"state":{"type":"string","description":"The state or province","maxLength":50},"postal_code":{"type":"string","description":"The post or zip code","maxLength":15},"country":{"type":"string","description":"The ISO-3166 country code. See https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2","minLength":2,"maxLength":2},"given_name":{"type":"string","description":"First name","maxLength":200},"last_name":{"type":"string","description":"Last name","maxLength":200}},"required":["line1","city","state","postal_code","country"]},"name":{"type":"string"},"phone":{"type":"string"},"tracking":{"type":"object","description":"Tracking information","properties":{"number":{"type":"string","maxLength":200},"uri":{"type":"string","maxLength":500,"format":"uri"},"carrier":{"type":"string","maxLength":120}}}},"title":"Shipping","type":"object"},"status":{"description":"Current order status.","type":"string","enum":["created","paid","canceled","fufilled","returned"],"example":"created"},"cart_reference":{"description":"The shopping cart reference id","type":"string","maxLength":200},"updated":{"description":"Time at which the object was last changed. Measured in seconds since the Unix epoch.","type":"integer"}},"title":"Order","type":"object","required":["amount","currency"]},"media":{"type":"object","description":"Media information available relating to the checkout.","properties":{"qr_code":{"type":"string","format":"uri","description":"Url that represents the QR code content","example":"https://api.sand.au.edge.zip.co/checkouts/df237770-2b5b-41bf-bdfa-d838a0c9478c"}}},"reference":{"type":"string","description":"Unique merchant reference code"},"_links":{"description":"References to self and other resources for online initiated purchases only","type":"object","properties":{"self":{"type":"object","properties":{"href":{"type":"string","description":"A URL that links to the current resources"}}},"checkout":{"type":"object","properties":{"href":{"type":"string","description":"The URL to get the current checkout"}}}}}}}}}},"400":{"description":"Bad request.","content":{"application/vnd.zipco.v3.problem+json":{"schema":{"type":"object","description":"A machine-readable format for specifying errors in HTTP API responses based on https://tools.ietf.org/html/rfc7807.","required":["type","title","status"],"properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type.","example":"https://zip-online.api-docs.io/v1/api-specification/charge-create-a-charge#specific-error-responses"},"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"One or more model validation errors occurred."},"status":{"type":"number","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","example":400},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"See the errors property for details."},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence of the problem.","example":"https://api.sand.au.edge.zip.co/challenges/errors/specific-error-type-account-missing"}}}}}},"401":{"description":"Unauthorized operation.","content":{"application/vnd.zipco.v3.problem+json":{"schema":{"type":"object","description":"A machine-readable format for specifying errors in HTTP API responses based on https://tools.ietf.org/html/rfc7807.","required":["type","title","status"],"properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type.","example":"https://zip-online.api-docs.io/v1/api-specification/charge-create-a-charge#specific-error-responses"},"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"One or more model validation errors occurred."},"status":{"type":"number","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","example":400},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"See the errors property for details."},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence of the problem.","example":"https://api.sand.au.edge.zip.co/challenges/errors/specific-error-type-account-missing"}}}}}},"403":{"description":"Forbidden.","content":{"application/vnd.zipco.v3.problem+json":{"schema":{"type":"object","description":"A machine-readable format for specifying errors in HTTP API responses based on https://tools.ietf.org/html/rfc7807.","required":["type","title","status"],"properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type.","example":"https://zip-online.api-docs.io/v1/api-specification/charge-create-a-charge#specific-error-responses"},"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"One or more model validation errors occurred."},"status":{"type":"number","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","example":400},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"See the errors property for details."},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence of the problem.","example":"https://api.sand.au.edge.zip.co/challenges/errors/specific-error-type-account-missing"}}}}}},"415":{"description":"Unsupported Media Type.","content":{"application/vnd.zipco.v3.problem+json":{"schema":{"type":"object","description":"A machine-readable format for specifying errors in HTTP API responses based on https://tools.ietf.org/html/rfc7807.","required":["type","title","status"],"properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type.","example":"https://zip-online.api-docs.io/v1/api-specification/charge-create-a-charge#specific-error-responses"},"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"One or more model validation errors occurred."},"status":{"type":"number","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","example":400},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"See the errors property for details."},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence of the problem.","example":"https://api.sand.au.edge.zip.co/challenges/errors/specific-error-type-account-missing"}}}}}}}}},"/checkouts/{id}":{"get":{"tags":["Checkouts"],"description":"<p>Get the Checkout object for an existing Checkout</p>","operationId":"getCheckout","summary":"Retrieve a checkout","security":[{"api_key":[],"access_token":["create_checkout"]},{"api_key":[]}],"parameters":[{"name":"id","in":"path","description":"The id that is returned from the POST /checkouts endpoint.","required":true,"schema":{"type":"string"}},{"name":"merchant_id","in":"query","description":"The Zip child merchant id if the merchant is set up as a group hierarchy","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response.","content":{"application/vnd.zipco.v3+json":{"schema":{"properties":{"id":{"type":"string","description":"Unique identifier for the object"},"type":{"type":"string","enum":["standard","express"]},"person":{"description":"The description of the shopper","properties":{"given_name":{"type":"string"},"last_name":{"type":"string"},"middle_name":{"type":"string"},"maiden_name":{"type":"string"},"phone":{"type":"string","pattern":"^\\+?[\\d\\s]+$"},"email":{"type":"string","format":"email"},"dob":{"properties":{"day":{"type":"integer"},"month":{"type":"integer"},"year":{"type":"integer"}},"required":["day","month","year"],"title":"date_of_birth_specs","type":"object"},"gender":{"type":"string","enum":["Male","Female","Other"]},"shipping_address_same_as_billing":{"type":"boolean","description":"A flag which allows the billing address to be used as the shipping address."},"billing_address":{"description":"Address details","type":"object","properties":{"line1":{"type":"string","description":"The first line in the address","maxLength":200},"line2":{"type":"string","description":"The (optional) second address line","maxLength":200},"city":{"type":"string","description":"The address city","maxLength":50},"state":{"type":"string","description":"The state or province","maxLength":50},"postal_code":{"type":"string","description":"The post or zip code","maxLength":15},"country":{"type":"string","description":"The ISO-3166 country code. See https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2","minLength":2,"maxLength":2},"given_name":{"type":"string","description":"First name","maxLength":200},"last_name":{"type":"string","description":"Last name","maxLength":200}},"required":["line1","city","state","postal_code","country"]},"statistics":{"description":"Statistics object relating to the person.","type":"object","properties":{"account_created":{"description":"The time at which the shopper's account was created","type":"string","format":"date-time"},"sales_total_count":{"description":"The total number of separate purchases the shopper has made through the store","type":"integer"},"sales_total_amount":{"description":"The total purchase amount of all orders previously captured through the store.","type":"number"},"sales_avg_amount":{"description":"The average value of sales made by the shopper through the store","type":"number"},"sales_max_amount":{"description":"The maximum purchase amount the shopper has previously purchased from the store","type":"number"},"refunds_total_amount":{"description":"The total amount of all refunds linked to this shopper's account","type":"number"},"previous_chargeback":{"description":"Has the shopper had a previous chargeback?","type":"boolean"},"currency":{"description":"The currency of all all amount values","type":"string"},"last_login":{"description":"The date at which the shopper last logged in to your store","type":"string","format":"date-time"},"has_previous_purchases":{"description":"Does this customer have previous purchases at your store?","type":"boolean"},"fraud_check_result":{"description":"Merchant system's fraud check result","type":"string","enum":["pass","fail","unknown"]}}},"metadata":{"type":"object","description":"Schema free object relating to the person."}},"title":"Person","required":["given_name","last_name","email"]},"order":{"properties":{"reference":{"description":"The order id in the merchants' system.","type":"string","maxLength":200},"amount":{"description":"Amount of this checkout.The value is provided as a string containing a numeric value in a format that is appropriate for the provided currency code. (eg; \"100.00\" or \"100\" when capturing an amount in \"aud\")","type":"string"},"currency":{"description":"Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html), in lowercase.","type":"string"},"created":{"description":"Time at which the object was created. Measured in seconds since the Unix epoch.","type":"integer"},"email":{"description":"The email address of the customer placing the order.","type":"string","format":"email"},"id":{"description":"Unique identifier for the object.","type":"string"},"items":{"description":"List of items constituting the order.","items":{"properties":{"name":{"description":"Name of the order item","type":"string"},"amount":{"description":"Amount of this order item. The value is provided as a string containing a numeric value in a format that is appropriate for the provided currency code. (eg; \"100.00\" or \"100\" when capturing an amount in \"aud\")","type":"string"},"currency":{"description":"Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html), in lowercase.","type":"string"},"description":{"description":"Description of the line item, meant to be displayable to the user (e.g., `\"Express shipping\"`).","type":"string"},"sku":{"description":"The SKU of the object","type":"string"},"quantity":{"description":"A positive integer representing the number of instances of `parent` that are included in this order item. Applicable/present only if `type` is `sku`.","type":"integer","minimum":0},"type":{"description":"The type of line item.","type":"string","enum":["sku","tax","shipping","discount","store_credit"]},"image_uri":{"type":"string","format":"uri"},"item_uri":{"type":"string","format":"uri"},"product_code":{"type":"string","maxLength":200},"metadata":{"type":"object","properties":{"flights":{"type":"array","items":{"description":"Details of a flight order item","type":"object","properties":{"departure_date":{"type":"string","format":"date-time"},"flight_number":{"type":"string"},"aircraft_type":{"type":"string"},"class":{"type":"string"},"origin":{"type":"string"},"destination":{"type":"string"},"duration":{"type":"string"},"stopovers":{"type":"array","items":{"type":"string"}},"passengers":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string"},"given_name":{"type":"string"},"last_name":{"type":"string"},"gender":{"type":"string"},"date_of_birth":{"type":"string","format":"date-time"},"seat_number":{"type":"string"}}}}}}},"metadata":{"type":"object"}}}},"required":["name","amount"],"title":"OrderItem","type":"object"},"type":"array"},"metadata":{"description":"Set of key-value pairs that you can attach to an object. This can be useful for storing additional information about the object in a structured format.","type":"object"},"selected_shipping_method":{"description":"The shipping method that is currently selected for this order, if any.","type":"string"},"shipping":{"description":"Shipping information.","properties":{"pickup":{"description":"States if the shipping method is pickup, otherwise the shipping address should be provided","type":"boolean"},"address":{"description":"Address details","type":"object","properties":{"line1":{"type":"string","description":"The first line in the address","maxLength":200},"line2":{"type":"string","description":"The (optional) second address line","maxLength":200},"city":{"type":"string","description":"The address city","maxLength":50},"state":{"type":"string","description":"The state or province","maxLength":50},"postal_code":{"type":"string","description":"The post or zip code","maxLength":15},"country":{"type":"string","description":"The ISO-3166 country code. See https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2","minLength":2,"maxLength":2},"given_name":{"type":"string","description":"First name","maxLength":200},"last_name":{"type":"string","description":"Last name","maxLength":200}},"required":["line1","city","state","postal_code","country"]},"name":{"type":"string"},"phone":{"type":"string"},"tracking":{"type":"object","description":"Tracking information","properties":{"number":{"type":"string","maxLength":200},"uri":{"type":"string","maxLength":500,"format":"uri"},"carrier":{"type":"string","maxLength":120}}}},"title":"Shipping","type":"object"},"status":{"description":"Current order status.","type":"string","enum":["created","paid","canceled","fufilled","returned"],"example":"created"},"cart_reference":{"description":"The shopping cart reference id","type":"string","maxLength":200},"updated":{"description":"Time at which the object was last changed. Measured in seconds since the Unix epoch.","type":"integer"}},"title":"Order","type":"object","required":["amount","currency"]},"originator":{"type":"object","description":"Contains the location id and the details of the merchant<br>May have `required` fields if `media.include_qr_code` is `true`","properties":{"location_id":{"type":"string","description":"This is a Zip provided value<br>This becomes `required` if `media.include_qr_code` is `true`"},"device_ref_code":{"type":"string"},"staff_actor":{"type":"object","properties":{"ref_code":{"type":"string"},"name":{"type":"string"}}}}},"reference":{"type":"string","description":"Unique merchant reference code"},"status":{"type":"string","description":"Status of the checkout","enum":["new","pending","completed","cancel_requested"]},"charge":{"type":"object","description":"A charge is created when shopper confirms the checkout.","properties":{"charge_id":{"type":"string","description":"Id of the charge"},"receipt_number":{"type":"string","description":"Receipt of the charge"},"status":{"type":"string","description":"Status of the charge","enum":["authorised","captured","cancelled","refunded","partially_captured"],"example":"authorised"},"_links":{"description":"References to charge for online initiated purchases only","type":"object","properties":{"charge":{"type":"object","properties":{"href":{"type":"string","description":"A URL that links to the charge"}}},"cancel":{"type":"object","properties":{"href":{"type":"string","description":"The URL to cancel the charge"}}},"refund":{"type":"object","properties":{"href":{"type":"string","description":"The URL to refund the charge"}}}}}}},"config":{"type":"object","properties":{"redirect_uri":{"type":"string","format":"uri","description":"If provided and using the checkout flow the user will be redirected to this URL after completing their transaction. Required for online initiated purchases only."},"capture":{"type":"boolean","description":"true if auto capture is required, false for manual capture","default":true}}},"_links":{"description":"References to self and other resources for online initiated purchases only","type":"object","properties":{"self":{"type":"object","properties":{"href":{"type":"string","description":"A URL that links to the current resources"}}},"checkout":{"type":"object","properties":{"href":{"type":"string","description":"The URL to get the current checkout"}}}}}},"title":"Checkout","type":"object"}}}},"400":{"description":"Bad request.","content":{"application/vnd.zipco.v3.problem+json":{"schema":{"type":"object","description":"A machine-readable format for specifying errors in HTTP API responses based on https://tools.ietf.org/html/rfc7807.","required":["type","title","status"],"properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type.","example":"https://zip-online.api-docs.io/v1/api-specification/charge-create-a-charge#specific-error-responses"},"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"One or more model validation errors occurred."},"status":{"type":"number","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","example":400},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"See the errors property for details."},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence of the problem.","example":"https://api.sand.au.edge.zip.co/challenges/errors/specific-error-type-account-missing"}}}}}},"401":{"description":"Unauthorized operation.","content":{"application/vnd.zipco.v3.problem+json":{"schema":{"type":"object","description":"A machine-readable format for specifying errors in HTTP API responses based on https://tools.ietf.org/html/rfc7807.","required":["type","title","status"],"properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type.","example":"https://zip-online.api-docs.io/v1/api-specification/charge-create-a-charge#specific-error-responses"},"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"One or more model validation errors occurred."},"status":{"type":"number","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","example":400},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"See
[...]
