{"openapi":"3.1.0","info":{"title":"In-store API (NZ)","version":"4"},"servers":[{"url":"https://zip.co/nz/api"}],"components":{"securitySchemes":{"sec0":{"type":"oauth2","flows":{}}}},"security":[{"sec0":[]}],"paths":{"/pos/order/{id}/refund":{"post":{"summary":"Refund Instore Order","description":"","operationId":"refund-instore-order","parameters":[{"name":"id","in":"path","description":"<span class=\"codeLabel\">orderId</span> returned from Create Order endpoint. Located in the endpoint path.","schema":{"type":"string"},"required":true},{"name":"Idempotency-Key","in":"header","description":"Optional idempotency key to allow fail safe retries of the refund operation","schema":{"type":"string"}},{"name":"partpay-terminalid","in":"header","description":"Uniquely identifies the Point of sale terminal being used as part of this request","schema":{"type":"string"}},{"name":"store-id","in":"header","description":"When using a <span class=\"codeLabel\">merchant level scope</span> this is supplied to give traceability from what store the refund originated","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["operator","amount"],"properties":{"operator":{"type":"string","description":"Current Point of Sale terminal operator","default":"John Smith"},"amount":{"type":"number","description":"A decimal value to 2 decimal places that indicates the amount to refund","default":50,"format":"double"},"merchantReference":{"type":"string","description":"The merchant's reference for this refund","default":"reference"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": \"497f6eca-6276-4993-bfeb-53cbbbba6f08\",\n  \"refundedDateTime\": \"2019-08-24T14:15:22Z\",\n  \"merchantReference\": \"string\",\n  \"amount\": 50\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"497f6eca-6276-4993-bfeb-53cbbbba6f08"},"refundedDateTime":{"type":"string","example":"2019-08-24T14:15:22Z"},"merchantReference":{"type":"string","example":"string"},"amount":{"type":"integer","example":50,"default":0}}}}}},"400":{"description":"400","content":{"text/plain":{"examples":{"Result":{"value":"An existing refund with a duplicate merchant reference has been found"}}}}},"404":{"description":"404","content":{"text/plain":{"examples":{"Result":{"value":"Order was not found"}}}}},"422":{"description":"422","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"type\": \"string\",\n  \"title\": \"string\",\n  \"status\": 0,\n  \"detail\": \"string\",\n  \"instance\": \"string\",\n  \"extensions\": {}\n}"}},"schema":{"type":"object","properties":{"type":{"type":"string","example":"string"},"title":{"type":"string","example":"string"},"status":{"type":"integer","example":0,"default":0},"detail":{"type":"string","example":"string"},"instance":{"type":"string","example":"string"},"extensions":{"type":"object","properties":{}}}}}}}},"deprecated":false}},"/pos/order":{"post":{"summary":"Create Instore Order","description":"Creates an in-store order that is used to initiate the Zip payment. Zip uses the information in the order request to assist with the customer onboarding/approval process.","operationId":"create-instore-order","parameters":[{"name":"merchant-reference-unique-check","in":"header","description":"If supplied, a unique check will be applied to the order creation (based on the supplied <span class=\"codeLabel\">merchantReference</span>). If the order already exists, the API will respond with a 302 response","schema":{"type":"boolean","default":true}},{"name":"partpay-terminalid","in":"header","description":"Uniquely identifies the Point of sale terminal being used as part of this request.","schema":{"type":"string"}},{"name":"store-id","in":"header","description":"When using a <span class=\"codeLabel\">merchant level scope</span>, this is supplied to give traceability from what store the order originated","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["customerApprovalCode","operator","amount","merchantReference"],"properties":{"customerApprovalCode":{"type":"string","description":"Unique 6-digit approval code that the customer will have as part of their pre-approval from Zip","default":"123456"},"operator":{"type":"string","description":"Current Point of Sale terminal operator","default":"John"},"amount":{"type":"number","description":"Amount to be charged to consumer","default":50,"format":"double"},"merchantReference":{"type":"string","description":"The merchant’s reference/id that this order corresponds to","default":"reference"},"paymentFlow":{"type":"string","description":"The flow of the payment method. Allowed values are <span class=\"codeLabel\">payment</span> or <span class=\"codeLabel\">auth</span>","default":"payment"},"items":{"type":"array","items":{"properties":{"description":{"type":"string","default":"description"},"name":{"type":"string","default":"item"},"sku":{"type":"string","default":"skucode"},"quantity":{"type":"integer","default":1,"format":"int32"},"price":{"type":"number","description":"Line subtotal","default":50,"format":"double"}},"type":"object"}}}},"examples":{"Request Example":{"value":{"customerApprovalCode":"A5B312","operator":"John","amount":50,"merchantReference":"abc12345","items":[{"description":"test","name":"test","sku":"test","quantity":1,"price":100}]}}}}}},"responses":{"202":{"description":"202","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"orderId\": \"00fbfe84-600f-44e6-9894-953ccd42a2d1\"\n}"}},"schema":{"type":"object","properties":{"orderId":{"type":"string","example":"00fbfe84-600f-44e6-9894-953ccd42a2d1"}}}}}},"302":{"description":"302","content":{"text/plain":{"examples":{"Result":{"value":"Unique merchant reference check has been applied, and found an existing order."}}}}},"400":{"description":"400","content":{"text/plain":{"examples":{"Result":{"value":"The request is malformed"}}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Result":{"value":""}}}}},"403":{"description":"403","content":{"text/plain":{"examples":{"Result":{"value":""}}}}},"404":{"description":"404","content":{"text/plain":{"examples":{"Result":{"value":"Not Found. The supplied approval code is not found, or the approval code has timed out."}}}}}},"deprecated":false}},"/pos/order/{id}/cancel":{"post":{"summary":"Cancel Instore Order v1","description":"If a customer is unable to perform the customer approval step for any reason, the merchant may cancel the order from the Point of Sale terminal.\n\nCancelling can only succeed if the customer has not approved the order from their device.\n\nIf the customer requires a refund, use the Refund endpoint.","operationId":"cancel-instore-order","parameters":[{"name":"id","in":"path","description":"OrderId returned from Create/Get Order endpoint. Located in the endpoint path","schema":{"type":"string"},"required":true},{"name":"partpay-terminalid","in":"header","description":"Uniquely identifies the Point of sale terminal being used as part of this request","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["operator"],"properties":{"operator":{"type":"string","description":"Current Point of Sale terminal operator","default":"John Smith"}}},"examples":{"Request Example":{"value":{"operator":"string"}}}}}},"responses":{"200":{"description":"200","content":{"text/plain":{"examples":{"Result":{"value":"OK. The order has been cancelled."}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"404":{"description":"404","content":{"text/plain":{"examples":{"Result":{"value":"Order not found"}}}}},"409":{"description":"409","content":{"text/plain":{"examples":{"Result":{"value":"Conflict. Cancelling has failed because the order has already succeeded."}}}}}},"deprecated":false}},"/v2.0/pos/order/{id}/status":{"get":{"summary":"Get Instore Order Status","description":"Returns the status of a given instore order. This endpoint is used in a polling scenario when a merchant POS system is awaiting a user confirmation of an order.","operationId":"get-instore-order-status","parameters":[{"name":"id","in":"path","description":"The <span class=\"codeLabel\">orderId</span> returned from Create Instore Order endpoint","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"approved\",\n  \"orderNumber\": \"180212-999999\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"approved"},"orderNumber":{"type":"string","example":"180212-999999"}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"404":{"description":"404","content":{"text/plain":{"examples":{"Result":{"value":"Order not found"}}}}}},"deprecated":false}},"/pos/order/{id}/commit":{"post":{"summary":"Commit Order","description":"This operation captures a payment for an order, when the order was created with a <span class=\"codeLabel\">paymentType</span> of <span class=\"codeLabel\">auth</span>, whereby the customer has an auth taken from their card at the time of approval. Once the order is complete from the merchant side - the merchant must post to this endpoint to commit the transaction.","operationId":"commit-order","parameters":[{"name":"id","in":"path","description":"<span class=\"codeLabel\">orderId</span> returned from Create/Get Order endpoint","schema":{"type":"string"},"required":true}],"responses":{"202":{"description":"202","content":{"text/plain":{"examples":{"Result":{"value":"Order has been commited successfully"}}}}},"400":{"description":"400","content":{"text/plain":{"examples":{"Result":{"value":"Request is malformed"}}}}},"409":{"description":"409","content":{"text/plain":{"examples":{"Result":{"value":"Request conflicts with an already existing order"}}}}}},"deprecated":false}},"/pos/order/{id}/rollback":{"post":{"summary":"Rollback Instore Order","description":"This endpoint is used in the <span class=\"codeLabel\">auth</span> payment flow, whereby the customer has an auth taken from their card at the time of approval. If the merchant/customer wishes to back-out of the order, the merchant must post to this endpoint to rollback the transaction (and associated auth on customer card).","operationId":"rollback-instore-order","parameters":[{"name":"id","in":"path","description":"<span class=\"codeLabel\">orderId</span> returned from Create/Get Order endpoint","schema":{"type":"string"},"required":true}],"responses":{"202":{"description":"202","content":{"text/plain":{"examples":{"Result":{"value":"The rollback was accepted\n\nHeaders\nLocation (string): Returns the location of the V2 status endpoint that you can check any result"}}}}},"400":{"description":"400","content":{"text/plain":{"examples":{"Result":{"value":"Request is malformed"}}}}},"404":{"description":"404","content":{"text/plain":{"examples":{"Result":{"value":"Order not found"}}}}}},"deprecated":false}},"/pos/order/{id}/refund/verify":{"post":{"summary":"Verify Instore Refund","description":"Verify if a refund would be accepted for the order and amount requested","operationId":"verify-instore-refund","parameters":[{"name":"id","in":"path","description":"<span class=\"codeLabel\">orderId</span> returned from Create/Get Order endpoint","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["amount","merchantRefundReference"],"properties":{"amount":{"type":"number","description":"The refund amount. The refund amount can not exceed the associated order","default":50,"format":"double"},"merchantRefundReference":{"type":"string","description":"The merchant's refund reference","default":"reference"},"operator":{"type":"string","description":"Current Point of Sale terminal operator","default":"John Smith"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"string\",\n  \"id\": \"string\",\n  \"refundedDateTime\": \"2019-08-24\",\n  \"merchantReference\": \"reference\",\n  \"amount\": 50\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"string"},"id":{"type":"string","example":"string"},"refundedDateTime":{"type":"string","example":"2019-08-24"},"merchantReference":{"type":"string","example":"reference"},"amount":{"type":"integer","example":50,"default":0}}}}}},"400":{"description":"400","content":{"text/plain":{"examples":{"Result":{"value":"The refund requested is not valid and would not be able to be processed"}}}}},"404":{"description":"404","content":{"text/plain":{"examples":{"Result":{"value":"Order not found"}}}}},"422":{"description":"422","content":{"text/plain":{"examples":{"Result":{"value":"The refund requested is not valid and would not be able to be processed"}}}}}},"deprecated":false}},"/v2.0/pos/order/{id}/cancel":{"post":{"summary":"Cancel Instore Order v2","description":"","operationId":"cancel-pos-order","parameters":[{"name":"id","in":"path","description":"<span class=\"codeLabel\">orderId</span> returned from Create Order endpoint","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["operator"],"properties":{"operator":{"type":"string","description":"Current Point of Sale terminal operator","default":"John Smith"}}}}}},"responses":{"202":{"description":"202","content":{"text/plain":{"examples":{"Result":{"value":"Request accepted"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Result":{"value":""}}}}},"404":{"description":"404","content":{"text/plain":{"examples":{"Result":{"value":"Order not found"}}}}}},"deprecated":false}},"/pos/terminal/enrol":{"post":{"summary":"Complete Terminal Enrolment","description":"The enrol endpoint has been designed for Point of Sale terminals that have limited configuration abilities. This is primarily a way to use a one-time code to download the client credentials for your Point of Sale terminal to enable it to use the In-Store API","operationId":"complete-terminal-enrolment","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["activationCode","secret","terminal"],"properties":{"activationCode":{"type":"string","description":"The activation code provided from the Zip Merchant Portal"},"secret":{"type":"string","description":"The one-time secret that you used on the Zip Merchant Portal"},"terminal":{"type":"string","description":"The unique name of the terminal"},"terminalName":{"type":"string","description":"The name of the terminal"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"client_id\": \"string\",\n  \"client_secret\": \"string\"\n}"}},"schema":{"type":"object","properties":{"client_id":{"type":"string","example":"string"},"client_secret":{"type":"string","example":"string"}}}}}},"400":{"description":"400","content":{"text/plain":{"examples":{"Result":{"value":"The error code InvalidActivationCode covers all of: missing, expired, or incorrect Activation Code, or the secret is incorrect"}}}}}},"deprecated":false}},"/reports/settlements":{"get":{"summary":"Settlements","description":"Retrieves a list of settlements with disbursement dates between a given date-time range in UTC","operationId":"settlements","parameters":[{"name":"dateFrom","in":"query","description":"An ISO-8601 date and time in UTC to query disbursementDateUtc from (inclusive)","required":true,"schema":{"type":"string","format":"date","default":"2020-11-01T00:00:00.000Z"}},{"name":"dateTo","in":"query","description":"An ISO-8601 date and time in UTC to query disbursementDateUtc to (inclusive)","required":true,"schema":{"type":"string","format":"date","default":"2020-12-01T00:00:00.000Z"}},{"name":"pageNumber","in":"query","description":"The page number","required":true,"schema":{"type":"integer","format":"int32","default":1}},{"name":"pageSize","in":"query","description":"The page size","required":true,"schema":{"type":"integer","format":"int32","default":100}},{"name":"merchantId","in":"query","description":"The id of a merchant to filter by","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": [\n    {\n      \"merchantId\": \"17fcb6f2-ab97-4f31-843c-c7377fc649f0\",\n      \"merchantName\": \"The Store\",\n      \"disbursementDateUtc\": \"2020-11-04\",\n      \"orderDateTimeUtc\": \"2020-11-01T19:54:29.600Z\",\n      \"transactionAmout\": 100,\n      \"merchantOrderReference\": \"AUBQIADG\",\n      \"transactionReceipt\": \"OOLFLLAJK\",\n      \"transactionDateTimeUtc\": \"2020-11-01T19:54:29.600Z\",\n      \"merchantFeeExcludingTax\": 0,\n      \"merchantFeeTax\": 0,\n      \"merchantFeeIncludingTax\": 0,\n      \"transactionFeeExcludingTax\": 0,\n      \"transactionFeeTax\": 0,\n      \"netDisbursementAmount\": 100,\n      \"transactionCurrency\": \"NZD\",\n      \"disbursementCurrency\": \"NZD\",\n      \"product\": \"ZipPay\",\n      \"merchantTransactionReference\": \"12343-123\"\n    },\n    {\n      \"merchantId\": \"40fe689a-9a8b-4482-b9c6-5e0772496af4\",\n      \"merchantName\": \"The Butchery\",\n      \"disbursementDateUtc\": \"2020-11-04\",\n      \"orderDateTimeUtc\": \"2020-11-02T18:24:21.500Z\",\n      \"transactionAmout\": 350.5,\n      \"merchantOrderReference\": \"MMNj-234\",\n      \"transactionReceipt\": \"3498245\",\n      \"transactionDateTimeUtc\": \"2020-11-01T23:00:00.020Z\",\n      \"merchantFeeExcludingTax\": 0,\n      \"merchantFeeTax\": 0,\n      \"merchantFeeIncludingTax\": 0,\n      \"transactionFeeExcludingTax\": 0,\n      \"transactionFeeTax\": 0,\n      \"netDisbursementAmount\": 350.5,\n      \"transactionCurrency\": \"AUD\",\n      \"disbursementCurrency\": \"AUD\",\n      \"product\": \"ZipPay\",\n      \"merchantTransactionReference\": \"44482-123\"\n    }\n  ],\n  \"totalCount\": 3032\n}"}},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"merchantId":{"type":"string","example":"17fcb6f2-ab97-4f31-843c-c7377fc649f0"},"merchantName":{"type":"string","example":"The Store"},"disbursementDateUtc":{"type":"string","example":"2020-11-04"},"orderDateTimeUtc":{"type":"string","example":"2020-11-01T19:54:29.600Z"},"transactionAmout":{"type":"integer","example":100,"default":0},"merchantOrderReference":{"type":"string","example":"AUBQIADG"},"transactionReceipt":{"type":"string","example":"OOLFLLAJK"},"transactionDateTimeUtc":{"type":"string","example":"2020-11-01T19:54:29.600Z"},"merchantFeeExcludingTax":{"type":"integer","example":0,"default":0},"merchantFeeTax":{"type":"integer","example":0,"default":0},"merchantFeeIncludingTax":{"type":"integer","example":0,"default":0},"transactionFeeExcludingTax":{"type":"integer","example":0,"default":0},"transactionFeeTax":{"type":"integer","example":0,"default":0},"netDisbursementAmount":{"type":"integer","example":100,"default":0},"transactionCurrency":{"type":"string","example":"NZD"},"disbursementCurrency":{"type":"string","example":"NZD"},"product":{"type":"string","example":"ZipPay"},"merchantTransactionReference":{"type":"string","example":"12343-123"}}}},"totalCount":{"type":"integer","example":3032,"default":0}}}}}},"400":{"description":"400","content":{"text/plain":{"examples":{"Result":{"value":"A bad request is returned if the input parameters are invalid i.e\n\n* dateTo is less than dateFrom\n* pageNumber is 0 or less\n* pageSize is less than 0\n* No merchantId is provided"}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}