openapi: 3.0.2
info:
   title: Swift Guarantees
   description: |
      Manage all processes involved in the life cycle of a Trade Finance Undertaking application between corporate and banks :

      `The API supports following functionalities:`
      * Request for application :  Sent by the party requesting issuance of the undertaking (applicant or obligor) to the party issuing the undertaking (demand guarantee or standby letter of credit or dependent undertaking or counter-guarantee or counter-standby) and provides details on the applicable rules, terms, conditions and content of the undertaking to be issued.
      * Amendment of an already issued undertaking (reduction, release, extend, cancellation or termination)
      * Demand for payment or extension of undertaking expiry date

      `Error Responses`

      The API uses common HTTP status codes in the response header to indicate success or failure. Specific error code and description will be returned in the custom error schema.

      `Query Parameters`

      Each URL query parameter specifies an API query parameter that must be URL encoded.

      **v0.0.3 Release Notes**

      * The collection endpoint /trade-finance-undertakings has been dropped.
      * The endpoint GET /trade-finance-undertakings/{application-reference}/payment-demand/{demand-reference} has been added.
      * The endpoint GET /trade-finance-undertakings-audit-trail/{application-reference} has been added.
      * The endpoint GET /trade-finance-undertakings-report has been added.
   license:
      name: Community API Redistribution License
      url: https://www.swift.com/swift-resource/251146/download
   version: 1.0.0
servers:
-  url: https://api.sandbox.cib.bnpparibas.com/gb-swift-guarantees
   description: PROD_INTERNET
security:
-  oauthBearerToken: [
      ]
-  oAuth2: [
      ]
tags:
-  name: Trade Finance Undertaking
   description: API endpoints supporting demand guarantees application process.
-  name: Trade Finance Undertaking Report
   description: API endpoints supporting demand guarantees reporting.
paths:
   /v1/trade-finance-undertakings:
      post:
         tags:
         - Trade Finance Undertaking
         summary: Create Trade Finance Undertaking.
         description: Application for issuance of Trade Finance Undertaking. The request
            is sent by a corporate (Applicant) to its bank for bank review or as a
            final draft to issue a guarantee.
         operationId: createBankGuarantee
         parameters:
         -  $ref: '#/components/parameters/X-Request-ID'
         -  $ref: '#/components/parameters/X-UserContext'
         -  $ref: '#/components/parameters/X-BIC'
         requestBody:
            required: true
            content:
               application/json:
                  schema:
                     $ref: '#/components/schemas/TradeFinanceInstruction'
                  examples:
                     CreateBankGuaranteeEx-1:
                        $ref: '#/components/examples/CreateBankGuaranteeEx-1'
                     CreateBankGuaranteeEx-2:
                        $ref: '#/components/examples/CreateBankGuaranteeEx-2'
         responses:
            '202':
               description: Accepted
               headers:
                  Location:
                     $ref: '#/components/headers/Location'
                  X-Request-ID:
                     $ref: '#/components/headers/X-Request-ID'
               content:
                  application/json:
                     schema:
                        $ref: '#/components/schemas/TradeFinanceInstructionReference'
                     example:
                        application_reference: 3fa85f64-5717-4562-b3fc-2c963f66afa6
            '400':
               $ref: '#/components/responses/400-BadRequest'
            '401':
               $ref: '#/components/responses/401-Unauthorized'
            '403':
               $ref: '#/components/responses/403-Forbidden'
            '404':
               $ref: '#/components/responses/404-NotFound'
            '406':
               $ref: '#/components/responses/406-NotAcceptable'
            '415':
               $ref: '#/components/responses/415-UnsupportedMediaType'
            '429':
               $ref: '#/components/responses/429-TooManyRequests'
            '500':
               $ref: '#/components/responses/500-InternalServerError'
            '502':
               $ref: '#/components/responses/502-BadGateway'
            '503':
               $ref: '#/components/responses/503-ServiceUnavailable'
            '504':
               $ref: '#/components/responses/504-GatewayTimeout'
            default:
               $ref: '#/components/responses/500-InternalServerError'
      get:
         tags:
         - Trade Finance Undertaking
         summary: Get Trade Finance Undertaking.
         description: |
            Request details of all avaiable Trade Finance Undertaking applications or issued Trade Finance Undertaking, including any amendments, demands, release, extensions.

            The endpoint will return an empty array when no resource is found.

            **Specifying Request Filter**

            Parameters are specified in the form name=value. A parameter list is appended to a URI after a "?". Multiple parameters are separated by "&".

            `Note that in this example, the query parameters are not URL encoded for readability.`

            **Use of specific filter**

            https://api.swiftnet.sipn.swift.com/swift-trade-finance-undertakings/v1/trade-finance-undertakings?undertaking-identification=BGREQ30122022-01

            **Use of logical operator AND (application-from-date and application-to-date)**

             https://api.swiftnet.sipn.swift.com/swift-trade-finance-undertakings/v1/trade-finance-undertakings?application-from-date=2023-05-22&application-to-date=2023-05-23
         operationId: getBankGuarantees
         parameters:
         -  $ref: '#/components/parameters/X-Request-ID'
         -  $ref: '#/components/parameters/X-UserContext'
         -  $ref: '#/components/parameters/X-BIC'
         -  $ref: '#/components/parameters/applicant-issuance-request-identification'
         -  $ref: '#/components/parameters/undertaking-identification'
         -  $ref: '#/components/parameters/application-date'
         -  $ref: '#/components/parameters/application-from-date'
         -  $ref: '#/components/parameters/application-to-date'
         -  $ref: '#/components/parameters/issuance-date'
         -  $ref: '#/components/parameters/application-lifecycle-status'
         -  $ref: '#/components/parameters/pagination-offset'
         -  $ref: '#/components/parameters/pagination-limit'
         responses:
            '200':
               description: OK
               headers:
                  X-Request-ID:
                     $ref: '#/components/headers/X-Request-ID'
               content:
                  application/json:
                     schema:
                        type: object
                        additionalProperties: false
                        properties:
                           trade_finance_instruction:
                              type: array
                              items:
                                 $ref: '#/components/schemas/TradeFinanceInstruction'
                           links:
                              type: array
                              items:
                                 $ref: '#/components/schemas/Link'
                     examples:
                        GETBankGuaranteeResponseCollectionEx-1:
                           $ref: '#/components/examples/GETBankGuaranteeResponseCollectionEx-1'
                        GETBankGuaranteeResponseCollectionEx-2:
                           $ref: '#/components/examples/GETBankGuaranteeResponseCollectionEx-2'
            '400':
               $ref: '#/components/responses/400-BadRequest'
            '401':
               $ref: '#/components/responses/401-Unauthorized'
            '403':
               $ref: '#/components/responses/403-Forbidden'
            '404':
               $ref: '#/components/responses/404-NotFound'
            '406':
               $ref: '#/components/responses/406-NotAcceptable'
            '413':
               $ref: '#/components/responses/414-URITooLong'
            '415':
               $ref: '#/components/responses/415-UnsupportedMediaType'
            '429':
               $ref: '#/components/responses/429-TooManyRequests'
            '500':
               $ref: '#/components/responses/500-InternalServerError'
            '502':
               $ref: '#/components/responses/502-BadGateway'
            '503':
               $ref: '#/components/responses/503-ServiceUnavailable'
            '504':
               $ref: '#/components/responses/504-GatewayTimeout'
            default:
               $ref: '#/components/responses/500-InternalServerError'
   /v1/trade-finance-undertakings/{application-reference}:
      get:
         tags:
         - Trade Finance Undertaking
         summary: Get Trade Finance Undertaking.
         description: Request details of a specific Trade Finance Undertaking application
            or issued Trade Finance Undertaking, including any amendments, demands,
            release, extensions etc.
         operationId: getBankGuarantee
         parameters:
         -  $ref: '#/components/parameters/X-Request-ID'
         -  $ref: '#/components/parameters/X-UserContext'
         -  $ref: '#/components/parameters/X-BIC'
         -  $ref: '#/components/parameters/application-reference'
         responses:
            '200':
               description: OK
               headers:
                  X-Request-ID:
                     $ref: '#/components/headers/X-Request-ID'
                  ETag:
                     $ref: '#/components/headers/ETag'
               content:
                  application/json:
                     schema:
                        $ref: '#/components/schemas/TradeFinanceInstruction'
                     examples:
                        GETBankGuaranteeResponseEx-1:
                           $ref: '#/components/examples/GETBankGuaranteeResponseEx-1'
                        GETBankGuaranteeResponseEx-2:
                           $ref: '#/components/examples/GETBankGuaranteeResponseEx-2'
            '400':
               $ref: '#/components/responses/400-BadRequest'
            '401':
               $ref: '#/components/responses/401-Unauthorized'
            '403':
               $ref: '#/components/responses/403-Forbidden'
            '404':
               $ref: '#/components/responses/404-NotFound'
            '406':
               $ref: '#/components/responses/406-NotAcceptable'
            '413':
               $ref: '#/components/responses/414-URITooLong'
            '415':
               $ref: '#/components/responses/415-UnsupportedMediaType'
            '429':
               $ref: '#/components/responses/429-TooManyRequests'
            '500':
               $ref: '#/components/responses/500-InternalServerError'
            '502':
               $ref: '#/components/responses/502-BadGateway'
            '503':
               $ref: '#/components/responses/503-ServiceUnavailable'
            '504':
               $ref: '#/components/responses/504-GatewayTimeout'
            default:
               $ref: '#/components/responses/500-InternalServerError'
      put:
         tags:
         - Trade Finance Undertaking
         summary: Replace Trade Finance Undertaking.
         description: Replace all the details of a Trade Finance Undertaking application,
            before issuance.
         operationId: replaceBankGuarantee
         parameters:
         -  $ref: '#/components/parameters/X-Request-ID'
         -  $ref: '#/components/parameters/X-UserContext'
         -  $ref: '#/components/parameters/X-BIC'
         -  $ref: '#/components/parameters/If-Match'
         -  $ref: '#/components/parameters/application-reference'
         requestBody:
            required: true
            content:
               application/json:
                  schema:
                     $ref: '#/components/schemas/TradeFinanceInstruction'
                  examples:
                     replaceBankGuarantee_success-1:
                        $ref: '#/components/examples/ReplaceBankGuarantee-1'
                     replaceBankGuarantee_success-2:
                        $ref: '#/components/examples/ReplaceBankGuarantee-2'
         responses:
            '202':
               description: Accepted
               headers:
                  Location:
                     $ref: '#/components/headers/Location'
                  X-Request-ID:
                     $ref: '#/components/headers/X-Request-ID'
            '400':
               $ref: '#/components/responses/400-BadRequest'
            '401':
               $ref: '#/components/responses/401-Unauthorized'
            '403':
               $ref: '#/components/responses/403-Forbidden'
            '404':
               $ref: '#/components/responses/404-NotFound'
            '406':
               $ref: '#/components/responses/406-NotAcceptable'
            '412':
               $ref: '#/components/responses/412-PreconditionFailed'
            '415':
               $ref: '#/components/responses/415-UnsupportedMediaType'
            '429':
               $ref: '#/components/responses/429-TooManyRequests'
            '500':
               $ref: '#/components/responses/500-InternalServerError'
            '502':
               $ref: '#/components/responses/502-BadGateway'
            '503':
               $ref: '#/components/responses/503-ServiceUnavailable'
            '504':
               $ref: '#/components/responses/504-GatewayTimeout'
            default:
               $ref: '#/components/responses/500-InternalServerError'
      patch:
         tags:
         - Trade Finance Undertaking
         summary: Update Trade Finance Undertaking.
         description: Post issuance amendments of the Trade Finance Undertaking including
            any permitted modification to the application such as reduction, release,
            extend.
         operationId: modifyBankGuarantee
         parameters:
         -  $ref: '#/components/parameters/X-Request-ID'
         -  $ref: '#/components/parameters/X-UserContext'
         -  $ref: '#/components/parameters/X-BIC'
         -  $ref: '#/components/parameters/If-Match'
         -  $ref: '#/components/parameters/application-reference'
         requestBody:
            required: true
            content:
               application/json:
                  schema:
                     $ref: '#/components/schemas/TradeFinanceInstruction'
                  examples:
                     updateBankGuarantee_success-1:
                        $ref: '#/components/examples/UpdateBankGuarantee-1'
                     updateBankGuarantee_success-2:
                        $ref: '#/components/examples/UpdateBankGuarantee-2'
         responses:
            '202':
               description: Accepted
               headers:
                  Location:
                     $ref: '#/components/headers/Location'
                  X-Request-ID:
                     $ref: '#/components/headers/X-Request-ID'
            '400':
               $ref: '#/components/responses/400-BadRequest'
            '401':
               $ref: '#/components/responses/401-Unauthorized'
            '403':
               $ref: '#/components/responses/403-Forbidden'
            '404':
               $ref: '#/components/responses/404-NotFound'
            '406':
               $ref: '#/components/responses/406-NotAcceptable'
            '412':
               $ref: '#/components/responses/412-PreconditionFailed'
            '415':
               $ref: '#/components/responses/415-UnsupportedMediaType'
            '429':
               $ref: '#/components/responses/429-TooManyRequests'
            '500':
               $ref: '#/components/responses/500-InternalServerError'
            '502':
               $ref: '#/components/responses/502-BadGateway'
            '503':
               $ref: '#/components/responses/503-ServiceUnavailable'
            '504':
               $ref: '#/components/responses/504-GatewayTimeout'
            default:
               $ref: '#/components/responses/500-InternalServerError'
   /v1/trade-finance-undertakings/{application-reference}/payment-demand:
      post:
         tags:
         - Trade Finance Undertaking
         summary: Request Payment.
         description: Demand for payment under Guarantee. The request to pay is sent
            by the corporate (Beneficiary) to its bank under a specified Guarantee.
         operationId: createGuaranteePaymentDemand
         parameters:
         -  $ref: '#/components/parameters/X-Request-ID'
         -  $ref: '#/components/parameters/X-UserContext'
         -  $ref: '#/components/parameters/X-BIC'
         -  $ref: '#/components/parameters/application-reference'
         requestBody:
            required: true
            content:
               application/json:
                  schema:
                     $ref: '#/components/schemas/GuaranteePaymentDemand'
                  examples:
                     CreateBankGuaranteePaymentDemandEx-1:
                        $ref: '#/components/examples/CreateBankGuaranteePaymentDemandEx-1'
                     CreateBankGuaranteePaymentDemandEx-2:
                        $ref: '#/components/examples/CreateBankGuaranteePaymentDemandEx-2'
         responses:
            '202':
               description: Accepted
               headers:
                  Location:
                     $ref: '#/components/headers/Location'
                  X-Request-ID:
                     $ref: '#/components/headers/X-Request-ID'
            '400':
               $ref: '#/components/responses/400-BadRequest'
            '401':
               $ref: '#/components/responses/401-Unauthorized'
            '403':
               $ref: '#/components/responses/403-Forbidden'
            '404':
               $ref: '#/components/responses/404-NotFound'
            '406':
               $ref: '#/components/responses/406-NotAcceptable'
            '415':
               $ref: '#/components/responses/415-UnsupportedMediaType'
            '429':
               $ref: '#/components/responses/429-TooManyRequests'
            '500':
               $ref: '#/components/responses/500-InternalServerError'
            '502':
               $ref: '#/components/responses/502-BadGateway'
            '503':
               $ref: '#/components/responses/503-ServiceUnavailable'
            '504':
               $ref: '#/components/responses/504-GatewayTimeout'
            default:
               $ref: '#/components/responses/500-InternalServerError'
   /v1/trade-finance-undertakings/{application-reference}/payment-demand/{demand-reference}:
      get:
         tags:
         - Trade Finance Undertaking
         summary: Retrieve demand for payment under Guarantee.
         description: Retrieve a demand for payment associated to a trade finance
            undertaking.
         operationId: fetchDemandSubset
         parameters:
         -  $ref: '#/components/parameters/X-Request-ID'
         -  $ref: '#/components/parameters/X-UserContext'
         -  $ref: '#/components/parameters/X-BIC'
         -  $ref: '#/components/parameters/application-reference'
         -  $ref: '#/components/parameters/demand-reference'
         responses:
            '200':
               description: OK
               headers:
                  X-Request-ID:
                     $ref: '#/components/headers/X-Request-ID'
                  ETag:
                     $ref: '#/components/headers/ETag'
               content:
                  application/json:
                     schema:
                        $ref: '#/components/schemas/GuaranteePaymentDemand'
                     examples:
                        GETBankGuaranteePaymentDemandEx-1:
                           $ref: '#/components/examples/GETBankGuaranteePaymentDemandEx-1'
                        GETBankGuaranteePaymentDemandEx-2:
                           $ref: '#/components/examples/GETBankGuaranteePaymentDemandEx-2'
            '400':
               $ref: '#/components/responses/400-BadRequest'
            '401':
               $ref: '#/components/responses/401-Unauthorized'
            '403':
               $ref: '#/components/responses/403-Forbidden'
            '404':
               $ref: '#/components/responses/404-NotFound'
            '406':
               $ref: '#/components/responses/406-NotAcceptable'
            '413':
               $ref: '#/components/responses/414-URITooLong'
            '415':
               $ref: '#/components/responses/415-UnsupportedMediaType'
            '429':
               $ref: '#/components/responses/429-TooManyRequests'
            '500':
               $ref: '#/components/responses/500-InternalServerError'
            '502':
               $ref: '#/components/responses/502-BadGateway'
            '503':
               $ref: '#/components/responses/503-ServiceUnavailable'
            '504':
               $ref: '#/components/responses/504-GatewayTimeout'
            default:
               $ref: '#/components/responses/500-InternalServerError'
   /v1/trade-finance-undertakings/{application-reference}/audit-trails:
      get:
         tags:
         - Trade Finance Undertaking Report
         summary: Retrieve a summary of the lifecycle events of a specific undertaking.
         description: Retrieve a summary of the lifecycle events of a specific undertaking.
            These are business level events, not technical level.
         operationId: fetchUndertakingAuditTrailSubset
         parameters:
         -  $ref: '#/components/parameters/X-Request-ID'
         -  $ref: '#/components/parameters/X-UserContext'
         -  $ref: '#/components/parameters/X-BIC'
         -  $ref: '#/components/parameters/application-reference'
         responses:
            '200':
               description: OK
               headers:
                  X-Request-ID:
                     $ref: '#/components/headers/X-Request-ID'
               content:
                  application/json:
                     schema:
                        $ref: '#/components/schemas/UndertakingAuditTrail1Subset'
                     examples:
                        GETBankGuaranteeAuditTrailEx-1:
                           $ref: '#/components/examples/GETBankGuaranteeAuditTrailEx-1'
                        GETBankGuaranteeAuditTrailEx-2:
                           $ref: '#/components/examples/GETBankGuaranteeAuditTrailEx-2'
            '400':
               $ref: '#/components/responses/400-BadRequest'
            '401':
               $ref: '#/components/responses/401-Unauthorized'
            '403':
               $ref: '#/components/responses/403-Forbidden'
            '404':
               $ref: '#/components/responses/404-NotFound'
            '406':
               $ref: '#/components/responses/406-NotAcceptable'
            '413':
               $ref: '#/components/responses/414-URITooLong'
            '415':
               $ref: '#/components/responses/415-UnsupportedMediaType'
            '429':
               $ref: '#/components/responses/429-TooManyRequests'
            '500':
               $ref: '#/components/responses/500-InternalServerError'
            '502':
               $ref: '#/components/responses/502-BadGateway'
            '503':
               $ref: '#/components/responses/503-ServiceUnavailable'
            '504':
               $ref: '#/components/responses/504-GatewayTimeout'
            default:
               $ref: '#/components/responses/500-InternalServerError'
   /v1/trade-finance-undertakings-report:
      get:
         tags:
         - Trade Finance Undertaking Report
         summary: Generates a overview report of undertakings in scope of the applied
            search parameters.
         description: Generates a overview report of undertakings based on the applied
            search parameters.
         operationId: fetchUndertakingReportSubset
         parameters:
         -  $ref: '#/components/parameters/X-Request-ID'
         -  $ref: '#/components/parameters/X-UserContext'
         -  $ref: '#/components/parameters/X-BIC'
         -  $ref: '#/components/parameters/from-undertaking-issuance-date'
         -  $ref: '#/components/parameters/to-undertaking-issuance-date'
         -  $ref: '#/components/parameters/from-undertaking-expiry-date'
         -  $ref: '#/components/parameters/to-undertaking-expiry-date'
         -  $ref: '#/components/parameters/from-undertaking-amount'
         -  $ref: '#/components/parameters/to-undertaking-amount'
         -  $ref: '#/components/parameters/undertaking-amount-currency'
         -  $ref: '#/components/parameters/applicant-bic'
         -  $ref: '#/components/parameters/applicant-lei'
         -  $ref: '#/components/parameters/applicant-name'
         -  $ref: '#/components/parameters/beneficiary-bic'
         -  $ref: '#/components/parameters/beneficiary-lei'
         -  $ref: '#/components/parameters/beneficiary-name'
         responses:
            '200':
               description: OK
               headers:
                  X-Request-ID:
                     $ref: '#/components/headers/X-Request-ID'
               content:
                  application/json:
                     schema:
                        $ref: '#/components/schemas/UndertakingReport1Subset'
                     examples:
                        GETBankGuaranteeReportEx-1:
                           $ref: '#/components/examples/GETBankGuaranteeReportEx-1'
                        GETBankGuaranteeReportEx-2:
                           $ref: '#/components/examples/GETBankGuaranteeReportEx-2'
            '400':
               $ref: '#/components/responses/400-BadRequest'
            '401':
               $ref: '#/components/responses/401-Unauthorized'
            '403':
               $ref: '#/components/responses/403-Forbidden'
            '404':
               $ref: '#/components/responses/404-NotFound'
            '406':
               $ref: '#/components/responses/406-NotAcceptable'
            '413':
               $ref: '#/components/responses/414-URITooLong'
            '415':
               $ref: '#/components/responses/415-UnsupportedMediaType'
            '429':
               $ref: '#/components/responses/429-TooManyRequests'
            '500':
               $ref: '#/components/responses/500-InternalServerError'
            '502':
               $ref: '#/components/responses/502-BadGateway'
            '503':
               $ref: '#/components/responses/503-ServiceUnavailable'
            '504':
               $ref: '#/components/responses/504-GatewayTimeout'
            default:
               $ref: '#/components/responses/500-InternalServerError'
components:
   schemas:
      TradeFinanceInstructionReference:
         x-MXComponent: UndertakingSubsetApplicationReference
         type: object
         description: Details about an Undertaking, from Application to Issuance to
            Amendment to Termination.
         additionalProperties: false
         properties:
            application_reference:
               x-MXComponent: UUIDv4Identifier
               description: "Unique technical identification of the Undertaking as\
                  \ defined by the issuer's server. \n\nNote: The applicant does not\
                  \ use this field when first submitting the application, but it should\
                  \ be used when subsequently updating the Undertaking details.\n\n\
                  Universally Unique IDentifier (UUID) version 4, as described in\
                  \ IETC RFC 4122 \"Universally Unique IDentifier (UUID) URN Namespace\"\
                  .\n"
               type: string
               format: uuid
      AccountIdentification68Choice:
         x-MXComponent: AccountIdentification68Choice
         type: object
         description: Specifies the unique identification of an account as assigned
            by the account servicer.
         additionalProperties: true
         oneOf:
         -  type: object
            additionalProperties: false
            properties:
               iban:
                  x-MXComponent: IBAN2007Identifier
                  description: |
                     International Bank Account Number (IBAN) - identifier used internationally by financial institutions to uniquely identify the account of a customer. Further specifications of the format and content of the IBAN can be found in the standard ISO 13616 "Banking and related financial services - International Bank Account Number (IBAN)" version 1997-10-01, or later revisions.

                     The International Bank Account Number is a code used internationally by financial institutions to uniquely identify the account of a customer at a financial institution as described in the 2007 edition of the ISO 13616 standard "Banking and related financial services - International Bank Account Number (IBAN)" and replaced by the more recent edition of the standard.
                  type: string
                  pattern: ^[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}$
            required:
            - iban
         -  type: object
            additionalProperties: false
            properties:
               other:
                  x-MXComponent: Max34Text
                  description: |
                     Unique identification of an account, as assigned by the account servicer, using an identification scheme.

                     Specifies a character string with a maximum length of 34 characters.
                  type: string
                  minLength: 1
                  maxLength: 34
            required:
            - other
      AdditionalStatusInformation1Choice:
         x-MXComponent: AdditionalStatusInformation1Choice
         type: object
         description: Further details on the status reason.
         additionalProperties: true
         oneOf:
         -  type: object
            additionalProperties: false
            properties:
               amendment_response:
                  $ref: '#/components/schemas/AmendmentResponseInformation1'
            required:
            - amendment_response
         -  type: object
            additionalProperties: false
            properties:
               extend_or_pay_response:
                  $ref: '#/components/schemas/DemandResponseInformation2'
            required:
            - extend_or_pay_response
         -  type: object
            additionalProperties: false
            properties:
               demand_refusal:
                  $ref: '#/components/schemas/DemandRefusal2'
      AmendmentResponseInformation1:
         x-MXComponent: AmendmentResponseInformation1
         type: object
         description: Detailed information of the response to an amendment request.
         additionalProperties: false
         properties:
            amendment_request_identification:
               x-MXComponent: RestrictedFINXMax16Text
               description: |
                  Unique and unambiguous identifier assigned by the applicant to the undertaking amendment request.

                  MT Mapping: field 21A of MT 798

                  Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ‘ + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.
               type: string
               minLength: 1
               maxLength: 16
               pattern: ^([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+
                  ])?)*)$
            amendment_sequence_number:
               x-MXComponent: Max3NumericText
               description: |
                  Sequence number assigned by the Applicant to each proposed Amendment of the Undertaking.


                  MT Mapping: field 26E

                  Specifies a numeric string with a maximum length of 3 digits.
               type: string
               pattern: ^[0-9]{1,3}$
            amendment_request_date:
               x-MXComponent: ISODate
               description: |
                  Date of the undertaking amendment request.

                  MT Mapping: field 13E

                  A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
               type: string
               pattern: ^(?:[1-9]\d{3}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1\d|2[0-8])|(?:0[13-9]|1[0-2])-(?:29|30)|(?:0[13578]|1[02])-31)|(?:[1-9]\d(?:0[48]|[2468][048]|[13579][26])|(?:[2468][048]|[13579][26])00)-02-29)(?:Z|[+-][01]\d:[0-5]\d)?$
            amendment_response:
               x-MXComponent: UndertakingStatus2Code
               description: |
                  Response to an Amendment request - filled in by the beneficiary.

                  MT Mapping: field 23R


                  Specifies the undertaking amendment status.

                  Code Name Definition:
                  *`ACCP` - Accepted - Accepted.
                  *`REJT` - Rejected - Rejected.
               type: string
               enum:
               - ACCP
               - REJT
            amendment_response_date:
               x-MXComponent: ISODate
               description: |
                  Date of the Beneficiary's response to the undertaking amendment request- filled in by the beneficiary.

                  MT Mapping: field 13E of MT 798

                  A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
               type: string
               pattern: ^(?:[1-9]\d{3}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1\d|2[0-8])|(?:0[13-9]|1[0-2])-(?:29|30)|(?:0[13578]|1[02])-31)|(?:[1-9]\d(?:0[48]|[2468][048]|[13579][26])|(?:[2468][048]|[13579][26])00)-02-29)(?:Z|[+-][01]\d:[0-5]\d)?$
            amendment_response_information:
               x-MXComponent: Max10000Text
               description: |
                  Information about the beneficiary's response to an Amendment request
                  Note: this is provided by the beneficiary.

                  Specifies a character string with a maximum length of 10000 characters.
               type: string
               minLength: 1
               maxLength: 10000
         required:
         - amendment_request_identification
         - amendment_sequence_number
         - amendment_response
      Amount1Choice:
         x-MXComponent: Amount1Choice
         type: object
         description: Choice of amounts.
         additionalProperties: true
         oneOf:
         -  type: object
            additionalProperties: false
            properties:
               increase_amount:
                  x-MXComponent: ActiveCurrencyAndAmount
                  description: |
                     Amount of increase, and currency.

                     A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.
                  type: object
                  additionalProperties: false
                  properties:
                     currency:
                        x-MXComponent: ActiveCurrencyCode
                        type: string
                        pattern: ^[A-Z]{3,3}$
                     amount:
                        type: string
                        maxLength: 19
                        pattern: ^0*(([0-9]{0,13}\.[0-9]{1,5})|([0-9]{0,14}\.[0-9]{1,4})|([0-9]{0,15}\.[0-9]{1,3})|([0-9]{0,16}\.[0-9]{1,2})|([0-9]{0,17}\.[0-9]{1,1})|([0-9]{0,18}\.)|0*|([0-9]{0,18}))$
                  required:
                  - currency
                  - amount
            required:
            - increase_amount
         -  type: object
            additionalProperties: false
            properties:
               decrease_amount:
                  x-MXComponent: ActiveCurrencyAndAmount
                  description: |
                     Amount of decrease, and currency.

                     A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.
                  type: object
                  additionalProperties: false
                  properties:
                     currency:
                        x-MXComponent: ActiveCurrencyCode
                        type: string
                        pattern: ^[A-Z]{3,3}$
                     amount:
                        type: string
                        maxLength: 19
                        pattern: ^0*(([0-9]{0,13}\.[0-9]{1,5})|([0-9]{0,14}\.[0-9]{1,4})|([0-9]{0,15}\.[0-9]{1,3})|([0-9]{0,16}\.[0-9]{1,2})|([0-9]{0,17}\.[0-9]{1,1})|([0-9]{0,18}\.)|0*|([0-9]{0,18}))$
                  required:
                  - currency
                  - amount
            required:
            - decrease_amount
      AutoExtend1Choice:
         x-MXComponent: AutoExtend1Choice
         type: object
         description: Choice of format for the auto extend period.
         additionalProperties: true
         oneOf:
         -  type: object
            additionalProperties: false
            properties:
               days:
                  x-MXComponent: Number
                  description: |
                     Number of days.

                     Number of objects represented as an integer.
                  type: string
                  maxLength: 19
            required:
            - days
         -  type: object
            additionalProperties: false
            properties:
               months:
                  x-MXComponent: Number
                  description: |
                     Number of months.

                     Number of objects represented as an integer.
                  type: string
                  maxLength: 19
            required:
            - months
         -  type: object
            additionalProperties: false
            properties:
               years:
                  x-MXComponent: Number
                  description: |
                     Number of years.

                     Number of objects represented as an integer.
                  type: string
                  maxLength: 19
            required:
            - years
         -  type: object
            additionalProperties: false
            properties:
               date:
                  x-MXComponent: ISODate
                  description: |
                     Auto extension end date.

                     A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
                  type: string
                  pattern: ^(?:[1-9]\d{3}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1\d|2[0-8])|(?:0[13-9]|1[0-2])-(?:29|30)|(?:0[13578]|1[02])-31)|(?:[1-9]\d(?:0[48]|[2468][048]|[13579][26])|(?:[2468][048]|[13579][26])00)-02-29)(?:Z|[+-][01]\d:[0-5]\d)?$
            required:
            - date
      BankGuaranteeAmendment2Subset:
         x-MXComponent: BankGuaranteeAmendment2Subset
         type: object
         description: Details of the bank guarantee amendment.
         additionalProperties: false
         properties:
            amendment_request_identification:
               x-MXComponent: RestrictedFINXMax16Text
               description: |
                  Unique and unambiguous identifier assigned by the applicant to the Undertaking amendment request.

                  MT Mapping: field 21A of MT 798

                  Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ‘ + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.
               type: string
               minLength: 1
               maxLength: 16
               pattern: ^([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+
                  ])?)*)$
            amendment_platform_reference:
               x-MXComponent: UUIDv4Identifier
               description: |
                  Unique technical reference assigned by the platform.


                  Universally Unique IDentifier (UUID) version 4, as described in IETC RFC 4122 "Universally Unique IDentifier (UUID) URN Namespace".
               type: string
               pattern: ^[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}$
            amendment_sequence_number:
               x-MXComponent: Max3NumericText
               description: |
                  Sequence number assigned by the Applicant to each proposed Amendment of the Undertaking.


                  MT Mapping: field 26E

                  Specifies a numeric string with a maximum length of 3 digits.
               type: string
               pattern: ^[0-9]{1,3}$
            amendment_request_date:
               x-MXComponent: ISODate
               description: |
                  Date of the Undertaking amendment request.

                  MT Mapping: field 13E

                  A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
               type: string
               pattern: ^(?:[1-9]\d{3}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1\d|2[0-8])|(?:0[13-9]|1[0-2])-(?:29|30)|(?:0[13578]|1[02])-31)|(?:[1-9]\d(?:0[48]|[2468][048]|[13579][26])|(?:[2468][048]|[13579][26])00)-02-29)(?:Z|[+-][01]\d:[0-5]\d)?$
            amendment_date:
               x-MXComponent: ISODate
               description: |
                  Date on which the amendment is effective.

                  MT Mapping: field 30

                  A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
               type: string
               pattern: ^(?:[1-9]\d{3}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1\d|2[0-8])|(?:0[13-9]|1[0-2])-(?:29|30)|(?:0[13578]|1[02])-31)|(?:[1-9]\d(?:0[48]|[2468][048]|[13579][26])|(?:[2468][048]|[13579][26])00)-02-29)(?:Z|[+-][01]\d:[0-5]\d)?$
            undertaking_amendment_instruction_purpose:
               x-MXComponent: AmendmentPurpose1Code
               description: |
                  Specifies the purpose of this instruction.

                  MT Mapping: 22A

                  Specifies whether the amendment is to be made to issued counter, counter-counter or local undertaking.

                  Code Name Definition:
                  *`ICCA` - AmendmentToIssuedCounterCounterUndertaking - Request issuance of amendment to issued counter counter-undertaking and/or request to issue amendment to counter-undertaking and local undertaking.
                  *`ISCA` - AmendmentToIssuedCounterUndertaking - Request issuance of amendment to issued counter-undertaking and/or request to issue amendment to local undertaking.
                  *`ISUA` - AmendmentToIssuedUndertaking - Request issuance of amendment to issued undertaking.
               type: string
               enum:
               - ICCA
               - ISCA
               - ISUA
            amendment_impact:
               type: array
               description: |
                  Proposed amendment(s) to the undertaking in a codified form.

                  Amendment to to a trade finance undertaking in a codified form.

                  Code Name Definition:
                  *`CTHR` - CounterUndertakingOtherAmendments - Any other amendments made to the undertaking.
                  *`CUAD` - CounterUndertakingAmountDecrease - Indication of the amount of decrease to the undertaking amount.
                  *`CUAI` - CounterUndertakingAmountIncrease - Indication of the amount of increase to the undertaking amount.
                  *`CUDX` - CounterUndertakingExpiryDate - Specifies the new date when the undertaking will cease to be available.
                  *`CUNB` - CounterUndertakingNewBeneficiary - Requested new beneficiary of the undertaking.
                  *`CUTC` - CounterUndertakingTermsAndCondition - Requested new terms and conditions of the undertaking.
                  *`CUXC` - CounterUndertakingNewExpiryCondition - Specifies the amended documentary condition that indicates when the undertaking will cease to be available.
                  *`LTHR` - LocalUndertakingOtherAmendments - Any other amendments made to the local undertaking.
                  *`LUAD` - LocalUndertakingAmountDecrease - Indication of the amount of decrease to the local undertaking amount.
                  *`LUAI` - LocalUndertakingAmountIncrease - Indication of the amount of increase to the local undertaking amount.
                  *`LUDX` - LocalUndertakingExpiryDate - Specifies the new date when the local undertaking will cease to be available.
                  *`LUNB` - LocalUndertakingNewBeneficiary - Requested new beneficiary of the local undertaking.
                  *`LUTC` - LocalUndertakingTermsAndCondition - Requested new terms and conditions of the local undertaking.
                  *`LUXC` - LocalUndertakingNewExpiryCondition - Specifies the amended documentary condition that indicates when the local undertaking will cease to be available.
               items:
                  x-MXComponent: AmendmentImpact1Code
                  type: string
                  enum:
                  - CTHR
                  - CUAD
                  - CUAI
                  - CUDX
                  - CUNB
                  - CUTC
                  - CUXC
                  - LTHR
                  - LUAD
                  - LUAI
                  - LUDX
                  - LUNB
                  - LUTC
                  - LUXC
            undertaking_termination_request:
               x-MXComponent: YesNoIndicator
               description: |
                  Specifies that the instrument is requested to be cancelled.

                  MT Mapping: 23S

                  Indicates a "Yes" or "No" type of answer for an element.
               type: boolean
            undertaking_increase_decrease_amount:
               description: |
                  Indication of the amount of increase or decrease to the undertaking amount.
                  Choice of amounts.

                  MT Mapping: field 32B/33B in SeqC
               $ref: '#/components/schemas/Amount1Choice'
            new_undertaking_terms_and_conditions:
               type: array
               maxItems: 8
               description: |
                  Specifies changes to the terms and conditions of the Undertaking (excluding information already expressed in other fields or other associated messages).

                  MT Mapping: field 77U

                  Specifies a character string with a maximum length of 9750 characters.
               items:
                  x-MXComponent: Max9750Text
                  type: string
                  minLength: 1
                  maxLength: 9750
            counter_undertaking_increase_decrease_amount:
               description: |
                  Amount of increase, and currency.

                  MT Mapping: field 32B/33B in SeqB
               $ref: '#/components/schemas/Amount1Choice'
            new_counter_undertaking_terms_and_condition:
               x-MXComponent: Max9750Text
               description: |
                  Specifies changes to the terms and conditions of the local Undertaking (excluding information already expressed in other fields or other associated messages).

                  MT Mapping: field 77L in SeqC

                  Specifies a character string with a maximum length of 9750 characters.
               type: string
               minLength: 1
               maxLength: 9750
            delivery_channel_method:
               x-MXComponent: Max4Text
               description: "Method by which the proposed amendment is to be made\
                  \ available.\n\n\"\nCode\"\t\"\nName\"\nCOUR - Courier\nEMAL - Email\n\
                  FAXI - Fax\nMESS - Messenger\nOTHR - Other\nPOST - Post\nREGM -\
                  \ RegisteredMail\nSEMA - SecureEmail\nSWFA - SWIFTNetFileAct\nSWIA\
                  \ - SWIFTNetInterAct\nSWMT - SWIFTMT\nSWMX - SWIFTMX\nTELE - Telecommunication\n\
                  WEBM - WebUploadDownload\n\n\nMT Mapping: field 24E in sequence\
                  \ B and C\n\nSpecifies a character string with a maximum length\
                  \ of 4 characters.\n"
               type: string
               minLength: 1
               maxLength: 4
            deliver_to_party_type:
               x-MXComponent: Max4Text
               description: "Type of party to whom the proposed amendment is intended\
                  \ to be delivered.\n\nType of party can be either \n- a code from\
                  \ the list published on ISO20022.org as part of external code sets\n\
                  OR\n- if code is different from the ISO code list (mentioned above),\
                  \ then a bilaterally agreed code may be used\n\n\"\nCode\"\t\"\n\
                  Name\"\nADVP - AdvisingParty\nANYB - AnyBank\nAPPL - Applicant\n\
                  BENE - Beneficiary\nCONF - ConfirmationParty\nCUB2 - SecondCounterUndertakingBeneficiary\n\
                  CUB3 - ThirdCounterUndertakingBeneficiary\nISSU - Issuer\nOBLG -\
                  \ Obligor\nORDR - OrderingParty\nPRES - PresentingParty\nSADV -\
                  \ SecondAdvisingParty\nSPEC - SpecifiedAddress\n\n\nMT Mapping:\
                  \ field 24G\n\nSpecifies a character string with a maximum length\
                  \ of 4 characters.\n"
               type: string
               minLength: 1
               maxLength: 4
            deliver_to_name:
               x-MXComponent: RestrictedFINXMax140Text
               description: |
                  Name of party to whom the proposed amendment is intended to be delivered.

                  MT Mapping: field 24G

                  Specifies a character string with a maximum length of 140 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ‘ + .
               type: string
               minLength: 1
               maxLength: 140
               pattern: ^[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,140}$
            deliver_to_address:
               type: array
               maxItems: 3
               description: |
                  Address of party to whom the original undertaking or proposed amendment is intended to be delivered.

                  MT Mapping: field 24G

                  Specifies a character string with a maximum length of 35 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ‘ + .
               items:
                  x-MXComponent: RestrictedFINXMax35Text
                  type: string
                  minLength: 1
                  maxLength: 35
                  pattern: ^[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,35}$
            deliver_to_tracking_reference:
               x-MXComponent: Max35Text
               description: |
                  Unique tracking reference used by the delivery method, for example courier tracking reference, FileAct reference, etc.

                  Specifies a character string with a maximum length of 35 characters.
               type: string
               minLength: 1
               maxLength: 35
            additional_deliver_to_details:
               x-MXComponent: RestrictedFINMax35Text
               description: "Additional information related to 'Deliver to' information.\n\
                  \nUsage Guideline: This field can additionally be used to identify\
                  \ the format and channel when the format and channel code is 'OTHR'.\
                  \ Recommend to structure the information as follows (example):\n\
                  \nWhen Format is Other - //OTHR//JPEG \nWhen Channel is Other -\
                  \ //OTHR//HOST\nWhen both Format and Channel is Other - //OTHR//JPEG//OTHR//HOST\n\
                  \nSpecifies a character string with a maximum length of 35 characters.\
                  \ It has a pattern ([^/]+/)+([^/]+)|([^/]*) that disables the use\
                  \ of slash \"/\" at the beginning and end of line and double slash\
                  \ \"//\" within the line.\n"
               type: string
               minLength: 1
               maxLength: 35
               pattern: ^([^/]+/)+([^/]+)|([^/]*)$
            reduction_release:
               $ref: '#/components/schemas/ReductionReleaseNotice4Subset'
            supporting_document:
               type: array
               description: |
                  Document related to the undertaking which is already issued and is being amended or released/reduced.


                  MT Mapping: field 23X
               items:
                  $ref: '#/components/schemas/Document18'
            additional_information:
               x-MXComponent: Max210Text
               description: |
                  Additional information related to the amendment or release/reduction of the undertaking.


                  MT Mapping: field 72Z

                  Specifies a character string with a maximum length of 210 characters.
               type: string
               minLength: 1
               maxLength: 210
         required:
         - amendment_request_identification
         - amendment_sequence_number
      CashAccount208:
         x-MXComponent: CashAccount208
         type: object
         description: Set of elements used to identify an account.
         additionalProperties: false
         properties:
            identification:
               $ref: '#/components/schemas/AccountIdentification68Choice'
            currency:
               x-MXComponent: ActiveCurrencyAndAmount
               description: |
                  Identification of the currency in which the account is held.

                  A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.
               type: object
               additionalProperties: false
               properties:
                  currency:
                     x-MXComponent: ActiveCurrencyCode
                     type: string
                     pattern: ^[A-Z]{3,3}$
                  amount:
                     type: string
                     maxLength: 19
                     pattern: ^0*(([0-9]{0,13}\.[0-9]{1,5})|([0-9]{0,14}\.[0-9]{1,4})|([0-9]{0,15}\.[0-9]{1,3})|([0-9]{0,16}\.[0-9]{1,2})|([0-9]{0,17}\.[0-9]{1,1})|([0-9]{0,18}\.)|0*|([0-9]{0,18}))$
               required:
               - currency
               - amount
            party:
               type: array
               maxItems: 2
               description: "Party can be only Owner or repeated for Owner and Servicer.\
                  \ \n\nOwner is the party that legally owns the account. For example,\
                  \ the Beneficiary.\n\nServicer is the party that services the account:\
                  \ manages the account on behalf of the account owner, that is manages\
                  \ the registration and booking of entries on the account, calculates\
                  \ balances on the account and provides information about the account.\n\
                  \nUsage: At least Owner must be present.\n"
               items:
                  $ref: '#/components/schemas/PartyIdentification277'
         required:
         - identification
         - party
      Charge30:
         x-MXComponent: Charge30
         type: object
         description: Charges applied.
         additionalProperties: false
         properties:
            charge_type:
               x-MXComponent: Max8Text
               description: "Contains information about the type of charges. One or\
                  \ more of the following codes may be used - \n\nCode - Definition\n\
                  AGENT - Agent's Commission\nCOMM - Our Commission\nCORCOM - Our\
                  \ Correspondent's Commission\nDISC - Commercial Discount\nINSUR\
                  \ - Insurance Premium\nPOST - Our Postage\nSTAMP - Stamp Duty\n\
                  TELECHAR - Teletransmission Charges\nWAREHOUS - Wharfing and Warehouse\n\
                  \nMT Mapping - field 71D\n\nSpecifies a character string with a\
                  \ maximum length of 8 characters.\n"
               type: string
               minLength: 1
               maxLength: 8
            charges_payable_by:
               x-MXComponent: Max4Text
               description: "Indicates the party who is responsible for payment of\
                  \ the charges.\n\n\"\nCode\"\t\"\nName\"\nADVP - AdvisingParty\n\
                  ANYB - AnyBank\nAPPL - Applicant\nBENE - Beneficiary\nCONF - ConfirmationParty\n\
                  CUB2 - SecondCounterUndertakingBeneficiary\nCUB3 - ThirdCounterUndertakingBeneficiary\n\
                  ISSU - Issuer\nOBLG - Obligor\nORDR - OrderingParty\nPRES - PresentingParty\n\
                  SADV - SecondAdvisingParty\nSPEC - SpecifiedAddress\n\nIf code is\
                  \ different from the above code list, then a bilaterally agreed\
                  \ code may be used.\n\nMT Mapping: field 71D\n\nSpecifies a character\
                  \ string with a maximum length of 4 characters.\n"
               type: string
               minLength: 1
               maxLength: 4
            charges_account:
               description: |
                  Unique and unambiguous identification for the charges account.

                  MT Mapping: field 25A of MT 798
               $ref: '#/components/schemas/AccountIdentification68Choice'
            charge_amount:
               x-MXComponent: ActiveCurrencyAndAmount
               description: |
                  Contains information about the charge amount associated with the undertaking.

                  MT Mapping: field 71D

                  A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.
               type: object
               additionalProperties: false
               properties:
                  currency:
                     x-MXComponent: ActiveCurrencyCode
                     type: string
                     pattern: ^[A-Z]{3,3}$
                  amount:
                     type: string
                     maxLength: 19
                     pattern: ^0*(([0-9]{0,13}\.[0-9]{1,5})|([0-9]{0,14}\.[0-9]{1,4})|([0-9]{0,15}\.[0-9]{1,3})|([0-9]{0,16}\.[0-9]{1,2})|([0-9]{0,17}\.[0-9]{1,1})|([0-9]{0,18}\.)|0*|([0-9]{0,18}))$
               required:
               - currency
               - amount
      GuaranteePaymentDemand:
         x-MXComponent: Demand7Subset
         type: object
         description: Details of the demand.
         additionalProperties: false
         properties:
            demand_reference:
               x-MXComponent: UUIDv4Identifier
               description: |
                  Unique technical identification of the demand, as defined by the beneficiary's server.

                  Universally Unique IDentifier (UUID) version 4, as described in IETC RFC 4122 "Universally Unique IDentifier (UUID) URN Namespace".
               type: string
               readOnly: true
               pattern: ^[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}$
            undertaking_identification:
               x-MXComponent: RestrictedFINXMax16Text
               description: |
                  Business identification of the Undertaking. Filled in by the bank after issuance of the Undertaking, stays unique throughout the lifecycle of the Undertaking.

                  MT Mapping: field 20

                  Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ‘ + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.
               type: string
               minLength: 1
               maxLength: 16
               pattern: ^([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+
                  ])?)*)$
            demand_identification:
               x-MXComponent: RestrictedFINXMax16Text
               description: |
                  Unique and unambiguous identifier assigned by the presenting party to the demand.

                  MT Mapping: field 20

                  Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ‘ + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.
               type: string
               minLength: 1
               maxLength: 16
               pattern: ^([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+
                  ])?)*)$
            demand_platform_reference:
               x-MXComponent: UUIDv4Identifier
               description: |
                  Unique technical reference assigned by the platform.


                  Universally Unique IDentifier (UUID) version 4, as described in IETC RFC 4122 "Universally Unique IDentifier (UUID) URN Namespace".
               type: string
               pattern: ^[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}$
            advising_party_reference_number:
               x-MXComponent: RestrictedFINXMax16Text
               description: |
                  Unique and unambiguous identifier assigned by the advising party to the Undertaking.

                  MT Mapping: field 21

                  Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ‘ + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.
               type: string
               minLength: 1
               maxLength: 16
               pattern: ^([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+
                  ])?)*)$
            beneficiary_reference_number:
               x-MXComponent: RestrictedFINXMax16Text
               description: |
                  Unique and unambiguous identifier assigned by the beneficiary to the Undertaking.

                  MT Mapping: field 23

                  Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ‘ + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.
               type: string
               minLength: 1
               maxLength: 16
               pattern: ^([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+
                  ])?)*)$
            demand_type:
               x-MXComponent: UndertakingDemandType1Code
               description: |
                  Type of demand.

                  MT Mapping: field 22G

                  Specifies the type of demand for payment of a trade undertaking.

                  Code Name Definition:
                  *`PAEX` - PayOrExtend - Pay or extend.
                  *`PAYM` - PayOnly - Pay only.
                  *`WITH` - DemandWithdrawn - Demand has been withdrawn.
               type: string
               enum:
               - PAEX
               - PAYM
               - WITH
            demand_submission_date:
               x-MXComponent: ISODate
               description: |
                  Date at which the demand is submitted.

                  MT Mapping: field 31L

                  A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
               type: string
               pattern: ^(?:[1-9]\d{3}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1\d|2[0-8])|(?:0[13-9]|1[0-2])-(?:29|30)|(?:0[13578]|1[02])-31)|(?:[1-9]\d(?:0[48]|[2468][048]|[13579][26])|(?:[2468][048]|[13579][26])00)-02-29)(?:Z|[+-][01]\d:[0-5]\d)?$
            demand_amount:
               x-MXComponent: ActiveCurrencyAndAmount
               description: |
                  Amount and currency of the demand.

                  MT Mapping: field 32B

                  A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.
               type: object
               additionalProperties: false
               properties:
                  currency:
                     x-MXComponent: ActiveCurrencyCode
                     type: string
                     pattern: ^[A-Z]{3,3}$
                  amount:
                     type: string
                     maxLength: 19
                     pattern: ^0*(([0-9]{0,13}\.[0-9]{1,5})|([0-9]{0,14}\.[0-9]{1,4})|([0-9]{0,15}\.[0-9]{1,3})|([0-9]{0,16}\.[0-9]{1,2})|([0-9]{0,17}\.[0-9]{1,1})|([0-9]{0,18}\.)|0*|([0-9]{0,18}))$
               required:
               - currency
               - amount
            demand_amount_additional_information:
               x-MXComponent: Max780Text
               description: |
                  Additional information concerning the demand amount.

                  MT Mapping: field 78

                  Specifies a character string with a maximum length of 780 characters.
               type: string
               minLength: 1
               maxLength: 780
            party:
               type: array
               description: "Parties specified in the undertaking or related to the\
                  \ Undertaking. \nThe type of Party is specified in the first element,\
                  \ Type.\n\nUsage Rule: MANDATORY to include one iteration each of\
                  \ Party for \n1. Beneficiary\n2. Advising/nominated/confirming bank\n\
                  3. Applicant \n4. Issuing bank\noptionally for other parties.\n\n\
                  MT Mapping: 52a, 59a, 56a, 57a\n"
               items:
                  $ref: '#/components/schemas/PartyIdentification281'
            requested_expiry_date:
               x-MXComponent: ISODate
               description: |
                  Requested new expiry date as an alternative to payment of the demand.

                  Rule: Requested expiry date must be present when demand type is Pay or Extend.


                  MT Mapping: field 31E

                  A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
               type: string
               pattern: ^(?:[1-9]\d{3}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1\d|2[0-8])|(?:0[13-9]|1[0-2])-(?:29|30)|(?:0[13578]|1[02])-31)|(?:[1-9]\d(?:0[48]|[2468][048]|[13579][26])|(?:[2468][048]|[13579][26])00)-02-29)(?:Z|[+-][01]\d:[0-5]\d)?$
            complete_demand:
               x-MXComponent: YesNoIndicator
               description: |
                  Indication as to whether the presentation is complete.

                  MT Mapping: field 49A
                  Yes means Complete Demand (COMP), no other documentation to accompany or follow this message.
                  No means Incomplete Demand (INCP), supporting documentation to be presented separately.

                  Indicates a "Yes" or "No" type of answer for an element.
               type: boolean
            completion_information:
               x-MXComponent: Max3250Text
               description: |
                  Information related to an incomplete presentation.

                  MT Mapping: field 49A

                  Specifies a character string with a maximum length of 3250 characters.
               type: string
               minLength: 1
               maxLength: 3250
            presentation_completion_data:
               x-MXComponent: Max700Text
               description: |
                  Specifies information about the presentation documentation. If the presentation is incomplete, this must specify how the presentation will be completed.

                  MT Mapping: field 77

                  Specifies a character string with a maximum length of 700characters.
               type: string
               minLength: 1
               maxLength: 700
            charges_reason:
               x-MXComponent: ChargesReasonType1Code
               description: |
                  Specifies the reason for the message.

                  MT 798: Field 12R (Code).

                  Specifies the reason for the message.

                  Code Name Definition:
                  *`BOTH` - AdviceOfPaymentAndCommission - Advice of Payment and Commission and Charges.
                  *`CHGS` - AdviceOfCommissionAndCharges - Advice of Commission and charges.
                  *`PAYM` - AdviceOfPayment - Payment Advice.
               type: string
               enum:
               - BOTH
               - CHGS
               - PAYM
            charge_information:
               x-MXComponent: RestrictedFINXMax35Text
               description: |
                  Information about whether the advice is for payment or commission or both.

                  MT 798: Field 12R (Narrative).

                  Specifies a character string with a maximum length of 35 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ‘ + .
               type: string
               minLength: 1
               maxLength: 35
               pattern: ^[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,35}$
            details_of_commission_and_charges:
               x-MXComponent: Max4Text
               description: "Specifies the details of the commissions and charges\
                  \ in a coded form.\n\nCODES:\nACGH = AUTOMATIC BOOKING OF CHARGES.\n\
                  Periodical commission/charges, per quarter, or per month, etc.\n\
                  AMND = AMENDMENT CHARGES\nATER = ADJUSTMENT OF TERMS CHARGES\nAdjustment\
                  \ of commission rate (increase), adjustment of commission period,\
                  \ etc.\nCLOS = CLOSURE CHARGES. Special charges for cancelling the\
                  \ guarantee\nCORR = CORRECTION CHARGES. Adjustment of charges having\
                  \ been debited for wrong amount or even charge not applicable. May\
                  \ only be positive.\nINTC = INTEREST CHARGES \nISSU = ISSUANCE CHARGES\n\
                  OTHR = MISCELLANEOUS/OTHER CHARGES.\nManual booking of charges,\
                  \ etc. \nPOST = Postal charges\nREDN = REDUCTION CHARGES.\nCharges/commission\
                  \ related to reduction based on a reduction clause\nRELS = RELEASE\
                  \ CHARGES. cancel before expiry / open ended UNDK (liability release\
                  \ from beneficiary) - commission in arrears\nSTAMP = Stamp duty\
                  \ \nTAXES = Taxes\nTELECHAR = Telecommunication\n\n\nSpecifies a\
                  \ character string with a maximum length of 4 characters.\n"
               type: string
               minLength: 1
               maxLength: 4
            charges_by:
               x-MXComponent: Max4Text
               description: |
                  Information about whether charged by the bank sending the message or charged by another bank than the bank sending the message.

                  Codes:

                  BANK = charged by the bank sending the message.
                  OTHR = charged by another bank than the bank sending the message.

                  Specifies a character string with a maximum length of 4 characters.
               type: string
               minLength: 1
               maxLength: 4
            settlement_account:
               type: array
               description: |
                  Details related to the settlement account.

                  MT Mapping: field 53C
               items:
                  $ref: '#/components/schemas/CashAccount208'
            own_commission_and_charges:
               x-MXComponent: ActiveCurrencyAndAmount
               description: |
                  Currency and amount of the own commission and charges, without any Guarantee / Standby LC commission.

                  MT 798: Field 34M

                  A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.
               type: object
               additionalProperties: false
               properties:
                  currency:
                     x-MXComponent: ActiveCurrencyCode
                     type: string
                     pattern: ^[A-Z]{3,3}$
                  amount:
                     type: string
                     maxLength: 19
                     pattern: ^0*(([0-9]{0,13}\.[0-9]{1,5})|([0-9]{0,14}\.[0-9]{1,4})|([0-9]{0,15}\.[0-9]{1,3})|([0-9]{0,16}\.[0-9]{1,2})|([0-9]{0,17}\.[0-9]{1,1})|([0-9]{0,18}\.)|0*|([0-9]{0,18}))$
               required:
               - currency
               - amount
            counterparty_commission_and_charges:
               x-MXComponent: ActiveCurrencyAndAmount
               description: |
                  Currency and amount of the counterparty commission and charges.

                  MT 798: Field 34K

                  A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.
               type: object
               additionalProperties: false
               properties:
                  currency:
                     x-MXComponent: ActiveCurrencyCode
                     type: string
                     pattern: ^[A-Z]{3,3}$
                  amount:
                     type: string
                     maxLength: 19
                     pattern: ^0*(([0-9]{0,13}\.[0-9]{1,5})|([0-9]{0,14}\.[0-9]{1,4})|([0-9]{0,15}\.[0-9]{1,3})|([0-9]{0,16}\.[0-9]{1,2})|([0-9]{0,17}\.[0-9]{1,1})|([0-9]{0,18}\.)|0*|([0-9]{0,18}))$
               required:
               - currency
               - amount
            amount_claimed:
               x-MXComponent: ActiveCurrencyAndAmount
               description: |
                  Currency and amount of the amount claimed.

                  RULE: Must be present if Chares Reason is PAYM or BOTH.

                  MT 798: Field 34D

                  A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.
               type: object
               additionalProperties: false
               properties:
                  currency:
                     x-MXComponent: ActiveCurrencyCode
                     type: string
                     pattern: ^[A-Z]{3,3}$
                  amount:
                     type: string
                     maxLength: 19
                     pattern: ^0*(([0-9]{0,13}\.[0-9]{1,5})|([0-9]{0,14}\.[0-9]{1,4})|([0-9]{0,15}\.[0-9]{1,3})|([0-9]{0,16}\.[0-9]{1,2})|([0-9]{0,17}\.[0-9]{1,1})|([0-9]{0,18}\.)|0*|([0-9]{0,18}))$
               required:
               - currency
               - amount
            undertaking_commission_specification:
               x-MXComponent: UndertakingCommissionSpecification1Code
               description: |
                  Specifies the amount of the Guarantee / Standby LC commission, if applicable.

                  MT 798: Field 12S

                  Specifies the amount of the Guarantee / Standby LC commission.

                  Code Name Definition:
                  *`FLAT` - FlatAmount - Flat amount.
                  *`MAXI` - MaximumAmount - Maximum Amount
                  *`MINI` - MinimumAmount - Minimum Amount
               type: string
               enum:
               - FLAT
               - MAXI
               - MINI
            exchange_rate:
               x-MXComponent: BaseOneRate
               description: |
                  Specifies the exchange rate used to convert a foreign currency.

                  Rate expressed as a decimal, for example, 0.7 is 7/10 and 70%.
               type: string
               maxLength: 12
            local_currency_countervalue:
               x-MXComponent: ActiveCurrencyAndAmount
               description: |
                  Specifies the countervalue of the converted foreign currency in local currency.

                  MT 798: Field 34X

                  A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.
               type: object
               additionalProperties: false
               properties:
                  currency:
                     x-MXComponent: ActiveCurrencyCode
                     type: string
                     pattern: ^[A-Z]{3,3}$
                  amount:
                     type: string
                     maxLength: 19
                     pattern: ^0*(([0-9]{0,13}\.[0-9]{1,5})|([0-9]{0,14}\.[0-9]{1,4})|([0-9]{0,15}\.[0-9]{1,3})|([0-9]{0,16}\.[0-9]{1,2})|([0-9]{0,17}\.[0-9]{1,1})|([0-9]{0,18}\.)|0*|([0-9]{0,18}))$
               required:
               - currency
               - amount
            total_amount_to_settlement_account:
               x-MXComponent: ActiveCurrencyAndAmount
               description: |
                  Currency and total amount that is debited or credited to the settlement account.

                  MT 798: 34V

                  A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.
               type: object
               additionalProperties: false
               properties:
                  currency:
                     x-MXComponent: ActiveCurrencyCode
                     type: string
                     pattern: ^[A-Z]{3,3}$
                  amount:
                     type: string
                     maxLength: 19
                     pattern: ^0*(([0-9]{0,13}\.[0-9]{1,5})|([0-9]{0,14}\.[0-9]{1,4})|([0-9]{0,15}\.[0-9]{1,3})|([0-9]{0,16}\.[0-9]{1,2})|([0-9]{0,17}\.[0-9]{1,1})|([0-9]{0,18}\.)|0*|([0-9]{0,18}))$
               required:
               - currency
               - amount
            value_date:
               x-MXComponent: ISODate
               description: |
                  Specifies the value date.

                  MT 798: Field 30

                  A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
               type: string
               pattern: ^(?:[1-9]\d{3}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1\d|2[0-8])|(?:0[13-9]|1[0-2])-(?:29|30)|(?:0[13578]|1[02])-31)|(?:[1-9]\d(?:0[48]|[2468][048]|[13579][26])|(?:[2468][048]|[13579][26])00)-02-29)(?:Z|[+-][01]\d:[0-5]\d)?$
            debit_undertaking_commission:
               x-MXComponent: ActiveCurrencyAndAmount
               description: |
                  Currency and amount of the Guarantee / Standby LC commission which will be debited.

                  MT 798: Field 34S

                  A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.
               type: object
               additionalProperties: false
               properties:
                  currency:
                     x-MXComponent: ActiveCurrencyCode
                     type: string
                     pattern: ^[A-Z]{3,3}$
                  amount:
                     type: string
                     maxLength: 19
                     pattern: ^0*(([0-9]{0,13}\.[0-9]{1,5})|([0-9]{0,14}\.[0-9]{1,4})|([0-9]{0,15}\.[0-9]{1,3})|([0-9]{0,16}\.[0-9]{1,2})|([0-9]{0,17}\.[0-9]{1,1})|([0-9]{0,18}\.)|0*|([0-9]{0,18}))$
               required:
               - currency
               - amount
            total_amount_claimed:
               x-MXComponent: ActiveCurrencyAndAmount
               description: |
                  Indicates currency and total amount claimed. Total amount is calculated from amount of the counterparty commission and charges plus the amount claimed.

                  MT 798: Field 34L

                  A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.
               type: object
               additionalProperties: false
               properties:
                  currency:
                     x-MXComponent: ActiveCurrencyCode
                     type: string
                     pattern: ^[A-Z]{3,3}$
                  amount:
                     type: string
                     maxLength: 19
                     pattern: ^0*(([0-9]{0,13}\.[0-9]{1,5})|([0-9]{0,14}\.[0-9]{1,4})|([0-9]{0,15}\.[0-9]{1,3})|([0-9]{0,16}\.[0-9]{1,2})|([0-9]{0,17}\.[0-9]{1,1})|([0-9]{0,18}\.)|0*|([0-9]{0,18}))$
               required:
               - currency
               - amount
            extend_or_pay_text:
               x-MXComponent: Max3250Text
               description: |
                  Contains the text of the request to extend or pay.

                  MT Mapping: field 49J of MT 798

                  Specifies a character string with a maximum length of 3250 characters.
               type: string
               minLength: 1
               maxLength: 3250
            instructions_from_bank:
               x-MXComponent: Max210Text
               description: |
                  Instructions received from bank.

                  MT Mapping: field 72Z

                  Specifies a character string with a maximum length of 210 characters.
               type: string
               minLength: 1
               maxLength: 210
            documentation:
               type: array
               description: |
                  Document(s) presented for examination.

                  MT Mapping: field 23X
               items:
                  $ref: '#/components/schemas/Document18'
         required:
         - demand_reference
         - demand_identification
         - demand_type
         - demand_submission_date
         - demand_amount
         - party
         - complete_demand
      DemandRefusal2:
         x-MXComponent: DemandRefusal2
         type: object
         description: Information about the refusal of a demand.
         additionalProperties: false
         properties:
            demand_identification:
               x-MXComponent: RestrictedFINXMax16Text
               description: |
                  Unique and unambiguous identifier assigned by the presenting party to the demand.

                  MT Mapping: field 20

                  Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ‘ + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.
               type: string
               minLength: 1
               maxLength: 16
               pattern: ^([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+
                  ])?)*)$
            status:
               x-MXComponent: Exact7Text
               description: |
                  Explicit indication of 'REFUSED' as the processing status reported by the issuer.

                  Specifies a character string with an exact length of 7 characters.
               type: string
               minLength: 7
               maxLength: 7
            reason:
               type: array
               description: |
                  Reason for refusal.

                  MT Mapping: field 77J

                  Specifies a character string with a maximum length of 3500 characters.
               items:
                  x-MXComponent: Max3500Text
                  type: string
                  minLength: 1
                  maxLength: 3500
            disposition_of_documents:
               x-MXComponent: Max105Text
               description: |
                  Indication of how the demand presentation documents will be handled as a consequence of the demand refusal.

                  MT Mapping: field 77B

                  Specifies a character string with a maximum length of 105 characters.
               type: string
               minLength: 1
               maxLength: 105
            additional_information:
               x-MXComponent: Max210Text
               description: |
                  Additional information related to the notification.

                  MT Mapping: field 72Z

                  Specifies a character string with a maximum length of 210 characters.
               type: string
               minLength: 1
               maxLength: 210
         required:
         - demand_identification
         - status
      DemandResponseInformation2:
         x-MXComponent: DemandResponseInformation2
         type: object
         description: Detailed information of the response to a demand.
         additionalProperties: false
         properties:
            demand_identification:
               x-MXComponent: RestrictedFINXMax16Text
               description: |
                  Unique and unambiguous identifier assigned by the presenting party to the demand.

                  MT Mapping: field 20

                  Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ‘ + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.
               type: string
               minLength: 1
               maxLength: 16
               pattern: ^([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+
                  ])?)*)$
            extend_or_pay_status_response:
               x-MXComponent: DemandStatus1Code
               description: |
                  Filled in by the party that requested issuance of the undertaking (applicant or obligor) to the party that issued the undertaking, in response to the issuer's request for the applicant's response to the beneficiary’s request to extend or pay.


                  MT Mapping: field 12D

                  Specifies the status of the demand for payment.

                  Code Name Definition:
                  *`EXTD` - Extend - Extend undertaking expiry date.
                  *`PAYD` - PAY - Pay undertaking demand.
               type: string
               enum:
               - EXTD
               - PAYD
         required:
         - demand_identification
      Document13Subset:
         x-MXComponent: Document13Subset
         type: object
         description: Information about a document.
         additionalProperties: false
         properties:
            wording:
               x-MXComponent: Max6500Text
               description: |
                  Wording for document.

                  MT Mapping: Field 12H

                  Specifies a character string with a maximum length of 6500 characters.
               type: string
               minLength: 1
               maxLength: 6500
            electronic_details:
               type: array
               description: Details related to an electronic presentation.
               items:
                  $ref: '#/components/schemas/Presentation5'
            file_name:
               x-MXComponent: Max140Text
               description: |
                  Technical name of the file.

                  MT Mapping: field 23X

                  Specifies a character string with a maximum length of 140 characters.
               type: string
               minLength: 1
               maxLength: 140
      Document18:
         x-MXComponent: Document18
         type: object
         description: Information about a document.
         additionalProperties: false
         properties:
            undertaking_document_type:
               x-MXComponent: Max4Text
               description: "Type of document or template.\n\n\"\nCode\"\t\"\nName\"\
                  \nBENS - Beneficiary Statement\nCINV - Commercial Invoice\nCLAF\
                  \ - Claim Form\nDEMD - Demand\nECID - E-stamp Certificate\nTRAF\
                  \ - Transfer Form\nOTHR - Other\n\nOr any other bilaterally agreed\
                  \ code.\n\nMT Mapping: field 23X\n\nSpecifies a character string\
                  \ with a maximum length of 4 characters.\n"
               type: string
               minLength: 1
               maxLength: 4
            undertaking_document_identification:
               x-MXComponent: Max35Text
               description: |
                  Identification of the document or template.

                  MT Mapping: field 23X

                  Specifies a character string with a maximum length of 35 characters.
               type: string
               minLength: 1
               maxLength: 35
            undertaking_document_format:
               x-MXComponent: Max4Text
               description: "Format of the document or template, such as PDF, XML,\
                  \ XSLT.\n\n\"\nCode\"\t\"\nName\"\nDPDF - PDF\nDXML - XML\nSDSH\
                  \ - Spreadsheet\nWORD - Word\nXSLT - XSLT\n\nOr any other bilaterally\
                  \ agreed code.\n\nSpecifies a character string with a maximum length\
                  \ of 4 characters.\n"
               type: string
               minLength: 1
               maxLength: 4
            file_name:
               x-MXComponent: Max140Text
               description: |
                  Technical name of the file.

                  MT Mapping: field 23X

                  Specifies a character string with a maximum length of 140 characters.
               type: string
               minLength: 1
               maxLength: 140
            issue_date:
               x-MXComponent: ISODate
               description: |
                  Issue date of the document.

                  A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
               type: string
               pattern: ^(?:[1-9]\d{3}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1\d|2[0-8])|(?:0[13-9]|1[0-2])-(?:29|30)|(?:0[13578]|1[02])-31)|(?:[1-9]\d(?:0[48]|[2468][048]|[13579][26])|(?:[2468][048]|[13579][26])00)-02-29)(?:Z|[+-][01]\d:[0-5]\d)?$
            linked_url_address:
               x-MXComponent: Max256Text
               description: |
                  Address for the Universal Resource Locator (URL), for example used over the www (HTTP) service.

                  Specifies a character string with a maximum length of 256 characters.
               type: string
               minLength: 1
               maxLength: 256
            digital_signature:
               $ref: '#/components/schemas/PartyAndSignature6'
            additional_details:
               x-MXComponent: RestrictedFINMax35Text
               description: |
                  Additional details about delivery.

                  Usage Guideline: This field can additionally be used to identify the document type when the type is 'OTHR'.

                  Specifies a character string with a maximum length of 35 characters. It has a pattern ([^/]+/)+([^/]+)|([^/]*) that disables the use of slash "/" at the beginning and end of line and double slash "//" within the line.
               type: string
               minLength: 1
               maxLength: 35
               pattern: ^([^/]+/)+([^/]+)|([^/]*)$
         required:
         - undertaking_document_type
         - undertaking_document_identification
      Location3Subset:
         x-MXComponent: Location3Subset
         type: object
         description: Location information.
         additionalProperties: false
         properties:
            country:
               x-MXComponent: CountryCode
               description: |
                  Country of jurisdiction.

                  Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).
               type: string
               pattern: ^[A-Z]{2,2}$
            narrative:
               x-MXComponent: Max65Text
               description: |
                  Name of jurisdiction, for example, Frankfurt.

                  Specifies a character string with a maximum length of 65 characters.
               type: string
               minLength: 1
               maxLength: 65
      PartyAndSignature6:
         x-MXComponent: PartyAndSignature6
         type: object
         description: Entity involved in an activity.
         additionalProperties: false
         properties:
            name:
               x-MXComponent: RestrictedFINXMax140Text
               description: |
                  Name by which a party is known and which is usually used to identify that party.

                  Specifies a character string with a maximum length of 140 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ‘ + .
               type: string
               minLength: 1
               maxLength: 140
               pattern: ^[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,140}$
            digital_signature:
               x-MXComponent: Max2048Text
               description: |
                  Digital signature of the linked binary file.

                  Specifies a character string with a maximum length of 2048 characters.
               type: string
               minLength: 1
               maxLength: 2048
         required:
         - name
         - digital_signature
      PartyIdentification277:
         x-MXComponent: PartyIdentification277
         type: object
         description: Set of elements used to identify a person or an organisation.
         additionalProperties: false
         properties:
            type:
               x-MXComponent: Max4Text
               description: "Type of Party can be either \n- a code from the list\
                  \ published on ISO20022.org as part of external code sets\nOR\n\
                  - if code is different from the ISO code list (mentioned above),\
                  \ then a bilaterally agreed code may be used\n\n\"Code\" \"Name\"\
                  \  \"Definition\"\n\nADVP - AdvisingParty - Party advising the undertaking.\n\
                  \nANYB - AnyBank - Any bank.\n\nAPPL - Applicant - Party named in\
                  \ the undertaking as the “applicant”. \n\nBENE - Beneficiary - Party\
                  \ in whose favour the undertaking (or counter-undertaking) is issued.\n\
                  \nCONF - ConfirmationParty - Party that adds its undertaking to\
                  \ honour the undertaking.\n\nCUB2 - SecondCounterUndertakingBeneficiary\
                  \ - Beneficiary of the second counter-undertaking.\n\nCUB3 - ThirdCounterUndertakingBeneficiary\
                  \ - Beneficiary of the third counter-undertaking.\n\nISSU - Issuer\
                  \ - Party that issues the undertaking (or counter-undertaking).\
                  \ \n\nOBLG - Obligor - Party obligated to reimburse the issuer.\
                  \ \nOTHR - Other - Party not part of the list of codes.\n\nORDR\
                  \ - OrderingParty - Party requested to issue an undertaking on behalf\
                  \ of the applicant. Also known as the ordering institution or applicant's\
                  \ bank.\n\nPRES - PresentingParty - Party nominated to receive presentation.\
                  \ \n\nSADV - SecondAdvisingParty - Second advising party.\n\nSPEC\
                  \ - SpecifiedAddress - Party located at specified address.\n\nMT\
                  \ Mapping: Party fields like 50, 51, 52a, 59a, 56a, 57a\n\nSpecifies\
                  \ a character string with a maximum length of 4 characters.\n"
               type: string
               minLength: 1
               maxLength: 4
            identification:
               x-MXComponent: Max35Text
               description: |
                  Unique and unambiguous identifier assigned by the party.

                  Specifies a character string with a maximum length of 35 characters.
               type: string
               minLength: 1
               maxLength: 35
            issuer:
               x-MXComponent: Max35Text
               description: |
                  Entity that assigns the identification.

                  Specifies a character string with a maximum length of 35 characters.
               type: string
               minLength: 1
               maxLength: 35
            any_bic:
               x-MXComponent: AnyBICDec2014Identifier
               description: |
                  Code allocated to a financial institution or non financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".

                  MT Mapping: Party identification from fields 50, 51, 52a, 59a, 56a, 57a.

                  Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362: 2014 - "Banking - Banking telecommunication messages - Business identifier code (BIC)".
               type: string
               pattern: ^[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}$
            lei:
               x-MXComponent: LEIIdentifier
               description: |
                  Legal entity identifier of the financial institution.

                  Legal Entity Identifier is a code allocated to a party as described in ISO 17442 "Financial Services - Legal Entity Identifier (LEI)".
               type: string
[...]
