openapi: 3.0.0
info:
  version: 1.0.0
  title: Merchant Callback API Reference
  description: |
    ## About
    The [Merchant Callback API](/developers/guides/custom-cart-guides/how-to-integrate/merchant_api/) is a general endpoint on your eCommerce server that Bolt calls to receive information necessary for operating the checkout process.

    **Note**: You must also reference the [Bolt API](/api-bolt) when building a custom cart integration.

    ### URL Options
    You can set the URL(s) for your Merchant Callback API in the [Bolt Merchant dashboard](https://merchant.bolt.com).
    - **v1**: v1 endpoints are individualized and described in the subsections below with unique URLs (e.g., `/order_shipping_and_tax`)
    - **Universal**: The "Universal API" is one endpoint (instead of many) that handles all events described in this spec; the methods and payloads are identical, however you only need to use one URL.

    Need more information? See our [Developer reference articles](/developers/references/) for **environment details**, **error codes**, and more.
servers:
  - url: 'https://merchant-url.com/api'
paths:
  /cart_create:
    post:
      summary: cart.create
      operationId: cart.create
      description: |
        This is only used for Product-Page Checkout to create a cart filled with items.
      security:
        - ApiKeyAuth:
            - X-API-Key
      tags:
        - Cart
      parameters:
        - $ref: '#/components/parameters/bolt_hmac_param'
      requestBody:
        $ref: '#/components/requestBodies/cart_create'
      responses:
        '200':
          $ref: '#/components/responses/cart_create'
        '422':
          $ref: '#/components/responses/cart_create_error'
  /cart_update:
    post:
      summary: cart.update
      operationId: cart.update
      description: |
        This request updates the shopper's cart with any changes, such as adding or removing items.
      security:
        - ApiKeyAuth:
            - X-API-Key
      tags:
        - Cart
      parameters:
        - $ref: '#/components/parameters/bolt_hmac_param'
      requestBody:
        $ref: '#/components/requestBodies/cart_update'
      responses:
        '200':
          $ref: '#/components/responses/cart_update'
        '422':
          $ref: '#/components/responses/cart_update_error'
  /universal_api:
    post:
      summary: cart.addons
      operationId: cart.addons
      description: |
        Requests add-ons to be shown based on the shopper's cart contents.
      security:
        - ApiKeyAuth:
            - X-API-Key
      tags:
        - Cart
      parameters:
        - $ref: '#/components/parameters/bolt_hmac_param'
      requestBody:
        $ref: '#/components/requestBodies/cart_addons'
      responses:
        '200':
          $ref: '#/components/responses/cart_addons'
        '422':
          $ref: '#/components/responses/cart_addons_error'
  /discounts.code.apply:
    post:
      summary: discounts.code.apply
      operationId: discounts.code.apply
      description: |
        This request validates a shopper-submitted discount code and applies the discount to the cart if it exists.
      security:
        - ApiKeyAuth:
            - X-API-Key
      tags:
        - Discount
      parameters:
        - $ref: '#/components/parameters/bolt_hmac_param'
      requestBody:
        $ref: '#/components/requestBodies/discount_check'
      responses:
        '200':
          $ref: '#/components/responses/discount_check'
        '422':
          $ref: '#/components/responses/discount_check_error'
  /order_create:
    post:
      summary: order.create
      operationId: order.create
      description: |
        This request verifies the pre-authorization of an order, confirming that the order can be successfully created.
      security:
        - ApiKeyAuth:
            - X-API-Key
      tags:
        - Order
      parameters:
        - $ref: '#/components/parameters/bolt_hmac_param'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                event:
                  type: string
                  enum:
                    - order.create
                data:
                  type: object
                  description: This is a generic wrapper for the merchant's data. Open to see properties.
                  properties:
                    order:
                      $ref: '#/components/schemas/order'
                    payment_method:
                      $ref: '#/components/schemas/payment_method'
                    currency:
                      $ref: '#/components/schemas/currency_iso'
                    metadata:
                      $ref: '#/components/schemas/metadata_component'
      responses:
        '200':
          description: Order Created Successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - event
                  - status
                  - data
                properties:
                  event:
                    type: string
                    enum:
                      - order.create
                  status:
                    type: string
                    enum:
                      - success
                  data:
                    type: object
                    description: This is a generic wrapper for the Merchant Callback API’s request body.
                    properties:
                      display_id:
                        $ref: '#/components/schemas/display_id'
                      order_received_url:
                        $ref: '#/components/schemas/order_received_url'
        '422':
          description: Order Creation Failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - failure
                  error:
                    type: array
                    items:
                      $ref: '#/components/schemas/error'
  /order_shipping:
    post:
      summary: order.shipping
      operationId: order.shipping
      description: |
        This retrieves a shopper's shipping options for a given order.
      security:
        - ApiKeyAuth:
            - X-API-Key
      tags:
        - Order
      parameters:
        - $ref: '#/components/parameters/bolt_hmac_param'
      requestBody:
        $ref: '#/components/requestBodies/order_shipping'
      responses:
        '200':
          $ref: '#/components/responses/order_shipping'
        '422':
          $ref: '#/components/responses/order_shipping_error'
  /order_shipping_and_tax:
    post:
      summary: order.shipping_and_tax
      operationId: order.shipping_and_tax
      description: |
        This retrieves a shopper's shipping options and tax calculations for a given order.
      security:
        - ApiKeyAuth:
            - X-API-Key
      tags:
        - Order
      parameters:
        - $ref: '#/components/parameters/bolt_hmac_param'
      requestBody:
        $ref: '#/components/requestBodies/order_shipping_and_tax'
      responses:
        '200':
          $ref: '#/components/responses/order_shipping_and_tax'
        '422':
          $ref: '#/components/responses/order_shipping_and_tax_error'
  /order_tax:
    post:
      summary: order.tax
      operationId: order.tax
      description: |
        This retrieves a shopper's tax calculations for a given order.
      security:
        - ApiKeyAuth:
            - X-API-Key
      tags:
        - Order
      parameters:
        - $ref: '#/components/parameters/bolt_hmac_param'
      requestBody:
        $ref: '#/components/requestBodies/order_tax'
      responses:
        '200':
          $ref: '#/components/responses/order_tax'
        '422':
          $ref: '#/components/responses/order_tax_error'
  /product_get:
    get:
      summary: product.info
      operationId: product.info
      description: |
        Bolt uses this endpoint to fetch product details, availability, and variant information from a merchant to display in Checkout Everywhere. You can pass either the `productID` or the `sku`; if both are present, Bolt defaults to `productID`.
      security:
        - ApiKeyAuth:
            - X-API-Key
      tags:
        - Products
      parameters:
        - $ref: '#/components/parameters/bolt_hmac_param'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                event:
                  type: string
                  enum:
                    - product.info
                data:
                  type: object
                  description: This is a generic wrapper for the merchant's data. Open to see properties.
                  properties:
                    productID:
                      $ref: '#/components/schemas/product_id'
                    sku:
                      $ref: '#/components/schemas/sku'
      responses:
        '200':
          description: Item Not Found
          content:
            application/json:
              schema:
                type: object
                required:
                  - event
                  - status
                  - data
                properties:
                  event:
                    type: string
                    enum:
                      - product.info
                  status:
                    type: string
                    enum:
                      - success
                  data:
                    type: object
                    properties:
                      Current:
                        $ref: '#/components/schemas/product'
                      Variants:
                        $ref: '#/components/schemas/variants'
                      Parent:
                        $ref: '#/components/schemas/product'
        '404':
          description: Item Not Found
          content:
            application/json:
              schema:
                type: object
                required:
                  - event
                  - status
                properties:
                  event:
                    type: string
                    enum:
                      - product.info
                  status:
                    type: string
                    enum:
                      - failure
                  error:
                    type: object
                    properties:
                      code:
                        $ref: '#/components/schemas/code'
                      message:
                        $ref: '#/components/schemas/message'
  /webhooks_transaction:
    post:
      summary: Transaction Webhooks
      operationId: TransactionWebhooks
      description: |
        This request updates the merchant on the status of the transaction.
      security:
        - ApiKeyAuth:
            - X-API-Key
      tags:
        - Webhooks
      parameters:
        - $ref: '#/components/parameters/bolt_hmac_param'
      requestBody:
        $ref: '#/components/requestBodies/webhooks_transaction'
      responses:
        '200':
          $ref: '#/components/responses/webhooks_transaction'
        '422':
          $ref: '#/components/responses/webhooks_transaction_error'
  /webhooks_credit_card:
    post:
      summary: Credit Card Webhooks (BETA)
      operationId: TransactionWebhooksBeta
      description: |
        This request notifies merchants on changes to a existing customer's saved credit card information.
      security:
        - ApiKeyAuth:
            - X-API-Key
      tags:
        - Webhooks
      parameters:
        - $ref: '#/components/parameters/bolt_hmac_param'
      requestBody:
        $ref: '#/components/requestBodies/webhooks_credit_card'
      responses:
        '200':
          $ref: '#/components/responses/webhooks_transaction'
        '422':
          $ref: '#/components/responses/webhooks_transaction_error'
  /oauth/login:  
    get:
      security: []
      summary: account.get
      operationId: account.get
      description: |
        Use this endpoint to validate whether a shopper has an existing merchant account using their email address.
      tags:
        - Account
      parameters:
        - $ref: '#/components/parameters/bolt_hmac_param'
      requestBody:
        $ref: '#/components/requestBodies/account_get'
      responses:
        '200':
          $ref: '#/components/responses/account_get'
        '404':
          $ref: '#/components/responses/account_get_error'
  /oauth/login{code}{state}{scope}{reference}:
    get:
      security: []
      summary: account.login
      operationId: account.login
      description: |
        Use this endpoint to log a shopper in using OAuth.
      tags:
        - Account
      parameters:
        - $ref: '#/components/parameters/bolt_hmac_param'
        - $ref: '#/components/parameters/code'
        - $ref: '#/components/parameters/state'
        - $ref: '#/components/parameters/scope'
        - $ref: '#/components/parameters/reference'
      responses:
        '200':
          $ref: '#/components/responses/account_login'
        '404':
          $ref: '#/components/responses/account_login_error'
  /account_upsert:
    post:
      tags: 
        - Account
      x-speakeasy-ignore: true
      summary: Upsert Shopper Account
      operationId: callbackAccountUpsert
      description: Create or update a shopper account with profile information, payment and addresses.
      security: []
      parameters:
        - $ref: '#/components/parameters/bolt_hmac_param'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create-full-account'
      responses:
        '200':
          description: The account details were successfully created/updated
        '4XX':
          description: An error has occurred, and further details are contained in the response.
        default:
          description: An error has occurred, and further details are contained in the response.       
tags:
  - name: Account
    x-displayName: Account Search & Validation
    description: |
      The Account API is used to validate whether a shopper has an existing merchant account using their email address.

  - name: Cart
    x-displayName: Cart Events
    description: |
      Cart events are only needed if you are using Bolt's [Product Page Checkout button](/operations/checkout-settings/buttons/ppc/). This button enables express checkout for shoppers interested in buying only one item (specified on its product page).

  - name: Discounts
    x-displayName: Discount Codes
    description: |
      [Discount codes](/operations/checkout-settings/discounts/) enable merchants to create and run single or multi-discount campaigns. The Discounts feature requires activation before it can be made available to your shoppers. Read our [feature setup guide](/operations/checkout-settings/discounts/discounts/) for more information.

  - name: Order
    x-displayName: Order Events
    description: |
      Order events loop between the Bolt API and your Merchant Callback API while a shopper is inputting their **shipping address**, selecting a **delivery method**, **applying discounts**, and **adding or removing items**. Whenever a shopper changes this information, the order's `total_amount` and `tax_amount` must be recalculated.

      Every order **must** have a [Bolt order token](/api-bolt/#operation/createOrder). Need to set up your first request? See [How to Create a Bolt Order Token](/developers/guides/custom-cart-guides/how-to-integrate/create-bolt-order-token/).

  - name: Products
    x-displayName: Product Catalog
    description: |
      Bolt uses this endpoint to fetch product details, availability, and variant information from a merchant to display in Checkout. You can pass either the `productID` or the `sku`; if both are present, Bolt defaults to `productID`.

  - name: Webhooks
    x-displayName: Webhooks
    description: |
      Webhooks are sent as a **POST request** to a Merchant's server. Webhooks are retried with an exponential backoff until they are either acknowledged or ignored.

      To acknowledge the webhook, respond with `200`. To fail the webhook, respond with `422`. Bolt recommends adding a  webhook response body to both responses.

components:
  parameters:
    bolt_hmac_param:
      in: header
      name: X-Bolt-Hmac-Sha256
      schema:
        type: string
      description: Bolt sends a signed HMAC for hook verification
    identifier:
      name: identifier
      description: |
        A type and value combination that defines the identifier used to detect
        the existence of an account.
      in: query
      required: true
      schema:
        type: object
        required: [identifier_type, identifier_value]
        properties:
          identifier_type:
            type: string
            description: The type of identifier
            enum: [email, email_sha256]
            example: email
          identifier_value:
            type: string
            description: The value of the identifier. The value must be valid for the specified `identifier_type`
            example: alice@example.com
      examples:
        email:
          summary: Detect using an email
          value:
            identifier_type: email
            identifier_value: alice@example.com
        email_sha256:
          summary: Detect using an email's SHA256 hash
          value:
            identifier_type: email_sha256
            identifier_value: ff8d9819fc0e12bf0d24892e45987e249a28dce836a85cad60e28eaaa8c6d976
    transaction_reference_query_param:
      in: path
      name: REFERENCE
      schema:
        type: string
      required: true
      description: This is the Bolt transaction reference. (ex. N7Y3-NFKC-VFRF)
    x_authorization_signature:
      in: header
      name: X-Authorization-Signature
      schema:
        type: string
      required: true
      description: Generated signature after using the signing secret and nonce by the publisher.
    x_publisher_key:
      in: header
      name: X-Publisher-Key
      schema:
        type: string
      required: true
      description: Unique identifier for the publisher.
    x_publishable_key:
      in: header
      name: X-Publishable-Key
      schema:
        type: string
      required: false
      description: A public key identifying the merchant
    x_nonce_param:
      in: header
      name: X-Nonce
      schema:
        type: string
        format: uuid
      required: true
      description: Unique 12-16 digit for every request
    bolt_product_id:
      in: query
      name: bolt_product_id
      schema:
        type: string
      required: false
      description: Bolt's unique identifier for a given product.
    cursor:
      in: query
      name: cursor
      schema:
        type: string
      required: false
      description: The url of the next product variant to load when multiple variants are returned and paginated.
    limit:
      in: query
      name: limit
      schema:
        type: string
      required: false
      description: The maximum number of product variants to that can be returned. Defaults to `100` variants.
    merchant_division_id:
      in: query
      name: merchant_division_id
      schema:
        type: string
      required: true
      description: 'The unique ID for a given division of the merchant''s account (e.g., a storefront or backend division).'
    merchant_product_id:
      in: query
      name: merchant_product_id
      schema:
        type: string
      description: A merchant's unique ID for a given product.
    sku:
      in: query
      name: sku
      schema:
        type: string
      required: false
      description: A product's sku.
    code:
      in: path
      name: code
      schema:
        type: string
      required: true
      description: A temporary authorization code that must be exchanged for an ID token obtained from Bolt's `/oauth/token` endpoint.
    state:
      in: path
      name: state
      schema:
        type: string
      required: true
      description: A randomly generated 8-character string.
    scope:
      in: path
      name: scope
      schema:
        type: string
      required: true
      description: Set to `openid`.
    reference:
      in: path
      name: reference
      schema:
        type: string
      required: true
      description: The order token associated to the shopper logging into a Bolt Account.
    user_email:
      in: query
      name: email
      schema:
        type: string
      required: true
      description: The Bolt user's e-mail address.
    user_phone:
      in: query
      name: phone
      schema:
        type: string
      required: false
      description: The Bolt user's phone number.
  schemas:
    tax_result:
      type: object
      properties:
        items:
          $ref: '#/components/schemas/items'
        rate_subtotal:
          $ref: '#/components/schemas/rate_subtotal'
        rate_shipping:
          $ref: '#/components/schemas/rate_shipping'
        subtotal_amount:
          $ref: '#/components/schemas/amount'
    adjust_transaction_merchant:
      type: object
      required:
        - created_at
        - description
        - processor
        - operational_processors
        - time_zone
      properties:
        created_at:
          $ref: '#/components/schemas/merchant_created_date'
        description:
          $ref: '#/components/schemas/merchant_description'
        processor:
          $ref: '#/components/schemas/transaction_processor'
        operational_processors:
          $ref: '#/components/schemas/transaction_operational_processors'
        public_id:
          $ref: '#/components/schemas/merchant_public_id'
        time_zone:
          $ref: '#/components/schemas/merchant_time_zone'
    indemnification_decision:
      type: string
      description: Determines indemnification coverage.
      enum:
        - unknown
        - indemnified
        - not_indemnified
      example: indemnified
    indemnification_reason:
      type: string
      description: Determines indemnification coverage reason.
      enum:
        - checkout
        - virtual_terminal
        - merchant_back_office
        - merchant_force_approved
        - reversibly_rejected
        - irreversibly_rejected
        - risk_engine_approved
        - analyst_approved
        - auth_verification
        - paypal
        - afterpay
        - direct_payments
        - whitelist
        - external_review
      example: checkout
    card_priority:
      type: string
      description: The priority for the card.
      enum:
        - primary
        - listed
      example: primary
    currency:
      type: object
      properties:
        currency:
          $ref: '#/components/schemas/currency_iso'
        currency_symbol:
          $ref: '#/components/schemas/currency_symbol'
    splits:
      type: array
      description: A list of splits. **Nullable** for Transactions Details.
      items:
        type: object
        description: A split of fees by type and amount.
        required:
          - amount
          - type
        properties:
          amount:
            $ref: '#/components/schemas/amounts'
          type:
            type: string
            description: |
              **Nullable** for Transactions Details.
            enum:
              - net
              - processing_fee
              - bolt_fee
              - adjustment
              - float
              - reserve
            example: processing_fee
    amounts:
      type: object
      description: The amount. **Nullable** for Transactions Details.
      required:
        - amount
        - currency
        - currency_symbol
      properties:
        amount:
          $ref: '#/components/schemas/amount'
        currency:
          $ref: '#/components/schemas/currency_iso'
        currency_symbol:
          $ref: '#/components/schemas/currency_symbol'
    adjust_transaction:
      type: object
      description: |
        **Nullable** for Transactions Details.
      properties:
        id:
          $ref: '#/components/schemas/transaction_id'
        type:
          $ref: '#/components/schemas/transaction_type'
        processor:
          $ref: '#/components/schemas/transaction_processor'
        date:
          $ref: '#/components/schemas/transaction_date'
        reference:
          $ref: '#/components/schemas/transaction_reference'
        status:
          $ref: '#/components/schemas/transaction_status'
        from_consumer:
          $ref: '#/components/schemas/from_consumer'
        to_consumer:
          $ref: '#/components/schemas/from_consumer'
        from_credit_card:
          $ref: '#/components/schemas/from_credit_card'
        to_credit_card:
          $ref: '#/components/schemas/from_credit_card'
        amount:
          $ref: '#/components/schemas/amounts'
        authorization:
          $ref: '#/components/schemas/transaction_authorization'
        capture:
          $ref: '#/components/schemas/capture'
        captures:
          $ref: '#/components/schemas/captures'
        credit:
          $ref: '#/components/schemas/credit_status'
        merchant_division:
          $ref: '#/components/schemas/merchant_division'
        merchant:
          $ref: '#/components/schemas/adjust_transaction_merchant'
        transaction_properties:
          $ref: '#/components/schemas/risk_payment_instrument_factors'
        indemnification_decision:
          $ref: '#/components/schemas/indemnification_decision'
        indemnification_reason:
          $ref: '#/components/schemas/indemnification_reason'
        order_decision:
          $ref: '#/components/schemas/order_decision'
        merchant_order_number:
          $ref: '#/components/schemas/merchant_order_number'
        splits:
          $ref: '#/components/schemas/splits'
        review_ticket:
          $ref: '#/components/schemas/review_ticket'
    adjust_transactions:
      type: array
      description: |
        **Nullable** for Transactions Details.
      items:
        $ref: '#/components/schemas/adjust_transaction'
    address:
      type: object
      description: A physical address.
      required: [id, first_name, last_name, street_address1, locality, postal_code, country_code]
      properties:
        id:
          type: string
          format: id
          description: The address's unique identifier.
          readOnly: true
          example: D4g3h5tBuVYK9
        first_name:
          type: string
          description: The first name of the person associated with this address.
          example: Alice
        last_name:
          type: string
          description: The last name of the person associated with this address.
          example: Baker
        company:
          type: string
          description: The company associated with this address.
          example: ACME Corporation
        street_address1:
          type: string
          description: The street address associated with this address.
          example: 535 Mission St, Ste 1401
        street_address2:
          type: string
          description: Any additional, optional, street address information associated with this address.
          example: c/o Shipping Department
        locality:
          type: string
          description: The locality (e.g. city, town, etc...) associated with this address.
          example: San Francisco
        postal_code:
          type: string
          description: The postal code associated with this address.
          example: '94105'
        region:
          type: string
          description: The region or administrative area (e.g. state, province, county, etc...) associated with this address.
          example: CA
        country_code:
          type: string
          description: The country (in its ISO 3166 alpha-2 format) associated with this address.
          enum: [
            AF, AX, AL, DZ, AS, AD, AO, AI, AQ, AG, AR, AM, AW, AU, AT, AZ, BH, BS, BD, BB, BY, BE, BZ, BJ, BM, BT, BO, BQ,
            BA, BW, BV, BR, IO, BN, BG, BF, BI, KH, CM, CA, CV, KY, CF, TD, CL, CN, CX, CC, CO, KM, CG, CD, CK, CR, CI, HR,
            CU, CW, CY, CZ, DK, DJ, DM, DO, EC, EG, SV, GQ, ER, EE, ET, FK, FO, FJ, FI, FR, GF, PF, TF, GA, GM, GE, DE, GH,
            GI, GR, GL, GD, GP, GU, GT, GG, GN, GW, GY, HT, HM, VA, HN, HK, HU, IS, IN, ID, IR, IQ, IE, IM, IL, IT, JM, JP,
            JE, JO, KZ, KE, KI, KP, KR, KW, KG, LA, LV, LB, LS, LR, LY, LI, LT, LU, MO, MK, MG, MW, MY, MV, ML, MT, MH, MQ,
            MR, MU, YT, MX, FM, MD, MC, MN, ME, MS, MA, MZ, MM, NA, NR, NP, NL, NC, NZ, NI, NE, NG, NU, NF, MP, 'NO', OM, PK,
            PW, PS, PA, PG, PY, PE, PH, PN, PL, PT, PR, QA, RE, RO, RU, RW, BL, SH, KN, LC, MF, PM, VC, WS, SM, ST, SA, SN,
            RS, SC, SL, SG, SX, SK, SI, SB, SO, ZA, GS, SS, ES, LK, SD, SR, SJ, SZ, SE, CH, SY, TW, TJ, TZ, TH, TL, TG, TK,
            TO, TT, TN, TR, TM, TC, TV, UG, UA, AE, GB, US, UM, UY, UZ, VU, VE, VN, VG, VI, WF, EH, YE, ZM, ZW,
          ]
          example: US
          x-oapi-codegen-extra-tags:
            validate: country
        email:
          type: string
          format: email
          description: The email address associated with this address.
          example: alice@example.com
        phone:
          type: string
          format: phone
          description: The phone number associated with this address.
          example: '+14155550199'
    address-listing:
      type: object
      description: An address saved on an account, i.e. a physical address plus any additional account-specific metadata.
      allOf:
        - $ref: '#/components/schemas/address'
        - type: object
          properties:
            phone:
              type: string
              format: phone
              description: The phone number associated with this address.
              example: '+14155550199'
              x-oapi-codegen-extra-tags:
                validate: phone=strict
            is_default:
              type: boolean
              description: Whether or not this is the default address saved.
              example: true
    address-reference:
      oneOf:
        - $ref: '#/components/schemas/address-reference-id'
        - $ref: '#/components/schemas/address-reference-explicit'
      discriminator:
        propertyName: .tag
        mapping:
          id: '#/components/schemas/address-reference-id'
          explicit: '#/components/schemas/address-reference-explicit'
    address-reference-explicit:
      allOf:
        - type: object
          required: [.tag]
          properties:
            .tag:
              type: string
              enum: [explicit]
              description: The type of address reference
              example: explicit
        - $ref: '#/components/schemas/address'
    address-reference-id:
      type: object
      required: [.tag, id]
      properties:
        .tag:
          type: string
          enum: [id]
          description: The type of address reference
          example: id
        id:
          type: string
          format: id
          description: The address's ID
          example: D4g3h5tBuVYK9
    address-error:
      type: object
      required: [.tag, message]
      properties:
        .tag:
          type: string
          enum:
            - invalid_region
            - invalid_postal_code
            - missing_input_parameter
            - invalid_input_parameter
          description: The type of error returned
          example: invalid_region
        message:
          type: string
          description: |
            A human-readable error message, which might include information specific to
            the request that was made.
          example: region value BC is not valid for country_code value US
    address_change:
      type: object
      properties:
        ticket_id:
          $ref: '#/components/schemas/address_change_ticket_id'
        from_address:
          $ref: '#/components/schemas/consumer_billing_address'
        to_address:
          $ref: '#/components/schemas/consumer_billing_address'
        status:
          $ref: '#/components/schemas/address_change_status'
        timestamp:
          $ref: '#/components/schemas/address_change_timestamp'
    1005_invalid_merchant_key:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/1005_code'
        message:
          $ref: '#/components/schemas/1005_message'
    capture:
      type: object
      description: Deprecated. Use `captures`.
      required:
        - id
        - status
        - amount
      properties:
        id:
          $ref: '#/components/schemas/capture_id'
        status:
          $ref: '#/components/schemas/capture_status'
        amount:
          $ref: '#/components/schemas/amounts'
        splits:
          $ref: '#/components/schemas/splits'
    captures:
      type: array
      description: All captures associated with the transaction. **Nullable** for Transactions Details.
      items:
        $ref: '#/components/schemas/capture'
    capture_type:
      type: string
      description: The type of capture used for this transaction.
      enum:
        - manual
        - auto
    card_address:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/billing_address_id'
        street_address1:
          $ref: '#/components/schemas/street_address'
        locality:
          $ref: '#/components/schemas/locality'
        region:
          $ref: '#/components/schemas/region'
        postal_code:
          $ref: '#/components/schemas/postal_code'
        country_code:
          $ref: '#/components/schemas/country_code'
        country:
          $ref: '#/components/schemas/country'
        name:
          $ref: '#/components/schemas/name_person'
        first_name:
          $ref: '#/components/schemas/first_name'
        last_name:
          $ref: '#/components/schemas/last_name'
        company:
          $ref: '#/components/schemas/company'
        phone:
          $ref: '#/components/schemas/phone'
        email:
          $ref: '#/components/schemas/email'
    card_gift:
      type: object
      description: A gift card.
      properties:
        card_number:
          $ref: '#/components/schemas/card_number'
        pin:
          $ref: '#/components/schemas/pin'
    cards_gift:
      type: array
      description: A list of gift cards.
      items:
        $ref: '#/components/schemas/card_gift'
    cart:
      type: object
      properties:
        total_amount:
          $ref: '#/components/schemas/total_amount'
        items:
          $ref: '#/components/schemas/items'
        tax_amount:
          $ref: '#/components/schemas/tax_amount'
        billing_address_id:
          $ref: '#/components/schemas/billing_address_id'
        billing_address:
          $ref: '#/components/schemas/shipping_address'
        order_reference:
          $ref: '#/components/schemas/order_reference'
        display_id:
          $ref: '#/components/schemas/display_id'
        metadata:
          type: object
          additionalProperties:
            type: string
    addons_limit:
      type: integer
      format: int64
      description: The maximum number of add-ons for a product that should be returned. Any add-ons beyond the limit will be ignored.
      example: 3
    addons_cart:
      type: object
      required:
        - items
        - currency
        - total_amount
        - display_id
        - order_reference
      properties:
        items:
          $ref: '#/components/schemas/addons_cart_items'
        currency:
          $ref: '#/components/schemas/currency_iso'
        total_amount:
          $ref: '#/components/schemas/cart_total_amount'
        display_id:
          $ref: '#/components/schemas/display_id'
        order_reference:
          $ref: '#/components/schemas/order_reference'
        discounts:
          $ref: '#/components/schemas/addons_cart_discounts'
    addons_cart_items:
      type: array
      description: A list of cart items.
      items:
        $ref: '#/components/schemas/cart_item'
    cart_item:
      type: object
      required:
        - reference
        - name
        - total_amount
        - unit_price
        - quantity
        - sku
      properties:
        reference:
          $ref: '#/components/schemas/reference'
        name:
          $ref: '#/components/schemas/name_item'
        unit_price:
          $ref: '#/components/schemas/item_price'
        total_amount:
          $ref: '#/components/schemas/item_amount'
        quantity:
          $ref: '#/components/schemas/quantity'
        sku:
          $ref: '#/components/schemas/sku'
        description:
          $ref: '#/components/schemas/item_description'
    addons_cart_discounts:
      type: array
      description: A list of cart discounts. (optional)
      items:
        $ref: '#/components/schemas/discount'
    discount:
      type: object
      required:
        - amount
        - code
        - reference
      properties:
        amount:
          $ref: '#/components/schemas/discount_amount'
        code:
          $ref: '#/components/schemas/discount_code'
        reference:
          $ref: '#/components/schemas/discount_reference'
        description:
          $ref: '#/components/schemas/discount_description'
        discount_category:
          $ref: '#/components/schemas/discount_category'
        type:
          $ref: '#/components/schemas/discount_type'
    item_price:
      type: integer
      format: int64
      description: Price per unit in cents.
      example: 5000
    cart_addons:
      type: array
      items:
        $ref: '#/components/schemas/addons'
    addons:
      type: object
      required:
        - name
        - description
        - reference
        - image_url
        - amount
        - currency
      properties:
        name:
          $ref: '#/components/schemas/name_item'
        description:
          $ref: '#/components/schemas/item_description'
        reference:
          $ref: '#/components/schemas/reference'
        image_url:
          $ref: '#/components/schemas/image_url'
        amount:
          $ref: '#/components/schemas/item_amount'
        currency:
          $ref: '#/components/schemas/currency_iso'
        product_page_url:
          $ref: '#/components/schemas/pdp_url'
    pdp_url:
      type: string
      description: The full product page url.
    cart_total_amount:
      type: integer
      format: int64
      description: Cart total amount.
      example: 13000
    discount_amount:
      type: integer
      format: int64
      description: Discount amount.
      example: 2000
    item_amount:
      type: integer
      format: int64
      description: Item total amount.
      example: 15000
    cart_discounts:
      type: object
      properties:
        order_reference:
          $ref: '#/components/schemas/order_reference'
        display_id:
          $ref: '#/components/schemas/display_id'
        currency:
          $ref: '#/components/schemas/currency'
        subtotal_amount:
          $ref: '#/components/schemas/amounts'
        total_amount:
          $ref: '#/components/schemas/amounts'
        tax_amount:
          $ref: '#/components/schemas/amounts'
        shipping_amount:
          $ref: '#/components/schemas/amounts'
        discount_amount:
          $ref: '#/components/schemas/amounts'
        billing_address:
          $ref: '#/components/schemas/shipping_address'
        items:
          $ref: '#/components/schemas/items'
        shipments:
          $ref: '#/components/schemas/cart_shipments'
        discounts:
          $ref: '#/components/schemas/discount_codes'
    cart_limited:
      type: object
      description: Limited cart view.
      properties:
        order_reference:
          $ref: '#/components/schemas/order_reference'
        display_id:
          $ref: '#/components/schemas/display_id'
        billing_address:
          $ref: '#/components/schemas/shipping_address'
        shipments:
          $ref: '#/components/schemas/cart_shipment'
    cart_publisher:
      type: object
      properties:
        Items:
          $ref: '#/components/schemas/publisher_items'
    cart_order:
      type: object
      required:
        - currency
        - subtotal_amount
        - total_amount
      properties:
        order_description:
          type: string
          example: string
        order_reference:
          $ref: '#/components/schemas/order_reference'
        display_id:
          $ref: '#/components/schemas/display_id'
        transaction_reference:
          $ref: '#/components/schemas/transaction_reference'
        cart_url:
          $ref: '#/components/schemas/cart_url'
        merchant_order_url:
          $ref: '#/components/schemas/order_url'
        currency:
          $ref: '#/components/schemas/currency'
        subtotal_amount:
          $ref: '#/components/schemas/amounts'
        total_amount:
          $ref: '#/components/schemas/amounts'
        tax_amount:
          $ref: '#/components/schemas/amounts'
        shipping_amount:
          $ref: '#/components/schemas/amounts'
        discount_amount:
          $ref: '#/components/schemas/amounts'
        billing_address:
          $ref: '#/components/schemas/consumer_billing_address'
        items:
          $ref: '#/components/schemas/items'
        shipments:
          $ref: '#/components/schemas/shipments2'
        in_store_shipments:
          $ref: '#/components/schemas/in_store_shipments'
        discounts:
          $ref: '#/components/schemas/discounts'
        metadata:
          $ref: '#/components/schemas/metadata_component'
    cart_order_generated:
      type: object
      properties:
        order_reference:
          $ref: '#/components/schemas/order_reference'
        display_id:
          $ref: '#/components/schemas/order_display_id'
        total_amount:
          $ref: '#/components/schemas/amounts'
        items:
          $ref: '#/components/schemas/items'
        discounts:
          $ref: '#/components/schemas/discounts'
    cart_shipment:
      type: object
      description: A cart that is being prepared for shipment
      properties:
        shipping_address_id:
          $ref: '#/components/schemas/shipping_address_id'
        shipping_address:
          $ref: '#/components/schemas/shipping_address'
        total_weight:
          type: integer
          description: The total weight.
          example: 55
        shipping_method:
          $ref: '#/components/schemas/shipping_method'
        carrier:
          $ref: '#/components/schemas/carrier'
        service:
          $ref: '#/components/schemas/service'
        expedited:
          $ref: '#/components/schemas/expedited'
        cost:
          $ref: '#/components/schemas/cost'
        tax_amount:
          $ref: '#/components/schemas/tax_amount'
        package_type:
          $ref: '#/components/schemas/package_type'
        package_width:
          $ref: '#/components/schemas/width'
        package_height:
          $ref: '#/components/schemas/height'
        package_depth:
          $ref: '#/components/schemas/depth'
        package_dimension_unit:
          $ref: '#/components/schemas/dimension_unit'
        tax_code:
          $ref: '#/components/schemas/tax_code'
        estimated_delivery_date:
          $ref: '#/components/schemas/estimated_delivery_date'
        type:
          $ref: '#/components/schemas/package_type'
        discount_by_membership:
          $ref: '#/components/schemas/discount_membership'
    cart_shipments:
      type: array
      description: A list of shipments.
      items:
        $ref: '#/components/schemas/cart_shipment'
    cart_shipment_combined:
      type: object
      description: A cart that is being prepared for shipment
      properties:
        items:
          $ref: '#/components/schemas/items'
        currency:
          $ref: '#/components/schemas/currency_iso'
        total_amount:
          $ref: '#/components/schemas/total_amount'
        display_id:
          $ref: '#/components/schemas/display_id'
        order_reference:
          $ref: '#/components/schemas/order_reference'
        metadata:
          $ref: '#/components/schemas/metadata_component'
    cart_transaction_authorize:
      type: object
      properties:
        order_reference:
          $ref: '#/components/schemas/order_reference'
        items:
          $ref: '#/components/schemas/items'
        discounts:
          $ref: '#/components/schemas/discounts_transaction_authorize'
        billing_address:
          $ref: '#/components/schemas/consumer_billing_address'
        shipments:
          $ref: '#/components/schemas/shipments2'
        tax_amount:
          $ref: '#/components/schemas/amount'
        total_amount:
          $ref: '#/components/schemas/amount'
        currency:
          $ref: '#/components/schemas/currency_iso'
    cart_transaction_recharge:
      type: object
      properties:
        order_reference:
          $ref: '#/components/schemas/order_reference'
        total_amount:
          $ref: '#/components/schemas/amount'
        currency:
          $ref: '#/components/schemas/currency_iso'
    chargeback_details:
      type: object
      properties:
        reason:
          $ref: '#/components/schemas/chargeback_reason'
        reason_code:
          $ref: '#/components/schemas/chargeback_reason_code'
        chargeback_amt:
          $ref: '#/components/schemas/amounts'
        chargeback_fee:
          $ref: '#/components/schemas/amounts'
        net_amt:
          $ref: '#/components/schemas/amounts'
        amt_won:
          $ref: '#/components/schemas/amounts'
        representment_result:
          $ref: '#/components/schemas/chargeback_representment_result'
        representment_reply_by_date:
          $ref: '#/components/schemas/chargeback_representment_reply_by_date'
        chargeback_id:
          $ref: '#/components/schemas/chargeback_id'
        event_views:
          type: array
          items:
            $ref: '#/components/schemas/chargeback_event_view'
    chargeback_event_view:
      type: object
      description: A single chargeback event.
      properties:
        content:
          $ref: '#/components/schemas/chargeback_event_content'
        time:
          $ref: '#/components/schemas/chargeback_event_time'
    collections:
      type: array
      items:
        $ref: '#/components/schemas/collection'
    consumer_billing_address:
      type: object
      required:
        - street_address1
        - locality
        - region
        - postal_code
      properties:
        id:
          $ref: '#/components/schemas/billing_address_id'
        street_address1:
          $ref: '#/components/schemas/street_address'
        street_address2:
          $ref: '#/components/schemas/street_address'
        street_address3:
          $ref: '#/components/schemas/street_address'
        street_address4:
          $ref: '#/components/schemas/street_address'
        locality:
          $ref: '#/components/schemas/locality'
        region:
          $ref: '#/components/schemas/region'
        postal_code:
          $ref: '#/components/schemas/postal_code'
        country_code:
          $ref: '#/components/schemas/country_code'
        country:
          $ref: '#/components/schemas/country'
        name:
          $ref: '#/components/schemas/name_person'
        first_name:
          $ref: '#/components/schemas/first_name'
        last_name:
          $ref: '#/components/schemas/last_name'
        company:
          $ref: '#/components/schemas/company'
        phone_number:
          $ref: '#/components/schemas/phone'
        email_address:
          $ref: '#/components/schemas/email'
    consumer_user_membership:
      type: object
      description: |
        **Nullable** for Transactions Details.
      required:
        - status
      properties:
        status:
          $ref: '#/components/schemas/consumer_membership_status'
    credit:
      type: object
      properties:
        status:
          type: string
          example: succeeded
    credit-card:
      required: [network, bin, last4, expiration, token]
      type: object
      properties:
        network:
          type: string
          description: The credit card's network.
          enum: [visa, mastercard, amex, discover, jcb, unionpay, alliancedata, citiplcc]
          example: visa
        bin:
          type: string
          description: The Bank Identification Number (BIN). This is typically the first 4 to 6 digits of the account number.
          writeOnly: true
          pattern: '^\d+$'
          example: '411111'
        last4:
          type: string
          description: The account number's last four digits.
          pattern: '^\d{4}$'
          example: '1004'
        expiration:
          type: string
          description: The expiration date, in YYYY-MM format.
          pattern: '^\d{4}-\d{2}$'
          example: '2029-03'
        token:
          type: string
          description: The Bolt token associated with the credit card.
          writeOnly: true
          example: 'a1B2c3D4e5F6G7H8i9J0k1L2m3N4o5P6Q7r8S9t0'
    test-credit-card:
      required: [network, bin, last4, expiration, token]
      type: object
      properties:
        network:
          type: string
          description: The credit card's network.
          enum: [visa, mastercard, amex, discover, jcb, unionpay, alliancedata, citiplcc]
          example: visa
        bin:
          type: string
          description: The Bank Identification Number (BIN). This is typically the first 4 to 6 digits of the account number.
          pattern: '^\d+$'
          example: '411111'
        last4:
          type: string
          description: The account number's last four digits.
          pattern: '^\d{4}$'
          example: '1004'
        expiration:
          type: string
          format: date-time
          description: The token's expiration date. Tokens used past their expiration will be rejected.
          example: 2023-10-31:T06:00:00Z
        token:
          type: string
          description: The Bolt token associated with the credit card.
          example: 'a1B2c3D4e5F6G7H8i9J0k1L2m3N4o5P6Q7r8S9t0'
    credit-card-error:
      type: object
      required: [.tag, message]
      properties:
        .tag:
          type: string
          enum:
            - declined_invalid_amount
            - declined_invalid_cvv
            - declined_invalid_number
            - declined_expired
            - declined_call_issuer
          description: The type of error returned
          example: declined_invalid_cvv
        message:
          type: string
          description: |
            A human-readable error message, which might include information specific to
            the request that was made.
          example: The payment was declined because the CVV is not valid
    credit_card:
      type: object
      description: A credit card.
      properties:
        id:
          $ref: '#/components/schemas/card_id'
        last4:
          $ref: '#/components/schemas/card_last4'
        bin:
          $ref: '#/components/schemas/card_bin'
        expiration:
          $ref: '#/components/schemas/card_expiration'
        display_network:
          $ref: '#/components/schemas/card_network'
        token_type:
          $ref: '#/components/schemas/card_token_type'
        priority:
          $ref: '#/components/schemas/card_priority'
        status:
          $ref: '#/components/schemas/card_status'
    credit_card_user:
      type: object
      description: The credit card user.
      properties:
        id:
          $ref: '#/components/schemas/consumer_id'
        first_name:
          $ref: '#/components/schemas/first_name'
        last_name:
          $ref: '#/components/schemas/last_name'
        phones:
          $ref: '#/components/schemas/phones_with_country_code'
        emails:
          $ref: '#/components/schemas/emails'
    customer_list_status:
      type: object
      properties:
        auto_approved:
          $ref: '#/components/schemas/auto_approved'
        block_listed:
          $ref: '#/components/schemas/block_listed'
    custom_fields:
      type: object
      properties:
        external_id:
          type: string
          description: The external ID for the custom field.
          example: '123456'
        public_id:
          type: string
          description: The internal ID for the custom field.
          example: i-123456
        label:
          type: string
          description: 'The displayed label for the custom field, seen by the shopper.'
          example: Special Field
        field_setup:
          type: string
          example: string
        checkout_setup:
          type: string
          enum:
            - shipping_step
            - delivery_step
            - payment_step
            - account_registration_sso
          example: string
        position:
          type: integer
          example: 1
        required:
          type: boolean
          description: Defines if the field must be completed to check out.
          example: true
        dynamic:
          type: boolean
          description: Defines whether the field is dynamic.
          example: false
        subscribe_to_newsletter:
          type: boolean
          description: Defines whether the shopper is opted into a newsletter or not.
          example: false
    custom_fields2:
      type: array
      items:
        $ref: '#/components/schemas/custom_fields'
    data_error:
      type: object
      description: 'The JSON object with string key, and value any JSON object.'
      properties:
        reason:
          $ref: '#/components/schemas/reason'
    discounts:
      type: array
      description: A list of discounts.
      items:
        type: object
        properties:
          amount:
            $ref: '#/components/schemas/amounts'
          code:
            $ref: '#/components/schemas/discount_code'
          reference:
            $ref: '#/components/schemas/discount_code'
          description:
            $ref: '#/components/schemas/discount_description'
          details_url:
            $ref: '#/components/schemas/discount_uri'
          free_shipping:
            $ref: '#/components/schemas/discount_free_shipping'
          discount_category:
            $ref: '#/components/schemas/discount_category'
    discount_codes:
      type: array
      description: A list of discount codes.
      items:
        $ref: '#/components/schemas/discount_code'
    discount_currency:
      $ref: '#/components/schemas/discount_codes'
    discount_free_shipping:
      type: object
      description: Contains free shipping settings and limitations.
      properties:
        is_free_shipping:
          $ref: '#/components/schemas/is_free_shipping'
        maximum_cost_allowed:
          $ref: '#/components/schemas/maximum_cost_allowed'
    discounts_order_generate:
      type: array
      description: A list of discounts.
      items:
        type: object
        properties:
          amount:
            $ref: '#/components/schemas/amount'
          code:
            $ref: '#/components/schemas/discount_code'
          reference:
            $ref: '#/components/schemas/discount_code'
          description:
            $ref: '#/components/schemas/discount_description'
          details_url:
            $ref: '#/components/schemas/discount_uri'
          free_shipping:
            $ref: '#/components/schemas/discount_free_shipping'
          discount_category:
            $ref: '#/components/schemas/discount_category'
    discounts_transaction_authorize:
      type: array
      description: A list of discounts.
      items:
        type: object
        properties:
          amount:
            $ref: '#/components/schemas/amount'
          code:
            $ref: '#/components/schemas/discount_code'
          reference:
            $ref: '#/components/schemas/discount_code'
          description:
            $ref: '#/components/schemas/discount_description'
          details_url:
            $ref: '#/components/schemas/discount_uri'
          free_shipping:
            $ref: '#/components/schemas/discount_free_shipping'
          discount_category:
            $ref: '#/components/schemas/discount_category'
    emails:
      type: array
      description: A list of email addresses. **Nullable** for Transactions Details.
      items:
        type: object
        description: An object of user email.
        properties:
          id:
            $ref: '#/components/schemas/email_id'
          address:
            $ref: '#/components/schemas/email'
          status:
            $ref: '#/components/schemas/email_status'
          priority:
            $ref: '#/components/schemas/email_priority'
    error:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/code'
        data:
            $ref: '#/components/schemas/reasons'
    errors:
      type: array
      items:
        $ref: '#/components/schemas/error'
    error_base_response:
      type: object
      properties:
        event:
          $ref: '#/components/schemas/event'
        status:
          type: string
          enum:
            - failure
        error:
          $ref: '#/components/schemas/error'
    errors_base_response:
      type: object
      properties:
        event:
          $ref: '#/components/schemas/event'
        status:
          type: string
          enum:
            - failure
        errors:
          type: array
          items:
            $ref: '#/components/schemas/error'
    error_bolt_api:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/code'
        message:
          $ref: '#/components/schemas/message'
    errors_bolt_api_response:
      type: object
      properties:
        result:
          $ref: '#/components/schemas/request_result'
        errors:
          $ref: '#/components/schemas/errors_bolt_api'
    errors_bolt_api:
      type: array
      items:
        $ref: '#/components/schemas/error_bolt_api'
    external_data:
      type: object
      description: 'For Shopify users only; otherwise, is empty.'
      properties:
        shopify:
          $ref: '#/components/schemas/shopify'
    from_consumer:
      type: object
      description: The credit card user. **Nullable** for Transactions Details.
      required:
        - id
        - emails
        - email_verified
        - user_membership
      properties:
        id:
          $ref: '#/components/schemas/consumer_id'
        first_name:
          $ref: '#/components/schemas/first_name'
        last_name:
          $ref: '#/components/schemas/last_name'
        phones:
          $ref: '#/components/schemas/phones_with_country_code'
        emails:
          $ref: '#/components/schemas/emails'
        email_verified:
          $ref: '#/components/schemas/consumer_email_verified'
        user_membership:
          $ref: '#/components/schemas/consumer_user_membership'
        platform_account_status:
          $ref: '#/components/schemas/consumer_platform_account_status'
    from_credit_card:
      type: object
      description: A credit card.
      required:
        - id
        - last4
        - bin
        - expiration
        - network
        - token_type
        - priority
        - display_network
        - icon_asset_path
        - status
      properties:
        id:
          $ref: '#/components/schemas/card_id'
        last4:
          $ref: '#/components/schemas/card_last4'
        bin:
          $ref: '#/components/schemas/card_bin'
        expiration:
          $ref: '#/components/schemas/card_expiration'
        network:
          $ref: '#/components/schemas/card_network'
        token_type:
          $ref: '#/components/schemas/card_token_type'
        priority:
          $ref: '#/components/schemas/card_priority'
        display_network:
          $ref: '#/components/schemas/card_network'
        icon_asset_path:
          $ref: '#/components/schemas/icon_asset_path'
        status:
          $ref: '#/components/schemas/card_status'
        billing_address:
          $ref: '#/components/schemas/consumer_billing_address'
    gift_option_view:
      type: object
      description: Defines which gift options are hidden.
      properties:
        hide_gift_wrap:
          type: boolean
          example: false
        hide_gift_message:
          type: boolean
          example: false
    gift_options:
      type: object
      description: Contains the gift option settings for wrapping and custom messages.
      required:
        - wrap
        - merchant_product_id
      properties:
        wrap:
          $ref: '#/components/schemas/gift_options_wrap'
        message:
          $ref: '#/components/schemas/gift_options_message'
        cost:
          $ref: '#/components/schemas/gift_options_cost'
        merchant_product_id:
          $ref: '#/components/schemas/merchant_product_id'
    hide_apms:
      type: array
      items:
        $ref: '#/components/schemas/hide_apm'
    in_store_shipment:
      type: object
      description: A cart that is being prepared for shipment
      properties:
        id:
          $ref: '#/components/schemas/shipping_address_id'
        shipping_address:
          $ref: '#/components/schemas/consumer_billing_address'
        total_weight:
          $ref: '#/components/schemas/total_weight'
        shipping_method:
          $ref: '#/components/schemas/shipping_method'
        carrier:
          $ref: '#/components/schemas/carrier'
        service:
          $ref: '#/components/schemas/service'
        expedited:
          $ref: '#/components/schemas/expedited'
        cost:
          $ref: '#/components/schemas/amounts'
        tax_amount:
          $ref: '#/components/schemas/amounts'
        reference:
          $ref: '#/components/schemas/reference'
        signature:
          $ref: '#/components/schemas/signature'
        package_type:
          $ref: '#/components/schemas/package_type'
        package_dimension:
          $ref: '#/components/schemas/package_dimension'
        package_weights:
          $ref: '#/components/schemas/package_weights'
        default:
          $ref: '#/components/schemas/default'
        estimated_delivery_date:
          $ref: '#/components/schemas/estimated_delivery_date'
        gift_options:
          $ref: '#/components/schemas/gift_options'
    in_store_shipment2:
      type: object
      description: A cart that is being prepared for shipment
      properties:
        shipment:
          $ref: '#/components/schemas/in_store_shipment'
        address:
          $ref: '#/components/schemas/consumer_billing_address'
        distance:
          type: integer
          example: 1.2
        distance_unit:
          type: string
          example: miles
        store_name:
          type: string
          example: My Store
    in_store_shipments:
      type: array
      items:
        $ref: '#/components/schemas/in_store_shipment2'
    item:
      type: object
      description: An item with properties.
      required:
        - reference
        - name
        - total_amount
        - unit_price
        - quantity
      properties:
        reference:
          $ref: '#/components/schemas/reference'
        name:
          $ref: '#/components/schemas/name_item'
        description:
          $ref: '#/components/schemas/item_description'
        options:
          $ref: '#/components/schemas/options'
        total_amount:
          $ref: '#/components/schemas/total_amount'
        unit_price:
          $ref: '#/components/schemas/unit_price'
        tax_amount:
          $ref: '#/components/schemas/amounts'
        quantity:
          $ref: '#/components/schemas/quantity'
        uom:
          type: string
          example: string
        upc:
          type: string
          example: string
        sku:
          $ref: '#/components/schemas/sku'
        isbn:
          $ref: '#/components/schemas/isbn'
        brand:
          $ref: '#/components/schemas/brand'
        manufacturer:
          $ref: '#/components/schemas/manufacturer'
        category:
          $ref: '#/components/schemas/category'
        collections:
          $ref: '#/components/schemas/collections'
        tags:
          $ref: '#/components/schemas/tag'
        color:
          $ref: '#/components/schemas/color'
        size:
          $ref: '#/components/schemas/size'
        weight:
          $ref: '#/components/schemas/total_weight'
        image_url:
          $ref: '#/components/schemas/image_url'
        details_url:
          type: string
          description: The URL for the item's details.
          example: 'https://boltswagstore.com/inventory/hats/red-hat.png'
        type:
          $ref: '#/components/schemas/type'
        taxable:
          $ref: '#/components/schemas/taxable'
        properties:
          $ref: '#/components/schemas/item_properties'
        item_group:
          $ref: '#/components/schemas/item_group'
        shipment_type:
          $ref: '#/components/schemas/item_shipment_type'
        customizations:
          type: array
          items:
            type: object
            required:
              - name
              - price
              - attributes
            properties:
              name:
                $ref: '#/components/schemas/customizations_name'
              price:
                $ref: '#/components/schemas/amounts'
              attributes:
                $ref: '#/components/schemas/metadata_component'
        bolt_product_id:
          $ref: '#/components/schemas/bolt_product_id'
        gift_options:
          $ref: '#/components/schemas/gift_options'
    items:
      type: array
      description: A list of items.
      items:
        $ref: '#/components/schemas/item'
    item_add:
      type: object
      properties:
        product_id:
          $ref: '#/components/schemas/product_id'
        price:
          $ref: '#/components/schemas/price'
        currency:
          $ref: '#/components/schemas/currency_iso'
        quantity:
          $ref: '#/components/schemas/quantity'
    items_add:
      type: array
      description: A list of items to add to the cart.
      items:
        $ref: '#/components/schemas/item_add'
    item_property:
      type: object
      properties:
        name:
          type: string
          example: a-name
        value:
          type: string
          example: a-value
    item_properties:
      type: array
      items:
        $ref: '#/components/schemas/item_property'
    item_remove:
      type: object
      properties:
        product_id:
          $ref: '#/components/schemas/product_id'
        quantity:
          $ref: '#/components/schemas/quantity'
    items_remove:
      type: array
      description: A list of items to remove from the cart.
      items:
        $ref: '#/components/schemas/item_remove'
    manual_disputes:
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/amount'
        currency:
          $ref: '#/components/schemas/currency_iso'
        reason:
          type: string
          example: string
        dispute_evidence:
          type: string
          example: Dispute Evidence
        dispute_link:
          type: string
          example: 'https://mystore.com/receipts/234563245'
        delivery_evidence:
          type: string
          example: Delivery Evidence
        delivery_link:
          type: string
          example: 'https://mystore.com/delivery/234563245'
        other_evidence:
          type: string
          example: Other Evidence
        other_link:
          type: string
          example: 'https://mystore.com/other/234563245'
        status:
          type: string
          enum:
            - pending
            - approved
            - denied
          example: pending
    manual_disputes_array:
      type: array
      items:
        $ref: '#/components/schemas/manual_disputes'
    media_audios:
      type: array
      description: List of URLs
      items:
        $ref: '#/components/schemas/product_media_audio'
    media_videos:
      type: array
      description: List of URLs
      items:
        $ref: '#/components/schemas/product_media_video'
    media_urls:
      type: array
      description: List of URLs
      items:
        $ref: '#/components/schemas/product_media_url'
    merchant_division:
      type: object
      required:
        - merchant_id
        - description
        - is_universal_merchant_api
        - is_webhooks_v2
        - shipping_url
        - tax_url
      properties:
        id:
          $ref: '#/components/schemas/merchant_division_id'
        merchant_id:
          $ref: '#/components/schemas/merchant_id'
        public_id:
          $ref: '#/components/schemas/merchant_division_public_id'
        description:
          $ref: '#/components/schemas/merchant_division_description'
        logo:
          $ref: '#/components/schemas/merchant_logo'
        platform:
          $ref: '#/components/schemas/merchant_platform'
        hook_url:
          $ref: '#/components/schemas/merchant_hook_url'
        hook_type:
          $ref: '#/components/schemas/webhooks_type'
        is_universal_merchant_api:
          type: boolean
          description: Defines whether or not the Universal API method is in use. **Nullable** for Transactions Details.
          example: true
        is_webhooks_v2:
          type: boolean
          description: Defines whether or not the second version of Bolt's webhooks is in use. **Nullable** for Transactions Details.
          example: true
        shipping_and_tax_url:
          type: string
          description: The endpoint URL provided by the merchant to Bolt for shipping and tax calculations.
          example: 'https://mystore.com/api/v1/shipping_and_tax'
        shipping_url:
          type: string
          description: The endpoint URL provided by the merchant to Bolt for shipping calculations. **Nullable** for Transactions Details.
          example: 'https://mystore.com/api/v1/shipping'
        tax_url:
          type: string
          description: The endpoint URL provided by the merchant to Bolt for tax calculations. **Nullable** for Transactions Details.
          example: 'https://mystore.com/api/v1/tax'
        create_order_url:
          type: string
          description: The endpoint URL provided by the merchant to Bolt to create orders. **Nullable** for Transactions Details.
          example: 'https://mystore.com/api/v1/create_order'
        universal_merchant_api_url:
          $ref: '#/components/schemas/merchant_universal_merchant_api_url'
        debug_url:
          $ref: '#/components/schemas/merchant_debug_url'
        update_cart_url:
          type: string
          description: The endpoint URL provided by the merchant to Bolt to pass cart updates.
          example: 'https://mystore.com/api/v1/cart_update'
        account_page_url:
          $ref: '#/components/schemas/merchant_account_page_url'
        oauth_redirect_url:
          $ref: '#/components/schemas/merchant_oauth_redirect_url'
        oauth_logout_url:
          $ref: '#/components/schemas/merchant_oauth_logout_url'
        get_account_url:
          $ref: '#/components/schemas/merchant_get_account_url'
        validate_additional_account_data_url:
          $ref: '#/components/schemas/merchant_validate_additional_account_data_url'
        terms_of_service_url:
          $ref: '#/components/schemas/merchant_terms_of_service_url'
        privacy_policy_url:
          $ref: '#/components/schemas/merchant_privacy_policy_url'
        plugin_config_url:
          $ref: '#/components/schemas/merchant_plugin_config_url'
        product_info_url:
          $ref: '#/components/schemas/merchant_product_info_url'
    merchant_logo:
      type: object
      properties:
        domain:
          $ref: '#/components/schemas/merchant_division_domain'
        resource:
          $ref: '#/components/schemas/merchant_division_logo'
    metadata_component:
      type: object
      properties:
        key1:
          type: string
          example: value1
        key2:
          type: string
          example: value2
    order:
      type: object
      properties:
        token:
          $ref: '#/components/schemas/order_token'
        cart:
          $ref: '#/components/schemas/cart_order'
        user_note:
          $ref: '#/components/schemas/user_note'
        external_data:
          $ref: '#/components/schemas/external_data'
        dynamic_content:
          type: object
          description: Contains all dynamic content fields.
          properties:
            shipping_info_notice:
              type: string
              example: A Notice Message
            payment_notice:
              type: string
              example: A Notice Message
            shipping_notice:
              type: string
              example: A Notice Message
            order_notice:
              type: string
              example: A Notice Message
            custom_fields:
              $ref: '#/components/schemas/custom_fields2'
            hide_apm:
              $ref: '#/components/schemas/hide_apms'
            gift_option_view:
              $ref: '#/components/schemas/gift_option_view'
    order_create:
      type: object
      properties:
        cart:
          $ref: '#/components/schemas/order_create_cart'
    order_create_cart:
      type: object
      required:
        - currency
      properties:
        total_amount:
          $ref: '#/components/schemas/total_amount'
        items:
          $ref: '#/components/schemas/items'
        discounts:
          $ref: '#/components/schemas/discounts'
        order_reference:
          $ref: '#/components/schemas/order_reference'
        display_id:
          $ref: '#/components/schemas/display_id'
        cart_url:
          $ref: '#/components/schemas/cart_url'
        currency:
          $ref: '#/components/schemas/currency_iso'
        metadata:
          type: array
          items:
            type: object
            properties:
              key1:
                type: string
                example: value 1
    order_decision:
      type: object
      description: Decision and score for an order.
      properties:
        score:
          $ref: '#/components/schemas/order_decision_score'
        decision_factors:
          $ref: '#/components/schemas/risk_decision_factors'
    order_generate_cart:
      type: object
      description: The cart associated to the order token.
      properties:
        order_reference:
          $ref: '#/components/schemas/order_reference'
        cart_url:
          $ref: '#/components/schemas/cart_url'
        total_amount:
          $ref: '#/components/schemas/amount'
        currency:
          $ref: '#/components/schemas/currency_iso'
        items:
          $ref: '#/components/schemas/items'
        discounts:
          $ref: '#/components/schemas/discounts_order_generate'
        metadata:
          $ref: '#/components/schemas/metadata_component'
    order_webhook:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/order_status_type'
        metadata:
          $ref: '#/components/schemas/publisher_order_metadata'
        cart:
          type: object
          properties:
            order_reference:
              $ref: '#/components/schemas/order_reference'
            display_id:
              $ref: '#/components/schemas/display_id'
            total_amount:
              $ref: '#/components/schemas/amounts'
            tax_amount:
              $ref: '#/components/schemas/amounts'
            items:
              $ref: '#/components/schemas/order_publisher_items'
            shipments:
              $ref: '#/components/schemas/order_publisher_cart_shipments'
            metadata:
              type: object
              properties:
                immutable_quote_id:
                  type: integer
                  description: The immutable quote ID.
                  example: '377'
            subtotal_amount:
              $ref: '#/components/schemas/amounts'
            shipping_amount:
              $ref: '#/components/schemas/amounts'
            discount_amount:
              $ref: '#/components/schemas/amounts'
    order_publisher_items:
      type: array
      description: A list of items.
      items:
        $ref: '#/components/schemas/order_publisher_item'
    order_publisher_item:
      type: object
      description: An item with properties.
      properties:
        bolt_product_id:
          $ref: '#/components/schemas/bolt_product_id'
        reference:
          $ref: '#/components/schemas/reference'
        name:
          $ref: '#/components/schemas/name_item'
        total_amount:
          $ref: '#/components/schemas/amounts'
        unit_price:
          $ref: '#/components/schemas/amounts'
        quantity:
          $ref: '#/components/schemas/quantity'
        sku:
          $ref: '#/components/schemas/sku'
        properties:
          $ref: '#/components/schemas/properties'
        image_url:
          $ref: '#/components/schemas/image_url'
        taxable:
          $ref: '#/components/schemas/taxable'
        type:
          $ref: '#/components/schemas/type'
        description:
          $ref: '#/components/schemas/description'
    order_publisher_cart_shipment:
      type: object
      description: A cart that is being prepared for shipment
      properties:
        shipping_address:
          $ref: '#/components/schemas/shipping_address'
        shipping_method:
          $ref: '#/components/schemas/shipping_method'
        reference:
          $ref: '#/components/schemas/reference'
        service:
          $ref: '#/components/schemas/service'
        cost:
          $ref: '#/components/schemas/cost'
        tax_amount:
          $ref: '#/components/schemas/amounts'
    order_publisher_cart_shipments:
      type: array
      description: A list of shipments.
      items:
        $ref: '#/components/schemas/order_publisher_cart_shipment'
    order_publisher_cart_order_shipping_address:
      $ref: '#/components/schemas/order_publisher_cart_shipments'
    package_dimension:
      type: object
      description: 'Contains the package''s width, eight, depth, and unit details.'
      properties:
        width:
          $ref: '#/components/schemas/width'
        height:
          $ref: '#/components/schemas/height'
        depth:
          $ref: '#/components/schemas/depth'
        unit:
          $ref: '#/components/schemas/dimension_unit'
    package_weights:
      type: object
      properties:
        weight:
          $ref: '#/components/schemas/weight'
        unit:
          $ref: '#/components/schemas/weight_unit'
    payment-method:
      oneOf:
        - $ref: '#/components/schemas/payment-method-credit-card'
        - $ref: '#/components/schemas/payment-method-paypal'
        - $ref: '#/components/schemas/payment-method-affirm'
        - $ref: '#/components/schemas/payment-method-afterpay'
        - $ref: '#/components/schemas/payment-method-klarna'
        - $ref: '#/components/schemas/payment-method-klarna-account'
        - $ref: '#/components/schemas/payment-method-klarna-paynow'
      discriminator:
        propertyName: .tag
        mapping:
          credit_card: '#/components/schemas/payment-method-credit-card'
          paypal: '#/components/schemas/payment-method-paypal'
          affirm: '#/components/schemas/payment-method-affirm'
          afterpay: '#/components/schemas/payment-method-afterpay'
          klarna: '#/components/schemas/payment-method-klarna'
          klarna_account: '#/components/schemas/payment-method-klarna-account'
          klarna_paynow: '#/components/schemas/payment-method-klarna-paynow'
    payment-method-extended:
      oneOf:
        - $ref: '#/components/schemas/payment-method-reference'
        - $ref: '#/components/schemas/payment-method-credit-card'
        - $ref: '#/components/schemas/payment-method-paypal'
        - $ref: '#/components/schemas/payment-method-affirm'
        - $ref: '#/components/schemas/payment-method-afterpay'
        - $ref: '#/components/schemas/payment-method-klarna'
        - $ref: '#/components/schemas/payment-method-klarna-account'
        - $ref: '#/components/schemas/payment-method-klarna-paynow'
      discriminator:
        propertyName: .tag
        mapping:
          id: '#/components/schemas/payment-method-reference'
          credit_card: '#/components/schemas/payment-method-credit-card'
          paypal: '#/components/schemas/payment-method-paypal'
          affirm: '#/components/schemas/payment-method-affirm'
          afterpay: '#/components/schemas/payment-method-afterpay'
          klarna: '#/components/schemas/payment-method-klarna'
          klarna_account: '#/components/schemas/payment-method-klarna-account'
          klarna_paynow: '#/components/schemas/payment-method-klarna-paynow'
    payment-method-credit-card:
      allOf:
        - type: object
          required: [.tag, type, billing_address]
          properties:
            .tag:
              type: string
              enum: [credit_card]
              example: credit_card
            id:
              type: string
              format: id
              readOnly: true
              example: X5h6j8uLpVGK
            billing_address:
              $ref: '#/components/schemas/address-reference'
        - $ref: '#/components/schemas/credit-card'
    payment-method-paypal:
      type: object
      required: [.tag, success, cancel]
      properties:
        .tag:
          type: string
          enum: [paypal]
          example: paypal
        success_url:
          type: string
          description: Redirect URL for successful PayPal transaction.
          format: uri
          writeOnly: true
          example: www.example.com/handle_paypal_success
        cancel_url:
          type: string
          description: Redirect URL for canceled PayPal transaction.
          format: uri
          writeOnly: true
          example: www.example.com/handle_paypal_cancel
    payment-method-affirm:
      type: object
      required: [.tag, return_url]
      properties:
        .tag:
          type: string
          enum: [affirm]
          example: affirm
        return_url:
          type: string
          description: Return URL to return to after payment completion in Affirm.
          format: uri
          writeOnly: true
          example: www.example.com/handle_affirm_success
    payment-method-afterpay:
      type: object
      required: [.tag, return_url]
      properties:
        .tag:
          type: string
          enum: [afterpay]
          example: afterpay
        return_url:
          type: string
          description: Return URL to return to after payment completion in Afterpay.
          format: uri
          writeOnly: true
          example: www.example.com/handle_afterpay_success
    payment-method-klarna:
      type: object
      required: [.tag, return_url]
      properties:
        .tag:
          type: string
          enum: [klarna]
          example: klarna
        return_url:
          type: string
          description: Return URL to return to after payment completion in Klarna.
          format: uri
          writeOnly: true
          example: www.example.com/handle_klarna_success
    payment-method-klarna-account:
      type: object
      required: [.tag, return_url]
      properties:
        .tag:
          type: string
          enum: [klarna_account]
          example: klarna_account
        return_url:
          type: string
          description: Return URL to return to after payment completion in Klarna.
          format: uri
          writeOnly: true
          example: www.example.com/handle_klarna_account_success
    payment-method-klarna-paynow:
      type: object
      required: [.tag, return_url]
      properties:
        .tag:
          type: string
          enum: [klarna_paynow]
          example: klarna_paynow
        return_url:
          type: string
          description: Return URL to return to after payment completion in Klarna.
          format: uri
          writeOnly: true
          example: www.example.com/handle_klarna_paynow_success
    payment-method-reference:
      type: object
      required: [.tag, id]
      properties:
        .tag:
          type: string
          enum: [id]
          example: id
        id:
          type: string
          format: id
          description: Payment ID of the saved Bolt Payment method.
          example: X5h6j8uLpVGK
    payment_method:
      type: string
      description: The payment method used for this order.
      enum:
        - payment_card
        - paypal
        - afterpay
        - applepay
        - amazon_pay
        - alliance_data
        - affirm
        - klarna
        - radial_paypal
        - sezzle
    phones:
      type: array
      description: A list of phone numbers.
      items:
        $ref: '#/components/schemas/phones_with_country_code'
    phones_with_country_code:
      type: array
      description: A list of phone numbers.
      items:
        type: object
        description: A phone number with country code.
        properties:
          id:
            $ref: '#/components/schemas/phone_id'
          number:
            $ref: '#/components/schemas/phone'
          country_code:
            $ref: '#/components/schemas/phone_country_code'
          status:
            $ref: '#/components/schemas/phone_status'
          priority:
            $ref: '#/components/schemas/phone_priority'
    pickup_address:
      type: object
      properties:
        street_address1:
          $ref: '#/components/schemas/street_address'
        street_address2:
          $ref: '#/components/schemas/street_address'
        street_address3:
          $ref: '#/components/schemas/street_address'
        street_address4:
          $ref: '#/components/schemas/street_address'
        locality:
          $ref: '#/components/schemas/locality'
        region:
          $ref: '#/components/schemas/region'
        postal_code:
          $ref: '#/components/schemas/postal_code'
        country_code:
          $ref: '#/components/schemas/country_code'
        country:
          $ref: '#/components/schemas/country'
    pickup_option:
      type: object
      description: A pickup option.
      properties:
        reference:
          $ref: '#/components/schemas/reference'
        signature:
          $ref: '#/components/schemas/signature'
        cost:
          $ref: '#/components/schemas/cost'
        tax_amount:
          $ref: '#/components/schemas/tax_amount'
        store_name:
          $ref: '#/components/schemas/name_store'
        pickup_window_open:
          $ref: '#/components/schemas/pickup_window_open'
        pickup_window_close:
          $ref: '#/components/schemas/pickup_window_close'
        address:
          $ref: '#/components/schemas/pickup_address'
        distance:
          $ref: '#/components/schemas/distance'
        distance_unit:
          $ref: '#/components/schemas/distance_unit'
    pickup_options:
      type: array
      description: A list of pickup options.
      items:
        $ref: '#/components/schemas/pickup_option'
    product:
      type: object
      description: A product.
      properties:
        BoltID:
          $ref: '#/components/schemas/bolt_product_id'
        Brand:
          $ref: '#/components/schemas/brand'
        Name:
          $ref: '#/components/schemas/product_name'
        Description:
          $ref: '#/components/schemas/description'
        Multimedia:
          type: object
          description: The media files associated to the product.
          properties:
            ImageURLs:
              $ref: '#/components/schemas/media_urls'
            VideoURLs:
              $ref: '#/components/schemas/media_videos'
            AudioSamples:
              $ref: '#/components/schemas/media_audios'
        Identifiers:
          $ref: '#/components/schemas/product_identifiers'
        Prices:
          $ref: '#/components/schemas/product_prices'
        IsVariantOf:
          $ref: '#/components/schemas/product_variant'
        Availability:
          $ref: '#/components/schemas/availability'
        AvailabilityCount:
          $ref: '#/components/schemas/availability_count'
        Properties:
          $ref: '#/components/schemas/product_properties'
        ItemType:
          $ref: '#/components/schemas/type'
        Taxable:
          $ref: '#/components/schemas/taxable'
    products:
      type: array
      description: The inventory available for a given product.
      items:
        $ref: '#/components/schemas/product'
    product_identifiers:
      type: object
      description: Identifiers for the product.
      properties:
        SKU:
          $ref: '#/components/schemas/sku'
        GTIN:
          $ref: '#/components/schemas/gtin'
        MerchantDivisionID:
          $ref: '#/components/schemas/merchant_division_id'
        MerchantProductID:
          $ref: '#/components/schemas/merchant_product_id'
    product_inventory:
      type: object
      description: The inventory available for a given product.
      properties:
        Current:
          $ref: '#/components/schemas/product'
        Variants:
          $ref: '#/components/schemas/products'
        Parent:
          $ref: '#/components/schemas/product'
        NextCursor:
          $ref: '#/components/schemas/product_next_cursor'
    publisher_item:
      type: object
      description: An item with properties.
      properties:
        BoltProductID:
          $ref: '#/components/schemas/bolt_product_id'
        Quantity:
          $ref: '#/components/schemas/quantity'
        Properties:
          $ref: '#/components/schemas/publisher_properties'
    publisher_items:
      type: array
      description: A list of items.
      items:
        $ref: '#/components/schemas/publisher_item'
    product_metadata:
      type: object
      description: Metadata for the product.
      properties:
        TextLabel:
          $ref: '#/components/schemas/product_property_text_label'
        ImageURL:
          $ref: '#/components/schemas/product_media_url'
        Position:
          $ref: '#/components/schemas/product_property_position'
    publisher_order_metadata:
      type: object
      description: This is a map that can contain several objects indexed by different keys. You can use this to track conversions.
      properties:
        key:
          description: Map Item.
          type: object
          properties:
            property_1:
              type: string
              description: The first property.
            property_2:
              type: string
              description: The second property.
    product_price:
      type: object
      description: The product's price in cents and currency.
      properties:
        UnitPriceInCents:
          $ref: '#/components/schemas/amount'
        Currency:
          $ref: '#/components/schemas/currency_iso'
    product_prices:
      type: array
      description: List of product prices.
      items:
        $ref: '#/components/schemas/product_price'
    product_properties:
      type: array
      description: Properties associated to the product.
      items:
        type: object
        description: Properties associated to the product.
        properties:
          NameID:
            $ref: '#/components/schemas/product_property_name_id'
          Name:
            $ref: '#/components/schemas/product_property_name'
          ValueID:
            $ref: '#/components/schemas/product_property_value_id'
          Value:
            $ref: '#/components/schemas/product_property_value'
          Metadata:
            $ref: '#/components/schemas/product_metadata'
    product_properties_array:
      $ref: '#/components/schemas/product_properties'
    publisher_properties:
      type: object
      description: Properties associated to the item.
      properties:
        NameID:
          $ref: '#/components/schemas/product_name_id'
        ValueID:
          $ref: '#/components/schemas/product_value_id'
    review:
      type: object
      properties:
        source:
          type: string
          example: internal
        decision:
          type: string
          example: decision
        date:
          type: integer
          example: 1485997169003
        risk_model_result:
          $ref: '#/components/schemas/risk_model_result'
    review_ticket:
      type: object
      description: Internal use only.
      properties:
        id:
          $ref: '#/components/schemas/request_id'
        status:
          $ref: '#/components/schemas/request_status'
        request_deadline:
          $ref: '#/components/schemas/request_deadline'
    risk_decision_factors:
      type: array
      description: The top 5 factors of the fraud decision.
      items:
        $ref: '#/components/schemas/risk_decision_factor'
    risk_insights:
      type: object
      description: |
        Displays fraud decisioning insights based on key factors. This information can either be forwarded via a `risk_insights` transaction webhook type or be polled by sending a `GET` request to Bolt's [transactions endpoint](/api-bolt/#operation/transaction-details).
      properties:
        available:
          $ref: '#/components/schemas/risk_insight_availability'
        fraud_probability:
          $ref: '#/components/schemas/risk_fraud_probability'
        decision_factors:
          $ref: '#/components/schemas/risk_decision_factors'
        payment_instrument_factors:
          $ref: '#/components/schemas/risk_payment_instrument_factors'
    refund_transaction_ids:
      type: array
      description: |
        **Nullable** for Transactions Details.
      items:
        $ref: '#/components/schemas/transaction_id'
    refund_transaction:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/transaction_id'
        type:
          $ref: '#/components/schemas/transaction_type'
        processor:
          $ref: '#/components/schemas/transaction_processor'
        date:
          $ref: '#/components/schemas/transaction_date'
        reference:
          $ref: '#/components/schemas/transaction_reference'
        status:
          $ref: '#/components/schemas/transaction_status'
        from_consumer:
          $ref: '#/components/schemas/from_consumer'
        to_consumer:
          $ref: '#/components/schemas/from_consumer'
        from_credit_card:
          $ref: '#/components/schemas/from_credit_card'
        to_credit_card:
          $ref: '#/components/schemas/from_credit_card'
        amount:
          $ref: '#/components/schemas/amounts'
        authorization:
          $ref: '#/components/schemas/transaction_authorization'
        capture:
          $ref: '#/components/schemas/capture'
        captures:
          $ref: '#/components/schemas/captures'
        credit:
          $ref: '#/components/schemas/credit_status'
        merchant_division:
          $ref: '#/components/schemas/merchant_division'
        merchant:
          $ref: '#/components/schemas/adjust_transaction_merchant'
        transaction_properties:
          $ref: '#/components/schemas/transaction_properties'
        indemnification_decision:
          $ref: '#/components/schemas/indemnification_decision'
        indemnification_reason:
          $ref: '#/components/schemas/indemnification_reason'
        last_viewed_utc:
          $ref: '#/components/schemas/last_viewed_utc'
        last4:
          $ref: '#/components/schemas/card_last4'
        risk_insights:
          $ref: '#/components/schemas/risk_insights'
        order_decision:
          $ref: '#/components/schemas/order_decision'
        merchant_order_number:
          $ref: '#/components/schemas/merchant_order_number'
        splits:
          $ref: '#/components/schemas/splits'
        review_ticket:
          $ref: '#/components/schemas/review_ticket'
    refund_transactions:
      type: array
      description: |
        **Nullable** for Transactions Details.
      items:
        $ref: '#/components/schemas/refund_transaction'
    refund_type:
      type: string
      description: The type of refund.
      enum:
        - single_refund
        - multi_refund
    risk_model_contribution:
      type: object
      properties:
        category:
          type: string
          example: blacklist_email_in_blacklist
          description: Internal categories for risk analysis.
        weight:
          type: string
          example: The weight
    risk_model_contributions:
      type: array
      items:
        $ref: '#/components/schemas/risk_model_contribution'
    risk_model_result:
      type: object
      description: Contains the contributing factors Bolt's risk model used to make a decision.
      properties:
        contributions:
          $ref: '#/components/schemas/risk_model_contributions'
    shipment:
      type: object
      description: A cart that is being prepared for shipment
      properties:
        id:
          $ref: '#/components/schemas/shipping_address_id'
        shipping_address:
          $ref: '#/components/schemas/consumer_billing_address'
        total_weight:
          $ref: '#/components/schemas/total_weight'
        shipping_method:
          $ref: '#/components/schemas/shipping_method'
        carrier:
          $ref: '#/components/schemas/carrier'
        service:
          $ref: '#/components/schemas/service'
        expedited:
          $ref: '#/components/schemas/expedited'
        cost:
          $ref: '#/components/schemas/amounts'
        tax_amount:
          $ref: '#/components/schemas/amounts'
        reference:
          $ref: '#/components/schemas/reference'
        signature:
          $ref: '#/components/schemas/signature'
        package_type:
          $ref: '#/components/schemas/package_type'
        package_dimension:
          $ref: '#/components/schemas/package_dimension'
        package_weights:
          $ref: '#/components/schemas/package_weights'
        default:
          $ref: '#/components/schemas/default'
        estimated_delivery_date:
          $ref: '#/components/schemas/estimated_delivery_date'
        gift_options:
          $ref: '#/components/schemas/gift_options'
    shipments:
      type: array
      description: A list of shipments.
      items:
        type: object
        description: A cart that is being prepared for shipment
        properties:
          shipping_address:
            $ref: '#/components/schemas/shipping_address'
          shipping_method:
            $ref: '#/components/schemas/shipping_method'
          reference:
            $ref: '#/components/schemas/reference'
          service:
            $ref: '#/components/schemas/service'
          cost:
            $ref: '#/components/schemas/cost'
          tax_amount:
            $ref: '#/components/schemas/amounts'
    shipments2:
      type: array
      items:
        $ref: '#/components/schemas/shipment'
    shipping_address:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/shipping_address_id'
[...]
