{
  "openapi": "3.0.1",
  "info": {
    "title": "dbapi-investments-orders",
    "description": "The Order Service API is a dbAPI platform service that enables developers and customers to create their own investment applications for executing securities orders (stocks, funds, bonds or ETFs) on the German stock exchanges or on the most important foreign stock exchanges.<br/>The service enables client applications to allow users to create, view, modify or cancel their orders in near real-time in the Deutsche Bank order management system.",
    "termsOfService": "https://developer.db.com/termsandconditions",
    "contact": {
      "url": "https://developer.db.com/contact",
      "email": "bank.api@db.com"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://simulator-api.db.com:443/gw/dbapi/investments/orders/v1"
    }
  ],
  "tags": [
    {
      "name": "Order Entry",
      "description": "Create an order or preview an order creation"
    },
    {
      "name": "Order Change",
      "description": "Change an existing order or preview a change of an existing order"
    },
    {
      "name": "Order Delete",
      "description": "Delete an existing order"
    },
    {
      "name": "Order Details",
      "description": "Retrieve details on existing orders"
    },
    {
      "name": "Order Expense Report",
      "description": "Produce a PDF with the estimated expenses for an order execution or modification."
    },
    {
      "name": "Security Statics",
      "description": "Get static data on Securities"
    },
    {
      "name": "Support",
      "description": "Get price information for a given security"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "Order Details"
        ],
        "description": "This API returns a list of current orders (also known as order book) for a given account including order details, e.g. status and order id. At least one of parameters 'securityAccountId' or 'externalOrderReference' must be provided.",
        "operationId": "orderBookList",
        "parameters": [
          {
            "name": "securityAccountId",
            "in": "query",
            "description": "Securities Account ID",
            "schema": {
              "pattern": "[0-9]{12}",
              "type": "string"
            }
          },
          {
            "name": "externalOrderReference",
            "in": "query",
            "description": "Unique external order reference",
            "schema": {
              "maxLength": 16,
              "type": "string"
            }
          },
          {
            "name": "Correlation-Id",
            "in": "header",
            "description": "Free form key controlled by the caller e.g. uuid",
            "required": false,
            "schema": {
              "maxLength": 50,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderBookResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unsuccessful operation, returns http status 400. See 'example' property for possible values.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": [
                  {
                    "code": 2,
                    "message": "Invalid value for %s."
                  },
                  {
                    "code": 102,
                    "message": "Invalid value for parameter externalOrderReference or securityAccountId."
                  },
                  {
                    "code": 111,
                    "message": "2FA method is not ACTIVE."
                  },
                  {
                    "code": 114,
                    "message": "Unable to identify transaction by Id."
                  },
                  {
                    "code": 122,
                    "message": "Invalid OTP."
                  },
                  {
                    "code": 127,
                    "message": "Booking date from must precede booking date to."
                  },
                  {
                    "code": 131,
                    "message": "Invalid value for 'sortBy'. Valid values are 'bookingDate[ASC]' and 'bookingDate[DESC]'."
                  },
                  {
                    "code": 601,
                    "message": "Order deletion/modification not allowed due to order state."
                  },
                  {
                    "code": 602,
                    "message": "Multiple positions exist. Please contact your personal bank advisor."
                  },
                  {
                    "code": 603,
                    "message": "Insufficient stock"
                  },
                  {
                    "code": 604,
                    "message": "Security data not found"
                  },
                  {
                    "code": 605,
                    "message": "Missing authorization"
                  },
                  {
                    "code": 606,
                    "message": "Quantity not tradeable"
                  },
                  {
                    "code": 607,
                    "message": "No suitable position found"
                  },
                  {
                    "code": 609,
                    "message": "Only one price should be provided for the order limit"
                  },
                  {
                    "code": 610,
                    "message": "The order exceeds the maximum available quota: Free quota: {freeQuota}"
                  },
                  {
                    "code": 611,
                    "message": "Not enough securities with minimum holding period available"
                  },
                  {
                    "code": 613,
                    "message": "Ordering quotas of OEREFs (Open-Ended Real Estate Funds) bought after 21.07.2013 and cannot be returned"
                  },
                  {
                    "code": 614,
                    "message": "Ordering quotas of OEREFs (Open-Ended Real Estate Funds) bought partly after 21.07.2013 and cannot be returned"
                  },
                  {
                    "code": 615,
                    "message": "Security not tradeable"
                  },
                  {
                    "code": 616,
                    "message": "Order not in orderbook"
                  },
                  {
                    "code": 617,
                    "message": "Minimum order amount not reached"
                  },
                  {
                    "code": 620,
                    "message": "CashAccount does not exist"
                  },
                  {
                    "code": 621,
                    "message": "Customer is not allowed to order"
                  },
                  {
                    "code": 622,
                    "message": "Security Account is not valid for orders"
                  },
                  {
                    "code": 623,
                    "message": "Liquidity not sufficient for order"
                  },
                  {
                    "code": 624,
                    "message": "MarketPlace does not exist"
                  },
                  {
                    "code": 633,
                    "message": "SecurityAccount does not exist"
                  },
                  {
                    "code": 634,
                    "message": "ExpiryDate is before current date"
                  },
                  {
                    "code": 635,
                    "message": "Invalid blockingDate"
                  },
                  {
                    "code": 636,
                    "message": "ExpiryDate must be a business day"
                  },
                  {
                    "code": 637,
                    "message": "Setting a limit when ordering over the capital management company is not possible"
                  },
                  {
                    "code": 638,
                    "message": "Setting an expiry date when ordering over the capital management company is not possible"
                  },
                  {
                    "code": 639,
                    "message": "Either WKN or ISIN must be provided"
                  },
                  {
                    "code": 640,
                    "message": "invalid preview Signature"
                  },
                  {
                    "code": 641,
                    "message": "preview Signature expired"
                  },
                  {
                    "code": 642,
                    "message": "preview Signature order parameter mismatch"
                  },
                  {
                    "code": 643,
                    "message": "Unique external order reference missing"
                  },
                  {
                    "code": 654,
                    "message": "Invalid limit price/stop price."
                  },
                  {
                    "code": 655,
                    "message": "The order is part of a bulk order and cannot be changed."
                  },
                  {
                    "code": 656,
                    "message": "addOns.expiryDate not allowed with type of addOns.restriction"
                  },
                  {
                    "code": 657,
                    "message": "OTC market place not allowed"
                  },
                  {
                    "code": 658,
                    "message": "Maximum addOns.expiryDate exceeded."
                  },
                  {
                    "code": 659,
                    "message": "Token doesn’t exist"
                  },
                  {
                    "code": 660,
                    "message": "No price returned by PriceModule"
                  },
                  {
                    "code": 661,
                    "message": "BestEx could not be retrieved for holding recommendation"
                  },
                  {
                    "code": 662,
                    "message": "No data for given wkn found"
                  },
                  {
                    "code": 664,
                    "message": "Mismatching ccy for the given security"
                  },
                  {
                    "code": 665,
                    "message": "Security not tradeable with market place"
                  },
                  {
                    "code": 666,
                    "message": "Best Execution stock market could not be determined"
                  },
                  {
                    "code": 667,
                    "message": "Portfolio not found"
                  },
                  {
                    "code": 668,
                    "message": "Security data not found"
                  },
                  {
                    "code": 670,
                    "message": "Market place ID not provided"
                  },
                  {
                    "code": 699,
                    "message": "reportToken doesn't exist"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unsuccessful operation, returns http status 401. See 'example' property for possible values.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": [
                  {
                    "code": 401,
                    "message": "The requested function requires a SCA Level Authentication."
                  },
                  {
                    "code": 644,
                    "message": "Order type is not allowed for user"
                  },
                  {
                    "code": 645,
                    "message": "User not allowed to use (2FA) session"
                  },
                  {
                    "code": 646,
                    "message": "Daily order limit exceeded"
                  },
                  {
                    "code": 647,
                    "message": "2FA for session renewal required. Limit exceeded"
                  },
                  {
                    "code": 648,
                    "message": "2FA for session renewal required. Time exceeded"
                  },
                  {
                    "code": 649,
                    "message": "2FA for session renewal required. Transaction count greater than max transaction count"
                  },
                  {
                    "code": 650,
                    "message": "Business authorisation issue. Cash account not found"
                  },
                  {
                    "code": 651,
                    "message": "Business authorisation issue. Security account not found"
                  },
                  {
                    "code": 652,
                    "message": "Business authorisation issue. Partner ID not found"
                  },
                  {
                    "code": 653,
                    "message": "Business authorisation issue. Client ID setup incorrect"
                  }
                ]
              }
            }
          },
          "500": {
            "description": "Unsuccessful operation, returns http status 500. See 'example' property for possible values.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": [
                  {
                    "code": 669,
                    "message": "Backend responded with an unexpected SA Key"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "api_auth_code": [
              "order_securities"
            ]
          },
          {
            "api_implicit": [
              "order_securities"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Order Entry"
        ],
        "description": "This API call places an order for execution. In case of successful validation (order is accepted) the API returns an order confirmation including an estimated expense report (also for regulatory reasons). In parallel, the order is forwarded to the order system for actual execution. Once the order has been submitted, the order details and its current state can be viewed by invoking the order book call (GET).",
        "operationId": "orderEntry",
        "parameters": [
          {
            "name": "idempotency-id",
            "in": "header",
            "description": "Unique id of the service call. Should be resent during retries to avoid multiple processing of the same request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "OTP",
            "in": "header",
            "description": "The one-time password to gain access to sensitive data",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "previewSignature",
            "in": "header",
            "description": "JWT for order validation - mandatory except for individual use cases",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Correlation-Id",
            "in": "header",
            "description": "Free form key controlled by the caller e.g. uuid",
            "required": false,
            "schema": {
              "maxLength": 50,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderEntryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderEntryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unsuccessful operation, returns http status 400. See 'example' property for possible values.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": [
                  {
                    "code": 2,
                    "message": "Invalid value for %s."
                  },
                  {
                    "code": 102,
                    "message": "Invalid value for parameter externalOrderReference or securityAccountId."
                  },
                  {
                    "code": 111,
                    "message": "2FA method is not ACTIVE."
                  },
                  {
                    "code": 114,
                    "message": "Unable to identify transaction by Id."
                  },
                  {
                    "code": 122,
                    "message": "Invalid OTP."
                  },
                  {
                    "code": 127,
                    "message": "Booking date from must precede booking date to."
                  },
                  {
                    "code": 131,
                    "message": "Invalid value for 'sortBy'. Valid values are 'bookingDate[ASC]' and 'bookingDate[DESC]'."
                  },
                  {
                    "code": 601,
                    "message": "Order deletion/modification not allowed due to order state."
                  },
                  {
                    "code": 602,
                    "message": "Multiple positions exist. Please contact your personal bank advisor."
                  },
                  {
                    "code": 603,
                    "message": "Insufficient stock"
                  },
                  {
                    "code": 604,
                    "message": "Security data not found"
                  },
                  {
                    "code": 605,
                    "message": "Missing authorization"
                  },
                  {
                    "code": 606,
                    "message": "Quantity not tradeable"
                  },
                  {
                    "code": 607,
                    "message": "No suitable position found"
                  },
                  {
                    "code": 609,
                    "message": "Only one price should be provided for the order limit"
                  },
                  {
                    "code": 610,
                    "message": "The order exceeds the maximum available quota: Free quota: {freeQuota}"
                  },
                  {
                    "code": 611,
                    "message": "Not enough securities with minimum holding period available"
                  },
                  {
                    "code": 613,
                    "message": "Ordering quotas of OEREFs (Open-Ended Real Estate Funds) bought after 21.07.2013 and cannot be returned"
                  },
                  {
                    "code": 614,
                    "message": "Ordering quotas of OEREFs (Open-Ended Real Estate Funds) bought partly after 21.07.2013 and cannot be returned"
                  },
                  {
                    "code": 615,
                    "message": "Security not tradeable"
                  },
                  {
                    "code": 616,
                    "message": "Order not in orderbook"
                  },
                  {
                    "code": 617,
                    "message": "Minimum order amount not reached"
                  },
                  {
                    "code": 620,
                    "message": "CashAccount does not exist"
                  },
                  {
                    "code": 621,
                    "message": "Customer is not allowed to order"
                  },
                  {
                    "code": 622,
                    "message": "Security Account is not valid for orders"
                  },
                  {
                    "code": 623,
                    "message": "Liquidity not sufficient for order"
                  },
                  {
                    "code": 624,
                    "message": "MarketPlace does not exist"
                  },
                  {
                    "code": 633,
                    "message": "SecurityAccount does not exist"
                  },
                  {
                    "code": 634,
                    "message": "ExpiryDate is before current date"
                  },
                  {
                    "code": 635,
                    "message": "Invalid blockingDate"
                  },
                  {
                    "code": 636,
                    "message": "ExpiryDate must be a business day"
                  },
                  {
                    "code": 637,
                    "message": "Setting a limit when ordering over the capital management company is not possible"
                  },
                  {
                    "code": 638,
                    "message": "Setting an expiry date when ordering over the capital management company is not possible"
                  },
                  {
                    "code": 639,
                    "message": "Either WKN or ISIN must be provided"
                  },
                  {
                    "code": 640,
                    "message": "invalid preview Signature"
                  },
                  {
                    "code": 641,
                    "message": "preview Signature expired"
                  },
                  {
                    "code": 642,
                    "message": "preview Signature order parameter mismatch"
                  },
                  {
                    "code": 643,
                    "message": "Unique external order reference missing"
                  },
                  {
                    "code": 654,
                    "message": "Invalid limit price/stop price."
                  },
                  {
                    "code": 655,
                    "message": "The order is part of a bulk order and cannot be changed."
                  },
                  {
                    "code": 656,
                    "message": "addOns.expiryDate not allowed with type of addOns.restriction"
                  },
                  {
                    "code": 657,
                    "message": "OTC market place not allowed"
                  },
                  {
                    "code": 658,
                    "message": "Maximum addOns.expiryDate exceeded."
                  },
                  {
                    "code": 659,
                    "message": "Token doesn’t exist"
                  },
                  {
                    "code": 660,
                    "message": "No price returned by PriceModule"
                  },
                  {
                    "code": 661,
                    "message": "BestEx could not be retrieved for holding recommendation"
                  },
                  {
                    "code": 662,
                    "message": "No data for given wkn found"
                  },
                  {
                    "code": 664,
                    "message": "Mismatching ccy for the given security"
                  },
                  {
                    "code": 665,
                    "message": "Security not tradeable with market place"
                  },
                  {
                    "code": 666,
                    "message": "Best Execution stock market could not be determined"
                  },
                  {
                    "code": 667,
                    "message": "Portfolio not found"
                  },
                  {
                    "code": 668,
                    "message": "Security data not found"
                  },
                  {
                    "code": 670,
                    "message": "Market place ID not provided"
                  },
                  {
                    "code": 699,
                    "message": "reportToken doesn't exist"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unsuccessful operation, returns http status 401. See 'example' property for possible values.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": [
                  {
                    "code": 401,
                    "message": "The requested function requires a SCA Level Authentication."
                  },
                  {
                    "code": 644,
                    "message": "Order type is not allowed for user"
                  },
                  {
                    "code": 645,
                    "message": "User not allowed to use (2FA) session"
                  },
                  {
                    "code": 646,
                    "message": "Daily order limit exceeded"
                  },
                  {
                    "code": 647,
                    "message": "2FA for session renewal required. Limit exceeded"
                  },
                  {
                    "code": 648,
                    "message": "2FA for session renewal required. Time exceeded"
                  },
                  {
                    "code": 649,
                    "message": "2FA for session renewal required. Transaction count greater than max transaction count"
                  },
                  {
                    "code": 650,
                    "message": "Business authorisation issue. Cash account not found"
                  },
                  {
                    "code": 651,
                    "message": "Business authorisation issue. Security account not found"
                  },
                  {
                    "code": 652,
                    "message": "Business authorisation issue. Partner ID not found"
                  },
                  {
                    "code": 653,
                    "message": "Business authorisation issue. Client ID setup incorrect"
                  }
                ]
              }
            }
          },
          "500": {
            "description": "Unsuccessful operation, returns http status 500. See 'example' property for possible values.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": [
                  {
                    "code": 669,
                    "message": "Backend responded with an unexpected SA Key"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "api_auth_code": [
              "order_securities"
            ]
          },
          {
            "api_implicit": [
              "order_securities"
            ]
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/bulk": {
      "post": {
        "tags": [
          "Order Entry"
        ],
        "description": "This API call places a bulk order for execution. Instead of placing a separate order for each customer, a block order covers the entire number of units required for a specific security. In case of successful validation (order is accepted) the order is forwarded to the order system for actual execution. Afterwards the total number of units is allocated to the individual customer securities accounts included in the given list. This procedure enables a group of customers for whom a security is to be acquired or sold to be treated as equally as possible. Once the order has been submitted, the order details and its current state can be viewed by invoking the order book call (GET).",
        "operationId": "bulkOrderEntry",
        "parameters": [
          {
            "name": "idempotency-id",
            "in": "header",
            "description": "Unique id of the service call. Should be resent during retries to avoid multiple processing of the same request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "OTP",
            "in": "header",
            "description": "The one-time password to gain access to sensitive data",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "previewSignature",
            "in": "header",
            "description": "JWT for order validation - mandatory except for individual use cases",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Correlation-Id",
            "in": "header",
            "description": "Free form key controlled by the caller e.g. uuid",
            "required": false,
            "schema": {
              "maxLength": 50,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkOrderEntryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkOrderEntryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unsuccessful operation, returns http status 400. See 'example' property for possible values.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": [
                  {
                    "code": 2,
                    "message": "Invalid value for %s."
                  },
                  {
                    "code": 102,
                    "message": "Invalid value for parameter externalOrderReference or securityAccountId."
                  },
                  {
                    "code": 111,
                    "message": "2FA method is not ACTIVE."
                  },
                  {
                    "code": 114,
                    "message": "Unable to identify transaction by Id."
                  },
                  {
                    "code": 122,
                    "message": "Invalid OTP."
                  },
                  {
                    "code": 127,
                    "message": "Booking date from must precede booking date to."
                  },
                  {
                    "code": 131,
                    "message": "Invalid value for 'sortBy'. Valid values are 'bookingDate[ASC]' and 'bookingDate[DESC]'."
                  },
                  {
                    "code": 601,
                    "message": "Order deletion/modification not allowed due to order state."
                  },
                  {
                    "code": 602,
                    "message": "Multiple positions exist. Please contact your personal bank advisor."
                  },
                  {
                    "code": 603,
                    "message": "Insufficient stock"
                  },
                  {
                    "code": 604,
                    "message": "Security data not found"
                  },
                  {
                    "code": 605,
                    "message": "Missing authorization"
                  },
                  {
                    "code": 606,
                    "message": "Quantity not tradeable"
                  },
                  {
                    "code": 607,
                    "message": "No suitable position found"
                  },
                  {
                    "code": 609,
                    "message": "Only one price should be provided for the order limit"
                  },
                  {
                    "code": 610,
                    "message": "The order exceeds the maximum available quota: Free quota: {freeQuota}"
                  },
                  {
                    "code": 611,
                    "message": "Not enough securities with minimum holding period available"
                  },
                  {
                    "code": 613,
                    "message": "Ordering quotas of OEREFs (Open-Ended Real Estate Funds) bought after 21.07.2013 and cannot be returned"
                  },
                  {
                    "code": 614,
                    "message": "Ordering quotas of OEREFs (Open-Ended Real Estate Funds) bought partly after 21.07.2013 and cannot be returned"
                  },
                  {
                    "code": 615,
                    "message": "Security not tradeable"
                  },
                  {
                    "code": 616,
                    "message": "Order not in orderbook"
                  },
                  {
                    "code": 617,
                    "message": "Minimum order amount not reached"
                  },
                  {
                    "code": 620,
                    "message": "CashAccount does not exist"
                  },
                  {
                    "code": 621,
                    "message": "Customer is not allowed to order"
                  },
                  {
                    "code": 622,
                    "message": "Security Account is not valid for orders"
                  },
                  {
                    "code": 623,
                    "message": "Liquidity not sufficient for order"
                  },
                  {
                    "code": 624,
                    "message": "MarketPlace does not exist"
                  },
                  {
                    "code": 633,
                    "message": "SecurityAccount does not exist"
                  },
                  {
                    "code": 634,
                    "message": "ExpiryDate is before current date"
                  },
                  {
                    "code": 635,
                    "message": "Invalid blockingDate"
                  },
                  {
                    "code": 636,
                    "message": "ExpiryDate must be a business day"
                  },
                  {
                    "code": 637,
                    "message": "Setting a limit when ordering over the capital management company is not possible"
                  },
                  {
                    "code": 638,
                    "message": "Setting an expiry date when ordering over the capital management company is not possible"
                  },
                  {
                    "code": 639,
                    "message": "Either WKN or ISIN must be provided"
                  },
                  {
                    "code": 640,
                    "message": "invalid preview Signature"
                  },
                  {
                    "code": 641,
                    "message": "preview Signature expired"
                  },
                  {
                    "code": 642,
                    "message": "preview Signature order parameter mismatch"
                  },
                  {
                    "code": 643,
                    "message": "Unique external order reference missing"
                  },
                  {
                    "code": 654,
                    "message": "Invalid limit price/stop price."
                  },
                  {
                    "code": 655,
                    "message": "The order is part of a bulk order and cannot be changed."
                  },
                  {
                    "code": 656,
                    "message": "addOns.expiryDate not allowed with type of addOns.restriction"
                  },
                  {
                    "code": 657,
                    "message": "OTC market place not allowed"
                  },
                  {
                    "code": 658,
                    "message": "Maximum addOns.expiryDate exceeded."
                  },
                  {
                    "code": 659,
                    "message": "Token doesn’t exist"
                  },
                  {
                    "code": 660,
                    "message": "No price returned by PriceModule"
                  },
                  {
                    "code": 661,
                    "message": "BestEx could not be retrieved for holding recommendation"
                  },
                  {
                    "code": 662,
                    "message": "No data for given wkn found"
                  },
                  {
                    "code": 664,
                    "message": "Mismatching ccy for the given security"
                  },
                  {
                    "code": 665,
                    "message": "Security not tradeable with market place"
                  },
                  {
                    "code": 666,
                    "message": "Best Execution stock market could not be determined"
                  },
                  {
                    "code": 667,
                    "message": "Portfolio not found"
                  },
                  {
                    "code": 668,
                    "message": "Security data not found"
                  },
                  {
                    "code": 670,
                    "message": "Market place ID not provided"
                  },
                  {
                    "code": 699,
                    "message": "reportToken doesn't exist"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unsuccessful operation, returns http status 401. See 'example' property for possible values.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": [
                  {
                    "code": 401,
                    "message": "The requested function requires a SCA Level Authentication."
                  },
                  {
                    "code": 644,
                    "message": "Order type is not allowed for user"
                  },
                  {
                    "code": 645,
                    "message": "User not allowed to use (2FA) session"
                  },
                  {
                    "code": 646,
                    "message": "Daily order limit exceeded"
                  },
                  {
                    "code": 647,
                    "message": "2FA for session renewal required. Limit exceeded"
                  },
                  {
                    "code": 648,
                    "message": "2FA for session renewal required. Time exceeded"
                  },
                  {
                    "code": 649,
                    "message": "2FA for session renewal required. Transaction count greater than max transaction count"
                  },
                  {
                    "code": 650,
                    "message": "Business authorisation issue. Cash account not found"
                  },
                  {
                    "code": 651,
                    "message": "Business authorisation issue. Security account not found"
                  },
                  {
                    "code": 652,
                    "message": "Business authorisation issue. Partner ID not found"
                  },
                  {
                    "code": 653,
                    "message": "Business authorisation issue. Client ID setup incorrect"
                  }
                ]
              }
            }
          },
          "500": {
            "description": "Unsuccessful operation, returns http status 500. See 'example' property for possible values.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": [
                  {
                    "code": 669,
                    "message": "Backend responded with an unexpected SA Key"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "api_auth_code": [
              "order_securities"
            ]
          },
          {
            "api_implicit": [
              "order_securities"
            ]
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/estimatedExpenseReport": {
      "post": {
        "tags": [
          "Order Expense Report"
        ],
        "description": "This API provides a PDF document as a Base64 encoded string for the order execution or modification request identified by the given report token. To obtain such a report token, call the Order Entry or Order Change APIs first.",
        "operationId": "estimatedExpenseReport",
        "parameters": [
          {
            "name": "Correlation-Id",
            "in": "header",
            "description": "Free form key controlled by the caller e.g. uuid",
            "required": false,
            "schema": {
              "maxLength": 50,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "reportToken, from response of order execution or modifiication",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EstimatedExpenseReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EstimatedExpenseReportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unsuccessful operation, returns http status 400. See 'example' property for possible values.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": [
                  {
                    "code": 2,
                    "message": "Invalid value for %s."
                  },
                  {
                    "code": 102,
                    "message": "Invalid value for parameter externalOrderReference or securityAccountId."
                  },
                  {
                    "code": 111,
                    "message": "2FA method is not ACTIVE."
                  },
                  {
                    "code": 114,
                    "message": "Unable to identify transaction by Id."
                  },
                  {
                    "code": 122,
                    "message": "Invalid OTP."
                  },
                  {
                    "code": 127,
                    "message": "Booking date from must precede booking date to."
                  },
                  {
                    "code": 131,
                    "message": "Invalid value for 'sortBy'. Valid values are 'bookingDate[ASC]' and 'bookingDate[DESC]'."
                  },
                  {
                    "code": 601,
                    "message": "Order deletion/modification not allowed due to order state."
                  },
                  {
                    "code": 602,
                    "message": "Multiple positions exist. Please contact your personal bank advisor."
                  },
                  {
                    "code": 603,
                    "message": "Insufficient stock"
                  },
                  {
                    "code": 604,
                    "message": "Security data not found"
                  },
                  {
                    "code": 605,
                    "message": "Missing authorization"
                  },
                  {
                    "code": 606,
                    "message": "Quantity not tradeable"
                  },
                  {
                    "code": 607,
                    "message": "No suitable position found"
                  },
                  {
                    "code": 609,
                    "message": "Only one price should be provided for the order limit"
                  },
                  {
                    "code": 610,
                    "message": "The order exceeds the maximum available quota: Free quota: {freeQuota}"
                  },
                  {
                    "code": 611,
                    "message": "Not enough securities with minimum holding period available"
                  },
                  {
                    "code": 613,
                    "message": "Ordering quotas of OEREFs (Open-Ended Real Estate Funds) bought after 21.07.2013 and cannot be returned"
                  },
                  {
                    "code": 614,
                    "message": "Ordering quotas of OEREFs (Open-Ended Real Estate Funds) bought partly after 21.07.2013 and cannot be returned"
                  },
                  {
                    "code": 615,
                    "message": "Security not tradeable"
                  },
                  {
                    "code": 616,
                    "message": "Order not in orderbook"
                  },
                  {
                    "code": 617,
                    "message": "Minimum order amount not reached"
                  },
                  {
                    "code": 620,
                    "message": "CashAccount does not exist"
                  },
                  {
                    "code": 621,
                    "message": "Customer is not allowed to order"
                  },
                  {
                    "code": 622,
                    "message": "Security Account is not valid for orders"
                  },
                  {
                    "code": 623,
                    "message": "Liquidity not sufficient for order"
                  },
                  {
                    "code": 624,
                    "message": "MarketPlace does not exist"
                  },
                  {
                    "code": 633,
                    "message": "SecurityAccount does not exist"
                  },
                  {
                    "code": 634,
                    "message": "ExpiryDate is before current date"
                  },
                  {
                    "code": 635,
                    "message": "Invalid blockingDate"
                  },
                  {
                    "code": 636,
                    "message": "ExpiryDate must be a business day"
                  },
                  {
                    "code": 637,
                    "message": "Setting a limit when ordering over the capital management company is not possible"
                  },
                  {
                    "code": 638,
                    "message": "Setting an expiry date when ordering over the capital management company is not possible"
                  },
                  {
                    "code": 639,
                    "message": "Either WKN or ISIN must be provided"
                  },
                  {
                    "code": 640,
                    "message": "invalid preview Signature"
                  },
                  {
                    "code": 641,
                    "message": "preview Signature expired"
                  },
                  {
                    "code": 642,
                    "message": "preview Signature order parameter mismatch"
                  },
                  {
                    "code": 643,
                    "message": "Unique external order reference missing"
                  },
                  {
                    "code": 654,
                    "message": "Invalid limit price/stop price."
                  },
                  {
                    "code": 655,
                    "message": "The order is part of a bulk order and cannot be changed."
                  },
                  {
                    "code": 656,
                    "message": "addOns.expiryDate not allowed with type of addOns.restriction"
                  },
                  {
                    "code": 657,
                    "message": "OTC market place not allowed"
                  },
                  {
                    "code": 658,
                    "message": "Maximum addOns.expiryDate exceeded."
                  },
                  {
                    "code": 659,
                    "message": "Token doesn’t exist"
                  },
                  {
                    "code": 660,
                    "message": "No price returned by PriceModule"
                  },
                  {
                    "code": 661,
                    "message": "BestEx could not be retrieved for holding recommendation"
                  },
                  {
                    "code": 662,
                    "message": "No data for given wkn found"
                  },
                  {
                    "code": 664,
                    "message": "Mismatching ccy for the given security"
                  },
                  {
                    "code": 665,
                    "message": "Security not tradeable with market place"
                  },
                  {
                    "code": 666,
                    "message": "Best Execution stock market could not be determined"
                  },
                  {
                    "code": 667,
                    "message": "Portfolio not found"
                  },
                  {
                    "code": 668,
                    "message": "Security data not found"
                  },
                  {
                    "code": 670,
                    "message": "Market place ID not provided"
                  },
                  {
                    "code": 699,
                    "message": "reportToken doesn't exist"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unsuccessful operation, returns http status 401. See 'example' property for possible values.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": [
                  {
                    "code": 401,
                    "message": "The requested function requires a SCA Level Authentication."
                  },
                  {
                    "code": 644,
                    "message": "Order type is not allowed for user"
                  },
                  {
                    "code": 645,
                    "message": "User not allowed to use (2FA) session"
                  },
                  {
                    "code": 646,
                    "message": "Daily order limit exceeded"
                  },
                  {
                    "code": 647,
                    "message": "2FA for session renewal required. Limit exceeded"
                  },
                  {
                    "code": 648,
                    "message": "2FA for session renewal required. Time exceeded"
                  },
                  {
                    "code": 649,
                    "message": "2FA for session renewal required. Transaction count greater than max transaction count"
                  },
                  {
                    "code": 650,
                    "message": "Business authorisation issue. Cash account not found"
                  },
                  {
                    "code": 651,
                    "message": "Business authorisation issue. Security account not found"
                  },
                  {
                    "code": 652,
                    "message": "Business authorisation issue. Partner ID not found"
                  },
                  {
                    "code": 653,
                    "message": "Business authorisation issue. Client ID setup incorrect"
                  }
                ]
              }
            }
          },
          "500": {
            "description": "Unsuccessful operation, returns http status 500. See 'example' property for possible values.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": [
                  {
                    "code": 669,
                    "message": "Backend responded with an unexpected SA Key"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "api_auth_code": [
              "order_securities"
            ]
          },
          {
            "api_implicit": [
              "order_securities"
            ]
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/preview": {
      "post": {
        "tags": [
          "Order Entry"
        ],
        "description": "This API call simulates an order placement. The order is validated but not executed (by the order system). Beside price and total amount an expense estimation (report) is created to review estimated costs and expenses before submitting an order for actual execution. The preview order is not stored in the DB systems (and therefore not included in the order book).",
        "operationId": "orderEntryPreview",
        "parameters": [
          {
            "name": "Correlation-Id",
            "in": "header",
            "description": "Free form key controlled by the caller e.g. uuid",
            "required": false,
            "schema": {
              "maxLength": 50,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderEntryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderEntryPreviewResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unsuccessful operation, returns http status 400. See 'example' property for possible values.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": [
                  {
                    "code": 2,
                    "message": "Invalid value for %s."
                  },
                  {
                    "code": 102,
                    "message": "Invalid value for parameter externalOrderReference or securityAccountId."
                  },
                  {
                    "code": 111,
                    "message": "2FA method is not ACTIVE."
                  },
                  {
                    "code": 114,
                    "message": "Unable to identify transaction by Id."
                  },
                  {
                    "code": 122,
                    "message": "Invalid OTP."
                  },
                  {
                    "code": 127,
                    "message": "Booking date from must precede booking date to."
                  },
                  {
                    "code": 131,
                    "message": "Invalid value for 'sortBy'. Valid values are 'bookingDate[ASC]' and 'bookingDate[DESC]'."
                  },
                  {
                    "code": 601,
                    "message": "Order deletion/modification not allowed due to order state."
                  },
                  {
                    "code": 602,
                    "message": "Multiple positions exist. Please contact your personal bank advisor."
                  },
                  {
                    "code": 603,
                    "message": "Insufficient stock"
                  },
                  {
                    "code": 604,
                    "message": "Security data not found"
                  },
                  {
                    "code": 605,
                    "message": "Missing authorization"
                  },
                  {
                    "code": 606,
                    "message": "Quantity not tradeable"
                  },
                  {
                    "code": 607,
                    "message": "No suitable position found"
                  },
                  {
                    "code": 609,
                    "message": "Only one price should be provided for the order limit"
                  },
                  {
                    "code": 610,
                    "message": "The order exceeds the maximum available quota: Free quota: {freeQuota}"
                  },
                  {
                    "code": 611,
                    "message": "Not enough securities with minimum holding period available"
                  },
                  {
                    "code": 613,
                    "message": "Ordering quotas of OEREFs (Open-Ended Real Estate Funds) bought after 21.07.2013 and cannot be returned"
                  },
                  {
                    "code": 614,
                    "message": "Ordering quotas of OEREFs (Open-Ended Real Estate Funds) bought partly after 21.07.2013 and cannot be returned"
                  },
                  {
                    "code": 615,
                    "message": "Security not tradeable"
                  },
                  {
                    "code": 616,
                    "message": "Order not in orderbook"
                  },
                  {
                    "code": 617,
                    "message": "Minimum order amount not reached"
                  },
                  {
                    "code": 620,
                    "message": "CashAccount does not exist"
                  },
                  {
                    "code": 621,
                    "message": "Customer is not allowed to order"
                  },
                  {
                    "code": 622,
                    "message": "Security Account is not valid for orders"
                  },
                  {
                    "code": 623,
                    "message": "Liquidity not sufficient for order"
                  },
                  {
                    "code": 624,
                    "message": "MarketPlace does not exist"
                  },
                  {
                    "code": 633,
                    "message": "SecurityAccount does not exist"
                  },
                  {
                    "code": 634,
                    "message": "ExpiryDate is before current date"
                  },
                  {
                    "code": 635,
                    "message": "Invalid blockingDate"
                  },
                  {
                    "code": 636,
                    "message": "ExpiryDate must be a business day"
                  },
                  {
                    "code": 637,
                    "message": "Setting a limit when ordering over the capital management company is not possible"
                  },
                  {
                    "code": 638,
                    "message": "Setting an expiry date when ordering over the capital management company is not possible"
                  },
                  {
                    "code": 639,
                    "message": "Either WKN or ISIN must be provided"
                  },
                  {
                    "code": 640,
                    "message": "invalid preview Signature"
                  },
                  {
                    "code": 641,
                    "message": "preview Signature expired"
                  },
                  {
                    "code": 642,
                    "message": "preview Signature order parameter mismatch"
                  },
                  {
                    "code": 643,
                    "message": "Unique external order reference missing"
                  },
                  {
                    "code": 654,
                    "message": "Invalid limit price/stop price."
                  },
                  {
                    "code": 655,
                    "message": "The order is part of a bulk order and cannot be changed."
                  },
                  {
                    "code": 656,
                    "message": "addOns.expiryDate not allowed with type of addOns.restriction"
                  },
                  {
                    "code": 657,
                    "message": "OTC market place not allowed"
                  },
                  {
                    "code": 658,
                    "message": "Maximum addOns.expiryDate exceeded."
                  },
                  {
                    "code": 659,
                    "message": "Token doesn’t exist"
                  },
                  {
                    "code": 660,
                    "message": "No price returned by PriceModule"
                  },
                  {
                    "code": 661,
                    "message": "BestEx could not be retrieved for holding recommendation"
                  },
                  {
                    "code": 662,
                    "message": "No data for given wkn found"
                  },
                  {
                    "code": 664,
                    "message": "Mismatching ccy for the given security"
                  },
                  {
                    "code": 665,
                    "message": "Security not tradeable with market place"
                  },
                  {
                    "code": 666,
                    "message": "Best Execution stock market could not be determined"
                  },
                  {
                    "code": 667,
                    "message": "Portfolio not found"
                  },
                  {
                    "code": 668,
                    "message": "Security data not found"
                  },
                  {
                    "code": 670,
                    "message": "Market place ID not provided"
                  },
                  {
                    "code": 699,
                    "message": "reportToken doesn't exist"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unsuccessful operation, returns http status 401. See 'example' property for possible values.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": [
                  {
                    "code": 401,
                    "message": "The requested function requires a SCA Level Authentication."
                  },
                  {
                    "code": 644,
                    "message": "Order type is not allowed for user"
                  },
                  {
                    "code": 645,
                    "message": "User not allowed to use (2FA) session"
                  },
                  {
                    "code": 646,
                    "message": "Daily order limit exceeded"
                  },
                  {
                    "code": 647,
                    "message": "2FA for session renewal required. Limit exceeded"
                  },
                  {
                    "code": 648,
                    "message": "2FA for session renewal required. Time exceeded"
                  },
                  {
                    "code": 649,
                    "message": "2FA for session renewal required. Transaction count greater than max transaction count"
                  },
                  {
                    "code": 650,
                    "message": "Business authorisation issue. Cash account not found"
                  },
                  {
                    "code": 651,
                    "message": "Business authorisation issue. Security account not found"
                  },
                  {
                    "code": 652,
                    "message": "Business authorisation issue. Partner ID not found"
                  },
                  {
                    "code": 653,
                    "message": "Business authorisation issue. Client ID setup incorrect"
                  }
                ]
              }
            }
          },
          "500": {
            "description": "Unsuccessful operation, returns http status 500. See 'example' property for possible values.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": [
                  {
                    "code": 669,
                    "message": "Backend responded with an unexpected SA Key"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "api_auth_code": [
              "order_securities"
            ]
          },
          {
            "api_implicit": [
              "order_securities"
            ]
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/estimatedExpense": {
      "post": {
        "tags": [
          "Order Entry"
        ],
        "description": "This API call returns cost information for the given security.",
        "operationId": "costinformation",
        "parameters": [
          {
            "name": "Correlation-Id",
            "in": "header",
            "description": "Free form key controlled by the caller e.g. uuid",
            "required": false,
            "schema": {
              "maxLength": 50,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EstimatedExpenseRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EstimatedExpenseResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unsuccessful operation, returns http status 400. See 'example' property for possible values.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": [
                  {
                    "code": 2,
                    "message": "Invalid value for %s."
                  },
                  {
                    "code": 102,
                    "message": "Invalid value for parameter externalOrderReference or securityAccountId."
                  },
                  {
                    "code": 111,
                    "message": "2FA method is not ACTIVE."
                  },
                  {
                    "code": 114,
                    "message": "Unable to identify transaction by Id."
                  },
                  {
                    "code": 122,
                    "message": "Invalid OTP."
                  },
                  {
                    "code": 127,
                    "message": "Booking date from must precede booking date to."
                  },
                  {
                    "code": 131,
                    "message": "Invalid value for 'sortBy'. Valid values are 'bookingDate[ASC]' and 'bookingDate[DESC]'."
                  },
                  {
                    "code": 601,
                    "message": "Order deletion/modification not allowed due to order state."
                  },
                  {
                    "code": 602,
                    "message": "Multiple positions exist. Please contact your personal bank advisor."
                  },
                  {
                    "code": 603,
                    "message": "Insufficient stock"
                  },
                  {
                    "code": 604,
                    "message": "Security data not found"
                  },
                  {
                    "code": 605,
                    "message": "Missing authorization"
                  },
                  {
                    "code": 606,
                    "message": "Quantity not tradeable"
                  },
                  {
                    "code": 607,
                    "message": "No suitable position found"
                  },
                  {
                    "code": 609,
                    "message": "Only one price should be provided for the order limit"
                  },
                  {
                    "code": 610,
                    "message": "The order exceeds the maximum available quota: Free quota: {freeQuota}"
                  },
                  {
                    "code": 611,
                    "message": "Not enough securities with minimum holding period available"
                  },
                  {
                    "code": 613,
                    "message": "Ordering quotas of OEREFs (Open-Ended Real Estate Funds) bought after 21.07.2013 and cannot be returned"
                  },
                  {
                    "code": 614,
                    "message": "Ordering quotas of OEREFs (Open-Ended Real Estate Funds) bought partly after 21.07.2013 and cannot be returned"
                  },
                  {
                    "code": 615,
                    "message": "Security not tradeable"
                  },
                  {
                    "code": 616,
                    "message": "Order not in orderbook"
                  },
                  {
                    "code": 617,
                    "message": "Minimum order amount not reached"
                  },
                  {
                    "code": 620,
                    "message": "CashAccount does not exist"
                  },
                  {
                    "code": 621,
                    "message": "Customer is not allowed to order"
                  },
                  {
                    "code": 622,
                    "message": "Security Account is not valid for orders"
                  },
                  {
                    "code": 623,
                    "message": "Liquidity not sufficient for order"
                  },
                  {
                    "code": 624,
                    "message": "MarketPlace does not exist"
                  },
                  {
                    "code": 633,
                    "message": "SecurityAccount does not exist"
                  },
                  {
                    "code": 634,
                    "message": "ExpiryDate is before current date"
                  },
                  {
                    "code": 635,
                    "message": "Invalid blockingDate"
                  },
                  {
                    "code": 636,
                    "message": "ExpiryDate must be a business day"
                  },
                  {
                    "code": 637,
                    "message": "Setting a limit when ordering over the capital management company is not possible"
                  },
                  {
                    "code": 638,
                    "message": "Setting an expiry date when ordering over the capital management company is not possible"
                  },
                  {
                    "code": 639,
                    "message": "Either WKN or ISIN must be provided"
                  },
                  {
                    "code": 640,
                    "message": "invalid preview Signature"
                  },
                  {
                    "code": 641,
                    "message": "preview Signature expired"
                  },
                  {
                    "code": 642,
                    "message": "preview Signature order parameter mismatch"
                  },
                  {
                    "code": 643,
                    "message": "Unique external order reference missing"
                  },
                  {
                    "code": 654,
                    "message": "Invalid limit price/stop price."
                  },
                  {
                    "code": 655,
                    "message": "The order is part of a bulk order and cannot be changed."
                  },
                  {
                    "code": 656,
                    "message": "addOns.expiryDate not allowed with type of addOns.restriction"
                  },
                  {
                    "code": 657,
                    "message": "OTC market place not allowed"
                  },
                  {
                    "code": 658,
                    "message": "Maximum addOns.expiryDate exceeded."
                  },
                  {
                    "code": 659,
                    "message": "Token doesn’t exist"
                  },
                  {
                    "code": 660,
                    "message": "No price returned by PriceModule"
                  },
                  {
                    "code": 661,
                    "message": "BestEx could not be retrieved for holding recommendation"
                  },
                  {
                    "code": 662,
                    "message": "No data for given wkn found"
                  },
                  {
                    "code": 664,
                    "message": "Mismatching ccy for the given security"
                  },
                  {
                    "code": 665,
                    "message": "Security not tradeable with market place"
                  },
                  {
                    "code": 666,
                    "message": "Best Execution stock market could not be determined"
                  },
                  {
                    "code": 667,
                    "message": "Portfolio not found"
                  },
                  {
                    "code": 668,
                    "message": "Security data not found"
                  },
                  {
                    "code": 670,
                    "message": "Market place ID not provided"
                  },
                  {
                    "code": 699,
                    "message": "reportToken doesn't exist"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unsuccessful operation, returns http status 401. See 'example' property for possible values.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": [
                  {
                    "code": 401,
                    "message": "The requested function requires a SCA Level Authentication."
                  },
                  {
                    "code": 644,
                    "message": "Order type is not allowed for user"
                  },
                  {
                    "code": 645,
                    "message": "User not allowed to use (2FA) session"
                  },
                  {
                    "code": 646,
                    "message": "Daily order limit exceeded"
                  },
                  {
                    "code": 647,
                    "message": "2FA for session renewal required. Limit exceeded"
                  },
                  {
                    "code": 648,
                    "message": "2FA for session renewal required. Time exceeded"
                  },
                  {
                    "code": 649,
                    "message": "2FA for session renewal required. Transaction count greater than max transaction count"
                  },
                  {
                    "code": 650,
                    "message": "Business authorisation issue. Cash account not found"
                  },
                  {
                    "code": 651,
                    "message": "Business authorisation issue. Security account not found"
                  },
                  {
                    "code": 652,
                    "message": "Business authorisation issue. Partner ID not found"
                  },
                  {
                    "code": 653,
                    "message": "Business authorisation issue. Client ID setup incorrect"
                  }
                ]
              }
            }
          },
          "500": {
            "description": "Unsuccessful operation, returns http status 500. See 'example' property for possible values.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": [
                  {
                    "code": 669,
                    "message": "Backend responded with an unexpected SA Key"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "api_auth_code": [
              "order_securities"
            ]
          },
          {
            "api_implicit": [
              "order_securities"
            ]
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/securityMarketPlaces": {
      "get": {
        "tags": [
          "Security Statics"
        ],
        "description": "This API returns market places for the given security.",
        "operationId": "securityMarketPlaces",
        "parameters": [
          {
            "name": "securityId",
            "in": "query",
            "description": "German securities identification code (Wertpapierkennnumer)",
            "required": true,
            "schema": {
              "pattern": "[A-Z0-9]{6}",
              "type": "string"
            }
          },
          {
            "name": "Correlation-Id",
            "in": "header",
            "description": "Free form key controlled by the caller e.g. uuid",
            "required": false,
            "schema": {
              "maxLength": 50,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityMarketPlaceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unsuccessful operation, returns http status 400. See 'example' property for possible values.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": [
                  {
                    "code": 2,
                    "message": "Invalid value for %s."
                  },
                  {
                    "code": 102,
                    "message": "Invalid value for parameter externalOrderReference or securityAccountId."
                  },
                  {
                    "code": 111,
                    "message": "2FA method is not ACTIVE."
                  },
                  {
                    "code": 114,
                    "message": "Unable to identify transaction by Id."
                  },
                  {
                    "code": 122,
                    "message": "Invalid OTP."
                  },
                  {
                    "code": 127,
                    "message": "Booking date from must precede booking date to."
                  },
                  {
                    "code": 131,
                    "message": "Invalid value for 'sortBy'. Valid values are 'bookingDate[ASC]' and 'bookingDate[DESC]'."
                  },
                  {
                    "code": 601,
                    "message": "Order deletion/modification not allowed due to order state."
                  },
                  {
                    "code": 602,
                    "message": "Multiple positions exist. Please contact your personal bank advisor."
                  },
                  {
                    "code": 603,
                    "message": "Insufficient stock"
                  },
                  {
                    "code": 604,
                    "message": "Security data not found"
                  },
                  {
                    "code": 605,
                    "message": "Missing authorization"
                  },
                  {
                    "code": 606,
                    "message": "Quantity not tradeable"
                  },
                  {
                    "code": 607,
                    "message": "No suitable position found"
                  },
                  {
                    "code": 609,
                    "message": "Only one price should be provided for the order limit"
                  },
                  {
                    "code": 610,
                    "message": "The order exceeds the maximum available quota: Free quota: {freeQuota}"
                  },
                  {
                    "code": 611,
                    "message": "Not enough securities with minimum holding period available"
                  },
                  {
                    "code": 613,
                    "message": "Ordering quotas of OEREFs (Open-Ended Real Estate Funds) bought after 21.07.2013 and cannot be returned"
                  },
                  {
                    "code": 614,
                    "message": "Ordering quotas of OEREFs (Open-Ended Real Estate Funds) bought partly after 21.07.2013 and cannot be returned"
                  },
                  {
                    "code": 615,
                    "message": "Security not tradeable"
                  },
                  {
                    "code": 616,
                    "message": "Order not in orderbook"
                  },
                  {
                    "code": 617,
                    "message": "Minimum order amount not reached"
                  },
                  {
                    "code": 620,
                    "message": "CashAccount does not exist"
                  },
                  {
                    "code": 621,
                    "message": "Customer is not allowed to order"
                  },
                  {
                    "code": 622,
                    "message": "Security Account is not valid for orders"
                  },
                  {
                    "code": 623,
                    "message": "Liquidity not sufficient for order"
                  },
                  {
                    "code": 624,
                    "message": "MarketPlace does not exist"
                  },
                  {
                    "code": 633,
                    "message": "SecurityAccount does not exist"
                  },
                  {
                    "code": 634,
                    "message": "ExpiryDate is before current date"
                  },
                  {
                    "code": 635,
                    "message": "Invalid blockingDate"
                  },
                  {
                    "code": 636,
                    "message": "ExpiryDate must be a business day"
                  },
                  {
                    "code": 637,
                    "message": "Setting a limit when ordering over the capital management company is not possible"
                  },
                  {
                    "code": 638,
                    "message": "Setting an expiry date when ordering over the capital management company is not possible"
                  },
                  {
                    "code": 639,
                    "message": "Either WKN or ISIN must be provided"
                  },
                  {
                    "code": 640,
                    "message": "invalid preview Signature"
                  },
                  {
                    "code": 641,
                    "message": "preview Signature expired"
                  },
                  {
                    "code": 642,
                    "message": "preview Signature order parameter mismatch"
                  },
                  {
                    "code": 643,
                    "message": "Unique external order reference missing"
                  },
                  {
                    "code": 654,
                    "message": "Invalid limit price/stop price."
                  },
                  {
                    "code": 655,
                    "message": "The order is part of a bulk order and cannot be changed."
                  },
                  {
                    "code": 656,
                    "message": "addOns.expiryDate not allowed with type of addOns.restriction"
                  },
                  {
                    "code": 657,
                    "message": "OTC market place not allowed"
                  },
                  {
                    "code": 658,
                    "message": "Maximum addOns.expiryDate exceeded."
                  },
                  {
                    "code": 659,
                    "message": "Token doesn’t exist"
                  },
                  {
                    "code": 660,
                    "message": "No price returned by PriceModule"
                  },
                  {
                    "code": 661,
                    "message": "BestEx could not be retrieved for holding recommendation"
                  },
                  {
                    "code": 662,
                    "message": "No data for given wkn found"
                  },
                  {
                    "code": 664,
                    "message": "Mismatching ccy for the given security"
                  },
                  {
                    "code": 665,
                    "message": "Security not tradeable with market place"
                  },
                  {
                    "code": 666,
                    "message": "Best Execution stock market could not be determined"
                  },
                  {
                    "code": 667,
                    "message": "Portfolio not found"
                  },
                  {
                    "code": 668,
                    "message": "Security data not found"
                  },
                  {
                    "code": 670,
                    "message": "Market place ID not provided"
                  },
                  {
                    "code": 699,
                    "message": "reportToken doesn't exist"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unsuccessful operation, returns http status 401. See 'example' property for possible values.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": [
                  {
                    "code": 401,
                    "message": "The requested function requires a SCA Level Authentication."
                  },
                  {
                    "code": 644,
                    "message": "Order type is not allowed for user"
                  },
                  {
                    "code": 645,
                    "message": "User not allowed to use (2FA) session"
                  },
                  {
                    "code": 646,
                    "message": "Daily order limit exceeded"
                  },
                  {
                    "code": 647,
                    "message": "2FA for session renewal required. Limit exceeded"
                  },
                  {
                    "code": 648,
                    "message": "2FA for session renewal required. Time exceeded"
                  },
                  {
                    "code": 649,
                    "message": "2FA for session renewal required. Transaction count greater than max transaction count"
                  },
                  {
                    "code": 650,
                    "message": "Business authorisation issue. Cash account not found"
                  },
                  {
                    "code": 651,
                    "message": "Business authorisation issue. Security account not found"
                  },
                  {
                    "code": 652,
                    "message": "Business authorisation issue. Partner ID not found"
                  },
                  {
                    "code": 653,
                    "message": "Business authorisation issue. Client ID setup incorrect"
                  }
                ]
              }
            }
          },
          "500": {
            "description": "Unsuccessful operation, returns http status 500. See 'example' property for possible values.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": [
                  {
                    "code": 669,
                    "message": "Backend responded with an unexpected SA Key"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "api_auth_code": [
              "order_securities"
            ]
          },
          {
            "api_implicit": [
              "order_securities"
            ]
          }
        ]
      }
    },
    "/{orderId}": {
      "get": {
        "tags": [
          "Order Details"
        ],
        "description": "This API returns details to a previously entered or modified order. The order is identified by its unique order id.",
        "operationId": "orderDetails",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "Unique system order identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Correlation-Id",
            "in": "header",
            "description": "Free form key controlled by the caller e.g. uuid",
            "required": false,
            "schema": {
              "maxLength": 50,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unsuccessful operation, returns http status 400. See 'example' property for possible values.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": [
                  {
                    "code": 2,
                    "message": "Invalid value for %s."
                  },
                  {
                    "code": 102,
                    "message": "Invalid value for parameter externalOrderReference or securityAccountId."
                  },
                  {
                    "code": 111,
                    "message": "2FA method is not ACTIVE."
                  },
                  {
                    "code": 114,
                    "message": "Unable to identify transaction by Id."
                  },
                  {
                    "code": 122,
                    "message": "Invalid OTP."
                  },
                  {
                    "code": 127,
                    "message": "Booking date from must precede booking date to."
                  },
                  {
                    "code": 131,
                    "message": "Invalid value for 'sortBy'. Valid values are 'bookingDate[ASC]' and 'bookingDate[DESC]'."
                  },
                  {
                    "code": 601,
                    "message": "Order deletion/modification not allowed due to order state."
                  },
                  {
                    "code": 602,
                    "message": "Multiple positions exist. Please contact your personal bank advisor."
                  },
                  {
                    "code": 603,
                    "message": "Insufficient stock"
                  },
                  {
                    "code": 604,
                    "message": "Security data not found"
                  },
                  {
                    "code": 605,
                    "message": "Missing authorization"
                  },
                  {
                    "code": 606,
                    "message": "Quantity not tradeable"
                  },
                  {
                    "code": 607,
                    "message": "No suitable position found"
                  },
                  {
                    "code": 609,
                    "message": "Only one price should be provided for the order limit"
                  },
                  {
                    "code": 610,
                    "message": "The order exceeds the maximum available quota: Free quota: {freeQuota}"
                  },
                  {
                    "code": 611,
                    "message": "Not enough securities with minimum holding period available"
                  },
                  {
                    "code": 613,
                    "message": "Ordering quotas of OEREFs (Open-Ended Real Estate Funds) bought after 21.07.2013 and cannot be returned"
                  },
                  {
                    "code": 614,
                    "message": "Ordering quotas of OEREFs (Open-Ended Real Estate Funds) bought partly after 21.07.2013 and cannot be returned"
                  },
                  {
                    "code": 615,
                    "message": "Security not tradeable"
                  },
                  {
                    "code": 616,
                    "message": "Order not in orderbook"
                  },
                  {
                    "code": 617,
                    "message": "Minimum order amount not reached"
                  },
                  {
                    "code": 620,
                    "message": "CashAccount does not exist"
                  },
                  {
                    "code": 621,
                    "message": "Customer is not allowed to order"
                  },
                  {
                    "code": 622,
                    "message": "Security Account is not valid for orders"
                  },
                  {
                    "code": 623,
                    "message": "Liquidity not sufficient for order"
                  },
                  {
                    "code": 624,
                    "message": "MarketPlace does not exist"
                  },
                  {
                    "code": 633,
                    "message": "SecurityAccount does not exist"
                  },
                  {
                    "code": 634,
                    "message": "ExpiryDate is before current date"
                  },
                  {
                    "code": 635,
                    "message": "Invalid blockingDate"
                  },
                  {
                    "code": 636,
                    "message": "ExpiryDate must be a business day"
                  },
                  {
                    "code": 637,
                    "message": "Setting a limit when ordering over the capital management company is not possible"
                  },
                  {
                    "code": 638,
                    "message": "Setting an expiry date when ordering over the capital management company is not possible"
                  },
                  {
                    "code": 639,
                    "message": "Either WKN or ISIN must be provided"
                  },
                  {
                    "code": 640,
                    "message": "invalid preview Signature"
                  },
                  {
                    "code": 641,
                    "message": "preview Signature expired"
                  },
                  {
[...]
