{
    "openapi": "3.0.1",
    "info": {
        "title": "SIX Web API (prod)",
        "description": "All APIs about listings",
        "contact": {
            "name": "SIX Web API Team 🚀",
            "url": "https://web.apiportal.six-group.com/portal/bfi/"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://web.api.six-group.com"
        }
    ],
    "security": [
        {
            "mutualTLS": [
                "mTLS is required to make API calls. It can be requested to SIX via the Dev Portal."
            ]
        }
    ],
    "paths": {
        "/api/findata/v1/listings/marketData/endOfDaySnapshot": {
            "get": {
                "tags": [
                    "marketData"
                ],
                "description": "REST API for End Of Day prices",
                "operationId": "endOfDaySnapshot",
                "parameters": [
                    {
                        "name": "scheme",
                        "in": "query",
                        "description": "Scheme of the Listing Identifier. It is a combination of the instrument scheme and the market scheme separated by underscore.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ISIN_BC",
                                "VALOR_BC",
                                "SEDOL_BC",
                                "CUSIP_BC",
                                "TICKER_BC",
                                "CINS_BC",
                                "COMMONCODE_BC",
                                "WKN_BC"
                            ]
                        },
                        "example": "VALOR_BC"
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Listing Identifier to be provided by client as input parameter. Several identifiers can be requested comma-separated.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "comma separated values"
                        },
                        "examples": {
                            "An example request with ABB stock on the Swiss Market": {
                                "summary": "1222171_4",
                                "description": "An example request with ABB stock on the Swiss Market",
                                "value": "1222171_4"
                            }
                        }
                    },
                    {
                        "name": "preferredLanguage",
                        "in": "query",
                        "description": "Language in ISO 639 for string fields where content in different languages is available.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "EN",
                                "DE",
                                "FR",
                                "IT"
                            ]
                        },
                        "example": "EN"
                    },
                    {
                        "name": "qualityOfService",
                        "in": "query",
                        "description": "The up-to-dateness of price data, also referred to as 'Data Quality Timeliness' or 'License Quality,' is determined by the default priority when no specific quality is chosen by the client in their request. The available quality levels are delivered based on the following order:\n\n    END_OF_DAY\n    PREVIOUS_DAY\n",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "DELAYED",
                                "REAL_TIME",
                                "END_OF_DAY",
                                "PREVIOUS_DAY"
                            ]
                        }
                    },
                    {
                        "name": "extensions",
                        "in": "query",
                        "description": "Select Extensions to know more about the GraphQL query, Data Status and Dataset IDs. EXPLAIN = include the equivalent GraphQL query in the REST API response.",
                        "required": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "description": "Optional metadata to be returned in the response",
                                "enum": [
                                    "EXPLAIN",
                                    "DATA_STATUS",
                                    "DATASET_IDS"
                                ]
                            }
                        },
                        "example": "EXPLAIN"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "api-version": {
                                "description": "The API version of the response",
                                "required": true,
                                "schema": {
                                    "type": "string",
                                    "format": "date"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListingsEndOfDaySnapshotTopLevelV1"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers": {
                            "ratelimit-limit": {
                                "description": "The maximum number of requests in the current window",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            },
                            "ratelimit-remaining": {
                                "description": "The number of requests remaining in the current rate limit window",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            },
                            "retry-after": {
                                "description": "How long to wait before making a follow-up request (in seconds)",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "example": {
                                    "message": "No required TLS certificate was sent"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "headers": {
                            "ratelimit-limit": {
                                "description": "The maximum number of requests in the current window",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            },
                            "ratelimit-remaining": {
                                "description": "The number of requests remaining in the current rate limit window",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            },
                            "retry-after": {
                                "description": "How long to wait before making a follow-up request (in seconds)",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "example": {
                                    "message": "Forbidden"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "headers": {
                            "ratelimit-limit": {
                                "description": "The maximum number of requests in the current window",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            },
                            "ratelimit-remaining": {
                                "description": "The number of requests remaining in the current rate limit window",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            },
                            "retry-after": {
                                "description": "How long to wait before making a follow-up request (in seconds)",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "example": {
                                    "message": "API rate limit exceeded"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers": {
                            "ratelimit-limit": {
                                "description": "The maximum number of requests in the current window",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            },
                            "ratelimit-remaining": {
                                "description": "The number of requests remaining in the current rate limit window",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            },
                            "retry-after": {
                                "description": "How long to wait before making a follow-up request (in seconds)",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "headers": {
                            "ratelimit-limit": {
                                "description": "The maximum number of requests in the current window",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            },
                            "ratelimit-remaining": {
                                "description": "The number of requests remaining in the current rate limit window",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            },
                            "retry-after": {
                                "description": "How long to wait before making a follow-up request (in seconds)",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "api-version",
                    "in": "header",
                    "description": "The API version is represented as a date in ISO 8601 format. If not explicitly specified, the system will default to the latest version available. Valid versions: 2022-01-01, 2023-01-01, 2024-01-01, 2024-03-01, 2024-06-01, 2024-08-01",
                    "required": false,
                    "style": "simple",
                    "schema": {
                        "type": "string",
                        "format": "date"
                    },
                    "example": "2024-08-01"
                }
            ]
        }
    },
    "components": {
        "schemas": {
            "Details": {
                "type": "object",
                "properties": {
                    "correlationId": {
                        "type": "string"
                    },
                    "userId": {
                        "type": "string"
                    }
                }
            },
            "ErrorDetail": {
                "required": [
                    "category",
                    "code",
                    "message"
                ],
                "type": "object",
                "properties": {
                    "category": {
                        "type": "string",
                        "description": "Error categories",
                        "example": "VALIDATION_ERROR",
                        "enum": [
                            "ENTITLEMENT_ERROR",
                            "VALIDATION_ERROR",
                            "DATA_FETCHING_ERROR",
                            "HTTP_ERROR",
                            "OTHER"
                        ]
                    },
                    "code": {
                        "type": "string",
                        "description": "code is used to identify the error",
                        "example": "CANNOT_CONVERT_PARAMETER",
                        "enum": [
                            "ACCESS_DENIED",
                            "TIMEOUT",
                            "INVALID_PERIOD",
                            "INVALID_RANGE",
                            "INVALID_CRITERIA",
                            "NO_DATA",
                            "PARAMETER_NOT_READABLE",
                            "PARAMETER_REQUIRED",
                            "DATA_REPORT_ERROR",
                            "QUOTA_LIMIT_EXCEEDED",
                            "INTERNAL_SERVICE_ERROR",
                            "REQUEST_NOT_ALLOWED",
                            "TOO_MANY_OPERATIONS",
                            "DUPLICATE_STREAM_ID",
                            "OTHER"
                        ]
                    },
                    "message": {
                        "type": "string",
                        "description": "a human readable description of the error",
                        "example": "missing header 'X-HEADER'"
                    },
                    "hint": {
                        "$ref": "#/components/schemas/Hint"
                    }
                },
                "description": "A machine/human readable description of an error."
            },
            "Explain": {
                "required": [
                    "query",
                    "variables"
                ],
                "type": "object",
                "properties": {
                    "query": {
                        "type": "string"
                    },
                    "variables": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "object"
                        }
                    }
                },
                "description": "Exposes the internal GraphQL query details behind a given REST request. Could be useful to migrate from REST to GraphQL (e.g. to customize the shape of the response). Disabled by default."
            },
            "ExtensionsData": {
                "type": "object",
                "properties": {
                    "explain": {
                        "$ref": "#/components/schemas/Explain"
                    },
                    "dataStatus": {
                        "type": "object",
                        "properties": {
                            "topLevel": {
                                "type": "string"
                            },
                            "dataStatus": {
                                "type": "array",
                                "items": {
                                    "type": "object"
                                }
                            },
                            "empty": {
                                "type": "boolean"
                            }
                        },
                        "additionalProperties": {
                            "type": "object"
                        }
                    },
                    "datasetIds": {
                        "type": "object",
                        "properties": {
                            "topLevel": {
                                "type": "string"
                            },
                            "datasetIds": {
                                "type": "array",
                                "items": {
                                    "type": "object"
                                }
                            },
                            "empty": {
                                "type": "boolean"
                            }
                        },
                        "additionalProperties": {
                            "type": "object"
                        }
                    },
                    "details": {
                        "$ref": "#/components/schemas/Details"
                    }
                }
            },
            "Hint": {
                "required": [
                    "data",
                    "type"
                ],
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "enum": [
                            "ALLOWED_RANGE",
                            "ALLOWED_VALUES",
                            "CONTACT_SIX"
                        ]
                    },
                    "data": {
                        "type": "object"
                    }
                },
                "description": "a machine readable description of the error"
            },
            "ListingsEndOfDaySnapshotAccruedInterestV1": {
                "required": [
                    "timestamp"
                ],
                "type": "object",
                "properties": {
                    "value": {
                        "type": "number",
                        "description": "The Value of the price type.",
                        "format": "double"
                    },
                    "timestamp": {
                        "type": "string",
                        "description": "Generally, in real-time feeds, the providers disseminate various Timestamps that are associated with different price types or events. There could be multiple timestamps associated with a given price.\n\nDifferent providers may have different names for these timestamps and will not necessarily provide all of them in their feeds. In some cases, if the timestamp is not provided by the exchange, SIX internal timestamp may be used.\n\nIn SIX products only one timestamp can be displayed with a given price or event. If the exchange provides multiple timestamps within the feed, use the timestamps in the following priority:\n\nMarket data entry time - the time when the price was entered on a trader's side.\nTransaction time - the time when the price was recognized by the exchange.\nExchange processing time - the time when the price was processed for updates, calculations at the exchange.\nExchange's sending time - the time that the exchange disseminate the price via the feed.",
                        "format": "date-time"
                    }
                },
                "description": "The Accrued interest refers to the interest that has accumulated on a fixed-income security but has not yet been paid to the investor. If the market is not yet closed or/and the embargo time has not yet elapsed, the previous generation value is provided."
            },
            "ListingsEndOfDaySnapshotAnnualisedDividendV1": {
                "required": [
                    "timestamp"
                ],
                "type": "object",
                "properties": {
                    "value": {
                        "type": "number",
                        "description": "The Value of the price type.",
                        "format": "double"
                    },
                    "timestamp": {
                        "type": "string",
                        "description": "Generally, in real-time feeds, the providers disseminate various Timestamps that are associated with different price types or events. There could be multiple timestamps associated with a given price.\n\nDifferent providers may have different names for these timestamps and will not necessarily provide all of them in their feeds. In some cases, if the timestamp is not provided by the exchange, SIX internal timestamp may be used.\n\nIn SIX products only one timestamp can be displayed with a given price or event. If the exchange provides multiple timestamps within the feed, use the timestamps in the following priority:\n\nMarket data entry time - the time when the price was entered on a trader's side.\nTransaction time - the time when the price was recognized by the exchange.\nExchange processing time - the time when the price was processed for updates, calculations at the exchange.\nExchange's sending time - the time that the exchange disseminate the price via the feed.",
                        "format": "date-time"
                    }
                },
                "description": "The Annualised Dividend is a calculated value that represents the total sum of distributions, including ordinary dividends and capital gains, made by an entity over the course of one year, retroactively from the ex-date 53 weeks back. It includes announced dividends by the management, providing insight into the entity's regular dividend distribution policy. However, special distributions and bonus dividends are excluded from this calculation. If the market is not yet closed or/and the embargo time has not yet elapsed, the previous generation value is provided."
            },
            "ListingsEndOfDaySnapshotAuctionTheoreticalMatchingPriceV1": {
                "required": [
                    "timestamp"
                ],
                "type": "object",
                "properties": {
                    "value": {
                        "type": "number",
                        "description": "The Value of the price type.",
                        "format": "double"
                    },
                    "timestamp": {
                        "type": "string",
                        "description": "Generally, in real-time feeds, the providers disseminate various Timestamps that are associated with different price types or events. There could be multiple timestamps associated with a given price.\n\nDifferent providers may have different names for these timestamps and will not necessarily provide all of them in their feeds. In some cases, if the timestamp is not provided by the exchange, SIX internal timestamp may be used.\n\nIn SIX products only one timestamp can be displayed with a given price or event. If the exchange provides multiple timestamps within the feed, use the timestamps in the following priority:\n\nMarket data entry time - the time when the price was entered on a trader's side.\nTransaction time - the time when the price was recognized by the exchange.\nExchange processing time - the time when the price was processed for updates, calculations at the exchange.\nExchange's sending time - the time that the exchange disseminate the price via the feed.",
                        "format": "date-time"
                    }
                },
                "description": "The Auction Theoretical Matching Price, determined by the provider, is a price at which the maximum volume of orders can be executed at the time of an auction. The Theoretical Matching Price facilitates price discovery and transparency while helping resolve order imbalances. It shows at what price the trading would start if the order book was opened immediately.\nNote that in some markets this price could be called Indicative Match Price, Equilibrium Price, etc. If the market is not yet closed or/and the embargo time has not yet elapsed, the previous generation value is provided."
            },
            "ListingsEndOfDaySnapshotAverageDailyVolumeMonthToDateV1": {
                "required": [
                    "timestamp"
                ],
                "type": "object",
                "properties": {
                    "value": {
                        "type": "number",
                        "description": "The Value of the price type.",
                        "format": "double"
                    },
                    "timestamp": {
                        "type": "string",
                        "description": "Generally, in real-time feeds, the providers disseminate various Timestamps that are associated with different price types or events. There could be multiple timestamps associated with a given price.\n\nDifferent providers may have different names for these timestamps and will not necessarily provide all of them in their feeds. In some cases, if the timestamp is not provided by the exchange, SIX internal timestamp may be used.\n\nIn SIX products only one timestamp can be displayed with a given price or event. If the exchange provides multiple timestamps within the feed, use the timestamps in the following priority:\n\nMarket data entry time - the time when the price was entered on a trader's side.\nTransaction time - the time when the price was recognized by the exchange.\nExchange processing time - the time when the price was processed for updates, calculations at the exchange.\nExchange's sending time - the time that the exchange disseminate the price via the feed.",
                        "format": "date-time"
                    }
                },
                "description": "The Average Daily Volume Month To Date is determined by SIX based using day-end trading volume since the start of the current month. If the market is not yet closed or/and the embargo time has not yet elapsed, the previous generation value is provided."
            },
            "ListingsEndOfDaySnapshotAverageDailyVolumePreviousMonthV1": {
                "required": [
                    "timestamp"
                ],
                "type": "object",
                "properties": {
                    "value": {
                        "type": "number",
                        "description": "The Value of the price type.",
                        "format": "double"
                    },
                    "timestamp": {
                        "type": "string",
                        "description": "Generally, in real-time feeds, the providers disseminate various Timestamps that are associated with different price types or events. There could be multiple timestamps associated with a given price.\n\nDifferent providers may have different names for these timestamps and will not necessarily provide all of them in their feeds. In some cases, if the timestamp is not provided by the exchange, SIX internal timestamp may be used.\n\nIn SIX products only one timestamp can be displayed with a given price or event. If the exchange provides multiple timestamps within the feed, use the timestamps in the following priority:\n\nMarket data entry time - the time when the price was entered on a trader's side.\nTransaction time - the time when the price was recognized by the exchange.\nExchange processing time - the time when the price was processed for updates, calculations at the exchange.\nExchange's sending time - the time that the exchange disseminate the price via the feed.",
                        "format": "date-time"
                    }
                },
                "description": "The Average Daily Volume Previous Month is determined by SIX based using day-end trading volume for the previous month."
            },
            "ListingsEndOfDaySnapshotBreakEvenPointV1": {
                "required": [
                    "timestamp"
                ],
                "type": "object",
                "properties": {
                    "value": {
                        "type": "number",
                        "description": "The Value of the price type.",
                        "format": "double"
                    },
                    "timestamp": {
                        "type": "string",
                        "description": "Generally, in real-time feeds, the providers disseminate various Timestamps that are associated with different price types or events. There could be multiple timestamps associated with a given price.\n\nDifferent providers may have different names for these timestamps and will not necessarily provide all of them in their feeds. In some cases, if the timestamp is not provided by the exchange, SIX internal timestamp may be used.\n\nIn SIX products only one timestamp can be displayed with a given price or event. If the exchange provides multiple timestamps within the feed, use the timestamps in the following priority:\n\nMarket data entry time - the time when the price was entered on a trader's side.\nTransaction time - the time when the price was recognized by the exchange.\nExchange processing time - the time when the price was processed for updates, calculations at the exchange.\nExchange's sending time - the time that the exchange disseminate the price via the feed.",
                        "format": "date-time"
                    }
                },
                "description": "The Break Even Point refers to the point at which the gains or losses from an investment or trade are equal to zero. It is the price or level of an asset at which there is neither profit nor loss. In other words, it is the point where the investor  has recouped their initial investment or reached a balance between costs and gains. If the market is not yet closed or/and the embargo time has not yet elapsed, the previous generation value is provided."
            },
            "ListingsEndOfDaySnapshotCloseV1": {
                "required": [
                    "timestamp"
                ],
                "type": "object",
                "properties": {
                    "value": {
                        "type": "number",
                        "description": "The Value of the price type.",
                        "format": "double"
                    },
                    "size": {
                        "type": "number",
                        "description": "A Size associated with a price value represent an amount of units/contracts/nominal offered for sale, demanded for purchase, traded, orders that will be executed at a given price (e.g. in the event of an auction theoretical matching price quantity).\n\nThe size associated with a quote can directly signal the market participant the ability of the market to absorb their order. Furthermore, it provides an indication of a market imbalance. The Ask Size is required by traders trading data products and those entities interest in intra-day market data values.\n\nThe size associated with a trade allows a market participant to see the trade volumes and estimate or understand the impact of their own order on the market and the probability of getting it fully executed. In addition, the trade size allows calculation of the Volume Weighted Average Price (VWAP).",
                        "format": "double"
                    },
                    "timestamp": {
                        "type": "string",
                        "description": "Generally, in real-time feeds, the providers disseminate various Timestamps that are associated with different price types or events. There could be multiple timestamps associated with a given price.\n\nDifferent providers may have different names for these timestamps and will not necessarily provide all of them in their feeds. In some cases, if the timestamp is not provided by the exchange, SIX internal timestamp may be used.\n\nIn SIX products only one timestamp can be displayed with a given price or event. If the exchange provides multiple timestamps within the feed, use the timestamps in the following priority:\n\nMarket data entry time - the time when the price was entered on a trader's side.\nTransaction time - the time when the price was recognized by the exchange.\nExchange processing time - the time when the price was processed for updates, calculations at the exchange.\nExchange's sending time - the time that the exchange disseminate the price via the feed.",
                        "format": "date-time"
                    }
                },
                "description": "The Close can either be derived from the final transaction conducted during the day or calculated by the provider. It serves as a reliable measure of the day's concluding value. If the market is not yet closed or/and the embargo time has not yet elapsed, the previous generation value is provided."
            },
            "ListingsEndOfDaySnapshotCloseYearV1": {
                "required": [
                    "timestamp"
                ],
                "type": "object",
                "properties": {
                    "value": {
                        "type": "number",
                        "description": "The Value of the price type.",
                        "format": "double"
                    },
                    "timestamp": {
                        "type": "string",
                        "description": "Generally, in real-time feeds, the providers disseminate various Timestamps that are associated with different price types or events. There could be multiple timestamps associated with a given price.\n\nDifferent providers may have different names for these timestamps and will not necessarily provide all of them in their feeds. In some cases, if the timestamp is not provided by the exchange, SIX internal timestamp may be used.\n\nIn SIX products only one timestamp can be displayed with a given price or event. If the exchange provides multiple timestamps within the feed, use the timestamps in the following priority:\n\nMarket data entry time - the time when the price was entered on a trader's side.\nTransaction time - the time when the price was recognized by the exchange.\nExchange processing time - the time when the price was processed for updates, calculations at the exchange.\nExchange's sending time - the time that the exchange disseminate the price via the feed.",
                        "format": "date-time"
                    }
                },
                "description": "The Close Year is the end of the year valuation price determined by SIX. Prices are selected by SIX at the last business day of the year. Subsequent updates valid for the preceding year and reported after 31 December are possible."
            },
            "ListingsEndOfDaySnapshotClosingAskV1": {
                "required": [
                    "timestamp"
                ],
                "type": "object",
                "properties": {
                    "value": {
                        "type": "number",
                        "description": "The Value of the price type.",
                        "format": "double"
                    },
                    "size": {
                        "type": "number",
                        "description": "A Size associated with a price value represent an amount of units/contracts/nominal offered for sale, demanded for purchase, traded, orders that will be executed at a given price (e.g. in the event of an auction theoretical matching price quantity).\n\nThe size associated with a quote can directly signal the market participant the ability of the market to absorb their order. Furthermore, it provides an indication of a market imbalance. The Ask Size is required by traders trading data products and those entities interest in intra-day market data values.\n\nThe size associated with a trade allows a market participant to see the trade volumes and estimate or understand the impact of their own order on the market and the probability of getting it fully executed. In addition, the trade size allows calculation of the Volume Weighted Average Price (VWAP).",
                        "format": "double"
                    },
                    "timestamp": {
                        "type": "string",
                        "description": "Generally, in real-time feeds, the providers disseminate various Timestamps that are associated with different price types or events. There could be multiple timestamps associated with a given price.\n\nDifferent providers may have different names for these timestamps and will not necessarily provide all of them in their feeds. In some cases, if the timestamp is not provided by the exchange, SIX internal timestamp may be used.\n\nIn SIX products only one timestamp can be displayed with a given price or event. If the exchange provides multiple timestamps within the feed, use the timestamps in the following priority:\n\nMarket data entry time - the time when the price was entered on a trader's side.\nTransaction time - the time when the price was recognized by the exchange.\nExchange processing time - the time when the price was processed for updates, calculations at the exchange.\nExchange's sending time - the time that the exchange disseminate the price via the feed.",
                        "format": "date-time"
                    }
                },
                "description": "The Closing Ask indicates the final/closing ask quote specifically identified as such by the provider (whether the exchange recognizes official closing values for quotes or not, i.e. some exchanges provide final quotes but do not official recognize them as official closing) or final quotes as determined by SIX based on the market practice. Generally, for contributors these will be the end of day quotes, while for exchanges it may be the quotes at the closing bell or at the end of the Trade at Last session. If the market is not yet closed or/and the embargo time has not yet elapsed, the previous generation value is provided."
            },
            "ListingsEndOfDaySnapshotClosingBidV1": {
                "required": [
                    "timestamp"
                ],
                "type": "object",
                "properties": {
                    "value": {
                        "type": "number",
                        "description": "The Value of the price type.",
                        "format": "double"
                    },
                    "size": {
                        "type": "number",
                        "description": "A Size associated with a price value represent an amount of units/contracts/nominal offered for sale, demanded for purchase, traded, orders that will be executed at a given price (e.g. in the event of an auction theoretical matching price quantity).\n\nThe size associated with a quote can directly signal the market participant the ability of the market to absorb their order. Furthermore, it provides an indication of a market imbalance. The Ask Size is required by traders trading data products and those entities interest in intra-day market data values.\n\nThe size associated with a trade allows a market participant to see the trade volumes and estimate or understand the impact of their own order on the market and the probability of getting it fully executed. In addition, the trade size allows calculation of the Volume Weighted Average Price (VWAP).",
                        "format": "double"
                    },
                    "timestamp": {
                        "type": "string",
                        "description": "Generally, in real-time feeds, the providers disseminate various Timestamps that are associated with different price types or events. There could be multiple timestamps associated with a given price.\n\nDifferent providers may have different names for these timestamps and will not necessarily provide all of them in their feeds. In some cases, if the timestamp is not provided by the exchange, SIX internal timestamp may be used.\n\nIn SIX products only one timestamp can be displayed with a given price or event. If the exchange provides multiple timestamps within the feed, use the timestamps in the following priority:\n\nMarket data entry time - the time when the price was entered on a trader's side.\nTransaction time - the time when the price was recognized by the exchange.\nExchange processing time - the time when the price was processed for updates, calculations at the exchange.\nExchange's sending time - the time that the exchange disseminate the price via the feed.",
                        "format": "date-time"
                    }
                },
                "description": "The Closing Bid indicates the final/closing bid quote specifically identified as such by the provider (whether the exchange recognizes official closing values for quotes or not, i.e. some exchanges provide final quotes but do not official recognize them as official closing) or final quotes as determined by SIX based on the market practice. Generally, for contributors these will be the end of day quotes, while for exchanges it may be the quotes at the closing bell or at the end of the Trade at Last session. If the market is not yet closed or/and the embargo time has not yet elapsed, the previous generation value is provided."
            },
            "ListingsEndOfDaySnapshotConvexityV1": {
                "required": [
                    "timestamp"
                ],
                "type": "object",
                "properties": {
                    "value": {
                        "type": "number",
                        "description": "The Value of the price type.",
                        "format": "double"
                    },
                    "timestamp": {
                        "type": "string",
                        "description": "Generally, in real-time feeds, the providers disseminate various Timestamps that are associated with different price types or events. There could be multiple timestamps associated with a given price.\n\nDifferent providers may have different names for these timestamps and will not necessarily provide all of them in their feeds. In some cases, if the timestamp is not provided by the exchange, SIX internal timestamp may be used.\n\nIn SIX products only one timestamp can be displayed with a given price or event. If the exchange provides multiple timestamps within the feed, use the timestamps in the following priority:\n\nMarket data entry time - the time when the price was entered on a trader's side.\nTransaction time - the time when the price was recognized by the exchange.\nExchange processing time - the time when the price was processed for updates, calculations at the exchange.\nExchange's sending time - the time that the exchange disseminate the price via the feed.",
                        "format": "date-time"
                    }
                },
                "description": "The Convexity quantifies how the bond's price  deviates from the linear approximation of duration based on the time to maturity. Positive convexity means that as interest rates decrease, the bond's price increases at an increasing rate, while negative convexity implies that as rates increase, the bond's price decreases at an increasing rate. If the market is not yet closed or/and the embargo time has not yet elapsed, the previous generation value is provided."
            },
            "ListingsEndOfDaySnapshotDeltaV1": {
                "required": [
                    "timestamp"
                ],
                "type": "object",
                "properties": {
                    "value": {
                        "type": "number",
                        "description": "The Value of the price type.",
                        "format": "double"
                    },
                    "timestamp": {
                        "type": "string",
                        "description": "Generally, in real-time feeds, the providers disseminate various Timestamps that are associated with different price types or events. There could be multiple timestamps associated with a given price.\n\nDifferent providers may have different names for these timestamps and will not necessarily provide all of them in their feeds. In some cases, if the timestamp is not provided by the exchange, SIX internal timestamp may be used.\n\nIn SIX products only one timestamp can be displayed with a given price or event. If the exchange provides multiple timestamps within the feed, use the timestamps in the following priority:\n\nMarket data entry time - the time when the price was entered on a trader's side.\nTransaction time - the time when the price was recognized by the exchange.\nExchange processing time - the time when the price was processed for updates, calculations at the exchange.\nExchange's sending time - the time that the exchange disseminate the price via the feed.",
                        "format": "date-time"
                    }
                },
                "description": "The Delta is a measure of an option's sensitivity to changes in the price of the underlying asset. It indicates the expected change in the option price for every 1 currency unit change in the underlying asset. Delta helps traders and investors manage risk and create delta-neutral portfolios to mitigate exposure to price fluctuations. If the market is not yet closed or/and the embargo time has not yet elapsed, the previous generation value is provided."
            },
            "ListingsEndOfDaySnapshotDividendYieldV1": {
                "required": [
                    "timestamp"
                ],
                "type": "object",
                "properties": {
                    "value": {
                        "type": "number",
                        "description": "The Value of the price type.",
                        "format": "double"
                    },
                    "timestamp": {
                        "type": "string",
                        "description": "Generally, in real-time feeds, the providers disseminate various Timestamps that are associated with different price types or events. There could be multiple timestamps associated with a given price.\n\nDifferent providers may have different names for these timestamps and will not necessarily provide all of them in their feeds. In some cases, if the timestamp is not provided by the exchange, SIX internal timestamp may be used.\n\nIn SIX products only one timestamp can be displayed with a given price or event. If the exchange provides multiple timestamps within the feed, use the timestamps in the following priority:\n\nMarket data entry time - the time when the price was entered on a trader's side.\nTransaction time - the time when the price was recognized by the exchange.\nExchange processing time - the time when the price was processed for updates, calculations at the exchange.\nExchange's sending time - the time that the exchange disseminate the price via the feed.",
                        "format": "date-time"
                    }
                },
                "description": "A Dividend Yield is the annualized gross yield based on the market price of a share. The dividend amount paid is based on the actual historical regular dividend payments looking back 12 months (trailing dividend method)."
            },
            "ListingsEndOfDaySnapshotDurationV1": {
                "required": [
                    "timestamp"
                ],
                "type": "object",
                "properties": {
                    "value": {
                        "type": "number",
                        "description": "The Value of the price type.",
                        "format": "double"
                    },
                    "timestamp": {
                        "type": "string",
                        "description": "Generally, in real-time feeds, the providers disseminate various Timestamps that are associated with different price types or events. There could be multiple timestamps associated with a given price.\n\nDifferent providers may have different names for these timestamps and will not necessarily provide all of them in their feeds. In some cases, if the timestamp is not provided by the exchange, SIX internal timestamp may be used.\n\nIn SIX products only one timestamp can be displayed with a given price or event. If the exchange provides multiple timestamps within the feed, use the timestamps in the following priority:\n\nMarket data entry time - the time when the price was entered on a trader's side.\nTransaction time - the time when the price was recognized by the exchange.\nExchange processing time - the time when the price was processed for updates, calculations at the exchange.\nExchange's sending time - the time that the exchange disseminate the price via the feed.",
                        "format": "date-time"
                    }
                },
                "description": "The Duration represents the weighted average time (in years) it takes for an investor to receive the present value of the bond's cash flows, including coupon payments and the return of principal based on the time to maturity. Duration helps assess the price volatility and interest rate risk of fixed-income investments. Generally, higher-duration securities are more sensitive to interest rate changes, while lower-duration securities are less affected by interest rate movements. If the market is not yet closed or/and the embargo time has not yet elapsed, the previous generation value is provided."
            },
            "ListingsEndOfDaySnapshotEndOfDaySnapshotV1": {
                "type": "object",
                "properties": {
                    "qualityOfService": {
                        "type": "string",
                        "description": "The up-to-dateness of price data, also referred to as 'Data Quality Timeliness' or 'License Quality', is determined by the default priority when no specific quality is chosen by the client in their request.\nThe available quality levels are delivered based on the following order:\n1. REAL_TIME\n2. DELAYED\n3. END_OF_DAY\n4. PREVIOUS_DAY",
                        "enum": [
                            "DELAYED",
                            "REAL_TIME",
                            "END_OF_DAY",
                            "PREVIOUS_DAY"
                        ]
                    },
                    "open": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotOpenV1"
                    },
                    "high": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotHighV1"
                    },
                    "low": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotLowV1"
                    },
                    "close": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotCloseV1"
                    },
                    "mid": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotMidV1"
                    },
                    "closingBid": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotClosingBidV1"
                    },
                    "closingAsk": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotClosingAskV1"
                    },
                    "highStaticLimit": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotHighStaticLimitV1"
                    },
                    "lowStaticLimit": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotLowStaticLimitV1"
                    },
                    "numberOfTrades": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotNumberOfTradesV1"
                    },
                    "volume": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotVolumeV1"
                    },
                    "volumeTotal": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotVolumeTotalV1"
                    },
                    "turnover": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotTurnoverV1"
                    },
                    "turnoverTotal": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotTurnoverTotalV1"
                    },
                    "yieldToMaturity": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotYieldToMaturityV1"
                    },
                    "dividendYield": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotDividendYieldV1"
                    },
                    "marketCapitalisation": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotMarketCapitalisationV1"
                    },
                    "settlementPrice": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotSettlementPriceV1"
                    },
                    "openInterest": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotOpenInterestV1"
                    },
                    "vwap": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotVwapV1"
                    },
                    "latestDividend": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotLatestDividendV1"
                    },
                    "annualisedDividend": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotAnnualisedDividendV1"
                    },
                    "indicatedAnnualDividend": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotIndicatedAnnualDividendV1"
                    },
                    "averageDailyVolumeMonthToDate": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotAverageDailyVolumeMonthToDateV1"
                    },
                    "averageDailyVolumePreviousMonth": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotAverageDailyVolumePreviousMonthV1"
                    },
                    "priceEarningsRatioReported": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotPriceEarningsRatioReportedV1"
                    },
                    "priceEarningsRatioEstimated": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotPriceEarningsRatioEstimatedV1"
                    },
                    "delta": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotDeltaV1"
                    },
                    "vega": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotVegaV1"
                    },
                    "gamma": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotGammaV1"
                    },
                    "theta": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotThetaV1"
                    },
                    "rho": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotRhoV1"
                    },
                    "omega": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotOmegaV1"
                    },
                    "gearing": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotGearingV1"
                    },
                    "moneyness": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotMoneynessV1"
                    },
                    "breakEvenPoint": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotBreakEvenPointV1"
                    },
                    "intrinsicValue": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotIntrinsicValueV1"
                    },
                    "auctionTheoreticalMatchingPrice": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotAuctionTheoreticalMatchingPriceV1"
                    },
                    "impliedVolatility": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotImpliedVolatilityV1"
                    },
                    "historicalVolatility30Days": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotHistoricalVolatility30DaysV1"
                    },
                    "historicalVolatility90Days": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotHistoricalVolatility90DaysV1"
                    },
                    "historicalVolatility180Days": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotHistoricalVolatility180DaysV1"
                    },
                    "historicalVolatility250Days": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotHistoricalVolatility250DaysV1"
                    },
                    "closeYear": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotCloseYearV1"
                    },
                    "duration": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotDurationV1"
                    },
                    "modifiedDuration": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotModifiedDurationV1"
                    },
                    "convexity": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotConvexityV1"
                    },
                    "accruedInterest": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotAccruedInterestV1"
                    },
                    "timeToMaturity": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotTimeToMaturityV1"
                    },
                    "yieldToCall": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotYieldToCallV1"
                    },
                    "totalExpenseRatio": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotTotalExpenseRatioV1"
                    }
                },
                "description": "End of Day Snapshot."
            },
            "ListingsEndOfDaySnapshotGammaV1": {
                "required": [
                    "timestamp"
                ],
                "type": "object",
                "properties": {
                    "value": {
                        "type": "number",
                        "description": "The Value of the price type.",
                        "format": "double"
                    },
                    "timestamp": {
                        "type": "string",
                        "description": "Generally, in real-time feeds, the providers disseminate various Timestamps that are associated with different price types or events. There could be multiple timestamps associated with a given price.\n\nDifferent providers may have different names for these timestamps and will not necessarily provide all of them in their feeds. In some cases, if the timestamp is not provided by the exchange, SIX internal timestamp may be used.\n\nIn SIX products only one timestamp can be displayed with a given price or event. If the exchange provides multiple timestamps within the feed, use the timestamps in the following priority:\n\nMarket data entry time - the time when the price was entered on a trader's side.\nTransaction time - the time when the price was recognized by the exchange.\nExchange processing time - the time when the price was processed for updates, calculations at the exchange.\nExchange's sending time - the time that the exchange disseminate the price via the feed.",
                        "format": "date-time"
                    }
                },
                "description": "The Gamma is a measure of the rate of change in an option's delta in response to changes in the price of the underlying asset. It represents the acceleration of delta. A higher gamma indicates that the delta of an option will change more rapidly in response to small movements in the underlying asset's price, while a lower gamma implies slower changes in delta. Gamma is important for options traders as it helps them assess and manage the risk associated with changes in delta and underlying asset prices. If the market is not yet closed or/and the embargo time has not yet elapsed, the previous generation value is provided."
            },
            "ListingsEndOfDaySnapshotGearingV1": {
                "required": [
                    "timestamp"
                ],
                "type": "object",
                "properties": {
                    "value": {
                        "type": "number",
                        "description": "The Value of the price type.",
                        "format": "double"
                    },
                    "timestamp": {
                        "type": "string",
                        "description": "Generally, in real-time feeds, the providers disseminate various Timestamps that are associated with different price types or events. There could be multiple timestamps associated with a given price.\n\nDifferent providers may have different names for these timestamps and will not necessarily provide all of them in their feeds. In some cases, if the timestamp is not provided by the exchange, SIX internal timestamp may be used.\n\nIn SIX products only one timestamp can be displayed with a given price or event. If the exchange provides multiple timestamps within the feed, use the timestamps in the following priority:\n\nMarket data entry time - the time when the price was entered on a trader's side.\nTransaction time - the time when the price was recognized by the exchange.\nExchange processing time - the time when the price was processed for updates, calculations at the exchange.\nExchange's sending time - the time that the exchange disseminate the price via the feed.",
                        "format": "date-time"
                    }
                },
                "description": "The Gearing shows the ratio between the price of the underlying security and the price of the option. Also known as simple gearing. If the market is not yet closed or/and the embargo time has not yet elapsed, the previous generation value is provided."
            },
            "ListingsEndOfDaySnapshotHighStaticLimitV1": {
                "required": [
                    "timestamp"
                ],
                "type": "object",
                "properties": {
                    "value": {
                        "type": "number",
                        "description": "The Value of the price type.",
                        "format": "double"
                    },
                    "timestamp": {
                        "type": "string",
                        "description": "Generally, in real-time feeds, the providers disseminate various Timestamps that are associated with different price types or events. There could be multiple timestamps associated with a given price.\n\nDifferent providers may have different names for these timestamps and will not necessarily provide all of them in their feeds. In some cases, if the timestamp is not provided by the exchange, SIX internal timestamp may be used.\n\nIn SIX products only one timestamp can be displayed with a given price or event. If the exchange provides multiple timestamps within the feed, use the timestamps in the following priority:\n\nMarket data entry time - the time when the price was entered on a trader's side.\nTransaction time - the time when the price was recognized by the exchange.\nExchange processing time - the time when the price was processed for updates, calculations at the exchange.\nExchange's sending time - the time that the exchange disseminate the price via the feed.",
                        "format": "date-time"
                    }
                },
                "description": "The High Static Limit is a provider or SIX calculated upper limit for price movements within a trading day. It is a static limit determined at the start of the trading day. Based on the high static limit market participants can estimate the price level for a possible volatility interruption and place their orders accordingly to profit from price spikes and price volatility. If the market is not yet closed or/and the embargo time has not yet elapsed, the previous generation value is provided."
            },
            "ListingsEndOfDaySnapshotHighV1": {
                "required": [
                    "timestamp"
                ],
                "type": "object",
                "properties": {
                    "value": {
                        "type": "number",
                        "description": "The Value of the price type.",
                        "format": "double"
                    },
                    "size": {
                        "type": "number",
                        "description": "A Size associated with a price value represent an amount of units/contracts/nominal offered for sale, demanded for purchase, traded, orders that will be executed at a given price (e.g. in the event of an auction theoretical matching price quantity).\n\nThe size associated with a quote can directly signal the market participant the ability of the market to absorb their order. Furthermore, it provides an indication of a market imbalance. The Ask Size is required by traders trading data products and those entities interest in intra-day market data values.\n\nThe size associated with a trade allows a market participant to see the trade volumes and estimate or understand the impact of their own order on the market and the probability of getting it fully executed. In addition, the trade size allows calculation of the Volume Weighted Average Price (VWAP).",
                        "format": "double"
                    },
                    "timestamp": {
                        "type": "string",
                        "description": "Generally, in real-time feeds, the providers disseminate various Timestamps that are associated with different price types or events. There could be multiple timestamps associated with a given price.\n\nDifferent providers may have different names for these timestamps and will not necessarily provide all of them in their feeds. In some cases, if the timestamp is not provided by the exchange, SIX internal timestamp may be used.\n\nIn SIX products only one timestamp can be displayed with a given price or event. If the exchange provides multiple timestamps within the feed, use the timestamps in the following priority:\n\nMarket data entry time - the time when the price was entered on a trader's side.\nTransaction time - the time when the price was recognized by the exchange.\nExchange processing time - the time when the price was processed for updates, calculations at the exchange.\nExchange's sending time - the time that the exchange disseminate the price via the feed.",
                        "format": "date-time"
                    }
                },
                "description": "A High is the highest traded price for the security within the current trading session. If not delivered by the price information provider and there is no recorded trade price, it may be computed using the highest ask of the trading session. If the market is not yet closed or/and the embargo time has not yet elapsed, the previous generation value is provided."
            },
            "ListingsEndOfDaySnapshotHistoricalVolatility180DaysV1": {
                "required": [
                    "timestamp"
                ],
                "type": "object",
                "properties": {
                    "value": {
                        "type": "number",
                        "description": "The Value of the price type.",
                        "format": "double"
                    },
                    "timestamp": {
                        "type": "string",
                        "description": "Generally, in real-time feeds, the providers disseminate various Timestamps that are associated with different price types or events. There could be multiple timestamps associated with a given price.\n\nDifferent providers may have different names for these timestamps and will not necessarily provide all of them in their feeds. In some cases, if the timestamp is not provided by the exchange, SIX internal timestamp may be used.\n\nIn SIX products only one timestamp can be displayed with a given price or event. If the exchange provides multiple timestamps within the feed, use the timestamps in the following priority:\n\nMarket data entry time - the time when the price was entered on a trader's side.\nTransaction time - the time when the price was recognized by the exchange.\nExchange processing time - the time when the price was processed for updates, calculations at the exchange.\nExchange's sending time - the time that the exchange disseminate the price via the feed.",
                        "format": "date-time"
                    }
                },
                "description": "The Historical 180 Days Volatility refers to the measure of the price volatility of an underlying asset over a specific historical period of 180 days. It calculates the standard deviation of the asset's prices during that period to gauge the level of volatility experienced by the asset. Historical 180 Days Volatility provides a snapshot price fluctuations, allowing investors to assess the short-term volatility characteristics of the asset and make informed decisions based on the observed historical volatility patterns. If the market is not yet closed or/and the embargo time has not yet elapsed, the previous generation value is provided."
            },
            "ListingsEndOfDaySnapshotHistoricalVolatility250DaysV1": {
                "required": [
                    "timestamp"
                ],
                "type": "object",
                "properties": {
                    "value": {
                        "type": "number",
                        "description": "The Value of the price type.",
                        "format": "double"
                    },
                    "timestamp": {
                        "type": "string",
                        "description": "Generally, in real-time feeds, the providers disseminate various Timestamps that are associated with different price types or events. There could be multiple timestamps associated with a given price.\n\nDifferent providers may have different names for these timestamps and will not necessarily provide all of them in their feeds. In some cases, if the timestamp is not provided by the exchange, SIX internal timestamp may be used.\n\nIn SIX products only one timestamp can be displayed with a given price or event. If the exchange provides multiple timestamps within the feed, use the timestamps in the following priority:\n\nMarket data entry time - the time when the price was entered on a trader's side.\nTransaction time - the time when the price was recognized by the exchange.\nExchange processing time - the time when the price was processed for updates, calculations at the exchange.\nExchange's sending time - the time that the exchange disseminate the price via the feed.",
                        "format": "date-time"
                    }
                },
                "description": "The Historical 250 Days Volatility refers to the measure of the price volatility of an underlying asset over a specific historical period of 250 days. It calculates the standard deviation of the asset's prices during that period to gauge the level of volatility experienced by the asset. Historical 180 Days Volatility provides a snapshot price fluctuations, allowing investors to assess the short-term volatility characteristics of the asset and make informed decisions based on the observed historical volatility patterns. If the market is not yet closed or/and the embargo time has not yet elapsed, the previous generation value is provided."
            },
            "ListingsEndOfDaySnapshotHistoricalVolatility30DaysV1": {
                "required": [
                    "timestamp"
                ],
                "type": "object",
                "properties": {
                    "value": {
                        "type": "number",
                        "description": "The Value of the price type.",
                        "format": "double"
                    },
                    "timestamp": {
                        "type": "string",
                        "description": "Generally, in real-time feeds, the providers disseminate various Timestamps that are associated with different price types or events. There could be multiple timestamps associated with a given price.\n\nDifferent providers may have different names for these timestamps and will not necessarily provide all of them in their feeds. In some cases, if the timestamp is not provided by the exchange, SIX internal timestamp may be used.\n\nIn SIX products only one timestamp can be displayed with a given price or event. If the exchange provides multiple timestamps within the feed, use the timestamps in the following priority:\n\nMarket data entry time - the time when the price was entered on a trader's side.\nTransaction time - the time when the price was recognized by the exchange.\nExchange processing time - the time when the price was processed for updates, calculations at the exchange.\nExchange's sending time - the time that the exchange disseminate the price via the feed.",
                        "format": "date-time"
                    }
                },
                "description": "The Historical 30 Days Volatility refers to the measure of the price volatility of an underlying asset over a specific historical period of 30 days. It calculates the standard deviation of the asset's prices during that period to gauge the level of volatility experienced by the asset. Historical 30 Days Volatility provides a snapshot price fluctuations, allowing investors to assess the short-term volatility characteristics of the asset and make informed decisions based on the observed historical volatility patterns. If the market is not yet closed or/and the embargo time has not yet elapsed, the previous generation value is provided."
            },
            "ListingsEndOfDaySnapshotHistoricalVolatility90DaysV1": {
                "required": [
                    "timestamp"
                ],
                "type": "object",
                "properties": {
                    "value": {
                        "type": "number",
                        "description": "The Value of the price type.",
                        "format": "double"
                    },
                    "timestamp": {
                        "type": "string",
                        "description": "Generally, in real-time feeds, the providers disseminate various Timestamps that are associated with different price types or events. There could be multiple timestamps associated with a given price.\n\nDifferent providers may have different names for these timestamps and will not necessarily provide all of them in their feeds. In some cases, if the timestamp is not provided by the exchange, SIX internal timestamp may be used.\n\nIn SIX products only one timestamp can be displayed with a given price or event. If the exchange provides multiple timestamps within the feed, use the timestamps in the following priority:\n\nMarket data entry time - the time when the price was entered on a trader's side.\nTransaction time - the time when the price was recognized by the exchange.\nExchange processing time - the time when the price was processed for updates, calculations at the exchange.\nExchange's sending time - the time that the exchange disseminate the price via the feed.",
                        "format": "date-time"
                    }
                },
                "description": "The Historical 90 Days Volatility refers to the measure of the price volatility of an underlying asset over a specific historical period of 90 days. It calculates the standard deviation of the asset's prices during that period to gauge the level of volatility experienced by the asset. Historical 90 Days Volatility provides a snapshot price fluctuations, allowing investors to assess the short-term volatility characteristics of the asset and make informed decisions based on the observed historical volatility patterns. If the market is not yet closed or/and the embargo time has not yet elapsed, the previous generation value is provided."
            },
            "ListingsEndOfDaySnapshotImpliedVolatilityV1": {
                "required": [
                    "timestamp"
                ],
                "type": "object",
                "properties": {
                    "value": {
                        "type": "number",
                        "description": "The Value of the price type.",
                        "format": "double"
                    },
                    "timestamp": {
                        "type": "string",
                        "description": "Generally, in real-time feeds, the providers disseminate various Timestamps that are associated with different price types or events. There could be multiple timestamps associated with a given price.\n\nDifferent providers may have different names for these timestamps and will not necessarily provide all of them in their feeds. In some cases, if the timestamp is not provided by the exchange, SIX internal timestamp may be used.\n\nIn SIX products only one timestamp can be displayed with a given price or event. If the exchange provides multiple timestamps within the feed, use the timestamps in the following priority:\n\nMarket data entry time - the time when the price was entered on a trader's side.\nTransaction time - the time when the price was recognized by the exchange.\nExchange processing time - the time when the price was processed for updates, calculations at the exchange.\nExchange's sending time - the time that the exchange disseminate the price via the feed.",
                        "format": "date-time"
                    }
                },
                "description": "The Implied Volatility refers to the market's expectation of the future volatility of an underlying asset. It represents the level of uncertainty or anticipated price fluctuations that market participants believe the asset will experience over a specified period. Higher implied volatility suggests greater expected price swings, while lower implied volatility indicates a calmer or more stable market expectation. If the market is not yet closed or/and the embargo time has not yet elapsed, the previous generation value is provided."
            },
            "ListingsEndOfDaySnapshotIndicatedAnnualDividendV1": {
                "required": [
                    "timestamp"
                ],
                "type": "object",
                "properties": {
                    "value": {
                        "type": "number",
                        "description": "The Value of the price type.",
                        "format": "double"
                    },
                    "timestamp": {
                        "type": "string",
                        "description": "Generally, in real-time feeds, the providers disseminate various Timestamps that are associated with different price types or events. There could be multiple timestamps associated with a given price.\n\nDifferent providers may have different names for these timestamps and will not necessarily provide all of them in their feeds. In some cases, if the timestamp is not provided by the exchange, SIX internal timestamp may be used.\n\nIn SIX products only one timestamp can be displayed with a given price or event. If the exchange provides multiple timestamps within the feed, use the timestamps in the following priority:\n\nMarket data entry time - the time when the price was entered on a trader's side.\nTransaction time - the time when the price was recognized by the exchange.\nExchange processing time - the time when the price was processed for updates, calculations at the exchange.\nExchange's sending time - the time that the exchange disseminate the price via the feed.",
                        "format": "date-time"
                    }
                },
                "description": "The Indicated Annual Dividend is the amount of dividends per share a company or mutual fund is expected to pay. If the market is not yet closed or/and the embargo time has not yet elapsed, the previous generation value is provided."
            },
            "ListingsEndOfDaySnapshotIntrinsicValueV1": {
                "required": [
                    "timestamp"
                ],
                "type": "object",
                "properties": {
                    "value": {
                        "type": "number",
                        "description": "The Value of the price type.",
                        "format": "double"
                    },
                    "timestamp": {
                        "type": "string",
                        "description": "Generally, in real-time feeds, the providers disseminate various Timestamps that are associated with different price types or events. There could be multiple timestamps associated with a given price.\n\nDifferent providers may have different names for these timestamps and will not necessarily provide all of them in their feeds. In some cases, if the timestamp is not provided by the exchange, SIX internal timestamp may be used.\n\nIn SIX products only one timestamp can be displayed with a given price or event. If the exchange provides multiple timestamps within the feed, use the timestamps in the following priority:\n\nMarket data entry time - the time when the price was entered on a trader's side.\nTransaction time - the time when the price was recognized by the exchange.\nExchange processing time - the time when the price was processed for updates, calculations at the exchange.\nExchange's sending time - the time that the exchange disseminate the price via the feed.",
                        "format": "date-time"
                    }
                },
                "description": "The Intrinsic Value refers to the inherent value of an option or a security, independent of its market price. It represents tha actual worth of an option or security based on its underlying assets or cash flows. In the case of options, the intrinsic value is the difference between the current price of the underlying asset and the option's strike price, if it is in-the-money. If an option is out-of-the-money, the intrinsic value is zero. If the market is not yet closed or/and the embargo time has not yet elapsed, the previous generation value is provided."
            },
            "ListingsEndOfDaySnapshotLatestDividendV1": {
                "required": [
                    "timestamp"
                ],
                "type": "object",
                "properties": {
                    "value": {
                        "type": "number",
                        "description": "The Value of the price type.",
                        "format": "double"
                    },
                    "timestamp": {
                        "type": "string",
                        "description": "Generally, in real-time feeds, the providers disseminate various Timestamps that are associated with different price types or events. There could be multiple timestamps associated with a given price.\n\nDifferent providers may have different names for these timestamps and will not necessarily provide all of them in their feeds. In some cases, if the timestamp is not provided by the exchange, SIX internal timestamp may be used.\n\nIn SIX products only one timestamp can be displayed with a given price or event. If the exchange provides multiple timestamps within the feed, use the timestamps in the following priority:\n\nMarket data entry time - the time when the price was entered on a trader's side.\nTransaction time - the time when the price was recognized by the exchange.\nExchange processing time - the time when the price was processed for updates, calculations at the exchange.\nExchange's sending time - the time that the exchange disseminate the price via the feed.",
                        "format": "date-time"
                    }
                },
                "description": "The Latest Dividend is the distribution of corporate earnings to eligible shareholders. This field represents the cumulated distribution for the same ex-date. If the market is not yet closed or/and the embargo time has not yet elapsed, the previous generation value is provided."
            },
            "ListingsEndOfDaySnapshotListingsDataV1": {
                "type": "object",
                "properties": {
                    "listings": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ListingsEndOfDaySnapshotListingsItemV1"
                        }
                    }
                }
            },
            "ListingsEndOfDaySnapshotListingsItemV1": {
                "required": [
                    "lookupStatus",
                    "requestedId",
                    "requestedScheme"
                ],
                "type": "object",
                "properties": {
                    "requestedId": {
                        "type": "string",
                        "description": "The requested entity id used in the request"
                    },
                    "requestedScheme": {
                        "type": "string",
                        "description": "The requested scheme used in the request",
                        "enum": [
                            "ISIN_BC",
                            "VALOR_BC",
                            "SEDOL_BC",
                            "CUSIP_BC",
                            "TICKER_BC",
                            "CINS_BC",
                            "COMMONCODE_BC",
                            "WKN_BC"
                        ]
                    },
                    "lookupStatus": {
                        "type": "string",
                        "description": "Status of the response",
                        "enum": [
                            "FOUND",
                            "NOT_FOUND",
                            "NOT_AUTHORIZED",
                            "NOT_VALID_ID"
                        ]
                    },
                    "lookup": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotLookupV1"
                    },
                    "marketData": {
                        "$ref": "#/components/schemas/ListingsEndOfDaySnapshotMarketDataV1"
                    }
                }
            },
            "ListingsEndOfDaySnapshotLookupV1": {
                "required": [
                    "listingCurrency",
                    "listingName",
                    "listingShortName",
                    "listingStatus",
                    "marketName",
                    "marketShortName"
                ],
                "type": "object",
                "properties": {
                    "listingName": {
                        "type": "string",
                        "description": "Listing short name with up to 19 characters.\n<br>Deprecation reason: Use listingShortName, removed since version '2024-01-01'",
                        "deprecated": true
                    },
                    "marketName": {
                        "type": "string",
                        "description": "Market short name with up to 19 characters.\n<br>Deprecation reason: Use marketShortName, removed since version '2024-01-01'",
                        "deprecated": true
                    },
                    "listingShortName": {
                        "type": "string",
                        "description": "Listing short name with up to 19 characters."
                    },
                    "marketShortName": {
                        "type": "string",
                        "description": "The market short name where the instrument is listed with up to 19 characters."
                    },
                    "listingCurrency": {
                        "type": "string",
                        "description": "The trading currency, as specified by SIX, typically follows the ISO 4217 alpha-3 code. This is shown in the main currency and not in fractional units. For cryptocurrencies, the Cryptocurrency Symbol in Instrument Symbology can be used for reference."
                    },
                    "listingStatus": {
                        "type": "string",
                        "description": "This shows the instruments status on the market - it shows if it is listed, suspended, admited to trading, delisted, etc",
                        "enum": [
                            "UNOFFICIALLY_LISTED_ACCORDING_TO_EXCHANGE",
                            "APPLIED",
                            "LISTED",
                            "SUSPENDED",
                            "WITHDRAWN",
                            "DELISTED_BY_EXCHANGE",
                            "PROVISIONAL",
                            "WHEN_ISSUED",
                            "NOT_LISTED",
                            "ADMITTED_TO_TRADING",
                            "OFFICIAL_LISTING_ACC_TO_REGULATORY_AUTHORITY",
                            "VIRTUAL_LISTING_DERIVED_VALUES_ONLY",
                            "LISTING_NO_TRADING",
                            "OTHER"
                        ]
                    }
                }
            },
            "ListingsEndOfDaySnapshotLowStaticLimitV1": {
                "required": [
                    "timestamp"
                ],
                "type": "object",
                "properties": {
                    "value": {
                        "type": "number",
                        "description": "The Value of the price type.",
                        "format": "double"
                    },
                    "timestamp": {
                        "type": "string",
                        "description": "Generally, in real-time feeds, the providers disseminate various Timestamps that are associated with different price types or events. There could be multiple timestamps associated with a given price.\n\nDifferent providers may have different names for these timestamps and will not necessarily provide all of them in their feeds. In some cases, if the timestamp is not provided by the exchange, SIX internal timestamp may be used.\n\nIn SIX products only one timestamp can be displayed with a given price or event. If the exchange provides multiple timestamps within the feed, use the timestamps in the following priority:\n\nMarket data entry time - the time when the price was entered on a trader's side.\nTransaction time - the time when the price was recognized by the exchange.\nExchange processing time - the time when the price was processed for updates, calculations at the exchange.\nExchange's sending time - the time that the exchange disseminate the price via the feed.",
                        "format": "date-time"
                    }
                },
                "description": "The Low Static Limit is a provider or SIX calculated lower limit for price movements within a trading day. It is a static limit determined at the start of the trading day. Based on the low static limit market participants can estimate the price level for a possible volatility interruption and place their orders accordingly to profit from price spikes and price volatility. If the market is not yet closed or/and the embargo time has not yet elapsed, the previous generation value is provided."
            },
            "ListingsEndOfDaySnapshotLowV1": {
                "required": [
                    "timestamp"
                ],
                "type": "object",
                "properties": {
                    "value": {
                        "type": "number",
                        "description": "The Value of the price type.",
                        "format": "double"
                    },
                    "size": {
                        "type": "number",
                        "description": "A Size associated with a price value represent an amount of units/contracts/nominal offered for sale, demanded for purchase, traded, orders that will be executed at a given price (e.g. in the event of an auction theoretical matching price quantity).\n\nThe size associated with a quote can directly signal the market participant the ability of the market to absorb their order. Furthermore, it provides an indication of a market imbalance. The Ask Size is required by traders trading data products and those entities interest in intra-day market data values.\n\nThe size associated with a trade allows a market participant to see the trade volumes and estimate or understand the impact of their own order on the market and the probability of getting it fully executed. In addition, the trade size allows calculation of the Volume Weighted Average Price (VWAP).",
                        "format": "double"
                    },
                    "timestamp": {
                        "type": "string",
                        "description": "Generally, in real-time feeds, the providers disseminate various Timestamps that are associated with different price types or events. There could be multiple timestamps associated with a given price.\n\nDifferent providers may have different names for these timestamps and will not necessarily provide all of them in their feeds. In some cases, if the timestamp is not provided by the exchange, SIX internal timestamp may be used.\n\nIn SIX products only one timestamp can be displayed with a given price or event. If the exchange provides multiple timestamps within the feed, use the timestamps in the following priority:\n\nMarket data entry time - the time when the price was entered on a trader's side.\nTransaction time - the time when the price was recognized by the exchange.\nExchange processing time - the time when the price was processed for updates, calculations at the exchange.\nExchange's sending time - the time that the exchange disseminate the price via the feed.",
[...]
