{"openapi":"3.0.1","info":{"title":"(DO NOT DELETE) Ethereum Rewards API v3","version":"v1","description":"Ethereum Rewards API"},"x-readme":{"explorer-enabled":false,"proxy-enabled":false,"headers":[{"key":"Authorization","value":"your-api-key-here"}]},"servers":[{"url":"https://rewards.datahub.figment.io"}],"paths":{"/v3/rewards/ethereum/validator_addresses":{"post":{"summary":"ETH Rewards (for org, per validator)","tags":["Ethereum"],"parameters":[],"responses":{"200":{"description":"List of rewards and balances rolled up to the requested `time_rollup`. Results only includes validators that are registered with the current user's organization.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"Validator public key"},"type":{"type":"string","description":"Value type provided for id field. Always `validator_address`."},"chain_id":{"type":"string","description":"Id of the chain that rewards belong to."},"rewards":{"type":"array","items":{"type":"object","description":"rewards earned by the validator for the given period","properties":{"text":{"type":"string","description":"The textual version of the rewards in ETH"},"currency":{"type":"string","description":"Currency of rewards textual representation. Always `ETH`"},"numeric":{"type":"integer","description":"Numerical representation of the rewards in wei"},"exp":{"type":"integer","description":"The exponent to use for converting numeric value to ETH. Always `18`."},"type":{"type":"string","description":"Type of the rewards: `staking` or `tip`."},"recipient":{"type":"string","description":"Recipient of the tip. Only available in tip rewards for epoch/daily rollup."},"sender":{"type":"string","description":"Address of MEV builder that sent the tips to the validator"},"slot":{"type":"integer","description":"Slot number of the proposal made by the validator"},"block":{"type":"integer","description":"Execution layer block number of the proposal made by the validator"},"is_mev":{"type":"boolean","description":"Whether or not MEV boost was used for the proposal"},"mev_service":{"type":"string","description":"Name of the mev boost service (if proposal was mev boosted)"},"tx_hash":{"type":"string","description":"Hash of the transaction used to send MEV boosted tips"}}}},"balances":{"type":"array","items":{"type":"object","description":"Total balance of the validator at the end of each given period.","properties":{"text":{"type":"string","description":"The textual version of the balance in ETH"},"currency":{"type":"string","description":"Currency of balance textual representation. Always `ETH`"},"numeric":{"type":"integer","description":"Numerical representation of the balance in wei"},"exp":{"type":"integer","description":"The exponent to use for converting numeric value to ETH. Always `18`."}}}},"epoch":{"type":"integer","description":"The Epoch number (only present when epoch time_rollup is requested)."},"timestamp":{"type":"string","description":"The timestamp of the end of the period rewards are reported for."},"withdrawal_credentials":{"type":"string","description":"The withdrawal credentials of the validator entity."},"withdrawal_address":{"type":"string","description":"Eth1 Withdrawal address of the validator. Only available when withdrawal credentials is not a BLS."},"started_at":{"type":"string","description":"Timestamp of the earliest record of rewards we have indexed for the validator. Only available in all_time time_rollup requests."}}}},"meta":{"type":"object","properties":{"network":{"type":"string","example":"ethereum","description":"The name of the network queried."},"chain_id":{"type":"string","enum":["mainnet","holesky"],"example":"mainnet","description":"The id of the chain queried."},"pagination":{"type":"object","description":"Pagination information. Only available for all_time time_rollup and when the request supplies limit/offset parameters.","properties":{"total_records":{"type":"integer","description":"Total number of records found."},"per_page":{"type":"integer","description":"Total number of records returned per page"},"total_pages":{"type":"integer","description":"Total number of pages."},"current_page":{"type":"integer","description":"offset of the current page."}}}}}}},"examples":{"epoch_rollup":{"value":{"data":[{"id":"0x9a0059ed6c2d2e35104a5113fdefa9d06cbd855b7be170f068b100391ffc811f55af4933e5e832a6c4ccfa69e7e4d120","type":"validator_address","chain_id":"mainnet","rewards":[{"text":"0.000013182","currency":"ETH","numeric":13182000000000,"exp":18,"type":"staking"},{"text":"0.019767962495220182","currency":"ETH","numeric":19767962495220184,"type":"tips","recipient":"0xed488e6cc4b030eb5bfdde3227c3d5da2b9040e8","sender":"0x95222290dd7278aa3ddd389cc1e1d165cc4bafe5","slot":7334788,"block":18146590,"is_mev":true,"mev_service":"Block Native","tx_hash":"0x25e3a03462a55b2632573cfc8e36cbb431d38793b6d26603cb11fd0251fee73b"}],"balances":[{"text":"33.824197321","currency":"ETH","numeric":33824197321000000000,"exp":18}],"epoch":181331,"timestamp":"2023-02-15T10:04:59Z","withdrawal_address":"0xeD488E6cc4B030eb5BfddE3227C3D5da2b9040E8","withdrawal_credentials":"0x010000000000000000000000ed488e6cc4b030eb5bfdde3227c3d5da2b9040e8"}],"meta":{"network":"ethereum","chain_id":"mainnet"}}},"daily_rollup":{"value":{"data":[{"id":"0x9a0059ed6c2d2e35104a5113fdefa9d06cbd855b7be170f068b100391ffc811f55af4933e5e832a6c4ccfa69e7e4d120","type":"validator_address","chain_id":"mainnet","rewards":[{"text":"0.002932238","currency":"ETH","numeric":2932238000000000,"exp":18,"type":"staking"},{"text":"0.019767962495220182","currency":"ETH","numeric":19767962495220184,"type":"tips","recipient":"0xed488e6cc4b030eb5bfdde3227c3d5da2b9040e8","sender":"0x95222290dd7278aa3ddd389cc1e1d165cc4bafe5","slot":7334788,"block":18146590,"is_mev":true,"mev_service":"Block Native","tx_hash":"0x25e3a03462a55b2632573cfc8e36cbb431d38793b6d26603cb11fd0251fee73b"}],"balances":[{"text":"33.824197321","currency":"ETH","numeric":33824197321000000000,"exp":18}],"timestamp":"2023-02-22T00:00:00Z","withdrawal_address":"0xeD488E6cc4B030eb5BfddE3227C3D5da2b9040E8","withdrawal_credentials":"0x010000000000000000000000ed488e6cc4b030eb5bfdde3227c3d5da2b9040e8"}],"meta":{"network":"ethereum","chain_id":"mainnet"}}},"all_time_rollup":{"value":{"data":[{"id":"0x9a0059ed6c2d2e35104a5113fdefa9d06cbd855b7be170f068b100391ffc811f55af4933e5e832a6c4ccfa69e7e4d120","type":"validator_address","chain_id":"mainnet","rewards":[{"text":"2.502461635","currency":"ETH","numeric":2502461635000000000,"exp":18,"type":"staking"},{"text":"1.370500484453818979","currency":"ETH","numeric":1370500484453819000,"type":"tips"}],"balances":[{"text":"32.009947048","currency":"ETH","numeric":32009947048000000000,"exp":18}],"timestamp":"2023-02-15T10:04:59Z","started_at":"2021-12-31T05:10:47Z","withdrawal_address":"0xeD488E6cc4B030eb5BfddE3227C3D5da2b9040E8","withdrawal_credentials":"0x010000000000000000000000ed488e6cc4b030eb5bfdde3227c3d5da2b9040e8"}],"meta":{"network":"ethereum","chain_id":"mainnet","pagination":{"total_records":10,"per_page":3,"total_pages":4,"current_page":1}}}}}}}}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"chain_id":{"type":"string","enum":["mainnet","holesky"],"description":"Id of the chain that rewards belong to","nullable":true,"example":"mainnet"},"time_rollup":{"type":"string","enum":["epoch","daily","all_time"],"description":"Rollup to use when reporting the data. Allowed values are 'epoch', 'daily', and 'all_time'.","items":{"type":"string","example":"epoch"}},"start":{"type":"string","example":"2023-07-31","description":"Lower bound of rewards data expressed as epoch number (for epoch rollup only) or timestamps (as strings \"YYYY-MM-DD\"). This parameter is ignored when all_time rollup is requested."},"end":{"type":"string","example":"2023-07-31","description":"Upper bound of rewards data expressed as epoch number (for epoch rollup only) or timestamps (as strings \"YYYY-MM-DD\"). This parameter is ignored when all_time rollup is requested."},"withdrawal_addresses":{"type":"array","description":"A set of withdrawal addresses (or withdrawal credentials) to filter the results with.","items":{"type":"string","example":"0x210b3cb99fa1de0a64085fa80e18c22fe4722a1b"}},"validator_addresses":{"type":"array","description":"A set of validator public keys to filter the results with.","items":{"type":"string","example":"0x9a0059ed6c2d2e35104a5113fdefa9d06cbd855b7be170f068b100391ffc811f55af4933e5e832a6c4ccfa69e7e4d120"}},"limit":{"type":"integer","description":"A number to limit the total number of records in the response. Only available to all_time time_rollup requests."},"offset":{"type":"integer","description":"Pagination offset to start the results with. Only available to all_time time_rollup requests."}},"required":["time_rollup","start","end"]}}}}}},"/v3/rewards/ethereum/withdrawal_addresses":{"post":{"summary":"ETH Rewards (for org, per withdrawal address)","tags":["Ethereum"],"parameters":[],"responses":{"200":{"description":"List of rewards and balances aggregated per validator's withdrawal credentials and rolled up to the requested `time_rollup`. Results only includes validators that are registered with the current user's organization.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"Validators' withdrawal address if withdrawal credentials is an eth1 address. Otherwise, BLS."},"type":{"type":"string","description":"Value type provided for id field. Always `withdrawal_credentials`."},"chain_id":{"type":"string","description":"Id of the chain that rewards belong to."},"rewards":{"type":"array","items":{"type":"object","description":"Rewards earned by the validators with the given withdrawal credentials for the given period","properties":{"text":{"type":"string","description":"The textual version of the rewards in ETH"},"currency":{"type":"string","description":"Currency of rewards textual representation. Always `ETH`"},"numeric":{"type":"integer","description":"Numerical representation of the rewards in wei"},"exp":{"type":"integer","description":"The exponent to use for converting numeric value to ETH. Always `18`."},"type":{"type":"string","description":"Type of the rewards: `staking` or `tip`."}}}},"balances":{"type":"array","items":{"type":"object","description":"Total balance of all validators with the same withdrawal credentials at the end of each given period.","properties":{"text":{"type":"string","description":"The textual version of the balance in ETH"},"currency":{"type":"string","description":"Currency of balance textual representation. Always `ETH`"},"numeric":{"type":"integer","description":"Numerical representation of the balance in wei"},"exp":{"type":"integer","description":"The exponent to use for converting numeric value to ETH. Always `18`."}}}},"epoch":{"type":"integer","description":"The Epoch number (only present when epoch time_rollup is requested)."},"timestamp":{"type":"string","description":"The timestamp of the end of the period rewards are reported for."},"withdrawal_credentials":{"type":"string","description":"The withdrawal credentials. Same as the Id when validators withdrawal credentials is a BLS, otherwise padded representation of the withdrawal address."},"started_at":{"type":"string","description":"Timestamp of the earliest record of rewards we have indexed for the withdrawal address. Only available in all_time time_rollup requests."}}}},"meta":{"type":"object","properties":{"network":{"type":"string","example":"ethereum","description":"The name of the network queried."},"chain_id":{"type":"string","enum":["mainnet","holesky"],"example":"mainnet","description":"The id of the chain queried."}}}}},"examples":{"epoch_rollup":{"value":{"data":[{"id":"0x5749D7f4449D3A0b7fCCF45303E75B9EE48ec892","type":"withdrawal_address","chain_id":"mainnet","rewards":[{"text":"0.03927466","currency":"ETH","numeric":39274660000000000,"exp":18,"type":"staking"},{"text":"0.016363778807565514","currency":"ETH","numeric":16363778807565514,"type":"tips"}],"balances":[{"text":"320.116124671","currency":"ETH","numeric":320116124671000000000,"exp":18}],"epoch":229382,"timestamp":"2023-09-16T23:31:23Z","withdrawal_credentials":"0x0100000000000000000000005749d7f4449d3a0b7fccf45303e75b9ee48ec892"}],"meta":{"network":"ethereum","chain_id":"mainnet"}}},"daily_rollup":{"value":{"data":[{"id":"0x004f58172d06b6d54c015d688511ad5656450933aff85dac123cd09410a0825c","type":"withdrawal_credentials","chain_id":"mainnet","rewards":[{"text":"0.002990364","currency":"ETH","numeric":2990364000000000,"exp":18,"type":"staking"}],"balances":[{"text":"33.787183917","currency":"ETH","numeric":33787183917000000000,"exp":18}],"timestamp":"2023-02-02T00:00:00Z","withdrawal_credentials":"0x004f58172d06b6d54c015d688511ad5656450933aff85dac123cd09410a0825c"}],"meta":{"network":"ethereum","chain_id":"mainnet"}}},"all_time_rollup":{"value":{"data":[{"id":"0x210b3CB99FA1De0A64085Fa80E18c22fe4722a1b","type":"withdrawal_address","chain_id":"mainnet","rewards":[{"text":"2.50865427","currency":"ETH","numeric":2508654270000000000,"exp":18,"type":"staking"},{"text":"1.370500484453818979","currency":"ETH","numeric":1370500484453819000,"type":"tips"}],"balances":[{"text":"32.016139683","currency":"ETH","numeric":32016139683000000000,"exp":18}],"timestamp":"2023-10-02T12:32:11Z","started_at":"2021-12-31T05:10:47Z","withdrawal_credentials":"0x010000000000000000000000210b3cb99fa1de0a64085fa80e18c22fe4722a1b"}],"meta":{"network":"ethereum","chain_id":"mainnet"}}}}}}}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"chain_id":{"type":"string","enum":["mainnet","holesky"],"description":"Id of the chain that rewards belong to","nullable":true,"example":"mainnet"},"time_rollup":{"type":"string","enum":["epoch","daily","all_time"],"description":"Rollup to use when reporting the data. Allowed values are 'epoch', 'daily', and 'all_time'.","items":{"type":"string","example":"epoch"}},"start":{"type":"string","example":"2023-07-31","description":"Lower bound of rewards data expressed as epoch number (for epoch rollup only) or timestamps (as strings \"YYYY-MM-DD\"). This parameter is ignored when all_time rollup is requested."},"end":{"type":"string","example":"2023-07-31","description":"Upper bound of rewards data expressed as epoch number (for epoch rollup only) or timestamps (as strings \"YYYY-MM-DD\"). This parameter is ignored when all_time rollup is requested."},"withdrawal_addresses":{"type":"array","description":"A set of withdrawal addresses (or withdrawal credentials) to filter the results with.","items":{"type":"string","example":"0x210b3cb99fa1de0a64085fa80e18c22fe4722a1b"}}},"required":["time_rollup","start","end"]}}}}}},"/v3/rewards/ethereum/organization":{"post":{"summary":"ETH Rewards (for org)","tags":["Ethereum"],"parameters":[],"responses":{"200":{"description":"List of rewards and balances aggregated for all addresses registered to the organization and rolled up to the requested `time_rollup`.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"Internal Id of the current user's organization."},"type":{"type":"string","description":"Value type provided for id field. Always `organization`."},"chain_id":{"type":"string","description":"Id of the chain that rewards belong to."},"rewards":{"type":"array","items":{"type":"object","description":"Rewards earned by all addresses registered to the organization for the given period.","properties":{"text":{"type":"string","description":"The textual version of the rewards in ETH."},"currency":{"type":"string","description":"Currency of rewards textual representation. Always `ETH`."},"numeric":{"type":"integer","description":"Numerical representation of the rewards in wei."},"exp":{"type":"integer","description":"The exponent to use for converting numeric value to ETH. Always `18`."},"type":{"type":"string","description":"Type of the rewards: `staking` or `tip`."}}}},"balances":{"type":"array","items":{"type":"object","description":"Total balance across all addresses registered to the organization at the end of each given period.","properties":{"text":{"type":"string","description":"The textual version of the balance in ETH"},"currency":{"type":"string","description":"Currency of balance textual representation. Always `ETH`"},"numeric":{"type":"integer","description":"Numerical representation of the balance in wei"},"exp":{"type":"integer","description":"The exponent to use for converting numeric value to ETH. Always `18`."}}}},"timestamp":{"type":"string","description":"The timestamp of the end of the period rewards are reported for."},"started_at":{"type":"string","description":"Timestamp of the earliest record of rewards we have indexed for the organization. Only available in all_time time_rollup requests."}}}},"meta":{"type":"object","properties":{"network":{"type":"string","example":"ethereum","description":"The name of the network queried."},"chain_id":{"type":"string","enum":["mainnet","holesky"],"example":"mainnet","description":"The id of the chain queried."}}}}},"examples":{"daily_rollup":{"value":{"data":[{"id":"47b11b4a-2bd3-4691-9f21-36a450151015","type":"organization","chain_id":"mainnet","rewards":[{"text":"0.020752888","currency":"ETH","numeric":20752888000000000,"exp":18,"type":"staking"},{"text":"1.370500484453818979","currency":"ETH","numeric":1370500484453819000,"type":"tips"}],"balances":[{"text":"234.581126907","currency":"ETH","numeric":234581126907000000000,"exp":18}],"timestamp":"2023-04-10T00:00:00Z"}],"meta":{"network":"ethereum","chain_id":"mainnet"}}},"monthly_rollup":{"value":{"data":[{"id":"47b11b4a-2bd3-4691-9f21-36a450151015","type":"organization","chain_id":"mainnet","rewards":[{"text":"0.678589123","currency":"ETH","numeric":678589123000000000,"exp":18,"type":"staking"},{"text":"1.165986349994123554","currency":"ETH","numeric":1165986349994123500,"type":"tips"}],"balances":[{"text":"33.725979203","currency":"ETH","numeric":33725979203000000000,"exp":18}],"timestamp":"2022-12-01T00:00:00Z"}],"meta":{"network":"ethereum","channel":"mainnet"}}},"all_time_rollup":{"value":{"data":[{"id":"47b11b4a-2bd3-4691-9f21-36a450151015","type":"organization","chain_id":"mainnet","rewards":[{"text":"16.33388810","currency":"ETH","numeric":16333888100000000000,"exp":18,"type":"staking"},{"text":"6.41246723766959910","currency":"ETH","numeric":6412467237669599000,"type":"tips"}],"balances":[{"text":"138.023555771","currency":"ETH","numeric":138023555771000000000,"exp":18}],"timestamp":"2023-10-02T12:32:11Z","started_at":"2021-09-01T01:39:35Z"}],"meta":{"network":"ethereum","chain_id":"mainnet"}}}}}}}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"chain_id":{"type":"string","enum":["mainnet","holesky"],"description":"Id of the chain that rewards belong to","nullable":true,"example":"mainnet"},"time_rollup":{"type":"string","enum":["daily","monthly","all_time"],"description":"Rollup to use when reporting the data. Allowed values are 'daily', 'monthly', and 'all_time'.","items":{"type":"string","example":"daily"}},"start":{"type":"string","example":"2023-07-31","description":"Lower bound of rewards data expressed as timestamps (as strings \"YYYY-MM-DD\"). This parameter is ignored when all_time rollup is requested."},"end":{"type":"string","example":"2023-07-31","description":"Upper bound of rewards data expressed as timestamps (as strings \"YYYY-MM-DD\"). This parameter is ignored when all_time rollup is requested."}},"required":["time_rollup","start","end"]}}}}}},"/external/ethereum/withdrawals":{"post":{"summary":"ETH Withdrawals (for org)","tags":["Ethereum"],"parameters":[],"responses":{"200":{"description":"List of withdrawals. Results only includes validators that are registered with the current user's organization.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"index":{"type":"integer","example":7642977,"description":"The unique index of the withdrawal on chain (from round robin process)."},"pubkey":{"type":"string","example":"0x9999e34d7049e81fb48cefdfa0e671b920ea1a1a292c3596041da2698a9ed303b802806c5ffd49498413c4b97748239f","description":"The public key of the validator."},"validator_index":{"type":"integer","example":626955,"description":"The index of the validator."},"withdrawal_address":{"type":"string","example":"0xe187d594402c8f6b147f22d443406d1b1edebdc7","description":"The withdrawal address of the validator."},"amount_text":{"type":"string","example":"32","description":"The withdrawal amount (as text)."},"currency":{"type":"string","example":"ETH"},"amount_numeric":{"type":"integer","example":32000000000000000000,"description":"The withdrawal amount (as an integer) - needs exp below."},"exp":{"type":"integer","example":18,"description":"The exponent used to calculate the final ETH amount."},"full_withdrawal":{"type":"boolean","example":true,"description":"Whether the validator exited or not."},"slot":{"type":"integer","example":6694928,"description":"The consensus layer slot at which the withdrawal occurred."},"block_number":{"type":"integer","example":17512592,"description":"The execution layer block at which the withdrawal occurred."},"epoch":{"type":"integer","example":209216,"description":"The execution layer block in which the transaction was included."},"timestamp":{"type":"string","example":"2023-06-19T08:25:36Z","description":"The timestamp of the end of the epoch."}}}},"meta":{"type":"object","properties":{"protocol":{"type":"string","example":"ethereum","description":"The name of the protocol queried."},"network":{"type":"string","example":"mainnet","description":"Id of the network that rewards belong to"}}}}}}}}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"network":{"type":"string","enum":["mainnet","holesky"],"description":"Id of the network that rewards belong to","nullable":true,"example":"mainnet"},"start":{"type":"string","example":"2023-06-19","description":"Lower bound of rewards data expressed as epoch number (for epoch rollup only) or timestamps (as strings \"YYYY-MM-DD\"). This parameter is ignored when all_time rollup is requested."},"end":{"type":"string","example":"2023-07-19","description":"Upper bound of rewards data expressed as epoch number (for epoch rollup only) or timestamps (as strings \"YYYY-MM-DD\"). This parameter is ignored when all_time rollup is requested."},"withdrawal_addresses":{"type":"array","description":"A set of withdrawal addresses (or withdrawal credentials) to include in the results.","nullable":true,"items":{"type":"string","example":"0xe187d594402c8f6b147f22d443406d1b1edebdc7"}},"validator_addresses":{"type":"array","description":"A set of validator public keys to include in the results.","nullable":true,"items":{"type":"string","example":"0x9999e34d7049e81fb48cefdfa0e671b920ea1a1a292c3596041da2698a9ed303b802806c5ffd49498413c4b97748239f"}}},"required":["start","end"]}}}}}}}}