{"openapi":"3.0.1","info":{"title":"API","version":"1.2.0"},"servers":[{"url":"https://api.multi1.enterprise.taxbit.com/v1"},{"url":"https://api.multi1.enterprise-staging.taxbit.com/v1"}],"components":{"securitySchemes":{"ClientAuthorizer":{"bearerFormat":"JWT","scheme":"bearer","type":"http"},"TenantAuthorizer":{"bearerFormat":"JWT","scheme":"bearer","type":"http"}}},"paths":{"/oauth/token":{"post":{"description":"Take this action to request a tenant scoped bearer token. Once you receive a tenant scoped bearer token, it is valid for 24 hours.","parameters":[{"description":"The Content-Type header specifies the media type of the request payload (request body).","in":"header","name":"Content-Type","required":true,"schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"content":{"application/json":{"schema":{"properties":{"access_token":{"description":"Bearer token for further access to the API.","example":"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6Ik1qRXpRamxETmpRd01ESkVORU16TVVFd1FUWTRRamRDTlRaRk5VSTFRVVV5TlVGQlJUQTNPUSJ9...","type":"string"},"expires_in":{"description":"Time until token expires (in seconds).","example":86400,"type":"integer"},"scope":{"example":"read:coins read:taxprofiles","type":"string"},"token_type":{"description":"Access token type","example":"Bearer","type":"string"}},"title":"AuthTokenResponse","type":"object"}}},"description":"Successful Tenant Scoped Auth Token Response"},"401":{"$ref":"#/paths/~1inventory/get/responses/401"},"403":{"content":{"application/json":{"schema":{"properties":{"message":{"example":"Forbidden Error","type":"string"}},"required":["message"],"type":"object"}}},"description":"Forbidden Error."},"429":{"$ref":"#/paths/~1documents/get/responses/429"}},"requestBody":{"content":{"application/json":{"schema":{"properties":{"client_id":{"description":"Your TaxBit authentication client_id","example":"123456789abcdefgHiJKLMnopqrstuvw","type":"string"},"client_secret":{"description":"Your TaxBit authentication client_secret","example":"987654321_abc-def-ijk","type":"string"},"grant_type":{"description":"OAuth 2.0 grant_type. The only supported value at this time is client_credentials.","example":"client_credentials","type":"string"}},"required":["client_id","client_secret","grant_type"],"title":"Bearer Token Request","type":"object"}}},"required":true},"summary":"Request a Tenant Scoped Bearer Token","tags":["Auth Token"]}},"/account-owners":{"post":{"description":"Create an Account Owner to link with accounts in TaxBit's system. By default, you can use this API at 50 requests per second (RPS). If your use case requires a higher RPS, please contact your Implementation Manager.","responses":{"201":{"content":{"application/json":{"schema":{"title":"AccountOwner","type":"object","properties":{"data":{"type":"object","properties":{"id":{"$ref":"#/paths/~1account-owners/post/requestBody/content/application~1json/schema/properties/id"},"taxbit_id":{"title":"TaxBitId","description":"The TaxBit ID for this object. This is a version 4 UUID.","example":"424cd1a7-981e-4df0-9dfc-639a092fb369","type":"string","format":"uuid"},"tenant_id":{"title":"TenantId","description":"Tenant ID for your organization.","example":"673962f6-675c-45c3-a5a0-d9369e886582","type":"string","format":"uuid"},"date_created":{"description":"The date when the account owner was created in TaxBit's system.","example":"2023-08-19","format":"date","type":"string"},"account_owner_type":{"$ref":"#/paths/~1account-owners/post/requestBody/content/application~1json/schema/properties/account_owner_type"},"name":{"description":"Account Owner's full name.","example":"John Anthony Boush","type":"string"},"email":{"description":"Account Owner's email address.","example":"john.boush@email.com","type":"string"},"birth_date":{"description":"ISO-8601 date when the Account Owner was born.","example":"2020-08-19","format":"date","type":"string"},"tin":{"description":"Masked TIN.","example":"***-**-0000","type":"string"},"tin_type":{"$ref":"#/paths/~1account-owners/post/requestBody/content/application~1json/schema/properties/tin_type"},"tax_country_code":{"description":"Country the Account Owner is subject to taxes。","example":"US","type":"string"},"address":{"$ref":"#/paths/~1account-owners/post/requestBody/content/application~1json/schema/properties/address"},"prefers_physical_mail":{"description":"Whether the Account Owner's tax forms will be sent through physical mail instead of electronically. Defaults to false.","example":false,"type":"boolean"},"is_tax_exempt":{"example":false,"type":"boolean"},"account":{"$ref":"#/paths/~1accounts/post/responses/201/content/application~1json/schema/properties/data"},"birth_city":{"description":"The name of the city where the Account Owner was born.","example":"Seattle","type":"string"},"birth_country":{"description":"The name of the country where the Account Owner was born.","example":"US","type":"string"},"vat_country_code":{"description":"The country code associated with the Account Owner's VAT identification number, indicating the country where the VAT is registered.","example":"DE","type":"string"},"vat_id":{"description":"The identification number assigned to the Account Owner's business for Value Added Tax (VAT) purposes by the relevant tax authority.","example":"58694837384","type":"string"},"business_registration_country_code":{"description":"Country code representing the location where the Account Owner's business is officially registered.","example":"DE","type":"string"},"business_registration_number":{"description":"The official registration number assigned to the Account Owner's business by the country where it is registered.","example":"5968574","type":"string"},"financial_account_id":{"description":"A unique identifier assigned to the Account Owner's financial account.","example":"6968473","type":"string"},"financial_account_holder_name":{"description":"The name of the individual or entity that holds the financial account associated with the Account Owner.","example":"John Anthony Boush","type":"string"}}}},"required":["id","taxbit_id","date_modified","date_created","tenant_id"]}}},"description":"Account Owner Successfully Created。"},"400":{"$ref":"#/paths/~1accounts/post/responses/400"},"403":{"$ref":"#/paths/~1accounts/post/responses/403"},"409":{"$ref":"#/paths/~1accounts/post/responses/409"},"429":{"$ref":"#/paths/~1accounts/post/responses/429"}},"requestBody":{"content":{"application/json":{"schema":{"title":"Create Account Owner Request","type":"object","properties":{"id":{"title":"AccountOwnerId","description":"Your system's unique identifier for the Account Owner.","example":"JohnDoe864","type":"string"},"account_owner_type":{"title":"AccountOwnerType","description":"The type of Account Owner.","enum":["INDIVIDUAL","ENTITY"]},"name":{"description":"Account Owner's full name.","example":"John Anthony Boush","type":"string"},"email":{"description":"Account Owner's email address.","example":"john.boush@email.com","type":"string"},"birth_date":{"description":"ISO-8601 date when the Account Owner was born.","example":"2020-08-19","format":"date","type":"string"},"tin":{"description":"Account's Owner's TIN.","example":"123-45-6789","type":"string"},"tin_type":{"title":"TinType","description":"The type of TIN","enum":["US_SSN","US_EIN","US_ATIN","US_ITIN","OTHER"]},"tax_country_code":{"description":"Country the Account Owner is subject to taxes。","example":"US","type":"string"},"address":{"properties":{"first_line":{"description":"First line of Account Owner's address.","example":"7203142 East 11th Avenue","type":"string"},"second_line":{"description":"Second line of Account Owner's address.","example":"APT 11","type":"string"},"city":{"description":"Account Owner's city.","example":"Woodlands","type":"string"},"state_or_province":{"description":"Account Owners's state or province.","example":"TX","type":"string"},"country":{"description":"Account Owners's country.","example":"US","type":"string"},"postal_code":{"description":"Account Owner's postal code.","example":"77381","type":"string"}},"title":"address","type":"object"},"prefers_physical_mail":{"description":"Whether the Account Owner's tax forms will be sent through physical mail instead of electronically. Defaults to false.","example":false,"type":"boolean"},"is_tax_exempt":{"example":false,"type":"boolean"},"account":{"$ref":"#/paths/~1accounts/post/requestBody/content/application~1json/schema/allOf/0"},"birth_city":{"description":"The name of the city where the Account Owner was born.","example":"Seattle","type":"string"},"birth_country":{"description":"The name of the country where the Account Owner was born.","example":"US","type":"string"},"vat_country_code":{"description":"The country code associated with the Account Owner's VAT identification number, indicating the country where the VAT is registered.","example":"DE","type":"string"},"vat_id":{"description":"The identification number assigned to the Account Owner's business for Value Added Tax (VAT) purposes by the relevant tax authority.","example":"58694837384","type":"string"},"business_registration_country_code":{"description":"Country code representing the location where the Account Owner's business is officially registered.","example":"DE","type":"string"},"business_registration_number":{"description":"The official registration number assigned to the Account Owner's business by the country where it is registered.","example":"5968574","type":"string"},"financial_account_id":{"description":"A unique identifier assigned to the Account Owner's financial account.","example":"6968473","type":"string"},"financial_account_holder_name":{"description":"The name of the individual or entity that holds the financial account associated with the Account Owner.","example":"John Anthony Boush","type":"string"}},"required":["id"]}}}},"security":[{"ClientAuthorizer":[]}],"summary":"Create a TaxBit Account Owner","tags":["Account Owners"]}},"/account-owners/{id}":{"patch":{"description":"Update an existing Account Owner in TaxBit's system.","parameters":[{"description":"Your system's unique identifier for the Account Owner","in":"path","name":"id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/paths/~1account-owners~1%7Bid%7D/get/responses/200/content/application~1json/schema"}}},"description":"Account Owner Successfully Updated"},"400":{"$ref":"#/paths/~1accounts/post/responses/400"},"403":{"$ref":"#/paths/~1accounts/post/responses/403"},"404":{"$ref":"#/paths/~1accounts/post/responses/404"},"429":{"$ref":"#/paths/~1accounts/post/responses/429"}},"requestBody":{"content":{"application/json":{"schema":{"title":"Account Owner Request","type":"object","properties":{"account_owner_type":{"$ref":"#/paths/~1account-owners/post/requestBody/content/application~1json/schema/properties/account_owner_type"},"name":{"description":"Account Owner's full name.","example":"John Anthony Boush","type":"string"},"email":{"description":"Account Owner's email address.","example":"john.boush@email.com","type":"string"},"birth_date":{"description":"ISO-8601 date when the Account Owner was born.","example":"2020-08-19","format":"date","type":"string"},"tin":{"description":"Account Owner's TIN.","example":"123-45-6789","type":"string"},"tin_type":{"$ref":"#/paths/~1account-owners/post/requestBody/content/application~1json/schema/properties/tin_type"},"tax_country_code":{"description":"Country the Account Owner is subject to taxes。","example":"US","type":"string"},"address":{"$ref":"#/paths/~1account-owners/post/requestBody/content/application~1json/schema/properties/address"},"prefers_physical_mail":{"description":"Whether the Account Owner's tax forms will be sent through physical mail instead of electronically. Defaults to false.","example":false,"type":"boolean"},"is_tax_exempt":{"example":false,"type":"boolean"},"birth_city":{"description":"The name of the city where the Account Owner was born.","example":"Seattle","type":"string"},"birth_country":{"description":"The name of the country where the Account Owner was born.","example":"US","type":"string"},"vat_country_code":{"description":"The country code associated with the Account Owner's VAT identification number, indicating the country where the VAT is registered.","example":"DE","type":"string"},"vat_id":{"description":"The identification number assigned to the Account Owner's business for Value Added Tax (VAT) purposes by the relevant tax authority.","example":"58694837384","type":"string"},"business_registration_country_code":{"description":"Country code representing the location where the Account Owner's business is officially registered.","example":"DE","type":"string"},"business_registration_number":{"description":"The official registration number assigned to the Account Owner's business by the country where it is registered.","example":"5968574","type":"string"},"financial_account_id":{"description":"A unique identifier assigned to the Account Owner's financial account.","example":"6968473","type":"string"},"financial_account_holder_name":{"description":"The name of the individual or entity that holds the financial account associated with the Account Owner.","example":"John Anthony Boush","type":"string"}}}}}},"security":[{"ClientAuthorizer":[]}],"summary":"Update an Existing TaxBit Account Owner","tags":["Account Owners"]},"get":{"description":"Get data stored for an Account Owner that exists in TaxBit's system (as an object).","parameters":[{"description":"Your system's unique identifier for the Account Owner","in":"path","name":"id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"title":"AccountOwner","type":"object","properties":{"data":{"type":"object","properties":{"id":{"$ref":"#/paths/~1account-owners/post/requestBody/content/application~1json/schema/properties/id"},"taxbit_id":{"$ref":"#/paths/~1account-owners/post/responses/201/content/application~1json/schema/properties/data/properties/taxbit_id"},"tenant_id":{"$ref":"#/paths/~1account-owners/post/responses/201/content/application~1json/schema/properties/data/properties/tenant_id"},"date_created":{"description":"The date when the account owner was created in TaxBit's system.","example":"2023-08-19","format":"date","type":"string"},"account_owner_type":{"$ref":"#/paths/~1account-owners/post/requestBody/content/application~1json/schema/properties/account_owner_type"},"name":{"description":"Account Owner's full name.","example":"John Anthony Boush","type":"string"},"email":{"description":"Account Owner's email address.","example":"john.boush@email.com","type":"string"},"birth_date":{"description":"ISO-8601 date when the Account Owner was born.","example":"2020-08-19","format":"date","type":"string"},"tin":{"description":"Masked TIN.","example":"***-**-0000","type":"string"},"tin_type":{"$ref":"#/paths/~1account-owners/post/requestBody/content/application~1json/schema/properties/tin_type"},"tax_country_code":{"description":"Country the Account Owner is subject to taxes。","example":"US","type":"string"},"address":{"$ref":"#/paths/~1account-owners/post/requestBody/content/application~1json/schema/properties/address"},"prefers_physical_mail":{"description":"Whether the Account Owner's tax forms will be sent through physical mail instead of electronically. Defaults to false.","example":false,"type":"boolean"},"is_tax_exempt":{"example":false,"type":"boolean"},"birth_city":{"description":"The name of the city where the Account Owner was born.","example":"Seattle","type":"string"},"birth_country":{"description":"The name of the country where the Account Owner was born.","example":"US","type":"string"},"vat_country_code":{"description":"The country code associated with the Account Owner's VAT identification number, indicating the country where the VAT is registered.","example":"DE","type":"string"},"vat_id":{"description":"The identification number assigned to the Account Owner's business for Value Added Tax (VAT) purposes by the relevant tax authority.","example":"58694837384","type":"string"},"business_registration_country_code":{"description":"Country code representing the location where the Account Owner's business is officially registered.","example":"DE","type":"string"},"business_registration_number":{"description":"The official registration number assigned to the Account Owner's business by the country where it is registered.","example":"5968574","type":"string"},"financial_account_id":{"description":"A unique identifier assigned to the Account Owner's financial account.","example":"6968473","type":"string"},"financial_account_holder_name":{"description":"The name of the individual or entity that holds the financial account associated with the Account Owner.","example":"John Anthony Boush","type":"string"}}}},"required":["id","taxbit_id","date_modified","date_created","tenant_id"]}}},"description":"Fetch Account Owner was successful"},"403":{"$ref":"#/paths/~1accounts/post/responses/403"},"404":{"$ref":"#/paths/~1accounts/post/responses/404"},"429":{"$ref":"#/paths/~1accounts/post/responses/429"}},"security":[{"ClientAuthorizer":[]}],"summary":"Get an Existing TaxBit Account Owner","tags":["Account Owners"]}},"/account-owners/{id}/us-tin-validation-status":{"get":{"description":"Get US TIN Validation Status for an Account Owner in TaxBit's system.","parameters":[{"description":"Your system's unique identifier for the Account Owner","in":"path","name":"id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"properties":{"status":{"description":"The US TIN Validation Status for the Account Owner","example":"VALID_SSN_MATCH","enum":["PENDING","FOREIGN","INVALID_DATA","VALID_SSN_MATCH","VALID_EIN_MATCH","VALID_SSN_EIN_MATCH","TIN_NOT_ISSUED","MISMATCH","UNPROCESSED"]},"validation_date":{"description":"The date this US TIN Validation Status was determined","example":"2023-08-19","format":"date","type":"string"}},"type":"object","required":["status"]}}},"description":"Successfully fetched Account Owner's US TIN Validation Status"},"403":{"$ref":"#/paths/~1accounts/post/responses/403"},"404":{"$ref":"#/paths/~1accounts/post/responses/404"},"429":{"$ref":"#/paths/~1accounts/post/responses/429"}},"security":[{"ClientAuthorizer":[]}],"summary":"Get an Existing TaxBit Account Owner's US TIN Validation Status","tags":["Account Owners"]}},"/account-owners/{id}/tax-documentation":{"post":{"summary":"Submit Tax Documentation Data","description":"Submits complete and clean W-9, W-8BEN, or W-8BEN-E data for an Account Owner. Each submission is immutable.","parameters":[{"name":"id","description":"Your system's unique identifier for the Account Owner","in":"path","required":true,"schema":{"type":"string"}}],"tags":["Tax Documentation"],"requestBody":{"content":{"application/json":{"schema":{"title":"Tax Documentation Request","oneOf":[{"title":"Form W-9","type":"object","properties":{"document_type":{"type":"string","enum":["W-9"],"description":"The document type of the collected tax documentation data","example":"W-9"},"name":{"type":"string","description":"The legal name of the beneficial owner of the account","example":"John Doe"},"dba_name":{"type":"string","description":"The \"doing business as\" (DBA) or \"disregarded entity\" (DRE) name"},"tax_classification":{"type":"string","enum":["INDIVIDUAL","C_CORPORATION","S_CORPORATION","PARTNERSHIP","TRUST_ESTATE","LLC_C","LLC_P","LLC_S","OTHER"],"description":"The federal tax classification of name; if tax_classification != OTHER, other_tax_classification must be empty","example":"INDIVIDUAL"},"other_tax_classification":{"type":"string","description":"The tax classification not listed; if tax_classification = OTHER, this field is required"},"exempt_payee_code":{"type":"string","enum":["1","2","3","4","5","6","7","8","9","10","11","12","13"],"description":"The code used to identify payees who are exempt from backup withholding","example":"1"},"exempt_fatca_code":{"type":"string","enum":["A","B","C","D","E","F","G","H","I","J","K","L","M"],"description":"The code used to identify payees who are exempt from FATCA reporting","example":"A"},"address":{"type":"object","properties":{"first_line":{"type":"string","description":"The first line of name's address; this field is optional if a user has country or stateOrProvince set as UM.","example":"123 Pine St"},"second_line":{"type":"string","description":"The second line of name's address","example":"Apt 456"},"city":{"type":"string","description":"The city of name; this field is optional if a user has country or stateOrProvince set as UM.","example":"Seattle"},"state_or_province":{"anyOf":[{"title":"Canada Provinces","type":"string","enum":["AB","BC","MB","NB","NL","NT","NS","NU","ON","PE","QC","SK","YT"]},{"title":"US States","type":"string","enum":["AL","AK","AS","AZ","AR","CA","CO","CT","DE","DC","FM","FL","GA","GU","HI","ID","IL","IN","IA","KS","KY","LA","ME","MD","MA","MI","MN","MS","MO","MT","NE","NV","NH","NJ","NM","NY","NC","ND","MP","OH","OK","OR","PA","PR","RI","SC","SD","TN","TX","UM","UT","VT","VI","VA","WA","WV","WI","WY"]},{"title":"Other State or Province","type":"string"}],"description":"The state or province of name; this field is optional if a user does not have any of the following country: PR, MP, GU, AS, VI, UM, US, or CA.","example":"WA"},"postal_code":{"type":"string","description":"The postal code of name; if country = US, this field must be 5 or 9 digits; if country = CA, this field must be in \"LNLNLN\", \"LNL NLN\", or \"LNL-NLN\" format; this field is optional if a user does not have any of the following country or stateOrProvince: PR, MP, GU, AS, VI, UM, US, or CA.","example":"98000"},"country":{"type":"string","enum":["AF","AX","AL","DZ","AS","AD","AO","AI","AQ","AG","AR","AM","AW","AU","AT","AZ","BS","BH","BD","BB","BY","BE","BZ","BJ","BM","BT","BO","BQ","BA","BW","BV","BR","IO","VG","BN","BG","BF","BI","CV","KH","CM","CA","KY","CF","TD","CL","CN","CX","CC","CO","KM","CG","CD","CK","CR","CI","HR","CU","CW","CY","CZ","DK","DJ","DM","DO","EC","EG","SV","GQ","ER","EE","SZ","ET","FK","FO","FJ","FI","FR","GF","PF","TF","GA","GM","GE","DE","GH","GI","GR","GL","GD","GP","GU","GT","GG","GN","GW","GY","HT","HM","VA","HN","HK","HU","IS","IN","ID","IR","IQ","IE","IM","IL","IT","JM","JP","JE","JO","KZ","KE","KI","KW","KG","LA","LV","LB","LS","LR","LY","LI","LT","LU","MO","MG","MW","MY","MV","ML","MT","MH","MQ","MR","MU","YT","MX","FM","MD","MC","MN","ME","MS","MA","MZ","MM","NA","NR","NP","NL","NC","NZ","NI","NE","NG","NU","NF","KP","MK","MP","NO","OM","PK","PW","PS","PA","PG","PY","PE","PH","PN","PL","PT","PR","QA","RE","RO","RU","RW","BL","SH","KN","LC","MF","PM","VC","WS","SM","ST","SA","SN","RS","SC","SL","SG","SX","SK","SI","SB","SO","ZA","GS","KR","SS","ES","LK","SD","SR","SJ","SE","CH","SY","TW","TJ","TZ","TH","TL","TG","TK","TO","TT","TN","TR","TM","TC","TV","VI","UG","UA","AE","GB","UM","US","UY","UZ","VU","VE","VN","WF","EH","YE","ZM","ZW"],"description":"The country of name","example":"US"}},"required":["first_line","city","state_or_province","postal_code","country"],"description":"The address of name"},"tin":{"type":"string","description":"The U.S. tax identification number (TIN) associated with the name; the TIN must consist of 9 numerical digits, must not be sequential or repeating, must not begin with five zeros, and must not contain any alphabetic characters","example":"123123123"},"tin_type":{"type":"string","enum":["SSN","EIN","ITIN","ATIN"],"description":"The type of US tax identification number; if tax_classification = INDIVIDUAL, tin_type must be SSN, ITIN, or ATIN - else, tin_type must be EIN","example":"SSN"},"has_certified":{"type":"boolean","enum":[true],"description":"The user has certified under penalties of perjury all necessary certifications","example":true},"is_not_subject_backup_withholding":{"type":"boolean","description":"The user has certified that they are not subject to backup withholding","example":true},"signature":{"type":"string","description":"The signed name of signor (i.e., individual authorized to sign for name); if tax_classification = INDIVIDUAL, signature must equal name","example":"John Doe"},"signature_timestamp":{"type":"string","description":"The date and time when the form was signed; the timestamp must be within 24 hours of the current UTC time","example":"2023-02-01T00:00:00.000Z"}},"required":["document_type","name","tax_classification","address","tin","tin_type","has_certified","is_not_subject_backup_withholding","signature","signature_timestamp"]},{"title":"Form W-8BEN","type":"object","properties":{"document_type":{"type":"string","enum":["W-8BEN"],"description":"The document type of the collected tax documentation data","example":"W-8BEN"},"name":{"type":"string","description":"The legal name of the beneficial owner of the account","example":"John Doe"},"reference_numbers":{"type":"string","description":"The legal name of the US or foreign “disregarded entity” (DRE) owner"},"tax_classification":{"type":"string","enum":["INDIVIDUAL"],"description":"The federal tax classification of name","example":"INDIVIDUAL"},"country":{"type":"string","enum":["AF","AX","AL","DZ","AS","AD","AO","AI","AQ","AG","AR","AM","AW","AU","AT","AZ","BS","BH","BD","BB","BY","BE","BZ","BJ","BM","BT","BO","BQ","BA","BW","BV","BR","IO","VG","BN","BG","BF","BI","CV","KH","CM","CA","KY","CF","TD","CL","CN","CX","CC","CO","KM","CG","CD","CK","CR","CI","HR","CU","CW","CY","CZ","DK","DJ","DM","DO","EC","EG","SV","GQ","ER","EE","SZ","ET","FK","FO","FJ","FI","FR","GF","PF","TF","GA","GM","GE","DE","GH","GI","GR","GL","GD","GP","GU","GT","GG","GN","GW","GY","HT","HM","VA","HN","HK","HU","IS","IN","ID","IR","IQ","IE","IM","IL","IT","JM","JP","JE","JO","KZ","KE","KI","KW","KG","LA","LV","LB","LS","LR","LY","LI","LT","LU","MO","MG","MW","MY","MV","ML","MT","MH","MQ","MR","MU","YT","MX","FM","MD","MC","MN","ME","MS","MA","MZ","MM","NA","NR","NP","NL","NC","NZ","NI","NE","NG","NU","NF","KP","MK","MP","NO","OM","PK","PW","PS","PA","PG","PY","PE","PH","PN","PL","PT","PR","QA","RE","RO","RU","RW","BL","SH","KN","LC","MF","PM","VC","WS","SM","ST","SA","SN","RS","SC","SL","SG","SX","SK","SI","SB","SO","ZA","GS","KR","SS","ES","LK","SD","SR","SJ","SE","CH","SY","TW","TJ","TZ","TH","TL","TG","TK","TO","TT","TN","TR","TM","TC","TV","VI","UG","UA","AE","GB","UM","UY","UZ","VU","VE","VN","WF","EH","YE","ZM","ZW"],"description":"The country of citizenship of name; country must not be US","example":"GR"},"permanent_address":{"type":"object","properties":{"first_line":{"type":"string","description":"The first line of name's permanent address; this field is optional if a user has country or stateOrProvince set as UM.","example":"123 Pine St"},"second_line":{"type":"string","description":"The second line of name's permanent address","example":"Apt 456"},"city":{"type":"string","description":"The city of name; this field is optional if a user has country or stateOrProvince set as UM.","example":"Seattle"},"state_or_province":{"anyOf":[{"$ref":"#/paths/~1account-owners~1%7Bid%7D~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/0"},{"$ref":"#/paths/~1account-owners~1%7Bid%7D~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/1"},{"$ref":"#/paths/~1account-owners~1%7Bid%7D~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/2"}],"description":"The state or province of name; this field is optional if a user does not have any of the following country: PR, MP, GU, AS, VI, UM, US, or CA.","example":"WA"},"postal_code":{"type":"string","description":"The postal code of name; if country = US, this field must be 5 or 9 digits; if country = CA, this field must be in \"LNLNLN\", \"LNL NLN\", or \"LNL-NLN\" format; this field is optional if a user does not have any of the following country or stateOrProvince: PR, MP, GU, AS, VI, UM, US, or CA.","example":"98000"},"country":{"type":"string","enum":["AF","AX","AL","DZ","AS","AD","AO","AI","AQ","AG","AR","AM","AW","AU","AT","AZ","BS","BH","BD","BB","BY","BE","BZ","BJ","BM","BT","BO","BQ","BA","BW","BV","BR","IO","VG","BN","BG","BF","BI","CV","KH","CM","CA","KY","CF","TD","CL","CN","CX","CC","CO","KM","CG","CD","CK","CR","CI","HR","CU","CW","CY","CZ","DK","DJ","DM","DO","EC","EG","SV","GQ","ER","EE","SZ","ET","FK","FO","FJ","FI","FR","GF","PF","TF","GA","GM","GE","DE","GH","GI","GR","GL","GD","GP","GU","GT","GG","GN","GW","GY","HT","HM","VA","HN","HK","HU","IS","IN","ID","IR","IQ","IE","IM","IL","IT","JM","JP","JE","JO","KZ","KE","KI","KW","KG","LA","LV","LB","LS","LR","LY","LI","LT","LU","MO","MG","MW","MY","MV","ML","MT","MH","MQ","MR","MU","YT","MX","FM","MD","MC","MN","ME","MS","MA","MZ","MM","NA","NR","NP","NL","NC","NZ","NI","NE","NG","NU","NF","KP","MK","MP","NO","OM","PK","PW","PS","PA","PG","PY","PE","PH","PN","PL","PT","PR","QA","RE","RO","RU","RW","BL","SH","KN","LC","MF","PM","VC","WS","SM","ST","SA","SN","RS","SC","SL","SG","SX","SK","SI","SB","SO","ZA","GS","KR","SS","ES","LK","SD","SR","SJ","SE","CH","SY","TW","TJ","TZ","TH","TL","TG","TK","TO","TT","TN","TR","TM","TC","TV","VI","UG","UA","AE","GB","UM","US","UY","UZ","VU","VE","VN","WF","EH","YE","ZM","ZW"],"description":"The country of name","example":"US"}},"required":["first_line","city","state_or_province","postal_code","country"],"description":"The permanent residence address of name"},"mailing_address":{"type":"object","properties":{"first_line":{"type":"string","description":"The first line of name's mailing address; this field is optional if a user has country or stateOrProvince set as UM.","example":"123 Pine St"},"second_line":{"type":"string","description":"The second line of name's mailing address","example":"Apt 456"},"city":{"type":"string","description":"The city of name; this field is optional if a user has country or stateOrProvince set as UM.","example":"Seattle"},"state_or_province":{"anyOf":[{"$ref":"#/paths/~1account-owners~1%7Bid%7D~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/0"},{"$ref":"#/paths/~1account-owners~1%7Bid%7D~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/1"},{"$ref":"#/paths/~1account-owners~1%7Bid%7D~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/2"}],"description":"The state or province of name; this field is optional if a user does not have any of the following country: PR, MP, GU, AS, VI, UM, US, or CA.","example":"WA"},"postal_code":{"type":"string","description":"The postal code of name; if country = US, this field must be 5 or 9 digits; if country = CA, this field must be in \"LNLNLN\", \"LNL NLN\", or \"LNL-NLN\" format; this field is optional if a user does not have any of the following country or stateOrProvince: PR, MP, GU, AS, VI, UM, US, or CA.","example":"98000"},"country":{"type":"string","enum":["AF","AX","AL","DZ","AS","AD","AO","AI","AQ","AG","AR","AM","AW","AU","AT","AZ","BS","BH","BD","BB","BY","BE","BZ","BJ","BM","BT","BO","BQ","BA","BW","BV","BR","IO","VG","BN","BG","BF","BI","CV","KH","CM","CA","KY","CF","TD","CL","CN","CX","CC","CO","KM","CG","CD","CK","CR","CI","HR","CU","CW","CY","CZ","DK","DJ","DM","DO","EC","EG","SV","GQ","ER","EE","SZ","ET","FK","FO","FJ","FI","FR","GF","PF","TF","GA","GM","GE","DE","GH","GI","GR","GL","GD","GP","GU","GT","GG","GN","GW","GY","HT","HM","VA","HN","HK","HU","IS","IN","ID","IR","IQ","IE","IM","IL","IT","JM","JP","JE","JO","KZ","KE","KI","KW","KG","LA","LV","LB","LS","LR","LY","LI","LT","LU","MO","MG","MW","MY","MV","ML","MT","MH","MQ","MR","MU","YT","MX","FM","MD","MC","MN","ME","MS","MA","MZ","MM","NA","NR","NP","NL","NC","NZ","NI","NE","NG","NU","NF","KP","MK","MP","NO","OM","PK","PW","PS","PA","PG","PY","PE","PH","PN","PL","PT","PR","QA","RE","RO","RU","RW","BL","SH","KN","LC","MF","PM","VC","WS","SM","ST","SA","SN","RS","SC","SL","SG","SX","SK","SI","SB","SO","ZA","GS","KR","SS","ES","LK","SD","SR","SJ","SE","CH","SY","TW","TJ","TZ","TH","TL","TG","TK","TO","TT","TN","TR","TM","TC","TV","VI","UG","UA","AE","GB","UM","US","UY","UZ","VU","VE","VN","WF","EH","YE","ZM","ZW"],"description":"The country of name","example":"US"}},"required":["first_line","city","state_or_province","postal_code","country"],"description":"The mailing address of name"},"tin":{"type":"string","description":"The U.S. tax identification number (TIN) associated with the name; the TIN must consist of 9 numerical digits, must not be sequential or repeating, must not begin with five zeros, and must not contain any alphabetic characters","example":"123123123"},"ftin":{"type":"string","description":"The foreign tax identification number (“FTIN”) of name","example":"667788991"},"ftin_not_legally_required":{"type":"boolean","description":"The user has indicated that they are legally not required to provide a FTIN; if false, FTIN is required","example":true},"date_of_birth":{"type":"string","description":"The date of birth of name; age must be between 0-130","example":"05/11/1998"},"has_certified":{"type":"boolean","enum":[true],"description":"The user has certified under penalties of perjury all necessary certifications","example":true},"signature":{"type":"string","description":"The signed name of signor (i.e., individual authorized to sign for name); signature must equal name","example":"John Doe"},"signature_timestamp":{"type":"string","description":"The date and time when the form was signed; the timestamp must be within 24 hours of the current UTC time","example":"2023-02-01T00:00:00.000Z"}},"required":["document_type","name","tax_classification","country","permanent_address","date_of_birth","ftin_not_legally_required","has_certified","signature","signature_timestamp"]},{"title":"Form W-8BEN-E","type":"object","properties":{"document_type":{"type":"string","enum":["W-8BEN-E"],"description":"The document type of the collected tax documentation data","example":"W-8BEN-E"},"name":{"type":"string","description":"The legal name of the beneficial owner of the account","example":"John Doe"},"reference_numbers":{"type":"string","description":"The legal name of the US or foreign “disregarded entity” (DRE) owner"},"tax_classification":{"type":"string","enum":["CORPORATION","PARTNERSHIP","SIMPLE_TRUST","COMPLEX_TRUST","GRANTOR_TRUST","ESTATE","CENTRAL_BANK_OF_ISSUE","FOREIGN_GOVERNMENT_CONTROLLED_ENTITY","FOREIGN_GOVERNMENT_INTEGRAL_PART","TAX_EXEMPT_ORGANIZATION","PRIVATE_FOUNDATION","INTERNATIONAL_ORGANIZATION"],"description":"The federal tax classification of name","example":"CORPORATION"},"country":{"type":"string","enum":["AF","AX","AL","DZ","AS","AD","AO","AI","AQ","AG","AR","AM","AW","AU","AT","AZ","BS","BH","BD","BB","BY","BE","BZ","BJ","BM","BT","BO","BQ","BA","BW","BV","BR","IO","VG","BN","BG","BF","BI","CV","KH","CM","CA","KY","CF","TD","CL","CN","CX","CC","CO","KM","CG","CD","CK","CR","CI","HR","CU","CW","CY","CZ","DK","DJ","DM","DO","EC","EG","SV","GQ","ER","EE","SZ","ET","FK","FO","FJ","FI","FR","GF","PF","TF","GA","GM","GE","DE","GH","GI","GR","GL","GD","GP","GU","GT","GG","GN","GW","GY","HT","HM","VA","HN","HK","HU","IS","IN","ID","IR","IQ","IE","IM","IL","IT","JM","JP","JE","JO","KZ","KE","KI","KW","KG","LA","LV","LB","LS","LR","LY","LI","LT","LU","MO","MG","MW","MY","MV","ML","MT","MH","MQ","MR","MU","YT","MX","FM","MD","MC","MN","ME","MS","MA","MZ","MM","NA","NR","NP","NL","NC","NZ","NI","NE","NG","NU","NF","KP","MK","MP","NO","OM","PK","PW","PS","PA","PG","PY","PE","PH","PN","PL","PT","PR","QA","RE","RO","RU","RW","BL","SH","KN","LC","MF","PM","VC","WS","SM","ST","SA","SN","RS","SC","SL","SG","SX","SK","SI","SB","SO","ZA","GS","KR","SS","ES","LK","SD","SR","SJ","SE","CH","SY","TW","TJ","TZ","TH","TL","TG","TK","TO","TT","TN","TR","TM","TC","TV","VI","UG","UA","AE","GB","UM","UY","UZ","VU","VE","VN","WF","EH","YE","ZM","ZW"],"description":"The country in which the business or organization is legally registered or incorporated; this must be a country other than the United States","example":"GR"},"permanent_address":{"type":"object","properties":{"first_line":{"type":"string","description":"The first line of name's permanent address; this field is optional if a user has country or stateOrProvince set as UM.","example":"123 Pine St"},"second_line":{"type":"string","description":"The second line of name's permanent address","example":"Apt 456"},"city":{"type":"string","description":"The city of name; this field is optional if a user has country or stateOrProvince set as UM.","example":"Seattle"},"state_or_province":{"anyOf":[{"$ref":"#/paths/~1account-owners~1%7Bid%7D~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/0"},{"$ref":"#/paths/~1account-owners~1%7Bid%7D~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/1"},{"$ref":"#/paths/~1account-owners~1%7Bid%7D~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/2"}],"description":"The state or province of name; this field is optional if a user does not have any of the following country: PR, MP, GU, AS, VI, UM, US, or CA.","example":"WA"},"postal_code":{"type":"string","description":"The postal code of name; if country = US, this field must be 5 or 9 digits; if country = CA, this field must be in \"LNLNLN\", \"LNL NLN\", or \"LNL-NLN\" format; this field is optional if a user does not have any of the following country or stateOrProvince: PR, MP, GU, AS, VI, UM, US, or CA.","example":"98000"},"country":{"type":"string","enum":["AF","AX","AL","DZ","AS","AD","AO","AI","AQ","AG","AR","AM","AW","AU","AT","AZ","BS","BH","BD","BB","BY","BE","BZ","BJ","BM","BT","BO","BQ","BA","BW","BV","BR","IO","VG","BN","BG","BF","BI","CV","KH","CM","CA","KY","CF","TD","CL","CN","CX","CC","CO","KM","CG","CD","CK","CR","CI","HR","CU","CW","CY","CZ","DK","DJ","DM","DO","EC","EG","SV","GQ","ER","EE","SZ","ET","FK","FO","FJ","FI","FR","GF","PF","TF","GA","GM","GE","DE","GH","GI","GR","GL","GD","GP","GU","GT","GG","GN","GW","GY","HT","HM","VA","HN","HK","HU","IS","IN","ID","IR","IQ","IE","IM","IL","IT","JM","JP","JE","JO","KZ","KE","KI","KW","KG","LA","LV","LB","LS","LR","LY","LI","LT","LU","MO","MG","MW","MY","MV","ML","MT","MH","MQ","MR","MU","YT","MX","FM","MD","MC","MN","ME","MS","MA","MZ","MM","NA","NR","NP","NL","NC","NZ","NI","NE","NG","NU","NF","KP","MK","MP","NO","OM","PK","PW","PS","PA","PG","PY","PE","PH","PN","PL","PT","PR","QA","RE","RO","RU","RW","BL","SH","KN","LC","MF","PM","VC","WS","SM","ST","SA","SN","RS","SC","SL","SG","SX","SK","SI","SB","SO","ZA","GS","KR","SS","ES","LK","SD","SR","SJ","SE","CH","SY","TW","TJ","TZ","TH","TL","TG","TK","TO","TT","TN","TR","TM","TC","TV","VI","UG","UA","AE","GB","UM","US","UY","UZ","VU","VE","VN","WF","EH","YE","ZM","ZW"],"description":"The country of name","example":"US"}},"required":["first_line","city","state_or_province","postal_code","country"],"description":"The permanent residence address of name"},"mailing_address":{"type":"object","properties":{"first_line":{"type":"string","description":"The first line of name's mailing address; this field is optional if a user has country or stateOrProvince set as UM.","example":"123 Pine St"},"second_line":{"type":"string","description":"The second line of name's mailing address","example":"Apt 456"},"city":{"type":"string","description":"The city of name; this field is optional if a user has country or stateOrProvince set as UM.","example":"Seattle"},"state_or_province":{"anyOf":[{"$ref":"#/paths/~1account-owners~1%7Bid%7D~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/0"},{"$ref":"#/paths/~1account-owners~1%7Bid%7D~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/1"},{"$ref":"#/paths/~1account-owners~1%7Bid%7D~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/2"}],"description":"The state or province of name; this field is optional if a user does not have any of the following country: PR, MP, GU, AS, VI, UM, US, or CA.","example":"WA"},"postal_code":{"type":"string","description":"The postal code of name; if country = US, this field must be 5 or 9 digits; if country = CA, this field must be in \"LNLNLN\", \"LNL NLN\", or \"LNL-NLN\" format; this field is optional if a user does not have any of the following country or stateOrProvince: PR, MP, GU, AS, VI, UM, US, or CA.","example":"98000"},"country":{"type":"string","enum":["AF","AX","AL","DZ","AS","AD","AO","AI","AQ","AG","AR","AM","AW","AU","AT","AZ","BS","BH","BD","BB","BY","BE","BZ","BJ","BM","BT","BO","BQ","BA","BW","BV","BR","IO","VG","BN","BG","BF","BI","CV","KH","CM","CA","KY","CF","TD","CL","CN","CX","CC","CO","KM","CG","CD","CK","CR","CI","HR","CU","CW","CY","CZ","DK","DJ","DM","DO","EC","EG","SV","GQ","ER","EE","SZ","ET","FK","FO","FJ","FI","FR","GF","PF","TF","GA","GM","GE","DE","GH","GI","GR","GL","GD","GP","GU","GT","GG","GN","GW","GY","HT","HM","VA","HN","HK","HU","IS","IN","ID","IR","IQ","IE","IM","IL","IT","JM","JP","JE","JO","KZ","KE","KI","KW","KG","LA","LV","LB","LS","LR","LY","LI","LT","LU","MO","MG","MW","MY","MV","ML","MT","MH","MQ","MR","MU","YT","MX","FM","MD","MC","MN","ME","MS","MA","MZ","MM","NA","NR","NP","NL","NC","NZ","NI","NE","NG","NU","NF","KP","MK","MP","NO","OM","PK","PW","PS","PA","PG","PY","PE","PH","PN","PL","PT","PR","QA","RE","RO","RU","RW","BL","SH","KN","LC","MF","PM","VC","WS","SM","ST","SA","SN","RS","SC","SL","SG","SX","SK","SI","SB","SO","ZA","GS","KR","SS","ES","LK","SD","SR","SJ","SE","CH","SY","TW","TJ","TZ","TH","TL","TG","TK","TO","TT","TN","TR","TM","TC","TV","VI","UG","UA","AE","GB","UM","US","UY","UZ","VU","VE","VN","WF","EH","YE","ZM","ZW"],"description":"The country of name","example":"US"}},"required":["first_line","city","state_or_province","postal_code","country"],"description":"The mailing address of name"},"tin":{"type":"string","description":"The U.S. tax identification number (TIN) associated with the name; the TIN must consist of 9 numerical digits, must not be sequential or repeating, must not begin with five zeros, and must not contain any alphabetic characters","example":"123123123"},"ftin":{"type":"string","description":"The foreign tax identification number (“FTIN”) of name","example":"667788991"},"ftin_not_legally_required":{"type":"boolean","description":"The user has indicated that they are legally not required to provide a FTIN; if false, FTIN is required","example":true},"has_certified":{"type":"boolean","enum":[true],"description":"The user has certified under penalties of perjury all necessary certifications","example":true},"signature":{"type":"string","description":"The signed name of signor (i.e., individual authorized to sign for name)","example":"John Doe"},"signature_timestamp":{"type":"string","description":"The date and time when the form was signed; the timestamp must be within 24 hours of the current UTC time","example":"2023-02-01T00:00:00.000Z"}},"required":["document_type","name","tax_classification","country","permanent_address","ftin_not_legally_required","has_certified","signature","signature_timestamp"]}]}}}},"responses":{"200":{"description":"Tax Documentation Data","content":{"application/json":{"schema":{"$ref":"#/paths/~1account-owners~1%7Bid%7D~1tax-documentation/get/responses/200/content/application~1json/schema"}}}},"400":{"description":"Invalid Data","content":{"application/json":{"schema":{"title":"Tax Documentation 400 Response","type":"object","properties":{"error":{"type":"string","description":"The error code","example":"BadRequest"},"message":{"type":"string","description":"The error message","example":"Invalid request body"},"issues":{"type":"array","items":{"type":"object"}}}}}}},"401":{"description":"Forbidden"},"403":{"description":"Wrong Account Owner"},"404":{"description":"Tax Documentation Not Found"},"429":{"$ref":"#/paths/~1documents/get/responses/429"}},"security":[{"ClientAuthorizer":[]}]},"get":{"summary":"Retrieve Latest Tax Documentation Data","description":"Returns the most recent W-9, W-8BEN, or W-8BEN-E data submission for an Account Owner","tags":["Tax Documentation"],"parameters":[{"name":"id","description":"Your system's unique identifier for the Account Owner","in":"path","required":true,"schema":{"type":"string"}},{"in":"query","name":"unmask_tin","schema":{"type":"string","enum":["true","false"],"default":"false"},"required":false,"description":"Whether to unmask the tin in the response; defaults to false","example":"false"}],"responses":{"200":{"description":"Tax Documentation Data","content":{"application/json":{"schema":{"title":"Tax Documentation Response","oneOf":[{"title":"Form W-9","type":"object","properties":{"id":{"type":"string","format":"uuid","description":"The TaxBit internal UUID for the collected tax documentation data","example":"0177df49-c1aa-4d0b-bbeb-67a0c1b33a94"},"document_type":{"type":"string","enum":["W-9"],"description":"The document type of the collected tax documentation data","example":"W-9"},"name":{"type":"string","description":"The legal name of the beneficial owner of the account","example":"John Doe"},"dba_name":{"type":"string","description":"The \"doing business as\" (DBA) or \"disregarded entity\" (DRE) name"},"tax_classification":{"type":"string","enum":["INDIVIDUAL","C_CORPORATION","S_CORPORATION","PARTNERSHIP","TRUST_ESTATE","LLC_C","LLC_P","LLC_S","OTHER"],"description":"The federal tax classification of name","example":"INDIVIDUAL"},"other_tax_classification":{"type":"string","description":"The tax classification not listed"},"exempt_payee_code":{"type":"string","enum":["1","2","3","4","5","6","7","8","9","10","11","12","13"],"description":"The code used to identify payees who are exempt from backup withholding","example":"1"},"exempt_fatca_code":{"type":"string","enum":["A","B","C","D","E","F","G","H","I","J","K","L","M"],"description":"The code used to identify payees who are exempt from FATCA reporting","example":"A"},"address":{"type":"object","properties":{"first_line":{"type":"string","description":"The first line of name's address","example":"123 Pine St"},"second_line":{"type":"string","description":"The second line of name's address","example":"Apt 456"},"city":{"type":"string","description":"The city of name","example":"Seattle"},"state_or_province":{"anyOf":[{"$ref":"#/paths/~1account-owners~1%7Bid%7D~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/0"},{"$ref":"#/paths/~1account-owners~1%7Bid%7D~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/1"},{"$ref":"#/paths/~1account-owners~1%7Bid%7D~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/2"}],"description":"The state or proince of name","example":"WA"},"postal_code":{"type":"string","description":"The postal code of name","example":"98000"},"country":{"type":"string","enum":["AF","AX","AL","DZ","AS","AD","AO","AI","AQ","AG","AR","AM","AW","AU","AT","AZ","BS","BH","BD","BB","BY","BE","BZ","BJ","BM","BT","BO","BQ","BA","BW","BV","BR","IO","VG","BN","BG","BF","BI","CV","KH","CM","CA","KY","CF","TD","CL","CN","CX","CC","CO","KM","CG","CD","CK","CR","CI","HR","CU","CW","CY","CZ","DK","DJ","DM","DO","EC","EG","SV","GQ","ER","EE","SZ","ET","FK","FO","FJ","FI","FR","GF","PF","TF","GA","GM","GE","DE","GH","GI","GR","GL","GD","GP","GU","GT","GG","GN","GW","GY","HT","HM","VA","HN","HK","HU","IS","IN","ID","IR","IQ","IE","IM","IL","IT","JM","JP","JE","JO","KZ","KE","KI","KW","KG","LA","LV","LB","LS","LR","LY","LI","LT","LU","MO","MG","MW","MY","MV","ML","MT","MH","MQ","MR","MU","YT","MX","FM","MD","MC","MN","ME","MS","MA","MZ","MM","NA","NR","NP","NL","NC","NZ","NI","NE","NG","NU","NF","KP","MK","MP","NO","OM","PK","PW","PS","PA","PG","PY","PE","PH","PN","PL","PT","PR","QA","RE","RO","RU","RW","BL","SH","KN","LC","MF","PM","VC","WS","SM","ST","SA","SN","RS","SC","SL","SG","SX","SK","SI","SB","SO","ZA","GS","KR","SS","ES","LK","SD","SR","SJ","SE","CH","SY","TW","TJ","TZ","TH","TL","TG","TK","TO","TT","TN","TR","TM","TC","TV","VI","UG","UA","AE","GB","UM","US","UY","UZ","VU","VE","VN","WF","EH","YE","ZM","ZW"],"description":"The country of name","example":"US"}},"description":"The address of name"},"tin":{"type":"string","description":"The US tax identification number of name","example":"123123123"},"tin_type":{"type":"string","enum":["SSN","EIN","ITIN","ATIN"],"description":"The type of US tax identification number","example":"SSN"},"has_certified":{"type":"boolean","enum":[true],"description":"The user has certified under penalties of perjury all necessary certifications","example":true},"is_not_subject_backup_withholding":{"type":"boolean","description":"The user has certified that they are not subject to backup withholding","example":true},"signature":{"type":"string","description":"The signed name of signor (i.e., individual authorized to sign for name)","example":"John Doe"},"signature_timestamp":{"type":"string","description":"The date and time the form was signed","example":"2023-02-01T00:00:00.000Z"}}},{"title":"Form W-8BEN","type":"object","properties":{"id":{"type":"string","format":"uuid","description":"The TaxBit internal UUID for the collected tax documentation data","example":"0177df49-c1aa-4d0b-bbeb-67a0c1b33a94"},"document_type":{"type":"string","enum":["W-8BEN"],"description":"The document type of the collected tax documentation data","example":"W-8BEN"},"name":{"type":"string","description":"The legal name of the beneficial owner of the account","example":"John Doe"},"reference_numbers":{"type":"string","description":"The legal name of the US or foreign “disregarded entity” (DRE) owner"},"tax_classification":{"type":"string","enum":["INDIVIDUAL"],"description":"The federal tax classification of name","example":"INDIVIDUAL"},"country":{"type":"string","description":"The country of citizenship of name","example":"GR"},"permanent_address":{"type":"object","properties":{"first_line":{"type":"string","description":"The first line of name's permanent address; this field is optional if a user has country or stateOrProvince set as UM.","example":"123 Pine St"},"second_line":{"type":"string","description":"The second line of name's permanent address","example":"Apt 456"},"city":{"type":"string","description":"The city of name; this field is optional if a user has country or stateOrProvince set as UM.","example":"Seattle"},"state_or_province":{"anyOf":[{"$ref":"#/paths/~1account-owners~1%7Bid%7D~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/0"},{"$ref":"#/paths/~1account-owners~1%7Bid%7D~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/1"},{"$ref":"#/paths/~1account-owners~1%7Bid%7D~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/2"}],"description":"The state or province of name; this field is optional if a user does not have any of the following country: PR, MP, GU, AS, VI, UM, US, or CA.","example":"WA"},"postal_code":{"type":"string","description":"The postal code of name; if country = US, this field must be 5 or 9 digits; if country = CA, this field must be in \"LNLNLN\", \"LNL NLN\", or \"LNL-NLN\" format; this field is optional if a user does not have any of the following country or stateOrProvince: PR, MP, GU, AS, VI, UM, US, or CA.","example":"98000"},"country":{"type":"string","enum":["AF","AX","AL","DZ","AS","AD","AO","AI","AQ","AG","AR","AM","AW","AU","AT","AZ","BS","BH","BD","BB","BY","BE","BZ","BJ","BM","BT","BO","BQ","BA","BW","BV","BR","IO","VG","BN","BG","BF","BI","CV","KH","CM","CA","KY","CF","TD","CL","CN","CX","CC","CO","KM","CG","CD","CK","CR","CI","HR","CU","CW","CY","CZ","DK","DJ","DM","DO","EC","EG","SV","GQ","ER","EE","SZ","ET","FK","FO","FJ","FI","FR","GF","PF","TF","GA","GM","GE","DE","GH","GI","GR","GL","GD","GP","GU","GT","GG","GN","GW","GY","HT","HM","VA","HN","HK","HU","IS","IN","ID","IR","IQ","IE","IM","IL","IT","JM","JP","JE","JO","KZ","KE","KI","KW","KG","LA","LV","LB","LS","LR","LY","LI","LT","LU","MO","MG","MW","MY","MV","ML","MT","MH","MQ","MR","MU","YT","MX","FM","MD","MC","MN","ME","MS","MA","MZ","MM","NA","NR","NP","NL","NC","NZ","NI","NE","NG","NU","NF","KP","MK","MP","NO","OM","PK","PW","PS","PA","PG","PY","PE","PH","PN","PL","PT","PR","QA","RE","RO","RU","RW","BL","SH","KN","LC","MF","PM","VC","WS","SM","ST","SA","SN","RS","SC","SL","SG","SX","SK","SI","SB","SO","ZA","GS","KR","SS","ES","LK","SD","SR","SJ","SE","CH","SY","TW","TJ","TZ","TH","TL","TG","TK","TO","TT","TN","TR","TM","TC","TV","VI","UG","UA","AE","GB","UM","US","UY","UZ","VU","VE","VN","WF","EH","YE","ZM","ZW"],"description":"The country of name","example":"US"}},"description":"The permanent residence address of name"},"mailing_address":{"type":"object","properties":{"first_line":{"type":"string","description":"The first line of name's mailing address; this field is optional if a user has country or stateOrProvince set as UM.","example":"123 Pine St"},"second_line":{"type":"string","description":"The second line of name's mailing address","example":"Apt 456"},"city":{"type":"string","description":"The city of name; this field is optional if a user has country or stateOrProvince set as UM.","example":"Seattle"},"state_or_province":{"anyOf":[{"$ref":"#/paths/~1account-owners~1%7Bid%7D~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/0"},{"$ref":"#/paths/~1account-owners~1%7Bid%7D~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/1"},{"$ref":"#/paths/~1account-owners~1%7Bid%7D~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/2"}],"description":"The state or province of name; this field is optional if a user does not have any of the following country: PR, MP, GU, AS, VI, UM, US, or CA.","example":"WA"},"postal_code":{"type":"string","description":"The postal code of name; if country = US, this field must be 5 or 9 digits; if country = CA, this field must be in \"LNLNLN\", \"LNL NLN\", or \"LNL-NLN\" format; this field is optional if a user does not have any of the following country or stateOrProvince: PR, MP, GU, AS, VI, UM, US, or CA.","example":"98000"},"country":{"type":"string","enum":["AF","AX","AL","DZ","AS","AD","AO","AI","AQ","AG","AR","AM","AW","AU","AT","AZ","BS","BH","BD","BB","BY","BE","BZ","BJ","BM","BT","BO","BQ","BA","BW","BV","BR","IO","VG","BN","BG","BF","BI","CV","KH","CM","CA","KY","CF","TD","CL","CN","CX","CC","CO","KM","CG","CD","CK","CR","CI","HR","CU","CW","CY","CZ","DK","DJ","DM","DO","EC","EG","SV","GQ","ER","EE","SZ","ET","FK","FO","FJ","FI","FR","GF","PF","TF","GA","GM","GE","DE","GH","GI","GR","GL","GD","GP","GU","GT","GG","GN","GW","GY","HT","HM","VA","HN","HK","HU","IS","IN","ID","IR","IQ","IE","IM","IL","IT","JM","JP","JE","JO","KZ","KE","KI","KW","KG","LA","LV","LB","LS","LR","LY","LI","LT","LU","MO","MG","MW","MY","MV","ML","MT","MH","MQ","MR","MU","YT","MX","FM","MD","MC","MN","ME","MS","MA","MZ","MM","NA","NR","NP","NL","NC","NZ","NI","NE","NG","NU","NF","KP","MK","MP","NO","OM","PK","PW","PS","PA","PG","PY","PE","PH","PN","PL","PT","PR","QA","RE","RO","RU","RW","BL","SH","KN","LC","MF","PM","VC","WS","SM","ST","SA","SN","RS","SC","SL","SG","SX","SK","SI","SB","SO","ZA","GS","KR","SS","ES","LK","SD","SR","SJ","SE","CH","SY","TW","TJ","TZ","TH","TL","TG","TK","TO","TT","TN","TR","TM","TC","TV","VI","UG","UA","AE","GB","UM","US","UY","UZ","VU","VE","VN","WF","EH","YE","ZM","ZW"],"description":"The country of name","example":"US"}},"description":"The mailing address of name"},"tin":{"type":"string","description":"The US tax identification number of name","example":"123123123"},"ftin":{"type":"string","description":"The foreign tax identification number (“FTIN”) of name","example":"667788991"},"ftin_not_legally_required":{"type":"boolean","description":"The user has indicated that they are legally not required to provide a FTIN","example":true},"date_of_birth":{"type":"string","description":"The date of birth of name","example":"05/11/1998"},"has_certified":{"type":"boolean","enum":[true],"description":"The user has certified under penalties of perjury all necessary certifications","example":true},"signature":{"type":"string","description":"The signed name of signor (i.e., individual authorized to sign for name)","example":"John Doe"},"signature_timestamp":{"type":"string","description":"The date and time the form was signed","example":"2023-02-01T00:00:00.000Z"}}},{"title":"Form W-8BEN-E","type":"object","properties":{"id":{"type":"string","format":"uuid","description":"The TaxBit internal UUID for the collected tax documentation data","example":"0177df49-c1aa-4d0b-bbeb-67a0c1b33a94"},"document_type":{"type":"string","enum":["W-8BEN-E"],"description":"The document type of the collected tax documentation data","example":"W-8BEN-E"},"name":{"type":"string","description":"The legal name of the beneficial owner of the account","example":"John Doe"},"reference_numbers":{"type":"string","description":"The legal name of the US or foreign “disregarded entity” (DRE) owner"},"tax_classification":{"type":"string","enum":["CORPORATION","PARTNERSHIP","SIMPLE_TRUST","COMPLEX_TRUST","GRANTOR_TRUST","ESTATE","CENTRAL_BANK_OF_ISSUE","FOREIGN_GOVERNMENT_CONTROLLED_ENTITY","FOREIGN_GOVERNMENT_INTEGRAL_PART","TAX_EXEMPT_ORGANIZATION","PRIVATE_FOUNDATION","INTERNATIONAL_ORGANIZATION"],"description":"The federal tax classification of name","example":"CORPORATION"},"country":{"type":"string","description":"The country of incorporation or organization of name","example":"GR"},"permanent_address":{"type":"object","properties":{"first_line":{"type":"string","description":"The first line of name's permanent address; this field is optional if a user has country or stateOrProvince set as UM.","example":"123 Pine St"},"second_line":{"type":"string","description":"The second line of name's permanent address","example":"Apt 456"},"city":{"type":"string","description":"The city of name; this field is optional if a user has country or stateOrProvince set as UM.","example":"Seattle"},"state_or_province":{"anyOf":[{"$ref":"#/paths/~1account-owners~1%7Bid%7D~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/0"},{"$ref":"#/paths/~1account-owners~1%7Bid%7D~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/1"},{"$ref":"#/paths/~1account-owners~1%7Bid%7D~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/2"}],"description":"The state or province of name; this field is optional if a user does not have any of the following country: PR, MP, GU, AS, VI, UM, US, or CA.","example":"WA"},"postal_code":{"type":"string","description":"The postal code of name; if country = US, this field must be 5 or 9 digits; if country = CA, this field must be in \"LNLNLN\", \"LNL NLN\", or \"LNL-NLN\" format; this field is optional if a user does not have any of the following country or stateOrProvince: PR, MP, GU, AS, VI, UM, US, or CA.","example":"98000"},"country":{"type":"string","enum":["AF","AX","AL","DZ","AS","AD","AO","AI","AQ","AG","AR","AM","AW","AU","AT","AZ","BS","BH","BD","BB","BY","BE","BZ","BJ","BM","BT","BO","BQ","BA","BW","BV","BR","IO","VG","BN","BG","BF","BI","CV","KH","CM","CA","KY","CF","TD","CL","CN","CX","CC","CO","KM","CG","CD","CK","CR","CI","HR","CU","CW","CY","CZ","DK","DJ","DM","DO","EC","EG","SV","GQ","ER","EE","SZ","ET","FK","FO","FJ","FI","FR","GF","PF","TF","GA","GM","GE","DE","GH","GI","GR","GL","GD","GP","GU","GT","GG","GN","GW","GY","HT","HM","VA","HN","HK","HU","IS","IN","ID","IR","IQ","IE","IM","IL","IT","JM","JP","JE","JO","KZ","KE","KI","KW","KG","LA","LV","LB","LS","LR","LY","LI","LT","LU","MO","MG","MW","MY","MV","ML","MT","MH","MQ","MR","MU","YT","MX","FM","MD","MC","MN","ME","MS","MA","MZ","MM","NA","NR","NP","NL","NC","NZ","NI","NE","NG","NU","NF","KP","MK","MP","NO","OM","PK","PW","PS","PA","PG","PY","PE","PH","PN","PL","PT","PR","QA","RE","RO","RU","RW","BL","SH","KN","LC","MF","PM","VC","WS","SM","ST","SA","SN","RS","SC","SL","SG","SX","SK","SI","SB","SO","ZA","GS","KR","SS","ES","LK","SD","SR","SJ","SE","CH","SY","TW","TJ","TZ","TH","TL","TG","TK","TO","TT","TN","TR","TM","TC","TV","VI","UG","UA","AE","GB","UM","US","UY","UZ","VU","VE","VN","WF","EH","YE","ZM","ZW"],"description":"The country of name","example":"US"}},"description":"The permanent residence address of name"},"mailing_address":{"type":"object","properties":{"first_line":{"type":"string","description":"The first line of name's mailing address; this field is optional if a user has country or stateOrProvince set as UM.","example":"123 Pine St"},"second_line":{"type":"string","description":"The second line of name's mailing address","example":"Apt 456"},"city":{"type":"string","description":"The city of name; this field is optional if a user has country or stateOrProvince set as UM.","example":"Seattle"},"state_or_province":{"anyOf":[{"$ref":"#/paths/~1account-owners~1%7Bid%7D~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/0"},{"$ref":"#/paths/~1account-owners~1%7Bid%7D~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/1"},{"$ref":"#/paths/~1account-owners~1%7Bid%7D~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/2"}],"description":"The state or province of name; this field is optional if a user does not have any of the following country: PR, MP, GU, AS, VI, UM, US, or CA.","example":"WA"},"postal_code":{"type":"string","description":"The postal code of name; if country = US, this field must be 5 or 9 digits; if country = CA, this field must be in \"LNLNLN\", \"LNL NLN\", or \"LNL-NLN\" format; this field is optional if a user does not have any of the following country or stateOrProvince: PR, MP, GU, AS, VI, UM, US, or CA.","example":"98000"},"country":{"type":"string","enum":["AF","AX","AL","DZ","AS","AD","AO","AI","AQ","AG","AR","AM","AW","AU","AT","AZ","BS","BH","BD","BB","BY","BE","BZ","BJ","BM","BT","BO","BQ","BA","BW","BV","BR","IO","VG","BN","BG","BF","BI","CV","KH","CM","CA","KY","CF","TD","CL","CN","CX","CC","CO","KM","CG","CD","CK","CR","CI","HR","CU","CW","CY","CZ","DK","DJ","DM","DO","EC","EG","SV","GQ","ER","EE","SZ","ET","FK","FO","FJ","FI","FR","GF","PF","TF","GA","GM","GE","DE","GH","GI","GR","GL","GD","GP","GU","GT","GG","GN","GW","GY","HT","HM","VA","HN","HK","HU","IS","IN","ID","IR","IQ","IE","IM","IL","IT","JM","JP","JE","JO","KZ","KE","KI","KW","KG","LA","LV","LB","LS","LR","LY","LI","LT","LU","MO","MG","MW","MY","MV","ML","MT","MH","MQ","MR","MU","YT","MX","FM","MD","MC","MN","ME","MS","MA","MZ","MM","NA","NR","NP","NL","NC","NZ","NI","NE","NG","NU","NF","KP","MK","MP","NO","OM","PK","PW","PS","PA","PG","PY","PE","PH","PN","PL","PT","PR","QA","RE","RO","RU","RW","BL","SH","KN","LC","MF","PM","VC","WS","SM","ST","SA","SN","RS","SC","SL","SG","SX","SK","SI","SB","SO","ZA","GS","KR","SS","ES","LK","SD","SR","SJ","SE","CH","SY","TW","TJ","TZ","TH","TL","TG","TK","TO","TT","TN","TR","TM","TC","TV","VI","UG","UA","AE","GB","UM","US","UY","UZ","VU","VE","VN","WF","EH","YE","ZM","ZW"],"description":"The country of name","example":"US"}},"description":"The mailing address of name"},"tin":{"type":"string","description":"The US tax identification number of name","example":"123123123"},"ftin":{"type":"string","description":"The foreign tax identification number (“FTIN”) of name","example":"667788991"},"ftin_not_legally_required":{"type":"boolean","description":"The user has indicated that they are legally not required to provide a FTIN","example":true},"has_certified":{"type":"boolean","enum":[true],"description":"The user has certified under penalties of perjury all necessary certifications","example":true},"signature":{"type":"string","description":"The signed name of signor (i.e., individual authorized to sign for name)","example":"John Doe"},"signature_timestamp":{"type":"string","description":"The date and time the form was signed","example":"2023-02-01T00:00:00.000Z"}}}]}}}},"400":{"description":"Invalid Data"},"401":{"description":"Forbidden"},"404":{"description":"Tax Documentation Not Found"},"429":{"$ref":"#/paths/~1documents/get/responses/429"}},"security":[{"ClientAuthorizer":[]}]}},"/account-owners/{id}/tax-documentation/summary":{"get":{"summary":"Retrieve Tax Documentation Summary","description":"Returns the Tax Documentation Type and Status, TIN Verification Status, Issues, and Expiration Date (if applicable), for an Account Owner","parameters":[{"name":"id","description":"Your system's unique identifier for the Account Owner","in":"path","required":true,"schema":{"type":"string"}}],"tags":["Tax Documentation"],"responses":{"200":{"description":"Tax Documentation Summary","content":{"application/json":{"schema":{"title":"Tax Documentation Summary Response","oneOf":[{"title":"Form W-9","type":"object","properties":{"id":{"type":"string","format":"uuid","description":"The TaxBit internal UUID for the collected tax documentation data","example":"0177df49-c1aa-4d0b-bbeb-67a0c1b33a94"},"document_type":{"type":"string","enum":["W-9"],"description":"The document type of the collected tax documentation data","example":"W-9"},"status":{"type":"string","enum":["VALID","INVALID","UNDOCUMENTED"],"description":"The status of the latest Tax Documentation for the account owner","example":"VALID"},"tin_verification_status":{"type":"string","enum":["UNPROCESSED","PENDING","INVALID","TIN_MISMATCH","NOT_ISSUED","VALID_TIN_TYPE_MISMATCH","VALID"],"description":"The status of the IRS TIN Match in the TaxBit system.","example":"VALID"},"tin_verification_date":{"type":"string","description":"The date of the IRS TIN Match result","example":"2025-12-31T00:00:00.000Z"}}},{"title":"Form W-8","type":"object","properties":{"id":{"type":"string","format":"uuid","description":"The TaxBit internal UUID for the collected tax documentation data","example":"0177df49-c1aa-4d0b-bbeb-67a0c1b33a94"},"document_type":{"type":"string","enum":["W-8BEN","W-8BEN-E"],"description":"The document type of the collected tax documentation data","example":"W-8BEN"},"status":{"type":"string","enum":["VALID","INVALID","UNDOCUMENTED"],"description":"The status of the latest Tax Documentation for the account owner","example":"VALID"},"issues":{"type":"object","properties":{"issue_type":{"type":"string","enum":["PO_BOX_PERMANENT_ADDRESS","US_PERMANENT_ADDRESS","US_MAILING_ADDRESS","EXPIRED_FORM","CARE_OF_PERMANENT_ADDRESS"],"description":"The type of issue","example":"US_MAILING_ADDRESS"},"issue_status":{"type":"string","enum":["OPEN","RESOLVED"],"description":"The status of the issue","example":"OPEN"},"curing_status":{"type":"string","enum":["NOT_APPLICABLE","OPEN","RESOLVED"],"description":"The status of curing documentation","example":"OPEN"},"resubmission_status":{"type":"string","enum":["NOT_APPLICABLE","OPEN","RESOLVED"],"description":"The status of resubmission","example":"OPEN"}},"description":"An array of issues related to Tax Documentation submissions"},"expiration_date":{"type":"string","description":"The expiration date of the latest Tax Documentation for an account owner","example":"2025-12-31T00:00:00.000Z"}}}]}}}},"400":{"description":"Invalid Data"},"401":{"description":"Forbidden"},"404":{"description":"Tax Documentation Not Found"},"429":{"$ref":"#/paths/~1documents/get/responses/429"}},"security":[{"ClientAuthorizer":[]}]}},"/account-owners/{id}/tax-documentation/document":{"post":{"summary":"Generate Tax Documentation Document","description":"Creates a W-9, W-8BEN, or W-8BEN-E PDF document for an Account Owner","tags":["Tax Documentation"],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"},"description":"Your system's unique identifier for the Account Owner"}],"responses":{"200":{"description":"Tax Documentation Document","content":{"application/json":{"schema":{"title":"Tax Documentation Document","type":"object","properties":{"id":{"type":"string","format":"uuid","description":"The TaxBit internal UUID for the Tax Documentation document","example":"dee74516-e397-11ed-b5ea-0242ac120002"},"type":{"type":"string","enum":["W-9","W-8BEN","W-8BEN-E"],"description":"The Tax Dcoumentation document type","example":"W-9"},"status":{"type":"string","enum":["PROCESSING","FINISHED","ERROR"],"description":"The Tax Documentation document generation status","example":"FINISHED"},"signature_timestamp":{"type":"string","description":"The date and time the Tax Documentation document was created","example":"2023-02-01T00:00:00.000Z"},"url":{"type":"string","description":"URL to download the Tax Documentation document","example":"https://taxbit-staging-east1-document-service...id=GetObject"}},"required":["id","type","status","signature_timestamp"]}}}},"400":{"description":"Invalid Data"},"401":{"description":"Forbidden"},"403":{"description":"Wrong Account Owner"},"404":{"description":"Tax Documentation Document Not Found"},"429":{"$ref":"#/paths/~1documents/get/responses/429"}},"security":[{"ClientAuthorizer":[]}]}},"/account-owners/{id}/tax-documentation/document/{document-id}":{"get":{"summary":"Retrieve Tax Documentation Document by ID","description":"Returns a W-9, W-8BEN, or W-8BEN-E PDF document by its ID for an Account Owner","tags":["Tax Documentation"],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"},"description":"Your system's unique identifier for the Account Owner"},{"in":"path","name":"document-id","schema":{"type":"string","format":"uuid"},"required":true,"description":"The TaxBit internal UUID for the Tax Documentation document","example":"dee74516-e397-11ed-b5ea-0242ac120002"}],"responses":{"200":{"description":"Tax Documentation Document","content":{"application/json":{"schema":{"$ref":"#/paths/~1account-owners~1%7Bid%7D~1tax-documentation~1document/post/responses/200/content/application~1json/schema"}}}},"400":{"description":"Invalid Data"},"401":{"description":"Forbidden"},"403":{"description":"Wrong Account Owner"},"404":{"description":"Tax Documentation Document Not Found"},"429":{"$ref":"#/paths/~1documents/get/responses/429"}},"security":[{"ClientAuthorizer":[]}]}},"/accounts":{"post":{"description":"Create accounts associated with an account owner in TaxBit's system. Accounts enable sending transactions, accessing inventory details, and retrieving tax-related documents associated with these accounts.","responses":{"201":{"content":{"application/json":{"schema":{"title":"Account Response","type":"object","properties":{"data":{"title":"Account","type":"object","properties":{"id":{"$ref":"#/paths/~1accounts/post/requestBody/content/application~1json/schema/allOf/0/properties/id"},"taxbit_id":{"$ref":"#/paths/~1account-owners/post/responses/201/content/application~1json/schema/properties/data/properties/taxbit_id"},"tenant_id":{"$ref":"#/paths/~1account-owners/post/responses/201/content/application~1json/schema/properties/data/properties/tenant_id"},"date_created":{"description":"The date when the account was created in TaxBit's system.","example":"2023-08-19","format":"date","type":"string"},"date_modified":{"description":"The date when the account was last modified in TaxBit's system.","example":"2023-10-19","format":"date","type":"string"},"account_owner_id":{"$ref":"#/paths/~1account-owners/post/requestBody/content/application~1json/schema/properties/id"},"payer_id":{"$ref":"#/paths/~1accounts~1%7Bid%7D/patch/requestBody/content/application~1json/schema/properties/payer_id"},"account_type":{"$ref":"#/paths/~1accounts~1%7Bid%7D/patch/requestBody/content/application~1json/schema/properties/account_type"},"establishment_date":{"description":"ISO-8601 date when the account was established.","example":"2020-08-19","format":"date","type":"string"},"year_end_fair_market_value":{"type":"array","items":{"$ref":"#/paths/~1accounts~1%7Bid%7D/patch/requestBody/content/application~1json/schema/properties/year_end_fair_market_value/items"}},"disposition_method":{"$ref":"#/paths/~1accounts/post/requestBody/content/application~1json/schema/allOf/0/properties/disposition_method"},"secondary_account_owner_ids":{"type":"array","description":"A list of additional (secondary) account owner IDs associated with the account.","items":{"$ref":"#/paths/~1account-owners/post/requestBody/content/application~1json/schema/properties/id"}}},"required":["id","taxbit_id","date_modified","date_created","account_owner_id","tenant_id"]}}}}},"description":"Account Successfully Created."},"400":{"content":{"application/json":{"schema":{"properties":{"error":{"example":"Bad Request","type":"string"},"message":{"example":"Invalid request","type":"string"}},"required":["error","message"],"type":"object"}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"properties":{"error":{"example":"Forbidden","type":"string"}},"required":["error"],"type":"object"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"properties":{"error":{"example":"Not Found","type":"string"},"message":{"example":"Object with id <value> cannot be found","type":"string"}},"required":["error","message"]}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"properties":{"error":{"example":"Conflict","type":"string"},"message":{"example":"Object with id <value> already exists","type":"string"}},"required":["error","message"],"type":"object"}}},"description":"Conflict."},"429":{"content":{"application/json":{"schema":{"properties":{"error":{"example":"Too Many Requests","type":"string"}},"required":["error"],"type":"object"}}},"description":"Too Many Requests - Throttling."}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"account_owner_id":{"type":"string"}},"allOf":[{"title":"Create Account Request","type":"object","properties":{"id":{"title":"AccountId","description":"ID of the Account. This is the ID in the TaxBit client's source system.","example":"37480283","type":"string"},"payer_id":{"$ref":"#/paths/~1accounts~1%7Bid%7D/patch/requestBody/content/application~1json/schema/properties/payer_id"},"account_type":{"$ref":"#/paths/~1accounts~1%7Bid%7D/patch/requestBody/content/application~1json/schema/properties/account_type"},"establishment_date":{"description":"ISO-8601 date when the account was established.","type":"string","example":"2020-02-21","format":"date"},"year_end_fair_market_value":{"type":"array","items":{"$ref":"#/paths/~1accounts~1%7Bid%7D/patch/requestBody/content/application~1json/schema/properties/year_end_fair_market_value/items"}},"disposition_method":{"title":"DispositionMethod","description":"The disposition method for the account. Supported disposition methods are HIFO, FIFO, and LIFO.","enum":["HIFO","FIFO","LIFO"]},"secondary_account_owner_ids":{"type":"array","description":"A list of additional (secondary) account owner IDs associated with the account.","items":{"$ref":"#/paths/~1account-owners/post/requestBody/content/application~1json/schema/properties/id"}}},"required":["id"]}],"required":["id","account_owner_id"]}}}},"summary":"Create an Account","security":[{"TenantAuthorizer":[]}],"tags":["Accounts"]}},"/accounts/{id}":{"patch":{"description":"Update an Account's data using your system's unique identifier for the Account.","parameters":[{"description":"Your system's unique identifier for the Account","in":"path","name":"id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/paths/~1accounts/post/responses/201/content/application~1json/schema"}}},"description":"Account Successfully Updated."},"400":{"$ref":"#/paths/~1accounts/post/responses/400"},"403":{"$ref":"#/paths/~1accounts/post/responses/403"},"404":{"$ref":"#/paths/~1accounts/post/responses/404"},"429":{"$ref":"#/paths/~1accounts/post/responses/429"}},"requestBody":{"content":{"application/json":{"schema":{"title":"Account Request","type":"object","properties":{"payer_id":{"title":"PayerId","description":"The Payer/Filer UUID. This is a version 4 UUID.","example":"a1db8f72-7fd8-44db-9d4f-9fe01ec22aac","type":"string","format":"uuid"},"account_type":{"title":"AccountType","description":"Account type for the user.","enum":["US_IRA_TRADITIONAL","US_IRA_ROTH","US_IRA_SEP","US_IRA_SIMPLE"]},"establishment_date":{"description":"ISO-8601 date when the account was established.","type":"string","example":"2020-02-21","format":"date"},"year_end_fair_market_value":{"type":"array","items":{"title":"YearEndFairMarketValue","type":"object","properties":{"year_end":{"description":"Four digit year of the last tax year as of 12/31.","type":"string","example":"2023"},"fair_market_value":{"type":"string","description":"The total US dollar value of assets within the account at year-end.","example":"500"}}}},"secondary_account_owner_ids":{"type":"array","description":"A list of additional (secondary) account owner IDs associated with the account.","items":{"$ref":"#/paths/~1account-owners/post/requestBody/content/application~1json/schema/properties/id"}}}}}}},"summary":"Update an Account","security":[{"TenantAuthorizer":[]}],"tags":["Accounts"]},"get":{"description":"Get Account data using your system's unique identifier for the Account.","parameters":[{"description":"Your system's unique identifier for the Account","in":"path","name":"id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/paths/~1accounts/post/responses/201/content/application~1json/schema"}}},"description":"Fetch Account was Successful."},"403":{"$ref":"#/paths/~1accounts/post/responses/403"},"404":{"$ref":"#/paths/~1accounts/post/responses/404"},"429":{"$ref":"#/paths/~1accounts/post/responses/429"}},"summary":"Get an existing Account","security":[{"TenantAuthorizer":[]}],"tags":["Accounts"]}},"/accounts/{id}/transactions":{"get":{"description":"Retrieve all transactions associated with a given account using your system's unique identifier for the Account.","parameters":[{"description":"Your system's unique identifier for the Account","in":"path","name":"id","required":true,"schema":{"type":"string","example":"Account1234"}},{"description":"A token used to indicate when to resume pagination of results. This is provided by the API in response to a previous request.","in":"query","name":"continuation_key","schema":{"type":"string"}},{"description":"The number of transactions to include in each page of results returned by the API","in":"query","name":"page_size","schema":{"type":"integer"}},{"description":"The date to indicate when to begin the search for transactions, specified in the ISO-8601 date format. If a date is not provided, the search will begin from the earliest available transaction","in":"query","name":"start_date","schema":{"type":"string","format":"date-time","example":"2018-01-15T23:23:50.433Z"}},{"description":"The date to indicate when to end the search for transactions, specified in the ISO-8601 date format. If a date is not provided, the search will continue until the most recent transaction","in":"query","name":"end_date","schema":{"type":"string","format":"date-time","example":"2018-01-16T23:23:50.433Z"}},{"description":"Determines the sorting order of the transactions by date. Use '-date' for descending order or '+date' for ascending order. The default response is in descending order","in":"query","name":"sort_by","schema":{"type":"string","default":"-date","enum":["-date","+date"]}}],"responses":{"200":{"description":"Get transaction response","content":{"application/json":{"schema":{"properties":{"status":{"type":"string","example":"success"},"message":{"type":"string","example":"Get account transactions successful."},"data":{"type":"object","properties":{"transactions":{"type":"array","items":{"$ref":"#/paths/~1transactions~1external-id/post/requestBody/content/application~1json/schema"}},"continuation_key":{"type":"string"}}}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"properties":{"status":{"type":"string"},"message":{"type":"string"},"data":{"type":"string"},"error":{"type":"object","properties":{"errorMessage":{"type":"string"},"errorType":{"type":"string"}}}}}}}},"403":{"$ref":"#/paths/~1oauth~1token/post/responses/403"},"429":{"$ref":"#/paths/~1documents/get/responses/429"}},"security":[{"TenantAuthorizer":[]}],"summary":"Get Account Transactions From TaxBit","tags":["Transactions"]}},"/transactions/{id}/cost-bases":{"get":{"description":"Get the cost bases for the resulting gain items from a disposition (e.g. SELL) transaction ID.","parameters":[{"description":"The Form Data Type (Ex. 8949).","example":8949,"in":"query","name":"form","required":false,"schema":{"type":"string"}},{"description":"The TaxBit UUID of the transaction.","in":"path","name":"id","required":true,"schema":{"type":"string"}},{"description":"User's TaxBit UUID.","in":"header","name":"x-user-id","required":true,"schema":{"format":"uuid","type":"string"}},{"description":"UUID for the Fiat asset for tax calculations (i.e. USD).","in":"query","name":"fiat_asset_id","required":false,"schema":{"example":"e2a4afac-92c6-11e9-a5ee-0a290192900c","format":"uuid","type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"items":{"properties":{"amount_sold":{"allOf":[{"properties":{"asset":{"properties":{"code":{"description":"Asset Code.","example":"BTC","type":"string"},"name":{"description":"TaxBit Asset Full Name.","example":"Bitcoin","type":"string"},"symbol":{"description":"TaxBit Asset Symbol.","example":"₿","type":"string"},"type":{"description":"Asset Type.","enum":["Crypto","Fiat","Precious Metal"],"example":"Crypto","type":"string"},"uuid":{"description":"TaxBit Asset UUID.","example":"9cd9f4d4-078b-4e44-a308-7662fec0f546","format":"uuid","type":"string"}},"required":["code","name","type","uuid"],"title":"Asset","type":"object"},"quantity":{"allOf":[{"description":"Quantity of the given asset."},{"oneOf":[{"example":1.0546,"type":"number"},{"example":"1.0546","type":"string"}],"title":"Quantity"}]}},"required":["asset","quantity"],"title":"AssetQuantity","type":"object"},{"description":"The amount of asset sold.","type":"object"}]},"cost":{"allOf":[{"$ref":"#/paths/~1gains~1summary/get/responses/200/content/application~1json/schema"},{"description":"The cost of the asset sold.","type":"object"}]},"gain":{"allOf":[{"$ref":"#/paths/~1gains~1summary/get/responses/200/content/application~1json/schema"},{"description":"The gain/loss for the transaction.","type":"object"}]},"gain_type":{"description":"Long or Short term gain.","example":"short-term","type":"string"},"proceeds":{"allOf":[{"$ref":"#/paths/~1gains~1summary/get/responses/200/content/application~1json/schema"},{"description":"The proceeds of the transaction.","type":"object"}]},"sale_date":{"description":"ISO-8601 formatted date when the asset was disposed.","example":"2021-01-01T00:00:00Z","format":"date-time","type":"string"},"tax_year":{"description":"Tax Year that the Cost Basis was liquidated in.","example":"2021","type":"string"}},"title":"CostBasis","type":"object"},"type":"array"}}},"description":"Cost Basis Line Items for a Transaction.","headers":{"Access-Control-Allow-Origin":{"schema":{"type":"string"}}}},"401":{"$ref":"#/paths/~1inventory/get/responses/401"},"429":{"$ref":"#/paths/~1documents/get/responses/429"}},"security":[{"ClientAuthorizer":[]}],"summary":"Get Transaction Cost Bases (Taxbit ID)","tags":["Transactions"]}},"/transactions/external-id":{"post":{"description":"Send (create or update) transactions to TaxBit using your system's unique identifier for the Transaction.","requestBody":{"content":{"application/json":{"schema":{"properties":{"id":{"type":"string","description":"Your system's unique identifier for the Transaction"},"taxbit_id":{"type":"string","format":"uuid","description":"TaxBit's internal identifier for the Transaction"},"account_id":{"type":"string","description":"Your system's unique identifier for the Account"},"taxbit_account_id":{"type":"string","format":"uuid","description":"ID of the Account. This is the TaxBit ID."},"tenant_id":{"type":"string","description":"ID of the Tenant."},"datetime":{"type":"string","format":"date","description":"ISO-8601 timestamp representing when the transaction occurred."},"subtype":{"description":"Transaction subtype.","enum":["ach","airdrop","blockchain","card-reward","debit","gross-proceeds-paid-to-an-attorney","interest-crypto-backed","interest-fiat-backed","medical-payment","nec","other","payment-goods","payment-services","referral-bonus","rent","reward","royalties","staking-reward"],"example":"blockchain","type":"string"},"version":{"type":"string","description":"the version of TaxBit Transaction Data Model (TDM) JSON used for this transaction. The current supported version is 2.0"},"type":{"type":"string","description":"Transaction type."},"platform":{"type":"object","properties":{"uuid":{"type":"string","format":"uuid","description":"Platform ID"},"name":{"type":"string","description":"Platform Name"},"type":{"type":"string","description":"Platform Type"}}},"received":{"type":"array","description":"Received transaction data.","items":{"type":"object","properties":{"asset_amount":{"type":"object","properties":{"amount":{"type":"integer","format":"double","example":1},"asset":{"allOf":[{"$ref":"#/paths/~1inventory/get/responses/200/content/application~1json/schema/properties/data/properties/asset/allOf/2"},{"type":"object","properties":{"symbol":{"type":"string","writeOnly":true}}}]}}},"integration":{"$ref":"#/paths/~1transactions~1external-id/post/requestBody/content/application~1json/schema/properties/sent/items/properties/integration"},"rates":{"type":"object","properties":{"amount":{"type":"integer","format":"double","example":1},"asset":{"allOf":[{"$ref":"#/paths/~1inventory/get/responses/200/content/application~1json/schema/properties/data/properties/asset/allOf/2"},{"type":"object","properties":{"symbol":{"type":"string","writeOnly":true}}}]}}},"withholdings":{"type":"array","items":{"type":"object","properties":{"regime_type":{"type":"string"},"asset_amount":{"type":"object","properties":{"amount":{"type":"integer","format":"double","example":1},"asset":{"allOf":[{"$ref":"#/paths/~1inventory/get/responses/200/content/application~1json/schema/properties/data/properties/asset/allOf/2"},{"type":"object","properties":{"symbol":{"type":"string","writeOnly":true}}}]},"rates":{"type":"object","properties":{"amount":{"type":"integer","format":"double","example":1},"asset":{"allOf":[{"$ref":"#/paths/~1inventory/get/responses/200/content/application~1json/schema/properties/data/properties/asset/allOf/2"},{"type":"object","properties":{"symbol":{"type":"string","writeOnly":true}}}]}}}}}}}}}}},"sent":{"type":"array","description":"Received transaction data.","items":{"type":"object","properties":{"asset_amount":{"type":"object","properties":{"amount":{"type":"integer","format":"double","example":1},"asset":{"allOf":[{"$ref":"#/paths/~1inventory/get/responses/200/content/application~1json/schema/properties/data/properties/asset/allOf/2"},{"type":"object","properties":{"symbol":{"type":"string","writeOnly":true}}}]}}},"integration":{"properties":{"name":{"description":"TaxBit integration name.","example":"MyExchange","type":"string"},"type":{"description":"TaxBit integration type.","example":"exchange","type":"string"},"uuid":{"description":"TaxBit integration uuid.","example":"50af52f8-94f7-4aa9-8832-6aa711a167f2","format":"uuid","type":"string"}},"required":["name","type","uuid"],"title":"Integration","type":"object"},"rates":{"type":"object","properties":{"amount":{"type":"integer","format":"double","example":1},"asset":{"allOf":[{"$ref":"#/paths/~1inventory/get/responses/200/content/application~1json/schema/properties/data/properties/asset/allOf/2"},{"type":"object","properties":{"symbol":{"type":"string","writeOnly":true}}}]}}},"withholdings":{"type":"array","items":{"type":"object","properties":{"regime_type":{"type":"string"},"asset_amount":{"type":"object","properties":{"amount":{"type":"integer","format":"double","example":1},"asset":{"allOf":[{"$ref":"#/paths/~1inventory/get/responses/200/content/application~1json/schema/properties/data/properties/asset/allOf/2"},{"type":"object","properties":{"symbol":{"type":"string","writeOnly":true}}}]},"rates":{"type":"object","properties":{"amount":{"type":"integer","format":"double","example":1},"asset":{"allOf":[{"$ref":"#/paths/~1inventory/get/responses/200/content/application~1json/schema/properties/data/properties/asset/allOf/2"},{"type":"object","properties":{"symbol":{"type":"string","writeOnly":true}}}]}}}}}}}}}}},"fees":{"type":"array","description":"Received transaction data.","items":{"type":"object","properties":{"asset_amount":{"type":"object","properties":{"amount":{"type":"integer","format":"double","example":1},"asset":{"allOf":[{"$ref":"#/paths/~1inventory/get/responses/200/content/application~1json/schema/properties/data/properties/asset/allOf/2"},{"type":"object","properties":{"symbol":{"type":"string","writeOnly":true}}}]}}},"integration":{"$ref":"#/paths/~1transactions~1external-id/post/requestBody/content/application~1json/schema/properties/sent/items/properties/integration"},"rates":{"type":"object","properties":{"amount":{"type":"integer","format":"double","example":1},"asset":{"allOf":[{"$ref":"#/paths/~1inventory/get/responses/200/content/application~1json/schema/properties/data/properties/asset/allOf/2"},{"type":"object","properties":{"symbol":{"type":"string","writeOnly":true}}}]}}}}}},"metadata":{"type":"object","description":"Metadata for the transaction.","properties":{"tags":{"type":"object","properties":{"key":{"type":"string","description":"Metadata key."},"value":{"type":"string","description":"Metadata value."}}}}}}}}}},"responses":{"201":{"description":"Post transaction response."},"400":{"$ref":"#/paths/~1validations~1us-tin/post/responses/400"},"401":{"$ref":"#/paths/~1inventory/get/responses/401"},"403":{"$ref":"#/paths/~1oauth~1token/post/responses/403"},"404":{"content":{"application/json":{"schema":{"properties":{"message":{"example":"Not Found Error","type":"string"}},"required":["message"],"type":"object"}}},"description":"Not Found Error."},"429":{"$ref":"#/paths/~1documents/get/responses/429"}},"security":[{"TenantAuthorizer":[]}],"summary":"Send a Transaction to TaxBit","tags":["Transactions"]}},"/transactions/external-id/{id}":{"get":{"description":"Retrieve a transaction that was previously ingested by TaxBit using your system's unique identifier for the Transaction.","parameters":[{"description":"Your system's unique identifier for the Transaction","in":"path","name":"id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Get transaction response.","content":{"application/json":{"schema":{"properties":{"status":{"type":"string"},"message":{"type":"string"},"data":{"$ref":"#/paths/~1transactions~1external-id/post/requestBody/content/application~1json/schema"}}}}}},"401":{"$ref":"#/paths/~1inventory/get/responses/401"},"429":{"$ref":"#/paths/~1documents/get/responses/429"}},"security":[{"TenantAuthorizer":[]}],"summary":"Get a Transaction From TaxBit","tags":["Transactions"]},"delete":{"description":"Delete a transaction using your system's unique identifier.","parameters":[{"description":"Your system's unique identifier for the Transaction","in":"path","name":"id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Delete transaction response."},"401":{"$ref":"#/paths/~1inventory/get/responses/401"},"404":{"$ref":"#/paths/~1transactions~1external-id/post/responses/404"},"429":{"$ref":"#/paths/~1documents/get/responses/429"}},"security":[{"TenantAuthorizer":[]}],"summary":"Delete a Transaction","tags":["Transactions"]}},"/accounts/{id}/income":{"get":{"description":"Retrieve a summary of total income earned by a specific account using Account ID.","parameters":[{"description":"Your system's unique identifier for the Account","in":"path","name":"id","required":true,"schema":{"type":"string","example":"Account1234"}},{"description":"Only aggregate income transactions from this date-time and later (inclusive). This date cannot be earlier than Jan 1 of the previous year in UTC (e.g. 2023-01-01T00:00:00.000Z if it is currently any time in 2024). Use the ISO-8601 date-time format. Defaults to Jan 1 of the current year.","in":"query","name":"start_date","schema":{"type":"string","format":"date-time","example":"2024-01-01T00:00:00.000Z"}},{"description":"Only aggregate income transactions from before this date-time (exclusive). This date must be after start_date. Use the ISO-8601 date-time format. Defaults to the current time in UTC.","in":"query","name":"end_date","schema":{"type":"string","format":"date-time","example":"2024-06-01T00:00:00.000Z"}},{"description":"If provided, provides income aggregations rolled up into either month or year intervals. Only intervals with income transactions will be returned. If not provided, no roll ups are returned.","in":"query","name":"roll_up","schema":{"type":"string","enum":["year","y","month","m"]}}],"responses":{"200":{"description":"Fetching income aggregation was successful","content":{"application/json":{"schema":{"title":"Income Aggregation Response","type":"object","properties":{"data":{"title":"Income Aggregation","type":"object","properties":{"totals":{"title":"Income Totals","type":"object","description":"Aggregations of Income Transactions for the requested time period","properties":{"transaction_count":{"description":"Total number of income transactions","example":10,"type":"integer"},"income":{"description":"Total amount of income earned, in USD","example":"1010.1","format":"decimal","type":"string"},"fees":{"description":"Total amount of fees paid on income transactions, in USD","example":"1.5","format":"decimal","type":"string"}}},"rollups":{"title":"Income Rollups","description":"Sparse array of yearly/monthly rollups","type":"array","items":{"title":"Income Rollup","type":"object","description":"Aggregation of Income Transactions for a specific year or month","properties":{"transaction_count":{"description":"Total number of income transactions","example":5,"type":"integer"},"income":{"description":"Total amount of income earned, in the fiat currency used to express rates for the account","example":"505.05","format":"decimal","type":"string"},"fees":{"description":"Total amount of fees paid on income transactions, in the fiat currency used to express rates for the account","example":"0.75","format":"decimal","type":"string"},"start_date":{"description":"The start date of the month/year rollup in UTC, inclusive","example":"2024-01-01T00:00:00.000Z","format":"date","type":"string"},"end_date":{"description":"The end date of the month/year rollup in UTC, exclusive (may be in the future)","example":"2025-01-01T00:00:00.000Z","format":"date","type":"string"}}}}}}}}}}},"400":{"$ref":"#/paths/~1documents/get/responses/400"},"403":{"$ref":"#/paths/~1accounts/post/responses/403"},"404":{"$ref":"#/paths/~1accounts/post/responses/404"},"429":{"$ref":"#/paths/~1accounts/post/responses/429"}},"summary":"Aggregate income data for a given time period","security":[{"TenantAuthorizer":[]}],"tags":["Transaction Aggregations"]}},"/documents":{"post":{"description":"Create a portfolio statement and/or transaction summary document for a user.","parameters":[{"description":"User UUID.","example":"033e305e-acbe-4f22-8b38-d9823dc5a85e","in":"header","name":"x-user-id","required":true,"schema":{"format":"uuid","type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"properties":{"country_code":{"description":"Country the user is subject to taxes.","example":"US","format":"ISO 3166 (alpha-2)","type":"string"},"end_date":{"description":"ISO-8601 formatted date as an end time.","example":"2021-09-28T16:22:30Z","format":"date-time","type":"string"},"fiat_holdings":{"description":"Fiat holdings for user to include in a portfolio statement.","items":{"properties":{"asset_code":{"description":"Code of Fiat Asset.","example":"USD","type":"string"},"ending_amount":{"description":"Amount of Fiat Asset holdings at end_date.","example":"234.56","type":"string"},"starting_amount":{"description":"Amount of Fiat Asset holdings at start_date.","example":"123.45","type":"string"}},"type":"object"},"type":"array"},"start_date":{"description":"ISO-8601 formatted date as a start time.","example":"2021-09-28T16:22:30Z","format":"date-time","type":"string"},"type":{"description":"Document type.","enum":["PORTFOLIO_STATEMENT","TRANSACTION_SUMMARY"],"example":"PORTFOLIO_STATEMENT","type":"string"},"user_id":{"description":"User UUID.","example":"033e305e-acbe-4f22-8b38-d9823dc5a85e","format":"uuid","type":"string"}},"type":"object"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"properties":{"created_date":{"description":"ISO-8601 formatted date for the document creation timestamp.","example":"2022-06-03T00:53:27.645Z","format":"date-time","type":"string"},"end_date":{"description":"ISO-8601 formatted date document end timestamp.","example":"2022-02-04T00:00:00.000Z","format":"date-time","type":"string"},"id":{"description":"Document UUID.","example":"a318aed6-386b-4ff2-b6c1-b253f0fdb0dc","format":"uuid","type":"string"},"status":{"description":"Document creation status.","enum":["Error","Finished","Processing"],"example":"Finished","type":"string"},"start_date":{"description":"ISO-8601 formatted date for the document start timestamp.","example":"2020-01-01T00:00:00.000Z","format":"date-time","type":"string"},"type":{"description":"Document type.","enum":["PORTFOLIO_STATEMENT","TRANSACTION_SUMMARY"],"example":"PORTFOLIO_STATEMENT","type":"string"}},"title":"User document","type":"object"}}},"description":"OK - Document Created."},"400":{"$ref":"#/paths/~1documents/get/responses/400"},"429":{"$ref":"#/paths/~1documents/get/responses/429"}},"security":[{"ClientAuthorizer":[]}],"summary":"Create Document","tags":["Documents"]},"get":{"description":"Retrieve an array of portfolio statements and/or transaction summaries document of a user.","parameters":[{"description":"User UUID.","example":"033e305e-acbe-4f22-8b38-d9823dc5a85e","in":"h
[...]
