{"openapi":"3.0.3","info":{"title":"Easyship OAuth 2 API for Partners","version":"2024-02-21","description":"Easyship Oauth 2 API","termsOfService":"https://www.easyship.com/legal/terms/overview","contact":{"name":"Easyship Support","url":"https://www.easyship.com/contact"}},"externalDocs":{"description":"Find out more about Easyship API","url":"https://developers.easyship.com/"},"tags":[{"name":"Authorization","description":"OAuth 2 API"}],"paths":{"/oauth2/authorize":{"get":{"summary":"Authorize user on Easyship","tags":["Authorization"],"operationId":"oauth2_authorize","description":"Redirect a user to this endpoint (on auth.easyship.com domain) for authentication on Easyship.\n\nAfter successful authentication, the user will be redirected back to `redirect_uri` with a `code` (and `state`) parameter in the query string.\n\nThe `code` can then be exchanged for an access token using the OAuth2 Token endpoint.","servers":[{"url":"https://auth.easyship.com","description":"Production"}],"parameters":[{"name":"client_id","in":"query","schema":{"$ref":"#/components/schemas/OAuth2AuthorizationCodeRequest/properties/client_id"},"required":true,"example":"ixaj5e4L25axd_d6b4K2wG479_9c3itEN8eexE_67Qk"},{"name":"redirect_uri","in":"query","schema":{"$ref":"#/components/schemas/OAuth2AuthorizationCodeRequest/properties/redirect_uri"},"required":true,"example":"https://domain.com/callback"},{"name":"response_type","in":"query","schema":{"type":"string","enum":["code"]},"required":true,"example":"code"},{"name":"scope","in":"query","schema":{"$ref":"#/components/schemas/OAuth2ClientCredentialsRequest/properties/scope"},"required":true,"example":"rate shipment label track company pickup location store product"},{"name":"state","in":"query","schema":{"type":"string"},"required":false,"description":"String that will be returned with the code to your `redirect_uri` (e.g., for validation).","example":"Ml_Wdv6hFqy2N9EkNJdi7g"}],"responses":{"200":{"description":"redirection"}}}},"/oauth2/token":{"post":{"summary":"Create an Access Token","tags":["Authorization"],"operationId":"oauth2_token","description":"Retrieve an OAuth 2 Access Token.\n","parameters":[],"responses":{"200":{"description":"Access Token (Refresh Token)","content":{"application/json":{"examples":{"default":{"value":{"access_token":"test_3m0V3q5MDgxNIR5Cglw/ONL8ZMPNy91f1Kolt+BOWG8=","token_type":"Bearer","expires_in":1645539660,"refresh_token":"UhLaQeeduKhGPLoEnQ29aLGuV077VSNEp7LPij_P6Tg","scope":"rate shipment label track company pickup location store product","created_at":1645532460},"summary":"Access Token (Refresh Token)"}},"schema":{"$ref":"#/components/schemas/OAuth2TokenResponse"}}}},"401":{"description":"Unsupported Client Credentials grant type","content":{"application/json":{"examples":{"default":{"value":{"error":"unauthorized_client","error_description":"The client is not authorized to perform this request using this method."},"summary":"Unsupported Client Credentials grant type"}},"schema":{"$ref":"#/components/schemas/OAuth2ErrorResponse"}}}}},"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuth2TokenRequest"},"examples":{"access_token_code":{"summary":"authorization_code","value":{"client_id":"ixaj5e4L25axd_d6b4K2wG479_9c3itEN8eexE_67Qk","client_secret":"M9z6YbwW-e19ffQ6w4YuQIU0SGE2wNhOzBlWslNF4mY","code":"zm_0fp6O7yBRasUlB-ZKax0JHPY-3HArw6Y9u66XjIM","grant_type":"authorization_code","redirect_uri":"https://domain.com/callback"}},"access_token_refresh_token":{"summary":"refresh_token","value":{"client_id":"ixaj5e4L25axd_d6b4K2wG479_9c3itEN8eexE_67Qk","client_secret":"M9z6YbwW-e19ffQ6w4YuQIU0SGE2wNhOzBlWslNF4mY","refresh_token":"UhLaQeeduKhGPLoEnQ29aLGuV077VSNEp7LPij_P6Tg","grant_type":"refresh_token","scope":"rate shipment label track company pickup location store product"}},"unsupported_client_credentials_grant_type":{"summary":"client_credentials","value":{"grant_type":"client_credentials","client_id":"ixaj5e4L25axd_d6b4K2wG479_9c3itEN8eexE_67Qk","client_secret":"M9z6YbwW-e19ffQ6w4YuQIU0SGE2wNhOzBlWslNF4mY","scope":"address"}}}}}}}},"/oauth2/token/info":{"get":{"summary":"Retrieve info for the Access Token","tags":["Authorization"],"operationId":"oauth2_token_info","description":"Retrieve an OAuth 2 Access Token information.\n","security":[{"OAuth2":[]}],"responses":{"200":{"description":"Access Token Info","content":{"application/json":{"examples":{"default":{"value":{"resource_owner_id":"CHK000001","scope":["rate","shipment","label","track","company","pickup","location","store","product"],"expires_in":1645539660,"application":{"uid":"ixaj5e4L25axd_d6b4K2wG479_9c3itEN8eexE_67Qk"},"created_at":1645532460,"resource_owner_type":"Company"},"summary":"Access Token Info"}},"schema":{"$ref":"#/components/schemas/OAuth2TokenInfo"}}}}}}},"/oauth2/introspect":{"post":{"summary":"Introspect an Access Token","tags":["Authorization"],"operationId":"oauth2_token_introspect","description":"Introspect an OAuth 2 Access Token using another Access Token.\n","security":[{"OAuth2":[]}],"parameters":[],"responses":{"200":{"description":"Access Token Introspect","content":{"application/json":{"examples":{"default":{"value":{"active":true,"scope":"rate shipment label track company pickup location store product","client_id":"ixaj5e4L25axd_d6b4K2wG479_9c3itEN8eexE_67Qk","token_type":"Bearer","exp":3291072120,"iat":1645532460,"easyship_company_id":"CHK000001"},"summary":"Access Token Introspect"}},"schema":{"$ref":"#/components/schemas/OAuth2IntrospectResponse"}}}}},"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuth2IntrospectRequest"},"examples":{"access_token_introspect":{"summary":"Introspect an Access Token","value":{"token":"test_0RQXwH8Bmf5UkRxB/plFd7f3/R46ffRfbtiwvSZi9Ao="}}}}}}}},"/oauth2/revoke":{"post":{"summary":"Revoke an Access Token","tags":["Authorization"],"operationId":"oauth2_token_revoke","description":"Revoke an OAuth 2 Access Token using your Client Credentials.\n","parameters":[],"responses":{"200":{"description":"Revoke Access Token","content":{"application/json":{"examples":{"default":{"value":{},"summary":"Revoke Access Token"}}}}}},"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuth2TokenRevokeRequest"},"examples":{"revoke_access_token":{"summary":"Revoke an Access Token","value":{"token":"test_z3EYsufgM6SsOOEbXkzZtvw8/OTr8FyMCN4SUluNl78=","grant_type":"client_credentials","client_id":"ixaj5e4L25axd_d6b4K2wG479_9c3itEN8eexE_67Qk","client_secret":"M9z6YbwW-e19ffQ6w4YuQIU0SGE2wNhOzBlWslNF4mY"}}}}}}}}},"servers":[{"url":"https://api.easyship.com","description":"Production"}],"components":{"securitySchemes":{"OAuth2":{"type":"oauth2","flows":{"clientCredentials":{"tokenUrl":"https://api.easyship.com/oauth2/token","scopes":{"address":"Addresses API","address_validation":"Address Validations API","analytics":"Analytics API","asset":"Assets API","batch":"Batches API","billing_document":"Billing Documents API","box":"Boxes API","company":"Companies API","courier":"Couriers API","courier_account":"Courier Accounts API","credit":"Credits API","custom_markup_rate":"Custom Markup Rates API","hs_code":"Hs Codes API","label":"Labels API","location":"Locations API","manifest":"Manifests API","payment":"Payments API","payment_source":"Payment Sources API","pickup":"Pickups API","product":"Products API","rate":"Rates API","reference":"References API","settings":"Settings API","shipment":"Shipments API","shipment_document":"Shipment Documents API","shipping_rule":"Shipping Rules API","store":"Stores API","tag":"Tags API","tax_and_duty":"Tax And Duties API","track":"Tracks API","track_3p":"Track 3ps API","transaction_record":"Transaction Records API","webhook":"Webhooks API"}}}}},"schemas":{"OAuth2TokenRequest":{"oneOf":[{"$ref":"#/components/schemas/OAuth2ClientCredentialsRequest"},{"$ref":"#/components/schemas/OAuth2AuthorizationCodeRequest"},{"$ref":"#/components/schemas/OAuth2RefreshTokenRequest"}],"discriminator":{"propertyName":"grant_type","mapping":{"client_credentials":"#/components/schemas/OAuth2ClientCredentialsRequest","authorization_code":"#/components/schemas/OAuth2AuthorizationCodeRequest","refresh_token":"#/components/schemas/OAuth2RefreshTokenRequest"}}},"OAuth2AuthorizationCodeRequest":{"type":"object","description":"OAuth 2 Authorization Code Request","additionalProperties":false,"required":["grant_type","client_id","client_secret","code","redirect_uri"],"properties":{"grant_type":{"type":"string","description":"OAuth 2 Grant Type","enum":["authorization_code"]},"client_id":{"type":"string","description":"OAuth 2 Client ID"},"client_secret":{"type":"string","description":"OAuth 2 Client Secret"},"redirect_uri":{"type":"string","format":"uri","description":"OAuth 2 Redirect URI"},"code":{"type":"string","description":"OAuth 2 Authorization Code provided by authenticated user in the callback to `redirect_uri`."}}},"OAuth2RefreshTokenRequest":{"type":"object","description":"OAuth 2 Refresh Token Request","additionalProperties":false,"required":["grant_type","client_id","client_secret","refresh_token","scope"],"properties":{"grant_type":{"type":"string","description":"OAuth 2 Grant Type","enum":["refresh_token"]},"client_id":{"type":"string","description":"OAuth 2 Client ID"},"client_secret":{"type":"string","description":"OAuth 2 Client Secret"},"scope":{"type":"string","description":"OAuth 2 Scopes separated by space. All Public API scopes are supported, but they must be allowed on the Partner Application on the Dashboard."},"refresh_token":{"type":"string","description":"OAuth 2 Refresh Token"}}},"OAuth2ClientCredentialsRequest":{"type":"object","description":"OAuth 2 Client Credentials Request","additionalProperties":false,"required":["grant_type","client_id","client_secret","scope"],"properties":{"grant_type":{"type":"string","description":"OAuth 2 Grant Type","enum":["client_credentials"]},"client_id":{"type":"string","description":"OAuth 2 Client ID"},"client_secret":{"type":"string","description":"OAuth 2 Client Secret"},"scope":{"type":"string","description":"OAuth 2 Scopes separated by space. All Public API scopes are supported, but they must be allowed on the Partner Application on the Dashboard."}}},"OAuth2ErrorResponse":{"type":"object","description":"OAuth 2 Error Response","additionalProperties":false,"properties":{"error":{"type":"string","description":"OAuth 2 Error Code"},"error_description":{"type":"string","description":"OAuth 2 Error Description"}}},"OAuth2TokenResponse":{"type":"object","description":"OAuth 2 Token Response","additionalProperties":false,"properties":{"access_token":{"type":"string","description":"OAuth 2 Access Token"},"token_type":{"type":"string","description":"OAuth 2 Token Type","enum":["Bearer"]},"expires_in":{"type":"integer","description":"OAuth 2 Access Token Expiration Time in Seconds"},"scope":{"$ref":"#/components/schemas/OAuth2ClientCredentialsRequest/properties/scope"},"created_at":{"type":"integer","description":"OAuth 2 Access Token Creation Time"},"refresh_token":{"type":"string","description":"OAuth 2 Refresh Token. Available only for Authorization Code Grant Type.","nullable":true}}},"OAuth2TokenInfo":{"type":"object","description":"OAuth 2 Token Info","additionalProperties":false,"properties":{"resource_owner_id":{"type":"string","nullable":true,"description":"OAuth 2 Resource Owner ID. Always `null` when using `client_credentials` grant type."},"resource_owner_type":{"type":"string","nullable":true,"description":"OAuth 2 Resource Owner Type. Always `null` when using `client_credentials` grant type."},"scope":{"description":"OAuth 2 Scopes","type":"array","items":{"type":"string","description":"OAuth 2 Scope name"}},"expires_in":{"$ref":"#/components/schemas/OAuth2TokenResponse/properties/expires_in"},"created_at":{"$ref":"#/components/schemas/OAuth2TokenResponse/properties/created_at"},"application":{"type":"object","description":"OAuth 2 Client Application","additionalProperties":false,"properties":{"uid":{"type":"string","description":"OAuth 2 Client Application UID"}}}}},"OAuth2IntrospectRequest":{"type":"object","description":"OAuth 2 Introspect Request","additionalProperties":false,"properties":{"token":{"type":"string","description":"OAuth 2 Access Token"}}},"OAuth2IntrospectResponse":{"type":"object","description":"OAuth 2 Introspect Response","additionalProperties":false,"properties":{"active":{"type":"boolean"},"scope":{"$ref":"#/components/schemas/OAuth2ClientCredentialsRequest/properties/scope"},"client_id":{"$ref":"#/components/schemas/OAuth2ClientCredentialsRequest/properties/client_id"},"token_type":{"$ref":"#/components/schemas/OAuth2TokenResponse/properties/token_type"},"iat":{"type":"integer"},"exp":{"type":"integer"},"easyship_company_id":{"type":"string","description":"Easyship Company ID"}}},"OAuth2TokenRevokeRequest":{"type":"object","description":"OAuth 2 Token Revoke Request","additionalProperties":false,"required":["grant_type","client_id","client_secret","token"],"properties":{"grant_type":{"$ref":"#/components/schemas/OAuth2ClientCredentialsRequest/properties/grant_type"},"client_id":{"$ref":"#/components/schemas/OAuth2ClientCredentialsRequest/properties/client_id"},"client_secret":{"$ref":"#/components/schemas/OAuth2ClientCredentialsRequest/properties/client_secret"},"token":{"$ref":"#/components/schemas/OAuth2TokenResponse/properties/access_token"}}}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}