{"openapi":"3.0.0","info":{"title":"Ramps & Swaps","version":"1.0.0"},"servers":[{"url":"https://api.moonpay.com"}],"tags":[{"name":"Account details","description":"Get your account details, including the verification status and the current fees."},{"name":"On-ramp","description":"Get quotes and transaction details for buying cryptocurrencies."},{"name":"Off-ramp","description":"Get quotes and transaction details for selling cryptocurrencies."},{"name":"Swaps","description":"Get quotes and transaction details for swapping cryptocurrencies."},{"name":"Data","description":"Get currently supported countries and currencies. Also check the customers's IP address restrictions."}],"paths":{"/v4/accounts/me":{"get":{"tags":["Account details"],"summary":"My Account Details","description":"Get your account details, including the verification status and the current fees.\n\nReturns the account associated with the provided `apiKey`.\n","operationId":"getAccount","security":[{"apiKey":[]}],"responses":{"200":{"description":"Successful response — My Account","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v3/countries":{"get":{"tags":["Data"],"summary":"List supported countries","description":"Returns the list of countries currently supported by MoonPay.","operationId":"getCountries","responses":{"200":{"description":"Successful response — List of Countries","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Country"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v3/currencies":{"get":{"tags":["Data"],"summary":"List supported currencies","description":"Returns the list of currencies supported by MoonPay.","operationId":"getCurrencies","security":[{"apiKey":[]}],"responses":{"200":{"description":"Successful response — List of Currencies","content":{"application/json":{"schema":{"type":"array","description":"A list of supported currencies: both `type=fiat` and `type=crypto`\n","items":{"anyOf":[{"$ref":"#/components/schemas/FiatCurrency"},{"$ref":"#/components/schemas/CryptoCurrency"}]}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v3/currencies/{currencyCode}/limits":{"get":{"tags":["On-ramp"],"summary":"Get Crypto Currency limits","description":"Returns an object containing minimum and maximum buy amounts including or excluding fees for base and quote currencies.\n\nIt takes into account the payment method if it's provided, **otherwise it defaults to the payment method with the lowest fees.**\n","operationId":"getCurrencyLimits","security":[{"apiKey":[]}],"parameters":[{"name":"currencyCode","in":"path","schema":{"type":"string"},"example":"eth","description":"The code of the cryptocurrency of interest from <a href=\"/reference/getcurrencies\">the currencies list</a> with `type=crypto`\n","required":true},{"name":"query","in":"query","style":"form","explode":true,"required":true,"schema":{"type":"object","properties":{"baseCurrencyCode":{"type":"string","example":"usd","description":"The code of the fiat currency used for the transaction from <a href=\"/reference/getcurrencies\">the currencies list</a> with `type=fiat`"},"areFeesIncluded":{"type":"boolean","example":false,"description":"A boolean indicating whether `minBuyAmount` and `maxBuyAmount` should include extra fees. Defaults to <span class=\"value\">false</span>."},"paymentMethod":{"$ref":"#/components/schemas/PaymentMethods"}},"required":["baseCurrencyCode"]}}],"responses":{"200":{"description":"Successful response — Crypto Currency limits","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrencyLimits"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v3/currencies/network_fees":{"get":{"tags":["On-ramp"],"summary":"Get Crypto network fees","description":"Returns a set of key-value pairs representing the current network fees of cryptocurrencies against fiat currencies.\n\nSupply the codes of the crypto and fiat currencies you are interested in, and MoonPay will return the relevant network fees.\n","operationId":"getNetworkFees","security":[{"apiKey":[]}],"parameters":[{"name":"query","in":"query","style":"form","explode":true,"required":true,"schema":{"type":"object","properties":{"cryptoCurrencies":{"type":"string","example":"eth,btc","description":"The codes of the cryptocurrency codes from <a href=\"/reference/getcurrencies\">the currencies list</a>, separated by commas"},"fiatCurrencies":{"type":"string","example":"usd,gbp","description":"The codes of the fiat currency codes from <a href=\"/reference/getcurrencies\">the currencies list</a>, separated by commas."}},"required":["cryptoCurrencies","fiatCurrencies"]}}],"responses":{"200":{"description":"Successful response — Crypto network fees","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NetworkFees"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v3/currencies/{currencyCode}/buy_quote":{"get":{"tags":["On-ramp"],"summary":"Get Real-time Buy quote","description":"Get detailed real-time quote based on the provided currency code, base amount, your extra fee percentage, payment method, and the inclusion of the fees.\n","operationId":"getBuyQuote","security":[{"apiKey":[]}],"parameters":[{"name":"currencyCode","in":"path","schema":{"type":"string"},"example":"eth","description":"The code of the cryptocurrency of interest from <a href=\"/reference/getcurrencies\">the currencies list</a> with `type=crypto`","required":true},{"name":"query","in":"query","style":"form","explode":true,"required":true,"schema":{"type":"object","properties":{"baseCurrencyCode":{"type":"string","example":"usd","description":"The code of the base currency used for the transaction from <a href=\"/reference/getcurrencies\">the currencies list</a> with `type=fiat`"},"quoteCurrencyAmount":{"type":"number","example":3,"description":"A positive number representing how much crypto the customer wants to buy. Best used together with the `currencyCode` parameter. Note that if you pass both `baseCurrencyAmount` and `quoteCurrencyAmount`, the quote currency amount will take precedence. REQUIRED if `baseCurrencyAmount` is not provided."},"baseCurrencyAmount":{"type":"number","example":200,"description":"A positive number representing how much fiat the user wants to spend. Note that if you give us a `baseCurrencyAmount` that is lower than the currency's minimum amount, we will return a quote based on the currency's minimum amount instead. REQUIRED if `quoteCurrencyAmount` is not provided."},"extraFeePercentage":{"type":"integer","example":1,"description":"A positive integer representing your extra fee percentage for the transaction. The minimum is <span class=\"value\">0</span> and the maximum is <span class=\"value\">10</span>. If you don't provide it, we'll use the default value set to your account."},"paymentMethod":{"$ref":"#/components/schemas/PaymentMethods"},"areFeesIncluded":{"type":"boolean","example":false,"description":"A boolean indicating whether `baseCurrencyAmount` should include extra fees. Defaults to <span class=\"value\">false</span>."}}}}],"responses":{"200":{"description":"Successful response — Buy Quote","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BuyQuote"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v3/currencies/{currencyCode}/sell_quote":{"get":{"tags":["Off-ramp"],"summary":"Get Sell quote","description":"Returns a set of key-value pairs representing a real-time sell quote for a currency. Supply the currency code, the base amount, your extra fee percentage, the payment method and whether the base amount is inclusive of fees, and MoonPay will return a detailed sell quote.","operationId":"getSellQuote","security":[{"apiKey":[]}],"parameters":[{"name":"currencyCode","in":"path","schema":{"type":"string"},"example":"eth","description":"The code of the cryptocurrency from <a href=\"/reference/getcurrencies\">the currencies list</a>","required":true},{"name":"query","in":"query","style":"form","explode":true,"required":true,"schema":{"type":"object","properties":{"quoteCurrencyCode":{"type":"string","example":"usd","description":"The code of the fiat currency from <a href=\"/reference/getcurrencies\">the currencies list</a>"},"baseCurrencyAmount":{"type":"number","example":3,"description":"A positive number representing how much crypto the user wants to sell. Up to 5 decimal digits are supported."},"extraFeePercentage":{"type":"integer","example":1,"description":"A positive integer representing your extra fee percentage for the transaction. The minimum is <span class=\"value\">0</span> and the maximum is <span class=\"value\">10</span>. If you don't provide it, we'll use the default value set to your account."},"payoutMethod":{"$ref":"#/components/schemas/PaymentMethods"}}}}],"responses":{"200":{"description":"Successful response — Sell Quote","content":{"application/json":{"schema":{"type":"object","$ref":"#/components/schemas/SellQuote"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v3/ip_address":{"get":{"tags":["Data"],"summary":"Check Customer's IP address","description":"Returns information about an IP address. If the `isAllowed` flag is set to <span class=\"value\">false</span>, it means that MoonPay accepts citizens of this country but not residents.","operationId":"getIpAddress","security":[{"apiKey":[]}],"parameters":[{"name":"query","in":"query","style":"form","explode":true,"required":true,"schema":{"type":"object","properties":{"ipAddress":{"type":"string","example":"71.183.124.141","description":"The IP address to be checked."}}}}],"responses":{"200":{"description":"Successful response — IP Address details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IpAddress"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/transactions/{transactionId}":{"get":{"tags":["On-ramp"],"summary":"Get Buy transaction","description":"Retrieve a transaction by id. This call will return an error if no transaction with the supplied identifier exists.","operationId":"getBuyTransaction","security":[{"apiKey":[]}],"parameters":[{"name":"transactionId","in":"path","schema":{"type":"string"},"example":"a617e457-7ea6-4e29-9415-0be500d478cf","description":"A valid Buy transaction ID.","required":true}],"responses":{"200":{"description":"Successful response — Buy Transaction","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BuyTransaction"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/transactions/ext/{externalTransactionId}":{"get":{"tags":["On-ramp"],"summary":"Get Buy transaction by External identifier","description":"Retrieve a transaction by its externalTransactionId. This is the identifier you assigned the transaction when creating it. This endpoint returns an array of objects because we cannot ensure the uniqueness of externalTransactionId.","operationId":"getBuyTransactionByExternalId","security":[{"apiKey":[]}],"parameters":[{"name":"externalTransactionId","in":"path","schema":{"type":"string"},"example":"d228e63d-627e-4e3c-8dfb-b916a8950ff0","description":"An identifier associated with the transaction, provided by you.","required":true}],"responses":{"200":{"description":"Successful response — Buy Transaction","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BuyTransaction"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v3/sell_transactions/{transactionId}":{"get":{"tags":["Off-ramp"],"summary":"Get Sell transaction","description":"Retrieve a sell transaction by id. This call will return an error if no sell transaction with the supplied identifier exists.","operationId":"getSellTransaction","security":[{"apiKey":[]}],"parameters":[{"name":"transactionId","in":"path","schema":{"type":"string"},"example":"dab3bdf4-e6ea-40a2-ad74-87536f9e8a7d","description":"A valid Sell transaction ID.","required":true}],"responses":{"200":{"description":"Successful response — Sell Transaction","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SellTransaction"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v3/sell_transactions/ext/{externalTransactionId}":{"get":{"tags":["Off-ramp"],"summary":"Get Sell transaction by External identifier","description":"Retrieve a transaction by its externalTransactionId. This is the identifier you assigned the transaction when creating it. This endpoint returns an array of objects because we cannot ensure the uniqueness of externalTransactionId.","operationId":"getSellTransactionByExternalId","security":[{"apiKey":[]}],"parameters":[{"name":"externalTransactionId","in":"path","schema":{"type":"string"},"example":"bc976ff6-c89d-4c35-9694-ae183758abf5","description":"An identifier associated with the transaction, provided by you.","required":true}],"responses":{"200":{"description":"Successful response — Sell Transaction","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SellTransaction"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v4/swap/pairs":{"get":{"tags":["Swaps"],"summary":"Get Swap pairs","description":"Returns the list of swap pairs available to the account.","operationId":"getSwapPairs","security":[{"apiKey":[]}],"responses":{"200":{"description":"Successful response — Swap Pairs","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SwapPair"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v4/swap/{PAIR}/quote":{"get":{"tags":["Swaps"],"summary":"Get Swap quote","description":"Returns the swap quote for a specific swap pair.","operationId":"getSwapQuote","security":[{"apiKey":[]}],"parameters":[{"name":"PAIR","in":"path","schema":{"type":"string"},"example":"eth-usdt","description":"A valid swap pair `pairName` from <a href=\"/reference/getswappairs\">the pairs list</a>","required":true},{"name":"authorization","in":"header","schema":{"type":"string"},"example":"Bearer hello.world.token","description":"A valid customer authentication token in the format 'Bearer [auth token]'.","required":false},{"name":"query","in":"query","style":"form","explode":true,"required":true,"schema":{"type":"object","properties":{"baseCurrencyAmount":{"type":"number","example":200,"description":"A positive number representing how much crypto the user wants to swap."}},"required":["baseCurrencyAmount"]}}],"responses":{"200":{"description":"Successful response — Swap Quote","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwapQuote"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v4/swap/execute_quote":{"post":{"tags":["Swaps"],"summary":"Execute Swap quote","description":"Executes a given swap quote. Refer to our Recipes section for more detailed examples.","operationId":"executeSwapQuote","security":[{"apiKey":[]}],"parameters":[{"name":"authorization","in":"header","schema":{"type":"string"},"example":"***","description":"A valid customer authentication token in the format 'Bearer [auth token]'.","required":true}],"requestBody":{"content":{"application/json":{"schema":{"properties":{"signature":{"type":"string","example":"***","description":"Signature from the <a href=\"/reference/get_v4-swap-pair-quote\">GET quote</a> response."},"externalTransactionId":{"type":"string","example":"6ec52bc3-236a-4570-a9e0-743e14818619","description":"A valid Swap transaction ID from your backend. You can use this to associate your transaction with our transaction."},"walletAddresses":{"type":"object","properties":{"destinationWalletAddress":{"type":"string","example":7.55070758245981e+47,"description":"The address where the quote currency is going to be sent to."},"destinationWalletAddressTag":{"type":"string","example":"tag","description":"The tag for `destinationWalletAddress`"},"refundWalletAddress":{"type":"string","example":7.55070758245981e+47,"description":"The address where we will refund the crypto back to, in case the Swap transaction cannot be completed."},"refundWalletAddressTag":{"type":"string","example":"tag","description":"The tag for `refundWalletAddress`."}},"required":["destinationWalletAddress","refundWalletAddress"]}},"required":["signature","walletAddresses"]}}}},"responses":{"200":{"description":"Successful response — Swap Transaction","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExecutedSwapQuote"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v4/swap/transaction/{transactionId}":{"get":{"tags":["Swaps"],"summary":"Get Swap transaction","description":"Returns a swap transaction by id. Refer to our <a href=\"/recipes\">Recipes section</a> for more detailed examples.","operationId":"getSwapTransaction","security":[{"apiKey":[]}],"parameters":[{"name":"authorization","in":"header","schema":{"type":"string"},"example":"Bearer hello.world.token","description":"A valid customer authentication token in the format 'Bearer [auth token]'.","required":true},{"name":"transactionId","in":"path","schema":{"type":"string"},"example":"bafaf3a5-24b1-4c2f-8d13-da8739722559","description":"A valid Swap transaction ID.","required":true}],"responses":{"200":{"description":"Successful response — Swap Transaction","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwapTransaction"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v4/swap/transaction/{transactionId}/requote":{"get":{"tags":["Swaps"],"summary":"Get Swap requote","description":"Returns a swap transaction re quote by id. Refer to our <a href=\"/recipes\">Recipes section</a> for more detailed examples.","operationId":"getSwapRequote","security":[{"apiKey":[]}],"parameters":[{"name":"authorization","in":"header","schema":{"type":"string"},"example":"***","description":"A valid customer authentication token in the format 'Bearer [auth token]'.","required":true},{"name":"transactionId","in":"path","schema":{"type":"string"},"example":"779f7a4a-822b-40a1-a929-6d841af2d5d6","description":"A valid Swap transaction ID.","required":true}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwapQuote"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v4/swap/reject_requote":{"post":{"tags":["Swaps"],"summary":"Reject Swap requote","description":"Rejects a given swap requote. Refer to our <a href=\"/recipes\">Recipes section</a> for more detailed examples.","operationId":"rejectSwapRequote","security":[{"apiKey":[]}],"parameters":[{"name":"authorization","in":"header","schema":{"type":"string"},"example":"***","description":"A valid customer authentication token in the format 'Bearer [auth token]'.","required":true}],"requestBody":{"content":{"application/json":{"schema":{"properties":{"signature":{"type":"string","example":"***","description":"Signature from the <a href=\"/reference/get_v4-swap-transaction-transactionid-requote\">GET requote</a> response."},"externalTransactionId":{"type":"string","example":"dc2ddba2-9e81-45e9-a201-e8b6d69b5ad9","description":"A valid Swap transaction ID from your backend. You can use this to associate your transaction with our transaction."},"walletAddresses":{"type":"object","properties":{"refundWalletAddress":{"type":"string","example":7.55070758245981e+47,"description":"The address where we will refund the crypto back to, in case the Swap transaction cannot be completed."},"refundWalletAddressTag":{"type":"string","example":"tag","description":"The tag for `refundWalletAddress`"}},"required":["refundWalletAddress"]}},"required":["signature","walletAddresses"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"description":"True if the swap requote was successfully rejected."}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}}},"components":{"securitySchemes":{"apiKey":{"type":"apiKey","name":"apiKey","in":"query"}},"schemas":{"IpAddress":{"type":"object","properties":{"alpha2":{"type":"string","example":"GB","description":"The country's ISO 3166-1 alpha-2 code."},"alpha3":{"type":"string","example":"GBR","description":"The country's ISO 3166-1 alpha-3 code."},"country":{"type":"string","example":"United Kingdom","description":"The IP address country."},"state":{"type":"string","example":"","description":"The IP address state or region or empty if not applicable."},"ipAddress":{"type":"string","example":"81.152.178.191","description":"The IPv4 or IPv6 address of the caller"},"isAllowed":{"type":"boolean","example":true,"description":"Whether residents of this country can use the service."},"isBuyAllowed":{"type":"boolean","example":true,"description":"Whether residents of this country can buy cryptocurrencies."},"isSellAllowed":{"type":"boolean","example":true,"description":"Whether residents of this country can sell cryptocurrencies."},"isNftAllowed":{"type":"boolean","example":true,"description":"Whether residents of this country can buy NFTs."}}},"Country":{"type":"object","properties":{"alpha2":{"type":"string","description":"The country's ISO 3166-1 alpha-2 code.","example":"GB"},"alpha3":{"type":"string","description":"The country's ISO 3166-1 alpha-3 code.","example":"GBR"},"isAllowed":{"type":"boolean","description":"Whether residents of this country can use the service.","example":true},"isBuyAllowed":{"type":"boolean","description":"Whether residents of this country can buy cryptocurrencies.","example":true},"isSellAllowed":{"type":"boolean","description":"Whether residents of this country can sell cryptocurrencies.","example":true},"name":{"type":"string","description":"The country's name.","example":"United Kingdom"},"supportedDocuments":{"type":"array","items":{"type":"string","enum":["additional_proof_of_income","driving_licence","national_identity_card","passport","proof_of_address","proof_of_income","residence_permit","selfie"]},"description":"A list of supported identity documents for the country.\n\nPossible values are: `additional_proof_of_income`, `driving_licence`, `national_identity_card`, `passport`, `proof_of_address`, `proof_of_income`, `residence_permit`, `selfie`\n","example":["additional_proof_of_income","driving_licence","national_identity_card","passport","proof_of_address","proof_of_income","residence_permit","selfie"]}}},"PaymentMethods":{"type":"string","example":"credit_debit_card","enum":["ach_bank_transfer","credit_debit_card","paypal","gbp_bank_transfer","gbp_open_banking_payment","pix_instant_payment","sepa_bank_transfer"],"description":"The transaction's payment method."},"FiatCurrency":{"type":"object","properties":{"id":{"type":"string","description":"Unique identifier for the currency.","example":"6f424585-8936-4eb1-b01e-443fb306d1f5"},"createdAt":{"type":"string","description":"Time at which the object was created. Returned as an ISO 8601 string.","example":"2019-05-17T18:24:45.206Z"},"updatedAt":{"type":"string","description":"Time at which the object was last updated. Returned as an ISO 8601 string.","example":"2019-05-17T18:24:45.206Z"},"type":{"type":"string","enum":["fiat"],"description":"Always `fiat`","example":"fiat"},"name":{"type":"string","description":"The currency's name.","example":"Pound Sterling"},"code":{"type":"string","description":"The currency's code.","example":"gbp"},"precision":{"type":"number","description":"The currency's precision (number of digits after decimal point).","example":2},"minBuyAmount":{"type":"number","nullable":true,"description":"Represents the minimum transaction buy amount when using this currency as a base currency.","example":30},"maxBuyAmount":{"type":"number","nullable":true,"description":"Represents the maximum transaction buy amount when using this currency as a base currency.","example":9000},"isSellSupported":{"type":"boolean","description":"Whether sales for this currency are supported.","example":true}}},"CryptoCurrency":{"type":"object","properties":{"id":{"type":"string","description":"Unique identifier for the currency.","example":"aaefa32f-161b-42c8-8115-debcbf3d6a2d"},"createdAt":{"type":"string","description":"Time at which the object was created. Returned as an ISO 8601 string.","example":"2019-05-17T18:24:45.206Z"},"updatedAt":{"type":"string","description":"Time at which the object was last updated. Returned as an ISO 8601 string.","example":"2019-05-17T18:24:45.206Z"},"type":{"type":"string","enum":["crypto"],"description":"Always `crypto`","example":"crypto"},"name":{"type":"string","description":"The currency's name.","example":"USD Coin (ERC-20)"},"code":{"type":"string","description":"The currency's code.","example":"usdc"},"precision":{"type":"number","description":"The currency's precision (number of digits after decimal point).","example":2},"minBuyAmount":{"type":"number","nullable":true,"description":"Represents the minimum amount of cryptocurrency you can buy.","example":30},"maxBuyAmount":{"type":"number","nullable":true,"description":"Represents the maximum amount of cryptocurrency you can buy.","example":1000},"minSellAmount":{"type":"number","nullable":true,"description":"The minimum amount of cryptocurrency you can sell.","example":15},"maxSellAmount":{"type":"number","nullable":true,"description":"The maximum amount of cryptocurrency you can sell.","example":100000},"addressRegex":{"type":"string","description":"A regular expression which you can test against your end user's wallet addresses.","example":"^(0x)[0-9A-Fa-f]{40}$"},"testnetAddressRegex":{"type":"string","description":"A regular expression which you can test against your end user's testnet wallet addresses.","example":"^(0x)[0-9A-Fa-f]{40}$"},"supportsAddressTag":{"type":"boolean","description":"Whether the currency supports address tags.","example":false},"addressTagRegex":{"type":"string","nullable":true,"description":"A regular expression which you can test against a wallet address tag. Defined only if the currency supports address tags.","example":null},"supportsTestMode":{"type":"boolean","description":"Whether the currency supports test mode.","example":true},"isSuspended":{"type":"boolean","description":"Whether purchases for this currency are suspended. If the currency is suspended, exchange rates may not be available and it is not possible to create a transaction with this currency.","example":false},"isSupportedInUs":{"type":"boolean","description":"Whether purchases for this currency are supported in the US.","example":true},"isSellSupported":{"type":"boolean","description":"Whether sales for this currency are supported.","example":true},"notAllowedUSStates":{"type":"array","items":{"type":"string","enum":["AL","AK","AZ","AR","AS","CA","CO","CT","DC","DE","FL","GA","GU","HI","ID","IL","IN","IA","KS","KY","LA","MA","MD","ME","MI","MN","MO","MP","MS","MT","NE","NH","NV","NH","NJ","NM","NY","NC","ND","OH","OK","OR","PA","PR","RI","SC","SD","TN","TX","TT","UT","VT","VA","VI","WA","WV","WI","WY"]},"description":"A list with all the US states for this currency that are not supported.","example":["LA","VI"]},"notAllowedCountries":{"type":"array","items":{"type":"string"},"description":"A list with all the ISO 3166-1 alpha-2 country codes for this currency that are not supported.","example":["CA"]},"metadata":{"type":"object","description":"Additional metadata for the currency.","properties":{"contractAddress":{"type":"string","nullable":true,"description":"Unique contract address where the token smart contract is hosted.","example":0},"chainId":{"type":"string","nullable":true,"description":"ID used to identify different EVM compatible chains.","example":"1"},"networkCode":{"type":"string","description":"Name of the cryptocurrency","example":"ethereum"}}}}},"CurrencyLimits":{"type":"object","properties":{"quoteCurrency":{"type":"object","properties":{"code":{"type":"string","example":"btc","description":"The code of the quote currency."},"minBuyAmount":{"type":"number","example":0.00056,"description":"The minimum transaction buy amount in quote currency."},"maxBuyAmount":{"type":"number","example":0.20994,"description":"The maximum transaction buy amount in quote currency."}}},"baseCurrency":{"type":"object","properties":{"code":{"type":"string","example":"gbp","description":"The code of the base currency."},"minBuyAmount":{"type":"number","example":30,"description":"The minimum transaction buy amount in base currency."},"maxBuyAmount":{"type":"number","example":9000,"description":"The maximum transaction buy amount in base currency."}}},"paymentMethod":{"$ref":"#/components/schemas/PaymentMethods"}}},"BuyTransaction":{"type":"object","properties":{"id":{"type":"string","description":"Unique identifier for the transaction.","example":"defb7c52-7bd3-422b-9052-374df50cc51a"},"createdAt":{"type":"string","description":"Time at which the object was created. Returned as an ISO 8601 string.","example":"2024-02-17T18:24:45.206Z"},"updatedAt":{"type":"string","description":"Time at which the object was last updated. Returned as an ISO 8601 string.","example":"2024-02-17T18:24:45.206Z"},"baseCurrencyAmount":{"type":"number","description":"A positive number representing how much the customer wants to spend. The minimum amount is 20.","example":45.5},"quoteCurrencyAmount":{"type":"number","description":"A positive number representing the amount of cryptocurrency the customer will receive. Set when the purchase of cryptocurrency has been executed.","example":0.0154},"feeAmount":{"type":"number","description":"A positive number representing the fee for the transaction. It is added to baseCurrencyAmount, extraFeeAmount and networkFeeAmount when the customer's card is charged.","example":1.7},"extraFeeAmount":{"type":"number","description":"A positive number representing your extra fee for the transaction. It is added to baseCurrencyAmount and feeAmount when the customer's card is charged.","example":0.43},"paymentMethod":{"$ref":"#/components/schemas/PaymentMethods"},"networkFeeAmount":{"type":"number","description":"A positive number representing the network fee for the transaction. It is added to baseCurrencyAmount, feeAmount and extraFeeAmount when the customer's card is charged.","example":2.37},"areFeesIncluded":{"type":"boolean","description":"A boolean indicating whether baseCurrencyAmount includes or excludes the feeAmount, extraFeeAmount and networkFeeAmount.","example":true},"status":{"type":"string","description":"The transaction's status.\nPossible values are `waitingPayment` (pending bank transfers where MoonPay is not in receipt), `pending` (transaction is in progress), `waitingAuthorization` (waiting for card approval, i.e. 3DS, bank side security), `failed` or `completed`.\n","example":"completed","enum":["waitingPayment","pending","waitingAuthorization","failed","completed"]},"failureReason":{"type":"string","nullable":true,"description":"The transaction's failure reason. Set when transaction's status is failed.\n- `card_not_supported`: The customer used an unsupported card brand or type.\n- `daily_purchase_limit_exceeded`: The customer reached their daily purchase limit or this transaction would put them over their limit.\n- `payment_authorization_declined`: The payment was declined by the issuing bank of the customer's credit card. The customer should try again with another payment method or contact the bank for more details.\n- `timeout_3d_secure`: The customer did not authorize their 3D Secure transaction in time. The customer should place a new order and enter the authorization code in time (usually arrives through SMS or banking app), or contact their bank if they don't receive a code.\n- `timeout_bank_transfer`: The transaction was cancelled. The bank transfer was not received within 7 days or the transfer can't be accepted due to a mismatch (e.g. incorrect amount, incorrect / missing reference, name mismatch).\n- `timeout_kyc_verification`: The customer's identity check timed out because they did not complete their KYC / Proof of Address / Proof of Income verification within 10 hours.\n- `timeout_card_verification`: The customer did not complete their card verification within 10 hours. This could be a verification code from a bank statement, micro-authorization where the customer needs to enter the last 2 digits of the micro-auth amount, or verification by selfie. This may also refer to timeouts caused by delays on MoonPay's side in reviewing the submitted photos.\n- `rejected_kyc`: The customer's KYC or Proof of Address documents were rejected and their account was closed for safety purposes.\n- `rejected_card`\n- `rejected_other`\n- `cancelled`: The transaction was cancelled by MoonPay's support team per the customer's request or engineering team because of a technical issue.\n- `refund`: The sell order was refunded by MoonPay. The order may have been rejected for safety purposes or fiat payout failure.\n- `failed_testnet_withdrawal`: For sandbox transactions only. The MoonPay testnet wallet doesn't have enough crypto for the test transaction and needs to be topped up before new transactions can be completed.\n- `error`: General message for an error not listed.\n","example":null},"walletAddress":{"type":"string","description":"The cryptocurrency wallet address the purchased funds will be sent to.","example":8.978072538997387e+47},"walletAddressTag":{"type":"string","nullable":true,"description":"The secondary cryptocurrency wallet address identifier for coins such as EOS, XRP and XMR.","example":null},"cryptoTransactionId":{"type":"string","nullable":true,"description":"The cryptocurrency transaction identifier representing the transfer to the customer's wallet. Set when the withdrawal has been executed.","example":8.25717145014808e+75},"redirectUrl":{"type":"string","nullable":true,"description":"The URL provided to you, when required, to which to redirect the customer as part of a redirect authentication flow.","example":"https://api.moonpay.com/secure/url?transactionId=defb7c52-7bd3-422b-9052-374df50cc51a"},"returnUrl":{"type":"string","description":"The URL the customer is returned to after they authenticate or cancel their payment on the payment method's app or site. If you are using our widget implementation, this is always our transaction tracker page, which provides the customer with real-time information about their transaction.","example":"https://buy.moonpay.com/transaction_receipt?transactionId=defb7c52-7bd3-422b-9052-374df50cc51a"},"widgetRedirectUrl":{"type":"string","nullable":true,"description":"An optional URL used in a widget implementation. It is passed to us by you in the query parameters, and we include it as a link on the transaction tracker page.","example":null},"eurRate":{"type":"number","description":"The exchange rate between the transaction's base currency and Euro at the time of the transaction.","example":0.92432},"usdRate":{"type":"number","description":"The exchange rate between the transaction's base currency and US Dollar at the time of the transaction.","example":1},"gbpRate":{"type":"number","description":"The exchange rate between the transaction's base currency and British Pound at the time of the transaction.","example":0.79016},"bankDepositInformation":{"type":"object","nullable":true,"example":null,"description":"For bank transfer transactions, the information about our bank account to which the customer should make the transfer.","properties":{"iban":{"type":"string","nullable":true,"description":"The IBAN of the bank account."},"bic":{"type":"string","nullable":true,"description":"The BIC of the bank account."},"accountNumber":{"type":"string","nullable":true,"description":"The account number of the bank account."},"sortCode":{"type":"string","nullable":true,"description":"The sort code of the bank account."},"bankName":{"type":"string","nullable":true,"description":"The name of the bank."},"bankAddress":{"type":"string","nullable":true,"description":"The address of the bank."},"accountName":{"type":"string","description":"The account name of the bank account."},"accountAddress":{"type":"string","description":"The address of the bank account."}}},"bankTransferReference":{"type":"string","nullable":true,"description":"For bank transfer transactions, the reference code the customer should cite when making the transfer.","example":null},"currencyId":{"type":"string","example":"8d305f63-1fd7-4e01-a220-8445e591aec4","description":"The identifier of the cryptocurrency the customer wants to purchase."},"currency":{"$ref":"#/components/schemas/CryptoCurrency"},"baseCurrencyId":{"type":"string","example":"edd81f1f-f735-4692-b410-6def107f17d2","description":"The identifier of the fiat currency the customer wants to use for the transaction."},"baseCurrency":{"$ref":"#/components/schemas/FiatCurrency"},"customerId":{"type":"string","description":"The identifier of the customer the transaction is associated with.","example":"77cc1309-0058-4177-b170-8e9657fe12eb"},"cardId":{"type":"string","nullable":true,"description":"For token or card transactions, the identifier of the payment card used for this transaction.","example":"0a7e23d8-6a52-44c7-b189-91b37bd13796"},"bankAccountId":{"type":"string","nullable":true,"description":"For bank transfer transactions, the identifier of the bank account used for this transaction.","example":null},"externalCustomerId":{"type":"string","nullable":true,"description":"An identifier associated with the customer, provided by you."},"externalTransactionId":{"type":"string","nullable":true,"description":"An identifier associated with the transaction, provided by you."},"country":{"type":"string","description":"The customer's country. Returned as an ISO 3166-1 alpha-3 code.","example":"GBR"},"state":{"type":"string","nullable":true,"description":"The customer's state, if the customer is from the USA. Returned as a two-letter code.","example":null},"cardType":{"type":"string","nullable":true,"description":"The card type used for the transaction.","enum":["apple_pay","google_pay","samsung_pay","card"]},"cardPaymentType":{"type":"string","nullable":true,"description":"The card payment type used for the transaction.","enum":["credit","debit","unknown"]},"stages":{"type":"array","description":"An array of four objects, each representing one of the four stages of the purchase process.","items":{"type":"object","properties":{"stage":{"type":"string","description":"Stage type","example":"stage_one_ordering","enum":["stage_one_ordering","stage_two_verification","stage_three_processing","stage_four_delivery"]},"status":{"type":"string","description":"Status of the stage","example":"success","enum":["not_started","in_progress","success","failed"]},"failureReason":{"type":"string","nullable":true,"example":null,"description":"The reason for the failure of the stage. Set when the stage's status is failed.","enum":["card_not_supported","daily_purchase_limit_exceeded","payment_authorization_declined","timeout_3d_secure","timeout_bank_transfer","timeout_kyc_verification","timeout_card_verification","rejected_kyc","rejected_card","rejected_other","cancelled","refund","failed_testnet_withdrawal","error"]},"actions":{"type":"array","example":[],"items":{"type":"object","description":"Sometimes, the customer is required to take an action or actions to further the purchase process, usually by submitting information at a provided URL. For each action, we pass an object with a type and a url. \nPossible types are `complete_bank_transfer`, `retry_kyc`, `verify_card_by_code`, `verify_card_by_file`. If no actions are required, this returns an empty array.\n","properties":{"type":{"type":"string"},"url":{"type":"string"}}}}}}}}},"SellTransaction":{"type":"object","properties":{"id":{"type":"string","example":"9020fd02-42ac-497f-8b5f-41fdf4dd0b1d","description":"Unique identifier for the object."},"createdAt":{"type":"string","example":"2024-02-23T00:58:26.577Z","description":"Time at which the object was created. Returned as an ISO 8601 string."},"updatedAt":{"type":"string","example":"2024-02-23T00:58:26.577Z","description":"Time at which the object was last updated. Returned as an ISO 8601 string."},"baseCurrencyAmount":{"type":"number","example":0.575,"description":"A positive number representing how much the customer wants to sell."},"quoteCurrencyAmount":{"type":"number","example":1521.11,"description":"A positive number representing the amount of cryptocurrency the customer will receive. Set when the purchase of cryptocurrency has been executed."},"feeAmount":{"type":"number","example":15.36,"description":"A positive number representing the fee for the transaction."},"extraFeeAmount":{"type":"number","example":0,"description":"A positive number representing your extra fee for the transaction."},"status":{"type":"string","example":"completed","description":"The transaction's status.","enum":["waitingForDeposit","pending","failed","completed"]},"failureReason":{"type":"string","nullable":true,"description":"The transaction's failure reason. Set when transaction's status is failed.","example":null},"refundWalletAddress":{"type":"string","description":"A wallet address at which the customer can receive cryptocurrency. In case we cannot process the sale of the customer's cryptocurrency, we will return the cryptocurrency to this wallet address. Might be empty","example":""},"depositHash":{"type":"string","nullable":true,"description":"The cryptocurrency transaction identifier representing the transfer from the customer's wallet to MoonPay's wallet. Set when the deposit has been executed and received.","example":8.377408903480862e+76},"widgetRedirectUrl":{"type":"string","nullable":true,"description":"An optional URL used in a widget implementation. It is passed to us by you in the query parameters, and we include it as a link on the transaction tracker page.","example":null},"payoutMethod":{"type":"string","example":"credit_debit_card","description":"The transaction's payout method.","enum":["ach_bank_transfer","credit_debit_card","paypal","gbp_bank_transfer","sepa_bank_transfer"]},"eurRate":{"type":"number","description":"The exchange rate between the transaction's base currency and Euro at the time of the transaction.","example":1},"usdRate":{"type":"number","description":"The exchange rate between the transaction's base currency and US Dollar at the time of the transaction.","example":1.08193},"gbpRate":{"type":"number","description":"The exchange rate between the transaction's base currency and British Pound at the time of the transaction.","example":0.85501},"quoteCurrencyId":{"type":"string","example":"71435a8d-211c-4664-a59e-2a5361a6c5a7","description":"The identifier of the fiat the customer wants to get."},"quoteCurrency":{"$ref":"#/components/schemas/FiatCurrency"},"baseCurrencyId":{"type":"string","example":"8d305f63-1fd7-4e01-a220-8445e591aec4","description":"The identifier of the crypto currency the customer wants to sell."},"baseCurrency":{"$ref":"#/components/schemas/CryptoCurrency"},"customerId":{"type":"string","example":"3b97352d-a9c2-4786-afe7-e7d74e0a8ad7","description":"The identifier of the customer the transaction is associated with."},"bankAccountId":{"type":"string","nullable":true,"example":"ee0e649f-a072-4cdb-96ce-a1ea393eac1e","description":"The identifier of the bank account used for this transaction."},"externalCustomerId":{"type":"string","nullable":true,"example":null,"description":"An identifier associated with the customer, provided by you."},"externalTransactionId":{"type":"string","nullable":true,"example":null,"description":"An identifier associated with the transaction, provided by you."},"stages":{"type":"array","description":"An array of four objects, each representing one of the four stages of the purchase process","items":{"type":"object","properties":{"stage":{"type":"string","description":"Stage type","example":"sell_stage_one_verification","enum":["sell_stage_one_verification","sell_stage_two_waiting_for_deposit","sell_stage_three_processing","sell_stage_four_withdrawal"]},"status":{"type":"string","description":"Stage status.","example":"success","enum":["not_started","in_progress","success","failed"]},"failureReason":{"type":"string","nullable":true,"example":null,"description":"Possible values are:\n- `refund`: The crypto sent by the customer has been returned to them.\n- `timeout_deposit`: The customer did not send the crypto to MoonPay within 7 days of the transaction creation date.\n- `timeout_kyc_verification`: The customer's identity check timed out.\n- `cancelled`: The sell transaction has been cancelled by MoonPay.\n- `rejected_kyc`: The customer failed to pass the identity check.\n- `error`: General message for a more specific error.\n"},"actions":{"type":"array","description":"Sometimes, the customer is required to take an action or actions to further the purchase process, usually by submitting information at a provided URL. For each action, we pass an object with a type and a url. If no actions are required, this returns an empty array.","items":{"type":"object","properties":{"type":{"type":"string","enum":["complete_deposit","retry_kyc"]},"url":{"type":"string"}}}}}}}}},"SwapQuote":{"type":"object","properties":{"id":{"type":"string","example":"9b9d4036-bb99-4cb8-a61e-87d0750722d2","description":"Unique identifier for the object."},"expiresAt":{"type":"string","example":"2024-02-23T00:58:26.577Z","description":"Time at which the quote expires. Returned as an ISO 8601 string."},"extraFeeAmount":{"type":"string","example":"0.0000005","description":"A positive number string representing your extra fee for the transaction. It is added to baseCurrencyAmount, feeAmount and networkFeeAmount when the swap is executed."},"networkFeeAmount":{"type":"string","example":"0.00039","description":"A positive number string representing the network fee for the transaction. It is added to baseCurrencyAmount, feeAmount and extraFeeAmount when the swap is executed."},"extraFeeAmountInUSD":{"type":"string","example":"0","description":"A positive number string representing your extra fee for the transaction, in USD. It is added to baseCurrencyAmount, feeAmount and and networkFeeAmount when the swap is executed."},"networkFeeAmountInUSD":{"type":"string","example":"20.049237585","description":"A positive number string representing the network fee for the transaction, in USD. It is added to baseCurrencyAmount, feeAmount and extraFeeAmount when the swap is executed."},"baseCurrency":{"$ref":"#/components/schemas/CryptoCurrency","description":"Details about the cryptocurrency the customer wants to swap."},"quoteCurrency":{"$ref":"#/components/schemas/CryptoCurrency","description":"Details about the cryptocurrency the customer will receive."},"pairName":{"type":"string","example":"eth-btc","description":"The name of the cryptocurrency pair."},"baseCurrencyAmount":{"type":"string","example":"1.123","description":"A positive string number representing how much crypto the user wants to swap."},"quoteCurrencyAmount":{"type":"string","example":"0.0564","description":"A positive string number representing the amount of cryptocurrency the customer will receive. Set when the purchase of cryptocurrency has been executed."},"feeCurrency":{"$ref":"#/components/schemas/CryptoCurrency","description":"Fee currency for this quote"},"baseCurrencyPriceInUsd":{"type":"string","example":"2946.441235","description":"The price of the crypto the customer wants to swap, in USD."},"quoteCurrencyPriceInUsd":{"type":"string","example":"51408.3015","description":"The price of the crypto the customer will receive, in USD."},"liveMode":{"type":"boolean","example":true,"description":"Whether live mode is enabled for this quote."},"exchangeRate":{"type":"string","example":"0.05731450269758475","description":"The rate provided by the underlying exchange."},"signature":{"type":"string","example":"really-long-string","description":"The signature for executing the quote"}}},"SwapPair":{"type":"object","properties":{"baseCurrencyCode":{"type":"string","example":"eth","description":"The first cryptocurrency code for the pair."},"baseCurrencyNetworkCode":{"type":"string","example":"ethereum","description":"The first cryptocurrency network code for this pair."},"quoteCurrencyCode":{"type":"string","example":"btc","description":"The second cryptocurrency code for this pair."},"quoteCurrencyNetworkCode":{"type":"string","example":"bitcoin","description":"The second cryptocurrency network code for this pair."},"minSwapAmount":{"type":"string","example":"0.0205","description":"The minimum swapable amount."},"maxSwapAmount":{"type":"string","example":"3.4079","description":"The maximum swapable amount."},"minSwapAmountQuote":{"type":"string","example":"0.00080","description":"A positive integer representing the amount of `quoteCurrency` the customer will receive when swapping `minSwapAmount` of `baseCurrency`."},"maxSwapAmountQuote":{"type":"string","example":"0.19581","description":"A positive integer representing the amount of `quoteCurrency` the customer will receive when swapping `maxSwapAmount` of `baseCurrency`."},"isSuspended":{"type":"boolean","example":false,"description":"Whether swap for this pair is suspended"},"pairName":{"type":"string","example":"eth-btc","description":"The name of the cryptocurrency pair."}}},"SwapTransaction":{"type":"object","properties":{"id":{"type":"string","example":"9020fd02-42ac-497f-8b5f-41fdf4dd0b1d","description":"Unique identifier for the object."},"createdAt":{"type":"string","example":"2024-02-23T00:58:26.577Z","description":"Time at which the object was created. Returned as an ISO 8601 string."},"updatedAt":{"type":"string","example":"2024-02-23T00:58:26.577Z","description":"Time at which the object was last updated. Returned as an ISO 8601 string."},"baseCurrencyAmount":{"type":"string","example":"1.123","description":"A positive string number representing how much crypto the user wants to swap."},"quoteCurrencyAmount":{"type":"string","example":"0.0564","description":"A positive string number representing the amount of cryptocurrency the customer will receive."},"feeAmount":{"type":"string","example":"0.0002","description":"A positive number representing the fee for the transaction."},"quoteCurrency":{"$ref":"#/components/schemas/CryptoCurrency","description":"Crypto the customer wants to get."},"baseCurrency":{"$ref":"#/components/schemas/CryptoCurrency","description":"Crypto currency the customer wants to swap."},"customerId":{"type":"string","example":"3b97352d-a9c2-4786-afe7-e7d74e0a8ad7","description":"The identifier of the customer the transaction is associated with."},"extraFeeAmount":{"type":"string","example":"0.0000005","description":"A positive number string representing your extra fee for the transaction. It is added to baseCurrencyAmount, feeAmount and networkFeeAmount when the swap is executed."},"networkFeeAmount":{"type":"string","example":"0.00039","description":"A positive number string representing the network fee for the transaction. It is added to baseCurrencyAmount, feeAmount and extraFeeAmount when the swap is executed."},"status":{"type":"string","example":"completed","description":"The transaction's status.","enum":["completed","failed","waitingForDepositAddressGeneration","waitingForDeposit","executingSwap","reQuoteRequired","screeningWalletAddress","frozen"]},"depositWalletAddress":{"type":"object","properties":{"address":{"type":"string","example":8.97807189246089e+47,"description":"The cryptocurrency wallet address the customer should send the funds to."},"tag":{"type":"string","nullable":true,"example":null}}},"destinationWalletAddress":{"type":"object","properties":{"address":{"type":"string","example":8.97807189246089e+47,"description":"The cryptocurrency wallet address the customer will receive the funds to."},"tag":{"type":"string","nullable":true,"example":null}}},"refundWalletAddress":{"type":"object","properties":{"address":{"type":"string","example":8.978070966892851e+47,"description":"The cryptocurrency wallet address the customer will receive the refund to."},"tag":{"type":"string","nullable":true,"example":null}}},"depositHash":{"type":"string","nullable":true,"description":"The cryptocurrency transaction identifier representing the transfer from the customer's wallet to MoonPay's wallet. Set when the deposit has been executed and received.","example":8.377408903480862e+76},"transactionHash":{"type":"string","nullable":true,"description":"The cryptocurrency transaction identifier representing the transfer from the MoonPay's wallet to the customer's wallet. Set when the deposit has been executed and sent.","example":8.377408903480862e+76},"refundTransactionHash":{"type":"string","nullable":true,"description":"Same for transactionHash but a refund.","example":8.377408903480862e+76},"blockExplorerLinkForDeposit":{"type":"string","nullable":true,"description":"URL to the block explorer for the deposit transaction.","example":"https://etherscan.io/tx/0xb936743f2956a108203ac1c3d2f0da90a5b990c896fcaab217c1cedf9ee60247"},"blockExplorerLinkForTransaction":{"type":"string","nullable":true,"description":"URL to the block explorer for the swap transaction.","example":"https://etherscan.io/tx/0xb936743f2956a108203ac1c3d2f0da90a5b990c896fcaab217c1cedf9ee60247"},"failureReason":{"type":"string","nullable":true,"description":"If transaction fails, what is the reason.","example":null,"enum":["customerLimitsExceeded","depositAmountIncorrect","depositAmountOutsideLimits","walletGenerationFailed","assetSwapFailed","invalidQuote","depositNotFound","refundAddressNotSet","invalidDepositAmount","noDepositWithinTimeframe","invalidTransaction"]},"failureReasonMessage":{"type":"string","nullable":true,"description":"Human-readable message for the failure reason.","example":null},"integratedSwapDepositInfo":{"type":"object","nullable":true,"properties":{"depositInitiatedAt":{"type":"string","example":"2024-02-23T00:58:26.577Z","description":"Time at which the deposit was initiated. Returned as an ISO 8601 string."},"depositId":{"type":"string"}}}}},"ExecutedSwapQuote":{"type":"object","properties":{"baseCurrency":{"description":"Details about the cryptocurrency the customer wants to swap.","$ref":"#/components/schemas/CryptoCurrency"},"quoteCurrency":{"type":"string","description":"Details about the cryptocurrency the customer will receive.","$ref":"#/components/schemas/CryptoCurrency"},"baseCurrencyAmount":{"type":"string","example":"1.123","description":"A positive string number representing how much crypto the user wants to swap."},"quoteCurrencyAmount":{"type":"string","example":"0.0056","description":"A positive string number representing the amount of cryptocurrency the customer will receive. Set when the swap is executed."},"extraFeeAmount":{"type":"string","example":"0.0000005","description":"A positive number string representing your extra fee for the transaction. It is added to baseCurrencyAmount, feeAmount and networkFeeAmount when the swap is executed."},"networkFeeAmount":{"type":"string","example":"0.00039","description":"A positive number string representing the network fee for the transaction. It is added to baseCurrencyAmount, feeAmount and extraFeeAmount when the swap is executed."},"feeAmount":{"type":"string","example":"0.0002","description":"A positive number representing the fee for the transaction."},"transactionId":{"type":"string","example":"3ea41bef-cfd7-445c-91cc-853f417d4f1e","description":"A valid Swap transaction ID."},"status":{"type":"string","example":"completed","description":"The transaction's status. Possible values are `completed`, `failed`, `waitingForDepositAddressGeneration`, `waitingForDeposit`, `executingSwap`, `reQuoteRequired`, `screeningWalletAddress`, `frozen`.","enum":["completed","failed","waitingForDepositAddressGeneration","waitingForDeposit","executingSwap","reQuoteRequired","screeningWalletAddress","frozen"]}}},"BuyQuote":{"type":"object","properties":{"accountId":{"type":"string","description":"ID of your business account","example":"717a8a80-5c17-46f9-84f8-a5253c372f51"},"baseCurrency":{"$ref":"#/components/schemas/FiatCurrency","description":"The fiat currency the customer wants to use for the transaction."},"baseCurrencyCode":{"type":"string","example":"usd"},"baseCurrencyAmount":{"type":"number","description":"A positive number representing how much the customer wants to spend. The minimum amount is 20.","example":288.37},"quoteCurrency":{"$ref":"#/components/schemas/CryptoCurrency","description":"The cryptocurrency the customer wants to purchase."},"quoteCurrencyCode":{"type":"string","example":"btc"},"quoteCurrencyAmount":{"type":"number","example":0.0055,"description":"A positive number representing the amount of cryptocurrency the customer will receive. Set when the purchase of cryptocurrency has been executed."},"quoteCurrencyPrice":{"type":"number","example":52474.5036,"description":"The price of the crypto the customer will receive"},"paymentMethod":{"$ref":"#/components/schemas/PaymentMethods"},"feeAmount":{"type":"number","example":3.99,"description":"A positive number representing the fee for the transaction."},"extraFeePercentage":{"type":"number","example":0},"extraFeeAmount":{"type":"number","example":0},"networkFeeAmount":{"type":"number","example":7.64,"description":"A positive number representing the network fee for the transaction. It is added to baseCurrencyAmount, feeAmount and extraFeeAmount when the customer's card is charged."},"networkFeeAmountNonRefundable":{"type":"boolean","example":false},"totalAmount":{"type":"number","example":300},"externalId":{"type":"string","nullable":true,"example":null},"externalCustomerId":{"type":"string","nullable":true,"example":null},"signature":{"type":"string","nullable":true,"description":"The signature for executing the quote for fixed flow","example":"really-long-string"},"expiresIn":{"type":"number","nullable":true,"example":1800,"description":"The time in seconds until the quote expires."},"expiresAt":{"type":"string","nullable":true,"example":"2024-02-23T00:58:26.577Z","description":"Time at which the quote expires. Returned as an ISO 8601 string."}}},"SellQuote":{"type":"object","properties":{"quoteCurrencyCode":{"type":"string","example":"eur","description":"Fiat currency the customer wants to get."},"quoteCurrency":{"$ref":"#/components/schemas/FiatCurrency"},"baseCurrencyCode":{"type":"string","example":"btc","description":"Crypto currency the customer wants to sell."},"baseCurrency":{"$ref":"#/components/schemas/CryptoCurrency"},"baseCurrencyAmount":{"type":"number","example":0.575,"description":"A positive number representing how much the customer wants to sell."},"quoteCurrencyAmount":{"type":"number","example":1521.11,"description":"A positive number representing the amount of cryptocurrency the customer will receive."},"baseCurrencyPrice":{"type":"number","example":45677.965840087985,"description":"The price of the crypto the customer wants to sell"},"feeAmount":{"type":"number","example":15.36,"description":"A positive number representing the fee for the transaction."},"extraFeeAmount":{"type":"number","example":0,"description":"A positive number representing your extra fee for the transaction."},"payoutMethod":{"type":"string","example":"credit_debit_card","description":"The transaction's payout method. Possible values are `credit_debit_card`, `ach_bank_transfer`, `paypal`, `sepa_bank_transfer`, and `gbp_bank_transfer` .","enum":["ach_bank_transfer","credit_debit_card","paypal","gbp_bank_transfer","sepa_bank_transfer"]},"signature":{"type":"string","nullable":true,"description":"The signature for executing the quote for fixed flow","example":"really-long-string"},"expiresIn":{"type":"number","nullable":true,"example":1800,"description":"The time in seconds until the quote expires."},"expiresAt":{"type":"string","nullable":true,"example":"2024-02-23T00:58:26.577Z","description":"Time at which the quote expires. Returned as an ISO 8601 string."}}},"Error":{"type":"object","properties":{"message":{"type":"string","description":"A descriptive error message."},"type":{"type":"string","description":"An error type."}}},"NetworkFees":{"type":"object","example":{"BTC":{"GBP":2.18,"USD":2.76},"ETH":{"GBP":5.14,"USD":6.52}},"description":"The network fee for cryptocurrency for the `cryptoCurrencies` list in fiat from the `fiatCurrencies` list.\n","additionalProperties":{"type":"object","description":"Crypto currency from the `cryptoCurrencies` list.","additionalProperties":{"type":"number","description":"The network fee for cryptocurrency in the `cryptoCurrencies` list, in fiat in the `fiatCurrencies` list."}}},"Account":{"type":"object","properties":{"id":{"type":"string","example":"f65af778-f2b1-4bc3-a9e6-2ccc0724201b","description":"Unique identifier for the account."},"createdAt":{"type":"string","example":"2021-11-10T07:53:21.551Z","description":"Time at which the object was created. Returned as an ISO 8601 string."},"updatedAt":{"type":"string","example":"2021-11-10T07:53:21.551Z","description":"Time at which the object was last updated. Returned as an ISO 8601 string."},"name":{"type":"string","example":"MoonPay App","description":"The account's name."},"isVerified":{"type":"boolean","example":true,"description":"Whether this account is verified or not."},"cardFeePercentage":{"type":"number","example":1,"description":"A positive number representing the MoonPay fee percentage for buy transactions using a debit/credit card, Apple Pay, Google Pay or Samsung Pay."},"sepaFeePercentage":{"type":"number","example":1,"description":"A positive number representing the MoonPay fee percentage for buy transactions using a EUR or GBP bank account."},"sellBankTransferFeePercentage":{"type":"number","example":1,"description":"A positive number representing the MoonPay fee percentage for sell transactions using a EUR or GBP bank account."},"sellCardFeePercentage":{"type":"number","example":4.5,"description":"A positive number representing the MoonPay fee percentage for sell transactions using a debit/credit card."},"cardExtraFeePercentage":{"type":"number","example":0,"description":"A positive number representing the account's affiliate fee percentage for buy transactions using a debit/credit card, Apple Pay, Google Pay or Samsung Pay."},"sepaExtraFeePercentage":{"type":"number","example":0,"description":"A positive number representing the account's affiliate fee percentage for buy transactions using a EUR or GBP bank account."},"sellBankTransferExtraFeePercentage":{"type":"number","example":0,"description":"A positive number representing the account's affiliate fee percentage for sell transactions using a EUR or GBP bank account."},"sellCardExtraFeePercentage":{"type":"number","example":0,"description":"A positive number representing the account's affiliate fee percentage for sell transactions using a debit/credit card."},"cardMinimumFee":{"type":"object","description":"MoonPay minimum fee per Currency Code for buy transactions using a debit/credit card, Apple Pay, Google Pay or Samsung Pay.","additionalProperties":{"type":"number"},"example":{"GBP":3.99,"USD":3.99}},"bankTransferMinimumFee":{"type":"object","description":"MoonPay minimum fee per Currency Code for buy transactions using a EUR or GBP bank account.","additionalProperties":{"type":"number"},"example":{"EUR":3.99,"GBP":3.99,"USD":3.99}},"sellBankTransferMinimumFee":{"type":"object","description":"MoonPay minimum fee per Currency Code for sell transactions using a EUR or GBP bank account.","additionalProperties":{"type":"number"},"example":{"EUR":3.99,"GBP":3.99,"USD":3.99}},"sellCardMinimumFee":{"type":"object","description":"MoonPay minimum fee per Currency Code for sell transactions using a debit/credit card.","additionalProperties":{"type":"number"},"example":{"EUR":3.99,"GBP":3.99,"USD":3.99}}}}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}