{"openapi":"3.0.0","info":{"title":"DevPortal (Main API): Account transaction APIs","description":"Luminor agnostic API definitions","contact":{"email":"openbanking@luminorgroup.com"},"version":"1.0.0"},"servers":[{"url":"https://api.developer.luminoropenbanking.com/sandbox/"}],"tags":[{"name":"Account transactions over 90 days period","description":"Set of endpoints used to request account transaction history over 90 days period"}],"paths":{"/v1/accounts/{accountId}/transactions":{"post":{"tags":["Account transactions over 90 days period"],"summary":"Get transaction list over 90 days period","description":"Creates a request for a list of transactions which are over period of 90 days.","operationId":"postAccountTransactions","parameters":[{"name":"X-Request-ID","in":"header","description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"},{"name":"Authorization","in":"header","description":"Access token issued by the authorization server","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"8f5SZKlfrPg9pTqaeGIYwxAmsco"},{"name":"Consent-ID","in":"header","description":"Consent ID","required":true,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}},{"name":"Content-type","in":"header","description":"Type of content (application/json)","required":true,"schema":{"type":"string","exampleSetFlag":false,"enum":["application/json"]}},{"name":"PSU-IP-Address","in":"header","description":"User's IP Address","schema":{"type":"string","format":"ipv4","exampleSetFlag":false},"example":"255.255.255.255"},{"name":"tpp-redirect-uri","in":"header","description":"Redirect URI after successful signing","required":false,"schema":{"type":"string","exampleSetFlag":false},"example":"https://developer.luminoropenbanking.com/"},{"name":"tpp-nok-redirect-uri","in":"header","description":"Redirect URI after failed signing","required":false,"schema":{"type":"string","exampleSetFlag":false},"example":"https://developer.luminoropenbanking.com/"},{"name":"tpp-redirect-preferred","in":"header","description":"Use TPP redirect appraoch","required":false,"schema":{"type":"boolean","exampleSetFlag":false},"example":false},{"name":"accountId","in":"path","description":"Account ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","exampleSetFlag":false}},{"name":"bookingStatus","in":"query","description":"Filter transactions by booking status (only \"booked\" is supported)","required":true,"style": "form","explode":true,"schema":{"type":"string","exampleSetFlag":false,"enum":["booked"]},"example":"booked"},{"name":"dateFrom","in":"query","description":"Start date (YYYY-MM-DD) can be older than 90 days from today","required":true,"style": "form","explode":true,"schema":{"type":"string","format":"date","exampleSetFlag":false},"example":"2020-08-01"},{"name":"dateTo","in":"query","description":"End date (YYYY-MM-DD) must be not more than 1 year from start date","required":true,"style": "form","explode":true,"schema":{"type":"string","format":"date","exampleSetFlag":false},"example":"2020-08-15"},{"name":"transactionType","in":"query","description":"Filter transactions by type (incoming/outgoing)","required":false,"style": "form","explode":true,"schema":{"type":"string","exampleSetFlag":false,"enum":["incoming","outgoing"]},"example":"outgoing"}],"responses":{"201":{"description":"CREATED","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_201","exampleSetFlag":false},"exampleSetFlag":false}}},"210":{"description":"OK","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_201","exampleSetFlag":false},"exampleSetFlag":false}}},"400":{"description":"Bad Request","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"401":{"description":"Unauthorized","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"403":{"description":"Forbidden","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"404":{"description":"Not Found","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"409":{"description":"Conflict","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"429":{"description":"Too Many Requests","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"500":{"description":"Internal Server Error","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}}},"security":[{"headers":["content-type: application/json","authorization: Bearer REPLACE_IT_BY_ACCESS_TOKEN(customer2,ttp1)"]}]}},"/v1/accounts/{accountId}/transactions/{statementId}/authorisations":{"post":{"tags":["Account transactions over 90 days period"],"summary":"Initiate transaction list authorisation","description":"Starts transaction list authorisation process","operationId":"startAuthorisation","parameters":[{"name":"X-Request-ID","in":"header","description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"},{"name":"Authorization","in":"header","description":"Access token issued by the authorization server","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"8f5SZKlfrPg9pTqaeGIYwxAmsco"},{"name":"Consent-ID","in":"header","description":"Consent ID","required":true,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}},{"name":"PSU-IP-Address","in":"header","description":"User's IP Address","schema":{"type":"string","format":"ipv4","exampleSetFlag":false},"example":"255.255.255.255"},{"name":"accountId","in":"path","description":"Account ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","exampleSetFlag":false}},{"name":"statementId","in":"path","description":"Unique statement resource identifier","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}}],"responses":{"201":{"description":"Created","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_201_1","exampleSetFlag":false},"exampleSetFlag":false}}},"400":{"description":"Bad Request","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"401":{"description":"Unauthorized","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"403":{"description":"Forbidden","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"404":{"description":"Not Found","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"409":{"description":"Conflict","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"500":{"description":"Internal Server Error","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}}},"security":[{"headers":["content-type: application/json","authorization: Bearer REPLACE_IT_BY_ACCESS_TOKEN(customer2,ttp1)"]}]}},"/v1/accounts/{accountId}/transactions/{statementId}/authorisations/{authorisationId}":{"get":{"tags":["Account transactions over 90 days period"],"summary":"Get transaction list authorisation details","description":"Returns details of specified transaction list authorisation sub-resource","operationId":"getAuthorisationDetails","parameters":[{"name":"X-Request-ID","in":"header","description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"},{"name":"Authorization","in":"header","description":"Access token issued by the authorization server","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"8f5SZKlfrPg9pTqaeGIYwxAmsco"},{"name":"Consent-ID","in":"header","description":"Consent ID","required":true,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}},{"name":"PSU-IP-Address","in":"header","description":"User's IP Address","schema":{"type":"string","format":"ipv4","exampleSetFlag":false},"example":"255.255.255.255"},{"name":"accountId","in":"path","description":"Account ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","exampleSetFlag":false}},{"name":"statementId","in":"path","description":"Unique statement resource identifier","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}},{"name":"authorisationId","in":"path","description":"Auhorisation ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}}],"responses":{"200":{"description":"OK","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_200","exampleSetFlag":false},"exampleSetFlag":false}}},"400":{"description":"Bad Request","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"401":{"description":"Unauthorized","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"403":{"description":"Forbidden","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"404":{"description":"Not Found","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"409":{"description":"Conflict","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"500":{"description":"Internal Server Error","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}}},"security":[{"headers":["content-type: application/json","authorization: Bearer REPLACE_IT_BY_ACCESS_TOKEN(customer2,ttp1)"]}]},"put":{"tags":["Account transactions over 90 days period"],"summary":"Update transaction list authorisation details","description":"Updates specified transaction list authorisation sub-resource with selected authorisation method","operationId":"setAuthorisationDetails","parameters":[{"name":"X-Request-ID","in":"header","description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"},{"name":"Authorization","in":"header","description":"Access token issued by the authorization server","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"8f5SZKlfrPg9pTqaeGIYwxAmsco"},{"name":"Consent-ID","in":"header","description":"Consent ID","required":true,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}},{"name":"PSU-IP-Address","in":"header","description":"User's IP Address","schema":{"type":"string","format":"ipv4","exampleSetFlag":false},"example":"255.255.255.255"},{"name":"accountId","in":"path","description":"Account ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","exampleSetFlag":false}},{"name":"statementId","in":"path","description":"Unique statement resource identifier","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}},{"name":"authorisationId","in":"path","description":"Auhorisation ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/authorisations_authorisationId_body","exampleSetFlag":false},"exampleSetFlag":false}},"required":true},"responses":{"200":{"description":"OK","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_200_1","exampleSetFlag":false},"exampleSetFlag":false}}},"400":{"description":"Bad Request","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"401":{"description":"Unauthorized","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"403":{"description":"Forbidden","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"404":{"description":"Not Found","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"409":{"description":"Conflict","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"500":{"description":"Internal Server Error","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}}},"security":[{"headers":["content-type: application/json","authorization: Bearer REPLACE_IT_BY_ACCESS_TOKEN(customer2,ttp1)"]}]}},"/v1/accounts/{accountId}/transactions/{statementId}/status":{"get":{"tags":["Account transactions over 90 days period"],"summary":"Get transaction list status","description":"Returns status of specified transaction list","operationId":"getStatementStatus","parameters":[{"name":"X-Request-ID","in":"header","description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"},{"name":"Authorization","in":"header","description":"Access token issued by the authorization server","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"8f5SZKlfrPg9pTqaeGIYwxAmsco"},{"name":"PSU-IP-Address","in":"header","description":"User's IP Address","schema":{"type":"string","format":"ipv4","exampleSetFlag":false},"example":"255.255.255.255"},{"name":"accountId","in":"path","description":"Account ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","exampleSetFlag":false}},{"name":"statementId","in":"path","description":"Unique statement resource identifier","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}},{"name":"Consent-ID","in":"header","description":"Consent ID","required":true,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}}],"responses":{"200":{"description":"OK","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_200_2","exampleSetFlag":false},"exampleSetFlag":false}}},"400":{"description":"Bad Request","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"401":{"description":"Unauthorized","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"403":{"description":"Forbidden","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"404":{"description":"Not Found","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"409":{"description":"Conflict","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"500":{"description":"Internal Server Error","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}}},"security":[{"headers":["content-type: application/json","authorization: Bearer REPLACE_IT_BY_ACCESS_TOKEN(customer2,ttp1)"]}]}},"/v1/accounts/{accountId}/transactions/{statementId}/download":{"get":{"tags":["Account transactions over 90 days period"],"summary":"Download transaction list in .zip","description":"List of transaction for Baltic countries returned in a .zip file in json format.","operationId":"downloadAccountTransactions","parameters":[{"name":"X-Request-ID","in":"header","description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"},{"name":"Authorization","in":"header","description":"Access token issued by the authorization server","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"8f5SZKlfrPg9pTqaeGIYwxAmsco"},{"name":"PSU-IP-Address","in":"header","description":"User's IP Address","schema":{"type":"string","format":"ipv4","exampleSetFlag":false},"example":"255.255.255.255"},{"name":"accountId","in":"path","description":"Account ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","exampleSetFlag":false}},{"name":"statementId","in":"path","description":"Unique statement resource identifier","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}},{"name":"Consent-ID","in":"header","description":"Consent ID","required":true,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}}],"responses":{"200":{"description":"A zip file","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"},"Content-Disposition":{"description":"header indicating if the content is expected to be displayed as an attachment, that is downloaded and saved locally","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","exampleSetFlag":false},"example":"attachment; filename=transaction_history.zip"}},"content":{"application/zip":{"schema":{"type":"string","format":"byte","exampleSetFlag":false},"exampleSetFlag":false}}},"400":{"description":"Bad Request","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"401":{"description":"Unauthorized","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"403":{"description":"Forbidden","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"404":{"description":"Not Found","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"409":{"description":"Conflict","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"428":{"description":"Precondition Required","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"500":{"description":"Internal Server Error","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}}},"security":[{"headers":["authorization: Bearer REPLACE_IT_BY_ACCESS_TOKEN(customer2,ttp1)"]}]}}},"components":{"schemas":{"statementStatusDto":{"type":"object","properties":{"statementStatus":{"type":"string","description":"Statement status","exampleSetFlag":false,"enum":["received","rejected","signed"]}},"exampleSetFlag":false},"statementStatus":{"type":"string","description":"Statement status","exampleSetFlag":false,"enum":["received","rejected","signed"]},"generalStatement":{"required":["dateFrom","dateTo"],"type":"object","properties":{"dateFrom":{"type":"string","format":"date","example":"2020-01-01","exampleSetFlag":true},"dateTo":{"type":"string","format":"date","example":"2020-12-31","exampleSetFlag":true},"bookingStatus":{"$ref":"#/components/schemas/bookingStatus","exampleSetFlag":false},"transactionType":{"$ref":"#/components/schemas/transactionType","exampleSetFlag":false}},"exampleSetFlag":false},"statement":{"exampleSetFlag":false,"allOf":[{"$ref":"#/components/schemas/generalStatement","exampleSetFlag":false},{"$ref":"#/components/schemas/statementAllOf_2","exampleSetFlag":false}]},"bookingStatus":{"type":"string","description":"Filter transactions by booking status (only \"booked\" is supported)","example":"booked","exampleSetFlag":true,"default":"booked","enum":["booked"]},"transactionType":{"type":"string","exampleSetFlag":false,"enum":["incoming","outgoing"]},"authorisation":{"type":"object","properties":{"authorisationId":{"type":"string","description":"Authorisation ID","format":"uuid","exampleSetFlag":false},"scaStatus":{"type":"string","description":"Authorisation status","example":"started","exampleSetFlag":true,"enum":["received","sca_method_selected","started","submitted","finalised","canceled","failed"]},"authenticationMethodId":{"type":"string","description":"Authentication method","example":"MOBILE_ID","exampleSetFlag":true,"enum":["SMART_ID","MOBILE_ID","CODE_CALCULATOR","IDCARD"]},"name":{"type":"string","description":"Name of the person who has signed the payment","example":"Name","exampleSetFlag":true},"surname":{"type":"string","description":"Surname of the person who has signed the payment","example":"Surname","exampleSetFlag":true},"signatureSchemaType":{"type":"string","description":"Signature type","example":"ALONE","exampleSetFlag":true,"enum":["NOSIGN","ALONE","JOINT_2","JOINT_3"]},"created":{"type":"string","description":"Date and time the payment was signed","format":"date-time","example":"2020-03-31T07:00:07.897Z","exampleSetFlag":true}},"exampleSetFlag":false},"authenticationMethodEnv":{"type":"object","properties":{"authenticationMethodId":{"type":"string","description":"Authentication method","example":"MOBILE_ID","exampleSetFlag":true,"enum":["SMART_ID","MOBILE_ID","CODE_CALCULATOR","IDCARD"]}},"exampleSetFlag":false},"challengeEnv":{"type":"object","properties":{"scaStatus":{"type":"string","description":"Authorisation status","example":"started","exampleSetFlag":true,"enum":["received","sca_method_selected","started","submitted","finalised","canceled","failed"]},"verificationCode":{"type":"string","description":"Verification code","example":"0539","exampleSetFlag":true},"challengeData":{"type":"string","description":"Challenge data","example":"7f0WmY3wEK59r5S4ckHDZ","exampleSetFlag":true}},"exampleSetFlag":false},"smartIdVerificationCode":{"type":"string","description":"Verification code","example":"0539","exampleSetFlag":true},"challengeData":{"type":"string","description":"Challenge data","example":"7f0WmY3wEK59r5S4ckHDZ","exampleSetFlag":true},"methodsEnv":{"type":"object","properties":{"authorisationId":{"type":"string","description":"Authorisation ID","format":"uuid","exampleSetFlag":false},"scaStatus":{"type":"string","description":"Authorisation status","example":"started","exampleSetFlag":true,"enum":["received","sca_method_selected","started","submitted","finalised","canceled","failed"]},"scaMethods":{"type":"array","description":"Authentication methods","exampleSetFlag":false,"items":{"$ref":"#/components/schemas/methodsEnv_scaMethods","exampleSetFlag":false}},"_links":{"$ref":"#/components/schemas/methodsEnv__links","exampleSetFlag":false}},"exampleSetFlag":false},"scaMethod":{"type":"object","properties":{"scaApproach":{"type":"string","description":"Authentication approach","exampleSetFlag":false,"enum":["DECOUPLED"]},"authenticationMethodId":{"type":"string","description":"Authentication method","example":"MOBILE_ID","exampleSetFlag":true,"enum":["SMART_ID","MOBILE_ID","CODE_CALCULATOR","IDCARD"]},"explanation":{"type":"string","description":"Authentication method description","example":"Authentication using Mobile-ID","exampleSetFlag":true}},"example":[{"scaApproach":"DECOUPLED","authenticationMethodId":"SMART_ID"}],"exampleSetFlag":true},"transactionsSummaryEnv":{"type":"object","properties":{"_links":{"$ref":"#/components/schemas/transactionsSummaryEnv__links","exampleSetFlag":false},"psuMessage":{"type":"string","description":"text for PSU","exampleSetFlag":false},"statementId":{"type":"string","description":"resourceId","exampleSetFlag":false},"statementStatus":{"type":"string","description":"resource status","exampleSetFlag":false}},"exampleSetFlag":false},"errorResponse":{"type":"object","properties":{"errors":{"type":"array","description":"error details","exampleSetFlag":false,"items":{"$ref":"#/components/schemas/errorResponse_errors","exampleSetFlag":false}}},"exampleSetFlag":false},"error":{"required":["category","code"],"properties":{"category":{"type":"string","description":"Error category. Only \"ERROR\" or \"WARNING\" permitted","example":"ERROR","exampleSetFlag":true,"enum":["ERROR","WARNING"]},"code":{"type":"string","description":"Error message code","example":"FORMAT_ERROR","exampleSetFlag":true},"text":{"type":"string","description":"Additional explaining text","example":"Review query parameters","exampleSetFlag":true}},"exampleSetFlag":false},"authorisationId":{"type":"string","description":"Authorisation ID","format":"uuid","exampleSetFlag":false},"scaStatus":{"type":"string","description":"Authorisation status","example":"started","exampleSetFlag":true,"enum":["received","sca_method_selected","started","submitted","finalised","canceled","failed"]},"authenticationMethodId":{"type":"string","description":"Authentication method","example":"MOBILE_ID","exampleSetFlag":true,"enum":["SMART_ID","MOBILE_ID","CODE_CALCULATOR","IDCARD"]},"name":{"type":"string","description":"Name of the person who has signed the payment","example":"Name","exampleSetFlag":true},"surname":{"type":"string","description":"Surname of the person who has signed the payment","example":"Surname","exampleSetFlag":true},"signatureSchemaType":{"type":"string","description":"Signature type","example":"ALONE","exampleSetFlag":true,"enum":["NOSIGN","ALONE","JOINT_2","JOINT_3"]},"scaExplanation":{"type":"string","description":"Authentication method description","example":"Authentication using Mobile-ID","exampleSetFlag":true},"inline_response_201":{"type":"object","properties":{"_links":{"$ref":"#/components/schemas/transactionsSummaryEnv__links","exampleSetFlag":false},"psuMessage":{"type":"string","description":"text for PSU","exampleSetFlag":false},"statementId":{"type":"string","description":"resourceId","exampleSetFlag":false},"statementStatus":{"type":"string","description":"resource status","exampleSetFlag":false}},"exampleSetFlag":false},"inline_response_400":{"type":"object","properties":{"errors":{"type":"array","description":"error details","exampleSetFlag":false,"items":{"$ref":"#/components/schemas/errorResponse_errors","exampleSetFlag":false}}},"exampleSetFlag":false},"inline_response_201_1":{"type":"object","properties":{"authorisationId":{"type":"string","description":"Authorisation ID","format":"uuid","exampleSetFlag":false},"scaStatus":{"type":"string","description":"Authorisation status","example":"started","exampleSetFlag":true,"enum":["received","sca_method_selected","started","submitted","finalised","canceled","failed"]},"scaMethods":{"type":"array","description":"Authentication methods","exampleSetFlag":false,"items":{"$ref":"#/components/schemas/methodsEnv_scaMethods","exampleSetFlag":false}},"_links":{"$ref":"#/components/schemas/methodsEnv__links","exampleSetFlag":false}},"exampleSetFlag":false},"inline_response_200":{"type":"object","properties":{"authorisationId":{"type":"string","description":"Authorisation ID","format":"uuid","exampleSetFlag":false},"scaStatus":{"type":"string","description":"Authorisation status","example":"started","exampleSetFlag":true,"enum":["received","sca_method_selected","started","submitted","finalised","canceled","failed"]},"authenticationMethodId":{"type":"string","description":"Authentication method","example":"MOBILE_ID","exampleSetFlag":true,"enum":["SMART_ID","MOBILE_ID","CODE_CALCULATOR","IDCARD"]},"name":{"type":"string","description":"Name of the person who has signed the payment","example":"Name","exampleSetFlag":true},"surname":{"type":"string","description":"Surname of the person who has signed the payment","example":"Surname","exampleSetFlag":true},"signatureSchemaType":{"type":"string","description":"Signature type","example":"ALONE","exampleSetFlag":true,"enum":["NOSIGN","ALONE","JOINT_2","JOINT_3"]},"created":{"type":"string","description":"Date and time the payment was signed","format":"date-time","example":"2020-03-31T07:00:07.897Z","exampleSetFlag":true}},"exampleSetFlag":false},"authorisations_authorisationId_body":{"type":"object","properties":{"authenticationMethodId":{"type":"string","description":"Authentication method","example":"MOBILE_ID","exampleSetFlag":true,"enum":["SMART_ID","MOBILE_ID","CODE_CALCULATOR","IDCARD"]}},"exampleSetFlag":false},"inline_response_200_1":{"type":"object","properties":{"scaStatus":{"type":"string","description":"Authorisation status","example":"started","exampleSetFlag":true,"enum":["received","sca_method_selected","started","submitted","finalised","canceled","failed"]},"verificationCode":{"type":"string","description":"Verification code","example":"0539","exampleSetFlag":true},"challengeData":{"type":"string","description":"Challenge data","example":"7f0WmY3wEK59r5S4ckHDZ","exampleSetFlag":true}},"exampleSetFlag":false},"inline_response_200_2":{"type":"object","properties":{"statementStatus":{"type":"string","description":"Statement status","exampleSetFlag":false,"enum":["received","rejected","signed"]}},"exampleSetFlag":false},"statementAllOf_2":{"type":"object","properties":{"statementId":{"type":"string","format":"uuid","exampleSetFlag":false},"accountId":{"type":"string","exampleSetFlag":false},"statementStatus":{"$ref":"#/components/schemas/statementStatus","exampleSetFlag":false}},"exampleSetFlag":false},"methodsEnv_scaMethods":{"type":"object","properties":{"scaApproach":{"type":"string","description":"Authentication approach","exampleSetFlag":false,"enum":["DECOUPLED"]},"authenticationMethodId":{"type":"string","description":"Authentication method","example":"MOBILE_ID","exampleSetFlag":true,"enum":["SMART_ID","MOBILE_ID","CODE_CALCULATOR","IDCARD"]},"explanation":{"type":"string","description":"Authentication method description","example":"Authentication using Mobile-ID","exampleSetFlag":true}},"example":"[{\"scaApproach\":\"DECOUPLED\",\"authenticationMethodId\":\"SMART_ID\"}]","exampleSetFlag":true},"methodsEnv__links_selectAuthenticationMethod":{"type":"object","properties":{"href":{"type":"string","description":"Link to authorisation execution","example":"/v1/accounts/123141414/transactions/24156c6c-e1c9-11e8-9372-cdb9b420ccd4/authorisations/AUTH000001","exampleSetFlag":true}},"description":"Authorisation","exampleSetFlag":true},"methodsEnv__links_scaStatus":{"type":"object","properties":{"href":{"type":"string","description":"Link to authorisation status","example":"/v1/accounts/123141414/transactions/24156c6c-e1c9-11e8-9372-cdb9b420ccd4/authorisations/AUTH000001","exampleSetFlag":true}},"description":"Authorisation status","exampleSetFlag":true},"methodsEnv__links":{"type":"object","properties":{"selectAuthenticationMethod":{"$ref":"#/components/schemas/methodsEnv__links_selectAuthenticationMethod","exampleSetFlag":false},"scaStatus":{"$ref":"#/components/schemas/methodsEnv__links_scaStatus","exampleSetFlag":false}},"description":"Links","exampleSetFlag":true},"transactionsSummaryEnv__links_scaRedirect":{"type":"object","properties":{"href":{"type":"string","description":"Link to transaction signing","example":"https:/.../authentication/123c","exampleSetFlag":true}},"description":"Redirect to transaction signing","exampleSetFlag":true},"transactionsSummaryEnv__links_startAuthorisation":{"type":"object","properties":{"href":{"type":"string","description":"Link to start authorisation","example":"/v1/accounts/123abc/transactions/124bca/authorisations","exampleSetFlag":true}},"description":"start authorisation","exampleSetFlag":true},"transactionsSummaryEnv__links_download":{"type":"object","properties":{"href":{"type":"string","description":"Link to download transaction history","example":"/v1/accounts/123abc/transactions/124bca/download","exampleSetFlag":true}},"description":"Download transaction history","exampleSetFlag":true},"transactionsSummaryEnv__links_status":{"type":"object","properties":{"href":{"type":"string","description":"Link to consent status","example":"/v1/accounts/123abc/transactions/124bca/status","exampleSetFlag":true}},"description":"Consent status","exampleSetFlag":true},"transactionsSummaryEnv__links":{"type":"object","properties":{"scaRedirect":{"$ref":"#/components/schemas/transactionsSummaryEnv__links_scaRedirect","exampleSetFlag":false},"startAuthorisation":{"$ref":"#/components/schemas/transactionsSummaryEnv__links_startAuthorisation","exampleSetFlag":false},"download":{"$ref":"#/components/schemas/transactionsSummaryEnv__links_download","exampleSetFlag":false},"status":{"$ref":"#/components/schemas/transactionsSummaryEnv__links_status","exampleSetFlag":false}},"description":"Links","exampleSetFlag":true},"errorResponse_errors":{"required":["category","code"],"properties":{"category":{"type":"string","description":"Error category. Only \"ERROR\" or \"WARNING\" permitted","example":"ERROR","exampleSetFlag":true,"enum":["ERROR","WARNING"]},"code":{"type":"string","description":"Error message code","example":"FORMAT_ERROR","exampleSetFlag":true},"text":{"type":"string","description":"Additional explaining text","example":"Review query parameters","exampleSetFlag":true}},"exampleSetFlag":true}},"parameters":{"accountId":{"name":"accountId","in":"path","description":"Account ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","exampleSetFlag":false}},"statementId":{"name":"statementId","in":"path","description":"Unique statement resource identifier","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}},"authorisationId":{"name":"authorisationId","in":"path","description":"Auhorisation ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}}},"headers":{"xRequestId":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}}}}