{"openapi":"3.1.0","info":{"title":"PaySimple API 4.0-DO NOT DELETE","version":"1.1"},"servers":[{"url":"https://api.paysimple.com/v4"}],"components":{"securitySchemes":{}},"security":[{}],"paths":{"/customer":{"get":{"summary":"List Customers","description":"Sortable list of all customers.","operationId":"list-customers","parameters":[{"name":"sortby","in":"query","description":"Optional. Field name to sort by. See below for valid sort fields.","schema":{"type":"string","default":"Id"}},{"name":"direction","in":"query","description":"Optional. Valid values: `asc`: Ascending, sort low-to-high / A-to-Z. nulls appear first. `desc`: Descending, sort high-to low / Z-to-A nulls appear last.","schema":{"type":"string","default":"desc"}},{"name":"page","in":"query","description":"Optional. The page number of the result set to be returned.","schema":{"type":"integer","format":"int32","default":1}},{"name":"pagesize","in":"query","description":"Optional. The number of results to be returned. Defaulted to 200 if value is not provided.","schema":{"type":"integer","format":"int32","default":200}},{"name":"lite","in":"query","description":"Optional. When set to true only a small subset of fields will be returned in the response.","schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Success":{"value":"{\n\t\"Meta\": {\n\t\t\"Errors\": null,\n\t\t\"HttpStatus\": \"OK\",\n\t\t\"HttpStatusCode\": 200,\n\t\t\"PagingDetails\": {\n\t\t\t\"TotalItems\": 138,\n\t\t\t\"Page\": 1,\n\t\t\t\"ItemsPerPage\": 2\n\t\t}\n\t},\n\t\"Response\": [{\n\t\t\t\"MiddleName\": null,\n\t\t\t\"AltEmail\": \"\",\n\t\t\t\"AltPhone\": \"\",\n\t\t\t\"MobilePhone\": null,\n\t\t\t\"Fax\": \"\",\n\t\t\t\"Website\": \"\",\n\t\t\t\"BillingAddress\": null,\n\t\t\t\"ShippingSameAsBilling\": true,\n\t\t\t\"ShippingAddress\": null,\n\t\t\t\"Company\": \"First's's Company\",\n\t\t\t\"Notes\": \"1st created customer\",\n\t\t\t\"CustomerAccount\": \"\",\n\t\t\t\"FirstName\": \"First\",\n\t\t\t\"LastName\": \"Customer\",\n\t\t\t\"Email\": \"firstCust@gmail.coms\",\n\t\t\t\"Phone\": \"\",\n\t\t\t\"Id\": 9686103,\n\t\t\t\"LastModified\": \"2018-01-03T16:03:03Z\",\n\t\t\t\"CreatedOn\": \"2017-06-28T14:05:32Z\"\n\t\t}, {\n\t\t\t\"MiddleName\": null,\n\t\t\t\"AltEmail\": null,\n\t\t\t\"AltPhone\": null,\n\t\t\t\"MobilePhone\": null,\n\t\t\t\"Fax\": null,\n\t\t\t\"Website\": null,\n\t\t\t\"BillingAddress\": null,\n\t\t\t\"ShippingSameAsBilling\": true,\n\t\t\t\"ShippingAddress\": null,\n\t\t\t\"Company\": null,\n\t\t\t\"Notes\": null,\n\t\t\t\"CustomerAccount\": null,\n\t\t\t\"FirstName\": \"Second\",\n\t\t\t\"LastName\": \"Customer\",\n\t\t\t\"Email\": \"secondCust@ps.com\",\n\t\t\t\"Phone\": null,\n\t\t\t\"Id\": 9686161,\n\t\t\t\"LastModified\": \"2017-06-29T13:09:16Z\",\n\t\t\t\"CreatedOn\": \"2017-06-29T13:09:16Z\"\n\t\t}\n\t]\n}\n"}},"schema":{"type":"object","properties":{"Meta":{"type":"object","properties":{"Errors":{},"HttpStatus":{"type":"string","example":"OK"},"HttpStatusCode":{"type":"integer","example":200,"default":0},"PagingDetails":{"type":"object","properties":{"TotalItems":{"type":"integer","example":138,"default":0},"Page":{"type":"integer","example":1,"default":0},"ItemsPerPage":{"type":"integer","example":2,"default":0}}}}},"Response":{"type":"array","items":{"type":"object","properties":{"MiddleName":{},"AltEmail":{"type":"string","example":""},"AltPhone":{"type":"string","example":""},"MobilePhone":{},"Fax":{"type":"string","example":""},"Website":{"type":"string","example":""},"BillingAddress":{},"ShippingSameAsBilling":{"type":"boolean","example":true,"default":true},"ShippingAddress":{},"Company":{"type":"string","example":"First's's Company"},"Notes":{"type":"string","example":"1st created customer"},"CustomerAccount":{"type":"string","example":""},"FirstName":{"type":"string","example":"First"},"LastName":{"type":"string","example":"Customer"},"Email":{"type":"string","example":"firstCust@gmail.coms"},"Phone":{"type":"string","example":""},"Id":{"type":"integer","example":9686103,"default":0},"LastModified":{"type":"string","example":"2018-01-03T16:03:03Z"},"CreatedOn":{"type":"string","example":"2017-06-28T14:05:32Z"}}}}}}},"text/plain":{"examples":{"Lite Response Format":{"value":"// example output when lite=true set in query string\n{\n    \"Meta\": {\n        \"Errors\": null,\n        \"HttpStatus\": \"OK\",\n        \"HttpStatusCode\": 200,\n        \"PagingDetails\": {\n            \"TotalItems\": 138,\n            \"Page\": 3,\n            \"ItemsPerPage\": 2\n        }\n    },\n    \"Response\": [{\n        \"Company\": \"Bad Wolf Corporation \",\n        \"FirstName\": \"Rose\",\n        \"LastName\": \"Tyler\",\n        \"Id\": 94659\n    }, {\n        \"Company\": \"\",\n        \"FirstName\": \"Sarah Jane\",\n        \"LastName\": \"Smith\",\n        \"Id\": 94660\n    }]\n}"}},"schema":{"type":"object","properties":{"Meta":{"type":"object","properties":{"Errors":{},"HttpStatus":{"type":"string","example":"OK"},"HttpStatusCode":{"type":"integer","example":200,"default":0},"PagingDetails":{"type":"object","properties":{"TotalItems":{"type":"integer","example":138,"default":0},"Page":{"type":"integer","example":3,"default":0},"ItemsPerPage":{"type":"integer","example":2,"default":0}}}}},"Response":{"type":"array","items":{"type":"object","properties":{"Company":{"type":"string","example":"Bad Wolf Corporation "},"FirstName":{"type":"string","example":"Rose"},"LastName":{"type":"string","example":"Tyler"},"Id":{"type":"integer","example":94659,"default":0}}}}}}}}}},"deprecated":false,"security":[]},"post":{"summary":"New Customer","description":"Creates a new customer object","operationId":"new-customer","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"FirstName":{"type":"string","description":"Required.  100 characters max."},"LastName":{"type":"string","description":"Required.  100 characters max."},"ShippingSameAsBilling":{"type":"boolean","description":"Required.  Set to `true` to indicate that there is no separate shipping address, even if you are not including a billing address. Set to `false` to require `ShippingAddress` fields.","default":true},"BillingAddress":{"properties":{"StreetAddress1":{"type":"string","description":"Required if `BillingAddress` is included.  250 characters max"},"StreetAddress2":{"type":"string","description":"Optional. 250 characters max."},"City":{"type":"string","description":"Required if `BillingAddress` is included.  100 characters max."},"StateCode":{"type":"string","description":"Optional. Valid 2 character State or Territory code in the US or Canada."},"ZipCode":{"type":"string","description":"Required if `BillingAddress` is included.  10 characters max"},"Country":{"type":"string","description":"Optional. Valid 2 character country code.  Defaults to \"US\"."}},"required":[],"type":"object","description":"Billing address is not required, but if included all its attributes are required except `StreetAddress2`, `StateCode`,” and `Country`. From 5 to 10 characters of any type is valid for `ZipCode`."},"ShippingAddress":{"properties":{"StreetAddress1":{"type":"string","description":"Required if `ShippingAddress` is included.  250 characters max."},"StreetAddress2":{"type":"string","description":"Optional. 250 characters max."},"StateCode":{"type":"string","description":"Optional. Valid 2 character State or Territory code in the US or Canada."},"City":{"type":"string","description":"Required if `ShippingAddress` is included. 100 characters max."},"ZipCode":{"type":"string","description":"Required if `ShippingAddress` is included.  10 characters max."},"Country":{"type":"string","description":"Optional. Valid 2 character country code.  Defaults to \"US\"."}},"required":[],"type":"object","description":"Not required if `ShippingSameAsBilling` is set to `true`, but if included all its attributes are required except `StreetAddress2`, `StateCode`, and `Country`. From 5 to 10 characters of any type is valid for `ZipCode`."},"Company":{"type":"string","description":"Optional. 50 characters max."},"CustomerAccount":{"type":"string","description":"Optional. 28 characters max. Useful for assigning non-PaySimple Id to the customer for future reference."},"Phone":{"type":"string","description":"Optional.10 characters max, enter as a numeric string; do not include parenthesis or dashes."},"AltPhone":{"type":"string","description":"Optional.10 characters max, enter as a numeric string; do not include parenthesis or dashes."},"MobilePhone":{"type":"string","description":"Optional.10 characters max, enter as a numeric string; do not include parenthesis or dashes."},"Fax":{"type":"string","description":"Optional.10 characters max, enter as a numeric string; do not include parenthesis or dashes."},"Email":{"type":"string","description":"Optional. 100 characters max, must be a valid email address."},"AltEmail":{"type":"string","description":"Optional. 100 characters max, must be a valid email address."},"Website":{"type":"string","description":"Optional. 100 characters max, must be in URL format."},"Notes":{"type":"string","description":"Optional. 2048 characters max. Open text field."}}}}}},"responses":{"201":{"description":"201","content":{"application/json":{"examples":{"Success":{"value":"{\n    \"AltEmail\": null,\n    \"AltPhone\": null,\n    \"MobilePhone\": null,\n    \"Fax\": null,\n    \"Website\": null,\n    \"BillingAddress\": {\n        \"StreetAddress1\": \"123 Some St\",\n        \"StreetAddress2\": null,\n        \"City\": \"Denver\",\n        \"StateCode\": \"CO\",\n        \"ZipCode\": \"80202\",\n        \"Country\": null\n    },\n    \"ShippingSameAsBilling\": true,\n    \"ShippingAddress\": {\n        \"StreetAddress1\": \"123 Some St\",\n        \"StreetAddress2\": null,\n        \"City\": \"Denver\",\n        \"StateCode\": \"CO\",\n        \"ZipCode\": \"80202\",\n        \"Country\": null\n    },\n    \"Company\": \"ABC Company\",\n    \"Notes\": \"This is a note about ABC Company.\",\n    \"CustomerAccount\": \"TP-117\",\n    \"FirstName\": \"Test\",\n    \"LastName\": \"Person\",\n    \"Email\": \"testperson@abcco.com\",\n    \"Phone\": \"8005551212\",\n    \"Id\": 9695143, // This is the CustomerId that identifies the customer in all future requests\n    \"LastModified\": \"2018-01-08T22:52:15.4718015Z\",\n    \"CreatedOn\": \"2018-01-08T22:52:15.4718015Z\"\n}"}},"schema":{"type":"object","properties":{"AltEmail":{},"AltPhone":{},"MobilePhone":{},"Fax":{},"Website":{},"BillingAddress":{"type":"object","properties":{"StreetAddress1":{"type":"string","example":"123 Some St"},"StreetAddress2":{},"City":{"type":"string","example":"Denver"},"StateCode":{"type":"string","example":"CO"},"ZipCode":{"type":"string","example":"80202"},"Country":{}}},"ShippingSameAsBilling":{"type":"boolean","example":true,"default":true},"ShippingAddress":{"type":"object","properties":{"StreetAddress1":{"type":"string","example":"123 Some St"},"StreetAddress2":{},"City":{"type":"string","example":"Denver"},"StateCode":{"type":"string","example":"CO"},"ZipCode":{"type":"string","example":"80202"},"Country":{}}},"Company":{"type":"string","example":"ABC Company"},"Notes":{"type":"string","example":"This is a note about ABC Company."},"CustomerAccount":{"type":"string","example":"TP-117"},"FirstName":{"type":"string","example":"Test"},"LastName":{"type":"string","example":"Person"},"Email":{"type":"string","example":"testperson@abcco.com"},"Phone":{"type":"string","example":"8005551212"},"Id":{"type":"integer","example":9695143,"default":0},"LastModified":{"type":"string","example":"2018-01-08T22:52:15.4718015Z"},"CreatedOn":{"type":"string","example":"2018-01-08T22:52:15.4718015Z"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"Meta\": {\n    \"Errors\": {\n      \"ErrorCode\": \"InvalidInput\",\n      \"ErrorMessages\": [\n        {\n          \"Field\": \"ShippingAddress\",\n          \"Message\": \"ShippingAddress is required when ShippingSameAsBilling is false\"\n        }\n      ]\n    },\n    \"HttpStatus\": \"BadRequest\",\n    \"HttpStatusCode\": 400,\n    \"PagingDetails\": null\n  },\n  \"Response\": null\n}"}},"schema":{"type":"object","properties":{"Meta":{"type":"object","properties":{"Errors":{"type":"object","properties":{"ErrorCode":{"type":"string","example":"InvalidInput"},"ErrorMessages":{"type":"array","items":{"type":"object","properties":{"Field":{"type":"string","example":"ShippingAddress"},"Message":{"type":"string","example":"ShippingAddress is required when ShippingSameAsBilling is false"}}}}}},"HttpStatus":{"type":"string","example":"BadRequest"},"HttpStatusCode":{"type":"integer","example":400,"default":0},"PagingDetails":{}}},"Response":{}}}}}}},"deprecated":false,"security":[]},"put":{"summary":"Update Customer","description":"Updates the customer object for the customer specified in the request body.","operationId":"customer-1","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"Id":{"type":"integer","description":"Required.  Customer Id of the customer you would like to update.","default":null,"format":"int32"},"FirstName":{"type":"string","description":"Required. 100 characters max.","default":"Required"},"LastName":{"type":"string","description":"Required. 100 characters max.","default":"Required"},"ShippingSameAsBilling":{"type":"boolean","description":"Required. Set to `true` to indicate that there is no separate shipping address, even if you are not including a billing address. Set to `false` to require `ShippingAddress` fields.","default":true},"BillingAddress":{"properties":{"StreetAddress1":{"type":"string","description":"Required if `ShippingAddress` is included. 250 characters max."},"StreetAddress2":{"type":"string","description":"Optional. 250 characters max."},"City":{"type":"string","description":"Required if `BillingAddress` is included. 100 characters max."},"StateCode":{"type":"string","description":"Optional. Valid 2 character State or Territory code in the US or Canada"},"ZipCode":{"type":"string","description":"Required if `ShippingAddress` is included. 10 characters max."},"Country":{"type":"string","description":"Optional. Valid 2 character country code. Defaults to \"US\"."}},"required":[],"type":"object","description":"Billing address is not required, but if included all its attributes are required except `StreetAddress2`, `StateCode`, and `Country`. From 5 to 10 characters of any type is valid for `ZipCode`."},"ShippingAddress":{"properties":{"StreetAddress1":{"type":"string","description":"Required if `ShippingAddress` is included. 250 characters max."},"StreetAddress2":{"type":"string","description":"Optional. 250 characters max."},"City":{"type":"string","description":"Required if `ShippingAddress` is included. 100 characters max."},"StateCode":{"type":"string","description":"Optional. Valid 2 character State or Territory code in the US or Canada."},"ZipCode":{"type":"string","description":"Required if `ShippingAddress` is included. 10 characters max."},"Country":{"type":"string","description":"Optional. Valid 2 character country code. Defaults to \"US\"."}},"required":[],"type":"object","description":"Not required if `ShippingSameAsBilling` is set to `true`, but if included all its attributes are required except `StreetAddress2`, `StateCode`, and `Country`. From 5 to 10 characters of any type is valid for `ZipCode`."},"Company":{"type":"string","description":"Optional. 50 characters max."},"CustomerAccount":{"type":"string","description":"Optional. 28 characters max. Useful for assigning non-PaySimple Id to the customer for future reference."},"Phone":{"type":"string","description":"Optional.10 characters max, enter as a numeric string; do not include parenthesis or dashes."},"AltPhone":{"type":"string","description":"Optional. 10 characters max, enter as a numeric string; do not include parenthesis or dashes."},"MobilePhone":{"type":"string","description":"Optional. 10 characters max, enter as a numeric string; do not include parenthesis or dashes."},"Fax":{"type":"string","description":"Optional. 10 characters max, enter as a numeric string; do not include parenthesis or dashes."},"Email":{"type":"string","description":"Optional. 100 characters max, must be a valid email address."},"AltEmail":{"type":"string","description":"Optional. 100 characters max, must be a valid email address."},"Website":{"type":"string","description":"Optional. 100 characters max, must be in URL format."},"Notes":{"type":"string","description":"Optional. 2048 characters max. Open text field."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Success":{"value":"{\n    \"MiddleName\": null,\n    \"AltEmail\": null,\n    \"AltPhone\": null,\n    \"MobilePhone\": null,\n    \"Fax\": null,\n    \"Website\": null,\n    \"BillingAddress\": null,\n    \"ShippingSameAsBilling\": true,\n    \"ShippingAddress\": null,\n    \"Company\": \"NEW XYZ Company\",\n    \"Notes\": null,\n    \"CustomerAccount\": null,\n    \"FirstName\": \"Test\",\n    \"LastName\": \"Person\",\n    \"Email\": null,\n    \"Phone\": null,\n    \"Id\": 9695143,\n    \"LastModified\": \"2018-01-11T20:19:57.0094412Z\",\n    \"CreatedOn\": \"2018-01-08T22:52:15Z\"\n  }\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"Meta\": {\n    \"Errors\": {\n      \"ErrorCode\": \"InvalidInput\",\n      \"ErrorMessages\": [\n        {\n          \"Field\": \"FirstName\",\n          \"Message\": \"The FirstName field is required.\"\n        },\n        {\n          \"Field\": \"LastName\",\n          \"Message\": \"The LastName field is required.\"\n        }\n      ]\n    },\n    \"HttpStatus\": \"BadRequest\",\n    \"HttpStatusCode\": 400,\n    \"PagingDetails\": null\n  },\n  \"Response\": null\n}"}},"schema":{"type":"object","properties":{"Meta":{"type":"object","properties":{"Errors":{"type":"object","properties":{"ErrorCode":{"type":"string","example":"InvalidInput"},"ErrorMessages":{"type":"array","items":{"type":"object","properties":{"Field":{"type":"string","example":"FirstName"},"Message":{"type":"string","example":"The FirstName field is required."}}}}}},"HttpStatus":{"type":"string","example":"BadRequest"},"HttpStatusCode":{"type":"integer","example":400,"default":0},"PagingDetails":{}}},"Response":{}}}}}}},"deprecated":false,"security":[]}},"/account/creditcard":{"post":{"summary":"New Credit Card","description":"Creates a new Credit Card Account object for the specified customer.","operationId":"new-credit-card","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"CustomerId":{"type":"integer","description":"Required. The unique identifier of the Customer to add the new card.","format":"int32"},"CreditCardNumber":{"type":"string","description":"Required.  15, 16 or 19 digits"},"ExpirationDate":{"type":"string","description":"Required. A valid date in the format of mm/yyyy"},"Issuer":{"type":"string","description":"Required. Valid values: `Visa`, `Master` (MasterCard), `Amex` (American Express), `Discover`"},"IsDefault":{"type":"boolean","description":"Optional. `true` sets the card as the default Credit Card Account for the Customer.  If there are no other cards attached to the Customer, the new card will be set as default.","default":true},"BillingZipCode":{"type":"string","description":"Optional.  Max 10 characters. If not provided, the Billing Zip Code of the Customer will be used when processing a payment."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Success":{"value":"{\n    \"CreditCardNumber\": \"************1111\",\n    \"ExpirationDate\": \"12/2033\",\n    \"Issuer\": \"Visa\",\n    \"BillingZipCode\": \"80202\",\n    \"CustomerId\": 9695143,\n    \"IsDefault\": true,\n    \"RequiresValidation\": false,\n    \"Id\": 8989970,  // Unique Id of the Account\n    \"LastModified\": \"2018-01-11T23:04:58.8330513Z\",\n    \"CreatedOn\": \"2018-01-10T20:29:03Z\"\n}"}},"schema":{"type":"object","properties":{"CreditCardNumber":{"type":"string","example":"************1111"},"ExpirationDate":{"type":"string","example":"12/2033"},"Issuer":{"type":"string","example":"Visa"},"BillingZipCode":{"type":"string","example":"80202"},"CustomerId":{"type":"integer","example":9695143,"default":0},"IsDefault":{"type":"boolean","example":true,"default":true},"RequiresValidation":{"type":"boolean","example":false,"default":true},"Id":{"type":"integer","example":8989970,"default":0},"LastModified":{"type":"string","example":"2018-01-11T23:04:58.8330513Z"},"CreatedOn":{"type":"string","example":"2018-01-10T20:29:03Z"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"Meta\": {\n    \"Errors\": {\n      \"ErrorCode\": \"InvalidInput\",\n      \"ErrorMessages\": [\n        {\n          \"Field\": \"\",\n          \"Message\": \"Customer id 8989970 does not exist\"\n        }\n      ]\n    },\n    \"HttpStatus\": \"BadRequest\",\n    \"HttpStatusCode\": 400,\n    \"PagingDetails\": null\n  },\n  \"Response\": null\n}"}},"schema":{"type":"object","properties":{"Meta":{"type":"object","properties":{"Errors":{"type":"object","properties":{"ErrorCode":{"type":"string","example":"InvalidInput"},"ErrorMessages":{"type":"array","items":{"type":"object","properties":{"Field":{"type":"string","example":""},"Message":{"type":"string","example":"Customer id 8989970 does not exist"}}}}}},"HttpStatus":{"type":"string","example":"BadRequest"},"HttpStatusCode":{"type":"integer","example":400,"default":0},"PagingDetails":{}}},"Response":{}}}}}}},"deprecated":false,"security":[]},"put":{"summary":"Update Credit Card","description":"Updates the `ExpirationDate` and/or `BillingZipCode` on the credit card for the account specified in the request body.","operationId":"update-credit-card","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"CustomerId":{"type":"integer","description":"Required. The id of the customer which the card is being updated. Cannot be modified.","format":"int32"},"CreditCardNumber":{"type":"string","description":"Required. 15, 16 digits or 19 digits. Cannot be modified.  `\"****************\"` can also be entered to pass validation."},"ExpirationDate":{"type":"string","description":"Required. A valid date in the format of mm/yyyy. Can be modified."},"Issuer":{"type":"integer","description":"Required. Valid values: `Visa`, `Master` (MasterCard), `Amex` (American Express), `Discover`","format":"int32"},"AccountId":{"type":"integer","description":"Required. Id of the specified credit card account to be updated.","format":"int32"},"BillingZipCode":{"type":"string","description":"Optional. `true` sets the card as the default Credit Card Account for the Customer.  If there are no other cards attached to the Customer, the new card will be set as default.  Can be modified."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Success":{"value":" {\n    \"CreditCardNumber\": \"************1111\",\n    \"ExpirationDate\": \"02/2031\",\n    \"Issuer\": \"Visa\",\n    \"BillingZipCode\": \"80202\",\n    \"CustomerId\": 9695143,\n    \"IsDefault\": true,\n    \"RequiresValidation\": false,\n    \"Id\": 8989970,\n    \"LastModified\": \"2018-01-12T03:09:23.2970324Z\",\n    \"CreatedOn\": \"2018-01-10T20:29:03Z\"\n  }"}},"schema":{"type":"object","properties":{"CreditCardNumber":{"type":"string","example":"************1111"},"ExpirationDate":{"type":"string","example":"02/2031"},"Issuer":{"type":"string","example":"Visa"},"BillingZipCode":{"type":"string","example":"80202"},"CustomerId":{"type":"integer","example":9695143,"default":0},"IsDefault":{"type":"boolean","example":true,"default":true},"RequiresValidation":{"type":"boolean","example":false,"default":true},"Id":{"type":"integer","example":8989970,"default":0},"LastModified":{"type":"string","example":"2018-01-12T03:09:23.2970324Z"},"CreatedOn":{"type":"string","example":"2018-01-10T20:29:03Z"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"Meta\": {\n      \"ErrorCode\": \"InvalidInput\",\n      \"ErrorMessages\": [\n        {\n          \"Field\": \"CreditCardNumber\",\n          \"Message\": \"The CreditCardNumber field is required.\"\n        },\n        {\n          \"Field\": \"ExpirationDate\",\n          \"Message\": \"Expiration Date must be a valid date in MM/YYYY format\"\n        },\n        {\n          \"Field\": \"Issuer\",\n          \"Message\": \"Invalid Credit Card Issuer\"\n        },\n        {\n          \"Field\": \"CustomerId\",\n          \"Message\": \"The CustomerId field is required.\"\n        },\n        {\n          \"Field\": \"Id\",\n          \"Message\": \"Id cannot have a value, did you mean to execute a PUT operation?\"\n        }\n      ]\n    },\n    \"HttpStatus\": \"BadRequest\",\n    \"HttpStatusCode\": 400,\n    \"PagingDetails\": null\n  },\n  \"Response\": null\n}"}}}}}},"deprecated":false,"security":[]}},"/customer/{customerId}/achaccounts":{"get":{"summary":"ACH Accounts","description":"Returns a list of all ACH (bank) accounts associated with a specified customer.","operationId":"customercustomeridachaccounts","parameters":[{"name":"CustomerId","in":"path","description":"Id of specific customer to retrieve a list of ACH accounts","schema":{"type":"integer","format":"int32","default":null},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Success":{"value":"[\n    {\n      \"IsCheckingAccount\": true,\n      \"RoutingNumber\": \"021000021\",\n      \"AccountNumber\": \"**3456\",\n      \"BankName\": \"Test Bank\",\n      \"CustomerId\": 9695143,\n      \"IsDefault\": true,\n      \"RequiresValidation\": false,\n      \"Id\": 8989971,\n      \"LastModified\": \"2018-01-10T20:29:23Z\",\n      \"CreatedOn\": \"2018-01-10T20:29:23Z\"\n    }\n]"}},"schema":{"type":"array","items":{"type":"object","properties":{"IsCheckingAccount":{"type":"boolean","example":true,"default":true},"RoutingNumber":{"type":"string","example":"021000021"},"AccountNumber":{"type":"string","example":"**3456"},"BankName":{"type":"string","example":"Test Bank"},"CustomerId":{"type":"integer","example":9695143,"default":0},"IsDefault":{"type":"boolean","example":true,"default":true},"RequiresValidation":{"type":"boolean","example":false,"default":true},"Id":{"type":"integer","example":8989971,"default":0},"LastModified":{"type":"string","example":"2018-01-10T20:29:23Z"},"CreatedOn":{"type":"string","example":"2018-01-10T20:29:23Z"}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"Meta\": {\n    \"Errors\": {\n      \"ErrorCode\": \"InvalidInput\",\n      \"ErrorMessages\": [\n        {\n          \"Field\": \"\",\n          \"Message\": \"Customer with ID 0 does not exist\"\n        }\n      ]\n    },\n    \"HttpStatus\": \"BadRequest\",\n    \"HttpStatusCode\": 400,\n    \"PagingDetails\": null\n  },\n  \"Response\": null\n}"}},"schema":{"type":"object","properties":{"Meta":{"type":"object","properties":{"Errors":{"type":"object","properties":{"ErrorCode":{"type":"string","example":"InvalidInput"},"ErrorMessages":{"type":"array","items":{"type":"object","properties":{"Field":{"type":"string","example":""},"Message":{"type":"string","example":"Customer with ID 0 does not exist"}}}}}},"HttpStatus":{"type":"string","example":"BadRequest"},"HttpStatusCode":{"type":"integer","example":400,"default":0},"PagingDetails":{}}},"Response":{}}}}}}},"deprecated":false,"security":[]}},"/customer/{customerId}/payments":{"get":{"summary":"List Payments for Customer","description":"Returns a list of payment records for the specified customer.","operationId":"customercustomeridpayments","parameters":[{"name":"CustomerId","in":"path","description":"Id of specific customer to retrieve list of payment records","schema":{"type":"integer","format":"int32","default":null},"required":true},{"name":"sortby","in":"query","description":"Optional. Valid values: `returndate`,`estimatedsettledate`,`actualsettleddate`,`paymentdate`,`paymenttype`,`paymentsubtype`,`amount`","schema":{"type":"string","default":"id"}},{"name":"direction","in":"query","description":"Optional. Valid values: `asc`: Ascending, sort low-to-high / A-to-Z. nulls appear first. `desc`: Descending, sort high-to low / Z-to-A nulls appear last.","schema":{"type":"string","default":"desc"}},{"name":"page","in":"query","description":"Optional. The page number of the result set to be returned.","schema":{"type":"integer","format":"int32","default":1}},{"name":"pagesize","in":"query","description":"Optional. The number of results to be returned.","schema":{"type":"integer","format":"int32","default":200}},{"name":"startdate","in":"query","description":"Optional.  Earliest payment creation date to retrieve. Format: yyyy-mm-dd.","schema":{"type":"string"}},{"name":"enddate","in":"query","description":"Optional.  Last payment creation date to retrieve. Format: yyyy-mm-dd.","schema":{"type":"string"}},{"name":"status","in":"query","description":"Optional. Valid values: `authorized`,`chargeback`,`failed`,`pending`,`posted`,`refundsettled`,`returned`,`reversed`,`reversensf`,`reverseposted`,`settled`,`voided`. See [Payment Status Reference](ref:payment-statuses).","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Success":{"value":"[\n  {\n\t\t\"CustomerId\": 9695143,\n\t\t\"CustomerFirstName\": \"Test\",\n\t\t\"CustomerLastName\": \"Person\",\n\t\t\"CustomerCompany\": \"ABC Company\",\n\t\t\"ReferenceId\": 0,\n\t\t\"Status\": \"Posted\",\n\t\t\"RecurringScheduleId\": 0,\n\t\t\"PaymentType\": \"ACH\",\n\t\t\"PaymentSubType\": \"Tel\",\n\t\t\"ProviderAuthCode\": \"\",\n\t\t\"TraceNumber\": \"83289310\",\n\t\t\"PaymentDate\": \"2018-01-10T07:00:00Z\",\n\t\t\"ReturnDate\": null,\n\t\t\"EstimatedSettleDate\": \"2018-01-16T07:00:00Z\",\n\t\t\"EstimatedDepositDate\": \"2018-01-17T07:00:00Z\",\n\t\t\"ActualSettledDate\": null,\n\t\t\"CanVoidUntil\": \"2018-01-10T22:00:00Z\",\n\t\t\"FailureData\": {\n\t\t\t\"Code\": null,\n\t\t\t\"Description\": null,\n\t\t\t\"MerchantActionText\": null,\n\t\t\t\"IsDecline\": false\n\t\t},\n\t\t\"RequiresReceipt\": false,\n\t\t\"CVV\": null,\n\t\t\"SignatureImage\": null,\n\t\t\"SwipeData\": null,\n\t\t\"AccountId\": 8989971,\n\t\t\"InvoiceId\": null,\n\t\t\"Amount\": 11.8,\n\t\t\"IsDebit\": false,\n\t\t\"InvoiceNumber\": null,\n\t\t\"PurchaseOrderNumber\": null,\n\t\t\"OrderId\": \"odr_5a56784b091571167438ddd3\",\n\t\t\"Description\": null,\n\t\t\"Latitude\": null,\n\t\t\"Longitude\": null,\n\t\t\"SuccessReceiptOptions\": null,\n\t\t\"FailureReceiptOptions\": null,\n\t\t\"Id\": 35060197,\n\t\t\"LastModified\": \"2018-01-10T20:32:11Z\",\n\t\t\"CreatedOn\": \"2018-01-10T20:32:11Z\"\n\t}\n]\n"}},"schema":{"type":"array","items":{"type":"object","properties":{"CustomerId":{"type":"integer","example":9695143,"default":0},"CustomerFirstName":{"type":"string","example":"Test"},"CustomerLastName":{"type":"string","example":"Person"},"CustomerCompany":{"type":"string","example":"ABC Company"},"ReferenceId":{"type":"integer","example":0,"default":0},"Status":{"type":"string","example":"Posted"},"RecurringScheduleId":{"type":"integer","example":0,"default":0},"PaymentType":{"type":"string","example":"ACH"},"PaymentSubType":{"type":"string","example":"Tel"},"ProviderAuthCode":{"type":"string","example":""},"TraceNumber":{"type":"string","example":"83289310"},"PaymentDate":{"type":"string","example":"2018-01-10T07:00:00Z"},"ReturnDate":{},"EstimatedSettleDate":{"type":"string","example":"2018-01-16T07:00:00Z"},"EstimatedDepositDate":{"type":"string","example":"2018-01-17T07:00:00Z"},"ActualSettledDate":{},"CanVoidUntil":{"type":"string","example":"2018-01-10T22:00:00Z"},"FailureData":{"type":"object","properties":{"Code":{},"Description":{},"MerchantActionText":{},"IsDecline":{"type":"boolean","example":false,"default":true}}},"RequiresReceipt":{"type":"boolean","example":false,"default":true},"CVV":{},"SignatureImage":{},"SwipeData":{},"AccountId":{"type":"integer","example":8989971,"default":0},"InvoiceId":{},"Amount":{"type":"number","example":11.8,"default":0},"IsDebit":{"type":"boolean","example":false,"default":true},"InvoiceNumber":{},"PurchaseOrderNumber":{},"OrderId":{"type":"string","example":"odr_5a56784b091571167438ddd3"},"Description":{},"Latitude":{},"Longitude":{},"SuccessReceiptOptions":{},"FailureReceiptOptions":{},"Id":{"type":"integer","example":35060197,"default":0},"LastModified":{"type":"string","example":"2018-01-10T20:32:11Z"},"CreatedOn":{"type":"string","example":"2018-01-10T20:32:11Z"}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"Meta\": {\n    \"Errors\": {\n      \"ErrorCode\": \"InvalidInput\",\n      \"ErrorMessages\": [\n        {\n          \"Field\": \"\",\n          \"Message\": \"Customer with ID 0 does not exist\"\n        }\n      ]\n    },\n    \"HttpStatus\": \"BadRequest\",\n    \"HttpStatusCode\": 400,\n    \"PagingDetails\": null\n  },\n  \"Response\": null\n}"}},"schema":{"type":"object","properties":{"Meta":{"type":"object","properties":{"Errors":{"type":"object","properties":{"ErrorCode":{"type":"string","example":"InvalidInput"},"ErrorMessages":{"type":"array","items":{"type":"object","properties":{"Field":{"type":"string","example":""},"Message":{"type":"string","example":"Customer with ID 0 does not exist"}}}}}},"HttpStatus":{"type":"string","example":"BadRequest"},"HttpStatusCode":{"type":"integer","example":400,"default":0},"PagingDetails":{}}},"Response":{}}}}}}},"deprecated":false,"security":[]}},"/payment":{"get":{"summary":"List Payments","description":"Filterable and sortable list of all payment records.","operationId":"payments","parameters":[{"name":"sortby","in":"query","description":"Optional. Valid values: `returndate`,`estimatedsettledate`,`actualsettleddate`,`paymentdate`,`paymenttype`,`paymentsubtype`,`amount`","schema":{"type":"string","default":"id"}},{"name":"direction","in":"query","description":"Optional. Valid values: `asc`: Ascending, sort low-to-high / A-to-Z. nulls appear first. `desc`: Descending, sort high-to low / Z-to-A nulls appear last.","schema":{"type":"string","default":"desc"}},{"name":"page","in":"query","description":"Optional. The page number of the result set to be returned.","schema":{"type":"integer","format":"int32","default":1}},{"name":"pagesize","in":"query","description":"Optional. The number of results to be returned.","schema":{"type":"integer","format":"int32","default":200}},{"name":"startdate","in":"query","description":"Optional.  Set to filter payments created on or after the given date. Format: yyyy-mm-dd.","schema":{"type":"string"}},{"name":"enddate","in":"query","description":"Optional.  Set to filter payments created on or before the given date. Format: yyyy-mm-dd.","schema":{"type":"string"}},{"name":"status","in":"query","description":"Optional.  Valid values: `authorized`,`chargeback`,`failed`,`pending`,`posted`,`refundsettled`,`returned`,`reversed`,`reversensf`,`reverseposted`,`settled`,`voided`.  Accepts comma-separated list for multiple values. See [Payment Status Reference](ref:payment-statuses). Default: all status values.","schema":{"type":"string"}},{"name":"lite","in":"query","description":"Optional. When true, returns a smaller payload with fewer fields.","schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"GET /v4/payment\n[\n    {\n      \"CustomerId\": 9695143,\n      \"CustomerFirstName\": \"Test\",\n      \"CustomerLastName\": \"Person\",\n      \"CustomerCompany\": \"NEW XYZ Company\",\n      \"ReferenceId\": 0,\n      \"Status\": \"Authorized\",\n      \"RecurringScheduleId\": 1530768,\n      \"PaymentType\": \"CC\",\n      \"PaymentSubType\": \"Moto\",\n      \"ProviderAuthCode\": \"Approved\",\n      \"TraceNumber\": \"136305\",\n      \"PaymentDate\": \"2018-01-12T07:00:00Z\",\n      \"ReturnDate\": null,\n      \"EstimatedSettleDate\": \"2018-01-16T07:00:00Z\",\n      \"EstimatedDepositDate\": \"2018-01-16T07:00:00Z\",\n      \"ActualSettledDate\": null,\n      \"CanVoidUntil\": \"2018-01-13T03:45:00Z\",\n      \"FailureData\": {\n        \"Code\": null,\n        \"Description\": null,\n        \"MerchantActionText\": null,\n        \"IsDecline\": false\n      },\n      \"RequiresReceipt\": false,\n      \"CVV\": null,\n      \"AccountId\": 8989970,\n      \"InvoiceId\": null,\n      \"Amount\": 150.0,\n      \"IsDebit\": false,\n      \"InvoiceNumber\": \"\",\n      \"PurchaseOrderNumber\": \"\",\n      \"OrderId\": null,\n      \"Description\": \"\",\n      \"Latitude\": null,\n      \"Longitude\": null,\n      \"SuccessReceiptOptions\": null,\n      \"FailureReceiptOptions\": null,\n      \"Id\": 35066969,\n      \"LastModified\": \"2018-01-12T08:35:27Z\",\n      \"CreatedOn\": \"2018-01-12T08:35:27Z\"\n    },\n    {\n      \"CustomerId\": 9692754,\n      \"CustomerFirstName\": \"Mrs A\",\n      \"CustomerLastName\": \"AAA\",\n      \"CustomerCompany\": \"\",\n      \"ReferenceId\": 0,\n      \"Status\": \"Authorized\",\n      \"RecurringScheduleId\": 0,\n      \"PaymentType\": \"CC\",\n      \"PaymentSubType\": \"Moto\",\n      \"ProviderAuthCode\": \"Approved\",\n      \"TraceNumber\": \"268160\",\n      \"PaymentDate\": \"2018-01-12T07:00:00Z\",\n      \"ReturnDate\": null,\n      \"EstimatedSettleDate\": \"2018-01-16T07:00:00Z\",\n      \"EstimatedDepositDate\": \"2018-01-16T07:00:00Z\",\n      \"ActualSettledDate\": null,\n      \"CanVoidUntil\": \"2018-01-13T03:45:00Z\",\n      \"FailureData\": {\n        \"Code\": null,\n        \"Description\": null,\n        \"MerchantActionText\": null,\n        \"IsDecline\": false\n      },\n      \"RequiresReceipt\": false,\n      \"CVV\": null,\n      \"AccountId\": 8987331,\n      \"InvoiceId\": null,\n      \"Amount\": 15.99,\n      \"IsDebit\": false,\n      \"InvoiceNumber\": null,\n      \"PurchaseOrderNumber\": null,\n      \"OrderId\": \"odr_5a586b17892aa910686b181e\",\n      \"Description\": null,\n      \"Latitude\": null,\n      \"Longitude\": null,\n      \"SuccessReceiptOptions\": null,\n      \"FailureReceiptOptions\": null,\n      \"Id\": 35063368,\n      \"LastModified\": \"2018-01-12T08:00:24Z\",\n      \"CreatedOn\": \"2018-01-12T08:00:24Z\"\n    }\n  ]"},"Failed Payments / Lite Response":{"value":"GET /v4/payment?status=failed&lite=true\n\n[\n    {\n      \"CustomerFirstName\": \"Biga\",\n      \"CustomerLastName\": \"Pasta\",\n      \"Status\": \"Failed\",\n      \"PaymentDate\": \"2017-12-07T07:00:00Z\",\n      \"Amount\": 9999.01,\n      \"Id\": 34841610\n    },\n    {\n      \"CustomerFirstName\": \"Barbara\",\n      \"CustomerLastName\": \"Miller\",\n      \"Status\": \"Failed\",\n      \"PaymentDate\": \"2017-12-07T07:00:00Z\",\n      \"Amount\": 9999.01,\n      \"Id\": 34841609\n    },\n    {\n      \"CustomerFirstName\": \"Another\",\n      \"CustomerLastName\": \"One\",\n      \"Status\": \"Failed\",\n      \"PaymentDate\": \"2017-12-07T07:00:00Z\",\n      \"Amount\": 9999.01,\n      \"Id\": 34841608\n    },\n    {\n      \"CustomerFirstName\": \"Barbara\",\n      \"CustomerLastName\": \"Miller\",\n      \"Status\": \"Failed\",\n      \"PaymentDate\": \"2017-12-07T07:00:00Z\",\n      \"Amount\": 9999.01,\n      \"Id\": 34841607\n    },\n    {\n      \"CustomerFirstName\": \"Alfredo\",\n      \"CustomerLastName\": \"Biga\",\n      \"Status\": \"Failed\",\n      \"PaymentDate\": \"2017-12-07T07:00:00Z\",\n      \"Amount\": 9999.01,\n      \"Id\": 34841606\n    } ...\n    \n]"},"Q4 2017 Payments; Sorted by Settle Date":{"value":"GET /v4/payment?startdate=2017-10-01&enddate=2017-12-31&sortby=ActualSettledDate&pagesize=2&page=2\n[\n    {\n      \"CustomerId\": 9692754,\n      \"CustomerFirstName\": \"Mrs D\",\n      \"CustomerLastName\": \"DDD\",\n      \"CustomerCompany\": \"\",\n      \"ReferenceId\": 0,\n      \"Status\": \"Pending\",\n      \"RecurringScheduleId\": 0,\n      \"PaymentType\": \"CC\",\n      \"PaymentSubType\": \"Moto\",\n      \"ProviderAuthCode\": \"Approved\",\n      \"TraceNumber\": \"713682\",\n      \"PaymentDate\": \"2017-10-20T06:00:00Z\",\n      \"ReturnDate\": null,\n      \"EstimatedSettleDate\": \"2017-10-23T06:00:00Z\",\n      \"EstimatedDepositDate\": \"2017-10-23T06:00:00Z\",\n      \"ActualSettledDate\": null,\n      \"CanVoidUntil\": \"2017-10-21T02:45:00Z\",\n      \"FailureData\": {\n        \"Code\": null,\n        \"Description\": null,\n        \"MerchantActionText\": null,\n        \"IsDecline\": false\n      },\n      \"RequiresReceipt\": false,\n      \"CVV\": null,\n      \"AccountId\": 8987330,\n      \"InvoiceId\": null,\n      \"Amount\": 15.99,\n      \"IsDebit\": false,\n      \"InvoiceNumber\": null,\n      \"PurchaseOrderNumber\": null,\n      \"OrderId\": \"odr_59ea53fa11b73611fc7abfbd\",\n      \"Description\": null,\n      \"Latitude\": null,\n      \"Longitude\": null,\n      \"SuccessReceiptOptions\": null,\n      \"FailureReceiptOptions\": null,\n      \"Id\": 34463433,\n      \"LastModified\": \"2017-10-20T19:52:26Z\",\n      \"CreatedOn\": \"2017-10-20T19:52:26Z\"\n    },\n    {\n      \"CustomerId\": 9695043,\n      \"CustomerFirstName\": \"wrong\",\n      \"CustomerLastName\": \"way\",\n      \"CustomerCompany\": \"fggshshsbsvvshsjsj\",\n      \"ReferenceId\": 0,\n      \"Status\": \"Posted\",\n      \"RecurringScheduleId\": 0,\n      \"PaymentType\": \"ACH\",\n      \"PaymentSubType\": \"Ccd\",\n      \"ProviderAuthCode\": \"\",\n      \"TraceNumber\": \"14034149\",\n      \"PaymentDate\": \"2018-01-06T07:00:00Z\",\n      \"ReturnDate\": null,\n      \"EstimatedSettleDate\": \"2018-01-11T07:00:00Z\",\n      \"EstimatedDepositDate\": \"2018-01-12T07:00:00Z\",\n      \"ActualSettledDate\": null,\n      \"CanVoidUntil\": \"2018-01-07T22:00:00Z\",\n      \"FailureData\": {\n        \"Code\": null,\n        \"Description\": null,\n        \"MerchantActionText\": null,\n        \"IsDecline\": false\n      },\n      \"RequiresReceipt\": false,\n      \"CVV\": null,\n      \"AccountId\": 8989601,\n      \"InvoiceId\": null,\n      \"Amount\": 1.0,\n      \"IsDebit\": false,\n      \"InvoiceNumber\": null,\n      \"PurchaseOrderNumber\": null,\n      \"OrderId\": null,\n      \"Description\": null,\n      \"Latitude\": null,\n      \"Longitude\": null,\n      \"SuccessReceiptOptions\": null,\n      \"FailureReceiptOptions\": null,\n      \"Id\": 35043106,\n      \"LastModified\": \"2018-01-09T03:01:14Z\",\n      \"CreatedOn\": \"2018-01-06T23:42:06Z\"\n    }\n ]"},"Lite Response":{"value":"GET /v4/payment?lite=true\n[\n    {\n      \"CustomerFirstName\": \"Barbara\",\n      \"CustomerLastName\": \"Miller\",\n      \"Status\": \"Settled\",\n      \"PaymentDate\": \"2017-09-30T06:00:00Z\",\n      \"Amount\": 111.0,\n      \"Id\": 34290295\n    },\n    {\n      \"CustomerFirstName\": \"Monkey\",\n      \"CustomerLastName\": \"Buyer\",\n      \"Status\": \"ReversePosted\",\n      \"PaymentDate\": \"2017-09-29T06:00:00Z\",\n      \"Amount\": 86.67,\n      \"Id\": 34284667\n    }\n ]"}}}}}},"deprecated":false,"security":[]},"post":{"summary":"New Payment","description":"Collect a payment for the specified `AccountId`.","operationId":"new-payment","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"AccountId":{"type":"integer","description":"Required.  The system identifier for the credit card Account or ACH account used for the payment. This is the `Id` attribute from the credit card object or ACH account object created in the previous step.","format":"int32"},"Amount":{"type":"number","description":"Required. The amount to charge. Enter a number only, do not include the $. You can enter an integer or a decimal. If you use more than 2 decimal places, the system will round to the nearest penny-- i.e. entering 3.129 will result in a payment amount of 3.13.  Cannot exceed 2,000,000.00","format":"double"},"CVV":{"type":"string","description":"Optional.  Credit card security code. Should be 4 characters for American Express or 3 characters for any other card type.","default":"null"},"PaymentSubType":{"type":"string","description":"Optional.  This field defaults to `Moto` for credit card payments and `Web` for ACH payments if not included or left null.  CC Valid Values: `Swipe`, `Moto`.  ACH Valid Values: `Web`, `Tel`, `Ppd`, `Ccd`.","default":"MOTO or WEB"},"InvoiceId":{"type":"integer","description":"Optional.  This is a system invoice identifier. If included it will seat the associated system invoice number in the InvoiceNumber attribute, and will apply the payment to the specified Invoice Id. NOTE: Invoice creation and management is not currently available via the API.","format":"int32"},"InvoiceNumber":{"type":"string","description":"Optional.  This has a 50 characters max; the invoice number attached to the payment. If the number provided is a system invoice number, the associated InvoiceId will be attached to the payment and the payment will be applied to the system invoice. NOTE: Invoice creation and management is not currently available via the API."},"PurchaseOrderNumber":{"type":"string","description":"Optional.  50 characters max. The purchase order number attached to the payment."},"OrderId":{"type":"string","description":"Optional.  This has a 50 characters max; a back-end transaction identifier not included in the UI."},"Description":{"type":"string","description":"Optional.  This has a 2048 characters max."},"Latitude":{"type":"number","description":"Optional.  This field is not currently used in the UI, but will accept and save latitude values.","format":"double"},"Longitude":{"type":"number","description":"Optional.  This field is not currently used in the UI, but will accept and save longitude values.","format":"double"},"SuccessReceiptOptions":{"type":"object","description":"Optional.  See Receipt Options below.","properties":{}},"FailureReceiptOptions":{"type":"object","description":"Optional.  See Receipt Options below.","properties":{}},"PaymentToken":{"type":"string","description":"Optional. One time use token returned in PaySimpleJS."},"CardOnFileType":{"type":"string","description":"Required for all COF transactions.  How the payment was collected. Options: `None`, `MerchantInitiated`, `CustomerInitiated`, `Recurring`, `Installment.`"},"NetworkTransactionId":{"type":"string","description":"Conditional (required for Card on File transaction and requires CardOnFileType other than 'None').  Value provided by the card network to identify a specific card on file used in transactions of the same sale type. The response to the first successful transaction with a card on file will contain a Network Transaction Id. This id must be retained from the initial successful authorization and is required to be submitted with each subsequent sale or resubmission for a card on file."},"IsResubmission":{"type":"boolean","description":"Conditional (requires CardOnFileType).  Set to true if the request is a resubmission of a previously failed authorization."}}}}}},"responses":{"201":{"description":"201","content":{"application/json":{"examples":{"Success":{"value":"{\n    \"CustomerId\": 9695143,\n    \"CustomerFirstName\": \"Test\",\n    \"CustomerLastName\": \"Person\",\n    \"CustomerCompany\": \"NEW XYZ Company\",\n    \"ReferenceId\": 0,\n    \"Status\": \"Authorized\",\n    \"RecurringScheduleId\": 0,\n    \"PaymentType\": \"CC\",\n    \"PaymentSubType\": \"Moto\",\n    \"ProviderAuthCode\": \"Approved\",\n    \"TraceNumber\": \"659318\",\n    \"PaymentDate\": \"2018-01-12T07:00:00Z\",\n    \"ReturnDate\": null,\n    \"EstimatedSettleDate\": \"2018-01-16T07:00:00Z\",\n    \"EstimatedDepositDate\": \"2018-01-16T07:00:00Z\",\n    \"ActualSettledDate\": null,\n    \"CanVoidUntil\": \"2018-01-13T03:45:00Z\",\n    \"FailureData\": null,\n    \"RequiresReceipt\": false,\n    \"CVV\": null,\n    \"AccountId\": 8989970,\n    \"InvoiceId\": null,\n    \"Amount\": 99.45,\n    \"IsDebit\": false,\n    \"InvoiceNumber\": null,\n    \"PurchaseOrderNumber\": null,\n    \"OrderId\": null,\n    \"Description\": null,\n    \"Latitude\": null,\n    \"Longitude\": null,\n    \"SuccessReceiptOptions\": null,\n    \"NetworkTransactionId\": \"202107091214161\",\n    \"Id\": 35067386,\n    \"LastModified\": \"2018-01-12T17:33:46Z\",\n    \"CreatedOn\": \"2018-01-12T17:33:46Z\"\n  }"},"Card Decline":{"value":"{\n    \"Meta\": {\n        \"Errors\": null,\n        \"HttpStatus\": \"Created\",\n        \"HttpStatusCode\": 201,\n        \"PagingDetails\": null\n    },\n    \"Response\": {\n        \"CustomerId\": 8051100,\n        \"CustomerFirstName\": \"John\",\n        \"CustomerLastName\": \"Doe\",\n        \"CustomerCompany\": \"Great Plumbing\",\n        \"ReferenceId\": 0,\n        \"Status\": \"Failed\",\n        \"RecurringScheduleId\": 0,\n        \"PaymentType\": \"CC\",\n        \"PaymentSubType\": \"Moto\",\n        \"ProviderAuthCode\": \"    DECLINE     \",\n        \"TraceNumber\": \"05\",\n        \"PaymentDate\": \"2018-05-09T06:00:00Z\",\n        \"ReturnDate\": null,\n        \"EstimatedSettleDate\": null,\n        \"EstimatedDepositDate\": null,\n        \"ActualSettledDate\": \"2018-05-09T06:00:00Z\",\n        \"CanVoidUntil\": \"2018-05-10T02:45:00Z\",\n        \"FailureData\": {\n            \"Code\": \"4005\",\n            \"Description\": \"Do Not Honor\",\n            \"MerchantActionText\": \"Try a different payment method\",\n            \"IsDecline\": true\n        },\n        \"RequiresReceipt\": false,\n        \"CVV\": null,\n        \"AccountId\": 7320843,\n        \"InvoiceId\": null,\n        \"Amount\": 9999.01,\n        \"IsDebit\": false,\n        \"InvoiceNumber\": null,\n        \"PurchaseOrderNumber\": null,\n        \"OrderId\": null,\n        \"Description\": null,\n        \"Latitude\": null,\n        \"Longitude\": null,\n        \"SuccessReceiptOptions\": null,\n        \"FailureReceiptOptions\": null,\n        \"Id\": 29124043,\n        \"LastModified\": \"2018-05-09T21:03:45Z\",\n        \"CreatedOn\": \"2018-05-09T21:03:45Z\"\n    }\n}"}},"schema":{"oneOf":[{"title":"Success","type":"object","properties":{"CustomerId":{"type":"integer","example":9695143,"default":0},"CustomerFirstName":{"type":"string","example":"Test"},"CustomerLastName":{"type":"string","example":"Person"},"CustomerCompany":{"type":"string","example":"NEW XYZ Company"},"ReferenceId":{"type":"integer","example":0,"default":0},"Status":{"type":"string","example":"Authorized"},"RecurringScheduleId":{"type":"integer","example":0,"default":0},"PaymentType":{"type":"string","example":"CC"},"PaymentSubType":{"type":"string","example":"Moto"},"ProviderAuthCode":{"type":"string","example":"Approved"},"TraceNumber":{"type":"string","example":"659318"},"PaymentDate":{"type":"string","example":"2018-01-12T07:00:00Z"},"ReturnDate":{},"EstimatedSettleDate":{"type":"string","example":"2018-01-16T07:00:00Z"},"EstimatedDepositDate":{"type":"string","example":"2018-01-16T07:00:00Z"},"ActualSettledDate":{},"CanVoidUntil":{"type":"string","example":"2018-01-13T03:45:00Z"},"FailureData":{},"RequiresReceipt":{"type":"boolean","example":false,"default":true},"CVV":{},"AccountId":{"type":"integer","example":8989970,"default":0},"InvoiceId":{},"Amount":{"type":"number","example":99.45,"default":0},"IsDebit":{"type":"boolean","example":false,"default":true},"InvoiceNumber":{},"PurchaseOrderNumber":{},"OrderId":{},"Description":{},"Latitude":{},"Longitude":{},"SuccessReceiptOptions":{},"NetworkTransactionId":{"type":"string","example":"202107091214161"},"Id":{"type":"integer","example":35067386,"default":0},"LastModified":{"type":"string","example":"2018-01-12T17:33:46Z"},"CreatedOn":{"type":"string","example":"2018-01-12T17:33:46Z"}}},{"title":"Card Decline","type":"object","properties":{"Meta":{"type":"object","properties":{"Errors":{},"HttpStatus":{"type":"string","example":"Created"},"HttpStatusCode":{"type":"integer","example":201,"default":0},"PagingDetails":{}}},"Response":{"type":"object","properties":{"CustomerId":{"type":"integer","example":8051100,"default":0},"CustomerFirstName":{"type":"string","example":"John"},"CustomerLastName":{"type":"string","example":"Doe"},"CustomerCompany":{"type":"string","example":"Great Plumbing"},"ReferenceId":{"type":"integer","example":0,"default":0},"Status":{"type":"string","example":"Failed"},"RecurringScheduleId":{"type":"integer","example":0,"default":0},"PaymentType":{"type":"string","example":"CC"},"PaymentSubType":{"type":"string","example":"Moto"},"ProviderAuthCode":{"type":"string","example":"    DECLINE     "},"TraceNumber":{"type":"string","example":"05"},"PaymentDate":{"type":"string","example":"2018-05-09T06:00:00Z"},"ReturnDate":{},"EstimatedSettleDate":{},"EstimatedDepositDate":{},"ActualSettledDate":{"type":"string","example":"2018-05-09T06:00:00Z"},"CanVoidUntil":{"type":"string","example":"2018-05-10T02:45:00Z"},"FailureData":{"type":"object","properties":{"Code":{"type":"string","example":"4005"},"Description":{"type":"string","example":"Do Not Honor"},"MerchantActionText":{"type":"string","example":"Try a different payment method"},"IsDecline":{"type":"boolean","example":true,"default":true}}},"RequiresReceipt":{"type":"boolean","example":false,"default":true},"CVV":{},"AccountId":{"type":"integer","example":7320843,"default":0},"InvoiceId":{},"Amount":{"type":"number","example":9999.01,"default":0},"IsDebit":{"type":"boolean","example":false,"default":true},"InvoiceNumber":{},"PurchaseOrderNumber":{},"OrderId":{},"Description":{},"Latitude":{},"Longitude":{},"SuccessReceiptOptions":{},"FailureReceiptOptions":{},"Id":{"type":"integer","example":29124043,"default":0},"LastModified":{"type":"string","example":"2018-05-09T21:03:45Z"},"CreatedOn":{"type":"string","example":"2018-05-09T21:03:45Z"}}}}}]}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Invalid Customer Account Id":{"value":" {\n  \"Meta\": {\n  \"Errors\": {\n      \"ErrorCode\": \"InvalidInput\",\n      \"ErrorMessages\": [\n        {\n          \"Field\": \"\",\n          \"Message\": \"Specified Customer Account Id is not valid\"\n        }\n      ]\n    },\n    \"HttpStatus\": \"BadRequest\",\n    \"HttpStatusCode\": 400,\n    \"PagingDetails\": null\n  },\n  \"Response\": null\n}"},"Account Deleted":{"value":"{\n    \"Meta\": {\n        \"Errors\": {\n            \"ErrorCode\": \"InvalidInput\",\n            \"ErrorMessages\": [{\n                \"Field\": \"\",\n                \"Message\": \"Account with ID 394099 has been deleted\"\n            }],\n            \"TraceCode\": null\n        },\n        \"HttpStatus\": \"BadRequest\",\n        \"HttpStatusCode\": 400,\n        \"PagingDetails\": null\n    },\n    \"Response\": null\n}"}},"schema":{"oneOf":[{"title":"Invalid Customer Account Id","type":"object","properties":{"Meta":{"type":"object","properties":{"Errors":{"type":"object","properties":{"ErrorCode":{"type":"string","example":"InvalidInput"},"ErrorMessages":{"type":"array","items":{"type":"object","properties":{"Field":{"type":"string","example":""},"Message":{"type":"string","example":"Specified Customer Account Id is not valid"}}}}}},"HttpStatus":{"type":"string","example":"BadRequest"},"HttpStatusCode":{"type":"integer","example":400,"default":0},"PagingDetails":{}}},"Response":{}}},{"title":"Account Deleted","type":"object","properties":{"Meta":{"type":"object","properties":{"Errors":{"type":"object","properties":{"ErrorCode":{"type":"string","example":"InvalidInput"},"ErrorMessages":{"type":"array","items":{"type":"object","properties":{"Field":{"type":"string","example":""},"Message":{"type":"string","example":"Account with ID 394099 has been deleted"}}}},"TraceCode":{}}},"HttpStatus":{"type":"string","example":"BadRequest"},"HttpStatusCode":{"type":"integer","example":400,"default":0},"PagingDetails":{}}},"Response":{}}}]}}}}},"deprecated":false,"security":[]}},"/payment/{paymentId}/reverse":{"put":{"summary":"Refund Payment","description":"Refunds a settled payment of the specified Id.","operationId":"reverse-payment","parameters":[{"name":"PaymentId","in":"path","description":"Id of the payment to be refunded.","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"OK":{"value":" {\n    \"CustomerId\": 9688223,\n    \"CustomerFirstName\": \"Biga\",\n    \"CustomerLastName\": \"Pasta\",\n    \"CustomerCompany\": null,\n    \"ReferenceId\": 35066985,\n    \"Status\": \"ReversePosted\",\n    \"RecurringScheduleId\": 0,\n    \"PaymentType\": \"CC\",\n    \"PaymentSubType\": \"Moto\",\n    \"ProviderAuthCode\": \"Approved\",\n    \"TraceNumber\": \"267408\",\n    \"PaymentDate\": \"2018-01-12T07:00:00Z\",\n    \"ReturnDate\": null,\n    \"EstimatedSettleDate\": \"2018-01-16T07:00:00Z\",\n    \"EstimatedDepositDate\": \"2018-01-16T07:00:00Z\",\n    \"ActualSettledDate\": null,\n    \"CanVoidUntil\": \"2018-01-13T03:45:00Z\",\n    \"FailureData\": null,\n    \"RequiresReceipt\": false,\n    \"CVV\": null,\n    \"AccountId\": 8986554,\n    \"InvoiceId\": null,\n    \"Amount\": 1.11,\n    \"IsDebit\": true,\n    \"InvoiceNumber\": \"\",\n    \"PurchaseOrderNumber\": \"\",\n    \"OrderId\": null,\n    \"Description\": \"\",\n    \"Latitude\": null,\n    \"Longitude\": null,\n    \"SuccessReceiptOptions\": null,\n    \"FailureReceiptOptions\": null,\n    \"Id\": 35067387,\n    \"LastModified\": \"2018-01-12T21:07:16Z\",\n    \"CreatedOn\": \"2018-01-12T21:07:16Z\"\n  }"}},"schema":{"type":"object","properties":{"CustomerId":{"type":"integer","example":9688223,"default":0},"CustomerFirstName":{"type":"string","example":"Biga"},"CustomerLastName":{"type":"string","example":"Pasta"},"CustomerCompany":{},"ReferenceId":{"type":"integer","example":35066985,"default":0},"Status":{"type":"string","example":"ReversePosted"},"RecurringScheduleId":{"type":"integer","example":0,"default":0},"PaymentType":{"type":"string","example":"CC"},"PaymentSubType":{"type":"string","example":"Moto"},"ProviderAuthCode":{"type":"string","example":"Approved"},"TraceNumber":{"type":"string","example":"267408"},"PaymentDate":{"type":"string","example":"2018-01-12T07:00:00Z"},"ReturnDate":{},"EstimatedSettleDate":{"type":"string","example":"2018-01-16T07:00:00Z"},"EstimatedDepositDate":{"type":"string","example":"2018-01-16T07:00:00Z"},"ActualSettledDate":{},"CanVoidUntil":{"type":"string","example":"2018-01-13T03:45:00Z"},"FailureData":{},"RequiresReceipt":{"type":"boolean","example":false,"default":true},"CVV":{},"AccountId":{"type":"integer","example":8986554,"default":0},"InvoiceId":{},"Amount":{"type":"number","example":1.11,"default":0},"IsDebit":{"type":"boolean","example":true,"default":true},"InvoiceNumber":{"type":"string","example":""},"PurchaseOrderNumber":{"type":"string","example":""},"OrderId":{},"Description":{"type":"string","example":""},"Latitude":{},"Longitude":{},"SuccessReceiptOptions":{},"FailureReceiptOptions":{},"Id":{"type":"integer","example":35067387,"default":0},"LastModified":{"type":"string","example":"2018-01-12T21:07:16Z"},"CreatedOn":{"type":"string","example":"2018-01-12T21:07:16Z"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":" {\n  \"Meta\": {\n  \"Errors\": {\n      \"ErrorCode\": \"InvalidInput\",\n      \"ErrorMessages\": [\n        {\n          \"Field\": \"\",\n          \"Message\": \"Payment with id 3506695 not found\"\n        }\n      ]\n    },\n    \"HttpStatus\": \"BadRequest\",\n    \"HttpStatusCode\": 400,\n    \"PagingDetails\": null\n  },\n  \"Response\": null\n}"}},"schema":{"type":"object","properties":{"Meta":{"type":"object","properties":{"Errors":{"type":"object","properties":{"ErrorCode":{"type":"string","example":"InvalidInput"},"ErrorMessages":{"type":"array","items":{"type":"object","properties":{"Field":{"type":"string","example":""},"Message":{"type":"string","example":"Payment with id 3506695 not found"}}}}}},"HttpStatus":{"type":"string","example":"BadRequest"},"HttpStatusCode":{"type":"integer","example":400,"default":0},"PagingDetails":{}}},"Response":{}}}}}}},"deprecated":false,"security":[]}},"/account/ach/{accountId}":{"get":{"summary":"Get ACH Account","description":"Returns the ACH Account object for the specified account id.","operationId":"ach-record","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Success":{"value":"{\n    \"IsCheckingAccount\": true,\n    \"RoutingNumber\": \"021000021\",\n    \"AccountNumber\": \"**3456\",\n    \"BankName\": \"Test Bank\",\n    \"CustomerId\": 9695143,\n    \"IsDefault\": true,\n    \"RequiresValidation\": false,\n    \"Id\": 8989971,\n    \"LastModified\": \"2018-01-11T20:47:39Z\",\n    \"CreatedOn\": \"2018-01-10T20:29:23Z\"\n  }"}},"schema":{"type":"object","properties":{"IsCheckingAccount":{"type":"boolean","example":true,"default":true},"RoutingNumber":{"type":"string","example":"021000021"},"AccountNumber":{"type":"string","example":"**3456"},"BankName":{"type":"string","example":"Test Bank"},"CustomerId":{"type":"integer","example":9695143,"default":0},"IsDefault":{"type":"boolean","example":true,"default":true},"RequiresValidation":{"type":"boolean","example":false,"default":true},"Id":{"type":"integer","example":8989971,"default":0},"LastModified":{"type":"string","example":"2018-01-11T20:47:39Z"},"CreatedOn":{"type":"string","example":"2018-01-10T20:29:23Z"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"Meta\": {\n      \"ErrorCode\": \"InvalidInput\",\n      \"ErrorMessages\": [\n        {\n          \"Field\": \"\",\n          \"Message\": \"Specified Customer Account Id is not valid\"\n        }\n      ]\n    },\n    \"HttpStatus\": \"BadRequest\",\n    \"HttpStatusCode\": 400,\n    \"PagingDetails\": null\n  },\n  \"Response\": null\n}"}}}}}},"deprecated":false,"security":[]},"delete":{"summary":"Delete ACH","description":"Deletes the ACH (bank) Account object for the specified account.","operationId":"delete-ach","parameters":[{"name":"AccountId","in":"path","description":"Id of the ACH account to be deleted","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"204":{"description":"204","content":{"application/json":{"examples":{"Success":{"value":"{\n    \"Meta\": {\n        \"Errors\": null,\n        \"HttpStatus\": \"NoContent\",\n        \"HttpStatusCode\": 204,\n        \"PagingDetails\": null\n    },\n    \"Response\": null\n}"}},"schema":{"type":"object","properties":{"Meta":{"type":"object","properties":{"Errors":{},"HttpStatus":{"type":"string","example":"NoContent"},"HttpStatusCode":{"type":"integer","example":204,"default":0},"PagingDetails":{}}},"Response":{}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"Meta\": {\n        \"Errors\": {\n            \"ErrorCode\": \"InvalidInput\",\n            \"ErrorMessages\": [\n                {\n                    \"Field\": \"\",\n                    \"Message\": \"Account 345 does not exist\"\n                }\n            ]\n        },\n        \"HttpStatus\": \"BadRequest\",\n        \"HttpStatusCode\": 400,\n        \"PagingDetails\": null\n    },\n    \"Response\": null\n}"}},"schema":{"type":"object","properties":{"Meta":{"type":"object","properties":{"Errors":{"type":"object","properties":{"ErrorCode":{"type":"string","example":"InvalidInput"},"ErrorMessages":{"type":"array","items":{"type":"object","properties":{"Field":{"type":"string","example":""},"Message":{"type":"string","example":"Account 345 does not exist"}}}}}},"HttpStatus":{"type":"string","example":"BadRequest"},"HttpStatusCode":{"type":"integer","example":400,"default":0},"PagingDetails":{}}},"Response":{}}}}}}},"deprecated":false,"security":[]}},"/customer/{CustomerId}":{"get":{"summary":"Get Customer","description":"Returns a Customer object for the specified Id.","operationId":"customer-2","parameters":[{"name":"CustomerId","in":"path","description":"Id of customer to retrieve","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Success":{"value":"{\n    \"MiddleName\": null,\n    \"AltEmail\": null,\n    \"AltPhone\": null,\n    \"MobilePhone\": null,\n    \"Fax\": null,\n    \"Website\": null,\n    \"BillingAddress\": {\n      \"StreetAddress1\": \"123 Some St\",\n      \"StreetAddress2\": null,\n      \"City\": \"Denver\",\n      \"StateCode\": \"CO\",\n      \"ZipCode\": \"80202\",\n      \"Country\": \"US\"\n    },\n    \"ShippingSameAsBilling\": true,\n    \"ShippingAddress\": {\n      \"StreetAddress1\": \"123 Some St\",\n      \"StreetAddress2\": null,\n      \"City\": \"Denver\",\n      \"StateCode\": \"CO\",\n      \"ZipCode\": \"80202\",\n      \"Country\": \"US\"\n    },\n    \"Company\": \"ABC Company\",\n    \"Notes\": \"This is a note about ABC Company.\",\n    \"CustomerAccount\": \"TP-117\",\n    \"FirstName\": \"Test\",\n    \"LastName\": \"Person\",\n    \"Email\": \"testperson@abcco.com\",\n    \"Phone\": \"8005551212\",\n    \"Id\": 9695143,\n    \"LastModified\": \"2018-01-08T22:52:15Z\",\n    \"CreatedOn\": \"2018-01-08T22:52:15Z\"\n}"}},"schema":{"type":"object","properties":{"MiddleName":{},"AltEmail":{},"AltPhone":{},"MobilePhone":{},"Fax":{},"Website":{},"BillingAddress":{"type":"object","properties":{"StreetAddress1":{"type":"string","example":"123 Some St"},"StreetAddress2":{},"City":{"type":"string","example":"Denver"},"StateCode":{"type":"string","example":"CO"},"ZipCode":{"type":"string","example":"80202"},"Country":{"type":"string","example":"US"}}},"ShippingSameAsBilling":{"type":"boolean","example":true,"default":true},"ShippingAddress":{"type":"object","properties":{"StreetAddress1":{"type":"string","example":"123 Some St"},"StreetAddress2":{},"City":{"type":"string","example":"Denver"},"StateCode":{"type":"string","example":"CO"},"ZipCode":{"type":"string","example":"80202"},"Country":{"type":"string","example":"US"}}},"Company":{"type":"string","example":"ABC Company"},"Notes":{"type":"string","example":"This is a note about ABC Company."},"CustomerAccount":{"type":"string","example":"TP-117"},"FirstName":{"type":"string","example":"Test"},"LastName":{"type":"string","example":"Person"},"Email":{"type":"string","example":"testperson@abcco.com"},"Phone":{"type":"string","example":"8005551212"},"Id":{"type":"integer","example":9695143,"default":0},"LastModified":{"type":"string","example":"2018-01-08T22:52:15Z"},"CreatedOn":{"type":"string","example":"2018-01-08T22:52:15Z"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"Meta\": {\n    \"Errors\": {\n      \"ErrorCode\": \"InvalidInput\",\n      \"ErrorMessages\": [\n        {\n          \"Field\": \"\",\n          \"Message\": \"Customer with ID 0 does not exist\"\n        }\n      ]\n    },\n    \"HttpStatus\": \"BadRequest\",\n    \"HttpStatusCode\": 400,\n    \"PagingDetails\": null\n  },\n  \"Response\": null\n}"}},"schema":{"type":"object","properties":{"Meta":{"type":"object","properties":{"Errors":{"type":"object","properties":{"ErrorCode":{"type":"string","example":"InvalidInput"},"ErrorMessages":{"type":"array","items":{"type":"object","properties":{"Field":{"type":"string","example":""},"Message":{"type":"string","example":"Customer with ID 0 does not exist"}}}}}},"HttpStatus":{"type":"string","example":"BadRequest"},"HttpStatusCode":{"type":"integer","example":400,"default":0},"PagingDetails":{}}},"Response":{}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Customer Not Found":{"value":"{\n    \"Meta\": {\n        \"Errors\": {\n            \"ErrorCode\": \"NotFound\",\n            \"ErrorMessages\": [{\n                \"Field\": null,\n                \"Message\": \"Customer 260860 was not found, or has been deleted\"\n            }],\n            \"TraceCode\": null\n        },\n        \"HttpStatus\": \"NotFound\",\n        \"HttpStatusCode\": 404,\n        \"PagingDetails\": null\n    },\n    \"Response\": null\n}"}},"schema":{"type":"object","properties":{"Meta":{"type":"object","properties":{"Errors":{"type":"object","properties":{"ErrorCode":{"type":"string","example":"NotFound"},"ErrorMessages":{"type":"array","items":{"type":"object","properties":{"Field":{},"Message":{"type":"string","example":"Customer 260860 was not found, or has been deleted"}}}},"TraceCode":{}}},"HttpStatus":{"type":"string","example":"NotFound"},"HttpStatusCode":{"type":"integer","example":404,"default":0},"PagingDetails":{}}},"Response":{}}}}}}},"deprecated":false,"security":[]}},"/customer/{customer_id}/accounts":{"get":{"summary":"List Accounts for Customer","description":"Returns a list of all payment accounts (both credit card and ACH bank accounts) associated with the specified customer.","operationId":"customercustomeridaccounts","parameters":[{"name":"CustomerId","in":"path","description":"Id of specific customer to retrieve list of payment accounts","schema":{"type":"integer","format":"int32","default":null},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Success":{"value":"\t{\n    \"CreditCardAccounts\": [\n      {\n        \"CreditCardNumber\": \"************1111\",\n        \"ExpirationDate\": \"12/2020\",\n        \"Issuer\": \"Visa\",\n        \"BillingZipCode\": \"80202\",\n        \"CustomerId\": 9695143,\n        \"IsDefault\": true,\n        \"RequiresValidation\": false,\n        \"Id\": 8989970,\n        \"LastModified\": \"2018-01-10T20:29:03Z\",\n        \"CreatedOn\": \"2018-01-10T20:29:03Z\"\n      }\n    ],\n    \"AchAccounts\": [\n      {\n        \"IsCheckingAccount\": true,\n        \"RoutingNumber\": \"021000021\",\n        \"AccountNumber\": \"**3456\",\n        \"BankName\": \"Test Bank\",\n        \"CustomerId\": 9695143,\n        \"IsDefault\": true,\n        \"RequiresValidation\": false,\n        \"Id\": 8989971,\n        \"LastModified\": \"2018-01-10T20:29:23Z\",\n        \"CreatedOn\": \"2018-01-10T20:29:23Z\"\n      }\n    ]\n  }"}},"schema":{"type":"object","properties":{"CreditCardAccounts":{"type":"array","items":{"type":"object","properties":{"CreditCardNumber":{"type":"string","example":"************1111"},"ExpirationDate":{"type":"string","example":"12/2020"},"Issuer":{"type":"string","example":"Visa"},"BillingZipCode":{"type":"string","example":"80202"},"CustomerId":{"type":"integer","example":9695143,"default":0},"IsDefault":{"type":"boolean","example":true,"default":true},"RequiresValidation":{"type":"boolean","example":false,"default":true},"Id":{"type":"integer","example":8989970,"default":0},"LastModified":{"type":"string","example":"2018-01-10T20:29:03Z"},"CreatedOn":{"type":"string","example":"2018-01-10T20:29:03Z"}}}},"AchAccounts":{"type":"array","items":{"type":"object","properties":{"IsCheckingAccount":{"type":"boolean","example":true,"default":true},"RoutingNumber":{"type":"string","example":"021000021"},"AccountNumber":{"type":"string","example":"**3456"},"BankName":{"type":"string","example":"Test Bank"},"CustomerId":{"type":"integer","example":9695143,"default":0},"IsDefault":{"type":"boolean","example":true,"default":true},"RequiresValidation":{"type":"boolean","example":false,"default":true},"Id":{"type":"integer","example":8989971,"default":0},"LastModified":{"type":"string","example":"2018-01-10T20:29:23Z"},"CreatedOn":{"type":"string","example":"2018-01-10T20:29:23Z"}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"Meta\": {\n    \"Errors\": {\n      \"ErrorCode\": \"InvalidInput\",\n      \"ErrorMessages\": [\n        {\n          \"Field\": \"\",\n          \"Message\": \"Customer with ID 0 does not exist\"\n        }\n      ]\n    },\n    \"HttpStatus\": \"BadRequest\",\n    \"HttpStatusCode\": 400,\n    \"PagingDetails\": null\n  },\n  \"Response\": null\n}"}},"schema":{"type":"object","properties":{"Meta":{"type":"object","properties":{"Errors":{"type":"object","properties":{"ErrorCode":{"type":"string","example":"InvalidInput"},"ErrorMessages":{"type":"array","items":{"type":"object","properties":{"Field":{"type":"string","example":""},"Message":{"type":"string","example":"Customer with ID 0 does not exist"}}}}}},"HttpStatus":{"type":"string","example":"BadRequest"},"HttpStatusCode":{"type":"integer","example":400,"default":0},"PagingDetails":{}}},"Response":{}}}}}}},"deprecated":false,"security":[]}},"/payment/{paymentId}":{"get":{"summary":"Get Payment","description":"Returns a payment object for the specified Id.","operationId":"payment","parameters":[{"name":"PaymentId","in":"path","description":"Id of payment to retrieve.","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"OK Sample Response":{"value":" {\n    \"CustomerId\": 9695143,\n    \"CustomerFirstName\": \"Test\",\n    \"CustomerLastName\": \"Person\",\n    \"CustomerCompany\": \"NEW XYZ Company\",\n    \"ReferenceId\": 0,\n    \"Status\": \"Authorized\",\n    \"RecurringScheduleId\": 0,\n    \"PaymentType\": \"CC\",\n    \"PaymentSubType\": \"Moto\",\n    \"ProviderAuthCode\": \"Approved\",\n    \"TraceNumber\": \"659318\",\n    \"PaymentDate\": \"2018-01-12T07:00:00Z\",\n    \"ReturnDate\": null,\n    \"EstimatedSettleDate\": \"2018-01-16T07:00:00Z\",\n    \"EstimatedDepositDate\": \"2018-01-16T07:00:00Z\",\n    \"ActualSettledDate\": null,\n    \"CanVoidUntil\": \"2018-01-13T03:45:00Z\",\n    \"FailureData\": null,\n    \"RequiresReceipt\": false,\n    \"CVV\": null,\n    \"AccountId\": 8989970,\n    \"InvoiceId\": null,\n    \"Amount\": 99.45,\n    \"IsDebit\": false,\n    \"InvoiceNumber\": null,\n    \"PurchaseOrderNumber\": null,\n    \"OrderId\": null,\n    \"Description\": null,\n    \"Latitude\": null,\n    \"Longitude\": null,\n    \"SuccessReceiptOptions\": null,\n    \"FailureReceiptOptions\": null,\n    \"Id\": 35067386,\n    \"LastModified\": \"2018-01-12T17:33:46Z\",\n    \"CreatedOn\": \"2018-01-12T17:33:46Z\"\n  }"}},"schema":{"type":"object","properties":{"CustomerId":{"type":"integer","example":9695143,"default":0},"CustomerFirstName":{"type":"string","example":"Test"},"CustomerLastName":{"type":"string","example":"Person"},"CustomerCompany":{"type":"string","example":"NEW XYZ Company"},"ReferenceId":{"type":"integer","example":0,"default":0},"Status":{"type":"string","example":"Authorized"},"RecurringScheduleId":{"type":"integer","example":0,"default":0},"PaymentType":{"type":"string","example":"CC"},"PaymentSubType":{"type":"string","example":"Moto"},"ProviderAuthCode":{"type":"string","example":"Approved"},"TraceNumber":{"type":"string","example":"659318"},"PaymentDate":{"type":"string","example":"2018-01-12T07:00:00Z"},"ReturnDate":{},"EstimatedSettleDate":{"type":"string","example":"2018-01-16T07:00:00Z"},"EstimatedDepositDate":{"type":"string","example":"2018-01-16T07:00:00Z"},"ActualSettledDate":{},"CanVoidUntil":{"type":"string","example":"2018-01-13T03:45:00Z"},"FailureData":{},"RequiresReceipt":{"type":"boolean","example":false,"default":true},"CVV":{},"AccountId":{"type":"integer","example":8989970,"default":0},"InvoiceId":{},"Amount":{"type":"number","example":99.45,"default":0},"IsDebit":{"type":"boolean","example":false,"default":true},"InvoiceNumber":{},"PurchaseOrderNumber":{},"OrderId":{},"Description":{},"Latitude":{},"Longitude":{},"SuccessReceiptOptions":{},"FailureReceiptOptions":{},"Id":{"type":"integer","example":35067386,"default":0},"LastModified":{"type":"string","example":"2018-01-12T17:33:46Z"},"CreatedOn":{"type":"string","example":"2018-01-12T17:33:46Z"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"Meta\": {\n  \"Errors\": {\n      \"ErrorCode\": \"InvalidInput\",\n      \"ErrorMessages\": [\n        {\n          \"Field\": \"\",\n          \"Message\": \"PaymentId 350673 not found (parentId = 57126).\"\n        }\n      ]\n    },\n    \"HttpStatus\": \"BadRequest\",\n    \"HttpStatusCode\": 400,\n    \"PagingDetails\": null\n  },\n  \"Response\": null\n}"}},"schema":{"type":"object","properties":{"Meta":{"type":"object","properties":{"Errors":{"type":"object","properties":{"ErrorCode":{"type":"string","example":"InvalidInput"},"ErrorMessages":{"type":"array","items":{"type":"object","properties":{"Field":{"type":"string","example":""},"Message":{"type":"string","example":"PaymentId 350673 not found (parentId = 57126)."}}}}}},"HttpStatus":{"type":"string","example":"BadRequest"},"HttpStatusCode":{"type":"integer","example":400,"default":0},"PagingDetails":{}}},"Response":{}}}}}}},"deprecated":false,"security":[]}},"/payment/{paymentId}/void":{"put":{"summary":"Void Payment","description":"Voids the payment of the specified id.","operationId":"void-payment","parameters":[{"name":"PaymentId","in":"path","description":"Id of the payment to be voided.","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"OK Sample Response":{"value":"{\n    \"CustomerId\": 9688223,\n    \"CustomerFirstName\": \"Biga\",\n    \"CustomerLastName\": \"Pasta\",\n    \"CustomerCompany\": null,\n    \"ReferenceId\": 0,\n    \"Status\": \"Voided\",\n    \"RecurringScheduleId\": 0,\n    \"PaymentType\": \"CC\",\n    \"PaymentSubType\": \"Moto\",\n    \"ProviderAuthCode\": \"Approved\",\n    \"TraceNumber\": \"267408\",\n    \"PaymentDate\": \"2018-01-12T07:00:00Z\",\n    \"ReturnDate\": null,\n    \"EstimatedSettleDate\": \"2018-01-16T07:00:00Z\",\n    \"EstimatedDepositDate\": \"2018-01-16T07:00:00Z\",\n    \"ActualSettledDate\": null,\n    \"CanVoidUntil\": \"2018-01-13T03:45:00Z\",\n    \"FailureData\": null,\n    \"RequiresReceipt\": false,\n    \"CVV\": null,\n    \"AccountId\": 8986554,\n    \"InvoiceId\": null,\n    \"Amount\": 1.11,\n    \"IsDebit\": true,\n    \"InvoiceNumber\": \"\",\n    \"PurchaseOrderNumber\": \"\",\n    \"OrderId\": null,\n    \"Description\": \"\",\n    \"Latitude\": null,\n    \"Longitude\": null,\n    \"SuccessReceiptOptions\": null,\n    \"FailureReceiptOptions\": null,\n    \"Id\": 35067387,\n    \"LastModified\": \"2018-01-12T21:13:01Z\",\n    \"CreatedOn\": \"2018-01-12T21:07:16Z\"\n  }"}},"schema":{"type":"object","properties":{"CustomerId":{"type":"integer","example":9688223,"default":0},"CustomerFirstName":{"type":"string","example":"Biga"},"CustomerLastName":{"type":"string","example":"Pasta"},"CustomerCompany":{},"ReferenceId":{"type":"integer","example":0,"default":0},"Status":{"type":"string","example":"Voided"},"RecurringScheduleId":{"type":"integer","example":0,"default":0},"PaymentType":{"type":"string","example":"CC"},"PaymentSubType":{"type":"string","example":"Moto"},"ProviderAuthCode":{"type":"string","example":"Approved"},"TraceNumber":{"type":"string","example":"267408"},"PaymentDate":{"type":"string","example":"2018-01-12T07:00:00Z"},"ReturnDate":{},"EstimatedSettleDate":{"type":"string","example":"2018-01-16T07:00:00Z"},"EstimatedDepositDate":{"type":"string","example":"2018-01-16T07:00:00Z"},"ActualSettledDate":{},"CanVoidUntil":{"type":"string","example":"2018-01-13T03:45:00Z"},"FailureData":{},"RequiresReceipt":{"type":"boolean","example":false,"default":true},"CVV":{},"AccountId":{"type":"integer","example":8986554,"default":0},"InvoiceId":{},"Amount":{"type":"number","example":1.11,"default":0},"IsDebit":{"type":"boolean","example":true,"default":true},"InvoiceNumber":{"type":"string","example":""},"PurchaseOrderNumber":{"type":"string","example":""},"OrderId":{},"Description":{"type":"string","example":""},"Latitude":{},"Longitude":{},"SuccessReceiptOptions":{},"FailureReceiptOptions":{},"Id":{"type":"integer","example":35067387,"default":0},"LastModified":{"type":"string","example":"2018-01-12T21:13:01Z"},"CreatedOn":{"type":"string","example":"2018-01-12T21:07:16Z"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"Meta\": {\n        \"Errors\": {\n            \"ErrorCode\": \"InvalidInput\",\n            \"ErrorMessages\": [\n                {\n                    \"Field\": \"\",\n                    \"Message\": \"Void failed: Cannot void a failed payment.\"\n                }\n            ]\n        },\n        \"HttpStatus\": \"BadRequest\",\n        \"HttpStatusCode\": 400,\n        \"PagingDetails\": null\n    },\n    \"Response\": null\n}"}},"schema":{"type":"object","properties":{"Meta":{"type":"object","properties":{"Errors":{"type":"object","properties":{"ErrorCode":{"type":"string","example":"InvalidInput"},"ErrorMessages":{"type":"array","items":{"type":"object","properties":{"Field":{"type":"string","example":""},"Message":{"type":"string","example":"Void failed: Cannot void a failed payment."}}}}}},"HttpStatus":{"type":"string","example":"BadRequest"},"HttpStatusCode":{"type":"integer","example":400,"default":0},"PagingDetails":{}}},"Response":{}}}}}}},"deprecated":false,"security":[]}},"/customer/{customerId}/defaultach":{"get":{"summary":"Default ACH","description":"Returns the default ACH account (bank account) associated with the specified customer.","operationId":"customercustomeriddefaultach","parameters":[{"name":"CustomerId","in":"path","description":"Id of the Customer whose default ACH account you want to retrieve","schema":{"type":"integer","format":"int32","default":null},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Success":{"value":"{\n    \"IsCheckingAccount\": true,\n    \"RoutingNumber\": \"021000021\",\n    \"AccountNumber\": \"**3456\",\n    \"BankName\": \"Test Bank\",\n    \"CustomerId\": 9695143,\n    \"IsDefault\": true,\n    \"RequiresValidation\": false,\n    \"Id\": 8989971,\n    \"LastModified\": \"2018-01-10T20:29:23Z\",\n    \"CreatedOn\": \"2018-01-10T20:29:23Z\"\n  }"}},"schema":{"type":"object","properties":{"IsCheckingAccount":{"type":"boolean","example":true,"default":true},"RoutingNumber":{"type":"string","example":"021000021"},"AccountNumber":{"type":"string","example":"**3456"},"BankName":{"type":"string","example":"Test Bank"},"CustomerId":{"type":"integer","example":9695143,"default":0},"IsDefault":{"type":"boolean","example":true,"default":true},"RequiresValidation":{"type":"boolean","example":false,"default":true},"Id":{"type":"integer","example":8989971,"default":0},"LastModified":{"type":"string","example":"2018-01-10T20:29:23Z"},"CreatedOn":{"type":"string","example":"2018-01-10T20:29:23Z"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"Meta\": {\n    \"Errors\": {\n      \"ErrorCode\": \"NotFound\",\n      \"ErrorMessages\": []\n    },\n    \"HttpStatus\": \"NotFound\",\n    \"HttpStatusCode\": 404,\n    \"PagingDetails\": null\n  },\n  \"Response\": null\n}"}},"schema":{"type":"object","properties":{"Meta":{"type":"object","properties":{"Errors":{"type":"object","properties":{"ErrorCode":{"type":"string","example":"NotFound"},"ErrorMessages":{"type":"array"}}},"HttpStatus":{"type":"string","example":"NotFound"},"HttpStatusCode":{"type":"integer","example":404,"default":0},"PagingDetails":{}}},"Response":{}}}}}}},"deprecated":false,"security":[]}},"/customer/{customerId}":{"delete":{"summary":"Delete Customer","description":"Deletes the Customer object for the specified id.","operationId":"customercustomerid","parameters":[{"name":"customerId","in":"path","description":"Id of the Customer to delete.","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"204":{"description":"204","content":{"application/json":{"examples":{"Success":{"value":"{\n    \"Meta\": {\n        \"Errors\": null,\n        \"HttpStatus\": \"NoContent\",\n        \"HttpStatusCode\": 204,\n        \"PagingDetails\": null\n    },\n    \"Response\": null\n}"}},"schema":{"type":"object","properties":{"Meta":{"type":"object","properties":{"Errors":{},"HttpStatus":{"type":"string","example":"NoContent"},"HttpStatusCode":{"type":"integer","example":204,"default":0},"PagingDetails":{}}},"Response":{}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"Meta\": {\n    \"Errors\": {\n      \"ErrorCode\": \"InvalidInput\",\n      \"ErrorMessages\": [\n        {\n          \"Field\": \"\",\n          \"Message\": \"Before you can delete this customer, you must cancel all open recurring payments, payment plans, billing schedules, appointments, future payments and invoices associated with this record. \"\n        }\n      ]\n    },\n    \"HttpStatus\": \"BadRequest\",\n    \"HttpStatusCode\": 400,\n    \"PagingDetails\": null\n  },\n  \"Response\": null\n}"}},"schema":{"type":"object","properties":{"Meta":{"type":"object","properties":{"Errors":{"type":"object","properties":{"ErrorCode":{"type":"string","example":"InvalidInput"},"ErrorMessages":{"type":"array","items":{"type":"object","properties":{"Field":{"type":"string","example":""},"Message":{"type":"string","example":"Before you can delete this customer, you must cancel all open recurring payments, payment plans, billing schedules, appointments, future payments and invoices associated with this record. "}}}}}},"HttpStatus":{"type":"string","example":"BadRequest"},"HttpStatusCode":{"type":"integer","example":400,"default":0},"PagingDetails":{}}},"Response":{}}}}}}},"deprecated":false,"security":[]}},"/account/ach":{"post":{"summary":"New ACH","description":"Creates a new ACH Account object for the specified customer.","operationId":"new-ach","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"CustomerId":{"type":"integer","description":"Required. Customer Id that the new ACH will be created for.   The Id for the Customer Record to which the ACH is being added. This is the `Id` property from a previously created Customer.","format":"int32"},"RoutingNumber":{"type":"string","description":"Required. Account routing number of ACH account to be created. 9 digit bank routing number."},"AccountNumber":{"type":"string","description":"Required. Account number of ACH account to be created. Min 2 digits, max 50 digits."},"BankName":{"type":"string","description":"Required. Name of bank of ACH account to be created. 100 characters max."},"IsCheckingAccount":{"type":"boolean","description":"If type of bank account is Checking set to `true`, if Savings set to `false`."},"IsDefault":{"type":"boolean","description":"Required. Determines if new ACH account will be the default account; enter `true` to set the account as the default ACH Account for the Customer Record, otherwise enter `false`. If there are no other ACH Accounts attached to the Customer, the field will default to `true` regardless of your entry."},"RequiresValidation":{"type":"boolean","default":false}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Success":{"value":"{\n    \"IsCheckingAccount\": true,\n    \"RoutingNumber\": \"021000021\",\n    \"AccountNumber\": \"**7890\",\n    \"BankName\": \"New Test Bank\",\n    \"CustomerId\": 9695143,\n    \"IsDefault\": true,\n    \"RequiresValidation\": false,\n    \"Id\": 8990066,\n    \"LastModified\": \"2018-01-11T23:45:20.3854726Z\",\n    \"CreatedOn\": \"2018-01-11T23:45:20.3854726Z\"\n  }"}},"schema":{"type":"object","properties":{"IsCheckingAccount":{"type":"boolean","example":true,"default":true},"RoutingNumber":{"type":"string","example":"021000021"},"AccountNumber":{"type":"string","example":"**7890"},"BankName":{"type":"string","example":"New Test Bank"},"CustomerId":{"type":"integer","example":9695143,"default":0},"IsDefault":{"type":"boolean","example":true,"default":true},"RequiresValidation":{"type":"boolean","example":false,"default":true},"Id":{"type":"integer","example":8990066,"default":0},"LastModified":{"type":"string","example":"2018-01-11T23:45:20.3854726Z"},"CreatedOn":{"type":"string","example":"2018-01-11T23:45:20.3854726Z"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"Meta\": {\n    \"Errors\": {\n      \"ErrorCode\": \"InvalidInput\",\n      \"ErrorMessages\": [\n        {\n          \"Field\": \"RoutingNumber\",\n          \"Message\": \"Routing Number must be 9 digits\"\n        }\n      ]\n    },\n    \"HttpStatus\": \"BadRequest\",\n    \"HttpStatusCode\": 400,\n    \"PagingDetails\": null\n  },\n  \"Response\": null\n}"}},"schema":{"type":"object","properties":{"Meta":{"type":"object","properties":{"Errors":{"type":"object","properties":{"ErrorCode":{"type":"string","example":"InvalidInput"},"ErrorMessages":{"type":"array","items":{"type":"object","properties":{"Field":{"type":"string","example":"RoutingNumber"},"Message":{"type":"string","example":"Routing Number must be 9 digits"}}}}}},"HttpStatus":{"type":"string","example":"BadRequest"},"HttpStatusCode":{"type":"integer","example":400,"default":0},"PagingDetails":{}}},"Response":{}}}}}}},"deprecated":false,"security":[]},"put":{"summary":"Update ACH","description":"Updates the `IsCheckingAccount`on the ACH Account object for the account specified in the request body.","operationId":"update-ach","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"Id":{"type":"integer","description":"Required. The Id of the ACH account to be modified.","format":"int32"},"IsCheckingAccount":{"type":"boolean","description":"Required. Verifies if checking true, if savings false, of ACH account to be created."},"RoutingNumber":{"type":"string","description":"Required. The Routing Number of the Account. Cannot be modified."},"AccountNumber":{"type":"string","description":"Required. Account number of ACH account; min 4 digits, max 100 digits. Cannot be modified."},"Bank Name":{"type":"string","description":"Required. Name of bank of ACH account. Cannot be modified."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Success":{"value":"{\n    \"IsCheckingAccount\": false,\n    \"RoutingNumber\": \"021000021\",\n    \"AccountNumber\": \"**7890\",\n    \"BankName\": \"New Test Bank\",\n    \"CustomerId\": 9695143,\n    \"IsDefault\": true,\n    \"RequiresValidation\": false,\n    \"Id\": 8990066,\n    \"LastModified\": \"2018-01-12T03:22:04.9781372Z\",\n    \"CreatedOn\": \"2018-01-11T23:45:20Z\"\n}"}},"schema":{"type":"object","properties":{"IsCheckingAccount":{"type":"boolean","example":false,"default":true},"RoutingNumber":{"type":"string","example":"021000021"},"AccountNumber":{"type":"string","example":"**7890"},"BankName":{"type":"string","example":"New Test Bank"},"CustomerId":{"type":"integer","example":9695143,"default":0},"IsDefault":{"type":"boolean","example":true,"default":true},"RequiresValidation":{"type":"boolean","example":false,"default":true},"Id":{"type":"integer","example":8990066,"default":0},"LastModified":{"type":"string","example":"2018-01-12T03:22:04.9781372Z"},"CreatedOn":{"type":"string","example":"2018-01-11T23:45:20Z"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"Meta\": {\n    \"Errors\": {\n      \"ErrorCode\": \"InvalidInput\",\n      \"ErrorMessages\": [\n        {\n          \"Field\": \"\",\n          \"Message\": \"Specified Customer Account Id is not valid\"\n        }\n      ]\n    },\n    \"HttpStatus\": \"BadRequest\",\n    \"HttpStatusCode\": 400,\n    \"PagingDetails\": null\n  },\n  \"Response\": null\n}"}},"schema":{"type":"object","properties":{"Meta":{"type":"object","properties":{"Errors":{"type":"object","properties":{"ErrorCode":{"type":"string","example":"InvalidInput"},"ErrorMessages":{"type":"array","items":{"type":"object","properties":{"Field":{"type":"string","example":""},"Message":{"type":"string","example":"Specified Customer Account Id is not valid"}}}}}},"HttpStatus":{"type":"string","example":"BadRequest"},"HttpStatusCode":{"type":"integer","example":400,"default":0},"PagingDetails":{}}},"Response":{}}}}}}},"deprecated":false,"security":[]}},"/account/creditcard/{accountId}":{"delete":{"summary":"Delete Credit Card","description":"Deletes the credit card object for the specified account.","operationId":"delete-credit-card","parameters":[{"name":"AccountId","in":"path","description":"Id of the credit card to be deleted","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"204":{"description":"204","content":{"application/json":{"examples":{"Success":{"value":"{\n    \"Meta\": {\n        \"Errors\": null,\n        \"HttpStatus\": \"NoContent\",\n        \"HttpStatusCode\": 204,\n        \"PagingDetails\": null\n    },\n    \"Response\": null\n}"}},"schema":{"type":"object","properties":{"Meta":{"type":"object","properties":{"Errors":{},"HttpStatus":{"type":"string","example":"NoContent"},"HttpStatusCode":{"type":"integer","example":204,"default":0},"PagingDetails":{}}},"Response":{}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Bad Request":{"value":"{\n  \"Meta\": {\n    \"Errors\": {\n      \"ErrorCode\": \"InvalidInput\",\n      \"ErrorMessages\": [\n        {\n          \"Field\": \"\",\n          \"Message\": \"Specified Customer Account Id is not valid\"\n        }\n      ]\n    },\n    \"HttpStatus\": \"BadRequest\",\n    \"HttpStatusCode\": 400,\n    \"PagingDetails\": null\n  },\n  \"Response\": null\n}"}},"schema":{"type":"object","properties":{"Meta":{"type":"object","properties":{"Errors":{"type":"object","properties":{"ErrorCode":{"type":"string","example":"InvalidInput"},"ErrorMessages":{"type":"array","items":{"type":"object","properties":{"Field":{"type":"string","example":""},"Message":{"type":"string","example":"Specified Customer Account Id is not valid"}}}}}},"HttpStatus":{"type":"string","example":"BadRequest"},"HttpStatusCode":{"type":"integer","example":400,"default":0},"PagingDetails":{}}},"Response":{}}}}}}},"deprecated":false,"security":[]},"get":{"summary":"Get Credit Card","description":"Returns the Credit Card object for the specified account id.","operationId":"credit-card","parameters":[{"name":"AccountId","in":"path","description":"Id of the specified credit card account to be retrieved.","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Success":{"value":"{\n    \"CreditCardNumber\": \"************1111\",\n    \"ExpirationDate\": \"12/2020\",\n    \"Issuer\": \"Visa\",\n    \"BillingZipCode\": \"80202\",\n    \"CustomerId\": 9695143,\n    \"IsDefault\": true,\n    \"RequiresValidation\": false,\n    \"Id\": 8989970,\n    \"LastModified\": \"2018-01-11T20:57:10Z\",\n    \"CreatedOn\": \"2018-01-10T20:29:03Z\"\n}\n"}},"schema":{"type":"object","properties":{"CreditCardNumber":{"type":"string","example":"************1111"},"ExpirationDate":{"type":"string","example":"12/2020"},"Issuer":{"type":"string","example":"Visa"},"BillingZipCode":{"type":"string","example":"80202"},"CustomerId":{"type":"integer","example":9695143,"default":0},"IsDefault":{"type":"boolean","example":true,"default":true},"RequiresValidation":{"type":"boolean","example":false,"default":true},"Id":{"type":"integer","example":8989970,"default":0},"LastModified":{"type":"string","example":"2018-01-11T20:57:10Z"},"CreatedOn":{"type":"string","example":"2018-01-10T20:29:03Z"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"Meta\": {\n    \"Errors\": {\n      \"ErrorCode\": \"InvalidInput\",\n      \"ErrorMessages\": [\n        {\n          \"Field\": \"\",\n          \"Message\": \"Specified Customer Account Id is not valid\"\n        }\n      ]\n    },\n    \"HttpStatus\": \"BadRequest\",\n    \"HttpStatusCode\": 400,\n    \"PagingDetails\": null\n  },\n  \"Response\": null\n}"}},"schema":{"type":"object","properties":{"Meta":{"type":"object","properties":{"Errors":{"type":"object","properties":{"ErrorCode":{"type":"string","example":"InvalidInput"},"ErrorMessages":{"type":"array","items":{"type":"object","properties":{"Field":{"type":"string","example":""},"Message":{"type":"string","example":"Specified Customer Account Id is not valid"}}}}}},"HttpStatus":{"type":"string","example":"BadRequest"},"HttpStatusCode":{"type":"integer","example":400,"default":0},"PagingDetails":{}}},"Response":{}}}}}}},"deprecated":false,"security":[]}},"/customer/{customerId}/defaultcreditcard":{"get":{"summary":"Default Credit Card","description":"Returns the default credit card account associated with the specified customer.","operationId":"customercustomeriddefaultcreditcard","parameters":[{"name":"CustomerId","in":"path","description":"Id of the Customer whose default credit card account you want to retrieve","schema":{"type":"integer","format":"int32","default":null},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Success":{"value":" {\n    \"CreditCardNumber\": \"************1111\",\n    \"ExpirationDate\": \"12/2020\",\n    \"Issuer\": \"Visa\",\n    \"BillingZipCode\": \"80202\",\n    \"CustomerId\": 9695143,\n    \"IsDefault\": true,\n    \"RequiresValidation\": false,\n    \"Id\": 8989970,\n    \"LastModified\": \"2018-01-10T20:29:03Z\",\n    \"CreatedOn\": \"2018-01-10T20:29:03Z\"\n  }\n"}},"schema":{"type":"object","properties":{"CreditCardNumber":{"type":"string","example":"************1111"},"ExpirationDate":{"type":"string","example":"12/2020"},"Issuer":{"type":"string","example":"Visa"},"BillingZipCode":{"type":"string","example":"80202"},"CustomerId":{"type":"integer","example":9695143,"default":0},"IsDefault":{"type":"boolean","example":true,"default":true},"RequiresValidation":{"type":"boolean","example":false,"default":true},"Id":{"type":"integer","example":8989970,"default":0},"LastModified":{"type":"string","example":"2018-01-10T20:29:03Z"},"CreatedOn":{"type":"string","example":"2018-01-10T20:29:03Z"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"Meta\": {\n  \"Errors\": {\n      \"ErrorCode\": \"NotFound\",\n      \"ErrorMessages\": []\n    },\n    \"HttpStatus\": \"NotFound\",\n    \"HttpStatusCode\": 404,\n    \"PagingDetails\": null\n  },\n  \"Response\": null\n}"}},"schema":{"type":"object","properties":{"Meta":{"type":"object","properties":{"Errors":{"type":"object","properties":{"ErrorCode":{"type":"string","example":"NotFound"},"ErrorMessages":{"type":"array"}}},"HttpStatus":{"type":"string","example":"NotFound"},"HttpStatusCode":{"type":"integer","example":404,"default":0},"PagingDetails":{}}},"Response":{}}}}}}},"deprecated":false,"security":[]}},"/customer/{customerId}/{accountId}":{"put":{"summary":"Set Default ACH/CC","description":"Sets the default ACH or Credit Card for the specified CustomerId and AccountId","operationId":"customercustomeridaccountid","parameters":[{"name":"CustomerId","in":"path","description":"Id of customer to set the specified account as the default payment method.","schema":{"type":"integer","format":"int32","default":null},"required":true},{"name":
[...]
