{"openapi":"3.0.0","info":{"title":"DevPortal (Main API): Payments authorisations APIs","description":"Luminor agnostic API definitions","contact":{"email":"openbanking@luminorgroup.com"},"version":"1.0.1"},"servers":[{"url":"https://api.developer.luminoropenbanking.com/sandbox/"}],"tags":[{"name":"Bulk payment authorisation","description":"Set of endpoints used for payment authorisations"}],"paths":{"/v1/bulk-payments/sepa-credit-transfers/{paymentId}/authorisations":{"get":{"tags":["Bulk payment authorisation"],"summary":"Get bulk payment authorisations","description":"Returns a list of bulk payment authorisation sub-resources","operationId":"listOfBulkPaymentAuthorisations","parameters":[{"name":"X-Request-ID","in":"header","description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"},{"name":"Authorization","in":"header","description":"Access token issued by the authorization server","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"8f5SZKlfrPg9pTqaeGIYwxAmsco"},{"name":"PSU-IP-Address","in":"header","description":"User's IP Address","schema":{"type":"string","format":"ipv4","exampleSetFlag":false},"example":"255.255.255.255"},{"name":"paymentId","in":"path","description":"Payment ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}}],"responses":{"200":{"description":"OK","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_200","exampleSetFlag":false},"exampleSetFlag":false}}},"400":{"description":"Bad Request","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"401":{"description":"Unauthorized","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"403":{"description":"Forbidden","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"404":{"description":"Not Found","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"409":{"description":"Conflict","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"500":{"description":"Internal Server Error","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}}},"security":[{"headers":["content-type: application/json","authorization: Bearer REPLACE_IT_BY_ACCESS_TOKEN(customer2,ttp1)"]}]},"post":{"tags":["Bulk payment authorisation"],"summary":"Initiate bulk payment authorisation","description":"Starts bulk payment authorisation process","operationId":"startAuthorisation","parameters":[{"name":"X-Request-ID","in":"header","description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"},{"name":"Authorization","in":"header","description":"Access token issued by the authorization server","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"8f5SZKlfrPg9pTqaeGIYwxAmsco"},{"name":"PSU-IP-Address","in":"header","description":"User's IP Address","schema":{"type":"string","format":"ipv4","exampleSetFlag":false},"example":"255.255.255.255"},{"name":"tpp-redirect-preferred","in":"header","description":"Use TPP redirect appraoch","required":false,"schema":{"type":"boolean","exampleSetFlag":false},"example":false},{"name":"tpp-redirect-uri","in":"header","description":"Redirect URI after successful signing","required":false,"schema":{"type":"string","exampleSetFlag":false},"example":"https://developer.luminoropenbanking.com/"},{"name":"tpp-nok-redirect-uri","in":"header","description":"Redirect URI after failed signing","required":false,"schema":{"type":"string","exampleSetFlag":false},"example":"https://developer.luminoropenbanking.com/"},{"name":"paymentId","in":"path","description":"Payment ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}}],"responses":{"201":{"description":"Created","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_201","exampleSetFlag":false},"exampleSetFlag":false}}},"400":{"description":"Bad Request","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"401":{"description":"Unauthorized","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"403":{"description":"Forbidden","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"404":{"description":"Not Found","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"409":{"description":"Conflict","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"500":{"description":"Internal Server Error","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}}},"security":[{"headers":["content-type: application/json","authorization: Bearer REPLACE_IT_BY_ACCESS_TOKEN(customer2,ttp1)"]}]}},"/v1/bulk-payments/sepa-credit-transfers/{paymentId}/authorisations/{authorisationId}":{"get":{"tags":["Bulk payment authorisation"],"summary":"Get bulk payment authorisation details","description":"Returns details of specified bulk payment authorisation sub-resource","operationId":"getAuthorisationDetails","parameters":[{"name":"X-Request-ID","in":"header","description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"},{"name":"Authorization","in":"header","description":"Access token issued by the authorization server","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"8f5SZKlfrPg9pTqaeGIYwxAmsco"},{"name":"PSU-IP-Address","in":"header","description":"User's IP Address","schema":{"type":"string","format":"ipv4","exampleSetFlag":false},"example":"255.255.255.255"},{"name":"paymentId","in":"path","description":"Payment ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}},{"name":"authorisationId","in":"path","description":"Auhorisation ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}}],"responses":{"200":{"description":"OK","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_200_1","exampleSetFlag":false},"exampleSetFlag":false}}},"400":{"description":"Bad Request","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"401":{"description":"Unauthorized","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"403":{"description":"Forbidden","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"404":{"description":"Not Found","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"409":{"description":"Conflict","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"500":{"description":"Internal Server Error","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}}},"security":[{"headers":["content-type: application/json","authorization: Bearer REPLACE_IT_BY_ACCESS_TOKEN(customer2,ttp1)"]}]},"put":{"tags":["Bulk payment authorisation"],"summary":"Update bulk payment authorisation details","description":"Updates specified bulk payment authorisation sub-resource with selected authorisation method","operationId":"setAuthorisationDetails","parameters":[{"name":"X-Request-ID","in":"header","description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"},{"name":"Authorization","in":"header","description":"Access token issued by the authorization server","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"8f5SZKlfrPg9pTqaeGIYwxAmsco"},{"name":"PSU-IP-Address","in":"header","description":"User's IP Address","schema":{"type":"string","format":"ipv4","exampleSetFlag":false},"example":"255.255.255.255"},{"name":"Content-type","in":"header","description":"Type of content (application/json)","required":true,"schema":{"type":"string","exampleSetFlag":false,"enum":["application/json"]}},{"name":"paymentId","in":"path","description":"Payment ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}},{"name":"authorisationId","in":"path","description":"Auhorisation ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/authorisations_authorisationId_body","exampleSetFlag":false},"exampleSetFlag":false}},"required":true},"responses":{"200":{"description":"OK","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_200_2","exampleSetFlag":false},"exampleSetFlag":false}}},"400":{"description":"Bad Request","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"401":{"description":"Unauthorized","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"403":{"description":"Forbidden","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"404":{"description":"Not Found","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"409":{"description":"Conflict","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"500":{"description":"Internal Server Error","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}}},"security":[{"headers":["content-type: application/json","authorization: Bearer REPLACE_IT_BY_ACCESS_TOKEN(customer2,ttp1)"]}]},"delete":{"tags":["Bulk payment authorisation"],"summary":"Cancel bulk payment authorisation","description":"Cancels specified bulk payment authorisation sub-resource","operationId":"cancelAuthorisation","parameters":[{"name":"X-Request-ID","in":"header","description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"},{"name":"PSU-IP-Address","in":"header","description":"User's IP Address","schema":{"type":"string","format":"ipv4","exampleSetFlag":false},"example":"255.255.255.255"},{"name":"Authorization","in":"header","description":"Access token issued by the authorization server","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"8f5SZKlfrPg9pTqaeGIYwxAmsco"},{"name":"paymentId","in":"path","description":"Payment ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}},{"name":"authorisationId","in":"path","description":"Auhorisation ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}}],"responses":{"200":{"description":"OK","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_200_3","exampleSetFlag":false},"exampleSetFlag":false}}},"400":{"description":"Bad Request","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"401":{"description":"Unauthorized","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"403":{"description":"Forbidden","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"404":{"description":"Not Found","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"409":{"description":"Conflict","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"500":{"description":"Internal Server Error","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}}},"security":[{"headers":["content-type: application/json","authorization: Bearer REPLACE_IT_BY_ACCESS_TOKEN(customer2,ttp1)"]}]}},"/v1/bulk-payments/sepa-credit-transfers/{paymentId}/authorisations/{authorisationId}/status":{"get":{"tags":["Bulk payment authorisation"],"summary":"Get bulk payment authorisation status","description":"Returns status of specified bulk payment authorisation sub-resource","operationId":"getAuthorisationStatus","parameters":[{"name":"X-Request-ID","in":"header","description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"},{"name":"PSU-IP-Address","in":"header","description":"User's IP Address","schema":{"type":"string","format":"ipv4","exampleSetFlag":false},"example":"255.255.255.255"},{"name":"Authorization","in":"header","description":"Access token issued by the authorization server","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"8f5SZKlfrPg9pTqaeGIYwxAmsco"},{"name":"paymentId","in":"path","description":"Payment ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}},{"name":"authorisationId","in":"path","description":"Auhorisation ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}}],"responses":{"200":{"description":"OK","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_200_4","exampleSetFlag":false},"exampleSetFlag":false}}},"400":{"description":"Bad Request","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"401":{"description":"Unauthorized","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"403":{"description":"Forbidden","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"404":{"description":"Not Found","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"409":{"description":"Conflict","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"500":{"description":"Internal Server Error","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}}},"security":[{"headers":["content-type: application/json","authorization: Bearer REPLACE_IT_BY_ACCESS_TOKEN(customer2,ttp1)"]}]}}},"components":{"schemas":{"challengeEnv":{"type":"object","properties":{"scaStatus":{"type":"string","description":"Authorisation status","example":"started","exampleSetFlag":true,"enum":["received","sca_method_selected","started","submitted","finalised","canceled","failed"]},"verificationCode":{"type":"string","description":"Verification code","example":"0539","exampleSetFlag":true},"challengeData":{"type":"string","description":"Challenge data","example":"7f0WmY3wEK59r5S4ckHDZ","exampleSetFlag":true}},"exampleSetFlag":false},"authorisationsEnv":{"type":"object","properties":{"_embedded":{"$ref":"#/components/schemas/authorisationsEnv__embedded","exampleSetFlag":false},"authorisationLevel":{"type":"number","description":"Authorisation level","example":50,"exampleSetFlag":true}},"exampleSetFlag":false},"authenticationMethodEnv":{"type":"object","properties":{"authenticationMethodId":{"type":"string","description":"Authentication method","example":"MOBILE_ID","exampleSetFlag":true,"enum":["SMART_ID","MOBILE_ID","CODE_CALCULATOR","IDCARD"]}},"exampleSetFlag":false},"authorisation":{"type":"object","properties":{"authorisationId":{"type":"string","description":"Authorisation ID","format":"uuid","exampleSetFlag":false},"scaStatus":{"type":"string","description":"Authorisation status","example":"started","exampleSetFlag":true,"enum":["received","sca_method_selected","started","submitted","finalised","canceled","failed"]},"name":{"type":"string","description":"Name of the person who has signed the payment","example":"Name","exampleSetFlag":true},"surname":{"type":"string","description":"Surname of the person who has signed the payment","example":"Surname","exampleSetFlag":true},"signatureSchemaType":{"type":"string","description":"Signature type","example":"ALONE","exampleSetFlag":true,"enum":["NOSIGN","ALONE","JOINT_2","JOINT_3"]},"authenticationMethodId":{"type":"string","description":"Authentication method","example":"MOBILE_ID","exampleSetFlag":true,"enum":["SMART_ID","MOBILE_ID","CODE_CALCULATOR","IDCARD"]},"created":{"type":"string","description":"Date and time the payment was signed","format":"date-time","example":"2020-03-31T07:00:07.897Z","exampleSetFlag":true},"_links":{"$ref":"#/components/schemas/authorisationsEnv__embedded__links","exampleSetFlag":false}},"exampleSetFlag":false},"scaStatusEnv":{"type":"object","properties":{"scaStatus":{"type":"string","description":"Authorisation status","example":"started","exampleSetFlag":true,"enum":["received","sca_method_selected","started","submitted","finalised","canceled","failed"]}},"exampleSetFlag":false},"smartIdVerificationCode":{"type":"string","description":"Verification code","example":"0539","exampleSetFlag":true},"challengeData":{"type":"string","description":"Challenge data","example":"7f0WmY3wEK59r5S4ckHDZ","exampleSetFlag":true},"methodsEnv":{"type":"object","properties":{"authorisationId":{"type":"string","description":"Authorisation ID","format":"uuid","exampleSetFlag":false},"scaStatus":{"type":"string","description":"Authorisation status","example":"started","exampleSetFlag":true,"enum":["received","sca_method_selected","started","submitted","finalised","canceled","failed"]},"scaMethods":{"type":"array","description":"Authentication methods","exampleSetFlag":false,"items":{"$ref":"#/components/schemas/methodsEnv_scaMethods","exampleSetFlag":false}},"_links":{"$ref":"#/components/schemas/methodsEnv__links","exampleSetFlag":false}},"exampleSetFlag":false},"cancelledAuthEnv":{"type":"object","properties":{"authorisationId":{"type":"string","description":"Authorisation ID","format":"uuid","exampleSetFlag":false},"cancelled":{"type":"boolean","description":"Flag indicating whether authorisation was successfully cancelled","example":true,"exampleSetFlag":true},"paymentId":{"type":"string","description":"Payment ID","format":"uuid","example":"24156c6c-e1c9-11e8-9372-cdb9b420ccd4","exampleSetFlag":true}},"exampleSetFlag":false},"scaMethod":{"type":"object","properties":{"scaApproach":{"type":"string","description":"Authentication approach","exampleSetFlag":false,"enum":["DECOUPLED"]},"authenticationMethodId":{"type":"string","description":"Authentication method","example":"MOBILE_ID","exampleSetFlag":true,"enum":["SMART_ID","MOBILE_ID","CODE_CALCULATOR","IDCARD"]},"explanation":{"type":"string","description":"Authentication method description","example":"Authentication using Mobile-ID","exampleSetFlag":true}},"example":[{"scaApproach":"DECOUPLED","authenticationMethodId":"SMART_ID"}],"exampleSetFlag":true},"errorResponse":{"type":"object","properties":{"errors":{"type":"array","description":"error details","exampleSetFlag":false,"items":{"$ref":"#/components/schemas/errorResponse_errors","exampleSetFlag":false}}},"exampleSetFlag":false},"error":{"required":["category","code"],"properties":{"category":{"type":"string","description":"Error category. Only \"ERROR\" or \"WARNING\" permitted","example":"ERROR","exampleSetFlag":true,"enum":["ERROR","WARNING"]},"code":{"type":"string","description":"Error message code","example":"FORMAT_ERROR","exampleSetFlag":true},"text":{"type":"string","description":"Additional explaining text","example":"Review query parameters","exampleSetFlag":true}},"exampleSetFlag":false},"scaStatus":{"type":"string","description":"Authorisation status","example":"started","exampleSetFlag":true,"enum":["received","sca_method_selected","started","submitted","finalised","canceled","failed"]},"authenticationMethodId":{"type":"string","description":"Authentication method","example":"MOBILE_ID","exampleSetFlag":true,"enum":["SMART_ID","MOBILE_ID","CODE_CALCULATOR","IDCARD"]},"authorisationId":{"type":"string","description":"Authorisation ID","format":"uuid","exampleSetFlag":false},"name":{"type":"string","description":"Name of the person who has signed the payment","example":"Name","exampleSetFlag":true},"surname":{"type":"string","description":"Surname of the person who has signed the payment","example":"Surname","exampleSetFlag":true},"signatureSchemaType":{"type":"string","description":"Signature type","example":"ALONE","exampleSetFlag":true,"enum":["NOSIGN","ALONE","JOINT_2","JOINT_3"]},"scaExplanation":{"type":"string","description":"Authentication method description","example":"Authentication using Mobile-ID","exampleSetFlag":true},"inline_response_200":{"type":"object","properties":{"_embedded":{"$ref":"#/components/schemas/authorisationsEnv__embedded","exampleSetFlag":false},"authorisationLevel":{"type":"number","description":"Authorisation level","example":50,"exampleSetFlag":true}},"exampleSetFlag":false},"inline_response_400":{"type":"object","properties":{"errors":{"type":"array","description":"error details","exampleSetFlag":false,"items":{"$ref":"#/components/schemas/errorResponse_errors","exampleSetFlag":false}}},"exampleSetFlag":false},"inline_response_201":{"type":"object","properties":{"authorisationId":{"type":"string","description":"Authorisation ID","format":"uuid","exampleSetFlag":false},"scaStatus":{"type":"string","description":"Authorisation status","example":"started","exampleSetFlag":true,"enum":["received","sca_method_selected","started","submitted","finalised","canceled","failed"]},"scaMethods":{"type":"array","description":"Authentication methods","exampleSetFlag":false,"items":{"$ref":"#/components/schemas/methodsEnv_scaMethods","exampleSetFlag":false}},"_links":{"$ref":"#/components/schemas/methodsEnv__links","exampleSetFlag":false}},"exampleSetFlag":false},"inline_response_200_1":{"type":"object","properties":{"authorisationId":{"type":"string","description":"Authorisation ID","format":"uuid","exampleSetFlag":false},"scaStatus":{"type":"string","description":"Authorisation status","example":"started","exampleSetFlag":true,"enum":["received","sca_method_selected","started","submitted","finalised","canceled","failed"]},"name":{"type":"string","description":"Name of the person who has signed the payment","example":"Name","exampleSetFlag":true},"surname":{"type":"string","description":"Surname of the person who has signed the payment","example":"Surname","exampleSetFlag":true},"signatureSchemaType":{"type":"string","description":"Signature type","example":"ALONE","exampleSetFlag":true,"enum":["NOSIGN","ALONE","JOINT_2","JOINT_3"]},"authenticationMethodId":{"type":"string","description":"Authentication method","example":"MOBILE_ID","exampleSetFlag":true,"enum":["SMART_ID","MOBILE_ID","CODE_CALCULATOR","IDCARD"]},"created":{"type":"string","description":"Date and time the payment was signed","format":"date-time","example":"2020-03-31T07:00:07.897Z","exampleSetFlag":true},"_links":{"$ref":"#/components/schemas/authorisationsEnv__embedded__links","exampleSetFlag":false}},"exampleSetFlag":false},"authorisations_authorisationId_body":{"type":"object","properties":{"authenticationMethodId":{"type":"string","description":"Authentication method","example":"MOBILE_ID","exampleSetFlag":true,"enum":["SMART_ID","MOBILE_ID","CODE_CALCULATOR","IDCARD"]}},"exampleSetFlag":false},"inline_response_200_2":{"type":"object","properties":{"scaStatus":{"type":"string","description":"Authorisation status","example":"started","exampleSetFlag":true,"enum":["received","sca_method_selected","started","submitted","finalised","canceled","failed"]},"verificationCode":{"type":"string","description":"Verification code","example":"0539","exampleSetFlag":true},"challengeData":{"type":"string","description":"Challenge data","example":"7f0WmY3wEK59r5S4ckHDZ","exampleSetFlag":true}},"exampleSetFlag":false},"inline_response_200_3":{"type":"object","properties":{"authorisationId":{"type":"string","description":"Authorisation ID","format":"uuid","exampleSetFlag":false},"cancelled":{"type":"boolean","description":"Flag indicating whether authorisation was successfully cancelled","example":true,"exampleSetFlag":true},"paymentId":{"type":"string","description":"Payment ID","format":"uuid","example":"24156c6c-e1c9-11e8-9372-cdb9b420ccd4","exampleSetFlag":true}},"exampleSetFlag":false},"inline_response_200_4":{"type":"object","properties":{"scaStatus":{"type":"string","description":"Authorisation status","example":"started","exampleSetFlag":true,"enum":["received","sca_method_selected","started","submitted","finalised","canceled","failed"]}},"exampleSetFlag":false},"authorisationsEnv__embedded__links_self":{"type":"object","properties":{"href":{"type":"string","description":"Link to authorisation details","example":"/v1/bulk-payments/sepa-credit-transfers/PAY000001/authorisations/AUTH000001","exampleSetFlag":true}},"description":"Authorisation details","exampleSetFlag":true},"authorisationsEnv__embedded__links_scaStatus":{"type":"object","properties":{"href":{"type":"string","description":"Link to authorisation status","example":"/v1/bulk-payments/sepa-credit-transfers/PAY000001/authorisations/AUTH000001/status","exampleSetFlag":true}},"description":"Authorisation status","exampleSetFlag":true},"authorisationsEnv__embedded__links":{"type":"object","properties":{"self":{"$ref":"#/components/schemas/authorisationsEnv__embedded__links_self","exampleSetFlag":false},"scaStatus":{"$ref":"#/components/schemas/authorisationsEnv__embedded__links_scaStatus","exampleSetFlag":false}},"description":"Links","exampleSetFlag":true},"authorisationsEnv__embedded_authorisations":{"type":"object","properties":{"authorisationId":{"type":"string","description":"Authorisation ID","format":"uuid","exampleSetFlag":false},"scaStatus":{"type":"string","description":"Authorisation status","example":"started","exampleSetFlag":true,"enum":["received","sca_method_selected","started","submitted","finalised","canceled","failed"]},"name":{"type":"string","description":"Name of the person who has signed the payment","example":"Name","exampleSetFlag":true},"surname":{"type":"string","description":"Surname of the person who has signed the payment","example":"Surname","exampleSetFlag":true},"signatureSchemaType":{"type":"string","description":"Signature type","example":"ALONE","exampleSetFlag":true,"enum":["NOSIGN","ALONE","JOINT_2","JOINT_3"]},"authenticationMethodId":{"type":"string","description":"Authentication method","example":"MOBILE_ID","exampleSetFlag":true,"enum":["SMART_ID","MOBILE_ID","CODE_CALCULATOR","IDCARD"]},"created":{"type":"string","description":"Date and time the payment was signed","format":"date-time","example":"2020-03-31T07:00:07.897Z","exampleSetFlag":true},"_links":{"$ref":"#/components/schemas/authorisationsEnv__embedded__links","exampleSetFlag":false}},"exampleSetFlag":true},"authorisationsEnv__embedded":{"type":"object","properties":{"authorisations":{"type":"array","description":"Authorisations","exampleSetFlag":false,"items":{"$ref":"#/components/schemas/authorisationsEnv__embedded_authorisations","exampleSetFlag":false}}},"description":"Embedded authorisations information","exampleSetFlag":true},"methodsEnv_scaMethods":{"type":"object","properties":{"scaApproach":{"type":"string","description":"Authentication approach","exampleSetFlag":false,"enum":["DECOUPLED"]},"authenticationMethodId":{"type":"string","description":"Authentication method","example":"MOBILE_ID","exampleSetFlag":true,"enum":["SMART_ID","MOBILE_ID","CODE_CALCULATOR","IDCARD"]},"explanation":{"type":"string","description":"Authentication method description","example":"Authentication using Mobile-ID","exampleSetFlag":true}},"example":"[{\"scaApproach\":\"DECOUPLED\",\"authenticationMethodId\":\"SMART_ID\"}]","exampleSetFlag":true},"methodsEnv__links_selectAuthenticationMethodId":{"type":"object","properties":{"href":{"type":"string","description":"Link to authorisation execution","example":"/v1/bulk-payments/sepa-credit-tranfers/PAY000001/authorisations/AUTH000001","exampleSetFlag":true}},"description":"Authorisation","exampleSetFlag":true},"methodsEnv__links_scaStatus":{"type":"object","properties":{"href":{"type":"string","description":"Link to authorisation status","example":"/v1/bulk-payments/sepa-credit-tranfers/PAY000001/authorisations/AUTH000001/status","exampleSetFlag":true}},"description":"Authorisation status","exampleSetFlag":true},"methodsEnv__links":{"type":"object","properties":{"selectAuthenticationMethodId":{"$ref":"#/components/schemas/methodsEnv__links_selectAuthenticationMethodId","exampleSetFlag":false},"scaStatus":{"$ref":"#/components/schemas/methodsEnv__links_scaStatus","exampleSetFlag":false}},"description":"Links","exampleSetFlag":true},"errorResponse_errors":{"required":["category","code"],"properties":{"category":{"type":"string","description":"Error category. Only \"ERROR\" or \"WARNING\" permitted","example":"ERROR","exampleSetFlag":true,"enum":["ERROR","WARNING"]},"code":{"type":"string","description":"Error message code","example":"FORMAT_ERROR","exampleSetFlag":true},"text":{"type":"string","description":"Additional explaining text","example":"Review query parameters","exampleSetFlag":true}},"exampleSetFlag":true}},"parameters":{"authorisationId":{"name":"authorisationId","in":"path","description":"Auhorisation ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}}},"headers":{"xRequestId":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}}}}