{"openapi":"3.0.1","info":{"title":"(DO NOT DELETE) Ethereum Rewards API v2","version":"v1","description":"Ethereum Rewards API"},"x-readme":{"explorer-enabled":false,"proxy-enabled":false,"headers":[{"key":"Authorization","value":"your-api-key-here"}]},"servers":[{"url":"https://eth-rewards.datahub.figment.io"}],"paths":{"/v2/rewards":{"post":{"summary":"ETH Rewards","tags":["Ethereum"],"parameters":[],"responses":{"200":{"description":"A rewards result set with metadata.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"validator":{"type":"string","example":"0x8922c147ed81b7aabdc2ec9b3102dabe5ecf372da0cb3dff57caccdb7e80a618f69d096964da840f3c7ff49dde8cee2e","description":"The validator which distributed the rewards."},"period":{"type":"string","example":"218660","description":"The epoch number (only present when no aggregation is requested)."},"timestamp":{"type":"string","example":"2023-07-31T07:50:35Z","description":"The timestamp of the end of the period."},"accounts":{"type":"array","description":"(withdrawal addresses only) The validator address that received the rewards.","items":{"type":"string","example":"0x8922c147ed81b7aabdc2ec9b3102dabe5ecf372da0cb3dff57caccdb7e80a618f69d096964da840f3c7ff49dde8cee2e"}},"chain_id":{"type":"string","description":"Id of the chain that rewards belong to (one of mainnet or holesky)","example":"mainnet"},"withdrawal_credentials":{"type":"string","example":"0x010000000000000000000000f588c58f467db3711b558f5294de4900b535ce69","description":"(withdrawal addresses only) The withdrawal credentials of the validator entity."},"rewards":{"type":"array","items":{"type":"object","description":"The formula to compute the final rewards in the currency unit is numeric x 10^(-exp). It also includes a type field which can be either member or leader.","properties":{"text":{"type":"string","example":"0.019667465198321856","description":"The textual version of the other fields in the rewards object."},"currency":{"type":"string","example":"ETH"},"numeric":{"type":"integer","example":19667465198321856},"exp":{"type":"integer","example":18},"type":{"type":"string","enum":["staking","tips"],"example":"tips"},"recipient":{"type":"string","example":"0xf588c58f467db3711b558f5294de4900b535ce69","description":"The address of the rewards recipient."},"sender":{"type":"string","example":"0x95222290dd7278aa3ddd389cc1e1d165cc4bafe5","description":"(tips only) The \"from\" address of the tips transaction.","nullable":true},"tx_hash":{"type":"string","example":"0x0d336481b3d8e12f0be194b38d5970e3b8dbd75b4323a52c4eeee0c0f7a80574","description":"(tips only) The transaction identifier for the tips payout.","nullable":true},"slot":{"type":"integer","example":6769678,"description":"(tips only) The consensus layer slot at which the block proposal occurred.","nullable":true},"block":{"type":"integer","example":17811591,"description":"(tips only) The execution layer block in which the transaction was included.","nullable":true},"is_mev":{"type":"boolean","example":true,"description":"(tips only) Indicates if the block was built with MEV.","nullable":true},"mev_service":{"type":"string","example":"Flashbots","description":"(tips only) Specifies which service built the MEV block.","nullable":true}},"example":[{"type":"tips","text":"0.019667465198321856","currency":"ETH","numeric":19667465198321856,"exp":18,"recipient":"0xf588c58f467db3711b558f5294de4900b535ce69","sender":"0x95222290dd7278aa3ddd389cc1e1d165cc4bafe5","tx_hash":"0x0d336481b3d8e12f0be194b38d5970e3b8dbd75b4323a52c4eeee0c0f7a80574","slot":"6997133","block":"17811591","is_mev":"true,","mev_service":"Flashbots"},{"type":"staking","text":"0.037171721","currency":"ETH","numeric":37171721000000000,"exp":18,"recipient":"0x8922c147ed81b7aabdc2ec9b3102dabe5ecf372da0cb3dff57caccdb7e80a618f69d096964da840f3c7ff49dde8cee2e"}]}},"balances":{"type":"array","items":{"type":"object","description":"The account's staked balance to the pool for the epoch.","properties":{"text":{"type":"string","example":"32.002727433","description":"The textual version of the other fields in the balances object."},"currency":{"type":"string","example":"ETH"},"numeric":{"type":"integer","example":32002727433000000000},"exp":{"type":"integer","example":18,"description":"The exponent used to calculate the final ETH amount."}}}}}}},"meta":{"type":"object","properties":{"network":{"type":"string","example":"ethereum","description":"The name of the network queried."},"period_unit":{"type":"string","example":"daily","description":"The unit of the period.","enum":["epoch","daily"]}}}}}}}}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"accounts":{"type":"array","description":"A set of validator public addresses (Maximum of 50) or a set of withdrawal credentials.","items":{"type":"string","example":"0x8922c147ed81b7aabdc2ec9b3102dabe5ecf372da0cb3dff57caccdb7e80a618f69d096964da840f3c7ff49dde8cee2e"}},"start":{"type":"string","example":"2023-07-31","description":"Epoch numbers (as integers) or timestamps (as strings \"YYYY-MM-DD\")"},"end":{"type":"string","example":"2023-07-31","description":"Epoch numbers (as integers) or timestamps (as strings \"YYYY-MM-DD\")"},"aggregation":{"type":"string","example":"daily","description":"Allows you to get rewards by epoch (default if nothing is passed) or by day (if daily is passed)."},"chain_id":{"type":"string","example":"mainnet","description":"Id of the chain to get rewards for. Currently supporting 'mainnet' and 'holesky'. Defaults to 'mainnet'.","enum":["mainnet","holesky"]}},"required":["accounts","start","end"]}}}}}},"/v2/withdrawals":{"post":{"summary":"ETH Withdrawals","tags":["Ethereum"],"parameters":[],"responses":{"200":{"description":"Withdrawals with metadata.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"index":{"type":"integer","example":3151238,"description":"The unique index of the withdrawal on chain (from round robin process)."},"validator_public_key":{"type":"string","example":"0x86556ae9c606d2da8c23b6fad6be999b318e7fc2384847f19a80ffce12a1705c19162b5c425b924b5334ad876231ef49","description":"The public key of the validator."},"validator_index":{"type":"integer","example":63905,"description":"The index of the validator."},"withdrawal_address":{"type":"string","example":"0x13da6583b4e567af24ae6b07ea057f251a38139e","description":"The withdrawal address of the validator."},"amount_text":{"type":"string","example":"32","description":"The withdrawal amount (as text)."},"currency":{"type":"string","example":"ETH"},"amount_numeric":{"type":"integer","example":32000000000,"description":"The withdrawal amount (as an integer) - needs exp below."},"exp":{"type":"integer","example":18,"description":"The exponent used to calculate the final ETH amount."},"full_withdrawal":{"type":"boolean","example":true,"description":"Whether the validator exited or not."},"slot":{"type":"integer","example":251284,"description":"The consensus layer slot at which the withdrawal occurred."},"epoch":{"type":"integer","example":7852,"description":"The execution layer block in which the transaction was included."},"timestamp":{"type":"string","example":"2023-07-21T00:00:00Z","description":"The timestamp of the end of the epoch."}}}}}}}}}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"validator_addresses":{"type":"array","description":"Validator public keys.","items":{"type":"string","example":"0x84aeff50c551a0c95036be42595020da3a605cbb10bed4d7ab2bc5a55363e4e1fbb61e800e8b9fff5a6e2dc3a86f969e"}},"start":{"type":"string","example":"2023-07-20","description":"Epoch numbers (as integers) or timestamps (as strings \"YYYY-MM-DD\")"},"end":{"type":"string","example":"2023-07-21","description":"Epoch numbers (as integers) or timestamps (as strings \"YYYY-MM-DD\")"}},"required":["accounts","start","end"]}}}}}},"/rates":{"get":{"tags":["Ethereum"],"summary":"ETH Reward Rates","parameters":[{"in":"query","name":"figment","schema":{"type":"boolean"},"required":false,"description":"If true is passed, we will return the reward rate for Figment validators only. If omitted or any other value is passed, we will return the reward rate of the network as a whole."},{"in":"query","name":"avg","schema":{"type":"string","enum":["7d"]},"required":false,"description":"Returns the 7 day moving average. The only value accepted is 7d, if no value is passed, the original behavior of returning a single day average ARR is used."},{"in":"query","name":"decimal","schema":{"type":"integer"},"required":false,"description":"Adds decimal places to the returned values. Accepts values 2, 3, 4, 5. If nothing is passed, it will default to 2."}],"responses":{"200":{"description":"Array of rates by date.","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string","example":"2023-05-01","description":"Timestamp for the day in format \"YYYY-MM-DD\""},"value":{"type":"string","example":"6.73","description":"The total annualized reward rate for that day - in %."},"staking":{"type":"string","example":"3.81","description":"The piece due to consensus layer rewards (inflation) - in %."},"tips":{"type":"string","example":"2.92","description":"The piece due to execution layer rewards (transaction fees) - in %."}}}}}}}}}}}}