{"openapi":"3.0.1","info":{"title":"(DON'T DELETE) Validator API","version":"v1","description":"Ethereum validator provisioning and staking."},"x-readme":{"explorer-enabled":false,"proxy-enabled":false,"headers":[{"key":"Authorization","value":"your-api-key-here"}]},"servers":[{"url":"https://hubble.figment.io"}],"components":{"schemas":{"position":{"type":"object","properties":{"id":{"type":"string","example":"123","description":"A unique ID for the position."},"type":{"type":"string","example":"position","description":"The type name for the position."},"attributes":{"type":"object","properties":{"id":{"type":"integer","example":123,"description":"A unique ID for the position."},"name":{"type":"string","nullable":true,"example":"My position","description":"A name for the position."},"eth1_withdrawal_address":{"type":"string","example":"0xE40F80618324C814cD444434670a44ba4583aE38","description":"An Ethereum address."},"staked_amount":{"type":"integer","example":320,"description":"An amount of staked ETH."},"validators_count":{"type":"integer","example":10,"description":"The number of validators in the position."},"region":{"type":"string","example":"ca-central-1","description":"The region in which the validator will be provisioned"},"created_at":{"type":"string","example":"2023-07-01T00:00:00.000Z","description":"A timestamp at which the position was created."},"updated_at":{"type":"string","example":"2023-07-01T00:00:00.000Z","description":"A timestamp at which the position was last updated."}}}}},"validator":{"type":"object","properties":{"id":{"type":"string","example":"456","description":"A unique identifier."},"type":{"type":"string","example":"validator"},"attributes":{"type":"object","properties":{"id":{"type":"integer","example":456,"description":"A unique identifier."},"name":{"type":"string","nullable":true,"example":"Special validator","description":"An optional name for the validator."},"pubkey":{"type":"string","example":"d1ef8d468ef53d82368d2026e321ab2c6d44f44c33b7b9f22369bf6dcf37fb0208f82dd6b485325ce1bbf5aec7ad45bb","description":"The validator public key."},"withdrawal_credentials":{"type":"string","example":"010000000000000000000000fc438e6cc4b230eb5bfaae1337c3f5da2b9140f1","description":"Valid withdrawal credentials."},"amount":{"type":"integer","description":"An amount of ETH in GWEI","example":32000000000},"signature":{"type":"string","example":"aab7e3b41689fced6c3437a6bc5caf471ed319b94ad2642c47c5f641d5e3a046432171d47d48cd7a3e8a323939d4976c1315ad4dae134c421214673ddff9105ef1bb7f79c1babc6cd9c31428d5e44472164e9c9fccfd10fb9768c0855b194f49","description":"A valid signature."},"deposit_data_root":{"type":"string","example":"b2f5083221d6b61f2237af155c07c746f6a75c7d24dfe418106efdf87e9b9422","description":"The deposit data."},"deposit_message_root":{"type":"string","example":"026cbefa013e03a3d81592b7a5f6205773c12a6f7674529e497e9a4eb2df2d44","description":"The deposit message."},"fork_version":{"type":"string","nullable":true,"example":"00000000","description":"A fork version"},"eth2_network_name":{"type":"string","nullable":true,"example":"holesky","description":"The network name on which the validator is running."},"status":{"type":"string","nullable":true,"example":"funding_requested","description":"The status of the validator."},"deposit_cli_version":{"type":"string","nullable":true,"example":"1.2.0","description":"The version of the CLI software used when making the deposit."},"status_synced_at":{"type":"string","nullable":true,"example":"2023-07-01T00:00:00.000Z","description":"A timestamp indicating when the status was last synced."},"figment_signature":{"type":"string","nullable":true,"example":"ZDFlZjhkNDY4ZWY1M2Q4MjM2OGQyMDI2ZTMyMWFiMmM2ZDQ0ZjQ0YzMzYjdiOWYyMjM2OWJmNmRjZjM3ZmIwMjA4ZjgyZGQ2YjQ4NTMyNWNlMWJiZjVhZWM3YWQ0NWJi","description":"A base64 encoded signature of the validator's public key, signed by a private key maintained by Figment."},"status_history":{"type":"array","description":"Details of the status history.","items":{"type":"object","properties":{"status":{"type":"string","example":"funding_requested","description":"The status."},"changed_at":{"type":"string","example":"2023-07-01T00:00:00.000Z","description":"When the status changed."}}}},"estimated_active_at":{"type":"string","nullable":true,"example":"2023-07-01T00:00:00.000Z","description":"Estimate of when the validator will become active and start earning rewards."},"estimated_exit_at":{"type":"string","nullable":true,"example":"2023-07-01T00:00:00.000Z","description":"Estimate of when the validator will exit and stop earning rewards."},"estimated_withdrawal_at":{"type":"string","nullable":true,"example":"2023-07-01T00:00:00.000Z","description":"Estimate of when the principal will be withdrawable."},"fee_recipient_address":{"type":"string","nullable":true,"example":"0x781462762B706AA7c1DA71FBA1a545724928b81f","description":"The fee recipient address that receives Execution Layer fees."},"net_fee_payout_address":{"type":"string","nullable":true,"example":"0x781462762B706AA7c1DA71FBA1a545724928b81f","description":"The net payout address that receives the customer's share of Execution Layer fees."},"on_demand_exit_requested_at":{"type":"string","nullable":true,"example":"2023-07-01T00:00:00.000Z","description":"A timestamp representing the customer request to exit this validator, either through the Figment app or Staking API."},"on_demand_exit_approved_at":{"type":"string","nullable":true,"example":"2023-07-01T00:00:00.000Z","description":"A timestamp representing the time at which the customer exit request was approved by Figment."},"on_demand_exit_submitted_at":{"type":"string","nullable":true,"example":"2023-07-01T00:00:00.000Z","description":"A timestamp representing the time at which the validator's exit transaction was submitted to Ethereum's consensus layer."},"on_demand_exit_request_id":{"type":"string","format":"uuid","nullable":true,"example":"3fa85f64-5717-4562-b3fc-2c963f66afa6","description":"The unique request ID (which may be the Staking API flow ID) used to request an exit for this validator."},"presigned_exit_transaction_fork_version":{"type":"string","nullable":true,"example":"0x04001020","description":"A pre-signed exit transaction fork version"},"presigned_exit_transaction":{"type":"string","nullable":true,"example":"-----BEGIN PGP MESSAGE-----\\nVersion: 2023-03-03 (159679)\\nComment: 0xf27394bf199c58623206923c26fd186fd1e91302d09f22aaf40c053d8725364b05199bebe91d3a6737aebe8cc5a1b202\\n\\nwV7DhAgK6qzUbbYSAQdA069SH+2v3hkzd/REedn8/1k2eVK0GGV4r4lzGf5Jg3Ew\\n/cFSwaXhaBgfinFXMCmYJtYZF06oZcH4XzZm3IPeXktS6wfScogE+W/eapX0nHlT\\n0sF6Bb/uJAExeOtRurwgqDkc/D+g+BioSsg2XQ6O9a6SUj7bb2plX2E9JPhSMhPY\\nzLXA4cB8F9IjpSv/Ofhlbid9+cWnZLDHrU69Q0nCcTwZTQZbOoOi7Mj04pKEHux1\\nvaalZ4O8N5ptJwWygB7NMxZAkosruPURQ4HS2EaFjr5Fjle6+pfYN1y39hOvsoQe\\nT3E1/4DbfmFbDNjBqwjAJLkmEBu18AKgxJtEjQaCoeF1Q/WTIA8JBX3yy14AZI3q\\noYZ5gd5QdVo24aoYrm75rQO0GfZqvU5B/kKezrA+eFngO79bgppyjIacItNaHEaD\\nkQfO+6SE8A0mQXxQr0IqJiiNhrG8tPhDcLZcvKRXPoGIkQcFNCPiOehFsB6drhP6\\n7v/P81fj63df8fk6FBkiDHIdros8xj9PGHbYNrCNsw==\\n=DiMO\\n-----END PGP MESSAGE-----","description":"A pre-signed exit transaction encrypted with the public encryption key you've stored with Figment (contact us to store either a PGP or RSA key). Pre-signed exit transactions are refreshed daily at 6:30AM UTC for active validators which have a stored encryption key. For PGP-encrypted messages, the message in this response contains the Version with the date and epoch when the exit transaction was last refreshed. The Comment portion of the message contains the validator's public key. Last is the encrypted VoluntaryExit message for this validator. For RSA-encrypted messages, this field will only contain the encrypted VoluntaryExit message for this validator. Shown with the query parameter presigned_exit_transaction=true."},"region":{"type":"string","example":"ca-central-1","description":"The region in which the validator will be provisioned"}}},"relationships":{"type":"object","properties":{"position":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","example":123,"description":"The ID of the staking position."},"type":{"type":"string","example":"position","description":"A type name for the position."}}}}}}}}},"validator_to_exit":{"type":"object","properties":{"id":{"type":"string","example":"456","description":"A unique identifier."},"type":{"type":"string","example":"validator"},"attributes":{"type":"object","properties":{"id":{"type":"integer","example":456,"description":"A unique identifier."},"name":{"type":"string","nullable":true,"example":"Special validator","description":"An optional name for the validator."},"pubkey":{"type":"string","example":"d1ef8d468ef53d82368d2026e321ab2c6d44f44c33b7b9f22369bf6dcf37fb0208f82dd6b485325ce1bbf5aec7ad45bb","description":"The validator public key."},"withdrawal_credentials":{"type":"string","example":"010000000000000000000000fc438e6cc4b230eb5bfaae1337c3f5da2b9140f1","description":"Valid withdrawal credentials."},"amount":{"type":"integer","description":"An amount of ETH in GWEI","example":32000000000},"signature":{"type":"string","example":"aab7e3b41689fced6c3437a6bc5caf471ed319b94ad2642c47c5f641d5e3a046432171d47d48cd7a3e8a323939d4976c1315ad4dae134c421214673ddff9105ef1bb7f79c1babc6cd9c31428d5e44472164e9c9fccfd10fb9768c0855b194f49","description":"A valid signature."},"deposit_data_root":{"type":"string","example":"b2f5083221d6b61f2237af155c07c746f6a75c7d24dfe418106efdf87e9b9422","description":"The deposit data."},"deposit_message_root":{"type":"string","example":"026cbefa013e03a3d81592b7a5f6205773c12a6f7674529e497e9a4eb2df2d44","description":"The deposit message."},"fork_version":{"type":"string","nullable":true,"example":"00000000","description":"A fork version"},"eth2_network_name":{"type":"string","nullable":true,"example":"holesky","description":"The network name on which the validator is running."},"status":{"type":"string","nullable":true,"example":"active_ongoing","description":"The status of the validator."},"deposit_cli_version":{"type":"string","nullable":true,"example":"1.2.0","description":"The version of the CLI software used when making the deposit."},"status_synced_at":{"type":"string","nullable":true,"example":"2023-07-01T00:00:00.000Z","description":"A timestamp indicating when the status was last synced."},"figment_signature":{"type":"string","nullable":true,"example":"ZDFlZjhkNDY4ZWY1M2Q4MjM2OGQyMDI2ZTMyMWFiMmM2ZDQ0ZjQ0YzMzYjdiOWYyMjM2OWJmNmRjZjM3ZmIwMjA4ZjgyZGQ2YjQ4NTMyNWNlMWJiZjVhZWM3YWQ0NWJi","description":"A base64 encoded signature of the validator's public key, signed by a private key maintained by Figment."},"status_history":{"type":"array","description":"Details of the status history.","items":{"type":"object","properties":{"status":{"type":"string","example":"funding_requested","description":"The status."},"changed_at":{"type":"string","example":"2023-07-01T00:00:00.000Z","description":"When the status changed."}},"example":[{"status":"provisioned","changed_at":"2023-07-01T00:00:00.000Z"},{"status":"funding_requested","changed_at":"2023-07-01T00:00:00.000Z"},{"status":"deposited","changed_at":"2023-07-01T00:00:00.000Z"},{"status":"active_ongoing","changed_at":"2023-07-01T00:00:00.000Z"}]}},"estimated_active_at":{"type":"string","nullable":true,"example":"2023-07-01T00:00:00.000Z","description":"Estimate of when the validator will become active and start earning rewards."},"estimated_exit_at":{"type":"string","nullable":true,"example":"2023-07-01T00:00:00.000Z","description":"Estimate of when the validator will exit and stop earning rewards."},"estimated_withdrawal_at":{"type":"string","nullable":true,"example":"2023-07-01T00:00:00.000Z","description":"Estimate of when the principal will be withdrawable."},"fee_recipient_address":{"type":"string","nullable":true,"example":"0x781462762B706AA7c1DA71FBA1a545724928b81f","description":"The fee recipient address that receives Execution Layer fees."},"net_fee_payout_address":{"type":"string","nullable":true,"example":"0x781462762B706AA7c1DA71FBA1a545724928b81f","description":"The net payout address that receives the customer's share of Execution Layer fees."},"on_demand_exit_requested_at":{"type":"string","nullable":true,"example":"2023-07-01T00:00:00.000Z","description":"A timestamp representing the customer request to exit this validator, either through the Figment app or Staking API."},"on_demand_exit_approved_at":{"type":"string","nullable":true,"example":null,"description":"A timestamp representing the time at which the customer exit request was approved by Figment."},"on_demand_exit_submitted_at":{"type":"string","nullable":true,"example":null,"description":"A timestamp representing the time at which the validator's exit transaction was submitted to Ethereum's consensus layer."},"on_demand_exit_request_id":{"type":"string","format":"uuid","nullable":true,"example":"3fa85f64-5717-4562-b3fc-2c963f66afa6","description":"The unique request ID (which may be the Staking API flow ID) used to request an exit for this validator."},"presigned_exit_transaction_fork_version":{"type":"string","nullable":true,"example":"0x04001020","description":"A pre-signed exit transaction fork version"},"presigned_exit_transaction":{"type":"string","nullable":true,"example":"-----BEGIN PGP MESSAGE-----\\nVersion: 2023-03-03 (159679)\\nComment: 0xf27394bf199c58623206923c26fd186fd1e91302d09f22aaf40c053d8725364b05199bebe91d3a6737aebe8cc5a1b202\\n\\nwV7DhAgK6qzUbbYSAQdA069SH+2v3hkzd/REedn8/1k2eVK0GGV4r4lzGf5Jg3Ew\\n/cFSwaXhaBgfinFXMCmYJtYZF06oZcH4XzZm3IPeXktS6wfScogE+W/eapX0nHlT\\n0sF6Bb/uJAExeOtRurwgqDkc/D+g+BioSsg2XQ6O9a6SUj7bb2plX2E9JPhSMhPY\\nzLXA4cB8F9IjpSv/Ofhlbid9+cWnZLDHrU69Q0nCcTwZTQZbOoOi7Mj04pKEHux1\\nvaalZ4O8N5ptJwWygB7NMxZAkosruPURQ4HS2EaFjr5Fjle6+pfYN1y39hOvsoQe\\nT3E1/4DbfmFbDNjBqwjAJLkmEBu18AKgxJtEjQaCoeF1Q/WTIA8JBX3yy14AZI3q\\noYZ5gd5QdVo24aoYrm75rQO0GfZqvU5B/kKezrA+eFngO79bgppyjIacItNaHEaD\\nkQfO+6SE8A0mQXxQr0IqJiiNhrG8tPhDcLZcvKRXPoGIkQcFNCPiOehFsB6drhP6\\n7v/P81fj63df8fk6FBkiDHIdros8xj9PGHbYNrCNsw==\\n=DiMO\\n-----END PGP MESSAGE-----","description":"A pre-signed exit transaction encrypted with the public encryption key you've stored with Figment (contact us to store either a PGP or RSA key). Pre-signed exit transactions are refreshed daily at 6:30AM UTC for active validators which have a stored encryption key. For PGP-encrypted messages, the message in this response contains the Version with the date and epoch when the exit transaction was last refreshed. The Comment portion of the message contains the validator's public key. Last is the encrypted VoluntaryExit message for this validator. For RSA-encrypted messages, this field will only contain the encrypted VoluntaryExit message for this validator. Shown with the query parameter presigned_exit_transaction=true."},"region":{"type":"string","example":"ca-central-1","description":"The region in which the validator will be provisioned"}}},"relationships":{"type":"object","properties":{"position":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","example":123,"description":"The ID of the staking position."},"type":{"type":"string","example":"position","description":"A type name for the position."}}}}}}}}},"error":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"status":{"type":"string","example":"401"},"title":{"type":"string","example":"Unauthorized"},"code":{"type":"string","nullable":true},"detail":{"type":"string","nullable":true},"source":{"type":"object","nullable":true,"properties":{"pointer":{"type":"string"}}}},"required":["status","title"]}}}},"links":{"type":"object","properties":{"self":{"type":"string","example":"https://api.figment.io/api/v1/prime/eth2_staking/positions"},"current":{"type":"string","example":"https://api.figment.io/api/v1/prime/eth2_staking/positions?page[number]=1"},"next":{"type":"string","example":"https://api.figment.io/api/v1/prime/eth2_staking/positions?page[number]=2"},"last":{"type":"string","example":"https://api.figment.io/api/v1/prime/eth2_staking/positions?page[number]=3"},"prev":{"type":"string","example":"https://api.figment.io/api/v1/prime/eth2_staking/positions?page[number]=1"}}},"page":{"type":"object","properties":{"size":{"type":"integer","example":30},"number":{"type":"integer","default":1,"example":1}}}}},"paths":{"/api/v1/prime/eth2_staking/funding_transactions":{"post":{"summary":"Build Funding Transaction","tags":["Funding Transactions"],"parameters":[],"responses":{"200":{"description":"Returns a funding transaction for the given withdrawal address.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/validator"}},"meta":{"type":"object","properties":{"raw_transaction":{"type":"object","nullable":true,"properties":{"from":{"type":"string","example":"0x7362cC429Fd2e2abB3F1217c660967E6Ed52B594"},"to":{"type":"string","example":"0x3e30Fc2Cc800Af86e88B69d32D9DaF7Eccb3A520"},"value":{"type":"string","example":"32000000000000000000"},"data":{"type":"string","example":"0x4f498c730000000000000000000000000000000000000000000000000000000000000080000000000000000000000000000000000000000000000000000000000000012000000000000000000000000000000000000000000000000000000000000001a00000000000000000000000000000000000000000000000000000000000000260000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000000030b662d513f74714fec978a68a4402f64a77943933af0d168d9f5e8417b8f8f31640f1fcd60adae005aa1f24edeccca885000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000002000000000000000000000000000000000000000000000000000000000000000200100000000000000000000007362cc429fd2e2abb3f1217c660967e6ed52b594000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000000060823c85b951347fb67a6bd1f71eef1e0d79b2b779312dfdd61a6b52229f7e1cec7532919c0a1b1746720805e92158f44c115179d3e20e366b6d3367442798f833bc7a39b09a95082065696152f1c60f04715053db32474a2e7929e9d821e725ed0000000000000000000000000000000000000000000000000000000000000001d3342f720eee71d24f5060def39ed782132b502795bf5adb7c0feb0873ad6812"}}}}},"links":{"$ref":"#/components/schemas/links"}}}}}}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"funding_address":{"type":"string","example":"0xBe000000000000000000000000000000000000b9"},"withdrawal_address":{"type":"string","example":"0xE40F80618324C814cD444434670a44ba4583aE38"},"validators_count":{"type":"integer","example":10},"eth2_network_name":{"type":"string","example":"holesky","enum":["mainnet","holesky"]},"region":{"type":"string","example":"ca-central-1","enum":["ca-central-1","eu-west-1"]}},"required":["funding_address","withdrawal_address","validators_count","eth2_network_name"]}}}}}},"/api/v1/prime/eth2_staking/provision":{"post":{"summary":"Provision Validators","tags":["Staking Positions"],"parameters":[],"responses":{"201":{"description":"Created a provision request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Returns true if the action was successful."},"position_id":{"type":"integer","example":123},"staked_eth_amount":{"type":"integer","example":320},"eth1_withdrawal_address":{"type":"string","example":"0xE40F80618324C814cD444434670a44ba4583aE38"},"eth2_network_name":{"type":"string","example":"holesky"},"region":{"type":"string","example":"ca-central-1"},"validators":{"type":"array","example":[]}}}}}},"400":{"description":"bad request"},"422":{"description":"Unprocessable entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"withdrawal_address":{"type":"string","example":"0xE40F80618324C814cD444434670a44ba4583aE38","description":"An Ethereum address."},"fee_recipient_address":{"type":"string","example":"0xE40F80618324C814cD444434670a44ba4583aE38","description":"An Ethereum address."},"validators_count":{"type":"integer","example":10,"description":"A number of validators."},"eth2_network_name":{"type":"string","example":"holesky","enum":["mainnet","holesky"],"description":"The network on which validators will be provisioned."},"region":{"type":"string","example":"ca-central-1","description":"The region in which the validator will be provisioned","enum":["ca-central-1","eu-west-1"]}},"required":["eth2_network_name","withdrawal_address","validators_count"]}}}}}},"/api/v1/prime/eth2_staking/validators":{"get":{"summary":"Get Validators","tags":["Validators"],"parameters":[{"name":"withdrawal_address","in":"query","required":false,"example":"0xE40F80618324C814cD444434670a44ba4583aE38","schema":{"type":"string"}},{"name":"net_fee_payout_address","in":"query","required":false,"example":"0xE40F80618324C814cD444434670a44ba4583aE38","description":"The net payout address that receives the customer's share of Execution Layer fees.","schema":{"type":"string"}},{"name":"position_id","in":"query","required":false,"example":"123","schema":{"type":"string"}},{"name":"include","in":"query","required":false,"example":"position","schema":{"type":"string","enum":["position"]},"description":"accepted values: position"},{"name":"status_history","in":"query","required":false,"description":"if true, status change history will be included for each validator","schema":{"type":"boolean"}},{"name":"presigned_exit_transaction","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"region","in":"query","required":false,"description":"region in which the validator exists","schema":{"type":"string","enum":["ca-central-1","eu-west-1"]}},{"name":"eth2_network_name","in":"query","required":false,"description":"name of the network validators are in","schema":{"type":"string","enum":["holesky","goerli","mainnet"]}},{"name":"status","in":"query","required":false,"example":"active_ongoing","schema":{"type":"string","enum":["funding_requested","deposited_not_finalized","deposited","pending_initialized","pending_queued","active_ongoing","active_exiting","active_slashed","exited_unslashed","exited_slashed","withdrawal_possible","withdrawal_done","provisioned"]}},{"name":"page","in":"query","required":false,"style":"deepObject","schema":{"$ref":"#/components/schemas/page"}}],"responses":{"200":{"description":"List of validators","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/validator"}},"links":{"$ref":"#/components/schemas/links"},"included":{"type":"array","items":{"anyOf":[{"$ref":"#/components/schemas/position"}]}}}}}}},"401":{"description":"Unauthorized (invalid key)"}}}},"/api/v1/prime/eth2_staking/validators/exit":{"post":{"summary":"Exit","tags":["Validators"],"parameters":[],"responses":{"202":{"description":"Exit request accepted","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/validator_to_exit"}},"meta":{"type":"object","properties":{"voluntary_exit_request_id":{"type":"string","format":"uuid","example":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}}}}}},"400":{"description":"Invalid parameters"},"422":{"description":"Could not process request"}},"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object","title":"By public keys","properties":{"pubkeys":{"type":"array","items":{"type":"string","example":"0xeacc60f7b5eb2ba92c340836b2e265bcf8e68c2393a5285dd191c221b207908aa0f2d9ae3814dc748c47e70da960da5c","description":"The public key of the validator to exit."}},"eth2_network_name":{"type":"string","example":"holesky","enum":["mainnet","holesky"],"description":"The network on which validators are running."}},"required":["eth2_network_name","pubkeys"]},{"type":"object","title":"By withdrawal address","properties":{"withdrawal_address":{"type":"string","example":"0xE40F80618324C814cD444434670a44ba4583aE38","description":"The Ethereum account used when provisioning the validator."},"validators_count":{"type":"integer","example":10,"description":"The number of validators to exit."},"eth2_network_name":{"type":"string","example":"holesky","enum":["mainnet","holesky"],"description":"The network on which validators are running."}},"required":["eth2_network_name","withdrawal_address","validators_count"]}]}}}}}},"/api/v1/prime/eth2_staking/validators/{id}":{"get":{"summary":"Get a Validator","tags":["Validators"],"parameters":[{"name":"id","in":"path","required":true,"example":"0xd1ef8d468ef53d82368d2026e321ab2c6d44f44c33b7b9f22369bf6dcf37fb0208f82dd6b485325ce1bbf5aec7ad45bb","description":"The ID or pubkey for the validator. Pubkeys must be prefixed with 0x","schema":{"type":"string"}},{"name":"include","in":"query","required":false,"example":"position","schema":{"type":"string","enum":["position"]},"description":"accepted values: position"},{"name":"status_history","in":"query","required":false,"description":"if true, status change history will be included for each validator","schema":{"type":"boolean"}},{"name":"presigned_exit_transaction","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"A single validator","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/validator"},"included":{"type":"array","items":{"anyOf":[{"$ref":"#/components/schemas/position"}]}}}}}}},"401":{"description":"Unauthorized (invalid key)"},"404":{"description":"Failed to find record"}}}}}}