{
   "swagger":"2.0",
   "info":{
      "description":"The current set of APIs will be available in Q3 2024 on Worldline Global Issuing Platforms.\nAdditional APIs are under construction and planned to be available in 2024.",
      "version":"2.21.0",
      "title":"Worldline Card Issuing API",
      "contact":{
         
      }
   },
   "host":"issuing-solutions.eae.apis.svc.as8677.net/issbox",
   "basePath":"/api/v2",
   "tags":[
      {
         "name":"Account",
         "description":"Account Api Controller"
      },
      {
         "name":"Account - Authorization",
         "description":"Account Authorization Controller"
      },
      {
         "name":"Account - Authorization Restriction",
         "description":"Account Authorization Restriction Controller"
      },
      {
         "name":"Account - Future Update",
         "description":"Account Future Updates Api Controller"
      },
      {
         "name":"Account - Insurance Contract",
         "description":"Account Insurance Contract Api Controller"
      },
      {
         "name":"Account - Operation",
         "description":"Account Operation Api Controller"
      },
      {
         "name":"Account - Statement",
         "description":"Account Statement Api Controller"
      },
      {
         "name":"Account - Temporary Credit Limit",
         "description":"Account Temporary Credit Limit Api Controller"
      },
      {
         "name":"Account - Velocity Limit",
         "description":"Account Velocity Limit Controller"
      },
      {
         "name":"Api Meta Info",
         "description":"Api Meta Info Api Controller"
      },
      {
         "name":"Card",
         "description":"Card Api Controller"
      },
      {
         "name":"Card - CVV",
         "description":"Card CVV Api Controller"
      },
      {
         "name":"Card - Order",
         "description":"Card Order Api Controller"
      },
      {
         "name":"Card - Pin",
         "description":"Card Pin Api Controller"
      },
      {
         "name":"Card - CardPinState",
         "description":"Card Pin State"
      },
      {
         "name":"Card - Pin Try Counter",
         "description":"Card Pin Try Counter Api Controller"
      },
      {
         "name":"Card Contract",
         "description":"Card Contract Api Controller"
      },
      {
         "name":"Contract",
         "description":"Contract Api Controller"
      },
      {
         "name":"Credit Instalment",
         "description":"Credit Instalment Api Controller"
      },
      {
         "name":"Credit Transfer",
         "description":"Credit Transfer Api Controller"
      },
      {
         "name":"Customer",
         "description":"Customer Api Controller"
      },
      {
         "name":"Customer - Address",
         "description":"Customer Address Api Controller"
      },
      {
         "name":"Company",
         "description":"Company Api Controller"
      },
      {
         "name":"Company - Address",
         "description":"Company Address Api Controller"
      },
      {
         "name":"Direct Debit",
         "description":"Direct Debit Api Controller"
      },
      {
         "name":"Event Store",
         "description":"Event Store Controller"
      },
      {
         "name":"Issuer",
         "description":"Issuer Api Controller"
      },
      {
         "name":"Dispute",
         "description":"Dispute Api Controller"
      },
      {
         "name":"Mobile Payment Operations",
         "description":"Apple Pay Controller"
      },
      {
         "name":"Corporate Contract",
         "description":"Corporate Contract API Controller"
      },
      {
         "name":"Corporate Contract - Global Search",
         "description":"Corporate Contract Global Search API Controller"
      },
      {
         "name":"Message - Subscription",
         "description":"Message Subscription Api Controller"
      },
      {
         "name":"Message - Subscription Event",
         "description":"Message Subscription Event Api Controller"
      },
      {
         "name":"Message - Subscription Service",
         "description":"Message Subscription Service Api Controller"
      },
      {
         "name":"Transaction - Global Search",
         "description":"Transaction Global Search  API Controller"
      },
      {
         "name":"Transaction",
         "description":"Transaction API Controller"
      },
      {
         "name":"Tokenized Card - Creation",
         "description":"Create Tokenized Card V 2 Controller Api Controller"
      },
      {
         "name":"Tokenized Card - Retrieve Token",
         "description":"Get Card Id From Token V 2 Controller Api Controller"
      },
      {
         "name":"Crypto OTP - Retrieval",
         "description":"Get Crypto Otpv 2 Controller Api Controller"
      },
      {
         "name":"Tokendata - Retrieval",
         "description":"Get Token Data V 2 Controller Api Controller"
      }
   ],
   "schemes":[
      "https"
   ],
   "paths":{
      "/health":{
         "get":{
            "tags":[
               "HealthCheck"
            ],
            "summary":"getHealthCheckResponse",
            "operationId":"getHealthCheckResponseUsingGET",
            "description":"This API enables the caller to check globally the status of our solution. This can be considered as a watch-dog message.",
            "produces":[
               "*/*"
            ],
            "parameters":[
               {
                  "name":"WL-Correlation-ID",
                  "in":"header",
                  "description":"WL-Correlation-ID",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"WL-Origin",
                  "in":"header",
                  "required":false,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/apiResponseEntityHealthCheckStatus"
                  }
               }
            },
            "security":[
               {
                  "basic":[
                     
                  ]
               }
            ],
            "deprecated":false
         }
      },
      "/info":{
         "get":{
            "tags":[
               "Api Meta Info"
            ],
            "summary":"Retrieve API Metadata Information",
            "operationId":"info",
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "name":"WL-Correlation-ID",
                  "in":"header",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"WL-Origin",
                  "in":"header",
                  "required":false,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ApiResponseEntityInfo"
                  }
               },
               "400":{
                  "description":"Bad request",
                  "schema":{
                     "$ref":"#/definitions/BadRequestErrorApiResponse"
                  }
               },
               "401":{
                  "description":"Unauthorized",
                  "schema":{
                     "$ref":"#/definitions/UnauthorizedErrorApiResponse"
                  }
               },
               "403":{
                  "description":"Forbidden",
                  "schema":{
                     "$ref":"#/definitions/ForbiddenErrorApiResponse"
                  }
               },
               "404":{
                  "description":"Not found",
                  "schema":{
                     "$ref":"#/definitions/NotFoundErrorApiResponse"
                  }
               },
               "500":{
                  "description":"Internal server error",
                  "schema":{
                     "$ref":"#/definitions/InternalServerErrorErrorApiResponse"
                  }
               },
               "502":{
                  "description":"Bad gateway",
                  "schema":{
                     "$ref":"#/definitions/BadGatewayErrorApiResponse"
                  }
               }
            },
            "security":[
               {
                  "basic":[
                     
                  ]
               }
            ],
            "deprecated":false
         }
      },
      "/issuers":{
         "get":{
            "tags":[
               "Issuer"
            ],
            "summary":"List issuers",
            "operationId":"listIssuers",
            "description":"This API enables to retrieve the list of issuer configured in our solution.\nIn response a list is provided with the name of the issuer and for each issuer if a parent issuer level is present. (In our solution, an issuer hierarchy can be set-up)",
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "name":"WL-Correlation-ID",
                  "in":"header",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"WL-Origin",
                  "in":"header",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"filter",
                  "in":"query",
                  "description":"Filtered Fields",
                  "required":false,
                  "type":"array",
                  "items":{
                     "type":"string"
                  },
                  "collectionFormat":"multi"
               },
               {
                  "name":"rootIssuer",
                  "in":"query",
                  "description":"rootIssuer : allow to retrieve the hierarchy of issuer starting from this root issuer",
                  "required":false,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ApiResponseEntityListIssuer"
                  }
               },
               "400":{
                  "description":"Bad request",
                  "schema":{
                     "$ref":"#/definitions/BadRequestErrorApiResponse"
                  }
               },
               "401":{
                  "description":"Unauthorized",
                  "schema":{
                     "$ref":"#/definitions/UnauthorizedErrorApiResponse"
                  }
               },
               "403":{
                  "description":"Forbidden",
                  "schema":{
                     "$ref":"#/definitions/ForbiddenErrorApiResponse"
                  }
               },
               "404":{
                  "description":"Not found",
                  "schema":{
                     "$ref":"#/definitions/NotFoundErrorApiResponse"
                  }
               },
               "500":{
                  "description":"Internal server error",
                  "schema":{
                     "$ref":"#/definitions/InternalServerErrorErrorApiResponse"
                  }
               },
               "502":{
                  "description":"Bad gateway",
                  "schema":{
                     "$ref":"#/definitions/BadGatewayErrorApiResponse"
                  }
               }
            },
            "security":[
               {
                  "basic":[
                     
                  ]
               }
            ],
            "deprecated":false
         }
      },
      "/issuers/{issuerId}/accounts/external-accounts/{issuerAccountExternalReference}":{
         "get":{
            "tags":[
               "Account"
            ],
            "summary":"Retrieve account by external reference",
            "operationId":"retrieveAccountByIssuerExtRef",
            "description":"The \"retrieve account\" API allows the account details to be retrieved.\nThe main input fields are:\n- The issuer ID\n- The account for which the detail is requested: It can be provided by using the account reference or the issuer external account reference \n\nIt is also possible to request some additional data by using the embedded fields.\n\nIn return, the interface provides generic account information (mainly master data). For credit cards, payment mode, the due amount calculation is provided back.",
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "name":"WL-Correlation-ID",
                  "in":"header",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"WL-Origin",
                  "in":"header",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"filter",
                  "in":"query",
                  "description":"Filtered Fields",
                  "required":false,
                  "type":"array",
                  "items":{
                     "type":"string"
                  },
                  "collectionFormat":"multi"
               },
               {
                  "name":"issuerId",
                  "in":"path",
                  "description":"Issuer ID",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"issuerAccountExternalReference",
                  "in":"path",
                  "description":"Issuer Account External Reference",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"embed",
                  "in":"query",
                  "description":"Embedded Fields",
                  "required":false,
                  "type":"array",
                  "items":{
                     "type":"string",
                     "enum":[
                        "childrenAccountIdentifiers",
                        "insuranceContracts",
                        "loyaltyPoints",
                        "selectedModels",
                        "statusHistory",
                        "rootAccount"
                     ]
                  },
                  "collectionFormat":"multi"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ApiResponseEntityAccount"
                  }
               },
               "400":{
                  "description":"Bad request",
                  "schema":{
                     "$ref":"#/definitions/BadRequestErrorApiResponse"
                  }
               },
               "401":{
                  "description":"Unauthorized",
                  "schema":{
                     "$ref":"#/definitions/UnauthorizedErrorApiResponse"
                  }
               },
               "403":{
                  "description":"Forbidden",
                  "schema":{
                     "$ref":"#/definitions/ForbiddenErrorApiResponse"
                  }
               },
               "404":{
                  "description":"Not found",
                  "schema":{
                     "$ref":"#/definitions/NotFoundErrorApiResponse"
                  }
               },
               "500":{
                  "description":"Internal server error",
                  "schema":{
                     "$ref":"#/definitions/InternalServerErrorErrorApiResponse"
                  }
               },
               "502":{
                  "description":"Bad gateway",
                  "schema":{
                     "$ref":"#/definitions/BadGatewayErrorApiResponse"
                  }
               }
            },
            "security":[
               {
                  "basic":[
                     
                  ]
               }
            ],
            "deprecated":false
         },
         "patch":{
            "tags":[
               "Account"
            ],
            "summary":"Update account parameters by external reference",
            "description":"The \"update account parameters\" API allows the list of pre-defined parameters (attributes) of an account to be updated.\nThe main input fields requested by the API are:\n- The issuer ID\n- The account for which updates are required: It can be provided by using the account reference or the issuer external account reference\n- Parameters to be updated\n\nThe account information can be initially retrieved by using the retrieve Account API.\nThe updated parameters should be consistent with the initial product configuration defined in the system.\n(e.g a change of closure calendar is accepted only if the provided calendar reference is allowed in the product definition).\nThis API is used for example to change the IBAN, closure date.",
            "operationId":"modifyAccountByIssuerExtRef",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "name":"WL-Correlation-ID",
                  "in":"header",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"WL-Origin",
                  "in":"header",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"filter",
                  "in":"query",
                  "description":"Filtered Fields",
                  "required":false,
                  "type":"array",
                  "items":{
                     "type":"string"
                  },
                  "collectionFormat":"multi"
               },
               {
                  "name":"issuerId",
                  "in":"path",
                  "description":"Issuer ID",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"issuerAccountExternalReference",
                  "in":"path",
                  "description":"Issuer Account External Reference",
                  "required":true,
                  "type":"string"
               },
               {
                  "in":"body",
                  "name":"body",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/ModifyAccountRequest"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ApiResponseEntityModifyAccountResponse"
                  }
               },
               "400":{
                  "description":"Bad request",
                  "schema":{
                     "$ref":"#/definitions/BadRequestErrorApiResponse"
                  }
               },
               "401":{
                  "description":"Unauthorized",
                  "schema":{
                     "$ref":"#/definitions/UnauthorizedErrorApiResponse"
                  }
               },
               "403":{
                  "description":"Forbidden",
                  "schema":{
                     "$ref":"#/definitions/ForbiddenErrorApiResponse"
                  }
               },
               "404":{
                  "description":"Not found",
                  "schema":{
                     "$ref":"#/definitions/NotFoundErrorApiResponse"
                  }
               },
               "500":{
                  "description":"Internal server error",
                  "schema":{
                     "$ref":"#/definitions/InternalServerErrorErrorApiResponse"
                  }
               },
               "502":{
                  "description":"Bad gateway",
                  "schema":{
                     "$ref":"#/definitions/BadGatewayErrorApiResponse"
                  }
               }
            },
            "security":[
               {
                  "basic":[
                     
                  ]
               }
            ],
            "deprecated":false
         }
      },
      "/issuers/{issuerId}/accounts/external-accounts/{issuerAccountExternalReference}/account-future-updates":{
         "get":{
            "tags":[
               "Account - Future Update"
            ],
            "summary":"Retrieve list of future changes of the account by external reference",
            "description":"The API is used to get the account updates that have to be applied at a schedule date.\nThe main input fields requested by the API are:\n- The issuer ID\n- The account involved by the change: It can be provided by using the account reference or the issuer external account reference\nIn response, a list of updates with the schedule date is provided.\n\nIt is also possible to request the account updates planned in the past and already processed.",
            "operationId":"listAccountFutureUpdatesByIssuerExtRef",
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "name":"WL-Correlation-ID",
                  "in":"header",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"WL-Origin",
                  "in":"header",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"filter",
                  "in":"query",
                  "description":"Filtered Fields",
                  "required":false,
                  "type":"array",
                  "items":{
                     "type":"string"
                  },
                  "collectionFormat":"multi"
               },
               {
                  "name":"issuerId",
                  "in":"path",
                  "description":"Issuer ID",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"issuerAccountExternalReference",
                  "in":"path",
                  "description":"Issuer Account External Reference",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"all",
                  "in":"query",
                  "description":"Retrieve also updates already processed",
                  "required":false,
                  "type":"boolean",
                  "default":false
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ApiResponseEntityListAccountFutureUpdate"
                  }
               },
               "400":{
                  "description":"Bad request",
                  "schema":{
                     "$ref":"#/definitions/BadRequestErrorApiResponse"
                  }
               },
               "401":{
                  "description":"Unauthorized",
                  "schema":{
                     "$ref":"#/definitions/UnauthorizedErrorApiResponse"
                  }
               },
               "403":{
                  "description":"Forbidden",
                  "schema":{
                     "$ref":"#/definitions/ForbiddenErrorApiResponse"
                  }
               },
               "404":{
                  "description":"Not found",
                  "schema":{
                     "$ref":"#/definitions/NotFoundErrorApiResponse"
                  }
               },
               "500":{
                  "description":"Internal server error",
                  "schema":{
                     "$ref":"#/definitions/InternalServerErrorErrorApiResponse"
                  }
               },
               "502":{
                  "description":"Bad gateway",
                  "schema":{
                     "$ref":"#/definitions/BadGatewayErrorApiResponse"
                  }
               }
            },
            "security":[
               {
                  "basic":[
                     
                  ]
               }
            ],
            "deprecated":false
         },
         "post":{
            "tags":[
               "Account - Future Update"
            ],
            "summary":"Schedule new account parameters update in future by external reference",
            "description":"The API is used to enter the account updates that should be applied on a schedule date.\nThe main input fields requested by the API are:\n- The issuer ID\n- The account involved by the change: It can be provided by using the account reference or the issuer external account reference\n- The plan date\n- The updates",
            "operationId":"createAccountFutureUpdateByIssuerExtRef",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "name":"WL-Correlation-ID",
                  "in":"header",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"WL-Origin",
                  "in":"header",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"filter",
                  "in":"query",
                  "description":"Filtered Fields",
                  "required":false,
                  "type":"array",
                  "items":{
                     "type":"string"
                  },
                  "collectionFormat":"multi"
               },
               {
                  "name":"issuerId",
                  "in":"path",
                  "description":"Issuer ID",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"issuerAccountExternalReference",
                  "in":"path",
                  "description":"Issuer Account External Reference",
                  "required":true,
                  "type":"string"
               },
               {
                  "in":"body",
                  "name":"body",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/CreateAccountFutureUpdateRequest"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ApiResponseEntityCreateAccountFutureUpdateResponse"
                  }
               },
               "400":{
                  "description":"Bad request",
                  "schema":{
                     "$ref":"#/definitions/BadRequestErrorApiResponse"
                  }
               },
               "401":{
                  "description":"Unauthorized",
                  "schema":{
                     "$ref":"#/definitions/UnauthorizedErrorApiResponse"
                  }
               },
               "403":{
                  "description":"Forbidden",
                  "schema":{
                     "$ref":"#/definitions/ForbiddenErrorApiResponse"
                  }
               },
               "404":{
                  "description":"Not found",
                  "schema":{
                     "$ref":"#/definitions/NotFoundErrorApiResponse"
                  }
               },
               "500":{
                  "description":"Internal server error",
                  "schema":{
                     "$ref":"#/definitions/InternalServerErrorErrorApiResponse"
                  }
               },
               "502":{
                  "description":"Bad gateway",
                  "schema":{
                     "$ref":"#/definitions/BadGatewayErrorApiResponse"
                  }
               }
            },
            "security":[
               {
                  "basic":[
                     
                  ]
               }
            ],
            "deprecated":false
         }
      },
      "/issuers/{issuerId}/accounts/external-accounts/{issuerAccountExternalReference}/account-future-updates/{futureChangeReference}":{
         "get":{
            "tags":[
               "Account - Future Update"
            ],
            "summary":"Retrieve future changes for the account by external reference",
            "description":"The API allows to get the account updates that have to be applied at a schedule date.\nThe main input fields requested by the API are:\n- The issuer ID\n- The account involved by the change: It can be provided by using the account reference or the issuer external account reference\n- The future change reference (unique per account)",
            "operationId":"retrieveAccountFutureUpdateByIssuerExtRefAndFutureRef",
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "name":"WL-Correlation-ID",
                  "in":"header",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"WL-Origin",
                  "in":"header",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"filter",
                  "in":"query",
                  "description":"Filtered Fields",
                  "required":false,
                  "type":"array",
                  "items":{
                     "type":"string"
                  },
                  "collectionFormat":"multi"
               },
               {
                  "name":"issuerId",
                  "in":"path",
                  "description":"Issuer ID",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"issuerAccountExternalReference",
                  "in":"path",
                  "description":"Issuer Account External Reference",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"futureChangeReference",
                  "in":"path",
                  "description":"future change reference",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ApiResponseEntityAccountFutureUpdate"
                  }
               },
               "400":{
                  "description":"Bad request",
                  "schema":{
                     "$ref":"#/definitions/BadRequestErrorApiResponse"
                  }
               },
               "401":{
                  "description":"Unauthorized",
                  "schema":{
                     "$ref":"#/definitions/UnauthorizedErrorApiResponse"
                  }
               },
               "403":{
                  "description":"Forbidden",
                  "schema":{
                     "$ref":"#/definitions/ForbiddenErrorApiResponse"
                  }
               },
               "404":{
                  "description":"Not found",
                  "schema":{
                     "$ref":"#/definitions/NotFoundErrorApiResponse"
                  }
               },
               "500":{
                  "description":"Internal server error",
                  "schema":{
                     "$ref":"#/definitions/InternalServerErrorErrorApiResponse"
                  }
               },
               "502":{
                  "description":"Bad gateway",
                  "schema":{
                     "$ref":"#/definitions/BadGatewayErrorApiResponse"
                  }
               }
            },
            "security":[
               {
                  "basic":[
                     
                  ]
               }
            ],
            "deprecated":false
         },
         "patch":{
            "tags":[
               "Account - Future Update"
            ],
            "summary":"Update future changes of the account by external reference (beta)",
            "description":"The API is used to modify the account updates that should be applied on a schedule date (not yet reached).\nThe main input fields requested by the API are:\n- The issuer ID\n- The account involved by the change: It can be provided by using the account reference or the issuer external account reference\n- The future change reference (unique per account)\n- The updates\n- The reason of the future update modification",
            "operationId":"modifyAccountFutureUpdateByExtRef",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "name":"WL-Correlation-ID",
                  "in":"header",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"WL-Origin",
                  "in":"header",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"filter",
                  "in":"query",
                  "description":"Filtered Fields",
                  "required":false,
                  "type":"array",
                  "items":{
                     "type":"string"
                  },
                  "collectionFormat":"multi"
               },
               {
                  "name":"issuerId",
                  "in":"path",
                  "description":"Issuer ID",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"issuerAccountExternalReference",
                  "in":"path",
                  "description":"issuerAccountExternalReference",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"futureChangeReference",
                  "in":"path",
                  "description":"Future Change Reference",
                  "required":true,
                  "type":"string"
               },
               {
                  "in":"body",
                  "name":"body",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/ModifyAccountFutureUpdateRequest"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ApiResponseEntityModifyAccountFutureUpdateResponse"
                  }
               },
               "400":{
                  "description":"Bad request",
                  "schema":{
                     "$ref":"#/definitions/BadRequestErrorApiResponse"
                  }
               },
               "401":{
                  "description":"Unauthorized",
                  "schema":{
                     "$ref":"#/definitions/UnauthorizedErrorApiResponse"
                  }
               },
               "403":{
                  "description":"Forbidden",
                  "schema":{
                     "$ref":"#/definitions/ForbiddenErrorApiResponse"
                  }
               },
               "404":{
                  "description":"Not found",
                  "schema":{
                     "$ref":"#/definitions/NotFoundErrorApiResponse"
                  }
               },
               "500":{
                  "description":"Internal server error",
                  "schema":{
                     "$ref":"#/definitions/InternalServerErrorErrorApiResponse"
                  }
               },
               "502":{
                  "description":"Bad gateway",
                  "schema":{
                     "$ref":"#/definitions/BadGatewayErrorApiResponse"
                  }
               }
            },
            "security":[
               {
                  "basic":[
                     
                  ]
               }
            ],
            "deprecated":false
         }
      },
      "/issuers/{issuerId}/accounts/external-accounts/{issuerAccountExternalReference}/account-guarantor":{
         "get":{
            "tags":[
               "Account"
            ],
            "summary":"Retrieve account guarantor for an account by external reference",
            "operationId":"retrieveAccountGuarantorByIssuerExtRef",
            "description":"The API allows information on the account guarantor to be retrieved.\nThe main input fields are:\n- The issuer ID\n- The account for which information is requested.\n\nIt is also possible to request additional data like addresses by using the embedded fields.",
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "name":"WL-Correlation-ID",
                  "in":"header",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"WL-Origin",
                  "in":"header",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"filter",
                  "in":"query",
                  "description":"Filtered Fields",
                  "required":false,
                  "type":"array",
                  "items":{
                     "type":"string"
                  },
                  "collectionFormat":"multi"
               },
               {
                  "name":"issuerId",
                  "in":"path",
                  "description":"Issuer ID",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"issuerAccountExternalReference",
                  "in":"path",
                  "description":"Issuer Account External Reference",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"embed",
                  "in":"query",
                  "description":"Embedded Fields",
                  "required":false,
                  "type":"array",
                  "items":{
                     "type":"string",
                     "enum":[
                        "addressIdentifiers",
                        "addresses"
                     ]
                  },
                  "collectionFormat":"multi"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ApiResponseEntityCustomer"
                  }
               },
               "400":{
                  "description":"Bad request",
                  "schema":{
                     "$ref":"#/definitions/BadRequestErrorApiResponse"
                  }
               },
               "401":{
                  "description":"Unauthorized",
                  "schema":{
                     "$ref":"#/definitions/UnauthorizedErrorApiResponse"
                  }
               },
               "403":{
                  "description":"Forbidden",
                  "schema":{
                     "$ref":"#/definitions/ForbiddenErrorApiResponse"
                  }
               },
               "404":{
                  "description":"Not found",
                  "schema":{
                     "$ref":"#/definitions/NotFoundErrorApiResponse"
                  }
               },
               "500":{
                  "description":"Internal server error",
                  "schema":{
                     "$ref":"#/definitions/InternalServerErrorErrorApiResponse"
                  }
               },
               "502":{
                  "description":"Bad gateway",
                  "schema":{
                     "$ref":"#/definitions/BadGatewayErrorApiResponse"
                  }
               }
            },
            "security":[
               {
                  "basic":[
                     
                  ]
               }
            ],
            "deprecated":false
         }
      },
      "/issuers/{issuerId}/accounts/external-accounts/{issuerAccountExternalReference}/account-history":{
         "get":{
            "tags":[
               "Account"
            ],
            "summary":"Retrieve list of historic updates of an account by external reference",
            "operationId":"listAccountHistoryByIssuerExtRef",
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "name":"WL-Correlation-ID",
                  "in":"header",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"WL-Origin",
                  "in":"header",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"filter",
                  "in":"query",
                  "description":"Filtered Fields",
                  "required":false,
                  "type":"array",
                  "items":{
                     "type":"string"
                  },
                  "collectionFormat":"multi"
               },
               {
                  "name":"issuerId",
                  "in":"path",
                  "description":"Issuer ID",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"issuerAccountExternalReference",
                  "in":"path",
                  "description":"Issuer Account External Reference",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"periodStartDateTime",
                  "in":"query",
                  "required":false,
                  "type":"string",
                  "description":"Format : yyyy-MM-ddTHH:mm:ssZ"
               },
               {
                  "name":"periodEndDateTime",
                  "in":"query",
                  "required":false,
                  "type":"string",
                  "description":"Format : yyyy-MM-ddTHH:mm:ssZ"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ApiResponseEntityListAccountHistory"
                  }
               },
               "400":{
                  "description":"Bad request",
                  "schema":{
                     "$ref":"#/definitions/BadRequestErrorApiResponse"
                  }
               },
               "401":{
                  "description":"Unauthorized",
                  "schema":{
                     "$ref":"#/definitions/UnauthorizedErrorApiResponse"
                  }
               },
               "403":{
                  "description":"Forbidden",
                  "schema":{
                     "$ref":"#/definitions/ForbiddenErrorApiResponse"
                  }
               },
               "404":{
                  "description":"Not found",
                  "schema":{
                     "$ref":"#/definitions/NotFoundErrorApiResponse"
                  }
               },
               "500":{
                  "description":"Internal server error",
                  "schema":{
                     "$ref":"#/definitions/InternalServerErrorErrorApiResponse"
                  }
               },
               "502":{
                  "description":"Bad gateway",
                  "schema":{
                     "$ref":"#/definitions/BadGatewayErrorApiResponse"
                  }
               }
            },
            "security":[
               {
                  "basic":[
                     
                  ]
               }
            ],
            "deprecated":false
         }
      },
      "/issuers/{issuerId}/accounts/external-accounts/{issuerAccountExternalReference}/account-owner":{
         "get":{
            "tags":[
               "Account"
            ],
            "summary":"Retrieve account owner for an account by external reference",
            "operationId":"retrieveAccountOwnerByIssuerExtRef",
            "description":"The API allows information on the account owner to be retrieved.\nThe main input fields are:\n- The issuer ID\n- The account for which information is requested.\n\nIt is also possible to request additional data like addresses by using the embedded fields.",
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "name":"WL-Correlation-ID",
                  "in":"header",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"WL-Origin",
                  "in":"header",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"filter",
                  "in":"query",
                  "description":"Filtered Fields",
                  "required":false,
                  "type":"array",
                  "items":{
                     "type":"string"
                  },
                  "collectionFormat":"multi"
               },
               {
                  "name":"issuerId",
                  "in":"path",
                  "description":"Issuer ID",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"issuerAccountExternalReference",
                  "in":"path",
                  "description":"Issuer Account External Reference",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"embed",
                  "in":"query",
                  "description":"Embedded Fields",
                  "required":false,
                  "type":"array",
                  "items":{
                     "type":"string",
                     "enum":[
                        "addressIdentifiers",
                        "addresses"
                     ]
                  },
                  "collectionFormat":"multi"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ApiResponseEntityCustomer"
                  }
               },
               "400":{
                  "description":"Bad request",
                  "schema":{
                     "$ref":"#/definitions/BadRequestErrorApiResponse"
                  }
               },
               "401":{
                  "description":"Unauthorized",
                  "schema":{
                     "$ref":"#/definitions/UnauthorizedErrorApiResponse"
                  }
               },
               "403":{
                  "description":"Forbidden",
                  "schema":{
                     "$ref":"#/definitions/ForbiddenErrorApiResponse"
                  }
               },
               "404":{
                  "description":"Not found",
                  "schema":{
                     "$ref":"#/definitions/NotFoundErrorApiResponse"
                  }
               },
               "500":{
                  "description":"Internal server error",
                  "schema":{
                     "$ref":"#/definitions/InternalServerErrorErrorApiResponse"
                  }
               },
               "502":{
                  "description":"Bad gateway",
                  "schema":{
                     "$ref":"#/definitions/BadGatewayErrorApiResponse"
                  }
               }
            },
            "security":[
               {
                  "basic":[
                     
                  ]
               }
            ],
            "deprecated":false
         }
      },
      "/issuers/{issuerId}/accounts/external-accounts/{issuerAccountExternalReference}/authorization-business-cases":{
         "get":{
            "tags":[
               "Account - Authorization"
            ],
            "summary":"Get business cases by external account reference",
            "operationId":"getBusinessCasesByExternalAccountReferenceUsingGET_1",
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "name":"WL-Correlation-ID",
                  "in":"header",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"endTime",
                  "in":"query",
                  "description":"endTime",
                  "required":true,
                  "type":"string",
                  "format":"date-time"
               },
               {
                  "name":"issuerAccountExternalReference",
                  "in":"path",
                  "description":"issuerAccountExternalReference",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"issuerId",
                  "in":"path",
                  "description":"issuerId",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"startTime",
                  "in":"query",
                  "description":"startTime",
                  "required":true,
                  "type":"string",
                  "format":"date-time"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ApiResponseEntityGetBusinessCases"
                  }
               },
               "400":{
                  "description":"Bad request",
                  "schema":{
                     "$ref":"#/definitions/BadRequestErrorApiResponse"
                  }
               },
               "401":{
                  "description":"Unauthorized",
                  "schema":{
                     "$ref":"#/definitions/UnauthorizedErrorApiResponse"
                  }
               },
               "403":{
                  "description":"Forbidden",
                  "schema":{
                     "$ref":"#/definitions/ForbiddenErrorApiResponse"
                  }
               },
               "404":{
                  "description":"Not found",
                  "schema":{
                     "$ref":"#/definitions/NotFoundErrorApiResponse"
                  }
               },
               "500":{
                  "description":"Internal server error",
                  "schema":{
                     "$ref":"#/definitions/InternalServerErrorErrorApiResponse"
                  }
               },
               "502":{
                  "description":"Bad gateway",
                  "schema":{
                     "$ref":"#/definitions/BadGatewayErrorApiResponse"
                  }
               }
            },
            "security":[
               {
                  "basic":[
                     
                  ]
               }
            ],
            "deprecated":false
         }
      },
      "/issuers/{issuerId}/accounts/external-accounts/{issuerAccountExternalReference}/authorization-business-cases/{businessCaseId}":{
         "get":{
            "tags":[
               "Account - Authorization"
            ],
            "summary":"Get business case by external account reference",
            "description":"This operation enables to retrieve the details of an authorization identified by its business case Id.",
            "operationId":"getBusinessCaseByExternalAccountReferenceUsingGET_1",
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "name":"WL-Correlation-ID",
                  "in":"header",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"businessCaseId",
                  "in":"path",
                  "description":"businessCaseId",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"endTime",
                  "in":"query",
                  "description":"example: 2012-12-31T22:00:00.000\nEnd of time period (excluded) for which transactions have to be provided.",
                  "required":true,
                  "type":"string",
                  "format":"date-time"
               },
               {
                  "name":"issuerAccountExternalReference",
                  "in":"path",
                  "description":"issuerAccountExternalReference",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"issuerId",
                  "in":"path",
                  "description":"issuerId",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"startTime",
                  "in":"query",
                  "description":"example: 2012-12-31T22:00:00.000\nStart of time period (included) for which transactions have to be provided.",
                  "required":true,
                  "type":"string",
                  "format":"date-time"
               },
               {
                  "name":"filter",
                  "in":"query",
                  "description":"Filtered Fields",
                  "required":false,
                  "type":"array",
                  "items":{
                     "type":"string"
                  },
                  "collectionFormat":"multi",
                  "allowEmptyValue":false
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ApiResponseEntityGetBusinessCase"
                  }
               },
               "400":{
                  "description":"Bad request",
                  "schema":{
                     "$ref":"#/definitions/BadRequestErrorApiResponse"
                  }
               },
               "401":{
                  "description":"Unauthorized",
                  "schema":{
                     "$ref":"#/definitions/UnauthorizedErrorApiResponse"
                  }
               },
               "403":{
                  "description":"Forbidden",
                  "schema":{
                     "$ref":"#/definitions/ForbiddenErrorApiResponse"
                  }
               },
               "404":{
                  "description":"Not found",
                  "schema":{
                     "$ref":"#/definitions/NotFoundErrorApiResponse"
                  }
               },
               "500":{
                  "description":"Internal server error",
                  "schema":{
                     "$ref":"#/definitions/InternalServerErrorErrorApiResponse"
                  }
               },
               "502":{
                  "description":"Bad gateway",
                  "schema":{
                     "$ref":"#/definitions/BadGatewayErrorApiResponse"
                  }
               }
            },
            "security":[
               {
                  "basic":[
                     
                  ]
               }
            ],
            "deprecated":false
         }
      },
      "/issuers/{issuerId}/accounts/external-accounts/{issuerAccountExternalReference}/authorization-restrictions":{
         "get":{
            "tags":[
               "Account - Authorization Restriction"
            ],
            "summary":"Get authorization restrictions by external account reference",
            "operationId":"getAuthorizationRestrictionsByExternalAccountReferenceUsingGET_1",
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "name":"WL-Correlation-ID",
                  "in":"header",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"issuerAccountExternalReference",
                  "in":"path",
                  "description":"issuerAccountExternalReference",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"issuerId",
                  "in":"path",
                  "description":"issuerId",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ApiResponseEntityGetAuthorizationRestrictions"
                  }
               },
               "400":{
                  "description":"Bad request",
                  "schema":{
                     "$ref":"#/definitions/BadRequestErrorApiResponse"
                  }
               },
               "401":{
                  "description":"Unauthorized",
                  "schema":{
                     "$ref":"#/definitions/UnauthorizedErrorApiResponse"
                  }
               },
               "403":{
                  "description":"Forbidden",
                  "schema":{
                     "$ref":"#/definitions/ForbiddenErrorApiResponse"
                  }
               },
               "404":{
                  "description":"Not found",
                  "schema":{
                     "$ref":"#/definitions/NotFoundErrorApiResponse"
                  }
               },
               "500":{
                  "description":"Internal server error",
                  "schema":{
                     "$ref":"#/definitions/InternalServerErrorErrorApiResponse"
                  }
               },
               "502":{
                  "description":"Bad gateway",
                  "schema":{
                     "$ref":"#/definitions/BadGatewayErrorApiResponse"
                  }
               }
            },
            "security":[
               {
                  "basic":[
                     
                  ]
               }
            ],
            "deprecated":false
         }
      },
      "/issuers/{issuerId}/accounts/external-accounts/{issuerAccountExternalReference}/authorization-restrictions/{authorizationRestrictionReference}/authorization-restriction-overrides":{
         "get":{
            "tags":[
               "Account - Authorization Restriction"
            ],
            "summary":"Get authorization restriction overrides by external account reference",
            "operationId":"getAuthorizationRestrictionOverridesByExternalAccountReferenceUsingGET_1",
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "name":"WL-Correlation-ID",
                  "in":"header",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"all",
                  "in":"query",
                  "description":"all",
                  "required":false,
                  "type":"boolean",
                  "default":false
               },
               {
                  "name":"authorizationRestrictionReference",
                  "in":"path",
                  "description":"authorizationRestrictionReference",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"issuerAccountExternalReference",
                  "in":"path",
                  "description":"issuerAccountExternalReference",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"issuerId",
                  "in":"path",
                  "description":"issuerId",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ApiResponseEntityGetAuthorizationRestrictionOverrides"
                  }
               },
               "400":{
                  "description":"Bad request",
                  "schema":{
                     "$ref":"#/definitions/BadRequestErrorApiResponse"
                  }
               },
               "401":{
                  "description":"Unauthorized",
                  "schema":{
                     "$ref":"#/definitions/UnauthorizedErrorApiResponse"
                  }
               },
               "403":{
                  "description":"Forbidden",
                  "schema":{
                     "$ref":"#/definitions/ForbiddenErrorApiResponse"
                  }
               },
               "404":{
                  "description":"Not found",
                  "schema":{
                     "$ref":"#/definitions/NotFoundErrorApiResponse"
                  }
               },
               "500":{
                  "description":"Internal server error",
                  "schema":{
                     "$ref":"#/definitions/InternalServerErrorErrorApiResponse"
                  }
               },
               "502":{
                  "description":"Bad gateway",
                  "schema":{
                     "$ref":"#/definitions/BadGatewayErrorApiResponse"
                  }
               }
            },
            "security":[
               {
                  "basic":[
                     
                  ]
               }
            ],
            "deprecated":false
         },
         "post":{
            "tags":[
               "Account - Authorization Restriction"
            ],
            "summary":"Create authorization restriction override by external account reference",
            "operationId":"createAuthorizationRestrictionOverrideByExternalAccountRefUsingPOST_1",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "name":"WL-Correlation-ID",
                  "in":"header",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"authorizationRestrictionReference",
                  "in":"path",
                  "description":"authorizationRestrictionReference",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"issuerAccountExternalReference",
                  "in":"path",
                  "description":"issuerAccountExternalReference",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"issuerId",
                  "in":"path",
                  "description":"issuerId",
                  "required":true,
                  "type":"string"
               },
               {
                  "in":"body",
                  "name":"requestBody",
                  "description":"requestBody",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/CreateAuthorizationRestrictionOverrideRequest"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ApiResponseEntityCreateAuthorizationRestrictionOverride"
                  }
               },
               "400":{
                  "description":"Bad request",
                  "schema":{
                     "$ref":"#/definitions/BadRequestErrorApiResponse"
                  }
               },
               "401":{
                  "description":"Unauthorized",
                  "schema":{
                     "$ref":"#/definitions/UnauthorizedErrorApiResponse"
                  }
               },
               "403":{
                  "description":"Forbidden",
                  "schema":{
                     "$ref":"#/definitions/ForbiddenErrorApiResponse"
                  }
               },
               "404":{
                  "description":"Not found",
                  "schema":{
                     "$ref":"#/definitions/NotFoundErrorApiResponse"
                  }
               },
               "500":{
                  "description":"Internal server error",
                  "schema":{
                     "$ref":"#/definitions/InternalServerErrorErrorApiResponse"
                  }
               },
               "502":{
                  "description":"Bad gateway",
                  "schema":{
                     "$ref":"#/definitions/BadGatewayErrorApiResponse"
                  }
               }
            },
            "security":[
               {
                  "basic":[
                     
                  ]
               }
            ],
            "deprecated":false
         }
      },
      "/issuers/{issuerId}/accounts/external-accounts/{issuerAccountExternalReference}/authorization-restrictions/{authorizationRestrictionReference}/authorization-restriction-overrides/{authorizationRestrictionOverrideReference}":{
         "get":{
            "tags":[
               "Account - Authorization Restriction"
            ],
            "summary":"Get authorization restriction override by external account reference",
            "operationId":"getAuthorizationRestrictionOverrideByExternalAccountReferenceUsingGET_1",
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "name":"WL-Correlation-ID",
                  "in":"header",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"authorizationRestrictionOverrideReference",
                  "in":"path",
                  "description":"authorizationRestrictionOverrideReference",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"authorizationRestrictionReference",
                  "in":"path",
                  "description":"authorizationRestrictionReference",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"issuerAccountExternalReference",
                  "in":"path",
                  "description":"issuerAccountExternalReference",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"issuerId",
                  "in":"path",
                  "description":"issuerId",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ApiResponseEntityGetAuthorizationRestrictionOverride"
                  }
               },
               "400":{
                  "description":"Bad request",
                  "schema":{
                     "$ref":"#/definitions/BadRequestErrorApiResponse"
                  }
               },
               "401":{
                  "description":"Unauthorized",
                  "schema":{
                     "$ref":"#/definitions/UnauthorizedErrorApiResponse"
                  }
               },
               "403":{
                  "description":"Forbidden",
                  "schema":{
                     "$ref":"#/definitions/ForbiddenErrorApiResponse"
                  }
               },
               "404":{
                  "description":"Not found",
                  "schema":{
                     "$ref":"#/definitions/NotFoundErrorApiResponse"
                  }
               },
               "500":{
                  "description":"Internal server error",
                  "schema":{
                     "$ref":"#/definitions/InternalServerErrorErrorApiResponse"
                  }
               },
               "502":{
                  "description":"Bad gateway",
                  "schema":{
                     "$ref":"#/definitions/BadGatewayErrorApiResponse"
                  }
               }
            },
            "security":[
               {
                  "basic":[
                     
                  ]
               }
            ],
            "deprecated":false
         },
         "put":{
            "tags":[
               "Account - Authorization Restriction"
            ],
            "summary":"Modify authorization restriction override by external account reference",
            "operationId":"modifyAuthorizationRestrictionOverrideByExternalAccountRefUsingPUT_1",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "name":"WL-Correlation-ID",
                  "in":"header",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"authorizationRestrictionOverrideReference",
                  "in":"path",
                  "description":"authorizationRestrictionOverrideReference",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"authorizationRestrictionReference",
                  "in":"path",
                  "description":"authorizationRestrictionReference",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"issuerAccountExternalReference",
                  "in":"path",
                  "description":"issuerAccountExternalReference",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"issuerId",
                  "in":"path",
                  "description":"issuerId",
                  "required":true,
                  "type":"string"
               },
               {
                  "in":"body",
                  "name":"requestBody",
                  "description":"requestBody",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/ModifyAuthorizationRestrictionOverrideRequest"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ApiResponseEntityModifyAuthorizationRestrictionOverride"
                  }
               },
               "400":{
                  "description":"Bad request",
                  "schema":{
                     "$ref":"#/definitions/BadRequestErrorApiResponse"
                  }
               },
               "401":{
                  "description":"Unauthorized",
                  "schema":{
                     "$ref":"#/definitions/UnauthorizedErrorApiResponse"
                  }
               },
               "403":{
                  "description":"Forbidden",
                  "schema":{
                     "$ref":"#/definitions/ForbiddenErrorApiResponse"
                  }
               },
               "404":{
                  "description":"Not found",
                  "schema":{
                     "$ref":"#/definitions/NotFoundErrorApiResponse"
                  }
               },
               "500":{
                  "description":"Internal server error",
                  "schema":{
                     "$ref":"#/definitions/InternalServerErrorErrorApiResponse"
                  }
               },
               "502":{
                  "description":"Bad gateway",
                  "schema":{
                     "$ref":"#/definitions/BadGatewayErrorApiResponse"
                  }
               }
            },
            "security":[
               {
                  "basic":[
                     
                  ]
               }
            ],
            "deprecated":false
         },
         "delete":{
            "tags":[
               "Account - Authorization Restriction"
            ],
            "summary":"Delete authorization restriction override by external account reference",
            "operationId":"deleteAuthorizationRestrictionOverrideByExternalAccountRefUsingDELETE_1",
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "name":"WL-Correlation-ID",
                  "in":"header",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"authorizationRestrictionOverrideReference",
                  "in":"path",
                  "description":"authorizationRestrictionOverrideReference",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"authorizationRestrictionReference",
                  "in":"path",
                  "description":"authorizationRestrictionReference",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"issuerAccountExternalReference",
                  "in":"path",
                  "description":"issuerAccountExternalReference",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"issuerId",
                  "in":"path",
                  "description":"issuerId",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ApiResponseEntityDeleteAuthorizationRestrictionOverride"
                  }
               },
               "400":{
                  "description":"Bad request",
                  "schema":{
                     "$ref":"#/definitions/BadRequestErrorApiResponse"
                  }
               },
               "401":{
                  "description":"Unauthorized",
                  "schema":{
                     "$ref":"#/definitions/UnauthorizedErrorApiResponse"
                  }
               },
               "403":{
                  "description":"Forbidden",
                  "schema":{
                     "$ref":"#/definitions/ForbiddenErrorApiResponse"
                  }
               },
               "404":{
                  "description":"Not found",
                  "schema":{
                     "$ref":"#/definitions/NotFoundErrorApiResponse"
                  }
               },
               "500":{
                  "description":"Internal server error",
                  "schema":{
                     "$ref":"#/definitions/InternalServerErrorErrorApiResponse"
                  }
               },
               "502":{
                  "description":"Bad gateway",
                  "schema":{
                     "$ref":"#/definitions/BadGatewayErrorApiResponse"
                  }
               }
            },
            "security":[
               {
                  "basic":[
                     
                  ]
               }
            ],
            "deprecated":false
         }
      },
      "/issuers/{issuerId}/accounts/external-accounts/{issuerAccountExternalReference}/authorizations":{
         "get":{
            "tags":[
               "Account - Authorization"
            ],
            "summary":"Get authorizations by external account reference",
            "operationId":"getAuthorizationsByExternalAccountReferenceUsingGET_1",
            "description":"This operation enables to retrieve a list of authorizations associated to an account for a given period.\nIn response, for each authorization, the main properties of the authorization are provided such as the type of operation, the amount, the result code, the acceptance context.",
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "name":"WL-Correlation-ID",
                  "in":"header",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"endTime",
                  "in":"query",
                  "description":"Example: 2012-12-31T22:00:00.000\nEnd of time period (excluded) for which transactions have to be provided.",
                  "required":true,
                  "type":"string",
                  "format":"date-time"
               },
               {
                  "name":"issuerAccountExternalReference",
                  "in":"path",
                  "description":"issuerAccountExternalReference",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"issuerId",
                  "in":"path",
                  "description":"issuerId",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"startTime",
                  "in":"query",
                  "description":"Example: 2012-12-31T22:00:00.000\nStart of time period (included) for which transactions have to be provided.",
                  "required":true,
                  "type":"string",
                  "format":"date-time"
               },
               {
                  "name":"filter",
                  "in":"query",
                  "description":"Filtered Fields",
                  "required":false,
                  "type":"array",
                  "items":{
                     "type":"string"
                  },
                  "collectionFormat":"multi",
                  "allowEmptyValue":false
               },
               {
                  "name":"page",
                  "in":"query",
                  "description":"Page",
                  "required":false,
                  "type":"integer",
                  "default":0,
                  "format":"int32",
                  "allowEmptyValue":false
               },
               {
                  "name":"offset",
                  "in":"query",
                  "description":"Offset",
                  "required":false,
                  "type":"integer",
                  "default":100,
                  "format":"int32",
                  "allowEmptyValue":false
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ApiResponseEntityGetAuthorizations"
                  }
               },
               "400":{
                  "description":"Bad request",
                  "schema":{
                     "$ref":"#/definitions/BadRequestErrorApiResponse"
                  }
               },
               "401":{
                  "description":"Unauthorized",
                  "schema":{
                     "$ref":"#/definitions/UnauthorizedErrorApiResponse"
                  }
               },
               "403":{
                  "description":"Forbidden",
                  "schema":{
                     "$ref":"#/definitions/ForbiddenErrorApiResponse"
                  }
               },
               "404":{
                  "description":"Not found",
                  "schema":{
                     "$ref":"#/definitions/NotFoundErrorApiResponse"
                  }
               },
               "500":{
                  "description":"Internal server error",
                  "schema":{
                     "$ref":"#/definitions/InternalServerErrorErrorApiResponse"
                  }
               },
               "502":{
                  "description":"Bad gateway",
                  "schema":{
                     "$ref":"#/definitions/BadGatewayErrorApiResponse"
                  }
               }
            },
            "security":[
               {
                  "basic":[
                     
                  ]
               }
            ],
            "deprecated":false
         }
      },
      "/issuers/{issuerId}/accounts/external-accounts/{issuerAccountExternalReference}/authorizations/{authorizationId}":{
         "get":{
            "tags":[
               "Account - Authorization"
            ],
            "summary":"Get authorization by external account reference",
            "description":"This operation enables to retrieve the details of an authorization identified by its transaction Id.",
            "operationId":"getAuthorizationByExternalAccountReferenceUsingGET_1",
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "name":"WL-Correlation-ID",
                  "in":"header",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"authorizationId",
                  "in":"path",
                  "description":"authorizationId",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"endTime",
                  "in":"query",
                  "description":"Example: 2012-12-31T22:00:00.000\nEnd of time period (excluded) for which transactions have to be provided.",
                  "required":true,
                  "type":"string",
                  "format":"date-time"
               },
               {
                  "name":"issuerAccountExternalReference",
                  "in":"path",
                  "description":"issuerAccountExternalReference",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"issuerId",
                  "in":"path",
                  "description":"Not used, will be removed",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"startTime",
                  "in":"query",
                  "description":"Example: 2012-12-31T22:00:00.000\nStart of time period (included) for which transactions have to be provided.",
                  "required":true,
                  "type":"string",
                  "format":"date-time"
               },
               {
                  "name":"filter",
                  "in":"query",
                  "description":"Filtered Fields",
                  "required":false,
                  "type":"array",
                  "items":{
                     "type":"string"
                  },
                  "collectionFormat":"multi",
                  "allowEmptyValue":false
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ApiResponseEntityGetAuthorization"
                  }
               },
               "400":{
                  "description":"Bad request",
                  "schema":{
                     "$ref":"#/definitions/BadRequestErrorApiResponse"
                  }
               },
               "401":{
                  "description":"Unauthorized",
                  "schema":{
                     "$ref":"#/definitions/UnauthorizedErrorApiResponse"
                  }
               },
               "403":{
                  "description":"Forbidden",
                  "schema":{
                     "$ref":"#/definitions/ForbiddenErrorApiResponse"
                  }
               },
               "404":{
                  "description":"Not found",
                  "schema":{
                     "$ref":"#/definitions/NotFoundErrorApiResponse"
                  }
               },
               "500":{
                  "description":"Internal server error",
                  "schema":{
                     "$ref":"#/definitions/InternalServerErrorErrorApiResponse"
                  }
               },
               "502":{
                  "description":"Bad gateway",
                  "schema":{
                     "$ref":"#/definitions/BadGatewayErrorApiResponse"
                  }
               }
            },
            "security":[
               {
                  "basic":[
                     
                  ]
               }
            ],
            "deprecated":false
         }
      },
      "/issuers/{issuerId}/accounts/external-accounts/{issuerAccountExternalReference}/balance":{
         "get":{
            "tags":[
               "Account"
            ],
            "summary":"Retrieve financial information by external reference",
            "operationId":"retrieveAccountBalanceByIssuerExtRef",
            "description":"The API allows financial information of an account to be retrieved (not relevant for a debit card).\nThe main input fields requested by the API are:\n•\tThe issuer ID\n•\tThe account for which information is requested.\nIn response, different information is returned, such as account balance, sum of all operations (scheme operations, fees, ect) posted to the account (accepted amount), current open to buy amount (credit and prepaid accounts only).",
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "name":"WL-Correlation-ID",
                  "in":"header",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"WL-Origin",
                  "in":"header",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"filter",
                  "in":"query",
                  "description":"Filtered Fields",
                  "required":false,
                  "type":"array",
                  "items":{
                     "type":"string"
                  },
                  "collectionFormat":"multi"
               },
               {
                  "name":"issuerId",
                  "in":"path",
                  "description":"Issuer ID",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"issuerAccountExternalReference",
                  "in":"path",
                  "description":"Issuer Account External Reference",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ApiResponseEntityAccountBalance"
                  }
               },
               "400":{
                  "description":"Bad request",
                  "schema":{
                     "$ref":"#/definitions/BadRequestErrorApiResponse"
                  }
               },
               "401":{
                  "description":"Unauthorized",
                  "schema":{
                     "$ref":"#/definitions/UnauthorizedErrorApiResponse"
                  }
               },
               "403":{
                  "description":"Forbidden",
                  "schema":{
                     "$ref":"#/definitions/ForbiddenErrorApiResponse"
                  }
               },
               "404":{
                  "description":"Not found",
                  "schema":{
                     "$ref":"#/definitions/NotFoundErrorApiResponse"
                  }
               },
               "500":{
                  "description":"Internal server error",
                  "schema":{
                     "$ref":"#/definitions/InternalServerErrorErrorApiResponse"
                  }
               },
               "502":{
                  "description":"Bad gateway",
                  "schema":{
                     "$ref":"#/definitions/BadGatewayErrorApiResponse"
                  }
               }
            },
            "security":[
               {
                  "basic":[
                     
                  ]
               }
            ],
            "deprecated":false
         }
      },
      "/issuers/{issuerId}/accounts/external-accounts/{issuerAccountExternalReference}/contract":{
         "get":{
            "tags":[
               "Account"
            ],
            "summary":"Retrieve contract for an account by external reference",
            "operationId":"retrieveContractForAccountByIssuerExtRef",
            "description":"The API enables the contract data for a given account to be retrieved.",
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "name":"WL-Correlation-ID",
                  "in":"header",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"WL-Origin",
                  "in":"header",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"filter",
                  "in":"query",
                  "description":"Filtered Fields",
                  "required":false,
                  "type":"array",
                  "items":{
                     "type":"string"
                  },
                  "collectionFormat":"multi"
               },
               {
                  "name":"issuerId",
                  "in":"path",
                  "description":"Issuer ID",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"issuerAccountExternalReference",
                  "in":"path",
                  "description":"Issuer Account External Reference",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"embed",
                  "in":"query",
                  "description":"Embedded Fields",
                  "required":false,
                  "type":"array",
                  "items":{
                     "type":"string",
                     "enum":[
                        "advertisementFlags",
                        "deliveryChannel",
                        "legitimacyDocuments",
                        "contractFees",
                        "accountIdentifiers",
                        "accounts",
                        "cardContractIdentifiers",
                        "cardContracts",
                        "dataAnalysisFlags",
                        "contractCustomerIdentifiers",
                        "contractCustomers",
                        "addonSubscriptions"
                     ]
                  },
                  "collectionFormat":"multi"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ApiResponseEntityContract"
                  }
               },
               "400":{
                  "description":"Bad request",
                  "schema":{
                     "$ref":"#/definitions/BadRequestErrorApiResponse"
                  }
               },
               "401":{
                  "description":"Unauthorized",
                  "schema":{
                     "$ref":"#/definitions/UnauthorizedErrorApiResponse"
                  }
               },
               "403":{
                  "description":"Forbidden",
                  "schema":{
                     "$ref":"#/definitions/ForbiddenErrorApiResponse"
                  }
               },
               "404":{
                  "description":"Not found",
                  "schema":{
                     "$ref":"#/definitions/NotFoundErrorApiResponse"
                  }
               },
               "500":{
                  "description":"Internal server error",
                  "schema":{
                     "$ref":"#/definitions/InternalServerErrorErrorApiResponse"
                  }
               },
               "502":{
                  "description":"Bad gateway",
                  "schema":{
                     "$ref":"#/definitions/BadGatewayErrorApiResponse"
                  }
               }
            },
            "security":[
               {
                  "basic":[
                     
                  ]
               }
            ],
            "deprecated":false
         }
      },
      "/issuers/{issuerId}/accounts/external-accounts/{issuerAccountExternalReference}/credit-limit":{
         "get":{
            "tags":[
               "Account"
            ],
            "summary":"Retrieve account credit limit by external reference",
            "operationId":"retrieveAccountCreditLimitByIssuerExtRef",
            "description":"The API allows the permanent credit limit for a given account to be retrieved.",
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "name":"WL-Correlation-ID",
                  "in":"header",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"WL-Origin",
                  "in":"header",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"filter",
                  "in":"query",
                  "description":"Filtered Fields",
                  "required":false,
                  "type":"array",
                  "items":{
                     "type":"string"
                  },
                  "collectionFormat":"multi"
               },
               {
                  "name":"issuerId",
                  "in":"path",
                  "description":"Issuer ID",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"issuerAccountExternalReference",
                  "in":"path",
                  "description":"Issuer Account External Reference",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ApiResponseEntityCreditLimit"
                  }
               },
               "400":{
                  "description":"Bad request",
                  "schema":{
                     "$ref":"#/definitions/BadRequestErrorApiResponse"
                  }
               },
               "401":{
[...]
