swagger: '2.0'
info:
  description: |
    OPX Analytics API

    ## Current version
    * API service version: `1.3.92`
    * API model version: `1.2.28`
  version: '1.3.92'
  title: OPX Analytics API
  contact:
    name: Payoneer Germany GmbH
    email: optilesupport@payoneer.com
    url: https://www.payoneer.com
  license:
    name: optile EULA
host: analyticsapi.sandbox.oscato.com
basePath: /
schemes:
  - https
tags:
  - name: dashboarditems
    description: Dashboard Items End-points
  - name: environments
    description: Environments End-points
  - name: currencies
    description: Currencies End-points
  - name: kpis
    description: Kpis End-points
  - name: account
    description: User Account Management End-points
  - name: sections
    description: Sections End-points
  - name: settings
    description: User Settings End-points
  - name: merchants
    description: Merchants End-points
paths:
  /aggregationCurrencies:
    get:
      tags:
        - currencies
      summary: Aggregation currencies
      description: Provides a list of currencies that can be used as aggregation currency.
      operationId: aggregationCurrencies
      consumes:
        - application/json
      produces:
        - application/json;charset=UTF-8
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Datapoint'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /auth/demo:
    post:
      tags:
        - account
      summary: Request demo account
      description: A request for a demo account providing access to optile OPX services.
      operationId: demoAccountRequest
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: demoAccountRequest
          description: demoAccountRequest
          required: true
          schema:
            $ref: '#/definitions/DemoAccountRequest'
      responses:
        '200':
          description: OK
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /auth/resetPassword:
    post:
      tags:
        - account
      summary: Reset password
      description: >-
        Triggers a password reset request. An e-mail with password reset link is
        sent to the specified e-mail address.
      operationId: requestPasswordReset
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: email
          in: query
          description: email
          required: true
          type: string
      responses:
        '200':
          description: OK
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /environments:
    get:
      tags:
        - environments
      summary: Get service environments
      description: Retrieves the latest environments where the service is available.
      operationId: getEnvironments
      consumes:
        - application/json
      produces:
        - application/json;charset=UTF-8
      responses:
        '200':
          description: OK
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/users/{user_code}/merchants':
    get:
      tags:
        - merchants
      summary: Get accessible merchants
      description: >-
        Retrieves the list of merchants that the user is allowed to access. If
        the user has access to more than one merchant, the list will contain an
        artificial merchant entry with code `allmerchants` that provides a way
        to build an overview KPI dashboard with KPIs monitoring all merchants at
        once.
      operationId: getAccessibleMerchants
      consumes:
        - application/json
      produces:
        - application/json;charset=UTF-8
      parameters:
        - name: user_code
          in: path
          description: user_code
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Merchant'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/users/{user_code}/merchants/allmerchants/dashboarditems':
    get:
      tags:
        - dashboarditems
      summary: Get all dashboard items for all merchants
      description: >-
        Retrieves all dashboard items that the specified user has for all
        merchants they have access to. All items come pre-evaluated by default.
      operationId: getItemsForAllMerchants_1
      consumes:
        - application/json
      produces:
        - application/json;charset=UTF-8
      parameters:
        - name: user_code
          in: path
          description: user_code
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DashboardItem'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    post:
      tags:
        - dashboarditems
      summary: Create a dashboard item for `allmerchants`
      description: >-
        Create a dashboard item for monitoring a KPI over all accessible
        merchants.
      operationId: getItemsForAllMerchants
      consumes:
        - application/json
      produces:
        - application/json;charset=UTF-8
      parameters:
        - name: user_code
          in: path
          description: user_code
          required: true
          type: string
        - in: body
          name: dashboardItem
          description: dashboardItem
          required: true
          schema:
            $ref: '#/definitions/DashboardItem'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/LongId'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/users/{user_code}/merchants/allmerchants/dashboarditems.{format}':
    get:
      tags:
        - dashboarditems
      summary: Export the dash-board items of a user for all accessible merchants
      description: Export found dash-board items in specified format.
      operationId: exportDashboardItems
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: user_code
          in: path
          description: user_code
          required: true
          type: string
        - name: format
          in: path
          description: format
          required: true
          type: string
        - name: separator
          in: query
          description: >-
            A value separator to be used in CSV. Possible values: ',' and ';'.
            Default: ','
          required: false
          type: string
          default: ','
        - name: includeIndividualMerchant
          in: query
          description: >-
            A flag to specify whether the dash-board items defined for each
            accessible merchant individually should also be present in the
            exported data or not.Default: false
          required: false
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          schema:
            # type: file
            type: string
          examples:
            text/csv: |
              merchantCode,divisionCode,KPISection,KPICode,KPIName,From,To,KPIValueInAggregationCurrency,KPIValueInLocalCurrency,KPIValueInPercent,KPICount,Region,Method,Provider,Currency,
              Merchant1,all,Transactions,SC,SuccessfulCharges,2017-01-01T00:00:00+0100,2017-01-31T23:59:59+0100,100EUR,80USD,,54,Germany,Paypal,Paypal
              Merchant2,division1,Transactions,SC,SuccessfulCharges,2017-01-01T00:00:00+0100,2017-01-31T23:59:59+0100,50EUR,40USD,,23,France,MasterCard,Wirecard,all
              allMerchants,,Transactions,SuccessfulCharges,2017-01-01T00:00:00+0100,2017-01-31T23:59:59+0100,150EUR,120USD,,77,all,all,all,all
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/users/{user_code}/merchants/allmerchants/dashboarditems/{dashboarditem_id}':
    put:
      tags:
        - dashboarditems
      summary: Update a dashboard item for `allmerchants`
      description: >-
        Updates the KPI query specification of an existing dashboard item that
        the specified user monitors for all accessible merchants.
      operationId: updateItemForAllMerchants
      consumes:
        - application/json
      produces:
        - application/json;charset=UTF-8
      parameters:
        - name: user_code
          in: path
          description: user_code
          required: true
          type: string
        - name: dashboarditem_id
          in: path
          description: dashboarditem_id
          required: true
          type: string
        - in: body
          name: dashboardItem
          description: dashboardItem
          required: true
          schema:
            $ref: '#/definitions/DashboardItem'
      responses:
        '200':
          description: OK
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    delete:
      tags:
        - dashboarditems
      summary: Delete a dashboard item for `allmerchants`
      description: >-
        Deletes the KPI query specification of an existing dashboard item that
        the specified user would no longer like to monitor for all accessible
        merchant.
      operationId: deleteItemForAllMerchants
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: user_code
          in: path
          description: user_code
          required: true
          type: string
        - name: dashboarditem_id
          in: path
          description: dashboarditem_id
          required: true
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  '/users/{user_code}/merchants/{merchant_code}/dashboarditems':
    get:
      tags:
        - dashboarditems
      summary: Get all dashboard items
      description: >-
        Retrieves all dashboard items that the specified user has for the
        specified merchant. All items come pre-evaluated by default.
      operationId: getItemsForMerchant
      consumes:
        - application/json
      produces:
        - application/json;charset=UTF-8
      parameters:
        - name: user_code
          in: path
          description: user_code
          required: true
          type: string
        - name: merchant_code
          in: path
          description: merchant_code
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DashboardItem'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    post:
      tags:
        - dashboarditems
      summary: Create a dashboard item
      description: >-
        Creates a new dashboard item that the specified user would like to
        monitor for the specified merchant.
      operationId: createItemForMerchant
      consumes:
        - application/json
      produces:
        - application/json;charset=UTF-8
      parameters:
        - name: user_code
          in: path
          description: user_code
          required: true
          type: string
        - name: merchant_code
          in: path
          description: merchant_code
          required: true
          type: string
        - in: body
          name: dashboardItem
          description: dashboardItem
          required: true
          schema:
            $ref: '#/definitions/DashboardItem'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/LongId'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/users/{user_code}/merchants/{merchant_code}/dashboarditems.{format}':
    get:
      tags:
        - dashboarditems
      summary: Export the dash-board items of a user for a specific merchant
      description: Export found dash-board items in specified format.
      operationId: exportDashboardItems_1
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: user_code
          in: path
          description: user_code
          required: true
          type: string
        - name: merchant_code
          in: path
          description: merchant_code
          required: true
          type: string
        - name: format
          in: path
          description: format
          required: true
          type: string
        - name: separator
          in: query
          description: >-
            A value separator to be used in CSV. Possible values: ',' and ';'.
            Default: ','
          required: false
          type: string
          default: ','
      responses:
        '200':
          description: OK
          schema:
            # type: file
            type: string
          examples:
            text/csv: |
              merchantCode,divisionCode,KPISection,KPICode,KPIName,From,To,KPIValueInAggregationCurrency,KPIValueInLocalCurrency,KPIValueInPercent,KPICount,Region,Method,Provider,Currency,
              Merchant1,all,Transactions,SC,SuccessfulCharges,2017-01-01T00:00:00+0100,2017-01-31T23:59:59+0100,100EUR,80USD,,54,Germany,Paypal,Paypal
              Merchant2,division1,Transactions,SC,SuccessfulCharges,2017-01-01T00:00:00+0100,2017-01-31T23:59:59+0100,50EUR,40USD,,23,France,MasterCard,Wirecard,all
              allMerchants,,Transactions,SuccessfulCharges,2017-01-01T00:00:00+0100,2017-01-31T23:59:59+0100,150EUR,120USD,,77,all,all,all,all
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/users/{user_code}/merchants/{merchant_code}/dashboarditems/{dashboarditem_id}':
    put:
      tags:
        - dashboarditems
      summary: Update a dashboard item
      description: >-
        Updates the KPI query specification of an existing dashboard item that
        the specified user monitors for the specified merchant.
      operationId: updateItemForMerchant
      consumes:
        - application/json
      produces:
        - application/json;charset=UTF-8
      parameters:
        - name: user_code
          in: path
          description: user_code
          required: true
          type: string
        - name: merchant_code
          in: path
          description: merchant_code
          required: true
          type: string
        - name: dashboarditem_id
          in: path
          description: dashboarditem_id
          required: true
          type: string
        - in: body
          name: dashboardItem
          description: dashboardItem
          required: true
          schema:
            $ref: '#/definitions/DashboardItem'
      responses:
        '200':
          description: OK
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    delete:
      tags:
        - dashboarditems
      summary: Delete a dashboard item
      description: >-
        Deletes the KPI query specification of an existing dashboard item that
        the specified user would no longer like to monitor for the specified
        merchant.
      operationId: deleteItemForMerchant
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: user_code
          in: path
          description: user_code
          required: true
          type: string
        - name: merchant_code
          in: path
          description: merchant_code
          required: true
          type: string
        - name: dashboarditem_id
          in: path
          description: dashboarditem_id
          required: true
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  '/users/{user_code}/merchants/{merchant_code}/sections':
    get:
      tags:
        - sections
      summary: Get sections details
      description: >-
        Retrieves details about sections of KPIs that are accessible by this
        user for this merchant.
      operationId: getSections
      consumes:
        - application/json
      produces:
        - application/json;charset=UTF-8
      parameters:
        - name: user_code
          in: path
          description: user_code
          required: true
          type: string
        - name: merchant_code
          in: path
          description: merchant_code
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Section'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/users/{user_code}/merchants/{merchant_code}/sections/{section_code}':
    get:
      tags:
        - sections
      summary: Get section details
      description: >-
        Retrieves details about a concrete section of KPIs that is accessible by
        this user for this merchant.
      operationId: getSection
      consumes:
        - application/json
      produces:
        - application/json;charset=UTF-8
      parameters:
        - name: user_code
          in: path
          description: user_code
          required: true
          type: string
        - name: merchant_code
          in: path
          description: merchant_code
          required: true
          type: string
        - name: section_code
          in: path
          description: section_code
          required: true
          type: string
        - name: kpiChildLevels
          in: query
          description: kpiChildLevels
          required: false
          type: integer
          default: 0
          format: int32
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Section'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/users/{user_code}/merchants/{merchant_code}/sections/{section_code}/dimensions':
    get:
      tags:
        - sections
      summary: Get section dimensions
      description: >-
        Retrieves a list of general dimensions for this section. General
        dimensions are dimensions that are common for all KPIs in that section.
      operationId: getDimensions_1
      consumes:
        - application/json
      produces:
        - application/json;charset=UTF-8
      parameters:
        - name: user_code
          in: path
          description: user_code
          required: true
          type: string
        - name: merchant_code
          in: path
          description: merchant_code
          required: true
          type: string
        - name: section_code
          in: path
          description: section_code
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Dimension'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/users/{user_code}/merchants/{merchant_code}/sections/{section_code}/kpis':
    get:
      tags:
        - kpis
      summary: Get top-level KPIs
      description: >-
        Retrieves a list of all top-level KPIs that belong to the specified
        section and merchant. The KPIs might also be evaluated.
      operationId: kpis
      consumes:
        - application/json
      produces:
        - application/json;charset=UTF-8
      parameters:
        - name: user_code
          in: path
          description: user_code
          required: true
          type: string
        - name: merchant_code
          in: path
          description: merchant_code
          required: true
          type: string
        - name: section_code
          in: path
          description: section_code
          required: true
          type: string
        - name: kpiChildLevels
          in: query
          description: kpiChildLevels
          required: false
          type: integer
          default: 0
          format: int32
        - name: evaluate
          in: query
          description: evaluate
          required: false
          type: boolean
          default: false
        - name: kpiTrend
          in: query
          description: kpiTrend
          required: false
          type: boolean
          default: false
        - name: drillUp
          in: query
          description: drillUp
          required: false
          type: boolean
          default: false
        - name: drillDown
          in: query
          description: drillDown
          required: false
          type: boolean
          default: false
        - name: periodEnd
          in: query
          description: periodEnd
          required: false
          type: string
        - name: sliceUnit
          in: query
          description: sliceUnit
          required: false
          type: string
          default: day
          enum:
            - hour
            - calendarHour
            - day
            - calendarDay
            - week
            - calendarWeek
            - month
            - calendarMonth
            - calendarQuarter
            - year
            - calendarYear
        - name: sliceUnitCount
          in: query
          description: sliceUnitCount
          required: false
          type: integer
          default: 7
          format: int32
        - name: aggregationCurrency
          in: query
          description: aggregationCurrency
          required: false
          type: string
          default: EUR
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Kpi'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/users/{user_code}/merchants/{merchant_code}/sections/{section_code}/kpis/flatlist':
    get:
      tags:
        - kpis
      summary: Get KPI flat list
      description: >-
        Retrieves a flat list of all KPI that belong to the specified section
        and merchant.
      operationId: kpisFlatList
      consumes:
        - application/json
      produces:
        - application/json;charset=UTF-8
      parameters:
        - name: user_code
          in: path
          description: user_code
          required: true
          type: string
        - name: merchant_code
          in: path
          description: merchant_code
          required: true
          type: string
        - name: section_code
          in: path
          description: section_code
          required: true
          type: string
        - name: generalDims
          in: query
          description: generalDims
          required: false
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Kpi'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/users/{user_code}/merchants/{merchant_code}/sections/{section_code}/kpis/{kpi_code}':
    get:
      tags:
        - kpis
      summary: Get KPI
      description: >-
        Retrieves a KPI that belong to the specified section and merchant. The
        KPI might also be evaluated.
      operationId: getKpi
      consumes:
        - application/json
      produces:
        - application/json;charset=UTF-8
      parameters:
        - name: user_code
          in: path
          description: user_code
          required: true
          type: string
        - name: merchant_code
          in: path
          description: merchant_code
          required: true
          type: string
        - name: section_code
          in: path
          description: section_code
          required: true
          type: string
        - name: kpi_code
          in: path
          description: kpi_code
          required: true
          type: string
        - name: kpiChildLevels
          in: query
          description: kpiChildLevels
          required: false
          type: integer
          default: 1
          format: int32
        - name: evaluate
          in: query
          description: evaluate
          required: false
          type: boolean
          default: false
        - name: kpiTrend
          in: query
          description: kpiTrend
          required: false
          type: boolean
          default: false
        - name: drillUp
          in: query
          description: drillUp
          required: false
          type: boolean
          default: false
        - name: drillDown
          in: query
          description: drillDown
          required: false
          type: boolean
          default: false
        - name: generalDims
          in: query
          description: generalDims
          required: false
          type: boolean
          default: false
        - name: specificDims
          in: query
          description: specificDims
          required: false
          type: boolean
          default: false
        - name: periodEnd
          in: query
          description: periodEnd
          required: false
          type: string
        - name: sliceUnit
          in: query
          description: sliceUnit
          required: false
          type: string
          default: day
          enum:
            - hour
            - calendarHour
            - day
            - calendarDay
            - week
            - calendarWeek
            - month
            - calendarMonth
            - calendarQuarter
            - year
            - calendarYear
        - name: sliceUnitCount
          in: query
          description: sliceUnitCount
          required: false
          type: integer
          default: 7
          format: int32
        - name: aggregationCurrency
          in: query
          description: aggregationCurrency
          required: false
          type: string
          default: EUR
      responses:
        '200':
          description: OK
          schema:
            type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/users/{user_code}/merchants/{merchant_code}/sections/{section_code}/kpis/{kpi_code}/children':
    get:
      tags:
        - kpis
      summary: Get KPI children
      description: >-
        Retrieves a list of this KPI's children. The KPIs might also be
        evaluated.
      operationId: getKpiChildren
      consumes:
        - application/json
      produces:
        - application/json;charset=UTF-8
      parameters:
        - name: user_code
          in: path
          description: user_code
          required: true
          type: string
        - name: merchant_code
          in: path
          description: merchant_code
          required: true
          type: string
        - name: section_code
          in: path
          description: section_code
          required: true
          type: string
        - name: kpi_code
          in: path
          description: kpi_code
          required: true
          type: string
        - name: kpiChildLevels
          in: query
          description: kpiChildLevels
          required: false
          type: integer
          default: 1
          format: int32
        - name: evaluate
          in: query
          description: evaluate
          required: false
          type: boolean
          default: false
        - name: kpiTrend
          in: query
          description: kpiTrend
          required: false
          type: boolean
          default: false
        - name: drillUp
          in: query
          description: drillUp
          required: false
          type: boolean
          default: false
        - name: drillDown
          in: query
          description: drillDown
          required: false
          type: boolean
          default: false
        - name: generalDims
          in: query
          description: generalDims
          required: false
          type: boolean
          default: false
        - name: specificDims
          in: query
          description: specificDims
          required: false
          type: boolean
          default: false
        - name: periodEnd
          in: query
          description: periodEnd
          required: false
          type: string
        - name: sliceUnit
          in: query
          description: sliceUnit
          required: false
          type: string
          default: day
          enum:
            - hour
            - calendarHour
            - day
            - calendarDay
            - week
            - calendarWeek
            - month
            - calendarMonth
            - calendarQuarter
            - year
            - calendarYear
        - name: sliceUnitCount
          in: query
          description: sliceUnitCount
          required: false
          type: integer
          default: 7
          format: int32
        - name: aggregationCurrency
          in: query
          description: aggregationCurrency
          required: false
          type: string
          default: EUR
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Kpi'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/users/{user_code}/merchants/{merchant_code}/sections/{section_code}/kpis/{kpi_code}/dimensions':
    get:
      tags:
        - kpis
      summary: Get KPI dimensions
      description: >-
        Retrieves all general and specific dimensions of the specified KPI,
        separated into two lists.
      operationId: getDimensions
      consumes:
        - application/json
      produces:
        - application/json;charset=UTF-8
      parameters:
        - name: user_code
          in: path
          description: user_code
          required: true
          type: string
        - name: merchant_code
          in: path
          description: merchant_code
          required: true
          type: string
        - name: section_code
          in: path
          description: section_code
          required: true
          type: string
        - name: kpi_code
          in: path
          description: kpi_code
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/users/{user_code}/settings':
    get:
      tags:
        - settings
      summary: Get user settings
      description: Retrieves the latest user settings.
      operationId: getSettings
      consumes:
        - application/json
      produces:
        - application/json;charset=UTF-8
      parameters:
        - name: user_code
          in: path
          description: user_code
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/UserSettings'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    post:
      tags:
        - settings
      summary: Create user settings
      description: 'Creates the user settings, if such don''t exist already.'
      operationId: createSettings
      consumes:
        - application/json
      produces:
        - application/json;charset=UTF-8
      parameters:
        - name: user_code
          in: path
          description: user_code
          required: true
          type: string
        - in: body
          name: userSettings
          description: userSettings
          required: true
          schema:
            $ref: '#/definitions/UserSettings'
      responses:
        '200':
          description: OK
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    put:
      tags:
        - settings
      summary: Update user settings
      description: Updates the user settings.
      operationId: updateSettings
      consumes:
        - application/json
      produces:
        - application/json;charset=UTF-8
      parameters:
        - name: user_code
          in: path
          description: user_code
          required: true
          type: string
        - in: body
          name: userSettings
          description: userSettings
          required: true
          schema:
            $ref: '#/definitions/UserSettings'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/UserSettings'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
definitions:
  VisualIndicators:
    type: object
    properties:
      colour:
        type: string
        example: '#e5d6d5'
        description: >-
          Hex colour code to represent the change in KPI value. Regex:
          #[0-9a-fA-F]{6}.
      shape:
        type: integer
        format: int32
        example: 1
        description: >-
          Direction of KPI value trend. -1 - decrease, 0 - no change, 1 -
          increase.
        minimum: -1
        maximum: 1
    description: Describes the visual indicators in relation to a calculated KPI trend.
  KpiValue:
    type: object
    properties:
      amountInAggregationCurrency:
        description: >-
          KPI value in aggregated currency. The value is calculated by first
          converting the payment amounts of all matching transactions to the
          specified aggregation currency.
        $ref: '#/definitions/Measure'
      amountInLocalCurrency:
        description: >-
          KPI value in local currency. The value is available if all matching
          transactions happen to be in the same currency and that currency is
          different from the specified aggregation currency.
        $ref: '#/definitions/Measure'
      amountInPercent:
        description: KPI value in percentage.
        $ref: '#/definitions/Measure'
      quantity:
        type: integer
        format: int32
        example: 123
        description: >-
          The number of matched payment transactions used to calculate the KPI
          values.
      timePeriod:
        description: The time period over which the KPI value is calculated.
        $ref: '#/definitions/TimePeriod'
    description: Describes a KPI value.
  Kpi:
    type: object
    required:
      - code
      - label
    properties:
      children:
        type: array
        description: KPI children.
        items:
          $ref: '#/definitions/Kpi'
      code:
        type: string
        example: GSL
        description: Unique KPI code.
      drillDown:
        description: KPI drill-down values.
        $ref: '#/definitions/DrillData'
      drillUp:
        description: KPI drill-up values.
        $ref: '#/definitions/DrillData'
      generalDims:
        type: array
        description: List of general dimensions this KPI has.
        items:
          $ref: '#/definitions/Dimension'
      kpiTrend:
        description: >-
          KPI trend, containing visual indicators and the KPI value against
          which the trend was calculated.
        $ref: '#/definitions/KpiTrend'
      kpiValue:
        description: The value of a KPI.
        $ref: '#/definitions/KpiValue'
      label:
        type: string
        example: Gross Sales
        description: Display name of a KPI.
      operation:
        type: string
        example: +
        description: >-
          Arithmetic operation. Available when this KPI has a parent KPI and
          indicates how the value of this KPI contributes to the value of the
          parent KPI.
        enum:
          - +
          - '-'
      sections:
        type: array
        items:
          $ref: '#/definitions/Section'
      specificDims:
        type: array
        description: List of specific dimensions this KPI has.
        items:
          $ref: '#/definitions/Dimension'
    description: Describes a KPI (Key Performance Indicator).
  DemoAccountRequest:
    type: object
    properties:
      companyCountry:
        type: string
        example: Germany
        description: Country of company headquarters.
      companyIndustry:
        type: string
        example: Entertainment
        description: Company industry.
      companyName:
        type: string
        example: New Merchant GmbH
        description: Company name.
      companyWebSite:
        type: string
        example: 'https://www.newmerchant.com'
        description: Company web site.
      userEmail:
        type: string
        example: newuser@newmerchant.com
        description: Contact e-mail address.
    description: Describes the data required for requesting a demo merchant account.
  TimePeriod:
    type: object
    properties:
      periodEnd:
        type: string
        # currently provided example is not a valid RFC-3339 format
        # format: date-time
        example: '2016-06-06T06:06:06.666Europe/Berlin'
        description: >-
          The actual time of KPI value calculation, derived from the specified
          `periodEnd` query parameter.
      selectedPeriodEnd:
        type: string
        description: >-
          Describes the user-selected time period end. Corresponds to the
          `periodEnd` query parameter.
      sliceCount:
        type: integer
        format: int32
        example: 9
        description: >-
          The number of (sliceUnit * sliceUnitCount) this time period consists
          of.
      sliceUnit:
        type: string
        description: >-
          The time slice unit of this time period. Corresponds to the
          `sliceUnit` query parameter.
        enum:
          - hour
          - calendarHour
          - day
          - calendarDay
          - week
          - calendarWeek
          - month
          - calendarMonth
          - calendarQuarter
          - year
          - calendarYear
      sliceUnitCount:
        type: integer
        format: int32
        example: 7
        description: >-
          The number of slice units this time period consists of. Corresponds to
          the `sliceUnitCount` query parameter.
    description: >-
      Describes a time period in terms of units of measure, amount of units and
      a period end.
  UserSettings:
    type: object
    properties:
      aggregationCurrency:
        type: string
        example: EUR
        description: Preferred aggregation currency. Currency code in ISO 4217 format.
      defaultKpiMeasure:
        type: string
        example: value
        description: Preference for displayed KPI measure.
        enum:
          - value
          - count
      lastModified:
        type: string
        format: date-time
        description: The UTC time when the user settings were last modified.
      timeZone:
        type: string
        example: Europe/Berlin
        description: Preferred time zone ID.
    description: Describes front-end user settings
  DashboardItem:
    type: object
    properties:
      kpi:
        description: The KPI pre-evaluated for the latest KPI query specification.
        $ref: '#/definitions/Kpi'
      kpiQuery:
        description: >-
          The KPI query specification for this dashboard item used to generate
          evaluation requests.
        $ref: '#/definitions/KpiQuery'
      lastModified:
        type: string
        format: date-time
        description: The UTC time when this dashboard item was last modified.
      longId:
        type: string
        example: 47942aa2-f929-49ca-b1c5-0ced3d066d7c
        description: Unique identifier.
      position:
        type: integer
        format: int32
        example: 0
        description: The position of the dashboard item on a dashboard.
    description: Describes a dashboard item.
  KpiTrend:
    type: object
    properties:
      comparisonKpiValue:
        description: The comparison KPI value used for calculating the KPI trend.
        $ref: '#/definitions/KpiValue'
      trendMap:
        type: object
        example:
          '-1': '#c22d2d'
          '0': '#7a7a7a'
          '1': '#299928'
        description: >-
          KPI trend map containing matching pairs of visual indicators.The map
          provides hints to UI applications whether an increase of the KPI value
          should be looked at as a positive, negative or neutral event.
        additionalProperties:
          type: string
      visualIndicators:
        description: The visual indicators of the KPI trend.
        $ref: '#/definitions/VisualIndicators'
    description: Describes a KPI trend.
  Dimension:
    type: object
    properties:
      children:
        type: array
        items:
          $ref: '#/definitions/Datapoint'
        description: Data elements of the dimension.
      code:
        type: string
        example: currency
        description: Unique dimension code.
      label:
        type: string
        example: Currency
        description: Dimension display name.
    description: Describes a general or specific KPI dimension.
  Section:
    type: object
    properties:
      code:
        type: string
        example: TRANSACTIONS
        description: Unique section code.
      generalDims:
        type: array
        description: >-
          List of dimensions that are common for all KPIs that belong to this
          section.
        items:
          $ref: '#/definitions/Dimension'
      kpis:
        type: array
        description: List of KPIs that belong to the section.
        items:
          $ref: '#/definitions/Kpi'
      label:
        type: string
        example: Transactions
        description: Display label of a section.
    description: Describes a KPI section.
  KpiQuery:
    type: object
    properties:
      aggregationCurrency:
        type: string
        example: EUR
        description: >-
          Indicates the selected aggregation currency that should be used during
          KPI evaluation. Corresponds to the `aggregationCurrency` query
          parameter.
      drillDown:
        type: boolean
        example: true
        description: >-
          Boolean flag indicating whether the KPI drill-down should be evaluated
          or not. Corresponds to the `drillDown` query parameter
      drillUp:
        type: boolean
        example: true
        description: >-
          Boolean flag indicating whether the KPI drill-up should be evaluated
          or not. Corresponds to the `drillUp` query parameter
      evaluate:
        type: boolean
        example: true
        description: >-
          Boolean flag indicating whether the KPI should be evaluated or not at
          all. Corresponds to the `evaluate` query parameter
      generalDims:
        type: boolean
        example: true
        description: >-
          Boolean flag indicating whether the KPI general dimensions should be
          returned or not. Corresponds to the `generalDims` query parameter
      kpi:
        type: string
        example: GSL
        description: 'Selected KPI code. Corresponds to the `/{kpi_code}` path parameter.'
      kpiChildLevels:
        type: integer
        format: int32
        example: 2
        description: >-
          Indicates the depth of the KPI tree that should be returned.
          Corresponds to the `kpiChildLevels` query parameter
      kpiTrend:
        type: boolean
        example: true
        description: >-
          Boolean flag indicating whether the KPI trend should be evaluated or
          not. Corresponds to the `kpiTrend` query parameter
      section:
        type: string
        example: TRANSACTIONS
        description: >-
          Selected Section code the KPI belongs to. Corresponds to the
          `/{section_code}` path parameter
      selectedDims:
        type: object
        description: >-
          Contains all the selected general and specific dimension filters that
          should be applied during KPI evaluation.
        additionalProperties:
          type: array
          description: >-
            Map of `dimension code` (key) to a set of `dimension datapoints` (value).
          items:
            type: string
      selectedPeriod:
        description: >-
          Specifies the selected time period over which the KPI value should be
          calculated. Corresponds to the `periodEnd`, `sliceUnit` and
          `sliceUnitCount` query parameters.
        $ref: '#/definitions/TimePeriod'
      specificDims:
        type: boolean
        example: true
        description: >-
          Boolean flag indicating whether the specific dimensions of a KPI
          should be evaluated or not.
    description: Describes the set of filters to be applied during the evaluation of a KPI.
  Datapoint:
    type: object
    properties:
      code:
        type: string
        example: trigger
        description: Unique datapoint code.
      kpiValue:
        description: KPI value in context of this dimension data point/element.
        $ref: '#/definitions/KpiValue'
      label:
        type: string
        example: Trigger
        description: Datapoint isplay name.
    description: Description of a dimension data element.
  Merchant:
    type: object
    properties:
      code:
        type: string
        example: OPTILE
        description: Unique merchant code.
      defaultAggregationCurrencyCode:
        type: string
        example: EUR
        description: Merchant default aggregation currency code.
      divisions:
        type: array
        description: Merchant division(s).
        items:
          $ref: '#/definitions/Division'
      label:
        type: string
        example: optile GmbH
        description: Merchant display name.
      sections:
        type: array
        description: List of KPI sections that this merchant has.
        items:
          $ref: '#/definitions/Section'
    description: Describes a merchant.
  LongId:
    type: object
    properties:
      longId:
        type: string
        example: 9654e094-adfd-45c8-9afe-753a77844cd9
        description: Unique dashboard item identifier.
    description: Dashboard item identifier.
  Measure:
    type: object
    properties:
      unit:
        type: string
        example: EUR
        description: Measurement units - ISO 4127 currency codes or '%'.
      value:
        type: number
        format: double
        example: 123.456
        description: Measurement value.
    description: Description of a KPI measurement.
  DrillData:
    type: object
    properties:
      avgValue:
        description: The average value over the given drill-up/-down time period.
        $ref: '#/definitions/KpiValue'
      kpiValues:
        type: array
        description: >-
          List of KPI values for each time slice of the given drill-up/-down
          time period.
        items:
          $ref: '#/definitions/Kpi'
      maxValue:
        description: The maximal value over the given drill-up/-down time period.
        $ref: '#/definitions/KpiValue'
      minValue:
        description: The minimal value over the given drill-up/-down time period.
        $ref: '#/definitions/KpiValue'
      nextSelectedPeriod:
        description: >-
          The time period whose drill-up/down corresponds to shifting the
          current drill-up/down period forward in time (right shift).
        $ref: '#/definitions/TimePeriod'
      previousSelectedPeriod:
        description: >-
          The time period whose drill-up/down corresponds to shifting the
          current drill-up/down period back in time (left shift).
        $ref: '#/definitions/TimePeriod'
      selectedPeriodValueIndex:
        type: integer
        format: int32
        description: >-
          The index of the slice representing the originally selected (time
          period) KPI in the list of KPI slices.
      timePeriod:
        description: The drill-up/-down time period.
        $ref: '#/definitions/TimePeriod'
    description: >-
      Describes a KPI in the context of longer (drill-up) or shorter
      (drill-down) than the already selected KPI evaluation time period.
  Division:
    type: object
    properties:
      code:
        type: string
        example: MyDivisionA
        description: Division code.
      label:
        type: string
        example: My Division A
        description: Division display name.
    description: Describes a merchant division
