# Copyright(c) 2009-2023 Payoneer Germany GmbH
# All Rights Reserved https://www.payoneer.com
#
# This software is the property of Payoneer Germany GmbH. Distribution of this software
# without agreement in writing is strictly prohibited.
#
# This software may not be copied, used or distributed unless agreement has
# been received in full.
swagger: '2.0'

# Description
info:
  version: 1.39.0
  title: Server Payment API
  description: |
      This API is designed for Server-to-Server communication between merchants back-end system and
      Open Payment Gateway (OPG) platform. It provides possibilities to initialize and manage payment
      sessions (`LIST`), trigger payment attempts (`CHARGE`), capture pre-authorized amounts in
      deferred flows (`CLOSING`), initiate refunds (`PAYOUT`), manage stored payment details of
      registered buyers (registered customers and registered accounts) and other payment related
      functionality.

      Calls to this API require authorization: a token with `PAYMENT` role for LIVE transactions, or
      a token with `SANDBOX_PAYMENT` role for test transactions on SANDBOX environment.

      ## Current version
      * API service version: `1.39.0`
      * API model version: `1.101.0`
  contact:
    name: Payoneer Germany GmbH
    email: optilesupport@payoneer.com
    url: https://www.payoneer.com

host: api.sandbox.oscato.com
basePath: /api
schemes:
  - https
consumes:
  - application/json
  - application/vnd.optile.payment.enterprise-v1-extensible+json
produces:
  - application/vnd.optile.payment.enterprise-v1-extensible+json

# Groups and their descriptions
tags:
  - name: list
    description: Create and manage payment sessions
  - name: charge
    description: Perform and manage payments
  - name: payout
    description: Perform and manage payouts
  - name: resume
    description: Perform resume of paused payments
  - name: closing
    description: Perform and manage closings
  - name: preset
    description: Perform account preset
  - name: activation
    description: Perform and manage account activations
  - name: registration
    description: Perform and manage account registrations
  - name: express
    description: Express checkout flow
  - name: customer
    description: Get information about registered customers and their accounts

# Security definitions
securityDefinitions:
  payment_auth:
    description: Basic authentication with merchant code as user name and payment token as password
    type: basic

x-servers:
  - url: //api.sandbox.oscato.com/api
    description: Sandbox server
  - url: //api.live.oscato.com/api
    description: Live server

# URL patterns
paths:
  /lists:
    post:
      tags:
        - list
      summary: Create new payment session
      description: |
          Initializes a payment session by executing `LIST` operation.
      operationId: createPaymentSession
      security:
        - payment_auth: []
      parameters:
        - $ref: '#/parameters/ListViewOptions'
        - name: transaction
          in: body
          description: Transaction to initialize payment session
          required: true
          schema:
            $ref: '#/definitions/Transaction'
      responses:
        '200':
          description: List response with possible payment networks
          schema:
            $ref: '#/definitions/NetworkList'
        '401':
          description: Request is not authorized, wrong authentication token or missing payment role
        '422':
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
      x-code-samples:
        - lang: 'Simple'
          source: |
            {
              "transactionId": "tr0001245",
              "country": "DE",
              "customer": {
                "number": "u000635",
                "email": "james.blond@example.de"
              },
              "payment": {
                "reference": "shop.example.com 635/0001245",
                "amount": 25.99,
                "currency": "EUR"
              },
              "callback": {
                "returnUrl": "https://shop.example.com/payment/success.html",
                "cancelUrl": "https://shop.example.com/payment/failure.html",
                "notificationUrl": "https://shop.example.com/payment-status"
              },
              "style": {
                "client": "RESPONSIVE"
              }
            }
  /activations/{activationId}:
    get:
      tags:
        - activation
      summary: Get ACTIVATION details
      description: |
          Retrieves current state of an `ACTIVATION` process.
      operationId: getActivatedPaymentNetwork
      security:
        - payment_auth: []
      parameters:
        - $ref: '#/parameters/ListViewOptions'
        - name: activationId
          in: path
          type: string
          description: The `longId` of an `ACTIVATION` to retrieve
          required: true
      responses:
        '200':
          description: |
              `ACTIVATION` information with current state
          schema:
            $ref: '#/definitions/Activation'
        '401':
          description: Request is not authorized, wrong authentication token or missing payment role
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /lists/{listId}:
    get:
      tags:
        - list
      summary: Get LIST session details
      description: |
          Retrieves current state of a `LIST` session.
      operationId: getPaymentSession
      security:
        - payment_auth: []
      parameters:
        - name: listId
          in: path
          type: string
          description: The `longId` of a `LIST` session to retrieve
          required: true
        - $ref: '#/parameters/ListViewOptions'
      responses:
        '200':
          description: |
              List details with its current state
          schema:
            $ref: '#/definitions/NetworkList'
        '401':
          description: Request is not authorized, wrong authentication token or missing payment role
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
    put:
      tags:
        - list
      summary: Update LIST session details
      description: |
          Allows to update some parts of transaction information (customer, payment, products, shipping) of initialized `LIST` session.
      operationId: updatePaymentSession
      security:
        - payment_auth: []
      parameters:
        - $ref: '#/parameters/ListViewOptions'
        - name: listId
          in: path
          type: string
          description: The `longId` of a `LIST` session to update
          required: true
        - name: transaction
          in: body
          description: Transaction to update list session
          required: true
          schema:
            $ref: '#/definitions/Transaction'
      responses:
        '200':
          description: Updated list response with possible payment networks
          schema:
            $ref: '#/definitions/NetworkList'
        '401':
          description: Request is not authorized, wrong authentication token or missing payment role
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
    delete:
      tags:
        - list
      summary: Cancel LIST session
      description: |
          Requests cancelation of a `LIST` session.
      operationId: cancelPaymentSession
      security:
        - payment_auth: []
      parameters:
        - name: listId
          in: path
          type: string
          description: The `longId` of a `LIST` session to cancel
          required: true
      responses:
        '200':
          description: Cancelation of `LIST` session is accepted
          schema:
            $ref: '#/definitions/NetworkList'
        '401':
          description: Request is not authorized, wrong authentication token or missing payment role
        '404':
          description: Not Found
        '409':
          description: The `LIST` session is already cancelled
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /lists/{listId}/{network}:
    get:
      tags:
        - list
      summary: Get payment network of LIST
      description: |
          Retrieves information about payment network in scope of active `LIST` session.
      operationId: getPaymentNetwork
      security:
        - payment_auth: []
      parameters:
        - $ref: '#/parameters/ListViewOptions'
        - name: listId
          in: path
          type: string
          description: The `longId` of a `LIST` session
          required: true
        - name: network
          in: path
          type: string
          description: Network code of network to retrieve
          required: true
      responses:
        '200':
          description: Applicable network resource
          schema:
            $ref: '#/definitions/ApplicableNetwork'
        '401':
          description: Request is not authorized, wrong authentication token or missing payment role
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
    put:
      tags:
        - list
      summary: Select payment network of LIST
      description: |
          Pre-selects a payment network in scope of active `LIST` session.
      operationId: selectPaymentNetwork
      security:
        - payment_auth: []
      parameters:
        - $ref: '#/parameters/ListViewOptions'
        - name: listId
          in: path
          type: string
          description: The `longId` of a `LIST` session
          required: true
        - name: network
          in: path
          type: string
          description: The code of selected payment network
          required: true
        - name: networkSelection
          in: body
          description: Holds information that network should be selected or unselected
          required: true
          schema:
            $ref: '#/definitions/NetworkSelection'
      responses:
        '200':
          description: Applicable network resource
          schema:
            $ref: '#/definitions/ApplicableNetwork'
        '401':
          description: Request is not authorized, wrong authentication token or missing payment role
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /lists/{listId}/charge:
    post:
      tags:
        - charge
      summary: Pay with preset network or account
      description: |
          Initiates `CHARGE` operation in scope of `LIST` session with preset payment network or registered account.

          Note: This method of payment should be used if `LIST` session was initialized with `operationType` of `PRESET`.
      operationId: payWithSelectedPaymentNetwork
      security:
        - payment_auth: []
      parameters:
        - name: listId
          in: path
          type: string
          description: The `longId` of a `LIST` session to complete a `CHARGE` operation
          required: true
        - name: operation
          in: body
          description: Holds information for `CHARGE` operation with preset payment network
          required: true
          schema:
            $ref: '#/definitions/Operation'
      responses:
        '200':
          description: Result of `CHARGE` operation execution with interaction information
          schema:
            $ref: '#/definitions/Charge'
        '401':
          description: Request is not authorized, wrong authentication token or missing payment role
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /lists/{listId}/{network}/onselect:
    post:
      tags:
        - list
      summary: Event action - select payment network
      description: |
        Action callback which should be executed when customer selects payment network for next payment action.
      operationId: onselectPaymentNetwork
      security:
        - payment_auth: []
      parameters:
        - name: listId
          in: path
          type: string
          description: The `longId` of a `LIST` session to complete network selection callback
          required: true
        - name: network
          in: path
          type: string
          description: The code of selected payment network
          required: true
        - name: operation
          in: body
          description: Holds information required to select payment network and initialize network form to process payment action
          required: true
          schema:
            $ref: '#/definitions/Operation'
      responses:
        '200':
          description: |
            Result of `onselect` execution with current state. This result will contain `providerResponse` which should be used by network
            form to initailize it to process next payment action.
          schema:
            $ref: '#/definitions/OperationResult'
        '401':
          description: Request is not authorized, wrong authentication token or missing payment role
        '404':
          description: Not Found, `LIST` session does not exist
        '422':
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /lists/{listId}/{network}/charge:
    post:
      tags:
        - charge
      summary: Pay with selected payment network
      description: |
          Initiates `CHARGE` operation in scope of `LIST` session with selected payment network.
      operationId: payWithPaymentNetwork
      security:
        - payment_auth: []
      parameters:
        - name: listId
          in: path
          type: string
          description: The `longId` of a `LIST` session to complete a `CHARGE` operation
          required: true
        - name: network
          in: path
          type: string
          description: The code of selected payment network
          required: true
        - name: operation
          in: body
          description: Holds information for `CHARGE` operation with selected payment network
          required: true
          schema:
            $ref: '#/definitions/Operation'
      responses:
        '200':
          description: Result of `CHARGE` operation execution with current state
          schema:
            $ref: '#/definitions/Charge'
        '401':
          description: Request is not authorized, wrong authentication token or missing payment role
        '404':
          description: Not Found, `LIST` session does not exist
        '422':
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /lists/{listId}/{network}/activate:
    post:
      tags:
        - activation
      summary: Activate selected payment network
      description: |
          Initiates `ACTIVATION` operation in scope of `LIST` session with selected payment network and collected account-input-data.
      operationId: activatePaymentNetwork
      security:
        - payment_auth: []
      parameters:
        - $ref: '#/parameters/ListViewOptions'
        - name: listId
          in: path
          type: string
          description: The `longId` of a `LIST` session to complete an `ACTIVATION` operation
          required: true
        - name: network
          in: path
          type: string
          description: The code of selected payment network
          required: true
        - name: operation
          in: body
          description: Holds information for `ACTIVATION` operation with selected payment network
          required: true
          schema:
            $ref: '#/definitions/Operation'
      responses:
        '200':
          description: Result of `ACTIVATION` operation execution with current state
          schema:
            $ref: '#/definitions/Activation'
        '401':
          description: Request is not authorized, wrong authentication token or missing payment role
        '404':
          description: Not Found, `LIST` session does not exist
        '422':
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /lists/{listId}/{network}/payout:
    post:
      tags:
        - payout
      summary: Payout with selected network
      operationId: payoutWithPaymentNetwork
      description: |
          Initiates `PAYOUT` operation in scope of `LIST` session with selected payment network.

          Note: This only works if `LIST` session was initialized for `PAYOUT`.
      security:
        - payment_auth: []
      parameters:
        - name: listId
          in: path
          type: string
          description: The `longId` of a `LIST` session to complete a `PAYOUT` operation
          required: true
        - name: network
          in: path
          type: string
          description: The code of selected payment network
          required: true
        - name: operation
          in: body
          description: Holds information for `PAYOUT` operation with selected payment network
          required: true
          schema:
            $ref: '#/definitions/Operation'
      responses:
        '200':
          description: Result of `PAYOUT` operation execution with current state
          schema:
            $ref: '#/definitions/Payout'
        '401':
          description: Request is not authorized, wrong authentication token or missing payment role
        '404':
          description: Not Found, `LIST` session does not exist
        '422':
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /lists/{listId}/{network}/preset:
    post:
      tags:
        - preset
      summary: Preset payment network of LIST
      operationId: presetPaymentNetwork
      description: |
          Initiates `PRESET` operation in scope of `LIST` session with selected payment network and collected account-input-data.

          Note: This is only available if `LIST` session was initialized with `operationType` of `PRESET`,
          or with deprecated `presetFirst` option set to `true`.
      security:
        - payment_auth: []
      parameters:
        - name: listId
          in: path
          type: string
          description: The `longId` of a `LIST` session to complete a `PRESET` operation
          required: true
        - name: network
          in: path
          type: string
          description: The code of selected payment network
          required: true
        - name: operation
          in: body
          description: Holds information for `PRESET` operation with selected payment network
          required: true
          schema:
            $ref: '#/definitions/Operation'
      responses:
        '200':
          description: Result of `PRESET` operation execution with interaction information
          schema:
            $ref: '#/definitions/Preset'
        '401':
          description: Request is not authorized, wrong authentication token or missing payment role
        '404':
          description: Not Found, `LIST` session does not exist
        '422':
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /lists/{listId}/{network}/register:
    post:
      tags:
        - registration
      summary: Register new account
      operationId: registerPaymentAccount
      description: |
          Register provided account to use it as registered network later.

          Note: This is only available if `LIST` session was initialized with `operationType` of `UPDATE`,
          or with deprecated `updateOnly` option set to `true`.
      security:
        - payment_auth: []
      parameters:
        - name: listId
          in: path
          type: string
          description: The `longId` of a `LIST` session to complete an account registration
          required: true
        - name: network
          in: path
          type: string
          description: The code of payment network to register
          required: true
        - name: operation
          in: body
          description: Holds account information to register selected payment network
          required: true
          schema:
            $ref: '#/definitions/Operation'
      responses:
        '200':
          description: Result of `REGISTRATION` operation execution with interaction information
          schema:
            $ref: '#/definitions/OperationResult'
        '401':
          description: Request is not authorized, wrong authentication token or missing payment role
        '404':
          description: Not Found, `LIST` session does not exist
        '422':
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /lists/{listId}/accounts/{accountId}:
    get:
      tags:
        - list
      summary: Get registered account of LIST
      operationId: getPaymentAccount
      description: |
          Gets customer registered account in scope of initialized `LIST` session.
      security:
        - payment_auth: []
      parameters:
        - $ref: '#/parameters/ListViewOptions'
        - name: listId
          in: path
          type: string
          description: The `longId` of a `LIST` session
          required: true
        - name: accountId
          in: path
          type: string
          description: The ID of account from registered customer
          required: true
      responses:
        '200':
          description: Registered account resource
          schema:
            $ref: '#/definitions/AccountRegistration'
        '404':
          description: Not Found, `LIST` session does not exist
    put:
      tags:
        - list
      summary: Select registered account of LIST
      operationId: selectPaymentAccount
      description: |
          Pre-selects a registered account in scope of active `LIST` session.
      security:
        - payment_auth: []
      parameters:
        - $ref: '#/parameters/ListViewOptions'
        - name: listId
          in: path
          type: string
          description: The `longId` of a `LIST` session
          required: true
        - name: accountId
          in: path
          type: string
          description: The ID of account from registered customer to be selected
          required: true
        - name: networkSelection
          in: body
          description: Holds information that network should be selected or unselected
          required: true
          schema:
            $ref: '#/definitions/NetworkSelection'
      responses:
        '200':
          description: Registered account resource
          schema:
            $ref: '#/definitions/AccountRegistration'
        '404':
          description: Not Found, `LIST` session does not exist
    delete:
      tags:
        - registration
      summary: Delete registered account via LIST
      description: |
          Delete all existing payment service provider registrations of selected registration type.

          Note that by default `LIST` session must been initialized with `operationType` of `UPDATE`,
          or with deprecated `updateOnly` option set to `true` in order to allow this operation.

          If account deletion should be allowed during standard checkout flow (i.e. `operationType` of `CHARGE`)
          the `allowDelete` option should be set to `true` when `LIST` session is created.

          By default a type of registration to delete is detected from `LIST` channel. Optionally de-registration
          instructions can be provided in the body of this request with following logic:
            * If body is present
              * and `deleteRegistration` is set to `true` then account registration is deleted
              * and `deleteRecurrence` is set to `true` then recurring registration is deleted
            * If body is absent
              * and `LIST` channel is set to `RECURRING` then recurring registration is deleted
              * and `LIST` channel is anything but `RECURRING` then account registration is deleted
      operationId: unregisterPaymentAccount
      security:
        - payment_auth: []
      parameters:
        - name: listId
          in: path
          type: string
          description: The `longId` of a `LIST` session
          required: true
        - name: accountId
          in: path
          type: string
          description: The ID of account to delete
          required: true
        - name: deregistrationData
          in: body
          description: Holds de-registration instructions about what types of registrations should be deleted. This information is optional
            and will be auto-detected based on channel if it is not provided.
          required: false
          schema:
            $ref: '#/definitions/DeregistrationData'
      responses:
        '200':
          description: Result of `DELETE` operation execution with interaction information
          schema:
            $ref: '#/definitions/OperationResult'
        '404':
          description: Not Found, `LIST` session does not exist
  /lists/{listId}/accounts/{accountId}/onselect:
    post:
      tags:
        - list
      summary: Event action - select registered account
      description: |
        Action callback which should be executed when customer selects registered account for next payment action.
      operationId: onselectPaymentAccount
      security:
        - payment_auth: []
      parameters:
        - name: listId
          in: path
          type: string
          description: The `longId` of a `LIST` session to complete account selection callback
          required: true
        - name: accountId
          in: path
          type: string
          description: The ID of account from registered customer to perform account selection callback
          required: true
        - name: operation
          in: body
          description: Holds information required to select registered account and initialize payment form to process payment action
          required: true
          schema:
            $ref: '#/definitions/Operation'
      responses:
        '200':
          description: |
            Result of `onselect` callback with current state. This result will contain `providerResponse` which should be used by account
            form to initailize it to process next payment action.
          schema:
            $ref: '#/definitions/OperationResult'
        '401':
          description: Request is not authorized, wrong authentication token or missing payment role
        '404':
          description: Not Found, `LIST` session does not exist
        '422':
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /lists/{listId}/accounts/{accountId}/charge:
    post:
      tags:
        - charge
      summary: Pay with selected registered account
      description: |
          Initiates `CHARGE` operation in scope of `LIST` session with selected registered account.

          Note: This is only available for registered customers.
      operationId: payWithPaymentAccount
      security:
        - payment_auth: []
      parameters:
        - name: listId
          in: path
          type: string
          description: The `longId` of a `LIST` session to complete a `CHARGE` operation
          required: true
        - name: accountId
          in: path
          type: string
          description: The ID of account from registered customer to perform a `CHARGE` operation
          required: true
        - name: operation
          in: body
          description: Holds information for `CHARGE` operation with selected registered account
          required: true
          schema:
            $ref: '#/definitions/Operation'
      responses:
        '200':
          description: Result of `CHARGE` operation execution with current state
          schema:
            $ref: '#/definitions/Charge'
        '401':
          description: Request is not authorized, wrong authentication token or missing payment role
        '404':
          description: Not Found, `LIST` session does not exist
        '422':
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /lists/{listId}/accounts/{accountId}/payout:
    post:
      tags:
        - payout
      summary: Payout with selected registered account
      description: |
          Initiates `PAYOUT` operation in scope of `LIST` session with selected registered account.

          Note: This is only available for registered customers and works if `LIST` was initialized for `PAYOUT`.
      operationId: payoutWithPaymentAccount
      security:
        - payment_auth: []
      parameters:
        - name: listId
          in: path
          type: string
          description: The `longId` of a `LIST` session to complete a `PAYOUT` operation
          required: true
        - name: accountId
          in: path
          type: string
          description: The ID of account from registered customer to perform a `PAYOUT` operation
          required: true
        - name: operation
          in: body
          description: Holds information for `PAYOUT` operation with selected payment network
          required: true
          schema:
            $ref: '#/definitions/Operation'
      responses:
        '200':
          description: Result of `PAYOUT` operation execution with current state
          schema:
            $ref: '#/definitions/Payout'
        '401':
          description: Request is not authorized, wrong authentication token or missing payment role
        '404':
          description: Not Found, `LIST` session does not exist
        '422':
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /lists/{listId}/accounts/{accountId}/preset:
    post:
      tags:
        - preset
      summary: Preset registered account of LIST
      description: |
          Initiates `PRESET` operation in scope of `LIST` session with selected registered account.

          Note: This is only available for registered customers and works if `LIST` session was initialized
          with `operationType` of `PRESET`, or with deprecated `presetFirst` option set to `true`.
      operationId: presetPaymentAccount
      security:
        - payment_auth: []
      parameters:
        - name: listId
          in: path
          type: string
          description: The `longId` of a `LIST` session to complete a `CHARGE` operation
          required: true
        - name: accountId
          in: path
          type: string
          description: The ID of account from registered customer to perform a `PRESET` operation
          required: true
        - name: operation
          in: body
          description: Holds information for `PRESET` operation with selected payment network
          required: true
          schema:
            $ref: '#/definitions/Operation'
      responses:
        '200':
          description: Result of `PRESET` operation execution with interaction information
          schema:
            $ref: '#/definitions/Preset'
        '401':
          description: Request is not authorized, wrong authentication token or missing payment role
        '404':
          description: Not Found, `LIST` session does not exist
        '422':
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /lists/{listId}/accounts/{accountId}/update:
    post:
      tags:
        - registration
      summary: Update selected registered account
      description: |
          Updates selected registered account.

          Note: This is only available for registered customers and `LIST` sessions that was initialized with `operationType` of `UPDATE`,
          or with deprecated `updateOnly` option set to `true`.
      operationId: updatePaymentAccount
      security:
        - payment_auth: []
      parameters:
        - name: listId
          in: path
          type: string
          description: The `longId` of a `LIST` session to complete an `UPDATE` operation
          required: true
        - name: accountId
          in: path
          type: string
          description: The ID of account from registered customer to perform an `UPDATE` operation
          required: true
        - name: operation
          in: body
          description: Holds new account information for `UPDATE` operation with selected payment network
          required: true
          schema:
            $ref: '#/definitions/Operation'
      responses:
        '200':
          description: Result of `UPDATE` operation execution with interaction information
          schema:
            $ref: '#/definitions/OperationResult'
        '401':
          description: Request is not authorized, wrong authentication token or missing payment role
        '404':
          description: Not Found, `LIST` session does not exist
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /lists/{listId}/accounts/{accountId}/setpreferred:
    post:
      tags:
        - registration
      summary: Sets registered account as preferred
      description: |
          Sets registered account as preferred for next recurring charges.

          Note: This is only available for registered customers and `LIST` sessions that was initialized with `operationType` of `UPDATE`,
          or with deprecated `updateOnly` option set to `true`.
      operationId: setPaymentAccountAsPreferred
      security:
        - payment_auth: []
      parameters:
        - name: listId
          in: path
          type: string
          description: The `longId` of a `LIST` session to complete an `UPDATE` operation
          required: true
        - name: accountId
          in: path
          type: string
          description: The ID of account from registered customer to perform an `UPDATE` operation to set this account as preferred one
          required: true
      responses:
        '200':
          description: Result of `UPDATE` operation execution with interaction information
          schema:
            $ref: '#/definitions/OperationResult'
        '401':
          description: Request is not authorized, wrong authentication token or missing payment role
        '404':
          description: Not Found, `LIST` session does not exist
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /charges:
    post:
      tags:
        - charge
      summary: Stand-alone payment with selected payment network
      description: |
          Performs stand-alone `CHARGE` with predefined payment network and account without `LIST` session.
      operationId: standalonePayment
      security:
        - payment_auth: []
      parameters:
        - name: transaction
          in: body
          description: Holds transaction information for stand-alone `CHARGE` operation
          required: true
          schema:
            $ref: '#/definitions/StandaloneTransaction'
      responses:
        '200':
          description: |
              `CHARGE` operation information with current state
          schema:
            $ref: '#/definitions/Charge'
        '401':
          description: Request is not authorized, wrong authentication token or missing payment role
        '422':
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /charges/{chargeId}:
    get:
      tags:
        - charge
      summary: Get CHARGE operation details
      description: |
          Retrieves current state of a `CHARGE` operation.
      operationId: getCharge
      security:
        - payment_auth: []
      parameters:
        - name: chargeId
          in: path
          type: string
          description: The `longId` of a `CHARGE` operation to retrieve
          required: true
      responses:
        '200':
          description: |
              `CHARGE` information with current state
          schema:
            $ref: '#/definitions/Charge'
        '401':
          description: Request is not authorized, wrong authentication token or missing payment role
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
    delete:
      tags:
        - charge
      summary: Cancel deferred CHARGE
      description: |
          Requests cancelation of a deferred `CHARGE` operation.
      operationId: cancelCharge
      security:
        - payment_auth: []
      parameters:
        - name: chargeId
          in: path
          type: string
          description: The `longId` of a deferred `CHARGE` operation to cancel
          required: true
      responses:
        '200':
          description: Cancelation of deferred `CHARGE` operation is accepted
        '401':
          description: Request is not authorized, wrong authentication token or missing payment role
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /charges/{chargeId}/closing:
    post:
      tags:
        - closing
      summary: Close deferred CHARGE
      description: |
          Initiates `CLOSING` operation of deferred `CHARGE`.
      operationId: closeCharge
      security:
        - payment_auth: []
      parameters:
        - name: chargeId
          in: path
          type: string
          description: The `longId` of a deferred `CHARGE` operation to close
          required: true
        - name: operation
          in: body
          description: Holds information for `CLOSING` operation
          required: true
          schema:
            $ref: '#/definitions/Operation'
      responses:
        '200':
          description: Result of `CLOSING` operation execution with current state
          schema:
            $ref: '#/definitions/Charge'
        '401':
          description: Request is not authorized, wrong authentication token or missing payment role
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /charges/{chargeId}/payout:
    post:
      tags:
        - payout
      summary: Payout of successful CHARGE
      description: |
          Initiates `PAYOUT` operation of successful `CHARGE`.
      operationId: payoutOnCharge
      security:
        - payment_auth: []
      parameters:
        - name: chargeId
          in: path
          type: string
          description: The `longId` of a successful `CHARGE` or `CLOSING` operation to payout (to refund)
          required: true
        - name: operation
          in: body
          description: Holds information for `PAYOUT` operation
          required: true
          schema:
            $ref: '#/definitions/Operation'
      responses:
        '200':
          description: Result of `PAYOUT` operation execution with current state
          schema:
            $ref: '#/definitions/Payout'
        '401':
          description: Request is not authorized, wrong authentication token or missing payment role
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /charges/{chargeId}/resume:
    put:
      tags:
        - resume
      summary: Resume paused CHARGE
      description: |
        Initiates `RESUME` operation of paused `CHARGE`.
      operationId: resumeCharge
      security:
        - payment_auth: []
      parameters:
        - name: chargeId
          in: path
          type: string
          description: The `longId` of a `CHARGE` operation to resume
          required: true
        - name: operation
          in: body
          description: Holds information for `RESUME` operation
          required: true
          schema:
            $ref: '#/definitions/Operation'
      responses:
        '200':
          description: Result of `CHARGE` operation after it was continued by `resume` action
          schema:
            $ref: '#/definitions/Charge'
        '401':
          description: Request is not authorized, wrong authentication token or missing payment role
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /payouts/{payoutId}:
    get:
      tags:
        - payout
      summary: Gets PAYOUT operation details
      description: |
          Retrieves current state of a `PAYOUT` operation.
      operationId: getPayout
      security:
        - payment_auth: []
      parameters:
        - name: payoutId
          in: path
          type: string
          description: The `longId` of a `PAYOUT` operation to retrieve
          required: true
      responses:
        '200':
          description: |
              `PAYOUT` information with current state
          schema:
            $ref: '#/definitions/Payout'
        '401':
          description: Request is not authorized, wrong authentication token or missing payment role
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /payouts/{payoutId}/closing:
    post:
      tags:
        - closing
      summary: Close deferred PAYOUT
      description: |
          Initiates `CLOSING` operation of deferred `PAYOUT`.
      operationId: closePayout
      security:
        - payment_auth: []
      parameters:
        - name: payoutId
          in: path
          type: string
          description: The `longId` of a deferred `PAYOUT` operation to close
          required: true
        - name: operation
          in: body
          description: Holds information for `CLOSING` operation
          required: true
          schema:
            $ref: '#/definitions/Operation'
      responses:
        '200':
          description: Result of `CLOSING` operation execution with current state
          schema:
            $ref: '#/definitions/Charge'
        '401':
          description: Request is not authorized, wrong authentication token or missing payment role
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /express:
    get:
      tags:
        - express
      summary: Get express checkout networks
      description: |
          Retrieves details about available payment networks that can be offered to a customer during express checkout flow.
      operationId: getExpressList
      security:
        - payment_auth: []
      parameters:
        - name: country
          in: query
          type: string
          required: true
          description: |
              Country code of the payment in ISO 3166-1 (alpha-2) format, e.g "DE", "FR", "US", "GB", etc.
        - name: division
          in: query
          type: string
          required: false
          description: |
              Merchant division of the payment. There is always one default division that will be used if this property is undefined.
              Different divisions can be configured with different setup, contracts, payment routes and network options.
              Division names are case-sensitive (for example: Default needs to start with a capital letter).
        - name: integration
          in: query
          type: string
          required: false
          enum:
            - DISPLAY_NATIVE
            - PURE_NATIVE
          description: |
              Defines integration scenario of the payment, default is `DISPLAY_NATIVE`. Selected scenario has an impact on operation
              URLs within response, they will be adjusted for selected integration scenario.
      responses:
        '200':
          description: Express list response with possible payment networks
          schema:
            $ref: '#/definitions/ExpressList'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorInfo'
        '401':
          description: Request is not authorized, wrong authentication token or missing payment role
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /express/{network}/preset:
    post:
      tags:
        - express
      summary: Create express preset session
      description: |
          Initializes an express preset payment session with selected payment network.
      operationId: createExpressPreset
      security:
        - payment_auth: []
      parameters:
        - name: network
          in: path
          type: string
          description: The code of selected payment network
          required: true
        - name: transaction
          in: body
          description: Express preset transaction details
          required: true
          schema:
            $ref: '#/definitions/ExpressTransaction'
      responses:
        '200':
          description: Express preset session with its current state
          schema:
            $ref: '#/definitions/ExpressPreset'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorInfo'
        '401':
          description: Request is not authorized, wrong authentication token or missing payment role
        '422':
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /presets/{presetId}:
    get:
      tags:
        - express
      summary: Get express preset details
      description: |
          Retrieves current state of `EXPRESSPRESET` session.
      operationId: getExpressPreset
      security:
        - payment_auth: []
      parameters:
        - name: presetId
          in: path
          type: string
          description: The `longId` of an `EXPRESSPRESET` session to retrieve
          required: true
      responses:
        '200':
          description: Express preset session with its current state
          schema:
            $ref: '#/definitions/ExpressPreset'
        '401':
          description: Request is not authorized, wrong authentication token or missing payment role
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
    put:
      tags:
        - express
      summary: Update express preset session
      description: |
          Performs intermediate update of open `EXPRESSPRESET` session.
      operationId: updateExpressPreset
      security:
        - payment_auth: []
      parameters:
        - name: presetId
          in: path
          type: string
          description: The `longId` of an `EXPRESSPRESET` session to update
          required: true
        - name: presetUpdate
          in: body
          description: Express preset update details
          required: true
          schema:
            $ref: '#/definitions/ExpressPresetUpdate'
      responses:
        '200':
          description: Updated express preset session with its current state
          schema:
            $ref: '#/definitions/ExpressPreset'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorInfo'
        '401':
          description: Request is not authorized, wrong authentication token or missing payment role
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /presets/{presetId}/confirm:
    post:
      tags:
        - express
      summary: Confirm express preset session
      description: |
          Performs final update and confirmation of open `EXPRESSPRESET` session. This action is passed to the PSP with final payment
          and transaction details that merchant and customer agreed upon.

          Note: empty content is interpreted as no changes to the current express preset state and customer has accepted and confirmed that.
      operationId: confirmExpressPreset
      security:
        - payment_auth: []
      parameters:
        - name: presetId
          in: path
          type: string
          description: The `longId` of an `EXPRESSPRESET` session to confirm
          required: true
        - name: presetUpdate
          in: body
          description: Express preset update and confirmation details
          required: true
          schema:
            $ref: '#/definitions/ExpressPresetUpdate'
      responses:
        '200':
          description: Updated express preset session with its current state
          schema:
            $ref: '#/definitions/ExpressPreset'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorInfo'
        '401':
          description: Request is not authorized, wrong authentication token or missing payment role
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /presets/{presetId}/charge:
    post:
      tags:
        - charge
      summary: Pay with confirmed express preset
      description: |
          Initiates `CHARGE` operation in scope of confirmed `EXPRESSPRESET` session.
      operationId: payWithExpressPreset
      security:
        - payment_auth: []
      parameters:
        - name: presetId
          in: path
          type: string
          description: The `longId` of a confirmed `EXPRESSPRESET` session to pay with
          required: true
        - name: operation
          in: body
          description: Holds information for `CHARGE` operation, empty content for a common use case
          required: true
          schema:
            $ref: '#/definitions/ExpressOperation'
      responses:
        '200':
          description: Result of `CHARGE` operation execution with current state
          schema:
            $ref: '#/definitions/Charge'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorInfo'
        '401':
          description: Request is not authorized, wrong authentication token or missing payment role
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/ErrorInfo'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /customers/{customerId}:
    get:
      tags:
        - customer
      summary: Get customer details
      description: |
          Gets customer information based on customer registration ID. Customer info includes customer's data like
          names, phones, addresses as well active registered accounts.

          Note: This is only available for customers whose accounts were registered at OPG during account registration process.
      operationId: getCustomerRegistration
      security:
        - payment_auth: []
      parameters:
        - name: customerId
          in: path
          type: string
          description: The ID of a customer registered at optile
          required: true
      responses:
        '200':
          description: Customer information
          schema:
            $ref: '#/definitions/CustomerRegistration'
        '401':
          description: Request is not authorized, wrong authentication token or missing payment role
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
    delete:
      tags:
        - customer
      summary: Delete customer registration
      description: Deletes customer registration based on customer registration ID.
      operationId: deleteCustomerRegistration
      security:
        - payment_auth: []
      parameters:
        - name: customerId
          in: path
          type: string
          description: The ID of a customer registered at optile
          required: true
      responses:
        '200':
          description: Customer registration record with 'DELETED' state
          schema:
            $ref: '#/definitions/CustomerRegistration'
        '401':
          description: Request is not authorized, wrong authentication token or missing payment role
        '404':
          description: If customer is not found or is inactive
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /customers/{customerId}/accounts:
    get:
      tags:
        - customer
      summary: Get customer accounts
      description: |
          Gets customer's registered accounts
      operationId: getCustomerPaymentAccounts
      security:
        - payment_auth: []
      parameters:
        - name: customerId
          in: path
          type: string
          description: The ID of a customer registered at optile
          required: true
      responses:
        '200':
          description: Customer's registered accounts
          schema:
            type: array
            items:
              $ref: '#/definitions/AccountRegistration'
        '401':
          description: Request is not authorized, wrong authentication token or missing payment role
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
  /customers/{customerId}/accounts/{accountId}:
    get:
      tags:
        - customer
      summary: Get customer account details
      description: |
        Gets details about customer's registered account
      operationId: getCustomerPaymentAccount
      security:
        - payment_auth: []
      parameters:
        - name: customerId
          in: path
          type: string
          description: The ID of a customer registered at optile
          required: true
        - name: accountId
          in: path
          type: string
          description: The ID of a registered for this customer account
          required: true
      responses:
        '200':
          description: Customer's registered account
          schema:
            $ref: '#/definitions/AccountRegistration'
        '401':
          description: Request is not authorized, wrong authentication token or missing payment role
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
    put:
      tags:
        - customer
      summary: Update customer account
      description: |
        Updates customer's registered account
      operationId: updateCustomerPaymentAccount
      security:
        - payment_auth: []
      parameters:
        - name: customerId
          in: path
          type: string
          description: The ID of a customer registered at optile
          required: true
        - name: accountId
          in: path
          type: string
          description: The ID of a registered for this customer account
          required: true
        - name: accountRegistrationUpdate
          in: body
          description: Carries information for updating customer account
          required: true
          schema:
            $ref: '#/definitions/AccountRegistrationUpdate'
      responses:
        '200':
          description: Customer's registered account
          schema:
            $ref: '#/definitions/AccountRegistration'
        '401':
          description: Request is not authorized, wrong authentication token or missing payment role
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'
    delete:
      tags:
        - customer
      summary: Delete customer account
      description: Delete customer account and all provider tokens by customer and account id
      operationId: deleteCustomerPaymentAccount
      parameters:
        - name: customerId
          in: path
          type: string
          description: Merchant specific ID of customer registration to delete
          required: true
        - name: accountId
          in: path
          type: string
          description: Account registration ID to delete
          required: true
      responses:
        '204':
          description: Customer account is deleted
        '404':
          description: Not found
        '500':
          description: Internal server error; check a message for more details
  /customers/{customerId}/accounts/{accountId}/tokens:
    get:
      tags:
        - customer
      summary: Get customer account tokens by customer and account id
      description: Retrieves customer tokens by customer and account id
      operationId: getAccountTokens
      produces:
        - application/json
      parameters:
        - name: customerId
          in: path
          type: string
          description: Merchant specific ID of customer registration to retrieve
          required: true
        - name: accountId
          in: path
          type: string
          description: Account registration ID to retrieve
          required: true
      responses:
        '200':
          description: List of provider account tokens
          schema:
            type: array
            items:
              $ref: '#/definitions/ProviderToken'
        '404':
          description: Not found
        '500':
          description: Internal server error; check a message for more details
  /customers/{customerId}/accounts/{accountId}/tokens/{tokenId}:
    get:
      tags:
        - customer
      summary: Get customer account token by token id
      description: Retrieves customer token by token id
      operationId: getAccountToken
      produces:
        - application/json
      parameters:
        - name: customerId
          in: path
          type: string
          description: Merchant specific ID of customer registration to retrieve
          required: true
        - name: accountId
          in: path
          type: string
          description: Account registration ID to retrieve
          required: true
        - name: tokenId
          in: path
          type: string
          description: PSP registration token ID to delete
          required: true
      responses:
        '200':
          description: The provider account token
          schema:
            $ref: '#/definitions/ProviderToken'
        '404':
          description: Not found
        '500':
          description: Internal server error; check a message for more details
    delete:
      tags:
        - customer
      summary: Delete customer provider token
      description: Delete customer provider token by customer, account and token id
      operationId: deleteAccountTokens
      parameters:
        - name: customerId
          in: path
          type: string
          description: Merchant specific ID of customer registration to delete
          required: true
        - name: accountId
          in: path
          type: string
          description: Account registration ID to delete
          required: true
        - name: tokenId
          in: path
          type: string
          description: PSP registration token ID to delete
          required: true
      responses:
        '204':
          description: Provider account token is deleted
        '404':
          description: Not found
        '500':
          description: Internal server error; check a message for more details
  /customers/{customerId}/charge:
    post:
      tags:
        - charge
      summary: Recurring CHARGE of registered customer
      description: |
          Initiates recurring `CHARGE` operation of customer registered at OPG.
      operationId: payWithCustomerPaymentAccount
      security:
        - payment_auth: []
      parameters:
        - name: customerId
          in: path
          type: string
          description: The ID of a customer registered at optile
          required: true
        - name: transaction
          in: body
          description: Holds transaction information for recurring `CHARGE` operation
          required: true
          schema:
            $ref: '#/definitions/RecurringTransaction'
      responses:
        '200':
          description: |
              `CHARGE` operation information with current state
          schema:
            $ref: '#/definitions/Charge'
        '401':
          description: Request is not authorized, wrong authentication token or missing payment role
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorInfo'

# Common parameters
parameters:
  ListViewOptions:
    name: view
    in: query
    type: array
    items:
      type: string
      enum:
        - htmlForms
        - jsonForms
        - routes
        - jsonProperties
        - -htmlForms
        - -jsonForms
        - -routes
        - -jsonProperties
    description: |
        Enables or disables view options to configure response when creating or retrieving `LIST`.

        Following options are supported:
          * `htmlForms` - this option enables generation of links to build HTML forms for applicable networks and registered
            accounts in `LIST` response. **Enabled** by default for any integration.
          * `jsonForms` - this option enables generation of structured (in JSON format) description of forms for applicable
            networks and registered accounts in `LIST` response. **Disabled** by default.
          * `routes` - this option enables routing configuration to be exposed for applicable networks and registered accounts
            in `LIST` response. **Disabled** by default.
          * `jsonProperties` - this option results in the localization URLs having a **.json** extension instead of the **.properties**.
            **Disabled** by default.

        If option is preceded with dash (`-`), it means that option is disabled, otherwise it is enabled.

        Multiple options can be combined in the single value of the `view` query parameter. Use comma (`,`) to separate options.
        Supplying unknown options or conflicting options combination (e.g. `"-jsonForms,jsonForms"`) will cause an error and
        **HTTP 400 Bad Request** response.

        **Note:** if no value supplied for an option the API behaves according to the defaults. Empty `view` parameter is interpreted as:
          * `"htmlForms,-jsonForms,-routes,-jsonProperties"` for any integration type.

# Model
definitions:

  # Request objects
  Transaction:
    type: object
    required:
      - transactionId
      - country
      - callback
      - customer
      - payment
    properties:
      integration:
        $ref: '#/definitions/IntegrationType'
      transactionId:
        type: string
        description: |
            Identifier for this transaction given by the merchant. It is not validated for uniqueness by OPG,
            but may be checked for by some PSPs, thus recommended to be unique.
        example: O-000016565/0176
      country:
        type: string
        description: |
            Country where the payment is originating. This influences the choice of the available payment networks.
            Value format is according to ISO 3166-1 (alpha-2), e.g. "DE", "FR", "US", "GB", etc.
        example: FR
      channel:
        type: string
        enum:
          - WEB_ORDER
          - MOBILE_ORDER
          - CUSTOMER_SELF_SERVICE
          - EMAIL_ORDER
          - CALLCENTER_ORDER
          - MAIL_ORDER
          - TERMINAL_ORDER
          - CUSTOMER_SUPPORT
          - RECURRING
          - DUNNING
          - FULFILLMENT
          - IMPORT
        description: |
            Indicates where the payment request comes from. For example, from a website, from a mobile device, or it is a recurring
            transaction from the merchant's backend.

            By default `WEB_ORDER` for this type of transactions.
      system:
        $ref: '#/definitions/System'
      division:
        type: string
        description: |
            Division name of this transaction.

            Merchant can configure multiple divisions via Merchant Configuration API or portal. But there is always one
            _default division_ that will be used if this property is undefined. Different divisions can be configured with
            different setup, contracts, payment routes and network options.
        example: main_division
      callback:
        $ref: '#/definitions/Callback'
      customer:
        $ref: '#/definitions/Customer'
      customerScore:
        type: integer
        description: |
            Customer score value in range 0...1000. This value will be used by the system for the decision that some security
            checks should be enforced or disabled (like 3D Security check).
        example: 500
      clientInfo:
        $ref: '#/definitions/ClientInfo'
      payment:
        $ref: '#/definitions/Payment'
      products:
        type: array
        description: Products (shopping cart) information.
        items:
          $ref: '#/definitions/Product'
      shipping:
        type: array
        description: Shipping information.
        items:
          $ref: '#/definitions/Shipping'
      updateOnly:
        type: boolean
        description: |
            Indicates that this `LIST` transaction is initiated to update existing or register accounts of the
            of customer. No payment will take place in scope of this `LIST` session.

            **Deprecated!** This property is deprecated. Use `operationType` instead.
      allowDelete:
        type: boolean
        description: |
            Indicates that deletion of registered accounts is allowed in scope of this `LIST` session:
              * If set to `true` the deletion of accounts is explicitly permitted by merchant.
              * If set to `false` the deletion of accounts is explicitly disallowed by merchant.
              * If nothing is set the default behavior applies: deletion is only allowed for `LIST`s
                with `operationType` of `UPDATE`, or with deprecated `updateOnly` option set to `true`.
      presetFirst:
        type: boolean
        description: |
            Indicates that this `LIST` transaction is initiated with 'preset' option. When selected by customer network and
            provided account are saved in the system until this `LIST` session will be closed by additional `CHARGE` request.
            Callback must specify 'summaryUrl' for this type of `LIST` transaction.

            **Deprecated!** This property is deprecated. Use `operationType` instead.
      style:
        $ref: '#/definitions/Style'
      preselection:
        $ref: '#/definitions/Preselection'
      level3Data:
        $ref: '#/definitions/Level3Data'
      extraElements:
        $ref: '#/definitions/ExtraElements'
      mandate:
        $ref: '#/definitions/Mandate'
      installment:
        $ref: '#/definitions/Installment'
      checkoutConfigurationName:
        type: string
        description: The name of the pre-selected checkout configuration.
      riskData:
        $ref: '#/definitions/RiskData'
      operationType:
        $ref: '#/definitions/OperationType'
      registerOnce:
        type: boolean
        description: |
            Indicates that this `LIST` transaction is initiated with `registerOnce` option. When option is enabled it's possible to use
            `LIST` only for one account registration or update, after successful operation session will be closed and Customer will be
            redirected.
      ttl:
        type: integer
        description: |
            Time to live (TTL) for LIST session in minutes. By default LIST session is valid for 30 min.
        example: 60
      orderId:
        type: string
        description: |
          The ID of order for this transaction. This ID is used as double-charge protection if it is provided:
          it is not allowed to have more as 1 open payment session with the same ID, at the same time, all `CHARGE`
          will be rejected if the system has any successful `CHARGE` with this ID.
  RecurringTransaction:
    type: object
    required:
      - transactionId
      - country
      - payment
    properties:
      transactionId:
        type: string
        description: |
            Identifier for this payment transaction given by the merchant. It is not validated for uniqueness by OPG,
            but may be checked for by some PSPs, thus recommended to be unique.
        example: SUB-090909/365
      country:
        type: string
        description: |
            Country where the payment is originating. This influences the choice of the available payment networks.
            Value format is according to ISO 3166-1 (alpha-2), e.g. "DE", "FR", "US", "GB", etc.
        example: GB
      channel:
        type: string
        enum:
          - WEB_ORDER
          - MOBILE_ORDER
          - CUSTOMER_SELF_SERVICE
          - EMAIL_ORDER
          - CALLCENTER_ORDER
          - MAIL_ORDER
          - TERMINAL_ORDER
          - CUSTOMER_SUPPORT
          - RECURRING
          - DUNNING
          - FULFILLMENT
          - IMPORT
        description: |
            Indicates where the payment request comes from. For example, from a website, from a mobile device, or it is a recurring
            transaction from the merchant's backend.

            By default `RECURRING` for this type of transactions.
      system:
        $ref: '#/definitions/System'
      division:
        type: string
        description: |
            Division name of this transaction.

            Merchant can configure multiple divisions via Merchant Configuration API or portal. But there is always one
            _default division_ that will be used if this property is undefined. Different divisions can be configured with
            different setup, contracts, payment routes and network options.
        example: subscriptions
      callback:
        $ref: '#/definitions/RecurringCallback'
      customer:
        $ref: '#/definitions/Customer'
      clientInfo:
        description: |
            Information about customers client (web browser, mobile device, etc.)

            **Deprecated!** This information is not expected during recurring charge and should not be supplied.
        $ref: '#/definitions/ClientInfo'
      payment:
        $ref: '#/definitions/Payment'
      products:
        type: array
        description: Products (shopping cart) information.
        items:
          $ref: '#/definitions/Product'
      shipping:
        type: array
        description: Shipping information.
        items:
          $ref: '#/definitions/Shipping'
      style:
        description: |
            Default appearance of payment page can be overwritten with these style parameters.

            **Deprecated!** This information is not expected during recurring charge and will be ignored.
        $ref: '#/definitions/Style'
      preselection:
        $ref: '#/definitions/RecurringPreselection'
      mandate:
        $ref: '#/definitions/Mandate'
      installment:
        $ref: '#/definitions/Installment'
      riskData:
        $ref: '#/definitions/RiskData'
  StandaloneTransaction:
    type: object
    required:
      - transactionId
      - country
      - callback
      - customer
      - payment
      - preselection
    properties:
      transactionId:
        type: string
        description: |
            Identifier for this payment transaction given by the merchant. It is not validated for uniqueness by OPG,
            but may be checked for by some PSPs, thus recommended to be unique.
        example: PM-000031541
      country:
        type: string
        description: |
            Country where the payment is originating. This influences the choice of the available payment networks.
            Value format is according to ISO 3166-1 (alpha-2), e.g. "DE", "FR", "US", "GB", etc.
        example: IT
      channel:
        type: string
        enum:
          - WEB_ORDER
          - MOBILE_ORDER
          - CUSTOMER_SELF_SERVICE
          - EMAIL_ORDER
          - CALLCENTER_ORDER
          - MAIL_ORDER
          - TERMINAL_ORDER
          - CUSTOMER_SUPPORT
          - RECURRING
          - DUNNING
          - FULFILLMENT
          - IMPORT
        description: |
            Indicates where the payment request comes from. For example, from a website, from a mobile device, or it is a recurring
            transaction from the merchant's backend.

            By default `WEB_ORDER` for this type of transactions.
      system:
        $ref: '#/definitions/System'
      division:
        type: string
        description: |
            Division name of this transaction.

            Merchant can configure multiple divisions via Merchant Configuration API or portal. But there is always one
            _default division_ that will be used if this property is undefined. Different divisions can be configured with
            different setup, contracts, payment routes and network options.
        example: myshop.it
      callback:
        $ref: '#/definitions/Callback'
      customer:
        $ref: '#/definitions/Customer'
      customerScore:
        type: integer
        description: |
            Customer score value in range 0...1000. This value will be used by the system for the decision that some security
            checks should be enforced or disabled (like 3D Security check).
        example: 500
      clientInfo:
        $ref: '#/definitions/ClientInfo'
      payment:
        $ref: '#/definitions/Payment'
      products:
        type: array
        description: Products (shopping cart) information.
        items:
          $ref: '#/definitions/Product'
      shipping:
        type: array
        description: Shipping information.
        items:
          $ref: '#/definitions/Shipping'
      style:
        $ref: '#/definitions/StandaloneStyle'
      preselection:
        $ref: '#/definitions/StandalonePreselection'
      mandate:
        $ref: '#/definitions/Mandate'
      installment:
        $ref: '#/definitions/Installment'
      autoRegistration:
        type: boolean
        description: If set to `true` the account will be registered for further payments.
      allowRecurrence:
        type: boolean
        description: If set to `true` the account will be registered for further recurring payments.
      account:
        $ref: '#/definitions/AccountInputData'
      encryptedAccount:
        type: string
        description: |
            Customer account data encrypted with one of the CSE (Client Side Encryption) keys configured in MCAPI for division of this
            transaction. Account data should be encrypted according to [JOSE standard](https://tools.ietf.org/html/rfc7520)
            "RSA-OAEP" + "A256GCM", see [RFC-7520](https://tools.ietf.org/html/rfc7520#section-5.2).

            Note that supplying both fields `account` and  `encryptedAccount` will cause an error and such operation will be rejected.

            See [Client Side Encryption](https://orchestrationdocs.payoneer.com/docs/integrate-pure-native-with-cse) for further details.
        example: eyJhbGciOiJSU0EtT0FFU ... fZTJb.OMY7XHgpxgBgIVWByouqWw
      checkboxes:
        type: object
        description: |
            Map of selected checkboxes; name reflects the checkbox distinguish name, value reflects its
            state - `true` for selected, `false` for unchecked
        additionalProperties:
          type: boolean
      riskData:
        $ref: '#/definitions/RiskData'
  ExpressTransaction:
    type: object
    required:
      - transactionId
      - country
      - callback
      - payment
    properties:
      integration:
        type: string
        enum:
          - PURE_NATIVE
          - DISPLAY_NATIVE
        description: |
            Defines integration scenario of for this `EXPRESSPRESET` session. Selected scenario has an impact on
            operation URL within response, it is adjusted for selected integration scenario.

            Default: `PURE_NATIVE`
      transactionId:
        type: string
        description: |
            Identifier for this payment transaction given by the merchant. It is not validated for uniqueness by OPG,
            but may be checked for by some PSPs, thus recommended to be unique.
        example: O-001655/1705
      country:
        type: string
        description: |
            Country where the payment is originating. This influences the choice of the available payment networks.
            Value format is according to ISO 3166-1 (alpha-2), e.g. "DE", "FR", "US", "GB", etc.
        example: FR
      system:
        $ref: '#/definitions/System'
      division:
        type: string
        description: |
            Division name of this transaction.

            Merchant can configure multiple divisions via Merchant Configuration API or portal. But there is always one
            _default division_ that will be used if this property is undefined. Different divisions can be configured with
            different setup, contracts, payment routes and network options.
        example: express-shop.fr
      callback:
        description: |
            Callback information about merchants shop system. It is strongly advised to provide this data with
            every transaction.

            Note: for `EXPRESSPRESET` operation the `summaryUrl` is a mandatory parameter.
        $ref: '#/definitions/Callback'
      customer:
        description: |
            Information about customer.

            Note: for `EXPRESSPRESET` operation this information is optional since the details about customer (payer) will be
            collected from PSP.
        $ref: '#/definitions/Customer'
      clientInfo:
        $ref: '#/definitions/ClientInfo'
      payment:
        $ref: '#/definitions/Payment'
      products:
        type: array
        description: Products (shopping cart) information.
        items:
          $ref: '#/definitions/Product'
      shipping:
        type: array
        description: Shipping information.
        items:
          $ref: '#/definitions/Shipping'
      style:
        $ref: '#/definitions/StandaloneStyle'
      providerRequest:
        description: |
            Provider request parameters to pass from front-end JavaScript library of dedicated provider to the back-end logic (adapter)
            during express checkout initialization.

            Note: this set of parameters is PSP specific, it may vary in content or can also be `null`.
        $ref: '#/definitions/ProviderParameters'
  Operation:
    type: object
    properties:
      transactionId:
        type: string
        description: |
            Merchant transaction ID assigned to this operation (payment step).

            Note: This value is optional and if it is not set the `transactionId` from referred operation (e.g. `LIST`) will be used
            during processing.
      system:
        $ref: '#/definitions/OperationSystem'
      autoRegistration:
        type: boolean
        description: If set to `true` the account will be registered for further payments.
      allowRecurrence:
        type: boolean
        description: If set to `true` the account will be registered for further recurring payments.
      account:
        $ref: '#/definitions/AccountInputData'
      encryptedAccount:
        type: string
        description: |
            Customer account data encrypted with one of the CSE (Client Side Encryption) keys configured in MCAPI for division of this
            transaction. Account data should be encrypted according to [JOSE standard](https://tools.ietf.org/html/rfc7520)
            "RSA-OAEP" + "A256GCM", see [RFC-7520](https://tools.ietf.org/html/rfc7520#section-5.2).

            Note that supplying both fields `account` and  `encryptedAccount` will cause an error and such operation will be rejected.

            See [Client Side Encryption](https://orchestrationdocs.payoneer.com/docs/integrate-pure-native-with-cse) for further details.
        example: eyJhbGciOiJSU0EtT0FFU ... fZTJb.OMY7XHgpxgBgIVWByouqWw
      clientInfo:
        description: |
            Information about customers client (web browser, mobile device, etc.). If defined this will override
            information provided during `LIST` initialization.
        $ref: '#/definitions/ClientInfo'
      payment:
        description: |
            Payment information. If defined this will override information provided during `LIST` initialization.
        $ref: '#/definitions/Payment'
      products:
        type: array
        description: Products (shopping cart) information. If defined this will override information provided during `LIST` initialization.
        items:
          $ref: '#/definitions/Product'
      shipping:
        type: array
        description: Shipping information. If defined this will override information provided during `LIST` initialization.
        items:
          $ref: '#/definitions/Shipping'
      checkboxes:
        type: object
        description: |
            Map of selected checkboxes. Name reflects the checkbox distinguish name, value reflects its
            state - `true` for checked, `false` for unchecked.
        additionalProperties:
          type: boolean
      mandate:
        $ref: '#/definitions/Mandate'
      installment:
        $ref: '#/definitions/Installment'
      routes:
        type: array
        description: |
            List of payment routes for this operation. Reflects the merchant decision to override the routing proposed by system in `LIST`.
            Routes are sorted in the preferred order.

            Note: this list may only contain routes that were available in the referred `LIST` for selected payment network or account.
        items:
          $ref: '#/definitions/Route'
      finalOperation:
        type: boolean
        description: |
            Indicates that this is a final operation of this kind: final capture, update or refund and no future actions are expected.
            This does not cancel any preauthorization or trigger financial return of non-captured payments. To cancel deferred charges,
            use the DELETE request.
      providerRequest:
        description: |
            Provider request parameters that should be passed to the target payment provider adapter to complete the operation.

            **Deprecated!** This property will be removed, please use `providerRequests` instead.
        $ref: '#/definitions/ProviderParameters'
      providerRequests:
        type: array
        description: |
            List of provider request parameters which should be provided to the target payment provider adapter to complete the operation.
        items:
          $ref: '#/definitions/ProviderParameters'
      preselection:
        $ref: '#/definitions/OperationPreselection'
      riskData:
        $ref: '#/definitions/RiskData'
      level3Data:
        $ref: '#/definitions/Level3Data'
      resumeInstructions:
        type: object
        description: Resume instructions to resume (or continue) suspend operation.
        properties:
          confirmed:
            type: boolean
            description: The flag to indicate that suspend action is confirmed and could (or could not) be continued.
  ExpressPresetUpdate:
    type: object
    properties:
      callback:
        description: |
            Updated callback information. If missing, the callback details require no update and original callback information
            passed during `EXPRESSPRESET` initialization stays intact.
        $ref: '#/definitions/Callback'
      customer:
        description: |
            Updated information about customer. If missing, the customer details require no update and original information passed
            during `EXPRESSPRESET` initialization stays intact.
        $ref: '#/definitions/Customer'
      clientInfo:
        description: Updated information about customers client (web browser, mobile device, etc.)
        $ref: '#/definitions/ClientInfo'
      payment:
        description: |
            Updated payment information. If missing, the payment details require no update and original information passed during
            `EXPRESSPRESET` initialization stays intact.
        $ref: '#/definitions/Payment'
      products:
        type: array
        description: |
            Updated products (shopping cart) information. If missing, the product details require no update and original information
            passed during `EXPRESSPRESET` initialization stays intact.
        items:
          $ref: '#/definitions/Product'
      shipping:
        type: array
        description: Updated shipping information. If missing, the shipping details require no update and original information
          passed during `EXPRESSPRESET` initialization stays intact.
        items:
          $ref: '#/definitions/Shipping'
      providerRequest:
        description: |
            Provider request parameters to pass from front-end JavaScript library of dedicated provider to the back-end logic (adapter)
            during express checkout update or activation.

            Note: this set of parameters is PSP specific, it may vary in content or can also be `null`.
        $ref: '#/definitions/ProviderParameters'
  ExpressOperation:
    type: object
    properties:
      transactionId:
        type: string
        description: |
            Merchant transaction ID assigned to this express operation during payment step.

            Note: This value is optional and if it is not set the `transactionId` from referred operation (`EXPRESSPRESET`) will be used
            during processing.
      system:
        $ref: '#/definitions/OperationSystem'
      clientInfo:
        description: |
            Information about customers client (web browser, mobile device, etc.). If defined this will override
            information provided during `EXPRESSPRESET` initialization.
        $ref: '#/definitions/ClientInfo'
      payment:
        description: |
            Payment information. If defined this will override information provided during `EXPRESSPRESET` initialization.
        $ref: '#/definitions/Payment'
      products:
        type: array
        description: |
            Products (shopping cart) information. If defined this will override information provided during `EXPRESSPRESET` initialization.
        items:
          $ref: '#/definitions/Product'
      shipping:
        type: array
        description: Shipping information. If defined this will override information provided during `EXPRESSPRESET` initialization.
        items:
          $ref: '#/definitions/Shipping'
      preselection:
        description: |
            It allows to differentiate between direct and deferred `CHARGE`.
        $ref: '#/definitions/RecurringPreselection'
      checkboxes:
        type: object
        description: |
            Map of selected checkboxes. Name reflects the checkbox distinguish name, value reflects its
            state - `true` for checked, `false` for unchecked.

            Note: this property has no processing implications at the moment.
        additionalProperties:
          type: boolean
      finalOperation:
        type: boolean
        description: |
            Indicates that this is a final operation of this kind: final capture, update or refund and no future actions are expected.
      providerRequest:
        description: |
            Provider request parameters that should be passed to the target payment provider adapter to complete the operation.

            Note: there are no express preset providers at the moment that would expect any provider specific data passed during
            payment operation.
        $ref: '#/definitions/ProviderParameters'
  Callback:
    type: object
    properties:
      returnUrl:
        type: string
        format: uri
        description: |
            URL of landing page in merchants shop system for successful payment. Customer will be redirected to this URL after
            successful payment. This property is mandatory for all integration types.
      summaryUrl:
        type: string
        format: uri
        description: |
            URL of landing page in merchants shop system after customer select payment method. This property is mandatory for
            a `LIST` session with `operationType` of `PRESET`, or with deprecated `presetFirst` option set to `true`.
      cancelUrl:
        type: string
        format: uri
        description: |
            URL of landing page in merchants shop system for cancelled or failed payment. Customer will be redirected to this URL
            after canceled or permanently failed payment. This property is mandatory for all integration types.
      backToShopUrl:
        type: string
        format: uri
        description: |
            URL to lead customer back to shop from stand-alone hosted payment page without cancelling a LIST session.
      notificationUrl:
        type: string
        format: uri
        description: |
            Payment status notification URL. If defined, the OPG system will send asynchronous status notifications about this
            payment to this URL.

            Note: The support team can configure additional notification headers for all transactions on the _division_ level.
            Notification URL in `callback`, however, overrides the division settings.
      notificationHeaders:
        type: array
        description: |
          An array of additional merchant specific headers. These headers will be set and send back with OPG notifications.
        items:
          $ref: '#/definitions/Parameter'
    description: |
        Callback information about merchants shop system. It is strongly advised to provide this data with every transaction.
  RecurringCallback:
    type: object
    properties:
      notificationUrl:
        type: string
        format: uri
        description: |
            Payment status notification URL. If defined, the OPG system will send asynchronous status notifications about this
            payment to this URL.

            Note: merchant can configure a single notification URL for all transactions on the _division_ level via
            Merchant Configuration API. Notification URL in `callback`, however, overrides the division settings.
    description: |
        Callback information about merchants shop system. It is strongly advised to provide this data with every transaction.
  AccountInfo:
    type: object
    properties:
      method:
        type: string
        enum:
          - GUEST_CHECKOUT
          - LOCAL_ACCOUNT
          - FEDERATED_ACCOUNT
          - ISSUER_ACCOUNT
          - THIRD_PARTY_ACCOUNT
          - FIDO_AUTHENTICATOR
        description: Customer login method.
      timestamp:
        type: string
        format: date-time
        description: Date and time (UTC) of the customer login in the merchant’s shop.
        example: 2017-09-22T13:53:46.410+0000
      creationDate:
        type: string
        format: date-time
        description: Date of customer's registration in the merchant's system.
        example: 2017-09-22T13:53:46.410+0000
      updateDate:
        type: string
        format: date-time
        description: |
            Date of customer's account update in the merchant's system (changes to billing and shipping address,
            new payment account, new email address).
        example: 2017-09-22T13:53:46.410+0000
      passwordChangeDate:
        type: string
        format: date-time
        description: Date when customer changed password in the merchants system for the last time.
        example: 2017-09-22T13:53:46.410+0000
    description: Customer account information.
  Customer:
    type: object
    required:
      - number
    properties:
      accountInfo:
        $ref: '#/definitions/AccountInfo'
        description: Customer account information.
      number:
        type: string
        description: Customer identifier given by the merchant. Not validated for uniqueness by OPG.
        example: UN-0010352
      email:
        type: string
        format: email
        description: |
            Customer e-mail address. It is highly recommended to provide it, since it is a mandatory information for some PSP
            and often used by advanced risk management.
        example: james.blond@example.com
      deliveryEmail:
        type: string
        format: email
        description: |
            Customer delivery e-mail address. Represents email for electronic delivery for cases when it's not the same
            as customer's email. If not provided, `customer.email` will be used.
        example: john.doe@example.com
      birthday:
        type: string
        format: date
        description: Customer birthday. Required by some PSPs and important for payments with advanced risk management.
      gender:
        type: string
        enum:
          - MALE
          - FEMALE
          - UNKNOWN
        description: Customer gender. Required by some PSPs.
      name:
[...]
