swagger: '2.0'
info:
  version: 3.1.2
  title: Account and Transaction API Specification
  description: OFX GCA Account and Transaction API Specification
host: sandbox.api.ofx.com
basePath: /open-banking/v3.1/aisp
schemes:
  - https
paths:
  /account-access-consents:
    post:
      tags:
        - Account Access
      summary: Create Account Access Consents
      operationId: CreateAccountAccessConsents
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/AccountAccessConsentsRequestParam'
        - $ref: '#/parameters/Authorization'
        - $ref: '#/parameters/ssl-client-cert'
      responses:
        '201':
          $ref: '#/responses/201AccountAccessConsentsCreated'
        '400':
          $ref: '#/responses/400Error'
        '401':
          $ref: '#/responses/401Error'
        '403':
          $ref: '#/responses/403Error'
        '404':
          $ref: '#/responses/404Error'
        '429':
          $ref: '#/responses/429Error'
        '500':
          $ref: '#/responses/500Error'
      security:
        - TPPOAuth2Security:
            - accounts
  '/account-access-consents/{ConsentId}':
    get:
      tags:
        - Account Access
      summary: Get Account Access Consents
      operationId: GetAccountAccessConsentsConsentId
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/ConsentId'
        - $ref: '#/parameters/Authorization'
        - $ref: '#/parameters/ssl-client-cert'
      responses:
        '200':
          $ref: '#/responses/200AccountAccessConsentsConsentIdRead'
        '400':
          $ref: '#/responses/400Error'
        '401':
          $ref: '#/responses/401Error'
        '403':
          $ref: '#/responses/403Error'
        '404':
          $ref: '#/responses/404Error'
        '429':
          $ref: '#/responses/429Error'
        '500':
          $ref: '#/responses/500Error'
      security:
        - TPPOAuth2Security:
            - accounts
    delete:
      tags:
        - Account Access
      summary: Delete Account Access Consents
      operationId: DeleteAccountAccessConsentsConsentId
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/ConsentId'
        - $ref: '#/parameters/Authorization'
        - $ref: '#/parameters/ssl-client-cert'
      responses:
        '204':
          $ref: '#/responses/204AccountAccessConsentsConsentIdDeleted'
        '400':
          $ref: '#/responses/400Error'
        '401':
          $ref: '#/responses/401Error'
        '403':
          $ref: '#/responses/403Error'
        '404':
          $ref: '#/responses/404Error'
        '409':
          $ref: '#/responses/409Error'
        '412':
          $ref: '#/responses/412Error'
        '429':
          $ref: '#/responses/429Error'
        '500':
          $ref: '#/responses/500Error'
      security:
        - TPPOAuth2Security:
            - accounts
  /accounts:
    get:
      tags:
        - Accounts
      summary: Get Accounts
      operationId: GetAccounts
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/Authorization'
        - $ref: '#/parameters/ssl-client-cert'
      responses:
        '200':
          $ref: '#/responses/200AccountsRead'
        '400':
          $ref: '#/responses/400Error'
        '401':
          $ref: '#/responses/401Error'
        '403':
          $ref: '#/responses/403Error'
        '404':
          $ref: '#/responses/404Error'
        '429':
          $ref: '#/responses/429Error'
        '500':
          $ref: '#/responses/500Error'
      security:
        - PSUOAuth2Security:
            - accounts
  '/accounts/{AccountId}':
    get:
      tags:
        - Accounts
      summary: Get Account
      operationId: GetAccountsAccountId
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/AccountId'
        - $ref: '#/parameters/Authorization'
        - $ref: '#/parameters/ssl-client-cert'
      responses:
        '200':
          $ref: '#/responses/200AccountsAccountIdRead'
        '400':
          $ref: '#/responses/400Error'
        '401':
          $ref: '#/responses/401Error'
        '403':
          $ref: '#/responses/403Error'
        '404':
          $ref: '#/responses/404Error'
        '429':
          $ref: '#/responses/429Error'
        '500':
          $ref: '#/responses/500Error'
      security:
        - PSUOAuth2Security:
            - accounts
  '/accounts/{AccountId}/balances':
    get:
      tags:
        - Balances
      summary: Get Account Balances
      operationId: GetAccountsAccountIdBalances
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/AccountId'
        - $ref: '#/parameters/Authorization'
        - $ref: '#/parameters/ssl-client-cert'
      responses:
        '200':
          $ref: '#/responses/200AccountsAccountIdBalancesRead'
        '400':
          $ref: '#/responses/400Error'
        '401':
          $ref: '#/responses/401Error'
        '403':
          $ref: '#/responses/403Error'
        '404':
          $ref: '#/responses/404Error'
        '429':
          $ref: '#/responses/429Error'
        '500':
          $ref: '#/responses/500Error'
      security:
        - PSUOAuth2Security:
            - accounts
  '/accounts/{AccountId}/beneficiaries':
    get:
      tags:
        - Beneficiaries
      summary: Get Account Beneficiaries
      operationId: GetAccountsAccountIdBeneficiaries
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/AccountId'
        - $ref: '#/parameters/Authorization'
        - $ref: '#/parameters/ssl-client-cert'
        - $ref: '#/parameters/pageNumber'
      responses:
        '200':
          $ref: '#/responses/200AccountsAccountIdBeneficiariesRead'
        '400':
          $ref: '#/responses/400Error'
        '401':
          $ref: '#/responses/401Error'
        '403':
          $ref: '#/responses/403Error'
        '404':
          $ref: '#/responses/404Error'
        '429':
          $ref: '#/responses/429Error'
        '500':
          $ref: '#/responses/500Error'
      security:
        - PSUOAuth2Security:
            - accounts
  '/accounts/{AccountId}/transactions':
    get:
      tags:
        - Transactions
      summary: Get Account Transactions
      operationId: GetAccountsAccountIdTransactions
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/AccountId'
        - $ref: '#/parameters/Authorization'
        - $ref: '#/parameters/ssl-client-cert'
        - $ref: '#/parameters/pageNumber'
      responses:
        '200':
          $ref: '#/responses/200AccountsAccountIdTransactionsRead'
        '400':
          $ref: '#/responses/400Error'
        '401':
          $ref: '#/responses/401Error'
        '403':
          $ref: '#/responses/403Error'
        '404':
          $ref: '#/responses/404Error'
        '429':
          $ref: '#/responses/429Error'
        '500':
          $ref: '#/responses/500Error'
      security:
        - PSUOAuth2Security:
            - accounts
  /beneficiaries:
    get:
      tags:
        - Beneficiaries
      summary: Get Beneficiaries
      operationId: GetBeneficiaries
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/Authorization'
        - $ref: '#/parameters/ssl-client-cert'
        - $ref: '#/parameters/pageNumber'
      responses:
        '200':
          $ref: '#/responses/200BeneficiariesRead'
        '400':
          $ref: '#/responses/400Error'
        '401':
          $ref: '#/responses/401Error'
        '403':
          $ref: '#/responses/403Error'
        '404':
          $ref: '#/responses/404Error'
        '429':
          $ref: '#/responses/429Error'
        '500':
          $ref: '#/responses/500Error'
      security:
        - PSUOAuth2Security:
            - accounts
parameters:
  FromBookingDateTimeParam:
    in: query
    name: fromBookingDateTime
    type: string
    format: date-time
    description: |-
      The UTC ISO 8601 Date Time to filter transactions FROM
      NB Time component is optional - set to 00:00:00 for just Date.
      If the Date Time contains a timezone, the ASPSP must ignore the timezone component.
  ToBookingDateTimeParam:
    in: query
    name: toBookingDateTime
    type: string
    format: date-time
    description: |-
      The UTC ISO 8601 Date Time to filter transactions TO
      NB Time component is optional - set to 00:00:00 for just Date.
      If the Date Time contains a timezone, the ASPSP must ignore the timezone component.
  AccountAccessConsentsRequestParam:
    name: body
    in: body
    description: Default
    required: true
    schema:
      $ref: '#/definitions/AccountsAccessConsentsRequest'
  ConsentId:
    name: ConsentId
    in: path
    description: ConsentId
    required: true
    type: string
  AccountId:
    name: AccountId
    in: path
    description: AccountId
    required: true
    type: string
  Authorization:
    in: header
    name: Authorization
    type: string
    required: true
    description: 'An Authorisation Token as per https://tools.ietf.org/html/rfc6750'
  ssl-client-cert:
    in: header
    name: ssl-client-cert
    type: string
    required: true
    description: An eIDAS Certification of the TPP
  pageNumber:
    in: query
    name: pageNumber
    type: integer
    description: page number requested of the paginated data
responses:
  201AccountAccessConsentsCreated:
    description: Account Access Consents Created
    schema:
      $ref: '#/definitions/AccountsAccessConsentsResponse'
    examples:
      application/json:
        Data:
          ConsentId: b1f311d0-cf83-4f66-a406-25d82059a328
          Status: AwaitingAuthorisation
          StatusUpdateDateTime: '2019-08-22T00:36:34.7740647Z'
          CreationDateTime: '2019-08-22T00:36:34.7740647Z'
          Permissions:
            - ReadAccountsBasic
            - ReadAccountsDetail
            - ReadBalances
            - ReadBeneficiariesBasic
            - ReadBeneficiariesDetail
            - ReadTransactionsBasic
            - ReadTransactionsDetail
            - ReadTransactionsCredits
            - ReadTransactionsDebits
          ExpirationDateTime: '2019-10-02T00:00:00+00:00'
          TransactionFromDateTime: '2015-05-03T00:00:00+00:00'
          TransactionToDateTime: '2019-12-03T00:00:00+00:00'
        Risk: null
        Links:
          Self: 'https://sandbox.api.ofx.com/apis/open-banking/v3.1/aisp/account-access-consents'
        Meta:
          TotalPages: 1
  200AccountAccessConsentsConsentIdRead:
    description: Account Access Consents Read
    schema:
      $ref: '#/definitions/AccountsAccessConsentsResponse'
    examples:
      application/json:
        Data:
          ConsentId: b1f311d0-cf83-4f66-a406-25d82059a328
          Status: AwaitingAuthorisation
          StatusUpdateDateTime: '2019-08-22T00:36:34.7740647Z'
          CreationDateTime: '2019-08-22T00:36:34.7740647Z'
          Permissions:
            - ReadAccountsBasic
            - ReadAccountsDetail
            - ReadBalances
            - ReadBeneficiariesBasic
            - ReadBeneficiariesDetail
            - ReadTransactionsBasic
            - ReadTransactionsDetail
            - ReadTransactionsCredits
            - ReadTransactionsDebits
          ExpirationDateTime: '2019-10-02T00:00:00+00:00'
          TransactionFromDateTime: '2015-05-03T00:00:00+00:00'
          TransactionToDateTime: '2019-12-03T00:00:00+00:00'
        Risk: null
        Links:
          Self: 'https://sandbox.api.ofx.com/apis/open-banking/v3.1/aisp/account-access-consents'
        Meta:
          TotalPages: 1
  204AccountAccessConsentsConsentIdDeleted:
    description: Account Access Consents Deleted
  200AccountsRead:
    description: Accounts Read
    schema:
      $ref: '#/definitions/AccountInformationResponse'
    examples:
      application/json:
        Data:
          Account:
            - AccountId: 1d28932e-46ff-4b6e-b70d-bea2911ff0e4
              Status: Enabled
              StatusUpdateDateTime: '2019-05-14T16:14:34.580Z'
              Currency: EUR
              AccountType: Business
              AccountSubType: EMoney
              Description: Business Client EMoney Account
              Nickname: My Euro Account
              Account:
                - SchemeName: UK.OBIE.IBAN
                  Identification: XXXXXXXXXX
                  Name: Test Company Ltd
                  SecondaryIdentification: YYYYYY
              Servicer:
                Identification: UK.OBIE.BICFI
                SchemeName: OZFXAU2SXXX
            - AccountId: 41f57517-cc34-4439-8c95-5803bc95a009
              Status: Enabled
              StatusUpdateDateTime: '2016-05-29T18:18:56.800Z'
              Currency: GBP
              AccountType: Business
              AccountSubType: EMoney
              Description: Business Client EMoney Account
              Nickname: Amazon UK
              Account:
                - SchemeName: UK.OBIE.SortCodeAccountNumber
                  Identification: XXXX
                  Name: Test
                  SecondaryIdentification: ZZZZZ
              Servicer:
                Identification: UK.OBIE.BICFI
                SchemeName: OZFXAU2SXXX
        Links:
          Self: 'https://sandbox.api.ofx.com/apis/open-banking/v3.1/aisp/accounts'
        Meta:
          TotalPages: 1
  200AccountsAccountIdRead:
    description: Accounts Read
    schema:
      $ref: '#/definitions/AccountInformationResponse'
    examples:
      application/json:
        Data:
          Account:
            - AccountId: 41f57517-cc34-4439-8c95-5803bc95a009
              Status: Enabled
              StatusUpdateDateTime: '2016-05-29T18:18:56.800Z'
              Currency: GBP
              AccountType: Business
              AccountSubType: EMoney
              Description: Business Client EMoney Account
              Nickname: Amazon UK
              Account:
                - SchemeName: UK.OBIE.SortCodeAccountNumber
                  Identification: XXXX
                  Name: Test
                  SecondaryIdentification: ZZZZZ
              Servicer:
                Identification: UK.OBIE.BICFI
                SchemeName: OZFXAU2SXXX
        Links:
          Self: 'https://sandbox.api.ofx.com/apis/open-banking/v3.1/aisp/accounts/41f57517-cc34-4439-8c95-5803bc95a009'
        Meta:
          TotalPages: 1
  200AccountsAccountIdBalancesRead:
    description: Balances Read
    schema:
      $ref: '#/definitions/AccountBalancesResponse'
    examples:
      application/json:
        Data:
          Balance:
            - AccountId: 41f57517-cc34-4439-8c95-5803bc95a009
              Amount:
                Amount: 500
                Currency: GBP
              CreditDebitIndicator: Credit
              Type: Information
              DateTime: '2019-05-29T18:18:56.800Z'
        Links:
          Self: 'https://sandbox.api.ofx.com/apis/open-banking/v3.1/aisp/accounts/41f57517-cc34-4439-8c95-5803bc95a009/balances'
        Meta:
          TotalPages: 1
  200AccountsAccountIdTransactionsRead:
    description: Transactions Read
    schema:
      $ref: '#/definitions/AccountTransactionsResponse'
    examples:
      application/json:
        Data:
          Transaction:
            - AccountId: 41f57517-cc34-4439-8c95-5803bc95a009
              TransactionId: cc6ba0e0-56f6-4c8a-9395-5eac83f2341b
              CreditDebitIndicator: Debit
              Status: Booked
              BookingDateTime: '2018-10-29T00:00:00.000Z'
              ValueDateTime: '2018-10-28T13:00:00.000Z'
              TransactionInformation: 'Reference '
              Amount:
                Amount: 9
                Currency: GBP
              ChargeAmount:
                Amount: 0
                Currency: GBP
              CurrencyExchange:
                SourceCurrency: GBP
                TargetCurrency: AUD
                UnitCurrency: GBP
                ExchangeRate: '0.665556'
                ContractIdentification: cc6ba0e0-56f6-4c8a-9395-5eac83f2341b
                InstructedAmount:
                  Amount: 9
                  Currency: GBP
            - AccountId: 41f57517-cc34-4439-8c95-5803bc95a009
              TransactionId: 679e84dc-4fe4-45b4-817a-bfce9ea037d4
              CreditDebitIndicator: Debit
              Status: Booked
              BookingDateTime: '2018-10-29T00:00:00.000Z'
              ValueDateTime: '2018-10-28T13:00:00.000Z'
              TransactionInformation: 'Reference '
              Amount:
                Amount: 12
                Currency: GBP
              ChargeAmount:
                Amount: 0
                Currency: GBP
              CurrencyExchange:
                SourceCurrency: GBP
                TargetCurrency: AUD
                UnitCurrency: GBP
                ExchangeRate: '0.429167'
                ContractIdentification: 679e84dc-4fe4-45b4-817a-bfce9ea037d4
                InstructedAmount:
                  Amount: 12
                  Currency: GBP
            - AccountId: 41f57517-cc34-4439-8c95-5803bc95a009
              TransactionId: 679e84dc-4fe4-45b4-817a-bfce9ea037d4
              TransactionReference: 679E84DC
              CreditDebitIndicator: Credit
              Status: Booked
              BookingDateTime: '2016-03-07T00:00:00.000Z'
              ValueDateTime: '2016-03-07T00:00:00.000Z'
              Amount:
                Amount: 12
                Currency: GBP
            - AccountId: 41f57517-cc34-4439-8c95-5803bc95a009
              TransactionId: cc6ba0e0-56f6-4c8a-9395-5eac83f2341b
              TransactionReference: CC6BA0E0
              CreditDebitIndicator: Credit
              Status: Booked
              BookingDateTime: '2016-02-25T00:00:00.000Z'
              ValueDateTime: '2016-02-25T00:00:00.000Z'
              Amount:
                Amount: 9
                Currency: GBP
            - AccountId: 41f57517-cc34-4439-8c95-5803bc95a009
              TransactionId: 54c71d23-b2b7-4089-98d6-67e19b09e468
              TransactionReference: 54C71D23
              CreditDebitIndicator: Credit
              Status: Booked
              BookingDateTime: '2016-02-18T00:00:00.000Z'
              ValueDateTime: '2016-02-18T00:00:00.000Z'
              Amount:
                Amount: 10
                Currency: GBP
        Links:
          Self: 'https://sandbox.api.ofx.com/apis/open-banking/v3.1/aisp/accounts/41f57517-cc34-4439-8c95-5803bc95a009/transactions'
          First: 'https://sandbox.api.ofx.com/apis/open-banking/v3.1/aisp/accounts/41f57517-cc34-4439-8c95-5803bc95a009/transactions?pageNumber=1'
          Last: 'https://sandbox.api.ofx.com/apis/open-banking/v3.1/aisp/accounts/41f57517-cc34-4439-8c95-5803bc95a009/transactions?pageNumber=1'
        Meta:
          TotalPages: 1
  200AccountsAccountIdBeneficiariesRead:
    description: Beneficiaries Read
    schema:
      $ref: '#/definitions/AccountBeneficiariesResponse'
    examples:
      application/json:
        Data:
          Beneficiary:
            - AccountId: 41f57517-cc34-4439-8c95-5803bc95a009
              BeneficiaryId: 509dfd31-9adf-49eb-b05c-037422b020c6
              CreditorAccount:
                SchemeName: UK.OBIE.BBAN
                Identification: XXXXXXXXX
                Name: Beneficiary Name
            - AccountId: 41f57517-cc34-4439-8c95-5803bc95a009
              BeneficiaryId: 7f0cc90f-293d-4c99-b11f-38da741ea56f
              Reference: Reference
              CreditorAccount:
                SchemeName: UK.OBIE.BBAN
                Identification: '0000'
                Name: Beneficiary Name
                SecondaryIdentification: YYYYYY
            - AccountId: 41f57517-cc34-4439-8c95-5803bc95a009
              BeneficiaryId: 7b768c81-df8d-4ba9-b0ee-184d04d830ee
              Reference: Reference
              CreditorAccount:
                SchemeName: UK.OBIE.BBAN
                Identification: '111111'
                Name: Beneficiary Name
                SecondaryIdentification: YYYYYYY
        Links:
          Self: 'https://sandbox.api.ofx.com/apis/open-banking/v3.1/aisp/accounts/41f57517-cc34-4439-8c95-5803bc95a009/beneficiaries'
          First: 'https://sandbox.api.ofx.com/apis/open-banking/v3.1/aisp/accounts/41f57517-cc34-4439-8c95-5803bc95a009/beneficiaries?pageNumber=1'
          Next: 'https://sandbox.api.ofx.com/apis/open-banking/v3.1/aisp/accounts/41f57517-cc34-4439-8c95-5803bc95a009/beneficiaries?pageNumber=2'
          Last: 'https://sandbox.api.ofx.com/apis/open-banking/v3.1/aisp/accounts/41f57517-cc34-4439-8c95-5803bc95a009/beneficiaries?pageNumber=3'
        Meta:
          TotalPages: 3
  200BeneficiariesRead:
    description: Beneficiaries Read
    schema:
      $ref: '#/definitions/AccountBeneficiariesResponse'
    examples:
      application/json:
        Data:
          Beneficiary:
            - AccountId: null
              BeneficiaryId: 509dfd31-9adf-49eb-b05c-037422b020c6
              CreditorAccount:
                SchemeName: UK.OBIE.BBAN
                Identification: XXXXXXXXX
                Name: Beneficiary Name
            - AccountId: null
              BeneficiaryId: 7f0cc90f-293d-4c99-b11f-38da741ea56f
              Reference: Reference
              CreditorAccount:
                SchemeName: UK.OBIE.BBAN
                Identification: '0000'
                Name: Beneficiary Name
                SecondaryIdentification: YYYYYY
            - AccountId: null
              BeneficiaryId: 7b768c81-df8d-4ba9-b0ee-184d04d830ee
              Reference: Reference
              CreditorAccount:
                SchemeName: UK.OBIE.BBAN
                Identification: '111111'
                Name: Beneficiary Name
                SecondaryIdentification: YYYYYYY
        Links:
          Self: 'https://sandbox.api.ofx.com/apis/open-banking/v3.1/aisp/beneficiaries'
          First: 'https://sandbox.api.ofx.com/apis/open-banking/v3.1/aisp/beneficiaries?pageNumber=1'
          Next: 'https://sandbox.api.ofx.com/apis/open-banking/v3.1/aisp/beneficiaries?pageNumber=2'
          Last: 'https://sandbox.api.ofx.com/apis/open-banking/v3.1/aisp/beneficiaries?pageNumber=3'
        Meta:
          TotalPages: 3
  400Error:
    description: Bad request
    schema:
      $ref: '#/definitions/ErrorResponse'
  401Error:
    description: Unauthorized
  403Error:
    description: Forbidden
    schema:
      $ref: '#/definitions/ErrorResponse'
  404Error:
    description: Not found
  409Error:
    description: Conflict
  412Error:
    description: Precondition Failed
  429Error:
    description: Too Many Requests
  500Error:
    description: Internal Server Error
    schema:
      $ref: '#/definitions/ErrorResponse'
securityDefinitions:
  TPPOAuth2Security:
    type: oauth2
    flow: application
    tokenUrl: 'https://sandbox.api.ofx.com/v1/oauth/token'
    scopes:
      accounts: Ability to read Accounts information
    description: TPP client credential authorisation flow with the ASPSP
  PSUOAuth2Security:
    type: oauth2
    flow: accessCode
    tokenUrl: 'https://sandbox.api.ofx.com/v1/oauth/token'
    authorizationUrl: 'https://sandbox.api.ofx.com/v1/oauth/authorize'
    scopes:
      accounts: Ability to read Accounts information
    description: 'OAuth flow, it is required when the PSU needs to perform SCA with the ASPSP when a TPP wants to access an ASPSP resource owned by the PSU'
definitions:
  AccountsAccessConsentsRequest:
    type: object
    required:
      - Data
      - Risk
    properties:
      Data:
        type: object
        required:
          - Permissions
        properties:
          Permissions:
            type: array
            items:
              description: 'Specifies the Open Banking account access data types. This is a list of the data clusters being consented by the PSU, and requested for authorisation with the ASPSP.'
              type: string
              enum:
                - ReadAccountsBasic
                - ReadAccountsDetail
                - ReadBalances
                - ReadBeneficiariesBasic
                - ReadBeneficiariesDetail
                - ReadTransactionsBasic
                - ReadTransactionsCredits
                - ReadTransactionsDebits
                - ReadTransactionsDetail
            minItems: 1
          ExpirationDateTime:
            description: |-
              Specified date and time the permissions will expire.
              If this is not populated, the permissions will be open ended.All dates in the JSON payloads are represented in ISO 8601 date-time format. 
              All date-time fields in responses must include the timezone. An example is below:
              2017-04-05T10:43:07+00:00
            type: string
            format: date-time
          TransactionFromDateTime:
            description: |-
              Specified start date and time for the transaction query period.
              If this is not populated, the start date will be open ended, and data will be returned from the earliest available transaction.All dates in the JSON payloads are represented in ISO 8601 date-time format. 
              All date-time fields in responses must include the timezone. An example is below:
              2017-04-05T10:43:07+00:00
            type: string
            format: date-time
          TransactionToDateTime:
            description: |-
              Specified end date and time for the transaction query period.
              If this is not populated, the end date will be open ended, and data will be returned to the latest available transaction.All dates in the JSON payloads are represented in ISO 8601 date-time format. 
              All date-time fields in responses must include the timezone. An example is below:
              2017-04-05T10:43:07+00:00
            type: string
            format: date-time
      Risk:
        description: The Risk section is sent by the initiating party to the ASPSP. It is used to specify additional details for risk scoring for Account Info.
        type: object
        properties: {}
        additionalProperties: false
  AccountsAccessConsentsResponse:
    type: object
    required:
      - Data
      - Risk
    properties:
      Data:
        type: object
        required:
          - ConsentId
          - CreationDateTime
          - Status
          - StatusUpdateDateTime
          - Permissions
        properties:
          ConsentId:
            description: Unique identification as assigned to identify the account access consent resource.
            type: string
            minLength: 1
            maxLength: 128
          CreationDateTime:
            description: |-
              Date and time at which the resource was created.All dates in the JSON payloads are represented in ISO 8601 date-time format. 
              All date-time fields in responses must include the timezone. An example is below:
              2017-04-05T10:43:07+00:00
            type: string
            format: date-time
          Status:
            description: Specifies the status of consent resource in code form.
            type: string
            enum:
              - Authorised
              - AwaitingAuthorisation
              - Rejected
              - Revoked
          StatusUpdateDateTime:
            description: |-
              Date and time at which the resource status was updated.All dates in the JSON payloads are represented in ISO 8601 date-time format. 
              All date-time fields in responses must include the timezone. An example is below:
              2017-04-05T10:43:07+00:00
            type: string
            format: date-time
          Permissions:
            type: array
            items:
              description: 'Specifies the Open Banking account access data types. This is a list of the data clusters being consented by the PSU, and requested for authorisation with the ASPSP.'
              type: string
              enum:
                - ReadAccountsBasic
                - ReadAccountsDetail
                - ReadBalances
                - ReadBeneficiariesBasic
                - ReadBeneficiariesDetail
                - ReadTransactionsBasic
                - ReadTransactionsCredits
                - ReadTransactionsDebits
                - ReadTransactionsDetail
            minItems: 1
          ExpirationDateTime:
            description: |-
              Specified date and time the permissions will expire.
              If this is not populated, the permissions will be open ended.All dates in the JSON payloads are represented in ISO 8601 date-time format. 
              All date-time fields in responses must include the timezone. An example is below:
              2017-04-05T10:43:07+00:00
            type: string
            format: date-time
          TransactionFromDateTime:
            description: |-
              Specified start date and time for the transaction query period.
              If this is not populated, the start date will be open ended, and data will be returned from the earliest available transaction.All dates in the JSON payloads are represented in ISO 8601 date-time format. 
              All date-time fields in responses must include the timezone. An example is below:
              2017-04-05T10:43:07+00:00
            type: string
            format: date-time
          TransactionToDateTime:
            description: |-
              Specified end date and time for the transaction query period.
              If this is not populated, the end date will be open ended, and data will be returned to the latest available transaction.All dates in the JSON payloads are represented in ISO 8601 date-time format. 
              All date-time fields in responses must include the timezone. An example is below:
              2017-04-05T10:43:07+00:00
            type: string
            format: date-time
      Risk:
        description: The Risk section is sent by the initiating party to the ASPSP. It is used to specify additional details for risk scoring for Account Info.
        type: object
        properties: {}
        additionalProperties: false
      Links:
        type: object
        description: Links relevant to the payload
        properties:
          Self:
            type: string
            format: uri
          First:
            type: string
            format: uri
          Prev:
            type: string
            format: uri
          Next:
            type: string
            format: uri
          Last:
            type: string
            format: uri
        additionalProperties: false
        required:
          - Self
      Meta:
        title: MetaData
        type: object
        description: Meta Data relevant to the payload
        properties:
          TotalPages:
            type: integer
            format: int32
        additionalProperties: false
  AccountInformationResponse:
    type: object
    required:
      - Data
    properties:
      Data:
        type: object
        properties:
          Account:
            type: array
            items:
              type: object
              description: Unambiguous identification of the account to which credit and debit entries are made.
              required:
                - AccountId
                - Currency
                - AccountType
                - AccountSubType
              properties:
                AccountId:
                  description: A unique and immutable identifier used to identify the account resource. This identifier has no meaning to the account owner.
                  type: string
                  minLength: 1
                  maxLength: 40
                Status:
                  description: Specifies the status of account resource in code form.
                  type: string
                  enum:
                    - Deleted
                    - Disabled
                    - Enabled
                    - Pending
                    - ProForma
                StatusUpdateDateTime:
                  description: |-
                    Date and time at which the resource status was updated.All dates in the JSON payloads are represented in ISO 8601 date-time format. 
                    All date-time fields in responses must include the timezone. An example is below:
                    2017-04-05T10:43:07+00:00
                  type: string
                  format: date-time
                Currency:
                  description: |-
                    Identification of the currency in which the account is held. 
                    Usage: Currency should only be used in case one and the same account number covers several currencies
                    and the initiating party needs to identify which currency needs to be used for settlement on the account.
                  type: string
                  pattern: '^[A-Z]{3,3}$'
                AccountType:
                  description: Specifies the type of account (personal or business).
                  type: string
                  enum:
                    - Business
                    - Personal
                AccountSubType:
                  description: Specifies the sub type of account (product family group).
                  type: string
                  enum:
                    - ChargeCard
                    - CreditCard
                    - CurrentAccount
                    - EMoney
                    - Loan
                    - Mortgage
                    - PrePaidCard
                    - Savings
                Description:
                  description: Specifies the description of the account type.
                  type: string
                  minLength: 1
                  maxLength: 35
                Nickname:
                  description: 'The nickname of the account, assigned by the account owner in order to provide an additional means of identification of the account.'
                  type: string
                  minLength: 1
                  maxLength: 70
                Account:
                  type: array
                  items:
                    type: object
                    description: Provides the details to identify an account.
                    required:
                      - SchemeName
                      - Identification
                    properties:
                      SchemeName:
                        description: 'Name of the identification scheme, in a coded form as published in an external list.'
                        type: string
                        x-namespaced-enum:
                          - UK.OBIE.BBAN
                          - UK.OBIE.IBAN
                          - UK.OBIE.PAN
                          - UK.OBIE.Paym
                          - UK.OBIE.SortCodeAccountNumber
                      Identification:
                        description: Identification assigned by an institution to identify an account. This identification is known by the account owner.
                        type: string
                        minLength: 1
                        maxLength: 256
                      Name:
                        description: |-
                          The account name is the name or names of the account owner(s) represented at an account level, as displayed by the ASPSP's online channels.
                          Note, the account name is not the product name or the nickname of the account.
                        type: string
                        minLength: 1
                        maxLength: 70
                      SecondaryIdentification:
                        description: |-
                          This is secondary identification of the account, as assigned by the account servicing institution. 
                          This can be used by building societies to additionally identify accounts with a roll number (in addition to a sort code and account number combination).
                        type: string
                        minLength: 1
                        maxLength: 34
                Servicer:
                  type: object
                  required:
                    - SchemeName
                    - Identification
                  description: 'Party that manages the account on behalf of the account owner, that is manages the registration and booking of entries on the account, calculates balances on the account and provides information about the account.'
                  properties:
                    SchemeName:
                      description: 'Name of the identification scheme, in a coded form as published in an external list.'
                      type: string
                      x-namespaced-enum:
                        - UK.OBIE.BICFI
                    Identification:
                      description: Unique and unambiguous identification of the servicing institution.
                      type: string
                      minLength: 1
                      maxLength: 35
      Links:
        type: object
        description: Links relevant to the payload
        properties:
          Self:
            type: string
            format: uri
          First:
            type: string
            format: uri
          Prev:
            type: string
            format: uri
          Next:
            type: string
            format: uri
          Last:
            type: string
            format: uri
        additionalProperties: false
        required:
          - Self
      Meta:
        title: MetaData
        type: object
        description: Meta Data relevant to the payload
        properties:
          TotalPages:
            type: integer
            format: int32
        additionalProperties: false
  AccountBalancesResponse:
    type: object
    required:
      - Data
    properties:
      Data:
        type: object
        required:
          - Balance
        properties:
          Balance:
            type: array
            items:
              type: object
              description: Set of elements used to define the balance details.
              required:
                - AccountId
                - CreditDebitIndicator
                - Type
                - DateTime
                - Amount
              properties:
                AccountId:
                  description: A unique and immutable identifier used to identify the account resource. This identifier has no meaning to the account owner.
                  type: string
                  minLength: 1
                  maxLength: 40
                CreditDebitIndicator:
                  description: |-
                    Indicates whether the balance is a credit or a debit balance. 
                    Usage: A zero balance is considered to be a credit balance.
                  type: string
                  enum:
                    - Credit
                    - Debit
                Type:
                  description: 'Balance type, in a coded form.'
                  type: string
                  enum:
                    - ClosingAvailable
                    - ClosingBooked
                    - ClosingCleared
                    - Expected
                    - ForwardAvailable
                    - Information
                    - InterimAvailable
                    - InterimBooked
                    - InterimCleared
                    - OpeningAvailable
                    - OpeningBooked
                    - OpeningCleared
                    - PreviouslyClosedBooked
                DateTime:
                  description: |-
                    Indicates the date (and time) of the balance.All dates in the JSON payloads are represented in ISO 8601 date-time format. 
                    All date-time fields in responses must include the timezone. An example is below:
                    2017-04-05T10:43:07+00:00
                  type: string
                  format: date-time
                Amount:
                  type: object
                  required:
                    - Amount
                    - Currency
                  description: Amount of money of the cash balance.
                  properties:
                    Amount:
                      description: A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.
                      type: string
                      pattern: '^\d{1,13}\.\d{1,5}$'
                    Currency:
                      description: 'A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".'
                      type: string
                      pattern: '^[A-Z]{3,3}$'
            minItems: 1
      Links:
        type: object
        description: Links relevant to the payload
        properties:
          Self:
            type: string
            format: uri
          First:
            type: string
            format: uri
          Prev:
            type: string
            format: uri
          Next:
            type: string
            format: uri
          Last:
            type: string
            format: uri
        additionalProperties: false
        required:
          - Self
      Meta:
        title: MetaData
        type: object
        description: Meta Data relevant to the payload
        properties:
          TotalPages:
            type: integer
            format: int32
        additionalProperties: false
  AccountBeneficiariesResponse:
    type: object
    required:
      - Data
    properties:
      Data:
        type: object
        properties:
          Beneficiary:
            type: array
            items:
              type: object
              properties:
                AccountId:
                  description: A unique and immutable identifier used to identify the account resource. This identifier has no meaning to the account owner.
                  type: string
                  minLength: 1
                  maxLength: 40
                BeneficiaryId:
                  description: A unique and immutable identifier used to identify the beneficiary resource. This identifier has no meaning to the account owner.
                  type: string
                  minLength: 1
                  maxLength: 40
                Reference:
                  description: |-
                    Unique reference, as assigned by the creditor, to unambiguously refer to the payment transaction.
                    Usage: If available, the initiating party should provide this reference in the structured remittance information, to enable reconciliation by the creditor upon receipt of the amount of money.
                    If the business context requires the use of a creditor reference or a payment remit identification, and only one identifier can be passed through the end-to-end chain, the creditor's reference or payment remittance identification should be quoted in the end-to-end transaction identification.
                  type: string
                  minLength: 1
                  maxLength: 35
                CreditorAccount:
                  type: object
                  required:
                    - SchemeName
                    - Identification
                  description: Provides the details to identify the beneficiary account.
                  properties:
                    SchemeName:
                      description: 'Name of the identification scheme, in a coded form as published in an external list.'
                      type: string
                      x-namespaced-enum:
                        - UK.OBIE.BBAN
                        - UK.OBIE.IBAN
                        - UK.OBIE.PAN
                        - UK.OBIE.Paym
                        - UK.OBIE.SortCodeAccountNumber
                    Identification:
                      description: Identification assigned by an institution to identify an account. This identification is known by the account owner.
                      type: string
                      minLength: 1
                      maxLength: 256
                    Name:
                      description: |-
                        The account name is the name or names of the account owner(s) represented at an account level, as displayed by the ASPSP's online channels.
                          Note, the account name is not the product name or the nickname of the account.
                      type: string
                      minLength: 1
                      maxLength: 70
                    SecondaryIdentification:
                      description: |-
                        This is secondary identification of the account, as assigned by the account servicing institution. 
                        This can be used by building societies to additionally identify accounts with a roll number (in addition to a sort code and account number combination).
                      type: string
                      minLength: 1
                      maxLength: 34
      Links:
        type: object
        description: Links relevant to the payload
        properties:
          Self:
            type: string
            format: uri
          First:
            type: string
            format: uri
          Prev:
            type: string
            format: uri
          Next:
            type: string
            format: uri
          Last:
            type: string
            format: uri
        additionalProperties: false
        required:
          - Self
      Meta:
        title: MetaData
        type: object
        description: Meta Data relevant to the payload
        properties:
          TotalPages:
            type: integer
            format: int32
        additionalProperties: false
  AccountTransactionsResponse:
    type: object
    required:
      - Data
    properties:
      Data:
        type: object
        properties:
          Transaction:
            type: array
            items:
              type: object
              description: Provides further details on an entry in the report.
              required:
                - AccountId
                - CreditDebitIndicator
                - Status
                - BookingDateTime
                - Amount
              properties:
                AccountId:
                  description: A unique and immutable identifier used to identify the account resource. This identifier has no meaning to the account owner.
                  type: string
                  minLength: 1
                  maxLength: 40
                TransactionId:
                  description: Unique identifier for the transaction within an servicing institution. This identifier is both unique and immutable.
                  type: string
                  minLength: 1
                  maxLength: 210
                TransactionReference:
                  description: 'Unique reference for the transaction. This reference is optionally populated, and may as an example be the FPID in the Faster Payments context.'
                  type: string
                  minLength: 1
                  maxLength: 35
                CreditDebitIndicator:
                  description: Indicates whether the transaction is a credit or a debit entry.
                  type: string
                  enum:
                    - Credit
                    - Debit
                Status:
                  description: Status of a transaction entry on the books of the account servicer.
                  type: string
                  enum:
                    - Booked
                    - Pending
                BookingDateTime:
                  description: |-
                    Date and time when a transaction entry is posted to an account on the account servicer's books.
                    Usage: Booking date is the expected booking date, unless the status is booked, in which case it is the actual booking date.All dates in the JSON payloads are represented in ISO 8601 date-time format. 
                    All date-time fields in responses must include the timezone. An example is below:
                    2017-04-05T10:43:07+00:00
                  type: string
                  format: date-time
                ValueDateTime:
                  description: |-
                    Date and time at which assets become available to the account owner in case of a credit entry, or cease to be available to the account owner in case of a debit transaction entry.
                    Usage: If transaction entry status is pending and value date is present, then the value date refers to an expected/requested value date.
                    For transaction entries subject to availability/float and for which availability information is provided, the value date must not be used. In this case the availability component identifies the number of availability days.All dates in the JSON payloads are represented in ISO 8601 date-time format. 
                    All date-time fields in responses must include the timezone. An example is below:
                    2017-04-05T10:43:07+00:00
                  type: string
                  format: date-time
                TransactionInformation:
                  description: |-
                    Further details of the transaction. 
                    This is the transaction narrative, which is unstructured text.
                  type: string
                  minLength: 1
                  maxLength: 500
                Amount:
                  type: object
                  required:
                    - Amount
                    - Currency
                  description: Amount of money in the cash transaction entry.
                  properties:
                    Amount:
                      description: A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.
                      type: string
                      pattern: '^\d{1,13}\.\d{1,5}$'
                    Currency:
                      description: 'A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".'
                      type: string
                      pattern: '^[A-Z]{3,3}$'
                ChargeAmount:
                  type: object
                  required:
                    - Amount
                    - Currency
                  description: Transaction charges to be paid by the charge bearer.
                  properties:
                    Amount:
                      description: A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.
                      type: string
                      pattern: '^\d{1,13}\.\d{1,5}$'
                    Currency:
                      description: 'A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".'
                      type: string
                      pattern: '^[A-Z]{3,3}$'
                CurrencyExchange:
                  type: object
                  required:
                    - SourceCurrency
                    - ExchangeRate
                  description: Set of elements used to provide details on the currency exchange.
                  properties:
                    SourceCurrency:
                      description: Currency from which an amount is to be converted in a currency conversion.
                      type: string
                      pattern: '^[A-Z]{3,3}$'
                    TargetCurrency:
                      description: Currency into which an amount is to be converted in a currency conversion.
                      type: string
                      pattern: '^[A-Z]{3,3}$'
                    UnitCurrency:
                      description: 'Currency in which the rate of exchange is expressed in a currency exchange. In the example 1GBP = xxxCUR, the unit currency is GBP.'
                      type: string
                      pattern: '^[A-Z]{3,3}$'
                    ExchangeRate:
                      description: |-
                        Factor used to convert an amount from one currency into another. This reflects the price at which one currency was bought with another currency.
                        Usage: ExchangeRate expresses the ratio between UnitCurrency and QuotedCurrency (ExchangeRate = UnitCurrency/QuotedCurrency).
                      type: number
                    ContractIdentification:
                      description: Unique identification to unambiguously identify the foreign exchange contract.
                      type: string
                      minLength: 1
                      maxLength: 35
                    QuotationDate:
                      description: |-
                        Date and time at which an exchange rate is quoted.All dates in the JSON payloads are represented in ISO 8601 date-time format. 
                        All date-time fields in responses must include the timezone. An example is below:
                        2017-04-05T10:43:07+00:00
                      type: string
                      format: date-time
                    InstructedAmount:
                      type: object
                      required:
                        - Amount
                        - Currency
                      description: 'Amount of money to be moved between the debtor and creditor, before deduction of charges, expressed in the currency as ordered by the initiating party.'
                      properties:
                        Amount:
                          description: A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.
                          type: string
                          pattern: '^\d{1,13}\.\d{1,5}$'
                        Currency:
                          description: 'A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".'
                          type: string
                          pattern: '^[A-Z]{3,3}$'
      Links:
        type: object
        description: Links relevant to the payload
        properties:
          Self:
            type: string
            format: uri
          First:
            type: string
            format: uri
          Prev:
            type: string
            format: uri
          Next:
            type: string
            format: uri
          Last:
            type: string
            format: uri
        additionalProperties: false
        required:
          - Self
      Meta:
        title: MetaData
        type: object
        description: Meta Data relevant to the payload
        properties:
          TotalPages:
            type: integer
            format: int32
        additionalProperties: false
  ErrorResponse:
    description: 'A description of error occured. include code, identifier and a message.'
    type: object
    properties:
      Code:
        description: 'High level textual error code, to help categorize the errors.'
        type: string
        minLength: 1
        maxLength: 40
      Id:
        description: 'A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.'
        type: string
        minLength: 1
        maxLength: 40
      Message:
        description: 'Brief Error message, e.g., ''There is something wrong with the request parameters provided'''
        type: string
        minLength: 1
        maxLength: 500
    required:
      - Code
      - Message
      - Errors
    additionalProperties: false
