{"openapi":"3.0.0","info":{"title":"DevPortal (Main API): Consents APIs","description":"Luminor agnostic API definitions","contact":{"email":"openbanking@luminorgroup.com"},"version":"1.0.1"},"servers":[{"url":"https://api.developer.luminoropenbanking.com/sandbox/"}],"tags":[{"name":"Consents","description":"Set of endpoints used to manage user consents"},{"name":"Consent authorisation","description":"Set of endpoints used for consent authorisations"}],"paths":{"/v1/consents":{"post":{"tags":["Consents"],"summary":"Create new consent","description":"Creates a draft consent defining a list of accounts the user would allow accessing via respective TPP","operationId":"createConsent","parameters":[{"name":"X-Request-ID","in":"header","description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"},{"name":"Authorization","in":"header","description":"Access token issued by the authorization server","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"8f5SZKlfrPg9pTqaeGIYwxAmsco"},{"name":"psu-ip-address","in":"header","description":"User's IP Address","required":true,"schema":{"type":"string","format":"ipv4","exampleSetFlag":false},"example":"255.255.255.255"},{"name":"Content-type","in":"header","description":"Type of content (application/json)","required":true,"schema":{"type":"string","exampleSetFlag":false,"enum":["application/json"]}},{"name":"tpp-redirect-preferred","in":"header","description":"Use TPP redirect appraoch","required":false,"schema":{"type":"boolean","exampleSetFlag":false},"example":false},{"name":"tpp-redirect-uri","in":"header","description":"Redirect URI after successful signing","required":false,"schema":{"type":"string","exampleSetFlag":false},"example":"https://developer.luminoropenbanking.com/"},{"name":"tpp-nok-redirect-uri","in":"header","description":"Redirect URI after failed signing","required":false,"schema":{"type":"string","exampleSetFlag":false},"example":"https://developer.luminoropenbanking.com/"},{"name":"PSU-Corporate-ID","in":"header","description":"PSU personal ID code/Company's registration code (for validation purpose)","required":false,"schema":{"type":"string","exampleSetFlag":false}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1_consents_body","exampleSetFlag":false},"exampleSetFlag":false}},"required":true},"responses":{"201":{"description":"Created","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_201","exampleSetFlag":false},"exampleSetFlag":false}}},"400":{"description":"Bad Request","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"401":{"description":"Unauthorized","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"403":{"description":"Forbidden","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"404":{"description":"Not Found","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"409":{"description":"Conflict","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"500":{"description":"Internal Server Error","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}}},"security":[{"headers":["content-type: application/json","authorization: Bearer REPLACE_IT_BY_ACCESS_TOKEN(customer2,ttp1)"]}]}},"/v1/consents/{consentId}":{"get":{"tags":["Consents"],"summary":"Get consent details","description":"Returns details of specified consent","operationId":"getConsentInformation","parameters":[{"name":"X-Request-ID","in":"header","description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"},{"name":"Authorization","in":"header","description":"Access token issued by the authorization server","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"8f5SZKlfrPg9pTqaeGIYwxAmsco"},{"name":"PSU-IP-Address","in":"header","description":"User's IP Address","schema":{"type":"string","format":"ipv4","exampleSetFlag":false},"example":"255.255.255.255"},{"name":"consentId","in":"path","description":"Consent ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}}],"responses":{"200":{"description":"OK","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_200","exampleSetFlag":false},"exampleSetFlag":false}}},"400":{"description":"Bad Request","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"401":{"description":"Unauthorized","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"403":{"description":"Forbidden","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"404":{"description":"Not Found","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"409":{"description":"Conflict","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"500":{"description":"Internal Server Error","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}}},"security":[{"headers":["content-type: application/json","authorization: Bearer REPLACE_IT_BY_ACCESS_TOKEN(customer2,ttp1)"]}]},"delete":{"tags":["Consents"],"summary":"Revoke consent","description":"Revokes specified user's consent","operationId":"deleteConsent","parameters":[{"name":"X-Request-ID","in":"header","description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"},{"name":"Authorization","in":"header","description":"Access token issued by the authorization server","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"8f5SZKlfrPg9pTqaeGIYwxAmsco"},{"name":"PSU-IP-Address","in":"header","description":"User's IP Address","schema":{"type":"string","format":"ipv4","exampleSetFlag":false},"example":"255.255.255.255"},{"name":"consentId","in":"path","description":"Consent ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}}],"responses":{"204":{"description":"No Content","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}}},"400":{"description":"Bad Request","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"401":{"description":"Unauthorized","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"403":{"description":"Forbidden","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"404":{"description":"Not Found","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"409":{"description":"Conflict","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"500":{"description":"Internal Server Error","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}}},"security":[{"headers":["content-type: application/json","authorization: Bearer REPLACE_IT_BY_ACCESS_TOKEN(customer2,ttp1)"]}]}},"/v1/consents/{consentId}/status":{"get":{"tags":["Consents"],"summary":"Get consent status","description":"Returns status of specified consent","operationId":"getConsentStatus","parameters":[{"name":"X-Request-ID","in":"header","description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"},{"name":"Authorization","in":"header","description":"Access token issued by the authorization server","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"8f5SZKlfrPg9pTqaeGIYwxAmsco"},{"name":"PSU-IP-Address","in":"header","description":"User's IP Address","schema":{"type":"string","format":"ipv4","exampleSetFlag":false},"example":"255.255.255.255"},{"name":"consentId","in":"path","description":"Consent ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}}],"responses":{"200":{"description":"OK","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_200_1","exampleSetFlag":false},"exampleSetFlag":false}}},"400":{"description":"Bad Request","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"401":{"description":"Unauthorized","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"403":{"description":"Forbidden","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"404":{"description":"Not Found","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"409":{"description":"Conflict","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"500":{"description":"Internal Server Error","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}}},"security":[{"headers":["content-type: application/json","authorization: Bearer REPLACE_IT_BY_ACCESS_TOKEN(customer2,ttp1)"]}]}},"/v1/consents/{consentId}/authorisations":{"get":{"tags":["Consent authorisation"],"summary":"Get consent authorisations","description":"Returns a list of consent authorisation sub-resources","operationId":"listOfConsentAuthorisations","parameters":[{"name":"X-Request-ID","in":"header","description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"},{"name":"Authorization","in":"header","description":"Access token issued by the authorization server","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"8f5SZKlfrPg9pTqaeGIYwxAmsco"},{"name":"PSU-IP-Address","in":"header","description":"User's IP Address","schema":{"type":"string","format":"ipv4","exampleSetFlag":false},"example":"255.255.255.255"},{"name":"consentId","in":"path","description":"Consent ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}}],"responses":{"200":{"description":"OK","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_200_2","exampleSetFlag":false},"exampleSetFlag":false}}},"400":{"description":"Bad Request","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"401":{"description":"Unauthorized","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"403":{"description":"Forbidden","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"404":{"description":"Not Found","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"409":{"description":"Conflict","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"500":{"description":"Internal Server Error","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}}},"security":[{"headers":["content-type: application/json","authorization: Bearer REPLACE_IT_BY_ACCESS_TOKEN(customer2,ttp1)"]}]},"post":{"tags":["Consent authorisation"],"summary":"Initiate consent authorisation","description":"Starts consent authorisation process","operationId":"startAuthorisation","parameters":[{"name":"X-Request-ID","in":"header","description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"},{"name":"Authorization","in":"header","description":"Access token issued by the authorization server","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"8f5SZKlfrPg9pTqaeGIYwxAmsco"},{"name":"PSU-IP-Address","in":"header","description":"User's IP Address","schema":{"type":"string","format":"ipv4","exampleSetFlag":false},"example":"255.255.255.255"},{"name":"consentId","in":"path","description":"Consent ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}}],"responses":{"201":{"description":"Created","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_201_1","exampleSetFlag":false},"exampleSetFlag":false}}},"400":{"description":"Bad Request","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"401":{"description":"Unauthorized","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"403":{"description":"Forbidden","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"404":{"description":"Not Found","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"409":{"description":"Conflict","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"500":{"description":"Internal Server Error","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}}},"security":[{"headers":["content-type: application/json","authorization: Bearer REPLACE_IT_BY_ACCESS_TOKEN(customer2,ttp1)"]}]}},"/v1/consents/{consentId}/authorisations/{authorisationId}":{"get":{"tags":["Consent authorisation"],"summary":"Get consent authorisation details","description":"Returns details of specified consent authorisation sub-resource","operationId":"getAuthorisationDetails","parameters":[{"name":"X-Request-ID","in":"header","description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"},{"name":"Authorization","in":"header","description":"Access token issued by the authorization server","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"8f5SZKlfrPg9pTqaeGIYwxAmsco"},{"name":"PSU-IP-Address","in":"header","description":"User's IP Address","schema":{"type":"string","format":"ipv4","exampleSetFlag":false},"example":"255.255.255.255"},{"name":"consentId","in":"path","description":"Consent ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}},{"name":"authorisationId","in":"path","description":"Auhorisation ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}}],"responses":{"200":{"description":"OK","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_200_3","exampleSetFlag":false},"exampleSetFlag":false}}},"400":{"description":"Bad Request","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"401":{"description":"Unauthorized","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"403":{"description":"Forbidden","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"404":{"description":"Not Found","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"409":{"description":"Conflict","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"500":{"description":"Internal Server Error","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}}},"security":[{"headers":["content-type: application/json","authorization: Bearer REPLACE_IT_BY_ACCESS_TOKEN(customer2,ttp1)"]}]},"put":{"tags":["Consent authorisation"],"summary":"Update consent authorisation details","description":"Updates specified consent authorisation sub-resource with selected authorisation method","operationId":"setAuthorisationDetails","parameters":[{"name":"X-Request-ID","in":"header","description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"},{"name":"Authorization","in":"header","description":"Access token issued by the authorization server","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"8f5SZKlfrPg9pTqaeGIYwxAmsco"},{"name":"PSU-IP-Address","in":"header","description":"User's IP Address","schema":{"type":"string","format":"ipv4","exampleSetFlag":false},"example":"255.255.255.255"},{"name":"Content-type","in":"header","description":"Type of content (application/json)","required":true,"schema":{"type":"string","exampleSetFlag":false,"enum":["application/json"]}},{"name":"consentId","in":"path","description":"Consent ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}},{"name":"authorisationId","in":"path","description":"Auhorisation ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/authorisations_authorisationId_body","exampleSetFlag":false},"exampleSetFlag":false}},"required":true},"responses":{"200":{"description":"OK","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_200_4","exampleSetFlag":false},"exampleSetFlag":false}}},"400":{"description":"Bad Request","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"401":{"description":"Unauthorized","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"403":{"description":"Forbidden","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"404":{"description":"Not Found","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"409":{"description":"Conflict","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"500":{"description":"Internal Server Error","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}}},"security":[{"headers":["content-type: application/json","authorization: Bearer REPLACE_IT_BY_ACCESS_TOKEN(customer2,ttp1)"]}]},"delete":{"tags":["Consent authorisation"],"summary":"Cancel consent authorisation","description":"Cancels specified consent authorisation sub-resource","operationId":"cancelAuthorisation","parameters":[{"name":"X-Request-ID","in":"header","description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"},{"name":"Authorization","in":"header","description":"Access token issued by the authorization server","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"8f5SZKlfrPg9pTqaeGIYwxAmsco"},{"name":"PSU-IP-Address","in":"header","description":"User's IP Address","schema":{"type":"string","format":"ipv4","exampleSetFlag":false},"example":"255.255.255.255"},{"name":"consentId","in":"path","description":"Consent ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}},{"name":"authorisationId","in":"path","description":"Auhorisation ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}}],"responses":{"204":{"description":"No Content","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}}},"400":{"description":"Bad Request","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"401":{"description":"Unauthorized","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"403":{"description":"Forbidden","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"404":{"description":"Not Found","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"409":{"description":"Conflict","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"500":{"description":"Internal Server Error","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}}},"security":[{"headers":["content-type: application/json","authorization: Bearer REPLACE_IT_BY_ACCESS_TOKEN(customer2,ttp1)"]}]}},"/v1/consents/{consentId}/authorisations/{authorisationId}/status":{"get":{"tags":["Consent authorisation"],"summary":"Get consent authorisation status","description":"Returns status of specified consent authorisation sub-resource","operationId":"getAuthorisationStatus","parameters":[{"name":"X-Request-ID","in":"header","description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"},{"name":"Authorization","in":"header","description":"Access token issued by the authorization server","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"8f5SZKlfrPg9pTqaeGIYwxAmsco"},{"name":"PSU-IP-Address","in":"header","description":"User's IP Address","schema":{"type":"string","format":"ipv4","exampleSetFlag":false},"example":"255.255.255.255"},{"name":"consentId","in":"path","description":"Consent ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}},{"name":"authorisationId","in":"path","description":"Auhorisation ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}}],"responses":{"200":{"description":"OK","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_200_5","exampleSetFlag":false},"exampleSetFlag":false}}},"400":{"description":"Bad Request","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"401":{"description":"Unauthorized","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"403":{"description":"Forbidden","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"404":{"description":"Not Found","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"409":{"description":"Conflict","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"500":{"description":"Internal Server Error","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}}},"security":[{"headers":["content-type: application/json","authorization: Bearer REPLACE_IT_BY_ACCESS_TOKEN(customer2,ttp1)"]}]}}},"components":{"schemas":{"consent":{"required":["access","accounts","combinedServiceIndicator","frequencyPerDay","iban","recurringIndicator","validUntil"],"type":"object","properties":{"access":{"$ref":"#/components/schemas/v1consents_access","exampleSetFlag":false},"frequencyPerDay":{"type":"number","description":"Maximum frequency of requests allowed per day. The frequency must be between 1 and 4 per day. For a one-off access, this attribute is set to \"1\".","format":"int32","example":4,"exampleSetFlag":true},"recurringIndicator":{"type":"boolean","description":"Indicator of the recurring access to the account. true, if the consent is for recurring access to the account data. false, if the consent is for one access to the account data","example":true,"exampleSetFlag":true},"validUntil":{"type":"string","description":"Consent expiry date (YYYY-MM-DD)","format":"date","example":"2025-01-01","exampleSetFlag":true},"combinedServiceIndicator":{"type":"boolean","description":"Indicator of combined account information and payments services in one session (currently not supported)","example":false,"exampleSetFlag":true}},"exampleSetFlag":false},"consentSummaryEnv":{"type":"object","properties":{"consentStatus":{"type":"string","description":"Consent status","exampleSetFlag":false,"enum":["received","rejected","valid","revoked_by_psu","expired"]},"consentId":{"type":"string","description":"Consent ID","format":"uuid","example":"24156c6c-e1c9-11e8-9372-cdb9b420ccd4","exampleSetFlag":true},"_links":{"$ref":"#/components/schemas/consentSummaryEnv__links","exampleSetFlag":false}},"exampleSetFlag":false},"consentDetails":{"required":["access","combinedServiceIndicator","frequencyPerDay","recurringIndicator","validUntil"],"type":"object","properties":{"access":{"$ref":"#/components/schemas/consentDetails_access","exampleSetFlag":false},"frequencyPerDay":{"type":"number","description":"Maximum frequency of requests allowed per day. The frequency must be between 1 and 4 per day. For a one-off access, this attribute is set to \"1\".","format":"int32","example":4,"exampleSetFlag":true},"recurringIndicator":{"type":"boolean","description":"Indicator of the recurring access to the account. true, if the consent is for recurring access to the account data. false, if the consent is for one access to the account data","example":true,"exampleSetFlag":true},"validUntil":{"type":"string","description":"Consent expiry date (YYYY-MM-DD)","format":"date","example":"2025-01-01","exampleSetFlag":true},"combinedServiceIndicator":{"type":"boolean","description":"Indicator of combined account information and payments services in one session (currently not supported)","example":false,"exampleSetFlag":true},"lastActionDate":{"type":"string","description":"Date of the last change of consent status","format":"date","example":"2020-06-15","exampleSetFlag":true},"consentStatus":{"type":"string","description":"Consent status","exampleSetFlag":false,"enum":["received","rejected","valid","revoked_by_psu","expired"]},"consentId":{"type":"string","description":"Consent ID","format":"uuid","example":"24156c6c-e1c9-11e8-9372-cdb9b420ccd4","exampleSetFlag":true}},"exampleSetFlag":false},"authorisation":{"type":"object","properties":{"authorisationId":{"type":"string","description":"Authorisation ID","format":"uuid","exampleSetFlag":false},"scaStatus":{"type":"string","description":"Authorisation status","example":"started","exampleSetFlag":true,"enum":["received","sca_method_selected","started","submitted","finalised","canceled","failed"]},"authenticationMethodId":{"type":"string","description":"Authentication method","example":"MOBILE_ID","exampleSetFlag":true,"enum":["SMART_ID","MOBILE_ID","CODE_CALCULATOR","IDCARD"]},"name":{"type":"string","description":"Name of the person who has signed the consent","example":"Lisa","exampleSetFlag":true},"surname":{"type":"string","description":"Surname of the person who has signed the consent","example":"Simpson","exampleSetFlag":true},"signatureSchemaType":{"type":"string","description":"Signature type","example":"ALONE","exampleSetFlag":true,"enum":["NOSIGN","ALONE","JOINT_2","JOINT_3"]},"created":{"type":"string","description":"Date and time the consent was signed","format":"date-time","example":"2020-03-31T07:00:07.897Z","exampleSetFlag":true},"_links":{"$ref":"#/components/schemas/authorisation__links","exampleSetFlag":false}},"exampleSetFlag":false},"consentStatusEnv":{"type":"object","properties":{"consentStatus":{"type":"string","description":"Consent status","exampleSetFlag":false,"enum":["received","rejected","valid","revoked_by_psu","expired"]}},"exampleSetFlag":false},"authorisationsEnv":{"type":"object","properties":{"authorisations":{"type":"array","description":"List of consent authorisations","exampleSetFlag":false,"items":{"$ref":"#/components/schemas/authorisationsEnv_authorisations","exampleSetFlag":false}}},"exampleSetFlag":false},"consentAuthorisation":{"type":"object","properties":{"scaStatus":{"type":"string","description":"Authorisation status","example":"started","exampleSetFlag":true,"enum":["received","sca_method_selected","started","submitted","finalised","canceled","failed"]},"authorisationId":{"type":"string","description":"Authorisation ID","format":"uuid","exampleSetFlag":false}},"exampleSetFlag":false},"methodsEnv":{"type":"object","properties":{"authorisationId":{"type":"string","description":"Authorisation ID","format":"uuid","exampleSetFlag":false},"scaStatus":{"type":"string","description":"Authorisation status","example":"started","exampleSetFlag":true,"enum":["received","sca_method_selected","started","submitted","finalised","canceled","failed"]},"scaMethods":{"type":"array","description":"Authentication methods","exampleSetFlag":false,"items":{"$ref":"#/components/schemas/methodsEnv_scaMethods","exampleSetFlag":false}},"_links":{"$ref":"#/components/schemas/methodsEnv__links","exampleSetFlag":false}},"exampleSetFlag":false},"scaMethod":{"type":"object","properties":{"scaApproach":{"type":"string","description":"Authentication approach","exampleSetFlag":false,"enum":["DECOUPLED"]},"authenticationMethodId":{"type":"string","description":"Authentication method","example":"MOBILE_ID","exampleSetFlag":true,"enum":["SMART_ID","MOBILE_ID","CODE_CALCULATOR","IDCARD"]},"explanation":{"type":"string","description":"Authentication method description","example":"Authentication using Mobile-ID","exampleSetFlag":true}},"example":[{"scaApproach":"DECOUPLED","authenticationMethodId":"SMART_ID","explanation":"Authentication using Smart-ID"},{"scaApproach":"DECOUPLED","authenticationMethodId":"MOBILE_ID","explanation":"Authentication using Mobile-ID"}],"exampleSetFlag":true},"methodsEnvLinks":{"type":"object","properties":{"selectAuthenticationMethod":{"$ref":"#/components/schemas/methodsEnv__links_selectAuthenticationMethod","exampleSetFlag":false},"scaStatus":{"$ref":"#/components/schemas/authorisation__links_scaStatus","exampleSetFlag":false}},"description":"Links","exampleSetFlag":false},"methodsEnvLinksSelectAuthenticationMethod":{"type":"object","properties":{"href":{"type":"string","description":"Link to authorisation execution","example":"/v1/consents/24156c6c-e1c9-11e8-9372-cdb9b420ccd4/authorisations/5d604f20-f868-11e8-b39c-c07116e1427d","exampleSetFlag":true}},"description":"Authorisation","exampleSetFlag":false},"methodsEnvLinksScaStatus":{"type":"object","properties":{"href":{"type":"string","description":"Link to authorisation status","example":"/v1/consents/24156c6c-e1c9-11e8-9372-cdb9b420ccd4/authorisations/5d604f20-f868-11e8-b39c-c07116e1427d/status","exampleSetFlag":true}},"description":"Authorisation status","exampleSetFlag":false},"authenticationMethodEnv":{"type":"object","properties":{"authenticationMethodId":{"type":"string","description":"Authentication method","example":"MOBILE_ID","exampleSetFlag":true,"enum":["SMART_ID","MOBILE_ID","CODE_CALCULATOR","IDCARD"]}},"exampleSetFlag":false},"challengeEnv":{"type":"object","properties":{"scaStatus":{"type":"string","description":"Authorisation status","example":"started","exampleSetFlag":true,"enum":["received","sca_method_selected","started","submitted","finalised","canceled","failed"]},"verificationCode":{"type":"string","description":"Verification code","example":"0539","exampleSetFlag":true}},"exampleSetFlag":false},"scaStatusEnv":{"type":"object","properties":{"scaStatus":{"type":"string","description":"Authorisation status","example":"started","exampleSetFlag":true,"enum":["received","sca_method_selected","started","submitted","finalised","canceled","failed"]}},"exampleSetFlag":false},"accessWithoutCurrency":{"type":"object","properties":{"accounts":{"type":"array","description":"Accounts","exampleSetFlag":false,"items":{"$ref":"#/components/schemas/v1consents_access_accounts","exampleSetFlag":false}}},"description":"Requested access services","exampleSetFlag":false},"access":{"type":"object","properties":{"accounts":{"type":"array","description":"Accounts","exampleSetFlag":false,"items":{"$ref":"#/components/schemas/consentDetails_access_accounts","exampleSetFlag":false}}},"description":"Requested access services","exampleSetFlag":false},"frequencyPerDay":{"type":"number","description":"Maximum frequency of requests allowed per day. The frequency must be between 1 and 4 per day. For a one-off access, this attribute is set to \"1\".","format":"int32","example":4,"exampleSetFlag":true},"recurringIndicator":{"type":"boolean","description":"Indicator of the recurring access to the account. true, if the consent is for recurring access to the account data. false, if the consent is for one access to the account data","example":true,"exampleSetFlag":true},"validUntil":{"type":"string","description":"Consent expiry date (YYYY-MM-DD)","format":"date","example":"2025-01-01","exampleSetFlag":true},"combinedServiceIndicator":{"type":"boolean","description":"Indicator of combined account information and payments services in one session (currently not supported)","example":false,"exampleSetFlag":true},"lastActionDate":{"type":"string","description":"Date of the last change of consent status","format":"date","example":"2020-06-15","exampleSetFlag":true},"consentId":{"type":"string","description":"Consent ID","format":"uuid","example":"24156c6c-e1c9-11e8-9372-cdb9b420ccd4","exampleSetFlag":true},"consentStatus":{"type":"string","description":"Consent status","exampleSetFlag":false,"enum":["received","rejected","valid","revoked_by_psu","expired"]},"errorResponse":{"type":"object","properties":{"errors":{"type":"array","description":"error details","exampleSetFlag":false,"items":{"$ref":"#/components/schemas/errorResponse_errors","exampleSetFlag":false}}},"exampleSetFlag":false},"error":{"required":["category","code"],"properties":{"category":{"type":"string","description":"Error category. Only \"ERROR\" or \"WARNING\" permitted","example":"ERROR","exampleSetFlag":true,"enum":["ERROR","WARNING"]},"code":{"type":"string","description":"Error message code","example":"FORMAT_ERROR","exampleSetFlag":true},"text":{"type":"string","description":"Additional explaining text","example":"Review query parameters","exampleSetFlag":true}},"exampleSetFlag":false},"authorisationId":{"type":"string","description":"Authorisation ID","format":"uuid","exampleSetFlag":false},"scaStatus":{"type":"string","description":"Authorisation status","example":"started","exampleSetFlag":true,"enum":["received","sca_method_selected","started","submitted","finalised","canceled","failed"]},"authenticationMethodId":{"type":"string","description":"Authentication method","example":"MOBILE_ID","exampleSetFlag":true,"enum":["SMART_ID","MOBILE_ID","CODE_CALCULATOR","IDCARD"]},"signatureSchemaType":{"type":"string","description":"Signature type","example":"ALONE","exampleSetFlag":true,"enum":["NOSIGN","ALONE","JOINT_2","JOINT_3"]},"scaExplanation":{"type":"string","description":"Authentication method description","example":"Authentication using Mobile-ID","exampleSetFlag":true},"iban":{"type":"string","description":"IBAN","example":"LT594010049500047594","exampleSetFlag":true},"currency":{"type":"string","description":"Currency","example":"EUR","exampleSetFlag":true},"v1consents_access_accounts":{"type":"object","properties":{"iban":{"type":"string","description":"IBAN","example":"LT594010049500047594","exampleSetFlag":true}},"exampleSetFlag":true},"v1consents_access":{"type":"object","properties":{"accounts":{"type":"array","description":"Accounts","exampleSetFlag":false,"items":{"$ref":"#/components/schemas/v1consents_access_accounts","exampleSetFlag":false}}},"description":"Requested access services","exampleSetFlag":true},"v1_consents_body":{"required":["access","accounts","combinedServiceIndicator","frequencyPerDay","iban","recurringIndicator","validUntil"],"type":"object","properties":{"access":{"$ref":"#/components/schemas/v1consents_access","exampleSetFlag":false},"frequencyPerDay":{"type":"number","description":"Maximum frequency of requests allowed per day. The frequency must be between 1 and 4 per day. For a one-off access, this attribute is set to \"1\".","format":"int32","example":4,"exampleSetFlag":true},"recurringIndicator":{"type":"boolean","description":"Indicator of the recurring access to the account. true, if the consent is for recurring access to the account data. false, if the consent is for one access to the account data","example":true,"exampleSetFlag":true},"validUntil":{"type":"string","description":"Consent expiry date (YYYY-MM-DD)","format":"date","example":"2025-01-01","exampleSetFlag":true},"combinedServiceIndicator":{"type":"boolean","description":"Indicator of combined account information and payments services in one session (currently not supported)","example":false,"exampleSetFlag":true}},"exampleSetFlag":false},"inline_response_201":{"type":"object","properties":{"consentStatus":{"type":"string","description":"Consent status","exampleSetFlag":false,"enum":["received","rejected","valid","revoked_by_psu","expired"]},"consentId":{"type":"string","description":"Consent ID","format":"uuid","example":"24156c6c-e1c9-11e8-9372-cdb9b420ccd4","exampleSetFlag":true},"_links":{"$ref":"#/components/schemas/consentSummaryEnv__links","exampleSetFlag":false}},"exampleSetFlag":false},"inline_response_400":{"type":"object","properties":{"errors":{"type":"array","description":"error details","exampleSetFlag":false,"items":{"$ref":"#/components/schemas/errorResponse_errors","exampleSetFlag":false}}},"exampleSetFlag":false},"inline_response_200":{"required":["access","combinedServiceIndicator","frequencyPerDay","recurringIndicator","validUntil"],"type":"object","properties":{"access":{"$ref":"#/components/schemas/consentDetails_access","exampleSetFlag":false},"frequencyPerDay":{"type":"number","description":"Maximum frequency of requests allowed per day. The frequency must be between 1 and 4 per day. For a one-off access, this attribute is set to \"1\".","format":"int32","example":4,"exampleSetFlag":true},"recurringIndicator":{"type":"boolean","description":"Indicator of the recurring access to the account. true, if the consent is for recurring access to the account data. false, if the consent is for one access to the account data","example":true,"exampleSetFlag":true},"validUntil":{"type":"string","description":"Consent expiry date (YYYY-MM-DD)","format":"date","example":"2025-01-01","exampleSetFlag":true},"combinedServiceIndicator":{"type":"boolean","description":"Indicator of combined account information and payments services in one session (currently not supported)","example":false,"exampleSetFlag":true},"lastActionDate":{"type":"string","description":"Date of the last change of consent status","format":"date","example":"2020-06-15","exampleSetFlag":true},"consentStatus":{"type":"string","description":"Consent status","exampleSetFlag":false,"enum":["received","rejected","valid","revoked_by_psu","expired"]},"consentId":{"type":"string","description":"Consent ID","format":"uuid","example":"24156c6c-e1c9-11e8-9372-cdb9b420ccd4","exampleSetFlag":true}},"exampleSetFlag":false},"inline_response_200_1":{"type":"object","properties":{"consentStatus":{"type":"string","description":"Consent status","exampleSetFlag":false,"enum":["received","rejected","valid","revoked_by_psu","expired"]}},"exampleSetFlag":false},"inline_response_200_2":{"type":"object","properties":{"authorisations":{"type":"array","description":"List of consent authorisations","exampleSetFlag":false,"items":{"$ref":"#/components/schemas/authorisationsEnv_authorisations","exampleSetFlag":false}}},"exampleSetFlag":false},"inline_response_201_1":{"type":"object","properties":{"authorisationId":{"type":"string","description":"Authorisation ID","format":"uuid","exampleSetFlag":false},"scaStatus":{"type":"string","description":"Authorisation status","example":"started","exampleSetFlag":true,"enum":["received","sca_method_selected","started","submitted","finalised","canceled","failed"]},"scaMethods":{"type":"array","description":"Authentication methods","exampleSetFlag":false,"items":{"$ref":"#/components/schemas/methodsEnv_scaMethods","exampleSetFlag":false}},"_links":{"$ref":"#/components/schemas/methodsEnv__links","exampleSetFlag":false}},"exampleSetFlag":false},"inline_response_200_3":{"type":"object","properties":{"authorisationId":{"type":"string","description":"Authorisation ID","format":"uuid","exampleSetFlag":false},"scaStatus":{"type":"string","description":"Authorisation status","example":"started","exampleSetFlag":true,"enum":["received","sca_method_selected","started","submitted","finalised","canceled","failed"]},"authenticationMethodId":{"type":"string","description":"Authentication method","example":"MOBILE_ID","exampleSetFlag":true,"enum":["SMART_ID","MOBILE_ID","CODE_CALCULATOR","IDCARD"]},"name":{"type":"string","description":"Name of the person who has signed the consent","example":"Lisa","exampleSetFlag":true},"surname":{"type":"string","description":"Surname of the person who has signed the consent","example":"Simpson","exampleSetFlag":true},"signatureSchemaType":{"type":"string","description":"Signature type","example":"ALONE","exampleSetFlag":true,"enum":["NOSIGN","ALONE","JOINT_2","JOINT_3"]},"created":{"type":"string","description":"Date and time the consent was signed","format":"date-time","example":"2020-03-31T07:00:07.897Z","exampleSetFlag":true},"_links":{"$ref":"#/components/schemas/authorisation__links","exampleSetFlag":false}},"exampleSetFlag":false},"authorisations_authorisationId_body":{"type":"object","properties":{"authenticationMethodId":{"type":"string","description":"Authentication method","example":"MOBILE_ID","exampleSetFlag":true,"enum":["SMART_ID","MOBILE_ID","CODE_CALCULATOR","IDCARD"]}},"exampleSetFlag":false},"inline_response_200_4":{"type":"object","properties":{"scaStatus":{"type":"string","description":"Authorisation status","example":"started","exampleSetFlag":true,"enum":["received","sca_method_selected","started","submitted","finalised","canceled","failed"]},"verificationCode":{"type":"string","description":"Verification code","example":"0539","exampleSetFlag":true}},"exampleSetFlag":false},"inline_response_200_5":{"type":"object","properties":{"scaStatus":{"type":"string","description":"Authorisation status","example":"started","exampleSetFlag":true,"enum":["received","sca_method_selected","started","submitted","finalised","canceled","failed"]}},"exampleSetFlag":false},"consentSummaryEnv__links_self":{"type":"object","properties":{"href":{"type":"string","description":"Link to consent details","example":"/v1/consents/24156c6c-e1c9-11e8-9372-cdb9b420ccd4","exampleSetFlag":true}},"description":"Consent details","exampleSetFlag":true},"consentSummaryEnv__links_status":{"type":"object","properties":{"href":{"type":"string","description":"Link to consent status","example":"/v1/consents/24156c6c-e1c9-11e8-9372-cdb9b420ccd4/status","exampleSetFlag":true}},"description":"Consent status","exampleSetFlag":true},"consentSummaryEnv__links_startAuthorisation":{"type":"object","properties":{"href":{"type":"string","description":"Link to consent authorisations","example":"/v1/consents/24156c6c-e1c9-11e8-9372-cdb9b420ccd4/authorisations","exampleSetFlag":true}},"description":"Consent authorisations","exampleSetFlag":true},"consentSummaryEnv__links_scaRedirect":{"type":"object","properties":{"href":{"type":"string","description":"Link to consent signing","example":"https://www.luminoropenbanking.com/consent?data=MIIEpAIBAAKCAQEA","exampleSetFlag":true}},"description":"Redirect to consent signing","exampleSetFlag":true},"consentSummaryEnv__links":{"type":"object","properties":{"self":{"$ref":"#/components/schemas/consentSummaryEnv__links_self","exampleSetFlag":false},"status":{"$ref":"#/components/schemas/consentSummaryEnv__links_status","exampleSetFlag":false},"startAuthorisation":{"$ref":"#/components/schemas/consentSummaryEnv__links_startAuthorisation","exampleSetFlag":false},"scaRedirect":{"$ref":"#/components/schemas/consentSummaryEnv__links_scaRedirect","exampleSetFlag":false}},"description":"Links","exampleSetFlag":true},"consentDetails_access_accounts":{"type":"object","properties":{"iban":{"type":"string","description":"IBAN","example":"LT594010049500047594","exampleSetFlag":true},"currency":{"type":"string","description":"Currency","example":"EUR","exampleSetFlag":true}},"exampleSetFlag":true},"consentDetails_access":{"type":"object","properties":{"accounts":{"type":"array","description":"Accounts","exampleSetFlag":false,"items":{"$ref":"#/components/schemas/consentDetails_access_accounts","exampleSetFlag":false}}},"description":"Requested access services","exampleSetFlag":true},"authorisation__links_self":{"type":"object","properties":{"href":{"type":"string","description":"Link to authorisation details","example":"/v1/consents/24156c6c-e1c9-11e8-9372-cdb9b420ccd4/authorisations/5d604f20-f868-11e8-b39c-c07116e1427d","exampleSetFlag":true}},"description":"Authorisation details","exampleSetFlag":true},"authorisation__links_scaStatus":{"type":"object","properties":{"href":{"type":"string","description":"Link to authorisation status","example":"/v1/consents/24156c6c-e1c9-11e8-9372-cdb9b420ccd4/authorisations/5d604f20-f868-11e8-b39c-c07116e1427d/status","exampleSetFlag":true}},"description":"Authorisation status","exampleSetFlag":true},"authorisation__links":{"type":"object","properties":{"self":{"$ref":"#/components/schemas/authorisation__links_self","exampleSetFlag":false},"scaStatus":{"$ref":"#/components/schemas/authorisation__links_scaStatus","exampleSetFlag":false}},"description":"Links","exampleSetFlag":true},"authorisationsEnv_authorisations":{"type":"object","properties":{"scaStatus":{"type":"string","description":"Authorisation status","example":"started","exampleSetFlag":true,"enum":["received","sca_method_selected","started","submitted","finalised","canceled","failed"]},"authorisationId":{"type":"string","description":"Authorisation ID","format":"uuid","exampleSetFlag":false}},"exampleSetFlag":true},"methodsEnv_scaMethods":{"type":"object","properties":{"scaApproach":{"type":"string","description":"Authentication approach","exampleSetFlag":false,"enum":["DECOUPLED"]},"authenticationMethodId":{"type":"string","description":"Authentication method","example":"MOBILE_ID","exampleSetFlag":true,"enum":["SMART_ID","MOBILE_ID","CODE_CALCULATOR","IDCARD"]},"explanation":{"type":"string","description":"Authentication method description","example":"Authentication using Mobile-ID","exampleSetFlag":true}},"example":"[{\"scaApproach\":\"DECOUPLED\",\"authenticationMethodId\":\"SMART_ID\",\"explanation\":\"Authentication using Smart-ID\"},{\"scaApproach\":\"DECOUPLED\",\"authenticationMethodId\":\"MOBILE_ID\",\"explanation\":\"Authentication using Mobile-ID\"}]","exampleSetFlag":true},"methodsEnv__links_selectAuthenticationMethod":{"type":"object","properties":{"href":{"type":"string","description":"Link to authorisation execution","example":"/v1/consents/24156c6c-e1c9-11e8-9372-cdb9b420ccd4/authorisations/5d604f20-f868-11e8-b39c-c07116e1427d","exampleSetFlag":true}},"description":"Authorisation","exampleSetFlag":true},"methodsEnv__links":{"type":"object","properties":{"selectAuthenticationMethod":{"$ref":"#/components/schemas/methodsEnv__links_selectAuthenticationMethod","exampleSetFlag":false},"scaStatus":{"$ref":"#/components/schemas/authorisation__links_scaStatus","exampleSetFlag":false}},"description":"Links","exampleSetFlag":true},"errorResponse_errors":{"required":["category","code"],"properties":{"category":{"type":"string","description":"Error category. Only \"ERROR\" or \"WARNING\" permitted","example":"ERROR","exampleSetFlag":true,"enum":["ERROR","WARNING"]},"code":{"type":"string","description":"Error message code","example":"FORMAT_ERROR","exampleSetFlag":true},"text":{"type":"string","description":"Additional explaining text","example":"Review query parameters","exampleSetFlag":true}},"exampleSetFlag":true}},"parameters":{"consentId":{"name":"consentId","in":"path","description":"Consent ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}},"authorisationId":{"name":"authorisationId","in":"path","description":"Auhorisation ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}}},"headers":{"xRequestId":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}}}}