{
  "openapi": "3.0.1",
  "info": {
    "title": "InXpress Rate API Documentation",
    "version": "2.1",
    "x-logo": {
      "url": "/InXpress-Logo-Blue.svg",
      "altText": "InXpress Logo"
    },
    "description": "# Introduction\nThis is a rating API provided by InXpress for use by their customers for integrating live rates into eCommerce applications.  A JSON object is posted to the specified URI with enough information to return a shipping quote. A JSON response object is returned with the quote information.\n\n# OpenAPI Specification\nThis API is documented in **OpenAPI format** version 3\n\n# Server\n The API server Base Url is https://api.ixpapi.com"
  },
  "servers": [
    {
      "url": "https://api.ixpapi.com/"
    }
  ],
  "tags": [
    {
      "name": "canpar",
      "description": "Canpar rate quotes by InXpress"
    },
    {
      "name": "dhl",
      "description": "DHL rate quotes by InXpress"
    },
    {
      "name": "purolator",
      "description": "Purolator rate quotes by InXpress"
    },
    {
      "name": "ups",
      "description": "UPS rate quotes by InXpress"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Carriers",
      "tags": [
        "canpar",
        "dhl",
        "purolator",
        "ups"
      ]
    }
  ],
  "paths": {
    "/canpar": {
      "post": {
        "tags": [
          "canpar"
        ],
        "summary": "Get InXpress Canpar rates",
        "description": "Responds with InXpress Canpar Rate object",
        "operationId": "postCanpar",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CanparRateRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Invalid Account"
          },
          "404": {
            "description": "Not Found"
          },
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rate"
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/dhl": {
      "post": {
        "tags": [
          "dhl"
        ],
        "deprecated": true,
        "version": 1.0,
        "summary": "V2.1 Get InXpress DHL rates",
        "description": "Responds with InXpress DHL Rate object",
        "operationId": "postDhl",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DHLRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Invalid Account"
          },
          "404": {
            "description": "Not Found"
          },
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DHLResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/dhl/v2/rates": {
      "post": {
        "tags": [
          "dhl"
        ],
        "summary": "V2.2 Get InXpress DHL rates",
        "description": "Responds with InXpress DHL Rate object",
        "operationId": "postDhlV2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DHLV2Request"
              }
            }
          },
          "required": false
        },
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Invalid Account"
          },
          "404": {
            "description": "Not Found"
          },
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DHLResponse"
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/purolator": {
      "post": {
        "tags": [
          "purolator"
        ],
        "summary": "Get InXpress Purolator rates",
        "description": "Responds with InXpress Purolator Rate object",
        "operationId": "postPurolator",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PurolatorRateRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Invalid Account"
          },
          "404": {
            "description": "Not Found"
          },
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PurolatorResponse"
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/ups": {
      "post": {
        "tags": [
          "ups"
        ],
        "summary": "Get InXpress UPS rates",
        "description": "Responds with InXpress UPS Rate object",
        "operationId": "postUps",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UPSRateRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Invalid Account"
          },
          "404": {
            "description": "Not Found"
          },
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UPSRates"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    }
  },
  "components": {
    "schemas": {
      "Address": {
        "required": [
          "country",
          "postal_code"
        ],
        "type": "object",
        "properties": {
          "city": {
            "maxLength": 35,
            "minLength": 1,
            "type": "string",
            "description": "city name"
          },
          "postal_code": {
            "maxLength": 10,
            "minLength": 2,
            "type": "string",
            "description": "postal code"
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 code",
            "example": "US",
            "x-constraint": {
              "length": 2
            }
          },
          "is_residential": {
            "maximum": 1,
            "minimum": 0,
            "type": "number",
            "description": "Residential Charge true/false",
            "default": 0,
            "x-constraint": {
              "length": 1
            }
          }
        }
      },
      "CanparOriginAddress": {
        "required": [
          "country",
          "postal_code"
        ],
        "type": "object",
        "properties": {
          "province": {
            "maxLength": 35,
            "minLength": 1,
            "type": "string",
            "example": "NL",
            "description": "Province 2 letter code (Required for HST)"
          },
          "postal": {
            "maxLength": 10,
            "minLength": 2,
            "type": "string",
            "example": "A1A1A1",
            "description": "postal code"
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 code",
            "example": "CA",
            "x-constraint": {
              "length": 2
            }
          }
        }
      },
      "DHLDestinationAddress": {
        "required": [
          "country"
        ],
        "type": "object",
        "properties": {
          "city": {
            "maxLength": 35,
            "minLength": 1,
            "type": "string",
            "description": "city name"
          },
          "postal_code": {
            "maxLength": 10,
            "minLength": 2,
            "type": "string",
            "description": "postal code"
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 code",
            "example": "AU",
            "x-constraint": {
              "length": 2
            }
          },
          "is_residential": {
            "maximum": 1,
            "minimum": 0,
            "type": "number",
            "description": "Residential Charge true/false",
            "default": 0,
            "x-constraint": {
              "length": 1
            }
          }
        }
      },
      "DHLRequest": {
        "required": [
          "account",
          "destination",
          "origin"
        ],
        "type": "object",
        "properties": {
          "account": {
            "type": "string",
            "description": "the DHL account number to be used",
            "example": "845939387"
          },
          "gateway": {
            "type": "string",
            "description": "origin gateway",
            "default": "US",
            "enum": [
              "US",
              "CA"
            ],
            "x-constraint": {
              "length": 2
            }
          },
          "origin": {
            "$ref": "#/components/schemas/DHLOriginAddress"
          },
          "destination": {
            "$ref": "#/components/schemas/DHLOriginAddress"
          },
          "shipment_weight": {
            "minimum": 0,
            "type": "number",
            "description": "shipment weight (ignored if items or packages are present)"
          },
          "is_residential": {
            "maximum": 1,
            "minimum": 0,
            "type": "number",
            "description": "Residential Charge true/false",
            "default": 0,
            "x-constraint": {
              "length": 1
            }
          },
          "product_code": {
            "type": "string",
            "description": "DHL product code",
            "default": "D",
            "enum": [
              "X",
              "D",
              "P",
              "K",
              "E",
              "L",
              "M",
              "T",
              "Y"
            ]
          },
          "dutiable": {
            "maximum": 1,
            "minimum": 0,
            "type": "number",
            "description": "is the shipment dutiable (only has an affect if product_code is not specified)",
            "default": 0,
            "x-constraint": {
              "length": 1
            }
          },
          "delivery_duty_paid": {
            "maximum": 1,
            "minimum": 0,
            "type": "number",
            "description": "enable Delivery Duty Paid",
            "default": 0,
            "x-constraint": {
              "length": 1
            }
          },
          "insured_value": {
            "minLength": 4,
            "type": "string",
            "description": "shipment insurance value",
            "default": "0.00"
          },
          "pieces": {
            "$ref": "#/components/schemas/Pieces"
          }
        }
      },
      "DHLV2Request": {
        "required": [
          "account",
          "destination",
          "gateway",
          "origin",
          "pieces",
          "product_code"
        ],
        "type": "object",
        "properties": {
          "account": {
            "type": "string",
            "description": "the InXpress account number to be used",
            "example": "10000004"
          },
          "gateway": {
            "type": "string",
            "description": "origin gateway",
            "default": "US",
            "enum": [
              "US",
              "CA"
            ],
            "x-constraint": {
              "length": 2
            }
          },
          "origin": {
            "$ref": "#/components/schemas/DHLOriginAddress"
          },
          "destination": {
            "$ref": "#/components/schemas/DHLDestinationAddress"
          },
          "shipment_weight": {
            "minimum": 0,
            "type": "number",
            "description": "shipment weight (ignored if items or packages are present)"
          },
          "product_code": {
            "type": "string",
            "description": "DHL product code",
            "default": "D",
            "enum": [
              "X",
              "D",
              "P",
              "K",
              "E",
              "L",
              "M",
              "T",
              "Y"
            ]
          },
          "dutiable": {
            "maximum": 1,
            "minimum": 0,
            "type": "number",
            "description": "is the shipment dutiable (only has an affect if product_code is not specified)",
            "default": 0,
            "x-constraint": {
              "length": 1
            }
          },
          "delivery_duty_paid": {
            "maximum": 1,
            "minimum": 0,
            "type": "number",
            "description": "enable Delivery Duty Paid",
            "default": 0,
            "x-constraint": {
              "length": 1
            }
          },
          "insured_value": {
            "minLength": 4,
            "type": "string",
            "description": "shipment insurance value",
            "default": "0.00"
          },
          "pieces": {
            "$ref": "#/components/schemas/PiecesV2"
          }
        }
      },
      "DHLResponse": {
        "type": "object",
        "properties": {
          "request_id": {
            "maxLength": 35,
            "minLength": 0,
            "type": "string",
            "description": "a unique id that was sent in the rate request"
          },
          "request_time": {
            "type": "string",
            "description": "the date-time of the request"
          },
          "product_code": {
            "type": "string",
            "description": "DHL product code",
            "enum": [
              "X",
              "D",
              "P",
              "K",
              "E",
              "L",
              "M",
              "T",
              "Y"
            ]
          },
          "short_name": {
            "type": "string",
            "description": "DHL service short name",
            "enum": [
              "EXPRESS WORLDWIDE",
              "EXPRESS ENVELOPE"
            ]
          },
          "full_name": {
            "type": "string",
            "description": "DHL service full name",
            "enum": [
              "EXPRESS ENVELOPE",
              "EXPRESS WORLDWIDE (doc)",
              "EXPRESS WORLDWIDE (nondoc)",
              "EXPRESS 9:00 (doc)",
              "EXPRESS 9:00 (nondoc)",
              "EXPRESS 12:00 (doc)",
              "EXPRESS 12:00 (nondoc)",
              "EXPRESS 10:30 (doc)",
              "EXPRESS 10:30 (nondoc)"
            ]
          },
          "destination_zone": {
            "type": "string",
            "description": "destination country zone",
            "enum": [
              "A",
              "B",
              "C",
              "D",
              "E",
              "F",
              "G",
              "H",
              "I",
              "J",
              "K",
              "L",
              "M",
              "N",
              "H2",
              "H1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "12",
              "13",
              "14"
            ]
          },
          "pricing_date": {
            "type": "string",
            "description": "the date of this pricing",
            "format": "date"
          },
          "pickup_date": {
            "type": "string",
            "description": "the expected package pickup date",
            "format": "date"
          },
          "delivery_date": {
            "type": "string",
            "description": "the expected package delivery date",
            "format": "date"
          },
          "currency_code": {
            "type": "string",
            "description": "price currency",
            "enum": [
              "USD",
              "CAD"
            ]
          },
          "transit_days": {
            "minimum": 1,
            "type": "number",
            "description": "estimated business days in transit"
          },
          "dimensional_weight": {
            "minimum": 0,
            "type": "number",
            "description": "calculated total dimensional weight for all packages"
          },
          "chargeable_weight": {
            "minimum": 0.5,
            "type": "number",
            "description": "calculated chargable weight for all packages"
          },
          "total_charge": {
            "type": "string",
            "description": "total shipment charge"
          },
          "weight_charge": {
            "type": "string",
            "description": "weight shipment charge"
          },
          "fee_charges": {
            "$ref": "#/components/schemas/DHLFeeCharges"
          }
        }
      },
      "CanparFeeCharge": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "fee code",
            "enum": [
              "FF",
              "DV",
              "ECF",
              "YY",
              "EA"
            ]
          },
          "name": {
            "type": "string",
            "description": "fee name",
            "enum": [
              "Fuel Surcharge",
              "Declared Value",
              "Extra Care - Oversize Package",
              "Extra Care - Over Weight",
              "Extended Area"
            ]
          },
          "charge": {
            "type": "string",
            "description": "fee charge"
          }
        }
      },
      "DHLFeeCharge": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "fee code",
            "enum": [
              "OO",
              "DD",
              "YB",
              "II",
              "CR",
              "FF",
              "TK"
            ]
          },
          "name": {
            "type": "string",
            "description": "fee name",
            "enum": [
              "Remote Area Service",
              "Delivery Duty Paid",
              "Over Size Piece",
              "Shipment Value Protection",
              "Emergency Situation",
              "Fuel Surcharge",
              "Residential Delivery"
            ]
          },
          "charge": {
            "type": "string",
            "description": "fee charge"
          }
        }
      },
      "PurolatorFeeCharge": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "fee code",
            "enum": [
              "AFS",
              "OVERSIZED",
              "RESIDENTIAL_AREA_SURCHARGE",
              "RESIDENTIAL_AREA_HEAVYWEIGHT",
              "BEYOND_DEST_SURCHARGE",
              "HST"
            ]
          },
          "name": {
            "type": "string",
            "description": "fee name",
            "enum": [
              "Fuel Surcharge",
              "Oversized Package",
              "Residential Surcharge",
              "Residential Delivery Heavyweight",
              "Beyond Destination",
              "HST"
            ]
          },
          "charge": {
            "type": "string",
            "description": "fee charge"
          }
        }
      },
      "UPSFeeCharge": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "fee code",
            "enum": [
              "FF"
            ]
          },
          "name": {
            "type": "string",
            "description": "fee name",
            "enum": [
              "Fuel Surcharge"
            ]
          },
          "charge": {
            "type": "string",
            "description": "fee charge"
          }
        }
      },
      "CanparFeeCharges": {
        "type": "array",
        "description": "fee charges for shipment",
        "items": {
          "$ref": "#/components/schemas/CanparFeeCharge"
        },
        "example": [
          {
            "code": "FF",
            "name": "Fuel Surcharge",
            "charge": "string"
          },
          {
            "code": "ECF",
            "name": "Extra Care - Oversize Package",
            "charge": "string"
          },
          {
            "code": "YY",
            "name": "Extra Care - Over Weight",
            "charge": "string"
          },
          {
            "code": "EA",
            "name": "Extended Area",
            "charge": "string"
          }
        ]
      },
      "DHLFeeCharges": {
        "type": "array",
        "description": "fee charges for shipment",
        "items": {
          "$ref": "#/components/schemas/DHLFeeCharge"
        },
        "example": [
          {
            "code": "OO",
            "name": "Remote Area Service",
            "charge": "string"
          },
          {
            "code": "DD",
            "name": "Delivery Duty Paid",
            "charge": "string"
          },
          {
            "code": "YB",
            "name": "Over Size Piece",
            "charge": "string"
          },
          {
            "code": "II",
            "name": "Shipment Value Protection",
            "charge": "string"
          },
          {
            "code": "FF",
            "name": "Fuel Surcharge",
            "charge": "string"
          },
          {
            "code": "CR",
            "name": "Emergency Situation",
            "charge": "string"
          },
          {
            "code": "TK",
            "name": "Residential Delivery",
            "charge": "string"
          }
        ]
      },
      "UPSFeeCharges": {
        "type": "array",
        "description": "fee charges for shipment",
        "items": {
          "$ref": "#/components/schemas/UPSFeeCharge"
        },
        "example": [
          {
            "code": "AHW",
            "name": "Additional Handling (>70lbs)",
            "charge": "string"
          },
          {
            "code": "BOP",
            "name": "Bill Duty/Tax & Shipping Charges",
            "charge": "string"
          },
          {
            "code": "DVS",
            "name": "Declared Value",
            "charge": "string"
          },
          {
            "code": "524",
            "name": "Extended Area Surcharge",
            "charge": "string"
          },
          {
            "code": "HRS",
            "name": "Residential Surcharge",
            "charge": "string"
          },
          {
            "code": "AFS",
            "name": "International Air Fuel Surcharge",
            "charge": "string"
          },
          {
            "code": "PS",
            "name": "Peak Surcharges",
            "charge": "string"
          },
          {
            "code": "SAH",
            "name": "Peak Season Surcharge – Additional Handling",
            "charge": "string"
          }
        ]
      },
      "PurolatorFeeCharges": {
        "type": "array",
        "description": "fee charges for shipment",
        "items": {
          "$ref": "#/components/schemas/PurolatorFeeCharge"
        },
        "example": [
          {
            "code": "AFS",
            "name": "Fuel Surcharge",
            "charge": "string"
          },
          {
            "code": "OVERSIZED",
            "name": "Oversized Package",
            "charge": "string"
          },
          {
            "code": "RESIDENTIAL_AREA_SURCHARGE",
            "name": "Residential Surcharge",
            "charge": "string"
          },
          {
            "code": "RESIDENTIAL_AREA_HEAVYWEIGHT",
            "name": "Residential Delivery Heavyweight",
            "charge": "string"
          },
          {
            "code": "BEYOND_DEST_SURCHARGE",
            "name": "Beyond Destination",
            "charge": "string"
          },
          {
            "code": "",
            "name": "HST",
            "charge": "string"
          }
        ]
      },
      "CanparPiece": {
        "type": "object",
        "required": [
          "weight",
          "height",
          "depth",
          "width"
        ],
        "properties": {
          "name": {
            "maxLength": 35,
            "minLength": 0,
            "type": "string",
            "default": ""
          },
          "weight": {
            "type": "number",
            "description": "Weight in Grams"
          },
          "height": {
            "type": "number",
            "description": "Height in Inches"
          },
          "depth": {
            "type": "number",
            "description": "Depth in Inches"
          },
          "width": {
            "type": "number",
            "description": "Width in Inches"
          }
        }
      },
      "Piece": {
        "type": "object",
        "required": [
          "weight",
          "height",
          "depth",
          "width"
        ],
        "properties": {
          "name": {
            "maxLength": 35,
            "minLength": 0,
            "type": "string",
            "default": ""
          },
          "weight": {
            "type": "number",
            "description": "Weight in Lbs"
          },
          "height": {
            "type": "number",
            "description": "Height in Inches"
          },
          "depth": {
            "type": "number",
            "description": "Depth in Inches"
          },
          "width": {
            "type": "number",
            "description": "Width in Inches"
          }
        }
      },
      "PieceV2": {
        "type": "object",
        "required": [
          "weight",
          "height",
          "depth",
          "width"
        ],
        "properties": {
          "name": {
            "maxLength": 35,
            "minLength": 0,
            "type": "string",
            "default": ""
          },
          "weight": {
            "type": "number",
            "description": "Weight in Lbs"
          },
          "height": {
            "type": "number",
            "description": "Height in Inches"
          },
          "depth": {
            "type": "number",
            "description": "Depth in Inches"
          },
          "width": {
            "type": "number",
            "description": "Width in Inches"
          },
          "quantity": {
            "default": 1,
            "type": "number"
          }
        }
      },
      "CanparPieces": {
        "type": "array",
        "description": "piece for shipment",
        "items": {
          "$ref": "#/components/schemas/CanparPiece"
        }
      },
      "Pieces": {
        "type": "array",
        "description": "piece for shipment",
        "items": {
          "$ref": "#/components/schemas/Piece"
        }
      },
      "PurolatorResponse": {
        "type": "object",
        "properties": {
          "request_id": {
            "maxLength": 35,
            "minLength": 0,
            "type": "string",
            "description": "The account number - timestamp of the request"
          },
          "request_time": {
            "type": "string",
            "description": "the date-time of the request"
          },
          "short_name": {
            "type": "string",
            "description": "Service short name",
            "enum": [
              "Purolator Express",
              "Purolator Ground"
            ]
          },
          "full_name": {
            "type": "string",
            "description": "Service full name",
            "enum": [
              "Purolator Express",
              "Purolator Ground"
            ]
          },
          "destination_zone": {
            "type": "string",
            "description": "destination country zone"
          },
          "pricing_date": {
            "type": "string",
            "description": "the date of this pricing",
            "format": "date"
          },
          "delivery_date": {
            "type": "string",
            "description": "the expected package delivery date",
            "format": "date"
          },
          "currency_code": {
            "type": "string",
            "description": "price currency",
            "enum": [
              "CAD"
            ]
          },
          "transit_days": {
            "minimum": 1,
            "type": "number",
            "description": "estimated business days in transit"
          },
          "dimensional_weight": {
            "minimum": 0,
            "type": "number",
            "description": "calculated total dimensional weight for all packages"
          },
          "chargeable_weight": {
            "minimum": 0.5,
            "type": "number",
            "description": "calculated chargable weight for all packages"
          },
          "total_charge": {
            "type": "string",
            "description": "total shipment charge"
          },
          "weight_charge": {
            "type": "string",
            "description": "weight shipment charge"
          },
          "fee_charges": {
            "$ref": "#/components/schemas/PurolatorFeeCharges"
          }
        }
      },
      "Rate": {
        "type": "object",
        "properties": {
          "request_id": {
            "maxLength": 35,
            "minLength": 0,
            "type": "string",
            "description": "The account number - timestamp of the request"
          },
          "request_time": {
            "type": "string",
            "description": "the date-time of the request"
          },
          "short_name": {
            "type": "string",
            "description": "Service short name",
            "enum": [
              "Canpar Ground",
              "Canpar Select",
              "Canpar Express"
            ]
          },
          "full_name": {
            "type": "string",
            "description": "Service full name",
            "enum": [
              "Canpar Ground",
              "Canpar Select",
              "Canpar Express"
            ]
          },
          "destination_zone": {
            "type": "string",
            "description": "destination country zone"
          },
          "pricing_date": {
            "type": "string",
            "description": "the date of this pricing",
            "format": "date"
          },
          "delivery_date": {
            "type": "string",
            "description": "the expected package delivery date",
            "format": "date"
          },
          "currency_code": {
            "type": "string",
            "description": "price currency",
            "enum": [
              "CAD"
            ]
          },
          "transit_days": {
            "minimum": 1,
            "type": "number",
            "description": "estimated business days in transit"
          },
          "dimensional_weight": {
            "minimum": 0,
            "type": "number",
            "description": "calculated total dimensional weight for all packages"
          },
          "chargeable_weight": {
            "minimum": 0.5,
            "type": "number",
            "description": "calculated chargable weight for all packages"
          },
          "total_charge": {
            "type": "string",
            "description": "total shipment charge"
          },
          "weight_charge": {
            "type": "string",
            "description": "weight shipment charge"
          },
          "fee_charges": {
            "$ref": "#/components/schemas/CanparFeeCharges"
          }
        }
      },
      "CanparRateRequest": {
        "required": [
          "account",
          "destination",
          "origin"
        ],
        "type": "object",
        "properties": {
          "account": {
            "type": "string",
            "description": "the InXpress account number to be used",
            "example": "10000004"
          },
          "origin": {
            "$ref": "#/components/schemas/CanparOriginAddress"
          },
          "destination": {
            "$ref": "#/components/schemas/CanparDestinationAddress"
          },
          "shipment_weight": {
            "minimum": 0,
            "type": "number",
            "description": "shipment weight (ignored if items or packages are present)"
          },
          "is_residential": {
            "maximum": 1,
            "minimum": 0,
            "type": "number",
            "description": "Residential Charge true/false",
            "x-constraint": {
              "length": 1
            }
          },
          "pieces": {
            "$ref": "#/components/schemas/CanparPieces"
          }
        }
      },
      "RateRequest": {
        "required": [
          "account",
          "destination",
          "origin"
        ],
        "type": "object",
        "properties": {
          "account": {
            "type": "string",
            "description": "the InXpress account number to be used"
          },
          "origin": {
            "$ref": "#/components/schemas/CanparOriginAddress"
          },
          "destination": {
            "$ref": "#/components/schemas/Address"
          },
          "shipment_weight": {
            "minimum": 0,
            "type": "number",
            "description": "shipment weight (ignored if items or packages are present)"
          },
          "insured_value": {
            "minLength": 4,
            "type": "string",
            "description": "shipment insurance value",
            "default": "0.00"
          },
          "pieces": {
            "$ref": "#/components/schemas/Pieces"
          }
        }
      },
      "DHLOriginAddress": {
        "required": [
          "city",
          "country",
          "postal_code"
        ],
        "type": "object",
        "properties": {
          "city": {
            "maxLength": 35,
            "minLength": 1,
            "type": "string",
            "description": "city name"
          },
          "postal_code": {
            "maxLength": 10,
            "minLength": 2,
            "type": "string",
            "description": "postal code"
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 code",
            "example": "US",
            "x-constraint": {
              "length": 2
            }
          }
        }
      },
      "PurolatorOriginAddress": {
        "required": [
          "city",
          "country",
          "postal_code",
          "state"
        ],
        "type": "object",
        "properties": {
          "city": {
            "maxLength": 35,
            "minLength": 1,
            "type": "string",
            "example": "St. John's",
            "description": "city name"
          },
          "state": {
            "maxLength": 2,
            "minLength": 2,
            "type": "string",
            "example": "NL",
            "description": "State Abbreviation"
          },
          "postal_code": {
            "maxLength": 10,
            "minLength": 2,
            "type": "string",
            "example": "A1A1A1",
            "description": "postal code"
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 code",
            "example": "CA",
            "x-constraint": {
              "length": 2
            }
          }
        }
      },
      "OriginAddress": {
        "required": [
          "city",
          "country",
          "postal_code",
          "state"
        ],
        "type": "object",
        "properties": {
          "city": {
            "maxLength": 35,
            "minLength": 1,
            "type": "string",
            "description": "city name"
          },
          "state": {
            "maxLength": 2,
            "minLength": 2,
            "type": "string",
            "description": "State Abbreviation"
          },
          "postal_code": {
            "maxLength": 10,
            "minLength": 2,
            "type": "string",
            "description": "postal code"
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 code",
            "example": "US",
            "x-constraint": {
              "length": 2
            }
          }
        }
      },
      "CanparDestinationAddress": {
        "required": [
          "country",
          "postal"
        ],
        "type": "object",
        "properties": {
          "province": {
            "maxLength": 35,
            "minLength": 1,
            "type": "string",
            "example": "ON",
            "description": "Province 2 letter code"
          },
          "postal": {
            "maxLength": 10,
            "minLength": 2,
            "type": "string",
            "example": "M5H 1P6",
            "description": "postal code"
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 code",
            "example": "CA",
            "x-constraint": {
              "length": 2
            }
          }
        }
      },
      "PurolatorDestinationAddress": {
        "required": [
          "city",
          "country",
          "postal_code",
          "state"
        ],
        "type": "object",
        "properties": {
          "city": {
            "maxLength": 35,
            "minLength": 1,
            "type": "string",
            "example": "Toronto",
            "description": "city name"
          },
          "state": {
            "maxLength": 2,
            "minLength": 2,
            "type": "string",
            "example": "ON",
            "description": "State Abbreviation"
          },
          "postal_code": {
            "maxLength": 10,
            "minLength": 2,
            "type": "string",
            "example": "M5H 1P6",
            "description": "postal code"
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 code",
            "example": "CA",
            "x-constraint": {
              "length": 2
            }
          },
          "is_residential": {
            "maximum": 1,
            "minimum": 0,
            "type": "number",
            "description": "Residential Charge true/false",
            "x-constraint": {
              "length": 1
            }
          }
        }
      },
      "UPSAddress": {
        "required": [
          "city",
          "country",
          "postal_code",
          "state"
        ],
        "type": "object",
        "properties": {
          "city": {
            "maxLength": 35,
            "minLength": 1,
            "type": "string",
            "description": "city name"
          },
          "state": {
            "maxLength": 2,
            "minLength": 2,
            "type": "string",
            "description": "State Abbreviation"
          },
          "postal_code": {
            "maxLength": 10,
            "minLength": 2,
            "type": "string",
            "description": "postal code"
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 code",
            "example": "US",
            "x-constraint": {
              "length": 2
            }
          },
          "is_residential": {
            "maximum": 1,
            "minimum": 0,
            "type": "number",
            "description": "Residential Charge true/false",
            "x-constraint": {
              "length": 1
            }
          }
        }
      },
      "PiecesV2": {
        "type": "array",
        "description": "piece for shipment",
        "items": {
          "$ref": "#/components/schemas/PieceV2"
        }
      },
      "UPSRate": {
        "type": "object",
        "properties": {
          "request_id": {
            "maxLength": 35,
            "minLength": 0,
            "type": "string",
            "description": "a unique id that was sent in the rate request"
          },
          "request_time": {
            "type": "string",
            "description": "the date-time of the request"
          },
          "short_name": {
            "type": "string",
            "description": "DHL service short name",
            "enum": [
              "UPS Ground"
            ]
          },
          "full_name": {
            "type": "string",
            "description": "DHL service full name",
            "enum": [
              "UPS Ground"
            ]
          },
          "destination_zone": {
            "type": "string",
            "description": "destination country zone"
          },
          "pricing_date": {
            "type": "string",
            "description": "the date of this pricing",
            "format": "date"
          },
          "delivery_date": {
            "type": "string",
            "description": "the expected package delivery date",
            "format": "date"
          },
          "currency_code": {
            "type": "string",
            "description": "price currency",
            "enum": [
              "USD"
            ]
          },
          "transit_days": {
            "minimum": 1,
            "type": "number",
            "description": "estimated business days in transit"
          },
          "dimensional_weight": {
            "minimum": 0,
            "type": "number",
            "description": "calculated total dimensional weight for all packages"
          },
          "chargeable_weight": {
            "minimum": 0.5,
            "type": "number",
            "description": "calculated chargable weight for all packages"
          },
          "total_charge": {
            "type": "string",
            "description": "total shipment charge"
          },
          "weight_charge": {
            "type": "string",
            "description": "weight shipment charge"
          },
          "fee_charges": {
            "$ref": "#/components/schemas/UPSFeeCharges"
          }
        }
      },
      "UPSRates": {
        "type": "array",
        "description": "Rate array of UPS rates",
        "items": {
          "$ref": "#/components/schemas/UPSRate"
        }
      },
      "PurolatorRateRequest": {
        "required": [
          "account",
          "destination",
          "origin"
        ],
        "type": "object",
        "properties": {
          "account": {
            "type": "string",
            "description": "the InXpress account number to be used",
            "example": "10000004"
          },
          "product_code": {
            "type": "string",
            "description": "Product is P, Document is D",
            "default": "P",
            "enum": [
              "P",
              "D"
            ]
          },
          "origin": {
            "$ref": "#/components/schemas/PurolatorOriginAddress"
          },
          "destination": {
            "$ref": "#/components/schemas/PurolatorDestinationAddress"
          },
          "pieces": {
            "$ref": "#/components/schemas/PiecesV2"
          }
        }
      },
      "UPSRateRequest": {
        "required": [
          "account",
          "destination",
          "gateway",
          "origin",
          "pieces"
        ],
        "type": "object",
        "properties": {
          "account": {
            "type": "string",
            "description": "the InXpress account number to be used",
            "example": "10000004"
          },
          "gateway": {
            "type": "string",
            "description": "Shipping Country",
            "enum": [
              "US"
            ]
          },
          "product_code": {
            "type": "string",
            "description": "Product is P, Document is D",
            "default": "P",
            "enum": [
              "P",
              "D"
            ]
          },
          "origin": {
            "$ref": "#/components/schemas/OriginAddress"
          },
          "destination": {
            "$ref": "#/components/schemas/UPSAddress"
          },
          "insured_value": {
            "minLength": 4,
            "type": "string",
            "description": "shipment insurance value",
            "default": "0.00"
          },
          "pieces": {
            "$ref": "#/components/schemas/PiecesV2"
          }
        }
      }
    }
  }
}