{"openapi":"3.0.1","info":{"title":"Loan API","description":"cfa-loan","contact":{"name":"CDP","url":"https://www.technisys.com","email":"info@technisys.com"},"version":"1.0.0-SNAPSHOT"},"servers":[{"url":"https://lending-example-api.gpsrv.com/lending/","description":"Generated server url"}],"tags":[{"name":"Loan","description":"Loan management endpoints."}],"paths":{"/1.0/updateLoanStatus":{"post":{"tags":["Loan"],"summary":"Update Loan Status","description":"Use the Update Loan Status to set a loan to charge-off status. In the future, this supports scenarios like bankruptcy.\n\nFor optional parameters, do not pass an empty string or null value.","operationId":"lending_post_updateLoanStatus","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"required":["loanId","loanStatus","loanStatusReasonCode","subProductId","transactionId","apiLogin","apiTransKey","providerId"],"type":"object","properties":{"apiLogin":{"type":"string","description":"Provider's web service username, as provided by Galileo for the requesting IP address.\nPattern: Max 50 characters\nExample: `\"AbC123-9999\"`","default":"AbC123-9999"},"apiTransKey":{"type":"string","description":"Web service password, as provided by Galileo for the requesting IP address.\nPattern: Max 15 characters\nExample: `\"4sb62fh6w4h7w34g\"`","default":"4sb62fh6w4h7w34g"},"providerId":{"type":"integer","format":"int32","description":"Galileo-issued unique provider identifier.\nPattern: Max 10 digits\nExample: `9999`","default":9999},"transactionId":{"type":"string","maxLength":60,"minLength":1,"description":"A provider-generated ID that is unique to each API call. A UUID is preferred. Do not reuse this identifier for multiple API calls.\nPattern: Max 60 characters\nExample: `\"984513-395483653-4483483478\"`","default":"984513-395483653-4483483478"},"providerTransactionId":{"type":"string","description":"An optional provider-generated ID for the API request.\nPattern: Max 60 characters\nExample: `\"47823438032233777\"`"},"providerTimestamp":{"type":"string","description":"An optional provider-generated timestamp for the API request.\nPattern: Max 60 characters\nExample: `\"2017-05-01 13:01:01\"`"},"loanStatusReasonCode":{"title":"loanStatusReasonCode","type":"integer","description":"Code associated with the reason for charging off a loan. Possible values:\n\n* `1010` — Divorce\n* `1011` — Deceased\n* `1012` — Incarcerated\n* `1013` — Income Loss\n* `1014` — Medical\n* `1015` — Refuse to pay\n* `1016` — Unknown \nPattern: 4-digit code.\nExample: `\"1016\"`.","format":"int32","default":1016},"loanStatus":{"title":"loanStatus","type":"string","description":"Status of the loan.","enum":["charge_off"],"default":"charge_off"},"loanId":{"title":"loanId","maxLength":30,"minLength":1,"type":"string","description":"Unique identifier for the loan, returned by the Create Loan endpoint in the `loan_id` field.\nPattern: Max 30 characters\nExample: `\"450825953\"`.","default":"450825953"},"subProductId":{"title":"subProductId","maxLength":15,"minLength":1,"type":"string","description":"Identifier for the loan subproduct.\nPattern: Max 15 characters.\nExample: `\"442824720\"`.","default":"442824720"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"status_code":{"type":"integer","format":"int32","nullable":true,"description":"The response status code. May return a string for some statuses."},"status":{"type":"string","nullable":true,"description":"The condition of a process or response"},"processing_time":{"type":"number","format":"float","nullable":true,"description":"The time elapsed in processing the transaction"},"echo":{"nullable":true,"description":"A structure that contains transaction ID information","type":"object","properties":{"transaction_id":{"type":"string","nullable":true,"description":"An ID that represents an API transaction"},"provider_timestamp":{"type":"string","format":"date-time","nullable":true,"description":"Store a related timestamp for reporting and troubleshooting purposes"},"provider_transaction_id":{"type":"string","nullable":true,"description":"Secondary transaction identifier (generated by a provider)"}},"required":["provider_timestamp","provider_transaction_id","transaction_id"]},"system_timestamp":{"type":"string","format":"date-time","nullable":true,"description":"A system generated timestamp"},"rtoken":{"type":"string","nullable":true,"description":"A Galileo-generated ID used for tracking"},"errors":{"type":"array","description":"A list of errors generated while the request was processed","items":{"type":"string"}},"response_data":{"nullable":true,"type":"object","description":"A structure for the response data. It can be empty but usually will contain information.","required":["loan_balance","loan_id","loan_status","total_charge_off_amount"],"properties":{"loan_status":{"title":"loan_status","type":"string","description":"Status of the loan.","example":"charge_off","enum":["charge_off"]},"loan_id":{"title":"loan_id","type":"string","description":"Galileo-generated identifier for the loan.","example":"450825953"},"loan_balance":{"title":"loan_balance","type":"number","description":"Total balance remaining on the loan. In case of charge off the loan balance will be $0.00.","example":10000},"total_charge_off_amount":{"title":"total_charge_off_amount","type":"number","description":"Total amount that was charged off on the loan, inclusive of fees and interest.","example":10000}}}},"required":["echo","processing_time","response_data","rtoken","status","status_code","system_timestamp"]},"examples":{"response":{"value":"{\n  \"response\": {\n    \"status_code\": 0,\n    \"status\": \"Success\",\n    \"processing_time\": 0.215,\n    \"response_data\": {\n      \"loan_status\": \"charge_off\",\n      \"loan_id\": 11118001000000140,\n      \"loan_balance\": 0,\n      \"total_charge_off_amount\": 500\n    },\n    \"echo\": {\n      \"provider_transaction_id\": \"\",\n      \"provider_timestamp\": \"\",\n      \"transaction_id\": 145267123234243\n    },\n    \"system_timestamp\": \"2022-11-10 14:14:17\",\n    \"rtoken\": \"cf5ad196-18ae-4334-8da3-4c47c82fec19\",\n    \"errors\": \"\"\n  }\n}\n"}}},"application/xml":{"schema":{"type":"object","properties":{"status_code":{"type":"integer","format":"int32","nullable":true,"description":"The response status code. May return a string for some statuses."},"status":{"type":"string","nullable":true,"description":"The condition of a process or response"},"processing_time":{"type":"number","format":"float","nullable":true,"description":"The time elapsed in processing the transaction"},"echo":{"nullable":true,"description":"A structure that contains transaction ID information","type":"object","properties":{"transaction_id":{"type":"string","nullable":true,"description":"An ID that represents an API transaction"},"provider_timestamp":{"type":"string","format":"date-time","nullable":true,"description":"Store a related timestamp for reporting and troubleshooting purposes"},"provider_transaction_id":{"type":"string","nullable":true,"description":"Secondary transaction identifier (generated by a provider)"}},"required":["provider_timestamp","provider_transaction_id","transaction_id"]},"system_timestamp":{"type":"string","format":"date-time","nullable":true,"description":"A system generated timestamp"},"rtoken":{"type":"string","nullable":true,"description":"A Galileo-generated ID used for tracking"},"errors":{"type":"array","description":"A list of errors generated while the request was processed","items":{"type":"string"}},"response_data":{"nullable":true,"type":"object","description":"A structure for the response data. It can be empty but usually will contain information.","required":["loan_balance","loan_id","loan_status","total_charge_off_amount"],"properties":{"loan_status":{"title":"loan_status","type":"string","description":"Status of the loan.","example":"charge_off","enum":["charge_off"]},"loan_id":{"title":"loan_id","type":"string","description":"Galileo-generated identifier for the loan.","example":"450825953"},"loan_balance":{"title":"loan_balance","type":"number","description":"Total balance remaining on the loan. In case of charge off the loan balance will be $0.00.","example":10000},"total_charge_off_amount":{"title":"total_charge_off_amount","type":"number","description":"Total amount that was charged off on the loan, inclusive of fees and interest.","example":10000}}}},"required":["echo","processing_time","response_data","rtoken","status","status_code","system_timestamp"]},"examples":{"response":{"value":"<?xml version=\"1.0\" ?>\n<response>\n  <status_code>0</status_code>\n  <status>Success</status>\n  <processing_time>0215</processing_time>\n  <response_data>\n    <loan_status>charge_off</loan_status>\n    <loan_id>11118001000000140</loan_id>\n    <loan_balance>0</loan_balance>\n    <total_charge_off_amount>500</total_charge_off_amount>\n  </response_data>\n  <echo>\n  <provider_transaction_id/>\n  <provider_timestamp/>\n  <transaction_id>145267123234243</transaction_id>\n  </echo>\n  <rtoken>cf5ad196-18ae-4334-8da3-4c47c82fec19</rtoken>\n  <system_timestamp>2022-11-10 14:14:17</system_timestamp>\n</response>\n"}}}}}}},"parameters":[{"$ref":"#/components/parameters/ResponseContentTypeHeaderParam"}]},"/1.0/simulateLoan":{"post":{"tags":["Loan"],"summary":"Simulate Loan","description":"Use the Simulate Loan endpoint to present loan terms to individual and business customers. Simulate Loan allows customers to run multiple loan simulations, to compare the different APRs and loan terms, and make an informed decision about the loan offerings. The 36% MAPR is only applicable to individual customer loans, and there is no limit for business customer loans. This endpoint generates the data needed to create loan documents such as the Truth in Lending Act (TILA) document and loan disclosures. You have the option to create a loan with or without a simulation. If the loan is not created the same day as the loan simulation, there is a possibility that the APR might exceed the allowable limit, causing an error in loan creation.\n\n For optional parameters, do not pass an empty string or null value.","operationId":"lending_post_simulateLoan","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"required":["capitalTerm","customerPmtRefNo","loanTerm","subProductId","totalLoanAmount","transactionId","apiLogin","apiTransKey","providerId"],"type":"object","properties":{"apiLogin":{"type":"string","description":"Provider's web service username, as provided by Galileo for the requesting IP address.\nPattern: Max 50 characters\nExample: `\"AbC123-9999\"`","default":"AbC123-9999"},"apiTransKey":{"type":"string","description":"Web service password, as provided by Galileo for the requesting IP address.\nPattern: Max 15 characters\nExample: `\"4sb62fh6w4h7w34g\"`","default":"4sb62fh6w4h7w34g"},"providerId":{"type":"integer","format":"int32","description":"Galileo-issued unique provider identifier.\nPattern: Max 10 digits\nExample: `9999`","default":9999},"transactionId":{"type":"string","maxLength":60,"minLength":1,"description":"A provider-generated ID that is unique to each API call. A UUID is preferred. Do not reuse this identifier for multiple API calls.\nPattern: Max 60 characters\nExample: `\"984513-395483653-4483483478\"`","default":"984513-395483653-4483483478"},"providerTransactionId":{"type":"string","description":"An optional provider-generated ID for the API request.\nPattern: Max 60 characters\nExample: `\"47823438032233777\"`"},"providerTimestamp":{"type":"string","description":"An optional provider-generated timestamp for the API request.\nPattern: Max 60 characters\nExample: `\"2017-05-01 13:01:01\"`"},"totalLoanAmount":{"title":"totalLoanAmount","maximum":99999999999999.98,"exclusiveMaximum":false,"minimum":0.01,"exclusiveMinimum":false,"type":"number","description":"Total amount for the loan.\nPattern: Decimal number (14,2).\nExample: `\"700.00\"`.","default":10000},"capitalTerm":{"title":"capitalTerm","maximum":999999999,"minimum":1,"type":"integer","description":"Length of time between payments, in units specified by the subproduct. For example, if you specify “2” and the loan subproduct is set to weeks then installments will be due every two weeks.\nPattern: Max 9 digits.\nExample: `2`.","format":"int32","default":2},"loanApplicationData":{"title":"loanApplicationData","maxLength":4000,"minLength":1,"type":"string","description":"When using the loan simulation, you have the option to pass in comma-separated data from the user's application to store with the simulation for downstream analysis. If a loan is created, this associates the user’s application to the simulation and then to the loan."},"firstInstallmentDueDate":{"title":"firstInstallmentDueDate","type":"string","description":"Due date of the first installment has to be between the 1st and 28th of the month. This field does not apply to bi-weekly subproducts.","format":"date"},"loanTerm":{"title":"loanTerm","maximum":999999999,"minimum":1,"type":"integer","description":"Number of installments to pay off the loan. \nPattern: Min 1 characters and max 9 characters.\nExample: 4.","format":"int32","default":4},"customerType":{"title":"customerType","type":"string","description":"Specifies whether the loan simulation is created for a consumer loan or business loan. If no value is provided, it defaults to INDIVIDUAL.","enum":["BUSINESS","INDIVIDUAL"]},"customerPmtRefNo":{"title":"customerPmtRefNo","pattern":"^([0-9]{12}|[0-9]{16})$","type":"string","description":"PRN for the customer’s primary account. Galileo uses the PRN to retrieve customer information, like business name, date of birth, SSN, address, etc. When the loan is created, the `loan_id` will be associated with this PRN. \nPattern: PRN\nExample: `\"074103447228\"`.","default":"909675440"},"loanStartDate":{"title":"loanStartDate","pattern":"yyyy-MM-dd","type":"string","description":"Start date for the loan. This may be different from `loan_creation_date`.","format":"date"},"applicationNumber":{"title":"applicationNumber","maxLength":100,"minLength":1,"type":"string","description":"Unique identifier that you generate for the loan application. This identifier is associated with loan simulations. You can give this identifier to customers for customer service purposes."},"subProductId":{"title":"subProductId","maxLength":15,"minLength":1,"type":"string","description":"Identifier for the loan subproduct.\nPattern: Max 15 characters.\nExample: `\"442824720\"`.","default":"442824720"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"status_code":{"type":"integer","format":"int32","nullable":true,"description":"The response status code. May return a string for some statuses."},"status":{"type":"string","nullable":true,"description":"The condition of a process or response"},"processing_time":{"type":"number","format":"float","nullable":true,"description":"The time elapsed in processing the transaction"},"echo":{"nullable":true,"description":"A structure that contains transaction ID information","type":"object","properties":{"transaction_id":{"type":"string","nullable":true,"description":"An ID that represents an API transaction"},"provider_timestamp":{"type":"string","format":"date-time","nullable":true,"description":"Store a related timestamp for reporting and troubleshooting purposes"},"provider_transaction_id":{"type":"string","nullable":true,"description":"Secondary transaction identifier (generated by a provider)"}},"required":["provider_timestamp","provider_transaction_id","transaction_id"]},"system_timestamp":{"type":"string","format":"date-time","nullable":true,"description":"A system generated timestamp"},"rtoken":{"type":"string","nullable":true,"description":"A Galileo-generated ID used for tracking"},"errors":{"type":"array","description":"A list of errors generated while the request was processed","items":{"type":"string"}},"response_data":{"nullable":true,"type":"object","description":"A structure for the response data. It can be empty but usually will contain information.","required":["amortization_schedules","application_number","count_of_installments","first_installment_due_date","initial_projected_maturity_date","installment_amount","interest_rate","late_fee","loan_apr","origination_fee","rate_type","simulation_date","simulation_id","sub_product_id"],"properties":{"simulation_id":{"title":"simulation_id","type":"string","description":"Unique identifier associated with each loan simulation.","example":"450825953"},"interest_rate":{"title":"interest_rate","type":"number","description":"Interest rate applied to the loan, as defined by the subproduct.","example":15},"sub_product_id":{"title":"sub_product_id","type":"string","description":"Identifier for the loan subproduct.","example":"442824720"},"simulation_date":{"title":"simulation_date","pattern":"yyyy-MM-dd","type":"string","description":"Date the simulated loan is created.","format":"date","example":"2022-01-01"},"initial_projected_maturity_date":{"title":"initial_projected_maturity_date","pattern":"yyyy-MM-dd","type":"string","description":"Projected date when the loan will be paid off. This date is calculated only when a loan is simulated or created and cannot be sent again.","format":"date","example":"2022-07-01"},"itemization_of_amount_financed":{"title":"itemization_of_amount_financed","required":["disbursed_amount","loan_amount","projected_fees_amount","projected_interest_amount"],"type":"object","properties":{"loan_amount":{"title":"loan_amount","type":"number","description":"Total loan amount borrowed by the customer. This is the sum of the `disbursed_amount`, `origination_fee`, and any other fees associated with the loan.","example":10000},"disbursed_amount":{"title":"disbursed_amount","type":"number","description":"Total loan amount disbursed to the customer.","example":10000},"projected_interest_amount":{"title":"projected_interest_amount","type":"number","description":"The total interest amount the borrower will be paying.","example":10},"projected_fees_amount":{"title":"projected_fees_amount","type":"number","description":"Total fees that the customer is projected to pay over the course of the loan.","example":10}}},"origination_fee":{"title":"origination_fee","type":"number","description":"Fee charged at loan creation. Returns 0 if there is no origination fee.","example":0},"rate_type":{"title":"rate_type","type":"string","description":"Indicates whether the interest type is FIXED or VARIABLE.","example":"FIXED","enum":["fixed","variable"]},"application_number":{"title":"application_number","type":"string","description":"Unique identifier that you generate for the loan application. This identifier is associated with loan simulations. You can give this identifier to customers for customer service purposes.","example":"589841564"},"amortization_schedules":{"title":"amortization_schedules","type":"array","items":{"required":["amort_installment_number","amort_payment_amount","amort_payment_balance","amort_payment_due_date","amort_payment_fees","amort_payment_interest","amort_payment_principal"],"type":"object","properties":{"amort_installment_number":{"title":"amort_installment_number","type":"integer","description":"The number of the installment.","format":"int32","example":1},"amort_payment_due_date":{"title":"amort_payment_due_date","pattern":"yyyy-MM-dd","type":"string","description":"Date that the payment for this installment is due.","format":"date","example":"2022-02-01"},"amort_payment_amount":{"title":"amort_payment_amount","type":"number","description":"Total amount owed for this installment, including the principal amount,interest and fees.","example":1740.34},"amort_payment_principal":{"title":"amort_payment_principal","type":"number","description":"Amount owed on the principal loan for this installment.","example":1000},"amort_payment_fees":{"title":"amort_payment_fees","type":"number","description":"Fee amount that will be paid in each installment.","example":7.51},"amort_payment_interest":{"title":"amort_payment_interest","type":"number","description":"Amount owed on the loan interest for this installment.","example":10},"amort_payment_balance":{"title":"amort_payment_balance","type":"number","description":"Remaining balance after this installment is paid.","example":2000}}}},"count_of_installments":{"title":"count_of_installments","pattern":"yyyy-MM-dd","type":"integer","description":"Number of installment scheduled.","format":"int32","example":4},"installment_amount":{"title":"installment_amount","pattern":"yyyy-MM-dd","type":"number","description":"Payment due at each installment. This is the same amount as `amort_payment_amount`.","example":1740.34},"first_installment_due_date":{"title":"first_installment_due_date","pattern":"yyyy-MM-dd","type":"string","description":"Date the first installment is due.","format":"date","example":"2022-02-01"},"loan_apr":{"title":"loan_apr","type":"number","description":"Annual percentage rate for interest charged on the loan. Calculated from the interest defined by the subproduct, the length of the loan, the origination fee (if applicable) and other fees (if applicable).","example":15},"late_fee":{"title":"late_fee","type":"number","description":"Late fee for the loan.","example":5}}}},"required":["echo","processing_time","response_data","rtoken","status","status_code","system_timestamp"]},"examples":{"response":{"value":"{\n    \"status_code\": 0,\n    \"status\": \"Success\",\n    \"processing_time\": 4.298,\n    \"response_data\": {\n      \"loan_apr\": 32.52,\n      \"rate_type\": \"fixed\",\n      \"origination_fee\": 0.0,\n      \"late_fee\": 0.0,\n      \"initial_projected_maturity_date\": \"2023-07-21\",\n      \"application_number\": null,\n      \"itemization_of_amount_financed\": {\n        \"loan_amount\": 300.0,\n        \"disbursed_amount\": 300.0,\n        \"projected_interest_amount\": 0.0,\n\t    \"projected_fees_amount\": 9.45\n      },\n      \"amortization_schedules\": {\n        \"amortization_schedule\": [\n          {\n            \"amort_installment_number\": 1,\n            \"amort_payment_due_date\": \"2022-10-30\",\n            \"amort_payment_amount\": 77.36,\n            \"amort_payment_principal\": 75.00,\n            \"amort_payment_fees\": 2.36,\n            \"amort_payment_interest\": 0.00,\n            \"amort_payment_balance\": 232.09,\n          },\n          {\n            \"amort_installment_number\": 2,\n            \"amort_payment_due_date\": \"2022-11-13\",\n            \"amort_payment_amount\": 77.36,\n            \"amort_payment_principal\": 75.00,\n            \"amort_payment_fees\": 2.36,\n            \"amort_payment_interest\": 0.00,\n            \"amort_payment_balance\": 154.73,\n          },\n          {\n            \"amort_installment_number\": 3,\n            \"amort_payment_due_date\": \"2022-11-27\",\n            \"amort_payment_amount\": 77.36,\n            \"amort_payment_principal\": 75.00,\n            \"amort_payment_fees\": 2.36,\n            \"amort_payment_interest\": 0.00,\n            \"amort_payment_balance\": 77.37,\n          },\n          {\n            \"amort_installment_number\": 4,\n            \"amort_payment_due_date\": \"2022-12-11\",\n            \"amort_payment_amount\": 77.37,\n            \"amort_payment_principal\": 75.00,\n            \"amort_payment_fees\": 2.37,\n            \"amort_payment_interest\": 0.00,\n            \"amort_payment_balance\": 0.00,\n          }\n        ]\n      },\n      \"count_of_installments\": 4,\n      \"installment_amount\": 77.36,\n      \"first_installment_due_date\": \"2022-10-30\",\n      \"simulation_id\": \"1676315637005\",\n      \"sub_product_id\": \"8008\",\n      \"simulation_date\": \"2022-10-16\"\n    },\n    \"echo\": {\n      \"provider_transaction_id\": \"\",\n      \"provider_timestamp\": \"\",\n      \"transaction_id\": 818517296121222\n    },\n    \"system_timestamp\": \"2022-10-16 15:36:28\",\n    \"rtoken\": \"a0888f94-fed6-4376-9567-3bga83ea902\",\n    \"errors\": \"\"\n  }\n}\n"}}},"application/xml":{"schema":{"type":"object","properties":{"status_code":{"type":"integer","format":"int32","nullable":true,"description":"The response status code. May return a string for some statuses."},"status":{"type":"string","nullable":true,"description":"The condition of a process or response"},"processing_time":{"type":"number","format":"float","nullable":true,"description":"The time elapsed in processing the transaction"},"echo":{"nullable":true,"description":"A structure that contains transaction ID information","type":"object","properties":{"transaction_id":{"type":"string","nullable":true,"description":"An ID that represents an API transaction"},"provider_timestamp":{"type":"string","format":"date-time","nullable":true,"description":"Store a related timestamp for reporting and troubleshooting purposes"},"provider_transaction_id":{"type":"string","nullable":true,"description":"Secondary transaction identifier (generated by a provider)"}},"required":["provider_timestamp","provider_transaction_id","transaction_id"]},"system_timestamp":{"type":"string","format":"date-time","nullable":true,"description":"A system generated timestamp"},"rtoken":{"type":"string","nullable":true,"description":"A Galileo-generated ID used for tracking"},"errors":{"type":"array","description":"A list of errors generated while the request was processed","items":{"type":"string"}},"response_data":{"nullable":true,"type":"object","description":"A structure for the response data. It can be empty but usually will contain information.","required":["amortization_schedules","application_number","count_of_installments","first_installment_due_date","initial_projected_maturity_date","installment_amount","interest_rate","late_fee","loan_apr","origination_fee","rate_type","simulation_date","simulation_id","sub_product_id"],"properties":{"simulation_id":{"title":"simulation_id","type":"string","description":"Unique identifier associated with each loan simulation.","example":"450825953"},"interest_rate":{"title":"interest_rate","type":"number","description":"Interest rate applied to the loan, as defined by the subproduct.","example":15},"sub_product_id":{"title":"sub_product_id","type":"string","description":"Identifier for the loan subproduct.","example":"442824720"},"simulation_date":{"title":"simulation_date","pattern":"yyyy-MM-dd","type":"string","description":"Date the simulated loan is created.","format":"date","example":"2022-01-01"},"initial_projected_maturity_date":{"title":"initial_projected_maturity_date","pattern":"yyyy-MM-dd","type":"string","description":"Projected date when the loan will be paid off. This date is calculated only when a loan is simulated or created and cannot be sent again.","format":"date","example":"2022-07-01"},"itemization_of_amount_financed":{"title":"itemization_of_amount_financed","required":["disbursed_amount","loan_amount","projected_fees_amount","projected_interest_amount"],"type":"object","properties":{"loan_amount":{"title":"loan_amount","type":"number","description":"Total loan amount borrowed by the customer. This is the sum of the `disbursed_amount`, `origination_fee`, and any other fees associated with the loan.","example":10000},"disbursed_amount":{"title":"disbursed_amount","type":"number","description":"Total loan amount disbursed to the customer.","example":10000},"projected_interest_amount":{"title":"projected_interest_amount","type":"number","description":"The total interest amount the borrower will be paying.","example":10},"projected_fees_amount":{"title":"projected_fees_amount","type":"number","description":"Total fees that the customer is projected to pay over the course of the loan.","example":10}}},"origination_fee":{"title":"origination_fee","type":"number","description":"Fee charged at loan creation. Returns 0 if there is no origination fee.","example":0},"rate_type":{"title":"rate_type","type":"string","description":"Indicates whether the interest type is FIXED or VARIABLE.","example":"FIXED","enum":["fixed","variable"]},"application_number":{"title":"application_number","type":"string","description":"Unique identifier that you generate for the loan application. This identifier is associated with loan simulations. You can give this identifier to customers for customer service purposes.","example":"589841564"},"amortization_schedules":{"title":"amortization_schedules","type":"array","items":{"required":["amort_installment_number","amort_payment_amount","amort_payment_balance","amort_payment_due_date","amort_payment_fees","amort_payment_interest","amort_payment_principal"],"type":"object","properties":{"amort_installment_number":{"title":"amort_installment_number","type":"integer","description":"The number of the installment.","format":"int32","example":1},"amort_payment_due_date":{"title":"amort_payment_due_date","pattern":"yyyy-MM-dd","type":"string","description":"Date that the payment for this installment is due.","format":"date","example":"2022-02-01"},"amort_payment_amount":{"title":"amort_payment_amount","type":"number","description":"Total amount owed for this installment, including the principal amount,interest and fees.","example":1740.34},"amort_payment_principal":{"title":"amort_payment_principal","type":"number","description":"Amount owed on the principal loan for this installment.","example":1000},"amort_payment_fees":{"title":"amort_payment_fees","type":"number","description":"Fee amount that will be paid in each installment.","example":7.51},"amort_payment_interest":{"title":"amort_payment_interest","type":"number","description":"Amount owed on the loan interest for this installment.","example":10},"amort_payment_balance":{"title":"amort_payment_balance","type":"number","description":"Remaining balance after this installment is paid.","example":2000}}}},"count_of_installments":{"title":"count_of_installments","pattern":"yyyy-MM-dd","type":"integer","description":"Number of installment scheduled.","format":"int32","example":4},"installment_amount":{"title":"installment_amount","pattern":"yyyy-MM-dd","type":"number","description":"Payment due at each installment. This is the same amount as `amort_payment_amount`.","example":1740.34},"first_installment_due_date":{"title":"first_installment_due_date","pattern":"yyyy-MM-dd","type":"string","description":"Date the first installment is due.","format":"date","example":"2022-02-01"},"loan_apr":{"title":"loan_apr","type":"number","description":"Annual percentage rate for interest charged on the loan. Calculated from the interest defined by the subproduct, the length of the loan, the origination fee (if applicable) and other fees (if applicable).","example":15},"late_fee":{"title":"late_fee","type":"number","description":"Late fee for the loan.","example":5}}}},"required":["echo","processing_time","response_data","rtoken","status","status_code","system_timestamp"]},"examples":{"response":{"value":"<?xml version=\"1.0\" ?>\n<response>\n  <status_code>0</status_code>\n  <status>Success</status>\n  <processing_time>1.386</processing_time>\n  <response_data>\n   <response_data>\n      <amortization_schedules>\n         <amortization_schedule>\n            <element>\n               <amort_installment_number>1</amort_installment_number>\n               <amort_payment_amount>77.36</amort_payment_amount>\n               <amort_payment_balance>232.09</amort_payment_balance>\n               <amort_payment_due_date>2022-1-30</amort_payment_due_date>\n               <amort_payment_fees>2.36</amort_payment_fees>\n               <amort_payment_interest>0.0</amort_payment_interest>\n               <amort_payment_principal>75.0</amort_payment_principal>\n            </element>\n            <element>\n               <amort_installment_number>2</amort_installment_number>\n               <amort_payment_amount>77.36</amort_payment_amount>\n               <amort_payment_balance>154.73</amort_payment_balance>\n               <amort_payment_due_date>2022-10-13</amort_payment_due_date>\n               <amort_payment_fees>2.36</amort_payment_fees>\n               <amort_payment_interest>0.0</amort_payment_interest>\n               <amort_payment_principal>75.0</amort_payment_principal>\n            </element>\n            <element>\n               <amort_installment_number>3</amort_installment_number>\n               <amort_payment_amount>77.36</amort_payment_amount>\n               <amort_payment_balance>77.37</amort_payment_balance>\n               <amort_payment_due_date>2022-10-27</amort_payment_due_date>\n               <amort_payment_fees>2.36</amort_payment_fees>\n               <amort_payment_interest>0.0</amort_payment_interest>\n               <amort_payment_principal>75.0</amort_payment_principal>\n            </element>\n            <element>\n               <amort_installment_number>4</amort_installment_number>\n               <amort_payment_amount>77.37</amort_payment_amount>\n               <amort_payment_balance>0.0</amort_payment_balance>\n               <amort_payment_due_date>2022-10-11</amort_payment_due_date>\n               <amort_payment_fees>2.37</amort_payment_fees>\n               <amort_payment_interest>0.0</amort_payment_interest>\n               <amort_payment_principal>75.0</amort_payment_principal>\n            </element>\n         </amortization_schedule>\n      </amortization_schedules>\n      <application_number null=\"true\" />\n      <count_of_installments>4</count_of_installments>\n      <first_installment_due_date>2022-10-30</first_installment_due_date>\n      <initial_projected_maturity_date>2022-12-11</initial_projected_maturity_date>\n      <installment_amount>77.36</installment_amount>\n      <itemization_of_amount_financed>\n         <disbursed_amount>300.0</disbursed_amount>\n         <loan_amount>300.0</loan_amount>\n         <projected_fees_amount>9.45</projected_fees_amount>\n         <projected_interest_amount>0.0</projected_interest_amount>\n      </itemization_of_amount_financed>\n      <late_fee>0.0</late_fee>\n      <loan_apr>32.52</loan_apr>\n      <origination_fee>0.0</origination_fee>\n      <rate_type>fixed</rate_type>\n      <simulation_date>2022-10-16</simulation_date>\n      <simulation_id>1676315637005</simulation_id>\n      <sub_product_id>8008</sub_product_id>\n   </response_data>\n   <rtoken>a0888f94-fed6-4376-9567-3bga83ea902</rtoken>\n   <status>Success</status>\n   <status_code>0</status_code>\n   <system_timestamp>2022-10-16 15:36:28</system_timestamp>\n</response>"}}}}}}},"parameters":[{"$ref":"#/components/parameters/ResponseContentTypeHeaderParam"}]},"/1.0/getLoanStatus":{"post":{"tags":["Loan"],"summary":"Get Loan Status","description":"Use the Get Loan Status endpoint to get the most recent information on a loan.\n\nFor optional parameters, do not pass an empty string or null value.","operationId":"lending_post_getLoanStatus","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"required":["loanId","subProductId","transactionId","apiLogin","apiTransKey","providerId"],"type":"object","properties":{"apiLogin":{"type":"string","description":"Provider's web service username, as provided by Galileo for the requesting IP address.\nPattern: Max 50 characters\nExample: `\"AbC123-9999\"`","default":"AbC123-9999"},"apiTransKey":{"type":"string","description":"Web service password, as provided by Galileo for the requesting IP address.\nPattern: Max 15 characters\nExample: `\"4sb62fh6w4h7w34g\"`","default":"4sb62fh6w4h7w34g"},"providerId":{"type":"integer","format":"int32","description":"Galileo-issued unique provider identifier.\nPattern: Max 10 digits\nExample: `9999`","default":9999},"transactionId":{"type":"string","maxLength":60,"minLength":1,"description":"A provider-generated ID that is unique to each API call. A UUID is preferred. Do not reuse this identifier for multiple API calls.\nPattern: Max 60 characters\nExample: `\"984513-395483653-4483483478\"`","default":"984513-395483653-4483483478"},"providerTransactionId":{"type":"string","description":"An optional provider-generated ID for the API request.\nPattern: Max 60 characters\nExample: `\"47823438032233777\"`"},"providerTimestamp":{"type":"string","description":"An optional provider-generated timestamp for the API request.\nPattern: Max 60 characters\nExample: `\"2017-05-01 13:01:01\"`"},"loanId":{"title":"loanId","maxLength":30,"minLength":1,"type":"string","description":"Unique identifier for the loan, returned by the Create Loan endpoint in the `loan_id` field.\nPattern: Max 30 characters\nExample: `\"450825953\"`.","default":"450825953"},"subProductId":{"title":"subProductId","maxLength":15,"minLength":1,"type":"string","description":"Identifier for the loan subproduct.\nPattern: Max 15 characters.\nExample: `\"442824720\"`.","default":"442824720"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"status_code":{"type":"integer","format":"int32","nullable":true,"description":"The response status code. May return a string for some statuses."},"status":{"type":"string","nullable":true,"description":"The condition of a process or response"},"processing_time":{"type":"number","format":"float","nullable":true,"description":"The time elapsed in processing the transaction"},"echo":{"nullable":true,"description":"A structure that contains transaction ID information","type":"object","properties":{"transaction_id":{"type":"string","nullable":true,"description":"An ID that represents an API transaction"},"provider_timestamp":{"type":"string","format":"date-time","nullable":true,"description":"Store a related timestamp for reporting and troubleshooting purposes"},"provider_transaction_id":{"type":"string","nullable":true,"description":"Secondary transaction identifier (generated by a provider)"}},"required":["provider_timestamp","provider_transaction_id","transaction_id"]},"system_timestamp":{"type":"string","format":"date-time","nullable":true,"description":"A system generated timestamp"},"rtoken":{"type":"string","nullable":true,"description":"A Galileo-generated ID used for tracking"},"errors":{"type":"array","description":"A list of errors generated while the request was processed","items":{"type":"string"}},"response_data":{"nullable":true,"type":"object","description":"A structure for the response data. It can be empty but usually will contain information.","required":["installment_amount","interest_rate","loan_apr","loan_closed_date","loan_creation_date","loan_payment_status","loan_start_date","loan_status","next_installment_amount","next_installment_due_date","number_payments_made","number_payments_remaining","origination_fee","payoff_amount","per_diem_interest_amount","principal_balance","projected_maturity_date","rate_type","total_accrued_interest","total_fees_paid","total_interest_paid","total_principal_paid"],"properties":{"loan_apr":{"title":"loan_apr","type":"number","description":"Annual percentage rate for interest charged on the loan. Calculated from the interest defined by the subproduct, the length of the loan, the origination fee (if applicable) and other fees (if applicable).","example":15},"loan_creation_date":{"title":"loan_creation_date","pattern":"yyyy-MM-dd","type":"string","description":"Date that the loan was created. This may be different from `loan_start_date`.","format":"date"},"interest_rate":{"title":"interest_rate","type":"number","description":"Interest rate applied to the loan, as defined by the subproduct.","example":15},"rate_type":{"title":"rate_type","type":"string","description":"Indicates whether the interest type is FIXED or VARIABLE.","example":"FIXED","enum":["fixed","variable"]},"installment_amount":{"title":"installment_amount","type":"number","description":"Payment due at each installment. This is the same amount as `amort_payment_amount`.","example":1740.34},"next_installment_amount":{"title":"next_installment_amount","type":"number","description":"Payment due at the next installment. For example:\n\n * If an installment is unpaid and due tomorrow, this field is the amount due for tomorrow’s installment.\n * If an installment is partially paid and due tomorrow, this field is the remaining amount due.\n * If no payment is required until the next installment, this field is the next installment amount.\nSimilar logic applies to `next_installment_due_date`.","example":1740.34},"next_installment_due_date":{"title":"next_installment_due_date","pattern":"yyyy-MM-dd","type":"string","description":"Date that the next installment is due. For example:\n\n * If an installment is unpaid and due tomorrow, this field is the due date (tomorrow).\n * If an installment is paid and due tomorrow, this field is the date when the next installment is due.\nSimilar logic applies to `next_installment_amount`. For a loan with a `Completed` or `Charged Off` account status, this field is empty.","format":"date","example":"2022-02-01"},"principal_balance":{"title":"principal_balance","type":"number","description":"Current principal balance remaining on the loan.","example":10000},"total_principal_paid":{"title":"total_principal_paid","type":"number","description":"Principal amount of the loan that is paid off.","example":0},"total_interest_paid":{"title":"total_interest_paid","type":"number","description":"Interest amount of the loan that is paid off.","example":0},"total_fees_paid":{"title":"total_fees_paid","type":"number","description":"Total amount paid toward fees, including the origination fee and late fees.","example":0},"total_accrued_interest":{"title":"total_accrued_interest","type":"number","description":"Total interest accrued on the loan, including interest that has been paid.","example":0},"loan_status":{"title":"loan_status","type":"string","description":"Status of the loan.","example":"ACTIVE"},"payoff_amount":{"title":"payoff_amount","type":"number","description":"The total amount needed to pay off all remaining principals, interests and fees of a loan.","example":10000},"loan_closed_date":{"title":"loan_closed_date","type":"string","description":"Date that the loan was closed, paid off, or charged off.","format":"date","example":"2022-06-21"},"per_diem_interest_amount":{"title":"per_diem_interest_amount","type":"number","description":"Daily interest charged on the loan. This amount will update as installments are paid.","example":1.61363},"number_payments_made":{"title":"number_payments_made","type":"integer","description":"Number of installment payments that the customer has made on the loan.","format":"int32","example":0},"number_payments_remaining":{"title":"number_payments_remaining","type":"integer","description":"Number of installment payments remaining on the loan.","format":"int32","example":6},"origination_fee":{"title":"origination_fee","type":"number","description":"Fee charged at loan creation. Returns 0 if there is no origination fee.","example":0},"loan_payment_status":{"title":"loan_payment_status","type":"string","description":"Overall status of payments made on the loan. See the list of values in the <a href=\"doc:reports-for-installment-loans#reports-for-installment-loans#loan-payment-status-and-loan-status-table\" target=\"_blank\">Loan Payment Status and Loan Status table</a> in the *Reports for Installment Loans* guide.","example":"OCUR"},"projected_maturity_date":{"title":"projected_maturity_date","pattern":"yyyy-MM-dd","type":"string","description":"Total interest that the customer is projected to pay over the course of the loan.","format":"date","example":"2022-07-01"},"loan_start_date":{"title":"loan_start_date","pattern":"yyyy-MM-dd","type":"string","description":"Start date for the loan. This may be different from `loan_creation_date`.","format":"date","example":"2022-06-02"}}}},"required":["echo","processing_time","response_data","rtoken","status","status_code","system_timestamp"]},"examples":{"response":{"value":"{\n  \"response\": {\n    \"status_code\": 0,\n    \"status\": \"Success\",\n    \"processing_time\": 1.386,\n    \"response_data\": {\n      \"loan_apr\": 0,\n      \"loan_creation_date\": \"2022-11-08\",\n      \"interest_rate\": 0,\n      \"rate_type\": \"fixed\",\n      \"installment_amount\": 125,\n      \"next_installment_amount\": 250,\n      \"next_installment_due_date\": \"2022-11-08\",\n      \"principal_balance\": 500,\n      \"total_principal_paid\": 0,\n      \"total_interest_paid\": 0,\n      \"total_fees_paid\": 0,\n      \"total_accrued_interest\": 0,\n      \"loan_status\": \"Valid\",\n      \"payoff_amount\": 500,\n      \"loan_closed_date\": \"\",\n      \"per_diem_interest_amount\": 0,\n      \"number_payments_made\": 0,\n      \"number_payments_remaining\": 4,\n      \"origination_fee\": 0,\n      \"loan_payment_status\": \"OPDE\",\n      \"projected_maturity_date\": \"2022-12-20\",\n      \"loan_start_date\": \"2022-11-08\"\n    },\n    \"echo\": {\n      \"provider_transaction_id\": \"\",\n      \"provider_timestamp\": \"\",\n      \"transaction_id\": \"8531bd42-dc77-4b54-81fe-58c3db1ed68f\"\n    },\n    \"system_timestamp\": \"2022-11-10 13:49:22\",\n    \"rtoken\": \"f4b965fd-29fa-46d8-9dca-c2c27552bf95\",\n    \"errors\": \"\"\n  }\n}\n"}}},"application/xml":{"schema":{"type":"object","properties":{"status_code":{"type":"integer","format":"int32","nullable":true,"description":"The response status code. May return a string for some statuses."},"status":{"type":"string","nullable":true,"description":"The condition of a process or response"},"processing_time":{"type":"number","format":"float","nullable":true,"description":"The time elapsed in processing the transaction"},"echo":{"nullable":true,"description":"A structure that contains transaction ID information","type":"object","properties":{"transaction_id":{"type":"string","nullable":true,"description":"An ID that represents an API transaction"},"provider_timestamp":{"type":"string","format":"date-time","nullable":true,"description":"Store a related timestamp for reporting and troubleshooting purposes"},"provider_transaction_id":{"type":"string","nullable":true,"description":"Secondary transaction identifier (generated by a provider)"}},"required":["provider_timestamp","provider_transaction_id","transaction_id"]},"system_timestamp":{"type":"string","format":"date-time","nullable":true,"description":"A system generated timestamp"},"rtoken":{"type":"string","nullable":true,"description":"A Galileo-generated ID used for tracking"},"errors":{"type":"array","description":"A list of errors generated while the request was processed","items":{"type":"string"}},"response_data":{"nullable":true,"type":"object","description":"A structure for the response data. It can be empty but usually will contain information.","required":["installment_amount","interest_rate","loan_apr","loan_closed_date","loan_creation_date","loan_payment_status","loan_start_date","loan_status","next_installment_amount","next_installment_due_date","number_payments_made","number_payments_remaining","origination_fee","payoff_amount","per_diem_interest_amount","principal_balance","projected_maturity_date","rate_type","total_accrued_interest","total_fees_paid","total_interest_paid","total_principal_paid"],"properties":{"loan_apr":{"title":"loan_apr","type":"number","description":"Annual percentage rate for interest charged on the loan. Calculated from the interest defined by the subproduct, the length of the loan, the origination fee (if applicable) and other fees (if applicable).","example":15},"loan_creation_date":{"title":"loan_creation_date","pattern":"yyyy-MM-dd","type":"string","description":"Date that the loan was created. This may be different from `loan_start_date`.","format":"date"},"interest_rate":{"title":"interest_rate","type":"number","description":"Interest rate applied to the loan, as defined by the subproduct.","example":15},"rate_type":{"title":"rate_type","type":"string","description":"Indicates whether the interest type is FIXED or VARIABLE.","example":"FIXED","enum":["fixed","variable"]},"installment_amount":{"title":"installment_amount","type":"number","description":"Payment due at each installment. This is the same amount as `amort_payment_amount`.","example":1740.34},"next_installment_amount":{"title":"next_installment_amount","type":"number","description":"Payment due at the next installment. For example:\n\n * If an installment is unpaid and due tomorrow, this field is the amount due for tomorrow’s installment.\n * If an installment is partially paid and due tomorrow, this field is the remaining amount due.\n * If no payment is required until the next installment, this field is the next installment amount.\nSimilar logic applies to `next_installment_due_date`.","example":1740.34},"next_installment_due_date":{"title":"next_installment_due_date","pattern":"yyyy-MM-dd","type":"string","description":"Date that the next installment is due. For example:\n\n * If an installment is unpaid and due tomorrow, this field is the due date (tomorrow).\n * If an installment is paid and due tomorrow, this field is the date when the next installment is due.\nSimilar logic applies to `next_installment_amount`. For a loan with a `Completed` or `Charged Off` account status, this field is empty.","format":"date","example":"2022-02-01"},"principal_balance":{"title":"principal_balance","type":"number","description":"Current principal balance remaining on the loan.","example":10000},"total_principal_paid":{"title":"total_principal_paid","type":"number","description":"Principal amount of the loan that is paid off.","example":0},"total_interest_paid":{"title":"total_interest_paid","type":"number","description":"Interest amount of the loan that is paid off.","example":0},"total_fees_paid":{"title":"total_fees_paid","type":"number","description":"Total amount paid toward fees, including the origination fee and late fees.","example":0},"total_accrued_interest":{"title":"total_accrued_interest","type":"number","description":"Total interest accrued on the loan, including interest that has been paid.","example":0},"loan_status":{"title":"loan_status","type":"string","description":"Status of the loan.","example":"ACTIVE"},"payoff_amount":{"title":"payoff_amount","type":"number","description":"The total amount needed to pay off all remaining principals, interests and fees of a loan.","example":10000},"loan_closed_date":{"title":"loan_closed_date","type":"string","description":"Date that the loan was closed, paid off, or charged off.","format":"date","example":"2022-06-21"},"per_diem_interest_amount":{"title":"per_diem_interest_amount","type":"number","description":"Daily interest charged on the loan. This amount will update as installments are paid.","example":1.61363},"number_payments_made":{"title":"number_payments_made","type":"integer","description":"Number of installment payments that the customer has made on the loan.","format":"int32","example":0},"number_payments_remaining":{"title":"number_payments_remaining","type":"integer","description":"Number of installment payments remaining on the loan.","format":"int32","example":6},"origination_fee":{"title":"origination_fee","type":"number","description":"Fee charged at loan creation. Returns 0 if there is no origination fee.","example":0},"loan_payment_status":{"title":"loan_payment_status","type":"string","description":"Overall status of payments made on the loan. See the list of values in the <a href=\"doc:reports-for-installment-loans#reports-for-installment-loans#loan-payment-status-and-loan-status-table\" target=\"_blank\">Loan Payment Status and Loan Status table</a> in the *Reports for Installment Loans* guide.","example":"OCUR"},"projected_maturity_date":{"title":"projected_maturity_date","pattern":"yyyy-MM-dd","type":"string","description":"Total interest that the customer is projected to pay over the course of the loan.","format":"date","example":"2022-07-01"},"loan_start_date":{"title":"loan_start_date","pattern":"yyyy-MM-dd","type":"string","description":"Start date for the loan. This may be different from `loan_creation_date`.","format":"date","example":"2022-06-02"}}}},"required":["echo","processing_time","response_data","rtoken","status","status_code","system_timestamp"]},"examples":{"response":{"value":"<?xml version=\"1.0\" ?>\n<response>\n  <status_code>0</status_code>\n  <status>Success</status>\n  <processing_time>1.386</processing_time>\n  <response_data>\n    <loan_apr>0</loan_apr>\n    <loan_creation_date>2022-11-08</loan_creation_date>\n    <interest_rate>0</interest_rate>\n    <rate_type>fixed</rate_type>\n    <installment_amount>125</installment_amount>\n    <next_installment_amount>250</next_installment_amount>\n    <next_installment_due_date>2022-11-08</next_installment_due_date>\n    <principal_balance>500</principal_balance>\n    <total_principal_paid>0</total_principal_paid>\n    <total_interest_paid>0</total_interest_paid>\n    <total_fees_paid>0</total_fees_paid>\n    <total_accrued_interest>0</total_accrued_interest>\n    <loan_status>Valid</loan_status>\n    <payoff_amount>500</payoff_amount>\n    <loan_closed_date></loan_closed_date>\n    <per_diem_interest_amount>0</per_diem_interest_amount>\n    <number_payments_made>0</number_payments_made>\n    <number_payments_remaining>4</number_payments_remaining>\n    <origination_fee>0</origination_fee>\n    <loan_payment_status>OPDE</loan_payment_status>\n    <projected_maturity_date>2022-12-20</projected_maturity_date>\n    <loan_start_date>2022-11-08</loan_start_date>\n  </response_data>\n  <echo>\n  <provider_transaction_id/>\n  <provider_timestamp/>\n  <transaction_id>8531bd42-dc77-4b54-81fe-58c3db1ed68f</transaction_id>\n  </echo>\n  <rtoken>f4b965fd-29fa-46d8-9dca-c2c27552bf95</rtoken>\n  <system_timestamp>2022-11-10 13:49:22</system_timestamp>\n</response>\n"}}}}}}},"parameters":[{"$ref":"#/components/parameters/ResponseContentTypeHeaderParam"}]},"/1.0/getLoanPaymentSchedule":{"post":{"tags":["Loan"],"summary":"Get Loan Payment Schedule","description":"Use the Get Loan Payment Schedule endpoint to get a history of payments made on the loan along with a real-time view of future payments owed. This endpoint reflects changes to the installment amount that can occur for various reasons, like a merchant refund. Get Loan Payment Schedule returns the updated amount owed on future installments, but the due dates remain the same as provided in the amortization schedule.\n\nFor optional parameters, do not pass an empty string or null value.","operationId":"lending_post_getLoanPaymentSchedule","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"required":["loanId","subProductId","transactionId","apiLogin","apiTransKey","providerId"],"type":"object","properties":{"apiLogin":{"type":"string","description":"Provider's web service username, as provided by Galileo for the requesting IP address.\nPattern: Max 50 characters\nExample: `\"AbC123-9999\"`","default":"AbC123-9999"},"apiTransKey":{"type":"string","description":"Web service password, as provided by Galileo for the requesting IP address.\nPattern: Max 15 characters\nExample: `\"4sb62fh6w4h7w34g\"`","default":"4sb62fh6w4h7w34g"},"providerId":{"type":"integer","format":"int32","description":"Galileo-issued unique provider identifier.\nPattern: Max 10 digits\nExample: `9999`","default":9999},"transactionId":{"type":"string","maxLength":60,"minLength":1,"description":"A provider-generated ID that is unique to each API call. A UUID is preferred. Do not reuse this identifier for multiple API calls.\nPattern: Max 60 characters\nExample: `\"984513-395483653-4483483478\"`","default":"984513-395483653-4483483478"},"providerTransactionId":{"type":"string","description":"An optional provider-generated ID for the API request.\nPattern: Max 60 characters\nExample: `\"47823438032233777\"`"},"providerTimestamp":{"type":"string","description":"An optional provider-generated timestamp for the API request.\nPattern: Max 60 characters\nExample: `\"2017-05-01 13:01:01\"`"},"loanId":{"title":"loanId","maxLength":30,"minLength":1,"type":"string","description":"Unique identifier for the loan, returned by the Create Loan endpoint in the `loan_id` field.\nPattern: Max 30 characters\nExample: `\"450825953\"`.","default":"450825953"},"subProductId":{"title":"subProductId","maxLength":15,"minLength":1,"type":"string","description":"Identifier for the loan subproduct.\nPattern: Max 15 characters.\nExample: `\"442824720\"`.","default":"442824720"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"status_code":{"type":"integer","format":"int32","nullable":true,"description":"The response status code. May return a string for some statuses."},"status":{"type":"string","nullable":true,"description":"The condition of a process or response"},"processing_time":{"type":"number","format":"float","nullable":true,"description":"The time elapsed in processing the transaction"},"echo":{"nullable":true,"description":"A structure that contains transaction ID information","type":"object","properties":{"transaction_id":{"type":"string","nullable":true,"description":"An ID that represents an API transaction"},"provider_timestamp":{"type":"string","format":"date-time","nullable":true,"description":"Store a related timestamp for reporting and troubleshooting purposes"},"provider_transaction_id":{"type":"string","nullable":true,"description":"Secondary transaction identifier (generated by a provider)"}},"required":["provider_timestamp","provider_transaction_id","transaction_id"]},"system_timestamp":{"type":"string","format":"date-time","nullable":true,"description":"A system generated timestamp"},"rtoken":{"type":"string","nullable":true,"description":"A Galileo-generated ID used for tracking"},"errors":{"type":"array","description":"A list of errors generated while the request was processed","items":{"type":"string"}},"response_data":{"nullable":true,"type":"object","description":"A structure for the response data. It can be empty but usually will contain information.","required":["late_fee","total_fees_paid","total_interest_paid","total_principal_paid"],"properties":{"total_principal_paid":{"title":"total_principal_paid","type":"number","description":"Principal amount of the loan that is paid off.","example":0},"total_interest_paid":{"title":"total_interest_paid","type":"number","description":"Interest amount of the loan that is paid off.","example":0},"total_fees_paid":{"title":"total_fees_paid","type":"number","description":"Total amount paid toward fees, including the origination fee and late fees.","example":0},"late_fee":{"title":"late_fee","type":"number","description":"Total amount owed on late fees.","example":2000},"payments_schedule":{"title":"payments_schedule","type":"array","description":"List of payment schedule.","items":{"title":"payments_schedule","required":["scheduled_amount_due","scheduled_balance_amount","scheduled_due_date","scheduled_installment_number","scheduled_interest_amount","scheduled_late_fee_due","scheduled_principal_amount"],"type":"object","properties":{"scheduled_installment_number":{"title":"scheduled_installment_number","type":"integer","description":"Indicates the number of the installment.","example":2},"scheduled_due_date":{"title":"scheduled_due_date","type":"string","description":"Date that the payment for this installment is due.","format":"date"},"scheduled_amount_due":{"title":"scheduled_amount_due","type":"number","description":"Total amount owed for this installment, including the principal amount and interest.","example":857.47},"scheduled_principal_amount":{"title":"scheduled_principal_amount","type":"number","description":"Amount owed on the principal loan for this installment.","example":2},"scheduled_interest_amount":{"title":"scheduled_interest_amount","type":"number","description":"Amount owed on the loan interest for this installment.","example":836.67},"scheduled_late_fee_due":{"title":"scheduled_late_fee_due","type":"number","description":"Late fee amount due for this installment. If no late fee is due, the amount is 0.00.","example":2000},"scheduled_balance_amount":{"title":"scheduled_balance_amount","type":"number","description":"2000.00"}},"description":"List of payment schedule."}},"payments_history":{"title":"payments_history","type":"array","description":"Contains the record for each payment previously made on the loan. If none of the installments are paid, you will not receive the details for `payments_history`.","items":{"title":"payments_history","required":["hist_payment_amount","hist_payment_date","hist_payment_fees","hist_payment_interest","hist_payment_principal","scheduled_balance_amount"],"type":"object","properties":{"hist_payment_date":{"title":"hist_payment_date","type":"string","description":"Date that this payment was made.","format":"date"},"hist_payment_amount":{"title":"hist_payment_amount","type":"number","description":"The total amount paid on this payment.","example":2000},"hist_payment_principal":{"title":"hist_payment_principal","type":"number","description":"Amount paid on the principal loan amount for this payment.","example":2000},"hist_payment_interest":{"title":"hist_payment_interest","type":"number","description":"Amount paid on the loan interest for this payment.","example":2000},"hist_payment_fees":{"title":"hist_payment_fees","type":"number","description":"mount paid on loan fees for this payment.","example":2000},"scheduled_balance_amount":{"title":"hist_payment_balance","type":"number","description":"Remaining balance after this payment was made.","example":2000},"hist_payment_source":{"type":"string","enum":["USRP","SYSP","CRDP","CSRP","IVRP","DFRL","DWRO","PCRP","MCRP","RCRP","ADLP"]}},"description":"Contains the record for each payment previously made on the loan. If none of the installments are paid, you will not receive the details for `payments_history`."}}}}},"required":["echo","processing_time","response_data","rtoken","status","status_code","system_timestamp"]},"examples":{"response":{"value":"{\n  \"response\": {\n    \"status_code\": 0,\n    \"status\": \"Success\",\n    \"processing_time\": 1.795,\n    \"response_data\": {\n      \"total_principal_paid\": 200,\n      \"total_interest_paid\": 0,\n      \"total_fees_paid\": 0,\n      \"late_fee\": 0,\n      \"payments_history\": {\n        \"key\": [\n          {\n            \"hist_payment_date\": \"2022-11-10\",\n            \"hist_payment_amount\": 100,\n            \"hist_payment_interest\": 0,\n            \"hist_payment_principal\": 100,\n            \"scheduled_balance_amount\": 400,\n            \"hist_payment_fees\": 0,\n            \"hist_payment_source\": \"USRP\"\n          },\n          {\n            \"hist_payment_date\": \"2022-11-10\",\n            \"hist_payment_amount\": 100,\n            \"hist_payment_interest\": 0,\n            \"hist_payment_principal\": 100,\n            \"scheduled_balance_amount\": 300,\n            \"hist_payment_fees\": 0,\n            \"hist_payment_source\": \"USRP\"\n          }\n        ]\n      },\n      \"payments_schedule\": {\n        \"key\": [\n          {\n            \"scheduled_installment_number\": 2,\n            \"scheduled_due_date\": \"2022-11-24\",\n            \"scheduled_amount_due\": 50,\n            \"scheduled_principal_amount\": 50,\n            \"scheduled_interest_amount\": 0,\n            \"scheduled_late_fee_due\": 0,\n            \"scheduled_balance_amount\": 250\n          },\n          {\n            \"scheduled_installment_number\": 3,\n            \"scheduled_due_date\": \"2022-12-08\",\n            \"scheduled_amount_due\": 125,\n            \"scheduled_principal_amount\": 125,\n            \"scheduled_interest_amount\": 0,\n            \"scheduled_late_fee_due\": 0,\n            \"scheduled_balance_amount\": 125\n          },\n          {\n            \"scheduled_installment_number\": 4,\n            \"scheduled_due_date\": \"2022-12-22\",\n            \"scheduled_amount_due\": 125,\n            \"scheduled_principal_amount\": 125,\n            \"scheduled_interest_amount\": 0,\n            \"scheduled_late_fee_due\": 0,\n            \"scheduled_balance_amount\": 0\n          }\n        ]\n      }\n    },\n    \"echo\": {\n      \"provider_transaction_id\": \"\",\n      \"provider_timestamp\": \"\",\n      \"transaction_id\": \"test123123\"\n    },\n    \"system_timestamp\": \"2022-11-10 13:59:39\",\n    \"rtoken\": \"928b808d-3c53-464b-8b2b-65d26329286f\",\n    \"errors\": \"\"\n  }\n}\n"}}},"application/xml":{"schema":{"type":"object","properties":{"status_code":{"type":"integer","format":"int32","nullable":true,"description":"The response status code. May return a string for some statuses."},"status":{"type":"string","nullable":true,"description":"The condition of a process or response"},"processing_time":{"type":"number","format":"float","nullable":true,"description":"The time elapsed in processing the transaction"},"echo":{"nullable":true,"description":"A structure that contains transaction ID information","type":"object","properties":{"transaction_id":{"type":"string","nullable":true,"description":"An ID that represents an API transaction"},"provider_timestamp":{"type":"string","format":"date-time","nullable":true,"description":"Store a related timestamp for reporting and troubleshooting purposes"},"provider_transaction_id":{"type":"string","nullable":true,"description":"Secondary transaction identifier (generated by a provider)"}},"required":["provider_timestamp","provider_transaction_id","transaction_id"]},"system_timestamp":{"type":"string","format":"date-time","nullable":true,"description":"A system generated timestamp"},"rtoken":{"type":"string","nullable":true,"description":"A Galileo-generated ID used for tracking"},"errors":{"type":"array","description":"A list of errors generated while the request was processed","items":{"type":"string"}},"response_data":{"nullable":true,"type":"object","description":"A structure for the response data. It can be empty but usually will contain information.","required":["late_fee","total_fees_paid","total_interest_paid","total_principal_paid"],"properties":{"total_principal_paid":{"title":"total_principal_paid","type":"number","description":"Principal amount of the loan that is paid off.","example":0},"total_interest_paid":{"title":"total_interest_paid","type":"number","description":"Interest amount of the loan that is paid off.","example":0},"total_fees_paid":{"title":"total_fees_paid","type":"number","description":"Total amount paid toward fees, including the origination fee and late fees.","example":0},"late_fee":{"title":"late_fee","type":"number","description":"Total amount owed on late fees.","example":2000},"payments_schedule":{"title":"payments_schedule","type":"array","description":"List of payment schedule.","items":{"title":"payments_schedule","required":["scheduled_amount_due","scheduled_balance_amount","scheduled_due_date","scheduled_installment_number","scheduled_interest_amount","scheduled_late_fee_due","scheduled_principal_amount"],"type":"object","properties":{"scheduled_installment_number":{"title":"scheduled_installment_number","type":"integer","description":"Indicates the number of the installment.","example":2},"scheduled_due_date":{"title":"scheduled_due_date","type":"string","description":"Date that the payment for this installment is due.","format":"date"},"scheduled_amount_due":{"title":"scheduled_amount_due","type":"number","description":"Total amount owed for this installment, including the principal amount and interest.","example":857.47},"scheduled_principal_amount":{"title":"scheduled_principal_amount","type":"number","description":"Amount owed on the principal loan for this installment.","example":2},"scheduled_interest_amount":{"title":"scheduled_interest_amount","type":"number","description":"Amount owed on the loan interest for this installment.","example":836.67},"scheduled_late_fee_due":{"title":"scheduled_late_fee_due","type":"number","description":"Late fee amount due for this installment. If no late fee is due, the amount is 0.00.","example":2000},"scheduled_balance_amount":{"title":"scheduled_balance_amount","type":"number","description":"2000.00"}},"description":"List of payment schedule."}},"payments_history":{"title":"payments_history","type":"array","description":"Contains the record for each payment previously made on the loan. If none of the installments are paid, you will not receive the details for `payments_history`.","items":{"title":"payments_history","required":["hist_payment_amount","hist_payment_date","hist_payment_fees","hist_payment_interest","hist_payment_principal","scheduled_balance_amount"],"type":"object","properties":{"hist_payment_date":{"title":"hist_payment_date","type":"string","description":"Date that this payment was made.","format":"date"},"hist_payment_amount":{"title":"hist_payment_amount","type":"number","description":"The total amount paid on this payment.","example":2000},"hist_payment_principal":{"title":"hist_payment_principal","type":"number","description":"Amount paid on the principal loan amount for this payment.","example":2000},"hist_payment_interest":{"title":"hist_payment_interest","type":"number","description":"Amount paid on the loan interest for this payment.","example":2000},"hist_payment_fees":{"title":"hist_payment_fees","type":"number","description":"mount paid on loan fees for this payment.","example":2000},"scheduled_balance_amount":{"title":"hist_payment_balance","type":"number","description":"Remaining balance after this payment was made.","example":2000},"hist_payment_source":{"type":"string","enum":["USRP","SYSP","CRDP","CSRP","IVRP","DFRL","DWRO","PCRP","MCRP","RCRP","ADLP"]}},"description":"Contains the record for each payment previously made on the loan. If none of the installments are paid, you will not receive the details for `payments_history`."}}}}},"required":["echo","processing_time","response_data","rtoken","status","status_code","system_timestamp"]},"examples":{"response":{"value":"<?xml version=\"1.0\" ?>\n<response>\n    <status_code>0</status_code>\n    <status>Success</status>\n    <processing_time>1.795</processing_time>\n    <response_data>\n        <total_principal_paid>200</total_principal_paid>\n        <total_interest_paid>0</total_interest_paid>\n        <total_fees_paid>0</total_fees_paid>\n        <late_fee>0</late_fee>\n        <payments_history>\n        <key>\n            <hist_payment_date>2022-11-10</hist_payment_date>\n            <hist_payment_amount>100</hist_payment_amount>\n            <hist_payment_interest>0</hist_payment_interest>\n            <hist_payment_principal>100</hist_payment_principal>\n            <scheduled_balance_amount>400</scheduled_balance_amount>\n            <hist_payment_fees>0</hist_payment_fees>\n            <hist_payment_source>USRP</hist_payment_source>\n        </key>\n        <key>\n            <hist_payment_date>2022-11-10</hist_payment_date>\n            <hist_payment_amount>100</hist_payment_amount>\n            <hist_payment_interest>0</hist_payment_interest>\n            <hist_payment_principal>100</hist_payment_principal>\n            <scheduled_balance_amount>300</scheduled_balance_amount>\n            <hist_payment_fees>0</hist_payment_fees>\n            <hist_payment_source>USRP</hist_payment_source>\n        </key>\n        <payments_schedule>\n            <key>\n                <scheduled_installment_number>2</scheduled_installment_number>\n                <scheduled_due_date>2022-11-24</scheduled_due_date>\n                <scheduled_amount_due>50</scheduled_amount_due>\n                <scheduled_principal_amount>50</scheduled_principal_amount>\n                <scheduled_interest_amount>0</scheduled_interest_amount>\n                <scheduled_late_fee_due>0</scheduled_late_fee_due>\n                <scheduled_balance_amount>250</scheduled_balance_amount>\n            </key>\n            <key>\n                <scheduled_installment_number>3</scheduled_installment_number>\n                <scheduled_due_date>2022-12-08</scheduled_due_date>\n                <scheduled_amount_due>125</scheduled_amount_due>\n                <scheduled_principal_amount>125</scheduled_principal_amount>\n                <scheduled_interest_amount>0</scheduled_interest_amount>\n                <scheduled_late_fee_due>0</scheduled_late_fee_due>\n                <scheduled_balance_amount>125</scheduled_balance_amount>\n            </key>\n            <key>\n                <scheduled_installment_number>4</scheduled_installment_number>\n                <scheduled_due_date>2022-12-22</scheduled_due_date>\n                <scheduled_amount_due>125</scheduled_amount_due>\n                <scheduled_principal_amount>125</scheduled_principal_amount>\n                <scheduled_interest_amount>0</scheduled_interest_amount>\n                <scheduled_late_fee_due>0</scheduled_late_fee_due>\n                <scheduled_balance_amount>0</scheduled_balance_amount>\n            </key>\n        </payments_schedule>\n    </response_data>\n    <echo>\n        <provider_transaction_id/>\n        <provider_timestamp/>\n        <transaction_id>test123123</transaction_id>\n    </echo>\n    <rtoken>928b808d-3c53-464b-8b2b-65d26329286f</rtoken>\n    <system_timestamp>2022-11-10 13:59:39</system_timestamp>\n</response>"}}}}}}},"parameters":[{"$ref":"#/components/parameters/ResponseContentTypeHeaderParam"}]},"/1.0/getLoanInstallmentStatuses":{"post":{"tags":["Loan"],"summary":"Get Loan Installment Statuses","description":"Use the Get Loan Installment Statuses endpoint to view individual installment status across all installments. This returns the details for each installment, including the status, payment due date, date paid, amount paid, and remaining balance.\n\nFor optional parameters, do not pass an empty string or null value.","operationId":"lending_post_getLoanInstallmentStatuses","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"required":["loanId","subProductId","transactionId","apiLogin","apiTransKey","providerId"],"type":"object","properties":{"apiLogin":{"type":"string","description":"Provider's web service username, as provided by Galileo for the requesting IP address.\nPattern: Max 50 characters\nExample: `\"AbC123-9999\"`","default":"AbC123-9999"},"apiTransKey":{"type":"string","description":"Web service password, as provided by Galileo for the requesting IP address.\nPattern: Max 15 characters\nExample: `\"4sb62fh6w4h7w34g\"`","default":"4sb62fh6w4h7w34g"},"providerId":{"type":"integer","format":"int32","description":"Galileo-issued unique provider identifier.\nPattern: Max 10 digits\nExample: `9999`","default":9999},"transactionId":{"type":"string","maxLength":60,"minLength":1,"description":"A provider-generated ID that is unique to each API call. A UUID is preferred. Do not reuse this identifier for multiple API calls.\nPattern: Max 60 characters\nExample: `\"984513-395483653-4483483478\"`","default":"984513-395483653-4483483478"},"providerTransactionId":{"type":"string","description":"An optional provider-generated ID for the API request.\nPattern: Max 60 characters\nExample: `\"47823438032233777\"`"},"providerTimestamp":{"type":"string","description":"An optional provider-generated timestamp for the API request.\nPattern: Max 60 characters\nExample: `\"2017-05-01 13:01:01\"`"},"loanId":{"title":"loanId","maxLength":30,"minLength":1,"type":"string","description":"Unique identifier for the loan, returned by the Create Loan endpoint in the `loan_id` field.\nPattern: Max 30 characters\nExample: `\"450825953\"`.","default":"450825953"},"subProductId":{"title":"subProductId","maxLength":15,"minLength":1,"type":"string","description":"Identifier for the loan subproduct.\nPattern: Max 15 characters.\nExample: `\"442824720\"`.","default":"442824720"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"status_code":{"type":"integer","format":"int32","nullable":true,"description":"The response status code. May return a string for some statuses."},"status":{"type":"string","nullable":true,"description":"The condition of a process or response"},"processing_time":{"type":"number","format":"float","nullable":true,"description":"The time elapsed in processing the transaction"},"echo":{"nullable":true,"description":"A structure that contains transaction ID information","type":"object","properties":{"transaction_id":{"type":"string","nullable":true,"description":"An ID that represents an API transaction"},"provider_timestamp":{"type":"string","format":"date-time","nullable":true,"description":"Store a related timestamp for reporting and troubleshooting purposes"},"provider_transaction_id":{"type":"string","nullable":true,"description":"Secondary transaction identifier (generated by a provider)"}},"required":["provider_timestamp","provider_transaction_id","transaction_id"]},"system_timestamp":{"type":"string","format":"date-time","nullable":true,"description":"A system generated timestamp"},"rtoken":{"type":"string","nullable":true,"description":"A Galileo-generated ID used for tracking"},"errors":{"type":"array","description":"A list of errors generated while the request was processed","items":{"type":"string"}},"response_data":{"nullable":true,"type":"object","description":"A structure for the response data. It can be empty but usually will contain information.","required":["installment_status_details"],"properties":{"installment_status_details":{"title":"installment_status_details","type":"array","description":"Installment status details list.","items":{"title":"installment_status_details","required":["amort_installment_number","amort_payment_amount","amort_payment_due_date","hist_payment_balance","installment_paid_date","installment_status"],"type":"object","properties":{"installment_status":{"title":"installment_status","type":"string","description":"Status for the installment. Possible statuses are: Scheduled, Paid, Paid Late, Unpaid.","example":"Unpaid"},"installment_paid_date":{"title":"installment_paid_date","pattern":"yyyy-MM-dd","type":"string","description":"Date the installment was completely paid.","format":"date"},"amort_installment_number":{"title":"amort_installment_number","type":"integer","description":"The number of the installment.","format":"int32","example":1},"amort_payment_due_date":{"title":"amort_payment_due_date","pattern":"yyyy-MM-dd","type":"string","description":"Date that the payment for this installment is due.","format":"date","example":"2022-02-01"},"amort_payment_amount":{"title":"amort_payment_amount","type":"number","description":"Total amount owed for this installment, including the principal amount,interest and fees.","example":1740.34},"hist_payment_balance":{"title":"hist_payment_balance","type":"number","description":"Remaining balance after this payment was made.","example":2000}},"description":"Installment status details list."}}}}},"required":["echo","processing_time","response_data","rtoken","status","status_code","system_timestamp"]},"examples":{"response":{"value":"{\n  \"response\": {\n    \"status_code\": 0,\n    \"status\": \"Success\",\n    \"processing_time\": 1.001,\n    \"response_data\": {\n      \"installment_status_details\": {\n        \"installment_status_detail\": [\n          {\n            \"installment_status\": \"Paid\",\n            \"installment_paid_date\": \"2022-11-10\",\n            \"amort_installment_number\": 1,\n            \"amort_payment_due_date\": \"2022-11-10\",\n            \"amort_payment_amount\": 125,\n            \"hist_payment_balance\": 0\n          },\n          {\n            \"installment_status\": \"Scheduled\",\n            \"installment_paid_date\": \"\",\n            \"amort_installment_number\": 2,\n            \"amort_payment_due_date\": \"2022-11-24\",\n            \"amort_payment_amount\": 125,\n            \"hist_payment_balance\": 50\n          },\n          {\n            \"installment_status\": \"Scheduled\",\n            \"installment_paid_date\": \"\",\n            \"amort_installment_number\": 3,\n            \"amort_payment_due_date\": \"2022-12-08\",\n            \"amort_payment_amount\": 125,\n            \"hist_payment_balance\": 125\n          },\n          {\n            \"installment_status\": \"Scheduled\",\n            \"installment_paid_date\": \"\",\n            \"amort_installment_number\": 4,\n            \"amort_payment_due_date\": \"2022-12-22\",\n            \"amort_payment_amount\": 125,\n            \"hist_payment_balance\": 125\n          }\n        ]\n      }\n    },\n    \"echo\": {\n      \"provider_transaction_id\": \"\",\n      \"provider_timestamp\": \"\",\n      \"transaction_id\": 12312234\n    },\n    \"system_timestamp\": \"2022-11-10 13:56:15\",\n    \"rtoken\": \"ccb3951a-7d20-4c4c-907f-7b74ec747e9d\",\n    \"errors\": \"\"\n  }\n}\n"}}},"application/xml":{"schema":{"type":"object","properties":{"status_code":{"type":"integer","format":"int32","nullable":true,"description":"The response status code. May return a string for some statuses."},"status":{"type":"string","nullable":true,"description":"The condition of a process or response"},"processing_time":{"type":"number","format":"float","nullable":true,"description":"The time elapsed in processing the transaction"},"echo":{"nullable":true,"description":"A structure that contains transaction ID information","type":"object","properties":{"transaction_id":{"type":"string","nullable":true,"description":"An ID that represents an API transaction"},"provider_timestamp":{"type":"string","format":"date-time","nullable":true,"description":"Store a related timestamp for reporting and troubleshooting purposes"},"provider_transaction_id":{"type":"string","nullable":true,"description":"Secondary transaction identifier (generated by a provider)"}},"required":["provider_timestamp","provider_transaction_id","transaction_id"]},"system_timestamp":{"type":"string","format":"date-time","nullable":true,"description":"A system generated timestamp"},"rtoken":{"type":"string","nullable":true,"description":"A Galileo-generated ID used for tracking"},"errors":{"type":"array","description":"A list of errors generated while the request was processed","items":{"type":"string"}},"response_data":{"nullable":true,"type":"object","description":"A structure for the response data. It can be empty but usually will contain information.","required":["installment_status_details"],"properties":{"installment_status_details":{"title":"installment_status_details","type":"array","description":"Installment status details list.","items":{"title":"installment_status_details","required":["amort_installment_number","amort_payment_amount","amort_payment_due_date","hist_payment_balance","installment_paid_date","installment_status"],"type":"object","properties":{"installment_status":{"title":"installment_status","type":"string","description":"Status for the installment. Possible statuses are: Scheduled, Paid, Paid Late, Unpaid.","example":"Unpaid"},"installment_paid_date":{"title":"installment_paid_date","pattern":"yyyy-MM-dd","type":"string","description":"Date the installment was completely paid.","format":"date"},"amort_installment_number":{"title":"amort_installment_number","type":"integer","description":"The number of the installment.","format":"int32","example":1},"amort_payment_due_date":{"title":"amort_payment_due_date","pattern":"yyyy-MM-dd","type":"string","description":"Date that the payment for this installment is due.","format":"date","example":"2022-02-01"},"amort_payment_amount":{"title":"amort_payment_amount","type":"number","description":"Total amount owed for this installment, including the principal amount,interest and fees.","example":1740.34},"hist_payment_balance":{"title":"hist_payment_balance","type":"number","description":"Remaining balance after this payment was made.","example":2000}},"description":"Installment status details list."}}}}},"required":["echo","processing_time","response_data","rtoken","status","status_code","system_timestamp"]},"examples":{"response":{"value":"<?xml version=\"1.0\" ?>\n<response>\n  <status_code>0</status_code>\n  <status>Success</status>\n  <processing_time>1.001</processing_time>\n  <response_data>\n      <installment_status_details>\n          <installment_status_detail>\n              <installment_status>Paid</installment_status>\n              <installment_paid_date>2022-11-10</installment_paid_date>\n              <amort_installment_number>1</amort_installment_number>\n              <amort_payment_due_date>2022-11-10</amort_payment_due_date>\n              <amort_payment_amount></amort_payment_amount>\n              <hist_payment_balance>0</hist_payment_balance>\n          </installment_status_detail>\n          <installment_status_detail>\n              <installment_status>Scheduled</installment_status>\n              <installment_paid_date></installment_paid_date>\n              <amort_installment_number>2</amort_installment_number>\n              <amort_payment_due_date>2022-11-24</amort_payment_due_date>\n              <amort_payment_amount>125</amort_payment_amount>\n              <hist_payment_balance>50</hist_payment_balance>\n          </installment_status_detail>\n          <installment_status_detail>\n              <installment_status>Scheduled</installment_status>\n              <installment_paid_date></installment_paid_date>\n              <amort_installment_number>3</amort_installment_number>\n              <amort_payment_due_date>2022-12-08</amort_payment_due_date>\n              <amort_payment_amount>125</amort_payment_amount>\n              <hist_payment_balance>125</hist_payment_balance>\n          </installment_status_detail>\n          <installment_status_detail>\n              <installment_status>Scheduled</installment_status>\n              <installment_paid_date></installment_paid_date>\n              <amort_installment_number>4</amort_installment_number>\n              <amort_payment_due_date>2022-12-22</amort_payment_due_date>\n              <amort_payment_amount>125</amort_payment_amount>\n              <hist_payment_balance>125</hist_payment_balance>\n          </installment_status_detail>\n      </installment_status_details>\n  </response_data>\n  <echo>\n    <provider_transaction_id/>\n    <provider_timestamp/>\n    <transaction_id>12312234</transaction_id>\n  </echo>\n  <rtoken>ccb3951a-7d20-4c4c-907f-7b74ec747e9d</rtoken>\n  <system_timestamp>2022-11-10 13:56:15</system_timestamp>\n</response>\n"}}}}}}},"parameters":[{"$ref":"#/components/parameters/ResponseContentTypeHeaderParam"}]},"/1.0/createSMBLoan":{"post":{"tags":["Loan"],"summary":"Create SMB Loan","description":"Use the Create SMB Loan endpoint to create a small and midsize business (SMB) installment loan for a customer. Loan subproducts are configured for your installment loans product and are assigned a subproduct ID. Ensure you have the required <a href=\"doc:setup-for-installment-loans#manage-customer-records\" target=\"_blank\">customer data</a> to create a loan. \n\nFor optional parameters, do not pass an empty string or null value.","operationId":"lending_post_createSMBLoan","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"required":["address1","capitalTerm","city","countryCode","customerPmtRefNo","disbursementDestinationType","loanTerm","ownerId","postalCode","state","subProductId","taxId","taxIdType","transactionId","apiLogin","apiTransKey","providerId"],"type":"object","properties":{"apiLogin":{"type":"string","description":"Provider's web service username, as provided by Galileo for the requesting IP address.\nPattern: Max 50 characters\nExample: `\"AbC123-9999\"`","default":"AbC123-9999"},"apiTransKey":{"type":"string","description":"Web service password, as provided by Galileo for the requesting IP address.\nPattern: Max 15 characters\nExample: `\"4sb62fh6w4h7w34g\"`","default":"4sb62fh6w4h7w34g"},"providerId":{"type":"integer","format":"int32","description":"Galileo-issued unique provider identifier.\nPattern: Max 10 digits\nExample: `9999`","default":9999},"transactionId":{"type":"string","maxLength":60,"minLength":1,"description":"A provider-generated ID that is unique to each API call. A UUID is preferred. Do not reuse this identifier for multiple API calls.\nPattern: Max 60 characters\nExample: `\"984513-395483653-4483483478\"`","default":"984513-395483653-4483483478"},"providerTransactionId":{"type":"string","description":"An optional provider-generated ID for the API request.\nPattern: Max 60 characters\nExample: `\"47823438032233777\"`"},"providerTimestamp":{"type":"string","description":"An optional provider-generated timestamp for the API request.\nPattern: Max 60 characters\nExample: `\"2017-05-01 13:01:01\"`"},"customerPmtRefNo":{"title":"customerPmtRefNo","pattern":"^([0-9]{12}|[0-9]{16})$","type":"string","description":"PRN for the customer’s primary account. Galileo uses the PRN to retrieve customer information, like business name, date of birth, SSN, address, etc. When the loan is created, the `loan_id` will be associated with this PRN. \nPattern: PRN\nExample: `\"074103447228\"`.","default":"909675440"},"subProductId":{"title":"subProductId","maxLength":15,"minLength":1,"type":"string","description":"Identifier for the loan subproduct.\nPattern: Max 15 characters.\nExample: `\"442824720\"`.","default":"442824720"},"simulationId":{"title":"simulationId","maxLength":30,"minLength":1,"type":"string","description":"Unique identifier associated with each loan simulation returned by the Simulate Loan endpoint. Required when creating a loan from a simulation. Do not pass the following fields when the simulationId is provided: `totalLoanAmount`, `loanTerm`, and `capitalTerm`.\nPattern: Max 9 characters.\nExample: `\"450825953\"`."},"taxIdType":{"title":"taxIdType","type":"string","description":"Identifies whether the tax ID is Employer Identification Number (EIN), Social Security Number (SSN), or an Individual Taxpayer Identification Number (ITIN). \nPattern: EIN, SSN, ITIN.\nExample: `\"EIN\"`.","enum":["EIN","ITIN","SSN"],"default":"EIN"},"taxId":{"title":"taxId","pattern":"^[0-9]{9}$","type":"string","description":"Loan applicant’s 9 digit taxpayer identification number.\nPattern: Exactly 9 digits, no hyphens or other characters.\nExample: `\"222554444\"`.","default":"222554444"},"ownerId":{"title":"ownerId","pattern":"^[a-zA-Z0-9]{1,30}$","type":"string","description":"Indicates the ownership of the loan assets.\nPattern: Max 30 characters.\nExample: `\"845dk-39fdk3fj3-4483483478\"`.","default":"9845dk-39fdk3fj3-4483483478"},"phone":{"title":"phone","maxLength":10,"minLength":10,"type":"string","description":"Loan applicant’s phone number.\nPattern: Exactly 10 digits, no hyphens or other characters.\nExample: `\"1115553333\"`."},"email":{"title":"email","maxLength":63,"minLength":3,"type":"string","description":"Loan applicant’s email address.\nPattern: Email address, 3–63 characters.\nExample: `\"user@fakedomain.com\"`."},"address1":{"title":"address1","maxLength":40,"minLength":4,"type":"string","description":"Loan applicant’s first address line. Cannot be a P.O. box. [Validation rules for address1](ref:api-reference-address1-validation). \nPattern: 4–40 alphanumeric characters.\nExample: `\"33 Maple Street\"`.","default":"33 Maple Street"},"address2":{"title":"address2","maxLength":30,"minLength":1,"type":"string","description":"Loan applicant’s second address line.\nPattern: Max 30 characters.\nExample: `\"#4B\"`."},"city":{"title":"city","maxLength":30,"minLength":1,"type":"string","description":"Loan applicant’s city.\nPattern: Max 30 characters: letters, spaces, hyphen and period.\nExample: `\"Salt Lake City\"`.","default":"Salt Lake City"},"state":{"title":"state","maxLength":2,"minLength":2,"type":"string","description":"Loan applicant’s state or province.\nPattern: 2-character state or province abbreviation.\nExample: `\"UT\"`.","default":"UT"},"postalCode":{"title":"postalCode","maxLength":10,"minLength":5,"pattern":"^[a-zA-Z0-9\\-\\ ]*$","type":"string","description":"Loan applicant’s postal code (ZIP code).\nPattern: Min 5 characters and max 10 characters (12345, 12345-1234, or K1A-1A1).\nExample: `\"84121\"`.","default":"84121"},"countryCode":{"title":"countryCode","type":"string","description":"Loan applicant’s country. Three-digit UN M49 country code. Currently the only allowed value is 840 for the USA.\nPattern: 3-digit country code.","enum":["840"],"default":"840"},"disbursementDestinationType":{"title":"disbursementDestinationType","type":"string","description":"Indicates whether the loan is disbursed to a Galileo DDA or an external account. \nPattern: `DDA` or `EXTERNAL`.\nExample: `\"DDA\"`.","default":"DDA"},"disbursementDestinationPrn":{"title":"disbursementDestinationPrn","type":"string","description":"PRN for the card account where funds for the loan will be disbursed. This field is required for `disbursementDestinationType`: `DDA`.\nPattern: 12-digit PRN. \nExample: `\"074103447228\"`."},"applicationNumber":{"title":"applicationNumber","maxLength":100,"minLength":1,"type":"string","description":"Unique identifier that you generate for the loan application. This identifier is associated with loan simulations. You can give this identifier to customers for customer service purposes."},"totalLoanAmount":{"title":"totalLoanAmount","maximum":99999999999999.98,"exclusiveMaximum":false,"minimum":0.01,"exclusiveMinimum":false,"type":"number","description":"Total amount for the loan.\nPattern: Decimal number (14,2).\nExample: `\"700.00\"`."},"loanTerm":{"title":"loanTerm","maximum":999999999,"minimum":1,"type":"integer","description":"Number of installments to pay off the loan. \nPattern: Min 1 characters and max 9 characters.\nExample: 4.","format":"int32","default":4},"capitalTerm":{"title":"capitalTerm","maximum":999999999,"minimum":1,"type":"integer","description":"Length of time between payments, in units specified by the subproduct. For example, if you specify “2” and the loan subproduct is set to weeks then installments will be due every two weeks.\nPattern: Max 9 digits.\nExample: `2`.","format":"int32","default":2},"loanStartDate":{"title":"loanStartDate","pattern":"yyyy-MM-dd","type":"string","description":"Start date for the loan. This may be different from `loan_creation_date`.","format":"date"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"status_code":{"type":"integer","format":"int32","nullable":true,"description":"The response status code. May return a string for some statuses."},"status":{"type":"string","nullable":true,"description":"The condition of a process or response"},"processing_time":{"type":"number","format":"float","nullable":true,"description":"The time elapsed in processing the transaction"},"echo":{"nullable":true,"description":"A structure that contains transaction ID information","type":"object","properties":{"transaction_id":{"type":"string","nullable":true,"description":"An ID that represents an API transaction"},"provider_timestamp":{"type":"string","format":"date-time","nullable":true,"description":"Store a related timestamp for reporting and troubleshooting purposes"},"provider_transaction_id":{"type":"string","nullable":true,"description":"Secondary transaction identifier (generated by a provider)"}},"required":["provider_timestamp","provider_transaction_id","transaction_id"]},"system_timestamp":{"type":"string","format":"date-time","nullable":true,"description":"A system generated timestamp"},"rtoken":{"type":"string","nullable":true,"description":"A Galileo-generated ID used for tracking"},"errors":{"type":"array","description":"A list of errors generated while the request was processed","items":{"type":"string"}},"response_data":{"nullable":true,"type":"object","description":"A structure for the response data. It can be empty but usually will contain information.","required":["amortization_schedules","application_number","count_of_installments","first_installment_due_date","initial_projected_maturity_date","installment_amount","late_fee","loan_apr","loan_creation_date","loan_id","loan_start_date","origination_fee","rate_type"],"properties":{"loan_id":{"title":"loan_id","type":"string","description":"Unique identifier for the loan, returned by the Create Loan endpoint in the `loan_id` field.\nPattern: Max 30 characters\nExample: `\"450825953\"`.","example":"450825953"},"loan_apr":{"title":"loan_apr","type":"number","description":"Annual percentage rate for interest charged on the loan. Calculated from the interest defined by the subproduct, the length of the loan, the origination fee (if applicable) and other fees (if applicable).","example":15},"loan_creation_date":{"title":"loan_creation_date","pattern":"yyyy-MM-dd","type":"string","description":"Date that the loan was created. This may be different from `loan_start_date`.","format":"date"},"rate_type":{"title":"rate_type","type":"string","description":"Indicates whether the interest type is FIXED or VARIABLE.","example":"FIXED","enum":["fixed","variable"]},"origination_fee":{"title":"origination_fee","type":"number","description":"Fee charged at loan creation. Returns 0 if there is no origination fee.","example":0},"late_fee":{"title":"late_fee","type":"number","description":"Late fee for the loan.","example":5},"initial_projected_maturity_date":{"title":"initial_projected_maturity_date","pattern":"yyyy-MM-dd","type":"string","description":"Projected date when the loan will be paid off. This date is calculated only when a loan is simulated or created and cannot be sent again.","format":"date","example":"2022-07-01"},"application_number":{"title":"application_number","type":"string","description":"Unique identifier that you generate for the loan application. This identifier is associated with loan simulations. You can give this identifier to customers for customer service purposes.","example":"589841564"},"itemization_of_amount_financed":{"title":"itemization_of_amount_financed","required":["disbursed_amount","loan_amount","projected_fees_amount","projected_interest_amount"],"type":"object","properties":{"loan_amount":{"title":"loan_amount","type":"number","description":"Total loan amount borrowed by the customer. This is the sum of the `disbursed_amount`, `origination_fee`, and any other fees associated with the loan.","example":10000},"disbursed_amount":{"title":"disbursed_amount","type":"number","description":"Total loan amount disbursed to the customer.","example":10000},"projected_interest_amount":{"title":"projected_interest_amount","type":"number","description":"The total interest amount the borrower will be paying.","example":10},"projected_fees_amount":{"title":"projected_fees_amount","type":"number","description":"Total fees that the customer is projected to pay over the course of the loan.","example":10}}},"amortization_schedules":{"title":"amortization_schedules","type":"array","items":{"required":["amort_installment_number","amort_payment_amount","amort_payment_balance","amort_payment_due_date","amort_payment_fees","amort_payment_interest","amort_payment_principal"],"type":"object","properties":{"amort_installment_number":{"title":"amort_installment_number","type":"integer","description":"The number of the installment.","format":"int32","example":1},"amort_payment_due_date":{"title":"amort_payment_due_date","pattern":"yyyy-MM
[...]
