{
  "openapi": "3.0.2",
  "info": {
    "contact": {
      "email": "support@tyro.com",
      "name": "Tyro",
      "url": "https://tyro.com/"
    },
    "version": "1.22.0.0",
    "title": "Tyro Banking API",
    "description": "Tyro Banking API enables third parties to access information about our banking products and services as well as Consumers to provide consent to share their Customer, Account and Transaction information.<br /><br />\nThe API is designed and documented in OpenAPI format and in accordance with the <a href=\"https://consumerdatastandardsaustralia.github.io/standards/\">Australian Consumer Data Standards</a>.\n"
  },
  "tags": [
    {
      "name": "Banking Accounts",
      "description": "Accounts Related APIs"
    },
    {
      "name": "Banking Balances",
      "description": "Account Balance Related APIs"
    },
    {
      "name": "Customer",
      "description": "Customer Related APIs"
    },
    {
      "name": "Discovery",
      "description": "Discovery Related APIs"
    },
    {
      "name": "Banking Products",
      "description": "Product Related APIs"
    },
    {
      "name": "Transactions",
      "description": "Transactions Related APIs"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Product APIs",
      "tags": [
        "Banking Products"
      ]
    },
    {
      "name": "Banking APIs",
      "tags": [
        "Banking Accounts",
        "Banking Balances",
        "Transactions"
      ]
    },
    {
      "name": "Common APIs",
      "tags": [
        "Customer",
        "Discovery"
      ]
    }
  ],
  "servers": [
    {
      "url": "https://public.cdr.tyro.com/cds-au/v1"
    },
    {
      "url": "https://api.cdr.tyro.com/cds-au/v1"
    }
  ],
  "paths": {
    "/banking/accounts": {
      "get": {
        "summary": "Get Accounts",
        "description": "Obtain a list of accounts",
        "operationId": "listBankingAccounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/QueryProductCategory"
          },
          {
            "$ref": "#/components/parameters/QueryAccountOpenStatus"
          },
          {
            "$ref": "#/components/parameters/QueryAccountIsOwned"
          },
          {
            "$ref": "#/components/parameters/QueryPage"
          },
          {
            "$ref": "#/components/parameters/QueryPageSize"
          },
          {
            "$ref": "#/components/parameters/HeaderXV"
          },
          {
            "$ref": "#/components/parameters/HeaderXMinV"
          },
          {
            "$ref": "#/components/parameters/HeaderXFapiInteractionId"
          },
          {
            "$ref": "#/components/parameters/HeaderXFAPIAuthDate"
          },
          {
            "$ref": "#/components/parameters/HeaderXFAPICustomerIPAddress"
          },
          {
            "$ref": "#/components/parameters/HeaderXCDSClientHeaders"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListBankingAccounts"
          },
          "400": {
            "$ref": "#/components/responses/ListBankingAccounts400"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "406": {
            "$ref": "#/components/responses/ListBankingAccounts406"
          },
          "422": {
            "$ref": "#/components/responses/ListBankingAccounts422"
          },
          "500": {
            "$ref": "#/components/responses/Generic500"
          },
          "503": {
            "$ref": "#/components/responses/Generic503"
          }
        },
        "tags": [
          "Banking Accounts"
        ],
        "security": [
          {
            "CDRAuth": [
              "bank:accounts.basic:read"
            ]
          }
        ],
        "x-version": "2"
      }
    },
    "/banking/accounts/balances": {
      "get": {
        "description": "Obtain balances for multiple, filtered accounts",
        "operationId": "listBankingBalancesBulk",
        "parameters": [
          {
            "$ref": "#/components/parameters/QueryProductCategory"
          },
          {
            "$ref": "#/components/parameters/QueryAccountOpenStatus"
          },
          {
            "$ref": "#/components/parameters/QueryAccountIsOwned"
          },
          {
            "$ref": "#/components/parameters/QueryPage"
          },
          {
            "$ref": "#/components/parameters/QueryPageSize"
          },
          {
            "$ref": "#/components/parameters/HeaderXV"
          },
          {
            "$ref": "#/components/parameters/HeaderXMinV"
          },
          {
            "$ref": "#/components/parameters/HeaderXFapiInteractionId"
          },
          {
            "$ref": "#/components/parameters/HeaderXFAPIAuthDate"
          },
          {
            "$ref": "#/components/parameters/HeaderXFAPICustomerIPAddress"
          },
          {
            "$ref": "#/components/parameters/HeaderXCDSClientHeaders"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListBalancesBulk"
          },
          "400": {
            "$ref": "#/components/responses/ListBalancesBulk400"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "406": {
            "$ref": "#/components/responses/ListBalancesBulk406"
          },
          "422": {
            "$ref": "#/components/responses/ListBalancesBulk422"
          },
          "500": {
            "$ref": "#/components/responses/Generic500"
          },
          "503": {
            "$ref": "#/components/responses/Generic503"
          }
        },
        "summary": "Get Bulk Balances",
        "tags": [
          "Banking Balances"
        ],
        "security": [
          {
            "CDRAuth": [
              "bank:accounts.basic:read"
            ]
          }
        ],
        "x-version": "1"
      },
      "post": {
        "description": "Obtain balances for a specified list of accounts",
        "operationId": "listBalancesSpecificBankingAccounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/QueryPage"
          },
          {
            "$ref": "#/components/parameters/QueryPageSize"
          },
          {
            "$ref": "#/components/parameters/HeaderXV"
          },
          {
            "$ref": "#/components/parameters/HeaderXMinV"
          },
          {
            "$ref": "#/components/parameters/HeaderXFapiInteractionId"
          },
          {
            "$ref": "#/components/parameters/HeaderXFAPIAuthDate"
          },
          {
            "$ref": "#/components/parameters/HeaderXFAPICustomerIPAddress"
          },
          {
            "$ref": "#/components/parameters/HeaderXCDSClientHeaders"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/RequestAccountIds"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListBalancesSpecificBankingAccounts"
          },
          "400": {
            "$ref": "#/components/responses/ListBalancesSpecificBankingAccounts400"
          },
          "406": {
            "$ref": "#/components/responses/ListBalancesSpecificBankingAccounts406"
          },
          "422": {
            "$ref": "#/components/responses/ListBalancesSpecificBankingAccounts422"
          },
          "500": {
            "$ref": "#/components/responses/Generic500"
          },
          "503": {
            "$ref": "#/components/responses/Generic503"
          }
        },
        "summary": "Get Balances For Specific Banking Accounts",
        "tags": [
          "Banking Balances"
        ],
        "security": [
          {
            "CDRAuth": [
              "bank:accounts.basic:read"
            ]
          }
        ],
        "x-version": "1"
      }
    },
    "/banking/accounts/{accountId}": {
      "get": {
        "description": "Obtain detailed information on a single account",
        "operationId": "getBankingAccountDetail",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathAccountId"
          },
          {
            "$ref": "#/components/parameters/HeaderXV"
          },
          {
            "$ref": "#/components/parameters/HeaderXMinV"
          },
          {
            "$ref": "#/components/parameters/HeaderXFapiInteractionId"
          },
          {
            "$ref": "#/components/parameters/HeaderXFAPIAuthDate"
          },
          {
            "$ref": "#/components/parameters/HeaderXFAPICustomerIPAddress"
          },
          {
            "$ref": "#/components/parameters/HeaderXCDSClientHeaders"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetAccountDetail"
          },
          "400": {
            "$ref": "#/components/responses/GetAccountDetail400"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "$ref": "#/components/responses/GetAccountDetail404"
          },
          "406": {
            "$ref": "#/components/responses/GetAccountDetail406"
          },
          "500": {
            "$ref": "#/components/responses/Generic500"
          },
          "503": {
            "$ref": "#/components/responses/Generic503"
          }
        },
        "summary": "Get Account Detail",
        "tags": [
          "Banking Accounts"
        ],
        "security": [
          {
            "CDRAuth": [
              "bank:accounts.detail:read"
            ]
          }
        ],
        "x-version": "3"
      }
    },
    "/banking/accounts/{accountId}/balance": {
      "get": {
        "description": "Obtain the balance for a single specified account",
        "operationId": "getBankingBalance",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathAccountId"
          },
          {
            "$ref": "#/components/parameters/HeaderXV"
          },
          {
            "$ref": "#/components/parameters/HeaderXMinV"
          },
          {
            "$ref": "#/components/parameters/HeaderXFapiInteractionId"
          },
          {
            "$ref": "#/components/parameters/HeaderXFAPIAuthDate"
          },
          {
            "$ref": "#/components/parameters/HeaderXFAPICustomerIPAddress"
          },
          {
            "$ref": "#/components/parameters/HeaderXCDSClientHeaders"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetBalance"
          },
          "400": {
            "$ref": "#/components/responses/GetBalance400"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "$ref": "#/components/responses/GetBalance404"
          },
          "406": {
            "$ref": "#/components/responses/GetBalance406"
          },
          "500": {
            "$ref": "#/components/responses/Generic500"
          },
          "503": {
            "$ref": "#/components/responses/Generic503"
          }
        },
        "summary": "Get Account Balance",
        "tags": [
          "Banking Balances"
        ],
        "security": [
          {
            "CDRAuth": [
              "bank:accounts.basic:read"
            ]
          }
        ],
        "x-version": "1"
      }
    },
    "/banking/accounts/{accountId}/transactions": {
      "get": {
        "description": "Obtain transactions for a specific account.\nSome general notes that apply to all end points that retrieve transactions:\n  - Where multiple transactions are returned, transactions should be ordered according to effective date in descending order\n  - As the date and time for a transaction can alter depending on status and transaction type two separate date/times are included in the payload. There are still some scenarios where neither of these time stamps is available. For the purpose of filtering and ordering it is expected that the data holder will use the \"effective\" date/time which will be defined as:\n    - Posted date/time if available, then\n    - Execution date/time if available, then\n    - A reasonable date/time nominated by the data holder using internal data structures\n  - For transaction amounts it should be assumed that a negative value indicates a reduction of the available balance on the account while a positive value indicates an increase in the available balance on the account\n  - For aggregated transactions (ie. groups of sub transactions reported as a single entry for the account) only the aggregated information, with as much consistent information across the subsidiary transactions as possible, is required to be shared",
        "operationId": "getTransactions",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathAccountId"
          },
          {
            "$ref": "#/components/parameters/QueryOldestDateTime"
          },
          {
            "$ref": "#/components/parameters/QueryNewestDateTime"
          },
          {
            "$ref": "#/components/parameters/QueryMinAmount"
          },
          {
            "$ref": "#/components/parameters/QueryMaxAmount"
          },
          {
            "$ref": "#/components/parameters/QueryTransactionText"
          },
          {
            "$ref": "#/components/parameters/QueryPage"
          },
          {
            "$ref": "#/components/parameters/QueryPageSize"
          },
          {
            "$ref": "#/components/parameters/HeaderXV"
          },
          {
            "$ref": "#/components/parameters/HeaderXMinV"
          },
          {
            "$ref": "#/components/parameters/HeaderXFapiInteractionId"
          },
          {
            "$ref": "#/components/parameters/HeaderXFAPIAuthDate"
          },
          {
            "$ref": "#/components/parameters/HeaderXFAPICustomerIPAddress"
          },
          {
            "$ref": "#/components/parameters/HeaderXCDSClientHeaders"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetTransactions"
          },
          "400": {
            "$ref": "#/components/responses/GetTransactions400"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "$ref": "#/components/responses/GetTransactions404"
          },
          "406": {
            "$ref": "#/components/responses/GetTransactions406"
          },
          "422": {
            "$ref": "#/components/responses/GetTransactions422"
          },
          "500": {
            "$ref": "#/components/responses/Generic500"
          },
          "503": {
            "$ref": "#/components/responses/Generic503"
          }
        },
        "summary": "Get Transactions For Account",
        "tags": [
          "Transactions"
        ],
        "security": [
          {
            "CDRAuth": [
              "bank:transactions:read"
            ]
          }
        ],
        "x-version": "1"
      }
    },
    "/banking/accounts/{accountId}/transactions/{transactionId}": {
      "get": {
        "description": "Obtain detailed information on a transaction for a specific account",
        "operationId": "getTransactionDetail",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathAccountId"
          },
          {
            "$ref": "#/components/parameters/PathTransactionId"
          },
          {
            "$ref": "#/components/parameters/HeaderXV"
          },
          {
            "$ref": "#/components/parameters/HeaderXMinV"
          },
          {
            "$ref": "#/components/parameters/HeaderXFapiInteractionId"
          },
          {
            "$ref": "#/components/parameters/HeaderXFAPIAuthDate"
          },
          {
            "$ref": "#/components/parameters/HeaderXFAPICustomerIPAddress"
          },
          {
            "$ref": "#/components/parameters/HeaderXCDSClientHeaders"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetTransactionDetail"
          },
          "400": {
            "$ref": "#/components/responses/GetTransactionDetail400"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "$ref": "#/components/responses/GetTransactionDetail404"
          },
          "406": {
            "$ref": "#/components/responses/GetTransactionDetail406"
          },
          "500": {
            "$ref": "#/components/responses/Generic500"
          },
          "503": {
            "$ref": "#/components/responses/Generic503"
          }
        },
        "summary": "Get Transaction Detail",
        "tags": [
          "Transactions"
        ],
        "security": [
          {
            "CDRAuth": [
              "bank:transactions:read"
            ]
          }
        ],
        "x-version": "1"
      }
    },
    "/banking/products": {
      "get": {
        "description": "Obtain a list of products that are currently openly offered to the market\n\nNote that the results returned by this end point are expected to be ordered in descending order according to `lastUpdated`\n\n### Conventions\nIn the product reference payloads there are a number of recurring conventions that are explained here, in one place.\n\n#### Arrays Of Features\n\nIn the product detail payload there are a number of arrays articulating generic features, constraints, prices, etc. The intent of these arrays is as follows:\n\n- Each element in an array has the same structure so that clients can reliably interpret the payloads\n- Each element as a type element that is an enumeration of the specific aspect of a product being described, such as types of fees.\n- Each element has a field name [additionalValue](https://consumerdatastandardsaustralia.github.io/standards/#productfeaturetypedoc). This is a generic field with contents that will vary based on the type of object being described. The contents of this field for the ADDITIONAL_CARDS feature is the number of cards allowed while the contents of this field for the MAX_LIMIT constraint would be the maximum credit limit allowed for the product.\n- An element in these arrays of the same type may appear more than once. For instance, a product may offer two separate loyalty programs that the customer can select from. A fixed term mortgage may have different rates for different term lengths.\n- An element in these arrays may contain an additionalInfo and additionalInfoUri field. The additionalInfo field is used to provide displayable text clarifying the purpose of the element in some way when the product is presented to a customer. The additionalInfoUri provides a link to externally hosted information specifically relevant to that feature of the product.\n- Depending on the type of data being represented there may be additional specific fields.\n\n#### URIs To More Information\n\nAs the complexities and nuances of a financial product can not easily be fully expressed in a data structure without a high degree of complexity it is necessary to provide additional reference information that a potential customer can access so that they are fully informed of the features and implications of the product. The payloads for product reference therefore contain numerous fields that are provided to allow the product holder to describe the product more fully using a web page hosted on their online channels.\n\nThese URIs do not need to all link to different pages. If desired, they can all link to a single hosted page and use difference HTML anchors to focus on a specific topic such as eligibility or fees.\n\n#### Linkage To Accounts\nFrom the moment that a customer applies for a product and an account is created the account and the product that spawned it will diverge.  Rates and features of the product may change and a discount may be negotiated for the account.\n\nFor this reason, while productCategory is a common field between accounts and products, there is no specific ID that can be used to link an account to a product within the regime.\n\nSimilarly, many of the fields and objects in the product payload will appear in the account detail payload but the structures and semantics are not identical as one refers to a product that can potentially be originated and one refers to an account that actual has been instantiated and created along with the associated decisions inherent in that process.\n\n#### Dates\nIt is expected that data consumers needing this data will call relatively frequently to ensure the data they have is representative of the current offering from a bank.  To minimise the volume and frequency of these calls the ability to set a lastUpdated field with the date and time of the last update to this product is included.  A call for a list of products can then be filtered to only return products that have been updated since the last time that data was obtained using the updated-since query parameter.\n\nIn addition, the concept of effective date and time has also been included.  This allows for a product to be marked for obsolescence, or introduction, from a certain time without the need for an update to show that a product has been changed.  The inclusion of these dates also removes the need to represent deleted products in the payload.  Products that are no long offered can be marked not effective for a few weeks before they are then removed from the product set as an option entirely.",
        "operationId": "listBankingProducts",
        "parameters": [
          {
            "$ref": "#/components/parameters/QueryProductEffective"
          },
          {
            "$ref": "#/components/parameters/QueryUpdatedSince"
          },
          {
            "$ref": "#/components/parameters/QueryProductBrand"
          },
          {
            "$ref": "#/components/parameters/QueryProductCategory"
          },
          {
            "$ref": "#/components/parameters/QueryPage"
          },
          {
            "$ref": "#/components/parameters/QueryPageSize"
          },
          {
            "$ref": "#/components/parameters/HeaderXV"
          },
          {
            "$ref": "#/components/parameters/HeaderXMinV"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListProducts"
          },
          "400": {
            "$ref": "#/components/responses/ListProducts400"
          },
          "406": {
            "$ref": "#/components/responses/ListProducts406"
          },
          "422": {
            "$ref": "#/components/responses/ListProducts422"
          },
          "500": {
            "$ref": "#/components/responses/Generic500"
          },
          "503": {
            "$ref": "#/components/responses/Generic503"
          }
        },
        "summary": "Get Products",
        "security": [],
        "tags": [
          "Banking Products"
        ],
        "x-version": "3"
      }
    },
    "/banking/products/{productId}": {
      "get": {
        "description": "Obtain detailed information on a single product offered openly to the market.",
        "operationId": "getBankingProductDetail",
        "parameters": [
          {
            "$ref": "#/components/parameters/PathProductId"
          },
          {
            "$ref": "#/components/parameters/HeaderXV"
          },
          {
            "$ref": "#/components/parameters/HeaderXMinV"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetProductDetail"
          },
          "400": {
            "$ref": "#/components/responses/GetProductDetail400"
          },
          "404": {
            "$ref": "#/components/responses/GetProductDetail404"
          },
          "406": {
            "$ref": "#/components/responses/GetProductDetail406"
          },
          "500": {
            "$ref": "#/components/responses/Generic500"
          },
          "503": {
            "$ref": "#/components/responses/Generic503"
          }
        },
        "summary": "Get Product Detail",
        "security": [],
        "tags": [
          "Banking Products"
        ],
        "x-version": "4"
      }
    },
    "/common/customer": {
      "get": {
        "description": "Obtain basic information on the customer that has authorised the current session.\n*Conventions*\nIn the customer payloads relevant conventions are explained here, in one place.\n**Given Names** firstName represents the first of a person's given names middleNames represents a collection of given names if the person has more than one given name\nWhere a data holder holds a person's given names as a single string in source systems, it may not possible in some situations to reliably split these given names into their component first and middle names. In these situations, data holders MAY use the `firstName` field to return the single string of given names and an empty `middleNames` array.\nFor example, a person whose given names are \"John Paul Winston\" but the data holder cannot determine what is the first name, can return `\"firstName\": \"John Paul Winston\"`.",
        "operationId": "getCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/HeaderXV"
          },
          {
            "$ref": "#/components/parameters/HeaderXMinV"
          },
          {
            "$ref": "#/components/parameters/HeaderXFapiInteractionId"
          },
          {
            "$ref": "#/components/parameters/HeaderXFAPIAuthDate"
          },
          {
            "$ref": "#/components/parameters/HeaderXFAPICustomerIPAddress"
          },
          {
            "$ref": "#/components/parameters/HeaderXCDSClientHeaders"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCustomer"
          },
          "400": {
            "$ref": "#/components/responses/GetCustomer400"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "406": {
            "$ref": "#/components/responses/GetCustomer406"
          },
          "500": {
            "$ref": "#/components/responses/Generic500"
          },
          "503": {
            "$ref": "#/components/responses/Generic503"
          }
        },
        "summary": "Get Customer",
        "tags": [
          "Customer"
        ],
        "security": [
          {
            "CDRAuth": [
              "common:customer.basic:read"
            ]
          }
        ],
        "x-version": "1"
      }
    },
    "/common/customer/detail": {
      "get": {
        "description": "Obtain detailed information on the authorised customer within the current session.",
        "operationId": "getCustomerDetail",
        "parameters": [
          {
            "$ref": "#/components/parameters/HeaderXV"
          },
          {
            "$ref": "#/components/parameters/HeaderXMinV"
          },
          {
            "$ref": "#/components/parameters/HeaderXFapiInteractionId"
          },
          {
            "$ref": "#/components/parameters/HeaderXFAPIAuthDate"
          },
          {
            "$ref": "#/components/parameters/HeaderXFAPICustomerIPAddress"
          },
          {
            "$ref": "#/components/parameters/HeaderXCDSClientHeaders"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetCustomerDetail"
          },
          "400": {
            "$ref": "#/components/responses/GetCustomerDetail400"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "406": {
            "$ref": "#/components/responses/GetCustomerDetail406"
          },
          "500": {
            "$ref": "#/components/responses/Generic500"
          },
          "503": {
            "$ref": "#/components/responses/Generic503"
          }
        },
        "summary": "Get Customer Detail",
        "tags": [
          "Customer"
        ],
        "security": [
          {
            "CDRAuth": [
              "common:customer.detail:read"
            ]
          }
        ],
        "x-version": "2"
      }
    },
    "/discovery/outages": {
      "get": {
        "description": "Obtain a list of scheduled outages for the implementation",
        "operationId": "getOutages",
        "parameters": [
          {
            "$ref": "#/components/parameters/HeaderXV"
          },
          {
            "$ref": "#/components/parameters/HeaderXMinV"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetOutages"
          },
          "400": {
            "$ref": "#/components/responses/GetOutages400"
          },
          "406": {
            "$ref": "#/components/responses/GetOutages406"
          },
          "500": {
            "$ref": "#/components/responses/Generic500"
          },
          "503": {
            "$ref": "#/components/responses/Generic503"
          }
        },
        "summary": "Get Outages",
        "security": [],
        "tags": [
          "Discovery"
        ],
        "x-version": "1"
      }
    },
    "/discovery/status": {
      "get": {
        "description": "Obtain a health check status for the implementation",
        "operationId": "getStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/HeaderXV"
          },
          {
            "$ref": "#/components/parameters/HeaderXMinV"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetStatus"
          },
          "400": {
            "$ref": "#/components/responses/GetStatus400"
          },
          "406": {
            "$ref": "#/components/responses/GetStatus406"
          },
          "500": {
            "$ref": "#/components/responses/Generic500"
          },
          "503": {
            "$ref": "#/components/responses/Generic503"
          }
        },
        "summary": "Get Status",
        "security": [],
        "tags": [
          "Discovery"
        ],
        "x-version": "1"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "CDRAuth": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://auth.cdr.tyro.com/tyro-auth/authorize",
            "tokenUrl": "https://secure-auth.cdr.tyro.com/tyro-auth/token",
            "scopes": {
              "bank:accounts.basic:read": "Basic Bank Account Data",
              "bank:accounts.detail:read": "Detailed Bank Account Data",
              "bank:transactions:read": "Bank Transaction Data",
              "common:customer.basic:read": "Basic Customer Data",
              "common:customer.detail:read": "Detailed Customer Data"
            }
          }
        }
      }
    },
    "schemas": {
      "EnumBankingProductCategoryV1": {
        "description": "\nThe Product Category enumeration lists the available product categories for categorising products and accounts. These are explained in the following tables:\n\n**Deposit Products**\n\n| Enum | Description\n|------|------------|\n| TRANS_AND_SAVINGS_ACCOUNTS | This grouping of products includes all accounts where cash is deposited in the account and is accessible to the customer when they choose. These are given many names on the market including Cash Accounts, Saving Accounts, Transaction Accounts, Current Accounts, Cheque Accounts, Passbook Accounts, etc... |\n| TERM_DEPOSITS              | This grouping of products includes all accounts where cash is deposited in the account for a set time period with restrictions on when funds can be withdrawn. Includes traditional Term Deposits and specialised deposits with either fixed terms or notice periods for withdrawal of funds. |\n| TRAVEL_CARDS               | This grouping of products includes prepaid cards with multi-currency capabilities.|\n| REGULATED_TRUST_ACCOUNTS   | This grouping of products includes accounts were funds are held in trust in regulated industries with complex rules embedded on how the products must operate. Industries that require this sort of product include real estate agents, solicitors and conveyancers. |\n\n**Lending Products**\n\n|Enum|Description|\n|----|-----------|\n|BUSINESS_LOANS|This grouping of products incorporates all types of lending for business purpose that is not a trade finance facility, lease, overdraft, residential mortgage, credit card or margin lending. It includes traditional term loans, bank guarantees and commercial bills. This category would incorporate both secured and unsecured business purpose lending including all business purpose equipment finance that is not covered by a lease.|\n|CRED_AND_CHRG_CARDS|This grouping of products includes all lending products that are issued for the purpose of allowing a flexible line of credit accessed through use of a card. These may be called various names including Credit Cards, Charge Cards and Store Cards.|\n|LEASES|This grouping of products will include all types of leases including Financial Lease, Operating Lease, Sale and leaseback, etc...|\n|MARGIN_LOANS|This grouping of products includes all types of margin loans which let you borrow money to invest in traded assets including shares & commodities or in managed funds.|\n|OVERDRAFTS|This grouping of products includes all types of lending which allows for the loan amount to be withdrawn, repaid, and redrawn again in any manner and any number of times, until the arrangement expires. These loans may be secured or unsecured, and generally don’t have set / minimum repayment requirements.|\n|PERS_LOANS|This grouping of products includes all lending for personal purposes that is not a residential mortgage, credit card or margin lending. These loans may be unsecured loans and term loans for purchase assets used as security such as motor vehicles. These may be called various names including Personal Loans and Car Loans.|\n|RESIDENTIAL_MORTGAGES|This grouping of products includes all lending products that are available for the primary purpose of borrowing for the purpose of purchasing or renovating residential property, where a residential property will be used as security. This group will include both fixed, variable & secured overdraft types of product and may include both owner-occupied and investment purpose borrowing.|\n|TRADE_FINANCE | This grouping of products includes specialised lending products specifically designed to facilitate domestic & international trade. This includes the issuance of letters of credit, factoring, export credit.\n\n",
        "enum": [
          "BUSINESS_LOANS",
          "CRED_AND_CHRG_CARDS",
          "LEASES",
          "MARGIN_LOANS",
          "OVERDRAFTS",
          "PERS_LOANS",
          "REGULATED_TRUST_ACCOUNTS",
          "RESIDENTIAL_MORTGAGES",
          "TERM_DEPOSITS",
          "TRADE_FINANCE",
          "TRANS_AND_SAVINGS_ACCOUNTS",
          "TRAVEL_CARDS"
        ],
        "type": "string",
        "example": "TRANS_AND_SAVINGS_ACCOUNTS"
      },
      "EnumAccountOpenStatusWithAllV1": {
        "description": "Account Open Status with ALL",
        "default": "ALL",
        "enum": [
          "ALL",
          "CLOSED",
          "OPEN"
        ],
        "type": "string"
      },
      "EnumBankingAccountOpenStatusV1": {
        "default": "OPEN",
        "description": "Open or closed status for the account. If not present then OPEN is assumed",
        "enum": [
          "CLOSED",
          "OPEN"
        ],
        "type": "string",
        "example": "OPEN"
      },
      "BankingAccountV1": {
        "properties": {
          "accountId": {
            "description": "A unique ID of the account adhering to the standards for ID permanence",
            "type": "string",
            "example": "jdnmwucgrchzngrqieryhiovpvzknokkwsediggdlnxgxizegvwpwfflgavkrbay"
          },
          "creationDate": {
            "description": "Date that the account was created (if known)",
            "type": "string",
            "format": "date",
            "x-cds-type": "DateString",
            "example": "2020-03-01"
          },
          "displayName": {
            "description": "The display name of the account as defined by the bank. This should not incorporate account numbers or PANs. If it does the values should be masked according to the rules of the MaskedAccountString common type.",
            "type": "string",
            "example": "ACME Savings Account"
          },
          "isOwned": {
            "default": true,
            "description": "Flag indicating that the customer associated with the authorisation is an owner of the account. Does not indicate sole ownership, however. If not present then 'true' is assumed",
            "type": "boolean",
            "example": true
          },
          "maskedNumber": {
            "description": "A masked version of the account. Whether BSB/Account Number, Credit Card PAN or another number",
            "type": "string",
            "x-cds-type": "MaskedAccountString",
            "example": "XXXX-XXXX-XXXX-1234"
          },
          "nickname": {
            "description": "A customer supplied nick name for the account",
            "type": "string",
            "example": "Holiday Fund"
          },
          "openStatus": {
            "$ref": "#/components/schemas/EnumBankingAccountOpenStatusV1"
          },
          "productCategory": {
            "$ref": "#/components/schemas/EnumBankingProductCategoryV1"
          },
          "productName": {
            "description": "The unique identifier of the account as defined by the data holder (akin to model number for the account)",
            "type": "string",
            "example": "ACME Savings Maximiser"
          }
        },
        "required": [
          "accountId",
          "displayName",
          "maskedNumber",
          "productCategory",
          "productName"
        ],
        "type": "object"
      },
      "LinksPaginatedV1": {
        "properties": {
          "first": {
            "description": "URI to the first page of this set. Mandatory if this response is not the first page",
            "type": "string",
            "format": "uri",
            "x-cds-type": "URIString",
            "example": "https://api.bank.com.au/cds-au/v1/endpoint/path?page=1&page-size=25"
          },
          "last": {
            "description": "URI to the last page of this set. Mandatory if this response is not the last page",
            "type": "string",
            "format": "uri",
            "x-cds-type": "URIString",
            "example": "https://api.bank.com.au/cds-au/v1/endpoint/path?page=5&page-size=25"
          },
          "next": {
            "description": "URI to the next page of this set. Mandatory if this response is not the last page",
            "type": "string",
            "format": "uri",
            "x-cds-type": "URIString",
            "example": "https://api.bank.com.au/cds-au/v1/endpoint/path?page=4&page-size=25"
          },
          "prev": {
            "description": "URI to the previous page of this set. Mandatory if this response is not the first page",
            "type": "string",
            "format": "uri",
            "x-cds-type": "URIString",
            "example": "https://api.bank.com.au/cds-au/v1/endpoint/path?page=2&page-size=25"
          },
          "self": {
            "description": "Fully qualified link that generated the current response document",
            "type": "string",
            "format": "uri",
            "x-cds-type": "URIString",
            "example": "https://api.bank.com.au/cds-au/v1/endpoint/path?page=3&page-size=25"
          }
        },
        "required": [
          "self"
        ],
        "type": "object",
        "x-conditional": [
          "prev",
          "next",
          "first",
          "last"
        ]
      },
      "MetaPaginatedV1": {
        "properties": {
          "totalPages": {
            "description": "The total number of pages in the full set. See [pagination](https://consumerdatastandardsaustralia.github.io/standards/#pagination).",
            "type": "integer",
            "x-cds-type": "NaturalNumber",
            "minimum": 0,
            "example": 1
          },
          "totalRecords": {
            "description": "The total number of records in the full set. See [pagination](https://consumerdatastandardsaustralia.github.io/standards/#pagination).",
            "type": "integer",
            "x-cds-type": "NaturalNumber",
            "minimum": 0,
            "example": 20
          }
        },
        "required": [
          "totalPages",
          "totalRecords"
        ],
        "type": "object"
      },
      "ResponseBankingAccountListV1": {
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "accounts": {
                "description": "The list of accounts returned. If the filter results in an empty set then this array may have no records",
                "items": {
                  "$ref": "#/components/schemas/BankingAccountV1"
                },
                "type": "array"
              }
            },
            "required": [
              "accounts"
            ]
          },
          "links": {
            "$ref": "#/components/schemas/LinksPaginatedV1"
          },
          "meta": {
            "$ref": "#/components/schemas/MetaPaginatedV1"
          }
        },
        "required": [
          "data",
          "links",
          "meta"
        ],
        "type": "object"
      },
      "EnumBankingAccountOwnershipV1": {
        "description": "Value indicating the number of customers that have ownership of the account, according to the data holder's definition of account ownership. Does not indicate that all account owners are eligible consumers",
        "enum": [
          "UNKNOWN",
          "ONE_PARTY",
          "TWO_PARTY",
          "MANY_PARTY",
          "OTHER"
        ],
        "type": "string",
        "example": "UNKNOWN"
      },
      "BankingAccountV2": {
        "properties": {
          "accountId": {
            "description": "A unique ID of the account adhering to the standards for ID permanence",
            "type": "string",
            "example": "jdnmwucgrchzngrqieryhiovpvzknokkwsediggdlnxgxizegvwpwfflgavkrbay"
          },
          "creationDate": {
            "description": "Date that the account was created (if known)",
            "type": "string",
            "format": "date",
            "x-cds-type": "DateString",
            "example": "2020-03-01"
          },
          "displayName": {
            "description": "The display name of the account as defined by the bank. This should not incorporate account numbers or PANs. If it does the values should be masked according to the rules of the MaskedAccountString common type.",
            "type": "string",
            "example": "ACME Savings Account"
          },
          "isOwned": {
            "default": true,
            "description": "Flag indicating that the customer associated with the authorisation is an owner of the account. Does not indicate sole ownership, however. If not present then 'true' is assumed",
            "type": "boolean",
            "example": true
          },
          "accountOwnership": {
            "$ref": "#/components/schemas/EnumBankingAccountOwnershipV1"
          },
          "maskedNumber": {
            "description": "A masked version of the account. Whether BSB/Account Number, Credit Card PAN or another number",
            "type": "string",
            "x-cds-type": "MaskedAccountString",
            "example": "XXXX-XXXX-XXXX-1234"
          },
          "nickname": {
            "description": "A customer supplied nick name for the account",
            "type": "string",
            "example": "Holiday Fund"
          },
          "openStatus": {
            "$ref": "#/components/schemas/EnumBankingAccountOpenStatusV1"
          },
          "productCategory": {
            "$ref": "#/components/schemas/EnumBankingProductCategoryV1"
          },
          "productName": {
            "description": "The unique identifier of the account as defined by the data holder (akin to model number for the account)",
            "type": "string",
            "example": "ACME Savings Maximiser"
          }
        },
        "required": [
          "accountId",
          "accountOwnership",
          "displayName",
          "maskedNumber",
          "productCategory",
          "productName"
        ],
        "type": "object"
      },
      "ResponseBankingAccountListV2": {
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "accounts": {
                "description": "The list of accounts returned. If the filter results in an empty set then this array may have no records",
                "items": {
                  "$ref": "#/components/schemas/BankingAccountV2"
                },
                "type": "array"
              }
            },
            "required": [
              "accounts"
            ]
          },
          "links": {
            "$ref": "#/components/schemas/LinksPaginatedV1"
          },
          "meta": {
            "$ref": "#/components/schemas/MetaPaginatedV1"
          }
        },
        "required": [
          "data",
          "links",
          "meta"
        ],
        "type": "object"
      },
      "ErrorFieldInvalidV1": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Holds an end point specific error code. This MAY be a standard CDR error code or an application-specific error code.",
            "type": "string",
            "format": "uri",
            "x-cds-type": "URIString",
            "default": "urn:au-cds:error:cds-all:Field/Invalid"
          },
          "title": {
            "description": "Holds a human readable label of the error that is constant per code",
            "type": "string",
            "default": "Invalid Field"
          },
          "detail": {
            "description": "Holds a human readable description of this specific error. The error detail SHOULD be the parameter name of the invalid field. The error detail MAY include further details explaining the valid format.",
            "type": "string",
            "example": "Invalid format supplied for fieldName"
          },
          "meta": {
            "description": "Holds additional end point specific data relevant to the error",
            "properties": {
              "urn": {
                "description": "Holds a standard CDR error code",
                "type": "string",
                "format": "uri",
                "x-cds-type": "URIString",
                "default": "urn:au-cds:error:cds-all:Field/Invalid"
              }
            },
            "type": "object"
          }
        },
        "required": [
          "code",
          "title",
          "detail"
        ]
      },
      "ErrorFieldInvalidPageSizeV1": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Holds an end point specific error code. This MAY be a standard CDR error code or an application-specific error code.",
            "type": "string",
            "format": "uri",
            "x-cds-type": "URIString",
            "default": "urn:au-cds:error:cds-all:Field/InvalidPageSize"
          },
          "title": {
            "description": "Holds a human readable label of the error that is constant per code",
            "type": "string",
            "default": "Invalid Page Size"
          },
          "detail": {
            "description": "Holds a human readable description of this specific error.",
            "type": "string",
            "example": "Invalid Page Size Field"
          },
          "meta": {
            "description": "Holds additional end point specific data relevant to the error",
            "properties": {
              "urn": {
                "description": "Holds a standard CDR error code",
                "type": "string",
                "format": "uri",
                "x-cds-type": "URIString",
                "default": "urn:au-cds:error:cds-all:Field/InvalidPageSize"
              }
            },
            "type": "object"
          }
        },
        "required": [
          "code",
          "title",
          "detail"
        ]
      },
      "ErrorHeaderInvalidVersionV1": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Holds an end point specific error code. This MAY be a standard CDR error code or an application-specific error code.",
            "type": "string",
            "format": "uri",
            "x-cds-type": "URIString",
            "default": "urn:au-cds:error:cds-all:Header/InvalidVersion"
          },
          "title": {
            "description": "Holds a human readable label of the error that is constant per code",
            "type": "string",
            "default": "Invalid Version"
          },
          "detail": {
            "description": "Holds a human readable description of this specific error.",
            "type": "string",
            "example": "Invalid Version specified"
          },
          "meta": {
            "description": "Holds additional end point specific data relevant to the error",
            "properties": {
              "urn": {
                "description": "Holds a standard CDR error code",
                "type": "string",
                "format": "uri",
                "x-cds-type": "URIString",
                "default": "urn:au-cds:error:cds-all:Header/InvalidVersion"
              }
            },
            "type": "object"
          }
        },
        "required": [
          "code",
          "title",
          "detail"
        ]
      },
      "ErrorGeneralExpectedV1": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Holds an end point specific error code. This MAY be a standard CDR error code or an application-specific error code.",
            "type": "string",
            "format": "uri",
            "x-cds-type": "URIString",
            "default": "urn:au-cds:error:cds-all:GeneralError/Expected"
          },
          "title": {
            "description": "Holds a human readable label of the error that is constant per code",
            "type": "string",
            "default": "Expected Error Encountered"
          },
          "detail": {
            "description": "Holds a human readable description of this specific error. The error detail SHOULD be populated with a meaningful error description, without revealing sensitive information.",
            "type": "string",
            "example": "General Expected error occurred"
          },
          "meta": {
            "description": "Holds additional end point specific data relevant to the error",
            "properties": {
              "urn": {
                "description": "Holds a standard CDR error code",
                "type": "string",
                "format": "uri",
                "x-cds-type": "URIString",
                "default": "urn:au-cds:error:cds-all:GeneralError/Expected"
              }
            },
            "type": "object"
          }
        },
        "required": [
          "code",
          "title",
          "detail"
        ]
      },
      "ErrorHeaderMissingV1": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Holds an end point specific error code. This MAY be a standard CDR error code or an application-specific error code.",
            "type": "string",
            "format": "uri",
            "x-cds-type": "URIString",
            "default": "urn:au-cds:error:cds-all:Header/Missing"
          },
          "title": {
            "description": "Holds a human readable label of the error that is constant per code",
            "type": "string",
            "default": "Missing Required Header"
          },
          "detail": {
            "description": "Holds a human readable description of this specific error. The error detail SHOULD be the HTTP header name.",
            "type": "string",
            "example": "Required header headerName is missing"
          },
          "meta": {
            "description": "Holds additional end point specific data relevant to the error",
            "properties": {
              "urn": {
                "description": "Holds a standard CDR error code",
                "type": "string",
                "format": "uri",
                "x-cds-type": "URIString",
                "default": "urn:au-cds:error:cds-all:Header/Missing"
              }
            },
            "type": "object"
          }
        },
        "required": [
          "code",
          "title",
          "detail"
        ]
      },
      "ErrorHeaderInvalidV1": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Holds an end point specific error code. This MAY be a standard CDR error code or an application-specific error code.",
            "type": "string",
            "format": "uri",
            "x-cds-type": "URIString",
            "default": "urn:au-cds:error:cds-all:Header/Invalid"
          },
          "title": {
            "description": "Holds a human readable label of the error that is constant per code",
            "type": "string",
            "default": "Invalid Header"
          },
          "detail": {
            "description": "Holds a human readable description of this specific error. The error detail SHOULD be the HTTP header name. The error detail MAY include further details explaining the valid format.",
            "type": "string",
            "example": "Supplied header headerName was invalid"
          },
          "meta": {
            "description": "Holds additional end point specific data relevant to the error",
            "properties": {
              "urn": {
                "description": "Holds a standard CDR error code",
                "type": "string",
                "format": "uri",
                "x-cds-type": "URIString",
                "default": "urn:au-cds:error:cds-all:Header/Invalid"
              }
            },
            "type": "object"
          }
        },
        "required": [
          "code",
          "title",
          "detail"
        ]
      },
      "ListBankingAccounts400Item": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ErrorFieldInvalidV1"
          },
          {
            "$ref": "#/components/schemas/ErrorFieldInvalidPageSizeV1"
          },
          {
            "$ref": "#/components/schemas/ErrorHeaderInvalidVersionV1"
          },
          {
            "$ref": "#/components/schemas/ErrorGeneralExpectedV1"
          },
          {
            "$ref": "#/components/schemas/ErrorHeaderMissingV1"
          },
          {
            "$ref": "#/components/schemas/ErrorHeaderInvalidV1"
          }
        ],
        "discriminator": {
          "propertyName": "code"
        }
      },
      "ErrorAuthorisationADRStatusNotActiveV1": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Holds an end point specific error code. This MAY be a standard CDR error code or an application-specific error code.",
            "type": "string",
            "format": "uri",
            "x-cds-type": "URIString",
            "default": "urn:au-cds:error:cds-all:Authorisation/AdrStatusNotActive"
          },
          "title": {
            "description": "Holds a human readable label of the error that is constant per code",
            "type": "string",
            "default": "ADR Status Is Not Active"
          },
          "detail": {
            "description": "Holds a human readable description of this specific error. The error detail SHOULD contain the current status of the ADR software product.",
            "type": "string",
            "example": "The ADR requesting this information is not Active"
          },
          "meta": {
            "description": "Holds additional end point specific data relevant to the error",
            "properties": {
              "urn": {
                "description": "Holds a standard CDR error code",
                "type": "string",
                "format": "uri",
                "x-cds-type": "URIString",
                "default": "urn:au-cds:error:cds-all:Authorisation/AdrStatusNotActive"
              }
            },
            "type": "object"
          }
        },
        "required": [
          "code",
          "title",
          "detail"
        ]
      },
      "ErrorAuthorisationConsentRevokedV1": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Holds an end point specific error code. This MAY be a standard CDR error code or an application-specific error code.",
            "type": "string",
            "format": "uri",
            "x-cds-type": "URIString",
            "default": "urn:au-cds:error:cds-all:Authorisation/RevokedConsent"
          },
          "title": {
            "description": "Holds a human readable label of the error that is constant per code",
            "type": "string",
            "default": "Consent Is Revoked"
          },
          "detail": {
            "description": "The consumer's consent is no longer authorised (for example revoked or expired) and the requested resource will not be provided.",
            "type": "string",
            "example": "The Arrangement being access is no longer authorised"
          },
          "meta": {
            "description": "Holds additional end point specific data relevant to the error",
            "properties": {
              "urn": {
                "description": "Holds a standard CDR error code",
                "type": "string",
                "format": "uri",
                "x-cds-type": "URIString",
                "default": "urn:au-cds:error:cds-all:Authorisation/RevokedConsent"
              }
            },
            "type": "object"
          }
        },
        "required": [
          "code",
          "title",
          "detail"
        ]
      },
      "ErrorAuthorisationInvalidConsentV1": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Holds an end point specific error code. This MAY be a standard CDR error code or an application-specific error code.",
            "type": "string",
            "format": "uri",
            "x-cds-type": "URIString",
            "default": "urn:au-cds:error:cds-all:Authorisation/InvalidConsent"
          },
          "title": {
            "description": "Holds a human readable label of the error that is constant per code",
            "type": "string",
            "default": "Consent Is Invalid"
          },
          "detail": {
            "description": "The authorised consumer's consent is not associated to the resource requested, is insufficient to execute the resource or is in a status that prevents the resource being executed. The error detail SHOULD be a description of the status of consent without revealing sensitive information.",
            "type": "string",
            "example": "The authorised consumer's consent is not associated to the resource requested."
          },
          "meta": {
            "description": "Holds additional end point specific data relevant to the error",
            "properties": {
              "urn": {
                "description": "Holds a standard CDR error code",
                "type": "string",
                "format": "uri",
                "x-cds-type": "URIString",
                "default": "urn:au-cds:error:cds-all:Authorisation/InvalidConsent"
              }
            },
            "type": "object"
          }
        },
        "required": [
          "code",
          "title",
          "detail"
        ]
      },
      "Generic403Item": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ErrorAuthorisationADRStatusNotActiveV1"
          },
          {
            "$ref": "#/components/schemas/ErrorAuthorisationConsentRevokedV1"
          },
          {
            "$ref": "#/components/schemas/ErrorAuthorisationInvalidConsentV1"
          }
        ],
        "discriminator": {
          "propertyName": "code"
        }
      },
      "ErrorHeaderUnsupportedVersionV1": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Holds an end point specific error code. This MAY be a standard CDR error code or an application-specific error code.",
            "type": "string",
            "format": "uri",
            "x-cds-type": "URIString",
            "default": "urn:au-cds:error:cds-all:Header/UnsupportedVersion"
          },
          "title": {
            "description": "Holds a human readable label of the error that is constant per code",
            "type": "string",
            "default": "Unsupported Version"
          },
          "detail": {
            "description": "A request is made for a version that is lower than the minimum version or greater than maximum version the Data Holder supports for the requested endpoint. The error detail MAY include the minimum and maximum versions the Data Holder supports.",
            "type": "string",
            "example": "Unsupported Version Requested"
          },
          "meta": {
            "description": "Holds additional end point specific data relevant to the error",
            "properties": {
              "urn": {
                "description": "Holds a standard CDR error code",
                "type": "string",
                "format": "uri",
                "x-cds-type": "URIString",
                "default": "urn:au-cds:error:cds-all:Header/UnsupportedVersion"
              }
            },
            "type": "object"
          }
        },
        "required": [
          "code",
          "title",
          "detail"
        ]
      },
      "ListBankingAccounts406Item": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ErrorHeaderUnsupportedVersionV1"
          },
          {
            "$ref": "#/components/schemas/ErrorGeneralExpectedV1"
          }
        ],
        "discriminator": {
          "propertyName": "code"
        }
      },
      "ErrorFieldInvalidPageV1": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Holds an end point specific error code. This MAY be a standard CDR error code or an application-specific error code.",
            "type": "string",
            "format": "uri",
            "x-cds-type": "URIString",
            "default": "urn:au-cds:error:cds-all:Field/InvalidPage"
          },
          "title": {
            "description": "Holds a human readable label of the error that is constant per code",
            "type": "string",
            "default": "Invalid Page"
          },
          "detail": {
            "description": "The page being requested it out of of range. For example, the valid pagination range is 5 pages and the client requested page=10). The error detail SHOULD be the maximum number of pages that are available.",
            "type": "string",
            "example": "Invalid Page"
          },
          "meta": {
            "description": "Holds additional end point specific data relevant to the error",
            "properties": {
              "urn": {
                "description": "Holds a standard CDR error code",
                "type": "string",
                "format": "uri",
                "x-cds-type": "URIString",
                "default": "urn:au-cds:error:cds-all:Field/InvalidPage"
              }
            },
            "type": "object"
          }
        },
        "required": [
          "code",
          "title",
          "detail"
        ]
      },
      "ListBankingAccounts422Item": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ErrorFieldInvalidPageV1"
          },
          {
            "$ref": "#/components/schemas/ErrorGeneralExpectedV1"
          }
        ],
        "discriminator": {
          "propertyName": "code"
        }
      },
      "ErrorGeneralUnexpectedV1": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Holds an end point specific error code. This MAY be a standard CDR error code or an application-specific error code.",
            "type": "string",
            "format": "uri",
            "x-cds-type": "URIString",
            "default": "urn:au-cds:error:cds-all:GeneralError/Unexpected"
          },
          "title": {
            "description": "Holds a human readable label of the error that is constant per code",
            "type": "string",
            "default": "Unexpected Error Encountered"
          },
          "detail": {
            "description": "Holds a human readable description of this specific error. The error detail SHOULD be populated with a meaningful error description, without revealing sensitive information.",
            "type": "string",
            "example": "General Unexpected error occurred"
          },
          "meta": {
            "description": "Holds additional end point specific data relevant to the error",
            "properties": {
              "urn": {
                "description": "Holds a standard CDR error code",
                "type": "string",
                "format": "uri",
                "x-cds-type": "URIString",
                "default": "urn:au-cds:error:cds-all:GeneralError/Unexpected"
              }
            },
            "type": "object"
          }
        },
        "required": [
          "code",
          "title",
          "detail"
        ]
      },
      "ErrorServiceUnavailableV1": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Holds an end point specific error code. This MAY be a standard CDR error code or an application-specific error code.",
            "type": "string",
            "format": "uri",
            "x-cds-type": "URIString",
            "default": "urn:au-cds:error:cds-all:Service/Unavailable"
          },
          "title": {
            "description": "Holds a human readable label of the error that is constant per code",
            "type": "string",
            "default": "Service Unavailable"
          },
          "detail": {
            "description": "Holds a human readable description of this specific error",
            "type": "string",
            "example": "Service Currently Unavailable"
          },
          "meta": {
            "description": "Holds additional end point specific data relevant to the error",
            "properties": {
              "urn": {
                "description": "Holds a standard CDR error code",
                "type": "string",
                "format": "uri",
                "x-cds-type": "URIString",
                "default": "urn:au-cds:error:cds-all:Service/Unavailable"
              }
            },
            "type": "object"
          }
        },
        "required": [
          "code",
          "title",
          "detail"
        ]
      },
      "BankingBalancePurseV1": {
        "properties": {
          "amount": {
            "description": "The balance available for this additional currency purse",
            "type": "string",
            "x-cds-type": "AmountString",
            "example": "10.00"
          },
          "currency": {
            "description": "The currency for the purse",
            "type": "string",
            "x-cds-type": "CurrencyString",
            "example": "AUD",
            "pattern": "\\w{3}"
          }
        },
        "required": [
          "amount"
        ],
        "type": "object"
      },
      "BankingBalanceV1": {
        "properties": {
          "accountId": {
            "description": "A unique ID of the account adhering to the standards for ID permanence",
            "type": "string",
            "example": "jdnmwucgrchzngrqieryhiovpvzknokkwsediggdlnxgxizegvwpwfflgavkrbay"
          },
          "amortisedLimit": {
            "description": "Object representing the available limit amortised according to payment schedule. Assumed to be zero if absent",
            "type": "string",
            "x-cds-type": "AmountString",
            "example": "10.00"
          },
          "availableBalance": {
            "description": "Balance representing the amount of funds available for transfer. Assumed to be zero or positive",
            "type": "string",
            "x-cds-type": "AmountString",
            "example": "10.00"
          },
          "creditLimit": {
            "description": "Object representing the maximum amount of credit that is available for this account. Assumed to be zero if absent",
            "type": "string",
            "x-cds-type": "AmountString",
            "example": "10.00"
          },
          "currency": {
            "description": "The currency for the balance amounts. If absent assumed to be AUD",
            "type": "string",
            "x-cds-type": "CurrencyString",
            "pattern": "\\w{3}",
            "example": "AUD"
          },
          "currentBalance": {
            "description": "The balance of the account at this time. Should align to the balance available via other channels such as Internet Banking. Assumed to be negative if the customer has money owing",
            "type": "string",
            "x-cds-type": "AmountString",
            "example": "10.00"
          },
          "purses": {
            "description": "Optional array of balances for the account in other currencies. Included to support accounts that support multi-currency purses such as Travel Cards",
            "items": {
              "$ref": "#/components/schemas/BankingBalancePurseV1"
            },
            "type": "array"
          }
        },
        "required": [
          "accountId",
          "availableBalance",
          "currentBalance"
        ],
        "type": "object"
      },
      "ResponseBankingAccountsBalanceListV1": {
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "balances": {
                "description": "The list of balances returned",
                "items": {
                  "$ref": "#/components/schemas/BankingBalanceV1"
                },
                "type": "array"
              }
            },
            "required": [
              "balances"
            ]
          },
          "links": {
            "$ref": "#/components/schemas/LinksPaginatedV1"
          },
          "meta": {
            "$ref": "#/components/schemas/MetaPaginatedV1"
          }
        },
        "required": [
          "data",
          "links",
          "meta"
        ],
        "type": "object"
      },
      "ListBalancesBulk400Item": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ErrorFieldInvalidV1"
          },
          {
            "$ref": "#/components/schemas/ErrorFieldInvalidPageSizeV1"
          },
          {
            "$ref": "#/components/schemas/ErrorHeaderInvalidVersionV1"
          },
          {
            "$ref": "#/components/schemas/ErrorGeneralExpectedV1"
          },
          {
            "$ref": "#/components/schemas/ErrorHeaderMissingV1"
          },
          {
            "$ref": "#/components/schemas/ErrorHeaderInvalidV1"
          }
        ],
        "discriminator": {
          "propertyName": "code"
        }
      },
      "ListBalancesBulk406Item": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ErrorHeaderUnsupportedVersionV1"
          },
          {
            "$ref": "#/components/schemas/ErrorGeneralExpectedV1"
          }
        ],
        "discriminator": {
          "propertyName": "code"
        }
      },
      "ListBalancesBulk422Item": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ErrorFieldInvalidPageV1"
          },
          {
            "$ref": "#/components/schemas/ErrorGeneralExpectedV1"
          }
        ],
        "discriminator": {
          "propertyName": "code"
        }
      },
      "RequestAccountIdsV1": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "accountIds": {
                "description": "Array of specific account IDs to obtain data for",
                "items": {
                  "type": "string",
                  "x-cds-type": "ASCIIString"
                },
                "type": "array"
              }
            },
            "required": [
              "accountIds"
            ]
          },
          "meta": {
            "type": "object"
          }
        },
        "required": [
          "data"
        ]
      },
      "ListBalancesSpecificBankingAccounts400Item": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ErrorFieldInvalidPageSizeV1"
          },
          {
            "$ref": "#/components/schemas/ErrorHeaderInvalidVersionV1"
          },
          {
            "$ref": "#/components/schemas/ErrorGeneralExpectedV1"
          },
          {
            "$ref": "#/components/schemas/ErrorHeaderMissingV1"
          },
          {
            "$ref": "#/components/schemas/ErrorHeaderInvalidV1"
          }
        ],
        "discriminator": {
          "propertyName": "code"
        }
      },
      "ListBalancesSpecificBankingAccounts406Item": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ErrorHeaderUnsupportedVersionV1"
          },
          {
            "$ref": "#/components/schemas/ErrorGeneralExpectedV1"
          }
        ],
        "discriminator": {
          "propertyName": "code"
        }
      },
      "ErrorBankingAuthorisationUnavailableAccountV1": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Holds an end point specific error code. This MAY be a standard CDR error code or an application-specific error code.",
            "type": "string",
            "format": "uri",
            "x-cds-type": "URIString",
            "default": "urn:au-cds:error:cds-banking:Authorisation/UnavailableBankingAccount"
          },
          "title": {
            "description": "Holds a human readable label of the error that is constant per code",
            "type": "string",
            "default": "Unavailable Banking Account"
          },
          "detail": {
            "description": "The requested bank account is temporarily unavailable. Subsequent requests for the account may be successful. Applies when the account ID is provided in the URI. The error detail is the account ID of the resource being requested.",
            "type": "string",
            "example": "The requested bank account is temporarily unavailable."
          },
          "meta": {
            "description": "Holds additional end point specific data relevant to the error",
            "properties": {
              "urn": {
                "description": "Holds a standard CDR error code",
                "type": "string",
                "format": "uri",
                "x-cds-type": "URIString",
                "default": "urn:au-cds:error:cds-banking:Authorisation/UnavailableBankingAccount"
              }
            },
            "type": "object"
          }
        },
        "required": [
          "code",
          "title",
          "detail"
        ]
      },
      "ErrorBankingAuthorisationInvalidAccountV1": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Holds an end point specific error code. This MAY be a standard CDR error code or an application-specific error code.",
            "type": "string",
            "format": "uri",
            "x-cds-type": "URIString",
            "default": "urn:au-cds:error:cds-banking:Authorisation/InvalidBankingAccount"
          },
          "title": {
            "description": "Holds a human readable label of the error that is constant per code",
            "type": "string",
            "default": "Invalid Banking Account"
          },
          "detail": {
            "description": "The requested bank account is permanently unavailable. No subsequent request for the account will be successful. Applies when the account ID is provided in the URI. The error detail is the account ID of the resource being requested.",
            "type": "string",
            "example": "The requested bank account is permanently unavailable."
          },
          "meta": {
            "description": "Holds additional end point specific data relevant to the error",
            "properties": {
              "urn": {
                "description": "Holds a standard CDR error code",
                "type": "string",
                "format": "uri",
                "x-cds-type": "URIString",
                "default": "urn:au-cds:error:cds-banking:Authorisation/InvalidBankingAccount"
              }
            },
            "type": "object"
          }
        },
        "required": [
          "code",
          "title",
          "detail"
        ]
      },
      "ListBalancesSpecificBankingAccounts422Item": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ErrorFieldInvalidPageV1"
          },
          {
            "$ref": "#/components/schemas/ErrorBankingAuthorisationUnavailableAccountV1"
          },
          {
            "$ref": "#/components/schemas/ErrorBankingAuthorisationInvalidAccountV1"
          },
          {
            "$ref": "#/components/schemas/ErrorGeneralExpectedV1"
          }
        ],
        "discriminator": {
          "propertyName": "code"
        }
      },
      "EnumCommonStateV1": {
        "description": "State in which the address belongs. Valid enumeration defined by Australia Post PAF code file [State Type Abbreviation](https://auspost.com.au/content/dam/auspost_corp/media/documents/australia-post-data-guide.pdf). NSW, QLD, VIC, NT, WA, SA, TAS, ACT, AAT",
        "enum": [
          "AAT",
          "ACT",
          "NSW",
          "NT",
          "QLD",
          "SA",
          "TAS",
          "VIC",
          "WA"
        ],
        "type": "string",
        "example": "NSW"
      },
      "CommonPAFAddressV1": {
        "description": "Australian address formatted according to the file format defined by the [PAF file format](https://auspost.com.au/content/dam/auspost_corp/media/documents/australia-post-data-guide.pdf). Required if addressUType is set to paf",
        "properties": {
          "buildingName1": {
            "description": "Building/Property name 1",
            "type": "string",
            "example": "CAPITAL HOUSE"
          },
          "buildingName2": {
            "description": "Building/Property name 2",
            "type": "string",
            "example": "WE WORK"
          },
          "dpid": {
            "description": "Unique identifier for an address as defined by Australia Post.  Also known as Delivery Point Identifier",
            "type": "string",
            "example": "34567890"
          },
          "flatUnitNumber": {
            "description": "Unit number (including suffix, if applicable)",
            "type": "string",
            "example": "2A"
          },
          "flatUnitType": {
            "description": "Type of flat or unit for the address",
            "type": "string",
            "example": "U"
          },
          "floorLevelNumber": {
            "description": "Floor or level number (including alpha characters)",
            "type": "string",
            "example": "2"
          },
          "floorLevelType": {
            "description": "Type of floor or level for the address",
            "type": "string",
            "example": "FL"
          },
          "localityName": {
            "description": "Full name of locality",
            "type": "string",
            "example": "RICHMOND"
          },
          "lotNumber": {
            "description": "Allotment number for the address",
            "type": "string",
            "example": "20"
          },
          "postalDeliveryNumber": {
            "description": "Postal delivery number if the address is a postal delivery type",
            "minimum": 1,
            "type": "integer",
            "x-cds-type": "PositiveInteger",
            "example": 2
          },
          "postalDeliveryNumberPrefix": {
            "description": "Postal delivery number prefix related to the postal delivery number",
            "type": "string",
            "example": "N"
          },
          "postalDeliveryNumberSuffix": {
            "description": "Postal delivery number suffix related to the postal delivery number",
            "type": "string",
            "example": "A"
          },
          "postalDeliveryType": {
            "description": "Postal delivery type. (eg. PO BOX). Valid enumeration defined by Australia Post PAF code file",
            "type": "string",
            "example": "PO BOX"
          },
          "postcode": {
            "description": "Postcode for the locality",
            "type": "string",
            "example": "3024"
          },
          "state": {
            "$ref": "#/components/schemas/EnumCommonStateV1"
          },
          "streetName": {
            "description": "The name of the street",
            "type": "string",
            "example": "SMITH"
          },
          "streetSuffix": {
            "description": "The street type suffix. Valid enumeration defined by Australia Post PAF code file",
            "type": "string",
            "example": "W"
          },
          "streetType": {
            "description": "The street type. Valid enumeration defined by Australia Post PAF code file",
            "type": "string",
            "example": "ST"
          },
          "thoroughfareNumber1": {
            "description": "Thoroughfare number for a property (first number in a property ranged address)",
            "type": "integer",
            "x-cds-type": "PositiveInteger",
            "minimum": 1,
            "example": 23
          },
          "thoroughfareNumber1Suffix": {
            "description": "Suffix for the thoroughfare number. Only relevant is thoroughfareNumber1 is populated",
            "type": "string",
            "example": "A"
          },
          "thoroughfareNumber2": {
            "description": "Second thoroughfare number (only used if the property has a ranged address eg 23-25)",
            "type": "integer",
            "x-cds-type": "PositiveInteger",
            "example": 25,
            "minimum": 1
          },
          "thoroughfareNumber2Suffix": {
            "description": "Suffix for the second thoroughfare number. Only relevant is thoroughfareNumber2 is populated",
            "type": "string",
            "example": "B"
          }
        },
        "required": [
          "localityName",
          "postcode",
          "state"
        ],
        "type": "object"
      },
      "CommonSimpleAddressV1": {
        "description": "Required if addressUType is set to simple",
        "properties": {
          "addressLine1": {
            "description": "First line of the standard address object",
            "type": "string",
            "example": "55 McDonald Avenue"
          },
          "addressLine2": {
            "description": "Second line of the standard address object",
            "type": "string"
          },
          "addressLine3": {
            "description": "Third line of the standard address object",
            "type": "string"
          },
          "city": {
            "description": "Name of the city or locality",
            "type": "string",
            "example": "Maryville"
          },
          "country": {
            "default": "AUS",
            "description": "A valid [ISO 3166 Alpha-3](https://www.iso.org/iso-3166-country-codes.html) country code. Australia (AUS) is assumed if country is not present.",
            "type": "string",
            "x-cds-type": "ExternalRef"
          },
          "mailingName": {
            "description": "Name of the individual or business formatted for inclusion in an address used for physical mail",
            "type": "string"
          },
          "postcode": {
            "description": "Mandatory for Australian addresses",
            "type": "string",
            "example": "2293"
          },
          "state": {
            "description": "Free text if the country is not Australia. If country is Australia then must be one of the values defined by the [State Type Abbreviation](https://auspost.com.au/content/dam/auspost_corp/media/documents/australia-post-data-guide.pdf) in the PAF file format. NSW, QLD, VIC, NT, WA, SA, TAS, ACT, AAT",
            "type": "string",
            "example": "NSW"
          }
        },
        "required": [
          "addressLine1",
          "city",
          "state"
        ],
        "type": "object",
        "x-conditional": [
          "postcode"
        ]
      },
      "CommonPhysicalAddressV1": {
        "properties": {
          "addressUType": {
            "description": "The type of address object present",
            "enum": [
              "paf",
              "simple"
            ],
            "type": "string",
            "example": "simple"
          },
          "paf": {
            "$ref": "#/components/schemas/CommonPAFAddressV1"
          },
          "simple": {
            "$ref": "#/components/schemas/CommonSimpleAddressV1"
          }
        },
        "required": [
          "addressUType"
        ],
        "type": "object",
        "x-conditional": [
          "simple",
          "paf"
        ]
      },
      "BankingCreditCardAccountV1": {
        "properties": {
          "minPaymentAmount": {
            "description": "The minimum payment amount due for the next card payment",
            "type": "string",
            "x-cds-type": "AmountString",
            "example": "10.00"
          },
          "paymentCurrency": {
            "description": "If absent assumes AUD",
            "type": "string",
            "x-cds-type": "CurrencyString",
            "example": "AUD",
            "pattern": "\\w{3}"
          },
          "paymentDueAmount": {
            "description": "The amount due for the next card payment",
            "type": "string",
            "x-cds-type": "AmountString",
            "example": "10.00"
          },
          "paymentDueDate": {
            "description": "Date that the next payment for the card is due",
            "type": "string",
            "format": "date",
            "x-cds-type": "DateString",
            "example": "2022-05-01"
          }
        },
        "required": [
          "minPaymentAmount",
          "paymentDueAmount",
          "paymentDueDate"
        ],
        "type": "object"
      },
      "EnumBankingDepositRateTypeV1": {
        "description": "\nThe type of rate (base, bonus, etc). These are explained in a table as follows:\n\n| Value | Description | Use of `additionalValue` Field\n|-------|-------------|-------------------------------|\nBONUS | A bonus rate available by meeting a specific criteria | A description of the criteria to obtain the bonus\nBUNDLE_BONUS | A bonus rate obtained by originating a bundle instead of a standalone product | The name of the bundle\nFIXED | Fixed rate for a period of time | The period of time fixed. Formatted according to ISO 8601 Durations\nVARIABLE | A variable base rate for the product | NA\nINTRODUCTORY | An introductory discount that will expire after a set period | The period of time for the introductory rate. Formatted according to ISO 8601 Durations\nDISCOUNT | A specific discount rate that may be applied. A discount rate reduces the interest payable | Description of the discount rate that is applicable\nPENALTY | A specific penalty rate that may be applied. A penalty rate increases the interest payable | Description of the penalty rate that is applicable\nFLOATING | A floating rate is relatively fixed but still adjusts under specific circumstances | Details of the float parameters\nMARKET_LINKED | A rate that is linked to a specific market, commodity or asset class | Details of the market linkage\nCASH_ADVANCE | Specific rate applied to cash advances from the account | NA\nPURCHASE | Specific rate applied to purchases from the account | NA\nBUNDLE_DISCOUNT_FIXED | A discount rate off the fixed rate obtained by originating a bundle instead of a standalone product | The name of the bundle\nBUNDLE_DISCOUNT_VARIABLE | A discount rate off the variable rate obtained by originating a bundle instead of a standalone product | The name of the bundle\n",
        "enum": [
          "BONUS",
          "BUNDLE_BONUS",
          "FIXED",
          "FLOATING",
          "INTRODUCTORY",
          "MARKET_LINKED",
          "VARIABLE"
        ],
        "type": "string",
        "example": "FIXED"
      },
      "BankingProductRateConditionV1": {
        "description": "Defines a condition for the applicability of a tiered rate",
        "properties": {
          "additionalInfo": {
            "description": "Display text providing more information on the condition",
            "type": "string",
            "example": "Package discount is assessed on the package lending balance when you apply for a package."
          },
          "additionalInfoUri": {
            "description": "Link to a web page with more information on this condition",
            "type": "string",
            "format": "uri",
            "x-cds-type": "URIString",
            "example": "https://www.bank.com.au/home-loans/package.html"
          }
        },
        "type": "object"
      },
      "EnumBankingRateApplicationMethodV1": {
        "description": "The method used to calculate the amount to be applied using one or more tiers. A single rate may be applied to the entire balance or each applicable tier rate is applied to the portion of the balance that falls into that tier (referred to as 'bands' or 'steps')",
        "enum": [
          "PER_TIER",
          "WHOLE_BALANCE"
        ],
        "type": "string",
        "example": "WHOLE_BALANCE"
      },
      "EnumUnitOfMeasureV1": {
        "description": "The unit of measure that applies to the tierValueMinimum and tierValueMaximum values e.g. a **DOLLAR** amount. **PERCENT** (in the case of loan-to-value ratio or LVR). Tier term period representing a discrete number of **MONTH**'s or **DAY**'s (in the case of term deposit tiers)",
        "enum": [
          "DAY",
          "DOLLAR",
          "MONTH",
          "PERCENT"
        ],
        "type": "string",
        "example": "DOLLAR"
      },
      "BankingProductRateTierV3": {
        "description": "Defines the criteria and conditions for which a rate applies",
        "properties": {
          "additionalInfo": {
            "description": "Display text providing more information on the rate tier.",
            "type": "string"
          },
          "additionalInfoUri": {
            "description": "Link to a web page with more information on this rate tier",
            "type": "string",
            "format": "uri",
            "x-cds-type": "URIString"
          },
          "applicabilityConditions": {
            "$ref": "#/components/schemas/BankingProductRateConditionV1"
          },
          "maximumValue": {
            "description": "The number of tierUnitOfMeasure units that form the upper bound of the tier or band. For a tier with a discrete value (as opposed to a range of values e.g. 1 month) this must be the same as tierValueMinimum. Where this is the same as the tierValueMinimum value of the next-higher tier the referenced tier should be exclusive of this value. For example a term deposit of 2 months falls into the upper tier of the following tiers: (1 – 2 months, 2 – 3 months). If absent the tier's range has no upper bound.",
            "type": "number"
          },
          "minimumValue": {
            "description": "The number of tierUnitOfMeasure units that form the lower bound of the tier. The tier should be inclusive of this value",
            "type": "number",
            "example": 0.05
          },
          "name": {
            "description": "A display name for the tier",
            "type": "string",
            "example": "Example Rate Tier"
          },
          "rateApplicationMethod": {
            "$ref": "#/components/schemas/EnumBankingRateApplicationMethodV1"
          },
          "unitOfMeasure": {
            "$ref": "#/components/schemas/EnumUnitOfMeasureV1"
          }
        },
        "required": [
          "minimumValue",
          "name",
          "unitOfMeasure"
        ],
        "type": "object"
      },
      "BankingProductDepositRateV2": {
        "properties": {
          "additionalInfo": {
            "description": "Display text providing more information on the rate",
            "type": "string",
            "example": "A great deposit rate"
          },
          "additionalInfoUri": {
            "description": "Link to a web page with more information on this rate",
            "type": "string",
            "format": "uri",
            "x-cds-type": "URIString",
            "example": "https://www.acmebank.com.au/products/home-loans/deposit-rates"
          },
          "additionalValue": {
            "description": "Generic field containing additional information relevant to the [depositRateType](https://consumerdatastandardsaustralia.github.io/standards/#tocSproductdepositratetypedoc) specified. Whether mandatory or not is dependent on the value of [depositRateType](https://consumerdatastandardsaustralia.github.io/standards/#tocSproductdepositratetypedoc)",
            "type": "string",
            "example": "Type specific value, see docs"
          },
          "applicationFrequency": {
            "description": "The period after which the calculated amount(s) (see calculationFrequency) are 'applied' (i.e. debited or credited) to the account. Formatted according to [ISO 8601 Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations) (excludes recurrence syntax)",
            "type": "string",
            "x-cds-type": "DurationString",
            "example": "P30D"
          },
          "calculationFrequency": {
            "description": "The period after which the rate is applied to the balance to calculate the amount due for the period. Calculation of the amount is often daily (as balances may change) but accumulated until the total amount is 'applied' to the account (see applicationFrequency). Formatted according to [ISO 8601 Durations](https://en.wikipedia.org/wiki/ISO_8601#Durations) (excludes recurrence syntax)",
            "type": "string",
            "x-cds-type": "DurationString",
            "example": "P1D"
          },
          "depositRateType": {
            "$ref": "#/components/schemas/EnumBankingDepositRateTypeV1"
          },
          "rate": {
            "description": "The rate to be applied",
            "type": "string",
            "x-cds-type": "RateString",
            "example": "0.011"
          },
          "tiers": {
            "description": "Rate tiers applicable for this rate",
            "items": {
              "$ref": "#/components/schemas/BankingProductRateTierV3"
            },
            "type": "array"
          }
        },
        "required": [
          "depositRateType",
          "rate"
        ],
        "type": "object",
        "x-conditional": [
          "additionalValue"
        ]
      },
      "EnumBankingProductFeatureTypeV1": {
        "description": "\nEach Product or Account has a set of Product Features. These are explained in a table as follows:\n\n| Value | Description | Use of `additionalValue` Field\n|-------|-------------|-------------------------------|\nCARD_ACCESS | A card is available for the product to access funds | Text describing list of card types that this product can be linked to\nADDITIONAL_CARDS | Additional cards can be requested | The maximum number of additional cards. If no maximum then should be set to null\nUNLIMITED_TXNS | Unlimited free transactions available | NA\nFREE_TXNS | A set number of free transactions available per month | The number of free transactions\nFREE_TXNS_ALLOWANCE | A set amount of transaction fee value that is discounted per month | The amount of transaction fee discounted (in AUD)\nLOYALTY_PROGRAM | A points based loyalty program is available | Name of the loyalty program\nOFFSET | An offset account can be connected to the product | NA\nOVERDRAFT | An overdraft can be applied for | NA\nREDRAW | Redraw of repaid principal above minimum required is available | NA\nINSURANCE | Insurance is provided as an additional feature of the product | Text description of the type of insurance (e.g. Travel Insurance)\nBALANCE_TRANSFERS | Balance transfers can be made to the account (eg. for credit cards) | NA\nINTEREST_FREE | Interest free period for purchases | Interest free period. Formatted according to ISO 8601 Durations\nINTEREST_FREE_TRANSFERS | Interest free period for balance transfers | Interest free period. Formatted according to ISO 8601 Durations\nDIGITAL_WALLET | A Digital wallet can be attached to the product | The name or brand of the wallet\nDIGITAL_BANKING | Access is available to online banking features for the product | NA\nNPP_PAYID | An account of this product type can be used as the target of an NPP PayID | NA\nNPP_ENABLED | An account of this product type can be used to receive funds as a result of a BSB/Number based NPP payment | NA\nDONATE_INTEREST | Indicates that interest generated from the product can be automatically donated to a charity or community group | NA\nBILL_PAYMENT | The product can be attached to an automatic budgeting and bill payment service | Optional name of the service\nCOMPLEMENTARY_PRODUCT_DISCOUNTS | Indicates that complementary, discounted offerings (such as gift cards, or discounted travel) is available | Description of the complementary offering\nBONUS_REWARDS | Bonus loyalty rewards points are available | Number of points available\nNOTIFICATIONS | Advanced notifications are available for the product | Description of the notification capability\nOTHER | Another feature that can not be included in any of the other categories. The additionalInfo field is mandatory for this type | NA\n",
        "enum": [
          "ADDITIONAL_CARDS",
          "BALANCE_TRANSFERS",
          "BILL_PAYMENT",
          "BONUS_REWARDS",
          "CARD_ACCESS",
          "COMPLEMENTARY_PRODUCT_DISCOUNTS",
          "DIGITAL_BANKING",
          "DIGITAL_WALLET",
          "DONATE_INTEREST",
          "FREE_TXNS",
          "FREE_TXNS_ALLOWANCE",
          "INSURANCE",
          "INTEREST_FREE",
          "INTEREST_FREE_TRANSFERS",
[...]
