{"openapi":"3.0.0","info":{"title":"DevPortal (Main API): Periodic payments APIs","description":"Luminor agnostic API definitions","contact":{"email":"openbanking@luminorgroup.com"},"version":"1.0.2"},"servers":[{"url":"https://api.developer.luminoropenbanking.com/sandbox/"}],"tags":[{"name":"Periodic payment initiation and information","description":"Set of endpoints used for periodic payment initiation and information"}],"paths":{"/v1/periodic-payments/sepa-credit-transfers":{"post":{"tags":["Periodic payment initiation and information"],"summary":"Initiate periodic payment","description":"Creates single periodic SEPA payment initiation request","operationId":"postSepaPayment","parameters":[{"name":"X-Request-ID","in":"header","description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"},{"name":"Authorization","in":"header","description":"Access token issued by the authorization server","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"8f5SZKlfrPg9pTqaeGIYwxAmsco"},{"name":"psu-ip-address","in":"header","description":"User's IP Address","required":true,"schema":{"type":"string","format":"ipv4","exampleSetFlag":false},"example":"255.255.255.255"},{"name":"Content-type","in":"header","description":"Type of content (application/json)","required":true,"schema":{"type":"string","exampleSetFlag":false,"enum":["application/json"]}},{"name":"tpp-redirect-preferred","in":"header","description":"Use TPP redirect appraoch","required":false,"schema":{"type":"boolean","exampleSetFlag":false},"example":false},{"name":"tpp-redirect-uri","in":"header","description":"Redirect URI after successful signing","required":false,"schema":{"type":"string","exampleSetFlag":false},"example":"https://developer.luminoropenbanking.com/"},{"name":"tpp-nok-redirect-uri","in":"header","description":"Redirect URI after failed signing","required":false,"schema":{"type":"string","exampleSetFlag":false},"example":"https://developer.luminoropenbanking.com/"},{"name":"PSU-Corporate-ID","in":"header","description":"PSU personal ID code/Company's registration code (for validation purpose)","required":false,"schema":{"type":"string","exampleSetFlag":false}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/periodicpayments_sepacredittransfers_body","exampleSetFlag":false},"exampleSetFlag":false}},"required":true},"responses":{"201":{"description":"Created","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_201","exampleSetFlag":false},"exampleSetFlag":false}}},"400":{"description":"Bad Request","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"401":{"description":"Unauthorized","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"403":{"description":"Forbidden","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"404":{"description":"Not Found","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"409":{"description":"Conflict","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"500":{"description":"Internal Server Error","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}}},"security":[{"headers":["content-type: application/json","authorization: Bearer REPLACE_IT_BY_ACCESS_TOKEN(customer2,ttp1)"]}]}},"/v1/periodic-payments/sepa-credit-transfers/{paymentId}":{"get":{"tags":["Periodic payment initiation and information"],"summary":"Get periodic payment details","description":"Returns details of specified periodic payment","operationId":"getPayment","parameters":[{"name":"X-Request-ID","in":"header","description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"},{"name":"Authorization","in":"header","description":"Access token issued by the authorization server","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"8f5SZKlfrPg9pTqaeGIYwxAmsco"},{"name":"PSU-IP-Address","in":"header","description":"User's IP Address","schema":{"type":"string","format":"ipv4","exampleSetFlag":false},"example":"255.255.255.255"},{"name":"paymentId","in":"path","description":"Payment ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}}],"responses":{"200":{"description":"OK","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_200","exampleSetFlag":false},"exampleSetFlag":false}}},"400":{"description":"Bad Request","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"401":{"description":"Unauthorized","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"403":{"description":"Forbidden","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"404":{"description":"Not Found","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"409":{"description":"Conflict","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"500":{"description":"Internal Server Error","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}}},"security":[{"headers":["content-type: application/json","authorization: Bearer REPLACE_IT_BY_ACCESS_TOKEN(customer2,ttp1)"]}]},"delete":{"tags":["Periodic payment initiation and information"],"summary":"Cancel periodic payment","description":"Cancels not yet signed specified periodic payment","operationId":"cancelPayment","parameters":[{"name":"X-Request-ID","in":"header","description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"},{"name":"Authorization","in":"header","description":"Access token issued by the authorization server","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"8f5SZKlfrPg9pTqaeGIYwxAmsco"},{"name":"PSU-IP-Address","in":"header","description":"User's IP Address","schema":{"type":"string","format":"ipv4","exampleSetFlag":false},"example":"255.255.255.255"},{"name":"paymentId","in":"path","description":"Payment ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}}],"responses":{"200":{"description":"OK","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_200_1","exampleSetFlag":false},"exampleSetFlag":false}}},"400":{"description":"Bad Request","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"401":{"description":"Unauthorized","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"403":{"description":"Forbidden","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"404":{"description":"Not Found","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"409":{"description":"Conflict","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"500":{"description":"Internal Server Error","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}}},"security":[{"headers":["content-type: application/json","authorization: Bearer REPLACE_IT_BY_ACCESS_TOKEN(customer2,ttp1)"]}]}},"/v1/periodic-payments/sepa-credit-transfers/{paymentId}/status":{"get":{"tags":["Periodic payment initiation and information"],"summary":"Get periodic payment status","description":"Returns status of specified periodic payment","operationId":"getPaymentStatus","parameters":[{"name":"X-Request-ID","in":"header","description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"},{"name":"Authorization","in":"header","description":"Access token issued by the authorization server","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"8f5SZKlfrPg9pTqaeGIYwxAmsco"},{"name":"PSU-IP-Address","in":"header","description":"User's IP Address","schema":{"type":"string","format":"ipv4","exampleSetFlag":false},"example":"255.255.255.255"},{"name":"paymentId","in":"path","description":"Payment ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","format":"uuid","exampleSetFlag":false}}],"responses":{"200":{"description":"OK","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_200_2","exampleSetFlag":false},"exampleSetFlag":false}}},"400":{"description":"Bad Request","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"401":{"description":"Unauthorized","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"403":{"description":"Forbidden","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"404":{"description":"Not Found","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"409":{"description":"Conflict","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"500":{"description":"Internal Server Error","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}}},"security":[{"headers":["content-type: application/json","authorization: Bearer REPLACE_IT_BY_ACCESS_TOKEN(customer2,ttp1)"]}]}}},"components":{"schemas":{"sepa":{"required":["creditorAccount","creditorName","frequency","instructedAmount","startDate"],"type":"object","properties":{"instructedAmount":{"$ref":"#/components/schemas/v1periodicpaymentssepacredittransfers_instructedAmount","exampleSetFlag":false},"debtorName":{"maxLength":70,"type":"string","description":"Payer name","example":"Test payer","exampleSetFlag":true},"debtorAccount":{"$ref":"#/components/schemas/v1periodicpaymentssepacredittransfers_debtorAccount","exampleSetFlag":false},"debtorId":{"maxLength":35,"type":"string","description":"Payer ID","example":"14585258","exampleSetFlag":true},"debtorIdType":{"type":"string","description":"Payer ID type (ISO20022 ExternalOrganisationIdentification1Code)","example":"CUST","exampleSetFlag":true},"debtorType":{"type":"string","description":"Payer type","example":"PrvtId","exampleSetFlag":true,"enum":["PrvtId","OrgId"]},"debtorAddress":{"$ref":"#/components/schemas/v1periodicpaymentssepacredittransfers_debtorAddress","exampleSetFlag":false},"creditorName":{"maxLength":70,"type":"string","description":"Beneficiary name","example":"Test beneficiary","exampleSetFlag":true},"creditorAccount":{"$ref":"#/components/schemas/v1periodicpaymentssepacredittransfers_creditorAccount","exampleSetFlag":false},"creditorAgent":{"$ref":"#/components/schemas/v1periodicpaymentssepacredittransfers_creditorAgent","exampleSetFlag":false},"creditorId":{"maxLength":35,"type":"string","description":"Beneficiary ID","example":"25814755","exampleSetFlag":true},"creditorIdType":{"type":"string","description":"Beneficiary ID type (ISO20022 ExternalOrganisationIdentification1Code)","example":"ARNU","exampleSetFlag":true},"creditorType":{"type":"string","description":"Beneficiary type","example":"OrgId","exampleSetFlag":true,"enum":["PrvtId","OrgId"]},"creditorAddress":{"$ref":"#/components/schemas/v1periodicpaymentssepacredittransfers_creditorAddress","exampleSetFlag":false},"remittanceInformationUnstructured":{"maxLength":140,"type":"string","description":"Unstructured payment details (mandatory field for LV either structured or unstructured)","example":"Invoice x29876","exampleSetFlag":true},"remittanceInformationStructured":{"$ref":"#/components/schemas/v1periodicpaymentssepacredittransfers_remittanceInformationStructured","exampleSetFlag":false},"endToEndIdentification":{"maxLength":35,"type":"string","description":"End-to-end reference","example":"A258","exampleSetFlag":true},"instructionId":{"maxLength":35,"type":"string","description":"Payment order number","example":"159","exampleSetFlag":true},"paymentServiceLevel":{"type":"string","description":"Payment service level","exampleSetFlag":false,"enum":["NURG"]},"paymentReasonCode":{"type":"string","description":"Payment reason code (LV)","example":"CRED","exampleSetFlag":true},"purposeCode":{"type":"string","description":"Purpose code","example":"OTHR","exampleSetFlag":true},"chargeBearer":{"type":"string","description":"Charge bearer","exampleSetFlag":false,"enum":["SHAR"]},"ultimateDebtorName":{"maxLength":70,"type":"string","description":"Ultimate payer name","example":"Test ultimate payer","exampleSetFlag":true},"ultimateDebtorId":{"maxLength":35,"type":"string","description":"Ultimate payer ID","example":"5454798465","exampleSetFlag":true},"ultimateDebtorType":{"type":"string","description":"Ultimate payer type","exampleSetFlag":false,"enum":["PrvtId","OrgId"]},"ultimateDebtorIdType":{"type":"string","description":"Ultimate payer ID type (ISO20022 ExternalOrganisationIdentification1Code)","example":"CUST","exampleSetFlag":true},"ultimateCreditorName":{"maxLength":70,"type":"string","description":"Ultimate benefiaciary name","example":"Test ultimate beneficiary","exampleSetFlag":true},"ultimateCreditorId":{"maxLength":35,"type":"string","description":"Ultimate beneficiary ID","example":"985655555","exampleSetFlag":true},"ultimateCreditorType":{"type":"string","description":"Ultimate beneficiary type","exampleSetFlag":false,"enum":["PrvtId","OrgId"]},"ultimateCreditorIdType":{"type":"string","description":"Ultimate beneficiary ID type (ISO20022 ExternalOrganisationIdentification1Code)","example":"CINC","exampleSetFlag":true},"startDate":{"type":"string","description":"The first applicable day of execution starting from this date is the first payment (ISO-date)","example":"2017-07-21","exampleSetFlag":true},"endDate":{"type":"string","description":"The last applicable day of execution If not given, it is an infinite standing order (ISO-date)","example":"2017-07-21","exampleSetFlag":true},"frequency":{"type":"string","description":"The frequency of the recurring payment resulting from this standing order","exampleSetFlag":false,"enum":["daily","weekly","monthly"]},"dayOfExecution":{"type":"string","description":"Required date of execution","example":"9","exampleSetFlag":true},"name":{"type":"string","description":"User defined name for the standing order","exampleSetFlag":false}},"exampleSetFlag":false},"instructedAmount":{"required":["amount","currency"],"type":"object","properties":{"currency":{"type":"string","description":"Currency","example":"EUR","exampleSetFlag":true},"amount":{"type":"number","description":"Amount","example":152.45,"exampleSetFlag":true}},"description":"Payment amount (only EUR is supported)","exampleSetFlag":false},"debtorName":{"maxLength":70,"type":"string","description":"Payer name","example":"Test payer","exampleSetFlag":true},"debtorAccount":{"required":["iban"],"type":"object","properties":{"iban":{"type":"string","description":"IBAN","example":"LT594010049500047594","exampleSetFlag":true}},"description":"Payer account","exampleSetFlag":false},"debtorId":{"maxLength":35,"type":"string","description":"Payer ID","example":"14585258","exampleSetFlag":true},"debtorIdType":{"type":"string","description":"Payer ID type (ISO20022 ExternalOrganisationIdentification1Code)","example":"CUST","exampleSetFlag":true},"debtorType":{"type":"string","description":"Payer type","example":"PrvtId","exampleSetFlag":true,"enum":["PrvtId","OrgId"]},"debtorAddress":{"type":"object","properties":{"country":{"type":"string","description":"Payer country code (ISO 3166)","example":"LV","exampleSetFlag":true},"street":{"maxLength":70,"type":"string","description":"Payer address information","example":"Payer address","exampleSetFlag":true}},"description":"Payer address","exampleSetFlag":false},"creditorName":{"maxLength":70,"type":"string","description":"Beneficiary name","example":"Test beneficiary","exampleSetFlag":true},"creditorAccount":{"required":["iban"],"type":"object","properties":{"iban":{"type":"string","example":"EE399609601201606548","exampleSetFlag":true}},"description":"Beneficiary account","exampleSetFlag":false},"bic":{"type":"string","description":"BIC","example":"NTSBDEB1XXX","exampleSetFlag":true},"creditorAgent":{"required":["bic"],"type":"object","properties":{"bic":{"type":"string","description":"BIC","example":"NTSBDEB1XXX","exampleSetFlag":true}},"description":"Beneficiary bank","exampleSetFlag":false},"creditorAgentForInstant":{"type":"object","properties":{"bic":{"$ref":"#/components/schemas/bic","exampleSetFlag":false}},"description":"Beneficiary bank","exampleSetFlag":false},"creditorId":{"maxLength":35,"type":"string","description":"Beneficiary ID","example":"25814755","exampleSetFlag":true},"creditorIdType":{"type":"string","description":"Beneficiary ID type (ISO20022 ExternalOrganisationIdentification1Code)","example":"ARNU","exampleSetFlag":true},"creditorType":{"type":"string","description":"Beneficiary type","example":"OrgId","exampleSetFlag":true,"enum":["PrvtId","OrgId"]},"creditorAddress":{"type":"object","properties":{"country":{"type":"string","description":"Beneficiary country code (ISO 3166)","example":"LV","exampleSetFlag":true},"street":{"maxLength":70,"type":"string","description":"Beneficiary address information","example":"Beneficiary address","exampleSetFlag":true}},"description":"Beneficiary address","exampleSetFlag":false},"remittanceInformationUnstructured":{"maxLength":140,"type":"string","description":"Unstructured payment details (mandatory field for LV either structured or unstructured)","example":"Invoice x29876","exampleSetFlag":true},"remittanceInformationStructured":{"type":"object","properties":{"reference":{"maxLength":35,"type":"string","description":"Reference number","example":"12345672","exampleSetFlag":true}},"description":"Structured payment details (mandatory field for LV either structured or unstructured)","exampleSetFlag":false},"requestedExecutionDate":{"type":"string","description":"Requested payment execution date (ISODate)","format":"date","example":"2017-07-21","exampleSetFlag":true},"endToEndIdentification":{"maxLength":35,"type":"string","description":"End-to-end reference","example":"A258","exampleSetFlag":true},"instructionId":{"maxLength":35,"type":"string","description":"Payment order number","example":"159","exampleSetFlag":true},"paymentServiceLevel":{"type":"string","description":"Payment service level","exampleSetFlag":false,"enum":["NURG"]},"paymentReasonCode":{"type":"string","description":"Payment reason code (LV)","example":"CRED","exampleSetFlag":true},"purposeCode":{"type":"string","description":"Purpose code","example":"OTHR","exampleSetFlag":true},"chargeBearer":{"type":"string","description":"Charge bearer","exampleSetFlag":false,"enum":["SHAR"]},"ultimateDebtorName":{"maxLength":70,"type":"string","description":"Ultimate payer name","example":"Test ultimate payer","exampleSetFlag":true},"ultimateDebtorId":{"maxLength":35,"type":"string","description":"Ultimate payer ID","example":"5454798465","exampleSetFlag":true},"ultimateDebtorType":{"type":"string","description":"Ultimate payer type","exampleSetFlag":false,"enum":["PrvtId","OrgId"]},"ultimateDebtorIdType":{"type":"string","description":"Ultimate payer ID type (ISO20022 ExternalOrganisationIdentification1Code)","example":"CUST","exampleSetFlag":true},"ultimateCreditorName":{"maxLength":70,"type":"string","description":"Ultimate benefiaciary name","example":"Test ultimate beneficiary","exampleSetFlag":true},"ultimateCreditorId":{"maxLength":35,"type":"string","description":"Ultimate beneficiary ID","example":"985655555","exampleSetFlag":true},"ultimateCreditorType":{"type":"string","description":"Ultimate beneficiary type","exampleSetFlag":false,"enum":["PrvtId","OrgId"]},"ultimateCreditorIdType":{"type":"string","description":"Ultimate beneficiary ID type (ISO20022 ExternalOrganisationIdentification1Code)","example":"CINC","exampleSetFlag":true},"paymentId":{"type":"string","description":"Payment ID","example":"PAY000001","exampleSetFlag":true},"startDate":{"type":"string","description":"The first applicable day of execution starting from this date is the first payment (ISO-date)","example":"2017-07-21","exampleSetFlag":true},"endDate":{"type":"string","description":"The last applicable day of execution If not given, it is an infinite standing order (ISO-date)","example":"2017-07-21","exampleSetFlag":true},"frequency":{"type":"string","description":"The frequency of the recurring payment resulting from this standing order","exampleSetFlag":false,"enum":["daily","weekly","monthly"]},"dayOfExecution":{"type":"string","description":"Required date of execution","example":"9","exampleSetFlag":true},"name":{"type":"string","description":"User defined name for the standing order","exampleSetFlag":false},"payment":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"Transaction status (ISO20022)","example":"ACSC","exampleSetFlag":true,"enum":["ACTC","ACSC","ACSP","PDNG","RJCT","CANC","RCVD"]},"instructedAmount":{"$ref":"#/components/schemas/v1periodicpaymentssepacredittransfers_instructedAmount","exampleSetFlag":false},"debtorName":{"maxLength":70,"type":"string","description":"Payer name","example":"Test payer","exampleSetFlag":true},"debtorAccount":{"$ref":"#/components/schemas/v1periodicpaymentssepacredittransfers_debtorAccount","exampleSetFlag":false},"debtorId":{"maxLength":35,"type":"string","description":"Payer ID","example":"14585258","exampleSetFlag":true},"debtorIdType":{"type":"string","description":"Payer ID type (ISO20022 ExternalOrganisationIdentification1Code)","example":"CUST","exampleSetFlag":true},"debtorType":{"type":"string","description":"Payer type","example":"PrvtId","exampleSetFlag":true,"enum":["PrvtId","OrgId"]},"debtorAddress":{"$ref":"#/components/schemas/v1periodicpaymentssepacredittransfers_debtorAddress","exampleSetFlag":false},"creditorName":{"maxLength":70,"type":"string","description":"Beneficiary name","example":"Test beneficiary","exampleSetFlag":true},"creditorAccount":{"$ref":"#/components/schemas/v1periodicpaymentssepacredittransfers_creditorAccount","exampleSetFlag":false},"creditorAgent":{"$ref":"#/components/schemas/v1periodicpaymentssepacredittransfers_creditorAgent","exampleSetFlag":false},"creditorId":{"maxLength":35,"type":"string","description":"Beneficiary ID","example":"25814755","exampleSetFlag":true},"creditorIdType":{"type":"string","description":"Beneficiary ID type (ISO20022 ExternalOrganisationIdentification1Code)","example":"ARNU","exampleSetFlag":true},"creditorType":{"type":"string","description":"Beneficiary type","example":"OrgId","exampleSetFlag":true,"enum":["PrvtId","OrgId"]},"creditorAddress":{"$ref":"#/components/schemas/v1periodicpaymentssepacredittransfers_creditorAddress","exampleSetFlag":false},"remittanceInformationUnstructured":{"maxLength":140,"type":"string","description":"Unstructured payment details (mandatory field for LV either structured or unstructured)","example":"Invoice x29876","exampleSetFlag":true},"remittanceInformationStructured":{"$ref":"#/components/schemas/v1periodicpaymentssepacredittransfers_remittanceInformationStructured","exampleSetFlag":false},"endToEndIdentification":{"maxLength":35,"type":"string","description":"End-to-end reference","example":"A258","exampleSetFlag":true},"instructionId":{"maxLength":35,"type":"string","description":"Payment order number","example":"159","exampleSetFlag":true},"paymentServiceLevel":{"type":"string","description":"Payment service level","exampleSetFlag":false,"enum":["NURG"]},"paymentReasonCode":{"type":"string","description":"Payment reason code (LV)","example":"CRED","exampleSetFlag":true},"purposeCode":{"type":"string","description":"Purpose code","example":"OTHR","exampleSetFlag":true},"chargeBearer":{"type":"string","description":"Charge bearer","exampleSetFlag":false,"enum":["SHAR"]},"ultimateDebtorName":{"maxLength":70,"type":"string","description":"Ultimate payer name","example":"Test ultimate payer","exampleSetFlag":true},"ultimateDebtorId":{"maxLength":35,"type":"string","description":"Ultimate payer ID","example":"5454798465","exampleSetFlag":true},"ultimateDebtorType":{"type":"string","description":"Ultimate payer type","exampleSetFlag":false,"enum":["PrvtId","OrgId"]},"ultimateDebtorIdType":{"type":"string","description":"Ultimate payer ID type (ISO20022 ExternalOrganisationIdentification1Code)","example":"CUST","exampleSetFlag":true},"ultimateCreditorName":{"maxLength":70,"type":"string","description":"Ultimate benefiaciary name","example":"Test ultimate beneficiary","exampleSetFlag":true},"ultimateCreditorId":{"maxLength":35,"type":"string","description":"Ultimate beneficiary ID","example":"985655555","exampleSetFlag":true},"ultimateCreditorType":{"type":"string","description":"Ultimate beneficiary type","exampleSetFlag":false,"enum":["PrvtId","OrgId"]},"ultimateCreditorIdType":{"type":"string","description":"Ultimate beneficiary ID type (ISO20022 ExternalOrganisationIdentification1Code)","example":"CINC","exampleSetFlag":true},"created":{"type":"string","description":"Date and time the payment was created","format":"date-time","exampleSetFlag":false},"duplicateId":{"type":"string","description":"Payment ID of a payment suspected for duplicate","exampleSetFlag":true},"scope":{"type":"string","description":"Scope","exampleSetFlag":false,"enum":["NORMAL","INTRABANK","OWN_ACCOUNTS"]},"paymentProduct":{"type":"string","description":"Payment product","exampleSetFlag":false,"enum":["sepa-credit-transfers"]},"coreId":{"type":"string","description":"Internal transaction ID","example":"LTUP0P1193400001","exampleSetFlag":true},"startDate":{"type":"string","description":"The first applicable day of execution starting from this date is the first payment (ISO-date)","example":"2017-07-21","exampleSetFlag":true},"endDate":{"type":"string","description":"The last applicable day of execution If not given, it is an infinite standing order (ISO-date)","example":"2017-07-21","exampleSetFlag":true},"frequency":{"type":"string","description":"The frequency of the recurring payment resulting from this standing order","exampleSetFlag":false,"enum":["daily","weekly","monthly"]},"dayOfExecution":{"type":"string","description":"Required date of execution","example":"9","exampleSetFlag":true},"name":{"type":"string","description":"User defined name for the standing order","exampleSetFlag":false},"_embedded":{"$ref":"#/components/schemas/payment__embedded","exampleSetFlag":false},"_links":{"$ref":"#/components/schemas/payment__links","exampleSetFlag":false}},"exampleSetFlag":false},"created":{"type":"string","description":"Date and time the payment was created","format":"date-time","exampleSetFlag":false},"duplicateId":{"type":"string","description":"Payment ID of a payment suspected for duplicate","exampleSetFlag":true},"scope":{"type":"string","description":"Scope","exampleSetFlag":false,"enum":["NORMAL","INTRABANK","OWN_ACCOUNTS"]},"paymentProduct":{"type":"string","description":"Payment product","exampleSetFlag":false,"enum":["sepa-credit-transfers"]},"coreId":{"type":"string","description":"Internal transaction ID","example":"LTUP0P1193400001","exampleSetFlag":true},"transactionStatus":{"type":"string","description":"Transaction status (ISO20022)","example":"ACSC","exampleSetFlag":true,"enum":["ACTC","ACSC","ACSP","PDNG","RJCT","CANC","RCVD"]},"transactionStatusEnv":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"Transaction status (ISO20022)","example":"ACSC","exampleSetFlag":true,"enum":["ACTC","ACSC","ACSP","PDNG","RJCT","CANC","RCVD"]},"_links":{"$ref":"#/components/schemas/transactionStatusEnv__links","exampleSetFlag":false}},"exampleSetFlag":false},"paymentStatusEnv":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"Transaction status (ISO20022)","example":"ACSC","exampleSetFlag":true,"enum":["ACTC","ACSC","ACSP","PDNG","RJCT","CANC","RCVD"]},"statusReason":{"type":"string","description":"Payment status explanation","example":"Payment is pending","exampleSetFlag":true},"code":{"type":"string","description":"Payment failure code (ISO20022 External Code Sets)","example":"AM12","exampleSetFlag":true}},"exampleSetFlag":false},"signature":{"properties":{"name":{"type":"string","description":"Name of the person who has signed the payment","example":"Name","exampleSetFlag":true},"surname":{"type":"string","description":"Surname of the person who has signed the payment","example":"Surname","exampleSetFlag":true},"signatureSchemaType":{"type":"string","description":"Signature type","example":"ALONE","exampleSetFlag":true,"enum":["NOSIGN","ALONE","JOINT_2","JOINT_3"]},"created":{"type":"string","description":"Date and time the payment was signed","format":"date-time","exampleSetFlag":false},"_links":{"$ref":"#/components/schemas/payment__embedded__links","exampleSetFlag":false}},"exampleSetFlag":false},"self":{"type":"object","properties":{"href":{"type":"string","description":"Link to payment details","example":"/v1/periodic-payments/PAY000001","exampleSetFlag":true}},"description":"Payment details","exampleSetFlag":false},"status":{"type":"object","properties":{"href":{"type":"string","description":"Link to payment status","example":"/v1/periodic-payments/PAY000001/status","exampleSetFlag":true}},"description":"Payment status","exampleSetFlag":false},"startAuthorisation":{"type":"object","properties":{"href":{"type":"string","description":"Link to payment authorisations","example":"/v1/periodic-payments/PAY000001/authorisations","exampleSetFlag":true}},"description":"Payment authorisations","exampleSetFlag":false},"scaRedirect":{"type":"object","properties":{"href":{"type":"string","description":"Link to payment signing","example":"https://www.luminoropenbanking.com/periodic-payment?data=MIIEpAIBAAKCAQEA","exampleSetFlag":true}},"description":"Redirect to payment signing","exampleSetFlag":false},"paymentSummaryEnv":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"Transaction status (ISO20022)","example":"ACSC","exampleSetFlag":true,"enum":["ACTC","ACSC","ACSP","PDNG","RJCT","CANC","RCVD"]},"paymentId":{"type":"string","description":"Payment ID","example":"PAY000001","exampleSetFlag":true},"duplicateId":{"type":"string","description":"Payment ID of a payment suspected for duplicate","exampleSetFlag":true},"_links":{"$ref":"#/components/schemas/paymentSummaryEnv__links","exampleSetFlag":false}},"exampleSetFlag":false},"errorResponse":{"type":"object","properties":{"errors":{"type":"array","description":"error details","exampleSetFlag":false,"items":{"$ref":"#/components/schemas/errorResponse_errors","exampleSetFlag":false}}},"exampleSetFlag":false},"error":{"required":["category","code"],"properties":{"category":{"type":"string","description":"Error category. Only \"ERROR\" or \"WARNING\" permitted","example":"ERROR","exampleSetFlag":true,"enum":["ERROR","WARNING"]},"code":{"type":"string","description":"Error message code","example":"FORMAT_ERROR","exampleSetFlag":true},"text":{"type":"string","description":"Additional explaining text","example":"Review query parameters","exampleSetFlag":true}},"exampleSetFlag":false},"currency":{"type":"string","description":"Currency","example":"EUR","exampleSetFlag":true},"amount":{"type":"number","description":"Amount","example":152.45,"exampleSetFlag":true},"iban":{"type":"string","description":"IBAN","example":"LT594010049500047594","exampleSetFlag":true},"ibanNum":{"type":"string","example":"EE399609601201606548","exampleSetFlag":true},"signatureSchemaType":{"type":"string","description":"Signature type","example":"ALONE","exampleSetFlag":true,"enum":["NOSIGN","ALONE","JOINT_2","JOINT_3"]},"v1periodicpaymentssepacredittransfers_instructedAmount":{"required":["amount","currency"],"type":"object","properties":{"currency":{"type":"string","description":"Currency","example":"EUR","exampleSetFlag":true},"amount":{"type":"number","description":"Amount","example":152.45,"exampleSetFlag":true}},"description":"Payment amount (only EUR is supported)","exampleSetFlag":true},"v1periodicpaymentssepacredittransfers_debtorAccount":{"required":["iban"],"type":"object","properties":{"iban":{"type":"string","description":"IBAN","example":"LT594010049500047594","exampleSetFlag":true}},"description":"Payer account","exampleSetFlag":true},"v1periodicpaymentssepacredittransfers_debtorAddress":{"type":"object","properties":{"country":{"type":"string","description":"Payer country code (ISO 3166)","example":"LV","exampleSetFlag":true},"street":{"maxLength":70,"type":"string","description":"Payer address information","example":"Payer address","exampleSetFlag":true}},"description":"Payer address","exampleSetFlag":true},"v1periodicpaymentssepacredittransfers_creditorAccount":{"required":["iban"],"type":"object","properties":{"iban":{"type":"string","example":"EE399609601201606548","exampleSetFlag":true}},"description":"Beneficiary account","exampleSetFlag":true},"v1periodicpaymentssepacredittransfers_creditorAgent":{"required":["bic"],"type":"object","properties":{"bic":{"type":"string","description":"BIC","example":"NTSBDEB1XXX","exampleSetFlag":true}},"description":"Beneficiary bank","exampleSetFlag":true},"v1periodicpaymentssepacredittransfers_creditorAddress":{"type":"object","properties":{"country":{"type":"string","description":"Beneficiary country code (ISO 3166)","example":"LV","exampleSetFlag":true},"street":{"maxLength":70,"type":"string","description":"Beneficiary address information","example":"Beneficiary address","exampleSetFlag":true}},"description":"Beneficiary address","exampleSetFlag":true},"v1periodicpaymentssepacredittransfers_remittanceInformationStructured":{"type":"object","properties":{"reference":{"maxLength":35,"type":"string","description":"Reference number","example":"12345672","exampleSetFlag":true}},"description":"Structured payment details (mandatory field for LV either structured or unstructured)","exampleSetFlag":true},"periodicpayments_sepacredittransfers_body":{"required":["creditorAccount","creditorName","frequency","instructedAmount","startDate"],"type":"object","properties":{"instructedAmount":{"$ref":"#/components/schemas/v1periodicpaymentssepacredittransfers_instructedAmount","exampleSetFlag":false},"debtorName":{"maxLength":70,"type":"string","description":"Payer name","example":"Test payer","exampleSetFlag":true},"debtorAccount":{"$ref":"#/components/schemas/v1periodicpaymentssepacredittransfers_debtorAccount","exampleSetFlag":false},"debtorId":{"maxLength":35,"type":"string","description":"Payer ID","example":"14585258","exampleSetFlag":true},"debtorIdType":{"type":"string","description":"Payer ID type (ISO20022 ExternalOrganisationIdentification1Code)","example":"CUST","exampleSetFlag":true},"debtorType":{"type":"string","description":"Payer type","example":"PrvtId","exampleSetFlag":true,"enum":["PrvtId","OrgId"]},"debtorAddress":{"$ref":"#/components/schemas/v1periodicpaymentssepacredittransfers_debtorAddress","exampleSetFlag":false},"creditorName":{"maxLength":70,"type":"string","description":"Beneficiary name","example":"Test beneficiary","exampleSetFlag":true},"creditorAccount":{"$ref":"#/components/schemas/v1periodicpaymentssepacredittransfers_creditorAccount","exampleSetFlag":false},"creditorAgent":{"$ref":"#/components/schemas/v1periodicpaymentssepacredittransfers_creditorAgent","exampleSetFlag":false},"creditorId":{"maxLength":35,"type":"string","description":"Beneficiary ID","example":"25814755","exampleSetFlag":true},"creditorIdType":{"type":"string","description":"Beneficiary ID type (ISO20022 ExternalOrganisationIdentification1Code)","example":"ARNU","exampleSetFlag":true},"creditorType":{"type":"string","description":"Beneficiary type","example":"OrgId","exampleSetFlag":true,"enum":["PrvtId","OrgId"]},"creditorAddress":{"$ref":"#/components/schemas/v1periodicpaymentssepacredittransfers_creditorAddress","exampleSetFlag":false},"remittanceInformationUnstructured":{"maxLength":140,"type":"string","description":"Unstructured payment details (mandatory field for LV either structured or unstructured)","example":"Invoice x29876","exampleSetFlag":true},"remittanceInformationStructured":{"$ref":"#/components/schemas/v1periodicpaymentssepacredittransfers_remittanceInformationStructured","exampleSetFlag":false},"endToEndIdentification":{"maxLength":35,"type":"string","description":"End-to-end reference","example":"A258","exampleSetFlag":true},"instructionId":{"maxLength":35,"type":"string","description":"Payment order number","example":"159","exampleSetFlag":true},"paymentServiceLevel":{"type":"string","description":"Payment service level","exampleSetFlag":false,"enum":["NURG"]},"paymentReasonCode":{"type":"string","description":"Payment reason code (LV)","example":"CRED","exampleSetFlag":true},"purposeCode":{"type":"string","description":"Purpose code","example":"OTHR","exampleSetFlag":true},"chargeBearer":{"type":"string","description":"Charge bearer","exampleSetFlag":false,"enum":["SHAR"]},"ultimateDebtorName":{"maxLength":70,"type":"string","description":"Ultimate payer name","example":"Test ultimate payer","exampleSetFlag":true},"ultimateDebtorId":{"maxLength":35,"type":"string","description":"Ultimate payer ID","example":"5454798465","exampleSetFlag":true},"ultimateDebtorType":{"type":"string","description":"Ultimate payer type","exampleSetFlag":false,"enum":["PrvtId","OrgId"]},"ultimateDebtorIdType":{"type":"string","description":"Ultimate payer ID type (ISO20022 ExternalOrganisationIdentification1Code)","example":"CUST","exampleSetFlag":true},"ultimateCreditorName":{"maxLength":70,"type":"string","description":"Ultimate benefiaciary name","example":"Test ultimate beneficiary","exampleSetFlag":true},"ultimateCreditorId":{"maxLength":35,"type":"string","description":"Ultimate beneficiary ID","example":"985655555","exampleSetFlag":true},"ultimateCreditorType":{"type":"string","description":"Ultimate beneficiary type","exampleSetFlag":false,"enum":["PrvtId","OrgId"]},"ultimateCreditorIdType":{"type":"string","description":"Ultimate beneficiary ID type (ISO20022 ExternalOrganisationIdentification1Code)","example":"CINC","exampleSetFlag":true},"startDate":{"type":"string","description":"The first applicable day of execution starting from this date is the first payment (ISO-date)","example":"2017-07-21","exampleSetFlag":true},"endDate":{"type":"string","description":"The last applicable day of execution If not given, it is an infinite standing order (ISO-date)","example":"2017-07-21","exampleSetFlag":true},"frequency":{"type":"string","description":"The frequency of the recurring payment resulting from this standing order","exampleSetFlag":false,"enum":["daily","weekly","monthly"]},"dayOfExecution":{"type":"string","description":"Required date of execution","example":"9","exampleSetFlag":true},"name":{"type":"string","description":"User defined name for the standing order","exampleSetFlag":false}},"exampleSetFlag":false},"inline_response_201":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"Transaction status (ISO20022)","example":"ACSC","exampleSetFlag":true,"enum":["ACTC","ACSC","ACSP","PDNG","RJCT","CANC","RCVD"]},"paymentId":{"type":"string","description":"Payment ID","example":"PAY000001","exampleSetFlag":true},"duplicateId":{"type":"string","description":"Payment ID of a payment suspected for duplicate","exampleSetFlag":true},"_links":{"$ref":"#/components/schemas/paymentSummaryEnv__links","exampleSetFlag":false}},"exampleSetFlag":false},"inline_response_400":{"type":"object","properties":{"errors":{"type":"array","description":"error details","exampleSetFlag":false,"items":{"$ref":"#/components/schemas/errorResponse_errors","exampleSetFlag":false}}},"exampleSetFlag":false},"inline_response_200":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"Transaction status (ISO20022)","example":"ACSC","exampleSetFlag":true,"enum":["ACTC","ACSC","ACSP","PDNG","RJCT","CANC","RCVD"]},"instructedAmount":{"$ref":"#/components/schemas/v1periodicpaymentssepacredittransfers_instructedAmount","exampleSetFlag":false},"debtorName":{"maxLength":70,"type":"string","description":"Payer name","example":"Test payer","exampleSetFlag":true},"debtorAccount":{"$ref":"#/components/schemas/v1periodicpaymentssepacredittransfers_debtorAccount","exampleSetFlag":false},"debtorId":{"maxLength":35,"type":"string","description":"Payer ID","example":"14585258","exampleSetFlag":true},"debtorIdType":{"type":"string","description":"Payer ID type (ISO20022 ExternalOrganisationIdentification1Code)","example":"CUST","exampleSetFlag":true},"debtorType":{"type":"string","description":"Payer type","example":"PrvtId","exampleSetFlag":true,"enum":["PrvtId","OrgId"]},"debtorAddress":{"$ref":"#/components/schemas/v1periodicpaymentssepacredittransfers_debtorAddress","exampleSetFlag":false},"creditorName":{"maxLength":70,"type":"string","description":"Beneficiary name","example":"Test beneficiary","exampleSetFlag":true},"creditorAccount":{"$ref":"#/components/schemas/v1periodicpaymentssepacredittransfers_creditorAccount","exampleSetFlag":false},"creditorAgent":{"$ref":"#/components/schemas/v1periodicpaymentssepacredittransfers_creditorAgent","exampleSetFlag":false},"creditorId":{"maxLength":35,"type":"string","description":"Beneficiary ID","example":"25814755","exampleSetFlag":true},"creditorIdType":{"type":"string","description":"Beneficiary ID type (ISO20022 ExternalOrganisationIdentification1Code)","example":"ARNU","exampleSetFlag":true},"creditorType":{"type":"string","description":"Beneficiary type","example":"OrgId","exampleSetFlag":true,"enum":["PrvtId","OrgId"]},"creditorAddress":{"$ref":"#/components/schemas/v1periodicpaymentssepacredittransfers_creditorAddress","exampleSetFlag":false},"remittanceInformationUnstructured":{"maxLength":140,"type":"string","description":"Unstructured payment details (mandatory field for LV either structured or unstructured)","example":"Invoice x29876","exampleSetFlag":true},"remittanceInformationStructured":{"$ref":"#/components/schemas/v1periodicpaymentssepacredittransfers_remittanceInformationStructured","exampleSetFlag":false},"endToEndIdentification":{"maxLength":35,"type":"string","description":"End-to-end reference","example":"A258","exampleSetFlag":true},"instructionId":{"maxLength":35,"type":"string","description":"Payment order number","example":"159","exampleSetFlag":true},"paymentServiceLevel":{"type":"string","description":"Payment service level","exampleSetFlag":false,"enum":["NURG"]},"paymentReasonCode":{"type":"string","description":"Payment reason code (LV)","example":"CRED","exampleSetFlag":true},"purposeCode":{"type":"string","description":"Purpose code","example":"OTHR","exampleSetFlag":true},"chargeBearer":{"type":"string","description":"Charge bearer","exampleSetFlag":false,"enum":["SHAR"]},"ultimateDebtorName":{"maxLength":70,"type":"string","description":"Ultimate payer name","example":"Test ultimate payer","exampleSetFlag":true},"ultimateDebtorId":{"maxLength":35,"type":"string","description":"Ultimate payer ID","example":"5454798465","exampleSetFlag":true},"ultimateDebtorType":{"type":"string","description":"Ultimate payer type","exampleSetFlag":false,"enum":["PrvtId","OrgId"]},"ultimateDebtorIdType":{"type":"string","description":"Ultimate payer ID type (ISO20022 ExternalOrganisationIdentification1Code)","example":"CUST","exampleSetFlag":true},"ultimateCreditorName":{"maxLength":70,"type":"string","description":"Ultimate benefiaciary name","example":"Test ultimate beneficiary","exampleSetFlag":true},"ultimateCreditorId":{"maxLength":35,"type":"string","description":"Ultimate beneficiary ID","example":"985655555","exampleSetFlag":true},"ultimateCreditorType":{"type":"string","description":"Ultimate beneficiary type","exampleSetFlag":false,"enum":["PrvtId","OrgId"]},"ultimateCreditorIdType":{"type":"string","description":"Ultimate beneficiary ID type (ISO20022 ExternalOrganisationIdentification1Code)","example":"CINC","exampleSetFlag":true},"created":{"type":"string","description":"Date and time the payment was created","format":"date-time","exampleSetFlag":false},"duplicateId":{"type":"string","description":"Payment ID of a payment suspected for duplicate","exampleSetFlag":true},"scope":{"type":"string","description":"Scope","exampleSetFlag":false,"enum":["NORMAL","INTRABANK","OWN_ACCOUNTS"]},"paymentProduct":{"type":"string","description":"Payment product","exampleSetFlag":false,"enum":["sepa-credit-transfers"]},"coreId":{"type":"string","description":"Internal transaction ID","example":"LTUP0P1193400001","exampleSetFlag":true},"startDate":{"type":"string","description":"The first applicable day of execution starting from this date is the first payment (ISO-date)","example":"2017-07-21","exampleSetFlag":true},"endDate":{"type":"string","description":"The last applicable day of execution If not given, it is an infinite standing order (ISO-date)","example":"2017-07-21","exampleSetFlag":true},"frequency":{"type":"string","description":"The frequency of the recurring payment resulting from this standing order","exampleSetFlag":false,"enum":["daily","weekly","monthly"]},"dayOfExecution":{"type":"string","description":"Required date of execution","example":"9","exampleSetFlag":true},"name":{"type":"string","description":"User defined name for the standing order","exampleSetFlag":false},"_embedded":{"$ref":"#/components/schemas/payment__embedded","exampleSetFlag":false},"_links":{"$ref":"#/components/schemas/payment__links","exampleSetFlag":false}},"exampleSetFlag":false},"inline_response_200_1":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"Transaction status (ISO20022)","example":"ACSC","exampleSetFlag":true,"enum":["ACTC","ACSC","ACSP","PDNG","RJCT","CANC","RCVD"]},"_links":{"$ref":"#/components/schemas/transactionStatusEnv__links","exampleSetFlag":false}},"exampleSetFlag":false},"inline_response_200_2":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"Transaction status (ISO20022)","example":"ACSC","exampleSetFlag":true,"enum":["ACTC","ACSC","ACSP","PDNG","RJCT","CANC","RCVD"]},"statusReason":{"type":"string","description":"Payment status explanation","example":"Payment is pending","exampleSetFlag":true},"code":{"type":"string","description":"Payment failure code (ISO20022 External Code Sets)","example":"AM12","exampleSetFlag":true}},"exampleSetFlag":false},"payment__embedded__links_self":{"type":"object","properties":{"href":{"type":"string","description":"Link to payment authorisation details","example":"/v1/periodic-payments/PAY000001/authorisations/AUTH0001","exampleSetFlag":true}},"description":"Payment authorisation details","exampleSetFlag":true},"payment__embedded__links":{"type":"object","properties":{"self":{"$ref":"#/components/schemas/payment__embedded__links_self","exampleSetFlag":false}},"description":"Links","exampleSetFlag":true},"payment__embedded_successfulAuthorisations":{"properties":{"name":{"type":"string","description":"Name of the person who has signed the payment","example":"Name","exampleSetFlag":true},"surname":{"type":"string","description":"Surname of the person who has signed the payment","example":"Surname","exampleSetFlag":true},"signatureSchemaType":{"type":"string","description":"Signature type","example":"ALONE","exampleSetFlag":true,"enum":["NOSIGN","ALONE","JOINT_2","JOINT_3"]},"created":{"type":"string","description":"Date and time the payment was signed","format":"date-time","exampleSetFlag":false},"_links":{"$ref":"#/components/schemas/payment__embedded__links","exampleSetFlag":false}},"exampleSetFlag":true},"payment__embedded":{"type":"object","properties":{"successfulAuthorisations":{"type":"array","description":"Successful authorisations","exampleSetFlag":false,"items":{"$ref":"#/components/schemas/payment__embedded_successfulAuthorisations","exampleSetFlag":false}}},"description":"Embedded authorisations information","exampleSetFlag":true},"payment__links_self":{"type":"object","properties":{"href":{"type":"string","description":"Link to payment details","example":"/v1/periodic-payments/PAY000001","exampleSetFlag":true}},"description":"Payment details","exampleSetFlag":true},"payment__links_status":{"type":"object","properties":{"href":{"type":"string","description":"Link to payment status","example":"/v1/periodic-payments/PAY000001/status","exampleSetFlag":true}},"description":"Payment status","exampleSetFlag":true},"payment__links_startAuthorisation":{"type":"object","properties":{"href":{"type":"string","description":"Link to payment authorisations","example":"/v1/periodic-payments/PAY000001/authorisations","exampleSetFlag":true}},"description":"Payment authorisations","exampleSetFlag":true},"payment__links":{"type":"object","properties":{"self":{"$ref":"#/components/schemas/payment__links_self","exampleSetFlag":false},"status":{"$ref":"#/components/schemas/payment__links_status","exampleSetFlag":false},"startAuthorisation":{"$ref":"#/components/schemas/payment__links_startAuthorisation","exampleSetFlag":false}},"description":"Links","exampleSetFlag":true},"transactionStatusEnv__links":{"type":"object","properties":{"self":{"$ref":"#/components/schemas/payment__links_self","exampleSetFlag":false},"status":{"$ref":"#/components/schemas/payment__links_status","exampleSetFlag":false}},"description":"Links","exampleSetFlag":true},"paymentSummaryEnv__links_scaRedirect":{"type":"object","properties":{"href":{"type":"string","description":"Link to payment signing","example":"https://www.luminoropenbanking.com/periodic-payment?data=MIIEpAIBAAKCAQEA","exampleSetFlag":true}},"description":"Redirect to payment signing","exampleSetFlag":true},"paymentSummaryEnv__links":{"type":"object","properties":{"self":{"$ref":"#/components/schemas/payment__links_self","exampleSetFlag":false},"status":{"$ref":"#/components/schemas/payment__links_status","exampleSetFlag":false},"startAuthorisation":{"$ref":"#/components/schemas/payment__links_startAuthorisation","exampleSetFlag":false},"scaRedirect":{"$ref":"#/components/schemas/paymentSummaryEnv__links_scaRedirect","exampleSetFlag":false}},"description":"Links","exampleSetFlag":true},"errorResponse_errors":{"required":["category","code"],"properties":{"category":{"type":"string","description":"Error category. Only \"ERROR\" or \"WARNING\" permitted","example":"ERROR","exampleSetFlag":true,"enum":["ERROR","WARNING"]},"code":{"type":"string","description":"Error message code","example":"FORMAT_ERROR","exampleSetFlag":true},"text":{"type":"string","description":"Additional explaining text","example":"Review query parameters","exampleSetFlag":true}},"exampleSetFlag":true}},"headers":{"xRequestId":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}}}}