{"openapi":"3.1.0","info":{"title":"Dapi Core API V2","version":"2.0"},"servers":[{"url":"https://api.dapi.com/v2"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","name":"Bearer Token"}}},"security":[{"sec0":[]}],"paths":{"/auth/ExchangeToken":{"post":{"summary":"Exchange Token","description":"Method is used to obtain user's permanent access token by exchanging it with the access code received during the user authentication.","operationId":"exchange-token-1","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"appSecret":{"type":"string","description":"Private token generated at application creation."},"accessCode":{"type":"string","description":"Unique code for a user’s successful login to Connect. Returned in the response of UserLogin."},"connectionID":{"type":"string","description":"The connectionID from a user’s successful log in to Connect"}}},"examples":{"Request Example":{"value":{"appSecret":"00bae841ad979345fca2e2585c000da7eac420504d189cf63315e7a6234d45c68dbd6fff749167292cd1475622805dce7a2b979db3c16e25a2897158ee63845b1043930ff603e19deb1d2d54ad9afc3d52df241d3c4e7286244a2f98a10212e38b2e9f8b0e3a7592702fa4358fb9103b93a26dd6bb92c2be0327ac054f14becc","accessCode":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzYWx0IjoiRmlHUUhDM2NwZ01NZmhaejNHMk8zNitHakdBUEs0ZFptSEgwRy9jN1cxWT0iLCJhcHBLZXkiOiI0OTc3OTFjZmQ1MTBmMjI1MDc1Yzk3YWNkYzFkYmY0YTI1ZDczNTgxNGZlMmE3OGQxZjRiMGI4OTcxOGU3ZWQ2IiwidG9rZW5JRCI6IjYxMWM3YWE4LTcwYWYtNGQ3Zi1hODk1LTI4OWU4OTIzOTMxMyIsImlhdCI6MTYxNjQyOTI0MCwiZXhwIjoxNjE2NDI5NTQwfQ.FVo8b-krSDNHjIormm_BZAUxUfr_4ZEAzp_xh9WuR0M","connectionID":"2c72a336a7c09fd905f9adf3dc5ff976d58eeb20"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": true,\n  \"accessToken\": \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzYWx0IjoiRmlHUUhDM2NwZ01NZmhaejNHMk8zNitHakdBUEs0ZFptSEgwRy9jN1cxWT0iLCJhcHBLZXkiOiI0OTc3OTFjZmQ1MTBmMjI1MDc1Yzk3YWNkYzFkYmY0YTI1ZDczNTgxNGZlMmE3OGQxZjRiMGI4OTcxOGU3ZWQ2IiwidG9rZW5JRCI6IjYxMWM3YWE4LTcwYWYtNGQ3Zi1hODk1LTI4OWU4OTIzOTMxMyIsImF1dGhvcml6YXRpb25zIjp7ImF1dGhlbnRpY2F0aW9uIjp7ImNyZWF0ZSI6dHJ1ZX0sImlkZW50aXR5Ijp7ImdldCI6ZmFsc2V9LCJhY2NvdW50cyI6eyJnZXQiOmZhbHNlfSwiYmFsYW5jZSI6eyJnZXQiOmZhbHNlfSwidHJhbnNhY3Rpb25zIjp7ImdldCI6ZmFsc2V9LCJiZW5lZmljaWFyaWVzIjp7ImdldCI6ZmFsc2UsImNyZWF0ZSI6ZmFsc2V9LCJ0cmFuc2ZlciI6eyJjcmVhdGUiOmZhbHNlfSwiY2FyZHMiOnsiZ2V0IjpmYWxzZX0sInN0YXRlbWVudHMiOnsiZ2V0IjpmYWxzZX0sInByb2R1Y3RzIjpbImRhdGEiLCJwYXltZW50Il19LCJpYXQiOjE2MTY0MjkzMTZ9.MIicjZXD8ojOqInzKqeyzmfCkQaxl7K6NU7Q5UPt47Y\",\n  \"status\":\"done\"  \n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"accessToken":{"type":"string","example":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzYWx0IjoiRmlHUUhDM2NwZ01NZmhaejNHMk8zNitHakdBUEs0ZFptSEgwRy9jN1cxWT0iLCJhcHBLZXkiOiI0OTc3OTFjZmQ1MTBmMjI1MDc1Yzk3YWNkYzFkYmY0YTI1ZDczNTgxNGZlMmE3OGQxZjRiMGI4OTcxOGU3ZWQ2IiwidG9rZW5JRCI6IjYxMWM3YWE4LTcwYWYtNGQ3Zi1hODk1LTI4OWU4OTIzOTMxMyIsImF1dGhvcml6YXRpb25zIjp7ImF1dGhlbnRpY2F0aW9uIjp7ImNyZWF0ZSI6dHJ1ZX0sImlkZW50aXR5Ijp7ImdldCI6ZmFsc2V9LCJhY2NvdW50cyI6eyJnZXQiOmZhbHNlfSwiYmFsYW5jZSI6eyJnZXQiOmZhbHNlfSwidHJhbnNhY3Rpb25zIjp7ImdldCI6ZmFsc2V9LCJiZW5lZmljaWFyaWVzIjp7ImdldCI6ZmFsc2UsImNyZWF0ZSI6ZmFsc2V9LCJ0cmFuc2ZlciI6eyJjcmVhdGUiOmZhbHNlfSwiY2FyZHMiOnsiZ2V0IjpmYWxzZX0sInN0YXRlbWVudHMiOnsiZ2V0IjpmYWxzZX0sInByb2R1Y3RzIjpbImRhdGEiLCJwYXltZW50Il19LCJpYXQiOjE2MTY0MjkzMTZ9.MIicjZXD8ojOqInzKqeyzmfCkQaxl7K6NU7Q5UPt47Y"},"status":{"type":"string","example":"done"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": false,\n  \"status\": \"failed\",\n  \"msg\": \"Validation error on field 'connectionID'. Error: value must not be an empty string\",\n  \"type\": \"INVALID_ARGS\"\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false,"default":true},"status":{"type":"string","example":"failed"},"msg":{"type":"string","example":"Validation error on field 'connectionID'. Error: value must not be an empty string"},"type":{"type":"string","example":"INVALID_ARGS"}}}}}}},"deprecated":false,"security":[]}},"/users/DelinkUser":{"post":{"summary":"De-Link User","description":"Method is used to disconnect a user in your application from Dapi by invalidating their access token.","operationId":"de-link-user-1","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"appSecret":{"type":"string","description":"Private token generated at application creation"},"userSecret":{"type":"string","description":"User secret returned during the successful authentication in Connect Layer"}}},"examples":{"Request Example":{"value":{"appSecret":"00bae841ad979345fca2e2585c000da7eac420504d189cf63315e7a6234d45c68dbd6fff749167292cd1475622805dce7a2b979db3c16e25a2897158ee63845b1043930ff603e19deb1d2d54ad9afc3d52df241d3c4e7286244a2f98a10212e38b2e9f8b0e3a7592702fa4358fb9103b93a26dd6bb92c2be0327ac054f14becc","userSecret":"R7bJbm8K06ky3OiGBe2QYJxlCiJay7b/Xgna2wsIwp6XBTpuXyJ8SdBY6VaXdsxvd/LJTpbiZDkvNMFQhrT/V0kgV62j9rgzgDqhBxdeKsQRpZ6oIp/6evrR67crnRdDuRF1HY+OJHAcSJ2vjo2yxJo4Y4uUAK0tpEV2IIKkifHgx1xlNuc/dDcvWlj42q0m9ai/bwwPKM/Q5CK3Upk8zJShzBcF7ms/xHev9quXxqtHjLiK0w5j0bGgc8+zX6W2gEhecmgWyj5D3G+5awDTTEnSIM596cr7YEquxh5l6spO+NgyAgp7xym73qz7HGfP5m32Dslqz/ylGG6juJHCc1ODQJrq4LnAKOCPwMnHF3NF9wA87cTWH1qXucwUGpi032cXjkfLJd2ITfcAZ0fBPlkpwYY+QIwVwkX7uWaGzCBKmyRNTj/UPgWVMUcJGE8SANhz0fGLbWWkUzrXLR8W6ml8vTsEWFT8sk3nwh8aRj422s+wsQ9VcM957SLlmoQl4dO8u90VJh7I8+i11GQp6mhvOHoHxO4O+ejZPQaz5MN6fAKoau8fHOPtyaPRZy+9XC3EVhGmvvsCS0gTXBtgUmiEFw2ZErYWqQGn4wryRqe38ThZs4+XZ6gUimBUVw+Bo19cRKkdRFEEHbMBJMyOkjgNfN1rZAGRkvPPio25x8s="}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": \"done\",\n    \"success\": true\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"done"},"success":{"type":"boolean","example":true,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"msg\": \"Invalid access token\",\n    \"type\": \"UNAUTHORIZED\",\n    \"success\": false,\n    \"status\": \"failed\"\n}"}},"schema":{"oneOf":[{"type":"object","properties":{"msg":{"type":"string","example":"Token delinked"},"type":{"type":"string","example":"UNAUTHORIZED"},"success":{"type":"boolean","example":false,"default":true},"status":{"type":"string","example":"failed"}}},{"type":"object","properties":{"msg":{"type":"string","example":"Invalid access token"},"type":{"type":"string","example":"UNAUTHORIZED"},"success":{"type":"boolean","example":false,"default":true},"status":{"type":"string","example":"failed"}}}]}}}}},"deprecated":false}},"/payment/transfer/autoflow":{"post":{"summary":"Transfer Auto Flow","description":"","operationId":"transfer-auto-flow-1","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"appSecret":{"type":"string","description":"Private token generated at application creation"},"userSecret":{"type":"string","description":"Returned when user authenticates in Dapi system using Connect layer"},"amount":{"type":"integer","description":"Amount of money to be sent. Must be number rounded to up to 2 decimal points.","format":"int32"},"senderID":{"type":"string","description":"An identifier for the bank account the user will send money from  Obtained from the Account - GetAccounts endpoint"},"beneficiary":{"type":"object","description":"OPTIONAL. Details of amount receiver. See description of the object further in the document","properties":{"name":{"type":"string","description":"Name of the beneficiary"},"nickname":{"type":"string","description":"Nickname of the beneficiary"},"accountNumber":{"type":"string","description":"Account number of the beneficiary"},"type":{"type":"string","description":"Type of beneficiary. Can be set to same if the beneficiary's bank is the same as the sender's, local if the beneficiary's bank is in the same country, or intl if the beneficiary's bank is in a different country"},"address":{"type":"object","description":"An object containing the address information of the beneficiary","properties":{}},"country":{"type":"string","description":"Name of the country in all uppercase letters (e.g. “AE”)"},"sortCode":{"type":"string","description":"Financial institution’s sort code"},"branchAddress":{"type":"string","description":"Address of the financial institution’s specific branch"},"bankName":{"type":"string","description":"Name of the financial institution"},"branchName":{"type":"string","description":"Name of the financial institution’s specific branch"},"phoneNumber":{"type":"string","description":"Beneficiary's phone number"},"iban":{"type":"string","description":"Beneficiary's IBAN number"},"swiftCode":{"type":"string","description":"Beneficiary's financial institution's SWIFT code"},"email":{"type":"string","description":"OPTIONAL. Only required for Local transfers in Canada"},"branchCode":{"type":"string","description":"OPTIONAL. Only required for Same bank transfers in Canada"},"addresses":{"type":"array","description":"OPTIONAL. Specify which webhook URL(s) defined in app settings to send data to. If empty, an update will be sent to all defined webhook URL(s)","items":{"type":"string"}}}},"remark":{"type":"string","description":"OPTIONAL. A message associated with the transfer"}}},"examples":{"Request - basic example":{"value":{"appSecret":"00bae841ad979345fca2e2585c000da7eac420504d189cf63315e7a6234d45c68dbd6fff749167292cd1475622805dce7a2b979db3c16e25a2897158ee63845b1043930ff603e19deb1d2d54ad9afc3d52df241d3c4e7286244a2f98a10212e38b2e9f8b0e3a7592702fa4358fb9103b93a26dd6bb92c2be0327ac054f14becc","userSecret":"DSv56dS/PB7QGJI/IGX4qKDhGVhIvQQhWo4zxTDT0gn079JlHnUSSq8NAtavX4fpHj7PGQ74BzVXBO9pFHXdSeLCMnayKLTLD0+zmMu7wfGzy+ZhkYTBe040CXWQ+AYaPhGTzfVWu3Lz6oM2QnqM9X56BbvpC80tN8Zg72VJHWC6YjazdQQ2NK0pl9+ePbmqn7PNjFKLhipgpTl7Hw3kvnLrSIC9AcXzVYQeSWYAv3LAEbECB1aNLXC0glMG2W7L2iLTMwy54wHbXXfSQlK9S6X7wmnZ0tn28H0MwMqWdLLtxvcFyYlMr3E0hqYnK4a5sU0IvF1yJAMHMBCbjw2Trnx2VMuX5IWjdxScfh+8IxWGvKl6RypksJTyNg100H+Q+j0vfKW/bOijFolZgHJtAxUowPlewK9JwoWahkbX2KTGoqQbSCh6KSzaCxdbg7ykNI5n+m6vdoWzGfZGFYjfgMX6aMInAM3b32ZAp9DlfFxRkg3oeoLBuTGTz73E51bZj9mGgD0FxkIXFPIWGx0WyxoYpMEesJeT8phNy0G82Bd7qzWCPGP4gK70jGpqfCWsvj1XZKMMMjReCdUrhtXKB4spQIFi+63WcGV7vDyWQdUTINOhmR8QfZOJoVm+VZgFiqCLI3Aa8AnoYw3UIPiheVjE5lxMulPNIP0QGMR31VY=","amount":1,"senderID":"ntV7rbYoexYaGDRfLCAo8vw1xXgu2VaXXtqvNoMU0sfy6aNErfUEGMD+P6lAlkzu/GKxPeoef7d7eNoxlHKyRw==","beneficiary":{"name":"John Doe","nickname":"John Doe ENBD","address":{"line1":"Baker Street","line2":"Abu Dhabi","line3":"United Arab Emirates"},"country":"AE","branchAddress":"Deira","branchName":"Main Branch","phoneNumber":"1234567890","swiftCode":"FGBMAEAA","iban":"AE770351001004432453627","accountNumber":"1001004437564656","type":"same","bankName":"ENBD"}}},"Request - for banks that require a beneficiary":{"value":{"appSecret":"00bae841ad979345fca2e2585c000da7eac420504d189cf63315e7a6234d45c68dbd6fff749167292cd1475622805dce7a2b979db3c16e25a2897158ee63845b1043930ff603e19deb1d2d54ad9afc3d52df241d3c4e7286244a2f98a10212e38b2e9f8b0e3a7592702fa4358fb9103b93a26dd6bb92c2be0327ac054f14becc","userSecret":"DSv56dS/PB7QGJI/IGX4qKDhGVhIvQQhWo4zxTDT0gn079JlHnUSSq8NAtavX4fpHj7PGQ74BzVXBO9pFHXdSeLCMnayKLTLD0+zmMu7wfGzy+ZhkYTBe040CXWQ+AYaPhGTzfVWu3Lz6oM2QnqM9X56BbvpC80tN8Zg72VJHWC6YjazdQQ2NK0pl9+ePbmqn7PNjFKLhipgpTl7Hw3kvnLrSIC9AcXzVYQeSWYAv3LAEbECB1aNLXC0glMG2W7L2iLTMwy54wHbXXfSQlK9S6X7wmnZ0tn28H0MwMqWdLLtxvcFyYlMr3E0hqYnK4a5sU0IvF1yJAMHMBCbjw2Trnx2VMuX5IWjdxScfh+8IxWGvKl6RypksJTyNg100H+Q+j0vfKW/bOijFolZgHJtAxUowPlewK9JwoWahkbX2KTGoqQbSCh6KSzaCxdbg7ykNI5n+m6vdoWzGfZGFYjfgMX6aMInAM3b32ZAp9DlfFxRkg3oeoLBuTGTz73E51bZj9mGgD0FxkIXFPIWGx0WyxoYpMEesJeT8phNy0G82Bd7qzWCPGP4gK70jGpqfCWsvj1XZKMMMjReCdUrhtXKB4spQIFi+63WcGV7vDyWQdUTINOhmR8QfZOJoVm+VZgFiqCLI3Aa8AnoYw3UIPiheVjE5lxMulPNIP0QGMR31VY=","amount":1,"senderID":"ntV7rbYoexYaGDRfLCAo8vw1xXgu2VaXXtqvNoMU0sfy6aNErfUEGMD+P6lAlkzu/GKxPeoef7d7eNoxlHKyRw==","beneficiary":{"name":"John Doe","nickname":"John Doe ENBD","address":{"line1":"Baker Street","line2":"Abu Dhabi","line3":"United Arab Emirates"},"country":"AE","branchAddress":"Deira","branchName":"Main Branch","swiftCode":"FGBMAEAA","iban":"AE770351001004432453627","accountNumber":"1001004437564656","bankName":"ENBD"}}},"Request - invalid senderID specified":{"value":{"appSecret":"00bae841ad979345fca2e2585c000da7eac420504d189cf63315e7a6234d45c68dbd6fff749167292cd1475622805dce7a2b979db3c16e25a2897158ee63845b1043930ff603e19deb1d2d54ad9afc3d52df241d3c4e7286244a2f98a10212e38b2e9f8b0e3a7592702fa4358fb9103b93a26dd6bb92c2be0327ac054f14becc","userSecret":"DSv56dS/PB7QGJI/IGX4qKDhGVhIvQQhWo4zxTDT0gn079JlHnUSSq8NAtavX4fpHj7PGQ74BzVXBO9pFHXdSeLCMnayKLTLD0+zmMu7wfGzy+ZhkYTBe040CXWQ+AYaPhGTzfVWu3Lz6oM2QnqM9X56BbvpC80tN8Zg72VJHWC6YjazdQQ2NK0pl9+ePbmqn7PNjFKLhipgpTl7Hw3kvnLrSIC9AcXzVYQeSWYAv3LAEbECB1aNLXC0glMG2W7L2iLTMwy54wHbXXfSQlK9S6X7wmnZ0tn28H0MwMqWdLLtxvcFyYlMr3E0hqYnK4a5sU0IvF1yJAMHMBCbjw2Trnx2VMuX5IWjdxScfh+8IxWGvKl6RypksJTyNg100H+Q+j0vfKW/bOijFolZgHJtAxUowPlewK9JwoWahkbX2KTGoqQbSCh6KSzaCxdbg7ykNI5n+m6vdoWzGfZGFYjfgMX6aMInAM3b32ZAp9DlfFxRkg3oeoLBuTGTz73E51bZj9mGgD0FxkIXFPIWGx0WyxoYpMEesJeT8phNy0G82Bd7qzWCPGP4gK70jGpqfCWsvj1XZKMMMjReCdUrhtXKB4spQIFi+63WcGV7vDyWQdUTINOhmR8QfZOJoVm+VZgFiqCLI3Aa8AnoYw3UIPiheVjE5lxMulPNIP0QGMR31VY=","senderID":"invalid_sender_id","amount":1}},"Request - invalid token specified":{"value":{"appSecret":"00bae841ad979345fca2e2585c000da7eac420504d189cf63315e7a6234d45c68dbd6fff749167292cd1475622805dce7a2b979db3c16e25a2897158ee63845b1043930ff603e19deb1d2d54ad9afc3d52df241d3c4e7286244a2f98a10212e38b2e9f8b0e3a7592702fa4358fb9103b93a26dd6bb92c2be0327ac054f14becc","userSecret":"DSv56dS/PB7QGJI/IGX4qKDhGVhIvQQhWo4zxTDT0gn079JlHnUSSq8NAtavX4fpHj7PGQ74BzVXBO9pFHXdSeLCMnayKLTLD0+zmMu7wfGzy+ZhkYTBe040CXWQ+AYaPhGTzfVWu3Lz6oM2QnqM9X56BbvpC80tN8Zg72VJHWC6YjazdQQ2NK0pl9+ePbmqn7PNjFKLhipgpTl7Hw3kvnLrSIC9AcXzVYQeSWYAv3LAEbECB1aNLXC0glMG2W7L2iLTMwy54wHbXXfSQlK9S6X7wmnZ0tn28H0MwMqWdLLtxvcFyYlMr3E0hqYnK4a5sU0IvF1yJAMHMBCbjw2Trnx2VMuX5IWjdxScfh+8IxWGvKl6RypksJTyNg100H+Q+j0vfKW/bOijFolZgHJtAxUowPlewK9JwoWahkbX2KTGoqQbSCh6KSzaCxdbg7ykNI5n+m6vdoWzGfZGFYjfgMX6aMInAM3b32ZAp9DlfFxRkg3oeoLBuTGTz73E51bZj9mGgD0FxkIXFPIWGx0WyxoYpMEesJeT8phNy0G82Bd7qzWCPGP4gK70jGpqfCWsvj1XZKMMMjReCdUrhtXKB4spQIFi+63WcGV7vDyWQdUTINOhmR8QfZOJoVm+VZgFiqCLI3Aa8AnoYw3UIPiheVjE5lxMulPNIP0QGMR31VY=","amount":1,"senderID":"ntV7rbYoexYaGDRfLCAo8vw1xXgu2VaXXtqvNoMU0sfy6aNErfUEGMD+P6lAlkzu/GKxPeoef7d7eNoxlHKyRw==","beneficiary":{"name":"John Doe","nickname":"John Doe ENBD","address":{"line1":"Baker Street","line2":"Abu Dhabi","line3":"United Arab Emirates"},"country":"AE","branchAddress":"Deira","branchName":"Main Branch","swiftCode":"FGBMAEAA","iban":"AE770351001004432453627","accountNumber":"1001004437564656","bankName":"ENBD"}}},"Request - token is not passed":{"value":{"appSecret":"00bae841ad979345fca2e2585c000da7eac420504d189cf63315e7a6234d45c68dbd6fff749167292cd1475622805dce7a2b979db3c16e25a2897158ee63845b1043930ff603e19deb1d2d54ad9afc3d52df241d3c4e7286244a2f98a10212e38b2e9f8b0e3a7592702fa4358fb9103b93a26dd6bb92c2be0327ac054f14becc","userSecret":"DSv56dS/PB7QGJI/IGX4qKDhGVhIvQQhWo4zxTDT0gn079JlHnUSSq8NAtavX4fpHj7PGQ74BzVXBO9pFHXdSeLCMnayKLTLD0+zmMu7wfGzy+ZhkYTBe040CXWQ+AYaPhGTzfVWu3Lz6oM2QnqM9X56BbvpC80tN8Zg72VJHWC6YjazdQQ2NK0pl9+ePbmqn7PNjFKLhipgpTl7Hw3kvnLrSIC9AcXzVYQeSWYAv3LAEbECB1aNLXC0glMG2W7L2iLTMwy54wHbXXfSQlK9S6X7wmnZ0tn28H0MwMqWdLLtxvcFyYlMr3E0hqYnK4a5sU0IvF1yJAMHMBCbjw2Trnx2VMuX5IWjdxScfh+8IxWGvKl6RypksJTyNg100H+Q+j0vfKW/bOijFolZgHJtAxUowPlewK9JwoWahkbX2KTGoqQbSCh6KSzaCxdbg7ykNI5n+m6vdoWzGfZGFYjfgMX6aMInAM3b32ZAp9DlfFxRkg3oeoLBuTGTz73E51bZj9mGgD0FxkIXFPIWGx0WyxoYpMEesJeT8phNy0G82Bd7qzWCPGP4gK70jGpqfCWsvj1XZKMMMjReCdUrhtXKB4spQIFi+63WcGV7vDyWQdUTINOhmR8QfZOJoVm+VZgFiqCLI3Aa8AnoYw3UIPiheVjE5lxMulPNIP0QGMR31VY=","amount":1,"senderID":"ntV7rbYoexYaGDRfLCAo8vw1xXgu2VaXXtqvNoMU0sfy6aNErfUEGMD+P6lAlkzu/GKxPeoef7d7eNoxlHKyRw==","beneficiary":{"name":"John Doe","nickname":"John Doe ENBD","address":{"line1":"Baker Street","line2":"Abu Dhabi","line3":"United Arab Emirates"},"country":"AE","branchAddress":"Deira","branchName":"Main Branch","swiftCode":"FGBMAEAA","iban":"AE770351001004432453627","accountNumber":"1001004437564656","bankName":"ENBD"}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Response - when user input is required":{"value":"{\n    \"operationID\": \"32d05c2e-e1c3-458c-a59f-209488629f16\",\n    \"success\": true,\n    \"status\": \"user_input_required\",\n    \"userInputs\": [\n    {\n      \"answer\": \"\",\n      \"id\": \"otp\",\n      \"index\": 0,\n      \"query\": \"Please enter a Smart Pass Token from your ENBD mobile application\"\n    }\n    ]\n}"},"Response - basic example, retail bank":{"value":"{\n    \"operationID\": \"74521eb4-34e3-4b49-9161-0edfe4683be7\",\n    \"success\": true,\n    \"status\": \"done\",\n    \"reference\": \"119421587\",\n    \"remark\": \"ABC123\"\n}"},"Response - for banks that require a beneficiary":{"value":"{\n    \"operationID\": \"74521eb4-34e3-4b49-9161-0edfe4683be7\",\n    \"success\": true,\n    \"status\": \"done\",\n    \"reference\": \"119421587\",\n    \"remark\": \"ABC123\"\n}"}},"schema":{"oneOf":[{"title":"Response - basic example, business bank","type":"object","properties":{"operationID":{"type":"string","example":"74521eb4-34e3-4b49-9161-0edfe4683be7"},"success":{"type":"boolean","example":true,"default":true},"status":{"type":"string","example":"done"},"reference":{"type":"string","example":"119421587"},"remark":{"type":"string","example":"ABC123"}}},{"title":"Response - for banks that require a beneficiary","type":"object","properties":{"operationID":{"type":"string","example":"74521eb4-34e3-4b49-9161-0edfe4683be7"},"success":{"type":"boolean","example":true,"default":true},"status":{"type":"string","example":"done"},"reference":{"type":"string","example":"119421587"},"remark":{"type":"string","example":"ABC123"}}},{"title":"Response - when user input is required","type":"object","properties":{"operationID":{"type":"string","example":"32d05c2e-e1c3-458c-a59f-209488629f16"},"success":{"type":"boolean","example":true,"default":true},"status":{"type":"string","example":"user_input_required"},"userInputs":{"type":"array","items":{"type":"object","properties":{"answer":{"type":"string","example":""},"id":{"type":"string","example":"otp"},"index":{"type":"integer","example":0,"default":0},"query":{"type":"string","example":"Please enter a Smart Pass Token from your ENBD mobile application"}}}}}}]}},"text/plain":{"examples":{"Response - basic example, business bank":{"value":"{\n    \"operationID\": \"74521eb4-34e3-4b49-9161-0edfe4683be7\",\n    \"success\": true,\n    \"status\": \"done\",\n    \"reference\": \"119421587\",\n    \"accessType\": \"maker\",\n    \"remark\": \"ABC123\"\n}"}},"schema":{"type":"object","properties":{"operationID":{"type":"string","example":"74521eb4-34e3-4b49-9161-0edfe4683be7"},"success":{"type":"boolean","example":true,"default":true},"status":{"type":"string","example":"done"},"reference":{"type":"string","example":"119421587"},"accessType":{"type":"string","example":"maker"},"remark":{"type":"string","example":"ABC123"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Response (Beneficiary Cool Down) - missing mandatory parameters":{"value":"{\n    \"operationID\": \"DAPIBANK_AE_LIV:8a17fac5-xxxx-47b2-9b87-5d544fd993d9\",\n    \"success\": false,\n    \"status\": \"failed\",\n    \"type\": \"BENEFICIARY_COOL_DOWN_PERIOD\",\n    \"msg\": \"You are attempting a transfer to a newly added beneficiary. Please try to make the transfer again after 6 hours.\",\n    \"coolDownPeriod\": {\n        \"value\": 6,\n        \"unit\": \"hrs\"\n    }\n}"},"Response - invalid senderID specified":{"value":"{\n    \"operationID\": \"EBILAEAD_L:6b859dba-8ea1-43fc-b913-f9c3ed5039a8\",\n    \"msg\": \"Account ID is invalid.\",\n    \"type\": \"INVALID_ACCOUNT_ID\",\n    \"success\": false,\n    \"status\": \"failed\"\n}"},"Response - invalid token specified":{"value":"{\n  \"success\": false,\n  \"status\": \"failed\",\n  \"msg\": \"Invalid/expired token or invalid secret\"\n}"},"Response - token is not passed":{"value":"{\n  \"success\": false,\n  \"status\": \"failed\",\n  \"msg\": \"The 'jwt' field is required.\",\n  \"type\": \"VALIDATION_ERROR\"\n}"}},"schema":{"oneOf":[{"title":"Response (Beneficiary Cool Down) - missing mandatory parameters","type":"object","properties":{"operationID":{"type":"string","example":"DAPIBANK_AE_LIV:8a17fac5-xxxx-47b2-9b87-5d544fd993d9"},"success":{"type":"boolean","example":false,"default":true},"status":{"type":"string","example":"failed"},"type":{"type":"string","example":"BENEFICIARY_COOL_DOWN_PERIOD"},"msg":{"type":"string","example":"You are attempting a transfer to a newly added beneficiary. Please try to make the transfer again after 6 hours."},"coolDownPeriod":{"type":"object","properties":{"value":{"type":"integer","example":6,"default":0},"unit":{"type":"string","example":"hrs"}}}}},{"title":"Response - invalid senderID specified","type":"object","properties":{"operationID":{"type":"string","example":"EBILAEAD_L:6b859dba-8ea1-43fc-b913-f9c3ed5039a8"},"msg":{"type":"string","example":"Account ID is invalid."},"type":{"type":"string","example":"INVALID_ACCOUNT_ID"},"success":{"type":"boolean","example":false,"default":true},"status":{"type":"string","example":"failed"}}},{"title":"Response - invalid token specified","type":"object","properties":{"success":{"type":"boolean","example":false,"default":true},"status":{"type":"string","example":"failed"},"msg":{"type":"string","example":"Invalid/expired token or invalid secret"}}},{"title":"Response - token is not passed","type":"object","properties":{"success":{"type":"boolean","example":false,"default":true},"status":{"type":"string","example":"failed"},"msg":{"type":"string","example":"The 'jwt' field is required."},"type":{"type":"string","example":"VALIDATION_ERROR"}}}]}}}}},"deprecated":false}},"/payment/beneficiaries/get":{"post":{"summary":"Get Beneficiaries","description":"","operationId":"get-beneficiaries-1","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"appSecret":{"type":"string","description":"Private token generated at application creation"},"userSecret":{"type":"string","description":"Encrypted version of the userKey"}}},"examples":{"Request - basic example":{"value":{"appSecret":"00bae841ad979345fca2e2585c000da7eac420504d189cf63315e7a6234d45c68dbd6fff749167292cd1475622805dce7a2b979db3c16e25a2897158ee63845b1043930ff603e19deb1d2d54ad9afc3d52df241d3c4e7286244a2f98a10212e38b2e9f8b0e3a7592702fa4358fb9103b93a26dd6bb92c2be0327ac054f14becc","userSecret":"DSv56dS/PB7QGJI/IGX4qKDhGVhIvQQhWo4zxTDT0gn079JlHnUSSq8NAtavX4fpHj7PGQ74BzVXBO9pFHXdSeLCMnayKLTLD0+zmMu7wfGzy+ZhkYTBe040CXWQ+AYaPhGTzfVWu3Lz6oM2QnqM9X56BbvpC80tN8Zg72VJHWC6YjazdQQ2NK0pl9+ePbmqn7PNjFKLhipgpTl7Hw3kvnLrSIC9AcXzVYQeSWYAv3LAEbECB1aNLXC0glMG2W7L2iLTMwy54wHbXXfSQlK9S6X7wmnZ0tn28H0MwMqWdLLtxvcFyYlMr3E0hqYnK4a5sU0IvF1yJAMHMBCbjw2Trnx2VMuX5IWjdxScfh+8IxWGvKl6RypksJTyNg100H+Q+j0vfKW/bOijFolZgHJtAxUowPlewK9JwoWahkbX2KTGoqQbSCh6KSzaCxdbg7ykNI5n+m6vdoWzGfZGFYjfgMX6aMInAM3b32ZAp9DlfFxRkg3oeoLBuTGTz73E51bZj9mGgD0FxkIXFPIWGx0WyxoYpMEesJeT8phNy0G82Bd7qzWCPGP4gK70jGpqfCWsvj1XZKMMMjReCdUrhtXKB4spQIFi+63WcGV7vDyWQdUTINOhmR8QfZOJoVm+VZgFiqCLI3Aa8AnoYw3UIPiheVjE5lxMulPNIP0QGMR31VY="}},"Request - example, sucessful":{"value":{"appSecret":"00bae841ad979345fca2e2585c000da7eac420504d189cf63315e7a6234d45c68dbd6fff749167292cd1475622805dce7a2b979db3c16e25a2897158ee63845b1043930ff603e19deb1d2d54ad9afc3d52df241d3c4e7286244a2f98a10212e38b2e9f8b0e3a7592702fa4358fb9103b93a26dd6bb92c2be0327ac054f14becc","userSecret":"DSv56dS/PB7QGJI/IGX4qKDhGVhIvQQhWo4zxTDT0gn079JlHnUSSq8NAtavX4fpHj7PGQ74BzVXBO9pFHXdSeLCMnayKLTLD0+zmMu7wfGzy+ZhkYTBe040CXWQ+AYaPhGTzfVWu3Lz6oM2QnqM9X56BbvpC80tN8Zg72VJHWC6YjazdQQ2NK0pl9+ePbmqn7PNjFKLhipgpTl7Hw3kvnLrSIC9AcXzVYQeSWYAv3LAEbECB1aNLXC0glMG2W7L2iLTMwy54wHbXXfSQlK9S6X7wmnZ0tn28H0MwMqWdLLtxvcFyYlMr3E0hqYnK4a5sU0IvF1yJAMHMBCbjw2Trnx2VMuX5IWjdxScfh+8IxWGvKl6RypksJTyNg100H+Q+j0vfKW/bOijFolZgHJtAxUowPlewK9JwoWahkbX2KTGoqQbSCh6KSzaCxdbg7ykNI5n+m6vdoWzGfZGFYjfgMX6aMInAM3b32ZAp9DlfFxRkg3oeoLBuTGTz73E51bZj9mGgD0FxkIXFPIWGx0WyxoYpMEesJeT8phNy0G82Bd7qzWCPGP4gK70jGpqfCWsvj1XZKMMMjReCdUrhtXKB4spQIFi+63WcGV7vDyWQdUTINOhmR8QfZOJoVm+VZgFiqCLI3Aa8AnoYw3UIPiheVjE5lxMulPNIP0QGMR31VY="}},"Request - when user input is required":{"value":{"appSecret":"00bae841ad979345fca2e2585c000da7eac420504d189cf63315e7a6234d45c68dbd6fff749167292cd1475622805dce7a2b979db3c16e25a2897158ee63845b1043930ff603e19deb1d2d54ad9afc3d52df241d3c4e7286244a2f98a10212e38b2e9f8b0e3a7592702fa4358fb9103b93a26dd6bb92c2be0327ac054f14becc","userSecret":"DSv56dS/PB7QGJI/IGX4qKDhGVhIvQQhWo4zxTDT0gn079JlHnUSSq8NAtavX4fpHj7PGQ74BzVXBO9pFHXdSeLCMnayKLTLD0+zmMu7wfGzy+ZhkYTBe040CXWQ+AYaPhGTzfVWu3Lz6oM2QnqM9X56BbvpC80tN8Zg72VJHWC6YjazdQQ2NK0pl9+ePbmqn7PNjFKLhipgpTl7Hw3kvnLrSIC9AcXzVYQeSWYAv3LAEbECB1aNLXC0glMG2W7L2iLTMwy54wHbXXfSQlK9S6X7wmnZ0tn28H0MwMqWdLLtxvcFyYlMr3E0hqYnK4a5sU0IvF1yJAMHMBCbjw2Trnx2VMuX5IWjdxScfh+8IxWGvKl6RypksJTyNg100H+Q+j0vfKW/bOijFolZgHJtAxUowPlewK9JwoWahkbX2KTGoqQbSCh6KSzaCxdbg7ykNI5n+m6vdoWzGfZGFYjfgMX6aMInAM3b32ZAp9DlfFxRkg3oeoLBuTGTz73E51bZj9mGgD0FxkIXFPIWGx0WyxoYpMEesJeT8phNy0G82Bd7qzWCPGP4gK70jGpqfCWsvj1XZKMMMjReCdUrhtXKB4spQIFi+63WcGV7vDyWQdUTINOhmR8QfZOJoVm+VZgFiqCLI3Aa8AnoYw3UIPiheVjE5lxMulPNIP0QGMR31VY="}},"Failed Request - invalid JSON body":{"value":{"appSecret":"00bae841ad979345fca2e2585c000da7eac420504d189cf63315e7a6234d45c68dbd6fff749167292cd1475622805dce7a2b979db3c16e25a2897158ee63845b1043930ff603e19deb1d2d54ad9afc3d52df241d3c4e7286244a2f98a10212e38b2e9f8b0e3a7592702fa4358fb9103b93a26dd6bb92c2be0327ac054f14becc","userSecret":"DSv56dS/PB7QGJI/IGX4qKDhGVhIvQQhWo4zxTDT0gn079JlHnUSSq8NAtavX4fpHj7PGQ74BzVXBO9pFHXdSeLCMnayKLTLD0+zmMu7wfGzy+ZhkYTBe040CXWQ+AYaPhGTzfVWu3Lz6oM2QnqM9X56BbvpC80tN8Zg72VJHWC6YjazdQQ2NK0pl9+ePbmqn7PNjFKLhipgpTl7Hw3kvnLrSIC9AcXzVYQeSWYAv3LAEbECB1aNLXC0glMG2W7L2iLTMwy54wHbXXfSQlK9S6X7wmnZ0tn28H0MwMqWdLLtxvcFyYlMr3E0hqYnK4a5sU0IvF1yJAMHMBCbjw2Trnx2VMuX5IWjdxScfh+8IxWGvKl6RypksJTyNg100H+Q+j0vfKW/bOijFolZgHJtAxUowPlewK9JwoWahkbX2KTGoqQbSCh6KSzaCxdbg7ykNI5n+m6vdoWzGfZGFYjfgMX6aMInAM3b32ZAp9DlfFxRkg3oeoLBuTGTz73E51bZj9mGgD0FxkIXFPIWGx0WyxoYpMEesJeT8phNy0G82Bd7qzWCPGP4gK70jGpqfCWsvj1XZKMMMjReCdUrhtXKB4spQIFi+63WcGV7vDyWQdUTINOhmR8QfZOJoVm+VZgFiqCLI3Aa8AnoYw3UIPiheVjE5lxMulPNIP0QGMR31VY="}},"Failed Request - invalid secret specified":{"value":{"appSecret":"invaid_secret","userSecret":"DSv56dS/PB7QGJI/IGX4qKDhGVhIvQQhWo4zxTDT0gn079JlHnUSSq8NAtavX4fpHj7PGQ74BzVXBO9pFHXdSeLCMnayKLTLD0+zmMu7wfGzy+ZhkYTBe040CXWQ+AYaPhGTzfVWu3Lz6oM2QnqM9X56BbvpC80tN8Zg72VJHWC6YjazdQQ2NK0pl9+ePbmqn7PNjFKLhipgpTl7Hw3kvnLrSIC9AcXzVYQeSWYAv3LAEbECB1aNLXC0glMG2W7L2iLTMwy54wHbXXfSQlK9S6X7wmnZ0tn28H0MwMqWdLLtxvcFyYlMr3E0hqYnK4a5sU0IvF1yJAMHMBCbjw2Trnx2VMuX5IWjdxScfh+8IxWGvKl6RypksJTyNg100H+Q+j0vfKW/bOijFolZgHJtAxUowPlewK9JwoWahkbX2KTGoqQbSCh6KSzaCxdbg7ykNI5n+m6vdoWzGfZGFYjfgMX6aMInAM3b32ZAp9DlfFxRkg3oeoLBuTGTz73E51bZj9mGgD0FxkIXFPIWGx0WyxoYpMEesJeT8phNy0G82Bd7qzWCPGP4gK70jGpqfCWsvj1XZKMMMjReCdUrhtXKB4spQIFi+63WcGV7vDyWQdUTINOhmR8QfZOJoVm+VZgFiqCLI3Aa8AnoYw3UIPiheVjE5lxMulPNIP0QGMR31VY="}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Response - basic example":{"value":"{\n    \"operationID\": \"c90da2a2-18fa-4ae8-afe0-73f2aa4fc7de\",\n    \"success\": true,\n    \"status\": \"done\",\n    \"beneficiaries\": [\n        {\n            \"name\": \"Aziz Ahmad\",\n            \"iban\": \"FTQ72AEDB20201555555893\",\n            \"accountNumber\": \"0201555555893\",\n            \"type\": \"same\",\n            \"status\": \"approved\",\n            \"id\": \"CqOWurgxKH5KkrGwtg3jM1U0/MOj9BLYvgQx0DFrClAxwtynwEYHs0FxX/tFPM4kYav0wgGtdiliF3GPMsLwLw==\"\n        }\n    ]\n}"},"Request - example, sucessful":{"value":"{\n    \"operationID\": \"c90da2a2-18fa-4ae8-afe0-73f2aa4fc7de\",\n    \"success\": true,\n    \"status\": \"done\",\n    \"beneficiaries\": [\n        {\n            \"name\": \"john doe\",\n            \"iban\": \"ASQ72AEDB20123155555893\",\n            \"accountNumber\": \"0201555555893\",\n            \"type\": \"same\",\n            \"status\": \"approved\",\n            \"id\": \"CqOWasd2KH5KkrGwtg3jM1U0/MOj9BLYvgQx0DFrClAxwtasd2EYHs0FxX/tFPM4kYav0wgGtdiliF3GPMsLwLw==\"\n        }\n    ]\n}"},"Response - when user input is required":{"value":"{\n    \"operationID\": \"47204fa6-dca6-44a5-8111-6c6489a232a2\",\n    \"success\": true,\n    \"status\": \"user_input_required\",\n    \"userInputs\": [\n    {\n      \"answer\": \"\",\n      \"id\": \"otp\",\n      \"index\": 0,\n      \"query\": \"Please enter a Smart Pass Token from your ENBD mobile application\"\n    }\n    ]\n}"}},"schema":{"oneOf":[{"title":"Response - basic example","type":"object","properties":{"operationID":{"type":"string","example":"c90da2a2-18fa-4ae8-afe0-73f2aa4fc7de"},"success":{"type":"boolean","example":true,"default":true},"status":{"type":"string","example":"done"},"beneficiaries":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"Aziz Ahmad"},"iban":{"type":"string","example":"FTQ72AEDB20201555555893"},"accountNumber":{"type":"string","example":"0201555555893"},"type":{"type":"string","example":"same"},"status":{"type":"string","example":"approved"},"id":{"type":"string","example":"CqOWurgxKH5KkrGwtg3jM1U0/MOj9BLYvgQx0DFrClAxwtynwEYHs0FxX/tFPM4kYav0wgGtdiliF3GPMsLwLw=="}}}}}},{"title":"Request - example, sucessful","type":"object","properties":{"operationID":{"type":"string","example":"c90da2a2-18fa-4ae8-afe0-73f2aa4fc7de"},"success":{"type":"boolean","example":true,"default":true},"status":{"type":"string","example":"done"},"beneficiaries":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"john doe"},"iban":{"type":"string","example":"ASQ72AEDB20123155555893"},"accountNumber":{"type":"string","example":"0201555555893"},"type":{"type":"string","example":"same"},"status":{"type":"string","example":"approved"},"id":{"type":"string","example":"CqOWasd2KH5KkrGwtg3jM1U0/MOj9BLYvgQx0DFrClAxwtasd2EYHs0FxX/tFPM4kYav0wgGtdiliF3GPMsLwLw=="}}}}}},{"title":"Response - when user input is required","type":"object","properties":{"operationID":{"type":"string","example":"47204fa6-dca6-44a5-8111-6c6489a232a2"},"success":{"type":"boolean","example":true,"default":true},"status":{"type":"string","example":"user_input_required"},"userInputs":{"type":"array","items":{"type":"object","properties":{"answer":{"type":"string","example":""},"id":{"type":"string","example":"otp"},"index":{"type":"integer","example":0,"default":0},"query":{"type":"string","example":"Please enter a Smart Pass Token from your ENBD mobile application"}}}}}}]}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Failed Response - invalid JSON body":{"value":"{\n  \"msg\": \"Invalid JSON request\",\n  \"type\": \"BAD_REQUEST\",\n  \"success\": false,\n  \"status\": \"failed\"\n}"},"Failed Response - invalid secret specified":{"value":"{\n  \"msg\": \"Invalid access token\",\n  \"type\": \"UNAUTHORIZED\",\n  \"success\": false,\n  \"status\": \"failed\"\n}"}},"schema":{"oneOf":[{"title":"Failed Response - invalid JSON body","type":"object","properties":{"msg":{"type":"string","example":"Invalid JSON request"},"type":{"type":"string","example":"BAD_REQUEST"},"success":{"type":"boolean","example":false,"default":true},"status":{"type":"string","example":"failed"}}},{"title":"Failed Response - invalid secret specified","type":"object","properties":{"msg":{"type":"string","example":"Invalid access token"},"type":{"type":"string","example":"UNAUTHORIZED"},"success":{"type":"boolean","example":false,"default":true},"status":{"type":"string","example":"failed"}}}]}}}}},"deprecated":false}},"/payment/beneficiaries/create":{"post":{"summary":"Create Beneficiaries","description":"","operationId":"create-beneficiaries","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"appSecret":{"type":"string","description":"Private token generated at application creation"},"userSecret":{"type":"string","description":"Encrypted version of the userKey"},"name":{"type":"string","description":"Name of the beneficiary"},"nickname":{"type":"string","description":"Nickname of the beneficiary"},"accountNumber":{"type":"string","description":"Account number of the beneficiary"},"type":{"type":"string","description":"Type of beneficiary. E.g. \"same\" - beneficiary's bank is the same as the sender's, \"local\" - beneficiary's bank is in the same country, \"intl\" - beneficiary's bank is in a different country. For further explanation see Beneficiary Types","enum":["same","local","intl"]},"address":{"type":"object","description":"An object containing the address information of the beneficiary","properties":{"line1":{"type":"string","description":"Street name and number  Note: value should not contain any commas or special characters"},"line2":{"type":"string","description":"City name  Note: value should not contain any commas or special characters"},"line3":{"type":"string","description":"Country name  Note: value should not contain any commas or special characters"}}},"country":{"type":"string","description":"Name of the country in all uppercase letters (e.g. “AE”)"},"branchAddress":{"type":"string","description":"Address of the financial institution’s specific branch"},"bankName":{"type":"string","description":"Name of the financial institution"},"branchName":{"type":"string","description":"Name of the financial institution’s specific branch"},"phoneNumber":{"type":"string","description":"Beneficiary's phone number"},"iban":{"type":"string","description":"Beneficiary's IBAN number"},"swiftCode":{"type":"string","description":"Beneficiary's financial institution's SWIFT code"},"sortCode":{"type":"string","description":"OPTIONAL. Financial institution’s sort code"}}},"examples":{"Request - example":{"value":{"appSecret":"{{app_secret}}","userSecret":"{{user_secret}}","type":"local","swiftCode":"NBSHAEAS","sortCode":" 123456","bankName":"Sharjah Islamic Bank","name":"AbdulRahman Darooqi Farooqi","nickname":"AbdulRahman SIB","iban":"AE360410000033417426040","accountNumber":"","country":"AE","branchName":"American university of sharjah","branchAddress":"AUS","address":{"line1":"AUS","line2":"University City","line3":"Sharjah"}}},"Request - example, successful":{"value":{"appSecret":"{{app_secret}}","userSecret":"{{user_secret}}","type":"local","swiftCode":"NBSHAEAS","sortCode":" 123456","bankName":"Sharjah Islamic Bank","name":"AbdulRahman Darooqi Farooqi","nickname":"AbdulRahman SIB","iban":"AE360410000033417426040","accountNumber":"","country":"AE","branchName":"American university of sharjah","branchAddress":"AUS","address":{"line1":"AUS","line2":"University City","line3":"Sharjah"}}},"Request - when user input is required":{"value":{"appSecret":"{{app_secret}}","userSecret":"{{user_secret}}","type":"local","swiftCode":"NBSHAEAS","sortCode":" 123456","bankName":"Sharjah Islamic Bank","name":"AbdulRahman Darooqi Farooqi","nickname":"AbdulRahman SIB","iban":"AE360410000033417426040","accountNumber":"","country":"AE","branchName":"American university of sharjah","branchAddress":"AUS","address":{"line1":"AUS","line2":"University City","line3":"Sharjah"}}},"Failed Request - invalid key":{"value":{"appSecret":"Invalid_Key","userSecret":"Invalid_secret","type":"local","bankName":"Sharjah Islamic Bank","name":"AbdulRahman Darooqi Farooqi","nickname":"AbdulRahman SIB","iban":"AE360410000033417426040","country":"AE","branchName":"American university of sharjah","branchAddress":"AUS","address":{"line1":"AUS","line2":"University City","line3":"Sharjah"}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Response - example":{"value":"{\n    \"operationID\": \"3b74fcb5-56c2-4664-a010-39769ebfbcec\",\n    \"success\": true,\n    \"status\": \"done\"\n}"},"Response - example, successful":{"value":"{\n    \"operationID\": \"3b74fcb5-56c2-4664-a010-39769ebfbcec\",\n    \"success\": true,\n    \"status\": \"done\"\n}"},"Response - when user input is required":{"value":"{\n    \"operationID\": \"47204fa6-dca6-44a5-8111-6c6489a232a2\",\n    \"success\": true,\n    \"status\": \"user_input_required\",\n    \"userInputs\": [\n     {\n      \"answer\": \"\",\n      \"id\": \"otp\",\n      \"index\": 0,\n      \"query\": \"Please enter a Smart Pass Token from your ENBD mobile application\"\n    }\n    ]\n}"}},"schema":{"oneOf":[{"title":"Response - example","type":"object","properties":{"operationID":{"type":"string","example":"3b74fcb5-56c2-4664-a010-39769ebfbcec"},"success":{"type":"boolean","example":true,"default":true},"status":{"type":"string","example":"done"}}},{"title":"Response - example, successful","type":"object","properties":{"operationID":{"type":"string","example":"3b74fcb5-56c2-4664-a010-39769ebfbcec"},"success":{"type":"boolean","example":true,"default":true},"status":{"type":"string","example":"done"}}},{"title":"Response - when user input is required","type":"object","properties":{"operationID":{"type":"string","example":"47204fa6-dca6-44a5-8111-6c6489a232a2"},"success":{"type":"boolean","example":true,"default":true},"status":{"type":"string","example":"user_input_required"},"userInputs":{"type":"array","items":{"type":"object","properties":{"answer":{"type":"string","example":""},"id":{"type":"string","example":"otp"},"index":{"type":"integer","example":0,"default":0},"query":{"type":"string","example":"Please enter a Smart Pass Token from your ENBD mobile application"}}}}}}]}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"},"Failed Response - example":{"value":"{\n  \"msg\": \"Invalid access token\",\n  \"type\": \"UNAUTHORIZED\",\n  \"success\": false,\n  \"status\": \"failed\"\n}"},"Failed Response - invalid key":{"value":"{\n  \"msg\": \"Invalid access token\",\n  \"type\": \"UNAUTHORIZED\",\n  \"success\": false,\n  \"status\": \"failed\"\n}"}},"schema":{"oneOf":[{"type":"object","properties":{}},{"title":"Failed Response - example","type":"object","properties":{"msg":{"type":"string","example":"Invalid access token"},"type":{"type":"string","example":"UNAUTHORIZED"},"success":{"type":"boolean","example":false,"default":true},"status":{"type":"string","example":"failed"}}},{"title":"Failed Response - invalid key","type":"object","properties":{"msg":{"type":"string","example":"Invalid access token"},"type":{"type":"string","example":"UNAUTHORIZED"},"success":{"type":"boolean","example":false,"default":true},"status":{"type":"string","example":"failed"}}}]}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"text","code":"{\n    \"appSecret\": \"{{app_secret}}\",\n    \"userSecret\": \"{{user_secret}}\",\n    \"type\": \"local\",\n    \"bankName\": \"Sharjah Islamic Bank\",\n    \"name\": \"AbdulRahman Darooqi Farooqi\",\n    \"nickname\": \"AbdulRahman SIB\",\n    \"iban\": \"AE360410000033417426040\",\n    \"country\": \"AE\",\n    \"branchName\": \"American university of sharjah\",\n    \"branchAddress\": \"AUS\",\n    \"address\": {\n        \"line1\": \"AUS\",\n        \"line2\": \"University City\",\n        \"line3\": \"Sharjah\"\n    }\n}","name":"Failed Request - example"}],"samples-languages":["text"]}}},"/payment/transfer/create":{"post":{"summary":"Create Transfer","description":"","operationId":"create-transfer-1","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"appSecret":{"type":"string","description":"Private token generated at application creation"},"userSecret":{"type":"string","description":"Returned when user authenticates in Dapi system using Connect layer"},"amount":{"type":"number","description":"Amount of money to be sent. Must be number rounded to up to 2 decimal points","format":"float"},"senderID":{"type":"string","description":"An identifier for the bank account the user will send money from. Obtained from the Account - GetAccounts endpoint"},"receiverID":{"type":"string","description":"OPTIONAL. An identifier for the beneficiary that will receive the money. Obtained from the Get Beneficiaries endpoint. Must be specified if the bank requires receiver to be registered as beneficiary to perform a transaction"},"beneficiary":{"type":"object","description":"OPTIONAL. Details of amount receiver. See description of the object further in the document. Can be specified instead of receiverID, if bank does not require beneficiary registration. Must be specified together with receiverID if bank requires it for the first transaction","properties":{"name":{"type":"string","description":"Name of the beneficiary"},"nickname":{"type":"string","description":"Nickname of the beneficiary"},"accountNumber":{"type":"string","description":"Account number of the beneficiary"},"type":{"type":"string","description":"Type of beneficiary. Can be set to same if the beneficiary's bank is the same as the sender's, local if the beneficiary's bank is in the same country, or intl if the beneficiary's bank is in a different country"},"address":{"type":"object","description":"An object containing the address information of the beneficiary","properties":{}},"country":{"type":"string","description":"Name of the country in all uppercase letters (e.g. “AE”)"},"sortCode":{"type":"string","description":"Financial institution’s sort code"},"branchAddress":{"type":"string","description":"Address of the financial institution’s specific branch"},"bankName":{"type":"string","description":"Name of the financial institution"},"branchName":{"type":"string","description":"Name of the financial institution’s specific branch"},"phoneNumber":{"type":"string","description":"Beneficiary's phone number"},"iban":{"type":"string","description":"Beneficiary's IBAN number"},"swiftCode":{"type":"string","description":"Beneficiary's financial institution's SWIFT code"},"email":{"type":"string","description":"OPTIONAL. Only required for Local transfers in Canada"},"branchCode":{"type":"string","description":"OPTIONAL. Only required for Same bank transfers in Canada"},"addresses":{"type":"array","description":"OPTIONAL. Specify which webhook URL(s) defined in app settings to send data to. If empty, an update will be sent to all defined webhook URL(s)","items":{"type":"string"}}}},"remark":{"type":"string","description":"OPTIONAL. A message associated with the transfer"},"userInputs":{"type":"array","description":"OPTIONAL. Array of UserInputs object. Required only if initial request responded with user inputs specification. You can read more about user inputs specification on Multi-Factor Authentication Handling","items":{"properties":{"id":{"type":"string","description":"Type of input required. You can read more about user input types on User Input Types","enum":["otp","secret_question","captcha","pin","confirmation","token"]},"query":{"type":"string","description":"Textual description of what is required from the user side"},"index":{"type":"integer","description":"Is used in case more than one user input is requested. Will always be 0 If only one input is requested","format":"int32"},"answer":{"type":"string","description":"User input that must be submitted. In the response it will always be empty"}},"type":"object"}}}},"examples":{"Request - basic example":{"value":{"appSecret":"00bae841ad979345fca2e2585c000da7eac420504d189cf63315e7a6234d45c68dbd6fff749167292cd1475622805dce7a2b979db3c16e25a2897158ee63845b1043930ff603e19deb1d2d54ad9afc3d52df241d3c4e7286244a2f98a10212e38b2e9f8b0e3a7592702fa4358fb9103b93a26dd6bb92c2be0327ac054f14becc","userSecret":"DSv56dS/PB7QGJI/IGX4qKDhGVhIvQQhWo4zxTDT0gn079JlHnUSSq8NAtavX4fpHj7PGQ74BzVXBO9pFHXdSeLCMnayKLTLD0+zmMu7wfGzy+ZhkYTBe040CXWQ+AYaPhGTzfVWu3Lz6oM2QnqM9X56BbvpC80tN8Zg72VJHWC6YjazdQQ2NK0pl9+ePbmqn7PNjFKLhipgpTl7Hw3kvnLrSIC9AcXzVYQeSWYAv3LAEbECB1aNLXC0glMG2W7L2iLTMwy54wHbXXfSQlK9S6X7wmnZ0tn28H0MwMqWdLLtxvcFyYlMr3E0hqYnK4a5sU0IvF1yJAMHMBCbjw2Trnx2VMuX5IWjdxScfh+8IxWGvKl6RypksJTyNg100H+Q+j0vfKW/bOijFolZgHJtAxUowPlewK9JwoWahkbX2KTGoqQbSCh6KSzaCxdbg7ykNI5n+m6vdoWzGfZGFYjfgMX6aMInAM3b32ZAp9DlfFxRkg3oeoLBuTGTz73E51bZj9mGgD0FxkIXFPIWGx0WyxoYpMEesJeT8phNy0G82Bd7qzWCPGP4gK70jGpqfCWsvj1XZKMMMjReCdUrhtXKB4spQIFi+63WcGV7vDyWQdUTINOhmR8QfZOJoVm+VZgFiqCLI3Aa8AnoYw3UIPiheVjE5lxMulPNIP0QGMR31VY=","sync":true,"amount":1,"senderID":"ntV7rbYoexYaGDRfLCAo8vw1xXgu2VaXXtqvNoMU0sfy6aNErfUEGMD+P6lAlkzu/GKxPeoef7d7eNoxlHKyRw==","receiverID":"kSSWuq7RXww1VZpvF05KBfeiQxr8nb/uHQ35ZqSmhnp2gVoqZ7+DCnI/zRLzcg32myS/e8BLPhMJaT7mJ3z9Uw=="}},"Request - when user input is required":{"value":{"appSecret":"00bae841ad979345fca2e2585c000da7eac420504d189cf63315e7a6234d45c68dbd6fff749167292cd1475622805dce7a2b979db3c16e25a2897158ee63845b1043930ff603e19deb1d2d54ad9afc3d52df241d3c4e7286244a2f98a10212e38b2e9f8b0e3a7592702fa4358fb9103b93a26dd6bb92c2be0327ac054f14becc","userSecret":"DSv56dS/PB7QGJI/IGX4qKDhGVhIvQQhWo4zxTDT0gn079JlHnUSSq8NAtavX4fpHj7PGQ74BzVXBO9pFHXdSeLCMnayKLTLD0+zmMu7wfGzy+ZhkYTBe040CXWQ+AYaPhGTzfVWu3Lz6oM2QnqM9X56BbvpC80tN8Zg72VJHWC6YjazdQQ2NK0pl9+ePbmqn7PNjFKLhipgpTl7Hw3kvnLrSIC9AcXzVYQeSWYAv3LAEbECB1aNLXC0glMG2W7L2iLTMwy54wHbXXfSQlK9S6X7wmnZ0tn28H0MwMqWdLLtxvcFyYlMr3E0hqYnK4a5sU0IvF1yJAMHMBCbjw2Trnx2VMuX5IWjdxScfh+8IxWGvKl6RypksJTyNg100H+Q+j0vfKW/bOijFolZgHJtAxUowPlewK9JwoWahkbX2KTGoqQbSCh6KSzaCxdbg7ykNI5n+m6vdoWzGfZGFYjfgMX6aMInAM3b32ZAp9DlfFxRkg3oeoLBuTGTz73E51bZj9mGgD0FxkIXFPIWGx0WyxoYpMEesJeT8phNy0G82Bd7qzWCPGP4gK70jGpqfCWsvj1XZKMMMjReCdUrhtXKB4spQIFi+63WcGV7vDyWQdUTINOhmR8QfZOJoVm+VZgFiqCLI3Aa8AnoYw3UIPiheVjE5lxMulPNIP0QGMR31VY=","amount":1,"senderID":"ntV7rbYoexYaGDRfLCAo8vw1xXgu2VaXXtqvNoMU0sfy6aNErfUEGMD+P6lAlkzu/GKxPeoef7d7eNoxlHKyRw==","receiverID":"kSSWuq7RXww1VZpvF05KBfeiQxr8nb/uHQ35ZqSmhnp2gVoqZ7+DCnI/zRLzcg32myS/e8BLPhMJaT7mJ3z9Uw=="}},"Request - for banks that do not require a beneficiary":{"value":{"appSecret":"00bae841ad979345fca2e2585c000da7eac420504d189cf63315e7a6234d45c68dbd6fff749167292cd1475622805dce7a2b979db3c16e25a2897158ee63845b1043930ff603e19deb1d2d54ad9afc3d52df241d3c4e7286244a2f98a10212e38b2e9f8b0e3a7592702fa4358fb9103b93a26dd6bb92c2be0327ac054f14becc","userSecret":"DSv56dS/PB7QGJI/IGX4qKDhGVhIvQQhWo4zxTDT0gn079JlHnUSSq8NAtavX4fpHj7PGQ74BzVXBO9pFHXdSeLCMnayKLTLD0+zmMu7wfGzy+ZhkYTBe040CXWQ+AYaPhGTzfVWu3Lz6oM2QnqM9X56BbvpC80tN8Zg72VJHWC6YjazdQQ2NK0pl9+ePbmqn7PNjFKLhipgpTl7Hw3kvnLrSIC9AcXzVYQeSWYAv3LAEbECB1aNLXC0glMG2W7L2iLTMwy54wHbXXfSQlK9S6X7wmnZ0tn28H0MwMqWdLLtxvcFyYlMr3E0hqYnK4a5sU0IvF1yJAMHMBCbjw2Trnx2VMuX5IWjdxScfh+8IxWGvKl6RypksJTyNg100H+Q+j0vfKW/bOijFolZgHJtAxUowPlewK9JwoWahkbX2KTGoqQbSCh6KSzaCxdbg7ykNI5n+m6vdoWzGfZGFYjfgMX6aMInAM3b32ZAp9DlfFxRkg3oeoLBuTGTz73E51bZj9mGgD0FxkIXFPIWGx0WyxoYpMEesJeT8phNy0G82Bd7qzWCPGP4gK70jGpqfCWsvj1XZKMMMjReCdUrhtXKB4spQIFi+63WcGV7vDyWQdUTINOhmR8QfZOJoVm+VZgFiqCLI3Aa8AnoYw3UIPiheVjE5lxMulPNIP0QGMR31VY=","amount":1,"senderID":"ntV7rbYoexYaGDRfLCAo8vw1xXgu2VaXXtqvNoMU0sfy6aNErfUEGMD+P6lAlkzu/GKxPeoef7d7eNoxlHKyRw==","beneficiary":{"name":"John Doe","nickname":"John HSBC","address":{"line1":"Baker Street","line2":"New York","line3":"United States"},"country":"UNITED STATES","branchAddress":"New York","branchName":"Main Branch","routingNumber":"53627","accountNumber":"1001004437564656","bankName":"Wells Fargo"}}},"Failed Request - missing mandatory parameters":{"value":{"appSecret":"00bae841ad979345fca2e2585c000da7eac420504d189cf63315e7a6234d45c68dbd6fff749167292cd1475622805dce7a2b979db3c16e25a2897158ee63845b1043930ff603e19deb1d2d54ad9afc3d52df241d3c4e7286244a2f98a10212e38b2e9f8b0e3a7592702fa4358fb9103b93a26dd6bb92c2be0327ac054f14becc","userSecret":"DSv56dS/PB7QGJI/IGX4qKDhGVhIvQQhWo4zxTDT0gn079JlHnUSSq8NAtavX4fpHj7PGQ74BzVXBO9pFHXdSeLCMnayKLTLD0+zmMu7wfGzy+ZhkYTBe040CXWQ+AYaPhGTzfVWu3Lz6oM2QnqM9X56BbvpC80tN8Zg72VJHWC6YjazdQQ2NK0pl9+ePbmqn7PNjFKLhipgpTl7Hw3kvnLrSIC9AcXzVYQeSWYAv3LAEbECB1aNLXC0glMG2W7L2iLTMwy54wHbXXfSQlK9S6X7wmnZ0tn28H0MwMqWdLLtxvcFyYlMr3E0hqYnK4a5sU0IvF1yJAMHMBCbjw2Trnx2VMuX5IWjdxScfh+8IxWGvKl6RypksJTyNg100H+Q+j0vfKW/bOijFolZgHJtAxUowPlewK9JwoWahkbX2KTGoqQbSCh6KSzaCxdbg7ykNI5n+m6vdoWzGfZGFYjfgMX6aMInAM3b32ZAp9DlfFxRkg3oeoLBuTGTz73E51bZj9mGgD0FxkIXFPIWGx0WyxoYpMEesJeT8phNy0G82Bd7qzWCPGP4gK70jGpqfCWsvj1XZKMMMjReCdUrhtXKB4spQIFi+63WcGV7vDyWQdUTINOhmR8QfZOJoVm+VZgFiqCLI3Aa8AnoYw3UIPiheVjE5lxMulPNIP0QGMR31VY=","senderID":"ntV7rbYoexYaGDRfLCAo8vw1xXgu2VaXXtqvNoMU0sfy6aNErfUEGMD+P6lAlkzu/GKxPeoef7d7eNoxlHKyRw==","receiverID":"kSSWuq7RXww1VZpvF05KBfeiQxr8nb/uHQ35ZqSmhnp2gVoqZ7+DCnI/zRLzcg32myS/e8BLPhMJaT7mJ3z9Uw=="}},"Failed Request - invalid senderID specified":{"value":{"appSecret":"00bae841ad979345fca2e2585c000da7eac420504d189cf63315e7a6234d45c68dbd6fff749167292cd1475622805dce7a2b979db3c16e25a2897158ee63845b1043930ff603e19deb1d2d54ad9afc3d52df241d3c4e7286244a2f98a10212e38b2e9f8b0e3a7592702fa4358fb9103b93a26dd6bb92c2be0327ac054f14becc","userSecret":"DSv56dS/PB7QGJI/IGX4qKDhGVhIvQQhWo4zxTDT0gn079JlHnUSSq8NAtavX4fpHj7PGQ74BzVXBO9pFHXdSeLCMnayKLTLD0+zmMu7wfGzy+ZhkYTBe040CXWQ+AYaPhGTzfVWu3Lz6oM2QnqM9X56BbvpC80tN8Zg72VJHWC6YjazdQQ2NK0pl9+ePbmqn7PNjFKLhipgpTl7Hw3kvnLrSIC9AcXzVYQeSWYAv3LAEbECB1aNLXC0glMG2W7L2iLTMwy54wHbXXfSQlK9S6X7wmnZ0tn28H0MwMqWdLLtxvcFyYlMr3E0hqYnK4a5sU0IvF1yJAMHMBCbjw2Trnx2VMuX5IWjdxScfh+8IxWGvKl6RypksJTyNg100H+Q+j0vfKW/bOijFolZgHJtAxUowPlewK9JwoWahkbX2KTGoqQbSCh6KSzaCxdbg7ykNI5n+m6vdoWzGfZGFYjfgMX6aMInAM3b32ZAp9DlfFxRkg3oeoLBuTGTz73E51bZj9mGgD0FxkIXFPIWGx0WyxoYpMEesJeT8phNy0G82Bd7qzWCPGP4gK70jGpqfCWsvj1XZKMMMjReCdUrhtXKB4spQIFi+63WcGV7vDyWQdUTINOhmR8QfZOJoVm+VZgFiqCLI3Aa8AnoYw3UIPiheVjE5lxMulPNIP0QGMR31VY=","senderID":"Invalid_sender_id","receiverID":"kSSWuq7RXww1VZpvF05KBfeiQxr8nb/uHQ35ZqSmhnp2gVoqZ7+DCnI/zRLzcg32myS/e8BLPhMJaT7mJ3z9Uw=="}},"Failed Request - invalid token specified":{"value":{"appSecret":"00bae841ad979345fca2e2585c000da7eac420504d189cf63315e7a6234d45c68dbd6fff749167292cd1475622805dce7a2b979db3c16e25a2897158ee63845b1043930ff603e19deb1d2d54ad9afc3d52df241d3c4e7286244a2f98a10212e38b2e9f8b0e3a7592702fa4358fb9103b93a26dd6bb92c2be0327ac054f14becc","userSecret":"DSv56dS/PB7QGJI/IGX4qKDhGVhIvQQhWo4zxTDT0gn079JlHnUSSq8NAtavX4fpHj7PGQ74BzVXBO9pFHXdSeLCMnayKLTLD0+zmMu7wfGzy+ZhkYTBe040CXWQ+AYaPhGTzfVWu3Lz6oM2QnqM9X56BbvpC80tN8Zg72VJHWC6YjazdQQ2NK0pl9+ePbmqn7PNjFKLhipgpTl7Hw3kvnLrSIC9AcXzVYQeSWYAv3LAEbECB1aNLXC0glMG2W7L2iLTMwy54wHbXXfSQlK9S6X7wmnZ0tn28H0MwMqWdLLtxvcFyYlMr3E0hqYnK4a5sU0IvF1yJAMHMBCbjw2Trnx2VMuX5IWjdxScfh+8IxWGvKl6RypksJTyNg100H+Q+j0vfKW/bOijFolZgHJtAxUowPlewK9JwoWahkbX2KTGoqQbSCh6KSzaCxdbg7ykNI5n+m6vdoWzGfZGFYjfgMX6aMInAM3b32ZAp9DlfFxRkg3oeoLBuTGTz73E51bZj9mGgD0FxkIXFPIWGx0WyxoYpMEesJeT8phNy0G82Bd7qzWCPGP4gK70jGpqfCWsvj1XZKMMMjReCdUrhtXKB4spQIFi+63WcGV7vDyWQdUTINOhmR8QfZOJoVm+VZgFiqCLI3Aa8AnoYw3UIPiheVjE5lxMulPNIP0QGMR31VY=","amount":1,"senderID":"ntV7rbYoexYaGDRfLCAo8vw1xXgu2VaXXtqvNoMU0sfy6aNErfUEGMD+P6lAlkzu/GKxPeoef7d7eNoxlHKyRw==","receiverID":"kSSWuq7RXww1VZpvF05KBfeiQxr8nb/uHQ35ZqSmhnp2gVoqZ7+DCnI/zRLzcg32myS/e8BLPhMJaT7mJ3z9Uw=="}},"Failed request - token is not passed":{"value":{"appSecret":"00bae841ad979345fca2e2585c000da7eac420504d189cf63315e7a6234d45c68dbd6fff749167292cd1475622805dce7a2b979db3c16e25a2897158ee63845b1043930ff603e19deb1d2d54ad9afc3d52df241d3c4e7286244a2f98a10212e38b2e9f8b0e3a7592702fa4358fb9103b93a26dd6bb92c2be0327ac054f14becc","userSecret":"DSv56dS/PB7QGJI/IGX4qKDhGVhIvQQhWo4zxTDT0gn079JlHnUSSq8NAtavX4fpHj7PGQ74BzVXBO9pFHXdSeLCMnayKLTLD0+zmMu7wfGzy+ZhkYTBe040CXWQ+AYaPhGTzfVWu3Lz6oM2QnqM9X56BbvpC80tN8Zg72VJHWC6YjazdQQ2NK0pl9+ePbmqn7PNjFKLhipgpTl7Hw3kvnLrSIC9AcXzVYQeSWYAv3LAEbECB1aNLXC0glMG2W7L2iLTMwy54wHbXXfSQlK9S6X7wmnZ0tn28H0MwMqWdLLtxvcFyYlMr3E0hqYnK4a5sU0IvF1yJAMHMBCbjw2Trnx2VMuX5IWjdxScfh+8IxWGvKl6RypksJTyNg100H+Q+j0vfKW/bOijFolZgHJtAxUowPlewK9JwoWahkbX2KTGoqQbSCh6KSzaCxdbg7ykNI5n+m6vdoWzGfZGFYjfgMX6aMInAM3b32ZAp9DlfFxRkg3oeoLBuTGTz73E51bZj9mGgD0FxkIXFPIWGx0WyxoYpMEesJeT8phNy0G82Bd7qzWCPGP4gK70jGpqfCWsvj1XZKMMMjReCdUrhtXKB4spQIFi+63WcGV7vDyWQdUTINOhmR8QfZOJoVm+VZgFiqCLI3Aa8AnoYw3UIPiheVjE5lxMulPNIP0QGMR31VY=","amount":1,"senderID":"ntV7rbYoexYaGDRfLCAo8vw1xXgu2VaXXtqvNoMU0sfy6aNErfUEGMD+P6lAlkzu/GKxPeoef7d7eNoxlHKyRw==","receiverID":"kSSWuq7RXww1VZpvF05KBfeiQxr8nb/uHQ35ZqSmhnp2gVoqZ7+DCnI/zRLzcg32myS/e8BLPhMJaT7mJ3z9Uw=="}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Response - basic example":{"value":"{\n    \"operationID\": \"74521eb4-34e3-4b49-9161-0edfe4683be7\",\n    \"success\": true,\n    \"status\": \"done\",\n    \"reference\": \"119421587\"\n}"},"Response - for banks that require a beneficiary":{"value":"{\n    \"operationID\": \"74521eb4-34e3-4b49-9161-0edfe4683be7\",\n    \"success\": true,\n    \"status\": \"done\",\n    \"reference\": \"119421587\"\n}"},"Response - when user input is required":{"value":"{\n    \"operationID\": \"32d05c2e-e1c3-458c-a59f-209488629f16\",\n    \"success\": true,\n    \"status\": \"user_input_required\",\n    \"userInputs\": [\n    {\n      \"answer\": \"\",\n      \"id\": \"otp\",\n      \"index\": 0,\n      \"query\": \"Please enter the OTP sent to your phone number.\"\n    }\n    ]\n}"},"Response - for banks that do not require a beneficiary":{"value":"{\n    \"operationID\": \"74521eb4-34e3-4b49-9161-0edfe4683be7\",\n    \"success\": true,\n    \"status\": \"done\",\n    \"reference\": \"119421587\"\n}"}},"schema":{"oneOf":[{"title":"Response - basic example","type":"object","properties":{"operationID":{"type":"string","example":"74521eb4-34e3-4b49-9161-0edfe4683be7"},"success":{"type":"boolean","example":true,"default":true},"status":{"type":"string","example":"done"},"reference":{"type":"string","example":"119421587"}}},{"title":"Response - for banks that require a beneficiary","type":"object","properties":{"operationID":{"type":"string","example":"74521eb4-34e3-4b49-9161-0edfe4683be7"},"success":{"type":"boolean","example":true,"default":true},"status":{"type":"string","example":"done"},"reference":{"type":"string","example":"119421587"}}},{"title":"Response - when user input is required","type":"object","properties":{"operationID":{"type":"string","example":"32d05c2e-e1c3-458c-a59f-209488629f16"},"success":{"type":"boolean","example":true,"default":true},"status":{"type":"string","example":"user_input_required"},"userInputs":{"type":"array","items":{"type":"object","properties":{"answer":{"type":"string","example":""},"id":{"type":"string","example":"otp"},"index":{"type":"integer","example":0,"default":0},"query":{"type":"string","example":"Please enter the OTP sent to your phone number."}}}}}},{"title":"Response - for banks that do not require a beneficiary","type":"object","properties":{"operationID":{"type":"string","example":"74521eb4-34e3-4b49-9161-0edfe4683be7"},"success":{"type":"boolean","example":true,"default":true},"status":{"type":"string","example":"done"},"reference":{"type":"string","example":"119421587"}}}]}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Failed Response - missing mandatory parameters":{"value":"{\n  \"success\": false,\n  \"status\": \"failed\",\n  \"msg\": \"Missing params: amount.\",\n  \"type\": \"PARAMETER_MISSING\"\n}"},"Failed Reponse - invalid senderID specified":{"value":"{\n    \"operationID\": \"CHASUS33:6b859dba-8ea1-43fc-b913-f9c3ed5039a8\",\n    \"msg\": \"Account ID is invalid.\",\n    \"type\": \"INVALID_ACCOUNT_ID\",\n    \"success\": false,\n    \"status\": \"failed\"\n}"},"Failed Response - invalid token specified":{"value":"{\n  \"msg\": \"Invalid access token\",\n  \"type\": \"UNAUTHORIZED\",\n  \"success\": false,\n  \"status\": \"failed\"\n}"},"Failed Response - token is not passed":{"value":"{\n  \"msg\": \"The 'appSecret' field is required\",\n  \"type\": \"BAD_REQUEST\",\n  \"success\": false,\n  \"status\": \"failed\"\n}"}},"schema":{"oneOf":[{"title":"Failed Response - missing mandatory parameters","type":"object","properties":{"success":{"type":"boolean","example":false,"default":true},"status":{"type":"string","example":"failed"},"msg":{"type":"string","example":"Missing params: amount."},"type":{"type":"string","example":"PARAMETER_MISSING"}}},{"title":"Failed Reponse - invalid senderID specified","type":"object","properties":{"operationID":{"type":"string","example":"CHASUS33:6b859dba-8ea1-43fc-b913-f9c3ed5039a8"},"msg":{"type":"string","example":"Account ID is invalid."},"type":{"type":"string","example":"INVALID_ACCOUNT_ID"},"success":{"type":"boolean","example":false,"default":true},"status":{"type":"string","example":"failed"}}},{"title":"Failed Response - invalid token specified","type":"object","properties":{"msg":{"type":"string","example":"Invalid access token"},"type":{"type":"string","example":"UNAUTHORIZED"},"success":{"type":"boolean","example":false,"default":true},"status":{"type":"string","example":"failed"}}},{"title":"Failed Response - token is not passed","type":"object","properties":{"msg":{"type":"string","example":"The 'appSecret' field is required"},"type":{"type":"string","example":"BAD_REQUEST"},"success":{"type":"boolean","example":false,"default":true},"status":{"type":"string","example":"failed"}}}]}}}}},"deprecated":false}},"/data/identity/get":{"post":{"summary":"Identity","description":"","operationId":"identity","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"appSecret":{"type":"string","description":"Private token generated at application creation"},"userSecret":{"type":"string","description":"Encrypted version of the userKey"},"userInputs":{"type":"object","description":"OPTIONAL. Array of UserInputs object, required only if initial request responded with user inputs specification. You can read more about user inputs specification on Specify User Input","properties":{"id":{"type":"string","description":"Type of input required. You can read more about user input types on User Input Types","enum":["otp","secret_question","captcha","pin","confirmation","token"]},"query":{"type":"string","description":"Textual description of what is required from the user side"},"index":{"type":"integer","description":"Is used in case more than one user input is requested. Will always be 0 If only one input is requested","format":"int32"},"answer":{"type":"string","description":"User input that must be submitted. In the response it will always be empty"}}}}},"examples":{"Request - basic example":{"value":{"appSecret":"00bae841ad979345fca2e2585c000da7eac420504d189cf63315e7a6234d45c68dbd6fff749167292cd1475622805dce7a2b979db3c16e25a2897158ee63845b1043930ff603e19deb1d2d54ad9afc3d52df241d3c4e7286244a2f98a10212e38b2e9f8b0e3a7592702fa4358fb9103b93a26dd6bb92c2be0327ac054f14becc","userSecret":"DSv56dS/PB7QGJI/IGX4qKDhGVhIvQQhWo4zxTDT0gn079JlHnUSSq8NAtavX4fpHj7PGQ74BzVXBO9pFHXdSeLCMnayKLTLD0+zmMu7wfGzy+ZhkYTBe040CXWQ+AYaPhGTzfVWu3Lz6oM2QnqM9X56BbvpC80tN8Zg72VJHWC6YjazdQQ2NK0pl9+ePbmqn7PNjFKLhipgpTl7Hw3kvnLrSIC9AcXzVYQeSWYAv3LAEbECB1aNLXC0glMG2W7L2iLTMwy54wHbXXfSQlK9S6X7wmnZ0tn28H0MwMqWdLLtxvcFyYlMr3E0hqYnK4a5sU0IvF1yJAMHMBCbjw2Trnx2VMuX5IWjdxScfh+8IxWGvKl6RypksJTyNg100H+Q+j0vfKW/bOijFolZgHJtAxUowPlewK9JwoWahkbX2KTGoqQbSCh6KSzaCxdbg7ykNI5n+m6vdoWzGfZGFYjfgMX6aMInAM3b32ZAp9DlfFxRkg3oeoLBuTGTz73E51bZj9mGgD0FxkIXFPIWGx0WyxoYpMEesJeT8phNy0G82Bd7qzWCPGP4gK70jGpqfCWsvj1XZKMMMjReCdUrhtXKB4spQIFi+63WcGV7vDyWQdUTINOhmR8QfZOJoVm+VZgFiqCLI3Aa8AnoYw3UIPiheVjE5lxMulPNIP0QGMR31VY="}},"Request - example, successful":{"value":{"appSecret":"00bae841ad979345fca2e2585c000da7eac420504d189cf63315e7a6234d45c68dbd6fff749167292cd1475622805dce7a2b979db3c16e25a2897158ee63845b1043930ff603e19deb1d2d54ad9afc3d52df241d3c4e7286244a2f98a10212e38b2e9f8b0e3a7592702fa4358fb9103b93a26dd6bb92c2be0327ac054f14becc","userSecret":"DSv56dS/PB7QGJI/IGX4qKDhGVhIvQQhWo4zxTDT0gn079JlHnUSSq8NAtavX4fpHj7PGQ74BzVXBO9pFHXdSeLCMnayKLTLD0+zmMu7wfGzy+ZhkYTBe040CXWQ+AYaPhGTzfVWu3Lz6oM2QnqM9X56BbvpC80tN8Zg72VJHWC6YjazdQQ2NK0pl9+ePbmqn7PNjFKLhipgpTl7Hw3kvnLrSIC9AcXzVYQeSWYAv3LAEbECB1aNLXC0glMG2W7L2iLTMwy54wHbXXfSQlK9S6X7wmnZ0tn28H0MwMqWdLLtxvcFyYlMr3E0hqYnK4a5sU0IvF1yJAMHMBCbjw2Trnx2VMuX5IWjdxScfh+8IxWGvKl6RypksJTyNg100H+Q+j0vfKW/bOijFolZgHJtAxUowPlewK9JwoWahkbX2KTGoqQbSCh6KSzaCxdbg7ykNI5n+m6vdoWzGfZGFYjfgMX6aMInAM3b32ZAp9DlfFxRkg3oeoLBuTGTz73E51bZj9mGgD0FxkIXFPIWGx0WyxoYpMEesJeT8phNy0G82Bd7qzWCPGP4gK70jGpqfCWsvj1XZKMMMjReCdUrhtXKB4spQIFi+63WcGV7vDyWQdUTINOhmR8QfZOJoVm+VZgFiqCLI3Aa8AnoYw3UIPiheVjE5lxMulPNIP0QGMR31VY="}},"Request - user input required":{"value":{"appSecret":"00bae841ad979345fca2e2585c000da7eac420504d189cf63315e7a6234d45c68dbd6fff749167292cd1475622805dce7a2b979db3c16e25a2897158ee63845b1043930ff603e19deb1d2d54ad9afc3d52df241d3c4e7286244a2f98a10212e38b2e9f8b0e3a7592702fa4358fb9103b93a26dd6bb92c2be0327ac054f14becc","userSecret":"DSv56dS/PB7QGJI/IGX4qKDhGVhIvQQhWo4zxTDT0gn079JlHnUSSq8NAtavX4fpHj7PGQ74BzVXBO9pFHXdSeLCMnayKLTLD0+zmMu7wfGzy+ZhkYTBe040CXWQ+AYaPhGTzfVWu3Lz6oM2QnqM9X56BbvpC80tN8Zg72VJHWC6YjazdQQ2NK0pl9+ePbmqn7PNjFKLhipgpTl7Hw3kvnLrSIC9AcXzVYQeSWYAv3LAEbECB1aNLXC0glMG2W7L2iLTMwy54wHbXXfSQlK9S6X7wmnZ0tn28H0MwMqWdLLtxvcFyYlMr3E0hqYnK4a5sU0IvF1yJAMHMBCbjw2Trnx2VMuX5IWjdxScfh+8IxWGvKl6RypksJTyNg100H+Q+j0vfKW/bOijFolZgHJtAxUowPlewK9JwoWahkbX2KTGoqQbSCh6KSzaCxdbg7ykNI5n+m6vdoWzGfZGFYjfgMX6aMInAM3b32ZAp9DlfFxRkg3oeoLBuTGTz73E51bZj9mGgD0FxkIXFPIWGx0WyxoYpMEesJeT8phNy0G82Bd7qzWCPGP4gK70jGpqfCWsvj1XZKMMMjReCdUrhtXKB4spQIFi+63WcGV7vDyWQdUTINOhmR8QfZOJoVm+VZgFiqCLI3Aa8AnoYw3UIPiheVjE5lxMulPNIP0QGMR31VY="}},"Failed Request - invalid JSON specified":{"value":{"appSecret":"00bae841ad979345fca2e2585c000da7eac420504d189cf63315e7a6234d45c68dbd6fff749167292cd1475622805dce7a2b979db3c16e25a2897158ee63845b1043930ff603e19deb1d2d54ad9afc3d52df241d3c4e7286244a2f98a10212e38b2e9f8b0e3a7592702fa4358fb9103b93a26dd6bb92c2be0327ac054f14becc","userSecret":"DSv56dS/PB7QGJI/IGX4qKDhGVhIvQQhWo4zxTDT0gn079JlHnUSSq8NAtavX4fpHj7PGQ74BzVXBO9pFHXdSeLCMnayKLTLD0+zmMu7wfGzy+ZhkYTBe040CXWQ+AYaPhGTzfVWu3Lz6oM2QnqM9X56BbvpC80tN8Zg72VJHWC6YjazdQQ2NK0pl9+ePbmqn7PNjFKLhipgpTl7Hw3kvnLrSIC9AcXzVYQeSWYAv3LAEbECB1aNLXC0glMG2W7L2iLTMwy54wHbXXfSQlK9S6X7wmnZ0tn28H0MwMqWdLLtxvcFyYlMr3E0hqYnK4a5sU0IvF1yJAMHMBCbjw2Trnx2VMuX5IWjdxScfh+8IxWGvKl6RypksJTyNg100H+Q+j0vfKW/bOijFolZgHJtAxUowPlewK9JwoWahkbX2KTGoqQbSCh6KSzaCxdbg7ykNI5n+m6vdoWzGfZGFYjfgMX6aMInAM3b32ZAp9DlfFxRkg3oeoLBuTGTz73E51bZj9mGgD0FxkIXFPIWGx0WyxoYpMEesJeT8phNy0G82Bd7qzWCPGP4gK70jGpqfCWsvj1XZKMMMjReCdUrhtXKB4spQIFi+63WcGV7vDyWQdUTINOhmR8QfZOJoVm+VZgFiqCLI3Aa8AnoYw3UIPiheVjE5lxMulPNIP0QGMR31VY="}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Response - basic example":{"value":"{\n    \"operationID\": \"3aea7906-7f7c-40af-ada7-3589f4b0ee2c\",\n    \"success\": true,\n    \"status\": \"done\",\n    \"identity\": {\n        \"nationality\": null,\n        \"dateOfBirth\": null,\n        \"identification\": [\n            {\n                \"type\": \"passport\",\n                \"value\": \"AB656565\"\n            },\n            {\n                \"type\": \"national_id\",\n                \"value\": \"123456789\"\n            }\n        ],\n        \"numbers\": [\n            {\n                \"type\": \"mobile\",\n                \"value\": \"971521233445\"\n            }\n        ],\n        \"emailAddress\": \"john.doe@OUTLOOK.COM\",\n        \"name\": \"JOE DOE\",\n        \"address\": {\n            \"full\": \"90210, DAPI TOWER, DAPI ISLAND, ABU DHABI,\",\n            \"flat\": \"0101\",\n            \"building\": \"DAPI TOWER\",\n            \"area\": \"DAPI ISLAND,\",\n            \"poBox\": null,\n            \"city\": \"ABU DHABI\",\n            \"state\": \"ABU DHABI\",\n            \"country\": \"AE\"\n        }\n    }\n}"},"Response - example, successful":{"value":"{\n    \"operationID\": \"3aea7906-7f7c-40af-ada7-3589f4b0ee2c\",\n    \"success\": true,\n    \"status\": \"done\",\n    \"identity\": {\n        \"nationality\": null,\n        \"dateOfBirth\": null,\n        \"identification\": [\n            {\n                \"type\": \"passport\",\n                \"value\": \"AB656565\"\n            },\n            {\n                \"type\": \"national_id\",\n                \"value\": \"123456789\"\n            }\n        ],\n        \"numbers\": [\n            {\n                \"type\": \"mobile\",\n                \"value\": \"971521233445\"\n            }\n        ],\n        \"emailAddress\": \"john.doe@OUTLOOK.COM\",\n        \"name\": \"JOE DOE\",\n        \"address\": {\n            \"full\": \"90210, DAPI TOWER, DAPI ISLAND, ABU DHABI,\",\n            \"flat\": \"0101\",\n            \"building\": \"DAPI TOWER\",\n            \"area\": \"DAPI ISLAND,\",\n            \"poBox\": null,\n            \"city\": \"ABU DHABI\",\n            \"state\": \"ABU DHABI\",\n            \"country\": \"AE\"\n        }\n    }\n}"},"Response - user input required":{"value":"{\n    \"operationID\": \"47204fa6-dca6-44a5-8111-6c6489a232a2\",\n    \"success\": true,\n    \"status\": \"user_input_required\",\n    \"userInputs\": [\n    {\n      \"answer\": \"\",\n      \"id\": \"otp\",\n      \"index\": 0,\n      \"query\": \"Please enter a Smart Pass Token from your ENBD mobile application\"\n    }\n    ]\n}"}},"schema":{"oneOf":[{"title":"Response - basic example","type":"object","properties":{"operationID":{"type":"string","example":"3aea7906-7f7c-40af-ada7-3589f4b0ee2c"},"success":{"type":"boolean","example":true,"default":true},"status":{"type":"string","example":"done"},"identity":{"type":"object","properties":{"nationality":{},"dateOfBirth":{},"identification":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"passport"},"value":{"type":"string","example":"AB656565"}}}},"numbers":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"mobile"},"value":{"type":"string","example":"971521233445"}}}},"emailAddress":{"type":"string","example":"john.doe@OUTLOOK.COM"},"name":{"type":"string","example":"JOE DOE"},"address":{"type":"object","properties":{"full":{"type":"string","example":"90210, DAPI TOWER, DAPI ISLAND, ABU DHABI,"},"flat":{"type":"string","example":"0101"},"building":{"type":"string","example":"DAPI TOWER"},"area":{"type":"string","example":"DAPI ISLAND,"},"poBox":{},"city":{"type":"string","example":"ABU DHABI"},"state":{"type":"string","example":"ABU DHABI"},"country":{"type":"string","example":"AE"}}}}}}},{"title":"Response - example, successful","type":"object","properties":{"operationID":{"type":"string","example":"3aea7906-7f7c-40af-ada7-3589f4b0ee2c"},"success":{"type":"boolean","example":true,"default":true},"status":{"type":"string","example":"done"},"identity":{"type":"object","properties":{"nationality":{},"dateOfBirth":{},"identification":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"passport"},"value":{"type":"string","example":"AB656565"}}}},"numbers":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"mobile"},"value":{"type":"string","example":"971521233445"}}}},"emailAddress":{"type":"string","example":"john.doe@OUTLOOK.COM"},"name":{"type":"string","example":"JOE DOE"},"address":{"type":"object","properties":{"full":{"type":"string","example":"90210, DAPI TOWER, DAPI ISLAND, ABU DHABI,"},"flat":{"type":"string","example":"0101"},"building":{"type":"string","example":"DAPI TOWER"},"area":{"type":"string","example":"DAPI ISLAND,"},"poBox":{},"city":{"type":"string","example":"ABU DHABI"},"state":{"type":"string","example":"ABU DHABI"},"country":{"type":"string","example":"AE"}}}}}}},{"title":"Response - user input required","type":"object","properties":{"operationID":{"type":"string","example":"47204fa6-dca6-44a5-8111-6c6489a232a2"},"success":{"type":"boolean","example":true,"default":true},"status":{"type":"string","example":"user_input_required"},"userInputs":{"type":"array","items":{"type":"object","properties":{"answer":{"type":"string","example":""},"id":{"type":"string","example":"otp"},"index":{"type":"integer","example":0,"default":0},"query":{"type":"string","example":"Please enter a Smart Pass Token from your ENBD mobile application"}}}}}}]}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Failed Response - invalid JSON specified":{"value":"{\n  \"msg\": \"Invalid JSON request\",\n  \"type\": \"BAD_REQUEST\",\n  \"success\": false,\n  \"status\": \"failed\"\n}"}},"schema":{"type":"object","properties":{"msg":{"type":"string","example":"Invalid JSON request"},"type":{"type":"string","example":"BAD_REQUEST"},"success":{"type":"boolean","example":false,"default":true},"status":{"type":"string","example":"failed"}}}}}}},"deprecated":false}},"/data/completeAccounts/get":{"post":{"summary":"Get Complete Accounts","description":"","operationId":"identity-copy","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"appSecret":{"type":"string","description":"Private token generated at application creation"},"userSecret":{"type":"string","description":"Encrypted version of the userKey"},"userInputs":{"type":"object","description":"OPTIONAL. Array of UserInputs object, required only if initial request responded with user inputs specification. You can read more about user inputs specification on Specify User Input","properties":{"id":{"type":"string","description":"Type of input required. You can read more about user input types on User Input Types","enum":["otp","secret_question","captcha","pin","confirmation","token"]},"query":{"type":"string","description":"Textual description of what is required from the user side"},"index":{"type":"integer","description":"Is used in case more than one user input is requested. Will always be 0 If only one input is requested","format":"int32"},"answer":{"type":"string","description":"User input that must be submitted. In the response it will always be empty"}}}}},"examples":{"Request - basic example":{"value":{"appSecret":"00bae841ad979345fca2e2585c000da7eac420504d189cf63315e7a6234d45c68dbd6fff749167292cd1475622805dce7a2b979db3c16e25a2897158ee63845b1043930ff603e19deb1d2d54ad9afc3d52df241d3c4e7286244a2f98a10212e38b2e9f8b0e3a7592702fa4358fb9103b93a26dd6bb92c2be0327ac054f14becc","userSecret":"DSv56dS/PB7QGJI/IGX4qKDhGVhIvQQhWo4zxTDT0gn079JlHnUSSq8NAtavX4fpHj7PGQ74BzVXBO9pFHXdSeLCMnayKLTLD0+zmMu7wfGzy+ZhkYTBe040CXWQ+AYaPhGTzfVWu3Lz6oM2QnqM9X56BbvpC80tN8Zg72VJHWC6YjazdQQ2NK0pl9+ePbmqn7PNjFKLhipgpTl7Hw3kvnLrSIC9AcXzVYQeSWYAv3LAEbECB1aNLXC0glMG2W7L2iLTMwy54wHbXXfSQlK9S6X7wmnZ0tn28H0MwMqWdLLtxvcFyYlMr3E0hqYnK4a5sU0IvF1yJAMHMBCbjw2Trnx2VMuX5IWjdxScfh+8IxWGvKl6RypksJTyNg100H+Q+j0vfKW/bOijFolZgHJtAxUowPlewK9JwoWahkbX2KTGoqQbSCh6KSzaCxdbg7ykNI5n+m6vdoWzGfZGFYjfgMX6aMInAM3b32ZAp9DlfFxRkg3oeoLBuTGTz73E51bZj9mGgD0FxkIXFPIWGx0WyxoYpMEesJeT8phNy0G82Bd7qzWCPGP4gK70jGpqfCWsvj1XZKMMMjReCdUrhtXKB4spQIFi+63WcGV7vDyWQdUTINOhmR8QfZOJoVm+VZgFiqCLI3Aa8AnoYw3UIPiheVjE5lxMulPNIP0QGMR31VY="}},"Request - example, successful":{"value":{"appSecret":"00bae841ad979345fca2e2585c000da7eac420504d189cf63315e7a6234d45c68dbd6fff749167292cd1475622805dce7a2b979db3c16e25a2897158ee63845b1043930ff603e19deb1d2d54ad9afc3d52df241d3c4e7286244a2f98a10212e38b2e9f8b0e3a7592702fa4358fb9103b93a26dd6bb92c2be0327ac054f14becc","userSecret":"DSv56dS/PB7QGJI/IGX4qKDhGVhIvQQhWo4zxTDT0gn079JlHnUSSq8NAtavX4fpHj7PGQ74BzVXBO9pFHXdSeLCMnayKLTLD0+zmMu7wfGzy+ZhkYTBe040CXWQ+AYaPhGTzfVWu3Lz6oM2QnqM9X56BbvpC80tN8Zg72VJHWC6YjazdQQ2NK0pl9+ePbmqn7PNjFKLhipgpTl7Hw3kvnLrSIC9AcXzVYQeSWYAv3LAEbECB1aNLXC0glMG2W7L2iLTMwy54wHbXXfSQlK9S6X7wmnZ0tn28H0MwMqWdLLtxvcFyYlMr3E0hqYnK4a5sU0IvF1yJAMHMBCbjw2Trnx2VMuX5IWjdxScfh+8IxWGvKl6RypksJTyNg100H+Q+j0vfKW/bOijFolZgHJtAxUowPlewK9JwoWahkbX2KTGoqQbSCh6KSzaCxdbg7ykNI5n+m6vdoWzGfZGFYjfgMX6aMInAM3b32ZAp9DlfFxRkg3oeoLBuTGTz73E51bZj9mGgD0FxkIXFPIWGx0WyxoYpMEesJeT8phNy0G82Bd7qzWCPGP4gK70jGpqfCWsvj1XZKMMMjReCdUrhtXKB4spQIFi+63WcGV7vDyWQdUTINOhmR8QfZOJoVm+VZgFiqCLI3Aa8AnoYw3UIPiheVjE5lxMulPNIP0QGMR31VY="}},"Request - user input required":{"value":{"appSecret":"00bae841ad979345fca2e2585c000da7eac420504d189cf63315e7a6234d45c68dbd6fff749167292cd1475622805dce7a2b979db3c16e25a2897158ee63845b1043930ff603e19deb1d2d54ad9afc3d52df241d3c4e7286244a2f98a10212e38b2e9f8b0e3a7592702fa4358fb9103b93a26dd6bb92c2be0327ac054f14becc","userSecret":"DSv56dS/PB7QGJI/IGX4qKDhGVhIvQQhWo4zxTDT0gn079JlHnUSSq8NAtavX4fpHj7PGQ74BzVXBO9pFHXdSeLCMnayKLTLD0+zmMu7wfGzy+ZhkYTBe040CXWQ+AYaPhGTzfVWu3Lz6oM2QnqM9X56BbvpC80tN8Zg72VJHWC6YjazdQQ2NK0pl9+ePbmqn7PNjFKLhipgpTl7Hw3kvnLrSIC9AcXzVYQeSWYAv3LAEbECB1aNLXC0glMG2W7L2iLTMwy54wHbXXfSQlK9S6X7wmnZ0tn28H0MwMqWdLLtxvcFyYlMr3E0hqYnK4a5sU0IvF1yJAMHMBCbjw2Trnx2VMuX5IWjdxScfh+8IxWGvKl6RypksJTyNg100H+Q+j0vfKW/bOijFolZgHJtAxUowPlewK9JwoWahkbX2KTGoqQbSCh6KSzaCxdbg7ykNI5n+m6vdoWzGfZGFYjfgMX6aMInAM3b32ZAp9DlfFxRkg3oeoLBuTGTz73E51bZj9mGgD0FxkIXFPIWGx0WyxoYpMEesJeT8phNy0G82Bd7qzWCPGP4gK70jGpqfCWsvj1XZKMMMjReCdUrhtXKB4spQIFi+63WcGV7vDyWQdUTINOhmR8QfZOJoVm+VZgFiqCLI3Aa8AnoYw3UIPiheVjE5lxMulPNIP0QGMR31VY="}},"Failed Request - invalid token specified":{"value":{"appSecret":"invalid_key","userSecret":"DSv56dS/PB7QGJI/IGX4qKDhGVhIvQQhWo4zxTDT0gn079JlHnUSSq8NAtavX4fpHj7PGQ74BzVXBO9pFHXdSeLCMnayKLTLD0+zmMu7wfGzy+ZhkYTBe040CXWQ+AYaPhGTzfVWu3Lz6oM2QnqM9X56BbvpC80tN8Zg72VJHWC6YjazdQQ2NK0pl9+ePbmqn7PNjFKLhipgpTl7Hw3kvnLrSIC9AcXzVYQeSWYAv3LAEbECB1aNLXC0glMG2W7L2iLTMwy54wHbXXfSQlK9S6X7wmnZ0tn28H0MwMqWdLLtxvcFyYlMr3E0hqYnK4a5sU0IvF1yJAMHMBCbjw2Trnx2VMuX5IWjdxScfh+8IxWGvKl6RypksJTyNg100H+Q+j0vfKW/bOijFolZgHJtAxUowPlewK9JwoWahkbX2KTGoqQbSCh6KSzaCxdbg7ykNI5n+m6vdoWzGfZGFYjfgMX6aMInAM3b32ZAp9DlfFxRkg3oeoLBuTGTz73E51bZj9mGgD0FxkIXFPIWGx0WyxoYpMEesJeT8phNy0G82Bd7qzWCPGP4gK70jGpqfCWsvj1XZKMMMjReCdUrhtXKB4spQIFi+63WcGV7vDyWQdUTINOhmR8QfZOJoVm+VZgFiqCLI3Aa8AnoYw3UIPiheVjE5lxMulPNIP0QGMR31VY="}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Response - basic example":{"value":"{\n    \"accounts\": [\n        {\n            \"balance\": 49477,\n            \"currency\": {\n                \"code\": \"AED\",\n                \"name\": \"UNITED ARAB EMIRATES DIRHAM\"\n            },\n            \"iban\": \"DAPIBANKAEENBD1627569235664324100356\",\n            \"id\": \"jXjbVdOOHnpQtcNzHy4fpc37TZOZOzPI2LB4p+ooTlOWjnphbT7koZgz+Hi52ZlRemr2638XaYQY490Xa63veQ==\",\n            \"isFavourite\": false,\n            \"name\": \"current\",\n            \"number\": \"1627569235664324100356\",\n            \"type\": \"current\"\n        }\n    ],\n    \"operationID\": \"DAPIBANK_AE_ENBD:d0380ffc-61a0-4ff4-aa9c-e56cf104b10e\",\n    \"status\": \"done\",\n    \"success\": true\n}"},"Response - example, successful":{"value":"{\n    \"accounts\": [\n        {\n            \"balance\": 49477,\n            \"currency\": {\n                \"code\": \"AED\",\n                \"name\": \"UNITED ARAB EMIRATES DIRHAM\"\n            },\n            \"iban\": \"DAPIBANKAEENBD1627569235664324100356\",\n            \"id\": \"jXjbVdOOHnpQtcNzHy4fpc37TZOZOzPI2LB4p+ooTlOWjnphbT7koZgz+Hi52ZlRemr2638XaYQY490Xa63veQ==\",\n            \"isFavourite\": false,\n            \"name\": \"current\",\n            \"number\": \"1627569235664324100356\",\n            \"type\": \"current\"\n        },\n       {\n            \"balance\": 1267,\n            \"currency\": {\n                \"code\": \"AED\",\n                \"name\": \"UNITED ARAB EMIRATES DIRHAM\"\n            },\n            \"iban\": \"DAPIBANKAEENBD1627569235664324100111\",\n            \"id\": \"jXjbVdOOHnpQtcNzHy4fpc37TZOZOzPI2LB4p+ooTlOWjnphbT7koZgz+Hi52ZlRemr2638XaYQY490Xa63veQ==\",\n            \"isFavourite\": false,\n            \"name\": \"SAVER\",\n            \"number\": \"1627569235664324100111\",\n            \"type\": \"savings\"\n        }\n    ],\n    \"operationID\": \"DAPIBANK_AE_ENBD:d0380ffc-61a0-4ff4-aa9c-e56cf104b10e\",\n    \"status\": \"done\",\n    \"success\": true\n}"},"Response - user input required":{"value":"{\n    \"operationID\": \"47204fa6-dca6-44a5-8111-6c6489a232a2\",\n    \"success\": true,\n    \"status\": \"user_input_required\",\n   \"userInputs\": [\n    {\n      \"answer\": \"\",\n      \"id\": \"otp\",\n      \"index\": 0,\n      \"query\": \"Please enter a Smart Pass Token from your ENBD mobile application\"\n    }\n    ]\n}"}},"schema":{"oneOf":[{"title":"Response - basic example","type":"object","properties":{"accounts":{"type":"array","items":{"type":"object","properties":{"balance":{"type":"integer","example":49477,"default":0},"currency":{"type":"object","properties":{"code":{"type":"string","example":"AED"},"name":{"type":"string","example":"UNITED ARAB EMIRATES DIRHAM"}}},"iban":{"type":"string","example":"DAPIBANKAEENBD1627569235664324100356"},"id":{"type":"string","example":"jXjbVdOOHnpQtcNzHy4fpc37TZOZOzPI2LB4p+ooTlOWjnphbT7koZgz+Hi52ZlRemr2638XaYQY490Xa63veQ=="},"isFavourite":{"type":"boolean","example":false,"default":true},"name":{"type":"string","example":"current"},"number":{"type":"string","example":"1627569235664324100356"},"type":{"type":"string","example":"current"}}}},"operationID":{"type":"string","example":"DAPIBANK_AE_ENBD:d0380ffc-61a0-4ff4-aa9c-e56cf104b10e"},"status":{"type":"string","example":"done"},"success":{"type":"boolean","example":true,"default":true}}},{"title":"Response - example, successful","type":"object","properties":{"accounts":{"type":"array","items":{"type":"object","properties":{"balance":{"type":"integer","example":49477,"default":0},"currency":{"type":"object","properties":{"code":{"type":"string","example":"AED"},"name":{"type":"string","example":"UNITED ARAB EMIRATES DIRHAM"}}},"iban":{"type":"string","example":"DAPIBANKAEENBD1627569235664324100356"},"id":{"type":"string","example":"jXjbVdOOHnpQtcNzHy4fpc37TZOZOzPI2LB4p+ooTlOWjnphbT7koZgz+Hi52ZlRemr2638XaYQY490Xa63veQ=="},"isFavourite":{"type":"boolean","example":false,"default":true},"name":{"type":"string","example":"current"},"number":{"type":"string","example":"1627569235664324100356"},"type":{"type":"string","example":"current"}}}},"operationID":{"type":"string","example":"DAPIBANK_AE_ENBD:d0380ffc-61a0-4ff4-aa9c-e56cf104b10e"},"status":{"type":"string","example":"done"},"success":{"type":"boolean","example":true,"default":true}}},{"title":"Response - user input required","type":"object","properties":{"operationID":{"type":"string","example":"47204fa6-dca6-44a5-8111-6c6489a232a2"},"success":{"type":"boolean","example":true,"default":true},"status":{"type":"string","example":"user_input_required"},"userInputs":{"type":"array","items":{"type":"object","properties":{"answer":{"type":"string","example":""},"id":{"type":"string","example":"otp"},"index":{"type":"integer","example":0,"default":0},"query":{"type":"string","example":"Please enter a Smart Pass Token from your ENBD mobile application"}}}}}}]}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Failed Response - invalid JSON specified":{"value":"{\n  \"msg\": \"Invalid JSON request\",\n  \"type\": \"BAD_REQUEST\",\n  \"success\": false,\n  \"status\": \"failed\"\n}"},"Failed Response - invalid token specified":{"value":"{\n  \"msg\": \"Invalid access token\",\n  \"type\": \"UNAUTHORIZED\",\n  \"success\": false,\n  \"status\": \"failed\"\n}"}},"schema":{"oneOf":[{"title":"Failed Response - invalid JSON specified","type":"object","properties":{"msg":{"type":"string","example":"Invalid JSON request"},"type":{"type":"string","example":"BAD_REQUEST"},"success":{"type":"boolean","example":false,"default":true},"status":{"type":"string","example":"failed"}}},{"title":"Failed Response - invalid token specified","type":"object","properties":{"msg":{"type":"string","example":"Invalid access token"},"type":{"type":"string","example":"UNAUTHORIZED"},"success":{"type":"boolean","example":false,"default":true},"status":{"type":"string","example":"failed"}}}]}}}}},"deprecated":false}},"/data/balance/get":{"post":{"summary":"Get Balance","description":"","operationId":"get-complete-accounts-copy","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"appSecret":{"type":"string","description":"Private token generated at application creation"},"userSecret":{"type":"string","description":"Encrypted version of the userKey"},"accountID":{"type":"string","description":"Bank account ID which balance is requested. Either enter accountID or cardID, not both"},"cardID":{"type":"string","description":"Card ID of the card which balance is requested for. Either enter accountID or cardID, not both"},"userInputs":{"type":"object","description":"OPTIONAL. Array of UserInputs object, required only if initial request responded with user inputs specification. You can read more about user inputs specification on Specify User Input","properties":{"id":{"type":"string","description":"Type of input required. You can read more about user input types on User Input Types","enum":["otp","secret_question","captcha","pin","confirmation","token"]},"query":{"type":"string","description":"Textual description of what is required from the user side"},"index":{"type":"integer","description":"Is used in case more than one user input is requested. Will always be 0 If only one input is requested","format":"int32"},"answer":{"type":"string","description":"User input that must be submitted. In the response it will always be empty"}}}}},"examples":{"Request (using accountID) - basic example":{"value":{"appSecret":"5e6a5c184cb15c5bbdca720da21a9dc1586d89789d44a77bb468efb095f1190c","userSecret":"Tj56n40ZqoPepDpySGroisPRNpj/OO/ZI1QT90w/JKxVJtGgKiN05sEQRR/EMVTSlgH2ULt0SdrZcVQqPRheLZEgti6UHoy4aE/DvJ5QXiByLNE3Sx3Fohk4FPXJ5dew37saEUD7O3XdRZU2ZYDLJ5NZl+po92DJ4FQoxDj/MX2ttCnA7W5r358f0tbII/jE0j1kPdr7EEBadV8NAnIRzKp60/ASJeLtEvPCFRc1lpkYIT+Gm5GuXFUUWj9BWT1lvpAd3BYa1MCtOv3Bv6OvSNqAp7M24ZQBrkz6ItkHYRtus9UMqtaEqiPyiJiUAgwqpQmepuy/hKbdgNw7uEt7botiUrhEE+HzcISkh0Tlf/WpCU9x8vyWJLhtQTjJ7NQ1VTTob1weogni1koE5TwiaXlJTjghEQdCLg2xu/SMeWlgyiHMLjrLHhIUnKb7z8Et6U0gtpYds6Qb1TaUtU1Zwj8s+kl/q3z2qmAQc0qO0jD0uNJ0HX8jSl+lpjlMo0cGsb24sX6Hnhbqko5pNn2gnZtxXYVWXLg10IxKJYeGYWUh1iLIan6cVA7d1sfNLiMbKkvT9nP3+201tFJn6MTUTwvA453Q4z+Zba0UQkFkstfn9203N5rjSMrcx3LNv5uZT1CEHotRKZ9Xzagm7s+eKkRY9GCPxXkUZMqVMywNt8U=","accountID":"yUZ3k5H6YRasdq1gf94fMrrMsOsnTDrB2uHm0JqEtq7Et2KbUO6ajpNN54E7KzGCcdBFcC4xYO8EbJGjIV7CWIlw=="}},"Request (using accountID)- example, successful":{"value":{"appSecret":"00bae841ad979345fca2e2585c000da7eac420504d189cf63315e7a6234d45c68dbd6fff749167292cd1475622805dce7a2b979db3c16e25a2897158ee63845b1043930ff603e19deb1d2d54ad9afc3d52df241d3c4e7286244a2f98a10212e38b2e9f8b0e3a7592702fa4358fb9103b93a26dd6bb92c2be0327ac054f14becc","userSecret":"DSv56dS/PB7QGJI/IGX4qKDhGVhIvQQhWo4zxTDT0gn079JlHnUSSq8NAtavX4fpHj7PGQ74BzVXBO9pFHXdSeLCMnayKLTLD0+zmMu7wfGzy+ZhkYTBe040CXWQ+AYaPhGTzfVWu3Lz6oM2QnqM9X56BbvpC80tN8Zg72VJHWC6YjazdQQ2NK0pl9+ePbmqn7PNjFKLhipgpTl7Hw3kvnLrSIC9AcXzVYQeSWYAv3LAEbECB1aNLXC0glMG2W7L2iLTMwy54wHbXXfSQlK9S6X7wmnZ0tn28H0MwMqWdLLtxvcFyYlMr3E0hqYnK4a5sU0IvF1yJAMHMBCbjw2Trnx2VMuX5IWjdxScfh+8IxWGvKl6RypksJTyNg100H+Q+j0vfKW/bOijFolZgHJtAxUowPlewK9JwoWahkbX2KTGoqQbSCh6KSzaCxdbg7ykNI5n+m6vdoWzGfZGFYjfgMX6aMInAM3b32ZAp9DlfFxRkg3oeoLBuTGTz73E51bZj9mGgD0FxkIXFPIWGx0WyxoYpMEesJeT8phNy0G82Bd7qzWCPGP4gK70jGpqfCWsvj1XZKMMMjReCdUrhtXKB4spQIFi+63WcGV7vDyWQdUTINOhmR8QfZOJoVm+VZgFiqCLI3Aa8AnoYw3UIPiheVjE5lxMulPNIP0QGMR31VY=","accountID":"yUZ3k5H6YRPfqtAkKoMrrMsO123asduHm0JqEtq7Et2KbUO6ajpNN54E7KzGCcdBFcC4xYO8EbJGjIV7CWIlw=="}},"Request (using accountID) - user input required":{"value":{"appSecret":"00bae841ad979345fca2e2585c000da7eac420504d189cf63315e7a6234d45c68dbd6fff749167292cd1475622805dce7a2b979db3c16e25a2897158ee63845b1043930ff603e19deb1d2d54ad9afc3d52df241d3c4e7286244a2f98a10212e38b2e9f8b0e3a7592702fa4358fb9103b93a26dd6bb92c2be0327ac054f14becc","userSecret":"DSv56dS/PB7QGJI/IGX4qKDhGVhIvQQhWo4zxTDT0gn079JlHnUSSq8NAtavX4fpHj7PGQ74BzVXBO9pFHXdSeLCMnayKLTLD0+zmMu7wfGzy+ZhkYTBe040CXWQ+AYaPhGTzfVWu3Lz6oM2QnqM9X56BbvpC80tN8Zg72VJHWC6YjazdQQ2NK0pl9+ePbmqn7PNjFKLhipgpTl7Hw3kvnLrSIC9AcXzVYQeSWYAv3LAEbECB1aNLXC0glMG2W7L2iLTMwy54wHbXXfSQlK9S6X7wmnZ0tn28H0MwMqWdLLtxvcFyYlMr3E0hqYnK4a5sU0IvF1yJAMHMBCbjw2Trnx2VMuX5IWjdxScfh+8IxWGvKl6RypksJTyNg100H+Q+j0vfKW/bOijFolZgHJtAxUowPlewK9JwoWahkbX2KTGoqQbSCh6KSzaCxdbg7ykNI5n+m6vdoWzGfZGFYjfgMX6aMInAM3b32ZAp9DlfFxRkg3oeoLBuTGTz73E51bZj9mGgD0FxkIXFPIWGx0WyxoYpMEesJeT8phNy0G82Bd7qzWCPGP4gK70jGpqfCWsvj1XZKMMMjReCdUrhtXKB4spQIFi+63WcGV7vDyWQdUTINOhmR8QfZOJoVm+VZgFiqCLI3Aa8AnoYw3UIPiheVjE5lxMulPNIP0QGMR31VY=","accountID":"yUZ3k5H6YRPfqtAkKoMrrMsO123asduHm0JqEtq7Et2KbUO6ajpNN54E7KzGCcdBFcC4xYO8EbJGjIV7CWIlw=="}},"Failed Request - invalid token specified":{"value":{"appSecret":"invalid_key","userSecret":"DSv56dS/PB7QGJI/IGX4qKDhGVhIvQQhWo4zxTDT0gn079JlHnUSSq8NAtavX4fpHj7PGQ74BzVXBO9pFHXdSeLCMnayKLTLD0+zmMu7wfGzy+ZhkYTBe040CXWQ+AYaPhGTzfVWu3Lz6oM2QnqM9X56BbvpC80tN8Zg72VJHWC6YjazdQQ2NK0pl9+ePbmqn7PNjFKLhipgpTl7Hw3kvnLrSIC9AcXzVYQeSWYAv3LAEbECB1aNLXC0glMG2W7L2iLTMwy54wHbXXfSQlK9S6X7wmnZ0tn28H0MwMqWdLLtxvcFyYlMr3E0hqYnK4a5sU0IvF1yJAMHMBCbjw2Trnx2VMuX5IWjdxScfh+8IxWGvKl6RypksJTyNg100H+Q+j0vfKW/bOijFolZgHJtAxUowPlewK9JwoWahkbX2KTGoqQbSCh6KSzaCxdbg7ykNI5n+m6vdoWzGfZGFYjfgMX6aMInAM3b32ZAp9DlfFxRkg3oeoLBuTGTz73E51bZj9mGgD0FxkIXFPIWGx0WyxoYpMEesJeT8phNy0G82Bd7qzWCPGP4gK70jGpqfCWsvj1XZKMMMjReCdUrhtXKB4spQIFi+63WcGV7vDyWQdUTINOhmR8QfZOJoVm+VZgFiqCLI3Aa8AnoYw3UIPiheVjE5lxMulPNIP0QGMR31VY=","accountID":"yUZ3k5H6YRPfqtAkKoMrrMsO123asduHm0JqEtq7Et2KbUO6ajpNN54E7KzGCcdBFcC4xYO8EbJGjIV7CWIlw=="}},"Request (using cardID) - basic example":{"value":{"appSecret":"5e6a5c184cb15c5bbdca720da21a9dc1586d89789d44a77bb468efb095f1190c","userSecret":"Tj56n40ZqoPepDpySGroisPRNpj/OO/ZI1QT90w/JKxVJtGgKiN05sEQRR/EMVTSlgH2ULt0SdrZcVQqPRheLZEgti6UHoy4aE/DvJ5QXiByLNE3Sx3Fohk4FPXJ5dew37saEUD7O3XdRZU2ZYDLJ5NZl+po92DJ4FQoxDj/MX2ttCnA7W5r358f0tbII/jE0j1kPdr7EEBadV8NAnIRzKp60/ASJeLtEvPCFRc1lpkYIT+Gm5GuXFUUWj9BWT1lvpAd3BYa1MCtOv3Bv6OvSNqAp7M24ZQBrkz6ItkHYRtus9UMqtaEqiPyiJiUAgwqpQmepuy/hKbdgNw7uEt7botiUrhEE+HzcISkh0Tlf/WpCU9x8vyWJLhtQTjJ7NQ1VTTob1weogni1koE5TwiaXlJTjghEQdCLg2xu/SMeWlgyiHMLjrLHhIUnKb7z8Et6U0gtpYds6Qb1TaUtU1Zwj8s+kl/q3z2qmAQc0qO0jD0uNJ0HX8jSl+lpjlMo0cGsb24sX6Hnhbqko5pNn2gnZtxXYVWXLg10IxKJYeGYWUh1iLIan6cVA7d1sfNLiMbKkvT9nP3+201tFJn6MTUTwvA453Q4z+Zba0UQkFkstfn9203N5rjSMrcx3LNv5uZT1CEHotRKZ9Xzagm7s+eKkRY9GCPxXkUZMqVMywNt8U=","cardID":"yUZ3k5H6YRasdq1gf94fMrrMsOsnTDrB2uHm0JqEtq7Et2KbUO6ajpNN54E7KzGCcdBFcC4xYO8EbJGjIV7CWIlw=="}},"Request (using cardID) - example, successful":{"value":{"appSecret":"00bae841ad979345fca2e2585c000da7eac420504d189cf63315e7a6234d45c68dbd6fff749167292cd1475622805dce7a2b979db3c16e25a2897158ee63845b1043930ff603e19deb1d2d54ad9afc3d52df241d3c4e7286244a2f98a10212e38b2e9f8b0e3a7592702fa4358fb9103b93a26dd6bb92c2be0327ac054f14becc","userSecret":"DSv56dS/PB7QGJI/IGX4qKDhGVhIvQQhWo4zxTDT0gn079JlHnUSSq8NAtavX4fpHj7PGQ74BzVXBO9pFHXdSeLCMnayKLTLD0+zmMu7wfGzy+ZhkYTBe040CXWQ+AYaPhGTzfVWu3Lz6oM2QnqM9X56BbvpC80tN8Zg72VJHWC6YjazdQQ2NK0pl9+ePbmqn7PNjFKLhipgpTl7Hw3kvnLrSIC9AcXzVYQeSWYAv3LAEbECB1aNLXC0glMG2W7L2iLTMwy54wHbXXfSQlK9S6X7wmnZ0tn28H0MwMqWdLLtxvcFyYlMr3E0hqYnK4a5sU0IvF1yJAMHMBCbjw2Trnx2VMuX5IWjdxScfh+8IxWGvKl6RypksJTyNg100H+Q+j0vfKW/bOijFolZgHJtAxUowPlewK9JwoWahkbX2KTGoqQbSCh6KSzaCxdbg7ykNI5n+m6vdoWzGfZGFYjfgMX6aMInAM3b32ZAp9DlfFxRkg3oeoLBuTGTz73E51bZj9mGgD0FxkIXFPIWGx0WyxoYpMEesJeT8phNy0G82Bd7qzWCPGP4gK70jGpqfCWsvj1XZKMMMjReCdUrhtXKB4spQIFi+63WcGV7vDyWQdUTINOhmR8QfZOJoVm+VZgFiqCLI3Aa8AnoYw3UIPiheVjE5lxMulPNIP0QGMR31VY=","cardID":"yUZ3k5H6YRPfqtAkKoMrrMsO123asduHm0JqEtq7Et2KbUO6ajpNN54E7KzGCcdBFcC4xYO8EbJGjIV7CWIlw=="}},"Request (using cardID) - user input required":{"value":{"appSecret":"00bae841ad979345fca2e2585c000da7eac420504d189cf63315e7a6234d45c68dbd6fff749167292cd1475622805dce7a2b979db3c16e25a2897158ee63845b1043930ff603e19deb1d2d54ad9afc3d52df241d3c4e7286244a2f98a10212e38b2e9f8b0e3a7592702fa4358fb9103b93a26dd6bb92c2be0327ac054f14becc","userSecret":"DSv56dS/PB7QGJI/IGX4qKDhGVhIvQQhWo4zxTDT0gn079JlHnUSSq8NAtavX4fpHj7PGQ74BzVXBO9pFHXdSeLCMnayKLTLD0+zmMu7wfGzy+ZhkYTBe040CXWQ+AYaPhGTzfVWu3Lz6oM2QnqM9X56BbvpC80tN8Zg72VJHWC6YjazdQQ2NK0pl9+ePbmqn7PNjFKLhipgpTl7Hw3kvnLrSIC9AcXzVYQeSWYAv3LAEbECB1aNLXC0glMG2W7L2iLTMwy54wHbXXfSQlK9S6X7wmnZ0tn28H0MwMqWdLLtxvcFyYlMr3E0hqYnK4a5sU0IvF1yJAMHMBCbjw2Trnx2VMuX5IWjdxScfh+8IxWGvKl6RypksJTyNg100H+Q+j0vfKW/bOijFolZgHJtAxUowPlewK9JwoWahkbX2KTGoqQbSCh6KSzaCxdbg7ykNI5n+m6vdoWzGfZGFYjfgMX6aMInAM3b32ZAp9DlfFxRkg3oeoLBuTGTz73E51bZj9mGgD0FxkIXFPIWGx0WyxoYpMEesJeT8phNy0G82Bd7qzWCPGP4gK70jGpqfCWsvj1XZKMMMjReCdUrhtXKB4spQIFi+63WcGV7vDyWQdUTINOhmR8QfZOJoVm+VZgFiqCLI3Aa8AnoYw3UIPiheVjE5lxMulPNIP0QGMR31VY=","cardID":"yUZ3k5H6YRPfqtAkKoMrrMsO123asduHm0JqEtq7Et2KbUO6ajpNN54E7KzGCcdBFcC4xYO8EbJGjIV7CWIlw=="}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Response (usingaccountID) - basic example":{"value":"{\n    \"operationID\": \"307e2a1f-3dc0-49cf-acae-4c1fa8ff8c38\",\n    \"success\": true,\n    \"status\": \"done\",\n    \"balance\": {\n        \"accountNumber\": \"199912212901\",\n        \"amount\": 1689,\n        \"currency\": {\n            \"code\": \"AED\",\n            \"name\": \"UNITED ARAB EMIRATES DIRHAM\"\n        }\n    }\n}"},"Response (using accountID) - example, successful":{"value":"{\n  \"balance\": {\n    \"accountNumber\": \"199912212901\",\n    \"amount\": 1689,\n    \"currency\": {\n      \"code\": \"AED\",\n      \"name\": \"UNITED ARAB EMIRATES DIRHAM\"\n    }\n  },\n  \"operationID\": \"e6847737-c24a-4a31-9bdd-700ee9cec4b8\",\n  \"status\": \"done\",\n  \"success\": true\n}"},"Response - user input required":{"value":"{\n    \"operationID\": \"47204fa6-dca6-44a5-8111-6c6489a232a2\",\n    \"success\": true,\n    \"status\": \"user_input_required\",\n    \"userInputs\": [\n    {\n      \"answer\": \"\",\n      \"id\": \"otp\",\n      \"index\": 0,\n      \"query\": \"Please enter a Smart Pass Token from your ENBD mobile application\"\n    }\n    ]\n}"},"Response (using cardID) - basic example":{"value":"{\n    \"operationID\": \"307e2a1f-3dc0-49cf-acae-4c1fa8ff8c38\",\n    \"success\": true,\n    \"status\": \"done\",\n    \"balance\": {\n        \"amountDue\": 1856,\n        \"availableBalance\": 10033.86,\n        \"cardNumber\": \"XXXXXXXXXXXX7740\",\n        \"currency\": {\n            \"code\": \"AED\",\n            \"name\": \"UNITED ARAB EMIRATES DIRHAM\"\n        },\n        \"dueDate\": \"2021-06-04T00:00:00.000Z\",\n        \"outstandingBalance\": 4966\n    }\n}"},"Response (using cardID) - example, successful":{"value":"{\n   \"balance\": {\n        \"amountDue\": 1856,\n        \"availableBalance\": 10033.86,\n        \"cardNumber\": \"XXXXXXXXXXXX7740\",\n        \"currency\": {\n            \"code\": \"AED\",\n            \"name\": \"UNITED ARAB EMIRATES DIRHAM\"\n        },\n        \"dueDate\": \"2021-06-04T00:00:00.000Z\",\n        \"outstandingBalance\": 4966\n    },\n  \"operationID\": \"e6847737-c24a-4a31-9bdd-700ee9cec4b8\",\n  \"status\": \"done\",\n  \"success\": true\n}"}},"schema":{"oneOf":[{"title":"Response (usingaccountID) - basic example","type":"object","properties":{"operationID":{"type":"string","example":"307e2a1f-3dc0-49cf-acae-4c1fa8ff8c38"},"success":{"type":"boolean","example":true,"default":true},"status":{"type":"string","example":"done"},"balance":{"type":"object","properties":{"accountNumber":{"type":"string","example":"199912212901"},"amount":{"type":"integer","example":1689,"default":0},"currency":{"type":"object","properties":{"code":{"type":"string","example":"AED"},"name":{"type":"string","example":"UNITED ARAB EMIRATES DIRHAM"}}}}}}},{"title":"Response (using accountID) - example, successful","type":"object","properties":{"balance":{"type":"object","properties":{"accountNumber":{"type":"string","example":"199912212901"},"amount":{"type":"integer","example":1689,"default":0},"currency":{"type":"object","properties":{"code":{"type":"string","example":"AED"},"name":{"type":"string","example":"UNITED ARAB EMIRATES DIRHAM"}}}}},"operationID":{"type":"string","example":"e6847737-c24a-4a31-9bdd-700ee9cec4b8"},"status":{"type":"string","example":"done"},"success":{"type":"boolean","example":true,"default":true}}},{"title":"Response - user input required","type":"object","properties":{"operationID":{"type":"string","example":"47204fa6-dca6-44a5-8111-6c6489a232a2"},"success":{"type":"boolean","example":true,"default":true},"status":{"type":"string","example":"user_input_required"},"userInputs":{"type":"array","items":{"type":"object","properties":{"answer":{"type":"string","example":""},"id":{"type":"string","example":"otp"},"index":{"type":"integer","example":0,"default":0},"query":{"type":"string","example":"Please enter a Smart Pass Token from your ENBD mobile application"}}}}}},{"title":"Response (using cardID) - basic example","type":"object","properties":{"operationID":{"type":"string","example":"307e2a1f-3dc0-49cf-acae-4c1fa8ff8c38"},"success":{"type":"boolean","example":true,"default":true},"status":{"type":"string","example":"done"},"balance":{"type":"object","properties":{"amountDue":{"type":"integer","example":1856,"default":0},"availableBalance":{"type":"number","example":10033.86,"default":0},"cardNumber":{"type":"string","example":"XXXXXXXXXXXX7740"},"currency":{"type":"object","properties":{"code":{"type":"string","example":"AED"},"name":{"type":"string","example":"UNITED ARAB EMIRATES DIRHAM"}}},"dueDate":{"type":"string","example":"2021-06-04T00:00:00.000Z"},"outstandingBalance":{"type":"integer","example":4966,"default":0}}}}},{"title":"Response (using cardID) - example, successful","type":"object","properties":{"balance":{"type":"object","properties":{"amountDue":{"type":"integer","example":1856,"default":0},"availableBalance":{"type":"number","example":10033.86,"default":0},"cardNumber":{"type":"string","example":"XXXXXXXXXXXX7740"},"currency":{"type":"object","properties":{"code":{"type":"string","example":"AED"},"name":{"type":"string","example":"UNITED ARAB EMIRATES DIRHAM"}}},"dueDate":{"type":"string","example":"2021-06-04T00:00:00.000Z"},"outstandingBalance":{"type":"integer","example":4966,"default":0}}},"operationID":{"type":"string","example":"e6847737-c24a-4a31-9bdd-700ee9cec4b8"},"status":{"type":"string","example":"done"},"success":{"type":"boolean","example":true,"default":true}}}]}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Failed Response - invalid JSON specified":{"value":"{\n  \"msg\": \"Invalid JSON request\",\n  \"type\": \"BAD_REQUEST\",\n  \"success\": false,\n  \"status\": \"failed\"\n}"},"Failed Response - invalid token specified":{"value":"{\n  \"msg\": \"Invalid access token\",\n  \"type\": \"UNAUTHORIZED\",\n  \"success\": false,\n  \"status\": \"failed\"\n}"}},"schema":{"oneOf":[{"title":"Failed Response - invalid JSON specified","type":"object","properties":{"msg":{"type":"string","example":"Invalid JSON request"},"type":{"type":"string","example":"BAD_REQUEST"},"success":{"type":"boolean","example":false,"default":true},"status":{"type":"string","example":"failed"}}},{"title":"Failed Response - invalid token specified","type":"object","properties":{"msg":{"type":"string","example":"Invalid access token"},"type":{"type":"string","example":"UNAUTHORIZED"},"success":{"type":"boolean","example":false,"default":true},"status":{"type":"string","example":"failed"}}}]}}}}},"deprecated":false}},"/data/accounts/get":{"post":{"summary":"Get Accounts","description":"","operationId":"get-accounts-copy","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"appSecret":{"type":"string","description":"Private token generated at application creation"},"userSecret":{"type":"string","description":"Encrypted version of the userKey"},"userInputs":{"type":"object","description":"OPTIONAL. Array of UserInputs object, required only if initial request responded with user inputs specification. You can read more about user inputs specification on Specify User Input","properties":{"id":{"type":"string","description":"Type of input required. You can read more about user input types on User Input Types","enum":["otp","secret_question","captcha","pin","confirmation","token"]},"query":{"type":"string","description":"Textual description of what is required from the user side"},"index":{"type":"integer","description":"Is used in case more than one user input is requested. Will always be 0 If only one input is requested","format":"int32"},"answer":{"type":"string","description":"User input that must be submitted. In the response it will always be empty"}}}}},"examples":{"Request - basic example":{"value":{"appSecret":"00bae841ad979345fca2e2585c000da7eac420504d189cf63315e7a6234d45c68dbd6fff749167292cd1475622805dce7a2b979db3c16e25a2897158ee63845b1043930ff603e19deb1d2d54ad9afc3d52df241d3c4e7286244a2f98a10212e38b2e9f8b0e3a7592702fa4358fb9103b93a26dd6bb92c2be0327ac054f14becc","userSecret":"DSv56dS/PB7QGJI/IGX4qKDhGVhIvQQhWo4zxTDT0gn079JlHnUSSq8NAtavX4fpHj7PGQ74BzVXBO9pFHXdSeLCMnayKLTLD0+zmMu7wfGzy+ZhkYTBe040CXWQ+AYaPhGTzfVWu3Lz6oM2QnqM9X56BbvpC80tN8Zg72VJHWC6YjazdQQ2NK0pl9+ePbmqn7PNjFKLhipgpTl7Hw3kvnLrSIC9AcXzVYQeSWYAv3LAEbECB1aNLXC0glMG2W7L2iLTMwy54wHbXXfSQlK9S6X7wmnZ0tn28H0MwMqWdLLtxvcFyYlMr3E0hqYnK4a5sU0IvF1yJAMHMBCbjw2Trnx2VMuX5IWjdxScfh+8IxWGvKl6RypksJTyNg100H+Q+j0vfKW/bOijFolZgHJtAxUowPlewK9JwoWahkbX2KTGoqQbSCh6KSzaCxdbg7ykNI5n+m6vdoWzGfZGFYjfgMX6aMInAM3b32ZAp9DlfFxRkg3oeoLBuTGTz73E51bZj9mGgD0FxkIXFPIWGx0WyxoYpMEesJeT8phNy0G82Bd7qzWCPGP4gK70jGpqfCWsvj1XZKMMMjReCdUrhtXKB4spQIFi+63WcGV7vDyWQdUTINOhmR8QfZOJoVm+VZgFiqCLI3Aa8AnoYw3UIPiheVjE5lxMulPNIP0QGMR31VY="}},"Request - example, successful":{"value":{"appSecret":"00bae841ad979345fca2e2585c000da7eac420504d189cf63315e7a6234d45c68dbd6fff749167292cd1475622805dce7a2b979db3c16e25a2897158ee63845b1043930ff603e19deb1d2d54ad9afc3d52df241d3c4e7286244a2f98a10212e38b2e9f8b0e3a7592702fa4358fb9103b93a26dd6bb92c2be0327ac054f14becc","userSecret":"DSv56dS/PB7QGJI/IGX4qKDhGVhIvQQhWo4zxTDT0gn079JlHnUSSq8NAtavX4fpHj7PGQ74BzVXBO9pFHXdSeLCMnayKLTLD0+zmMu7wfGzy+ZhkYTBe040CXWQ+AYaPhGTzfVWu3Lz6oM2QnqM9X56BbvpC80tN8Zg72VJHWC6YjazdQQ2NK0pl9+ePbmqn7PNjFKLhipgpTl7Hw3kvnLrSIC9AcXzVYQeSWYAv3LAEbECB1aNLXC0glMG2W7L2iLTMwy54wHbXXfSQlK9S6X7wmnZ0tn28H0MwMqWdLLtxvcFyYlMr3E0hqYnK4a5sU0IvF1yJAMHMBCbjw2Trnx2VMuX5IWjdxScfh+8IxWGvKl6RypksJTyNg100H+Q+j0vfKW/bOijFolZgHJtAxUowPlewK9JwoWahkbX2KTGoqQbSCh6KSzaCxdbg7ykNI5n+m6vdoWzGfZGFYjfgMX6aMInAM3b32ZAp9DlfFxRkg3oeoLBuTGTz73E51bZj9mGgD0FxkIXFPIWGx0WyxoYpMEesJeT8phNy0G82Bd7qzWCPGP4gK70jGpqfCWsvj1XZKMMMjReCdUrhtXKB4spQIFi+63WcGV7vDyWQdUTINOhmR8QfZOJoVm+VZgFiqCLI3Aa8AnoYw3UIPiheVjE5lxMulPNIP0QGMR31VY="}},"Request - user input required":{"value":{"appSecret":"00bae841ad979345fca2e2585c000da7eac420504d189cf63315e7a6234d45c68dbd6fff749167292cd1475622805dce7a2b979db3c16e25a2897158ee63845b1043930ff603e19deb1d2d54ad9afc3d52df241d3c4e7286244a2f98a10212e38b2e9f8b0e3a7592702fa4358fb9103b93a26dd6bb92c2be0327ac054f14becc","userSecret":"DSv56dS/PB7QGJI/IGX4qKDhGVhIvQQhWo4zxTDT0gn079JlHnUSSq8NAtavX4fpHj7PGQ74BzVXBO9pFHXdSeLCMnayKLTLD0+zmMu7wfGzy+ZhkYTBe040CXWQ+AYaPhGTzfVWu3Lz6oM2QnqM9X56BbvpC80tN8Zg72VJHWC6YjazdQQ2NK0pl9+ePbmqn7PNjFKLhipgpTl7Hw3kvnLrSIC9AcXzVYQeSWYAv3LAEbECB1aNLXC0glMG2W7L2iLTMwy54wHbXXfSQlK9S6X7wmnZ0tn28H0MwMqWdLLtxvcFyYlMr3E0hqYnK4a5sU0IvF1yJAMHMBCbjw2Trnx2VMuX5IWjdxScfh+8IxWGvKl6RypksJTyNg100H+Q+j0vfKW/bOijFolZgHJtAxUowPlewK9JwoWahkbX2KTGoqQbSCh6KSzaCxdbg7ykNI5n+m6vdoWzGfZGFYjfgMX6aMInAM3b32ZAp9DlfFxRkg3oeoLBuTGTz73E51bZj9mGgD0FxkIXFPIWGx0WyxoYpMEesJeT8phNy0G82Bd7qzWCPGP4gK70jGpqfCWsvj1XZKMMMjReCdUrhtXKB4spQIFi+63WcGV7vDyWQdUTINOhmR8QfZOJoVm+VZgFiqCLI3Aa8AnoYw3UIPiheVjE5lxMulPNIP0QGMR31VY="}},"Failed Request - invalid token specified":{"value":{"appSecret":"invalid_key","userSecret":"DSv56dS/PB7QGJI/IGX4qKDhGVhIvQQhWo4zxTDT0gn079JlHnUSSq8NAtavX4fpHj7PGQ74BzVXBO9pFHXdSeLCMnayKLTLD0+zmMu7wfGzy+ZhkYTBe040CXWQ+AYaPhGTzfVWu3Lz6oM2QnqM9X56BbvpC80tN8Zg72VJHWC6YjazdQQ2NK0pl9+ePbmqn7PNjFKLhipgpTl7Hw
[...]
