{"openapi":"3.0.0","info":{"title":"Lending API","description":"API for Studio's lending facilities.","version":"2.0.0"},"servers":[{"url":"https://api.clearstreet.io/studio/v2","description":"Production environment"}],"security":[{"BearerAuth":[]}],"paths":{"/accounts/{account_id}/locate-orders":{"post":{"operationId":"createLocateOrder","summary":"Create locate order","description":"Create locate order to borrow inventory for short-selling.","tags":["Locates"],"parameters":[{"in":"path","name":"account_id","required":true,"schema":{"$ref":"#/components/schemas/LocateOrder/properties/account_id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"symbol":{"$ref":"#/components/schemas/LocateOrder/properties/symbol"},"quantity":{"$ref":"#/components/schemas/LocateOrder/properties/requested_quantity"},"mpid":{"type":"string","minLength":1,"maxLength":256,"description":"The market participant where the locate will be sent."},"reference_id":{"$ref":"#/components/schemas/ReferenceId","description":"Your unique ID for this locate order."},"comments":{"type":"string","description":"Any additional comments for the locate request."}},"required":["symbol","quantity","mpid","symbols","reference_id"]}}}},"responses":{"200":{"description":"Locate order successfully created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LocateOrder"}}}},"default":{"$ref":"#/paths/~1accounts~1%7Baccount_id%7D~1easy-borrows/get/responses/default"}}},"get":{"operationId":"listLocateOrders","summary":"List locate orders","description":"List all locate orders","tags":["Locates"],"parameters":[{"in":"path","name":"account_id","required":true,"schema":{"$ref":"#/components/schemas/LocateOrder/properties/account_id"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/LocateOrder"}}},"required":["data"]}}}},"default":{"$ref":"#/paths/~1accounts~1%7Baccount_id%7D~1easy-borrows/get/responses/default"}}}},"/accounts/{account_id}/locate-orders/{locate_order_id}":{"get":{"operationId":"getLocateOrder","summary":"Get locate order","description":"Get locate order by its unique locate order ID.","tags":["Locates"],"parameters":[{"in":"path","name":"account_id","required":true,"schema":{"$ref":"#/components/schemas/LocateOrder/properties/account_id"}},{"in":"path","name":"locate_order_id","required":true,"schema":{"$ref":"#/components/schemas/LocateOrderId","description":"Locate order ID to get."}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LocateOrder"}}}},"default":{"$ref":"#/paths/~1accounts~1%7Baccount_id%7D~1easy-borrows/get/responses/default"}}},"patch":{"operationId":"updateLocateOrder","summary":"Update locate order","description":"Accept or decline locate order that has been offered.","tags":["Locates"],"parameters":[{"in":"path","name":"account_id","required":true,"schema":{"$ref":"#/components/schemas/LocateOrder/properties/account_id"}},{"in":"path","name":"locate_order_id","required":true,"schema":{"$ref":"#/components/schemas/LocateOrderId"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"accept":{"type":"boolean","description":"Accept or decline the locate order."}},"required":["accept"]}}}},"responses":{"200":{"description":"Locate accepted or declined successfully."},"default":{"$ref":"#/paths/~1accounts~1%7Baccount_id%7D~1easy-borrows/get/responses/default"}}}},"/accounts/{account_id}/easy-borrows":{"get":{"operationId":"listEasyBorrows","summary":"List easy borrows","description":"List all current easy-to-borrow stock symbols. This list changes dynamically daily.","tags":["Rates"],"parameters":[{"in":"path","name":"account_id","required":true,"schema":{"$ref":"#/components/schemas/LocateOrder/properties/account_id"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/LocateOrder/properties/symbol"}}},"required":["data"]}}}},"default":{"description":"Error response","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri","description":"A URI reference that identifies the problem type."},"title":{"type":"string","description":"A short, human-readable summary of the problem type."},"status":{"type":"number","minimum":100,"maximum":599,"description":"The HTTP status code generated by the origin server for this occurrence of the problem."},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem."},"instance":{"type":"string","format":"uri","description":"An absolute URI that identifies the specific occurrence of the problem. It may or may not yield further information if dereferenced."}},"additionalProperties":false,"description":"A Problem Details object (RFC 9457)"}}}}}}}},"components":{"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"schemas":{"MpId":{"type":"string","minLength":1,"maxLength":12,"example":"CLST","description":"Unique MPID assigned by us."},"ReferenceId":{"type":"string","minLength":1,"maxLength":256,"example":"my-order-id-123","description":"An ID that you provide."},"LocateId":{"type":"string","minLength":1,"maxLength":256,"example":12390213,"description":"Unique locate ID assigned by us."},"LocateOrderId":{"type":"string","minLength":1,"maxLength":256,"example":12390213,"description":"Unique locate ID assigned by us."},"LocateOrderStatus":{"type":"string","enum":["pending","offered","filled","rejected","declined","expired","cancelled"],"description":"The status of the locate order."},"LocateOrder":{"type":"object","properties":{"locate_order_id":{"$ref":"#/components/schemas/LocateOrderId"},"requested_at":{"$ref":"#/components/schemas/BorrowRate/properties/created_at","description":"The timestamp indicating when the locate order was requested."},"updated_at":{"$ref":"#/components/schemas/BorrowRate/properties/created_at","description":"The timestamp indicating when the locate order was last updated."},"mpid":{"$ref":"#/components/schemas/MpId"},"account_id":{"type":"string","minLength":1,"maxLength":256,"example":100000,"description":"Account ID for the account."},"symbol":{"type":"string","minLength":1,"maxLength":32,"example":"AAPL"},"status":{"$ref":"#/components/schemas/LocateOrderStatus"},"requested_quantity":{"type":"string","minLength":1,"maxLength":16,"example":100,"description":"String representation of quantity."},"locate_id":{"$ref":"#/components/schemas/LocateId","description":"The locate ID, available once the locate order has been offered"},"located_at":{"$ref":"#/components/schemas/BorrowRate/properties/created_at","description":"The timestamp indicating when the locate-order was located."},"expires_at":{"$ref":"#/components/schemas/BorrowRate/properties/created_at","description":"The timestamp indicating when the locate-order will expire."},"borrow_rate":{"$ref":"#/components/schemas/BorrowRate/properties/rate","description":"The rate charged if the instrument is held overnight."},"located_quantity":{"$ref":"#/components/schemas/LocateOrder/properties/requested_quantity","description":"The quantity that has been located."},"total_cost":{"description":"The total cost of the locate.","type":"string","minLength":1,"maxLength":16,"example":123.99},"desk_comment":{"type":"string","description":"Comment from the desk."},"trader_comment":{"type":"string","description":"Comment from the trader."},"reference_id":{"$ref":"#/components/schemas/ReferenceId","description":"The reference ID provided by you."}},"required":["locate_order_id","requested_at","updated_at","mpid","account_id","symbol","status","requested_quantity"]},"BorrowRate":{"type":"object","properties":{"symbol":{"$ref":"#/components/schemas/LocateOrder/properties/symbol","description":"The symbol for which the rate is provided."},"created_at":{"description":"The timestamp indicating when the rate was created.","type":"integer","format":"int64","minimum":1710613560668,"maximum":2900000000000},"expires_at":{"$ref":"#/components/schemas/BorrowRate/properties/created_at","description":"The timestamp indicating when the rate will expire."},"rate":{"description":"The indicative borrow rate expressed as a percentage for the instrument if held overnight.","type":"string","minLength":1,"maxLength":16,"example":0.23},"mpid":{"$ref":"#/components/schemas/MpId","description":"The MPID that provided the rate."}},"required":["symbol","created_at","expires_at","rate","mpid"]}}},"externalDocs":{"url":"https://docs.clearstreet.io/"},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}