{"openapi":"3.1.0","info":{"title":"Dapi BaaS API","version":"2.0"},"servers":[{"url":"https://xp88-nx1d-ivba.n7c.xano.io/api:_AQlnHNW"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","name":"X-Dapi-Api-Key"},"sec1":{"type":"apiKey","in":"header","name":"X-Dapi-Api-Secret"}}},"security":[{"sec0":[],"sec1":[]}],"paths":{"/webhooks":{"get":{"summary":"Get Webhooks","description":"","operationId":"get-webhooks","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"patch":{"summary":"Update Webhook","description":"","operationId":"update-webhook","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/webhooks/{webhookID}":{"get":{"summary":"Get Webhook","description":"","operationId":"get-webhook-by-webhookid","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"delete":{"summary":"Delete Webhook","description":"","operationId":"delete-webhook-by-webhookid","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/webhooks/events/list":{"get":{"summary":"Get Events","description":"","operationId":"get-events","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/entities/person":{"post":{"summary":"Create Person","description":"","operationId":"create-person","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"firstName":{"type":"string","description":"First name of the person (32 characters max)"},"lastName":{"type":"string","description":"Last name of the person (32 characters max)"},"middleName":{"type":"string","description":"OPTIONAL. Middle name of the person (32 characters max)"},"phone":{"type":"string","description":"Person’s mobile phone number"},"personID":{"type":"string","description":"OPTIONAL. Client side identifier of the person to fetch information later"},"dateOfBirth":{"type":"string","description":"The full birth date of the person in YYYY-MM-DD format"},"email":{"type":"string","description":"E-mail address of the person"},"identification":{"type":"object","properties":{}},"address":{"type":"object","properties":{"line1":{"type":"string","description":"Full number and name of street, avenue, road etc. (max 48 chars)"},"line2":{"type":"string","description":"OPTIONAL. Any additional information (max 48 chars)"},"city":{"type":"string","description":"City corresponding to the address (max 30 chars)"},"state":{"type":"string","description":"2-Letter US state abbreviation or max 30 chars (e.g. \"NY\")"},"postalCode":{"type":"string","description":"Postal code corresponding to the address (max 10 chars)"},"country":{"type":"string","description":"ISO 3-letter country country (max 3 chars)"}}}}},"examples":{"Request Example":{"value":{"firstName":"Michael","lastName":"Scott","middleName":"Gary","phone":"+19042875461","address":{"line1":"Slough Avenue","line2":"","city":"Scranton","state":"PA","postalCode":"1725","country":"USA"},"personID":null,"dateOfBirth":"1965-03-15","email":"michaelscott@office.com","identification":{"idType":"SSN","idNumber":"112223233"}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"personID\": \"9c4b9c04-435f-473c-bb53-aa7b5f3901a3\",\n    \"firstName\": \"Michael\",\n    \"middleName\": \"\",\n    \"lastName\": \"Scott\",\n    \"dateOfBirth\": \"1965-03-15\",\n    \"phone\": \"+19042875461\",\n    \"email\": \"michaelscott@office.com\",\n    \"address\": {\n        \"line1\": \"Slough Avenue\",\n        \"line2\": \"\",\n        \"city\": \"Scranton\",\n        \"state\": \"PA\",\n        \"postalCode\": \"1725\",\n        \"country\": \"USA\"\n    },\n    \"identification\": {\n        \"idType\": \"SSN\",\n        \"idNumber\": \"tok_sandbox_3WEsL3HBeF6PhAwn6Q1jTe\"\n    },\n    \"KYC\": {\n        \"status\": \"In Progress\"\n    },\n    \"createdAt\": \"2023-03-23T09:08:29.843Z\",\n    \"updatedAt\": \"2023-03-23T09:08:29.841Z\"\n}"}},"schema":{"type":"object","properties":{"personID":{"type":"string","example":"9c4b9c04-435f-473c-bb53-aa7b5f3901a3"},"firstName":{"type":"string","example":"Michael"},"middleName":{"type":"string","example":""},"lastName":{"type":"string","example":"Scott"},"dateOfBirth":{"type":"string","example":"1965-03-15"},"phone":{"type":"string","example":"+19042875461"},"email":{"type":"string","example":"michaelscott@office.com"},"address":{"type":"object","properties":{"line1":{"type":"string","example":"Slough Avenue"},"line2":{"type":"string","example":""},"city":{"type":"string","example":"Scranton"},"state":{"type":"string","example":"PA"},"postalCode":{"type":"string","example":"1725"},"country":{"type":"string","example":"USA"}}},"identification":{"type":"object","properties":{"idType":{"type":"string","example":"SSN"},"idNumber":{"type":"string","example":"tok_sandbox_3WEsL3HBeF6PhAwn6Q1jTe"}}},"KYC":{"type":"object","properties":{"status":{"type":"string","example":"In Progress"}}},"createdAt":{"type":"string","example":"2023-03-23T09:08:29.843Z"},"updatedAt":{"type":"string","example":"2023-03-23T09:08:29.841Z"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"get":{"summary":"Get Person","description":"","operationId":"get-person","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"persons\": [\n        {\n            \"personID\": \"aa9917fe-0a45-45f4-94b7-45e9ddcbf3c7\",\n            \"firstName\": \"John\",\n            \"middleName\": \"\",\n            \"lastName\": \"John\",\n            \"dateOfBirth\": \"1975-02-28\",\n            \"phone\": \"9540123456\",\n            \"email\": \"new@email.com\",\n            \"address\": {\n                \"line1\": \"7470 Red Bay Place\",\n                \"line2\": \"\",\n                \"city\": \"Coral Springs\",\n                \"state\": \"FL\",\n                \"postalCode\": \"33065\",\n                \"country\": \"USA\"\n            },\n            \"identification\": {\n                \"idType\": \"SSN\",\n                \"idNumber\": \"tok_sandbox_3WEsL3HBeF6PhAwn6Q1jTe\"\n            },\n            \"KYC\": {\n                \"status\": \"Rejected\"\n            },\n            \"createdAt\": \"2023-03-20T04:15:54.312Z\",\n            \"updatedAt\": \"2023-03-20T04:42:04.878Z\"\n        },\n        {\n            \"personID\": \"5589dd57-74be-407e-921d-e80148181d64\",\n            \"firstName\": \"John\",\n            \"middleName\": \"\",\n            \"lastName\": \"John\",\n            \"dateOfBirth\": \"1975-02-28\",\n            \"phone\": \"9540123456\",\n            \"email\": \"john.smith@qolo.io\",\n            \"address\": {\n                \"line1\": \"7470 Red Bay Place\",\n                \"line2\": \"\",\n                \"city\": \"Coral Springs\",\n                \"state\": \"FL\",\n                \"postalCode\": \"33065\",\n                \"country\": \"USA\"\n            },\n            \"identification\": {\n                \"idType\": \"SSN\",\n                \"idNumber\": \"tok_sandbox_3WEsL3HBeF6PhAwn6Q1jTe\"\n            },\n            \"KYC\": {\n                \"status\": \"Rejected\"\n            },\n            \"createdAt\": \"2023-03-20T04:16:09.480Z\",\n            \"updatedAt\": \"2023-03-20T04:16:09.478Z\"\n        },\n        {\n            \"personID\": \"f5bc63b5-e4f5-4065-9eb1-c0b26a1d5262\",\n            \"firstName\": \"John\",\n            \"middleName\": \"\",\n            \"lastName\": \"John\",\n            \"dateOfBirth\": \"1975-02-28\",\n            \"phone\": \"9540123456\",\n            \"email\": \"john.smith@qolo.io\",\n            \"address\": {\n                \"line1\": \"7470 Red Bay Place\",\n                \"line2\": \"\",\n                \"city\": \"Coral Springs\",\n                \"state\": \"FL\",\n                \"postalCode\": \"33065\",\n                \"country\": \"USA\"\n            },\n            \"identification\": {\n                \"idType\": \"SSN\",\n                \"idNumber\": \"tok_sandbox_3WEsL3HBeF6PhAwn6Q1jTe\"\n            },\n            \"KYC\": {\n                \"status\": \"Rejected\"\n            },\n            \"createdAt\": \"2023-03-20T04:17:33.716Z\",\n            \"updatedAt\": \"2023-03-20T04:17:33.714Z\"\n        },\n        {\n            \"personID\": \"2d6dd777-22b5-4ace-98f4-e15daf31c5bf\",\n            \"firstName\": \"John\",\n            \"middleName\": \"\",\n            \"lastName\": \"Smith\",\n            \"dateOfBirth\": \"1975-02-28\",\n            \"phone\": \"+1951234444\",\n            \"email\": \"john.smith@example.com\",\n            \"address\": {\n                \"line1\": \"222333 PEACHTREE PLACE\",\n                \"line2\": \"\",\n                \"city\": \"Atlanta\",\n                \"state\": \"GA\",\n                \"postalCode\": \"30318\",\n                \"country\": \"USA\"\n            },\n            \"identification\": {\n                \"idType\": \"SSN\",\n                \"idNumber\": \"tok_sandbox_3WEsL3HBeF6PhAwn6Q1jTe\"\n            },\n            \"KYC\": {\n                \"status\": \"Approved\"\n            },\n            \"createdAt\": \"2023-03-20T04:35:56.850Z\",\n            \"updatedAt\": \"2023-03-20T04:35:56.849Z\"\n        },\n        {\n            \"personID\": \"5469473c-c7c4-4ee8-924c-6d5a35d9e034\",\n            \"firstName\": \"John\",\n            \"middleName\": \"\",\n            \"lastName\": \"Smith\",\n            \"dateOfBirth\": \"1975-02-28\",\n            \"phone\": \"+1951234444\",\n            \"email\": \"john.smith@example.com\",\n            \"address\": {\n                \"line1\": \"222333 PEACHTREE PLACE\",\n                \"line2\": \"\",\n                \"city\": \"Atlanta\",\n                \"state\": \"GA\",\n                \"postalCode\": \"30318\",\n                \"country\": \"USA\"\n            },\n            \"identification\": {\n                \"idType\": \"SSN\",\n                \"idNumber\": \"tok_sandbox_3WEsL3HBeF6PhAwn6Q1jTe\"\n            },\n            \"KYC\": {\n                \"status\": \"In Progress\"\n            },\n            \"createdAt\": \"2023-03-22T04:10:22.093Z\",\n            \"updatedAt\": \"2023-03-22T04:10:22.091Z\"\n        },\n        {\n            \"personID\": \"c8a96f30-b67d-4566-845b-2a1782cb68b6\",\n            \"firstName\": \"John\",\n            \"middleName\": \"\",\n            \"lastName\": \"Smith\",\n            \"dateOfBirth\": \"1975-02-28\",\n            \"phone\": \"+1951234444\",\n            \"email\": \"john.smith@example.com\",\n            \"address\": {\n                \"line1\": \"222333 PEACHTREE PLACE\",\n                \"line2\": \"\",\n                \"city\": \"Atlanta\",\n                \"state\": \"GA\",\n                \"postalCode\": \"30318\",\n                \"country\": \"USA\"\n            },\n            \"identification\": {\n                \"idType\": \"SSN\",\n                \"idNumber\": \"tok_sandbox_3WEsL3HBeF6PhAwn6Q1jTe\"\n            },\n            \"KYC\": {\n                \"status\": \"In Progress\"\n            },\n            \"createdAt\": \"2023-03-22T04:11:10.240Z\",\n            \"updatedAt\": \"2023-03-22T04:11:10.239Z\"\n        },\n        {\n            \"personID\": \"c1299bf1-245a-4c64-a077-87a055ee6632\",\n            \"firstName\": \"John\",\n            \"middleName\": \"\",\n            \"lastName\": \"Smith\",\n            \"dateOfBirth\": \"1975-02-28\",\n            \"phone\": \"+1951234444\",\n            \"email\": \"john.smith@example.com\",\n            \"address\": {\n                \"line1\": \"222333 PEACHTREE PLACE\",\n                \"line2\": \"\",\n                \"city\": \"Atlanta\",\n                \"state\": \"GA\",\n                \"postalCode\": \"30318\",\n                \"country\": \"USA\"\n            },\n            \"identification\": {\n                \"idType\": \"SSN\",\n                \"idNumber\": \"tok_sandbox_3WEsL3HBeF6PhAwn6Q1jTe\"\n            },\n            \"KYC\": {\n                \"status\": \"Approved\"\n            },\n            \"createdAt\": \"2023-03-22T04:11:21.827Z\",\n            \"updatedAt\": \"2023-03-22T04:11:21.825Z\"\n        },\n        {\n            \"personID\": \"73b6bb9a-a0d3-4c08-897d-6fabc0b7bcca\",\n            \"firstName\": \"John\",\n            \"middleName\": \"\",\n            \"lastName\": \"Smith\",\n            \"dateOfBirth\": \"1975-02-28\",\n            \"phone\": \"+1951234444\",\n            \"email\": \"john.smith@example.com\",\n            \"address\": {\n                \"line1\": \"222333 PEACHTREE PLACE\",\n                \"line2\": \"\",\n                \"city\": \"Atlanta\",\n                \"state\": \"GA\",\n                \"postalCode\": \"30318\",\n                \"country\": \"USA\"\n            },\n            \"identification\": {\n                \"idType\": \"SSN\",\n                \"idNumber\": \"tok_sandbox_3WEsL3HBeF6PhAwn6Q1jTe\"\n            },\n            \"KYC\": {\n                \"status\": \"In Progress\"\n            },\n            \"createdAt\": \"2023-03-22T04:13:29.119Z\",\n            \"updatedAt\": \"2023-03-22T04:13:29.118Z\"\n        },\n        {\n            \"personID\": \"1804785f-06a8-451c-b012-3c8d8bea081c\",\n            \"firstName\": \"Mike\",\n            \"middleName\": \"\",\n            \"lastName\": \"Smith\",\n            \"dateOfBirth\": \"1975-02-28\",\n            \"phone\": \"+1951234444\",\n            \"email\": \"john.smith@example.com\",\n            \"address\": {\n                \"line1\": \"222333 PEACHTREE PLACE\",\n                \"line2\": \"\",\n                \"city\": \"Atlanta\",\n                \"state\": \"GA\",\n                \"postalCode\": \"30318\",\n                \"country\": \"USA\"\n            },\n            \"identification\": {\n                \"idType\": \"SSN\",\n                \"idNumber\": \"tok_sandbox_3WEsL3HBeF6PhAwn6Q1jTe\"\n            },\n            \"KYC\": {\n                \"status\": \"Approved\"\n            },\n            \"createdAt\": \"2023-03-22T04:14:10.606Z\",\n            \"updatedAt\": \"2023-03-22T04:40:01.115Z\"\n        },\n        {\n            \"personID\": \"7d64b3f2-a26a-466a-ac79-5e46b9bb3030\",\n            \"firstName\": \"John\",\n            \"middleName\": \"\",\n            \"lastName\": \"Smith\",\n            \"dateOfBirth\": \"1975-02-28\",\n            \"phone\": \"+1951234444\",\n            \"email\": \"john.smith@example.com\",\n            \"address\": {\n                \"line1\": \"222333 PEACHTREE PLACE\",\n                \"line2\": \"\",\n                \"city\": \"Atlanta\",\n                \"state\": \"GA\",\n                \"postalCode\": \"30318\",\n                \"country\": \"USA\"\n            },\n            \"identification\": {\n                \"idType\": \"SSN\",\n                \"idNumber\": \"tok_sandbox_3WEsL3HBeF6PhAwn6Q1jTe\"\n            },\n            \"KYC\": {\n                \"status\": \"In Progress\"\n            },\n            \"createdAt\": \"2023-03-22T09:53:39.942Z\",\n            \"updatedAt\": \"2023-03-22T09:53:39.941Z\"\n        },\n        {\n            \"personID\": \"025b54f0-1446-411a-97d2-af82238e72d6\",\n            \"firstName\": \"John\",\n            \"middleName\": \"\",\n            \"lastName\": \"Smith\",\n            \"dateOfBirth\": \"1975-02-28\",\n            \"phone\": \"+1951234444\",\n            \"email\": \"john.smith@example.com\",\n            \"address\": {\n                \"line1\": \"222333 PEACHTREE PLACE\",\n                \"line2\": \"\",\n                \"city\": \"Atlanta\",\n                \"state\": \"GA\",\n                \"postalCode\": \"30318\",\n                \"country\": \"USA\"\n            },\n            \"identification\": {\n                \"idType\": \"SSN\",\n                \"idNumber\": \"tok_sandbox_3WEsL3HBeF6PhAwn6Q1jTe\"\n            },\n            \"KYC\": {\n                \"status\": \"In Progress\"\n            },\n            \"createdAt\": \"2023-03-22T09:55:56.364Z\",\n            \"updatedAt\": \"2023-03-22T09:55:56.362Z\"\n        },\n        {\n            \"personID\": \"76f4dfcf-ac9c-4575-9064-baac610a4fef\",\n            \"firstName\": \"John\",\n            \"middleName\": \"\",\n            \"lastName\": \"Smith\",\n            \"dateOfBirth\": \"1975-02-28\",\n            \"phone\": \"+1951234444\",\n            \"email\": \"john.smith@example.com\",\n            \"address\": {\n                \"line1\": \"222333 PEACHTREE PLACE\",\n                \"line2\": \"\",\n                \"city\": \"Atlanta\",\n                \"state\": \"GA\",\n                \"postalCode\": \"30318\",\n                \"country\": \"USA\"\n            },\n            \"identification\": {\n                \"idType\": \"SSN\",\n                \"idNumber\": \"tok_sandbox_3WEsL3HBeF6PhAwn6Q1jTe\"\n            },\n            \"KYC\": {\n                \"status\": \"In Progress\"\n            },\n            \"createdAt\": \"2023-03-22T12:47:13.838Z\",\n            \"updatedAt\": \"2023-03-22T12:47:13.836Z\"\n        },\n        {\n            \"personID\": \"9c4b9c04-435f-473c-bb53-aa7b5f3901a3\",\n            \"firstName\": \"Michael\",\n            \"middleName\": \"\",\n            \"lastName\": \"Scott\",\n            \"dateOfBirth\": \"1965-03-15\",\n            \"phone\": \"+19042875461\",\n            \"email\": \"michaelscott@office.com\",\n            \"address\": {\n                \"line1\": \"Slough Avenue\",\n                \"line2\": \"\",\n                \"city\": \"Scranton\",\n                \"state\": \"PA\",\n                \"postalCode\": \"1725\",\n                \"country\": \"USA\"\n            },\n            \"identification\": {\n                \"idType\": \"SSN\",\n                \"idNumber\": \"tok_sandbox_3WEsL3HBeF6PhAwn6Q1jTe\"\n            },\n            \"KYC\": {\n                \"status\": \"In Progress\"\n            },\n            \"createdAt\": \"2023-03-23T09:08:29.843Z\",\n            \"updatedAt\": \"2023-03-23T09:08:29.841Z\"\n        },\n        {\n            \"personID\": \"873048f8-7b4e-4189-8121-4219239807ee\",\n            \"firstName\": \"Michael\",\n            \"middleName\": \"\",\n            \"lastName\": \"Scott\",\n            \"dateOfBirth\": \"1965-03-15\",\n            \"phone\": \"+19042875461\",\n            \"email\": \"michaelscott@office.com\",\n            \"address\": {\n                \"line1\": \"Slough Avenue\",\n                \"line2\": \"\",\n                \"city\": \"Scranton\",\n                \"state\": \"PA\",\n                \"postalCode\": \"1725\",\n                \"country\": \"USA\"\n            },\n            \"identification\": {\n                \"idType\": \"SSN\",\n                \"idNumber\": \"tok_sandbox_3WEsL3HBeF6PhAwn6Q1jTe\"\n            },\n            \"KYC\": {\n                \"status\": \"In Progress\"\n            },\n            \"createdAt\": \"2023-03-23T09:12:02.686Z\",\n            \"updatedAt\": \"2023-03-23T09:12:02.684Z\"\n        }\n    ],\n    \"curPage\": 1,\n    \"nextPage\": null,\n    \"prevPage\": null,\n    \"total\": 14\n}"}},"schema":{"type":"object","properties":{"persons":{"type":"array","items":{"type":"object","properties":{"personID":{"type":"string","example":"aa9917fe-0a45-45f4-94b7-45e9ddcbf3c7"},"firstName":{"type":"string","example":"John"},"middleName":{"type":"string","example":""},"lastName":{"type":"string","example":"John"},"dateOfBirth":{"type":"string","example":"1975-02-28"},"phone":{"type":"string","example":"9540123456"},"email":{"type":"string","example":"new@email.com"},"address":{"type":"object","properties":{"line1":{"type":"string","example":"7470 Red Bay Place"},"line2":{"type":"string","example":""},"city":{"type":"string","example":"Coral Springs"},"state":{"type":"string","example":"FL"},"postalCode":{"type":"string","example":"33065"},"country":{"type":"string","example":"USA"}}},"identification":{"type":"object","properties":{"idType":{"type":"string","example":"SSN"},"idNumber":{"type":"string","example":"tok_sandbox_3WEsL3HBeF6PhAwn6Q1jTe"}}},"KYC":{"type":"object","properties":{"status":{"type":"string","example":"Rejected"}}},"createdAt":{"type":"string","example":"2023-03-20T04:15:54.312Z"},"updatedAt":{"type":"string","example":"2023-03-20T04:42:04.878Z"}}}},"curPage":{"type":"integer","example":1,"default":0},"nextPage":{},"prevPage":{},"total":{"type":"integer","example":14,"default":0}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/entities/person/{personID}":{"get":{"summary":"Get Person by personID","description":"","operationId":"get-person-copy","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"personID\": \"9c4b9c04-435f-473c-bb53-aa7b5f3901a3\",\n    \"firstName\": \"Michael\",\n    \"middleName\": \"\",\n    \"lastName\": \"Scott\",\n    \"dateOfBirth\": \"1965-03-15\",\n    \"phone\": \"+19042875461\",\n    \"email\": \"michaelscott@office.com\",\n    \"address\": {\n        \"line1\": \"Slough Avenue\",\n        \"line2\": \"\",\n        \"city\": \"Scranton\",\n        \"state\": \"PA\",\n        \"postalCode\": \"1725\",\n        \"country\": \"USA\"\n    },\n    \"identification\": {\n        \"idType\": \"SSN\",\n        \"idNumber\": \"tok_sandbox_3WEsL3HBeF6PhAwn6Q1jTe\"\n    },\n    \"KYC\": {\n        \"status\": \"In Progress\"\n    },\n    \"createdAt\": \"2023-03-23T09:08:29.843Z\",\n    \"updatedAt\": \"2023-03-23T09:08:29.841Z\"\n}"}},"schema":{"type":"object","properties":{"personID":{"type":"string","example":"9c4b9c04-435f-473c-bb53-aa7b5f3901a3"},"firstName":{"type":"string","example":"Michael"},"middleName":{"type":"string","example":""},"lastName":{"type":"string","example":"Scott"},"dateOfBirth":{"type":"string","example":"1965-03-15"},"phone":{"type":"string","example":"+19042875461"},"email":{"type":"string","example":"michaelscott@office.com"},"address":{"type":"object","properties":{"line1":{"type":"string","example":"Slough Avenue"},"line2":{"type":"string","example":""},"city":{"type":"string","example":"Scranton"},"state":{"type":"string","example":"PA"},"postalCode":{"type":"string","example":"1725"},"country":{"type":"string","example":"USA"}}},"identification":{"type":"object","properties":{"idType":{"type":"string","example":"SSN"},"idNumber":{"type":"string","example":"tok_sandbox_3WEsL3HBeF6PhAwn6Q1jTe"}}},"KYC":{"type":"object","properties":{"status":{"type":"string","example":"In Progress"}}},"createdAt":{"type":"string","example":"2023-03-23T09:08:29.843Z"},"updatedAt":{"type":"string","example":"2023-03-23T09:08:29.841Z"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"patch":{"summary":"Update Person","description":"","operationId":"update-person","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n\n    \"personID\" : \"49747d90-98ac-4d80-a968-779d275e469f\",\n    \"firstName\" : \"Michael\",\n    \"middleName\" : \"Gary\",\n    \"lastName\" : \"Scott\",\n    \"dateOfBirth\" : \"1965-03-15\",\n    \"phone\" : \"+19042875461\",\n    \"email\" : \"michaelscott@saber.com\",\n    \"address\" : {\n        \"line1\" : \"Slough Avenue\",\n        \"line2\" : \"\",\n        \"city\" : \"Scranton\",\n        \"state\" : \"PA\",\n        \"postalCode\" : \"1725\",\n        \"country\" : \"USA\"\n      },\n    \"identification\" : {\n        \"idType\" : \"SSN\",\n        \"idNumber\" : \"112223233\"\n      }\n  }"}},"schema":{"type":"object","properties":{"personID":{"type":"string","example":"49747d90-98ac-4d80-a968-779d275e469f"},"firstName":{"type":"string","example":"Michael"},"middleName":{"type":"string","example":"Gary"},"lastName":{"type":"string","example":"Scott"},"dateOfBirth":{"type":"string","example":"1965-03-15"},"phone":{"type":"string","example":"+19042875461"},"email":{"type":"string","example":"michaelscott@saber.com"},"address":{"type":"object","properties":{"line1":{"type":"string","example":"Slough Avenue"},"line2":{"type":"string","example":""},"city":{"type":"string","example":"Scranton"},"state":{"type":"string","example":"PA"},"postalCode":{"type":"string","example":"1725"},"country":{"type":"string","example":"USA"}}},"identification":{"type":"object","properties":{"idType":{"type":"string","example":"SSN"},"idNumber":{"type":"string","example":"112223233"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"requestBody":{"content":{"application/json":{"schema":{},"examples":{"Request Example":{"value":{"personID":"49747d90-98ac-4d80-a968-779d275e469f","firstName":null,"address":{"line1":null,"line2":null,"city":null,"state":null,"postalCode":null,"country":null},"phone":null,"email":"michaelscott@saber.com","middleName":"","lastName":""}}}}}}}},"/entities/business":{"post":{"summary":"Create Business","description":"","operationId":"create-person-copy","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"businessName":{"type":"string","description":"The legal name of the business as seen in your legal document (32 chars max)"},"phone":{"type":"string","description":"Official phone number of a business"},"businessID":{"type":"string","description":"OPTIONAL. A unique identifier on your side to fetch business information later"},"email":{"type":"string","description":"Email address of the business"},"formationDate":{"type":"string","description":"Date of the formation of the business based on your legal document"},"address":{"type":"object","description":"Official address of the business","properties":{"line1":{"type":"string","description":"Full number and name of street, avenue, road etc. (max 48 chars)"},"line2":{"type":"string","description":"OPTIONAL. Any additional information (max 48 chars)"},"city":{"type":"string","description":"City corresponding to the address (max 30 chars)"},"state":{"type":"string","description":"2-Letter US state abbreviation or max 30 chars (e.g. \"NY\")"},"postalCode":{"type":"string","description":"Postal code corresponding to the address (max 10 chars)"},"country":{"type":"string","description":"ISO 3-letter country country (max 3 chars)"}}},"identification":{"type":"object","description":"Employer identification details as seen on your legal document","properties":{"idType":{"type":"string","description":"Type of the identification document","enum":["\"EID\""]},"idNumber":{"type":"string","description":"The number of the identification document attached"}}}}},"examples":{"Request Example":{"value":{"businessName":"Dunder Mifflin","phone":"(570) 343-3400","address":{"line1":"1345 Sixth Avenue","line2":"","city":"Manhattan","state":"NY","postalCode":"18505","country":"USA"},"businessID":null,"email":"narddog@dundermifflin.com","formationDate":"1949-03-07","identification":{"idType":"EID","idNumber":"112223333"}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"businessID\": \"62cf2d83-a723-4a26-b85f-7fd2d3e47bd8\",\n    \"businessName\": \"Dunder Mifflin\",\n    \"formationDate\": \"1949-03-07\",\n    \"phone\": \"(570) 343-3400\",\n    \"email\": \"narddog@dundermifflin.com\",\n    \"address\": {\n        \"line1\": \"1345 Sixth Avenue\",\n        \"line2\": \"\",\n        \"city\": \"Manhattan\",\n        \"state\": \"NY\",\n        \"postalCode\": \"18505\",\n        \"country\": \"USA\"\n    },\n    \"identification\": {\n        \"idType\": \"EID\",\n        \"idNumber\": \"tok_sandbox_3WEsL3HBeF6PhAwn6Q1jTe\"\n    },\n    \"KYB\": {\n        \"status\": \"In Progress\"\n    },\n    \"createdAt\": \"2023-03-23T09:41:00.807Z\",\n    \"updatedAt\": \"2023-03-23T09:41:00.778Z\"\n}"}},"schema":{"type":"object","properties":{"businessID":{"type":"string","example":"62cf2d83-a723-4a26-b85f-7fd2d3e47bd8"},"businessName":{"type":"string","example":"Dunder Mifflin"},"formationDate":{"type":"string","example":"1949-03-07"},"phone":{"type":"string","example":"(570) 343-3400"},"email":{"type":"string","example":"narddog@dundermifflin.com"},"address":{"type":"object","properties":{"line1":{"type":"string","example":"1345 Sixth Avenue"},"line2":{"type":"string","example":""},"city":{"type":"string","example":"Manhattan"},"state":{"type":"string","example":"NY"},"postalCode":{"type":"string","example":"18505"},"country":{"type":"string","example":"USA"}}},"identification":{"type":"object","properties":{"idType":{"type":"string","example":"EID"},"idNumber":{"type":"string","example":"tok_sandbox_3WEsL3HBeF6PhAwn6Q1jTe"}}},"KYB":{"type":"object","properties":{"status":{"type":"string","example":"In Progress"}}},"createdAt":{"type":"string","example":"2023-03-23T09:41:00.807Z"},"updatedAt":{"type":"string","example":"2023-03-23T09:41:00.778Z"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"get":{"summary":"Get Business","description":"","operationId":"get-person-copy-1","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"businesses\": [\n        {\n            \"businessID\": \"ed590335-a82b-40dd-88d5-78ba3df6f305\",\n            \"businessName\": \"Dapi C\",\n            \"formationDate\": \"1997-01-01\",\n            \"phone\": \"3164289955\",\n            \"email\": \"new@mail.com\",\n            \"address\": {\n                \"line1\": \"1st Street\",\n                \"line2\": \"\",\n                \"city\": \"Wichita\",\n                \"state\": \"KS\",\n                \"postalCode\": \"67208\",\n                \"country\": \"USA\"\n            },\n            \"identification\": {\n                \"idType\": \"EID\",\n                \"idNumber\": \"tok_sandbox_moqYv2ESAUukkiwPy54Wpx\"\n            },\n            \"KYB\": {\n                \"status\": \"In Progress\"\n            },\n            \"createdAt\": \"2023-03-20T02:46:01.799Z\",\n            \"updatedAt\": \"2023-03-22T03:58:05.894Z\"\n        },\n        {\n            \"businessID\": \"5041d12a-3672-4ad3-bf10-a0433e71daf0\",\n            \"businessName\": \"Dapi C\",\n            \"formationDate\": \"1997-01-01\",\n            \"phone\": \"3164289955\",\n            \"email\": \"dapi@dapi.com\",\n            \"address\": {\n                \"line1\": \"1st Street\",\n                \"line2\": \"\",\n                \"city\": \"Wichita\",\n                \"state\": \"KS\",\n                \"postalCode\": \"67208\",\n                \"country\": \"USA\"\n            },\n            \"identification\": {\n                \"idType\": \"EID\",\n                \"idNumber\": \"tok_sandbox_moqYv2ESAUukkiwPy54Wpx\"\n            },\n            \"KYB\": {\n                \"status\": \"In Progress\"\n            },\n            \"createdAt\": \"2023-03-20T03:57:41.845Z\",\n            \"updatedAt\": \"2023-03-20T03:57:41.843Z\"\n        },\n        {\n            \"businessID\": \"074f400a-1f63-4914-a3fb-1c9e7a92158d\",\n            \"businessName\": \"Dapi C\",\n            \"formationDate\": \"1997-01-01\",\n            \"phone\": \"3164289955\",\n            \"email\": \"dapi@dapi.com\",\n            \"address\": {\n                \"line1\": \"1st Street\",\n                \"line2\": \"\",\n                \"city\": \"Wichita\",\n                \"state\": \"KS\",\n                \"postalCode\": \"67208\",\n                \"country\": \"USA\"\n            },\n            \"identification\": {\n                \"idType\": \"EID\",\n                \"idNumber\": \"tok_sandbox_moqYv2ESAUukkiwPy54Wpx\"\n            },\n            \"KYB\": {\n                \"status\": \"Rejected\"\n            },\n            \"createdAt\": \"2023-03-20T03:59:04.554Z\",\n            \"updatedAt\": \"2023-03-20T03:59:04.553Z\"\n        },\n        {\n            \"businessID\": \"myUniqueGeneratedID235\",\n            \"businessName\": \"Dapi C\",\n            \"formationDate\": \"1997-01-01\",\n            \"phone\": \"3164289955\",\n            \"email\": \"dapi@dapi.com\",\n            \"address\": {\n                \"line1\": \"1st Street\",\n                \"line2\": \"\",\n                \"city\": \"Wichita\",\n                \"state\": \"KS\",\n                \"postalCode\": \"67208\",\n                \"country\": \"USA\"\n            },\n            \"identification\": {\n                \"idType\": \"EID\",\n                \"idNumber\": \"tok_sandbox_3WEsL3HBeF6PhAwn6Q1jTe\"\n            },\n            \"KYB\": {\n                \"status\": \"In Progress\"\n            },\n            \"createdAt\": \"2023-03-22T02:42:24.580Z\",\n            \"updatedAt\": \"2023-03-22T02:42:24.579Z\"\n        },\n        {\n            \"businessID\": \"56440dbc-e6cd-46e6-930a-1257606a6ce2\",\n            \"businessName\": \"Dapi C\",\n            \"formationDate\": \"1997-01-01\",\n            \"phone\": \"3164289955\",\n            \"email\": \"dapi@dapi.com\",\n            \"address\": {\n                \"line1\": \"1st Street\",\n                \"line2\": \"\",\n                \"city\": \"Wichita\",\n                \"state\": \"KS\",\n                \"postalCode\": \"67208\",\n                \"country\": \"USA\"\n            },\n            \"identification\": {\n                \"idType\": \"EID\",\n                \"idNumber\": \"tok_sandbox_3WEsL3HBeF6PhAwn6Q1jTe\"\n            },\n            \"KYB\": {\n                \"status\": \"In Progress\"\n            },\n            \"createdAt\": \"2023-03-22T03:08:53.569Z\",\n            \"updatedAt\": \"2023-03-22T03:08:53.568Z\"\n        },\n        {\n            \"businessID\": \"18a3a4ff-2744-4f58-a8b1-0fcf51c49571\",\n            \"businessName\": \"Dapi C\",\n            \"formationDate\": \"1997-01-01\",\n            \"phone\": \"3164289955\",\n            \"email\": \"dapi@dapi.com\",\n            \"address\": {\n                \"line1\": \"1st Street\",\n                \"line2\": \"\",\n                \"city\": \"Wichita\",\n                \"state\": \"KS\",\n                \"postalCode\": \"67208\",\n                \"country\": \"USA\"\n            },\n            \"identification\": {\n                \"idType\": \"EID\",\n                \"idNumber\": \"tok_sandbox_3WEsL3HBeF6PhAwn6Q1jTe\"\n            },\n            \"KYB\": {\n                \"status\": \"Rejected\"\n            },\n            \"createdAt\": \"2023-03-22T03:35:00.927Z\",\n            \"updatedAt\": \"2023-03-22T03:35:00.926Z\"\n        },\n        {\n            \"businessID\": \"f4cace6f-5c92-4c2c-9005-d3c401aeb349\",\n            \"businessName\": \"Dapi C\",\n            \"formationDate\": \"1997-01-01\",\n            \"phone\": \"3164289955\",\n            \"email\": \"dapi@dapi.com\",\n            \"address\": {\n                \"line1\": \"1st Street\",\n                \"line2\": \"\",\n                \"city\": \"Wichita\",\n                \"state\": \"KS\",\n                \"postalCode\": \"67208\",\n                \"country\": \"USA\"\n            },\n            \"identification\": {\n                \"idType\": \"EID\",\n                \"idNumber\": \"tok_sandbox_3WEsL3HBeF6PhAwn6Q1jTe\"\n            },\n            \"KYB\": {\n                \"status\": \"Rejected\"\n            },\n            \"createdAt\": \"2023-03-22T03:35:46.442Z\",\n            \"updatedAt\": \"2023-03-22T03:35:46.441Z\"\n        },\n        {\n            \"businessID\": \"4909e961-132c-4dc7-9264-68e1dea8740d\",\n            \"businessName\": \"Dapi C\",\n            \"formationDate\": \"1997-01-01\",\n            \"phone\": \"3164289955\",\n            \"email\": \"dapi@dapi.com\",\n            \"address\": {\n                \"line1\": \"1st Street\",\n                \"line2\": \"\",\n                \"city\": \"Wichita\",\n                \"state\": \"KS\",\n                \"postalCode\": \"67208\",\n                \"country\": \"USA\"\n            },\n            \"identification\": {\n                \"idType\": \"EID\",\n                \"idNumber\": \"tok_sandbox_3WEsL3HBeF6PhAwn6Q1jTe\"\n            },\n            \"KYB\": {\n                \"status\": \"In Progress\"\n            },\n            \"createdAt\": \"2023-03-22T03:41:37.792Z\",\n            \"updatedAt\": \"2023-03-22T03:41:37.791Z\"\n        },\n        {\n            \"businessID\": \"1f63af3c-ccf2-423e-8dfc-44589baa60bd\",\n            \"businessName\": \"Dapi C\",\n            \"formationDate\": \"1997-01-01\",\n            \"phone\": \"3164289955\",\n            \"email\": \"dapi@dapi.com\",\n            \"address\": {\n                \"line1\": \"1st Street\",\n                \"line2\": \"\",\n                \"city\": \"Wichita\",\n                \"state\": \"KS\",\n                \"postalCode\": \"67208\",\n                \"country\": \"USA\"\n            },\n            \"identification\": {\n                \"idType\": \"EID\",\n                \"idNumber\": \"tok_sandbox_3WEsL3HBeF6PhAwn6Q1jTe\"\n            },\n            \"KYB\": {\n                \"status\": \"Approved\"\n            },\n            \"createdAt\": \"2023-03-22T04:40:34.261Z\",\n            \"updatedAt\": \"2023-03-22T04:40:34.260Z\"\n        },\n        {\n            \"businessID\": \"79aaeeac-382c-4f00-ae46-f16066c5bcec\",\n            \"businessName\": \"Dunder Mifflin\",\n            \"formationDate\": \"1949-03-07\",\n            \"phone\": \"(570) 343-3400\",\n            \"email\": \"narddog@dundermifflin.com\",\n            \"address\": {\n                \"line1\": \"1345 Sixth Avenue\",\n                \"line2\": \"\",\n                \"city\": \"Manhattan\",\n                \"state\": \"NY\",\n                \"postalCode\": \"18505\",\n                \"country\": \"USA\"\n            },\n            \"identification\": {\n                \"idType\": \"EID\",\n                \"idNumber\": \"tok_sandbox_3WEsL3HBeF6PhAwn6Q1jTe\"\n            },\n            \"KYB\": {\n                \"status\": \"In Progress\"\n            },\n            \"createdAt\": \"2023-03-23T09:40:40.522Z\",\n            \"updatedAt\": \"2023-03-23T09:40:40.521Z\"\n        },\n        {\n            \"businessID\": \"62cf2d83-a723-4a26-b85f-7fd2d3e47bd8\",\n            \"businessName\": \"Dunder Mifflin\",\n            \"formationDate\": \"1949-03-07\",\n            \"phone\": \"(570) 343-3400\",\n            \"email\": \"narddog@dundermifflin.com\",\n            \"address\": {\n                \"line1\": \"1345 Sixth Avenue\",\n                \"line2\": \"\",\n                \"city\": \"Manhattan\",\n                \"state\": \"NY\",\n                \"postalCode\": \"18505\",\n                \"country\": \"USA\"\n            },\n            \"identification\": {\n                \"idType\": \"EID\",\n                \"idNumber\": \"tok_sandbox_3WEsL3HBeF6PhAwn6Q1jTe\"\n            },\n            \"KYB\": {\n                \"status\": \"Rejected\"\n            },\n            \"createdAt\": \"2023-03-23T09:41:00.807Z\",\n            \"updatedAt\": \"2023-03-23T09:41:00.778Z\"\n        }\n    ],\n    \"curPage\": 1,\n    \"nextPage\": null,\n    \"prevPage\": null,\n    \"total\": 11\n}"}},"schema":{"type":"object","properties":{"businesses":{"type":"array","items":{"type":"object","properties":{"businessID":{"type":"string","example":"ed590335-a82b-40dd-88d5-78ba3df6f305"},"businessName":{"type":"string","example":"Dapi C"},"formationDate":{"type":"string","example":"1997-01-01"},"phone":{"type":"string","example":"3164289955"},"email":{"type":"string","example":"new@mail.com"},"address":{"type":"object","properties":{"line1":{"type":"string","example":"1st Street"},"line2":{"type":"string","example":""},"city":{"type":"string","example":"Wichita"},"state":{"type":"string","example":"KS"},"postalCode":{"type":"string","example":"67208"},"country":{"type":"string","example":"USA"}}},"identification":{"type":"object","properties":{"idType":{"type":"string","example":"EID"},"idNumber":{"type":"string","example":"tok_sandbox_moqYv2ESAUukkiwPy54Wpx"}}},"KYB":{"type":"object","properties":{"status":{"type":"string","example":"In Progress"}}},"createdAt":{"type":"string","example":"2023-03-20T02:46:01.799Z"},"updatedAt":{"type":"string","example":"2023-03-22T03:58:05.894Z"}}}},"curPage":{"type":"integer","example":1,"default":0},"nextPage":{},"prevPage":{},"total":{"type":"integer","example":11,"default":0}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/entities/business/{businessID}":{"get":{"summary":"Get Business by businessID","description":"","operationId":"get-person-by-personid-copy","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"businessID\": \"62cf2d83-a723-4a26-b85f-7fd2d3e47bd8\",\n    \"businessName\": \"Dunder Mifflin\",\n    \"formationDate\": \"1949-03-07\",\n    \"phone\": \"(570) 343-3400\",\n    \"email\": \"narddog@dundermifflin.com\",\n    \"address\": {\n        \"line1\": \"1345 Sixth Avenue\",\n        \"line2\": \"\",\n        \"city\": \"Manhattan\",\n        \"state\": \"NY\",\n        \"postalCode\": \"18505\",\n        \"country\": \"USA\"\n    },\n    \"identification\": {\n        \"idType\": \"EID\",\n        \"idNumber\": \"tok_sandbox_3WEsL3HBeF6PhAwn6Q1jTe\"\n    },\n    \"KYB\": {\n        \"status\": \"Rejected\"\n    },\n    \"createdAt\": \"2023-03-23T09:41:00.807Z\",\n    \"updatedAt\": \"2023-03-23T09:41:00.778Z\"\n}"}},"schema":{"type":"object","properties":{"businessID":{"type":"string","example":"62cf2d83-a723-4a26-b85f-7fd2d3e47bd8"},"businessName":{"type":"string","example":"Dunder Mifflin"},"formationDate":{"type":"string","example":"1949-03-07"},"phone":{"type":"string","example":"(570) 343-3400"},"email":{"type":"string","example":"narddog@dundermifflin.com"},"address":{"type":"object","properties":{"line1":{"type":"string","example":"1345 Sixth Avenue"},"line2":{"type":"string","example":""},"city":{"type":"string","example":"Manhattan"},"state":{"type":"string","example":"NY"},"postalCode":{"type":"string","example":"18505"},"country":{"type":"string","example":"USA"}}},"identification":{"type":"object","properties":{"idType":{"type":"string","example":"EID"},"idNumber":{"type":"string","example":"tok_sandbox_3WEsL3HBeF6PhAwn6Q1jTe"}}},"KYB":{"type":"object","properties":{"status":{"type":"string","example":"Rejected"}}},"createdAt":{"type":"string","example":"2023-03-23T09:41:00.807Z"},"updatedAt":{"type":"string","example":"2023-03-23T09:41:00.778Z"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"patch":{"summary":"Update Business","description":"","operationId":"update-person-copy","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"businessID\": \"42ecedd7-c6ae-4e3e-9863-ec3892c50043\",\n    \"businessName\": \"Dunder Mifflin\",\n    \"formationDate\": \"1949-03-07\",\n    \"phone\": \"(570) 343-3400\",\n    \"email\": \"dwight@dundermifflin.com\",\n    \"address\": {\n        \"line1\": \"1345 Sixth Avenue\",\n        \"line2\": \"\",\n        \"city\": \"Manhattan\",\n        \"state\": \"NY\",\n        \"postalCode\": \"18505\",\n        \"country\": \"USA\"\n    },\n    \"identification\": {\n        \"idType\": \"EID\",\n        \"idNumber\": \"tok_sandbox_3WEsL3HBeF6PhAwn6Q1jTe\"\n    },\n    \"KYB\": {\n        \"status\": \"In Progress\"\n    },\n    \"createdAt\": \"2023-04-07T09:28:40.520Z\",\n    \"updatedAt\": \"2023-04-07T09:29:07.112Z\"\n}"}},"schema":{"type":"object","properties":{"businessID":{"type":"string","example":"42ecedd7-c6ae-4e3e-9863-ec3892c50043"},"businessName":{"type":"string","example":"Dunder Mifflin"},"formationDate":{"type":"string","example":"1949-03-07"},"phone":{"type":"string","example":"(570) 343-3400"},"email":{"type":"string","example":"dwight@dundermifflin.com"},"address":{"type":"object","properties":{"line1":{"type":"string","example":"1345 Sixth Avenue"},"line2":{"type":"string","example":""},"city":{"type":"string","example":"Manhattan"},"state":{"type":"string","example":"NY"},"postalCode":{"type":"string","example":"18505"},"country":{"type":"string","example":"USA"}}},"identification":{"type":"object","properties":{"idType":{"type":"string","example":"EID"},"idNumber":{"type":"string","example":"tok_sandbox_3WEsL3HBeF6PhAwn6Q1jTe"}}},"KYB":{"type":"object","properties":{"status":{"type":"string","example":"In Progress"}}},"createdAt":{"type":"string","example":"2023-04-07T09:28:40.520Z"},"updatedAt":{"type":"string","example":"2023-04-07T09:29:07.112Z"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"requestBody":{"content":{"application/json":{"schema":{},"examples":{"Request Example":{"value":{"businessID":"7318a01b-af55-4a38-871b-6f9771de085a","businessName":null,"address":{"line1":null,"line2":null,"city":null,"state":null,"postalCode":null,"country":null},"phone":null,"email":"dwight@dundermifflin.com"}}}}}}}},"/kyc/{personID}":{"get":{"summary":"Get KYC by personID","description":"","operationId":"get-kyc-by-personid","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/kyb/{businessID}":{"get":{"summary":"Get KYB by businessID","description":"","operationId":"get-kyb-by-businessid","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/accounts":{"post":{"summary":"Create Account","description":"","operationId":"create-account","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"businessID":{"type":"string","description":"Identifier of the business that you want to create an account for. Not required when creating an account for Person"},"personID":{"type":"string","description":"Identifier of the person that you want to create an account for. Not required when creating an account for a Business"},"accountType":{"type":"string","description":"\"GENERAL\": Issued to end user or cardholders, \"REVENUE\": to ledger fees or revenue for a program, \"COLLECTION\": created for a Company to collect funds from multiple accounts","enum":["GENERAL","REVENUE","COLLECTION"]}}},"examples":{"Request Example":{"value":{"businessID":"","personID":"49747d90-98ac-4d80-a968-779d275e469f","type":"GENERAL"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n\n    \"accountID\" : \"857ba53b-ea63-4784-bdc2-8f70f54f9175\",\n    \"currency\" : \"USD\",\n    \"type\" : \"GENERAL\",\n    \"status\" : \"ACTIVE\"\n\n  }"}},"schema":{"type":"object","properties":{"accountID":{"type":"string","example":"857ba53b-ea63-4784-bdc2-8f70f54f9175"},"currency":{"type":"string","example":"USD"},"type":{"type":"string","example":"GENERAL"},"status":{"type":"string","example":"ACTIVE"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/accounts?{personID}":{"get":{"summary":"Get Accounts by personID","description":"","operationId":"get-accounts-by-personid","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"accounts\": [\n       \n      {\n            \"accountID\" : \"6505cbd9-2da5-4f99-8764-cbc5f07fd8e3\",\n            \"currency\" : \"USD\",\n            \"type\" : \"GENERAL\",\n            \"status\" : \"ACTIVE\",\n            \"createdAt\" : \"2023-03-20T04:49:50.668Z\",\n            \"availableBalance\" : 300,\n            \"ledgerBalance\" : 300,\n            \"suspenseBalance\" : 0\n        },\n       \n      {\n            \"accountID\" : \"bafbfe94-e60f-4080-878b-ffeb57cc57e4\",\n            \"currency\" : \"USD\",\n            \"type\" : \"REVENUE\",\n            \"status\" : \"ACTIVE\",\n            \"createdAt\": \"2023-04-07T09:47:38.493Z\",\n            \"availableBalance\" : 0,\n            \"ledgerBalance\" : 0,\n            \"suspenseBalance\" : 0\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"accounts":{"type":"array","items":{"type":"object","properties":{"accountID":{"type":"string","example":"6505cbd9-2da5-4f99-8764-cbc5f07fd8e3"},"currency":{"type":"string","example":"USD"},"type":{"type":"string","example":"GENERAL"},"status":{"type":"string","example":"ACTIVE"},"createdAt":{"type":"string","example":"2023-03-20T04:49:50.668Z"},"availableBalance":{"type":"integer","example":300,"default":0},"ledgerBalance":{"type":"integer","example":300,"default":0},"suspenseBalance":{"type":"integer","example":0,"default":0}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/accounts?{businessID}":{"get":{"summary":"Get Accounts by businessID","description":"","operationId":"get-accounts-by-personid-copy","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"accounts\": [\n       \n      {\n            \"accountID\" : \"6505cbd9-2da5-4f99-8764-cbc5f07fd8e3\",\n            \"currency\" : \"USD\",\n            \"type\" : \"GENERAL\",\n            \"status\" : \"ACTIVE\",\n            \"createdAt\" : \"2023-03-20T04:49:50.668Z\",\n            \"availableBalance\" : 300,\n            \"ledgerBalance\" : 300,\n            \"suspenseBalance\" : 0\n        },\n       \n      {\n            \"accountID\" : \"bafbfe94-e60f-4080-878b-ffeb57cc57e4\",\n            \"currency\" : \"USD\",\n            \"type\" : \"REVENUE\",\n            \"status\" : \"ACTIVE\",\n            \"createdAt\": \"2023-04-07T09:47:38.493Z\",\n            \"availableBalance\" : 0,\n            \"ledgerBalance\" : 0,\n            \"suspenseBalance\" : 0\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"accounts":{"type":"array","items":{"type":"object","properties":{"accountID":{"type":"string","example":"6505cbd9-2da5-4f99-8764-cbc5f07fd8e3"},"currency":{"type":"string","example":"USD"},"type":{"type":"string","example":"GENERAL"},"status":{"type":"string","example":"ACTIVE"},"createdAt":{"type":"string","example":"2023-03-20T04:49:50.668Z"},"availableBalance":{"type":"integer","example":300,"default":0},"ledgerBalance":{"type":"integer","example":300,"default":0},"suspenseBalance":{"type":"integer","example":0,"default":0}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/accounts/{accountID}":{"get":{"summary":"Get Account by accountID","description":"","operationId":"get-accounts-by-businessid-copy","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"accountID\" : \"9a52387c-8401-4647-8b86-c2a427883fb6\",\n    \"currency\" : \"USD\",\n    \"type\" : \"GENERAL\",\n    \"status\" : \"ACTIVE\",\n    \"availableBalance\" : 0,\n    \"ledgerBalance\" : 0,\n    \"suspenseBalance\" : 0,\n    \"createdAt\" : \"2023-03-22T05:18:45.240Z\",\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/counterparty":{"post":{"summary":"Create Counterparty","description":"","operationId":"create-counterparty","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"counterPartyID\": \"a908bf5b-ea9f-4f42-abb4-7c2b8e620de5\",\n    \"accountID\": \"6505cbd9-2da5-4f99-8764-cbc5f07fd8e3\",\n    \"name\": \"Pam Halpert\",\n    \"country\": \"USA\",\n    \"settlementCurrency\": \"USD\",\n    \"counterpartyType\": \"BANKDDA\",\n    \"BANKDDA\": {\n        \"bankName\": \"PNC Financial Services\",\n        \"accountName\": \"Checking Account\",\n        \"accountNumber\": \"0040017787\",\n        \"routingNumber\": \"043000096\"\n    },\n   \"createdAt\": \"2023-04-07T10:54:10.289Z\"\n}"}},"schema":{"type":"object","properties":{"counterPartyID":{"type":"string","example":"a908bf5b-ea9f-4f42-abb4-7c2b8e620de5"},"accountID":{"type":"string","example":"6505cbd9-2da5-4f99-8764-cbc5f07fd8e3"},"name":{"type":"string","example":"Pam Halpert"},"country":{"type":"string","example":"USA"},"settlementCurrency":{"type":"string","example":"USD"},"counterpartyType":{"type":"string","example":"BANKDDA"},"BANKDDA":{"type":"object","properties":{"bankName":{"type":"string","example":"PNC Financial Services"},"accountName":{"type":"string","example":"Checking Account"},"accountNumber":{"type":"string","example":"0040017787"},"routingNumber":{"type":"string","example":"043000096"}}},"createdAt":{"type":"string","example":"2023-04-07T10:54:10.289Z"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/counterparty?personID":{"get":{"summary":"Get Counterparties by personID","description":"","operationId":"get-counterparties-by-personid","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/counterparty?businessID":{"get":{"summary":"Get Counterparties by businessID","description":"","operationId":"get-counterparties-by-personid-copy","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/counterparty/{counterpartyID}":{"get":{"summary":"Get Counterparty by counterpartyID","description":"","operationId":"get-counterparties-by-businessid-copy","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/transfers/ach/pull":{"post":{"summary":"Create Transfer (ACH Pull)","description":"","operationId":"create-transfer-ach-pull","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/transfers?personID":{"get":{"summary":"Get Transfers by personID","description":"","operationId":"get-transfers-by-personid","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/transfers?businessID":{"get":{"summary":"Get Transfers by businessID","description":"","operationId":"get-transfers-by-businessid","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/transfers/transferID":{"get":{"summary":"Get Transfer by transferID","description":"","operationId":"get-transfer-by-transferid","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}