{"openapi":"3.0.0","info":{"title":"Genie transaction enrichment API","version":"1.0.0","description":"Applications that use Akahu for bank account connectivity can use our transactions API to get high quality enriched transactions that include merchant and category information. We've built the Genie API to expose Akahu's transaction enrichment engine for applications that instead source raw transaction data themselves.\n\nGenie is entirely separate from the core Akahu API and does not require an Akahu App ID Token or App Secret to access. If you're keen to get your hands on an API key to try it out, get in touch with us at hello@akahu.nz.\n"},"x-samples-languages":["shell","csharp","java","node","python","go","php","ruby"],"servers":[{"url":"https://api.genie.akahu.io/v1"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","description":"Token based API authentication"}},"schemas":{"GenieCategory":{"type":"object","description":"A category classification result from Genie. This classification provides the base [NZFCC](https://nzfcc.org) category code for the transaction. Additionally, the `groups` attribute includes a mapping of the NZFCC category into broader (less-specific) category groups. Category grouping is based on mappings which are able to be customised per-client. The `personal_finance` mapping is included by default.","properties":{"_id":{"type":"string","description":"The [NZFCC](https://nzfcc.org) category code for the transaction"},"name":{"type":"string","description":"The name of the NZFCC category for this transaction"},"groups":{"type":"object","description":"A dictionary of category groups, keyed by category mapping name, for the NZFCC base category.","additionalProperties":{"type":"object","properties":{"_id":{"type":"string","description":"The category group ID for this mapping."},"name":{"type":"string","description":"The category group name for this mapping."}}}}},"required":["_id","name","groups"],"example":{"_id":"nzfcc_ckouvvywi004508mlacrd41wf","name":"Fast food stores","groups":{"personal_finance":{"_id":"group_clasr0ysw0011hk4m6hlk9fq0","name":"Lifestyle"}}}},"GenieMerchant":{"type":"object","description":"A merchant match result from Genie.","properties":{"_id":{"type":"string","description":"The unique merchant ID"},"name":{"type":"string","description":"The merchant name"},"logo":{"type":"string","description":"A URL referencing the merchant's logo. If no logo is available, a placeholder image is provided."},"website":{"type":"string","description":"The URL for the merchant's website"}},"required":["_id","name","logo"],"example":{"_id":"merchant_cjjwm2gy5004bguzydvu4dttf","name":"Carl's Jr.","logo":"https://static.akahu.io/outlets/merchant_cjjwm2gy5004bguzydvu4dttf_logo.png","website":"https://www.carlsjr.co.nz/"}},"GenieSearchQueryItem":{"type":"object","properties":{"id":{"type":"string","description":"A unique correlation id for the query to help you to find the corresponding result in the response data."},"description":{"type":"string","description":"The transaction description. This should be the full description as provided by the bank / transaction source."},"_connection":{"type":"string","description":"The Akahu connection ID corresponding to the bank from which the transaction description was sourced. It is strongly recommended to include this parameter to ensure best results.\n\nThe following connection IDs are available:\n  - ANZ: `conn_cjgaawozb000001nyd111xixr`\n  - ASB: `conn_cjgaaqcna000001ldwof8tvj0`\n  - BNZ: `conn_cjgaatd57000001pe1t1z0iy9`\n  - Heartland: `conn_ck5rhsdbv0000ftx1bmdu9zas`\n  - Kiwibank: `conn_cjgaac5at000001qi2yw8ftil`\n  - Rabobank: `conn_ckydkmy3r000009mde2sx2i4d`\n  - The Cooperative Bank: `conn_cjgab1c8e000001pmyxrkhova`\n  - TSB: `conn_cjgab6fis000001qsytf1semy`\n  - Westpac: `conn_cjgaaozdo000001mrnqmkl1m0`\n","enum":["conn_cjgaawozb000001nyd111xixr","conn_cjgaaqcna000001ldwof8tvj0","conn_cjgaatd57000001pe1t1z0iy9","conn_ck5rhsdbv0000ftx1bmdu9zas","conn_cjgaac5at000001qi2yw8ftil","conn_ckydkmy3r000009mde2sx2i4d","conn_cjgab1c8e000001pmyxrkhova","conn_cjgab6fis000001qsytf1semy","conn_cjgaaozdo000001mrnqmkl1m0"]},"amount":{"type":"number","description":"Transaction amount (+ for credit, - for debit)."},"direction":{"type":"string","description":"Whether the transaction is a debit or credit","enum":["DEBIT","CREDIT"]}},"required":["description"]},"GenieSearchQueryResult":{"type":"object","properties":{"id":{"type":"string","description":"The correlation ID for the query (if you provided one)."},"query":{"type":"string","description":"The original query description as provided."},"results":{"type":"array","description":"The enrichment result for this query. Will contain 1 item if enrichment is successful, otherwise the array will be empty.","items":{"type":"object","properties":{"confidence":{"type":"number","description":"A value between 0 and 0.99 (inclusive) indicating the strength of the matched result (currently the lowest returned confidence score is 0.5)."},"category":{"$ref":"#/components/schemas/GenieCategory","description":"The category assigned to this query by Genie enrichment"},"merchant":{"$ref":"#/components/schemas/GenieMerchant","description":"The merchant assigned to this query by Genie enrichment"}},"required":["confidence","category"]}}},"required":["query","results"]},"GenieSearchRequest":{"type":"array","items":{"$ref":"#/components/schemas/GenieSearchQueryItem"},"maxLength":1000},"GenieSearchResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"items":{"type":"array","items":{"$ref":"#/components/schemas/GenieSearchQueryResult"}}},"required":["success","items"]},"GenieErrorResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"message":{"type":"string","description":"A description of the error that has occurred"}},"required":["success","message"]}},"parameters":{}},"paths":{"/search":{"post":{"summary":"Enrich a batch of transactions","operationId":"GenieSearch","description":"Enrich a batch of transactions using Genie.","tags":["Transaction Enrichment"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenieSearchRequest"},"examples":{"Example 1":{"description":"A basic example request","value":[{"id":"1","description":"CJ PALMERSTON NTH - 203PALM NTH","_connection":"conn_cjgaaqcna000001ldwof8tvj0","amount":-4.9},{"id":"2","description":"CARD 2293 WHOLEMEAL TRAD CO LTDTAKAKA","_connection":"conn_cjgaaqcna000001ldwof8tvj0","amount":-25.1}]}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenieSearchResponse"},"examples":{"Example 1":{"description":"A basic example response","value":{"success":true,"items":[{"id":"1","query":"CJ PALMERSTON NTH - 203PALM NTH","results":[{"confidence":0.99,"category":{"_id":"nzfcc_ckouvvywi004508mlacrd41wf","name":"Fast food stores","groups":{"personal_finance":{"_id":"group_clasr0ysw0011hk4m6hlk9fq0","name":"Lifestyle"}}},"merchant":{"_id":"merchant_cjjwm2gy5004bguzydvu4dttf","name":"Carl's Jr.","logo":"https://static.akahu.io/outlets/merchant_cjjwm2gy5004bguzydvu4dttf_logo.png","website":"https://www.carlsjr.co.nz/"}}]},{"id":"2","query":"CARD 2293 WHOLEMEAL TRAD CO LTDTAKAKA","results":[{"confidence":0.99,"category":{"_id":"nzfcc_ckouvvyw1004408mlhy158i7j","name":"Cafes and restaurants","groups":{"personal_finance":{"_id":"group_clasr0ysw0011hk4m6hlk9fq0","name":"Lifestyle"}}},"merchant":{"_id":"merchant_cksxp1au3001g09mp3ilt01tz","name":"The Wholemeal Cafe","logo":"https://static.akahu.io/images/merchant_cksxp1au3001g09mp3ilt01tz_logo.jpeg","website":"https://wholemealcafe.co.nz/"}}]}]}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenieErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenieErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenieErrorResponse"}}}},"429":{"description":"Rate Limiting","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenieErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenieErrorResponse"}}}}}}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}