openapi: 3.0.3
info:
  title: Customers APIs
  description: |-
    The Customers APIs serve the purpose of obtaining and furnishing extensive data pertaining to customers presently linked to the account.
    This functionality empowers users not only to introduce new customers but also to retrieve an inventory of existing customers and access precise particulars concerning individual customers when required.
  version: 1.0.0
  contact: {}
servers:
- url: https://api.jumper.ai

paths:
  /crm/fetch-customers:
    get:
      summary: Fetch Customers
      description: Retrieve a list of customers based on specific criteria.
      operationId: fetchCustomers
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
            format: Bearer <token>
            example: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJXNjdvZVpPVTBUU004QlFBaFZzeXBvRzdOcXRaIiwiYXVkIjoiUVdGNEt3MXFkR3NLcXhaV1AzR3o5akhaMTVXS0dmY29vR1B5Q3N6dzd1bEVjemNaIiwiaXNzIjoidXJuOlwvXC9hcGlnZWUtZWRnZS1KV1QtcG9saWN5LXRlc3QiLCJtZXJjaGFudF9pZCI6IjQ3NjY4ODEzNzgyMDU2OTYiLCJleHAiOjE2ODU1Mjc5ODMsImlhdCI6MTY3Nzc1MTk4MywianRpIjoiZWQ1YzljOGItZTRmOC00MGQ5LTkxNGQtZmM3Yzg4NGFlMDBiIn0.PJOMZKvFxcFBKFlhHP5UQT3KnOKjbwHCX7E84-tvZI1eEo2bENidua7VZLPTvQlRAHHHyL497cB36zmTTbr1jwl0J_UzLq9x_1_1_cAsUAH5BxB1d8YE_5Veui5SUCMj_2cvi4uVhROgA_b8UEXB7r2fdghcw2saXGNG3Srn0xnHHCDxwoxzG2tI670f7S7E8XiT1f_MUWm3CJsHDtRFi0Fef9zzjuWr4HXlzk7FtZQhHzvnr_AtqkP20ImfhjhjO52TQMdO3AQV5lzKi-K5AAODP5Lc0tt0BySRAk4qVS2qR7cEZGNW240t_Ok-rWSagSghsQs9TNZr_mCi_e7zhw","refresh_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiI3Z3M1QTBVdkl0V1ZBRXdaRzFId09wUGNyb1BZMzRBZyIsImF1ZCI6IlFXRjRLdzFxZEdzS3F4WldQM0d6OWpIWjE1V0tHZmNvb0dQeUNzenc3dWxFY3pjWiIsImlzcyI6InVybjpcL1wvYXBpZ2VlLWVkZ2UtSldULXBvbGljeS10ZXN0IiwibWVyY2hhbnRfaWQiOiI0NzY2ODgxMzc4MjA1Njk2IiwiZXhwIjoxNjg1NTI3OTgzLCJpYXQiOjE2Nzc3NTE5ODMsImp0aSI6Ijg0NjcwZjU0LWMwYzAtNDVjNi05Nzg4LWNlYjQxNGE5NzRjZiJ9.h8bwm-ny2cMl5Xzkh0QhaWr_oSUMTpKFrDPAesCBtN4uEnQSGxB6bqVOWebgbNxwYaPAIC79RZitaQ0NxCfNffPBm1nZr4dPchl_JTJOx13EDWdx8iZeG4_CBSYnsBCQ7L934pgmupV5qx4pkL3trU2fr3Z-wQHBo01e8vPaSMlCbso94NarXZMsBY_9Z5ALMimYRk0H7yiJ0XQk2JM6W6gbiQ67F3m5UImsYb_rge8IhLlCsgdTyWSw6lpkqs31pFv1N8tKdGN-XdOlrPwYl3d7-els04wg3XZPsASufnoP-hooTELPNdl-FUFHX7plBl5Uvng85y1XzHzIO9IWqA
        - in: query
          name: size
          description: The maximum number of customers to retrieve.
          required: true
          schema:
            type: integer
            example: 10
      responses:
        '200':
          description: Successful response containing customer data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorMessage:
                    type: string
                    description: A user-readable error message, if applicable.
                    example: ""
                  success:
                    type: boolean
                    description: A flag indicating whether the request was successful.
                    example: true
                  offset:
                    type: integer
                    description: The offset for paginating through the results.
                    example: 0
                  total_pages:
                    type: integer
                    description: The total number of pages.
                    example: 4
                  total_customers:
                    type: integer
                    description: The total number of customers.
                    example: 36
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        conversationId:
                          type: string
                          description: A unique string(url safe) to identify each conversation.
                          example: ag9zfmp1bXBlci0xNDDZyGQsSDENvbnZlcnNhdGlvbhiAgMi3l576CAw
                        name:
                          type: string
                          description: This holds the customer's full name
                          example: John
                        lastReplyTimestamp:
                          type: string
                          description: This holds the timestamp of the most recent message of the conversation.
                          example: "2023-09-01 16:00:54.531191"
                        channelId:
                          type: string
                          description: This 16-digit unique ID of the user associated with Channel (WhatsApp, Sms etc.)
                          example: "5060673733352128"
                        email:
                          type: string
                          description: This holds the customer's email ID if available; otherwise, it displays as "unrecorded".
                          example: john@google.com
                  size:
                    type: integer
                    description: The size of the current result set.
                    example: 10
                example:
                  errorMessage: ''
                  success: true
                  offset: 0
                  total_pages: 4
                  total_customers: 36
                  data:
                    - conversationId: ag9zfmp1bXBlNDc4MDZyGQsSDENvbnZlcnNhdGlvbhiAgMi3l576CAw
                      name: John Roe
                      lastReplyTimestamp: '2023-09-01 16:00:54.531191'
                      channelId: '5060673778352128'
                      email: unrecorded

  /crm/get-customer:
    get:
      summary: Get Customer by Conversation ID
      description: Retrieve customer details by their conversation ID.
      operationId: getCustomer
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
            format: Bearer <token>
            example: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJXNjdvZVpPVTBUU004QlFBaFZzeXBvRzdOcXRaIiwiYXVkIjoiUVdGNEt3MXFkR3NLcXhaV1AzR3o5akhaMTVXS0dmY29vR1B5Q3N6dzd1bEVjemNaIiwiaXNzIjoidXJuOlwvXC9hcGlnZWUtZWRnZS1KV1QtcG9saWN5LXRlc3QiLCJtZXJjaGFudF9pZCI6IjQ3NjY4ODEzNzgyMDU2OTYiLCJleHAiOjE2ODU1Mjc5ODMsImlhdCI6MTY3Nzc1MTk4MywianRpIjoiZWQ1YzljOGItZTRmOC00MGQ5LTkxNGQtZmM3Yzg4NGFlMDBiIn0.PJOMZKvFxcFBKFlhHP5UQT3KnOKjbwHCX7E84-tvZI1eEo2bENidua7VZLPTvQlRAHHHyL497cB36zmTTbr1jwl0J_UzLq9x_1_1_cAsUAH5BxB1d8YE_5Veui5SUCMj_2cvi4uVhROgA_b8UEXB7r2fdghcw2saXGNG3Srn0xnHHCDxwoxzG2tI670f7S7E8XiT1f_MUWm3CJsHDtRFi0Fef9zzjuWr4HXlzk7FtZQhHzvnr_AtqkP20ImfhjhjO52TQMdO3AQV5lzKi-K5AAODP5Lc0tt0BySRAk4qVS2qR7cEZGNW240t_Ok-rWSagSghsQs9TNZr_mCi_e7zhw","refresh_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiI3Z3M1QTBVdkl0V1ZBRXdaRzFId09wUGNyb1BZMzRBZyIsImF1ZCI6IlFXRjRLdzFxZEdzS3F4WldQM0d6OWpIWjE1V0tHZmNvb0dQeUNzenc3dWxFY3pjWiIsImlzcyI6InVybjpcL1wvYXBpZ2VlLWVkZ2UtSldULXBvbGljeS10ZXN0IiwibWVyY2hhbnRfaWQiOiI0NzY2ODgxMzc4MjA1Njk2IiwiZXhwIjoxNjg1NTI3OTgzLCJpYXQiOjE2Nzc3NTE5ODMsImp0aSI6Ijg0NjcwZjU0LWMwYzAtNDVjNi05Nzg4LWNlYjQxNGE5NzRjZiJ9.h8bwm-ny2cMl5Xzkh0QhaWr_oSUMTpKFrDPAesCBtN4uEnQSGxB6bqVOWebgbNxwYaPAIC79RZitaQ0NxCfNffPBm1nZr4dPchl_JTJOx13EDWdx8iZeG4_CBSYnsBCQ7L934pgmupV5qx4pkL3trU2fr3Z-wQHBo01e8vPaSMlCbso94NarXZMsBY_9Z5ALMimYRk0H7yiJ0XQk2JM6W6gbiQ67F3m5UImsYb_rge8IhLlCsgdTyWSw6lpkqs31pFv1N8tKdGN-XdOlrPwYl3d7-els04wg3XZPsASufnoP-hooTELPNdl-FUFHX7plBl5Uvng85y1XzHzIO9IWqA
        - in: query
          name: conversationid
          description: A unique string(url safe) to identify each conversation
          required: true
          schema:
            type: string
          example: ag9zfmp1bXBlci0xNDc4MDZyGQsSDENvbnZlcnNhdGlvbhiAgIinjvifCAw
      responses:
        '200':
          description: Successful response containing customer data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorMessage:
                    type: string
                    description: A user-readable error message, if applicable.
                    example: ""
                  success:
                    type: boolean
                    description: A flag indicating whether the request was successful.
                    example: true
                  data:
                    type: object
                    properties:
                      followup:
                        type: boolean
                        description: This parameter indicates whether the conversation was marked for future follow-up by the agent
                        example: false
                      image:
                        type: string
                        description: Customer profile image
                        example: ""
                      hasConsentedLatest:
                        type: boolean
                        description: Verify the customer's agreement with the latest version of the privacy policy. Returns "True" if the customer has agreed.
                        example: false
                      timezone:
                        type: string
                        description: User's timezone
                        example: ""
                      consentedTime:
                        type: string
                        description: Timestamp indicating when the customer has provided the consent.
                        example: ""
                      userReplyTimestamp:
                        type: string
                        description: Timestamp indicating when the customer has replied.
                        example: "2023-08-20 07:56:35.848015"
                      pageId:
                        type: string
                        description: This 16-digit unique ID of the user associated with Channel (WhatsApp, Sms etc.)
                        example: "5060673778522128"
                      channel:
                        type: string
                        description: Social Channel of the conversation. For example - sms, whatsapp, viber etc.
                        example: "sms"
                      countryCode:
                        type: string
                        description: The mobile country code.
                        example: "+91"
                      email:
                        type: string
                        description: This holds the customer's email ID if available; otherwise, it displays as "unrecorded".
                        example: "unrecorded"
                      status:
                        type: string
                        description: It contains the conversation status. "Null" indicates an active conversation. "Invalid" denotes a contact number that is not valid in the broadcast context.
                        example: "active"
                      pageConversationId:
                        type: string
                        description: This 16-digit ID represents the unique identifier of the user (For example - Mobile number for WhatsApp, SMS, Viber Business; PSID for Instagram and Facebook)
                        example: "91987654321"
                      active:
                        type: boolean
                        description: This field indicates if the customer is part of any on-going journey such as product flow, collection flow etc.
                        example: false
                      verified:
                        type: boolean
                        description: Customer email verification status
                        example: false
                      name:
                        type: string
                        description: This holds the customer's full name
                        example: "Micheal"
                      mobile:
                        type: string
                        description: This holds the customer's mobile number
                        example: "91987654321"
                      gender:
                        type: string
                        description: Customer gender (male/ female)
                        example: "male"
                      dateOfBirth:
                        type: string
                        description: Customer birthdate in format YYYY-MM-DD
                        example: "2010-01-01"
                      lastReplyTimestamp:
                        type: string
                        description: This holds the timestamp of the most recent message of the conversation.
                        example: "2023-08-20 07:56:35.848015"
                      assigned_to:
                        type: object
                        description: Information about the assigned agent.
                        properties:
                          picture:
                            type: string
                            description: URL to the agent's picture.
                            example: ""
                          agent_nickname:
                            type: string
                            description: The agent's nickname.
                            example: "aj"
                          name:
                            type: string
                            description: The agent's full name.
                            example: "agent john"
                          firstName:
                            type: string
                            description: The agent's first name.
                            example: "agentjohn"
                          mobile:
                            type: string
                            description: The agent's mobile number.
                            example: "+917674032686"
                          lastName:
                            type: string
                            description: The agent's last name.
                            example: "demoprod"
                          email:
                            type: string
                            description: The agent's email address.
                            example: "agentjohn@google.com"
                          id:
                            type: string
                            description: The agent's unique identifier.
                            example: "5291511998709760"
  /crm/add-custom-field:
    post:
      tags:
      - Customers API
      summary: Add Custom Fields to a Conversation
      description: Custom fields are data structures that function like dictionaries, allowing users to store and retrieve key-value pairs of information associated with a particular conversation. Unlike single string tags, which likely serve as simple labels or identifiers for conversations, custom fields offer a more flexible and versatile way to store additional information in a structured manner. By using custom fields, users can associate specific data with a conversation, making it easier to organize and access relevant information when needed.
      operationId: addCustomFieldsToConversation
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
            format: Bearer <token>
            example: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJXNjdvZVpPVTBUU004QlFBaFZzeXBvRzdOcXRaIiwiYXVkIjoiUVdGNEt3MXFkR3NLcXhaV1AzR3o5akhaMTVXS0dmY29vR1B5Q3N6dzd1bEVjemNaIiwiaXNzIjoidXJuOlwvXC9hcGlnZWUtZWRnZS1KV1QtcG9saWN5LXRlc3QiLCJtZXJjaGFudF9pZCI6IjQ3NjY4ODEzNzgyMDU2OTYiLCJleHAiOjE2ODU1Mjc5ODMsImlhdCI6MTY3Nzc1MTk4MywianRpIjoiZWQ1YzljOGItZTRmOC00MGQ5LTkxNGQtZmM3Yzg4NGFlMDBiIn0.PJOMZKvFxcFBKFlhHP5UQT3KnOKjbwHCX7E84-tvZI1eEo2bENidua7VZLPTvQlRAHHHyL497cB36zmTTbr1jwl0J_UzLq9x_1_1_cAsUAH5BxB1d8YE_5Veui5SUCMj_2cvi4uVhROgA_b8UEXB7r2fdghcw2saXGNG3Srn0xnHHCDxwoxzG2tI670f7S7E8XiT1f_MUWm3CJsHDtRFi0Fef9zzjuWr4HXlzk7FtZQhHzvnr_AtqkP20ImfhjhjO52TQMdO3AQV5lzKi-K5AAODP5Lc0tt0BySRAk4qVS2qR7cEZGNW240t_Ok-rWSagSghsQs9TNZr_mCi_e7zhw","refresh_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiI3Z3M1QTBVdkl0V1ZBRXdaRzFId09wUGNyb1BZMzRBZyIsImF1ZCI6IlFXRjRLdzFxZEdzS3F4WldQM0d6OWpIWjE1V0tHZmNvb0dQeUNzenc3dWxFY3pjWiIsImlzcyI6InVybjpcL1wvYXBpZ2VlLWVkZ2UtSldULXBvbGljeS10ZXN0IiwibWVyY2hhbnRfaWQiOiI0NzY2ODgxMzc4MjA1Njk2IiwiZXhwIjoxNjg1NTI3OTgzLCJpYXQiOjE2Nzc3NTE5ODMsImp0aSI6Ijg0NjcwZjU0LWMwYzAtNDVjNi05Nzg4LWNlYjQxNGE5NzRjZiJ9.h8bwm-ny2cMl5Xzkh0QhaWr_oSUMTpKFrDPAesCBtN4uEnQSGxB6bqVOWebgbNxwYaPAIC79RZitaQ0NxCfNffPBm1nZr4dPchl_JTJOx13EDWdx8iZeG4_CBSYnsBCQ7L934pgmupV5qx4pkL3trU2fr3Z-wQHBo01e8vPaSMlCbso94NarXZMsBY_9Z5ALMimYRk0H7yiJ0XQk2JM6W6gbiQ67F3m5UImsYb_rge8IhLlCsgdTyWSw6lpkqs31pFv1N8tKdGN-XdOlrPwYl3d7-els04wg3XZPsASufnoP-hooTELPNdl-FUFHX7plBl5Uvng85y1XzHzIO9IWqA
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                conversationId:
                  type: string
                  example: ag5wfmp1bXBlcmRldm5ld3IZCxIMQ29udmVyc2F0aW9uGICAgJ-NreoKDA
                  description: "URL-safe conversation unique identifier used to fetch details of specific conversation."
                customFields:
                  type: string
                  example: '[{"field":"mine","value":"true"}]'
                  description: An array of key-value pairs associated with the customer that can be later used for segmentation and analytics.
              example:
                conversationId: ag5wfmp1bXBlcmRldm5ld3IZCxIMQ29udmVyc2F0aW9uGICAgJ-NreoKDA
                customFields: '[{"field":"mine","value":"true"}]'
      responses:
        '200':
          description: Add Custom Fields to a Conversation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        customDataField:
                          type: string
                          example: testfield3
                          description: This represents the field column for the Custom field.
                        customDataId:
                          type: number
                          example: 6665252571709440
                          description: This 16-digit ID represents the unique identifier for the Custom data field associated with the User.
                      example:
                      - customDataField: testfield3
                        customDataId: 6665252571709440
                    example:
                      value:
                        customDataField: testfield3
                        customDataId: 6665252571709440
                  errorMessage:
                    type: string
                    example: ""
                    description: "user readable error message giving information about error."
                  message:
                    type: string
                    example: ""
                  success:
                    type: boolean
                    example: true
                    description: "flag indicating whether the API executed successfully or not."
                example:
                  data:
                  - customDataField: testfield3
                    customDataId: 6665252571709440
                  - customDataField: testfield4
                    customDataId: 6133379256811520
                  errorMessage: {}
                  message: {}
                  success: true
  /crm/add-tag:
    post:
      tags:
      - Customers API
      summary: Add Tags to a Conversation
      description: Adds a new Tag to customer conversation, basically making the conversation or the User, This would prove useful while catgeorizing the conversations.
      operationId: addTagToConversation
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
            format: Bearer <token>
            example: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJXNjdvZVpPVTBUU004QlFBaFZzeXBvRzdOcXRaIiwiYXVkIjoiUVdGNEt3MXFkR3NLcXhaV1AzR3o5akhaMTVXS0dmY29vR1B5Q3N6dzd1bEVjemNaIiwiaXNzIjoidXJuOlwvXC9hcGlnZWUtZWRnZS1KV1QtcG9saWN5LXRlc3QiLCJtZXJjaGFudF9pZCI6IjQ3NjY4ODEzNzgyMDU2OTYiLCJleHAiOjE2ODU1Mjc5ODMsImlhdCI6MTY3Nzc1MTk4MywianRpIjoiZWQ1YzljOGItZTRmOC00MGQ5LTkxNGQtZmM3Yzg4NGFlMDBiIn0.PJOMZKvFxcFBKFlhHP5UQT3KnOKjbwHCX7E84-tvZI1eEo2bENidua7VZLPTvQlRAHHHyL497cB36zmTTbr1jwl0J_UzLq9x_1_1_cAsUAH5BxB1d8YE_5Veui5SUCMj_2cvi4uVhROgA_b8UEXB7r2fdghcw2saXGNG3Srn0xnHHCDxwoxzG2tI670f7S7E8XiT1f_MUWm3CJsHDtRFi0Fef9zzjuWr4HXlzk7FtZQhHzvnr_AtqkP20ImfhjhjO52TQMdO3AQV5lzKi-K5AAODP5Lc0tt0BySRAk4qVS2qR7cEZGNW240t_Ok-rWSagSghsQs9TNZr_mCi_e7zhw","refresh_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiI3Z3M1QTBVdkl0V1ZBRXdaRzFId09wUGNyb1BZMzRBZyIsImF1ZCI6IlFXRjRLdzFxZEdzS3F4WldQM0d6OWpIWjE1V0tHZmNvb0dQeUNzenc3dWxFY3pjWiIsImlzcyI6InVybjpcL1wvYXBpZ2VlLWVkZ2UtSldULXBvbGljeS10ZXN0IiwibWVyY2hhbnRfaWQiOiI0NzY2ODgxMzc4MjA1Njk2IiwiZXhwIjoxNjg1NTI3OTgzLCJpYXQiOjE2Nzc3NTE5ODMsImp0aSI6Ijg0NjcwZjU0LWMwYzAtNDVjNi05Nzg4LWNlYjQxNGE5NzRjZiJ9.h8bwm-ny2cMl5Xzkh0QhaWr_oSUMTpKFrDPAesCBtN4uEnQSGxB6bqVOWebgbNxwYaPAIC79RZitaQ0NxCfNffPBm1nZr4dPchl_JTJOx13EDWdx8iZeG4_CBSYnsBCQ7L934pgmupV5qx4pkL3trU2fr3Z-wQHBo01e8vPaSMlCbso94NarXZMsBY_9Z5ALMimYRk0H7yiJ0XQk2JM6W6gbiQ67F3m5UImsYb_rge8IhLlCsgdTyWSw6lpkqs31pFv1N8tKdGN-XdOlrPwYl3d7-els04wg3XZPsASufnoP-hooTELPNdl-FUFHX7plBl5Uvng85y1XzHzIO9IWqA
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                conversationId:
                  type: string
                  example: ag5wfmp1bXBlcmRldm5ld3IZCxIMQ29udmVyc2F0aW9uGICAgJ-NreoKDA
                  description: 'URL-safe conversation unique identifier used to fetch details of specific conversation.'
                tag:
                  type: string
                  example: 'western'
                  description: 'Tag name to be attached to the conversations.'
              example:
                conversationId: ag5wfmp1bXBlcmRldm5ld3IZCxIMQ29udmVyc2F0aW9uGICAgJ-NreoKDA
                tag: 'western'
      responses:
        '200':
          description: Add Tags to a Conversation
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorMessage:
                    type: string
                    example: "errormsgexample1"
                    description: "User readable error message giving information about error."
                  success:
                    type: boolean
                    example: true
                    description: "Flag indicating whether the API executed successfully or not."
                example:
                  errorMessage: "errormsgexample1"
                  success: true
  /crm/fetch-tags:
    get:
      tags:
      - Customers API
      summary: Fetch Tags
      description: Fetch out all of the tags.
      operationId: fetchTagsToConversation
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
            format: Bearer <token>
            example: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJXNjdvZVpPVTBUU004QlFBaFZzeXBvRzdOcXRaIiwiYXVkIjoiUVdGNEt3MXFkR3NLcXhaV1AzR3o5akhaMTVXS0dmY29vR1B5Q3N6dzd1bEVjemNaIiwiaXNzIjoidXJuOlwvXC9hcGlnZWUtZWRnZS1KV1QtcG9saWN5LXRlc3QiLCJtZXJjaGFudF9pZCI6IjQ3NjY4ODEzNzgyMDU2OTYiLCJleHAiOjE2ODU1Mjc5ODMsImlhdCI6MTY3Nzc1MTk4MywianRpIjoiZWQ1YzljOGItZTRmOC00MGQ5LTkxNGQtZmM3Yzg4NGFlMDBiIn0.PJOMZKvFxcFBKFlhHP5UQT3KnOKjbwHCX7E84-tvZI1eEo2bENidua7VZLPTvQlRAHHHyL497cB36zmTTbr1jwl0J_UzLq9x_1_1_cAsUAH5BxB1d8YE_5Veui5SUCMj_2cvi4uVhROgA_b8UEXB7r2fdghcw2saXGNG3Srn0xnHHCDxwoxzG2tI670f7S7E8XiT1f_MUWm3CJsHDtRFi0Fef9zzjuWr4HXlzk7FtZQhHzvnr_AtqkP20ImfhjhjO52TQMdO3AQV5lzKi-K5AAODP5Lc0tt0BySRAk4qVS2qR7cEZGNW240t_Ok-rWSagSghsQs9TNZr_mCi_e7zhw","refresh_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiI3Z3M1QTBVdkl0V1ZBRXdaRzFId09wUGNyb1BZMzRBZyIsImF1ZCI6IlFXRjRLdzFxZEdzS3F4WldQM0d6OWpIWjE1V0tHZmNvb0dQeUNzenc3dWxFY3pjWiIsImlzcyI6InVybjpcL1wvYXBpZ2VlLWVkZ2UtSldULXBvbGljeS10ZXN0IiwibWVyY2hhbnRfaWQiOiI0NzY2ODgxMzc4MjA1Njk2IiwiZXhwIjoxNjg1NTI3OTgzLCJpYXQiOjE2Nzc3NTE5ODMsImp0aSI6Ijg0NjcwZjU0LWMwYzAtNDVjNi05Nzg4LWNlYjQxNGE5NzRjZiJ9.h8bwm-ny2cMl5Xzkh0QhaWr_oSUMTpKFrDPAesCBtN4uEnQSGxB6bqVOWebgbNxwYaPAIC79RZitaQ0NxCfNffPBm1nZr4dPchl_JTJOx13EDWdx8iZeG4_CBSYnsBCQ7L934pgmupV5qx4pkL3trU2fr3Z-wQHBo01e8vPaSMlCbso94NarXZMsBY_9Z5ALMimYRk0H7yiJ0XQk2JM6W6gbiQ67F3m5UImsYb_rge8IhLlCsgdTyWSw6lpkqs31pFv1N8tKdGN-XdOlrPwYl3d7-els04wg3XZPsASufnoP-hooTELPNdl-FUFHX7plBl5Uvng85y1XzHzIO9IWqA
      responses:
        '200':
          description: Fetch the tags.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                  - type: array
                    items:
                      type: string
                      example: "hello, subscribe"
                      description: tags associated with the conversations.
                    example:
                      - hello, subscribe, whatsapp
                  errorMessage:
                    type: string
                    example: ''
                    description: "User readable error message giving information about error."
                  success:
                    type: boolean
                    example: true
                    description: "Flag indicating whether the API executed successfully or not."
                example:
                  Fetch Custom Fields to a Conversation:
                    value:
                      data:
                        - hello, subscribe, whatsapp
                      errorMessage: ''
                      success: true
  /crm/fetch-custom-fields:
    get:
      tags:
        - Customers API
      summary: Fetch Custom Fields of a Conversation
      description: Fetch out all of the custom fields.
      operationId: fetchCustomFieldsToConversation
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
            format: Bearer <token>
            example: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJXNjdvZVpPVTBUU004QlFBaFZzeXBvRzdOcXRaIiwiYXVkIjoiUVdGNEt3MXFkR3NLcXhaV1AzR3o5akhaMTVXS0dmY29vR1B5Q3N6dzd1bEVjemNaIiwiaXNzIjoidXJuOlwvXC9hcGlnZWUtZWRnZS1KV1QtcG9saWN5LXRlc3QiLCJtZXJjaGFudF9pZCI6IjQ3NjY4ODEzNzgyMDU2OTYiLCJleHAiOjE2ODU1Mjc5ODMsImlhdCI6MTY3Nzc1MTk4MywianRpIjoiZWQ1YzljOGItZTRmOC00MGQ5LTkxNGQtZmM3Yzg4NGFlMDBiIn0.PJOMZKvFxcFBKFlhHP5UQT3KnOKjbwHCX7E84-tvZI1eEo2bENidua7VZLPTvQlRAHHHyL497cB36zmTTbr1jwl0J_UzLq9x_1_1_cAsUAH5BxB1d8YE_5Veui5SUCMj_2cvi4uVhROgA_b8UEXB7r2fdghcw2saXGNG3Srn0xnHHCDxwoxzG2tI670f7S7E8XiT1f_MUWm3CJsHDtRFi0Fef9zzjuWr4HXlzk7FtZQhHzvnr_AtqkP20ImfhjhjO52TQMdO3AQV5lzKi-K5AAODP5Lc0tt0BySRAk4qVS2qR7cEZGNW240t_Ok-rWSagSghsQs9TNZr_mCi_e7zhw","refresh_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiI3Z3M1QTBVdkl0V1ZBRXdaRzFId09wUGNyb1BZMzRBZyIsImF1ZCI6IlFXRjRLdzFxZEdzS3F4WldQM0d6OWpIWjE1V0tHZmNvb0dQeUNzenc3dWxFY3pjWiIsImlzcyI6InVybjpcL1wvYXBpZ2VlLWVkZ2UtSldULXBvbGljeS10ZXN0IiwibWVyY2hhbnRfaWQiOiI0NzY2ODgxMzc4MjA1Njk2IiwiZXhwIjoxNjg1NTI3OTgzLCJpYXQiOjE2Nzc3NTE5ODMsImp0aSI6Ijg0NjcwZjU0LWMwYzAtNDVjNi05Nzg4LWNlYjQxNGE5NzRjZiJ9.h8bwm-ny2cMl5Xzkh0QhaWr_oSUMTpKFrDPAesCBtN4uEnQSGxB6bqVOWebgbNxwYaPAIC79RZitaQ0NxCfNffPBm1nZr4dPchl_JTJOx13EDWdx8iZeG4_CBSYnsBCQ7L934pgmupV5qx4pkL3trU2fr3Z-wQHBo01e8vPaSMlCbso94NarXZMsBY_9Z5ALMimYRk0H7yiJ0XQk2JM6W6gbiQ67F3m5UImsYb_rge8IhLlCsgdTyWSw6lpkqs31pFv1N8tKdGN-XdOlrPwYl3d7-els04wg3XZPsASufnoP-hooTELPNdl-FUFHX7plBl5Uvng85y1XzHzIO9IWqA
      responses:
        '200':
          description: Fetch the custom fields.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                  - type: object
                    properties:
                      - type: array
                        items:
                          customDataField:
                            type: string
                            example: imagetest
                            description: This represents the field column for the Custom field.
                          customDataId:
                            type: number
                            example: 4579330569011200
                            description: This 16-digit ID represents the unique identifier for the Custom data field associated with the Conversation
                          value:
                            type: string
                            example: imagetest
                            description: "Custom property name associated with conversations."
                        example:
                          customDataField: imagetest
                          customDataId: 4579330569011200
                          value: '3'
                    example:
                      data:
                        - customDataField: mine
                          customDataId: 4645025717682176
                          value: mine
                        - customDataField: date of birth
                          customDataId: 6664171078811648
                          value: date of birth
                  errorMessage:
                    type: string
                    example: ''
                    description: "User readable error message giving information about error."
                  success:
                    type: boolean
                    example: true
                    description: "Flag indicating whether the API executed successfully or not."
                example:
                  Fetch Custom Fields to a Conversation:
                    value:
                      data:
                        - customDataField: imagetest
                          customDataId: 4579330569011200
                          value: '3'
                        - customDataField: mine
                          customDataId: 4645025717682176
                          value: 'true'
                      errorMessage: ''
                      success: true
  /crm/remove-tag:
    delete:
      summary: Remove a Tag from a Conversation
      description: Remove a specified tag from a conversation based on its conversation ID.
      operationId: removeTagFromConversation
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
            format: Bearer <token>
          description: The authorization token for the request.
          example: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJWbDBVdWpvWkpqT3d4a0prenFOWVZ5WFBLbDFBIiwiYXVkIjoiUVdGNEt3MXFkR3NLcXhaV1AzR3o5akhaMTVXS0dmY29vR1B5Q3N6dzd1bEVjemNaIiwiaXNzIjoidXJuOi8vYXBpZ2VlLWVkZ2UtSldULXBvbGljeS10ZXN0IiwibWVyY2hhbnRfaWQiOiI2NTczMjAyMDExNzE3NjMyIiwiZXhwIjoxNzAxMjUzNjI3LCJpYXQiOjE2OTM0Nzc2MjcsImp0aSI6IjQyZjM3NTE3LTk1MDgtNDRhMS04MGRkLWEzZDc2MzhhYTI5ZSJ9.hd8tikyhsmLtuTDUzHN93ObI9655bF6vAOWzYbliN6NrE2pITfR8pkEsgRfIGRSp8AGAz1fmi-N7rWHSMqXbAd8Ai0drM90zyiK390JPHFAPIjHOSs47yUU6dnJPH4UBcyDiD0WBVfn-Tb--3KYEmZqAE-PgKict-__FEaYWqpTqoqHg4vdRcSJXSp09N0CXNIiac1ZQv6QtHg_sJhjo_rULboUfHLNureQu9KuHMURjxBtk5DUgZV6VNZugRwMIhbqLH67HPXpW8Ey9RAzW_99f0CBdI7nyrKVoRnBMNlO-xOqHde2UTyq8CMnKcOmmsr24qQ9IPZfuwE_5zzT6zA
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                conversationId:
                  type: string
                  description: The conversation ID of the conversation from which to remove the tag.
                  example: ag9zfmp1bXBlci0xNDc4MDZyGQsSDENvbnZlcnNhdGlvbhiAgIinjvifCAw
                tag:
                  type: string
                  description: The tag to be removed from the conversation.
                  example: test_tag1
              example:
                conversationId: ag5wfmp1bXBlcmRldm5ld3IZCxIMQ29udmVyc2F0aW9uGICAgJ-NreoKDA
                tag: 'western'
      responses:
        '200':
          description: Tag removed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorMessage:
                    type: string
                    description: A user-readable error message, if applicable.
                    example: ""
                  data:
                    type: object
                    description: Additional data, if any.
                    example: {}
                  success:
                    type: boolean
                    description: A flag indicating whether the request was successful.
                    example: true
  /crm/remove-custom-field:
    delete:
      summary: Remove the custom field from a Conversation
      description: Remove a specified custom field from a conversation based on its conversation ID.
      operationId: removeCustomFieldFromConversation
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
            format: Bearer <token>
          description: The authorization token for the request.
          example: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJWbDBVdWpvWkpqT3d4a0prenFOWVZ5WFBLbDFBIiwiYXVkIjoiUVdGNEt3MXFkR3NLcXhaV1AzR3o5akhaMTVXS0dmY29vR1B5Q3N6dzd1bEVjemNaIiwiaXNzIjoidXJuOi8vYXBpZ2VlLWVkZ2UtSldULXBvbGljeS10ZXN0IiwibWVyY2hhbnRfaWQiOiI2NTczMjAyMDExNzE3NjMyIiwiZXhwIjoxNzAxMjUzNjI3LCJpYXQiOjE2OTM0Nzc2MjcsImp0aSI6IjQyZjM3NTE3LTk1MDgtNDRhMS04MGRkLWEzZDc2MzhhYTI5ZSJ9.hd8tikyhsmLtuTDUzHN93ObI9655bF6vAOWzYbliN6NrE2pITfR8pkEsgRfIGRSp8AGAz1fmi-N7rWHSMqXbAd8Ai0drM90zyiK390JPHFAPIjHOSs47yUU6dnJPH4UBcyDiD0WBVfn-Tb--3KYEmZqAE-PgKict-__FEaYWqpTqoqHg4vdRcSJXSp09N0CXNIiac1ZQv6QtHg_sJhjo_rULboUfHLNureQu9KuHMURjxBtk5DUgZV6VNZugRwMIhbqLH67HPXpW8Ey9RAzW_99f0CBdI7nyrKVoRnBMNlO-xOqHde2UTyq8CMnKcOmmsr24qQ9IPZfuwE_5zzT6zA
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                conversationId:
                  type: string
                  description: The conversation ID of the conversation from which to remove the tag.
                  example: ag9zfmp1bXBlci0xNDc4MDZyGQsSDENvbnZlcnNhdGlvbhiAgIinjvifCAw
                customField:
                  type: string
                  description: The customfield to be removed from the conversation.
                  example: test_tag1
              example:
                conversationId: ag5wfmp1bXBlcmRldm5ld3IZCxIMQ29udmVyc2F0aW9uGICAgJ-NreoKDA
                customField: 'western'

      responses:
        '200':
          description: Custom field removed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorMessage:
                    type: string
                    description: A user-readable error message, if applicable.
                    example: ""
                  data:
                    type: object
                    description: Additional data, if any.
                    example: {}
                  success:
                    type: boolean
                    description: A flag indicating whether the request was successful.
                    example: true
  /crm/add-customer:
    post:
      tags:
        - Customers API
      summary: Add or Update a customer using mobile number and pageid combination.
      description: Add or Update a customer using mobile number and pageid combination as their primary key. This API can be used to add a new customer into CRM Panel.
      operationId: addCustomer
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
            format: Bearer <token>
            example: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJXNjdvZVpPVTBUU004QlFBaFZzeXBvRzdOcXRaIiwiYXVkIjoiUVdGNEt3MXFkR3NLcXhaV1AzR3o5akhaMTVXS0dmY29vR1B5Q3N6dzd1bEVjemNaIiwiaXNzIjoidXJuOlwvXC9hcGlnZWUtZWRnZS1KV1QtcG9saWN5LXRlc3QiLCJtZXJjaGFudF9pZCI6IjQ3NjY4ODEzNzgyMDU2OTYiLCJleHAiOjE2ODU1Mjc5ODMsImlhdCI6MTY3Nzc1MTk4MywianRpIjoiZWQ1YzljOGItZTRmOC00MGQ5LTkxNGQtZmM3Yzg4NGFlMDBiIn0.PJOMZKvFxcFBKFlhHP5UQT3KnOKjbwHCX7E84-tvZI1eEo2bENidua7VZLPTvQlRAHHHyL497cB36zmTTbr1jwl0J_UzLq9x_1_1_cAsUAH5BxB1d8YE_5Veui5SUCMj_2cvi4uVhROgA_b8UEXB7r2fdghcw2saXGNG3Srn0xnHHCDxwoxzG2tI670f7S7E8XiT1f_MUWm3CJsHDtRFi0Fef9zzjuWr4HXlzk7FtZQhHzvnr_AtqkP20ImfhjhjO52TQMdO3AQV5lzKi-K5AAODP5Lc0tt0BySRAk4qVS2qR7cEZGNW240t_Ok-rWSagSghsQs9TNZr_mCi_e7zhw","refresh_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiI3Z3M1QTBVdkl0V1ZBRXdaRzFId09wUGNyb1BZMzRBZyIsImF1ZCI6IlFXRjRLdzFxZEdzS3F4WldQM0d6OWpIWjE1V0tHZmNvb0dQeUNzenc3dWxFY3pjWiIsImlzcyI6InVybjpcL1wvYXBpZ2VlLWVkZ2UtSldULXBvbGljeS10ZXN0IiwibWVyY2hhbnRfaWQiOiI0NzY2ODgxMzc4MjA1Njk2IiwiZXhwIjoxNjg1NTI3OTgzLCJpYXQiOjE2Nzc3NTE5ODMsImp0aSI6Ijg0NjcwZjU0LWMwYzAtNDVjNi05Nzg4LWNlYjQxNGE5NzRjZiJ9.h8bwm-ny2cMl5Xzkh0QhaWr_oSUMTpKFrDPAesCBtN4uEnQSGxB6bqVOWebgbNxwYaPAIC79RZitaQ0NxCfNffPBm1nZr4dPchl_JTJOx13EDWdx8iZeG4_CBSYnsBCQ7L934pgmupV5qx4pkL3trU2fr3Z-wQHBo01e8vPaSMlCbso94NarXZMsBY_9Z5ALMimYRk0H7yiJ0XQk2JM6W6gbiQ67F3m5UImsYb_rge8IhLlCsgdTyWSw6lpkqs31pFv1N8tKdGN-XdOlrPwYl3d7-els04wg3XZPsASufnoP-hooTELPNdl-FUFHX7plBl5Uvng85y1XzHzIO9IWqA
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - to
                - channel
                - userdata
              properties:
                pageId:
                  type: string
                  example: 5340460438650123
                  description: The "pageId" field contains the page id which you can fetch from /chat/get-social-channels api.[e.g. whatsapp.id]
                to:
                  type: string
                  example: 91987654321
                  description: The "to" field contains the customer's phone number, including the country code as an example (91987654321). The sentence also emphasizes that this phone number functions as the conversation ID, facilitating interactions and communication with the customer.
                userdata:
                  type: object
                  properties:
                    countryCode:
                      type: string
                      example: "+65"
                      description: User's mobile country code
                    mobile:
                      type: string
                      example: "9799433141"
                      description: Customer's mobile number
                    firstName:
                      type: string
                      example: "John"
                      description: Denotes the first name of the customer.
                    lastName:
                      type: string
                      example: "Roe"
                      description: Denotes the last name of the customer.
                  description: ""
                channel:
                  type: string
                  example: "whatsapp"
                  description: The channel refers to the sales channel through which we are adding a customer. The available sales channels include sms, viber, bot and whatsapp.
            example:
              pageId: "5340460438650123"
              to: "65123456789"
              channel: "whatsapp"
              userdata:
               countryCode: "+65"
               mobile: 123456789
               firstName: John
               lastName: Roe
      responses:
        '200':
          description: Add customer response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Customer has been added to CRM.
                    description: ""
                  success:
                    type: boolean
                    example: true
                    description: "Flag indicating whether the API executed successfully or not."
                example:
                    message: 'Customer has been added to CRM.'
                    success: true

tags:
- name: Customers API
  description: |-
    The Customers APIs serve the purpose of obtaining and furnishing extensive data pertaining to customers presently linked to the account.

    This functionality empowers users not only to introduce new customers but also to retrieve an inventory of existing customers and access precise particulars concerning individual customers when required.
