{"openapi":"3.0.3","info":{"version":"1.0.0","title":"Data exports","description":"Root is an end-to-end digital insurance platform that enables you to launch new products and digital engagement channels fast.","termsOfService":"https://rootplatform.com/about","contact":{"name":"Root support team","url":"https://rootplatform.com/contact","email":"support@root.co.za"}},"servers":[{"url":"https://sandbox.uk.rootplatform.com/v1/insurance","description":"United Kingdom multi-tenant - sandbox"},{"url":"https://api.uk.rootplatform.com/v1/insurance","description":"United Kingdom multi-tenant - production"},{"url":"https://sandbox.rootplatform.com/v1/insurance","description":"South Africa multi-tenant - sandbox"},{"url":"https://api.rootplatform.com/v1/insurance","description":"South Africa multi-tenant - production"}],"security":[{"basicAuth":[]}],"components":{"schemas":{"alteration-package":{"type":"object","required":["alteration_package_id","product_module_definition_id","module","created_at","created_by"],"properties":{"alteration_package_id":{"type":"string","description":"Must be a UUID. Unique identifier of the alteration package."},"product_module_definition_id":{"type":"string","description":"Must be a UUID. Unique identifier of the product module definition."},"module":{"type":"object","description":"Custom module-specific fields stored against the alteration package. See [product modules](#product-modules) for more details.","additionalProperties":true},"created_at":{"type":"string","format":"date-time","description":"The date/time at which the alteration package was created."},"created_by":{"type":"object","description":"`null` is allowed. An object indicating the user or API key that created the alteration package. See [Authentication](#client-apps).","nullable":true}},"example":{"alteration_package_id":"f4397823-db4a-4d6a-a06b-08e1a2a3172c","product_module_id":"5d8c8c63-e2f1-43e0-94f1-c467545f182d","created_at":"2017-10-12T15:47:34.281Z","created_by":{"id":"00000000-0000-0000-0000-000000000001","type":"user"},"module":{"type":"root_gadgets","make":"Apple","model":"iPhone 6S 64GB LTE"},"monthly_premium":11200,"currency":"ZAR","sum_assured":329900,"billing_frequency":"monthly","status":"pending","change_description":"Updating device","product_module_definition_id":"9b7b43f4-9ab8-4e37-b42b-59d5595f3983","input_data":{},"policy_id":"128ba0c0-3f6a-4f8b-9b40-e2066b02b59e","product_module_definition_alteration_hook_id":"2cbbc377-e142-4986-8871-29b0a4c23353"}},"alteration-packages":{"type":"array","items":{"$ref":"#/components/schemas/alteration-package"}},"application":{"type":"object","description":"An application represents a \"draft\" policy, with all information captured and validated. Applications persist on Root (they do not expire), and can be reviewed and managed on the Root management dashboard. <br/><br/> See the [issing policies](https://docs.rootplatform.com/docs/policy-issuing) guide and the [application hook](https://docs.rootplatform.com/docs/application-hook) guide for more details.","required":["application_id","policyholder_id","product_module_definition_id","status","package_name","sum_assured","base_premium","monthly_premium","module","created_at","created_by","billing_day"],"properties":{"application_id":{"type":"string","description":"Must be a UUID. Unique identifier of the application."},"policyholder_id":{"type":"string","description":"Must be a UUID. The unique identifier of the policyholder linked to the application."},"product_module_definition_id":{"type":"string","description":"Must be a UUID. Unique identifier of the product module definition associated with the application. Determined by the product module definition associated with the quote from which the application was created."},"status":{"type":"string","enum":["pending","issued"]},"package_name":{"type":"string","description":"The package name."},"sum_assured":{"type":"integer","description":"The maximum insured value in cents."},"base_premium":{"type":"integer","description":"The combined risk and platform fee in cents. `monthly_premium` is calculated from this."},"monthly_premium":{"type":"integer","description":"The total monthly premium, in cents, of the application. This is the total premium that will be billed to the policyholder after the policy is issued."},"module":{"type":"object","description":"Custom, product-specific information saved to the application for later reference. These parameters are set in the [application hook](https://docs.rootplatform.com/docs/application-hook) in the product module code.","additionalProperties":true},"created_at":{"type":"string","format":"date-time","description":"The date at which the quote package was created.."},"created_by":{"type":"object","description":"`null` is allowed. An object indicating the user or API key that created the application.","nullable":true},"billing_day":{"type":"integer","description":"`null` is allowed. The day of month on which the policy to write will be billed on. Should be between 1 and 31, or `null`. If it falls on a day that does not exist in the month (for example, 31 in February) the policy to be written will be billed on the last day of that month. Setting this value to 31 will ensure that the policy to be written will be billed on the last day of every month.","nullable":true},"currency":{"type":"string","description":"The currency used for the quote package, in [ISO 4217] (https://en.wikipedia.org/wiki/ISO_4217) format."},"billing_frequency":{"type":"string","enum":["monthly","yearly","once_off"],"description":"The frequency at which the policy will be billed. See the [billing settings](https://docs.rootplatform.com/docs/billing-settings#billing-frequency) guide for more details on the billing frequency."},"beneficiaries":{"$ref":"#/components/schemas/beneficiaries"},"input_data":{"type":"object","description":"Application input parameters as received over the [create an application](https://docs.rootplatform.com/reference/create-an-application) endpoint.","nullable":true,"additionalProperties":true}},"example":{"application_id":"02e2ce3b-a235-48ea-8415-c58440f631bd","policyholder_id":"246ee082-9f88-44b7-b51c-22a1f1a9a19e","package_name":"Theft + comprehensive","sum_assured":1199900,"monthly_premium":16999,"base_premium":16999,"module":{"make":"Apple","type":"root_gadgets","model":"iPhone 6S 64GB LTE","serial_number":"0123456789"},"created_at":"2023-02-03T11:17:49.009Z","created_by":{"type":"api_key","id":"b6565862-cc6e-4563-85d3-659894338cda","owner_id":"e17f06ce-2a6a-4864-b826-19a83270eab4"},"currency":"ZAR","product_module_definition_id":"4889a9e0-d5f9-4971-8ac2-2175a9d15477","billing_frequency":"monthly","billing_day":1,"status":"pending","beneficiaries":[{"beneficiary_id":"cd444567-10d5-47f5-a0cc-34e262266359","policyholder_id":"246ee082-9f88-44b7-b51c-22a1f1a9a19e","percentage":100,"relationship":"policyholder"}],"quote_package_id":"3822b8fb-43e7-43f7-94ad-63e94e6ce1e3"}},"applications":{"type":"array","items":{"$ref":"#/components/schemas/application"}},"attachment":{"type":"object","required":["file_name","description","file_type","created_at"],"properties":{"file_name":{"type":"string","description":"The name of the file (with file extension)."},"description":{"type":"string","description":"A tag describing what the document is about (e.g. affidavit, etc.)."},"file_type":{"type":"string","description":"The mime type of the attachment (e.g. image/png)."},"created_at":{"type":"string","format":"date-time","description":"Time at which the attachment was created."}},"example":{"file_name":"report.pdf","file_type":"application/pdf","description":"Police Report","file_base64":"JVBERi0xLjQKJcOkw7zDtsOfCjIgMCBvYmoKPDwvTGVuZ3RoIDMgMCBSL0ZpbHRlci9GbGF0ZURlY29kZT4+CnN0cmVhbQp4nD2OywoCMQxF9/mKu3YRk7bptDAIDuh+oOAP+AAXgrOZ37etjmSTe3ISIljpDYGwwrKxRwrKGcsNlx1e31mt5UFTIYucMFiqcrlif1ZobP0do6g48eIPKE+ydk6aM0roJG/RegwcNhDr5tChd+z+miTJnWqoT/3oUabOToVmmvEBy5IoCgplbmRzdHJlYW0KZW5kb2JqCgozIDAgb2JqCjEzNAplbmRvYmoKCjUgMCBvYmoKPDwvTGVuZ3RoIDYgMCBSL0ZpbHRlci9GbGF0ZURlY29kZS9MZW5ndGgxIDIzMTY0Pj4Kc3RyZWFtCnic7Xx5fFvVlf+59z0tdrzIu7xFz1G8Kl7i2HEWE8vxQlI3iRM71A6ksSwrsYptKZYUE9omYStgloZhaSlMMbTsbSPLAZwEGgNlusxQ0mHa0k4Z8muhlJb8ynQoZVpi/b736nkjgWlnfn/8Pp9fpNx3zz33bPecc899T4oVHA55KIEOkUJO96DLvyQxM5WI/omIpbr3BbU/3J61FPBpItOa3f49g1948t/vI4rLIzL8dM/A/t3vn77ZSpT0LlH8e/0eV98jn3k0mSj7bchY2Q/EpdNXm4hyIIOW9g8Gr+gyrq3EeAPGVQM+t+uw5VrQ51yBcc6g6wr/DywvGAHegbE25Br0bFR/ezPGR4kq6/y+QPCnVBYl2ijka/5hjz95S8kmok8kEFl8wDG8xQtjZhRjrqgGo8kcF7+I/r98GY5TnmwPU55aRIhb9PWZNu2Nvi7mRM9/C2flx5r+itA36KeshGk0wf5MWfQ+y2bLaSOp9CdkyxE6S3dSOnXSXSyVllImbaeNTAWNg25m90T3Rd+ii+jv6IHoU+zq6GOY/yL9A70PC/5NZVRHm0G/nTz0lvIGdUe/Qma6nhbRWtrGMslFP8H7j7DhdrqDvs0+F30fWtPpasirp0ZqjD4b/YDK6Gb1sOGVuCfoNjrBjFF31EuLaQmNckf0J9HXqIi66Wv0DdjkYFPqBiqgy+k6+jLLVv4B0J30dZpmCXyn0mQ4CU0b6RIaohEapcfoByyVtRteMbwT/Wz0TTJSGpXAJi+9xWrZJv6gmhBdF/05XUrH6HtYr3hPqZeqDxsunW6I/n30Ocqgp1g8e5o9a6g23Hr2quj90W8hI4toOTyyGXp66Rp6lr5P/05/4AejB2kDdUDzCyyfaawIHv8Jz+YH+AHlZarAanfC2hDdR2FE5DidoGfgm3+l0/QGS2e57BOsl93G/sATeB9/SblHOar8i8rUR+FvOxXCR0F6kJ7Efn6RXmIGyK9i7ewzzMe+xP6eneZh/jb/k2pWr1H/op41FE2fnv5LdHP0j2SlHPokXUkH4duv0QQdpR/Sj+kP9B/0HrOwVayf3c/C7DR7m8fxJXwL9/O7+IP8m8pm5TblWbVWXa9err6o/tzwBcNNJpdp+oOHpm+f/ub0j6JPRX+E3EmC/CJqhUevQlY8SCfpZUj/Gb1KvxT5A/lr2Q72aWgJsBvYHeyb7AX2I/ZbrJLkewlfy5uh1ceH4aer+e38Dmh/Ce9T/Of8Vf47/kfFoCxRVip7lfuVsDKpnFJ+rVrUIrVCXa5uUXeoUUSm2nCxocPwiOFxw3OGd4z1xj6j3/gb09Wma83/dLbs7L9N03T/dHh6ArlrRiZdCU98lR5A3h9FDH4Aj/4QFp+mdxGFHFbAimH3atbK2tgm9il2GfOwq9n17O/Yl9k97AH2LawAa+Am2O7gjbyDu7iHX8uv57fwo3gf59/nP+Gv8DOwPEuxKw5lubJR2aFcqgxhDUHlgHItPHub8pjykvKy8qbyG+UMopalLlZD6pXq3erD6lH1R4ZPGgbxfsBw0jBl+JHhA8MHRm7MMeYZK42fMT5i/KXJaFppajfdaPoX03+Y/SyPlcFybX614NnYg4v5YzxdPcjOAJHPVErGyh2IQwd2xX9QgzKNuCSJediWwbPVNMFpdKph8AfZCaplL9BBI1dQidXTFGG/4KfV5/lF9GPWw7LVh5Uhww94AT2OanSYP81PsPV0lNfzS/i9CrE32CP0BvL9CrqDXc4C9Dg7w9awz7M6dpD+hWcqHexaqo8+wFUWxzaydwgW0FVqH33646sgW02/oLemv6omqp9DfZqkuxDRb9Br7FH6MzNE30Z1U1CNXKgyNyPfryNR9XZinx3EfsxGBRkwvkRHxYliqjOuU6+kd+g/6S3DcWTUelTSN6e96lfVX0XrouXYYdhl9Aj2XT9djB3zBrLkGYzF6DLs9HjUkmrs6nbaQX30eVS926Lh6L3Ra6L7oz76R/D+mS1jf2Zj2BGT4Kin7+H9RfoZuwn78OL/3ikw3UdT9FtmZYWsGvvhjGGf4bDhMcNRw7cNLxqXw9vX0j3I6F8im+OxAjf9iH5Lf2JmxCabllEN7F0F27togHcrz1ATyyE/9mwJ6vh6fSUBSLka3rsX+/kZ7I13UCcuo2/TK4yzLKzIDf1myGmDn3eB+iFE8Bo2AUwfqnYZ/Q7rTmKreBD6nJB0F6rWFGz6Bf0a3o5Ku5ahLjSzSyDrT/Qp6oOGldTOxhGBJ2k1Kmuz8k/w91JmofVsCfs6+HqwQ5Mon1YbfsU4LZveHF3FvcozOGOiwI/h9Mqli9heWJGMdZylDLaFaqe3wYaXiZyNnc6GdRfVr12zelVdbc2K6uVVlRXlyxxlpSXFRYVL7UsKNNvi/LzcnGxrVmZGelpqiiU5KTFhUXyc2WQ0qApntKzF3tqjhYt6wmqRfcOGcjG2u4BwzUP0hDWgWhfShLUeSaYtpHSCcveHKJ0xSucsJbNo9VRfvkxrsWvhF5vt2iTbsbUL8C3N9m4tfEbCmyR8WMKJgAsKwKC1WPubtTDr0VrCrfv6R1t6miFufFF8k73JE1++jMbjFwFcBCicZfePs6x1TAI8q2XNOCdzIowK59ibW8LZ9mZhQVgpbHH1hdu3drU05xYUdJcvC7Mmt703TPb14WSHJKEmqSZsbAqbpBrNK1ZDN2njy6ZGb560UG+PI6HP3ue6rCusuLqFjhQH9DaHs6583To3hPDUpq7r58/mKqMtVq8mhqOj12vhqa1d82cLxLW7GzLAywtbe0ZbofpmOLGtQ4M2fl13V5hdB5WaWIlYVWx9HnuLwPR8RgvH2dfb+0c/04PQ5IyGadv+gkhOjvNY9DTltGijnV32gnBDrr3b1Zw3nk6j2/ZPZDu17IUz5cvGLSkxx44nJetAQuJ8wDM7JyFJLqC2bbOeZcIi+0YkRFhza7Cky441rRIXzyoada8CGV7dDFzhPkTEG45r6hm1rBF4wR82FFrs2ugfCRlgP/P2QoxLxxgLLX8kAYo8mU01zM/AYYcjXFYmUsTUhJjCxnVyXFu+bN8kX2n3WzR0cB+1w7eu7jWVcH9BgQjwTZNO6sUgfGhrV2ysUW9uhJyVju4w7xEzUzMzGdvFzKGZmVn2Hjsy+ah8EMgIm4tm/yVbMtNa+teEWebHTHti820d9ratO7q0ltEe3bdtnQtGsflVs3M6FE5r6lJyuQ7xXEXOIikvmyUWg66EsFqIf0aZ1H1hBUkpEUxrDVt6NsSu3fEFBR/JM2kyz2OajL4juGQ3x6ZbGV7jWDheu2C8wLqEUQX2qkW8rXPH6Gj8grlWFKDR0Va71jraM+qajB7qtWsW++gx/jB/eNTf0jMT0Mno8Ztyw603d2MR/WwNkpXT+nE7u2HruJPd0LGj65gFT283dHZFOONNPeu7x5dirusYbkWcEstnsWKkiRG1MSR6hJvlVO4xJ9EhOatKhBy7JxlJnHkGx8g9yWM4i8ThVY7bFBF8A9449U20/ihn00bTJG9wppFBnVYo3qROM8o2Gw3TXHmaFVEcbnatZHVY3qs/W7/Z8m79prP11ADY8gEuy6sKUgpSCnFhuIH4QFOmPnAa6C+kqVPQhScYMrjwnGUhGx10rigxlMRfnOVRPQmGsqzVWRsyuzP7Mw2rs1bmXp97t+GuRQZbSiEjnpZamGwxZxcfMTHTZHRqIm5RDUy82Zl2qIBpBVUFvCAlVSPNUmXhlkl+04S2vMPqgGk7hW2bLDv3vufYu+mMNLJB2kg797KdaQXVWZmZqRnpuBfE217AUlZU163jtTVFRcVF9jt4/lM9V032lNft3nRN79fPvsxKXv1c3YZd9fUDHeueMBzPK3pu+s0fPnHNmLutzKY+90FtUuolLzz22JO7U5PEs/ct0d+oHbivy6R7nVmfStmTcpdBiTNmG+t5fUobb0t5k5uSJ3nQmaIuyqT4jPT0+DhjWnpRRgZNslJnUqZTW1pzJJNFM1lmjhWLdmYuWVpz2Dpm5X7rO1b+eyuzxi8qijOLqWTQjpnZO2Zmzs5qqJdr3zvsEKvfjNUPO95D23Sm3iIjVW+BFxrOCC+wnQW1RqN9SVFRLaKWnpm5onrlSgEqm9c84738sU+ybNu2hg3DZSz7vu29n37sLj42bT3tWbsl9Dqb+svPxToP4H73y+o6KmZrj1EpjNmZEt9gMBoTMoyZCTVKjbnGWmNv5i3mFmuzPUFTKks74npKD5XeV/p148OmhxKeMD6REC49VXq6NIlKK0vbMXGy9LVSY6kzJ6+mAeNDctJgKlBNOfmZcFkk3lQgPLdYNVlSUopz8/KKiuMZGZMtRakpzh21PSnMl8JSJnmrMzkntyg/DzhfHuvJY3nAHS1EdBl8HCEqFsmUHNcgeudK2F0M0mJnI1o92tLimmLnmotqKotfKn6tWEkuthUfKlaoWCuuKo4Wq8XZJb+K+Vq4OPZCtp2Bl9/budeBRHtv707RwefS6+LdcKbhDEtJXU1oy6vYsGPvToTBkVaQsXJFdWbWSnnNzEAIapCDS4xGCRbNgAeYctPU7ruqWh+4LPRASf70m/nFW9f2V0y/ubhhZWN/+fSbatFtj3Zu396567LmL5/t5ru+WlG/4aa7pjlvvWfHstZr7z77AWKWNL1V3YbcTGM1R1NLDCxtMnraaU1IrjFnJibXmMTFKC6GTOC4cI4tZ00NgqomLkoyWjilGdU0rioKg9vTeizMMsmOOFMXJSdWJpWQllGV0ZOhvJPBMoR/lxTViN6Zmre4JiMrK0ddrTit2TUHFaZMsmJnHJcjVD8xSsXTiTNvZY1GVagW2enfGYs52LHpbDau+Gc9u7nF0/xrh2Pv8CbLu69Tw5mdlQ3StSx1dYr0a+pqAKYki9joDibjsrMtbOloC69BxY+oFjoefYdY9J1xBc/veHXjRDlGhuhvnEmJKQ1plrRsXFKtDQacIRMYiD6CcUxWd1pBWloBMyUp9iXFxWLL1CUxx/T7zD59Y1Nh06cOtm/dnL2+tvfT2WrR2ST+hw/4sZ29Fy1J+UVioFvUwDvxLPg+amAy7rdHnIVGw7H0Y1blYgPbY/iJgaemFCYmJVGupRAuSSZz5jlVL9OWX5Xfk+/PP5RvyLckayzmLFH48hYWvtm6J6pe6urKudq3IqVAQ/HLSDeKymfP5nLj14i6dyf7V5a07cBjvV/a/JnvP/vAkX1Nn95QO2Y4nlnw6pHrJ70pGWd/qj433VPR29jenxiPbPoS1nMt1hNHw84Gs0E1GgpNmrnKfNL8mlmtNB82c7OZFFWsJ47MpgbjFjyKb1Nw8vAcbVHVIr5IjZu/iPj5i0D9eg8ABnPL2LkXvWKw1GM1WEhGgWxfUs6cXcv7zt5rOP7+9IPvn71NVCcrHP5rw8uowpPO6pUqK1M1i5bSrR6yGszqSSvPyEzh6amZKUlpyWRJSmNk4elx5uRFbNeiKAwTZSbeyFKSY4VYVh2c13jYFomPkr2iwbzF3G5WzCWWypRdKTxlkqnOxKS0Ip6+i8YypzJ5JkL3ZFxCTWZ21hXHuJfk0hx76zeJ0/KDnfXv7sx+naxYm1gVWgMuq6uT8UJ5EMUhbUVtjSgLWSZRBDIyVmTYURLs1ntX3x26IlDUtO6i2n/+5+k371WL2r9wbcfS71hWb2179YOnlI0i126Hsd9AbMTZPnKM4rAPG1DnnHHtcfxQXDhuKu5U3O/jDLa4nriDcWNAGBSjCQe/kkzMSafwxKjQTtwiGA1GkxrPTUVMFXs5rmBpjZpt1o8ah34LIAOEJcjQyOhgAcOONJjL0G5n2dNvsmz1SaZOf/CXT6hFOEDYPAs7xBaccpYK+wztBn7IEDZMGU4Zfm8w2Aw9hoOGMSAMMAY3JVwpYjRjCWWr51ii614R02s4/udWeKMRZ3Ixzqp0ymNfO0aW6PvO1kWr7477SuJdlkcMD8efiDuROJljNqezDfxiY2v8lsWPJD5pfDLnu/HfS/hJ/CsJ75v+lJiYl5yX4czNr8lwJqXUJGeczHgpQ5GFLnlxg+yTstDzW5wJyUmp7Uk9STzJmspEFmTn1rAVqcLsiXytRvZLSmO9ozzWW/Nk70xOSq4ZE/flFpi9KzUVmTehLkq1igxcushEBawyo2BLEkvKqVy8a7Fv8X2L1cXJBWYnirY5O9/bGPPGpjNy+2w68y6KwBkUOWe61VmS3mB1Lk7GJdeCS15KgyxqDWdlEUyFEaBIFcaASPagE31khhTnnSyEkoEwgeNMzGeJLjwRF79ODhsLGhwk6F93oCjvlOqTnPBSklCaJNQnOeEskkJRnBwOHKP1uAtD8HbupZ0OhiPHrhUX1VpoRTUpBfL+JE0chiZjFv8zs65868j0767zsvSXz7BU41mncrVr/Y5i5YpLLquvZ2xb5Vfuf+K2V5kZ1fm70898/qYNbODKg01NAfkxmPiI79d7nvlx/8ldyfV/NGeb5adDD/yqfu5Tf5reavwyqgdDbWMzH58RmdZNb6amuQ/UPvQBU4IRKMN36Q71V3SLKZ8OqAFK4qtx53sJ3Qncl/hjZMX4dtEw1wielfQ4s7H/5JN8UtGUIeV/qw1qyPBZXXoClSANxIsjISppO+65Nlt82AgCu0u9ksTduzRYXhXJFy9HiuTCnaEOK9TFLDqsUjrr12EDWdnndNgI+A4dNtF32Dd02ExF3K/DcTTK79LhePU5RdPhRdRr+qUOJ9Buc7MOJxqPmh/T4SS6LPnTs347mHxch+E2y2od5qRa1umwQsss63VYpXjLkA4bKMFyhQ4bAV+rwybqtRzWYTOlWf6gw3HUkmLQ4XjuSvmEDi+i5WmPz35btiLtFzqcqOxIT9bhJKrI8sISpgqvJ2V9SYdVysl6UMIG4OOzTuqwSplZ35ewEXhj1ms6rFJq1hsSNom4ZP1JhxGLrKiEzcAnWNN0WCWr1SbhOBFfa50OI77ZtToMOdkNOoz4Zl+sw5CZfZ8OI77ZEzqM+Gb/ow4jvtm/0mHEN+dhHUZ8c17UYcQ391M6jPhq2TqM+Gqf1WHEV/tfOoz4Ft8p4Xjhq+J/12H4qji2xkXAp5Zk67BKi0scEk4QaynZqMOwv2SrhJNE5pd4dFilvJKQhC1Szm06LOR8TcJpwuclz+owfF7yXQmnC3tKfqbDsKfkTQlnAJ9eynRYJa00Q8KZgr60VodBX9ok4WxJv1OHBf1eCeeKHCi9TYeRA6X3SDhf2FM6rsOwp/QpCdsk/fd1WNC/LOGlIgdK39Jh5EDpHyVcJvxTlqjD8E9ZzM5yUQnKSnVYnYHN0v+zMOwvk/ljlusq26rDAr9LwAkx+v06LPDXS1jGpex+HRZ6H6VO2k9+8tBucpEbvUaPonVSv4Q3kY+G0II6lYaK6aNhwOLqAt4rKTRgBsBfAahZ4l3/Q0mVs5Zp1IGZAQrN0gSA24g+pm85rca7isp1qFpiG8ExgH4bePbAhqDk2gZ5AbRh2odrH6iGMe8C5Xqpo+8cO9fMo9FmqdbQJVJKYNbqFdBahbeGKr8JWDdmfZj3wbNBKj2vlI+SMUdbPs+uznn4b0nPCr/1QcYg+mG6HDih7b/vcw1YD7zlhU1BaZvwkYaxoAnqUrcjHhq1S36NiqS+Tbhuge7d0vcu0As+D6QKb49ITiGt4jw2xeLsg15hkx+0+z+SyiPzS9CNSKv2zOr16tlbLqPso17d6s1ypl960QVrls3aPixnvDJTO3ANSatjEYll1SrkUpO0JCi9POO3Ydiigcql52Iso7zS930yw0TODUld8+Pu1mW5pG2Cc1BKFHb3Q/+glBjzviatdkl9bj0asRlhdUCPh0uuMca3fzb+Xj3b/XoEPdI3AZmNsdXNRMil2x+S2jSpYb5VM5EXvhHjESm7f142CFqflBXTPYOPeTuoe8StZ2rgHLogZHqkV7zoY7LdOiYkPS0yai6nfXLnDkuPDkh+YamI56DONaPBLfn36Vq9+kpj+1FImPPCblAKaTHsnF+9und9+kq8kj4kR3NRDcgsHZDWnT8nZmprYHYtYm5QypuTIerF5bq1Lt3/bln1NH2XzvisT+reI7ExfrHDvHoM++W+8+s54sNV7Oh9urdjEuaqvUvGKpYdmvShW1+/V0ZtQNL45d6LZeOQ5IytZH52e2czS+z8K/TIDEprRG7u0/dWrO4MzNoxKEdz2Rv80IkU+ND63LqOXikhJD3dtyA3PbQX+BnPitx2z65wt8xtTebAFdK3AZl3wdl6Eou6sD2234N61YjtpoCeZXPVMzY7KCPioislf8xqIdctZ+cyLaa9T3rLL3fJ/tlVzOgekjVTzLukJ4Z1HWIPxbwYlPwzFs9I98scGpR1c8a2Cnn2BTG3BmdqJeSKd4Wkml9hK2R1GgRFv9xLA4AGAQ3JCHnkKEC7ZA7EIl4xS/l/V8OIzJgYrWeels2o9J0491vRmpB5At4CrDgBWnH9pMS3ANOBq8jNi3EStOC9SWI7KRFPU6J1ymwKnCfXtFl8bJ/EPOrXfT6Xo3/dKTYXmZmKPBPnXjm7H/ShWZ3u2doWy+e582h+tYxVjrk6Gtu/Xr1mBvQ9vUdK8czWRLFbu3VtYnfv02tp7+xpFNMZ/BjPzNTOkdnq5NF3nGc2p4dl/Qjq+3m3no/n89fMLhQe88yTMreLz9XXp5+AIgN7ZWWMWd2rR2ZIl3y+CBXLVS30VKwin5sV52qeqW2iirnkvagLWgd0bwf0GvJRuoX3twMzV2f3nxMLj36XMf+eK1a9XdIiv/SsV7/T+Wtirum5ODSvts3oFZWkT3raO+8UGZ53r7xslnp4Xt7Ond0f7ylh3aCUP5NXvgXyRmT8L5fRnH8fOlMf5yh9oI3doYakx4X8/tn1xOyan92DekWN+T+2q/x6fsxV3oU59HErmsuPjXLt50Zu5t5LnDke/Q4ttprY/Z5bRnXoQzEY/pC/5yQH5N1qSN71x86hffLeaITm313919GfkTes3/959Wee893FnRvHmLfm7ljdUua5+3gmYq4P+Xr332TtnJfP1bDwvF9okUe/iw3i7JmRIJ5PGin2JFCCe/gaqsPzl4brcozK8XxVI5+yxKcj26lNp6zC7HLM1OhwHZ7G6iTXSqrFs4BoQvrfdtb990/GmbnKD3lv9jzs3O/37Ha5PdqjWme/R9vkG/IFgdKafMN+37Ar6PUNaf4Bd4XW7Aq6/guiSiFM6/ANhAQmoG0cAt/y1aurynGprtAaBwa0bd49/cGAts0T8Azv8/Q1DntdA+t9A30zMtdIjCZQay7xDAeE6BUVVVVaySave9gX8O0Ols6RzKeQ2HIpq1PCj2idw64+z6Br+HLNt/tjLdeGPXu8gaBn2NOneYe0IEi3d2jtrqBWpHVu0rbs3l2huYb6NM9AwDPSD7KKWUlYs2/PsMvfv38+yqM1D7tGvEN7BK8X7i3Xtvl6IXqz193vG3AFlgnpw16316V1uEJDfVgIXLWqusk3FPQMCtuG92sBF7wIR3l3a32egHfP0DIttnY3qFxeTA76hj1af2jQNQTzNXe/a9jlxjIw8LoDWIdrSMPcfrF+L9zuxwI9bk8g4IM6sSAX5Ifc/ZpXFyUWHxryaCPeYL90w6DP1ye4BQyzgzDEDacGZnDBEc9Q0OsBtRtAaHh/hSY97dvnGXYh3sFhjys4iCnB4A4h5gGhTMTRMyxN2B0aGAAobYX6QR+UeIf6QoGgXGoguH/AM98TIlsDQotneNA7JCmGfZdDrAv2u0NQFAtgn9e1xyfmR/rhc63fM+CHR3zaHu8+jySQae/SBuAObdAD3w153SB3+f0euHHI7YGSmLu9wlma5wosZtAzsF/D2gLInQEhY9A7IN0b1DdSQNfnBkevRwsFkFLSm569IWFsyC38r+32YcmQiEUFgyJPsPRhD+IeRGogTAG4TKYnhoOuPa4rvUMQ7Qm6l8WcBvY+b8A/4NovVAjuIc9IwO/ywzSQ9MHEoDcgBAty/7Bv0CelVfQHg/41lZUjIyMVg3rCVrh9g5X9wcGBysGg+NuSysHALpdYeIVA/pUMI54BYD2SZfOWzo2tG5saOzdu2axtadU+ubGpZXNHi9Z48baWlk0tmzsT4xPjO/vh1hmvCReLmMBQrCAoPXqeLSYXIxJZrLl3v7bfFxKcbpFt8LPcR7G0RHLIHEV8sf2GQO7aM+zxiEys0LrB1u9CGvh6xTYCZ3CBMSI7R0Q6eRA4j/D0sMcdRJx3w49zdokQ+vZ4JIkM8SwfQoPs7Q0FIRpm+rCj5i2oODBjFBJ51hWzzCLbtH2ugZCrFxnmCiBD5nNXaNuHZM7un1kF1qRXLqS3Swv4PW4vis65K9fgxSGZbYLX1dfnFTmBrByWVXmZQA9L38rd/SGjBryDXrEgKJF0I77hywOxJJX5KJG+ERTUUO+AN9Av9EBWzN2DSFTYj1D592ux5NU9tFCR9MfG3XOLE9Vrb8gTkGpQ99ye4SF9BcO63ZI40O8LDfRhD+3zekZi5eqc5Qs6RNKDCtA3V+Jm1wizZGF1B+diLBbm0q3efX6x0uRZBn3f64KgxxVcIwi2dzTiEChZVVNXqtUtX1VeVVNVFRe3vQ3IquXLa2pwrVtRp9WtrF1duzox/iN23cduRjGq1M2T+xCPqx79Jknc6sz/mGXhTJBCLBG3Bm8toJnD7qaFH3NrOqZV/9Bj/oyOU25QnlG+o5zEdXz+/AL8ha8NLnxtcOFrgwtfG1z42uDC1wYXvja48LXBha8NLnxtcOFrgwtfG1z42uDC1wYXvjb4f/hrg9nPD7z0UZ8sxGY+iT6WrT6JCS2gPXf2Ylk1AguoZnCt9BbGl9N7oH8LuIWfOiycm+GZub/ynVfi3OwlEppPE8NskKN98vOOhfMLZ9r10zckn/18clfOpz7f/HxP+T7Shz7Vpq5T16pN6kp1lepUL1Lb1NXzqc8733neT3TmsK3nrCeGaRMjthw08+fmsG36venlH7J4Hp6l0C8VO7Jk3vws7q/Nm7/SN3+1vI/LK/3/y1O0mH5K53l9mzqVr1AyY2SLTilfnrCkVzsnlbsnktOqnY0W5U5qR+MUVjbRFBonn3IbHUTjIG+LlC+vPiaAifikagvobyIN7RCaQmO4Mjl2ogn6mybSMoX4ayLJKZLvs5GqmhgwYbFWtzemK1cQUzzKENnJphxAvxi9G30++l6lD5VC2OmcSLZUH4K+BpA3KBkoQzalUcmkavTNSg7lSrJQJCmmJxQpKatujFeaFKskSVYSUY9silkxRapt2glF/NmwU7lhIm6RsO+GiCWj+hnlOsVE6aA6BKosW/IzSjxVoomVdE7EJVYfbkxQOrHMTrjFpoj/rH+fvDqVoQgEQV+LkkeZmLtcyacM9K3K4kiGbeqEcrsk+zshBfrWRcwrRDeRmFQ91RiniL8HCCu3wuO3Sm2HJ4pWVVNjkVJCVYr4EwlNOQjooPjP4soooFGEaRShGUVoRmHFKBkR+RsxcyNoKpUrya+M0GG0+wCrEJkRgQePSWBpSfUxJVuxwhOWE/AdAzZnIi5JWGaNpKZJMutEQlJ1wzNKgLagcRgfnMiyVvtOKGVyKcsmrLmCwR+JS4DrsmKxAGOmiMEzSp6yWHoiX3og3GjDmFGyYiPGf8BPCe/wl/mPRXzFT/rI/h/1/kW9/2Gsj07xUxPQ4pzk/yz60415/A0I28VfpfsAcX6CP4+jxsZ/zieFFfxn/Bg1oH8F4z70x9CvQH88UvA92ySfnEAH2++JJGaKxfLnI45KHbAV6kBWrg6kZlY3FvLn+LOUBxE/Rb8U/bN8ipagP4nein6KB+l76J/gtbQW/VG9/w5/WuQ0f4o/iTPTxiciScKEcMQkuiMRo+i+FaHYqL3S9jT/Fn+cckD6zUhRDrCPTBQttSWfgDzGH+TBSL4ttTGe38+62LsgGqNXRE+p/IFInRByOPK0ZjvGD/PDTmuds9BZ7nxIqSqsKq96SNEKtXKtTntIa7TwW8kA52HD8ptwxfnMkT1oTrTD/MaIWhduPIs1iXVxOoTrmIR6cPVLiHC1zM6+I6EGfh1tQeOQcQDtINohtKtIxfVKtM+ifQ7t8xITRAuhjaB8+MHhB4cfHH7J4QeHHxx+cPglh19qD6EJjh5w9ICjBxw9kqMHHD3g6AFHj+QQ9vaAo0dytIOjHRzt4GiXHO3gaAdHOzjaJUc7ONrB0S45nOBwgsMJDqfkcILDCQ4nOJySwwkOJzickqMKHFXgqAJHleSoAkcVOKrAUSU5qsBRBY4qyaGBQwOHBg5Ncmjg0MChgUOTHBo4NHBoksMCDgs4LOCwSA4LOCzgsIDDIjksMj4hNMFxGhynwXEaHKclx2lwnAbHaXCclhynwXEaHKf5yLhyqvEFsJwCyymwnJIsp8ByCiynwHJKspwCyymwnNKXHpTO4EibA2gH0Q6hCd4p8E6Bdwq8U5J3SqZXCE3whsERBkcYHGHJEQZHGBxhcIQlRxgcYXCEJccYOMbAMQaOMckxBo4xcIyBY0xyjMnEDaEJjr89Kf/m0PCrWJcZhys/xEplf5Delv0BekX2n6dx2X+OHpL9Z+lq2V9JdbIfoSLZQ57sg2Qzs4itLrkxEyVgC9ouNB/afWhH0E6imST0EtpraFFe61yiJpu2mO4zHTGdNBmOmE6beLJxi/E+4xHjSaPhiPG0kWuNuTxR1lGUFvqivB7E9fdoOERwbZBQA6+B3hrU2Vq8a3iNM+WM9vsy9lIZO1nGjpSxL5axxjh+MVNlpcOdPofhrMuZULTO9gpaXVHxOlSmW598O8sWKVppm2RPx7pSpwP922jjaA+hXY1Wh1aNVo5WiGaTuDLQdzmX6CKfRitGK0DThArKzMTdTWqK2XmMJ7KHJl5IpDihp7gEfCcixVXoJiPFW9A9FSnutTXGsSepWNwGsScQucfRH4nYXsf0N2PdNyK2E+geidhq0O2MFFeguzRS/KKtMZFtJ5sqWDv1vgPrFv22iO0SkG2N2ErROSLFRYK6DIoKMVvKuuh19IU619KYJnvEthbdkohttaA2U7EIPDNSuTTPgCZ6ZQIG/f4Y61KZc5HtjO1229tg/x0ci/T4mTaponupcJJd4oy3PV3+VRA32iKN8YIe58O43odF/4TtocIbbfdAFit80na3rcJ2a/mkGehbYPeNUkXEdrU2yR93ptkO2apswfLXbQHbJ2wu2zbbzkLgI7bLbE8LM6mbdfHHn7S1Q+BGrKIwYru4cFKa2Grbb3Paim2rtaeFf2lVTG5d+dPCA1Qd074M/i0rnBQ5vr1ukqU4y0zvmA6bLjWtN6012U1LTItN+aZ0c6rZYk4yJ5jjzWaz0ayauZnM6eLnHRzizyvTjeKv18moiqsqYQsXVx77S1POzJw+QeE0pY23daxnbeEpN7X1auH3OuyTLH7rjrDBvp6FU9uorXN9eJWjbdIU3Rauc7SFTe2Xdo0zdms3sGF+wySjzq5JFhWo63LFD1GNM7rultxjxFj2dbd0d5M1c1+DtSF1Xcrq1ubzXHr0q2PuZZ0P5ofvauvoCj+W3x2uFkA0v7stfJX4mapjPJkntjQf40mi6+46pvp5css2gVf9zd0ge12SIZuTQEbFogOZeT1pggz1ZL0gQ4xidEVgB12B6EAXn0hFkq4oPlHSqUzQjb+itTSPa5qkKSR6RdK8UkjzaJAx4G0eLyqSVHaNdQkq1mXXpGGlUpDNBpJymyTBk5tNCrIxqSxcOUdSqJPUzpLUSl0Km6OxxWjSS2Zo0ktA4/gfvjzrHWxieejA8+KXv3rsLR60nvBN+/qt4UO9mjZ+IKT/JFhRT6+7X/QuTzhk9zSHD9ibtfHlz59n+nkxvdzePE7Pt3R2jT/v9DRHljuXt9hdzd0TDfVdjQt03Tirq6v+PMLqhbAuoauh8TzTjWK6QehqFLoaha4GZ4PU1eIVed/eNW6m9eJ3QWQ/wRfFI4d7cgu612da/OtEQh9bW2A9kHtcJfYILXJ0hxPs68OJaGKqvLG8UUxhn4mpJPHzbvqU9cDagtzj7BF9ygJ0in09zbiWBFFbuHZrW7igY0eXSJWw03X+mAXES05bqcXbjH8YB2XDez4lBc77Cp7vFQqFAuIScuApuS1c1tEWXrkVlphMUNXT3A1cxQxOUSRuPC6uZTI6hUkHjGBBoU5ADiZ+I8AZj6cuEx8zjpm4eFQITuTkV/uewQl+EA3PcXwkUimfl/nIxJJC8fwSnKisjfV4PhV9JKegWvwUQR1YRV8Y650p5QAOFx4uP1w3VjhWPlZnFD+08BCQtofEURqpfEihoCMw4wiAwW6K/XQB9N0fycuXiscE4HB0OwLyN17ow6526L8jA6fPOjagSw1I8cGZgMTwAYoRxyYdoRmmkM4iJ0OSRSr8P1jbNhMKZW5kc3RyZWFtCmVuZG9iagoKNiAwIG9iagoxMDgyNQplbmRvYmoKCjcgMCBvYmoKPDwvVHlwZS9Gb250RGVzY3JpcHRvci9Gb250TmFtZS9CQUFBQUErQXJpYWwtQm9sZE1UCi9GbGFncyA0Ci9Gb250QkJveFstNjI3IC0zNzYgMjAwMCAxMDExXS9JdGFsaWNBbmdsZSAwCi9Bc2NlbnQgOTA1Ci9EZXNjZW50IDIxMQovQ2FwSGVpZ2h0IDEwMTAKL1N0ZW1WIDgwCi9Gb250RmlsZTIgNSAwIFI+PgplbmRvYmoKCjggMCBvYmoKPDwvTGVuZ3RoIDI3Mi9GaWx0ZXIvRmxhdGVEZWNvZGU+PgpzdHJlYW0KeJxdkc9uhCAQxu88BcftYQNadbuJMdm62cRD/6S2D6AwWpKKBPHg2xcG2yY9QH7DzDf5ZmB1c220cuzVzqIFRwelpYVlXq0A2sOoNElSKpVwe4S3mDpDmNe22+JgavQwlyVhbz63OLvRw0XOPdwR9mIlWKVHevioWx+3qzFfMIF2lJOqohIG3+epM8/dBAxVx0b6tHLb0Uv+Ct43AzTFOIlWxCxhMZ0A2+kRSMl5RcvbrSKg5b9cskv6QXx21pcmvpTzLKs8p8inPPA9cnENnMX3c+AcOeWBC+Qc+RT7FIEfohb5HBm1l8h14MfIOZrc3QS7YZ8/a6BitdavAJeOs4eplYbffzGzCSo83zuVhO0KZW5kc3RyZWFtCmVuZG9iagoKOSAwIG9iago8PC9UeXBlL0ZvbnQvU3VidHlwZS9UcnVlVHlwZS9CYXNlRm9udC9CQUFBQUErQXJpYWwtQm9sZE1UCi9GaXJzdENoYXIgMAovTGFzdENoYXIgMTEKL1dpZHRoc1s3NTAgNzIyIDYxMCA4ODkgNTU2IDI3NyA2NjYgNjEwIDMzMyAyNzcgMjc3IDU1NiBdCi9Gb250RGVzY3JpcHRvciA3IDAgUgovVG9Vbmljb2RlIDggMCBSCj4+CmVuZG9iagoKMTAgMCBvYmoKPDwKL0YxIDkgMCBSCj4+CmVuZG9iagoKMTEgMCBvYmoKPDwvRm9udCAxMCAwIFIKL1Byb2NTZXRbL1BERi9UZXh0XT4+CmVuZG9iagoKMSAwIG9iago8PC9UeXBlL1BhZ2UvUGFyZW50IDQgMCBSL1Jlc291cmNlcyAxMSAwIFIvTWVkaWFCb3hbMCAwIDU5NSA4NDJdL0dyb3VwPDwvUy9UcmFuc3BhcmVuY3kvQ1MvRGV2aWNlUkdCL0kgdHJ1ZT4+L0NvbnRlbnRzIDIgMCBSPj4KZW5kb2JqCgoxMiAwIG9iago8PC9Db3VudCAxL0ZpcnN0IDEzIDAgUi9MYXN0IDEzIDAgUgo+PgplbmRvYmoKCjEzIDAgb2JqCjw8L1RpdGxlPEZFRkYwMDQ0MDA3NTAwNkQwMDZEMDA3OTAwMjAwMDUwMDA0NDAwNDYwMDIwMDA2NjAwNjkwMDZDMDA2NT4KL0Rlc3RbMSAwIFIvWFlaIDU2LjcgNzczLjMgMF0vUGFyZW50IDEyIDAgUj4+CmVuZG9iagoKNCAwIG9iago8PC9UeXBlL1BhZ2VzCi9SZXNvdXJjZXMgMTEgMCBSCi9NZWRpYUJveFsgMCAwIDU5NSA4NDIgXQovS2lkc1sgMSAwIFIgXQovQ291bnQgMT4+CmVuZG9iagoKMTQgMCBvYmoKPDwvVHlwZS9DYXRhbG9nL1BhZ2VzIDQgMCBSCi9PdXRsaW5lcyAxMiAwIFIKPj4KZW5kb2JqCgoxNSAwIG9iago8PC9BdXRob3I8RkVGRjAwNDUwMDc2MDA2MTAwNkUwMDY3MDA2NTAwNkMwMDZGMDA3MzAwMjAwMDU2MDA2QzAwNjEwMDYzMDA2ODAwNkYwMDY3MDA2OTAwNjEwMDZFMDA2RTAwNjkwMDczPgovQ3JlYXRvcjxGRUZGMDA1NzAwNzIwMDY5MDA3NDAwNjUwMDcyPgovUHJvZHVjZXI8RkVGRjAwNEYwMDcwMDA2NTAwNkUwMDRGMDA2NjAwNjYwMDY5MDA2MzAwNjUwMDJFMDA2RjAwNzIwMDY3MDAyMDAwMzIwMDJFMDAzMT4KL0NyZWF0aW9uRGF0ZShEOjIwMDcwMjIzMTc1NjM3KzAyJzAwJyk+PgplbmRvYmoKCnhyZWYKMCAxNgowMDAwMDAwMDAwIDY1NTM1IGYgCjAwMDAwMTE5OTcgMDAwMDAgbiAKMDAwMDAwMDAxOSAwMDAwMCBuIAowMDAwMDAwMjI0IDAwMDAwIG4gCjAwMDAwMTIzMzAgMDAwMDAgbiAKMDAwMDAwMDI0NCAwMDAwMCBuIAowMDAwMDExMTU0IDAwMDAwIG4gCjAwMDAwMTExNzYgMDAwMDAgbiAKMDAwMDAxMTM2OCAwMDAwMCBuIAowMDAwMDExNzA5IDAwMDAwIG4gCjAwMDAwMTE5MTAgMDAwMDAgbiAKMDAwMDAxMTk0MyAwMDAwMCBuIAowMDAwMDEyMTQwIDAwMDAwIG4gCjAwMDAwMTIxOTYgMDAwMDAgbiAKMDAwMDAxMjQyOSAwMDAwMCBuIAowMDAwMDEyNDk0IDAwMDAwIG4gCnRyYWlsZXIKPDwvU2l6ZSAxNi9Sb290IDE0IDAgUgovSW5mbyAxNSAwIFIKL0lEIFsgPEY3RDc3QjNEMjJCOUY5MjgyOUQ0OUZGNUQ3OEI4RjI4Pgo8RjdENzdCM0QyMkI5RjkyODI5RDQ5RkY1RDc4QjhGMjg+IF0KPj4Kc3RhcnR4cmVmCjEyNzg3CiUlRU9GCg==","created_at":"2022-10-16T10:12:02.872Z","requested_by":{"type":"user","id":"00000000-0000-0000-0000-000000000001"}}},"attachments":{"type":"array","items":{"$ref":"#/components/schemas/attachment"}},"call":{"type":"object","required":["call_id","created_at","call_status","direction","from_number","to_number","topic","recording_url","call_duration"],"properties":{"call_id":{"type":"string","description":"The identifier of the call."},"created_at":{"type":"string","format":"date-time","description":"Time at which the call was logged."},"call_status":{"type":"string","description":"Either `initiated`, `ringing`, `in-progress`, `completed`, `busy` or `no-answer`."},"direction":{"type":"string","description":"Either `inbound` or `outbound`."},"from_number":{"type":"string","description":"The iniating number of the call."},"to_number":{"type":"string","description":"The receiving number of the call."},"topic":{"type":"string","description":"Either `claims`, `complaints` or `general`."},"recording_url":{"type":"string","description":"`null` is allowed. The URL of the recording of the call. This will be available if the call successfully connected and only once the call is completed.","nullable":true},"call_duration":{"oneOf":[{"type":"integer"},{"type":"string"}],"description":"`null` is allowed. The duration of the call in seconds."}},"example":{"call_id":"d3d13c48-4dc3-4816-8d01-de3215878225","created_at":"2017-10-16T10:12:02.872Z","policyholder_id":"8349345c-a6c5-4bf9-8ebb-6bbfc1628715","claim_id":"673b8081-9668-4136-97cc-6ae0debda083","call_status":"completed","direction":"outbound","from_number":"0721234567","to_number":"0821234567","topic":"general","recording_url":"https://sandbox.root.co.za/v1/files/download/ccbd249e-a404-11ea-8f4a-47e769474b83/Recording0001.mp3","created_by":{"id":"00000000-0000-0000-0000-000000000001","type":"user"}}},"calls":{"type":"array","items":{"$ref":"#/components/schemas/call"}},"claim":{"type":"object","required":["claim_id","created_at","claim_status","approval_status","requested_amount","created_by"],"properties":{"claim_id":{"type":"string","description":"The identifier of the claim."},"created_at":{"type":"string","format":"date-time","description":"Time at which the claim was opened."},"policy_id":{"type":"string","description":"The identifier of the policy attached to this claim. May initially be omitted."},"policyholder_id":{"type":"string","description":"The identifier of the policyholder for this claim. May initially be omitted."},"member_id":{"type":"string","description":"The identifier of the member for this claim. Only used for group scheme policies. May initially be omitted."},"covered_item_id":{"type":"string","description":"The identifier of the covered item that this claim is against. If opened against a policy that supports covered items, this is required."},"claim_status":{"type":"string","description":"Whether the claim is 'open', 'closed', 'finalized' or 'acknowledged'."},"approval_status":{"type":"string","description":"Whether the claim has been 'approved' or 'repudiated', has been approved 'goodwill', is a 'no-claim' or whether a decision is still 'pending'."},"app_data":{"type":"object","description":"`null` is allowed. An object containing additional custom data for the claim.","nullable":true,"additionalProperties":true},"requested_amount":{"type":"integer","description":"`null` is allowed. The requested payout amount (in cents) for the claim.","nullable":true},"granted_amount":{"type":"integer","description":"`null` is allowed. The granted payout amount (in cents) for the claim.","nullable":true},"created_by":{"type":"object","description":"`null` is allowed. An object indicating the user or API key that created the claim. See [Authentication](#client-apps).","nullable":true}},"example":{"claim_id":"d3d13c48-4dc3-4816-8d01-de3215878225","created_at":"2017-10-16T10:12:02.872Z","policy_id":"8349345c-a6c5-4bf9-8ebb-6bbfc1628715","member_id":"673b8081-9668-4136-97cc-6ae0debda083","covered_item_id":"9dc39b57-cdc7-48f9-a303-d7c4f0421a0c","claim_status":"open","app_data":{"key1":"value 1","key2":"value 2"},"approval_status":"pending","requested_amount":13000000,"granted_amount":9400000,"created_by":{"id":"00000000-0000-0000-0000-000000000001","type":"user"}}},"claims":{"type":"array","items":{"$ref":"#/components/schemas/claim"}},"complaint":{"type":"object","required":["complaint_id","created_at","complaint_status","app_data","created_by"],"properties":{"complaint_id":{"type":"string","description":"The identifier of the complaint."},"created_at":{"type":"string","format":"date-time","description":"Time at which the complaint was opened."},"policy_id":{"type":"string","description":"The identifier of the policy attached to this complaint. May initially be omitted."},"policyholder_id":{"type":"string","description":"The identifier of the policyholder for this complaint. May initially be omitted."},"member_id":{"type":"string","description":"The identifier of the member for this complaint. Only used for group scheme policies. May initially be omitted."},"complaint_status":{"type":"string","description":"Whether the complaint is 'open' or 'closed'."},"app_data":{"type":"object","description":"`null` is allowed. An object containing additional custom data for the complaint.","nullable":true,"additionalProperties":true},"created_by":{"type":"object","description":"`null` is allowed. An object indicating the user or API key that created the complaint. See [Authentication](#client-apps).","nullable":true},"complainant":{"type":"object","description":"Object containing complainant's first name, last name, email and/or cellphone.","properties":{"first_name":{"type":"string","description":"The first name of the complainant."},"last_name":{"type":"string","description":"The last name of the complainant."},"email":{"type":"string","description":"The complainant's email address."},"cellphone":{"oneOf":[{"$ref":"#/components/schemas/cellphone"},{"$ref":"#/components/schemas/cellphone-string"}]}},"required":["first_name","last_name","email","cellphone"]}},"example":{"complaint_id":"acd6c4af-108e-444d-a90f-e90b67786c74","created_at":"2017-10-16T10:12:02.872Z","policy_id":"8349345c-a6c5-4bf9-8ebb-6bbfc1628715","policyholder_id":"3c74e595-48bc-4dd6-8ac7-2dee1c1f397b","member_id":"673b8081-9668-4136-97cc-6ae0debda083","complaint_status":"open","complainant":{"first_name":"Elrich","last_name":"Aviato","cellphone":"+27821234567","email":"elrich@aviato.com"},"app_data":{"key1":"value 1","key2":"value 2"},"created_by":{"id":"00000000-0000-0000-0000-000000000001","type":"user"}}},"complaints":{"type":"array","items":{"$ref":"#/components/schemas/complaint"}},"daily-frequency":{"type":"object","required":["time_of_day"],"properties":{"time_of_day":{"type":"string","description":"The time of day to run the export, in `HH:mm` format."}}},"data-export-run-log-item":{"type":"object","required":["data_export_run_id","created_at","level","content"],"properties":{"data_export_run_id":{"type":"string","description":"Must be a UUID. The unique identifier of the data export run."},"created_at":{"type":"string","format":"date-time","description":"The time at which the data export run was created."},"level":{"type":"string","description":"The level of the log item. One of `info`, `warn`, or `error`."},"content":{"type":"string","description":"The log item text."}},"example":{"data_export_run_id":"34233912-c91f-4dc9-bfed-c10d16be26af","created_at":"2019-03-09T08:07:59.075Z","level":"info","content":"Creating policy export file"}},"data-export-run-log-items":{"type":"array","items":{"$ref":"#/components/schemas/data-export-run-log-item"}},"data-export-run":{"type":"object","required":["data_export_run_id","scheduled_data_export_id","created_at","status"],"properties":{"data_export_run_id":{"type":"string","description":"Must be a UUID. The unique identifier of the data export run."},"scheduled_data_export_id":{"type":"string","description":"Must be a UUID. The unique identifier of the scheduled data export that the run belongs to."},"created_at":{"type":"string","format":"date-time","description":"The time at which the data export run was created."},"completed_at":{"type":"string","format":"date-time","description":"The time at which the data export run completed."},"status":{"type":"string","description":"The current status of the data export run. One of `in_progress`, `failed`, or `complete`."},"file_id":{"type":"string","description":"The file created during the run, if successful.","nullable":true}},"example":{"data_export_run_id":"34233912-c91f-4dc9-bfed-c10d16be26af","scheduled_data_export_id":"4ab082f2-864e-4bcf-bc17-75664a25f2e1","created_at":"2019-03-09T08:07:59.044Z","completed_at":"2019-03-09T08:08:02.178Z","status":"complete","file_id":"74ce9562-4242-11e9-904a-7b14ba20f082"}},"data-export-runs":{"type":"array","items":{"$ref":"#/components/schemas/data-export-run"}},"data-store-entity":{"type":"object","required":["data_store_entity_id","organization_id","data","created_by","created_at","updated_at","updated_by","data_store"],"properties":{"data_store_entity_id":{"type":"string","description":"Must be a UUID. The unique identifier of the data store entity."},"organization_id":{"type":"string","description":"Must be a UUID. The unique identifier of the organization the data store belongs to."},"data":{"type":"object","description":"The data store data."},"created_by":{"type":"object","description":"An object indicating the user or API key that created the data store entity."},"created_at":{"type":"string","format":"date-time","description":"The time at which the data entity store entity was created."},"updated_at":{"type":"string","format":"date-time","description":"The time at which the data store entity was last updated."},"updated_by":{"type":"object","description":"An object indicating the user or API key that last updated the data store entity."},"data_store":{"$ref":"#/components/schemas/data-store"}},"example":{"data_store_entity_id":"424312b7-6d8f-424f-bf3e-af1384444424","organization_id":"952bfef5-7517-47ff-bf41-08c5a66c52db","data":{"name":"Apple iPhone X","price":1000000},"created_by":{"type":"api_key","id":"420df14d-b09d-4d89-84a8-8e3118c9ca23","owner_id":"00000000-0000-0000-0000-000000000001"},"created_at":"2021-01-28T10:00:24.809Z","updated_at":"2021-01-28T10:00:24.809Z","updated_by":{"type":"api_key","id":"420df14d-b09d-4d89-84a8-8e3118c9ca23","owner_id":"00000000-0000-0000-0000-000000000001"},"data_store":{"data_store_id":"6e91fe74-aa56-4b4e-8f68-636d23d5706f","key":"devices","schema":{"type":"object","async":true,"required":["name","price"],"properties":{"name":{"type":"string"},"price":{"type":"number"}}},"description":"Devices data store","name":"devices","updated_at":"2021-01-28T10:00:17.773Z","updated_by":{"type":"api_key","id":"420df14d-b09d-4d89-84a8-8e3118c9ca23","owner_id":"00000000-0000-0000-0000-000000000001"}}}},"data-store-entities":{"type":"array","items":{"$ref":"#/components/schemas/data-store-entity"}},"data-store":{"type":"object","required":["data_store_id","key","name","created_at","created_by","updated_at","updated_by","schema"],"properties":{"data_store_id":{"type":"string","description":"Must be a UUID. The unique identifier of the data store."},"key":{"type":"string","description":"The unique key of the data store."},"name":{"type":"string","description":"The name of the data store."},"description":{"type":"string","description":"The description of the data store."},"created_at":{"type":"string","format":"date-time","description":"The time at which the data store was created."},"created_by":{"type":"object","description":"An object indicating the user or API key that created the data store. See [Authentication](#client-apps)."},"updated_at":{"type":"string","format":"date-time","description":"The time at which the data store was created."},"updated_by":{"type":"object","description":"An object indicating the user or API key that created the data store. See [Authentication](#client-apps)."},"schema":{"type":"object","description":"An object for which the the schema for data store entities will be base off of.","properties":{"required":{"type":"array","items":{"type":"string"},"description":"The keys from the data store properties that are mandatory, when creating data store entities."},"properties":{"type":"object","description":"The data to which the data store columns are created from. See below for more details."}},"required":["required","properties"]}},"example":{"data_store_id":"6e91fe74-aa56-4b4e-8f68-636d23d5706f","organization_id":"952bfef5-7517-47ff-bf41-08c5a66c52db","key":"devices","name":"Devices","description":"Devices data store","schema":{"async":true,"type":"object","properties":{"name":{"type":"string"},"price":{"type":"number"}},"required":["name","price"]},"created_by":{"type":"api_key","id":"313f7511-c16a-4fdb-ba49-25a80a9b571c","owner_id":"da20903b-7f0d-4318-96bd-6df78514e2fd"},"created_at":"2021-01-29T13:12:00.968Z","updated_by":{"type":"api_key","id":"313f7511-c16a-4fdb-ba49-25a80a9b571c","owner_id":"da20903b-7f0d-4318-96bd-6df78514e2fd"},"updated_at":"2021-01-29T13:12:00.968Z"}},"data-stores":{"type":"array","items":{"$ref":"#/components/schemas/data-store"}},"fulfillment-request":{"type":"object","required":["fulfillment_request_id","fulfillment_type_id","policy_id","claim_id","status","fulfillment_data","created_at","created_by","environment"],"properties":{"fulfillment_request_id":{"type":"string","description":"Must be a UUID. The fulfillment request ID."},"fulfillment_type_id":{"type":"string","description":"Must be a UUID. The fulfillment type ID."},"policy_id":{"type":"string","description":"Must be a UUID. The ID of the policy linked to the claim."},"claim_id":{"type":"string","description":"Must be a UUID. The ID of the claim linked to the fulfillment request."},"status":{"type":"string","enum":["pending","rejected","successful"],"description":"A string indicating the status of the fulfillment request."},"fulfillment_data":{"type":"object","description":"The fulfillment data as specified in the fulfillment type."},"created_at":{"type":"string","format":"date-time","description":"The time at which the fulfillment request was created."},"created_by":{"type":"object","description":"An object indicating the user or API key that created the fulfillment request. See [Authentication](https://docs.rootplatform.com/reference/getting-started-1#created_by-field).","nullable":true},"environment":{"type":"string","enum":["sandbox","production"],"description":"Whether the payout request was created in Root's sandbox or production environment."},"finalized_at":{"type":"string","format":"date-time","description":"The time at which the fulfillment request was finalized."},"finalized_by":{"type":"object","description":"An object indicating the user or API key that finalized the fulfillment request. See [Authentication](https://docs.rootplatform.com/reference/getting-started-1#created_by-field)."}},"example":{"fulfillment_request_id":"8f8b3469-82e9-4d5b-bcc5-f200af095a79","fulfillment_type_id":"ad044686-6b6f-4ce6-878f-143039243f11","policy_id":"2800a20b-ce92-4463-a0de-75cd76d8bf22","claim_id":"80f8e67a-15e5-417c-9d29-dfc31a5b92bb","status":"pending","fulfillment_data":{"amount":"100000","customer_account_number":"02870611321"},"created_at":"2022-06-07T12:52:55.014Z","created_by":{"type":"user","id":"99ff4c56-577c-11e9-b47c-a3d0f3abd20c"},"environment":"sandbox"}},"https-adapter":{"type":"object","required":["type","url"],"properties":{"type":{"type":"string","description":"The type of adapter. In this case, `https`."},"url":{"type":"string","description":"The HTTPS URL to send the export file to."},"headers":{"type":"string","description":"The HTTP headers for the request."},"batch_size":{"type":"integer","description":"The number of entities to include per request, if streaming is disabled. Defaults to `10000` if not provided."},"stream_request":{"type":"boolean","description":"Indicates whether the request should be batched (`false`) or streamed in one request (`true`)."}}},"lead":{"type":"object","required":["lead_id","type","first_name","last_name","created_at","created_by"],"properties":{"lead_id":{"type":"string","description":"Must be a UUID. The unique identifier of the lead."},"type":{"type":"string","description":"The lead's entity type, either `individual` or `company`."},"id":{"type":"object","description":"`null` is allowed. Object containing the lead's identification number, type and country.","properties":{"type":{"type":"string","description":"Either `id` or `passport`."},"number":{"type":"string","description":"The ID or passport number."},"country":{"type":"string","description":"The [ISO Alpha-2](http://www.nationsonline.org/oneworld/country_code_list.htm) country code of the country of the id/passport number."},"expiration_date":{"type":"string","format":"date-time","description":"`null` is allowed. The expiration date of the lead's passport.","nullable":true}},"required":["type","number","country"],"nullable":true},"date_of_birth":{"type":"string","format":"date","description":"`null` is allowed. The lead's date of birth.","nullable":true},"gender":{"type":"string","description":"`null` is allowed. The lead's gender (`male` or `female`).","nullable":true},"first_name":{"type":"string","description":"The lead's legal first name."},"middle_name":{"type":"string","description":"`null` is allowed. The lead's legal middle name.","nullable":true},"last_name":{"type":"string","description":"The lead's legal last name."},"email":{"type":"string","description":"`null` is allowed. The lead's contact email address.","nullable":true},"cellphone":{"type":"string","description":"`null` is allowed. The lead's contact cellphone number.","nullable":true},"phone_other":{"type":"string","description":"`null` is allowed. The lead's alternative phone number.","nullable":true},"created_at":{"type":"string","format":"date-time","description":"The time at which the lead was created."},"updated_at":{"type":"string","format":"date-time","description":"The time at which the lead was updated."},"updated_by":{"type":"object","description":"An object indicating the user or API key that updated the lead. See [Authentication](#client-apps)."},"app_data":{"type":"object","description":"`null` is allowed. An object containing additional custom data for the lead.","nullable":true,"additionalProperties":true},"created_by":{"type":"object","description":"An object indicating the user or API key that created the lead. See [Authentication](#client-apps)."},"address":{"type":"object","description":"`null` is allowed. The lead's physical address. See below for more details.","properties":{"line_1":{"type":"string","description":"First line of the lead's address."},"line_2":{"type":"string","description":"`null` is allowed. Optional second line of the lead's address.","nullable":true},"suburb":{"type":"string","description":"The lead's suburb."},"city":{"type":"string","description":"The lead's city."},"country":{"type":"string","description":"The lead's country code, in the [ISO Alpha-2](http://www.nationsonline.org/oneworld/country_code_list.htm) format."},"area_code":{"type":"string","description":"The lead's area code, must be 4 characters long."}},"required":["line_1","suburb","city","country","area_code"],"nullable":true}},"example":{"lead_id":"bf1ada91-eecb-4f47-9bfa-1258bb1e0055","type":"individual","first_name":"Erlich","middle_name":"Aviato","last_name":"Bachman","id":{"type":"id","number":"6801015800084","country":"ZA"},"date_of_birth":"1968-01-01","gender":"male","email":"erlich@aviato.com","cellphone":null,"phone_other":null,"created_at":"2017-10-12T15:47:34.281Z","app_data":{"company":"Aviato"},"created_by":{"id":"00000000-0000-0000-0000-000000000001","type":"user"},"address":{"line_1":"5230 Penfield Avenue","suburb":"Woodland Hills","city":"Los Angeles","country":"US","area_code":"CA 91364"}}},"leads":{"type":"array","items":{"$ref":"#/components/schemas/lead"}},"monthly-frequency":{"type":"object","required":["time_of_day","day_of_month"],"properties":{"time_of_day":{"type":"string","description":"The time of day to run the export, in `HH:mm` format."},"day_of_month":{"type":"integer","description":"The day of month to run the export on, from `1` to `31`. *Note:* if the day of month falls after month end (i.e., on the 31st in a month with only 30 days), the export will be run on the last day of the month."}}},"note":{"type":"object","required":["text","created_at"],"properties":{"text":{"type":"string","description":"A string of text for the note."},"created_at":{"type":"string","format":"date-time","description":"Time at which the attachment was created."}},"example":{"text":"Customer spoke to Erlich previously","created_at":"2022-10-16T10:12:02.872Z","requested_by":{"type":"user","id":"00000000-0000-0000-0000-000000000001"}}},"notes":{"type":"array","items":{"$ref":"#/components/schemas/note"}},"notification-data":{"type":"object","description":"An object containing additional data depending on whether the notification channel is `email`, `sms`, or `other`.","oneOf":[{"$ref":"#/components/schemas/notification-email-data"},{"$ref":"#/components/schemas/notification-sms-data"},{"$ref":"#/components/schemas/notification-other-data"}]},"notification-email-data":{"type":"object","required":["subject","html","attachments","to"],"properties":{"from_email":{"type":"string","description":"Email address of who sent the email notification."},"from_name":{"type":"string","description":"Name of who sent the email notification."},"reply_to_email":{"type":"string","description":"Recipient of who to respond to for the email notification."},"subject":{"type":"string","description":"Email subject."},"html":{"type":"string","description":"The HTML structure of the email body."},"attachments":{"type":"array","description":"An array of objects containing a list of `type` and `name` pairs for the attachments on the email notification.","items":{"type":"object","properties":{"type":{"type":"string","description":"Whether the file is a document or image."},"name":{"type":"string","description":"The name of the file"}}}},"to":{"type":"array","description":"An array of objects containing a list of `email` and `name` pairs of the recipients of the email notification.","items":{"type":"object","properties":{"email":{"type":"string","description":"The desired recipient's email."},"name":{"type":"string","description":"The recipient's name."}}}}}},"notification":{"type":"object","required":["notification_id","notification_type","linked_entities","channel","provider","created_at","created_by","status","status_updates"],"properties":{"notification_id":{"type":"string","description":"The identifier of the notification."},"organization_id":{"type":"string","description":"The identifier of the organization."},"notification_type":{"type":"string","description":"Indicates the type of notification (e.g., policy_issued)."},"linked_entities":{"type":"object","description":"Indicates which entities the notification is linked to.","properties":{"policy_id":{"type":"string","description":"The identifier of the policy."}}},"channel":{"type":"string","description":"The channel used for the notification. Channels available include `email`, `sms` or `other`."},"provider":{"type":"string","description":"Indicates how the notification was generated. Whether it was `external`, `root_standard` or `root_webhooks`."},"created_at":{"type":"string","format":"date-time","description":"Time at which the notification was created."},"created_by":{"type":"object","description":"An object indicating the user or API key that created the notification. See [Authentication](#client-apps)."},"status":{"type":"string","description":"The current status of the notification.","enum":["queued","sent","delivered","rejected","opened","unknown_error"]},"status_updates":{"type":"array","description":"An array of status update information for the notification.","items":{"type":"object","properties":{"status":{"type":"string","description":"The status that the notification was updated to.","enum":["queued","sent","delivered","rejected","opened","unknown_error"]},"createdAt":{"type":"string","format":"date-time","description":"Time at which the status update was created."},"description":{"type":"string","description":"An optional detailed description of the status update."}},"required":["status","createdAt"]}},"data":{"$ref":"#/components/schemas/notification-data"}},"example":{"notification_id":"43c13dc8-2c19-402c-bb70-a7deb56b9f38","organization_id":"4ce6ad99-9576-4d28-84ba-c30d2d536cbe","channel":"sms","notification_type":"policy_issued","provider":"root_clickatell","created_at":"2022-06-23T07:59:53.261Z","created_by":{"type":"user","id":"6f852057-b381-4ab0-a53d-93a6c2ec6f26"},"status":"delivered","status_updates":[{"status":"queued","createdAt":"2022-06-23T07:59:53.261Z"},{"status":"sent","createdAt":"2022-06-23T07:59:54.000Z","description":"Delivered to gateway (003)"},{"status":"delivered","createdAt":"2022-06-23T07:59:57.000Z","description":"Received by recipient (004)"}],"linked_entities":{"policy_id":"b338a75b-207e-4b6c-8649-4c0ebfe39d8b","policyholder_id":"b5b10383-0b50-4965-8bff-addb2001c5d1"},"data":{"to":["+27811231234"],"content":"Congratulations! Your  Cover has been activated from 01/06/2022."}}},"notifications":{"type":"array","items":{"$ref":"#/components/schemas/notification"}},"notification-other-data":{"type":"object","required":["to","content","content_type"],"properties":{"to":{"type":"string","description":"An array containing phone numbers that the notification was sent to."},"content":{"type":"string","description":"Content for the SMS notification."},"content_type":{"type":"string","description":"Whether it was `text` or `html`."},"app_data":{"type":"object","description":"`null` is allowed. An object containing additional custom data for the SMS notification.","nullable":true,"additionalProperties":true}}},"notification-sms-data":{"type":"object","required":["to","content","content_type"],"properties":{"to":{"type":"string","description":"An array containing phone numbers that the notification was sent to."},"content":{"type":"string","description":"Content for the SMS notification."},"content_type":{"type":"string","description":"Whether it was `text` or `html`."},"app_data":{"type":"object","description":"`null` is allowed. An object containing additional custom data for the SMS notification.","nullable":true,"additionalProperties":true}}},"custom-event-type":{"type":"string","description":"The type of custom event. Must match the type on the Root management dashboard.","enum":["policy","payment_method","payment","claim"]},"payment":{"type":"object","required":["payment_id","policy_id","payment_method_id","status","amount","created_at","created_by","updated_at","payment_date","action_date","billing_date","policy","policyholder","payment_method","payment_type","currency","retry_number","app_data","raw_response"],"properties":{"payment_id":{"type":"string","description":"Must be a UUID. The unique identifier of the payment."},"policy_id":{"type":"string","description":"Must be a UUID. The unique identified of the policy the payment is linked to."},"payment_method_id":{"type":"string","description":"Must be a UUID. The unique identifier of the payment method used to make the payment."},"status":{"$ref":"#/components/schemas/payment-status"},"amount":{"type":"number","description":"The payment amount as an integer in cents.","nullable":true},"description":{"type":"string","description":"Description of the payment."},"external_ref":{"type":"string","description":"Unique external reference of the payment.","nullable":true},"customer_ref":{"type":"string","description":"Customer reference for the payment.","nullable":true},"created_at":{"type":"string","format":"date-time","description":"The time at which the payment was created."},"created_by":{"type":"object","description":"An object indicating the user or API key that created the policyholder.","required":["type"],"properties":{"id":{"type":"string","description":"Unique identifier for the actor."},"type":{"$ref":"#/components/schemas/actor-type"},"owner_id":{"type":"string","description":"The related organisation's UUID."}}},"updated_at":{"type":"string","format":"date-time","description":"Date the payment was last updated."},"billing_date":{"type":"string","format":"date-time","description":"The customer's chosen payment date, as specified using the `billing_day` property on the policy."},"payment_date":{"type":"string","format":"date-time","description":"The target date for the payment to go off the customer’s card or bank account. Typically the same as `billing_date`, but may be earlier or later if `billing_date` falls on a bank holiday or Sunday."},"action_date":{"type":"string","format":"date-time","description":"The date that the system first attempts to collect the payment from the customer's card or bank account. Typically the same as the `payment_date`, but can be earlier for certain payment methods."},"payment_method":{"description":"`null` is allowed. The payment method used for the payment.","$ref":"#/components/schemas/payment-method","nullable":true},"payment_type":{"$ref":"#/components/schemas/payment-type"},"premium_type":{"$ref":"#/components/schemas/premium-type"},"app_data":{"type":"object","description":"`null` is allowed. An object containing additional custom data for the payment.","nullable":true,"additionalProperties":true},"failure_reason":{"type":"string","description":"The reason the payment failed.\n","nullable":true},"currency":{"type":"string","description":"Three-digit currency code for the payment. E.g. `ZAR` or `GBP`"},"retry_of":{"type":"string","description":"Must be a UUID. Only relevant for retry payments. Original payment id of the payment being retried."},"retry_number":{"type":"number","description":"`null` is allowed. Only relevant for retry payments. The number of times the payment has been retried (including the current retry payment).\n","nullable":true},"net_amount":{"type":"number","description":"Integer in cents. The payment amount net of any charges."},"finalized_at":{"type":"string","format":"date-time","description":"The date the payment update was finalized."},"finalized_by":{"type":"object","description":"`null` is allowed. An object indicating the user or API key that finalized the payment.","required":["type"],"properties":{"id":{"type":"string","description":"Unique identifier for the actor e.g. user"},"type":{"$ref":"#/components/schemas/actor-type"},"owner_id":{"type":"string","description":"The related organisation's UUID"}}},"collection_type":{"$ref":"#/components/schemas/collection-type"},"policyholder":{"description":"`null` is allowed. The policyholder linked to the payment.","$ref":"#/components/schemas/policyholder","nullable":true},"policy":{"description":"`null` is allowed. The policy the payment is linked to.","$ref":"#/components/schemas/policy","nullable":true},"charges":{"type":"array","description":"Whenever a premium payment is created (including reversals), a breakdown of the payment amount is calculated according to the charges stored on the policy.","items":{"type":"object","required":["type","name","description","amount","calculated"],"properties":{"type":{"$ref":"#/components/schemas/payment-charge-type"},"name":{"type":"string","description":"The name of the charge."},"description":{"type":"string","description":"The description of the charge."},"amount":{"type":"integer","description":"The charged amount. Required when type is `fixed` or `variable`. Either a proportion of the total premium (if `type` is `variable`), or a currency amount in cents (if `type` is `fixed`)."},"calculated":{"type":"integer","description":"The final calculated charge amount."}}}}},"example":[{"payment_id":"c9625104-c8da-45e2-972f-baf3037bce6b","policy_id":"07f9b73e-d16d-4a5a-8463-44ee62de4da3","payment_method_id":"ff80fa5b-6daf-4c3c-9ca1-bb442a796aa6","status":"failed","amount":100,"description":"monthly_premium","external_ref":"ExternalSystem00001","customer_ref":null,"created_at":"2022-10-28T14:17:21.441Z","created_by":{"type":"api_key","id":"312d8c45-eb3a-4f18-a952-c358fb94abdc","owner_id":"cb8a0648-9186-454d-bf1f-6d82b3b82894"},"updated_at":"2022-10-28T14:17:38.798Z","payment_date":"2022-10-26T00:00:00.000Z","action_date":"2022-10-26T00:00:00.000Z","billing_date":"2022-10-26T00:00:00.000Z","policy":null,"policyholder":null,"payment_method":null,"payment_type":"premium","premium_type":"recurring","failure_reason":"Account Closed","currency":"ZAR","retry_number":0,"finalized_at":"2022-10-28T14:17:38.798Z","finalized_by":{"type":"api_key","id":"312d8c45-eb3a-4f18-a952-c358fb94abdc","owner_id":"cb8a0648-9186-454d-bf1f-6d82b3b82894"},"collection_type":"debit_order_two_day","app_data":{},"charges":[],"raw_response":null}]},"payment-response":{"type":"object","properties":{"payment_id":{"type":"string","description":"Must be a UUID. The unique identifier of the payment."},"policy_id":{"type":"string","description":"Must be a UUID. The unique identifier of the policy linked to the payment."},"payment_method_id":{"type":"string","description":"Must be a UUID. The unique identifier of the payment method used to make the payment."},"status":{"$ref":"#/components/schemas/payment-status"},"amount":{"type":"number","description":"The payment amount as an integer in cents."},"description":{"type":"string","description":"Description of the payment."},"external_ref":{"type":"string","description":"Unique external reference of the payment."},"created_at":{"type":"string","format":"date-time","description":"The time at which the payment was created."},"created_by":{"type":"object","description":"An object indicating the user or API key that created the policyholder.","properties":{"id":{"type":"string","description":"Unique identifier for the actor."},"type":{"$ref":"#/components/schemas/actor-type"},"owner_id":{"type":"string","description":"The related organisation's UUID."}}},"updated_at":{"type":"string","format":"date-time","description":"Date the payment was last updated."},"payment_date":{"type":"string","format":"date-time","description":"The target date for the payment to go off the customer’s card or bank account. Typically the same as `billing_date`, but may be earlier or later if `billing_date` falls on a bank holiday or Sunday."},"action_date":{"type":"string","format":"date-time","description":"The date that the system first attempts to collect the payment from the customer's card or bank account. Typically the same as the `payment_date`, but can be earlier for certain payment methods."},"billing_date":{"type":"string","format":"date-time","description":"Date the payment should be processed."},"payment_method":{"description":"`null` is allowed. The payment method used for the payment.","$ref":"#/components/schemas/payment-method","nullable":true},"payment_type":{"$ref":"#/components/schemas/payment-type"},"premium_type":{"$ref":"#/components/schemas/premium-type"},"app_data":{"type":"object","description":"`null` is allowed. An object containing additional custom data for the payment.","nullable":true,"additionalProperties":true},"failure_reason":{"type":"string","description":"The reason the payment failed.\n"},"currency":{"type":"string","description":"Three-digit currency code for the payment. E.g. `ZAR` or `GBP`"},"retry_of":{"type":"string","description":"Must be a UUID. Only relevant for retry payments. Original payment id of the payment being retried."},"finalized_at":{"type":"string","format":"date-time","description":"The date the payment update was finalized."},"collection_type":{"$ref":"#/components/schemas/collection-type"},"policyholder":{"description":"`null` is allowed. The policyholder the payment is linked to.","$ref":"#/components/schemas/policyholder","nullable":true},"policy":{"description":"`null` is allowed. The policy the payment is linked to.","$ref":"#/components/schemas/policy","nullable":true},"charges":{"type":"array","description":"Whenever a premium payment is created (including reversals), a breakdown of the payment amount is calculated according to the charges stored on the policy.","items":{"type":"object","properties":{"type":{"$ref":"#/components/schemas/payment-charge-type"},"name":{"type":"string","description":"The name of the charge."},"description":{"type":"string","description":"The description of the charge."},"amount":{"type":"integer","description":"The charged amount. Required when type is `fixed` or `variable`. Either a proportion of the total premium (if `type` is `variable`), or a currency amount in cents (if `type` is `fixed`)."},"calculated":{"type":"integer","description":"The final calculated charge amount."}}}},"raw_response":{"type":"object","nullable":true,"description":"`null` is allowed. An object containing additional custom data for the payment."}}},"payment-batch":{"type":"object","required":["organization_id","payment_batch_id","status","action_date","process_date","payment_type","payment_method_type","billing_config_id","submitted_at","submitted_by","created_at","failure_reason","num_payments","num_reviewed","total_value","external_reference","updated_at","updated_by"],"properties":{"organization_id":{"type":"string","description":"Must be a UUID. The unique identifier of the organization."},"payment_batch_id":{"type":"string","description":"Must be a UUID. The unique identifier of the payment batch."},"status":{"type":"string","description":"The payment batch status, one of [`pending`, `submitting`, `submitted`, 'accepted', `failed`, `archived`]."},"action_date":{"type":"string","format":"date-time","description":"The time at which the payments in the batch will strike the accounts."},"process_date":{"type":"string","format":"date-time","description":"The time at which the batch should be processed & submitted by."},"payment_type":{"type":"string","description":"The payment collection type, one of [`debit_order_same_day`, `debit_order_two_day`, `debit_order_naedo`, `debit_order_debicheck`, `card`, `external`, `other`]."},"payment_method_type":{"type":"string","description":"The payment method type, one of [`debit_order`, `card`, `eft`, `external`]."},"billing_config_id":{"type":"string","description":"Must be a UUID. The unique identifier of the billing config to be used when processing this batch."},"submitted_at":{"type":"string","format":"date-time","description":"The time at which the batch was submitted."},"submitted_by":{"type":"object","description":"`null` is allowed. An object indicating the user or API key that submitted the batch. See [Authentication](#client-apps).","nullable":true},"created_at":{"type":"string","format":"date-time","description":"The time at which the batch was created."},"failure_reason":{"type":"string","description":"A description of the reason the payment batch failed."},"num_payments":{"type":"integer","description":"The number of payments included in this batch."},"num_reviewed":{"type":"integer","description":"The number of payments in this batch that have been reviewed."},"total_value":{"type":"integer","description":"The total amount of premium, in cents, of the all the payments in this batch."},"external_reference":{"type":"string","description":"External reference used for identifying the batch.","nullable":true},"updated_at":{"type":"string","format":"date-time","description":"The time at which the batch was updated."},"updated_by":{"type":"object","description":"`null` is allowed. An object indicating the user or API key that updated the batch. See [Authentication](#client-apps).","nullable":true}},"example":{"payment_batch_id":"00000000-0000-0000-0000-000000000001","organization_id":"00000000-0000-0000-0000-000000000001","status":"submitted","action_date":"2021-09-29T09:36:43.560Z","process_date":"2021-09-29T09:36:43.560Z","payment_type":"debit_order_same_day","payment_method_type":"debit_order","billing_config_id":"00000000-0000-0000-0000-000000000003","submitted_at":"2021-10-07T07:38:00.117Z","submitted_by":{"type":"api_key","id":"420df14d-b09d-4d89-84a8-8e3118c9ca23","owner_id":"00000000-0000-0000-0000-000000000001"},"created_at":"2021-09-29T09:36:43.560Z","failure_reason":null,"num_payments":10,"num_reviewed":0,"total_value":1000000,"external_reference":"ABCDE12345","updated_at":"2021-10-07T07:38:00.117Z","updated_by":{"type":"api_key","id":"420df14d-b09d-4d89-84a8-8e3118c9ca23","owner_id":"00000000-0000-0000-0000-000000000001"}}},"payment-batches":{"type":"array","items":{"$ref":"#/components/schemas/payment-batch"}},"payment-create":{"type":"object","required":["amount","status","description","payment_type","payment_date","collection_type","payment_method_id"],"properties":{"status":{"$ref":"#/components/schemas/payment-status"},"payment_method_id":{"type":"string","description":"Payment method id of the payment being created. Must be a UUID."},"payment_type":{"$ref":"#/components/schemas/payment-type"},"premium_type":{"$ref":"#/components/schemas/premium-type"},"amount":{"type":"number","description":"The payment amount. Required when `retry_of` is not provided; otherwise forbidden."},"description":{"type":"string","description":"Description of the payment being submitted. Required when `retry_of` is not provided; otherwise forbidden."},"payment_date":{"type":"string","format":"date-time","description":"Date the payment was created."},"finalized_at":{"type":"string","format":"date-time","description":"Date the payment was finalized. Required when `status` is `failed` or `successful`."},"collection_type":{"$ref":"#/components/schemas/collection-type"},"billing_date":{"type":"string","format":"date-time","description":"Date the payment should be processed."},"external_reference":{"type":"string","description":"Unique external reference of the payment."},"retry_of":{"type":"string","description":"Original payment id of the payment being retried. Must be a UUID."},"failure_reason":{"type":"string","description":"A description of the reason the payment failed. Required if `status` is `failed`, forbidden otherwise."},"failure_action":{"$ref":"#/components/schemas/failure-action"},"failure_code":{"type":"string","description":"Optional if `status` is `failed`, forbidden otherwise. The failure error code."}},"example":{"status":"successful","description":"Monthly premium","payment_type":"premium","premium_type":"pro_rata","amount":1800,"payment_date":"2022-09-08T00:00:00.000Z","external_reference":"B23423","collection_type":"debit_order_same_day","finalized_at":"2022-09-08T00:00:00.000Z","billing_date":"2022-09-08T00:00:00.000Z"}},"payment-create-async":{"allOf":[{"$ref":"#/components/schemas/payment-create"},{"type":"object","required":["policy_id"],"properties":{"policy_id":{"type":"string","description":"Id of the policy the payment is for. Must be UUID."}},"example":{"status":"successful","description":"Monthly premium","payment_type":"premium","amount":1800,"payment_date":"2022-09-08T00:00:00.000Z","external_reference":"B","collection_type":"debit_order_same_day","policy_id":"6ae5329f-d286-4d64-9345-af93eb03520c"}}]},"payment-creates-async":{"type":"array","items":{"$ref":"#/components/schemas/payment-create-async"},"example":[{"policy_id":"128ba0c0-3f6a-4f8b-9b40-e2066b02b59e","status":"successful","amount":6000,"description":"Monthly premium","payment_date":"2022-09-08T00:00:00.000Z","payment_type":"premium","external_reference":202209086000,"collection_type":"debit_order_same_day","premium_type":"recurring"},{"policy_id":"2b012979-e2a2-45d3-b5fe-729f825d96ce","status":"processing","amount":4500,"description":"Monthly premium","payment_date":"2022-09-08T00:00:00.000Z","payment_type":"premium","external_reference":202209084500,"collection_type":"debit_order_same_day","premium_type":"recurring"}]},"payment-coupon":{"type":"object","required":["payment_coupon_id","policy_id","status","type","created_at","created_by"],"properties":{"payment_coupon_id":{"type":"string","description":"Must be a UUID. Object ID of the payment coupon."},"policy_id":{"type":"string","description":"Must be a UUID. Object ID of the policy."},"status":{"type":"string","description":"A string indicating the status of the payment coupon. Possible values include `pending`, `redeemed`, or `cancelled`."},"type":{"type":"string","enum":["ad_hoc","payment_holiday"],"description":"The type of the payment coupon."},"redeemable_from":{"type":"string","format":"date-time","description":"The date from which the coupon can be redeemed. Required when creating `payment_holiday` coupons."},"redeemable_to":{"type":"string","format":"date-time","description":"The date by which the coupon must be redeemed. Required when creating `payment_holiday` coupons."},"amount":{"type":"integer","description":"The amount, in cents, that represents the value of the coupon once redeemed.  Required when creating `ad_hoc` coupons."},"reason":{"type":"string","description":"The reason for the payment coupon being granted."},"payment_date":{"type":"string","format":"date-time","description":"The date the payment coupon was redeemed."},"billing_date":{"type":"string","format":"date-time","description":"The billing date of the payment the payment coupon repalces."},"created_at":{"type":"string","format":"date-time","description":"The time at which the policy was created."},"created_by":{"type":"object","description":"An object indicating the user or API key that created the policy. See [Authentication](#client-apps).","nullable":true}},"example":{"payment_coupon_id":"307286b9-bbaa-4096-9ccf-fcbe596ea0a8","policy_id":"128ba0c0-3f6a-4f8b-9b40-e2066b02b59e","status":"pending","type":"payment_holiday","redeemable_from":"2022-06-01T00:00:00.000Z","redeemable_to":"2022-06-30T00:00:00.000Z","reason":"Customer retrenched","created_at":"2020-08-04T09:14:21.451Z","created_by":{"type":"api_key","id":"420df14d-b09d-4d89-84a8-8e3118c9ca23","owner_id":"00000000-0000-0000-0000-000000000001"}}},"payment-coupons":{"type":"array","items":{"$ref":"#/components/schemas/payment-coupon"},"example":[{"payment_coupon_id":"307286b9-bbaa-4096-9ccf-fcbe596ea0a8","policy_id":"128ba0c0-3f6a-4f8b-9b40-e2066b02b59e","status":"pending","type":"payment_holiday","redeemable_from":"2022-06-01T00:00:00.000Z","redeemable_to":"2022-06-30T00:00:00.000Z","reason":"Customer retrenched","created_at":"2020-08-04T09:14:21.451Z","created_by":{"type":"api_key","id":"420df14d-b09d-4d89-84a8-8e3118c9ca23","owner_id":"00000000-0000-0000-0000-000000000001"}},{"payment_coupon_id":"de07f9a8-f818-4fbe-9d19-b46ba8d98758","policy_id":"128ba0c0-3f6a-4f8b-9b40-e2066b02b59e","status":"pending","type":"ad_hoc","amount":2000,"reason":"Customer retrenched","created_at":"2020-08-04T09:14:21.451Z","created_by":{"type":"api_key","id":"420df14d-b09d-4d89-84a8-8e3118c9ca23","owner_id":"00000000-0000-0000-0000-000000000001"}}]},"payment-update":{"type":"object","required":["payment_id","status"],"properties":{"payment_id":{"type":"string","description":"Must be a UUID. The unique identifier of the payment."},"status":{"$ref":"#/components/schemas/payment-status"},"failure_reason":{"type":"string","description":"Required if `status` is `failed`. A description of the reason the payment failed."},"failure_action":{"$ref":"#/components/schemas/failure-action"},"failure_code":{"type":"string","description":"The failure error code."}},"example":{"payment_id":"96e06845-6d37-4dca-8859-9d8ed27dcf58","status":"failed","failure_code":"08","failure_reason":"Account closed","failure_action":"block_payment_method"}},"payment-updates":{"type":"array","items":{"$ref":"#/components/schemas/payment-update"},"example":[{"payment_id":"128ba0c0-3f6a-4f8b-9b40-e2066b02b59e","status":"successful"},{"payment_id":"bd0c2ab2-4bf9-4786-9d90-0588fdff2600","status":"processing"},{"payment_id":"0463e674-ff1b-475d-901b-c37b01ab1ef6","status":"failed","failure_reason":"Not provided for","failure_action":"block_retry"},{"payment_id":"96e06845-6d37-4dca-8859-9d8ed27dcf58","status":"failed","failure_reason":"Account closed","failure_action":"block_payment_method"}]},"payment-charge-type":{"type":"string","description":"Variable charges are applied as a proportion of the total payment amount. Fixed charges are applied as an absolute currency value in cents. The `balance` is the balance of the payment total after all charges have been applied.","enum":["fixed","variable","balance"]},"payment-status":{"type":"string","enum":["submitted","pending","processing","successful","failed","cancelled"],"description":"The status to which to create the payment."},"payment-type":{"type":"string","description":"The type of the payment being created.","enum":["premium","reversal","claim_payout","premium_refund","other"]},"premium-type":{"type":"string","description":"The type of the payment being created.Required when `payment_type` is premium or reversal, forbidden otherwise.","enum":["recurring","arrears","ad_hoc","pro_rata","cover_period"]},"collection-type":{"type":"string","description":"The collection type of the payment being created.","enum":["debit_order_same_day","debit_order_two_day","debit_order_one_day","debit_order_debicheck","card","external","collection_module","other"]},"failure-action":{"type":"string","enum":["block_payment_method","block_retry","allow_retry"],"description":"The additional action to perform when processing a failed payment. `block_payment_method`: Set the payment method's verification status to `blocked`, and do not generate a retry. `block_retry`: Do not generate a retry payment (even if enabled in the [product module settings](doc:billing-settings)). `allow_retry`: Generate a retry payment (if enabled in the [product module settings](doc:billing-settings)). **Note:** The payment method will be blocked after 4 consecutive failed payments regardless. See the [billing settings](https://docs.rootplatform.com/docs/billing-settings#consecutive-failed-payments-allowed) guide for more details on the number of consecutive payments allowed. This field will be required if `status` is `failed`, forbidden otherwise.\n"},"actor-type":{"type":"string","description":"The actor who created the record.","enum":["api_key","system","user"]},"policy":{"type":"object","description":"Policies are issued from applications, and represent binding insurance agreements. Parameters stored on the policy can be referenced in custom notifications, policy documents, data exports and external integrations. <br/><br/> See the [issuing policies](https://docs.rootplatform.com/docs/policy-issuing) guide and the [policy issue hook](https://docs.rootplatform.com/docs/policy-issue-hook) guide for more details.","required":["policy_id","policy_number","status","policyholder_id","package_name","monthly_premium","billing_amount","balance","currency","billing_day","billing_frequency","next_billing_date","covered_people","base_premium","claim_ids","complaint_ids","start_date","end_date","policy_schedule_uri","terms_uri","schedule_versions","created_at","module","app_data","created_by","scheme_type","charges","supplementary_terms_files"],"properties":{"policy_id":{"type":"string","description":"Must be a UUID. Object ID of the policy."},"policy_number":{"type":"string","description":"A shorter, human-readable policy identifier. This typically used in policy documents and customer notifications for ease of reference."},"status":{"$ref":"#/components/schemas/policy-status"},"policyholder_id":{"type":"string","description":"Must be a UUID. The system identifier of the policy's policyholder."},"package_name":{"type":"string","description":"The insurance package name."},"sum_assured":{"type":"integer","description":"The amount, in cents, of the maximum value insured."},"monthly_premium":{"type":"integer","description":"The total monthly premium, in cents, that will be billed to the policyholder."},"billing_amount":{"type":"integer","description":"The amount, in cents, that will be billed on the next billing run."},"balance":{"type":"integer","description":"The amount, in cents, that is owed on the policy. If the policyholder makes an adhoc payment to the policy, the amount is credited to this balance. If the policyholder defaults on a payment, it is subtracted from the balance. If the balance is found negative during the next billing run, the amount is added to the monthly premium, else the monthly premium is subtracted from the balance and the remainder is charged."},"billing_day":{"type":"integer","description":"`null` is allowed. The day of month on which the policy is billed. Should be between 1 and 31, or `null`. If it falls on a day that does not exist in the month (for example, 31 in February) the policy will be billed on the last day of the month. Setting this value to 31 will ensure that the policy is billed on the last day of every month.","nullable":true},"billing_frequency":{"type":"string","description":"The frequency at which the policy is billed. One of [`monthly`, `yearly`, `once_off`]. See the [billing settings](https://docs.rootplatform.com/docs/billing-settings#billing-frequency) guide for more details on the billing frequency."},"next_billing_date":{"type":"string","format":"date-time","description":"The next date the policy is due to be billed."},"currency":{"type":"string","description":"The currency code of the policy."},"beneficiaries":{"$ref":"#/components/schemas/beneficiaries","nullable":true},"covered_people":{"type":"array","items":{"type":"object"},"description":"`null` is allowed. An array of covered people added to the policy.","nullable":true},"base_premium":{"type":"integer","description":"The amount, in cents, of the minimum allowed monthly premium fee. This includes risk pricing and platform fees."},"claim_ids":{"type":"array","items":{"type":"string"},"description":"An array of claim ids of the claims linked to the policy."},"complaint_ids":{"type":"array","items":{"type":"string"},"description":"An array of complaint ids of the complaints linked to the policy."},"start_date":{"type":"string","format":"date-time","description":"Once the policy reaches its start date, cover commences and regular collection attempts can run against the policy (provided it has an `active` status). See the [Managing policies](https://docs.rootplatform.com/docs/policy-administration#policy-lifecycle) guide for more details on the policy lifecycle."},"end_date":{"type":"string","format":"date-time","description":"When the policy reaches its end date, its status will change to `expired`. Cover and collections will cease. Policies with no end date do not expire."},"current_version":{"type":"integer","description":"`null` is allowed. The current policy schedule version.","nullable":true},"schedule_file_id":{"type":"string","description":"`null` is allowed. Object ID of the policy document.","nullable":true},"policy_schedule_uri":{"type":"string","description":"URI to the policy document in PDF format.","nullable":true},"terms_file_id":{"type":"string","description":"`null` is allowed. Attachment ID of the policy terms document.","nullable":true},"terms_uri":{"type":"string","description":"URI to the terms document in PDF format.","nullable":true},"supplementary_terms_files":{"type":"array","description":"Supplementary terms files associated with the policy.","items":{"type":"object","properties":{"supplementary_terms_file_id":{"type":"string","description":"Attachment ID of the supplementary terms document."},"type":{"type":"string","description":"The supplementary terms file type, as specified in the product module settings."},"uri":{"type":"string","description":"URI to the supplementary terms document in PDF format."}}}},"policy_welcome_letter_file_id":{"type":"string","description":"`null` is allowed. Object ID of the welcome letter.","nullable":true},"policy_welcome_letter_uri":{"type":"string","description":"`null` is allowed. URI to the welcome letter in PDF format.","nullable":true},"policy_certificate_file_id":{"type":"string","description":"`null` is allowed. Object ID of the policy certificate.","nullable":true},"policy_certificate_uri":{"type":"string","description":"`null` is allowed. URI to the certificate in PDF format.","nullable":true},"policy_anniversary_file_id":{"type":"string","description":"`null` is allowed. Object ID of the policy anniversary document.","nullable":true},"schedule_versions":{"type":"array","items":{"type":"object","properties":{"version":{"type":"integer","description":"The policy schedule version number."},"created_at":{"type":"string","format":"date-time","description":"The date the policy schedule version was created."}}},"description":"The policy schedule versions for the policy. A new policy schedule version is typically created when the policy is updated."},"created_at":{"type":"string","format":"date-time","description":"The time at which the policy was created."},"module":{"type":"object","description":"Custom, product-specific fields stored against the policy. These parameters are set in the [policy issue hook](https://docs.rootplatform.com/docs/policy-issue-hook) in the product module code. They can be referenced in policy documents, data exports and external integrations.","additionalProperties":true},"app_data":{"type":"object","description":"`null` is allowed. An object containing additional custom data for the policy.","nullable":true,"additionalProperties":true},"created_by":{"type":"object","description":"`null` is allowed. An object indicating the user or API key that created the policy.","nullable":true},"scheme_type":{"type":"string","description":"Indicates the policy scheme type, being either `individual` or `group`."},"payment_method_id":{"type":"string","description":"Must be a UUID. The ID of the policy's payment method, if set."},"charges":{"type":"array","description":"Whenever a premium payment is created (including reversals), a breakdown of the payment amount is calculated according to the charges stored on the policy. This allows the premium breakdown to be referenced in policy documents and disclosures, and in the policy's payment data. See the [policy issue hook](https://docs.rootplatform.com/docs/policy-issue-hook#charges-and-commissions) guide for more details on charges and commissions.","items":{"type":"object","required":["type","name"],"properties":{"type":{"$ref":"#/components/schemas/payment-charge-type"},"name":{"type":"string","description":"The name of the charge."},"description":{"type":"string","description":"The description of the charge."},"amount":{"type":"integer","description":"The charged amount. Required when type is `fixed` or `variable`. Either a proportion of the total premium (if `type` is `variable`), or a currency amount in cents (if `type` is `fixed`)."}}}}},"example":{"policy_id":"128ba0c0-3f6a-4f8b-9b40-e2066b02b59e","policy_number":"1HFCT1CDBJ","policyholder_id":"bf3ab7ce-064d-43b7-811d-0ecd9aca3daf","status":"active","package_name":"Theft + comprehensive","sum_assured":1199900,"base_premium":14999,"monthly_premium":50000,"balance":0,"currency":"ZAR","billing_amount":50000,"billing_day":1,"billing_frequency":"monthly","covered_people":[],"start_date":"2017-10-05T00:00:00.000Z","end_date":"2018-10-05T00:00:00.000Z","current_version":1,"schedule_file_id":"c85f1d4e-f09b-11ed-a05b-0242ac120003","policy_schedule_uri":"https://sandbox.root.co.za/v1/insurance/policies/128ba0c0-3f6a-4f8b-9b40-e2066b02b59e/schedule/schedule_latest.pdf","terms_file_id":"68c8b6e6-f484-11ed-a05b-0242ac120003","terms_uri":"https://sandbox.root.co.za/v1/insurance/policies/128ba0c0-3f6a-4f8b-9b40-e2066b02b59e/terms/terms.pdf","supplementary_terms_files":[{"supplementary_terms_file_id":"c414342a-7ea4-4a16-be68-d152aa5fce68","type":"client-conduct","uri":"https://sandbox.root.co.za/v1/files/download/a7bc326f-640e-4b43-9909-7a6c8be17e37"}],"policy_welcome_letter_file_id":"d0864e70-f09b-11ed-a05b-0242ac120003","policy_welcome_letter_uri":"https://sandbox.root.co.za/v1/insurance/policies/128ba0c0-3f6a-4f8b-9b40-e2066b02b59e/welcome-letter/welcome_letter.pdf","policy_certificate_file_id":"1e527606-f09c-11ed-a05b-0242ac120003","policy_certificate_uri":"https://sandbox.root.co.za/v1/insurance/policies/128ba0c0-3f6a-4f8b-9b40-e2066b02b59e/certificate/certificate.pdf","policy_anniversary_file_id":"7e6d32c4-f484-11ed-a05b-0242ac120003","schedule_versions":[{"version":1,"created_at":"2017-10-05T18:40:47.281Z"}],"created_at":"2017-10-05T18:40:47.281Z","module":{"type":"root_gadgets","make":"Apple","model":"iPhone 6S 64GB LTE","serial_number":"1234567890"},"app_data":{"gadget_colour":"Space Grey"},"created_by":{"id":"00000000-0000-0000-0000-000000000001","type":"user"},"scheme_type":"individual","payment_method_id":"e0b7b222-772f-47ac-b08d-c7ba38aa1b25","charges":[],"beneficiaries":[{"first_name":"Jared","last_name":"Dunn","id":{"type":"id","number":"8704094800082","country":"ZA"},"percentage":100,"relationship":"cousin_or_relative"}]}},"policy-status":{"type":"string","description":"The policy status. See the [managing policies](https://docs.rootplatform.com/docs/policy-administration#policy-lifecycle) guide for more details on the policy lifecycle.","enum":["pending_initial_payment","active","cancelled","expired","lapsed","not_taken_up"]},"policies":{"type":"array","items":{"$ref":"#/components/schemas/policy"}},"policyholder":{"type":"object","required":["policyholder_id","type","id","first_name","last_name","policy_ids","created_at","app_data","created_by"],"properties":{"policyholder_id":{"type":"string","description":"Must be a UUID. The unique identifier of the policyholder."},"type":{"type":"string","description":"The policyholder type.","enum":["individual","company"]},"id":{"type":"object","description":"(Individual policyholders only) Object containing policyholder's identification information.","properties":{"type":{"type":"string","description":"The id type of the policyholder.","enum":["id","passport","email","cellphone","custom"]},"number":{"type":"string","description":"The ID or passport number."},"country":{"type":"string","description":"The [ISO Alpha-2](http://www.nationsonline.org/oneworld/country_code_list.htm) country code of the country of the id/passport number."},"expiration_date":{"type":"string","format":"date-time","description":"(Individual policyholders only) The expiration date of the policyholder's passport."}},"required":["type","number","country"]},"title":{"type":"string","description":"The policyholders's title.","enum":["mr","mrs","miss","mx","sir","dr","adv","ms","prof"]},"date_of_birth":{"type":"string","description":"(Individual policyholders only) The policyholder's date of birth in the format YYYYMMDD."},"gender":{"type":"string","description":"Null is allowed. (Individual policyholders only) The policyholder's gender.","enum":["male","female"]},"initials":{"type":"string","description":"`null` is allowed. The policyholder or primary contact's initials.","nullable":true},"first_name":{"type":"string","description":"The policyholder or primary contact's legal first name."},"middle_name":{"type":"string","description":"`null` is allowed. The policyholder or primary contact's legal middle name.","nullable":true},"last_name":{"type":"string","description":"The policyholder or primary contact's legal last name."},"email":{"type":"string","description":"`null` is allowed. The policyholder or primary contact's contact email address.","nullable":true},"cellphone":{"$ref":"#/components/schemas/cellphone-string"},"phone_other":{"$ref":"#/components/schemas/cellphone-string"},"policy_ids":{"type":"array","items":{"type":"string"},"description":"An array of ids of the policies linked to this policyholder."},"policies":{"type":"array","items":{"$ref":"#/components/schemas/policy"},"description":"An array of full [policy objects](#policy) owned by the policyholder. This is currently only included when [fetching all policyholders](#list-all-policyholders) or [fetching an individual policyholder](#retrieve-a-policyholder) with `?include=policies`."},"created_at":{"type":"string","format":"date-time","description":"The time at which the policyholder was created."},"app_data":{"type":"object","description":"`null` is allowed. An object containing additional custom data for the policy holder.","nullable":true,"additionalProperties":true},"created_by":{"type":"object","description":"`null` is allowed. An object indicating the user or API key that created the policyholder. See [Authentication](#client-apps).","nullable":true},"address":{"type":"object","description":"`null` is allowed. The policyholder's physical address. See below for more details.","properties":{"line_1":{"type":"string","description":"First line of the policyholder's address."},"line_2":{"type":"string","description":"`null` is allowed. Optional second line of the policyholder's address.","nullable":true},"suburb":{"type":"string","description":"The policyholder's suburb."},"city":{"type":"string","description":"The policyholder's city."},"country":{"type":"string","description":"The policyholder's country code, in the [ISO Alpha-2](http://www.nationsonline.org/oneworld/country_code_list.htm) format."},"area_code":{"type":"string","description":"The policyholder's area code must be 4 characters long for South African addresses."}},"required":["line_1","city","country","area_code"],"nullable":true}},"example":{"policyholder_id":"bf1ada91-eecb-4f47-9bfa-1258bb1e0055","type":"individual","initials":"E","first_name":"Erlich","middle_name":"Aviato","last_name":"Bachman","id":{"type":"id","number":"6801015800084","country":"ZA"},"date_of_birth":"19680101","gender":"male","email":"erlich@aviato.com","cellphone":"+27821234567","phone_other":"+27124101337","created_at":"2017-10-12T15:47:34.281Z","app_data":{"company":"Aviato"},"policy_ids":[],"created_by":{"id":"00000000-0000-0000-0000-000000000001","type":"user"},"address":{"line_1":"5230 Penfield Avenue","suburb":"Woodland Hills","city":"Los Angeles","country":"US","area_code":"CA 91364"}}},"policyholders":{"type":"array","items":{"$ref":"#/components/schemas/policyholder"}},"quote-package":{"type":"object","description":"Quote packages are designed to be low-fidelity and fast to generate,  and are used to generate and display new quotes rapidly on a customer-facing front-end.  They expire after one week. <br/><br/> See the [issing policies](https://docs.rootplatform.com/docs/policy-issuing) guide  and the [quote hook](https://docs.rootplatform.com/docs/quote-hook) guide for more details.","required":["quote_package_id","package_name","sum_assured","base_premium","suggested_premium","module","created_at","currency","billing_frequency","product_module_definition_id"],"properties":{"quote_package_id":{"type":"string","description":"Must be a UUID. Unique identifier of the quote package."},"package_name":{"type":"string","description":"The package name."},"sum_assured":{"type":"integer","description":"The maximum insured value in cents."},"base_premium":{"type":"integer","description":"The combined risk and platform fee in cents. `monthly_premium` should be calculated from this."},"suggested_premium":{"type":"integer","description":"The suggested `monthly_premium` amount in cents. This is the total premium for display to the customer."},"module":{"type":"object","description":"Custom, product-specific information saved to the quote for later reference.  These parameters are set in the [quote hook](https://docs.rootplatform.com/docs/quote-hook) in the product module code.","additionalProperties":true},"input_data":{"type":"object","description":"Quote input parameters as received over the [create a quote](https://docs.rootplatform.com/reference/getting-a-quote-2) endpoint.","additionalProperties":true},"created_at":{"type":"string","format":"date-time","description":"The date/time at which the quote package was created."},"currency":{"type":"string","description":"The currency used for the quote package, in [ISO 4217] (https://en.wikipedia.org/wiki/ISO_4217) format."},"billing_frequency":{"type":"string","enum":["monthly","yearly","once_off"],"description":"The frequency at which the policy will be billed. See the [billing settings](https://docs.rootplatform.com/docs/billing-settings#billing-frequency) guide for more details on the billing frequency."},"product_module_definition_id":{"type":"string","description":"Must be a UUID. Unique identifier of the product module definition associated with this quote package. If a policy is issued from this quote, this product module definition will be associated with the policy."}},"example":{"quote_package_id":"3822b8fb-43e7-43f7-94ad-63e94e6ce1e3","package_name":"Theft + comprehensive","sum_assured":1199900,"base_premium":14999,"suggested_premium":18749,"module":{"type":"root_gadgets","make":"Apple","model":"iPhone 6S 64GB LTE"},"created_at":"2023-02-03T11:17:09.747Z","currency":"ZAR","billing_frequency":"monthly","product_module_definition_id":"4889a9e0-d5f9-4971-8ac2-2175a9d15477"}},"quote-packages":{"type":"array","items":{"$ref":"#/components/schemas/quote-package"}},"s3-adapter":{"type":"object","required":["type","region","bucket_name","secret_access_key","access_key_id"],"properties":{"type":{"type":"string","description":"The type of adapter. In this case, `s3`."},"region":{"type":"string","description":"The S3 bucket region."},"bucket_name":{"type":"string","description":"The name of the S3 bucket."},"bucket_path":{"type":"string","description":"The path of the S3 bucket to store the resulting export to, with a trailing slash. This is used to generate a bucket key e.g. `folder/subfolder/`."},"secret_access_key":{"type":"string","description":"An AWS secret access key with permission to read from and write to the bucket."},"access_key_id":{"type":"string","description":"An AWS access key ID with permission to read from and write to the bucket."}}},"scheduled-data-export":{"type":"object","required":["scheduled_data_export_id","environment","created_at","created_by","status","name","frequency","adapter","export_type","data_range"],"properties":{"scheduled_data_export_id":{"type":"string","description":"Must be a UUID. The unique identifier of the scheduled data export."},"environment":{"type":"string","description":"The dataset used by the scheduled data export. Either `sandbox` or `production`."},"created_at":{"type":"string","format":"date-time","description":"The time at which the scheduled data export was created."},"created_by":{"type":"object","description":"An object indicating the user or API key that created the scheduled data export. See [Authentication](#client-apps)."},"status":{"type":"string","description":"The current status of the scheduled data export. One of `active`, `paused`, or `archived`."},"name":{"type":"string","description":"The name of the scheduled data export."},"frequency":{"type":"object","description":"The frequency at which the scheduled data export runs. See below for more details.","oneOf":[{"$ref":"#/components/schemas/daily-frequency"},{"$ref":"#/components/schemas/weekly-frequency"},{"$ref":"#/components/schemas/monthly-frequency"}]},"adapter":{"type":"object","description":"The adapter used to send the export once it's compiled. See below for more details.","oneOf":[{"$ref":"#/components/schemas/sftp-adapter"},{"$ref":"#/components/schemas/https-adapter"},{"$ref":"#/components/schemas/s3-adapter"}]},"export_type":{"type":"string","description":"The type of scheduled data export. Only `policy_export` is currently supported."},"data_range":{"type":"string","description":"The range used to capture data for the export. One of `today`, `week_to_date`, `month_to_date`, `since_last_run`, or `full`."},"latest_run":{"type":"object","description":"The latest run for the scheduled data export, if one exists. See below for more details.","nullable":true}},"example":{"scheduled_data_export_id":"4ab082f2-864e-4bcf-bc17-75664a25f2e1","environment":"sandbox","created_at":"2019-03-15T09:55:13.627Z","created_by":{"type":"api_key","id":"313f7511-c16a-4fdb-ba49-25a80a9b571c","owner_id":"da20903b-7f0d-4318-96bd-6df78514e2fd"},"status":"active","name":"Daily policies export","frequency":{"type":"daily","time_of_day":"09:00"},"adapter":{"type":"sftp","host":"localhost","username":"someuser","path":"/some/path/"},"export_type":"policy_export","data_range":"since_last_run"}},"scheduled-data-exports":{"type":"array","items":{"$ref":"#/components/schemas/scheduled-data-export"}},"sftp-adapter":{"type":"object","required":["type","host","path"],"properties":{"type":{"type":"string","description":"The type of adapter. In this case, `sftp`."},"host":{"type":"string","description":"The SFTP IP address or hostname."},"port":{"type":"number","description":"The port number to connect to on the host. Defaults to `22` if not provided."},"path":{"type":"string","description":"The path on the server to store the resulting export in."},"username":{"type":"string","description":"The username to use when authenticating on the SFTP server. Defaults to anonymous authentication if not provided."},"password":{"type":"string","description":"The password to use when authenticating on the SFTP server. Defaults to anonymous authentication if not provided."}}},"webhook":{"type":"object","required":["webhook_id","name","secret","url","subscriptions","environment","created_at","updated_at"],"properties":{"webhook_id":{"type":"string","description":"The unique identifier of the webhook."},"organization_id":{"type":"string","description":"The unique identifier of the organization the webhook belongs to."},"environment":{"type":"string","description":"The environment associated with the webhook.","enum":["sandbox","production"]},"name":{"type":"string","description":"The webhook name."},"description":{"type":"string","description":"An optional description for the webhook."},"secret":{"type":"string","description":"The auto-generated webhook secret, used to verify the payload (see the [introduction](ref:webhooks) for more details)."},"verification_token":{"type":"string","description":"An optional token to set on the webhook, used as an additional verification step for the payload (see the [introduction](ref:webhooks) for more details)."},"url":{"type":"string","description":"The URL tha
[...]
