{"openapi":"3.0.1","info":{"title":"Multicapture API","description":"Delay Multi Capture","version":"2.0"},"servers":[{"url":"https://integration.api.scalapay.com"}],"security":[{"ApiKeyAuth":[]}],"paths":{"/v2/orders":{"post":{"summary":"create order","description":"Merchant site makes a call to /v2/orders and receives an order-token as well as the redirectUrl to send the customer to Scalapay to authorize the payment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2order_body"},"examples":{"test":{"value":{"totalAmount":{"amount":"40.70","currency":"EUR"},"consumer":{"phoneNumber":"0400000001","givenNames":"Joe","surname":"Consumer","email":"test@scalapay.com"},"billing":{"name":"Joe Consumer","line1":"Via della Rosa, 23","suburb":"Montelupo Fiorentino","postcode":"50056","countryCode":"IT","phoneNumber":"0400000000"},"shipping":{"name":"Joe Consumer","line1":"Via della Rosa, 23","suburb":"Montelupo Fiorentino","postcode":"50056","countryCode":"IT","phoneNumber":"0400000000"},"items":[{"name":"T-Shirt","category":"clothes","subcategory":["shirt","long-sleeve"],"brand":"TopChoice","gtin":"123458791330","sku":"12341234","quantity":1,"price":{"amount":"10.00","currency":"EUR"}},{"name":"Jeans","category":"clothes","subcategory":["pants","jeans"],"brand":"TopChoice","gtin":"123458722222","sku":"12341235","quantity":1,"price":{"amount":"20.00","currency":"EUR"}}],"discounts":[{"displayName":"10% Off","amount":{"amount":"3.00","currency":"EUR"}}],"merchant":{"redirectConfirmUrl":"https://portal.integration.scalapay.com/success-url","redirectCancelUrl":"https://portal.integration.scalapay.com/failure-url"},"merchantReference":"merchantOrder-1234","taxAmount":{"amount":"3.70","currency":"EUR"},"shippingAmount":{"amount":"10.00","currency":"EUR"},"orderExpiryMilliseconds":6000000}}}}}},"responses":{"200":{"description":"Response includes url to redirect the customer and scalapay order token","content":{"application/json":{"examples":{"test":{"value":"{\"token\":\"21KLLDH3HI\",\"expires\":\"2021-02-25T23:02:13.350Z\",\"checkoutUrl\":\"https://portal.integration.scalapay.com/checkout/21KLLDH3HI\"}"}}}}}},"servers":[{"url":"https://integration.api.scalapay.com"}]},"servers":[{"url":"https://integration.api.scalapay.com"}]},"/v2/payments/{token}/delay":{"post":{"summary":"update delay order","description":"Merchant informs Scalapay it is requesting a delayed capture by calling /v2/payments/{token}/delay. The payment schedule for the customer will be created however no settlement of funds will occur until a capture call is made. Outstanding authorizations will be automatically VOIDED once the authorizationExpiryMilliseconds time passes.","parameters":[{"name":"token","in":"path","description":"Order Token","required":true,"style":"simple","explode":false,"schema":{"minimum":1,"type":"string","format":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2delay_body"},"examples":{"test":{"value":{"authorizationExpiryMilliseconds":6000000,"merchantReference":"merchantOrder-1234"}}}}}},"responses":{"200":{"description":"example response","content":{"application/json":{"examples":{"test":{"value":"{\"token\":\"21KLLDH3HI\",\"status\":\"AUTHORIZED\",\"authorizationExpiryAt\":\"2021-02-25T23:02:13.000Z\",\"totalAmount\":{\"amount\":40.7,\"currency\":\"EUR\"},\"orderDetails\":{\"items\":[{\"sku\":\"12341234\",\"gtin\":\"123458791330\",\"name\":\"T-Shirt\",\"brand\":\"TopChoice\",\"price\":{\"amount\":\"10.00\",\"currency\":\"EUR\"},\"category\":\"clothes\",\"quantity\":1,\"subcategory\":[\"shirt\",\"long-sleeve\"]},{\"sku\":\"12341235\",\"gtin\":\"123458722222\",\"name\":\"Jeans\",\"brand\":\"TopChoice\",\"price\":{\"amount\":\"20.00\",\"currency\":\"EUR\"},\"category\":\"clothes\",\"quantity\":1,\"subcategory\":[\"pants\",\"jeans\"]}],\"billing\":{\"name\":\"Joe Consumer\",\"line1\":\"Via della Rosa, 23\",\"suburb\":\"Montelupo Fiorentino\",\"postcode\":\"50056\",\"countryCode\":\"IT\",\"phoneNumber\":\"0400000000\"},\"consumer\":{\"email\":\"test@scalapay.com\",\"surname\":\"Consumer\",\"givenNames\":\"Joe\",\"phoneNumber\":\"0400000001\"},\"merchant\":{\"redirectCancelUrl\":\"https://portal.integration.scalapay.com/failure-url\",\"redirectConfirmUrl\":\"https://portal.integration.scalapay.com/success-url\"},\"shipping\":{\"name\":\"Joe Consumer\",\"line1\":\"Via della Rosa, 23\",\"suburb\":\"Montelupo Fiorentino\",\"geoCode\":{\"place_id\":\"VklBK0RFTExBK1JPU0ErMjMrLE1PTlRFTFVQTytGSU9SRU5USU5PLDUwMDU2LElU\"},\"postcode\":\"50056\",\"countryCode\":\"IT\",\"phoneNumber\":\"0400000000\"},\"discounts\":[{\"amount\":{\"amount\":\"3.00\",\"currency\":\"EUR\"},\"displayName\":\"10% Off\"}],\"taxAmount\":{\"amount\":\"3.70\",\"currency\":\"EUR\"},\"totalAmount\":{\"amount\":\"40.70\",\"currency\":\"EUR\"},\"shippingAmount\":{\"amount\":\"10.00\",\"currency\":\"EUR\"},\"merchantReference\":\"merchantOrder-1234\"}}"}}}}}},"servers":[{"url":"https://integration.api.scalapay.com"}]},"servers":[{"url":"https://integration.api.scalapay.com"}]},"/v2/payments/{token}/delay/capture":{"post":{"summary":"delay order capture","description":"Merchant captures the payment by calling /v2/payments/delay/capture. If a delay/capture request is made with an amount equal to the remaining open to capture amount on the order, the order will automatically be voided. In this scenario calling delay/void is not required.","parameters":[{"name":"token","in":"path","description":"Order Token","required":true,"style":"simple","explode":false,"schema":{"minimum":1,"type":"string","format":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2capture_body"},"examples":{"test":{"value":{"amount":{"amount":"40.7","currency":"EUR"}}}}}}},"responses":{"200":{"description":"example response","content":{"application/json":{"examples":{"test":{"value":"{ \"openToCaptureAmount\": { \"amount\": 150, \"currency\": \"EUR\" }, \"token\": \"31KMO255PH\", \"captureStatus\": \"delayed\", \"status\": \"AUTHORIZED\", \"totalAmount\": { \"amount\": 190, \"currency\": \"EUR\" }, \"totalCapturedAmount\": { \"amount\": 40, \"currency\": \"EUR\" }, \"orderDetails\": { \"items\": [ { \"sku\": \"12341234\", \"gtin\": \"123458791330\", \"name\": \"T-Shirt\", \"brand\": \"TopChoice\", \"price\": { \"amount\": \"10.00\", \"currency\": \"EUR\" }, \"category\": \"clothes\", \"quantity\": 1, \"subcategory\": [ \"shirt\", \"long-sleeve\" ] }, { \"sku\": \"12341235\", \"gtin\": \"123458722222\", \"name\": \"Jeans\", \"brand\": \"TopChoice\", \"price\": { \"amount\": \"20.00\", \"currency\": \"EUR\" }, \"category\": \"clothes\", \"quantity\": 1, \"subcategory\": [ \"pants\", \"jeans\" ] } ], \"billing\": { \"name\": \"Joe Consumer\", \"line1\": \"Via della Rosa, 58\", \"suburb\": \"Montelupo Fiorentino\", \"postcode\": \"50056\", \"countryCode\": \"IT\", \"phoneNumber\": \"0400000000\" }, \"consumer\": { \"email\": \"test@scalapay.com\", \"surname\": \"Consumer\", \"givenNames\": \"Joe\", \"phoneNumber\": \"0400000001\" }, \"merchant\": { \"redirectCancelUrl\": \"https://portal.integration.scalapay.com/failure-url\", \"redirectConfirmUrl\": \"https://portal.integration.scalapay.com/success-url\" }, \"shipping\": { \"name\": \"Joe Consumer\", \"line1\": \"Via della Rosa, 58\", \"suburb\": \"Montelupo Fiorentino\", \"postcode\": \"50056\", \"countryCode\": \"IT\", \"phoneNumber\": \"0400000000\" }, \"discounts\": [ { \"amount\": { \"amount\": \"3.00\", \"currency\": \"EUR\" }, \"displayName\": \"10% Off\" } ], \"taxAmount\": { \"amount\": \"3.70\", \"currency\": \"EUR\" }, \"totalAmount\": { \"amount\": \"190.00\", \"currency\": \"EUR\" }, \"shippingAmount\": { \"amount\": \"10.00\", \"currency\": \"EUR\" }, \"merchantReference\": \"merchantOrder-1234\", \"captures\": [ { \"amount\": { \"amount\": \"40\", \"currency\": \"EUR\" }, \"recordedAt\": \"2021-03-24T23:09:12.077Z\" } ] } }"}}}}}},"servers":[{"url":"https://integration.api.scalapay.com"}]},"servers":[{"url":"https://integration.api.scalapay.com"}]},"/v2/payments/{token}/delay/refund":{"post":{"summary":"delay refund","description":"If a delay/capture request is made with an amount equal to the remaining open to capture amount on the order, the order will automatically be voided. In this scenario calling delay/void is not required.","parameters":[{"name":"token","in":"path","description":"Order Token","required":true,"style":"simple","explode":false,"schema":{"minimum":1,"type":"string","format":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2delay_refund_body"},"examples":{"test":{"value":{"refundAmount":{"amount":"30","currency":"EUR"},"refundCapturedAmount":{"amount":"30","currency":"EUR"},"merchantReference":"merchantOrder-1234"}}}}}},"responses":{"200":{"description":"example response","content":{"application/json":{"examples":{"test":{"value":"{ \"openToCaptureAmount\": { \"amount\": 150, \"currency\": \"EUR\" }, \"token\": \"31KMO255PH\", \"captureStatus\": \"delayed\", \"status\": \"AUTHORIZED\", \"totalAmount\": { \"amount\": 190, \"currency\": \"EUR\" }, \"totalCapturedAmount\": { \"amount\": 40, \"currency\": \"EUR\" }, \"orderDetails\": { \"items\": [ { \"sku\": \"12341234\", \"gtin\": \"123458791330\", \"name\": \"T-Shirt\", \"brand\": \"TopChoice\", \"price\": { \"amount\": \"10.00\", \"currency\": \"EUR\" }, \"category\": \"clothes\", \"quantity\": 1, \"subcategory\": [ \"shirt\", \"long-sleeve\" ] }, { \"sku\": \"12341235\", \"gtin\": \"123458722222\", \"name\": \"Jeans\", \"brand\": \"TopChoice\", \"price\": { \"amount\": \"20.00\", \"currency\": \"EUR\" }, \"category\": \"clothes\", \"quantity\": 1, \"subcategory\": [ \"pants\", \"jeans\" ] } ], \"billing\": { \"name\": \"Joe Consumer\", \"line1\": \"Via della Rosa, 58\", \"suburb\": \"Montelupo Fiorentino\", \"postcode\": \"50056\", \"countryCode\": \"IT\", \"phoneNumber\": \"0400000000\" }, \"consumer\": { \"email\": \"test@scalapay.com\", \"surname\": \"Consumer\", \"givenNames\": \"Joe\", \"phoneNumber\": \"0400000001\" }, \"merchant\": { \"redirectCancelUrl\": \"https://portal.integration.scalapay.com/failure-url\", \"redirectConfirmUrl\": \"https://portal.integration.scalapay.com/success-url\" }, \"shipping\": { \"name\": \"Joe Consumer\", \"line1\": \"Via della Rosa, 58\", \"suburb\": \"Montelupo Fiorentino\", \"postcode\": \"50056\", \"countryCode\": \"IT\", \"phoneNumber\": \"0400000000\" }, \"discounts\": [ { \"amount\": { \"amount\": \"3.00\", \"currency\": \"EUR\" }, \"displayName\": \"10% Off\" } ], \"taxAmount\": { \"amount\": \"3.70\", \"currency\": \"EUR\" }, \"totalAmount\": { \"amount\": \"190.00\", \"currency\": \"EUR\" }, \"shippingAmount\": { \"amount\": \"10.00\", \"currency\": \"EUR\" }, \"merchantReference\": \"merchantOrder-1234\", \"captures\": [ { \"amount\": { \"amount\": \"40\", \"currency\": \"EUR\" }, \"recordedAt\": \"2021-03-24T23:09:12.077Z\" } ] } }"}}}}}},"servers":[{"url":"https://integration.api.scalapay.com"}]},"servers":[{"url":"https://integration.api.scalapay.com"}]},"/v2/payments/{token}/delay/void":{"post":{"summary":"delay void order","description":"Merchant informs Scalapay to confirm and close the order calling /v2/payments/{token}/delay/void.","parameters":[{"name":"token","in":"path","description":"Order Token","required":true,"style":"simple","explode":false,"schema":{"minimum":1,"type":"string","format":"string"}}],"responses":{"200":{"description":"example response","content":{"application/json":{"examples":{"test":{"value":"{ \"token\": \"31KMO255PH\", \"captureStatus\": \"captured\", \"status\": \"AUTHORIZED\", \"totalAmount\": { \"amount\": 40, \"currency\": \"EUR\" }, \"totalCapturedAmount\": { \"amount\": 40, \"currency\": \"EUR\" }, \"orderDetails\": { \"items\": [ { \"sku\": \"12341234\", \"gtin\": \"123458791330\", \"name\": \"T-Shirt\", \"brand\": \"TopChoice\", \"price\": { \"amount\": \"10.00\", \"currency\": \"EUR\" }, \"category\": \"clothes\", \"quantity\": 1, \"subcategory\": [ \"shirt\", \"long-sleeve\" ] }, { \"sku\": \"12341235\", \"gtin\": \"123458722222\", \"name\": \"Jeans\", \"brand\": \"TopChoice\", \"price\": { \"amount\": \"20.00\", \"currency\": \"EUR\" }, \"category\": \"clothes\", \"quantity\": 1, \"subcategory\": [ \"pants\", \"jeans\" ] } ], \"billing\": { \"name\": \"Joe Consumer\", \"line1\": \"Via della Rosa, 58\", \"suburb\": \"Montelupo Fiorentino\", \"postcode\": \"50056\", \"countryCode\": \"IT\", \"phoneNumber\": \"0400000000\" }, \"consumer\": { \"email\": \"test@scalapay.com\", \"surname\": \"Consumer\", \"givenNames\": \"Joe\", \"phoneNumber\": \"0400000001\" }, \"merchant\": { \"redirectCancelUrl\": \"https://portal.integration.scalapay.com/failure-url\", \"redirectConfirmUrl\": \"https://portal.integration.scalapay.com/success-url\" }, \"shipping\": { \"name\": \"Joe Consumer\", \"line1\": \"Via della Rosa, 58\", \"suburb\": \"Montelupo Fiorentino\", \"geoCode\": { \"place_id\": \"VklBK0RFTExBK1JPU0ErNTgrLE1PTlRFTFVQTytGSU9SRU5USU5PLDUwMDU2LElU\" }, \"postcode\": \"50056\", \"countryCode\": \"IT\", \"phoneNumber\": \"0400000000\" }, \"discounts\": [ { \"amount\": { \"amount\": \"3.00\", \"currency\": \"EUR\" }, \"displayName\": \"10% Off\" } ], \"taxAmount\": { \"amount\": \"3.70\", \"currency\": \"EUR\" }, \"totalAmount\": { \"amount\": \"190.00\", \"currency\": \"EUR\" }, \"shippingAmount\": { \"amount\": \"10.00\", \"currency\": \"EUR\" }, \"merchantReference\": \"merchantOrder-1234\", \"captures\": [ { \"amount\": { \"amount\": \"40\", \"currency\": \"EUR\" }, \"recordedAt\": \"2021-03-24T23:09:12.077Z\" } ] } }"}}}}}},"servers":[{"url":"https://integration.api.scalapay.com"}]},"servers":[{"url":"https://integration.api.scalapay.com"}]}},"components":{"schemas":{"v2orders_discounts":{"type":"object","properties":{"amount":{"$ref":"#/components/schemas/v2orders_amount"},"displayName":{"type":"string"}}},"v2orders_consumer":{"required":["givenNames","surname"],"type":"object","properties":{"email":{"type":"string"},"givenNames":{"type":"string"},"phoneNumber":{"type":"string"},"surname":{"type":"string"}}},"v2orders_amount":{"required":["amount","currency"],"type":"object","properties":{"amount":{"type":"string"},"currency":{"type":"string"}}},"v2order_body":{"required":["consumer","items","merchant","shipping","totalAmount"],"type":"object","properties":{"billing":{"$ref":"#/components/schemas/v2orders_billing"},"consumer":{"$ref":"#/components/schemas/v2orders_consumer"},"discounts":{"type":"array","items":{"$ref":"#/components/schemas/v2orders_discounts"}},"items":{"type":"array","items":{"$ref":"#/components/schemas/v2orders_items"}},"merchant":{"$ref":"#/components/schemas/v2orders_merchant"},"merchantReference":{"type":"string"},"orderExpiryMilliseconds":{"type":"integer"},"shipping":{"$ref":"#/components/schemas/v2orders_shipping"},"shippingAmount":{"$ref":"#/components/schemas/v2orders_amount"},"taxAmount":{"$ref":"#/components/schemas/v2orders_amount"},"totalAmount":{"$ref":"#/components/schemas/v2orders_amount"}}},"v2orders_items":{"required":["category","name","price","quantity","sku"],"type":"object","properties":{"brand":{"type":"string"},"category":{"type":"string"},"gtin":{"type":"string"},"name":{"type":"string"},"price":{"$ref":"#/components/schemas/v2orders_amount"},"quantity":{"type":"integer"},"sku":{"type":"string"},"subcategory":{"type":"array","items":{"type":"string"}}}},"v2orders_shipping":{"required":["countryCode","line1","name","postcode"],"type":"object","properties":{"countryCode":{"type":"string"},"line1":{"type":"string"},"name":{"type":"string"},"phoneNumber":{"type":"string"},"postcode":{"type":"string"},"suburb":{"type":"string"}}},"v2orders_billing":{"type":"object","properties":{"countryCode":{"type":"string"},"line1":{"type":"string"},"name":{"type":"string"},"phoneNumber":{"type":"string"},"postcode":{"type":"string"},"suburb":{"type":"string"}}},"v2capture_body":{"required":["amount"],"type":"object","properties":{"amount":{"$ref":"#/components/schemas/v2orders_amount"}}},"v2delay_refund_body":{"required":["refundAmount"],"type":"object","properties":{"refundAmount":{"$ref":"#/components/schemas/v2orders_amount"},"refundCapturedAmount":{"$ref":"#/components/schemas/v2orders_amount"},"merchantReference":{"type":"string","description":"Unique reference that identifies merchant"}}},"v2delay_body":{"type":"object","properties":{"authorizationExpiryMilliseconds":{"type":"integer","description":"Length of time that the authorization is valid for"},"merchantReference":{"type":"string","description":"Unique reference that identifies merchant"}}},"v2orders_merchant":{"required":["redirectCancelUrl","redirectConfirmUrl"],"type":"object","properties":{"redirectCancelUrl":{"type":"string"},"redirectConfirmUrl":{"type":"string"}}}},"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","name":"Authorization","in":"header","x-default":"Bearer qhtfs87hjnc12kkos"}}},"x-explorer-enabled":true,"x-samples-enabled":true,"x-readme":{"proxy-enabled":true}}