{"openapi":"3.0.0","info":{"title":"DevPortal (Main API): TPP registration APIs","description":"Luminor agnostic API definitions","contact":{"email":"openbanking@luminorgroup.com"},"version":"1.0.1"},"servers":[{"url":"https://api.developer.luminoropenbanking.com/sandbox/"}],"tags":[{"name":"TPP registration","description":"Set of endpoints used for TPP management"}],"paths":{"/v1/tpp-clients":{"post":{"tags":["TPP registration"],"summary":"Register TPP application","description":"Registers new TPP application","operationId":"createTppClient","parameters":[{"name":"X-Request-ID","in":"header","description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"},{"name":"Content-type","in":"header","description":"Type of content (application/json)","required":true,"schema":{"type":"string","exampleSetFlag":false,"enum":["application/json"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1_tppclients_body","exampleSetFlag":false},"exampleSetFlag":false}},"required":true},"responses":{"201":{"description":"Created","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"},"Content-Type":{"description":"Type of content (application/json)","schema":{"type":"string","exampleSetFlag":false},"example":"application/json"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_201","exampleSetFlag":false},"exampleSetFlag":false}}},"400":{"description":"Bad Request","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"403":{"description":"Forbidden","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"500":{"description":"Internal Server Error","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}}}}},"/v1/tpp-clients/{clientId}":{"get":{"tags":["TPP registration"],"summary":"Get TPP application status","description":"Returns status of TPP application","operationId":"getTppClientStatus","parameters":[{"name":"X-Request-ID","in":"header","description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"},{"name":"clientId","in":"path","description":"TPP application ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","exampleSetFlag":false},"example":"6cbd59cd-0801-448e-a5dc-b0e44326a085"}],"responses":{"200":{"description":"OK","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"},"Content-Type":{"description":"Type of content (application/json)","schema":{"type":"string","exampleSetFlag":false},"example":"application/json"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_200","exampleSetFlag":false},"exampleSetFlag":false}}},"400":{"description":"Bad Request","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"403":{"description":"Forbidden","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"500":{"description":"Internal Server Error","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}}}},"put":{"tags":["TPP registration"],"summary":"Update TPP application","description":"Updates information of TPP application","operationId":"updateTppClient","parameters":[{"name":"X-Request-ID","in":"header","description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"},{"name":"Content-type","in":"header","description":"Type of content (application/json)","required":true,"schema":{"type":"string","exampleSetFlag":false,"enum":["application/json"]}},{"name":"clientId","in":"path","description":"TPP application ID","required":true,"style":"SIMPLE","explode":false,"schema":{"type":"string","exampleSetFlag":false},"example":"6cbd59cd-0801-448e-a5dc-b0e44326a085"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/tppclients_clientId_body","exampleSetFlag":false},"exampleSetFlag":false}},"required":true},"responses":{"200":{"description":"OK","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"},"Content-Type":{"description":"Type of content (application/json)","schema":{"type":"string","exampleSetFlag":false},"example":"application/json"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/tppclients_clientId_body","exampleSetFlag":false},"exampleSetFlag":false}}},"400":{"description":"Bad Request","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"403":{"description":"Forbidden","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}},"500":{"description":"Internal Server Error","headers":{"X-Request-ID":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inline_response_400","exampleSetFlag":false},"exampleSetFlag":false}}}}}}},"components":{"schemas":{"TppClient":{"type":"object","properties":{"clientId":{"type":"string","description":"Unique TPP application ID","format":"uuid","example":"6cbd59cd-0801-448e-a5dc-b0e44326a085","exampleSetFlag":true},"appName":{"type":"string","description":"TPP application name","example":"Default Name","exampleSetFlag":true},"contacts":{"type":"array","description":"TPP contact email addresses","example":["defaultemail@mail.org"],"exampleSetFlag":true,"items":{"type":"string","format":"url","exampleSetFlag":false}},"redirectUris":{"type":"array","description":"TPP URIs where user will be redirected after successful authentication","example":["https://example.com/login"],"exampleSetFlag":true,"items":{"type":"string","format":"url","exampleSetFlag":false}}},"exampleSetFlag":false},"CreateTppClientRequest":{"required":["appName","contacts","redirectUris"],"type":"object","properties":{"appName":{"type":"string","description":"TPP application name","example":"Default Name","exampleSetFlag":true},"contacts":{"type":"array","description":"TPP contact email addresses","example":["defaultemail@mail.org"],"exampleSetFlag":true,"items":{"type":"string","format":"url","exampleSetFlag":false}},"redirectUris":{"type":"array","description":"TPP URIs where user will be redirected after successful authentication","example":["https://example.com/login"],"exampleSetFlag":true,"items":{"type":"string","format":"url","exampleSetFlag":false}}},"exampleSetFlag":false},"TppClientStatus":{"type":"object","properties":{"status":{"type":"string","description":"TPP application status","exampleSetFlag":false,"enum":["ACTIVE","PENDING","BLOCKED_BY_BANK"]}},"exampleSetFlag":false},"appName":{"type":"string","description":"TPP application name","example":"Default Name","exampleSetFlag":true},"contacts":{"type":"array","description":"TPP contact email addresses","example":["defaultemail@mail.org"],"exampleSetFlag":true,"items":{"type":"string","format":"url","exampleSetFlag":false}},"redirectUris":{"type":"array","description":"TPP URIs where user will be redirected after successful authentication","example":["https://example.com/login"],"exampleSetFlag":true,"items":{"type":"string","format":"url","exampleSetFlag":false}},"errorResponse":{"type":"object","properties":{"errors":{"type":"array","description":"error details","exampleSetFlag":false,"items":{"$ref":"#/components/schemas/errorResponse_errors","exampleSetFlag":false}}},"exampleSetFlag":false},"error":{"required":["category","code"],"properties":{"category":{"type":"string","description":"Error category. Only \"ERROR\" or \"WARNING\" permitted","example":"ERROR","exampleSetFlag":true,"enum":["ERROR","WARNING"]},"code":{"type":"string","description":"Error message code","example":"FORMAT_ERROR","exampleSetFlag":true},"text":{"type":"string","description":"Additional explaining text","example":"Review query parameters","exampleSetFlag":true}},"exampleSetFlag":false},"v1_tppclients_body":{"required":["appName","contacts","redirectUris"],"type":"object","properties":{"appName":{"type":"string","description":"TPP application name","example":"Default Name","exampleSetFlag":true},"contacts":{"type":"array","description":"TPP contact email addresses","example":["defaultemail@mail.org"],"exampleSetFlag":true,"items":{"type":"string","format":"url","exampleSetFlag":false}},"redirectUris":{"type":"array","description":"TPP URIs where user will be redirected after successful authentication","example":["https://example.com/login"],"exampleSetFlag":true,"items":{"type":"string","format":"url","exampleSetFlag":false}}},"exampleSetFlag":false},"inline_response_201":{"type":"object","properties":{"clientId":{"type":"string","description":"Unique TPP application ID","format":"uuid","example":"6cbd59cd-0801-448e-a5dc-b0e44326a085","exampleSetFlag":true},"appName":{"type":"string","description":"TPP application name","example":"Default Name","exampleSetFlag":true},"contacts":{"type":"array","description":"TPP contact email addresses","example":["defaultemail@mail.org"],"exampleSetFlag":true,"items":{"type":"string","format":"url","exampleSetFlag":false}},"redirectUris":{"type":"array","description":"TPP URIs where user will be redirected after successful authentication","example":["https://example.com/login"],"exampleSetFlag":true,"items":{"type":"string","format":"url","exampleSetFlag":false}}},"exampleSetFlag":false},"inline_response_400":{"type":"object","properties":{"errors":{"type":"array","description":"error details","exampleSetFlag":false,"items":{"$ref":"#/components/schemas/errorResponse_errors","exampleSetFlag":false}}},"exampleSetFlag":false},"inline_response_200":{"type":"object","properties":{"status":{"type":"string","description":"TPP application status","exampleSetFlag":false,"enum":["ACTIVE","PENDING","BLOCKED_BY_BANK"]}},"exampleSetFlag":false},"tppclients_clientId_body":{"required":["appName","contacts","redirectUris"],"type":"object","properties":{"appName":{"type":"string","description":"TPP application name","example":"Default Name","exampleSetFlag":true},"contacts":{"type":"array","description":"TPP contact email addresses","example":["defaultemail@mail.org"],"exampleSetFlag":true,"items":{"type":"string","format":"url","exampleSetFlag":false}},"redirectUris":{"type":"array","description":"TPP URIs where user will be redirected after successful authentication","example":["https://example.com/login"],"exampleSetFlag":true,"items":{"type":"string","format":"url","exampleSetFlag":false}}},"exampleSetFlag":false},"errorResponse_errors":{"required":["category","code"],"properties":{"category":{"type":"string","description":"Error category. Only \"ERROR\" or \"WARNING\" permitted","example":"ERROR","exampleSetFlag":true,"enum":["ERROR","WARNING"]},"code":{"type":"string","description":"Error message code","example":"FORMAT_ERROR","exampleSetFlag":true},"text":{"type":"string","description":"Additional explaining text","example":"Review query parameters","exampleSetFlag":true}},"exampleSetFlag":true}},"headers":{"xRequestId":{"description":"Request ID defined by TPP","required":true,"schema":{"type":"string","exampleSetFlag":false},"example":"123kjhy456"},"contentType":{"description":"Type of content (application/json)","schema":{"type":"string","exampleSetFlag":false},"example":"application/json"}}}}