{
  "openapi": "3.0.3",
  "info": {
    "title": "Merchant Boarding API",
    "version": "1.37",
    "description": "\n# Overview\nThe ISV Enrollment API is an all-in-one API that enables software partners to submit merchant applications. </br>The ISV Enrollment API offers a seamless, streamlined experience, that adds value to existing technology by</br> simplifying and extending existing platform capabilities and functionalities.\n## Getting Started\n Before starting with enrollment application process, the client needs to create an application template using</br> Partner Portal’s Enrollment tool or a predefined system template can be used. The template defines the</br>equipment and pricing options that will be applied to the application. Each template has a unique Template </br>ID, referred to as Plan ID within the API specification.\n\nAuthentication is required every time an API request is made. Authentication is granted through the use of a</br> token. A token is granted when a user calls the authentication endpoint and\nsubmits a valid Client ID </br> and Client Secret pair. A Client ID and Client Secret are provided when a user initially requests access to the </br>API. See Authentication section for more details.\n ## Resource URLs\n - Sandbox:\n    - ISV Enrollment API: https://enrollment-api-sandbox.paymentshub.com/enroll\n\n\n - Production:\n    - ISV Enrollment API: https://enrollment-api.paymentshub.com/enroll",
    "contact": {
      "name": "API Support",
      "email": "developers@paymentshub.com"
    }
  },
  "servers": [
    {
      "url": "https://enrollment-api.paymentshub.com",
      "description": "Production Server"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "API key to authorize requests.</br><b> A Bearer Token is needed to be set in the Authorization header of every API call.</b></br> For additional support you can contact us."
      }
    },
    "schemas": {
      "numberPercentage": {
        "title": "numberPercentage",
        "description": "Percentage of the business that the Principal has ownership of. Number in percentage format. Range 0 ~ 100. One of the Principals must have greater than 75% ownership.",
        "type": "number",
        "format": "float",
        "minimum": 0,
        "maximum": 100,
        "example": 50.8
      },
      "businessStatisticsAmount": {
        "title": "businessStatisticsAmount",
        "description": "Business transaction statistics amount.",
        "type": "number",
        "format": "float",
        "minimum": 1,
        "maximum": 99999999.99,
        "default": 1,
        "example": 1001
      },
      "applicationDocumentId": {
        "title": "applicationDocumentId",
        "description": "Auto-generated number associated with the document that can be used to access it. This is the value returned in the fileId parameter from the Attach Document endpoint.",
        "type": "number",
        "format": "int32",
        "minimum": 1,
        "example": 12345
      },
      "twoFactorAuthCode": {
        "title": "twoFactorAuthCode",
        "description": "Two-Factor Authentication code.",
        "type": "string",
        "format": "string",
        "minLength": 1,
        "example": "1234"
      },
      "name": {
        "title": "name",
        "description": "Person's first or last name.",
        "type": "string",
        "format": "string",
        "minLength": 1,
        "maxLength": 40,
        "example": "John"
      },
      "socialSecurityNumber": {
        "title": "socialSecurityNumber",
        "description": "Social Security Number (SSN). For initial merchant application creation, SSN could be 4 or 9 digits. For final application submission, SSN must be 9 digits.",
        "type": "string",
        "format": "string",
        "pattern": "^(\\d{9}|\\d{4})$",
        "minLength": 9,
        "maxLength": 9,
        "default": null,
        "example": "987654321",
        "nullable": true
      },
      "dateOfBirth": {
        "title": "dateOfBirth",
        "description": "Date of birth in YYYY-MM-DD format.",
        "type": "string",
        "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
        "minLength": 10,
        "maxLength": 10,
        "example": "1999-01-31"
      },
      "driverLicenseNumber": {
        "title": "driverLicenseNumber",
        "description": "Driver's license number (Required if driver's license issued state is entered).",
        "type": "string",
        "format": "string",
        "minLength": 1,
        "maxLength": 40,
        "nullable": true,
        "default": null,
        "example": "ABC1234567890"
      },
      "driverLicenseIssuedState": {
        "title": "driverLicenseIssuedState",
        "description": "Address State (abbreviated) in which the driver's license was issued (Required if driver's license number is entered).",
        "type": "string",
        "format": "string",
        "minLength": 2,
        "maxLength": 2,
        "nullable": true,
        "default": null,
        "enum": [
          "AK",
          "AL",
          "AR",
          "AZ",
          "CA",
          "CO",
          "CT",
          "DC",
          "DE",
          "FL",
          "GA",
          "GU",
          "HI",
          "IA",
          "ID",
          "IL",
          "IN",
          "KS",
          "KY",
          "LA",
          "MA",
          "MD",
          "ME",
          "MI",
          "MN",
          "MO",
          "MP",
          "MS",
          "MT",
          "NC",
          "ND",
          "NE",
          "NH",
          "NJ",
          "NM",
          "NV",
          "NY",
          "OH",
          "OK",
          "OR",
          "PA",
          "PR",
          "RI",
          "SC",
          "SD",
          "TN",
          "TX",
          "UT",
          "VA",
          "VI",
          "VT",
          "WA",
          "WI",
          "WV",
          "WY",
          null
        ],
        "example": "MI"
      },
      "phoneNumber": {
        "title": "phoneNumber",
        "description": "Phone number.",
        "type": "string",
        "format": "string",
        "pattern": "^\\d{10}$",
        "minLength": 10,
        "maxLength": 10,
        "default": null,
        "example": "1234567890"
      },
      "email": {
        "title": "email",
        "description": "Email address.",
        "type": "string",
        "format": "string",
        "pattern": "^[A-Za-z0-9][A-Za-z0-9._%+-]{0,63}@(?:[A-Za-z0-9-]{1,63}\\.)+[A-Za-z]{2,63}$",
        "minLength": 3,
        "maxLength": 255,
        "default": null,
        "example": "email@example.com"
      },
      "street": {
        "title": "street",
        "description": "Street Address Line 1.",
        "type": "string",
        "format": "string",
        "minLength": 1,
        "maxLength": 80,
        "default": null,
        "example": "250 Stephenson Hwy"
      },
      "street2": {
        "title": "street2",
        "description": "Street Address Line 2.",
        "type": "string",
        "format": "string",
        "minLength": 0,
        "maxLength": 80,
        "default": null,
        "example": "Suite 100"
      },
      "city": {
        "title": "city",
        "description": "Address City.",
        "type": "string",
        "format": "string",
        "minLength": 1,
        "maxLength": 40,
        "default": null,
        "example": "Troy"
      },
      "state": {
        "title": "state",
        "description": "Address State (abbreviated).",
        "type": "string",
        "format": "string",
        "minLength": 2,
        "maxLength": 2,
        "enum": [
          "AK",
          "AL",
          "AR",
          "AZ",
          "CA",
          "CO",
          "CT",
          "DC",
          "DE",
          "FL",
          "GA",
          "GU",
          "HI",
          "IA",
          "ID",
          "IL",
          "IN",
          "KS",
          "KY",
          "LA",
          "MA",
          "MD",
          "ME",
          "MI",
          "MN",
          "MO",
          "MP",
          "MS",
          "MT",
          "NC",
          "ND",
          "NE",
          "NH",
          "NJ",
          "NM",
          "NV",
          "NY",
          "OH",
          "OK",
          "OR",
          "PA",
          "PR",
          "RI",
          "SC",
          "SD",
          "TN",
          "TX",
          "UT",
          "VA",
          "VI",
          "VT",
          "WA",
          "WI",
          "WV",
          "WY"
        ],
        "example": "MI"
      },
      "zipCode": {
        "title": "zipCode",
        "description": "Address zip code.",
        "type": "string",
        "format": "string",
        "minLength": 5,
        "maxLength": 10,
        "pattern": "^(\\d{5}$|^\\d{5}-\\d{4})$",
        "default": null,
        "example": "48083-1234"
      },
      "amexAccountNumber": {
        "title": "amexAccountNumber",
        "description": "AMEX Account Number",
        "type": "string",
        "format": "string",
        "minLength": 1,
        "maxLength": 255,
        "example": "test-account-12345",
        "nullable": true
      },
      "amexMonthlyVolume": {
        "title": "amexMonthlyVolume",
        "description": "AMEX Monthly Volume",
        "type": "number",
        "format": "float",
        "minimum": 0.0,
        "maximum": 8000000.0,
        "example": "12345.67",
        "nullable": true
      },
      "amexAnnualVolumeThresholdExceeded": {
        "title": "AMEX Annual Volume Threshold Exceeded",
        "description": "Set amexAnnualVolumeThresholdExceeded to true if AMEX annual volume is greater than $1,000,000.00. If amexAnnualVolumeThresholdExceeded is set to true, then AMEX account number is required.",
        "type": "boolean",
        "format": "boolean",
        "example": true,
        "nullable": true
      },
      "agentGroupId": {
        "title": "agentGroupId",
        "description": "Agent group ID.",
        "type": "integer",
        "format": "int32",
        "example": 1234,
        "nullable": true
      },
      "agentGroupName": {
        "title": "agentGroupName",
        "description": "Agent group name.",
        "type": "string",
        "format": "string",
        "example": "ABC corp agent group",
        "nullable": true
      },
      "agent": {
        "title": "agent",
        "description": "Agent or Sales Rep ID.",
        "type": "integer",
        "format": "int32",
        "example": 12345
      },
      "highRiskPercentOfBusinessTransactionsCbd": {
        "title": "highRiskPercentOfBusinessTransactionsCbd",
        "description": "Percent of CBD business transactions",
        "type": "number",
        "format": "float",
        "minimum": 0,
        "maximum": 100,
        "nullable": true,
        "example": 10
      },
      "isCannabis": {
        "title": "isCannabis",
        "description": "High risk business type flag - cannabis",
        "type": "boolean",
        "format": "boolean",
        "nullable": false,
        "example": false
      },
      "isCbd": {
        "title": "isCbd",
        "description": "High risk business type flag - CBD",
        "type": "boolean",
        "format": "boolean",
        "nullable": false,
        "example": false
      },
      "isKratom": {
        "title": "isKratom",
        "description": "High risk business type flag - kratom",
        "type": "boolean",
        "format": "boolean",
        "nullable": false,
        "example": false
      },
      "isSexuallyExplicitProducts": {
        "title": "isSexuallyExplicitProducts",
        "description": "High risk business type flag - sexually explicit product",
        "type": "boolean",
        "format": "boolean",
        "nullable": false,
        "example": false
      },
      "applicationName": {
        "title": "applicationName",
        "description": "String that can be used to identify the application.",
        "type": "string",
        "format": "string",
        "minLength": 1,
        "maxLength": 255,
        "example": "Joe's Pizza Shop application for location #123 in Troy"
      },
      "externalKey": {
        "title": "externalKey",
        "description": "Unique identifier for application.",
        "type": "string",
        "format": "string",
        "minLength": 1,
        "pattern": "^(?!.*/).*$",
        "example": "123abc"
      },
      "planId": {
        "title": "planId",
        "description": "The value for the Plan ID field will be the Template ID number available in Partner Portal. Plans refers to the application templates that are used to define payment equipment and pricing details for an application. These templates (or plans) are created in Partner Portal. For step-by-step instructions about obtaining a Plan ID, please refer to the Merchant Boarding API <a href='/products/fintech-tools/merchant-boarding-api/integration'>Integration Guide</a>.<br><br>Partner Portal has <a href='https://enrollment-sandbox.nab.nabancard.io/home' target='_blank'>Sandbox</a> and <a href='https://enrollment-sandbox.nab.nabancard.io/home' target='_blank'>Production</a> environments that correspond to the Sandbox and Production environments of the API. Your template must be created in the Partner Portal environment that corresponds to the API environment you wish to use. When testing in Sandbox or using the Try Now feature, a Sandbox Template ID must be used.",
        "type": "integer",
        "format": "int32",
        "example": 12345
      },
      "equipmentCostToMerchant": {
        "title": "equipmentCostToMerchant",
        "description": "Total cost of the equipment to be charged to the merchant. This amount will be ACH from the merchant’s account. If greater than 0, a $5 ACH fee will be charged to the Agent.",
        "type": "number",
        "format": "float",
        "default": 0,
        "minimum": 0,
        "maximum": 999999.99,
        "example": 25
      },
      "accountSetupFee": {
        "title": "accountSetupFee",
        "description": "Account setup fee charged to the merchant. Agents can set the fee in the application template, but if an override is required at the merchant level, this property can be used.",
        "type": "number",
        "format": "float",
        "minimum": 0,
        "maximum": 999999.9999,
        "example": 15.5
      },
      "discountFrequency": {
        "title": "discountFrequency",
        "description": "Discount frequency.",
        "type": "string",
        "format": "string",
        "default": "Daily",
        "enum": ["Daily", "Monthly"],
        "example": "Daily"
      },
      "equipmentId": {
        "title": "equipmentId",
        "description": "Numeric code corresponding to a piece of equipment.",
        "type": "integer",
        "format": "int32",
        "example": 809
      },
      "equipmentQuantity": {
        "title": "equipmentQuantity",
        "description": "Total number of devices per equipmentId.",
        "type": "integer",
        "format": "int32",
        "minimum": 0,
        "default": 1,
        "example": 5
      },
      "shippingDestination": {
        "title": "shippingDestination",
        "description": "Destination address where equipment will be shipped. If the value is set to `SHIP TO`, then the `shipTo` property within `businessAddress` is required. <br/><br/>AGENT - Agent address.<br/>CORPORATE - Corporate address<br/> DBA - Storefront address. DBA and Corporate address may be the same for some businesses<br/>OWNER1 - Primary principal address<br/>SHIP TO - Specified shipping address",
        "type": "string",
        "format": "string",
        "default": "DBA",
        "enum": ["AGENT", "CORPORATE", "DBA", "OWNER1", "SHIP TO"],
        "example": "DBA"
      },
      "shippingDeliveryMethod": {
        "title": "shippingDeliveryMethod",
        "description": "Shipping delivery method.",
        "type": "string",
        "format": "string",
        "default": "Ground",
        "enum": [
          "2nd Day Air",
          "Ground",
          "Next Day Air 8:00am",
          "Next Day Air 10:30am",
          "Next Day Air Saver 3:00pm",
          "Pick Up"
        ],
        "example": "Ground"
      },
      "principalTitle": {
        "title": "principalTitle",
        "description": "Principal designation.",
        "type": "string",
        "format": "string",
        "default": "owner",
        "enum": ["ceo", "manager", "owner", "partner", "president", "vice president"],
        "example": "owner"
      },
      "principalIsPersonalGuarantor": {
        "title": "principalIsPersonalGuarantor",
        "description": "Denotes whether the specified principal is a personal guarantor.",
        "type": "boolean",
        "format": "boolean",
        "default": false,
        "example": true
      },
      "businessDbaName": {
        "title": "businessDbaName",
        "description": "The operating name of the business.",
        "type": "string",
        "format": "string",
        "minLength": 1,
        "maxLength": 75,
        "example": "Joe's Pizza"
      },
      "businessCorporateName": {
        "title": "businessCorporateName",
        "description": "Business' legal name. If the corporate name is longer than 30 characters, please only provide the first 30 characters. Do not use an abbreviation.",
        "type": "string",
        "format": "string",
        "minLength": 1,
        "maxLength": 30,
        "example": "Joe Pizza Inc."
      },
      "businessIndustryType": {
        "title": "businessIndustryType",
        "description": "Type of payment processing industry.<br/>internet - Digital payment processing<br/>moto - Mail Order/Telephone Order. Payment processing that takes place when a customer provides their payment information via phone or mail<br/>restaurant - Restaurant business payment processing<br/>retail - Retail business payment processing",
        "type": "string",
        "format": "string",
        "enum": ["internet", "moto", "restaurant", "retail"],
        "example": "restaurant"
      },
      "businessType": {
        "title": "businessType",
        "description": "Type of business<br/><br/>A-Association/Estate/Trust<br/>C-Corporation<br/>G-Government<br/>I-International Organization<br/>L-LLC<br/>M-Medical/Legal Corporation<br/>N-Non-Profit<br/>P-Partnership<br/>S-Sole Proprietor<br/>T-Tax Exempt Organization",
        "type": "string",
        "format": "string",
        "minLength": 1,
        "maxLength": 1,
        "enum": ["A", "C", "G", "I", "L", "M", "N", "P", "S", "T"],
        "example": "C"
      },
      "federalTaxIdNumber": {
        "title": "federalTaxIdNumber",
        "description": "Employer Identification Number (EIN) or Federal Tax Identification Number (TIN) assigned by the Internal Revenue Service (IRS).",
        "type": "string",
        "format": "string",
        "minLength": 9,
        "maxLength": 9,
        "pattern": "^\\d{9}$",
        "example": "123456789"
      },
      "federalTaxIdType": {
        "title": "federalTaxIdType",
        "description": "Type of Federal Tax Identification Number. EIN is typically used to identify a corporation. SSN is typically used to identify a sole proprietorship.",
        "type": "string",
        "format": "string",
        "minLength": 3,
        "maxLength": 3,
        "enum": ["SSN", "EIN"],
        "example": "SSN"
      },
      "mcc": {
        "title": "mcc",
        "description": "Merchant Category Code assigned by a payment card organization to a merchant/payee.",
        "type": "string",
        "format": "string",
        "pattern": "^\\d{4}$",
        "minLength": 4,
        "maxLength": 4,
        "example": "5812"
      },
      "url": {
        "title": "url",
        "description": "Website URL.",
        "type": "string",
        "format": "string",
        "minLength": 1,
        "example": "https://www.test-site.com"
      },
      "websiteCustomerServiceEmail": {
        "title": "websiteCustomerServiceEmail",
        "description": "Customer service email address listed on the website.",
        "type": "string",
        "format": "string",
        "pattern": "^[A-Za-z0-9][A-Za-z0-9._%+-]{0,63}@(?:[A-Za-z0-9-]{1,63}\\.)+[A-Za-z]{2,63}$",
        "minLength": 3,
        "maxLength": 255,
        "default": null,
        "example": "customer-service-email@example.com"
      },
      "websiteCustomerServicePhoneNumber": {
        "title": "websiteCustomerServicePhoneNumber",
        "description": "Customer service phone number listed on the website.",
        "type": "string",
        "format": "string",
        "pattern": "^\\d{10}$",
        "minLength": 10,
        "maxLength": 10,
        "default": null,
        "example": "1234567890"
      },
      "statementDeliveryMethod": {
        "title": "statementDeliveryMethod",
        "description": "Monthly statement delivery method.",
        "type": "string",
        "format": "string",
        "default": "electronic",
        "enum": ["paper", "electronic"],
        "example": "paper"
      },
      "merchandiseServicesSold": {
        "title": "merchandiseServicesSold",
        "description": "List of merchant services and products offered.",
        "type": "string",
        "format": "string",
        "minLength": 1,
        "maxLength": 255,
        "default": null,
        "example": "Computer electronics, peripherals and hardware"
      },
      "yearsInBusiness": {
        "title": "yearsInBusiness",
        "description": "This property is used in conjunction with the property 'monthsInBusiness.' If a business was started X years and Y months ago, enter the number of years X in this field. For example, if a business was started on 2000-02-01 and the current date is 2020-07-30, the business was started 20 years and 6 months ago, so yearsInBusiness should be equal to 20.",
        "type": "number",
        "minimum": 0,
        "maximum": 500,
        "default": null,
        "example": 25
      },
      "monthsInBusiness": {
        "title": "monthsInBusiness",
        "description": "This property is used in conjunction with the property 'yearsInBusiness.' If a business was started X years and Y months ago, enter the number of months Y in this field. For example, if a business was started on 2000-02-01 and the current date is 2020-07-30, the business was started 20 years and 6 months ago, so monthsInBusiness should be equal to 6.",
        "minimum": 0,
        "maximum": 11,
        "type": "number",
        "default": null,
        "example": 2
      },
      "bankRoutingNumber": {
        "title": "bankRoutingNumber",
        "description": "Bank routing number used to identify a financial banking institution in a transaction.",
        "type": "string",
        "format": "string",
        "minLength": 9,
        "maxLength": 9,
        "pattern": "^\\d{9}$",
        "example": "000000001"
      },
      "bankAccountNumber": {
        "title": "bankAccountNumber",
        "description": "Bank account number.",
        "type": "string",
        "format": "string",
        "minLength": 1,
        "maxLength": 17,
        "pattern": "^[A-Za-z0-9]{1,17}$",
        "example": "1234567890"
      },
      "bankAccountType": {
        "title": "bankAccountType",
        "description": "Type of bank account.",
        "type": "string",
        "format": "string",
        "enum": ["checking", "savings"],
        "example": "checking"
      },
      "corporateId": {
        "title": "corporateId",
        "description": "EPX Corporation ID.",
        "type": "string",
        "format": "string",
        "default": null,
        "example": "12345"
      },
      "divisionId": {
        "title": "divisionId",
        "description": "EPX Division ID.",
        "type": "string",
        "format": "string",
        "default": null,
        "example": "98765"
      },
      "createCorporate": {
        "title": "createCorporate",
        "description": "Denotes whether a new Corporation needs to be created.",
        "type": "boolean",
        "default": false,
        "example": true
      },
      "createDivision": {
        "title": "createDivision",
        "description": "Denotes whether a new Division needs to be created.",
        "type": "boolean",
        "default": false,
        "example": true
      },
      "merchantId": {
        "title": "merchantId",
        "description": "Merchant identification number.",
        "type": "string",
        "format": "string",
        "example": "1234567891234",
        "minLength": 1,
        "pattern": "^\\d*$"
      },
      "applicationStatus": {
        "title": "applicationStatus",
        "description": "Application processing status. Value will be one of the following<br/><br/><b>Merchant Approved</b> <span style='color: #707A7E'>will be returned when when the application has been completed by the merchant.</span><br/><b>Validation Error</b> <span style='color: #707A7E'>will be returned when a value submitted on the application does not pass validation.</span><br/><b>Finalized</b> <span style='color: #707A7E'>will be returned when the application is processing.</span><br/><b>Work in Progress</b> <span style='color: #707A7E'>will be returned when the application is open.</span><br/><b>Sent to System</b> <span style='color: #707A7E'>will be returned when the application has been submitted to Underwriting.</span><br/><b>Waiting for Merchant</b> <span style='color: #707A7E'>will be returned when the application has been sent to the merchant.</span>",
        "type": "string",
        "example": "finalized"
      },
      "underwritingStatus": {
        "title": "underwritingStatus",
        "description": "Application underwriting status. Value will be one of the following:<br/><br/><b>Enrollment</b> <span style='color: #707A7E'>will be returned when the merchant application is going through the background processes that occur prior to Underwriting decisioning, such as credit history, KYC verification, etc.</span><br/><b>Pending</b> <span style='color: #707A7E'>will be returned when the merchant application was received by Underwriting and is under their review.</span><br/><b>Approved</b> <span style='color: #707A7E'>will be returned when the merchant application has been approved and the merchant can now start processing on the account.</span><br/><b>Declined</b> <span style='color: #707A7E'>will be returned when the merchant application was declined by Underwriting.</span><br/><b>Withdrawn</b> <span style='color: #707A7E'>will be returned when the merchant application was withdrawn by the merchant or agent.</span><br/><b>Fraud</b> <span style='color: #707A7E'>will be returned when the merchant account was flagged as potentially fraudulent.</span><br/><b>Closed</b> <span style='color: #707A7E'>will be returned when the merchant has closed their account and is no longer processing payments.</span><br/><b>Closed by Collections</b> <span style='color: #707A7E'>will be returned when the merchant's prior collections balance has been satisfied and the account is closed.</span><br/><b>Closed by Risk</b> <span style='color: #707A7E'>will be returned when the account has been closed by Risk due to failure to process within the approved parameters of the merchant's agreement.</span><br/><b>Approved Collections</b> <span style='color: #707A7E'>will be returned when the merchant has an unresolved collections balance and the account is being managed by the internal Collections department.</span><br/><b>Collections</b> <span style='color: #707A7E'>will be returned when the merchant has an unresolved collections balance that has been referred to an Outside Collections Agency or Collections Attorney.</span>",
        "type": "string",
        "example": "Enrollment"
      },
      "merchantEnrollmentUrl": {
        "title": "merchantEnrollmentUrl",
        "description": "Enrollment website URL for merchant completion.",
        "type": "string"
      },
      "applicationSentToMerchantAt": {
        "title": "applicationSentToMerchantAt",
        "description": "Denotes timestamp for enrollment application sent to merchant for completion.",
        "type": "string"
      },
      "applicationStartedOn": {
        "title": "applicationStartedOn",
        "description": "Denotes timestamp for enrollment application started by merchant.",
        "type": "string"
      },
      "applicationCompletedOn": {
        "title": "applicationCompletedOn",
        "description": "Denotes timestamp for enrollment application submitted by merchant."
      },
      "ipAddress": {
        "title": "IP address of the merchant.",
        "description": "Public IP address of the merchant. Compatible versions: IPv4, IPv6.",
        "type": "string",
        "minLength": 1,
        "example": "127.0.0.1"
      },
      "signatureDate": {
        "title": "Merchant signature timestamp.",
        "description": "Timestamp representing digital merchant signature capture date.",
        "type": "string",
        "minLength": 1,
        "pattern": "^\\d{4}-\\d{2}-\\d{2}(?: \\d{2}:\\d{2}:\\d{2})?(?:\\.[0-9]\\d{0,5})?(?:[+-][0-9]\\d{0,5})?$",
        "example": "2020-01-01 01:01:01"
      },
      "pciFeeBillingFrequency": {
        "title": "PCI fee billing frequency",
        "description": "Billing frequency for PCI fee.",
        "type": "string",
        "default": "ANNUAL",
        "enum": ["MONTHLY", "ANNUAL", "monthly", "annual", "Monthly", "Annual"],
        "example": "ANNUAL"
      },
      "rewardRate": {
        "title": "Reward rate",
        "description": "Reward rate.",
        "type": "string",
        "enum": ["MQ", "Q", "20", "30", "40", "50", "60", "70", "80", "90", "95"],
        "example": "Q"
      },
      "qualifiedRate": {
        "title": "Qualified rate",
        "description": "Qualified rate.",
        "type": "number",
        "nullable": true,
        "minimum": 0,
        "maximum": 99,
        "example": 0.25
      },
      "amexQualifiedRate": {
        "title": "AMEX qualified rate",
        "description": "AMEX qualified rate.",
        "type": "number",
        "nullable": true,
        "minimum": 0,
        "maximum": 99,
        "example": 0.25
      },
      "midQualifiedBump": {
        "title": "Mid-qualified bump",
        "description": "Mid-qualified rate.",
        "type": "number",
        "nullable": true,
        "minimum": 0,
        "maximum": 99,
        "example": 0.25
      },
      "nonQualifiedBump": {
        "title": "Non-qualified bump",
        "description": "Non-qualified rate.",
        "type": "number",
        "nullable": true,
        "minimum": 0,
        "maximum": 99,
        "example": 0.25
      },
      "nonQualifiedTransactionFeeBump": {
        "title": "Non-qualified transaction fee bump",
        "description": "Non-qualified transaction fee.",
        "type": "number",
        "nullable": true,
        "minimum": 0,
        "maximum": 999999.99,
        "example": 1.25
      },
      "interchangeDuesAssessmentsBasisPoint": {
        "title": "Interchange dues assessments basis points",
        "description": "Interchange dues assessments basis points.",
        "type": "number",
        "nullable": true,
        "minimum": 0,
        "maximum": 1000,
        "example": 25
      },
      "amexInterchangeDuesAssessmentsBasisPoint": {
        "title": "AMEX Interchange dues assessments basis points",
        "description": "AMEX Interchange dues assessments basis points.",
        "type": "number",
        "nullable": true,
        "minimum": 0,
        "maximum": 1000,
        "example": 25
      },
      "qualifiedCheckCardRate": {
        "title": "Qualified checkcard rate",
        "description": "Qualified checkcard rate.",
        "type": "number",
        "nullable": true,
        "minimum": 0,
        "maximum": 99,
        "example": 0.25
      },
      "qualifiedAmexTransactionFee": {
        "title": "Qualified AMEX transaction fee",
        "description": "Qualified AMEX transaction fee",
        "type": "number",
        "nullable": true,
        "minimum": 0,
        "maximum": 999999.99,
        "example": 1.25
      },
      "qualifiedCheckCardTransactionFee": {
        "title": "Qualified Checkcard Transaction fee",
        "description": "Qualified Checkcard Transaction fee.",
        "type": "number",
        "nullable": true,
        "minimum": 0,
        "maximum": 999999.99,
        "example": 1.25
      },
      "qualifiedTransactionFee": {
        "title": "Qualified transaction fee",
        "description": "Qualified transaction fee.",
        "type": "number",
        "nullable": true,
        "minimum": 0,
        "maximum": 999999.99,
        "example": 1.25
      },
      "ebtInterchangeDuesAssessmentsBasisPoint": {
        "title": "EBT interchange dues assessments basis points",
        "description": "EBT interchange dues assessments basis points.",
        "type": "number",
        "nullable": true,
        "minimum": 0,
        "maximum": 1000,
        "example": 25
      },
      "ebtQualifiedRate": {
        "title": "EBT qualified rate",
        "description": "EBT qualified rate.",
        "type": "number",
        "nullable": true,
        "minimum": 0,
        "maximum": 99,
        "example": 0.25
      },
      "debitInterchangeDuesAssessmentsBasisPoint": {
        "title": "Debit Interchange dues assessments basis points",
        "description": "Debit Interchange dues assessments basis points.",
        "type": "number",
        "nullable": true,
        "minimum": 0,
        "maximum": 1000,
        "example": 25
      },
      "debitQualifiedRate": {
        "title": "Debit qualified rate",
        "description": "Debit qualified rate.",
        "type": "number",
        "nullable": true,
        "minimum": 0,
        "maximum": 99,
        "example": 0.25
      },
      "achTransactionFee": {
        "title": "ACH transaction fee",
        "description": "ACH transaction fee.",
        "type": "number",
        "nullable": true,
        "minimum": 0,
        "maximum": 99,
        "example": 0.25
      },
      "batchHeader": {
        "title": "Batch header fee",
        "description": "Batch header fee.",
        "type": "number",
        "nullable": false,
        "minimum": 0,
        "maximum": 999999.9999,
        "example": 1.25
      },
      "edgeFlatFee": {
        "title": "Edge flat rate fee amount",
        "description": "Edge flat rate fee amount.",
        "type": "number",
        "nullable": false,
        "minimum": 0,
        "maximum": 999999.9999,
        "example": 1.25
      },
      "chargeBackFee": {
        "title": "Chargeback fee",
        "description": "Chargeback fee.",
        "type": "number",
        "nullable": false,
        "minimum": 0,
        "maximum": 999999.9999,
        "example": 1.25
      },
      "debitGatewayFee": {
        "title": "Debit gateway fee",
        "description": "Debit gateway fee.",
        "type": "number",
        "nullable": false,
        "minimum": 0,
        "maximum": 999999.9999,
        "example": 1.25
      },
      "debitTransactionFee": {
        "title": "Debit transaction fee",
        "description": "Debit transaction fee.",
        "type": "number",
        "nullable": false,
        "minimum": 0,
        "maximum": 999999.9999,
        "example": 1.25
      },
      "ebtTransactionFee": {
        "title": "EBT transaction fee",
        "description": "EBT transaction fee.",
        "type": "number",
        "nullable": false,
        "minimum": 0,
        "maximum": 999999.9999,
        "example": 1.25
      },
      "gatewayTransactionFee": {
        "title": "Gateway transaction fee",
        "description": "Gateway transaction fee.",
        "type": "number",
        "nullable": false,
        "minimum": 0,
        "maximum": 999999.9999,
        "example": 1.25
      },
      "interchangeTransactionPassthroughCheckcardFee": {
        "title": "Interchange transaction passthrough checkcard fee",
        "description": "Interchange transaction passthrough checkcard fee.",
        "type": "number",
        "nullable": false,
        "minimum": 0,
        "maximum": 999999.9999,
        "example": 1.25
      },
      "interchangeTransactionPassthroughCreditFee": {
        "title": "Interchange transaction passthrough credit fee",
        "description": "Interchange transaction passthrough credit fee.",
        "type": "number",
        "nullable": false,
        "minimum": 0,
        "maximum": 999999.9999,
        "example": 1.25
      },
      "internetGatewayMonthlyFee": {
        "title": "Internet gateway fee (monthly)",
        "description": "Internet gateway fee (monthly).",
        "type": "number",
        "nullable": false,
        "minimum": 0,
        "maximum": 999999.9999,
        "example": 1.25
      },
      "internetTransactionFee": {
        "title": "Internet transaction fee",
        "description": "Internet transaction fee.",
        "type": "number",
        "nullable": false,
        "minimum": 0,
        "maximum": 999999.9999,
        "example": 1.25
      },
      "mcclaimsFee": {
        "title": "MC claims fee",
        "description": "MC claims fee.",
        "type": "number",
        "nullable": false,
        "minimum": 0,
        "maximum": 999999.9999,
        "example": 1.25
      },
      "merchantClubFee": {
        "title": "Payments Hub fee",
        "description": "Payments Hub fee.",
        "type": "number",
        "nullable": false,
        "minimum": 0,
        "maximum": 999999.9999,
        "example": 1.25
      },
      "monthlyBasicServiceFee": {
        "title": "Monthly basic service fee",
        "description": "Monthly basic service fee.",
        "nullable": false,
        "minimum": 0,
        "maximum": 999999.9999,
        "example": 1.25
      },
      "monthlyDiscountFee": {
        "title": "Monthly discount fee",
        "description": "Monthly discount fee.",
        "nullable": false,
        "minimum": 0,
        "maximum": 99,
        "example": 10
      },
      "monthlyHostingFee": {
        "title": "Monthly hosting fee",
        "description": "Monthly hosting fee.",
        "nullable": false,
        "minimum": 0,
        "maximum": 999999.9999,
        "example": 1.25
      },
      "monthlyMinimumDiscountFee": {
        "title": "Monthly minimum discount fee",
        "description": "Monthly minimum discount fee.",
        "type": "number",
        "nullable": false,
        "minimum": 0,
        "maximum": 999999.9999,
        "example": 1.25
      },
      "monthlyMinimumFee": {
        "title": "Monthly minimum fee",
        "description": "Monthly minimum fee.",
        "nullable": false,
        "minimum": 0,
        "maximum": 999999.9999,
        "example": 1.25
      },
      "monthlyRegulatoryFee": {
        "title": "Monthly regulatory fee",
        "description": "Monthly regulatory fee.",
        "nullable": false,
        "minimum": 0,
        "maximum": 999999.9999,
        "example": 1.25
      },
      "monthlySoftwareFeePerDevice": {
        "title": "Monthly software fee (per device)",
        "description": "Monthly software fee (per device).",
        "type": "number",
        "nullable": false,
        "minimum": 0,
        "maximum": 999999.9999,
        "example": 1.25
      },
      "processorAuthorizationFee": {
        "title": "Processor authorization fee",
        "description": "Processor authorization fee.",
        "nullable": false,
        "minimum": 0,
        "maximum": 999999.9999,
        "example": 1.25
      },
      "retrievalFee": {
        "title": "Retrieval fee",
        "description": "Retrieval fee.",
        "type": "number",
        "nullable": false,
        "minimum": 0,
        "maximum": 999999.9999,
        "example": 1.25
      },
      "returnItemSupportFee": {
        "title": "Return item support fee",
        "description": "Return item support fee.",
        "nullable": false,
        "minimum": 0,
        "maximum": 999999.9999,
        "example": 1.25
      },
      "settledTransactionFee": {
        "title": "Settled transaction fee",
        "description": "Settled transaction fee.",
        "type": "number",
        "nullable": false,
        "minimum": 0,
        "maximum": 999999.9999,
        "example": 1.25
      },
      "technologyFee": {
        "title": "Technology fee",
        "description": "Technology fee.",
        "type": "number",
        "nullable": false,
        "minimum": 0,
        "maximum": 99,
        "example": 0.25
      },
      "travelAndEntertainmentDraftCaptureTransactionFee": {
        "title": "TED (Travel and Entertainment Draft) capture transaction fee",
        "description": "TED (Travel and Entertainment Draft) capture transaction fee.",
        "type": "number",
        "nullable": false,
        "minimum": 0,
        "maximum": 999999.9999,
        "example": 1.25
      },
      "wirelessMonthlyFee": {
        "title": "Wireless fee (Monthly)",
        "description": "Wireless fee (Monthly).",
        "type": "number",
        "nullable": false,
        "minimum": 0,
        "maximum": 999999.9999,
        "example": 1.25
      },
      "wirelessTransactionFee": {
        "title": "Wireless transaction fee",
        "description": "Wireless transaction fee.",
        "type": "number",
        "nullable": false,
        "minimum": 0,
        "maximum": 999999.9999,
        "example": 1.25
      },
      "edgePercentFee": {
        "title": "Edge flat rate percentage rate",
        "description": "Edge flat rate percentage rate.",
        "type": "number",
        "nullable": false,
        "minimum": 0,
        "maximum": 99,
        "example": 0.25
      },
      "enableDebitInterchangeBilling": {
        "title": "Enable debit interchange billing",
        "description": "Enable debit interchange billing",
        "type": "boolean",
        "nullable": false,
        "example": true
      },
      "enableNetworkAccessBrandFees": {
        "title": "Enable network access brand fees",
        "description": "Enable network access brand fees (such as Discover network access brand fee, AMEX network access brand fee, PayPal network access brand fee, Mastercard network access brand fee, and Visa network access brand fee).",
        "type": "boolean",
        "nullable": false,
        "example": true
      },
      "waiveTerminationFee": {
        "title": "Waive terminal fee",
        "description": "Waive terminal fee.",
        "type": "boolean",
        "nullable": false,
        "example": false
      },
      "enableInterchangeTransactionPassthroughFee": {
        "title": "Enable interchange transaction passthrough fees",
        "description": "Enable interchange transaction passthrough fees (interchange transaction passthrough checkcard fee and interchange transaction passthrough credit fee).",
        "type": "boolean",
        "nullable": false,
        "example": true
      },
      "enablePassthroughAssessment": {
        "title": "Enable passthrough assessment",
        "description": "Enable passthrough assessment.",
        "type": "boolean",
        "nullable": false,
        "example": false
      },
      "paginationLinkToSelf": {
        "title": "Pagination link to current search results",
        "description": "Pagination link to the current search results.",
        "type": "string",
        "format": "string",
        "nullable": false,
        "example": "/enroll/search?pageNumber=1&pageSize=100"
      },
      "paginationLinkToNext": {
        "title": "Pagination link to next set of search results (if available)",
        "description": "Pagination link to the next set of search results (if available). If the property \"next\" is not present in the response, it indicates that there are no more records available based on search criteria.",
        "type": "string",
        "format": "string",
        "nullable": false,
        "example": "/enroll/search?pageNumber=2&pageSize=100"
      },
      "paginationLinkToPrevious": {
        "title": "Pagination link to previous set of search results (if available)",
        "description": "Pagination link to the previous set of search results (if available). If the property \"previous\" is not present in the response, it indicates that there are no previous records available based on search criteria.",
        "type": "string",
        "format": "string",
        "nullable": false,
        "example": "/enroll/search?pageNumber=2&pageSize=100"
      },
      "paginationPageNumber": {
        "title": "Page number.",
        "description": "Indicates the current page number for paginated results. Page numbers start at 1.",
        "type": "integer",
        "format": "integer",
        "nullable": false,
        "default": 1,
        "minimum": 1,
        "maximum": 999999999999999,
        "example": 1500
      },
      "paginationPageSize": {
        "title": "Page size",
        "description": "Indicates how many results to return per page.",
        "type": "integer",
        "format": "integer",
        "nullable": false,
        "default": 100,
        "minimum": 1,
        "maximum": 100,
        "example": 50
      },
      "findBy": {
        "title": "A comma-separated list of search terms to filter the results",
        "description": "A comma-separated list of search terms to filter the results based on matching search term criteria. You can search for applications and narrow the results using these search qualifiers in combination.",
        "type": "string",
        "format": "string",
        "nullable": false,
        "example": "byAgent:12345,submission:open"
      },
      "paginationTotal": {
        "title": "Pagination total search results",
        "description": "Indicates the total number of records available to be fetched, based on search criteria.",
        "type": "integer",
        "format": "integer",
        "nullable": false,
        "example": 55000
      },
      "paginationCurrentResultCount": {
        "title": "Pagination current result count",
        "description": "Indicates the total number of records fetched within current list.",
        "type": "integer",
        "format": "integer",
        "minimum": 0,
        "nullable": false,
        "example": 50
      },
      "paginationHasMoreResults": {
        "title": "Pagination has more results",
        "description": "Pagination has more page(s) of items after current list that can be fetched.",
        "type": "boolean",
        "format": "boolean",
        "nullable": false,
        "example": true
      },
      "underwritingBank": {
        "title": "Underwriting bank.",
        "description": "Underwriting bank.",
        "type": "string",
        "format": "string",
        "nullable": false,
        "example": "TBB"
      },
      "underwritingStatusCode": {
        "title": "Status code for merchant application",
        "description": "Status code to set merchant application status.",
        "type": "string",
        "format": "string",
        "nullable": false,
        "enum": ["A"],
        "example": "A"
      },
      "eligibleUnderwritingBank": {
        "title": "List of eligible underwriting banks a merchant application is qualified for.",
        "description": "List of eligible underwriting banks a merchant application is qualified for.",
        "type": "array",
        "items": {
          "type": "string",
          "example": ["BMO", "TBB", "CTZ"]
        }
      },
      "grantType": {
        "title": "grantType",
        "description": "Oauth token grantType.",
        "type": "string",
        "example": "client_credentials"
      },
      "scope": {
        "title": "scope",
        "description": "Oauth token scope",
        "type": "string",
        "example": "all"
      },
      "clientId": {
        "title": "clientId",
        "description": "Oauth token clientId",
        "type": "string",
        "example": "example_sandbox"
      },
      "clientSecret": {
        "title": "clientSecret",
        "description": "Oauth token clientSecret",
        "type": "string"
      },
      "accessToken": {
        "title": "accessToken",
        "description": "Oauth token accessToken",
        "type": "string"
      },
      "tokenType": {
        "title": "tokenType",
        "description": "Oauth token tokenType",
        "type": "string",
        "example": "bearer"
      },
      "expiresIn": {
        "title": "expiresIn",
        "description": "Oauth token expiresIn",
        "type": "number",
        "example": 300
      },
      "oauthTokenModel": {
        "title": "oauthTokenModel",
        "description": "oauth token request object",
        "type": "object",
        "allOf": [
          {
            "properties": {
              "grant_type": {
                "$ref": "#/components/schemas/grantType"
              },
              "scope": {
                "$ref": "#/components/schemas/scope"
              },
              "client_id": {
                "$ref": "#/components/schemas/clientId"
              },
              "client_secret": {
                "$ref": "#/components/schemas/clientSecret"
              }
            }
          },
          {
            "required": ["grant_type", "scope", "client_id", "client_secret"]
          }
        ]
      },
      "enrollmentPrincipalModel": {
        "title": "enrollmentPrincipalModel",
        "description": "Business principal object.",
        "type": "object",
        "properties": {
          "firstName": {
            "$ref": "#/components/schemas/name"
          },
          "lastName": {
            "$ref": "#/components/schemas/name"
          },
          "socialSecurityNumber": {
            "$ref": "#/components/schemas/socialSecurityNumber"
          },
          "driverLicenseNumber": {
            "$ref": "#/components/schemas/driverLicenseNumber"
          },
          "driverLicenseIssuedState": {
            "$ref": "#/components/schemas/driverLicenseIssuedState"
          },
          "dateOfBirth": {
            "$ref": "#/components/schemas/dateOfBirth"
          },
          "phoneNumber": {
            "$ref": "#/components/schemas/phoneNumber"
          },
          "email": {
            "$ref": "#/components/schemas/email"
          },
          "street": {
            "$ref": "#/components/schemas/street"
          },
          "street2": {
            "$ref": "#/components/schemas/street2"
          },
          "city": {
            "$ref": "#/components/schemas/city"
          },
          "state": {
            "$ref": "#/components/schemas/state"
          },
          "zipCode": {
            "$ref": "#/components/schemas/zipCode"
          },
          "equityOwnershipPercentage": {
            "$ref": "#/components/schemas/numberPercentage"
          },
          "title": {
            "$ref": "#/components/schemas/principalTitle"
          },
          "isPersonalGuarantor": {
            "$ref": "#/components/schemas/principalIsPersonalGuarantor"
          }
        }
      },
      "enrollmentPrincipalWithAllRequiredValuesModel": {
        "title": "enrollmentPrincipalWithAllRequiredValuesModel",
        "description": "Business principal model with all required properties.",
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/enrollmentPrincipalModel"
          },
          {
            "properties": {
              "socialSecurityNumber": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/socialSecurityNumber"
                  },
                  {
                    "pattern": "^\\d{9}$",
                    "minLength": 9,
                    "maxLength": 9
                  }
                ]
              }
            }
          },
          {
            "required": [
              "firstName",
              "lastName",
              "socialSecurityNumber",
              "dateOfBirth",
              "phoneNumber",
              "email",
              "street",
              "city",
              "state",
              "zipCode",
              "equityOwnershipPercentage",
              "title",
              "isPersonalGuarantor"
            ]
          }
        ]
      },
      "enrollmentBusinessContactModel": {
        "title": "enrollmentBusinessContactModel",
        "description": "Primary business contact information for communication.",
        "type": "object",
        "properties": {
          "firstName": {
            "$ref": "#/components/schemas/name"
          },
          "lastName": {
            "$ref": "#/components/schemas/name"
          },
          "socialSecurityNumber": {
            "description": "Social security number (SSN).",
            "type": "string",
            "format": "string",
            "pattern": "^\\d{9}$",
            "minLength": 9,
            "maxLength": 9,
            "example": "987654321",
            "default": null,
            "nullable": true
          },
          "dateOfBirth": {
            "$ref": "#/components/schemas/dateOfBirth"
          },
          "phoneNumber": {
            "$ref": "#/components/schemas/phoneNumber"
          },
          "email": {
            "$ref": "#/components/schemas/email"
          },
          "street": {
            "$ref": "#/components/schemas/street"
          },
          "street2": {
            "$ref": "#/components/schemas/street2"
          },
          "city": {
            "$ref": "#/components/schemas/city"
          },
          "state": {
            "$ref": "#/components/schemas/state"
          },
          "zipCode": {
            "$ref": "#/components/schemas/zipCode"
          }
        }
      },
      "enrollmentBusinessContactWithAllRequiredValuesModel": {
        "title": "enrollmentBusinessContactWithAllRequiredValuesModel",
        "description": "Primary business contact information for communication with all required properties.",
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/enrollmentBusinessContactModel"
          },
          {
            "properties": {
              "socialSecurityNumber": {
                "description": "Social security number (SSN).",
                "type": "string",
                "format": "string",
                "pattern": "^\\d{9}$",
                "minLength": 9,
                "maxLength": 9,
                "example": "987654321"
              }
            }
          },
          {
            "required": [
              "firstName",
              "lastName",
              "email",
              "phoneNumber",
              "socialSecurityNumber",
              "dateOfBirth",
              "street",
              "city",
              "state",
              "zipCode"
            ]
          }
        ]
      },
      "enrollmentBankAccountModel": {
        "title": "enrollmentBankAccountModel",
        "description": "Bank account object.",
        "type": "object",
        "properties": {
          "abaRouting": {
            "$ref": "#/components/schemas/bankRoutingNumber"
          },
          "demandDepositAccount": {
            "$ref": "#/components/schemas/bankAccountNumber"
          },
          "accountType": {
            "$ref": "#/components/schemas/bankAccountType"
          }
        }
      },
      "enrollmentBankAccountWithAllRequiredValuesModel": {
        "title": "enrollmentBankAccountWithAllRequiredValuesModel",
        "description": "Bank account object.",
        "allOf": [
          {
            "$ref": "#/components/schemas/enrollmentBankAccountModel"
          },
          {
            "required": ["abaRouting", "demandDepositAccount", "accountType"]
          }
        ]
      },
      "businessWebsitesModel": {
        "title": "businessWebsitesModel",
        "description": "Collection of business website(s) and related details.<br> Property `url` is required, when object is not empty.",
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "url": {
              "$ref": "#/components/schemas/url"
            },
            "websiteCustomerServiceEmail": {
              "$ref": "#/components/schemas/websiteCustomerServiceEmail"
            },
            "websiteCustomerServicePhoneNumber": {
              "$ref": "#/components/schemas/websiteCustomerServicePhoneNumber"
            }
          }
        }
      },
      "enrollmentShipToAddressModel": {
        "title": "enrollmentShipToAddressModel",
        "description": "Ship to address model. Required property when `shippingDestination` property value is set to `SHIP TO`.",
        "type": "object",
        "properties": {
          "street": {
            "title": "ship to street",
            "description": "Ship to Street Address Line 1.",
            "type": "string",
            "format": "string",
            "minLength": 1,
            "maxLength": 30,
            "default": null,
            "example": "250 Stephenson Hwy"
          },
          "street2": {
            "title": "ship to street2",
            "description": "Ship to Street Address Line 2.",
            "type": "string",
            "format": "string",
            "minLength": 0,
            "maxLength": 30,
            "default": null,
            "example": "Suite 100"
          },
          "city": {
            "$ref": "#/components/schemas/city"
          },
          "state": {
            "$ref": "#/components/schemas/state"
          },
          "zipCode": {
            "$ref": "#/components/schemas/zipCode"
          }
        }
      },
      "enrollmentBusinessAddressModel": {
        "title": "enrollmentBusinessAddressModel",
        "description": "Business address object.",
        "type": "object",
        "properties": {
          "street": {
            "$ref": "#/components/schemas/street"
          },
          "street2": {
            "$ref": "#/components/schemas/street2"
          },
          "city": {
            "$ref": "#/components/schemas/city"
          },
          "state": {
            "$ref": "#/components/schemas/state"
          },
          "zipCode": {
            "$ref": "#/components/schemas/zipCode"
          }
        }
      },
      "enrollmentBusinessAddressWithAllRequiredValuesModel": {
        "title": "enrollmentBusinessAddressWithAllRequiredValuesModel",
        "description": "Business address object with all required values.",
        "allOf": [
          {
            "$ref": "#/components/schemas/enrollmentBusinessAddressModel"
          },
          {
            "required": ["street", "city", "state", "zipCode"]
          }
        ]
      },
      "enrollmentPercentOfBusinessTransactionsModel": {
        "title": "enrollmentPercentOfBusinessTransactionsModel",
        "description": "Types of business transactions with their cumulative percentages. The sum of all sub-properties must be exactly equal to 100.",
        "type": "object",
        "properties": {
          "cardSwiped": {
            "description": "Cumulative percentage for card-swiped transaction types.",
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 100,
            "example": 5.5
          },
          "keyedCardPresentNotImprinted": {
            "description": "Cumulative percentage for card-present transaction types.",
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 100,
            "example": 20.5
          },
          "mailOrPhoneOrder": {
            "description": "Cumulative percentage for mail or phone order transaction types.",
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 100,
            "example": 25
          },
          "internet": {
            "description": "Cumulative percentage for online transaction types.",
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 100,
            "example": 49
          }
        }
      },
      "enrollmentBusinessEbtModel": {
        "title": "enrollmentBusinessEbtModel",
        "description": "Electronic Benefits Transfer (EBT) related preferences.",
        "type": "object",
        "properties": {
          "ebtFood": {
            "title": "ebtFood",
            "description": "Accept EBT food stamps benefits.",
            "type": "boolean",
            "example": false
          },
          "ebtCash": {
            "title": "ebtCash",
            "description": "Accept EBT cash benefits.",
            "type": "boolean",
            "example": true
          },
          "ebtAccountNumber": {
            "title": "ebtAccountNumber",
            "description": "Account number for SNAP benefits.",
            "type": "string",
            "minLength": 1,
            "maxLength": 20,
            "example": "ebtsnap12345"
          }
        }
      },
      "enrollmentBusinessModel": {
        "title": "enrollmentBusinessModel",
        "description": "Business object.",
        "type": "object",
        "properties": {
          "dbaName": {
            "$ref": "#/components/schemas/businessDbaName"
          },
          "corporateName": {
            "$ref": "#/components/schemas/businessCorporateName"
          },
          "businessType": {
            "$ref": "#/components/schemas/businessType"
          },
          "industryType": {
            "$ref": "#/components/schemas/businessIndustryType"
          },
          "federalTaxIdNumber": {
            "$ref": "#/components/schemas/federalTaxIdNumber"
          },
          "federalTaxIdType": {
            "$ref": "#/components/schemas/federalTaxIdType"
          },
          "mcc": {
            "$ref": "#/components/schemas/mcc"
          },
          "phone": {
            "$ref": "#/components/schemas/phoneNumber"
          },
          "email": {
            "$ref": "#/components/schemas/email"
          },
          "websites": {
            "$ref": "#/components/schemas/businessWebsitesModel"
          },
          "averageTicketAmount": {
            "$ref": "#/components/schemas/businessStatisticsAmount"
          },
          "averageMonthlyVolume": {
            "$ref": "#/components/schemas/businessStatisticsAmount"
          },
          "highTicketAmount": {
            "$ref": "#/components/schemas/businessStatisticsAmount"
          },
          "statementDeliveryMethod": {
            "$ref": "#/components/schemas/statementDeliveryMethod"
          },
          "yearsInBusiness": {
            "$ref": "#/components/schemas/yearsInBusiness"
          },
          "monthsInBusiness": {
            "$ref": "#/components/schemas/monthsInBusiness"
          },
          "merchandiseServicesSold": {
            "$ref": "#/components/schemas/merchandiseServicesSold"
          },
          "percentOfBusinessTransactions": {
            "$ref": "#/components/schemas/enrollmentPercentOfBusinessTransactionsModel"
          },
          "ebt": {
            "$ref": "#/components/schemas/enrollmentBusinessEbtModel"
          },
          "businessContact": {
            "$ref": "#/components/schemas/enrollmentBusinessContactModel"
          },
          "businessAddress": {
            "type": "object",
            "properties": {
              "dba": {
                "$ref": "#/components/schemas/enrollmentBusinessAddressModel"
              },
              "corporate": {
                "$ref": "#/components/schemas/enrollmentBusinessAddressModel"
              },
              "shipTo": {
                "$ref": "#/components/schemas/enrollmentShipToAddressModel"
              }
            }
          }
        }
      },
      "enrollmentBusinessWithAllRequiredValuesModel": {
        "title": "enrollmentBusinessWithAllRequiredValuesModel",
        "description": "Business object with all required values.",
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/enrollmentBusinessModel"
          },
          {
            "properties": {
              "businessContact": {
                "$ref": "#/components/schemas/enrollmentBusinessContactWithAllRequiredValuesModel"
              },
              "businessAddress": {
                "type": "object",
                "properties": {
                  "dba": {
                    "$ref": "#/components/schemas/enrollmentBusinessAddressWithAllRequiredValuesModel"
                  },
                  "corporate": {
                    "$ref": "#/components/schemas/enrollmentBusinessAddressWithAllRequiredValuesModel"
                  },
                  "shipTo": {
                    "$ref": "#/components/schemas/enrollmentShipToAddressModel"
                  }
                },
                "required": ["dba", "corporate"]
              }
            }
          },
          {
            "required": [
              "averageMonthlyVolume",
              "averageTicketAmount",
              "businessAddress",
              "businessContact",
              "businessType",
              "corporateName",
              "dbaName",
              "email",
              "federalTaxIdNumber",
              "federalTaxIdType",
              "highTicketAmount",
              "mcc",
              "merchandiseServicesSold",
              "percentOfBusinessTransactions",
              "phone"
            ]
          }
        ]
      },
      "enrollmentShippingModel": {
        "title": "enrollmentShippingModel",
        "description": "Shipping information model",
        "type": "object",
        "properties": {
          "shippingDestination": {
            "$ref": "#/components/schemas/shippingDestination"
          },
          "deliveryMethod": {
            "$ref": "#/components/schemas/shippingDeliveryMethod"
          }
        }
      },
      "enrollmentEquipmentModel": {
        "title": "enrollmentEquipmentModel",
        "description": "Equipment object. Using this object will override the equipment dataset in the template\n\nIf no values are provided, the default values from the template are used\n\nTo override the quantity of a piece of equipment set within the template, the equipment ID with desired quantity of equipment should be entered.\n\nIf an equipment ID is entered that does not match the list of equipment within the specified template, an error is received\n\nTo override template equipment, the template must include only unique IDs. If a template includes multiple instances of the same equipment ID, an error will be received. For example, equipment cannot be overridden on a template that includes an ICT220 with a PIN-pad and an ICT220 without a PIN-pad.",
        "type": "object",
        "properties": {
          "equipmentId": {
            "$ref": "#/components/schemas/equipmentId"
          },
          "quantity": {
            "$ref": "#/components/schemas/equipmentQuantity"
          }
        },
        "required": ["equipmentId"]
      },
      "enrollmentEquipmentPlanModel": {
        "title": "enrollmentEquipmentPlanModel",
        "description": "Equipment Plan object.",
        "type": "object",
        "properties": {
          "planId": {
            "$ref": "#/components/schemas/planId"
          },
          "equipmentCostToMerchant": {
            "$ref": "#/components/schemas/equipmentCostToMerchant"
          },
          "accountSetupFee": {
            "$ref": "#/components/schemas/accountSetupFee"
          },
          "discountFrequency": {
            "$ref": "#/components/schemas/discountFrequency"
          },
          "equipment": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/enrollmentEquipmentModel"
            }
          }
        }
      },
      "enrollmentEpxHierarchyModel": {
        "title": "enrollmentEpxHierarchyModel",
        "description": "Enrollment EPX customer hierarchy object.",
        "type": "object",
        "properties": {
          "corporateId": {
            "$ref": "#/components/schemas/corporateId"
          },
          "divisionId": {
            "$ref": "#/components/schemas/divisionId"
          },
          "createCorporate": {
            "$ref": "#/components/schemas/createCorporate"
          },
          "createDivision": {
            "$ref": "#/components/schemas/createDivision"
          }
        }
      },
      "enrollmentMerchantSignatureModel": {
        "title": "enrollmentMerchantSignatureModel",
        "description": "Enrollment merchant signature model.",
        "type": "object",
        "properties": {
          "ipAddress": {
            "$ref": "#/components/schemas/ipAddress"
          },
          "signatureDate": {
            "$ref": "#/components/schemas/signatureDate"
          }
        },
        "required": ["ipAddress", "signatureDate"]
      },
      "enrollmentApplicationModel": {
        "title": "enrollmentApplicationModel",
        "description": "Enrollment application object.",
        "type": "object",
        "properties": {
          "agent": {
            "$ref": "#/components/schemas/agent"
          },
          "applicationName": {
            "$ref": "#/components/schemas/applicationName"
          },
          "externalKey": {
            "$ref": "#/components/schemas/externalKey"
          },
          "plan": {
            "$ref": "#/components/schemas/enrollmentEquipmentPlanModel"
          },
          "shipping": {
            "$ref": "#/components/schemas/enrollmentShippingModel"
          },
          "principals": {
            "type": "array",
            "uniqueItems": true,
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/enrollmentPrincipalModel"
            }
          },
          "business": {
            "$ref": "#/components/schemas/enrollmentBusinessModel"
          },
          "bankAccount": {
            "$ref": "#/components/schemas/enrollmentBankAccountModel"
          },
          "epxHierarchy": {
            "$ref": "#/components/schemas/enrollmentEpxHierarchyModel"
          }
        }
      },
      "oauthTokenSuccessfulResponseModel": {
        "title": "oauthTokenSuccessfulResponseModel",
        "description": "Oauth token post request object",
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "access_token": {
                "$ref": "#/components/schemas/accessToken"
              },
              "token_type": {
                "$ref": "#/components/schemas/tokenType"
              },
              "expires_in": {
                "$ref": "#/components/schemas/expiresIn"
              },
              "scope": {
                "$ref": "#/components/schemas/scope"
              }
            }
          }
        }
      },
      "enrollmentMinimalApplicationPostRequestModel": {
        "title": "enrollmentMinimalApplicationPostRequestModel",
        "description": "Minimum object for POST request to create a new application.",
        "allOf": [
          {
            "$ref": "#/components/schemas/enrollmentApplicationModel"
          },
          {
            "properties": {
              "plan": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/enrollmentEquipmentPlanModel"
                  },
                  {
                    "required": ["planId"]
                  }
                ]
              }
            }
          },
          {
            "required": ["agent", "applicationName", "externalKey", "plan"]
          }
        ]
      },
      "enrollmentApplicationPatchRequestModel": {
        "title": "enrollmentApplicationPatchRequestModel",
        "description": "Application object for PATCH request to update an existing application.",
        "allOf": [
          {
            "$ref": "#/components/schemas/enrollmentApplicationModel"
          }
        ]
      },
      "enrollmentApplicationAdditionalInformationAgentDataModel": {
        "title": "enrollmentApplicationAdditionalInformationAgentDataModel",
        "description": "Enrollment application additional agent information object",
        "type": "object",
        "properties": {
          "agentGroupId": {
            "$ref": "#/components/schemas/agentGroupId"
          }
        }
      },
      "enrollmentApplicationAdditionalInformationAmericanExpressInformationModel": {
        "title": "enrollmentApplicationAdditionalInformationAmericanExpressInformationModel",
        "description": "Enrollment application additional information - AMEX related information model.",
        "type": "object",
        "properties": {
          "accountNumber": {
            "$ref": "#/components/schemas/amexAccountNumber"
          },
          "amexMonthlyVolume": {
            "$ref": "#/components/schemas/amexMonthlyVolume"
          },
          "amexAnnualVolumeThresholdExceeded": {
            "$ref": "#/components/schemas/amexAnnualVolumeThresholdExceeded"
          }
        }
      },
      "enrollmentApplicationAdditionalInformationHighRiskBusinessTypeFlagsModel": {
        "title": "enrollmentApplicationAdditionalInformationHighRiskBusinessTypeFlagsModel",
        "description": "Enrollment application additional information - high risk business type flag related information model.",
        "type": "object",
        "properties": {
          "isCannabis": {
            "$ref": "#/components/schemas/isCannabis"
          },
          "isCbd": {
            "$ref": "#/components/schemas/isCbd"
          },
          "isKratom": {
            "$ref": "#/components/schemas/isKratom"
          },
          "isSexuallyExplicitProducts": {
            "$ref": "#/components/schemas/isSexuallyExplicitProducts"
          }
        }
      },
      "enrollmentApplicationAdditionalInformationHighRiskPercentOfBusinessTransactionsModel": {
        "title": "enrollmentApplicationAdditionalInformationHighRiskPercentOfBusinessTransactionsModel",
        "description": "Enrollment application additional information - high risk percent of business transaction related information model.",
        "type": "object",
        "properties": {
          "cbd": {
            "$ref": "#/components/schemas/highRiskPercentOfBusinessTransactionsCbd"
          }
        }
      },
      "enrollmentApplicationAdditionalInformationAcceptedPaymentTypesDataModel": {
        "title": "enrollmentApplicationAdditionalInformationAcceptedPaymentTypesDataModel",
        "description": "Enrollment application additional information - accepted payment types data model.",
        "type": "object",
        "properties": {
          "americanExpress": {
            "$ref": "#/components/schemas/enrollmentApplicationAdditionalInformationAmericanExpressInformationModel"
          }
        }
      },
      "enrollmentApplicationAdditionalInformationHighRiskBusinessDataModel": {
        "title": "enrollmentApplicationAdditionalInformationHighRiskBusinessDataModel",
        "description": "Enrollment application additional information - high risk business data model.",
        "type": "object",
        "properties": {
          "businessTypeFlags": {
            "$ref": "#/components/schemas/enrollmentApplicationAdditionalInformationHighRiskBusinessTypeFlagsModel"
          },
          "highRiskPercentOfBusinessTransactions": {
            "$ref": "#/components/schemas/enrollmentApplicationAdditionalInformationHighRiskPercentOfBusinessTransactionsModel"
          }
        }
      },
      "enrollmentApplicationAdditionalInformationModel": {
        "title": "enrollmentApplicationAdditionalInformationModel",
        "description": "Enrollment application additional information model.",
        "type": "object",
        "properties": {
          "agentData": {
            "$ref": "#/components/schemas/enrollmentApplicationAdditionalInformationAgentDataModel"
          },
          "acceptedPaymentTypes": {
            "$ref": "#/components/schemas/enrollmentApplicationAdditionalInformationAcceptedPaymentTypesDataModel"
          },
          "highRiskBusinessData": {
            "$ref": "#/components/schemas/enrollmentApplicationAdditionalInformationHighRiskBusinessDataModel"
          }
        }
      },
      "enrollmentApplicationAdditionalInformationPatchRequestModel": {
        "title": "enrollmentApplicationAdditionalInformationPatchRequestModel",
        "description": "Enrollment application additional information model (PATCH request - Update application additional information)",
        "allOf": [
          {
            "$ref": "#/components/schemas/enrollmentApplicationAdditionalInformationModel"
          }
        ]
      },
      "enrollmentApplicationAgentInformationPatchRequestModel": {
        "title": "enrollmentApplicationAgentInformationPatchRequestModel",
        "description": "Enrollment application agent information model (PATCH request - Update application agent related information)",
        "type": "object",
        "properties": {
          "agent": {
            "$ref": "#/components/schemas/agent"
          }
        },
        "required": ["agent"]
      },
      "enrollmentApplicationPricingAdditionalFeesPatchRequestModel": {
        "type": "object",
        "properties": {
          "achTransactionFee": {
            "$ref": "#/components/schemas/achTransactionFee"
          },
          "batchHeader": {
            "$ref": "#/components/schemas/batchHeader"
          },
          "chargeBackFee": {
            "$ref": "#/components/schemas/chargeBackFee"
          },
          "debitGatewayFee": {
            "$ref": "#/components/schemas/debitGatewayFee"
          },
          "debitTransactionFee": {
            "$ref": "#/components/schemas/debitTransactionFee"
          },
          "ebtTransactionFee": {
            "$ref": "#/components/schemas/ebtTransactionFee"
          },
          "gatewayTransactionFee": {
            "$ref": "#/components/schemas/gatewayTransactionFee"
          },
          "internetGatewayMonthlyFee": {
            "$ref": "#/components/schemas/internetGatewayMonthlyFee"
          },
          "internetTransactionFee": {
            "$ref": "#/components/schemas/internetTransactionFee"
          },
          "mcclaimsFee": {
            "$ref": "#/components/schemas/mcclaimsFee"
          },
          "merchantClubFee": {
            "$ref": "#/components/schemas/merchantClubFee"
          },
          "monthlyBasicServiceFee": {
            "$ref": "#/components/schemas/monthlyBasicServiceFee"
          },
          "monthlyDiscountFee": {
            "$ref": "#/components/schemas/monthlyDiscountFee"
          },
          "monthlyHostingFee": {
            "$ref": "#/components/schemas/monthlyHostingFee"
          },
          "monthlyMinimumDiscountFee": {
            "$ref": "#/components/schemas/monthlyMinimumDiscountFee"
          },
          "monthlyMinimumFee": {
            "$ref": "#/components/schemas/monthlyMinimumFee"
          },
          "monthlyRegulatoryFee": {
            "$ref": "#/components/schemas/monthlyRegulatoryFee"
          },
          "monthlySoftwareFeePerDevice": {
            "$ref": "#/components/schemas/monthlySoftwareFeePerDevice"
          },
          "processorAuthorizationFee": {
            "$ref": "#/components/schemas/processorAuthorizationFee"
          },
          "retrievalFee": {
            "$ref": "#/components/schemas/retrievalFee"
          },
          "returnItemSupportFee": {
            "$ref": "#/components/schemas/returnItemSupportFee"
          },
          "settledTransactionFee": {
            "$ref": "#/components/schemas/settledTransactionFee"
          },
          "technologyFee": {
            "$ref": "#/components/schemas/technologyFee"
          },
          "travelAndEntertainmentDraftCaptureTransactionFee": {
            "$ref": "#/components/schemas/travelAndEntertainmentDraftCaptureTransactionFee"
          },
          "wirelessMonthlyFee": {
            "$ref": "#/components/schemas/wirelessMonthlyFee"
          },
          "wirelessTransactionFee": {
            "$ref": "#/components/schemas/wirelessTransactionFee"
          }
        }
      },
      "enrollmentApplicationPricingPatchRequestModel": {
        "title": "enrollmentApplicationPricingPatchRequestModel",
        "description": "Enrollment application pricing model (PATCH request - Update application pricing)",
        "type": "object",
        "properties": {
          "qualifiedRate": {
            "$ref": "#/components/schemas/qualifiedRate"
          },
          "amexQualifiedRate": {
            "$ref": "#/components/schemas/amexQualifiedRate"
          },
          "qualifiedTransactionFee": {
            "$ref": "#/components/schemas/qualifiedTransactionFee"
          },
          "midQualifiedBump": {
            "$ref": "#/components/schemas/midQualifiedBump"
          },
          "nonQualifiedBump": {
            "$ref": "#/components/schemas/nonQualifiedBump"
          },
          "nonQualifiedTransactionFeeBump": {
            "$ref": "#/components/schemas/nonQualifiedTransactionFeeBump"
          },
          "interchangeDuesAssessmentsBasisPoint": {
            "$ref": "#/components/schemas/interchangeDuesAssessmentsBasisPoint"
          },
          "amexInterchangeDuesAssessmentsBasisPoint": {
            "$ref": "#/components/schemas/amexInterchangeDuesAssessmentsBasisPoint"
          },
          "ebtInterchangeDuesAssessmentsBasisPoint": {
            "$ref": "#/components/schemas/ebtInterchangeDuesAssessmentsBasisPoint"
          },
          "ebtQualifiedRate": {
            "$ref": "#/components/schemas/ebtQualifiedRate"
          },
          "debitInterchangeDuesAssessmentsBasisPoint": {
            "$ref": "#/components/schemas/debitInterchangeDuesAssessmentsBasisPoint"
          },
          "debitQualifiedRate": {
            "$ref": "#/components/schemas/debitQualifiedRate"
          },
          "qualifiedCheckCardRate": {
            "$ref": "#/components/schemas/qualifiedCheckCardRate"
          },
          "qualifiedCheckCardTransactionFee": {
            "$ref": "#/components/schemas/qualifiedCheckCardTransactionFee"
          },
          "rewardRate": {
            "$ref": "#/components/schemas/rewardRate"
          },
          "accountSetupFee": {
            "$ref": "#/components/schemas/accountSetupFee"
          },
          "interchangeTransactionPassthroughCreditFee": {
            "$ref": "#/components/schemas/interchangeTransactionPassthroughCreditFee"
          },
          "interchangeTransactionPassthroughCheckcardFee": {
            "$ref": "#/components/schemas/interchangeTransactionPassthroughCheckcardFee"
          },
          "equipmentCostToMerchant": {
            "$ref": "#/components/schemas/equipmentCostToMerchant"
          },
          "pciFeeBillingFrequency": {
            "$ref": "#/components/schemas/pciFeeBillingFrequency"
          },
          "edgeFlatFee": {
            "$ref": "#/components/schemas/edgeFlatFee"
          },
          "edgePercentFee": {
            "$ref": "#/components/schemas/edgePercentFee"
          },
          "enableInterchangeTransactionPassthroughFee": {
            "$ref": "#/components/schemas/enableInterchangeTransactionPassthroughFee"
          },
          "enablePassthroughAssessment": {
            "$ref": "#/components/schemas/enablePassthroughAssessment"
          },
          "enableNetworkAccessBrandFees": {
            "$ref": "#/components/schemas/enableNetworkAccessBrandFees"
          },
          "waiveTerminationFee": {
            "$ref": "#/components/schemas/waiveTerminationFee"
          },
          "additionalFees": {
            "$ref": "#/components/schemas/enrollmentApplicationPricingAdditionalFeesPatchRequestModel"
          }
        }
      },
      "enrollmentUnderwritingPatchRequestModel": {
        "title": "enrollmentUnderwritingPatchRequestModel",
        "description": "Enrollment underwriting update request.",
        "type": "object",
        "properties": {
          "underwritingBank": {
            "$ref": "#/components/schemas/underwritingBank"
          }
        },
        "required": ["underwritingBank"]
      },
      "enrollmentUnderwritingStatusUpdatePatchRequestModel": {
        "title": "enrollmentUnderwritingStatusUpdatePatchRequestModel",
        "description": "Enrollment underwriting status update PATCH request.",
        "type": "object",
        "properties": {
          "underwritingStatusCode": {
            "$ref": "#/components/schemas/underwritingStatusCode"
          }
        },
        "required": ["underwritingStatusCode"]
      },
      "enrollmentApplicationMerchantCompletionRequestModel": {
        "title": "enrollmentApplicationMerchantCompletionRequestModel",
        "description": "Application object for merchant completion.",
        "allOf": [
          {
            "$ref": "#/components/schemas/enrollmentMinimalApplicationPostRequestModel"
          },
          {
            "properties": {
              "plan": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/enrollmentEquipmentPlanModel"
                  },
                  {
                    "required": ["planId"]
                  }
                ]
              },
              "principals": {
                "type": "array",
                "uniqueItems": true,
                "minItems": 1,
                "items": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/enrollmentPrincipalModel"
                    },
                    {
                      "required": ["email", "isPersonalGuarantor", "phoneNumber"]
                    }
                  ]
                }
              },
              "business": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/enrollmentBusinessModel"
                  },
                  {
                    "required": ["percentOfBusinessTransactions"]
                  }
                ]
              }
            }
          },
          {
            "required": ["agent", "applicationName", "business", "externalKey", "plan", "principals"]
          }
        ]
      },
      "enrollmentApplicationEnrichRequestModel": {
        "title": "enrollmentApplicationEnrichRequestModel",
        "description": "Application model for POST request to create a new application.",
        "allOf": [
          {
            "$ref": "#/components/schemas/enrollmentMinimalApplicationPostRequestModel"
          },
          {
            "properties": {
              "principals": {
                "type": "array",
                "uniqueItems": true,
                "minItems": 1,
                "items": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/enrollmentPrincipalModel"
                    },
                    {
                      "required": [
                        "email",
                        "equityOwnershipPercentage",
                        "firstName",
                        "isPersonalGuarantor",
                        "lastName",
                        "phoneNumber",
                        "socialSecurityNumber"
                      ]
                    }
                  ]
                }
              }
            }
          },
          {
            "required": ["agent", "applicationName", "externalKey", "plan", "principals"]
          }
        ]
      },
      "enrollmentApplicationTwoFactorInitiateRequestModel": {
        "title": "enrollmentApplicationTwoFactorInitiateRequestModel",
        "description": "Two-factor authentication initialization request model.",
        "type": "object",
        "properties": {
          "externalKey": {
            "$ref": "#/components/schemas/externalKey"
          }
        },
        "required": ["externalKey"]
      },
      "enrollmentApplicationTwoFactorValidateRequestModel": {
        "title": "enrollmentApplicationTwoFactorValidateRequestModel",
        "description": "Two-Factor Authentication code verification request object.",
        "type": "object",
        "properties": {
          "externalKey": {
            "$ref": "#/components/schemas/externalKey"
          },
          "code": {
            "$ref": "#/components/schemas/twoFactorAuthCode"
          }
        },
        "required": ["externalKey", "code"]
      },
      "enrollmentOneClickSubmitApplicationWithAllRequiredValuesModel": {
        "title": "enrollmentOneClickSubmitApplicationWithAllRequiredValuesModel",
        "description": "One-click-submit application object.",
        "type": "object",
        "properties": {
          "agent": {
            "$ref": "#/components/schemas/agent"
          },
          "applicationName": {
            "$ref": "#/components/schemas/applicationName"
          },
          "externalKey": {
            "$ref": "#/components/schemas/externalKey"
          },
          "plan": {
            "allOf": [
              {
                "$ref": "#/components/schemas/enrollmentEquipmentPlanModel"
              },
              {
                "required": ["planId"]
              }
            ]
          },
          "shipping": {
            "$ref": "#/components/schemas/enrollmentShippingModel"
          },
          "principals": {
            "type": "array",
            "minItems": 1,
            "uniqueItems": true,
            "items": {
              "$ref": "#/components/schemas/enrollmentPrincipalWithAllRequiredValuesModel"
            }
          },
          "business": {
            "$ref": "#/components/schemas/enrollmentBusinessWithAllRequiredValuesModel"
          },
          "bankAccount": {
            "$ref": "#/components/schemas/enrollmentBankAccountWithAllRequiredValuesModel"
          }
        },
        "required": ["agent", "applicationName", "externalKey", "plan", "principals", "business", "bankAccount"]
      },
      "enrollmentOneClickSubmitApplicationWithMerchantSignatureRequestModel": {
        "title": "enrollmentOneClickSubmitApplicationWithMerchantSignatureRequestModel",
        "description": "Enrollment one click submit application with merchant signature request model.",
        "type": "object",
        "properties": {
          "application": {
            "$ref": "#/components/schemas/enrollmentOneClickSubmitApplicationWithAllRequiredValuesModel"
          },
          "merchantSignature": {
            "$ref": "#/components/schemas/enrollmentMerchantSignatureModel"
          }
        },
        "required": ["application", "merchantSignature"]
      },
      "enrollmentEnricherModel": {
        "title": "enrollmentEnricherModel",
        "description": "Data validation response object.",
        "type": "object",
        "properties": {
          "isTwoFactorAuthenticated": {
            "description": "Denotes whether application has passed Two-Factor Authentication.",
            "type": "boolean"
          },
          "isVerified": {
            "description": "Denotes whether application data has been validated.",
            "type": "boolean"
          }
        }
      },
      "enrollmentTwoFactorModel": {
        "title": "enrollmentTwoFactorModel",
        "description": "Two-Factor Authentication object.",
        "type": "object",
        "properties": {
          "requestId": {
            "description": "Unique request ID for Two-Factor Authentication.",
            "type": "string"
          },
          "phone": {
            "description": "Phone number for Two-Factor Authentication.",
            "type": "string"
          },
          "verified": {
            "description": "Denotes whether Two-Factor Authentication is successful.",
            "type": "boolean"
          }
        }
      },
      "enrollmentStatusModel": {
        "title": "enrollmentStatusModel",
        "description": "Application status response object.",
        "type": "object",
        "properties": {
          "merchantId": {
            "$ref": "#/components/schemas/merchantId"
          },
          "applicationStatus": {
            "$ref": "#/components/schemas/applicationStatus"
          },
          "underwritingStatus": {
            "$ref": "#/components/schemas/underwritingStatus"
          }
        }
      },
      "enrollmentMerchantCompletionStatusModel": {
        "title": "enrollmentMerchantCompletionStatusModel",
        "description": "Enrollment Response Data - Merchant completion status model.",
        "type": "object",
        "properties": {
          "merchantEnrollmentUrl": {
            "$ref": "#/components/schemas/merchantEnrollmentUrl"
          },
          "applicationSentToMerchantAt": {
            "$ref": "#/components/schemas/applicationSentToMerchantAt"
          },
          "applicationStartedOn": {
            "$ref": "#/components/schemas/applicationStartedOn"
          },
          "applicationCompletedOn": {
            "$ref": "#/components/schemas/applicationCompletedOn"
          },
          "ipAddress": {
            "$ref": "#/components/schemas/ipAddress"
          },
          "signatureDate": {
            "$ref": "#/components/schemas/signatureDate"
          }
        }
      },
      "enrollmentApplicationDocumentModel": {
        "title": "enrollmentApplicationDocumentModel",
        "description": "Application document object.",
        "type": "object",
        "properties": {
          "fileName": {
            "title": "enrollmentApplicationDocumentModelPropertyFileName",
            "description": "Application filename.",
            "type": "string",
            "format": "string",
            "minLength": 1,
            "example": "application-12345.pdf"
          },
          "fileType": {
            "title": "enrollmentApplicationDocumentModelPropertyFileType",
            "description": "Application document type. To view a list of all valid document types, refer to the <a href='/products/fintech-tools/merchant-boarding-api/enrollment/sandbox/lookups#get/enroll/document/type/list'>Get List of Document Types</a> endpoint.",
            "type": "string",
            "format": "string",
            "minLength": 1,
            "example": "MERCHANT APPLICATION"
          },
          "attachment": {
            "title": "enrollmentApplicationDocumentModelPropertyAttachment",
            "description": "Base64 encoded string for the document to be attached to the merchant enrollment application.",
            "type": "string",
            "format": "string",
            "example": "SGVsbG8gV29ybGQh="
          }
        }
      },
      "enrollmentSuccessfulResponseModel": {
        "title": "enrollmentSuccessfulResponseModel",
        "description": "Success response object.",
        "type": "object",
        "properties": {
          "success": {
            "title": "enrollmentSuccessfulResponseModelPropertySuccess",
            "description": "Denotes whether a request was successful.",
            "type": "boolean",
            "default": "success"
          },
          "data": {
            "title": "enrollmentSuccessfulResponseModelPropertyData",
            "description": "Denotes the response data, containing application or application sub-properties.",
            "type": "object"
          },
          "link": {
            "title": "enrollmentSuccessfulResponseModelPropertyLink",
            "description": "URL for the resource.",
            "type": "string"
          }
        }
      },
      "agentGroupListResponseDataModel": {
        "title": "agentGroupListResponseDataModel",
        "description": "Agent group list response data model.",
        "type": "object",
        "properties": {
          "groupId": {
            "$ref": "#/components/schemas/agentGroupId"
          },
          "groupName": {
            "$ref": "#/components/schemas/agentGroupName"
          }
        },
        "required": ["groupId", "groupName"]
      },
      "agentGroupListResponseModel": {
        "title": "agentGroupListResponseModel",
        "description": "Agent group list response model.",
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/agentGroupListResponseDataModel"
            }
          },
          "link": {
            "type": "string"
          }
        },
        "required": ["status", "data", "link"]
      },
[...]
