swagger: '2.0'
info:
  version: 3.1.2
  title: Payment Initiation API Specification
  description: OFX GCA Payment Initiation API Specification
host: sandbox.api.ofx.com
basePath: /open-banking/v3.1/pisp
schemes:
  - https
paths:
  /payment-consent:
    post:
      tags:
        - Payments
      summary: Create Payment Consent
      operationId: CreatePaymentConsent
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/PaymentConsentRequestParam'
        - $ref: '#/parameters/Authorization'
        - $ref: '#/parameters/ssl-client-cert'
      responses:
        '201':
          $ref: '#/responses/201PaymentConsentCreated'
        '400':
          $ref: '#/responses/400Error'
        '401':
          $ref: '#/responses/401Error'
        '403':
          $ref: '#/responses/403Error'
        '404':
          $ref: '#/responses/404Error'
        '429':
          $ref: '#/responses/429Error'
        '500':
          $ref: '#/responses/500Error'
      security:
        - TPPOAuth2Security:
            - pisp
  /payment-flow:
    get:
      tags:
        - Payments
      summary: Get Payment Flow
      operationId: GetPaymentFlow
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/token'
        - $ref: '#/parameters/consentId'
        - $ref: '#/parameters/tppRedirectUrl'
      responses:
        '302':
          description: User is redirected to html page he can perform the payment flow
        '400':
          $ref: '#/responses/400Error'
        '401':
          $ref: '#/responses/401Error'
        '403':
          $ref: '#/responses/403Error'
        '404':
          $ref: '#/responses/404Error'
        '429':
          $ref: '#/responses/429Error'
        '500':
          $ref: '#/responses/500Error'
      security:
        - PSUOAuth2Security:
            - pisp
  '/deal/{DealId}':
    get:
      tags:
        - Payments
      summary: Get Deal Details
      operationId: GetDealDetails
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/DealId'
        - $ref: '#/parameters/Authorization'
        - $ref: '#/parameters/ssl-client-cert'
      responses:
        '200':
          $ref: '#/responses/200DealDetailsDealIdRead'
        '400':
          $ref: '#/responses/400Error'
        '401':
          $ref: '#/responses/401Error'
        '403':
          $ref: '#/responses/403Error'
        '404':
          $ref: '#/responses/404Error'
        '429':
          $ref: '#/responses/429Error'
        '500':
          $ref: '#/responses/500Error'
      security:
        - PSUOAuth2Security:
            - pisp
parameters:
  PaymentConsentRequestParam:
    name: body
    in: body
    description: Default
    required: true
    schema:
      $ref: '#/definitions/PaymentConsentRequest'
  Authorization:
    in: header
    name: Authorization
    type: string
    required: true
    description: 'An Authorisation Token as per https://tools.ietf.org/html/rfc6750'
  ssl-client-cert:
    in: header
    name: ssl-client-cert
    type: string
    required: true
    description: An eIDAS Certification of the TPP
  token:
    in: query
    name: token
    type: string
    required: true
    description: An Authorisation access token
  consentId:
    in: query
    name: consentId
    type: string
    required: true
    description: An idenetifier for the payment consent created
  tppRedirectUrl:
    in: query
    name: tppRedirectUrl
    type: string
    required: true
    description: The url where the user will be redirected to after payment flow
  DealId:
    name: DealId
    in: path
    type: string
    required: true
    description: An identifier for the deal created for the payment
responses:
  201PaymentConsentCreated:
    description: Payment Consent Created
    schema:
      $ref: '#/definitions/PaymentConsentResponse'
    examples:
      application/json:
        Data:
          ConsentId: 6b82f2df-78e0-4a9b-a23d-60d68b33b664
          Status: AwaitingAuthorisation
          StatusUpdateDateTime: '2019-08-22T00:36:34.7740647Z'
          CreationDateTime: '2019-08-22T00:36:34.7740647Z'
          Amount: 500
          Currency: USD
  200DealDetailsDealIdRead:
    description: Deal Details Read
    schema:
      $ref: '#/definitions/DealDetailsResponse'
    examples:
      application/json:
        Deal:
          DealId: ac89c100-2969-4193-b28e-6f8593d20812
          DealType: Spot
          BuyCurrency: AUD
          BuyAmount: 790.26
          SellCurrency: EUR
          SellAmount: 500
          Rate: 0.6327
          Status: Received
          Reference: AC89C100
          EnteredDate: '1567482409107'
          MaturityDate: '1567519200000'
          Fee: 0
          FeeCurrency: AUD
          BPayNumber: 130854383
          DealBeneficiaries:
            - 2ab42bc8-bda2-47cb-93e6-ac500a9a5a17
          StateInfo:
            DealState: FundsReceived
            IsSettled: false
            IsAwaitingFunds: false
            DealStateDisplay: Funds Received
  400Error:
    description: Bad request
    schema:
      $ref: '#/definitions/ErrorResponse'
  401Error:
    description: Unauthorized
  403Error:
    description: Forbidden
    schema:
      $ref: '#/definitions/ErrorResponse'
  404Error:
    description: Not found
  409Error:
    description: Conflict
  412Error:
    description: Precondition Failed
  429Error:
    description: Too Many Requests
  500Error:
    description: Internal Server Error
    schema:
      $ref: '#/definitions/ErrorResponse'
securityDefinitions:
  TPPOAuth2Security:
    type: oauth2
    flow: application
    tokenUrl: 'https://sandbox.api.ofx.com/v1/oauth/token'
    scopes:
      pisp: Ability to initiate payment
    description: TPP client credential authorisation flow with the ASPSP
  PSUOAuth2Security:
    type: oauth2
    flow: accessCode
    tokenUrl: 'https://sandbox.api.ofx.com/v1/oauth/token'
    authorizationUrl: 'https://sandbox.api.ofx.com/v1/oauth/authorize'
    scopes:
      pisp: Ability to initiate payment
    description: OAuth flow
definitions:
  PaymentConsentRequest:
    type: object
    required:
      - Currency
      - Amount
    properties:
      Currency:
        description: Currency of the amount to be transferred
        type: string
        example: EUR
      Amount:
        description: Amount to be transferred
        type: integer
        example: 500
  PaymentConsentResponse:
    type: object
    required:
      - Data
    properties:
      Data:
        type: object
        required:
          - ConsentId
          - Status
          - StatusUpdateDateTime
          - CreationDateTime
          - Amount
          - Currency
        properties:
          ConsentId:
            description: Unique identification as assigned to identify the payment consent resource.
            type: string
            minLength: 1
            maxLength: 12
          Status:
            description: Specifies the status of consent resource in code form.
            type: string
            enum:
              - Authorised
              - AwaitingAuthorisation
              - Rejected
              - Revoked
          StatusUpdateDateTime:
            description: |-
              Date and time at which the resource status was updated.All dates in the JSON payloads are represented in ISO 8601 date-time format. 
              All date-time fields in responses must include the timezone. An example is below:
                  2017-04-05T10:43:07+00:00
            type: string
            format: date-time
          CreationDateTime:
            description: |-
              Date and time at which the resource was created.All dates in the JSON payloads are represented in ISO 8601 date-time format. 
              All date-time fields in responses must include the timezone. An example is below:
                  2017-04-05T10:43:07+00:00
            type: string
            format: date-time
          Amount:
            description: Amount to be transferred
            type: integer
          Currency:
            description: Currency of the amount to be transferred
            type: string
  DealDetailsResponse:
    type: object
    required:
      - Deal
    properties:
      Deal:
        type: object
        required:
          - DealId
          - DealType
          - BuyCurrency
          - BuyAmount
          - SellCurrency
          - SellAmount
          - Rate
          - Status
          - Reference
          - EnteredDate
          - MaturityDate
          - Fee
          - FeeCurrency
          - BPayNumber
          - DealBeneficiaries
          - StateInfo
        properties:
          DealId:
            description: Unique identification of the created deal.
            type: string
          DealType:
            description: Specifies the type of the created deal
            type: string
          BuyCurrency:
            description: Buy Currency
            type: string
          BuyAmount:
            description: Buy Amount
            type: number
          SellCurrency:
            description: Sell Currency
            type: string
          SellAmount:
            description: Sell Amount
            type: number
          Rate:
            description: Rate
            type: number
          Status:
            description: Deal Status
            type: string
          Reference:
            description: Reference
            type: string
          EnteredDate:
            description: Deal entered date
            type: string
          MaturityDate:
            description: Deal maturity date
            type: string
          Fee:
            description: Deal fee
            type: number
          FeeCurrency:
            description: Deal fee currency
            type: string
          BPayNumber:
            description: BPay Number
            type: number
          DealBeneficiaries:
            description: Deal Beneficiaries
            type: array
            items:
              type: string
              minItems: 1
          StateInfo:
            type: object
            properties:
              DealState:
                type: string
              IsSettled:
                type: boolean
              IsAwaitingFunds:
                type: boolean
              DealStateDisplay:
                type: string
  ErrorResponse:
    description: 'A description of error occured. include code, identifier and a message.'
    type: object
    properties:
      Code:
        description: 'High level textual error code, to help categorize the errors.'
        type: string
        minLength: 1
        maxLength: 40
      Id:
        description: 'A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.'
        type: string
        minLength: 1
        maxLength: 40
      Message:
        description: 'Brief Error message, e.g., ''There is something wrong with the request parameters provided'''
        type: string
        minLength: 1
        maxLength: 500
    required:
      - Code
      - Message
      - Errors
    additionalProperties: false
