{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "FloQast External API",
    "description": "As a pioneering force within the industry, FloQast consistently strives to discover innovative avenues through which our customers can engage with our cutting-edge application. We empower you to extract comprehensive analytics from FloQast while seamlessly integrating reconciliation balances by introducing these latest endpoints. We are pleased to offer these new services and look forward to their transformative effect on your close process as they are poised to unlock unprecedented time savings for you and your organization.\n\n# Authentication\n\nRequests to FloQast's API must be authenticated using an API key. \nThe API key must be included in the `x-api-key` header of each request and can be generated in the FloQast application. \nThe key should also have the correct permissions to access the API endpoints you are using. \n[Directions to generate an API key](https://help.floqast.com/hc/en-us/articles/14270183516827)\n"
  },
  "servers": [
    {
      "url": "https://fq-api.floqast.app"
    },
    {
      "url": "https://fq-api.eu.floqast.app"
    },
    {
      "url": "https://fq-api.au.floqast.app"
    }
  ],
  "tags": [
    {
      "name": "Checklist Analytics",
      "description": "Checklist Analytics operations.",
      "x-displayName": "Checklist Analytics"
    },
    {
      "name": "Reconciliation Analytics",
      "description": "Reconciliation Analytics operations.",
      "x-displayName": "Reconciliation Analytics"
    },
    {
      "name": "Audit Trail",
      "description": "Audit trail operations.",
      "x-displayName": "Audit Trail"
    },
    {
      "name": "Amortizations",
      "description": "Amortization operations.",
      "x-displayName": "Amortizations"
    },
    {
      "name": "Depreciations",
      "description": "Depreciation operations.",
      "x-displayName": "Depreciations"
    },
    {
      "name": "Chart Of Accounts",
      "description": "Chart Of Accounts operations.",
      "x-displayName": "Chart Of Accounts"
    },
    {
      "name": "Entities",
      "description": "Operations related to entities",
      "x-displayName": "Entities"
    },
    {
      "name": "Checklists",
      "description": "Checklists operations.",
      "x-displayName": "Checklists"
    },
    {
      "name": "Reconciliations",
      "description": "Reconciliation operations.",
      "x-displayName": "Reconciliations"
    },
    {
      "name": "Info",
      "description": "Current user and token operations.",
      "x-displayName": "Info"
    },
    {
      "name": "Users",
      "description": "Users operations.",
      "x-displayName": "Users"
    },
    {
      "name": "Transactions",
      "description": "Transactions operations.",
      "x-displayName": "Transactions"
    },
    {
      "name": "Trial Balance",
      "description": "Trial Balance operations",
      "x-displayName": "Trial Balance"
    }
  ],
  "paths": {
    "/api/v1/analytics/checklists": {
      "parameters": [
        {
          "name": "filter[month]",
          "in": "query",
          "description": "Specifies the month for which the checklists should be retrieved. Valid values are the names of the months. Must be used in conjunction with filter[year]. Required if neither filter[modifiedBefore] nor filter[modifiedSince] is provided.",
          "example": "march",
          "required": false,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "filter[year]",
          "in": "query",
          "description": "Specifies the year for which the checklists should be retrieved. It should be a four-digit numerical value. Must be used in conjunction with filter[month]. Required if neither filter[modifiedBefore] nor filter[modifiedSince] is provided.",
          "required": false,
          "example": 2023,
          "schema": {
            "type": "integer"
          }
        },
        {
          "name": "filter[modifiedBefore]",
          "in": "query",
          "description": "Sets the cutoff date for retrieving checklists, including only those modified before (but not including) the specified date. The date must be in the format YYYY-MM-DD. While filter[modifiedBefore] is required if filter[month] and filter[year] are not provided, it can also be used in conjunction with these filters for more specific queries.",
          "required": false,
          "example": "2021-01-01",
          "schema": {
            "type": "string",
            "format": "date"
          }
        },
        {
          "name": "filter[modifiedSince]",
          "in": "query",
          "description": "Sets the cutoff date for retrieving checklists, including only those modified on or after the specified date. The date must be in the format YYYY-MM-DD. While filter[modifiedSince] is required if filter[month] and filter[year] are not provided, it can also be used in conjunction with these filters for more specific queries.",
          "required": false,
          "example": "2020-12-31",
          "schema": {
            "type": "string",
            "format": "date"
          }
        },
        {
          "name": "filter[entityIds]",
          "in": "query",
          "description": "Comma separated entity ids for which the checklists should be retrieved.",
          "required": false,
          "example": "5e94d5b63f557b001420bbe1,5e94d5b63f557b001420bbe2",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "filter[workflowIds]",
          "in": "query",
          "description": "Comma separated workflow ids for which the checklists should be retrieved",
          "required": false,
          "example": "5e94d5b63f557b001420baa1,5e94d5b63f557b001420baa2",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "page[size]",
          "in": "query",
          "description": "The number of items to return. If not specified, the API will return a default of 30,000 items, which is the maximum value.",
          "example": 12000,
          "required": false,
          "schema": {
            "type": "integer"
          }
        },
        {
          "name": "page[cursor]",
          "in": "query",
          "description": "Pagination cursor that indicates the starting position for the next set of items",
          "required": false,
          "example": "5e94d5b63f557b001420bbe3",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "allowRedirect",
          "in": "query",
          "description": "If set to true, the API will return a 303 redirect response if the response payload is too large. The header `Location` and `body.data.url` will also include the URL to the actual resource.",
          "required": false,
          "example": true,
          "schema": {
            "type": "boolean"
          }
        }
      ],
      "get": {
        "tags": [
          "Checklist Analytics"
        ],
        "summary": "Get Checklist Analytics",
        "operationId": "getChecklistAnalytics",
        "description": "This API endpoint enables fetching a collection of checklists performed during a specific month and year. By providing the desired month and year as parameters, the API response narrows down the results to the exact period, facilitating the analysis of financial data and tracking the progress of checklist efforts.\" And also include information about TLCs.\n",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChecklistAnalytics"
                }
              }
            }
          },
          "303": {
            "description": "Redirect",
            "$ref": "#/components/responses/RedirectResponse"
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/Unauthorized"
          },
          "413": {
            "description": "Payload Too Large",
            "$ref": "#/components/responses/PayloadTooLarge"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/api/v1/analytics/reconciliations": {
      "parameters": [
        {
          "name": "filter[month]",
          "in": "query",
          "description": "Specifies the month for which the reconciliations should be retrieved. Valid values are the names of the months. Must be used in conjunction with filter[year]. Required if neither filter[modifiedBefore] nor filter[modifiedSince] is provided.",
          "example": "march",
          "required": false,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "filter[year]",
          "in": "query",
          "description": "Specifies the year for which the reconciliations should be retrieved. It should be a four-digit numerical value. Must be used in conjunction with filter[month]. Required if neither filter[modifiedBefore] nor filter[modifiedSince] is provided.",
          "required": false,
          "example": 2023,
          "schema": {
            "type": "integer"
          }
        },
        {
          "name": "filter[modifiedBefore]",
          "in": "query",
          "description": "Sets the cutoff date for retrieving reconciliations, including only those modified before (but not including) the specified date. The date must be in the format YYYY-MM-DD. While filter[modifiedBefore] is required if filter[month] and filter[year] are not provided, it can also be used in conjunction with these filters for more specific queries.",
          "required": false,
          "example": "2021-01-01",
          "schema": {
            "type": "string",
            "format": "date"
          }
        },
        {
          "name": "filter[modifiedSince]",
          "in": "query",
          "description": "Sets the cutoff date for retrieving reconciliations, including only those modified on or after the specified date. The date must be in the format YYYY-MM-DD. While filter[modifiedSince] is required if filter[month] and filter[year] are not provided, it can also be used in conjunction with these filters for more specific queries.",
          "required": false,
          "example": "2020-12-31",
          "schema": {
            "type": "string",
            "format": "date"
          }
        },
        {
          "name": "filter[entityIds]",
          "in": "query",
          "description": "Comma separated entity ids for which the reconciliations should be retrieved.",
          "required": false,
          "example": "5e94d5b63f557b001420bbe1,5e94d5b63f557b001420bbe2",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "filter[journalSource]",
          "in": "query",
          "description": "journalSource for which the reconciliations should be retrieved.",
          "required": false,
          "example": "SUB_LEDGER",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "filter[internalIds]",
          "in": "query",
          "description": "Comma seperated gl internalIds for which the reconciliations should be retrieved.",
          "required": false,
          "example": "123456, 78910",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "filter[workflowIds]",
          "in": "query",
          "description": "Comma separated workflow ids for which the reconciliations should be retrieved.",
          "required": false,
          "example": "5e94d5b63f557b001420baa1,5e94d5b63f557b001420baa2",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "page[size]",
          "in": "query",
          "description": "The number of items to return. If not specified, the API will return a default of 30,000 items, which is the maximum value.",
          "example": 12000,
          "required": false,
          "schema": {
            "type": "integer"
          }
        },
        {
          "name": "page[cursor]",
          "in": "query",
          "description": "Pagination cursor that indicates the starting position for the next set of items",
          "required": false,
          "example": "5e94d5b63f557b001420bbe3",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "allowRedirect",
          "in": "query",
          "description": "If set to true, the API will return a 303 redirect response if the response payload is too large. The header `Location` and `body.data.url` will also include the URL to the actual resource.",
          "required": false,
          "example": true,
          "schema": {
            "type": "boolean"
          }
        }
      ],
      "get": {
        "tags": [
          "Reconciliation Analytics"
        ],
        "summary": "Get Reconciliation Analytics",
        "operationId": "getReconciliationAnalytics",
        "description": "This API endpoint enables fetching a collection of reconciliations performed during a specific month and year. By providing the desired month and year as parameters, the API response narrows down the results to the exact period, facilitating the analysis of financial data and tracking the progress of reconciliation efforts.\" And also include information about TLCs.\n",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Reconciliation_Analytics"
                }
              }
            }
          },
          "303": {
            "description": "Redirect",
            "$ref": "#/components/responses/RedirectResponse"
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/Unauthorized"
          },
          "413": {
            "description": "Payload Too Large",
            "$ref": "#/components/responses/PayloadTooLarge"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/api/v1/audit-trail": {
      "parameters": [
        {
          "name": "filter[startDate]",
          "in": "query",
          "description": "Specifies the start date (inclusive) for logs to be retrieved. The date must be in the ISO 8601 format like YYYY-MM-DD.",
          "example": "2023-11-01",
          "required": false,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "filter[endDate]",
          "in": "query",
          "description": "Specifies the end date (inclusive) for logs to be retrieved. The date must be in the ISO 8601 format like YYYY-MM-DD.",
          "required": false,
          "example": "2023-12-01",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "filter[userApiKey._id]",
          "in": "query",
          "description": "Specifies the user API key ID to filter logs by.",
          "required": false,
          "example": "5e94d5b63f557b001420bbe3",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "page[size]",
          "in": "query",
          "description": "The number of items to return. If not specified, the API will return a default of 30,000 items, which is the maximum value.",
          "example": 12000,
          "required": false,
          "schema": {
            "type": "integer"
          }
        },
        {
          "name": "page[cursor]",
          "in": "query",
          "description": "Pagination cursor that indicates the starting position for the next set of items",
          "required": false,
          "example": "5e94d5b63f557b001420bbe3",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "allowRedirect",
          "in": "query",
          "description": "If set to true, the API will return a 303 redirect response if the response payload is too large. The header `Location` and `body.data.url` will also include the URL to the actual resource.",
          "required": false,
          "example": true,
          "schema": {
            "type": "boolean"
          }
        }
      ],
      "get": {
        "tags": [
          "Audit Trail"
        ],
        "summary": "Get Audit Trail logs",
        "operationId": "getAuditTrail",
        "description": "This API endpoint retrieves audit logs for all API keys within a top-level client, providing a comprehensive overview of usage. It supports querying logs for a specific user's API key ID to facilitate focused analysis.\n",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditTrail"
                }
              }
            }
          },
          "303": {
            "description": "Redirect",
            "$ref": "#/components/responses/RedirectResponse"
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequestAuditTrail"
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/Unauthorized"
          },
          "413": {
            "description": "Payload Too Large",
            "$ref": "#/components/responses/PayloadTooLarge"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/api/v1/amortization/items": {
      "parameters": [
        {
          "name": "filter[month]",
          "in": "query",
          "description": "Specifies the month for which the amortization should be retrieved. Valid values are the names of the months. Must be used in conjunction with filter[year].",
          "example": "march",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "filter[year]",
          "in": "query",
          "description": "Specifies the year for which the amortization should be retrieved. It should be a four-digit numerical value. Must be used in conjunction with filter[month].",
          "required": true,
          "example": 2023,
          "schema": {
            "type": "integer"
          }
        },
        {
          "name": "filter[entityIds]",
          "in": "query",
          "description": "Comma separated entity ids for which the amortizations should be retrieved.",
          "required": false,
          "example": "5e94d5b63f557b001420bbe1,5e94d5b63f557b001420bbe2",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "page[size]",
          "in": "query",
          "description": "The number of items to return. If not specified, the API will return a default of 30,000 items, which is the maximum value.",
          "example": 12000,
          "required": false,
          "schema": {
            "type": "integer"
          }
        },
        {
          "name": "page[cursor]",
          "in": "query",
          "description": "Pagination cursor that indicates the starting position for the next set of items",
          "required": false,
          "example": "5e94d5b63f557b001420bbe3",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "allowRedirect",
          "in": "query",
          "description": "If set to true, the API will return a 303 redirect response if the response payload is too large. The header `Location` and `body.data.url` will also include the URL to the actual resource.",
          "required": false,
          "example": true,
          "schema": {
            "type": "boolean"
          }
        }
      ],
      "get": {
        "tags": [
          "Amortizations"
        ],
        "summary": "Get Amortizations",
        "operationId": "getAmortizations",
        "description": "This API endpoint retrieves amortization entries for a designated month and year, providing a concise overview of amortization activities within the specified period. It facilitates access to detailed records of amortization transactions, which include the systematic allocation of costs for intangible assets over their useful life, enabling thorough analysis and financial tracking.\n",
        "responses": {
          "200": {
            "description": "Success",
            "$ref": "#/components/responses/AmortizationResponse"
          },
          "303": {
            "description": "Redirect",
            "$ref": "#/components/responses/RedirectResponse"
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/AmortizationBadRequest"
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/Unauthorized"
          },
          "413": {
            "description": "Payload Too Large",
            "$ref": "#/components/responses/PayloadTooLarge"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/api/v1/amortization/reconciliations/{reconciliationId}": {
      "patch": {
        "tags": [
          "Amortizations"
        ],
        "summary": "Update Amortization Reconciliations",
        "operationId": "patchAmortizationReconciliations",
        "description": "This API endpoint takes a reconciliationId and journal entry status information, and updates amortization reconciliation entries.\n",
        "parameters": [
          {
            "name": "reconciliationId",
            "in": "path",
            "description": "Id of reconciliation",
            "example": "5e94d5b63f557b001420bbe3",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "allowRedirect",
            "in": "query",
            "description": "If set to true, the API will return a 303 redirect response if the response payload is too large. The header `Location` and `body.data.url` will also include the URL to the actual resource.",
            "required": false,
            "example": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "journalEntryStatus"
                    ],
                    "properties": {
                      "journalEntryStatus": {
                        "description": "Status of journal entry",
                        "type": "string",
                        "required": [
                          "POSTED",
                          "FAILED"
                        ],
                        "example": "POSTED"
                      },
                      "journalEntryId": {
                        "description": "Id of journal entry",
                        "type": "string",
                        "example": "615bcdc00000000000000302"
                      },
                      "journalEntryTimestamp": {
                        "description": "Timestamp of journal entry status change",
                        "type": "string",
                        "format": "date-time",
                        "example": "2024-03-29T21:36:43.309+00:00"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "303": {
            "description": "Redirect",
            "$ref": "#/components/responses/RedirectResponse"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string",
                                "example": "reconciliationId",
                                "description": "The field that caused the error"
                              },
                              "message": {
                                "type": "string",
                                "example": "reconciliationId is required",
                                "description": "The error message"
                              }
                            }
                          }
                        }
                      },
                      "description": "Reason(s) for the errors related to incorrect query keys or values that are out of bound"
                    },
                    "name": {
                      "type": "string",
                      "example": "BadRequest",
                      "description": "BadRequest"
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "example": 400
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/api/v1/amortization/reconciliations": {
      "parameters": [
        {
          "name": "filter[reconciliationIds]",
          "in": "query",
          "description": "Comma separated reconciliation ids for which the reconciliations should be retrieved",
          "example": "5e94d5b63f557b001420bbe1,5e94d5b63f557b001420bbe2",
          "required": false,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "filter[journalEntryStatus]",
          "in": "query",
          "description": "Status of journal entry for which the reconciliations should be retrieved",
          "required": false,
          "example": "PROCESSING",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "page[size]",
          "in": "query",
          "description": "The number of items to return. If not specified, the API will return a default of 30,000 items, which is the maximum value.",
          "example": 12000,
          "required": false,
          "schema": {
            "type": "integer"
          }
        },
        {
          "name": "page[cursor]",
          "in": "query",
          "description": "Pagination cursor that indicates the starting position for the next set of items",
          "required": false,
          "example": "5e94d5b63f557b001420bbe3",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "allowRedirect",
          "in": "query",
          "description": "If set to true, the API will return a 303 redirect response if the response payload is too large. The header `Location` and `body.data.url` will also include the URL to the actual resource.",
          "required": false,
          "example": true,
          "schema": {
            "type": "boolean"
          }
        }
      ],
      "get": {
        "tags": [
          "Amortizations"
        ],
        "summary": "Get Amortizing Reconciliations",
        "operationId": "getAmortizationReconciliations",
        "description": "This API endpoint can take reconciliationIds and journal entry status, and gets amortization reconciliations entries.\n",
        "responses": {
          "200": {
            "description": "Success",
            "$ref": "#/components/responses/AmortizingReconciliationsResponse"
          },
          "303": {
            "description": "Redirect",
            "$ref": "#/components/responses/RedirectResponse"
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/AmortizingReconciliationsBadRequest"
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/Unauthorized"
          },
          "413": {
            "description": "Payload Too Large",
            "$ref": "#/components/responses/PayloadTooLarge"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/api/v1/depreciation/items": {
      "parameters": [
        {
          "name": "filter[month]",
          "in": "query",
          "description": "Specifies the month for which the depreciation should be retrieved. Valid values are the names of the months. Must be used in conjunction with filter[year].",
          "example": "march",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "filter[year]",
          "in": "query",
          "description": "Specifies the year for which the depreciation should be retrieved. It should be a four-digit numerical value. Must be used in conjunction with filter[month].",
          "required": true,
          "example": 2023,
          "schema": {
            "type": "integer"
          }
        },
        {
          "name": "filter[entityIds]",
          "in": "query",
          "description": "Comma separated entity ids for which the depreciations should be retrieved.",
          "required": false,
          "example": "5e94d5b63f557b001420bbe1,5e94d5b63f557b001420bbe2",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "page[size]",
          "in": "query",
          "description": "The number of items to return. If not specified, the API will return a default of 30,000 items, which is the maximum value.",
          "example": 12000,
          "required": false,
          "schema": {
            "type": "integer"
          }
        },
        {
          "name": "page[cursor]",
          "in": "query",
          "description": "Pagination cursor that indicates the starting position for the next set of items",
          "required": false,
          "example": "5e94d5b63f557b001420bbe3",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "allowRedirect",
          "in": "query",
          "description": "If set to true, the API will return a 303 redirect response if the response payload is too large. The header `Location` and `body.data.url` will also include the URL to the actual resource.",
          "required": false,
          "example": true,
          "schema": {
            "type": "boolean"
          }
        }
      ],
      "get": {
        "tags": [
          "Depreciations"
        ],
        "summary": "Get Depreciations",
        "operationId": "getDepreciations",
        "description": "This API endpoint retrieves depreciation entries for a designated month and year, providing a concise overview of depreciation activities within the specified period. It enables access to detailed records associated with the depreciation of tangible assets, facilitating thorough financial tracking and analysis.\n",
        "responses": {
          "200": {
            "description": "Success",
            "$ref": "#/components/responses/DepreciationResponse"
          },
          "303": {
            "description": "Redirect",
            "$ref": "#/components/responses/RedirectResponse"
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/DepreciationBadRequest"
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/Unauthorized"
          },
          "413": {
            "description": "Payload Too Large",
            "$ref": "#/components/responses/PayloadTooLarge"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/api/v1/depreciation/reconciliations/{reconciliationId}": {
      "patch": {
        "tags": [
          "Depreciations"
        ],
        "summary": "Update Depreciation Reconciliations",
        "operationId": "patchDepreciationReconciliations",
        "description": "This API endpoint takes a reconciliationId and journal entry status information, and updates depreciation reconciliations entries.\n",
        "parameters": [
          {
            "name": "reconciliationId",
            "in": "path",
            "description": "Id of reconciliation",
            "example": "5e94d5b63f557b001420bbe3",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "allowRedirect",
            "in": "query",
            "description": "If set to true, the API will return a 303 redirect response if the response payload is too large. The header `Location` and `body.data.url` will also include the URL to the actual resource.",
            "required": false,
            "example": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "journalEntryStatus"
                    ],
                    "properties": {
                      "journalEntryStatus": {
                        "description": "Status of journal entry",
                        "type": "string",
                        "required": [
                          "POSTED",
                          "FAILED"
                        ],
                        "example": "POSTED"
                      },
                      "journalEntryId": {
                        "description": "Id of journal entry",
                        "type": "string",
                        "example": "615bcdc00000000000000302"
                      },
                      "journalEntryTimestamp": {
                        "description": "Timestamp of journal entry status change",
                        "type": "string",
                        "format": "date-time",
                        "example": "2024-03-29T21:36:43.309+00:00"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "303": {
            "description": "Redirect",
            "$ref": "#/components/responses/RedirectResponse"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string",
                                "example": "reconciliationId",
                                "description": "The field that caused the error"
                              },
                              "message": {
                                "type": "string",
                                "example": "reconciliationId is required",
                                "description": "The error message"
                              }
                            }
                          }
                        }
                      },
                      "description": "Reason(s) for the errors related to incorrect query keys or values that are out of bound"
                    },
                    "name": {
                      "type": "string",
                      "example": "BadRequest",
                      "description": "BadRequest"
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "example": 400
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/api/v1/depreciation/reconciliations": {
      "parameters": [
        {
          "name": "filter[reconciliationIds]",
          "in": "query",
          "description": "Comma separated reconciliation ids for which the reconciliations should be retrieved",
          "example": "5e94d5b63f557b001420bbe1,5e94d5b63f557b001420bbe2",
          "required": false,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "filter[journalEntryStatus]",
          "in": "query",
          "description": "Status of journal entry for which the reconciliations should be retrieved",
          "required": false,
          "example": "PROCESSING",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "page[size]",
          "in": "query",
          "description": "The number of items to return. If not specified, the API will return a default of 30,000 items, which is the maximum value.",
          "example": 12000,
          "required": false,
          "schema": {
            "type": "integer"
          }
        },
        {
          "name": "page[cursor]",
          "in": "query",
          "description": "Pagination cursor that indicates the starting position for the next set of items",
          "required": false,
          "example": "5e94d5b63f557b001420bbe3",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "allowRedirect",
          "in": "query",
          "description": "If set to true, the API will return a 303 redirect response if the response payload is too large. The header `Location` and `body.data.url` will also include the URL to the actual resource.",
          "required": false,
          "example": true,
          "schema": {
            "type": "boolean"
          }
        }
      ],
      "get": {
        "tags": [
          "Depreciations"
        ],
        "summary": "Get Depreciation Reconciliations",
        "operationId": "getDepreciationReconciliations",
        "description": "This API endpoint can take reconciliationIds and journal entry status, and gets depreciation reconciliations entries.\n",
        "responses": {
          "200": {
            "description": "Success",
            "$ref": "#/components/responses/DepreciatingReconciliationsResponse"
          },
          "303": {
            "description": "Redirect",
            "$ref": "#/components/responses/RedirectResponse"
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/DepreciatingReconciliationsBadRequest"
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/Unauthorized"
          },
          "413": {
            "description": "Payload Too Large",
            "$ref": "#/components/responses/PayloadTooLarge"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/api/v1/chart-of-accounts/upload": {
      "put": {
        "tags": [
          "Chart Of Accounts"
        ],
        "summary": "Upload Chart Of Accounts Data",
        "operationId": "putChartOfAccounts",
        "description": "This API endpoint takes chart of accounts data and uploads it to a user’s FloQast tenant. Use this endpoint for operations such as adding, editing, and removing accounts inside of FloQast.\n",
        "parameters": [
          {
            "name": "allowRedirect",
            "in": "query",
            "description": "If set to true, the API will return a 303 redirect response if the response payload is too large. The header `Location` and `body.data.url` will also include the URL to the actual resource.",
            "required": false,
            "example": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChartOfAccounts"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateChartOfAccountsResponse"
                },
                "example": {
                  "data": [
                    {
                      "entityId": "648118111cc2ef0019cf0868",
                      "success": false,
                      "accounts": [
                        {
                          "number": "35123",
                          "name": "Cash"
                        }
                      ],
                      "error": "Failed to validate entityId"
                    },
                    {
                      "entityId": "648118111cc2ef0019cf0867",
                      "success": true,
                      "accounts": [
                        {
                          "number": "35121",
                          "name": "Cash"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "303": {
            "description": "Redirect",
            "$ref": "#/components/responses/RedirectResponse"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string",
                                "example": "entityId",
                                "description": "The field that caused the error"
                              },
                              "message": {
                                "type": "string",
                                "example": "'entityId' should be a valid Mongo ObjectId",
                                "description": "The error message"
                              }
                            }
                          }
                        }
                      },
                      "description": "Reason(s) for the errors related to incorrect query keys or values that are out of bound"
                    },
                    "name": {
                      "type": "string",
                      "example": "BadRequest",
                      "description": "BadRequest"
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "example": 400
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/Unauthorized"
          },
          "413": {
            "description": "Payload Too Large",
            "$ref": "#/components/responses/PayloadTooLarge"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/api/v1/entities": {
      "get": {
        "tags": [
          "Entities"
        ],
        "parameters": [
          {
            "name": "filter[name]",
            "in": "query",
            "description": "Specifies the name of the entity. Cannot be used with page[number].",
            "example": "Entity Name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "The number of items to return. If not specified, the API will return a default of 30,000 items, which is the maximum value.",
            "example": 12000,
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page[number]",
            "in": "query",
            "description": "Indicates the page number of the results to retrieve. This parameter is used to paginate through lists of items. Cannot be used with filter[name].",
            "required": false,
            "example": 5,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "allowRedirect",
            "in": "query",
            "description": "If set to true, the API will return a 303 redirect response if the response payload is too large. The header `Location` and `body.data.url` will also include the URL to the actual resource.",
            "required": false,
            "example": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "summary": "Get Entities",
        "operationId": "getEntities",
        "description": "This API endpoint enables fetching a collection of entities within a given FloQast tenant. Optional query parameters can either narrow the API response or provide pagination functionality.\n",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEntitiesPathResponse"
                }
              }
            }
          },
          "303": {
            "description": "Redirect",
            "$ref": "#/components/responses/RedirectResponse"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string",
                                "example": "filter[name]",
                                "description": "The field that caused the error"
                              },
                              "message": {
                                "type": "string",
                                "example": "filter[name] must be a string containing only letters, numbers, and spaces, and limited to one entry.",
                                "description": "The error message"
                              }
                            }
                          }
                        }
                      },
                      "description": "Reason(s) for the errors related to incorrect query keys or values that are out of bound"
                    },
                    "name": {
                      "type": "string",
                      "example": "BadRequest",
                      "description": "BadRequest"
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "example": 400
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/Unauthorized"
          },
          "413": {
            "description": "Payload Too Large",
            "$ref": "#/components/responses/PayloadTooLarge"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/api/v1/entities/{id}": {
      "get": {
        "tags": [
          "Entities"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the entity",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "allowRedirect",
            "in": "query",
            "description": "If set to true, the API will return a 303 redirect response if the response payload is too large. The header `Location` and `body.data.url` will also include the URL to the actual resource.",
            "required": false,
            "example": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "summary": "Get Entity by ID",
        "operationId": "getExample",
        "description": "This API endpoint enables fetching a single specific entity with its unique identifier.\n",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEntitiesPathResponse"
                }
              }
            }
          },
          "303": {
            "description": "Redirect",
            "$ref": "#/components/responses/RedirectResponse"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "example": 400
                    },
                    "name": {
                      "type": "string",
                      "example": "BadRequest",
                      "description": "BadRequest"
                    },
                    "message": {
                      "type": "string",
                      "example": "\\\"id\\\" should be a valid Mongo ObjectId.",
                      "description": "The error message"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Not Found",
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "description": "Payload Too Large",
            "$ref": "#/components/responses/PayloadTooLarge"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/api/v1/checklists": {
      "parameters": [
        {
          "name": "filter[month]",
          "in": "query",
          "description": "Specifies the month for which the checklists should be retrieved. Valid values are the names of the months. Must be used in conjunction with filter[year].",
          "example": "march",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "filter[year]",
          "in": "query",
          "description": "Specifies the year for which the checklists should be retrieved. It should be a four-digit numerical value. Must be used in conjunction with filter[month].",
          "required": true,
          "example": 2023,
          "schema": {
            "type": "integer"
          }
        },
        {
          "name": "filter[templateId]",
          "in": "query",
          "description": "templateId for which the checklists should be retrieved.",
          "required": false,
          "example": "5e94d5b63f557b001420bbb1",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "filter[description]",
          "in": "query",
          "description": "Specifies a description for which checklists should be retrieved.",
          "required": false,
          "schema": {
            "type": "string"
          },
          "example": "Generate balance sheet"
        },
        {
          "name": "filter[entityId]",
          "in": "query",
          "description": "Specifies the entity for which the checklists should be retrieved",
          "required": false,
          "schema": {
            "type": "string"
          },
          "example": "656abc949ec04a00096b56d7"
        },
        {
          "name": "page[size]",
          "in": "query",
          "description": "The number of items to return. If not specified, the API will return a default of 30,000 items, which is the maximum value.",
          "example": 12000,
          "required": false,
          "schema": {
            "type": "integer"
          }
        },
        {
          "name": "page[cursor]",
          "in": "query",
          "description": "Pagination cursor that indicates the starting position for the next set of items",
          "required": false,
          "example": "5e94d5b63f557b001420bbe3",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "allowRedirect",
          "in": "query",
          "description": "If set to true, the API will return a 303 redirect response if the response payload is too large. The header `Location` and `body.data.url` will also include the URL to the actual resource.",
          "required": false,
          "example": true,
          "schema": {
            "type": "boolean"
          }
        }
      ],
      "get": {
        "tags": [
          "Checklists"
        ],
        "summary": "Get Checklists",
        "operationId": "getChecklists",
        "description": "This API endpoint enables fetching a collection of checklists performed during a specific month and year. By providing the desired month and year as parameters, the API response narrows down the results to the exact period, facilitating the analysis of financial data and tracking the progress of checklist efforts.\n",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Checklists"
                }
              }
            }
          },
          "303": {
            "description": "Redirect",
            "$ref": "#/components/responses/RedirectResponse"
          },
          "400": {
            "$ref": "#/components/responses/ChecklistBadRequest"
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/Unauthorized"
          },
          "413": {
            "description": "Payload Too Large",
            "$ref": "#/components/responses/PayloadTooLarge"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/api/v1/checklists/{checklistId}/sign": {
      "post": {
        "parameters": [
          {
            "name": "checklistId",
            "in": "path",
            "required": true,
            "description": "The ID of the checklist item",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChecklistSignature"
              }
            }
          }
        },
        "tags": [
          "Checklists"
        ],
        "summary": "Post Checklist Signatures",
        "operationId": "postChecklistSignatures",
        "description": "This API endpoint updates the signature status of a checklist.\n",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChecklistModel"
                }
              }
            }
          },
          "303": {
            "description": "Redirect",
            "$ref": "#/components/responses/RedirectResponse"
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/ChecklistBadRequest"
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/Unauthorized"
          },
          "413": {
            "description": "Payload Too Large",
            "$ref": "#/components/responses/PayloadTooLarge"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/api/v1/reconciliations": {
      "parameters": [
        {
          "name": "filter[month]",
          "in": "query",
          "description": "Specifies the month for which the reconciliations should be retrieved. Valid values are the names of the months. Must be used in conjunction with filter[year]. Required if neither filter[modifiedBefore] nor filter[modifiedSince] is provided.",
          "example": "march",
          "required": false,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "filter[year]",
          "in": "query",
          "description": "Specifies the year for which the reconciliations should be retrieved. It should be a four-digit numerical value. Must be used in conjunction with filter[month]. Required if neither filter[modifiedBefore] nor filter[modifiedSince] is provided.",
          "required": false,
          "example": 2023,
          "schema": {
            "type": "integer"
          }
        },
        {
          "name": "filter[modifiedBefore]",
          "in": "query",
          "description": "Sets the cutoff date for retrieving reconciliations, including only those modified before (but not including) the specified date. The date must be in the format YYYY-MM-DD. While filter[modifiedBefore] is required if filter[month] and filter[year] are not provided, it can also be used in conjunction with these filters for more specific queries.",
          "required": false,
          "example": "2021-01-01",
          "schema": {
            "type": "string",
            "format": "date"
          }
        },
        {
          "name": "filter[modifiedSince]",
          "in": "query",
          "description": "Sets the cutoff date for retrieving reconciliations, including only those modified on or after the specified date. The date must be in the format YYYY-MM-DD. While filter[modifiedSince] is required if filter[month] and filter[year] are not provided, it can also be used in conjunction with these filters for more specific queries.",
          "required": false,
          "example": "2020-12-31",
          "schema": {
            "type": "string",
            "format": "date"
          }
        },
        {
          "name": "filter[entityIds]",
          "in": "query",
          "description": "Comma separated entity ids for which the reconciliations should be retrieved.",
          "required": false,
          "example": "5e94d5b63f557b001420bbe1,5e94d5b63f557b001420bbe2",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "filter[workflowIds]",
          "in": "query",
          "description": "Comma separated workflow ids for which the reconciliations should be retrieved.",
          "required": false,
          "example": "5e94d5b63f557b001420baa1,5e94d5b63f557b001420baa2",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "filter[journalSource]",
          "in": "query",
          "description": "journalSource for which the reconciliations should be retrieved.",
          "required": false,
          "example": "SUB_LEDGER",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "filter[internalIds]",
          "in": "query",
          "description": "Comma seperated gl internalIds for which the reconciliations should be retrieved.",
          "required": false,
          "example": "123456, 78910",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "page[size]",
          "in": "query",
          "description": "The number of items to return. If not specified, the API will return a default of 30,000 items, which is the maximum value.",
          "example": 12000,
          "required": false,
          "schema": {
            "type": "integer"
          }
        },
        {
          "name": "page[cursor]",
          "in": "query",
          "description": "Pagination cursor that indicates the starting position for the next set of items",
          "required": false,
          "example": "5e94d5b63f557b001420bbe3",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "allowRedirect",
          "in": "query",
          "description": "If set to true, the API will return a 303 redirect response if the response payload is too large. The header `Location` and `body.data.url` will also include the URL to the actual resource.",
          "required": false,
          "example": true,
          "schema": {
            "type": "boolean"
          }
        }
      ],
      "get": {
        "tags": [
          "Reconciliations"
        ],
        "summary": "Get Reconciliations",
        "operationId": "getReconciliations",
        "description": "This API endpoint enables fetching a collection of reconciliations performed during a specific month and year. By providing the desired month and year as parameters, the API response narrows down the results to the exact period, facilitating the analysis of financial data and tracking the progress of reconciliation efforts.\" And also include information about TLCs.\n",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Reconciliations"
                    },
                    {
                      "$ref": "#/components/schemas/ReconciliationAnalytics"
                    }
                  ]
                }
              }
            }
          },
          "303": {
            "description": "Redirect",
            "$ref": "#/components/responses/RedirectResponse"
          },
          "400": {
            "$ref": "#/components/responses/ReconciliationBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "413": {
            "description": "Payload Too Large",
            "$ref": "#/components/responses/PayloadTooLarge"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/api/v1/me": {
      "get": {
        "parameters": [
          {
            "name": "allowRedirect",
            "in": "query",
            "description": "If set to true, the API will return a 303 redirect response if the response payload is too large. The header `Location` and `body.data.url` will also include the URL to the actual resource.",
            "required": false,
            "example": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "tags": [
          "Info"
        ],
        "summary": "Current user and token information",
        "operationId": "getMe",
        "description": "Get information about the current user and token\n",
        "responses": {
          "200": {
            "description": "Success",
            "$ref": "#/components/responses/GetMePathResponse"
          },
          "303": {
            "description": "Redirect",
            "$ref": "#/components/responses/RedirectResponse"
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/api/v1/users": {
      "get": {
        "parameters": [
          {
            "name": "page[size]",
            "in": "query",
            "description": "The number of items to return. If not specified, the API will return a default of 500 items, which is the maximum value.",
            "example": 100,
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "Pagination cursor that indicates the starting position for the next set of items",
            "required": false,
            "example": "5e94d5b63f557b001420bbe3",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "allowRedirect",
            "in": "query",
            "description": "If set to true, the API will return a 303 redirect response if the response payload is too large. The header `Location` and `body.data.url` will also include the URL to the actual resource.",
            "required": false,
            "example": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "tags": [
          "Users"
        ],
        "summary": "Get Users",
        "operationId": "getUsers",
        "description": "This endpoint returns users who have current or historical shared workspace access with the user who the API key belongs to.\n",
        "responses": {
          "200": {
            "description": "Success",
            "$ref": "#/components/responses/GetUsersPathResponse"
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/UsersBadRequest"
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/api/v1/transactions/subledgers": {
      "put": {
        "tags": [
          "Transactions"
        ],
        "summary": "Update Subledgers",
        "operationId": "putSubledgers",
        "description": "This endpoint takes a list of FloQast reconciliation IDs and updates the subledger balance for each.\n",
        "parameters": [
          {
            "name": "allowRedirect",
            "in": "query",
            "description": "If set to true, the API will return a 303 redirect response if the response payload is too large. The header `Location` and `body.data.url` will also include the URL to the actual resource.",
            "required": false,
            "example": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Subledger"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusId": {
                      "type": "string",
                      "example": "615bcdc00000000000000302"
                    }
                  }
                }
              }
            }
          },
          "303": {
            "description": "Redirect",
            "$ref": "#/components/responses/RedirectResponse"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string",
                                "example": "reconciliationId",
                                "description": "The field that caused the error"
                              },
                              "message": {
                                "type": "string",
                                "example": "reconciliationId is required",
                                "description": "The error message"
                              }
                            }
                          }
                        }
                      },
                      "description": "Reason(s) for the errors related to incorrect query keys or values that are out of bound"
                    },
                    "name": {
                      "type": "string",
                      "example": "BadRequest",
                      "description": "BadRequest"
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "example": 400
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/api/v1/transactions": {
      "put": {
        "tags": [
          "Transactions"
        ],
        "summary": "Update Transactions",
        "operationId": "putTransactions",
        "description": "This endpoint takes a reconciliationId and a corresponding ledger type and updates each provided transaction.\n",
        "parameters": [
          {
            "name": "allowRedirect",
            "in": "query",
            "description": "If set to true, the API will return a 303 redirect response if the response payload is too large. The header `Location` and `body.data.url` will also include the URL to the actual resource.",
            "required": false,
            "example": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/SubledgerTransaction"
                  },
                  {
                    "$ref": "#/components/schemas/GLTransaction"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusId": {
                      "type": "string",
                      "example": "615bcdc00000000000000302"
                    }
                  }
                }
              }
            }
          },
          "303": {
            "description": "Redirect",
            "$ref": "#/components/responses/RedirectResponse"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/SubledgerBadRequest"
                    },
                    {
                      "$ref": "#/components/schemas/GLBadRequest"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Transactions"
        ],
        "summary": "Delete Transactions",
        "operationId": "deleteTransactions",
        "description": "This endpoint takes a reconciliationId and deletes all subledger transactions tied to it.\n",
        "parameters": [
          {
            "name": "reconciliationId",
            "in": "query",
            "description": "The reconciliationId specifies all subledger transactions associated with it for deletion",
            "required": true,
            "example": "668ee68e00b661374b4861c6",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusId": {
                      "type": "string",
                      "example": "668ee68e00b661374b4861c6"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string",
                                "example": "reconciliationId",
                                "description": "The field that caused the error"
                              },
                              "message": {
                                "type": "string",
                                "example": "reconciliationId is required",
                                "description": "The error message"
                              }
                            }
                          }
                        }
                      },
                      "description": "Reason(s) for the errors related to incorrect query keys or values that are out of bound"
                    },
                    "name": {
                      "type": "string",
                      "example": "BadRequest",
                      "description": "BadRequest"
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "example": 400
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/api/v1/transactions/status/{statusId}": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get Status",
        "operationId": "getStatus",
        "description": "This endpoint takes an ID of an endpoint event and returns the status of the event.\n",
        "parameters": [
          {
            "name": "statusId",
            "in": "path",
            "description": "The status ID returned after making a request",
            "example": "615bcdc00000000000000302",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string",
                                "example": "statusId",
                                "description": "The field that caused the error"
                              },
                              "message": {
                                "type": "string",
                                "example": "statusId is not a valid MongoId",
                                "description": "The error message"
                              }
                            }
                          }
                        }
                      },
                      "description": "Reason(s) for the errors related to incorrect query keys or values that are out of bound"
                    },
                    "name": {
                      "type": "string",
                      "example": "BadRequest",
                      "description": "BadRequest"
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "example": 400
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/Unauthorized"
          },
          "413": {
            "description": "Payload Too Large",
            "$ref": "#/components/responses/PayloadTooLarge"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/api/v1/trial-balance/upload": {
      "put": {
        "tags": [
          "Trial Balance"
        ],
        "summary": "Upload Trial Balance Data",
        "operationId": "putTrialBalanceUpload",
        "description": "This API endpoint takes trial balance data and uploads it to a user's FloQast tenant. Use this endpoint to assign or update trial balance values for each account in a given entity and period.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "required": [
                        "entityId",
                        "period",
                        "accounts"
                      ],
                      "type": "object",
                      "properties": {
                        "entityId": {
                          "description": "Id of company",
                          "type": "string",
                          "example": "5e94d5b63f557b001420bbe2"
                        },
                        "period": {
                          "type": "object",
                          "required": [
                            "month",
                            "year"
                          ],
                          "properties": {
                            "month": {
                              "description": "Month of balance",
                              "type": "string",
                              "example": "january",
                              "enum": [
                                "january",
                                "february",
                                "march",
                                "april",
                                "may",
                                "june",
                                "july",
                                "august",
                                "september",
                                "october",
                                "november",
                                "december"
                              ]
                            },
                            "year": {
                              "description": "Year of balance",
                              "type": "string",
                              "example": "2019"
                            }
                          }
                        },
                        "accounts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "name",
                              "number",
                              "balance"
                            ],
                            "properties": {
                              "name": {
                                "description": "Name of account",
                                "type": "string",
                                "example": "Software Development Costs"
                              },
                              "number": {
                                "description": "Number of account",
                                "type": "string",
                                "example": "2210"
                              },
                              "balance": {
                                "description": "Balance of account",
                                "type": "string",
                                "example": "123.45"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "entityId": {
                            "type": "string",
                            "example": "5e94d5b63f557b001420bbe2"
                          },
                          "period": {
                            "type": "object",
                            "properties": {
                              "month": {
                                "type": "string",
                                "example": "january"
                              },
                              "year": {
                                "type": "string",
                                "example": "2019"
                              }
                            }
                          },
                          "success": {
                            "type": "boolean",
                            "example": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "303": {
            "description": "Redirect",
            "$ref": "#/components/responses/RedirectResponse"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "period is required",
                      "description": "Reason for the errors related to incorrect query keys or values that are out of bound"
                    },
                    "name": {
                      "type": "string",
                      "example": "BadRequest",
                      "description": "BadRequest"
                    },
                    "status": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "example": 400
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/components/responses/Unauthorized"
          },
          "413": {
            "description": "PayloadTooLarge",
            "$ref": "#/components/responses/PayloadTooLarge"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "x-api-key": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    },
    "schemas": {
      "Email": {
        "description": "User email address",
        "type": "string",
        "example": "john.smith@example.com"
      },
      "User": {
        "type": "object",
        "properties": {
          "name": {
            "type": "object",
            "properties": {
              "first": {
                "type": "string",
                "minLength": 1,
                "example": "John"
              },
              "last": {
                "type": "string",
                "minLength": 1,
                "example": "Smith"
              }
            }
          },
          "email": {
            "$ref": "#/components/schemas/Email"
          }
        }
      },
      "ChecklistAnalyticsModel": {
        "type": "object",
        "properties": {
          "_id": {
            "description": "Id of checklist",
            "type": "string",
            "example": "5e94d5b63f557b001420bbe3"
          },
          "entity": {
            "type": "object",
            "properties": {
              "_id": {
                "description": "Id of entity",
                "type": "string",
                "example": "5e94d5b63f557b001420bbe2"
              },
              "name": {
                "description": "Name of entity",
                "type": "string",
                "example": "John Smith's company"
              },
              "workflow": {
                "description": "Workflow of entity",
                "type": "object",
                "properties": {
                  "name": {
                    "description": "Name of workflow",
                    "type": "string",
                    "example": "Close"
                  }
                }
              },
              "details": {
                "description": "User-provided details",
                "type": "string",
                "example": "Client ID: 123ABC"
              }
            }
          },
          "folder": {
            "type": "object",
            "properties": {
              "name": {
                "description": "Name of folder",
                "type": "string",
                "example": "Accounts Receivable"
              }
            }
          },
          "description": {
            "description": "Description of checklist item",
            "type": "string",
            "example": "1200 Accounts Receivable"
          },
          "itemStatus": {
            "type": "string",
            "enum": [
              "On Track",
              "Ready for Review",
              "Late (Preparer)",
              "Late (Reviewer)",
              "Complete (On Time)",
              "Complete (Prepared Late)",
              "Complete (Reviewed Late)",
              "Complete (Prepared & Reviewed Late)",
              "Out of Balance"
            ],
            "example": "On Track"
          },
          "frequency": {
            "enum": [
              "Monthly",
              "Quarterly",
              "Annually",
              "Weekly",
              "Bi-Weekly",
              "Non-Recurring",
              "Custom"
            ]
          },
          "frequencyMonths": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "june"
            }
          },
          "signatures": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "assignedTo": {
                  "type": "object",
                  "$ref": "#/components/schemas/User"
                },
                "signedBy": {
                  "type": "object",
                  "$ref": "#/components/schemas/User"
                },
                "signedDate": {
                  "description": "Date when checklist was signed",
                  "type": "string",
                  "format": "date-time"
                },
                "dueDate": {
                  "description": "Date when checklist is due",
                  "type": "string",
                  "format": "date-time"
                },
                "estimatedTimeMinutes": {
                  "description": "Estimated completion time (minutes)",
                  "type": "integer",
                  "example": 90
                },
                "group": {
                  "type": "string",
                  "enum": [
                    "preparer",
                    "reviewer",
                    "unassigned"
                  ]
                }
              }
            }
          },
          "reviewNotes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "author": {
                  "type": "object",
                  "$ref": "#/components/schemas/User"
                },
                "assignedTo": {
                  "type": "object",
                  "$ref": "#/components/schemas/User"
                },
                "message": {
                  "description": "Message of note",
                  "type": "string"
                },
                "created": {
                  "description": "Date when comment was created",
                  "type": "string",
                  "format": "date-time",
                  "example": "2021-01-01T00:00:00.000Z"
                },
                "comments": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "author": {
                        "type": "object",
                        "$ref": "#/components/schemas/User"
                      },
                      "message": {
                        "description": "Message of comment",
                        "type": "string"
                      },
                      "created": {
                        "description": "Date when comment was created",
                        "type": "string",
                        "format": "date-time",
                        "example": "2021-01-01T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "description": "Name of tag",
                  "type": "string",
                  "example": "non_close"
                }
              }
            }
          },
          "updatedAt": {
            "description": "Date when checklist was last updated",
            "type": "string",
            "format": "date-time",
            "example": "2021-01-01T00:00:00.000Z"
          },
          "period": {
            "type": "object",
            "properties": {
              "month": {
                "description": "Month of period",
                "type": "string",
                "example": "december"
              },
              "year": {
                "description": "Year of period",
                "type": "string",
                "example": "2023"
              }
            }
          }
        }
      },
      "ChecklistAnalytics": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "description": "Array of Checklists",
            "items": {
              "$ref": "#/components/schemas/ChecklistAnalyticsModel"
            }
          },
          "links": {
            "type": "object",
            "properties": {
              "self": {
                "description": "Link to self",
                "type": "string",
                "example": "/api/v1/analytics/checklists?filter[month]=march&filter[year]=2023&page[size]=1000&page[cursor]=5e94d5b63f557b001420bbe3"
              },
              "next": {
                "description": "Pagination link pointing to the next page",
                "type": "string",
                "example": "/api/v1/analytics/checklists?filter[month]=march&filter[year]=2023&page[size]=1000&page[cursor]=5e94d5b63f557b001420bbe6"
              }
            }
          }
        }
      },
      "RedirectLargePayload": {
        "type": "object",
        "description": "Only shows up if user includes a `allowRedirect=true` in the parameters. Response payload is too large and has been redirected to a new location.  Either follow the header `Location` or the `data.url` property in the response body.",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "description": "The URL to the new location of the resource."
              }
            }
          }
        }
      },
      "BadRequest": {
        "type": "object",
        "additionalProperties": true,
        "minProperties": 1,
        "description": "The Problem Details JSON Object [[RFC7807](https://tools.ietf.org/html/rfc7807)].",
        "properties": {
          "message": {
            "type": "object",
            "properties": {
              "errors": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "field": {
                      "type": "string",
                      "example": "filter[month]",
                      "description": "The field that caused the error"
                    },
                    "message": {
                      "type": "string",
                      "example": "filter[month] is required",
                      "description": "The error message"
                    }
                  }
                }
              }
            },
            "description": "Reason(s) for the errors related to incorrect query keys or values that are out of bound"
          },
          "name": {
            "type": "string",
            "example": "BadRequest",
            "description": "BadRequest"
          },
          "status": {
            "type": "integer",
            "description": "The HTTP status code.",
            "example": 400
          }
        }
      },
      "Unauthorized": {
        "type": "object",
        "additionalProperties": true,
        "minProperties": 1,
        "description": "The Problem Details JSON Object [[RFC7807](https://tools.ietf.org/html/rfc7807)].",
[...]
