---
swagger: "2.0"
info:
  description: "UBS PSD2 APIs."
  version: "1.0"
  title: "UBS PSD2 APIs"
host: "xs2a-sandbox.ubs.com"
basePath: "/xs2a/api/v1/psd2"
tags:
- name: "Resource Authorization"
  description: "Get a resource authorization"
- name: "AIS"
  description: "Access user bank accounts"
- name: "CAF"
  description: "Check the available liquidity on accounts"
- name: "PIS"
  description: "Initialize, release and delete payments"
schemes:
- "https"
paths:
  /xs2a/api/v1/psd2/accounts:
    get:
      tags:
      - "AIS"
      summary: "Get all accounts"
      description: "Reads all available accounts of the given PSU."
      operationId: "getAccountListUsingGET"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        description: "Authorization token"
        required: true
        type: "string"
        x-example: "Bearer d352b45d-0e5b-4c2d-a10b-c7be8c7cd3ff"
      - name: "PSU-Accept-Language"
        in: "header"
        description: "PSU language code"
        required: false
        type: "string"
        x-example: "en-gb"
      - name: "X-Request-ID"
        in: "header"
        description: "Id of the request"
        required: true
        type: "string"
        default: "generate-me"
        format: "uuid"
        x-example: "61adb252-5d24-41c2-b100-73570f8d6aee"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Accounts"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "405":
          description: "Method Not Allowed"
        "501":
          description: "Not Implemented"
        "502":
          description: "Bad Gateway"
        "503":
          description: "Service Unavailable"
  /xs2a/api/v1/psd2/accounts/{accountId}:
    get:
      tags:
      - "AIS"
      summary: "Get single account"
      description: "Reads information of the addressed account of the given PSU."
      operationId: "getAccountDetailsUsingGET"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        description: "Authorization token"
        required: true
        type: "string"
        x-example: "Bearer d352b45d-0e5b-4c2d-a10b-c7be8c7cd3ff"
      - name: "PSU-Accept-Language"
        in: "header"
        description: "PSU language code"
        required: false
        type: "string"
        x-example: "en-gb"
      - name: "X-Request-ID"
        in: "header"
        description: "Id of the request"
        required: true
        type: "string"
        default: "generate-me"
        format: "uuid"
        x-example: "61adb252-5d24-41c2-b100-73570f8d6aee"
      - name: "accountId"
        in: "path"
        description: "Account resource ID"
        required: true
        type: "string"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Account"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "405":
          description: "Method Not Allowed"
        "501":
          description: "Not Implemented"
        "502":
          description: "Bad Gateway"
        "503":
          description: "Service Unavailable"
  /xs2a/api/v1/psd2/accounts/{accountId}/balances:
    get:
      tags:
      - "AIS"
      summary: "Get balances"
      description: "Reads a balance list of the given PSU account."
      operationId: "getBalanceUsingGET"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        description: "Authorization token"
        required: true
        type: "string"
        x-example: "Bearer d352b45d-0e5b-4c2d-a10b-c7be8c7cd3ff"
      - name: "PSU-Accept-Language"
        in: "header"
        description: "PSU language code"
        required: false
        type: "string"
        x-example: "en-gb"
      - name: "X-Request-ID"
        in: "header"
        description: "Id of the request"
        required: true
        type: "string"
        default: "generate-me"
        format: "uuid"
        x-example: "61adb252-5d24-41c2-b100-73570f8d6aee"
      - name: "accountId"
        in: "path"
        description: "Account resource ID"
        required: true
        type: "string"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Balances"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "405":
          description: "Method Not Allowed"
        "501":
          description: "Not Implemented"
        "502":
          description: "Bad Gateway"
        "503":
          description: "Service Unavailable"
  /xs2a/api/v1/psd2/accounts/{accountId}/transactions:
    get:
      tags:
      - "AIS"
      summary: "Get transactions"
      description: "Reads a transaction list of the given PSU account."
      operationId: "getTransactionListUsingGET"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        description: "Authorization token"
        required: true
        type: "string"
        x-example: "Bearer d352b45d-0e5b-4c2d-a10b-c7be8c7cd3ff"
      - name: "PSU-Accept-Language"
        in: "header"
        description: "PSU language code"
        required: false
        type: "string"
        x-example: "en-gb"
      - name: "Paging page number"
        in: "query"
        required: false
        type: "integer"
        default: 1
        format: "int64"
        x-example: 1
      - name: "Paging page size"
        in: "query"
        required: false
        type: "integer"
        default: 25
        format: "int64"
        x-example: 25
      - name: "X-Request-ID"
        in: "header"
        description: "Id of the request"
        required: true
        type: "string"
        default: "generate-me"
        format: "uuid"
        x-example: "61adb252-5d24-41c2-b100-73570f8d6aee"
      - name: "accountId"
        in: "path"
        description: "Account resource ID"
        required: true
        type: "string"
      - name: "bookingStatus"
        in: "query"
        description: "Filtering booking status"
        required: true
        type: "string"
      - name: "dateFrom"
        in: "query"
        description: "Transactions list from date"
        required: true
        type: "string"
        format: "date"
      - name: "dateTo"
        in: "query"
        description: "Transactions list to date"
        required: false
        type: "string"
        format: "date"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/TransactionResponse"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "405":
          description: "Method Not Allowed"
        "501":
          description: "Not Implemented"
        "502":
          description: "Bad Gateway"
        "503":
          description: "Service Unavailable"
  /xs2a/api/v1/psd2/funds-confirmations:
    post:
      tags:
      - "CAF"
      summary: "Get a confirmation of funds"
      description: "Checks whether funds are available for a payment transaction on\
        \ an account linked with a given tuple cardissuer/cardnumber, or an IBAN and\
        \ TPP respectively"
      operationId: "checkFundsAvailabilityUsingPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        description: "Authorization token"
        required: true
        type: "string"
        x-example: "Bearer d352b45d-0e5b-4c2d-a10b-c7be8c7cd3ff"
      - name: "X-Request-ID"
        in: "header"
        description: "Id of the request"
        required: true
        type: "string"
        default: "generate-me"
        format: "uuid"
      - in: "body"
        name: "coverage"
        description: "Confirmation of funds request"
        required: true
        schema:
          $ref: "#/definitions/AvailableFundsRequest"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/AvailableFundsResponse"
        "201":
          description: "Created"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "405":
          description: "Method Not Allowed"
        "501":
          description: "Not Implemented"
        "502":
          description: "Bad Gateway"
        "503":
          description: "Service Unavailable"
  /xs2a/api/v1/psd2/future-payments/cross-border-credit-transfers:
    post:
      tags:
      - "PIS"
      summary: "Payment initiation operation"
      description: "Creates a payment initiation resource addressable under {payment-id}\
        \ with all data relevant for the corresponding payment product."
      operationId: "createUsingPOST_2"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        description: "Authorization token"
        required: true
        type: "string"
        x-example: "Bearer d352b45d-0e5b-4c2d-a10b-c7be8c7cd3ff"
      - name: "PSU-Accept-Language"
        in: "header"
        description: "PSU language code"
        required: false
        type: "string"
        x-example: "en-gb"
      - name: "PSU-IP-Address"
        in: "header"
        description: "Real IP address of the PSU"
        required: true
        type: "string"
        x-example: "GEO:48.134349;11.588507"
      - name: "X-Request-ID"
        in: "header"
        description: "Id of the request"
        required: true
        type: "string"
        default: "generate-me"
        format: "uuid"
        x-example: "61adb252-5d24-41c2-b100-73570f8d6aee"
      - in: "body"
        name: "payment"
        description: "PaymentInitiation body"
        required: true
        schema:
          $ref: "#/definitions/CrossBorderFuturePayment"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/PaymentTransactionStatus"
        "201":
          description: "Created"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "405":
          description: "Method Not Allowed"
        "501":
          description: "Not Implemented"
        "502":
          description: "Bad Gateway"
        "503":
          description: "Service Unavailable"
  /xs2a/api/v1/psd2/future-payments/cross-border-credit-transfers/{paymentId}:
    put:
      tags:
      - "PIS"
      summary: "release"
      operationId: "releaseUsingPUT_2"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "paymentId"
        in: "path"
        description: "paymentId"
        required: true
        type: "string"
      - in: "body"
        name: "releasePayment"
        description: "releasePayment"
        required: true
        schema:
          $ref: "#/definitions/ReleasePayment"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/PaymentTransactionStatus"
        "201":
          description: "Created"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "405":
          description: "Method Not Allowed"
        "501":
          description: "Not Implemented"
        "502":
          description: "Bad Gateway"
        "503":
          description: "Service Unavailable"
    delete:
      tags:
      - "PIS"
      summary: "delete"
      operationId: "deleteUsingDELETE_2"
      produces:
      - "application/json"
      parameters:
      - name: "paymentId"
        in: "path"
        description: "paymentId"
        required: true
        type: "string"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/PaymentTransactionStatus"
        "204":
          description: "No Content"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "405":
          description: "Method Not Allowed"
        "501":
          description: "Not Implemented"
        "502":
          description: "Bad Gateway"
        "503":
          description: "Service Unavailable"
  /xs2a/api/v1/psd2/future-payments/sepa-credit-transfers:
    post:
      tags:
      - "PIS"
      summary: "Payment initiation operation"
      description: "Creates a future payment initiation resource addressable under\
        \ {payment-id} with all data relevant for the corresponding payment product."
      operationId: "createUsingPOST_3"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        description: "Authorization token"
        required: true
        type: "string"
        x-example: "Bearer d352b45d-0e5b-4c2d-a10b-c7be8c7cd3ff"
      - name: "PSU-Accept-Language"
        in: "header"
        description: "PSU language code"
        required: false
        type: "string"
        x-example: "en-gb"
      - name: "PSU-IP-Address"
        in: "header"
        description: "Real IP address of the PSU"
        required: true
        type: "string"
        x-example: "GEO:48.134349;11.588507"
      - name: "X-Request-ID"
        in: "header"
        description: "Id of the request"
        required: true
        type: "string"
        default: "generate-me"
        format: "uuid"
        x-example: "61adb252-5d24-41c2-b100-73570f8d6aee"
      - in: "body"
        name: "payment"
        description: "PaymentInitiation body"
        required: true
        schema:
          $ref: "#/definitions/SepaFuturePayment"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/PaymentTransactionStatus"
        "201":
          description: "Created"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "405":
          description: "Method Not Allowed"
        "501":
          description: "Not Implemented"
        "502":
          description: "Bad Gateway"
        "503":
          description: "Service Unavailable"
  /xs2a/api/v1/psd2/future-payments/sepa-credit-transfers/{paymentId}:
    put:
      tags:
      - "PIS"
      summary: "release"
      operationId: "releaseUsingPUT_3"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "paymentId"
        in: "path"
        description: "paymentId"
        required: true
        type: "string"
      - in: "body"
        name: "releasePayment"
        description: "releasePayment"
        required: true
        schema:
          $ref: "#/definitions/ReleasePayment"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/PaymentTransactionStatus"
        "201":
          description: "Created"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "405":
          description: "Method Not Allowed"
        "501":
          description: "Not Implemented"
        "502":
          description: "Bad Gateway"
        "503":
          description: "Service Unavailable"
    delete:
      tags:
      - "PIS"
      summary: "delete"
      operationId: "deleteUsingDELETE_3"
      produces:
      - "application/json"
      parameters:
      - name: "paymentId"
        in: "path"
        description: "paymentId"
        required: true
        type: "string"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/PaymentTransactionStatus"
        "204":
          description: "No Content"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "405":
          description: "Method Not Allowed"
        "501":
          description: "Not Implemented"
        "502":
          description: "Bad Gateway"
        "503":
          description: "Service Unavailable"
  /xs2a/api/v1/psd2/payments/cross-border-credit-transfers:
    post:
      tags:
      - "PIS"
      summary: "Payment initiation operation"
      description: "Creates a payment initiation resource addressable under {payment-id}\
        \ with all data relevant for the corresponding payment product."
      operationId: "createUsingPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        description: "Authorization token"
        required: true
        type: "string"
        x-example: "Bearer d352b45d-0e5b-4c2d-a10b-c7be8c7cd3ff"
      - name: "PSU-Accept-Language"
        in: "header"
        description: "PSU language code"
        required: false
        type: "string"
        x-example: "en-gb"
      - name: "PSU-IP-Address"
        in: "header"
        description: "Real IP address of the PSU"
        required: true
        type: "string"
        x-example: "8.8.8.8"
      - name: "X-Request-ID"
        in: "header"
        description: "Id of the request"
        required: true
        type: "string"
        default: "generate-me"
        format: "uuid"
        x-example: "61adb252-5d24-41c2-b100-73570f8d6aee"
      - in: "body"
        name: "payment"
        description: "PaymentInitiation body"
        required: true
        schema:
          $ref: "#/definitions/CrossBorderPayment"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/PaymentTransactionStatus"
        "201":
          description: "Created"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "405":
          description: "Method Not Allowed"
        "501":
          description: "Not Implemented"
        "502":
          description: "Bad Gateway"
        "503":
          description: "Service Unavailable"
  /xs2a/api/v1/psd2/payments/cross-border-credit-transfers/{paymentId}:
    put:
      tags:
      - "PIS"
      summary: "release"
      operationId: "releaseUsingPUT"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "paymentId"
        in: "path"
        description: "paymentId"
        required: true
        type: "string"
      - in: "body"
        name: "releasePayment"
        description: "releasePayment"
        required: true
        schema:
          $ref: "#/definitions/ReleasePayment"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/PaymentTransactionStatus"
        "201":
          description: "Created"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "405":
          description: "Method Not Allowed"
        "501":
          description: "Not Implemented"
        "502":
          description: "Bad Gateway"
        "503":
          description: "Service Unavailable"
    delete:
      tags:
      - "PIS"
      summary: "delete"
      operationId: "deleteUsingDELETE"
      produces:
      - "application/json"
      parameters:
      - name: "paymentId"
        in: "path"
        description: "paymentId"
        required: true
        type: "string"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/PaymentTransactionStatus"
        "204":
          description: "No Content"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "405":
          description: "Method Not Allowed"
        "501":
          description: "Not Implemented"
        "502":
          description: "Bad Gateway"
        "503":
          description: "Service Unavailable"
  /xs2a/api/v1/psd2/payments/sepa-credit-transfers:
    post:
      tags:
      - "PIS"
      summary: "Payment initiation operation"
      description: "Creates a payment initiation resource addressable under {payment-id}\
        \ with all data relevant for the corresponding payment product."
      operationId: "createUsingPOST_4"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        description: "Authorization token"
        required: true
        type: "string"
        x-example: "Bearer d352b45d-0e5b-4c2d-a10b-c7be8c7cd3ff"
      - name: "PSU-Accept-Language"
        in: "header"
        description: "PSU language code"
        required: false
        type: "string"
        x-example: "en-gb"
      - name: "PSU-IP-Address"
        in: "header"
        description: "Real IP address of the PSU"
        required: true
        type: "string"
        x-example: "GEO:48.134349;11.588507"
      - name: "X-Request-ID"
        in: "header"
        description: "Id of the request"
        required: true
        type: "string"
        default: "generate-me"
        format: "uuid"
        x-example: "61adb252-5d24-41c2-b100-73570f8d6aee"
      - in: "body"
        name: "payment"
        description: "PaymentInitiation body"
        required: true
        schema:
          $ref: "#/definitions/SepaPayment"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/PaymentTransactionStatus"
        "201":
          description: "Created"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "405":
          description: "Method Not Allowed"
        "501":
          description: "Not Implemented"
        "502":
          description: "Bad Gateway"
        "503":
          description: "Service Unavailable"
  /xs2a/api/v1/psd2/payments/sepa-credit-transfers/{paymentId}:
    put:
      tags:
      - "PIS"
      summary: "release"
      operationId: "releaseUsingPUT_4"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "paymentId"
        in: "path"
        description: "paymentId"
        required: true
        type: "string"
      - in: "body"
        name: "releasePayment"
        description: "releasePayment"
        required: true
        schema:
          $ref: "#/definitions/ReleasePayment"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/PaymentTransactionStatus"
        "201":
          description: "Created"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "405":
          description: "Method Not Allowed"
        "501":
          description: "Not Implemented"
        "502":
          description: "Bad Gateway"
        "503":
          description: "Service Unavailable"
    delete:
      tags:
      - "PIS"
      summary: "delete"
      operationId: "deleteUsingDELETE_4"
      produces:
      - "application/json"
      parameters:
      - name: "paymentId"
        in: "path"
        description: "paymentId"
        required: true
        type: "string"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/PaymentTransactionStatus"
        "204":
          description: "No Content"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "405":
          description: "Method Not Allowed"
        "501":
          description: "Not Implemented"
        "502":
          description: "Bad Gateway"
        "503":
          description: "Service Unavailable"
  /xs2a/api/v1/psd2/periodic-payments/cross-border-credit-transfers:
    post:
      tags:
      - "PIS"
      summary: "Periodic payment initiation operation"
      description: "Create a standing order initiation\nresource for recurrent i.e.\
        \ periodic payments addressable under {paymentId} with all data relevant for\n\
        the corresponding payment product and the execution of the standing order.\
        \ This is the first step in the API\nto initiate the related recurring/periodic\
        \ payment"
      operationId: "createUsingPOST_1"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        description: "Authorization token"
        required: true
        type: "string"
        x-example: "Bearer d352b45d-0e5b-4c2d-a10b-c7be8c7cd3ff"
      - name: "PSU-Accept-Language"
        in: "header"
        description: "PSU language code"
        required: false
        type: "string"
        x-example: "en-gb"
      - name: "PSU-IP-Address"
        in: "header"
        description: "Real IP address of the PSU"
        required: true
        type: "string"
        x-example: "GEO:48.134349;11.588507"
      - name: "X-Request-ID"
        in: "header"
        description: "Id of the request"
        required: true
        type: "string"
        default: "generate-me"
        format: "uuid"
        x-example: "61adb252-5d24-41c2-b100-73570f8d6aee"
      - in: "body"
        name: "payment"
        description: "PaymentInitiation body"
        required: true
        schema:
          $ref: "#/definitions/CrossBorderPeriodicPayment"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/PaymentTransactionStatus"
        "201":
          description: "Created"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "405":
          description: "Method Not Allowed"
        "501":
          description: "Not Implemented"
        "502":
          description: "Bad Gateway"
        "503":
          description: "Service Unavailable"
  /xs2a/api/v1/psd2/periodic-payments/cross-border-credit-transfers/{paymentId}:
    put:
      tags:
      - "PIS"
      summary: "release"
      operationId: "releaseUsingPUT_1"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "paymentId"
        in: "path"
        description: "paymentId"
        required: true
        type: "string"
      - in: "body"
        name: "releasePayment"
        description: "releasePayment"
        required: true
        schema:
          $ref: "#/definitions/ReleasePayment"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/PaymentTransactionStatus"
        "201":
          description: "Created"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "405":
          description: "Method Not Allowed"
        "501":
          description: "Not Implemented"
        "502":
          description: "Bad Gateway"
        "503":
          description: "Service Unavailable"
    delete:
      tags:
      - "PIS"
      summary: "delete"
      operationId: "deleteUsingDELETE_1"
      produces:
      - "application/json"
      parameters:
      - name: "paymentId"
        in: "path"
        description: "paymentId"
        required: true
        type: "string"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/PaymentTransactionStatus"
        "204":
          description: "No Content"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "405":
          description: "Method Not Allowed"
        "501":
          description: "Not Implemented"
        "502":
          description: "Bad Gateway"
        "503":
          description: "Service Unavailable"
  /xs2a/api/v1/psd2/periodic-payments/sepa-credit-transfers:
    post:
      tags:
      - "PIS"
      summary: "Periodic payment initiation operation"
      description: "Create a standing order initiation\nresource for recurrent i.e.\
        \ periodic payments addressable under {paymentId} with all data relevant for\n\
        the corresponding payment product and the execution of the standing order.\
        \ This is the first step in the API\nto initiate the related recurring/periodic\
        \ payment"
      operationId: "createUsingPOST_5"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        description: "Authorization token"
        required: true
        type: "string"
        x-example: "Bearer d352b45d-0e5b-4c2d-a10b-c7be8c7cd3ff"
      - name: "PSU-Accept-Language"
        in: "header"
        description: "PSU language code"
        required: false
        type: "string"
        x-example: "en-gb"
      - name: "PSU-IP-Address"
        in: "header"
        description: "Real IP address of the PSU"
        required: true
        type: "string"
        x-example: "GEO:48.134349;11.588507"
      - name: "X-Request-ID"
        in: "header"
        description: "Id of the request"
        required: true
        type: "string"
        default: "generate-me"
        format: "uuid"
        x-example: "61adb252-5d24-41c2-b100-73570f8d6aee"
      - in: "body"
        name: "payment"
        description: "PaymentInitiation body"
        required: true
        schema:
          $ref: "#/definitions/SepaPeriodicPayment"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/PaymentTransactionStatus"
        "201":
          description: "Created"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "405":
          description: "Method Not Allowed"
        "501":
          description: "Not Implemented"
        "502":
          description: "Bad Gateway"
        "503":
          description: "Service Unavailable"
  /xs2a/api/v1/psd2/periodic-payments/sepa-credit-transfers/{paymentId}:
    put:
      tags:
      - "PIS"
      summary: "release"
      operationId: "releaseUsingPUT_5"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "paymentId"
        in: "path"
        description: "paymentId"
        required: true
        type: "string"
      - in: "body"
        name: "releasePayment"
        description: "releasePayment"
        required: true
        schema:
          $ref: "#/definitions/ReleasePayment"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/PaymentTransactionStatus"
        "201":
          description: "Created"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "405":
          description: "Method Not Allowed"
        "501":
          description: "Not Implemented"
        "502":
          description: "Bad Gateway"
        "503":
          description: "Service Unavailable"
    delete:
      tags:
      - "PIS"
      summary: "delete"
      operationId: "deleteUsingDELETE_5"
      produces:
      - "application/json"
      parameters:
      - name: "paymentId"
        in: "path"
        description: "paymentId"
        required: true
        type: "string"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/PaymentTransactionStatus"
        "204":
          description: "No Content"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "405":
          description: "Method Not Allowed"
        "501":
          description: "Not Implemented"
        "502":
          description: "Bad Gateway"
        "503":
          description: "Service Unavailable"
  /xs2a/api/v1/psd2/resourceAuthorization:
    get:
      tags:
      - "Resource Authorization"
      summary: "Get a resource authorization"
      description: "Get a resource authorization"
      operationId: "getResourceAuthorizationUsingGET"
      produces:
      - "application/json"
      parameters:
      - name: "PSU-Geo-Location"
        in: "header"
        description: "PSU geo location"
        required: true
        type: "string"
        x-example: "GEO:48.134349;11.588507"
      - name: "PSU-IP-Address"
        in: "header"
        description: "PSU IP address"
        required: true
        type: "string"
        x-example: "8.8.8.8"
      - name: "TPP-Redirect-URI"
        in: "header"
        description: "Redirect URI for tpp request"
        required: true
        type: "string"
        x-example: "https://www.tpp.com"
      - name: "X-Request-ID"
        in: "header"
        description: "Id of the request"
        required: true
        type: "string"
        default: "generate-me"
        format: "uuid"
        x-example: "61adb252-5d24-41c2-b100-73570f8d6aee"
      - name: "scope"
        in: "query"
        description: "scope"
        required: true
        type: "string"
        enum:
        - "AIS"
        - "PIS"
        - "CFS"
      - name: "state"
        in: "query"
        description: "sate [MaxLength 32]"
        required: false
        type: "string"
        allowEmptyValue: false
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/ResourceAuthorizationResponse"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
        "405":
          description: "Method Not Allowed"
        "501":
          description: "Not Implemented"
        "502":
          description: "Bad Gateway"
        "503":
          description: "Service Unavailable"
definitions:
  AISResourceLinks:
    title: "AISResourceLinks"
    properties:
      accounts:
        description: "URL of accounts resource"
        $ref: "#/definitions/href"
      balances:
        description: "URL of account balances resource"
        $ref: "#/definitions/href"
      self:
        description: "The link to the payment initiation or account information resource,\
          \ which needs to be updated by a psu password\nand eventually the PSU identification\
          \ if not delivered yet."
        $ref: "#/definitions/href"
      transactions:
        description: "URL of account  transactions resource"
        $ref: "#/definitions/href"
    allOf:
    - $ref: "#/definitions/ResourceLinks"
    - type: "object"
      discriminator: "accounts"
      properties:
        accounts:
          description: "URL of accounts resource"
          $ref: "#/definitions/href"
        balances:
          description: "URL of account balances resource"
          $ref: "#/definitions/href"
        self:
          description: "The link to the payment initiation or account information\
            \ resource, which needs to be updated by a psu password\nand eventually\
            \ the PSU identification if not delivered yet."
          $ref: "#/definitions/href"
        transactions:
          description: "URL of account  transactions resource"
          $ref: "#/definitions/href"
      title: "AISResourceLinks"
  Account:
    type: "object"
    required:
    - "currency"
    properties:
      resourceId:
        type: "string"
        example: "8deb6686-e6ad-4196-ab38-c5453a32acef"
        description: "This is the data element to be used in the path when retrieving\
          \ data from a dedicated account."
      iban:
        type: "string"
        example: "FR7612345987650123456789014"
        description: "IBAN of a payment account."
      bban:
        type: "string"
        example: "BARC12345612345678"
        description: "For payment accounts if there is no IBAN."
      pan:
        type: "string"
        example: "5409050000000000"
        description: "Primary Account Number (PAN) of a card. Can be tokenised by\
          \ the ASPSP due to PCI DSS requirements."
      maskedPan:
        type: "string"
        example: "123456xxxxxx1234"
        description: "The Primary Account Number (PAN) of a card in a masked form."
      msisdn:
        type: "string"
        example: "+49 170 12345678"
        description: "An alias to access a payment account via a registered mobile\
          \ phone number."
      currency:
        type: "string"
        example: "EUR"
        description: "Account currency"
      name:
        type: "string"
        example: "Girokonto"
        description: "Name of the account given by the bank or the PSU in online-banking."
      ownerName:
        type: "string"
        description: "Account Owner Name (Person or Company Name)."
      product:
        type: "string"
        description: "Product name of the bank for this account, proprietary definition."
      cashAccountType:
        type: "string"
        description: "ExternalCashAccountType1Code from ISO 20022"
      status:
        type: "string"
        example: "enabled,deleted,blocked"
        description: "Account status (enabled,deleted,blocked)."
        enum:
        - "ENABLED"
        - "DELETED"
        - "BLOCKED"
      bic:
        type: "string"
        example: "DEUTDEMM"
        description: "The BIC associated to the account"
      linkedAccounts:
        type: "string"
        description: "Case of a set of pending card transactions, the APSP will provide\
          \ the relevant cash account the card is set up on."
      usage:
        type: "string"
        example: "PRIV, ORGA"
        description: "Specifies usage of the account (PRIV, ORGA)."
        enum:
        - "PRIV"
        - "ORGA"
      details:
        type: "string"
        description: "Specifications that might be provided by the ASPSP."
      balances:
        type: "array"
        description: "Array of account balances"
        items:
          $ref: "#/definitions/Amount"
      _links:
        description: "Links to the account, which can be directly used for retrieving\
          \ account information from this dedicated account."
        $ref: "#/definitions/AISResourceLinks"
    title: "Account"
  AccountReference:
    type: "object"
    required:
    - "iban"
    properties:
      iban:
        type: "string"
        example: "FR7612345987650123456789014"
        description: "IBAN of a payment account."
      bban:
        type: "string"
        example: "BARC12345612345678"
        description: "For payment accounts if there is no IBAN."
      pan:
        type: "string"
        example: "5409050000000000"
        description: "Primary Account Number (PAN) of a card. Can be tokenised by\
          \ the ASPSP due to PCI DSS requirements."
      maskedPan:
        type: "string"
        example: "123456xxxxxx1234"
        description: "The Primary Account Number (PAN) of a card in a masked form."
      msisdn:
        type: "string"
        example: "+49 170 12345678"
        description: "An alias to access a payment account via a registered mobile\
          \ phone number."
      currency:
        type: "string"
        example: "EUR"
    title: "AccountReference"
  Accounts:
    type: "object"
    required:
    - "accounts"
    properties:
      accounts:
        type: "array"
        description: "List of accounts with details."
        items:
          $ref: "#/definitions/Account"
    title: "Accounts"
    description: "List of accounts"
  AdditionalInformation:
    type: "object"
    properties:
      standingOrderDetails:
        $ref: "#/definitions/StandingOrderDetails"
    title: "AdditionalInformation"
  Address:
    type: "object"
    required:
    - "country"
    properties:
      buildingNumber:
        type: "string"
        example: "35A"
        description: "Building number"
      city:
        type: "string"
        example: "Munich"
        description: "City"
      country:
        type: "string"
        example: "DE"
        description: "Country code in ISO 3166 ALPHA2 standard"
      postalCode:
        type: "string"
        example: "80339"
        description: "Postal code"
      street:
        type: "string"
        example: "Ridlerstrasse"
        description: "Street"
    title: "Address"
  Amount:
    type: "object"
    required:
    - "amount"
    - "currency"
    properties:
      currency:
        type: "string"
        example: "EUR"
        description: "ISO 4217 Alpha 3 currency code"
      amount:
        type: "number"
        example: 1000.5
        description: "The amount given with fractional digits, where fractions must\
          \ be compliant to the currency definition. Up to 14 significant figures.\
          \ Negative amounts are signed by minus. The decimal separator is a dot."
    title: "Amount"
  AvailableFundsRequest:
    type: "object"
    required:
    - "account"
    - "instructedAmount"
    properties:
      cardNumber:
        type: "string"
        example: "5557-9532-5213-2621"
        description: "Card Number of the card issued by the PIISP. Must be delivered\
          \ if available."
      account:
        description: "PSU's account number."
        $ref: "#/definitions/AccountReference"
      payee:
        type: "string"
        description: "The merchant where the card is accepted as an information to\
          \ the PSU."
      instructedAmount:
        description: "Transaction amount to be checked within the funds check mechanism."
        $ref: "#/definitions/Amount"
    title: "AvailableFundsRequest"
  AvailableFundsResponse:
    type: "object"
    required:
    - "fundsAvailable"
    properties:
      fundsAvailable:
        type: "boolean"
        description: "Equals true if sufficient funds are available at the time of\
          \ the request, false otherwise."
    title: "AvailableFundsResponse"
    description: "Information if funds are available."
  Balance:
    type: "object"
    required:
    - "balanceAmount"
    - "balanceType"
    properties:
      balanceAmount:
        description: "Balances in currency"
        $ref: "#/definitions/Amount"
      balanceType:
        type: "string"
        example: "closingBooked, expected, authorised, openingBooked, interimAvailable,\
          \ forwardAvailable"
        description: "Balance Type"
        enum:
        - "closingBooked"
        - "closingAvailable"
        - "expected"
        - "information"
        - "undefined"
        - "nonInvoiced"
        - "openingBooked"
        - "openingAvailable"
        - "interimAvailable"
        - "forwardAvailable"
        - "interimBooked"
        - "previouslyClosedBooked"
      lastActionDateTime:
        type: "string"
        format: "date-time"
        description: "Last change account balance. "
      referenceDate:
        type: "string"
        format: "date"
        description: "Reference date of the balance"
      lastCommittedTransaction:
        type: "string"
        description: "entryReference of the last commited transaction to support the\
          \ TPP in identifying whether all PSU transactions are already known."
    title: "Balance"
  Balances:
    type: "object"
    required:
    - "balances"
    properties:
      account:
        description: "Account reference"
        $ref: "#/definitions/AccountReference"
      balances:
        type: "array"
        description: "A list of balances regarding this account, e.g. the current\
          \ balance, the last booked balance. The list migght be restricted to the\
          \ current ballance."
        items:
          $ref: "#/definitions/Balance"
      _links:
        $ref: "#/definitions/AISResourceLinks"
    title: "Balances"
  CrossBorderFuturePayment:
    type: "object"
    required:
    - "creditorAccount"
    - "creditorName"
    - "debtorAccount"
    - "instructedAmount"
    - "requestedExecutionDate"
    properties:
      chargeBearer:
        type: "string"
        enum:
        - "DEBT"
        - "CRED"
        - "SHAR"
        - "SLEV"
      creditorAccount:
        $ref: "#/definitions/AccountReference"
      creditorAddress:
        $ref: "#/definitions/Address"
      creditorAgent:
        type: "string"
      creditorName:
        type: "string"
      debtorAccount:
        $ref: "#/definitions/AccountReference"
      debtorAgent:
        type: "string"
      endToEndIdentification:
        type: "string"
      instructedAmount:
        $ref: "#/definitions/Amount"
      purposeCode:
        type: "string"
      rationale:
        type: "string"
      remittanceInformationStructured:
        type: "string"
      remittanceInformationUnstructured:
        type: "string"
      requestedExecutionDate:
        type: "string"
        format: "date"
      ultimateCreditor:
        type: "string"
      ultimateDebtor:
        type: "string"
    title: "CrossBorderFuturePayment"
  CrossBorderPayment:
    type: "object"
    required:
    - "creditorAccount"
    - "creditorName"
    - "debtorAccount"
    - "instructedAmount"
    properties:
      chargeBearer:
        type: "string"
        enum:
        - "DEBT"
        - "CRED"
        - "SHAR"
        - "SLEV"
      creditorAccount:
        $ref: "#/definitions/AccountReference"
      creditorAddress:
        $ref: "#/definitions/Address"
      creditorAgent:
        type: "string"
      creditorName:
        type: "string"
      debtorAccount:
        $ref: "#/definitions/AccountReference"
      debtorAgent:
        type: "string"
      endToEndIdentification:
        type: "string"
      instructedAmount:
        $ref: "#/definitions/Amount"
      purposeCode:
        type: "string"
      rationale:
        type: "string"
      remittanceInformationStructured:
        type: "string"
      remittanceInformationUnstructured:
        type: "string"
      ultimateCreditor:
        type: "string"
      ultimateDebtor:
        type: "string"
    title: "CrossBorderPayment"
  CrossBorderPeriodicPayment:
    type: "object"
    required:
    - "creditorAccount"
    - "creditorName"
    - "debtorAccount"
    - "frequency"
    - "instructedAmount"
    - "startDate"
    properties:
      chargeBearer:
        type: "string"
        enum:
        - "DEBT"
        - "CRED"
        - "SHAR"
        - "SLEV"
      creditorAccount:
        $ref: "#/definitions/AccountReference"
      creditorAddress:
        $ref: "#/definitions/Address"
      creditorAgent:
        type: "string"
      creditorName:
        type: "string"
      dayOfExecution:
        type: "string"
        example: "1"
        description: "Day of the execution"
      debtorAccount:
        $ref: "#/definitions/AccountReference"
      debtorAgent:
        type: "string"
      endDate:
        type: "string"
        format: "date"
        example: "2018-03-01"
        description: "The last applicable day of execution. (Optional)"
      endToEndIdentification:
        type: "string"
      executionRule:
        type: "string"
        example: "2018-03-01"
        description: "This data attribute definesthe behavior when recurring paymentdates\
          \ falls on a weekend or bankholiday. The payment is then executedeither\
          \ the \"preceeding\" or \"following\"working day."
        enum:
        - "FOLLOWING"
        - "PRECEEDING"
      frequency:
        type: "string"
        example: "daily"
        description: "The frequency of the recurring paymentresulting from this standing\
          \ order."
        enum:
        - "DAILY"
        - "WEEKLY"
        - "EVERYTWOWEEKS"
        - "MONTHLY"
        - "EVERYTWOMONTHS"
        - "QUARTERLY"
        - "EVERYFOURMONTHS"
        - "SEMIANNUAL"
        - "ANNUAL"
        - "MONTHLYVARIABLE"
      instructedAmount:
        $ref: "#/definitions/Amount"
      purposeCode:
        type: "string"
      rationale:
        type: "string"
      remittanceInformationStructured:
        type: "string"
      remittanceInformationUnstructured:
        type: "string"
      startDate:
        type: "string"
        format: "date"
        example: "2018-03-01"
        description: "The first applicable day of executionstarting from this date\
          \ is the firstpayment."
      ultimateCreditor:
        type: "string"
      ultimateDebtor:
        type: "string"
    title: "CrossBorderPeriodicPayment"
  PaymentTransactionStatus:
    type: "object"
    required:
    - "transactionStatus"
    properties:
      paymentId:
        type: "string"
        description: "Resource identification of the generated payment initiation\
          \ resource"
      transactionFeeIndicator:
        type: "boolean"
        description: "If set, the transaction will involve specific transaction cost\
          \ as shown by the ASPSP in their public price list or as agreed between\
          \ ASPSP and PSU"
      transactionFees:
        description: "Transaction fees relevant for the underlying payments."
        $ref: "#/definitions/Amount"
      transactionStatus:
        type: "string"
        description: "The status is returned."
        enum:
        - "ACCP"
        - "ACSC"
        - "ACSP"
        - "ACTC"
        - "ACWC"
        - "ACWP"
        - "RCVD"
        - "PDNG"
        - "RJCT"
        - "CANC"
      psuMessage:
        type: "string"
        description: "Text displayed for the PSU"
      tppMessages:
        type: "array"
        description: "Text displayed for the TPP"
        items:
          $ref: "#/definitions/TppMessage"
      _links:
        $ref: "#/definitions/ResourceLinks"
    title: "PaymentTransactionStatus"
  ReleasePayment:
    type: "object"
    required:
    - "encryptedPayload"
    properties:
      encryptedPayload:
        type: "string"
        description: "Encrypted payload"
    title: "ReleasePayment"
  ResourceAuthorizationResponse:
    type: "object"
    properties:
      _links:
        $ref: "#/definitions/SCAResourceLinks"
    title: "ResourceAuthorizationResponse"
  ResourceLinks:
    type: "object"
    properties:
      self:
        description: "The link to the payment initiation or account information resource,\
          \ which needs to be updated by a psu password\nand eventually the PSU identification\
          \ if not delivered yet."
        $ref: "#/definitions/href"
    title: "ResourceLinks"
  SCAResourceLinks:
    title: "SCAResourceLinks"
    properties:
      self:
        description: "The link to the payment initiation or account information resource,\
          \ which needs to be updated by a psu password\nand eventually the PSU identification\
          \ if not delivered yet."
        $ref: "#/definitions/href"
      scaRedirect:
        description: "The link to redirect to the sca resource"
        $ref: "#/definitions/href"
    allOf:
    - $ref: "#/definitions/ResourceLinks"
    - type: "object"
      discriminator: "scaRedirect"
      properties:
        self:
          description: "The link to the payment initiation or account information\
            \ resource, which needs to be updated by a psu password\nand eventually\
            \ the PSU identification if not delivered yet."
          $ref: "#/definitions/href"
        scaRedirect:
          description: "The link to redirect to the sca resource"
          $ref: "#/definitions/href"
      title: "SCAResourceLinks"
  SepaFuturePayment:
    type: "object"
    required:
    - "creditorAccount"
    - "creditorName"
    - "debtorAccount"
    - "instructedAmount"
    - "requestedExecutionDate"
    properties:
      creditorAccount:
        $ref: "#/definitions/AccountReference"
      creditorAddress:
        $ref: "#/definitions/Address"
      creditorAgent:
        type: "string"
      creditorName:
        type: "string"
      debtorAccount:
        $ref: "#/definitions/AccountReference"
      debtorAgent:
        type: "string"
      endToEndIdentification:
        type: "string"
      instructedAmount:
        $ref: "#/definitions/Amount"
      purposeCode:
        type: "string"
      rationale:
        type: "string"
      remittanceInformationStructured:
        type: "string"
      remittanceInformationUnstructured:
        type: "string"
      requestedExecutionDate:
        type: "string"
        format: "date"
      ultimateCreditor:
        type: "string"
      ultimateDebtor:
        type: "string"
    title: "SepaFuturePayment"
  SepaPayment:
    type: "object"
    required:
    - "creditorAccount"
    - "creditorName"
    - "debtorAccount"
    - "instructedAmount"
    properties:
      creditorAccount:
        $ref: "#/definitions/AccountReference"
      creditorAddress:
        $ref: "#/definitions/Address"
      creditorAgent:
        type: "string"
      creditorName:
        type: "string"
      debtorAccount:
        $ref: "#/definitions/AccountReference"
      debtorAgent:
        type: "string"
      endToEndIdentification:
        type: "string"
      instructedAmount:
        $ref: "#/definitions/Amount"
      purposeCode:
        type: "string"
      rationale:
        type: "string"
      remittanceInformationStructured:
        type: "string"
      remittanceInformationUnstructured:
        type: "string"
      ultimateCreditor:
        type: "string"
      ultimateDebtor:
        type: "string"
    title: "SepaPayment"
  SepaPeriodicPayment:
    type: "object"
    required:
    - "creditorAccount"
    - "creditorName"
    - "debtorAccount"
    - "frequency"
    - "instructedAmount"
    - "startDate"
    properties:
      creditorAccount:
        $ref: "#/definitions/AccountReference"
      creditorAddress:
        $ref: "#/definitions/Address"
      creditorAgent:
        type: "string"
      creditorName:
        type: "string"
      dayOfExecution:
        type: "string"
        example: "1"
        description: "Day of the execution"
      debtorAccount:
        $ref: "#/definitions/AccountReference"
      debtorAgent:
        type: "string"
      endDate:
        type: "string"
        format: "date"
        example: "2018-03-01"
        description: "The last applicable day of execution. (Optional)"
      endToEndIdentification:
        type: "string"
      executionRule:
        type: "string"
        example: "2018-03-01"
        description: "This data attribute definesthe behavior when recurring paymentdates\
          \ falls on a weekend or bankholiday. The payment is then executedeither\
          \ the \"preceeding\" or \"following\"working day."
        enum:
        - "FOLLOWING"
        - "PRECEEDING"
      frequency:
        type: "string"
        example: "monthly"
        description: "The frequency of the recurring payment resulting from this standing\
          \ order."
        enum:
        - "DAILY"
        - "WEEKLY"
        - "EVERYTWOWEEKS"
        - "MONTHLY"
        - "EVERYTWOMONTHS"
        - "QUARTERLY"
        - "EVERYFOURMONTHS"
        - "SEMIANNUAL"
        - "ANNUAL"
        - "MONTHLYVARIABLE"
      instructedAmount:
        $ref: "#/definitions/Amount"
      purposeCode:
        type: "string"
      rationale:
        type: "string"
      remittanceInformationStructured:
        type: "string"
      remittanceInformationUnstructured:
        type: "string"
      startDate:
        type: "string"
        format: "date"
        example: "2018-03-01"
        description: "The first applicable day of execution starting from this date\
          \ is the first payment."
      ultimateCreditor:
        type: "string"
      ultimateDebtor:
        type: "string"
    title: "SepaPeriodicPayment"
  StandingOrderDetails:
    type: "object"
    properties:
      dayOfExecution:
        type: "string"
      endDate:
        type: "string"
      executionRule:
        type: "string"
        enum:
        - "FOLLOWING"
        - "PRECEEDING"
      frequency:
        type: "string"
      limitAmount:
        type: "number"
      monthsOfExecution:
        type: "array"
        items:
          type: "string"
      multiplicator:
        type: "integer"
        format: "int32"
      startDate:
        type: "string"
      withinAMonthFlag:
        type: "boolean"
    title: "StandingOrderDetails"
  TppMessage:
    type: "object"
    properties:
      category:
        type: "string"
        example: "ERROR"
        enum:
        - "ERROR"
        - "WARNING"
      code:
        type: "string"
        example: "TOKEN_MISSING"
        description: "in case of error - the code"
        enum:
        - "TOKEN_UNKNOWN"
        - "TOKEN_INVALID"
        - "TOKEN_EXPIRED"
      text:
        type: "string"
        description: "additional text information of the ASPSP"
    title: "TppMessage"
  Transaction:
    type: "object"
    required:
    - "transactionAmount"
    properties:
      additionalInformationStructured:
        $ref: "#/definitions/AdditionalInformation"
      bookingDate:
        type: "string"
        format: "date-time"
      checkId:
        type: "string"
      creditorAccount:
        $ref: "#/definitions/AccountReference"
      creditorId:
        type: "string"
        example: "SEPA Mandate ID"
        description: "Identification of Creditors"
      creditorName:
        type: "string"
        description: "Name of the creditor if a \"Debited\" transaction"
      debtorAccount:
        $ref: "#/definitions/AccountReference"
      debtorName:
        type: "string"
      endToEndId:
        type: "string"
      entryReference:
        type: "string"
        example: "1"
        description: "Can be used as access-ID in the API, where more details on an\
          \ transaction is offered"
      mandateId:
        type: "string"
        example: "SEPA Mandate ID"
        description: "Identification of Mandates"
      proprietaryBankTransactionCode:
        type: "string"
      purposeCode:
        type: "string"
      remittanceInformationStructured:
        type: "string"
      remittanceInformationUnstructured:
        type: "string"
      transactionAmount:
        $ref: "#/definitions/Amount"
      transactionId:
        type: "string"
        example: "1"
        description: "Can be used as access-ID in the API, where more details on an\
          \ transaction is offered"
      ultimateCreditor:
        type: "string"
      ultimateDebtor:
        type: "string"
      valueDate:
        type: "string"
        format: "date-time"
    title: "Transaction"
  TransactionResponse:
    type: "object"
    properties:
      account:
        $ref: "#/definitions/Account"
      transactions:
        $ref: "#/definitions/Transactions"
    title: "TransactionResponse"
  Transactions:
    type: "object"
    required:
    - "_links"
    - "booked"
    properties:
      booked:
        type: "array"
        items:
          $ref: "#/definitions/Transaction"
      pending:
        type: "array"
        items:
          $ref: "#/definitions/Transaction"
      information:
        type: "array"
        items:
          $ref: "#/definitions/Transaction"
      _links:
        $ref: "#/definitions/AISResourceLinks"
    title: "Transactions"
  href:
    type: "object"
    required:
    - "href"
    properties:
      href:
        type: "string"
    title: "href"
