{"openapi":"3.0.0","info":{"title":"Partner API","version":"1.0.0"},"servers":[{"url":"https://api.moonpay.com"}],"components":{"securitySchemes":{"apiKey":{"type":"apiKey","name":"Authorization","in":"header"}}},"tags":[{"name":"Partner account","description":"Partner account operations"},{"name":"KYB","description":"KYB operations"}],"paths":{"/partner_onboarding/v1/accounts":{"post":{"tags":["Partner account"],"summary":"Create a new partner account","operationId":"createPartnerAccount","description":"Create a new partner account with required information. Returns a link to fill in KYB information for required level and the partner account ID. The partner account ID can be used to retrieve API keys and update domains. The partner account will be in pending status until the KYB information is submitted and approved.\n\nUse MoonPay - Server-to-Server authentication with live secret API key as the Authorization header.\n","security":[{"apiKey":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"accountName":{"type":"string","description":"The name of the partner account.","example":"My account"},"country":{"type":"string","description":"ISO 3166-1 alpha-3 code of the country where the business entity is registered","example":"USA"},"industry":{"type":"string","description":"The industry of the company. Selected from a list of supported industries which can be obtained from the GET /v1/industries.","example":"Technology"},"accountHolderFirstName":{"type":"string","description":"The first name of the partner account holder.","example":"John"},"accountHolderLastName":{"type":"string","description":"The last name of the partner account holder.","example":"Doe"},"accountHolderEmail":{"type":"string","description":"The email of the partner account holder.","example":"johndoe@gmail.com"},"businessDescription":{"type":"string","description":"The business description. Minimum length 200 characters.","example":"We are a technology company. We provide services to customers all over the world. We have a team of 50 employees and have been in business for 5 years. We have a turnover of $1 million per year. We are looking to expand our business and are looking for a partner to help us grow."},"businessUrl":{"type":"string","description":"The business URL.","example":"https://www.example.com"},"domains":{"type":"array","items":{"type":"string"},"description":"The domain list to whitelist. Has to be an array of valid URLs.","example":["https://example.com","chrome-extension://extension-id"]},"isLegalEntity":{"type":"boolean","description":"Whether the partner account is a legal entity.","example":true}},"required":["accountName","country","industry","accountHolderFirstName","accountHolderLastName","accountHolderEmail","businessDescription","businessUrl"]}}}},"responses":{"200":{"description":"Partner account created","content":{"application/json":{"schema":{"type":"object","properties":{"kybLink":{"type":"string","description":"Link to fill in KYB information for required level"},"accountId":{"type":"string","description":"The partner account ID that can be used to retrieve API keys and update domains"}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"A descriptive error message."},"type":{"type":"string","description":"An error type."}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"A descriptive error message."},"type":{"type":"string","description":"An error type."}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"A descriptive error message."},"type":{"type":"string","description":"An error type."}}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"A descriptive error message."},"type":{"type":"string","description":"An error type."}}}}}}}}},"/partner_onboarding/v1/countries":{"get":{"tags":["KYB"],"summary":"Get a list of countries","operationId":"getCountries","description":"Get a list of countries supported by MoonPay. The list includes the country name, country code, and whether the country is supported by MoonPay.\n\nUse MoonPay - Server-to-Server authentication with live secret API key as the Authorization header.\n","security":[{"apiKey":[]}],"responses":{"200":{"description":"List of countries","content":{"application/json":{"schema":{"type":"object","properties":{"countryName":{"type":"string","description":"Name of the country"},"countryCode":{"type":"string","description":"The country ISO 3166-1 alpha-3 code."},"isSupported":{"type":"boolean","description":"Whether the country is supported by MoonPay"}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"A descriptive error message."},"type":{"type":"string","description":"An error type."}}}}}}}}},"/partner_onboarding/v1/industries":{"get":{"tags":["KYB"],"summary":"Get a list of industries","operationId":"getIndustries","description":"Get a list of industries supported by MoonPay. The list includes the industry name and whether the industry is supported by MoonPay.\n\nUse MoonPay - Server-to-Server authentication with live secret API key as the Authorization header.\n","security":[{"apiKey":[]}],"responses":{"200":{"description":"List of industries","content":{"application/json":{"schema":{"type":"object","properties":{"industryName":{"type":"string","description":"Name of the industry"},"isSupported":{"type":"boolean","description":"Whether the industry is supported by MoonPay"}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"A descriptive error message."},"type":{"type":"string","description":"An error type."}}}}}}}}},"/partner_onboarding/v1/accounts/{accountId}":{"get":{"tags":["Partner account"],"summary":"Get partner account with its API keys","operationId":"getPartnerAccount","description":"Get partner account properties including API keys. The API keys can be used to authenticate requests to the MoonPay API.\n\nUse MoonPay - Server-to-Server authentication with live secret API key as the Authorization header.\n","parameters":[{"name":"accountId","in":"path","required":true,"description":"The partner account ID","schema":{"type":"string"}}],"security":[{"apiKey":[]}],"responses":{"200":{"description":"Partner account properties","content":{"application/json":{"schema":{"type":"object","properties":{"apiKeys":{"type":"array","description":"Array of API keys","items":{"type":"object","properties":{"apiKey":{"type":"string","description":"The API key"},"type":{"type":"string","description":"Publishable/secret"},"liveMode":{"type":"boolean","description":"True if live mode"}}}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"A descriptive error message."},"type":{"type":"string","description":"An error type."}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"A descriptive error message."},"type":{"type":"string","description":"An error type."}}}}}}}},"patch":{"tags":["Partner account"],"summary":"Update domains","operationId":"updateDomains","description":"Update the list of domains to whitelist for the partner account.\n\nUse MoonPay - Server-to-Server authentication with live secret API key as the Authorization header.\n","parameters":[{"name":"accountId","in":"path","required":true,"description":"The partner account ID","schema":{"type":"string"}}],"security":[{"apiKey":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"domains":{"type":"array","items":{"type":"string"},"description":"The domain list to whitelist. Has to be an array of valid URLs.","example":["https://example.com","chrome-extension://extension-id"]}},"required":["domains"]}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates if the operation was successful"}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"A descriptive error message."},"type":{"type":"string","description":"An error type."}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"A descriptive error message."},"type":{"type":"string","description":"An error type."}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"A descriptive error message."},"type":{"type":"string","description":"An error type."}}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"A descriptive error message."},"type":{"type":"string","description":"An error type."}}}}}}}}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}