{"openapi":"3.1.0","info":{"title":"DDA","version":"2.0.0"},"servers":[{"url":"https://sandbox.openfinance.celcoin.dev"}],"components":{"securitySchemes":{"sec0":{"type":"oauth2","flows":{}}}},"security":[{"sec0":[]}],"paths":{"/dda-servicewebhook-webservice/v1/webhook/register":{"post":{"summary":"Configurar webhooks","description":"Essa API permite realizar a configuração da(s) URL(s) que receberá(ão) as atualizações de status do cadastro, exclusão e de boletos. Veja nosso [artigo](https://developers.celcoin.com.br/docs/sobre-dda#configurar-webhooks) e saiba como realizar a implementação dessa API.\n\nPara atualizar a URL cadastrada, basta realizar uma nova requisição, pois ela irá sobrescrever a configuração anterior.","operationId":"configurar-webhooks","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["typeEventWebhook","url"],"properties":{"typeEventWebhook":{"type":"string","description":"Tipo de evento da notificação. Pode ser definido como: Subscription, Deletion ou Invoice (um para cada requisição)"},"url":{"type":"string","description":"O endereço do seu serviço na web."},"basicAuthentication":{"type":"object","description":"Autenticação do tipo Basic. Caso informe essa autenticação, os dois campos da autenticação basic são obrigatórios.","properties":{"identification":{"type":"string","description":"Identificação para autenticação."},"password":{"type":"string","description":"Senha para autenticação."}}},"oAuthTwo":{"type":"object","description":"Autenticação do tipo oAuth. Caso informe essa autenticação, os campos \"endpoint\", \"grantType\", \"clientId\" e \"clientSecret\",  são obrigatórios.","properties":{"endpoint":{"type":"string","description":"Url para autenticação. Ex: https://yoursite.azurewebsites.net/oauth"},"grantType":{"type":"string","description":"Tipos de concessão. Ex: client_credentials"},"clientId":{"type":"string","description":"Identificador do cliente. Ex: CBA114E0-02A7"},"clientSecret":{"type":"string","description":"Chave secreta do cliente. Ex: eyJ0eXAiOiJK"},"scope":{"type":"string","description":"Escopos registrados com o aplicativo. Ex: vso.profile"},"state":{"type":"string","description":"Usado para gerar uma string aleatória e incluir na solicitação. Ex: xcoiv98y2kd22vusuye35"},"code":{"type":"string","description":"Tipo de concessão código de autorização do cliente. Ex: 4BV8LHVNl49hy5qKFUiZQm"},"refreshToken":{"type":"string","description":"Verificar de tempos em tempos o ID (Access Token). Ex: eAW8CpgUcWCDv5lM+G5RwJ9HKxrOvLIl2G6i5rAFTwIg1Svh8o4WM"},"contentType":{"type":"string","description":"Indicar o tipo de mídia para o recurso. Ex: application/json"}}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": 201,\n    \"body\": {\n        \"typeEventWebhook\": \"Invoice\",\n        \"url\": \"https://webhook.site/d24aa98f-1837-4698-8825-688f94390cfe\",\n        \"basicAuthentication\": {\n            \"identification\": \"João\",\n            \"password\": \"Um@Pro7ec@o\"\n        },\n        \"oAuthTwo\": null\n    }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":201,"default":0},"body":{"type":"object","properties":{"typeEventWebhook":{"type":"string","example":"Invoice"},"url":{"type":"string","example":"https://webhook.site/d24aa98f-1837-4698-8825-688f94390cfe"},"basicAuthentication":{"type":"object","properties":{"identification":{"type":"string","example":"João"},"password":{"type":"string","example":"Um@Pro7ec@o"}}},"oAuthTwo":{}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": 400,\n    \"erro\": {\n        \"errorCode\": \"CDDA998\",\n        \"message\": \"Dados inválidos [typeEventWebhook], favor verificar contrato deste endpoint\"\n    }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":400,"default":0},"erro":{"type":"object","properties":{"errorCode":{"type":"string","example":"CDDA998"},"message":{"type":"string","example":"Dados inválidos [typeEventWebhook], favor verificar contrato deste endpoint"}}}}}}}}},"deprecated":false}},"/dda-subscription-webservice/v1/subscription/Register":{"post":{"summary":"Cadastrar usuário","description":"Essa API permite realizar o cadastro de um usuário no DDA para recebimento das notificações de boletos gerados em seu documento (CPF/CNPJ). Veja nosso [artigo](https://developers.celcoin.com.br/docs/sobre-dda#cadastrar-usu%C3%A1rio) e saiba como realizar a implementação dessa API.\n\nEm ambiente de teste (sandbox) pode ser usado qualquer documento, mas o tempo de retorno dos webhooks pode demorar. Se quiser simular o retorno dos webhooks de forma rápida, utilize nossos dados armazenados previamente. Para isso, basta usar o CPF 71929784007 para simular um cadastro com sucesso ou o CPF 26817625025 para simular um cadastro com erro.\n\nPara testar as notificações de boletos, basta informar qualquer CNPJ ou CPF cadastrados (status created) anteriormente (com exceção dos CPFs armazenados, citados anteriormente) na API de boletos.","operationId":"cadastrar-usuário","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["document","clientName"],"properties":{"document":{"type":"string","description":"Documento do usuário (CPF ou CNPJ) que deverá ser registrado no DDA. Não usar pontos e traços.","default":"71929784007"},"clientName":{"type":"string","description":"Nome do usuário que deverá ser registrado no DDA."},"clientRequestId":{"type":"string","description":"Identificador da requisição, fornecida pelo cliente. Sugerimos que envie valores diferentes para cada solicitação"}}}}}},"responses":{"201":{"description":"201","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": 201,\n    \"body\": {\n        \"document\": \"23155663049\",\n        \"clientRequestId\": \"0001\",\n        \"responseDate\": \"2022-11-17T14:03:06.4688394+00:00\",\n        \"status\": \"PROCESSING\",\n        \"subscriptionId\": \"bfacff76-de86-4b8d-9797-4ea565b4f60d\"\n    }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":201,"default":0},"body":{"type":"object","properties":{"document":{"type":"string","example":"23155663049"},"clientRequestId":{"type":"string","example":"0001"},"responseDate":{"type":"string","example":"2022-11-17T14:03:06.4688394+00:00"},"status":{"type":"string","example":"PROCESSING"},"subscriptionId":{"type":"string","example":"bfacff76-de86-4b8d-9797-4ea565b4f60d"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": 400,\n    \"erro\": {\n        \"errorCode\": \"CDDA106\",\n        \"message\": \"Já existe uma solicitação de cadastro pendente para esse documento\"\n    }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":400,"default":0},"erro":{"type":"object","properties":{"errorCode":{"type":"string","example":"CDDA106"},"message":{"type":"string","example":"Já existe uma solicitação de cadastro pendente para esse documento"}}}}}}}}},"deprecated":false},"delete":{"summary":"Excluir usuário","description":"Essa API permite realizar a exclusão de um usuário do DDA. Veja nosso [artigo](https://developers.celcoin.com.br/docs/sobre-dda#excluir-usu%C3%A1rio) e saiba como realizar a implementação dessa API.\n\nEm ambiente de teste (sandbox) pode ser usado qualquer documento que tiver sido registrado anteriormente, mas o tempo de retorno dos webhooks pode demorar. Se quiser simular o retorno dos webhooks de forma rápida, utilize nossos dados armazenados previamente. Para isso, basta usar o CPF 71929784007 para simular uma exclusão com sucesso ou o CPF 26817625025 para simular uma exclusão com erro.","operationId":"excluir-usuário","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["document"],"properties":{"document":{"type":"string","description":"Documento do usuário (CPF ou CNPJ) que deverá ser excluído do DDA. Não usar pontos e traços."},"clientRequestId":{"type":"string","description":"Identificador da requisição, fornecida pelo cliente."}}}}}},"responses":{"201":{"description":"201","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": 201,\n    \"body\": {\n        \"document\": \"23155663049\",\n        \"clientRequestId\": \"0001\",\n        \"responseDate\": \"2023-01-18T19:54:16.6647364+00:00\",\n        \"status\": \"PROCESSING\",\n        \"subscriptionId\": \"37c571d7-a594-4a11-8629-2e993beecf5d\"\n    }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":201,"default":0},"body":{"type":"object","properties":{"document":{"type":"string","example":"23155663049"},"clientRequestId":{"type":"string","example":"0001"},"responseDate":{"type":"string","example":"2023-01-18T19:54:16.6647364+00:00"},"status":{"type":"string","example":"PROCESSING"},"subscriptionId":{"type":"string","example":"37c571d7-a594-4a11-8629-2e993beecf5d"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": 400,\n    \"erro\": {\n        \"errorCode\": \"CDDA101\",\n        \"message\": \"Documento Inválido\"\n    }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":400,"default":0},"erro":{"type":"object","properties":{"errorCode":{"type":"string","example":"CDDA101"},"message":{"type":"string","example":"Documento Inválido"}}}}}}}}},"deprecated":false}},"/dda-servicewebhook-webservice/v1/webhook/routes":{"get":{"summary":"Consultar webhooks","description":"Essa API permite consultar a configuração da(s) URL(s) que receberá(ão) as atualizações de status do cadastro, exclusão e de boletos. Veja nosso [artigo](https://developers.celcoin.com.br/docs/sobre-dda#consultar-webhooks) e saiba como realizar a implementação dessa API.","operationId":"consultar-webhooks","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": 200,\n    \"body\": [\n        {\n            \"typeEventWebhook\": \"Invoice\",\n            \"url\": \"https://webhook.site/adf0d812-3e2d-43cc-91be-3d84128d27ab\"\n        },\n        {\n            \"typeEventWebhook\": \"Deletion\",\n            \"url\": \"https://webhook.site/adf0d812-3e2d-43cc-91be-3d84128d27ab\"\n        },\n        {\n            \"typeEventWebhook\": \"Subscription\",\n            \"url\": \"https://webhook.site/adf0d812-3e2d-43cc-91be-3d84128d27ab\"\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":200,"default":0},"body":{"type":"array","items":{"type":"object","properties":{"typeEventWebhook":{"type":"string","example":"Invoice"},"url":{"type":"string","example":"https://webhook.site/adf0d812-3e2d-43cc-91be-3d84128d27ab"}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/dda-serviceinvoice-webservice/v1/invoice/register":{"post":{"summary":"Gerar boleto","description":"Essa API permite gerar boletos para um usuário cadastrado no DDA. Veja nosso [artigo](https://developers.celcoin.com.br/docs/sobre-dda#excluir-usu%C3%A1rio) e saiba como realizar a implementação dessa API.\n\nO limite é de 20 documentos por requisição. Pode ser enviado o mesmo documento caso precise gerar mais de uma notificação por CPF/CNPJ.","operationId":"gerar-boleto","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["document"],"properties":{"document":{"type":"array","description":"Documento (CPF/CNPJ) do usuário que deseja gerar boletos. O limite é de 20 documentos e eles devem ser enviados entre aspas, sem pontos e sem traços","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": 201,\n    \"body\": [\n        {\n            \"document\": \"28935923095\",\n            \"status\": \"Success\"\n        }\n    ]\n}\n"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":201,"default":0},"body":{"type":"array","items":{"type":"object","properties":{"document":{"type":"string","example":"28935923095"},"status":{"type":"string","example":"Success"}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": 400,\n    \"erro\": {\n        \"errorCode\": \"CDDA115\",\n        \"message\": \"A requisição possui um limite de até 20 documentos\"\n    }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":400,"default":0},"erro":{"type":"object","properties":{"errorCode":{"type":"string","example":"CDDA115"},"message":{"type":"string","example":"A requisição possui um limite de até 20 documentos"}}}}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}