{"openapi":"3.0.1","info":{"title":"Integration BaaS API","description":"Documentacao para o Webservice de Cobrança, explicando e documentando de cada endpoint","version":"1.2.0"},"servers":[{"url":"https://sandbox.openfinance.celcoin.dev/api-integration-baas-webservice/v1","description":"URL de Sandbox"}],"paths":{"/charge":{"post":{"tags":["Charge"],"summary":"Geração de cobrança.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChargeRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/ChargeRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/ChargeRequest"}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChargeResponse"}}}},"400":{"description":"Error handled by the application","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChargeErrorResponse"}}}},"401":{"description":"Access Denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Unknown error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"get":{"tags":["Charge"],"summary":"Consulta status de cobrança.","parameters":[{"name":"TransactionId","in":"query","description":"Identificador interno gerado pela Celcoin.","schema":{"type":"string","description":"Identificador interno gerado pela Celcoin.","nullable":true,"example":"2dc824e1-ca94-43b4-9a77-fbb8d512822c"}},{"name":"ExternalId","in":"query","description":"Identificador do cliente.","schema":{"type":"string","description":"Identificador do cliente.","nullable":true,"example":"externalId1"}}],"responses":{"200":{"description":"Ok","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatusResponse"}}}},"400":{"description":"Error handled by the application","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatusErrorResponse"}}}},"401":{"description":"Access Denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Unknown error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/charge/{transactionId}":{"delete":{"tags":["Charge"],"summary":"Cancelamento da cobrança.","parameters":[{"name":"transactionId","in":"path","required":true,"schema":{"type":"string","nullable":true}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancelRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/CancelRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/CancelRequest"}}}},"responses":{"200":{"description":"Ok","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChargeCancelResultResponseSuccess"}}}},"400":{"description":"Error handled by the application","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancelErrorResponse"}}}},"401":{"description":"Access Denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Unknown error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"DebitParty":{"required":["city","document","name","neighborhood","number","postalCode","publicArea","state"],"type":"object","properties":{"name":{"type":"string","description":"Nome do Pagador.","example":"Marcos Samuel Duarte"},"document":{"type":"string","description":"CNPJ ou CPF do pagador.","example":"49188474801"},"postalCode":{"type":"string","description":"CEP do pagador.","example":"06463035"},"publicArea":{"type":"string","description":"Nome da rua do pagador.","example":"Rua Mãe D'Água"},"number":{"type":"string","description":"Número da Residência.","example":"1004"},"complement":{"type":"string","description":"Complemento.","nullable":true,"example":"Apto 123"},"neighborhood":{"type":"string","description":"Bairro do pagador.","example":"Jardim Mutinga"},"city":{"type":"string","description":"Cidade do pagador.","example":"Barueri"},"state":{"type":"string","description":"Estado do pagador.","example":"SP"}},"additionalProperties":false},"CreditParty":{"required":["account","document"],"type":"object","properties":{"document":{"type":"string","description":"CNPJ ou CPF do beneficiário.","example":"40655847871"},"account":{"type":"string","description":"Número da conta BaaS do beneficiário.","example":"30023646056263"}},"additionalProperties":false},"Discount":{"required":["amount","limitDate","modality"],"type":"object","properties":{"amount":{"type":"number","description":"Valor para desconto.","format":"double","example":1},"modality":{"type":"string","description":"Modalidade de desconto.","example":"fixed"},"limitDate":{"type":"string","description":"Limite de pagamento com desconto.","format":"date-time","example":"2023-12-20T00:00:00.0000000"}},"additionalProperties":false},"Instructions":{"type":"object","properties":{"fine":{"type":"number","description":"Taxa de multa a ser cobrada.","format":"double","nullable":true,"example":10},"interest":{"type":"number","description":"Taxa de juros a ser cobrada.","format":"double","nullable":true,"example":5},"discount":{"$ref":"#/components/schemas/Discount"}},"additionalProperties":false},"SplitCreditParty":{"required":["account","document"],"type":"object","properties":{"account":{"type":"string","description":"Número da conta BaaS do beneficiário parcial.","example":"40655847871"},"document":{"type":"string","description":"CNPJ ou CPF do beneficiário parcial.","example":"40655847871"},"percent":{"type":"number","description":"Porcentagem de recebimento parcial.","format":"double","nullable":true,"example":5},"amount":{"type":"number","description":"Valor fixo de recebimento parcial.","format":"double","nullable":true,"example":1},"aggregatePayment":{"type":"boolean","description":"Indicador para recebimento de valor fixo com acréscimo de porcentagem.","nullable":true,"example":true}},"additionalProperties":false},"ChargeRequest":{"required":["amount","debtor","duedate","expirationAfterPayment","externalId","receiver"],"type":"object","properties":{"externalId":{"type":"string","description":"Identificador do cliente.","example":"externalId1"},"merchantCatagoryCode":{"type":"string","description":"Categoria do estabelecimento.","nullable":true,"example":"0000"},"expirationAfterPayment":{"type":"integer","description":"Dias após o vencimento que a cobraça pode ser paga. Valores aceitos de 0 a 59.","format":"int32","example":1},"duedate":{"type":"string","description":"Data de vencimento da cobrança.","format":"date-time","example":"2023-12-30T00:00:00.0000000"},"amount":{"type":"number","description":"Valor da cobrança.","format":"double","example":12.5},"key":{"type":"string","description":"Chave pix da conta BaaS para recebimento.","nullable":true,"example":"teste@chavepix.com.br"},"debtor":{"$ref":"#/components/schemas/DebitParty"},"receiver":{"$ref":"#/components/schemas/CreditParty"},"instructions":{"$ref":"#/components/schemas/Instructions"},"split":{"type":"array","items":{"$ref":"#/components/schemas/SplitCreditParty"},"nullable":true}},"additionalProperties":false},"Error":{"type":"object","properties":{"errorCode":{"type":"string","description":"Código de erro gerado pela Celcoin.","nullable":true,"example":"CBE001"},"message":{"type":"string","description":"Mensagens de erro.","nullable":true,"example":"Ocorreu um erro interno durante a chamada da api."}},"additionalProperties":false},"ErrorResponse":{"type":"object","properties":{"version":{"type":"string","description":"Versão da api.","nullable":true,"readOnly":true,"example":"1.0.0"},"status":{"type":"string","description":"Status.","nullable":true,"readOnly":true,"example":"ERROR"},"error":{"$ref":"#/components/schemas/Error"}},"additionalProperties":false},"ChargeResult":{"type":"object","properties":{"transactionId":{"type":"string","description":"Identificador interno gerado pela Celcoin.","nullable":true,"example":"ce9b8d9b-0617-42e1-b500-80bf9d8154cf"}},"additionalProperties":false},"ChargeResponse":{"type":"object","properties":{"version":{"type":"string","description":"Versão da api.","nullable":true,"readOnly":true,"example":"1.0.0"},"status":{"type":"string","description":"Status.","nullable":true,"example":"SUCCESS"},"body":{"$ref":"#/components/schemas/ChargeResult"}},"additionalProperties":false},"ChargeErrorResponse":{"type":"object","properties":{"version":{"type":"string","description":"Versão da api.","nullable":true,"readOnly":true,"example":"1.0.0"},"status":{"type":"string","description":"Status.","nullable":true,"readOnly":true,"example":"ERROR"},"error":{"$ref":"#/components/schemas/Error"}},"additionalProperties":false,"description":"Códigos de erros:   \r\n- CBE001 - O identificador externo é obrigatório.\r\n- CBE002 - Informar os dias de pagamento permitidos após o vencimento é obrigatório.\r\n- CBE003 - Tempo de expiração após vencimento deve ser entre 0 e 59.\r\n- CBE004 - A data de vencimento é obrigatória.\r\n- CBE005 - A data de vencimento precisa ser maior ou igual a data atual.\r\n- CBE006 - O valor é obrigatório.\r\n- CBE007 - O valor precisa ser maior que 5.\r\n- CBE008 - Valor para recebimento parcial deve ser menor ou igual ao valor com desconto aplicado.\r\n- CBE009 - Valor para recebimento parcial deve ser menor ou igual ao valor original.\r\n- CBE010 - Não pode haver contas iguais para recebedores parciais.\r\n- CBE011 - Máximo de 5 recebedores parciais por cobrança.\r\n- CBE012 - É obrigatório informar a cidade do pagador.\r\n- CBE013 - É obrigatório informar o CPF ou CNPJ do pagador.\r\n- CBE014 - É obrigatório informar o nome do pagador.\r\n- CBE015 - É obrigatório informar o CEP do pagador.\r\n- CBE016 - O Cep informado não é válido.\r\n- CBE017 - É obrigatório informar o logradouro do pagador.\r\n- CBE018 - É obrigatório informar o Número do endereço do pagador.\r\n- CBE019 - É obrigatório informar o Bairro do pagador.\r\n- CBE020 - É obrigatório informar o Estado do pagador.\r\n- CBE021 - É obrigatório informar o número da conta do recebedor.\r\n- CBE022 - É obrigatório informar o CPF ou CNPJ do recebedor.\r\n- CBE023 - Máximo de 20 caracteres permitido para o número da conta.\r\n- CBE024 - Máximo de 100 caracteres permitido para a cidade.\r\n- CBE025 - Mínimo de 11 e máximo de 14 caracteres permitido para o documento.\r\n- CBE026 - Apenas 2 caracteres permitido para estado.\r\n- CBE027 - Apenas 8 caracteres permitido para o CEP.\r\n- CBE028 - Máximo de 200 caracteres permitido para o Bairro.\r\n- CBE029 - Documento recebedor não é válido.\r\n- CBE030 - Documento pagador não é válido.\r\n- CBE031 - O valor da multa deve estar entre 0.1 e 100.\r\n- CBE032 - O valor dos juros deve estar entre 0.1 e 100.\r\n- CBE033 - O valor de desconto precisa ser maior que 0.\r\n- CBE034 - O valor total, após o desconto por pagamento antecipado, não pode ser inferior a R$ 5,00.\r\n- CBE035 - É necessário informar a modalidade do desconto.\r\n- CBE036 - A modalidade do desconto deve ser fixed ou percent.\r\n- CBE037 - É necessário informar a data limite do desconto.\r\n- CBE038 - A data limite do desconto não pode ser menor que a data atual.\r\n- CBE039 - É obrigatório informar o número da conta de todos os recebedores parciais.\r\n- CBE040 - É obrigatório informar o número de documento de todos os recebedores parciais.\r\n- CBE041 - Porcentagem e valor devem ser preenchidos para caso de pagamento agregado.\r\n- CBE042 - Apenas um dos campos de porcentagem ou valor deve estar preenchido para o split.\r\n- CBE043 - Quando valor é nulo, porcentagem deve ser preenchida para o split.\r\n- CBE044 - A porcentagem do split deve estar entre 0.1 e 100.\r\n- CBE045 - Quando porcentagem do split é nula, valor deve ser preenchido.\r\n- CBE046 - O valor do split deve ser maior que 0..\r\n- CBE047 - Account não localizada para um dos recebedores parciais.\r\n- CBE048 - Obrigatório o preenchimento do documento para todos os recebedores parciais.\r\n- CBE049 - A data limite de desconto precisa ser menor ou igual a data de vencimento e não deve ultrapassar 20 dias.\r\n- CBE050 - Número da conta do recebedor não localizada ou inativa.\r\n- CBE051 - Chave pix não localizada para a conta informada.\r\n- CBE052 - Obrigatório o preenchimento dos dados do pagador.\r\n- CBE053 - Obrigatório o preenchimento dos dados do recebedor."},"DebitPartyResult":{"type":"object","properties":{"name":{"type":"string","description":"Nome do Pagador.","nullable":true,"example":"Marcos Samuel Duarte"},"document":{"type":"string","description":"CNPJ ou CPF do pagador.","nullable":true,"example":"49188474801"},"postalCode":{"type":"string","description":"CEP do pagador.","nullable":true,"example":"06463035"},"publicArea":{"type":"string","description":"Nome da rua do pagador.","nullable":true,"example":"Rua Mãe D'Água"},"number":{"type":"string","description":"Número da Residência.","nullable":true,"example":"1004"},"complement":{"type":"string","description":"Complemento.","nullable":true,"example":"Apto 123"},"neighborhood":{"type":"string","description":"Bairro do pagador.","nullable":true,"example":"Jardim Mutinga"},"city":{"type":"string","description":"Cidade do pagador.","nullable":true,"example":"Barueri"},"state":{"type":"string","description":"Estado do pagador.","nullable":true,"example":"SP"}},"additionalProperties":false},"CreditPartyResult":{"type":"object","properties":{"name":{"type":"string","description":"Nome do beneficiário.","nullable":true,"example":"Emilly Malu Tereza Sales"},"document":{"type":"string","description":"CNPJ ou CPF do beneficiário.","nullable":true,"example":"23234457824"},"postalCode":{"type":"string","description":"CEP do beneficiário.","nullable":true,"example":"06474070"},"publicArea":{"type":"string","description":"Nome da rua do beneficiário.","nullable":true,"example":"Alameda França"},"city":{"type":"string","description":"Cidade do beneficiário.","nullable":true,"example":"Barueri"},"state":{"type":"string","description":"Estado do beneficiário.","nullable":true,"example":"SP"},"account":{"type":"string","description":"Número da conta BaaS do beneficiário.","nullable":true,"example":"30023646056263"}},"additionalProperties":false},"DiscountResult":{"type":"object","properties":{"amount":{"type":"number","description":"Valor registrado para desconto.","format":"double","nullable":true,"example":1},"modality":{"type":"string","description":"Modelidade de desconto.","nullable":true,"example":"fixed"},"limitDate":{"type":"string","description":"Limite de pagamento com desconto.","format":"date-time","nullable":true,"example":"2023-12-20T00:00:00.0000000"}},"additionalProperties":false},"InstructionsResult":{"type":"object","properties":{"fine":{"type":"number","description":"Taxa de multa registrada.","format":"double","nullable":true,"example":10},"interest":{"type":"number","description":"Taxa de juros registrada.","format":"double","nullable":true,"example":5},"discount":{"$ref":"#/components/schemas/DiscountResult"}},"additionalProperties":false},"BankSlipResult":{"type":"object","properties":{"transactionId":{"type":"string","description":"Identificador interno gerado para cobrança.","nullable":true,"example":"32290"},"status":{"type":"string","description":"Status do boleto gerado.","nullable":true,"example":"Pago"},"bankEmissor":{"type":"string","description":"Banco emissor.","nullable":true,"example":"santander"},"bankNumber":{"type":"string","description":"Número do banco emissor.","nullable":true,"example":"4000178961"},"bankAgency":{"type":"string","description":"Número da agência.","nullable":true,"example":"1004"},"bankAccount":{"type":"string","description":"Número da conta.","nullable":true,"example":"0220060"},"barCode":{"type":"string","description":"Código de barras da cobrança.","nullable":true,"example":"03392942700000009009022006000040001789610101"},"bankLine":{"type":"string","description":"Linha digitável da cobrança.","nullable":true,"example":"03399022070600004000317896101015294270000000900"},"bankAssignor":{"type":"string","description":"Cedente da cobrança.","nullable":true,"example":"CELCOIN INSTITUIÇÃO DE PAGAMENTO - SA"}},"additionalProperties":false},"PixResult":{"type":"object","properties":{"transactionId":{"type":"string","description":"Identificador interno gerado para cobrança.","nullable":true,"example":"817885753"},"transactionIdentification":{"type":"string","description":"Identificador do QRCode gerado.","nullable":true,"example":"817885753"},"status":{"type":"string","description":"Status do pix gerado.","nullable":true,"example":"Cancelado"},"key":{"type":"string","description":"Chave pix da geração de cobrança.","nullable":true,"example":"teste@chavepix.com.br"},"emv":{"type":"string","description":"Código para geração de imagem renderizada QRCode.","nullable":true,"example":"00020101021226980014br.gov.bcb.pix2576api-h.developer.btgpactual.com/pc/p/v2/cobv/303928a7b4034de09fddec6d1258c15d5204000053039865802BR5910Merle Yost6008Orinside61080863968162070503***6304D7D3"}},"additionalProperties":false},"SplitCreditPartyResult":{"type":"object","properties":{"amount":{"type":"number","description":"Valor de recebimento parcial.","format":"double","example":5},"account":{"type":"string","description":"Número da conta BaaS do beneficiário parcial.","nullable":true,"example":"40655847871"}},"additionalProperties":false},"StatusResult":{"type":"object","properties":{"transactionId":{"type":"string","description":"Identificador interno gerado pela Celcoin.","nullable":true,"example":"ce9b8d9b-0617-42e1-b500-80bf9d8154cf"},"externalId":{"type":"string","description":"Identificador do cliente.","nullable":true,"example":"externalId1"},"amount":{"type":"number","description":"Valor original da cobrança.","format":"double","example":12.5},"amountConfirmed":{"type":"number","description":"Valor recebido da cobrança.","format":"double","nullable":true,"example":13},"duedate":{"type":"string","description":"Data de vencimento da cobrança.","nullable":true,"example":"2023-12-30"},"status":{"type":"string","description":"Status da cobrança.","nullable":true,"example":"CONFIRMED"},"debtor":{"$ref":"#/components/schemas/DebitPartyResult"},"receiver":{"$ref":"#/components/schemas/CreditPartyResult"},"instructions":{"$ref":"#/components/schemas/InstructionsResult"},"boleto":{"$ref":"#/components/schemas/BankSlipResult"},"pix":{"$ref":"#/components/schemas/PixResult"},"split":{"type":"array","items":{"$ref":"#/components/schemas/SplitCreditPartyResult"},"nullable":true}},"additionalProperties":false},"StatusResponse":{"type":"object","properties":{"version":{"type":"string","description":"Versão da api.","nullable":true,"readOnly":true,"example":"1.0.0"},"status":{"type":"string","description":"Status.","nullable":true,"example":"SUCCESS"},"body":{"$ref":"#/components/schemas/StatusResult"}},"additionalProperties":false},"StatusErrorResponse":{"type":"object","properties":{"version":{"type":"string","description":"Versão da api.","nullable":true,"readOnly":true,"example":"1.0.0"},"status":{"type":"string","description":"Status.","nullable":true,"readOnly":true,"example":"ERROR"},"error":{"$ref":"#/components/schemas/Error"}},"additionalProperties":false,"description":"Códigos de erros:   \r\n- CSE001 - É necessário informar um dos campos: transactionId ou externalId.\r\n- CSE002 - Não foi encontrado registro para o identificador informado."},"CancelRequest":{"type":"object","properties":{"reason":{"type":"string","description":"Motivo do cancelamento. Máximo de 200 caracteres quando informado.","nullable":true,"example":"Cancelamento do contrato com o cliente."}},"additionalProperties":false},"ChargeCancelResult":{"type":"object","properties":{"transactionId":{"type":"string","description":"Identificador interno gerado pela Celcoin.","nullable":true,"example":"ce9b8d9b-0617-42e1-b500-80bf9d8154cf"},"externalId":{"type":"string","description":"Identificador do cliente.","nullable":true,"example":"externalId1"},"expirationAfterPayment":{"type":"integer","description":"Dias após o vencimento que a cobrança pode ser paga. Valores aceitos de 0 a 59.","format":"int32","example":5},"amount":{"type":"number","description":"Valor original da cobrança.","format":"double","example":12.5},"duedate":{"type":"string","description":"Data de vencimento da cobrança.","nullable":true,"example":"2023-12-30"},"debtor":{"$ref":"#/components/schemas/DebitPartyResult"},"receiver":{"$ref":"#/components/schemas/CreditPartyResult"},"pix":{"$ref":"#/components/schemas/PixResult"},"boleto":{"$ref":"#/components/schemas/BankSlipResult"}},"additionalProperties":false},"ChargeCancelResultResponseSuccess":{"type":"object","properties":{"version":{"type":"string","description":"Versão da api.","nullable":true,"readOnly":true,"example":"1.0.0"},"status":{"type":"string","description":"Status.","nullable":true,"example":"SUCCESS"},"body":{"$ref":"#/components/schemas/ChargeCancelResult"}},"additionalProperties":false},"CancelErrorResponse":{"type":"object","properties":{"version":{"type":"string","description":"Versão da api.","nullable":true,"readOnly":true,"example":"1.0.0"},"status":{"type":"string","description":"Status.","nullable":true,"readOnly":true,"example":"ERROR"},"error":{"$ref":"#/components/schemas/Error"}},"additionalProperties":false,"description":"Códigos de erros:   \r\n- CDE001 - Não foi encontrado registro para o identificador informado.\r\n- CDE002 - Somente cobranças com status PENDING podem ser canceladas.\r\n- CDE003 - Máximo de 200 caracteres permitidos para o motivo de cancelamento da cobrança."}},"securitySchemes":{"Bearer":{"type":"apiKey","description":"Schema JWT Bearer. \r\n\r\n Digite 'Bearer' [espaço] e digite o token no campo texto abaixo.\r\n\r\nExemplo: \"Bearer <meu token jwt>\"","name":"Authorization","in":"header"}}},"security":[{"Bearer":[]}],"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}