{"openapi":"3.1.0","info":{"title":"PAGAMENTO DE CONTAS","version":"2.0.0"},"servers":[{"url":"https://sandbox.openfinance.celcoin.dev"}],"components":{"securitySchemes":{"sec0":{"type":"oauth2","flows":{}}}},"security":[{"sec0":[]}],"paths":{"/v5/transactions/billpayments/authorize":{"post":{"summary":"Consultar os dados de uma conta","description":"Essa API permite a consulta de uma conta (boleto) para validação dos seus dados. Veja o nosso [artigo](https://developers.celcoin.com.br/docs/pagamento-de-contas-1#consultar-os-dados-de-uma-conta-authorize) e saiba como realizar a implementação dessa API. \n\nEntenda quais são os erros que essa API poderá retornar ao realizar a consulta de um pagamento, [clique aqui](https://developers.celcoin.com.br/docs/tabelas-de-erros#tabela-de-consulta-de-um-pagamento-atrav%C3%A9s-do-c%C3%B3digo-de-barras-ou-linha-digit%C3%A1vel).\n\nPara testes em ambiente de sandbox recomendamos que seja utilizado a nossa [**massa de teste**] (https://developers.celcoin.com.br/page/tabela-de-massa-de-teste-para-pagamentos-de-ficha-de-compensa%C3%A7%C3%A3o).","operationId":"pagamento-de-contas-2","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["barCode"],"properties":{"externalTerminal":{"type":"string","description":"Identificador do terminal do  sistema cliente"},"externalNSU":{"type":"integer","description":"Identificador da transação do  sistema cliente","format":"int64"},"barCode":{"type":"object","required":["type"],"properties":{"type":{"type":"integer","description":"Tipo da conta a ser consultada, onde ficha de compensação deve ser populado com o número 2 e concessionária 1","default":0,"format":"int32"},"digitable":{"type":"string","description":"Linha digitável","default":"23793381286008301352856000063307789840000150000"},"barCode":{"type":"string","description":"Código de barras"}}}}},"examples":{"teste":{"value":{"assignor":"teste","registerData":{"documentRecipient":"ué","documentPayer":"string","payDueDate":"string","nextBusinessDay":"2022-03-15T18:41:37.243Z","dueDateRegister":"2022-03-15T18:41:37.243Z","allowChangeValue":true,"recipient":"string","payer":"string","discountValue":0,"interestValueCalculated":0,"maxValue":0,"minValue":0,"fineValueCalculated":0,"originalValue":0,"totalUpdated":0,"totalWithDiscount":0,"totalWithAdditional":0},"settleDate":"string","dueDate":"2022-03-15T18:41:37.243Z","endHour":"string","initeHour":"string","nextSettle":"string","digitable":"string","transactionId":0,"type":0,"value":0,"maxValue":0,"minValue":0,"errorCode":"string","message":"string","status":"string"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Ok":{"value":"{\n    \"assignor\": \"BANCO BRADESCO S.A.\",\n    \"registerData\": {\n        \"documentRecipient\": \"21.568.259/0001-00\",\n        \"documentPayer\": \"96.906.497/0001-00\",\n        \"payDueDate\": \"2022-04-18T00:00:00\",\n        \"nextBusinessDay\": null,\n        \"dueDateRegister\": \"2022-02-15T00:00:00\",\n        \"allowChangeValue\": true,\n        \"recipient\": \"BENEFICIARIO AMBIENTE HOMOLOGACAO\",\n        \"payer\": \"PAGADOR AMBIENTE HOMOLOGACAO\",\n        \"discountValue\": 0.0,\n        \"interestValueCalculated\": 0.0,\n        \"maxValue\": 0.0,\n        \"minValue\": 0.01,\n        \"fineValueCalculated\": 0.0,\n        \"originalValue\": 502.27,\n        \"totalUpdated\": 502.27,\n        \"totalWithDiscount\": 0.0,\n        \"totalWithAdditional\": 0.0\n    },\n    \"settleDate\": \"16/03/2022\",\n    \"dueDate\": \"2022-02-15T00:00:00Z\",\n    \"endHour\": \"23:00\",\n    \"initeHour\": \"07:00\",\n    \"nextSettle\": \"N\",\n    \"digitable\": \"23792374039002121400385000334004688970000050227\",\n    \"transactionId\": 9180742,\n    \"type\": 2,\n    \"value\": 502.27,\n    \"maxValue\": null,\n    \"minValue\": null,\n    \"errorCode\": \"000\",\n    \"message\": null,\n    \"status\": 0\n}"}},"schema":{"type":"object","properties":{"assignor":{"type":"string","example":"BANCO BRADESCO S.A."},"registerData":{"type":"object","properties":{"documentRecipient":{"type":"string","example":"21.568.259/0001-00"},"documentPayer":{"type":"string","example":"96.906.497/0001-00"},"payDueDate":{"type":"string","example":"2022-04-18T00:00:00"},"nextBusinessDay":{},"dueDateRegister":{"type":"string","example":"2022-02-15T00:00:00"},"allowChangeValue":{"type":"boolean","example":true,"default":true},"recipient":{"type":"string","example":"BENEFICIARIO AMBIENTE HOMOLOGACAO"},"payer":{"type":"string","example":"PAGADOR AMBIENTE HOMOLOGACAO"},"discountValue":{"type":"integer","example":0,"default":0},"interestValueCalculated":{"type":"integer","example":0,"default":0},"maxValue":{"type":"integer","example":0,"default":0},"minValue":{"type":"number","example":0.01,"default":0},"fineValueCalculated":{"type":"integer","example":0,"default":0},"originalValue":{"type":"number","example":502.27,"default":0},"totalUpdated":{"type":"number","example":502.27,"default":0},"totalWithDiscount":{"type":"integer","example":0,"default":0},"totalWithAdditional":{"type":"integer","example":0,"default":0}}},"settleDate":{"type":"string","example":"16/03/2022"},"dueDate":{"type":"string","example":"2022-02-15T00:00:00Z"},"endHour":{"type":"string","example":"23:00"},"initeHour":{"type":"string","example":"07:00"},"nextSettle":{"type":"string","example":"N"},"digitable":{"type":"string","example":"23792374039002121400385000334004688970000050227"},"transactionId":{"type":"integer","example":9180742,"default":0},"type":{"type":"integer","example":2,"default":0},"value":{"type":"number","example":502.27,"default":0},"maxValue":{},"minValue":{},"errorCode":{"type":"string","example":"000"},"message":{},"status":{"type":"integer","example":0,"default":0}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"ERRO NA CONVERSÃO DO CÓDIGO DE BARRAS":{"value":"{\n    \"errorCode\": \"999\",\n    \"message\": \"Erro na conversao de Codigo de Barras para Linha Digitavel\"\n}\n"},"HORARIO MIN NAO ATINGIDO":{"value":"{\n    \"errorCode\": \"011\",\n    \"message\": \"HORARIO MIN NAO ATINGIDO\"\n}"},"TRANSACAO NAO ENCONTRADA":{"value":"{\n    \"errorCode\": \"024\",\n    \"message\": \"TRANSACAO NAO ENCONTRADA\"\n}"},"TRANSACAO JA REALIZADA":{"value":"{\n    \"errorCode\": \"024\",\n    \"message\": \"TRANSACAO JA REALIZADA\"\n}"},"FALHA NA COMUNICACAO COM A SUA INSTUICAO":{"value":"{\n    \"errorCode\": \"171\",\n    \"message\": \"FALHA NA COMUNICACAO COM A SUA INSTUICAO\"\n}"},"PAGAMENTO JA EFETUADO":{"value":"{\n    \"errorCode\": \"183 \",\n    \"message\": \"PAGAMENTO JA EFETUADO\"\n}"},"PAGAMENTO NAO PERMITIDO":{"value":"{\n    \"errorCode\": \"184\",\n    \"message\": \"PAGAMENTO NAO PERMITIDO\"\n}"},"COD-BARRAS INVALIDO":{"value":"{\n    \"errorCode\": \"240\",\n    \"message\": \"COD-BARRAS INVALIDO\"\n}"},"CODIGO BARRAS INVALIDO":{"value":"{\n    \"errorCode\": \"243\",\n    \"message\": \"COD-BARRAS INVALIDO\"\n}"},"RECEBIMENTO NAO AUTORIZADO. DOCUMENTO VENCIDO":{"value":"{\n    \"errorCode\": \"244\",\n    \"message\": \"RECEBIMENTO NAO AUTORIZADO. DOCUMENTO VENCIDO\"\n}"},"DOCUMENTO NAO RECEBIVEL NA INSTITUICAO":{"value":"{\n    \"errorCode\": \"245\",\n    \"message\": \"DOCUMENTO NAO RECEBIVEL NA INSTITUICAO\"\n}"},"PDV C/ TRANSACAO EM PROCESSAMENTO":{"value":"{\n    \"errorCode\": \"248\",\n    \"message\": \"DOCUMENTO NAO RECEBIVEL NA INSTITUICAO\"\n}"},"MAXIMO DE DIAS DE ATRASO EXCEDIDO":{"value":"{\n    \"errorCode\": \"260\",\n    \"message\": \"MAXIMO DE DIAS DE ATRASO EXCEDIDO\"\n}"},"MAXIMO DE DIAS DE ADIANTAMENTO NAO ALCANCADO":{"value":"{\n    \"errorCode\": \"261\",\n    \"message\": \"MAXIMO DE DIAS DE ADIANTAMENTO NAO ALCANCADO\"\n}"},"CONTA COM VALOR MAIOR QUE O LIMITE":{"value":"{\n    \"errorCode\": \"262\",\n    \"message\": \"MAXIMO DE DIAS DE ADIANTAMENTO NAO ALCANCADO\"\n}"},"PROBLEMA COM O REGISTRO DA CONSULTA":{"value":"{\n    \"errorCode\": \"612\",\n    \"message\": \"MAXIMO DE DIAS DE ADIANTAMENTO NAO ALCANCADO\"\n}"},"CEDENTE NAO AUTORIZADO. PAGAMENTO NAO EFETUADO":{"value":"{\n    \"errorCode\": \"619\",\n    \"message\": \"CEDENTE NAO AUTORIZADO. PAGAMENTO NAO EFETUADO\"\n}"},"BOLETO DE PAGAMENTO JA BAIXADO":{"value":"{\n    \"errorCode\": \"628\",\n    \"message\": \"BOLETO DE PAGAMENTO JA BAIXADO\"\n}"}},"schema":{"oneOf":[{"title":"ERRO NA CONVERSÃO DO CÓDIGO DE BARRAS","type":"object","properties":{"errorCode":{"type":"string","example":"999"},"message":{"type":"string","example":"Erro na conversao de Codigo de Barras para Linha Digitavel"}}},{"title":"HORARIO MIN NAO ATINGIDO","type":"object","properties":{"errorCode":{"type":"string","example":"011"},"message":{"type":"string","example":"HORARIO MIN NAO ATINGIDO"}}},{"title":"TRANSACAO NAO ENCONTRADA","type":"object","properties":{"errorCode":{"type":"string","example":"024"},"message":{"type":"string","example":"TRANSACAO NAO ENCONTRADA"}}},{"title":"TRANSACAO JA REALIZADA","type":"object","properties":{"errorCode":{"type":"string","example":"024"},"message":{"type":"string","example":"TRANSACAO JA REALIZADA"}}},{"title":"FALHA NA COMUNICACAO COM A SUA INSTUICAO","type":"object","properties":{"errorCode":{"type":"string","example":"171"},"message":{"type":"string","example":"FALHA NA COMUNICACAO COM A SUA INSTUICAO"}}},{"title":"PAGAMENTO JA EFETUADO","type":"object","properties":{"errorCode":{"type":"string","example":"183 "},"message":{"type":"string","example":"PAGAMENTO JA EFETUADO"}}},{"title":"PAGAMENTO NAO PERMITIDO","type":"object","properties":{"errorCode":{"type":"string","example":"184"},"message":{"type":"string","example":"PAGAMENTO NAO PERMITIDO"}}},{"title":"COD-BARRAS INVALIDO","type":"object","properties":{"errorCode":{"type":"string","example":"240"},"message":{"type":"string","example":"COD-BARRAS INVALIDO"}}},{"title":"CODIGO BARRAS INVALIDO","type":"object","properties":{"errorCode":{"type":"string","example":"243"},"message":{"type":"string","example":"COD-BARRAS INVALIDO"}}},{"title":"RECEBIMENTO NAO AUTORIZADO. DOCUMENTO VENCIDO","type":"object","properties":{"errorCode":{"type":"string","example":"244"},"message":{"type":"string","example":"RECEBIMENTO NAO AUTORIZADO. DOCUMENTO VENCIDO"}}},{"title":"DOCUMENTO NAO RECEBIVEL NA INSTITUICAO","type":"object","properties":{"errorCode":{"type":"string","example":"245"},"message":{"type":"string","example":"DOCUMENTO NAO RECEBIVEL NA INSTITUICAO"}}},{"title":"PDV C/ TRANSACAO EM PROCESSAMENTO","type":"object","properties":{"errorCode":{"type":"string","example":"248"},"message":{"type":"string","example":"DOCUMENTO NAO RECEBIVEL NA INSTITUICAO"}}},{"title":"MAXIMO DE DIAS DE ATRASO EXCEDIDO","type":"object","properties":{"errorCode":{"type":"string","example":"260"},"message":{"type":"string","example":"MAXIMO DE DIAS DE ATRASO EXCEDIDO"}}},{"title":"MAXIMO DE DIAS DE ADIANTAMENTO NAO ALCANCADO","type":"object","properties":{"errorCode":{"type":"string","example":"261"},"message":{"type":"string","example":"MAXIMO DE DIAS DE ADIANTAMENTO NAO ALCANCADO"}}},{"title":"CONTA COM VALOR MAIOR QUE O LIMITE","type":"object","properties":{"errorCode":{"type":"string","example":"262"},"message":{"type":"string","example":"MAXIMO DE DIAS DE ADIANTAMENTO NAO ALCANCADO"}}},{"title":"PROBLEMA COM O REGISTRO DA CONSULTA","type":"object","properties":{"errorCode":{"type":"string","example":"612"},"message":{"type":"string","example":"MAXIMO DE DIAS DE ADIANTAMENTO NAO ALCANCADO"}}},{"title":"CEDENTE NAO AUTORIZADO. PAGAMENTO NAO EFETUADO","type":"object","properties":{"errorCode":{"type":"string","example":"619"},"message":{"type":"string","example":"CEDENTE NAO AUTORIZADO. PAGAMENTO NAO EFETUADO"}}},{"title":"BOLETO DE PAGAMENTO JA BAIXADO","type":"object","properties":{"errorCode":{"type":"string","example":"628"},"message":{"type":"string","example":"BOLETO DE PAGAMENTO JA BAIXADO"}}}]}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Unauthorized":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Internal Server Error":{"value":"{\n    \"message\": \"Nesse caso deve entrar em contato com a equipe de suporte da Celcoin\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Nesse caso deve entrar em contato com a equipe de suporte da Celcoin"}}}}}}},"deprecated":false}},"/v5/transactions/billpayments":{"post":{"summary":"Reservar saldo para efetuar o pagamento de uma conta","description":"Realiza a reserva de um valor da sua conta Celcoin para a execução de um pagamento. Veja o nosso [artigo](https://developers.celcoin.com.br/docs/pagamento-de-contas-1#reservar-saldo-para-efetuar-o-pagamento-de-uma-conta-billpayments) e saiba como realizar a implementação dessa API.\n\nEntenda quais são os erros que essa API poderá retornar ao realizar a reserva de saldo, [clique aqui](https://developers.celcoin.com.br/docs/tabelas-de-erros#tabela-de-erros-da-api-de-reserva-de-saldo)","operationId":"efetuar-um-pagamento","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["cpfCnpj","billData","barCode"],"properties":{"externalTerminal":{"type":"string","description":"Identificador do terminal do  sistema cliente"},"externalNSU":{"type":"integer","description":"Identificador da transação do  sistema cliente","format":"int64"},"cpfCnpj":{"type":"string","description":"CPF ou CNPJ do cliente que está realizando o pagamento","default":"24602516025"},"billData":{"type":"object","description":"Define o valor a ser pago","required":["originalValue","valueWithDiscount","valueWithAdditional"],"properties":{"value":{"type":"number","description":"Valor a ser pago.","default":688.6,"format":"double"},"originalValue":{"type":"number","description":"Valor nominal do título a ser pago.","default":0,"format":"double"},"valueWithDiscount":{"type":"number","description":"Valor calculado de descontos e abatimentos.","default":0,"format":"double"},"valueWithAdditional":{"type":"number","description":"Valor calculado de juros e multa.","default":0,"format":"double"}}},"infoBearer":{"type":"object","description":"Nome do portador do pagamento","properties":{"nameBearer":{"type":"string","description":"Nome do portador."},"documentBearer":{"type":"string","description":"CPF ou CPNJ do portador."},"methodPaymentCode":{"type":"integer","description":"Meio de pagamento - 1 (Espécie), 2 (Débito Em Conta), 3 (Cartão de Credito) e 4 (Cheque).","format":"int32"}}},"barCode":{"type":"object","required":["type"],"properties":{"type":{"type":"integer","description":"Tipo da conta a ser consultada, onde ficha de compensação deve ser populado com o número 2 e concessionária 1","default":0,"format":"int32"},"digitable":{"type":"string","description":"Linha digitável","default":"23793381286008301352856000063307789840000150000"},"barCode":{"type":"string","description":"Código de barras"}}},"dueDate":{"type":"string","description":"Data vencimento retornada no endpoint authorize","default":"2021-05-25T00:00:00Z","format":"date"},"transactionIdAuthorize":{"type":"integer","description":"ProtocoloId retornado no endpoint authorize","default":7083533,"format":"int32"}}},"examples":{"Request Example":{"value":{"externalNSU":1234,"externalTerminal":"t2","cpfcnpj":"51680002000100","billData":{"value":307.49,"originalValue":307.49,"valueWithDiscount":0,"valueWithAdditional":0},"barCode":{"type":2,"digitable":"26090339949913362247401700000001689550000093161","barCode":""},"dueDate":"2022-02-15T00:00:00.0000000-00:00","transactionIdAuthorize":9180840}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n\t\"convenant\": \"509 | CELCOIN INST. PAGAMENTO SA / AGENCIA 0001\",\n\t\"isExpired\": true,\n\t\"authentication\": 1913,\n\t\"authenticationAPI\": {\n\t\t\"Bloco1\": \"59.A8.B9.FB.E4.FB.C5.1D\",\n\t\t\"Bloco2\": \"95.A6.3E.D3.04.31.22.3F\",\n\t\t\"BlocoCompleto\": \"59.A8.B9.FB.E4.FB.C5.1D.95.A6.3E.D3.04.31.22.3F\"\n\t},\n\t\"receipt\": {\n\t\t\"receiptData\": \"\",\n\t\t\"receiptformatted\": \nNOME DO CLIENTE - PAGAMENTO SA\n          PROTOCOLO 11111111111\n1          10/10/2023        11:11\nTERM 1111111 AGENTE 111111 AUTE 111111\n----------------------------------------\nAUTO 111111           RECEBIMENTO CONTA\n                    \n            BANCO ITAU S.A.\n        11111.11111  11111.111111      \n       11111.111111  1 11111111111111\n\nBENEF:    \t\t\tNOME DO BENEFICIARIO\nCPF/CNPJ:            11.111.111/1111-11\nPAGADOR:            NOME DO PAGADOR\nCPF/CNPJ:                111.111.111-11\n----------------------------------------\nDATA DE VENCIMENTO           10/10/2023\nDATA DO PAGAMENTO            10/10/2023\nDATA DE LIQUIDACAO           10/10/2023\nVALOR TITULO                     111,11\nVALOR COBRADO                    111,11\n\n<VIA1>CONVENIO: 509 | CELCOIN INST. \nPAGAMENTO SA / AGENCIA 0001\n \n</VIA1>    VALIDO COMO RECIBO DE PAGAMENTO\n----------------------------------------\n              AUTENTICACAO\n        E1.E4.F0.5E.EA.9A.5A.0F\n        1B.26.21.98.99.10.E5.D6\n----------------------------------------\n\n\n\t\t},\n\t\"settleDate\": \"2023-10-05T00:00:00\",\n\t\"createDate\": \"2023-10-04T19:25:13\",\n\t\"transactionId\": 10111325,\n\t\"Urlreceipt\": null,\n\t\"errorCode\": \"000\",\n\t\"message\": null,\n\t\"status\": 0\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Bad Request":{"value":"{\n  \"errorCode\": \"999\",\n  \"message\": \"Data de Vencimento nao pode ser vazia.\"\n}"}},"schema":{"type":"object","properties":{"errorCode":{"type":"string","example":"999"},"message":{"type":"string","example":"Data de Vencimento nao pode ser vazia."}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Unauthorized":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"500":{"description":"500","content":{"text/plain":{"examples":{"Internal Server Error":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/v5/transactions/billpayments/{transactionId}/capture":{"put":{"summary":"Confirmar o pagamento de uma conta","description":"Essa API efetua o pagamento de uma conta. Veja o nosso [artigo](https://developers.celcoin.com.br/docs/pagamento-de-contas-1#confirmar-o-pagamento-de-uma-conta) e saiba como realizar a implementação dessa API.\n\nEntenda quais são os erros que essa API poderá retornar ao realizar a confirmação do pagamento, [clique aqui](https://developers.celcoin.com.br/docs/tabelas-de-erros#tabela-de-erros-da-api-de-confirma%C3%A7%C3%A3o-de-pagamento).","operationId":"confirmar-o-pagamento-de-uma-conta","parameters":[{"name":"transactionId","in":"path","schema":{"type":"integer","format":"int32"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"externalNSU":{"type":"integer","description":"Identificador da transação do sistema cliente.","format":"int64"},"externalTerminal":{"type":"string","description":"Terminal de identificação externa do sistema do cliente, Ex: CPF."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Sucess":{"value":"{\n  \"errorCode\": \"000\",\n  \"message\": \"SUCESSO\",\n  \"status\": 0\n}"}},"schema":{"type":"object","properties":{"errorCode":{"type":"string","example":"000"},"message":{"type":"string","example":"SUCESSO"},"status":{"type":"integer","example":0,"default":0}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"TRANSACAO NAO ENCONTRADA":{"value":"{\n  \"errorCode\": \"024\",\n  \"message\": \"TRANSACAO NAO ENCONTRADA\"\n}"},"FALHA NA COMUNICACAO COM A SUA INSTUICAO":{"value":"{\n  \"errorCode\": \"171\",\n  \"message\": \"FALHA NA COMUNICACAO COM A SUA INSTUICAO\" \n}"}},"schema":{"oneOf":[{"title":"TRANSACAO NAO ENCONTRADA","type":"object","properties":{"errorCode":{"type":"string","example":"024"},"message":{"type":"string","example":"TRANSACAO NAO ENCONTRADA"}}},{"title":"FALHA NA COMUNICACAO COM A SUA INSTUICAO","type":"object","properties":{"errorCode":{"type":"string","example":"171"},"message":{"type":"string","example":"FALHA NA COMUNICACAO COM A SUA INSTUICAO"}}}]}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Unauthorized":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Internal server error":{"value":""}}}}}},"deprecated":false}},"/v5/transactions/billpayments/{transactionId}/void":{"delete":{"summary":"Cancelar uma reserva realizada","description":"Essa API realiza o cancelamento de uma reserva realizada indevidamente. Para mais informações de como realizar a implementação dessa API, criamos o [artigo](https://developers.celcoin.com.br/docs/pagamento-de-contas-1)","operationId":"cancela-a-transação-de-pagamento-de-contas-efetuada","parameters":[{"name":"transactionId","in":"path","description":"ID da transação para cancelar.","schema":{"type":"integer","format":"int32"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"externalNSU":{"type":"integer","description":"Identificador da transação do sistema cliente.","format":"int64"},"externalTerminal":{"type":"string","description":"Terminal de identificação externa do sistema do cliente, Ex: CPF."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"errorCode\": \"000\",\n  \"message\": \"SUCESSO\",\n  \"status\": 0\n}"}},"schema":{"type":"object","properties":{"errorCode":{"type":"string","example":"000"},"message":{"type":"string","example":"SUCESSO"},"status":{"type":"integer","example":0,"default":0}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"TRANSACAO NAO ENCONTRADA":{"value":"{\n  \"message\": \"TRANSACAO NAO ENCONTRADA\",\n  \"errorCode\": \"024\"\n}"},"FALHA NA COMUNIC COM A SUA INSTUICAO":{"value":"{\n  \"message\": \"FALHA NA COMUNIC COM A SUA INSTUICAO\",\n  \"errorCode\": \"171\"\n}"},"FALHA NA COMUNIC COM A INSTITUICAO":{"value":"{\n  \"message\": \"FALHA NA COMUNIC COM A INSTITUICAO\",\n  \"errorCode\": \"620\"\n}"},"FALHA NA COMUNIC JUNTO AO NOSSO PARCEIRO.":{"value":"{\n  \"message\": \"FALHA NA COMUNIC JUNTO AO NOSSO PARCEIRO. FAVOR TENTE NOVAMENTE\",\n  \"errorCode\": \"658\"\n}"}},"schema":{"oneOf":[{"title":"TRANSACAO NAO ENCONTRADA","type":"object","properties":{"message":{"type":"string","example":"TRANSACAO NAO ENCONTRADA"},"errorCode":{"type":"string","example":"024"}}},{"title":"FALHA NA COMUNIC COM A SUA INSTUICAO","type":"object","properties":{"message":{"type":"string","example":"FALHA NA COMUNIC COM A SUA INSTUICAO"},"errorCode":{"type":"string","example":"171"}}},{"title":"FALHA NA COMUNIC COM A INSTITUICAO","type":"object","properties":{"message":{"type":"string","example":"FALHA NA COMUNIC COM A INSTITUICAO"},"errorCode":{"type":"string","example":"620"}}},{"title":"FALHA NA COMUNIC JUNTO AO NOSSO PARCEIRO.","type":"object","properties":{"message":{"type":"string","example":"FALHA NA COMUNIC JUNTO AO NOSSO PARCEIRO. FAVOR TENTE NOVAMENTE"},"errorCode":{"type":"string","example":"658"}}}]}}}},"501":{"description":"501","content":{"application/json":{"examples":{"Internal Server Error":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/v5/transactions/billpayments/{transactionId}/reverse":{"delete":{"summary":"Reverter uma transação de pagamento de contas efetuada","description":"Essa API possibilita reverter um pagamento de conta realizado desde de que ele esteja fora de sua janela de pagamento. Para mais informações criamos o [artigo](https://developers.celcoin.com.br/docs/pagamento-de-contas-1#estornar-uma-transa%C3%A7%C3%A3o-de-pagamento-de-contas-efetuada)","operationId":"estornar-uma-transação-de-pagamento-de-contas-efetuada","parameters":[{"name":"transactionId","in":"path","description":"ID da transação de pagamento para estornar.","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Sucess":{"value":"{\n  \"errorCode\": \"000\",\n  \"message\": \"SUCESSO\",\n  \"status\": 0\n}\n\n"}},"schema":{"type":"object","properties":{"errorCode":{"type":"string","example":"000"},"message":{"type":"string","example":"SUCESSO"},"status":{"type":"integer","example":0,"default":0}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"FALHA NA COMUNIC COM A INSTITUICAO.":{"value":"{\n  \"message\": \"FALHA NA COMUNIC COM A INSTITUICAO. FAVOR TENTE NOVAMENTE\",\n  \"errorCode\": \"620\"\n}"},"O status dessa transacao nao permite cancelamento":{"value":"{\n  \"message\": \"O status dessa transacao nao permite cancelamento\",\n  \"errorCode\": \"999\"\n}"},"Liquidante nao permite cancelamento":{"value":"{\n  \"message\": \"Liquidante nao permite cancelamento\",\n  \"errorCode\": \"999\"\n}"},"Nao foi possivel realizar o cancelamento. Pagamento ja processado":{"value":"{\n  \"message\": \"Liquidante nao permite cancelamento\",\n  \"errorCode\": \"999\"\n}"},"Transacao nao encontrada":{"value":"{\n  \"message\": \"Transacao nao encontrada\",\n  \"errorCode\": \"999\"\n}"}},"schema":{"oneOf":[{"title":"FALHA NA COMUNIC COM A INSTITUICAO.","type":"object","properties":{"message":{"type":"string","example":"FALHA NA COMUNIC COM A INSTITUICAO. FAVOR TENTE NOVAMENTE"},"errorCode":{"type":"string","example":"620"}}},{"title":"O status dessa transacao nao permite cancelamento","type":"object","properties":{"message":{"type":"string","example":"O status dessa transacao nao permite cancelamento"},"errorCode":{"type":"string","example":"999"}}},{"title":"Liquidante nao permite cancelamento","type":"object","properties":{"message":{"type":"string","example":"Liquidante nao permite cancelamento"},"errorCode":{"type":"string","example":"999"}}},{"title":"Nao foi possivel realizar o cancelamento. Pagamento ja processado","type":"object","properties":{"message":{"type":"string","example":"Liquidante nao permite cancelamento"},"errorCode":{"type":"string","example":"999"}}},{"title":"Transacao nao encontrada","type":"object","properties":{"message":{"type":"string","example":"Transacao nao encontrada"},"errorCode":{"type":"string","example":"999"}}}]}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Internal Server Error":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/v5/transactions/status-consult":{"get":{"summary":"Consultar informações de uma transação","description":"Essa API disponibiliza informações de um pagamento a partir de alguns campos. Criamos um [artigo](https://developers.celcoin.com.br/docs/pagamento-de-contas-1#consultar-informa%C3%A7%C3%B5es-de-um-pagamento) que explica como usar essa API.","operationId":"consultar-informações-de-um-pagamento","parameters":[{"name":"transactionId","in":"query","description":"ID da transação para a consulta  1","schema":{"type":"integer","format":"int32"}},{"name":"externalNSU","in":"query","description":"Identificador da transação do sistema cliente","schema":{"type":"integer","format":"int64"}},{"name":"externalTerminal","in":"query","description":"Terminal de identificação externa do sistema do cliente","schema":{"type":"string"}},{"name":"operationDate","in":"query","description":"Data da operação","schema":{"type":"string","format":"date","default":"0001-01-01T00:00:00"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Sucess":{"value":"{\n  \"transaction\": {\n    \"authentication\": 6088,\n    \"errorCode\": \"000\",\n    \"createDate\": \"2021-06-24T17:48:08\",\n    \"message\": \"SUCESSO\",\n    \"externalNSU\": 1234,\n    \"transactionId\": \"7097995\",\n    \"status\": 0,\n    \"externalTerminal\": \"11122233344\"\n  },\n  \"erroCode\": \"000\",\n  \"message\": \"SUCESSO\",\n  \"status\": 0\n}"}},"schema":{"type":"object","properties":{"transaction":{"type":"object","properties":{"authentication":{"type":"integer","example":6088,"default":0},"errorCode":{"type":"string","example":"000"},"createDate":{"type":"string","example":"2021-06-24T17:48:08"},"message":{"type":"string","example":"SUCESSO"},"externalNSU":{"type":"integer","example":1234,"default":0},"transactionId":{"type":"string","example":"7097995"},"status":{"type":"integer","example":0,"default":0},"externalTerminal":{"type":"string","example":"11122233344"}}},"erroCode":{"type":"string","example":"000"},"message":{"type":"string","example":"SUCESSO"},"status":{"type":"integer","example":0,"default":0}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"TRANSACTIONID NÃO INFORMADO":{"value":"{\n  \"message\": \"TRANSACTIONID NÃO INFORMADO, OS DEMAIS CAMPOS SÃO OBRIGATÓRIOS\",\n  \"errorCode\": \"709\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"TRANSACTIONID NÃO INFORMADO, OS DEMAIS CAMPOS SÃO OBRIGATÓRIOS"},"errorCode":{"type":"string","example":"709"}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Unauthorized":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Internal Server Error":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/v5/transactions/occurrency":{"get":{"summary":"Consultar ocorrências de um pagamento","description":"Às vezes ao realizar o pagamento de uma conta o beneficiário, entidade final que está recebendo o dinheiro, rejeita alguns pagamentos, nesses casos a Celcoin ao identificar essa situação, devolve o dinheiro para conta bolsão do seu cliente e disponibiliza os pagamentos que foram rejeitados nessa apí. \n\nCriamos um [artigo](https://developers.celcoin.com.br/docs/pagamento-de-contas-1#consulta-ocorr%C3%AAncias) que explica como usar essa api.","operationId":"consulta-lista-de-ocorrências","parameters":[{"name":"DataInicio","in":"query","description":"Período inicial da consulta.","schema":{"type":"string","format":"date","default":"2021-06-20T23:00:00"}},{"name":"DataFim","in":"query","description":"Período final da consulta.","schema":{"type":"string","format":"date","default":"2021-06-26T23:00:00"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Sucess":{"value":"{\n  \"occurrences\": {\n    \"date\": \"2021-06-24T19:03:43\",\n    \"createDate\": \"2021-06-24T15:54:14\",\n    \"descriptionMotivo\": \"Recusado pelo beneficiário\",\n    \"externalNSU\": 1234,\n    \"transactionId\": 7061967,\n    \"externalTerminal\": \"11122233344\",\n    \"linhaDigitavel\": \"34191090080012213037050059980008586260000065000 \",\n    \"value\": \"20\"\n  }\n}"}},"schema":{"type":"object","properties":{"occurrences":{"type":"object","properties":{"date":{"type":"string","example":"2021-06-24T19:03:43"},"createDate":{"type":"string","example":"2021-06-24T15:54:14"},"descriptionMotivo":{"type":"string","example":"Recusado pelo beneficiário"},"externalNSU":{"type":"integer","example":1234,"default":0},"transactionId":{"type":"integer","example":7061967,"default":0},"externalTerminal":{"type":"string","example":"11122233344"},"linhaDigitavel":{"type":"string","example":"34191090080012213037050059980008586260000065000 "},"value":{"type":"string","example":"20"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Periodo entre DataInicio e DataFim superior a 7 dias":{"value":"{\n  \"message\": \"Periodo entre DataInicio e DataFim superior a 7 dias\",\n  \"errorCode\": \"632\"\n}"},"DataInicio maior que a DataFim":{"value":"{\n  \"message\": \"DataInicio maior que a DataFim\",\n  \"errorCode\": \"633\"\n}"}},"schema":{"oneOf":[{"title":"Periodo entre DataInicio e DataFim superior a 7 dias","type":"object","properties":{"message":{"type":"string","example":"Periodo entre DataInicio e DataFim superior a 7 dias"},"errorCode":{"type":"string","example":"632"}}},{"title":"DataInicio maior que a DataFim","type":"object","properties":{"message":{"type":"string","example":"DataInicio maior que a DataFim"},"errorCode":{"type":"string","example":"633"}}}]}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Unauthorized":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Internal Server Error":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/v5/transactions/topups":{"post":{"summary":"Reservar saldo para realizar recarga","description":"Essa API possibilita que seja realizada a reserva de um valor de sua conta Celcoin, para a execução de uma recarga. Para mais informações de como realizar essa implementação criamos o [artigo](https://developers.celcoin.com.br/docs/sobre-recargas-nacionais#reserva-saldo-para-realizar-recarga)","operationId":"reserva-saldo-para-realizar-recarga","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["cpfCnpj","providerId","phone"],"properties":{"externalTerminal":{"type":"string","description":"Terminal de identificação externa do sistema do cliente, Ex: CPF."},"externalNsu":{"type":"integer","description":"Identificador da transação do sistema cliente.","format":"int64"},"topupData":{"type":"object","properties":{"value":{"type":"number","description":"Valor da recarga.","default":15,"format":"double"}}},"cpfCnpj":{"type":"string","description":"CPF ou CNPJ do cliente.","default":"19941206066"},"signerCode":{"type":"string","description":"Código do assinante, identificador do cliente na operadora (não obrigatório em quase todas as recargas, exceto quando realizado assinaturas de TV(Sky TV, Claro TV, e Oi TV), onde deve ser enviado o código do assinante do usuário junto a operadora"},"providerId":{"type":"integer","description":"Código da operadora, retornado na api de Retorna lista de operadoras.","default":2086,"format":"int32"},"phone":{"type":"object","required":["stateCode","countryCode","number"],"properties":{"stateCode":{"type":"integer","description":"Código do estado atrelado ao número de telefone.","default":11,"format":"int32"},"countryCode":{"type":"integer","description":"Código do país.","default":55,"format":"int32"},"number":{"type":"string","description":"Número do telefone.","default":"994114386"}}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Sucess":{"value":"{\n  \"nsuNameProvider\": 610761,\n  \"authentication\": 3470,\n  \"authenticationApi\": {\n    \"bloco1\": \"CC.D7.0F.AF.BF.76.8B.D8\",\n    \"bloco2\": \"E3.30.DC.BF.C5.FB.5F.54\",\n    \"blocoCompleto\": \"CC.D7.0F.AF.BF.76.8B.D8.E3.30.DC.BF.C5.FB.5F.54\"\n  },\n  \"receipt\": {\n    \"receiptData\": \"\",\n    \"receiptformatted\": \"         PROTOCOLO 0007061967\\r\\n1          24/06/2021        11:31\\r\\nTERM 228005 AGENTE 228005 AUTE 03470\\r\\n----------------------------------------\\r\\nAUTO 985090                     RECARGA\\r\\n\\r\\nPRODUTO: TIM\\r\\nASSINANTE: STRING\\r\\nTELEFONE:  11 941497981\\r\\nNSU OPERADORA: 610761\\r\\nDATA:  24/06/2021 11:31\\r\\nVALOR: R$  15,00\\r\\n\\r\\nVIVO TURBO: INTERNET + LIGACOES E SMS\\r\\nILIMITADOS PARA VIVO (CEL E FIXO, USANDO\\r\\nO 15)APENAS R$9,99 POR SEMANA. LIGUE\\r\\n*9003 E CADASTRE SE!\\r\\n----------------------------------------\\r\\n\\r\\n\"\n  },\n  \"settleDate\": \"2021-06-24T00:00:00\",\n  \"createDate\": \"2021-06-24T11:31:10\",\n  \"transactionId\": 7061967,\n  \"urlreceipt\": \"https://www.celcoin.com.br\",\n  \"errorCode\": \"000\",\n  \"message\": \"SUCESSO\",\n  \"status\": 0\n}"}},"schema":{"type":"object","properties":{"nsuNameProvider":{"type":"integer","example":610761,"default":0},"authentication":{"type":"integer","example":3470,"default":0},"authenticationApi":{"type":"object","properties":{"bloco1":{"type":"string","example":"CC.D7.0F.AF.BF.76.8B.D8"},"bloco2":{"type":"string","example":"E3.30.DC.BF.C5.FB.5F.54"},"blocoCompleto":{"type":"string","example":"CC.D7.0F.AF.BF.76.8B.D8.E3.30.DC.BF.C5.FB.5F.54"}}},"receipt":{"type":"object","properties":{"receiptData":{"type":"string","example":""},"receiptformatted":{"type":"string","example":"         PROTOCOLO 0007061967\r\n1          24/06/2021        11:31\r\nTERM 228005 AGENTE 228005 AUTE 03470\r\n----------------------------------------\r\nAUTO 985090                     RECARGA\r\n\r\nPRODUTO: TIM\r\nASSINANTE: STRING\r\nTELEFONE:  11 941497981\r\nNSU OPERADORA: 610761\r\nDATA:  24/06/2021 11:31\r\nVALOR: R$  15,00\r\n\r\nVIVO TURBO: INTERNET + LIGACOES E SMS\r\nILIMITADOS PARA VIVO (CEL E FIXO, USANDO\r\nO 15)APENAS R$9,99 POR SEMANA. LIGUE\r\n*9003 E CADASTRE SE!\r\n----------------------------------------\r\n\r\n"}}},"settleDate":{"type":"string","example":"2021-06-24T00:00:00"},"createDate":{"type":"string","example":"2021-06-24T11:31:10"},"transactionId":{"type":"integer","example":7061967,"default":0},"urlreceipt":{"type":"string","example":"https://www.celcoin.com.br"},"errorCode":{"type":"string","example":"000"},"message":{"type":"string","example":"SUCESSO"},"status":{"type":"integer","example":0,"default":0}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"VALOR NAO PERMITIDO":{"value":"{\n  \"message\": \"VALOR NAO PERMITIDO\",\n  \"errorCode\": \"044\"\n}"},"EXCEDE LIMITE":{"value":"{\n  \"message\": \"EXCEDE LIMITE\",\n  \"errorCode\": \"050\"\n}"},"CODIGO AREA NAO HABILITADO":{"value":"{\n  \"message\": \"CODIGO AREA NAO HABILITADO\",\n  \"errorCode\": \"089 \"\n}"},"TEL NAO PERMITE RECARGA":{"value":"{\n  \"message\": \"TEL NAO PERMITE RECARGA\",\n  \"errorCode\": \"251\"\n}"},"TELEFONE INVALIDO":{"value":"{\n  \"message\": \"TELEFONE INVALIDO\",\n  \"errorCode\": \"264\"\n}"},"VALOR NAO PERMITIDO PARA O DDD/TELEFONE INFORMADO":{"value":"{\n  \"message\": \"VALOR NAO PERMITIDO PARA O DDD/TELEFONE INFORMADO\",\n  \"errorCode\": \"472\"\n}"},"OPERACAO NAO EFETUADA. TENTE NOVAMENTE":{"value":"{\n  \"message\": \"VALOR NAO PERMITIDO PARA O DDD/TELEFONE INFORMADO\",\n  \"errorCode\": \"598\"\n}"},"NUMERO DE CLIENTE INVALIDO":{"value":"{\n  \"message\": \"NUMERO DE CLIENTE INVALIDO\",\n  \"errorCode\": \"598\"\n}"},"TELEFONE BLOQUEADO PARA RECARGA":{"value":"{\n  \"message\": \"TELEFONE BLOQUEADO PARA RECARGA\",\n  \"errorCode\": \"599\"\n}"},"FALHA NA COMUNIC COM A INSTITUICAO.":{"value":"{\n  \"message\": \"FALHA NA COMUNIC COM A INSTITUICAO. FAVOR TENTE NOVAMENTE.\",\n  \"errorCode\": \"620\"\n}"},"RECARGA NEGADA PELA OPERADORA.":{"value":"{\n  \"message\": \" RECARGA NEGADA PELA OPERADORA. PARA MAIS DETALHES ENTRE EM CONTATO COM A SUA OPERADOR\",\n  \"errorCode\": \"646\"\n}"},"FALHA NA COMUNIC JUNTO AO NOSSO PARCEIRO":{"value":"{\n  \"message\": \" FALHA NA COMUNIC JUNTO AO NOSSO PARCEIRO. FAVOR TENTE NOVAMENTE\",\n  \"errorCode\": \"658\"\n}"},"CPF OU CNPJ INVALIDO":{"value":"{\n  \"message\": \"CPF OU CNPJ INVALIDO\",\n  \"errorCode\": \"658\"\n}"},"LINHA A QUAL RECEBERIA O CREDITO ESTA BLOQUEADA":{"value":"{\n  \"message\": \"LINHA A QUAL RECEBERIA O CREDITO ESTA BLOQUEADA, CANCELADA OU INATIVA NA OPERADORA\",\n  \"errorCode\": \"734\"\n}"},"SEU NUMERO AGORA É CLARO. USE CLARO P/ FAZER A RECARGA":{"value":"{\n  \"message\": \"Seu numero agora é Claro. Use Claro p/ fazer a recarga\",\n  \"errorCode\": \"772\"\n}"},"SEU NUMERO AGORA É TIM. USE TIM P/FAZER A RECARGA.":{"value":"{\n  \"message\": \"Seu numero agora é Tim. Use Tim p/ fazer a recarga\",\n  \"errorCode\": \"773\"\n}"},"SEU NUMERO AGORA É VIVO. SUE TIM P/ FAZER A RECARGA.":{"value":"{\n  \"message\": \"Seu numero agora é Vivo. Use Tim p/ fazer a recarga\",\n  \"errorCode\": \"774\"\n}"}},"schema":{"oneOf":[{"title":"VALOR NAO PERMITIDO","type":"object","properties":{"message":{"type":"string","example":"VALOR NAO PERMITIDO"},"errorCode":{"type":"string","example":"044"}}},{"title":"EXCEDE LIMITE","type":"object","properties":{"message":{"type":"string","example":"EXCEDE LIMITE"},"errorCode":{"type":"string","example":"050"}}},{"title":"CODIGO AREA NAO HABILITADO","type":"object","properties":{"message":{"type":"string","example":"CODIGO AREA NAO HABILITADO"},"errorCode":{"type":"string","example":"089 "}}},{"title":"TEL NAO PERMITE RECARGA","type":"object","properties":{"message":{"type":"string","example":"TEL NAO PERMITE RECARGA"},"errorCode":{"type":"string","example":"251"}}},{"title":"TELEFONE INVALIDO","type":"object","properties":{"message":{"type":"string","example":"TELEFONE INVALIDO"},"errorCode":{"type":"string","example":"264"}}},{"title":"VALOR NAO PERMITIDO PARA O DDD/TELEFONE INFORMADO","type":"object","properties":{"message":{"type":"string","example":"VALOR NAO PERMITIDO PARA O DDD/TELEFONE INFORMADO"},"errorCode":{"type":"string","example":"472"}}},{"title":"OPERACAO NAO EFETUADA. TENTE NOVAMENTE","type":"object","properties":{"message":{"type":"string","example":"VALOR NAO PERMITIDO PARA O DDD/TELEFONE INFORMADO"},"errorCode":{"type":"string","example":"598"}}},{"title":"NUMERO DE CLIENTE INVALIDO","type":"object","properties":{"message":{"type":"string","example":"NUMERO DE CLIENTE INVALIDO"},"errorCode":{"type":"string","example":"598"}}},{"title":"TELEFONE BLOQUEADO PARA RECARGA","type":"object","properties":{"message":{"type":"string","example":"TELEFONE BLOQUEADO PARA RECARGA"},"errorCode":{"type":"string","example":"599"}}},{"title":"FALHA NA COMUNIC COM A INSTITUICAO.","type":"object","properties":{"message":{"type":"string","example":"FALHA NA COMUNIC COM A INSTITUICAO. FAVOR TENTE NOVAMENTE."},"errorCode":{"type":"string","example":"620"}}},{"title":"RECARGA NEGADA PELA OPERADORA.","type":"object","properties":{"message":{"type":"string","example":" RECARGA NEGADA PELA OPERADORA. PARA MAIS DETALHES ENTRE EM CONTATO COM A SUA OPERADOR"},"errorCode":{"type":"string","example":"646"}}},{"title":"FALHA NA COMUNIC JUNTO AO NOSSO PARCEIRO","type":"object","properties":{"message":{"type":"string","example":" FALHA NA COMUNIC JUNTO AO NOSSO PARCEIRO. FAVOR TENTE NOVAMENTE"},"errorCode":{"type":"string","example":"658"}}},{"title":"CPF OU CNPJ INVALIDO","type":"object","properties":{"message":{"type":"string","example":"CPF OU CNPJ INVALIDO"},"errorCode":{"type":"string","example":"658"}}},{"title":"LINHA A QUAL RECEBERIA O CREDITO ESTA BLOQUEADA","type":"object","properties":{"message":{"type":"string","example":"LINHA A QUAL RECEBERIA O CREDITO ESTA BLOQUEADA, CANCELADA OU INATIVA NA OPERADORA"},"errorCode":{"type":"string","example":"734"}}},{"title":"SEU NUMERO AGORA É CLARO. USE CLARO P/ FAZER A RECARGA","type":"object","properties":{"message":{"type":"string","example":"Seu numero agora é Claro. Use Claro p/ fazer a recarga"},"errorCode":{"type":"string","example":"772"}}},{"title":"SEU NUMERO AGORA É TIM. USE TIM P/FAZER A RECARGA.","type":"object","properties":{"message":{"type":"string","example":"Seu numero agora é Tim. Use Tim p/ fazer a recarga"},"errorCode":{"type":"string","example":"773"}}},{"title":"SEU NUMERO AGORA É VIVO. SUE TIM P/ FAZER A RECARGA.","type":"object","properties":{"message":{"type":"string","example":"Seu numero agora é Vivo. Use Tim p/ fazer a recarga"},"errorCode":{"type":"string","example":"774"}}}]}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Unauthorized":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Internal Server Error":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/v5/transactions/topups/{transactionId}/capture":{"put":{"summary":"Confirmar a transação de uma recarga","description":"Essa API possibilita que seja realizado de fato uma recarga. Para mais informações de como realizar a implementação dessa API, criamos o [artigo](https://developers.celcoin.com.br/docs/sobre-recargas-nacionais#confirmar-a-transa%C3%A7%C3%A3o-de-uma-recarga)","operationId":"confirma-uma-recarga","parameters":[{"name":"transactionId","in":"path","description":"ID da transação para confirmar.","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"externalNSU":{"type":"integer","description":"Identificador da transação do sistema cliente.","format":"int64"},"externalTerminal":{"type":"string","description":"Terminal de identificação externa do sistema do cliente, Ex: CPF."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Ok":{"value":"{\n  \"erroCode\": \"000\",\n  \"message\": \"SUCESSO\",\n  \"status\": 0\n}"}},"schema":{"type":"object","properties":{"erroCode":{"type":"string","example":"000"},"message":{"type":"string","example":"SUCESSO"},"status":{"type":"integer","example":0,"default":0}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"TRANSACAO NAO ENCONTRADA":{"value":"{\n  \"message\": \"TRANSACAO NAO ENCONTRADA\",\n  \"errorCode\": \"024\"\n}"},"FALHA NA COMUNIC COM A SUA INSTUICAO":{"value":"{\n  \"message\": \"FALHA NA COMUNIC COM A SUA INSTUICAO\",\n  \"errorCode\": \"171 \"\n}"},"FALHA NA COMUNIC COM A INSTITUICAO.":{"value":"{\n  \"message\": \"FALHA NA COMUNIC COM A SUA INSTUICAO\",\n  \"errorCode\": \"620 \"\n}"},"FALHA NA COMUNIC JUNTO AO NOSSO PARCEIRO":{"value":"{\n  \"message\": \"FALHA NA COMUNIC JUNTO AO NOSSO PARCEIRO. FAVOR TENTE NOVAMENTE\",\n  \"errorCode\": \"658 \"\n}"}},"schema":{"oneOf":[{"title":"TRANSACAO NAO ENCONTRADA","type":"object","properties":{"message":{"type":"string","example":"TRANSACAO NAO ENCONTRADA"},"errorCode":{"type":"string","example":"024"}}},{"title":"FALHA NA COMUNIC COM A SUA INSTUICAO","type":"object","properties":{"message":{"type":"string","example":"FALHA NA COMUNIC COM A SUA INSTUICAO"},"errorCode":{"type":"string","example":"171 "}}},{"title":"FALHA NA COMUNIC COM A INSTITUICAO.","type":"object","properties":{"message":{"type":"string","example":"FALHA NA COMUNIC COM A SUA INSTUICAO"},"errorCode":{"type":"string","example":"620 "}}},{"title":"FALHA NA COMUNIC JUNTO AO NOSSO PARCEIRO","type":"object","properties":{"message":{"type":"string","example":"FALHA NA COMUNIC JUNTO AO NOSSO PARCEIRO. FAVOR TENTE NOVAMENTE"},"errorCode":{"type":"string","example":"658 "}}}]}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Unauthorized":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Internal Server Error":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/v5/transactions/pendency":{"get":{"summary":"Listar transações pendentes","description":"Essa API disponibiliza uma lista de todas as transações que foram efetivadas, mas que não foram confirmadas. Ou seja, as transações que estão pendentes","operationId":"lista-de-transações-pendentes","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"pendings\": {\n    \"transactions\": [\n      {\n        \"authentication\": 3470,\n        \"createDate\": \"2021-06-24T11:31:10\",\n        \"externalNSU\": 1234,\n        \"transactionId\": 7061967,\n        \"status\": 4,\n        \"externalTerminal\": \"11122233344\"\n      }\n    ]\n  },\n  \"errorCode\": \"000\",\n  \"message\": \"SUCESSO\",\n  \"status\": \"0\"\n}"}},"schema":{"type":"object","properties":{"pendings":{"type":"object","properties":{"transactions":{"type":"array","items":{"type":"object","properties":{"authentication":{"type":"integer","example":3470,"default":0},"createDate":{"type":"string","example":"2021-06-24T11:31:10"},"externalNSU":{"type":"integer","example":1234,"default":0},"transactionId":{"type":"integer","example":7061967,"default":0},"status":{"type":"integer","example":4,"default":0},"externalTerminal":{"type":"string","example":"11122233344"}}}}}},"errorCode":{"type":"string","example":"000"},"message":{"type":"string","example":"SUCESSO"},"status":{"type":"string","example":"0"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}