{"openapi":"3.1.0","info":{"title":"BaaS Onboarding","version":"2.0.0"},"servers":[{"url":"https://sandbox.openfinance.celcoin.dev/baas-onboarding/v1"}],"components":{"securitySchemes":{"sec0":{"type":"oauth2","flows":{}}}},"security":[{"sec0":[]}],"paths":{"/account/natural-person/create":{"post":{"summary":"Criar Conta PF","description":"Confira nosso tutorial -> https://developers.celcoin.com.br/docs/criar-conta","operationId":"criar-conta-pf","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["clientCode","accountOnboardingType","documentNumber","phoneNumber","email","motherName","fullName","birthDate","address"],"properties":{"clientCode":{"type":"string","description":"Identificador único fornecido pelo cliente. Esse valor não pode ser repetido."},"accountOnboardingType":{"type":"string","description":"O Tipo de Account sempre será = BANKACCOUNT","default":"BANKACCOUNT"},"documentNumber":{"type":"string","description":"Número do CPF da conta."},"phoneNumber":{"type":"string","default":"+5511988887777"},"email":{"type":"string","description":"E-mail do titular da conta."},"motherName":{"type":"string","description":"Nome da mãe do titular da conta."},"fullName":{"type":"string","description":"Nome completo do titular da conta."},"socialName":{"type":"string","description":"Nome social do titular da conta."},"birthDate":{"type":"string","description":"Data de nascimento do titular da conta."},"address":{"type":"object","description":"Endereço do cliente","required":["postalCode","street","neighborhood","city","state"],"properties":{"postalCode":{"type":"string","description":"Número do CEP.","default":"06455030"},"street":{"type":"string","description":"Nome da rua.","default":"Alameda Xingu"},"number":{"type":"string","description":"Número do endereço.","default":"350"},"addressComplement":{"type":"string","description":"Complemento do endereço.","default":"CJ 1604"},"neighborhood":{"type":"string","description":"Nome do bairro.","default":"Alphaville Industrial"},"city":{"type":"string","description":"Nome da Cidade.","default":"Barueri"},"state":{"type":"string","description":"Sigla do Estado referente ao endereço informado.","default":"SP"},"longitude":{"type":"string","description":"Longitude refente ao endereço informado.","default":"-23.6288"},"latitude":{"type":"string","description":"Latitude refente ao endereço informado.","default":"-46.6488"}}},"isPoliticallyExposedPerson":{"type":"boolean","description":"Campo que identifica se o titular da conta é pessoa politicamente exposta."}}},"examples":{"Request Example":{"value":{"clientCode":"123456","accountOnboardingType":"BANKACCOUNT","documentNumber":"33333333333","phoneNumber":"+5512981175554","email":"email@email.com","motherName":"Celia Regina","fullName":"Carlos Henrique da Silva","socialName":"Carlos","birthDate":"31-12-1984","address":{"postalCode":"12211400","street":"Rua das Andorinhas","number":"313","addressComplement":"Em frente ao parque.","neighborhood":"Rua das Maravilhas","city":"São Paulo","state":"SP","longitude":"-46.6488","latitude":"-23.6288"},"isPoliticallyExposedPerson":false,"cadastraChavePix":false}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Success":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"PROCESSING\",\n  \"body\": {\n    \"onBoardingId\": \"39c8e322-9192-498d-947e-2daa4dfc749e\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"PROCESSING"},"body":{"type":"object","properties":{"onBoardingId":{"type":"string","example":"39c8e322-9192-498d-947e-2daa4dfc749e"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api..\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api.."}}}}}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Result":{"value":""}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api..\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api.."}}}}}}}}},"deprecated":false}},"/account/check":{"get":{"summary":"Verificar Status da Conta.","description":"","operationId":"verificar-status-da-conta","parameters":[{"name":"onboardingId","in":"query","description":"Identificador gerado pela Celcoin para consulta do processo de abertura de conta.","schema":{"type":"string"}},{"name":"clientCode","in":"query","description":"Identificador unico fornecido pelo cliente.","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"CONFIRMED\",\n  \"body\": {\n    \"onboardingId\": \"39c8e322-9192-498d-947e-2daa4dfc749e\",\n    \"clientCode\": \"123456\",\n    \"createDate\": \"2022-12-31T00:00:00Z\",\n    \"entity\": \"account-create\",\n    \"account\": {\n      \"branch\": \"1234\",\n      \"account\": \"123456\",\n      \"name\": \"Fernanda Aparecida da Silva\",\n      \"documentNumber\": \"47855748778\"\n    }\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"CONFIRMED"},"body":{"type":"object","properties":{"onboardingId":{"type":"string","example":"39c8e322-9192-498d-947e-2daa4dfc749e"},"clientCode":{"type":"string","example":"123456"},"createDate":{"type":"string","example":"2022-12-31T00:00:00Z"},"entity":{"type":"string","example":"account-create"},"account":{"type":"object","properties":{"branch":{"type":"string","example":"1234"},"account":{"type":"string","example":"123456"},"name":{"type":"string","example":"Fernanda Aparecida da Silva"},"documentNumber":{"type":"string","example":"47855748778"}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api..\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api.."}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api..\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api.."}}}}}}}}},"deprecated":false}},"/account/business/create":{"post":{"summary":"Criar Conta PJ","description":"Confira nosso tutorial -> https://developers.celcoin.com.br/docs/criar-conta","operationId":"criar-conta-pj","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["clientCode","accountOnboardingType","documentNumber","contactNumber","businessEmail","businessName","tradingName"],"properties":{"clientCode":{"type":"string","description":"Identificador único fornecido pelo cliente. Esse valor não pode ser repetido.","default":"123456"},"accountOnboardingType":{"type":"string","description":"O Tipo de Account sempre será = BANKACCOUNT","default":"BANKACCOUNT"},"documentNumber":{"type":"string","description":"Numero do CNPJ da conta.","default":"56461227000199"},"contactNumber":{"type":"string","description":"Telefone para contato.","default":"+551239215555"},"businessEmail":{"type":"string","description":"E-mail que será vinculado a conta.","default":"email@email.com"},"businessName":{"type":"string","description":"Nome da razão social da conta.","default":"IP Pagamentos"},"tradingName":{"type":"string","description":"Nome fantasia da conta.","default":"IPay"},"owner":{"type":"array","items":{"properties":{"documentNumber":{"type":"string","description":"Numero do CPF da conta.","default":"56461227123"},"fullName":{"type":"string","description":"Nome completo do representante legal da empresa.","default":"Nome Sobrenome"},"phoneNumber":{"type":"string","description":"Número telefone contato do representante legal da empresa.","default":"+5512981175554"},"email":{"type":"string","description":"E-mail do representante legal da empresa.","default":"email@email.com"},"motherName":{"type":"string","description":"Nome mãe do representante legal da empresa.","default":"Nome Sobrenome"},"socialName":{"type":"string","description":"Nome que o representante legal da empresa gostaria de ser chamado.","default":"Nome"},"birthDate":{"type":"string","description":"Data de nascimento do representante legal da empresa.","default":"31-12-1984"},"address":{"type":"object","required":["postalCode","street","neighborhood","city","state"],"properties":{"postalCode":{"type":"string","description":"Número do CEP.","default":"06455030"},"street":{"type":"string","description":"Nome da rua.","default":"Alameda Xingu"},"number":{"type":"string","description":"Número do endereço.","default":"350"},"addressComplement":{"type":"string","description":"Complemento do endereço.","default":"CJ 1604"},"neighborhood":{"type":"string","description":"Nome do bairro.","default":"Alphaville Industrial"},"city":{"type":"string","description":"Nome da Cidade.","default":"Barueri"},"state":{"type":"string","description":"Sigla do Estado referente ao endereço informado.","default":"SP"},"longitude":{"type":"string","description":"Longitude refente ao endereço informado.","default":"-23.6288"},"latitude":{"type":"string","description":"Latitude refente ao endereço informado.","default":"-46.6488"}}},"isPoliticallyExposedPerson":{"type":"boolean","description":"Campo que identifica se o representante legal da empresa é pessoa politicamente exposta.","default":false}},"required":["documentNumber","fullName","phoneNumber","email","motherName","birthDate","isPoliticallyExposedPerson"],"type":"object"}},"businessAddress":{"type":"object","required":["postalCode","street","neighborhood","city","state"],"properties":{"postalCode":{"type":"string","description":"Número do CEP.","default":"12211400"},"street":{"type":"string","description":"Nome da rua.","default":"Alameda Xingu"},"number":{"type":"string","description":"Número do endereço.","default":"350"},"addressComplement":{"type":"string","description":"Complemento do endereço.","default":"CJ 1604"},"neighborhood":{"type":"string","description":"Nome do bairro.","default":"Alphaville Industrial"},"city":{"type":"string","description":"Nome da Cidade.","default":"Barueri"},"state":{"type":"string","description":"Sigla do Estado referente ao endereço informado.","default":"SP"},"longitude":{"type":"string","description":"Longitude refente ao endereço informado.","default":"-46.6488"},"latitude":{"type":"string","description":"Latitude refente ao endereço informado.","default":"-23.6288"}}}}},"examples":{"Request Example":{"value":{"clientCode":"123456","accountOnboardingType":"BANKACCOUNT","documentNumber":"56461227000199","contactNumber":"+551239215555","businessEmail":"email@email.com","businessName":"IP Pagamentos","tradingName":"IPay","owner":[{"documentNumber":"56461227123","fullName":"Carlos Henrique da Silva","phoneNumber":"+5512981175554","email":"email@email.com","motherName":"Celia Regina","socialName":"Carlos","birthDate":"31-12-1984","address":{"postalCode":"12211400","street":"Rua das Andorinhas","number":"313","addressComplement":"Em frente ao parque.","neighborhood":"Rua das Maravilhas","city":"São Paulo","state":"SP","longitude":"-46.6488","latitude":"-23.6288"},"isPoliticallyExposedPerson":false}],"businessAddress":{"postalCode":"12211400","street":"Rua das Andorinhas","number":"313","addressComplement":"Em frente ao parque.","neighborhood":"Rua das Maravilhas","city":"São Paulo","state":"SP","longitude":"-46.6488","latitude":"-23.6288"},"cadastraChavePix":false}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Success":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"PROCESSING\",\n  \"body\": {\n    \"onBoardingId\": \"39c8e322-9192-498d-947e-2daa4dfc749e\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"PROCESSING"},"body":{"type":"object","properties":{"onBoardingId":{"type":"string","example":"39c8e322-9192-498d-947e-2daa4dfc749e"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api..\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api.."}}}}}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Result":{"value":""}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api..\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api.."}}}}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}