{"openapi":"3.0.1","info":{"title":"Crédito","description":"Crédito","version":"v1.132.0"},"servers":[{"url":"https://sandbox.platform.flowfinance.com.br/banking/","description":"Host Sandbox"}],"security":[{"bearerAuth":[]}],"paths":{"/originator/webhooks/{id}":{"put":{"tags":["Webhooks - Originador"],"summary":"Atualizar Webhook - Originador","operationId":"update","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/originator.setup.webhook.WebhookRepresentation.CreationOrUpdate"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/originator.setup.webhook.WebhookRepresentation.Default"}}}}}},"delete":{"tags":["Webhooks - Originador"],"summary":"Excluir Webhook - Originador","operationId":"remove","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/originator/products/{id}/qualification-requests/{qualificationId}/qualify":{"put":{"tags":["Linhas de Crédito - Originador"],"summary":"Atualizar Status de Linha de Crédito - Originador","operationId":"qualifyQualification","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"qualificationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/qualification.QualificationRepresentation.Update"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/qualification.QualificationRepresentation.Default"}}}}}}},"/originator/products/{id}/qualification-requests/{qualificationId}/conditions":{"put":{"tags":["Linhas de Crédito - Originador"],"summary":"Atualizar Condições para Linha de Crédito - Originador","operationId":"setConditions","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"qualificationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/qualification.ConditionRepresentation.Save"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/qualification.QualificationRepresentation.Default"}}}}}}},"/originator/persons/{id}":{"get":{"tags":["Pessoas - Originador"],"summary":"Consultar Pessoa - Originador","operationId":"findById_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/issuer.person.PersonRepresentation.Default"}}}}}},"put":{"tags":["Pessoas - Originador"],"summary":"Atualizar Pessoa - Originador","operationId":"update_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/issuer.person.PersonRepresentation.CreationOrUpdate"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/issuer.person.PersonRepresentation.Default"}}}}}}},"/originator/persons/{id}/documents/{documentId}":{"put":{"tags":["Pessoas - Originador"],"summary":"Atualizar Documento Pessoa - Originador","operationId":"updateDocument","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"documentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/originator.document.EntityDocumentRepresentation.Upload"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/originator.document.EntityDocumentRepresentation.Default"}}}}}},"delete":{"tags":["Pessoas - Originador"],"summary":"Excluir Documento Pessoa - Originador","operationId":"removeDocument","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"documentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/originator/business/{id}":{"get":{"tags":["Empresas - Originador"],"summary":"Consultar Empresa - Originador","operationId":"findById_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/originator.business.BusinessRepresentation.Default"}}}}}},"put":{"tags":["Empresas - Originador"],"summary":"Atualizar Empresa - Originador","operationId":"update_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/originator.business.BusinessRepresentation.CreationOrUpdate"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/originator.business.BusinessRepresentation.Default"}}}}}}},"/originator/business/{id}/relations/{relationId}":{"put":{"tags":["Empresas - Originador"],"summary":"Atualizar Relacionamento Pessoa x Empresa - Originador","operationId":"updateRelation","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"relationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/originator.business.relation.BusinessPersonRelationRepresentation.CreationOrUpdate"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/originator.business.relation.BusinessPersonRelationRepresentation.Default"}}}}}},"delete":{"tags":["Empresas - Originador"],"summary":"Remover Relacionamento Pessoa x Empresa - Originador","operationId":"removeRelation","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"relationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/originator/business/{id}/documents/{documentId}":{"put":{"tags":["Empresas - Originador"],"summary":"Atualizar Documento Empresa - Originador","operationId":"updateDocument_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"documentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/originator.document.EntityDocumentRepresentation.Upload"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/originator.document.EntityDocumentRepresentation.Default"}}}}}},"delete":{"tags":["Empresas - Originador"],"summary":"Excluir Documento Empresa - Originador","operationId":"removeDocument_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"documentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/originator/applications/{applicationId}/payment-orders/{id}":{"put":{"tags":["Tentativas de Desembolso - Originador"],"summary":"Atualizar Ordem de Pagamento na Solicitação - Originador","operationId":"updatePaymentOrderById","parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/originator.application.paymentorder.PaymentOrderRepresentation.Update"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/originator.application.paymentorder.PaymentOrderRepresentation.Default"}}}}}}},"/issuer/variables/{id}":{"put":{"tags":["Gestão de Produtos - Emissor"],"summary":"Atualizar Variável Personalizável - Emissor","operationId":"update_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/issuer.setup.variable.VariableRepresentation.Update"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/issuer.setup.variable.VariableRepresentation.Default"}}}}}}},"/issuer/products/{id}":{"get":{"tags":["Gestão de Produtos - Emissor"],"summary":"Consultar Produto - Emissor","operationId":"findById_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/issuer.setup.product.ProductRepresentation.Default"}}}}}},"put":{"tags":["Gestão de Produtos - Emissor"],"summary":"Atualizar Produto - Emissor","operationId":"update_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/issuer.setup.product.ProductRepresentation.CreationOrUpdate"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/issuer.setup.product.ProductRepresentation.Default"}}}}}}},"/issuer/products/{id}/statuses-definitions":{"get":{"tags":["Gestão de Produtos - Emissor"],"summary":"Consultar Esteiras de Aprovação - Emissor","operationId":"getStatusesDefinitions_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/issuer.setup.product.StatusesDefinitionsRepresentation.Default"}}}}}},"put":{"tags":["Gestão de Produtos - Emissor"],"summary":"Atualizar Esteiras de Aprovação - Emissor","operationId":"saveStatusesDefinitions","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/issuer.setup.product.StatusesDefinitionsRepresentation.Default"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/issuer.setup.product.StatusesDefinitionsRepresentation.Default"}}}}}}},"/issuer/persons/{id}":{"get":{"tags":["Emissor"],"summary":"Consultar Pessoa - Emissor","operationId":"findById_6","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/issuer.person.PersonRepresentation.Default"}}}}}},"put":{"tags":["Emissor"],"summary":"Atualizar Pessoa - Emissor","operationId":"update_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/issuer.person.PersonRepresentation.CreationOrUpdate"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/issuer.person.PersonRepresentation.Default"}}}}}}},"/issuer/originators/{id}":{"get":{"tags":["Gestão de Originadores - Emissor"],"summary":"Consultar Originador - Emissor","operationId":"find","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/issuer.setup.originator.OriginatorRepresentation.Default"}}}}}},"put":{"tags":["Gestão de Originadores - Emissor"],"summary":"Atualizar Originador - Emissor","operationId":"update_6","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/issuer.setup.originator.OriginatorRepresentation.CreationOrUpdate"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/issuer.setup.originator.OriginatorRepresentation.Default"}}}}}}},"/issuer/originators/{id}/beneficiary-accounts/{accountId}":{"get":{"tags":["Emissor"],"summary":"Consultar Conta Beneficiária - Emissor","operationId":"get_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"accountId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/issuer.originator.beneficiaryaccount.RegisteredBeneficiaryAccountRepresentation.Default"}}}}}},"put":{"tags":["Emissor"],"summary":"Atualizar Conta Beneficiária - Emissor","operationId":"update_7","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"accountId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/issuer.originator.beneficiaryaccount.RegisteredBeneficiaryAccountRepresentation.CreationOrUpdate"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/issuer.originator.beneficiaryaccount.RegisteredBeneficiaryAccountRepresentation.Default"}}}}}}},"/issuer/originators/{id}/beneficiary-accounts/{accountId}/enable":{"put":{"tags":["Emissor"],"summary":"Ativar Conta Beneficiária - Emissor","operationId":"enable","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"accountId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/issuer.originator.beneficiaryaccount.RegisteredBeneficiaryAccountRepresentation.Default"}}}}}}},"/issuer/originators/{id}/beneficiary-accounts/{accountId}/disable":{"put":{"tags":["Emissor"],"summary":"Desativar Conta Beneficiária - Emissor","operationId":"disable","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"accountId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/issuer.originator.beneficiaryaccount.RegisteredBeneficiaryAccountRepresentation.Default"}}}}}}},"/issuer/fundings/{id}":{"get":{"tags":["Gestão de Fundings - Emissor"],"summary":"Consultar um Funding - Emissor","operationId":"find_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/issuer.funding.FundingRepresentation.Default"}}}}}},"put":{"tags":["Gestão de Fundings - Emissor"],"summary":"Atualizar um Funding - Emissor","operationId":"update_8","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/issuer.funding.FundingRepresentation.CreationOrUpdate"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/issuer.funding.FundingRepresentation.Default"}}}}}}},"/issuer/fundings/{id}/disbursement-settings":{"get":{"tags":["Gestão de Fundings - Emissor"],"summary":"Consultar configurações de Conta Corrente para um Funding - Emissor","operationId":"getDisbursementSettings","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/issuer.funding.disbursement.FundingDisbursementSettingsRepresentation.Default"}}}}}},"put":{"tags":["Gestão de Fundings - Emissor"],"summary":"Atualizar configurações de Conta Corrente para um Funding - Emissor","operationId":"saveDisbursementSettings","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/issuer.funding.disbursement.FundingDisbursementSettingsRepresentation.Save"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/issuer.funding.disbursement.FundingDisbursementSettingsRepresentation.Default"}}}}}}},"/issuer/billing-funding-groups/{id}":{"get":{"tags":["Gestão de Fundings - Emissor"],"summary":"Consultar um Grupo de Faturamento - Emissor","operationId":"findById_7","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/issuer.funding.billing.BillingFundingGroupRepresentation.Default"}}}}}},"put":{"tags":["Gestão de Fundings - Emissor"],"summary":"Atualizar Grupo de Faturamento - Emissor","operationId":"update_9","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/issuer.funding.billing.BillingFundingGroupRepresentation.CreationOrUpdate"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/issuer.funding.billing.BillingFundingGroupRepresentation.Default"}}}}}}},"/issuer/agreement-templates/{id}":{"put":{"tags":["Modelos de Contrato - Emissor"],"summary":"Atualizar Modelo de Contrato - Emissor","operationId":"update_10","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/issuer.setup.agreement.AgreementTemplateCreationOrUpdate"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/issuer.setup.agreement.AgreementTemplateRepresentation.Default"}}}}}}},"/funding/products/{id}/ratings/{ratingIdentifier}":{"put":{"tags":["Linhas de Crédito - Funding"],"summary":"Criar ou Atualizar Rating - Funding","operationId":"saveRating","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"ratingIdentifier","in":"path","required":true,"schema":{"maxLength":100,"minLength":0,"pattern":"^[a-z_]\\w*$","type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/funding.rating.RatingRepresentation.Save"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/funding.rating.RatingRepresentation.Default"}}}}}}},"/funding/products/{id}/qualification-requests/{qualificationId}/qualify":{"put":{"tags":["Linhas de Crédito - Funding"],"summary":"Atualizar Status para Linha de Crédito - Funding","operationId":"qualifyQualification_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"qualificationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/qualification.QualificationRepresentation.Update"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/qualification.QualificationRepresentation.Default"}}}}}}},"/funding/products/{id}/qualification-requests/{qualificationId}/conditions":{"put":{"tags":["Linhas de Crédito - Funding"],"summary":"Atualizar Condições para Linha de Crédito - Funding","operationId":"setConditions_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"qualificationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/qualification.ConditionRepresentation.Save"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/qualification.QualificationRepresentation.Default"}}}}}}},"/originator/webhooks":{"get":{"tags":["Webhooks - Originador"],"summary":"Listar Webhooks - Originador","operationId":"findAll","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/originator.setup.webhook.WebhookRepresentation.Default"}}}}}}},"post":{"tags":["Webhooks - Originador"],"summary":"Criar Webhook - Originador","operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/originator.setup.webhook.WebhookRepresentation.CreationOrUpdate"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/originator.setup.webhook.WebhookRepresentation.Default"}}}}}}},"/originator/products/{id}/qualification-requests":{"get":{"tags":["Linhas de Crédito - Originador"],"summary":"Listar Linhas de Crédito - Originador","operationId":"getQualificationRequest","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"consolided_condition","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"status","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"application_id","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"borrower_id","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"employer_id","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"role","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["BORROWER","EMPLOYER","APPLICATION"]}}},{"name":"borrower_employer_id","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/fmk.rest.PageRepresentationOf.Qualification.QualificationRepresentation.Default"}}}}}},"post":{"tags":["Linhas de Crédito - Originador"],"summary":"Criar Linha de Crédito - Originador","operationId":"createQualificationRequest","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/qualification.QualificationRepresentation.Creation"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/qualification.QualificationRepresentation.Default"}}}}}}},"/originator/preferences/sign":{"get":{"tags":["Solicitação - Originador"],"summary":"Consultar Configurações de Assinatura - Originador","operationId":"getSign","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/originator.preferences.SignPreferencesRepresentation.Default"}}}}}},"post":{"tags":["Solicitação - Originador"],"summary":"Configurar Assinatura - Originador","operationId":"saveSign","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/originator.preferences.SignPreferencesRepresentation.Default"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/originator.preferences.SignPreferencesRepresentation.Default"}}}}}}},"/originator/persons":{"get":{"tags":["Pessoas - Originador"],"summary":"Listar Pessoas - Originador","operationId":"findAll_2","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"taxpayer_id","in":"query","required":false,"schema":{"type":"string"}},{"name":"full_name","in":"query","required":false,"schema":{"type":"string"}},{"name":"email_address","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/fmk.rest.PageRepresentationOf.Issuer.person.PersonRepresentation.Default"}}}}}},"post":{"tags":["Início Rápido"],"summary":"Criar Pessoa - Originador","operationId":"create_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/issuer.person.PersonRepresentation.CreationOrUpdate"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/issuer.person.PersonRepresentation.Default"}}}}}}},"/originator/persons/{id}/documents":{"get":{"tags":["Pessoas - Originador"],"summary":"Listar Documentos Pessoa - Originador","operationId":"getDocuments","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/originator.document.EntityDocumentRepresentation.Default"}}}}}}},"post":{"tags":["Pessoas - Originador","Início Rápido"],"summary":"Criar Documento Pessoa - Originador","operationId":"uploadDocument","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/originator.document.EntityDocumentRepresentation.Upload"}}}},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/originator.document.EntityDocumentRepresentation.Default"}}}}}}},"/originator/persons/batch-import":{"get":{"tags":["Pessoas - Originador"],"summary":"Listar Importações em Lote - Originador","operationId":"listBatchesImport","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/fmk.rest.PageRepresentationOf.Originator.person.batch.BatchImportRepresentation.Default"}}}}}},"post":{"tags":["Pessoas - Originador"],"summary":"Importar Pessoas em Lote - Originador","operationId":"batchImport","requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/originator.person.batch.BatchImportRepresentation.Request"}}}},"responses":{"202":{"description":"Accepted","content":{"*/*":{"schema":{"$ref":"#/components/schemas/originator.person.batch.BatchImportRepresentation.Default"}}}}}}},"/originator/persons/background-check":{"get":{"tags":["KYC - Originador"],"summary":"Consultar KYC para Pessoa - Originador","operationId":"getKYC","parameters":[{"name":"taxpayer_id","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/kyc.KYCTransactionRepresentation.PFResult"}}}}}}},"post":{"tags":["Pessoas - Originador"],"summary":"Realizar Background Check Antecipado - Originador","operationId":"checkKYC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/kyc.CheckKYCRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/kyc.KYCTransactionRepresentation.Default"}}}}}}},"/originator/business":{"get":{"tags":["Empresas - Originador"],"summary":"Listar Empresas - Originador","operationId":"findAll_3","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"taxpayer_id","in":"query","required":false,"schema":{"type":"string"}},{"name":"legal_name","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/fmk.rest.PageRepresentationOf.Originator.business.BusinessRepresentation.Default"}}}}}},"post":{"tags":["Início Rápido"],"summary":"Criar Empresa - Originador","operationId":"create_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/originator.business.BusinessRepresentation.CreationOrUpdate"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/originator.business.BusinessRepresentation.Default"}}}}}}},"/originator/business/{id}/relations":{"get":{"tags":["Empresas - Originador"],"summary":"Consultar Relacionamentos Empresa - Originador","operationId":"getRelations","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/originator.business.relation.BusinessPersonRelationRepresentation.Default"}}}}}}},"post":{"tags":["Início Rápido"],"summary":"Criar Relacionamento Pessoa x Empresa - Originador","operationId":"createRelation","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/originator.business.relation.BusinessPersonRelationRepresentation.CreationOrUpdate"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/originator.business.relation.BusinessPersonRelationRepresentation.Default"}}}}}}},"/originator/business/{id}/documents":{"get":{"tags":["Empresas - Originador"],"summary":"Listar Documentos Empresa - Originador","operationId":"getDocuments_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/originator.document.EntityDocumentRepresentation.Default"}}}}}}},"post":{"tags":["Início Rápido"],"summary":"Criar Documento Empresa - Originador","operationId":"uploadDocument_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/originator.document.EntityDocumentRepresentation.Upload"}}}},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/originator.document.EntityDocumentRepresentation.Default"}}}}}}},"/originator/business/background-check":{"get":{"tags":["KYC - Originador"],"summary":"Consultar KYC para Empresa - Originador","operationId":"getKYC_1","parameters":[{"name":"taxpayer_id","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/kyc.KYCTransactionRepresentation.PJResult"}}}}}}},"post":{"tags":["Empresas - Originador"],"summary":"Realizar Background Check Antecipado - Originador","operationId":"checkKYC_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/kyc.CheckKYCRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/kyc.KYCTransactionRepresentation.Default"}}}}}}},"/originator/borrower-app/sessions":{"post":{"tags":["Aplicativo Autocontratação - Originador"],"summary":"Criar token para sessão no aplicativo - Originador","operationId":"createSession","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/originator.borrowerapp.BorrowerAppSessionRepresentation.Creation"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/originator.borrowerapp.BorrowerAppSessionRepresentation.Result"}}}}}}},"/originator/applications":{"get":{"tags":["Solicitação - Originador"],"summary":"Listar Solicitações - Originador","operationId":"findAll_5","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"borrower_id","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"product_id","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"sequential_id","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"borrower_employer_id","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"funding_id","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"status","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["PENDING_QUALIFICATION","AGREEMENT_RENDERING","KYC_PROCESSING","CREATING_BENEFICIARY_ACCOUNT","PENDING_SIGNATURE","PENDING_CASHOUT","PENDING_PAYMENT","PENDING_DISBURSEMENT","DISBURSEMENT_ATTEMPT_FAILED","ISSUED","CANCELED"]}}},{"name":"created_date_from","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"created_date_to","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"disbursement_date_from","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"disbursement_date_to","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"disbursement_processed_date_from","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"disbursement_processed_date_to","in":"query","required":false,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/fmk.rest.PageRepresentationOf.Originator.application.ApplicationRepresentation.Default"}}}}}},"post":{"tags":["Início Rápido"],"summary":"Criar Nova Solicitação - Originador","operationId":"create_3","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/originator.application.ApplicationRepresentation.Creation"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/originator.application.ApplicationRepresentation.Default"}}}}}}},"/originator/applications/{id}/signatures":{"get":{"tags":["Início Rápido"],"summary":"Consultar Assinaturas da Solicitação - Originador","operationId":"getSignature","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/originator.application.signature.SignatureRepresentation.Default"}}}}}}},"post":{"tags":["Solicitação - Originador"],"summary":"Enviar Assinatura Diretamente - Originador","operationId":"signWithSelfie_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/originator.application.signature.SignatureRepresentation.ManualCreationWithSelfie"}},"application/json":{"schema":{"$ref":"#/components/schemas/originator.application.signature.SignatureRepresentation.ManualCreation"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/originator.application.signature.SignatureRepresentation.Default"}}}}}}},"/originator/applications/{id}/physical-signature":{"post":{"tags":["Solicitação - Originador"],"summary":"Enviar Assinatura Física - Originador","operationId":"physicalSignature","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/originator/applications/{id}/cancel":{"post":{"tags":["Início Rápido"],"summary":"Cancelar Solicitação - Originador","operationId":"cancel","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/originator.application.ApplicationRepresentation.Default"}}}}}}},"/originator/applications/{applicationId}/disbursement-attempts":{"post":{"tags":["Tentativas de Desembolso - Originador"],"summary":"Iniciar nova tentativa de Desembolso - Originador","operationId":"startNewDisbursementAttempt","parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/originator.application.disbursementattempt.DisbursementAttemptRepresentation.Default"}}}}}}},"/originator/applications/preview":{"post":{"tags":["Início Rápido"],"summary":"Criar Simulação com Valor Solicitado - Originador","operationId":"generatePreview","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/originator.application.simulator.SimulatorRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/issuer.common.simulator.Simulation"}}}}}}},"/originator/applications/preview-total-amount":{"post":{"tags":["Solicitação - Originador"],"summary":"Criar Simulação com Valor Total Devido - Originador","operationId":"generatePreviewTotalAmount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/originator.application.simulator.SimulatorRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/issuer.common.simulator.Simulation"}}}}}}},"/originator/applications/preview-payment-value":{"post":{"tags":["Solicitação - Originador"],"summary":"Criar Simulação com Valor de Parcela - Originador","operationId":"generatePreviewPaymentValue","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/originator.application.simulator.SimulatorRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/issuer.common.simulator.Simulation"}}}}}}},"/originator/applications/preview-financed-amount":{"post":{"tags":["Solicitação - Originador"],"summary":"Criar Simulação com Valor Financiado - Originador","operationId":"generatePreviewFinancedAmount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/originator.application.simulator.SimulatorRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/issuer.common.simulator.Simulation"}}}}}}},"/issuer/variables":{"get":{"tags":["Gestão de Produtos - Emissor"],"summary":"Listar Variáveis Personalizáveis - Emissor","operationId":"findAll_6","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/issuer.setup.variable.VariableRepresentation.Default"}}}}}}},"post":{"tags":["Gestão de Produtos - Emissor"],"summary":"Criar Nova Variável Personalizável - Emissor","operationId":"create_4","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/issuer.setup.variable.VariableRepresentation.Creation"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/issuer.setup.variable.VariableRepresentation.Default"}}}}}}},"/issuer/products":{"get":{"tags":["Gestão de Produtos - Emissor"],"summary":"Listar Produtos - Emissor","operationId":"findAll_7","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/fmk.rest.PageRepresentationOf.Issuer.setup.product.ProductRepresentation.Default"}}}}}},"post":{"tags":["Gestão de Produtos - Emissor"],"summary":"Criar Novo Produto - Emissor","operationId":"create_5","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/issuer.setup.product.ProductRepresentation.CreationOrUpdate"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/issuer.setup.product.ProductRepresentation.Default"}}}}}}},"/issuer/persons":{"get":{"tags":["Emissor"],"summary":"Listar Pessoas - Emissor","operationId":"findAll_8","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/fmk.rest.PageRepresentationOf.Issuer.person.PersonRepresentation.Default"}}}}}},"post":{"tags":["Emissor"],"summary":"Criar Pessoa - Emissor","operationId":"create_6","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/issuer.person.PersonRepresentation.CreationOrUpdate"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/issuer.person.PersonRepresentation.Default"}}}}}}},"/issuer/originators":{"get":{"tags":["Gestão de Originadores - Emissor"],"summary":"Listar Originadores - Emissor","operationId":"findAll_9","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/fmk.rest.PageRepresentationOf.Issuer.setup.originator.OriginatorRepresentation.Default"}}}}}},"post":{"tags":["Gestão de Originadores - Emissor"],"summary":"Criar Novo Originador - Emissor","operationId":"create_7","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/issuer.setup.originator.OriginatorRepresentation.CreationOrUpdate"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/issuer.setup.originator.OriginatorRepresentation.Default"}}}}}}},"/issuer/originators/{id}/credentials":{"get":{"tags":["Gestão de Originadores - Emissor"],"summary":"Listar Credenciais para Originador - Emissor","operationId":"getCredentials","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/integration.partners.Credential"}}}}}}},"post":{"tags":["Gestão de Originadores - Emissor"],"summary":"Criar Credenciais para Originador - Emissor","operationId":"createCredential","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/integration.partners.Credential"}}}}}}},"/issuer/originators/{id}/beneficiary-accounts":{"get":{"tags":["Emissor"],"summary":"Listar Contas Beneficiárias - Emissor","operationId":"listBeneficiaryAccounts","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/fmk.rest.PageRepresentationOf.Issuer.originator.beneficiaryaccount.RegisteredBeneficiaryAccountRepresentation.Default"}}}}}},"post":{"tags":["Emissor"],"summary":"Criar Contas Beneficiárias - Emissor","operationId":"create_8","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/issuer.originator.beneficiaryaccount.RegisteredBeneficiaryAccountRepresentation.CreationOrUpdate"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/issuer.originator.beneficiaryaccount.RegisteredBeneficiaryAccountRepresentation.Default"}}}}}}},"/issuer/kyc-settings/person":{"get":{"tags":["KYC - Emissor"],"summary":"Consultar configurações de KYC Pessoa Física - Emissor","operationId":"getPerson","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/kyc.KYCSettingsRepresentation.Default"}}}}}},"post":{"tags":["KYC - Emissor"],"summary":"Criar configurações de KYC Pessoa Física - Emissor","operationId":"savePerson","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/kyc.KYCSettingsRepresentation.Save"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/kyc.KYCSettingsRepresentation.Default"}}}}}}},"/issuer/kyc-settings/business":{"get":{"tags":["KYC - Emissor"],"summary":"Criar configurações de KYC Pessoa Jurídica - Emissor","operationId":"getBusiness","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/kyc.KYCSettingsRepresentation.Default"}}}}}},"post":{"tags":["KYC - Emissor"],"summary":"Criar configurações de KYC Pessoa Jurídica - Emissor","operationId":"saveBusiness","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/kyc.KYCSettingsRepresentation.Save"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/kyc.KYCSettingsRepresentation.Default"}}}}}}},"/issuer/fundings":{"get":{"tags":["Gestão de Fundings - Emissor"],"summary":"Listar Todos os Fundings - Emissor","operationId":"findAll_10","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"id","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/fmk.rest.PageRepresentationOf.Issuer.funding.FundingRepresentation.Default"}}}}}},"post":{"tags":["Gestão de Fundings - Emissor"],"summary":"Criar Novo Funding - Emissor","operationId":"create_9","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/issuer.funding.FundingRepresentation.CreationOrUpdate"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/issuer.funding.FundingRepresentation.Default"}}}}}}},"/issuer/fundings/{id}/credentials":{"get":{"tags":["Gestão de Fundings - Emissor"],"summary":"Listar Credenciais para Funding - Emissor","operationId":"getCredentials_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/integration.partners.Credential"}}}}}}},"post":{"tags":["Gestão de Fundings - Emissor"],"summary":"Criar Credenciais para Funding - Emissor","operationId":"createCredential_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/integration.partners.Credential"}}}}}}},"/issuer/disbursement-settings":{"get":{"tags":["Emissor"],"summary":"Consultar Configurações Globais de Desembolso - Emissor","operationId":"get_2","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/issuer.setup.disbursement.DisbursementSettingsRepresentation.Default"}}}}}},"post":{"tags":["Emissor"],"summary":"Atualizar Configurações Globais de Desembolso - Emissor","operationId":"save","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/issuer.setup.disbursement.DisbursementSettingsRepresentation.Default"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/issuer.setup.disbursement.DisbursementSettingsRepresentation.Default"}}}}}}},"/issuer/billing-funding-groups":{"get":{"tags":["Gestão de Fundings - Emissor"],"summary":"Listar Grupos de Faturamento - Emissor","operationId":"findAll_12","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/org.springdoc.core.converters.models.Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/fmk.rest.PageRepresentationOf.Issuer.funding.billing.BillingFundingGroupRepresentation.Default"}}}}}},"post":{"tags":["Gestão de Fundings - Emissor"],"summary":"Criar Novo Grupo de Faturamento - Emissor","operationId":"create_10","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/issuer.funding.billing.BillingFundingGroupRepresentation.CreationOrUpdate"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/issuer.funding.billing.BillingFundingGroupRepresentation.Default"}}}}}}},"/issuer/applications/{id}/cancel":{"post":{"tags":["Emissor"],"summary":"Cancelar Solicitação - Emissor","operationId":"cancel_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"force","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/issuer.originator.application.ApplicationRepresentation.Default"}}}}}}},"/issuer/agreement-templates":{"get":{"tags":["Modelos de Contrato - Emissor"],"summary":"Listar Modelos de Contrato - Emissor","operationId":"findAll_15","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/fmk.rest.PageRepresentationOf.Issuer.setup.agreement.AgreementTemplateRepresentation.Default"}}}}}},"post":{"tags":["Modelos de Contrato - Emissor"],"summary":"Criar Modelo de Contrato - Emissor","operationId":"create_11","requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/issuer.setup.agreement.AgreementTemplateCreationOrUpdate"}}}},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/issuer.setup.agreement.AgreementTemplateRepresentation.Default"}}}}}}},"/issuer/agreement-templates/preview":{"post":{"tags":["Modelos de Contrato - Emissor"],"summary":"Consultar Pré-visualização de Contrato - Emissor","operationId":"renderPreview","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/funding/applications/cnab444/requests":{"get":{"tags":["CNAB444 - Funding"],"summary":"Listar requets criação CNAB 444","operationId":"findAll_16","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/fmk.rest.PageRepresentationOf.Funding.cnab.CNAB444RequestRepresentation.Default"}}}}}},"post":{"tags":["CNAB444 - Funding"],"summary":"Criar arquivo CNAB 444","operationId":"request","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/funding.cnab.CNAB444RequestRepresentation.Creation"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/funding.cnab.CNAB444RequestRepresentation.Default"}}}}}}},"/funding/account/withdraw":{"post":{"tags":["Conta - Funding"],"summary":"Realizar saque da conta","operationId":"requestCashout","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/funding.disbursement.DisbursementRepresentation.RequestCashoutParams"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/funding.disbursement.DisbursementRepresentation.RequestCashoutParams"}}}}}}},"/originator/products":{"get":{"tags":["Gestão de Produtos - Originador"],"summary":"Listar Produtos Licenciados - Originador","operationId":"findAll_1","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/fmk.rest.PageRepresentationOf.Issuer.setup.product.ProductRepresentation.Default"}}}}}}},"/originator/products/{id}":{"get":{"tags":["Gestão de Produtos - Originador"],"summary":"Consultar Produto - Originador","operationId":"findById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/issuer.setup.product.ProductRepresentation.Default"}}}}}}},"/originator/products/{id}/variables/csv":{"get":{"tags":["Pessoas - Originador"],"summary":"Consultar modelo para importação em lote - Originador","operationId":"exportVariablesHeaders","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"type","in":"query","required":true,"schema":{"type":"string","enum":["BORROWER","COSIGNERS","GUARANTORS","APPLICATION","EMPLOYER"]}},{"name":"subtype","in":"query","required":false,"schema":{"type":"string","enum":["PERSON","BUSINESS"]}}],"responses":{"200":{"description":"OK"}}}},"/originator/products/{id}/statuses-definitions":{"get":{"tags":["Linhas de Crédito - Originador"],"summary":"Consultar Esteira de Aprovação do Produto - Originador","operationId":"getStatusesDefinitions","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/issuer.setup.product.StatusesDefinitionsRepresentation.Default"}}}}}}},"/originator/products/{id}/qualification-requests/{qualificationId}":{"get":{"tags":["Linhas de Crédito - Originador"],"summary":"Consultar Linha de Crédito - Originador","operationId":"getQualificationRequestById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"qualificationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/qualification.QualificationRepresentation.Default"}}}}}}},"/originator/products/{id}/qualification-requests/{qualificationId}/history":{"get":{"tags":["Linhas de Crédito - Originador"],"summary":"Consultar Histórico de Linha de Crédito - Originador","operationId":"getQualificationRequestHistory","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"qualificationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/qualification.QualificationStatusHistoryRepresentation.Default"}}}}}}}},"/originator/products/{id}/custom-variables":{"get":{"tags":["Gestão de Produtos - Originador"],"summary":"Consultar Campos Personalizáveis do Produto - Originador","operationId":"getCustomVariablesConfiguration","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/issuer.setup.product.variable.VariablesConfigurationRepresentation.Default"}}}}}}},"/originator/persons/{id}/scr":{"get":{"tags":["Pessoas - Originador"],"summary":"Consultar SCR Pessoa - Originador","operationId":"getScr","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"refresh","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/originator/persons/{id}/qualifications":{"get":{"tags":["Linhas de Crédito - Originador"],"summary":"Listar Linhas de Crédito Pessoa - Originador","operationId":"findQualifications","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"status","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"application_id","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"borrower_id","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"employer_id","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"role","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["BORROWER","EMPLOYER","APPLICATION"]}}},{"name":"borrower_employer_id","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/fmk.rest.PageRepresentationOf.Qualification.QualificationRepresentation.Default"}}}}}}},"/originator/persons/{id}/documents/{documentId}/file":{"get":{"tags":["Pessoas - Originador"],"summary":"Baixar Documento Pessoa - Originador","operationId":"downloadDocumentFile","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"documentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/originator/persons/{id}/applications":{"get":{"tags":["Solicitação - Originador"],"summary":"Listar Solicitações Pessoa - Originador","operationId":"getApplications","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/fmk.rest.PageRepresentationOf.Originator.application.ApplicationRepresentation.Default"}}}}}}},"/originator/persons/batch-import/{id}":{"get":{"tags":["Pessoas - Originador"],"summary":"Consultar Status de Importação - Originador","operationId":"getBatchImportById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/originator.person.batch.BatchImportRepresentation.Default"}}}}}}},"/originator/persons/batch-import/{id}/result-file":{"get":{"tags":["Pessoas - Originador"],"summary":"Baixar Resultado de Importação em Lote - Originador","operationId":"downloadbatchImportResultFile","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"CSV data","content":{"text/csv":{}}}}}},"/originator/business/{id}/scr":{"get":{"tags":["Empresas - Originador"],"summary":"Consultar SCR Empresa - Originador","operationId":"getScr_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"refresh","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/originator/business/{id}/qualifications":{"get":{"tags":["Linhas de Crédito - Originador"],"summary":"Consultar Linhas de Crédito Empresa - Originador","operationId":"findQualifications_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"status","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"application_id","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"borrower_id","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"employer_id","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"role","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["BORROWER","EMPLOYER","APPLICATION"]}}},{"name":"borrower_employer_id","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/fmk.rest.PageRepresentationOf.Qualification.QualificationRepresentation.Default"}}}}}}},"/originator/business/{id}/documents/{documentId}/file":{"get":{"tags":["Empresas - Originador"],"summary":"Baixar Documento Empresa - Originador","operationId":"downloadDocumentFile_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"documentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/originator/business/{id}/applications":{"get":{"tags":["Solicitação - Originador"],"summary":"Listar Solicitações Empresa - Originador","operationId":"getApplications_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/fmk.rest.PageRepresentationOf.Originator.application.ApplicationRepresentation.Default"}}}}}}},"/originator/beneficiary-accounts":{"get":{"tags":["Contas Beneficiárias - Originador"],"summary":"Listar Contas Beneficiárias - Originador","operationId":"get","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/fmk.rest.PageRepresentationOf.Issuer.originator.beneficiaryaccount.RegisteredBeneficiaryAccountRepresentation.Default"}}}}}}},"/originator/audit":{"get":{"tags":["Auditoria - Originador"],"summary":"Listar auditoria - Originador","operationId":"findAll_4","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/fmk.rest.PageRepresentationOf.Common.audit.AuditRepresentation.Default"}}}}}}},"/originator/applications/{id}":{"get":{"tags":["Solicitação - Originador"],"summary":"Consultar Solicitação - Originador","operationId":"getById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/originator.application.ApplicationRepresentation.Default"}}}}}}},"/originator/applications/{id}/signed-agreement":{"get":{"tags":["Início Rápido"],"summary":"Consultar Contrato Assinado da Solicitação - Originador","operationId":"downloadSignedAgreement","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/originator/applications/{id}/agreement":{"get":{"tags":["Início Rápido"],"summary":"Consultar Contrato da Solicitação - Originador","operationId":"downloadRenderedAgreement","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/originator/applications/{applicationId}/disbursement-attempts/{id}":{"get":{"tags":["Tentativas de Desembolso - Originador"],"summary":"Consultar Tentativa de Desembolso - Originador","operationId":"findById_3","parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/originator.application.disbursementattempt.DisbursementAttemptRepresentation.Default"}}}}}}},"/originator/applications/{applicationId}/disbursement-attempts/":{"get":{"tags":["Tentativas de Desembolso - Originador"],"summary":"Listar Tentativas de Desembolso para Solicitação - Originador","operationId":"findById_4","parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/fmk.rest.PageRepresentationOf.Originator.application.disbursementattempt.DisbursementAttemptRepresentation.Default"}}}}}}},"/issuer/products/{id}/variables":{"get":{"tags":["Gestão de Produtos - Emissor"],"summary":"Consultar Variáveis do Produto - Emissor","operationId":"getVariables","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/issuer/originators/{id}/credentials/{credentialId}":{"get":{"tags":["Gestão de Originadores - Emissor"],"summary":"Consultar Credenciais para Originador - Emissor","operationId":"getCredential","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"credentialId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/integration.partners.Credential"}}}}}}},"/issuer/fundings/{id}/credentials/{credentialId}":{"get":{"tags":["Gestão de Fundings - Emissor"],"summary":"Consultar Credenciais para Funding - Emissor","operationId":"getCredential_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"credentialId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/integration.partners.Credential"}}}}}}},"/issuer/business":{"get":{"tags":["Emissor"],"summary":"Listar Empresas - Emissor","operationId":"findAll_11","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/fmk.rest.PageRepresentationOf.Issuer.originator.business.BusinessRepresentation.Default"}}}}}}},"/issuer/audit":{"get":{"tags":["Auditoria - Emissor"],"summary":"Listar auditoria - Emissor","operationId":"findAll_13","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/fmk.rest.PageRepresentationOf.Common.audit.AuditRepresentation.Default"}}}}}}},"/issuer/applications":{"get":{"tags":["Emissor"],"summary":"Listar Solicitações - Emissor","operationId":"findAll_14","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"filter","in":"query","required":true,"schema":{"$ref":"#/components/schemas/issuer.originator.application.ApplicationRepresentation.Filter"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/fmk.rest.PageRepresentationOf.Issuer.originator.application.ApplicationRepresentation.Default"}}}}}}},"/issuer/applications/{id}":{"get":{"tags":["Emissor"],"summary":"Consultar Solicitação - Emissor","operationId":"find_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/issuer.originator.application.ApplicationRepresentation.Default"}}}}}}},"/issuer/applications/{id}/signatures":{"get":{"tags":["Emissor"],"summary":"Consultar Assinaturas de Solicitação - Emissor","operationId":"findAllSignatures","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/issuer.originator.application.SignatureRepresentation.Default"}}}}}}}},"/issuer/agreement-templates/{id}/file":{"get":{"tags":["Modelos de Contrato - Emissor"],"summary":"Download de Modelo de Contrato - Emissor","operationId":"downloadAgreementFile","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/funding/products/{id}/ratings":{"get":{"tags":["Linhas de Crédito - Funding"],"summary":"Consultar Ratings - Funding","operationId":"getRatings","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/funding.rating.RatingRepresentation.Default"}}}}}}}},"/funding/products/{id}/qualification-requests":{"get":{"tags":["Linhas de Crédito - Funding"],"summary":"Listar Linhas de Crédito - Funding","operationId":"getQualificationRequest_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"status","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"application_id","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"borrower_id","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"employer_id","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"role","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["BORROWER","EMPLOYER","APPLICATION"]}}},{"name":"borrower_employer_id","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/fmk.rest.PageRepresentationOf.Qualification.QualificationRepresentation.Default"}}}}}}},"/funding/products/{id}/qualification-requests/{qualificationId}/history":{"get":{"tags":["Linhas de Crédito - Funding"],"summary":"Consultar Histórico de Linha de Crédito - Funding","operationId":"getQualificationRequestHistory_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"qualificationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/qualification.QualificationStatusHistoryRepresentation.Default"}}}}}}}},"/funding/applications/cnab444/requests/{id}":{"get":{"tags":["CNAB444 - Funding"],"summary":"Consultar requets criação CNAB 444","operationId":"findById_8","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/funding.cnab.CNAB444RequestRepresentation.Default"}}}}}}},"/funding/applications/cnab444/requests/{id}/file":{"get":{"tags":["CNAB444 - Funding"],"summary":"Baixar arquivo CNAB ","operationId":"downloadFile","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"PEM data","content":{"text/pem":{}}}}}},"/funding/account":{"get":{"tags":["Conta - Funding"],"summary":"Consultar informação da conta","operationId":"getAccount","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/funding.disbursement.DisbursementRepresentation.AccountResponse"}}}}}}},"/funding/account/withdraw/{id}":{"get":{"tags":["Conta - Funding"],"summary":"Consultar status do saque da conta","operationId":"getCashoutStatus","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/funding.disbursement.DisbursementRepresentation.RequestCashoutStatusResponse"}}}}}}},"/funding/account/movements":{"get":{"tags":["Conta - Funding"],"summary":"Consultar movimentações da conta","operationId":"getMovements","parameters":[{"name":"date_from","in":"query","required":false,"schema":{"type":"string"}},{"name":"date_to","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"string"}},{"name":"limit_per_page","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/funding.disbursement.DisbursementRepresentation.ListMovementsResponse"}}}}}}},"/funding/account/balance":{"get":{"tags":["Conta - Funding"],"summary":"Consultar saldo da conta","operationId":"getBalance","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/funding.disbursement.DisbursementRepresentation.BalanceResponse"}}}}}}}},"components":{"schemas":{"originator.setup.webhook.WebhookRepresentation.CreationOrUpdate":{"type":"object","properties":{"url":{"type":"string"}}},"originator.setup.webhook.WebhookRepresentation.Default":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"url":{"type":"string"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"},"version":{"type":"integer","format":"int32"}}},"qualification.QualificationRepresentation.Update":{"required":["status"],"type":"object","properties":{"status":{"type":"string"}}},"fmk.model.ReferenceOf.Java.util.UUID":{"required":["id"],"type":"object","properties":{"id":{"type":"string","format":"uuid"}}},"funding.rating.RatingRepresentation.Default":{"type":"object","properties":{"identifier":{"type":"string"},"description":{"type":"string"},"display_name":{"type":"string"},"max_payment_number":{"type":"integer","format":"int64"},"min_payment_number":{"type":"integer","format":"int64"},"tac":{"type":"number"},"max_grace_period":{"type":"integer","format":"int64"},"min_grace_period":{"type":"integer","format":"int64"},"min_requested_amount":{"type":"number"},"schedule_based_conditions":{"type":"array","items":{"$ref":"#/components/schemas/funding.rating.ScheduleBasedCondition"}},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"},"version":{"type":"integer","format":"int32"}}},"funding.rating.ScheduleBasedCondition":{"type":"object","properties":{"upper_limit":{"type":"integer","format":"int64"},"interest_rate":{"type":"number"}}},"issuer.common.ExternalBankAccount":{"required":["bank_account","bank_account_digit","bank_branch"],"type":"object","properties":{"bank_code":{"type":"string"},"bank_account":{"type":"string"},"bank_account_digit":{"type":"string"},"bank_branch":{"type":"string"},"bank_account_type":{"type":"string","enum":["CACC","SVGS","TRAN","SLRY"]},"ispb_code":{"type":"string"}}},"issuer.common.metadata.MetadataRepresentation":{"type":"object","properties":{"values":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/issuer.common.metadata.MetadataRepresentation.Entry"},"writeOnly":true}}},"issuer.common.metadata.MetadataRepresentation.Entry":{"required":["value"],"type":"object","properties":{"value":{"type":"array","items":{"type":"string"}},"sensitive":{"type":"boolean"}}},"issuer.funding.FundingRepresentation.Relation":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"legal_name":{"type":"string"},"alias":{"type":"string"},"metadata":{"$ref":"#/components/schemas/issuer.common.metadata.MetadataRepresentation"}}},"issuer.originator.application.ApplicationRepresentation.Default":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"product":{"$ref":"#/components/schemas/fmk.model.ReferenceOf.Java.util.UUID"},"borrower":{"$ref":"#/components/schemas/originator.application.borrower.Borrower"},"requested_amount":{"type":"number"},"interest_rate":{"type":"number","format":"double"},"tac_amount":{"type":"number"},"finance_fee":{"type":"number"},"base_premium_amount":{"type":"number"},"additional_premium_amount":{"type":"number"},"num_payments":{"type":"integer","format":"int32"},"first_payment_date":{"type":"string","format":"date"},"disbursement_date":{"type":"string","format":"date"},"issue_date":{"type":"string","format":"date"},"status":{"type":"string","enum":["PENDING_QUALIFICATION","AGREEMENT_RENDERING","KYC_PROCESSING","CREATING_BENEFICIARY_ACCOUNT","PENDING_SIGNATURE","PENDING_CASHOUT","PENDING_PAYMENT","PENDING_DISBURSEMENT","DISBURSEMENT_ATTEMPT_FAILED","ISSUED","CANCELED"]},"loan_details":{"$ref":"#/components/schemas/originator.application.Application.LoanDetails"},"custom_variables":{"$ref":"#/components/schemas/originator.common.CustomVariables"},"canceled_in":{"type":"string","format":"date-time"},"sequential_id":{"type":"integer","format":"int64"},"originator":{"$ref":"#/components/schemas/issuer.setup.originator.OriginatorRepresentation.Relation"},"funding":{"$ref":"#/components/schemas/issuer.funding.FundingRepresentation.Relation"},"payment_method":{"type":"string","enum":["BOLETO","PIX","BANK_ACCOUNT_DEDUCTION","PAYROLL_DEDUCTION","RECEIVABLES"]},"disbursement":{"$ref":"#/components/schemas/originator.application.Disbursement"},"beneficiary_account":{"$ref":"#/components/schemas/originator.application.beneficiary.account.BeneficiaryAccount"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"},"version":{"type":"integer","format":"int32"},"managed_account_for_issuer_disbursement":{"$ref":"#/components/schemas/originator.application.managedaccountfordisbursement.ApplicationManagedAccountForIssuerDisbursement"}}},"issuer.originator.business.BusinessRepresentation.Relation":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"legal_name":{"type":"string"}}},"issuer.setup.originator.OriginatorRepresentation.Relation":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"legal_name":{"type":"string"}}},"issuer.setup.product.ProductRepresentation.Relation":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"description":{"type":"string"}}},"issuer.setup.product.managedaccountfordisbursement.ProductManagedAccountForIssuerDisbursement":{"required":["if_existing","type"],"type":"object","properties":{"type":{"type":"string","enum":["BORROWER_ACOUNT_FOR_ORIGINATOR"]},"if_existing":{"type":"string","enum":["REUSE"]}}},"originator.application.Application.LoanDetails":{"type":"object","properties":{"total_processing_cost":{"type":"number"},"annual_interest_rate":{"type":"number"},"annual_effective_interest_rate":{"type":"number"},"monthly_effective_interest_rate":{"type":"number"},"total_amount_owed":{"type":"number"},"disbursement_amount":{"type":"number"},"financed_amount":{"type":"number"},"iof_daily_rate":{"type":"number"},"iof_amount":{"type":"number"},"iof_base_rate":{"type":"number"},"payment_amount":{"type":"number"},"issue_date":{"type":"string","format":"date"},"schedule":{"type":"array","items":{"$ref":"#/components/schemas/originator.application.simulator.Payment"}},"last_payment_date":{"type":"string","format":"date"}}},"originator.application.Disbursement":{"type":"object","properties":{"requested_at":{"type":"string","format":"date-time"},"processed_at":{"type":"string","format":"date-time"},"receipt":{"type":"string"}}},"originator.application.beneficiary.account.BeneficiaryAccount":{"type":"object","properties":{"registered_account_id":{"type":"string","format":"uuid"},"holder":{"$ref":"#/components/schemas/originator.application.beneficiary.account.BeneficiaryAccount.Holder"},"external_bank_account":{"$ref":"#/components/schemas/issuer.common.ExternalBankAccount"},"pix":{"$ref":"#/components/schemas/originator.common.Pix"},"baas":{"$ref":"#/components/schemas/originator.application.beneficiary.account.BeneficiaryAccount.Baas"}}},"originator.application.beneficiary.account.BeneficiaryAccount.Baas":{"type":"object","properties":{"account_number":{"type":"string"}}},"originator.application.beneficiary.account.BeneficiaryAccount.Holder":{"required":["name","taxpayer_id"],"type":"object","properties":{"name":{"type":"string"},"taxpayer_id":{"type":"string"}}},"originator.application.borrower.Borrower":{"required":["id"],"type":"object","properties":{"id":{"type":"string","format":"uuid"}}},"originator.application.managedaccountfordisbursement.ApplicationManagedAccountForIssuerDisbursement":{"required":["baas","product_configuration"],"type":"object","properties":{"product_configuration":{"$ref":"#/components/schemas/issuer.setup.product.managedaccountfordisbursement.ProductManagedAccountForIssuerDisbursement"},"baas":{"$ref":"#/components/schemas/originator.application.managedaccountfordisbursement.ApplicationManagedAccountForIssuerDisbursement.Baas"}}},"originator.application.managedaccountfordisbursement.ApplicationManagedAccountForIssuerDisbursement.Baas":{"required":["account_number","holder_type"],"type":"object","properties":{"account_number":{"type":"string"},"holder_type":{"type":"string","enum":["PERSON","BUSINESS"]}}},"originator.application.simulator.Payment":{"type":"object","properties":{"payment":{"type":"number"},"iof":{"type":"number"},"balance":{"type":"number"},"interest":{"type":"number"},"principal":{"type":"number"},"period":{"type":"integer","format":"int32"},"running_day":{"type":"integer","format":"int32"},"payment_date":{"type":"string","format":"date"}}},"originator.common.CustomVariables":{"type":"object","properties":{"values":{"type":"object","additionalProperties":{"type":"string"},"writeOnly":true}}},"originator.common.Pix":{"required":["key","key_type"],"type":"object","properties":{"key":{"type":"string"},"key_type":{"type":"string","enum":["TAXPAYER_ID","PHONE_NUMBER","ALEATORY_KEY","EMAIL"]}}},"qualification.ConditionRepresentation.Default":{"type":"object","properties":{"max_payment_number":{"type":"integer","format":"int64"},"min_payment_number":{"type":"integer","format":"int64"},"tac":{"type":"number"},"max_grace_period":{"type":"integer","format":"int64"},"min_grace_period":{"type":"integer","format":"int64"},"min_requested_amount":{"type":"number"},"schedule_based_conditions":{"type":"array","items":{"$ref":"#/components/schemas/funding.rating.ScheduleBasedCondition"}},"exp_date":{"type":"string","format":"date"},"line_of_credit":{"$ref":"#/components/schemas/qualification.ConditionRepresentation.LineOfCreditRepresentation.Default"},"due_day":{"type":"integer","format":"int64"},"rating":{"$ref":"#/components/schemas/funding.rating.RatingRepresentation.Default"}}},"qualification.ConditionRepresentation.LineOfCreditRepresentation.Default":{"type":"object","properties":{"credit_limit":{"type":"number"},"max_payment_amount":{"type":"number"},"consumed_payment_amount":{"type":"number"},"consumed_credit_limit":{"type":"number"}}},"qualification.QualificationRepresentation.Borrower":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"}}},"qualification.QualificationRepresentation.Default":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"funding":{"$ref":"#/components/schemas/issuer.funding.FundingRepresentation.Relation"},"employer":{"$ref":"#/components/schemas/issuer.originator.business.BusinessRepresentation.Relation"},"role":{"type":"string","enum":["BORROWER","EMPLOYER","APPLICATION"]},"status":{"type":"string"},"borrower":{"$ref":"#/components/schemas/qualification.QualificationRepresentation.Borrower"},"condition":{"$ref":"#/components/schemas/qualification.ConditionRepresentation.Default"},"application":{"$ref":"#/components/schemas/issuer.originator.application.ApplicationRepresentation.Default"},"borrower_employer":{"$ref":"#/components/schemas/fmk.model.ReferenceOf.Java.util.UUID"},"product":{"$ref":"#/components/schemas/issuer.setup.product.ProductRepresentation.Relation"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"},"version":{"type":"integer","format":"int32"}}},"qualification.ConditionRepresentation.LineOfCreditRepresentation.Save":{"type":"object","properties":{"credit_limit":{"type":"number"},"max_payment_amount":{"type":"number"}}},"qualification.ConditionRepresentation.Save":{"required":["rating"],"type":"object","properties":{"max_payment_number":{"type":"integer","format":"int64"},"min_payment_number":{"type":"integer","format":"int64"},"tac":{"type":"number"},"max_grace_period":{"type":"integer","format":"int64"},"min_grace_period":{"type":"integer","format":"int64"},"schedule_based_conditions":{"type":"array","items":{"$ref":"#/components/schemas/funding.rating.ScheduleBasedCondition"}},"exp_date":{"type":"string","format":"date"},"line_of_credit":{"$ref":"#/components/schemas/qualification.ConditionRepresentation.LineOfCreditRepresentation.Save"},"rating":{"$ref":"#/components/schemas/qualification.ConditionRepresentation.SaveRating"},"min_requested_amount":{"type":"number"},"due_day":{"maximum":28,"minimum":1,"type":"integer","format":"int64"}}},"qualification.ConditionRepresentation.SaveRating":{"required":["identifier"],"type":"object","properties":{"identifier":{"type":"string"}}},"issuer.common.Address":{"required":["city","country_code","district","postal_code","state_code","street_name","street_number"],"type":"object","properties":{"street_name":{"maxLength":100,"minLength":1,"type":"string"},"street_number":{"type":"integer","format":"int32"},"postal_code":{"pattern":"[\\d]{8}","type":"string"},"district":{"maxLength":100,"minLength":1,"type":"string"},"city":{"maxLength":100,"minLength":1,"type":"string"},"state_code":{"maxLength":2,"minLength":1,"type":"string"},"country_code":{"maxLength":3,"minLength":3,"type":"string"},"extra_info":{"maxLength":200,"minLength":0,"type":"string"}}},"issuer.common.Phone":{"required":["area_code","country_code","number"],"type":"object","properties":{"country_code":{"type":"string"},"area_code":{"type":"string"},"number":{"type":"string"},"formatted_number":{"type":"string"}}},"issuer.person.IdDocument":{"required":["issue_date","issuer","number","type"],"type":"object","properties":{"number":{"maxLength":100,"minLength":1,"type":"string"},"issuer":{"maxLength":100,"minLength":1,"type":"string"},"issue_date":{"type":"string","format":"date"},"type":{"type":"string","enum":["RG","CNH","PASSPORT","RNE","CLASS_ID","MILITARY_ID"]}}},"issuer.person.PersonRepresentation.CreationOrUpdate":{"type":"object","properties":{"taxpayer_id":{"type":"string"},"nationality":{"type":"string"},"pep":{"type":"boolean"},"full_name":{"type":"string"},"phone":{"$ref":"#/components/schemas/issuer.common.Phone"},"occupation":{"type":"string"},"birth_date":{"type":"string","format":"date"},"marital_status":{"type":"string","enum":["MARRIED","WIDOWED","SEPARATED","DIVORCED","SINGLE","OTHER"]},"email_address":{"type":"string"},"mothers_name":{"type":"string"},"marital_property_system":{"type":"string","enum":["FULL_COMMUNION","PARTIAL_COMMUNION","NO_COMMUNION","FINAL_COMMUNION"]},"id_document":{"$ref":"#/components/schemas/issuer.person.IdDocument"},"sex":{"type":"string","enum":["MALE","FEMALE","OTHER"]},"address":{"$ref":"#/components/schemas/issuer.common.Address"},"pix":{"$ref":"#/components/schemas/originator.common.Pix"},"spouse_taxpayer_id":{"type":"string"},"spouse_date_of_birth":{"type":"string","format":"date"},"birthplace":{"type":"string"},"monthly_income":{"type":"number"},"external_bank_account":{"$ref":"#/components/schemas/issuer.common.ExternalBankAccount"},"custom_variables":{"$ref":"#/components/schemas/originator.common.CustomVariables"},"spouse_full_name":{"type":"string"},"qualification_request":{"$ref":"#/components/schemas/qualification.QualificationRepresentation.BorrowerCreation"},"employer":{"$ref":"#/components/schemas/fmk.model.ReferenceOf.Java.util.UUID"}}},"qualification.QualificationRepresentation.BorrowerCreation":{"required":["funding","product"],"type":"object","properties":{"product":{"$ref":"#/components/schemas/fmk.model.ReferenceOf.Java.util.UUID"},"funding":{"$ref":"#/components/schemas/fmk.model.ReferenceOf.Java.util.UUID"},"condition":{"$ref":"#/components/schemas/qualification.ConditionRepresentation.Save"},"status":{"type":"string"}}},"issuer.person.PersonRepresentation.Default":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"taxpayer_id":{"type":"string"},"nationality":{"type":"string"},"pep":{"type":"boolean"},"full_name":{"type":"string"},"phone":{"$ref":"#/components/schemas/issuer.common.Phone"},"occupation":{"type":"string"},"birth_date":{"type":"string","format":"date"},"marital_status":{"type":"string","enum":["MARRIED","WIDOWED","SEPARATED","DIVORCED","SINGLE","OTHER"]},"email_address":{"type":"string"},"mothers_name":{"type":"string"},"marital_property_system":{"type":"string","enum":["FULL_COMMUNION","PARTIAL_COMMUNION","NO_COMMUNION","FINAL_COMMUNION"]},"id_document":{"$ref":"#/components/schemas/issuer.person.IdDocument"},"sex":{"type":"string","enum":["MALE","FEMALE","OTHER"]},"address":{"$ref":"#/components/schemas/issuer.common.Address"},"pix":{"$ref":"#/components/schemas/originator.common.Pix"},"external_bank_account":{"$ref":"#/components/schemas/issuer.common.ExternalBankAccount"},"custom_variables":{"$ref":"#/components/schemas/originator.common.CustomVariables"},"spouse_full_name":{"type":"string"},"originator":{"$ref":"#/components/schemas/issuer.setup.originator.OriginatorRepresentation.Relation"},"employer":{"$ref":"#/components/schemas/fmk.model.ReferenceOf.Java.util.UUID"},"qualification_request":{"$ref":"#/components/schemas/qualification.QualificationRepresentation.BorrowerDefault"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"},"version":{"type":"integer","format":"int32"},"spouse_taxpayer_id":{"type":"string"},"spouse_date_of_birth":{"type":"string","format":"date"},"birthplace":{"type":"string"},"monthly_income":{"type":"number"}}},"qualification.QualificationRepresentation.BorrowerDefault":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"funding":{"$ref":"#/components/schemas/issuer.funding.FundingRepresentation.Relation"},"product":{"$ref":"#/components/schemas/fmk.model.ReferenceOf.Java.util.UUID"},"role":{"type":"string","enum":["BORROWER","EMPLOYER","APPLICATION"]},"status":{"type":"string"},"condition":{"$ref":"#/components/schemas/qualification.ConditionRepresentation.Default"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"},"version":{"type":"integer","format":"int32"}}},"originator.document.EntityDocumentRepresentation.Upload":{"required":["file","type"],"type":"object","properties":{"file":{"type":"string","format":"binary"},"observations":{"maxLength":100,"minLength":0,"type":"string"},"type":{"type":"string","enum":["NATIONAL_ID","DRIVERS_LICENSE","PROOF_OF_INCOME","CLASS_ID","MILITARY_ID","PROOF_OF_ADDRESS","SCR_AUTHORIZATION","BALANCE_SHEETS","INCOME_STATEMENT","BYLAWS","INCORPORATION_CERTIFICATE","FEDERAL_REGISTER_CERTIFICATE","INVOICE","CERTIFICATE","LETTER_OF_ATTORNEY","CONTRACTS","OTHER"]}}},"originator.document.EntityDocumentRepresentation.Default":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"type":{"type":"string","enum":["NATIONAL_ID","DRIVERS_LICENSE","PROOF_OF_INCOME","CLASS_ID","MILITARY_ID","PROOF_OF_ADDRESS","SCR_AUTHORIZATION","BALANCE_SHEETS","INCOME_STATEMENT","BYLAWS","INCORPORATION_CERTIFICATE","FEDERAL_REGISTER_CERTIFICATE","INVOICE","CERTIFICATE","LETTER_OF_ATTORNEY","CONTRACTS","OTHER"]},"observations":{"type":"string"},"status":{"type":"string","enum":["OK","PENDING"]},"file_extension":{"type":"string"},"file_name":{"type":"string"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"},"version":{"type":"integer","format":"int32"}}},"originator.business.BusinessRepresentation.CreationOrUpdate":{"type":"object","properties":{"legal_name":{"type":"string"},"taxpayer_id":{"type":"string"},"phone":{"$ref":"#/components/schemas/issuer.common.Phone"},"incorporation_type":{"type":"string","enum":["MEI","EIRELI","SA","LTDA","SS"]},"tax_regime":{"type":"string","enum":["SIMPLE","REAL_PROFIT","PRESUMED_PROFIT"]},"industry_classification":{"type":"string"},"name":{"type":"string"},"email_address":{"type":"string"},"foundation_date":{"type":"string","format":"date"},"address":{"$ref":"#/components/schemas/issuer.common.Address"},"pix":{"$ref":"#/components/schemas/originator.common.Pix"},"external_bank_account":{"$ref":"#/components/schemas/issuer.common.ExternalBankAccount"},"custom_variables":{"$ref":"#/components/schemas/originator.common.CustomVariables"},"qualification_request":{"$ref":"#/components/schemas/qualification.QualificationRepresentation.BusinessCreation"},"billing_address":{"$ref":"#/components/schemas/issuer.common.Address"},"share_capital":{"type":"number"},"monthly_revenue":{"type":"number"},"employer":{"type":"boolean"}}},"qualification.QualificationRepresentation.BusinessCreation":{"required":["funding","product","role"],"type":"object","properties":{"product":{"$ref":"#/components/schemas/fmk.model.ReferenceOf.Java.util.UUID"},"funding":{"$ref":"#/components/schemas/fmk.model.ReferenceOf.Java.util.UUID"},"role":{"type":"string","enum":["BORROWER","EMPLOYER","APPLICATION"]},"condition":{"$ref":"#/components/schemas/qualification.ConditionRepresentation.Save"}}},"originator.business.BusinessRepresentation.Default":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"legal_name":{"type":"string"},"taxpayer_id":{"type":"string"},"phone":{"$ref":"#/components/schemas/issuer.common.Phone"},"incorporation_type":{"type":"string","enum":["MEI","EIRELI","SA","LTDA","SS"]},"tax_regime":{"type":"string","enum":["SIMPLE","REAL_PROFIT","PRESUMED_PROFIT"]},"industry_classification":{"type":"string"},"name":{"type":"string"},"email_address":{"type":"string"},"foundation_date":{"type":"string","format":"date"},"address":{"$ref":"#/components/schemas/issuer.common.Address"},"pix":{"$ref":"#/components/schemas/originator.common.Pix"},"external_bank_account":{"$ref":"#/components/schemas/issuer.common.ExternalBankAccount"},"custom_variables":{"$ref":"#/components/schemas/originator.common.CustomVariables"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"},"version":{"type":"integer","format":"int32"},"qualification_request":{"$ref":"#/components/schemas/qualification.QualificationRepresentation.Default"},"billing_address":{"$ref":"#/components/schemas/issuer.common.Address"},"share_capital":{"type":"number"},"monthly_revenue":{"type":"number"},"employer":{"type":"boolean"}}},"originator.business.relation.BusinessPersonRelationRepresentation.CreationOrUpdate":{"required":["person","type"],"type":"object","properties":{"type":{"type":"string","enum":["PARTNER","EMPLOYEE","MANAGER","PROXY","OTHER"]},"person":{"$ref":"#/components/schemas/fmk.model.ReferenceOf.Java.util.UUID"},"signer":{"type":"boolean"},"share":{"type":"number","format":"double"}}},"issuer.person.PersonRepresentation.Relation":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"full_name":{"type":"string"},"taxpayer_id":{"type":"string"}}},"originator.business.relation.BusinessPersonRelationRepresentation.Default":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"type":{"type":"string","enum":["PARTNER","EMPLOYEE","MANAGER","PROXY","OTHER"]},"person":{"$ref":"#/components/schemas/issuer.person.PersonRepresentation.Relation"},"signer":{"type":"boolean"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"},"version":{"type":"integer","format":"int32"},"share":{"type":"number","format":"double"}}},"originator.application.paymentorder.PaymentOrderRepresentation.Update":{"type":"object","properties":{"beneficiary_account":{"$ref":"#/components/schemas/originator.application.beneficiary.account.BeneficiaryAccount"}}},"originator.application.paymentorder.PaymentOrderRepresentation.Default":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"amount":{"type":"number"},"type":{"type":"string","enum":["PIX_OUT","TED_OUT"]},"status":{"type":"string","enum":["SUCCESS","ERROR","READY_FOR_PROCESSING","PROCESSING"]},"beneficiary_account":{"$ref":"#/components/schemas/originator.application.beneficiary.account.BeneficiaryAccount"},"beneficiary_type":{"type":"string","enum":["BORROWER","EXTERNAL_UNREGISTERED_ACCOUNT","EXTERNAL_REGISTERED_ACCOUNT","BAAS_ACCOUNT"]}}},"issuer.setup.variable.VariableRepresentation.Update":{"required":["description","display_name"],"type":"object","properties":{"description":{"m
[...]
