{"openapi":"3.0.1","info":{"title":"API PARA TRANSAÇÕES","description":"<p><b>Autenticação da Celcoin API - v5 (baseada no protocolo OAuth 2.0)</b></p><p>&nbsp;&nbsp;&nbsp;&nbsp;Para gerar o access_token, utilize o método <b><a href=\"#operations-token-post_v5_token\" id=\"back\">v5/token</a></b><br>&nbsp;&nbsp;&nbsp;&nbsp;O access_token deverá ser enviado nos requests subsequentes, utilizando o header \"Authorization\" (com o prefixo Bearer)</br></p><p><b>Request parameters (utilizar x-www-form-urlencoded):</p></b><p>&nbsp;&nbsp;&nbsp;&nbsp;client_id: 41b44ab9a56440.teste.celcoinapi.v5<br>&nbsp;&nbsp;&nbsp;&nbsp;grant_type: client_credentials (fixo)<br>&nbsp;&nbsp;&nbsp;&nbsp;client_secret: e9d15cde33024c1494de7480e69b7a18c09d7cd25a8446839b3be82a56a044a3</p><b><p>Response:</p></b><p>&nbsp;&nbsp;&nbsp;&nbsp;access_token (no formato JWT)</p><br> <b target = 'blank' style = 'text-decoration:none' > Documentação por Produto / Documentation by product : </b><br/>\r\n                        <a href='https://drive.google.com/drive/folders/1qbG0-6L63xIkoC2NHTgndjZ0C2zBppor?usp=sharing' target='blank' style='text-decoration:none'>Pagamento de Contas / Bilpayments </a>&nbsp;&nbsp;&nbsp;<br/> \r\n                        <a href='https://drive.google.com/drive/folders/15efF12uRJaxxT8-F9MIx4kv2uCFkYD2P?usp=sharing' target='blank' style='text-decoration:none'>Recargas / Topups </a>&nbsp;&nbsp;&nbsp;<br/> \r\n                        <a href='https://drive.google.com/drive/folders/1qxG5ILj6F_jAAHAhR-CHq6rOfy6nHYBz?usp=sharing' target='blank' style='text-decoration:none'>Recargas Internacionais / International Topups </a>&nbsp;&nbsp;&nbsp;<br/> </a>\r\n                        <a href='https://drive.google.com/drive/folders/1u3qAIpEPqUvK-HRi4vkvRLbk-HX3kuv2?usp=sharing' target='blank' style='text-decoration:none'>Transferencias / Bank Transfer </a>&nbsp;&nbsp;&nbsp;<br/> \r\n                        <a href='https://drive.google.com/drive/folders/1cK-29di79akNgwXpEkuPG06rGoFf-F6q?usp=sharing' target='blank' style='text-decoration:none'>Pagamento e Recebimento Eletronico / Eletronic Transactions </a>&nbsp;&nbsp;&nbsp;\r\n                        <p></p>\r\n                        <b target = 'blank' style = 'text-decoration:none' > Utilitários / Utilities : </b><br/>\r\n                         <a href='https://drive.google.com/file/d/1H26k5sFXJjjxKf-_uLt_yWp3RMNtiGHt/view?usp=sharing' tar get='blank' style='text-decoration:none'>OnBoarding (PT-BR)</a><br/>\r\n                         <a href='https://drive.google.com/file/d/11OxddSVBBqfFmektCl4K_zbURLolcOKG/view?usp=sharing' tar get='blank' style='text-decoration:none'>List of errors (ENG)</a>&nbsp;&nbsp;&nbsp; /&nbsp;&nbsp;&nbsp;                                    <a href='https://drive.google.com/file/d/1C97kZ9BroVFBtHcM3HyZcyQmIes2JkAj/view?usp=sharing' target='blank' style='text-decoration:none'>Lista de erros (PT-BR)</a></br>\r\n                         <a href='https://drive.google.com/file/d/1hVgYJDDHLV5ofu8tnzZLnXBDbhb5GQQn/view?usp=sharing' target = 'blank' style = 'text-decoration:none' >List of utilities (ENG) </a>&nbsp;&nbsp;&nbsp; /&nbsp;&nbsp;&nbsp;                            <a href='https://drive.google.com/file/d/1fhVEe1KQJBIb4stTPnxn0vPxlRv0puba/view?usp=sharing' target='blank' style = 'text-decoration:none' > Lista de convênios (PT-BR)</a></br>\r\n                         <a href='https://drive.google.com/file/d/10OrSsk6XfPt3VFdL_xo7ZF3JRDdSvcN6/view?usp=sharing' target = 'blank' style = 'text-decoration:none' >HeathCheck Integration (ENG) </a>&nbsp;&nbsp;&nbsp; /&nbsp;&nbsp;&nbsp;                       <a href='https://drive.google.com/file/d/15lHJlXndmPYRkRCddF3yrsKZ5iTSUqvl/view?usp=sharing' target='blank' style = 'text-decoration:none' > Integração HeathCheck (PT-BR)</a></br>                         \r\n                         <a href='https://drive.google.com/file/d/1EEmGoFs8O-2hCqxnQLO9XKCsoZBhT0FR/view?usp=sharing' target = 'blank' style = 'text-decoration:none' >Frequently Asked Questions (ENG) </a>&nbsp;&nbsp;&nbsp; /&nbsp;&nbsp;&nbsp;                   <a href='https://drive.google.com/file/d/1M9zjw-l7Aii85P6KWLyeRcTj8-fNXMX1/view?usp=sharing' target='blank' style = 'text-decoration:none' > Dúvidas Frequentes (PT-BR)</a></br>\r\n                         <p></p>                                        \r\n                         <b target = 'blank' style = 'text-decoration:none' > Arquivos de Conciliação / Conciliation Files : </b><br/>\r\n                         <a href='https://drive.google.com/file/d/17GBo85Kz7JPq-nNZWfyF4rjYQO0SqhSw/view?usp=sharing' target='blank' style = 'text-decoration:none' >Layout Arquivo de Conciliação (PT-BR)</a></br>\r\n                         <a href='https://drive.google.com/file/d/1d0Wjl_bkZz57aJRAast51nk5pup1xSbX/view?usp=sharing' target='blank' style = 'text-decoration:none' > Exemplo Arquivo Conciliação (PT-BR)</a></br>      \r\n                        <p></p>\r\n                        <b target = 'blank' style = 'text-decoration:none' > Exemplos de Codigo / Sample Code : </b><br/>\r\n                        <a href='https://drive.google.com/file/d/1XqKzu43XikbZEcQRsCeGACTLhi1sTGuM/view?usp=sharing' target='blank' style='text-decoration:none'>Postman</a></br>\r\n                        <a href='https://drive.google.com/open?id=1GK_laMm7-PgMC7QLGUgdTyXO-YOOxTBK' target='blank' style='text-decoration:none'>C# .NET</a></br>\r\n                        <a href='https://drive.google.com/file/d/1qhlUouRiM9JnzgNSKiORYncX7MqUjr1v/view?usp=sharing' target='blank' style='text-decoration:none'>PHP + Curl</a><br/>\r\n                        <a href='https://drive.google.com/file/d/1YHEqINzZMZtyfI6Bqen6DlnLsWbnGTPb/view?usp=sharing' target='blank' style='text-decoration:none'>Java + SpringBoot</a><br/>\r\n                        <a href='https://drive.google.com/file/d/1xodPWKRzBLUDdK5tGwzfgRgguKu-IRcI/view?usp=sharing' target='blank' style='text-decoration:none'> Ruby on Rails</a> <br/>\r\n                        <a href = https://drive.google.com/file/d/1YH5b_T-jK_8Rq-0SOjo6Uuz70Qd74LHN/view?usp=sharing' target = 'blank' style = 'text-decoration:none' > Node.js</a>","version":"v5"},"servers":[{"url":"https://sandbox.openfinance.celcoin.dev","description":"Url de homologação"}],"paths":{"/v5/token":{"post":{"tags":["token"],"summary":"Gera o token para autenticação dos endpoints da API.","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"client_id":{"type":"string","description":"ClienId fornecido pelo time de homologação da Celcoin.","example":"41b44ab9a56440.teste.celcoinapi.v5"},"grant_type":{"type":"string","description":"Por padrão, utilizar sempre o valor \"client_credentials\".","example":"client_credentials"},"client_secret":{"type":"string","description":"clientSecret fornecido pelo time de homologação da Celcoin.","example":"e9d15cde33024c1494de7480e69b7a18c09d7cd25a8446839b3be82a56a044a3"}}},"encoding":{"client_id":{"style":"form"},"grant_type":{"style":"form"},"client_secret":{"style":"form"}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsToken"}}}},"500":{"description":"Server Error"}}}},"/v5/transactions/banktransfer":{"post":{"tags":["banktransfer"],"summary":"Efetua uma transferência bancária","description":"<font size=\"3\"> O tipo de conta bancária poderá ser informado como: <br /><b>0</b> para CC (conta corrente) <br /><b>1</b> para CP (conta poupança) <br /></font>","requestBody":{"content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/VMTransfer"}},"application/json":{"schema":{"$ref":"#/components/schemas/VMTransfer"}},"text/json":{"schema":{"$ref":"#/components/schemas/VMTransfer"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/VMTransfer"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BankTransferResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsTransfer"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Server Error"}},"security":[{"Bearer":[]}]}},"/v5/transactions/banktransfer/status-transfer/{transactionId}":{"get":{"tags":["banktransfer"],"summary":"Consulta o status de uma transferência pelo seu ID","description":"","parameters":[{"name":"transactionId","in":"path","description":"ID da transação para a consulta","required":true,"schema":{"type":"integer","format":"int32"},"example":123},{"name":"nsuExterno","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"terminalIdExterno","in":"query","schema":{"type":"string"}},{"name":"dataOperacao","in":"query","schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatusTransferResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsStatusTransfer"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Server Error"}},"security":[{"Bearer":[]}]}},"/v5/transactions/billpayments/authorize":{"post":{"tags":["billpayments"],"summary":"Consulta um pagamento de conta","description":"<font size=\"3\">Tipos de pagamento de contas:<br /><b>0</b> - Undefined<br /><b>1</b> - Concessionaria<br /><b>2</b> - FichaCompensacao <br /></font>\r\n<br />\r\n<returns></returns>","requestBody":{"description":"","content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/VMBillPaymentAuthorize"}},"application/json":{"schema":{"$ref":"#/components/schemas/VMBillPaymentAuthorize"}},"text/json":{"schema":{"$ref":"#/components/schemas/VMBillPaymentAuthorize"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/VMBillPaymentAuthorize"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthorizeResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsAuthorize"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Server Error"}},"security":[{"Bearer":[]}]}},"/v5/transactions/billpayments":{"post":{"tags":["billpayments"],"summary":"Efetua um pagamento de conta","description":"","requestBody":{"description":"","content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/VMBillPayment"}},"application/json":{"schema":{"$ref":"#/components/schemas/VMBillPayment"}},"text/json":{"schema":{"$ref":"#/components/schemas/VMBillPayment"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/VMBillPayment"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BillPaymentResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsBillpayments"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Server Error"}},"security":[{"Bearer":[]}]}},"/v5/transactions/billpayments/{transactionId}/capture":{"put":{"tags":["billpayments"],"summary":"Confirma a transação de pagamento de contas efetuada","description":"","parameters":[{"name":"transactionId","in":"path","description":"ID da transação para confirmar.","required":true,"schema":{"type":"integer","format":"int32"},"example":7061967}],"requestBody":{"description":"","content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/VMCapture"}},"application/json":{"schema":{"$ref":"#/components/schemas/VMCapture"}},"text/json":{"schema":{"$ref":"#/components/schemas/VMCapture"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/VMCapture"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BCaptureResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsConfirmation"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Server Error"}},"security":[{"Bearer":[]}]}},"/v5/transactions/billpayments/{transactionId}/void":{"delete":{"tags":["billpayments"],"summary":"Cancela a transação de pagamento de contas efetuada","description":"","parameters":[{"name":"transactionId","in":"path","description":"ID da transação para cancelar.","required":true,"schema":{"type":"integer","format":"int32"},"example":7061967}],"requestBody":{"description":"","content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/VMVoid"}},"application/json":{"schema":{"$ref":"#/components/schemas/VMVoid"}},"text/json":{"schema":{"$ref":"#/components/schemas/VMVoid"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/VMVoid"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BVoidResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsConfirmation"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Server Error"}},"security":[{"Bearer":[]}]}},"/v5/transactions/billpayments/{transactionId}/reverse":{"delete":{"tags":["billpayments"],"summary":"Estorna uma transação de pagamento de contas efetuada","description":"","parameters":[{"name":"transactionId","in":"path","description":"ID da transação de pagamento para estornar.","required":true,"schema":{"type":"integer","format":"int32"},"example":7087855}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReverseResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsReverse"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Server Error"}},"security":[{"Bearer":[]}]}},"/v5/transactions/electronictransactions/consult-partners":{"get":{"tags":["electronictransactions"],"summary":"Retorna a lista de parceiros","description":"","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsultPartnersResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Errors"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Server Error"}},"security":[{"Bearer":[]}]}},"/v5/transactions/electronictransactions/consult-servicespoints":{"post":{"tags":["electronictransactions"],"summary":"Consulta pontos de atendimentos próximos","description":"","requestBody":{"description":"","content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/VMConsultServicesPoints"}},"application/json":{"schema":{"$ref":"#/components/schemas/VMConsultServicesPoints"}},"text/json":{"schema":{"$ref":"#/components/schemas/VMConsultServicesPoints"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/VMConsultServicesPoints"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsultServicesPointsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsConsultServicePoints"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Server Error"}},"security":[{"Bearer":[]}]}},"/v5/transactions/electronictransactions/electronic-payment":{"post":{"tags":["electronictransactions"],"summary":"Efetua um pagamento eletrônico (depósito)","description":"<font size=\"3\">Parceiros:<br />        \r\n            BRINKSPAY (Redes de varejo) <br />\r\n            HUGPAY (Lotéricas)\r\n            </font>\r\n<br />\r\n<returns></returns>","requestBody":{"description":"","content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/VMElectronicPayment"}},"application/json":{"schema":{"$ref":"#/components/schemas/VMElectronicPayment"}},"text/json":{"schema":{"$ref":"#/components/schemas/VMElectronicPayment"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/VMElectronicPayment"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EletronicPaymentResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsEletronicPayment"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Server Error"}},"security":[{"Bearer":[]}]}},"/v5/transactions/electronictransactions/electronic-receipt":{"post":{"tags":["electronictransactions"],"summary":"Efetua um recebimento eletrônico (saque bancarizado)","description":"<font size=\"3\">Parceiros:<br />        \r\n            BRINKSPAY (Redes de varejo) <br />\r\n            HUGPAY (Lotéricas) <br />\r\n            TECBAN_BANCO24H (Caixa eletrônico)\r\n            </font>\r\n<br />\r\n<returns></returns>","requestBody":{"description":"","content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/VMElectronicReceipt"}},"application/json":{"schema":{"$ref":"#/components/schemas/VMElectronicReceipt"}},"text/json":{"schema":{"$ref":"#/components/schemas/VMElectronicReceipt"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/VMElectronicReceipt"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EletronicReceiptResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsEletronicReceipt"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Server Error"}},"security":[{"Bearer":[]}]}},"/v5/transactions/electronictransactions/withdraw-thirdparty":{"post":{"tags":["electronictransactions"],"summary":"Efetua uma solicitação de saque para terceiro via caixa eletrônico (saque não bancarizado)","description":"<font size=\"3\">Parceiros: <br />        \r\n            TECBAN_BANCO24H (Caixa eletrônico) <br /></font>\r\n<br />\r\n<returns></returns>","requestBody":{"description":"","content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/VMPaymentOrder"}},"application/json":{"schema":{"$ref":"#/components/schemas/VMPaymentOrder"}},"text/json":{"schema":{"$ref":"#/components/schemas/VMPaymentOrder"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/VMPaymentOrder"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentOrderResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsPaymentOrder"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Server Error"}},"security":[{"Bearer":[]}]}},"/v5/transactions/internationaltopups/countrys":{"get":{"tags":["internationaltopups"],"summary":"Retorna a lista de países","description":"","parameters":[{"name":"page","in":"query","description":"Número de páginas retornadas no response","schema":{"type":"integer","format":"int32","default":1},"example":1},{"name":"size","in":"query","description":"Quantidade de registros retornados no response","schema":{"type":"integer","format":"int32","default":50},"example":50}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsultCountrysResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Errors"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Server Error"}},"security":[{"Bearer":[]}]}},"/v5/transactions/internationaltopups/values":{"get":{"tags":["internationaltopups"],"summary":"Consulta os valores disponíveis para um país por meio de seu código de discagem","description":"","parameters":[{"name":"countryCode","in":"query","description":"Código do país","schema":{"type":"string"},"example":"+380"},{"name":"phoneNumber","in":"query","description":"Número de telefone","schema":{"type":"string"},"example":"916035301"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternationalTopupsValuesResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsInternationalTopupsValues"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Server Error"}},"security":[{"Bearer":[]}]}},"/v5/transactions/internationaltopups":{"post":{"tags":["internationaltopups"],"summary":"Efetua uma transação de recarga internacional","description":"<param name=\"Topup\"></param>","requestBody":{"content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/InternationalTopUp"}},"application/json":{"schema":{"$ref":"#/components/schemas/InternationalTopUp"}},"text/json":{"schema":{"$ref":"#/components/schemas/InternationalTopUp"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/InternationalTopUp"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternationalTopupsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsInternationalTopups"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Server Error"}},"security":[{"Bearer":[]}]}},"/v5/transactions/internationaltopups/{transactionId}/capture":{"put":{"tags":["internationaltopups"],"summary":"Confirma uma transação de recarga efetuada","description":"<param name=\"capture\"></param>","parameters":[{"name":"transactionId","in":"path","description":"ID da transação para confirmar.","required":true,"schema":{"type":"integer","format":"int32"},"example":7083533}],"requestBody":{"content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/VMCapture"}},"application/json":{"schema":{"$ref":"#/components/schemas/VMCapture"}},"text/json":{"schema":{"$ref":"#/components/schemas/VMCapture"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/VMCapture"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ICaptureResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsConfirmation"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Server Error"}},"security":[{"Bearer":[]}]}},"/v5/transactions/internationaltopups/{transactionId}/void":{"delete":{"tags":["internationaltopups"],"summary":"Cancela uma transação de recarga efetuada","description":"<param name=\"void\"></param>","parameters":[{"name":"transactionId","in":"path","description":"ID da transação para cancelar.","required":true,"schema":{"type":"integer","format":"int32"},"example":7083533}],"requestBody":{"content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/VMVoid"}},"application/json":{"schema":{"$ref":"#/components/schemas/VMVoid"}},"text/json":{"schema":{"$ref":"#/components/schemas/VMVoid"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/VMVoid"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IVoidResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsConfirmation"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Server Error"}},"security":[{"Bearer":[]}]}},"/v5/merchant/balance":{"get":{"tags":["merchant"],"summary":"Retorna as informações do seu saldo atual","description":"","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MerchantResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Errors"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Server Error"}},"security":[{"Bearer":[]}]}},"/v5/telesena/Titles":{"get":{"tags":["telesena"],"summary":"Retorna as informações dos Titulos","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TitlesResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Errors"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Server Error"}},"security":[{"Bearer":[]}]}},"/v5/telesena":{"post":{"tags":["telesena"],"summary":"Efetua uma transação de TeleSena","requestBody":{"content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/VMTeleSena"}},"application/json":{"schema":{"$ref":"#/components/schemas/VMTeleSena"}},"text/json":{"schema":{"$ref":"#/components/schemas/VMTeleSena"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/VMTeleSena"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TelesenaResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsTelesena"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Server Error"}},"security":[{"Bearer":[]}]}},"/v5/telesena/{transactionId}/capture":{"put":{"tags":["telesena"],"summary":"Confirma a transação","parameters":[{"name":"transactionId","in":"path","description":"ID da transação para confirmar.","required":true,"schema":{"type":"integer","format":"int32"},"example":7154306}],"requestBody":{"description":"","content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/VMCapture"}},"application/json":{"schema":{"$ref":"#/components/schemas/VMCapture"}},"text/json":{"schema":{"$ref":"#/components/schemas/VMCapture"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/VMCapture"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TCaptureResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsConfirmation"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Server Error"}},"security":[{"Bearer":[]}]}},"/v5/telesena/{transactionId}/void":{"delete":{"tags":["telesena"],"summary":"Cancela a transação de TeleSena efetuada","parameters":[{"name":"transactionId","in":"path","description":"ID da transação para cancelar.","required":true,"schema":{"type":"integer","format":"int32"},"example":7154306}],"requestBody":{"description":"","content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/VMVoid"}},"application/json":{"schema":{"$ref":"#/components/schemas/VMVoid"}},"text/json":{"schema":{"$ref":"#/components/schemas/VMVoid"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/VMVoid"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TVoidResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsConfirmation"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Server Error"}},"security":[{"Bearer":[]}]}},"/v5/transactions/topups/providers":{"get":{"tags":["topups"],"summary":"Retorna a lista de operadoras","description":"<font size=\"3\">O tipo de recarga poderá ser informado como: <br /><b>0</b> para TODOS<br /><b>1</b> para PIN<br /><b>2</b> para ONLINE <br /><tag /><br />\r\n            A categoria de recarga poderá ser informada como: <br /><b>0</b> para TODOS<br /><b>1</b> para TELEFONE<br /><b>2</b> para JOGOS<br /><b>3</b> para TV<br /><b>4</b> para TRANSPORTE <br /><b>5</b> para CONTEÚDO DIGITAL<br /></font>\r\n<returns></returns>","parameters":[{"name":"stateCode","in":"query","description":"Código do estado atrelado ao número de telefone","schema":{"type":"integer","format":"int32"},"example":11},{"name":"type","in":"query","description":"Tipo de Recarga","schema":{"type":"string"},"example":"0"},{"name":"category","in":"query","description":"Categoria","schema":{"type":"string"},"example":"0"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProvidersResponse"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Errors"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Server Error"}},"security":[{"Bearer":[]}]}},"/v5/transactions/topups/find-providers":{"get":{"tags":["topups"],"summary":"Verifica qual operadora o número de telefone pertence","description":"","parameters":[{"name":"stateCode","in":"query","description":"Código do estado atrelado ao número de telefone","schema":{"type":"integer","format":"int32"},"example":11},{"name":"PhoneNumber","in":"query","description":"Número de telefone sem o DDD","schema":{"type":"integer","format":"int32"},"example":993134307}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindProviderResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsFindProviders"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Server Error"}},"security":[{"Bearer":[]}]}},"/v5/transactions/topups/provider-values":{"get":{"tags":["topups"],"summary":"Consulta os valores disponíveis para uma operadora por meio do código de estado e operadoraId","description":"","parameters":[{"name":"stateCode","in":"query","description":"Código do estado atrelado ao número de telefone","schema":{"type":"integer","format":"int32"},"example":11},{"name":"providerId","in":"query","description":"Identificador da operadora","schema":{"type":"integer","format":"int32"},"example":2086}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProviderValuesResponse"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Errors"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Server Error"}},"security":[{"Bearer":[]}]}},"/v5/transactions/topups":{"post":{"tags":["topups"],"summary":"Efetua uma transação de recarga","description":"","requestBody":{"description":"","content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/VMTopup"}},"application/json":{"schema":{"$ref":"#/components/schemas/VMTopup"}},"text/json":{"schema":{"$ref":"#/components/schemas/VMTopup"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/VMTopup"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopupsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsTopups"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Server Error"}},"security":[{"Bearer":[]}]}},"/v5/transactions/topups/{transactionId}/capture":{"put":{"tags":["topups"],"summary":"Confirma uma transação de recarga efetuada","description":"","parameters":[{"name":"transactionId","in":"path","description":"ID da transação para confirmar.","required":true,"schema":{"type":"integer","format":"int32"},"example":7066561}],"requestBody":{"description":"","content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/VMCapture"}},"application/json":{"schema":{"$ref":"#/components/schemas/VMCapture"}},"text/json":{"schema":{"$ref":"#/components/schemas/VMCapture"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/VMCapture"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TpCaptureResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsConfirmation"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Server Error"}},"security":[{"Bearer":[]}]}},"/v5/transactions/topups/{transactionId}/void":{"delete":{"tags":["topups"],"summary":"Cancela uma transação de recarga efetuada","description":"","parameters":[{"name":"transactionId","in":"path","description":"ID da transação para cancelar.","required":true,"schema":{"type":"integer","format":"int32"},"example":7066561}],"requestBody":{"description":"","content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/VMVoid"}},"application/json":{"schema":{"$ref":"#/components/schemas/VMVoid"}},"text/json":{"schema":{"$ref":"#/components/schemas/VMVoid"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/VMVoid"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TpVoidResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsConfirmation"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Server Error"}},"security":[{"Bearer":[]}]}},"/v5/transactions/status-consult":{"get":{"tags":["transactions"],"summary":"Recupere detalhes de uma transação por meio de seu Id ou pela data da transação e identificadores externos","description":"","parameters":[{"name":"transactionId","in":"query","description":"ID da transação para a consulta","schema":{"type":"integer","format":"int32"},"example":123},{"name":"externalNSU","in":"query","description":"Identificador da transação do sistema cliente","schema":{"type":"integer","format":"int64"},"example":12345},{"name":"externalTerminal","in":"query","description":"Terminal de identificação externa do sistema do cliente","schema":{"type":"string"},"example":"11223344"},{"name":"operationDate","in":"query","description":"Data da operação","schema":{"type":"string","format":"date-time"},"example":"0001-01-01T00:00:00"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatusConsultResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsStatusConsult"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Server Error"}},"security":[{"Bearer":[]}]}},"/v5/transactions/receipt/{transactionId}":{"get":{"tags":["transactions"],"summary":"Obter um comprovante de uma transação","description":"","parameters":[{"name":"transactionId","in":"path","description":"ID da transação para a consulta.","required":true,"schema":{"type":"integer","format":"int32"},"example":7098104}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReceiptResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsReceipt"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Server Error"}},"security":[{"Bearer":[]}]}},"/v5/transactions/{transactionId}/capture":{"put":{"tags":["transactions"],"summary":"Confirma uma transação efetuada","description":"<param name=\"capture\"></param>","parameters":[{"name":"transactionId","in":"path","description":"ID da transação para confirmar","required":true,"schema":{"type":"integer","format":"int32"},"example":7066561}],"requestBody":{"content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/VMCapture"}},"application/json":{"schema":{"$ref":"#/components/schemas/VMCapture"}},"text/json":{"schema":{"$ref":"#/components/schemas/VMCapture"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/VMCapture"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrCaptureResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsConfirmation"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Server Error"}},"security":[{"Bearer":[]}]}},"/v5/transactions/{transactionId}/void":{"delete":{"tags":["transactions"],"summary":"Cancela uma transação efetuada","description":"<param name=\"void\"></param>","parameters":[{"name":"transactionId","in":"path","description":"ID da transação para cancelar.","required":true,"schema":{"type":"integer","format":"int32"},"example":7066561}],"requestBody":{"content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/VMVoid"}},"application/json":{"schema":{"$ref":"#/components/schemas/VMVoid"}},"text/json":{"schema":{"$ref":"#/components/schemas/VMVoid"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/VMVoid"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrVoidResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsConfirmation"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Server Error"}},"security":[{"Bearer":[]}]}},"/v5/transactions/pendency":{"get":{"tags":["transactions"],"summary":"Obtenha uma lista de todas as transações pendentes","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PendencyResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Errors"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Server Error"}},"security":[{"Bearer":[]}]}},"/v5/transactions/occurrency":{"get":{"tags":["transactions"],"summary":"Obtenha uma lista de ocorrências","parameters":[{"name":"DataInicio","in":"query","description":"Período inicial da consulta.","schema":{"type":"string","format":"date-time"},"example":"2021-06-24T23:00:00"},{"name":"DataFim","in":"query","description":"Período final da consulta.","schema":{"type":"string","format":"date-time"},"example":"2021-06-26T23:00:00"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OcurrencyResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsOcorrency"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Server Error"}},"security":[{"Bearer":[]}]}},"/v5/transactions/institutions":{"get":{"tags":["transactions"],"summary":"Obtenha a lista de convênios","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InstitutionsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Errors"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Server Error"}},"security":[{"Bearer":[]}]}},"/v5/transactions/healthcheck":{"get":{"tags":["transactions"],"summary":"Retorna a saúde de um determinado tipo de transação","description":"Tipos de transações aceitas:        <br /><b>CONSULTADADOSCONTA</b> para transações /Billpayments/Authorize  <br /><b>RECEBERCONTA</b> para transações /Billpayments  <br /><b>RECARGA</b> para transações /Topups  <br />\r\nPeriodo: <br /><b>0</b> para 10 minutos <br /><b>1</b> para 1 hora <br /><b>2</b> para 3 horas <br /><b>3</b> para 24 horas","parameters":[{"name":"type","in":"query","description":"Nome da transação que deseja consultar","schema":{"type":"string"},"example":"CONSULTADADOSCONTA"},{"name":"period","in":"query","description":"Período da consulta","schema":{"type":"integer","format":"int32"},"example":3}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthcheckResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorsHealthCheck"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Server Error"}},"security":[{"Bearer":[]}]}},"/v5/transactions/banks":{"get":{"tags":["transactions"],"summary":"Gere a lista de bancos","description":"","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BanksResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Errors"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Server Error"}},"security":[{"Bearer":[]}]}}},"components":{"schemas":{"Address":{"type":"object","properties":{"district":{"type":"string","description":"Nome do bairro.","nullable":true,"example":"JARDIM NOVA EUROPA"},"city":{"type":"string","description":"Nome da cidade.","nullable":true,"example":"CAMPINAS"},"state":{"type":"string","description":"Nome do estado.","nullable":true,"example":"SP"},"number":{"type":"string","description":"Número do estabelecimento.","nullable":true,"example":"247"},"rua":{"type":"string","description":"Nome da rua.","nullable":true,"example":"RUA RICARDO MORO"}},"additionalProperties":false},"AuthenticationAPI":{"type":"object","properties":{"bloco1":{"type":"string","description":"Primeiro bloco da autenticação.","nullable":true,"example":"CC.D7.0F.AF.BF.76.8B.D8"},"bloco2":{"type":"string","description":"Segundo bloco da autenticação.","nullable":true,"example":"E3.30.DC.BF.C5.FB.5F.54"},"blocoCompleto":{"type":"string","description":"Bloco completo da autenticação.","nullable":true,"example":"CC.D7.0F.AF.BF.76.8B.D8.E3.30.DC.BF.C5.FB.5F.54"}},"additionalProperties":false},"AuthorizeResponse":{"type":"object","properties":{"assignor":{"type":"string","description":"Cedente do pagamento consultado.","nullable":true,"example":"BANCO ITAU S.A."},"registerData":{"$ref":"#/components/schemas/RegisterData"},"settleDate":{"type":"string","description":"Informa a data em que o pagamento será enviado para liquidação.","nullable":true,"example":"24/06/2021"},"dueDate":{"type":"string","description":"Retorna a data de vencimento extraída do código de barras.","format":"date-time","example":"2021-05-20T00:00:00Z"},"endHour":{"type":"string","description":"Informa a Hora corte do convênio(HH:MM).","nullable":true,"example":"20:00"},"initeHour":{"type":"string","description":"Informa a Hora recebimento Inicial do convênio(HH:MM).","nullable":true,"example":"07:00"},"nextSettle":{"type":"string","description":"Informa se o título será liquidado no próximo dia útil.","nullable":true,"example":"N"},"digitable":{"type":"string","description":"Linha digitável.","nullable":true,"example":"34191090080012213037050059980008586260000065000"},"transactionId":{"type":"integer","description":"Protocolo de identificação da operação.","format":"int32","example":7083533},"type":{"type":"integer","description":"Tipo da conta.","format":"int32","example":2},"value":{"type":"number","description":"Valor extraído do código de barras.","format":"double","example":650},"maxValue":{"type":"number","description":"Valor máximo para pagamento, extraído do código de barras.","format":"double","example":0},"minValue":{"type":"number","description":"Valor mínimo para pagamento, extraído do código de barras.","format":"double","example":0},"errorCode":{"type":"string","description":"Código status da operação.","nullable":true,"example":"000"},"message":{"type":"string","description":"Informa descrição do erro.","nullable":true,"example":""},"status":{"type":"integer","description":"Status da operação.","format":"int32","example":0}},"additionalProperties":false},"Banks":{"type":"object","properties":{"institutionCode":{"type":"integer","description":"Código da instituição.","format":"int32","example":237},"description":{"type":"string","description":"Descrição.","nullable":true,"example":"237 - BANCO BRADESCO S.A."},"institutionName":{"type":"string","description":"Nome da instituição.","nullable":true,"example":"BANCO BRADESCO S.A."}},"additionalProperties":false},"BanksResponse":{"type":"object","properties":{"banks":{"type":"array","items":{"$ref":"#/components/schemas/Banks"},"nullable":true}},"additionalProperties":false},"BankTransferResponse":{"type":"object","properties":{"authenticationAPI":{"$ref":"#/components/schemas/AuthenticationAPI"},"receipt":{"$ref":"#/components/schemas/ReceiptTransfer"},"destinationAccountData":{"$ref":"#/components/schemas/DestinationAccountData"},"createDate":{"type":"string","description":"Data da transação.","nullable":true,"example":"2021-06-24T11:31:10"},"dateNextLiquidation":{"type":"string","description":"Data da próxima liquidação, caso a transação seja agendada.","nullable":true,"example":"2021-06-25T11:31:10"},"nextSettle":{"type":"boolean","description":"Indica próxima liquidação."},"transactionId":{"type":"integer","description":"Código da transação.","format":"int32","example":7110444},"endToEnd":{"type":"string","description":"URL do comprovante.","nullable":true,"example":"E1393589320211025185700524045867"},"urlreceipt":{"type":"string","description":"URL do comprovante.","nullable":true,"example":"https://www.celcoin.com.br"},"errorCode":{"type":"string","description":"Código do status.","nullable":true,"example":"000"},"message":{"type":"string","description":"Descrição do erro.","nullable":true,"example":"SUCESSO"},"status":{"type":"integer","description":"Status da operação.","format":"int32","example":0}},"additionalProperties":false},"BarCode":{"required":["type"],"type":"object","properties":{"type":{"type":"integer","description":"Tipo da conta a ser consultada","format":"int32","example":2},"digitable":{"type":"string","description":"Linha digitável","nullable":true,"example":"34191090080012213037050059980008586260000065000"},"barCode":{"type":"string","description":"Código de barras","nullable":true,"example":"34195862600000650001090000122130375005998000"}},"additionalProperties":false,"description":""},"BCaptureResponse":{"type":"object","properties":{"errorCode":{"type":"string","description":"Código do status da operação.","nullable":true,"example":"000"},"message":{"type":"string","description":"Descrição.","nullable":true,"example":"SUCESSO"},"status":{"type":"integer","description":"Status da operação.","format":"int32","example":0}},"additionalProperties":false},"BillData":{"required":["value"],"type":"object","properties":{"value":{"type":"number","description":"Valor a ser pago.","format":"double","example":688.6},"originalValue":{"type":"number","description":"Valor nominal do título a ser pago.","format":"double","example":650},"valueWithDiscount":{"type":"number","description":"Valor calculado de descontos e abatimentos.","format":"double","example":0},"valueWithAdditional":{"type":"number","description":"Valor calculado de juros e multa.","format":"double","example":38.6}},"additionalProperties":false,"description":""},"BillPaymentResponse":{"type":"object","properties":{"isExpired":{"type":"integer","description":"Define se o pagamento está vencido.","format":"int64","example":true},"authentication":{"type":"integer","description":"Autenticação Interna.","format":"int32","example":3470},"convenant":{"type":"string","description":"Define qual foi o convenio liquidante","nullable":true,"example":"CELCOIN"},"authenticationAPI":{"$ref":"#/components/schemas/AuthenticationAPI"},"receipt":{"$ref":"#/components/schemas/ReceiptBillPayment"},"settleDate":{"type":"string","description":"Data de liquidação.","format":"date-time","example":"2021-06-24T00:00:00"},"createDate":{"type":"string","description":"Data da transação.","format":"date-time","example":"2021-06-24T11:31:10"},"transactionId":{"type":"integer","description":"Código da transação.","format":"int32","example":7061967},"urlreceipt":{"type":"string","description":"URL do comprovante.","nullable":true,"example":"https://www.celcoin.com.br"},"errorCode":{"type":"string","description":"Código do status.","nullable":true,"example":"000"},"message":{"type":"string","description":"Descrição do erro.","nullable":true,"example":"SUCESSO"},"status":{"type":"integer","description":"Status da operação.","format":"int32","example":0}},"additionalProperties":false},"BVoidResponse":{"type":"object","properties":{"errorCode":{"type":"string","description":"Código do status da operação.","nullable":true,"example":"000"},"message":{"type":"string","description":"Descrição.","nullable":true,"example":"SUCESSO"},"status":{"type":"integer","description":"Status da operação.","format":"int32","example":0}},"additionalProperties":false},"Campaign":{"type":"object","properties":{"codeTitulocampaign":{"type":"string","description":"Código do título da campanha.","nullable":true,"example":"495"},"generalConditions":{"type":"string","description":"URL para condições gerais do título.","nullable":true,"example":"https://staging.telesena.com.br/campanhas/495/pdf/condicoes-gerais.pdf"},"endDate":{"type":"string","description":"Data do fim da campanha.","nullable":true,"example":"2021-07-18T20:09:00"},"startDate":{"type":"string","description":"Data do início da campanha.","nullable":true,"example":"2021-06-06T20:09:00"},"redemptionDate":{"type":"string","description":"Data de resgate.","nullable":true,"example":"2022-06-06T00:00:00"},"image":{"type":"string","description":"Imagem ilustrativa do título .","nullable":true,"example":"https://staging.telesena.com.br/campanhas/495/img/titulo/frente-150x75.jpg"},"nameCampaign":{"type":"string","description":"Nome da campanha.","nullable":true,"example":"SAO JOAO/2021"},"sweepstakes":{"$ref":"#/components/schemas/Sweepstakes"},"susep":{"type":"string","description":"Código SUSEP.","nullable":true,"example":"15414.606132/2021-98"},"texts":{"$ref":"#/components/schemas/Texts"},"teleSenaCampaignId":{"type":"integer","description":"Código da campanha.","format":"int32","example":13},"value":{"type":"number","description":"Valor do título.","format":"double","example":12}},"additionalProperties":false},"ConsultCountrysResponse":{"type":"object","properties":{"countrys":{"type":"array","items":{"$ref":"#/components/schemas/Countrys"},"nullable":true}},"additionalProperties":false},"ConsultPartnersResponse":{"type":"object","properties":{"parceirosPecRec":{"type":"array","items":{"$ref":"#/components/schemas/ParceirosPecRec"},"nullable":true}},"additionalProperties":false},"ConsultServicesPointsResponse":{"type":"object","properties":{"stores":{"type":"array","items":{"$ref":"#/components/schemas/Stores"},"nullable":true}},"additionalProperties":false},"Convenants":{"type":"object","properties":{"timeLimit":{"type":"string","description":"Horário corte do convênio.","nullable":true,"example":"12:00"},"mask":{"type":"string","description":"Máscara do convênio.","nullable":true,"example":"83______________0009____________________________"},"nomeconvenant":{"type":"string","description":"Nome do convênio.","nullable":true,"example":"ENEL GOIAS"}},"additionalProperties":false},"Countrys":{"type":"object","properties":{"flagURL":{"type":"string","description":"URL de uma imagem ilustrativa da bandeira do país.","nullable":true,"example":"1000"},"code":{"type":"string","description":"Código do páis.","nullable":true,"example":"1000"},"germany":{"type":"string","description":"Nome do páis.","nullable":true,"example":"1000"}},"additionalProperties":false},"Data":{"type":"object","properties":{"quotation":{"$ref":"#/components/schemas/Quotation"},"baseCurrency":{"type":"string","description":"Será BRL (Real) por padrão. Essa será a moeda usada para gerar o ValorFinalCalculado.","nullable":true,"example":"0"},"destinyCurrency":{"type":"string","description":"Moeda corrente no país associado ao número de telefone que é beneficiário da recarga.","nullable":true,"example":"0"},"localCurrency":{"type":"string","description":"Moeda base utilizada pelo fornecedor.","nullable":true,"example":"0"},"number":{"type":"string","description":"Número de telefone a qual receberá a recarga(código de discagem + número de telefone).","nullable":true,"example":"0"},"nameProvider":{"type":"string","description":"Nome da operadora responsável pelo número de telefone da recarga.","nullable":true,"example":"0"},"country":{"type":"string","description":"Nome do país.","nullable":true,"example":"0"},"products":{"type":"array","items":{"$ref":"#/components/schemas/Products"},"nullable":true}},"additionalProperties":false},"DestinationAccountData":{"type":"object","properties":{"agency":{"type":"integer","description":"Numero da agência do favorecido.","format":"int32","example":371},"institutionCode":{"type":"integer","description":"Número do banco do favorecido.","format":"int32","example":341},"account":{"type":"integer","description":"Número da conta do favorecido.","format":"int32","example":123},"accountVerifierDigit":{"type":"string","description":"Dígito da conta do favorecido.","nullable":true,"example":"2"},"document":{"type":"string","description":"Cadastro pessoa física ou jurídica do favorecido(CPF ou CNPJ).","nullable":true,"example":"11122233344"},"institutionName":{"type":"string","description":"Nome do banco.","nullable":true,"example":"BANCO ITAU S.A."},"fullName":{"type":"string","description":"Nome completo do favorecido.","nullable":true,"example":"Fulano de tal"},"bankAccountType":{"type":"integer","description":"Identificação da conta.","format":"int32"},"documentType":{"type":"string","description":"Tipo de documento do favorecido.","nullable":true,"example":"cpf"},"value":{"type":"number","description":"Valor da transação.","format":"double","example":50}},"additionalProperties":false},"EletronicPaymentResponse":{"type":"object","properties":{"barCodeBase64":{"type":"string","description":"Código de barras retornado pelo parceiro.","nullable":true,"example":"03395856700000094709473036400000096713070101"},"convenant":{"type":"string","description":"Número do convênio fornecido pelo parceiro.","nullable":true,"example":"0720"},"orderNumber":{"type":"string","description":"Número do pedido fornecido pelo parceiro.","nullable":true,"example":"a0a0d296-3754-454d-bc0c-b1c4d114467f"},"product":{"type":"integer","description":"Número do produto fornecido pelo parceiro.","format":"int32","example":1},"transactionId":{"type":"integer","description":"Identificador da transação.","format":"int32","example":7153225},"qrCodeBase64":{"type":"string","description":"QRCode retornado pelo parceiro.","nullable":true,"example":"Banco24Horas/DepositoDigital/v1/a0a0d296-3754-454d-bc0c-b1c4d114467f/ea9dd655/1240004"},"token":{"type":"string","description":"Token retornado pelo parceiro.","nullable":true,"example":"24700268"},"value":{"type":"number","description":"Valor da transação efetuada.","format":"double","example":150},"erroCode":{"type":"string","description":"Código do status da operação.","nullable":true,"example":"000"},"message":{"type":"string","description":"Descrição do erro.","nullable":true,"example":"SUCESSO"},"status":{"type":"integer","description":"Status da operação.","format":"int32","example":0}},"additionalProperties":false},"EletronicReceiptResponse":{"type":"object","properties":{"barCodeBase64":{"type":"string","description":"Código de barras retornado pelo parceiro.","nullable":true,"example":"03395856700000094709473036400000096713070101"},"convenant":{"type":"string","description":"Número do convênio fornecido pelo parceiro.","nullable":true,"example":"0720"},"externalWithdrawIdentifier":{"type":"string","description":"Identificador externo do saque.","nullable":true,"example":"a5d4018d-498b-44df-8c6e-a986870b28d7-0124"},"transactionIdentifier":{"type":"string","description":"Identificador da transação no parceiro.","nullable":true,"example":"3AA2AE07-94F4-4794-B6ED-2D1B0BB12DCB"},"orderNumber":{"type":"string","description":"Número do pedido fornecido pelo parceiro.","nullable":true,"example":"a0a0d296-3754-454d-bc0c-b1c4d114467f"},"product":{"type":"integer","description":"Número do produto fornecido pelo parceiro.","format":"int32","example":1},"transactionId":{"type":"integer","description":"Identificador da transação.","format":"int32","example":7153225},"qrCodeBase64":{"type":"string","description":"QRCode retornado pelo parceiro.","nullable":true,"example":"Banco24Horas/DepositoDigital/v1/a0a0d296-3754-454d-bc0c-b1c4d114467f/ea9dd655/1240004"},"token":{"type":"string","description":"Token retornado pelo parceiro.","nullable":true,"example":"24700268"},"value":{"type":"number","description":"Valor da transação efetuada.","format":"double","example":150},"erroCode":{"type":"string","description":"Código do status da operação.","nullable":true,"example":"000"},"message":{"type":"string","description":"Descrição do erro.","nullable":true,"example":"SUCESSO"},"status":{"type":"integer","description":"Status da operação.","format":"int32","example":0}},"additionalProperties":false},"Errors":{"type":"object","properties":{"message":{"type":"string","description":"Mensagem de erro.","nullable":true,"example":"Ocorreu um erro inesperado"},"errorCode":{"type":"string","description":"Código do erro interno.","nullable":true,"example":"999"}},"additionalProperties":false},"ErrorsAuthorize":{"type":"object","properties":{"message":{"type":"string","description":"Mensagem de erro.","nullable":true,"example":"Ocorreu um erro inesperado"},"errorCode":{"type":"string","description":"Código do erro interno<br />\r\n011 - HORARIO MIN NAO ATINGIDO<br />\r\n024 - TRANSACAO NAO ENCONTRADA<br />\r\n068 - TRANSACAO JA REALIZADA<br />\r\n171 - FALHA NA COMUNIC COM A SUA INSTUICAO <br />\r\n183 - PAGAMENTO JA EFETUADO<br />\r\n184 - PAGAMENTO NAO PERMITIDO<br />\r\n240 - COD-BARRAS INVALIDO<br />\r\n243 - CODIGO BARRAS INVALIDO<br />\r\n244 - RECEBIMENTO NAO AUTORIZADO. DOCUMENTO VENCIDO<br />\r\n245 - DOCUMENTO NAO RECEBIVEL NA INSTITUICAO<br />\r\n248 - PDV C/ TRANSACAO EM PROCESSAMENTO<br />\r\n258 - PAGAMENTO NAO REALIZADO, ESTE RECEBIMENTO NAO PODE SER REALIZADO POR ESTE CANAL<br />\r\n260 - MAXIMO DE DIAS DE ATRASO EXCEDIDO<br />\r\n261 - MAXIMO DE DIAS DE ADIANTAMENTO NAO ALCANCADO<br />\r\n262 - CONTA COM VALOR MAIOR QUE O LIMITE<br />\r\n612 - PROBLEMA COM O REGISTRO DA CONSULTA<br />\r\n619 - CEDENTE NAO AUTORIZADO. PAGAMENTO NAO EFETUADO<br />\r\n620 - FALHA NA COMUNIC COM A INSTITUICAO. FAVOR TENTE NOVAMENTE<br />\r\n621 - Existe Pendencia. Este pagamento esta pendente de confirmacao<br />\r\n628 - BOLETO DE PAGAMENTO JA BAIXADO<br />\r\n630 - BOLETO ENCONTRADO NA BASE E CLIENTE BENEFICIARIO INAPTO NA INSTITUICAO EMISSORA DO BOLETO<br />\r\n631 - BOLETO ENCONTRADO NA BASE E CLIENTE BENEFICIARIO SEM CADASTRO<br />\r\n632 - BOLETO ENCONTRADO NA BASE E CLIENTE BENEFICIARIO EM ANALISE NA INSTITUICAO EMISSORA DO BOLETO<br />\r\n633 - BOLETO EXCEDEU O LIMITE DE PAGAMENTOS PARCIAIS<br />\r\n634 - BAIXA OPERACIONAL EM DUPLICIDADE PARA BOLETO DE PAGAMENTO QUE NAO PERMITE PAGAMENTO PARCIAL<br />\r\n635 - BAIXA OPERACIONAL JA REGISTRADA PARA BOLETO DE PAGAMENTO QUE NAO PERMITE PAGAMENTO PARCIAL<br />\r\n636 - BOLETO EXCEDEU O VALOR DE SALDO PARA PAGAMENTO PARCIAL PARA O TIPO DE MODELO DE CALCULO 04<br />\r\n637 - BOLETO ENCONTRADO NA BASE E BENEFICIÁRIO INAPTO EM INSTITUICAO DIFERENTE DA EMISSORA DO BOLETO<br />\r\n638 - BOLETO ENCONTRADO NA BASE E BENEFICIARIO EM ANALISE EM INSTITUICAO DIFERENTE DA EMISSORA DO BOLETO<br />\r\n639 - BOLETO NAO PERMITIDO APOS DATA LIMITE DE PAGAMENTO<br />\r\n642 - CODIGO DE BARRAS NAO LOCALIZADO NA BASE CENTRALIZADA<br />\r\n643 - ESTA CONTA ESTA VENCIDA E NAO CONSEGUIMOS LIQUIDA-LA HOJE. FAVOR TENTAR AMANHA<br />\r\n648 - DIVERGENCIA NO REGISTRO. NAO FOI POSSIVEL CALCULAR JUROS/MULTAS, ENTRE EM CONTATO COM O FAVORECIDO<br />\r\n649 - DIVERGENCIA NO REGISTRO. NAO FOI POSSIVEL CALCULAR VALOR DA CONTA, ENTRE EM CONTATO COM O FAVORECIDO<br />\r\n656 - AUTENTICACAO NAO INFORMADA<br />\r\n657 - AUTENTICACAO INEXISTENTE<br />\r\n658 - FALHA NA COMUNIC JUNTO AO NOSSO PARCEIRO. FAVOR TENTE NOVAMENTE. (658)<br />\r\n728 - PAGAMENTO NAO PERMITIDO PARA ESSE BENEFICIARIO<br />","nullable":true,"example":"999"}},"additionalProperties":false},"ErrorsBillpayments":{"type":"object","properties":{"message":{"type":"string","description":"Mensagem de erro.","nullable":true,"example":"Ocorreu um erro inesperado"},"errorCode":{"type":"string","description":"Código do erro interno.<br />\r\n008 - MAXIMO VALOR EXCEDIDO<br />\r\n009 - VALOR MENOR QUE O MINIMO PERMITIDO<br />\r\n010 - HORARIO MAX. PASSADO<br />\r\n024 - TRANSACAO NAO ENCONTRADA<br />\r\n028 - VALOR NAO PERMITIDO<br />\r\n044 - VALOR NAO PERMITIDO<br />\r\n050 - EXCEDE LIMITE<br />\r\n171 - FALHA NA COMUNIC COM A SUA INSTUICAO<br />\r\n173 - NUMERO CONTA INVALIDO<br />\r\n174 - PROBLEMA REDE LOCAL<br />\r\n184 - PAGAMENTO NAO PERMITIDO<br />\r\n240 - COD-BARRAS INVALIDO<br />\r\n243 - CODIGO BARRAS INVALIDO<br />\r\n259 - PAGAMENTO APOS HORA DE CORTE<br />\r\n263 - CONTA NAO PERMITE ALTERAR VALOR<br />\r\n598 - OPERACAO NAO EFETUADA. TENTE NOVAMENTE<br />\r\n613 - BOLETO NAO PERMITE ALTERAR VALOR<br />\r\n620 - FALHA NA COMUNIC COM A INSTITUICAO. FAVOR TENTE NOVAMENTE<br />\r\n621 - Existe Pendencia. Este pagamento esta pendente de confirmacao<br />\r\n622 - VALOR MENOR QUE O MINIMO PERMITIDO<br />\r\n623 - VALOR MAIOR QUE O MAXIMO PERMITIDO<br />\r\n628 - BOLETO DE PAGAMENTO JA BAIXADO<br />\r\n652 - PROTOCOLOID CONSULTA JA ULTILIZADO POR OUTRO PAGAMENTO<br />\r\n653 - PROTOCOLOID CONSULTA NAO LOCALIZADO NA DATA ATUAL<br />\r\n655 - COD BARRAS/LINHA DIGITAVEL INCORRETA PARA O PROTOCOLOID CONSULTA INFORMADO<br />\r\n656 - AUTENTICACAO NAO INFORMADA<br />\r\n656 - VALOR A PAGAR ATUALIZADO MAIOR QUE O VALOR MAXIMO PERMITIDO<br />\r\n657 - AUTENTICACAO INEXISTENTE<br />\r\n657 - VALOR A PAGAR ATUALIZADO MENOR QUE O VALOR MINIMO PERMITIDO<br />\r\n658 - FALHA NA COMUNIC JUNTO AO NOSSO PARCEIRO. FAVOR TENTE NOVAMENTE<br />\r\n659 - FAVOR INFORMAR BLOCO1 E BLOCO2 OU SOMENTE O BLOCO COMPLETO<br />\r\n660 - AUTENTICACAO INCOMPLETA<br />\r\n699 - CPF OU CNPJ INVALIDO<br />","nullable":true,"example":"999"}},"additionalProperties":false},"ErrorsConfirmation":{"type":"object","properties":{"message":{"type":"string","description":"Mensagem de erro.","nullable":true,"example":"Ocorreu um erro inesperado"},"errorCode":{"type":"string","description":"Código do erro interno.<br />\r\n024 - TRANSACAO NAO ENCONTRADA<br />\r\n171 - FALHA NA COMUNIC COM A SUA INSTUICAO<br />\r\n620 - FALHA NA COMUNIC COM A INSTITUICAO. FAVOR TENTE NOVAMENTE<br />\r\n658 - FALHA NA COMUNIC JUNTO AO NOSSO PARCEIRO. FAVOR TENTE NOVAMENTE<br />","nullable":true,"example":"999"}},"additionalProperties":false},"ErrorsConsultServicePoints":{"type":"object","properties":{"message":{"type":"string","description":"Mensagem de erro.","nullable":true,"example":"Ocorreu um erro inesperado"},"errorCode":{"type":"string","description":"Código do erro interno<br />\r\n708 - PARCEIRO INVALIDO<br />","nullable":true,"example":"999"}},"additionalProperties":false},"ErrorsEletronicPayment":{"type":"object","properties":{"message":{"type":"string","description":"Mensagem de erro.","nullable":true,"example":"Ocorreu um erro inesperado"},"errorCode":{"type":"string","description":"Código do erro interno.<br />\r\n008 - MAXIMO VALOR EXCEDIDO<br />\r\n009 - VALOR MENOR QUE O MINIMO PERMITIDO<br />\r\n044 - VALOR NAO PERMITIDO<br />\r\n050 - EXCEDE LIMITE<br />\r\n171 - FALHA NA COMUNIC COM A SUA INSTUICAO<br />\r\n598 - OPERACAO NAO EFETUADA. TENTE NOVAMENTE<br />\r\n620 - FALHA NA COMUNIC COM A INSTITUICAO. FAVOR TENTE NOVAMENTE<br />\r\n658 - FALHA NA COMUNIC JUNTO AO NOSSO PARCEIRO. FAVOR TENTE NOVAMENTE<br />\r\n699 - CPF OU CNPJ INVALIDO<br />\r\n723 - COD. 91 - QR CODE EXPIRADO. TENTE NOVAMENTE UTILIZANDO UM NOVO QR CODE<br />\r\n727 - ERRO N?O ESPECIFICADO<br />\r\n999 - POR FAVOR TENTE NOVAMENTE, OCORREU UM ERRO DESCONHECIDO AO REALIZAR TRANSACAO<br />\r\n999 - ERRO AO GERAR PEDIDO DE DEPOSITO<br />","nullable":true,"example":"999"}},"additionalProperties":false},"ErrorsEletronicReceipt":{"type":"object","properties":{"message":{"type":"string","description":"Mensagem de erro.","nullable":true,"example":"Ocorreu um erro inesperado"},"errorCode":{"type":"string","description":"Código do erro interno.<br />\r\n008 - MAXIMO VALOR EXCEDIDO<br />\r\n009 - VALOR MENOR QUE O MINIMO PERMITIDO<br />\r\n044 - VALOR NAO PERMITIDO<br />\r\n050 - EXCEDE LIMITE<br />\r\n171 - FALHA NA COMUNIC COM A SUA INSTUICAO<br />\r\n598 - OPERACAO NAO EFETUADA. TENTE NOVAMENTE<br />\r\n620 - FALHA NA COMUNIC COM A INSTITUICAO. FAVOR TENTE NOVAMENTE<br />\r\n658 - FALHA NA COMUNIC JUNTO AO NOSSO PARCEIRO. FAVOR TENTE NOVAMENTE<br />\r\n699 - CPF OU CNPJ INVALIDO<br />\r\n723 - COD. 91 - QR CODE EXPIRADO. TENTE NOVAMENTE UTILIZANDO UM NOVO QR CODE<br />\r\n727 - ERRO NAO ESPECIFICADO<br />\r\n999 - ERRO AO GERAR PEDIDO DE SAQUE<br />\r\n999 - POR FAVOR TENTE NOVAMENTE, OCORREU UM ERRO DESCONHECIDO AO REALIZAR TRANSACAO<br />\r\n999 - Valor inválido para saque<br />","nullable":true,"example":"999"}},"additionalProperties":false},"ErrorsFindProviders":{"type":"object","properties":{"message":{"type":"string","description":"Mensagem de erro.","nullable":true,"example":"Ocorreu um erro inesperado"},"errorCode":{"type":"string","description":"Código do erro interno<br />\r\n682 - OPERADORA NAO LOCALIZADA<br />","nullable":true,"example":"999"}},"additionalProperties":false},"ErrorsHealthCheck":{"type":"object","properties":{"message":{"type":"string","description":"Mensagem de erro.","nullable":true,"example":"Ocorreu um erro inesperado"},"errorCode":{"type":"string","description":"Código do erro interno<br />\r\n654 - TRANSACAO INFORMADA NAO LOCALIZADA<br />\r\n655 - PERIODO INFORMADO INCORRETO<br />","nullable":true,"example":"999"}},"additionalProperties":false},"ErrorsInternationalTopups":{"type":"object","properties":{"message":{"type":"string","description":"Mensagem de erro.","nullable":true,"example":"Ocorreu um erro inesperado"},"errorCode":{"type":"string","description":"Código do erro interno<br />\r\n000 - FALHACOMUNICACAO<br />\r\n044 - VALOR NAO PERMITIDO<br />\r\n050 - EXCEDE LIMITE<br />\r\n171 - FALHA NA COMUNIC COM A SUA INSTUICAO<br />\r\n598 - OPERACAO NAO EFETUADA. TENTE NOVAMENTE<br />\r\n620 - FALHA NA COMUNIC COM A INSTITUICAO. FAVOR TENTE NOVAMENTE. (620)<br />\r\n658 - FALHA NA COMUNIC JUNTO AO NOSSO PARCEIRO. FAVOR TENTE NOVAMENTE. (658)<br />\r\n999 - Cpf/Cnpj invalidos<br />\r\n999 - POR FAVOR TENTE NOVAMENTE, OCORREU UM ERRO DESCONHECIDO AO REALIZAR TRANSACAO.<br />","nullable":true,"example":"999"}},"additionalProperties":false},"ErrorsInternationalTopupsValues":{"type":"object","properties":{"message":{"type":"string","description":"Mensagem de erro.","nullable":true,"example":"Ocorreu um erro inesperado"},"errorCode":{"type":"string","description":"Código do erro interno<br />\r\n999 - NumeroTelefone deve ser informado<br />\r\n999 - CodigoPais deve ser informado<br />","nullable":true,"example":"999"}},"additionalProperties":false},"ErrorsOcorrency":{"type":"object","properties":{"message":{"type":"string","description":"Mensagem de erro.","nullable":true,"example":"Ocorreu um erro inesperado"},"errorCode":{"type":"string","description":"Código do erro interno<br />\r\n632 - Periodo entre DataInicio e DataFim superior a 7 dias<br />\r\n633 - DataInicio maior que a DataFim<br />","nullable":true,"example":"999"}},"additionalProperties":false},"ErrorsPaymentOrder":{"type":"object","properties":{"message":{"type":"string","description":"Mensagem de erro.","nullable":true,"example":"Ocorreu um erro inesperado"},"errorCode":{"type":"string","description":"Código do erro interno.<br />\r\n008 - MAXIMO VALOR EXCEDIDO<br />\r\n009 - VALOR MENOR QUE O MINIMO PERMITIDO<br />\r\n044 - VALOR NAO PERMITIDO<br />\r\n050 - EXCEDE LIMITE<br />\r\n171 - FALHA NA COMUNIC COM A SUA INSTUICAO<br />\r\n598 - OPERACAO NAO EFETUADA. TENTE NOVAMENTE<br />\r\n620 - FALHA NA COMUNIC COM A INSTITUICAO. FAVOR TENTE NOVAMENTE<br />\r\n658 - FALHA NA COMUNIC JUNTO AO NOSSO PARCEIRO. FAVOR TENTE NOVAMENTE<br />\r\n699 - CPF OU CNPJ INVALIDO<br />\r\n727 - ERRO NAO ESPECIFICADO<br />\r\n999 - ERRO AO GERAR PEDIDO DE SAQUE<br />\r\n999 - POR FAVOR TENTE NOVAMENTE, OCORREU UM ERRO DESCONHECIDO AO REALIZAR TRANSACAO<br />\r\n999 - Valor inválido para saque<br />","nullable":true,"example":"999"}},"additionalProperties":false},"ErrorsReceipt":{"type":"object","properties":{"message":{"type":"string","description":"Mensagem de erro.","nullable":true,"example":"Ocorreu um erro inesperado"},"errorCode":{"type":"string","description":"Código do erro interno<br />\r\n635 - COMPROVANTE INEXISTENTE PARA O PROTOCOID INFORMADO<br />","nullable":true,"example":"999"}},"additionalProperties":false},"ErrorsReverse":{"type":"object","properties":{"message":{"type":"string","description":"Mensagem de erro.","nullable":true,"example":"Nao foi possivel realizar o cancelamento. Pagamento ja processado"},"errorCode":{"type":"string","description":"Código do erro interno (Qualquer impeditivo retornará codigo 999)<br />\r\n620 - FALHA NA COMUNIC COM A INSTITUICAO. FAVOR TENTE NOVAMENTE<br />\r\n999 - O status dessa transacao nao permite cancelamento<br />\r\n999 - Liquidante nao permite cancelamento<br />\r\n999 - Nao foi possivel realizar o cancelamento. Pagamento ja processado<br />\r\n999 - Transacao nao encontrada<br />","nullable":true,"example":"999"}},"additionalProperties":false},"ErrorsStatusConsult":{"type":"object","properties":{"message":{"type":"string","description":"Mensagem de erro.","nullable":true,"example":"Ocorreu um erro inesperado"},"errorCode":{"type":"string","description":"Código do erro interno (Exemplos de  codigo e mensagem, para mais informações, a lista de erros é disponibilizada no sandbox).<br />\r\n709 - TRANSACTIONID NÃO INFORMADO, OS DEMAIS CAMPOS SÃO OBRIGATÓRIOS<br />","nullable":true,"example":"999"}},"additionalProperties":false},"ErrorsStatusTransfer":{"type":"object","properties":{"message":{"type":"string","description":"Mensagem de erro.","nullable":true,"example":"Ocorreu um erro inesperado"},"errorCode":{"type":"string","description":"Código do erro interno<br />\r\n999 - TRANSACAO NAO LOCALIZADA<br />","nullable":true,"example":"999"}},"additionalProperties":false},"ErrorsTelesena":{"type":"object","properties":{"message":{"type":"string","description":"Mensagem de erro.","nullable":true,"example":"Ocorreu um erro inesperado"},"errorCode":{"type":"string","description":"Código do erro interno<br />\r\n1 - NAO FOI POSSIVEL A REEMISSAO POR INCONSISTENCIA DE DADOS<br />\r\n16 - OPERACAO NAO EFETUADA. CPF INFORMADO INVALIDO<br />\r\n000 - FALHACOMUNICACAO<br />\r\n620 - FALHA NA COMUNIC COM A INSTITUICAO. FAVOR TENTE NOVAMENTE. (620)<br />\r\n706 - Valor da compra abaixo do minimo permitido.<br />\r\n999 - POR FAVOR TENTE NOVAMENTE, OCORREU UM ERRO DESCONHECIDO AO REALIZAR TRANSACAO.<br />","nullable":true,"example":"999"}},"additionalProperties":false},"ErrorsToken":{"type":"object","properties":{"message":{"type":"string","description":"Mensagem de erro.","nullable":true,"example":"Ocorreu um erro inesperado"},"errorCode":{"type":"string","description":"Código do erro interno<br />\r\n999 - Client_id is required<br />\r\n999 - Client_secret is required<br />\r\n999 - Grant_type is required<br />\r\n999 - invalid client_id<br />\r\n999 - invalid secret<br />\r\n999 - Invalid grant type<br />","nullable":true,"example":"999"}},"additionalProperties":false},"ErrorsTopups":{"type":"object","properties":{"message":{"type":"string","description":"Mensagem de erro.","nullable":true,"example":"Ocorreu um erro inesperado"},"errorCode":{"type":"string","description":"Código do erro interno.<br />\r\n044 - VALOR NAO PERMITIDO<br />\r\n050 - EXCEDE LIMITE<br />\r\n089 - CODIGO AREA NAO HABILITADO<br />\r\n171 - FALHA NA COMUNIC COM A SUA INSTUICAO<br />\r\n251 - TEL NAO PERMITE RECARGA<br />\r\n264 - TELEFONE INVALIDO<br />\r\n472 - VALOR NAO PERMITIDO PARA O DDD/TELEFONE INFORMADO<br />\r\n598 - OPERACAO NAO EFETUADA. TENTE NOVAMENTE<br />\r\n598 - NUMERO DE CLIENTE INVALIDO<br />\r\n599 - TELEFONE BLOQUEADO PARA RECARGA<br />\r\n620 - FALHA NA COMUNIC COM A INSTITUICAO. FAVOR TENTE NOVAMENTE. (620)<br />\r\n646 - RECARGA NEGADA PELA OPERADORA. PARA MAIS DETALHES ENTRE EM CONTATO COM A SUA OPERADOR<br />\r\n658 - FALHA NA COMUNIC JUNTO AO NOSSO PARCEIRO. FAVOR TENTE NOVAMENTE. (658)<br />\r\n699 - CPF OU CNPJ INVALIDO<br />\r\n734 - LINHA A QUAL RECEBERIA O CREDITO ESTA BLOQUEADA, CANCELADA OU INATIVA NA OPERADORA<br />","nullable":true,"example":"999"}},"additionalProperties":false},"ErrorsTransfer":{"type":"object","properties":{"message":{"type":"string","description":"Mensagem de erro.","nullable":true,"example":"Ocorreu um erro inesperado"},"errorCode":{"type":"string","description":"Código do erro interno.<br />\r\n044 - VALOR NAO PERMITIDO<br />\r\n050 - EXCEDE LIMITE<br />\r\n171 - FALHA NA COMUNIC COM A SUA INSTUICAO<br />\r\n598 - OPERACAO NAO EFETUADA.TENTE NOVAMENTE<br />\r\n620 - FALHA NA COMUNIC COM A INSTITUICAO. FAVOR TENTE NOVAMENTE<br />\r\n658 - FALHA NA COMUNIC JUNTO AO NOSSO PARCEIRO.FAVOR TENTE NOVAMENTE<br />\r\n699 - CPF OU CNPJ INVALIDO<br />\r\n700 - AGENCIA XXXX NAO EXISTE PARA O BANCO XXX<br />\r\n700 - BANCO XXX NAO LOCALIZADO<br />","nullable":true,"example":"999"}},"additionalProperties":false},"FindProviderResponse":{"type":"object","properties":{"nameProvider":{"type":"string","description":"Nome da operadora.","nullable":true,"example":"Tim"},"providerId":{"type":"integer","description":"Identificador da operadora.","format":"int32","example":2086},"errorCode":{"type":"string","description":"Código do status da operação de consulta.","nullable":true,"example":"000"},"message":{"type":"string","description":"Descrição do erro na consulta (não obrigatório).","nullable":true,"example":"SUCESSO"},"status":{"type":"integer","description":"Status da operação de consulta.","format":"int32","example":0}},"additionalProperties":false},"Healhtcheck":{"type":"object","properties":{"kpiAvailability":{"type":"string","description":"KPI de disponibilidade.","nullable":true,"example":"90"},"statusKPIAvailability":{"type":"string","description":"Status do KPI de disponibilidade.","nullable":true,"example":"10"},"statusAverageTime":{"type":"string","description":"Status do tempo médio.","nullable":true,"example":"10"},"averageTime":{"type":"string","description":"Tempo médio.","nullable":true,"example":"2.5"},"thresholdKPIAvailabilityDown":{"type":"number","description":"KPI de disponibilidade baixa.","format":"double","example":80},"thresholdKPIAvailabilityUP":{"type":"number","description":"KPI de disponibilidade alta.","format":"double","example":99},"thresholdAverageTimeDown":{"type":"number","description":"Tempo médio baixo.","format":"double","example":12},"thresholdAverageTimeUP":{"type":"number","description":"Tempo médio baixo alto.","format":"double","example":2.5},"transaction":{"type":"string","description":"Transação do KPI.","nullable":true,"example":"CONSULTADADOSCONTA"}},"additionalProperties":false},"HealthcheckResponse":{"type":"object","properties":{"healhtcheck":{"type":"array","items":{"$ref":"#/components/schemas/Healhtcheck"},"nullable":true},"errorCode":{"type":"string","description":"Código do status.","nullable":true,"example":"000"},"message":{"type":"string","description":"Descrição do erro.","nullable":true,"example":"SUCESSO"},"status":{"type":"integer","description":"Status da operação.","format":"int32","example":0}},"additionalProperties":false},"ICaptureResponse":{"type":"object","properties":{"erroCode":{"type":"string","description":"Código do status da operação.","nullable":true,"example":"000"},"message":{"type":"string","description":"Descrição do erro.","nullable":true,"example":"SUCESSO"},"status":{"type":"integer","description":"Status da operação.","format":"int32","example":0}},"additionalProperties":false},"InfoBearer":{"type":"object","properties":{"nameBearer":{"type":"string","description":"Nome do portador.","nullable":true,"example":"Fulano de tal"},"documentBearer":{"type":"string","description":"CPF ou CPNJ do portador.","nullable":true,"example":"11122233344"},"methodPaymentCode":{"type":"integer","description":"Meio de pagamento - 1 (Especie), 2 (Debito Em Conta), 3 (Cartao de Credito) e 4 (Cheque).","format":"int32","example":2}},"additionalProperties":false},"InstitutionsResponse":{"type":"object","properties":{"convenants":{"$ref":"#/components/schemas/Convenants"}},"additionalProperties":false},"InternationalTopUp":{"required":["cpfCnpj","topupProductId","value"],"type":"object","properties":{"externalTerminal":{"type":"string","description":"Terminal de identificação externa do sistema do cliente, Ex: CPF.","nullable":true,"example":"11122233344"},"externalNsu":{"type":"integer","description":"Identificador da transação do sistema cliente.","format":"int64","example":1234},"cpfCnpj":{"type":"string","description":"CPF ou CNPJ do cliente.","example":"11122233344"},"phone":{"$ref":"#/components/schemas/phone"},"value":{"type":"number","description":"Valor da transação.","format":"double","example":100},"topupProductId":{"type":"string","description":"Código do produto retornado no endpoint da consulta de valores.","example":"5"}},"additionalProperties":false},"InternationalTopupsResponse":{"type":"object","properties":{"nsuNameProvider":{"type":"integer","description":"NSU Interno.","format":"int64","example":610761},"authentication":{"type":"integer","description":"Autenticação Interna.","format":"int32","example":3470},"authenticationApi":{"$ref":"#/components/schemas/AuthenticationAPI"},"receipt":{"$ref":"#/components/schemas/ReceiptInternationalTopUps"},"settleDate":{"type":"string","description":"Data de liquidação.","format":"date-time","example":"2021-06-24T00:00:00"},"createDate":{"type":"string","description":"Data da transação.","format":"date-time","example":"2021-06-24T11:31:10"},"transactionId":{"type":"integer","description":"Código da transação.","format":"int32","example":7153443},"urlreceipt":{"type":"string","description":"URL do comprovante.","nullable":true,"example":"https://www.celcoin.com.br"},"errorCode":{"type":"string","description":"Código do status da operação.","nullable":true,"example":"000"},"message":{"type":"string","description":"Descrição do erro (não obrigatório).","nullable":true,"example":"SUCESSO"},"status":{"type":"integer","description":"Status da operação.","format":"int32","example":0}},"additionalProperties":false},"InternationalTopupsValuesResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Data"},"erroCode":{"type":"string","description":"Código do status da operação.","nullable":true,"example":"000"},"message":{"type":"string","description":"Descrição do erro.","nullable":true,"example":"SUCESSO"},"status":{"type":"integer","description":"Status da operação.","format":"int32","example":0}},"additionalProperties":false},"IVoidResponse":{"type":"object","properties":{"erroCode":{"type":"string","description":"Código do status da operação de consulta.","nullable":true,"example":"000"},"message":{"type":"string","description":"Descrição do erro na consulta (não obrigatório).","nullable":true,"example":"SUCESSO"},"status":{"type":"integer","description":"Status da operação de consulta.","format":"int32","example":0}},"additionalProperties":false},"Location":{"type":"object","properties":{"latitude":{"type":"string","description":"Latitude da localização do ponto de atendimento.","nullable":true,"example":"-22.926383"},"longitude":{"type":"string","description":"Longitude da localização do ponto de atendimento.","nullable":true,"example":"-47.081025"}},"additionalProperties":false},"MerchantResponse":{"type":"object","properties":{"anticipated":{"type":"number","description":"Retorna o valor a qual foi adicionado no dia.","format":"double","example":1000},"reconcileExecuting":{"type":"string","description":"Exibe se a conciliação está sendo executada (S - SIM, N - NÃO).","nullable":true,"example":"N"},"consumed":{"type":"number","description":"Exibe quanto do saldo foi consumido.","format":"double","example":29105.54},"credit":{"type":"number","description":"Exibe o limite liberado para uso, caso o saldo acabe.","format":"double","example":100000},"balance":{"type":"number","description":"Exibe o saldo disponível.","format":"double","example":70894.46},"erroCode":{"type":"string","description":"Código do status da operação.","nullable":true,"example":"000"},"message":{"type":"string","description":"Descrição do erro.","nullable":true,"example":"SUCESSO"},"status":{"type":"integer","description":"Status da operação.","format":"int32","example":0}},"additionalProperties":false},"Occurrences":{"type":"object","properties":{"date":{"type":"string","description":"Data da ocorrência.","nullable":true,"example":"2021-06-24T19:03:43"},"createDate":{"type":"string","description":"Data da transação.","nullable":true,"example":"2021-06-24T15:54:14"},"descriptionMotivo":{"type":"string","description":"Motivo da ocorrência.","nullable":true,"example":"Recusado pelo beneficiário"},"externalNSU":{"type":"integer","description":"Identificador da transação do sistema cliente.","format":"int32","example":1234},"transactionId":{"type":"integer","description":"Código da transação.","format":"int32","example":7061967},"externalTerminal":{"type":"string","description":"Terminal de identificação externa do sistema do cliente, Ex: CPF.","nullable":true,"example":"11122233344"},"linhaDigitavel":{"type":"string","description":"Linha Digitável.","nullable":true,"example":"34191090080012213037050059980008586260000065000 "},"value":{"type":"string","description":"Valor da transação.","nullable":true,"example":"20"}},"additionalProperties":false},"OcurrencyResponse":{"type":"object","properties":{"occurrences":{"$ref":"#/components/schemas/Occurrences"}},"additionalProperties":false},"ParceirosPecRec":{"type":"object","properties":{"codeParceiro":{"type":"string","description":"Código do parceiro","nullable":true,"example":"0001"},"indBarCodeDeposit":{"type":"string","description":"Indica se o parceiro aceita depósito via código de barras.","nullable":true,"example":"S"},"indBarCodeWithdraw":{"type":"string","description":"Indica se o parceiro aceita saque via código de barras.","nullable":true,"example":"S"},"indQRCodeDeposit":{"type":"string","description":"Indica se o parceiro aceita depósito via QRCode.","nullable":true,"example":"S"},"indQRCodeWithdraw":{"type":"string","description":"Indica se o parceiro aceita saque via QRCode","nullable":true,"example":"S"},"namePartner":{"type":"string","description":"Nome do parceiro.","nullable":true,"example":"BRINKSPAY"},"partnerPecRecRecId":{"type":"integer","description":"Identificador do parceiro.","format":"int32","example":1},"partnerType":{"type":"string","description":"Tipo do parceiro.","nullable":true,"example":"VAREJO"},"typeTransactionsCancelamento":{"type":"string","description":"Nome da transação para solicitar cancelamentos de transações.","nullable":true,"example":"SOLICITACANCELAMENTOPECREC"},"maxValueDeposito":{"type":"integer","description":"Valor máximo para depósito.","format":"int32","example":2000},"maxValueSaque":{"type":"integer","description":"Valor máximo para saque.","format":"int32","example":1000},"minValueDeposito":{"type":"integer","description":"Valor mínimo para depósito.","format":"int32","example":11122233344},"minValueSaque":{"type":"integer","description":"Valor mínimo para saque.","format":"int32","example":11122233344}},"additionalProperties":false},"PaymentOrderResponse":{"type":"object","properties":{"convenant":{"type":"string","description":"Número do convênio fornecido pelo parceiro.","nullable":true,"example":"0720"},"transactionIdentifier":{"type":"string","description":"Identificador da transação no parceiro.","nullable":true,"example":"3AA2AE07-94F4-4794-B6ED-2D1B0BB12DCB"},"transactionId":{"type":"string","description":"Identificador da transação.","nullable":true,"example":"7153225"},"token":{"type":"string","description":"Token retornado pelo parceiro.","nullable":true,"example":"24700268"},"value":{"type":"string","description":"Valor da transação efetuada.","nullable":true,"example":"150"},"erroCode":{"type":"string","description":"Código do status da operação.","nullable":true,"example":"000"},"message":{"type":"string","description":"Descrição do erro.","nullable":true,"example":"SUCESSO"},"status":{"type":"integer","description":"Status da operação.","format":"int32","example":0}},"additionalProperties":false},"PendencyResponse":{"type":"object","properties":{"pendings":{"$ref":"#/components/schemas/Pendings"},"errorCode":{"type":"string","description":"Código do status.","nullable":true,"example":"000"},"message":{"type":"string","description":"Descrição do erro.","nullable":true,"example":"SUCESSO"},"status":{"type":"integer","description":"Status da operação.","format":"int32","example":0}},"additionalProperties":false},"Pendings":{"type":"object","properties":{"transactions":{"type":"array","items":{"$ref":"#/components/schemas/Transactions"},"nullable":true}},"additionalProperties":false},"phone":{"required":["countryCode","number"],"type":"object","properties":{"number":{"type":"string","description":"Código do país.","example":"31687897"},"countryCode":{"type":"string","description":"Número de telefone.","example":"+508"}},"additionalProperties":false},"Phone":{"required":["countryCode","number","stateCode"],"type":"object","properties":{"stateCode":{"type":"integer","description":"Código do estado atrelado ao número de telefone.","format":"int32","example":11},"countryCode":{"type":"integer","description":"Código do país.","format":"int32","example":55},"number":{"type":"integer","description":"Número do telefone.","format":"int32","example":993134307}},"additionalProperties":false,"description":""},"PhoneNumber":{"required":["countryCode","number","stateCode"],"type":"object","properties":{"stateCode":{"type":"integer","description":"Código do estado","format":"int32","example":11},"countryCode":{"type":"integer","description":"Código do país","format":"int32","example":55},"number":{"type":"integer","description":"Número de telefone","format":"int32","example":955554444}},"additionalProperties":false},"Products":{"type":"object","properties":{"description":{"type":"string","description":"Descrição do produto/valor retornado pela operadora.","nullable":true,"example":"89.92"},"productId":{"type":"string","description":"Identificador do produto/valor (Deverá ser enviado na efetivação).","nullable":true,"example":"5"},"rate":{"type":"string","description":"Taxas que incidem no ValorFinalCalculado.","nullable":true,"example":"0.0000"},"value":{"type":"string","description":"Custo por venda em USD(Dólar Americano).","nullable":true,"example":"0.9000"},"finalValue":{"type":"string","description":"Valor em moeda local(MoedaDestino) , a qual o cliente irá de fato receber em seu telefone celular.","nullable":true,"example":"89.9200"},"finalValueCalculated":{"type":"string","description":"Valor calculado, considerando a MoedaBase (BRL) + Taxas + Spread. Este é o valor que efetivamente será cobrado na ponta.","nullable":true,"example":"5.0900"},"productValue":{"type":"string","description":"Valor Moeda local (MoedaDestino) que o cliente irá de fato receber em seu telefone, sem taxas e spread.","nullable":true,"example":"89.9200"},"retail":{"type":"string","description":"Valor da recarga no varejo, em dólar.","nullable":true,"example":"0.9400"},"finalRetail":{"type":"string","description":"Valor da recarga no varejo, usando a MoedaBase (BRL), sem taxas ou spread.","nullable":true,"example":"5.0900"}},"additionalProperties":false},"ProvidersResponse":{"type":"object","properties":{"category":{"type":"integer","description":"Categoria da recarga.","format":"int32","example":1},"name":{"type":"string","description":"Nome da operadora.","nullable":true,"example":"Tim"},"providerId":{"type":"integer","description":"ID da operadora.","format":"int32","example":2086},"regionaisnameProviders":{"type":"array","items":{"$ref":"#/components/schemas/RegionaisnameProviderClass"},"description":"Lista de nome por região (não obrigatório).","nullable":true},"tipoRecarganameProvider":{"type":"integer","description":"Tipo da operação de recarga.","format":"int32","example":1},"maxValue":{"type":"integer","description":"Valor máximo permitido para realização da recarga (não obrigatório).","format":"int32","example":100},"minValue":{"type":"integer","description":"Valor mínimo permitido para realização da recarga (não obrigatório).","format":"int32","example":10}},"additionalProperties":false},"ProviderValuesResponse":{"type":"object","properties":{"properties":{"type":"string","description":"Propriedades do produto (não obrigatório).","nullable":true,"example":null},"code":{"type":"string","description":"Código do produto (não obrigatório).","nullable":true,"example":"0"},"cost":{"type":"string","description":"Custo do produto (não obrigatório).","nullable":true,"example":"0"},"detail":{"type":"string","description":"Detalhe do produto (não obrigatório).","nullable":true,"example":"Recarga promocional"},"productName":{"type":"string","description":"Nome do produto.","nullable":true,"example":"Tim"},"checkSum":{"type":"string","description":"Código de validação interna da Celcoin (não obrigatório).","nullable":true,"example":"-2147483640"},"dueProduct":{"type":"string","description":"Data de validade do produto (não obrigatório).","nullable":true,"example":"2021-06-23"},"valueBonus":{"type":"string","description":"Valor bônus para o produto (não obrigatório).","nullable":true,"example":"10"},"maxValue":{"type":"number","description":"Valor máximo para recarga do produto.","format":"double","example":15},"minValue":{"type":"number","description":"Valor mínimo para recarga do produto.","format":"double","example":15}},"additionalProperties":false},"Quotation":{"type":"object","properties":{"purchase":{"type":"string","description":"Valor de compra de 1 USD (Dólar americano) considerando a MoedaBase na data da consulta. Não será considerado nos cálculos.","nullable":true,"example":"4.9200"},"quotationId":{"type":"string","description":"Identificador da cotação.","nullable":true,"example":"1216"},"quotationDateTime":{"type":"string","description":"Data e horário de consulta da cotação.","nullable":true,"example":"2021-06-25T13:05:48.513"},"description":{"type":"string","description":"Origem/Fonte onde a cotação foi consultada.","nullable":true,"example":"PTAX (Banco Central)"},"spread":{"type":"string","description":"Percentual do spread aplicado sobre a cotação do dólar.","nullable":true,"example":"10"},"sale":{"type":"string","description":"Valor de venda de 1 USD (Dólar americano) considerando a MoedaBase na data da consulta.É o valor que será efetivamente considerado nos cálculos.","nullable":true,"example":"4.9206"}},"additionalProperties":false},"Receipt":{"type":"object","properties":{"receiptData":{"type":"string","description":"Dados do comprovante.","nullable":true,"example":""},"receiptformatted":{"type":"string","description":"Dados do comprovante formatado.","nullable":true,"example":"          PROTOCOLO 0007098104\r\n1          24/06/2021        17:49\r\nTERM 228005 AGENTE 228005 AUTE 06153\r\n----------------------------------------\r\nAUTO 919755                   PAGAMENTO\r\n                    \r\n              GENERICA CC\r\n      82610000000-7 30700022001-1      \r\n         06104045000-1 03202180003-5\r\n----------------------------------------\r\nDATA DE LIQUIDACAO           24/06/2021\r\nVALOR COBRADO                     30,70\r\n\r\n    VALIDO COMO RECIBO DE PAGAMENTO\r\n----------------------------------------\r\n              AUTENTICACAO\r\n        2D.46.A6.46.99.A4.22.2D\r\n        86.32.67.47.DC.B8.B8.E1\r\n----------------------------------------\r\n \r\nCONSULTE A AUTENTICA??O EM:\r\nCELCOIN.COM.BR/AUTENTICACAO\r\n\r\n"}},"additionalProperties":false},"ReceiptBillPayment":{"type":"object","properties":{"receiptData":{"type":"string","description":"Dados do comprovante.","nullable":true,"example":""},"receiptformatted":{"type":"string","description":"Dados do comprovante formatado.","nullable":true,"example":"         PROTOCOLO 0007087855\r\n1          24/06/2021        15:55\r\nTERM 228005 AGENTE 228005 AUTE 09327\r\n----------------------------------------\r\nAUTO 909893           RECEBIMENTO CONTA\r\n                    \r\n            BANCO ITAU S.A.\r\n        34191.09008  00122.130370      \r\n       50059.980008  5 86260000065000\r\n\r\nBENEF:   BENEFICIARIO AMBIENTE HOMOLOGA\r\nCPF/CNPJ:            21.568.259/0001-00\r\nPAGADOR:   PAGADOR AMBIENTE HOMOLOGACAO\r\nCPF/CNPJ:            96.906.497/0001-00\r\n----------------------------------------\r\nDATA DE VENCIMENTO           20/05/2021\r\nDATA DO PAGAMENTO            24/06/2021\r\nDATA DE LIQUIDACAO           24/06/2021\r\n67.03.D3.FF.B5.72.1F.B7E0.3B.97.1F.E7.53\r\n.93.4FVALOR TITULO650,00\r\nJUROS                             25,60\r\nMULTA                             13,00\r\nJUROS/MULTA                       44,39\r\nVALOR COBRADO                    688,60\r\n\r\n    VALIDO COMO RECIBO DE PAGAMENTO\r\n----------------------------------------\r\n              AUTENTICACAO\r\n        E0.3B.97.1F.E7.53.93.4F\r\n        67.03.D3.FF.B5.72.1F.B7\r\n----------------------------------------\r\n \r\nCONSULTE A AUTENTICA??O EM:\r\nCELCOIN.COM.BR/AUTENTICACAO\r\n\r\n"}},"additionalProperties":false},"ReceiptInternationalTopUps":{"type":"object","properties":{"receiptData":{"type":"string","description":"Dados do comprovante.","nullable":true,"example":""},"receiptformatted":{"type":"string","description":"Dados do comprovante formatado.","nullable":true,"example":"         PROTOCOLO 0007153443\r\n1          28/06/2021        12:26\r\nTERM 228005 AGENTE 228005 AUTE 06808\r\n----------------------------------------\r\nAUTO 971144       RECARGA INTERNACIONAL\r\nVALOR :R$ 20,00\r\nOPERADORA : DIGICEL HAITI BRL\r\nNUMERO : +50931687897\r\nMOEDA : BRL\r\nVALORLOCAL : 89.9200\r\nNSU : \r\n----------------------------------------\r\n\r\n"}},"additionalProperties":false},"ReceiptResponse":{"type":"object","properties":{"isExpired":{"type":"integer","description":"Define se o pagamento está vencido.","format":"int64","example":true},"convenant":{"type":"string","description":"Define qual foi o convenio liquidante","nullable":true,"example":"CELCOIN"},"authentication":{"type":"integer","description":"Autenticação Interna.","format":"int32","example":3470},"receipt":{"$ref":"#/components/schemas/Receipt"},"authenticationAPI":{"$ref":"#/components/schemas/AuthenticationAPI"},"settleDate":{"type":"string","description":"Data de liquidação.","format":"date-time","example":"2021-06-24T00:00:00"},"createDate":{"type":"string","description":"Data da transação.","format":"date-time","example":"2021-06-24T11:31:10"},"transactionId":{"type":"integer","description":"Código da transação.","format":"int32","example":7098104},"urlreceipt":{"type":"string","description":"URL do comprovante.","nullable":true,"example":"https://www.celcoin.com.br"},"errorCode":{"type":"string","description":"Código do status da operação de consulta.","nullable":true,"example":"000"},"message":{"type":"string","description":"Descrição do erro (não obrigatório).","nullable":true,"example":"SUCESSO"},"status":{"type":"integer","description":"Status da operação de consulta.","format":"int32","example":0}},"additionalProperties":false},"ReceiptTelesena":{"type":"object","properties":{"receiptData":{"type":"string","description":"Dados do comprovante.","nullable":true,"example":""},"receiptformatted":{"type":"string","description":"Dados do comprovante formatado.","nullable":true,"example":"          PROTOCOLO 0007154209\r\n1          28/06/2021        17:54\r\nTERM 228022 AGENTE 228018 AUTE 06484\r\n----------------------------------------\r\nAUTO 972273                   TELE SENA\r\n\r\n      LIDERANCA CAPITALIZACAO S/A.\r\n        CNPJ: 60.853.264/0001-10\r\n----------------------------------------\r\nN DO PEDIDO:              495-2778815-9\r\n\r\nESTE E O COMPROVANTE DE AQUISICAO\r\nDA SUA TELE SENA DIGITAL.\r\nNAO E O TITULO DE CAPITALIZACAO.\r\nPARA VISUALIZA-LO ACESSE O\r\nSITE WWW.TELESENA.COM.BR\r\n\r\nESTE COMPROVANTE NAO POSSUI\r\nVALOR COMERCIAL\r\nCONFIRA SEUS DADOS:\r\nCPF: 11122233344\r\nCLIENTE: PAULO DE MORAIS SANTOS\r\nTELEFONE: 11-993134307\r\n----------------------------------------\r\n       TELE SENA DE SAO JOAO/2021\r\n  PROC. SUSEP NO 15414.606132/2021-98\r\n      DATA DE RESGATE: 06/06/2022\r\n\r\nPRODUTO   SERIE       TITULO          DV\r\n----------------------------------------\r\n3         203         3555226         0 \r\n\r\nQUANTIDADE                            1\r\nVALOR UNITARIO                    12,00\r\nVALOR TOTAL                       12,00\r\n----------------------------------------\r\nAPROVADO PELA SUPERINTENDENCIA DE\r\nSEGUROS PRIVADOS - SUSEP.\r\nCONSULTE AS CONDICOES GERAIS E\r\nPREENCHA A FICHA DE CADASTRO OBRIGATORIA\r\nNO SITE WWW.TELESENA.COM.BR\r\n----------------------------------------\r\n              AUTENTICACAO\r\n        83.B7.71.2C.58.C6.4E.93\r\n        E0.EE.01.27.8C.E6.28.E0\r\n----------------------------------------\r\n\r\n"}},"additionalProperties":false},"ReceiptTopUps":{"type":"object","properties":{"receiptData":{"type":"string","description":"Dados do comprovante.","nullable":true,"example":""},"receiptformatted":{"type":"string","description":"Dados do comprovante formatado.","nullable":true,"example":"         PROTOCOLO 0007061967\r\n1          24/06/2021        11:31\r\nTERM 228005 AGENTE 228005 AUTE 03470\r\n----------------------------------------\r\nAUTO 985090                     RECARGA\r\n\r\nPRODUTO: TIM\r\nASSINANTE: STRING\r\nTELEFONE:  11 941497981\r\nNSU OPERADORA: 610761\r\nDATA:  24/06/2021 11:31\r\nVALOR: R$  15,00\r\n\r\nVIVO TURBO: INTERNET + LIGACOES E SMS\r\nILIMITADOS PARA VIVO (CEL E FIXO, USANDO\r\nO 15)APENAS R$9,99 POR SEMANA. LIGUE\r\n*9003 E CADASTRE SE!\r\n----------------------------------------\r\n\r\n"}},"additionalProperties":false},"ReceiptTransfer":{"type":"object","properties":{"receiptData":{"type":"string","description":"Dados do comprovante.","nullable":true,"example":""},"receiptformatted":{"type":"string","description":"Dados do comprovante formatado.","nullable":true,"example":"                 IS2B \r\n           PAGUESUACONTA.COM\r\n               IS2B TESTE\r\n          PROTOCOLO 0007110444\r\n1          24/06/2021        19:59\r\nTERM 228005 AGENTE 228005 AUTE 03973\r\n----------------------------------------\r\nAUTO 931554               TRANSFERENCIA\r\n \r\nCODIGO BANCO: 341\r\nAGENCIA: 371\r\nCONTA: 1232\r\nNOME: FULANO DE TAL\r\nCPF/CNPJ: 37141268804\r\nVALOR: 50,00\r\n \r\n----------------------------------------\r\n              AUTENTICACAO\r\n        66.90.12.35.14.7A.87.88\r\n        59.8F.C9.E5.BE.61.7B.06\r\n----------------------------------------\r\n"}},"additionalProperties":false},"RegionaisnameProviderClass":{"type":"object","additionalProperties":false},"RegisterData":{"type":"object","properties":{"documentRecipient":{"type":"string","description":"Cpf ou Cnpj do beneficiário.","nullable":true,"example":"21.568.259/0001-00"},"documentPayer":{"type":"string","description":"Cpf ou Cnpj do pagador.","nullable":true,"example":"96.906.497/0001-00"},"payDueDate":{"type":"string","description":"Data de baixa do boleto.","nullable":true,"example":"2031-05-25T00:00:00"},"nextBusinessDay":{"type":"string","description":"Próximo dia útil.","format":"date-time","example":"2021
[...]
