{"openapi":"3.1.0","info":{"title":"BaaS Account Manager","version":"2.0.0"},"servers":[{"url":"https://sandbox.openfinance.celcoin.dev/baas-accountmanager/v1/"}],"components":{"securitySchemes":{"sec0":{"type":"oauth2","flows":{}}}},"security":[{"sec0":[]}],"paths":{"/account/natural-person":{"put":{"summary":"Atualizar dados do Cliente PF","description":"Confira nosso tutorial -> https://developers.celcoin.com.br/docs/atualizar-dados-da-conta","operationId":"atualizar-dados-do-cliente","parameters":[{"name":"Account","in":"query","description":"Número da conta que deseja alterar.","schema":{"type":"string"}},{"name":"DocumentNumber","in":"query","description":"Número do CPF ou CNPJ da conta que deseja alterar.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["phoneNumber","email","address"],"properties":{"phoneNumber":{"type":"string","description":"Número telefone contato do titular da conta.","default":"11988887777"},"email":{"type":"string","description":"E-mail do titular da conta.","default":"baas@celcoin.com.br"},"socialName":{"type":"string","description":"Nome completo do titular da conta.","default":"Nome Social"},"isPoliticallyExposedPerson":{"type":"boolean","description":"Campo que identifica se o titular da conta é pessoa politicamente exposta."},"address":{"type":"object","required":["postalCode","street","neighborhood","city","state"],"properties":{"postalCode":{"type":"string","description":"Numero do CEP.","default":"099999001"},"street":{"type":"string","description":"Nome da rua.","default":"Rua"},"number":{"type":"string","description":"Numero do endereço.","default":"10"},"addressComplement":{"type":"string","description":"Complemento do endereço.","default":"Complemento"},"neighborhood":{"type":"string","description":"Nome do bairro.","default":"Bairro"},"city":{"type":"string","description":"Nome da Cidade.","default":"Cidade"},"state":{"type":"string","description":"Sigla do Estado referente ao endereço informado.","default":"Estado"},"longitude":{"type":"string","description":"Longitude refente ao endereço informado."},"latitude":{"type":"string","description":"Latitude refente ao endereço informado."}}}}},"examples":{"Request Example":{"value":{"phoneNumber":"+5511988887777","email":"email@email.com","socialName":"Nome","isPoliticallyExposedPerson":false,"address":{"postalCode":"06455030","street":"Alameda Xingu","number":"350","addressComplement":"CJ 1604","neighborhood":"Alphaville Industrial","city":"Barueri","state":"SP","longitude":"-466488","latitude":"-236288"}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"200\"\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"200"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api..\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api.."}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api..\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api.."}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api..\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api.."}}}}}}}}},"deprecated":false}},"/account/fetch":{"get":{"summary":"Retorna informações de conta PF","description":"Confira nosso tutorial -> https://developers.celcoin.com.br/docs/listar-contas","operationId":"retorna-informações-da-conta","parameters":[{"name":"Account","in":"query","description":"Número da conta que deseja buscar.","schema":{"type":"string"}},{"name":"DocumentNumber","in":"query","description":"Número do CPF da conta que deseja buscar.","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"0.1.0\",\n  \"status\": \"SUCCESS\",\n  \"body\": {\n    \"statusAccount\": \"ATIVO\",\n    \"documentNumber\": \"73122913097\",\n    \"phoneNumber\": \"+5511988887777\",\n    \"email\": \"email@email.com\",\n    \"motherName\": \"Nome Sobrenome\",\n    \"fullName\": \"Nome Sobrenome\",\n    \"socialName\": \"Nome\",\n    \"birthDate\": \"01-01-1990\",\n    \"address\": {\n      \"postalCode\": \"06455030\",\n      \"street\": \"Alameda Xingu\",\n      \"number\": \"350\",\n      \"addressComplement\": \"CJ 1604\",\n      \"neighborhood\": \"Alphaville Industrial\",\n      \"city\": \"Barueri\",\n      \"state\": \"SP\",\n      \"longitude\": \"-46.6488\",\n      \"latitude\": \"-23.6288\"\n    },\n    \"isPoliticallyExposedPerson\": false,\n    \"account\": {\n      \"branch\": \"1234\",\n      \"account\": \"123456\"\n    }\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"0.1.0"},"status":{"type":"string","example":"SUCCESS"},"body":{"type":"object","properties":{"statusAccount":{"type":"string","example":"ATIVO"},"documentNumber":{"type":"string","example":"73122913097"},"phoneNumber":{"type":"string","example":"+5511988887777"},"email":{"type":"string","example":"email@email.com"},"motherName":{"type":"string","example":"Nome Sobrenome"},"fullName":{"type":"string","example":"Nome Sobrenome"},"socialName":{"type":"string","example":"Nome"},"birthDate":{"type":"string","example":"01-01-1990"},"address":{"type":"object","properties":{"postalCode":{"type":"string","example":"06455030"},"street":{"type":"string","example":"Alameda Xingu"},"number":{"type":"string","example":"350"},"addressComplement":{"type":"string","example":"CJ 1604"},"neighborhood":{"type":"string","example":"Alphaville Industrial"},"city":{"type":"string","example":"Barueri"},"state":{"type":"string","example":"SP"},"longitude":{"type":"string","example":"-46.6488"},"latitude":{"type":"string","example":"-23.6288"}}},"isPoliticallyExposedPerson":{"type":"boolean","example":false,"default":true},"account":{"type":"object","properties":{"branch":{"type":"string","example":"1234"},"account":{"type":"string","example":"123456"}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api..\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api.."}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api..\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api.."}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api..\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api.."}}}}}}}}},"deprecated":false}},"/account/fetch-all":{"get":{"summary":"Retorna informações de varias contas PF","description":"Confira nosso tutorial -> https://developers.celcoin.com.br/docs/listar-contas","operationId":"retorna-informações-de-varias-contas","parameters":[{"name":"DateFrom","in":"query","description":"Data inicial do cadastro da conta.","required":true,"schema":{"type":"string"}},{"name":"DateTo","in":"query","description":"Data fim do cadastro da conta.","required":true,"schema":{"type":"string"}},{"name":"Limit","in":"query","description":"Total de contas na lista. De 1 até 200.  200","schema":{"type":"integer","format":"int32"}},{"name":"Page","in":"query","description":"Pagina de solicitaçao, default: 1.","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n   \"version\":\"1.0.0\",\n   \"status\":\"SUCCESS\",\n   \"totalItems\":200,\n   \"currentPage\":1,\n   \"totalPages\":10,\n   \"dateFrom\":\"2022-01-01\",\n   \"dateTo\":\"2022-01-01\",\n   \"subAccounts\":[\n      {\n         \"statusAccount\":\"ATIVO\",\n         \"documentNumber\":\"73122913097\",\n         \"phoneNumber\":\"+5511988887777\",\n         \"email\":\"email@email.com\",\n         \"motherName\":\"Nome Sobrenome\",\n         \"fullName\":\"Nome Sobrenome\",\n         \"socialName\":\"Nome\",\n         \"birthDate\":\"01-01-1990\",\n         \"address\":{\n            \"postalCode\":\"06455030\",\n            \"street\":\"Alameda Xingu\",\n            \"number\":\"350\",\n            \"addressComplement\":\"CJ 1604\",\n            \"neighborhood\":\"Alphaville Industrial\",\n            \"city\":\"Barueri\",\n            \"state\":\"SP\",\n            \"longitude\":\"-46.6488\",\n            \"latitude\":\"-23.6288\"\n         },\n         \"isPoliticallyExposedPerson\":false,\n         \"account\":{\n            \"branch\":\"1234\",\n            \"account\":\"123456\"\n         }\n      }\n   ]\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"SUCCESS"},"totalItems":{"type":"integer","example":200,"default":0},"currentPage":{"type":"integer","example":1,"default":0},"totalPages":{"type":"integer","example":10,"default":0},"dateFrom":{"type":"string","example":"2022-01-01"},"dateTo":{"type":"string","example":"2022-01-01"},"subAccounts":{"type":"array","items":{"type":"object","properties":{"statusAccount":{"type":"string","example":"ATIVO"},"documentNumber":{"type":"string","example":"73122913097"},"phoneNumber":{"type":"string","example":"+5511988887777"},"email":{"type":"string","example":"email@email.com"},"motherName":{"type":"string","example":"Nome Sobrenome"},"fullName":{"type":"string","example":"Nome Sobrenome"},"socialName":{"type":"string","example":"Nome"},"birthDate":{"type":"string","example":"01-01-1990"},"address":{"type":"object","properties":{"postalCode":{"type":"string","example":"06455030"},"street":{"type":"string","example":"Alameda Xingu"},"number":{"type":"string","example":"350"},"addressComplement":{"type":"string","example":"CJ 1604"},"neighborhood":{"type":"string","example":"Alphaville Industrial"},"city":{"type":"string","example":"Barueri"},"state":{"type":"string","example":"SP"},"longitude":{"type":"string","example":"-46.6488"},"latitude":{"type":"string","example":"-23.6288"}}},"isPoliticallyExposedPerson":{"type":"boolean","example":false,"default":true},"account":{"type":"object","properties":{"branch":{"type":"string","example":"1234"},"account":{"type":"string","example":"123456"}}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api..\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api.."}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api..\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api.."}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api..\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api.."}}}}}}}}},"deprecated":false}},"/account/status":{"put":{"summary":"Altera status da conta","description":"Confira nosso tutorial -> https://developers.celcoin.com.br/docs/desativar-excluir-a-conta","operationId":"altera-status-da-conta","parameters":[{"name":"Account","in":"query","description":"Número da conta que deseja alterar.","schema":{"type":"string"}},{"name":"DocumentNumber","in":"query","description":"Número do CPF ou CNPJ da conta que deseja alterar.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["status","reason"],"properties":{"status":{"type":"string","description":"Status da conta."},"reason":{"type":"string","description":"Motivo da alteração da conta."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"0.1.0\",\n  \"status\": \"SUCCESS\"\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"0.1.0"},"status":{"type":"string","example":"SUCCESS"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api..\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api.."}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api..\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api.."}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api..\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api.."}}}}}}}}},"deprecated":false}},"/account/close":{"delete":{"summary":"Encerra conta","description":"Confira nosso tutorial -> https://developers.celcoin.com.br/docs/desativar-excluir-a-conta","operationId":"encerra-conta","parameters":[{"name":"Account","in":"query","description":"Numero da conta que deseja encerrar.","schema":{"type":"string"}},{"name":"DocumentNumber","in":"query","description":"Numero do CPF OU CNPJ da conta que deseja encerrar.","schema":{"type":"string"}},{"name":"Reason","in":"query","description":"Motivo do encerramento da conta.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"0.1.0\",\n  \"status\": \"SUCCESS\"\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"0.1.0"},"status":{"type":"string","example":"SUCCESS"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api..\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api.."}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api..\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api.."}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api..\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api.."}}}}}}}}},"deprecated":false}},"/account/business":{"put":{"summary":"Atualizar dados do Cliente PJ","description":"Confira nosso tutorial -> https://developers.celcoin.com.br/docs/atualizar-dados-da-conta","operationId":"atualizar-dados-do-cliente-pj","parameters":[{"name":"Account","in":"query","description":"Número da conta que deseja alterar.","schema":{"type":"string"}},{"name":"DocumentNumber","in":"query","description":"Número do CPF ou CNPJ da conta que deseja alterar.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["businessEmail","contactNumber","owners","businessAddress"],"properties":{"businessEmail":{"type":"string","description":"Email","default":"email@email.com\""},"contactNumber":{"type":"string","description":"Telefone para contato.","default":"+551239215555"},"owners":{"type":"array","items":{"properties":{"documentNumber":{"type":"string","description":"Numero do CPF da conta.","default":"56461227123"},"fullName":{"type":"string","description":"Nome completo do representante legal da empresa."},"phoneNumber":{"type":"string","description":"Número telefone contato do representante legal da empresa."},"email":{"type":"string","description":"E-mail do representante legal da empresa."},"socialName":{"type":"string","description":"Nome que o representante legal da empresa gostaria de ser chamado."},"birthDate":{"type":"string","description":"Data de nascimento do representante legal da empresa."},"motherName":{"type":"string","description":"Nome mãe do representante legal da empresa."},"address":{"type":"object","required":["postalCode","street","neighborhood","city","state"],"properties":{"postalCode":{"type":"string","description":"Numero do CEP.","default":"099999001"},"street":{"type":"string","description":"Nome da rua.","default":"Rua"},"number":{"type":"string","description":"Numero do endereço.","default":"10"},"addressComplement":{"type":"string","description":"Complemento do endereço.","default":"Complemento"},"neighborhood":{"type":"string","description":"Nome do bairro.","default":"Bairro"},"city":{"type":"string","description":"Nome da Cidade.","default":"Cidade"},"state":{"type":"string","description":"Sigla do Estado referente ao endereço informado.","default":"Estado"},"longitude":{"type":"string","description":"Longitude refente ao endereço informado."},"latitude":{"type":"string","description":"Latitude refente ao endereço informado."}}},"isPoliticallyExposedPerson":{"type":"boolean","description":"Campo que identifica se o representante legal da empresa é pessoa politicamente exposta."}},"required":["documentNumber","fullName","phoneNumber","email","birthDate","motherName"],"type":"object"}},"businessAddress":{"type":"object","required":["postalCode","street","neighborhood","city","state"],"properties":{"postalCode":{"type":"string","description":"Numero do CEP.","default":"099999001"},"street":{"type":"string","description":"Nome da rua.","default":"Rua"},"number":{"type":"string","description":"Numero do endereço.","default":"10"},"addressComplement":{"type":"string","description":"Complemento do endereço.","default":"Complemento"},"neighborhood":{"type":"string","description":"Nome do bairro.","default":"Bairro"},"city":{"type":"string","description":"Nome da Cidade.","default":"Cidade"},"state":{"type":"string","description":"Sigla do Estado referente ao endereço informado.","default":"Estado"},"longitude":{"type":"string","description":"Longitude refente ao endereço informado."},"latitude":{"type":"string","description":"Latitude refente ao endereço informado."}}}}},"examples":{"Request Example":{"value":{"businessEmail":"email@email.com","contactNumber":"+551239215555","owners":[{"documentNumber":"56461227123","fullName":"Carlos Henrique da Silva","phoneNumber":"+5512981175554","email":"email@email.com","socialName":"Carlos","birthDate":"31-12-1984","motherName":"Celia Regina","address":{"postalCode":"12211400","street":"Rua das Andorinhas","number":"343","addressComplement":"proximo a lanchonete do zeca","neighborhood":"Vila dos Pombos","city":"São Paulo","state":"SP","longitude":"-466488","latitude":"-236288"},"isPoliticallyExposedPerson":false}],"businessAddress":{"postalCode":"12211400","street":"Rua das Andorinhas","number":"343","addressComplement":"proximo a lanchonete do zeca","neighborhood":"Vila dos Pombos","city":"São Paulo","state":"SP","longitude":"-466488","latitude":"-236288"}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"200\"\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"200"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api..\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api.."}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api..\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api.."}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api..\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api.."}}}}}}}}},"deprecated":false}},"/account/fetch-business":{"get":{"summary":"Retorna informações de conta PJ","description":"Confira nosso tutorial -> https://developers.celcoin.com.br/docs/listar-contas","operationId":"retorna-informações-de-conta-pj","parameters":[{"name":"Account","in":"query","description":"Número da conta que deseja buscar.","schema":{"type":"string"}},{"name":"DocumentNumber","in":"query","description":"Número do CNPJ da conta que deseja buscar.","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"SUCCESS\",\n  \"body\": {\n    \"statusAccount\": \"ATIVO\",\n    \"documentNumber\": \"87683664000180\",\n    \"clientCode\": \"123456\",\n    \"businessPhoneNumber\": \"+5512981175554\",\n    \"businessEmail\": \"email@email.com\",\n    \"createDate\": \"2022-08-01T10:00:01.0000000\",\n    \"businessName\": \"IP Pagamentos\",\n    \"tradingName\": \"IPay\",\n    \"owners\": [\n      {\n        \"documentNumber\": \"34335125070\",\n        \"phoneNumber\": \"+5512981175554\",\n        \"email\": \"email@email.com\",\n        \"fullName\": \"Iago Daniel Souza\",\n        \"socialName\": \"Iago Souza\",\n        \"birthDate\": \"15-07-1986\",\n        \"motherName\": \"Maria Eduarda\",\n        \"address\": {\n          \"postalCode\": \"12211400\",\n          \"street\": \"Rua das Andorinhas\",\n          \"number\": \"371\",\n          \"addressComplement\": \"Próximo a lanchonete do zeca\",\n          \"neighborhood\": \"Vila Zizinha\",\n          \"city\": \"São José dos Campos\",\n          \"state\": \"SP\",\n          \"longitude\": \"-46.6488\",\n          \"latitude\": \"-23.6288\"\n        },\n        \"isPoliticallyExposedPerson\": false\n      }\n    ],\n    \"businessAccount\": {\n      \"branch\": \"1234\",\n      \"account\": \"123456\"\n    },\n    \"businessAddress\": {\n      \"postalCode\": \"12211400\",\n      \"street\": \"Rua das Andorinhas\",\n      \"number\": \"371\",\n      \"addressComplement\": \"Próximo a lanchonete do zeca\",\n      \"neighborhood\": \"Vila Zizinha\",\n      \"city\": \"São José dos Campos\",\n      \"state\": \"SP\",\n      \"longitude\": \"-46.6488\",\n      \"latitude\": \"-23.6288\"\n    }\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"SUCCESS"},"body":{"type":"object","properties":{"statusAccount":{"type":"string","example":"ATIVO"},"documentNumber":{"type":"string","example":"87683664000180"},"clientCode":{"type":"string","example":"123456"},"businessPhoneNumber":{"type":"string","example":"+5512981175554"},"businessEmail":{"type":"string","example":"email@email.com"},"createDate":{"type":"string","example":"2022-08-01T10:00:01.0000000"},"businessName":{"type":"string","example":"IP Pagamentos"},"tradingName":{"type":"string","example":"IPay"},"owners":{"type":"array","items":{"type":"object","properties":{"documentNumber":{"type":"string","example":"34335125070"},"phoneNumber":{"type":"string","example":"+5512981175554"},"email":{"type":"string","example":"email@email.com"},"fullName":{"type":"string","example":"Iago Daniel Souza"},"socialName":{"type":"string","example":"Iago Souza"},"birthDate":{"type":"string","example":"15-07-1986"},"motherName":{"type":"string","example":"Maria Eduarda"},"address":{"type":"object","properties":{"postalCode":{"type":"string","example":"12211400"},"street":{"type":"string","example":"Rua das Andorinhas"},"number":{"type":"string","example":"371"},"addressComplement":{"type":"string","example":"Próximo a lanchonete do zeca"},"neighborhood":{"type":"string","example":"Vila Zizinha"},"city":{"type":"string","example":"São José dos Campos"},"state":{"type":"string","example":"SP"},"longitude":{"type":"string","example":"-46.6488"},"latitude":{"type":"string","example":"-23.6288"}}},"isPoliticallyExposedPerson":{"type":"boolean","example":false,"default":true}}}},"businessAccount":{"type":"object","properties":{"branch":{"type":"string","example":"1234"},"account":{"type":"string","example":"123456"}}},"businessAddress":{"type":"object","properties":{"postalCode":{"type":"string","example":"12211400"},"street":{"type":"string","example":"Rua das Andorinhas"},"number":{"type":"string","example":"371"},"addressComplement":{"type":"string","example":"Próximo a lanchonete do zeca"},"neighborhood":{"type":"string","example":"Vila Zizinha"},"city":{"type":"string","example":"São José dos Campos"},"state":{"type":"string","example":"SP"},"longitude":{"type":"string","example":"-46.6488"},"latitude":{"type":"string","example":"-23.6288"}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api..\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api.."}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api..\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api.."}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api..\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api.."}}}}}}}}},"deprecated":false}},"/account/fetch-all-business":{"get":{"summary":"Retorna informações de varias contas PJ","description":"Confira nosso tutorial -> https://developers.celcoin.com.br/docs/listar-contas","operationId":"retorna-informações-de-varias-contas-pj","parameters":[{"name":"DateFrom","in":"query","description":"Data inicial do cadastro da conta.","required":true,"schema":{"type":"string"}},{"name":"DateTo","in":"query","description":"Data fim do cadastro da conta.","required":true,"schema":{"type":"string"}},{"name":"Limit","in":"query","description":"Total de contas na lista. De 1 até 200.  200","schema":{"type":"integer","format":"int32"}},{"name":"Page","in":"query","description":"Pagina de solicitaçao, default: 1.","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"SUCCESS\",\n  \"totalItems\": 200,\n  \"currentPage\": 1,\n  \"limitPerPage\": 1,\n  \"totalPages\": 10,\n  \"dateFrom\": \"2022-01-01\",\n  \"dateTo\": \"2022-01-01\",\n  \"subAccounts\": [\n    {\n      \"statusAccount\": \"ATIVO\",\n      \"documentNumber\": \"87683664000180\",\n      \"clientCode\": \"123456\",\n      \"businessPhoneNumber\": \"+5512981175554\",\n      \"businessEmail\": \"email@email.com\",\n      \"createDate\": \"2022-08-01T10:00:01.0000000\",\n      \"businessName\": \"IP Pagamentos\",\n      \"tradingName\": \"IPay\",\n      \"owners\": [\n        {\n          \"documentNumber\": \"34335125070\",\n          \"phoneNumber\": \"+5512981175554\",\n          \"email\": \"email@email.com\",\n          \"fullName\": \"Iago Daniel Souza\",\n          \"socialName\": \"Iago Souza\",\n          \"birthDate\": \"15-07-1986\",\n          \"motherName\": \"Maria Eduarda\",\n          \"address\": {\n            \"postalCode\": \"12211400\",\n            \"street\": \"Rua das Andorinhas\",\n            \"number\": \"371\",\n            \"addressComplement\": \"Próximo a lanchonete do zeca\",\n            \"neighborhood\": \"Vila Zizinha\",\n            \"city\": \"São José dos Campos\",\n            \"state\": \"SP\",\n            \"longitude\": \"-46.6488\",\n            \"latitude\": \"-23.6288\"\n          },\n          \"isPoliticallyExposedPerson\": false\n        }\n      ],\n      \"businessAccount\": {\n        \"branch\": \"1234\",\n        \"account\": \"123456\"\n      },\n      \"businessAddress\": {\n        \"postalCode\": \"12211400\",\n        \"street\": \"Rua das Andorinhas\",\n        \"number\": \"371\",\n        \"addressComplement\": \"Próximo a lanchonete do zeca\",\n        \"neighborhood\": \"Vila Zizinha\",\n        \"city\": \"São José dos Campos\",\n        \"state\": \"SP\",\n        \"longitude\": \"-46.6488\",\n        \"latitude\": \"-23.6288\"\n      }\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"SUCCESS"},"totalItems":{"type":"integer","example":200,"default":0},"currentPage":{"type":"integer","example":1,"default":0},"limitPerPage":{"type":"integer","example":1,"default":0},"totalPages":{"type":"integer","example":10,"default":0},"dateFrom":{"type":"string","example":"2022-01-01"},"dateTo":{"type":"string","example":"2022-01-01"},"subAccounts":{"type":"array","items":{"type":"object","properties":{"statusAccount":{"type":"string","example":"ATIVO"},"documentNumber":{"type":"string","example":"87683664000180"},"clientCode":{"type":"string","example":"123456"},"businessPhoneNumber":{"type":"string","example":"+5512981175554"},"businessEmail":{"type":"string","example":"email@email.com"},"createDate":{"type":"string","example":"2022-08-01T10:00:01.0000000"},"businessName":{"type":"string","example":"IP Pagamentos"},"tradingName":{"type":"string","example":"IPay"},"owners":{"type":"array","items":{"type":"object","properties":{"documentNumber":{"type":"string","example":"34335125070"},"phoneNumber":{"type":"string","example":"+5512981175554"},"email":{"type":"string","example":"email@email.com"},"fullName":{"type":"string","example":"Iago Daniel Souza"},"socialName":{"type":"string","example":"Iago Souza"},"birthDate":{"type":"string","example":"15-07-1986"},"motherName":{"type":"string","example":"Maria Eduarda"},"address":{"type":"object","properties":{"postalCode":{"type":"string","example":"12211400"},"street":{"type":"string","example":"Rua das Andorinhas"},"number":{"type":"string","example":"371"},"addressComplement":{"type":"string","example":"Próximo a lanchonete do zeca"},"neighborhood":{"type":"string","example":"Vila Zizinha"},"city":{"type":"string","example":"São José dos Campos"},"state":{"type":"string","example":"SP"},"longitude":{"type":"string","example":"-46.6488"},"latitude":{"type":"string","example":"-23.6288"}}},"isPoliticallyExposedPerson":{"type":"boolean","example":false,"default":true}}}},"businessAccount":{"type":"object","properties":{"branch":{"type":"string","example":"1234"},"account":{"type":"string","example":"123456"}}},"businessAddress":{"type":"object","properties":{"postalCode":{"type":"string","example":"12211400"},"street":{"type":"string","example":"Rua das Andorinhas"},"number":{"type":"string","example":"371"},"addressComplement":{"type":"string","example":"Próximo a lanchonete do zeca"},"neighborhood":{"type":"string","example":"Vila Zizinha"},"city":{"type":"string","example":"São José dos Campos"},"state":{"type":"string","example":"SP"},"longitude":{"type":"string","example":"-46.6488"},"latitude":{"type":"string","example":"-23.6288"}}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api..\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api.."}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api..\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api.."}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api..\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api.."}}}}}}}}},"deprecated":false}},"/account/income-report":{"get":{"summary":"Consultar Informe de Rendimentos","description":"Confira nosso tutorial -> https://developers.celcoin.com.br/docs/informe-de-rendimentos","operationId":"consultar-informe-de-rendimentos","parameters":[{"name":"Account","in":"path","description":"Número da conta que deseja buscar.","schema":{"type":"string"},"required":true},{"name":"CalendarYear","in":"path","description":"Ano-calendario do Informe de rendimento .","schema":{"type":"string","default":"2023"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"SUCCESS\",\n  \"body\": {\n    \"payerSource\": {\n      \"name\": \"Celcoin Teste S/A\",\n      \"documentNumber\": \"123456\"\n    },\n    \"owner\": {\n      \"documentNumber\": \"34335125070\",\n      \"name\": \"Iago Daniel Souza\",\n      \"type\": \"NATURAL_PERSON\",\n      \"createDate\": \"15-07-1986\"\n    },\n    \"account\": {\n      \"branch\": \"1234\",\n      \"account\": \"123456\"\n    },\n    \"balances\": [\n      {\n        \"calendarYear\": \"2025\",\n        \"amount\": 10.5,\n        \"currency\": \"BRL\",\n        \"type\": \"SALDO\"\n      }\n    ],\n    \"incomeFile\": \"string\",\n    \"fileType\": \"string\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"SUCCESS"},"body":{"type":"object","properties":{"payerSource":{"type":"object","properties":{"name":{"type":"string","example":"Celcoin Teste S/A"},"documentNumber":{"type":"string","example":"123456"}}},"owner":{"type":"object","properties":{"documentNumber":{"type":"string","example":"34335125070"},"name":{"type":"string","example":"Iago Daniel Souza"},"type":{"type":"string","example":"NATURAL_PERSON"},"createDate":{"type":"string","example":"15-07-1986"}}},"account":{"type":"object","properties":{"branch":{"type":"string","example":"1234"},"account":{"type":"string","example":"123456"}}},"balances":{"type":"array","items":{"type":"object","properties":{"calendarYear":{"type":"string","example":"2025"},"amount":{"type":"number","example":10.5,"default":0},"currency":{"type":"string","example":"BRL"},"type":{"type":"string","example":"SALDO"}}}},"incomeFile":{"type":"string","example":"string"},"fileType":{"type":"string","example":"string"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api..\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api.."}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api..\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api.."}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api..\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api.."}}}}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}