{"openapi":"3.1.0","info":{"title":"Webhook Manager","version":"2.0.0"},"servers":[{"url":"https://sandbox.openfinance.celcoin.dev/webhook-manager-webservice/v2"}],"components":{"securitySchemes":{"sec0":{"type":"oauth2","flows":{}}}},"security":[{"sec0":[]}],"paths":{"/webhook/subscription":{"post":{"summary":"Cadastrar Webhook","description":"Confira nosso tutorial -> https://developers.celcoin.com.br/docs/gerenciamento-de-webhook","operationId":"cadastrar-webhook-copy","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["entity","webhookUrl"],"properties":{"entity":{"type":"string","description":"Identificador do Evento. (deverá ser: (pix-payment-out, pix-payment-in, pix-reversal-in, pix-reversal-out)","default":"onboarding-create"},"webhookUrl":{"type":"string","description":"Rota do Webhook."},"auth":{"type":"object","properties":{}},"context":{"type":"string","description":"Identificador do produto relacionado ao Webhook (deverá ser REDE,CORP,PIX,BAAS,PAGAMENTOS,ONBOARDING)"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"SUCCESS\",\n  \"body\": {\n    \"subscriptionId\": \"f7199df1-c0a7-4304-b577-f9dd96e6acf8\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"SUCCESS"},"body":{"type":"object","properties":{"subscriptionId":{"type":"string","example":"f7199df1-c0a7-4304-b577-f9dd96e6acf8"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}}},"deprecated":false},"get":{"summary":"Consultar Webhooks cadastrados.","description":"Confira nosso tutorial -> https://developers.celcoin.com.br/docs/gerenciamento-de-webhook","operationId":"consultar-webhooks-cadastrados-copy","parameters":[{"name":"Entity","in":"path","description":"Identificador do Evento.","schema":{"type":"string"},"required":true},{"name":"Active","in":"path","description":"Esta ativo ou nao.","schema":{"type":"boolean"},"required":true},{"name":"context","in":"path","description":"Identificador do produto relacionado ao Webhook (deverá ser REDE,CORP,PIX,BAAS,PAGAMENTOS,ONBOARDING)","schema":{"type":"string"},"required":true},{"name":"subscriptionid","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"SUCCESS\",\n  \"body\": {\n    \"entity\": \"string\",\n    \"context\": \"string\",  \n    \"webhookUrl\": \"string\",\n    \"active\": true,\n    \"createDate\": \"2023-03-02T17:18:34.602Z\",\n    \"lastUpdateDate\": \"2023-03-02T17:18:34.602Z\",\n    \"auth\": {\n      \"login\": \"string\",\n      \"pwd\": \"string\",\n      \"type\": \"string\"\n    }\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"SUCCESS"},"body":{"type":"object","properties":{"entity":{"type":"string","example":"string"},"context":{"type":"string","example":"string"},"webhookUrl":{"type":"string","example":"string"},"active":{"type":"boolean","example":true,"default":true},"createDate":{"type":"string","example":"2023-03-02T17:18:34.602Z"},"lastUpdateDate":{"type":"string","example":"2023-03-02T17:18:34.602Z"},"auth":{"type":"object","properties":{"login":{"type":"string","example":"string"},"pwd":{"type":"string","example":"string"},"type":{"type":"string","example":"string"}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}}},"deprecated":false,"requestBody":{"content":{"application/json":{"schema":{},"examples":{"Request Example":{"value":{"version":"1.0.0","status":"SUCCESS","body":{"entity":"string","webhookUrl":"string","active":true,"createDate":"2023-03-02T17:18:34.602Z","lastUpdateDate":"2023-03-02T17:18:34.602Z","auth":{"login":"string","pwd":"string","type":"string"}}}}}}}}}},"/webhook/subscription/{context}/{entity}":{"put":{"summary":"Editar Webhook cadastrado.","description":"Confira nosso tutorial -> https://developers.celcoin.com.br/docs/gerenciamento-de-webhook","operationId":"editar-webhook-cadastrado-copy","parameters":[{"name":"entity","in":"path","schema":{"type":"string"},"required":true},{"name":"context","in":"path","description":"Identificador do produto relacionado ao Webhook (deverá ser REDE,CORP,PIX,BAAS,PAGAMENTOS,ONBOARDING)","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["webhookUrl","subscriptionId"],"properties":{"webhookUrl":{"type":"string","description":"Rota do Webhook."},"auth":{"type":"object","properties":{}},"active":{"type":"boolean","description":"Esta ativo ou nao. true"},"subscriptionId":{"type":"string","description":"Identificador único do webhook cadastrado."}}},"examples":{"Request Example":{"value":{"webhookUrl":"string","auth":{"login":"login","pwd":"password","type":"basic"},"active":true,"subscriptionId":"64a340b7987ab1220a72ab66"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"SUCCESS\"\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"SUCCESS"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}}},"deprecated":false}},"/webhook/replay/{context}/{entity}":{"delete":{"summary":"Excluir Webhook cadastrado.","description":"Confira nosso tutorial -> https://developers.celcoin.com.br/docs/gerenciamento-de-webhook","operationId":"excluir-webhook-cadastrado-copy-1","parameters":[{"name":"entity","in":"path","schema":{"type":"string"},"required":true},{"name":"context","in":"path","description":"Identificador do produto relacionado ao Webhook (deverá ser REDE,CORP,PIX,BAAS,PAGAMENTOS,ONBOARDING)","schema":{"type":"string"},"required":true},{"name":"subscriptionid","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"\n  \"version\": \"1.0.0\",\n  \"status\": \"SUCCESS\"\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}}},"deprecated":false},"get":{"summary":"Consultar quantidade de webhooks enviados.","description":"","operationId":"consultar-quantidade-de-webhooks-enviados-copy","parameters":[{"name":"entity","in":"path","description":"Identificador do Evento do Webhook existente.","schema":{"type":"string"},"required":true},{"name":"DateFrom","in":"query","description":"Data inicial.","required":true,"schema":{"type":"string"}},{"name":"DateTo","in":"query","description":"Data final.","required":true,"schema":{"type":"string"}},{"name":"OnlyPending","in":"query","description":"Esta com envio pendente ou nao. false","schema":{"type":"boolean"}},{"name":"webhookId","in":"query","schema":{"type":"string"}},{"name":"context","in":"path","description":"Identificador do produto relacionado ao Webhook (deverá ser REDE,CORP,PIX,BAAS,PAGAMENTOS,ONBOARDING)","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"SUCCESS\",\n  \"body\": {\n    \"onlyPending\": true,\n    \"entity\": \"string\",\n    \"dateFrom\": \"2023-11-14T21:34:44.823Z\",\n    \"dateTo\": \"2023-11-14T21:34:44.823Z\",\n    \"totalItems\": 0\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"SUCCESS"},"body":{"type":"object","properties":{"onlyPending":{"type":"boolean","example":true,"default":true},"entity":{"type":"string","example":"string"},"dateFrom":{"type":"string","example":"2023-11-14T21:34:44.823Z"},"dateTo":{"type":"string","example":"2023-11-14T21:34:44.823Z"},"totalItems":{"type":"integer","example":0,"default":0}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}}},"deprecated":false,"requestBody":{"content":{"application/json":{"schema":{},"examples":{"Request Example":{"value":{"version":"1.0.0","status":"SUCCESS","body":{"onlyPending":true,"entity":"string","dateFrom":"2023-11-14T21:34:44.823Z","dateTo":"2023-11-14T21:34:44.823Z","totalItems":0}}}}}}}},"put":{"summary":"Reenvio de webhooks pendentes","description":"","operationId":"reenvio-de-webhooks-pendentes-copy","parameters":[{"name":"entity","in":"path","description":"Identificador do Evento do Webhook existente.","schema":{"type":"string"},"required":true},{"name":"DateFrom","in":"query","description":"Data inicial.","required":true,"schema":{"type":"string","default":"2023-11-03T06:30:00-03:00"}},{"name":"DateTo","in":"query","description":"Data final.","required":true,"schema":{"type":"string","default":"2023-11-03T06:30:00-03:00"}},{"name":"OnlyPending","in":"query","description":"Esta com envio pendente ou nao.","schema":{"type":"boolean"}},{"name":"webhookId","in":"query","description":"Identificador único do webhook","schema":{"type":"string"}},{"name":"context","in":"path","description":"Identificador do produto relacionado ao Webhook (deverá ser REDE,CORP,PIX,BAAS,PAGAMENTOS,ONBOARDING)","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"SUCCESS\",\n  \"body\": {\n    \"onlyPending\": true,\n    \"entity\": \"string\",\n    \"dateFrom\": \"2023-11-16T15:23:07.313Z\",\n    \"dateTo\": \"2023-11-16T15:23:07.313Z\",\n    \"totalItems\": 0\n\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"SUCCESS"},"body":{"type":"object","properties":{"onlyPending":{"type":"boolean","example":true,"default":true},"entity":{"type":"string","example":"string"},"dateFrom":{"type":"string","example":"2023-11-16T15:23:07.313Z"},"dateTo":{"type":"string","example":"2023-11-16T15:23:07.313Z"},"totalItems":{"type":"integer","example":0,"default":0}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}}},"deprecated":false,"requestBody":{"content":{"application/json":{"schema":{},"examples":{"Request Example":{"value":{"version":"1.0.0","status":"SUCCESS","body":{"onlyPending":true,"entity":"string","dateFrom":"2023-11-16T15:23:07.313Z","dateTo":"2023-11-16T15:23:07.313Z","totalItems":0,"limit":0,"currentPage":0,"limitPerPage":0,"totalPages":0,"webhookDetails":[{"webhookId":"fd744c5a-9dc5-4127-92b1-0856bcc97abb","httpStatusCode":200,"webhookUrl":"https://yourownurl.com.br/payment-out","request":"string","response":"string","status":"SUCCESS","createDate":"2023-11-03T06:30:00-03:00","lastUpdateDate":"2023-11-03T06:30:00-03:00","filter":{"documentNumber":"76217683555","account":"30053913781863","id":"13412341234","clientRequestId":"f3d1e8e9-48fa-46d8-9ea5-4c859e56b1e8"}}]}}}}}}}}},"/webhook​/replay​/{context}​/{entity}​/details":{"get":{"summary":"Consultar detalhes dos webhooks enviados.","description":"","operationId":"consultar-detalhes-dos-webhooks-enviados-copy","parameters":[{"name":"entity","in":"path","description":"Identificador do Evento do Webhook existente.","schema":{"type":"string"},"required":true},{"name":"DateFrom","in":"query","description":"Data inicial.","required":true,"schema":{"type":"string","default":"2023-11-03T06:30:00-03:00"}},{"name":"DateTo","in":"query","description":"Data final.","required":true,"schema":{"type":"string","default":"2023-11-03T06:30:00-03:00"}},{"name":"Page","in":"query","description":"Pagina de solicitaçao, default: 1.","schema":{"type":"integer","format":"int32","default":1}},{"name":"Limit","in":"query","description":"Limite geral da consulta. (Default value : 200)","schema":{"type":"integer","format":"int32","default":200}},{"name":"LimitPerPage","in":"query","description":"Total de webhooks por pagina.","schema":{"type":"integer","format":"int32","default":200}},{"name":"webhookId","in":"query","schema":{"type":"string"}},{"name":"OnlyPending","in":"query","description":"Esta com envio pendente ou nao.","schema":{"type":"boolean"}},{"name":"context","in":"path","description":"Identificador do produto relacionado ao Webhook (deverá ser REDE,CORP,PIX,BAAS,PAGAMENTOS,ONBOARDING)","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"SUCCESS\",\n  \"body\": {\n    \"onlyPending\": true,\n    \"entity\": \"string\",\n    \"dateFrom\": \"2023-11-16T15:23:07.313Z\",\n    \"dateTo\": \"2023-11-16T15:23:07.313Z\",\n    \"totalItems\": 0,\n    \"limit\": 0,\n    \"currentPage\": 0,\n    \"limitPerPage\": 0,\n    \"totalPages\": 0,\n    \"webhookDetails\": [\n      {\n        \"webhookId\": \"fd744c5a-9dc5-4127-92b1-0856bcc97abb\",\n        \"httpStatusCode\": 200,\n        \"webhookUrl\": \"https://yourownurl.com.br/payment-out\",\n        \"request\": \"string\",\n        \"response\": \"string\",\n        \"status\": \"SUCCESS\",\n        \"createDate\": \"2023-11-03T06:30:00-03:00\",\n        \"lastUpdateDate\": \"2023-11-03T06:30:00-03:00\",\n        \n      }\n    ]\n  }\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}}},"deprecated":false,"requestBody":{"content":{"application/json":{"schema":{},"examples":{"Request Example":{"value":{"version":"1.0.0","status":"SUCCESS","body":{"onlyPending":true,"entity":"string","dateFrom":"2023-11-16T15:23:07.313Z","dateTo":"2023-11-16T15:23:07.313Z","totalItems":0,"limit":0,"currentPage":0,"limitPerPage":0,"totalPages":0,"webhookDetails":[{"webhookId":"fd744c5a-9dc5-4127-92b1-0856bcc97abb","httpStatusCode":200,"webhookUrl":"https://yourownurl.com.br/payment-out","request":"string","response":"string","status":"SUCCESS","createDate":"2023-11-03T06:30:00-03:00","lastUpdateDate":"2023-11-03T06:30:00-03:00","filter":{"documentNumber":"76217683555","account":"30053913781863","id":"13412341234","clientRequestId":"f3d1e8e9-48fa-46d8-9ea5-4c859e56b1e8"}}]}}}}}}}}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}