{"openapi":"3.0.1","info":{"title":"OPEN FINANCE","description":"Gateway de Transações OpenFinance","version":"1.0.0"},"servers":[{"url":"https://sandbox.openfinance.celcoin.dev/openbanking/itp/v1"},{"url":"https://tpp.opb.celcoin.com.br"}],"paths":{"/brands":{"get":{"tags":["Marcas"],"summary":"Consultar marcas","description":"Retorna todas as marcas com escopo de pagamento.","responses":{"200":{"description":"Retorna as instituições do Open Finance.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Celcoin_OpenBankingDoador_ClientAPI.Models.AuthorisationServer.AuthorisationServerData"}}}}},"401":{"description":"Usuário não autorizado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Celcoin_OpenBankingDoador_ClientAPI.Models.ErrorModel"}}}},"500":{"description":"Exceção não esperada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Celcoin_OpenBankingDoador_ClientAPI.Models.ErrorModel"}}}}}}},"/payment":{"post":{"tags":["Pagamentos"],"summary":"Iniciar pagamento","description":"Cria o consentimento para realização do pagamento e retorna a URL de redirecionamento para a detentora de conta.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Celcoin_OpenBankingDoador_ClientAPI.Models.Payments.PreConsentPayment"}}}},"responses":{"200":{"description":"Retorna uma URL para realização da autenticação e confirmação na detentora de conta.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Celcoin_OpenBankingDoador_ClientAPI.Models.BaseResponse_1_Celcoin_OpenBankingDoador_ClientAPI.Models.PaymentConsentResponse_"}}}},"401":{"description":"Usuário não autorizado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Celcoin_OpenBankingDoador_ClientAPI.Models.ErrorModel"}}}},"500":{"description":"Exceção não esperada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Celcoin_OpenBankingDoador_ClientAPI.Models.ErrorModel"}}}}}}},"/debtor-payment-types":{"post":{"tags":["Pagamentos"],"summary":"Consultar tipos de pagamento","description":"Retorna os tipos de pagamentos aceitos pela instituição selecionada pelo usuário iniciador da transação.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Celcoin_OpenBankingDoador_ClientAPI.Models.Payments.PaymentTypeDetentorRequest"}}}},"responses":{"200":{"description":"Retorna os tipos de pagamentos aceitos pela organização detentora.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Celcoin_OpenBankingDoador_ClientAPI.Models.Payments.PaymentTypeResponse"}}}},"401":{"description":"Usuário não autorizado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Celcoin_OpenBankingDoador_ClientAPI.Models.ErrorModel"}}}},"500":{"description":"Exceção não esperada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Celcoin_OpenBankingDoador_ClientAPI.Models.ErrorModel"}}}}}}}},"components":{"schemas":{"Celcoin_OpenBankingDoador_ClientAPI.Models.Brand.BrandType":{"enum":["DATA","PAYMENT"],"type":"string"},"Celcoin_OpenBankingDoador_ClientAPI.Models.AuthorisationServer.InternalClass.PixFlowMethod":{"type":"object","properties":{"web":{"type":"boolean","description":"Indica se o fluxo de pagamento funciona utilizando um navegador web."},"mobile":{"type":"boolean","description":"Indica se o fluxo de pagamento funciona utilizando um dispositivo mobile."}},"additionalProperties":false},"Celcoin_OpenBankingDoador_ClientAPI.Models.AuthorisationServer.InternalClass.PixTypes":{"type":"object","properties":{"pixManu":{"$ref":"#/components/schemas/Celcoin_OpenBankingDoador_ClientAPI.Models.AuthorisationServer.InternalClass.PixFlowMethod"},"pixInic":{"$ref":"#/components/schemas/Celcoin_OpenBankingDoador_ClientAPI.Models.AuthorisationServer.InternalClass.PixFlowMethod"},"pixDict":{"$ref":"#/components/schemas/Celcoin_OpenBankingDoador_ClientAPI.Models.AuthorisationServer.InternalClass.PixFlowMethod"},"pixQrdn":{"$ref":"#/components/schemas/Celcoin_OpenBankingDoador_ClientAPI.Models.AuthorisationServer.InternalClass.PixFlowMethod"},"pixQres":{"$ref":"#/components/schemas/Celcoin_OpenBankingDoador_ClientAPI.Models.AuthorisationServer.InternalClass.PixFlowMethod"}},"additionalProperties":false,"description":"Tipos de pagamentos Pix."},"Celcoin_OpenBankingDoador_ClientAPI.Models.AuthorisationServer.InternalClass.Pix":{"type":"object","properties":{"available":{"type":"boolean","description":"Determina se o tipo de pagamento está disponível, ou seja, se a detentora de conta selecionada pelo usuário pagador possui a modal em questão."},"enabled":{"type":"boolean","description":"Determina se o tipo de pagamento está habilitado, ou seja, se está funcionando conforme previsto. Utilize para impedir a seleção pelo usuário pagador."},"types":{"$ref":"#/components/schemas/Celcoin_OpenBankingDoador_ClientAPI.Models.AuthorisationServer.InternalClass.PixTypes"}},"additionalProperties":false,"description":"Modal de pagamento Pix."},"Celcoin_OpenBankingDoador_ClientAPI.Models.AuthorisationServer.InternalClass.Invoice":{"type":"object","properties":{"available":{"type":"boolean","description":"Determina se o tipo de pagamento está disponível, ou seja, se a detentora de conta selecionada pelo usuário pagador possui a modal em questão."},"enabled":{"type":"boolean","description":"Determina se o tipo de pagamento está habilitado, ou seja, se está funcionando conforme previsto. Utilize para impedir a seleção pelo usuário pagador."}},"additionalProperties":false,"description":"Modal de pagamento Boleto."},"Celcoin_OpenBankingDoador_ClientAPI.Models.AuthorisationServer.InternalClass.Ted":{"type":"object","properties":{"available":{"type":"boolean","description":"Determina se o tipo de pagamento está disponível, ou seja, se a detentora de conta selecionada pelo usuário pagador possui a modal em questão."},"enabled":{"type":"boolean","description":"Determina se o tipo de pagamento está habilitado, ou seja, se está funcionando conforme previsto. Utilize para impedir a seleção pelo usuário pagador."}},"additionalProperties":false,"description":"Modal de pagamento Ted."},"Celcoin_OpenBankingDoador_ClientAPI.Models.AuthorisationServer.InternalClass.Tef":{"type":"object","properties":{"available":{"type":"boolean","description":"Determina se o tipo de pagamento está disponível, ou seja, se a detentora de conta selecionada pelo usuário pagador possui a modal em questão."},"enabled":{"type":"boolean","description":"Determina se o tipo de pagamento está habilitado, ou seja, se está funcionando conforme previsto. Utilize para impedir a seleção pelo usuário pagador."}},"additionalProperties":false,"description":"Modal de pagamento Tef."},"Celcoin_OpenBankingDoador_ClientAPI.Models.AuthorisationServer.InternalClass.DebitAccount":{"type":"object","properties":{"available":{"type":"boolean","description":"Determina se o tipo de pagamento está disponível, ou seja, se a detentora de conta selecionada pelo usuário pagador possui a modal em questão."},"enabled":{"type":"boolean","description":"Determina se o tipo de pagamento está habilitado, ou seja, se está funcionando conforme previsto. Utilize para impedir a seleção pelo usuário pagador."}},"additionalProperties":false,"description":"Modal de pagamento Débito em conta."},"Celcoin_OpenBankingDoador_ClientAPI.Models.AuthorisationServer.InternalClass.PaymentTypes":{"type":"object","properties":{"pix":{"$ref":"#/components/schemas/Celcoin_OpenBankingDoador_ClientAPI.Models.AuthorisationServer.InternalClass.Pix"},"invoice":{"$ref":"#/components/schemas/Celcoin_OpenBankingDoador_ClientAPI.Models.AuthorisationServer.InternalClass.Invoice"},"ted":{"$ref":"#/components/schemas/Celcoin_OpenBankingDoador_ClientAPI.Models.AuthorisationServer.InternalClass.Ted"},"tef":{"$ref":"#/components/schemas/Celcoin_OpenBankingDoador_ClientAPI.Models.AuthorisationServer.InternalClass.Tef"},"debitAccount":{"$ref":"#/components/schemas/Celcoin_OpenBankingDoador_ClientAPI.Models.AuthorisationServer.InternalClass.DebitAccount"}},"additionalProperties":false,"description":"Modais de pagamentos disponíveis."},"Celcoin_OpenBankingDoador_ClientAPI.Models.AuthorisationServer.AuthorisationServerData":{"type":"object","properties":{"brandId":{"type":"string","description":"Identificador da marca selecionada pelo usuário iniciador da transação.","nullable":true,"example":"7de48a55-f9d0-4ff5-b684-9e0b5396f96f"},"organisationId":{"type":"string","description":"Identificador da organização associada à marca selecionada pelo usuário iniciador da transação.","nullable":true,"example":"a72a6d4f-79be-5362-afb6-f8d9c9c39cf5"},"organisationName":{"type":"string","description":"Nome da Organização referente a marca.","nullable":true,"example":"INSTITUIÇÃO"},"customerFriendlyDescription":{"type":"string","description":"Descrição disponibilizada pela marca para exibição ao cliente.","nullable":true,"example":"Breve descrição da marca"},"customerFriendlyLogoUri":{"type":"string","description":"Logo disponibilizada pela marca para exibição ao cliente.","nullable":true,"example":"https://www.instituicao.com.br/naoseaplica.png"},"customerFriendlyName":{"type":"string","description":"Nome Fantasia da marca.","nullable":true,"example":"MARCA DA INSTITUIÇÃO"},"termsOfServiceUri":{"type":"string","description":"Uri dos termos de serviço.","nullable":true},"paymentTypes":{"$ref":"#/components/schemas/Celcoin_OpenBankingDoador_ClientAPI.Models.AuthorisationServer.InternalClass.PaymentTypes"}},"additionalProperties":false,"description":"Objeto de dados de um servidor de autorização."},"Celcoin_OpenBankingDoador_ClientAPI.Models.ErrorModel":{"type":"object","properties":{"errorCode":{"type":"integer","description":"Código do erro.","format":"int32"},"errorMessage":{"type":"string","description":"Descrição do erro.","nullable":true}},"additionalProperties":false},"Celcoin_OpenBankingDoador_ClientAPI.Enums.PaymentAccountTypeCreditor":{"enum":["CACC","SLRY","SVGS","TRAN"],"type":"string","description":"Tipo de conta do beneficiário.\r\nOs possíveis tipos são:\r\n1. CACC - Conta Corrente;\r\n2. SLRY - Conta-Salário;\r\n3. SVGS - Conta de Poupança; e\r\n4. TRAN - Conta de Pagamento pré-paga."},"Celcoin_OpenBankingDoador_ClientAPI.Enums.PaymentPersonType":{"enum":["NATURAL_PERSON","LEGAL_PERSON"],"type":"string","description":"Especifica se o beneficiário é pessoa física (NATURAL_PERSON) ou jurídica (LEGAL_PERSON)."},"Celcoin_OpenBankingDoador_ClientAPI.Enums.PixType":{"enum":["MANU","DICT","QRDN","QRES","INIC"],"type":"string","description":"Tipos de pix.\r\nOs possíveis tipos são:\r\n1. MANU - Inserção manual de dados da conta transacional;\r\n2. DICT - Inserção manual de chave Pix;\r\n3. QRDN - QR code dinâmico;\r\n4. QRES - QR code estático;\r\n5. INIC - Indica que o recebedor (creditor) contratou o Iniciador de Pagamentos especificamente para realizar iniciações de pagamento em que o beneficiário é previamente conhecido."},"Celcoin_OpenBankingDoador_ClientAPI.Models.Payments.PreConsentPayment":{"required":["amount","brandId","clientTransactionId","creditorAccountType","creditorDocument","creditorIspb","creditorIssuer","creditorName","creditorNumber","creditorPersonType","documentCpf","organisationId","payerName","pixType","redirectUrl"],"type":"object","properties":{"organisationId":{"type":"string","description":"Identificador da organização associada à marca selecionada pelo usuário iniciador da transação.","example":"6a77d0e5-462c-432d-9fa5-db9242aa2906"},"brandId":{"type":"string","description":"Identificador da marca selecionada pelo usuário iniciador da transação.","example":"f129d2ea-3675-4856-9800-7bda1e284f7b"},"redirectUrl":{"type":"string","description":"Destino para o qual o usuário iniciador da transação será redirecionado após retornar da detentora de conta.","example":"https://www.instituicao.com.br/"},"amount":{"type":"string","description":"Montante a ser debitado da conta do usuário iniciador da transação.","example":"0.01"},"payerName":{"type":"string","description":"Nome do usuário iniciador da transação.","example":"Maria"},"documentCpf":{"type":"string","description":"Número do documento CPF do usuário iniciador da transação.","example":"85899072016"},"creditorIspb":{"type":"string","description":"Código ISPB do beneficiário.","example":"00000237"},"creditorIssuer":{"type":"string","description":"Agência do beneficiário.","example":"9292"},"creditorNumber":{"type":"string","description":"Número de conta do beneficiário.","example":"292929"},"creditorPixKey":{"type":"string","description":"Chave Pix do beneficiário.","nullable":true},"creditorAccountType":{"$ref":"#/components/schemas/Celcoin_OpenBankingDoador_ClientAPI.Enums.PaymentAccountTypeCreditor"},"creditorPersonType":{"$ref":"#/components/schemas/Celcoin_OpenBankingDoador_ClientAPI.Enums.PaymentPersonType"},"creditorName":{"type":"string","description":"Nome do beneficiário.","example":"João"},"creditorDocument":{"type":"string","description":"Número do documento do beneficiário (CPF ou CNPJ).","example":"28271253077"},"qrCode":{"type":"string","description":"QrCode de pagamento.","nullable":true},"pixType":{"$ref":"#/components/schemas/Celcoin_OpenBankingDoador_ClientAPI.Enums.PixType"},"clientTransactionId":{"type":"string","description":"Identificação da transação que será retransmitida ao gerar a ordem de pagamento. Utilize para relacionar a transação de pagamento às suas operações internas.\r\n<br>Esse campo é obrigatório.<br>Esse campo possui tamanho máximo de 25 posições e aceita apenas caracteres alfanuméricos."},"documentCnpj":{"type":"string","description":"Número do documento CNPJ do usuário iniciador da transação. Em caso de transação de conta juridica.","nullable":true},"description":{"type":"string","description":"Pode ser utilizada sempre que o usuário iniciador do pagamento necessitar enviar alguma informação adicional ao beneficiário.\r\nEsse campo é opcional, possui tamanho máximo de 140 posições e aceita qualquer tipo de caractere (exceto especiais).","nullable":true}},"additionalProperties":false},"Celcoin_OpenBankingDoador_ClientAPI.Models.PaymentConsentResponse":{"type":"object","properties":{"urlAuthorize":{"type":"string","description":"Url de autorização para realizar o pagamento.","nullable":true}},"additionalProperties":false},"Celcoin_OpenBankingDoador_ClientAPI.Models.BaseResponse_1_Celcoin_OpenBankingDoador_ClientAPI.Models.PaymentConsentResponse_":{"type":"object","properties":{"version":{"type":"string","description":"Versão da aplicação.","nullable":true,"readOnly":true},"body":{"$ref":"#/components/schemas/Celcoin_OpenBankingDoador_ClientAPI.Models.PaymentConsentResponse"}},"additionalProperties":false},"Celcoin_OpenBankingDoador_ClientAPI.Models.Payments.PaymentTypeDetentorRequest":{"required":["brandId","organisationId"],"type":"object","properties":{"organisationId":{"type":"string","description":"Identificador da organização associada à marca selecionada pelo usuário iniciador da transação.","example":"a72a6d4f-79be-5362-afb6-f8d9c9c39cf5"},"brandId":{"type":"string","description":"Identificador da marca selecionada pelo usuário iniciador da transação.","example":"7de48a55-f9d0-4ff5-b684-9e0b5396f96f"}},"additionalProperties":false},"Celcoin_OpenBankingDoador_ClientAPI.Models.Payments.PaymentTypeResponse":{"type":"object","properties":{"paymentTypes":{"type":"array","items":{"type":"string"},"description":"Tipos de pagamento.","nullable":true}},"additionalProperties":false}},"securitySchemes":{"Bearer":{"type":"http","description":"Digite 'Bearer' seguida de seu token.","scheme":"bearer"}}},"security":[{"Bearer":[]}],"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}