{"openapi":"3.0.0","info":{"title":"OPEN-API-Escrow","version":"1.0.0"},"servers":[{"url":"https://sandbox.platform.credit.celcoin.com.br/escrow/api"}],"paths":{"/postings":{"post":{"tags":["postings"],"security":[{"bearer":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"accountId":{"type":"string"},"accountDestinationId":{"type":"string","nullable":true},"amount":{"type":"number","exclusiveMinimum":true,"minimum":0,"maximum":999999999999.99},"scheduledDate":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$"}},"required":["accountId","amount","scheduledDate"],"additionalProperties":false}}}},"parameters":[],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"],"additionalProperties":false}}}}}},"get":{"tags":["postings"],"security":[{"bearer":[]}],"parameters":[{"name":"status","in":"query","schema":{"type":"string","enum":["PENDING_APPROVAL","REJECTED","EXPIRED","SCHEDULED","EXECUTING","CANCELED","ERROR","SUCCESS"]},"required":false},{"name":"dateFrom","in":"query","schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$"},"required":false},{"name":"dateTo","in":"query","schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$"},"required":false},{"name":"taxpayerId","in":"query","schema":{"type":"string"},"required":false},{"name":"account","in":"query","schema":{"type":"string"},"required":false},{"name":"name","in":"query","schema":{"type":"string"},"required":false},{"name":"page","in":"query","schema":{"anyOf":[{"not":{}},{"type":"string"}]},"required":false},{"name":"size","in":"query","schema":{"anyOf":[{"not":{}},{"type":"string"}]},"required":false},{"name":"order","in":"query","schema":{"anyOf":[{"not":{}},{"type":"string","enum":["asc","desc","ASC","DESC"]}]},"required":false},{"name":"sort","in":"query","schema":{"type":"string","maxLength":25},"required":false},{"name":"search","in":"query","schema":{"type":"string","maxLength":100},"required":false}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"content":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string","enum":["PENDING_APPROVAL","REJECTED","EXPIRED","SCHEDULED","EXECUTING","CANCELED","ERROR","SUCCESS"]},"error":{"type":"string","nullable":true},"review":{"type":"object","properties":{"reviewedBy":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"fullName":{"type":"string"}},"required":["id","fullName"],"additionalProperties":false},"reviewedAt":{"type":"string"}},"required":["reviewedBy","reviewedAt"],"additionalProperties":false},"account":{"type":"object","properties":{"id":{"type":"string"},"branch":{"type":"string"},"account":{"type":"string"},"person":{"type":"object","properties":{"name":{"type":"string"},"taxpayerId":{"type":"string"}},"required":["name","taxpayerId"],"additionalProperties":false}},"required":["id","branch","account","person"],"additionalProperties":false},"accountDestination":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"bank":{"type":"string"},"branch":{"type":"string"},"account":{"type":"string"},"type":{"type":"string"},"taxpayerId":{"type":"string"}},"required":["id","name","bank","branch","account","type","taxpayerId"],"additionalProperties":false,"nullable":true},"billpaymentBeneficiary":{"type":"string","nullable":true},"billpaymentPayer":{"type":"string","nullable":true},"barCode":{"type":"string","nullable":true},"amount":{"type":"number"},"type":{"type":"string","enum":["PIX","TED","BOLETO"]},"scheduledDate":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}},"required":["id","status","account","amount","type","scheduledDate","createdAt"],"additionalProperties":false}},"hasNext":{"type":"boolean"},"totalElements":{"type":"number"},"totalPages":{"type":"number"}},"required":["content","hasNext","totalElements","totalPages"],"additionalProperties":false}}}}}}},"/postings/{postingId}":{"get":{"tags":["postings"],"security":[{"bearer":[]}],"parameters":[{"name":"postingId","in":"path","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string","enum":["PENDING_APPROVAL","REJECTED","EXPIRED","SCHEDULED","EXECUTING","CANCELED","ERROR","SUCCESS"]},"account":{"type":"object","properties":{"id":{"type":"string"},"branch":{"type":"string"},"account":{"type":"string"}},"required":["id","branch","account"],"additionalProperties":false},"accountDestination":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"bank":{"type":"string"},"branch":{"type":"string"},"account":{"type":"string"},"type":{"type":"string"}},"required":["id","name","bank","branch","account","type"],"additionalProperties":false,"nullable":true},"amount":{"type":"number"},"barCode":{"type":"string","nullable":true},"type":{"type":"string","enum":["PIX","TED","BOLETO"]},"scheduledDate":{"type":"string"},"review":{"type":"object","properties":{"reviewedBy":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"fullName":{"type":"string"}},"required":["id","fullName"],"additionalProperties":false},"reviewedAt":{"type":"string"}},"required":["reviewedBy","reviewedAt"],"additionalProperties":false},"cancel":{"type":"object","properties":{"canceledBy":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"fullName":{"type":"string"}},"required":["id","fullName"],"additionalProperties":false},"canceledAt":{"type":"string"}},"required":["canceledBy","canceledAt"],"additionalProperties":false},"executedAt":{"type":"string"},"error":{"type":"string","nullable":true}},"required":["id","status","account","amount","type","scheduledDate"],"additionalProperties":false}}}}}}},"/accounts":{"get":{"tags":["accounts"],"security":[{"bearer":[]}],"parameters":[{"name":"status","in":"query","schema":{"type":"string","enum":["CREATING","ERROR_CREATING","PENDING_ACTIVATION","ACTIVE","BLOCKING","ERROR_BLOCKING","UNBLOCKING","ERROR_UNBLOCKING","BLOCKED","CANCELING","ERROR_CANCELING","CANCELED"]},"required":false},{"name":"personId","in":"query","schema":{"type":"string","format":"uuid"},"required":false},{"name":"account","in":"query","schema":{"type":"string"},"required":false},{"name":"taxpayerId","in":"query","schema":{"anyOf":[{"type":"string","pattern":"^\\d{11}$"},{"type":"string","pattern":"^\\d{14}$"}]},"required":false},{"name":"creatorName","in":"query","schema":{"type":"string"},"required":false},{"name":"page","in":"query","schema":{"anyOf":[{"not":{}},{"type":"string"}]},"required":false},{"name":"size","in":"query","schema":{"anyOf":[{"not":{}},{"type":"string"}]},"required":false},{"name":"order","in":"query","schema":{"anyOf":[{"not":{}},{"type":"string","enum":["asc","desc","ASC","DESC"]}]},"required":false},{"name":"sort","in":"query","schema":{"type":"string","maxLength":25},"required":false},{"name":"search","in":"query","schema":{"type":"string","maxLength":100},"required":false}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"content":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"person":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"taxpayerId":{"type":"string"},"personType":{"type":"string","enum":["LEGAL","NATURAL"]}},"required":["id","name","taxpayerId","personType"],"additionalProperties":false},"creator":{"type":"object","properties":{"id":{"type":"string"},"fullName":{"type":"string"},"taxpayerId":{"type":"string"}},"required":["id","fullName","taxpayerId"],"additionalProperties":false},"createdAt":{"type":"string"},"account":{"type":"string","nullable":true},"error":{"type":"string","nullable":true},"status":{"type":"string","enum":["CREATING","ERROR_CREATING","PENDING_ACTIVATION","ACTIVE","BLOCKING","ERROR_BLOCKING","UNBLOCKING","ERROR_UNBLOCKING","BLOCKED","CANCELING","ERROR_CANCELING","CANCELED"]}},"required":["id","person","creator","createdAt","status"],"additionalProperties":false}},"hasNext":{"type":"boolean"},"totalElements":{"type":"number"},"totalPages":{"type":"number"}},"required":["content","hasNext","totalElements","totalPages"],"additionalProperties":false}}}}}}},"/accounts/{accountId}":{"get":{"tags":["accounts"],"security":[{"bearer":[]}],"parameters":[{"name":"accountId","in":"path","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string","enum":["CREATING","ERROR_CREATING","PENDING_ACTIVATION","ACTIVE","BLOCKING","ERROR_BLOCKING","UNBLOCKING","ERROR_UNBLOCKING","BLOCKED","CANCELING","ERROR_CANCELING","CANCELED"]},"branch":{"type":"string","nullable":true},"account":{"type":"string","nullable":true},"error":{"type":"string","nullable":true},"personId":{"type":"string"},"fees":{"type":"object","properties":{"mode":{"type":"string","enum":["DIRECT_DEBIT"]},"defaultPaymentType":{"type":"string","enum":["TED","BOLETO","PIX"],"nullable":true},"maintenance":{"type":"object","properties":{"day":{"type":"integer","minimum":1,"maximum":31},"amount":{"type":"number"}},"required":["day","amount"],"additionalProperties":false,"nullable":true},"deposit":{"type":"object","properties":{"amount":{"type":"number"}},"required":["amount"],"additionalProperties":false,"nullable":true},"withdrawal":{"type":"object","properties":{"amount":{"type":"number"}},"required":["amount"],"additionalProperties":false,"nullable":true},"tedTransfer":{"type":"object","properties":{"amount":{"type":"number"}},"required":["amount"],"additionalProperties":false,"nullable":true},"tedDeposit":{"type":"object","properties":{"amount":{"type":"number"}},"required":["amount"],"additionalProperties":false,"nullable":true}},"required":["mode"],"additionalProperties":false},"documents":{"type":"object","properties":{"openingAgreement":{"type":"string","nullable":true}},"additionalProperties":false},"person":{"type":"object","properties":{"taxpayerId":{"type":"string"},"corporateName":{"type":"string","nullable":true},"name":{"type":"string"},"foundationDate":{"type":"string","nullable":true},"birthDate":{"type":"string","nullable":true},"cnae":{"type":"string","nullable":true},"emailAddress":{"type":"string","format":"email"},"phone":{"type":"object","properties":{"countryCode":{"type":"string","pattern":"^\\+\\d{1,3}$"},"areaCode":{"type":"string"},"number":{"type":"string"}},"required":["countryCode","areaCode","number"],"additionalProperties":false},"address":{"type":"object","properties":{"streetName":{"type":"string","minLength":1,"maxLength":100},"streetNumber":{"type":"string","maxLength":10},"postalCode":{"type":"string","pattern":"^\\d{8}$"},"district":{"type":"string","minLength":1,"maxLength":100},"city":{"type":"string","minLength":1,"maxLength":100},"stateCode":{"type":"string","minLength":1,"maxLength":2},"countryCode":{"type":"string","minLength":3,"maxLength":3},"extraInfo":{"type":"string","maxLength":200,"nullable":true}},"required":["streetName","streetNumber","postalCode","district","city","stateCode","countryCode"],"additionalProperties":false},"personType":{"type":"string","enum":["LEGAL","NATURAL"]},"documents":{"type":"object","properties":{"incorporationCertificateUrl":{"type":"string","nullable":true},"proofOfAddressUrl":{"type":"string","nullable":true},"bylawsUrl":{"type":"string","nullable":true},"powerOfAttorneyUrl":{"type":"string","nullable":true},"incomeStatementUrl":{"type":"string","nullable":true},"lastContractAmendmentUrl":{"type":"string","nullable":true},"identificationUrl":{"type":"string","nullable":true}},"additionalProperties":false},"representatives":{"type":"array","items":{"type":"object","properties":{"role":{"type":"string","enum":["MANAGING_PARTNER","MANAGER","PARTNER","DIRECTOR","ATTORNEY_IN_FACT"]},"taxpayerId":{"type":"string"},"fullName":{"type":"string"},"motherName":{"type":"string"},"emailAddress":{"type":"string"},"birthDate":{"type":"string"},"phone":{"type":"object","properties":{"countryCode":{"type":"string","pattern":"^\\+\\d{1,3}$"},"areaCode":{"type":"string"},"number":{"type":"string"}},"required":["countryCode","areaCode","number"],"additionalProperties":false},"address":{"type":"object","properties":{"streetName":{"type":"string","minLength":1,"maxLength":100},"streetNumber":{"type":"string","maxLength":10},"postalCode":{"type":"string","pattern":"^\\d{8}$"},"district":{"type":"string","minLength":1,"maxLength":100},"city":{"type":"string","minLength":1,"maxLength":100},"stateCode":{"type":"string","minLength":1,"maxLength":2},"countryCode":{"type":"string","minLength":3,"maxLength":3},"extraInfo":{"type":"string","maxLength":200,"nullable":true}},"required":["streetName","streetNumber","postalCode","district","city","stateCode","countryCode"],"additionalProperties":false},"documents":{"type":"object","properties":{"identificationUrl":{"type":"string"},"proofOfAddressUrl":{"type":"string","nullable":true}},"required":["identificationUrl"],"additionalProperties":false},"signContract":{"type":"boolean"},"representative":{"type":"object","properties":{"taxpayerId":{"type":"string"},"fullName":{"type":"string"},"motherName":{"type":"string"},"emailAddress":{"type":"string"},"birthDate":{"type":"string"},"phone":{"type":"object","properties":{"countryCode":{"type":"string","pattern":"^\\+\\d{1,3}$"},"areaCode":{"type":"string"},"number":{"type":"string"}},"required":["countryCode","areaCode","number"],"additionalProperties":false},"address":{"type":"object","properties":{"streetName":{"type":"string","minLength":1,"maxLength":100},"streetNumber":{"type":"string","maxLength":10},"postalCode":{"type":"string","pattern":"^\\d{8}$"},"district":{"type":"string","minLength":1,"maxLength":100},"city":{"type":"string","minLength":1,"maxLength":100},"stateCode":{"type":"string","minLength":1,"maxLength":2},"countryCode":{"type":"string","minLength":3,"maxLength":3},"extraInfo":{"type":"string","maxLength":200,"nullable":true}},"required":["streetName","streetNumber","postalCode","district","city","stateCode","countryCode"],"additionalProperties":false},"documents":{"type":"object","properties":{"identificationUrl":{"type":"string"},"proofOfAddressUrl":{"type":"string","nullable":true}},"required":["identificationUrl"],"additionalProperties":false},"signContract":{"type":"boolean"}},"required":["taxpayerId","fullName","motherName","emailAddress","birthDate","phone","address","documents","signContract"],"additionalProperties":false}},"required":["role","taxpayerId","fullName","motherName","emailAddress","birthDate","phone","address","documents","signContract"],"additionalProperties":false}}},"required":["taxpayerId","name","emailAddress","phone","address","personType","documents","representatives"],"additionalProperties":false},"parties":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"person":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"businessType":{"type":"string","enum":["FUND","MANAGER","SECURITIZER","CONSULTANT","CUSTODIAN","ADMINISTRATOR","OTHERS"]},"name":{"type":"string"},"corporateName":{"type":"string","nullable":true},"taxpayerId":{"type":"string"},"representatives":{"type":"array","items":{"type":"object","properties":{"taxpayerId":{"type":"string"},"fullName":{"type":"string"},"signContract":{"type":"boolean"},"representative":{"type":"object","properties":{"taxpayerId":{"type":"string"},"fullName":{"type":"string"},"signContract":{"type":"boolean"}},"required":["taxpayerId","fullName","signContract"],"additionalProperties":false}},"required":["taxpayerId","fullName","signContract"],"additionalProperties":false}}},"required":["id","businessType","name","taxpayerId","representatives"],"additionalProperties":false},"signContract":{"type":"boolean"},"permissions":{"type":"array","items":{"type":"string","enum":["MANAGE_USER","VIEW_ACCOUNT","POSTING_CREATE","CREATE_APPROVED_POSTING","POSTING_REVIEW","POSTING_VIEW","CREATE_WALLET","VIEW_WALLET","UPDATE_WALLET","ARCHIVE_WALLET","CREATE_CHARGE","CANCEL_CHARGE","VIEW_CHARGE","UPDATE_CHARGE","CREATE_APPROVED"]}}},"required":["id","person","signContract","permissions"],"additionalProperties":false}},"destinations":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"taxpayerId":{"type":"string"},"name":{"type":"string"},"bank":{"type":"string"},"branch":{"type":"string"},"account":{"type":"string"},"type":{"type":"string"}},"required":["id","taxpayerId","name","bank","branch","account","type"],"additionalProperties":false}}},"required":["id","status","personId","documents","person","parties","destinations"],"additionalProperties":false}}}}}}}},"components":{"securitySchemes":{"bearer":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}