{"openapi":"3.0.1","info":{"title":"Integration BaaS API","description":"Documentacao para o Webservice de Pagamento de Contas, explicando e documentando de cada endpoint","version":"1.2.0"},"servers":[{"url":"https://sandbox.openfinance.celcoin.dev/baas/v2","description":"URL de Sandbox"}],"paths":{"/billpayment":{"post":{"tags":["Payment"],"summary":"Pagamento de conta.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/PaymentRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/PaymentRequest"}}}},"responses":{"200":{"description":"Ok","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentResponseCelcoinSuccessResponse"}}}},"400":{"description":"Error handled by the application","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentErrorResponse"}}}},"401":{"description":"Access Denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentErrorResponse"}}}},"500":{"description":"Unknown error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/billpayment/status":{"get":{"tags":["Payment"],"summary":"Status de um Pagamento de conta.","parameters":[{"name":"ClientRequestId","in":"query","description":"Identificador do cliente.","schema":{"type":"string","description":"Identificador do cliente.","nullable":true,"example":"5555"}},{"name":"Id","in":"query","description":"Identificador interno gerado pela Celcoin.","schema":{"type":"string","description":"Identificador interno gerado pela Celcoin.","nullable":true,"example":"ce9b8d9b-0617-42e1-b500-80bf9d8154cf"}}],"responses":{"200":{"description":"Ok","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentStatusResponseCelcoinSuccessResponse"}}}},"400":{"description":"Error handled by the application","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentErrorResponse"}}}},"401":{"description":"Access Denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentErrorResponse"}}}},"500":{"description":"Unknown error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"TagParty":{"type":"object","properties":{"key":{"type":"string","description":"Chave da meta tag","nullable":true,"example":"PaymentType"},"value":{"type":"string","description":"Valor da meta tag","nullable":true,"example":"Contas Internas"}},"additionalProperties":false},"BarCodeParty":{"type":"object","properties":{"digitable":{"type":"string","description":"Linha digitável -  Quando enviada não precisa ser enviado o campo BarCode","nullable":true,"example":"23793381286008301352856000063307789840000150000"},"barCode":{"type":"string","description":"Código de barras - Quando enviada não precisa ser enviado o campo Linha Digitavel","nullable":true,"example":"23797898400001500003381260083013525600006330"}},"additionalProperties":false},"PaymentRequest":{"required":["account","amount","barCodeInfo","clientRequestId","transactionIdAuthorize"],"type":"object","properties":{"clientRequestId":{"type":"string","description":"Identificador do cliente.","example":"5555"},"amount":{"type":"number","description":"Valor a ser pago.","format":"double","example":59.9},"account":{"type":"string","description":"Numero da conta a ser realizado o débito do boleto","example":"333333"},"transactionIdAuthorize":{"type":"integer","description":"ProtocoloId retornado no endpoint Authorize.","format":"int64","example":321},"tags":{"type":"array","items":{"$ref":"#/components/schemas/TagParty"},"description":"Meta tag da transacao.","nullable":true},"barCodeInfo":{"$ref":"#/components/schemas/BarCodeParty"}},"additionalProperties":false},"Error":{"type":"object","properties":{"errorCode":{"type":"string","description":"Código de erro gerado pela Celcoin.","nullable":true,"example":"CBE001"},"message":{"type":"string","description":"Mensagens de erro.","nullable":true,"example":"Ocorreu um erro interno durante a chamada da api."}},"additionalProperties":false},"ErrorResponse":{"type":"object","properties":{"version":{"type":"string","description":"Versão da api.","nullable":true,"readOnly":true,"example":"1.0.0"},"status":{"type":"string","description":"Status.","nullable":true,"readOnly":true,"example":"ERROR"},"error":{"$ref":"#/components/schemas/Error"}},"additionalProperties":false},"PaymentResponse":{"type":"object","properties":{"id":{"type":"string","description":"Identificador interno gerado pela Celcoin.","nullable":true,"example":"ce9b8d9b-0617-42e1-b500-80bf9d8154cf"},"clientRequestId":{"type":"string","description":"Identificador do cliente.","nullable":true,"example":"5555"},"amount":{"type":"number","description":"Valor a ser pago.","format":"double","nullable":true,"example":59.9},"transactionIdAuthorize":{"type":"integer","description":"ProtocoloId retornado no endpoint Authorize.","format":"int64"},"barCodeInfo":{"$ref":"#/components/schemas/BarCodeParty"}},"additionalProperties":false},"PaymentResponseCelcoinSuccessResponse":{"type":"object","properties":{"status":{"type":"string","description":"Status.","nullable":true,"example":"SUCCESS"},"version":{"type":"string","description":"Versão da api.","nullable":true,"readOnly":true,"example":"1.0.0"},"body":{"$ref":"#/components/schemas/PaymentResponse"}},"additionalProperties":false},"PaymentErrorResponse":{"type":"object","properties":{"version":{"type":"string","description":"Versão da api.","nullable":true,"readOnly":true,"example":"1.0.0"},"status":{"type":"string","description":"Status.","nullable":true,"readOnly":true,"example":"ERROR"},"error":{"$ref":"#/components/schemas/Error"}},"additionalProperties":false,"description":"Códigos de erros:   \r\n- PCE001 - É obirgatório informar o campo clientRequestId.\r\n- PCE002 - O campo account ultrapassou os 20 caracteres permitidos.\r\n- PCE003 - É obrigatório informar o campo account.\r\n- PCE004 - É necessário informar o campo barcodeInfo.digitable ou barcodeInfo.barcode.\r\n- PCE005 - Apenas um dos campos devem estar preenchido, barcodeInfo.digitable ou barcodeInfo.barcode.\r\n- PCE006 - Conta informada esta encerrada.\r\n- PCE007 - Conta informada esta bloqueada.\r\n- PCE008 - Conta informada esta com pendências no KYC.\r\n- PCE009 - O campo transactionIdAuthorize é obrigatório.\r\n- PCE010 - Conta não encontrada.\r\n- PCE011 - O campo clientRequestId não pode conter mais de 20 caracteres.\r\n- PCE012 - O campo amount esta inválido.\r\n- PCE013 - É obirgatório informar o campo amount.\r\n- PCE014 - O campo amount de ser a partir de 0.01.\r\n- PCE015 - Cliente não esta ativo para utilizar a Api.\r\n- PCE016 - É obirgatório informar o clientRequestId ou id.\r\n- PCE018 - Não foi encontrada nenhuma transação com os parâmetros informados.\r\n- PCE019 - Operação não realizada. Cliente não esta autorizado para esse produto.\r\n- PCE024 - Request fora do padrão. Favor verificar a documentação.\r\n- PCE025 - Já existe um pagamento com o mesmo clientRequestId.\r\n- PCE026 - Já existe um pagamento com o mesmo transactionIdAuthorize"},"PaymentStatusResponse":{"type":"object","properties":{"id":{"type":"string","description":"Identificador interno gerado pela Celcoin.","nullable":true,"example":"ce9b8d9b-0617-42e1-b500-80bf9d8154cf"},"clientRequestId":{"type":"string","description":"Identificador do cliente.","nullable":true,"example":"5555"},"account":{"type":"number","description":"Numero da conta onde ocorreu o débito.","format":"double","nullable":true,"example":59.9},"amount":{"type":"number","description":"Valor pago.","format":"double","nullable":true,"example":59.9},"transactionIdAuthorize":{"type":"integer","description":"ProtocoloId retornado no endpoint Authorize.","format":"int64"},"hasOccurrence":{"type":"boolean","description":"Caso exista uma ocorrencia no pagamento esta campo virá como true."},"paymentDate":{"type":"string","description":"Data e hora do pagamento.","format":"date-time","nullable":true,"example":"2022-08-31T17:19:55.0000000"}},"additionalProperties":false},"PaymentStatusResponseCelcoinSuccessResponse":{"type":"object","properties":{"status":{"type":"string","description":"Status.","nullable":true,"example":"SUCCESS"},"version":{"type":"string","description":"Versão da api.","nullable":true,"readOnly":true,"example":"1.0.0"},"body":{"$ref":"#/components/schemas/PaymentStatusResponse"}},"additionalProperties":false}},"securitySchemes":{"Bearer":{"type":"apiKey","description":"Schema JWT Bearer. \r\n\r\n Digite 'Bearer' [espaço] e digite o token no campo texto abaixo.\r\n\r\nExemplo: \"Bearer <meu token jwt>\"","name":"Authorization","in":"header"}}},"security":[{"Bearer":[]}],"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}