{"openapi":"3.0.1","info":{"title":"API PARA BANK AS A SERVICE - WALLET TRANSACTIONS","description":"Documentacao para o Webservice do BaaS Wallet Transactions, explicando e documentando de cada endpoint.","version":"v1"},"servers":[{"url":"https://sandbox.openfinance.celcoin.dev/baas-wallet-transactions-webservice/v1","description":"URL de Sandbox"}],"paths":{"/wallet/internal/transfer":{"post":{"tags":["Internal Transfer(TEF)"],"summary":"Inicia uma transferencia TEF.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalTransferRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/InternalTransferRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/InternalTransferRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalTransferSuccessResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalTransferErrorResponse"}}}},"401":{"description":"Access Denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeniedErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountNotFoundResponse"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalErrorResponse"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalServiceErrorResponse"}}}}}}},"/wallet/internal/transfer/status":{"get":{"tags":["Internal Transfer(TEF)"],"summary":"Verifica o Status de uma transação TEF por id ou clientCode.","description":"Endpoint destinado a consulta de status posterior ao recebimento de webhook ou em caso de muita demora para o recebimento da confirmação.\r\n<br /><br />\r\nNo resultado, serão apresentado até 3 tipos de status diferentes:\r\n- PROCESSING: Transação ainda em processamento;\r\n- CONFIRMED: Transação confirmada com sucesso;\r\n- ERROR: Transação com erro.Vide nó 'error' do payload de response para detalhes sobre o erro.","parameters":[{"name":"Id","in":"query","description":"Identificador da transação retornado na requisição de transfer.","schema":{"maxLength":36,"type":"string","example":"34fee7bc-4d40-4605-9af8-398ed7d0d6b5"},"example":"34fee7bc-4d40-4605-9af8-398ed7d0d6b5"},{"name":"ClientRequestId","in":"query","description":"Identificador único gerado pelo cliente.","schema":{"maxLength":200,"type":"string","example":"1458854"},"example":"1458854"},{"name":"EndToEndId","in":"query","description":"Identificador único gerado para rastrear a transferencia.","schema":{"maxLength":36,"type":"string","example":"1458854"},"example":"1458854"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalTransferSuccessResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalTransferErrorResponse"}}}},"401":{"description":"Access Denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeniedErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransferNotFoundResponse"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalErrorResponse"}}}}}}},"/wallet/entry/{account}":{"post":{"tags":["Lançamento"],"summary":"Novo lançamento.","description":"Gera um Lançamento de crédito ou débito para uma conta interna cadastrada.","parameters":[{"name":"account","in":"path","description":"Numero da conta de destino que deseja realizar o lançamento.","required":true,"schema":{"maxLength":20,"type":"string","example":"3000000101"},"example":"3000000101"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EntryRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/EntryRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/EntryRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EntrySuccessResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EntryErrorResponse"}}}},"401":{"description":"Access Denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeniedErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountNotFoundResponse"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalErrorResponse"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalServiceErrorResponse"}}}}}}},"/pix/participant":{"get":{"tags":["Pix Participant"],"summary":"Retorna as informações de listagem de participantes no Pix.","description":"Por default se não informar nenhum parametro de pesquisa, é retornado todos os participantes do Pix.","parameters":[{"name":"ISPB","in":"query","description":"Identificador do Participante Pix (ISPB - Identificador de Sistema de Pagamentos Brasileiro).","schema":{"type":"string","example":"4243780"},"example":"4243780"},{"name":"Name","in":"query","description":"Nome do participante Pix.","schema":{"maxLength":300,"type":"string","example":"Celcoin Pagamentos"},"example":"Celcoin Pagamentos"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PixParticipantSuccessResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PixParticipantErrorResponse"}}}},"401":{"description":"Access Denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeniedErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ParticipantNotFoundResponse"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalErrorResponse"}}}}}}},"/pix/payment":{"post":{"tags":["Pix Transaction"],"summary":"Inicia um pagamento ou transferência Pix.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PixPaymentRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/PixPaymentRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/PixPaymentRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PixPaymentSuccessResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PixPaymentErrorResponse"}}}},"401":{"description":"Access Denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeniedErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountNotFoundResponse"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalErrorResponse"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalServiceErrorResponse"}}}}}}},"/pix/payment/status":{"get":{"tags":["Pix Transaction"],"summary":"Verifica o Status de uma transação Pix por id, clientCode, ou endtoendId.","description":"Endpoint destinado a consulta de status posterior ao recebimento de webhook ou em caso de muita demora para o recebimento da confirmação.\r\n<br /><br />\r\nNo resultado, serão apresentado até 3 tipos de status diferentes:\r\n- PROCESSING: Transação ainda em processamento;\r\n- CONFIRMED: Transação confirmada com sucesso;\r\n- ERROR: Transação com erro.Vide nó 'error' do payload de response para detalhes sobre o erro.","parameters":[{"name":"id","in":"query","description":"Identificador da transação retornado na requisição de payment.","schema":{"maxLength":36,"type":"string","example":"34fee7bc-4d40-4605-9af8-398ed7d0d6b5"},"example":"34fee7bc-4d40-4605-9af8-398ed7d0d6b5"},{"name":"clientCode","in":"query","description":"Identificador único gerado pelo cliente.","schema":{"maxLength":200,"type":"string","example":"1458854"},"example":"1458854"},{"name":"endToEndId","in":"query","description":"Identificador ponta-a-ponta associado ao pagamento.","schema":{"maxLength":32,"type":"string","example":"E3030629420200808185300887639654"},"example":"E3030629420200808185300887639654"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PixPaymentStatusSuccessResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PixPaymentStatusErrorResponse"}}}},"401":{"description":"Access Denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeniedErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PixPaymentNotFoundResponse"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalErrorResponse"}}}}}}},"/pix/reverse":{"post":{"tags":["Pix Transaction"],"summary":"Cria uma transação de devolução de um pix recebido.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PixReverseRequestJsonBody"}},"text/json":{"schema":{"$ref":"#/components/schemas/PixReverseRequestJsonBody"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/PixReverseRequestJsonBody"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PixReverseSuccessResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PixReverseErrorResponse"}}}},"401":{"description":"Access Denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeniedErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PixPaymentNotFoundResponse"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalErrorResponse"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalServiceErrorResponse"}}}}}}},"/pix/reverse/status":{"get":{"tags":["Pix Transaction"],"summary":"Verifica o Status de uma devolução Pix por id ou endtoendId.","description":"Endpoint destinado a consulta de status posterior ao recebimento de webhook ou em caso de muita demora para o recebimento da confirmação.\r\n<br /><br />\r\nNo resultado, serão apresentado até 3 tipos de status diferentes:\r\n- PROCESSING: Transação ainda em processamento;\r\n- CONFIRMED: Transação confirmada com sucesso;\r\n- ERROR: Transação com erro.Vide nó 'error' do payload de response para detalhes sobre o erro.","parameters":[{"name":"id","in":"query","description":"Identificador da transação retornado na requisição de payment.","schema":{"type":"string","example":"34fee7bc-4d40-4605-9af8-398ed7d0d6b5"},"example":"34fee7bc-4d40-4605-9af8-398ed7d0d6b5"},{"name":"clientCode","in":"query","description":"Identificador único gerado pelo cliente.","schema":{"maxLength":200,"type":"string","example":"1458854"},"example":"1458854"},{"name":"returnIdentification","in":"query","description":"Identificador ponta-a-ponta associado a devolução pix.","schema":{"type":"string","example":"D3030629420200808185300887639654"},"example":"D3030629420200808185300887639654"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PixReverseStatusSuccessResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PixReverseStatusErrorResponse"}}}},"401":{"description":"Access Denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeniedErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PixReverseNotFoundResponse"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalErrorResponse"}}}}}}},"/spb/transfer":{"post":{"tags":["Transfer"],"summary":"Inicia uma transferencia TED.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransferRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/TransferRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/TransferRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransferSuccessResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransferErrorResponse"}}}},"401":{"description":"Access Denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeniedErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountNotFoundResponse"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalErrorResponse"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalServiceErrorResponse"}}}}}}},"/spb/transfer/status":{"get":{"tags":["Transfer"],"summary":"Verifica o Status de uma transação TED por id ou clientCode.","description":"Endpoint destinado a consulta de status posterior ao recebimento de webhook ou em caso de muita demora para o recebimento da confirmação.\r\n<br /><br />\r\nNo resultado, serão apresentado até 3 tipos de status diferentes:\r\n- PROCESSING: Transação ainda em processamento;\r\n- CONFIRMED: Transação confirmada com sucesso;\r\n- ERROR: Transação com erro.Vide nó 'error' do payload de response para detalhes sobre o erro.","parameters":[{"name":"id","in":"query","description":"Identificador da transação retornado na requisição de transfer.","schema":{"maxLength":200,"type":"string","example":"34fee7bc-4d40-4605-9af8-398ed7d0d6b5"},"example":"34fee7bc-4d40-4605-9af8-398ed7d0d6b5"},{"name":"clientCode","in":"query","description":"Identificador único gerado pelo cliente.","schema":{"maxLength":200,"type":"string","example":"1458854"},"example":"1458854"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransferStatusSuccessResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransferStatusErrorResponse"}}}},"401":{"description":"Access Denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeniedErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransferNotFoundResponse"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalErrorResponse"}}}}}}}},"components":{"schemas":{"AccountNotFoundResponse":{"type":"object","properties":{"version":{"type":"string","description":"Versão da api.","nullable":true,"example":"1.0.0"},"status":{"type":"string","description":"Status.","nullable":true,"example":"ERROR"},"error":{"$ref":"#/components/schemas/Error"}},"additionalProperties":false,"description":"Códigos de erros:\r\n- CBE030 - Não encontramos nenhuma conta através do parâmetro informado."},"CreditParty":{"required":["account"],"type":"object","properties":{"account":{"maxLength":20,"minLength":1,"type":"string","description":"Número da conta de destino (Quem irá receber).","example":"444444"}},"additionalProperties":false},"CreditPartyPixPayment":{"required":["account","accountType","bank","branch","name","taxId"],"type":"object","properties":{"bank":{"maxLength":8,"type":"string","description":"Identificador do Banco de destino (ISPB - Identificador de Sistema de Pagamentos Brasileiro).","example":"30306294"},"key":{"maxLength":77,"type":"string","description":"Chave Pix.","nullable":true,"example":"5244f4e-15ff-413d-808d-7837652ebdc2"},"account":{"maxLength":20,"type":"string","description":"Número da Conta de destino (Quem irá receber).","example":"10545584"},"branch":{"maxLength":4,"type":"string","description":"Número da agência de destino.","example":"10545584"},"taxId":{"type":"string","description":"Número do documento (CPF ou CNPJ) da conta de destino.","example":"11122233344"},"name":{"maxLength":120,"type":"string","description":"Nome da conta de destino\r\n- Regex para NATURAL_PERSON: ^([A-Za-zÀ-ÖØ-öø-ÿ' -]+)$\r\n- Regex para LEGAL_PERSON: ^([A-Za-zÀ-ÖØ-öø-ÿ,.@:&*+_<>()!?/\\$%\\d' -]+)$","example":"Celcoin"},"accountType":{"type":"string","description":"Tipo de Conta Pix.\r\n- CACC - Normal ou contas digitais\r\n- TRAN - Conta de pagamentos\r\n- SLRY - Conta salario\r\n- SVGS - Conta poupança","example":"CACC"}},"additionalProperties":false},"CreditPartyTransfer":{"required":["account","accountType","bank","branch","name","personType","taxId"],"type":"object","properties":{"bank":{"maxLength":8,"type":"string","description":"Identificador do Banco de destino (ISPB - Identificador de Sistema de Pagamentos Brasileiro).","example":"30306294"},"account":{"maxLength":20,"type":"string","description":"Número da Conta de destino (Quem irá receber).","example":"10545584"},"branch":{"maxLength":4,"type":"string","description":"Número da agência de destino.","example":"10545584"},"taxId":{"type":"string","description":"Número do documento (CPF ou CNPJ) da conta de destino.","example":"11122233344"},"name":{"maxLength":120,"type":"string","description":"Nome da conta de destino\r\n- Regex para NATURAL_PERSON: ^([A-Za-zÀ-ÖØ-öø-ÿ' -]+)$\r\n- Regex para LEGAL_PERSON: ^([A-Za-zÀ-ÖØ-öø-ÿ,.@:&*+_<>()!?/\\$%\\d' -]+)$","example":"Celcoin"},"accountType":{"type":"string","description":"Tipo de Conta.\r\n- CC - Conta Corrente\r\n- CD - Conta de Depósito\r\n- CG - Conta Garantida\r\n- CI - Conta Investimento\r\n- PG - Conta de Pagamento\r\n- PP - Conta Poupança","example":"CC"},"personType":{"type":"string","description":"Tipo de Pessoa.\r\n- F - Fisica\r\n- J - juridica","example":"F"}},"additionalProperties":false},"DebitParty":{"required":["account"],"type":"object","properties":{"account":{"maxLength":20,"minLength":1,"type":"string","description":"Número da conta de origem (Quem irá pagar).","example":"444444"}},"additionalProperties":false},"DebitPartyPixPayment":{"required":["account"],"type":"object","properties":{"account":{"maxLength":20,"minLength":1,"type":"string","description":"Número da conta de origem (Quem irá pagar).","example":"444444"}},"additionalProperties":false},"DebitPartyTransfer":{"required":["account"],"type":"object","properties":{"account":{"maxLength":20,"minLength":1,"type":"string","description":"Número da conta de origem (Quem irá pagar).","example":"444444"}},"additionalProperties":false},"DeniedErrorResponse":{"type":"object","properties":{"version":{"type":"string","description":"Versão da api.","nullable":true,"example":"1.0.0"},"status":{"type":"string","description":"Status.","nullable":true,"example":"ERROR"},"error":{"$ref":"#/components/schemas/Error"}},"additionalProperties":false,"description":"Códigos de erros:   \r\n- CBE028 - Credenciais inválidas."},"EntryErrorResponse":{"type":"object","properties":{"version":{"type":"string","description":"Versão da api.","nullable":true,"example":"1.0.0"},"status":{"type":"string","description":"Status.","nullable":true,"example":"ERROR"},"error":{"$ref":"#/components/schemas/Error"}},"additionalProperties":false,"description":"Códigos de erros:\r\n- CBE091 - É necessário informar o campo: account.\r\n- CBE039 - Account invalido.\r\n- CBE041 - Account possui tamanho maximo de 20 caracteres\r\n- CBE092 - Lançamento não permitido.Conta esta encerrada.\r\n- CBE001 - ClientCode é obrigatório.\r\n- CBE093 - ClientCode possui tamanho maximo de 200 caracteres.\r\n- CBE094 - amount é obrigatório.\r\n- CBE095 - amount invalido. Favor verificar a formatação do campo e deve ser maior que 0.\r\n- CBE096 - type é obrigatório e deve ser do tipo CREDIT ou DEBIT.\r\n- CBE097 - description possui tamanho maximo de 250 caracteres.\r\n- CBE098 - Lançamento de debito não permitido.Conta com saldo insuficiente.\r\n- CBE099 - Lançamento de credito não permitido.Instituição com saldo insuficiente.\r\n- CBE100 - Existe um lançamento idêntico pendente.Favor aguarde para realizar esta operação para evitar duplicidade.\r\n- CBE101 - Já existe um lançamento com o mesmo clientCode. Favor realizar uma nova operação.\r\n- CBE102 - Lançamento de debito não permitido.Valor ultrapassa o limite maximo permitido por operação.\r\n- CBE103 - Lançamento de credito não permitido.Valor ultrapassa o limite maximo permitido por operação.\r\n- CBE104 - Lançamento de debito não permitido.Valor ultrapassa o limite maximo permitido por periodo.\r\n- CBE105 - Lançamento de credito não permitido.Valor ultrapassa o limite maximo permitido por periodo."},"EntryRequest":{"required":["amount","clientCode","type"],"type":"object","properties":{"clientCode":{"maxLength":200,"minLength":1,"type":"string","description":"Identificador unico fornecido pelo cliente.","example":"f9b978a6-ab7e-4460-997d-2a5b2f30a956"},"amount":{"type":"number","description":"Valor do lançamento.","format":"double","example":10.12},"type":{"type":"string","description":"Tipo do lançamento (Crédito ou Débito).\r\n- CREDIT\r\n- DEBIT","example":"CREDIT"},"description":{"maxLength":250,"type":"string","description":"Breve descrição do lançamento.","nullable":true,"example":"Resgate de saldo"},"tags":{"type":"array","items":{"$ref":"#/components/schemas/TagRequest"},"description":"Lista de tags para categorizar a transação.","nullable":true}},"additionalProperties":false},"EntrySuccessResponse":{"type":"object","properties":{"status":{"type":"string","description":"Status do lançamento.\r\n- PROCESSING\r\n- CONFIRMED\r\n- ERROR","default":"CONFIRMED","nullable":true,"example":"CONFIRMED"},"version":{"type":"string","description":"Versão do sistema.","nullable":true,"example":"1.0.0"},"body":{"$ref":"#/components/schemas/EntrySuccessResponseBody"}},"additionalProperties":false},"EntrySuccessResponseBody":{"type":"object","properties":{"id":{"maxLength":200,"type":"string","description":"Identificador unico do lançamento gerado pela Celcoin.","nullable":true,"example":"34fee7bc-4d40-4605-9af8-398ed7d0d6b5"},"clientCode":{"maxLength":200,"type":"string","description":"Identificador unico fornecido pelo cliente.","nullable":true,"example":"34fee7bc-4d40-4605-9af8-398ed7d0d6b5"}},"additionalProperties":false},"Error":{"type":"object","properties":{"errorCode":{"type":"string","description":"Código de erro gerado pela Celcoin.","nullable":true,"example":"CIE999"},"message":{"type":"string","description":"Mensagem de erro.","nullable":true,"example":"Ocorreu um erro interno durante a chamada da api."}},"additionalProperties":false},"ExternalServiceErrorResponse":{"type":"object","properties":{"version":{"type":"string","description":"Versão da api.","nullable":true,"example":"1.0.0"},"status":{"type":"string","description":"Status.","nullable":true,"example":"ERROR"},"error":{"$ref":"#/components/schemas/Error"}},"additionalProperties":false,"description":"Códigos de erros:\r\n- CIE998 - transação em processamento, favor consultar o status para validar se foi confirmado ou cancelado."},"InternalErrorResponse":{"type":"object","properties":{"version":{"type":"string","description":"Versão da api.","nullable":true,"example":"1.0.0"},"status":{"type":"string","description":"Status.","nullable":true,"example":"ERROR"},"error":{"$ref":"#/components/schemas/Error"}},"additionalProperties":false,"description":"Códigos de erros:   \r\n- CIE999 - Ocorreu um erro interno durante a chamada da api."},"InternalTransferErrorResponse":{"type":"object","properties":{"version":{"type":"string","description":"Versão da api.","nullable":true,"example":"1.0.0"},"status":{"type":"string","description":"Status.","nullable":true,"example":"ERROR"},"error":{"$ref":"#/components/schemas/Error"}},"additionalProperties":false,"description":"Códigos de erros:\r\n- CBE094 - amount é obrigatório.\r\n- CBE095 - amount invalido.Favor verificar a formatação do campo e deve ser maior que 0.\r\n- CBE100 - Existe um lançamento idêntico pendente.Favor aguarde para realizar esta operação para evitar duplicidade.\r\n- CBE101 - Já existe um lançamento com o mesmo clientCode. Favor realizar uma nova operação.\r\n- CBE102 - Lançamento de debito não permitido.Valor ultrapassa o limite maximo permitido por operação.\r\n- CBE107 - debitParty é obrigatório.\r\n- CBE108 - debitparty.account é obrigatório.\r\n- CBE109 - debitparty.account invalido.\r\n- CBE110 - debitparty.account possui tamanho maximo de 20 caracteres.\r\n- CBE115 - creditParty é obrigatório.\r\n- CBE116 - creditparty.account é obrigatório.\r\n- CBE117 - creditparty.account invalido.\r\n- CBE118 - creditparty.account possui tamanho maximo de 20 caracteres.\r\n- CBE123 - Transação não permitida.Conta com saldo insuficiente.\r\n- CBE124 - Lançamento não permitido. debit.account esta encerrada.\r\n- CBE125 - Lançamento não permitido. credit.account esta encerrada.\r\n- CBE147 - Lançamento não permitido. debit.account esta bloqueada.\r\n- CBE148 - Lançamento não permitido. credit.account esta bloqueada.\r\n- CBE261 - clientRequestId é obrigatório.\r\n- CBE308 - clientRequestId possui tamanho máximo de 200 caracteres.\r\n- CBE312 - Não é permitido enviar TEF para a mesma conta.\r\n- CBE314 - debitparty.account não encontrada.\r\n- CBE315 - creditparty.account não encontrada.\r\n- CBE328 - Cliente da conta de credito não esta ativo para utilizar a Api.\r\n- CBE329 - É necessário informar pelo menos um dos campos: id ou clientrequestid.\r\n- CBE332 - Parametro Id ultrapassou o limite maximo de 36 caracteres."},"InternalTransferRequest":{"required":["amount","clientRequestId","creditParty","debitParty"],"type":"object","properties":{"amount":{"type":"number","description":"Valor da transação.","format":"double","example":25.55},"clientRequestId":{"maxLength":200,"type":"string","description":"Identificador único gerado pelo cliente.","example":"1458854"},"debitParty":{"$ref":"#/components/schemas/DebitParty"},"creditParty":{"$ref":"#/components/schemas/CreditParty"},"description":{"maxLength":250,"type":"string","nullable":true}},"additionalProperties":false},"InternalTransferSuccessResponse":{"type":"object","properties":{"status":{"type":"string","description":"Status da solicitação.","nullable":true,"example":"PROCESSING"},"version":{"type":"string","description":"Versão do sistema.","nullable":true,"example":"1.0.0"},"body":{"$ref":"#/components/schemas/InternalTransferSuccessResponseBody"}},"additionalProperties":false},"InternalTransferSuccessResponseBody":{"type":"object","properties":{"id":{"type":"string","description":"Identificador único da Transferencia gerado pela Celcoin.","nullable":true,"example":"34fee7bc-4d40-4605-9af8-398ed7d0d6b5"},"amount":{"type":"number","description":"Valor da transação.","format":"float"},"clientRequestId":{"type":"string","description":"Identificador unico gerado pelo cliente.","nullable":true,"example":"1458854"},"endToEndId":{"type":"string","nullable":true},"debitParty":{"$ref":"#/components/schemas/InternalTransferSuccessResponseDebitParty"},"creditParty":{"$ref":"#/components/schemas/InternalTransferSuccessResponseCreditParty"},"description":{"type":"string","description":"Descricao da TEF","nullable":true,"example":"transferencia para o churrasco"}},"additionalProperties":false},"InternalTransferSuccessResponseCreditParty":{"type":"object","properties":{"account":{"type":"string","description":"Número da Conta de destino (Quem irá receber).","nullable":true,"example":"10545584"},"taxId":{"type":"string","description":"Número do documento (CPF ou CNPJ) da conta de destino.","nullable":true,"example":"11122233344"},"name":{"type":"string","nullable":true},"branch":{"type":"string","nullable":true},"bank":{"type":"string","nullable":true}},"additionalProperties":false},"InternalTransferSuccessResponseDebitParty":{"type":"object","properties":{"account":{"type":"string","description":"Número da conta de origem (Quem irá pagar).","nullable":true,"example":"444444"},"taxId":{"type":"string","description":"Número do documento (CPF ou CNPJ) da conta de origem.","nullable":true,"example":"11122233344"},"name":{"type":"string","nullable":true},"branch":{"type":"string","nullable":true},"bank":{"type":"string","nullable":true}},"additionalProperties":false},"ParticipantNotFoundResponse":{"type":"object","properties":{"version":{"type":"string","description":"Versão da api.","nullable":true,"example":"1.0.0"},"status":{"type":"string","description":"Status.","nullable":true,"example":"ERROR"},"error":{"$ref":"#/components/schemas/Error"}},"additionalProperties":false,"description":"Códigos de erros:\r\n- CBE162 - Não encontramos nenhum participante através do parâmnetro informado."},"PixParticipantErrorResponse":{"type":"object","properties":{"version":{"type":"string","description":"Versão da api.","nullable":true,"example":"1.0.0"},"status":{"type":"string","description":"Status.","nullable":true,"example":"ERROR"},"error":{"$ref":"#/components/schemas/Error"}},"additionalProperties":false,"description":"Códigos de erros:\r\n- CBE164 - ISPB invalido.\r\n- CBE165 - name possui tamanho maximo de 300 caracteres."},"PixParticipantSuccessResponse":{"type":"object","properties":{"status":{"type":"string","description":"Status da solicitação.","nullable":true,"example":"SUCCESS"},"version":{"type":"string","description":"Versão do sistema.","nullable":true,"example":"1.0.0"},"body":{"type":"array","items":{"$ref":"#/components/schemas/PixParticipantSuccessResponseBody"},"nullable":true}},"additionalProperties":false},"PixParticipantSuccessResponseBody":{"type":"object","properties":{"date":{"type":"string","description":"Data de inclusão do participante no Pix.","format":"date-time","example":"2020-11-03T06:30:00-03:00"},"type":{"type":"string","description":"Tipo de participante, DIRETO ou INDIRETO.","nullable":true,"example":"IDRT"},"name":{"type":"string","description":"Nome do Participante.","nullable":true,"example":"Celcoin"},"startOperationDatetime":{"type":"string","description":"Data de operação.","format":"date-time","example":"2020-11-03T06:30:00-03:00"},"ispb":{"type":"string","description":"Identificador do Participante Pix (ISPB - Identificador de Sistema de Pagamentos Brasileiro).","nullable":true,"example":"04243780"}},"additionalProperties":false},"PixPaymentErrorResponse":{"type":"object","properties":{"version":{"type":"string","description":"Versão da api.","nullable":true,"example":"1.0.0"},"status":{"type":"string","description":"Status.","nullable":true,"example":"ERROR"},"error":{"$ref":"#/components/schemas/Error"}},"additionalProperties":false,"description":"Códigos de erros:\r\n- CBE001 - ClientCode é obrigatório.\r\n- CBE093 - ClientCode possui tamanho maximo de 200 caracteres.\r\n- CBE094 - amount é obrigatório.\r\n- CBE095 - amount invalido.Favor verificar a formatação do campo e deve ser maior que 0.\r\n- CBE100 - Existe um lançamento idêntico pendente.Favor aguarde para realizar esta operação para evitar duplicidade.\r\n- CBE101 - Já existe um lançamento com o mesmo clientCode. Favor realizar uma nova operação.\r\n- CBE102 - Lançamento de debito não permitido.Valor ultrapassa o limite maximo permitido por operação.\r\n- CBE107 - debitParty é obrigatório.\r\n- CBE108 - debitparty.account é obrigatório.\r\n- CBE109 - debitparty.account invalido.\r\n- CBE110 - debitparty.account possui tamanho maximo de 20 caracteres.\r\n- CBE115 - creditParty é obrigatório.\r\n- CBE116 - creditparty.account é obrigatório.\r\n- CBE117 - creditparty.account invalido.\r\n- CBE118 - creditparty.account possui tamanho maximo de 20 caracteres.\r\n- CBE119 - creditParty.branch é obrigatório.\r\n- CBE120 - creditParty.branch invalido.\r\n- CBE121 - creditParty.taxId é obrigatório.\r\n- CBE122 - creditParty.taxId invalido.\r\n- CBE123 - Transação não permitida.Conta com saldo insuficiente.\r\n- CBE124 - Lançamento não permitido.debit.account esta encerrada.\r\n- CBE126 - creditParty.bank é obrigatório e deve existir na lista de participantes Pix.\r\n- CBE127 - creditParty.name é obrigatório e possui tamanho maximo de 120 caracteres.\r\n- CBE128 - creditParty.accountType não foi informado ou é invalido.\r\n- CBE129 - remittanceInformation possui tamanho máximo de 140 caracteres.\r\n- CBE130 - initiationType invalido.\r\n- CBE131 - paymentType invalido.\r\n- CBE132 - urgency invalido.\r\n- CBE133 - transactionType invalido.\r\n- CBE134 - Campo transactionIdentification é de uso exclusivo para pagamentos de QRCodes. InitiationType STATIC_QRCODE ou DYNAMIC_QRCODE.\r\n- CBE135 - Campo transactionIdentification é de preenchimento obrigatório para pagamentos de QRCodes. InitiationType DYNAMIC_QRCODE.\r\n- CBE136 - Quando initiationType igual a STATIC_QRCODE o campo transactionIdentification não pode ultrapassar 25 caracteres.\r\n- CBE137 - Quando initiationType igual a DYNAMIC_QRCODE o campo transactionIdentification não pode ultrapassar 35 caracteres.\r\n- CBE138 - Já existe uma transação com o mesmo endToEndId. Favor realizar uma nova operação.\r\n- CBE139 - Quando initiationType igual a DICT os campos endToEndId e credityParty.key se tornam obrigatórios.\r\n- CBE140 - Quando initiationType igual a STATIC_QRCODE o campo credityParty.key se torna obrigatório.\r\n- CBE141 - Quando initiationType igual a DYNAMIC_QRCODE o campo credityParty.key se torna obrigatório.\r\n- CBE142 - Quando initiationType igual a MANUAL o campo credityParty.key não deve ser informado.\r\n- CBE143 - Quando paymentType está preenchido com Valor SCHEDULED, o campo urgency deve ser preenchido com valor NORMAL.\r\n- CBE144 - Quando paymentType está preenchido com Valor IMMEDIATE ou FRAUD, o campo urgency deve ser preenchido com valor HIGH.\r\n- CBE145 - Tipo de iniciação de pagamento não permitido.Para mais informações, entre em contato com o nosso suporte.\r\n- CBE146 - endToEndId invalido.\r\n- CBE159 - Lançamento não permitido.Sua conta esta bloqueada."},"PixPaymentNotFoundResponse":{"type":"object","properties":{"version":{"type":"string","description":"Versão da api.","nullable":true,"example":"1.0.0"},"status":{"type":"string","description":"Status.","nullable":true,"example":"ERROR"},"error":{"$ref":"#/components/schemas/Error"}},"additionalProperties":false,"description":"Códigos de erros:\r\n- CBE106 - Não encontramos nenhuma transação através do parâmetro informado."},"PixPaymentRequest":{"required":["amount","clientCode","creditParty","debitParty"],"type":"object","properties":{"amount":{"type":"number","description":"Valor da transação.","format":"double","example":25.55},"clientCode":{"maxLength":200,"minLength":1,"type":"string","description":"Identificador único gerado pelo cliente.","example":"1458854"},"transactionIdentification":{"type":"string","description":"Identificador único retornado durante a leitura do BRCode.\r\n- Exemplos de preenchimento:\r\n- Se initiationType igual a MANUAL ou DICT, esse campo não deve ser informado,\r\n- Se initiationType igual a STATIC_QRCODE, esse campo se torna obrigatório e com tamanho maximo permitido de 25 caracteres.\r\n- Se initiationType igual a DYNAMIC_QRCODE, esse campo se torna obrigatório e com tamanho maximo permitido entre 26 a 35 caracteres.","nullable":true,"example":"dc8cf02b81b54bd59323453b207e704a"},"endToEndId":{"type":"string","description":"Identificador ponta-a-ponta associado ao pagamento.\r\n- Exemplos de preenchimento:\r\n- Se initiationType igual a MANUAL, esse campo não deve ser informado pois o mesmo sera gerado pela Celcoin.\r\n- Se initiationType diferente de MANUAL, esse campo deve ser recuperado pelo endpoint /pix/dict/{key}.","nullable":true,"example":"E3030629420200808185300887639654"},"initiationType":{"type":"string","description":"Tipo de iniciação do pagamento\r\n- Regras de preenchimento:\r\n- MANUAL: Pagamento via dados transacionais da conta. (creditParty.key, endToEndId, e transactionIdentification, não devem ser informados).\r\n- DICT: Pagamento via chave. (Campos obrigatórios : creditParty.key, e endToEndId.transactionIdentification não deve ser informado).\r\n- STATIC_QRCODE: Pagamento via BRCode estatico. (Campos obrigatórios : creditParty.key, endToEndId, e transactionIdentification).\r\n- DYNAMIC_QRCODE: Pagamento via BRCode dinamico. (Campos obrigatórios : creditParty.key, endToEndId, e transactionIdentification).","default":"MANUAL","nullable":true,"example":"MANUAL"},"paymentType":{"type":"string","description":"Tipo de pagamento\r\n- IMMEDIATE: Usado para pagamentos imediatos.\r\n- FRAUD: Usado para pagamento por suspeita de fraude.\r\n- SCHEDULED: Usado apenas para pagamentos agendados.","default":"IMMEDIATE","nullable":true,"example":"IMMEDIATE"},"urgency":{"type":"string","description":"Determina a urgencia do pagamento\r\n- HIGH - usado para pagamentos imediatos.\r\n- NORMAL - usado para pagamentos agendados.","default":"HIGH","nullable":true,"example":"HIGH"},"transactionType":{"type":"string","description":"Tipo da transação Pix\r\n- TRANSFER: Usado para pagamentos imediatos.","default":"TRANSFER","nullable":true,"example":"TRANSFER"},"debitParty":{"$ref":"#/components/schemas/DebitPartyPixPayment"},"creditParty":{"$ref":"#/components/schemas/CreditPartyPixPayment"},"remittanceInformation":{"maxLength":140,"type":"string","description":"Determina um texto a ser apresentado ao pagador para que ele possa inserir uma informação correlacionada, em formato livre, para ser enviada ao destinatário. Se presente durante a leitura do Dynamic BRCode deve ser preservado e informado aqui.","nullable":true,"example":"Texto de mensagem"}},"additionalProperties":false},"PixPaymentStatusErrorResponse":{"type":"object","properties":{"version":{"type":"string","description":"Versão da api.","nullable":true,"example":"1.0.0"},"status":{"type":"string","description":"Status.","nullable":true,"example":"ERROR"},"error":{"$ref":"#/components/schemas/Error"}},"additionalProperties":false,"description":"Códigos de erros:\r\n- CBE150 - É necessário informar pelo menos um dos campos: id, clientCode, ou endtoendId."},"PixPaymentStatusSuccessResponse":{"type":"object","properties":{"status":{"type":"string","description":"Status da transação pix\r\n- PROCESSING: Transação ainda em processamento\r\n- CONFIRMED: Transação confirmada com sucesso\r\n- ERROR: Transação com erro.Vide nó 'error' do payload de response para detalhes sobre o erro","nullable":true,"example":"CONFIRMED"},"version":{"type":"string","description":"Versão do sistema.","nullable":true,"example":"1.0.0"},"body":{"$ref":"#/components/schemas/PixPaymentStatusSuccessResponseBody"}},"additionalProperties":false},"PixPaymentStatusSuccessResponseBody":{"type":"object","properties":{"id":{"type":"string","description":"Identificador único da Transação Pix gerado pela Celcoin.","nullable":true,"example":"34fee7bc-4d40-4605-9af8-398ed7d0d6b5"},"amount":{"type":"number","description":"Valor da transação.","format":"float","nullable":true,"example":25.55},"clientCode":{"type":"string","description":"Identificador unico gerado pelo cliente.","nullable":true,"example":"1458854"},"transactionIdentification":{"type":"string","description":"Identificador único retornado durante a leitura do BRCode\r\n- Exemplos de preenchimento:\r\n- Se initiationType igual a MANUAL ou DICT, esse campo não deve ser informado;\r\n- Se initiationType igual a STATIC_QRCODE, esse campo se torna obrigatório e com tamanho maximo permitido de 25 caracteres.\r\n- Se initiationType igual a DYNAMIC_QRCODE, esse campo se torna obrigatório e com tamanho maximo permitido entre 26 a 35 caracteres.","nullable":true,"example":"dc8cf02b81b54bd59323453b207e704a"},"endToEndId":{"type":"string","description":"Identificador ponta-a-ponta associado ao pagamento.\r\n- Exemplos de preenchimento:\r\n- Se initiationType igual a MANUAL, esse campo não deve ser informado pois o mesmo sera gerado pela Celcoin.\r\n- Se initiationType diferente de MANUAL, esse campo deve ser recuperado pelo endpoint /pix/dict/{key}.","nullable":true,"example":"E3030629420200808185300887639654"},"initiationType":{"type":"string","description":"Tipo de iniciação do pagamento\r\n- Regras de preenchimento:\r\n- MANUAL: Pagamento via dados transacionais da conta. (creditParty.key, endToEndId, e transactionIdentification, não devem ser informados).\r\n- DICT: Pagamento via chave. (Campos obrigatórios : creditParty.key, e endToEndId.transactionIdentification não deve ser informado).\r\n- STATIC_QRCODE: Pagamento via BRCode estatico. (Campos obrigatórios : creditParty.key, endToEndId, e transactionIdentification).\r\n- DYNAMIC_QRCODE: Pagamento via BRCode dinamico. (Campos obrigatórios : creditParty.key, endToEndId, e transactionIdentification).","nullable":true,"example":"MANUAL"},"paymentType":{"type":"string","description":"Tipo de pagamento\r\n- IMMEDIATE: Usado para pagamentos imediatos.\r\n- FRAUD: Usado para pagamento por suspeita de fraude.\r\n- SCHEDULED: Usado apenas para pagamentos agendados..","nullable":true,"example":"IMMEDIATE"},"urgency":{"type":"string","description":"Determina a urgencia do pagamento\r\n- HIGH - usado para pagamentos imediatos.\r\n- NORMAL - usado para pagamentos agendados.","nullable":true,"example":"HIGH"},"transactionType":{"type":"string","description":"Tipo da transação Pix\r\n- TRANSFER: Usado para pagamentos imediatos.","nullable":true,"example":"TRANSFER"},"debitParty":{"$ref":"#/components/schemas/PixPaymentSuccessResponseDebitParty"},"creditParty":{"$ref":"#/components/schemas/PixPaymentSuccessResponseCreditParty"},"remittanceInformation":{"type":"string","description":"Determina um texto a ser apresentado ao pagador para que ele possa inserir uma informação correlacionada, em formato livre, para ser enviada ao destinatário. Se presente durante a leitura do Dynamic BRCode deve ser preservado e informado aqui.","nullable":true,"example":"Texto de mensagem"},"error":{"$ref":"#/components/schemas/Error"}},"additionalProperties":false},"PixPaymentSuccessResponse":{"type":"object","properties":{"status":{"type":"string","description":"Status da solicitação.","nullable":true,"example":"PROCESSING"},"version":{"type":"string","description":"Versão do sistema.","nullable":true,"example":"1.0.0"},"body":{"$ref":"#/components/schemas/PixPaymentSuccessResponseBody"}},"additionalProperties":false},"PixPaymentSuccessResponseBody":{"type":"object","properties":{"id":{"type":"string","description":"Identificador único da Transação Pix gerado pela Celcoin.","nullable":true,"example":"34fee7bc-4d40-4605-9af8-398ed7d0d6b5"},"amount":{"type":"number","description":"Valor da transação.","format":"float"},"clientCode":{"type":"string","description":"Identificador unico gerado pelo cliente.","nullable":true,"example":"1458854"},"transactionIdentification":{"type":"string","description":"Identificador único retornado durante a leitura do BRCode\r\n- Exemplos de preenchimento:\r\n- Se initiationType igual a MANUAL ou DICT, esse campo não deve ser informado,\r\n- Se initiationType igual a STATIC_QRCODE, esse campo se torna obrigatório e com tamanho maximo permitido de 25 caracteres.\r\n- Se initiationType igual a DYNAMIC_QRCODE, esse campo se torna obrigatório e com tamanho maximo permitido entre 26 a 35 caracteres.","nullable":true,"example":"dc8cf02b81b54bd59323453b207e704a"},"endToEndId":{"type":"string","description":"Identificador ponta-a-ponta associado ao pagamento.\r\n- Exemplos de preenchimento:\r\n- Se initiationType igual a MANUAL, esse campo não deve ser informado pois o mesmo sera gerado pela Celcoin.\r\n- Se initiationType diferente de MANUAL, esse campo deve ser recuperado pelo endpoint /pix/dict/{key}.","nullable":true,"example":"E3030629420200808185300887639654"},"initiationType":{"type":"string","description":"Tipo de iniciação do pagamento\r\n- Regras de preenchimento:\r\n- MANUAL: Pagamento via dados transacionais da conta. (creditParty.key, endToEndId, e transactionIdentification, não devem ser informados).\r\n- DICT: Pagamento via chave. (Campos obrigatórios : creditParty.key, e endToEndId.transactionIdentification não deve ser informado).\r\n- STATIC_QRCODE: Pagamento via BRCode estatico. (Campos obrigatórios : creditParty.key, endToEndId, e transactionIdentification).\r\n- DYNAMIC_QRCODE: Pagamento via BRCode dinamico. (Campos obrigatórios : creditParty.key, endToEndId, e transactionIdentification).","nullable":true,"example":"MANUAL"},"paymentType":{"type":"string","description":"Tipo de pagamento\r\n- IMMEDIATE: Usado para pagamentos imediatos.\r\n- FRAUD: Usado para pagamento por suspeita de fraude.\r\n- SCHEDULED: Usado apenas para pagamentos agendados..","nullable":true,"example":"IMMEDIATE"},"urgency":{"type":"string","description":"Determina a urgencia do pagamento\r\n- HIGH - usado para pagamentos imediatos.\r\n- NORMAL - usado para pagamentos agendados.","nullable":true,"example":"HIGH"},"transactionType":{"type":"string","description":"Tipo da transação Pix\r\n- TRANSFER: Usado para pagamentos imediatos.","nullable":true,"example":"TRANSFER"},"debitParty":{"$ref":"#/components/schemas/PixPaymentSuccessResponseDebitParty"},"creditParty":{"$ref":"#/components/schemas/PixPaymentSuccessResponseCreditParty"},"remittanceInformation":{"type":"string","description":"Determina um texto a ser apresentado ao pagador para que ele possa inserir uma informação correlacionada, em formato livre, para ser enviada ao destinatário. Se presente durante a leitura do Dynamic BRCode deve ser preservado e informado aqui.","nullable":true,"example":"Texto de mensagem"}},"additionalProperties":false},"PixPaymentSuccessResponseCreditParty":{"type":"object","properties":{"bank":{"type":"string","description":"Identificador do Banco de destino (ISPB - Identificador de Sistema de Pagamentos Brasileiro).","nullable":true,"example":"30306294"},"key":{"type":"string","description":"Chave Pix.","nullable":true,"example":"5244f4e-15ff-413d-808d-7837652ebdc2"},"account":{"type":"string","description":"Número da Conta de destino (Quem irá receber).","nullable":true,"example":"10545584"},"branch":{"type":"string","description":"Número da agência de destino.","nullable":true,"example":"1"},"taxId":{"type":"string","description":"Número do documento (CPF ou CNPJ) da conta de destino.","nullable":true,"example":"11122233344"},"name":{"type":"string","description":"Nome da conta de destino.","nullable":true,"example":"Celcoin"},"accountType":{"type":"string","description":"Tipo de Conta Pix\r\nCACC - Normal ou contas digitais\r\nTRAN - Conta de pagamentos\r\nSLRY - Conta salario\r\nSVGS - Conta poupança","nullable":true,"example":"CACC"}},"additionalProperties":false},"PixPaymentSuccessResponseDebitParty":{"type":"object","properties":{"account":{"type":"string","description":"Número da conta de origem (Quem irá pagar).","nullable":true,"example":"444444"},"branch":{"type":"string","description":"Número da agência de origem.","nullable":true,"example":"1"},"taxId":{"type":"string","description":"Número do documento (CPF ou CNPJ) da conta de origem.","nullable":true,"example":"11122233344"},"name":{"type":"string","description":"Nome da conta de origem.","nullable":true,"example":"Celcoin"},"accountType":{"type":"string","description":"Tipo de Conta Pix\r\nCACC - Normal ou contas digitais\r\nTRAN - Conta de pagamentos\r\nSLRY - Conta salario\r\nSVGS - Conta poupança","nullable":true,"example":"CACC"}},"additionalProperties":false},"PixReverseErrorResponse":{"type":"object","properties":{"version":{"type":"string","description":"Versão da api.","nullable":true,"example":"1.0.0"},"status":{"type":"string","description":"Status.","nullable":true,"example":"ERROR"},"error":{"$ref":"#/components/schemas/Error"}},"additionalProperties":false,"description":"Códigos de erros:\r\n- CBE001 - ClientCode é obrigatório.\r\n- CBE093 - ClientCode possui tamanho maximo de 200 caracteres.\r\n- CBE094 - amount é obrigatório.\r\n- CBE095 - amount invalido. Favor verificar a formatação do campo e deve ser maior que 0.\r\n- CBE100 - Existe um lançamento idêntico pendente. Favor aguarde para realizar esta operação para evitar duplicidade.\r\n- CBE101 - Já existe um lançamento com o mesmo clientCode. Favor realizar uma nova operação.\r\n- CBE102 - Lançamento de debito não permitido. Valor ultrapassa o limite maximo permitido por operação.\r\n- CBE123 - Transação não permitida. Conta com saldo insuficiente.\r\n- CBE154 - reason é obrigatório.\r\n- CBE155 - reason invalido.\r\n- CBE156 - reversalDescription possui tamanho máximo de 140 caracteres.\r\n- CBE157 - Devolução não permitida. Somatório de devoluções ou o valor da devolução ultrapassa o valor total do recebimento pix.\r\n- CBE158 - Devolução não permitida. Prazo limite para devolução foi expirado.\r\n- CBE159 - Lançamento não permitido. Sua conta esta bloqueada.\r\n- CBE160 - Lançamento não permitido. Sua conta esta encerrada.\r\n- CBE204 - É necessário informar pelo menos um dos campos: transactionId ou endToEndId."},"PixReverseNotFoundResponse":{"type":"object","properties":{"version":{"type":"string","description":"Versão da api.","nullable":true,"example":"1.0.0"},"status":{"type":"string","description":"Status.","nullable":true,"example":"ERROR"},"error":{"$ref":"#/components/schemas/Error"}},"additionalProperties":false,"description":"Códigos de erros:\r\n- CBE106 - Não encontramos nenhuma transação através do parâmetro informado."},"PixReverseRequestJsonBody":{"required":["amount","clientCode","reason"],"type":"object","properties":{"id":{"type":"string","description":"Identificador da transação do recebimento pix.","nullable":true,"example":"34fee7bc-4d40-4605-9af8-398ed7d0d6b5"},"endToEndId":{"type":"string","description":"Identificador ponta-a-ponta associado ao recebimento pix.","nullable":true,"example":"E3030629420200808185300887639654"},"clientCode":{"maxLength":200,"minLength":1,"type":"string","description":"Identificador único gerado pelo cliente.","example":"1458854"},"amount":{"type":"number","description":"Valor da transação.","format":"double","example":150.54},"reason":{"type":"string","description":"Razão da Devolução.\r\n - BE08: Devolvido como resultado de um erro bancário.\r\n - FR01: Devolução por suspeita de fraude.\r\n - MD06: Devolução solicitada pelo cliente final.\r\n - SL02: Devolução do valor em dinheiro devido a um erro relacionado ao Pix Saque ou Pix Troco.","example":"MD06"},"reversalDescription":{"maxLength":140,"type":"string","description":"Texto opcional a ser apresentado ao pagador contendo informações sobre a devolução..","nullable":true,"example":"Devolução do churrasco"}},"additionalProperties":false},"PixReverseStatusErrorResponse":{"type":"object","properties":{"version":{"type":"string","description":"Versão da api.","nullable":true,"example":"1.0.0"},"status":{"type":"string","description":"Status.","nullable":true,"example":"ERROR"},"error":{"$ref":"#/components/schemas/Error"}},"additionalProperties":false,"description":"Códigos de erros:\r\n- CBE161 - É necessário informar pelo menos um dos campos: id, clientCode, ou returnIdentification."},"PixReverseStatusSuccessResponse":{"type":"object","properties":{"status":{"type":"string","description":"Status da devolução pix\r\n- PROCESSING: Transação ainda em processamento\r\n- CONFIRMED: Transação confirmada com sucesso\r\n- ERROR: Transação com erro. Vide nó 'error' do payload de response para detalhes sobre o erro.","nullable":true,"example":"CONFIRMED"},"version":{"type":"string","description":"Versão do sistema.","nullable":true,"example":"1.0.0"},"body":{"$ref":"#/components/schemas/PixReverseStatusSuccessResponseBody"}},"additionalProperties":false},"PixReverseStatusSuccessResponseBody":{"type":"object","properties":{"id":{"type":"string","description":"Identificador único da devolução Pix gerado pela Celcoin.","nullable":true,"example":"34fee7bc-4d40-4605-9af8-398ed7d0d6b5"},"amount":{"type":"number","description":"Valor da devolução.","format":"float","nullable":true,"example":25.55},"clientCode":{"type":"string","description":"Identificador unico gerado pelo cliente.","nullable":true,"example":"1458854"},"originalPaymentId":{"type":"string","description":"Identificador da transação do recebimento pix.","nullable":true,"example":"34fee7bc-4d40-4605-9af8-398ed7d0d6b5"},"originalEndToEndId":{"type":"string","description":"Identificador ponta-a-ponta associado ao recebimento pix.","nullable":true,"example":"E3030629420200808185300887639654"},"returnIdentification":{"type":"string","description":"Razão da devolução.","nullable":true,"example":"D3030629420200808185300887639654"},"reason":{"type":"string","description":"Identificador ponta-a-ponta associado a devolução pix.\r\n - BE08: Devolvido como resultado de um erro bancário.\r\n - FR01: Devolução por suspeita de fraude.\r\n - MD06: Devolução solicitada pelo cliente final.\r\n - SL02: Devolução do valor em dinheiro devido a um erro relacionado ao Pix Saque ou Pix Troco.","nullable":true,"example":"BE08"},"reversalDescription":{"type":"string","description":"Texto opcional a ser apresentado ao pagador contendo informações sobre a devolução.","nullable":true,"example":"D3030629420200808185300887639654"},"error":{"$ref":"#/components/schemas/Error"}},"additionalProperties":false},"PixReverseSuccessResponse":{"type":"object","properties":{"status":{"type":"string","description":"Status da solicitação.","nullable":true,"example":"PROCESSING"},"version":{"type":"string","description":"Versão do sistema.","nullable":true,"example":"1.0.0"},"body":{"$ref":"#/components/schemas/PixReverseSuccessResponseBody"}},"additionalProperties":false},"PixReverseSuccessResponseBody":{"type":"object","properties":{"id":{"type":"string","description":"Identificador único da Transação Pix gerado pela Celcoin.","nullable":true,"example":"34fee7bc-4d40-4605-9af8-398ed7d0d6b4"},"amount":{"type":"number","description":"Valor da transação.","format":"float","example":25.55},"clientCode":{"type":"string","description":"Identificador unico gerado pelo cliente.","nullable":true,"example":"1458854"},"originalPaymentId":{"type":"string","description":"Identificador da transação do recebimento pix.","nullable":true,"example":"34fee7bc-4d40-4605-9af8-398ed7d0d6b5"},"endToEndId":{"type":"string","description":"Identificador ponta-a-ponta associado ao recebimento pix.","nullable":true,"example":"E3030629420200808185300887639654"},"returnIdentification":{"type":"string","description":"Identificador ponta-a-ponta associado a devolução pix.","nullable":true,"example":"D3030629420200808185300887639654"},"reason":{"type":"string","description":"Razão da devolução.\r\n- BE08: Devolvido como resultado de um erro bancário.\r\n- FR01: Devolução por suspeita de fraude.\r\n- MD06: Devolução solicitada pelo cliente final.\r\n- SL02: Devolução do valor em dinheiro devido a um erro relacionado ao Pix Saque ou Pix Troco.","nullable":true,"example":"MD06"},"reversalDescription":{"type":"string","description":"Texto opcional a ser apresentado ao pagador contendo informações sobre a devolução.","nullable":true,"example":"Devolução do churrasco"}},"additionalProperties":false},"TagRequest":{"type":"object","properties":{"key":{"type":"string","nullable":true},"value":{"type":"string","nullable":true}},"additionalProperties":false},"TransferErrorResponse":{"type":"object","properties":{"version":{"type":"string","description":"Versão da api.","nullable":true,"example":"1.0.0"},"status":{"type":"string","description":"Status.","nullable":true,"example":"ERROR"},"error":{"$ref":"#/components/schemas/Error"}},"additionalProperties":false,"description":"Códigos de erros:\r\n- CBE001 - ClientCode é obrigatório.\r\n- CBE093 - ClientCode possui tamanho maximo de 200 caracteres.\r\n- CBE094 - amount é obrigatório.\r\n- CBE095 - amount invalido.Favor verificar a formatação do campo e deve ser maior que 0.\r\n- CBE100 - Existe um lançamento idêntico pendente.Favor aguarde para realizar esta operação para evitar duplicidade.\r\n- CBE101 - Já existe um lançamento com o mesmo clientCode. Favor realizar uma nova operação.\r\n- CBE102 - Lançamento de debito não permitido.Valor ultrapassa o limite maximo permitido por operação.\r\n- CBE107 - debitParty é obrigatório.\r\n- CBE108 - debitparty.account é obrigatório.\r\n- CBE109 - debitparty.account invalido.\r\n- CBE110 - debitparty.account possui tamanho maximo de 20 caracteres.\r\n- CBE115 - creditParty é obrigatório.\r\n- CBE116 - creditparty.account é obrigatório.\r\n- CBE117 - creditparty.account invalido.\r\n- CBE118 - creditparty.account possui tamanho maximo de 20 caracteres.\r\n- CBE119 - creditParty.branch é obrigatório.\r\n- CBE120 - creditParty.branch invalido.\r\n- CBE121 - creditParty.taxId é obrigatório.\r\n- CBE122 - creditParty.taxId invalido.\r\n- CBE123 - Transação não permitida.Conta com saldo insuficiente.\r\n- CBE124 - Lançamento não permitido.debit.account esta encerrada.\r\n- CBE126 - creditParty.bank é obrigatório e deve existir na lista de participantes Pix.\r\n- CBE127 - creditParty.name é obrigatório e possui tamanho maximo de 120 caracteres.\r\n- CBE128 - creditParty.accountType não foi informado ou é invalido.\r\n- CBE159 - Lançamento não permitido.Sua conta esta bloqueada.\r\n- CBE269 - creditParty.personType não foi informado ou é invalido.\r\n- CBE270 - clientFinality não foi informado ou é invalido.\r\n- CBE271 - Campo description obrigatorio quando o campo clientFinality estiver preenchido com 99999 (Outros).\r\n- CBE272 - É necessário informar pelo menos um dos campos: id ou clientCode.\r\n- CBE274 - Não é permitido enviar TED para a mesma conta sendo do mesmo Participante.\r\n- CBE275 - Não é permitido TED para outra titularidade."},"TransferNotFoundResponse":{"type":"object","properties":{"version":{"type":"string","description":"Versão da api.","nullable":true,"example":"1.0.0"},"status":{"type":"string","description":"Status.","nullable":true,"example":"ERROR"},"error":{"$ref":"#/components/schemas/Error"}},"additionalProperties":false,"description":"Códigos de erros:\r\n- CBE106 - Não encontramos nenhuma transação através do parâmetro informado."},"TransferRequest":{"required":["amount","clientCode","clientFinality","creditParty","debitParty"],"type":"object","properties":{"amount":{"type":"number","description":"Valor da transação.","format":"double","example":25.55},"clientCode":{"maxLength":200,"minLength":1,"type":"string","description":"Identificador único gerado pelo cliente.","example":"1458854"},"debitParty":{"$ref":"#/components/schemas/DebitPartyTransfer"},"creditParty":{"$ref":"#/components/schemas/CreditPartyTransfer"},"clientFinality":{"type":"string","description":"Finalidade.\r\n- 1 - Pagamento de Impostos, Tributos e Taxas\r\n- 3 - Pagamentos de Dividendos\r\n- 4 - Pagamento de Salários\r\n- 5 - Pagamento de Fornecedores\r\n- 7 - Pagamento de Aluguéis e Taxas de Condomínio\r\n- 9 - Pagamento de Mensalidade Escolar\r\n- 10 - Crédito em Conta\r\n- 100 - Depósito Judicial\r\n- 110   - Transferência entre contas de mesma titularidade\r\n- 99999 -  Outros","example":"110"},"description":{"type":"string","description":"Campo opcional.\r\nQuando o campo clientFinality estiver como 99999, este campo pode ser preenchido com uma finalidade.\r\nCaso o clientFinality seja 99999 e este campo esteja sem preenchimento, vai ser preenchido como default : \"Outros\".","nullable":true,"example":"Pagamentos diversos"}},"additionalProperties":false},"TransferStatusErrorResponse":{"type":"object","properties":{"version":{"type":"string","description":"Versão da api.","nullable":true,"example":"1.0.0"},"status":{"type":"string","description":"Status.","nullable":true,"example":"ERROR"},"error":{"$ref":"#/components/schemas/Error"}},"additionalProperties":false,"description":"Códigos de erros:\r\n- CBE150 - É necessário informar pelo menos um dos campos: id ou clientCode."},"TransferStatusSuccessResponse":{"type":"object","properties":{"status":{"type":"string","description":"Status da transação pix\r\n- PROCESSING: Transação ainda em processamento\r\n- CONFIRMED: Transação confirmada com sucesso\r\n- ERROR: Transação com erro.Vide nó 'error' do payload de response para detalhes sobre o erro","nullable":true,"example":"CONFIRMED"},"version":{"type":"string","description":"Versão do sistema.","nullable":true,"example":"1.0.0"},"body":{"$ref":"#/components/schemas/TransferStatusSuccessResponseBody"}},"additionalProperties":false},"TransferStatusSuccessResponseBody":{"type":"object","properties":{"id":{"type":"string","description":"Identificador único da Transferencia gerado pela Celcoin.","nullable":true,"example":"34fee7bc-4d40-4605-9af8-398ed7d0d6b5"},"amount":{"type":"number","description":"Valor da transação.","format":"float","nullable":true,"example":25.55},"clientCode":{"type":"string","description":"Identificador unico gerado pelo cliente.","nullable":true,"example":"1458854"},"debitParty":{"$ref":"#/components/schemas/TransferSuccessResponseDebitParty"},"creditParty":{"$ref":"#/components/schemas/TransferSuccessResponseCreditParty"},"description":{"type":"string","description":"Determina um texto a ser apresentado ao pagador para que ele possa inserir uma informação correlacionada, em formato livre, para ser enviada ao destinatário. Se presente durante a leitura do Dynamic BRCode deve ser preservado e informado aqui.","nullable":true,"example":"Texto de mensagem"},"error":{"$ref":"#/components/schemas/Error"}},"additionalProperties":false},"TransferSuccessResponse":{"type":"object","properties":{"status":{"type":"string","description":"Status da solicitação.","nullable":true,"example":"PROCESSING"},"version":{"type":"string","description":"Versão do sistema.","nullable":true,"example":"1.0.0"},"body":{"$ref":"#/components/schemas/TransferSuccessResponseBody"}},"additionalProperties":false},"TransferSuccessResponseBody":{"type":"object","properties":{"id":{"type":"string","description":"Identificador único da Transferencia gerado pela Celcoin.","nullable":true,"example":"34fee7bc-4d40-4605-9af8-398ed7d0d6b5"},"amount":{"type":"number","description":"Valor da transação.","format":"float"},"clientCode":{"type":"string","description":"Identificador unico gerado pelo cliente.","nullable":true,"example":"1458854"},"debitParty":{"$ref":"#/components/schemas/TransferSuccessResponseDebitParty"},"creditParty":{"$ref":"#/components/schemas/TransferSuccessResponseCreditParty"}},"additionalProperties":false},"TransferSuccessResponseCreditParty":{"type":"object","properties":{"bank":{"type":"string","description":"Identificador do Banco de destino (ISPB - Identificador de Sistema de Pagamentos Brasileiro).","nullable":true,"example":"30306294"},"account":{"type":"string","description":"Número da Conta de destino (Quem irá receber).","nullable":true,"example":"10545584"},"branch":{"type":"string","description":"Número da agência de destino.","nullable":true,"example":"1"},"taxId":{"type":"string","description":"Número do documento (CPF ou CNPJ) da conta de destino.","nullable":true,"example":"11122233344"},"name":{"type":"string","description":"Nome da conta de destino.","nullable":true,"example":"Celcoin"},"accountType":{"type":"string","description":"Tipo de Conta\r\nCC - Conta Corrente","nullable":true,"example":"CC"},"personType":{"type":"string","description":"Tipo de Pessoa.\r\n- F - Fisica\r\n- J - juridica","nullable":true,"example":"F"}},"additionalProperties":false},"TransferSuccessResponseDebitParty":{"type":"object","properties":{"account":{"type":"string","description":"Número da conta de origem (Quem irá pagar).","nullable":true,"example":"444444"},"branch":{"type":"string","description":"Número da agência de origem.","nullable":true,"example":"1"},"taxId":{"type":"string","description":"Número do documento (CPF ou CNPJ) da conta de origem.","nullable":true,"example":"11122233344"},"name":{"type":"string","description":"Nome da conta de origem.","nullable":true,"example":"Celcoin"},"accountType":{"type":"string","description":"Tipo de Conta\r\nCC - Conta Corrente","nullable":true,"example":"CACC"},"personType":{"type":"string","description":"Tipo de Pessoa.\r\n- F - Fisica\r\n- J - juridica","nullable":true,"example":"F"},"bank":{"type":"string","description":"Identificador do Banco de destino (ISPB - Identificador de Sistema de Pagamentos Brasileiro).","nullable":true,"example":"30306294"}},"additionalProperties":false}},"securitySchemes":{"Bearer":{"type":"apiKey","description":"Please enter into field the access_token (JWT)","name":"Authorization","in":"header"}}},"security":[{"Bearer":[]}],"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}