{"openapi":"3.0.1","info":{"title":"API PARA OPEN BANKING","description":"<p><b>Autenticação da Celcoin API - v5 (baseada no protocolo OAuth 2.0)</b></p><p>&nbsp;&nbsp;&nbsp;&nbsp;Para gerar o access_token, utilize o método <b><a rel='noopener noreferrer' id='back' target='_blank' href='https://sandbox-apicorp.celcoin.com.br/swagger/index.html#operations-token-post_v5_token'> V5/token</a></b><br>&nbsp;&nbsp;&nbsp;&nbsp;O access_token deverá ser enviado nos requests subsequentes, utilizando o header 'Authorization' (com o prefixo Bearer)<br></p><p><b>Request parameters (utilizar x-www-form-urlencoded):</b></p><p>&nbsp;&nbsp;&nbsp;&nbsp;client_id: 41b44ab9a56440.teste.celcoinapi.v5<br>&nbsp;&nbsp;&nbsp;&nbsp;grant_type: client_credentials (fixo)<br>&nbsp;&nbsp;&nbsp;&nbsp;client_secret: e9d15cde33024c1494de7480e69b7a18c09d7cd25a8446839b3be82a56a044a3</p><p><b>Response:</b></p><p>&nbsp;&nbsp;&nbsp;&nbsp;access_token (no formato JWT)</p><b target = 'blank' style = 'text-decoration:none' > A documentação de nossa API se encontra abaixo : </b><br/>\r\n<a href='https://developers.celcoin.com.br/reference' target='blank' style='text-decoration:none'>Celcoin Open Bank API</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b><br/><br/>\r\n<b target = 'blank' style = 'text-decoration:none' > Roteiros de homologação : </b><br/>\r\n<a href='https://drive.google.com/file/d/1-avv292VSNdjNKQyT7cXUumiWi7p5CEs/view?usp=sharing' target='blank' style='text-decoration:none'>Roteiro de homologação (PTBR)</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/>\r\n","version":"v1"},"servers":[{"url":"https://sandbox.openfinance.celcoin.dev","description":"Url de homologação"},{"url":"https://api.openfinance.celcoin.com.br","description":"Url de produção"}],"paths":{"/openbank/v1/bank/balance/{consentId}":{"get":{"tags":["Bancos"],"summary":"Cria um consentimento da informação do saldo de conta corrente","parameters":[{"name":"consentId","in":"path","description":"","required":true,"schema":{"type":"integer","description":"","format":"int32"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InformationResponse"}}}},"422":{"description":"Client Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableBank"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableBankServerError"}}}}}}},"/openbank/v1/bank/balance-statement/{consentId}":{"get":{"tags":["Bancos"],"summary":"Cria um consentimento da informação do saldo e extrato de conta corrente","parameters":[{"name":"consentId","in":"path","description":"","required":true,"schema":{"type":"integer","description":"","format":"int32"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InformationResponse"}}}},"422":{"description":"Client Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableBank"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableBankServerError"}}}}}}},"/openbank/v1/bank/credit/{consentId}":{"get":{"tags":["Bancos"],"summary":"Cria um consentimento da informação de limite de credito","parameters":[{"name":"consentId","in":"path","description":"Objeto de solicitação de crédito.","required":true,"schema":{"type":"integer","description":"Objeto de solicitação de crédito.","format":"int32"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InformationResponse"}}}},"422":{"description":"Client Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableBank"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableBankServerError"}}}}}}},"/openbank/v1/bank/savings/balance/{consentId}":{"get":{"tags":["Bancos"],"summary":"Cria um consentimento da informação de saldo em poupanças","parameters":[{"name":"consentId","in":"path","description":"Objeto de solicitação de Investimento","required":true,"schema":{"type":"integer","description":"Objeto de solicitação de Investimento","format":"int32"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InformationResponse"}}}},"422":{"description":"Client Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableBank"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableBankServerError"}}}}}}},"/openbank/v1/bank/savings/balance-statement/{consentId}":{"get":{"tags":["Bancos"],"summary":"Cria um consentimento da informação do saldo e extrato de conta poupança","parameters":[{"name":"consentId","in":"path","description":"","required":true,"schema":{"type":"integer","description":"","format":"int32"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InformationResponse"}}}},"422":{"description":"Client Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableBank"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableBank"}}}}}}},"/openbank/v1/bank/savings/statement":{"post":{"tags":["Bancos"],"summary":"Cria um consentimento da informação de extrato de poupança","requestBody":{"description":"Objeto de solicitação do Extrato.","content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/InvestmentSavingsStatementRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/InvestmentSavingsStatementRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/InvestmentSavingsStatementRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/InvestmentSavingsStatementRequest"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InformationResponse"}}}},"422":{"description":"Client Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableBank"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableBankServerError"}}}}}}},"/openbank/v1/bank/business/statement":{"post":{"tags":["Bancos"],"summary":"Cria um consentimento da informação de extrato da conta corrente","requestBody":{"description":"Objeto de solicitação do Extrato.","content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/StatementRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/StatementRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/StatementRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/StatementRequest"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InformationResponse"}}}},"422":{"description":"Client Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableBank"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableBankServerError"}}}}}}},"/openbank/v1/bank/statement":{"post":{"tags":["Bancos"],"summary":"Cria um consentimento da informação de extrato da conta corrente","requestBody":{"description":"Objeto de solicitação do Extrato.","content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/StatementRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/StatementRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/StatementRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/StatementRequest"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InformationResponse"}}}},"422":{"description":"Client Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableBank"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableBankServerError"}}}}}}},"/openbank/v1/utility/user-information/{consentId}":{"get":{"tags":["Instituições"],"summary":"Cria um consentimento das informações do usuário","parameters":[{"name":"consentId","in":"path","description":"","required":true,"schema":{"type":"integer","description":"","format":"int32"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InformationResponse"}}}},"422":{"description":"Client Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableUtilityGet"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableUtilityGetServerError"}}}}}}},"/openbank/v1/consent":{"post":{"tags":["Consentimentos"],"summary":"Solicita consentimento","requestBody":{"description":"","content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/ConsentRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/ConsentRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/ConsentRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/ConsentRequest"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsentResponse"}}}},"422":{"description":"Client Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessablePost"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessablePost"}}}}}}},"/openbank/v1/consent/{cpfcnpj}":{"get":{"tags":["Consentimentos"],"summary":"Busca todos os consentimentos ligados ao documento","parameters":[{"name":"cpfcnpj","in":"path","description":"","required":true,"schema":{"type":"string","description":"","nullable":true}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsentGetResponse"}}}},"422":{"description":"Client Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableGet"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableGet"}}}}}}},"/openbank/v1/consent/update/delete/{consentId}":{"delete":{"tags":["Consentimentos"],"summary":"Deleta um consentimento","parameters":[{"name":"consentId","in":"path","description":"","required":true,"schema":{"type":"integer","description":"","format":"int32"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsentDeleteResponse"}}}},"422":{"description":"Client Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableDelete"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableDelete"}}}}}}},"/openbank/v1/consent/update":{"post":{"tags":["Consentimentos"],"summary":"Atualiza consentimento","requestBody":{"description":"","content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/ConsentExpiratonUpdate"}},"application/json":{"schema":{"$ref":"#/components/schemas/ConsentExpiratonUpdate"}},"text/json":{"schema":{"$ref":"#/components/schemas/ConsentExpiratonUpdate"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/ConsentExpiratonUpdate"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsentUpdateResponse"}}}},"422":{"description":"Client Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableUpdate"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableUpdate"}}}}}}},"/openbank/v1/partners":{"get":{"tags":["Instituições"],"summary":"Consultar parceiros","parameters":[{"name":"partnerType","in":"query","schema":{"$ref":"#/components/schemas/PartnerType"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PartnerResponse"}}}}},"422":{"description":"Client Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessablePartner"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessablePartner"}}}}}}},"/openbank/v1/utility/usage-statement":{"post":{"tags":["Concessionárias"],"summary":"Cria um consentimento da informação do extrato de consumo","requestBody":{"description":"","content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/UsageStatementRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/UsageStatementRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/UsageStatementRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/UsageStatementRequest"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InformationResponse"}}}},"422":{"description":"Client Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableUtilityPost"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableUtilityPostServerError"}}}}}}},"/openbank/v1/securewidget/legaltexts":{"put":{"tags":["SecureWidget"],"summary":"Cria ou atualiza os textos juridicos apresentados no widget","description":"Não é obrigatório incluir as URLs de todos os textos jurídicos, apenas do texto que será atualizado.\r\nÉ necessário, portanto, que pelo menos uma URL seja enviada.\r\n\r\nOs textos devem seguir as seguintes regras:\r\n\r\n-Tipo (\"application/pdf\", \"text/plain\", \"text/html\"). \\\r\n-O link deve estar público.","requestBody":{"description":"","content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/LegalTextDTO"}},"application/json":{"schema":{"$ref":"#/components/schemas/LegalTextDTO"}},"text/json":{"schema":{"$ref":"#/components/schemas/LegalTextDTO"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/LegalTextDTO"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegalTextDTO"}}}},"422":{"description":"Client Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableSWLegalText"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableSWLegalTextServerError"}}}}}}},"/openbank/v1/securewidget/logo":{"put":{"tags":["SecureWidget"],"summary":"Cria ou atualiza configuração do logo.","description":"O campo alternativeMessage é obrigatório e limitado até 15 caracteres. \r\n\r\nO campo urlImage é obrigatório e deve seguir as seguintes regras:\r\n\r\n-Tipo (jpeg, png ou svg). \\\r\n-Tamanho(max até 100Kb). \\\r\n-O link da imagem deve estar pública.","requestBody":{"description":"","content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/ConfigLogoDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ConfigLogoDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/ConfigLogoDto"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/ConfigLogoDto"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfigLogoDto"}}}},"422":{"description":"Client Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableSWLogo"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SWServerError"}}}}}}},"/openbank/v1/securewidget/partner":{"put":{"tags":["SecureWidget"],"summary":"Criar ou atualizar lista de parceiros.","description":"Não poderá haver partner com valor repetido.","requestBody":{"content":{"application/json-patch+json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PartnerDto"},"nullable":true}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PartnerDto"},"nullable":true}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PartnerDto"},"nullable":true}},"application/*+json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PartnerDto"},"nullable":true}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartnerDto"}}}},"422":{"description":"Client Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableSWPartner"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SWServerError"}}}}}}},"/openbank/v1/securewidget/partnersuggestion/{hash}":{"put":{"tags":["SecureWidget"],"summary":"Criar uma sugestão de parceiro.","parameters":[{"name":"hash","in":"path","required":true,"schema":{"type":"string","nullable":true}}],"requestBody":{"content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/PartnerSuggestionDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/PartnerSuggestionDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/PartnerSuggestionDto"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/PartnerSuggestionDto"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartnerDto"}}}},"422":{"description":"Client Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableSWPartnerSuggestion"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SWServerError"}}}}}}},"/openbank/v1/securewidget/token":{"post":{"tags":["SecureWidget"],"summary":"Cria configuração do token.","requestBody":{"description":"","content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/TokenRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/TokenRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/TokenRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/TokenRequest"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenResponse"}}}},"422":{"description":"Client Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableSWToken"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SWServerError"}}}}}}},"/openbank/v1/securewidget/validate":{"post":{"tags":["SecureWidget"],"summary":"Validar autenticação do token.","parameters":[{"name":"hash","in":"query","description":"","schema":{"type":"string","description":"","nullable":true}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SecureWidgetInfo"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Client Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableSWValidate"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SWServerError"}}}}}}}},"components":{"schemas":{"InformationResponse":{"type":"object","properties":{"informationId":{"type":"integer","description":"Um valor único que identifica o consentimento da informação desejada.","format":"int32"}},"additionalProperties":false},"UnprocessableBank":{"type":"object","properties":{"errorCode":{"type":"integer","description":"997 - Sem permissão <br />\r\n996 - Consentimento não existe <br />","format":"int32","example":999},"description":{"type":"string","description":"Descrição do erro","nullable":true,"example":"Ocorreu um erro inesperado"}},"additionalProperties":false},"UnprocessableBankServerError":{"type":"object","properties":{"errorCode":{"type":"integer","description":"999 - Ocorreu um erro inesperado ou usuário não existe ou consentId inválido <br />","format":"int32","example":999},"description":{"type":"string","description":"Descrição do erro","nullable":true,"example":"Ocorreu um erro inesperado"}},"additionalProperties":false},"InvestmentSavingsStatementRequest":{"type":"object","properties":{"consentId":{"type":"integer","format":"int32"},"startDate":{"type":"string","format":"date-time"},"endDate":{"type":"string","format":"date-time"},"limit":{"type":"integer","format":"int32"}},"additionalProperties":false},"StatementRequest":{"type":"object","properties":{"consentId":{"type":"integer","format":"int32"},"startDate":{"type":"string","format":"date-time"},"endDate":{"type":"string","format":"date-time"},"limit":{"type":"integer","format":"int32"}},"additionalProperties":false},"UnprocessableUtilityGet":{"type":"object","properties":{"errorCode":{"type":"integer","description":"99 - Ocorreu um erro inesperado <br />\r\n997 - Sem permissão <br />\r\n996 - Consentimento não existe <br />","format":"int32","example":999},"description":{"type":"string","description":"Descrição do erro","nullable":true,"example":"Ocorreu um erro inesperado"}},"additionalProperties":false},"UnprocessableUtilityGetServerError":{"type":"object","properties":{"errorCode":{"type":"integer","description":"999 - Usuário não existe <br />","format":"int32","example":999},"description":{"type":"string","description":"Descrição do erro","nullable":true,"example":"Ocorreu um erro inesperado"}},"additionalProperties":false},"PartnerInputRequest":{"type":"object","properties":{"partnerInputId":{"type":"integer","format":"int32"},"input":{"type":"string","nullable":true}},"additionalProperties":false},"ConsentTypes":{"enum":[1,2],"type":"integer","format":"int32"},"ConsentRequest":{"type":"object","properties":{"document":{"type":"string","nullable":true},"documentType":{"type":"string","nullable":true},"partnerId":{"type":"integer","format":"int32"},"externalTerminal":{"type":"string","nullable":true},"externalNSU":{"type":"integer","format":"int64"},"permissions":{"type":"array","items":{"type":"integer","format":"int32"},"nullable":true},"inputs":{"type":"array","items":{"$ref":"#/components/schemas/PartnerInputRequest"},"nullable":true},"consentType":{"$ref":"#/components/schemas/ConsentTypes"},"days":{"type":"integer","format":"int32"}},"additionalProperties":false},"ConsentResponse":{"type":"object","properties":{"statusId":{"type":"integer","description":"Número identificador do status.","format":"int32","readOnly":true},"statusDescription":{"type":"string","description":"Descrição do status.","nullable":true},"consentId":{"type":"integer","description":"Identificador do consentimento.","format":"int32","readOnly":true},"partnerId":{"type":"integer","description":"Identificador do parceiro.","format":"int32","readOnly":true},"externalTerminal":{"type":"string","description":"Identificador do terminal externo.Para controle externo.","nullable":true,"readOnly":true},"externalNSU":{"type":"integer","description":"Identificador do Número Sequencial Único externo. Para controle externo.","format":"int64","readOnly":true},"createdDate":{"type":"string","description":"Data de criação.","format":"date-time","readOnly":true}},"additionalProperties":false},"UnprocessablePost":{"type":"object","properties":{"errorCode":{"type":"integer","description":"1 - O ID do parceiro não existe <br />\r\n2 - Existem convênios input IDs repetidos <br />\r\n3 - A quantidade de inputs enviada é diferente da quantidade de inputs do convênio <br />\r\n4 - Algum 'ConvenioInput' enviado não existe para o convênio solicitado <br />\r\n5 - Tipo de dado incorreto do partnerInputId <br /> \r\n6 - Tamanho de dado incorreto do partnerInputId <br /> \r\n7 - CPF/CNPJ inválido ou documentType inválido <br /> \r\n8 - Existe um consentimento cadastrado com o parceiro para esse terminalIdExterno <br /> \r\n9 - O input chave, 'main=true', existe em outra pagadora, ou ja foi cadastrado uma adesao com esta informação <br /> \r\n11 - Deve ser inserida pelo menos uma permissão <br /> \r\n12 - Existem IDs de permissões não disponíveis <br /> \r\n13 - A duração do tempo de validade do consentimento não pode ser menor ou igual à zero <br /> \r\n14 - O tipo de consentimento escolhido não existe <br />\r\n99 - Erro desconhecido ou inesperado <br />\r\n504 - Não foi possível validar as credenciais <br />\r\n999 - Erro não mapeado ou desconhecido ou não foi retornado registro ao criar um consetimento ou ocorreu um erro inesperado <br />","format":"int32","example":999},"description":{"type":"string","description":"Descrição do erro","nullable":true,"example":"Erro desconhecido"}},"additionalProperties":false},"ConsentGetResponse":{"type":"object","properties":{"consentId":{"type":"integer","description":"Identificador do consentimento.","format":"int32","readOnly":true},"consentStatusId":{"type":"integer","description":"Identificador do status do consentimento.","format":"int32","readOnly":true},"statusDescription":{"type":"string","description":"Descrição do status.","nullable":true},"partnerId":{"type":"integer","description":"Identificador do parceiro.","format":"int32","readOnly":true},"partner":{"type":"string","description":"Descrição do parceiro.","nullable":true},"consentTypeId":{"type":"integer","description":"Identificador do tipo de consentimento.","format":"int32"},"consentTypeDescription":{"type":"string","description":"Descrição do tipo de consentimento.","nullable":true},"duration":{"type":"integer","description":"Duração do consentimento.","format":"int32"},"externalTerminal":{"type":"string","description":"Identificador do terminal externo.Para controle externo.","nullable":true,"readOnly":true},"externalNSU":{"type":"integer","description":"Identificador do Número Sequencial Único externo. Para controle externo.","format":"int64","readOnly":true},"dueDate":{"type":"string","description":"Data de vencimento do consentimento.","format":"date-time"},"createdDate":{"type":"string","description":"Data de criação.","format":"date-time","readOnly":true}},"additionalProperties":false},"UnprocessableGet":{"type":"object","properties":{"errorCode":{"type":"integer","description":"99 - Ocorreu um erro inesperado <br />\r\n999 - Não foi possível obter a lista de consentimentos. Não foi retornado registro <br />","format":"int32","example":99},"description":{"type":"string","description":"Descrição do erro","nullable":true,"example":"Erro desconhecido"}},"additionalProperties":false},"ConsentDeleteResponse":{"type":"object","properties":{"statusId":{"type":"integer","description":"Identificador do status.","format":"int32","readOnly":true},"statusDescription":{"type":"string","description":"Descrição do status.","nullable":true},"consentId":{"type":"integer","description":"Identificador do consentimento.","format":"int32","readOnly":true},"partnerId":{"type":"integer","description":"Identificador do parceiro.","format":"int32","readOnly":true},"externalTerminal":{"type":"string","description":"Identificador do terminal externo.Para controle externo.","nullable":true,"readOnly":true},"externalNSU":{"type":"integer","description":"Identificador do Número Sequencial Único externo. Para controle externo.","format":"int64","readOnly":true},"deletedDate":{"type":"string","description":"Data de exclusão.","format":"date-time","readOnly":true}},"additionalProperties":false},"UnprocessableDelete":{"type":"object","properties":{"errorCode":{"type":"integer","description":"16 - O consentimento já foi destruído <br />\r\n17 - Consentimento inexistente <br />\r\n99 - Ocorreu um erro inesperado <br />\r\n999 - Erro não mapeado <br />","format":"int32","example":99},"description":{"type":"string","description":"Descrição do erro","nullable":true,"example":"Erro desconhecido"}},"additionalProperties":false},"ConsentExpiratonUpdate":{"type":"object","properties":{"consentId":{"type":"integer","format":"int32"},"days":{"type":"integer","format":"int32"}},"additionalProperties":false},"ConsentUpdateResponse":{"type":"object","properties":{"consentId":{"type":"integer","description":"Identificador do consentimento.","format":"int32","readOnly":true},"partnerId":{"type":"integer","description":"Identificador do parceiro.","format":"int32","readOnly":true},"partnerName":{"type":"string","description":"Nome do parceiro.","nullable":true},"statusId":{"type":"integer","description":"Identificador do status.","format":"int32","readOnly":true},"statusDescription":{"type":"string","description":"Descrição do status.","nullable":true},"externalTerminal":{"type":"string","description":"Identificador do terminal externo.Para controle externo.","nullable":true,"readOnly":true},"externalNSU":{"type":"integer","description":"Identificador do Número Sequencial Único externo. Para controle externo.","format":"int64","readOnly":true},"durationDays":{"type":"integer","description":"Número de dias de duração.","format":"int32","readOnly":true},"expirationDate":{"type":"string","description":"Data de expiração.","format":"date-time","readOnly":true}},"additionalProperties":false},"UnprocessableUpdate":{"type":"object","properties":{"errorCode":{"type":"integer","description":"14 - O consentimento foi criado para uso por demanda. Não é possível alterar sua duração <br />\r\n15 - O consentimento já está expirado e não pode ser atualizado <br />\r\n16 - O consentimento já foi destruído <br />\r\n17 - Consentimento inexistente <br />\r\n18 - A duração do consentimento não pode ser maior do que 365 dias <br />\r\n99 - Ocorreu um erro inesperado <br />\r\n999 - Erro não mapeado <br />","format":"int32","example":99},"description":{"type":"string","description":"Descrição do erro","nullable":true,"example":"Erro desconhecido"}},"additionalProperties":false},"PartnerType":{"enum":[1,3],"type":"integer","format":"int32"},"AccountTypesResponse":{"type":"object","properties":{"type":{"type":"string","description":"Tipo de conta","nullable":true}},"additionalProperties":false},"ConsentTypesResponse":{"type":"object","properties":{"permission":{"type":"integer","description":"Permissão do consentimento.","format":"int32"},"description":{"type":"string","description":"Descrição da permissão.","nullable":true}},"additionalProperties":false},"PartnerInputsResponse":{"type":"object","properties":{"partnerInputId":{"type":"integer","description":"Número identificador do dado de entrada.","format":"int32"},"individualKey":{"type":"boolean","description":"Chave individual."},"order":{"type":"integer","description":"Ordem do dado de entrada.","format":"int32"},"inputType":{"type":"string","description":"Descrição do dado de entrada.","nullable":true},"minLength":{"type":"integer","description":"Tamanho mínimo do dado de entrada.","format":"int32"},"maxLength":{"type":"integer","description":"Tamanho máximo do dado de entrada.","format":"int32"},"dataType":{"type":"string","description":"Tipo do dado de entrada.","nullable":true}},"additionalProperties":false},"PartnerResponse":{"type":"object","properties":{"partnerId":{"type":"integer","description":"Número identificador do parceiro.","format":"int32"},"description":{"type":"string","description":"Descrição do parceiro.","nullable":true},"partnerType":{"type":"string","description":"Tipo do parceiro.","nullable":true},"logo":{"type":"string","description":"Logotipo do parceiro.","nullable":true},"accountTypes":{"type":"array","items":{"$ref":"#/components/schemas/AccountTypesResponse"},"nullable":true},"consentTypes":{"type":"array","items":{"$ref":"#/components/schemas/ConsentTypesResponse"},"description":"Tipo de consentimento.","nullable":true},"partnerInputs":{"type":"array","items":{"$ref":"#/components/schemas/PartnerInputsResponse"},"description":"Dados de entrada do parceiro.","nullable":true}},"additionalProperties":false},"UnprocessablePartner":{"type":"object","properties":{"errorCode":{"type":"integer","description":"999 - Ocorreu um erro inesperado <br />","format":"int32","example":999},"description":{"type":"string","description":"Descrição do erro","nullable":true,"example":"Erro desconhecido"}},"additionalProperties":false},"UsageStatementRequest":{"type":"object","properties":{"consentId":{"type":"integer","format":"int32"},"startDate":{"type":"string","format":"date-time"},"endDate":{"type":"string","format":"date-time"},"limit":{"type":"integer","format":"int32"}},"additionalProperties":false},"UnprocessableUtilityPost":{"type":"object","properties":{"errorCode":{"type":"integer","description":"997 - Sem permissão <br />\r\n996 - Consentimento não existe <br />","format":"int32","example":999},"description":{"type":"string","description":"Descrição do erro","nullable":true,"example":"Ocorreu um erro inesperado"}},"additionalProperties":false},"UnprocessableUtilityPostServerError":{"type":"object","properties":{"errorCode":{"type":"integer","description":"99 - Usuário não existe <br />\r\n999 - Ocorreu um erro inesperado <br />","format":"int32","example":999},"description":{"type":"string","description":"Descrição do erro","nullable":true,"example":"Ocorreu um erro inesperado"}},"additionalProperties":false},"LegalTextDTO":{"type":"object","properties":{"termsOfServiceURL":{"type":"string","description":"Campo obrigatório, o link deve ter acesso público.","nullable":true,"example":"https://www.site.com/terms.pdf"},"privacyPolicyURL":{"type":"string","description":"Campo obrigatório, o link deve ter acesso público.","nullable":true,"example":"https://www.site.com/privacy.pdf"}},"additionalProperties":false},"UnprocessableSWLegalText":{"type":"object","properties":{"errorCode":{"type":"integer","description":"01 - Uma ou mais configurações de URL não possui uma extensão válida <br />\r\n02 - Você precisa inserir pelo menos uma URL para atualizar um dos termos <br />\r\n03 - Uma ou mais URL's possui mais de 2 mil caracteres <br />","format":"int32","example":999},"description":{"type":"string","description":"Descrição do erro","nullable":true,"example":"Ocorreu um erro inesperado"}},"additionalProperties":false},"UnprocessableSWLegalTextServerError":{"type":"object","properties":{"errorCode":{"type":"integer","description":"200 - O endereço enviado em um dos textos é inválido <br />\r\n99 - Ocorreu um erro inesperado <br />","format":"int32","example":99},"description":{"type":"string","description":"Descrição do erro","nullable":true,"example":"Ocorreu um erro inesperado"}},"additionalProperties":false},"ConfigLogoDto":{"type":"object","properties":{"urlImage":{"type":"string","description":"Campo obrigatório, o link da imagem deve ter acesso público.","nullable":true,"example":"10"},"alternativeMessage":{"type":"string","description":"Campo obrigatório limitado até 15 caracteres.","nullable":true,"example":""}},"additionalProperties":false},"UnprocessableSWLogo":{"type":"object","properties":{"errorCode":{"type":"integer","description":"","format":"int32","example":999},"description":{"type":"string","description":"Descrição do erro","nullable":true,"example":"Ocorreu um erro inesperado"}},"additionalProperties":false},"SWServerError":{"type":"object","properties":{"errorCode":{"type":"integer","description":"99 -\"Ocorreu um erro inesperado\" <br />","format":"int32","example":999},"description":{"type":"string","description":"Descrição do erro","nullable":true,"example":"Ocorreu um erro inesperado"}},"additionalProperties":false},"PartnerDto":{"type":"object","properties":{"partnerId":{"type":"integer","description":"Número identificador do parceiro.","format":"int32"}},"additionalProperties":false},"UnprocessableSWPartner":{"type":"object","properties":{"errorCode":{"type":"integer","description":"","format":"int32","example":999},"description":{"type":"string","description":"Descrição do erro","nullable":true,"example":"Ocorreu um erro inesperado"}},"additionalProperties":false},"PartnerSuggestionDto":{"type":"object","properties":{"name":{"type":"string","nullable":true},"document":{"type":"string","nullable":true},"documentType":{"type":"string","nullable":true}},"additionalProperties":false},"UnprocessableSWPartnerSuggestion":{"type":"object","properties":{"errorCode":{"type":"integer","description":"","format":"int32","example":999},"description":{"type":"string","description":"Descrição do erro","nullable":true,"example":"Ocorreu um erro inesperado"}},"additionalProperties":false},"TokenRequest":{"type":"object","properties":{"externalNsu":{"type":"integer","format":"int64"},"urlRedirect":{"type":"string","nullable":true},"document":{"type":"string","nullable":true},"documentType":{"type":"string","nullable":true}},"additionalProperties":false},"TokenResponse":{"type":"object","properties":{"redirectUri":{"type":"string","description":"URI de redirecionamento.","nullable":true}},"additionalProperties":false},"UnprocessableSWToken":{"type":"object","properties":{"errorCode":{"type":"integer","description":"","format":"int32","example":999},"description":{"type":"string","description":"Descrição do erro","nullable":true,"example":"Ocorreu um erro inesperado"}},"additionalProperties":false},"AccountType":{"type":"object","additionalProperties":false},"ConsentType":{"type":"object","additionalProperties":false},"Institution":{"type":"object","properties":{"accountTypes":{"type":"array","items":{"$ref":"#/components/schemas/AccountType"},"description":"Tipo de conta.","nullable":true},"consentTypes":{"type":"array","items":{"$ref":"#/components/schemas/ConsentType"},"description":"Tipo de consentimento.","nullable":true}},"additionalProperties":false},"SecureWidgetInfo":{"type":"object","properties":{"clientId":{"type":"string","description":"Número identificador do cliente.","nullable":true},"clientName":{"type":"string","description":"Nome do cliente.","nullable":true},"document":{"type":"string","description":"CPF/CNPJ sem pontos ou traços.","nullable":true},"documentType":{"type":"string","description":"Identifica o tipo do documento [CPF or CNPJ].","nullable":true},"externalNsu":{"type":"integer","description":"Número Sequencial Único externo. Para controle externo.","format":"int64"},"urlRedirect":{"type":"string","description":"URL da redirecionamento.","nullable":true},"urlTerms":{"type":"string","description":"URL dos termos do parceiro.","nullable":true},"urlPrivacyPolicy":{"type":"string","description":"URL das políticas de privacidade do parceiro.","nullable":true},"institutions":{"type":"array","items":{"$ref":"#/components/schemas/Institution"},"description":"Lista de instituições disponíveis.","nullable":true},"publicKey":{"type":"string","description":"Chave pública do certificado.","nullable":true}},"additionalProperties":false},"UnprocessableSWValidate":{"type":"object","properties":{"errorCode":{"type":"integer","description":"","format":"int32","example":999},"description":{"type":"string","description":"Descrição do erro","nullable":true,"example":"Ocorreu um erro inesperado"}},"additionalProperties":false},"Error":{"type":"object","properties":{"code":{"type":"integer","description":"99 - Ocorreu um erro inesperado\r\n999 - Usuário não existe","format":"int32","example":99},"description":{"type":"string","description":"Descrição do erro","nullable":true,"example":"Ocorreu um erro inesperado"}},"additionalProperties":false}},"securitySchemes":{"Bearer":{"type":"apiKey","description":"[API V5] - Please enter into field the word 'Bearer' following by space and the access_token (JWT)","name":"Authorization","in":"header"}}},"security":[{"Bearer":[]}],"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}