{"openapi":"3.1.0","info":{"title":"RECARGAS","version":"2.0.0"},"servers":[{"url":"https://sandbox.openfinance.celcoin.dev"}],"components":{"securitySchemes":{"sec0":{"type":"oauth2","flows":{}}}},"security":[{"sec0":[]}],"paths":{"/v5/transactions/topups/providers":{"get":{"summary":"Listar operadoras","description":"Essa api retorna uma lista de todas as operadoras que a Celcoin consegue realizar uma recarga.\n\nOs tipos de recarga poderão ser informados como: \n\n**0** para **TODOS**\n**1** para **PIN**\n**2** para **ONLINE**\n\nA categoria de recarga poderá ser informada como:\n\n**0** para **TODOS**\n**1** para **TELEFONE**\n**2** para **JOGOS**\n**3** para **TV**\n**4** para **TRANSPORTE**\n**5** para **CONTEÚDO DIGITAL**\n\nPara lhe ensinar como utilizar essa api criamos o [artigo](https://developers.celcoin.com.br/docs/sobre-recargas-nacionais#consultar-operadoras).","operationId":"retorna-a-lista-de-operadoras","parameters":[{"name":"stateCode","in":"query","description":"Código do estado atrelado ao número de telefone","schema":{"type":"integer","format":"int32","default":11}},{"name":"type","in":"query","schema":{"type":"string","default":"0"}},{"name":"category","in":"query","description":"Categoria","schema":{"type":"string","default":"0"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Sucess":{"value":"[\n  {\n    \"category\": 1,\n    \"name\": \"Tim\",\n    \"providerId\": 2086,\n    \"regionaisnameProviders\": [\n      {}\n    ],\n    \"tipoRecarganameProvider\": 1,\n    \"maxValue\": 100,\n    \"minValue\": 10\n  }\n]"}},"schema":{"type":"array","items":{"type":"object","properties":{"category":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Tim"},"providerId":{"type":"integer","example":2086,"default":0},"regionaisnameProviders":{"type":"array","items":{"type":"object","properties":{}}},"tipoRecarganameProvider":{"type":"integer","example":1,"default":0},"maxValue":{"type":"integer","example":100,"default":0},"minValue":{"type":"integer","example":10,"default":0}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Bad request":{"value":"{\n  \"message\": \"Mensagem de erro\",\n  \"errorCode\": \"999\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Mensagem de erro"},"errorCode":{"type":"string","example":"999"}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Unauthorized":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Internal Server Error":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/v5/transactions/topups/provider-values":{"get":{"summary":"Consultar valores operacionais para uma operadora ou provedor","description":"Essa API apresenta os valores disponibilizados por uma operadora ou provedor.\n\nCom objetivo de te ajudar a implementar essa API criamos o [artigo](https://developers.celcoin.com.br/docs/sobre-recargas-nacionais#consultar-valores-operacionais)","operationId":"consulta-valores-operacionais","parameters":[{"name":"stateCode","in":"query","description":"Código do estado atrelado ao número de telefone","schema":{"type":"integer","format":"int32","default":11}},{"name":"providerId","in":"query","description":"Identificador da operadora","schema":{"type":"string","default":"2125"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Sucess":{"value":"{\n    \"value\": [\n        {\n            \"properties\": null,\n            \"code\": 0,\n            \"cost\": 0.0,\n            \"detail\": \"\",\n            \"productName\": \"R$ 85,99 - Xbox Live 3 meses\",\n            \"checkSum\": -18913591,\n            \"dueProduct\": 0,\n            \"valueBonus\": 0.0,\n            \"maxValue\": 85.99,\n            \"minValue\": 85.99\n        },\n        {\n            \"properties\": null,\n            \"code\": 0,\n            \"cost\": 0.0,\n            \"detail\": \"\",\n            \"productName\": \"R$ 171,98 - Xbox Live 6 meses\",\n            \"checkSum\": -2147483640,\n            \"dueProduct\": 0,\n            \"valueBonus\": 0.0,\n            \"maxValue\": 171.89,\n            \"minValue\": 171.98\n        },\n        {\n            \"properties\": null,\n            \"code\": 0,\n            \"cost\": 0.0,\n            \"detail\": \"\",\n            \"productName\": \"R$ 199,00 - Xbox Live 12 meses\",\n            \"checkSum\": -18913591,\n            \"dueProduct\": 0,\n            \"valueBonus\": 0.0,\n            \"maxValue\": 199.0,\n            \"minValue\": 199.0\n        }\n    ],\n    \"externalNsuQuery\": null,\n    \"errorCode\": \"000\",\n    \"message\": \"SUCESSO\",\n    \"status\": 0\n}"}},"schema":{"type":"object","properties":{"value":{"type":"array","items":{"type":"object","properties":{"properties":{},"code":{"type":"integer","example":0,"default":0},"cost":{"type":"integer","example":0,"default":0},"detail":{"type":"string","example":""},"productName":{"type":"string","example":"R$ 85,99 - Xbox Live 3 meses"},"checkSum":{"type":"integer","example":-18913591,"default":0},"dueProduct":{"type":"integer","example":0,"default":0},"valueBonus":{"type":"integer","example":0,"default":0},"maxValue":{"type":"number","example":85.99,"default":0},"minValue":{"type":"number","example":85.99,"default":0}}}},"externalNsuQuery":{},"errorCode":{"type":"string","example":"000"},"message":{"type":"string","example":"SUCESSO"},"status":{"type":"integer","example":0,"default":0}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"bad request":{"value":"{\n  \"message\": \"Mensagem de erro\",\n  \"errorCode\": \"Código do erro interno\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Mensagem de erro"},"errorCode":{"type":"string","example":"Código do erro interno"}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Unauthorized":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Internal server errror":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/v5/transactions/status-consult":{"get":{"summary":"Consultar informações de uma recarga","description":"Essa API disponibiliza informações de uma recarga a partir de alguns campos. Criamos um [artigo](https://developers.celcoin.com.br/docs/sobre-recargas-nacionais#consultar-informa%C3%A7%C3%B5es-de-uma-recarga) que explica como usar essa API.","operationId":"consultar-informações-de-uma-recarga","parameters":[{"name":"transactionId","in":"query","description":"ID da transação para consulta","schema":{"type":"integer","format":"int32"}},{"name":"externalNSU","in":"query","description":"Identificador da transação do sistema cliente","schema":{"type":"integer","format":"int64"}},{"name":"externalTerminal","in":"query","description":"Terminal de identificação externa do sistema do cliente","schema":{"type":"string"}},{"name":"operationDate","in":"query","description":"Data da operação","schema":{"type":"string","format":"date","default":"0001-01-01T00:00:00"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"transaction\": {\n    \"authentication\": 6088,\n    \"errorCode\": \"000\",\n    \"createDate\": \"2021-06-24T17:48:08\",\n    \"message\": \"SUCESSO\",\n    \"externalNSU\": 1234,\n    \"transactionId\": \"7097995\",\n    \"status\": 0,\n    \"externalTerminal\": \"11122233344\"\n  },\n  \"erroCode\": \"000\",\n  \"message\": \"SUCESSO\",\n  \"status\": 0\n}"}},"schema":{"type":"object","properties":{"transaction":{"type":"object","properties":{"authentication":{"type":"integer","example":6088,"default":0},"errorCode":{"type":"string","example":"000"},"createDate":{"type":"string","example":"2021-06-24T17:48:08"},"message":{"type":"string","example":"SUCESSO"},"externalNSU":{"type":"integer","example":1234,"default":0},"transactionId":{"type":"string","example":"7097995"},"status":{"type":"integer","example":0,"default":0},"externalTerminal":{"type":"string","example":"11122233344"}}},"erroCode":{"type":"string","example":"000"},"message":{"type":"string","example":"SUCESSO"},"status":{"type":"integer","example":0,"default":0}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"TRANSACTIONID NÃO INFORMADO":{"value":"{\n  \"message\": \"TRANSACTIONID NÃO INFORMADO, OS DEMAIS CAMPOS SÃO OBRIGATÓRIOS\",\n  \"errorCode\": \"709\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"TRANSACTIONID NÃO INFORMADO, OS DEMAIS CAMPOS SÃO OBRIGATÓRIOS"},"errorCode":{"type":"string","example":"709"}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Unauthorized":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Internal Server Error":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/v5/transactions/topups/{transactionId}/void":{"delete":{"summary":"Cancelar transação de recarga efetuada","description":"Essa API cancela uma reserva que foi criada para realizar uma recarga.","operationId":"cancela-uma-transação-de-recarga-efetuada","parameters":[{"name":"transactionId","in":"path","description":"ID da transação para cancelar.","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"externalNSU":{"type":"integer","description":"Identificador da transação do sistema cliente.","format":"int64"},"externalTerminal":{"type":"string","description":"Terminal de identificação externa do sistema do cliente, Ex: CPF."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Sucess":{"value":"{\n  \"erroCode\": \"000\",\n  \"message\": \"SUCESSO\",\n  \"status\": 0\n}"}},"schema":{"type":"object","properties":{"erroCode":{"type":"string","example":"000"},"message":{"type":"string","example":"SUCESSO"},"status":{"type":"integer","example":0,"default":0}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"TRANSACAO NAO ENCONTRADA":{"value":"{\n  \"message\": \"TRANSACAO NAO ENCONTRADA\",\n  \"errorCode\": \"024\"\n}"},"FALHA NA COMUNIC COM A SUA INSTUICAO":{"value":"{\n  \"message\": \"FALHA NA COMUNIC COM A SUA INSTUICAO\",\n  \"errorCode\": \"171\"\n}"},"FALHA NA COMUNIC COM A INSTITUICAO. FAVOR TENTE NOVAMENTE":{"value":"{\n  \"message\": \"FALHA NA COMUNIC COM A INSTITUICAO. FAVOR TENTE NOVAMENTE\",\n  \"errorCode\": \"620\"\n}"},"FALHA NA COMUNIC JUNTO AO NOSSO PARCEIRO. FAVOR TENTE NOVAMENTE":{"value":"{\n  \"message\": \"FALHA NA COMUNIC JUNTO AO NOSSO PARCEIRO. FAVOR TENTE NOVAMENTE\",\n  \"errorCode\": \"620\"\n}"}},"schema":{"oneOf":[{"title":"TRANSACAO NAO ENCONTRADA","type":"object","properties":{"message":{"type":"string","example":"TRANSACAO NAO ENCONTRADA"},"errorCode":{"type":"string","example":"024"}}},{"title":"FALHA NA COMUNIC COM A SUA INSTUICAO","type":"object","properties":{"message":{"type":"string","example":"FALHA NA COMUNIC COM A SUA INSTUICAO"},"errorCode":{"type":"string","example":"171"}}},{"title":"FALHA NA COMUNIC COM A INSTITUICAO. FAVOR TENTE NOVAMENTE","type":"object","properties":{"message":{"type":"string","example":"FALHA NA COMUNIC COM A INSTITUICAO. FAVOR TENTE NOVAMENTE"},"errorCode":{"type":"string","example":"620"}}},{"title":"FALHA NA COMUNIC JUNTO AO NOSSO PARCEIRO. FAVOR TENTE NOVAMENTE","type":"object","properties":{"message":{"type":"string","example":"FALHA NA COMUNIC JUNTO AO NOSSO PARCEIRO. FAVOR TENTE NOVAMENTE"},"errorCode":{"type":"string","example":"620"}}}]}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Unauthorized":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"500":{"description":"500","content":{"text/plain":{"examples":{"Internal server error":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/v5/transactions/topups/find-providers":{"get":{"summary":"Buscar operadora a partir de um número de telefone","description":"Essa API verifica qual operadora o número de telefone informado pertence.\n\n*A operadora OI foi vendida e está realizando a portabilidade de todos os seus números para as operadoras Claro, VIVO e TIM. Por este motivo, não conseguimos garantir que todos os números consultados da OI são de fato desse provedor. Neste caso, para concluir a ação de recarga, oriente o usuário do seu aplicativo, ou aplicação, a inserir o nome do provedor do número de telefone dele.","operationId":"buscar-operadora-a-partir-de-um-número-de-telefone","parameters":[{"name":"stateCode","in":"query","description":"Código do estado atrelado ao número de telefone","schema":{"type":"integer","format":"int32"}},{"name":"PhoneNumber","in":"query","description":"Número do telefone","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"nameProvider\": \"Claro\",\n    \"providerId\": 2087,\n    \"errorCode\": \"000\",\n    \"message\": \"SUCESSO\",\n    \"status\": 0\n}"}},"schema":{"type":"object","properties":{"nameProvider":{"type":"string","example":"Claro"},"providerId":{"type":"integer","example":2087,"default":0},"errorCode":{"type":"string","example":"000"},"message":{"type":"string","example":"SUCESSO"},"status":{"type":"integer","example":0,"default":0}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"errorCode\": \"620\",\n    \"message\": \"FALHA NA COMUNIC COM A INSTITUICAO. FAVOR TENTE NOVAMENTE. (620)\"\n}"}},"schema":{"type":"object","properties":{"errorCode":{"type":"string","example":"620"},"message":{"type":"string","example":"FALHA NA COMUNIC COM A INSTITUICAO. FAVOR TENTE NOVAMENTE. (620)"}}}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Result":{"value":""}}}}},"500":{"description":"500","content":{"text/plain":{"examples":{"Result":{"value":""}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}