{"openapi":"3.1.0","info":{"title":"Conciliação","version":"2.0.0"},"servers":[{"url":"https://sandbox.openfinance.celcoin.dev"}],"components":{"securitySchemes":{"sec0":{"type":"oauth2","flows":{}}}},"security":[{"sec0":[]}],"paths":{"/tools-conciliation/v1/exportfile/types":{"get":{"summary":"Buscar tipos de arquivos","description":"Essa API possibilita que seja realizada a consulta de tipos de arquivos de conciliação. Para mais informações de como realizar a implementação dessa API, criamos este [artigo](https://developers.celcoin.com.br/docs/sobre-api-de-concilia%C3%A7%C3%A3o).\n\nPara saber mais sobre os erros que essa API retorna ao realizar a consulta, clique [aqui](https://developers.celcoin.com.br/docs/tabela-de-erros-conciliacao)","operationId":"buscar-tipos-de-arquivos","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"[\n    {\n        \"fileType\": 1,\n        \"description\": \"Movimentacao\"\n    },\n    {\n        \"fileType\": 2,\n        \"description\": \"Recusa Movimentacao\"\n    },\n    {\n        \"fileType\": 22,\n        \"description\": \"Transferencia Movimentacao\"\n    },\n    {\n        \"fileType\": 23,\n        \"description\": \"Transferencia Recusa\"\n    },\n    {\n        \"fileType\": 24,\n        \"description\": \"Recebimento Eletronico\"\n    },\n    {\n        \"fileType\": 25,\n        \"description\": \"Pagamento Eletronico\"\n    },\n    {\n        \"fileType\": 36,\n        \"description\": \"PIX Pagamento\"\n    },\n    {\n        \"fileType\": 37,\n        \"description\": \"PIX Recebimento\"\n    },\n    {\n        \"fileType\": 38,\n        \"description\": \"PIX Devolução de Recebimento\"\n    },\n    {\n        \"fileType\": 39,\n        \"description\": \"PIX Devolução de Pagamento\"\n    },\n    {\n        \"fileType\": 40,\n        \"description\": \"Recarga Internacional\"\n    },\n    {\n        \"fileType\": 41,\n        \"description\": \"PIX Aporte\"\n    },\n    {\n        \"fileType\": 43,\n        \"description\": \"Pagamento DA\"\n    },\n    {\n        \"fileType\": 46,\n        \"description\": \"Consulta Debito Veicular\"\n    },\n    {\n        \"fileType\": 47,\n        \"description\": \"Liquidacao Debito Veicular\"\n    }\n]\n"}},"schema":{"type":"array","items":{"type":"object","properties":{"fileType":{"type":"integer","example":1,"default":0},"description":{"type":"string","example":"Movimentacao"}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"ExpiredToken":{"value":"{\n    \"message\": \"Token expired\",\n    \"errorCode\": \"993\"\n}"},"MissingHeader":{"value":"{\n    \"message\": \"Missing Authorization Header\",\n    \"errorCode\": \"994\"\n}"},"Unauthorized":{"value":"{\n    \"message\": \"Unautorized\",\n    \"errorCode\": \"995\"\n}"}},"schema":{"oneOf":[{"title":"ExpiredToken","type":"object","properties":{"message":{"type":"string","example":"Token expired"},"errorCode":{"type":"string","example":"993"}}},{"title":"MissingHeader","type":"object","properties":{"message":{"type":"string","example":"Missing Authorization Header"},"errorCode":{"type":"string","example":"994"}}},{"title":"Unauthorized","type":"object","properties":{"message":{"type":"string","example":"Unautorized"},"errorCode":{"type":"string","example":"995"}}}]}}}},"403":{"description":"403","content":{"application/json":{"examples":{"FunctionalityPermission":{"value":"{\n    \"message\": \"User does not have permission to access functionality\",\n    \"errorCode\": \"992\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"User does not have permission to access functionality"},"errorCode":{"type":"string","example":"992"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"UserNotFound":{"value":"{\n    \"message\": \"Non-existent user\",\n    \"errorCode\": \"996\"\n}"},"FileTypeNotFound":{"value":"{\n    \"message\": \"No file type found\",\n    \"errorCode\": \"004\"\n}"}},"schema":{"oneOf":[{"title":"UserNotFound","type":"object","properties":{"message":{"type":"string","example":"Non-existent user"},"errorCode":{"type":"string","example":"996"}}},{"title":"FileTypeNotFound","type":"object","properties":{"message":{"type":"string","example":"No file type found"},"errorCode":{"type":"string","example":"004"}}}]}}}},"500":{"description":"500","content":{"application/json":{"examples":{"FailedUserValidation":{"value":"{\n    \"message\": \"Failed validating user. Try Again\",\n    \"errorCode\": \"997\"\n}"},"FailedProductValidation":{"value":"{\n    \"message\": \"Failed validating product. Try Again\",\n    \"errorCode\": \"998\"\n}"},"Internal Server Error":{"value":"{\n    \"message\": \"Failed executing operation. Try Again\",\n    \"errorCode\": \"999\"\n}"}},"schema":{"oneOf":[{"title":"FailedUserValidation","type":"object","properties":{"message":{"type":"string","example":"Failed validating user. Try Again"},"errorCode":{"type":"string","example":"997"}}},{"title":"FailedProductValidation","type":"object","properties":{"message":{"type":"string","example":"Failed validating product. Try Again"},"errorCode":{"type":"string","example":"998"}}},{"title":"Internal Server Error","type":"object","properties":{"message":{"type":"string","example":"Failed executing operation. Try Again"},"errorCode":{"type":"string","example":"999"}}}]}}}}},"deprecated":false}},"/tools-conciliation/v1/exportfile/":{"get":{"summary":"Extrair arquivo","description":"Essa API possibilita que seja realizada a consulta e extração de arquivo de conciliação. Para mais informações de como realizar a implementação dessa API, criamos este [artigo](https://developers.celcoin.com.br/docs/sobre-api-de-concilia%C3%A7%C3%A3o).\n\nPara saber mais sobre os erros que essa API retorna ao realizar a consulta, clique [aqui](https://developers.celcoin.com.br/docs/tabela-de-erros-conciliacao)","operationId":"extrair-arquivo","parameters":[{"name":"filetype","in":"query","description":"Tipo de arquivo","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"accountdate","in":"query","description":"Data contábil, no formato AAAA-MM-DD","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Número de página. Por padrão, se não informado, retorna a página 1.","schema":{"type":"integer","format":"int32"}},{"name":"quantity","in":"query","description":"Quantidade de registros por página. Por padrão a API retorna 1.000 registros","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Movimentacao":{"value":"{\n    \"movement\": [\n      {\n        \"DigitableLine\": \"03399492813698211321901537301028400000000000000 \",\n        \"AccountDate\": \"2022-06-01T00:00:00\",\n        \"Value\": 304.1,\n        \"TransactionType\": 1,\n        \"TransactionDateTime\": \"2022-06-01T20:00:00\",\n        \"TransactionCode\": \"RECEBERCONTA\",\n        \"TransactionId\": 815977512,\n        \"NSU\": 97102,\n        \"ExternalTerminal\": \"6C59770F-4A0A-4429-9C39-0ADBFFCDB525\",\n        \"ExternalNSU\": 2105324538,\n        \"PaymentMethod\": 2\n      },\n      {\n        \"AccountDate\": \"2022-06-01T00:00:00\",\n        \"Value\": 440.47,\n        \"TransactionType\": 10,\n        \"TransactionDateTime\": \"2022-06-01T09:00:00\",\n        \"TransactionCode\": \"RECARGA\",\n        \"TransactionId\": 815977522,\n        \"NSU\": 98992,\n        \"ExternalTerminal\": \"673B5CCB-47B9-4722-ABDA-C430D2059053\",\n        \"ExternalNSU\": 1924016170,\n        \"PaymentMethod\": 2\n      }\n    ],\n    \"pagination\": {\n        \"page\": 1,\n        \"totalCount\": 10,\n        \"totalPages\": 5,\n        \"hasPrevious\": false,\n        \"hasNext\": true\n    }\n}\n"},"RecusaMovimentacao":{"value":"{\n    \"movement\": [\n      {\n        \"RefusalMotive\": \"2 - Operação Falhou.\",\n        \"DigitableLine\": \"07797777052163828603061591964749488210000005000 \",\n        \"AccountDate\": \"2021-12-01T00:00:00\",\n        \"Value\": 50,\n        \"TransactionType\": 1,\n        \"TransactionDateTime\": \"2021-11-30T17:05:00.413\",\n        \"TransactionCode\": \"RECEBERCONTA\",\n        \"TransactionId\": 81222248,\n        \"NSU\": 3500,\n        \"ExternalTerminal\": \"0000\",\n        \"ExternalNSU\": 145097,\n        \"PaymentMethod\": 2\n      }\n    ],\n    \"pagination\": {\n        \"page\": 1,\n        \"totalCount\": 1,\n        \"totalPages\": 1,\n        \"hasPrevious\": false,\n        \"hasNext\": false\n    }\n}\n"},"TransferênciaMovimentação":{"value":"{\n    \"movement\": [\n      {\n        \"CpfCnpj\": \"12345678909\",\n        \"FullName\": \"Fulano de tal\",\n        \"Bank\": 1,\n        \"AccountType\": 1,\n        \"Agency\": 1,\n        \"Account\": 1,\n        \"VerifyingDigit\": 1,\n        \"AccountDate\": \"2022-06-01T00:00:00\",\n        \"Value\": 2,\n        \"TransactionType\": 33,\n        \"TransactionDateTime\": \"2022-05-31T11:55:20.393\",\n        \"TransactionCode\": \"TRANSFERENCIA\",\n        \"TransactionId\": 815977375,\n        \"NSU\": 0,\n        \"ExternalTerminal\": \"11122233344\",\n        \"ExternalNSU\": 19729,\n        \"PaymentMethod\": 2\n      }\n    ],\n    \"pagination\": {\n        \"page\": 1,\n        \"totalCount\": 1,\n        \"totalPages\": 1,\n        \"hasPrevious\": false,\n        \"hasNext\": false\n    }\n}\n"},"TransferênciaRecusa":{"value":"{\n    \"movement\": [\n      {\n        \"RefusalMotive\": \"\",\n        \"DevolutionDate\": \"02/06/2022 00:00\",\n        \"CpfCnpj\": \"12345678909\",\n        \"FullName\": \"Fulano de tal\",\n        \"Bank\": 1,\n        \"AccountType\": 1,\n        \"Agency\": 1,\n        \"Account\": 1,\n        \"VerifyingDigit\": 1,\n        \"AccountDate\": \"2022-06-01T00:00:00\",\n        \"Value\": 1010.66,\n        \"TransactionType\": 33,\n        \"TransactionDateTime\": \"2022-06-01T20:00:00\",\n        \"TransactionCode\": \"TRANSFERENCIA\",\n        \"TransactionId\": 815977532,\n        \"NSU\": 1269,\n        \"ExternalTerminal\": \"2886A7CA-3A69-4A7D-A0C1-078A3394DB63\",\n        \"ExternalNSU\": 915547103,\n        \"PaymentMethod\": 2\n      }\n    ],\n    \"pagination\": {\n        \"page\": 1,\n        \"totalCount\": 1,\n        \"totalPages\": 1,\n        \"hasPrevious\": false,\n        \"hasNext\": false\n    }\n}\n"},"RecebimentoEletrônico":{"value":"{\n    \"movement\": [\n      {\n        \"CpfCnpj\": \"12345678909\",\n        \"AccountDate\": \"2022-06-01T00:00:00\",\n        \"Value\": 599.15,\n        \"TransactionType\": 32,\n        \"TransactionDateTime\": \"2022-06-01T08:00:00\",\n        \"TransactionCode\": \"RECEBIMENTOELETRONICO\",\n        \"TransactionId\": 815977537,\n        \"NSU\": 59340,\n        \"ExternalTerminal\": \"80A5CADC-F080-4229-A1B5-3BF36B0BA4D3\",\n        \"ExternalNSU\": 1619674788,\n        \"PaymentMethod\": 2\n      }\n    ],\n    \"pagination\": {\n        \"page\": 1,\n        \"totalCount\": 1,\n        \"totalPages\": 1,\n        \"hasPrevious\": false,\n        \"hasNext\": false\n    }\n}\n"},"PagamentoEletrônico":{"value":"{\n    \"movement\": [\n      {\n        \"CpfCnpj\": \"12345678909\",\n        \"AccountDate\": \"2022-06-01T00:00:00\",\n        \"Value\": 1385.34,\n        \"TransactionType\": 36,\n        \"TransactionDateTime\": \"2022-06-01T02:00:00\",\n        \"TransactionCode\": \"PAGAMENTOELETRONICO\",\n        \"TransactionId\": 815977542,\n        \"NSU\": 25009,\n        \"ExternalTerminal\": \"65EB1908-509E-4913-8390-A60DD7B40582\",\n        \"ExternalNSU\": 1652009408,\n        \"PaymentMethod\": 2\n      }\n    ],\n    \"pagination\": {\n        \"page\": 1,\n        \"totalCount\": 1,\n        \"totalPages\": 1,\n        \"hasPrevious\": false,\n        \"hasNext\": false\n    }\n}\n"},"PixPagamento":{"value":"{\n    \"movement\": [\n      {\n        \"ReceiverCpfCnpj\": \"12345678909\",\n        \"TransactionIdentification\": \"8B94ACD6-AE05-43CB-9862-4595AE2D6C33\",\n        \"EndToEnd\": \"E339655166\",\n        \"ReceiverAccount\": \"1\",\n        \"ReceiverAccountType\": \"CACC\",\n        \"ReceiverBranch\": 1,\n        \"ReceiverBank\": 1,\n        \"ReceiverName\": \"Fulano de Tal\",\n        \"PartnerId\": \"XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX\",\n        \"ReceiverKey\": \"fulanodetal@fulanos.com.br\",\n        \"ConfirmationDate\": \"2022-06-01T00:00:00.000\",\n        \"AccountDate\": \"2022-06-01T00:00:00\",\n        \"Value\": 279.5,\n        \"TransactionType\": 57,\n        \"TransactionDateTime\": \"2022-06-01T20:00:00\",\n        \"TransactionCode\": \"PAYMENT\",\n        \"TransactionId\": 815977557,\n        \"NSU\": 95338,\n        \"ExternalTerminal\": \"D63330B8-97EC-4BEF-9B25-5BDA2418EA8E\",\n        \"ExternalNSU\": 645017136,\n        \"PaymentMethod\": 2\n      }\n    ],\n    \"pagination\": {\n        \"page\": 1,\n        \"totalCount\": 1,\n        \"totalPages\": 1,\n        \"hasPrevious\": false,\n        \"hasNext\": false\n    }\n}\n"},"PixRecebimento":{"value":"{\n    \"movement\": [\n      {\n        \"TransactionIdentification\": \"DF0DA8D7-120E-4083-BCB4-3BE96E7E1127\",\n        \"EndToEnd\": \"E716846145\",\n        \"PayerKey\": \"TesteMockado\",\n    \t\t\"PayerCpfCnpj\": \"12345678909\",\n        \"PayerAccount\": \"1\",\n        \"PayerAccountType\": \"TRAN\",\n        \"PayerBranch\": \"1\",\n        \"PayerBank\": \"1\",\n        \"PartnerId\": \"XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX\",\n        \"AccountDate\": \"2022-06-01T00:00:00\",\n        \"Value\": 1906.82,\n        \"TransactionType\": 58,\n        \"TransactionDateTime\": \"2022-06-01T10:00:00\",\n        \"TransactionCode\": \"RECIVEMENTPAYMENT\",\n        \"TransactionId\": 815977577,\n        \"NSU\": 2989,\n        \"PaymentMethod\": 2\n      }\n    ],\n    \"pagination\": {\n        \"page\": 1,\n        \"totalCount\": 1,\n        \"totalPages\": 1,\n        \"hasPrevious\": false,\n        \"hasNext\": false\n    }\n}\n"},"PixDevoluçãoRecebimento":{"value":"{\n    \"movement\": [\n      {\n        \"AccountDate\": \"2022-06-01T00:00:00\",\n        \"Value\": 743.81,\n        \"TransactionType\": 60,\n        \"TransactionDateTime\": \"2022-06-01T01:00:00\",\n        \"TransactionCode\": \"RECIVEMENTREVERSEPAYMENT\",\n        \"TransactionId\": 815977572,\n        \"NSU\": 96331,\n        \"ExternalNSU\": 98563707,\n        \"PaymentMethod\": 2\n      }\n    ],\n    \"pagination\": {\n        \"page\": 1,\n        \"totalCount\": 1,\n        \"totalPages\": 1,\n        \"hasPrevious\": false,\n        \"hasNext\": false\n    }\n}\n"},"DevoluçãoPagamento":{"value":"{\n    \"movement\": [\n      {\n        \"ReturnIdentification\": \"D1057929537\",\n        \"AccountDate\": \"2022-06-01T00:00:00\",\n        \"Value\": 818.28,\n        \"TransactionType\": 59,\n        \"TransactionDateTime\": \"2022-06-01T09:00:00\",\n        \"TransactionCode\": \"REVERSEPAYMENT\",\n        \"TransactionId\": 815977567,\n        \"NSU\": 55965,\n        \"ExternalTerminal\": \"433327\",\n        \"ExternalNSU\": 967313962,\n        \"PaymentMethod\": 2\n      }\n    ],\n    \"pagination\": {\n        \"page\": 1,\n        \"totalCount\": 1,\n        \"totalPages\": 1,\n        \"hasPrevious\": false,\n        \"hasNext\": false\n    }\n}\n"},"PixAporte":{"value":"{\n    \"movement\": [\n      {\n        \"TransactionIdentification\": \"0819EF38-2DFB-4D57-B8A5-A00FB030E333\",\n        \"EndToEnd\": \"E864280851\",\n        \"CreditKey\": \"TesteMockado\",\n        \"CreditAccount\": \"1\",\n        \"CreditAccountType\": \"TRAN\",\n        \"CreditBranch\": \"1\",\n        \"CreditBank\": \"1\",\n        \"AccountDate\": \"2022-06-01T00:00:00\",\n        \"Value\": 346.64,\n        \"TransactionType\": 58,\n        \"TransactionDateTime\": \"2022-06-01T06:00:00\",\n        \"TransactionCode\": \"RECIVEMENTPAYMENT\",\n        \"TransactionId\": 815977562,\n        \"NSU\": 57332,\n        \"PaymentMethod\": 2\n      }\n    ],\n    \"pagination\": {\n        \"page\": 1,\n        \"totalCount\": 1,\n        \"totalPages\": 1,\n        \"hasPrevious\": false,\n        \"hasNext\": false\n    }\n}\n"},"RecargaInternacional":{"value":"{\n    \"movement\": [\n      {\n        \"CountryCode\": \"8\",\n        \"Phone\": \"99999-9999\",\n        \"ValueDollar\": 8.5200,\n        \"AccountDate\": \"2022-06-01T00:00:00\",\n        \"Value\": 142.26,\n        \"TransactionType\": 45,\n        \"TransactionDateTime\": \"2022-06-01T15:00:00\",\n        \"TransactionCode\": \"RECARGAINTERNACIONAL\",\n        \"TransactionId\": 815977552,\n        \"NSU\": 19690,\n        \"ExternalTerminal\": \"378B1D09-B755-47AE-AFB8-3632AA83F57F\",\n        \"ExternalNSU\": 533476834,\n        \"PaymentMethod\": 2\n      }\n    ],\n    \"pagination\": {\n        \"page\": 1,\n        \"totalCount\": 1,\n        \"totalPages\": 1,\n        \"hasPrevious\": false,\n        \"hasNext\": false\n    }\n}\n"},"PagamentoDA":{"value":"{\n    \"movement\": [\n      {\n        \"AccountDate\": \"2022-06-01T00:00:00\",\n        \"Value\": 1596.5,\n        \"TransactionType\": 62,\n        \"TransactionDateTime\": \"2022-06-01T09:00:00\",\n        \"TransactionCode\": \"RECEBERCONTADA\",\n        \"TransactionId\": 815977547,\n        \"NSU\": 49380,\n        \"ExternalTerminal\": \"05F0968F-571D-4769-B610-48276A99F754\",\n        \"PaymentMethod\": 2\n      }\n    ],\n    \"pagination\": {\n        \"page\": 1,\n        \"totalCount\": 1,\n        \"totalPages\": 1,\n        \"hasPrevious\": false,\n        \"hasNext\": false\n    }\n}\n"},"ConsultaDebitoVeicular":{"value":"{\n    \"movement\": [\n      {\n          \"AccountDate\": \"2022-06-01T00:00:00\",\n          \"Value\": 1596.5,\n          \"TransactionType\": 67,\n          \"TransactionDateTime\": \"2022-06-01T09:00:00\",\n          \"TransactionCode\": \"VEHICLEDEBTCHECK\",\n          \"TransactionId\": 815977512,\n          \"PaymentMethod\": 2,\n          \"ClientRequestId\": \"lorem ipsum\"\n      }\n    ],\n    \"pagination\": {\n        \"page\": 1,\n        \"totalCount\": 1,\n        \"totalPages\": 1,\n        \"hasPrevious\": false,\n        \"hasNext\": false\n    }\n}\n"},"LiquidacaoDebitoVeicular":{"value":"{\n    \"movement\": [\n      {\n          \"AccountDate\": \"2022-06-01T00:00:00\",\n          \"Value\": 1596.5,\n          \"TransactionType\": 68,\n          \"TransactionDateTime\": \"2022-06-01T09:00:00\",\n          \"TransactionCode\": \"DEBITOVEICULAR\",\n          \"TransactionId\": 815988324,\n          \"PaymentMethod\": 2,\n          \"ClientRequestId\": \"lorem ipsum\",\n          \"PaymentId\": \"015CA139-56E5-4D12-94FC-DCCD9CE0CB26\"\n      }\n    ],\n    \"pagination\": {\n        \"page\": 1,\n        \"totalCount\": 1,\n        \"totalPages\": 1,\n        \"hasPrevious\": false,\n        \"hasNext\": false\n    }\n}\n"}},"schema":{"oneOf":[{"title":"Movimentacao","type":"object","properties":{"movement":{"type":"array","items":{"type":"object","properties":{"DigitableLine":{"type":"string","example":"03399492813698211321901537301028400000000000000 "},"AccountDate":{"type":"string","example":"2022-06-01T00:00:00"},"Value":{"type":"number","example":304.1,"default":0},"TransactionType":{"type":"integer","example":1,"default":0},"TransactionDateTime":{"type":"string","example":"2022-06-01T20:00:00"},"TransactionCode":{"type":"string","example":"RECEBERCONTA"},"TransactionId":{"type":"integer","example":815977512,"default":0},"NSU":{"type":"integer","example":97102,"default":0},"ExternalTerminal":{"type":"string","example":"6C59770F-4A0A-4429-9C39-0ADBFFCDB525"},"ExternalNSU":{"type":"integer","example":2105324538,"default":0},"PaymentMethod":{"type":"integer","example":2,"default":0}}}},"pagination":{"type":"object","properties":{"page":{"type":"integer","example":1,"default":0},"totalCount":{"type":"integer","example":10,"default":0},"totalPages":{"type":"integer","example":5,"default":0},"hasPrevious":{"type":"boolean","example":false,"default":true},"hasNext":{"type":"boolean","example":true,"default":true}}}}},{"title":"RecusaMovimentacao","type":"object","properties":{"movement":{"type":"array","items":{"type":"object","properties":{"RefusalMotive":{"type":"string","example":"2 - Operação Falhou."},"DigitableLine":{"type":"string","example":"07797777052163828603061591964749488210000005000 "},"AccountDate":{"type":"string","example":"2021-12-01T00:00:00"},"Value":{"type":"integer","example":50,"default":0},"TransactionType":{"type":"integer","example":1,"default":0},"TransactionDateTime":{"type":"string","example":"2021-11-30T17:05:00.413"},"TransactionCode":{"type":"string","example":"RECEBERCONTA"},"TransactionId":{"type":"integer","example":81222248,"default":0},"NSU":{"type":"integer","example":3500,"default":0},"ExternalTerminal":{"type":"string","example":"0000"},"ExternalNSU":{"type":"integer","example":145097,"default":0},"PaymentMethod":{"type":"integer","example":2,"default":0}}}},"pagination":{"type":"object","properties":{"page":{"type":"integer","example":1,"default":0},"totalCount":{"type":"integer","example":1,"default":0},"totalPages":{"type":"integer","example":1,"default":0},"hasPrevious":{"type":"boolean","example":false,"default":true},"hasNext":{"type":"boolean","example":false,"default":true}}}}},{"title":"TransferênciaMovimentação","type":"object","properties":{"movement":{"type":"array","items":{"type":"object","properties":{"CpfCnpj":{"type":"string","example":"12345678909"},"FullName":{"type":"string","example":"Fulano de tal"},"Bank":{"type":"integer","example":1,"default":0},"AccountType":{"type":"integer","example":1,"default":0},"Agency":{"type":"integer","example":1,"default":0},"Account":{"type":"integer","example":1,"default":0},"VerifyingDigit":{"type":"integer","example":1,"default":0},"AccountDate":{"type":"string","example":"2022-06-01T00:00:00"},"Value":{"type":"integer","example":2,"default":0},"TransactionType":{"type":"integer","example":33,"default":0},"TransactionDateTime":{"type":"string","example":"2022-05-31T11:55:20.393"},"TransactionCode":{"type":"string","example":"TRANSFERENCIA"},"TransactionId":{"type":"integer","example":815977375,"default":0},"NSU":{"type":"integer","example":0,"default":0},"ExternalTerminal":{"type":"string","example":"11122233344"},"ExternalNSU":{"type":"integer","example":19729,"default":0},"PaymentMethod":{"type":"integer","example":2,"default":0}}}},"pagination":{"type":"object","properties":{"page":{"type":"integer","example":1,"default":0},"totalCount":{"type":"integer","example":1,"default":0},"totalPages":{"type":"integer","example":1,"default":0},"hasPrevious":{"type":"boolean","example":false,"default":true},"hasNext":{"type":"boolean","example":false,"default":true}}}}},{"title":"TransferênciaRecusa","type":"object","properties":{"movement":{"type":"array","items":{"type":"object","properties":{"RefusalMotive":{"type":"string","example":""},"DevolutionDate":{"type":"string","example":"02/06/2022 00:00"},"CpfCnpj":{"type":"string","example":"12345678909"},"FullName":{"type":"string","example":"Fulano de tal"},"Bank":{"type":"integer","example":1,"default":0},"AccountType":{"type":"integer","example":1,"default":0},"Agency":{"type":"integer","example":1,"default":0},"Account":{"type":"integer","example":1,"default":0},"VerifyingDigit":{"type":"integer","example":1,"default":0},"AccountDate":{"type":"string","example":"2022-06-01T00:00:00"},"Value":{"type":"number","example":1010.66,"default":0},"TransactionType":{"type":"integer","example":33,"default":0},"TransactionDateTime":{"type":"string","example":"2022-06-01T20:00:00"},"TransactionCode":{"type":"string","example":"TRANSFERENCIA"},"TransactionId":{"type":"integer","example":815977532,"default":0},"NSU":{"type":"integer","example":1269,"default":0},"ExternalTerminal":{"type":"string","example":"2886A7CA-3A69-4A7D-A0C1-078A3394DB63"},"ExternalNSU":{"type":"integer","example":915547103,"default":0},"PaymentMethod":{"type":"integer","example":2,"default":0}}}},"pagination":{"type":"object","properties":{"page":{"type":"integer","example":1,"default":0},"totalCount":{"type":"integer","example":1,"default":0},"totalPages":{"type":"integer","example":1,"default":0},"hasPrevious":{"type":"boolean","example":false,"default":true},"hasNext":{"type":"boolean","example":false,"default":true}}}}},{"title":"RecebimentoEletrônico","type":"object","properties":{"movement":{"type":"array","items":{"type":"object","properties":{"CpfCnpj":{"type":"string","example":"12345678909"},"AccountDate":{"type":"string","example":"2022-06-01T00:00:00"},"Value":{"type":"number","example":599.15,"default":0},"TransactionType":{"type":"integer","example":32,"default":0},"TransactionDateTime":{"type":"string","example":"2022-06-01T08:00:00"},"TransactionCode":{"type":"string","example":"RECEBIMENTOELETRONICO"},"TransactionId":{"type":"integer","example":815977537,"default":0},"NSU":{"type":"integer","example":59340,"default":0},"ExternalTerminal":{"type":"string","example":"80A5CADC-F080-4229-A1B5-3BF36B0BA4D3"},"ExternalNSU":{"type":"integer","example":1619674788,"default":0},"PaymentMethod":{"type":"integer","example":2,"default":0}}}},"pagination":{"type":"object","properties":{"page":{"type":"integer","example":1,"default":0},"totalCount":{"type":"integer","example":1,"default":0},"totalPages":{"type":"integer","example":1,"default":0},"hasPrevious":{"type":"boolean","example":false,"default":true},"hasNext":{"type":"boolean","example":false,"default":true}}}}},{"title":"PagamentoEletrônico","type":"object","properties":{"movement":{"type":"array","items":{"type":"object","properties":{"CpfCnpj":{"type":"string","example":"12345678909"},"AccountDate":{"type":"string","example":"2022-06-01T00:00:00"},"Value":{"type":"number","example":1385.34,"default":0},"TransactionType":{"type":"integer","example":36,"default":0},"TransactionDateTime":{"type":"string","example":"2022-06-01T02:00:00"},"TransactionCode":{"type":"string","example":"PAGAMENTOELETRONICO"},"TransactionId":{"type":"integer","example":815977542,"default":0},"NSU":{"type":"integer","example":25009,"default":0},"ExternalTerminal":{"type":"string","example":"65EB1908-509E-4913-8390-A60DD7B40582"},"ExternalNSU":{"type":"integer","example":1652009408,"default":0},"PaymentMethod":{"type":"integer","example":2,"default":0}}}},"pagination":{"type":"object","properties":{"page":{"type":"integer","example":1,"default":0},"totalCount":{"type":"integer","example":1,"default":0},"totalPages":{"type":"integer","example":1,"default":0},"hasPrevious":{"type":"boolean","example":false,"default":true},"hasNext":{"type":"boolean","example":false,"default":true}}}}},{"title":"PixPagamento","type":"object","properties":{"movement":{"type":"array","items":{"type":"object","properties":{"ReceiverCpfCnpj":{"type":"string","example":"12345678909"},"TransactionIdentification":{"type":"string","example":"8B94ACD6-AE05-43CB-9862-4595AE2D6C33"},"EndToEnd":{"type":"string","example":"E339655166"},"ReceiverAccount":{"type":"string","example":"1"},"ReceiverAccountType":{"type":"string","example":"CACC"},"ReceiverBranch":{"type":"integer","example":1,"default":0},"ReceiverBank":{"type":"integer","example":1,"default":0},"ReceiverName":{"type":"string","example":"Fulano de Tal"},"PartnerId":{"type":"string","example":"XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"},"ReceiverKey":{"type":"string","example":"fulanodetal@fulanos.com.br"},"ConfirmationDate":{"type":"string","example":"2022-06-01T00:00:00.000"},"AccountDate":{"type":"string","example":"2022-06-01T00:00:00"},"Value":{"type":"number","example":279.5,"default":0},"TransactionType":{"type":"integer","example":57,"default":0},"TransactionDateTime":{"type":"string","example":"2022-06-01T20:00:00"},"TransactionCode":{"type":"string","example":"PAYMENT"},"TransactionId":{"type":"integer","example":815977557,"default":0},"NSU":{"type":"integer","example":95338,"default":0},"ExternalTerminal":{"type":"string","example":"D63330B8-97EC-4BEF-9B25-5BDA2418EA8E"},"ExternalNSU":{"type":"integer","example":645017136,"default":0},"PaymentMethod":{"type":"integer","example":2,"default":0}}}},"pagination":{"type":"object","properties":{"page":{"type":"integer","example":1,"default":0},"totalCount":{"type":"integer","example":1,"default":0},"totalPages":{"type":"integer","example":1,"default":0},"hasPrevious":{"type":"boolean","example":false,"default":true},"hasNext":{"type":"boolean","example":false,"default":true}}}}},{"title":"PixRecebimento","type":"object","properties":{"movement":{"type":"array","items":{"type":"object","properties":{"TransactionIdentification":{"type":"string","example":"DF0DA8D7-120E-4083-BCB4-3BE96E7E1127"},"EndToEnd":{"type":"string","example":"E716846145"},"PayerKey":{"type":"string","example":"TesteMockado"},"PayerCpfCnpj":{"type":"string","example":"12345678909"},"PayerAccount":{"type":"string","example":"1"},"PayerAccountType":{"type":"string","example":"TRAN"},"PayerBranch":{"type":"string","example":"1"},"PayerBank":{"type":"string","example":"1"},"PartnerId":{"type":"string","example":"XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"},"AccountDate":{"type":"string","example":"2022-06-01T00:00:00"},"Value":{"type":"number","example":1906.82,"default":0},"TransactionType":{"type":"integer","example":58,"default":0},"TransactionDateTime":{"type":"string","example":"2022-06-01T10:00:00"},"TransactionCode":{"type":"string","example":"RECIVEMENTPAYMENT"},"TransactionId":{"type":"integer","example":815977577,"default":0},"NSU":{"type":"integer","example":2989,"default":0},"PaymentMethod":{"type":"integer","example":2,"default":0}}}},"pagination":{"type":"object","properties":{"page":{"type":"integer","example":1,"default":0},"totalCount":{"type":"integer","example":1,"default":0},"totalPages":{"type":"integer","example":1,"default":0},"hasPrevious":{"type":"boolean","example":false,"default":true},"hasNext":{"type":"boolean","example":false,"default":true}}}}},{"title":"PixDevoluçãoRecebimento","type":"object","properties":{"movement":{"type":"array","items":{"type":"object","properties":{"AccountDate":{"type":"string","example":"2022-06-01T00:00:00"},"Value":{"type":"number","example":743.81,"default":0},"TransactionType":{"type":"integer","example":60,"default":0},"TransactionDateTime":{"type":"string","example":"2022-06-01T01:00:00"},"TransactionCode":{"type":"string","example":"RECIVEMENTREVERSEPAYMENT"},"TransactionId":{"type":"integer","example":815977572,"default":0},"NSU":{"type":"integer","example":96331,"default":0},"ExternalNSU":{"type":"integer","example":98563707,"default":0},"PaymentMethod":{"type":"integer","example":2,"default":0}}}},"pagination":{"type":"object","properties":{"page":{"type":"integer","example":1,"default":0},"totalCount":{"type":"integer","example":1,"default":0},"totalPages":{"type":"integer","example":1,"default":0},"hasPrevious":{"type":"boolean","example":false,"default":true},"hasNext":{"type":"boolean","example":false,"default":true}}}}},{"title":"DevoluçãoPagamento","type":"object","properties":{"movement":{"type":"array","items":{"type":"object","properties":{"ReturnIdentification":{"type":"string","example":"D1057929537"},"AccountDate":{"type":"string","example":"2022-06-01T00:00:00"},"Value":{"type":"number","example":818.28,"default":0},"TransactionType":{"type":"integer","example":59,"default":0},"TransactionDateTime":{"type":"string","example":"2022-06-01T09:00:00"},"TransactionCode":{"type":"string","example":"REVERSEPAYMENT"},"TransactionId":{"type":"integer","example":815977567,"default":0},"NSU":{"type":"integer","example":55965,"default":0},"ExternalTerminal":{"type":"string","example":"433327"},"ExternalNSU":{"type":"integer","example":967313962,"default":0},"PaymentMethod":{"type":"integer","example":2,"default":0}}}},"pagination":{"type":"object","properties":{"page":{"type":"integer","example":1,"default":0},"totalCount":{"type":"integer","example":1,"default":0},"totalPages":{"type":"integer","example":1,"default":0},"hasPrevious":{"type":"boolean","example":false,"default":true},"hasNext":{"type":"boolean","example":false,"default":true}}}}},{"title":"PixAporte","type":"object","properties":{"movement":{"type":"array","items":{"type":"object","properties":{"TransactionIdentification":{"type":"string","example":"0819EF38-2DFB-4D57-B8A5-A00FB030E333"},"EndToEnd":{"type":"string","example":"E864280851"},"CreditKey":{"type":"string","example":"TesteMockado"},"CreditAccount":{"type":"string","example":"1"},"CreditAccountType":{"type":"string","example":"TRAN"},"CreditBranch":{"type":"string","example":"1"},"CreditBank":{"type":"string","example":"1"},"AccountDate":{"type":"string","example":"2022-06-01T00:00:00"},"Value":{"type":"number","example":346.64,"default":0},"TransactionType":{"type":"integer","example":58,"default":0},"TransactionDateTime":{"type":"string","example":"2022-06-01T06:00:00"},"TransactionCode":{"type":"string","example":"RECIVEMENTPAYMENT"},"TransactionId":{"type":"integer","example":815977562,"default":0},"NSU":{"type":"integer","example":57332,"default":0},"PaymentMethod":{"type":"integer","example":2,"default":0}}}},"pagination":{"type":"object","properties":{"page":{"type":"integer","example":1,"default":0},"totalCount":{"type":"integer","example":1,"default":0},"totalPages":{"type":"integer","example":1,"default":0},"hasPrevious":{"type":"boolean","example":false,"default":true},"hasNext":{"type":"boolean","example":false,"default":true}}}}},{"title":"RecargaInternacional","type":"object","properties":{"movement":{"type":"array","items":{"type":"object","properties":{"CountryCode":{"type":"string","example":"8"},"Phone":{"type":"string","example":"99999-9999"},"ValueDollar":{"type":"number","example":8.52,"default":0},"AccountDate":{"type":"string","example":"2022-06-01T00:00:00"},"Value":{"type":"number","example":142.26,"default":0},"TransactionType":{"type":"integer","example":45,"default":0},"TransactionDateTime":{"type":"string","example":"2022-06-01T15:00:00"},"TransactionCode":{"type":"string","example":"RECARGAINTERNACIONAL"},"TransactionId":{"type":"integer","example":815977552,"default":0},"NSU":{"type":"integer","example":19690,"default":0},"ExternalTerminal":{"type":"string","example":"378B1D09-B755-47AE-AFB8-3632AA83F57F"},"ExternalNSU":{"type":"integer","example":533476834,"default":0},"PaymentMethod":{"type":"integer","example":2,"default":0}}}},"pagination":{"type":"object","properties":{"page":{"type":"integer","example":1,"default":0},"totalCount":{"type":"integer","example":1,"default":0},"totalPages":{"type":"integer","example":1,"default":0},"hasPrevious":{"type":"boolean","example":false,"default":true},"hasNext":{"type":"boolean","example":false,"default":true}}}}},{"title":"PagamentoDA","type":"object","properties":{"movement":{"type":"array","items":{"type":"object","properties":{"AccountDate":{"type":"string","example":"2022-06-01T00:00:00"},"Value":{"type":"number","example":1596.5,"default":0},"TransactionType":{"type":"integer","example":62,"default":0},"TransactionDateTime":{"type":"string","example":"2022-06-01T09:00:00"},"TransactionCode":{"type":"string","example":"RECEBERCONTADA"},"TransactionId":{"type":"integer","example":815977547,"default":0},"NSU":{"type":"integer","example":49380,"default":0},"ExternalTerminal":{"type":"string","example":"05F0968F-571D-4769-B610-48276A99F754"},"PaymentMethod":{"type":"integer","example":2,"default":0}}}},"pagination":{"type":"object","properties":{"page":{"type":"integer","example":1,"default":0},"totalCount":{"type":"integer","example":1,"default":0},"totalPages":{"type":"integer","example":1,"default":0},"hasPrevious":{"type":"boolean","example":false,"default":true},"hasNext":{"type":"boolean","example":false,"default":true}}}}},{"title":"ConsultaDebitoVeicular","type":"object","properties":{"movement":{"type":"array","items":{"type":"object","properties":{"AccountDate":{"type":"string","example":"2022-06-01T00:00:00"},"Value":{"type":"number","example":1596.5,"default":0},"TransactionType":{"type":"integer","example":67,"default":0},"TransactionDateTime":{"type":"string","example":"2022-06-01T09:00:00"},"TransactionCode":{"type":"string","example":"VEHICLEDEBTCHECK"},"TransactionId":{"type":"integer","example":815977512,"default":0},"PaymentMethod":{"type":"integer","example":2,"default":0},"ClientRequestId":{"type":"string","example":"lorem ipsum"}}}},"pagination":{"type":"object","properties":{"page":{"type":"integer","example":1,"default":0},"totalCount":{"type":"integer","example":1,"default":0},"totalPages":{"type":"integer","example":1,"default":0},"hasPrevious":{"type":"boolean","example":false,"default":true},"hasNext":{"type":"boolean","example":false,"default":true}}}}},{"title":"LiquidacaoDebitoVeicular","type":"object","properties":{"movement":{"type":"array","items":{"type":"object","properties":{"AccountDate":{"type":"string","example":"2022-06-01T00:00:00"},"Value":{"type":"number","example":1596.5,"default":0},"TransactionType":{"type":"integer","example":68,"default":0},"TransactionDateTime":{"type":"string","example":"2022-06-01T09:00:00"},"TransactionCode":{"type":"string","example":"DEBITOVEICULAR"},"TransactionId":{"type":"integer","example":815988324,"default":0},"PaymentMethod":{"type":"integer","example":2,"default":0},"ClientRequestId":{"type":"string","example":"lorem ipsum"},"PaymentId":{"type":"string","example":"015CA139-56E5-4D12-94FC-DCCD9CE0CB26"}}}},"pagination":{"type":"object","properties":{"page":{"type":"integer","example":1,"default":0},"totalCount":{"type":"integer","example":1,"default":0},"totalPages":{"type":"integer","example":1,"default":0},"hasPrevious":{"type":"boolean","example":false,"default":true},"hasNext":{"type":"boolean","example":false,"default":true}}}}}]}}}},"400":{"description":"400","content":{"application/json":{"examples":{"NotProcessed":{"value":"{\n    \"message\": \"Export File not processed\",\n    \"errorCode\": \"003\"\n}"},"NoRecords":{"value":"{\n    \"message\": \"No record in file\",\n    \"errorCode\": \"002\"\n}"},"AtributeValidation":{"value":"{\n    \"message\": \"Quantity must be between 1 and 10000.\",\n    \"errorCode\": \"991\"\n}"}},"schema":{"oneOf":[{"title":"NotProcessed","type":"object","properties":{"message":{"type":"string","example":"Export File not processed"},"errorCode":{"type":"string","example":"003"}}},{"title":"NoRecords","type":"object","properties":{"message":{"type":"string","example":"No record in file"},"errorCode":{"type":"string","example":"002"}}},{"title":"AtributeValidation","type":"object","properties":{"message":{"type":"string","example":"Quantity must be between 1 and 10000."},"errorCode":{"type":"string","example":"991"}}}]}}}},"401":{"description":"401","content":{"application/json":{"examples":{"ExpiredToken":{"value":"{\n    \"message\": \"Token expired\",\n    \"errorCode\": \"993\"\n}"},"MissingHeader":{"value":"{\n    \"message\": \"Missing Authorization Header\",\n    \"errorCode\": \"994\"\n}"},"Unauthorized":{"value":"{\n    \"message\": \"Unautorized\",\n    \"errorCode\": \"995\"\n}"}},"schema":{"oneOf":[{"title":"ExpiredToken","type":"object","properties":{"message":{"type":"string","example":"Token expired"},"errorCode":{"type":"string","example":"993"}}},{"title":"MissingHeader","type":"object","properties":{"message":{"type":"string","example":"Missing Authorization Header"},"errorCode":{"type":"string","example":"994"}}},{"title":"Unauthorized","type":"object","properties":{"message":{"type":"string","example":"Unautorized"},"errorCode":{"type":"string","example":"995"}}}]}}}},"403":{"description":"403","content":{"application/json":{"examples":{"FunctionalityPermission":{"value":"{\n    \"message\": \"User does not have permission to access functionality\",\n    \"errorCode\": \"992\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"User does not have permission to access functionality"},"errorCode":{"type":"string","example":"992"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"FileNotFound":{"value":"{\n    \"message\": \"Export File not found\",\n    \"errorCode\": \"001\"\n}"},"UserNotFound":{"value":"{\n    \"message\": \"Non-existent user\",\n    \"errorCode\": \"996\"\n}"}},"schema":{"oneOf":[{"title":"FileNotFound","type":"object","properties":{"message":{"type":"string","example":"Export File not found"},"errorCode":{"type":"string","example":"001"}}},{"title":"UserNotFound","type":"object","properties":{"message":{"type":"string","example":"Non-existent user"},"errorCode":{"type":"string","example":"996"}}}]}}}},"500":{"description":"500","content":{"application/json":{"examples":{"FailedUserValidation":{"value":"{\n    \"message\": \"Failed validating user. Try Again\",\n    \"errorCode\": \"997\"\n}"},"FailedProductValidation":{"value":"{\n    \"message\": \"Failed validating product. Try Again\",\n    \"errorCode\": \"998\"\n}"},"Internal Server Error":{"value":"{\n    \"message\": \"Failed executing operation. Try Again\",\n    \"errorCode\": \"999\"\n}"}},"schema":{"oneOf":[{"title":"FailedUserValidation","type":"object","properties":{"message":{"type":"string","example":"Failed validating user. Try Again"},"errorCode":{"type":"string","example":"997"}}},{"title":"FailedProductValidation","type":"object","properties":{"message":{"type":"string","example":"Failed validating product. Try Again"},"errorCode":{"type":"string","example":"998"}}},{"title":"Internal Server Error","type":"object","properties":{"message":{"type":"string","example":"Failed executing operation. Try Again"},"errorCode":{"type":"string","example":"999"}}}]}}}}},"deprecated":false}},"/tools-conciliation/v1/ConsolidatedStatement":{"get":{"summary":"Consultar extrato consolidado","description":"Essa API possibilita que seja realizada a consulta de extrato consolidado. Para mais informações de como realizar a implementação dessa API, criamos este [artigo](https://developers.celcoin.com.br/docs/sobre-api-de-extrato-consolidado).\n\nPara saber mais sobre os erros que essa API retorna ao realizar a consulta, clique [aqui](https://developers.celcoin.com.br/docs/tabela-de-erros-conciliacao#consulta-extrato-consolidado)","operationId":"consultar-extrato-consolidado","parameters":[{"name":"startDate","in":"query","description":"Data contábil inicial de pesquisa","required":true,"schema":{"type":"string","format":"date","default":"2022-07-28"}},{"name":"endDate","in":"query","description":"Data contábil final de pesquisa","required":true,"schema":{"type":"string","format":"date","default":"2022-07-29"}},{"name":"page","in":"query","description":"Número de página. Por padrão, se não informado, retorna a página 1.","schema":{"type":"integer","format":"int32"}},{"name":"quantity","in":"query","description":"Quantidade de registros por página. Por padrão a API retorna 1.000 registros","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"OK":{"value":"{\n    \"statement\": [\n        {\n            \"date\": \"2022-01-03T00:00:00\",\n            \"accountDate\": \"2022-01-03T00:00:00\",\n            \"entryName\": \"Pgto Contas Concessionarias/Tributos\",\n            \"entryAmount\": 47887,\n            \"value\": -4212076.5,\n            \"indCreditDebit\": \"D\",\n            \"balance\": -1802424.5\n        },\n        {\n            \"date\": \"2022-01-03T00:00:00\",\n            \"accountDate\": \"2022-01-03T00:00:00\",\n            \"entryName\": \"Pgto Contas Boletos\",\n            \"entryAmount\": 204577,\n            \"value\": -24533722,\n            \"indCreditDebit\": \"D\",\n            \"balance\": -26336146\n        },\n        {\n            \"date\": \"2022-01-03T00:00:00\",\n            \"accountDate\": \"2022-01-03T00:00:00\",\n            \"entryName\": \"Recarga\",\n            \"entryAmount\": 103422,\n            \"value\": -1746272.9,\n            \"indCreditDebit\": \"D\",\n            \"balance\": -28082420\n        },\n        {\n            \"date\": \"2022-01-03T00:00:00\",\n            \"accountDate\": \"2022-01-03T00:00:00\",\n            \"entryName\": \"Depósito\",\n            \"entryAmount\": 20,\n            \"value\": 12520000,\n            \"indCreditDebit\": \"C\",\n            \"balance\": -22277410\n        },\n        {\n            \"date\": \"2022-01-03T00:00:00\",\n            \"accountDate\": \"2022-01-03T00:00:00\",\n            \"entryName\": \"Estorno de Contas\",\n            \"entryAmount\": 113,\n            \"value\": 4824.52,\n            \"indCreditDebit\": \"C\",\n            \"balance\": -22272586\n        },\n        {\n            \"date\": \"2022-01-03T00:00:00\",\n            \"accountDate\": \"2022-01-03T00:00:00\",\n            \"entryName\": \"Estorno de Conta - Desfazimento\",\n            \"entryAmount\": 1,\n            \"value\": 55,\n            \"indCreditDebit\": \"C\",\n            \"balance\": -22272530\n        },\n        {\n            \"date\": \"2022-01-03T00:00:00\",\n            \"accountDate\": \"2022-01-03T00:00:00\",\n            \"entryName\": \"Devolução Transferencias\",\n            \"entryAmount\": 69,\n            \"value\": 19452.8,\n            \"indCreditDebit\": \"C\",\n            \"balance\": -22253078\n        },\n        {\n            \"date\": \"2022-01-03T00:00:00\",\n            \"accountDate\": \"2022-01-03T00:00:00\",\n            \"entryName\": \"Transferencias\",\n            \"entryAmount\": 775,\n            \"value\": -292824.75,\n            \"indCreditDebit\": \"D\",\n            \"balance\": -28375244\n        },\n        {\n            \"date\": \"2022-01-03T00:00:00\",\n            \"accountDate\": \"2022-01-03T00:00:00\",\n            \"entryName\": \"Pagamento Eletronico\",\n            \"entryAmount\": 345,\n            \"value\": 268750,\n            \"indCreditDebit\": \"C\",\n            \"balance\": -21984328\n        },\n        {\n            \"date\": \"2022-01-03T00:00:00\",\n            \"accountDate\": \"2022-01-03T00:00:00\",\n            \"entryName\": \"Recebimento Eletronico\",\n            \"entryAmount\": 7,\n            \"value\": -920,\n            \"indCreditDebit\": \"D\",\n            \"balance\": -28376164\n        }\n    ],\n    \"balance\": {\n        \"balanceStartDate\": 2409652.2,\n        \"balanceEndDate\": -210270.39\n    },\n    \"pagination\": {\n        \"page\": 1,\n        \"totalCount\": 16,\n        \"totalPages\": 2,\n        \"hasPrevious\": false,\n        \"hasNext\": true\n    }\n}"}},"schema":{"type":"object","properties":{"statement":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string","example":"2022-01-03T00:00:00"},"accountDate":{"type":"string","example":"2022-01-03T00:00:00"},"entryName":{"type":"string","example":"Pgto Contas Concessionarias/Tributos"},"entryAmount":{"type":"integer","example":47887,"default":0},"value":{"type":"number","example":-4212076.5,"default":0},"indCreditDebit":{"type":"string","example":"D"},"balance":{"type":"number","example":-1802424.5,"default":0}}}},"balance":{"type":"object","properties":{"balanceStartDate":{"type":"number","example":2409652.2,"default":0},"balanceEndDate":{"type":"number","example":-210270.39,"default":0}}},"pagination":{"type":"object","properties":{"page":{"type":"integer","example":1,"default":0},"totalCount":{"type":"integer","example":16,"default":0},"totalPages":{"type":"integer","example":2,"default":0},"hasPrevious":{"type":"boolean","example":false,"default":true},"hasNext":{"type":"boolean","example":true,"default":true}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"NoRecords":{"value":"{\n    \"message\": \"Consolidated statement empty\",\n    \"errorCode\": \"005\"\n}"},"AtributeValidation":{"value":"{\n    \"message\": \"Quantity must be between 1 and 1000.\",\n    \"errorCode\": \"991\"\n}"},"DateValidation":{"value":"{\n    \"message\": \"End date must be greater than Start date\",\n    \"errorCode\": \"991\"\n}"}},"schema":{"oneOf":[{"title":"NoRecords","type":"object","properties":{"message":{"type":"string","example":"Consolidated statement empty"},"errorCode":{"type":"string","example":"005"}}},{"title":"AtributeValidation","type":"object","properties":{"message":{"type":"string","example":"Quantity must be between 1 and 1000."},"errorCode":{"type":"string","example":"991"}}},{"title":"DateValidation","type":"object","properties":{"message":{"type":"string","example":"End date must be greater than Start date"},"errorCode":{"type":"string","example":"991"}}}]}}}},"401":{"description":"401","content":{"application/json":{"examples":{"ExpiredToken":{"value":"{\n    \"message\": \"Token expired\",\n    \"errorCode\": \"993\"\n}"},"MissingHeader":{"value":"{\n    \"message\": \"Missing Authorization Header\",\n    \"errorCode\": \"994\"\n}"},"Unauthorized":{"value":"{\n    \"message\": \"Unautorized\",\n    \"errorCode\": \"995\"\n}"}},"schema":{"oneOf":[{"title":"ExpiredToken","type":"object","properties":{"message":{"type":"string","example":"Token expired"},"errorCode":{"type":"string","example":"993"}}},{"title":"MissingHeader","type":"object","properties":{"message":{"type":"string","example":"Missing Authorization Header"},"errorCode":{"type":"string","example":"994"}}},{"title":"Unauthorized","type":"object","properties":{"message":{"type":"string","example":"Unautorized"},"errorCode":{"type":"string","example":"995"}}}]}}}},"403":{"description":"403","content":{"application/json":{"examples":{"FunctionalityPermission":{"value":"{\n    \"message\": \"User does not have permission to access functionality\",\n    \"errorCode\": \"992\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"User does not have permission to access functionality"},"errorCode":{"type":"string","example":"992"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"UserNotFound":{"value":"{\n    \"message\": \"Non-existent user\",\n    \"errorCode\": \"996\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Non-existent user"},"errorCode":{"type":"string","example":"996"}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"FailedUserValidation":{"value":"{\n    \"message\": \"Failed validating user. Try Again\",\n    \"errorCode\": \"997\"\n}"},"FailedProductValidation":{"value":"{\n    \"message\": \"Failed validating product. Try Again\",\n    \"errorCode\": \"998\"\n}"},"Internal Server Error":{"value":"{\n    \"message\": \"Failed executing operation. Try Again\",\n    \"errorCode\": \"999\"\n}"}},"schema":{"oneOf":[{"title":"FailedUserValidation","type":"object","properties":{"message":{"type":"string","example":"Failed validating user. Try Again"},"errorCode":{"type":"string","example":"997"}}},{"title":"FailedProductValidation","type":"object","properties":{"message":{"type":"string","example":"Failed validating product. Try Again"},"errorCode":{"type":"string","example":"998"}}},{"title":"Internal Server Error","type":"object","properties":{"message":{"type":"string","example":"Failed executing operation. Try Again"},"errorCode":{"type":"string","example":"999"}}}]}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}