{"openapi":"3.1.0","info":{"title":"Participante Indireto","version":"2.0.0"},"servers":[{"url":"https://sandbox.openfinance.celcoin.dev/pix-indirect/v1"}],"components":{"securitySchemes":{"sec0":{"type":"oauth2","flows":{}}}},"security":[{"sec0":[]}],"paths":{"/pix/v1/collection/duedate":{"post":{"summary":"Criar cobrança com vencimento","description":"Essa API possibilita que seja realizado o vinculo de um QR Code a uma cobrança com vencimento, multa, juros, ou abatimentos (COBV).","operationId":"criar-cobrança-com-vencimento-copy","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["clientRequestId","expirationAfterPayment","duedate","debtor","receiver","locationId","amount","key"],"properties":{"clientRequestId":{"type":"string","description":"Identificador único da transação fornecida pelo cliente. Este valor não pode ser repetido."},"expirationAfterPayment":{"type":"integer","description":"Dias para expiração da cobrança após o vencimento.","default":30,"format":"int32"},"duedate":{"type":"string","description":"Data de vencimento.","format":"date"},"debtor":{"type":"object","description":"Dados do pagador para cobranças com vencimento (COBV)","properties":{}},"receiver":{"type":"object","description":"Dados do recebedor para cobranças com vencimento (COBV)","properties":{}},"locationId":{"type":"integer","description":"Identificador único do BRCode a ser associado a cobrança.","format":"int32"},"amount":{"type":"number","description":"Valor original desta cobrança.","format":"double"},"amountDicount":{"type":"object","description":"Desconto a ser oferecido de acordo com a modalidade escolhida.","properties":{}},"amountAbatement":{"type":"object","description":"Abatimento consedido de acordo com a modalidade escolhida.","properties":{}},"amountFine":{"type":"object","description":"Multa aplicada de acordo com a modalidade escolhida.","properties":{}},"amountInterest":{"type":"object","description":"Juros aplicado de acordo com a modalidade escolhida.","properties":{}},"additionalInformation":{"type":"array","description":"Uma listagem de chave e valor contendo informações adicionais a serem apresentadas no ato do pagamento."},"payerQuestion":{"type":"string","description":"Informação que pode ser apresentada ao pagador no ato."},"key":{"type":"string","description":"Chave Pix que contém as informações de liquidação de pagamento."}}},"examples":{"Request Example":{"value":{"clientRequestId":"9b26edb7cf254db09f5449c94bf13abc","expirationAfterPayment":10,"duedate":"2021-04-29 00:00:00","debtor":{"name":"Fulano de Tal","cpf":"11122233366","cnpj":"1112223300100","city":"Barueri","publicArea":"Avenida Brasil","state":"SP","postalCode":"01202003","email":"contato@celcoin.com.br"},"receiver":{"name":"João da Silva","cpf":"11122233366","cnpj":"1112223300100","postalCode":"01202003","city":"Barueri","publicArea":"Avenida Brasil","state":"SP","fantasyName":"Nome de Comercial"},"locationId":55845,"amount":15.63,"amountDicount":{"discountDateFixed":[{"date":"2021-04-29","amountPerc":"1.00"}],"hasDicount":false,"modality":"FIXED_VALUE_UNTIL_THE_DATES_INFORMED","amountPerc":"string"},"amountAbatement":{"hasAbatement":false,"amountPerc":"0.00","modality":"FIXED_VALUE"},"amountFine":{"hasFine":false,"amountPerc":"0.00","modality":"FIXED_VALUE"},"amountInterest":{"hasInterest":false,"amountPerc":"0.00","modality":"VALUE_CALENDAR_DAYS"},"additionalInformation":[{"value":"Assinatura de serviço","key":"Produto 1"}],"payerQuestion":"pagamento referente a...","key":"5d000ece-b3f0-47b3-8bdd-c183e8875862"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"OK":{"value":"{\n    \"transactionIdentification\": \"kk6g232xel65a0daee4dd13kk9189382\",\n    \"transactionId\": 9189382,\n    \"clientRequestId\": \"9b26edb7cf254db09f5449c94bf13abc\",\n    \"status\": \"ACTIVE\",\n    \"lastUpdate\": \"2022-03-21T14:27:58.2106288+00:00\",\n    \"payerQuestion\": null,\n    \"additionalInformation\": null,\n    \"debtor\": {\n        \"name\": \"Fulano de Tal\",\n        \"cpf\": null,\n        \"cnpj\": \"61360961000100\"\n    },\n    \"amount\": {\n        \"original\": 15.63,\n        \"discount\": {\n            \"discountDateFixed\": [\n                {\n                    \"date\": \"2022-03-21T00:00:00\",\n                    \"amountPerc\": \"1.00\"\n                }\n            ],\n            \"modality\": \"FIXED_VALUE_UNTIL_THE_DATES_INFORMED\"\n        },\n        \"abatement\": null,\n        \"fine\": null,\n        \"interest\": null\n    },\n    \"location\": {\n        \"merchant\": {\n            \"postalCode\": \"01201005\",\n            \"city\": \"Barueri\",\n            \"merchantCategoryCode\": \"0000\",\n            \"name\": \"Celcoin Pagamentos\"\n        },\n        \"url\": \"api-h.developer.btgpactual.com/v1/p/v2/cobv/8767107ce1db49fdb1058224e00c4ab1\",\n        \"emv\": \"00020101021226980014br.gov.bcb.pix2576api-h.developer.btgpactual.com/v1/p/v2/cobv/8767107ce1db49fdb1058224e00c4ab15204000053039865802BR5918Celcoin Pagamentos6007Barueri61080120100562070503***630411F9\",\n        \"type\": \"COBV\",\n        \"locationId\": \"12731020\",\n        \"id\": null\n    },\n    \"key\": \"testepix@celcoin.com.br\",\n    \"receiver\": {\n        \"name\": \"João da Silva\",\n        \"fantasyName\": \"Nome de Comercial\",\n        \"cpf\": null,\n        \"cnpj\": \"60904237000129\"\n    },\n    \"calendar\": {\n        \"expirationAfterPayment\": \"10\",\n        \"createdAt\": \"0001-01-01T00:00:00\",\n        \"dueDate\": \"2022-03-22T00:00:00\"\n    },\n    \"createAt\": \"2022-03-21T14:27:58.2106288+00:00\"\n}"}},"schema":{"type":"object","properties":{"transactionIdentification":{"type":"string","example":"kk6g232xel65a0daee4dd13kk9189382"},"transactionId":{"type":"integer","example":9189382,"default":0},"clientRequestId":{"type":"string","example":"9b26edb7cf254db09f5449c94bf13abc"},"status":{"type":"string","example":"ACTIVE"},"lastUpdate":{"type":"string","example":"2022-03-21T14:27:58.2106288+00:00"},"payerQuestion":{},"additionalInformation":{},"debtor":{"type":"object","properties":{"name":{"type":"string","example":"Fulano de Tal"},"cpf":{},"cnpj":{"type":"string","example":"61360961000100"}}},"amount":{"type":"object","properties":{"original":{"type":"number","example":15.63,"default":0},"discount":{"type":"object","properties":{"discountDateFixed":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string","example":"2022-03-21T00:00:00"},"amountPerc":{"type":"string","example":"1.00"}}}},"modality":{"type":"string","example":"FIXED_VALUE_UNTIL_THE_DATES_INFORMED"}}},"abatement":{},"fine":{},"interest":{}}},"location":{"type":"object","properties":{"merchant":{"type":"object","properties":{"postalCode":{"type":"string","example":"01201005"},"city":{"type":"string","example":"Barueri"},"merchantCategoryCode":{"type":"string","example":"0000"},"name":{"type":"string","example":"Celcoin Pagamentos"}}},"url":{"type":"string","example":"api-h.developer.btgpactual.com/v1/p/v2/cobv/8767107ce1db49fdb1058224e00c4ab1"},"emv":{"type":"string","example":"00020101021226980014br.gov.bcb.pix2576api-h.developer.btgpactual.com/v1/p/v2/cobv/8767107ce1db49fdb1058224e00c4ab15204000053039865802BR5918Celcoin Pagamentos6007Barueri61080120100562070503***630411F9"},"type":{"type":"string","example":"COBV"},"locationId":{"type":"string","example":"12731020"},"id":{}}},"key":{"type":"string","example":"testepix@celcoin.com.br"},"receiver":{"type":"object","properties":{"name":{"type":"string","example":"João da Silva"},"fantasyName":{"type":"string","example":"Nome de Comercial"},"cpf":{},"cnpj":{"type":"string","example":"60904237000129"}}},"calendar":{"type":"object","properties":{"expirationAfterPayment":{"type":"string","example":"10"},"createdAt":{"type":"string","example":"0001-01-01T00:00:00"},"dueDate":{"type":"string","example":"2022-03-22T00:00:00"}}},"createAt":{"type":"string","example":"2022-03-21T14:27:58.2106288+00:00"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Calendar.DueDate field cannot be":{"value":"{\n    \"message\": \"The Calendar.DueDate field cannot be less than the current date.\",\n    \"errorCode\": \"PCE003\"\n}"},"The Discount.DiscountDateFixed.AmountPerc field cannot be":{"value":"{\n    \"message\": \"The Discount.DiscountDateFixed.AmountPerc field cannot be less than the current date.\",\n    \"errorCode\": \"PCE003\"\n}"},"Can't create a new PixCollectionDueDate ":{"value":"{\n    \"message\": \"Can't create a new PixCollectionDueDate when there is another Pix Collection active with the same location.\",\n    \"errorCode\": \"PBE318\"\n}"}},"schema":{"oneOf":[{"title":"Calendar.DueDate field cannot be","type":"object","properties":{"message":{"type":"string","example":"The Calendar.DueDate field cannot be less than the current date."},"errorCode":{"type":"string","example":"PCE003"}}},{"title":"The Discount.DiscountDateFixed.AmountPerc field cannot be","type":"object","properties":{"message":{"type":"string","example":"The Discount.DiscountDateFixed.AmountPerc field cannot be less than the current date."},"errorCode":{"type":"string","example":"PCE003"}}},{"title":"Can't create a new PixCollectionDueDate ","type":"object","properties":{"message":{"type":"string","example":"Can't create a new PixCollectionDueDate when there is another Pix Collection active with the same location."},"errorCode":{"type":"string","example":"PBE318"}}}]}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Unauthroized":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Internal server error":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/pix/v1/collection/duedate/{transactionId}":{"put":{"summary":"Atualizar dados de uma cobrança com vencimento","description":"Essa API possibilita que seja realizado a atualização do vencimento de um QR Code.","operationId":"atualizar-dados-de-uma-cobrança-com-vencimento-copy","parameters":[{"name":"transactionId","in":"path","description":"Identificador da cobrança com vencimento informado na criação da mesma.","schema":{"type":"integer","format":"int32"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["clientRequestId","expirationAfterPayment","duedate","debtor","receiver","amount","key"],"properties":{"clientRequestId":{"type":"string","description":"Identificador único da transação fornecida pelo cliente. Este valor não pode ser repetido."},"expirationAfterPayment":{"type":"integer","description":"Dias para expiração da cobrança após o vencimento.","format":"int32"},"duedate":{"type":"string","description":"Data de vencimento.","format":"date"},"debtor":{"type":"object","description":"Dados do pagador para cobranças com vencimento (COBV).","properties":{}},"receiver":{"type":"object","description":"Dados do recebedor para cobranças com vencimento (COBV).","properties":{}},"locationId":{"type":"integer","description":"Identificador único do BRCode a ser associado a cobrança.","format":"int32"},"amount":{"type":"number","description":"Valor original desta cobrança.","format":"double"},"amountDicount":{"type":"object","description":"Disconto a ser oferecido de acordo com a modalidade escolhida.","properties":{}},"amountAbatement":{"type":"object","description":"Abatimento consedido de acordo com a modalidadde escolhida.","properties":{}},"amountFine":{"type":"object","description":"Multa aplicada de acordo com a modalidade escolhida.","properties":{}},"amountInterest":{"type":"object","description":"Juros aplicado de acordo com a modalidade escolhida.","properties":{}},"additionalInformation":{"type":"array","description":"Uma listagem de chave e valor contendo informações adicionais a serem apresentadas no ato do pagamento."},"payerQuestion":{"type":"string","description":"Informação que pode ser apresentada ao pagador no ato."},"key":{"type":"string","description":"Chave Pix que contém as informações de liquidação de pagamento."}}},"examples":{"Request Example":{"value":{"clientRequestId":"9b26edb7cf254db09f5449c94bf13abc","expirationAfterPayment":10,"duedate":"2021-04-29 00:00:00","debtor":{"name":"Fulano de Tal","cpf":"11122233366","cnpj":"1112223300100","city":"Barueri","publicArea":"Avenida Brasil","state":"SP","postalCode":"01202003","email":"contato@celcoin.com.br"},"receiver":{"name":"João da Silva","cpf":"11122233366","cnpj":"1112223300100","postalCode":"01202003","city":"Barueri","publicArea":"Avenida Brasil","state":"SP","fantasyName":"Nome de Comercial"},"locationId":55845,"amount":15.63,"amountDicount":{"discountDateFixed":[{"date":"2021-04-29","amountPerc":"1.00"}],"hasDicount":false,"modality":"FIXED_VALUE_UNTIL_THE_DATES_INFORMED","amountPerc":"string"},"amountAbatement":{"hasAbatement":false,"amountPerc":"0.00","modality":"FIXED_VALUE"},"amountFine":{"hasFine":false,"amountPerc":"0.00","modality":"FIXED_VALUE"},"amountInterest":{"hasInterest":false,"amountPerc":"0.00","modality":"VALUE_CALENDAR_DAYS"},"additionalInformation":[{"value":"Assinatura de serviço","key":"Produto 1"}],"payerQuestion":"pagamento referente a...","key":"testepix@celcoin.com.br"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"OK":{"value":"{\n    \"transactionIdentification\": \"kk6g232xel65a0daee4dd13kk9189382\",\n    \"transactionId\": 9189382,\n    \"clientRequestId\": \"9b26edb7cf254db09f5449c94bf13abc\",\n    \"status\": \"ACTIVE\",\n    \"lastUpdate\": \"2022-03-21T14:27:58.2106288+00:00\",\n    \"payerQuestion\": null,\n    \"additionalInformation\": null,\n    \"debtor\": {\n        \"name\": \"Fulano de Tal\",\n        \"cpf\": null,\n        \"cnpj\": \"61360961000100\"\n    },\n    \"amount\": {\n        \"original\": 15.63,\n        \"discount\": {\n            \"discountDateFixed\": [\n                {\n                    \"date\": \"2022-03-21T00:00:00\",\n                    \"amountPerc\": \"1.00\"\n                }\n            ],\n            \"modality\": \"FIXED_VALUE_UNTIL_THE_DATES_INFORMED\"\n        },\n        \"abatement\": null,\n        \"fine\": null,\n        \"interest\": null\n    },\n    \"location\": {\n        \"merchant\": {\n            \"postalCode\": \"01201005\",\n            \"city\": \"Barueri\",\n            \"merchantCategoryCode\": \"0000\",\n            \"name\": \"Celcoin Pagamentos\"\n        },\n        \"url\": \"api-h.developer.btgpactual.com/v1/p/v2/cobv/8767107ce1db49fdb1058224e00c4ab1\",\n        \"emv\": \"00020101021226980014br.gov.bcb.pix2576api-h.developer.btgpactual.com/v1/p/v2/cobv/8767107ce1db49fdb1058224e00c4ab15204000053039865802BR5918Celcoin Pagamentos6007Barueri61080120100562070503***630411F9\",\n        \"type\": \"COBV\",\n        \"locationId\": \"12731020\",\n        \"id\": null\n    },\n    \"key\": \"testepix@btgpactual.com\",\n    \"receiver\": {\n        \"name\": \"João da Silva\",\n        \"fantasyName\": \"Nome de Comercial\",\n        \"cpf\": null,\n        \"cnpj\": \"60904237000129\"\n    },\n    \"calendar\": {\n        \"expirationAfterPayment\": \"10\",\n        \"createdAt\": \"0001-01-01T00:00:00\",\n        \"dueDate\": \"2022-03-22T00:00:00\"\n    },\n    \"createAt\": \"2022-03-21T14:27:58.2106288+00:00\"\n}"}},"schema":{"type":"object","properties":{"transactionIdentification":{"type":"string","example":"kk6g232xel65a0daee4dd13kk9189382"},"transactionId":{"type":"integer","example":9189382,"default":0},"clientRequestId":{"type":"string","example":"9b26edb7cf254db09f5449c94bf13abc"},"status":{"type":"string","example":"ACTIVE"},"lastUpdate":{"type":"string","example":"2022-03-21T14:27:58.2106288+00:00"},"payerQuestion":{},"additionalInformation":{},"debtor":{"type":"object","properties":{"name":{"type":"string","example":"Fulano de Tal"},"cpf":{},"cnpj":{"type":"string","example":"61360961000100"}}},"amount":{"type":"object","properties":{"original":{"type":"number","example":15.63,"default":0},"discount":{"type":"object","properties":{"discountDateFixed":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string","example":"2022-03-21T00:00:00"},"amountPerc":{"type":"string","example":"1.00"}}}},"modality":{"type":"string","example":"FIXED_VALUE_UNTIL_THE_DATES_INFORMED"}}},"abatement":{},"fine":{},"interest":{}}},"location":{"type":"object","properties":{"merchant":{"type":"object","properties":{"postalCode":{"type":"string","example":"01201005"},"city":{"type":"string","example":"Barueri"},"merchantCategoryCode":{"type":"string","example":"0000"},"name":{"type":"string","example":"Celcoin Pagamentos"}}},"url":{"type":"string","example":"api-h.developer.btgpactual.com/v1/p/v2/cobv/8767107ce1db49fdb1058224e00c4ab1"},"emv":{"type":"string","example":"00020101021226980014br.gov.bcb.pix2576api-h.developer.btgpactual.com/v1/p/v2/cobv/8767107ce1db49fdb1058224e00c4ab15204000053039865802BR5918Celcoin Pagamentos6007Barueri61080120100562070503***630411F9"},"type":{"type":"string","example":"COBV"},"locationId":{"type":"string","example":"12731020"},"id":{}}},"key":{"type":"string","example":"testepix@btgpactual.com"},"receiver":{"type":"object","properties":{"name":{"type":"string","example":"João da Silva"},"fantasyName":{"type":"string","example":"Nome de Comercial"},"cpf":{},"cnpj":{"type":"string","example":"60904237000129"}}},"calendar":{"type":"object","properties":{"expirationAfterPayment":{"type":"string","example":"10"},"createdAt":{"type":"string","example":"0001-01-01T00:00:00"},"dueDate":{"type":"string","example":"2022-03-22T00:00:00"}}},"createAt":{"type":"string","example":"2022-03-21T14:27:58.2106288+00:00"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"The Calendar.DueDate field cannot be":{"value":"{\n    \"message\": \"The Calendar.DueDate field cannot be less than the current date.\",\n    \"errorCode\": \"PCE003\"\n}"},"The Discount.DiscountDateFixed.AmountPerc field cannot be":{"value":"{\n    \"message\": \"The Discount.DiscountDateFixed.AmountPerc field cannot be less than the current date.\",\n    \"errorCode\": \"PCE003\"\n}"},"Can't create a new PixCollectionDueDate":{"value":"{\n    \"message\": \"Can't create a new PixCollectionDueDate when there is another Pix Collection active with the same location.\",\n    \"errorCode\": \"PBE318\"\n}"}},"schema":{"oneOf":[{"title":"The Calendar.DueDate field cannot be","type":"object","properties":{"message":{"type":"string","example":"The Calendar.DueDate field cannot be less than the current date."},"errorCode":{"type":"string","example":"PCE003"}}},{"title":"The Discount.DiscountDateFixed.AmountPerc field cannot be","type":"object","properties":{"message":{"type":"string","example":"The Discount.DiscountDateFixed.AmountPerc field cannot be less than the current date."},"errorCode":{"type":"string","example":"PCE003"}}},{"title":"Can't create a new PixCollectionDueDate","type":"object","properties":{"message":{"type":"string","example":"Can't create a new PixCollectionDueDate when there is another Pix Collection active with the same location."},"errorCode":{"type":"string","example":"PBE318"}}}]}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Unauthroized":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Internal server error":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"delete":{"summary":"Deletar uma cobrança com vencimento","description":"Usando o DELETE, o QR Code Location será automaticamente desvinculado da cobrança com vencimento.","operationId":"deletar-uma-cobrança-com-vencimento-copy","parameters":[{"name":"transactionId","in":"path","description":"ID da transação da cobrança com vencimento","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Ok":{"value":"{\n  \"transactionId\": 45854857,\n  \"status\": 200,\n  \"message\": \"success\"\n}"}},"schema":{"type":"object","properties":{"transactionId":{"type":"integer","example":45854857,"default":0},"status":{"type":"integer","example":200,"default":0},"message":{"type":"string","example":"success"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Value cannot be null. (Parameter 'source')":{"value":"{\n  \"errorCode\": \"DE001\",\n  \"description\": \"Value cannot be null. (Parameter 'source')\"\n}"}},"schema":{"type":"object","properties":{"errorCode":{"type":"string","example":"DE001"},"description":{"type":"string","example":"Value cannot be null. (Parameter 'source')"}}}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Unauthorized":{"value":"Unauthorized"}}}}},"500":{"description":"500","content":{"text/plain":{"examples":{"Internal server error":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/pix/v1/collection/pi/duedate":{"get":{"summary":"Buscar dados de uma cobrança com vencimento","description":"Essa API possibilita a busca de dados de uma cobrança com vencimento (COBV) a partir do transctionId, transactionIdentification ou clientRequestId.","operationId":"buscar-dados-de-uma-cobrança-com-vencimento-copy","parameters":[{"name":"transactionId","in":"query","description":"Identificador de transação fornecido ao criar a cobrança com vencimento.","schema":{"type":"string"}},{"name":"transactionIdentification","in":"query","description":"Identificador do QRCode gerado","schema":{"type":"string"}},{"name":"clientRequestId","in":"query","description":"Identificador único da transação fornecida pelo do cliente.","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Ok":{"value":"{\n  \"transactionId\": 12345345,\n  \"status\": \"ACTIVE\",\n  \"lastUpdate\": \"2021-04-29\",\n  \"payerQuestion\": \"Esta cobrança é referente a...\",\n  \"additionalInformation\": [\n    {\n      \"value\": \"Assinatura de serviço\",\n      \"key\": \"Produto 1\"\n    }\n  ],\n  \"debtor\": {\n    \"name\": \"Fulano de Tal\",\n    \"cpf\": \"11122233366\",\n    \"cnpj\": \"1112223300100\",\n    \"city\": \"Barueri\",\n    \"publicArea\": \"Avenida Brasil\",\n    \"state\": \"SP\",\n    \"postalCode\": \"01202003\",\n    \"email\": \"contato@celcoin.com.br\"\n  },\n  \"amount\": {\n    \"original\": 15.63,\n    \"discount\": {\n      \"discountDateFixed\": [\n        {\n          \"date\": \"2021-04-29\",\n          \"amountPerc\": \"1.00\"\n        }\n      ],\n      \"modality\": \"string\"\n    },\n    \"abatement\": {\n      \"amountPerc\": \"1.00\",\n      \"modality\": \"FIXED_VALUE\"\n    },\n    \"fine\": {\n      \"amountPerc\": \"1.00\",\n      \"modality\": \"string\"\n    },\n    \"interest\": {\n      \"amountPerc\": \"1.00\",\n      \"modality\": \"string\"\n    }\n  },\n  \"key\": \"5d000ece-b3f0-47b3-8bdd-c183e8875862\",\n  \"receiver\": {\n    \"name\": \"João da Silva\",\n    \"cpf\": \"11122233366\",\n    \"cnpj\": \"1112223300100\",\n    \"postalCode\": \"01202003\",\n    \"city\": \"Barueri\",\n    \"publicArea\": \"Avenida Brasil\",\n    \"state\": \"SP\",\n    \"fantasyName\": \"Nome de Comercial\"\n  },\n  \"calendar\": {\n    \"expirationAfterPayment\": \"10\",\n    \"createdAt\": \"2021-04-29\",\n    \"dueDate\": \"2021-05-10\"\n  },\n  \"createAt\": \"2021-04-29\",\n  \"clientRequestId\": \"9b26edb7cf254db09f5449c94bf13abc\",\n  \"transactionIdentification\": \"kk6g232xel65a0daee4dd13kk479195205\",\n  \"transactionIdPayment\": 45854857\n}"}},"schema":{"type":"object","properties":{"transactionId":{"type":"integer","example":12345345,"default":0},"status":{"type":"string","example":"ACTIVE"},"lastUpdate":{"type":"string","example":"2021-04-29"},"payerQuestion":{"type":"string","example":"Esta cobrança é referente a..."},"additionalInformation":{"type":"array","items":{"type":"object","properties":{"value":{"type":"string","example":"Assinatura de serviço"},"key":{"type":"string","example":"Produto 1"}}}},"debtor":{"type":"object","properties":{"name":{"type":"string","example":"Fulano de Tal"},"cpf":{"type":"string","example":"11122233366"},"cnpj":{"type":"string","example":"1112223300100"},"city":{"type":"string","example":"Barueri"},"publicArea":{"type":"string","example":"Avenida Brasil"},"state":{"type":"string","example":"SP"},"postalCode":{"type":"string","example":"01202003"},"email":{"type":"string","example":"contato@celcoin.com.br"}}},"amount":{"type":"object","properties":{"original":{"type":"number","example":15.63,"default":0},"discount":{"type":"object","properties":{"discountDateFixed":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string","example":"2021-04-29"},"amountPerc":{"type":"string","example":"1.00"}}}},"modality":{"type":"string","example":"string"}}},"abatement":{"type":"object","properties":{"amountPerc":{"type":"string","example":"1.00"},"modality":{"type":"string","example":"FIXED_VALUE"}}},"fine":{"type":"object","properties":{"amountPerc":{"type":"string","example":"1.00"},"modality":{"type":"string","example":"string"}}},"interest":{"type":"object","properties":{"amountPerc":{"type":"string","example":"1.00"},"modality":{"type":"string","example":"string"}}}}},"key":{"type":"string","example":"5d000ece-b3f0-47b3-8bdd-c183e8875862"},"receiver":{"type":"object","properties":{"name":{"type":"string","example":"João da Silva"},"cpf":{"type":"string","example":"11122233366"},"cnpj":{"type":"string","example":"1112223300100"},"postalCode":{"type":"string","example":"01202003"},"city":{"type":"string","example":"Barueri"},"publicArea":{"type":"string","example":"Avenida Brasil"},"state":{"type":"string","example":"SP"},"fantasyName":{"type":"string","example":"Nome de Comercial"}}},"calendar":{"type":"object","properties":{"expirationAfterPayment":{"type":"string","example":"10"},"createdAt":{"type":"string","example":"2021-04-29"},"dueDate":{"type":"string","example":"2021-05-10"}}},"createAt":{"type":"string","example":"2021-04-29"},"clientRequestId":{"type":"string","example":"9b26edb7cf254db09f5449c94bf13abc"},"transactionIdentification":{"type":"string","example":"kk6g232xel65a0daee4dd13kk479195205"},"transactionIdPayment":{"type":"integer","example":45854857,"default":0}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Não foi possível localizar a cobrança":{"value":"{\n  \"message\": \"Não foi possível localizar a cobrança associada ao parâmetro informado.\",\n  \"errorCode\": \"VL002\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Não foi possível localizar a cobrança associada ao parâmetro informado."},"errorCode":{"type":"string","example":"VL002"}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Unauthorized":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Internal server error":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/pix/v1/collection/duedate/{transactionId}/unlink":{"patch":{"summary":"Desvincular cobrança com vencimento de um QR Code location","description":"","operationId":"desvincular-cobrança-com-vencimento-de-um-qr-code-location-copy","parameters":[{"name":"transactionId","in":"path","description":"Identificador de transação fornecido ao criar a cobrança com vencimento.","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"OK":{"value":"{\n  \"clientRequestId\": \"kk6g232xel65a0daee4dd13kk9189382\",\n  \"status\": \"ACTIVE\",\n  \"lastUpdateTimestamp\": \"2022-03-21T16:43:54.4223057+00:00\",\n  \"entity\": \"PixCollectionDueDate\",\n  \"pactualId\": \"f7352171-e983-4d91-8073-c2e513b83ce6\",\n  \"createTimestamp\": \"2022-03-21T14:27:58.2106288+00:00\",\n  \"body\": {\n    \"payerQuestion\": null,\n    \"additionalInformation\": null,\n    \"key\": \"testepix@celcoin.com.br\",\n    \"amount\": {\n      \"original\": 15.63\n    },\n    \"debtor\": {\n      \"name\": \"Fulano de Tal\",\n      \"cpf\": null,\n      \"cnpj\": \"33188542046\"\n    },\n    \"calendar\": {\n      \"expiration\": 86400\n    }\n  }\n}"}},"schema":{"type":"object","properties":{"clientRequestId":{"type":"string","example":"kk6g232xel65a0daee4dd13kk9189382"},"status":{"type":"string","example":"ACTIVE"},"lastUpdateTimestamp":{"type":"string","example":"2022-03-21T16:43:54.4223057+00:00"},"entity":{"type":"string","example":"PixCollectionDueDate"},"pactualId":{"type":"string","example":"f7352171-e983-4d91-8073-c2e513b83ce6"},"createTimestamp":{"type":"string","example":"2022-03-21T14:27:58.2106288+00:00"},"body":{"type":"object","properties":{"payerQuestion":{},"additionalInformation":{},"key":{"type":"string","example":"testepix@celcoin.com.br"},"amount":{"type":"object","properties":{"original":{"type":"number","example":15.63,"default":0}}},"debtor":{"type":"object","properties":{"name":{"type":"string","example":"Fulano de Tal"},"cpf":{},"cnpj":{"type":"string","example":"33188542046"}}},"calendar":{"type":"object","properties":{"expiration":{"type":"integer","example":86400,"default":0}}}}}}}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Unauthorized":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Não foram encontrados dados para a transação informada":{"value":"{\n  \"message\": \"Não foram encontrados dados para a transação informada.\",\n  \"errorCode\": \"404\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Não foram encontrados dados para a transação informada."},"errorCode":{"type":"string","example":"404"}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Internal server error":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/pix/v1/collection/duedate/payload/{url}":{"get":{"summary":"Carrega, valida e analisa a carga de json de uma Cobrança com Vencimento (COBV)","description":"Essa API realiza a consulta de um QR Code, atrelado a uma cobrança com vencimento, a partir de uma URL que precisa estar no padrão urlenconded.\n\nPara testar o processo de deixar a urlenconded indicamos o uso do [site](https://www.urlencoder.org/)","operationId":"carrega-valida-e-analisa-a-carga-de-json-de-uma-cobrança-com-vencimento-cobv-copy","parameters":[{"name":"url","in":"path","description":"URL do BRCode Location linkado a cobrança com vencimento. Deve ser URLEncoded.","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Ok":{"value":"{\n  \"calendar\": {\n    \"createdAt\": \"2022-03-21T13:11:26\",\n    \"presentation\": \"2022-03-21T13:11:26\",\n    \"dueDate\": \"2022-03-21T13:11:26\",\n    \"validateAfterExpiration\": 0\n  },\n  \"debtor\": {\n    \"cpf\": \"string\",\n    \"cnpj\": \"string\",\n    \"name\": \"string\"\n  },\n  \"receiver\": {\n    \"cnpj\": \"string\",\n    \"cpf\": \"string\",\n    \"fantasyName\": \"string\",\n    \"publicArea\": \"string\",\n    \"city\": \"string\",\n    \"state\": \"string\",\n    \"postalCode\": \"string\"\n  },\n  \"transactionIdentification\": \"string\",\n  \"revision\": \"string\",\n  \"status\": \"string\",\n  \"key\": \"string\",\n  \"amount\": {\n    \"original\": \"string\",\n    \"abatement\": \"string\",\n    \"discount\": \"string\",\n    \"interest\": \"string\",\n    \"fine\": \"string\",\n    \"final\": \"string\"\n  },\n  \"additionalInformation\": [\n    {\n      \"value\": \"Assinatura de serviço\",\n      \"key\": \"Produto 1\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"calendar":{"type":"object","properties":{"createdAt":{"type":"string","example":"2022-03-21T13:11:26"},"presentation":{"type":"string","example":"2022-03-21T13:11:26"},"dueDate":{"type":"string","example":"2022-03-21T13:11:26"},"validateAfterExpiration":{"type":"integer","example":0,"default":0}}},"debtor":{"type":"object","properties":{"cpf":{"type":"string","example":"string"},"cnpj":{"type":"string","example":"string"},"name":{"type":"string","example":"string"}}},"receiver":{"type":"object","properties":{"cnpj":{"type":"string","example":"string"},"cpf":{"type":"string","example":"string"},"fantasyName":{"type":"string","example":"string"},"publicArea":{"type":"string","example":"string"},"city":{"type":"string","example":"string"},"state":{"type":"string","example":"string"},"postalCode":{"type":"string","example":"string"}}},"transactionIdentification":{"type":"string","example":"string"},"revision":{"type":"string","example":"string"},"status":{"type":"string","example":"string"},"key":{"type":"string","example":"string"},"amount":{"type":"object","properties":{"original":{"type":"string","example":"string"},"abatement":{"type":"string","example":"string"},"discount":{"type":"string","example":"string"},"interest":{"type":"string","example":"string"},"fine":{"type":"string","example":"string"},"final":{"type":"string","example":"string"}}},"additionalInformation":{"type":"array","items":{"type":"object","properties":{"value":{"type":"string","example":"Assinatura de serviço"},"key":{"type":"string","example":"Produto 1"}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"The BRCode is expired and can't be paid.":{"value":"{\n  \"message\": \"The BRCode is expired and can't be paid.\",\n  \"errorCode\": \"400\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"The BRCode is expired and can't be paid."},"errorCode":{"type":"string","example":"400"}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Unauthorized":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"500":{"description":"500","content":{"text/plain":{"examples":{"Internal server error":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/pix/v1/collection/immediate":{"post":{"summary":"Criar nova cobrança imediata","description":"Essa API possibilita que seja criada uma cobrança imediata, vinculada a um QR Code já criado (location).","operationId":"criar-nova-cobrança-imediata-copy","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["key","locationId"],"properties":{"clientRequestId":{"type":"string","description":"Identificador único da transação fornecida pelo do cliente. Este valor não pode ser repetido."},"payerQuestion":{"type":"string","description":"Uma mensagem a ser apresentada ao pagador no ato."},"key":{"type":"string","description":"Chave Pix","default":"testepix@celcoin.com.br"},"locationId":{"type":"integer","description":"Identificador do BRCode Location a ser associado a cobrança.","format":"int32"},"debtor":{"type":"object","description":"Dados do pagador. Não é permitido que o campo debtor.cpf e campo debtor.cnpj estejam preenchidos ao mesmo tempo. Se o campo debtor.nome está preenchido, então deve existir ou um debtor.cpf ou um campo debtor.cnpj preenchido.","properties":{}},"amount":{"type":"object","description":"Classe de amount para cobranças imediatas","properties":{}},"calendar":{"type":"object","properties":{}},"additionalInformation":{"type":"array"}}},"examples":{"Request Example":{"value":{"clientRequestId":"9b26edb7cf254db09f5449c94bf13abc","payerQuestion":"Não pagável após vencimento.","key":"ab7e4702-fb05-4809-94c9-a7bfbe9aece3","locationId":775645,"debtor":{"name":"Fulano de Tal","cpf":"11122233366","cnpj":"1112223300100"},"amount":{"original":0,"changeType":0,"withdrawal":{"vldnAmount":10,"agentMode":"AGTEC","withdrawalServiceProvider":"13935893","changeType":0},"change":{"vldnAmount":10,"vlcpAmount":15.55,"agentMode":"AGTEC","withdrawalServiceProvider":"13935893","changeType":0}},"calendar":{"expiration":86400},"additionalInformation":[{"value":"Assinatura de serviço","key":"Produto 1"}]}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Ok":{"value":"{\n  \"revision\": 0,\n  \"transactionId\": 9190596,\n  \"clientRequestId\": \"9b26edb7cf254db09f5449c94bf13abc\",\n  \"status\": \"ACTIVE\",\n  \"lastUpdate\": \"2022-03-21T19:45:32.7719371+00:00\",\n  \"payerQuestion\": null,\n  \"additionalInformation\": null,\n  \"debtor\": {\n    \"name\": \"valdir\",\n    \"cpf\": \"35914746817\",\n    \"cnpj\": null\n  },\n  \"amount\": {\n    \"original\": 15.01,\n    \"changeType\": 0,\n    \"withdrawal\": null,\n    \"change\": null\n  },\n  \"location\": {\n    \"merchant\": {\n      \"postalCode\": \"01201005\",\n      \"city\": \"Barueri\",\n      \"merchantCategoryCode\": \"0000\",\n      \"name\": \"Celcoin Pagamentos\"\n    },\n    \"url\": \"api-h.developer.btgpactual.com/v1/p/v2/de69b65990834cfaa88ec7c6754b9a87\",\n    \"emv\": \"00020101021226930014br.gov.bcb.pix2571api-h.developer.btgpactual.com/v1/p/v2/de69b65990834cfaa88ec7c6754b9a875204000053039865802BR5918Celcoin Pagamentos6007Barueri61080120100562070503***6304DEFF\",\n    \"type\": \"COB\",\n    \"locationId\": \"12731028\",\n    \"id\": null\n  },\n  \"key\": \"testepix@celcoin.com.br\",\n  \"calendar\": {\n    \"expiration\": 86400\n  },\n  \"createAt\": \"2022-03-21T19:45:32.7719371+00:00\",\n  \"transactionIdentification\": \"kk6g232xel65a0daee4dd13kk9190596\"\n}"}},"schema":{"type":"object","properties":{"revision":{"type":"integer","example":0,"default":0},"transactionId":{"type":"integer","example":9190596,"default":0},"clientRequestId":{"type":"string","example":"9b26edb7cf254db09f5449c94bf13abc"},"status":{"type":"string","example":"ACTIVE"},"lastUpdate":{"type":"string","example":"2022-03-21T19:45:32.7719371+00:00"},"payerQuestion":{},"additionalInformation":{},"debtor":{"type":"object","properties":{"name":{"type":"string","example":"valdir"},"cpf":{"type":"string","example":"35914746817"},"cnpj":{}}},"amount":{"type":"object","properties":{"original":{"type":"number","example":15.01,"default":0},"changeType":{"type":"integer","example":0,"default":0},"withdrawal":{},"change":{}}},"location":{"type":"object","properties":{"merchant":{"type":"object","properties":{"postalCode":{"type":"string","example":"01201005"},"city":{"type":"string","example":"Barueri"},"merchantCategoryCode":{"type":"string","example":"0000"},"name":{"type":"string","example":"Celcoin Pagamentos"}}},"url":{"type":"string","example":"api-h.developer.btgpactual.com/v1/p/v2/de69b65990834cfaa88ec7c6754b9a87"},"emv":{"type":"string","example":"00020101021226930014br.gov.bcb.pix2571api-h.developer.btgpactual.com/v1/p/v2/de69b65990834cfaa88ec7c6754b9a875204000053039865802BR5918Celcoin Pagamentos6007Barueri61080120100562070503***6304DEFF"},"type":{"type":"string","example":"COB"},"locationId":{"type":"string","example":"12731028"},"id":{}}},"key":{"type":"string","example":"testepix@celcoin.com.br"},"calendar":{"type":"object","properties":{"expiration":{"type":"integer","example":86400,"default":0}}},"createAt":{"type":"string","example":"2022-03-21T19:45:32.7719371+00:00"},"transactionIdentification":{"type":"string","example":"kk6g232xel65a0daee4dd13kk9190596"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Location já está em uso":{"value":"{\n  \"message\": \"Can't create a new Pix Collection when there is another Pix Collection active with the same location.\",\n  \"errorCode\": \"PBE318\"\n}"},"Não foi retornado BRCode Location":{"value":"{\n  \"message\": \"Não foi retornado BRCode Location.\",\n  \"errorCode\": \"CI002\"\n}"},"Chave informada não cadastrada":{"value":"{\n  \"message\": \"Chave informada não cadastrada\",\n  \"errorCode\": \"CI003\"\n}"},"O valor original é obrigatório neste tipo de transação":{"value":"{\n  \"message\": \"O valor original é obrigatório neste tipo de transação\",\n  \"errorCode\": \"VLI001\"\n}"},"Não é permitido preencher os objetos 'change' e 'withdrawal'":{"value":"{\n  \"message\": \"Não é permitido preencher os objetos 'change' e 'withdrawal' simultaneamente\",\n  \"errorCode\": \"VLI002\"\n}"},"Valor em dinheiro disponibilizado é obrigatório":{"value":"{\n  \"message\": \" Valor em dinheiro disponibilizado é obrigatório neste tipo de transação\",\n  \"errorCode\": \"VLI010\"\n}"},"O valor 'Amount.Original' não pode ser maior que 0":{"value":"{\n  \"message\": \"O valor 'Amount.Original' não pode ser maior que 0 quando o tipo de transação é WITHDRAWAL.\",\n  \"errorCode\": \"VLI004\"\n}"},"Result":{"value":"{\n  \"message\": \"O valor 'Amount.Original' não pode ser maior que 0 quando o tipo de transação é WITHDRAWAL.\",\n  \"errorCode\": \"VLI005\"\n}"},"O código de ISPB fora do padrão '[0-9]{8}'.":{"value":"{\n  \"message\": \" O código de ISPB em operações de saque está fora do padrão '[0-9]{8}'.\",\n  \"errorCode\": \"VLI006\"\n}"},"O modo de agente de saque é obrigatório":{"value":"{\n  \"message\": \"O modo de agente de saque é obrigatório neste tipo de transação\",\n  \"errorCode\": \"VLI007\"\n}"},"O modo de agente de saque deve ser um dos seguinte":{"value":"{\n  \"message\": \"O modo de agente de saque deve ser um dos seguinte: AGTEC, AGTOT ou AGPSS\",\n  \"errorCode\": \"VLI008\"\n}"},"Valor da compra é obrigatório neste tipo de transação":{"value":"{\n  \"message\": \"Valor em dinheiro disponibilizado é obrigatório neste tipo de transação\",\n  \"errorCode\": \"VLI009\"\n}"},"O código de ISPB é obrigatório":{"value":"{\n  \"message\": \"O código de ISPB em operações de saque é obrigatório neste tipo de transação\",\n  \"errorCode\": \"VLI012\"\n}"}},"schema":{"oneOf":[{"title":"Location já está em uso","type":"object","properties":{"message":{"type":"string","example":"Can't create a new Pix Collection when there is another Pix Collection active with the same location."},"errorCode":{"type":"string","example":"PBE318"}}},{"title":"Não foi retornado BRCode Location","type":"object","properties":{"message":{"type":"string","example":"Não foi retornado BRCode Location."},"errorCode":{"type":"string","example":"CI002"}}},{"title":"Chave informada não cadastrada","type":"object","properties":{"message":{"type":"string","example":"Chave informada não cadastrada"},"errorCode":{"type":"string","example":"CI003"}}},{"title":"O valor original é obrigatório neste tipo de transação","type":"object","properties":{"message":{"type":"string","example":"O valor original é obrigatório neste tipo de transação"},"errorCode":{"type":"string","example":"VLI001"}}},{"title":"Não é permitido preencher os objetos 'change' e 'withdrawal'","type":"object","properties":{"message":{"type":"string","example":"Não é permitido preencher os objetos 'change' e 'withdrawal' simultaneamente"},"errorCode":{"type":"string","example":"VLI002"}}},{"title":"Valor em dinheiro disponibilizado é obrigatório","type":"object","properties":{"message":{"type":"string","example":"Valor em dinheiro disponibilizado é obrigatório neste tipo de transação"},"errorCode":{"type":"string","example":"VLI003"}}},{"title":"O valor 'Amount.Original' não pode ser maior que 0","type":"object","properties":{"message":{"type":"string","example":"O valor 'Amount.Original' não pode ser maior que 0 quando o tipo de transação é WITHDRAWAL."},"errorCode":{"type":"string","example":"VLI004"}}},{"type":"object","properties":{"message":{"type":"string","example":"O valor 'Amount.Original' não pode ser maior que 0 quando o tipo de transação é WITHDRAWAL."},"errorCode":{"type":"string","example":"VLI005"}}},{"title":"O código de ISPB fora do padrão '[0-9]{8}'.","type":"object","properties":{"message":{"type":"string","example":" O código de ISPB em operações de saque está fora do padrão '[0-9]{8}'."},"errorCode":{"type":"string","example":"VLI006"}}},{"title":"O modo de agente de saque é obrigatório","type":"object","properties":{"message":{"type":"string","example":"O modo de agente de saque é obrigatório neste tipo de transação"},"errorCode":{"type":"string","example":"VLI007"}}},{"title":"O modo de agente de saque deve ser um dos seguinte","type":"object","properties":{"message":{"type":"string","example":"O modo de agente de saque deve ser um dos seguinte: AGTEC, AGTOT ou AGPSS"},"errorCode":{"type":"string","example":"VLI008"}}},{"title":"Valor da compra é obrigatório neste tipo de transação","type":"object","properties":{"message":{"type":"string","example":"Valor em dinheiro disponibilizado é obrigatório neste tipo de transação"},"errorCode":{"type":"string","example":"VLI009"}}},{"title":"Valor em dinheiro disponibilizado é obrigatório","type":"object","properties":{"message":{"type":"string","example":" Valor em dinheiro disponibilizado é obrigatório neste tipo de transação"},"errorCode":{"type":"string","example":"VLI010"}}},{"title":"O código de ISPB é obrigatório","type":"object","properties":{"message":{"type":"string","example":"O código de ISPB em operações de saque é obrigatório neste tipo de transação"},"errorCode":{"type":"string","example":"VLI012"}}}]}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Unauthorized":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Internal Server Error":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/pix/v1/collection/immediate/{transactionId}":{"put":{"summary":"Atualizar dados de uma cobrança imediata","description":"Essa API possibilita que seja atualizada uma cobrança imediata.","operationId":"atualizar-dados-de-uma-cobrança-imediata-copy","parameters":[{"name":"transactionId","in":"path","description":"Identificador da cobrança imediata informado na criação da mesma.","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"clientRequestId":{"type":"string","description":"Identificador único da transação fornecida pelo do cliente. Este valor não pode ser repetido."},"payerQuestion":{"type":"string","description":"Uma mensagem a ser apresentada ao pagador no ato."},"key":{"type":"string","description":"Chave Pix do recebedor","default":"testepix@celcoin.com.br"},"locationId":{"type":"integer","description":"Identificador do BRCode Location a ser associado a cobrança.","format":"int32"},"debtor":{"type":"object","description":"Dados do pagador","properties":{}},"amount":{"type":"object","description":"Valores para cobranças imediatas","properties":{}},"calendar":{"type":"object","description":"Parâmetros de data","properties":{}},"additionalInformation":{"type":"array","description":"Informações adicionais"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Ok":{"value":"{\n  \"revision\": 0,\n  \"transactionId\": 9190596,\n  \"clientRequestId\": \"9b26edb7cf254db09f5449c94bf13abc\",\n  \"status\": \"ACTIVE\",\n  \"lastUpdate\": \"2022-03-21T19:45:32.7719371+00:00\",\n  \"payerQuestion\": null,\n  \"additionalInformation\": null,\n  \"debtor\": {\n    \"name\": \"valdir\",\n    \"cpf\": \"35914746817\",\n    \"cnpj\": null\n  },\n  \"amount\": {\n    \"original\": 15.01,\n    \"changeType\": 0,\n    \"withdrawal\": null,\n    \"change\": null\n  },\n  \"location\": {\n    \"merchant\": {\n      \"postalCode\": \"01201005\",\n      \"city\": \"Barueri\",\n      \"merchantCategoryCode\": \"0000\",\n      \"name\": \"Celcoin Pagamentos\"\n    },\n    \"url\": \"api-h.developer.btgpactual.com/v1/p/v2/de69b65990834cfaa88ec7c6754b9a87\",\n    \"emv\": \"00020101021226930014br.gov.bcb.pix2571api-h.developer.btgpactual.com/v1/p/v2/de69b65990834cfaa88ec7c6754b9a875204000053039865802BR5918Celcoin Pagamentos6007Barueri61080120100562070503***6304DEFF\",\n    \"type\": \"COB\",\n    \"locationId\": \"12731028\",\n    \"id\": null\n  },\n  \"key\": \"testepix@celcoin.com.br\",\n  \"calendar\": {\n    \"expiration\": 86400\n  },\n  \"createAt\": \"2022-03-21T19:45:32.7719371+00:00\",\n  \"transactionIdentification\": \"kk6g232xel65a0daee4dd13kk9190596\"\n}"}},"schema":{"type":"object","properties":{"revision":{"type":"integer","example":0,"default":0},"transactionId":{"type":"integer","example":9190596,"default":0},"clientRequestId":{"type":"string","example":"9b26edb7cf254db09f5449c94bf13abc"},"status":{"type":"string","example":"ACTIVE"},"lastUpdate":{"type":"string","example":"2022-03-21T19:45:32.7719371+00:00"},"payerQuestion":{},"additionalInformation":{},"debtor":{"type":"object","properties":{"name":{"type":"string","example":"valdir"},"cpf":{"type":"string","example":"35914746817"},"cnpj":{}}},"amount":{"type":"object","properties":{"original":{"type":"number","example":15.01,"default":0},"changeType":{"type":"integer","example":0,"default":0},"withdrawal":{},"change":{}}},"location":{"type":"object","properties":{"merchant":{"type":"object","properties":{"postalCode":{"type":"string","example":"01201005"},"city":{"type":"string","example":"Barueri"},"merchantCategoryCode":{"type":"string","example":"0000"},"name":{"type":"string","example":"Celcoin Pagamentos"}}},"url":{"type":"string","example":"api-h.developer.btgpactual.com/v1/p/v2/de69b65990834cfaa88ec7c6754b9a87"},"emv":{"type":"string","example":"00020101021226930014br.gov.bcb.pix2571api-h.developer.btgpactual.com/v1/p/v2/de69b65990834cfaa88ec7c6754b9a875204000053039865802BR5918Celcoin Pagamentos6007Barueri61080120100562070503***6304DEFF"},"type":{"type":"string","example":"COB"},"locationId":{"type":"string","example":"12731028"},"id":{}}},"key":{"type":"string","example":"testepix@celcoin.com.br"},"calendar":{"type":"object","properties":{"expiration":{"type":"integer","example":86400,"default":0}}},"createAt":{"type":"string","example":"2022-03-21T19:45:32.7719371+00:00"},"transactionIdentification":{"type":"string","example":"kk6g232xel65a0daee4dd13kk9190596"}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Unauthorized":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Internal Server Error":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"delete":{"summary":"Deletar uma cobrança imediata","description":"","operationId":"deletar-uma-cobrança-imediata-copy","parameters":[{"name":"transactionId","in":"path","description":"ID da transação da cobrança imediata","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Ok":{"value":"{\n  \"transactionId\": 9191654,\n  \"status\": 200,\n  \"message\": \"200\"\n}"}},"schema":{"type":"object","properties":{"transactionId":{"type":"integer","example":9191654,"default":0},"status":{"type":"integer","example":200,"default":0},"message":{"type":"string","example":"200"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Value cannot be null":{"value":"{\n  \"errorCode\": \"DE004\",\n  \"description\": \"Value cannot be null. (Parameter 'source')\"\n}"}},"schema":{"type":"object","properties":{"errorCode":{"type":"string","example":"DE004"},"description":{"type":"string","example":"Value cannot be null. (Parameter 'source')"}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Unauthorized":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Internal server errror":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/pix/v1/collection/pi/immediate":{"get":{"summary":"Busca de dados de uma cobrança imediata","description":"Essa API possibilita a busca de dados de uma cobrança imediata (COB) a partir do transctionId, transactionIdentification ou clientRequestId.","operationId":"busca-de-dados-de-uma-cobrança-imediata-copy","parameters":[{"name":"transactionId","in":"query","description":"Identificador de transação fornecido ao criar a cobrança imediata.","schema":{"type":"string"}},{"name":"transactionIdentification","in":"query","description":"Identificador do QRCode gerado","schema":{"type":"string"}},{"name":"clientRequestId","in":"query","description":"Identificador único da transação fornecida pelo do cliente.","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"OK":{"value":"{\n  \"transactionId\": 9191695,\n  \"status\": \"ACTIVE\",\n  \"lastUpdate\": \"2022-03-22T12:36:36.4797746+00:00\",\n  \"payerQuestion\": null,\n  \"additionalInformation\": null,\n  \"debtor\": {\n    \"name\": \"valdir\",\n    \"cpf\": \"35514846817\",\n    \"cnpj\": null\n  },\n  \"amount\": {\n    \"original\": 15.01,\n    \"changeType\": 0,\n    \"withdrawal\": null,\n    \"change\": null\n  },\n  \"key\": \"testepix@celcoin.com.br\",\n  \"location\": {\n    \"merchant\": {\n      \"postalCode\": \"01201005\",\n      \"city\": \"Barueri\",\n      \"merchantCategoryCode\": \"0000\",\n      \"name\": \"Celcoin Pagamentos\"\n    },\n    \"url\": \"https://sandbox.openfinance.celcoin.dev/pix/v1/collection/pi/immediate\",\n    \"emv\": \"00020101021226930014br.gov.bcb.pix2571api-h.developer.btgpactual.com/v1/p/v2/c74aceb336a44c4d9c6b4615d3c35c0b5204000053039865802BR5918Celcoin Pagamentos6007Barueri61080120100562070503***6304C203\",\n    \"type\": \"COB\",\n    \"locationId\": null,\n    \"id\": null\n  },\n  \"revision\": null,\n  \"calendar\": {\n    \"expiration\": 86400\n  },\n  \"createAt\": \"2022-03-22T12:36:36.4797746+00:00\",\n  \"clientRequestId\": \"9b26edb7cf254db09f5449c94bf13abc\",\n  \"transactionIdentification\": \"kk6g232xel65a0daee4dd13kk9191695\",\n  \"transactionIdPayment\": 0\n}"}},"schema":{"type":"object","properties":{"transactionId":{"type":"integer","example":9191695,"default":0},"status":{"type":"string","example":"ACTIVE"},"lastUpdate":{"type":"string","example":"2022-03-22T12:36:36.4797746+00:00"},"payerQuestion":{},"additionalInformation":{},"debtor":{"type":"object","properties":{"name":{"type":"string","example":"valdir"},"cpf":{"type":"string","example":"35514846817"},"cnpj":{}}},"amount":{"type":"object","properties":{"original":{"type":"number","example":15.01,"default":0},"changeType":{"type":"integer","example":0,"default":0},"withdrawal":{},"change":{}}},"key":{"type":"string","example":"testepix@celcoin.com.br"},"location":{"type":"object","properties":{"merchant":{"type":"object","properties":{"postalCode":{"type":"string","example":"01201005"},"city":{"type":"string","example":"Barueri"},"merchantCategoryCode":{"type":"string","example":"0000"},"name":{"type":"string","example":"Celcoin Pagamentos"}}},"url":{"type":"string","example":"https://sandbox.openfinance.celcoin.dev/pix/v1/collection/pi/immediate"},"emv":{"type":"string","example":"00020101021226930014br.gov.bcb.pix2571api-h.developer.btgpactual.com/v1/p/v2/c74aceb336a44c4d9c6b4615d3c35c0b5204000053039865802BR5918Celcoin Pagamentos6007Barueri61080120100562070503***6304C203"},"type":{"type":"string","example":"COB"},"locationId":{},"id":{}}},"revision":{},"calendar":{"type":"object","properties":{"expiration":{"type":"integer","example":86400,"default":0}}},"createAt":{"type":"string","example":"2022-03-22T12:36:36.4797746+00:00"},"clientRequestId":{"type":"string","example":"9b26edb7cf254db09f5449c94bf13abc"},"transactionIdentification":{"type":"string","example":"kk6g232xel65a0daee4dd13kk9191695"},"transactionIdPayment":{"type":"integer","example":0,"default":0}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Não foi possível localizar a cobrança":{"value":"{\n  \"message\": \"Não foi possível localizar a cobrança associada ao parâmetro informado.\",\n  \"errorCode\": \"VL004\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Não foi possível localizar a cobrança associada ao parâmetro informado."},"errorCode":{"type":"string","example":"VL004"}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Unauthorized":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"500":{"description":"500","content":{"text/plain":{"examples":{"Internal server error":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/pix/v1/collection/immediate/{transactionId}/unlink (COPY)":{"patch":{"summary":"Desvincular cobrança imediata de um BRCode Location","description":"Essa API desvincula uma cobrança de um QR Code, desta forma é possível utilizá-lo para realizar outra cobrança.","operationId":"desvincular-cobrança-imediata-de-um-brcode-location-copy","parameters":[{"name":"transactionId","in":"path","description":"Identificador de transação fornecido ao criar a cobrança imediata.","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Ok":{"value":"{\n  \"revision\": 0,\n  \"transactionId\": 0,\n  \"clientRequestId\": \"\",\n  \"status\": \"ACTIVE\",\n  \"lastUpdate\": \"2022-03-22T12:49:21.2461549+00:00\",\n  \"payerQuestion\": null,\n  \"additionalInformation\": null,\n  \"debtor\": {\n    \"name\": \"teste\",\n    \"cpf\": \"35914875417\",\n    \"cnpj\": null\n  },\n  \"amount\": {\n    \"original\": 15.01,\n    \"changeType\": 0,\n    \"withdrawal\": null,\n    \"change\": null\n  },\n  \"location\": null,\n  \"key\": \"testepix@celcoin.com.br\",\n  \"calendar\": {\n    \"expiration\": 86400\n  },\n  \"createAt\": \"2022-03-22T12:48:45.0602272+00:00\",\n  \"transactionIdentification\": \"kk6g232xel65a0daee4dd13kk9191767\"\n}"}},"schema":{"type":"object","properties":{"revision":{"type":"integer","example":0,"default":0},"transactionId":{"type":"integer","example":0,"default":0},"clientRequestId":{"type":"string","example":""},"status":{"type":"string","example":"ACTIVE"},"lastUpdate":{"type":"string","example":"2022-03-22T12:49:21.2461549+00:00"},"payerQuestion":{},"additionalInformation":{},"debtor":{"type":"object","properties":{"name":{"type":"string","example":"teste"},"cpf":{"type":"string","example":"35914875417"},"cnpj":{}}},"amount":{"type":"object","properties":{"original":{"type":"number","example":15.01,"default":0},"changeType":{"type":"integer","example":0,"default":0},"withdrawal":{},"change":{}}},"location":{},"key":{"type":"string","example":"testepix@celcoin.com.br"},"calendar":{"type":"object","properties":{"expiration":{"type":"integer","example":86400,"default":0}}},"createAt":{"type":"string","example":"2022-03-22T12:48:45.0602272+00:00"},"transactionIdentification":{"type":"string","example":"kk6g232xel65a0daee4dd13kk9191767"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Not found":{"value":"{\n  \"message\": \"{\\\"version\\\":\\\"1.2.7\\\",\\\"status\\\":404}\",\n  \"errorCode\": \"404\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"{\"version\":\"1.2.7\",\"status\":404}"},"errorCode":{"type":"string","example":"404"}}}}}},"500":{"description":"500","content":{"text/plain":{"examples":{"Internal server error":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/pix/v1/collection/immediate/payload/{url}":{"get":{"summary":"Carrega, valida e analisa a carga de json de uma Cobrança imediata (COB)","description":"Essa API realiza a consulta de um QR Code atrelado a uma cobrança imediata a partir de uma URL que precisa estar no padrão urlenconded.\n\nPara testar o processo de deixar a urlenconded indicamos o uso do [site](https://www.urlencoder.org/)","operationId":"carrega-valida-e-analisa-a-carga-de-json-de-uma-cobrança-imediata-cob-copy","parameters":[{"name":"url","in":"path","description":"URL do BRCode Location linkado a cobrança imediata. Deve ser URLEncoded.","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"OK":{"value":"{\n  \"status\": \"ATIVA\",\n  \"infoAdicionais\": null,\n  \"txid\": \"kk6g232xel65a0daee4dd13kk9192148\",\n  \"chave\": \"testepix@celcoin.com.br\",\n  \"solicitacaoPagador\": null,\n  \"valor\": {\n    \"original\": \"15.01\",\n    \"abatimento\": null,\n    \"desconto\": null,\n    \"multa\": null,\n    \"juros\": null,\n    \"final\": null,\n    \"modalidadeAlteracao\": 0,\n    \"retirada\": null\n  },\n  \"calendario\": {\n    \"criacao\": \"2022-03-22T14:20:47Z\",\n    \"expiracao\": 86400,\n    \"apresentacao\": \"2022-03-22T14:22:24Z\",\n    \"validadeAposVencimento\": 0\n  },\n  \"revisao\": 0\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"ATIVA"},"infoAdicionais":{},"txid":{"type":"string","example":"kk6g232xel65a0daee4dd13kk9192148"},"chave":{"type":"string","example":"testepix@celcoin.com.br"},"solicitacaoPagador":{},"valor":{"type":"object","properties":{"original":{"type":"string","example":"15.01"},"abatimento":{},"desconto":{},"multa":{},"juros":{},"final":{},"modalidadeAlteracao":{"type":"integer","example":0,"default":0},"retirada":{}}},"calendario":{"type":"object","properties":{"criacao":{"type":"string","example":"2022-03-22T14:20:47Z"},"expiracao":{"type":"integer","example":86400,"default":0},"apresentacao":{"type":"string","example":"2022-03-22T14:22:24Z"},"validadeAposVencimento":{"type":"integer","example":0,"default":0}}},"revisao":{"type":"integer","example":0,"default":0}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Invalid url parameter":{"value":"{\n  \"message\": \"Invalid url parameter.\",\n  \"errorCode\": \"PCE002\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Invalid url parameter."},"errorCode":{"type":"string","example":"PCE002"}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Unauthorized":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"500":{"description":"500","content":{"text/plain":{"examples":{"Internal server error":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/pix/v1/brcode/dynamic":{"post":{"summary":"Criar um QR Code dinâmico","description":"Essa API possibilita que seja criado um QR Code para cobranças dinâmicas imediatas e com valores pré-definidos.\nCom este endpoint, em uma chamada é realizado, automaticamente, o fluxo completo para criação de um QR Code:\n1. endereçamento do QR Code (location);\n2. criação da cobrança vinculada àquele QR Code (COB).","operationId":"criar-um-qr-code-dinâmico-copy","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["key","merchant"],"properties":{"clientRequestId":{"type":"string","description":"Identificador único da transação fornecida pelo cliente. Este valor não pode ser repetido"},"key":{"type":"string","description":"Chave Pix do recebedor","default":"testepix@celcoin.com.br"},"amount":{"type":"string","description":"Valor original desta cobrança.","default":"5000.00"},"merchant":{"type":"object","properties":{}},"payerName":{"type":"string","description":"Nome do pagador. Se o campo payerName está preenchido, então deve existir ou um payerCPF ou um payerCNPJ preenchido."},"payerCPF":{"type":"string","description":"CPF do pagador (apenas números). Não é permitido que o campo payerCPF e campo payerCNPJ estejam preenchidos ao mesmo tempo."},"payerCNPJ":{"type":"string","description":"CNPJ do pagador (apenas números). Não é permitido que o campo payerCPF e campo payerCNPJ estejam preenchidos ao mesmo tempo."},"payerQuestion":{"type":"string","description":"Uma questão a ser mostrada ao pagador no momento do pagamento."},"additionalInformation":{"type":"array","description":"Informações adicionais."},"expiration":{"type":"integer","description":"Tempo para expiração do QR Code, em segundos. Caso não informado, será preenchido com o valor default (86400 segundos = 24 horas)","default":86400,"format":"int32"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Ok":{"value":"{\n  \"version\": \"1.0.9\",\n  \"status\": 200,\n  \"body\": {\n    \"clientRequestId\": \"456456456\",\n    \"pactualId\": \"3641c1eb-18cf-4960-b5f7-e62a7941f4ca\",\n    \"transactionId\": \"9193296\",\n    \"createTimestamp\": \"2022-03-22T18:59:28.0944527+00:00\",\n    \"lastUpdateTimestamp\": \"2022-03-22T18:59:28.0944527+00:00\",\n    \"entity\": \"PixImmediateCollection\",\n    \"status\": \"ACTIVE\",\n    \"tags\": null,\n    \"transactionIdentification\": \"kk6g232xel65a0daee4dd13kk9193296\",\n    \"body\": {\n      \"key\": \"testepix@celcoin.com.br\",\n      \"revision\": \"0\",\n      \"location\": \"api-h.developer.btgpactual.com/v1/p/v2/3641c1eb18cf4960b5f7e62a7941f4ca\",\n      \"amount\": {\n        \"original\": 25.25\n      },\n      \"calendar\": {\n        \"expiration\": 86400,\n        \"dueDate\": \"2022-03-23T18:59:28.1220525+00:00\"\n      },\n      \"debtor\": {\n        \"cpf\": \"12312312312\",\n        \"cnpj\": null,\n        \"name\": \"valdir\"\n      },\n      \"additionalInformation\": [],\n      \"dynamicBRCodeData\": {\n        \"pointOfInitiationMethod\": \"\",\n        \"merchantAccountInformation\": {\n          \"url\": \"api-h.developer.btgpactual.com/v1/p/v2/3641c1eb18cf4960b5f7e62a7941f4ca\"\n        },\n        \"payloadFormatIndicator\": \"\",\n        \"merchantCategoryCode\": 0,\n        \"transactionCurrency\": 986,\n        \"countryCode\": \"BR\",\n        \"merchantName\": \"Celcoin\",\n        \"merchantCity\": \"Sao Paulo\",\n        \"transactionIdentification\": \"***\",\n        \"transactionAmount\": \"25.25\",\n        \"emvqrcps\": \"00020101021226930014br.gov.bcb.pix2571api-h.developer.btgpactual.com/v1/p/v2/3641c1eb18cf4960b5f7e62a7941f4ca5204000053039865802BR5923VALDIR DE SOUSA BESERRA6009Sao Paulo61080955000062070503***6304539D\"\n      }\n    }\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.9"},"status":{"type":"integer","example":200,"default":0},"body":{"type":"object","properties":{"clientRequestId":{"type":"string","example":"456456456"},"pactualId":{"type":"string","example":"3641c1eb-18cf-4960-b5f7-e62a7941f4ca"},"transactionId":{"type":"string","example":"9193296"},"createTimestamp":{"type":"string","example":"2022-03-22T18:59:28.0944527+00:00"},"lastUpdateTimestamp":{"type":"string","example":"2022-03-22T18:59:28.0944527+00:00"},"entity":{"type":"string","example":"PixImmediateCollection"},"status":{"type":"string","example":"ACTIVE"},"tags":{},"transactionIdentification":{"type":"string","example":"kk6g232xel65a0daee4dd13kk9193296"},"body":{"type":"object","properties":{"key":{"type":"string","example":"testepix@celcoin.com.br"},"revision":{"type":"string","example":"0"},"location":{"type":"string","example":"api-h.developer.btgpactual.com/v1/p/v2/3641c1eb18cf4960b5f7e62a7941f4ca"},"amount":{"type":"object","properties":{"original":{"type":"number","example":25.25,"default":0}}},"calendar":{"type":"object","properties":{"expiration":{"type":"integer","example":86400,"default":0},"dueDate":{"type":"string","example":"2022-03-23T18:59:28.1220525+00:00"}}},"debtor":{"type":"object","properties":{"cpf":{"type":"string","example":"12312312312"},"cnpj":{},"name":{"type":"string","example":"valdir"}}},"additionalInformation":{"type":"array"},"dynamicBRCodeData":{"type":"object","properties":{"pointOfInitiationMethod":{"type":"string","example":""},"merchantAccountInformation":{"type":"object","properties":{"url":{"type":"string","example":"api-h.developer.btgpactual.com/v1/p/v2/3641c1eb18cf4960b5f7e62a7941f4ca"}}},"payloadFormatIndicator":{"type":"string","example":""},"merchantCategoryCode":{"type":"integer","example":0,"default":0},"transactionCurrency":{"type":"integer","example":986,"default":0},"countryCode":{"type":"string","example":"BR"},"merchantName":{"type":"string","example":"Celcoin"},"merchantCity":{"type":"string","example":"Sao Paulo"},"transactionIdentification":{"type":"string","example":"***"},"transactionAmount":{"type":"string","example":"25.25"},"emvqrcps":{"type":"string","example":"00020101021226930014br.gov.bcb.pix2571api-h.developer.btgpactual.com/v1/p/v2/3641c1eb18cf4960b5f7e62a7941f4ca5204000053039865802BR5923VALDIR DE SOUSA BESERRA6009Sao Paulo61080955000062070503***6304539D"}}}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Chave Pix informada não é válida":{"value":"{\n  \"code\": \"LC003\",\n  \"description\": \"Chave Pix informada não é válida para este tipo de ação. Contate o suporte. / Chave informada não cadastrada\"\n}"}},"schema":{"type":"object","properties":{"code":{"type":"string","example":"LC003"},"description":{"type":"string","example":"Chave Pix informada não é válida para este tipo de ação. Contate o suporte. / Chave informada não cadastrada"}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Unauthorized":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Internal server error":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/pix/v1/brcode/dynamic/{transactionId}/base64":{"get":{"summary":"Recupera uma imagem base64 representando um QR Code dinâmico","description":"","operationId":"recupera-uma-imagem-base64-representando-um-qr-code-dinâmico-copy","parameters":[{"name":"transactionId","in":"path","description":"ID da transação representante do BRCode estático.","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Ok":{"value":"{\n  \"status\": 0,\n  \"base64image\": \"iVBORw0KGgoAAAANSUhEUgAABMQAAATECAYAAACEMNn6AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAIABJREFUeJzs2luO3MpyQFGnUfOfcvrL0D0fFiAzjhjVe60BEJEPsqWNOvfe+18AAAAAEPHfbw8AAAAAAH+TIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAEDK5+0Bvt055+0R+CL33tHn1e7f9P5Ncx7PbN+/7fdvu+nzrd2/7bafR22+mu3nUZtvWu392H4e7FJ7P6b5hRgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKZ+3B+Cf7r1vj8B/OOe8PcJvTd+X7evdznk8s/37t/08tu8fz2z/vkw/b/t93j7fdrX7Mm37/vm+7FJb73bb/z1Z4xdiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKR83h6Af9c55+0R/qp779sjfLXp/dt+/6bn237/aufLM9vfj+33r/Y9mOb+PbN9vbX5arafL8/UzsP34GfzCzEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUj5vDwD8XPfet0f4ren5zjmjz6vt33bbz3d6vprafZ5Wez+2z1dbb03tPLav198P+F5+IQYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAyuftAYD/v3PO6PPuvaPPmza93mnb92/a9vu3/b7U9q92HjXb7992tb8f02r7V3s/ptXuC/B/8wsxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFI+bw/Av+ve+/YIMGb7fT7nvD3CXzV9HvbvZ9t+X2rnUXvftnMez9T2b/v3qnYeNdvvH/wJvxADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIOXz9gD80znn7RFgzPR9vveOPs98z5jvme3z8Yzz3aX2/prvGfP9bLX98/9L+L/5hRgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKZ+3B/h29963RyDM/dvlnPP2CF9t+/5Nz+f9/dmc7y6+L7tsn6+m9n5s5/2Av8cvxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABI+bw9AP90znl7BL7IvXf0ee4fP8n292P6edPr3b5/07bPxzPT93na9vu3fb7a92/7fOyy/Xy3f5+nbf8e1PiFGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApn7cH4J/uvW+P8NXOOaPP234etfXys22/f9vn2/49mH7e9vVOm15vTe2+TNv+/tbU9m/7++b78oz9401+IQYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAyrn33reH4Jdzztsj/Fbtumw/j+2235ft5zu9f9PrNd8z2+fjme3nW5tv2vb1+h7s4j7zJ7afx/b54E/4hRgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKefee98egl/OOW+P8FdNX7/p/ds+H89sP9/tn+ft97m2f9b7jPv8zPb92652vtvXu93289g+37TaeqfV9q+23u38QgwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAlHPvvW8Pwb/nnPP2CH/V9HWe3r/afDxTe3+ned+e2X7/tp8vu3jffrba+W7//tXOY9r28+WZ7e9HjV+IAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJBy7r337SG+2Tln9HnTx7F9vmm19W63/Ty2z7fd9P7V1O5LjfdjF+/bM9vv8/bz3b5/29XOt7beadv/vzBt+33Zzi/EAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEj5vD0A/65779sj/NY5Z/R50+udno9navelNl/N9vPYPt+02nqn2b9ntu/f9vPY/u+17ftXs/19q93n7eud5nuwi1+IAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJBy7r337SH45Zwz+rza8W7fv+n5pm2/L9vPt2b7eXjfdtl+X2q2n0dtvmnb1+v9fcZ5POP9fcZ92aV2HtP8QgwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAlM/bA3y7c87o8+69o8+bnm/a9Hqn2b9dauut2f49nVZb77Tt+7d9vprt51H798b285hmvbxp+/tbs/39rfELMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSPm8PwD+dc94egf9w7x19Xu18p9dbO4/t652ej2e232eecb7A/6r9Pd8+n+/zM9vPd1rt/d3OL8QAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASDn33vv2EN/snDP6vNpxbN+/6fmmbb8v9u+Z7e/Hdvbvme375/uyy/b7UrP9PLa/v9ttPw/v7zPbz8P7+4z3Yxe/EAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAg5fP2AN/u3vv2CPyHc87o87af7/R6p9X2b/t6eab2vm2/z9PzTZ/v9vtS4zx+tu3fq2n+/fKM/Xtm+9/f2nnwjF+IAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJDyeXuAb3fOGX3evXf0edO2r3d6vu3r3W56/2q2vx+1+Xhm+/egdl9q79v2+bafx/b3d/t802rnu/393a52vrX18oxfiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQcu699+0hvtk55+0R/qrp67J9/7a/HtP7V1sv/Ina92+72nnUvs/bz7c23zTr5U3b78u07fev9j3dPl+NX4gBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkHLuvfftIfjlnDP6vOnjrc03bft6zbfL9vVu//Ox/Xy3c/+e2X7/avu3fb3Ttt+/mtr9m7b9Ptf+XjqPZ3wPdvELMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSPm8PAJPuvW+P8FvnnLdH+GrT+7f9vmznPPgTzveZ6f3z/j6zff9q92X7fNO2r7f2793aeWx/P6Y5j5/NL8QAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASDn33vv2EN/snDP6vOnjmJ6Pn839e8b+PVP7c+R8n6ntH7ts/17V/n3qPHbxfeYn2f6+8YxfiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQ8nl7gG937x193jln9HnT802rrXfa9P5NP29a7Xx5pnaffU+fqa13+33ZPt92tfVu5zx+ttr51r7PtX9P1viFGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApn7cH+HbnnNHn3XtHnzdter3b1c53+3y185i2fb2178t23rdn7N8utfOw3l1q+1db77TaeWxn/342vxADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIOXz9gDf7t47+rxzzujzeGb6fGu23+fp+abvy/b7t33/pk2vd/v+bX9/t9t+n3lm+/vh/v1s2/9+8Izz2MX3/mfzCzEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUs699749xDc754w+r3Yc0/vHLu7zLtPnsX292zkP+Hu2/z3a/u/J7d8X6/3Ztp8H/Ina+7udX4gBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkPJ5e4Bvd+99e4SvNr1/55zR522fb7vt693+/tbuX229te/V9vnYZft92f73Yzvn+7M5j2dqf9+2n2/tPGr8QgwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAlHPvvW8PwS/nnNHn1Y53ev94Zvv9235fpvevtt5p27/P2+fbbvv7sd32+1J7P9znXXzvn6mtd9r270HtPNjFL8QAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASPm8PcC3O+eMPu/eO/q8adPrnbZ9/6ZtP49p3rdnpte7/f5tn49ntp9v7X2r2X4e/r7xpu3vx/b7t33/eGb7/avxCzEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUs699749BL+cc94e4a+avn61/WOX7Z/T7e+H78Ez2/dv+/sxrXb/ttt+/9yXZ7af73bb71/tfGt/f90/3uQXYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkfN4egO9y7x193jln9HnTtq/XfD9b7Txq663NN6223u3z+T7vsv2+TKt9D6Zt/3u0/X2btv08eMb3ahe/EAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAg5fP2AN/unDP6vHvv6PNqpvevdr61/Zueb5r17rL9PGrzTbPeZ7bfv+3rnbZ9vbX5arafx/b5tqt9/7bfP57xCzEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUs699749BL+cc94e4be2X5fp/Zte7/bznbb9vkyrne92tfs3rfY9dV+e8f3bxfu2y/b3Y/t9gT+x/T7Xvn/b+YUYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACnn3nvfHuKbnXPeHuG3th/v9v2btv08pm0/3+3nsX3/ptXOY3q95ttl+/u7/Xy3237/ttv+Pdg+H7tsvy/b55u2/e/R9v2r8QsxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFI+bw/AP917R593zhl93vR808/jmen7Ms378cz29W6fb/t6t9v+va+dx7Tt70dtPp7Zfh6171Xt/a3NN632/m5f73Z+IQYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBv/Trh3kxpEDARAEgfn/l7mnhb0XYYWmxJrJiAcMik2yZScaAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEh53R7g3e29b4/wq9ZaR3/v9PM7Pd9ptfMy3fTzN/28WO8z09d7mvfzZ5u+v6dNPy+195Xzx3f4998s1stNvhADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIGXtvfftId7ZWuv2CL9q+nE5vR/T18syhol6AAAMt0lEQVRnm36ezffM9L8f099/9pdP4r7xHdP3Y/r7b/r5s7/P2F++wxdiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKS8bg/Az9p73x7hra21bo/w1mrn7/R5Of38ps93mufHTbXzN/3vpfs2y/TzfFptvadNX+/0/Z0+32n+HvEdvhADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIGXtvfftIfhjrXX0905vr/memT7fadPXe3q+02r7e1rt+U2/H/bjmdp9s95npt+3munnmWdq74Pp53n6+2/6/tb4QgwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAlNftAd7dWuv2CG9t+vM7Pd/e++jvTZ/v9O/x2Wr347Tp653+vp++v6fV9ne66fsxfb6a2vvqtOnnz32bZfr7lGd8IQYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAytp779tD8Mda6/YIX3JcuOn0/Zh+nr0Pnpn+/Kazv8+cfn7W+9mm3zdmmX4/pr8Pps/HM7X99ffjGV+IAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJCy9t779hC8j7XW0d+bfvymr/f0fDXTz990zh/wL+/TZ/x745np56+2v7X94Jnp5/m06fejxhdiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKS8bg/Ae9l73x7hV1nvLGut2yN86fR8p/fDfHzH9Pt2Wu28TN9f74NZpr/va6Y/v9r9nT7fadPP3/T9qN2P6XwhBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAEDK6/YA726tdXsE3sje+/YIXzp9nk+v9/TvTV/vaeabpXb+amr7699Dz/j79ozz94z9ncX9nWX6/2d4xhdiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKS8bg/Af+29b4/AX9Zat0fgL9P34/R8098HtfXWnN6P6ff3NOf5s00/z9Pvr/vxzOn9cJ5nqd2P6et1Xj6bL8QAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASHndHoCftda6PcKv2nvfHuGt1Z7f9PWevr+n11t7ftPVzsvp9dbOy3TTz8v0999p0/fjtOnrrZ2/6aaf5+lqz8/9ncUXYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkvG4PAMyx1ro9wpf23kd/b/p6T5u+3tP7yzO182K9n236++X0ftTOy/T9nT7fadPP83TT76/5+CS+EAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAg5XV7AID/a611e4Qv7b2P/t709dac3t/TTp+X6efZ/Ximtr/T7+/0/Ziutt7p58V9m6W23ulq9206X4gBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkPK6PQA/a+99ewTCTp+/tdbR35t+P6bPd3o/Tv/eadPnm37fpqvdt9M8v1mmvw+mn5fpaue5tt7ppr9fpvP+m8UXYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkrL33vj3EO1tr3R6BN1K7bqfvx+nnN30++I7aeZ7+97f2vqrtx2nT9/c0631m+np5Zvr79LTpf4/ct8/mCzEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUtbee98eAgAAAAB+iy/EAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEj5B0baOpSR8ZlNAAAAAElFTkSuQmCC\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":0,"default":0},"base64image":{"type":"string","example":"iVBORw0KGgoAAAANSUhEUgAABMQAAATECAYAAACEMNn6AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAIABJREFUeJzs2luO3MpyQFGnUfOfcvrL0D0fFiAzjhjVe60BEJEPsqWNOvfe+18AAAAAEPHfbw8AAAAAAH+TIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAEDK5+0Bvt055+0R+CL33tHn1e7f9P5Ncx7PbN+/7fdvu+nzrd2/7bafR22+mu3nUZtvWu392H4e7FJ7P6b5hRgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKZ+3B+Cf7r1vj8B/OOe8PcJvTd+X7evdznk8s/37t/08tu8fz2z/vkw/b/t93j7fdrX7Mm37/vm+7FJb73bb/z1Z4xdiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKR83h6Af9c55+0R/qp779sjfLXp/dt+/6bn237/aufLM9vfj+33r/Y9mOb+PbN9vbX5arafL8/UzsP34GfzCzEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUj5vDwD8XPfet0f4ren5zjmjz6vt33bbz3d6vprafZ5Wez+2z1dbb03tPLav198P+F5+IQYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAyuftAYD/v3PO6PPuvaPPmza93mnb92/a9vu3/b7U9q92HjXb7992tb8f02r7V3s/ptXuC/B/8wsxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFI+bw/Av+ve+/YIMGb7fT7nvD3CXzV9HvbvZ9t+X2rnUXvftnMez9T2b/v3qnYeNdvvH/wJvxADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIOXz9gD80znn7RFgzPR9vveOPs98z5jvme3z8Yzz3aX2/prvGfP9bLX98/9L+L/5hRgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKZ+3B/h29963RyDM/dvlnPP2CF9t+/5Nz+f9/dmc7y6+L7tsn6+m9n5s5/2Av8cvxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABI+bw9AP90znl7BL7IvXf0ee4fP8n292P6edPr3b5/07bPxzPT93na9vu3fb7a92/7fOyy/Xy3f5+nbf8e1PiFGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApn7cH4J/uvW+P8NXOOaPP234etfXys22/f9vn2/49mH7e9vVOm15vTe2+TNv+/tbU9m/7++b78oz9401+IQYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAyrn33reH4Jdzztsj/Fbtumw/j+2235ft5zu9f9PrNd8z2+fjme3nW5tv2vb1+h7s4j7zJ7afx/b54E/4hRgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKefee98egl/OOW+P8FdNX7/p/ds+H89sP9/tn+ft97m2f9b7jPv8zPb92652vtvXu93289g+37TaeqfV9q+23u38QgwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAlHPvvW8Pwb/nnPP2CH/V9HWe3r/afDxTe3+ned+e2X7/tp8vu3jffrba+W7//tXOY9r28+WZ7e9HjV+IAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJBy7r337SG+2Tln9HnTx7F9vmm19W63/Ty2z7fd9P7V1O5LjfdjF+/bM9vv8/bz3b5/29XOt7beadv/vzBt+33Zzi/EAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEj5vD0A/65779sj/NY5Z/R50+udno9navelNl/N9vPYPt+02nqn2b9ntu/f9vPY/u+17ftXs/19q93n7eud5nuwi1+IAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJBy7r337SH45Zwz+rza8W7fv+n5pm2/L9vPt2b7eXjfdtl+X2q2n0dtvmnb1+v9fcZ5POP9fcZ92aV2HtP8QgwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAlM/bA3y7c87o8+69o8+bnm/a9Hqn2b9dauut2f49nVZb77Tt+7d9vprt51H798b285hmvbxp+/tbs/39rfELMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSPm8PwD+dc94egf9w7x19Xu18p9dbO4/t652ej2e232eecb7A/6r9Pd8+n+/zM9vPd1rt/d3OL8QAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASDn33vv2EN/snDP6vNpxbN+/6fmmbb8v9u+Z7e/Hdvbvme375/uyy/b7UrP9PLa/v9ttPw/v7zPbz8P7+4z3Yxe/EAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAg5fP2AN/u3vv2CPyHc87o87af7/R6p9X2b/t6eab2vm2/z9PzTZ/v9vtS4zx+tu3fq2n+/fKM/Xtm+9/f2nnwjF+IAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJDyeXuAb3fOGX3evXf0edO2r3d6vu3r3W56/2q2vx+1+Xhm+/egdl9q79v2+bafx/b3d/t802rnu/393a52vrX18oxfiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQcu699+0hvtk55+0R/qrp67J9/7a/HtP7V1sv/Ina92+72nnUvs/bz7c23zTr5U3b78u07fev9j3dPl+NX4gBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkHLuvfftIfjlnDP6vOnjrc03bft6zbfL9vVu//Ox/Xy3c/+e2X7/avu3fb3Ttt+/mtr9m7b9Ptf+XjqPZ3wPdvELMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSPm8PAJPuvW+P8FvnnLdH+GrT+7f9vmznPPgTzveZ6f3z/j6zff9q92X7fNO2r7f2793aeWx/P6Y5j5/NL8QAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASDn33vv2EN/snDP6vOnjmJ6Pn839e8b+PVP7c+R8n6ntH7ts/17V/n3qPHbxfeYn2f6+8YxfiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQ8nl7gG937x193jln9HnT802rrXfa9P5NP29a7Xx5pnaffU+fqa13+33ZPt92tfVu5zx+ttr51r7PtX9P1viFGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApn7cH+HbnnNHn3XtHnzdter3b1c53+3y185i2fb2178t23rdn7N8utfOw3l1q+1db77TaeWxn/342vxADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIOXz9gDf7t47+rxzzujzeGb6fGu23+fp+abvy/b7t33/pk2vd/v+bX9/t9t+n3lm+/vh/v1s2/9+8Izz2MX3/mfzCzEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUs699749xDc754w+r3Yc0/vHLu7zLtPnsX292zkP+Hu2/z3a/u/J7d8X6/3Ztp8H/Ina+7udX4gBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkPJ5e4Bvd+99e4SvNr1/55zR522fb7vt693+/tbuX229te/V9vnYZft92f73Yzvn+7M5j2dqf9+2n2/tPGr8QgwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAlHPvvW8PwS/nnNHn1Y53ev94Zvv9235fpvevtt5p27/P2+fbbvv7sd32+1J7P9znXXzvn6mtd9r270HtPNjFL8QAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASPm8PcC3O+eMPu/eO/q8adPrnbZ9/6ZtP49p3rdnpte7/f5tn49ntp9v7X2r2X4e/r7xpu3vx/b7t33/eGb7/avxCzEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUs699749BL+cc94e4a+avn61/WOX7Z/T7e+H78Ez2/dv+/sxrXb/ttt+/9yXZ7af73bb71/tfGt/f90/3uQXYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkfN4egO9y7x193jln9HnTtq/XfD9b7Txq663NN6223u3z+T7vsv2+TKt9D6Zt/3u0/X2btv08eMb3ahe/EAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAg5fP2AN/unDP6vHvv6PNqpvevdr61/Zueb5r17rL9PGrzTbPeZ7bfv+3rnbZ9vbX5arafx/b5tqt9/7bfP57xCzEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUs699749BL+cc94e4be2X5fp/Zte7/bznbb9vkyrne92tfs3rfY9dV+e8f3bxfu2y/b3Y/t9gT+x/T7Xvn/b+YUYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACmCGAAAAAApghgAAAAAKYIYAAAAACnn3nvfHuKbnXPeHuG3th/v9v2btv08pm0/3+3nsX3/ptXOY3q95ttl+/u7/Xy3237/ttv+Pdg+H7tsvy/b55u2/e/R9v2r8QsxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFIEMQAAAABSBDEAAAAAUgQxAAAAAFI+bw/AP917R593zhl93vR808/jmen7Ms378cz29W6fb/t6t9v+va+dx7Tt70dtPp7Zfh6171Xt/a3NN632/m5f73Z+IQYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBv/Trh3kxpEDARAEgfn/l7mnhb0XYYWmxJrJiAcMik2yZScaAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEh53R7g3e29b4/wq9ZaR3/v9PM7Pd9ptfMy3fTzN/28WO8z09d7mvfzZ5u+v6dNPy+195Xzx3f4998s1stNvhADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIGXtvfftId7ZWuv2CL9q+nE5vR/T18syhol6AAAMt0lEQVRnm36ezffM9L8f099/9pdP4r7xHdP3Y/r7b/r5s7/P2F++wxdiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKS8bg/Az9p73x7hra21bo/w1mrn7/R5Of38ps93mufHTbXzN/3vpfs2y/TzfFptvadNX+/0/Z0+32n+HvEdvhADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIGXtvfftIfhjrXX0905vr/memT7fadPXe3q+02r7e1rt+U2/H/bjmdp9s95npt+3munnmWdq74Pp53n6+2/6/tb4QgwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAFEEMAAAAgBRBDAAAAIAUQQwAAACAlNftAd7dWuv2CG9t+vM7Pd/e++jvTZ/v9O/x2Wr347Tp653+vp++v6fV9ne66fsxfb6a2vvqtOnnz32bZfr7lGd8IQYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAytp779tD8Mda6/YIX3JcuOn0/Zh+nr0Pnpn+/Kazv8+cfn7W+9mm3zdmmX4/pr8Pps/HM7X99ffjGV+IAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJCy9t779hC8j7XW0d+bfvymr/f0fDXTz990zh/wL+/TZ/x745np56+2v7X94Jnp5/m06fejxhdiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKS8bg/Ae9l73x7hV1nvLGut2yN86fR8p/fDfHzH9Pt2Wu28TN9f74NZpr/va6Y/v9r9nT7fadPP3/T9qN2P6XwhBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAECKIAYAAABAiiAGAAAAQIogBgAAAEDK6/YA726tdXsE3sje+/YIXzp9nk+v9/TvTV/vaeabpXb+amr7699Dz/j79ozz94z9ncX9nWX6/2d4xhdiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKS8bg/Af+29b4/AX9Zat0fgL9P34/R8098HtfXWnN6P6ff3NOf5s00/z9Pvr/vxzOn9cJ5nqd2P6et1Xj6bL8QAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASBHEAAAAAEgRxAAAAABIEcQAAAAASHndHoCftda6PcKv2nvfHuGt1Z7f9PWevr+n11t7ftPVzsvp9dbOy3TTz8v0999p0/fjtOnrrZ2/6aaf5+lqz8/9ncUXYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkvG4PAMyx1ro9wpf23kd/b/p6T5u+3tP7yzO182K9n236++X0ftTOy/T9nT7fadPP83TT76/5+CS+EAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAgRRADAAAAIEUQAwAAACBFEAMAAAAg5XV7AID/a611e4Qv7b2P/t709dac3t/TTp+X6efZ/Ximtr/T7+/0/Ziutt7p58V9m6W23ulq9206X4gBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkCKIAQAAAJAiiAEAAACQIogBAAAAkPK6PQA/a+99ewTCTp+/tdbR35t+P6bPd3o/Tv/eadPnm37fpqvdt9M8v1mmvw+mn5fpaue5tt7ppr9fpvP+m8UXYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAAAAKQIYgAAAACkCGIAAAAApAhiAAA
[...]
