{"openapi":"3.0.1","info":{"title":"Onboarding.Proposal.Webservice","version":"v1.0.0"},"servers":[{"url":"https://sandbox.openfinance.celcoin.dev/onboarding/v1"},{"url":"https://api.openfinance.celcoin.com.br/onboarding/v1"}],"paths":{"/onboarding-proposal/files":{"get":{"tags":["Files"],"summary":"Busca um arquivo ou uma lista de arquivos.","parameters":[{"name":"ProposalId","in":"query","description":"Id da proposta a ser buscada.","schema":{"type":"string","description":"Id da proposta a ser buscada.","nullable":true,"example":"3257b215-bef9-402b-a779-104441b520b4"}},{"name":"ClientCode","in":"query","description":"ClientCode da proposta a ser buscada.","schema":{"type":"string","description":"ClientCode da proposta a ser buscada.","nullable":true,"example":"612f5412-0bd3-49b0-b136-981f0959d47e"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchFilesResponseSuccessResponse"}}}},"400":{"description":"Error handled by the application","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Access Denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Unknown error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/onboarding-proposal/legal-person":{"post":{"tags":["LegalPerson"],"summary":"Cria uma nova proposta de criação de conta Pessoa Jurídica.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegalPersonRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/LegalPersonRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/LegalPersonRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegalPersonResponseProcessingResponse"}}}},"400":{"description":"Error handled by the application","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Access Denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Unknown error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/onboarding-proposal/natural-person":{"post":{"tags":["NaturalPerson"],"summary":"Cria uma nova proposta de criação de conta Pessoa Física.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NaturalPersonRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/NaturalPersonRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/NaturalPersonRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NaturalPersonResponseProcessingResponse"}}}},"400":{"description":"Error handled by the application","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Access Denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Unknown error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/onboarding-proposal":{"get":{"tags":["Proposal"],"summary":"Busca uma proposta ou uma lista de propostas.","parameters":[{"name":"ProposalId","in":"query","description":"Id da proposta a ser buscada.","schema":{"type":"string","description":"Id da proposta a ser buscada.","nullable":true,"example":"3257b215-bef9-402b-a779-104441b520b4"}},{"name":"DateFrom","in":"query","description":"Data inicial.","schema":{"type":"string","description":"Data inicial.","format":"date-time","nullable":true,"example":"2023-11-03T09:30:00.0000000+00:00"}},{"name":"DateTo","in":"query","description":"Data final.","schema":{"type":"string","description":"Data final.","format":"date-time","nullable":true,"example":"2023-11-03T09:30:00.0000000+00:00"}},{"name":"Status","in":"query","description":"Status da proposta:\r\n- CREATED\r\n- PENDING\r\n- PENDING_DOCUMENTSCOPY\r\n- APPROVED\r\n- REPROVED","schema":{"type":"string","description":"Status da proposta:\r\n- CREATED\r\n- PENDING\r\n- PENDING_DOCUMENTSCOPY\r\n- APPROVED\r\n- REPROVED","nullable":true,"example":"PENDING"}},{"name":"DocumentNumber","in":"query","description":"Documento da proposta.","schema":{"maxLength":14,"minLength":11,"type":"string","description":"Documento da proposta.","nullable":true,"example":"12345678909"}},{"name":"Page","in":"query","description":"Pagina de solicitaçao, default: 1.","schema":{"type":"integer","description":"Pagina de solicitaçao, default: 1.","format":"int32","default":1}},{"name":"Limit","in":"query","description":"Limite geral da consulta.","schema":{"maximum":200,"minimum":1,"type":"integer","description":"Limite geral da consulta.","format":"int32","default":200}},{"name":"LimitPerPage","in":"query","description":"Total de propostas por pagina.","schema":{"maximum":200,"minimum":1,"type":"integer","description":"Total de propostas por pagina.","format":"int32","default":200}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchProposalResponseSuccessResponse"}}}},"400":{"description":"Error handled by the application","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Access Denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Unknown error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"BlobFile":{"type":"object","properties":{"type":{"type":"string","description":"Tipo do arquivo\r\n- CNH_FRONT,\r\n- CNH_BACK,\r\n- RG_FRONT,\r\n- RG_BACK,\r\n- RNE_FRONT,\r\n- RNE_BACK,\r\n- CONTRATO_SOCIAL,\r\n- DOCUMENTO_FINANCEIRO,\r\n- PROCURACAO_PODERES,\r\n- SELFIE","nullable":true},"url":{"type":"string","description":"URL para acessar o arquivo.","nullable":true},"expirationTime":{"type":"string","description":"Tempo de expiração da URL.","nullable":true}},"additionalProperties":false,"description":"Arquivo do Blob"},"SearchFilesResponse":{"type":"object","properties":{"files":{"type":"array","items":{"$ref":"#/components/schemas/BlobFile"},"nullable":true},"clientCode":{"type":"string","description":"Identificador único fornecido pelo cliente.","nullable":true,"example":"123abdgh-c11f-4c88-af6b-d227d88b5183"},"documentNumber":{"type":"string","description":"CPF ou CNPJ vinculado à proposta.","nullable":true,"example":"12345678909"},"proposalId":{"type":"string","description":"Identificador da proposta.","nullable":true,"example":"ab11113e-f123-4a7f-9010-99b064038038"}},"additionalProperties":false},"SearchFilesResponseSuccessResponse":{"type":"object","properties":{"version":{"type":"string","description":"Versão da api.","nullable":true,"example":"1.0.0"},"status":{"type":"string","description":"Status da solicitação.","nullable":true,"example":"SUCCESS"},"body":{"$ref":"#/components/schemas/SearchFilesResponse"}},"additionalProperties":false},"ResponseError":{"required":["errorCode","message"],"type":"object","properties":{"errorCode":{"type":"string","description":"Código de erro gerado pela Celcoin.","example":"OIE999"},"message":{"type":"string","description":"Mensagem de erro.","example":"Ocorreu um erro interno durante a chamada da api.."}},"additionalProperties":false},"ErrorResponse":{"type":"object","properties":{"version":{"type":"string","description":"Versão da api.","nullable":true,"example":"1.0.0"},"status":{"type":"string","description":"Status da solicitação.","nullable":true,"example":"SUCCESS"},"error":{"$ref":"#/components/schemas/ResponseError"}},"additionalProperties":false},"AddressRequest":{"required":["city","neighborhood","number","postalCode","state","street"],"type":"object","properties":{"postalCode":{"maxLength":8,"type":"string","description":"Número do CEP.","example":"12211400"},"street":{"maxLength":200,"type":"string","description":"Nome da rua.","example":"Rua da Liberdade"},"number":{"type":"string","description":"Número do endereço.","example":"313"},"addressComplement":{"type":"string","description":"Complemento do endereço.","nullable":true,"example":"Em frente ao parque."},"neighborhood":{"maxLength":200,"type":"string","description":"Nome do bairro.","example":"Casa Verde"},"city":{"maxLength":100,"type":"string","description":"Nome da Cidade.","example":"São Paulo"},"state":{"type":"string","description":"Sigla do Estado referente ao endereço informado.","example":"SP"}},"additionalProperties":false,"description":"Endereço."},"OwnerRequest":{"required":["address","birthDate","documentNumber","email","fullName","motherName","ownerType","phoneNumber"],"type":"object","properties":{"ownerType":{"type":"string","description":"Tipo de Owner:\r\n- REPRESENTANTE\r\n- SOCIO\r\n- DEMAIS SOCIOS","example":"REPRESENTANTE"},"documentNumber":{"maxLength":14,"minLength":11,"type":"string","description":"Número do CPF ou CNPJ do representante/sócio da empresa.","example":"33333333333"},"fullName":{"maxLength":120,"type":"string","description":"Nome completo do representante/sócio da empresa.","example":"Carlos Henrique da Silva"},"phoneNumber":{"maxLength":14,"type":"string","description":"Número telefone contato do representante/sócio da empresa.","example":"+5512981175554"},"email":{"maxLength":100,"type":"string","description":"E-mail do representante/sócio da empresa.","example":"email@email.com"},"motherName":{"type":"string","description":"Nome mãe do representante/sócio da empresa.","example":"Nome Sobrenome"},"socialName":{"type":"string","description":"Nome social do representante/sócio da empresa.","nullable":true,"example":"Nome"},"birthDate":{"type":"string","description":"Data de nascimento do representante/sócio da empresa.","example":"31-12-1984"},"address":{"$ref":"#/components/schemas/AddressRequest"},"isPoliticallyExposedPerson":{"type":"boolean","description":"Campo que identifica se o representante/sócio da empresa é uma pessoa politicamente exposta.","default":false,"example":false}},"additionalProperties":false,"description":"Representante/Sócio"},"LegalPersonRequest":{"required":["businessAddress","businessEmail","businessName","clientCode","contactNumber","documentNumber","onboardingType","owner","tradingName"],"type":"object","properties":{"clientCode":{"type":"string","description":"Identificador único fornecido pelo cliente. Esse valor não pode ser repetido.","example":"123456"},"contactNumber":{"maxLength":14,"type":"string","description":"Telefone para contato.","example":"+551239215555"},"documentNumber":{"maxLength":14,"minLength":14,"type":"string","description":"Número do CNPJ da conta.","example":"56461227000199"},"businessEmail":{"maxLength":100,"type":"string","description":"E-mail que será vinculado a conta.","example":"email@email.com"},"businessName":{"maxLength":350,"type":"string","description":"Nome da razão social da conta.","example":"IP Pagamentos"},"tradingName":{"maxLength":120,"type":"string","description":"Nome fantasia da conta.","example":"IPay"},"companyType":{"type":"string","description":"Tipo de empresa:\r\n- PJ\r\n- MEI\r\n- ME","default":"PJ","nullable":true,"example":"PJ"},"owner":{"type":"array","items":{"$ref":"#/components/schemas/OwnerRequest"}},"businessAddress":{"$ref":"#/components/schemas/AddressRequest"},"onboardingType":{"type":"string","description":"Tipo de Onboarding:\r\n- Se BAAS: Será criada uma proposta de pessoa jurídica para criar conta no BAAS","default":"BAAS","example":"BAAS"}},"additionalProperties":false},"LegalPersonResponse":{"type":"object","properties":{"proposalId":{"type":"string","description":"Identificador da proposta criada.","nullable":true,"example":"12334dfb-4c4e-43fb-ad93-fa28e3123473"},"clientCode":{"type":"string","description":"Identificador único fornecido pelo cliente.","nullable":true,"example":"1234ab7c-2855-436b-9d19-8abcdc198e984"},"documentNumber":{"type":"string","description":"CNPJ da proposta criada.","nullable":true,"example":"12345678900001"}},"additionalProperties":false},"LegalPersonResponseProcessingResponse":{"type":"object","properties":{"version":{"type":"string","description":"Versão da api.","nullable":true,"example":"1.0.0"},"status":{"type":"string","description":"Status da solicitação.","nullable":true,"example":"SUCCESS"},"body":{"$ref":"#/components/schemas/LegalPersonResponse"}},"additionalProperties":false},"NaturalPersonRequest":{"required":["address","birthDate","clientCode","documentNumber","email","fullName","motherName","onboardingType","phoneNumber"],"type":"object","properties":{"clientCode":{"type":"string","description":"Identificador único fornecido pelo cliente. Esse valor não pode ser repetido.","example":"123456"},"documentNumber":{"maxLength":11,"minLength":11,"type":"string","description":"Número do CPF da conta.","example":"33333333333"},"phoneNumber":{"maxLength":14,"type":"string","description":"Número telefone contato do titular da conta.","example":"+5512981175554"},"email":{"maxLength":100,"type":"string","description":"E-mail do titular da conta.","example":"email@email.com"},"motherName":{"type":"string","description":"Nome mãe do titular da conta.","example":"Nome Sobrenome"},"fullName":{"maxLength":120,"type":"string","description":"Nome completo do titular da conta.","example":"Nome Sobrenome"},"socialName":{"type":"string","description":"Nome social do titular da conta.","nullable":true,"example":"Carlos"},"birthDate":{"type":"string","description":"Data de nascimento do titular da conta.","example":"31-12-1984"},"address":{"$ref":"#/components/schemas/AddressRequest"},"isPoliticallyExposedPerson":{"type":"boolean","description":"Campo que identifica se o titular da conta é pessoa politicamente exposta.","default":false,"example":false},"onboardingType":{"type":"string","description":"Tipo de Onboarding:\r\n- Se BAAS: Sera criada uma proposta de pessoa física para criar conta no BAAS","default":"BAAS","example":"BAAS"}},"additionalProperties":false},"NaturalPersonResponse":{"type":"object","properties":{"proposalId":{"type":"string","description":"Identificador da proposta criada.","nullable":true,"example":"12334dfb-4c4e-43fb-ad93-fa28e3123473"},"clientCode":{"type":"string","description":"Identificador único fornecido pelo cliente.","nullable":true,"example":"1234ab7c-2855-436b-9d19-8abcdc198e984"},"documentNumber":{"type":"string","description":"CPF da proposta criada.","nullable":true,"example":"12345678900"}},"additionalProperties":false},"NaturalPersonResponseProcessingResponse":{"type":"object","properties":{"version":{"type":"string","description":"Versão da api.","nullable":true,"example":"1.0.0"},"status":{"type":"string","description":"Status da solicitação.","nullable":true,"example":"SUCCESS"},"body":{"$ref":"#/components/schemas/NaturalPersonResponse"}},"additionalProperties":false},"RejectedReasonResponse":{"type":"object","properties":{"errorCode":{"type":"string","description":"Código de erro referente à rejeição da proposta.","nullable":true},"message":{"type":"string","description":"Motivo da rejeição da proposta.","nullable":true}},"additionalProperties":false,"description":"Motivo pelo qual a proposta foi rejeitada."},"DocumentscopyResponse":{"type":"object","properties":{"proposalId":{"type":"string","description":"Identificador da proposta.","nullable":true,"example":"12334dfb-4c4e-43fb-ad93-fa28e3123473"},"documentNumber":{"type":"string","description":"CPF ou CNPJ da pessoa que teve o(s) documento(s) analisado(s).","nullable":true},"documentscopyId":{"type":"string","description":"Identificador único da documentoscopia.","nullable":true,"example":"12a1e9a958fab500088a8901"},"status":{"type":"string","description":"Status da documentoscopia:\r\n- CREATED\r\n- PENDING\r\n- APPROVED\r\n- REPROVED\r\n- PROCESSING","nullable":true,"example":"APPROVED"},"url":{"type":"string","description":"URL utilizada para o usuário encaminhar os seus documentos.","nullable":true},"createdAt":{"type":"string","description":"Data de criação da documentoscopia.","format":"date-time"},"updateAt":{"type":"string","description":"Data de atualização da documentoscopia.","format":"date-time","nullable":true}},"additionalProperties":false,"description":"Documentoscopia(s) retornada(s)."},"ProposalResponse":{"type":"object","properties":{"proposalId":{"type":"string","description":"Identificador da proposta.","nullable":true,"example":"12334dfb-4c4e-43fb-ad93-fa28e3123473"},"clientCode":{"type":"string","description":"Identificador único fornecido pelo cliente.","nullable":true,"example":"1234ab7c-2855-436b-9d19-8abcdc198e984"},"documentNumber":{"type":"string","description":"CPF ou CNPJ da proposta.","nullable":true},"status":{"type":"string","description":"Status da proposta:\r\n- CREATED\r\n- PENDING\r\n- PENDING_DOCUMENTSCOPY\r\n- APPROVED\r\n- REPPROVED\r\n- RESOURCE_CREATED\r\n- RESOURCE_ERROR\r\n- PROCESSING_DOCUMENTSCOPY","nullable":true},"proposalType":{"type":"string","description":"Tipo da proposta:\r\n- PF\r\n- PJ","nullable":true,"example":"PF"},"createdAt":{"type":"string","description":"Data de criação da proposta.","format":"date-time","nullable":true},"updatedAt":{"type":"string","description":"Data de atualização da proposta.","format":"date-time","nullable":true},"rejectedReason":{"$ref":"#/components/schemas/RejectedReasonResponse"},"documentscopys":{"type":"array","items":{"$ref":"#/components/schemas/DocumentscopyResponse"},"nullable":true}},"additionalProperties":false,"description":"Proposta(s) retornada(s)."},"SearchProposalResponse":{"type":"object","properties":{"limit":{"type":"integer","description":"Total de propostas.","format":"int32"},"currentPage":{"type":"integer","description":"Página atual.","format":"int32"},"limitPerPage":{"type":"integer","description":"Total de propostas por página.","format":"int32"},"totalPages":{"type":"integer","description":"Total de páginas retornadas.","format":"int32"},"proposal":{"type":"array","items":{"$ref":"#/components/schemas/ProposalResponse"},"nullable":true}},"additionalProperties":false},"SearchProposalResponseSuccessResponse":{"type":"object","properties":{"version":{"type":"string","description":"Versão da api.","nullable":true,"example":"1.0.0"},"status":{"type":"string","description":"Status da solicitação.","nullable":true,"example":"SUCCESS"},"body":{"$ref":"#/components/schemas/SearchProposalResponse"}},"additionalProperties":false}},"securitySchemes":{"Bearer":{"type":"apiKey","description":"[API V5] - Please enter into field the word 'Bearer' following by space and the access_token (JWT)","name":"Authorization","in":"header"}}},"security":[{"Bearer":[]}],"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}