{"openapi":"3.0.1","info":{"title":"OPEN BANKING","description":"Gateway de Transações OpenBanking","version":"1.0.0"},"servers":[{"url":"https://sandbox.openfinance.celcoin.dev"}],"paths":{"/brands":{"get":{"tags":["Marcas"],"summary":"Consultar marcas","description":"Retorna todas as marcas com escopo de pagamento.","parameters":[{"name":"cache","in":"query","description":"Determina se a consulta deve ser recuperada do cache.\r\n             Sua atualização ocorre a cada 7 dias corridos.","schema":{"type":"boolean","description":"Determina se a consulta deve ser recuperada do cache.\r\n             Sua atualização ocorre a cada 7 dias corridos.","default":true}}],"responses":{"200":{"description":"Retorna as instituições do Open Banking.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Celcoin_OpenBankingDoador_ClientAPI.Models.Content"}}}}},"401":{"description":"Usuário não autorizado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Celcoin_OpenBankingDoador_ClientAPI.Models.ErrorModel"}}}},"403":{"description":"Usuário não tem acesso ao produto."},"500":{"description":"Exceção não esperada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Celcoin_OpenBankingDoador_ClientAPI.Models.ErrorModel"}}}}}}},"/payment":{"post":{"tags":["Pagamentos"],"summary":"Realizar pagamento","description":"Cria o consentimento para realização do pagamento e retorna a URL de redirecionamento para a detentora de conta.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Celcoin_OpenBankingDoador_ClientAPI.Models.Payments.PreConsentPayment"}}}},"responses":{"200":{"description":"Retorna as estatísticas de fraude (caso seja informada uma chave PIX) e uma URL para realização da autenticação e confirmação na detentora de conta.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Celcoin_OpenBankingDoador_ClientAPI.Models.BaseResponse_1_Celcoin_OpenBankingDoador_ClientAPI.Models.PaymentConsentResponse_"}}}},"401":{"description":"Usuário não autorizado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Celcoin_OpenBankingDoador_ClientAPI.Models.ErrorModel"}}}},"500":{"description":"Exceção não esperada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Celcoin_OpenBankingDoador_ClientAPI.Models.ErrorModel"}}}}}}},"/debtor-payment-types":{"post":{"tags":["Pagamentos"],"summary":"Consultar tipos de pagamento","description":"Retorna os tipos de pagamentos aceitos pela instituição selecionada pelo usuário iniciador da transação.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Celcoin_OpenBankingDoador_ClientAPI.Models.Payments.PaymentTypeDetentorRequest"}}}},"responses":{"200":{"description":"Retorna os tipos de pagamento aceitos pela organização detentora.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Celcoin_OpenBankingDoador_ClientAPI.Models.Payments.PaymentTypeResponse"}}}},"401":{"description":"Usuário não autorizado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Celcoin_OpenBankingDoador_ClientAPI.Models.ErrorModel"}}}},"500":{"description":"Exceção não esperada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Celcoin_OpenBankingDoador_ClientAPI.Models.ErrorModel"}}}}}}}},"components":{"schemas":{"Celcoin_OpenBankingDoador_ClientAPI.Models.Brand.BrandType":{"enum":["BOTH","DATA","PAYMENT"],"type":"string"},"Celcoin_OpenBankingDoador_ClientAPI.Models.AuthorisationServer.ApiDiscoveryEndpoint":{"type":"object","properties":{"apiDiscoveryId":{"type":"string","description":"Id do endpoint de discovery.","nullable":true},"apiEndpoint":{"type":"string","description":"Endpoint de discovery.","nullable":true}},"additionalProperties":false},"Celcoin_OpenBankingDoador_ClientAPI.Models.AuthorisationServer.ApiResource":{"type":"object","properties":{"apiResourceId":{"type":"string","description":"Id do recurso da API.","nullable":true},"apiFamilyType":{"type":"string","description":"Tipagem da API.","nullable":true},"apiVersion":{"type":"string","description":"Versão da API.","nullable":true},"apiDiscoveryEndpoints":{"type":"array","items":{"$ref":"#/components/schemas/Celcoin_OpenBankingDoador_ClientAPI.Models.AuthorisationServer.ApiDiscoveryEndpoint"},"nullable":true}},"additionalProperties":false},"Celcoin_OpenBankingDoador_ClientAPI.Models.AuthorisationServer.AuthorisationServerData":{"type":"object","properties":{"brandId":{"type":"string","description":"Identificador da marca selecionada pelo usuário iniciador da transação.","nullable":true,"example":"7de48a55-f9d0-4ff5-b684-9e0b5396f96f"},"organisationId":{"type":"string","description":"Identificador da organização associada à marca selecionada pelo usuário iniciador da transação.","nullable":true,"example":"a72a6d4f-79be-5362-afb6-f8d9c9c39cf5"},"autoRegistrationSupported":{"type":"boolean","description":"Verdadeiro - auto registro suportado.\r\nFalso - auto registro NÃO suportado."},"apiResources":{"type":"array","items":{"$ref":"#/components/schemas/Celcoin_OpenBankingDoador_ClientAPI.Models.AuthorisationServer.ApiResource"},"description":"Endpoints de recursos disponibilizados para a marca.","nullable":true},"customerFriendlyDescription":{"type":"string","description":"Descrição disponibilizada pela marca para exibição ao cliente.","nullable":true,"example":"Breve descrição da marca"},"customerFriendlyLogoUri":{"type":"string","description":"Logo disponibilizada pela marca para exibição ao cliente.","nullable":true,"example":"https://www.instituicao.com.br/naoseaplica.png"},"customerFriendlyName":{"type":"string","description":"Nome Fantasia da marca.","nullable":true,"example":"MARCA DA INSTITUIÇÃO"},"developerPortalUri":{"type":"string","description":"Uri do portal de desenvolvedor.","nullable":true},"termsOfServiceUri":{"type":"string","description":"Uri dos termos de serviço.","nullable":true},"notificationWebhook":{"type":"string","description":"Webhook de notificação.","nullable":true},"notificationWebhookStatus":{"type":"string","description":"Status do webhook de notificação.","nullable":true},"openIDDiscoveryDocument":{"type":"string","description":"Uri do documento de discovery OpenID.","nullable":true},"payloadSigningCertLocationUri":{"type":"string","description":"Uri do certificado de assinatura.","nullable":true},"parentBrandId":{"type":"string","description":"Identificador da marca matriz selecionada pelo usuário iniciador da transação.","nullable":true}},"additionalProperties":false,"description":"Objeto de dados de um servidor de autorização."},"Celcoin_OpenBankingDoador_ClientAPI.Models.Content":{"type":"object","properties":{"organisationId":{"type":"string","description":"Identificador da organização associada à marca selecionada pelo usuário iniciador da transação.","nullable":true},"status":{"type":"string","description":"Status do diretorio da instituição.","nullable":true},"organisationName":{"type":"string","description":"Nome da instituição.","nullable":true},"createdOn":{"type":"string","description":"Data de criação.","nullable":true},"legalEntityName":{"type":"string","description":"Nome legal da instituição.","nullable":true},"countryOfRegistration":{"type":"string","description":"País de registro.","nullable":true},"companyRegister":{"type":"string","description":"Registro da companhia.","nullable":true},"registrationNumber":{"type":"string","description":"Numero do registro.","nullable":true},"registrationId":{"type":"string","description":"Id do registro.","nullable":true},"registeredName":{"type":"string","description":"Nome do registro.","nullable":true},"addressLine1":{"type":"string","description":"Endereço 1.","nullable":true},"addressLine2":{"type":"string","description":"Endereço 2.","nullable":true},"city":{"type":"string","description":"Cidade.","nullable":true},"postcode":{"type":"string","description":"Código postal.","nullable":true},"country":{"type":"string","description":"País.","nullable":true},"parentOrganisationReference":{"type":"string","description":"Organização matriz.","nullable":true},"requiresParticipantTermsAndConditionsSigning":{"type":"boolean","description":"Verdadeiro - essa organização requer que os termos e condições sejam assinados.\r\nFalso - essa organização NÃO requer que os termos e condições sejam assinados."},"authorisationServers":{"type":"array","items":{"$ref":"#/components/schemas/Celcoin_OpenBankingDoador_ClientAPI.Models.AuthorisationServer.AuthorisationServerData"},"nullable":true}},"additionalProperties":false},"Celcoin_OpenBankingDoador_ClientAPI.Models.ErrorModel":{"type":"object","properties":{"errorCode":{"type":"integer","description":"Código do erro","format":"int32"},"errorMessage":{"type":"string","description":"Descrição do erro","nullable":true}},"additionalProperties":false},"Celcoin_OpenBankingDoador_ClientAPI.Enums.PaymentAccountTypeCreditor":{"enum":["CACC","SLRY","SVGS","TRAN"],"type":"string","description":"Tipo de conta do beneficiário.\r\nOs possíveis tipos são:\r\n1. CACC - Conta Corrente;\r\n2. SLRY - Conta-Salário;\r\n3. SVGS - Conta de Poupança; e\r\n4. TRAN - Conta de Pagamento pré-paga."},"Celcoin_OpenBankingDoador_ClientAPI.Enums.PaymentPersonType":{"enum":["PESSOA_NATURAL","PESSOA_JURIDICA"],"type":"string","description":"Especifica se o beneficiário é pessoa física (NATURAL_PERSON) ou jurídica (LEGAL_PERSON)."},"Celcoin_OpenBankingDoador_ClientAPI.Enums.PixType":{"enum":["MANU","DICT","QRDN","QRES"],"type":"string","description":"Tipos de pix.\r\nOs possíveis tipos são:\r\n1. MANU - Inserção manual de dados da conta transacional;\r\n2. DICT - Inserção manual de chave Pix;\r\n3. QRDN - QR code dinâmico; e\r\n4. QRES - QR code estático."},"Celcoin_OpenBankingDoador_ClientAPI.Models.Payments.PreConsentPayment":{"required":["amount","brandId","documentCpf","organisationId","payerName","redirectUrl"],"type":"object","properties":{"organisationId":{"type":"string","description":"Identificador da organização associada à marca selecionada pelo usuário iniciador da transação.","example":"a3280c20-efe2-5634-907f-6ef2a42d2a7d"},"brandId":{"type":"string","description":"Identificador da marca selecionada pelo usuário iniciador da transação.","example":"b397dd9c-62b2-4632-bce7-85f56666c083"},"redirectUrl":{"type":"string","description":"Destino para o qual o usuário iniciador da transação será redirecionado após retornar da detentora de conta.","example":"https://www.instituicao.com.br/"},"amount":{"type":"string","description":"Montante a ser debitado da conta do usuário iniciador da transação.","example":"0.01"},"payerName":{"type":"string","description":"Nome do usuário iniciador da transação.","example":"Maria"},"documentCpf":{"type":"string","description":"Número do documento Cpf do usuário iniciador da transação.","example":"85899072016"},"creditorPixKey":{"type":"string","description":"Chave pix do beneficiário.","nullable":true},"externalNSU":{"type":"integer","description":"Número Sequencial Único. Utilize-o para relacionar a transação de pagamento às suas operações internas.","format":"int32"},"externalTerminal":{"type":"string","description":"Outro identificador que pode ser utilizado para relacionar a transação de pagamento às suas operações internas.","nullable":true},"qrCode":{"type":"string","description":"QrCode de pagamento.","nullable":true},"pixType":{"$ref":"#/components/schemas/Celcoin_OpenBankingDoador_ClientAPI.Enums.PixType"},"txId":{"type":"string","description":"Id da transacao","nullable":true},"documentCnpj":{"type":"string","description":"Número do documento CNPJ do usuário iniciador da transação. Em casode transação de conta juridica.","nullable":true}},"additionalProperties":false},"Celcoin_OpenBankingDoador_ClientAPI.Models.PaymentConsentResponse":{"type":"object","properties":{"urlAuthorize":{"type":"string","description":"Url de autorização para realizar o pagamento.","nullable":true}},"additionalProperties":false},"Celcoin_OpenBankingDoador_ClientAPI.Models.BaseResponse_1_Celcoin_OpenBankingDoador_ClientAPI.Models.PaymentConsentResponse_":{"type":"object","properties":{"version":{"type":"string","description":"Versão da aplicação.","nullable":true,"readOnly":true},"body":{"$ref":"#/components/schemas/Celcoin_OpenBankingDoador_ClientAPI.Models.PaymentConsentResponse"}},"additionalProperties":false},"Celcoin_OpenBankingDoador_ClientAPI.Models.Payments.PaymentTypeDetentorRequest":{"required":["brandId","organisationId"],"type":"object","properties":{"organisationId":{"type":"string","description":"Identificador da organização associada à marca selecionada pelo usuário iniciador da transação.","example":"a72a6d4f-79be-5362-afb6-f8d9c9c39cf5"},"brandId":{"type":"string","description":"Identificador da marca selecionada pelo usuário iniciador da transação.","example":"7de48a55-f9d0-4ff5-b684-9e0b5396f96f"}},"additionalProperties":false},"Celcoin_OpenBankingDoador_ClientAPI.Models.Payments.PaymentTypeResponse":{"type":"object","properties":{"paymentTypes":{"type":"array","items":{"type":"string"},"description":"Tipos de pagamento.","nullable":true}},"additionalProperties":false}},"securitySchemes":{"Bearer":{"type":"apiKey","description":"Digite 'Bearer' seguida de seu token.","name":"Authorization","in":"header"}}},"security":[{"Bearer":[]}],"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}