{"openapi":"3.1.0","info":{"title":"BaaS Transactions","version":"2.0.0"},"servers":[{"url":"https://sandbox.openfinance.celcoin.dev/baas-wallet-transactions-webservice/v1"}],"components":{"securitySchemes":{"sec0":{"type":"oauth2","flows":{}}}},"security":[{"sec0":[]}],"paths":{"/pix/payment":{"post":{"summary":"Pix Cashout","description":"Confira nosso tutorial -> https://developers.celcoin.com.br/docs/pix-cash-out-pagamento","operationId":"realizar-transferência-pix","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["amount","clientCode"],"properties":{"amount":{"type":"number","description":"Valor da transação.","format":"double"},"clientCode":{"type":"string","description":"Código do Cliente"},"transactionIdentification":{"type":"string","description":"Identificador único retornado durante a leitura do BRCode."},"endToEndId":{"type":"string","description":"Identificador ponta-a-ponta associado ao pagamento."},"initiationType":{"type":"string","description":"Tipo de iniciação do pagamento"},"paymentType":{"type":"string","description":"Tipo de pagamento"},"urgency":{"type":"string","description":"Determina a urgência do pagamento"},"transactionType":{"type":"string","description":"Tipo da transação Pix"},"debitParty":{"type":"object","required":["account"],"properties":{"account":{"type":"string","description":"Número da conta de origem"}}},"creditParty":{"type":"object","required":["bank","account","branch","taxId","name","accountType"],"properties":{"bank":{"type":"string","description":"Identificador do Banco de destino (ISPB)"},"key":{"type":"string","description":"Chave Pix."},"account":{"type":"string","description":"Número da Conta de destino (Quem irá receber)."},"branch":{"type":"string","description":"Número da agência de destino."},"taxId":{"type":"string","description":"Número do documento (CPF ou CNPJ) da conta de destino."},"name":{"type":"string","description":"Nome da conta de destino"},"accountType":{"type":"string","description":"Tipo de Conta Pix."}}},"remittanceInformation":{"type":"string","description":"Texto a ser informado na transação."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"PROCESSING\",\n  \"version\": \"1.0.0\",\n  \"body\": {\n    \"id\": \"34fee7bc-4d40-4605-9af8-398ed7d0d6b5\",\n    \"amount\": 0,\n    \"clientCode\": \"1458854\",\n    \"transactionIdentification\": \"dc8cf02b81b54bd59323453b207e704a\",\n    \"endToEndId\": \"E3030629420200808185300887639654\",\n    \"initiationType\": \"MANUAL\",\n    \"paymentType\": \"IMMEDIATE\",\n    \"urgency\": \"HIGH\",\n    \"transactionType\": \"TRANSFER\",\n    \"debitParty\": {\n      \"account\": \"444444\",\n      \"branch\": \"1\",\n      \"taxId\": \"11122233344\",\n      \"name\": \"Celcoin\",\n      \"accountType\": \"CACC\"\n    },\n    \"creditParty\": {\n      \"bank\": \"30306294\",\n      \"key\": \"5244f4e-15ff-413d-808d-7837652ebdc2\",\n      \"account\": \"10545584\",\n      \"branch\": \"1\",\n      \"taxId\": \"11122233344\",\n      \"name\": \"Celcoin\",\n      \"accountType\": \"CACC\"\n    },\n    \"remittanceInformation\": \"Texto de mensagem\"\n  }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"PROCESSING"},"version":{"type":"string","example":"1.0.0"},"body":{"type":"object","properties":{"id":{"type":"string","example":"34fee7bc-4d40-4605-9af8-398ed7d0d6b5"},"amount":{"type":"integer","example":0,"default":0},"clientCode":{"type":"string","example":"1458854"},"transactionIdentification":{"type":"string","example":"dc8cf02b81b54bd59323453b207e704a"},"endToEndId":{"type":"string","example":"E3030629420200808185300887639654"},"initiationType":{"type":"string","example":"MANUAL"},"paymentType":{"type":"string","example":"IMMEDIATE"},"urgency":{"type":"string","example":"HIGH"},"transactionType":{"type":"string","example":"TRANSFER"},"debitParty":{"type":"object","properties":{"account":{"type":"string","example":"444444"},"branch":{"type":"string","example":"1"},"taxId":{"type":"string","example":"11122233344"},"name":{"type":"string","example":"Celcoin"},"accountType":{"type":"string","example":"CACC"}}},"creditParty":{"type":"object","properties":{"bank":{"type":"string","example":"30306294"},"key":{"type":"string","example":"5244f4e-15ff-413d-808d-7837652ebdc2"},"account":{"type":"string","example":"10545584"},"branch":{"type":"string","example":"1"},"taxId":{"type":"string","example":"11122233344"},"name":{"type":"string","example":"Celcoin"},"accountType":{"type":"string","example":"CACC"}}},"remittanceInformation":{"type":"string","example":"Texto de mensagem"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"504":{"description":"504","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}}},"deprecated":false}},"/pix/participant":{"get":{"summary":"Participantes PIX","description":"Confira nosso tutorial -> https://developers.celcoin.com.br/docs/sobre-o-pix","operationId":"participantes-pix","parameters":[{"name":"ISPB","in":"query","description":"Identificador do Participante Pix (ISPB - Identificador de Sistema de Pagamentos Brasileiro).","schema":{"type":"string"}},{"name":"Name","in":"query","description":"Nome do participante Pix.","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"[\n    {\n        \"date\": \"2022-03-23T00:00:00\",\n        \"type\": \"IDRT\",\n        \"name\": \"COOPERATIVA CENTRAL DE CRÉDITO DE MINAS GERAIS LTDA. - SICOOB CENTRAL CREDIMINAS\",\n        \"startOperationDatetime\": \"2020-11-03T09:30:00+00:00\",\n        \"ispb\": \"25683434\"\n    },\n    {\n        \"date\": \"2022-03-23T00:00:00\",\n        \"type\": \"IDRT\",\n        \"name\": \"COOPERATIVA DE CRÉDITO MÚTUO SERRA MAR LTDA. - UNICRED SERRA MAR\",\n        \"startOperationDatetime\": \"2020-11-03T09:30:00+00:00\",\n        \"ispb\": \"86803939\"\n    },\n    {\n        \"date\": \"2022-03-23T00:00:00\",\n        \"type\": \"IDRT\",\n        \"name\": \"COOPERATIVA DE CRÉDITO UNICRED CENTRO-SUL LTDA - UNICRED CENTRO-SUL\",\n        \"startOperationDatetime\": \"2020-11-03T09:30:00+00:00\",\n        \"ispb\": \"00075847\"\n    },\n    {\n        \"date\": \"2022-03-23T00:00:00\",\n        \"type\": \"DRCT\",\n        \"name\": \"NU PAGAMENTOS S.A. - INSTITUIÇÃO DE PAGAMENTO\",\n        \"startOperationDatetime\": \"2020-11-03T09:30:00+00:00\",\n        \"ispb\": \"18236120\"\n    },\n    {\n        \"date\": \"2022-03-23T00:00:00\",\n        \"type\": \"IDRT\",\n        \"name\": \"COOPERATIVA DE CREDITO, POUPANÇA E INVESTIMENTO ALIANÇA - SICREDI ALIANÇA PR/SP\",\n        \"startOperationDatetime\": \"2020-11-03T09:30:00+00:00\",\n        \"ispb\": \"79052122\"\n    },\n    {\n        \"date\": \"2022-03-23T00:00:00\",\n        \"type\": \"IDRT\",\n        \"name\": \"COOPERATIVA DE CRÉDITO RURAL COM INTERAÇÃO SOLIDÁRIA DE POUSO REDONDO - CRESOL POUSO REDONDO\",\n        \"startOperationDatetime\": \"2020-11-03T09:30:00+00:00\",\n        \"ispb\": \"10453077\"\n    },\n    {\n        \"date\": \"2022-03-23T00:00:00\",\n        \"type\": \"IDRT\",\n        \"name\": \"COOPERATIVA DE CRÉDITO DE LIVRE ADMISSÃO DE CARMO DO RIO CLARO LTDA - SICOOB CREDICARMO\",\n        \"startOperationDatetime\": \"2020-11-03T09:30:00+00:00\",\n        \"ispb\": \"25743311\"\n    },\n    {\n        \"date\": \"2022-03-23T00:00:00\",\n        \"type\": \"IDRT\",\n        \"name\": \"COOPERATIVA DE ECONOMIA E CREDITO MÚTUO DOS MÉDICOS DO PLANALTO MÉDIO DO RIO GRANDE DO SUL LTDA - CREDIPLAN\",\n        \"startOperationDatetime\": \"2021-10-04T12:53:10.567+00:00\",\n        \"ispb\": \"97259253\"\n    },\n    {\n        \"date\": \"2022-03-23T00:00:00\",\n        \"type\": \"IDRT\",\n        \"name\": \"COOPERATIVA DE CRÉDITO ALIANÇA RS/SC/ES - SICREDI ALIANÇA RS/SC/ES\",\n        \"startOperationDatetime\": \"2020-11-03T09:30:00+00:00\",\n        \"ispb\": \"87795639\"\n    },\n    {\n        \"date\": \"2022-03-23T00:00:00\",\n        \"type\": \"IDRT\",\n        \"name\": \"CHRISTIAN FAMILY BANK S/A\",\n        \"startOperationDatetime\": \"2022-01-17T23:14:56.781+00:00\",\n        \"ispb\": \"38406148\"\n    },\n    {\n        \"date\": \"2022-03-23T00:00:00\",\n        \"type\": \"IDRT\",\n        \"name\": \"COOPERATIVA DE CRÉDITO DE LIVRE ADMISSÃO DE ASSOCIADOS DO MEIO OESTE CATARINENSE - SICOOB CREDIMOC SC\",\n        \"startOperationDatetime\": \"2020-11-03T09:30:00+00:00\",\n        \"ispb\": \"80959638\"\n    },\n    {\n        \"date\": \"2022-03-23T00:00:00\",\n        \"type\": \"IDRT\",\n        \"name\": \"COOPERATIVA DE CRÉDITO UNICRED UNIÃO LTDA - UNICRED UNIÃO\",\n        \"startOperationDatetime\": \"2020-11-03T09:30:00+00:00\",\n        \"ispb\": \"74114042\"\n    },\n    {\n        \"date\": \"2022-03-23T00:00:00\",\n        \"type\": \"IDRT\",\n        \"name\": \"PAGUEVELOZ INSTITUIÇÃO DE PAGAMENTO LTDA\",\n        \"startOperationDatetime\": \"2020-11-03T09:30:00+00:00\",\n        \"ispb\": \"03816413\"\n    },\n    {\n        \"date\": \"2022-03-23T00:00:00\",\n        \"type\": \"IDRT\",\n        \"name\": \"COOPERATIVA DE CRÉDITO DE LIVRE ADMISSÃO CENTRO BRASILEIRA LTDA.\",\n        \"startOperationDatetime\": \"2020-11-03T09:30:00+00:00\",\n        \"ispb\": \"37395399\"\n    },\n    {\n        \"date\": \"2022-03-23T00:00:00\",\n        \"type\": \"IDRT\",\n        \"name\": \"COOPERATIVA ECONOMIA CRÉDITO MÚTUO SERVS E EMPREGADOS PÚBLICOS MUNIC DE BELO HORIZONTE BETIM BRUMADINHO CONTAGEM IBIRITÉ NOVA LIMA RIBEIRÃO DAS NEVES SABARÁ SANTA LUZIA E VESPASIANO SICOOB CREDISERV\",\n        \"startOperationDatetime\": \"2020-11-03T09:30:00+00:00\",\n        \"ispb\": \"01864151\"\n    },\n    {\n        \"date\": \"2022-03-23T00:00:00\",\n        \"type\": \"DRCT\",\n        \"name\": \"CAIXA ECONOMICA FEDERAL\",\n        \"startOperationDatetime\": \"2020-11-03T09:30:00+00:00\",\n        \"ispb\": \"00360305\"\n    },\n    {\n        \"date\": \"2022-03-23T00:00:00\",\n        \"type\": \"IDRT\",\n        \"name\": \"COOPERATIVA DE CRÉDITO LITORÂNEA\",\n        \"startOperationDatetime\": \"2020-11-03T09:30:00+00:00\",\n        \"ispb\": \"85291086\"\n    },\n    {\n        \"date\": \"2022-03-23T00:00:00\",\n        \"type\": \"IDRT\",\n        \"name\": \"COOPERATIVA DE CRÉDITO DA AMAZÔNIA - SICOOB AMAZÔNIA\",\n        \"startOperationDatetime\": \"2020-11-03T09:30:00+00:00\",\n        \"ispb\": \"05203605\"\n    },\n    {\n        \"date\": \"2022-03-23T00:00:00\",\n        \"type\": \"IDRT\",\n        \"name\": \"COOPERATIVA DE CRÉDITO DE LIVRE ADMISSÃO TRÊS FRONTEIRAS - SICOOB TRÊS FRONTEIRAS\",\n        \"startOperationDatetime\": \"2020-11-03T09:30:00+00:00\",\n        \"ispb\": \"04876393\"\n    },\n    {\n        \"date\": \"2022-03-23T00:00:00\",\n        \"type\": \"IDRT\",\n        \"name\": \"SICOOB CREDIMED - COOPERATIVA DE CRÉDITO DE LIVRE ADMISSÃO DA CIDADE DE UBERABA LTDA.\",\n        \"startOperationDatetime\": \"2020-11-03T09:30:00+00:00\",\n        \"ispb\": \"71336432\"\n    },\n    {\n        \"date\": \"2022-03-23T00:00:00\",\n        \"type\": \"IDRT\",\n        \"name\": \"COOPERATIVA DE CRÉDITO HORIZONTE - SICOOB HORIZONTE\",\n        \"startOperationDatetime\": \"2020-11-03T09:30:00+00:00\",\n        \"ispb\": \"07194313\"\n    },\n    {\n        \"date\": \"2022-03-23T00:00:00\",\n        \"type\": \"IDRT\",\n        \"name\": \"COOPERATIVA DE ECONOMIA E CRÉDITO MÚTUO UNICRED PONTO CAPITAL - UNICRED PONTO CAPITAL.\",\n        \"startOperationDatetime\": \"2020-11-03T09:30:00+00:00\",\n        \"ispb\": \"02641032\"\n    },\n    {\n        \"date\": \"2022-03-23T00:00:00\",\n        \"type\": \"IDRT\",\n        \"name\": \"CENTRAL DAS COOPERATIVAS DE ECONOMIA E CRÉDITO DO PLANALTO CENTRAL LTDA - SICOOB PLANALTO CENTRAL\",\n        \"startOperationDatetime\": \"2020-11-03T09:30:00+00:00\",\n        \"ispb\": \"00692214\"\n    },\n    {\n        \"date\": \"2022-03-23T00:00:00\",\n        \"type\": \"IDRT\",\n        \"name\": \"COOPERATIVA DE CRÉDITO DE LIVRE ADMISSÃO DO SUDOESTE GOIANO\",\n        \"startOperationDatetime\": \"2020-11-03T09:30:00+00:00\",\n        \"ispb\": \"24795049\"\n    },\n    {\n        \"date\": \"2022-03-23T00:00:00\",\n        \"type\": \"IDRT\",\n        \"name\": \"COOPERATIVA DE CRÉDITO UNIÃO CENTRO OESTE LTDA. - SICOOB UNIÃO CENTRO OESTE\",\n        \"startOperationDatetime\": \"2020-11-03T09:30:00+00:00\",\n        \"ispb\": \"26072728\"\n    },\n    {\n        \"date\": \"2022-03-23T00:00:00\",\n        \"type\": \"IDRT\",\n        \"name\": \"UNICRED REGIONAL NORTE LAGOS - COOPERATIVA DE ECONOMIA E CRÉDITO MÚTUO REGIONAL NORTE LAGOS LTDA\",\n        \"startOperationDatetime\": \"2020-11-03T09:30:00+00:00\",\n        \"ispb\": \"04445917\"\n    },\n    {\n        \"date\": \"2022-03-23T00:00:00\",\n        \"type\": \"IDRT\",\n        \"name\": \"COOPERATIVA DE CRÉDITO RURAL COM INTERAÇÃO SOLIDÁRIA MEIO OESTE - CRESOL MEIO OESTE\",\n        \"startOperationDatetime\": \"2020-11-03T09:30:00+00:00\",\n        \"ispb\": \"07946451\"\n    },\n    {\n        \"date\": \"2022-03-23T00:00:00\",\n        \"type\": \"IDRT\",\n        \"name\": \"COOPERATIVA DE CRÉDITO, POUPANÇA E INVESTIMENTO DOS PROFISSIONAIS MÉDICOS E DA SAÚDE DE CURITIBA E REGIÃO METROPOLITANA - SICREDI MEDICRED PR\",\n        \"startOperationDatetime\": \"2020-11-03T09:30:00+00:00\",\n        \"ispb\": \"02924977\"\n    },\n    {\n        \"date\": \"2022-03-23T00:00:00\",\n        \"type\": \"IDRT\",\n        \"name\": \"COOPERATIVA DE CRéDITO MúTUO DOS PROFISSIONAIS DA SAúDE E LIVRE ADMISSãO DE TEóFILO OTONI LTDA. - UNICRED TRêS VALES\",\n        \"startOperationDatetime\": \"2020-11-03T09:30:00+00:00\",\n        \"ispb\": \"01709266\"\n    },\n    {\n        \"date\": \"2022-03-23T00:00:00\",\n        \"type\": \"DRCT\",\n        \"name\": \"BANCO SAFRA S.A.\",\n        \"startOperationDatetime\": \"2020-11-03T09:30:00+00:00\",\n        \"ispb\": \"58160789\"\n    },\n    {\n        \"date\": \"2022-03-23T00:00:00\",\n        \"type\": \"IDRT\",\n        \"name\": \"COOPERATIVA DE CRÉDITO, POUPANÇA E INVESTIMENTO VALE DO CERRADO - SICREDI VALE DO CERRADO\",\n        \"startOperationDatetime\": \"2020-11-03T09:30:00+00:00\",\n        \"ispb\": \"32983165\"\n    },\n    {\n        \"date\": \"2022-03-23T00:00:00\",\n        \"type\": \"DRCT\",\n        \"name\": \"REALIZE CRÉDITO, FINANCIAMENTO E INVESTIMENTO S.A.\",\n        \"startOperationDatetime\": \"2021-04-14T15:00:00+00:00\",\n        \"ispb\": \"27351731\"\n    },\n    {\n        \"date\": \"2022-03-23T00:00:00\",\n        \"type\": \"IDRT\",\n        \"name\": \"COOPERATIVA DE CRÉDITO CREDILUZ LTDA. - SICOOB CREDILUZ\",\n        \"startOperationDatetime\": \"2020-11-03T09:30:00+00:00\",\n        \"ispb\": \"25536764\"\n    },\n    {\n        \"date\": \"2022-03-23T00:00:00\",\n        \"type\": \"IDRT\",\n        \"name\": \"COOPERATIVA DE CRÉDITO, POUPANÇA E INVESTIMENTO DE CAMPO GRANDE E REGIÃO - SICREDI CAMPO GRANDE MS\",\n        \"startOperationDatetime\": \"2020-11-03T09:30:00+00:00\",\n        \"ispb\": \"03042597\"\n    },\n    {\n        \"date\": \"2022-03-23T00:00:00\",\n        \"type\": \"IDRT\",\n        \"name\": \"COOPERATIVA DE CRÉDITO, POUPANÇA E INVESTIMENTO VALE DO JAGUARI E ZONA DA MATA - SICREDI VALE DO JAGUARI E ZONA DA MATA RS/MG\",\n        \"startOperationDatetime\": \"2020-11-03T09:30:00+00:00\",\n        \"ispb\": \"87780284\"\n    },\n    {\n        \"date\": \"2022-03-23T00:00:00\",\n        \"type\": \"IDRT\",\n        \"name\": \"MAG INSTITUICAO DE PAGAMENTO LTDA\",\n        \"startOperationDatetime\": \"2021-02-23T22:27:38.081+00:00\",\n        \"ispb\": \"21995256\"\n    },\n    {\n        \"date\": \"2022-03-23T00:00:00\",\n        \"type\": \"IDRT\",\n        \"name\": \"COOPERATIVA DE CRÉDITO DE LIVRE ADMISSÃO DO VALE DO ARAGUAIA LTDA.\",\n        \"startOperationDatetime\": \"2020-11-03T09:30:00+00:00\",\n        \"ispb\": \"24830879\"\n    },\n    {\n        \"date\": \"2022-03-23T00:00:00\",\n        \"type\": \"DRCT\",\n        \"name\": \"PÓLOCRED SOCIEDADE DE CRÉDITO AO MICROEMPREENDEDOR E À EMPRESA DE PEQUENO PORTE LTDA.\",\n        \"startOperationDatetime\": \"2020-11-03T09:30:00+00:00\",\n        \"ispb\": \"07945233\"\n    },\n    {\n        \"date\": \"2022-03-23T00:00:00\",\n        \"type\": \"IDRT\",\n        \"name\": \"COOPERATIVA DE CRÉDITO DE LIVRE ADMISSÃO DO TOCANTINS LTDA\",\n        \"startOperationDatetime\": \"2020-11-03T09:30:00+00:00\",\n        \"ispb\": \"26960328\"\n    }\n  ]\n  "}},"schema":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string","example":"2022-03-23T00:00:00"},"type":{"type":"string","example":"IDRT"},"name":{"type":"string","example":"COOPERATIVA CENTRAL DE CRÉDITO DE MINAS GERAIS LTDA. - SICOOB CENTRAL CREDIMINAS"},"startOperationDatetime":{"type":"string","example":"2020-11-03T09:30:00+00:00"},"ispb":{"type":"string","example":"25683434"}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}}},"deprecated":false}},"/pix/payment/status":{"get":{"summary":"Verificar Status do PIX","description":"Confira nosso tutorial -> https://developers.celcoin.com.br/docs/verifica-o-status-de-uma-transa%C3%A7%C3%A3o-pix","operationId":"verificar-status-do-pix","parameters":[{"name":"id","in":"query","description":"Identificador da transação retornado na requisição de payment.","schema":{"type":"string"}},{"name":"clientCode","in":"query","description":"Identificador único gerado pelo cliente.","schema":{"type":"string"}},{"name":"endToEndId","in":"query","description":"Identificador ponta-a-ponta associado ao pagamento.","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"CONFIRMED\",\n  \"version\": \"1.0.0\",\n  \"body\": {\n    \"id\": \"34fee7bc-4d40-4605-9af8-398ed7d0d6b5\",\n    \"amount\": 25.55,\n    \"clientCode\": \"1458854\",\n    \"transactionIdentification\": \"dc8cf02b81b54bd59323453b207e704a\",\n    \"endToEndId\": \"E3030629420200808185300887639654\",\n    \"initiationType\": \"MANUAL\",\n    \"paymentType\": \"IMMEDIATE\",\n    \"urgency\": \"HIGH\",\n    \"transactionType\": \"TRANSFER\",\n    \"debitParty\": {\n      \"account\": \"444444\",\n      \"branch\": \"1\",\n      \"taxId\": \"11122233344\",\n      \"name\": \"Celcoin\",\n      \"accountType\": \"CACC\"\n    },\n    \"creditParty\": {\n      \"bank\": \"30306294\",\n      \"key\": \"5244f4e-15ff-413d-808d-7837652ebdc2\",\n      \"account\": \"10545584\",\n      \"branch\": \"1\",\n      \"taxId\": \"11122233344\",\n      \"name\": \"Celcoin\",\n      \"accountType\": \"CACC\"\n    },\n    \"remittanceInformation\": \"Texto de mensagem\",\n    \"error\": {\n      \"errorCode\": \"CIE999\",\n      \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n    }\n  }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"CONFIRMED"},"version":{"type":"string","example":"1.0.0"},"body":{"type":"object","properties":{"id":{"type":"string","example":"34fee7bc-4d40-4605-9af8-398ed7d0d6b5"},"amount":{"type":"number","example":25.55,"default":0},"clientCode":{"type":"string","example":"1458854"},"transactionIdentification":{"type":"string","example":"dc8cf02b81b54bd59323453b207e704a"},"endToEndId":{"type":"string","example":"E3030629420200808185300887639654"},"initiationType":{"type":"string","example":"MANUAL"},"paymentType":{"type":"string","example":"IMMEDIATE"},"urgency":{"type":"string","example":"HIGH"},"transactionType":{"type":"string","example":"TRANSFER"},"debitParty":{"type":"object","properties":{"account":{"type":"string","example":"444444"},"branch":{"type":"string","example":"1"},"taxId":{"type":"string","example":"11122233344"},"name":{"type":"string","example":"Celcoin"},"accountType":{"type":"string","example":"CACC"}}},"creditParty":{"type":"object","properties":{"bank":{"type":"string","example":"30306294"},"key":{"type":"string","example":"5244f4e-15ff-413d-808d-7837652ebdc2"},"account":{"type":"string","example":"10545584"},"branch":{"type":"string","example":"1"},"taxId":{"type":"string","example":"11122233344"},"name":{"type":"string","example":"Celcoin"},"accountType":{"type":"string","example":"CACC"}}},"remittanceInformation":{"type":"string","example":"Texto de mensagem"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}}},"deprecated":false}},"/spb/transfer/status":{"get":{"summary":"Consultar Status de uma transferência TED","description":"","operationId":"consultar-status-de-uma-ted","parameters":[{"name":"id","in":"query","description":"Identificador da transação retornado na requisição de transfer.","schema":{"type":"string"}},{"name":"clientCode","in":"query","description":"Identificador único gerado pelo cliente.","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"CONFIRMED\",\n  \"version\": \"1.0.0\",\n  \"body\": {\n    \"id\": \"34fee7bc-4d40-4605-9af8-398ed7d0d6b5\",\n    \"amount\": 25.55,\n    \"clientCode\": \"1458854\",\n    \"debitParty\": {\n      \"account\": \"444444\",\n      \"branch\": \"1\",\n      \"taxId\": \"11122233344\",\n      \"name\": \"Celcoin\",\n      \"accountType\": \"CACC\",\n      \"personType\": \"F\",\n      \"bank\": \"30306294\"\n    },\n    \"creditParty\": {\n      \"bank\": \"30306294\",\n      \"account\": \"10545584\",\n      \"branch\": \"1\",\n      \"taxId\": \"11122233344\",\n      \"name\": \"Celcoin\",\n      \"accountType\": \"CC\",\n      \"personType\": \"F\"\n    },\n    \"description\": \"Texto de mensagem\",\n    \"error\": {\n      \"errorCode\": \"CIE999\",\n      \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n    }\n  }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"CONFIRMED"},"version":{"type":"string","example":"1.0.0"},"body":{"type":"object","properties":{"id":{"type":"string","example":"34fee7bc-4d40-4605-9af8-398ed7d0d6b5"},"amount":{"type":"number","example":25.55,"default":0},"clientCode":{"type":"string","example":"1458854"},"debitParty":{"type":"object","properties":{"account":{"type":"string","example":"444444"},"branch":{"type":"string","example":"1"},"taxId":{"type":"string","example":"11122233344"},"name":{"type":"string","example":"Celcoin"},"accountType":{"type":"string","example":"CACC"},"personType":{"type":"string","example":"F"},"bank":{"type":"string","example":"30306294"}}},"creditParty":{"type":"object","properties":{"bank":{"type":"string","example":"30306294"},"account":{"type":"string","example":"10545584"},"branch":{"type":"string","example":"1"},"taxId":{"type":"string","example":"11122233344"},"name":{"type":"string","example":"Celcoin"},"accountType":{"type":"string","example":"CC"},"personType":{"type":"string","example":"F"}}},"description":{"type":"string","example":"Texto de mensagem"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}}},"deprecated":false}},"/spb/transfer":{"post":{"summary":"Enviar uma TED","description":"","operationId":"enviar-uma-transferencia-ted","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["amount","clientCode","debitParty","creditParty","clientFinality"],"properties":{"amount":{"type":"number","description":"Valor da transação.","format":"double"},"clientCode":{"type":"string","description":"Identificador único gerado pelo cliente."},"debitParty":{"type":"object","description":"Número da conta de origem (Quem irá pagar).","required":["account"],"properties":{"account":{"type":"string","description":"Número da conta de origem (Quem irá pagar)."}}},"creditParty":{"type":"object","required":["bank","account","branch","taxId","name","accountType","personType"],"properties":{"bank":{"type":"string","description":"Identificador do Banco de destino (ISPB - Identificador de Sistema de Pagamentos Brasileiro)."},"account":{"type":"string","description":"Número da Conta de destino (Quem irá receber)."},"branch":{"type":"string","description":"Número da agência de destino."},"taxId":{"type":"string","description":"Número do documento (CPF ou CNPJ) da conta de destino."},"name":{"type":"string","description":"Nome da conta de destino"},"accountType":{"type":"string","description":"Tipo de Conta."},"personType":{"type":"string","description":"Tipo de Pessoa."}}},"clientFinality":{"type":"string","description":"Finalidade"},"description":{"type":"string","description":"Campo opcional. Caso o campo clientFinality estiver como 99999, este campo vai se tornar obrigatório."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"PROCESSING\",\n  \"version\": \"1.0.0\",\n  \"body\": {\n    \"id\": \"34fee7bc-4d40-4605-9af8-398ed7d0d6b5\",\n    \"amount\": 0,\n    \"clientCode\": \"1458854\",\n    \"debitParty\": {\n      \"account\": \"444444\",\n      \"branch\": \"1\",\n      \"taxId\": \"11122233344\",\n      \"name\": \"Celcoin\",\n      \"accountType\": \"CACC\",\n      \"personType\": \"F\",\n      \"bank\": \"30306294\"\n    },\n    \"creditParty\": {\n      \"bank\": \"30306294\",\n      \"account\": \"10545584\",\n      \"branch\": \"1\",\n      \"taxId\": \"11122233344\",\n      \"name\": \"Celcoin\",\n      \"accountType\": \"CC\",\n      \"personType\": \"F\"\n    }\n  }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"PROCESSING"},"version":{"type":"string","example":"1.0.0"},"body":{"type":"object","properties":{"id":{"type":"string","example":"34fee7bc-4d40-4605-9af8-398ed7d0d6b5"},"amount":{"type":"integer","example":0,"default":0},"clientCode":{"type":"string","example":"1458854"},"debitParty":{"type":"object","properties":{"account":{"type":"string","example":"444444"},"branch":{"type":"string","example":"1"},"taxId":{"type":"string","example":"11122233344"},"name":{"type":"string","example":"Celcoin"},"accountType":{"type":"string","example":"CACC"},"personType":{"type":"string","example":"F"},"bank":{"type":"string","example":"30306294"}}},"creditParty":{"type":"object","properties":{"bank":{"type":"string","example":"30306294"},"account":{"type":"string","example":"10545584"},"branch":{"type":"string","example":"1"},"taxId":{"type":"string","example":"11122233344"},"name":{"type":"string","example":"Celcoin"},"accountType":{"type":"string","example":"CC"},"personType":{"type":"string","example":"F"}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"404":{"description":"404","content":{"text/plain":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"504":{"description":"504","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}}},"deprecated":false}},"/pix/reverse/status":{"get":{"summary":"Consultar Status de uma devolução Pix","description":"","operationId":"consultar-status-devolucao-pix","parameters":[{"name":"id","in":"query","description":"Identificador da transação retornado na requisição de payment.","schema":{"type":"string"}},{"name":"clientCode","in":"query","description":"Identificador único gerado pelo cliente.","schema":{"type":"string"}},{"name":"returnIdentification","in":"query","description":"Identificador ponta-a-ponta associado a devolução pix.","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"CONFIRMED\",\n  \"version\": \"1.0.0\",\n  \"body\": {\n    \"id\": \"34fee7bc-4d40-4605-9af8-398ed7d0d6b5\",\n    \"amount\": 25.55,\n    \"clientCode\": \"1458854\",\n    \"originalPaymentId\": \"34fee7bc-4d40-4605-9af8-398ed7d0d6b5\",\n    \"originalEndToEndId\": \"E3030629420200808185300887639654\",\n    \"returnIdentification\": \"D3030629420200808185300887639654\",\n    \"reason\": \"BE08\",\n    \"reversalDescription\": \"D3030629420200808185300887639654\",\n    \"error\": {\n      \"errorCode\": \"CIE999\",\n      \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n    }\n  }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"CONFIRMED"},"version":{"type":"string","example":"1.0.0"},"body":{"type":"object","properties":{"id":{"type":"string","example":"34fee7bc-4d40-4605-9af8-398ed7d0d6b5"},"amount":{"type":"number","example":25.55,"default":0},"clientCode":{"type":"string","example":"1458854"},"originalPaymentId":{"type":"string","example":"34fee7bc-4d40-4605-9af8-398ed7d0d6b5"},"originalEndToEndId":{"type":"string","example":"E3030629420200808185300887639654"},"returnIdentification":{"type":"string","example":"D3030629420200808185300887639654"},"reason":{"type":"string","example":"BE08"},"reversalDescription":{"type":"string","example":"D3030629420200808185300887639654"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}}},"deprecated":false}},"/pix/reverse":{"post":{"summary":"Iniciar uma devolução Pix","description":"","operationId":"iniciar-uma-devolução-pix","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["clientCode","amount","reason"],"properties":{"id":{"type":"string","description":"Identificador da transação do recebimento pix."},"endToEndId":{"type":"string","description":"Identificador ponta-a-ponta associado ao recebimento pix."},"clientCode":{"type":"string","description":"Identificador único gerado pelo cliente."},"amount":{"type":"number","description":"Valor da transação.","format":"double"},"reason":{"type":"string","description":"Razão da Devolução."},"reversalDescription":{"type":"string","description":"Texto opcional a ser apresentado ao pagador contendo informações sobre a devolução.."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"PROCESSING\",\n  \"version\": \"1.0.0\",\n  \"body\": {\n    \"id\": \"34fee7bc-4d40-4605-9af8-398ed7d0d6b4\",\n    \"amount\": 25.55,\n    \"clientCode\": \"1458854\",\n    \"originalPaymentId\": \"34fee7bc-4d40-4605-9af8-398ed7d0d6b5\",\n    \"endToEndId\": \"E3030629420200808185300887639654\",\n    \"returnIdentification\": \"D3030629420200808185300887639654\",\n    \"reason\": \"MD06\",\n    \"reversalDescription\": \"Devolução do churrasco\"\n  }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"PROCESSING"},"version":{"type":"string","example":"1.0.0"},"body":{"type":"object","properties":{"id":{"type":"string","example":"34fee7bc-4d40-4605-9af8-398ed7d0d6b4"},"amount":{"type":"number","example":25.55,"default":0},"clientCode":{"type":"string","example":"1458854"},"originalPaymentId":{"type":"string","example":"34fee7bc-4d40-4605-9af8-398ed7d0d6b5"},"endToEndId":{"type":"string","example":"E3030629420200808185300887639654"},"returnIdentification":{"type":"string","example":"D3030629420200808185300887639654"},"reason":{"type":"string","example":"MD06"},"reversalDescription":{"type":"string","example":"Devolução do churrasco"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"504":{"description":"504","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}