{"openapi":"3.1.0","info":{"title":"Webhook BaaS","version":"2.0.0"},"servers":[{"url":"https://sandbox.openfinance.celcoin.dev/baas-webhookmanager/v1/"}],"components":{"securitySchemes":{"sec0":{"type":"oauth2","flows":{}}}},"security":[{"sec0":[]}],"paths":{"/webhook/subscription":{"post":{"summary":"Cadastrar Webhook","description":"Confira nosso tutorial -> https://developers.celcoin.com.br/docs/gerenciamento-de-webhook","operationId":"cadastrar-webhook","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["entity","webhookUrl"],"properties":{"entity":{"type":"string","description":"Identificador do Evento.","default":"onboarding-create"},"webhookUrl":{"type":"string","description":"Rota do Webhook."},"auth":{"type":"object","properties":{"login":{"type":"string","description":"Login para Webhook."},"pwd":{"type":"string","description":"Senha para Webhook."},"type":{"type":"string","description":"Tipo de autenticação (Basic)","default":"Basic"}}}}},"examples":{"Request Example":{"value":{"entity":"string","webhookUrl":"string","auth":{"login":"string","pwd":"string","type":"string"}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"SUCCESS\"\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"SUCCESS"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}}},"deprecated":false},"get":{"summary":"Consultar Webhooks cadastrados","description":"Confira nosso tutorial -> https://developers.celcoin.com.br/docs/gerenciamento-de-webhook","operationId":"consultar-webhooks-cadastrados","parameters":[{"name":"Entity","in":"path","description":"Identificador do Evento.","schema":{"type":"string"},"required":true},{"name":"Active","in":"path","description":"Esta ativo ou nao.","schema":{"type":"boolean"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"SUCCESS\",\n  \"body\": {\n    \"entity\": \"string\",\n    \"webhookUrl\": \"string\",\n    \"active\": true,\n    \"createDate\": \"2023-03-02T17:18:34.602Z\",\n    \"lastUpdateDate\": \"2023-03-02T17:18:34.602Z\",\n    \"auth\": {\n      \"login\": \"string\",\n      \"pwd\": \"string\",\n      \"type\": \"string\"\n    }\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"SUCCESS"},"body":{"type":"object","properties":{"entity":{"type":"string","example":"string"},"webhookUrl":{"type":"string","example":"string"},"active":{"type":"boolean","example":true,"default":true},"createDate":{"type":"string","example":"2023-03-02T17:18:34.602Z"},"lastUpdateDate":{"type":"string","example":"2023-03-02T17:18:34.602Z"},"auth":{"type":"object","properties":{"login":{"type":"string","example":"string"},"pwd":{"type":"string","example":"string"},"type":{"type":"string","example":"string"}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}}},"deprecated":false,"requestBody":{"content":{"application/json":{"schema":{},"examples":{"Request Example":{"value":{"version":"1.0.0","status":"SUCCESS","body":{"entity":"string","webhookUrl":"string","active":true,"createDate":"2023-03-02T17:18:34.602Z","lastUpdateDate":"2023-03-02T17:18:34.602Z","auth":{"login":"string","pwd":"string","type":"string"}}}}}}}}}},"/webhook/subscription/{entity}":{"put":{"summary":"Editar Webhook cadastrado","description":"Confira nosso tutorial -> https://developers.celcoin.com.br/docs/gerenciamento-de-webhook","operationId":"editar-webhook-cadastrado","parameters":[{"name":"entity","in":"path","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["webhookUrl","subscriptionId"],"properties":{"webhookUrl":{"type":"string","description":"Rota do Webhook."},"auth":{"type":"object","properties":{"login":{"type":"string","description":"Login para Webhook."},"pwd":{"type":"string","description":"Senha para Webhook."},"type":{"type":"string","description":"Tipo de autenticação (Basic)","default":"Basic"}}},"active":{"type":"boolean","description":"Esta ativo ou nao. true"},"subscriptionId":{"type":"string","description":"Identificador único do webhook cadastrado."}}},"examples":{"Request Example":{"value":{"webhookUrl":"string","auth":{"login":"login","pwd":"password","type":"basic"},"active":true,"subscriptionId":"64a340b7987ab1220a72ab66"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"SUCCESS\"\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"SUCCESS"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}}},"deprecated":false},"delete":{"summary":"Excluir Webhook cadastrado","description":"Confira nosso tutorial -> https://developers.celcoin.com.br/docs/gerenciamento-de-webhook","operationId":"excluir-webhook-cadastrado","parameters":[{"name":"entity","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"\n  \"version\": \"1.0.0\",\n  \"status\": \"SUCCESS\"\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}}},"deprecated":false}},"/webhook/templates":{"get":{"summary":"Consultar Templates de Webhooks","description":"","operationId":"consultar-templates-de-webhooks","parameters":[{"name":"Entity","in":"query","description":"Identificador do Evento.","schema":{"type":"string"}},{"name":"Status","in":"query","description":"Status do Evento.","schema":{"type":"string"}},{"name":"Page","in":"query","description":"Pagina de solicitaçao","schema":{"type":"string"}},{"name":"Limit","in":"query","description":"Limite geral da consulta.","schema":{"type":"string"}},{"name":"LimitPerPage","in":"query","description":"Total de webhooks por pagina.","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n   \"body\":{\n      \"totalItems\":18,\n      \"currentPage\":1,\n      \"limitPerPage\":200,\n      \"totalPages\":1,\n      \"entityList\":[\n         {\n            \"entity\":\"spb-transfer-out\",\n            \"webhookTemplates\":[\n               {\n                  \"entity\":\"spb-transfer-out\",\n                  \"createTimestamp\":\"2023-07-14T00:09:42.995873\",\n                  \"status\":\"ERROR\",\n                  \"body\":{\n                     \"clientFinality\":\"110\",\n                     \"amount\":0.01,\n                     \"debitParty\":{\n                        \"bank\":\"13935893\",\n                        \"taxId\":\"46463721000\",\n                        \"accountType\":\"CC\",\n                        \"name\":\"teste\",\n                        \"personType\":\"F\",\n                        \"branch\":\"0001\",\n                        \"account\":\"300123\"\n                     },\n                     \"clientCode\":\"9bed3141-ad08-4082-ae3b-8cedb7551eca\",\n                     \"id\":\"773ecd22-3447-49c2-a661-e9ba61bda4b9\",\n                     \"creditParty\":{\n                        \"bank\":\"123456\",\n                        \"taxId\":\"46463721000\",\n                        \"accountType\":\"CC\",\n                        \"name\":\"teste\",\n                        \"personType\":\"F\",\n                        \"branch\":\"0001\",\n                        \"account\":\"300123\"\n                     }\n                  },\n                  \"error\":{\n                     \"errorCode\":\"404\",\n                     \"message\":\"SPB not found\"\n                  }\n               },\n               {\n                  \"entity\":\"spb-transfer-out\",\n                  \"createTimestamp\":\"2023-07-24T17:02:47.0824409\",\n                  \"status\":\"CONFIRMED\",\n                  \"body\":{\n                     \"clientFinality\":\"10\",\n                     \"numCtrlStr\":\"STR20230724034501234\",\n                     \"amount\":750,\n                     \"debitParty\":{\n                        \"bank\":\"13935893\",\n                        \"taxId\":\"46463721000\",\n                        \"accountType\":\"CC\",\n                        \"name\":\"teste\",\n                        \"personType\":\"J\",\n                        \"branch\":\"0001\",\n                        \"account\":\"300123\"\n                     },\n                     \"clientCode\":\"78d96006-c535-46e3-93a6-d8c85a6000bc\",\n                     \"description\":\"Pagamento\",\n                     \"id\":\"7e172eef-f05e-429e-ae36-401310a204cd\",\n                     \"creditParty\":{\n                        \"bank\":\"00360305\",\n                        \"taxId\":\"46463721000\",\n                        \"accountType\":\"CC\",\n                        \"name\":\"teste\",\n                        \"personType\":\"F\",\n                        \"branch\":\"0001\",\n                        \"account\":\"300123\"\n                     }\n                  }\n               }\n            ]\n         },\n         {\n            \"entity\":\"spb-transfer-in\",\n            \"webhookTemplates\":[\n               {\n                  \"entity\":\"spb-transfer-in\",\n                  \"createTimestamp\":\"2023-07-27T09:10:29.5587634\",\n                  \"status\":\"CONFIRMED\",\n                  \"body\":{\n                     \"numCtrlSTR\":\"1393589324514991234\",\n                     \"amount\":872.03,\n                     \"debitParty\":{\n                        \"bank\":\"16501555\",\n                        \"taxId\":\"46463721000\",\n                        \"accountType\":\"PG\",\n                        \"name\":\"teste\",\n                        \"personType\":\"J\",\n                        \"account\":\"300123\"\n                     },\n                     \"id\":\"e2726e30-c318-4e1f-b284-e37c14e6c4b2\",\n                     \"clientfinality\":\"10\",\n                     \"creditParty\":{\n                        \"bank\":\"13935893\",\n                        \"taxId\":\"46463721000\",\n                        \"accountType\":\"CC\",\n                        \"name\":\"teste\",\n                        \"personType\":\"J\",\n                        \"branch\":\"1\",\n                        \"account\":\"300123\"\n                     }\n                  }\n               }\n            ]\n         }\n      ]\n   },\n   \"status\":\"SUCCESS\",\n   \"version\":\"1.0.0\"\n}"}},"schema":{"type":"object","properties":{"body":{"type":"object","properties":{"totalItems":{"type":"integer","example":18,"default":0},"currentPage":{"type":"integer","example":1,"default":0},"limitPerPage":{"type":"integer","example":200,"default":0},"totalPages":{"type":"integer","example":1,"default":0},"entityList":{"type":"array","items":{"type":"object","properties":{"entity":{"type":"string","example":"spb-transfer-out"},"webhookTemplates":{"type":"array","items":{"type":"object","properties":{"entity":{"type":"string","example":"spb-transfer-out"},"createTimestamp":{"type":"string","example":"2023-07-14T00:09:42.995873"},"status":{"type":"string","example":"ERROR"},"body":{"type":"object","properties":{"clientFinality":{"type":"string","example":"110"},"amount":{"type":"number","example":0.01,"default":0},"debitParty":{"type":"object","properties":{"bank":{"type":"string","example":"13935893"},"taxId":{"type":"string","example":"46463721000"},"accountType":{"type":"string","example":"CC"},"name":{"type":"string","example":"teste"},"personType":{"type":"string","example":"F"},"branch":{"type":"string","example":"0001"},"account":{"type":"string","example":"300123"}}},"clientCode":{"type":"string","example":"9bed3141-ad08-4082-ae3b-8cedb7551eca"},"id":{"type":"string","example":"773ecd22-3447-49c2-a661-e9ba61bda4b9"},"creditParty":{"type":"object","properties":{"bank":{"type":"string","example":"123456"},"taxId":{"type":"string","example":"46463721000"},"accountType":{"type":"string","example":"CC"},"name":{"type":"string","example":"teste"},"personType":{"type":"string","example":"F"},"branch":{"type":"string","example":"0001"},"account":{"type":"string","example":"300123"}}}}},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"404"},"message":{"type":"string","example":"SPB not found"}}}}}}}}}}},"status":{"type":"string","example":"SUCCESS"},"version":{"type":"string","example":"1.0.0"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}}},"deprecated":false,"requestBody":{"content":{"application/json":{"schema":{},"examples":{"Request Example":{"value":{"body":{"totalItems":18,"currentPage":1,"limitPerPage":200,"totalPages":1,"entityList":[{"entity":"spb-transfer-out","webhookTemplates":[{"entity":"spb-transfer-out","createTimestamp":"2023-07-14T00:09:42.995873","status":"ERROR","body":{"clientFinality":"110","amount":0.01,"debitParty":{"bank":"13935893","taxId":"46463721000","accountType":"CC","name":"teste","personType":"F","branch":"0001","account":"300123"},"clientCode":"9bed3141-ad08-4082-ae3b-8cedb7551eca","id":"773ecd22-3447-49c2-a661-e9ba61bda4b9","creditParty":{"bank":"123456","taxId":"46463721000","accountType":"CC","name":"teste","personType":"F","branch":"0001","account":"300123"}},"error":{"errorCode":"404","message":"SPB not found"}},{"entity":"spb-transfer-out","createTimestamp":"2023-07-24T17:02:47.0824409","status":"CONFIRMED","body":{"clientFinality":"10","numCtrlStr":"STR20230724034501234","amount":750,"debitParty":{"bank":"13935893","taxId":"46463721000","accountType":"CC","name":"teste","personType":"J","branch":"0001","account":"300123"},"clientCode":"78d96006-c535-46e3-93a6-d8c85a6000bc","description":"Pagamento","id":"7e172eef-f05e-429e-ae36-401310a204cd","creditParty":{"bank":"00360305","taxId":"46463721000","accountType":"CC","name":"teste","personType":"F","branch":"0001","account":"300123"}}}]},{"entity":"spb-transfer-in","webhookTemplates":[{"entity":"spb-transfer-in","createTimestamp":"2023-07-27T09:10:29.5587634","status":"CONFIRMED","body":{"numCtrlSTR":"1393589324514991234","amount":872.03,"debitParty":{"bank":"16501555","taxId":"46463721000","accountType":"PG","name":"teste","personType":"J","account":"300123"},"id":"e2726e30-c318-4e1f-b284-e37c14e6c4b2","clientfinality":"10","creditParty":{"bank":"13935893","taxId":"46463721000","accountType":"CC","name":"teste","personType":"J","branch":"1","account":"300123"}}}]}]},"status":"SUCCESS","version":"1.0.0"}}}}}}}},"/webhook/entity/list":{"get":{"summary":"Consultar lista de eventos enviados pelo webhook","description":"","operationId":"consultar-lista-de-eventos-enviados-pelo-webhook","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"SUCCESS\",\n  \"body\": {\n    \"entityList\": [\n      {\n        \"entity\": \"pix-payment-out\"\n      }\n    ]\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"SUCCESS"},"body":{"type":"object","properties":{"entityList":{"type":"array","items":{"type":"object","properties":{"entity":{"type":"string","example":"pix-payment-out"}}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}}},"deprecated":false,"requestBody":{"content":{"application/json":{"schema":{},"examples":{"Request Example":{"value":{"version":"1.0.0","status":"SUCCESS","body":{"entityList":[{"entity":"pix-payment-out"}]}}}}}}}}},"/webhook/replay/{entity}":{"get":{"summary":"Consultar quantidade de webhooks enviados.","description":"","operationId":"consultar-quantidade-de-webhooks-enviados","parameters":[{"name":"entity","in":"path","description":"Identificador do Evento do Webhook existente.","schema":{"type":"string"},"required":true},{"name":"DateFrom","in":"query","description":"Data inicial.","required":true,"schema":{"type":"string"}},{"name":"DateTo","in":"query","description":"Data final.","required":true,"schema":{"type":"string"}},{"name":"OnlyPending","in":"query","description":"Esta com envio pendente ou nao. false","schema":{"type":"boolean"}},{"name":"webhookId","in":"query","schema":{"type":"string"}},{"name":"documentNumber","in":"query","schema":{"type":"string"}},{"name":"account","in":"query","schema":{"type":"string"}},{"name":"id","in":"query","schema":{"type":"string"}},{"name":"clientRequestId","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"SUCCESS\",\n  \"body\": {\n    \"onlyPending\": true,\n    \"entity\": \"string\",\n    \"dateFrom\": \"2023-11-14T21:34:44.823Z\",\n    \"dateTo\": \"2023-11-14T21:34:44.823Z\",\n    \"totalItems\": 0\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"SUCCESS"},"body":{"type":"object","properties":{"onlyPending":{"type":"boolean","example":true,"default":true},"entity":{"type":"string","example":"string"},"dateFrom":{"type":"string","example":"2023-11-14T21:34:44.823Z"},"dateTo":{"type":"string","example":"2023-11-14T21:34:44.823Z"},"totalItems":{"type":"integer","example":0,"default":0}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}}},"deprecated":false,"requestBody":{"content":{"application/json":{"schema":{},"examples":{"Request Example":{"value":{"version":"1.0.0","status":"SUCCESS","body":{"onlyPending":true,"entity":"string","dateFrom":"2023-11-14T21:34:44.823Z","dateTo":"2023-11-14T21:34:44.823Z","totalItems":0}}}}}}}},"put":{"summary":"Reenvio de webhooks pendentes","description":"","operationId":"reenvio-de-webhooks-pendentes","parameters":[{"name":"entity","in":"path","description":"Identificador do Evento do Webhook existente.","schema":{"type":"string"},"required":true},{"name":"DateFrom","in":"query","description":"Data inicial.","required":true,"schema":{"type":"string","default":"2023-11-03T06:30:00-03:00"}},{"name":"DateTo","in":"query","description":"Data final.","required":true,"schema":{"type":"string","default":"2023-11-03T06:30:00-03:00"}},{"name":"OnlyPending","in":"query","description":"Esta com envio pendente ou nao.","schema":{"type":"boolean"}},{"name":"webhookId","in":"query","description":"Identificador único do webhook","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"filter":{"type":"object","properties":{"documentNumber":{"type":"string","description":"Número do documento, CPJ ou CNPJ"},"account":{"type":"string","description":"Número da conta"},"id":{"type":"string","description":"Id da transacaoExterna"},"clientRequestId":{"type":"string","description":"Identificador de Request do Cliente ou ClientCode"}}}}},"examples":{"Request Example":{"value":{"version":"1.0.0","status":"SUCCESS","body":{"onlyPending":true,"entity":"string","dateFrom":"2023-11-16T15:23:07.313Z","dateTo":"2023-11-16T15:23:07.313Z","totalItems":0,"limit":0,"currentPage":0,"limitPerPage":0,"totalPages":0,"webhookDetails":[{"webhookId":"fd744c5a-9dc5-4127-92b1-0856bcc97abb","httpStatusCode":200,"webhookUrl":"https://yourownurl.com.br/payment-out","request":"string","response":"string","status":"SUCCESS","createDate":"2023-11-03T06:30:00-03:00","lastUpdateDate":"2023-11-03T06:30:00-03:00","filter":{"documentNumber":"76217683555","account":"30053913781863","id":"13412341234","clientRequestId":"f3d1e8e9-48fa-46d8-9ea5-4c859e56b1e8"}}]}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"SUCCESS\",\n  \"body\": {\n    \"onlyPending\": true,\n    \"entity\": \"string\",\n    \"dateFrom\": \"2023-11-16T15:23:07.313Z\",\n    \"dateTo\": \"2023-11-16T15:23:07.313Z\",\n    \"totalItems\": 0,\n    \"limit\": 0,\n    \"currentPage\": 0,\n    \"limitPerPage\": 0,\n    \"totalPages\": 0,\n    \"webhookDetails\": [\n      {\n        \"webhookId\": \"fd744c5a-9dc5-4127-92b1-0856bcc97abb\",\n        \"httpStatusCode\": 200,\n        \"webhookUrl\": \"https://yourownurl.com.br/payment-out\",\n        \"request\": \"string\",\n        \"response\": \"string\",\n        \"status\": \"SUCCESS\",\n        \"createDate\": \"2023-11-03T06:30:00-03:00\",\n        \"lastUpdateDate\": \"2023-11-03T06:30:00-03:00\",\n        \"filter\": {\n          \"documentNumber\": \"76217683555\",\n          \"account\": \"30053913781863\",\n          \"id\": \"13412341234\",\n          \"clientRequestId\": \"f3d1e8e9-48fa-46d8-9ea5-4c859e56b1e8\"\n        }\n      }\n    ]\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"SUCCESS"},"body":{"type":"object","properties":{"onlyPending":{"type":"boolean","example":true,"default":true},"entity":{"type":"string","example":"string"},"dateFrom":{"type":"string","example":"2023-11-16T15:23:07.313Z"},"dateTo":{"type":"string","example":"2023-11-16T15:23:07.313Z"},"totalItems":{"type":"integer","example":0,"default":0},"limit":{"type":"integer","example":0,"default":0},"currentPage":{"type":"integer","example":0,"default":0},"limitPerPage":{"type":"integer","example":0,"default":0},"totalPages":{"type":"integer","example":0,"default":0},"webhookDetails":{"type":"array","items":{"type":"object","properties":{"webhookId":{"type":"string","example":"fd744c5a-9dc5-4127-92b1-0856bcc97abb"},"httpStatusCode":{"type":"integer","example":200,"default":0},"webhookUrl":{"type":"string","example":"https://yourownurl.com.br/payment-out"},"request":{"type":"string","example":"string"},"response":{"type":"string","example":"string"},"status":{"type":"string","example":"SUCCESS"},"createDate":{"type":"string","example":"2023-11-03T06:30:00-03:00"},"lastUpdateDate":{"type":"string","example":"2023-11-03T06:30:00-03:00"},"filter":{"type":"object","properties":{"documentNumber":{"type":"string","example":"76217683555"},"account":{"type":"string","example":"30053913781863"},"id":{"type":"string","example":"13412341234"},"clientRequestId":{"type":"string","example":"f3d1e8e9-48fa-46d8-9ea5-4c859e56b1e8"}}}}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}}},"deprecated":false}},"/webhook/replay/{entity}/details":{"get":{"summary":"Consultar detalhes dos webhooks enviados.","description":"","operationId":"consultar-detalhes-dos-webhooks-enviados","parameters":[{"name":"entity","in":"path","description":"Identificador do Evento do Webhook existente.","schema":{"type":"string"},"required":true},{"name":"DateFrom","in":"query","description":"Data inicial.","required":true,"schema":{"type":"string","default":"2023-11-03T06:30:00-03:00"}},{"name":"DateTo","in":"query","description":"Data final.","required":true,"schema":{"type":"string","default":"2023-11-03T06:30:00-03:00"}},{"name":"Page","in":"query","description":"Pagina de solicitaçao, default: 1.","schema":{"type":"integer","format":"int32","default":1}},{"name":"Limit","in":"query","description":"Limite geral da consulta. (Default value : 200)","schema":{"type":"integer","format":"int32","default":200}},{"name":"LimitPerPage","in":"query","description":"Total de webhooks por pagina.","schema":{"type":"integer","format":"int32","default":200}},{"name":"webhookId","in":"query","schema":{"type":"string"}},{"name":"documentNumber","in":"query","schema":{"type":"string"}},{"name":"account","in":"query","schema":{"type":"string"}},{"name":"id","in":"query","schema":{"type":"string"}},{"name":"clientRequestId","in":"query","schema":{"type":"string"}},{"name":"OnlyPending","in":"query","description":"Esta com envio pendente ou nao.","schema":{"type":"boolean"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"SUCCESS\",\n  \"body\": {\n    \"onlyPending\": true,\n    \"entity\": \"string\",\n    \"dateFrom\": \"2023-11-16T15:23:07.313Z\",\n    \"dateTo\": \"2023-11-16T15:23:07.313Z\",\n    \"totalItems\": 0,\n    \"limit\": 0,\n    \"currentPage\": 0,\n    \"limitPerPage\": 0,\n    \"totalPages\": 0,\n    \"webhookDetails\": [\n      {\n        \"webhookId\": \"fd744c5a-9dc5-4127-92b1-0856bcc97abb\",\n        \"httpStatusCode\": 200,\n        \"webhookUrl\": \"https://yourownurl.com.br/payment-out\",\n        \"request\": \"string\",\n        \"response\": \"string\",\n        \"status\": \"SUCCESS\",\n        \"createDate\": \"2023-11-03T06:30:00-03:00\",\n        \"lastUpdateDate\": \"2023-11-03T06:30:00-03:00\",\n        \"filter\": {\n          \"documentNumber\": \"76217683555\",\n          \"account\": \"30053913781863\",\n          \"id\": \"13412341234\",\n          \"clientRequestId\": \"f3d1e8e9-48fa-46d8-9ea5-4c859e56b1e8\"\n        }\n      }\n    ]\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"SUCCESS"},"body":{"type":"object","properties":{"onlyPending":{"type":"boolean","example":true,"default":true},"entity":{"type":"string","example":"string"},"dateFrom":{"type":"string","example":"2023-11-16T15:23:07.313Z"},"dateTo":{"type":"string","example":"2023-11-16T15:23:07.313Z"},"totalItems":{"type":"integer","example":0,"default":0},"limit":{"type":"integer","example":0,"default":0},"currentPage":{"type":"integer","example":0,"default":0},"limitPerPage":{"type":"integer","example":0,"default":0},"totalPages":{"type":"integer","example":0,"default":0},"webhookDetails":{"type":"array","items":{"type":"object","properties":{"webhookId":{"type":"string","example":"fd744c5a-9dc5-4127-92b1-0856bcc97abb"},"httpStatusCode":{"type":"integer","example":200,"default":0},"webhookUrl":{"type":"string","example":"https://yourownurl.com.br/payment-out"},"request":{"type":"string","example":"string"},"response":{"type":"string","example":"string"},"status":{"type":"string","example":"SUCCESS"},"createDate":{"type":"string","example":"2023-11-03T06:30:00-03:00"},"lastUpdateDate":{"type":"string","example":"2023-11-03T06:30:00-03:00"},"filter":{"type":"object","properties":{"documentNumber":{"type":"string","example":"76217683555"},"account":{"type":"string","example":"30053913781863"},"id":{"type":"string","example":"13412341234"},"clientRequestId":{"type":"string","example":"f3d1e8e9-48fa-46d8-9ea5-4c859e56b1e8"}}}}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}}},"deprecated":false,"requestBody":{"content":{"application/json":{"schema":{},"examples":{"Request Example":{"value":{"version":"1.0.0","status":"SUCCESS","body":{"onlyPending":true,"entity":"string","dateFrom":"2023-11-16T15:23:07.313Z","dateTo":"2023-11-16T15:23:07.313Z","totalItems":0,"limit":0,"currentPage":0,"limitPerPage":0,"totalPages":0,"webhookDetails":[{"webhookId":"fd744c5a-9dc5-4127-92b1-0856bcc97abb","httpStatusCode":200,"webhookUrl":"https://yourownurl.com.br/payment-out","request":"string","response":"string","status":"SUCCESS","createDate":"2023-11-03T06:30:00-03:00","lastUpdateDate":"2023-11-03T06:30:00-03:00","filter":{"documentNumber":"76217683555","account":"30053913781863","id":"13412341234","clientRequestId":"f3d1e8e9-48fa-46d8-9ea5-4c859e56b1e8"}}]}}}}}}}}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}