{"openapi":"3.0.1","info":{"title":"RELATORIOS OPEN BANKING","description":"Gateway de Relatorios do OpenBanking","version":"1.0.0"},"servers":[{"url":"https://sandbox.openfinance.celcoin.dev/openbanking/itp/reports/v1/"},{"url":"https://api.openfinance.celcoin.com.br/openbanking/itp/reports/v1"}],"paths":{"/receipt":{"post":{"tags":["Recibo de Pagamento"],"summary":"Consultar recibo","description":"Retorna o recibo de pagamento. Por conter informações sensíveis, a chave pública passada como parâmetro será utilizada para criptografar as informações. Assim, o retorno será uma string que precisará ser descriptografada para que as variáveis possam ser acessadas conforme especificado abaixo.","parameters":[{"name":"hash","in":"query","description":"Hash com informações de autenticação.","schema":{"type":"string","default":""}}],"requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/api.openbanking.reports.webservice.Api.Models.Receipt.ReceiptRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/api.openbanking.reports.webservice.Api.Models.Receipt.ReceiptRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/api.openbanking.reports.webservice.Api.Models.Receipt.ReceiptRequest"}}}},"responses":{"200":{"description":"Retorna o recibo de pagamento criptografado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/api.openbanking.reports.webservice.Api.Models.Receipt.ReceiptPayment"}}}},"207":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/api.openbanking.reports.webservice.Core.Exceptions.ResponseMessage"}}}},"401":{"description":"Usuário não autorizado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/api.openbanking.reports.webservice.Core.Exceptions.ApiError"}}}},"500":{"description":"Exceção não esperada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/api.openbanking.reports.webservice.Core.Exceptions.ApiError"}}}}}}},"/payments":{"get":{"tags":["Relatorio de Pagamentos"],"summary":"Consultar pagamentos","parameters":[{"name":"beginDate","in":"query","description":"Data inicial do filtro no formato yyyy-mm-dd.","required":true,"schema":{"type":"string","format":"date-time","example":"2022-05-31"},"example":"2022-05-31"},{"name":"endDate","in":"query","description":"Data final do filtro no formato yyyy-mm-dd.","required":true,"schema":{"type":"string","format":"date-time","example":"2022-05-31"},"example":"2022-05-31"},{"name":"search","in":"query","description":"Campo de busca. Se aplica apenas aos atributos 'Protocolo' e 'Nome'.","schema":{"type":"string","example":"Joao"},"example":"Joao"},{"name":"paymentsPerPage","in":"query","description":"Número de pagamentos por página.","schema":{"type":"integer","format":"int32","example":20},"example":20},{"name":"pageNumber","in":"query","description":"Número da página corrente.","schema":{"type":"integer","format":"int32","example":2},"example":2},{"name":"sortBackwards","in":"query","description":"Se verdadeiro (valor padrão), ordena os pagamentos do mais recente ao mais antigo.","schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"Retorna os pagamentos realizados segundo os critérios estabelecidos.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/api.openbanking.reports.webservice.Core.Models.Payments.ReportPayments.ReportPaymentsResponse"}}}}},"400":{"description":"Retorna os erros de validação.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/api.openbanking.reports.webservice.Core.Exceptions.ApiError"}}}},"401":{"description":"Usuário não autorizado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/api.openbanking.reports.webservice.Core.Exceptions.ApiError"}}}},"500":{"description":"Exceção não esperada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/api.openbanking.reports.webservice.Core.Exceptions.ApiError"}}}}}}},"/requests":{"get":{"tags":["Relatorio de Requisicoes"],"summary":"Buscar requisições","parameters":[{"name":"beginDate","in":"query","description":"Data inicial do filtro no formato yyyy-mm-dd.","required":true,"schema":{"type":"string","format":"date-time","example":"2022-05-31"},"example":"2022-05-31"},{"name":"endDate","in":"query","description":"Data final do filtro no formato yyyy-mm-dd.","required":true,"schema":{"type":"string","format":"date-time","example":"2022-05-31"},"example":"2022-05-31"},{"name":"search","in":"query","description":"Campo de busca. Se aplica apenas aos atributos 'Protocolo' e 'Nome'.","schema":{"type":"string","example":"Joao"},"example":"Joao"},{"name":"endpoint","in":"query","description":"Filtra pelos endpoints do ITP.","schema":{"type":"array","items":{"type":"string"}}},{"name":"status","in":"query","description":"Filtra pelos status HTTP da requisição (200, 400, 401 e 500).","schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"requestsPerPage","in":"query","description":"Número de requisições por página.","schema":{"type":"integer","format":"int32","example":20},"example":20},{"name":"pageNumber","in":"query","description":"Número da página corrente.","schema":{"type":"integer","format":"int32","example":2},"example":2}],"responses":{"200":{"description":"Retorna as requisições realizadas nos endpoints do ITP.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/api.openbanking.reports.webservice.Api.Models.ReportRequests.ReportRequestsResponse"}}}}},"400":{"description":"Retorna os erros de validação.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/api.openbanking.reports.webservice.Core.Exceptions.ApiError"}}}},"401":{"description":"Usuário não autorizado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/api.openbanking.reports.webservice.Core.Exceptions.ApiError"}}}},"500":{"description":"Exceção não esperada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/api.openbanking.reports.webservice.Core.Exceptions.ApiError"}}}}}}}},"components":{"schemas":{"api.openbanking.reports.webservice.Api.Models.Receipt.CreditorAccount":{"type":"object","properties":{"ispb":{"type":"string","description":"Código referente ao banco de destino.","nullable":true},"issuer":{"type":"string","description":"Código da agência da conta de destino.","nullable":true},"number":{"type":"string","description":"Número da conta de destino.","nullable":true},"accountType":{"type":"string","description":"Tipo de conta de destino.\r\nCACC - Conta Corrente.\r\nSLRY - Conta-Salário.\r\nSVGS - Conta de Poupança.\r\nTRAN - Conta de Pagamento pré-paga.","nullable":true}},"additionalProperties":false},"api.openbanking.reports.webservice.Api.Models.Receipt.Payment":{"type":"object","properties":{"amount":{"type":"string","description":"Valor da transação.","nullable":true},"currency":{"type":"string","description":"Código da moeda.","nullable":true}},"additionalProperties":false},"api.openbanking.reports.webservice.Api.Models.Receipt.ReceiptPayment":{"type":"object","properties":{"paymentId":{"type":"string","description":"Indentificador único do pagamento informado pela instituição detentora da conta.","nullable":true},"endToEndId":{"type":"string","description":"Indentificador único do pagamento.","nullable":true},"consentId":{"type":"string","description":"Indentificador do consentimento do pagamento.","nullable":true},"creationDateTime":{"type":"string","description":"Data de criação do pagamento.","format":"date-time"},"statusUpdateDateTime":{"type":"string","description":"Data de atualização do pagamento.","format":"date-time"},"status":{"type":"string","description":"Status do pagamento. Podendo ser:\r\n1. RCVD (Received) - Indica que a requisição de pagamento foi recebida com sucesso pela detentora, mas ainda há validações a serem feitas antes de ser submetida para liquidação.\r\n2. PATC (Partially Accepted Technical Correct) - Indica que a transação precisa da confirmação de mais autorizadores para que o processamento do pagamento possa prosseguir.\r\n3. CANC (Cancelled) - Indica que a transação Pix pendente foi cancelada com sucesso pelo usuário antes que fosse confirmada (ACCP) ou rejeitada (RJCT) pela detentora.\r\n4. ACCP( Accepted Customer Profile) - Indica que todas as verificações necessárias já foram realizadas pela detentora e que a transação está pronta para ser enviada para liquidação (no SPI se for Pix para outra instituição ou internamente se for para outra conta na mesma instituição).\r\n5. ACPD (Accepted Clearing Processed) - Indica que a detentora já submeteu a transação para liquidação, mas ainda não tem a confirmação se foi liquidada ou rejeitada.\r\n6. RJCT (Rejected) Indica que a transação foi rejeitada pela detentora ou pelo SPI.\r\n7. ACSC (Accepted Settlement Completed Debitor Account) - Indica que a transação foi efetivada pela detentora ou pelo SPI.\r\n8. PDNG (Pending) - Indica que a detentora reteve temporariamente a transação Pix para análise.\r\n9. SCHD (Scheduled) - Indica que a transação Pix foi agendada com sucesso na detentora.","nullable":true},"localInstrument":{"type":"string","description":"Especifica a forma de iniciação do pagamento:\r\nMANU - Inserção manual de dados da conta transacional\r\nDICT - Inserção manual de chave Pix\r\nQRDN - QR code dinâmico\r\nQRES - QR code estático\r\nINIC - Indica que o recebedor(creditor) contratou o Iniciador de Pagamentos especificamente para realizar iniciações de pagamento em que o beneficiário é previamente conhecido.","nullable":true},"proxy":{"type":"string","description":"Chave Pix do recebedor.","nullable":true},"payment":{"$ref":"#/components/schemas/api.openbanking.reports.webservice.Api.Models.Receipt.Payment"},"creditorAccount":{"$ref":"#/components/schemas/api.openbanking.reports.webservice.Api.Models.Receipt.CreditorAccount"},"creditorDocument":{"type":"string","description":"Documento do creditor.","nullable":true},"creditorName":{"type":"string","description":"Nome do creditor.","nullable":true}},"additionalProperties":false},"api.openbanking.reports.webservice.Api.Models.Receipt.ReceiptRequest":{"required":["publicKey","transactionId"],"type":"object","properties":{"transactionId":{"minLength":1,"type":"string","description":"Identificador do pagamento cujo comprovante deseja recuperar.","example":"d64f4a0c08664565a6d9b30f8b69e115"},"publicKey":{"minLength":1,"type":"string","description":"Chave pública do certificado, que será utilizada para encriptar os dados da resposta. Ela deve ser passada sem os prefixos \"BEGIN CERTIFICATE\" e \"END CERTIFICATE\".\r\nO algoritmo utilizado para encriptação dos dados é RSA_OAEP e a encriptação é o A256GCM. Esses mesmos dados deverão ser utilizados para desencriptação dos dados.","example":"MIIHBDCCBeygAwIBAgIUCkOthNUoLMwsnOuDpyMlwp72wrAwDQYJKoZIhvcNAQELBQAwcTELMAkGA1UEBhMCQlIxHDAaBgNVBAoTE09wZW4gQmFua2luZyBCcmFzaWwxFTATBgNVBAsTDE9wZW4gQmFua2luZzEtMCsGA1UEAxMkT3BlbiBCYW5raW5nIFNBTkRCT1ggSXNzdWluZyBDQSAtIEcxMB4XDTIxMTIwOTE5MTUwMFoXDTIzMDEwODE5MTUwMFowggEmMQswCQYDVQQGEwJCUjELMAkGA1UECBMCU1AxEzARBgNVBAcMClPDo28gUGF1bG8xITAfBgNVBAoTGEJDTyBMVVNPIEJSQVNJTEVJUk8gUy5BLjEtMCsGA1UECxMkNGQyZjg3YTgtOGNmYy01NGIxLWE1YjQtY2EzOTMxOWZjOGM4MSAwHgYDVQQDExdvcGVuZmluYW5jZS5jZWxjb2luLmRldjEXMBUGA1UEBRMONTkxMTgxMzMwMDAxMDAxHTAbBgNVBA8TFFByaXZhdGUgT3JnYW5pemF0aW9uMRMwEQYLKwYBBAGCNzwCAQMTAkJSMTQwMgYKCZImiZPyLGQBARMkZmEzYzFjMGYtYzFkOS00OGUzLWExMDctZDhmZjk3NTc4NjcwMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAsKOpJV0ppKiCl/bSvFTpMoa4ZB59dqSwMEU0O/ulV+Mo9SOU1x86UWhcNh32aw2MW5lWOYzkcZ6tixiAFlDhZ4q/s05UcrQmAsVpBXh9e0CMW27wjGAYQSlgCueZVr9y6p9FpfU9D6SYDoHZMBJTrhUYt+yATKHIk6y/2tXSIfJYNpDhBZq77ZCqcWalwn3ppBa9aw49MjmqHTsJb/Ht6Su292VoDWgRHoNOFuKwYaZVSKRTw8k2mNN2E+zLH8oV1qGpSaNaxZcaJlnCNnw5NRg70SYMjZNtcIppmASt4we8SycXi8krIWFcM9ThSJh1YLw5TIjUZlFwk+pQbayJwwIDAQABo4IC2zCCAtcwDAYDVR0TAQH/BAIwADAdBgNVHQ4EFgQUGSWH/BSgvsuoiRge+2nj/Kih2/4wHwYDVR0jBBgwFoAUhn9YrRf1grZOtAWz+7DOEUPfTL4wTAYIKwYBBQUHAQEEQDA+MDwGCCsGAQUFBzABhjBodHRwOi8vb2NzcC5zYW5kYm94LnBraS5vcGVuYmFua2luZ2JyYXNpbC5vcmcuYnIwSwYDVR0fBEQwQjBAoD6gPIY6aHR0cDovL2NybC5zYW5kYm94LnBraS5vcGVuYmFua2luZ2JyYXNpbC5vcmcuYnIvaXNzdWVyLmNybDAiBgNVHREEGzAZghdvcGVuZmluYW5jZS5jZWxjb2luLmRldjAOBgNVHQ8BAf8EBAMCBaAwEwYDVR0lBAwwCgYIKwYBBQUHAwIwggGhBgNVHSAEggGYMIIBlDCCAZAGCisGAQQBg7ovZAEwggGAMIIBNgYIKwYBBQUHAgIwggEoDIIBJFRoaXMgQ2VydGlmaWNhdGUgaXMgc29sZWx5IGZvciB1c2Ugd2l0aCBSYWlkaWFtIFNlcnZpY2VzIExpbWl0ZWQgYW5kIG90aGVyIHBhcnRpY2lwYXRpbmcgb3JnYW5pc2F0aW9ucyB1c2luZyBSYWlkaWFtIFNlcnZpY2VzIExpbWl0ZWRzIFRydXN0IEZyYW1ld29yayBTZXJ2aWNlcy4gSXRzIHJlY2VpcHQsIHBvc3Nlc3Npb24gb3IgdXNlIGNvbnN0aXR1dGVzIGFjY2VwdGFuY2Ugb2YgdGhlIFJhaWRpYW0gU2VydmljZXMgTHRkIENlcnRpY2ljYXRlIFBvbGljeSBhbmQgcmVsYXRlZCBkb2N1bWVudHMgdGhlcmVpbi4wRAYIKwYBBQUHAgEWOGh0dHA6Ly9jcHMuc2FuZGJveC5wa2kub3BlbmJhbmtpbmdicmFzaWwub3JnLmJyL3BvbGljaWVzMA0GCSqGSIb3DQEBCwUAA4IBAQBIrPhNO6uUOeAofrPKnco+7absg099+/sXYjP7jYl2HAXB6ExpTOrDaM7v/S0YkAqoOHzPoR9c9GG7FP5T44Q5+KDuYNqpcGSN5IW9Aq6agcOg9mqUfJgv4mREQaSLrmhNp6gBIEfRk4Wk3JavUBHWbHcGB5OE0nwP825hOYAnOzPeVk7w54fvH4tfh2ca+U5rXaqyhcLFQkwDn3yAG6KF1SARAD0+s2jsbfOI0QxG0ujP9zDzu/GoMJyDPPOtvP8DZOC/rCjiRuN4EVRymPgF02+OOKDtJLYAxk2i7Z5slR1RiXjU30NBAPbGW8ZtPIg5oBYUoa1ll7c2KKSqNFq1"}},"additionalProperties":false},"api.openbanking.reports.webservice.Api.Models.ReportRequests.ReportRequestsResponse":{"type":"object","properties":{"transactionDateTime":{"type":"string","description":"Data e hora da transação.","format":"date-time"},"userName":{"type":"string","description":"Nome completo do usuário.","nullable":true},"consentId":{"type":"string","description":"Indentificador do consentimento do pagamento.","nullable":true},"protocol":{"type":"string","description":"Identificador único do pagamento.","nullable":true},"endpoint":{"type":"string","description":"Função chamada na API durante a requisição.","nullable":true},"status":{"type":"integer","description":"Código de status HTTP da requisição.","format":"int32","nullable":true},"value":{"type":"number","description":"Valor da transação.","format":"float","nullable":true},"externalNSU":{"type":"integer","description":"Número Sequencial Único. Utilize-o para relacionar a transação de pagamento às suas operações internas.","format":"int32"},"externalTerminal":{"type":"integer","description":"Outro número Sequencial Único que pode ser utilizado para relacionar a transação de pagamento às suas operações internas.","format":"int32","nullable":true}},"additionalProperties":false,"description":"Retorna as requisições realizadas nos endpoints do ITP."},"api.openbanking.reports.webservice.Core.Enums.TransactionStatusEnum":{"enum":["ACCC","ACSC","ACSP","PDNG","RJCT"],"type":"string","description":"Status da transação.\r\nTipos de status:\r\nPDNG (PENDING) - Iniciação de pagamento ou transação de pagamento está pendente. Checagens adicionais em realização.\r\nPART(PARTIALLY ACCEPTED) - Aguardando autorização múltipla alçada.\r\nACSP(ACCEPTED_SETTLEMENT_IN_PROCESS) - Iniciação de pagamento aceita e processamento do pagamento foi iniciado.\r\nACSC(ACCEPTED_SETTLEMENT_COMPLETED_DEBITOR_ACCOUNT) - Débito realizado na conta do pagador.\r\nACCC(ACCEPTED_SETTLEMENT_COMPLETED) - Crédito realizado na instituição de destino.\r\nRJCT (REJECTED) - Instrução de pagamento rejeitada."},"api.openbanking.reports.webservice.Core.Exceptions.ApiError":{"type":"object","properties":{"ErrorCode":{"type":"string","description":"Código do erro.","nullable":true},"ErrorMessage":{"type":"string","description":"Descrição do erro.","nullable":true}},"additionalProperties":false,"description":"Api error object"},"api.openbanking.reports.webservice.Core.Exceptions.ResponseMessage":{"type":"object","properties":{"Message":{"type":"string","description":"Mensagem da resposta.","nullable":true}},"additionalProperties":false,"description":"Objeto da mensagem de resposta."},"api.openbanking.reports.webservice.Core.Models.Payments.Payment":{"type":"object","properties":{"protocolId":{"type":"string","description":"Identificador único do pagamento.","nullable":true},"endToEndId":{"type":"string","description":"Identificador único da operação enviada ao SPI.","nullable":true},"transactionId":{"type":"string","description":"Identificador único do pagamento.","nullable":true},"pixType":{"type":"string","description":"Tipo da transação Pix.\r\nAs transações via Pix podem ser realizadas por meio de:\r\nQRDN - QRCode dinâmico\r\nQRES - QRCode estático\r\nDICT - Chave Pix\r\nINIC - Indica que o recebedor (creditor) contratou o Iniciador de Pagamentos especificamente para realizar transações de pagamento em que o beneficiário é previamente conhecido.","nullable":true},"user":{"type":"string","description":"CPF ou CNPJ do usuário iniciador da transação de pagamento.","nullable":true},"receiverDocument":{"type":"string","description":"CPF ou CNPJ do usuário recebedor do pagamento.","nullable":true},"paymentMethod":{"type":"string","description":"Método de pagamento selecionado pelo usuário iniciador da transação. Por hora apenas Pix.","nullable":true},"paymentDate":{"type":"string","description":"Data efetiva do pagamento.","format":"date-time"},"transactionStatus":{"$ref":"#/components/schemas/api.openbanking.reports.webservice.Core.Enums.TransactionStatusEnum"},"value":{"type":"number","description":"Valor pago.","format":"double"},"currency":{"type":"string","description":"Moeda utilizada no pagamento. Atualmente, todos os valores monetários informados estão representados com a moeda vigente do Br (BRL).","nullable":true},"clientTransactionId":{"type":"string","description":"Identificação da transação que será retransmitida ao gerar a ordem de pagamento. Utilize para relacionar a transação de pagamento às suas operações internas.","nullable":true}},"additionalProperties":false},"api.openbanking.reports.webservice.Core.Models.Payments.ReportPayments.ReportPaymentsResponse":{"type":"object","properties":{"listPayments":{"type":"array","items":{"$ref":"#/components/schemas/api.openbanking.reports.webservice.Core.Models.Payments.Payment"},"description":"Lista de pagamentos realizados.","nullable":true},"totalAmount":{"type":"number","description":"Valor total a receber em sua conta bolsão em relação ao período considerado.","format":"double"},"paymentNumber":{"type":"integer","description":"Quantidade de pagamentos realizados no período considerado.","format":"int32"}},"additionalProperties":false,"description":"Response do Report Payments"}},"securitySchemes":{"Bearer":{"type":"http","description":"Digite 'Bearer' seguida de seu token.","scheme":"Bearer"}}},"security":[{"Bearer":[]}],"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}