{"openapi":"3.0.1","info":{"title":"Servico de Consulta de Dados Bancarios","description":"","version":"1.0.0"},"servers":[{"url":"https://sandbox.openfinance.celcoin.dev/openbanking/dictquery/v1"},{"url":"https://api.openfinance.celcoin.com.br/openbanking/dictquery/v1"}],"paths":{"/checkout":{"post":{"tags":["Dados de Checkout"],"summary":"Consultar informações para o pagamento","description":"Retorna as informações do pagamento a ser realizado. Por conter informações sensíveis, a chave pública passada como parâmetro será utilizada para criptografar as informações. Assim, o retorno será uma string que precisará ser descriptografada para que as variáveis possam ser acessadas conforme especificado abaixo.\r\n            <br /><br><strong>Importante:</strong> utilize este endpoint apenas para pagamentos via Chave Pix ou QRCode (estático ou dinâmico). Para Pix INIC e Manual não é necessário pois você já tem disponível todas as informações para montar a tela de checkout.","requestBody":{"description":"Objeto com as informações necessárias a serem buscadas.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/api.celcoinapi.dictquery.webservice.Models.Checkout.CheckoutDataRequest"}}}},"responses":{"200":{"description":"Retorna as informações encriptadas do pagamento a ser realizado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/api.celcoinapi.dictquery.webservice.Models.Checkout.CheckoutData"}}}},"401":{"description":"Usuário não autorizado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/api.celcoinapi.dictquery.webservice.Models.ErrorModel"}}}},"500":{"description":"Exceção não esperada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/api.celcoinapi.dictquery.webservice.Models.ErrorModel"}}}}}}}},"components":{"schemas":{"api.celcoinapi.dictquery.webservice.Models.Checkout.CheckoutData":{"type":"object","properties":{"pixKey":{"type":"string","description":"Chave Pix.","nullable":true},"qrCode":{"type":"string","description":"QR Code.","nullable":true},"transactionIdentification":{"type":"string","description":"Identificador da transação.","nullable":true},"pixType":{"type":"string","description":"Tipo da transacao pix:\r\nQRDN - QrCode Dinamico\r\nQRES - QrCode Estatico\r\nDICT - Chave Pix\r\nINIC - Indica que o recebedor (creditor) contratou o Iniciador de Pagamentos especificamente para realizar iniciações de pagamento em que o beneficiário é previamente conhecido.","nullable":true},"institutionName":{"type":"string","description":"Nome da instituição bancária da conta do recebedor.","nullable":true},"accountIspb":{"type":"string","description":"ISPB do banco da conta do recebedor.","nullable":true},"accountIssuer":{"type":"string","description":"Agência da conta do recebedor.","nullable":true},"accountNumber":{"type":"string","description":"Número da conta do recebedor.","nullable":true},"accountType":{"type":"string","description":"Tipo da conta do recebedor.","nullable":true},"personDocument":{"type":"string","description":"Documento da pessoa do recebedor.","nullable":true},"personName":{"type":"string","description":"Nome do recebedor.","nullable":true},"personType":{"type":"string","description":"Tipo do recebedor.\r\n- PESSOA_NATURAL\r\n- PESSOA_JURIDICA","nullable":true},"endToEndId":{"type":"string","description":"Identificador único da operação enviada ao SPI.","nullable":true},"amount":{"type":"string","description":"Valor da transação do QRCode.","nullable":true},"statistics":{"$ref":"#/components/schemas/api.celcoinapi.dictquery.webservice.Models.Checkout.StatisticsObj"}},"additionalProperties":false,"description":"Modelo de dados da conta a ser criptografado."},"api.celcoinapi.dictquery.webservice.Models.Checkout.CheckoutDataRequest":{"required":["pixCode","publicKey"],"type":"object","properties":{"pixCode":{"minLength":1,"type":"string","description":"Chave Pix ou QrCode a ser consultado. Para testes em Sandbox, deve-se utilizar a chave Pix \"testepix@celcoin.com\".","example":"testepix@celcoin.com"},"publicKey":{"minLength":1,"type":"string","description":"Chave pública do certificado, que será utilizada para encriptar os dados da resposta. Ela deve ser passada sem os prefixos \"BEGIN CERTIFICATE\" e \"END CERTIFICATE\".\r\nO algoritmo utilizado para encriptação dos dados é RSA_OAEP e a encriptação é o A256GCM. Esses mesmos dados deverão ser utilizados para desencriptação dos dados.","example":"MIIHBDCCBeygAwIBAgIUCkOthNUoLMwsnOuDpyMlwp72wrAwDQYJKoZIhvcNAQEL\nBQAwcTELMAkGA1UEBhMCQlIxHDAaBgNVBAoTE09wZW4gQmFua2luZyBCcmFzaWwx\nFTATBgNVBAsTDE9wZW4gQmFua2luZzEtMCsGA1UEAxMkT3BlbiBCYW5raW5nIFNB\nTkRCT1ggSXNzdWluZyBDQSAtIEcxMB4XDTIxMTIwOTE5MTUwMFoXDTIzMDEwODE5\nMTUwMFowggEmMQswCQYDVQQGEwJCUjELMAkGA1UECBMCU1AxEzARBgNVBAcMClPD\no28gUGF1bG8xITAfBgNVBAoTGEJDTyBMVVNPIEJSQVNJTEVJUk8gUy5BLjEtMCsG\nA1UECxMkNGQyZjg3YTgtOGNmYy01NGIxLWE1YjQtY2EzOTMxOWZjOGM4MSAwHgYD\nVQQDExdvcGVuZmluYW5jZS5jZWxjb2luLmRldjEXMBUGA1UEBRMONTkxMTgxMzMw\nMDAxMDAxHTAbBgNVBA8TFFByaXZhdGUgT3JnYW5pemF0aW9uMRMwEQYLKwYBBAGC\nNzwCAQMTAkJSMTQwMgYKCZImiZPyLGQBARMkZmEzYzFjMGYtYzFkOS00OGUzLWEx\nMDctZDhmZjk3NTc4NjcwMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA\nsKOpJV0ppKiCl/bSvFTpMoa4ZB59dqSwMEU0O/ulV+Mo9SOU1x86UWhcNh32aw2M\nW5lWOYzkcZ6tixiAFlDhZ4q/s05UcrQmAsVpBXh9e0CMW27wjGAYQSlgCueZVr9y\n6p9FpfU9D6SYDoHZMBJTrhUYt+yATKHIk6y/2tXSIfJYNpDhBZq77ZCqcWalwn3p\npBa9aw49MjmqHTsJb/Ht6Su292VoDWgRHoNOFuKwYaZVSKRTw8k2mNN2E+zLH8oV\n1qGpSaNaxZcaJlnCNnw5NRg70SYMjZNtcIppmASt4we8SycXi8krIWFcM9ThSJh1\nYLw5TIjUZlFwk+pQbayJwwIDAQABo4IC2zCCAtcwDAYDVR0TAQH/BAIwADAdBgNV\nHQ4EFgQUGSWH/BSgvsuoiRge+2nj/Kih2/4wHwYDVR0jBBgwFoAUhn9YrRf1grZO\ntAWz+7DOEUPfTL4wTAYIKwYBBQUHAQEEQDA+MDwGCCsGAQUFBzABhjBodHRwOi8v\nb2NzcC5zYW5kYm94LnBraS5vcGVuYmFua2luZ2JyYXNpbC5vcmcuYnIwSwYDVR0f\nBEQwQjBAoD6gPIY6aHR0cDovL2NybC5zYW5kYm94LnBraS5vcGVuYmFua2luZ2Jy\nYXNpbC5vcmcuYnIvaXNzdWVyLmNybDAiBgNVHREEGzAZghdvcGVuZmluYW5jZS5j\nZWxjb2luLmRldjAOBgNVHQ8BAf8EBAMCBaAwEwYDVR0lBAwwCgYIKwYBBQUHAwIw\nggGhBgNVHSAEggGYMIIBlDCCAZAGCisGAQQBg7ovZAEwggGAMIIBNgYIKwYBBQUH\nAgIwggEoDIIBJFRoaXMgQ2VydGlmaWNhdGUgaXMgc29sZWx5IGZvciB1c2Ugd2l0\naCBSYWlkaWFtIFNlcnZpY2VzIExpbWl0ZWQgYW5kIG90aGVyIHBhcnRpY2lwYXRp\nbmcgb3JnYW5pc2F0aW9ucyB1c2luZyBSYWlkaWFtIFNlcnZpY2VzIExpbWl0ZWRz\nIFRydXN0IEZyYW1ld29yayBTZXJ2aWNlcy4gSXRzIHJlY2VpcHQsIHBvc3Nlc3Np\nb24gb3IgdXNlIGNvbnN0aXR1dGVzIGFjY2VwdGFuY2Ugb2YgdGhlIFJhaWRpYW0g\nU2VydmljZXMgTHRkIENlcnRpY2ljYXRlIFBvbGljeSBhbmQgcmVsYXRlZCBkb2N1\nbWVudHMgdGhlcmVpbi4wRAYIKwYBBQUHAgEWOGh0dHA6Ly9jcHMuc2FuZGJveC5w\na2kub3BlbmJhbmtpbmdicmFzaWwub3JnLmJyL3BvbGljaWVzMA0GCSqGSIb3DQEB\nCwUAA4IBAQBIrPhNO6uUOeAofrPKnco+7absg099+/sXYjP7jYl2HAXB6ExpTOrD\naM7v/S0YkAqoOHzPoR9c9GG7FP5T44Q5+KDuYNqpcGSN5IW9Aq6agcOg9mqUfJgv\n4mREQaSLrmhNp6gBIEfRk4Wk3JavUBHWbHcGB5OE0nwP825hOYAnOzPeVk7w54fv\nH4tfh2ca+U5rXaqyhcLFQkwDn3yAG6KF1SARAD0+s2jsbfOI0QxG0ujP9zDzu/Go\nMJyDPPOtvP8DZOC/rCjiRuN4EVRymPgF02+OOKDtJLYAxk2i7Z5slR1RiXjU30NB\nAPbGW8ZtPIg5oBYUoa1ll7c2KKSqNFq1"}},"additionalProperties":false,"description":"Modelo de Requisição para buscar os dados do checkout."},"api.celcoinapi.dictquery.webservice.Models.Checkout.Counter":{"type":"object","properties":{"type":{"type":"string","description":"Tipo do contador:\r\nSETTLEMENTS - liquidações recebidas\r\nREPORTED_FRAUDS - fraudes reportadas para essa chave\r\nCONFIRMED_FRAUDS - fraudes que foram reportadas e confirmadas pelo PSP que detém a chave\r\nREJECTED - transações rejeitadas.","nullable":true},"by":{"type":"string","description":"Agregador (\"KEY\", \"OWNER\", \"ACCOUNT\").","nullable":true},"d3":{"type":"string","description":"Valor dos últimos 3 dias.","nullable":true},"d30":{"type":"string","description":"Valor dos últimos 30 dias.","nullable":true},"m6":{"type":"string","description":"Valor dos últimos 6 meses (sem contar o mês atual).","nullable":true}},"additionalProperties":false},"api.celcoinapi.dictquery.webservice.Models.Checkout.StatisticsObj":{"type":"object","properties":{"lastUpdated":{"type":"string","description":"Data e hora da última atualização dos dados antifraude.","format":"date-time"},"counters":{"type":"array","items":{"$ref":"#/components/schemas/api.celcoinapi.dictquery.webservice.Models.Checkout.Counter"},"description":"Lista de eventos referente aos dados antifraude.","nullable":true}},"additionalProperties":false},"api.celcoinapi.dictquery.webservice.Models.ErrorModel":{"type":"object","properties":{"errorCode":{"type":"integer","description":"Código do erro.","format":"int32"},"errorMessage":{"type":"string","description":"Descrição do erro.","nullable":true}},"additionalProperties":false}},"securitySchemes":{"Bearer":{"type":"http","description":"Digite seu token.","scheme":"bearer"}}},"security":[{"Bearer":[]}],"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}