{"openapi":"3.1.0","info":{"title":"Transferências","version":"2.0.0"},"servers":[{"url":"https://sandbox.openfinance.celcoin.dev"}],"components":{"securitySchemes":{"sec0":{"type":"oauth2","flows":{}}}},"security":[{"sec0":[]}],"paths":{"/v5/transactions/banktransfer":{"post":{"summary":"Efetuar uma transferência bancária","description":"Essa API possibilita que seja realizada uma transferência da sua conta bolsão Celcoin para outra instituição financeira.Para saber como implementar essa API criamos o [artigo](https://developers.celcoin.com.br/docs/sobre-as-transfer%C3%AAncias).Mapeamos também os possíveis erros que essa API pode retornar nesse [artigo](https://developers.celcoin.com.br/docs/tabela-de-erros). Recomendamos que os campos sejam preenchidos conforme suas descriçōes.","operationId":"efetuar-uma-transferência-bancária","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["document","value","institutionIspb"],"properties":{"document":{"type":"string","description":"Cadastro pessoa física ou jurídica do favorecido(CPF ou CNPJ). Este campo deve ser preenchido sem nenhum caracter especial e precisa ter 11 digitos.","default":"13935893000109"},"externalTerminal":{"type":"string","description":"Terminal de identificação externa do sistema do cliente, Ex: CPF."},"externalNSU":{"type":"integer","description":"Identificador da transação do sistema cliente.","format":"int64"},"accountCode":{"type":"string","description":"Número da conta.","default":"379424"},"digitCode":{"type":"string","description":"Digíto da conta.","default":"5"},"branchCode":{"type":"string","description":"Número da agência.","default":"30"},"institutionCode":{"type":"integer","description":"Código do banco. Deve ter 3 digitos","default":208,"format":"int32"},"name":{"type":"string","description":"Nome do favorecido."},"value":{"type":"number","description":"Valor da transação.","default":50,"format":"double"},"bankAccountType":{"type":"string","description":"Identificação da conta (Enviar \"CC\" para conta corrente ou \"CP\" para conta poupança).","default":"CC"},"institutionIspb":{"type":"string","description":"Ispb identificador da instituição participante do Pix. Veja a relação desses códigos [aqui](https://www.bcb.gov.br/pom/spb/estatistica/port/ASTR003.pdf).","default":"30306294"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Ok":{"value":"{\n  \"authenticationAPI\": {\n    \"bloco1\": \"CC.D7.0F.AF.BF.76.8B.D8\",\n    \"bloco2\": \"E3.30.DC.BF.C5.FB.5F.54\",\n    \"blocoCompleto\": \"CC.D7.0F.AF.BF.76.8B.D8.E3.30.DC.BF.C5.FB.5F.54\"\n  },\n  \"receipt\": {\n    \"receiptData\": \"\",\n    \"receiptformatted\": \"                 IS2B \\r\\n           PAGUESUACONTA.COM\\r\\n               IS2B TESTE\\r\\n          PROTOCOLO 0007110444\\r\\n1          24/06/2021        19:59\\r\\nTERM 228005 AGENTE 228005 AUTE 03973\\r\\n----------------------------------------\\r\\nAUTO 931554               TRANSFERENCIA\\r\\n \\r\\nCODIGO BANCO: 341\\r\\nAGENCIA: 371\\r\\nCONTA: 1232\\r\\nNOME: FULANO DE TAL\\r\\nCPF/CNPJ: 37141268804\\r\\nVALOR: 50,00\\r\\n \\r\\n----------------------------------------\\r\\n              AUTENTICACAO\\r\\n        66.90.12.35.14.7A.87.88\\r\\n        59.8F.C9.E5.BE.61.7B.06\\r\\n----------------------------------------\\r\\n\"\n  },\n  \"destinationAccountData\": {\n    \"agency\": 371,\n    \"institutionCode\": 341,\n    \"account\": 123,\n    \"accountVerifierDigit\": \"2\",\n    \"document\": \"11122233344\",\n    \"institutionName\": \"BANCO ITAU S.A.\",\n    \"fullName\": \"Fulano de tal\",\n    \"bankAccountType\": 0,\n    \"documentType\": \"cpf\",\n    \"value\": 50\n  },\n  \"createDate\": \"2021-06-24T11:31:10\",\n  \"dateNextLiquidation\": \"2021-06-25T11:31:10\",\n  \"nextSettle\": true,\n  \"transactionId\": 7110444,\n  \"endToEnd\": \"E1393589320211025185700524045867\",\n  \"urlreceipt\": \"https://www.celcoin.com.br\",\n  \"errorCode\": \"000\",\n  \"message\": \"SUCESSO\",\n  \"status\": 0\n}"}},"schema":{"type":"object","properties":{"authenticationAPI":{"type":"object","properties":{"bloco1":{"type":"string","example":"CC.D7.0F.AF.BF.76.8B.D8"},"bloco2":{"type":"string","example":"E3.30.DC.BF.C5.FB.5F.54"},"blocoCompleto":{"type":"string","example":"CC.D7.0F.AF.BF.76.8B.D8.E3.30.DC.BF.C5.FB.5F.54"}}},"receipt":{"type":"object","properties":{"receiptData":{"type":"string","example":""},"receiptformatted":{"type":"string","example":"                 IS2B \r\n           PAGUESUACONTA.COM\r\n               IS2B TESTE\r\n          PROTOCOLO 0007110444\r\n1          24/06/2021        19:59\r\nTERM 228005 AGENTE 228005 AUTE 03973\r\n----------------------------------------\r\nAUTO 931554               TRANSFERENCIA\r\n \r\nCODIGO BANCO: 341\r\nAGENCIA: 371\r\nCONTA: 1232\r\nNOME: FULANO DE TAL\r\nCPF/CNPJ: 37141268804\r\nVALOR: 50,00\r\n \r\n----------------------------------------\r\n              AUTENTICACAO\r\n        66.90.12.35.14.7A.87.88\r\n        59.8F.C9.E5.BE.61.7B.06\r\n----------------------------------------\r\n"}}},"destinationAccountData":{"type":"object","properties":{"agency":{"type":"integer","example":371,"default":0},"institutionCode":{"type":"integer","example":341,"default":0},"account":{"type":"integer","example":123,"default":0},"accountVerifierDigit":{"type":"string","example":"2"},"document":{"type":"string","example":"11122233344"},"institutionName":{"type":"string","example":"BANCO ITAU S.A."},"fullName":{"type":"string","example":"Fulano de tal"},"bankAccountType":{"type":"integer","example":0,"default":0},"documentType":{"type":"string","example":"cpf"},"value":{"type":"integer","example":50,"default":0}}},"createDate":{"type":"string","example":"2021-06-24T11:31:10"},"dateNextLiquidation":{"type":"string","example":"2021-06-25T11:31:10"},"nextSettle":{"type":"boolean","example":true,"default":true},"transactionId":{"type":"integer","example":7110444,"default":0},"endToEnd":{"type":"string","example":"E1393589320211025185700524045867"},"urlreceipt":{"type":"string","example":"https://www.celcoin.com.br"},"errorCode":{"type":"string","example":"000"},"message":{"type":"string","example":"SUCESSO"},"status":{"type":"integer","example":0,"default":0}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"EXCEDE LIMITE":{"value":"{\n  \"errorCode\": \"050\",\n  \"message\": \"EXCEDE LIMITE\"\n}"},"Transação Já Efetuada nos últimos 60 segundos":{"value":"{\n  \"errorCode\": \"999\",\n  \"message\": \"Transação Já Efetuada nos últimos 60 segundos\"\n}"}},"schema":{"oneOf":[{"title":"EXCEDE LIMITE","type":"object","properties":{"errorCode":{"type":"string","example":"050"},"message":{"type":"string","example":"EXCEDE LIMITE"}}},{"title":"Transação Já Efetuada nos últimos 60 segundos","type":"object","properties":{"errorCode":{"type":"string","example":"999"},"message":{"type":"string","example":"Transação Já Efetuada nos últimos 60 segundos"}}}]}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Unauthorized":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Internal server error":{"value":""}}}}}},"deprecated":false}},"/v5/transactions/banktransfer/status-transfer/{transactionId}":{"get":{"summary":"Consultar status de uma transferência","description":"Essa API possibilita que seja realizado a consulta de uma transferência a partir de seu id.","operationId":"consulta-o-status-de-uma-transferência","parameters":[{"name":"transactionId","in":"path","description":"ID da transação para a consulta","schema":{"type":"integer","format":"int32"},"required":true},{"name":"nsuExterno","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"terminalIdExterno","in":"query","schema":{"type":"string"}},{"name":"dataOperacao","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/v5/merchant/balance":{"get":{"summary":"Retornar informações do seu saldo atual","description":"Esta API retorna informações pertinentes ao saldo de sua conta. Todos os dias, a Celcoin realiza a conciliação dos pagamentos. Para identificar que esse processo está em andamento, criamos o atributo 'reconcileExecuting', onde são retornados os valores 'S' ou 'N'. Caso seja apresentado 'S', significa que o processo está em execução, portanto, recomendamos que os valores dos atributos 'balance', 'credit' e 'consumed' sejam desconsiderados, pois, como a conciliação está em execução, se usados os valores para conciliação em sua aplicação, provavelmente ocorrerão erros no batimento","operationId":"retorna-as-informações-do-seu-saldo-atual","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"anticipated\": 1000,\n  \"reconcileExecuting\": \"N\",\n  \"consumed\": 29105.54,\n  \"credit\": 100000,\n  \"balance\": 70894.46,\n  \"erroCode\": \"000\",\n  \"message\": \"SUCESSO\",\n  \"status\": 0\n}"}},"schema":{"type":"object","properties":{"anticipated":{"type":"integer","example":1000,"default":0},"reconcileExecuting":{"type":"string","example":"N"},"consumed":{"type":"number","example":29105.54,"default":0},"credit":{"type":"integer","example":100000,"default":0},"balance":{"type":"number","example":70894.46,"default":0},"erroCode":{"type":"string","example":"000"},"message":{"type":"string","example":"SUCESSO"},"status":{"type":"integer","example":0,"default":0}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"message\": \"Ocorreu um erro inesperado\",\n  \"errorCode\": \"999\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Ocorreu um erro inesperado"},"errorCode":{"type":"string","example":"999"}}}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Unauthorized":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Internal server error":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/v5/transactions/status-consult":{"get":{"summary":"Recuperar detalhes de uma transação","description":"Essa api possibilita que seja recuperado detalhes de uma transação por meio de seu transactionId ou pela data da transação e identificadores externos","operationId":"recupere-detalhes-de-uma-transação","parameters":[{"name":"transactionId","in":"query","description":"ID da transação para a consulta","schema":{"type":"integer","format":"int32"}},{"name":"externalNSU","in":"query","description":"Identificador da transação do sistema cliente","schema":{"type":"integer","format":"int64"}},{"name":"externalTerminal","in":"query","description":"Terminal de identificação externa do sistema do cliente","schema":{"type":"string"}},{"name":"operationDate","in":"query","description":"Data da operação","schema":{"type":"string","default":"0001-01-01T00:00:00"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"transaction\": {\n    \"authentication\": 0,\n    \"errorCode\": \"061\",\n    \"createDate\": \"0001-01-01T00:00:00\",\n    \"message\": \"Transacao nao encontrada\",\n    \"externalNSU\": null,\n    \"transactionId\": 1,\n    \"status\": 1,\n    \"externalTerminal\": null\n  },\n  \"errorCode\": \"000\",\n  \"message\": \"SUCESSO\",\n  \"status\": 0\n}"}},"schema":{"type":"object","properties":{"transaction":{"type":"object","properties":{"authentication":{"type":"integer","example":0,"default":0},"errorCode":{"type":"string","example":"061"},"createDate":{"type":"string","example":"0001-01-01T00:00:00"},"message":{"type":"string","example":"Transacao nao encontrada"},"externalNSU":{},"transactionId":{"type":"integer","example":1,"default":0},"status":{"type":"integer","example":1,"default":0},"externalTerminal":{}}},"errorCode":{"type":"string","example":"000"},"message":{"type":"string","example":"SUCESSO"},"status":{"type":"integer","example":0,"default":0}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Erro inesperado":{"value":"{\n  \"message\": \"Ocorreu um erro inesperado\",\n  \"errorCode\": \"999\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Ocorreu um erro inesperado"},"errorCode":{"type":"string","example":"999"}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Unauthorized":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"500":{"description":"500","content":{"text/plain":{"examples":{"Internal server error":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/v5/transactions/receipt/{transactionId}":{"get":{"summary":"Obter comprovante de uma transação","description":"","operationId":"obter-um-comprovante-de-uma-transação","parameters":[{"name":"transactionId","in":"path","description":"ID da transação para a consulta.","schema":{"type":"string","default":"7098104"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"isExpired\": true,\n  \"convenant\": \"CELCOIN\",\n  \"authentication\": 3470,\n  \"receipt\": {\n    \"receiptData\": \"\",\n    \"receiptformatted\": \"          PROTOCOLO 0007098104\\r\\n1          24/06/2021        17:49\\r\\nTERM 228005 AGENTE 228005 AUTE 06153\\r\\n----------------------------------------\\r\\nAUTO 919755                   PAGAMENTO\\r\\n                    \\r\\n              GENERICA CC\\r\\n      82610000000-7 30700022001-1      \\r\\n         06104045000-1 03202180003-5\\r\\n----------------------------------------\\r\\nDATA DE LIQUIDACAO           24/06/2021\\r\\nVALOR COBRADO                     30,70\\r\\n\\r\\n    VALIDO COMO RECIBO DE PAGAMENTO\\r\\n----------------------------------------\\r\\n              AUTENTICACAO\\r\\n        2D.46.A6.46.99.A4.22.2D\\r\\n        86.32.67.47.DC.B8.B8.E1\\r\\n----------------------------------------\\r\\n \\r\\nCONSULTE A AUTENTICA??O EM:\\r\\nCELCOIN.COM.BR/AUTENTICACAO\\r\\n\\r\\n\"\n  },\n  \"authenticationAPI\": {\n    \"bloco1\": \"CC.D7.0F.AF.BF.76.8B.D8\",\n    \"bloco2\": \"E3.30.DC.BF.C5.FB.5F.54\",\n    \"blocoCompleto\": \"CC.D7.0F.AF.BF.76.8B.D8.E3.30.DC.BF.C5.FB.5F.54\"\n  },\n  \"settleDate\": \"2021-06-24T00:00:00\",\n  \"createDate\": \"2021-06-24T11:31:10\",\n  \"transactionId\": 7098104,\n  \"urlreceipt\": \"https://www.celcoin.com.br\",\n  \"errorCode\": \"000\",\n  \"message\": \"SUCESSO\",\n  \"status\": 0\n}"}},"schema":{"type":"object","properties":{"isExpired":{"type":"boolean","example":true,"default":true},"convenant":{"type":"string","example":"CELCOIN"},"authentication":{"type":"integer","example":3470,"default":0},"receipt":{"type":"object","properties":{"receiptData":{"type":"string","example":""},"receiptformatted":{"type":"string","example":"          PROTOCOLO 0007098104\r\n1          24/06/2021        17:49\r\nTERM 228005 AGENTE 228005 AUTE 06153\r\n----------------------------------------\r\nAUTO 919755                   PAGAMENTO\r\n                    \r\n              GENERICA CC\r\n      82610000000-7 30700022001-1      \r\n         06104045000-1 03202180003-5\r\n----------------------------------------\r\nDATA DE LIQUIDACAO           24/06/2021\r\nVALOR COBRADO                     30,70\r\n\r\n    VALIDO COMO RECIBO DE PAGAMENTO\r\n----------------------------------------\r\n              AUTENTICACAO\r\n        2D.46.A6.46.99.A4.22.2D\r\n        86.32.67.47.DC.B8.B8.E1\r\n----------------------------------------\r\n \r\nCONSULTE A AUTENTICA??O EM:\r\nCELCOIN.COM.BR/AUTENTICACAO\r\n\r\n"}}},"authenticationAPI":{"type":"object","properties":{"bloco1":{"type":"string","example":"CC.D7.0F.AF.BF.76.8B.D8"},"bloco2":{"type":"string","example":"E3.30.DC.BF.C5.FB.5F.54"},"blocoCompleto":{"type":"string","example":"CC.D7.0F.AF.BF.76.8B.D8.E3.30.DC.BF.C5.FB.5F.54"}}},"settleDate":{"type":"string","example":"2021-06-24T00:00:00"},"createDate":{"type":"string","example":"2021-06-24T11:31:10"},"transactionId":{"type":"integer","example":7098104,"default":0},"urlreceipt":{"type":"string","example":"https://www.celcoin.com.br"},"errorCode":{"type":"string","example":"000"},"message":{"type":"string","example":"SUCESSO"},"status":{"type":"integer","example":0,"default":0}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"COMPROVANTE INEXISTENTE":{"value":"{\n  \"errorCode\": \"635\",\n  \"message\": \"COMPROVANTE INEXISTENTE PARA O PROTOCOID INFORMADO\"\n}"}},"schema":{"type":"object","properties":{"errorCode":{"type":"string","example":"635"},"message":{"type":"string","example":"COMPROVANTE INEXISTENTE PARA O PROTOCOID INFORMADO"}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Unauthorized":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Internal server error":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/v5/transactions/institutions":{"get":{"summary":"Listar convênios","description":"Com essa API é possível listar todos os convênios de concessionárias e tributos que estão disponíveis para pagamento na base da Celcoin. Além de ser possível saber à quais localidades eles pertencem.","operationId":"obtenha-a-lista-de-convênios","parameters":[{"name":"Type","in":"query","description":"Para quando você quiser filtrar a busca todos os convênios que têm abrangência nacional ou estadual.","schema":{"type":"string","enum":["NACIONAL","ESTADUAL"]}},{"name":"UF","in":"query","description":"Para quando você quiser filtrar a busca com todos convênios que têm abrangência em estados específicos. Para filtrar use o UF. Por exemplo: se quiser saber todos os convênios de São Paulo, você deve filtrar pela UF \"SP\".","schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"OK - Estadual":{"value":"{\n  \"convenants\": [\n    {\n      \"timeLimit\": \"12:00\",\n      \"mask\": \"99______________9999____________________________\",\n      \"nomeconvenant\": \"EXEMPLO 1\",\n      \"type\": \"ESTADUAL\",\n      \"UF\": [\n        \"SP\",\n        \"RJ\"\n      ]\n    }\n  ]\n}"},"OK - Nacional":{"value":"{\n  \"convenants\": [\n    {\n      \"timeLimit\": \"12:00\",\n      \"mask\": \"88______________8888____________________________\",\n      \"nomeconvenant\": \"EXEMPLO 2\",\n      \"type\": \"NACIONAL\",\n      \"UF\": [\n        \"AC\",\n        \"AL\",\n        \"AP\",\n        \"AM\",\n        \"BA\",\n        \"CE\",\n        \"DF\",\n        \"ES\",\n        \"GO\",\n        \"MA\",\n        \"MT\",\n        \"MS\",\n        \"MG\",\n        \"PA\",\n        \"PB\",\n        \"PR\",\n        \"PE\",\n        \"PI\",\n        \"RJ\",\n        \"RN\",\n        \"RS\",\n        \"RO\",\n        \"RR\",\n        \"SC\",\n        \"SP\",\n        \"SE\",\n        \"TO\"\n      ]\n    }\n  ]\n}"}},"schema":{"oneOf":[{"title":"OK - Estadual","type":"object","properties":{"convenants":{"type":"array","items":{"type":"object","properties":{"timeLimit":{"type":"string","example":"12:00"},"mask":{"type":"string","example":"99______________9999____________________________"},"nomeconvenant":{"type":"string","example":"EXEMPLO 1"},"type":{"type":"string","example":"ESTADUAL"},"UF":{"type":"array","items":{"type":"string","example":"SP"}}}}}}},{"title":"OK - Nacional","type":"object","properties":{"convenants":{"type":"array","items":{"type":"object","properties":{"timeLimit":{"type":"string","example":"12:00"},"mask":{"type":"string","example":"88______________8888____________________________"},"nomeconvenant":{"type":"string","example":"EXEMPLO 2"},"type":{"type":"string","example":"NACIONAL"},"UF":{"type":"array","items":{"type":"string","example":"AC"}}}}}}}]}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Unauthorized":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Internal server error":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/v5/transactions/healthcheck":{"get":{"summary":"Retorna a saúde de um determinado tipo de transação","description":"Tipos de transações aceitas:\n\nCONSULTADADOSCONTA para transações /Billpayments/Authorize\nRECEBERCONTA para transações /Billpayments\nRECARGA para transações /Topups\n\nPeriodo:\n0 para 10 minutos\n1 para 1 hora\n2 para 3 horas\n3 para 24 horas","operationId":"retorna-a-saúde-de-um-determinado-tipo-de-transação","parameters":[{"name":"type","in":"query","description":"Nome da transação que deseja consultar","schema":{"type":"string","default":"CONSULTADADOSCONTA"}},{"name":"period","in":"query","description":"Período da consulta","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"healhtcheck\": [\n    {\n      \"kpiAvailability\": \"90\",\n      \"statusKPIAvailability\": \"10\",\n      \"statusAverageTime\": \"10\",\n      \"averageTime\": \"2.5\",\n      \"thresholdKPIAvailabilityDown\": 80,\n      \"thresholdKPIAvailabilityUP\": 99,\n      \"thresholdAverageTimeDown\": 12,\n      \"thresholdAverageTimeUP\": 2.5,\n      \"transaction\": \"CONSULTADADOSCONTA\"\n    }\n  ],\n  \"errorCode\": \"000\",\n  \"message\": \"SUCESSO\",\n  \"status\": 0\n}"}},"schema":{"type":"object","properties":{"healhtcheck":{"type":"array","items":{"type":"object","properties":{"kpiAvailability":{"type":"string","example":"90"},"statusKPIAvailability":{"type":"string","example":"10"},"statusAverageTime":{"type":"string","example":"10"},"averageTime":{"type":"string","example":"2.5"},"thresholdKPIAvailabilityDown":{"type":"integer","example":80,"default":0},"thresholdKPIAvailabilityUP":{"type":"integer","example":99,"default":0},"thresholdAverageTimeDown":{"type":"integer","example":12,"default":0},"thresholdAverageTimeUP":{"type":"number","example":2.5,"default":0},"transaction":{"type":"string","example":"CONSULTADADOSCONTA"}}}},"errorCode":{"type":"string","example":"000"},"message":{"type":"string","example":"SUCESSO"},"status":{"type":"integer","example":0,"default":0}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Erro inesperado":{"value":"{\n  \"message\": \"Ocorreu um erro inesperado\",\n  \"errorCode\": \"999\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Ocorreu um erro inesperado"},"errorCode":{"type":"string","example":"999"}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Unauthorized":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Internal server error":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/v5/transactions/banks":{"get":{"summary":"Listar bancos","description":"","operationId":"gere-a-lista-de-bancos","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Ok":{"value":"{\n  \"banks\": [\n    {\n      \"institutionCode\": 604,\n      \"description\": \"604 - 604 - BANCO INDUSTRIAL DO BRASIL S. A.\",\n      \"institutionName\": \"604 - BANCO INDUSTRIAL DO BRASIL S. A.\"\n    },\n    {\n      \"institutionCode\": 992,\n      \"description\": \"992 - ABBI                                              \",\n      \"institutionName\": \"ABBI                                              \"\n    },\n    {\n      \"institutionCode\": 332,\n      \"description\": \"332 - ACESSO SOLUCOES DE PAGAMENTO S.A.                 \",\n      \"institutionName\": \"ACESSO SOLUCOES DE PAGAMENTO S.A.                 \"\n    },\n    {\n      \"institutionCode\": 117,\n      \"description\": \"117 - ADVANCED CORRETORA DE CAMBIO LTDA                 \",\n      \"institutionName\": \"ADVANCED CORRETORA DE CAMBIO LTDA                 \"\n    },\n    {\n      \"institutionCode\": 123,\n      \"description\": \"123 - AGIPLAN FINANCEIRA S.A. CR0DITO, FINANCIAMENTO E I\",\n      \"institutionName\": \"AGIPLAN FINANCEIRA S.A. CR0DITO, FINANCIAMENTO E I\"\n    },\n    {\n      \"institutionCode\": 272,\n      \"description\": \"272 - AGK Corretora de Cambio S.A.                      \",\n      \"institutionName\": \"AGK Corretora de Cambio S.A.                      \"\n    },\n    {\n      \"institutionCode\": 172,\n      \"description\": \"172 - Albatross Corretora de Cambio e value S.A       \",\n      \"institutionName\": \"Albatross Corretora de Cambio e value S.A       \"\n    },\n    {\n      \"institutionCode\": 349,\n      \"description\": \"349 - AMAGGI S.A. - CREDITO, FINANCIAMENTO E INVESTIMENT\",\n      \"institutionName\": \"AMAGGI S.A. - CREDITO, FINANCIAMENTO E INVESTIMENT\"\n    },\n    {\n      \"institutionCode\": 997,\n      \"description\": \"997 - ASSOCIACAO DE BANCOS ESTADUAIS                    \",\n      \"institutionName\": \"ASSOCIACAO DE BANCOS ESTADUAIS                    \"\n    },\n    {\n      \"institutionCode\": 188,\n      \"description\": \"188 - Ativa Investimentos S.A. Corretora de Titulos Camb\",\n      \"institutionName\": \"Ativa Investimentos S.A. Corretora de Titulos Camb\"\n    },\n    {\n      \"institutionCode\": 280,\n      \"description\": \"280 - Avista S.A. Credito, Financiamento e Investimento \",\n      \"institutionName\": \"Avista S.A. Credito, Financiamento e Investimento \"\n    },\n    {\n      \"institutionCode\": 9,\n      \"description\": \"9   - BACEN                                             \",\n      \"institutionName\": \"BACEN                                             \"\n    },\n    {\n      \"institutionCode\": 654,\n      \"description\": \"654 - BANCO A.J. RENNER S.A.\",\n      \"institutionName\": \"BANCO A.J. RENNER S.A.\"\n    },\n    {\n      \"institutionCode\": 61,\n      \"description\": \"61  - BANCO ABB SA\",\n      \"institutionName\": \"BANCO ABB SA\"\n    },\n    {\n      \"institutionCode\": 246,\n      \"description\": \"246 - BANCO ABC BRASIL S.A.\",\n      \"institutionName\": \"BANCO ABC BRASIL S.A.\"\n    },\n    {\n      \"institutionCode\": 356,\n      \"description\": \"356 - BANCO ABN AMRO S.A.\",\n      \"institutionName\": \"BANCO ABN AMRO S.A.\"\n    },\n    {\n      \"institutionCode\": 25,\n      \"description\": \"25  - BANCO ALFA S/A\",\n      \"institutionName\": \"BANCO ALFA S/A\"\n    },\n    {\n      \"institutionCode\": 621,\n      \"description\": \"621 - BANCO APLICAP S.A.\",\n      \"institutionName\": \"BANCO APLICAP S.A.\"\n    },\n    {\n      \"institutionCode\": 625,\n      \"description\": \"625 - BANCO ARAUCARIA S.A.\",\n      \"institutionName\": \"BANCO ARAUCARIA S.A.\"\n    },\n    {\n      \"institutionCode\": 213,\n      \"description\": \"213 - BANCO ARBI S.A.\",\n      \"institutionName\": \"BANCO ARBI S.A.\"\n    },\n    {\n      \"institutionCode\": 201,\n      \"description\": \"201 - BANCO AXIAL S.A.\",\n      \"institutionName\": \"BANCO AXIAL S.A.\"\n    },\n    {\n      \"institutionCode\": 19,\n      \"description\": \"19  - BANCO AZTECA DO BRASIL S.A.\",\n      \"institutionName\": \"BANCO AZTECA DO BRASIL S.A.\"\n    },\n    {\n      \"institutionCode\": 239,\n      \"description\": \"239 - BANCO BANCRED S.A.\",\n      \"institutionName\": \"BANCO BANCRED S.A.\"\n    },\n    {\n      \"institutionCode\": 230,\n      \"description\": \"230 - BANCO BANDEIRANTES S.A.\",\n      \"institutionName\": \"BANCO BANDEIRANTES S.A.\"\n    },\n    {\n      \"institutionCode\": 67,\n      \"description\": \"67  - BANCO BANEB SA\",\n      \"institutionName\": \"BANCO BANEB SA\"\n    },\n    {\n      \"institutionCode\": 38,\n      \"description\": \"38  - BANCO BANESTADO S.A.\",\n      \"institutionName\": \"BANCO BANESTADO S.A.\"\n    },\n    {\n      \"institutionCode\": 719,\n      \"description\": \"719 - BANCO BANIF PRIMUS S.A.\",\n      \"institutionName\": \"BANCO BANIF PRIMUS S.A.\"\n    },\n    {\n      \"institutionCode\": 740,\n      \"description\": \"740 - BANCO BARCLAYS S.A.\",\n      \"institutionName\": \"BANCO BARCLAYS S.A.\"\n    },\n    {\n      \"institutionCode\": 330,\n      \"description\": \"330 - Banco Bari de Investimentos e Financiamentos S.A  \",\n      \"institutionName\": \"Banco Bari de Investimentos e Financiamentos S.A  \"\n    },\n    {\n      \"institutionCode\": 107,\n      \"description\": \"107 - BANCO BBM S.A\",\n      \"institutionName\": \"BANCO BBM S.A\"\n    },\n    {\n      \"institutionCode\": 267,\n      \"description\": \"267 - BANCO BBM-COM.C.IMOB.CFI S.A.\",\n      \"institutionName\": \"BANCO BBM-COM.C.IMOB.CFI S.A.\"\n    },\n    {\n      \"institutionCode\": 291,\n      \"description\": \"291 - BANCO BCN S.A.\",\n      \"institutionName\": \"BANCO BCN S.A.\"\n    },\n    {\n      \"institutionCode\": 68,\n      \"description\": \"68  - BANCO BEA S.A\",\n      \"institutionName\": \"BANCO BEA S.A\"\n    },\n    {\n      \"institutionCode\": 34,\n      \"description\": \"34  - BANCO BEA S.A.\",\n      \"institutionName\": \"BANCO BEA S.A.\"\n    },\n    {\n      \"institutionCode\": 31,\n      \"description\": \"31  - BANCO BEG S.A.\",\n      \"institutionName\": \"BANCO BEG S.A.\"\n    },\n    {\n      \"institutionCode\": 48,\n      \"description\": \"48  - BANCO BEMGE S.A.\",\n      \"institutionName\": \"BANCO BEMGE S.A.\"\n    },\n    {\n      \"institutionCode\": 122,\n      \"description\": \"122 - BANCO BERJ S.A                                    \",\n      \"institutionName\": \"BANCO BERJ S.A                                    \"\n    },\n    {\n      \"institutionCode\": 739,\n      \"description\": \"739 - BANCO BGN S.A.\",\n      \"institutionName\": \"BANCO BGN S.A.\"\n    },\n    {\n      \"institutionCode\": 641,\n      \"description\": \"641 - BANCO BILBAO VIZCAYA ARGENTARIA BRASIL S\",\n      \"institutionName\": \"BANCO BILBAO VIZCAYA ARGENTARIA BRASIL S\"\n    },\n    {\n      \"institutionCode\": 96,\n      \"description\": \"96  - BANCO BM&F DE SERV. DE LIQUIDAçãO E CUSTODIA S.A  \",\n      \"institutionName\": \"BANCO BM&F DE SERV. DE LIQUIDAçãO E CUSTODIA S.A  \"\n    },\n    {\n      \"institutionCode\": 394,\n      \"description\": \"394 - BANCO BMC S.A.\",\n      \"institutionName\": \"BANCO BMC S.A.\"\n    },\n    {\n      \"institutionCode\": 388,\n      \"description\": \"388 - BANCO BMD S.A.\",\n      \"institutionName\": \"BANCO BMD S.A.\"\n    },\n    {\n      \"institutionCode\": 318,\n      \"description\": \"318 - BANCO BMG S.A.\",\n      \"institutionName\": \"BANCO BMG S.A.\"\n    },\n    {\n      \"institutionCode\": 116,\n      \"description\": \"116 - BANCO BNL DO BRASIL S.A.\",\n      \"institutionName\": \"BANCO BNL DO BRASIL S.A.\"\n    },\n    {\n      \"institutionCode\": 752,\n      \"description\": \"752 - BANCO BNP PARIBAS BRASIL S.A\",\n      \"institutionName\": \"BANCO BNP PARIBAS BRASIL S.A\"\n    },\n    {\n      \"institutionCode\": 248,\n      \"description\": \"248 - BANCO BOA VISTA INTERATLANTICO S.A\",\n      \"institutionName\": \"BANCO BOA VISTA INTERATLANTICO S.A\"\n    },\n    {\n      \"institutionCode\": 231,\n      \"description\": \"231 - BANCO BOAVISTA INTERATLANTICO S.A-EM ABS\",\n      \"institutionName\": \"BANCO BOAVISTA INTERATLANTICO S.A-EM ABS\"\n    },\n    {\n      \"institutionCode\": 218,\n      \"description\": \"218 - BANCO BONSUCESSO S.A.\",\n      \"institutionName\": \"BANCO BONSUCESSO S.A.\"\n    },\n    {\n      \"institutionCode\": 262,\n      \"description\": \"262 - BANCO BOREAL S.A.\",\n      \"institutionName\": \"BANCO BOREAL S.A.\"\n    },\n    {\n      \"institutionCode\": 65,\n      \"description\": \"65  - BANCO BRACCE S.A.\",\n      \"institutionName\": \"BANCO BRACCE S.A.\"\n    },\n    {\n      \"institutionCode\": 237,\n      \"description\": \"237 - BANCO BRADESCO S.A.\",\n      \"institutionName\": \"BANCO BRADESCO S.A.\"\n    },\n    {\n      \"institutionCode\": 225,\n      \"description\": \"225 - BANCO BRASCAN S.A.\",\n      \"institutionName\": \"BANCO BRASCAN S.A.\"\n    },\n    {\n      \"institutionCode\": 282,\n      \"description\": \"282 - BANCO BRASILEIRO COMERCIAL S.A.- BBC\",\n      \"institutionName\": \"BANCO BRASILEIRO COMERCIAL S.A.- BBC\"\n    },\n    {\n      \"institutionCode\": 501,\n      \"description\": \"501 - BANCO BRASILEIRO IRAQUIANO S.A.\",\n      \"institutionName\": \"BANCO BRASILEIRO IRAQUIANO S.A.\"\n    },\n    {\n      \"institutionCode\": 44,\n      \"description\": \"44  - BANCO BVA SA\",\n      \"institutionName\": \"BANCO BVA SA\"\n    },\n    {\n      \"institutionCode\": 336,\n      \"description\": \"336 - Banco C6 S.A.                                     \",\n      \"institutionName\": \"Banco C6 S.A.                                     \"\n    },\n    {\n      \"institutionCode\": 263,\n      \"description\": \"263 - BANCO CACIQUE S.A.\",\n      \"institutionName\": \"BANCO CACIQUE S.A.\"\n    },\n    {\n      \"institutionCode\": 236,\n      \"description\": \"236 - BANCO CAMBIAL SA\",\n      \"institutionName\": \"BANCO CAMBIAL SA\"\n    },\n    {\n      \"institutionCode\": 412,\n      \"description\": \"412 - BANCO CAPITAL S.A.\",\n      \"institutionName\": \"BANCO CAPITAL S.A.\"\n    },\n    {\n      \"institutionCode\": 40,\n      \"description\": \"40  - BANCO CARGILL S.A\",\n      \"institutionName\": \"BANCO CARGILL S.A\"\n    },\n    {\n      \"institutionCode\": 266,\n      \"description\": \"266 - BANCO CEDULA S.A.\",\n      \"institutionName\": \"BANCO CEDULA S.A.\"\n    },\n    {\n      \"institutionCode\": 221,\n      \"description\": \"221 - BANCO CHASE FLEMING S.A.\",\n      \"institutionName\": \"BANCO CHASE FLEMING S.A.\"\n    },\n    {\n      \"institutionCode\": 244,\n      \"description\": \"244 - BANCO CIDADE S.A.\",\n      \"institutionName\": \"BANCO CIDADE S.A.\"\n    },\n    {\n      \"institutionCode\": 713,\n      \"description\": \"713 - BANCO CINDAM S.A.                                 \",\n      \"institutionName\": \"BANCO CINDAM S.A.                                 \"\n    },\n    {\n      \"institutionCode\": 745,\n      \"description\": \"745 - BANCO CITIBANK S.A.\",\n      \"institutionName\": \"BANCO CITIBANK S.A.\"\n    },\n    {\n      \"institutionCode\": 241,\n      \"description\": \"241 - BANCO CLASSICO S.A.\",\n      \"institutionName\": \"BANCO CLASSICO S.A.\"\n    },\n    {\n      \"institutionCode\": 631,\n      \"description\": \"631 - BANCO COLUMBIA S.A.                               \",\n      \"institutionName\": \"BANCO COLUMBIA S.A.                               \"\n    },\n    {\n      \"institutionCode\": 215,\n      \"description\": \"215 - BANCO COMERCIAL E DE INVESTIMENTO SUDAME\",\n      \"institutionName\": \"BANCO COMERCIAL E DE INVESTIMENTO SUDAME\"\n    },\n    {\n      \"institutionCode\": 753,\n      \"description\": \"753 - BANCO COMERCIAL URUGUAI S.A.\",\n      \"institutionName\": \"BANCO COMERCIAL URUGUAI S.A.\"\n    },\n    {\n      \"institutionCode\": 756,\n      \"description\": \"756 - BANCO COOPERATIVO DO BRASIL S.A.\",\n      \"institutionName\": \"BANCO COOPERATIVO DO BRASIL S.A.\"\n    },\n    {\n      \"institutionCode\": 748,\n      \"description\": \"748 - BANCO COOPERATIVO SICREDI S.A. - BANSICR\",\n      \"institutionName\": \"BANCO COOPERATIVO SICREDI S.A. - BANSICR\"\n    },\n    {\n      \"institutionCode\": 75,\n      \"description\": \"75  - BANCO CR2 S.A\",\n      \"institutionName\": \"BANCO CR2 S.A\"\n    },\n    {\n      \"institutionCode\": 721,\n      \"description\": \"721 - BANCO CREDIBEL S.A.\",\n      \"institutionName\": \"BANCO CREDIBEL S.A.\"\n    },\n    {\n      \"institutionCode\": 222,\n      \"description\": \"222 - BANCO CREDIT LYONNAIS BRASIL S/A\",\n      \"institutionName\": \"BANCO CREDIT LYONNAIS BRASIL S/A\"\n    },\n    {\n      \"institutionCode\": 505,\n      \"description\": \"505 - BANCO CREDIT SUISSE FIRST BOSTON S.A.\",\n      \"institutionName\": \"BANCO CREDIT SUISSE FIRST BOSTON S.A.\"\n    },\n    {\n      \"institutionCode\": 640,\n      \"description\": \"640 - BANCO CREDITO METROPOLITANO S/A\",\n      \"institutionName\": \"BANCO CREDITO METROPOLITANO S/A\"\n    },\n    {\n      \"institutionCode\": 220,\n      \"description\": \"220 - BANCO CREFISUL S.A.\",\n      \"institutionName\": \"BANCO CREFISUL S.A.\"\n    },\n    {\n      \"institutionCode\": 628,\n      \"description\": \"628 - BANCO CRITERIUM S. A.\",\n      \"institutionName\": \"BANCO CRITERIUM S. A.\"\n    },\n    {\n      \"institutionCode\": 229,\n      \"description\": \"229 - BANCO CRUZEIRO DO SUL S.A.\",\n      \"institutionName\": \"BANCO CRUZEIRO DO SUL S.A.\"\n    },\n    {\n      \"institutionCode\": 3,\n      \"description\": \"3   - BANCO DA AMAZONIA S.A.\",\n      \"institutionName\": \"BANCO DA AMAZONIA S.A.\"\n    },\n    {\n      \"institutionCode\": 83,\n      \"description\": \"83  - BANCO DA CHINA BRASIL S.A.                        \",\n      \"institutionName\": \"BANCO DA CHINA BRASIL S.A.                        \"\n    },\n    {\n      \"institutionCode\": 733,\n      \"description\": \"733 - BANCO DAS NACOES S.A.\",\n      \"institutionName\": \"BANCO DAS NACOES S.A.\"\n    },\n    {\n      \"institutionCode\": 707,\n      \"description\": \"707 - BANCO DAYCOVAL S.A.\",\n      \"institutionName\": \"BANCO DAYCOVAL S.A.\"\n    },\n    {\n      \"institutionCode\": 240,\n      \"description\": \"240 - BANCO DE CREDITO REAL DE MINAS GERAIS S.\",\n      \"institutionName\": \"BANCO DE CREDITO REAL DE MINAS GERAIS S.\"\n    },\n    {\n      \"institutionCode\": 300,\n      \"description\": \"300 - BANCO DE LA NACION ARGENTINA\",\n      \"institutionName\": \"BANCO DE LA NACION ARGENTINA\"\n    },\n    {\n      \"institutionCode\": 495,\n      \"description\": \"495 - BANCO DE LA PROVINCIA DE BUENOS AIRES\",\n      \"institutionName\": \"BANCO DE LA PROVINCIA DE BUENOS AIRES\"\n    },\n    {\n      \"institutionCode\": 494,\n      \"description\": \"494 - BANCO DE LA REPUBLICA ORIENTAL DEL URUGU\",\n      \"institutionName\": \"BANCO DE LA REPUBLICA ORIENTAL DEL URUGU\"\n    },\n    {\n      \"institutionCode\": 24,\n      \"description\": \"24  - BANCO DE PERNAMBUCO S.A.-BANDEPE\",\n      \"institutionName\": \"BANCO DE PERNAMBUCO S.A.-BANDEPE\"\n    },\n    {\n      \"institutionCode\": 456,\n      \"description\": \"456 - BANCO DE TOKYO MITSUBISHI BRASIL S.A.\",\n      \"institutionName\": \"BANCO DE TOKYO MITSUBISHI BRASIL S.A.\"\n    },\n    {\n      \"institutionCode\": 627,\n      \"description\": \"627 - BANCO DESTAK S.A.\",\n      \"institutionName\": \"BANCO DESTAK S.A.\"\n    },\n    {\n      \"institutionCode\": 214,\n      \"description\": \"214 - BANCO DIBENS S.A.\",\n      \"institutionName\": \"BANCO DIBENS S.A.\"\n    },\n    {\n      \"institutionCode\": 369,\n      \"description\": \"369 - BANCO DIGIBANCO S.A.\",\n      \"institutionName\": \"BANCO DIGIBANCO S.A.\"\n    },\n    {\n      \"institutionCode\": 403,\n      \"description\": \"403 - BANCO DIGITAL CORA\",\n      \"institutionName\": \"BANCO DIGITAL CORA\"\n    },\n    {\n      \"institutionCode\": 649,\n      \"description\": \"649 - BANCO DIMENSAO S.A.\",\n      \"institutionName\": \"BANCO DIMENSAO S.A.\"\n    },\n    {\n      \"institutionCode\": 1,\n      \"description\": \"1   - BANCO DO BRASIL S.A.\",\n      \"institutionName\": \"BANCO DO BRASIL S.A.\"\n    },\n    {\n      \"institutionCode\": 635,\n      \"description\": \"635 - BANCO DO ESTADO AMAPA S.A.\",\n      \"institutionName\": \"BANCO DO ESTADO AMAPA S.A.\"\n    },\n    {\n      \"institutionCode\": 20,\n      \"description\": \"20  - BANCO DO ESTADO DE ALAGOAS S.A.\",\n      \"institutionName\": \"BANCO DO ESTADO DE ALAGOAS S.A.\"\n    },\n    {\n      \"institutionCode\": 59,\n      \"description\": \"59  - BANCO DO ESTADO DE RONDONIA S.A.\",\n      \"institutionName\": \"BANCO DO ESTADO DE RONDONIA S.A.\"\n    },\n    {\n      \"institutionCode\": 645,\n      \"description\": \"645 - BANCO DO ESTADO DE RORAIMA S.A.\",\n      \"institutionName\": \"BANCO DO ESTADO DE RORAIMA S.A.\"\n    },\n    {\n      \"institutionCode\": 27,\n      \"description\": \"27  - BANCO DO ESTADO DE SANTA CATARINA S.A.\",\n      \"institutionName\": \"BANCO DO ESTADO DE SANTA CATARINA S.A.\"\n    },\n    {\n      \"institutionCode\": 47,\n      \"description\": \"47  - BANCO DO ESTADO DE SERGIPE S.A.\",\n      \"institutionName\": \"BANCO DO ESTADO DE SERGIPE S.A.\"\n    },\n    {\n      \"institutionCode\": 26,\n      \"description\": \"26  - BANCO DO ESTADO DO ACRE S.A.\",\n      \"institutionName\": \"BANCO DO ESTADO DO ACRE S.A.\"\n    },\n    {\n      \"institutionCode\": 35,\n      \"description\": \"35  - BANCO DO ESTADO DO CEARA S.A. BEC\",\n      \"institutionName\": \"BANCO DO ESTADO DO CEARA S.A. BEC\"\n    },\n    {\n      \"institutionCode\": 36,\n      \"description\": \"36  - BANCO DO ESTADO DO MARANHAO S.A.-BEM\",\n      \"institutionName\": \"BANCO DO ESTADO DO MARANHAO S.A.-BEM\"\n    },\n    {\n      \"institutionCode\": 32,\n      \"description\": \"32  - BANCO DO ESTADO DO MATO GROSSO S.A.\",\n      \"institutionName\": \"BANCO DO ESTADO DO MATO GROSSO S.A.\"\n    },\n    {\n      \"institutionCode\": 37,\n      \"description\": \"37  - BANCO DO ESTADO DO PARA S.A.\",\n      \"institutionName\": \"BANCO DO ESTADO DO PARA S.A.\"\n    },\n    {\n      \"institutionCode\": 39,\n      \"description\": \"39  - BANCO DO ESTADO DO PIAUI S.A.-BEP\",\n      \"institutionName\": \"BANCO DO ESTADO DO PIAUI S.A.-BEP\"\n    },\n    {\n      \"institutionCode\": 41,\n      \"description\": \"41  - BANCO DO ESTADO DO RIO GRANDE DO SUL S.A\",\n      \"institutionName\": \"BANCO DO ESTADO DO RIO GRANDE DO SUL S.A\"\n    },\n    {\n      \"institutionCode\": 4,\n      \"description\": \"4   - BANCO DO NORDESTE DO BRASIL S.A.\",\n      \"institutionName\": \"BANCO DO NORDESTE DO BRASIL S.A.\"\n    },\n    {\n      \"institutionCode\": 302,\n      \"description\": \"302 - BANCO DO PROGRESSO S.A.\",\n      \"institutionName\": \"BANCO DO PROGRESSO S.A.\"\n    },\n    {\n      \"institutionCode\": 743,\n      \"description\": \"743 - BANCO EMBLEMA S.A.\",\n      \"institutionName\": \"BANCO EMBLEMA S.A.\"\n    },\n    {\n      \"institutionCode\": 245,\n      \"description\": \"245 - BANCO EMPRESARIAL S.A.\",\n      \"institutionName\": \"BANCO EMPRESARIAL S.A.\"\n    },\n    {\n      \"institutionCode\": 742,\n      \"description\": \"742 - BANCO EQUATORIAL S.A.\",\n      \"institutionName\": \"BANCO EQUATORIAL S.A.\"\n    },\n    {\n      \"institutionCode\": 242,\n      \"description\": \"242 - BANCO EUROINVEST S.A. EUROBANCO\",\n      \"institutionName\": \"BANCO EUROINVEST S.A. EUROBANCO\"\n    },\n    {\n      \"institutionCode\": 265,\n      \"description\": \"265 - BANCO FATOR S.A.\",\n      \"institutionName\": \"BANCO FATOR S.A.\"\n    },\n    {\n      \"institutionCode\": 375,\n      \"description\": \"375 - BANCO FENICIA S.A.\",\n      \"institutionName\": \"BANCO FENICIA S.A.\"\n    },\n    {\n      \"institutionCode\": 224,\n      \"description\": \"224 - BANCO FIBRA S.A.\",\n      \"institutionName\": \"BANCO FIBRA S.A.\"\n    },\n    {\n      \"institutionCode\": 200,\n      \"description\": \"200 - BANCO FICRISA AXELRUD S.A.\",\n      \"institutionName\": \"BANCO FICRISA AXELRUD S.A.\"\n    },\n    {\n      \"institutionCode\": 626,\n      \"description\": \"626 - BANCO FICSA S.A.\",\n      \"institutionName\": \"BANCO FICSA S.A.\"\n    },\n    {\n      \"institutionCode\": 199,\n      \"description\": \"199 - BANCO FINANCIAL PORTUGUES\",\n      \"institutionName\": \"BANCO FINANCIAL PORTUGUES\"\n    },\n    {\n      \"institutionCode\": 473,\n      \"description\": \"473 - BANCO FINANCIAL PORTUGUES-EM ABSORCAO\",\n      \"institutionName\": \"BANCO FINANCIAL PORTUGUES-EM ABSORCAO\"\n    },\n    {\n      \"institutionCode\": 725,\n      \"description\": \"725 - BANCO FINANSINOS S. A.\",\n      \"institutionName\": \"BANCO FINANSINOS S. A.\"\n    },\n    {\n      \"institutionCode\": 175,\n      \"description\": \"175 - BANCO FINASA S.A.\",\n      \"institutionName\": \"BANCO FINASA S.A.\"\n    },\n    {\n      \"institutionCode\": 252,\n      \"description\": \"252 - BANCO FININVEST S.A.\",\n      \"institutionName\": \"BANCO FININVEST S.A.\"\n    },\n    {\n      \"institutionCode\": 728,\n      \"description\": \"728 - BANCO FITAL S.A.\",\n      \"institutionName\": \"BANCO FITAL S.A.\"\n    },\n    {\n      \"institutionCode\": 729,\n      \"description\": \"729 - BANCO FONTE CINDAM S.A.\",\n      \"institutionName\": \"BANCO FONTE CINDAM S.A.\"\n    },\n    {\n      \"institutionCode\": 652,\n      \"description\": \"652 - BANCO FRANCES E BRAS. S.A - EM ABSORCAO\",\n      \"institutionName\": \"BANCO FRANCES E BRAS. S.A - EM ABSORCAO\"\n    },\n    {\n      \"institutionCode\": 489,\n      \"description\": \"489 - BANCO FRANCES INTERNACIONAL-BRASIL S.A\",\n      \"institutionName\": \"BANCO FRANCES INTERNACIONAL-BRASIL S.A\"\n    },\n    {\n      \"institutionCode\": 233,\n      \"description\": \"233 - BANCO GE CAPITAL S.A\",\n      \"institutionName\": \"BANCO GE CAPITAL S.A\"\n    },\n    {\n      \"institutionCode\": 624,\n      \"description\": \"624 - BANCO GENERAL MOTORS S.A\",\n      \"institutionName\": \"BANCO GENERAL MOTORS S.A\"\n    },\n    {\n      \"institutionCode\": 121,\n      \"description\": \"121 - BANCO GERADOR S.A.\",\n      \"institutionName\": \"BANCO GERADOR S.A.\"\n    },\n    {\n      \"institutionCode\": 734,\n      \"description\": \"734 - BANCO GERDAU S.A.\",\n      \"institutionName\": \"BANCO GERDAU S.A.\"\n    },\n    {\n      \"institutionCode\": 612,\n      \"description\": \"612 - BANCO GUANABARA S.A.\",\n      \"institutionName\": \"BANCO GUANABARA S.A.\"\n    },\n    {\n      \"institutionCode\": 256,\n      \"description\": \"256 - BANCO GULFINVEST S.A.\",\n      \"institutionName\": \"BANCO GULFINVEST S.A.\"\n    },\n    {\n      \"institutionCode\": 500,\n      \"description\": \"500 - BANCO HABITASUL S.A.                              \",\n      \"institutionName\": \"BANCO HABITASUL S.A.                              \"\n    },\n    {\n      \"institutionCode\": 497,\n      \"description\": \"497 - BANCO HISPANO AMERICANO S.A.                      \",\n      \"institutionName\": \"BANCO HISPANO AMERICANO S.A.                      \"\n    },\n    {\n      \"institutionCode\": 303,\n      \"description\": \"303 - BANCO HNF S.A.\",\n      \"institutionName\": \"BANCO HNF S.A.\"\n    },\n    {\n      \"institutionCode\": 63,\n      \"description\": \"63  - BANCO IBI S.A - BANCO MULTIPLO\",\n      \"institutionName\": \"BANCO IBI S.A - BANCO MULTIPLO\"\n    },\n    {\n      \"institutionCode\": 228,\n      \"description\": \"228 - BANCO ICATU S.A.\",\n      \"institutionName\": \"BANCO ICATU S.A.\"\n    },\n    {\n      \"institutionCode\": 258,\n      \"description\": \"258 - BANCO INDUSCRED S.A.\",\n      \"institutionName\": \"BANCO INDUSCRED S.A.\"\n    },\n    {\n      \"institutionCode\": 320,\n      \"description\": \"320 - BANCO INDUSTRIAL E COMERCIAL S.A.\",\n      \"institutionName\": \"BANCO INDUSTRIAL E COMERCIAL S.A.\"\n    },\n    {\n      \"institutionCode\": 653,\n      \"description\": \"653 - BANCO INDUSVAL S.A.\",\n      \"institutionName\": \"BANCO INDUSVAL S.A.\"\n    },\n    {\n      \"institutionCode\": 204,\n      \"description\": \"204 - BANCO INTER AMERICAN EXPRESS S.A\",\n      \"institutionName\": \"BANCO INTER AMERICAN EXPRESS S.A\"\n    },\n    {\n      \"institutionCode\": 77,\n      \"description\": \"77  - Banco Inter S.A.\",\n      \"institutionName\": \"Banco Inter S.A.\"\n    },\n    {\n      \"institutionCode\": 166,\n      \"description\": \"166 - BANCO INTER-ATLANTICO S.A.\",\n      \"institutionName\": \"BANCO INTER-ATLANTICO S.A.\"\n    },\n    {\n      \"institutionCode\": 630,\n      \"description\": \"630 - BANCO INTERCAP S.A.\",\n      \"institutionName\": \"BANCO INTERCAP S.A.\"\n    },\n    {\n      \"institutionCode\": 722,\n      \"description\": \"722 - BANCO INTERIOR DE SAO PAULO S.A.\",\n      \"institutionName\": \"BANCO INTERIOR DE SAO PAULO S.A.\"\n    },\n    {\n      \"institutionCode\": 232,\n      \"description\": \"232 - BANCO INTERPART S.A.\",\n      \"institutionName\": \"BANCO INTERPART S.A.\"\n    },\n    {\n      \"institutionCode\": 705,\n      \"description\": \"705 - BANCO INVESTCORP S.A                              \",\n      \"institutionName\": \"BANCO INVESTCORP S.A                              \"\n    },\n    {\n      \"institutionCode\": 249,\n      \"description\": \"249 - BANCO INVESTCRED UNIBANCO S.A\",\n      \"institutionName\": \"BANCO INVESTCRED UNIBANCO S.A\"\n    },\n    {\n      \"institutionCode\": 499,\n      \"description\": \"499 - BANCO IOCHPE S.A.\",\n      \"institutionName\": \"BANCO IOCHPE S.A.\"\n    },\n    {\n      \"institutionCode\": 372,\n      \"description\": \"372 - BANCO ITAMARATI S/A\",\n      \"institutionName\": \"BANCO ITAMARATI S/A\"\n    },\n    {\n      \"institutionCode\": 341,\n      \"description\": \"341 - BANCO ITAU S.A.\",\n      \"institutionName\": \"BANCO ITAU S.A.\"\n    },\n    {\n      \"institutionCode\": 42,\n      \"description\": \"42  - BANCO J. SAFRA S.A\",\n      \"institutionName\": \"BANCO J. SAFRA S.A\"\n    },\n    {\n      \"institutionCode\": 74,\n      \"description\": \"74  - BANCO J. SAFRA S.A.                               \",\n      \"institutionName\": \"BANCO J. SAFRA S.A.                               \"\n    },\n    {\n      \"institutionCode\": 376,\n      \"description\": \"376 - BANCO J.P. MORGAN S.A.\",\n      \"institutionName\": \"BANCO J.P. MORGAN S.A.\"\n    },\n    {\n      \"institutionCode\": 217,\n      \"description\": \"217 - BANCO JOHN DEERE S.A.\",\n      \"institutionName\": \"BANCO JOHN DEERE S.A.\"\n    },\n    {\n      \"institutionCode\": 76,\n      \"description\": \"76  - BANCO KDB DO BRASIL S.A                           \",\n      \"institutionName\": \"BANCO KDB DO BRASIL S.A                           \"\n    },\n    {\n      \"institutionCode\": 757,\n      \"description\": \"757 - BANCO KEB DO BRASIL S.A.\",\n      \"institutionName\": \"BANCO KEB DO BRASIL S.A.\"\n    },\n    {\n      \"institutionCode\": 234,\n      \"description\": \"234 - BANCO LAVRA S.A.\",\n      \"institutionName\": \"BANCO LAVRA S.A.\"\n    },\n    {\n      \"institutionCode\": 600,\n      \"description\": \"600 - BANCO LUSO BRASILEIRO S.A.\",\n      \"institutionName\": \"BANCO LUSO BRASILEIRO S.A.\"\n    },\n    {\n      \"institutionCode\": 647,\n      \"description\": \"647 - BANCO MARKA S.A.\",\n      \"institutionName\": \"BANCO MARKA S.A.\"\n    },\n    {\n      \"institutionCode\": 206,\n      \"description\": \"206 - BANCO MARTINELLI S.A.\",\n      \"institutionName\": \"BANCO MARTINELLI S.A.\"\n    },\n    {\n      \"institutionCode\": 656,\n      \"description\": \"656 - BANCO MATRIX S.A.\",\n      \"institutionName\": \"BANCO MATRIX S.A.\"\n    },\n    {\n      \"institutionCode\": 243,\n      \"description\": \"243 - BANCO MAXIMA S.A.\",\n      \"institutionName\": \"BANCO MAXIMA S.A.\"\n    },\n    {\n      \"institutionCode\": 720,\n      \"description\": \"720 - BANCO MAXINVEST S.A.\",\n      \"institutionName\": \"BANCO MAXINVEST S.A.\"\n    },\n    {\n      \"institutionCode\": 392,\n      \"description\": \"392 - BANCO MERCANTIL DE SAO PAULO S.A.\",\n      \"institutionName\": \"BANCO MERCANTIL DE SAO PAULO S.A.\"\n    },\n    {\n      \"institutionCode\": 389,\n      \"description\": \"389 - BANCO MERCANTIL DO BRASIL S.A.\",\n      \"institutionName\": \"BANCO MERCANTIL DO BRASIL S.A.\"\n    },\n    {\n      \"institutionCode\": 755,\n      \"description\": \"755 - BANCO MERRILL LYNCH S.A.\",\n      \"institutionName\": \"BANCO MERRILL LYNCH S.A.\"\n    },\n    {\n      \"institutionCode\": 732,\n      \"description\": \"732 - BANCO MINAS S.A.\",\n      \"institutionName\": \"BANCO MINAS S.A.\"\n    },\n    {\n      \"institutionCode\": 466,\n      \"description\": \"466 - BANCO MITSUBISHI S.A                              \",\n      \"institutionName\": \"BANCO MITSUBISHI S.A                              \"\n    },\n    {\n      \"institutionCode\": 746,\n      \"description\": \"746 - BANCO MODAL S.A.\",\n      \"institutionName\": \"BANCO MODAL S.A.\"\n    },\n    {\n      \"institutionCode\": 738,\n      \"description\": \"738 - BANCO MORADA S.A.\",\n      \"institutionName\": \"BANCO MORADA S.A.\"\n    },\n    {\n      \"institutionCode\": 66,\n      \"description\": \"66  - BANCO MORGAN STANLEY DEAN WITTER S.A\",\n      \"institutionName\": \"BANCO MORGAN STANLEY DEAN WITTER S.A\"\n    },\n    {\n      \"institutionCode\": 504,\n      \"description\": \"504 - BANCO MULTIPLIC S.A.\",\n      \"institutionName\": \"BANCO MULTIPLIC S.A.\"\n    },\n    {\n      \"institutionCode\": 7,\n      \"description\": \"7   - BANCO NACIONAL DO DESENVOLVIMENTO ECONOM\",\n      \"institutionName\": \"BANCO NACIONAL DO DESENVOLVIMENTO ECONOM\"\n    },\n    {\n      \"institutionCode\": 415,\n      \"description\": \"415 - BANCO NACIONAL S.A.\",\n      \"institutionName\": \"BANCO NACIONAL S.A.\"\n    },\n    {\n      \"institutionCode\": 735,\n      \"description\": \"735 - Banco Neon S/A\",\n      \"institutionName\": \"Banco Neon S/A\"\n    },\n    {\n      \"institutionCode\": 165,\n      \"description\": \"165 - BANCO NORCHEM S.A.\",\n      \"institutionName\": \"BANCO NORCHEM S.A.\"\n    },\n    {\n      \"institutionCode\": 718,\n      \"description\": \"718 - BANCO OPERADOR S.A.\",\n      \"institutionName\": \"BANCO OPERADOR S.A.\"\n    },\n    {\n      \"institutionCode\": 45,\n      \"description\": \"45  - BANCO OPPORTUNITY S.A.\",\n      \"institutionName\": \"BANCO OPPORTUNITY S.A.\"\n    },\n    {\n      \"institutionCode\": 212,\n      \"description\": \"212 - BANCO ORIGINAL S.A\",\n      \"institutionName\": \"BANCO ORIGINAL S.A\"\n    },\n    {\n      \"institutionCode\": 208,\n      \"description\": \"208 - BANCO PACTUAL S.A.\",\n      \"institutionName\": \"BANCO PACTUAL S.A.\"\n    },\n    {\n      \"institutionCode\": 623,\n      \"description\": \"623 - BANCO PANAMERICANO S.A.\",\n      \"institutionName\": \"BANCO PANAMERICANO S.A.\"\n    },\n    {\n      \"institutionCode\": 602,\n      \"description\": \"602 - BANCO PATENTE S.A.\",\n      \"institutionName\": \"BANCO PATENTE S.A.\"\n    },\n    {\n      \"institutionCode\": 611,\n      \"description\": \"611 - BANCO PAULISTA S.A.\",\n      \"institutionName\": \"BANCO PAULISTA S.A.\"\n    },\n    {\n      \"institutionCode\": 650,\n      \"description\": \"650 - BANCO PEBB S.A.\",\n      \"institutionName\": \"BANCO PEBB S.A.\"\n    },\n    {\n      \"institutionCode\": 613,\n      \"description\": \"613 - BANCO PECUNIA S.A.\",\n      \"institutionName\": \"BANCO PECUNIA S.A.\"\n    },\n    {\n      \"institutionCode\": 94,\n      \"description\": \"94  - Banco Petra S.A.                                  \",\n      \"institutionName\": \"Banco Petra S.A.                                  \"\n    },\n    {\n      \"institutionCode\": 643,\n      \"description\": \"643 - BANCO PINE S.A.\",\n      \"institutionName\": \"BANCO PINE S.A.\"\n    },\n    {\n      \"institutionCode\": 277,\n      \"description\": \"277 - BANCO PLANIBANC S.A.\",\n      \"institutionName\": \"BANCO PLANIBANC S.A.\"\n    },\n    {\n      \"institutionCode\": 304,\n      \"description\": \"304 - BANCO PONTUAL S.A.\",\n      \"institutionName\": \"BANCO PONTUAL S.A.\"\n    },\n    {\n      \"institutionCode\": 658,\n      \"description\": \"658 - BANCO PORTO REAL S.A.\",\n      \"institutionName\": \"BANCO PORTO REAL S.A.\"\n    },\n    {\n      \"institutionCode\": 638,\n      \"description\": \"638 - BANCO PROSPER S.A.\",\n      \"institutionName\": \"BANCO PROSPER S.A.\"\n    },\n    {\n      \"institutionCode\": 747,\n      \"description\": \"747 - BANCO RABOBANK INTERNATIONAL BRASIL S.A.\",\n      \"institutionName\": \"BANCO RABOBANK INTERNATIONAL BRASIL S.A.\"\n    },\n    {\n      \"institutionCode\": 88,\n      \"description\": \"88  - BANCO RANDON S.A.                                 \",\n      \"institutionName\": \"BANCO RANDON S.A.                                 \"\n    },\n    {\n      \"institutionCode\": 216,\n      \"description\": \"216 - BANCO REGIONAL MALCON S.A.\",\n      \"institutionName\": \"BANCO REGIONAL MALCON S.A.\"\n    },\n    {\n      \"institutionCode\": 633,\n      \"description\": \"633 - BANCO RENDIMENTO S.A.\",\n      \"institutionName\": \"BANCO RENDIMENTO S.A.\"\n    },\n    {\n      \"institutionCode\": 741,\n      \"description\": \"741 - BANCO RIBEIRAO PRETO S.A.\",\n      \"institutionName\": \"BANCO RIBEIRAO PRETO S.A.\"\n    },\n    {\n      \"institutionCode\": 120,\n      \"description\": \"120 - BANCO RODOBENS S.A                                \",\n      \"institutionName\": \"BANCO RODOBENS S.A                                \"\n    },\n    {\n      \"institutionCode\": 72,\n      \"description\": \"72  - BANCO RURAL MAIS S.A                              \",\n      \"institutionName\": \"BANCO RURAL MAIS S.A                              \"\n    },\n    {\n      \"institutionCode\": 453,\n      \"description\": \"453 - BANCO RURAL S.A.\",\n      \"institutionName\": \"BANCO RURAL S.A.\"\n    },\n    {\n      \"institutionCode\": 422,\n      \"description\": \"422 - BANCO SAFRA S.A.\",\n      \"institutionName\": \"BANCO SAFRA S.A.\"\n    },\n    {\n      \"institutionCode\": 33,\n      \"description\": \"33  - BANCO SANTANDER S.A\",\n      \"institutionName\": \"BANCO SANTANDER S.A\"\n    },\n    {\n      \"institutionCode\": 607,\n      \"description\": \"607 - BANCO SANTOS NEVES S.A.\",\n      \"institutionName\": \"BANCO SANTOS NEVES S.A.\"\n    },\n    {\n      \"institutionCode\": 702,\n      \"description\": \"702 - BANCO SANTOS S. A.\",\n      \"institutionName\": \"BANCO SANTOS S. A.\"\n    },\n    {\n      \"institutionCode\": 250,\n      \"description\": \"250 - BANCO SCHAHIN S.A\",\n      \"institutionName\": \"BANCO SCHAHIN S.A\"\n    },\n    {\n      \"institutionCode\": 211,\n      \"description\": \"211 - BANCO SISTEMA S.A.\",\n      \"institutionName\": \"BANCO SISTEMA S.A.\"\n    },\n    {\n      \"institutionCode\": 366,\n      \"description\": \"366 - BANCO SOCIETE GENERALE BRASIL S.A\",\n      \"institutionName\": \"BANCO SOCIETE GENERALE BRASIL S.A\"\n    },\n    {\n      \"institutionCode\": 637,\n      \"description\": \"637 - BANCO SOFISA S.A.\",\n      \"institutionName\": \"BANCO SOFISA S.A.\"\n    },\n    {\n      \"institutionCode\": 347,\n      \"description\": \"347 - BANCO SUDAMERIS DO BRASIL S.A\",\n      \"institutionName\": \"BANCO SUDAMERIS DO BRASIL S.A\"\n    },\n    {\n      \"institutionCode\": 205,\n      \"description\": \"205 - BANCO SUL AMERICA S.A.\",\n      \"institutionName\": \"BANCO SUL AMERICA S.A.\"\n    },\n    {\n      \"institutionCode\": 464,\n      \"description\": \"464 - BANCO SUMITOMO MITSUI BRASILEIRO S.A.\",\n      \"institutionName\": \"BANCO SUMITOMO MITSUI BRASILEIRO S.A.\"\n    },\n    {\n      \"institutionCode\": 657,\n      \"description\": \"657 - BANCO TECNICORP S.A.\",\n      \"institutionName\": \"BANCO TECNICORP S.A.\"\n    },\n    {\n      \"institutionCode\": 618,\n      \"description\": \"618 - BANCO TENDENCIA S.A.\",\n      \"institutionName\": \"BANCO TENDENCIA S.A.\"\n    },\n    {\n      \"institutionCode\": 737,\n      \"description\": \"737 - BANCO THECA S.A.\",\n      \"institutionName\": \"BANCO THECA S.A.\"\n    },\n    {\n      \"institutionCode\": 82,\n      \"description\": \"82  - BANCO TOPÁZIO S.A.                                \",\n      \"institutionName\": \"BANCO TOPÁZIO S.A.                                \"\n    },\n    {\n      \"institutionCode\": 634,\n      \"description\": \"634 - BANCO TRIANGULO S.A.\",\n      \"institutionName\": \"BANCO TRIANGULO S.A.\"\n    },\n    {\n      \"institutionCode\": 247,\n      \"description\": \"247 - BANCO UBS S.A\",\n      \"institutionName\": \"BANCO UBS S.A\"\n    },\n    {\n      \"institutionCode\": 493,\n      \"description\": \"493 - BANCO UNION - BRASIL S.A\",\n      \"institutionName\": \"BANCO UNION - BRASIL S.A\"\n    },\n    {\n      \"institutionCode\": 496,\n      \"description\": \"496 - BANCO UNO-E BRASIL S.A\",\n      \"institutionName\": \"BANCO UNO-E BRASIL S.A\"\n    },\n    {\n      \"institutionCode\": 715,\n      \"description\": \"715 - BANCO VEGA S.A.\",\n      \"institutionName\": \"BANCO VEGA S.A.\"\n    },\n    {\n      \"institutionCode\": 711,\n      \"description\": \"711 - BANCO VETOR S.A.\",\n      \"institutionName\": \"BANCO VETOR S.A.\"\n    },\n    {\n      \"institutionCode\": 655,\n      \"description\": \"655 - BANCO VOTORANTIM S.A.\",\n      \"institutionName\": \"BANCO VOTORANTIM S.A.\"\n    },\n    {\n      \"institutionCode\": 610,\n      \"description\": \"610 - BANCO VR S.A.\",\n      \"institutionName\": \"BANCO VR S.A.\"\n    },\n    {\n      \"institutionCode\": 480,\n      \"description\": \"480 - BANCO WACHOVIA S.A.\",\n      \"institutionName\": \"BANCO WACHOVIA S.A.\"\n    },\n    {\n      \"institutionCode\": 119,\n      \"description\": \"119 - BANCO WESTERN UNION DO BRASIL S.A.                \",\n      \"institutionName\": \"BANCO WESTERN UNION DO BRASIL S.A.                \"\n    },\n    {\n      \"institutionCode\": 370,\n      \"description\": \"370 - BANCO WESTLB DO BRASIL  S.A.\",\n      \"institutionName\": \"BANCO WESTLB DO BRASIL  S.A.\"\n    },\n    {\n      \"institutionCode\": 124,\n      \"description\": \"124 - BANCO WOORI BANK DO BRASIL S.A                    \",\n      \"institutionName\": \"BANCO WOORI BANK DO BRASIL S.A                    \"\n    },\n    {\n      \"institutionCode\": 219,\n      \"description\": \"219 - BANCO ZOGBI S.A\",\n      \"institutionName\": \"BANCO ZOGBI S.A\"\n    },\n    {\n      \"institutionCode\": 62,\n      \"description\": \"62  - BANCO1.NET S.A\",\n      \"institutionName\": \"BANCO1.NET S.A\"\n    },\n    {\n      \"institutionCode\": 28,\n      \"description\": \"28  - BANEB-EM ABSORCAO\",\n      \"institutionName\": \"BANEB-EM ABSORCAO\"\n    },\n    {\n      \"institutionCode\": 21,\n      \"description\": \"21  - BANESTES S.A BANCO DO ESTADO DO ESPIRITO\",\n      \"institutionName\": \"BANESTES S.A BANCO DO ESTADO DO ESPIRITO\"\n    },\n    {\n      \"institutionCode\": 434,\n      \"description\": \"434 - BANFORT - BANCO FORTALEZA S.A.\",\n      \"institutionName\": \"BANFORT - BANCO FORTALEZA S.A.\"\n    },\n    {\n      \"institutionCode\": 148,\n      \"description\": \"148 - BANK OF AMERICA - BRASIL S.A. (BANCO MUL\",\n      \"institutionName\": \"BANK OF AMERICA - BRASIL S.A. (BANCO MUL\"\n    },\n    {\n      \"institutionCode\": 235,\n      \"description\": \"235 - BANK OF AMERICA - LIBERAL S.A\",\n      \"institutionName\": \"BANK OF AMERICA - LIBERAL S.A\"\n    },\n    {\n      \"institutionCode\": 479,\n      \"description\": \"479 - BANKBOSTON BANCO MULTIPLO S.A.\",\n      \"institutionName\": \"BANKBOSTON BANCO MULTIPLO S.A.\"\n    },\n    {\n      \"institutionCode\": 744,\n      \"description\": \"744 - BANKBOSTON N.A.\",\n      \"institutionName\": \"BANKBOSTON N.A.\"\n    },\n    {\n      \"institutionCode\": 420,\n      \"description\": \"420 - BANORTE - BANCO NACIONAL DO NORTE S.A.\",\n      \"institutionName\": \"BANORTE - BANCO NACIONAL DO NORTE S.A.\"\n    },\n    {\n      \"institutionCode\": 268,\n      \"description\": \"268 - Barigui Companhia Hipotecaria                     \",\n      \"institutionName\": \"Barigui Companhia Hipotecaria                     \"\n    },\n    {\n      \"institutionCode\": 991,\n      \"description\": \"991 - BBBIRO                                            \",\n      \"institutionName\": \"BBBIRO                                            \"\n    },\n    {\n      \"institutionCode\": 95,\n      \"description\": \"95  - BCam Confidence                                   \",\n      \"institutionName\": \"BCam Confidence                                   \"\n    },\n    {\n      \"institutionCode\": 128,\n      \"description\": \"128 - BCam MSB Bank\",\n      \"institutionName\": \"BCam MSB Bank\"\n    },\n    {\n      \"institutionCode\": 800,\n      \"description\": \"800 - BCR BANCO DE CREDITO REAL S.A\",\n      \"institutionName\": \"BCR BANCO DE CREDITO REAL S.A\"\n    },\n    {\n      \"institutionCode\": 294,\n      \"description\": \"294 - BCR/EM ABSORCAO\",\n      \"institutionName\": \"BCR/EM ABSORCAO\"\n    },\n    {\n      \"institutionCode\": 78,\n      \"description\": \"78  - BES INVESTIMENTO DO BRASIL SA - BANCO DE INVESTIM.\",\n      \"institutionName\": \"BES INVESTIMENTO DO BRASIL SA - BANCO DE INVESTIM.\"\n    },\n    {\n      \"institutionCode\": 144,\n      \"description\": \"144 - Bexs Banco de Cambio S.A.                         \",\n      \"institutionName\": \"Bexs Banco de Cambio S.A.                         \"\n    },\n    {\n      \"institutionCode\": 253,\n      \"description\": \"253 - BEXS CORRETORA DE CAMBIO S/A                      \",\n      \"institutionName\": \"BEXS CORRETORA DE CAMBIO S/A                      \"\n    },\n    {\n      \"institutionCode\": 129,\n      \"description\": \"129 - BI UBS Brasil                                     \",\n      \"institutionName\": \"BI UBS Brasil                                     \"\n    },\n    {\n      \"institutionCode\": 169,\n      \"description\": \"169 - BM OLE BONSUCESSO CONSIGNADO S.A.                 \",\n      \"institutionName\": \"BM OLE BONSUCESSO CONSIGNADO S.A.                 \"\n    },\n    {\n      \"institutionCode\": 712,\n      \"description\": \"712 - BM Ourinvest                                      \",\n      \"institutionName\": \"BM Ourinvest                                      \"\n    },\n    {\n      \"institutionCode\": 18,\n      \"description\": \"18  - BM TRICURY S.A.                                   \",\n      \"institutionName\": \"BM TRICURY S.A.                                   \"\n    },\n    {\n      \"institutionCode\": 17,\n      \"description\": \"17  - BNY MELLON S.A.                                   \",\n      \"institutionName\": \"BNY MELLON S.A.                                   \"\n    },\n    {\n      \"institutionCode\": 69,\n      \"description\": \"69  - BPN BRASIL BANCO MULTIPLO S.A                     \",\n      \"institutionName\": \"BPN BRASIL BANCO MULTIPLO S.A                     \"\n    },\n    {\n      \"institutionCode\": 301,\n      \"description\": \"301 - BPP Instituicao de Pagamento S.A.                 \",\n      \"institutionName\": \"BPP Instituicao de Pagamento S.A.                 \"\n    },\n    {\n      \"institutionCode\": 749,\n      \"description\": \"749 - BR BANCO MERCANTIL S.A. (SIMPLES)\",\n      \"institutionName\": \"BR BANCO MERCANTIL S.A. (SIMPLES)\"\n    },\n    {\n      \"institutionCode\": 126,\n      \"description\": \"126 - BR PARTNERS BANCO DE INVESTIMENTO S.A.            \",\n      \"institutionName\": \"BR PARTNERS BANCO DE INVESTIMENTO S.A.            \"\n    },\n    {\n      \"institutionCode\": 125,\n      \"description\": \"125 - BRASIL PLURAL S.A. BANCO MULTIPLO                 \",\n      \"institutionName\": \"BRASIL PLURAL S.A. BANCO MULTIPLO                 \"\n    },\n    {\n      \"institutionCode\": 70,\n      \"description\": \"70  - BRB - BANCO DE BRASILIA S.A.\",\n      \"institutionName\": \"BRB - BANCO DE BRASILIA S.A.\"\n    },\n    {\n      \"institutionCode\": 92,\n      \"description\": \"92  - BRICKELL S A CREDITO, FINANCIAMENTO E INVESTIMENTO\",\n      \"institutionName\": \"BRICKELL S A CREDITO, FINANCIAMENTO E INVESTIMENTO\"\n    },\n    {\n      \"institutionCode\": 173,\n      \"description\": \"173 - BRL TRUST DISTRIBUIDORA DE TITULOS E VALORES MOBIL\",\n      \"institutionName\": \"BRL TRUST DISTRIBUIDORA DE TITULOS E VALORES MOBIL\"\n    },\n    {\n      \"institutionCode\": 142,\n      \"description\": \"142 - BROKER BRASIL CORRETORA DE CAMBIO LTDA.           \",\n      \"institutionName\": \"BROKER BRASIL CORRETORA DE CAMBIO LTDA.           \"\n    },\n    {\n      \"institutionCode\": 292,\n      \"description\": \"292 - BS2 Distribuidora de Titulos e value Mobiliarios\",\n      \"institutionName\": \"BS2 Distribuidora de Titulos e value Mobiliarios\"\n    },\n    {\n      \"institutionCode\": 995,\n      \"description\": \"995 - BUREAU ABBC                                       \",\n      \"institutionName\": \"BUREAU ABBC                                       \"\n    },\n    {\n      \"institutionCode\": 993,\n      \"description\": \"993 - BUREAU BCN                                        \",\n      \"institutionName\": \"BUREAU BCN                                        \"\n    },\n    {\n      \"institutionCode\": 996,\n      \"description\": \"996 - BUREAU FEBRABAN                                   \",\n      \"institutionName\": \"BUREAU FEBRABAN                                   \"\n    },\n    {\n      \"institutionCode\": 994,\n      \"description\": \"994 - BUREAU NACIONAL                                   \",\n      \"institutionName\": \"BUREAU NACIONAL                                   \"\n    },\n    {\n      \"institutionCode\": 999,\n      \"description\": \"999 - CAF5022010010400333120100104                      \",\n      \"institutionName\": \"CAF5022010010400333120100104                      \"\n    },\n    {\n      \"institutionCode\": 104,\n      \"description\": \"104 - CAIXA ECONOMICA FEDERAL\",\n      \"institutionName\": \"CAIXA ECONOMICA FEDERAL\"\n    },\n    {\n      \"institutionCode\": 309,\n      \"description\": \"309 - Cambionet Corretora de Cambio Ltda.               \",\n      \"institutionName\": \"Cambionet Corretora de Cambio Ltda.               \"\n    },\n    {\n      \"institutionCode\": 288,\n      \"description\": \"288 - Carol Distribuidora de Titulos e value Mobiliari\",\n      \"institutionName\": \"Carol Distribuidora de Titulos e value Mobiliari\"\n    },\n    {\n      \"institutionCode\": 130,\n      \"description\": \"130 - CARUANA S.A. SOCIEDADE DE CR0DITO FINANCIAMENTO E \",\n      \"institutionName\": \"CARUANA S.A. SOCIEDADE DE CR0DITO FINANCIAMENTO E \"\n    },\n    {\n      \"institutionCode\": 159,\n      \"description\": \"159 - Casa do Credito S.A. Sociedade de Credito ao Micro\",\n      \"institutionName\": \"Casa do Credito S.A. Sociedade de Credito ao Micro\"\n    },\n    {\n      \"institutionCode\": 10,\n      \"description\": \"10  - CC CREDICOAMO CREDITO RURAL COOPERATIVA\",\n      \"institutionName\": \"CC CREDICOAMO CREDITO RURAL COOPERATIVA\"\n    },\n    {\n      \"institutionCode\": 112,\n      \"description\": \"112 - CC UNICRED BRASIL CENTRAL                         \",\n      \"institutionName\": \"CC UNICRED BRASIL CENTRAL                         \"\n    },\n    {\n      \"institutionCode\": 136,\n      \"description\": \"136 - CC Unicred do Brasil\",\n      \"institutionName\": \"CC Unicred do Brasil\"\n    },\n    {\n      \"institutionCode\": 84,\n      \"description\": \"84  - CC UNICRED NORTE DO PARANA\",\n      \"institutionName\": \"CC UNICRED NORTE DO PARANA\"\n    },\n    {\n      \"institutionCode\": 114,\n      \"description\": \"114 - CECOOPES-CENTRAL DAS COOP DE ECON E CRED MUTUO DO \",\n      \"institutionName\": \"CECOOPES-CENTRAL DAS COOP DE ECON E CRED MUTUO DO \"\n    },\n    {\n      \"institutionCode\": 91,\n      \"description\": \"91  - CENTRAL DE COOPERATIVAS DE ECONOMIA E CREDITO MUTU\",\n      \"institutionName\": \"CENTRAL DE COOPERATIVAS DE ECONOMIA E CREDITO MUTU\"\n    },\n    {\n      \"institutionCode\": 498,\n      \"description\": \"498 - CENTRO HISPANO BANCO\",\n      \"institutionName\": \"CENTRO HISPANO BANCO\"\n    },\n    {\n      \"institutionCode\": 127,\n      \"description\": \"127 - CODEPE - CORRETORA DE VALORES S.A.                \",\n      \"institutionName\": \"CODEPE - CORRETORA DE VALORES S.A.                \"\n    },\n    {\n      \"institutionCode\": 163,\n      \"description\": \"163 - Commerzbank Brasil S.A. - Banco Multiplo          \",\n      \"institutionName\": \"Commerzbank Brasil S.A. - Banco Multiplo          \"\n    },\n    {\n      \"institutionCode\": 81,\n      \"description\": \"81  - CONCORDIA BANCO S.A.                              \",\n      \"institutionName\": \"CONCORDIA BANCO S.A.                              \"\n    },\n    {\n      \"institutionCode\": 133,\n      \"description\": \"133 - Confederacao Nacional das Cooperativas Centrais de\",\n      \"institutionName\": \"Confederacao Nacional das Cooperativas Centrais de\"\n    },\n    {\n      \"institutionCode\": 90,\n      \"description\": \"90  - COOPERATIVA CENTRAL DE CREDITO DO ESTADO DE SP\",\n      \"institutionName\": \"COOPERATIVA CENTRAL DE CREDITO DO ESTADO DE SP\"\n    },\n    {\n      \"institutionCode\": 97,\n      \"description\": \"97  - COOPERATIVA CENTRAL DE CREDITO NOROESTE BRASILEIRO\",\n      \"institutionName\": \"COOPERATIVA CENTRAL DE CREDITO NOROESTE BRASILEIRO\"\n    },\n    {\n      \"institutionCode\": 85,\n      \"description\": \"85  - COOPERATIVA CENTRAL DE CREDITO URBANO - CECRED\",\n      \"institutionName\": \"COOPERATIVA CENTRAL DE CREDITO URBANO - CECRED\"\n    },\n    {\n      \"institutionCode\": 99,\n      \"description\": \"99  - COOPERATIVA CENTRAL ECONOMIA E CREDITO MUTUO PR/MS\",\n      \"institutionName\": \"COOPERATIVA CENTRAL ECONOMIA E CREDITO MUTUO PR/MS\"\n    },\n    {\n      \"institutionCode\": 16,\n      \"description\": \"16  - COOPERATIVA DE CR0DITO M0TUO DOS DESPACHANTES DE T\",\n      \"institutionName\": \"COOPERATIVA DE CR0DITO M0TUO DOS DESPACHANTES DE T\"\n    },\n    {\n      \"institutionCode\": 281,\n      \"description\": \"281 - COOPERATIVA DE CREDITO RURAL COOPAVEL             \",\n      \"institutionName\": \"COOPERATIVA DE CREDITO RURAL COOPAVEL             \"\n    },\n    {\n      \"institutionCode\": 89,\n      \"description\": \"89  - COOPERATIVA DE CREDITO RURAL DA REGIAO DA MOGIANA\",\n      \"institutionName\": \"COOPERATIVA DE CREDITO RURAL DA REGIAO DA MOGIANA\"\n    },\n    {\n      \"institutionCode\": 322,\n      \"description\": \"322 - COOPERATIVA DE CREDITO RURAL DE ABELARDO LUZ - SUL\",\n      \"institutionName\": \"COOPERATIVA DE CREDITO RURAL DE ABELARDO LUZ - SUL\"\n    },\n    {\n      \"institutionCode\": 286,\n      \"description\": \"286 - Cooperativa de Credito Rural de Ouro Sulcredi/Ouro\",\n      \"institutionName\": \"Cooperativa de Credito Rural de Ouro Sulcredi/Ouro\"\n    },\n    {\n      \"institutionCode\": 279,\n      \"description\": \"279 - COOPERATIVA DE CREDITO RURAL DE PRIMAVERA DO LESTE\",\n      \"institutionName\": \"COOPERATIVA DE CREDITO RURAL DE PRIMAVERA DO LESTE\"\n    },\n    {\n      \"institutionCode\": 273,\n      \"description\": \"273 - Cooperativa de Credito Rural de Sao Miguel do Oest\",\n      \"institutionName\": \"Cooperativa de Credito Rural de Sao Miguel do Oest\"\n    },\n    {\n      \"institutionCode\": 109,\n      \"description\": \"109 - CREDIBANCO S.A.\",\n      \"institutionName\": \"CREDIBANCO S.A.\"\n    },\n    {\n      \"institutionCode\": 98,\n      \"description\": \"98  - CREDICOROL COOPERATIVA DE CREDITO RURAL           \",\n      \"institutionName\": \"CREDICOROL COOPERATIVA DE CREDITO RURAL           \"\n    },\n    {\n      \"institutionCode\": 22,\n      \"description\": \"22  - CREDIREAL -EM ABSORCAO\",\n      \"institutionName\": \"CREDIREAL -EM ABSORCAO\"\n    },\n    {\n      \"institutionCode\": 11,\n      \"description\": \"11  - CREDIT SUISSE HEDGING-GRIFFO CORRETORA DE VALORES \",\n      \"institutionName\": \"CREDIT SUISSE HEDGING-GRIFFO CORRETORA DE VALORES \"\n    },\n    {\n      \"institutionCode\": 342,\n      \"description\": \"342 - CREDITAS SOCIEDADE DE CREDITO DIRETO S.A.         \",\n      \"institutionName\": \"CREDITAS SOCIEDADE DE CREDITO DIRETO S.A.         \"\n    },\n    {\n      \"institutionCode\": 321,\n      \"description\": \"321 - CREFAZ SOCIEDADE DE CREDITO AO MICROEMPREENDEDOR E\",\n      \"institutionName\": \"CREFAZ SOCIEDADE DE CREDITO AO MICROEMPREENDEDOR E\"\n    },\n    {\n      \"institutionCode\": 182,\n      \"description\": \"182 - Dacasa Financeira S/A - Sociedade de Credito, Fina\",\n      \"institutionName\": \"Dacasa Financeira S/A - Sociedade de Credito, Fina\"\n    },\n    {\n      \"institutionCode\": 289,\n      \"description\": \"289 - DECYSEO CORRETORA DE CAMBIO LTDA.                 \",\n      \"institutionName\": \"DECYSEO CORRETORA DE CAMBIO LTDA.                 \"\n    },\n    {\n      \"institutionCode\": 487,\n      \"description\": \"487 - DEUTSCHE BANK S. A. - BANCO ALEMAO\",\n      \"institutionName\": \"DEUTSCHE BANK S. A. - BANCO ALEMAO\"\n    },\n    {\n      \"institutionCode\": 751,\n      \"description\": \"751 - DRESDNER BANK BRASIL S.A. BANCO MULTIPLO\",\n      \"institutionName\": \"DRESDNER BANK BRASIL S.A. BANCO MULTIPLO\"\n    },\n    {\n      \"institutionCode\": 210,\n      \"description\": \"210 - DRESDNER BANK LATEINAMERIKA AKTIENGESELL\",\n      \"institutionName\": \"DRESDNER BANK LATEINAMERIKA AKTIENGESELL\"\n    },\n    {\n      \"institutionCode\": 134,\n      \"description\": \"134 - DTVM BGC Liquidez                                 \",\n      \"institutionName\": \"DTVM BGC Liquidez                                 \"\n    },\n    {\n      \"institutionCode\": 111,\n      \"description\": \"111 - DTVM Oliveira Trust                               \",\n      \"institutionName\": \"DTVM Oliveira Trust                               \"\n    },\n    {\n      \"institutionCode\": 101,\n      \"description\": \"101 - DTVM Renascenca                                   \",\n      \"institutionName\": \"DTVM Renascenca                                   \"\n    },\n    {\n      \"institutionCode\": 103,\n      \"description\": \"103 - EBS CAPITAL CORRETORA DE CAMBIO S/A               \",\n      \"institutionName\": \"EBS CAPITAL CORRETORA DE CAMBIO S/A               \"\n    },\n    {\n      \"institutionCode\": 884,\n      \"description\": \"884 - EMPRESA BRASILEIRA DE TECNOLOGIA E ADM DE CONVENIO\",\n      \"institutionName\": \"EMPRESA BRASILEIRA DE TECNOLOGIA E ADM DE CONVENIO\"\n    },\n    {\n      \"institutionCode\": 196,\n      \"description\": \"196 - Fair Corretora de Cambio S.A.                     \",\n      \"institutionName\": \"Fair Corretora de Cambio S.A.                     \"\n    },\n    {\n      \"institutionCode\": 331,\n      \"description\": \"331 - FRAM CAPITAL DISTRIBUIDORA DE TITULOS E VALORES MO\",\n      \"institutionName\": \"FRAM CAPITAL DISTRIBUIDORA DE TITULOS E VALORES MO\"\n    },\n    {\n      \"institutionCode\": 285,\n      \"description\": \"285 - Frente Corretora de Cambio Ltda.                  \",\n      \"institutionName\": \"Frente Corretora de Cambio Ltda.                  \"\n    },\n    {\n      \"institutionCode\": 278,\n      \"description\": \"278 - GENIAL INVESTIMENTOS CORRETORA DE VALORES MOBILIAR\",\n      \"institutionName\": \"GENIAL INVESTIMENTOS CORRETORA DE VALORES MOBILIAR\"\n    },\n    {\n      \"institutionCode\": 64,\n      \"description\": \"64  - GOLDMAN SACHS DO BRASIL-BANCO MULTIPLO S\",\n      \"institutionName\": \"GOLDMAN SACHS DO BRASIL-BANCO MULTIPLO S\"\n    },\n    {\n      \"institutionCode\": 177,\n      \"description\": \"177 - GUIDE INVESTIMENTOS S.A. CORRETORA DE VALORES     \",\n      \"institutionName\": \"GUIDE INVESTIMENTOS S.A. CORRETORA DE VALORES     \"\n    },\n    {\n      \"institutionCode\": 146,\n      \"description\": \"146 - GUITTA CORRETORA DE CAMBIO LTDA                   \",\n      \"institutionName\": \"GUITTA CORRETORA DE CAMBIO LTDA                   \"\n    },\n    {\n      \"institutionCode\": 189,\n      \"description\": \"189 - HS FINANCEIRA SA                                  \",\n      \"institutionName\": \"HS FINANCEIRA SA                                  \"\n    },\n    {\n      \"institutionCode\": 399,\n      \"description\": \"399 - HSBC BANK BRASIL S.A.-BANCO MULTIPLO\",\n      \"institutionName\": \"HSBC BANK BRASIL S.A.-BANCO MULTIPLO\"\n    },\n    {\n      \"institutionCode\": 269,\n      \"description\": \"269 - HSBC Brasil S.A. Banco de Investimento            \",\n      \"institutionName\": \"HSBC Brasil S.A. Banco de Investimento            \"\n    },\n    {\n      \"institutionCode\": 168,\n      \"description\": \"168 - HSBC INVESTMENT BANK BRASIL S.A.-BANCO M\",\n      \"institutionName\": \"HSBC INVESTMENT BANK BRASIL S.A.-BANCO M\"\n    },\n    {\n      \"institutionCode\": 750,\n      \"description\": \"750 - HSBC REPUBLIC BANK BRASIL S.A-BANCO MULT\",\n      \"institutionName\": \"HSBC REPUBLIC BANK BRASIL S.A-BANCO MULT\"\n    },\n    {\n      \"institutionCode\": 271,\n      \"description\": \"271 - IB Corretora de Cambio, Titulos e value Mobiliar\",\n      \"institutionName\": \"IB Corretora de Cambio, Titulos e value Mobiliar\"\n    },\n    {\n      \"institutionCode\": 157,\n      \"description\": \"157 - ICAP DO BRASIL CORRETORA DE TIT. VAL. MOBILIARIOS \",\n      \"institutionName\": \"ICAP DO BRASIL CORRETORA DE TIT. VAL. MOBILIARIOS \"\n    },\n    {\n      \"institutionCode\": 132,\n      \"description\": \"132 - ICBC DO BRASIL BANCO M0LTIPLO S.A.                \",\n      \"institutionName\": \"ICBC DO BRASIL BANCO M0LTIPLO S.A.                \"\n    },\n    {\n      \"institutionCode\": 880,\n      \"description\": \"880 - INCENTIVE HOUSE\",\n      \"institutionName\": \"INCENTIVE HOUSE\"\n    },\n    {\n      \"institutionCode\": 492,\n      \"description\": \"492 - ING BANK N.V.\",\n      \"institutionName\": \"ING BANK N.V.\"\n    },\n    {\n      \"institutionCode\": 139,\n      \"description\": \"139 - INTESA SANPAOLO BRASIL S.A. - DTVM                \",\n      \"institutionName\": \"INTESA SANPAOLO BRASIL S.A. - DTVM                \"\n    },\n    {\n      \"institutionCode\": 79,\n      \"description\": \"79  - JBS BANCO S.A.                                    \",\n      \"institutionName\": \"JBS BANCO S.A.                                    \"\n    },\n    {\n      \"institutionCode\": 488,\n      \"description\": \"488 - JPMORGAN CHASE BANK\",\n      \"institutionName\": \"JPMORGAN CHASE BANK\"\n    },\n    {\n      \"institutionCode\": 293,\n      \"description\": \"293 - Lastro RDV Distribuidora de Titulos e value Mobi\",\n      \"institutionName\": \"Lastro RDV Distribuidora de Titulos e value Mobi\"\n    },\n    {\n      \"institutionCode\": 105,\n      \"description\": \"105 - LECCA CREDITO FINANCIAMENTO E INVESTIMENTO S.A.   \",\n      \"institutionName\": \"LECCA CREDITO FINANCIAMENTO E INVESTIMENTO S.A.   \"\n    },\n    {\n      \"institutionCode\": 472,\n      \"description\": \"472 - LLOYDS TSB BANK PLC\",\n      \"institutionName\": \"LLOYDS TSB BANK PLC\"\n    },\n    {\n      \"institutionCode\": 113,\n      \"description\": \"113 - MAGLIANO S.A CORRETORA CAMBIO E VALORES MOBILIARIO\",\n      \"institutionName\": \"MAGLIANO S.A CORRETORA CAMBIO E VALORES MOBILIARIO\"\n    },\n    {\n      \"institutionCode\": 323,\n      \"description\": \"323 - MERCADOPAGO.COM REPRESENTACOES LTDA.              \",\n      \"institutionName\": \"MERCADOPAGO.COM REPRESENTACOES LTDA.              \"\n    },\n    {\n      \"institutionCode\": 255,\n      \"description\": \"255 - MILBANCO S.A.\",\n      \"institutionName\": \"MILBANCO S.A.\"\n    },\n    {\n      \"institutionCode\": 274,\n      \"description\": \"274 - MONEY PLUS SOCIEDADE DE CREDITO AO MICROEMPREENDED\",\n      \"institutionName\": \"MONEY PLUS SOCIEDADE DE CREDITO AO MICROEMPREENDED\"\n    },\n    {\n      \"institutionCode\": 14,\n      \"description\": \"14  - NATIXIS BRASIL S.A. - BANCO MúLTIPLO              \",\n      \"institutionName\": \"NATIXIS BRASIL S.A. - BANCO MúLTIPLO              \"\n    },\n    {\n      \"institutionCode\": 191,\n      \"description\": \"191 - NOVA FUTURA CORRETORA DE T0TULOS E VALORES MOBILI0\",\n      \"institutionName\": \"NOVA FUTURA CORRETORA DE T0TULOS E VALORES MOBILI0\"\n    },\n    {\n      \"institutionCode\": 260,\n      \"description\": \"260 - Nubank\",\n      \"institutionName\": \"Nubank\"\n    },\n    {\n      \"institutionCode\": 86,\n      \"description\": \"86  - OBOE CREDITO, FINANCIAMENTO E INVESTIMENTO S.A.   \",\n      \"institutionName\": \"OBOE CREDITO, FINANCIAMENTO E INVESTIMENTO S.A.   \"\n    },\n    {\n      \"institutionCode\": 319,\n      \"description\": \"319 - OM DISTRIBUIDORA DE TITULOS E VALORES MOBILIARIOS \",\n      \"institutionName\": \"OM DISTRIBUIDORA DE TITULOS E VALORES MOBILIARIOS \"\n    },\n    {\n      \"institutionCode\": 325,\n      \"description\": \"325 - ORAMA DISTRIBUIDORA DE TITULOS E VALORES MOBILIARI\",\n      \"institutionName\": \"ORAMA DISTRIBUIDORA DE TITULOS E VALORES MOBILIARI\"\n    },\n    {\n      \"institutionCode\": 355,\n      \"description\": \"355 - OTIMO SOCIEDADE DE CREDITO DIRETO S.A.            \",\n      \"institutionName\": \"OTIMO SOCIEDADE DE CREDITO DIRETO S.A.            \"\n    },\n    {\n      \"institutionCode\": 290,\n      \"description\": \"290 - Pagseguro Internet S.A.                           \",\n      \"institutionName\": \"Pagseguro Internet S.A.                           \"\n    },\n    {\n      \"institutionCode\": 30,\n      \"description\": \"30  - PARAIBAN-BANCO DA PARAIBA S.A.\",\n      \"institutionName\": \"PARAIBAN-BANCO DA PARAIBA S.A.\"\n    },\n    {\n      \"institutionCode\": 254,\n      \"description\": \"254 - PARANA BANCO S.A.\",\n      \"institutionName\": \"PARANA BANCO S.A.\"\n    },\n    {\n      \"institutionCode\": 194,\n      \"description\": \"194 - Parmetal Distribuidora de Titulos e value Mobili\",\n      \"institutionName\": \"Parmetal Distribuidora de Titulos e value Mobili\"\n    },\n    {\n      \"institutionCode\": 174,\n      \"description\": \"174 - Pernambucanas Financiadora S.A. Credito, Financiam\",\n      \"institutionName\": \"Pernambucanas Financiadora S.A. Credito, Financiam\"\n    },\n    {\n      \"institutionCode\": 315,\n      \"description\": \"315 - PI DISTRIBUIDORA DE TITULOS E VALORES MOBILIARIOS \",\n      \"institutionName\": \"PI DISTRIBUIDORA DE TITULOS E VALORES MOBILIARIOS \"\n    },\n    {\n      \"institutionCode\": 380,\n      \"description\": \"380 - PicPay Servicos\",\n      \"institutionName\": \"PicPay Servicos\"\n    },\n    {\n      \"institutionCode\": 108,\n      \"description\": \"108 - PORTOCRED S A CREDITO FINANCIAMENTO E INVESTIMENTO\",\n      \"institutionName\": \"PORTOCRED S A CREDITO FINANCIAMENTO E INVESTIMENTO\"\n    },\n    {\n      \"institutionCode\": 306,\n      \"description\": \"306 - Portopar Distribuidora de Titulos e value Mobili\",\n      \"institutionName\": \"Portopar Distribuidora de Titulos e value Mobili\"\n    },\n    {\n      \"institutionCode\": 329,\n      \"description\": \"329 - QI SOCIEDADE DE CREDITO DIRETO S.A.               \",\n      \"institutionName\": \"QI SOCIEDADE DE CREDITO DIRETO S.A.               \"\n    },\n    {\n      \"institutionCode\": 283,\n      \"description\": \"283 - RB Capital Investimentos Distribuidora de Titulos \",\n      \"institutionName\": \"RB Capital Investimentos Distribuidora de Titulos \"\n    },\n    {\n      \"institutionCode\": 147,\n      \"description\": \"147 - RICO CORRETORA DE TITULOS E VALORES MOBILIARIOS S/\",\n      \"institutionName\": \"RICO CORRETORA DE TITULOS E VALORES MOBILIARIOS S/\"\n    },\n    {\n      \"institutionCode\": 115,\n      \"description\": \"115 - ROTULA S/A CREDITO, FINANCIAMENTO E INVESTIMENTOS \",\n      \"institutionName\": \"ROTULA S/A CREDITO, FINANCIAMENTO E INVESTIMENTOS \"\n    },\n    {\n      \"institutionCode\": 167,\n      \"description\": \"167 - S HAYATA CORRETORA DE CAMBIO S.A.                 \",\n      \"institutionName\": \"S HAYATA CORRETORA DE CAMBIO S.A.                 \"\n    },\n    {\n      \"institutionCode\": 270,\n      \"description\": \"270 - Sagitur Corretora de Cambio Ltda.                 \",\n      \"institutionName\": \"Sagitur Corretora de Cambio Ltda.                 \"\n    },\n    {\n      \"institutionCode\": 80,\n      \"description\": \"80  - SC BT Associados                                  \",\n      \"institutionName\": \"SC BT Associados                                  \"\n    },\n    {\n      \"institutionCode\": 180,\n      \"description\": \"180 - SC CM Capital Markets                             \",\n      \"institutionName\": \"SC CM Capital Markets                             \"\n    },\n    {\n      \"institutionCode\": 60,\n      \"description\": \"60  - SC Confidence                                     \",\n      \"institutionName\": \"SC Confidence                                     \"\n    },\n    {\n      \"institutionCode\": 135,\n      \"description\": \"135 - SC Gradual                                        \",\n      \"institutionName\": \"SC Gradual                                        \"\n    },\n    {\n      \"institutionCode\": 145,\n      \"description\": \"145 - SC Levycam                                        \",\n      \"institutionName\": \"SC Levycam                                        \"\n    },\n    {\n      \"institutionCode\": 137,\n      \"description\": \"137 - SC Multimoney                                     \",\n      \"institutionName\": \"SC Multimoney                                     \"\n    },\n    {\n      \"institutionCode\": 100,\n      \"description\": \"100 - SC Planner                                        \",\n      \"institutionName\": \"SC Planner                                        \"\n    },\n    {\n      \"institutionCode\": 13,\n      \"description\": \"13  - SC Senso                                          \",\n      \"institutionName\": \"SC Senso                                          \"\n    },\n    {\n      \"institutionCode\": 545,\n      \"description\": \"545 - SC Senso                                          \",\n      \"institutionName\": \"SC Senso                                          \"\n    },\n    {\n      \"institutionCode\": 901,\n      \"description\": \"901 - SC Souza Barros                                   \",\n      \"institutionName\": \"SC Souza Barros                                   \"\n    },\n    {\n      \"institutionCode\": 143,\n      \"description\": \"143 - SC Treviso                                        \",\n      \"institutionName\": \"SC Treviso                                        \"\n    },\n    {\n      \"institutionCode\": 131,\n      \"description\": \"131 - SC Tullett Prebon                                 \",\n      \"institutionName\": \"SC Tullett Prebon                                 \"\n    },\n    {\n      \"institutionCode\": 15,\n      \"description\": \"15  - SC UBS Brasil                                     \",\n      \"institutionName\": \"SC UBS Brasil                                     \"\n    },\n    {\n      \"institutionCode\": 149,\n      \"description\": \"149 - SCFI Facta Financeira                             \",\n      \"institutionName\": \"SCFI Facta Financeira                             \"\n    },\n    {\n      \"institutionCode\": 93,\n      \"description\": \"93  - SCM Polocred                                      \",\n      \"institutionName\": \"SCM Polocred                                      \"\n    },\n    {\n      \"institutionCode\": 276,\n      \"description\": \"276 - Senff S.A. - Credito, Financiamento e Investimento\",\n      \"institutionName\": \"Senff S.A. - Credito, Financiamento e Investimento\"\n    },\n    {\n      \"institutionCode\": 190,\n      \"description\": \"190 - SERVICOOP - COOPERATIVA DE CREDITO DOS SERVIDORES \",\n      \"institutionName\": \"SERVICOOP - COOPERATIVA DE CREDITO DOS SERVIDORES \"\n    },\n    {\n      \"institutionCode\": 754,\n      \"description\": \"754 - Sistema                                           \",\n      \"institutionName\": \"Sistema                                           \"\n    },\n    {\n      \"institutionCode\": 183,\n      \"description\": \"183 - Socred S.A. - Sociedade de Credito ao Microempreen\",\n      \"institutionName\": \"Socred S.A. - Sociedade de Credito ao Microempreen\"\n    },\n    {\n      \"institutionCode\": 299,\n      \"description\": \"299 - Sorocred - Credito, Financiamento e Investimento S\",\n      \"institutionName\": \"Sorocred - Credito, Financiamento e Investimento S\"\n    },\n    {\n      \"institutionCode\": 118,\n      \"description\": \"118 - STANDARD CHARTERED BANK BRASIL S.A. - BANCO DE INV\",\n      \"institutionName\": \"STANDARD CHARTERED BANK BRASIL S.A. - BANCO DE INV\"\n    },\n    {\n      \"institutionCode\": 197,\n      \"description\": \"197 - Stone Pagamentos S.A.                             \",\n      \"institutionName\": \"Stone Pagamentos S.A.                             \"\n    },\n    {\n      \"institutionCode\": 340,\n      \"description\": \"340 - SUPER PAGAMENTOS E ADMINISTRACAO DE MEIOS ELETRONI\",\n      \"institutionName\": \"SUPER PAGAMENTOS E ADMINISTRACAO DE MEIOS ELETRONI\"\n    },\n    {\n      \"institutionCode\": 998,\n      \"description\": \"998 - TECNOLOGIA BANCARIA S.A.                          \",\n      \"institutionName\": \"TECNOLOGIA BANCARIA S.A.                          \"\n    },\n    {\n      \"institutionCode\": 307,\n      \"description\": \"307 - Terra Investimentos Distribuidora de Titulos e Val\",\n      \"institutionName\": \"Terra Investimentos Distribuidora de Titulos e Val\"\n    },\n    {\n      \"institutionCode\": 138,\n      \"description\": \"138 - TURMALINA CORRETORA DE CAMBIO S.A.                \",\n      \"institutionName\": \"TURMALINA CORRETORA DE CAMBIO S.A.                \"\n    },\n    {\n      \"institutionCode\": 409,\n      \"description\": \"409 - UNIBANCO - UNIAO DE BANCOS BRASILEIROS S\",\n      \"institutionName\": \"UNIBANCO - UNIAO DE BANCOS BRASILEIROS S\"\n    },\n    {\n      \"institutionCode\": 87,\n      \"description\": \"87  - UNICRED CENTRAL SANTA CATARINA                    \",\n      \"institutionName\": \"UNICRED CENTRAL SANTA CATARINA                    \"\n    },\n    {\n      \"institutionCode\": 298,\n      \"description\": \"298 - Vip's Corretora de Cambio Ltda.                   \",\n      \"institutionName\": \"Vip's Corretora de Cambio Ltda.                   \"\n    },\n    {\n      \"institutionCode\": 296,\n      \"description\": \"296 - Vision S.A. Corretora de Cambio                   \",\n      \"institutionName\": \"Vision S.A. Corretora de Cambio                   \"\n    },\n    {\n      \"institutionCode\": 310,\n      \"description\": \"310 - Vortx Distribuidora de Titulos e value Mobiliari\",\n      \"institutionName\": \"Vortx Distribuidora de Titulos e value Mobiliari\"\n    },\n    {\n      \"institutionCode\": 102,\n      \"description\": \"102 - XP INVEST CORRETORA DE CAMBIO TIT E VALORES MOB SA\",\n      \"institutionName\": \"XP INVEST CORRETORA DE CAMBIO TIT E VALORES MOB SA\"\n    }\n  ],\n  \"errorCode\": \"000\",\n  \"message\": \"SUCESSO\",\n  \"status\": 0\n}{\n  \"banks\": [\n    {\n      \"institutionCode\": 604,\n      \"description\": \"604 - 604 - BANCO INDUSTRIAL DO BRASIL S. A.\",\n      \"institutionName\": \"604 - BANCO INDUSTRIAL DO BRASIL S. A.\"\n    },\n    {\n      \"institutionCode\": 992,\n      \"description\": \"992 - ABBI                                              \",\n      \"institutionName\": \"ABBI                                              \"\n    },\n    {\n      \"institutionCode\": 332,\n      \"description\": \"332 - ACESSO SOLUCOES DE PAGAMENTO S.A.                 \",\n      \"institutionName\": \"ACESSO SOLUCOES DE PAGAMENTO S.A.                 \"\n    },\n    {\n      \"institutionCode\": 117,\n      \"description\": \"117 - ADVANCED CORRETORA DE CAMBIO LTDA                 \",\n      \"institutionName\": \"ADVANCED CORRETORA DE CAMBIO LTDA                 \"\n    },\n    {\n      \"institutionCode\": 123,\n      \"description\": \"123 - AGIPLAN FINANCEIRA S.A. CR0DITO, FINANCIAMENTO E I\",\n      \"institutionName\": \"AGIPLAN FINANCEIRA S.A. CR0DITO, FINANCIAMENTO E I\"\n    },\n    {\n      \"institutionCode\": 272,\n      \"description\": \"272 - AGK Corretora de Cambio S.A.                      \",\n      \"institutionName\": \"AGK Corretora de Cambio S.A.                      \"\n    },\n    {\n      \"institutionCode\": 172,\n      \"description\": \"172 - Albatross Corretora de Cambio e value S.A       \",\n      \"institutionName\": \"Albatross Corretora de Cambio e value S.A       \"\n    },\n    {\n      \"institutionCode\": 349,\n      \"description\": \"349 - AMAGGI S.A. - CREDITO, FINANCIAMENTO E INVESTIMENT\",\n      \"institutionName\": \"AMAGGI S.A. - CREDITO, FINANCIAMENTO E INVESTIMENT\"\n    },\n    {\n      \"institutionCode\": 997,\n      \"description\": \"997 - ASSOCIACAO DE BANCOS ESTADUAIS                    \",\n      \"institutionName\": \"ASSOCIACAO DE BANCOS ESTADUAIS                    \"\n    },\n    {\n      \"institutionCode\": 188,\n      \"description\": \"188 - Ativa Investimentos S.A. Corretora de Titulos Camb\",\n      \"institutionName\": \"Ativa Investimentos S.A. Corretora de Titulos Camb\"\n    },\n    {\n      \"institutionCode\": 280,\n      \"description\": \"280 - Avista S.A. Credito, Financiamento e Investimento \",\n      \"institutionName\": \"Avista S.A. Credito, Financiamento e Investimento \"\n    },\n    {\n      \"institutionCode\": 9,\n      \"description\": \"9   - BACEN                                             \",\n      \"institutionName\": \"BACEN                                             \"\n    },\n    {\n      \"institutionCode\": 654,\n      \"description\": \"654 - BANCO A.J. RENNER S.A.\",\n      \"institutionName\": \"BANCO A.J. RENNER S.A.\"\n    },\n    {\n      \"institutionCode\": 61,\n      \"description\": \"61  - BANCO ABB SA\",\n      \"institutionName\": \"BANCO ABB SA\"\n    },\n    {\n      \"institutionCode\": 246,\n      \"description\": \"246 - BANCO ABC BRASIL S.A.\",\n      \"institutionName\": \"BANCO ABC BRASIL S.A.\"\n    },\n    {\n      \"institutionCode\": 356,\n      \"description\": \"356 - BANCO ABN AMRO S.A.\",\n      \"institutionName\": \"BANCO ABN AMRO S.A.\"\n    },\n    {\n      \"institutionCode\": 25,\n      \"description\": \"25  - BANCO ALFA S/A\",\n      \"institutionName\": \"BANCO ALFA S/A\"\n    },\n    {\n      \"institutionCode\": 621,\n      \"description\": \"621 - BANCO APLICAP S.A.\",\n      \"institutionName\": \"BANCO APLICAP S.A.\"\n    },\n    {\n      \"institutionCode\": 625,\n      \"description\": \"625 - BANCO ARAUCARIA S.A.\",\n      \"institutionName\": \"BANCO ARAUCARIA S.A.\"\n    },\n    {\n      \"institutionCode\": 213,\n      \"description\": \"213 - BANCO ARBI S.A.\",\n      \"institutionName\": \"BANCO ARBI S.A.\"\n    },\n    {\n      \"institutionCode\": 201,\n      \"description\": \"201 - BANCO AXIAL S.A.\",\n      \"institutionName\": \"BANCO AXIAL S.A.\"\n    },\n    {\n      \"institutionCode\": 19,\n      \"description\": \"19  - BANCO AZTECA
[...]
