{"openapi":"3.1.0","info":{"title":"Chaves Pix BaaS","version":"2.0.0"},"servers":[{"url":"https://sandbox.openfinance.celcoin.dev/celcoin-baas-pix-dict-webservice/v1"}],"components":{"securitySchemes":{"sec0":{"type":"oauth2","flows":{}}}},"security":[{"sec0":[]}],"paths":{"/pix/dict/entry":{"post":{"summary":"Criar chaves Pix","description":"Confira nosso tutorial -> https://developers.celcoin.com.br/docs/cadastrar-uma-chave-pix","operationId":"criar-chaves-pix","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["account","keyType"],"properties":{"account":{"type":"string","description":"Numero da conta titular da chave Pix"},"keyType":{"type":"string","description":"Tipo da chave que deseja cadastrar"},"key":{"type":"string","description":"Valor da chave que deseja cadastrar."}}},"examples":{"Request Example":{"value":{"account":"444444","keyType":"EVP","key":""}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"CONFIRMED\",\n  \"body\": {\n    \"keyType\": \"EMAIL\",\n    \"key\": \"testebaas@cecloin.com.br\",\n    \"account\": {\n      \"participant\": \"30306294\",\n      \"branch\": \"0001\",\n      \"account\": \"10545584\",\n      \"accountType\": \"TRAN\",\n      \"createDate\": \"2020-11-03T06:30:00-03:00\"\n    },\n    \"owner\": {\n      \"type\": \"NATURAL_PERSON\",\n      \"documentNumber\": \"34335125070\",\n      \"name\": \"Carlos Henrique da Silva\"\n    }\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"CONFIRMED"},"body":{"type":"object","properties":{"keyType":{"type":"string","example":"EMAIL"},"key":{"type":"string","example":"testebaas@cecloin.com.br"},"account":{"type":"object","properties":{"participant":{"type":"string","example":"30306294"},"branch":{"type":"string","example":"0001"},"account":{"type":"string","example":"10545584"},"accountType":{"type":"string","example":"TRAN"},"createDate":{"type":"string","example":"2020-11-03T06:30:00-03:00"}}},"owner":{"type":"object","properties":{"type":{"type":"string","example":"NATURAL_PERSON"},"documentNumber":{"type":"string","example":"34335125070"},"name":{"type":"string","example":"Carlos Henrique da Silva"}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CBE178\",\n    \"message\": \"Quando keyType igual a EVP o campo key não deve ser informado.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CBE178"},"message":{"type":"string","example":"Quando keyType igual a EVP o campo key não deve ser informado."}}}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CBE028\",\n    \"message\": \"Credenciais inválidas.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CBE028"},"message":{"type":"string","example":"Credenciais inválidas."}}}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CBE030\",\n    \"message\": \"Não encontramos nenhuma conta através do parâmetro informado.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CBE030"},"message":{"type":"string","example":"Não encontramos nenhuma conta através do parâmetro informado."}}}}}}}},"422":{"description":"422","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}}},"deprecated":false}},"/pix/dict/entry/{key}":{"delete":{"summary":"Excluir chaves Pix","description":"Confira nosso tutorial -> https://developers.celcoin.com.br/docs/excluir-chaves-pix-de-uma-conta","operationId":"excluir-chaves-pix","parameters":[{"name":"key","in":"path","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"account":{"type":"string","description":"Numero da conta titular da chave Pix"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"SUCCESS\"\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"SUCCESS"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CBE091\",\n    \"message\": \"É necessário informar o campo: account.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CBE091"},"message":{"type":"string","example":"É necessário informar o campo: account."}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CBE028\",\n    \"message\": \"Credenciais inválidas.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CBE028"},"message":{"type":"string","example":"Credenciais inválidas."}}}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CBE030\",\n    \"message\": \"string\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CBE030"},"message":{"type":"string","example":"string"}}}}}}}},"422":{"description":"422","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}}},"deprecated":false}},"/pix/dict/entry/{account}":{"get":{"summary":"Consultar chaves Pix de uma conta","description":"Confira nosso tutorial -> https://developers.celcoin.com.br/docs/consultar-chaves-pix-de-uma-conta-copy","operationId":"consulta-informações-da-chave-pix","parameters":[{"name":"account","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"SUCCESS\",\n  \"body\": {\n    \"listKeys\": [\n      {\n        \"keyType\": \"EMAIL\",\n        \"key\": \"testebaas@cecloin.com.br\",\n        \"account\": {\n          \"participant\": \"30306294\",\n          \"branch\": \"0001\",\n          \"account\": \"10545584\",\n          \"accountType\": \"TRAN\",\n          \"createDate\": \"2020-11-03T06:30:00-03:00\"\n        },\n        \"owner\": {\n          \"type\": \"NATURAL_PERSON\",\n          \"documentNumber\": \"34335125070\",\n          \"name\": \"Carlos Henrique da Silva\"\n        }\n      }\n    ]\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"SUCCESS"},"body":{"type":"object","properties":{"listKeys":{"type":"array","items":{"type":"object","properties":{"keyType":{"type":"string","example":"EMAIL"},"key":{"type":"string","example":"testebaas@cecloin.com.br"},"account":{"type":"object","properties":{"participant":{"type":"string","example":"30306294"},"branch":{"type":"string","example":"0001"},"account":{"type":"string","example":"10545584"},"accountType":{"type":"string","example":"TRAN"},"createDate":{"type":"string","example":"2020-11-03T06:30:00-03:00"}}},"owner":{"type":"object","properties":{"type":{"type":"string","example":"NATURAL_PERSON"},"documentNumber":{"type":"string","example":"34335125070"},"name":{"type":"string","example":"Carlos Henrique da Silva"}}}}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CBE177\",\n    \"message\": \"Operação não permitida. Conta esta bloqueada\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CBE177"},"message":{"type":"string","example":"Operação não permitida. Conta esta bloqueada"}}}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CBE028\",\n    \"message\": \"Credenciais inválidas.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CBE028"},"message":{"type":"string","example":"Credenciais inválidas."}}}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CBE030\",\n    \"message\": \"string\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CBE030"},"message":{"type":"string","example":"string"}}}}}}}},"422":{"description":"422","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}}},"deprecated":false}},"/pix/dict/entry/external/{account}":{"get":{"summary":"Consultar uma chave Pix para uma transação","description":"Confira nosso tutorial -> https://developers.celcoin.com.br/docs/consultar-chaves-pix-externa-dict","operationId":"consulta-informações-da-chave-pix-externa","parameters":[{"name":"account","in":"path","schema":{"type":"string"},"required":true},{"name":"key","in":"query","description":"Chave Pix","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"SUCCESS\",\n  \"body\": {\n    \"keyType\": \"string\",\n    \"key\": \"string\",\n    \"account\": {\n      \"participant\": \"30306294\",\n      \"branch\": \"0001\",\n      \"account\": \"10545584\",\n      \"accountType\": \"TRAN\",\n      \"createDate\": \"2020-11-03T06:30:00-03:00\"\n    },\n    \"owner\": {\n      \"type\": \"NATURAL_PERSON\",\n      \"documentNumber\": \"34335125070\",\n      \"name\": \"Carlos Henrique da Silva\"\n    },\n    \"endtoEndId\": \"string\",\n    \"statistics\": {\n      \"lastUpdated\": \"2023-01-31T14:56:35.372Z\",\n      \"counters\": [\n        {\n          \"type\": \"string\",\n          \"by\": \"string\",\n          \"d3\": \"string\",\n          \"d30\": \"string\",\n          \"m6\": \"string\"\n        }\n      ]\n    }\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"SUCCESS"},"body":{"type":"object","properties":{"keyType":{"type":"string","example":"string"},"key":{"type":"string","example":"string"},"account":{"type":"object","properties":{"participant":{"type":"string","example":"30306294"},"branch":{"type":"string","example":"0001"},"account":{"type":"string","example":"10545584"},"accountType":{"type":"string","example":"TRAN"},"createDate":{"type":"string","example":"2020-11-03T06:30:00-03:00"}}},"owner":{"type":"object","properties":{"type":{"type":"string","example":"NATURAL_PERSON"},"documentNumber":{"type":"string","example":"34335125070"},"name":{"type":"string","example":"Carlos Henrique da Silva"}}},"endtoEndId":{"type":"string","example":"string"},"statistics":{"type":"object","properties":{"lastUpdated":{"type":"string","example":"2023-01-31T14:56:35.372Z"},"counters":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"string"},"by":{"type":"string","example":"string"},"d3":{"type":"string","example":"string"},"d30":{"type":"string","example":"string"},"m6":{"type":"string","example":"string"}}}}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CBE177\",\n    \"message\": \"Operação não permitida. Conta esta bloqueada\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CBE177"},"message":{"type":"string","example":"Operação não permitida. Conta esta bloqueada"}}}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CBE028\",\n    \"message\": \"Credenciais inválidas.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CBE028"},"message":{"type":"string","example":"Credenciais inválidas."}}}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CBE030\",\n    \"message\": \"string\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CBE030"},"message":{"type":"string","example":"string"}}}}}}}},"422":{"description":"422","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}}},"deprecated":false}},"/pix/dict/claim":{"post":{"summary":"Cadastra nova reivindicação/portabilidade de chave Pix","description":"","operationId":"cadastrar-portabilidade-reivindicacao-de-chaves-pix","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["account","claimType"],"properties":{"key":{"type":"string","description":"Chave que deseja realizar a reivindicação/portabilidade"},"keyType":{"type":"string","description":"Tipo da chave"},"account":{"type":"number","description":"Número da conta que ira realizar a solicitação de portabilidade ou reivindicação de chave","format":"double"},"claimType":{"type":"string","description":"Tipo de operação"}}},"examples":{"Request Example":{"value":{"key":"teste@celcoin.com.br","keyType":"Email","account":"30053913742139","claimType":"OWNERSHIP"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"OPEN\",\n  \"body\": {\n    \"id\": \"8bbc0ba5-2aee-44a0-a3c9-b897802a9f66\",\n    \"claimType\": \"OWNERSHIP\",\n    \"key\": \"fulanodetal@gmail.com\",\n    \"keyType\": \"EMAIL\",\n    \"claimerAccount\": {\n      \"participant\": \"30306294\",\n      \"branch\": \"0001\",\n      \"account\": \"30053913742139\",\n      \"accountType\": \"TRAN\"\n    },\n    \"claimer\": {\n      \"personType\": \"NATURAL_PERSON\",\n      \"taxId\": \"34335125070\",\n      \"name\": \"João da Silva Junior\"\n    },\n    \"donorParticipant\": \"30306294\",\n    \"createTimestamp\": \"2023-05-01T13:05:09\",\n    \"completionPeriodEnd\": \"2023-05-01T13:05:09\",\n    \"resolutionPeriodEnd\": \"2023-05-01T13:05:09\",\n    \"lastModified\": \"2023-05-01T13:05:09\",\n    \"confirmReason\": \"USER_REQUESTED\",\n    \"cancelReason\": \"FRAUD\",\n    \"cancelledBy\": \"DONOR\",\n    \"donorAccount\": {\n      \"account\": \"30053913742139\",\n      \"branch\": \"0001\",\n      \"taxId\": \"34335125070\",\n      \"name\": \"João da Silva\"\n    }\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"OPEN"},"body":{"type":"object","properties":{"id":{"type":"string","example":"8bbc0ba5-2aee-44a0-a3c9-b897802a9f66"},"claimType":{"type":"string","example":"OWNERSHIP"},"key":{"type":"string","example":"fulanodetal@gmail.com"},"keyType":{"type":"string","example":"EMAIL"},"claimerAccount":{"type":"object","properties":{"participant":{"type":"string","example":"30306294"},"branch":{"type":"string","example":"0001"},"account":{"type":"string","example":"30053913742139"},"accountType":{"type":"string","example":"TRAN"}}},"claimer":{"type":"object","properties":{"personType":{"type":"string","example":"NATURAL_PERSON"},"taxId":{"type":"string","example":"34335125070"},"name":{"type":"string","example":"João da Silva Junior"}}},"donorParticipant":{"type":"string","example":"30306294"},"createTimestamp":{"type":"string","example":"2023-05-01T13:05:09"},"completionPeriodEnd":{"type":"string","example":"2023-05-01T13:05:09"},"resolutionPeriodEnd":{"type":"string","example":"2023-05-01T13:05:09"},"lastModified":{"type":"string","example":"2023-05-01T13:05:09"},"confirmReason":{"type":"string","example":"USER_REQUESTED"},"cancelReason":{"type":"string","example":"FRAUD"},"cancelledBy":{"type":"string","example":"DONOR"},"donorAccount":{"type":"object","properties":{"account":{"type":"string","example":"30053913742139"},"branch":{"type":"string","example":"0001"},"taxId":{"type":"string","example":"34335125070"},"name":{"type":"string","example":"João da Silva"}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"504":{"description":"504","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}}},"deprecated":false}},"/pix/dict/claim/confirm":{"post":{"summary":"Confirma nova reivindicação/portabilidade de chave Pix","description":"","operationId":"confirmar-reivindicação-portabilidade-de-chave-pix","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"Numero de Identificação único também conhecido como Id/ClaimId que retorna na criação da reivindicação/portabilidade"},"reason":{"type":"string","description":"Motivo da solicitação Opcional por default é USER_REQUESTED Os tipos de razão são: \"USER_REQUESTED\" \"ACCOUNT_CLOSURE\" \"FRAUD\" \"DEFAULT_OPERATION\""}}},"examples":{"Request Example":{"value":{"id":"e1cd2879-e16f-491f-b4cb-525555b42884","reason":"USER_REQUESTED"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"CONFIRMED\",\n  \"body\": {\n    \"id\": \"8bbc0ba5-2aee-44a0-a3c9-b897802a9f66\",\n    \"claimType\": \"OWNERSHIP\",\n    \"key\": \"fulanodetal@gmail.com\",\n    \"keyType\": \"EMAIL\",\n    \"claimerAccount\": {\n      \"participant\": \"30306294\",\n      \"branch\": \"0001\",\n      \"account\": \"30053913742139\",\n      \"accountType\": \"TRAN\"\n    },\n    \"claimer\": {\n      \"personType\": \"NATURAL_PERSON\",\n      \"taxId\": \"34335125070\",\n      \"name\": \"João da Silva Junior\"\n    },\n    \"donorParticipant\": \"30306294\",\n    \"createTimestamp\": \"2023-05-01T13:05:09\",\n    \"completionPeriodEnd\": \"2023-05-01T13:05:09\",\n    \"resolutionPeriodEnd\": \"2023-08-10T17\",\n    \"lastModified\": \"2023-08-11T17:11:33\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"CONFIRMED"},"body":{"type":"object","properties":{"id":{"type":"string","example":"8bbc0ba5-2aee-44a0-a3c9-b897802a9f66"},"claimType":{"type":"string","example":"OWNERSHIP"},"key":{"type":"string","example":"fulanodetal@gmail.com"},"keyType":{"type":"string","example":"EMAIL"},"claimerAccount":{"type":"object","properties":{"participant":{"type":"string","example":"30306294"},"branch":{"type":"string","example":"0001"},"account":{"type":"string","example":"30053913742139"},"accountType":{"type":"string","example":"TRAN"}}},"claimer":{"type":"object","properties":{"personType":{"type":"string","example":"NATURAL_PERSON"},"taxId":{"type":"string","example":"34335125070"},"name":{"type":"string","example":"João da Silva Junior"}}},"donorParticipant":{"type":"string","example":"30306294"},"createTimestamp":{"type":"string","example":"2023-05-01T13:05:09"},"completionPeriodEnd":{"type":"string","example":"2023-05-01T13:05:09"},"resolutionPeriodEnd":{"type":"string","example":"2023-08-10T17"},"lastModified":{"type":"string","example":"2023-08-11T17:11:33"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"504":{"description":"504","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}}},"deprecated":false}},"/pix/dict/claim/cancel":{"post":{"summary":"Cancela nova reivindicação/portabilidade de chave Pix","description":"","operationId":"cancela-reivindicacao-e-portabilidade-de-chave-pix","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"Numero de Identificação único também conhecido como Id/ClaimId que retorna na criação da reivindicação/portabilidade"},"reason":{"type":"string","description":"Motivo da solicitação Opcional por default é USER_REQUESTED Os tipos de razão são: \"USER_REQUESTED\" \"ACCOUNT_CLOSURE\" \"FRAUD\" \"DEFAULT_OPERATION\""}}},"examples":{"Request Example":{"value":{"id":"e1cd2879-e16f-491f-b4cb-525555b42884","reason":"USER_REQUESTED"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"CANCELLED\",\n  \"body\": {\n    \"id\": \"8bbc0ba5-2aee-44a0-a3c9-b897802a9f66\",\n    \"claimType\": \"OWNERSHIP\",\n    \"key\": \"fulanodetal@gmail.com\",\n    \"keyType\": \"EMAIL\",\n    \"claimerAccount\": {\n      \"participant\": \"30306294\",\n      \"branch\": \"0001\",\n      \"account\": \"30053913742139\",\n      \"accountType\": \"TRAN\"\n    },\n    \"claimer\": {\n      \"personType\": \"NATURAL_PERSON\",\n      \"taxId\": \"34335125070\",\n      \"name\": \"João da Silva Juniors\"\n    },\n    \"donorParticipant\": \"30306294\",\n    \"createTimestamp\": \"2023-05-01T13:05:09\",\n    \"completionPeriodEnd\": \"2023-05-01T13:05:09\",\n    \"resolutionPeriodEnd\": \"2023-08-10T17\",\n    \"lastModified\": \"2023-08-11T17:11:33\",\n    \"cancelledBy\": \"CLAIMER\",\n    \"cancelReason\": \"FRAUD\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"CANCELLED"},"body":{"type":"object","properties":{"id":{"type":"string","example":"8bbc0ba5-2aee-44a0-a3c9-b897802a9f66"},"claimType":{"type":"string","example":"OWNERSHIP"},"key":{"type":"string","example":"fulanodetal@gmail.com"},"keyType":{"type":"string","example":"EMAIL"},"claimerAccount":{"type":"object","properties":{"participant":{"type":"string","example":"30306294"},"branch":{"type":"string","example":"0001"},"account":{"type":"string","example":"30053913742139"},"accountType":{"type":"string","example":"TRAN"}}},"claimer":{"type":"object","properties":{"personType":{"type":"string","example":"NATURAL_PERSON"},"taxId":{"type":"string","example":"34335125070"},"name":{"type":"string","example":"João da Silva Juniors"}}},"donorParticipant":{"type":"string","example":"30306294"},"createTimestamp":{"type":"string","example":"2023-05-01T13:05:09"},"completionPeriodEnd":{"type":"string","example":"2023-05-01T13:05:09"},"resolutionPeriodEnd":{"type":"string","example":"2023-08-10T17"},"lastModified":{"type":"string","example":"2023-08-11T17:11:33"},"cancelledBy":{"type":"string","example":"CLAIMER"},"cancelReason":{"type":"string","example":"FRAUD"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"504":{"description":"504","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}}},"deprecated":false}},"/pix/dict/claim/{id}":{"get":{"summary":"Consulta reivindicação/portabilidade de chave Pix","description":"","operationId":"consulta-reivindicacao-e-portabilidade-de-chave-pix","parameters":[{"name":"id","in":"path","description":"Identificador único da claim.","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"SUCCESS\",\n  \"body\": {\n    \"id\": \"8bbc0ba5-2aee-44a0-a3c9-b897802a9f66\",\n    \"claimType\": \"OWNERSHIP\",\n    \"key\": \"fulanodetal@gmail.com\",\n    \"keyType\": \"EMAIL\",\n    \"claimerAccount\": {\n      \"participant\": \"30306294\",\n      \"branch\": \"0001\",\n      \"account\": \"30053913742139\",\n      \"accountType\": \"TRAN\"\n    },\n    \"claimer\": {\n      \"personType\": \"NATURAL_PERSON\",\n      \"taxId\": \"34335125070\",\n      \"name\": \"João da Silva Junior\"\n    },\n    \"donorParticipant\": \"30306294\",\n    \"createTimestamp\": \"2023-05-01T13:05:09\",\n    \"completionPeriodEnd\": \"2023-05-01T13:05:09\",\n    \"resolutionPeriodEnd\": \"2023-05-01T13:05:09\",\n    \"lastModified\": \"2023-05-01T13:05:09\",\n    \"confirmReason\": \"USER_REQUESTED\",\n    \"cancelReason\": \"FRAUD\",\n    \"cancelledBy\": \"DONOR\",\n    \"donorAccount\": {\n      \"account\": \"30053913742139\",\n      \"branch\": \"0001\",\n      \"taxId\": \"34335125070\",\n      \"name\": \"João da Silva\"\n    }\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"SUCCESS"},"body":{"type":"object","properties":{"id":{"type":"string","example":"8bbc0ba5-2aee-44a0-a3c9-b897802a9f66"},"claimType":{"type":"string","example":"OWNERSHIP"},"key":{"type":"string","example":"fulanodetal@gmail.com"},"keyType":{"type":"string","example":"EMAIL"},"claimerAccount":{"type":"object","properties":{"participant":{"type":"string","example":"30306294"},"branch":{"type":"string","example":"0001"},"account":{"type":"string","example":"30053913742139"},"accountType":{"type":"string","example":"TRAN"}}},"claimer":{"type":"object","properties":{"personType":{"type":"string","example":"NATURAL_PERSON"},"taxId":{"type":"string","example":"34335125070"},"name":{"type":"string","example":"João da Silva Junior"}}},"donorParticipant":{"type":"string","example":"30306294"},"createTimestamp":{"type":"string","example":"2023-05-01T13:05:09"},"completionPeriodEnd":{"type":"string","example":"2023-05-01T13:05:09"},"resolutionPeriodEnd":{"type":"string","example":"2023-05-01T13:05:09"},"lastModified":{"type":"string","example":"2023-05-01T13:05:09"},"confirmReason":{"type":"string","example":"USER_REQUESTED"},"cancelReason":{"type":"string","example":"FRAUD"},"cancelledBy":{"type":"string","example":"DONOR"},"donorAccount":{"type":"object","properties":{"account":{"type":"string","example":"30053913742139"},"branch":{"type":"string","example":"0001"},"taxId":{"type":"string","example":"34335125070"},"name":{"type":"string","example":"João da Silva"}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"504":{"description":"504","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}}},"deprecated":false}},"/pix/dict/claim/list":{"get":{"summary":"Consulta lista de reivindicação/portabilidade de chave Pix","description":"","operationId":"consulta-lista-de-reivindicacao-e-portabilidade-de-chave-pix","parameters":[{"name":"DateFrom","in":"query","description":"Data de Inicio que deseja buscar","schema":{"type":"string","default":"2023-06-07"}},{"name":"DateTo","in":"query","description":"Data Fim que deseja buscar","schema":{"type":"string","default":"2023-06-10"}},{"name":"LimitPerPage","in":"query","description":"Limite de resultados por página","schema":{"type":"string","default":"10"}},{"name":"Page","in":"query","description":"Página que deseja visualizar","schema":{"type":"string","default":"1"}},{"name":"Status","in":"query","description":"Status da Claim  Available values : OPEN, WAITING_RESOLUTION, CONFIRMED, CANCELLED, COMPLETED","schema":{"type":"string","default":"CONFIRMED"}},{"name":"claimType","in":"query","description":"Tipo da Claim: Available values : OWNERSHIP, PORTABILITY","schema":{"type":"string","default":"OWNERSHIP"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"SUCCESS\",\n  \"body\": {\n    \"claims\": [\n      {\n        \"id\": \"8bbc0ba5-2aee-44a0-a3c9-b897802a9f66\",\n        \"claimType\": \"OWNERSHIP\",\n        \"key\": \"fulanodetal@gmail.com\",\n        \"keyType\": \"EMAIL\",\n        \"claimerAccount\": {\n          \"participant\": \"30306294\",\n          \"branch\": \"0001\",\n          \"account\": \"30053913742139\",\n          \"accountType\": \"TRAN\"\n        },\n        \"claimer\": {\n          \"personType\": \"NATURAL_PERSON\",\n          \"taxId\": \"34335125070\",\n          \"name\": \"João da Silva Junior\"\n        },\n        \"donorParticipant\": \"30306294\",\n        \"status\": \"OPEN\",\n        \"createTimestamp\": \"2023-05-01T13:05:09\",\n        \"completionPeriodEnd\": \"2023-05-01T13:05:09\",\n        \"resolutionPeriodEnd\": \"2023-05-01T13:05:09\",\n        \"lastModified\": \"2023-05-01T13:05:09\",\n        \"donorAccount\": {\n          \"account\": \"30053913742139\",\n          \"branch\": \"0001\",\n          \"taxId\": \"34335125070\",\n          \"name\": \"João da Silva Junior\"\n        }\n      }\n    ]\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"SUCCESS"},"body":{"type":"object","properties":{"claims":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"8bbc0ba5-2aee-44a0-a3c9-b897802a9f66"},"claimType":{"type":"string","example":"OWNERSHIP"},"key":{"type":"string","example":"fulanodetal@gmail.com"},"keyType":{"type":"string","example":"EMAIL"},"claimerAccount":{"type":"object","properties":{"participant":{"type":"string","example":"30306294"},"branch":{"type":"string","example":"0001"},"account":{"type":"string","example":"30053913742139"},"accountType":{"type":"string","example":"TRAN"}}},"claimer":{"type":"object","properties":{"personType":{"type":"string","example":"NATURAL_PERSON"},"taxId":{"type":"string","example":"34335125070"},"name":{"type":"string","example":"João da Silva Junior"}}},"donorParticipant":{"type":"string","example":"30306294"},"status":{"type":"string","example":"OPEN"},"createTimestamp":{"type":"string","example":"2023-05-01T13:05:09"},"completionPeriodEnd":{"type":"string","example":"2023-05-01T13:05:09"},"resolutionPeriodEnd":{"type":"string","example":"2023-05-01T13:05:09"},"lastModified":{"type":"string","example":"2023-05-01T13:05:09"},"donorAccount":{"type":"object","properties":{"account":{"type":"string","example":"30053913742139"},"branch":{"type":"string","example":"0001"},"taxId":{"type":"string","example":"34335125070"},"name":{"type":"string","example":"João da Silva Junior"}}}}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}},"504":{"description":"504","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"version\": \"1.0.0\",\n  \"status\": \"ERROR\",\n  \"error\": {\n    \"errorCode\": \"CIE999\",\n    \"message\": \"Ocorreu um erro interno durante a chamada da api.\"\n  }\n}"}},"schema":{"type":"object","properties":{"version":{"type":"string","example":"1.0.0"},"status":{"type":"string","example":"ERROR"},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"CIE999"},"message":{"type":"string","example":"Ocorreu um erro interno durante a chamada da api."}}}}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}