{"openapi":"3.1.0","info":{"title":"Celcoin Open Finance API","version":"2.0.0"},"servers":[{"url":"https://openfinance.api.celcoin.com.br"}],"components":{"securitySchemes":{"sec0":{"type":"oauth2","flows":{}}}},"security":[{"sec0":[]}],"paths":{"/list-payments":{"get":{"summary":"Consultar pagamentos (Em breve)","description":"Retorna todos os pagamentos iniciados por determinado usuário.","operationId":"consultar-pagamentos","parameters":[{"name":"document","in":"query","description":"CPF/CNPJ do usuário cujas iniciações de pagamento devem ser retornadas.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 0,\n  \"body\": [\n    {\n      \"paymentId\": \"string\",\n      \"paymentInitiationDateTime\": \"string\",\n      \"status\": \"string\",\n      \"receiverName\": \"string\",\n      \"amount\": \"string\",\n      \"changeFields\": [\n        \"string\"\n      ],\n      \"currency\": \"string\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":0,"default":0},"body":{"type":"array","items":{"type":"object","properties":{"paymentId":{"type":"string","example":"string"},"paymentInitiationDateTime":{"type":"string","example":"string"},"status":{"type":"string","example":"string"},"receiverName":{"type":"string","example":"string"},"amount":{"type":"string","example":"string"},"changeFields":{"type":"array","items":{"type":"string","example":"string"}},"currency":{"type":"string","example":"string"}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 0,\n  \"error\": {\n    \"errorCode\": \"string\",\n    \"message\": \"string\"\n  }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":0,"default":0},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"string"},"message":{"type":"string","example":"string"}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 0,\n  \"error\": {\n    \"errorCode\": \"string\",\n    \"message\": \"string\"\n  }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":0,"default":0},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"string"},"message":{"type":"string","example":"string"}}}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 0,\n  \"error\": {\n    \"errorCode\": \"string\",\n    \"message\": \"string\"\n  }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":0,"default":0},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"string"},"message":{"type":"string","example":"string"}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 0,\n  \"error\": {\n    \"errorCode\": \"string\",\n    \"message\": \"string\"\n  }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":0,"default":0},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"string"},"message":{"type":"string","example":"string"}}}}}}}}},"deprecated":false}},"/search-payment":{"get":{"summary":"Consultar pagamento (Em breve)","description":"Retorna um pagamento iniciado por determinado usuário.","operationId":"consultar-pagamento","parameters":[{"name":"paymentId","in":"query","description":"Identificador da iniciação de pagamento que deve ser retornada.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 0,\n  \"body\": {\n    \"paymentId\": \"string\",\n    \"paymentInitiationDateTime\": \"string\",\n    \"status\": \"string\",\n    \"receiverName\": \"string\",\n    \"amount\": \"string\",\n    \"changeFields\": [\n      \"string\"\n    ],\n    \"receiverDocument\": \"string\",\n    \"paymentType\": \"string\"\n  }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":0,"default":0},"body":{"type":"object","properties":{"paymentId":{"type":"string","example":"string"},"paymentInitiationDateTime":{"type":"string","example":"string"},"status":{"type":"string","example":"string"},"receiverName":{"type":"string","example":"string"},"amount":{"type":"string","example":"string"},"changeFields":{"type":"array","items":{"type":"string","example":"string"}},"receiverDocument":{"type":"string","example":"string"},"paymentType":{"type":"string","example":"string"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 0,\n  \"error\": {\n    \"errorCode\": \"string\",\n    \"message\": \"string\"\n  }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":0,"default":0},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"string"},"message":{"type":"string","example":"string"}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 0,\n  \"error\": {\n    \"errorCode\": \"string\",\n    \"message\": \"string\"\n  }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":0,"default":0},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"string"},"message":{"type":"string","example":"string"}}}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 0,\n  \"error\": {\n    \"errorCode\": \"string\",\n    \"message\": \"string\"\n  }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":0,"default":0},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"string"},"message":{"type":"string","example":"string"}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 0,\n  \"error\": {\n    \"errorCode\": \"string\",\n    \"message\": \"string\"\n  }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":0,"default":0},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"string"},"message":{"type":"string","example":"string"}}}}}}}}},"deprecated":false}},"/change-payment":{"post":{"summary":"Alterar pagamento (Em breve)","description":"Altera um pagamento iniciado por determinado usuário.\n\nSomente as informações inseridas pelo usuário no pagamento original poderão ser alteradas, portanto **informações fora dessa regra serão desconsideradas e os valores enviados originalmente pelo recebedor serão os utilizados**.\n\nAlém disso, um agendamento só pode ser alterado até às 23h59 do dia anterior à sua data de pagamento (no fuso horário de Brasília).","operationId":"alterar-pagamento","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["paymentId","redirectUrl"],"properties":{"paymentId":{"type":"string","description":"Identificador da iniciação de pagamento que deve ser retornada."},"redirectUrl":{"type":"string","description":"Destino para o qual o usuário iniciador da transação será redirecionado após retornar da detentora de conta."},"amount":{"type":"number","description":"Montante a ser debitado da conta do usuário iniciador da transação.","format":"float"},"creditorIssuer":{"type":"string","description":"Agência do beneficiário."},"creditorNumber":{"type":"string","description":"Número de conta do beneficiário."},"creditorPixKey":{"type":"string","description":"Nova chave Pix do beneficiário. Para testes em Sandbox, deve-se utilizar a chave Pix \"testepix@celcoin.com\"."},"creditorAccountType":{"type":"string","description":"Tipo de conta do beneficiário."},"creditorPersonType":{"type":"string","description":"Especifica se o beneficiário é pessoa física (NATURAL_PERSON) ou jurídica (LEGAL_PERSON)."},"creditorName":{"type":"string","description":"Nome do beneficiário."},"qrCode":{"type":"string","description":"QrCode de pagamento"},"pixType":{"type":"string","description":"Tipos de pix. Os possíveis tipos são:  MANU - Inserção manual de dados da conta transacional; DICT - Inserção manual de chave Pix; QRDN - QR code dinâmico; QRES - QR code estático; INIC - Indica que o recebedor (creditor) contratou o Iniciador de Pagamentos especificamente para realizar iniciações de pagamento em que o beneficiário é previamente conhecido."},"clientTransactionId":{"type":"string"},"documentCnpj":{"type":"string","description":"Número do documento CNPJ do usuário iniciador da transação. Em caso de transação de conta jurídica."},"description":{"type":"string","description":"Pode ser utilizada sempre que o usuário iniciador do pagamento necessitar enviar alguma informação adicional ao beneficiário. Esse campo é opcional, possui tamanho máximo de 140 posições e aceita qualquer tipo de caractere (exceto especiais)."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"string\",\n  \"body\": {\n    \"urlAuthorize\": \"string\"\n  }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"string"},"body":{"type":"object","properties":{"urlAuthorize":{"type":"string","example":"string"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 0,\n  \"error\": {\n    \"errorCode\": \"string\",\n    \"message\": \"string\"\n  }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":0,"default":0},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"string"},"message":{"type":"string","example":"string"}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 0,\n  \"error\": {\n    \"errorCode\": \"string\",\n    \"message\": \"string\"\n  }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":0,"default":0},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"string"},"message":{"type":"string","example":"string"}}}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 0,\n  \"error\": {\n    \"errorCode\": \"string\",\n    \"message\": \"string\"\n  }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":0,"default":0},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"string"},"message":{"type":"string","example":"string"}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 0,\n  \"error\": {\n    \"errorCode\": \"string\",\n    \"message\": \"string\"\n  }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":0,"default":0},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"string"},"message":{"type":"string","example":"string"}}}}}}}}},"deprecated":false}},"/cancel-payment":{"post":{"summary":"Cancelar agendamento (Em breve)","description":"Cancela um agendamento de pagamento a pedido do usuário pagador. É necessário que a transação esteja em uma das seguintes situações:\n\n* Agendada com sucesso (SCHD);\n* Retida para analise (PDNG); ou\n* Aguardando autorização de múltiplas alçadas (PATC).\n\nAlém disso, um agendamento só pode ser cancelado até às 23h59 do dia anterior à data de pagamento (no fuso horário de Brasília).","operationId":"cancelar-agendamento","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["paymentId","document"],"properties":{"paymentId":{"type":"string","description":"Identificador da iniciação de pagamento que deve ser retornada."},"document":{"type":"string","description":"CPF/CNPJ do usuário cuja iniciação de pagamento será cancelada."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 0,\n  \"body\": {\n    \"message\": \"success\"\n  }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":0,"default":0},"body":{"type":"object","properties":{"message":{"type":"string","example":"success"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 0,\n  \"error\": {\n    \"errorCode\": \"string\",\n    \"message\": \"string\"\n  }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":0,"default":0},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"string"},"message":{"type":"string","example":"string"}}}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 0,\n  \"error\": {\n    \"errorCode\": \"string\",\n    \"message\": \"string\"\n  }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":0,"default":0},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"string"},"message":{"type":"string","example":"string"}}}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 0,\n  \"error\": {\n    \"errorCode\": \"string\",\n    \"message\": \"string\"\n  }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":0,"default":0},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"string"},"message":{"type":"string","example":"string"}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": 0,\n  \"error\": {\n    \"errorCode\": \"string\",\n    \"message\": \"string\"\n  }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"integer","example":0,"default":0},"error":{"type":"object","properties":{"errorCode":{"type":"string","example":"string"},"message":{"type":"string","example":"string"}}}}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}