{"openapi":"3.1.0","info":{"title":"Débitos veiculares","version":"2.0.0"},"servers":[{"url":"https://sandbox.openfinance.celcoin.dev"}],"components":{"securitySchemes":{"sec0":{"type":"oauth2","flows":{}}}},"security":[{"sec0":[]}],"paths":{"/vehicledebtsapi/v1/debts":{"post":{"summary":"Consultar Débitos de um veículo","description":"Essa API irá retornar informações de um débito veicular a partir dos dados do veículo e proprietário. Basicamente você irá passar as informações e a Celcoin irá realizar a consulta e retornará após alguns segundos via webhook. Para mais informações de como realizar a implementação dessa API criamos o artigo a [**seguir**](https://developers.celcoin.com.br/docs/sobre-a-api-de-auto#executar-o-pagamento-de-um-d%C3%A9bito-veicular). Para testes em ambiente de sandbox recomendamos que seja utilizado a massa de teste disponibilizada neste [**link**](https://docs.google.com/spreadsheets/d/1y_vPJ6_yOIm6JRsXIz9On6HUBMKyFxrm/edit?usp=sharing&ouid=111561115532951179309&rtpof=true&sd=true). Criamos uma tabela que contém todos os erros que essa api pode retornar, recomendamos a leitura do da mesma para realizar a implementação dessa [**api**](https://developers.celcoin.com.br/docs/tabela-de-erros-3).","operationId":"criar-pedido-assíncrono-de-uma-de-débito-veiculares","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["state","licensePlate","renavam","cpfCnpj","clientRequestId"],"properties":{"state":{"type":"string","description":"Estado onde o veículo está registrado","default":"DF"},"licensePlate":{"type":"string","description":"Placa do veículo","default":"IPU0001"},"renavam":{"type":"string","description":"Renavam do veículo. Este campo é obrigatório para todos os estados","default":"67709157143"},"cpfCnpj":{"type":"string","description":"Documento do proprietário do veículo. Obrigatório para os estados PE, PB e RJ","default":"81183207077"},"clientRequestId":{"type":"string","description":"Identificador da transação.  Pode ser um ID interno da transação e utilizado como idempotência","default":"{{$guid}}"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Sucesso":{"value":"{\n  \"transactionId\": 999999,\n  \"message\": \"Sucesso\",\n  \"errorCode\": \"000\"\n}"}},"schema":{"type":"object","properties":{"transactionId":{"type":"integer","example":999999,"default":0},"message":{"type":"string","example":"Sucesso"},"errorCode":{"type":"string","example":"000"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Placa, Estado, Renavam, Documento Inválido ou Não Foi Informado o ClientRequestId":{"value":"{\n \n  \"message\": \"Placa, Estado, Renavam ou Documento Inválido. Ou Não Foi Informado o ClientRequestId\",\n  \"errorCode\": \"809\"\n}"},"Consulta Indisponível":{"value":"{\n    \"message\": \"Consulta de débitos indisponível - Indisponibilidade momentânea. Tentar novamente\",\n    \"errorCode\": \"804\"\n}"},"Consulta Cancelada":{"value":"{\n    \"message\": \"Consulta Cancelada\",\n    \"errorCode\": \"826\"\n}"},"Detran indisponível":{"value":"{\n    \"message\": \"Detran indisponível - Indisponibilidade com Detran. Tentar novamente.\",\n    \"errorCode\": \"807\"\n}"},"Erro não especificado":{"value":"{\n    \"message\": \"Erro não especificado. - Tentar novamente.\",\n    \"errorCode\": \"999\"\n}"},"Produto não Liberado":{"value":"{\n    \"message\": \"Produto não Liberado\",\n    \"errorCode\": \"900\"\n}"},"ClientRequestId já Utilizado":{"value":"{\n    \"transactionId\": 0,\n    \"message\": \"Consulta de débitos já realizada com clientRequestId: f6c4\",\n    \"errorCode\": \"822\"\n}"}},"schema":{"oneOf":[{"title":"Placa, Estado, Renavam, Documento Inválido ou Não Foi Informado o ClientRequestId","type":"object","properties":{"message":{"type":"string","example":"Placa, Estado, Renavam ou Documento Inválido. Ou Não Foi Informado o ClientRequestId"},"errorCode":{"type":"string","example":"809"}}},{"title":"Consulta Indisponível","type":"object","properties":{"message":{"type":"string","example":"Consulta de débitos indisponível - Indisponibilidade momentânea. Tentar novamente"},"errorCode":{"type":"string","example":"804"}}},{"title":"Consulta Cancelada","type":"object","properties":{"message":{"type":"string","example":"Consulta Cancelada"},"errorCode":{"type":"string","example":"826"}}},{"title":"Detran indisponível","type":"object","properties":{"message":{"type":"string","example":"Detran indisponível - Indisponibilidade com Detran. Tentar novamente."},"errorCode":{"type":"string","example":"807"}}},{"title":"Erro não especificado","type":"object","properties":{"message":{"type":"string","example":"Erro não especificado. - Tentar novamente."},"errorCode":{"type":"string","example":"999"}}},{"title":"Produto não Liberado","type":"object","properties":{"message":{"type":"string","example":"Produto não Liberado"},"errorCode":{"type":"string","example":"900"}}},{"title":"ClientRequestId já Utilizado","type":"object","properties":{"transactionId":{"type":"integer","example":0,"default":0},"message":{"type":"string","example":"Consulta de débitos já realizada com clientRequestId: f6c4"},"errorCode":{"type":"string","example":"822"}}}]}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Unauthorized":{"value":"{\n\"message\": \"Credencial Inválida\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Credencial Inválida"}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Internal server error":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/vehicledebtsapi/v1/payDebts":{"post":{"summary":"Realizar pagamento","description":"Essa API possibilita que seja realizado a solicitação de um ou vários pagamentos de forma assíncrona, sendo assim, após enviar a requisição enviaremos um gatilho no formato JSON em seu webhook.\n\nPara mais informações de como realizar a implementação dessa API criamos esse [artigo](https://developers.celcoin.com.br/docs/sobre-a-api-de-auto#executar-o-pagamento-de-um-d%C3%A9bito-veicular).\n\nCriamos uma tabela que contém todos os erros que essa api pode retornar, recomendamos a leitura do da mesma para realizar a implementação dessa [**api**] (https://developers.celcoin.com.br/docs/tabela-de-erros-3#api-de-pagamentos-de-debitos-veiculares).","operationId":"cria-um-pedido-de-pagamento-assíncrono-para-uma-lista-de-débitos","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["transactionId","debtIdList","clientRequestId"],"properties":{"transactionId":{"type":"integer","description":"ID único gerado para pesquisa de seus débitos","format":"int32"},"debtIdList":{"type":"array","description":"ID dos Débitos que você quer realizar o pagamento","items":{"type":"string"}},"clientRequestId":{"type":"string","description":"Identificador da transação. Pode ser um ID interno da transação e é utilizado com idempotência","default":"{{$guid}}"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"paymentId\": \"4DD6E025-869F-4467-B982-FFB8E6D4CC61\",\n    \"errorCode\": \"000\",\n    \"message\": \"Solicitação recebida com sucesso. Aguarde a resposta do processamento no webhook cadastrado.\"\n}"}},"schema":{"type":"object","properties":{"paymentId":{"type":"string","example":"4DD6E025-869F-4467-B982-FFB8E6D4CC61"},"errorCode":{"type":"string","example":"000"},"message":{"type":"string","example":"Solicitação recebida com sucesso. Aguarde a resposta do processamento no webhook cadastrado."}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Consulta não encontrado":{"value":"{\n    \"message\": \"Identificador da Consulta não encontrado, verifique se os dados estão corretos e tente novamente. DebtId: N4CS480I8F1U.\",\n    \"errorCode\": \"811\"\n}"},"Saldo insuficiente para a transação":{"value":"{\n    \"message\": \"Saldo insuficiente para a transação.\",\n    \"errorCode\": \"803\"\n}"},"Baixa de débitos indisponível":{"value":"{\n    \"message\": \"Baixa de débitos indisponível - Tentar novamente mais tarde.\",\n    \"errorCode\": \"805\"\n}"},"Detran Indisponível":{"value":"{\n    \"message\": \"Detran indisponível - Indisponibilidade com Detran. Tentar novamente\",\n    \"errorCode\": \"807\"\n}"},"Um pagamento já foi realizado com o transactionId.":{"value":"{\n    \"message\": \"Um Pagamento já foi realizado com esse transactionId. Por favor, refaça a consulta.\",\n    \"errorCode\": \"813\"\n}"},"Erro não especificado - Tentar novamente":{"value":"{\n    \"message\": \"Erro não especificado - Tentar novamente\",\n    \"errorCode\": \"999\"\n}"},"Débitos Dependentes":{"value":"{\n  \"transactionId\": 9391165,\n  \"message\": \"Existem débitos dependentes que devem ser pagos juntos ao débito informado\",\n  \"execute\": \"2022-09-30 14:41:56\",\n  \"errorCode\": \"815\"\n}"},"Débitos Obrigatórios":{"value":"{\n  \"transactionId\": 815949758,\n  \"message\": \"Existem débitos obrigatórios que devem ser pagos\",\n  \"execute\": \"2022-09-30 14:33:35\",\n  \"errorCode\": \"816\"\n}"},"Débitos Distintos":{"value":"{\n  \"transactionId\": 9391167,\n  \"message\": \"Existem débitos que não podem ser pagos em conjunto\",\n  \"execute\": \"2022-09-30 14:40:56\",\n  \"errorCode\": \"817\"\n}"},"Pagamentos Vencidos":{"value":"{\n    \"message\": \"Não é possível efetuar pagamentos já vencidos\",\n    \"errorCode\": \"818\"\n}"},"ID Debito Inexistente ou Inválido":{"value":"{\n    \"message\": \"Não foram encontrados debitos para essa transacao de pagamento\",\n    \"errorCode\": \"833\"\n}"},"Produto não Liberado":{"value":"{\n    \"message\": \"Produto não Liberado\",\n    \"errorCode\": \"900\"\n}"},"ClientRequestId já Utilizado":{"value":"{\n    \"message\": \"ClientRequestId já Utilizado\",\n    \"errorCode\": \"822\"\n}"},"Identificador de débito enviado com duplicidade":{"value":"{\n    \"message\": \"Existe identificador de débito em duplicidade na solicitação.\",\n    \"errorCode\": \"834\"\n}"}},"schema":{"oneOf":[{"title":"Consulta não encontrado","type":"object","properties":{"message":{"type":"string","example":"Identificador da Consulta não encontrado, verifique se os dados estão corretos e tente novamente. DebtId: N4CS480I8F1U."},"errorCode":{"type":"string","example":"811"}}},{"title":"Saldo insuficiente para a transação","type":"object","properties":{"message":{"type":"string","example":"Saldo insuficiente para a transação."},"errorCode":{"type":"string","example":"803"}}},{"title":"Baixa de débitos indisponível","type":"object","properties":{"message":{"type":"string","example":"Baixa de débitos indisponível - Tentar novamente mais tarde."},"errorCode":{"type":"string","example":"805"}}},{"title":"Detran Indisponível","type":"object","properties":{"message":{"type":"string","example":"Detran indisponível - Indisponibilidade com Detran. Tentar novamente"},"errorCode":{"type":"string","example":"807"}}},{"title":"Um pagamento já foi realizado com o transactionId.","type":"object","properties":{"message":{"type":"string","example":"Um Pagamento já foi realizado com esse transactionId. Por favor, refaça a consulta."},"errorCode":{"type":"string","example":"813"}}},{"title":"Erro não especificado - Tentar novamente","type":"object","properties":{"message":{"type":"string","example":"Erro não especificado - Tentar novamente"},"errorCode":{"type":"string","example":"999"}}},{"title":"Débitos Dependentes","type":"object","properties":{"transactionId":{"type":"integer","example":9391165,"default":0},"message":{"type":"string","example":"Existem débitos dependentes que devem ser pagos juntos ao débito informado"},"execute":{"type":"string","example":"2022-09-30 14:41:56"},"errorCode":{"type":"string","example":"815"}}},{"title":"Débitos Obrigatórios","type":"object","properties":{"transactionId":{"type":"integer","example":815949758,"default":0},"message":{"type":"string","example":"Existem débitos obrigatórios que devem ser pagos"},"execute":{"type":"string","example":"2022-09-30 14:33:35"},"errorCode":{"type":"string","example":"816"}}},{"title":"Débitos Distintos","type":"object","properties":{"transactionId":{"type":"integer","example":9391167,"default":0},"message":{"type":"string","example":"Existem débitos que não podem ser pagos em conjunto"},"execute":{"type":"string","example":"2022-09-30 14:40:56"},"errorCode":{"type":"string","example":"817"}}},{"title":"Pagamentos Vencidos","type":"object","properties":{"message":{"type":"string","example":"Não é possível efetuar pagamentos já vencidos"},"errorCode":{"type":"string","example":"818"}}},{"title":"ID Debito Inexistente ou Inválido","type":"object","properties":{"message":{"type":"string","example":"Não foram encontrados debitos para essa transacao de pagamento"},"errorCode":{"type":"string","example":"833"}}},{"title":"Produto não Liberado","type":"object","properties":{"message":{"type":"string","example":"Produto não Liberado"},"errorCode":{"type":"string","example":"900"}}},{"title":"ClientRequestId já Utilizado","type":"object","properties":{"message":{"type":"string","example":"ClientRequestId já Utilizado"},"errorCode":{"type":"string","example":"822"}}},{"title":"Identificador de débito enviado com duplicidade","type":"object","properties":{"message":{"type":"string","example":"Existe identificador de débito em duplicidade na solicitação."},"errorCode":{"type":"string","example":"834"}}}]}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Unauthorized":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Internal server error":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/vehicledebtsapi/v1/webhook/register":{"post":{"summary":"Registrar URL para recebimento de notificações via Webhook","description":"Essa API realiza a configuração de um webhook para recebimentos dos gatilhos disparados pela Celcoin, informando sobre os débitos de um veiculo.Para mais informações de como realizar a implementação dessa API criamos esse [artigo](https://developers.celcoin.com.br/docs/sobre-a-api-de-auto#configurando-webhook-gatilho)Ao realizar a configuração da url a Celcoin irá realizar uma requisição em seu endpoint para validar se ele funciona, retornando 200, vamos apresentar sucesso, caso contrário vamos avisar que um retorno inesperado aconteceu. Para atualização da URL será necessário repetir a etapa de registro.","operationId":"registra-uma-url-para-recebimento-de-notificações-via-webhook","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["url","clientId","clientSecret"],"properties":{"url":{"type":"string","description":"URL cliente para recebimento de notificações via WebHook"},"clientId":{"type":"string","description":"Informar ID para realizar autenticação"},"clientSecret":{"type":"string","description":"Informar Secret para realizar autenticação"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"OK":{"value":"{\n    \"message\": \"Nova URL atualizada com sucesso\",\n    \"errorCode\": \"000\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Nova URL atualizada com sucesso"},"errorCode":{"type":"string","example":"000"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Bad Request":{"value":"{\n    \"message\": \"Não foi Possível Validar ou Salvar a URL. Exception: An invalid request URI was provided. The request URI must either be an absolute URI or BaseAddress must be set.\",\n    \"errorCode\": \"999\"\n}"},"Erro no Registro do Webhook, Endereço Inválido":{"value":"{\n  \"message\": \"Erro no Registro do Webhook, Endereço Inválido - Tente Novamente\",\n  \"errorCode\": \"701\"\n}"},"Erro no Registro do Webhook, Autenticação Inválida":{"value":"{\n  \"message\": \"Erro no Registro do Webhook, Autenticação Inválida - Tente Novamente\",\n  \"errorCode\": \"702\"\n}"}},"schema":{"oneOf":[{"title":"Bad Request","type":"object","properties":{"message":{"type":"string","example":"Não foi Possível Validar ou Salvar a URL. Exception: An invalid request URI was provided. The request URI must either be an absolute URI or BaseAddress must be set."},"errorCode":{"type":"string","example":"999"}}},{"title":"Erro no Registro do Webhook, Endereço Inválido","type":"object","properties":{"message":{"type":"string","example":"Erro no Registro do Webhook, Endereço Inválido - Tente Novamente"},"errorCode":{"type":"string","example":"701"}}},{"title":"Erro no Registro do Webhook, Autenticação Inválida","type":"object","properties":{"message":{"type":"string","example":"Erro no Registro do Webhook, Autenticação Inválida - Tente Novamente"},"errorCode":{"type":"string","example":"702"}}}]}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Unauthorized":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"500":{"description":"500","content":{"text/plain":{"examples":{"Internal server error":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/vehicledebtsapi/v1/webhook/search":{"get":{"summary":"Retornar URL registrada para recebimento de notificações via Webhook","description":"É possível verificar a última URL registrada pelo cliente para recebimento de notificações via Webhook.","operationId":"retorna-a-url-registrada-para-recebimento-de-notificações-via-webhook","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"url\": \"https://webhook.site/b1ea8622-5819-4473-b8bb-3beed0433e67\",\n    \"createDate\": \"2022-12-30T10:09:46\",\n    \"message\": \"Sucesso\",\n    \"errorCode\": \"000\"\n}"}},"schema":{"type":"object","properties":{"url":{"type":"string","example":"https://webhook.site/b1ea8622-5819-4473-b8bb-3beed0433e67"},"createDate":{"type":"string","example":"2022-12-30T10:09:46"},"message":{"type":"string","example":"Sucesso"},"errorCode":{"type":"string","example":"000"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Bad request":{"value":"{\n  \"message\": \"Ocorreu um erro não especificado. Tente novamente\",\n  \"errorCode\": \"999\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Ocorreu um erro não especificado. Tente novamente"},"errorCode":{"type":"string","example":"999"}}}}}}},"deprecated":false}},"/vehicledebtsapi/v1/webhook/registerWithToken":{"post":{"summary":"Registrar Webhook Com Token - JWT","description":"A API realiza a configuração de um webhook através de token (JWT), para recebimentos dos gatilhos disparados pela Celcoin, informando sobre os débitos de um veiculo. Com isso garantiremos uma maior segurança e confiabilidade nas trocas de mensagem do produto.\n\nPara mais informações de como realizar a implementação dessa API criamos esse [artigo](https://developers.celcoin.com.br/docs/cadastro-de-webhook-com-autentica%C3%A7%C3%A3o-via-token-jwt)\n\nAo realizar a configuração da url a Celcoin irá realizar uma requisição em seu endpoint para validar se ele funciona, retornando 200, vamos apresentar sucesso, caso contrário vamos avisar que um retorno inesperado aconteceu.\n\nPara atualização da URL será necessário repetir a etapa de registro.","operationId":"registrar-webhook-com-token-jwt","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["url","url_token","client_id","client_secret","token_type","grant_type","token_field"],"properties":{"url":{"type":"string","description":"URL cliente para recebimento de notificações via WebHook"},"url_token":{"type":"string","description":"Endereço do serviço para geração do token"},"client_id":{"type":"string","description":"Identificação única para integração com a plataforma"},"client_secret":{"type":"string","description":"O tipo de conteúdo que será enviado para o endereço do serviço de token. Ex:. application/json ou application/x-www-form-urlencoded"},"token_type":{"type":"string","description":"Tipo do token. Ex:. Bearer"},"grant_type":{"type":"string","description":"Usado em cenários de refresh token. Ex:. client_credentials"},"token_field":{"type":"string","description":"Nome do campo do token no retorno da requisição de geração para armazenamento interno."},"handles":{"type":"array","description":"Objeto para identificação de algum processo interno. Ex: Produto, Escopo do Projeto, Equipe,  Serviço e etc..","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"OK":{"value":"{\n    \"message\": \"Nova URL atualizada com sucesso\",\n    \"errorCode\": \"000\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Nova URL atualizada com sucesso"},"errorCode":{"type":"string","example":"000"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Bad Request":{"value":"{\n    \"message\": \"Não foi Possível Validar ou Salvar a URL. Exception: An invalid request URI was provided. The request URI must either be an absolute URI or BaseAddress must be set.\",\n    \"errorCode\": \"999\"\n}"},"Erro no Registro do Webhook, Endereço Inválido":{"value":"{\n  \"message\": \"Erro no Registro do Webhook, Endereço Inválido - Tente Novamente\",\n  \"errorCode\": \"701\"\n}"},"Erro no Registro do Webhook, Autenticação Inválida":{"value":"{\n  \"message\": \"Erro no Registro do Webhook, Autenticação Inválida - Tente Novamente\",\n  \"errorCode\": \"702\"\n}"}},"schema":{"oneOf":[{"title":"Bad Request","type":"object","properties":{"message":{"type":"string","example":"Não foi Possível Validar ou Salvar a URL. Exception: An invalid request URI was provided. The request URI must either be an absolute URI or BaseAddress must be set."},"errorCode":{"type":"string","example":"999"}}},{"title":"Erro no Registro do Webhook, Endereço Inválido","type":"object","properties":{"message":{"type":"string","example":"Erro no Registro do Webhook, Endereço Inválido - Tente Novamente"},"errorCode":{"type":"string","example":"701"}}},{"title":"Erro no Registro do Webhook, Autenticação Inválida","type":"object","properties":{"message":{"type":"string","example":"Erro no Registro do Webhook, Autenticação Inválida - Tente Novamente"},"errorCode":{"type":"string","example":"702"}}}]}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Unauthorized":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"500":{"description":"500","content":{"text/plain":{"examples":{"Internal server error":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/vehicledebtsapi/v1/enrichment/getdata":{"post":{"summary":"Consultar Dados Enriquecidos de um Veículo","description":"Essa API irá retornar os dados básicos do veículo (UF, Renavam, Documento do Proprietário, Modelo, Ano e Cor). Com esses dados em mãos será possível realizar uma consulta de Débitos Veiculares nos órgãos competentes. A seguir a massa de teste: https://docs.google.com/spreadsheets/d/1y_vPJ6_yOIm6JRsXIz9On6HUBMKyFxrm/edit?gid=1906373398#gid=1906373398","operationId":"consultar-dados-enriquecidos-de-um-veiculo","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["licensePlate","clientRequestId"],"properties":{"licensePlate":{"type":"string","description":"Placa do veículo","default":"MGZ0001"},"clientRequestId":{"type":"string","description":"Identificador da transação.  Pode ser um ID interno da transação e utilizado como idempotência","default":"{{$guid}}"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Sucesso":{"value":"{\n  \"errorCode\": \"000\",\n  \"message\": \"Consulta com sucesso.\",\n  \"vehicle\": {\n    \"uf\": \"MG\",\n    \"licensePlate\": \"KXS6161\",\n    \"renavam\": \"217788721\",\n    \"document\": \"00201022713\",\n    \"model\": \"TOYOTA/COROLLA XEI20FLEX\",\n    \"year\": \"2011\"\n  },\n  \"enrichmentId\": \"d5ee5597-185b-4589-ac72-3acra61ada21\"\n}"},"Veículo Não Localizado":{"value":"{\n    \"enrichmentId\": \"c051fa09-a418-45a7-a61b-8c5d06c936f9\",\n    \"errorCode\": \"806\",\n    \"message\": \"Veiculo não localizado\",\n    \"vehicle\": null\n}"}},"schema":{"oneOf":[{"title":"Sucesso","type":"object","properties":{"errorCode":{"type":"string","example":"000"},"message":{"type":"string","example":"Consulta com sucesso."},"vehicle":{"type":"object","properties":{"uf":{"type":"string","example":"MG"},"licensePlate":{"type":"string","example":"KXS6161"},"renavam":{"type":"string","example":"217788721"},"document":{"type":"string","example":"00201022713"},"model":{"type":"string","example":"TOYOTA/COROLLA XEI20FLEX"},"year":{"type":"string","example":"2011"}}},"enrichmentId":{"type":"string","example":"d5ee5597-185b-4589-ac72-3acra61ada21"}}},{"title":"Veículo Não Localizado","type":"object","properties":{"enrichmentId":{"type":"string","example":"c051fa09-a418-45a7-a61b-8c5d06c936f9"},"errorCode":{"type":"string","example":"806"},"message":{"type":"string","example":"Veiculo não localizado"},"vehicle":{}}}]}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Consulta Indisponível":{"value":"{\n    \"message\": \"Consulta indisponível.\",\n    \"errorCode\": \"804\"\n}"},"Erro não especificado":{"value":"{\n    \"message\": \"Erro não especificado. - Tentar novamente.\",\n    \"errorCode\": \"999\"\n}"},"Produto não Liberado":{"value":"{\n    \"message\": \"Produto não Liberado\",\n    \"errorCode\": \"900\"\n}"},"Dados incorretos na requisição":{"value":"{\n\t\"errorCode\": \"809\",\n\t\"message\": \"Verifique se o tipo do campo está no formato correto e tente novamente.\"\n}"},"Placa Incorreta":{"value":"{\n\t\"errorCode\": \"809\",\n\t\"message\": \"Campo licensePlate inválido.\"\n}"}},"schema":{"oneOf":[{"title":"Consulta Indisponível","type":"object","properties":{"message":{"type":"string","example":"Consulta indisponível."},"errorCode":{"type":"string","example":"804"}}},{"title":"Erro não especificado","type":"object","properties":{"message":{"type":"string","example":"Erro não especificado. - Tentar novamente."},"errorCode":{"type":"string","example":"999"}}},{"title":"Produto não Liberado","type":"object","properties":{"message":{"type":"string","example":"Produto não Liberado"},"errorCode":{"type":"string","example":"900"}}},{"title":"Dados incorretos na requisição","type":"object","properties":{"errorCode":{"type":"string","example":"809"},"message":{"type":"string","example":"Verifique se o tipo do campo está no formato correto e tente novamente."}}},{"title":"Placa Incorreta","type":"object","properties":{"errorCode":{"type":"string","example":"809"},"message":{"type":"string","example":"Campo licensePlate inválido."}}}]}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Unauthorized":{"value":"{\n\"message\": \"Credencial Inválida\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Credencial Inválida"}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Internal server error":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}