{"openapi":"3.0.1","info":{"title":"Payout 1.0 External API","description":"Payout 1.0 External API Application","contact":{"url":"https://business.paymaya.com"},"license":{"name":"Apache 2.0","url":"https://www.apache.org/licenses/LICENSE-2.0"},"version":"v1.0"},"externalDocs":{"description":"Payout 1.0 External API","url":"https://springshop.wiki.github.org/docs"},"servers":[{"url":"https://payoutapi-sandbox.maya.ph/","description":"Sandbox"},{"url":"https://payoutapi.maya.ph/","description":"Production"}],"security":[{"apiKeyAuth":["read","write"]}],"tags":[{"name":"Wallet API"},{"name":"Members API"},{"name":"Security API"},{"name":"Disbursement API"}],"x-readme":{"explorer-enabled":false,"proxy-enabled":true},"paths":{"/sessions":{"post":{"tags":["Security API"],"description":"Initiate Session","operationId":"Initiate Session","parameters":[{"name":"x-api-key","in":"header","description":"API Key","required":true,"schema":{"maxLength":32,"minLength":32,"type":"string","format":"api-key","example":"xL4njVZKZLL7Pd0Q4UOnP68Hqkpo7COG"}}],"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}}},"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/BadRequestError"},{"$ref":"#/components/schemas/ErrorCreatingSession"}]},"examples":{"ErrorBadRequest":{"description":"ErrorBadRequest","value":{"code":-2,"message":"Missing or invalid parameters."}},"ErrorCreatingSessionInvalidParameters":{"description":"ErrorCreatingSessionInvalidParameters","value":{"code":-80,"message":"Missing or invalid parameters.","params":{"email":["Email is required"],"password":["Password is required"]}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericError"},"example":{"code":-10,"message":"Session has expired. Please log in to continue."}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericError"},"example":{"code":-19,"message":"Forbidden. User is not permitted to access."}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericError"},"example":{"code":-28,"message":"We can't connect you to the service at the moment, please try again in a few minutes."}}}}}},"delete":{"tags":["Security API"],"description":"Terminate Session","operationId":"Terminate Session","parameters":[{"name":"x-api-key","in":"header","description":"API Key","required":true,"schema":{"maxLength":32,"minLength":32,"type":"string","format":"api-key","example":"xL4njVZKZLL7Pd0Q4UOnP68Hqkpo7COG"}}],"responses":{"200":{"description":"OK"}}}},"/members":{"post":{"tags":["Members API"],"description":"Submit Member File","operationId":"Submit Member File","parameters":[{"name":"x-api-key","in":"header","description":"API Key","required":true,"schema":{"maxLength":32,"minLength":32,"type":"string","format":"api-key","example":"xL4njVZKZLL7Pd0Q4UOnP68Hqkpo7COG"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","description":"CSV file containing details of beneficiaries to register.<br> Max Rows: 1000, Max Size: 500KB, Min Size: 1 Byte","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitMembersFileResponse"},"example":{"message":"5 persons have been invited.","totalRecordsAdded":5}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/BadRequestError"},{"$ref":"#/components/schemas/ErrorMemberRegistration"},{"$ref":"#/components/schemas/InvalidFileRowsSize"}]},"examples":{"ErrorBadRequest":{"description":"ErrorBadRequest","value":{"code":-2,"message":"Missing or invalid parameters."}},"ErrorRegistrationInvalidFileSize":{"description":"ErrorRegistrationInvalidFileSize","value":{"code":-34,"message":"File size must not be greater than 500KB."}},"ErrorRegistrationInvalidFileRows":{"description":"ErrorRegistrationInvalidFileRows","value":{"code":-86,"message":"Member file must not have more than 1000 rows."}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericError"},"example":{"code":-10,"message":"Session has expired. Please log in to continue."}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericError"},"example":{"code":-19,"message":"Forbidden. User is not permitted to access."}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericError"},"example":{"code":-28,"message":"We can't connect you to the service at the moment, please try again in a few minutes."}}}}}}},"/disbursements":{"post":{"tags":["Disbursement API"],"description":"Submit Disbursement File","operationId":"Submit Disbursement File","parameters":[{"name":"x-api-key","in":"header","description":"API Key","required":true,"schema":{"maxLength":32,"minLength":32,"type":"string","format":"api-key","example":"xL4njVZKZLL7Pd0Q4UOnP68Hqkpo7COG"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"pattern":"[a-zA-Z0-9\\s]+","required":["file","name","wallet"],"type":"object","properties":{"name":{"maxLength":50,"minLength":1,"pattern":"[a-zA-Z0-9\\s]+","type":"string","description":"Name of the disbursement"},"wallet":{"pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$","type":"string","description":"Wallet to disburse funds from.","format":"uuid","example":"1dca39e7-6b99-408a-8642-b9929e90b6b4"},"file":{"type":"string","description":"CSV file containing recipients and amounts to disburse.<br> Max Rows: 1000, Max Size: 50KB, Min Size: 1 Byte","format":"binary"}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitDisbursementFileResponse"},"example":{"id":"2ec1e1c9-d745-4bff-b6b5-ea78e82a16b8","disbursementId":null,"name":"Payroll","fileName":"payroll.csv","fileSizeInBytes":139,"totalRecords":1,"wallet":{"id":"bfd3b7c1-d62c-43a6-aa80-45652b1fbe75","createdAt":"1565692814656","updatedAt":"1566970660000","name":"PayMaya","clientId":"PAYMAYA"},"createdBy":{"firstName":"Jose","lastName":"Rizal","isActive":true},"disbursedBy":null,"isFiltered":false,"isDownloadable":false,"createdAt":"2019-04-15T02:47:59.183Z","scheduledAt":null,"updatedAt":"2019-04-15T02:47:59.183Z","status":"CREATE_PENDING","message":"Successful file upload."}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/BadRequestError"},{"$ref":"#/components/schemas/ErrorDisbursementInvalidFileSize"},{"$ref":"#/components/schemas/ErrorDisbursementInvalidWallet"},{"$ref":"#/components/schemas/ErrorDisbursementInvalidName"}]},"examples":{"ErrorBadRequest":{"description":"ErrorBadRequest","value":{"code":-2,"message":"Missing or invalid parameters."}},"ErrorDisbursementInvalidFileSize":{"description":"ErrorDisbursementInvalidFileSize","value":{"code":-21,"message":"File size must not be greater than 50 KB."}},"ErrorDisbursementInvalidFileRows":{"description":"ErrorDisbursementInvalidFileRows","value":{"code":-85,"message":"Disbursement file must not have more than 1000 rows."}},"ErrorDisbursementInvalidName":{"description":"ErrorDisbursementInvalidName","value":{"code":-84,"message":"name must be alphanumeric with only Min length: 1 and Max length: 50"}},"ErrorDisbursementInvalidWallet":{"description":"ErrorDisbursementInvalidWallet","value":{"code":-83,"message":"wallet must be a UUID v4 value."}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericError"},"example":{"code":-10,"message":"Session has expired. Please log in to continue."}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericError"},"example":{"code":-19,"message":"Forbidden. User is not permitted to access."}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericError"},"example":{"code":-28,"message":"We can't connect you to the service at the moment, please try again in a few minutes."}}}}}}},"/disbursements/{disbursementId}":{"get":{"tags":["Disbursement API"],"description":"Get Disbursement File Status","operationId":"Disbursement File Status","parameters":[{"name":"x-api-key","in":"header","description":"API Key","required":true,"schema":{"maxLength":32,"minLength":32,"type":"string","format":"api-key","example":"xL4njVZKZLL7Pd0Q4UOnP68Hqkpo7COG"}},{"name":"disbursementId","in":"path","required":true,"schema":{"type":"string","description":"Disbursement file ID","format":"uuid","example":"1dca39e7-6b99-408a-8642-b9929e90b6b4"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetDisbursementFileStatusResponse"},"example":{"id":"2ec1e1c9-d745-4bff-b6b5-ea78e82a16b8","disbursementId":"4fd0d409efd0","name":"Payroll","fileName":"payroll.csv","fileSizeInBytes":139,"totalRecords":1,"wallet":{"id":"bfd3b7c1-d62c-43a6-aa80-45652b1fbe75","createdAt":"1565692814656","updatedAt":"1566970660000","name":"PayMaya","clientId":"PAYMAYA"},"createdBy":{"firstName":"Jose","lastName":"Rizal","isActive":true},"disbursedBy":{"firstName":"Andres","lastName":"Bonifacio","isActive":true},"isFiltered":true,"isDownloadable":false,"createdAt":"2019-04-15T02:47:59.183Z","scheduledAt":"2019-04-17T06:47:32.141Z","updatedAt":"2019-04-17T06:48:30.127Z","status":"Disbursing..."}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/BadRequestError"},{"$ref":"#/components/schemas/ErrorGettingDisbursementFileStatus"}]},"examples":{"ErrorBadRequest":{"description":"ErrorBadRequest","value":{"code":-2,"message":"Missing or invalid parameters."}},"ErrorInvalidUUID":{"description":"ErrorInvalidUUID","value":{"code":-81,"message":"disbursementId must be a UUID v4 value."}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericError"},"example":{"code":-10,"message":"Session has expired. Please log in to continue."}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericError"},"example":{"code":-19,"message":"Forbidden. User is not permitted to access."}}}},"404":{"description":"Disbursement File Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericError"},"example":{"code":-45,"message":"We had a problem processing your request, please try again in a few minutes."}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericError"},"example":{"code":-28,"message":"We can't connect you to the service at the moment, please try again in a few minutes."}}}}}},"post":{"tags":["Disbursement API"],"description":"Execute Disbursement File","operationId":"Execute Disbursement File","parameters":[{"name":"x-api-key","in":"header","description":"API Key","required":true,"schema":{"maxLength":32,"minLength":32,"type":"string","format":"api-key","example":"xL4njVZKZLL7Pd0Q4UOnP68Hqkpo7COG"}},{"name":"disbursementId","in":"path","required":true,"schema":{"type":"string","description":"Disbursement file ID","format":"uuid","example":"1dca39e7-6b99-408a-8642-b9929e90b6b4"}}],"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/ExecuteDisbursementFileRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExecuteDisbursementResponse"},"example":{"id":"0a15e4c6-3edd-4b09-8fe2-0b2942260203","disbursementId":"89a63889-f171-49c8-a1e5-6a476617c0cd","message":"Disbursements queued for execution."}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/BadRequestError"},{"$ref":"#/components/schemas/ErrorDisbursementInsufficientBalance"},{"$ref":"#/components/schemas/ErrorDisbursementInvalidFileSize"},{"$ref":"#/components/schemas/ErrorDisbursementInvalidPassword"},{"$ref":"#/components/schemas/ErrorDisbursementInvalidStatus"}]},"examples":{"ErrorBadRequest":{"description":"ErrorBadRequest","value":{"code":-2,"message":"Missing or invalid parameters."}},"ErrorDisbursementInsufficientBalance":{"description":"ErrorDisbursementInsufficientBalance","value":{"code":-37,"message":"Insufficient balance."}},"ErrorDisbursementInvalidPassword":{"description":"ErrorDisbursementInvalidPassword","value":{"code":-38,"message":"Invalid password."}},"ErrorDisbursementInvalidStatus":{"description":"ErrorDisbursementInvalidStatus","value":{"code":-41,"message":"This disbursement has already been updated."}},"ErrorInvalidUUID":{"description":"ErrorInvalidUUID","value":{"code":-81,"message":"disbursementId must be a UUID v4 value."}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericError"},"example":{"code":-10,"message":"Session has expired. Please log in to continue."}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericError"},"example":{"code":-19,"message":"Forbidden. User is not permitted to access."}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericError"},"example":{"code":-28,"message":"We can't connect you to the service at the moment, please try again in a few minutes."}}}}}}},"/wallet":{"get":{"tags":["Wallet API"],"description":"Get Wallet Balance","operationId":"Get Wallet","parameters":[{"name":"x-api-key","in":"header","description":"API Key","required":true,"schema":{"maxLength":32,"minLength":32,"type":"string","format":"api-key","example":"xL4njVZKZLL7Pd0Q4UOnP68Hqkpo7COG"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetWalletBalanceResponse"},"example":{"data":[{"id":"bfd3b7c1-d62c-43a6-aa80-45652b1fbe75","balance":{"currency":"PHP","value":80231.55},"name":"Private Organization"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericError"},"example":{"code":-10,"message":"Session has expired. Please log in to continue."}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericError"},"example":{"code":-19,"message":"Forbidden. User is not permitted to access."}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericError"},"example":{"code":-28,"message":"We can't connect you to the service at the moment, please try again in a few minutes."}}}}}}},"/members/{phoneNumber}":{"get":{"tags":["Members API"],"description":"Get Member Record Status","operationId":"Member Record Status","parameters":[{"name":"x-api-key","in":"header","description":"API Key","required":true,"schema":{"maxLength":32,"minLength":32,"type":"string","format":"api-key","example":"xL4njVZKZLL7Pd0Q4UOnP68Hqkpo7COG"}},{"name":"phoneNumber","in":"path","required":true,"schema":{"maxLength":12,"minLength":12,"pattern":"^(639)\\d{9}$","type":"string","example":639191234567}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetMemberRecordStatus"},"example":{"data":[{"accountAlias":"ALIAS","lastName":"Cruz","customId":"AAAA-1ANY-12","firstName":"Juan","createdAt":"2019-12-08T01:01:01.001Z","formattedStatus":"ACTIVE","middleName":"De La,","consentChannel":"SMS","id":"d3167abd-996e-4137-9e87-9197928b2a41","msisdn":"+639681231723","email":"angelo.aballe@voyagerinnovation.com","registeredAt":"2019-12-08T01:01:01.001Z","status":"COMPLETED"}],"page":1,"total":1500}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/BadRequestError"},{"$ref":"#/components/schemas/ErrorGettingMemberRecordStatus"}]},"examples":{"ErrorBadRequest":{"description":"ErrorBadRequest","value":{"code":-2,"message":"Missing or invalid parameters."}},"ErrorGettingMemberRecordStatusInvalidPhoneNumber":{"description":"ErrorGettingMemberRecordStatusInvalidPhoneNumber","value":{"code":-87,"message":"Required must start with 639 and Composed of numbers only. Min length: 12 digits Max length: 12 digits"}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericError"},"example":{"code":-10,"message":"Session has expired. Please log in to continue."}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericError"},"example":{"code":-19,"message":"Forbidden. User is not permitted to access."}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericError"},"example":{"code":-28,"message":"We can't connect you to the service at the moment, please try again in a few minutes."}}}}}}},"/disbursements/{disbursementId}/records-success":{"get":{"tags":["Disbursement API"],"description":"List Successful Disbursement Records","operationId":"List Successful Disbursement Records","parameters":[{"name":"x-api-key","in":"header","description":"API Key","required":true,"schema":{"maxLength":32,"minLength":32,"type":"string","format":"api-key","example":"xL4njVZKZLL7Pd0Q4UOnP68Hqkpo7COG"}},{"name":"disbursementId","in":"path","required":true,"schema":{"type":"string","description":"Disbursement file ID to get records from.","format":"uuid","example":"1dca39e7-6b99-408a-8642-b9929e90b6b4"}},{"name":"page","in":"query","description":"Page number of results","required":true,"schema":{"minimum":1,"type":"number","default":1}},{"name":"limit","in":"query","description":"Limit number of results","required":true,"schema":{"maximum":100,"minimum":1,"type":"number","default":25}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListDisbursementRecords-Success"},"example":{"data":[{"amount":{"currency":"PHP","value":"1000.00"},"customId":"EMPLOYEE100430","disbursementItemId":"ca952ca0-afdf-48ad-bb18-d026e5d51713","firstName":"Juan","id":"8114d8f5-a985-4011-a401-9151c00ed352","lastName":"Santos","profileId":"774022195767","recipientMsisdn":"+639992277655","requestReferenceNumber":"000017209305","requestTimestamp":"2020-12-31 16:06:37","responseCode":"0000","responseMessage":"Successful disbursement","sourceAccountNumber":"1234567890","status":"TRANSFER_ACCEPTED","transferId":"cc061e4c1509"}],"page":1,"total":1}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/BadRequestError"},{"$ref":"#/components/schemas/ErrorGettingDisbursementFileStatus"},{"$ref":"#/components/schemas/ErrorDisbursementLimit"},{"$ref":"#/components/schemas/ErrorDisbursementPage"},{"$ref":"#/components/schemas/ErrorGettingDisbursementFileStatus"}]},"examples":{"ErrorBadRequest":{"description":"ErrorBadRequest","value":{"code":-2,"message":"Missing or invalid parameters."}},"ErrorDisbursementPage":{"description":"ErrorDisbursementPage","value":{"code":-82,"message":"Must be an integer Min value: 1"}},"ErrorDisbursementLimit":{"description":"ErrorDisbursementLimit","value":{"code":-83,"message":"Must be an integer Min value: 1 Max value: 100"}},"ErrorInvalidUUID":{"description":"ErrorInvalidUUID","value":{"code":-81,"message":"disbursementId must be a UUID v4 value."}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericError"},"example":{"code":-10,"message":"Session has expired. Please log in to continue."}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericError"},"example":{"code":-19,"message":"Forbidden. User is not permitted to access."}}}},"404":{"description":"Disbursement File Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericError"},"example":{"code":-45,"message":"We had a problem processing your request, please try again in a few minutes."}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericError"},"example":{"code":-28,"message":"We can't connect you to the service at the moment, please try again in a few minutes."}}}}}}},"/disbursements/{disbursementId}/records-failed":{"get":{"tags":["Disbursement API"],"description":"List Failed Disbursement Records","operationId":"List Failed Disbursement Records","parameters":[{"name":"x-api-key","in":"header","description":"API Key","required":true,"schema":{"maxLength":32,"minLength":32,"type":"string","format":"api-key","example":"xL4njVZKZLL7Pd0Q4UOnP68Hqkpo7COG"}},{"name":"disbursementId","in":"path","required":true,"schema":{"type":"string","description":"Disbursement file ID to get records from","format":"uuid","example":"1dca39e7-6b99-408a-8642-b9929e90b6b4"}},{"name":"page","in":"query","description":"Page number of results","required":true,"schema":{"minimum":1,"type":"number","default":1}},{"name":"limit","in":"query","description":"Limit number of results","required":true,"schema":{"maximum":100,"minimum":1,"type":"number","default":25}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListDisbursementRecords-Failed"},"example":{"data":[{"amount":{"currency":"PHP","value":"1000.00"},"customId":"EMPLOYEE100430","disbursementItemId":"ca952ca0-afdf-48ad-bb18-d026e5d51713","firstName":"Juan","id":"8114d8f5-a985-4011-a401-9151c00ed352","lastName":"Santos","profileId":"774022195767","recipientMsisdn":"+639992277655","requestReferenceNumber":"000017209305","requestTimestamp":"2020-12-31 16:06:37","responseCode":"0000","responseMessage":"Successful disbursement","sourceAccountNumber":"1234567890","status":"TRANSFER_FAILED","transferId":"cc061e4c1509"}],"page":1,"total":1}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/BadRequestError"},{"$ref":"#/components/schemas/ErrorGettingDisbursementFileStatus"},{"$ref":"#/components/schemas/ErrorDisbursementLimit"},{"$ref":"#/components/schemas/ErrorDisbursementPage"},{"$ref":"#/components/schemas/ErrorGettingDisbursementFileStatus"}]},"examples":{"ErrorBadRequest":{"description":"ErrorBadRequest","value":{"code":-2,"message":"Missing or invalid parameters."}},"ErrorDisbursementPage":{"description":"ErrorDisbursementPage","value":{"code":-82,"message":"Must be an integer Min value: 1"}},"ErrorDisbursementLimit":{"description":"ErrorDisbursementLimit","value":{"code":-83,"message":"Must be an integer Min value: 1 Max value: 100"}},"ErrorInvalidUUID":{"description":"ErrorInvalidUUID","value":{"code":-81,"message":"disbursementId must be a UUID v4 value."}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericError"},"example":{"code":-10,"message":"Session has expired. Please log in to continue."}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericError"},"example":{"code":-19,"message":"Forbidden. User is not permitted to access."}}}},"404":{"description":"Disbursement File Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericError"},"example":{"code":-45,"message":"We had a problem processing your request, please try again in a few minutes."}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericError"},"example":{"code":-28,"message":"We can't connect you to the service at the moment, please try again in a few minutes."}}}}}}}},"components":{"schemas":{"LoginRequest":{"required":["email","password"],"type":"object","properties":{"email":{"type":"string","description":"Account email.","format":"email"},"password":{"type":"string","description":"Account password encoded to base64 format.","format":"base64"}}},"GenericError":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"}}},"BadRequestError":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"}}},"ErrorCreatingSession":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"}}},"ErrorMemberRegistration":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"}}},"InvalidFileRowsSize":{"type":"object"},"SubmitMembersFileResponse":{"type":"object","properties":{"message":{"type":"string","description":"Description of the action performed"},"totalRecordsAdded":{"type":"integer","format":"int32"}}},"CreatedBy":{"type":"object","properties":{"firstName":{"type":"string"},"lastName":{"type":"string"},"active":{"type":"boolean","description":"This field is not relevant and should be ignored"}}},"SubmitDisbursementFileResponse":{"type":"object","properties":{"id":{"type":"string","description":"Unique identifier for this disbursement"},"disbursementId":{"type":"object","description":"This field is not relevant and should be ignored"},"name":{"type":"string","description":"Name of the disbursement"},"fileName":{"type":"string","description":"Filename of the disbursement"},"fileSizeInBytes":{"type":"integer","format":"int32"},"totalRecords":{"type":"integer","format":"int32","description":"Count of entries in the CSV file"},"wallet":{"$ref":"#/components/schemas/Wallet"},"createdBy":{"$ref":"#/components/schemas/CreatedBy"},"disbursedBy":{"type":"object"},"createdAt":{"type":"string","format":"date-time"},"scheduledAt":{"type":"object","description":"This field is not relevant and should be ignored"},"updatedAt":{"type":"string","format":"date-time"},"status":{"type":"string","description":"The initial status of the disbursement which is CREATE_PENDING"},"message":{"type":"string","description":"Description of the action performed"},"downloadable":{"type":"boolean","description":"This field is not relevant and should be ignored"},"filtered":{"type":"boolean","description":"This field is not relevant and should be ignored"}}},"Wallet":{"type":"object","properties":{"id":{"type":"string","description":"Wallet ID"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"name":{"type":"string","description":"This field is not relevant and should be ignored"},"clientId":{"type":"string","description":"This field is not relevant and should be ignored"}}},"ErrorDisbursementInvalidFileSize":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"}}},"ErrorDisbursementInvalidWallet":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"}}},"ErrorDisbursementInvalidName":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"}}},"ExecuteDisbursementFileRequest":{"required":["password"],"type":"object","properties":{"password":{"type":"string","description":"User password encoded to base64 format.","format":"base64"}}},"ExecuteDisbursementResponse":{"type":"object","properties":{"id":{"type":"string","description":"The ID provided in the request"},"disbursementId":{"type":"string","description":"This field is not relevant and should be ignored"},"message":{"type":"string","description":"Description of the action performed"}}},"ErrorDisbursementInsufficientBalance":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"}}},"ErrorDisbursementInvalidPassword":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"}}},"ErrorDisbursementInvalidStatus":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"}}},"Balance":{"type":"object","properties":{"currency":{"type":"string","description":"Balance currency"},"value":{"type":"number","description":"Balance in figures","format":"double"}}},"GetWalletBalanceResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/WalletData"}}}},"WalletData":{"type":"object","properties":{"id":{"type":"string","description":"Wallet ID","format":"uuid"},"balance":{"$ref":"#/components/schemas/Balance"},"name":{"type":"string","description":"Fund source client name"}}},"GetMemberRecordStatus":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/MemberData"}},"page":{"type":"integer","format":"int32"},"total":{"type":"integer","description":"Total number of records","format":"int32"}}},"MemberData":{"type":"object","properties":{"accountAlias":{"type":"string","description":"Account alias for Trade accounts"},"lastName":{"type":"string","description":"Member's last name"},"customId":{"type":"string","description":"Custom identifier for the member"},"firstName":{"type":"string","description":"Member's first name"},"createdAt":{"type":"string","description":"Timestamp when the member record was uploaded","format":"date-time"},"formattedStatus":{"type":"string","description":"Status used for filtering member records","enum":["ACTIVE","CLOSED","DECLINED","DUPLICATE","ERROR","EXPIRED","INVITED","INVITE_FAILED","INVITING","PENDING","SUSPENDED","REMOVED"]},"middleName":{"type":"string","description":"Member's middle name"},"consentChannel":{"type":"string","description":"Channel used by member to proceed with registration"},"id":{"type":"string","description":"The member's automatically generated ID"},"msisdn":{"type":"string","description":"Member's registered mobile number"},"email":{"type":"string","description":"The members email address"},"registeredAt":{"type":"string","description":"Timestamp when the member was successfully registered","format":"date-time"},"status":{"type":"string","description":"Member record backend status","enum":["ACCOUNT_REGISTRATION","CREATE_ALIAS","CREATE_CONSENT","COMPLETED","DECLINED","DEDUP_NOTIFICATION","EMAIL_NOTIFICATION","EXPIRED","GET_FUND_SOURCE","GET_PROFILE","GET_WALLET_ID","INVITE_FAILED","INVITED","INVITING","KYC_UPDATE","KYC_UPGRADE","PENDING","PREVALIDATION","REMOVED","RETRIEVE_AND_APPLY_DUPLICATE","SMS_NOTIFICATION","WORKFLOW_STARTED"]}}},"ErrorGettingMemberRecordStatus":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"}}},"ErrorGettingDisbursementFileStatus":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"}}},"DisbursedBy":{"type":"object","properties":{"firstName":{"type":"string"},"lastName":{"type":"string"},"active":{"type":"boolean","description":"This field is not relevant and should be ignored"}}},"GetDisbursementFileStatusResponse":{"type":"object","properties":{"id":{"type":"string","description":"The ID provided in the request"},"disbursementId":{"type":"string","description":"This field is not relevant and should be ignored"},"name":{"type":"string","description":"Name of the disbursement"},"fileName":{"type":"string","description":"Filename of the disbursement"},"fileSizeInBytes":{"type":"integer","format":"int32"},"totalRecords":{"type":"integer","format":"int32","description":"Count of entries in the CSV file"},"wallet":{"$ref":"#/components/schemas/Wallet"},"createdBy":{"$ref":"#/components/schemas/CreatedBy"},"disbursedBy":{"$ref":"#/components/schemas/DisbursedBy"},"createdAt":{"type":"string","format":"date-time"},"scheduledAt":{"type":"string","format":"date-time","description":"This field is not relevant and should be ignored"},"updatedAt":{"type":"string","format":"date-time"},"status":{"type":"string","enum":["Completed","Completed (with errors)","Creating...","Disbursing...","Failed","Ready to Disburse","Scheduled"]},"downloadable":{"type":"boolean","description":"This field is not relevant and should be ignored"},"filtered":{"type":"boolean","description":"This field is not relevant and should be ignored"}}},"Amount":{"type":"object","properties":{"currency":{"type":"string","description":"Transaction currency"},"value":{"type":"string","description":"Transaction amount"}}},"Datum-Success":{"type":"object","properties":{"amount":{"$ref":"#/components/schemas/Amount"},"customId":{"type":"string","description":"Custom identifier for the recipient"},"disbursementItemId":{"type":"string","description":"System generated transaction identifer"},"firstName":{"type":"string","description":"Given name of the recipient"},"id":{"type":"string","description":"System generated transaction identifer"},"lastName":{"type":"string","description":"Family name of the recipient"},"profileId":{"type":"string","description":"Profile identifer of the recipient"},"recipientMsisdn":{"type":"string","description":"Phone number of the recipient"},"requestReferenceNumber":{"type":"string","description":"This field is not relevant and should be ignored"},"requestTimestamp":{"type":"string","description":"Date and time the transaction was made"},"responseCode":{"type":"string","description":"Transaction response code"},"responseMessage":{"type":"string","description":"Transaction response description"},"sourceAccountNumber":{"type":"string","description":"This field is not relevant and should be ignored"},"status":{"type":"string","enum":["TRANSFER_ACCEPTED"]},"transferId":{"type":"string","description":"Transfer reference number"}}},"Datum-Failed":{"type":"object","properties":{"amount":{"$ref":"#/components/schemas/Amount"},"customId":{"type":"string","description":"Custom identifier for the recipient"},"disbursementItemId":{"type":"string","description":"System generated transaction identifer"},"firstName":{"type":"string","description":"Given name of the recipient"},"id":{"type":"string","description":"System generated transaction identifer"},"lastName":{"type":"string","description":"Family name of the recipient"},"profileId":{"type":"string","description":"Profile identifer of the recipient"},"recipientMsisdn":{"type":"string","description":"Phone number of the recipient"},"requestReferenceNumber":{"type":"string","description":"This field is not relevant and should be ignored"},"requestTimestamp":{"type":"string","description":"Date and time the transaction was made"},"responseCode":{"type":"string","description":"Transaction response code"},"responseMessage":{"type":"string","description":"Transaction response description"},"sourceAccountNumber":{"type":"string","description":"This field is not relevant and should be ignored"},"status":{"type":"string","enum":["CREATE_FAILED","FAILED","REFUNDED","REFUND_FAILED","TRANSFER_FAILED"],"description":"* `CREATE_FAILED` - Error initiating the money transfer because recipient's account status is closed, invalid, does not exist etc\n * `FAILED` - Error encountered in transferring the money\n * `REFUNDED` - Crediting to recipient failed and the amount was succesfully returned to the source wallet. Transfer did not push through because of limits issue, processing timeout etc\n * `REFUND_FAILED` - Similar to REFUNDED except that the amount was not succesfully returned back to the source wallet. Please report the transaction to PayMaya in case this happens.\n * `TRANSFER_FAILED` - Error encountered in transferring the money. Treat this similarly to `FAILED`.\n"},"transferId":{"type":"string","description":"Transfer reference number"}}},"ListDisbursementRecords-Success":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Datum-Success"}},"page":{"type":"integer","format":"int32"},"total":{"type":"integer","format":"int32"}}},"ListDisbursementRecords-Failed":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Datum-Failed"}},"page":{"type":"integer","description":"Current page number","format":"int32"},"total":{"type":"integer","format":"int32"}}},"ErrorDisbursementLimit":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"}}},"ErrorDisbursementPage":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"}}}},"securitySchemes":{"apiKeyAuth":{"type":"apiKey","name":"x-api-key","in":"header"}}}}