{"openapi":"3.1.0","info":{"title":"Single Merchant Interface (SMI) API","version":"1.0"},"servers":[{"url":"https://global-api.au.edge.zip.co/merchant"}],"components":{"securitySchemes":{}},"security":[{}],"paths":{"/checkouts":{"post":{"summary":"Create a checkout","description":"The first API call you will make in processing a Zip payment is a call to our /checkouts endpoint. This request is made once a customer chooses to use Zip as their payment method at checkout and will contain all order and customer information. The Zip API will then provide a response that includes a redirect url, allowing you to point the customer to the Zip checkout flow where they will complete their application or log in to their Zip account to confirm the payment.","operationId":"checkouts","parameters":[{"name":"Authorization","in":"header","description":"Bearer {{API Key}}","required":true,"schema":{"type":"string"}},{"name":"Zip-Version","in":"header","required":true,"schema":{"type":"string","format":"date","default":"2021-08-25"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["shopper","order","config"],"properties":{"shopper":{"type":"object","description":"Customer information object","properties":{"shopper.title":{"type":"string","description":"Title of shopper (Mr, Mrs, etc). Must be characters of alphabet only."},"shopper.first_name":{"type":"string","description":"First name of shopper. Required for BHD, SAR, and AED."},"shopper.last_name":{"type":"string","description":"Last name of shopper."},"shopper.middle_name":{"type":"string","description":"Middle name of shopper. Must be characters of alphabet only."},"shopper.phone":{"type":"string","description":"Phone number of shopper. Must only be numerals (no spaces, special characters or alphabet characters)s)."},"shopper.email":{"type":"string","description":"Email address of shopper. Required for BHD, SAR, and AED"},"shopper.gender":{"type":"string","description":"The shopper’s gender. Possible values: Male or Female"},"shopper.birthdate":{"type":"string","description":"Birth date of buyer in format of yyyy-mm-dd.","format":"date"}}},"order":{"type":"object","description":"Order details object.","required":["order.reference","order.amount","order.currency","order.shipping","order.items"],"properties":{"order.reference":{"type":"string","description":"Unique order reference id. Can also be passed in to /charges call. If left out one will be automatically generated at this point."},"order.amount":{"type":"string","description":"Total amount of order. This is the amount that is charged to the customer’s zip account."},"order.currency":{"type":"string","description":"Transaction currency. Accepted values are AUD, NZD, GBP, USD, ZAR, SGD, and MXN."},"order.shipping":{"type":"object","description":"Shipping object.","properties":{}},"order.items":{"type":"string","description":"Order items object. Required for or USD, GBP, NZD,SGD, and MXN."}}},"features":{"type":"object","description":"Feature object for extra features required on this checkout","properties":{"features.tokenisation":{"type":"object","description":"Tokenisation object – required if you are requesting to tokenise the user’s account.","properties":{}}}},"config":{"type":"object","properties":{"config.redirect_uri":{"type":"string","description":"Redirect URI – where the customer is redirected to following placement of order. This will be an intermediate page or endpoint that performs order finalization, including charging or tokenizing account."}}},"metadata":{"type":"object","description":"Object containing name value pairs of meta data to be returned whenever recalling this checkout object.","properties":{}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"shopper\": {\n        \"title\": \"Mr\",\n        \"first_name\": \"Test\",\n        \"last_name\": \"Tester\",\n        \"email\": \"firstname.lastname+1646067679@domain.com\",\n        \"phone\": \"4154154455\",\n        \"billing_address\": {\n            \"first_name\": \"Test\",\n            \"last_name\": \"Tester\",\n            \"line1\": \"10 Spring St\",\n            \"city\": \"New york\",\n            \"state\": \"New york\",\n            \"postal_code\": \"1000\",\n            \"country\": \"US\"\n        }\n    },\n    \"order\": {\n        \"reference\": \"ref_1646067679\",\n        \"amount\": 200,\n        \"currency\": \"USD\",\n        \"items\": [\n            {\n                \"name\": \"Awesome shoes\",\n                \"amount\": 60,\n                \"quantity\": 1,\n                \"type\": \"sku\",\n                \"reference\": \"001\",\n                \"image_uri\": \"https://yourimage.com/shoes_image_url\",\n                \"item_uri\": \"https://youritem.com/shoes_item_url\"\n            },\n            {\n                \"name\": \"Awesome pants\",\n                \"amount\": 50,\n                \"quantity\": 1,\n                \"type\": \"sku\",\n                \"reference\": \"002\",\n                \"image_uri\": \"https://yourimage.com/pants_image_url\",\n                \"item_uri\": \"https://youritem.com/pants_item_url\"\n            }\n        ],\n        \"shipping\": {\n            \"pickup\": false\n        }\n    },\n    \"config\": {\n        \"redirect_uri\": \"https://localhost/zip_order_complete\"\n    },\n    \"id\": \"us-00d11005-d30f-405d-b8d5-917a8ab78ba0\",\n    \"uri\": \"https://gateway.sand.us.zip.co/orders/authorize?orderId=00d11005-d30f-405d-b8d5-917a8ab78ba0&merchantId=5901c42b-f41f-476b-a2d4-7d4bc383f7db&merchantReference=ref_1646067679&order.orderNumber=220228-254656&order.firstName=Test&order.lastName=Tester&order.email=firstname.lastname%2b1646067679%40domain.com&order.phone=4154154455&order.billingAddress.line1=10+Spring+St&order.billingAddress.city=New+york&order.billingAddress.state=New+york&order.billingAddress.postalCode=1000&order.billingAddress.country=US&order.amount=200&capture=False&callbackUrl=https%3a%2f%2fapi-ut.quadpay.com%2forder%2fcomplete&redirectCancelUrl=https%3a%2f%2fapi-ut.quadpay.com%3a443%2forder%2fcancel%3forderId%3d00d11005-d30f-405d-b8d5-917a8ab78ba0&redirectConfirmUrl=https%3a%2f%2fapi-ut.quadpay.com%2forder%2fcomplete&metadata.confirmUrl=https%3a%2f%2fglobal-api.sand.au.edge.zip.co%3a443%2fmerchant%2fcallback%3fredirect%3dhttps%253A%252F%252Flocalhost%252Fzip_order_complete%26region%3dus%26ppStatus%3dsuccess%26token%3d00d11005-d30f-405d-b8d5-917a8ab78ba0%26OrderStatus%3dApproved&metadata.cancelUrl=https%3a%2f%2fglobal-api.sand.au.edge.zip.co%3a443%2fmerchant%2fcallback%3fredirect%3dhttps%253A%252F%252Flocalhost%252Fzip_order_complete%26region%3dus%26ppStatus%3dcancelled%26token%3d00d11005-d30f-405d-b8d5-917a8ab78ba0%26OrderStatus%3dAbandoned&X-QP-Signature=OO2OzWfV6EU1sRxNH%2bPFoCHEfZNLEq5SUwkvQvehTlU%3d\",\n    \"type\": \"standard\",\n    \"created\": \"2022-02-28T17:01:22.699Z\",\n    \"state\": \"created\"\n}"}},"schema":{"type":"object","properties":{"shopper":{"type":"object","properties":{"title":{"type":"string","example":"Mr"},"first_name":{"type":"string","example":"Test"},"last_name":{"type":"string","example":"Tester"},"email":{"type":"string","example":"firstname.lastname+1646067679@domain.com"},"phone":{"type":"string","example":"4154154455"},"billing_address":{"type":"object","properties":{"first_name":{"type":"string","example":"Test"},"last_name":{"type":"string","example":"Tester"},"line1":{"type":"string","example":"10 Spring St"},"city":{"type":"string","example":"New york"},"state":{"type":"string","example":"New york"},"postal_code":{"type":"string","example":"1000"},"country":{"type":"string","example":"US"}}}}},"order":{"type":"object","properties":{"reference":{"type":"string","example":"ref_1646067679"},"amount":{"type":"integer","example":200,"default":0},"currency":{"type":"string","example":"USD"},"items":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"Awesome shoes"},"amount":{"type":"integer","example":60,"default":0},"quantity":{"type":"integer","example":1,"default":0},"type":{"type":"string","example":"sku"},"reference":{"type":"string","example":"001"},"image_uri":{"type":"string","example":"https://yourimage.com/shoes_image_url"},"item_uri":{"type":"string","example":"https://youritem.com/shoes_item_url"}}}},"shipping":{"type":"object","properties":{"pickup":{"type":"boolean","example":false,"default":true}}}}},"config":{"type":"object","properties":{"redirect_uri":{"type":"string","example":"https://localhost/zip_order_complete"}}},"id":{"type":"string","example":"us-00d11005-d30f-405d-b8d5-917a8ab78ba0"},"uri":{"type":"string","example":"https://gateway.sand.us.zip.co/orders/authorize?orderId=00d11005-d30f-405d-b8d5-917a8ab78ba0&merchantId=5901c42b-f41f-476b-a2d4-7d4bc383f7db&merchantReference=ref_1646067679&order.orderNumber=220228-254656&order.firstName=Test&order.lastName=Tester&order.email=firstname.lastname%2b1646067679%40domain.com&order.phone=4154154455&order.billingAddress.line1=10+Spring+St&order.billingAddress.city=New+york&order.billingAddress.state=New+york&order.billingAddress.postalCode=1000&order.billingAddress.country=US&order.amount=200&capture=False&callbackUrl=https%3a%2f%2fapi-ut.quadpay.com%2forder%2fcomplete&redirectCancelUrl=https%3a%2f%2fapi-ut.quadpay.com%3a443%2forder%2fcancel%3forderId%3d00d11005-d30f-405d-b8d5-917a8ab78ba0&redirectConfirmUrl=https%3a%2f%2fapi-ut.quadpay.com%2forder%2fcomplete&metadata.confirmUrl=https%3a%2f%2fglobal-api.sand.au.edge.zip.co%3a443%2fmerchant%2fcallback%3fredirect%3dhttps%253A%252F%252Flocalhost%252Fzip_order_complete%26region%3dus%26ppStatus%3dsuccess%26token%3d00d11005-d30f-405d-b8d5-917a8ab78ba0%26OrderStatus%3dApproved&metadata.cancelUrl=https%3a%2f%2fglobal-api.sand.au.edge.zip.co%3a443%2fmerchant%2fcallback%3fredirect%3dhttps%253A%252F%252Flocalhost%252Fzip_order_complete%26region%3dus%26ppStatus%3dcancelled%26token%3d00d11005-d30f-405d-b8d5-917a8ab78ba0%26OrderStatus%3dAbandoned&X-QP-Signature=OO2OzWfV6EU1sRxNH%2bPFoCHEfZNLEq5SUwkvQvehTlU%3d"},"type":{"type":"string","example":"standard"},"created":{"type":"string","example":"2022-02-28T17:01:22.699Z"},"state":{"type":"string","example":"created"}}}}}}},"deprecated":false}},"/charges":{"post":{"summary":"Create a charge","description":"Once the Zip checkout flow has redirected the customer to your previously defined \"redirect_uri,\" that page should consume the the state of the checkout to determine if it has been approved or declined. If the checkout has been approved, this page should then proceed to charge the customer.","operationId":"charges","parameters":[{"name":"Authorization","in":"header","description":"Bearer {{API key}}","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"[RandomString]","required":true,"schema":{"type":"string"}},{"name":"Zip-Version","in":"header","description":"2021-08-25","required":true,"schema":{"type":"string","format":"date"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["authority","reference","amount","currency"],"properties":{"authority":{"type":"object","description":"Order shipping address object.","properties":{}},"reference":{"type":"string","description":"Unique payment reference for this charge."},"amount":{"type":"number","description":"Amount of this charge. This is the amount that will be transferred (if capture=true) from customer to merchant account or ring-fenced if capture=false.","format":"double"},"currency":{"type":"string","description":"Transaction currency. Accepted values are AUD, NZD, GBP, USD, ZAR, SGD, and MXN."},"capture":{"type":"boolean","description":"Defaults to true. Capture=true will immediately transfer funds to merchant account and deduct the funds from customers account. Capture=False will authorize only and will ring-fence funds to be transferred on a call to /capture."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"amount\": 100,\n    \"captured_amount\": 0,\n    \"created_date\": \"2023-06-23T17:25:49.215Z\",\n    \"currency\": \"USD\",\n    \"id\": \"us-5b1c9ff7-8972-4cef-b016-eb6675ee1066\",\n    \"product\": \"partPay\",\n    \"receipt_number\": 230623652526,\n    \"refunded_amount\": 0,\n    \"state\": \"approved\",\n    \"customer\": {\n        \"first_name\": \"Dale\",\n        \"last_name\": \"Jones\",\n        \"email\": \"firstname.lastname@zip.co\"\n    }\n}"}},"schema":{"type":"object","properties":{"amount":{"type":"integer","example":100,"default":0},"captured_amount":{"type":"integer","example":0,"default":0},"created_date":{"type":"string","example":"2023-06-23T17:25:49.215Z"},"currency":{"type":"string","example":"USD"},"id":{"type":"string","example":"us-5b1c9ff7-8972-4cef-b016-eb6675ee1066"},"product":{"type":"string","example":"partPay"},"receipt_number":{"type":"integer","example":230623652526,"default":0},"refunded_amount":{"type":"integer","example":0,"default":0},"state":{"type":"string","example":"approved"},"customer":{"type":"object","properties":{"first_name":{"type":"string","example":"Dale"},"last_name":{"type":"string","example":"Jones"},"email":{"type":"string","example":"firstname.lastname@zip.co"}}}}}}}}},"deprecated":false}},"/charges/{chargeId}/capture":{"post":{"summary":"Capture a charge","description":"Once a Charge has been Authorized it must then be Captured for disbursement to the merchant. This is done by simply referring to the Authorized \"charge_id\" in the endpoint url and passing the amount to be captured.","operationId":"chargeschargeidcapture","parameters":[{"name":"Authorization","in":"header","description":"Bearer {{API Key}}","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"[RandomString]","required":true,"schema":{"type":"string"}},{"name":"Zip-Version","in":"header","description":"2021-08-25","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["amount"],"properties":{"amount":{"type":"integer","description":"Order shipping address object.","format":"int32"},"reference":{"type":"string","description":"Unique transaction reference."},"is_partial_capture":{"type":"boolean","description":"Specifies whether the capture request is partial or not. If true and the capture amount is less than the authorized amount then the outstanding balance will remain authorised for capture at a later stage. If false and the capture amount is less than the authorized amount then the outstanding balance will be released back to the customer and the charges will be finalised, future captures will not be allowed. Default value is false if attribute is not specified in the request.."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"amount\": 100,\n    \"captured_amount\": 100,\n    \"created_date\": \"2023-06-23T17:25:49.215Z\",\n    \"currency\": \"USD\",\n    \"id\": \"us-5b1c9ff7-8972-4cef-b016-eb6675ee1066\",\n    \"product\": \"partPay\",\n    \"receipt_number\": 230623652526,\n    \"refunded_amount\": 0,\n    \"state\": \"approved\",\n    \"customer\": {\n        \"first_name\": \"Dale\",\n        \"last_name\": \"Jones\",\n        \"email\": \"firstname.lastname@zip.co\"\n    }\n}"}},"schema":{"type":"object","properties":{"amount":{"type":"integer","example":100,"default":0},"captured_amount":{"type":"integer","example":100,"default":0},"created_date":{"type":"string","example":"2023-06-23T17:25:49.215Z"},"currency":{"type":"string","example":"USD"},"id":{"type":"string","example":"us-5b1c9ff7-8972-4cef-b016-eb6675ee1066"},"product":{"type":"string","example":"partPay"},"receipt_number":{"type":"integer","example":230623652526,"default":0},"refunded_amount":{"type":"integer","example":0,"default":0},"state":{"type":"string","example":"approved"},"customer":{"type":"object","properties":{"first_name":{"type":"string","example":"Dale"},"last_name":{"type":"string","example":"Jones"},"email":{"type":"string","example":"firstname.lastname@zip.co"}}}}}}}}},"deprecated":false}},"/refunds":{"post":{"summary":"Refund","description":"Once a charge has been captured, if a customer wishes to return an item you will need to create a refund.","operationId":"refunds","parameters":[{"name":"Authorization","in":"header","description":"Bearer {{API key}}","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"[RandomString]","required":true,"schema":{"type":"string"}},{"name":"Zip-Version","in":"header","description":"2021-08-25","required":true,"schema":{"type":"string","format":"date"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["charge_id","reason","amount"],"properties":{"charge_id":{"type":"string","description":"Zip transaction charge ID to apply the refund."},"reference":{"type":"string","description":"Unique transaction reference."},"reason":{"type":"string","description":"Reason of the refund."},"amount":{"type":"string","description":"Refund amount."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"amount\": 100,\n    \"charge_id\": \"us-eaa26ff3-eba9-4598-a493-86c263b5a239\",\n    \"created\": \"2022-02-28T16:58:31.82Z\",\n    \"id\": \"us-18ff0020-468e-49e4-9382-e5c4887ec2a9\",\n    \"reason\": \"Unwanted item\",\n    \"metadata\": {}\n}"}},"schema":{"type":"object","properties":{"amount":{"type":"integer","example":100,"default":0},"charge_id":{"type":"string","example":"us-eaa26ff3-eba9-4598-a493-86c263b5a239"},"created":{"type":"string","example":"2022-02-28T16:58:31.82Z"},"id":{"type":"string","example":"us-18ff0020-468e-49e4-9382-e5c4887ec2a9"},"reason":{"type":"string","example":"Unwanted item"},"metadata":{"type":"object","properties":{}}}}}}}},"deprecated":false}},"/charges/{chargeId}/cancel":{"post":{"summary":"Void","description":"Once the Charge has been Authorized, if for some reason the goods cannot be provided to the customer, the charge will need to be voided.","operationId":"chargeschargeidcancel","parameters":[{"name":"Authorization","in":"header","description":"Bearer {{API key}}","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","required":true,"schema":{"type":"string"}},{"name":"Zip-Version","in":"header","description":"2021-08-25","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["charge_id","reason","amount"],"properties":{"charge_id":{"type":"string","description":"Zip transaction charge ID to apply the refund."},"reference":{"type":"string","description":"Unique transaction reference."},"reason":{"type":"string","description":"Reason of the refund."},"amount":{"type":"integer","description":"Refund amount.","format":"int32"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"amount\": 200,\n    \"captured_amount\": 0,\n    \"created_date\": \"2022-02-28T17:01:22.673Z\",\n    \"currency\": \"USD\",\n    \"id\": \"00d11005-d30f-405d-b8d5-917a8ab78ba0\",\n    \"product\": \"partPay\",\n    \"receipt_number\": 220228254656,\n    \"refunded_amount\": 0,\n    \"state\": \"cancelled\"\n}"}},"schema":{"type":"object","properties":{"amount":{"type":"integer","example":200,"default":0},"captured_amount":{"type":"integer","example":0,"default":0},"created_date":{"type":"string","example":"2022-02-28T17:01:22.673Z"},"currency":{"type":"string","example":"USD"},"id":{"type":"string","example":"00d11005-d30f-405d-b8d5-917a8ab78ba0"},"product":{"type":"string","example":"partPay"},"receipt_number":{"type":"integer","example":220228254656,"default":0},"refunded_amount":{"type":"integer","example":0,"default":0},"state":{"type":"string","example":"cancelled"}}}}}}},"deprecated":false}},"/checkouts/{Id}":{"get":{"summary":"Retrieve a checkout","description":"Retrieves the details of a checkout that has previously been created. Supply the unique checkout ID that was returned from your previous request, and Zip will return the corresponding checkout information.","operationId":"checkoutsid","parameters":[{"name":"Authorization","in":"header","description":"Bearer {{API key}}","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n   \"id\":\"co_P9GOgSVE9qMnL0VA6Jy8z6\",\n   \"uri\": \"https://gateway.sand.us.zip.co/orders/authorize?orderId=eaa26ff3-eba9-4598-a493-86c263b5a239&merchantId=5901c42b-f41f-476b-a2d4-7d4bc383f7db&merchantReference=ref_1646065022&order.orderNumber=220228-857819&order.firstName=Test&order.lastName=Tester&order.email=firstname.lastname%2b1646065022%40domain.com&order.phone=4154154455&order.billingAddress.line1=10+Spring+St&order.billingAddress.city=New+york&order.billingAddress.state=New+york&order.billingAddress.postalCode=1000&order.billingAddress.country=US&order.amount=200&capture=False&callbackUrl=https%3a%2f%2fapi-ut.quadpay.com%2forder%2fcomplete&redirectCancelUrl=https%3a%2f%2fapi-ut.quadpay.com%3a443%2forder%2fcancel%3forderId%3deaa26ff3-eba9-4598-a493-86c263b5a239&redirectConfirmUrl=https%3a%2f%2fapi-ut.quadpay.com%2forder%2fcomplete&metadata.confirmUrl=https%3a%2f%2fglobal-api.sand.au.edge.zip.co%3a443%2fmerchant%2fcallback%3fredirect%3dhttps%253A%252F%252Flocalhost%252Fzip_order_complete%26region%3dus%26ppStatus%3dsuccess%26token%3deaa26ff3-eba9-4598-a493-86c263b5a239%26OrderStatus%3dApproved&metadata.cancelUrl=https%3a%2f%2fglobal-api.sand.au.edge.zip.co%3a443%2fmerchant%2fcallback%3fredirect%3dhttps%253A%252F%252Flocalhost%252Fzip_order_complete%26region%3dus%26ppStatus%3dcancelled%26token%3deaa26ff3-eba9-4598-a493-86c263b5a239%26OrderStatus%3dAbandoned&X-QP-Signature=vlf4pW8hded1b0FbKWVNAuInTMQmHBuMkdMoDX6kEt0%3d\",\n   \"type\":\"standard\",\n   \"shopper\":{\n      \"title\":\"Mr\",\n      \"first_name\":\"John\",\n      \"last_name\":\"Smith\",\n      \"middle_name\":\"Joe\",\n      \"phone\":\"0400000000\",\n      \"email\":\"test@emailaddress.com\",\n      \"birth_date\":\"2017-10-10\",\n      \"gender\":\"Male\",\n      \"billing_address\":{\n         \"line1\":\"10 Test st\",\n         \"city\":\"New York\",\n         \"state\":\"NY\",\n         \"postal_code\":\"10001\",\n         \"country\":\"US\",\n         \"first_name\":\"John\",\n         \"last_name\":\"Smith\"\n      }\n   },\n   \"order\":{\n      \"reference\":\"testcheckout1\",\n      \"amount\":200,\n      \"currency\":\"USD\",\n      \"shipping\":{\n         \"pickup\":false,\n         \"address\":{\n            \"line1\":\"10 Test st\",\n            \"city\":\"New York\",\n            \"state\":\"NY\",\n            \"postal_code\":\"10001\",\n            \"country\":\"US\",\n         }\n      },\n      \"items\":[\n         {\n            \"name\":\"Awesome shoes\",\n            \"amount\":200,\n            \"reference\":\"1\",\n            \"quantity\":1,\n            \"type\":\"sku\"\n         }\n      ]\n   },\n   \"metadata\":{\n      \"name1\":\"value1\"\n   },\n   \"created\":\"2018-05-07T05:37:56.4794801Z\",\n   \"state\":\"created\",\n   \"config\":{\n      \"https://localhost/zip_order_complete\"\n   }\n}"}}}}}},"deprecated":false}},"/charges/{chargeId}":{"get":{"summary":"Retrieve a charge","description":"Retrieves the details of a charge that has previously been created. Supply the unique charge ID that was returned from your previous request, and Zip will return the corresponding charge information.","operationId":"chargeschargeid","parameters":[{"name":"Authorization","in":"header","description":"Bearer {{API key}}","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n   \"id\":\"us_AKS81QxsiKUSnr281pX7z4\",\n   \"reference\":\"nsadioghsdgoihsd\",\n   \"amount\":200,\n   \"currency\":\"USD\",\n   \"state\":\"authorised\",\n   \"captured_amount\":0,\n   \"refunded_amount\":0,\n   \"created_date\":\"2018-05-07T05:46:48.963Z\",\n   \"order\":{\n      \"reference\":\"refno1ononon\",\n      \"shipping\":{\n         \"pickup\":false,\n         \"address\":{\n            \"line1\":\"10 Test st\",\n            \"city\":\"New York\",\n            \"state\":\"NY\",\n            \"postal_code\":\"10001\",\n            \"country\":US\"\n         }\n      },\n      \"items\":[\n         {\n            \"name\":\"veniam qui occaecat amet ipsum\",\n            \"amount\":200,\n            \"reference\":\"1\",\n            \"quantity\":1,\n            \"type\":\"sku\",\n            \"item_uri\":\"https://tatum.name\"\n         }\n      ],\n      \"cart_reference\":\"exercitation doloresdfsd\"\n   },\n   \"customer\":{\n      \"id\":\"14589\",\n      \"first_name\":\"John\",\n      \"last_name\":\"APPROVETEST\",\n      \"email\":\"tim@tmkcomputing.com.au\"\n   },\n   \"receipt_number\":155953,\n   \"product\":\"zipPay\"\n}"}}}}}},"deprecated":false}},"/calculate-merchant-fees":{"post":{"summary":"Calculate Consumer Fee (formerly MFPP)","description":"Merchants with a consumer fee (formerly MFPP) agreement can use this endpoint to determine the fee amount for a given order.This service is only available for `USD` and `CAD` currencies.","operationId":"calculate-merchant-fees","parameters":[{"name":"Authorization","in":"header","description":"Bearer {{API key}}","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"[RandomString]","required":true,"schema":{"type":"string"}},{"name":"Zip-Version","in":"header","description":"2021-08-25","required":true,"schema":{"type":"string","format":"date"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["currency","customer_state","customer_country"],"properties":{"currency":{"type":"string","description":"Order currency that will be applied to merchant fee plan calculation."},"amount":{"type":"string","description":"Order amount used to calculate the merchant fee plan."},"customer_state":{"type":"string","description":"Customer state derived from the customer's shipping address"},"customer_country":{"type":"string","description":"Customer country derived from the customer's shipping address"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"adjusted_order_amount\": 64,\n  \"currency\": \"USD\",\n  \"merchant_fee_for_payment_plan\": 4\n}"}},"schema":{"type":"object","properties":{"adjusted_order_amount":{"type":"integer","example":64,"default":0},"currency":{"type":"string","example":"USD"},"merchant_fee_for_payment_plan":{"type":"integer","example":4,"default":0}}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":false,"proxy-enabled":true},"x-readme-fauxas":true}