{"openapi":"3.1.0","info":{"title":"SBX Gateway mtls","version":"1.0-Google"},"servers":[{"url":"https://secure1-mtls.sand.us.zip.co"}],"components":{"securitySchemes":{}},"security":[{}],"paths":{"/google/orders/authorize":{"get":{"summary":"/google/orders/authorize","description":"Creates a new checkout context and returns a Zip checkout URL using details from the request body. The order amount should include all shipping, tax, and discount charges. Passing as much customer information as possible will improve the user experience by pre-filling data fields and improving conversion.","operationId":"google-orders-authorize","parameters":[{"name":"order.amount","in":"query","description":"Order Amount ex: 400.00","required":true,"schema":{"type":"number","format":"double"}},{"name":"metadata[url]","in":"query","description":"can be null if apk is supplied","required":true,"schema":{"type":"string"}},{"name":"metadata[apk]","in":"query","description":"can be null if url is supplied","schema":{"type":"string"}},{"name":"redirectConfirmUrl","in":"query","required":true,"schema":{"type":"string"}},{"name":"redirectCancelUrl","in":"query","required":true,"schema":{"type":"string"}},{"name":"merchantReference","in":"query","description":"Sets the unique merchant reference for this authorization.","required":true,"schema":{"type":"string","default":"1234-5678"}},{"name":"customer.phone","in":"query","description":"ex: 5555555555","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Redirect":{"value":"{\n  \"merchantReference\": \"1234-5678\",\n  \"redirectTo\": \"https://checkoutanywhere.us.zip.co/check-user?token=[JWT}\"\n}"}},"schema":{"type":"object","properties":{"merchantReference":{"type":"string","example":"1234-5678"},"redirectTo":{"type":"string","example":"https://checkoutanywhere.us.zip.co/check-user?token=[JWT}"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"success\": false,\n    \"statusCode\": 400,\n    \"message\": \"{Validation Error Details}\"\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false,"default":true},"statusCode":{"type":"integer","example":400,"default":0},"message":{"type":"string","example":"{Validation Error Details}"}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"success\": false,\n    \"statusCode\": 500,\n    \"message\": \"Error handling order authorization due to internal server error.\"\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false,"default":true},"statusCode":{"type":"integer","example":500,"default":0},"message":{"type":"string","example":"Error handling order authorization due to internal server error."}}}}}}},"deprecated":false,"security":[]}},"/google/orders/{orderId}":{"get":{"summary":"/google/orders/{orderId}","description":"Retrieve an order by Order ID in sandbox","operationId":"googleordersorderid","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"moreInfoUrl\": \"https://customer.dev.us.zip.co/login\",\n    \"order\": {\n        \"currency\": \"USD\",\n        \"customerId\": \"00000000-0000-0000-0000-000000000000\",\n        \"merchantName\": \"Merchant name\",\n        \"merchantReference\": \"GoogleMerchantReference1234\",\n        \"orderId\": \"21c35538-c8a6-4729-8e9a-3ea518afe750\",\n        \"orderDateTime\": \"0001-01-01T00:00:00+00:00\",\n        \"orderAmount\": 99.99,\n        \"paymentScheduleType\": \"PayInZ_Finance_Charge\",\n        \"refunds\": [],\n        \"status\": \"Completed\"\n    }\n}"}},"schema":{"type":"object","properties":{"moreInfoUrl":{"type":"string","example":"https://customer.dev.us.zip.co/login"},"order":{"type":"object","properties":{"currency":{"type":"string","example":"USD"},"customerId":{"type":"string","example":"00000000-0000-0000-0000-000000000000"},"merchantName":{"type":"string","example":"Merchant name"},"merchantReference":{"type":"string","example":"GoogleMerchantReference1234"},"orderId":{"type":"string","example":"21c35538-c8a6-4729-8e9a-3ea518afe750"},"orderDateTime":{"type":"string","example":"0001-01-01T00:00:00+00:00"},"orderAmount":{"type":"number","example":99.99,"default":0},"paymentScheduleType":{"type":"string","example":"PayInZ_Finance_Charge"},"refunds":{"type":"array"},"status":{"type":"string","example":"Completed"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"success\": false,\n    \"message\": \"{Validation Error Details}\",\n    \"statusCode\": 400\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false,"default":true},"message":{"type":"string","example":"{Validation Error Details}"},"statusCode":{"type":"integer","example":400,"default":0}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"success\": true,\n    \"message\": \"Order not found.\",\n    \"statusCode\": 404\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"message":{"type":"string","example":"Order not found."},"statusCode":{"type":"integer","example":404,"default":0}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"success\": false,\n    \"message\": \"Error retrieving order due to internal server error.\",\n    \"statusCode\": 500\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false,"default":true},"message":{"type":"string","example":"Error retrieving order due to internal server error."},"statusCode":{"type":"integer","example":500,"default":0}}}}}}},"deprecated":false}},"/customers/{customerId}/orders":{"get":{"summary":"/customers/{customerId}/orders","description":"Retrieve all Google orders for a specific customer in sandbox.","operationId":"googlecustomerorders","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"moreInfoUrl\": \"https://customer.dev.us.zip.co/login\",\n    \"orders\": [\n        {\n            \"currency\": \"USD\",\n            \"customerId\": \"21c35538-c8a6-4729-8e9a-3ea518afe750\",\n            \"merchantName\": \"Merchant name\",\n            \"merchantReference\": \"GoogleMerchantReference1234\",\n            \"orderId\": \"00000000-0000-0000-0000-000000000000\",\n            \"orderDateTime\": \"0001-01-01T00:00:00+00:00\",\n            \"orderAmount\": 99.99,\n            \"paymentScheduleType\": \"PayInZ_Finance_Charge\",\n            \"refunds\": [],\n            \"status\": \"Completed\"\n        },\n        {\n            \"currency\": \"USD\",\n            \"customerId\": \"21c35538-c8a6-4729-8e9a-3ea518afe750\",\n            \"merchantName\": \"Merchant 2 name\",\n            \"merchantReference\": \"GoogleMerchantReference5678\",\n            \"orderId\": \"1000000-0000-0000-0000-000000000000\",\n            \"orderDateTime\": \"0001-01-01T00:00:00+00:00\",\n            \"orderAmount\": 100.00,\n            \"paymentScheduleType\": \"PayInZ_Finance_Charge\",\n            \"refunds\": [],\n            \"status\": \"Refunded\"\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"moreInfoUrl":{"type":"string","example":"https://customer.dev.us.zip.co/login"},"orders":{"type":"array","items":{"type":"object","properties":{"currency":{"type":"string","example":"USD"},"customerId":{"type":"string","example":"21c35538-c8a6-4729-8e9a-3ea518afe750"},"merchantName":{"type":"string","example":"Merchant name"},"merchantReference":{"type":"string","example":"GoogleMerchantReference1234"},"orderId":{"type":"string","example":"00000000-0000-0000-0000-000000000000"},"orderDateTime":{"type":"string","example":"0001-01-01T00:00:00+00:00"},"orderAmount":{"type":"number","example":99.99,"default":0},"paymentScheduleType":{"type":"string","example":"PayInZ_Finance_Charge"},"refunds":{"type":"array"},"status":{"type":"string","example":"Completed"}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"success\": false,\n    \"message\": \"{Validation Error Details}\",\n    \"statusCode\": 400\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false,"default":true},"message":{"type":"string","example":"{Validation Error Details}"},"statusCode":{"type":"integer","example":400,"default":0}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"success\": true,\n    \"message\": \"Orders not found for customer.\",\n    \"statusCode\": 404\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"message":{"type":"string","example":"Orders not found for customer."},"statusCode":{"type":"integer","example":404,"default":0}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"success\": false,\n    \"message\": \"Error retrieving orders due to internal server error.\",\n    \"statusCode\": 500\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false,"default":true},"message":{"type":"string","example":"Error retrieving orders due to internal server error."},"statusCode":{"type":"integer","example":500,"default":0}}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}