{"openapi":"3.1.0","info":{"title":"Flutterwave v3","version":"3.0"},"servers":[{"url":"https://api.flutterwave.com/v3"}],"components":{"securitySchemes":{}},"security":[{}],"paths":{"/beneficiaries":{"post":{"summary":"Create a beneficiary","description":"Create a transfer beneficiary","operationId":"create-a-beneficiary","parameters":[{"name":"Authorization","in":"header","description":"Pass your secret key as a bearer token in the request header to authorize this call","required":true,"schema":{"type":"string","default":"Bearer FLWSECK_TEST-SANDBOXDEMOKEY-X"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["account_number","account_bank","beneficiary_name"],"properties":{"account_number":{"type":"string","description":"The beneficiary's bank account number. When testing on staging, you can find a list of all the available test bank accounts [here](https://developer.flutterwave.com/docs/test-bank-accounts)","default":"0690000034"},"account_bank":{"type":"string","description":"This is the beneficiary’s bank code, you can use the [List of Banks](ref:list-of-banks-for-transfer)  to retrieve a bank code.","default":"044"},"beneficiary_name":{"type":"string","description":"This is the name of the beneficiary."},"currency":{"type":"string","description":"This is the based of the country of the beneficiary bank. If country is KE, supply KES, if NG, supply NGN","default":"NGN"},"bank_name":{"type":"string","description":"This is the name of the beneficiary bank"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"success\",\n  \"message\": \"Beneficiary created\",\n  \"data\": {\n    \"id\": 3644,\n    \"account_number\": \"0690000034\",\n    \"bank_code\": \"044\",\n    \"full_name\": \"Ade Bond\",\n    \"created_at\": \"2020-01-16T18:01:28.000Z\",\n    \"bank_name\": \"ACCESS BANK NIGERIA\"\n  }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"message":{"type":"string","example":"Beneficiary created"},"data":{"type":"object","properties":{"id":{"type":"integer","example":3644,"default":0},"account_number":{"type":"string","example":"0690000034"},"bank_code":{"type":"string","example":"044"},"full_name":{"type":"string","example":"Ade Bond"},"created_at":{"type":"string","example":"2020-01-16T18:01:28.000Z"},"bank_name":{"type":"string","example":"ACCESS BANK NIGERIA"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl --location --request POST '{{BASE_API_URL}}/beneficiaries' \\\n--header 'Authorization: Bearer {SEC_KEY}'\n--data-raw '{\n    \"account_bank\": \"044\",\n    \"account_number\": \"0690000034\",\n    \"beneficiary_name\": \"Ade Bond\",\n    \"currency\": \"NGN\",\n    \"bank_name\": \"ACCESS BANK NIGERIA\"\n}'","name":"cUrl"},{"language":"javascript","code":"var request = require('request');\nvar options = {\n  'method': 'POST',\n  'url': '{{BASE_API_URL}}/beneficiaries',\n  'headers': {\n    'Content-Type': 'application/json',\n    'Authorization': 'Bearer {SEC_KEY}'\n  },\n  body: JSON.stringify({\"account_number\":\"0690000034\",\"account_bank\":\"044\",\"beneficiary_name\": \"Ade Bond\"})\n\n};\nrequest(options, function (error, response) { \n  if (error) throw new Error(error);\n  console.log(response.body);\n});","name":"Node"},{"language":"php","code":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"{{BASE_API_URL}}/beneficiaries\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 0,\n  CURLOPT_FOLLOWLOCATION => true,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS =>\"{\\n\\t\\\"account_number\\\": \\\"0690000034\\\",\\n\\t\\\"account_bank\\\": \\\"044\\\"\\n,\\n\\t\\\"beneficiary_name\\\": \\\"Ade Bond\\\"\\n}\",\n  CURLOPT_HTTPHEADER => array(\n    \"Content-Type: application/json\",\n    \"Authorization: Bearer {SEC_KEY}\"\n  ),\n));\n\n$response = curl_exec($curl);\n\ncurl_close($curl);\necho $response;","name":"Php"},{"language":"ruby","code":"require \"uri\"\nrequire \"net/http\"\n\nurl = URI(\"{{BASE_API_URL}}/beneficiaries\")\n\nhttp = Net::HTTP.new(url.host, url.port);\nrequest = Net::HTTP::Post.new(url)\nrequest[\"Content-Type\"] = \"application/json\"\nrequest[\"Authorization\"] = \"Bearer {SEC_KEY}\"\nrequest.body = \"{\\n\\t\\\"account_number\\\": \\\"0690000034\\\",\\n\\t\\\"account_bank\\\": \\\"044\\\"\\n,\\n\\t\\\"beneficiary_name\\\": \\\"Ade Bond\\\"\\n}\"\n\nresponse = http.request(request)\nputs response.read_body","name":"Ruby"}],"samples-languages":["curl","javascript","php","ruby"]}},"get":{"summary":"List all beneficiaries","description":"Get all beneficiaries","operationId":"list-all-beneficiaries","parameters":[{"name":"Authorization","in":"header","description":"Pass your secret key as a bearer token in the request header to authorize this call","required":true,"schema":{"type":"string","default":"Bearer FLWSECK_TEST-SANDBOXDEMOKEY-X"}},{"name":"page","in":"query","description":"This is the page number to retrieve e.g. setting 1 retrieves the first page","schema":{"type":"integer","format":"int32","default":1}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"success\",\n  \"message\": \"Payout beneficiaries fetched\",\n  \"meta\": {\n    \"page_info\": {\n      \"total\": 9,\n      \"current_page\": 1,\n      \"total_pages\": 1\n    }\n  },\n  \"data\": [\n    {\n      \"id\": 3768,\n      \"account_number\": \"0690000040\",\n      \"bank_code\": \"044\",\n      \"full_name\": \"Alexis Sanchez\",\n      \"meta\": null,\n      \"created_at\": \"2020-01-20T16:09:24.000Z\",\n      \"bank_name\": \"ACCESS BANK NIGERIA\"\n    },\n    {\n      \"id\": 3690,\n      \"account_number\": \"0690000039\",\n      \"bank_code\": \"044\",\n      \"full_name\": \"Dotun Ajib\",\n      \"meta\": null,\n      \"created_at\": \"2020-01-19T22:36:06.000Z\",\n      \"bank_name\": \"ACCESS BANK NIGERIA\"\n    },\n    {\n      \"id\": 3644,\n      \"account_number\": \"0690000034\",\n      \"bank_code\": \"044\",\n      \"full_name\": \"Ade Bond\",\n      \"meta\": null,\n      \"created_at\": \"2020-01-16T18:01:28.000Z\",\n      \"bank_name\": \"ACCESS BANK NIGERIA\"\n    },\n    {\n      \"id\": 3608,\n      \"account_number\": \"0690000044\",\n      \"bank_code\": \"044\",\n      \"full_name\": \"Mercedes Daniel\",\n      \"meta\": null,\n      \"created_at\": \"2020-01-15T11:58:02.000Z\",\n      \"bank_name\": \"ACCESS BANK NIGERIA\"\n    },\n    {\n      \"id\": 3565,\n      \"account_number\": \"0690000038\",\n      \"bank_code\": \"044\",\n      \"full_name\": \"John Sunday\",\n      \"meta\": null,\n      \"created_at\": \"2020-01-14T05:53:34.000Z\",\n      \"bank_name\": \"ACCESS BANK NIGERIA\"\n    },\n    {\n      \"id\": 3104,\n      \"account_number\": \"2540782773934\",\n      \"bank_code\": \"000\",\n      \"full_name\": \"Kwame Adew\",\n      \"meta\": null,\n      \"created_at\": \"2019-12-05T23:49:31.000Z\",\n      \"bank_name\": \"FA-BANK\"\n    },\n    {\n      \"id\": 3093,\n      \"account_number\": \"0690000041\",\n      \"bank_code\": \"044\",\n      \"full_name\": \"Alexis Rogers\",\n      \"meta\": null,\n      \"created_at\": \"2019-12-05T21:29:57.000Z\",\n      \"bank_name\": \"ACCESS BANK NIGERIA\"\n    },\n    {\n      \"id\": 2923,\n      \"account_number\": \"0690000032\",\n      \"bank_code\": \"044\",\n      \"full_name\": \"Pastor Bright\",\n      \"meta\": null,\n      \"created_at\": \"2019-11-28T08:15:29.000Z\",\n      \"bank_name\": \"ACCESS BANK NIGERIA\"\n    },\n    {\n      \"id\": 2857,\n      \"account_number\": \"0690000031\",\n      \"bank_code\": \"044\",\n      \"full_name\": \"Forrest Green\",\n      \"meta\": null,\n      \"created_at\": \"2019-11-20T10:33:20.000Z\",\n      \"bank_name\": \"ACCESS BANK NIGERIA\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"message":{"type":"string","example":"Payout beneficiaries fetched"},"meta":{"type":"object","properties":{"page_info":{"type":"object","properties":{"total":{"type":"integer","example":9,"default":0},"current_page":{"type":"integer","example":1,"default":0},"total_pages":{"type":"integer","example":1,"default":0}}}}},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":3768,"default":0},"account_number":{"type":"string","example":"0690000040"},"bank_code":{"type":"string","example":"044"},"full_name":{"type":"string","example":"Alexis Sanchez"},"meta":{},"created_at":{"type":"string","example":"2020-01-20T16:09:24.000Z"},"bank_name":{"type":"string","example":"ACCESS BANK NIGERIA"}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl --location --request GET '{{BASE_API_URL}}/beneficiaries' \\\n--header 'Authorization: Bearer {SEC_KEY}'","name":"cUrl"},{"language":"javascript","code":"var request = require('request');\nvar options = {\n  'method': 'GET',\n  'url': '{{BASE_API_URL}}/beneficiaries',\n  'headers': {\n    'Authorization': 'Bearer {SEC_KEY}'\n  }\n};\nrequest(options, function (error, response) { \n  if (error) throw new Error(error);\n  console.log(response.body);\n});","name":"Node"},{"language":"ruby","code":"require \"uri\"\nrequire \"net/http\"\n\nurl = URI(\"{{BASE_API_URL}}/beneficiaries\")\n\nhttp = Net::HTTP.new(url.host, url.port);\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Authorization\"] = \"Bearer {SEC_KEY}\"\n\nresponse = http.request(request)\nputs response.read_body","name":"Ruby"},{"language":"php","code":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"{{BASE_API_URL}}/beneficiaries\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 0,\n  CURLOPT_FOLLOWLOCATION => true,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => array(\n    \"Authorization: Bearer {SEC_KEY}\"\n  ),\n));\n\n$response = curl_exec($curl);\n\ncurl_close($curl);\necho $response;","name":"Php"}],"samples-languages":["curl","javascript","ruby","php"]}}},"/transactions/{id}/verify":{"get":{"summary":"Verify transaction","description":"Verify transactions using the transaction ID","operationId":"verify-transaction","parameters":[{"name":"Authorization","in":"header","description":"Pass your secret key as a bearer token in the request header to authorize this call","required":true,"schema":{"type":"string","default":"Bearer FLWSECK_TEST-SANDBOXDEMOKEY-X"}},{"name":"id","in":"path","description":"This is the transaction unique identifier. It is returned in the initiate transaction call as `data.id`","schema":{"type":"integer","format":"int32","default":288200108},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": \"success\",\n    \"message\": \"Transaction fetched successfully\",\n    \"data\": {\n        \"id\": 288200108,\n        \"tx_ref\": \"LiveCardTest\",\n        \"flw_ref\": \"YemiDesola/FLW275407301\",\n        \"device_fingerprint\": \"N/A\",\n        \"amount\": 100,\n        \"currency\": \"NGN\",\n        \"charged_amount\": 100,\n        \"app_fee\": 1.4,\n        \"merchant_fee\": 0,\n        \"processor_response\": \"Approved by Financial Institution\",\n        \"auth_model\": \"PIN\",\n        \"ip\": \"::ffff:10.5.179.3\",\n        \"narration\": \"CARD Transaction \",\n        \"status\": \"successful\",\n        \"payment_type\": \"card\",\n        \"created_at\": \"2020-07-15T14:31:16.000Z\",\n        \"account_id\": 17321,\n        \"card\": {\n            \"first_6digits\": \"232343\",\n            \"last_4digits\": \"4567\",\n            \"issuer\": \"FIRST CITY MONUMENT BANK PLC\",\n            \"country\": \"NIGERIA NG\",\n            \"type\": \"VERVE\",\n            \"token\": \"flw-t1nf-4676a40c7ddf5f12scr432aa12d471973-k3n\",\n            \"expiry\": \"02/23\"\n        },\n        \"meta\": null,\n        \"amount_settled\": 98.6,\n        \"customer\": {\n            \"id\": 216519823,\n            \"name\": \"Yemi Desola\",\n            \"phone_number\": \"N/A\",\n            \"email\": \"user@gmail.com\",\n            \"created_at\": \"2020-07-15T14:31:15.000Z\"\n        }\n    }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"message":{"type":"string","example":"Transaction fetched successfully"},"data":{"type":"object","properties":{"id":{"type":"integer","example":288200108,"default":0},"tx_ref":{"type":"string","example":"LiveCardTest"},"flw_ref":{"type":"string","example":"YemiDesola/FLW275407301"},"device_fingerprint":{"type":"string","example":"N/A"},"amount":{"type":"integer","example":100,"default":0},"currency":{"type":"string","example":"NGN"},"charged_amount":{"type":"integer","example":100,"default":0},"app_fee":{"type":"number","example":1.4,"default":0},"merchant_fee":{"type":"integer","example":0,"default":0},"processor_response":{"type":"string","example":"Approved by Financial Institution"},"auth_model":{"type":"string","example":"PIN"},"ip":{"type":"string","example":"::ffff:10.5.179.3"},"narration":{"type":"string","example":"CARD Transaction "},"status":{"type":"string","example":"successful"},"payment_type":{"type":"string","example":"card"},"created_at":{"type":"string","example":"2020-07-15T14:31:16.000Z"},"account_id":{"type":"integer","example":17321,"default":0},"card":{"type":"object","properties":{"first_6digits":{"type":"string","example":"232343"},"last_4digits":{"type":"string","example":"4567"},"issuer":{"type":"string","example":"FIRST CITY MONUMENT BANK PLC"},"country":{"type":"string","example":"NIGERIA NG"},"type":{"type":"string","example":"VERVE"},"token":{"type":"string","example":"flw-t1nf-4676a40c7ddf5f12scr432aa12d471973-k3n"},"expiry":{"type":"string","example":"02/23"}}},"meta":{},"amount_settled":{"type":"number","example":98.6,"default":0},"customer":{"type":"object","properties":{"id":{"type":"integer","example":216519823,"default":0},"name":{"type":"string","example":"Yemi Desola"},"phone_number":{"type":"string","example":"N/A"},"email":{"type":"string","example":"user@gmail.com"},"created_at":{"type":"string","example":"2020-07-15T14:31:15.000Z"}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl --location --request GET '{{BASE_API_URL}}/transactions/288200108/verify' \\\n--header 'Content-Type: application/json' \\\n--header 'Authorization: Bearer {SEC_KEY}'","name":"cUrl"},{"language":"javascript","code":"var request = require('request');\nvar options = {\n  'method': 'GET',\n  'url': '{{BASE_API_URL}}/transactions/288200108/verify',\n  'headers': {\n    'Content-Type': 'application/json',\n    'Authorization': 'Bearer {SEC_KEY}'\n  }\n};\nrequest(options, function (error, response) { \n  if (error) throw new Error(error);\n  console.log(response.body);\n});","name":"Node"},{"language":"php","code":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"{{BASE_API_URL}}/transactions/288200108/verify\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 0,\n  CURLOPT_FOLLOWLOCATION => true,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => array(\n    \"Content-Type: application/json\",\n    \"Authorization: Bearer {SEC_KEY}\"\n  ),\n));\n\n$response = curl_exec($curl);\n\ncurl_close($curl);\necho $response;","name":"Php"},{"language":"ruby","code":"require \"uri\"\nrequire \"net/http\"\n\nurl = URI(\"{{BASE_API_URL}}/transactions/288200108/verify\")\n\nhttp = Net::HTTP.new(url.host, url.port);\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Content-Type\"] = \"application/json\"\nrequest[\"Authorization\"] = \"Bearer {SEC_KEY}\"\n\nresponse = http.request(request)\nputs response.read_body","name":"Ruby"}],"samples-languages":["curl","javascript","php","ruby"]}}},"/tokenized-charges":{"post":{"summary":"Charge with token","description":"Create a tokenized charge","operationId":"charge-with-token-1","parameters":[{"name":"Authorization","in":"header","description":"Pass your secret key as a bearer token on the request header to authorize this call","required":true,"schema":{"type":"string","default":"Bearer FLWSECK_TEST-SANDBOXDEMOKEY-X"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["token","email","currency","country","amount","tx_ref"],"properties":{"token":{"type":"string","description":"This is the card token returned from the transaction verification endpoint as `data.card.token`","default":"flw-t1nf-f9b3bf384cd30d6fca42b6df9d27bd2f-m03k"},"email":{"type":"string","description":"This is the email address of the customer. Note: This has to be the exact email address passed during the initial charge.","default":"user@example.com"},"currency":{"type":"string","description":"This is the specified currency to charge the card in, It can be `NGN`, `GHS`, `KES`, `UGX`, `TZS`, `USD` etc.","default":"NGN"},"country":{"type":"string","description":"This is the ISO country code of the merchant e.g. `NG`, `GH`, `KE` etc.","default":"NG"},"amount":{"type":"integer","description":"This is the amount to be charged","default":2000,"format":"int32"},"tx_ref":{"type":"string","description":"This is a unique reference, unique to the particular transaction being carried out.","default":"tokenized-c-001"},"first_name":{"type":"string","description":"This is the first name of the card holder or the customer","default":"Yemi"},"last_name":{"type":"string","description":"This is the last name of the card holder or the customer","default":"Desola"},"ip":{"type":"number","description":"IP - Internet Protocol. This represents the IP address of where the transaction is being carried out.","default":null,"format":"float"},"narration":{"type":"string","description":"This is a custom description added by the merchant","default":"Sample tokenized charge"},"device_fingerprint":{"type":"string","description":"This is the fingerpringt for the device being used. It can be generated using a library on whatever platform is being used","default":"62wd23423rq324323qew1"},"payment_plan":{"type":"integer","description":"This is the ID of the plan you want to subscribe to. It is returned in the call to create a payment plan as `data.id`","default":3974,"format":"int32"},"subaccounts":{"type":"array","description":"This is an array of objects containing the subaccount IDs to split the payment into. Subaccount ID's are returned in the call to create a subaccount as `data.subaccount_id`","items":{"properties":{"id":{"type":"string","description":"This is the unique Id returned in the call to create a subaccount as `data.subaccount_id`","default":"RS_D87A9EE339AE28BFA2AE86041C6DE70E"}},"type":"object"}},"preauthorize":{"type":"boolean","description":"Pass this value as true to preauthorize a tokenized charge","default":false}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n   \"status\":\"success\",\n   \"message\":\"Charge successful\",\n   \"data\":{\n      \"id\":277036749,\n      \"tx_ref\":\"new-live-test\",\n      \"flw_ref\":\"FLW253481676\",\n      \"redirect_url\":\"http://127.0.0\",\n      \"device_fingerprint\":\"N/A\",\n      \"amount\":300,\n      \"charged_amount\":300,\n      \"app_fee\":4.2,\n      \"merchant_fee\":0,\n      \"processor_response\":\"APPROVED\",\n      \"auth_model\":\"noauth\",\n      \"currency\":\"NGN\",\n      \"ip\":\"123.456.543\",\n      \"narration\":\"pstmn charge\",\n      \"status\":\"successful\",\n      \"payment_type\":\"card\",\n      \"created_at\":\"2020-06-01T01:31:59.000Z\",\n      \"account_id\":17321,\n      \"customer\":{\n         \"id\":210745229,\n         \"phone_number\":null,\n         \"name\":\"Yemi Desola\",\n         \"email\":\"user@gmail.com\",\n         \"created_at\":\"2020-06-01T01:27:24.000Z\"\n      },\n      \"card\":{\n         \"first_6digits\":\"123456\",\n         \"last_4digits\":\"7890\",\n         \"issuer\":\"MASTERCARD GUARANTY TRUST BANK Mastercard Naira Debit Card\",\n         \"country\":\"NG\",\n         \"type\":\"MASTERCARD\",\n         \"expiry\":\"08/22\",\n         \"token\":\"flw-t1nf-f9b3bf384cd30d6fca42b6df9d27bd2f-m03k\"\n      }\n   }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"message":{"type":"string","example":"Charge successful"},"data":{"type":"object","properties":{"id":{"type":"integer","example":277036749,"default":0},"tx_ref":{"type":"string","example":"new-live-test"},"flw_ref":{"type":"string","example":"FLW253481676"},"redirect_url":{"type":"string","example":"http://127.0.0"},"device_fingerprint":{"type":"string","example":"N/A"},"amount":{"type":"integer","example":300,"default":0},"charged_amount":{"type":"integer","example":300,"default":0},"app_fee":{"type":"number","example":4.2,"default":0},"merchant_fee":{"type":"integer","example":0,"default":0},"processor_response":{"type":"string","example":"APPROVED"},"auth_model":{"type":"string","example":"noauth"},"currency":{"type":"string","example":"NGN"},"ip":{"type":"string","example":"123.456.543"},"narration":{"type":"string","example":"pstmn charge"},"status":{"type":"string","example":"successful"},"payment_type":{"type":"string","example":"card"},"created_at":{"type":"string","example":"2020-06-01T01:31:59.000Z"},"account_id":{"type":"integer","example":17321,"default":0},"customer":{"type":"object","properties":{"id":{"type":"integer","example":210745229,"default":0},"phone_number":{},"name":{"type":"string","example":"Yemi Desola"},"email":{"type":"string","example":"user@gmail.com"},"created_at":{"type":"string","example":"2020-06-01T01:27:24.000Z"}}},"card":{"type":"object","properties":{"first_6digits":{"type":"string","example":"123456"},"last_4digits":{"type":"string","example":"7890"},"issuer":{"type":"string","example":"MASTERCARD GUARANTY TRUST BANK Mastercard Naira Debit Card"},"country":{"type":"string","example":"NG"},"type":{"type":"string","example":"MASTERCARD"},"expiry":{"type":"string","example":"08/22"},"token":{"type":"string","example":"flw-t1nf-f9b3bf384cd30d6fca42b6df9d27bd2f-m03k"}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl --location --request POST '{{BASE_API_URL}}/tokenized-charges' \\\n--header 'Content-Type: application/json' \\\n--header 'Authorization: Bearer {SEC_KEY}' \\\n--data-raw '{\n    \"token\": \"flw-t1nf-f9b3bf384cd30d6fca42b6df9d27bd2f-m03k\",\n    \"currency\": \"NGN\",\n    \"country\": \"NG\",\n    \"amount\": 2000,\n    \"email\": \"user@example.com\",\n    \"first_name\": \"Yemi\",\n    \"last_name\": \"Desola\",\n    \"ip\": 123.876.0997.9,\n    \"narration\": \"Sample tokenized charge\",\n    \"tx_ref\": \"tokenized-c-001\"\n}'","name":"cUrl"},{"language":"javascript","code":"var request = require('request');\nvar options = {\n  'method': 'POST',\n  'url': '{{BASE_API_URL}}/tokenized-charges',\n  'headers': {\n    'Content-Type': 'application/json',\n    'Authorization': 'Bearer {SEC_KEY}'\n  },\n  body: JSON.stringify(\n    {\n     \"token\":\"flw-t1nf-f9b3bf384cd30d6fca42b6df9d27bd2f-m03k\",\n     \"currency\":\"NGN\",\n     \"country\":\"NG\",\n     \"amount\":2000,\n     \"email\":\"user@example.com\",\n     \"first_name\":\"Yemi\",\n     \"last_name\":\"Desola\",\n     \"ip\":123.876.0997.9,\n     \"narration\":\"Sample tokenized charge\",\n     \"tx_ref\":\"tokenized-c-001\"\n    }\n  )\n\n};\nrequest(options, function (error, response) { \n  if (error) throw new Error(error);\n  console.log(response.body);\n});","name":"Node"},{"language":"php","code":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"{{BASE_API_URL}}/tokenized-charges\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 0,\n  CURLOPT_FOLLOWLOCATION => true,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS =>\"{\\n    \\\"token\\\": \\\"flw-t1nf-f9b3bf384cd30d6fca42b6df9d27bd2f-m03k\\\",\\n    \\\"currency\\\": \\\"NGN\\\",\\n    \\\"country\\\": \\\"NG\\\",\\n    \\\"amount\\\": 2000,\\n    \\\"email\\\": \\\"user@example.com\\\",\\n    \\\"first_name\\\": \\\"Yemi\\\",\\n    \\\"last_name\\\": \\\"Desola\\\",\\n    \\\"ip\\\": \\\"123.876.0997.9\\\",\\n    \\\"narration\\\": \\\"Sample tokenized charge\\\",\\n    \\\"tx_ref\\\": \\\"tokenized-c-001\\\"\\n}\",\n  CURLOPT_HTTPHEADER => array(\n    \"Content-Type: application/json\",\n    \"Authorization: Bearer {SEC_KEY}\"\n  ),\n));\n\n$response = curl_exec($curl);\n\ncurl_close($curl);\necho $response;","name":"Php"},{"language":"ruby","code":"require \"uri\"\nrequire \"net/http\"\n\nurl = URI(\"{{BASE_API_URL}}/tokenized-charges\")\n\nhttp = Net::HTTP.new(url.host, url.port);\nrequest = Net::HTTP::Post.new(url)\nrequest[\"Content-Type\"] = \"application/json\"\nrequest[\"Authorization\"] = \"Bearer {SEC_KEY}\"\nrequest.body = \"{\\n    \\\"token\\\": \\\"flw-t1nf-f9b3bf384cd30d6fca42b6df9d27bd2f-m03k\\\",\\n    \\\"currency\\\": \\\"NGN\\\",\\n    \\\"country\\\": \\\"NG\\\",\\n    \\\"amount\\\": 2000,\\n    \\\"email\\\": \\\"user@example.com\\\",\\n    \\\"first_name\\\": \\\"Yemi\\\",\\n    \\\"last_name\\\": \\\"Desola\\\",\\n    \\\"ip\\\": \\\"123.876.0997.9\\\",\\n    \\\"narration\\\": \\\"Sample tokenized charge\\\",\\n    \\\"tx_ref\\\": \\\"tokenized-c-001\\\"\\n}\"\n\nresponse = http.request(request)\nputs response.read_body","name":"Ruby"}],"samples-languages":["curl","javascript","php","ruby"]}}},"/beneficiaries/{id}":{"delete":{"summary":"Delete a beneficiary","description":"Delete a transfer beneficiary","operationId":"delete-a-beneficiary","parameters":[{"name":"id","in":"path","description":"The id of the beneficiary you want to delete. It is returned as `data.id` from the create a beneficiary call","schema":{"type":"integer","format":"int32","default":3103},"required":true},{"name":"Authorization","in":"header","description":"Pass your secret key as a bearer token in the request header to authorize this call","required":true,"schema":{"type":"string","default":"Bearer FLWSECK_TEST-SANDBOXDEMOKEY-X"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"success\",\n  \"message\": \"Beneficiary deleted\",\n  \"data\": \"Deleted\"\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"message":{"type":"string","example":"Beneficiary deleted"},"data":{"type":"string","example":"Deleted"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl --location --request DELETE '{{BASE_API_URL}}/beneficiaries/2923' \\\n--header 'Authorization: Bearer {SEC_KEY}'","name":"cUrl"},{"language":"javascript","code":"var request = require('request');\nvar options = {\n  'method': 'DELETE',\n  'url': '{{BASE_API_URL}}/beneficiaries/3103',\n  'headers': {\n    'Authorization': 'Bearer {SEC_KEY}'\n  }\n};\nrequest(options, function (error, response) { \n  if (error) throw new Error(error);\n  console.log(response.body);\n});","name":"Node"},{"language":"php","code":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"{{BASE_API_URL}}/beneficiaries/3103\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 0,\n  CURLOPT_FOLLOWLOCATION => true,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"DELETE\",\n  CURLOPT_HTTPHEADER => array(\n    \"Authorization: Bearer {SEC_KEY}\"\n  ),\n));\n\n$response = curl_exec($curl);\n\ncurl_close($curl);\necho $response;","name":"Php"},{"language":"ruby","code":"require \"uri\"\nrequire \"net/http\"\n\nurl = URI(\"{{BASE_API_URL}}/beneficiaries/3103\")\n\nhttp = Net::HTTP.new(url.host, url.port);\nrequest = Net::HTTP::Delete.new(url)\nrequest[\"Authorization\"] = \"Bearer {SEC_KEY}\"\n\nresponse = http.request(request)\nputs response.read_body","name":"Ruby"}],"samples-languages":["curl","javascript","php","ruby"]}},"get":{"summary":"Fetch a beneficiary","description":"Get a single transfer beneficiary details","operationId":"fetch-a-beneficiary","parameters":[{"name":"Authorization","in":"header","description":"Pass your secret key as a bearer token in the request header to authorize this call","required":true,"schema":{"type":"string","default":"Bearer FLWSECK_TEST-SANDBOXDEMOKEY-X"}},{"name":"id","in":"path","description":"This is the unique identifier for the beneficiary you intend to fetch. It is returned in the call to create a beneficiary as `data.id`","schema":{"type":"integer","format":"int32","default":3644},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"success\",\n  \"message\": \"Payout beneficiary fetched\",\n  \"data\": {\n    \"id\": 2923,\n    \"account_number\": \"0690000032\",\n    \"bank_code\": \"044\",\n    \"full_name\": \"Pastor Bright\",\n    \"meta\": null,\n    \"created_at\": \"2019-11-28T08:15:29.000Z\",\n    \"bank_name\": \"ACCESS BANK NIGERIA\"\n  }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"message":{"type":"string","example":"Payout beneficiary fetched"},"data":{"type":"object","properties":{"id":{"type":"integer","example":2923,"default":0},"account_number":{"type":"string","example":"0690000032"},"bank_code":{"type":"string","example":"044"},"full_name":{"type":"string","example":"Pastor Bright"},"meta":{},"created_at":{"type":"string","example":"2019-11-28T08:15:29.000Z"},"bank_name":{"type":"string","example":"ACCESS BANK NIGERIA"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl --location --request GET '{{BASE_API_URL}}/beneficiaries/2923' \\\n--header 'Authorization: Bearer {SEC_KEY}'","name":"cUrl"},{"language":"javascript","code":"var request = require('request');\nvar options = {\n  'method': 'GET',\n  'url': '{{BASE_API_URL}}/beneficiaries/2923',\n  'headers': {\n    'Authorization': 'Bearer {SEC_KEY}'\n  }\n};\nrequest(options, function (error, response) { \n  if (error) throw new Error(error);\n  console.log(response.body);\n});","name":"Node"},{"language":"php","code":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"{{BASE_API_URL}}/beneficiaries/2923\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 0,\n  CURLOPT_FOLLOWLOCATION => true,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => array(\n    \"Authorization: Bearer {SEC_KEY}\"\n  ),\n));\n\n$response = curl_exec($curl);\n\ncurl_close($curl);\necho $response;","name":"Php"},{"language":"ruby","code":"require \"uri\"\nrequire \"net/http\"\n\nurl = URI(\"{{BASE_API_URL}}/beneficiaries/2923\")\n\nhttp = Net::HTTP.new(url.host, url.port);\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Authorization\"] = \"Bearer {SEC_KEY}\"\n\nresponse = http.request(request)\nputs response.read_body","name":"Ruby"}],"samples-languages":["curl","javascript","php","ruby"]}}},"/transactions":{"get":{"summary":"Get all transactions","description":"Fetch all transactions on your account","operationId":"get-all-transactions","parameters":[{"name":"Authorization","in":"header","description":"Pass your secret key as a bearer token in the request header to authorize this call","required":true,"schema":{"type":"string","default":"Bearer FLWSECK_TEST-SANDBOXDEMOKEY-X"}},{"name":"from","in":"query","description":"This is the specified date to start the list from. YYYY-MM-DD","schema":{"type":"string","default":"2020-01-01"}},{"name":"to","in":"query","description":"The is the specified end period for the search . YYYY-MM-DD","schema":{"type":"string","default":"2020-01-14"}},{"name":"page","in":"query","description":"This is the page number to retrieve e.g. setting 1 retrieves the first page","schema":{"type":"integer","format":"int32","default":1}},{"name":"customer_email","in":"query","description":"This is the email of the customer who carried out a transaction. Use for more specific listing.","schema":{"type":"string","default":"user@example.com"}},{"name":"status","in":"query","description":"This is the transaction status, can be set to successful, failed etc to filter the listing","schema":{"type":"string","default":"successful"}},{"name":"tx_ref","in":"query","description":"This is the merchant reference tied to a transaction. Use for more specific listing","schema":{"type":"string","default":"new-transaction-ref"}},{"name":"customer_fullname","in":"query","description":"This is the combination of the customer first name and last name passed to rave during transaction.","schema":{"type":"string","default":"Yemi Desola"}},{"name":"currency","in":"query","description":"This is the currency the transaction list should come in e.g. NGN, USD, EUR, GHS, KES, GBP and ZAR","schema":{"type":"string","default":"NGN"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"success\",\n  \"message\": \"Transactions fetched\",\n  \"meta\": {\n    \"page_info\": {\n      \"total\": 44,\n      \"current_page\": 1,\n      \"total_pages\": 5\n    }\n  },\n  \"data\": [\n    {\n      \"id\": \"989226\",\n      \"tx_ref\": \"m0ckaham-1578002686748\",\n      \"flw_ref\": \"N/A\",\n      \"device_fingerprint\": \"e2b5cd3ec0fa99d45bf204a1401fb981\",\n      \"amount\": 1000,\n      \"currency\": \"NGN\",\n      \"charged_amount\": 1000,\n      \"app_fee\": null,\n      \"merchant_fee\": 0,\n      \"processor_response\": null,\n      \"auth_model\": \"AUTH\",\n      \"ip\": \"197.211.58.137\",\n      \"narration\": \"Earth Gang\",\n      \"status\": \"pending\",\n      \"payment_type\": \"account\",\n      \"created_at\": \"2020-01-02T22:06:45.000Z\",\n      \"amount_settled\": null,\n      \"account\": {\n        \"nuban\": \"0690000031\",\n        \"bank\": \"ACCESS BANK NIGERIA\"\n      },\n      \"customer_name\": \"Yemi Desola\",\n      \"customer_email\": \"user@gmail.com\",\n      \"account_id\": \"73362\"\n    },\n    {\n      \"id\": \"989223\",\n      \"tx_ref\": \"m0ckaham-1578002686748\",\n      \"flw_ref\": \"N/A\",\n      \"device_fingerprint\": \"e2b5cd3ec0fa99d45bf204a1401fb981\",\n      \"amount\": 1000,\n      \"currency\": \"NGN\",\n      \"charged_amount\": 1000,\n      \"app_fee\": null,\n      \"merchant_fee\": 0,\n      \"processor_response\": null,\n      \"auth_model\": \"AUTH\",\n      \"ip\": \"197.211.58.137\",\n      \"narration\": \"Earth Gang\",\n      \"status\": \"pending\",\n      \"payment_type\": \"account\",\n      \"created_at\": \"2020-01-02T22:04:57.000Z\",\n      \"amount_settled\": null,\n      \"account\": {\n        \"nuban\": \"0690000031\",\n        \"bank\": \"ACCESS BANK NIGERIA\"\n      },\n      \"customer_name\": \"Yemi Desola\",\n      \"customer_email\": \"user@gmail.com\",\n      \"account_id\": \"73362\"\n    },\n    {\n      \"id\": \"989222\",\n      \"tx_ref\": \"m0ckaham-1578002611018\",\n      \"flw_ref\": \"N/A\",\n      \"device_fingerprint\": \"e2b5cd3ec0fa99d45bf204a1401fb981\",\n      \"amount\": 1000,\n      \"currency\": \"NGN\",\n      \"charged_amount\": 1000,\n      \"app_fee\": null,\n      \"merchant_fee\": 0,\n      \"processor_response\": null,\n      \"auth_model\": \"AUTH\",\n      \"ip\": \"197.211.58.137\",\n      \"narration\": \"Earth Gang\",\n      \"status\": \"pending\",\n      \"payment_type\": \"account\",\n      \"created_at\": \"2020-01-02T22:03:44.000Z\",\n      \"amount_settled\": null,\n      \"account\": {\n        \"nuban\": \"0690000031\",\n        \"bank\": \"ACCESS BANK NIGERIA\"\n      },\n      \"customer_name\": \"Yemi Desola\",\n      \"customer_email\": \"user@gmail.com\",\n      \"account_id\": \"73362\"\n    },\n    {\n      \"id\": \"989217\",\n      \"tx_ref\": \"m0ckaham-1578002504686\",\n      \"flw_ref\": \"N/A\",\n      \"device_fingerprint\": \"e2b5cd3ec0fa99d45bf204a1401fb981\",\n      \"amount\": 1000,\n      \"currency\": \"NGN\",\n      \"charged_amount\": 1000,\n      \"app_fee\": null,\n      \"merchant_fee\": 0,\n      \"processor_response\": null,\n      \"auth_model\": \"AUTH\",\n      \"ip\": \"197.211.58.137\",\n      \"narration\": \"Earth Gang\",\n      \"status\": \"pending\",\n      \"payment_type\": \"account\",\n      \"created_at\": \"2020-01-02T22:01:57.000Z\",\n      \"amount_settled\": null,\n      \"account\": {\n        \"nuban\": \"0690000031\",\n        \"bank\": \"ACCESS BANK NIGERIA\"\n      },\n      \"customer_name\": \"Yemi Desola\",\n      \"customer_email\": \"user@gmail.com\",\n      \"account_id\": \"73362\"\n    },\n    {\n      \"id\": \"989216\",\n      \"tx_ref\": \"m0ckaham-1578002147445\",\n      \"flw_ref\": \"N/A\",\n      \"device_fingerprint\": \"e2b5cd3ec0fa99d45bf204a1401fb981\",\n      \"amount\": 1000,\n      \"currency\": \"NGN\",\n      \"charged_amount\": 1000,\n      \"app_fee\": null,\n      \"merchant_fee\": 0,\n      \"processor_response\": null,\n      \"auth_model\": \"AUTH\",\n      \"ip\": \"197.211.58.137\",\n      \"narration\": \"Earth Gang\",\n      \"status\": \"pending\",\n      \"payment_type\": \"account\",\n      \"created_at\": \"2020-01-02T22:01:35.000Z\",\n      \"amount_settled\": null,\n      \"account\": {\n        \"nuban\": \"0690000031\",\n        \"bank\": \"ACCESS BANK NIGERIA\"\n      },\n      \"customer_name\": \"Yemi Desola\",\n      \"customer_email\": \"user@gmail.com\",\n      \"account_id\": \"73362\"\n    },\n    {\n      \"id\": \"989214\",\n      \"tx_ref\": \"m0ckaham-1578002147445\",\n      \"flw_ref\": \"N/A\",\n      \"device_fingerprint\": \"e2b5cd3ec0fa99d45bf204a1401fb981\",\n      \"amount\": 1000,\n      \"currency\": \"NGN\",\n      \"charged_amount\": 1000,\n      \"app_fee\": null,\n      \"merchant_fee\": 0,\n      \"processor_response\": null,\n      \"auth_model\": \"AUTH\",\n      \"ip\": \"197.211.58.137\",\n      \"narration\": \"Earth Gang\",\n      \"status\": \"pending\",\n      \"payment_type\": \"account\",\n      \"created_at\": \"2020-01-02T21:55:56.000Z\",\n      \"amount_settled\": null,\n      \"account\": {\n        \"nuban\": \"0690000031\",\n        \"bank\": \"ACCESS BANK NIGERIA\"\n      },\n      \"customer_name\": \"Yemi Desola\",\n      \"customer_email\": \"user@gmail.com\",\n      \"account_id\": \"73362\"\n    },\n    {\n      \"id\": \"989213\",\n      \"tx_ref\": \"m0ckaham-1578002107929\",\n      \"flw_ref\": \"N/A\",\n      \"device_fingerprint\": \"e2b5cd3ec0fa99d45bf204a1401fb981\",\n      \"amount\": 100000,\n      \"currency\": \"NGN\",\n      \"charged_amount\": 100000,\n      \"app_fee\": null,\n      \"merchant_fee\": 0,\n      \"processor_response\": null,\n      \"auth_model\": \"AUTH\",\n      \"ip\": \"197.211.58.137\",\n      \"narration\": \"Earth Gang\",\n      \"status\": \"pending\",\n      \"payment_type\": \"account\",\n      \"created_at\": \"2020-01-02T21:55:19.000Z\",\n      \"amount_settled\": null,\n      \"account\": {\n        \"nuban\": \"0690000031\",\n        \"bank\": \"ACCESS BANK NIGERIA\"\n      },\n      \"customer_name\": \"Yemi Desola\",\n      \"customer_email\": \"user@gmail.com\",\n      \"account_id\": \"73362\"\n    },\n    {\n      \"id\": \"989208\",\n      \"tx_ref\": \"m0ckaham-1578001692462\",\n      \"flw_ref\": \"URF_1578001706192_7697035\",\n      \"device_fingerprint\": \"e2b5cd3ec0fa99d45bf204a1401fb981\",\n      \"amount\": 100000,\n      \"currency\": \"NGN\",\n      \"charged_amount\": 100000,\n      \"app_fee\": 1400,\n      \"merchant_fee\": 0,\n      \"processor_response\": \"Approved Or Completed Successfully\",\n      \"auth_model\": \"AUTH\",\n      \"ip\": \"197.211.58.137\",\n      \"narration\": \"Earth Gang\",\n      \"status\": \"successful\",\n      \"payment_type\": \"account\",\n      \"created_at\": \"2020-01-02T21:48:26.000Z\",\n      \"amount_settled\": 98550,\n      \"account\": {\n        \"nuban\": \"0690000031\",\n        \"bank\": \"ACCESS BANK NIGERIA\"\n      },\n      \"customer_name\": \"Yemi Desola\",\n      \"customer_email\": \"user@gmail.com\",\n      \"account_id\": \"73362\"\n    },\n    {\n      \"id\": \"989207\",\n      \"tx_ref\": \"Flutterwave-Pages919998081709\",\n      \"flw_ref\": \"URF_1578001508809_392835\",\n      \"device_fingerprint\": \"e2b5cd3ec0fa99d45bf204a1401fb981\",\n      \"amount\": 1000,\n      \"currency\": \"NGN\",\n      \"charged_amount\": 1000,\n      \"app_fee\": 14,\n      \"merchant_fee\": 0,\n      \"processor_response\": \"Approved Or Completed Successfully\",\n      \"auth_model\": \"AUTH\",\n      \"ip\": \"197.211.58.137\",\n      \"narration\": \"Earth Gang\",\n      \"status\": \"successful\",\n      \"payment_type\": \"account\",\n      \"created_at\": \"2020-01-02T21:45:08.000Z\",\n      \"amount_settled\": 936,\n      \"account\": {\n        \"nuban\": \"0690000031\",\n        \"bank\": \"ACCESS BANK NIGERIA\"\n      },\n      \"customer_name\": \"Yemi Desola\",\n      \"customer_email\": \"user@gmail.com\",\n      \"account_id\": \"73362\"\n    },\n    {\n      \"id\": \"989058\",\n      \"tx_ref\": \"m0ckaham-1577989302655\",\n      \"flw_ref\": \"URF_1577989314468_5262435\",\n      \"device_fingerprint\": \"e2b5cd3ec0fa99d45bf204a1401fb981\",\n      \"amount\": 50000,\n      \"currency\": \"NGN\",\n      \"charged_amount\": 50000,\n      \"app_fee\": 700,\n      \"merchant_fee\": 0,\n      \"processor_response\": \"Approved Or Completed Successfully\",\n      \"auth_model\": \"AUTH\",\n      \"ip\": \"197.211.58.137\",\n      \"narration\": \"Earth Gang\",\n      \"status\": \"successful\",\n      \"payment_type\": \"account\",\n      \"created_at\": \"2020-01-02T18:21:54.000Z\",\n      \"amount_settled\": 49300,\n      \"account\": {\n        \"nuban\": \"0690000031\",\n        \"bank\": \"ACCESS BANK NIGERIA\"\n      },\n      \"customer_name\": \"Yemi Desola\",\n      \"customer_email\": \"user@gmail.com\",\n      \"account_id\": \"73362\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"message":{"type":"string","example":"Transactions fetched"},"meta":{"type":"object","properties":{"page_info":{"type":"object","properties":{"total":{"type":"integer","example":44,"default":0},"current_page":{"type":"integer","example":1,"default":0},"total_pages":{"type":"integer","example":5,"default":0}}}}},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"989226"},"tx_ref":{"type":"string","example":"m0ckaham-1578002686748"},"flw_ref":{"type":"string","example":"N/A"},"device_fingerprint":{"type":"string","example":"e2b5cd3ec0fa99d45bf204a1401fb981"},"amount":{"type":"integer","example":1000,"default":0},"currency":{"type":"string","example":"NGN"},"charged_amount":{"type":"integer","example":1000,"default":0},"app_fee":{},"merchant_fee":{"type":"integer","example":0,"default":0},"processor_response":{},"auth_model":{"type":"string","example":"AUTH"},"ip":{"type":"string","example":"197.211.58.137"},"narration":{"type":"string","example":"Earth Gang"},"status":{"type":"string","example":"pending"},"payment_type":{"type":"string","example":"account"},"created_at":{"type":"string","example":"2020-01-02T22:06:45.000Z"},"amount_settled":{},"account":{"type":"object","properties":{"nuban":{"type":"string","example":"0690000031"},"bank":{"type":"string","example":"ACCESS BANK NIGERIA"}}},"customer_name":{"type":"string","example":"Yemi Desola"},"customer_email":{"type":"string","example":"user@gmail.com"},"account_id":{"type":"string","example":"73362"}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl --location --request GET '{{BASE_API_URL}}/transactions?from=2020-01-01&to=2020-01-14' \\\n--header 'Content-Type: application/json' \\\n--header 'Authorization: Bearer {SEC_KEY}'","name":"cUrl"},{"language":"javascript","code":"var request = require('request');\nvar options = {\n  'method': 'GET',\n  'url': '{{BASE_API_URL}}/transactions?from=2020-01-01&to=2020-01-14',\n  'headers': {\n    'Content-Type': 'application/json',\n    'Authorization': 'Bearer {SEC_KEY}'\n  }\n};\nrequest(options, function (error, response) { \n  if (error) throw new Error(error);\n  console.log(response.body);\n});","name":"Node"},{"language":"php","code":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"{{BASE_API_URL}}/transactions?from=2020-01-01&to=2020-01-14\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 0,\n  CURLOPT_FOLLOWLOCATION => true,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => array(\n    \"Content-Type: application/json\",\n    \"Authorization: Bearer {SEC_KEY}\"\n  ),\n));\n\n$response = curl_exec($curl);\n\ncurl_close($curl);\necho $response;","name":"Php"},{"language":"ruby","code":"require \"uri\"\nrequire \"net/http\"\n\nurl = URI(\"{{BASE_API_URL}}/transactions?from=2020-01-01&to=2020-01-14\")\n\nhttp = Net::HTTP.new(url.host, url.port);\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Content-Type\"] = \"application/json\"\nrequest[\"Authorization\"] = \"Bearer {SEC_KEY}\"\n\nresponse = http.request(request)\nputs response.read_body","name":"Ruby"}],"samples-languages":["curl","javascript","php","ruby"]}}},"/bulk-tokenized-charges":{"post":{"summary":"Create bulk tokenized charge","description":"This endpoint allows you to charge multiple payment tokens at once.","operationId":"create-bulk-tokenized-charge","parameters":[{"name":"Authorization","in":"header","description":"Pass your secret key as a bearer token in the request header to authorize this call","required":true,"schema":{"type":"string","default":"Bearer FLWSECK_TEST-SANDBOXDEMOKEY-X"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["retry_strategy","bulk_data"],"properties":{"retry_strategy":{"type":"object","description":"This is an object that defines what should happen when the transaction fails. It contains 3 properties (retry_interval, retry_amount_variable, retry_attempt_variable)","required":["retry_interval","retry_amount_variable","retry_attempt_variable"],"properties":{"retry_interval":{"type":"integer","description":"This is the number of mins it should take for the retry to happen","default":120,"format":"int32"},"retry_amount_variable":{"type":"integer","description":"This is the amount that would be retried after the specified number of attempts in percentage","default":60,"format":"int32"},"retry_attempt_variable":{"type":"integer","description":"This is the number of times the retry should happen","default":2,"format":"int32"},"last_retry_attempt":{"type":"integer","description":"This is the maximum number of retries. If not set 10 attempts will be made.","format":"int32"}}},"bulk_data":{"type":"object","description":"An array of objects containing the tokenized bulk charge data. This array contains the same payload you passed to the single tokenize endpoint with multiple different values.","required":["currency","token","country","amount","tx_ref","email"],"properties":{"currency":{"type":"string","description":"his is the specified currency to charge the card in, It can be NGN, GHS, KES, UGX, TZS, USD etc.","default":"NGN"},"token":{"type":"string","description":"This is the card token returned from the transaction verification endpoint as data.card.token","default":"flw-t1nf-53e91845cddd82c9f7113e6529e23ab7-m03w"},"country":{"type":"string","description":"This is the ISO country code of the merchant e.g. NG, GH, KE etc.","default":"NG"},"amount":{"type":"integer","description":"This is the amount to be charged","default":2000,"format":"int32"},"tx_ref":{"type":"string","description":"This is the unique reference, unique to the particular transaction being carried out. It is generated by the merchant for every transaction","default":"tokenized-c-001"},"email":{"type":"string","description":"This is the email address of the customer","default":"user@example.com"},"first_name":{"type":"string","description":"This is the first name of the card holder or the customer","default":"Yemi"},"last_name":{"type":"string","description":"This is the last name of the card holder or the customer","default":"Desola"},"ip":{"type":"string","description":"IP - Internet Protocol. This represents the IP address of where the transaction is being carried out.","default":"190.233.222.1"}}},"title":{"type":"string","description":"Title of the bulk charge","default":"Staff salary for June"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"success\",\n  \"message\": \"Bulk charge successful\",\n  \"data\": {\n    \"id\": 130,\n    \"created_at\": \"2020-01-19T21:43:39.000Z\",\n    \"approver\": \"N/A\"\n  }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"message":{"type":"string","example":"Bulk charge successful"},"data":{"type":"object","properties":{"id":{"type":"integer","example":130,"default":0},"created_at":{"type":"string","example":"2020-01-19T21:43:39.000Z"},"approver":{"type":"string","example":"N/A"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl --location --request POST '{{BASE_API_URL}}/bulk-tokenized-charges/' \\\n--header 'Authorization: Bearer {SEC_KEY}' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n    \"title\": \"Staff salary for June\",\n    \"retry_strategy\": {\n        \"retry_interval\": 120,\n        \"retry_amount_variable\": 60,\n        \"retry_attempt_variable\": 2\n    },\n    \"bulk_data\": [\n        {\n            \"currency\": \"NGN\",\n            \"token\": \"flw-t1nf-f9b3bf384cd30d6fca42b6df9d27bd2f-m03k\",\n            \"country\": \"NG\",\n            \"amount\": 3500,\n            \"email\": \"user@example.com\",\n            \"first_name\": \"Yemi\",\n            \"last_name\": \"Desola\",\n            \"ip\": \"pstmn\",\n            \"tx_ref\": \"akhlm-pstmn-blkchrg-xx6\"\n        },\n        {\n            \"currency\": \"NGN\",\n            \"token\": \"flw-t1nf-f9b3bf384cd30d6fca42b6df9d27bd2f-m03k\",\n            \"country\": \"NG\",\n            \"amount\": 3000,\n            \"email\": \"user@example.com\",\n            \"first_name\": \"Temi\",\n            \"last_name\": \"Adesina\",\n            \"ip\": \"pstmn\",\n            \"tx_ref\": \"akhlm-pstmn-blkchrge-xx7\"\n        }\n    ]\n}'","name":"cUrl"},{"language":"javascript","code":"var request = require('request');\nvar options = {\n  'method': 'POST',\n  'url': '{{BASE_API_URL}}/bulk-tokenized-charges/',\n  'headers': {\n    'Authorization': 'Bearer {SEC_KEY}',\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\n    \"title\":\"Staff salary for June\",\n    \"retry_strategy\":{\n      \"retry_interval\":120,\n      \"retry_amount_variable\":60,\n      \"retry_attempt_variable\":2\n    },\n    \"bulk_data\":[\n      {\n        \"currency\":\"NGN\",\n        \"token\":\"flw-t1nf-f9b3bf384cd30d6fca42b6df9d27bd2f-m03k\",\n        \"country\":\"NG\",\n        \"amount\":3500,\n        \"email\":\"user@example.com\",\n        \"first_name\":\"Yemi\",\n        \"last_name\":\"Desola\",\n        \"ip\":\"pstmn\",\n        \"tx_ref\":\"akhlm-pstmn-blkchrg-xx6\"\n      },\n      {\n        \"currency\":\"NGN\",\n        \"token\":\"flw-t1nf-f9b3bf384cd30d6fca42b6df9d27bd2f-m03k\",\n        \"country\":\"NG\",\n        \"amount\":3000,\n        \"email\":\"user@example.com\",\n        \"first_name\":\"Temi\",\n        \"last_name\":\"Adesina\",\n        \"ip\":\"pstmn\",\n        \"tx_ref\":\"akhlm-pstmn-blkchrge-xx7\"}\n    ]})\n\n};\nrequest(options, function (error, response) { \n  if (error) throw new Error(error);\n  console.log(response.body);\n});","name":"Node"},{"language":"php","code":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"{{BASE_API_URL}}/bulk-tokenized-charges/\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 0,\n  CURLOPT_FOLLOWLOCATION => true,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS =>\"{\\n    \\\"title\\\": \\\"Staff salary for June\\\",\\n    \\\"retry_strategy\\\": {\\n        \\\"retry_interval\\\": 120,\\n        \\\"retry_amount_variable\\\": 60,\\n        \\\"retry_attempt_variable\\\": 2\\n    },\\n    \\\"bulk_data\\\": [\\n        {\\n            \\\"currency\\\": \\\"NGN\\\",\\n            \\\"token\\\": \\\"flw-t1nf-f9b3bf384cd30d6fca42b6df9d27bd2f-m03k\\\",\\n            \\\"country\\\": \\\"NG\\\",\\n            \\\"amount\\\": 3500,\\n            \\\"email\\\": \\\"user@example.com\\\",\\n            \\\"first_name\\\": \\\"Yemi\\\",\\n            \\\"last_name\\\": \\\"Desola\\\",\\n            \\\"ip\\\": \\\"pstmn\\\",\\n            \\\"tx_ref\\\": \\\"akhlm-pstmn-blkchrg-xx6\\\"\\n        },\\n        {\\n            \\\"currency\\\": \\\"NGN\\\",\\n            \\\"token\\\": \\\"flw-t1nf-f9b3bf384cd30d6fca42b6df9d27bd2f-m03k\\\",\\n            \\\"country\\\": \\\"NG\\\",\\n            \\\"amount\\\": 3000,\\n            \\\"email\\\": \\\"user@example.com\\\",\\n            \\\"first_name\\\": \\\"Temi\\\",\\n            \\\"last_name\\\": \\\"Adesina\\\",\\n            \\\"ip\\\": \\\"pstmn\\\",\\n            \\\"tx_ref\\\": \\\"akhlm-pstmn-blkchrge-xx7\\\"\\n        }\\n    ]\\n}\",\n  CURLOPT_HTTPHEADER => array(\n    \"Authorization: Bearer {SEC_KEY}\",\n    \"Content-Type: application/json\"\n  ),\n));\n\n$response = curl_exec($curl);\n\ncurl_close($curl);\necho $response;","name":"Php"},{"language":"ruby","code":"require \"uri\"\nrequire \"net/http\"\n\nurl = URI(\"{{BASE_API_URL}}/bulk-tokenized-charges/\")\n\nhttp = Net::HTTP.new(url.host, url.port);\nrequest = Net::HTTP::Post.new(url)\nrequest[\"Authorization\"] = \"Bearer {SEC_KEY}\"\nrequest[\"Content-Type\"] = \"application/json\"\nrequest.body = \"{\\n    \\\"title\\\": \\\"Staff salary for June\\\",\\n    \\\"retry_strategy\\\": {\\n        \\\"retry_interval\\\": 120,\\n        \\\"retry_amount_variable\\\": 60,\\n        \\\"retry_attempt_variable\\\": 2\\n    },\\n    \\\"bulk_data\\\": [\\n        {\\n            \\\"currency\\\": \\\"NGN\\\",\\n            \\\"token\\\": \\\"flw-t1nf-f9b3bf384cd30d6fca42b6df9d27bd2f-m03k\\\",\\n            \\\"country\\\": \\\"NG\\\",\\n            \\\"amount\\\": 3500,\\n            \\\"email\\\": \\\"user@example.com\\\",\\n            \\\"first_name\\\": \\\"Yemi\\\",\\n            \\\"last_name\\\": \\\"Desola\\\",\\n            \\\"ip\\\": \\\"pstmn\\\",\\n            \\\"tx_ref\\\": \\\"akhlm-pstmn-blkchrg-xx6\\\"\\n        },\\n        {\\n            \\\"currency\\\": \\\"NGN\\\",\\n            \\\"token\\\": \\\"flw-t1nf-f9b3bf384cd30d6fca42b6df9d27bd2f-m03k\\\",\\n            \\\"country\\\": \\\"NG\\\",\\n            \\\"amount\\\": 3000,\\n            \\\"email\\\": \\\"user@example.com\\\",\\n            \\\"first_name\\\": \\\"Temi\\\",\\n            \\\"last_name\\\": \\\"Adesina\\\",\\n            \\\"ip\\\": \\\"pstmn\\\",\\n            \\\"tx_ref\\\": \\\"akhlm-pstmn-blkchrge-xx7\\\"\\n        }\\n    ]\\n}\"\n\nresponse = http.request(request)\nputs response.read_body","name":"Ruby"}],"samples-languages":["curl","javascript","php","ruby"]}}},"/tokens/{token}":{"put":{"summary":"Update token details","description":"Update details tied to a customer card token","operationId":"update-token-details","parameters":[{"name":"token","in":"path","description":"This is the card token returned from the transaction verification endpoint as `data.card.token`","schema":{"type":"string","default":"flw-t1nf-f9b3bf384cd30d6fca42b6df9d27bd2f-xxxx"},"required":true},{"name":"Authorization","in":"header","description":"Pass your secret key as a bearer token in the request header to authorize this call","required":true,"schema":{"type":"string","default":"Bearer FLWSECK_TEST-SANDBOXDEMOKEY-X"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["email","first_name","last_name","phone_number"],"properties":{"email":{"type":"string","description":"The new email you would like to attach to the token.","default":"user@example.com"},"first_name":{"type":"string","description":"This the customer's first name you want to attach to the token","default":"Kendrick"},"last_name":{"type":"string","description":"This the customer's last name you want to attach to the token","default":"Graham"},"phone_number":{"type":"string","description":"This is the customer's phone number you want to attach to this token","default":"0813*******"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": \"success\",\n    \"message\": \"Token details updated\",\n    \"data\": {\n        \"email\": \"ken@example.com\",\n        \"fullname\": \"Kendrick Graham\",\n        \"phone_number\": \"0813XXXXXX22\",\n        \"created_at\": \"2020-06-11T16:25:44.000Z\"\n    }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"message":{"type":"string","example":"Token details updated"},"data":{"type":"object","properties":{"email":{"type":"string","example":"ken@example.com"},"fullname":{"type":"string","example":"Kendrick Graham"},"phone_number":{"type":"string","example":"0813XXXXXX22"},"created_at":{"type":"string","example":"2020-06-11T16:25:44.000Z"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl --location --request PUT '{{BASE_API_URL}}/tokens/flw-t1nf-f9b3bf384cd30d6fca42b6df9d27bd2f-m03k' \\\n--header 'Content-Type: application/json' \\\n--header 'Authorization: Bearer {SEC_KEY}' \\\n--data-raw '{\n    \"email\": \"ken@example.com\",\n    \"first_name\": \"Kendrick\",\n    \"last_name\": \"Graham\", \n    \"phone_number\": \"0813XXXXXX22\"\n}","name":"cUrl"},{"language":"javascript","code":"var request = require('request');\nvar options = {\n  'method': 'PUT',\n  'url': '{{BASE_API_URL}}/tokens/flw-t1nf-f9b3bf384cd30d6fca42b6df9d27bd2f-m03k',\n  'headers': {\n    'Content-Type': 'application/json',\n    'Authorization': 'Bearer {SEC_KEY}'\n  },\n  body: JSON.stringify({\n    \"email\": \"ken@example.com\",\n    \"first_name\": \"Kendrick\",\n    \"last_name\": \"Graham\", \n    \"phone_number\": \"0813XXXXXX22\"\n  })\n\n};\nrequest(options, function (error, response) { \n  if (error) throw new Error(error);\n  console.log(response.body);\n});","name":"Node"},{"language":"php","code":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"{{BASE_API_URL}}/tokens/flw-t1nf-f9b3bf384cd30d6fca42b6df9d27bd2f-m03k\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 0,\n  CURLOPT_FOLLOWLOCATION => true,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"PUT\",\n  CURLOPT_POSTFIELDS =>\"{\\n    \\\"email\\\": \\\"ken@example.com\\\",\\n    \\\"first_name\\\": \\\"Kendrick \\\", \\\"last_name\\\": \\\"Graham \\\", \\n    \\\"phone_number\\\": \\\"0813XXXXX22\\\"\\n}\",\n  CURLOPT_HTTPHEADER => array(\n    \"Content-Type: application/json\",\n    \"Authorization: Bearer {SEC_KEY}\"\n  ),\n));\n\n$response = curl_exec($curl);\n\ncurl_close($curl);\necho $response;","name":"Php"},{"language":"ruby","code":"require \"uri\"\nrequire \"net/http\"\n\nurl = URI(\"{{BASE_API_URL}}/tokens/flw-t1nf-f9b3bf384cd30d6fca42b6df9d27bd2f-m03k\")\n\nhttp = Net::HTTP.new(url.host, url.port);\nrequest = Net::HTTP::Put.new(url)\nrequest[\"Content-Type\"] = \"application/json\"\nrequest[\"Authorization\"] = \"Bearer {SEC_KEY}\"{\n  \"status\": \"success\",\n  \"message\": \"Token details updated\",\n  \"data\": {\n    \"email\": \"ken@example.com\",\n    \"first_name\": \"Kendrick\",\n    \"last_name\": \"Graham\", \n    \"phone_number\": \"0813XXXXXX22\"\n  }\n\nrequest.body = \"{\\n    \\\"email\\\": \\\"user@example.com\\\",\\n    \\\"full_name\\\": \\\"Kendrick Graham\\\",\\n    \\\"phone_number\\\": \\\"0813XXXXXXX\\\"\\n}\"\n\nresponse = http.request(request)\nputs response.read_body","name":"Ruby"}],"samples-languages":["curl","javascript","php","ruby"]}}},"/bulk-tokenized-charges/{bulk_id}":{"get":{"summary":"Get a bulk tokenized charge status","description":"This endpoint allows you to get the status of a bulk tokenized charge","operationId":"get-bulk-tokenized-charges","parameters":[{"name":"bulk_id","in":"path","description":"This is the id returned in the bulk charge response","schema":{"type":"integer","format":"int32","default":131},"required":true},{"name":"Authorization","in":"header","description":"Pass your secret key as a bearer token in the request header to authorize this call","required":true,"schema":{"type":"string","default":"Bearer FLWSECK_TEST-SANDBOXDEMOKEY-X"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"success\",\n  \"message\": \"Bulk charge fetched\",\n  \"data\": [\n    {\n      \"id\": 1017001,\n      \"tx_ref\": \"akhlm-pstmn-blkchrge-xx6\",\n      \"flw_ref\": \"FLW-M03K-bbd148a9569b709882da8437e123ba61\",\n      \"device_fingerprint\": \"N/A\",\n      \"amount\": 3000,\n      \"currency\": \"NGN\",\n      \"charged_amount\": 3042,\n      \"app_fee\": 42,\n      \"merchant_fee\": 0,\n      \"processor_response\": \"Approved\",\n      \"auth_model\": \"noauth\",\n      \"ip\": \"pstmn\",\n      \"narration\": \"Earth Gang\",\n      \"status\": \"successful\",\n      \"payment_type\": \"card\",\n      \"created_at\": \"2020-01-19T21:46:30.000Z\",\n      \"customer_name\": \"Yemi Desola\",\n      \"customer_email\": \"user@example.com\",\n      \"account_id\": 73362,\n      \"batch_id\": 131,\n      \"amount_settled\": 3000\n    },\n    {\n      \"id\": 1017000,\n      \"tx_ref\": \"akhlm-pstmn-blkchrg-xx6\",\n      \"flw_ref\": \"FLW-M03K-7544dc8d157ca763bbcf864a24906f93\",\n      \"device_fingerprint\": \"N/A\",\n      \"amount\": 3500,\n      \"currency\": \"NGN\",\n      \"charged_amount\": 3549,\n      \"app_fee\": 49,\n      \"merchant_fee\": 0,\n      \"processor_response\": \"Approved\",\n      \"auth_model\": \"noauth\",\n      \"ip\": \"pstmn\",\n      \"narration\": \"Earth Gang\",\n      \"status\": \"successful\",\n      \"payment_type\": \"card\",\n      \"created_at\": \"2020-01-19T21:46:29.000Z\",\n      \"customer_name\": \"Temi Adesina\",\n      \"customer_email\": \"user@example.com\",\n      \"account_id\": 73362,\n      \"batch_id\": 131,\n      \"amount_settled\": 3500\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"message":{"type":"string","example":"Bulk charge fetched"},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1017001,"default":0},"tx_ref":{"type":"string","example":"akhlm-pstmn-blkchrge-xx6"},"flw_ref":{"type":"string","example":"FLW-M03K-bbd148a9569b709882da8437e123ba61"},"device_fingerprint":{"type":"string","example":"N/A"},"amount":{"type":"integer","example":3000,"default":0},"currency":{"type":"string","example":"NGN"},"charged_amount":{"type":"integer","example":3042,"default":0},"app_fee":{"type":"integer","example":42,"default":0},"merchant_fee":{"type":"integer","example":0,"default":0},"processor_response":{"type":"string","example":"Approved"},"auth_model":{"type":"string","example":"noauth"},"ip":{"type":"string","example":"pstmn"},"narration":{"type":"string","example":"Earth Gang"},"status":{"type":"string","example":"successful"},"payment_type":{"type":"string","example":"card"},"created_at":{"type":"string","example":"2020-01-19T21:46:30.000Z"},"customer_name":{"type":"string","example":"Yemi Desola"},"customer_email":{"type":"string","example":"user@example.com"},"account_id":{"type":"integer","example":73362,"default":0},"batch_id":{"type":"integer","example":131,"default":0},"amount_settled":{"type":"integer","example":3000,"default":0}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl --location --request GET '{{BASE_API_URL}}/bulk-tokenized-charges/131' \\\n--header 'Authorization: Bearer {SEC_KEY}'","name":"cUrl"},{"language":"javascript","code":"var request = require('request');\nvar options = {\n  'method': 'GET',\n  'url': '{{BASE_API_URL}}/bulk-tokenized-charges/131',\n  'headers': {\n    'Authorization': 'Bearer {SEC_KEY}'\n  }\n};\nrequest(options, function (error, response) { \n  if (error) throw new Error(error);\n  console.log(response.body);\n});","name":"Node"},{"language":"php","code":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"{{BASE_API_URL}}/bulk-tokenized-charges/131\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 0,\n  CURLOPT_FOLLOWLOCATION => true,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => array(\n    \"Authorization: Bearer {SEC_KEY}\"\n  ),\n));\n\n$response = curl_exec($curl);\n\ncurl_close($curl);\necho $response;","name":"Php"},{"language":"ruby","code":"require \"uri\"\nrequire \"net/http\"\n\nurl = URI(\"{{BASE_API_URL}}/bulk-tokenized-charges/131\")\n\nhttp = Net::HTTP.new(url.host, url.port);\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Authorization\"] = \"Bearer {SEC_KEY}\"\n\nresponse = http.request(request)\nputs response.read_body","name":"Ruby"}],"samples-languages":["curl","javascript","php","ruby"]}}},"/transactions/fee":{"get":{"summary":"Get transaction fee","description":"Get transaction fees","operationId":"get-transaction-fee","parameters":[{"name":"amount","in":"query","description":"This is the amount of the product or service to be charged from the customer","required":true,"schema":{"type":"integer","format":"int32","default":1000}},{"name":"currency","in":"query","description":"This is the specified currency to charge in.","required":true,"schema":{"type":"string","default":"NGN"}},{"name":"payment_type","in":"query","description":"This is an optional parameter to be used when getting the transaction fees for different payment types. The expected values are `card`, `debit_ng_account`, `mobilemoney`, `bank_transfer`, and `ach_payment`","schema":{"type":"string","default":"card"}},{"name":"card_first6digits","in":"query","description":"This can be used only when the user has entered first 6digits of their card number, it also helps determine international fees on the transaction if the card being used is an international card","schema":{"type":"integer","format":"int32"}},{"name":"Authorization","in":"header","description":"Pass your secret key as a bearer token in the request header to authorize this call","required":true,"schema":{"type":"string","default":"Bearer FLWSECK_TEST-SANDBOXDEMOKEY-X"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": \"success\",\n    \"message\": \"Charged fee\",\n    \"data\": {\n        \"charge_amount\": 10000,\n        \"fee\": 140,\n        \"merchant_fee\": 0,\n        \"flutterwave_fee\": 140,\n        \"stamp_duty_fee\": 50,\n        \"currency\": \"NGN\"\n    }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"message":{"type":"string","example":"Charged fee"},"data":{"type":"object","properties":{"charge_amount":{"type":"integer","example":10000,"default":0},"fee":{"type":"integer","example":140,"default":0},"merchant_fee":{"type":"integer","example":0,"default":0},"flutterwave_fee":{"type":"integer","example":140,"default":0},"stamp_duty_fee":{"type":"integer","example":50,"default":0},"currency":{"type":"string","example":"NGN"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl --location --request GET '{{BASE_API_URL}}/transactions/fee?amount=10000&currency=NGN' \\\n--header 'Content-Type: application/json'\n--header 'Authorization: Bearer FLWSECK_TEST-SANDBOXDEMOKEY-X'","name":"cUrl"},{"language":"javascript","code":"var request = require('request');\nvar options = {\n  'method': 'GET',\n  'url': '{{BASE_API_URL}}/transactions/fee?amount=10000&currency=NGN',\n  'headers': {\n    'Content-Type': 'application/json',\n    'Authorization': 'Bearer FLWSECK_TEST-SANDBOXDEMOKEY-X'\n  }\n};\nrequest(options, function (error, response) { \n  if (error) throw new Error(error);\n  console.log(response.body);\n});","name":"Node"},{"language":"php","code":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"{{BASE_API_URL}}/transactions/fee?amount=10000&currency=NGN\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 0,\n  CURLOPT_FOLLOWLOCATION => true,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => array(\n    \"Content-Type: application/json\",\n    \"Authorization: Bearer FLWSECK_TEST-SANDBOXDEMOKEY-X\"\n  ),\n));\n\n$response = curl_exec($curl);\n\ncurl_close($curl);\necho $response;","name":"Php"},{"language":"ruby","code":"require \"uri\"\nrequire \"net/http\"\n\nurl = URI(\"{{BASE_API_URL}}/transactions/fee?amount=10000&currency=NGN\")\n\nhttp = Net::HTTP.new(url.host, url.port);\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Content-Type\"] = \"application/json\"\nrequest[\"Authorization\"] = \"Bearer FLWSECK_TEST-SANDBOXDEMOKEY-X\"\n\nresponse = http.request(request)\nputs response.read_body","name":"Ruby"}],"samples-languages":["curl","javascript","php","ruby"]}}},"/transactions/{id}/refund":{"post":{"summary":"Initiate transaction refund","description":"This allows you to create a refund for any transaction that is being disputed. This service is not publicly available, kindly contact support (hi@flutterwavego.com) for it.","operationId":"transaction-refund","parameters":[{"name":"id","in":"path","description":"This is the transaction unique identifier. It is returned in the initiate transaction call as `data.id`","required":true,"schema":{"type":"integer","format":"int32","default":5708}},{"name":"Authorization","in":"header","description":"Pass your secret key as a bearer token in the request header to authorize this call","required":true,"schema":{"type":"string","default":"Bearer FLWSECK_TEST-SANDBOXDEMOKEY-X"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"amount":{"type":"integer","description":"This is an optional parameter and should be sent if you would like to refund a partial amount.","default":5000,"format":"int32"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n        \"status\": \"success\",\n        \"message\": \"Transaction refund initiated\",\n        \"data\": {\n            \"id\": 8612,\n            \"account_id\": 73362,\n            \"tx_id\": 908790,\n            \"flw_ref\": \"URF_1577867664541_3572735\",\n            \"wallet_id\": 74639,\n            \"amount_refunded\": 5000,\n            \"status\": \"completed\",\n            \"destination\": \"payment_source\",\n            \"meta\": {\n                \"source\": \"availablebalance\"\n            },\n            \"created_at\": \"2020-01-24T09:18:37.366Z\"\n        }\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"message":{"type":"string","example":"Transaction refund initiated"},"data":{"type":"object","properties":{"id":{"type":"integer","example":8612,"default":0},"account_id":{"type":"integer","example":73362,"default":0},"tx_id":{"type":"integer","example":908790,"default":0},"flw_ref":{"type":"string","example":"URF_1577867664541_3572735"},"wallet_id":{"type":"integer","example":74639,"default":0},"amount_refunded":{"type":"integer","example":5000,"default":0},"status":{"type":"string","example":"completed"},"destination":{"type":"string","example":"payment_source"},"meta":{"type":"object","properties":{"source":{"type":"string","example":"availablebalance"}}},"created_at":{"type":"string","example":"2020-01-24T09:18:37.366Z"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl --location --request POST '{{BASE_API_URL}}/transactions/5708/refund' \\\n--header 'Content-Type: application/json' \\\n--header 'Authorization: Bearer {SEC_KEY}' \\\n--data-raw '{\n    \"amount\": 5000,\n}'","name":"cUrl"},{"language":"javascript","code":"var request = require('request');\nvar options = {\n  'method': 'POST',\n  'url': '{{BASE_API_URL}}/transactions/5708/refund',\n  'headers': {\n    'Content-Type': 'application/json',\n    'Authorization': 'Bearer {SEC_KEY}'\n  },\n  body: JSON.stringify({\"amount\":5000})\n\n};\nrequest(options, function (error, response) { \n  if (error) throw new Error(error);\n  console.log(response.body);\n});","name":"Node"},{"language":"php","code":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"{{BASE_API_URL}}/transactions/5708/refund\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 0,\n  CURLOPT_FOLLOWLOCATION => true,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS =>\"{\\n    \\\"amount\\\": 5000}\",\n  CURLOPT_HTTPHEADER => array(\n    \"Content-Type: application/json\",\n    \"Authorization: Bearer {SEC_KEY}\"\n  ),\n));\n\n$response = curl_exec($curl);\n\ncurl_close($curl);\necho $response;","name":"Php"},{"language":"ruby","code":"require \"uri\"\nrequire \"net/http\"\n\nurl = URI(\"{{BASE_API_URL}}/transactions/5708/refund\")\n\nhttp = Net::HTTP.new(url.host, url.port);\nrequest = Net::HTTP::Post.new(url)\nrequest[\"Content-Type\"] = \"application/json\"\nrequest[\"Authorization\"] = \"Bearer {SEC_KEY}\"\nrequest.body =\"{\\n    \\\"amount\\\": 5000}\"\n\nresponse = http.request(request)\nputs response.read_body","name":"Ruby"}],"samples-languages":["curl","javascript","php","ruby"]}}},"/transactions/{id}/resend-hook":{"post":{"summary":"Resend transaction webhook","description":"Resend a failed transaction webhook to your server","operationId":"resend-transaction-webhook","parameters":[{"name":"id","in":"path","description":"This is the transaction unique identifier. It is returned in the initiate transaction call as `data.id`","schema":{"type":"string","default":"5708"},"required":true},{"name":"Authorization","in":"header","description":"Pass your secret key as a bearer token in the request header to authorize this call","required":true,"schema":{"type":"string","default":"Bearer FLWSECK_TEST-SANDBOXDEMOKEY-X"}},{"name":"wait","in":"query","description":"If this is passed the endpoint would hold for the hook response and return what you respond with as the response. The expected value is 1","schema":{"type":"integer","format":"int32","default":1}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"success\",\n  \"message\": \"hook sent successfully\",\n  \"data\": null\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"message":{"type":"string","example":"hook sent successfully"},"data":{}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"error\",\n  \"message\": \"no hook data found\",\n  \"data\": null\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"error"},"message":{"type":"string","example":"no hook data found"},"data":{}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"javascript","code":"var request = require('request');\nvar options = {\n  'method': 'POST',\n  'url': '{{BASE_API_URL}}/transactions/5708/resend-hook',\n  'headers': {\n    'Content-Type': 'application/json',\n    'Authorization': 'Bearer {SEC_KEY}'\n  }\n\n};\nrequest(options, function (error, response) { \n  if (error) throw new Error(error);\n  console.log(response.body);\n});","name":"Node"},{"language":"php","code":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"{{BASE_API_URL}}/transactions/5708/resend-hook\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 0,\n  CURLOPT_FOLLOWLOCATION => true,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_HTTPHEADER => array(\n    \"Content-Type: application/json\",\n    \"Authorization: Bearer {SEC_KEY}\"\n  ),\n));\n\n$response = curl_exec($curl);\n\ncurl_close($curl);\necho $response;","name":"Php"},{"language":"ruby","code":"require \"uri\"\nrequire \"net/http\"\n\nurl = URI(\"{{BASE_API_URL}}/transactions/5708/resend-hook\")\n\nhttp = Net::HTTP.new(url.host, url.port);\nrequest = Net::HTTP::Post.new(url)\nrequest[\"Content-Type\"] = \"application/json\"\nrequest[\"Authorization\"] = \"Bearer {SEC_KEY}\"\n\nresponse = http.request(request)\nputs response.read_body","name":"Ruby"},{"language":"curl","code":"curl --location --request POST '{{BASE_API_URL}}/v3/transactions/5708/resend-hook' \\\n--header 'Content-Type: application/json' \\\n--header 'Authorization: Bearer {{SEC_KEY}}'"}],"samples-languages":["javascript","php","ruby","curl"]}}},"/transactions/{id}/events":{"get":{"summary":"View transaction timeline","description":"View Transaction Timeline","operationId":"get-transaction-events","parameters":[{"name":"Authorization","in":"header","description":"Pass your secret key as a bearer token in the request header to authorize this call","required":true,"schema":{"type":"string","default":"Bearer FLWSECK_TEST-SANDBOXDEMOKEY-X"}},{"name":"id","in":"path","description":"This is the unique transaction ID. It is returned in the verify transaction call as `data.id`","schema":{"type":"integer","format":"int32","default":957764},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n          \"status\": \"success\",\n        \"message\": \"Transaction events fetched\",\n        \"data\": [\n            {\n                \"note\": \"Loaded modal https://raveappv2.herokuapp.com/pay/akhlm\",\n                \"actor\": \"h0vkard@flw.ext\",\n                \"object\": \"modal\",\n                \"action\": \"loaded\",\n                \"context\": \"web\",\n                \"created_at\": \"2019-12-13T22:09:57.997Z\"\n            },\n            {\n                \"note\": \"Switched to Pay with Bank Option\",\n                \"actor\": \"h0vkard@flw.ext\",\n                \"object\": \"modal\",\n                \"action\": \"switched\",\n                \"context\": \"web\",\n                \"created_at\": \"2019-12-13T22:09:58.001Z\"\n            },\n            {\n                \"note\": \"Pay button clicked\",\n                \"actor\": \"h0vkard@flw.ext\",\n                \"object\": \"MODAL\",\n                \"action\": \"click\",\n                \"context\": \"web\",\n                \"created_at\": \"2019-12-13T22:09:56.903Z\"\n            },\n            {\n                \"note\": \"IP Resolved 197.210.29.248\",\n                \"actor\": \"h0vkard@flw.ext\",\n                \"object\": \"IP\",\n                \"action\": \"request\",\n                \"context\": \"web\",\n                \"created_at\": \"2019-12-13T22:09:59.595Z\"\n            },\n            {\n                \"note\": \"Switched to Pay with Card Option\",\n                \"actor\": \"h0vkard@flw.ext\",\n                \"object\": \"modal\",\n                \"action\": \"switched\",\n                \"context\": \"web\",\n                \"created_at\": \"2019-12-13T22:10:00.314Z\"\n            },\n            {\n                \"note\": \"Entering Card Number\",\n                \"actor\": \"h0vkard@flw.ext\",\n                \"object\": \"Card Number\",\n                \"action\": \"typing\",\n                \"context\": \"web\",\n                \"created_at\": \"2019-12-13T22:10:03.505Z\"\n            },\n            {\n                \"note\": \"Stopped entering Card Number\",\n                \"actor\": \"h0vkard@flw.ext\",\n                \"object\": \"Card Number\",\n                \"action\": \"typing\",\n                \"context\": \"web\",\n                \"created_at\": \"2019-12-13T22:10:04.522Z\"\n            },\n            {\n                \"note\": \"Entering Expiry\",\n                \"actor\": \"h0vkard@flw.ext\",\n                \"object\": \"Expiry\",\n                \"action\": \"typing\",\n                \"context\": \"web\",\n                \"created_at\": \"2019-12-13T22:10:04.523Z\"\n            },\n            {\n                \"note\": \"Entering CVV\",\n                \"actor\": \"h0vkard@flw.ext\",\n                \"object\": \"CVV\",\n                \"action\": \"typing\",\n                \"context\": \"web\",\n                \"created_at\": \"2019-12-13T22:10:06.595Z\"\n            },\n            {\n                \"note\": \"Stopped entering Expiry\",\n                \"actor\": \"h0vkard@flw.ext\",\n                \"object\": \"Expiry\",\n                \"action\": \"typing\",\n                \"context\": \"web\",\n                \"created_at\": \"2019-12-13T22:10:06.593Z\"\n            },\n            {\n                \"note\": \"Stopped entering CVV\",\n                \"actor\": \"h0vkard@flw.ext\",\n                \"object\": \"CVV\",\n                \"action\": \"typing\",\n                \"context\": \"web\",\n                \"created_at\": \"2019-12-13T22:10:12.412Z\"\n            },\n            {\n                \"note\": \"Attempting card charge request\",\n                \"actor\": \"h0vkard@flw.ext\",\n                \"object\": \"CREDIT_CARD\",\n                \"action\": \"charge\",\n                \"context\": \"web\",\n                \"created_at\": \"2019-12-13T22:10:12.530Z\"\n            },\n            {\n                \"note\": \"Submitted Payment Details\",\n                \"actor\": \"h0vkard@flw.ext\",\n                \"object\": \"payment details:credit_card\",\n                \"action\": \"submitted\",\n                \"context\": \"web\",\n                \"created_at\": \"2019-12-13T22:10:12.529Z\"\n            },\n            {\n                \"note\": \"card charge request successful: request for PIN\",\n                \"actor\": \"h0vkard@flw.ext\",\n                \"object\": \"CREDIT_CARD\",\n                \"action\": \"charge\",\n                \"context\": \"web\",\n                \"created_at\": \"2019-12-13T22:10:14.097Z\"\n            },\n            {\n                \"note\": \"Attempting card charge request\",\n                \"actor\": \"h0vkard@flw.ext\",\n                \"object\": \"CREDIT_CARD\",\n                \"action\": \"charge\",\n                \"context\": \"web\",\n                \"created_at\": \"2019-12-13T22:10:19.209Z\"\n            },\n            {\n                \"note\": \"Card charge taking too long. Polling for response\",\n                \"actor\": \"h0vkard@flw.ext\",\n                \"object\": \"LONG_REQUEST\",\n                \"action\": \"charge\",\n                \"context\": \"web\",\n                \"created_at\": \"2019-12-13T22:10:23.880Z\"\n            },\n            {\n                \"note\": \"card charge request successful: request for OTP\",\n                \"actor\": \"h0vkard@flw.ext\",\n                \"object\": \"CREDIT_CARD\",\n                \"action\": \"charge\",\n                \"context\": \"web\",\n                \"created_at\": \"2019-12-13T22:10:25.263Z\"\n            },\n            {\n                \"note\": \"Attempting to validate card charge\",\n                \"actor\": \"h0vkard@flw.ext\",\n                \"object\": \"CARD_CHARGE\",\n                \"action\": \"validate\",\n                \"context\": \"web\",\n                \"created_at\": \"2019-12-13T22:10:31.630Z\"\n            },\n            {\n                \"note\": \"Validate card charge request complete\",\n                \"actor\": \"h0vkard@flw.ext\",\n                \"object\": \"CARD_CHARGE\",\n                \"action\": \"validate\",\n                \"context\": \"web\",\n                \"created_at\": \"2019-12-13T22:10:33.146Z\"\n            },\n            {\n                \"note\": \"Transaction Completed!\",\n                \"actor\": \"h0vkard@flw.ext\",\n                \"object\": \"TRANSACTION\",\n                \"action\": \"completion\",\n                \"context\": \"web\",\n                \"created_at\": \"2019-12-13T22:10:33.151Z\"\n            },\n            {\n                \"note\": \"Validate card charge successful\",\n                \"actor\": \"h0vkard@flw.ext\",\n                \"object\": \"CARD_CHARGE\",\n                \"action\": \"validate\",\n                \"context\": \"web\",\n                \"created_at\": \"2019-12-13T22:10:33.147Z\"\n            }\n        ]\n    }\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl --location --request GET '{{BASE_API_URL}}/transactions/957764/events' \\\n--header 'Content-Type: application/json' \\\n--header 'Authorization: Bearer {SEC_KEY}'","name":"cUrl"},{"language":"javascript","code":"var request = require('request');\nvar options = {\n  'method': 'GET',\n  'url': '{{BASE_API_URL}}/transactions/957764/events',\n  'headers': {\n    'Content-Type': 'application/json',\n    'Authorization': 'Bearer {SEC_KEY}'\n  }\n};\nrequest(options, function (error, response) { \n  if (error) throw new Error(error);\n  console.log(response.body);\n});","name":"Node"},{"language":"php","code":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"{{BASE_API_URL}}/transactions/957764/events\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 0,\n  CURLOPT_FOLLOWLOCATION => true,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => array(\n    \"Content-Type: application/json\",\n    \"Authorization: Bearer {SEC_KEY}\"\n  ),\n));\n\n$response = curl_exec($curl);\n\ncurl_close($curl);\necho $response;","name":"Php"},{"language":"ruby","code":"require \"uri\"\nrequire \"net/http\"\n\nurl = URI(\"{{BASE_API_URL}}/transactions/957764/events\")\n\nhttp = Net::HTTP.new(url.host, url.port);\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Content-Type\"] = \"application/json\"\nrequest[\"Authorization\"] = \"Bearer {SEC_KEY}\"\n\nresponse = http.request(request)\nputs response.read_body","name":"Ruby"}],"samples-languages":["curl","javascript","php","ruby"]}}},"/transfers/fee":{"get":{"summary":"Get transfer fee","description":"Get applicable transfer fee","operationId":"get-transfer-fee","parameters":[{"name":"amount","in":"query","description":"This is the transfer amount to be fetched","required":true,"schema":{"type":"string","default":"10000"}},{"name":"currency","in":"query","description":"Pass this to specify the exact currency you want to fetch the fees for. Example: USD, NGN, etc","schema":{"type":"string","default":"NGN"}},{"name":"type","in":"query","description":"This is the type of transfer you want to get the fee for. Usual values are `mobilemoney` or `account`","schema":{"type":"string","default":"account"}},{"name":"Authorization","in":"header","description":"Pass your secret key as a bearer token in the request header to authorize this call","required":true,"schema":{"type":"string","default":"Bearer FLWSECK_TEST-SANDBOXDEMOKEY-X"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": \"success\",\n    \"message\": \"Transfer fee fetched\",\n    \"data\": [\n        {\n            \"fee_type\": \"value\",\n            \"currency\": \"NGN\",\n            \"fee\": 45\n        },\n        {\n            \"fee_type\": \"value\",\n            \"currency\": \"KES\",\n            \"fee\": 100\n        },\n        {\n            \"fee_type\": \"value\",\n            \"currency\": \"GHS\",\n            \"fee\": 5\n        },\n        {\n            \"fee_type\": \"value\",\n            \"currency\": \"USD\",\n            \"fee\": 40\n        },\n        {\n            \"fee_type\": \"value\",\n            \"currency\": \"UGX\",\n            \"fee\": 5000\n        },\n        {\n            \"fee_type\": \"value\",\n            \"currency\": \"TZS\",\n            \"fee\": 3000\n        },\n        {\n            \"fee_type\": \"value\",\n            \"currency\": \"GBP\",\n            \"fee\": 35\n        },\n        {\n            \"fee_type\": \"value\",\n            \"currency\": \"EUR\",\n            \"fee\": 35\n        },\n        {\n            \"fee_type\": \"value\",\n            \"currency\": \"ZMW\",\n            \"fee\": 62.6\n        },\n        {\n            \"fee_type\": \"value\",\n            \"currency\": \"ZAR\",\n            \"fee\": 10\n        },\n        {\n            \"fee_type\": \"value\",\n            \"currency\": \"RWF\",\n            \"fee\": 1000\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"status":{"type":"string","example":"success"},"message":{"type":"string","example":"Transfer fee fetched"},"data":{"type":"array","items":{"type":"object","properties":{"fee_type":{"type":"string","example":"value"},"currency":{"type":"string","example":"NGN"},"fee":{"type":"integer","example":45,"default":0}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl --location --request GET '{{BASE_API_URL}}/transfers/fee?amount=10000' \\\n--header 'Authorization: Bearer {SEC_KEY}'","name":"cUrl"},{"language":"javascript","code":"var request = require('request');\nvar options = {\n  'method': 'GET',\n  'url': '{{BASE_API_URL}}/transfers/fee?amount=10000',\n  'headers': {\n    'Authorization': 'Bearer {SEC_KEY}'\n  }\n};\nrequest(options, function (error, response) { \n  if (error) throw new Error(error);\n  console.log(response.body);\n});","name":"Node"},{"language":"php","code":"<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"{{BASE_API_URL}}/transfers/fee?amount=10000\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 0,\n  CURLOPT_FOLLOWLOCATION => true,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => array(\n    \"Authorization: Bearer {SEC_KEY}\"\n  ),\n));\n\n$response = curl_exec($curl);\n\ncurl_close($curl);\necho $response;","name":"Php"},{"language":"ruby","code":"require \"uri\"\nrequire \"net/http\"\n\nurl = URI(\"{{BASE_API_URL}}/transfers/fee?amount=10000\")\n\nhttp = Net::HTTP.new(url.host, url.port);\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Authorization\"] = \"Bearer {SEC_KEY}\"\n\nresponse = http.request(request)\nputs response.read_body","name":"Ruby"}],"samples-languages":["curl","javascript","php","ruby"]}}},"/transfers":{"post":{"summary":"Create a transfer","description":"This will show you how to initiate a transfer","operationId":"create-a-transfer","parameters":[{"name":"Authorization","in":"header","description":"Pass your secret key as a bearer token in the request header to authorize this call","required":true,"schema":{"type":"string","default":"Bearer FLWSECK_TEST-SANDBOXDEMOKEY-X"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["account_bank","account_number","amount","currency","beneficiary_name"],"properties":{"account_bank":{"type":"string","description":"This is the recipient bank code. You can see a list of all the available banks and their codes [here](https://developer.flutterwave.com/reference#get-all-banks).","default":"044"},"account_number":{"type":"string","description":"This is the recipient account number. When testing on staging, you can find a list of test bank accounts [here](https://developer.flutterwave.com/docs/test-bank-accounts).","default":"0690000040"},"amount":{"type":"integer","description":"This is the amount to transfer to the recipient","default":5500,"format":"int32"},"narration":{"type":"string","description":"This is the narration for the transfer e.g. payments for x services provided","default":"Payment for goods purchased"},"currency":{"type":"string","description":"This can be `NGN`, `GHS`, `KES`, `UGX`, `TZS`, `USD` or `ZAR`","default":"NGN"},"beneficiary_name":{"type":"string","description":"This is the first name and last name of the beneficiary.","default":"Yemi Desola"},"destination_branch_code":{"type":"string","description":"This code uniquely identifies bank branches for disbursements into Ghana, Uganda and Tanzania. It is returned in the call to fetch bank branches here: https://developer.flutterwave.com/v3.0/reference#get-bank-branches. It is only REQUIRED for GHS, UGX, XOF, XAF ZMW, and TZS bank transfers","default":"GH280103"},"beneficiary":{"type":"integer","description":"This is the beneficiary's id. It allows you to initiate a transfer to an existing beneficiary. You can pass this in place of `account_bank` & `account_number`. It is returned in the call to fetch a beneficiary as `data.id`","default":3768,"format":"int32"},"reference":{"type":"string","description":"This is a merchant's unique reference for the transfer, it can be used to query for the status of the transfer.","default":"newFLWXTransfer123"},"callback_url":{"type":"string","description":"This is a url passed by you the developer, Flutterwave would pass the final transfer response to this callback url. You can use this in place of Webhooks"},"debit_currency":{"type":"string","description":"You can pass this when you want to debit a currency balance and send money in another currency.","default":"USD"},"meta":{"type":"object","description":"This is an object you can use to add any additional payment information you would like to associate with this transfer. Note that this object is REQUIRED for ZAR and KES payouts.","required":["email","mobile_number","recipient_address","sender","sender_country"],"properties":{"first_name":{"type":"string","description":"This is the first name of the transfer recipient","default":"Yemi"},"last_name":{"type":"string","description":"This is the last name of the transfer recipient","default":"Desola"},"email":{"type":"string","description":"This is the email address of the transfer recipient","default":"user@gmail.com"},"mobile_number":{"type":"string","description":"This is the mobile number of the recipient. If the recipient's email address is passed, this becomes an optional parameter.","default":"23457558595"},"recipient_address":{"type":"string","description":"This is the address of the transfer recipient.","default":"234 Kings road, Cape Town"},"sender":{"type":"string","description":"This is the senders first and last name","default":"John Doe"},"sender_country":{"type":"string","description":"This is the senders country","default":"KE"}}},"debit_subaccount":{"type":"string","description":"This is required if the debit wallet is a Payout SubAccount.","default":"PSA******07974"}}},"examples":{"International Transfers (EUR & GBP)":{"value":{"amount":50,"narration":"Test EU Int'l bank transfers","currency":"EUR","reference":"new-intl-eu-test-transfer","beneficiary_name":"John Twain","meta":[{"AccountNumber":"DA091983888373BGH","RoutingNumber":"BECFDE7HKKX","SwiftCode":"BECFDE7HKKX","BankName":"LLOYDS BANK","BeneficiaryName":"John Twain","BeneficiaryCountry":"DE","PostalCode":"80489","StreetNumber":"31","StreetName":"Handelsbank Elsenheimer Str.","City":"München"}]}},"Transfer to Ghana bank account":{"value":{"account_bank":"GH280100","account_number":"0031625807099","amount":50,"narration":"Test GHS bank transfers","currency":"GHS","reference":"new-GHS-test-transfer1","callback_url":"https://webhook.site/b3e505b0-fe02-430e-a538-22bbbce8ce0d","destination_branch_code":"GH280103","beneficiary_name":"Kwame Adew"}},"International transfers (US)":{"value":{"amount":50,"narration":"Test Int'l bank transfers","currency":"USD","reference":"new-intl-test-transfer1","beneficiary_name":"Mark Cuban ","meta":[{"AccountNumber":"09182972BH","RoutingNumber":"0000000002993","SwiftCode":"ABJG190","BankName":"BANK OF AMERICA, N.A., SAN FRANCISCO, CA","BeneficiaryName":"Mark Cuban","BeneficiaryAddress":"San Francisco, 4 Newton","BeneficiaryCountry":"US"}]}},"Ghana Mobile Money Transfer":{"value":{"account_bank":"MTN","account_number":"233542773934","amount":50,"narration":"New GHS momo transfer","currency":"GHS","reference":"
[...]
