{"openapi":"3.0.1","info":{"description":"This is a formal specification of the Netspend API.\n\n## Authentication\nThe API uses OAuth 2.0 access token to authenticate API requests. API key and secret generated for the app in the portal will be used to create an access token. These access tokens are valid for 24 hours.\n| Environment | Access Token URL |\n| ------ | --------- |\n| Sandbox | https://apis-cert.netspend.com/netspend-api/v1/oauth/accesstoken |\n| Production | https://apis.netspend.com/netspend-api/v1/oauth/accesstoken |\nTo receive an access token, API clients will POST an API request to one of the above URLs with grant_type parameter set to client_credentials and content-type set to application/x-www-form-urlencoded.\nIt is recommended that the client ID and client secret from the registered app be passed in as base64 URL encoded string in the Authorization header. To do this a base64 encoding tool can be used to encode the two values together with colon separating them, client_id:client_secret.<br />\nThe API can be invoked using *curl* like below\n<pre><code>\ncurl -v -X POST \"https://apis-cert.netspend.com/netspend-api/v1/oauth/accesstoken\" \\\n -H \"Authorization: Basic eVFqQTQ2MWVWMjl6UUd3Tk9wZDBIenVZdVpGNXRJeko6WWgxVFY0b0FYYWN0YUhybQ==\" \\\n -H \"Content-Type: application/x-www-form-urlencoded\" \\\n -d \"grant_type=client_credentials\"\n</code></pre>\n<b>Sample Response</b>\n<pre><code>\naccess_token: OikMUkfZcv46jcAaiacJ4nHqXvxw\nexpires_in: 86399\ntoken_type: Bearer\nscope: owned_accounts_full\n</code></pre>\n\nPrevious methods of authentication have been deprecated, but are still included in this spec to allow for some transition.\n\n## Headers\nThe API supports the following headers on all API requests, in addition to the standard Authorization header:\n| Header | Required? | Description |\n| ------ | --------- | ----------- |\n| ns-request-id | Yes | UUID, generated by the client, which identifies the request |\n| ns-request-flow-id | No | Optional ID, generated by the client, used to group together multiple API calls for diagnostics |\n| ns-session-id | No | UUID, generated by createSession call, to identify a user in a server API call |\n| ns-location-id | No | Name of the partner's store location, if applicable |\n| ns-teller-id | No | Name of the teller at the partner's store location, if applicable |\n\nThe API also supports the following HTTP response headers:\n| Header | Required? | Description |\n| ------ | --------- | ----------- |\n| ns-response-id | Yes | Copy of the ns-request-id header from the request |\n| ns-duplicate-request | No | For any request that changes server data, \"true\" indicates this is a duplicate request, \"false\" indicates this is not a duplicate request, and missing indicates no idempotency detection was done |\n\n## HTTP Status Codes\nThe API may respond to any request with one of the following common HTTP status codes:\n| Code | Meaning | Description | Schema Object |\n| ---- | ------- |------------ | ------------- |\n| 400  | Bad Request | Information from the client was not presented to the API in a proper format | `#/components/schemas/BadRequestError` |\n| 401  | Unauthorized | The caller could not be successfully authenticated | `#/components/schemas/AuthenticationError` |\n| 403  | Forbidden | The caller is not authorized to interact with the target resource | `#/components/schemas/AuthorizationError` |\n| 405  | Method Not Allowed | The method received is not supported by the target resource | None | |\n| 409  | Conflict  | Idempotency conflict (read detailed message in response) | `#/components/schemas/IdempotencyError` |\n| 415  | Unsupported Media Type | The API currently only supports application/json type requests and responses | None |\n| 429  | Too Many Requests | (Reserved) The client has exceeded its maximum permitted request rate | Reserved |\n| 500  | System Error | The system has encountered an error from which it cannot recover |`#/components/schemas/SystemError` |\n| 503  | Service Unavailable | The system is temporarily unable to respond to requests | `#/components/schemas/ServiceUnavailableError` |\n\n## Idempotency\nThe API will detect duplicate requests that use the same ns-request-id header. This detection is limited to\nPUT, POST, PATCH, and DELETE requests that can change system data. In the case where a duplicate request is detected\nthe original response will be replayed, and the ns-duplicate-request response header will have the value \"true\". However,\nin some cases if a duplicate ns-request-id is presented but the request details are different, a 409/Conflict response\nwill be returned.\n","version":"1.3.0","title":"Netspend API"},"tags":[{"name":"Authorization","description":"Management of authorization, including access tokens and client SDK tokens"},{"name":"Accounts","description":"Management of accounts"},{"name":"ACH","description":"Management of ACH and direct deposits"},{"name":"Agreements","description":"Management of agreements, including agreement details and subscriptions"},{"name":"Cards","description":"Management of physical, virtual, digital, and tokenized cards on an account"},{"name":"Digital Wallet Tokens","description":"Management of digital wallet tokens"},{"name":"Document Requests","description":"Management of documents for review and approval"},{"name":"External Bank Transfers","description":"Management of funds transfers to/from an external bank account"},{"name":"External Banks","description":"Management of external bank accounts"},{"name":"External Cards","description":"Management of external cards"},{"name":"External Card Transfers","description":"Management of external card transfers"},{"name":"Me to Me Card Payment","description":"Me to Me payments to and from an Account Owner's Debit Card"},{"name":"Metadata","description":"Information about the API itself"},{"name":"Overdraft","description":"Management of the overdraft feature"},{"name":"P2P","description":"Management of peer-to-peer transfers"},{"name":"Partner Authentication","description":"Partner access token generation"},{"name":"Partners","description":"Management of partners"},{"name":"Payback Rewards","description":"Management of an account's payback rewards"},{"name":"People","description":"Management of all individual persons on or related to an account"},{"name":"Referral Marketing","description":"Word-of-mouth marketing program for new customer acquisition"},{"name":"Remote Deposit Capture","description":"Management of remote deposit capture for check loads"},{"name":"Restrictions","description":"Management of account restrictions"},{"name":"Savings","description":"Management of savings accounts"},{"name":"Sessions","description":"Management of sessions"},{"name":"Statements","description":"Management of account statements"},{"name":"Subaccounts","description":"Management of Subaccounts"},{"name":"Transactions","description":"Mangement of financial transactions and authorizations"}],"security":[{"partnerToken":[]},{"oauthTokenSandbox":[]},{"oauthTokenProd":[]}],"servers":[{"url":"https://apis.netspend.com/netspend-api/v1","description":"Production server."},{"url":"https://apis-cert.netspend.com/netspend-api/v1","description":"Certification/sandbox environment server."},{"url":"https://api.netspend.com/public/v1","description":"Deprecated server. Please migrate to new servers."}],"paths":{"/status":{"get":{"tags":["Metadata"],"summary":"Do a basic status check for the API's health","description":"This endpoint checks the API's status: `up` or `partially_up`.","operationId":"statusCheck","responses":{"200":{"description":"This response is returned whenever the status is either `up` or `partially_up`.","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"up","description":"Expected values are the following, but more can be added in future versions.\n- up\n- down\n- unknown\n- out_of_service\n- partially_up"}}}}}},"503":{"description":"This response is returned whenever the status is not `up` or `partially_up`.","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"up","description":"Expected values are the following, but more can be added in future versions.\n- up\n- down\n- unknown\n- out_of_service\n- partially_up"}}}}}}}}},"/authorization/server_api/access_tokens":{"parameters":[{"name":"ns-request-id","in":"header","description":"UUID, generated by the client. Used to identify the request and must be unique for every request","required":true,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-request-flow-id","in":"header","description":"UUID, generated by the client. It is optional. Used by the client to group together multiple API requests that belong to a single user flow","required":false,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-session-id","in":"header","description":"UUID, generated by POST /sessions request, used to identify the user making the API request. This is optional but strongly recommended to be included with all API requests","required":false,"schema":{"type":"string","example":"f279cb3a-8152-4c13-9d99-61ff12ed31a1"}},{"name":"ns-location-id","in":"header","description":"ID of the partner's store or branch location, if applicable","required":false,"schema":{"type":"string","example":"EMPLOYEE_CARD_STORE"}},{"name":"ns-teller-id","in":"header","description":"ID of the teller at the partner's store location, if applicable","required":false,"schema":{"type":"string","example":"DE21"}}],"post":{"deprecated":true,"tags":["Authorization"],"summary":"Create a new API access token","operationId":"createAccessToken","security":[{"clientSecret":[]}],"responses":{"200":{"description":"New access token","content":{"application/json":{"schema":{"type":"object","properties":{"access_token":{"type":"string","example":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsImp0aSI6ImFmNjM2MTk4LWFjOGYtNGJiZC1hMDNmLTk2ZTJlZmM4NTUxMiIsImlhdCI6MTU2MzQyNTk4OCwiZXhwIjoxNTYzNDI5NTg4fQ.oZ5r7rDwM6yaS1fNK7zb4k4l3mv8E_xJuOGsIyW7"},"expires_in":{"type":"integer","format":"int32","example":300,"description":"Total TTL of the token from the time of issuance, in seconds"},"scope":{"type":"string","example":"owned_accounts_full"},"user_session_initialization_data":{"type":"string","description":"Opaque token to pass to Netspend SDK to initialize a session.\nThis field is being deprecated in favor of jwk_set\n","example":"<< format unspecified >>","deprecated":true},"jwk_set":{"type":"array","items":{"type":"object","description":"JWK representation of RSA public key. The JSON format with the below attributes can be direclty parsed using standard libraries.","properties":{"kty":{"type":"string","example":"RSA","description":"Following are the expected values.\n- AES\n- RSA"},"use":{"type":"string","example":"enc","description":"Following are the expected values.\n- enc\n- sig"},"alg":{"type":"string","example":"RSA1_5","description":"Whitelisted algorithm used for token encryption/descryption or signing/verification."},"kid":{"type":"string","example":"0c553b5d-584c-4ee2-91e2-d5bfbe1c91e0","description":"unique key_id."},"n":{"type":"string","example":"m12x9dKLqQVe7gcaHh5hPwk57rDWQvai7FnB50W8hIenTCergXAlTLXUq-b9poa8_1Bm9Lc4_lJ-Gtw3xab5NRk8mx9B7iNfmSVcqW-7MocsDNAY7BmWhAz39jrpUvVMGR2-kj4cLohNfd764YwvIgvkG9DIr7uLmEI-lWrJRf2wuYc1XCgGGf8qjCEC8fQ9GoDXJ7kATHMdHr_eB6OATCMQL4ToLQDGCXFNrsXFRb82vWAZbI3JJqtzVbpV7KDl2u8hqbWLw1Eo8u26J-yv8wj8nXBUmy26WMpe919LntbJsWqc3JzirmDGWIMzv3-lNYsYDfEJaapq10gxp71rgw","description":"MODULUS_MEMBER_NAME of RSA public key."},"e":{"type":"string","example":"AQAB","description":"EXPONENT_MEMBER_NAME of RSA public key."}}}}}}}}}}},"delete":{"deprecated":true,"tags":["Authorization"],"summary":"Expire the current access token","operationId":"expireAccessToken","security":[{"clientSecret":[]}],"responses":{"204":{"description":"The token was expired"}}}},"/authorization/client_sdk/authorization_codes":{"parameters":[{"name":"ns-request-id","in":"header","description":"UUID, generated by the client. Used to identify the request and must be unique for every request","required":true,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-request-flow-id","in":"header","description":"UUID, generated by the client. It is optional. Used by the client to group together multiple API requests that belong to a single user flow","required":false,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-session-id","in":"header","description":"UUID, generated by POST /sessions request, used to identify the user making the API request. This is optional but strongly recommended to be included with all API requests","required":false,"schema":{"type":"string","example":"f279cb3a-8152-4c13-9d99-61ff12ed31a1"}},{"name":"ns-location-id","in":"header","description":"ID of the partner's store or branch location, if applicable","required":false,"schema":{"type":"string","example":"EMPLOYEE_CARD_STORE"}},{"name":"ns-teller-id","in":"header","description":"ID of the teller at the partner's store location, if applicable","required":false,"schema":{"type":"string","example":"DE21"}}],"post":{"tags":["Authorization"],"summary":"Create an authorization passcode for the Netspend SDK","description":"Note: This endpoint requires a valid value in the `ns-session-id` HTTP header to link the authorization code to the device.","operationId":"getMicroappRedirect","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"account_id":{"type":"string","example":"3c1cab9d-10f5-42fd-8662-99d2755b3d87"}},"required":["account_id"]}}}},"responses":{"200":{"description":"Authorization passcode successfully created","content":{"application/json":{"schema":{"type":"object","properties":{"authorization_code":{"type":"string","description":"Opaque one-time token to pass to the Netspend SDK for launching micro apps. Tokens expire after a certain period or upon usage.","example":"5176d2b4-7f69-43cc-a11a-9442e05da30f"}}}}}}}}},"/accounts":{"parameters":[{"name":"ns-request-id","in":"header","description":"UUID, generated by the client. Used to identify the request and must be unique for every request","required":true,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-request-flow-id","in":"header","description":"UUID, generated by the client. It is optional. Used by the client to group together multiple API requests that belong to a single user flow","required":false,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-session-id","in":"header","description":"UUID, generated by POST /sessions request, used to identify the user making the API request. This is optional but strongly recommended to be included with all API requests","required":false,"schema":{"type":"string","example":"f279cb3a-8152-4c13-9d99-61ff12ed31a1"}},{"name":"ns-location-id","in":"header","description":"ID of the partner's store or branch location, if applicable","required":false,"schema":{"type":"string","example":"EMPLOYEE_CARD_STORE"}},{"name":"ns-teller-id","in":"header","description":"ID of the teller at the partner's store location, if applicable","required":false,"schema":{"type":"string","example":"DE21"}}],"post":{"tags":["Accounts"],"summary":"Create a new account based on an account context.","description":"Notes:\n\n- An account context carries with it, directly or by inheritance, \nthe included features, terms and conditions, and all else that will be associated with the account.\n\n- For accounts that require extra validation (higher bar for passing fraud concerns) you should pass a `provided_id` and `parent_account_id`.\nthat has already been Know Your Customer (KYC)-approved.\n","operationId":"createAccount","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"account_context":{"type":"object","properties":{"type":{"type":"string","example":"provided_id","description":"Expected values are the following, but more can be added in future versions.\n- parent_account_id\n- provided_id"},"value":{"type":"string","example":"product-abc-123"}},"required":["type","value"]}}}}}},"responses":{"200":{"description":"Newly created account","content":{"application/json":{"schema":{"type":"object","properties":{"account_id":{"type":"string","example":"3c1cab9d-10f5-42fd-8662-99d2755b3d87"},"product":{"type":"string","example":"gpr"},"type":{"type":"string","example":"full","description":"Expected values are the following, but more can be added in future versions.\n- full\n- lite"},"status":{"type":"string","example":"active","description":"Expected values are the following, but more can be added in future versions.\n- active\n- closed\n- new"},"balances":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"primary","description":"Expected values are the following, but more can be added in future versions.\n- primary\n- savings"},"available":{"type":"object","properties":{"currency":{"type":"string","description":"Use ISO-4217 currency code format","example":"USD"},"amount":{"type":"integer","description":"Number of base currency units, represented as an integer.\nFor example, $5.95 USD is represented as 595 (pennies).\n","format":"int32","example":595}},"required":["currency","amount"]},"actual":{"type":"object","properties":{"currency":{"type":"string","description":"Use ISO-4217 currency code format","example":"USD"},"amount":{"type":"integer","description":"Number of base currency units, represented as an integer.\nFor example, $5.95 USD is represented as 595 (pennies).\n","format":"int32","example":595}},"required":["currency","amount"]}}}},"blocked_features":{"type":"array","items":{"type":"string","example":"external_card_withdrawals","description":"Expected values are the following, but more can be added in future versions. - ach\n- all\n- external_bank_transfers\n- external_card_withdrawals\n- p2p_transfers\n- savings\n- subaccount_transfers\n- subaccounts"}},"workflows":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"activate","description":"Expected values are the following, but more can be added in future versions.\n- activate\n- remove_block"},"steps":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"primary_person_kyc_approve","description":"Expected values are the following, but more can be added in future versions.\n- activate_owner\n- expected_use (deprecated - this step is now provided in the PersonWorkflow)\n- primary_person_kyc_approve\n- subaccount_person_kyc_approve\n- remove_block"},"docs":{"type":"string","example":"http://dev.netspend.com/api/workflow_steps/primary_person_kyc_approve"},"link":{"type":"string","example":"/people/e952c730-9bec-4f4b-a9f9-81f724a8062a/kyc/identity_questions"}},"required":["name"]}}},"required":["name","steps"]}}}}}}}}}},"/accounts/{account_id}":{"parameters":[{"name":"ns-request-id","in":"header","description":"UUID, generated by the client. Used to identify the request and must be unique for every request","required":true,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-request-flow-id","in":"header","description":"UUID, generated by the client. It is optional. Used by the client to group together multiple API requests that belong to a single user flow","required":false,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-session-id","in":"header","description":"UUID, generated by POST /sessions request, used to identify the user making the API request. This is optional but strongly recommended to be included with all API requests","required":false,"schema":{"type":"string","example":"f279cb3a-8152-4c13-9d99-61ff12ed31a1"}},{"name":"ns-location-id","in":"header","description":"ID of the partner's store or branch location, if applicable","required":false,"schema":{"type":"string","example":"EMPLOYEE_CARD_STORE"}},{"name":"ns-teller-id","in":"header","description":"ID of the teller at the partner's store location, if applicable","required":false,"schema":{"type":"string","example":"DE21"}}],"get":{"tags":["Accounts"],"summary":"Retrieve profile and status information about the account","description":"This endpoint retrieves information such as `account_id`, `product`, `type` and `status`.","operationId":"findAccountById","parameters":[{"name":"account_id","in":"path","description":"Id of the account","required":true,"schema":{"type":"string","example":"3c1cab9d-10f5-42fd-8662-99d2755b3d87"}}],"responses":{"200":{"description":"Account found and returned","content":{"application/json":{"schema":{"type":"object","properties":{"account_id":{"type":"string","example":"3c1cab9d-10f5-42fd-8662-99d2755b3d87"},"product":{"type":"string","example":"gpr"},"type":{"type":"string","example":"full","description":"Expected values are the following, but more can be added in future versions.\n- full\n- lite"},"status":{"type":"string","example":"active","description":"Expected values are the following, but more can be added in future versions.\n- active\n- closed\n- new"},"balances":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"primary","description":"Expected values are the following, but more can be added in future versions.\n- primary\n- savings"},"available":{"type":"object","properties":{"currency":{"type":"string","description":"Use ISO-4217 currency code format","example":"USD"},"amount":{"type":"integer","description":"Number of base currency units, represented as an integer.\nFor example, $5.95 USD is represented as 595 (pennies).\n","format":"int32","example":595}},"required":["currency","amount"]},"actual":{"type":"object","properties":{"currency":{"type":"string","description":"Use ISO-4217 currency code format","example":"USD"},"amount":{"type":"integer","description":"Number of base currency units, represented as an integer.\nFor example, $5.95 USD is represented as 595 (pennies).\n","format":"int32","example":595}},"required":["currency","amount"]}}}},"blocked_features":{"type":"array","items":{"type":"string","example":"external_card_withdrawals","description":"Expected values are the following, but more can be added in future versions. - ach\n- all\n- external_bank_transfers\n- external_card_withdrawals\n- p2p_transfers\n- savings\n- subaccount_transfers\n- subaccounts"}},"workflows":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"activate","description":"Expected values are the following, but more can be added in future versions.\n- activate\n- remove_block"},"steps":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"primary_person_kyc_approve","description":"Expected values are the following, but more can be added in future versions.\n- activate_owner\n- expected_use (deprecated - this step is now provided in the PersonWorkflow)\n- primary_person_kyc_approve\n- subaccount_person_kyc_approve\n- remove_block"},"docs":{"type":"string","example":"http://dev.netspend.com/api/workflow_steps/primary_person_kyc_approve"},"link":{"type":"string","example":"/people/e952c730-9bec-4f4b-a9f9-81f724a8062a/kyc/identity_questions"}},"required":["name"]}}},"required":["name","steps"]}}}}}}}}}},"/accounts/{account_id}/close":{"parameters":[{"name":"ns-request-id","in":"header","description":"UUID, generated by the client. Used to identify the request and must be unique for every request","required":true,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-request-flow-id","in":"header","description":"UUID, generated by the client. It is optional. Used by the client to group together multiple API requests that belong to a single user flow","required":false,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-session-id","in":"header","description":"UUID, generated by POST /sessions request, used to identify the user making the API request. This is optional but strongly recommended to be included with all API requests","required":false,"schema":{"type":"string","example":"f279cb3a-8152-4c13-9d99-61ff12ed31a1"}},{"name":"ns-location-id","in":"header","description":"ID of the partner's store or branch location, if applicable","required":false,"schema":{"type":"string","example":"EMPLOYEE_CARD_STORE"}},{"name":"ns-teller-id","in":"header","description":"ID of the teller at the partner's store location, if applicable","required":false,"schema":{"type":"string","example":"DE21"}}],"post":{"tags":["Accounts"],"summary":"Close a sub account","description":"This endpoint closes the given `account_id` sub account.","operationId":"closeAccountById","parameters":[{"name":"account_id","in":"path","description":"Id of the account","required":true,"schema":{"type":"string","example":"3c1cab9d-10f5-42fd-8662-99d2755b3d87"}}],"responses":{"200":{"description":"Account closed and returned","content":{"application/json":{"schema":{"type":"object","properties":{"account_id":{"type":"string","example":"3c1cab9d-10f5-42fd-8662-99d2755b3d87"},"product":{"type":"string","example":"gpr"},"type":{"type":"string","example":"full","description":"Expected values are the following, but more can be added in future versions.\n- full\n- lite"},"status":{"type":"string","example":"active","description":"Expected values are the following, but more can be added in future versions.\n- active\n- closed\n- new"},"balances":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"primary","description":"Expected values are the following, but more can be added in future versions.\n- primary\n- savings"},"available":{"type":"object","properties":{"currency":{"type":"string","description":"Use ISO-4217 currency code format","example":"USD"},"amount":{"type":"integer","description":"Number of base currency units, represented as an integer.\nFor example, $5.95 USD is represented as 595 (pennies).\n","format":"int32","example":595}},"required":["currency","amount"]},"actual":{"type":"object","properties":{"currency":{"type":"string","description":"Use ISO-4217 currency code format","example":"USD"},"amount":{"type":"integer","description":"Number of base currency units, represented as an integer.\nFor example, $5.95 USD is represented as 595 (pennies).\n","format":"int32","example":595}},"required":["currency","amount"]}}}},"blocked_features":{"type":"array","items":{"type":"string","example":"external_card_withdrawals","description":"Expected values are the following, but more can be added in future versions. - ach\n- all\n- external_bank_transfers\n- external_card_withdrawals\n- p2p_transfers\n- savings\n- subaccount_transfers\n- subaccounts"}},"workflows":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"activate","description":"Expected values are the following, but more can be added in future versions.\n- activate\n- remove_block"},"steps":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"primary_person_kyc_approve","description":"Expected values are the following, but more can be added in future versions.\n- activate_owner\n- expected_use (deprecated - this step is now provided in the PersonWorkflow)\n- primary_person_kyc_approve\n- subaccount_person_kyc_approve\n- remove_block"},"docs":{"type":"string","example":"http://dev.netspend.com/api/workflow_steps/primary_person_kyc_approve"},"link":{"type":"string","example":"/people/e952c730-9bec-4f4b-a9f9-81f724a8062a/kyc/identity_questions"}},"required":["name"]}}},"required":["name","steps"]}}}}}}}}}},"/accounts/{account_id}/balances":{"parameters":[{"name":"account_id","in":"path","description":"Id of the account","required":true,"schema":{"type":"string","example":"3c1cab9d-10f5-42fd-8662-99d2755b3d87"}},{"name":"ns-request-id","in":"header","description":"UUID, generated by the client. Used to identify the request and must be unique for every request","required":true,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-request-flow-id","in":"header","description":"UUID, generated by the client. It is optional. Used by the client to group together multiple API requests that belong to a single user flow","required":false,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-session-id","in":"header","description":"UUID, generated by POST /sessions request, used to identify the user making the API request. This is optional but strongly recommended to be included with all API requests","required":false,"schema":{"type":"string","example":"f279cb3a-8152-4c13-9d99-61ff12ed31a1"}},{"name":"ns-location-id","in":"header","description":"ID of the partner's store or branch location, if applicable","required":false,"schema":{"type":"string","example":"EMPLOYEE_CARD_STORE"}},{"name":"ns-teller-id","in":"header","description":"ID of the teller at the partner's store location, if applicable","required":false,"schema":{"type":"string","example":"DE21"}}],"get":{"tags":["Accounts"],"summary":"Retrieve account balances","description":"This endpoint directly returns a `balances_object` and is provided as an alternative to `GET /accounts/{account_id}`, which requires you to parse the response and locate the `balances_object`.\n","operationId":"getBalances","responses":{"200":{"description":"The account balances information","content":{"application/json":{"schema":{"type":"object","properties":{"balances":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"primary","description":"Expected values are the following, but more can be added in future versions.\n- primary\n- savings"},"available":{"type":"object","properties":{"currency":{"type":"string","description":"Use ISO-4217 currency code format","example":"USD"},"amount":{"type":"integer","description":"Number of base currency units, represented as an integer.\nFor example, $5.95 USD is represented as 595 (pennies).\n","format":"int32","example":595}},"required":["currency","amount"]},"actual":{"type":"object","properties":{"currency":{"type":"string","description":"Use ISO-4217 currency code format","example":"USD"},"amount":{"type":"integer","description":"Number of base currency units, represented as an integer.\nFor example, $5.95 USD is represented as 595 (pennies).\n","format":"int32","example":595}},"required":["currency","amount"]}}}}}}}}}}}},"/accounts/{account_id}/events":{"parameters":[{"name":"account_id","in":"path","description":"Id of the account","required":true,"schema":{"type":"string","example":"3c1cab9d-10f5-42fd-8662-99d2755b3d87"}},{"name":"ns-request-id","in":"header","description":"UUID, generated by the client. Used to identify the request and must be unique for every request","required":true,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-request-flow-id","in":"header","description":"UUID, generated by the client. It is optional. Used by the client to group together multiple API requests that belong to a single user flow","required":false,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-session-id","in":"header","description":"UUID, generated by POST /sessions request, used to identify the user making the API request. This is optional but strongly recommended to be included with all API requests","required":false,"schema":{"type":"string","example":"f279cb3a-8152-4c13-9d99-61ff12ed31a1"}},{"name":"ns-location-id","in":"header","description":"ID of the partner's store or branch location, if applicable","required":false,"schema":{"type":"string","example":"EMPLOYEE_CARD_STORE"}},{"name":"ns-teller-id","in":"header","description":"ID of the teller at the partner's store location, if applicable","required":false,"schema":{"type":"string","example":"DE21"}}],"post":{"tags":["Accounts"],"summary":"Create a new event notification about the account","description":"This endpoint creates an inbound notification from a partner system to the Netspend API.\nNote: Inbound notifications are useful for partner systems risk analysis. ","operationId":"createAccountEvent","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","example":"password.changed","description":"Expected values are the following, but more can be added in future versions.\n- email_address.update_fails_verification\n- login.failed_too_many_times\n- password.change_failure\n- password.changed\n- password.forgot\n- password.reset_failed\n- username.forgot\n- username.reset_failed"},"event_time":{"type":"string","format":"date-time","example":"2019-09-01T12:34:56+05:30"},"data":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","example":"my_key"},"value":{"type":"string","example":"my_value"}},"required":["key","value"]}}},"required":["type","event_time"]}}}},"responses":{"204":{"description":"Event created"}}}},"/accounts/{account_id}/expected_use":{"parameters":[{"name":"account_id","in":"path","description":"Id of the account","required":true,"schema":{"type":"string","example":"3c1cab9d-10f5-42fd-8662-99d2755b3d87"}},{"name":"ns-request-id","in":"header","description":"UUID, generated by the client. Used to identify the request and must be unique for every request","required":true,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-request-flow-id","in":"header","description":"UUID, generated by the client. It is optional. Used by the client to group together multiple API requests that belong to a single user flow","required":false,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-session-id","in":"header","description":"UUID, generated by POST /sessions request, used to identify the user making the API request. This is optional but strongly recommended to be included with all API requests","required":false,"schema":{"type":"string","example":"f279cb3a-8152-4c13-9d99-61ff12ed31a1"}},{"name":"ns-location-id","in":"header","description":"ID of the partner's store or branch location, if applicable","required":false,"schema":{"type":"string","example":"EMPLOYEE_CARD_STORE"}},{"name":"ns-teller-id","in":"header","description":"ID of the teller at the partner's store location, if applicable","required":false,"schema":{"type":"string","example":"DE21"}}],"get":{"deprecated":true,"tags":["Accounts"],"summary":"Return the current `expected_use` questionnaire and answers for the account","description":"Notes:\n  \n  - This endpoint is only needed for certain product types such as Demand Deposit Account (DDA).\n\n  - Expected use questions are additional questions about account usage activity; \n  for example, which deposits are expected in the account per month.","operationId":"getAccountExpectedUse","responses":{"200":{"description":"Account's expected use","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"incomplete","description":"Expected values are the following, but more can be added in future versions.\n- incomplete\n- complete"},"questions":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"f36a6ba7-c827-4056-888b-046a98fc0dce"},"text":{"type":"string","example":"About how much do you expect to deposit each month?"},"required":{"type":"string","example":"true","description":"Expected values are the following, but more can be added in future versions.\n- true\n- false"},"type":{"type":"object","oneOf":[{"type":"object","properties":{"question_type":{"type":"string","example":"choice","description":"Expected values are the following, but more can be added in future versions.\n- choice"},"min_answers":{"type":"integer","format":"int32","example":1,"minimum":0},"max_answers":{"type":"integer","format":"int32","example":1,"minimum":0},"options":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"73b6f305-6930-4161-8d3e-083d9f803c5f"},"text":{"type":"string","example":"$2,000 and above"}}}}},"required":["question_type"]},{"type":"object","properties":{"question_type":{"type":"string","example":"text","description":"Expected values are the following, but more can be added in future versions.\n- text"},"min_length":{"type":"integer","format":"int32","example":1,"minimum":0},"max_length":{"type":"integer","format":"int32","example":100,"minimum":0}},"required":["question_type"]}],"discriminator":{"propertyName":"question_type","mapping":{"choice":"#/components/schemas/ExpectedUseQuestionChoice","text":"#/components/schemas/ExpectedUseQuestionText"}}}}}}},"required":["status","questions"]}}}}}},"put":{"deprecated":true,"tags":["Accounts"],"summary":"Update the account's answers to expected use questions","description":"Note: This endpoint is only needed for certain product types such as Demand Deposit Account (DDA).","operationId":"updateAccountExpectedUse","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"answers":{"type":"array","items":{"type":"object","properties":{"question_id":{"type":"string","example":"f36a6ba7-c827-4056-888b-046a98fc0dce"},"answer":{"type":"array","items":{"type":"string","example":"73b6f305-6930-4161-8d3e-083d9f803c5f"},"minItems":1}},"required":["question_id","answer"]}}}}}}},"responses":{"200":{"description":"Account's expected use","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"incomplete","description":"Expected values are the following, but more can be added in future versions.\n- incomplete\n- complete"}}}}}}}}},"/accounts/search":{"parameters":[{"name":"ns-request-id","in":"header","description":"UUID, generated by the client. Used to identify the request and must be unique for every request","required":true,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-request-flow-id","in":"header","description":"UUID, generated by the client. It is optional. Used by the client to group together multiple API requests that belong to a single user flow","required":false,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-session-id","in":"header","description":"UUID, generated by POST /sessions request, used to identify the user making the API request. This is optional but strongly recommended to be included with all API requests","required":false,"schema":{"type":"string","example":"f279cb3a-8152-4c13-9d99-61ff12ed31a1"}},{"name":"ns-location-id","in":"header","description":"ID of the partner's store or branch location, if applicable","required":false,"schema":{"type":"string","example":"EMPLOYEE_CARD_STORE"}},{"name":"ns-teller-id","in":"header","description":"ID of the teller at the partner's store location, if applicable","required":false,"schema":{"type":"string","example":"DE21"}}],"post":{"tags":["Accounts"],"summary":"Search for accounts","description":"This endpoint searches for accounts by account status: `active`, `closed`, `new`.","operationId":"searchAccounts","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"limit":{"type":"integer","default":10,"minimum":1,"maximum":10,"description":"Maximum results to return"},"starting_after":{"type":"string","format":"uuid","example":"76d75f4d-b889-4c9b-b13f-661af103eb13"},"search_type":{"type":"string","example":"parent_account_id","description":"Expected values are the following, but more can be added in future versions.\n- parent_account_id"},"search_value":{"type":"string","example":"ede40d12-4dc8-4f15-a44a-cb08e67a0096"},"status":{"type":"string","example":"active","description":"Expected values are the following, but more can be added in future versions.\n- active\n- closed\n- new"}},"required":["search_type","search_value"]}}}},"responses":{"200":{"description":"Accounts matching the search criteria","content":{"application/json":{"schema":{"type":"object","properties":{"accounts":{"type":"array","items":{"type":"object","properties":{"account_id":{"type":"string","example":"3c1cab9d-10f5-42fd-8662-99d2755b3d87"},"product":{"type":"string","example":"gpr"},"type":{"type":"string","example":"full","description":"Expected values are the following, but more can be added in future versions.\n- full\n- lite"},"status":{"type":"string","example":"active","description":"Expected values are the following, but more can be added in future versions.\n- active\n- closed\n- new"},"balances":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"primary","description":"Expected values are the following, but more can be added in future versions.\n- primary\n- savings"},"available":{"type":"object","properties":{"currency":{"type":"string","description":"Use ISO-4217 currency code format","example":"USD"},"amount":{"type":"integer","description":"Number of base currency units, represented as an integer.\nFor example, $5.95 USD is represented as 595 (pennies).\n","format":"int32","example":595}},"required":["currency","amount"]},"actual":{"type":"object","properties":{"currency":{"type":"string","description":"Use ISO-4217 currency code format","example":"USD"},"amount":{"type":"integer","description":"Number of base currency units, represented as an integer.\nFor example, $5.95 USD is represented as 595 (pennies).\n","format":"int32","example":595}},"required":["currency","amount"]}}}},"blocked_features":{"type":"array","items":{"type":"string","example":"external_card_withdrawals","description":"Expected values are the following, but more can be added in future versions. - ach\n- all\n- external_bank_transfers\n- external_card_withdrawals\n- p2p_transfers\n- savings\n- subaccount_transfers\n- subaccounts"}},"workflows":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"activate","description":"Expected values are the following, but more can be added in future versions.\n- activate\n- remove_block"},"steps":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"primary_person_kyc_approve","description":"Expected values are the following, but more can be added in future versions.\n- activate_owner\n- expected_use (deprecated - this step is now provided in the PersonWorkflow)\n- primary_person_kyc_approve\n- subaccount_person_kyc_approve\n- remove_block"},"docs":{"type":"string","example":"http://dev.netspend.com/api/workflow_steps/primary_person_kyc_approve"},"link":{"type":"string","example":"/people/e952c730-9bec-4f4b-a9f9-81f724a8062a/kyc/identity_questions"}},"required":["name"]}}},"required":["name","steps"]}}}}}}}}}}}}},"/sessions":{"parameters":[{"name":"ns-request-id","in":"header","description":"UUID, generated by the client. Used to identify the request and must be unique for every request","required":true,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-request-flow-id","in":"header","description":"UUID, generated by the client. It is optional. Used by the client to group together multiple API requests that belong to a single user flow","required":false,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-session-id","in":"header","description":"UUID, generated by POST /sessions request, used to identify the user making the API request. This is optional but strongly recommended to be included with all API requests","required":false,"schema":{"type":"string","example":"f279cb3a-8152-4c13-9d99-61ff12ed31a1"}},{"name":"ns-location-id","in":"header","description":"ID of the partner's store or branch location, if applicable","required":false,"schema":{"type":"string","example":"EMPLOYEE_CARD_STORE"}},{"name":"ns-teller-id","in":"header","description":"ID of the teller at the partner's store location, if applicable","required":false,"schema":{"type":"string","example":"DE21"}}],"post":{"tags":["Sessions"],"summary":"Create a new session","operationId":"createSession","description":"Requests the creation of a session, to associate future API calls to an end user.\n\nThe `source_type` and `source_id` fields should be set based on the nature of the end user:\n- The `source_type` should be set to account, and the `source_id` refer to an account resource ID if the end user is the customer and the account already exists.\n- The `source_type` and `source_id` are optional and don't need to be set if the end user is a potential customer who does not currently have an account.\n- The `source_type` should be set to `person`, and the `source_id` refer to a person resource ID if the end user is the customer and the person already exists.\n","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"account_id":{"deprecated":true,"description":"This field is deprecated and replaced by source_id and source_type","type":"string","example":"3c1cab9d-10f5-42fd-8662-99d2755b3d87"},"source_id":{"type":"string","format":"uuid","example":"e5503ed3-48cd-4658-830b-3f18ebe1c2db"},"source_type":{"type":"string","example":"account","description":"Expected values are the following, but more can be added in future versions.\n  - account\n  - person"},"expiration_minutes":{"type":"integer","format":"int32","minimum":1,"maximum":30,"example":15},"expiration_strategy":{"type":"string","example":"renew_on_use","description":"Expected values are the following, but more can be added in future versions.\n- renew_on_use\n- no_renew"},"device_data":{"type":"string","description":"Should be provided by the Netspend Client SDK. Deprecated in favor of encrypted_data","example":"<< created by the Netspend Client SDK >>","deprecated":true},"encrypted_data":{"type":"object","description":"Contains device_data and jwk_set","example":"eyJraWQiOiJiYWE1N2IyZi01YzJh..."},"authentication_factors":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"password","description":"Expected values are the following, but more can be added in future versions.\n- password\n- biometric\n- verified_device"},"completion_time":{"type":"string","format":"date-time","example":"2019-07-18T15:30:00+05:30"}},"required":["type","completion_time"]}},"device_ip_address":{"type":"string","example":"10.0.0.10","description":"Public IP address of the device. This value is required when the `source_type` is account."}},"required":["expiration_minutes","expiration_strategy"]}}}},"responses":{"200":{"description":"The newly created session","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","example":"d5cf63f7-55c1-43da-a95a-bcbc0faffb20"},"encrypted_data":{"type":"string","example":"<< encrypted data - see ../schemas/_index.yml#/SessionResponseEncryptedData>>"},"authentication_factors":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"password","description":"Expected values are the following, but more can be added in future versions.\n- password\n- biometric\n- verified_device"},"completion_time":{"type":"string","format":"date-time","example":"2019-07-18T15:30:00+05:30"}},"required":["type","completion_time"]}}}}}}}}}},"/sessions/{session_id}":{"parameters":[{"name":"session_id","in":"path","description":"Session Id for the end-user","required":true,"schema":{"type":"string","example":"d5cf63f7-55c1-43da-a95a-bcbc0faffb20"}},{"name":"ns-request-id","in":"header","description":"UUID, generated by the client. Used to identify the request and must be unique for every request","required":true,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-request-flow-id","in":"header","description":"UUID, generated by the client. It is optional. Used by the client to group together multiple API requests that belong to a single user flow","required":false,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-session-id","in":"header","description":"UUID, generated by POST /sessions request, used to identify the user making the API request. This is optional but strongly recommended to be included with all API requests","required":false,"schema":{"type":"string","example":"f279cb3a-8152-4c13-9d99-61ff12ed31a1"}},{"name":"ns-location-id","in":"header","description":"ID of the partner's store or branch location, if applicable","required":false,"schema":{"type":"string","example":"EMPLOYEE_CARD_STORE"}},{"name":"ns-teller-id","in":"header","description":"ID of the teller at the partner's store location, if applicable","required":false,"schema":{"type":"string","example":"DE21"}}],"get":{"tags":["Sessions"],"summary":"Retrieve non-secure information about a session","description":"Note: Non-secure information, also known as authentication factors, relates to how the user authenticated.  For example, the user might have used a password, or logged in using a verified device or biometric such as a touch ID. Information includes the time when a factor was completed.","operationId":"getSession","responses":{"200":{"description":"The session information","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","example":"d5cf63f7-55c1-43da-a95a-bcbc0faffb20"},"authentication_factors":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"password","description":"Expected values are the following, but more can be added in future versions.\n- password\n- biometric\n- verified_device"},"completion_time":{"type":"string","format":"date-time","example":"2019-07-18T15:30:00+05:30"}},"required":["type","completion_time"]}}},"required":["id"]}}}}}},"delete":{"tags":["Sessions"],"summary":"Expires and deletes a session","description":"This endpoint deletes the given `session_id`.\n\nNote: After a session has expired, the `session_id` can no longer be used.\n","operationId":"deleteSession","responses":{"204":{"description":"The session was deleted"}}},"patch":{"tags":["Sessions"],"summary":"Update session data","operationId":"updateSessionData","description":"This endpoint updates session `source_id` and `source_type`:\n\n- `source_type` is the type of session being created, representing what the session is for.\n    - Values can be `account` or `person`.             \n\n- `source_id` is the ID of the `source_type`.\n\nNotes: \n\n- You can omit `source_type` or `source_id` for anonymous sessions.\n\n- You can only change `source_type` in this progression:\n\n  - anonymous session to `account` or `person` session\n\n  - `account` to `person` session\n","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"source_id":{"type":"string","format":"uuid","example":"e5503ed3-48cd-4658-830b-3f18ebe1c2db"},"source_type":{"type":"string","example":"account","description":"Expected values are the following, but more can be added in future versions.\n  - account\n  - person"}},"required":["source_id","source_type"]}}}},"responses":{"200":{"description":"Updated session data","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","example":"d5cf63f7-55c1-43da-a95a-bcbc0faffb20"},"authentication_factors":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"password","description":"Expected values are the following, but more can be added in future versions.\n- password\n- biometric\n- verified_device"},"completion_time":{"type":"string","format":"date-time","example":"2019-07-18T15:30:00+05:30"}},"required":["type","completion_time"]}}},"required":["id"]}}}}}}},"/sessions/{session_id}/authentication_factors":{"parameters":[{"name":"session_id","in":"path","description":"Session Id for the end-user","required":true,"schema":{"type":"string","example":"d5cf63f7-55c1-43da-a95a-bcbc0faffb20"}},{"name":"ns-request-id","in":"header","description":"UUID, generated by the client. Used to identify the request and must be unique for every request","required":true,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-request-flow-id","in":"header","description":"UUID, generated by the client. It is optional. Used by the client to group together multiple API requests that belong to a single user flow","required":false,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-session-id","in":"header","description":"UUID, generated by POST /sessions request, used to identify the user making the API request. This is optional but strongly recommended to be included with all API requests","required":false,"schema":{"type":"string","example":"f279cb3a-8152-4c13-9d99-61ff12ed31a1"}},{"name":"ns-location-id","in":"header","description":"ID of the partner's store or branch location, if applicable","required":false,"schema":{"type":"string","example":"EMPLOYEE_CARD_STORE"}},{"name":"ns-teller-id","in":"header","description":"ID of the teller at the partner's store location, if applicable","required":false,"schema":{"type":"string","example":"DE21"}}],"patch":{"tags":["Sessions"],"summary":"Updates the latest time when one or more authentication factors completed on a session","description":"This endpoint receives a list of authentication factors and completion times for a given `session_id`.","operationId":"updateSessionAuthenticationFactors","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"authentication_factors":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"password","description":"Expected values are the following, but more can be added in future versions.\n- password\n- biometric\n- verified_device"},"completion_time":{"type":"string","format":"date-time","example":"2019-07-18T15:30:00+05:30"}},"required":["type","completion_time"]}}}}}}},"responses":{"200":{"description":"Updated session data","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","example":"d5cf63f7-55c1-43da-a95a-bcbc0faffb20"},"authentication_factors":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","example":"password","description":"Expected values are the following, but more can be added in future versions.\n- password\n- biometric\n- verified_device"},"completion_time":{"type":"string","format":"date-time","example":"2019-07-18T15:30:00+05:30"}},"required":["type","completion_time"]}}},"required":["id"]}}}}}}},"/sessions/user_session_initialization_data":{"parameters":[{"name":"ns-request-id","in":"header","description":"UUID, generated by the client. Used to identify the request and must be unique for every request","required":true,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-request-flow-id","in":"header","description":"UUID, generated by the client. It is optional. Used by the client to group together multiple API requests that belong to a single user flow","required":false,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-session-id","in":"header","description":"UUID, generated by POST /sessions request, used to identify the user making the API request. This is optional but strongly recommended to be included with all API requests","required":false,"schema":{"type":"string","example":"f279cb3a-8152-4c13-9d99-61ff12ed31a1"}},{"name":"ns-location-id","in":"header","description":"ID of the partner's store or branch location, if applicable","required":false,"schema":{"type":"string","example":"EMPLOYEE_CARD_STORE"}},{"name":"ns-teller-id","in":"header","description":"ID of the teller at the partner's store location, if applicable","required":false,"schema":{"type":"string","example":"DE21"}}],"get":{"tags":["Sessions"],"summary":"Create a new API User Session initialization data and JWKset","description":"Note: The data and JWKset are used during handshakes with an end user’s device when establishing sessions. ","operationId":"GetUserSessionInitializationDataResponse","responses":{"200":{"description":"Session","content":{"application/json":{"schema":{"type":"object","properties":{"jwk_set":{"type":"array","items":{"type":"object","description":"JWK representation of RSA public key. The JSON format with the below attributes can be direclty parsed using standard libraries.","properties":{"kty":{"type":"string","example":"RSA","description":"Following are the expected values.\n- AES\n- RSA"},"use":{"type":"string","example":"enc","description":"Following are the expected values.\n- enc\n- sig"},"alg":{"type":"string","example":"RSA1_5","description":"Whitelisted algorithm used for token encryption/descryption or signing/verification."},"kid":{"type":"string","example":"0c553b5d-584c-4ee2-91e2-d5bfbe1c91e0","description":"unique key_id."},"n":{"type":"string","example":"m12x9dKLqQVe7gcaHh5hPwk57rDWQvai7FnB50W8hIenTCergXAlTLXUq-b9poa8_1Bm9Lc4_lJ-Gtw3xab5NRk8mx9B7iNfmSVcqW-7MocsDNAY7BmWhAz39jrpUvVMGR2-kj4cLohNfd764YwvIgvkG9DIr7uLmEI-lWrJRf2wuYc1XCgGGf8qjCEC8fQ9GoDXJ7kATHMdHr_eB6OATCMQL4ToLQDGCXFNrsXFRb82vWAZbI3JJqtzVbpV7KDl2u8hqbWLw1Eo8u26J-yv8wj8nXBUmy26WMpe919LntbJsWqc3JzirmDGWIMzv3-lNYsYDfEJaapq10gxp71rgw","description":"MODULUS_MEMBER_NAME of RSA public key."},"e":{"type":"string","example":"AQAB","description":"EXPONENT_MEMBER_NAME of RSA public key."}}}},"user_session_initialization_data":{"type":"string","description":"Opaque token to pass to Netspend SDK to initialize a session.\nThis field is being deprecated in favor of jwk_set\n","example":"<< format unspecified >>","deprecated":true}}}}}}}}},"/accounts/{account_id}/statements":{"parameters":[{"name":"ns-request-id","in":"header","description":"UUID, generated by the client. Used to identify the request and must be unique for every request","required":true,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-request-flow-id","in":"header","description":"UUID, generated by the client. It is optional. Used by the client to group together multiple API requests that belong to a single user flow","required":false,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-session-id","in":"header","description":"UUID, generated by POST /sessions request, used to identify the user making the API request. This is optional but strongly recommended to be included with all API requests","required":false,"schema":{"type":"string","example":"f279cb3a-8152-4c13-9d99-61ff12ed31a1"}},{"name":"ns-location-id","in":"header","description":"ID of the partner's store or branch location, if applicable","required":false,"schema":{"type":"string","example":"EMPLOYEE_CARD_STORE"}},{"name":"ns-teller-id","in":"header","description":"ID of the teller at the partner's store location, if applicable","required":false,"schema":{"type":"string","example":"DE21"}}],"get":{"tags":["Statements"],"summary":"Retrieve a date range in which account statements are available based on `account_type` and `period_type`.","description":"This endpoint returns the range of available statements on account for accounts created before the first day of the current period.\n\nNote: If there are no statements, a business error is returned.\n","operationId":"getStatements","parameters":[{"name":"account_id","in":"path","description":"Id of the account","required":true,"schema":{"type":"string","example":"3c1cab9d-10f5-42fd-8662-99d2755b3d87"}},{"name":"account_type","in":"query","schema":{"type":"string"},"description":"Expected values are the following, but more can be added in future versions.\n- primary\n- savings","required":true},{"name":"period_type","in":"query","schema":{"type":"string"},"description":"Expected values are the following, but more can be added in future versions.\n- month","required":true}],"responses":{"200":{"description":"The requested range\n","content":{"application/json":{"schema":{"type":"object","properties":{"period_type":{"type":"string","example":"month","description":"Expected values are the following, but more can be added in future versions.\n- month"},"start_period":{"type":"string","example":"2020-03","description":"The statement period for the first (oldest) available statement. This value is inclusive."},"end_period":{"type":"string","example":"2021-07","description":"The statement period for the last (newest) available statement. This value is inclusive."}}}}}}}},"post":{"tags":["Statements"],"summary":"Generate a URL to access a statement","description":"This endpoint generates a URL for a PDF statement that includes transaction data for a given `start_period` and `end_period`.\nNote: A single statement will be generated with both primary and subaccount details.","operationId":"getStatementUrl","parameters":[{"name":"account_id","in":"path","description":"Id of the account","required":true,"schema":{"type":"string","example":"3c1cab9d-10f5-42fd-8662-99d2755b3d87"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"account_type":{"type":"string","example":"primary","description":"The type of account being requested. Expected values are the following, but more can be added in future versions.\n- primary\n- savings","default":"primary"},"period_type":{"type":"string","example":"month","description":"The type of time period described in the period field. Expected values are the following, but more can be added in future versions.\n- month","default":"month"},"period":{"type":"string","example":"2021-03","description":"The period of statements being requested. Expected values are the following, but more can be added in future versions.\n- YYYY-MM"},"content_type":{"type":"string","example":"application/pdf","description":"The kind of content the returned url will lead to. Expected values are the following, but more can be added in future versions.\n- application/pdf","default":"application/pdf"}},"required":["account_type","period_type","period","content_type"]}}}},"responses":{"200":{"description":"URL link to a statement","content":{"application/json":{"schema":{"type":"object","properties":{"url":{"type":"string","example":"https://api.netspend.com/public/v1/accounts/statements/3608ad5b-cb87-4e27-9172-f471b1632de1","description":"Url to retrieve a statement"}}}}}}}}},"/accounts/{account_id}/subaccounts":{"parameters":[{"name":"account_id","in":"path","description":"Id of the account","required":true,"schema":{"type":"string","example":"3c1cab9d-10f5-42fd-8662-99d2755b3d87"}},{"name":"ns-request-id","in":"header","description":"UUID, generated by the client. Used to identify the request and must be unique for every request","required":true,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-request-flow-id","in":"header","description":"UUID, generated by the client. It is optional. Used by the client to group together multiple API requests that belong to a single user flow","required":false,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-session-id","in":"header","description":"UUID, generated by POST /sessions request, used to identify the user making the API request. This is optional but strongly recommended to be included with all API requests","required":false,"schema":{"type":"string","example":"f279cb3a-8152-4c13-9d99-61ff12ed31a1"}},{"name":"ns-location-id","in":"header","description":"ID of the partner's store or branch location, if applicable","required":false,"schema":{"type":"string","example":"EMPLOYEE_CARD_STORE"}},{"name":"ns-teller-id","in":"header","description":"ID of the teller at the partner's store location, if applicable","required":false,"schema":{"type":"string","example":"DE21"}}],"get":{"tags":["Subaccounts"],"summary":"Retrieve subaccount information","description":"This endpoint returns the eligibility of the primary account (`account_id`) to participate in the subaccounts feature. \nThe endpoint also returns limits such as maximum number of subaccounts allowed.\n","operationId":"getSubaccountFeatureEligibility","responses":{"200":{"description":"Subaccount Information","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"active","description":"Expected values are the following, but more can be added in future versions.\n- active\n- inactive\n- not_offered"},"program":{"type":"object","properties":{"max_subaccounts":{"type":"integer","example":5},"subaccounts_remaining":{"type":"integer","example":3}}},"workflows":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"enroll","description":"Expected values are the following, but more can be added in future versions.\n- enroll"},"steps":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"primary_person_kyc_approve","description":"Expected values are the following, but more can be added in future versions.\n- primary_person_kyc_approve"},"docs":{"type":"string","example":"http://dev.netspend.com/api/workflow_steps/accept_agreement"}},"required":["name"]}}},"required":["name","steps"]}}},"required":["status"]}}}}}}},"/accounts/{account_id}/subaccounts/deposits":{"parameters":[{"name":"account_id","in":"path","description":"Id of the account","required":true,"schema":{"type":"string","example":"3c1cab9d-10f5-42fd-8662-99d2755b3d87"}},{"name":"ns-request-id","in":"header","description":"UUID, generated by the client. Used to identify the request and must be unique for every request","required":true,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-request-flow-id","in":"header","description":"UUID, generated by the client. It is optional. Used by the client to group together multiple API requests that belong to a single user flow","required":false,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-session-id","in":"header","description":"UUID, generated by POST /sessions request, used to identify the user making the API request. This is optional but strongly recommended to be included with all API requests","required":false,"schema":{"type":"string","example":"f279cb3a-8152-4c13-9d99-61ff12ed31a1"}},{"name":"ns-location-id","in":"header","description":"ID of the partner's store or branch location, if applicable","required":false,"schema":{"type":"string","example":"EMPLOYEE_CARD_STORE"}},{"name":"ns-teller-id","in":"header","description":"ID of the teller at the partner's store location, if applicable","required":false,"schema":{"type":"string","example":"DE21"}}],"post":{"tags":["Subaccounts"],"summary":"Create a subaccount deposit request","description":"This endpoint initializes, but does not execute a request to deposit funds from the primary account (`account_id`) to the subaccount.\nNote: The endpoint validates the deposit and helps ensure that it can be executed.","operationId":"createSubaccountDeposit","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"subaccount_id":{"type":"string","format":"uuid","example":"b3a94001-ed70-47e9-8b63-b2ec8f2d7a41"},"amount":{"type":"object","properties":{"currency":{"type":"string","description":"Use ISO-4217 currency code format","example":"USD"},"amount":{"type":"integer","description":"Number of base currency units, represented as an integer.\nFor example, $5.95 USD is represented as 595 (pennies).\n","format":"int32","example":595}},"required":["currency","amount"]}},"required":["amount","subaccount_id"]}}}},"responses":{"200":{"description":"Subaccount transfer in pending state","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid","example":"1bb5708e-0b6c-4af9-8e86-d91d90d838ab"},"subaccount_id":{"type":"string","format":"uuid","example":"b3a94001-ed70-47e9-8b63-b2ec8f2d7a41"},"amount":{"type":"object","properties":{"currency":{"type":"string","description":"Use ISO-4217 currency code format","example":"USD"},"amount":{"type":"integer","description":"Number of base currency units, represented as an integer.\nFor example, $5.95 USD is represented as 595 (pennies).\n","format":"int32","example":595}},"required":["currency","amount"]},"status":{"type":"string","example":"completed","description":"Expected values are the following, but more can be added in future versions.\n- cancelled\n- completed\n- failed\n- new\n- pending"},"status_reason":{"type":"string","example":"insufficient_funds","description":"Expected values are the following, but more can be added in future versions.\n- insufficient_funds\n- subaccount_balance_exceeded\n- subaccount_closed"}},"required":["id","subaccount_id","amount","status"]}}}}}}},"/accounts/{account_id}/subaccounts/deposits/{deposit_id}":{"parameters":[{"name":"account_id","in":"path","description":"Id of the account","required":true,"schema":{"type":"string","example":"3c1cab9d-10f5-42fd-8662-99d2755b3d87"}},{"name":"deposit_id","in":"path","required":true,"description":"The ID of a deposit request","schema":{"type":"string","format":"uuid","example":"b58deefc-4f5c-4d60-91e6-54e666caf61b"}},{"name":"ns-request-id","in":"header","description":"UUID, generated by the client. Used to identify the request and must be unique for every request","required":true,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-request-flow-id","in":"header","description":"UUID, generated by the client. It is optional. Used by the client to group together multiple API requests that belong to a single user flow","required":false,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-session-id","in":"header","description":"UUID, generated by POST /sessions request, used to identify the user making the API request. This is optional but strongly recommended to be included with all API requests","required":false,"schema":{"type":"string","example":"f279cb3a-8152-4c13-9d99-61ff12ed31a1"}},{"name":"ns-location-id","in":"header","description":"ID of the partner's store or branch location, if applicable","required":false,"schema":{"type":"string","example":"EMPLOYEE_CARD_STORE"}},{"name":"ns-teller-id","in":"header","description":"ID of the teller at the partner's store location, if applicable","required":false,"schema":{"type":"string","example":"DE21"}}],"get":{"tags":["Subaccounts"],"summary":"Retrieve a subaccount deposit","description":"This endpoint returns the subaccount deposit for the given `deposit_id` and subaccount `account_id`.","operationId":"getSubaccountDeposit","responses":{"200":{"description":"Subaccount transfer","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid","example":"1bb5708e-0b6c-4af9-8e86-d91d90d838ab"},"subaccount_id":{"type":"string","format":"uuid","example":"b3a94001-ed70-47e9-8b63-b2ec8f2d7a41"},"amount":{"type":"object","properties":{"currency":{"type":"string","description":"Use ISO-4217 currency code format","example":"USD"},"amount":{"type":"integer","description":"Number of base currency units, represented as an integer.\nFor example, $5.95 USD is represented as 595 (pennies).\n","format":"int32","example":595}},"required":["currency","amount"]},"status":{"type":"string","example":"completed","description":"Expected values are the following, but more can be added in future versions.\n- cancelled\n- completed\n- failed\n- new\n- pending"},"status_reason":{"type":"string","example":"insufficient_funds","description":"Expected values are the following, but more can be added in future versions.\n- insufficient_funds\n- subaccount_balance_exceeded\n- subaccount_closed"}},"required":["id","subaccount_id","amount","status"]}}}}}}},"/accounts/{account_id}/subaccounts/deposits/{deposit_id}/execute":{"parameters":[{"name":"account_id","in":"path","description":"Id of the account","required":true,"schema":{"type":"string","example":"3c1cab9d-10f5-42fd-8662-99d2755b3d87"}},{"name":"deposit_id","in":"path","required":true,"description":"The ID of a deposit request","schema":{"type":"string","format":"uuid","example":"b58deefc-4f5c-4d60-91e6-54e666caf61b"}},{"name":"ns-request-id","in":"header","description":"UUID, generated by the client. Used to identify the request and must be unique for every request","required":true,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-request-flow-id","in":"header","description":"UUID, generated by the client. It is optional. Used by the client to group together multiple API requests that belong to a single user flow","required":false,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-session-id","in":"header","description":"UUID, generated by POST /sessions request, used to identify the user making the API request. This is optional but strongly recommended to be included with all API requests","required":false,"schema":{"type":"string","example":"f279cb3a-8152-4c13-9d99-61ff12ed31a1"}},{"name":"ns-location-id","in":"header","description":"ID of the partner's store or branch location, if applicable","required":false,"schema":{"type":"string","example":"EMPLOYEE_CARD_STORE"}},{"name":"ns-teller-id","in":"header","description":"ID of the teller at the partner's store location, if applicable","required":false,"schema":{"type":"string","example":"DE21"}}],"post":{"tags":["Subaccounts"],"summary":"Execute a subaccount deposit","description":"This endpoint executes a request to deposit funds (`deposit_id`) from a primary account to the subaccount (`account_id`).\nNote: The endpoint will execute the deposit if it has passed validation according to results from `POST /accounts/{account_id}/subaccounts/deposits/{deposit_id}`.","operationId":"executeSubaccountDeposit","responses":{"200":{"description":"Subaccount transfer in completed state","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid","example":"1bb5708e-0b6c-4af9-8e86-d91d90d838ab"},"subaccount_id":{"type":"string","format":"uuid","example":"b3a94001-ed70-47e9-8b63-b2ec8f2d7a41"},"amount":{"type":"object","properties":{"currency":{"type":"string","description":"Use ISO-4217 currency code format","example":"USD"},"amount":{"type":"integer","description":"Number of base currency units, represented as an integer.\nFor example, $5.95 USD is represented as 595 (pennies).\n","format":"int32","example":595}},"required":["currency","amount"]},"status":{"type":"string","example":"completed","description":"Expected values are the following, but more can be added in future versions.\n- cancelled\n- completed\n- failed\n- new\n- pending"},"status_reason":{"type":"string","example":"insufficient_funds","description":"Expected values are the following, but more can be added in future versions.\n- insufficient_funds\n- subaccount_balance_exceeded\n- subaccount_closed"}},"required":["id","subaccount_id","amount","status"]}}}}}}},"/accounts/{account_id}/subaccounts/deposits/{deposit_id}/cancel":{"parameters":[{"name":"account_id","in":"path","description":"Id of the account","required":true,"schema":{"type":"string","example":"3c1cab9d-10f5-42fd-8662-99d2755b3d87"}},{"name":"deposit_id","in":"path","required":true,"description":"The ID of a deposit request","schema":{"type":"string","format":"uuid","example":"b58deefc-4f5c-4d60-91e6-54e666caf61b"}},{"name":"ns-request-id","in":"header","description":"UUID, generated by the client. Used to identify the request and must be unique for every request","required":true,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-request-flow-id","in":"header","description":"UUID, generated by the client. It is optional. Used by the client to group together multiple API requests that belong to a single user flow","required":false,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-session-id","in":"header","description":"UUID, generated by POST /sessions request, used to identify the user making the API request. This is optional but strongly recommended to be included with all API requests","required":false,"schema":{"type":"string","example":"f279cb3a-8152-4c13-9d99-61ff12ed31a1"}},{"name":"ns-location-id","in":"header","description":"ID of the partner's store or branch location, if applicable","required":false,"schema":{"type":"string","example":"EMPLOYEE_CARD_STORE"}},{"name":"ns-teller-id","in":"header","description":"ID of the teller at the partner's store location, if applicable","required":false,"schema":{"type":"string","example":"DE21"}}],"post":{"tags":["Subaccounts"],"summary":"Cancel subaccount deposit","description":"This endpoint cancels a `deposit_id` that has not been deposited to the subaccount `account_id`.","operationId":"cancelSubaccountDeposit","responses":{"200":{"description":"Subaccount transfer in cancelled state","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid","example":"1bb5708e-0b6c-4af9-8e86-d91d90d838ab"},"subaccount_id":{"type":"string","format":"uuid","example":"b3a94001-ed70-47e9-8b63-b2ec8f2d7a41"},"amount":{"type":"object","properties":{"currency":{"type":"string","description":"Use ISO-4217 currency code format","example":"USD"},"amount":{"type":"integer","description":"Number of base currency units, represented as an integer.\nFor example, $5.95 USD is represented as 595 (pennies).\n","format":"int32","example":595}},"required":["currency","amount"]},"status":{"type":"string","example":"completed","description":"Expected values are the following, but more can be added in future versions.\n- cancelled\n- completed\n- failed\n- new\n- pending"},"status_reason":{"type":"string","example":"insufficient_funds","description":"Expected values are the following, but more can be added in future versions.\n- insufficient_funds\n- subaccount_balance_exceeded\n- subaccount_closed"}},"required":["id","subaccount_id","amount","status"]}}}}}}},"/accounts/{account_id}/subaccounts/withdrawals":{"parameters":[{"name":"account_id","in":"path","description":"Id of the account","required":true,"schema":{"type":"string","example":"3c1cab9d-10f5-42fd-8662-99d2755b3d87"}},{"name":"ns-request-id","in":"header","description":"UUID, generated by the client. Used to identify the request and must be unique for every request","required":true,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-request-flow-id","in":"header","description":"UUID, generated by the client. It is optional. Used by the client to group together multiple API requests that belong to a single user flow","required":false,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-session-id","in":"header","description":"UUID, generated by POST /sessions request, used to identify the user making the API request. This is optional but strongly recommended to be included with all API requests","required":false,"schema":{"type":"string","example":"f279cb3a-8152-4c13-9d99-61ff12ed31a1"}},{"name":"ns-location-id","in":"header","description":"ID of the partner's store or branch location, if applicable","required":false,"schema":{"type":"string","example":"EMPLOYEE_CARD_STORE"}},{"name":"ns-teller-id","in":"header","description":"ID of the teller at the partner's store location, if applicable","required":false,"schema":{"type":"string","example":"DE21"}}],"post":{"tags":["Subaccounts"],"summary":"Create a subaccount withdrawal","description":"This endpoint initializes, but does not execute a request to withdraw funds from the subaccount  to the primary account (`account_id`).\nNote: The endpoint validates the withdrawal and helps ensure that it can be executed.","operationId":"createSubaccountWithdrawal","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"subaccount_id":{"type":"string","format":"uuid","example":"b3a94001-ed70-47e9-8b63-b2ec8f2d7a41"},"amount":{"type":"object","properties":{"currency":{"type":"string","description":"Use ISO-4217 currency code format","example":"USD"},"amount":{"type":"integer","description":"Number of base currency units, represented as an integer.\nFor example, $5.95 USD is represented as 595 (pennies).\n","format":"int32","example":595}},"required":["currency","amount"]}},"required":["amount","subaccount_id"]}}}},"responses":{"200":{"description":"Subaccount transfer in pending state","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid","example":"1bb5708e-0b6c-4af9-8e86-d91d90d838ab"},"subaccount_id":{"type":"string","format":"uuid","example":"b3a94001-ed70-47e9-8b63-b2ec8f2d7a41"},"amount":{"type":"object","properties":{"currency":{"type":"string","description":"Use ISO-4217 currency code format","example":"USD"},"amount":{"type":"integer","description":"Number of base currency units, represented as an integer.\nFor example, $5.95 USD is represented as 595 (pennies).\n","format":"int32","example":595}},"required":["currency","amount"]},"status":{"type":"string","example":"completed","description":"Expected values are the following, but more can be added in future versions.\n- cancelled\n- completed\n- failed\n- new\n- pending"},"status_reason":{"type":"string","example":"insufficient_funds","description":"Expected values are the following, but more can be added in future versions.\n- insufficient_funds\n- subaccount_balance_exceeded\n- subaccount_closed"}},"required":["id","subaccount_id","amount","status"]}}}}}}},"/accounts/{account_id}/subaccounts/withdrawals/{withdrawal_id}":{"parameters":[{"name":"account_id","in":"path","description":"Id of the account","required":true,"schema":{"type":"string","example":"3c1cab9d-10f5-42fd-8662-99d2755b3d87"}},{"name":"withdrawal_id","in":"path","required":true,"description":"The ID of a withdrawal request","schema":{"type":"string","format":"uuid","example":"da49851d-7e64-4e6c-9ce0-9a822c8f74a1"}},{"name":"ns-request-id","in":"header","description":"UUID, generated by the client. Used to identify the request and must be unique for every request","required":true,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-request-flow-id","in":"header","description":"UUID, generated by the client. It is optional. Used by the client to group together multiple API requests that belong to a single user flow","required":false,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-session-id","in":"header","description":"UUID, generated by POST /sessions request, used to identify the user making the API request. This is optional but strongly recommended to be included with all API requests","required":false,"schema":{"type":"string","example":"f279cb3a-8152-4c13-9d99-61ff12ed31a1"}},{"name":"ns-location-id","in":"header","description":"ID of the partner's store or branch location, if applicable","required":false,"schema":{"type":"string","example":"EMPLOYEE_CARD_STORE"}},{"name":"ns-teller-id","in":"header","description":"ID of the teller at the partner's store location, if applicable","required":false,"schema":{"type":"string","example":"DE21"}}],"get":{"tags":["Subaccounts"],"summary":"Retrieve a subaccount withdrawal","description":"This endpoint returns the given withdrawal (`withdrawal_id`) from the given subaccount (`account_id`).","operationId":"getSubaccountWithdrawal","responses":{"200":{"description":"Subaccount transfer","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid","example":"1bb5708e-0b6c-4af9-8e86-d91d90d838ab"},"subaccount_id":{"type":"string","format":"uuid","example":"b3a94001-ed70-47e9-8b63-b2ec8f2d7a41"},"amount":{"type":"object","properties":{"currency":{"type":"string","description":"Use ISO-4217 currency code format","example":"USD"},"amount":{"type":"integer","description":"Number of base currency units, represented as an integer.\nFor example, $5.95 USD is represented as 595 (pennies).\n","format":"int32","example":595}},"required":["currency","amount"]},"status":{"type":"string","example":"completed","description":"Expected values are the following, but more can be added in future versions.\n- cancelled\n- completed\n- failed\n- new\n- pending"},"status_reason":{"type":"string","example":"insufficient_funds","description":"Expected values are the following, but more can be added in future versions.\n- insufficient_funds\n- subaccount_balance_exceeded\n- subaccount_closed"}},"required":["id","subaccount_id","amount","status"]}}}}}}},"/accounts/{account_id}/subaccounts/withdrawals/{withdrawal_id}/execute":{"parameters":[{"name":"account_id","in":"path","description":"Id of the account","required":true,"schema":{"type":"string","example":"3c1cab9d-10f5-42fd-8662-99d2755b3d87"}},{"name":"withdrawal_id","in":"path","required":true,"description":"The ID of a withdrawal request","schema":{"type":"string","format":"uuid","example":"da49851d-7e64-4e6c-9ce0-9a822c8f74a1"}},{"name":"ns-request-id","in":"header","description":"UUID, generated by the client. Used to identify the request and must be unique for every request","required":true,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-request-flow-id","in":"header","description":"UUID, generated by the client. It is optional. Used by the client to group together multiple API requests that belong to a single user flow","required":false,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-session-id","in":"header","description":"UUID, generated by POST /sessions request, used to identify the user making the API request. This is optional but strongly recommended to be included with all API requests","required":false,"schema":{"type":"string","example":"f279cb3a-8152-4c13-9d99-61ff12ed31a1"}},{"name":"ns-location-id","in":"header","description":"ID of the partner's store or branch location, if applicable","required":false,"schema":{"type":"string","example":"EMPLOYEE_CARD_STORE"}},{"name":"ns-teller-id","in":"header","description":"ID of the teller at the partner's store location, if applicable","required":false,"schema":{"type":"string","example":"DE21"}}],"post":{"tags":["Subaccounts"],"summary":"Execute a subaccount withdrawal","description":"This endpoint executes a request to withdraw funds from the subaccount (`account_id`) to the primary account.\nNote: The endpoint will execute the withdrawal if it has passed validation according to results from `POST /account/{account_id}/subaccounts/withdrawals`.","operationId":"executeSubaccountWithdrawal","responses":{"200":{"description":"Subaccount transfer in completed state","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid","example":"1bb5708e-0b6c-4af9-8e86-d91d90d838ab"},"subaccount_id":{"type":"string","format":"uuid","example":"b3a94001-ed70-47e9-8b63-b2ec8f2d7a41"},"amount":{"type":"object","properties":{"currency":{"type":"string","description":"Use ISO-4217 currency code format","example":"USD"},"amount":{"type":"integer","description":"Number of base currency units, represented as an integer.\nFor example, $5.95 USD is represented as 595 (pennies).\n","format":"int32","example":595}},"required":["currency","amount"]},"status":{"type":"string","example":"completed","description":"Expected values are the following, but more can be added in future versions.\n- cancelled\n- completed\n- failed\n- new\n- pending"},"status_reason":{"type":"string","example":"insufficient_funds","description":"Expected values are the following, but more can be added in future versions.\n- insufficient_funds\n- subaccount_balance_exceeded\n- subaccount_closed"}},"required":["id","subaccount_id","amount","status"]}}}}}}},"/accounts/{account_id}/subaccounts/withdrawals/{withdrawal_id}/cancel":{"parameters":[{"name":"account_id","in":"path","description":"Id of the account","required":true,"schema":{"type":"string","example":"3c1cab9d-10f5-42fd-8662-99d2755b3d87"}},{"name":"withdrawal_id","in":"path","required":true,"description":"The ID of a withdrawal request","schema":{"type":"string","format":"uuid","example":"da49851d-7e64-4e6c-9ce0-9a822c8f74a1"}},{"name":"ns-request-id","in":"header","description":"UUID, generated by the client. Used to identify the request and must be unique for every request","required":true,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-request-flow-id","in":"header","description":"UUID, generated by the client. It is optional. Used by the client to group together multiple API requests that belong to a single user flow","required":false,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-session-id","in":"header","description":"UUID, generated by POST /sessions request, used to identify the user making the API request. This is optional but strongly recommended to be included with all API requests","required":false,"schema":{"type":"string","example":"f279cb3a-8152-4c13-9d99-61ff12ed31a1"}},{"name":"ns-location-id","in":"header","description":"ID of the partner's store or branch location, if applicable","required":false,"schema":{"type":"string","example":"EMPLOYEE_CARD_STORE"}},{"name":"ns-teller-id","in":"header","description":"ID of the teller at the partner's store location, if applicable","required":false,"schema":{"type":"string","example":"DE21"}}],"post":{"tags":["Subaccounts"],"summary":"Cancel a subaccount withdrawal","description":"This endpoint cancels the `withdrawal_id` related to the given subaccount `account_id`.\nNote: This endpoint can only cancel a withdrawal that has not been executed.","operationId":"cancelSubaccountWithdrawal","responses":{"200":{"description":"Subaccount transfer in cancelled state","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid","example":"1bb5708e-0b6c-4af9-8e86-d91d90d838ab"},"subaccount_id":{"type":"string","format":"uuid","example":"b3a94001-ed70-47e9-8b63-b2ec8f2d7a41"},"amount":{"type":"object","properties":{"currency":{"type":"string","description":"Use ISO-4217 currency code format","example":"USD"},"amount":{"type":"integer","description":"Number of base currency units, represented as an integer.\nFor example, $5.95 USD is represented as 595 (pennies).\n","format":"int32","example":595}},"required":["currency","amount"]},"status":{"type":"string","example":"completed","description":"Expected values are the following, but more can be added in future versions.\n- cancelled\n- completed\n- failed\n- new\n- pending"},"status_reason":{"type":"string","example":"insufficient_funds","description":"Expected values are the following, but more can be added in future versions.\n- insufficient_funds\n- subaccount_balance_exceeded\n- subaccount_closed"}},"required":["id","subaccount_id","amount","status"]}}}}}}},"/people":{"parameters":[{"name":"ns-request-id","in":"header","description":"UUID, generated by the client. Used to identify the request and must be unique for every request","required":true,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-request-flow-id","in":"header","description":"UUID, generated by the client. It is optional. Used by the client to group together multiple API requests that belong to a single user flow","required":false,"schema":{"type":"string","example":"1adade53-6542-4d12-a365-887eb747eec5"}},{"name":"ns-session-id","in":"header","description":"UUID, generated by POST /sessions request, used to identify the user making the API request. This is optional but strongly recommended to be included with all API requests","required":false,"schema":{"type":"string","example":"f279cb3a-8152-4c13-9d99-61ff12ed31a1"}},{"name":"ns-location-id","in":"header","description":"ID of the partner's store or branch location, if applicable","required":false,"schema":{"type":"string","example":"EMPLOYEE_CARD_STORE"}},{"name":"ns-teller-id","in":"header","description":"ID of the teller at the partner's store location, if applicable","required":false,"schema":{"type":"string","example":"DE21"}}],"post":{"tags":["People"],"summary":"Create a new person for a new or existing account","operationId":"createPerson","description":"This endpoint creates a new person on the Netspend platform.\n\nNotes:\n\n- The `encrypted_data` body parameter contains Personally Identifiable Information (PII) such as `date_of_birth` or `government_id`.\n\n- The `identity_context` passed in the request body provides instructions on how to link the person. If the person is to be added to an existing account, then provide an `account_id`.\n\n- If sufficient data is provided in the request, then the server will perform an OFAC and/or KYC verification.\n\n- A failed OFAC or KYC check will *not* cause the request to fail.\n","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"identity_context":{"type":"object","properties":{"type":{"type":"string","example":"account_id","description":"Expected values are the following, but more can be added in future versions.\n- account_id"},"value":{"type":"string","example":"3c1cab9d-10f5-42fd-8662-99d2755b3d87"}},"required":["type","value"]},"relationship":{"type":"string","example":"primary","description":"Expected values are the following, but more can be added in future versions.\n- primary\n- secondary"},"first_name":{"type":"string","example":"John"},"middle_name":{"type":"string","example":"D."},"last_name":{"type":"string","example":"Sweeney"},"residence_address":{"type":"object","properties":{"line1":{"type":"string","example":"123 Fake Street"},"line2":{"type":"string","example":"Apt 150"},"city":{"type":"string","example":"Austin"},"state_or_region":{"type":"string","example":"TX"},"postal_code":{"type":"string","example":"78701"},"country":{"type":"string","description":"Use ISO 3166-1 alpha-2 format.","example":"US","maxLength":2,"default":"US"}},"required":["line1","postal_code"]},"shipping_address":{"type":"object","properties":{"line1":{"type":"string","example":"123 Fake Street"},"line2":{"type":"string","example":"Apt 150"},"city":{"type":"string","example":"Austin"},"state_or_region":{"type":"string","example":"TX"},"postal_code":{"type":"string","example":"78701"},"country":{"type":"string","description":"Use ISO 3166-1 alpha-2 format.","example":"US","maxLength":2,"default":"US"}},"required":["line1","postal_code"]},"phone":{"type":"object","properties":{"country_code":{"type":"string","description":"Country code","example":"1"},"number":{"type":"string","example":"5125551234"},"verified":{"type":"string","description":"Whether Netspend or the partner has verified the correctness of the phone. Expected values are the following, but more can be added in future versions.\n- verified\n- unverified\n- unknown","default":"unknown"}},"required":["country_code","number"]},"email_address":{"type":"object","properties":{"address":{"type":"string","example":"me@example.com"},"verified":{"type":"string","description":"Whether Netspend or the partner has verified the correctness of the email address. Expected values are the following, but more can be added in future versions.\n- verified\n- unverified\n- unknown","default":"unknown"}},"required":["address"]},"form_w9":{"type":"string","example":"required","description":"Expected values are the following, but more can be added in future versions.\n- required\n- not_required\n- unknown"},"backup_withholding":{"type":"string","example":"required","description":"Expected values are the following, but more can be added in future versions.\n- required\n- not_required\n- unknown"},"w9_compliant":{"type":"string","example":"true","deprecated":true,"description":"Expected values are the following, but more can be added in future versions.\n- true\n- false\n- unknown"},"backup_withholding_exempt":{"type":"string","example":"true","deprecated":true,"description":"Expected values are the following, but more can be added in future versions.\n- true\n- false\n- unknown"},"encrypted_data":{"type":"string","example":"<< encrypted data - see #/PersonRequestEncryptedData >>"}},"required":["identity_context","relationship","first_name","last_name"]}}}},"responses":{"200":{"description":"Personal data","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","example":"c09499da-95be-4ba7-acc4-dc7c462b9be6"},"account_id":{"type":"string","example":"3c1cab9d-10f5-42fd-8662-99d2755b3d87"},"status":{"type":"string","example":"applicant","description":"Expected values are the following\n- active\n- applicant\n- detached"},"relationship":{"type":"string","example":"primary","description":"Expected values are the following, but more can be added in future versions.\n- primary\n- secondary"},"first_name":{"type":"string","example":"John"},"middle_name":{"type":"string","example":"D."},"last_name":{"type":"string","example":"Sweeney"},"residence_address":{"type":"object","properties":{"line1":{"type":"string","example":"123 Fake Street"},"line2":{"type":"string","example":"Apt 150"},"city":{"type":"string","example":"Austin"},"state_or_region":{"type":"string","example":"TX"},"postal_code":{"type":"string","example":"78701"},"country":{"type":"string","description":"Use ISO 3166-1 alpha-2 format.","example":"US","maxLength":2,"default":"US"}},"required":["line1","postal_code"]},"shipping_address":{"type":"object","properties":{"line1":{"type":"string","example":"123 Fake Street"},"line2":{"type":"string","example":"Apt 150"},"city":{"type":"string","example":"Austin"},"state_or_region":{"type":"string","example":"TX"},"postal_code":{"type":"string","example":"78701"},"country":{"type":"string","description":"Use ISO 3166-1 alpha-2 format.","example":"US","maxLength":2,"default":"US"}},"required":["line1","postal_code"]},"phone":{"type":"object","properties":{"country_code":{"type":"string","description":"Country code","example":"1"},"number":{"type":"string","example":"5125551234"},"verified":{"type":"string","description":"Whether Netspend or the partner has verified the correctness of the phone. Expected values are the following, but more can be added in future versions.\n- verified\n- unverified\n- unknown","default":"unknown"}},"required":["country_code","number"]},"email_address":{"type":"object","properties":{"address":{"type":"string","example":"me@example.com"},"verified":{"type":"string","description":"Whether Netspend or the partner has verified the correctness of the email address. Expected values are the following, but more can be added in future versions.\n- verified\n- unverified\n- unknown","default":"unknown"}},"required":["address"]},"form_w9":{"type":"string","example":"required","description":"Expected values are the following, but more can be added in future versions.\n- required\n- not_required\n- unknown"},"backup_withholding":{"type":"string","example":"required","description":"Expected values are the following, but more can be added in future versions.\n- required\n- not_required
[...]
