{"openapi":"3.1.0","info":{"title":"Sandbox Open API","version":"3.2.1"},"servers":[{"url":"https://api.paystand.co/v3"}],"components":{"securitySchemes":{}},"security":[{}],"paths":{"/assurety/public/contracts/abi/{address}":{"get":{"summary":"Retrieve an ABI","description":"","operationId":"get-a-contract-spec","parameters":[{"name":"address","in":"path","description":"The contract address","schema":{"type":"string","default":"0x5c75E2EB5492aB808b29529e406F26F9CAD21fD2"},"required":true}],"responses":{"200":{"description":"200","content":{"text/plain":{"examples":{"Result":{"value":"\"[{\"constant\":true,\"inputs\":[],\"name\":\"sayHello\",\"outputs\":[{\"name\":\"\",\"type\":\"string\"}],\"payable\":false,\"stateMutability\":\"pure\",\"type\":\"function\"}]\""}}}}}},"deprecated":false}},"/assurety/public/imprint/{address}/{token}":{"get":{"summary":"Retrieve an Imprint","description":"","operationId":"get-an-imprint","parameters":[{"name":"address","in":"path","description":"The address of the contract","schema":{"type":"string","default":"0x5c75E2EB5492aB808b29529e406F26F9CAD21fD2"},"required":true},{"name":"token","in":"path","description":"The token to get an imprint of","schema":{"type":"string","default":"1"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"imprint\": \"0x642c19d1a7f27bbe601defe6d730ea321d60b156d73fc814bd62ce8ed8640b5d\"\n}"}},"schema":{"type":"object","properties":{"imprint":{"type":"string","example":"0x642c19d1a7f27bbe601defe6d730ea321d60b156d73fc814bd62ce8ed8640b5d"}}}}}}},"deprecated":false}},"/assurety/public/contracts/schema/{address}":{"get":{"summary":"Retrieve a Schema","description":"","operationId":"retrieve-a-contract-schema","parameters":[{"name":"address","in":"path","description":"The contract address","schema":{"type":"string","default":"0x5c75E2EB5492aB808b29529e406F26F9CAD21fD2"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"properties\": {\n    \"@type\": {\n      \"type\": \"string\"\n    },\n    \"hello\": {\n      \"type\": \"string\"\n    }\n  },\n  \"type\": \"object\"\n}"}},"schema":{"type":"object","properties":{"properties":{"type":"object","properties":{"@type":{"type":"object","properties":{"type":{"type":"string","example":"string"}}},"hello":{"type":"object","properties":{"type":{"type":"string","example":"string"}}}}},"type":{"type":"string","example":"object"}}}}}}},"deprecated":false}},"/assurety/public/tokens/{address}/{token}":{"get":{"summary":"Retrieve a Token","description":"","operationId":"retrieve-a-token","parameters":[{"name":"address","in":"path","description":"The contract address where the token is stored","schema":{"type":"string","default":"0x5c75E2EB5492aB808b29529e406F26F9CAD21fD2"},"required":true},{"name":"token","in":"path","description":"The token to get an imprint of","schema":{"type":"string","default":"1"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"token\": \"1\",\n  \"address\": \"0x5c75E2EB5492aB808b29529e406F26F9CAD21fD2\",\n  \"name\": \"Payment Posted\",\n  \"description\": \"The payment has been posted.\"\n}"}},"schema":{"type":"object","properties":{"token":{"type":"string","example":"1"},"address":{"type":"string","example":"0x5c75E2EB5492aB808b29529e406F26F9CAD21fD2"},"name":{"type":"string","example":"Payment Posted"},"description":{"type":"string","example":"The payment has been posted."}}}}}}},"deprecated":false}},"/oauth/token":{"post":{"summary":"Create an access token","description":"","operationId":"create-an-access-token","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"RAW_BODY":{"type":"object","properties":{}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"access_token\": \"d861a41675f645a2b9bcd27\",\n  \"expires_in\": 1209600,\n  \"scope\": \"auth\",\n  \"refresh_token\": \"f20c7998e3684b8a80e77fba\",\n  \"token_type\": \"Bearer\"\n}"}},"schema":{"type":"object","properties":{"access_token":{"type":"string","example":"d861a41675f645a2b9bcd27"},"expires_in":{"type":"integer","example":1209600,"default":0},"scope":{"type":"string","example":"auth"},"refresh_token":{"type":"string","example":"f20c7998e3684b8a80e77fba"},"token_type":{"type":"string","example":"Bearer"}}}}}}},"deprecated":false}}},"x-readme":{"headers":[{"key":"Content-Type","value":"application/json"},{"key":"Accept","value":"application/json"}],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}