{"openapi":"3.0.0","info":{"version":"2.0.0","title":"Currencies API","contact":{"name":"DNB Open Banking","url":"https://developer.dnb.no/help-center"},"license":{"name":"See terms of use.","url":"https://developer.dnb.no/terms-of-use"}},"servers":[{"url":"https://developer-api-testmode.dnb.no/currencies","description":"Test mode"},{"url":"https://developer-api.dnb.no/currencies","description":"Live mode"}],"paths":{"/v2/convert/{quoteCurrency}":{"get":{"summary":"Get list of currency rates.","description":"Returns a list of currency rates. against the specified quote currency.\\\nEx: 1 EUR is exchangeable for 9.5 NOK. EUR is the base currency, NOK is the quote currency.\n\n**NOTE**: Rates are updated approximately at 10:00 on weekdays.","operationId":"getExchangeRates","parameters":[{"name":"quoteCurrency","in":"path","description":"ISO 4217: alpha 3-letter string e.g ```NOK```.\\\nAvailable values: NOK, SEK, DKK, EUR, GBP for quote currency","required":true,"schema":{"type":"string"}},{"name":"x-api-key","in":"header","description":"The API key from your app page in DNB Developer.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully fetched","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExchangeRateResponse"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v2/{buyCurrency}/convert/{sellCurrency}":{"get":{"summary":"Get currency conversion rate","description":"Convert from one currency to another.\\\nExample 1: USD/convert/EUR?buyAmount=200\\\nReads as: Transfer rates, buying 200 USD from a EUR account.\\\nExample 2: USD/convert/EUR?sellAmount=200\\\nReads as: Transfer rates, buying USD from a EUR account, spending 200 EUR.\\\nEither buy amount or sell amount has to be present. Sending both is not allowed.","operationId":"getConversionRate","parameters":[{"name":"buyCurrency","in":"path","description":"ISO 4217: alpha 3-letter e.g ```EUR```.","required":true,"schema":{"type":"string"}},{"name":"sellCurrency","in":"path","description":"ISO 4217: alpha 3-letter e.g ```NOK```.","required":true,"schema":{"type":"string"}},{"name":"rateType","in":"query","description":"Type of rate.\\\nTRANSFER (default) is used for electronic transfer of currencies.\\\n CASH is used for physical transactions","required":false,"schema":{"type":"string","default":"TRANSFER"}},{"name":"buyAmount","in":"query","description":"The amount of baseCurrency to buy/aquire/credit. buyAmount/sellAmount can't be set at the same time.","required":false,"schema":{"type":"string"}},{"name":"sellAmount","in":"query","description":"The amount of baseCurrency to sell/transfer/debit.","required":false,"schema":{"type":"string"}},{"name":"quoteCurrency","in":"query","description":"ISO-4217 Currency code for the request origin.\\\nDoing a transaction between two currencies might have a slightly different rate depending on the country/branch doing the exchange. Default is NOK.\\\nAvailable values : NOK, SEK, DKK, EUR, GBP","required":false,"schema":{"type":"string","default":"NOK"}},{"name":"x-api-key","in":"header","description":"The API key from your app page in DNB Developer.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully fetched","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConversionResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"ConversionResponse":{"type":"object","required":["buyAmount","buyCurrency","denominatorCurrency","quoteCurrency","rate","rateType","rateUpdateTime","sellAmount","sellCurrency"],"properties":{"denominatorCurrency":{"type":"string","example":"EUR","description":"Describes the fraction and the direction of `rate`.\n\n`numerator / denominator` in the example `NZD / USD` makes the currency pair.\\\nUseful for cross currency - when both `buyCurrency` and `sellCurrency` are different from `quoteCurrency`.\n\n`denominatorCurrency` will have the same value as `buyCurrency` or `sellCurrency`.","minLength":3,"maxLength":3},"buyAmount":{"type":"number","example":1,"description":"The amount for the `buyCurrency`."},"buyCurrency":{"type":"string","example":"EUR","description":"ISO 4217: alpha 3-letter: https://www.iso.org/iso-4217-currency-codes.html","minLength":3,"maxLength":3},"quoteCurrency":{"type":"string","example":"NOK","description":"ISO 4217: alpha 3-letter: https://www.iso.org/iso-4217-currency-codes.html","minLength":3,"maxLength":3},"rate":{"type":"number","example":8.6816,"description":"Rate where the `unit` is 1.\n\nNote: Will be quoted based on `quoteCurrency`.\\\n"},"rateType":{"type":"string","description":"Can be either TRANSFER or CASH"},"rateUpdateTime":{"type":"string","example":"2019-04-29 09:00:00.0","description":"When the rate was set."},"rateWithUnit":{"type":"number","example":1,"description":"Rate is multiplied by `unit`. When `unit` is `1`, this value will be the same as `rate`.\n\nFor some combinations of currencies, the unit is 1, others 100.\n\nNote: Will be quoted based on `quoteCurrency`.\\\n"},"sellAmount":{"type":"number","example":1,"description":"The amount for the `sellCurrency`."},"sellCurrency":{"type":"string","example":"EUR","description":"ISO 4217: alpha 3-letter: https://www.iso.org/iso-4217-currency-codes.html","minLength":3,"maxLength":3}}},"CurrencyRateResponse":{"type":"object","required":["amount","baseCurrency","buyRateTransfer","quoteCurrency"],"properties":{"baseCurrency":{"type":"string","example":"EUR","description":"ISO 4217: alpha 3-letter: https://www.iso.org/iso-4217-currency-codes.html","minLength":3,"maxLength":3},"quoteCurrency":{"type":"string","example":"NOK","description":"ISO 4217: alpha 3-letter: https://www.iso.org/iso-4217-currency-codes.html","minLength":3,"maxLength":3},"country":{"type":"string","example":"EU","description":"Country corresponding to the `baseCurrency`."},"updatedDate":{"type":"string","example":"2019-04-29 09:00:00.0","description":"Date when the rate was last refreshed."},"amount":{"type":"number","example":1,"description":"The amount for the `baseCurrency`."},"buyRateTransfer":{"type":"number","example":8.7141,"description":"Rate the customer gets for buying the `baseCurrency` (transfer)."},"sellRateTransfer":{"type":"number","example":8.6491,"description":"Rate the customer gets for selling the `baseCurrency` (transfer)."},"midRate":{"type":"number","example":8.6816,"description":"Middle rate for the exchange from `baseCurrency` to `quoteCurrency` (transfer)."},"changeInMidRate":{"type":"number","example":0.0195,"description":"Change in middle rate. (transfer)"},"previousMidRate":{"type":"number","example":8.6621,"description":"Middle rate for the day before `updatedDate` (transfer)."},"buyRateCash":{"type":"number","example":9.0508,"description":"Rate the customer gets for buying the `baseCurrency` (cash)."},"sellRateCash":{"type":"number","example":8.3224,"description":"Rate the customer gets for selling the `baseCurrency` (cash)."}}},"Error":{"type":"object","required":["code","detail","title"],"properties":{"code":{"type":"string","description":"Six digit error code referencing a specific error for an API."},"path":{"type":"string","description":"Requested path that caused the error."},"source":{"$ref":"#/components/schemas/Source"},"title":{"type":"string","description":"Brief description of the error."},"detail":{"type":"string","description":"Details about the cause of this error (or errors)."},"doc":{"type":"string","description":"URI to developer documentation for this error."}}},"ErrorResponse":{"type":"object","properties":{"errors":{"type":"array","description":"List of errors.","items":{"$ref":"#/components/schemas/Error"}}}},"ExchangeRateResponse":{"type":"object","required":["country","currency","quoteCurrency","unit","updatedDate"],"properties":{"currency":{"type":"string","example":"EUR","description":"ISO 4217: alpha 3-letter: https://www.iso.org/iso-4217-currency-codes.html","minLength":3,"maxLength":3},"country":{"type":"string","example":"EU","description":"Country corresponding to the `baseCurrency`."},"quoteCurrency":{"type":"string","example":"NOK","description":"ISO 4217: alpha 3-letter: https://www.iso.org/iso-4217-currency-codes.html","minLength":3,"maxLength":3},"unit":{"type":"integer","format":"int32","example":100,"description":"The unit for the `baseCurrency`."},"updatedDate":{"type":"string","example":"2019-04-29 09:00:00.0","description":"Date and time when the rate was last refreshed.\n\nNotation as defined by [RFC 3339, section 5.6](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6).\\\n"},"buyRateCash":{"type":"number","example":9.0508,"description":"Rate the customer gets for buying the `baseCurrency` (`CASH`)."},"buyRateTransfer":{"type":"number","example":8.7141,"description":"Rate the customer gets for buying the `baseCurrency` (`TRANSFER`)."},"changeInMidRate":{"type":"number","example":0.0195,"description":"Change in middle rate."},"midRate":{"type":"number","example":8.6816,"description":"Middle rate for the exchange from `baseCurrency` to `quoteCurrency`."},"previousMidRate":{"type":"number","example":8.6816,"description":"Middle rate for the day before `updatedDate`."},"sellRateCash":{"type":"number","example":8.3224,"description":"Rate the customer gets for selling the `baseCurrency` (`CASH`)."},"sellRateTransfer":{"type":"number","example":8.6491,"description":"Rate the customer gets for selling the `baseCurrency` (`TRANSFER`)."}}},"Source":{"type":"object","properties":{"type":{"type":"string","description":"Source type.","enum":["HEADER","QUERY_PARAMETER","PATH_VARIABLE","BODY_CONTENT"]},"name":{"type":"string","description":"Source name."}}}}}}