{"openapi":"3.1.0","info":{"title":"OpenPayd API","version":"1.0"},"servers":[{"url":"https://sandbox.openpayd.com/api"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","name":"Authorization","x-bearer-format":"bearer"}}},"security":[{"sec0":[]}],"paths":{"/accounts":{"post":{"summary":"Create Account","description":"Create an account for an individual or corporate.","operationId":"create-account","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["currency"],"properties":{"currency":{"type":"string","description":"Three-letter [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) currency code in which you want to create an account. e.g. `EUR`"},"friendlyName":{"type":"string","description":"User friendly name to easily identify an account. e.g. `Billing Account`"},"accountId":{"type":"string","description":"Only applicable to Multi Currency accounts. If the `id` of an existing Account is provided, the new Account will be created with same IBAN for the requested currency as that of the provided `accountId`."},"domestic":{"type":"boolean","description":"Applicable to `GBP` accounts on LHV Bank only.<br>`false` by default to create SWIFT capable `GBP` accounts. `true` for Domestic accounts for access to Faster Payments."},"ibanCountry":{"type":"string","description":"Two-letter ISO 3166-1 alpha-2 country code e.g. GB"},"endToEndReference":{"type":"string"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": \"dEVreXhHWGppSzJyNmlRRTRhY2hvUT09\",\n    \"createdOn\": \"2023-09-12T09:46:19.124Z\",\n    \"status\": \"PENDING\",\n    \"actualBalance\": {\n        \"value\": 0.00,\n        \"currency\": \"EUR\"\n    },\n    \"availableBalance\": {\n        \"value\": 0.00,\n        \"currency\": \"EUR\"\n    },\n    \"friendlyName\": \"EUR Account\",\n    \"master\": false,\n    \"primary\": false,\n    \"accountHolderId\": \"ed7b1909-0091-4e39-aa1f-673059a431c4\",\n    \"transactionCategory\": \"OTHER\",\n    \"accountHolderType\": null,\n    \"mobileNumber\": null,\n    \"supportMccy\": false,\n    \"internalAccountId\": \"EUR05321124868470\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"dEVreXhHWGppSzJyNmlRRTRhY2hvUT09"},"createdOn":{"type":"string","example":"2023-09-12T09:46:19.124Z"},"status":{"type":"string","example":"PENDING"},"actualBalance":{"type":"object","properties":{"value":{"type":"integer","example":0,"default":0},"currency":{"type":"string","example":"EUR"}}},"availableBalance":{"type":"object","properties":{"value":{"type":"integer","example":0,"default":0},"currency":{"type":"string","example":"EUR"}}},"friendlyName":{"type":"string","example":"EUR Account"},"master":{"type":"boolean","example":false,"default":true},"primary":{"type":"boolean","example":false,"default":true},"accountHolderId":{"type":"string","example":"ed7b1909-0091-4e39-aa1f-673059a431c4"},"transactionCategory":{"type":"string","example":"OTHER"},"accountHolderType":{},"mobileNumber":{},"supportMccy":{"type":"boolean","example":false,"default":true},"internalAccountId":{"type":"string","example":"EUR05321124868470"}}}}}}},"deprecated":false},"get":{"summary":"List Accounts","description":"Get a list of all accounts filtered by various params.","operationId":"list-accounts","parameters":[{"name":"accountNumber","in":"query","description":"`internalAccountId` of an account.","schema":{"type":"string"}},{"name":"currency","in":"query","description":"Three-letter [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) currency code of the account. e.g. `EUR`","schema":{"type":"string"}},{"name":"currencyExcluding","in":"query","description":"One or more currencies to exclude from the search e.g. `EUR,USD`","schema":{"type":"string"}},{"name":"friendlyName","in":"query","schema":{"type":"string"}},{"name":"iban","in":"query","description":"`iban` from the `bank-account` associated with the account.","schema":{"type":"string"}},{"name":"balanceFrom","in":"query","description":"Balance greater than or equal to the specified value.","schema":{"type":"number","format":"float"}},{"name":"balanceTo","in":"query","description":"Balance lower than or equal to the specified value.","schema":{"type":"number","format":"float"}},{"name":"search","in":"query","description":"search using `iban` or `friendlyName`.","schema":{"type":"string"}},{"name":"status","in":"query","description":"`PENDING`, `ACTIVE`, `FAILED`, `SUSPENDED`, `CLOSED`","schema":{"type":"string"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sort","in":"query","description":"Sort by a parameter on the object. e.g. `status`","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"content\": [\n        {\n            \"id\": \"aTh2VVptWEU0eWhXSTFFU01vOElqUT09\",\n            \"createdOn\": \"2022-11-08T11:37:00.869Z\",\n            \"status\": \"ACTIVE\",\n            \"actualBalance\": {\n                \"value\": 999984.00,\n                \"currency\": \"EUR\"\n            },\n            \"availableBalance\": {\n                \"value\": 999984.00,\n                \"currency\": \"EUR\"\n            },\n            \"friendlyName\": \"eur account\",\n            \"master\": false,\n            \"primary\": true,\n            \"accountHolderId\": \"ed7b1909-0091-4e39-aa1f-673059a431c4\",\n            \"transactionCategory\": \"OTHER\",\n            \"accountHolderType\": null,\n            \"mobileNumber\": null,\n            \"supportMccy\": false,\n            \"internalAccountId\": \"EUR11675924614470\"\n        }\n    ],\n    \"pageable\": {\n        \"sort\": {\n            \"empty\": true,\n            \"sorted\": false,\n            \"unsorted\": true\n        },\n        \"offset\": 0,\n        \"pageNumber\": 0,\n        \"pageSize\": 1,\n        \"paged\": true,\n        \"unpaged\": false\n    },\n    \"totalElements\": 1,\n    \"totalPages\": 1,\n    \"last\": false,\n    \"size\": 1,\n    \"number\": 0,\n    \"sort\": {\n        \"empty\": true,\n        \"sorted\": false,\n        \"unsorted\": true\n    },\n    \"numberOfElements\": 1,\n    \"first\": true,\n    \"empty\": false\n}"}},"schema":{"type":"object","properties":{"content":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"aTh2VVptWEU0eWhXSTFFU01vOElqUT09"},"createdOn":{"type":"string","example":"2022-11-08T11:37:00.869Z"},"status":{"type":"string","example":"ACTIVE"},"actualBalance":{"type":"object","properties":{"value":{"type":"integer","example":999984,"default":0},"currency":{"type":"string","example":"EUR"}}},"availableBalance":{"type":"object","properties":{"value":{"type":"integer","example":999984,"default":0},"currency":{"type":"string","example":"EUR"}}},"friendlyName":{"type":"string","example":"eur account"},"master":{"type":"boolean","example":false,"default":true},"primary":{"type":"boolean","example":true,"default":true},"accountHolderId":{"type":"string","example":"ed7b1909-0091-4e39-aa1f-673059a431c4"},"transactionCategory":{"type":"string","example":"OTHER"},"accountHolderType":{},"mobileNumber":{},"supportMccy":{"type":"boolean","example":false,"default":true},"internalAccountId":{"type":"string","example":"EUR11675924614470"}}}},"pageable":{"type":"object","properties":{"sort":{"type":"object","properties":{"empty":{"type":"boolean","example":true,"default":true},"sorted":{"type":"boolean","example":false,"default":true},"unsorted":{"type":"boolean","example":true,"default":true}}},"offset":{"type":"integer","example":0,"default":0},"pageNumber":{"type":"integer","example":0,"default":0},"pageSize":{"type":"integer","example":1,"default":0},"paged":{"type":"boolean","example":true,"default":true},"unpaged":{"type":"boolean","example":false,"default":true}}},"totalElements":{"type":"integer","example":1,"default":0},"totalPages":{"type":"integer","example":1,"default":0},"last":{"type":"boolean","example":false,"default":true},"size":{"type":"integer","example":1,"default":0},"number":{"type":"integer","example":0,"default":0},"sort":{"type":"object","properties":{"empty":{"type":"boolean","example":true,"default":true},"sorted":{"type":"boolean","example":false,"default":true},"unsorted":{"type":"boolean","example":true,"default":true}}},"numberOfElements":{"type":"integer","example":1,"default":0},"first":{"type":"boolean","example":true,"default":true},"empty":{"type":"boolean","example":false,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/accounts/{id}":{"get":{"summary":"Get Account","description":"Get an account by its encrypted id.","operationId":"get-account","parameters":[{"name":"id","in":"path","description":"Encrypted `id` (e.g.`cWc4SktyWlkxM0hwcmdYe6FMdXRSQT09`) or `internalAccountId` (e.g. `EUR12345678910112` of the account.","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": \"TE9WeVBQaXBFVU5zNWtPYjNUdFZiUT09\",\n    \"createdOn\": \"2022-11-08T11:37:00.869Z\",\n    \"status\": \"ACTIVE\",\n    \"actualBalance\": {\n        \"value\": 0,\n        \"currency\": \"EUR\"\n    },\n    \"availableBalance\": {\n        \"value\": 0,\n        \"currency\": \"EUR\"\n    },\n    \"friendlyName\": \"eur account\",\n    \"master\": false,\n    \"primary\": true,\n    \"accountHolderId\": \"ed7b1909-0091-4e39-aa1f-673059a431c4\",\n    \"transactionCategory\": \"OTHER\",\n    \"accountHolderType\": null,\n    \"mobileNumber\": null,\n    \"supportMccy\": false,\n    \"internalAccountId\": \"EUR11675924614470\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"TE9WeVBQaXBFVU5zNWtPYjNUdFZiUT09"},"createdOn":{"type":"string","example":"2022-11-08T11:37:00.869Z"},"status":{"type":"string","example":"ACTIVE"},"actualBalance":{"type":"object","properties":{"value":{"type":"integer","example":0,"default":0},"currency":{"type":"string","example":"EUR"}}},"availableBalance":{"type":"object","properties":{"value":{"type":"integer","example":0,"default":0},"currency":{"type":"string","example":"EUR"}}},"friendlyName":{"type":"string","example":"eur account"},"master":{"type":"boolean","example":false,"default":true},"primary":{"type":"boolean","example":true,"default":true},"accountHolderId":{"type":"string","example":"ed7b1909-0091-4e39-aa1f-673059a431c4"},"transactionCategory":{"type":"string","example":"OTHER"},"accountHolderType":{},"mobileNumber":{},"supportMccy":{"type":"boolean","example":false,"default":true},"internalAccountId":{"type":"string","example":"EUR11675924614470"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"put":{"summary":"Update Account","description":"Update the friendly name of an account.","operationId":"update-account","parameters":[{"name":"id","in":"path","description":"Encrypted id of the account. e.g.`cWc4SktyWlkxM0hwcmdYe6FMdXRSQT09`","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"friendlyName":{"type":"string"},"status":{"type":"string","description":"`ACTIVE, SUSPENDED, CLOSED`<br>**Caution:** Closing an Account is permanent and closed accounts cannot be activated again. Any Payins into closed accounts are automatically rejected."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": \"cEh0QTkxaURWUWovaUUwVnlodEtZdz09\",\n    \"createdOn\": \"2023-09-12T09:40:59.526Z\",\n    \"status\": \"SUSPENDED\",\n    \"actualBalance\": {\n        \"value\": 0.00,\n        \"currency\": \"EUR\"\n    },\n    \"availableBalance\": {\n        \"value\": 0.00,\n        \"currency\": \"EUR\"\n    },\n    \"friendlyName\": \"EUR Account\",\n    \"master\": false,\n    \"primary\": false,\n    \"accountHolderId\": \"ed7b1909-0091-4e39-aa1f-673059a431c4\",\n    \"transactionCategory\": \"OTHER\",\n    \"accountHolderType\": null,\n    \"mobileNumber\": null,\n    \"supportMccy\": false,\n    \"internalAccountId\": \"EUR17535747525470\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"cEh0QTkxaURWUWovaUUwVnlodEtZdz09"},"createdOn":{"type":"string","example":"2023-09-12T09:40:59.526Z"},"status":{"type":"string","example":"SUSPENDED"},"actualBalance":{"type":"object","properties":{"value":{"type":"integer","example":0,"default":0},"currency":{"type":"string","example":"EUR"}}},"availableBalance":{"type":"object","properties":{"value":{"type":"integer","example":0,"default":0},"currency":{"type":"string","example":"EUR"}}},"friendlyName":{"type":"string","example":"EUR Account"},"master":{"type":"boolean","example":false,"default":true},"primary":{"type":"boolean","example":false,"default":true},"accountHolderId":{"type":"string","example":"ed7b1909-0091-4e39-aa1f-673059a431c4"},"transactionCategory":{"type":"string","example":"OTHER"},"accountHolderType":{},"mobileNumber":{},"supportMccy":{"type":"boolean","example":false,"default":true},"internalAccountId":{"type":"string","example":"EUR17535747525470"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"},"Account Balance Must Be Zero":{"value":"{\n    \"errorCode\": \"ACCOUNT_BALANCE_MUST_BE_ZERO\",\n    \"message\": \"The Account balance must be 0 before it can be closed.\"\n}"},"Account Holder Required":{"value":"{\n    \"errorCode\": \"ACCOUNT_HOLDER_REQUIRED\",\n    \"message\": \"X-ACCOUNT-HOLDER-ID header not specified \"\n}"},"Account ID Mismatch":{"value":"{\n    \"errorCode\": \"BAD_REQUEST\",\n    \"errors\": [\n        {\n            \"defaultMessage\": \"Invalid property 'aTh2VVptWEU0eWhXSTFFU01vOElqUT08'\",\n            \"field\": \"id\",\n            \"code\": \"typeMismatch\"\n        }\n    ],\n    \"message\": \"Validation failed\"\n}"},"Invalid Status":{"value":"{\n    \"errorCode\": \"BAD_REQUEST\",\n    \"errors\": [\n        {\n            \"defaultMessage\": \"Invalid enum value 'test'. Allowed values: PENDING, ACTIVE, FAILED, SUSPENDED, CLOSED\",\n            \"field\": \"status\",\n            \"code\": \"typeMismatch\"\n        }\n    ],\n    \"message\": \"Validation failed\"\n}"}},"schema":{"oneOf":[{"type":"object","properties":{}},{"title":"Account Balance Must Be Zero","type":"object","properties":{"errorCode":{"type":"string","example":"ACCOUNT_BALANCE_MUST_BE_ZERO"},"message":{"type":"string","example":"The Account balance must be 0 before it can be closed."}}},{"title":"Account Holder Required","type":"object","properties":{"errorCode":{"type":"string","example":"ACCOUNT_HOLDER_REQUIRED"},"message":{"type":"string","example":"X-ACCOUNT-HOLDER-ID header not specified "}}},{"title":"Account ID Mismatch","type":"object","properties":{"errorCode":{"type":"string","example":"BAD_REQUEST"},"errors":{"type":"array","items":{"type":"object","properties":{"defaultMessage":{"type":"string","example":"Invalid property 'aTh2VVptWEU0eWhXSTFFU01vOElqUT08'"},"field":{"type":"string","example":"id"},"code":{"type":"string","example":"typeMismatch"}}}},"message":{"type":"string","example":"Validation failed"}}},{"title":"Invalid Status","type":"object","properties":{"errorCode":{"type":"string","example":"BAD_REQUEST"},"errors":{"type":"array","items":{"type":"object","properties":{"defaultMessage":{"type":"string","example":"Invalid enum value 'test'. Allowed values: PENDING, ACTIVE, FAILED, SUSPENDED, CLOSED"},"field":{"type":"string","example":"status"},"code":{"type":"string","example":"typeMismatch"}}}},"message":{"type":"string","example":"Validation failed"}}}]}}}}},"deprecated":false}},"/bank-accounts":{"get":{"summary":"List Bank Accounts","description":"Get a list of all bank accounts.","operationId":"list-bank-accounts","parameters":[{"name":"internalAccountId","in":"query","description":"`internalAccountId` of the bank account.<br>e.g. `EUR1813871080347`","schema":{"type":"string"}},{"name":"internalAccountIds","in":"query","description":"List of `internalAccountId`'s of the bank accounts.","schema":{"type":"array","items":{"type":"string"}}},{"name":"currency","in":"query","description":"Three-letter [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) currency code of the bank account. e.g. `EUR`","schema":{"type":"string"}},{"name":"status","in":"query","description":"`PENDING`, `ON_HOLD`, `ACTIVE`, `FAILED`, `CLOSED`","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"[\n    {\n        \"currency\": \"GBP\",\n        \"status\": \"ACTIVE\",\n        \"internalAccountId\": \"GBP12790694918470\",\n        \"bankCountry\": \"GB\",\n        \"bankAddress\": \"133 Houndsditch, LONDON EC3A 7BX, UNITED KINGDOM\",\n        \"iban\": \"GB59CLRB04051011326194\",\n        \"bic\": \"CLRBGB22\",\n        \"accountNumber\": \"11326194\",\n        \"bankName\": \"Clear Bank\",\n        \"bankAccountHolderName\": \"Company Name\",\n        \"provider\": \"CLEARBANK\",\n        \"paymentType\": null,\n        \"domestic\": null,\n        \"routingCodeEntries\": [\n            {\n                \"routingCodeKey\": \"SORT_CODE\",\n                \"routingCodeValue\": \"040510\"\n            }\n        ],\n        \"payInReference\": \"A11638158-1PPWYKP020\"\n    }\n]"}},"schema":{"type":"array","items":{"type":"object","properties":{"currency":{"type":"string","example":"GBP"},"status":{"type":"string","example":"ACTIVE"},"internalAccountId":{"type":"string","example":"GBP12790694918470"},"bankCountry":{"type":"string","example":"GB"},"bankAddress":{"type":"string","example":"133 Houndsditch, LONDON EC3A 7BX, UNITED KINGDOM"},"iban":{"type":"string","example":"GB59CLRB04051011326194"},"bic":{"type":"string","example":"CLRBGB22"},"accountNumber":{"type":"string","example":"11326194"},"bankName":{"type":"string","example":"Clear Bank"},"bankAccountHolderName":{"type":"string","example":"Company Name"},"provider":{"type":"string","example":"CLEARBANK"},"paymentType":{},"domestic":{},"routingCodeEntries":{"type":"array","items":{"type":"object","properties":{"routingCodeKey":{"type":"string","example":"SORT_CODE"},"routingCodeValue":{"type":"string","example":"040510"}}}},"payInReference":{"type":"string","example":"A11638158-1PPWYKP020"}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/beneficiaries":{"post":{"summary":"Create Beneficiary","description":"Create a new parent beneficiary.","operationId":"create-parent-beneficiary","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["beneficiaryType","friendlyName"],"properties":{"beneficiaryType":{"type":"string","description":"Type of the beneficiary.<br>`CORPORATE`, `RETAIL`"},"friendlyName":{"type":"string","description":"User friendly name for the beneficiary for easy of identification."},"companyName":{"type":"string","description":"Required if `beneficiaryType` is `CORPORATE`."},"firstName":{"type":"string","description":"Required if `beneficiaryType` is `RETAIL`."},"lastName":{"type":"string","description":"Required if `beneficiaryType` is `RETAIL`."},"title":{"type":"string","description":"Optional Title of the individual beneficiary e.g. Mr., Miss. etc."},"tag":{"type":"string","description":"Indicates if the beneficiary is the account holder or a third party.<br>`THIRD_PARTY`, `SELF`"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": \"c04a2985-2e65-4c5b-ba20-2f29a6f6c235\",\n  \"beneficiaryType\": \"RETAIL\",\n  \"tag\": \"SELF\",\n  \"accountHolderId\": \"71a32bf6-f190-4c19-8afa-6a1679829cb7\",\n  \"title\": \"Mr.\",\n  \"firstName\": \"John\",\n  \"lastName\": \"Doe\",\n  \"friendlyName\": \"My Beneficiary\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"c04a2985-2e65-4c5b-ba20-2f29a6f6c235"},"beneficiaryType":{"type":"string","example":"RETAIL"},"tag":{"type":"string","example":"SELF"},"accountHolderId":{"type":"string","example":"71a32bf6-f190-4c19-8afa-6a1679829cb7"},"title":{"type":"string","example":"Mr."},"firstName":{"type":"string","example":"John"},"lastName":{"type":"string","example":"Doe"},"friendlyName":{"type":"string","example":"My Beneficiary"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"get":{"summary":"List Beneficiaries","description":"Get a list of all parent beneficiaries filtered by various params.","operationId":"list-beneficiaries","parameters":[{"name":"beneficiaryType","in":"query","description":"Type of the beneficiary.<br>`CORPORATE`, `RETAIL`","schema":{"type":"string"}},{"name":"companyName","in":"query","schema":{"type":"string"}},{"name":"title","in":"query","schema":{"type":"string"}},{"name":"firstName","in":"query","schema":{"type":"string"}},{"name":"lastName","in":"query","schema":{"type":"string"}},{"name":"tag","in":"query","description":"Indicates if the beneficiary is the account holder or a third party.<br>`THIRD_PARTY`, `SELF`","schema":{"type":"string"}},{"name":"query","in":"query","description":"First name or last name of the parent beneficiary.","schema":{"type":"string"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sort","in":"query","description":"Sort by a parameter on the object. e.g. `firstName,asc` or `firstName,desc`","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"content\": [\n    {\n      \"beneficiaryType\": \"RETAIL\",\n      \"id\": \"676c1be9-cab9-4b23-bd20-b30daa77ed9d\",\n      \"accountHolderId\": \"71a32bf6-f190-4c19-8afa-6a1679829cb7\",\n      \"title\": \"Mr.\",\n      \"firstName\": \"Daniel\",\n      \"lastName\": \"Smith\",\n      \"friendlyName\": \"Personal Account\",\n      \"uploadedKycDocument\": false\n    },\n    {\n      \"beneficiaryType\": \"CORPORATE\",\n      \"tag\": \"SELF\",\n      \"id\": \"c04a2985-2e65-4c5b-ba20-2f29a6f6c235\",\n      \"accountHolderId\": \"71a32bf6-f190-4c19-8afa-6a1679829cb7\",\n      \"companyName\": \"AUTO Parts Ltd\",      \n      \"friendlyName\": \"Mike Green\",\n      \"uploadedKycDocument\": false\n    },\n    {\n      \"beneficiaryType\": \"RETAIL\",\n      \"tag\": \"SELF\",\n      \"id\": \"22421ea8-2968-42e4-80ef-7ccf2fabecaf\",\n      \"accountHolderId\": \"71a32bf6-f190-4c19-8afa-6a1679829cb7\",\n      \"title\": \"Mr.\",\n      \"firstName\": \"John\",\n      \"lastName\": \"Doe\",\n      \"friendlyName\": \"My Beneficiary\",\n      \"uploadedKycDocument\": false\n    }\n  ],\n  \"pageable\": {\n    \"sort\": {\n      \"sorted\": false,\n      \"unsorted\": true,\n      \"empty\": true\n    },\n    \"pageSize\": 20,\n    \"pageNumber\": 0,\n    \"offset\": 0,\n    \"paged\": true,\n    \"unpaged\": false\n  },\n  \"totalPages\": 1,\n  \"totalElements\": 3,\n  \"last\": true,\n  \"first\": true,\n  \"sort\": {\n    \"sorted\": false,\n    \"unsorted\": true,\n    \"empty\": true\n  },\n  \"numberOfElements\": 3,\n  \"size\": 20,\n  \"number\": 0,\n  \"empty\": false\n}"}},"schema":{"type":"object","properties":{"content":{"type":"array","items":{"type":"object","properties":{"beneficiaryType":{"type":"string","example":"RETAIL"},"id":{"type":"string","example":"676c1be9-cab9-4b23-bd20-b30daa77ed9d"},"accountHolderId":{"type":"string","example":"71a32bf6-f190-4c19-8afa-6a1679829cb7"},"title":{"type":"string","example":"Mr."},"firstName":{"type":"string","example":"Daniel"},"lastName":{"type":"string","example":"Smith"},"friendlyName":{"type":"string","example":"Personal Account"},"uploadedKycDocument":{"type":"boolean","example":false,"default":true}}}},"pageable":{"type":"object","properties":{"sort":{"type":"object","properties":{"sorted":{"type":"boolean","example":false,"default":true},"unsorted":{"type":"boolean","example":true,"default":true},"empty":{"type":"boolean","example":true,"default":true}}},"pageSize":{"type":"integer","example":20,"default":0},"pageNumber":{"type":"integer","example":0,"default":0},"offset":{"type":"integer","example":0,"default":0},"paged":{"type":"boolean","example":true,"default":true},"unpaged":{"type":"boolean","example":false,"default":true}}},"totalPages":{"type":"integer","example":1,"default":0},"totalElements":{"type":"integer","example":3,"default":0},"last":{"type":"boolean","example":true,"default":true},"first":{"type":"boolean","example":true,"default":true},"sort":{"type":"object","properties":{"sorted":{"type":"boolean","example":false,"default":true},"unsorted":{"type":"boolean","example":true,"default":true},"empty":{"type":"boolean","example":true,"default":true}}},"numberOfElements":{"type":"integer","example":3,"default":0},"size":{"type":"integer","example":20,"default":0},"number":{"type":"integer","example":0,"default":0},"empty":{"type":"boolean","example":false,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/beneficiaries/{id}":{"get":{"summary":"Get Beneficiary","description":"Get a beneficiary by its UUID.","operationId":"get-beneficiary-by-id","parameters":[{"name":"id","in":"path","description":"`id` (UUID) of the beneficiary from the create beneficiary request.","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": \"1f9e41c7-cbf2-4287-ba23-eb3f287ac3f6\",\n  \"accountHolderId\": \"1f9e41c7-cbf2-4287-ba23-eb3f287ac3f6\",\n  \"beneficiaryType\": \"CORPORATE\",\n  \"companyName\": \"Apple Inc.\",\n  \"tag\": \"THIRD_PARTY\",\n  \"uploadedKycDocument\": false\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"1f9e41c7-cbf2-4287-ba23-eb3f287ac3f6"},"accountHolderId":{"type":"string","example":"1f9e41c7-cbf2-4287-ba23-eb3f287ac3f6"},"beneficiaryType":{"type":"string","example":"CORPORATE"},"companyName":{"type":"string","example":"Apple Inc."},"tag":{"type":"string","example":"THIRD_PARTY"},"uploadedKycDocument":{"type":"boolean","example":false,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"delete":{"summary":"Delete Beneficiary","description":"Delete a beneficiary.","operationId":"delete-beneficiary","parameters":[{"name":"id","in":"path","description":"`id` (UUID) of the beneficiary from the create beneficiary request.","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"put":{"summary":"Update Beneficiary","description":"Update a beneficiary.","operationId":"update-beneficiary-1","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"companyName":{"type":"string"},"title":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"friendlyName":{"type":"string"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": \"1f9e41c7-cbf2-4287-ba23-eb3f287ac3f6\",\n  \"accountHolderId\": \"1f9e41c7-cbf2-4287-ba23-eb3f287ac3f6\",\n  \"beneficiaryType\": \"CORPORATE\",\n  \"companyName\": \"Apple Inc.\",\n  \"friendlyName\": \"Updated Friendly Name\",\n  \"tag\": \"THIRD_PARTY\",\n  \"uploadedKycDocument\": false\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"1f9e41c7-cbf2-4287-ba23-eb3f287ac3f6"},"accountHolderId":{"type":"string","example":"1f9e41c7-cbf2-4287-ba23-eb3f287ac3f6"},"beneficiaryType":{"type":"string","example":"CORPORATE"},"companyName":{"type":"string","example":"Apple Inc."},"friendlyName":{"type":"string","example":"Updated Friendly Name"},"tag":{"type":"string","example":"THIRD_PARTY"},"uploadedKycDocument":{"type":"boolean","example":false,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/bank-beneficiaries/{id}":{"get":{"summary":"Get Bank Beneficiary","description":"Get a bank beneficiary by its id.","operationId":"get-bank-beneficiary-by-id","parameters":[{"name":"id","in":"path","description":"`id` (UUID) of the bank beneficiary from the create bank beneficiary request.","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n      \"id\": \"cc409c57-115d-41ed-bc72-f24f1a4374c8\",\n      \"accountHolderId\": \"71a32bf6-f190-4c19-8afa-6a1679829cb7\",\n      \"beneficiaryId\": \"c04a2985-2e65-4c5b-ba20-2f29a6f6c235\",\n      \"externalId\": \"51d1346e-a745-4cd0-9db9-b5bf93367ccd\",\n      \"status\": \"VALID\",\n      \"beneficiaryFirstName\": \"Oliver\",\n      \"beneficiaryLastName\": \"Johnson\",\n      \"beneficiaryType\": \"CORPORATE\",\n      \"beneficiaryCountry\": \"GB\",\n      \"beneficiaryPostalCode\": \"SW1 9EF\",\n      \"beneficiaryCity\": \"London\",\n      \"accountNumber\": \"DE75512108001245126199\",\n      \"iban\": \"DE75512108001245126199\",\n      \"bic\": \"ABCADEFFXXX\",\n      \"currency\": \"EUR\",\n      \"bankName\": \"Natwest Bank\",\n      \"bankAddress\": \"London\",\n      \"bankAccountCountry\": \"GB\",\n      \"bankAccountHolderName\": \"Oliver Johnson\",\n      \"companyName\": \"Any Company\",\n      \"paymentTypes\": [\"SEPA\",\"SEPA_INSTANT\"],\n      \"bankRoutingCodes\": [\n        {\n          \"routingCodeKey\": \"BRANCH_CODE\",\n          \"routingCodeValue\": \"20\"\n        }\n      ],\n      \"class\": \"BANK\",\n      \"bankAccountType\": \"CURRENT\",\n       \"metadata\": {\n         \"userId\": \"ABC1234\"\n       },\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"delete":{"summary":"Delete Bank Beneficiary","description":"Delete a bank beneficiary.","operationId":"delete-bank-beneficiary","parameters":[{"name":"id","in":"path","description":"`id` (UUID) of the bank beneficiary.","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/beneficiaries/{parentBeneficiaryId}/bank-beneficiaries":{"post":{"summary":"Create Bank Beneficiary","description":"Create a new bank beneficiary under a parent beneficiary. The exact required fields can vary depending on the beneficiary's bank account country and currency and can be determined via the [Beneficiary Required Details](ref:get-beneficiary-required-details) API.","operationId":"create-bank-beneficiary","parameters":[{"name":"parentBeneficiaryId","in":"path","description":"`id` (UUID) from the create beneficiary request for the parent beneficiary under who the bank beneficiary will be created.","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["bankAccountCurrency","paymentTypes","beneficiaryType","beneficiaryCountry","bankAccountCountry"],"properties":{"bankAccountCurrency":{"type":"string","description":"Three-letter [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) currency code in which the beneficiary bank account is held.  e.g. `EUR`"},"paymentTypes":{"type":"array","description":"Types of payments that the beneficiary can receive. See [Supported Payment Types](doc:payment-types)","items":{"type":"string"}},"beneficiaryType":{"type":"string","description":"`CORPORATE`, `RETAIL`"},"beneficiaryCountry":{"type":"string","description":"Two-letter [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code e.g. `GB`"},"bankAccountCountry":{"type":"string","description":"Two-letter [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code where the beneficiary bank account is held. e.g. `GB`"},"bankAccountType":{"type":"string","description":"Type of the bank account. e.g. `Current`, `Savings`"},"bankName":{"type":"string","description":"Name of the bank where the account is held. e.g. `HSBC UK`"},"bankAddress":{"type":"string","description":"Address of the bank where the account is held."},"bankState":{"type":"string"},"bankCity":{"type":"string"},"bankPostalCode":{"type":"string"},"bankAccountHolderName":{"type":"string","description":"Name appearing the beneficiary bank account."},"accountNumber":{"type":"string","description":"Account number of the bank account."},"bankRoutingCodes":{"type":"array","description":"Routing codes associated with the bank account.","items":{"properties":{"routingCodeKey":{"type":"string","description":"`ABA`, `BLZ_CODE`, `BRANCH_CODE`, `BSB_CODE`, `SORT_CODE`, `IFS_CODE`, `CLABE_CODE`, `CTN`, `INTERMEDIARY_BIC`","default":"SORT_CODE","enum":["`ABA`","`BLZ_CODE`","`BRANCH_CODE`","`BSB_CODE`","`SORT_CODE`","`IFS_CODE`","`CLABE_CODE`","`CTN`","`INTERMEDIARY_BIC`"]},"routingCodeValue":{"type":"string","default":"60-60-15"}},"type":"object"}},"iban":{"type":"string","description":"IBAN of the bank account."},"bic":{"type":"string","description":"SWIFT BIC of the bank account."},"companyName":{"type":"string","description":"Required if `beneficiaryType` is `CORPORATE`."},"beneficiaryFirstName":{"type":"string","description":"Required if `beneficiaryType` is `RETAIL`."},"beneficiaryLastName":{"type":"string","description":"Required if `beneficiaryType` is `RETAIL`."},"beneficiaryBirthDate":{"type":"string","description":"`YYYY-MM-DD` e.g. `1986-04-29` for 29th April 1986"},"beneficiaryAddressLine":{"type":"string"},"beneficiaryState":{"type":"string"},"beneficiaryCity":{"type":"string"},"beneficiaryPostalCode":{"type":"string","description":"Max lenght 32"},"phoneNumber":{"type":"string"},"friendlyName":{"type":"string","description":"User friendly name associated with the bank beneficiary. e.g. `My HSBC Account`"},"taxId":{"type":"string","description":"Tax Id of the beneficiary."},"metadata":{"type":"object","description":"Set of key-value pairs that you can attach to the Bank Beneficiary Object. Useful for storing additional, structured information on the Beneficairy. e.g your internal ID of your user etc.<br>  e.g `\"userId\":\"ABC1234, \"userName\":\"Boris Johnson\"","properties":{}},"intermediaryTownName":{"type":"string"},"intermediaryPostalCode":{"type":"string"},"intermediaryName":{"type":"string"},"intermediaryBankAccountCountry":{"type":"string"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": \"51d1346e-a745-4cd0-9db9-b5bf93367ccd\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"51d1346e-a745-4cd0-9db9-b5bf93367ccd"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/transactions/bank-payouts":{"post":{"summary":"Create Payout","description":"Create a new payout to an external bank account. A Beneficiary will need to be created before a payout can be made using this endpoint.","operationId":"create-bank-payout","parameters":[{"name":"idempotency-key","in":"header","description":"Optional header for retrying requests without accidentally creating the same transaction twice.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["accountId","beneficiaryId","amount","paymentType","reference"],"properties":{"accountId":{"type":"string","description":"`id` of the Account from where the payout will be made. e.g.`cWc4SktyWlkxM0hwcmdYe6FMdXRSQT09`"},"beneficiaryId":{"type":"string","description":"`id` (UUID) of the bank beneficiary to who the payout will be made."},"amount":{"type":"object","description":"Amount to be paid out.","required":["currency","value"],"properties":{"currency":{"type":"string","description":"Three-letter [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) currency code e.g. `EUR`","default":"EUR","enum":["AED","AUD","CAD","CHF","CZK","DKK","EUR","GBP","HKD","HRK","HUF","ILS","JPY","MXN","NOK","NZD","PLN","RON","RUB","SAR","SEK","SGD","TRY","USD","ZAR","BGN"]},"value":{"type":"number","default":1,"format":"float"}}},"paymentType":{"type":"string","description":"Type of payment that the beneficiary will receive.<br>See [Supported Payment Types](doc:payment-types)"},"reference":{"type":"string","description":"Transaction reference to be sent to the beneficiary bank. The reference will appear on the beneficiary bank statement."},"paymentDate":{"type":"string","description":"Future date on which the payout should be executed.<br>YYYY-MM-DD e.g. `2022-04-29`"},"reasonCode":{"type":"string","description":"[Payout Reason Code](ref:reason-codes) if required for the selected `paymentType`"},"purposeCode":{"type":"string","description":"Applicable for SWIFT payments to the UAE only.  See Supported [Purpose Codes](https://apidocs.openpayd.com/docs/purpose-codes)","enum":["ACM","AES","AFA","AFL","ALW","ATS","BON","CCP","CEA","CEL","CHC","CIN","COM","COP","CRP","DCP","DIV","DLA","DLF","DLL","DOE","DSA","DSF","DSL","EDU","EMI","EOS","FAM","FDA","FDL","FIA","FIL","FIS","FSA","FSL","GDE","GDI","GMS","GOS","GRI","IFS","IGD","IGT","IID","INS","IOD","IOL","IPC","IPO","IRP","IRW","ISH","ISL","ISS","ITS","LAS","LDL","LDS","LEA","LEL","LIP","LLA","LLL","LNC","LND","MCR","MWI","MWO","MWP","OAT","OTS","OVT","PEN","PIN","PIP","PMS","POR","POS","PPA","PPL","PRP","PRR","PRS","PRW","RDA","RDL","RDS","REA","REL","RFS","RLS","RNT","SAA","SAL","SCO","SLA","SLL","STR","STS","SVI","SVO","SVP","TCP","TCR","TCS","TKT","TOF","TTS","UFP","UTL","TAX","XAT"]}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": \"Qm5TOTRxcmhxK2pnZHpzeDZPZHBRZz09\",\n  \"shortId\": \"20200803-8EFH4W\",\n  \"accountId\": \"Um5PN21FczNuMWxCZWlocHE2dXU1Zz09\",\n  \"createdDate\": \"2020-08-03T13:16:22.700Z\",\n  \"updatedDate\": \"2020-08-03T13:16:22.700Z\",\n  \"paymentDate\": \"2020-08-13T12:19:32.600Z\",\n  \"transactionId\": \"4b5ea64c-cf39-403a-a887-303b66794a92\",\n  \"transactionCategory\": \"OTHER\",\n  \"type\": \"PAYOUT\",\n  \"paymentType\": \"FASTER_PAYMENTS\",\n  \"sourceInfo\": {\n    \"type\": \"ACCOUNT\",\n    \"identifier\": \"OHlRaEVFMWRrNHdseDRCNUorOHFRdz09\",\n    \"internalAccountId\": \"EUR08561376339076\"\n  },\n  \"destinationInfo\": {\n    \"type\": \"BANK\",\n    \"identifier\": \"dceeb3a5-5b82-4803-87b8-9d6144a98b01\"\n  },\n  \"source\": null,\n  \"destination\": \"dceeb3a5-5b82-4803-87b8-9d6144a98b01\",\n  \"totalAmount\": {\n    \"value\": 10.00,\n    \"currency\": \"GBP\"\n  },\n  \"amount\": {\n    \"value\": 10.00,\n    \"currency\": \"GBP\"\n  },\n  \"fee\": {\n    \"value\": 0.00,\n    \"currency\": \"GBP\"\n  },\n  \"runningBalance\": {\n    \"value\": 9929.00,\n    \"currency\": \"GBP\"\n  },\n  \"buyAmount\": null,\n  \"fxRate\": null,\n  \"midMarketRate\": null,\n  \"fixedSide\": null,\n  \"status\": \"INITIATED\",\n  \"failureReason\": null,\n  \"comment\": \"Salary Payment\",\n  \"transactionReference\": null,\n  \"referenceAmount\": null,\n  \"accountHolderId\": \"b70af316-92d4-4621-b395-ea933cd4ac9d\",\n  \"originalTransactionId\": null\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"Qm5TOTRxcmhxK2pnZHpzeDZPZHBRZz09"},"shortId":{"type":"string","example":"20200803-8EFH4W"},"accountId":{"type":"string","example":"Um5PN21FczNuMWxCZWlocHE2dXU1Zz09"},"createdDate":{"type":"string","example":"2020-08-03T13:16:22.700Z"},"updatedDate":{"type":"string","example":"2020-08-03T13:16:22.700Z"},"paymentDate":{"type":"string","example":"2020-08-13T12:19:32.600Z"},"transactionId":{"type":"string","example":"4b5ea64c-cf39-403a-a887-303b66794a92"},"transactionCategory":{"type":"string","example":"OTHER"},"type":{"type":"string","example":"PAYOUT"},"paymentType":{"type":"string","example":"FASTER_PAYMENTS"},"sourceInfo":{"type":"object","properties":{"type":{"type":"string","example":"ACCOUNT"},"identifier":{"type":"string","example":"OHlRaEVFMWRrNHdseDRCNUorOHFRdz09"},"internalAccountId":{"type":"string","example":"EUR08561376339076"}}},"destinationInfo":{"type":"object","properties":{"type":{"type":"string","example":"BANK"},"identifier":{"type":"string","example":"dceeb3a5-5b82-4803-87b8-9d6144a98b01"}}},"source":{},"destination":{"type":"string","example":"dceeb3a5-5b82-4803-87b8-9d6144a98b01"},"totalAmount":{"type":"object","properties":{"value":{"type":"integer","example":10,"default":0},"currency":{"type":"string","example":"GBP"}}},"amount":{"type":"object","properties":{"value":{"type":"integer","example":10,"default":0},"currency":{"type":"string","example":"GBP"}}},"fee":{"type":"object","properties":{"value":{"type":"integer","example":0,"default":0},"currency":{"type":"string","example":"GBP"}}},"runningBalance":{"type":"object","properties":{"value":{"type":"integer","example":9929,"default":0},"currency":{"type":"string","example":"GBP"}}},"buyAmount":{},"fxRate":{},"midMarketRate":{},"fixedSide":{},"status":{"type":"string","example":"INITIATED"},"failureReason":{},"comment":{"type":"string","example":"Salary Payment"},"transactionReference":{},"referenceAmount":{},"accountHolderId":{"type":"string","example":"b70af316-92d4-4621-b395-ea933cd4ac9d"},"originalTransactionId":{}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/transactions":{"post":{"summary":"Create Internal Transfer","description":"Create an internal transfer between two OpenPayd accounts held in the same currency.","operationId":"create-internal-transfer","parameters":[{"name":"idempotency-key","in":"header","description":"Optional header for retrying requests without accidentally creating the same transaction twice.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["type","source","destination","amount"],"properties":{"type":{"type":"string","description":"`TRANSFER`","default":"TRANSFER"},"source":{"type":"object","description":"Source account from where the transfer will be debited.","required":["identifier","type"],"properties":{"identifier":{"type":"string","description":"Encrypted `id` of the source account. e.g. `cWc4SktyWlkxM0hwcmdYe6FMdXRSQT09`"},"type":{"type":"string","description":"`ACCOUNT`","default":"ACCOUNT"}}},"destination":{"type":"object","description":"Destination account where the transfer will be credited.","required":["identifier"],"properties":{"identifier":{"type":"string","description":"Encrypted `id` of the destination account. e.g.`cWc4SktyWlkxM0hwcmdYe6FMdXRSQT09`"},"type":{"type":"string","description":"`ACCOUNT`","default":"ACCOUNT"}}},"amount":{"type":"object","description":"Amount to be transferred.","required":["currency","value"],"properties":{"currency":{"type":"string","description":"Three-letter [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) currency code e.g. `EUR`","default":"EUR","enum":["AED","AUD","CAD","CHF","CZK","DKK","EUR","GBP","HKD","HRK","HUF","ILS","JPY","MXN","NOK","NZD","PLN","RON","RUB","SAR","SEK","SGD","TRY","USD","ZAR","BGN"]},"value":{"type":"number","default":1,"format":"float"}}},"comment":{"type":"string","description":"Reference comment associated with the transfer."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": \"Y1dHaXhLNFkvbXc3TnA1Y0ltOW5OUT09\",\n  \"shortId\": \"20200727-E9OUFB\",\n  \"accountId\": \"V2w1cHp4KzQxUjlLQVNnZkJNTXZadz09\",\n  \"createdDate\": \"2020-07-27T08:01:43.834Z\",\n  \"updatedDate\": \"2020-07-27T08:01:43.834Z\", \n  \"paymentDate\": null,\n  \"transactionId\": \"196ca5f1-a8b8-4737-b4f5-d0c1ad7b3e62\",\n  \"transactionCategory\": \"OTHER\",\n  \"type\": \"TRANSFER\",\n  \"paymentType\": null,\n  \"sourceInfo\": {\n    \"type\": \"ACCOUNT\",\n    \"identifier\": \"ZUxSUDVYVWkvVWhlTXVoVDZ1SzRhZz09\",\n    \"internalAccountId\": \"EUR08561376339076\"\n  },\n  \"destinationInfo\": {\n    \"type\": \"ACCOUNT\",\n    \"identifier\": \"R3JMU3FJQ2hCR1ZqY0s2THFZUVhaZz09\",\n    \"internalAccountId\": \"EUR98561786339896\"  \n  },\n  \"source\": \"GBP10874129900470\",\n  \"destination\": \"Webhook\",\n  \"totalAmount\": {\n    \"value\": 50.00,\n    \"currency\": \"GBP\"\n  },\n  \"amount\": {\n    \"value\": 50.00,\n    \"currency\": \"GBP\"\n  },\n  \"fee\": {\n    \"value\": 0.00,\n    \"currency\": \"GBP\"\n  },\n  \"runningBalance\": {\n    \"value\": 9939.00,\n    \"currency\": \"GBP\"\n  },\n  \"buyAmount\": null,\n  \"fxRate\": null,\n  \"midMarketRate\": null,\n  \"fixedSide\": null,\n  \"status\": \"INITIATED\",\n  \"failureReason\": null,\n  \"comment\": \"Tranfer to another account\",\n  \"transactionReference\": null,\n  \"referenceAmount\": null,\n  \"accountHolderId\": \"b70af316-92d4-4621-b395-ea933cd4ac9d\",\n  \"originalTransactionId\": null\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"Y1dHaXhLNFkvbXc3TnA1Y0ltOW5OUT09"},"shortId":{"type":"string","example":"20200727-E9OUFB"},"accountId":{"type":"string","example":"V2w1cHp4KzQxUjlLQVNnZkJNTXZadz09"},"createdDate":{"type":"string","example":"2020-07-27T08:01:43.834Z"},"updatedDate":{"type":"string","example":"2020-07-27T08:01:43.834Z"},"paymentDate":{},"transactionId":{"type":"string","example":"196ca5f1-a8b8-4737-b4f5-d0c1ad7b3e62"},"transactionCategory":{"type":"string","example":"OTHER"},"type":{"type":"string","example":"TRANSFER"},"paymentType":{},"sourceInfo":{"type":"object","properties":{"type":{"type":"string","example":"ACCOUNT"},"identifier":{"type":"string","example":"ZUxSUDVYVWkvVWhlTXVoVDZ1SzRhZz09"},"internalAccountId":{"type":"string","example":"EUR08561376339076"}}},"destinationInfo":{"type":"object","properties":{"type":{"type":"string","example":"ACCOUNT"},"identifier":{"type":"string","example":"R3JMU3FJQ2hCR1ZqY0s2THFZUVhaZz09"},"internalAccountId":{"type":"string","example":"EUR98561786339896"}}},"source":{"type":"string","example":"GBP10874129900470"},"destination":{"type":"string","example":"Webhook"},"totalAmount":{"type":"object","properties":{"value":{"type":"integer","example":50,"default":0},"currency":{"type":"string","example":"GBP"}}},"amount":{"type":"object","properties":{"value":{"type":"integer","example":50,"default":0},"currency":{"type":"string","example":"GBP"}}},"fee":{"type":"object","properties":{"value":{"type":"integer","example":0,"default":0},"currency":{"type":"string","example":"GBP"}}},"runningBalance":{"type":"object","properties":{"value":{"type":"integer","example":9939,"default":0},"currency":{"type":"string","example":"GBP"}}},"buyAmount":{},"fxRate":{},"midMarketRate":{},"fixedSide":{},"status":{"type":"string","example":"INITIATED"},"failureReason":{},"comment":{"type":"string","example":"Tranfer to another account"},"transactionReference":{},"referenceAmount":{},"accountHolderId":{"type":"string","example":"b70af316-92d4-4621-b395-ea933cd4ac9d"},"originalTransactionId":{}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"get":{"summary":"List Transactions","description":"Get a list of all transactions filtered by various params.","operationId":"list-transactions","parameters":[{"name":"accountId","in":"query","description":"Encrypted `id` (e.g.`cWc4SktyWlkxM0hwcmdYe6FMdXRSQT09`) or `internalAccountId` (e.g. `EUR12345678910112` of the account.","schema":{"type":"string"}},{"name":"amountFrom","in":"query","schema":{"type":"number","format":"float"}},{"name":"amountTo","in":"query","schema":{"type":"number","format":"float"}},{"name":"currency","in":"query","description":"Three-letter [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) currency code of the transaction. e.g. `EUR`","schema":{"type":"string"}},{"name":"from","in":"query","description":"`createdDate` from which to list transactions.<br>Timestamp in the [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) standard. e.g. `2019-14-29T00:15:09Z` for April 29, 2019 0:15:09 UTC","schema":{"type":"string","format":"date"}},{"name":"to","in":"query","description":"`createdDate` until which to list transactions.<br>Timestamp in the [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) standard. e.g. `2019-14-29T00:15:09Z` for April 29, 2019 0:15:09 UTC","schema":{"type":"string","format":"date"}},{"name":"reference","in":"query","description":"Reference on the transaction.","schema":{"type":"string"}},{"name":"sentFrom","in":"query","description":"Sender's name, account number, IBAN or Routing Code","schema":{"type":"string"}},{"name":"sentTo","in":"query","description":"Beneficiary's name, account number, IBAN or Routing Code","schema":{"type":"string"}},{"name":"shortId","in":"query","description":"`shortId` of the transaction. e.g. `20201106-BE8FIR`","schema":{"type":"string"}},{"name":"transactionId","in":"query","description":"UUID of the transaction.","schema":{"type":"string"}},{"name":"status","in":"query","description":"`INITIATED`, `PROCESSING`, `RELEASED`, `COMPLETED`, `FAILED`","schema":{"type":"array","items":{"type":"string"}}},{"name":"excludedStatuses","in":"query","description":"Array of transaction statues to exclude from the query.","schema":{"type":"array","items":{"type":"string"}}},{"name":"type","in":"query","description":"`PAYIN`, `PAYOUT`, `ADJUSTMENT`, `TRANSFER`, `EXCHANGE`","schema":{"type":"array","items":{"type":"string"}}},{"name":"updatedDateFrom","in":"query","description":"`updatedDate` from which to list transactions.<br>Timestamp in the [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) standard. e.g. `2019-14-29T00:15:09Z` for April 29, 2019 0:15:09 UTC","schema":{"type":"string"}},{"name":"updatedDateTo","in":"query","description":"`updatedDate` until which to list transactions.<br>Timestamp in the [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) standard. e.g. `2019-14-29T00:15:09Z` for April 29, 2019 0:15:09 UTC","schema":{"type":"string"}},{"name":"page","in":"query","description":"Page number to be returned. e.g. `page=0`","schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","description":"Page size to be returned. e.g. `size=10`","schema":{"type":"integer","format":"int32"}},{"name":"sort","in":"query","description":"Sort by a parameter on the object. e.g. `status`","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"content\": [\n  {\n    \"id\": \"Qm5TOTRxcmhxK2pnZHpzeDZPZHBRZz09\",\n    \"shortId\": \"20200803-8EFH4W\",\n    \"accountId\": \"Um5PN21FczNuMWxCZWlocHE2dXU1Zz09\",\n    \"createdDate\": \"2020-08-03T13:16:22.700Z\",\n    \"updatedDate\": \"2020-08-03T13:17:46.296Z\",\n    \"paymentDate\": \"2020-08-13T12:19:32.600Z\",\n    \"transactionId\": \"4b5ea64c-cf39-403a-a887-303b66794a92\",\n    \"transactionCategory\": \"OTHER\",\n    \"type\": \"PAYOUT\",\n    \"paymentType\": \"FASTER_PAYMENTS\",\n    \"sourceInfo\": {\n      \"type\": \"ACCOUNT\",\n      \"identifier\": \"OHlRaEVFMWRrNHdseDRCNUorOHFRdz09\",\n      \"internalAccountId\": \"EUR08561376339076\"\n    },\n    \"destinationInfo\": {\n      \"type\": \"BANK\",\n      \"identifier\": \"dceeb3a5-5b82-4803-87b8-9d6144a98b01\"\n    },\n    \"source\": null,\n    \"destination\": \"dceeb3a5-5b82-4803-87b8-9d6144a98b01\",\n    \"totalAmount\": {\n      \"value\": 10.00,\n      \"currency\": \"GBP\"\n    },\n    \"amount\": {\n      \"value\": 10.00,\n      \"currency\": \"GBP\"\n    },\n    \"fee\": {\n      \"value\": 0.00,\n      \"currency\": \"GBP\"\n    },\n    \"runningBalance\": {\n      \"value\": 9929.00,\n      \"currency\": \"GBP\"\n    },\n    \"buyAmount\": null ,\n    \"fxRate\": null,\n    \"midMarketRate\": null,\n    \"fixedSide\": null,\n    \"status\": \"COMPLETED\",\n    \"failureReason\": null,\n    \"comment\": \"Salary Payment\",\n    \"transactionReference\": null,\n    \"referenceAmount\": null,\n    \"accountHolderId\": \"b70af316-92d4-4621-b395-ea933cd4ac9d\",\n    \"originalTransactionId\": null\n  }\n  ],\n  \"pageable\": {\n    \"sort\": {\n      \"sorted\": false,\n      \"unsorted\": true,\n      \"empty\": true\n    },\n    \"pageSize\": 1,\n    \"pageNumber\": 0,\n    \"offset\": 0,\n    \"paged\": true,\n    \"unpaged\": false\n  },\n  \"totalPages\": 1,\n  \"last\": false,\n  \"totalElements\": 1,\n  \"first\": true,\n  \"sort\": {\n    \"sorted\": false,\n    \"unsorted\": true,\n    \"empty\": true\n  },\n  \"numberOfElements\": 1,\n  \"size\": 1,\n  \"number\": 0,\n  \"empty\": false\n}"}},"schema":{"type":"object","properties":{"content":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"Qm5TOTRxcmhxK2pnZHpzeDZPZHBRZz09"},"shortId":{"type":"string","example":"20200803-8EFH4W"},"accountId":{"type":"string","example":"Um5PN21FczNuMWxCZWlocHE2dXU1Zz09"},"createdDate":{"type":"string","example":"2020-08-03T13:16:22.700Z"},"updatedDate":{"type":"string","example":"2020-08-03T13:17:46.296Z"},"paymentDate":{"type":"string","example":"2020-08-13T12:19:32.600Z"},"transactionId":{"type":"string","example":"4b5ea64c-cf39-403a-a887-303b66794a92"},"transactionCategory":{"type":"string","example":"OTHER"},"type":{"type":"string","example":"PAYOUT"},"paymentType":{"type":"string","example":"FASTER_PAYMENTS"},"sourceInfo":{"type":"object","properties":{"type":{"type":"string","example":"ACCOUNT"},"identifier":{"type":"string","example":"OHlRaEVFMWRrNHdseDRCNUorOHFRdz09"},"internalAccountId":{"type":"string","example":"EUR08561376339076"}}},"destinationInfo":{"type":"object","properties":{"type":{"type":"string","example":"BANK"},"identifier":{"type":"string","example":"dceeb3a5-5b82-4803-87b8-9d6144a98b01"}}},"source":{},"destination":{"type":"string","example":"dceeb3a5-5b82-4803-87b8-9d6144a98b01"},"totalAmount":{"type":"object","properties":{"value":{"type":"integer","example":10,"default":0},"currency":{"type":"string","example":"GBP"}}},"amount":{"type":"object","properties":{"value":{"type":"integer","example":10,"default":0},"currency":{"type":"string","example":"GBP"}}},"fee":{"type":"object","properties":{"value":{"type":"integer","example":0,"default":0},"currency":{"type":"string","example":"GBP"}}},"runningBalance":{"type":"object","properties":{"value":{"type":"integer","example":9929,"default":0},"currency":{"type":"string","example":"GBP"}}},"buyAmount":{},"fxRate":{},"midMarketRate":{},"fixedSide":{},"status":{"type":"string","example":"COMPLETED"},"failureReason":{},"comment":{"type":"string","example":"Salary Payment"},"transactionReference":{},"referenceAmount":{},"accountHolderId":{"type":"string","example":"b70af316-92d4-4621-b395-ea933cd4ac9d"},"originalTransactionId":{}}}},"pageable":{"type":"object","properties":{"sort":{"type":"object","properties":{"sorted":{"type":"boolean","example":false,"default":true},"unsorted":{"type":"boolean","example":true,"default":true},"empty":{"type":"boolean","example":true,"default":true}}},"pageSize":{"type":"integer","example":1,"default":0},"pageNumber":{"type":"integer","example":0,"default":0},"offset":{"type":"integer","example":0,"default":0},"paged":{"type":"boolean","example":true,"default":true},"unpaged":{"type":"boolean","example":false,"default":true}}},"totalPages":{"type":"integer","example":1,"default":0},"last":{"type":"boolean","example":false,"default":true},"totalElements":{"type":"integer","example":1,"default":0},"first":{"type":"boolean","example":true,"default":true},"sort":{"type":"object","properties":{"sorted":{"type":"boolean","example":false,"default":true},"unsorted":{"type":"boolean","example":true,"default":true},"empty":{"type":"boolean","example":true,"default":true}}},"numberOfElements":{"type":"integer","example":1,"default":0},"size":{"type":"integer","example":1,"default":0},"number":{"type":"integer","example":0,"default":0},"empty":{"type":"boolean","example":false,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/transactions/{id}":{"get":{"summary":"Get Transaction","description":"Get a transaction by its encrypted id.","operationId":"get-transaction-by-id","parameters":[{"name":"id","in":"path","description":"encrypted `id` (e.g.`RnVtcmVVVEJDVEd4T3VsenhaU0VmZz09`) or `transactionId` (UUID) of the transaction.","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"transactionId\": \"591a8712-04f2-4518-9df3-8f81bec1819d\",\n    \"shortId\": \"20220922-K3QY65\",\n    \"externalCustomerId\": null,\n    \"reference\": \"payment to sweep\",\n    \"paymentType\": \"SEPA_INSTANT\",\n    \"reasonCode\": \"PERSONAL\",\n    \"amount\": {\n        \"value\": 79.00,\n        \"currency\": \"EUR\"\n    },\n    \"beneficiary\": {\n        \"customerType\": \"CORPORATE\",\n        \"firstName\": \"Sweep\",\n        \"lastName\": \"Test\",\n        \"companyName\": \"Sweep Inc.\",\n        \"beneficiaryCountry\": \"MT\",\n        \"beneficiaryPostalCode\": \"58585858\",\n        \"beneficiaryCity\": \"Malta\",\n        \"beneficiaryState\": null,\n        \"beneficiaryAddressLine\": \"BeneficiaryAddressLineOR3520\",\n        \"beneficiaryBirthDate\": null,\n        \"bankAccountCountry\": \"MT\",\n        \"bankName\": \"SWEEP BANK\",\n        \"bankAccountType\": null,\n        \"bic\": \"CFTEMTM1\",\n        \"iban\": \"MT39CFTE28004000000000000001297\",\n        \"accountNumber\": null,\n        \"routingCodes\": {\n            \n        },\n        \"metadata\": {\n            \n        },\n        \"bankAccountHolderName\": \"Sweep Inc.\"\n    },\n    \"bulkPaymentId\": null,\n    \"metadata\": null,\n    \"status\": \"IN_PROGRESS\",\n    \"transferTransactionId\": \"2ef45493-6594-44ea-9170-647802427f5c\",\n    \"transferShortId\": \"20220922-PRZFLA\",\n    \"endToEndReference\": \"9fbac239-a531-4413-890d-9be41784e517\"\n}"}},"schema":{"type":"object","properties":{"transactionId":{"type":"string","example":"591a8712-04f2-4518-9df3-8f81bec1819d"},"shortId":{"type":"string","example":"20220922-K3QY65"},"externalCustomerId":{},"reference":{"type":"string","example":"payment to sweep"},"paymentType":{"type":"string","example":"SEPA_INSTANT"},"reasonCode":{"type":"string","example":"PERSONAL"},"amount":{"type":"object","properties":{"value":{"type":"integer","example":79,"default":0},"currency":{"type":"string","example":"EUR"}}},"beneficiary":{"type":"object","properties":{"customerType":{"type":"string","example":"CORPORATE"},"firstName":{"type":"string","example":"Sweep"},"lastName":{"type":"string","example":"Test"},"companyName":{"type":"string","example":"Sweep Inc."},"beneficiaryCountry":{"type":"string","example":"MT"},"beneficiaryPostalCode":{"type":"string","example":"58585858"},"beneficiaryCity":{"type":"string","example":"Malta"},"beneficiaryState":{},"beneficiaryAddressLine":{"type":"string","example":"BeneficiaryAddressLineOR3520"},"beneficiaryBirthDate":{},"bankAccountCountry":{"type":"string","example":"MT"},"bankName":{"type":"string","example":"SWEEP BANK"},"bankAccountType":{},"bic":{"type":"string","example":"CFTEMTM1"},"iban":{"type":"string","example":"MT39CFTE28004000000000000001297"},"accountNumber":{},"routingCodes":{"type":"object","properties":{}},"metadata":{"type":"object","properties":{}},"bankAccountHolderName":{"type":"string","example":"Sweep Inc."}}},"bulkPaymentId":{},"metadata":{},"status":{"type":"string","example":"IN_PROGRESS"},"transferTransactionId":{"type":"string","example":"2ef45493-6594-44ea-9170-647802427f5c"},"transferShortId":{"type":"string","example":"20220922-PRZFLA"},"endToEndReference":{"type":"string","example":"9fbac239-a531-4413-890d-9be41784e517"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"put":{"summary":"Update Transaction","description":"Cancel a future dated payout.","operationId":"update-transaction","parameters":[{"name":"id","in":"path","description":"Encrypted `id` of a transaction","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["status"],"properties":{"status":{"type":"string","description":"`CANCELLED`"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/transactions/customerPayout":{"post":{"summary":"Create Customer Payout","description":"Create a payout to a Beneficiary from a Bank Account in the name of the Beneficiary.","operationId":"create-customer-payout","parameters":[{"name":"idempotency-key","in":"header","description":"Optional header for retrying requests without accidentally creating the same transaction twice.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["externalCustomerId","amount","paymentType","reference","beneficiary"],"properties":{"externalCustomerId":{"type":"string","description":"Unique ID of the customer on your system."},"amount":{"type":"object","required":["currency","value"],"properties":{"currency":{"type":"string","description":"Three-letter [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) currency code e.g. `EUR`","default":"EUR","enum":["AED","AUD","CAD","CHF","CZK","DKK","EUR","GBP","HKD","HRK","HUF","ILS","JPY","MXN","NOK","NZD","PLN","RON","RUB","SAR","SEK","SGD","TRY","USD","ZAR","BGN"]},"value":{"type":"number","default":1,"format":"float"}}},"paymentType":{"type":"string","description":"Type of payment that the beneficiary will receive.<br>`SEPA` or `SEPA_INSTANT` for `EUR`"},"reference":{"type":"string","description":"Transaction reference to be sent to the beneficiary bank. The reference will appear on the beneficiary bank statement."},"beneficiary":{"type":"object","required":["bankAccountCountry"],"properties":{"bankAccountCountry":{"type":"string","description":"Two-letter [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code where the beneficiary bank account is held. e.g. `GB`","default":"GB","enum":["AD","AE","AF","AG","AI","AL","AM","AN","AO","AQ","AR","AS","AT","AU","AW","AX","AZ","BA","BB","BD","BE","BF","BG","BH","BI","BJ","BL","BM","BN","BO","BQ","BR","BS","BT","BW","BY","BZ","CA","CC","CD","CF","CG","CH","CI","CK","CL","CM","CN","CO","CR","CU","CV","CW","CX","CY","CZ","DE","DJ","DK","DM","DO","DZ","EC","EE","EG","EH","ER","ES","ET","FI","FJ","FK","FM","FO","FR","GA","GB","GD","GE","GF","GG","GH","GI","GL","GM","GN","GP","GQ","GR","GS","GT","GU","GW","GY","HK","HM","HN","HR","HT","HU","ID","IE","IL","IM","IN","IO","IQ","IR","IS","IT","JE","JM","JO","JP","KE","KG","KH","KI","KM","KN","KP","KR","KW","KY","KZ","LA","LB","LC","LI","LK","LR","LS","LT","LU","LV","LY","MA","MC","MD","ME","MF","MG","MH","MK","ML","MM","MN","MO","MP","MQ","MR","MS","MT","MU","MV","MW","MX","MY","MZ","NA","NC","NE","NF","NG","NI","NL","NO","NP","NR","NU","NZ","OM","PA","PE","PF","PG","PH","PK","PL","PM","PN","PR","PS","PT","PW","PY","QA","RE","RO","RS","RU","RW","SA","SB","SC","SD","SE","SG","SH","SI","SK","SL","SM","SN","SO","SR","SS","ST","SV","SX","SY","SZ","TC","TD","TF","TG","TH","TJ","TK","TL","TM","TN","TO","TR","TT","TV","TW","TZ","UA","UG","UM","US","UY","UZ","UK","VA","VC","VE","VG","VI","VN","VU","WF","WS","YE","YT","ZA","ZM","ZW"]},"bankName":{"type":"string"},"customerType":{"type":"string","description":"`CORPORATE`, `RETAIL`","default":"CORPORATE","enum":["CORPORATE","RETAIL"]},"companyName":{"type":"string","description":"Required if `customerType` is `CORPORATE`.","default":"OpenPayd"},"firstName":{"type":"string","description":"Required if `customerType` is `RETAIL`.","default":"John"},"middleName":{"type":"string","default":"X"},"lastName":{"type":"string","description":"Required if `customerType` is `RETAIL`.","default":"Doe"},"beneficiaryAddressLine":{"type":"string","default":"xx gateway"},"beneficiaryCity":{"type":"string","default":"London"},"beneficiaryCountry":{"type":"string","description":"Two-letter ISO 3166-1 alpha-2 country code e.g. `GB`","default":"GB","enum":["AD","AE","AF","AG","AI","AL","AM","AN","AO","AQ","AR","AS","AT","AU","AW","AX","AZ","BA","BB","BD","BE","BF","BG","BH","BI","BJ","BL","BM","BN","BO","BQ","BR","BS","BT","BW","BY","BZ","CA","CC","CD","CF","CG","CH","CI","CK","CL","CM","CN","CO","CR","CU","CV","CW","CX","CY","CZ","DE","DJ","DK","DM","DO","DZ","EC","EE","EG","EH","ER","ES","ET","FI","FJ","FK","FM","FO","FR","GA","GB","GD","GE","GF","GG","GH","GI","GL","GM","GN","GP","GQ","GR","GS","GT","GU","GW","GY","HK","HM","HN","HR","HT","HU","ID","IE","IL","IM","IN","IO","IQ","IR","IS","IT","JE","JM","JO","JP","KE","KG","KH","KI","KM","KN","KP","KR","KW","KY","KZ","LA","LB","LC","LI","LK","LR","LS","LT","LU","LV","LY","MA","MC","MD","ME","MF","MG","MH","MK","ML","MM","MN","MO","MP","MQ","MR","MS","MT","MU","MV","MW","MX","MY","MZ","NA","NC","NE","NF","NG","NI","NL","NO","NP","NR","NU","NZ","OM","PA","PE","PF","PG","PH","PK","PL","PM","PN","PR","PS","PT","PW","PY","QA","RE","RO","RS","RU","RW","SA","SB","SC","SD","SE","SG","SH","SI","SK","SL","SM","SN","SO","SR","SS","ST","SV","SX","SY","SZ","TC","TD","TF","TG","TH","TJ","TK","TL","TM","TN","TO","TR","TT","TV","TW","TZ","UA","UG","UM","US","UY","UZ","UK","VA","VC","VE","VG","VI","VN","VU","WF","WS","YE","YT","ZA","ZM","ZW"]},"beneficiaryPostalCode":{"type":"string","default":"D11 11"},"iban":{"type":"string","description":"IBAN of the bank account.","default":"GB49SEOU00994400255289"},"bic":{"type":"string","description":"SWIFT BIC of the bank account.","default":"SEOUGB21"},"accountNumber":{"type":"string","description":"Account number of the bank account.","default":"00255289"},"routingCodes":{"type":"object","properties":{"SORT_CODE":{"type":"string","description":"Routing code value","default":"1234"}}},"metadata":{"type":"array","description":"Set of key-value pairs that you can attach to the Object. Useful for storing additional, structured information on the Object. e.g your internal ID of your user etc.<br> e.g `\"userId\": \"ABC1234\"`","items":{"type":"string"}}}},"reasonCode":{"type":"string","description":"[Payout Reason Code](ref:reason-codes) if required for the selected `paymentType`"},"metadata":{"type":"object","description":"Set of key-value pairs that you can attach to the Object. Useful for storing additional, structured information on the Object. e.g your internal ID of your user etc.<br>  e.g `\"userId\":\"ABC1234, \"userName\":\"Boris Johnson\"","properties":{}},"purposeCode":{"type":"string","description":"Applicable for SWIFT payments to the UAE only.  See Supported [Purpose Codes](https://apidocs.openpayd.com/docs/purpose-codes)","enum":["ACM","AES","AFA","AFL","ALW","ATS","BON","CCP","CEA","CEL","CHC","CIN","COM","COP","CRP","DCP","DIV","DLA","DLF","DLL","DOE","DSA","DSF","DSL","EDU","EMI","EOS","FAM","FDA","FDL","FIA","FIL","FIS","FSA","FSL","GDE","GDI","GMS","GOS","GRI","IFS","IGD","IGT","IID","INS","IOD","IOL","IPC","IPO","IRP","IRW","ISH","ISL","ISS","ITS","LAS","LDL","LDS","LEA","LEL","LIP","LLA","LLL","LNC","LND","MCR","MWI","MWO","MWP","OAT","OTS","OVT","PEN","PIN","PIP","PMS","POR","POS","PPA","PPL","PRP","PRR","PRS","PRW","RDA","RDL","RDS","REA","REL","RFS","RLS","RNT","SAA","SAL","SCO","SLA","SLL","STR","STS","SVI","SVO","SVP","TCP","TCR","TCS","TKT","TOF","TTS","UFP","UTL","TAX","XAT"]}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"transactionId\": \"591a8712-04f2-4518-9df3-8f81bec1819d\",\n    \"shortId\": \"20220922-K3QY64\",\n    \"externalCustomerId\": null,\n    \"reference\": \"payment to sweep\",\n    \"paymentType\": \"SEPA_INSTANT\",\n    \"reasonCode\": \"PERSONAL\",\n    \"amount\": {\n        \"value\": 79.00,\n        \"currency\": \"EUR\"\n    },\n    \"beneficiary\": {\n        \"customerType\": \"CORPORATE\",\n        \"firstName\": \"Sweep\",\n        \"lastName\": \"Test\",\n        \"companyName\": \"Sweep Inc.\",\n        \"beneficiaryCountry\": \"MT\",\n        \"beneficiaryPostalCode\": \"58585858\",\n        \"beneficiaryCity\": \"Malta\",\n        \"beneficiaryState\": null,\n        \"beneficiaryAddressLine\": \"BeneficiaryAddressLineOR3520\",\n        \"beneficiaryBirthDate\": null,\n        \"bankAccountCountry\": \"MT\",\n        \"bankName\": \"SWEEP BANK\",\n        \"bankAccountType\": null,\n        \"bic\": \"CFTEMTM1\",\n        \"iban\": \"MT39CFTE28004000000000000001297\",\n        \"accountNumber\": null,\n        \"routingCodes\": {\n            \n        },\n        \"metadata\": {\n            \n        },\n        \"bankAccountHolderName\": \"Sweep Inc.\"\n    },\n    \"bulkPaymentId\": null,\n    \"metadata\": null,\n    \"status\": \"IN_PROGRESS\",\n    \"transferTransactionId\": \"2ef45493-6594-44ea-9170-647802427f5c\",\n    \"transferShortId\": \"20220922-PRZFLA\",\n    \"endToEndReference\": \"9fbac239-a531-4413-890d-9be41784e517\"\n}"}},"schema":{"type":"object","properties":{"transactionId":{"type":"string","example":"591a8712-04f2-4518-9df3-8f81bec1819d"},"shortId":{"type":"string","example":"20220922-K3QY64"},"externalCustomerId":{},"reference":{"type":"string","example":"payment to sweep"},"paymentType":{"type":"string","example":"SEPA_INSTANT"},"reasonCode":{"type":"string","example":"PERSONAL"},"amount":{"type":"object","properties":{"value":{"type":"integer","example":79,"default":0},"currency":{"type":"string","example":"EUR"}}},"beneficiary":{"type":"object","properties":{"customerType":{"type":"string","example":"CORPORATE"},"firstName":{"type":"string","example":"Sweep"},"lastName":{"type":"string","example":"Test"},"companyName":{"type":"string","example":"Sweep Inc."},"beneficiaryCountry":{"type":"string","example":"MT"},"beneficiaryPostalCode":{"type":"string","example":"58585858"},"beneficiaryCity":{"type":"string","example":"Malta"},"beneficiaryState":{},"beneficiaryAddressLine":{"type":"string","example":"BeneficiaryAddressLineOR3520"},"beneficiaryBirthDate":{},"bankAccountCountry":{"type":"string","example":"MT"},"bankName":{"type":"string","example":"SWEEP BANK"},"bankAccountType":{},"bic":{"type":"string","example":"CFTEMTM1"},"iban":{"type":"string","example":"MT39CFTE28004000000000000001297"},"accountNumber":{},"routingCodes":{"type":"object","properties":{}},"metadata":{"type":"object","properties":{}},"bankAccountHolderName":{"type":"string","example":"Sweep Inc."}}},"bulkPaymentId":{},"metadata":{},"status":{"type":"string","example":"IN_PROGRESS"},"transferTransactionId":{"type":"string","example":"2ef45493-6594-44ea-9170-647802427f5c"},"transferShortId":{"type":"string","example":"20220922-PRZFLA"},"endToEndReference":{"type":"string","example":"9fbac239-a531-4413-890d-9be41784e517"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/transactions/review":{"post":{"summary":"Review Pay-in Transaction","description":"Review a pay-in transaction before it is credited on an account. You will need to contact us is you want to use this endpoint.","operationId":"review-transaction","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["transactionId","reviewStatus","comment"],"properties":{"transactionId":{"type":"string","description":"`id` (UUID) of the deposit transaction whose review status you want to update."},"reviewStatus":{"type":"string","description":"`APPROVED`, `REJECTED`"},"comment":{"type":"string","description":"Comment explaining why you approved or rejected the transaction."},"metadata":{"type":"object","description":"Set of key-value pairs that you can use for sending additional, structured information with your request. e.g your internal ID of your user etc.<br> e.g `\"userId\":\"ABC1234, \"userName\":\"Boris Johnson\"`","properties":{}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"get":{"summary":"List Pay-in Review Transactions","description":"Get a list of all pay-in transactions that are awaiting review from you.","operationId":"list-pay-in-transactions","parameters":[{"name":"internalAccountId","in":"query","description":"`internalAccountId` of the Account in which the payin was received.","schema":{"type":"string"}},{"name":"transactionId","in":"query","description":"UUID of the transaction","schema":{"type":"string"}},{"name":"minAmount","in":"query","description":"minimum amount to search the transactions from","schema":{"type":"number","format":"float"}},{"name":"maxAmount","in":"query","description":"maximum amount to search the transactions to","schema":{"type":"number","format":"float"}},{"name":"from","in":"query","description":"createdDate from which to list transactions.Timestamp in the ISO 8601 standard. e.g. 2019-14-29T00:15:09Z for April 29, 2019 0:15:09 UTC","schema":{"type":"string","format":"date-time"}},{"name":"to","in":"query","description":"createdDate until which to list transactions.Timestamp in the ISO 8601 standard. e.g. 2019-14-29T00:15:09Z for April 29, 2019 0:15:09 UTC","schema":{"type":"string","format":"date-time"}},{"name":"senderName","in":"query","description":"Sender name of the PayIn transaction","schema":{"type":"string"}},{"name":"reference","in":"query","description":"Reference of the transaction","schema":{"type":"string"}},{"name":"page","in":"query","description":"Page number to be returned. e.g. `page=0`","schema":{"type":"string"}},{"name":"size","in":"query","description":"Page size to be returned. e.g. `size=10`","schema":{"type":"string"}},{"name":"sort","in":"query","description":"Sort by a parameter on the object. e.g. `status`","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n   \"content\":[\n      {\n         \"transactionId\":\"a5a59e4e-b392-43b6-902c-8b7304fabbbd\",\n         \"status\":\"PROCESSING\",\n         \"beneficiaryAccountHolderName\":\"OpenPayd\",\n         \"paymentType\":\"FASTER_PAYMENTS\",\n         \"senderBic\":\"ABCXXX\",\n         \"senderIban\":\"GB37CLRB04051000003101\",\n         \"senderRoutingCodes\":[\n            {\n               \"routingCodeKey\":\"SORT_CODE\",\n               \"routingCodeValue\":\"040510\"\n            }\n         ],\n         \"senderAccountNumber\":\"00003101\",\n         \"senderName\":\"George and Haley Inc\",\n         \"senderAddress\":null,\n         \"senderInformation\":null,\n         \"amount\":{\n            \"value\":14.00,\n            \"currency\":\"GBP\"\n         },\n         \"transactionDateTime\":\"2021-06-02T09:05:47.653803\",\n         \"transactionReference\":\"retref\",\n         \"internalAccountId\":\"GBP17997850916470\",\n         \"accountHolderId\":\"b70af316-92d4-4621-b395-ea933cd4ac9d\"         \n      }\n   ],\n   \"pageable\":{\n      \"sort\":{\n         \"sorted\":false,\n         \"unsorted\":true,\n         \"empty\":true\n      },\n      \"offset\":0,\n      \"pageSize\":1,\n      \"pageNumber\":0,\n      \"paged\":true,\n      \"unpaged\":false\n   },\n   \"totalPages\":22,\n   \"last\":false,\n   \"totalElements\":22,\n   \"sort\":{\n      \"sorted\":false,\n      \"unsorted\":true,\n      \"empty\":true\n   },\n   \"size\":1,\n   \"number\":0,\n   \"first\":true,\n   \"numberOfElements\":1,\n   \"empty\":false\n}"}},"schema":{"type":"object","properties":{"content":{"type":"array","items":{"type":"object","properties":{"transactionId":{"type":"string","example":"a5a59e4e-b392-43b6-902c-8b7304fabbbd"},"status":{"type":"string","example":"PROCESSING"},"beneficiaryAccountHolderName":{"type":"string","example":"OpenPayd"},"paymentType":{"type":"string","example":"FASTER_PAYMENTS"},"senderBic":{"type":"string","example":"ABCXXX"},"senderIban":{"type":"string","example":"GB37CLRB04051000003101"},"senderRoutingCodes":{"type":"array","items":{"type":"object","properties":{"routingCodeKey":{"type":"string","example":"SORT_CODE"},"routingCodeValue":{"type":"string","example":"040510"}}}},"senderAccountNumber":{"type":"string","example":"00003101"},"senderName":{"type":"string","example":"George and Haley Inc"},"senderAddress":{},"senderInformation":{},"amount":{"type":"object","properties":{"value":{"type":"integer","example":14,"default":0},"currency":{"type":"string","example":"GBP"}}},"transactionDateTime":{"type":"string","example":"2021-06-02T09:05:47.653803"},"transactionReference":{"type":"string","example":"retref"},"internalAccountId":{"type":"string","example":"GBP17997850916470"},"accountHolderId":{"type":"string","example":"b70af316-92d4-4621-b395-ea933cd4ac9d"}}}},"pageable":{"type":"object","properties":{"sort":{"type":"object","properties":{"sorted":{"type":"boolean","example":false,"default":true},"unsorted":{"type":"boolean","example":true,"default":true},"empty":{"type":"boolean","example":true,"default":true}}},"offset":{"type":"integer","example":0,"default":0},"pageSize":{"type":"integer","example":1,"default":0},"pageNumber":{"type":"integer","example":0,"default":0},"paged":{"type":"boolean","example":true,"default":true},"unpaged":{"type":"boolean","example":false,"default":true}}},"totalPages":{"type":"integer","example":22,"default":0},"last":{"type":"boolean","example":false,"default":true},"totalElements":{"type":"integer","example":22,"default":0},"sort":{"type":"object","properties":{"sorted":{"type":"boolean","example":false,"default":true},"unsorted":{"type":"boolean","example":true,"default":true},"empty":{"type":"boolean","example":true,"default":true}}},"size":{"type":"integer","example":1,"default":0},"number":{"type":"integer","example":0,"default":0},"first":{"type":"boolean","example":true,"default":true},"numberOfElements":{"type":"integer","example":1,"default":0},"empty":{"type":"boolean","example":false,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/transactions/beneficiaryPayout":{"post":{"summary":"Create Beneficiary Payout","description":"Create a payout without first creating a Beneficiary. A Beneficiary is automatically created using the details from this request.","operationId":"create-beneficiary-payout","parameters":[{"name":"idempotency-key","in":"header","description":"Optional header for retrying requests without accidentally creating the same transaction twice.","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["accountId","amount","paymentType","reference","beneficiary"],"properties":{"accountId":{"type":"string","description":"Encrypted `id` of the account from where the payout will be made. e.g.`cWc4SktyWlkxM0hwcmdYe6FMdXRSQT09`"},"amount":{"type":"object","required":["currency","value"],"properties":{"currency":{"type":"string","description":"Three-letter [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) currency code e.g. `EUR`","default":"EUR","enum":["AED","AUD","CAD","CHF","CZK","DKK","EUR","GBP","HKD","HRK","HUF","ILS","JPY","MXN","NOK","NZD","PLN","RON","RUB","SAR","SEK","SGD","TRY","USD","ZAR","BGN"]},"value":{"type":"number","default":1,"format":"float"}}},"paymentType":{"type":"string","description":"Type of payment that the beneficiary will receive.<br>See [Supported Payment Types](doc:payment-types)"},"reference":{"type":"string","description":"Transaction reference to be sent to the beneficiary bank. The reference will appear on the beneficiary bank statement."},"beneficiary":{"type":"object","required":["bankAccountCountry"],"properties":{"bankAccountCountry":{"type":"string","description":"Two-letter [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code where the beneficiary bank account is held. e.g. `GB`","default":"GB","enum":["AD","AE","AF","AG","AI","AL","AM","AN","AO","AQ","AR","AS","AT","AU","AW","AX","AZ","BA","BB","BD","BE","BF","BG","BH","BI","BJ","BL","BM","BN","BO","BQ","BR","BS","BT","BW","BY","BZ","CA","CC","CD","CF","CG","CH","CI","CK","CL","CM","CN","CO","CR","CU","CV","CW","CX","CY","CZ","DE","DJ","DK","DM","DO","DZ","EC","EE","EG","EH","ER","ES","ET","FI","FJ","FK","FM","FO","FR","GA","GB","GD","GE","GF","GG","GH","GI","GL","GM","GN","GP","GQ","GR","GS","GT","GU","GW","GY","HK","HM","HN","HR","HT","HU","ID","IE","IL","IM","IN","IO","IQ","IR","IS","IT","JE","JM","JO","JP","KE","KG","KH","KI","KM","KN","KP","KR","KW","KY","KZ","LA","LB","LC","LI","LK","LR","LS","LT","LU","LV","LY","MA","MC","MD","ME","MF","MG","MH","MK","ML","MM","MN","MO","MP","MQ","MR","MS","MT","MU","MV","MW","MX","MY","MZ","NA","NC","NE","NF","NG","NI","NL","NO","NP","NR","NU","NZ","OM","PA","PE","PF","PG","PH","PK","PL","PM","PN","PR","PS","PT","PW","PY","QA","RE","RO","RS","RU","RW","SA","SB","SC","SD","SE","SG","SH","SI","SK","SL","SM","SN","SO","SR","SS","ST","SV","SX","SY","SZ","TC","TD","TF","TG","TH","TJ","TK","TL","TM","TN","TO","TR","TT","TV","TW","TZ","UA","UG","UM","US","UY","UZ","UK","VA","VC","VE","VG","VI","VN","VU","WF","WS","YE","YT","ZA","ZM","ZW"]},"bankName":{"type":"string"},"customerType":{"type":"string","description":"`CORPORATE`, `RETAIL`","default":"CORPORATE","enum":["CORPORATE","RETAIL"]},"companyName":{"type":"string","description":"Required if `customerType` is `CORPORATE`.","default":"OpenPayd"},"firstName":{"type":"string","description":"Required if `customerType` is `RETAIL`.","default":"John"},"middleName":{"type":"string","default":"X"},"lastName":{"type":"string","description":"Required if `customerType` is `RETAIL`.","default":"Doe"},"beneficiaryAddressLine":{"type":"string","default":"xx gateway"},"beneficiaryCity":{"type":"string","default":"London"},"beneficiaryCountry":{"type":"string","description":"Two-letter ISO 3166-1 alpha-2 country code e.g. `GB`","default":"GB","enum":["AD","AE","AF","AG","AI","AL","AM","AN","AO","AQ","AR","AS","AT","AU","AW","AX","AZ","BA","BB","BD","BE","BF","BG","BH","BI","BJ","BL","BM","BN","BO","BQ","BR","BS","BT","BW","BY","BZ","CA","CC","CD","CF","CG","CH","CI","CK","CL","CM","CN","CO","CR","CU","CV","CW","CX","CY","CZ","DE","DJ","DK","DM","DO","DZ","EC","EE","EG","EH","ER","ES","ET","FI","FJ","FK","FM","FO","FR","GA","GB","GD","GE","GF","GG","GH","GI","GL","GM","GN","GP","GQ","GR","GS","GT","GU","GW","GY","HK","HM","HN","HR","HT","HU","ID","IE","IL","IM","IN","IO","IQ","IR","IS","IT","JE","JM","JO","JP","KE","KG","KH","KI","KM","KN","KP","KR","KW","KY","KZ","LA","LB","LC","LI","LK","LR","LS","LT","LU","LV","LY","MA","MC","MD","ME","MF","MG","MH","MK","ML","MM","MN","MO","MP","MQ","MR","MS","MT","MU","MV","MW","MX","MY","MZ","NA","NC","NE","NF","NG","NI","NL","NO","NP","NR","NU","NZ","OM","PA","PE","PF","PG","PH","PK","PL","PM","PN","PR","PS","PT","PW","PY","QA","RE","RO","RS","RU","RW","SA","SB","SC","SD","SE","SG","SH","SI","SK","SL","SM","SN","SO","SR","SS","ST","SV","SX","SY","SZ","TC","TD","TF","TG","TH","TJ","TK","TL","TM","TN","TO","TR","TT","TV","TW","TZ","UA","UG","UM","US","UY","UZ","UK","VA","VC","VE","VG","VI","VN","VU","WF","WS","YE","YT","ZA","ZM","ZW"]},"beneficiaryPostalCode":{"type":"string","default":"D11 11"},"iban":{"type":"string","description":"IBAN of the bank account.","default":"GB49SEOU00994400255289"},"bic":{"type":"string","description":"SWIFT BIC of the bank account.","default":"SEOUGB21"},"accountNumber":{"type":"string","description":"Account number of the bank account.","default":"00255289"},"routingCodes":{"type":"object","properties":{"SORT_CODE":{"type":"string","description":"Routing code value","default":"1234"}}},"metadata":{"type":"array","description":"Set of key-value pairs that you can attach to the Object. Useful for storing additional, structured information on the Object. e.g your internal ID of your user etc.<br> e.g `\"userId\": \"ABC1234\"`","items":{"type":"string"}}}},"externalCustomerId":{"type":"string","description":"An optional id generated by you to identify the customer or beneficiary on your system."},"reasonCode":{"type":"string","description":"[Payout Reason Code](ref:reason-codes) if required for the selected `paymentType`"},"metadata":{"type":"object","description":"Set of key-value pairs that you can attach to the Object. Useful for storing additional, structured information on the Object. e.g your internal ID of your user etc.<br>  e.g `\"userId\":\"ABC1234, \"userName\":\"Boris Johnson\"","properties":{}},"purposeCode":{"type":"string","description":"Applicable for SWIFT payments to the UAE only.  See Supported [Purpose Codes](https://apidocs.openpayd.com/docs/purpose-codes)","enum":["ACM","AES","AFA","AFL","ALW","ATS","BON","CCP","CEA","CEL","CHC","CIN","COM","COP","CRP","DCP","DIV","DLA","DLF","DLL","DOE","DSA","DSF","DSL","EDU","EMI","EOS","FAM","FDA","FDL","FIA","FIL","FIS","FSA","FSL","GDE","GDI","GMS","GOS","GRI","IFS","IGD","IGT","IID","INS","IOD","IOL","IPC","IPO","IRP","IRW","ISH","ISL","ISS","ITS","LAS","LDL","LDS","LEA","LEL","LIP","LLA","LLL","LNC","LND","MCR","MWI","MWO","MWP","OAT","OTS","OVT","PEN","PIN","PIP","PMS","POR","POS","PPA","PPL","PRP","PRR","PRS","PRW","RDA","RDL","RDS","REA","REL","RFS","RLS","RNT","SAA","SAL","SCO","SLA","SLL","STR","STS","SVI","SVO","SVP","TCP","TCR","TCS","TKT","TOF","TTS","UFP","UTL","TAX","XAT"]}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"transactionId\": \"591a8712-04f2-4518-9df3-8f81bec1819d\",\n    \"shortId\": \"20220922-K3QY65\",\n    \"externalCustomerId\": null,\n    \"reference\": \"payment to sweep\",\n    \"paymentType\": \"SEPA_INSTANT\",\n    \"reasonCode\": \"PERSONAL\",\n    \"amount\": {\n        \"value\": 79.00,\n        \"currency\": \"EUR\"\n    },\n    \"beneficiary\": {\n        \"customerType\": \"CORPORATE\",\n        \"firstName\": \"Sweep\",\n        \"lastName\": \"Test\",\n        \"companyName\": \"Sweep Inc.\",\n        \"beneficiaryCountry\": \"MT\",\n        \"beneficiaryPostalCode\": \"58585858\",\n        \"beneficiaryCity\": \"Malta\",\n        \"beneficiaryState\": null,\n        \"beneficiaryAddressLine\": \"BeneficiaryAddressLineOR3520\",\n        \"beneficiaryBirthDate\": null,\n        \"bankAccountCountry\": \"MT\",\n        \"bankName\": \"SWEEP BANK\",\n        \"bankAccountType\": null,\n        \"bic\": \"CFTEMTM1\",\n        \"iban\": \"MT39CFTE28004000000000000001297\",\n        \"accountNumber\": null,\n        \"routingCodes\": {\n            \n        },\n        \"metadata\": {\n            \n        },\n        \"bankAccountHolderName\": \"Sweep Inc.\"\n    },\n    \"bulkPaymentId\": null,\n    \"metadata\": null,\n    \"status\": \"IN_PROGRESS\",\n    \"transferTransactionId\": \"2ef45493-6594-44ea-9170-647802427f5c\",\n    \"transferShortId\": \"20220922-PRZFLA\",\n    \"endToEndReference\": \"9fbac239-a531-4413-890d-9be41784e517\"\n}"}},"schema":{"type":"object","properties":{"transactionId":{"type":"string","example":"591a8712-04f2-4518-9df3-8f81bec1819d"},"shortId":{"type":"string","example":"20220922-K3QY65"},"externalCustomerId":{},"reference":{"type":"string","example":"payment to sweep"},"paymentType":{"type":"string","example":"SEPA_INSTANT"},"reasonCode":{"type":"string","example":"PERSONAL"},"amount":{"type":"object","properties":{"value":{"type":"integer","example":79,"default":0},"currency":{"type":"string","example":"EUR"}}},"beneficiary":{"type":"object","properties":{"customerType":{"type":"string","example":"CORPORATE"},"firstName":{"type":"string","example":"Sweep"},"lastName":{"type":"string","example":"Test"},"companyName":{"type":"string","example":"Sweep Inc."},"beneficiaryCountry":{"type":"string","example":"MT"},"beneficiaryPostalCode":{"type":"string","example":"58585858"},"beneficiaryCity":{"type":"string","example":"Malta"},"beneficiaryState":{},"beneficiaryAddressLine":{"type":"string","example":"BeneficiaryAddressLineOR3520"},"beneficiaryBirthDate":{},"bankAccountCountry":{"type":"string","example":"MT"},"bankName":{"type":"string","example":"SWEEP BANK"},"bankAccountType":{},"bic":{"type":"string","example":"CFTEMTM1"},"iban":{"type":"string","example":"MT39CFTE28004000000000000001297"},"accountNumber":{},"routingCodes":{"type":"object","properties":{}},"metadata":{"type":"object","properties":{}},"bankAccountHolderName":{"type":"string","example":"Sweep Inc."}}},"bulkPaymentId":{},"metadata":{},"status":{"type":"string","example":"IN_PROGRESS"},"transferTransactionId":{"type":"string","example":"2ef45493-6594-44ea-9170-647802427f5c"},"transferShortId":{"type":"string","example":"20220922-PRZFLA"},"endToEndReference":{"type":"string","example":"9fbac239-a531-4413-890d-9be41784e517"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/beneficiaries/validate":{"post":{"summary":"Validate Beneficiary","description":"Validate a beneficiary without creating one first to ensure that beneficiary details are valid for a given payment type and currency.","operationId":"validate-beneficiary","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["bankAccountCurrency","bankAccountCountry","beneficiaryType"],"properties":{"bankAccountCurrency":{"type":"string","description":"Three-letter [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) currency code in which the beneficiary bank account is held.  e.g. `EUR`"},"bankAccountCountry":{"type":"string","description":"Two-letter [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code where the beneficiary bank account is held. e.g. `GB`"},"beneficiaryType":{"type":"string","description":"`CORPORATE`, `RETAIL`"},"paymentTypes":{"type":"array","description":"Payment Types against which to validate the beneficiary. If left empty, the beneficiary will be validated for all available Payment Types.","items":{"type":"string"}},"bankAccountType":{"type":"string","description":"Type of the bank account. e.g. `Current`, `Savings`"},"bankName":{"type":"string","description":"Name of the bank where the account is held. e.g. `HSBC UK`"},"bankAddress":{"type":"string","description":"Address of the bank where the account is held."},"bankAccountHolderName":{"type":"string","description":"Name appearing the beneficiary bank account."},"accountNumber":{"type":"string","description":"Account number of the bank account."},"bankRoutingCodes":{"type":"array","description":"Routing codes associated with the bank account.","items":{"type":"string"}},"iban":{"type":"string","description":"IBAN of the bank account."},"bic":{"type":"string","description":"SWIFT BIC of the bank account."},"companyName":{"type":"string","description":"Required if `beneficiaryType` is `CORPORATE`."},"title":{"type":"string","description":"Required if `beneficiaryType` is `RETAIL`."},"beneficiaryFirstName":{"type":"string","description":"Required if `beneficiaryType` is `RETAIL`."},"beneficiaryLastName":{"type":"string","description":"Required if `beneficiaryType` is `RETAIL`."},"beneficiaryBirthDate":{"type":"string","description":"`YYYY-MM-DD` e.g. `1986-04-29` for 29th April 1986"},"beneficiaryAddressLine":{"type":"string"},"beneficiaryCity":{"type":"string"},"beneficiaryCountry":{"type":"string","description":"Two-letter [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code e.g. `GB`"},"beneficiaryPostalCode":{"type":"string"},"friendlyName":{"type":"string","description":"User friendly name associated with the bank beneficiary. e.g. `My HSBC Account`"},"taxId":{"type":"string","description":"Tax Id of the beneficiary."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"beneficiaryValidationResultSet\": [\n        {\n            \"paymentType\": \"CHAPS\",\n            \"messages\": {},\n            \"valid\": true\n        },\n        {\n            \"paymentType\": \"FASTER_PAYMENTS\",\n            \"messages\": {},\n            \"valid\": true\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"beneficiaryValidationResultSet":{"type":"array","items":{"type":"object","properties":{"paymentType":{"type":"string","example":"CHAPS"},"messages":{"type":"object","properties":{}},"valid":{"type":"boolean","example":true,"default":true}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"beneficiaryValidationResultSet\": [\n        {\n            \"paymentType\": \"FASTER_PAYMENTS\",\n            \"messages\": {\n                \"SORT_CODE\": \"SORT_CODE_is_missing\",\n                \"bankAccountHolderName\": \"bankAccountHolderName_is_missing\",\n                \"beneficiaryLastName\": \"beneficiaryLastName_is_missing\",\n                \"beneficiaryFirstName\": \"beneficiaryFirstName_is_missing\",\n                \"accountNumber\": \"accountNumber_is_missing\"\n            },\n            \"valid\": false\n        },\n        {\n            \"paymentType\": \"CHAPS\",\n            \"messages\": {\n                \"SORT_CODE\": \"SORT_CODE_is_missing\",\n                \"bankAccountHolderName\": \"bankAccountHolderName_is_missing\",\n                \"beneficiaryLastName\": \"beneficiaryLastName_is_missing\",\n                \"beneficiaryFirstName\": \"beneficiaryFirstName_is_missing\",\n                \"accountNumber\": \"accountNumber_is_missing\"\n            },\n            \"valid\": false\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"beneficiaryValidationResultSet":{"type":"array","items":{"type":"object","properties":{"paymentType":{"type":"string","example":"FASTER_PAYMENTS"},"messages":{"type":"object","properties":{"SORT_CODE":{"type":"string","example":"SORT_CODE_is_missing"},"bankAccountHolderName":{"type":"string","example":"bankAccountHolderName_is_missing"},"beneficiaryLastName":{"type":"string","example":"beneficiaryLastName_is_missing"},"beneficiaryFirstName":{"type":"string","example":"beneficiaryFirstName_is_missing"},"accountNumber":{"type":"string","example":"accountNumber_is_missing"}}},"valid":{"type":"boolean","example":false,"default":true}}}}}}}}}},"deprecated":false}},"/linkedClient":{"post":{"summary":"Create Linked Client","description":"Create a new Individual or Business Linked Client","operationId":"create-linked-client","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["clientType"],"properties":{"clientType":{"type":"string","description":"Type of Linked Client. `INDIVIDUAL`, `BUSINESS`","default":"INDIVIDUAL","enum":["INDIVIDUAL","BUSINESS"]},"friendlyName":{"type":"string","description":"User friendly name of the Linked Client for ease of identification or display purposes.","default":"ABC LTD."},"company":{"type":"object","required":["companyName","companyType","registrationNumber","contactName","email","phone"],"properties":{"companyName":{"type":"string","description":"Name of the Business.","default":"ABC LTD"},"companyType":{"type":"string","description":"Legal Entity Type of the Business.<br>`LIMITED_LIABILITY`, `SOLE_TRADER`, `PARTNERSHIP`, `PUBLIC_LIMITED_COMPANY`, `JOINT_STOCK_COMPANY`, `CHARITY`","default":"PARTNERSHIP","enum":["LIMITED_LIABILITY","SOLE_TRADER","PARTNERSHIP","PUBLIC_LIMITED_COMPANY","JOINT_STOCK_COMPANY","CHARITY"]},"registrationNumber":{"type":"string","description":"Registration Number of the Business.","default":"435345354"},"registeredAddress":{"type":"object","description":"Registered Address of the Business.","required":["addressLine1","city","country"],"properties":{"addressLine1":{"type":"string","default":"17 Manchester Road"},"addressLine2":{"type":"string","default":"London"},"city":{"type":"string","default":"London"},"state":{"type":"string"},"postCode":{"type":"string","default":"EC34 1OG"},"country":{"type":"string","description":"Two-letter [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code e.g. `GB`","default":"GB"}}},"tradingAddress":{"type":"object","description":"Trading Address of the Business.","required":["addressLine1","city","country"],"properties":{"addressLine1":{"type":"string","default":"17 Manchester Road"},"addressLine2":{"type":"string","default":"London"},"city":{"type":"string","default":"London"},"state":{"type":"string"},"postCode":{"type":"string","default":"EC34 1OG"},"country":{"type":"string","description":"Two-letter [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code e.g. `GB`","default":"GB"}}},"contactName":{"type":"string","description":"Name of the primary contact of the Business."},"email":{"type":"string","description":"Email of the Business."},"phone":{"type":"string","description":"Phone number of the Business."},"industrySectorType":{"type":"string","description":"Optional Industry Sector of the Business Linked Client."},"industrySectorValue":{"type":"string","description":"Optional Industry Sector of the Business Linked Client, required if `company.industrySectorType` is `OTHER`"}}},"individual":{"type":"object","required":["firstName","lastName","dateOfBirth","email"],"properties":{"firstName":{"type":"string","description":"First Name of the Individual.","default":"John"},"middleName":{"type":"string","description":"Middle Name of the Individual."},"lastName":{"type":"string","description":"Last Name of the Individual.","default":"Doe"},"address":{"type":"object","description":"Address of the Individual.","required":["addressLine1","city","country"],"properties":{"addressLine1":{"type":"string","default":"17 Manchester Road"},"addressLine2":{"type":"string","
[...]
