{"openapi":"3.0.1","info":{"title":"Orders API","description":"Orders API","version":"1.0.0"},"servers":[{"url":"https://integration.api.scalapay.com","description":"Sandbox server (uses test data)"},{"url":"https://api.scalapay.com","description":"Production server (uses live data)"}],"security":[{"ApiKeyAuth":[]}],"paths":{"/v2/orders":{"post":{"summary":"create order","description":"This POST call is mandatory to create a pay by link order.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2order_body"},"example":{"totalAmount":{"amount":"190.00","currency":"EUR"},"consumer":{"phoneNumber":"0400000001","givenNames":"Joe","surname":"Consumer","email":"test@scalapay.com"},"billing":{"name":"Joe Consumer","line1":"Via della Rosa, 58","suburb":"Montelupo Fiorentino","postcode":"50056","countryCode":"IT","phoneNumber":"0400000000"},"shipping":{"name":"Joe Consumer","line1":"Via della Rosa, 58","suburb":"Montelupo Fiorentino","postcode":"50056","countryCode":"IT","phoneNumber":"0400000000"},"items":[{"name":"T-Shirt","category":"clothes","subcategory":["shirt","long-sleeve"],"brand":"TopChoice","gtin":"123458791330","sku":"12341234","quantity":1,"price":{"amount":"10.00","currency":"EUR"},"pageUrl":"https://www.scalapay.com//product/view/","imageUrl":"https://www.scalapay.com//product/view/"},{"name":"Jeans","category":"clothes","subcategory":["pants","jeans"],"brand":"TopChoice","gtin":"123458722222","sku":"12341235","quantity":1,"price":{"amount":"20.00","currency":"EUR"}}],"discounts":[{"displayName":"10% Off","amount":{"amount":"3.00","currency":"EUR"}}],"merchant":{"redirectConfirmUrl":"https://portal.integration.scalapay.com/success-url","redirectCancelUrl":"https://portal.integration.scalapay.com/failure-url"},"merchantReference":"merchantOrder-1234","taxAmount":{"amount":"3.70","currency":"EUR"},"shippingAmount":{"amount":"10.00","currency":"EUR"},"type":["link"],"product":"pay-in-3","frequency":{"number":"1","frequencyType":"monthly"},"orderExpiryMilliseconds":600000,"extensions":{"type":{"link":{"notification":{"phoneCountryCode":"+39","phoneNumber":"3401340340","preferredLanguage":"english","channels":["sms"]}}}}}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"example":{"token":"71KH916VPE","expires":"2022-11-08T13:06:17.858Z","checkoutUrl":"https://portal.integration.scalapay.com/checkout/71KH916VPE"}}}},"400":{"description":"400 Bad Request","content":{"application/json":{"example":{"errorCode":"api_validationerror","errorId":"error-19g6ll3ucve9e","message":{"status":400,"statusText":"Bad Request","errors":[{"field":["totalAmount","amount"],"location":"body","messages":["\"amount\" is not allowed to be empty"],"types":["any.empty"]}]},"httpStatusCode":400}}}},"401":{"description":"401 Unauthorized","content":{"application/json":{"example":"Unauthorized"}}}}}}},"components":{"schemas":{"v2orders_type":{"type":"string","description":"link","default":"link","enum":["link"]},"v2orders_product":{"type":"string","default":"pay-in-3","enum":["pay-in-3","pay-in-4"]},"v2orders_frequency":{"type":"object","properties":{"number":{"type":"integer","default":1},"frequencyType":{"type":"string","default":"monthly"}}},"v2orders_price":{"required":["amount","currency"],"type":"object","properties":{"amount":{"type":"string"},"currency":{"type":"string","default":"EUR"}}},"v2orders_shipping":{"required":["countryCode","line1","name","postcode","suburb"],"type":"object","properties":{"phoneNumber":{"type":"string","description":"Customer's phone number"},"countryCode":{"type":"string","description":"Two letter code"},"name":{"type":"string"},"postcode":{"type":"string"},"suburb":{"type":"string"},"line1":{"type":"string"}}},"v2orders_discounts":{"type":"object","properties":{"amount":{"$ref":"#/components/schemas/v2orders_price"},"displayName":{"type":"string"}}},"v2orders_shippingAmount":{"type":"object","properties":{"amount":{"type":"string"},"currency":{"type":"string","default":"EUR"}}},"v2orders_consumer":{"required":["givenNames","surname"],"type":"object","properties":{"phoneNumber":{"type":"string"},"givenNames":{"type":"string","description":"First name"},"surname":{"type":"string","description":"Last name"},"email":{"type":"string","description":"Consumer's email"}},"description":"Consumer's data"},"v2order_body":{"required":["consumer","items","merchant","shipping","totalAmount"],"type":"object","properties":{"totalAmount":{"$ref":"#/components/schemas/v2orders_totalAmount"},"consumer":{"$ref":"#/components/schemas/v2orders_consumer"},"billing":{"$ref":"#/components/schemas/v2orders_billing"},"shipping":{"$ref":"#/components/schemas/v2orders_shipping"},"items":{"type":"array","items":{"$ref":"#/components/schemas/v2orders_items"}},"discounts":{"type":"array","items":{"$ref":"#/components/schemas/v2orders_discounts"}},"merchant":{"$ref":"#/components/schemas/v2orders_merchant"},"merchantReference":{"type":"string"},"shippingAmount":{"$ref":"#/components/schemas/v2orders_shippingAmount"},"taxAmount":{"$ref":"#/components/schemas/v2orders_shippingAmount"},"type":{"$ref":"#/components/schemas/v2orders_type"},"product":{"$ref":"#/components/schemas/v2orders_product"},"frequency":{"$ref":"#/components/schemas/v2orders_frequency"},"orderExpiryMilliseconds":{"type":"integer","description":"Optional","default":600000},"extensions":{"$ref":"#/components/schemas/v2orders_extensions"}}},"v2orders_items":{"required":["category","name","price","quantity","sku"],"type":"object","properties":{"gtin":{"type":"string","description":"Global Trade Item Number. One of [UPC, EAN, JAN, ISBN, ITF-14]"},"quantity":{"type":"integer"},"price":{"$ref":"#/components/schemas/v2orders_price"},"name":{"type":"string"},"category":{"type":"string"},"subcategory":{"type":"array","items":{"type":"string"}},"sku":{"type":"string","description":"Stock Keeping Unit code"},"brand":{"type":"string"},"pageUrl":{"type":"string"},"imageUrl":{"type":"string"}}},"v2orders_billing":{"type":"object","properties":{"phoneNumber":{"type":"string"},"countryCode":{"type":"string"},"name":{"type":"string"},"postcode":{"type":"string"},"suburb":{"type":"string"},"line1":{"type":"string"}}},"v2orders_totalAmount":{"required":["amount","currency"],"type":"object","properties":{"amount":{"type":"string","description":"Amount of the order"},"currency":{"type":"string","description":"Currency type (should be EUR)","default":"EUR"}},"description":"Total Amount of the order"},"v2orders_merchant":{"required":["redirectCancelUrl","redirectConfirmUrl"],"type":"object","properties":{"redirectCancelUrl":{"type":"string","description":"use -https://portal.integration.scalapay.com/failure-url for testing"},"redirectConfirmUrl":{"type":"string","description":"use -https://portal.integration.scalapay.com/success-url for testing"}}},"v2orders_extensions":{"type":"object","properties":{"type":{"$ref":"#/components/schemas/v2orders_extensions_type"}}},"v2orders_notification":{"required":["channels","phoneCountryCode","phoneNumber","preferredLanguage"],"type":"object","properties":{"phoneCountryCode":{"type":"string","description":"Phone number country prefix","default":"+39"},"phoneNumber":{"type":"string","description":"phone number","default":"3401340340"},"preferredLanguage":{"type":"string","default":"english","enum":["english","francais","italiano","deutsch","espanol","dutch","suomi","portuguese"]},"channels":{"type":"array","items":{"type":"string","enum":["sms"]}}}},"v2orders_extensions_type_link":{"type":"object","properties":{"notification":{"$ref":"#/components/schemas/v2orders_notification"}}},"v2orders_extensions_type":{"type":"object","properties":{"link":{"$ref":"#/components/schemas/v2orders_extensions_type_link"}}}},"responses":{"401Error":{"description":"401 Unauthorized","content":{"application/json":{"example":"Unauthorized"}}},"422Error":{"description":"422 Unprocessable Entity","content":{"application/json":{"example":{"errorCode":"invalid_token","errorId":"error-19g6ll3ud3ndj","message":"Order null not found","httpStatusCode":422}}}},"400Errorv1":{"description":"400 Bad Request","content":{"application/json":{"example":{"errorCode":"pre_condition_failed","errorId":"error-19g6ll3uee193","message":"Order null not found","httpStatusCode":400}}}}},"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","name":"Authorization","in":"header","x-default":"Bearer qhtfs87hjnc12kkos"}}},"x-samples-enabled":true,"x-explorer-enabled":true,"x-readme":{"proxy-enabled":true}}