{"swagger":"2.0","info":{"version":"","title":"CommBank Regular Payments API","description":""},"host":"secure.api.commbank.com.au","basePath":"/api/cds-au/v1/banking","schemes":["https"],"tags":[{"name":"Regular Payments API","description":"Obtain the Regular Payment details authorised to be shared by the customer. \n\nRegular Payments API is a consumer API. To access data you'll need the customer's consent.</p><h3 style=\"margin-top:30px;\">Host URL</h3><p>CommBank requests are passed to the URL <span class=\"sc-1noysbl-9 JKaaQ\">https://secure.api.commbank.com.au/api/cds-au/v1/banking</span></p><p>CBA – CommBiz requests are passed to the URL <span class=\"sc-1noysbl-9 JKaaQ\">https://secure.cdr.commbiz.api.commbank.com.au/cbzapi/cds-au/v1/banking</span></p>"}],"x-tagGroups":[{"name":"","tags":["Regular Payments API"]}],"paths":{"/accounts/{accountId}/direct-debits":{"get":{"summary":"Get Direct Debits For Account","description":"Obtain direct debit authorisations for a specific account.","operationId":"listDirectDebits","tags":["Regular Payments API"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"ID of the account to get direct debit authorisations for.","required":true,"type":"string","x-cds-type":"ASCIIString"},{"$ref":"#/parameters/ParamPage"},{"$ref":"#/parameters/ParamPageSize"},{"$ref":"#/parameters/ParamXVHeader"},{"$ref":"#/parameters/ParamXMinVHeader"},{"$ref":"#/parameters/ParamXFapiInterationId"},{"$ref":"#/parameters/ParamXFapiAuthDate"},{"$ref":"#/parameters/ParamXFapiCustomerIpAddress"},{"$ref":"#/parameters/ParamXCdsClientHeaders"}],"responses":{"200":{"description":"Success","headers":{"x-v":{"type":"string","description":"Version of the API end point responded with."},"x-fapi-interaction-id":{"type":"string","description":"Reflects the value of the Interaction ID in the request."}},"schema":{"$ref":"#/definitions/ResponseBankingDirectDebitAuthorisationList"}},"400":{"description":"Bad Request","headers":{"Content-Type":{"type":"string","description":"Payload format responded with."},"x-v":{"type":"integer","description":"Version of the API end point responded with."},"x-fapi-interaction-Id":{"type":"string","description":"Reflects the value of the Interaction ID in the request."}},"schema":{"$ref":"#/definitions/ErrorResponse400"}},"406":{"description":"Not Acceptable","headers":{"Content-Type":{"type":"string","description":"Payload format responded with."},"x-v":{"type":"integer","description":"Version of the API end point responded with."},"x-fapi-interaction-id":{"type":"string","description":"Reflects the value of the Interaction ID in the request."}},"schema":{"$ref":"#/definitions/ErrorResponse406"}},"422":{"description":"Unprocessable Entity.","headers":{"Content-Type":{"type":"string","description":"Payload format responded with."},"x-v":{"type":"integer","description":"Version of the API end point responded with."},"x-fapi-interaction-id":{"type":"string","description":"Reflects the value of the Interaction ID in the request."}},"schema":{"$ref":"#/definitions/ErrorResponse422"}},"429":{"description":"Too Many Requests.","headers":{"Content-Type":{"type":"string","description":"Payload format responded with."},"Retry-After":{"type":"integer","description":"Amount of time the client should wait before re-trying the operation."},"x-v":{"type":"integer","description":"Version of the API end point responded with."},"x-fapi-interaction-id":{"type":"string","description":"Reflects the value of the Interaction ID in the request."}},"schema":{"$ref":"#/definitions/ResponseNoBody"}},"500":{"description":"Internal Server Error.","headers":{"Content-Type":{"type":"string","description":"Payload format responded with."},"x-v":{"type":"integer","description":"Version of the API end point responded with."},"x-fapi-interaction-id":{"type":"string","description":"Reflects the value of the Interaction ID in the request."}},"schema":{"$ref":"#/definitions/ErrorResponse500"}}},"x-scopes":["bank:regular_payments:read"],"x-version":"1"}},"/accounts/direct-debits":{"get":{"summary":"Get Bulk Direct Debits","description":"Obtain direct debit authorisations for multiple, filtered accounts.","operationId":"listDirectDebitsBulk","tags":["Regular Payments API"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"product-category","in":"query","description":"Used to filter results on the productCategory field applicable to accounts. If absent then all accounts returned.","required":false,"type":"string","enum":["BUSINESS_LOANS","CRED_AND_CHRG_CARDS","LEASES","MARGIN_LOANS","OVERDRAFTS","PERS_LOANS","REGULATED_TRUST_ACCOUNTS","RESIDENTIAL_MORTGAGES","TERM_DEPOSITS","TRADE_FINANCE","TRAVEL_CARDS","TRANS_AND_SAVINGS_ACCOUNTS"]},{"name":"open-status","in":"query","description":"Used to filter results according to open/closed status. If absent then ALL is assumed.","required":false,"type":"string","default":"ALL","enum":["OPEN","CLOSED","ALL"]},{"name":"is-owned","in":"query","description":"Filters accounts based on whether they are owned by the authorised customer.  True for owned accounts, false for unowned accounts and absent for all accounts.","required":false,"type":"boolean","x-cds-type":"Boolean"},{"$ref":"#/parameters/ParamPage"},{"$ref":"#/parameters/ParamPageSize"},{"$ref":"#/parameters/ParamXVHeader"},{"$ref":"#/parameters/ParamXMinVHeader"},{"$ref":"#/parameters/ParamXFapiInterationId"},{"$ref":"#/parameters/ParamXFapiAuthDate"},{"$ref":"#/parameters/ParamXFapiCustomerIpAddress"},{"$ref":"#/parameters/ParamXCdsClientHeaders"}],"responses":{"200":{"description":"Success","headers":{"x-v":{"type":"string","description":"Version of the API end point responded with."},"x-fapi-interaction-id":{"type":"string","description":"Reflects the value of the Interaction ID in the request."}},"schema":{"$ref":"#/definitions/ResponseBankingDirectDebitAuthorisationBulkList"}},"400":{"description":"Bad Request","headers":{"Content-Type":{"type":"string","description":"Payload format responded with."},"x-v":{"type":"integer","description":"Version of the API end point responded with."},"x-fapi-interaction-Id":{"type":"string","description":"Reflects the value of the Interaction ID in the request."}},"schema":{"$ref":"#/definitions/ErrorResponse400"}},"406":{"description":"Not Acceptable","headers":{"Content-Type":{"type":"string","description":"Payload format responded with."},"x-v":{"type":"integer","description":"Version of the API end point responded with."},"x-fapi-interaction-id":{"type":"string","description":"Reflects the value of the Interaction ID in the request."}},"schema":{"$ref":"#/definitions/ErrorResponse406"}},"422":{"description":"Unprocessable Entity.","headers":{"Content-Type":{"type":"string","description":"Payload format responded with."},"x-v":{"type":"integer","description":"Version of the API end point responded with."},"x-fapi-interaction-id":{"type":"string","description":"Reflects the value of the Interaction ID in the request."}},"schema":{"$ref":"#/definitions/ErrorResponse422"}},"429":{"description":"Too Many Requests","headers":{"Content-Type":{"type":"string","description":"Payload format responded with."},"Retry-After":{"type":"integer","description":"Amount of time the client should wait before re-trying the operation."},"x-v":{"type":"integer","description":"Version of the API end point responded with."},"x-fapi-interaction-id":{"type":"string","description":"Reflects the value of the Interaction ID in the request."}},"schema":{"$ref":"#/definitions/ResponseNoBody"}},"500":{"description":"Internal Server Error","headers":{"Content-Type":{"type":"string","description":"Payload format responded with."},"x-v":{"type":"integer","description":"Version of the API end point responded with."},"x-fapi-interaction-id":{"type":"string","description":"Reflects the value of the Interaction ID in the request."}},"schema":{"$ref":"#/definitions/ErrorResponse500"}}},"x-scopes":["bank:regular_payments:read"],"x-version":"1"},"post":{"tags":["Regular Payments API"],"summary":"Get Direct Debits For Specific Accounts","description":"Obtain direct debit authorisations for a specified list of accounts.","operationId":"listDirectDebitsSpecificAccounts","parameters":[{"in":"body","name":"accountIds","description":"ID of the accounts to get direct debit authorisations for.","required":true,"schema":{"$ref":"#/definitions/RequestAccountIds"}},{"$ref":"#/parameters/ParamPage"},{"$ref":"#/parameters/ParamPageSize"},{"$ref":"#/parameters/ParamXVHeader"},{"$ref":"#/parameters/ParamXMinVHeader"},{"$ref":"#/parameters/ParamXFapiAuthDate"},{"$ref":"#/parameters/ParamXFapiInterationId"},{"$ref":"#/parameters/ParamXFapiCustomerIpAddress"},{"$ref":"#/parameters/ParamXCdsClientHeaders"}],"responses":{"200":{"description":"Success","headers":{"x-v":{"type":"string","description":"Version of the API end point responded with."},"x-fapi-interaction-id":{"type":"string","description":"Reflects the value of the Interaction ID in the request."}},"schema":{"$ref":"#/definitions/ResponseBankingDirectDebitAuthorisationList"}},"400":{"description":"Bad Request","headers":{"Content-Type":{"type":"string","description":"Payload format responded with."},"x-v":{"type":"integer","description":"Version of the API end point responded with."},"x-fapi-interaction-Id":{"type":"string","description":"Reflects the value of the Interaction ID in the request."}},"schema":{"$ref":"#/definitions/ErrorResponse400"}},"406":{"description":"Not Acceptable","headers":{"Content-Type":{"type":"string","description":"Payload format responded with."},"x-v":{"type":"integer","description":"Version of the API end point responded with."},"x-fapi-interaction-id":{"type":"string","description":"Reflects the value of the Interaction ID in the request."}},"schema":{"$ref":"#/definitions/ErrorResponse406"}},"422":{"description":"Unprocessable Entity.","headers":{"Content-Type":{"type":"string","description":"Payload format responded with."},"x-v":{"type":"integer","description":"Version of the API end point responded with."},"x-fapi-interaction-id":{"type":"string","description":"Reflects the value of the Interaction ID in the request."}},"schema":{"$ref":"#/definitions/ErrorResponse422"}},"429":{"description":"Too Many Requests.","headers":{"Content-Type":{"type":"string","description":"Payload format responded with."},"Retry-After":{"type":"integer","description":"Amount of time the client should wait before re-trying the operation."},"x-v":{"type":"integer","description":"Version of the API end point responded with."},"x-fapi-interaction-id":{"type":"string","description":"Reflects the value of the Interaction ID in the request."}},"schema":{"$ref":"#/definitions/ResponseNoBody"}},"500":{"description":"Internal Server Error","headers":{"Content-Type":{"type":"string","description":"Payload format responded with."},"x-v":{"type":"integer","description":"Version of the API end point responded with."},"x-fapi-interaction-id":{"type":"string","description":"Reflects the value of the Interaction ID in the request."}},"schema":{"$ref":"#/definitions/ErrorResponse500"}}},"x-scopes":["bank:regular_payments:read"],"x-version":"1"}},"/accounts/{accountId}/payments/scheduled":{"get":{"summary":"Get Scheduled Payments for Account","description":"Obtain scheduled, outgoing payments for a specific account.","operationId":"listScheduledPayments","tags":["Regular Payments API"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"ID of the account to get scheduled payments for.","required":true,"type":"string","x-cds-type":"ASCIIString"},{"$ref":"#/parameters/ParamPage"},{"$ref":"#/parameters/ParamPageSize"},{"$ref":"#/parameters/ParamXVHeader"},{"$ref":"#/parameters/ParamXMinVHeader"},{"$ref":"#/parameters/ParamXFapiAuthDate"},{"$ref":"#/parameters/ParamXFapiInterationId"},{"$ref":"#/parameters/ParamXFapiCustomerIpAddress"},{"$ref":"#/parameters/ParamXCdsClientHeaders"}],"responses":{"200":{"description":"Success","headers":{"x-v":{"type":"string","description":"Version of the API end point responded with."},"x-fapi-interaction-id":{"type":"string","description":"Reflects the value of the Interaction ID in the request."}},"schema":{"$ref":"#/definitions/ResponseBankingScheduledPaymentsList"}},"400":{"description":"Bad Request.","headers":{"Content-Type":{"type":"string","description":"Payload format responded with."},"x-v":{"type":"integer","description":"Version of the API end point responded with."},"x-fapi-interaction-Id":{"type":"string","description":"Reflects the value of the Interaction ID in the request."}},"schema":{"$ref":"#/definitions/ErrorResponse400"}},"406":{"description":"Not Acceptable","headers":{"Content-Type":{"type":"string","description":"Payload format responded with."},"x-v":{"type":"integer","description":"Version of the API end point responded with."},"x-fapi-interaction-id":{"type":"string","description":"Reflects the value of the Interaction ID in the request."}},"schema":{"$ref":"#/definitions/ErrorResponse406"}},"422":{"description":"Unprocessable Entity.","headers":{"Content-Type":{"type":"string","description":"Payload format responded with."},"x-v":{"type":"integer","description":"Version of the API end point responded with."},"x-fapi-interaction-id":{"type":"string","description":"Reflects the value of the Interaction ID in the request."}},"schema":{"$ref":"#/definitions/ErrorResponse422"}},"429":{"description":"Too Many Requests","headers":{"Content-Type":{"type":"string","description":"Payload format responded with."},"Retry-After":{"type":"integer","description":"Amount of time the client should wait before re-trying the operation."},"x-v":{"type":"integer","description":"Version of the API end point responded with."},"x-fapi-interaction-id":{"type":"string","description":"Reflects the value of the Interaction ID in the request."}},"schema":{"$ref":"#/definitions/ResponseNoBody"}},"500":{"description":"Internal Server Error","headers":{"Content-Type":{"type":"string","description":"Payload format responded with."},"x-v":{"type":"integer","description":"Version of the API end point responded with."},"x-fapi-interaction-id":{"type":"string","description":"Reflects the value of the Interaction ID in the request."}},"schema":{"$ref":"#/definitions/ErrorResponse500"}}},"x-scopes":["bank:regular_payments:read"],"x-version":"1"}},"/payments/scheduled":{"get":{"summary":"Get Scheduled Payments Bulk","description":"Obtain scheduled payments for multiple, filtered accounts that are the source of funds for the payments","operationId":"listScheduledPaymentsBulk","tags":["Regular Payments API"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"product-category","in":"query","description":"Used to filter results on the productCategory field applicable to accounts. If absent then all accounts returned.","required":false,"type":"string","enum":["BUSINESS_LOANS","CRED_AND_CHRG_CARDS","LEASES","MARGIN_LOANS","OVERDRAFTS","PERS_LOANS","REGULATED_TRUST_ACCOUNTS","RESIDENTIAL_MORTGAGES","TERM_DEPOSITS","TRADE_FINANCE","TRAVEL_CARDS","TRANS_AND_SAVINGS_ACCOUNTS"]},{"name":"open-status","in":"query","description":"Used to filter results according to open/closed status. If absent then ALL is assumed.","required":false,"type":"string","default":"ALL","enum":["OPEN","CLOSED","ALL"]},{"name":"is-owned","in":"query","description":"Filters accounts based on whether they are owned by the authorised customer.  True for owned accounts, false for unowned accounts and absent for all accounts.","required":false,"type":"boolean","x-cds-type":"Boolean"},{"$ref":"#/parameters/ParamPage"},{"$ref":"#/parameters/ParamPageSize"},{"$ref":"#/parameters/ParamXVHeader"},{"$ref":"#/parameters/ParamXMinVHeader"},{"$ref":"#/parameters/ParamXFapiAuthDate"},{"$ref":"#/parameters/ParamXFapiInterationId"},{"$ref":"#/parameters/ParamXFapiCustomerIpAddress"},{"$ref":"#/parameters/ParamXCdsClientHeaders"}],"responses":{"200":{"description":"Success","headers":{"x-v":{"type":"string","description":"Version of the API end point responded with."},"x-fapi-interaction-id":{"type":"string","description":"Reflects the value of the Interaction ID in the request."}},"schema":{"$ref":"#/definitions/ResponseBankingScheduledPaymentsBulkList"}},"400":{"description":"Bad Request.","headers":{"Content-Type":{"type":"string","description":"Payload format responded with."},"x-v":{"type":"integer","description":"Version of the API end point responded with."},"x-fapi-interaction-Id":{"type":"string","description":"Reflects the value of the Interaction ID in the request."}},"schema":{"$ref":"#/definitions/ErrorResponse400"}},"406":{"description":"Not Acceptable.","headers":{"Content-Type":{"type":"string","description":"Payload format responded with."},"x-v":{"type":"integer","description":"Version of the API end point responded with."},"x-fapi-interaction-id":{"type":"string","description":"Reflects the value of the Interaction ID in the request."}},"schema":{"$ref":"#/definitions/ErrorResponse406"}},"422":{"description":"Unprocessable Entity.","headers":{"Content-Type":{"type":"string","description":"Payload format responded with."},"x-v":{"type":"integer","description":"Version of the API end point responded with."},"x-fapi-interaction-id":{"type":"string","description":"Reflects the value of the Interaction ID in the request."}},"schema":{"$ref":"#/definitions/ErrorResponse422"}},"429":{"description":"Too Many Requests.","headers":{"Content-Type":{"type":"string","description":"Payload format responded with."},"Retry-After":{"type":"integer","description":"Amount of time the client should wait before re-trying the operation."},"x-v":{"type":"integer","description":"Version of the API end point responded with."},"x-fapi-interaction-id":{"type":"string","description":"Reflects the value of the Interaction ID in the request."}},"schema":{"$ref":"#/definitions/ResponseNoBody"}},"500":{"description":"Internal Server Error.","headers":{"Content-Type":{"type":"string","description":"Payload format responded with."},"x-v":{"type":"integer","description":"Version of the API end point responded with."},"x-fapi-interaction-id":{"type":"string","description":"Reflects the value of the Interaction ID in the request."}},"schema":{"$ref":"#/definitions/ErrorResponse500"}}},"x-scopes":["bank:regular_payments:read"],"x-version":"1"},"post":{"tags":["Regular Payments API"],"summary":"Get Scheduled Payments For Specific Accounts","description":"Obtain scheduled payments for a specified list of accounts.","operationId":"listScheduledPaymentsSpecificAccounts","parameters":[{"in":"body","name":"accountIds","description":"ID of the accounts to get direct debit authorisations for.","required":true,"schema":{"$ref":"#/definitions/RequestAccountIds"}},{"$ref":"#/parameters/ParamPage"},{"$ref":"#/parameters/ParamPageSize"},{"$ref":"#/parameters/ParamXVHeader"},{"$ref":"#/parameters/ParamXMinVHeader"},{"$ref":"#/parameters/ParamXFapiAuthDate"},{"$ref":"#/parameters/ParamXFapiInterationId"},{"$ref":"#/parameters/ParamXFapiCustomerIpAddress"},{"$ref":"#/parameters/ParamXCdsClientHeaders"}],"responses":{"200":{"description":"Success","headers":{"x-v":{"type":"string","description":"Version of the API end point responded with."},"x-fapi-interaction-id":{"type":"string","description":"Reflects the value of the Interaction ID in the request."}},"schema":{"$ref":"#/definitions/ResponseBankingScheduledPaymentsList"}},"400":{"description":"Bad Request.","headers":{"Content-Type":{"type":"string","description":"Payload format responded with."},"x-v":{"type":"integer","description":"Version of the API end point responded with."},"x-fapi-interaction-Id":{"type":"string","description":"Reflects the value of the Interaction ID in the request."}},"schema":{"$ref":"#/definitions/ErrorResponse400"}},"406":{"description":"Not Acceptable.","headers":{"Content-Type":{"type":"string","description":"Payload format responded with."},"x-v":{"type":"integer","description":"Version of the API end point responded with."},"x-fapi-interaction-id":{"type":"string","description":"Reflects the value of the Interaction ID in the request."}},"schema":{"$ref":"#/definitions/ErrorResponse406"}},"422":{"description":"Unprocessable Entity.","headers":{"Content-Type":{"type":"string","description":"Payload format responded with."},"x-v":{"type":"integer","description":"Version of the API end point responded with."},"x-fapi-interaction-id":{"type":"string","description":"Reflects the value of the Interaction ID in the request."}},"schema":{"$ref":"#/definitions/ErrorResponse422"}},"429":{"description":"Too Many Requests.","headers":{"Content-Type":{"type":"string","description":"Payload format responded with."},"Retry-After":{"type":"integer","description":"Amount of time the client should wait before re-trying the operation."},"x-v":{"type":"integer","description":"Version of the API end point responded with."},"x-fapi-interaction-id":{"type":"string","description":"Reflects the value of the Interaction ID in the request."}},"schema":{"$ref":"#/definitions/ResponseNoBody"}},"500":{"description":"Internal Server Error.","headers":{"Content-Type":{"type":"string","description":"Payload format responded with."},"x-v":{"type":"integer","description":"Version of the API end point responded with."},"x-fapi-interaction-id":{"type":"string","description":"Reflects the value of the Interaction ID in the request."}},"schema":{"$ref":"#/definitions/ErrorResponse500"}}},"x-scopes":["bank:regular_payments:read"],"x-version":"1"}}},"definitions":{"ResponseBankingDirectDebitAuthorisationList":{"type":"object","required":["data","links","meta"],"example":{"data":{"directDebitAuthorisations":[{"accountId":"ygEST5viDcah5JJcdvT2uRDxuCbQezp0zWMrWrgSDb4","lastDebitDateTime":"2020-07-07T14:00:00Z","lastDebitAmount":"30.00","authorisedEntity":{"description":"Kleenheat Gas Murdoch"}},{"accountId":"ygEST5viDcah5JJcdvT2uRDxuCbQezp0zWMrWrgSDb4","lastDebitDateTime":"2020-09-01T14:00:00Z","lastDebitAmount":"89.99","authorisedEntity":{"description":"TPG Internet Pty Ltd"}}]},"links":{"self":"https://secure.api.commbank.com.au/api/cds-au/v1/banking/accounts/ygEST5viDcah5JJcdvT2uRDxuCbQezp0zWMrWrgSDb4/direct-debits?page=1&page-size=25","first":"https://secure.api.commbank.com.au/api/cds-au/v1/banking/accounts/ygEST5viDcah5JJcdvT2uRDxuCbQezp0zWMrWrgSDb4/direct-debits?page=1&page-size=25","last":"https://secure.api.commbank.com.au/api/cds-au/v1/banking/accounts/ygEST5viDcah5JJcdvT2uRDxuCbQezp0zWMrWrgSDb4/direct-debits?page=1&page-size=25"},"meta":{"totalRecords":2,"totalPages":1}},"properties":{"data":{"$ref":"#/definitions/ResponseBankingDirectDebitAuthorisationList_data"},"links":{"$ref":"#/definitions/LinksPaginated"},"meta":{"$ref":"#/definitions/MetaPaginated"}}},"ResponseBankingDirectDebitAuthorisationBulkList":{"type":"object","required":["data","links","meta"],"example":{"data":{"directDebitAuthorisations":[{"accountId":"yV9HHs_mV8b14MRed6L0uhHw7CuDez8gm29xDb8TDLw","lastDebitDateTime":"2020-08-20T14:00:00Z","lastDebitAmount":"11.99","authorisedEntity":{"description":"Spotify P10fc4db06"}},{"accountId":"yV9HHs_mV8b14MRed6L0uhHw7CuDez8gm29xDb8TDLw","lastDebitDateTime":"2020-06-02T14:00:00Z","lastDebitAmount":"29.95","authorisedEntity":{"description":"NRMA Insurance 1"}},{"accountId":"yV9HHs_mV8b14MRed6L0uhHw7CuDez8gm29xDb8TDLw","lastDebitDateTime":"2020-10-26T13:00:00Z","lastDebitAmount":"371.96","authorisedEntity":{"description":"Nib"}},{"accountId":"yV9HHs_mV8b14MRed6L0uhHw7CuDez8gm29xDb8TDLw","lastDebitDateTime":"2020-06-02T14:00:00Z","lastDebitAmount":"29.95","authorisedEntity":{"description":"Commonwealth Sec"}},{"accountId":"yV9HHs_mV8b14MRed6L0uhHw7CuDez8gm29xDb8TDLw","lastDebitDateTime":"2020-08-25T14:00:00Z","lastDebitAmount":"130.00","authorisedEntity":{"description":"Optus Billing"}},{"accountId":"ygEST5viDcah5JJcdvT2uRDxuCbQezp0zWMrWrgSDb4","lastDebitDateTime":"2020-07-07T14:00:00Z","lastDebitAmount":"30.00","authorisedEntity":{"description":"Kleenheat Gas Murdoch"}},{"accountId":"ygEST5viDcah5JJcdvT2uRDxuCbQezp0zWMrWrgSDb4","lastDebitDateTime":"2020-09-01T14:00:00Z","lastDebitAmount":"89.99","authorisedEntity":{"description":"TPG Internet Pty Ltd"}}]},"links":{"self":"https://secure.api.commbank.com.au/api/cds-au/v1/banking/accounts/direct-debits?page=1&page-size=25","first":"https://secure.api.commbank.com.au/api/cds-au/v1/banking/accounts/direct-debits?page=1&page-size=25","last":"https://secure.api.commbank.com.au/api/cds-au/v1/banking/accounts/direct-debits?page=1&page-size=25"},"meta":{"totalRecords":7,"totalPages":1}},"properties":{"data":{"$ref":"#/definitions/ResponseBankingDirectDebitAuthorisationList_data"},"links":{"$ref":"#/definitions/LinksPaginated"},"meta":{"$ref":"#/definitions/MetaPaginated"}}},"ResponseBankingDirectDebitAuthorisationList_data":{"required":["directDebitAuthorisations"],"properties":{"directDebitAuthorisations":{"type":"array","description":"The list of authorisations returned.","items":{"$ref":"#/definitions/BankingDirectDebit"}}}},"ResponseBankingScheduledPaymentsList":{"type":"object","required":["data","links","meta"],"example":{"data":{"scheduledPayments":[{"scheduledPaymentId":"zFFDTZuzApyks5JddvD0vhCjv3rVJWgqzGoiXu9ADLo","nickname":"nicknametest","payerReference":"Payer Ref T3","payeeReference":"","status":"ACTIVE","from":{"accountId":"yV9HHs_mV8b14MRed6L0uhHw7CuDez8gm29xDb8TDLw"},"paymentSet":[{"to":{"toUType":"biller","biller":{"billerCode":"1313","crn":"791940509106","billerName":"EnergyAustralia Electricity"}},"amount":"35.00","currency":"AUD"}],"recurrence":{"nextPaymentDate":"2020-10-30","recurrenceUType":"intervalSchedule","intervalSchedule":{"finalPaymentDate":"2020-12-11","paymentsRemaining":4,"intervals":[{"interval":"P14D"}]}}},{"scheduledPaymentId":"mF9DTprhA8bysMUIdqSouUn96y2Bc2t3ymxwDroXCr8","payerReference":"Payer Ref T4","payeeReference":"Pay Ref T4","status":"ACTIVE","from":{"accountId":"yV9HHs_mV8b14MRed6L0uhHw7CuDez8gm29xDb8TDLw"},"paymentSet":[{"to":{"toUType":"domestic","domestic":{"payeeAccountUType":"card","card":{"cardNumber":"xxxx xxxx xxxx 8706"}}},"amount":"45.00","currency":"AUD"}],"recurrence":{"nextPaymentDate":"2020-10-31","recurrenceUType":"intervalSchedule","intervalSchedule":{"finalPaymentDate":"2020-12-31","paymentsRemaining":2,"intervals":[{"interval":"P0.5M"}]}}},{"scheduledPaymentId":"zVBFQpu0AJGh6ZELdqCo7xGntC-BdmknmWMnWL8dW7k","payerReference":"Payer Ref T2","payeeReference":"Payee Ref T2","status":"ACTIVE","from":{"accountId":"yV9HHs_mV8b14MRed6L0uhHw7CuDez8gm29xDb8TDLw"},"paymentSet":[{"to":{"toUType":"domestic","domestic":{"payeeAccountUType":"account","account":{"accountName":"belle","bsb":"032069","accountNumber":"540546"}}},"amount":"25.00","currency":"AUD"}],"recurrence":{"nextPaymentDate":"2020-10-31","recurrenceUType":"intervalSchedule","intervalSchedule":{"finalPaymentDate":"2020-11-14","paymentsRemaining":3,"intervals":[{"interval":"P7D"}]}}},{"scheduledPaymentId":"mANFSMniVsWi4scNdvekukr263_Sdm5znD8iX7lCWe8","payerReference":"Payer reference T1","payeeReference":"Payee Ref T1","status":"ACTIVE","from":{"accountId":"yV9HHs_mV8b14MRed6L0uhHw7CuDez8gm29xDb8TDLw"},"paymentSet":[{"to":{"toUType":"domestic","domestic":{"payeeAccountUType":"account","account":{"accountName":"","bsb":"062268","accountNumber":"11993757"}}},"amount":"15.00","currency":"AUD"}],"recurrence":{"nextPaymentDate":"2020-11-28","recurrenceUType":"intervalSchedule","intervalSchedule":{"finalPaymentDate":"2020-11-28","paymentsRemaining":1,"intervals":[{"interval":"P1M"}]}}}]},"links":{"self":"https://secure.api.commbank.com.au/api/cds-au/v1/banking/accounts/yV9HHs_mV8b14MRed6L0uhHw7CuDez8gm29xDb8TDLw/payments/scheduled?page=1&page-size=25","first":"https://secure.api.commbank.com.au/api/cds-au/v1/banking/accounts/yV9HHs_mV8b14MRed6L0uhHw7CuDez8gm29xDb8TDLw/payments/scheduled?page=1&page-size=25","last":"https://secure.api.commbank.com.au/api/cds-au/v1/banking/accounts/yV9HHs_mV8b14MRed6L0uhHw7CuDez8gm29xDb8TDLw/payments/scheduled?page=1&page-size=25"},"meta":{"totalRecords":4,"totalPages":1}},"properties":{"data":{"$ref":"#/definitions/ResponseBankingScheduledPaymentsList_data"},"links":{"$ref":"#/definitions/LinksPaginated"},"meta":{"$ref":"#/definitions/MetaPaginated"}}},"ResponseBankingScheduledPaymentsBulkList":{"type":"object","required":["data","links","meta"],"example":{"data":{"scheduledPayments":[{"scheduledPaymentId":"20497737","payerReference":"Payer Ref T7","payeeReference":"Payee Ref T7","status":"ACTIVE","from":{"accountId":"nl9HSZzoVJLzt8APdvL1uUnzvCqAJ25zm2MmWL9BC78"},"paymentSet":[{"to":{"toUType":"accountId","accountId":"yV9HHs_mV8b14MRed6L0uhHw7CuDez8gm29xDb8TDLw"},"amount":"10.00","currency":"AUD"}],"recurrence":{"nextPaymentDate":"2020-10-31","recurrenceUType":"intervalSchedule","intervalSchedule":{"intervals":[{"interval":"P7D"}]}}},{"scheduledPaymentId":"20496938","payerReference":"Payer reference T1","payeeReference":"Payee Ref T1","status":"ACTIVE","from":{"accountId":"yV9HHs_mV8b14MRed6L0uhHw7CuDez8gm29xDb8TDLw"},"paymentSet":[{"to":{"toUType":"accountId","accountId":"nl9HSZzoVJLzt8APdvL1uUnzvCqAJ25zm2MmWL9BC78"},"amount":"15.00","currency":"AUD"}],"recurrence":{"nextPaymentDate":"2020-10-28","recurrenceUType":"intervalSchedule","intervalSchedule":{"finalPaymentDate":"2020-11-28","paymentsRemaining":2,"intervals":[{"interval":"P1M"}]}}},{"scheduledPaymentId":"20496940","nickname":"nicknametest","payerReference":"Payer Ref T3","payeeReference":"","status":"ACTIVE","from":{"accountId":"yV9HHs_mV8b14MRed6L0uhHw7CuDez8gm29xDb8TDLw"},"paymentSet":[{"to":{"toUType":"biller","biller":{"billerCode":"1313","crn":"791940509106","billerName":"EnergyAustralia Electricity"}},"amount":"35.00","currency":"AUD"}],"recurrence":{"nextPaymentDate":"2020-10-30","recurrenceUType":"intervalSchedule","intervalSchedule":{"finalPaymentDate":"2020-12-11","paymentsRemaining":4,"intervals":[{"interval":"P14D"}]}}},{"scheduledPaymentId":"20496939","payerReference":"Payer Ref T2","payeeReference":"Payee Ref T2","status":"ACTIVE","from":{"accountId":"yV9HHs_mV8b14MRed6L0uhHw7CuDez8gm29xDb8TDLw"},"paymentSet":[{"to":{"toUType":"domestic","domestic":{"payeeAccountUType":"account","account":{"accountName":"belle","bsb":"032069","accountNumber":"540546"}}},"amount":"25.00","currency":"AUD"}],"recurrence":{"nextPaymentDate":"2020-10-31","recurrenceUType":"intervalSchedule","intervalSchedule":{"finalPaymentDate":"2020-11-14","paymentsRemaining":3,"intervals":[{"interval":"P7D"}]}}},{"scheduledPaymentId":"20496941","payerReference":"Payer Ref T4","payeeReference":"Pay Ref T4","status":"ACTIVE","from":{"accountId":"yV9HHs_mV8b14MRed6L0uhHw7CuDez8gm29xDb8TDLw"},"paymentSet":[{"to":{"toUType":"domestic","domestic":{"payeeAccountUType":"card","card":{"cardNumber":"xxxx xxxx xxxx 8706"}}},"amount":"45.00","currency":"AUD"}],"recurrence":{"nextPaymentDate":"2020-10-31","recurrenceUType":"intervalSchedule","intervalSchedule":{"finalPaymentDate":"2020-12-31","paymentsRemaining":2,"intervals":[{"interval":"P0.5M"}]}}}]},"links":{"self":"https://secure.api.commbank.com.au/api/cds-au/v1/banking/payments/scheduled?page=1&page-size=25","first":"https://secure.api.commbank.com.au/api/cds-au/v1/banking/payments/scheduled?page=1&page-size=25","last":"https://secure.api.commbank.com.au/api/cds-au/v1/banking/payments/scheduled?page=1&page-size=25"},"meta":{"totalRecords":5,"totalPages":1}},"properties":{"data":{"$ref":"#/definitions/ResponseBankingScheduledPaymentsList_data"},"links":{"$ref":"#/definitions/LinksPaginated"},"meta":{"$ref":"#/definitions/MetaPaginated"}}},"ResponseBankingScheduledPaymentsList_data":{"required":["scheduledPayments"],"properties":{"scheduledPayments":{"type":"array","description":"The list of scheduled payments to return.","items":{"$ref":"#/definitions/BankingScheduledPayment"}}}},"BankingDirectDebit":{"type":"object","required":["accountId","authorisedEntity"],"properties":{"accountId":{"type":"string","description":"A unique ID of the account adhering to the standards for ID permanence.","x-cds-type":"ASCIIString"},"authorisedEntity":{"$ref":"#/definitions/BankingAuthorisedEntity"},"lastDebitDateTime":{"type":"string","description":"The date and time of the last debit executed under this authorisation.","x-cds-type":"DateTimeString"},"lastDebitAmount":{"type":"string","description":"The amount of the last debit executed under this authorisation.","x-cds-type":"AmountString"}}},"BankingAuthorisedEntity":{"type":"object","properties":{"description":{"type":"string","description":"Description of the authorised entity derived from previously executed direct debits"},"financialInstitution":{"type":"string","description":"Name of the financial institution through which the direct debit will be executed. Is required unless the payment is made via a credit card scheme."},"abn":{"type":"string","description":"Australian Business Number for the authorised entity."},"acn":{"type":"string","description":"Australian Company Number for the authorised entity."},"arbn":{"type":"string","description":"Australian Registered Body Number for the authorised entity."}}},"BankingScheduledPayment":{"type":"object","required":["from","payeeReference","payerReference","paymentSet","recurrence","scheduledPaymentId","status"],"properties":{"scheduledPaymentId":{"type":"string","description":"A unique ID of the scheduled payment adhering to the standards for ID permanence.","x-cds-type":"ASCIIString"},"nickname":{"type":"string","description":"The short display name of the payee as provided by the customer."},"payerReference":{"type":"string","description":"The reference for the transaction, empty string if no data provided."},"payeeReference":{"type":"string","description":"The reference for the transaction, empty string if no data provided."},"status":{"type":"string","description":"Indicates the schedule status.","enum":["ACTIVE","INACTIVE","SKIP"]},"from":{"$ref":"#/definitions/BankingScheduledPaymentFrom"},"paymentSet":{"type":"array","items":{"$ref":"#/definitions/BankingScheduledPaymentSet"}},"recurrence":{"$ref":"#/definitions/BankingScheduledPaymentRecurrence"}}},"BankingScheduledPaymentRecurrence":{"type":"object","required":["recurrenceUType"],"properties":{"nextPaymentDate":{"type":"string","description":"The date of the next payment under the recurrence schedule.","x-cds-type":"DateString"},"recurrenceUType":{"type":"string","description":"The type of recurrence used to define the schedule.","enum":["onceOff","intervalSchedule","lastWeekDay","eventBased"]},"onceOff":{"$ref":"#/definitions/BankingScheduledPaymentRecurrenceOnceOff"},"intervalSchedule":{"$ref":"#/definitions/BankingScheduledPaymentRecurrenceIntervalSchedule"},"lastWeekDay":{"$ref":"#/definitions/BankingScheduledPaymentRecurrenceLastWeekday"},"eventBased":{"$ref":"#/definitions/BankingScheduledPaymentRecurrenceEventBased"}},"description":"Object containing the detail of the schedule for the payment","x-conditional":["onceOff","intervalSchedule","lastWeekDay","eventBased"]},"BankingScheduledPaymentRecurrenceOnceOff":{"type":"object","required":["paymentDate"],"properties":{"paymentDate":{"type":"string","description":"The scheduled date for the once off payment.","x-cds-type":"DateString"}},"description":"Indicates that the payment is a once off payment on a specific future date."},"BankingScheduledPaymentRecurrenceIntervalSchedule":{"type":"object","required":["intervals"],"properties":{"finalPaymentDate":{"type":"string","description":"The limit date after which no more payments should be made using this schedule.","x-cds-type":"DateString"},"paymentsRemaining":{"type":"integer","description":"Indicates the number of payments remaining in the schedule.","x-cds-type":"PositiveInteger"},"nonBusinessDayTreatment":{"type":"string","description":"Enumerated field giving the treatment where a scheduled payment date is not a business day.","default":"ON","enum":["AFTER","BEFORE","ON","ONLY"]},"intervals":{"type":"array","description":"An array of interval objects defining the payment schedule.","items":{"$ref":"#/definitions/BankingScheduledPaymentInterval"}}},"description":"Indicates that the schedule of payments is defined by a series of intervals."},"BankingScheduledPaymentInterval":{"type":"object","required":["interval"],"properties":{"interval":{"type":"string","description":"An interval for the payment.","x-cds-type":"ExternalRef"},"dayInInterval":{"type":"string","description":"Uses an interval to define the ordinal day within the interval defined by the interval field on which the payment occurs.","x-cds-type":"ExternalRef"}}},"BankingScheduledPaymentRecurrenceLastWeekday":{"type":"object","required":["interval","lastWeekDay"],"properties":{"finalPaymentDate":{"type":"string","description":"The limit date after which no more payments should be made using this schedule.","x-cds-type":"DateString"},"paymentsRemaining":{"type":"integer","description":"Indicates the number of payments remaining in the schedule.","x-cds-type":"PositiveInteger"},"interval":{"type":"string","description":"The interval for the payment.","x-cds-type":"ExternalRef"},"lastWeekDay":{"type":"string","description":"The weekDay specified. The payment will occur on the last occurrence of this weekday in the interval.","enum":["MON","TUE","WED","THU","FRI","SAT","SUN"]},"nonBusinessDayTreatment":{"type":"string","description":"Enumerated field giving the treatment where a scheduled payment date is not a business day.","default":"ON","enum":["AFTER","BEFORE","ON","ONLY"]}},"description":"Indicates that the schedule of payments is defined according to the last occurrence of a specific weekday in an interval."},"BankingScheduledPaymentRecurrenceEventBased":{"type":"object","required":["description"],"properties":{"description":{"type":"string","description":"Description of the event and conditions that will result in the payment."}},"description":"Indicates that the schedule of payments is defined according to an external event that cannot be predetermined."},"BankingScheduledPaymentFrom":{"type":"object","required":["accountId"],"properties":{"accountId":{"type":"string","description":"ID of the account that is the source of funds for the payment.","x-cds-type":"ASCIIString"}},"description":"Object containing details of the source of the payment."},"BankingScheduledPaymentSet":{"required":["to"],"properties":{"to":{"$ref":"#/definitions/BankingScheduledPaymentTo"},"isAmountCalculated":{"type":"boolean","description":"Flag indicating whether the amount of the payment is calculated based on the context of the event.","x-cds-type":"Boolean"},"amount":{"type":"string","description":"The amount of the next payment if known.","x-cds-type":"AmountString"},"currency":{"type":"string","description":"The currency for the payment. AUD assumed if not present.","x-cds-type":"CurrencyString"}},"description":"The set of payment amounts and destination accounts for this payment accommodating multi-part payments.","x-conditional":["amount"]},"BankingScheduledPaymentTo":{"type":"object","required":["toUType"],"properties":{"toUType":{"type":"string","description":"The type of object provided that specifies the destination of the funds for the payment.","enum":["accountId","payeeId","domestic","biller","international"]},"accountId":{"type":"string","description":"Present if toUType is set to accountId.","x-cds-type":"ASCIIString"},"payeeId":{"type":"string","description":"Present if toUType is set to payeeId. Indicates that the payment is to registered payee that can be accessed using the payee end point.","x-cds-type":"ASCIIString"},"domestic":{"$ref":"#/definitions/BankingDomesticPayee"},"biller":{"$ref":"#/definitions/BankingBillerPayee"},"international":{"$ref":"#/definitions/BankingInternationalPayee"}},"description":"Object containing details of the destination of the payment.","x-conditional":["accountId","payeeId","domestic","biller","international"]},"BankingDomesticPayee":{"type":"object","required":["payeeAccountUType"],"properties":{"payeeAccountUType":{"type":"string","description":"Type of account object included.","enum":["account","card","payId"]},"account":{"$ref":"#/definitions/BankingDomesticPayeeAccount"},"card":{"$ref":"#/definitions/BankingDomesticPayeeCard"},"payId":{"$ref":"#/definitions/BankingDomesticPayeePayId"}},"x-conditional":["account","card","payId"]},"BankingDomesticPayeeAccount":{"type":"object","required":["accountNumber","bsb"],"properties":{"accountName":{"type":"string","description":"Name of the account to pay to."},"bsb":{"type":"string","description":"BSB of the account to pay to."},"accountNumber":{"type":"string","description":"Number of the account to pay to."}}},"BankingDomesticPayeeCard":{"type":"object","required":["cardNumber"],"properties":{"cardNumber":{"type":"string","description":"Name of the account to pay to.","x-cds-type":"MaskedPANString"}}},"BankingDomesticPayeePayId":{"type":"object","required":["identifier","type"],"properties":{"name":{"type":"string","description":"The name assigned to the PayID by the owner of the PayID."},"identifier":{"type":"string","description":"The identifier of the PayID (dependent on type)."},"type":{"type":"string","description":"The type of the PayID","enum":["ABN","EMAIL","ORG_IDENTIFIER","TELEPHONE"]}}},"BankingBillerPayee":{"type":"object","required":["billerCode","billerName"],"properties":{"billerCode":{"type":"string","description":"BPAY Biller Code of the Biller."},"crn":{"type":"string","description":"BPAY CRN of the Biller."},"billerName":{"type":"string","description":"Name of the Biller."}},"x-conditional":["crn"]},"BankingInternationalPayee":{"type":"object","required":["bankDetails","beneficiaryDetails"],"properties":{"beneficiaryDetails":{"$ref":"#/definitions/BankingInternationalPayee_beneficiaryDetails"},"bankDetails":{"$ref":"#/definitions/BankingInternationalPayee_bankDetails"}}},"BankingInternationalPayee_beneficiaryDetails":{"required":["country"],"properties":{"name":{"type":"string","description":"Name of the beneficiary."},"country":{"type":"string","description":"Country where the beneficiary resides.","x-cds-type":"ExternalRef"},"message":{"type":"string","description":"Response message for the payment."}}},"BankingInternationalPayee_bankDetails":{"required":["accountNumber","country"],"properties":{"country":{"type":"string","description":"Country of the recipient institution.","x-cds-type":"ExternalRef"},"accountNumber":{"type":"string","description":"Account Targeted for payment."},"bankAddress":{"$ref":"#/definitions/BankingInternationalPayee_bankDetails_bankAddress"},"beneficiaryBankBIC":{"type":"string","description":"Swift bank code.","x-cds-type":"ExternalRef"},"fedWireNumber":{"type":"string","description":"Number for Fedwire payment (Federal Reserve Wire Network)."},"sortCode":{"type":"string","description":"Sort code used for account identification in some jurisdictions."},"chipNumber":{"type":"string","description":"Number for the Clearing House Interbank Payments System."},"routingNumber":{"type":"string","description":"International bank routing number."},"legalEntityIdentifier":{"type":"string","description":"The legal entity identifier (LEI) for the beneficiary.","x-cds-type":"ExternalRef"}}},"BankingInternationalPayee_bankDetails_bankAddress":{"required":["address","name"],"properties":{"name":{"type":"string","description":"Name of the recipient Bank>"},"address":{"type":"string","description":"Address of the recipient Bank."}}},"RequestAccountIds":{"type":"object","required":["data"],"example":{"data":{"accountIds":["2M_8F2Q0aPjdPnO-FYMkt6fOBQNBPobNrXzAjwzrmWQ","8L_GAHf3425ADFf-FYMkt6fOBQNBPobNrXzAjwzrmWQ"]},"meta":{}},"properties":{"data":{"$ref":"#/definitions/RequestAccountIds_data"},"meta":{"$ref":"#/definitions/Meta"}}},"RequestAccountIds_data":{"required":["accountIds"],"properties":{"accountIds":{"type":"array","items":{"type":"string","description":"Array of specific accountIds to obtain authorisations for.","x-cds-type":"ASCIIString"}}}},"Links":{"type":"object","required":["self"],"properties":{"self":{"type":"string","description":"Fully qualified link that generated the current response document.","x-cds-type":"URIString"}}},"Meta":{"type":"object"},"LinksPaginated":{"type":"object","required":["self"],"properties":{"self":{"type":"string","description":"Fully qualified link that generated the current response document2.","x-cds-type":"URIString"},"first":{"type":"string","description":"URI to the first page of this set. Mandatory if this response is not the first page.","x-cds-type":"URIString"},"prev":{"type":"string","description":"URI to the previous page of this set. Mandatory if this response is not the first page.","x-cds-type":"URIString"},"next":{"type":"string","description":"URI to the next page of this set. Mandatory if this response is not the last page.","x-cds-type":"URIString"},"last":{"type":"string","description":"URI to the last page of this set. Mandatory if this response is not the last page.","x-cds-type":"URIString"}},"x-conditional":["prev","next","first","last"]},"MetaPaginated":{"type":"object","required":["totalPages","totalRecords"],"properties":{"totalRecords":{"type":"integer","description":"The total number of records in the full set. See [pagination](#pagination).","x-cds-type":"NaturalNumber"},"totalPages":{"type":"integer","description":"The total number of pages in the full set. See [pagination](#pagination).","x-cds-type":"NaturalNumber"}}},"ResponseErrorList":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/definitions/ResponseErrorList_errors"}}}},"ResponseErrorList_errors":{"required":["code","detail","title"],"properties":{"code":{"type":"string","description":"Must be one of the following: 0001 – Account not able to be found."},"title":{"type":"string","description":"Must be one of the following: Invalid account."},"detail":{"type":"string","description":"ID of the account not found."},"meta":{"type":"object","description":"Optional additional data for specific error types.","properties":{}}}},"ErrorResponse400":{"type":"object","properties":{"errors":{"uniqueItems":false,"type":"array","items":{"$ref":"#/definitions/Error"}}},"example":{"errors":[{"code":"RA-BR-02","title":"page is invalid","detail":"page must be a valid number."}]}},"ErrorResponse406":{"type":"object","properties":{"errors":{"uniqueItems":false,"type":"array","items":{"$ref":"#/definitions/Error"}}},"example":{"errors":[{"code":"RA-RH-03","title":"x-v is invalid","detail":"x-v header must be a supported version number."}]}},"ErrorResponse422":{"type":"object","properties":{"errors":{"uniqueItems":false,"type":"array","items":{"$ref":"#/definitions/Error"}}},"example":{"errors":[{"Code":"RA-UE-01","Title":"page-size is Invalid","Detail":"page-size must be a number and between 1 and 1000."}]}},"ErrorResponse500":{"type":"object","properties":{"errors":{"uniqueItems":false,"type":"array","items":{"$ref":"#/definitions/Error"}}},"example":{"errors":[{"code":"RA-IS-01","title":"Server Error","detail":"An error has occurred whilst processing your request. Please try again later."}]}},"ResponseNoBody":{"type":"object","properties":{},"example":{}},"Error":{"type":"object","properties":{"code":{"type":"string"},"title":{"type":"string"},"detail":{"type":"string"}}}},"parameters":{"ParamPage":{"name":"page","in":"query","description":"Page number being requested","required":false,"type":"integer","default":1},"ParamXFapiInterationId":{"name":"x-fapi-interaction-id","in":"header","description":"Reflects the value of the Interaction ID in the request.","required":false,"example":"f688ae24-9719-4975-9f58-f6b7e655c37d","type":"string"},"ParamXFapiAuthDate":{"name":"x-fapi-auth-date","in":"header","description":"The time when the customer last logged in to the data recipient.","required":false,"example":"2002-10-03T01:00:00+10:00","type":"string"},"ParamXFapiCustomerIpAddress":{"name":"x-fapi-customer-ip-address","in":"header","description":"The customer's original IP address if the customer is currently logged in to the data recipient.","required":false,"example":"192.168.1.1","type":"string"},"ParamXCdsClientHeaders":{"name":"x-cds-client-headers","in":"header","description":"The customer's original standard http headers encoded, including the original User Agent header, if the customer is currently logged in to the data recipient.","required":false,"example":"Q3VzdG9tZXJzRGV2OkN1c3RvbWVyc0Rldg==","type":"string","x-cds-type":"Base64"},"ParamPageSize":{"name":"page-size","in":"query","description":"Number of records to return with the page","required":false,"type":"integer","default":25,"maximum":1000,"minimum":1},"ParamAcceptHeader":{"name":"Accept","in":"header","description":"Content-Type that is acceptable for the server's response.","type":"string","enum":["application/json"],"required":true},"ParamXVHeader":{"name":"x-v","in":"header","description":"Version of the API end point being requested.","type":"integer","example":1,"required":false},"ParamXMinVHeader":{"name":"x-min-v","in":"header","description":"Minimum version of the API end point you are requesting.","type":"integer","example":1,"required":false},"ParamProductCategory":{"name":"product-category","in":"query","description":"Used to filter results on the productCategory field applicable to accounts. Any one of the valid values for this field can be supplied. If absent then all accounts returned.","required":false,"type":"string","enum":["TRANS_AND_SAVINGS_ACCOUNTS","TERM_DEPOSITS","TRAVEL_CARDS","REGULATED_TRUST_ACCOUNTS","RESIDENTIAL_MORTGAGES","CRED_AND_CHRG_CARDS","PERS_LOANS","MARGIN_LOANS","LEASES","TRADE_FINANCE","OVERDRAFTS","BUSINESS_LOANS"]}}}