{
  "openapi": "3.0.0",
  "info": {
    "title": "MyParcel.com API Specification",
    "description": "**Introduction**<br>This is the technical reference for the MyParcel.com API implementing the [OpenApi 3.0 Specification](https://github.com/OAI/OpenAPI-Specification) according to [JSON API](https://jsonapi.org) conventions.<br>Check our [API documentation](https://docs.myparcel.com) for more information and code examples.<br>Check our [GitHub releases](https://github.com/MyParcelCOM/api-specification/releases) for a complete version history.<br><br>⚠ Some endpoints are marked as experimental, which means their implementation might change within this major version.<br><br>**Units**<br>Some attributes in the API have values in one of the following units: <table><tr><th>Currency</th><td>cents / pence</td></tr><tr><th>Distances</th><td>meters</td></tr><tr><th>Dimensions</th><td>millimeters</td></tr><tr><th>Timestamps</th><td>Coordinated Universal Time (UTC)</td></tr><tr><th>Volumes</th><td>liters (dm3)</td></tr><tr><th>Weights</th><td>grams</td></tr></table>",
    "termsOfService": "https://www.myparcel.com/legal",
    "contact": {
      "name": "Tech Support",
      "url": "https://www.myparcel.com/contact",
      "email": "support@myparcel.com"
    },
    "license": {
      "name": "pricing",
      "url": "https://www.myparcel.com/pricing"
    },
    "version": "v1.73.1",
    "x-logo": {
      "url": "https://cdn.myparcel.com/images/myparcelcom-black.svg"
    }
  },
  "servers": [
    {
      "url": "https://api.myparcel.com"
    }
  ],
  "paths": {
    "/add-shipments-to-collection": {
      "post": {
        "tags": [
          "RPC"
        ],
        "security": [
          {
            "OAuth2": [
              "collections.manage"
            ]
          },
          {
            "OAuth2": [
              "shipments.manage"
            ]
          }
        ],
        "summary": "Add shipments to collection.",
        "description": "This endpoint can add multiple shipments to a concept collection.",
        "requestBody": {
          "description": "The collection ID and the shipment IDs.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "required": [
                      "collection_id",
                      "shipment_ids"
                    ],
                    "properties": {
                      "collection_id": {
                        "$ref": "#/components/schemas/Uuid"
                      },
                      "shipment_ids": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/Uuid"
                        },
                        "example": [
                          "d2eef012-f2fe-4f5f-af05-1acd86c51c3b",
                          "170cbede-2401-40f5-aaea-7b0d2986a250",
                          "883a89b1-40b9-44ab-9d71-f47ea5e0ca98"
                        ],
                        "description": "Uuids of shipments that need to be added to the collection."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "The shipments have been added to the collection."
          }
        }
      }
    },
    "/addresses": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "security": [
          {
            "OAuth2": [
              "organizations.manage"
            ]
          },
          {
            "OAuth2": [
              "shipments.manage"
            ]
          }
        ],
        "summary": "Get all addresses for a user.",
        "description": "This endpoint retrieves all address entries that the requesting user has access to.",
        "parameters": [
          {
            "name": "filter[search]",
            "in": "query",
            "description": "String of characters you want to look for in an address.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/query-filter-organization"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved the addresses.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta",
                    "links"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AddressResponse"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    },
                    "links": {
                      "type": "object",
                      "required": [
                        "self",
                        "first",
                        "last"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "self": {
                          "type": "string",
                          "example": "https://api.myparcel.com/addresses?page[number]=3&page[size]=30"
                        },
                        "first": {
                          "type": "string",
                          "example": "https://api.myparcel.com/addresses?page[number]=1&page[size]=30"
                        },
                        "prev": {
                          "type": "string",
                          "example": "https://api.myparcel.com/addresses?page[number]=2&page[size]=30"
                        },
                        "next": {
                          "type": "string",
                          "example": "https://api.myparcel.com/addresses?page[number]=4&page[size]=30"
                        },
                        "last": {
                          "type": "string",
                          "example": "https://api.myparcel.com/addresses?page[number]=13&page[size]=30"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Addresses"
        ],
        "security": [
          {
            "OAuth2": [
              "organizations.manage"
            ]
          }
        ],
        "summary": "Create a new address entry.",
        "description": "This endpoint creates a new address from the posted data.",
        "requestBody": {
          "description": "The address entry to be created.",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "additionalProperties": false,
                "properties": {
                  "data": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Address"
                      },
                      {
                        "required": [
                          "attributes",
                          "relationships"
                        ],
                        "properties": {
                          "id": {
                            "readOnly": true
                          },
                          "attributes": {
                            "required": [
                              "street_1",
                              "city",
                              "country_code"
                            ]
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The address entry is created.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AddressResponse"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/addresses/{address_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/path-address_id"
        }
      ],
      "get": {
        "tags": [
          "Addresses"
        ],
        "security": [
          {
            "OAuth2": [
              "organizations.manage"
            ]
          },
          {
            "OAuth2": [
              "shipments.manage"
            ]
          }
        ],
        "summary": "Get an address by ID.",
        "description": "This endpoint retrieves the address with the supplied ID.",
        "responses": {
          "200": {
            "description": "Retrieved the address.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AddressResponse"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Addresses"
        ],
        "security": [
          {
            "OAuth2": [
              "organizations.manage"
            ]
          }
        ],
        "summary": "Update an address by ID.",
        "description": "This endpoint updates the address with the supplied ID.",
        "requestBody": {
          "description": "The address object with attributes to be updated.",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "additionalProperties": false,
                "properties": {
                  "data": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Address"
                      },
                      {
                        "required": [
                          "id"
                        ],
                        "properties": {
                          "relationships": {
                            "readOnly": true
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The address is updated.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AddressResponse"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Addresses"
        ],
        "security": [
          {
            "OAuth2": [
              "organizations.manage"
            ]
          }
        ],
        "summary": "Delete an address by ID.",
        "description": "This endpoint deletes the address with the supplied ID.",
        "responses": {
          "204": {
            "description": "The address has been deleted."
          }
        }
      }
    },
    "/brokers": {
      "get": {
        "tags": [
          "Brokers"
        ],
        "security": [
          {
            "OAuth2": [
              "broker.member"
            ]
          },
          {
            "OAuth2": [
              "enterprises.manage"
            ]
          }
        ],
        "summary": "Get all available brokers.",
        "description": "This endpoint retrieves brokers available to your API client. If your client is created within our `MyParcel.com` portal, it will be connected to 1 broker, for example `MyParcel.com`.",
        "responses": {
          "200": {
            "description": "Retrieved the brokers.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta",
                    "links"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BrokerResponse"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    },
                    "links": {
                      "type": "object",
                      "required": [
                        "self",
                        "first",
                        "last"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "self": {
                          "type": "string",
                          "example": "https://api.myparcel.com/brokers?page[number]=3&page[size]=30"
                        },
                        "first": {
                          "type": "string",
                          "example": "https://api.myparcel.com/brokers?page[number]=1&page[size]=30"
                        },
                        "prev": {
                          "type": "string",
                          "example": "https://api.myparcel.com/brokers?page[number]=2&page[size]=30"
                        },
                        "next": {
                          "type": "string",
                          "example": "https://api.myparcel.com/brokers?page[number]=4&page[size]=30"
                        },
                        "last": {
                          "type": "string",
                          "example": "https://api.myparcel.com/brokers?page[number]=13&page[size]=30"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Brokers"
        ],
        "security": [
          {
            "OAuth2": [
              "enterprises.manage"
            ]
          }
        ],
        "summary": "Create a new broker.",
        "description": "This endpoint creates a new broker with the posted data.",
        "requestBody": {
          "description": "The broker object to be created.",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "additionalProperties": false,
                "properties": {
                  "data": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Broker"
                      },
                      {
                        "required": [
                          "attributes",
                          "relationships"
                        ],
                        "properties": {
                          "id": {
                            "readOnly": true
                          },
                          "attributes": {
                            "required": [
                              "name",
                              "logo_url",
                              "favicon_url",
                              "style"
                            ],
                            "properties": {
                              "style": {
                                "required": [
                                  "background_color",
                                  "foreground_color",
                                  "primary_color",
                                  "secondary_color",
                                  "accent_color"
                                ]
                              }
                            }
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The broker is created.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BrokerResponse"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/brokers/{broker_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/path-broker_id"
        }
      ],
      "get": {
        "tags": [
          "Brokers"
        ],
        "security": [
          {
            "OAuth2": [
              "broker.member"
            ]
          },
          {
            "OAuth2": [
              "enterprises.manage"
            ]
          }
        ],
        "summary": "Get a broker by ID.",
        "description": "This endpoint retrieves the broker with the supplied ID.",
        "responses": {
          "200": {
            "description": "Retrieved the broker.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BrokerResponse"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Brokers"
        ],
        "security": [
          {
            "OAuth2": [
              "enterprises.manage"
            ]
          }
        ],
        "summary": "Update a broker by ID.",
        "description": "This endpoint updates the broker with the supplied ID.",
        "requestBody": {
          "description": "The broker object with attributes to be updated.",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "additionalProperties": false,
                "properties": {
                  "data": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Broker"
                      },
                      {
                        "required": [
                          "id"
                        ],
                        "properties": {
                          "relationships": {
                            "readOnly": true
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The broker is updated.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BrokerResponse"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/brokers/{broker_id}/carriers": {
      "parameters": [
        {
          "$ref": "#/components/parameters/path-broker_id"
        }
      ],
      "get": {
        "tags": [
          "Brokers"
        ],
        "security": [
          {
            "OAuth2": [
              "broker.member"
            ]
          },
          {
            "OAuth2": [
              "enterprise.manage"
            ]
          }
        ],
        "summary": "Get the available carriers for a specific broker.",
        "description": "This endpoint retrieves available carriers for a broker with the supplied ID.",
        "responses": {
          "200": {
            "description": "Retrieved the available carriers for the broker.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CarrierResponse"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    },
                    "links": {
                      "type": "object",
                      "required": [
                        "self",
                        "first",
                        "last"
                      ],
                      "properties": {
                        "self": {
                          "type": "string",
                          "example": "https://api.myparcel.com/brokers/a294ee55-bc94-4890-b734-afd56c158f95/carriers?page[number]=3&page[size]=30"
                        },
                        "first": {
                          "type": "string",
                          "example": "https://api.myparcel.com/brokers/a294ee55-bc94-4890-b734-afd56c158f95/carriers?page[number]=1&page[size]=30"
                        },
                        "prev": {
                          "type": "string",
                          "example": "https://api.myparcel.com/brokers/a294ee55-bc94-4890-b734-afd56c158f95/carriers?page[number]=2&page[size]=30"
                        },
                        "next": {
                          "type": "string",
                          "example": "https://api.myparcel.com/brokers/a294ee55-bc94-4890-b734-afd56c158f95/carriers?page[number]=4&page[size]=30"
                        },
                        "last": {
                          "type": "string",
                          "example": "https://api.myparcel.com/brokers/a294ee55-bc94-4890-b734-afd56c158f95/carriers?page[number]=13&page[size]=30"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/brokers/{broker_id}/relationships/carriers": {
      "parameters": [
        {
          "$ref": "#/components/parameters/path-broker_id"
        }
      ],
      "post": {
        "tags": [
          "Brokers"
        ],
        "security": [
          {
            "OAuth2": [
              "enterprise.manage"
            ]
          }
        ],
        "summary": "Add carrier relationships to a broker.",
        "description": "This endpoint adds carrier relationships to the broker with the supplied ID.",
        "requestBody": {
          "description": "The carrier relationships to be added to the broker.",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/CarriersRelationship"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "The carrier relationships have been added."
          }
        }
      },
      "delete": {
        "tags": [
          "Brokers"
        ],
        "security": [
          {
            "OAuth2": [
              "enterprise.manage"
            ]
          }
        ],
        "summary": "Delete carrier relationships from a broker.",
        "description": "This endpoint deletes carrier relationships from the broker with the supplied ID.",
        "requestBody": {
          "description": "The carrier relationships to be deleted from the broker.",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/CarriersRelationship"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "The contract relationships have been deleted."
          }
        }
      }
    },
    "/calculate-landed-costs": {
      "post": {
        "tags": [
          "RPC"
        ],
        "security": [
          {
            "OAuth2": [
              "landed_cost"
            ]
          }
        ],
        "summary": "Calculate landed costs.",
        "description": "This endpoint returns the landed costs for the supplied products.",
        "requestBody": {
          "description": "The shipment containing the products.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "recipient_country_code",
                      "recipient_postal_code",
                      "sender_country_code",
                      "sender_postal_code",
                      "weight",
                      "items"
                    ],
                    "properties": {
                      "recipient_country_code": {
                        "$ref": "#/components/schemas/CountryCode"
                      },
                      "recipient_postal_code": {
                        "type": "string",
                        "example": "NW1 6XE"
                      },
                      "sender_country_code": {
                        "$ref": "#/components/schemas/CountryCode"
                      },
                      "sender_postal_code": {
                        "type": "string",
                        "example": "NW1 6XE"
                      },
                      "weight": {
                        "type": "integer",
                        "example": 5000,
                        "description": "Weight in grams."
                      },
                      "shipping_value": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/Price"
                          },
                          {
                            "description": "The `total_tax` and `total_duty` are calculated from all `items` passed. This `shipping_value` is for any value that is not covered by the items, such as the packaging or postage fees."
                          }
                        ]
                      },
                      "items": {
                        "type": "array",
                        "items": {
                          "oneOf": [
                            {
                              "required": [
                                "description",
                                "item_value",
                                "hs_code"
                              ],
                              "properties": {
                                "description": {
                                  "type": "string",
                                  "example": "OnePlus X"
                                },
                                "item_value": {
                                  "$ref": "#/components/schemas/Price"
                                },
                                "hs_code": {
                                  "type": "string",
                                  "pattern": "^[0-9.]+$",
                                  "example": "8517.12.00"
                                }
                              }
                            },
                            {
                              "required": [
                                "description",
                                "item_value",
                                "sku"
                              ],
                              "properties": {
                                "description": {
                                  "type": "string",
                                  "example": "OnePlus X"
                                },
                                "item_value": {
                                  "$ref": "#/components/schemas/Price"
                                },
                                "sku": {
                                  "type": "string",
                                  "example": "123456789"
                                }
                              }
                            }
                          ]
                        },
                        "description": "Shipment items containing `description`, `item_value` and `hs_code`. If the `hs_code` is not supplied, the `sku` is required and an HS code suggestion request will be triggered on your behalf, to determine the best matching HS code."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Landed costs have been calculated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "total_tax",
                        "total_duty",
                        "items"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "required": [
                              "description",
                              "item_value",
                              "hs_code",
                              "tax",
                              "duty"
                            ],
                            "properties": {
                              "description": {
                                "type": "string",
                                "example": "OnePlus X"
                              },
                              "item_value": {
                                "$ref": "#/components/schemas/Price"
                              },
                              "hs_code": {
                                "type": "string",
                                "pattern": "^[0-9.]+$",
                                "example": "8517.12.00"
                              },
                              "tax": {
                                "$ref": "#/components/schemas/Price"
                              },
                              "duty": {
                                "$ref": "#/components/schemas/Price"
                              }
                            }
                          }
                        },
                        "total_tax": {
                          "$ref": "#/components/schemas/Price"
                        },
                        "total_duty": {
                          "$ref": "#/components/schemas/Price"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/carriers": {
      "get": {
        "tags": [
          "Carriers"
        ],
        "security": [
          {
            "OAuth2": [
              "broker.member"
            ]
          }
        ],
        "summary": "Get all available carriers.",
        "description": "This endpoint retrieves carriers available to your API client. The availability of carriers depends on the broker your client is connected to.",
        "responses": {
          "200": {
            "description": "Retrieved the carriers.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta",
                    "links"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CarrierResponse"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    },
                    "links": {
                      "type": "object",
                      "required": [
                        "self",
                        "first",
                        "last"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "self": {
                          "type": "string",
                          "example": "https://api.myparcel.com/carriers?page[number]=3&page[size]=30"
                        },
                        "first": {
                          "type": "string",
                          "example": "https://api.myparcel.com/carriers?page[number]=1&page[size]=30"
                        },
                        "prev": {
                          "type": "string",
                          "example": "https://api.myparcel.com/carriers?page[number]=2&page[size]=30"
                        },
                        "next": {
                          "type": "string",
                          "example": "https://api.myparcel.com/carriers?page[number]=4&page[size]=30"
                        },
                        "last": {
                          "type": "string",
                          "example": "https://api.myparcel.com/carriers?page[number]=13&page[size]=30"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/carriers/{carrier_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/path-carrier_id"
        }
      ],
      "get": {
        "tags": [
          "Carriers"
        ],
        "security": [
          {
            "OAuth2": [
              "broker.member"
            ]
          }
        ],
        "summary": "Get a carrier by ID.",
        "description": "This endpoint retrieves the carrier with the supplied ID.",
        "responses": {
          "200": {
            "description": "Retrieved the carrier.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CarrierResponse"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/carriers/{carrier_id}/collection-time-slots": {
      "parameters": [
        {
          "$ref": "#/components/parameters/path-carrier_id"
        }
      ],
      "get": {
        "tags": [
          "Carriers"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Get collection time slots from a carrier.",
        "description": "This endpoint retrieves collection time slots offered by the supplied carrier. These time slots can be used to specify the `collection_time` of a collection.",
        "parameters": [
          {
            "$ref": "#/components/parameters/query-country_code"
          },
          {
            "$ref": "#/components/parameters/query-postal_code"
          },
          {
            "$ref": "#/components/parameters/query-date_from"
          },
          {
            "$ref": "#/components/parameters/query-date_to"
          },
          {
            "name": "service_code",
            "in": "query",
            "description": "Service code to limit the time slots by (required by some carriers).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved the collection time slots.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta",
                    "links"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/CollectionTimeSlot"
                          },
                          {
                            "required": [
                              "id"
                            ]
                          }
                        ]
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    },
                    "links": {
                      "type": "object",
                      "required": [
                        "self",
                        "first",
                        "last"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "self": {
                          "type": "string",
                          "example": "https://api.myparcel.com/carriers/be7f6752-34e0-49a1-a832-bcc209450ea9/collection-time-slots?country_code=GB&postal_code=NW1%206XE&date_from=1648110600&date_to=1648114200&page[number]=3&page[size]=30"
                        },
                        "first": {
                          "type": "string",
                          "example": "https://api.myparcel.com/carriers/be7f6752-34e0-49a1-a832-bcc209450ea9/collection-time-slots?country_code=GB&postal_code=NW1%206XE&date_from=1648110600&date_to=1648114200&page[number]=1&page[size]=30"
                        },
                        "prev": {
                          "type": "string",
                          "example": "https://api.myparcel.com/carriers/be7f6752-34e0-49a1-a832-bcc209450ea9/collection-time-slots?country_code=GB&postal_code=NW1%206XE&date_from=1648110600&date_to=1648114200&page[number]=2&page[size]=30"
                        },
                        "next": {
                          "type": "string",
                          "example": "https://api.myparcel.com/carriers/be7f6752-34e0-49a1-a832-bcc209450ea9/collection-time-slots?country_code=GB&postal_code=NW1%206XE&date_from=1648110600&date_to=1648114200&page[number]=4&page[size]=30"
                        },
                        "last": {
                          "type": "string",
                          "example": "https://api.myparcel.com/carriers/be7f6752-34e0-49a1-a832-bcc209450ea9/collection-time-slots?country_code=GB&postal_code=NW1%206XE&date_from=1648110600&date_to=1648114200&page[number]=13&page[size]=30"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/carriers/{carrier_id}/contracts": {
      "parameters": [
        {
          "$ref": "#/components/parameters/path-carrier_id"
        }
      ],
      "get": {
        "tags": [
          "Carriers"
        ],
        "security": [
          {
            "OAuth2": [
              "organizations.manage"
            ]
          }
        ],
        "summary": "Get all the contracts for a carrier.",
        "description": "This endpoint retrieves contracts for the supplied carrier. Only active contracts with a verified status can be used to create shipments.",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "Comma separated string of the relationship names you want to include the data of.<br>The relationships that can be included are:<ul><li>`carrier`</li><li>`owner`</li><li>`liability_coverages`</li></ul>",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved the contract(s).",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta",
                    "links"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ContractResponse"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    },
                    "included": {
                      "$ref": "#/components/schemas/ContractIncludes"
                    },
                    "links": {
                      "type": "object",
                      "required": [
                        "self",
                        "first",
                        "last"
                      ],
                      "properties": {
                        "self": {
                          "type": "string",
                          "example": "https://api.myparcel.com/carriers/be7f6752-34e0-49a1-a832-bcc209450ea9/contracts?page[number]=3&page[size]=30"
                        },
                        "first": {
                          "type": "string",
                          "example": "https://api.myparcel.com/carriers/be7f6752-34e0-49a1-a832-bcc209450ea9/contracts?page[number]=1&page[size]=30"
                        },
                        "prev": {
                          "type": "string",
                          "example": "https://api.myparcel.com/carriers/be7f6752-34e0-49a1-a832-bcc209450ea9/contracts?page[number]=2&page[size]=30"
                        },
                        "next": {
                          "type": "string",
                          "example": "https://api.myparcel.com/carriers/be7f6752-34e0-49a1-a832-bcc209450ea9/contracts?page[number]=4&page[size]=30"
                        },
                        "last": {
                          "type": "string",
                          "example": "https://api.myparcel.com/carriers/be7f6752-34e0-49a1-a832-bcc209450ea9/contracts?page[number]=13&page[size]=30"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/carriers/{carrier_id}/pickup-dropoff-locations/{pudo_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/path-carrier_id"
        },
        {
          "$ref": "#/components/parameters/path-pudo_id"
        }
      ],
      "get": {
        "tags": [
          "Carriers"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Get a location from a carrier by ID.",
        "description": "This endpoint retrieves the pick-up and drop-off location with the supplied ID.",
        "responses": {
          "200": {
            "description": "Retrieved the location.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta",
                    "links"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "data": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/PickupDropoffLocation"
                        },
                        {
                          "required": [
                            "id"
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No location was found for the given ID. Does this carrier support getting PUDO by ID?"
          }
        }
      }
    },
    "/carriers/{carrier_id}/pickup-dropoff-locations/{latitude}/{longitude}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/path-carrier_id"
        },
        {
          "$ref": "#/components/parameters/path-latitude"
        },
        {
          "$ref": "#/components/parameters/path-longitude"
        }
      ],
      "get": {
        "tags": [
          "Carriers"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Get locations from a carrier by geolocation.",
        "description": "This endpoint retrieves pick-up and drop-off locations by geolocation offered by the supplied carrier.<ul><li>Locations of the type `pick-up` can be used with services offering this as their `delivery_method`.</li><li>Locations of the type `drop-off` can be used with services offering this as their `handover_method`.</li></ul>",
        "parameters": [
          {
            "name": "contract",
            "in": "query",
            "description": "Specific contract (id) to use for authentication with the carrier. If none is specified then the first active contract will be used.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[radius]",
            "in": "query",
            "description": "Only return locations within the specified radius (in meters).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter[categories]",
            "in": "query",
            "description": "Comma separated list of location categories to return. Possible options are:<ul><li>`pick-up`</li><li>`drop-off`</li></ul>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[features]",
            "in": "query",
            "description": "Comma separated list of features to filter the locations by. Possible options are:<ul><li>`print-label-in-store`</li></ul>",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/query-filter-location_type"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved the locations.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta",
                    "links"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PickupDropoffLocationResponse"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    },
                    "links": {
                      "type": "object",
                      "required": [
                        "self",
                        "first",
                        "last"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "self": {
                          "type": "string",
                          "example": "https://api.myparcel.com/carriers/be7f6752-34e0-49a1-a832-bcc209450ea9/pickup-dropoff-locations/52.354078/4.903159?page[number]=3&page[size]=30"
                        },
                        "first": {
                          "type": "string",
                          "example": "https://api.myparcel.com/carriers/be7f6752-34e0-49a1-a832-bcc209450ea9/pickup-dropoff-locations/52.354078/4.903159?page[number]=1&page[size]=30"
                        },
                        "prev": {
                          "type": "string",
                          "example": "https://api.myparcel.com/carriers/be7f6752-34e0-49a1-a832-bcc209450ea9/pickup-dropoff-locations/52.354078/4.903159?page[number]=2&page[size]=30"
                        },
                        "next": {
                          "type": "string",
                          "example": "https://api.myparcel.com/carriers/be7f6752-34e0-49a1-a832-bcc209450ea9/pickup-dropoff-locations/52.354078/4.903159?page[number]=4&page[size]=30"
                        },
                        "last": {
                          "type": "string",
                          "example": "https://api.myparcel.com/carriers/be7f6752-34e0-49a1-a832-bcc209450ea9/pickup-dropoff-locations/52.354078/4.903159?page[number]=13&page[size]=30"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/carriers/{carrier_id}/pickup-dropoff-locations/{country_code}/{postal_code}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/path-carrier_id"
        },
        {
          "$ref": "#/components/parameters/path-country_code"
        },
        {
          "$ref": "#/components/parameters/path-postal_code"
        }
      ],
      "get": {
        "tags": [
          "Carriers"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Get locations from a carrier by country and postal code.",
        "description": "This endpoint retrieves pick-up and drop-off locations by country code and postal code offered by the supplied carrier.<ul><li>Locations of the type `pick-up` can be used with services offering this as their `delivery_method`.</li><li>Locations of the type `drop-off` can be used with services offering this as their `handover_method`.</li></ul>",
        "parameters": [
          {
            "$ref": "#/components/parameters/query-street"
          },
          {
            "$ref": "#/components/parameters/query-street_number"
          },
          {
            "$ref": "#/components/parameters/query-city"
          },
          {
            "name": "contract",
            "in": "query",
            "description": "Specific contract (id) to use for authentication with the carrier. If none is specified then the first active contract will be used.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[categories]",
            "in": "query",
            "description": "Comma separated list of location categories to return. Possible options are:<ul><li>`pick-up`</li><li>`drop-off`</li></ul>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[features]",
            "in": "query",
            "description": "Comma separated list of features to filter the locations by. Possible options are:<ul><li>`print-label-in-store`</li></ul>",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/query-filter-location_type"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved the locations.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta",
                    "links"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PickupDropoffLocationResponse"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    },
                    "links": {
                      "type": "object",
                      "required": [
                        "self",
                        "first",
                        "last"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "self": {
                          "type": "string",
                          "example": "https://api.myparcel.com/carriers/be7f6752-34e0-49a1-a832-bcc209450ea9/pickup-dropoff-locations/GB/NW1%206XE?page[number]=3&page[size]=30"
                        },
                        "first": {
                          "type": "string",
                          "example": "https://api.myparcel.com/carriers/be7f6752-34e0-49a1-a832-bcc209450ea9/pickup-dropoff-locations/GB/NW1%206XE?page[number]=1&page[size]=30"
                        },
                        "prev": {
                          "type": "string",
                          "example": "https://api.myparcel.com/carriers/be7f6752-34e0-49a1-a832-bcc209450ea9/pickup-dropoff-locations/GB/NW1%206XE?page[number]=2&page[size]=30"
                        },
                        "next": {
                          "type": "string",
                          "example": "https://api.myparcel.com/carriers/be7f6752-34e0-49a1-a832-bcc209450ea9/pickup-dropoff-locations/GB/NW1%206XE?page[number]=4&page[size]=30"
                        },
                        "last": {
                          "type": "string",
                          "example": "https://api.myparcel.com/carriers/be7f6752-34e0-49a1-a832-bcc209450ea9/pickup-dropoff-locations/GB/NW1%206XE?page[number]=13&page[size]=30"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/carrier-surcharges": {
      "get": {
        "tags": [
          "CarrierSurcharges"
        ],
        "security": [
          {
            "OAuth2": [
              "finance.manage"
            ]
          }
        ],
        "summary": "Get all carrier surcharges.",
        "description": "This endpoint retrieves all carrier surcharges.",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "Comma separated string of the relationship names you want to include the data of.<br>The relationships that can be included are:<ul><li>`carrier`</li></ul>",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/query-filter-carrier"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved the carrier surcharges.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta",
                    "links"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CarrierSurchargeResponse"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    },
                    "links": {
                      "type": "object",
                      "required": [
                        "self",
                        "first",
                        "last"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "self": {
                          "type": "string",
                          "example": "https://api.myparcel.com/carrier-surcharges?page[number]=3&page[size]=30"
                        },
                        "first": {
                          "type": "string",
                          "example": "https://api.myparcel.com/carrier-surcharges?page[number]=1&page[size]=30"
                        },
                        "prev": {
                          "type": "string",
                          "example": "https://api.myparcel.com/carrier-surcharges?page[number]=2&page[size]=30"
                        },
                        "next": {
                          "type": "string",
                          "example": "https://api.myparcel.com/carrier-surcharges?page[number]=4&page[size]=30"
                        },
                        "last": {
                          "type": "string",
                          "example": "https://api.myparcel.com/carrier-surcharges?page[number]=13&page[size]=30"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "CarrierSurcharges"
        ],
        "security": [
          {
            "OAuth2": [
              "finance.manage"
            ]
          }
        ],
        "summary": "Create a new carrier surcharge.",
        "description": "This endpoint creates a new carrier surcharge with the posted data. It is required that a carrier relationship is always provided when creating a carrier surcharge.",
        "requestBody": {
          "description": "The carrier surcharge object to be created.",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "additionalProperties": false,
                "properties": {
                  "data": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/CarrierSurcharge"
                      },
                      {
                        "required": [
                          "attributes",
                          "relationships"
                        ],
                        "properties": {
                          "id": {
                            "readOnly": true
                          },
                          "attributes": {
                            "required": [
                              "name",
                              "fee"
                            ]
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The carrier surcharge is created.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CarrierSurchargeResponse"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/carrier-surcharges/{carrier_surcharge_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/path-carrier_surcharge_id"
        }
      ],
      "get": {
        "tags": [
          "CarrierSurcharges"
        ],
        "security": [
          {
            "OAuth2": [
              "finance.manage"
            ]
          }
        ],
        "summary": "Get a carrier surcharge by ID.",
        "description": "This endpoint retrieves the carrier surcharge with the supplied ID.",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "Comma separated string of the relationship names you want to include the data of.<br> The relationships that can be included are:<ul><li>`carrier`</li></ul>",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved the carrier surcharge.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CarrierSurchargeResponse"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "CarrierSurcharges"
        ],
        "security": [
          {
            "OAuth2": [
              "finance.manage"
            ]
          }
        ],
        "summary": "Update a carrier surcharge by ID.",
        "description": "This endpoint updates the carrier surcharge with the supplied ID.",
        "requestBody": {
          "description": "The carrier surcharge object with attributes to be updated.",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "additionalProperties": false,
                "properties": {
                  "data": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/CarrierSurcharge"
                      },
                      {
                        "required": [
                          "id"
                        ],
                        "properties": {
                          "relationships": {
                            "readOnly": true
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The carrier surcharge is updated.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CarrierSurchargeResponse"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "CarrierSurcharges"
        ],
        "security": [
          {
            "OAuth2": [
              "finance.manage"
            ]
          }
        ],
        "summary": "Delete a carrier surcharge by ID.",
        "description": "This endpoint deletes the carrier surcharge with the supplied ID.",
        "responses": {
          "204": {
            "description": "The carrier surcharge is deleted."
          }
        }
      }
    },
    "/clients": {
      "get": {
        "tags": [
          "Clients"
        ],
        "security": [
          {
            "OAuth2": [
              "organizations.manage"
            ]
          }
        ],
        "summary": "Get all available clients.",
        "description": "This endpoint retrieves all clients available to you.",
        "responses": {
          "200": {
            "description": "Retrieved the clients.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta",
                    "links"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ClientResponse"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    },
                    "links": {
                      "type": "object",
                      "required": [
                        "self",
                        "first",
                        "last"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "self": {
                          "type": "string",
                          "example": "https://api.myparcel.com/clients?page[number]=3&page[size]=30"
                        },
                        "first": {
                          "type": "string",
                          "example": "https://api.myparcel.com/clients?page[number]=1&page[size]=30"
                        },
                        "prev": {
                          "type": "string",
                          "example": "https://api.myparcel.com/clients?page[number]=2&page[size]=30"
                        },
                        "next": {
                          "type": "string",
                          "example": "https://api.myparcel.com/clients?page[number]=4&page[size]=30"
                        },
                        "last": {
                          "type": "string",
                          "example": "https://api.myparcel.com/clients?page[number]=13&page[size]=30"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Clients"
        ],
        "security": [
          {
            "OAuth2": [
              "organizations.manage"
            ]
          }
        ],
        "summary": "Create a new client.",
        "description": "This endpoint creates a new client with the posted data. The `owner` relationship will be automatically set to your user.",
        "requestBody": {
          "description": "The client object to be created.",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "additionalProperties": false,
                "properties": {
                  "data": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Client"
                      },
                      {
                        "required": [
                          "attributes"
                        ],
                        "properties": {
                          "id": {
                            "readOnly": true
                          },
                          "attributes": {
                            "required": [
                              "name"
                            ]
                          },
                          "relationships": {
                            "readOnly": true
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The client is created.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "data": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ClientResponse"
                        },
                        {
                          "properties": {
                            "attributes": {
                              "required": [
                                "secret"
                              ],
                              "properties": {
                                "secret": {
                                  "type": "string",
                                  "description": "The client secret. Only returned when creating the client.",
                                  "example": "KTT3sjoErkVj4uRQL3o8n276Tz29Ei5t"
                                }
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/clients/{client_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/path-client_id"
        }
      ],
      "get": {
        "tags": [
          "Clients"
        ],
        "security": [
          {
            "OAuth2": [
              "organizations.manage"
            ]
          }
        ],
        "summary": "Get a client by ID.",
        "description": "This endpoint retrieves the client with the supplied ID.",
        "responses": {
          "200": {
            "description": "Retrieved the client.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ClientResponse"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Clients"
        ],
        "security": [
          {
            "OAuth2": [
              "organizations.manage"
            ]
          }
        ],
        "summary": "Delete a client by ID.",
        "description": "This endpoint deletes the client with the supplied ID.",
        "responses": {
          "204": {
            "description": "The client is deleted."
          }
        }
      }
    },
    "/collections": {
      "get": {
        "tags": [
          "Collections"
        ],
        "security": [
          {
            "OAuth2": [
              "collections.manage"
            ]
          },
          {
            "OAuth2": [
              "collections.view"
            ]
          }
        ],
        "summary": "Get all available collections.",
        "description": "This endpoint retrieves collections available to your API client.",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "Comma separated string of the relationship names you want to include the data of.<br>The relationships that can be included are:<ul><li>`contract`</li><li>`contract.carrier`</li><li>`manifest`</li><li>`shop`</li><li>`status`</li></ul>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[collection_date]",
            "in": "query",
            "description": "Date string in ISO 8601 date format (YYYY-MM-DD). Only collections with a collection date that matches this date will be in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/query-filter-shop"
          },
          {
            "$ref": "#/components/parameters/query-filter-status"
          },
          {
            "$ref": "#/components/parameters/query-filter-carrier"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved the collections.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta",
                    "links"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CollectionResponse"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    },
                    "included": {
                      "$ref": "#/components/schemas/CollectionIncludes"
                    },
                    "links": {
                      "type": "object",
                      "required": [
                        "self",
                        "first",
                        "last"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "self": {
                          "type": "string",
                          "example": "https://api.myparcel.com/collections?page[number]=3&page[size]=30"
                        },
                        "first": {
                          "type": "string",
                          "example": "https://api.myparcel.com/collections?page[number]=1&page[size]=30"
                        },
                        "prev": {
                          "type": "string",
                          "example": "https://api.myparcel.com/collections?page[number]=2&page[size]=30"
                        },
                        "next": {
                          "type": "string",
                          "example": "https://api.myparcel.com/collections?page[number]=4&page[size]=30"
                        },
                        "last": {
                          "type": "string",
                          "example": "https://api.myparcel.com/collections?page[number]=13&page[size]=30"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Collections"
        ],
        "security": [
          {
            "OAuth2": [
              "collections.manage"
            ]
          }
        ],
        "summary": "Create a new collection.",
        "description": "This endpoint creates a new collection with the posted data.",
        "requestBody": {
          "description": "The collection object to be created.",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "additionalProperties": false,
                "properties": {
                  "data": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Collection"
                      },
                      {
                        "required": [
                          "attributes",
                          "relationships"
                        ],
                        "properties": {
                          "id": {
                            "readOnly": true
                          },
                          "attributes": {
                            "required": [
                              "address",
                              "collection_time"
                            ],
                            "properties": {
                              "address": {
                                "required": [
                                  "street_1",
                                  "city",
                                  "country_code"
                                ]
                              }
                            }
                          },
                          "relationships": {
                            "required": [
                              "shop"
                            ],
                            "properties": {
                              "status": {
                                "readOnly": true
                              }
                            }
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The collection has been created.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CollectionResponse"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/collections/{collection_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/path-collection_id"
        }
      ],
      "get": {
        "tags": [
          "Collections"
        ],
        "security": [
          {
            "OAuth2": [
              "shipments.manage"
            ]
          },
          {
            "OAuth2": [
              "shipments.view"
            ]
          }
        ],
        "summary": "Get a collection by ID.",
        "description": "This endpoint retrieves the collection with the supplied ID.",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "Comma separated string of the relationship names you want to include the data of.<br>The relationships that can be included are:<ul><li>`contract`</li><li>`contract.carrier`</li><li>`manifest`</li><li>`shop`</li><li>`status`</li></ul>",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved the collection.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CollectionResponse"
                    },
                    "included": {
                      "$ref": "#/components/schemas/CollectionIncludes"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Collections"
        ],
        "security": [
          {
            "OAuth2": [
              "collections.manage"
            ]
          }
        ],
        "summary": "Update a collection by ID.",
        "description": "This endpoint updates the collection with the supplied ID. <br> The collection can be registered with the carrier through this endpoint by using the `register` attribute. <br> No further updates are possible after registration.",
        "requestBody": {
          "description": "The collection object with attributes to be updated.",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "additionalProperties": false,
                "properties": {
                  "data": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Collection"
                      },
                      {
                        "required": [
                          "id"
                        ],
                        "properties": {
                          "attributes": {
                            "properties": {
                              "register": {
                                "type": "boolean",
                                "example": true,
                                "description": "Indicates whether the collection should be registered with the carrier. Further updates are no longer possible after a successful registration."
                              },
                              "address": {
                                "readOnly": true
                              },
                              "collection_time": {
                                "readOnly": true
                              }
                            }
                          },
                          "relationships": {
                            "properties": {
                              "status": {
                                "$ref": "#/components/schemas/StatusRelationship",
                                "description": "An untracked collection can be manually updated to indicate the collection has been collected."
                              },
                              "shop": {
                                "readOnly": true
                              },
                              "contract": {
                                "readOnly": true
                              },
                              "shipments": {
                                "readOnly": true
                              }
                            }
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The collection is updated.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CollectionResponse"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Collections"
        ],
        "security": [
          {
            "OAuth2": [
              "shipments.manage"
            ]
          }
        ],
        "summary": "Delete a collection by ID.",
        "description": "This endpoint deletes the collection with the supplied ID.",
        "responses": {
          "204": {
            "description": "The collection is deleted."
          }
        }
      }
    },
    "/collections/{collection_id}/files/{file_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/path-collection_id"
        },
        {
          "$ref": "#/components/parameters/path-file_id"
        }
      ],
      "get": {
        "tags": [
          "Collections"
        ],
        "security": [
          {
            "OAuth2": [
              "collections.manage"
            ]
          },
          {
            "OAuth2": [
              "collections.view"
            ]
          }
        ],
        "summary": "Get a file related to a collection.",
        "description": "This endpoint retrieves a file of the supplied collection.",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "You must set the accept header to retrieve the file in the given format. Possible options are: <ul><li>`application/pdf`</li></ul>",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/pdf"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved the file.",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "description": "Raw contents of the PDF file."
                }
              }
            }
          }
        }
      }
    },
    "/collection-schedules": {
      "get": {
        "tags": [
          "CollectionSchedules"
        ],
        "security": [
          {
            "OAuth2": [
              "collections.manage"
            ]
          }
        ],
        "summary": "Get all available collection schedules.",
        "description": "This endpoint retrieves collection schedules.",
        "parameters": [
          {
            "$ref": "#/components/parameters/query-filter-shop"
          },
          {
            "$ref": "#/components/parameters/query-filter-carrier"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved the collection schedules.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta",
                    "links"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/CollectionSchedule"
                          },
                          {
                            "required": [
                              "id"
                            ]
                          }
                        ]
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    },
                    "links": {
                      "type": "object",
                      "required": [
                        "self",
                        "first",
                        "last"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "self": {
                          "type": "string",
                          "example": "https://api.myparcel.com/collection-schedules?page[number]=3&page[size]=30"
                        },
                        "first": {
                          "type": "string",
                          "example": "https://api.myparcel.com/collection-schedules?page[number]=1&page[size]=30"
                        },
                        "prev": {
                          "type": "string",
                          "example": "https://api.myparcel.com/collection-schedules?page[number]=2&page[size]=30"
                        },
                        "next": {
                          "type": "string",
                          "example": "https://api.myparcel.com/collection-schedules?page[number]=4&page[size]=30"
                        },
                        "last": {
                          "type": "string",
                          "example": "https://api.myparcel.com/collection-schedules?page[number]=13&page[size]=30"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "CollectionSchedules"
        ],
        "security": [
          {
            "OAuth2": [
              "collections.manage"
            ]
          }
        ],
        "summary": "Create a new collection schedules.",
        "description": "This endpoint creates a new collection schedules.",
        "requestBody": {
          "description": "The collection schedule to create.",
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "additionalProperties": false,
                "properties": {
                  "data": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/CollectionSchedule"
                      },
                      {
                        "properties": {
                          "id": {
                            "readOnly": true
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The collection schedule has been created.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CollectionSchedule"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/collection-schedules/{collection_schedule_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/path-collection_schedule_id"
        }
      ],
      "get": {
        "tags": [
          "CollectionSchedules"
        ],
        "security": [
          {
            "OAuth2": [
              "collections.manage"
            ]
          }
        ],
        "summary": "Get a collection schedule by ID.",
        "description": "This endpoint retrieves a collection schedule by ID.",
        "responses": {
          "200": {
            "description": "Retrieved the collection schedule.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/CollectionSchedule"
                        },
                        {
                          "required": [
                            "id"
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "CollectionSchedules"
        ],
        "security": [
          {
            "OAuth2": [
              "collections.manage"
            ]
          }
        ],
        "summary": "Delete a collection schedule by ID.",
        "description": "This endpoint deletes a collection schedule by ID.",
        "responses": {
          "204": {
            "description": "Deleted the collection schedule."
          }
        }
      }
    },
    "/consolidate-shipments": {
      "post": {
        "tags": [
          "RPC"
        ],
        "security": [
          {
            "OAuth2": [
              "shipments.manage"
            ]
          }
        ],
        "summary": "Consolidate shipments.",
        "description": "This endpoint links the provided shipments to a consolidation shipment.",
        "requestBody": {
          "description": "The consolidation shipment ID and the shipment IDs.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "properties": {
                      "consolidation_shipment_id": {
                        "$ref": "#/components/schemas/Uuid"
                      },
                      "shipment_ids": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/Uuid"
                        },
                        "example": [
                          "d2eef012-f2fe-4f5f-af05-1acd86c51c3b",
                          "170cbede-2401-40f5-aaea-7b0d2986a250",
                          "883a89b1-40b9-44ab-9d71-f47ea5e0ca98"
                        ],
                        "description": "Uuids of shipments that need updating."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "The consolidation ID has been added to the shipments."
          }
        }
      }
    },
    "/contracts": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "security": [
          {
            "OAuth2": [
              "broker.member",
              "organizations.manage"
            ]
          },
          {
            "OAuth2": [
              "broker.member",
              "shipments.manage"
            ]
          },
          {
            "OAuth2": [
              "broker.member",
              "shipments.view"
            ]
          }
        ],
        "summary": "Get all available contracts.",
        "description": "This endpoint retrieves contracts available to your API client. Only active contracts with a verified status can be used to create shipments.",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "Comma separated string of the relationship names you want to include the data of.<br>The relationships that can be included are:<ul><li>`carrier`</li><li>`owner`</li><li>`liability_coverages`</li></ul>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[search]",
            "in": "query",
            "description": "String of characters you want to look for in a contract's attributes.<br>Contracts that have the string in their `name` attribute or their `owner`'s `name` attribute will be returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/query-filter-carrier"
          },
          {
            "$ref": "#/components/parameters/query-filter-owner"
          },
          {
            "name": "filter[status]",
            "in": "query",
            "description": "Comma separated string of the status of the contract you want to filter on.<br>The statuses that can be filtered on are:<ul><li>`active`</li><li>`inactive`</li><li>`invalid`</li><li>`pending`</li></ul>",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved the contracts.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta",
                    "links"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ContractResponse"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    },
                    "included": {
                      "$ref": "#/components/schemas/ContractIncludes"
                    },
                    "links": {
                      "type": "object",
                      "required": [
                        "self",
                        "first",
                        "last"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "self": {
                          "type": "string",
[...]
