{"openapi":"3.1.0","info":{"title":"Sandbox Secure API","version":"3.2.1"},"servers":[{"url":"https://api.paystand.co/v3"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","name":"X-CUSTOMER-ID","x-default":"axjf9rjo9o6ojp5kcya7vle0"},"sec1":{"type":"apiKey","in":"header","name":"Authorization","x-bearer-format":"bearer","x-default":"zGwAN7EfU9HYsGlcIQGGBKZ75Xug1Zdy"},"sec2":{"type":"apiKey","in":"header","name":"Accept","x-default":"application/json"},"sec3":{"type":"apiKey","in":"header","name":"Content-Type","x-default":"application/json"}}},"security":[{"sec0":[],"sec1":[],"sec2":[],"sec3":[]}],"paths":{"/refunds/{refundId}":{"put":{"summary":"Update a refund","description":"","operationId":"update-refund","parameters":[{"name":"refundId","in":"path","description":"The id of the refund","schema":{"type":"string","default":"r5asl6ygfew3k47ixztdfka1"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"description":{"type":"string","description":"A short description of the refund.","default":"Description for the refund"},"meta":{"type":"string","description":"Optional key/values to help link this refund to an external system.","default":"{     \"clientRefundId\": \"06b3c1ebdced4a69be755771\"   }","format":"json"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"object\":\"refund\",\n  \"id\":\"r5asl6ygfew3k47ixztdfka1\",\n  \"amount\":\"20.00\",\n  \"currency\":\"USD\",\n  \"settlementAmount\": \"20.00\",\n  \"settlementCurrency\": \"USD\",\n  \"paymentId\":\"e26pqmpubmlsmqak7d93vpnc\",\n  \"balanceChangeId\": \"a16609a00d5943aab4408b9b\",\n  \"description\": \"Description for the refund\",\n  \"meta\":{\n    \"clientRefundId\": \"06b3c1ebdced4a69be755771\"\n  },\n  \"status\":\"paid\",\n  \"created\":\"2015-10-28T22:55:28.000Z\",\n  \"lastUpdated\":\"2015-10-28T22:55:30.000Z\"\n}"}},"schema":{"type":"object","properties":{"object":{"type":"string","example":"refund"},"id":{"type":"string","example":"r5asl6ygfew3k47ixztdfka1"},"amount":{"type":"string","example":"20.00"},"currency":{"type":"string","example":"USD"},"settlementAmount":{"type":"string","example":"20.00"},"settlementCurrency":{"type":"string","example":"USD"},"paymentId":{"type":"string","example":"e26pqmpubmlsmqak7d93vpnc"},"balanceChangeId":{"type":"string","example":"a16609a00d5943aab4408b9b"},"description":{"type":"string","example":"Description for the refund"},"meta":{"type":"object","properties":{"clientRefundId":{"type":"string","example":"06b3c1ebdced4a69be755771"}}},"status":{"type":"string","example":"paid"},"created":{"type":"string","example":"2015-10-28T22:55:28.000Z"},"lastUpdated":{"type":"string","example":"2015-10-28T22:55:30.000Z"}}}}}}},"deprecated":false},"get":{"summary":"Retrieve a refund","description":"","operationId":"retrieve-refund","parameters":[{"name":"refundId","in":"path","description":"The id of the refund","schema":{"type":"string","default":"r5asl6ygfew3k47ixztdfka1"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"object\":\"refund\",\n  \"id\":\"r5asl6ygfew3k47ixztdfka1\",\n  \"amount\":\"20.00\",\n  \"currency\":\"USD\",\n  \"settlementAmount\": \"20.00\",\n  \"settlementCurrency\": \"USD\",\n  \"paymentId\":\"e26pqmpubmlsmqak7d93vpnc\",\n  \"balanceChangeId\": \"a16609a00d5943aab4408b9b\",\n  \"description\": \"A description for the refund\",\n  \"meta\": {},\n  \"status\":\"paid\",\n  \"created\":\"2015-10-28T22:55:28.000Z\",\n  \"lastUpdated\":\"2015-10-28T22:55:30.000Z\"\n}"}},"schema":{"type":"object","properties":{"object":{"type":"string","example":"refund"},"id":{"type":"string","example":"r5asl6ygfew3k47ixztdfka1"},"amount":{"type":"string","example":"20.00"},"currency":{"type":"string","example":"USD"},"settlementAmount":{"type":"string","example":"20.00"},"settlementCurrency":{"type":"string","example":"USD"},"paymentId":{"type":"string","example":"e26pqmpubmlsmqak7d93vpnc"},"balanceChangeId":{"type":"string","example":"a16609a00d5943aab4408b9b"},"description":{"type":"string","example":"A description for the refund"},"meta":{"type":"object","properties":{}},"status":{"type":"string","example":"paid"},"created":{"type":"string","example":"2015-10-28T22:55:28.000Z"},"lastUpdated":{"type":"string","example":"2015-10-28T22:55:30.000Z"}}}}}}},"deprecated":false}},"/disputes/{disputeId}":{"put":{"summary":"Update a dispute","description":"","operationId":"update-dispute","parameters":[{"name":"disputeId","in":"path","description":"The id of the dispute.","schema":{"type":"string","default":"r5asl6umgaj3k47ixztdfka1"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"meta":{"type":"string","description":"Optional key/values to help link a dispute to an external system.","default":"{     \"clientDisputeId\": \"ac2c6bb937054327974ec9d0\"   }","format":"json"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": \"r5asl6umgaj3k47ixztdfka1\",\n  \"object\": \"dispute\",\n  \"amount\": \"20.00\",\n  \"amountWon\": \"0.00\",\n  \"currency\": \"USD\",\n  \"settlementAmount\": \"20.00\",\n  \"settlementCurrency\": \"USD\",\n  \"disputeFee\": \"35.00\",\n  \"paymentId\": \"lzfu2yd6gwrtoo9tf6jpzla8\",\n  \"balanceChangeId\": \"a16609a00d5943aab4408b9b\",\n  \"wonBalanceChangeId\": \"ac65b4bdcafc4a7a86817f49\",\n  \"meta\": {\n    \"clientDisputeId\": \"ac2c6bb937054327974ec9d0\"\n  },\n  \"closed\": false,\n  \"status\": \"processing\",\n  \"created\": \"2015-10-28T22:55:32.000Z\",\n  \"lastUpdated\": \"2015-10-29T22:55:32.000Z\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"r5asl6umgaj3k47ixztdfka1"},"object":{"type":"string","example":"dispute"},"amount":{"type":"string","example":"20.00"},"amountWon":{"type":"string","example":"0.00"},"currency":{"type":"string","example":"USD"},"settlementAmount":{"type":"string","example":"20.00"},"settlementCurrency":{"type":"string","example":"USD"},"disputeFee":{"type":"string","example":"35.00"},"paymentId":{"type":"string","example":"lzfu2yd6gwrtoo9tf6jpzla8"},"balanceChangeId":{"type":"string","example":"a16609a00d5943aab4408b9b"},"wonBalanceChangeId":{"type":"string","example":"ac65b4bdcafc4a7a86817f49"},"meta":{"type":"object","properties":{"clientDisputeId":{"type":"string","example":"ac2c6bb937054327974ec9d0"}}},"closed":{"type":"boolean","example":false,"default":true},"status":{"type":"string","example":"processing"},"created":{"type":"string","example":"2015-10-28T22:55:32.000Z"},"lastUpdated":{"type":"string","example":"2015-10-29T22:55:32.000Z"}}}}}}},"deprecated":false},"get":{"summary":"Retrieve a dispute","description":"","operationId":"retrieve-dispute","parameters":[{"name":"disputeId","in":"path","description":"The id of the dispute","schema":{"type":"string","default":"r5asl6umgaj3k47ixztdfka1"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": \"r5asl6umgaj3k47ixztdfka1\",\n  \"object\": \"dispute\",\n  \"amount\": \"20.00\",\n  \"amountWon\": \"0.00\",\n  \"currency\": \"USD\",\n  \"settlementAmount\": \"20.00\",\n  \"settlementCurrency\": \"USD\",\n  \"disputeFee\": \"35.00\",\n  \"paymentId\": \"lzfu2yd6gwrtoo9tf6jpzla8\",\n  \"balanceChangeId\": \"a16609a00d5943aab4408b9b\",\n  \"wonBalanceChangeId\": \"ac65b4bdcafc4a7a86817f49\",\n  \"closed\": false,\n  \"status\": \"processing\",\n  \"created\": \"2015-10-28T22:55:32.000Z\",\n  \"lastUpdated\": \"2015-10-29T22:55:32.000Z\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"r5asl6umgaj3k47ixztdfka1"},"object":{"type":"string","example":"dispute"},"amount":{"type":"string","example":"20.00"},"amountWon":{"type":"string","example":"0.00"},"currency":{"type":"string","example":"USD"},"settlementAmount":{"type":"string","example":"20.00"},"settlementCurrency":{"type":"string","example":"USD"},"disputeFee":{"type":"string","example":"35.00"},"paymentId":{"type":"string","example":"lzfu2yd6gwrtoo9tf6jpzla8"},"balanceChangeId":{"type":"string","example":"a16609a00d5943aab4408b9b"},"wonBalanceChangeId":{"type":"string","example":"ac65b4bdcafc4a7a86817f49"},"closed":{"type":"boolean","example":false,"default":true},"status":{"type":"string","example":"processing"},"created":{"type":"string","example":"2015-10-28T22:55:32.000Z"},"lastUpdated":{"type":"string","example":"2015-10-29T22:55:32.000Z"}}}}}}},"deprecated":false}},"/payments/{paymentId}/refunds":{"post":{"summary":"Create a refund","description":"","operationId":"create-refund","parameters":[{"name":"paymentId","in":"path","description":"The id of the payment.","schema":{"type":"string","default":"required"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"amount":{"type":"string","description":"The amount of the refund.","default":"20.00"},"currency":{"type":"string","description":"The currency for the refund","default":"USD"},"meta":{"type":"string","description":"Optional key/values to link the refund to an external system","default":"{}","format":"json"},"description":{"type":"string","description":"A short description for the refund","default":"A description for the refund"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"object\":\"refund\",\n  \"id\":\"r5asl6ygfew3k47ixztdfka1\",\n  \"amount\":\"20.00\",\n  \"currency\":\"USD\",\n  \"settlementAmount\": \"20.00\",\n  \"settlementCurrency\": \"USD\",\n  \"paymentId\":\"e26pqmpubmlsmqak7d93vpnc\",\n  \"balanceChangeId\": \"a16609a00d5943aab4408b9b\",\n  \"description\": \"A description for the refund\",\n  \"meta\": {},\n  \"status\":\"paid\",\n  \"created\":\"2015-10-28T22:55:28.000Z\",\n  \"lastUpdated\":\"2015-10-28T22:55:30.000Z\"\n}"}},"schema":{"type":"object","properties":{"object":{"type":"string","example":"refund"},"id":{"type":"string","example":"r5asl6ygfew3k47ixztdfka1"},"amount":{"type":"string","example":"20.00"},"currency":{"type":"string","example":"USD"},"settlementAmount":{"type":"string","example":"20.00"},"settlementCurrency":{"type":"string","example":"USD"},"paymentId":{"type":"string","example":"e26pqmpubmlsmqak7d93vpnc"},"balanceChangeId":{"type":"string","example":"a16609a00d5943aab4408b9b"},"description":{"type":"string","example":"A description for the refund"},"meta":{"type":"object","properties":{}},"status":{"type":"string","example":"paid"},"created":{"type":"string","example":"2015-10-28T22:55:28.000Z"},"lastUpdated":{"type":"string","example":"2015-10-28T22:55:30.000Z"}}}}}}},"deprecated":false}},"/withdrawals":{"post":{"summary":"Create a withdrawal","description":"Create a withdrawal to send funds from a Paystand account to an external bank account. Provide an amount, currency, and bankId to create a withdrawal. Optionally provide a short description and meta to help describe and link the withdrawal to an external system. Specify an \"accountKey\" to use a specific paystand account as a source of funds for the withdrawal. The \"default\" paystand account for the customer will be used if no \"accountKey\" is specified in the request.\n\nThe withdrawal amount may not exceed the current available balance. The current available balance is determined by summing all payments with status \"paid\" and subtracting any refunds, disputes, holds, fees, and/or withdrawals. Withdrawals will usually appear in the bank account within two business days of the withdrawal being submitted.","operationId":"create-withdrawal","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"amount":{"type":"string","description":"The amount of the withdrawal","default":"5.10"},"currency":{"type":"string","description":"The currency for the withdrawal","default":"USD"},"bankId":{"type":"string","description":"The id of the bank to send funds to.","default":"oixj37gx9bjbn3f13rt6dou4"},"accountKey":{"type":"string","description":"The key of the account to be used as a source of funds"},"meta":{"type":"string","description":"Optional key/values to help link the withdrawal to an external system.","default":"{}","format":"json"},"description":{"type":"string","description":"An optional description of the withdrawal."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n\t\"id\":\"x9jqrxtekqgdgtuikt5bn3lk\",\n  \"object\":\"withdrawal\",\n  \"amount\":\"5.10\",\n  \"currency\":\"USD\",\n  \"bankId\":\"oixj37gx9bjbn3f13rt6dou4\",\n  \"meta\" :{},\n  \"status\":\"posted\",\n  \"created\":\"2015-10-28T22:57:00.000Z\",\n  \"lastUpdated\":\"2015-10-28T22:57:03.000Z\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"x9jqrxtekqgdgtuikt5bn3lk"},"object":{"type":"string","example":"withdrawal"},"amount":{"type":"string","example":"5.10"},"currency":{"type":"string","example":"USD"},"bankId":{"type":"string","example":"oixj37gx9bjbn3f13rt6dou4"},"meta":{"type":"object","properties":{}},"status":{"type":"string","example":"posted"},"created":{"type":"string","example":"2015-10-28T22:57:00.000Z"},"lastUpdated":{"type":"string","example":"2015-10-28T22:57:03.000Z"}}}}}}},"deprecated":false}},"/withdrawals/{withdrawalId}":{"get":{"summary":"Retrieve a withdrawal","description":"","operationId":"retrieve-withdrawal","parameters":[{"name":"withdrawalId","in":"path","description":"The id of the withdrawal.","schema":{"type":"string","default":"x9jqrxtekqgdgtuikt5bn3lk"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n\t\"id\":\"x9jqrxtekqgdgtuikt5bn3lk\",\n  \"object\":\"withdrawal\",\n  \"amount\":\"5.10\",\n  \"currency\":\"USD\",\n  \"bankId\":\"oixj37gx9bjbn3f13rt6dou4\",\n  \"meta\" :{},\n  \"status\":\"posted\",\n  \"created\":\"2015-10-28T22:57:00.000Z\",\n  \"lastUpdated\":\"2015-10-28T22:57:03.000Z\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"x9jqrxtekqgdgtuikt5bn3lk"},"object":{"type":"string","example":"withdrawal"},"amount":{"type":"string","example":"5.10"},"currency":{"type":"string","example":"USD"},"bankId":{"type":"string","example":"oixj37gx9bjbn3f13rt6dou4"},"meta":{"type":"object","properties":{}},"status":{"type":"string","example":"posted"},"created":{"type":"string","example":"2015-10-28T22:57:00.000Z"},"lastUpdated":{"type":"string","example":"2015-10-28T22:57:03.000Z"}}}}}}},"deprecated":false},"put":{"summary":"Update a withdrawal","description":"Update a withdrawal's description or meta details. Note that once a withdrawal is created the amount, currency, accountKey, and bankId cannot be updated.","operationId":"update-withdrawal","parameters":[{"name":"withdrawalId","in":"path","description":"The id of the withdrawal.","schema":{"type":"string","default":"9o7f8g00witrma2moebd0aur"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"meta":{"type":"string","description":"Optional key/values to help link the withdrawal to an external system.","default":"{       \"externalId\": \"9o7f8g00witrma2moebd0aur\"     }","format":"json"},"description":{"type":"string","description":"Optional description for the withdrawal","default":"A short description"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"object\": \"withdrawal\",\n    \"id\": \"9o7f8g00witrma2moebd0aur\",\n    \"amount\": \"20.00\",\n    \"currency\": \"USD\",\n    \"bankId\": \"p5cwqjqp6o49q31zr42kjv78\",\n    \"accountKey\": \"default\",\n    \"bank\": {\n        \"object\": \"bank\",\n        \"id\": \"p5cwqjqp6o49q31zr42kjv78\",\n        \"accountType\": \"checking\",\n        \"bankName\": \"PayStand Test Bank\",\n        \"routingNumber\": \"110000000\",\n        \"nameOnAccount\": \"Child1 Customer\",\n        \"accountHolderType\": \"individual\",\n        \"currency\": \"USD\",\n        \"country\": \"USA\",\n        \"last4\": \"6789\",\n        \"fingerprint\": \"4cpw32i0hoz5iyhx7la194cy\",\n        \"isDefault\": false,\n        \"isApDefault\": false,\n        \"billingAddress\": {\n            \"object\": \"address\",\n            \"id\": \"4jal7o111y1mlpqn2wwysc7y\",\n            \"street1\": \"payer street\",\n            \"city\": \"payer city\",\n            \"state\": \"CA\",\n            \"postalCode\": \"95060\",\n            \"country\": \"USA\",\n            \"status\": \"active\",\n            \"created\": \"2019-06-19T17:26:25.000Z\",\n            \"lastUpdated\": \"2019-06-19T17:26:26.000Z\"\n        },\n        \"externalId\": \"bank_001\",\n        \"dropped\": true,\n        \"verified\": true,\n        \"status\": \"active\",\n        \"created\": \"2019-06-19T17:26:25.000Z\",\n        \"lastUpdated\": \"2019-06-24T13:58:48.000Z\"\n    },\n    \"description\": \"A short description\",\n    \"meta\": {\n      \"externalId\": \"9o7f8g00witrma2moebd0aur\"\n    },\n    \"dateToPost\": \"2019-07-10T16:53:20.000Z\",\n    \"transfers\": [\n        {\n            \"object\": \"transfer\",\n            \"id\": \"ptpj75e1j0djht9dpax6ospz\",\n            \"amount\": \"20.00\",\n            \"currency\": \"USD\",\n            \"dateToPost\": \"2019-07-10T16:53:20.000Z\",\n            \"holds\": [\n                {\n                    \"object\": \"hold\",\n                    \"id\": \"cj43xts2ckzaijsraljejomi\",\n                    \"amount\": \"20.00\",\n                    \"currency\": \"USD\",\n                    \"holdTime\": \"0\",\n                    \"releaseDate\": \"2019-07-10T16:53:20.000Z\",\n                    \"resourceId\": \"ptpj75e1j0djht9dpax6ospz\",\n                    \"resourceType\": \"Transfer\",\n                    \"status\": \"active\",\n                    \"created\": \"2019-07-10T16:53:20.000Z\",\n                    \"lastUpdated\": \"2019-07-10T16:53:21.000Z\"\n                }\n            ],\n            \"bankId\": \"p5cwqjqp6o49q31zr42kjv78\",\n            \"accountKey\": \"default\",\n            \"resourceId\": \"9o7f8g00witrma2moebd0aur\",\n            \"resourceType\": \"Withdrawal\",\n            \"status\": \"processing\",\n            \"ownerId\": \"yxfxbcl6jjtjk57zv7t97i01\",\n            \"created\": \"2019-07-10T16:53:20.000Z\",\n            \"lastUpdated\": \"2019-07-10T16:53:20.000Z\"\n        }\n    ],\n    \"hasTransactions\": false,\n    \"ownerId\": \"yxfxbcl6jjtjk57zv7t97i01\",\n    \"status\": \"processing\",\n    \"created\": \"2019-07-10T16:53:20.000Z\",\n    \"lastUpdated\": \"2019-07-10T17:44:44.000Z\"\n}"}},"schema":{"type":"object","properties":{"object":{"type":"string","example":"withdrawal"},"id":{"type":"string","example":"9o7f8g00witrma2moebd0aur"},"amount":{"type":"string","example":"20.00"},"currency":{"type":"string","example":"USD"},"bankId":{"type":"string","example":"p5cwqjqp6o49q31zr42kjv78"},"accountKey":{"type":"string","example":"default"},"bank":{"type":"object","properties":{"object":{"type":"string","example":"bank"},"id":{"type":"string","example":"p5cwqjqp6o49q31zr42kjv78"},"accountType":{"type":"string","example":"checking"},"bankName":{"type":"string","example":"PayStand Test Bank"},"routingNumber":{"type":"string","example":"110000000"},"nameOnAccount":{"type":"string","example":"Child1 Customer"},"accountHolderType":{"type":"string","example":"individual"},"currency":{"type":"string","example":"USD"},"country":{"type":"string","example":"USA"},"last4":{"type":"string","example":"6789"},"fingerprint":{"type":"string","example":"4cpw32i0hoz5iyhx7la194cy"},"isDefault":{"type":"boolean","example":false,"default":true},"isApDefault":{"type":"boolean","example":false,"default":true},"billingAddress":{"type":"object","properties":{"object":{"type":"string","example":"address"},"id":{"type":"string","example":"4jal7o111y1mlpqn2wwysc7y"},"street1":{"type":"string","example":"payer street"},"city":{"type":"string","example":"payer city"},"state":{"type":"string","example":"CA"},"postalCode":{"type":"string","example":"95060"},"country":{"type":"string","example":"USA"},"status":{"type":"string","example":"active"},"created":{"type":"string","example":"2019-06-19T17:26:25.000Z"},"lastUpdated":{"type":"string","example":"2019-06-19T17:26:26.000Z"}}},"externalId":{"type":"string","example":"bank_001"},"dropped":{"type":"boolean","example":true,"default":true},"verified":{"type":"boolean","example":true,"default":true},"status":{"type":"string","example":"active"},"created":{"type":"string","example":"2019-06-19T17:26:25.000Z"},"lastUpdated":{"type":"string","example":"2019-06-24T13:58:48.000Z"}}},"description":{"type":"string","example":"A short description"},"meta":{"type":"object","properties":{"externalId":{"type":"string","example":"9o7f8g00witrma2moebd0aur"}}},"dateToPost":{"type":"string","example":"2019-07-10T16:53:20.000Z"},"transfers":{"type":"array","items":{"type":"object","properties":{"object":{"type":"string","example":"transfer"},"id":{"type":"string","example":"ptpj75e1j0djht9dpax6ospz"},"amount":{"type":"string","example":"20.00"},"currency":{"type":"string","example":"USD"},"dateToPost":{"type":"string","example":"2019-07-10T16:53:20.000Z"},"holds":{"type":"array","items":{"type":"object","properties":{"object":{"type":"string","example":"hold"},"id":{"type":"string","example":"cj43xts2ckzaijsraljejomi"},"amount":{"type":"string","example":"20.00"},"currency":{"type":"string","example":"USD"},"holdTime":{"type":"string","example":"0"},"releaseDate":{"type":"string","example":"2019-07-10T16:53:20.000Z"},"resourceId":{"type":"string","example":"ptpj75e1j0djht9dpax6ospz"},"resourceType":{"type":"string","example":"Transfer"},"status":{"type":"string","example":"active"},"created":{"type":"string","example":"2019-07-10T16:53:20.000Z"},"lastUpdated":{"type":"string","example":"2019-07-10T16:53:21.000Z"}}}},"bankId":{"type":"string","example":"p5cwqjqp6o49q31zr42kjv78"},"accountKey":{"type":"string","example":"default"},"resourceId":{"type":"string","example":"9o7f8g00witrma2moebd0aur"},"resourceType":{"type":"string","example":"Withdrawal"},"status":{"type":"string","example":"processing"},"ownerId":{"type":"string","example":"yxfxbcl6jjtjk57zv7t97i01"},"created":{"type":"string","example":"2019-07-10T16:53:20.000Z"},"lastUpdated":{"type":"string","example":"2019-07-10T16:53:20.000Z"}}}},"hasTransactions":{"type":"boolean","example":false,"default":true},"ownerId":{"type":"string","example":"yxfxbcl6jjtjk57zv7t97i01"},"status":{"type":"string","example":"processing"},"created":{"type":"string","example":"2019-07-10T16:53:20.000Z"},"lastUpdated":{"type":"string","example":"2019-07-10T17:44:44.000Z"}}}}}}},"deprecated":false}},"/customers/accounts":{"post":{"summary":"Create a customer","description":"Create a customer","operationId":"create-customer","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["name","email","planKey","address","contact","defaultBank","legalEntity","merchant"],"properties":{"name":{"type":"string","default":"Martha's Flowers"},"email":{"type":"string","default":"martha@marthasflowers-test.com"},"planKey":{"type":"string","description":"This key would be provided by Paystand","default":"marthas_flowers_pro"},"vanityName":{"type":"string"},"description":{"type":"string"},"address":{"type":"object","properties":{"street1":{"type":"string","default":"123 First St"},"street2":{"type":"string","default":"#2"},"city":{"type":"string","default":"Santa Cruz"},"state":{"type":"string","default":"CA"},"postalCode":{"type":"string","default":"95060"},"country":{"type":"string","default":"USA"}}},"contact":{"type":"object","properties":{"firstName":{"type":"string","default":"Haymito"},"lastName":{"type":"string","default":"Lin"},"email":{"type":"string","default":"test+developer@paystand.com"},"phone":{"type":"string","default":"8312223333"},"dateOfBirth":{"type":"string","default":"08-30-1984"}}},"defaultBank":{"type":"object","properties":{"nameOnAccount":{"type":"string","default":"Jessica Lin"},"accountHolderType":{"type":"string","default":"company"},"accountNumber":{"type":"string","default":"000123456789"},"routingNumber":{"type":"string","default":"110000000"},"accountType":{"type":"string","description":"checking, savings","default":"checking"},"country":{"type":"string","default":"USA"},"currency":{"type":"string","default":"USD"}}},"legalEntity":{"type":"object","properties":{"entityType":{"type":"string","default":"LLC"},"yearsInBusiness":{"type":"string","default":"20"},"businessName":{"type":"string","default":"Martha's Flowers"},"businessTaxId":{"type":"string","default":"000000000"},"businessSalesVolume":{"type":"string","default":"1000"},"businessAcceptedCards":{"type":"boolean","default":true},"personalTaxId":{"type":"string","default":"000000000"},"stakePercent":{"type":"string","default":"45"}}},"merchant":{"type":"object","properties":{"businessName":{"type":"string","default":"Martha's Flowers"},"businessUrl":{"type":"string","default":"http://www.marthasflowers-test.com"},"businessLogo":{"type":"string","default":"http://www.marthasflowers-test.com/images/flowers.jpg"},"supportEmail":{"type":"string","default":"support@marthasflowers-test.com"},"supportPhone":{"type":"string","default":"8317778888"},"supportUrl":{"type":"string","default":"http://www.marthasflowers-test.com"},"productDescription":{"type":"string","default":"We sell flowers"},"statementDescriptor":{"type":"string","default":"Marthas Flowers"},"merchantCategoryCode":{"type":"string","default":"4816"}}},"settings":{"type":"string","default":"{   \"events\": {     \"enabled\": true,     \"urls\": {       \"always\": [         \"http://api.marthasflowers-test.com/webhooks\"       ]     }   } }","format":"json"},"meta":{"type":"string","default":"{}","format":"json"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"account\": {\n    \"object\": \"customer\",\n    \"id\": \"5lhbn6gvlmspmpo0jtkrnbm1\",\n    \"name\": \"Martha's Flowers\",\n    \"email\": \"martha@marthasflowers-test.com\",\n    \"vanityName\": \"marthasflowers\",\n    \"planId\": \"rscog1koxbx9ppvltkx0fok6\",\n    \"planName\": \"Martha's Flowers Pro\",\n    \"planStatus\": {\n      \"plan\": \"Martha's Flowers Pro\",\n      \"status\": \"complete\",\n      \"needed\": [],\n      \"verifications\": {\n        \"professional\": \"complete\"\n      }\n    },\n    \"defaultBank\": {...},\n    \"address\": {...},\n    \"contact\": {...},\n    \"keys\": {\n      \"object\": \"apiKey\",\n      \"id\": \"5meq0e2dm0jja24875sknry\",\n      \"publishable\": \"q9bf0ikhkhkhjjvr4ht4ojhx\",\n      \"secret\": \"gw6lkjji8776678jegcue6wctn0\",\n      \"status\": \"active\",\n      \"created\": \"2017-02-21T23:27:26.000Z\",\n      \"lastUpdated\": \"2017-02-21T23:27:26.000Z\"\n    },\n    \"legalEntity\": {...},\n    \"merchant\": {...},\n    \"settings\": {...},\n    \"timezone\": \"UTC\",\n    \"status\": \"active\",\n    \"ownerId\": \"5lhbn6gvlmspmpo0jtkrnbm1\",\n    \"created\": \"2019-02-21T23:27:25.000Z\",\n    \"lastUpdated\": \"2019-02-21T23:27:28.871Z\"\n  },\n  \"application\": {...}\n}"}}}}}},"deprecated":false}},"/events/{eventId}":{"get":{"summary":"Retrieve an event","description":"","operationId":"retrieve-event","parameters":[{"name":"eventId","in":"path","description":"The id of the event.","schema":{"type":"string","default":"f031b865909242e098fcdc50"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": \"f031b865909242e098fcdc50\",\n  \"object\": \"event\",\n  \"resource\": {\n    \"object\":\"payment\",\n    \"id\":\"h3qo5rine8itrr43wfen2356\",\n    \"amount\": \"20.37\",\n    \"currency\": \"USD\",\n    \"description\": \"Public card payment\",\n    \"meta\": {..},\n    \"billingAddress\": {..},\n    \"personalContact\": {..},\n    \"sourceId\": \"crjeild6qpfse3a09vhtxw\",\n    \"sourceType\": \"Card\",\n    \"status\": \"paid\",\n    \"created\": \"2015-10-28T22:55:09.000Z\",\n    \"lastUpdated\": \"2015-10-28T22:55:13.000Z\"\n    },    \n  \"diff\": {\n    \"previous\": {\n      \"status\": \"posted\"\n    },\n    \"changes\": {\n      \"status\": \"paid\"\n    }\n  },\n  \"urls\": [\n    \"http://test.company.com/webhooks\"\n  ],\n  \"created\": \"2015-10-28T22:55:09.000Z\",\n  \"lastUpdated\": \"2015-10-28T22:55:13.000Z\"\n}"}}}}}},"deprecated":false}},"/banks":{"post":{"summary":"Create a bank","description":"Create a bank","operationId":"create-bank","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["nameOnAccount","accountType","accountHolderType","accountNumber","routingNumber","currency","country","billingAddress"],"properties":{"nameOnAccount":{"type":"string","description":"The name on the account.","default":"Jessica Lin"},"accountType":{"type":"string","description":"The account type of the bank [checking, saving]","default":"checking"},"accountHolderType":{"type":"string","description":"The account holder type for the bank. [company, individual]","default":"company"},"accountNumber":{"type":"string","description":"The account number of the bank.","default":"000123456789"},"routingNumber":{"type":"string","description":"The routing number of the bank.","default":"110000000"},"currency":{"type":"string","description":"The currency of the bank account.","default":"USD"},"country":{"type":"string","description":"The country of the bank account.","default":"USA"},"billingAddress":{"type":"object","description":"The billing address of the bank account.","properties":{"street1":{"type":"string","default":"123 First St"},"street2":{"type":"string","default":"#2"},"city":{"type":"string","default":"Santa Cruz"},"state":{"type":"string","default":"CA"},"postalCode":{"type":"string","default":"95060"},"country":{"type":"string","default":"USA"}}},"meta":{"type":"string","description":"Optional key/values to help link the bank to an external system.","default":"{}","format":"json"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"object\": \"bank\",\n  \"id\": \"kav410bdsww9nat8gafwrb\",\n  \"accountType\": \"checking\",\n  \"routingNumber\": \"110000000\",\n  \"nameOnAccount\": \"Jessica Lin\",\n  \"currency\": \"USD\",\n  \"country\": \"USA\",\n  \"last4\": \"6789\",\n  \"fingerprint\": \"lv5rz4qvndasdaasd34v62u2d2y\",\n  \"billingAddress\": {\n    \"street1\": \"923 test account st\",\n    \"street2\": \"9g\",\n    \"city\": \"santa cruz\",\n    \"state\": \"CA\",\n    \"postalCode\": \"90040\",\n    \"country\": \"USA\"\n  },\n  \"dropped\": false,\n  \"verified\": false,\n  \"status\": \"active\",\n  \"created\": \"2015-10-28T22:56:20.000Z\",\n  \"lastUpdated\": \"2015-10-28T24:56:20.000Z\"\n}"}},"schema":{"type":"object","properties":{"object":{"type":"string","example":"bank"},"id":{"type":"string","example":"kav410bdsww9nat8gafwrb"},"accountType":{"type":"string","example":"checking"},"routingNumber":{"type":"string","example":"110000000"},"nameOnAccount":{"type":"string","example":"Jessica Lin"},"currency":{"type":"string","example":"USD"},"country":{"type":"string","example":"USA"},"last4":{"type":"string","example":"6789"},"fingerprint":{"type":"string","example":"lv5rz4qvndasdaasd34v62u2d2y"},"billingAddress":{"type":"object","properties":{"street1":{"type":"string","example":"923 test account st"},"street2":{"type":"string","example":"9g"},"city":{"type":"string","example":"santa cruz"},"state":{"type":"string","example":"CA"},"postalCode":{"type":"string","example":"90040"},"country":{"type":"string","example":"USA"}}},"dropped":{"type":"boolean","example":false,"default":true},"verified":{"type":"boolean","example":false,"default":true},"status":{"type":"string","example":"active"},"created":{"type":"string","example":"2015-10-28T22:56:20.000Z"},"lastUpdated":{"type":"string","example":"2015-10-28T24:56:20.000Z"}}}}}}},"deprecated":false}},"/banks/{bankId}":{"put":{"summary":"Update a bank","description":"Update a bank","operationId":"update-bank","parameters":[{"name":"bankId","in":"path","description":"The id of the bank.","schema":{"type":"string","default":"kav410bdsww9nat8gafwrb"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"accountType":{"type":"string","description":"The account type of the bank"},"nameOnAccount":{"type":"string","description":"The name on the account","default":"Jessica Lin"},"currency":{"type":"string","description":"The currency of the bank"},"country":{"type":"string","description":"The country of the bank."},"meta":{"type":"string","description":"Optional key/values to help link the bank to an external system.","default":"{}","format":"json"},"billingAddress":{"type":"object","description":"The billing address of the bank.","properties":{}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"object\": \"bank\",\n  \"id\": \"kav410bdsww9nat8gafwrb\",\n  \"accountType\": \"checking\",\n  \"routingNumber\": \"110000000\",\n  \"nameOnAccount\": \"Jessica Lin\",\n  \"currency\": \"USD\",\n  \"country\": \"USA\",\n  \"last4\": \"6789\",\n  \"fingerprint\": \"lv5rz4qvndasdaasd34v62u2d2y\",\n  \"billingAddress\": {\n    \"street1\": \"923 test account st\",\n    \"street2\": \"9g\",\n    \"city\": \"santa cruz\",\n    \"state\": \"CA\",\n    \"postalCode\": \"90040\",\n    \"country\": \"USA\"\n  },\n  \"dropped\": false,\n  \"verified\": false,\n  \"status\": \"active\",\n  \"created\": \"2015-10-28T22:56:20.000Z\",\n  \"lastUpdated\": \"2015-10-28T24:56:20.000Z\"\n}"}},"schema":{"type":"object","properties":{"object":{"type":"string","example":"bank"},"id":{"type":"string","example":"kav410bdsww9nat8gafwrb"},"accountType":{"type":"string","example":"checking"},"routingNumber":{"type":"string","example":"110000000"},"nameOnAccount":{"type":"string","example":"Jessica Lin"},"currency":{"type":"string","example":"USD"},"country":{"type":"string","example":"USA"},"last4":{"type":"string","example":"6789"},"fingerprint":{"type":"string","example":"lv5rz4qvndasdaasd34v62u2d2y"},"billingAddress":{"type":"object","properties":{"street1":{"type":"string","example":"923 test account st"},"street2":{"type":"string","example":"9g"},"city":{"type":"string","example":"santa cruz"},"state":{"type":"string","example":"CA"},"postalCode":{"type":"string","example":"90040"},"country":{"type":"string","example":"USA"}}},"dropped":{"type":"boolean","example":false,"default":true},"verified":{"type":"boolean","example":false,"default":true},"status":{"type":"string","example":"active"},"created":{"type":"string","example":"2015-10-28T22:56:20.000Z"},"lastUpdated":{"type":"string","example":"2015-10-28T24:56:20.000Z"}}}}}}},"deprecated":false},"get":{"summary":"Retrieve a bank","description":"Retrieve a bank","operationId":"retrieve-bank","parameters":[{"name":"bankId","in":"path","description":"The id of the bank.","schema":{"type":"string","default":"kav410bdsww9nat8gafwrb"},"required":true},{"name":"desanitize","in":"query","description":"Include \"desanitize=true\" if you want to view the full account number for a bank resource.","schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"object\": \"bank\",\n  \"id\": \"kav410bdsww9nat8gafwrb\",\n  \"accountType\": \"checking\",\n  \"routingNumber\": \"110000000\",\n  \"nameOnAccount\": \"Jessica Lin\",\n  \"currency\": \"USD\",\n  \"country\": \"USA\",\n  \"last4\": \"6789\",\n  \"fingerprint\": \"lv5rz4qvndasdaasd34v62u2d2y\",\n  \"billingAddress\": {\n    \"street1\": \"923 test account st\",\n    \"street2\": \"9g\",\n    \"city\": \"santa cruz\",\n    \"state\": \"CA\",\n    \"postalCode\": \"90040\",\n    \"country\": \"USA\"\n  },\n  \"dropped\": false,\n  \"verified\": false,\n  \"status\": \"active\",\n  \"created\": \"2015-10-28T22:56:20.000Z\",\n  \"lastUpdated\": \"2015-10-28T24:56:20.000Z\"\n}"},"Desanitized":{"value":"{\n  \"object\":\"bank\",\n  \"id\":\"kav410bdsww9nat8gafwrb\",\n  \"accountType\":\"checking\",\n  \"accountNumber\": \"000123456789\",\n  \"routingNumber\":\"110000000\",\n  \"nameOnAccount\":\"Jessica Lin\",\n  \"currency\":\"USD\",\n  \"country\":\"USA\",\n  \"last4\":\"6789\",\n  \"fingerprint\":\"lv5rz4qvndasdaasd34v62u2d2y\",\n  \"isDefault\": true,\n  \"billingAddress\":{\n    \"street1\":\"923 test account st\",\n    \"street2\":\"9g\",\n    \"city\":\"santa cruz\",\n    \"state\":\"CA\",\n    \"postalCode\":\"90040\",\n    \"country\":\"USA\"\n  },\n  \"meta\": {\n    \"clientCustomerId\": \"14f3c86236714b508c58f9956831fb6b\"\n  },\n  \"dropped\":false,\n  \"verified\":false,\n  \"status\":\"active\",\n  \"created\":\"2015-10-28T22:56:20.000Z\",\n  \"lastUpdated\":\"2015-10-28T24:56:20.000Z\"\n}"}},"schema":{"oneOf":[{"type":"object","properties":{"object":{"type":"string","example":"bank"},"id":{"type":"string","example":"kav410bdsww9nat8gafwrb"},"accountType":{"type":"string","example":"checking"},"routingNumber":{"type":"string","example":"110000000"},"nameOnAccount":{"type":"string","example":"Jessica Lin"},"currency":{"type":"string","example":"USD"},"country":{"type":"string","example":"USA"},"last4":{"type":"string","example":"6789"},"fingerprint":{"type":"string","example":"lv5rz4qvndasdaasd34v62u2d2y"},"billingAddress":{"type":"object","properties":{"street1":{"type":"string","example":"923 test account st"},"street2":{"type":"string","example":"9g"},"city":{"type":"string","example":"santa cruz"},"state":{"type":"string","example":"CA"},"postalCode":{"type":"string","example":"90040"},"country":{"type":"string","example":"USA"}}},"dropped":{"type":"boolean","example":false,"default":true},"verified":{"type":"boolean","example":false,"default":true},"status":{"type":"string","example":"active"},"created":{"type":"string","example":"2015-10-28T22:56:20.000Z"},"lastUpdated":{"type":"string","example":"2015-10-28T24:56:20.000Z"}}},{"title":"Desanitized","type":"object","properties":{"object":{"type":"string","example":"bank"},"id":{"type":"string","example":"kav410bdsww9nat8gafwrb"},"accountType":{"type":"string","example":"checking"},"accountNumber":{"type":"string","example":"000123456789"},"routingNumber":{"type":"string","example":"110000000"},"nameOnAccount":{"type":"string","example":"Jessica Lin"},"currency":{"type":"string","example":"USD"},"country":{"type":"string","example":"USA"},"last4":{"type":"string","example":"6789"},"fingerprint":{"type":"string","example":"lv5rz4qvndasdaasd34v62u2d2y"},"isDefault":{"type":"boolean","example":true,"default":true},"billingAddress":{"type":"object","properties":{"street1":{"type":"string","example":"923 test account st"},"street2":{"type":"string","example":"9g"},"city":{"type":"string","example":"santa cruz"},"state":{"type":"string","example":"CA"},"postalCode":{"type":"string","example":"90040"},"country":{"type":"string","example":"USA"}}},"meta":{"type":"object","properties":{"clientCustomerId":{"type":"string","example":"14f3c86236714b508c58f9956831fb6b"}}},"dropped":{"type":"boolean","example":false,"default":true},"verified":{"type":"boolean","example":false,"default":true},"status":{"type":"string","example":"active"},"created":{"type":"string","example":"2015-10-28T22:56:20.000Z"},"lastUpdated":{"type":"string","example":"2015-10-28T24:56:20.000Z"}}}]}}}}},"deprecated":false}},"/banks/{bankId}/drops":{"put":{"summary":"Verify amounts","description":"Verifying a bank account is done by sending the deposited drop amounts to this endpoint. Drops usually arrive in a customer's bank account within two business days of the two-drops being initiated.  Entering the amount here will verify a customer's ownership/access to a bank account. Once verified, a bank can be used for withdrawals/transfers.","operationId":"verify-bank-drop-amounts","parameters":[{"name":"bankId","in":"path","description":"The id of the bank.","schema":{"type":"string","default":"kav410bdsww9nat8gafwrb"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"amounts":{"type":"array","description":"The amounts that showed up on the bank account.","default":["[\"32\"","\"45\"]"],"items":{"type":"string"}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"object\": \"bank\",\n  \"id\": \"kav410bdsww9nat8gafwrb\",\n  \"accountType\": \"checking\",\n  \"routingNumber\": \"110000000\",\n  \"nameOnAccount\": \"Jessica Lin\",\n  \"currency\": \"USD\",\n  \"country\": \"USA\",\n  \"last4\": \"6789\",\n  \"fingerprint\": \"lv5rz4qvndasdaasd34v62u2d2y\",\n  \"billingAddress\": {\n    \"street1\": \"923 test account st\",\n    \"street2\": \"9g\",\n    \"city\": \"santa cruz\",\n    \"state\": \"CA\",\n    \"postalCode\": \"90040\",\n    \"country\": \"USA\"\n  },\n  \"dropped\": true,\n  \"verified\": true,\n  \"status\": \"active\",\n  \"created\": \"2015-10-28T22:56:20.000Z\",\n  \"lastUpdated\": \"2015-10-28T24:56:20.000Z\"\n}"}},"schema":{"type":"object","properties":{"object":{"type":"string","example":"bank"},"id":{"type":"string","example":"kav410bdsww9nat8gafwrb"},"accountType":{"type":"string","example":"checking"},"routingNumber":{"type":"string","example":"110000000"},"nameOnAccount":{"type":"string","example":"Jessica Lin"},"currency":{"type":"string","example":"USD"},"country":{"type":"string","example":"USA"},"last4":{"type":"string","example":"6789"},"fingerprint":{"type":"string","example":"lv5rz4qvndasdaasd34v62u2d2y"},"billingAddress":{"type":"object","properties":{"street1":{"type":"string","example":"923 test account st"},"street2":{"type":"string","example":"9g"},"city":{"type":"string","example":"santa cruz"},"state":{"type":"string","example":"CA"},"postalCode":{"type":"string","example":"90040"},"country":{"type":"string","example":"USA"}}},"dropped":{"type":"boolean","example":true,"default":true},"verified":{"type":"boolean","example":true,"default":true},"status":{"type":"string","example":"active"},"created":{"type":"string","example":"2015-10-28T22:56:20.000Z"},"lastUpdated":{"type":"string","example":"2015-10-28T24:56:20.000Z"}}}}}}},"deprecated":false},"post":{"summary":"Drop amounts","description":"","operationId":"drop-bank-amounts","parameters":[{"name":"bankId","in":"path","description":"The id of the bank","schema":{"type":"string","default":"kav410bdsww9nat8gafwrb"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"object\": \"bank\",\n  \"id\": \"kav410bdsww9nat8gafwrb\",\n  \"accountType\": \"checking\",\n  \"routingNumber\": \"110000000\",\n  \"nameOnAccount\": \"Jessica Lin\",\n  \"currency\": \"USD\",\n  \"country\": \"USA\",\n  \"last4\": \"6789\",\n  \"fingerprint\": \"lv5rz4qvndasdaasd34v62u2d2y\",\n  \"billingAddress\": {\n    \"street1\": \"923 test account st\",\n    \"street2\": \"9g\",\n    \"city\": \"santa cruz\",\n    \"state\": \"CA\",\n    \"postalCode\": \"90040\",\n    \"country\": \"USA\"\n  },\n  \"dropped\": true,\n  \"verified\": false,\n  \"status\": \"active\",\n  \"created\": \"2015-10-28T22:56:20.000Z\",\n  \"lastUpdated\": \"2015-10-28T24:56:20.000Z\"\n}"}},"schema":{"type":"object","properties":{"object":{"type":"string","example":"bank"},"id":{"type":"string","example":"kav410bdsww9nat8gafwrb"},"accountType":{"type":"string","example":"checking"},"routingNumber":{"type":"string","example":"110000000"},"nameOnAccount":{"type":"string","example":"Jessica Lin"},"currency":{"type":"string","example":"USD"},"country":{"type":"string","example":"USA"},"last4":{"type":"string","example":"6789"},"fingerprint":{"type":"string","example":"lv5rz4qvndasdaasd34v62u2d2y"},"billingAddress":{"type":"object","properties":{"street1":{"type":"string","example":"923 test account st"},"street2":{"type":"string","example":"9g"},"city":{"type":"string","example":"santa cruz"},"state":{"type":"string","example":"CA"},"postalCode":{"type":"string","example":"90040"},"country":{"type":"string","example":"USA"}}},"dropped":{"type":"boolean","example":true,"default":true},"verified":{"type":"boolean","example":false,"default":true},"status":{"type":"string","example":"active"},"created":{"type":"string","example":"2015-10-28T22:56:20.000Z"},"lastUpdated":{"type":"string","example":"2015-10-28T24:56:20.000Z"}}}}}}},"deprecated":false}},"/cards/{cardId}":{"put":{"summary":"Update a payer card","description":"Update a card","operationId":"update-card","parameters":[{"name":"cardId","in":"path","description":"The id of the card.","schema":{"type":"string","default":"5ebz8zwt19hytc61py01bjhl"},"required":true},{"name":"Authorization","in":"header","schema":{"type":"string","default":"Bearer"}},{"name":"Accept","in":"header","schema":{"type":"string","default":"application/json"}},{"name":"Content-Type","in":"header","schema":{"type":"string","default":"application/json"}},{"name":"X-CUSTOMER-ID","in":"header","schema":{"type":"string","default":"{customerId}"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"nameOnCard":{"type":"string","description":"The name on the card","default":"Christina Chan"},"billingAddress":{"type":"string","description":"The card billing address","format":"json"},"meta":{"type":"string","description":"Optional key/values to help link the card to an external system.","default":"{\"referenceId\": 1234566}","format":"json"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"object\":\"card\",\n  \"id\":\"5ebz8zwt19hytc61py01bjhl\",\n  \"nameOnCard\":\"Christina Chan\",\n  \"brand\":\"visa\",\n  \"last4\":\"0077\",\n  \"expirationMonth\":\"09\",\n  \"expirationYear\":\"2019\",\n  \"fingerprint\":\"z0h4439popoyeqy9he6yxhn\",\n  \"billingAddress\":{\n    \"street1\":\"123 test st\",\n    \"street2\":\"3g\",\n    \"city\":\"santa cruz\",\n    \"state\":\"CA\",\n    \"postalCode\":\"95060\",\n    \"country\":\"USA\"\n  },\n  \"meta\":{\n    \"referenceId\": 1234566\n  },\n  \"status\":\"active\",\n  \"created\":\"2015-10-28T22:55:01.000Z\",\n  \"lastUpdated\":\"2015-10-28T22:55:02.000Z\"\n}"}},"schema":{"type":"object","properties":{"object":{"type":"string","example":"card"},"id":{"type":"string","example":"5ebz8zwt19hytc61py01bjhl"},"nameOnCard":{"type":"string","example":"Christina Chan"},"brand":{"type":"string","example":"visa"},"last4":{"type":"string","example":"0077"},"expirationMonth":{"type":"string","example":"09"},"expirationYear":{"type":"string","example":"2019"},"fingerprint":{"type":"string","example":"z0h4439popoyeqy9he6yxhn"},"billingAddress":{"type":"object","properties":{"street1":{"type":"string","example":"123 test st"},"street2":{"type":"string","example":"3g"},"city":{"type":"string","example":"santa cruz"},"state":{"type":"string","example":"CA"},"postalCode":{"type":"string","example":"95060"},"country":{"type":"string","example":"USA"}}},"meta":{"type":"object","properties":{"referenceId":{"type":"integer","example":1234566,"default":0}}},"status":{"type":"string","example":"active"},"created":{"type":"string","example":"2015-10-28T22:55:01.000Z"},"lastUpdated":{"type":"string","example":"2015-10-28T22:55:02.000Z"}}}}}}},"deprecated":false},"get":{"summary":"Retrieve a payer card","description":"Retrieve a card","operationId":"retrieve-card","parameters":[{"name":"cardId","in":"path","description":"The id of the card.","schema":{"type":"string","default":"5ebz8zwt19hytc61py01bjhl"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"object\":\"card\",\n  \"id\":\"5ebz8zwt19hytc61py01bjhl\",\n  \"nameOnCard\":\"Christian Chan\",\n  \"brand\":\"visa\",\n  \"last4\":\"0077\",\n  \"expirationMonth\":\"09\",\n  \"expirationYear\":\"2019\",\n  \"fingerprint\":\"z0h4439popoyeqy9he6yxhn\",\n  \"billingAddress\":{\n    \"street1\":\"123 test st\",\n    \"street2\":\"3g\",\n    \"city\":\"santa cruz\",\n    \"state\":\"CA\",\n    \"postalCode\":\"95060\",\n    \"country\":\"USA\"\n  },\n  \"status\":\"active\",\n  \"created\":\"2015-10-28T22:55:01.000Z\",\n  \"lastUpdated\":\"2015-10-28T22:55:02.000Z\"\n}"}},"schema":{"type":"object","properties":{"object":{"type":"string","example":"card"},"id":{"type":"string","example":"5ebz8zwt19hytc61py01bjhl"},"nameOnCard":{"type":"string","example":"Christian Chan"},"brand":{"type":"string","example":"visa"},"last4":{"type":"string","example":"0077"},"expirationMonth":{"type":"string","example":"09"},"expirationYear":{"type":"string","example":"2019"},"fingerprint":{"type":"string","example":"z0h4439popoyeqy9he6yxhn"},"billingAddress":{"type":"object","properties":{"street1":{"type":"string","example":"123 test st"},"street2":{"type":"string","example":"3g"},"city":{"type":"string","example":"santa cruz"},"state":{"type":"string","example":"CA"},"postalCode":{"type":"string","example":"95060"},"country":{"type":"string","example":"USA"}}},"status":{"type":"string","example":"active"},"created":{"type":"string","example":"2015-10-28T22:55:01.000Z"},"lastUpdated":{"type":"string","example":"2015-10-28T22:55:02.000Z"}}}}}}},"deprecated":false}},"/payments/{paymentId}":{"put":{"summary":"Update a payment","description":"","operationId":"update-payment","parameters":[{"name":"meta","in":"query","description":"Optional key/values to help link the payment to an external system.","schema":{"type":"string","format":"json","default":"{       \"note\": \"Payment has been updated\"     }"}},{"name":"paymentId","in":"path","description":"The id of the payment","schema":{"type":"string","default":"rurl2jp2p31djxm6tg8f7ezh"},"required":true},{"name":"description","in":"query","description":"A short description of the payment.","schema":{"type":"string","default":"A payment updated"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"object\": \"payment\",\n    \"id\": \"rurl2jp2p31djxm6tg8f7ezh\",\n    \"amount\": \"5000.00\",\n    \"currency\": \"USD\",\n    \"description\": \"A payment updated\",\n    \"meta\": {\n      \"note\": \"Payment has been updated\"\n    },\n    \"settlementAmount\": \"5000.00\",\n    \"settlementCurrency\": \"USD\",\n    \"externalId\": \"pay01\",\n    \"sourceId\": \"6whpaa24mz35khmwec931l3i\",\n    \"sourceType\": \"Bank\",\n    \"datePosted\": \"2019-07-11T14:05:48.000Z\",\n    \"status\": \"posted\",\n    \"ownerId\": \"yxfxbcl6jjtjk57zv7t97i01\",\n    \"created\": \"2019-07-11T14:05:47.000Z\",\n    \"lastUpdated\": \"2019-07-11T14:05:48.000Z\",\n    \"payerId\": \"o62bdcp9dzdelc2bcudsru9l\",\n    \"payer\": {\n        \"object\": \"payer\",\n        \"id\": \"o62bdcp9dzdelc2bcudsru9l\",\n        \"name\": \"Christina C\",\n        \"email\": \"cchen+test@paystand.com\",\n        \"address\": {\n            \"object\": \"address\",\n            \"id\": \"wfhem0iqzhvij7u3ulalq1xk\",\n            \"street1\": \"41 Grandview St Unit C\",\n            \"city\": \"Santa Cruz\",\n            \"state\": \"CA\",\n            \"postalCode\": \"95060\",\n            \"country\": \"USA\",\n            \"status\": \"active\",\n            \"created\": \"2019-07-11T14:00:49.000Z\",\n            \"lastUpdated\": \"2019-07-11T14:00:50.000Z\"\n        },\n        \"ownerId\": \"yxfxbcl6jjtjk57zv7t97i01\",\n        \"status\": \"active\",\n        \"created\": \"2019-07-11T14:00:49.000Z\",\n        \"lastUpdated\": \"2019-07-11T14:00:50.000Z\"\n    },\n    \"source\": {\n        \"object\": \"bank\",\n        \"id\": \"6whpaa24mz35khmwec931l3i\",\n        \"accountType\": \"checking\",\n        \"bankName\": \"PayStand Test Bank\",\n        \"routingNumber\": \"110000000\",\n        \"nameOnAccount\": \"Jessica Lin\",\n        \"accountHolderType\": \"individual\",\n        \"currency\": \"USD\",\n        \"country\": \"USA\",\n        \"last4\": \"6789\",\n        \"fingerprint\": \"4cpw32i0hoz5iyhx7la194cy\",\n        \"isDefault\": true,\n        \"isApDefault\": false,\n        \"payerId\": \"o62bdcp9dzdelc2bcudsru9l\",\n        \"billingAddress\": {\n            \"object\": \"address\",\n            \"id\": \"pqb96kvax0f6m98x7nsxtrqy\",\n            \"street1\": \"payer street\",\n            \"city\": \"payer city\",\n            \"state\": \"CA\",\n            \"postalCode\": \"95060\",\n            \"country\": \"USA\",\n            \"status\": \"active\",\n            \"created\": \"2019-07-11T14:00:49.000Z\",\n            \"lastUpdated\": \"2019-07-11T14:00:50.000Z\"\n        },\n        \"externalId\": \"bank_001\",\n        \"dropped\": false,\n        \"verified\": false,\n        \"status\": \"active\",\n        \"created\": \"2019-07-11T14:00:49.000Z\",\n        \"lastUpdated\": \"2019-07-11T14:00:50.000Z\"\n    },\n    \"holds\": [\n        {\n            \"object\": \"hold\",\n            \"id\": \"d2ha1b1r5mnrmt2pec63scy7\",\n            \"amount\": \"5000.00\",\n            \"currency\": \"USD\",\n            \"holdTime\": \"0\",\n            \"releaseDate\": \"2019-07-11T14:05:47.000Z\",\n            \"resourceId\": \"rurl2jp2p31djxm6tg8f7ezh\",\n            \"resourceType\": \"Payment\",\n            \"status\": \"active\",\n            \"created\": \"2019-07-11T14:05:47.000Z\",\n            \"lastUpdated\": \"2019-07-11T14:05:50.000Z\"\n        }\n    ],\n    \"accountKey\": \"default\",\n    \"accountId\": \"62k1nbxvolfhnpa9cwdm5yyb\",\n    \"balanceChangeId\": \"r60o4j28dtoznctp4sy3rhpm\"\n}"}},"schema":{"type":"object","properties":{"object":{"type":"string","example":"payment"},"id":{"type":"string","example":"rurl2jp2p31djxm6tg8f7ezh"},"amount":{"type":"string","example":"5000.00"},"currency":{"type":"string","example":"USD"},"description":{"type":"string","example":"A payment updated"},"meta":{"type":"object","properties":{"note":{"type":"string","example":"Payment has been updated"}}},"settlementAmount":{"type":"string","example":"5000.00"},"settlementCurrency":{"type":"string","example":"USD"},"externalId":{"type":"string","example":"pay01"},"sourceId":{"type":"string","example":"6whpaa24mz35khmwec931l3i"},"sourceType":{"type":"string","example":"Bank"},"datePosted":{"type":"string","example":"2019-07-11T14:05:48.000Z"},"status":{"type":"string","example":"posted"},"ownerId":{"type":"string","example":"yxfxbcl6jjtjk57zv7t97i01"},"created":{"type":"string","example":"2019-07-11T14:05:47.000Z"},"lastUpdated":{"type":"string","example":"2019-07-11T14:05:48.000Z"},"payerId":{"type":"string","example":"o62bdcp9dzdelc2bcudsru9l"},"payer":{"type":"object","properties":{"object":{"type":"string","example":"payer"},"id":{"type":"string","example":"o62bdcp9dzdelc2bcudsru9l"},"name":{"type":"string","example":"Christina C"},"email":{"type":"string","example":"cchen+test@paystand.com"},"address":{"type":"object","properties":{"object":{"type":"string","example":"address"},"id":{"type":"string","example":"wfhem0iqzhvij7u3ulalq1xk"},"street1":{"type":"string","example":"41 Grandview St Unit C"},"city":{"type":"string","example":"Santa Cruz"},"state":{"type":"string","example":"CA"},"postalCode":{"type":"string","example":"95060"},"country":{"type":"string","example":"USA"},"status":{"type":"string","example":"active"},"created":{"type":"string","example":"2019-07-11T14:00:49.000Z"},"lastUpdated":{"type":"string","example":"2019-07-11T14:00:50.000Z"}}},"ownerId":{"type":"string","example":"yxfxbcl6jjtjk57zv7t97i01"},"status":{"type":"string","example":"active"},"created":{"type":"string","example":"2019-07-11T14:00:49.000Z"},"lastUpdated":{"type":"string","example":"2019-07-11T14:00:50.000Z"}}},"source":{"type":"object","properties":{"object":{"type":"string","example":"bank"},"id":{"type":"string","example":"6whpaa24mz35khmwec931l3i"},"accountType":{"type":"string","example":"checking"},"bankName":{"type":"string","example":"PayStand Test Bank"},"routingNumber":{"type":"string","example":"110000000"},"nameOnAccount":{"type":"string","example":"Jessica Lin"},"accountHolderType":{"type":"string","example":"individual"},"currency":{"type":"string","example":"USD"},"country":{"type":"string","example":"USA"},"last4":{"type":"string","example":"6789"},"fingerprint":{"type":"string","example":"4cpw32i0hoz5iyhx7la194cy"},"isDefault":{"type":"boolean","example":true,"default":true},"isApDefault":{"type":"boolean","example":false,"default":true},"payerId":{"type":"string","example":"o62bdcp9dzdelc2bcudsru9l"},"billingAddress":{"type":"object","properties":{"object":{"type":"string","example":"address"},"id":{"type":"string","example":"pqb96kvax0f6m98x7nsxtrqy"},"street1":{"type":"string","example":"payer street"},"city":{"type":"string","example":"payer city"},"state":{"type":"string","example":"CA"},"postalCode":{"type":"string","example":"95060"},"country":{"type":"string","example":"USA"},"status":{"type":"string","example":"active"},"created":{"type":"string","example":"2019-07-11T14:00:49.000Z"},"lastUpdated":{"type":"string","example":"2019-07-11T14:00:50.000Z"}}},"externalId":{"type":"string","example":"bank_001"},"dropped":{"type":"boolean","example":false,"default":true},"verified":{"type":"boolean","example":false,"default":true},"status":{"type":"string","example":"active"},"created":{"type":"string","example":"2019-07-11T14:00:49.000Z"},"lastUpdated":{"type":"string","example":"2019-07-11T14:00:50.000Z"}}},"holds":{"type":"array","items":{"type":"object","properties":{"object":{"type":"string","example":"hold"},"id":{"type":"string","example":"d2ha1b1r5mnrmt2pec63scy7"},"amount":{"type":"string","example":"5000.00"},"currency":{"type":"string","example":"USD"},"holdTime":{"type":"string","example":"0"},"releaseDate":{"type":"string","example":"2019-07-11T14:05:47.000Z"},"resourceId":{"type":"string","example":"rurl2jp2p31djxm6tg8f7ezh"},"resourceType":{"type":"string","example":"Payment"},"status":{"type":"string","example":"active"},"created":{"type":"string","example":"2019-07-11T14:05:47.000Z"},"lastUpdated":{"type":"string","example":"2019-07-11T14:05:50.000Z"}}}},"accountKey":{"type":"string","example":"default"},"accountId":{"type":"string","example":"62k1nbxvolfhnpa9cwdm5yyb"},"balanceChangeId":{"type":"string","example":"r60o4j28dtoznctp4sy3rhpm"}}}}}}},"deprecated":false},"get":{"summary":"Retrieve a payment","description":"","operationId":"retrieve-payment","parameters":[{"name":"paymentId","in":"path","description":"The id of the payment.","schema":{"type":"string","default":"rurl2jp2p31djxm6tg8f7ezh"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"object\": \"payment\",\n    \"id\": \"rurl2jp2p31djxm6tg8f7ezh\",\n    \"amount\": \"5000.00\",\n    \"currency\": \"USD\",\n    \"settlementAmount\": \"5000.00\",\n    \"settlementCurrency\": \"USD\",\n    \"externalId\": \"pay01\",\n    \"sourceId\": \"6whpaa24mz35khmwec931l3i\",\n    \"sourceType\": \"Bank\",\n    \"datePosted\": \"2019-07-11T14:05:48.000Z\",\n    \"status\": \"posted\",\n    \"ownerId\": \"yxfxbcl6jjtjk57zv7t97i01\",\n    \"created\": \"2019-07-11T14:05:47.000Z\",\n    \"lastUpdated\": \"2019-07-11T14:05:48.000Z\",\n    \"payerId\": \"o62bdcp9dzdelc2bcudsru9l\",\n    \"payer\": {\n        \"object\": \"payer\",\n        \"id\": \"o62bdcp9dzdelc2bcudsru9l\",\n        \"name\": \"Christina C\",\n        \"email\": \"cchen+test@paystand.com\",\n        \"address\": {\n            \"object\": \"address\",\n            \"id\": \"wfhem0iqzhvij7u3ulalq1xk\",\n            \"street1\": \"41 Grandview St Unit C\",\n            \"city\": \"Santa Cruz\",\n            \"state\": \"CA\",\n            \"postalCode\": \"95060\",\n            \"country\": \"USA\",\n            \"status\": \"active\",\n            \"created\": \"2019-07-11T14:00:49.000Z\",\n            \"lastUpdated\": \"2019-07-11T14:00:50.000Z\"\n        },\n        \"ownerId\": \"yxfxbcl6jjtjk57zv7t97i01\",\n        \"status\": \"active\",\n        \"created\": \"2019-07-11T14:00:49.000Z\",\n        \"lastUpdated\": \"2019-07-11T14:00:50.000Z\"\n    },\n    \"source\": {\n        \"object\": \"bank\",\n        \"id\": \"6whpaa24mz35khmwec931l3i\",\n        \"accountType\": \"checking\",\n        \"bankName\": \"PayStand Test Bank\",\n        \"routingNumber\": \"110000000\",\n        \"nameOnAccount\": \"Jessica Lin\",\n        \"accountHolderType\": \"individual\",\n        \"currency\": \"USD\",\n        \"country\": \"USA\",\n        \"last4\": \"6789\",\n        \"fingerprint\": \"4cpw32i0hoz5iyhx7la194cy\",\n        \"isDefault\": true,\n        \"isApDefault\": false,\n        \"payerId\": \"o62bdcp9dzdelc2bcudsru9l\",\n        \"billingAddress\": {\n            \"object\": \"address\",\n            \"id\": \"pqb96kvax0f6m98x7nsxtrqy\",\n            \"street1\": \"payer street\",\n            \"city\": \"payer city\",\n            \"state\": \"CA\",\n            \"postalCode\": \"95060\",\n            \"country\": \"USA\",\n            \"status\": \"active\",\n            \"created\": \"2019-07-11T14:00:49.000Z\",\n            \"lastUpdated\": \"2019-07-11T14:00:50.000Z\"\n        },\n        \"externalId\": \"bank_001\",\n        \"dropped\": false,\n        \"verified\": false,\n        \"status\": \"active\",\n        \"created\": \"2019-07-11T14:00:49.000Z\",\n        \"lastUpdated\": \"2019-07-11T14:00:50.000Z\"\n    },\n    \"holds\": [\n        {\n            \"object\": \"hold\",\n            \"id\": \"d2ha1b1r5mnrmt2pec63scy7\",\n            \"amount\": \"5000.00\",\n            \"currency\": \"USD\",\n            \"holdTime\": \"0\",\n            \"releaseDate\": \"2019-07-11T14:05:47.000Z\",\n            \"resourceId\": \"rurl2jp2p31djxm6tg8f7ezh\",\n            \"resourceType\": \"Payment\",\n            \"status\": \"active\",\n            \"created\": \"2019-07-11T14:05:47.000Z\",\n            \"lastUpdated\": \"2019-07-11T14:05:50.000Z\"\n        }\n    ],\n    \"accountKey\": \"default\",\n    \"accountId\": \"62k1nbxvolfhnpa9cwdm5yyb\",\n    \"balanceChangeId\": \"r60o4j28dtoznctp4sy3rhpm\"\n}"}},"schema":{"type":"object","properties":{"object":{"type":"string","example":"payment"},"id":{"type":"string","example":"rurl2jp2p31djxm6tg8f7ezh"},"amount":{"type":"string","example":"5000.00"},"currency":{"type":"string","example":"USD"},"settlementAmount":{"type":"string","example":"5000.00"},"settlementCurrency":{"type":"string","example":"USD"},"externalId":{"type":"string","example":"pay01"},"sourceId":{"type":"string","example":"6whpaa24mz35khmwec931l3i"},"sourceType":{"type":"string","example":"Bank"},"datePosted":{"type":"string","example":"2019-07-11T14:05:48.000Z"},"status":{"type":"string","example":"posted"},"ownerId":{"type":"string","example":"yxfxbcl6jjtjk57zv7t97i01"},"created":{"type":"string","example":"2019-07-11T14:05:47.000Z"},"lastUpdated":{"type":"string","example":"2019-07-11T14:05:48.000Z"},"payerId":{"type":"string","example":"o62bdcp9dzdelc2bcudsru9l"},"payer":{"type":"object","properties":{"object":{"type":"string","example":"payer"},"id":{"type":"string","example":"o62bdcp9dzdelc2bcudsru9l"},"name":{"type":"string","example":"Christina C"},"email":{"type":"string","example":"cchen+test@paystand.com"},"address":{"type":"object","properties":{"object":{"type":"string","example":"address"},"id":{"type":"string","example":"wfhem0iqzhvij7u3ulalq1xk"},"street1":{"type":"string","example":"41 Grandview St Unit C"},"city":{"type":"string","example":"Santa Cruz"},"state":{"type":"string","example":"CA"},"postalCode":{"type":"string","example":"95060"},"country":{"type":"string","example":"USA"},"status":{"type":"string","example":"active"},"created":{"type":"string","example":"2019-07-11T14:00:49.000Z"},"lastUpdated":{"type":"string","example":"2019-07-11T14:00:50.000Z"}}},"ownerId":{"type":"string","example":"yxfxbcl6jjtjk57zv7t97i01"},"status":{"type":"string","example":"active"},"created":{"type":"string","example":"2019-07-11T14:00:49.000Z"},"lastUpdated":{"type":"string","example":"2019-07-11T14:00:50.000Z"}}},"source":{"type":"object","properties":{"object":{"type":"string","example":"bank"},"id":{"type":"string","example":"6whpaa24mz35khmwec931l3i"},"accountType":{"type":"string","example":"checking"},"bankName":{"type":"string","example":"PayStand Test Bank"},"routingNumber":{"type":"string","example":"110000000"},"nameOnAccount":{"type":"string","example":"Jessica Lin"},"accountHolderType":{"type":"string","example":"individual"},"currency":{"type":"string","example":"USD"},"country":{"type":"string","example":"USA"},"last4":{"type":"string","example":"6789"},"fingerprint":{"type":"string","example":"4cpw32i0hoz5iyhx7la194cy"},"isDefault":{"type":"boolean","example":true,"default":true},"isApDefault":{"type":"boolean","example":false,"default":true},"payerId":{"type":"string","example":"o62bdcp9dzdelc2bcudsru9l"},"billingAddress":{"type":"object","properties":{"object":{"type":"string","example":"address"},"id":{"type":"string","example":"pqb96kvax0f6m98x7nsxtrqy"},"street1":{"type":"string","example":"payer street"},"city":{"type":"string","example":"payer city"},"state":{"type":"string","example":"CA"},"postalCode":{"type":"string","example":"95060"},"country":{"type":"string","example":"USA"},"status":{"type":"string","example":"active"},"created":{"type":"string","example":"2019-07-11T14:00:49.000Z"},"lastUpdated":{"type":"string","example":"2019-07-11T14:00:50.000Z"}}},"externalId":{"type":"string","example":"bank_001"},"dropped":{"type":"boolean","example":false,"default":true},"verified":{"type":"boolean","example":false,"default":true},"status":{"type":"string","example":"active"},"created":{"type":"string","example":"2019-07-11T14:00:49.000Z"},"lastUpdated":{"type":"string","example":"2019-07-11T14:00:50.000Z"}}},"holds":{"type":"array","items":{"type":"object","properties":{"object":{"type":"string","example":"hold"},"id":{"type":"string","example":"d2ha1b1r5mnrmt2pec63scy7"},"amount":{"type":"string","example":"5000.00"},"currency":{"type":"string","example":"USD"},"holdTime":{"type":"string","example":"0"},"releaseDate":{"type":"string","example":"2019-07-11T14:05:47.000Z"},"resourceId":{"type":"string","example":"rurl2jp2p31djxm6tg8f7ezh"},"resourceType":{"type":"string","example":"Payment"},"status":{"type":"string","example":"active"},"created":{"type":"string","example":"2019-07-11T14:05:47.000Z"},"lastUpdated":{"type":"string","example":"2019-07-11T14:05:50.000Z"}}}},"accountKey":{"type":"string","example":"default"},"accountId":{"type":"string","example":"62k1nbxvolfhnpa9cwdm5yyb"},"balanceChangeId":{"type":"string","example":"r60o4j28dtoznctp4sy3rhpm"}}}}}}},"deprecated":false}},"/customers/{customerId}":{"get":{"summary":"Retrieve a customer","description":"Retrieve a customer","operationId":"retrieve-customer","parameters":[{"name":"customerId","in":"path","schema":{"type":"string","default":"5lhbn6gvlmspmpo0jtkrnbm1"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": \"b41f8286b3d1421db07ef01d\",\n  \"object\": \"customer\",\n  \"name\": \"Martha's Floral Co\",\n  \"email\": \"martha@marthasflowers-test.com\",\n  \"description\": \"We Sell Flowers\",\n  \"planName\": \"Martha's Flowers Pro\",\n  \"meta\": {..},\n  \"address\": {..},\n  \"contact\": {..},\n  \"legalEntity\": {..},\n  \"merchant\": {..},\n  \"settings\": {..},\n  \"defaultSettings\": {..},\n  \"keys\": {..},\n  \"planStatus\": {..},\n  \"status\": \"active\",\n  \"created\": \"2019-08-08T06:29:47.000Z\",\n  \"lastUpdated\": \"2019-11-08T06:30:00.000Z\",\n}"}}}}}},"deprecated":false},"put":{"summary":"Update a customer","description":"Create a customer","operationId":"update-a-customer","parameters":[{"name":"customerId","in":"path","schema":{"type":"string","default":"5lhbn6gvlmspmpo0jtkrnbm1"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","default":"Martha's Floral Co"},"email":{"type":"string"},"planKey":{"type":"string"},"address":{"type":"object","properties":{}},"contact":{"type":"object","properties":{"firstName":{"type":"string","default":"Haymito"},"lastName":{"type":"string","default":"Lin"},"email":{"type":"string","default":"test+developer@paystand.com"},"phone":{"type":"string","default":"8312223333"},"dateOfBirth":{"type":"string","default":"08-30-1984"}}},"defaultBank":{"type":"object","properties":{"nameOnAccount":{"type":"string","default":"Jessica Lin"},"accountHolderType":{"type":"string","default":"company"},"accountNumber":{"type":"string","default":"000123456789"},"routingNumber":{"type":"string","default":"110000000"},"accountType":{"type":"string","description":"checking, savings","default":"checking"},"country":{"type":"string","default":"USA"},"currency":{"type":"string","default":"USD"}}},"legalEntity":{"type":"object","properties":{"entityType":{"type":"string","default":"LLC"},"yearsInBusiness":{"type":"string","default":"20"},"businessName":{"type":"string","default":"Martha's Flowers"},"businessTaxId":{"type":"string","default":"000000000"},"businessSalesVolume":{"type":"string","default":"1000"},"businessAcceptedCards":{"type":"boolean","default":true},"personalTaxId":{"type":"string","default":"000000000"},"stakePercent":{"type":"string","default":"45"}}},"merchant":{"type":"object","properties":{}},"settings":{"type":"object","properties":{}},"meta":{"type":"object","properties":{}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"object\": \"customer\",\n  \"id\": \"5lhbn6gvlmspmpo0jtkrnbm1\",\n  \"name\": \"Martha's Floral Co\",\n  \"email\": \"martha@marthasflowers-test.com\",\n  \"vanityName\": \"marthasflowers\",\n  \"planId\": \"rscog1koxbx9ppvltkx0fok6\",\n  \"planName\": \"Martha's Flowers Pro\",\n  \"planStatus\": {...},\n  \"defaultBank\": {...},\n  \"address\": {...},\n  \"contact\": {...},\n  \"keys\": {\n    \"object\": \"apiKey\",\n    \"id\": \"5meq0e2dm0jja24875sknry\",\n    \"publishable\": \"q9bf0ikhkhkhjjvr4ht4ojhx\",\n    \"secret\": \"gw6lkjji8776678jegcue6wctn0\",\n    \"status\": \"active\",\n    \"created\": \"2017-02-21T23:27:26.000Z\",\n    \"lastUpdated\": \"2017-02-21T23:27:26.000Z\"\n  },\n  \"legalEntity\": {...},\n  \"merchant\": {...},\n  \"settings\": {...},\n  \"timezone\": \"UTC\",\n  \"status\": \"active\",\n  \"ownerId\": \"5lhbn6gvlmspmpo0jtkrnbm1\",\n  \"created\": \"2017-02-21T23:27:25.000Z\",\n  \"lastUpdated\": \"2017-02-21T23:27:28.871Z\"\n}"}}}}}},"deprecated":false}},"/customers/current/legalEntity/additionalOwners":{"post":{"summary":"Create an owner","description":"","operationId":"create-additional-owner","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["personalTaxId","stakePercent","contact","address"],"properties":{"personalTaxId":{"type":"string","description":"The personal tax id of the owner.","default":"123456789"},"stakePercent":{"type":"string","description":"The stake percent for the owner.","default":"25"},"contact":{"type":"string","description":"The contract information for the owner.","default":"{     \"firstName\": \"Martha\",     \"lastName\": \"Flowers\",     \"email\": \"martha@marthasflowers-test.com\",     \"phone\": \"8312223333\",     \"dateOfBirth\": \"08-30-1984\"   }","format":"json"},"address":{"type":"string","description":"The address information for the owner.","default":"{     \"street1\": \"123 First St\",     \"street2\": \"#2\",     \"city\": \"Santa Cruz\",     \"state\": \"CA\",     \"postalCode\": \"95060\",     \"country\": \"USA\"   }","format":"json"},"title":{"type":"string","description":"The title of the owner.","default":"CFO"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": \"7ae4d3eecc4544419d77fa6f\",\n  \"object\": \"legalEntityAdditionalOwner\",\n  \"last4PersonalTaxId\": \"6789\",\n  \"stakePercent\": \"25\",\n  \"title\": \"CFO\",\n  \"address\": {\n    \"street1\": \"123 First St\",\n    \"street2\": \"#2\",\n    \"city\": \"Santa Cruz\",\n    \"state\": \"CA\",\n    \"postalCode\": \"95060\",\n    \"country\": \"USA\"\n  },\n  \"contact\": {\n    \"firstName\": \"Martha\",\n    \"lastName\": \"Flowers\",\n    \"email\": \"martha@marthasflowers-test.com\",\n    \"phone\": \"8312223333\",\n    \"dateOfBirth\": \"08-30-1984\"\n  },\n  \"created\": \"2018-08-08T06:29:47.000Z\",\n  \"lastUpdated\": \"2018-08-08T06:29:47.000Z\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"7ae4d3eecc4544419d77fa6f"},"object":{"type":"string","example":"legalEntityAdditionalOwner"},"last4PersonalTaxId":{"type":"string","example":"6789"},"stakePercent":{"type":"string","example":"25"},"title":{"type":"string","example":"CFO"},"address":{"type":"object","properties":{"street1":{"type":"string","example":"123 First St"},"street2":{"type":"string","example":"#2"},"city":{"type":"string","example":"Santa Cruz"},"state":{"type":"string","example":"CA"},"postalCode":{"type":"string","example":"95060"},"country":{"type":"string","example":"USA"}}},"contact":{"type":"object","properties":{"firstName":{"type":"string","example":"Martha"},"lastName":{"type":"string","example":"Flowers"},"email":{"type":"string","example":"martha@marthasflowers-test.com"},"phone":{"type":"string","example":"8312223333"},"dateOfBirth":{"type":"string","example":"08-30-1984"}}},"created":{"type":"string","example":"2018-08-08T06:29:47.000Z"},"lastUpdated":{"type":"string","example":"2018-08-08T06:29:47.000Z"}}}}}}},"deprecated":false}},"/balances/accounts/{accountId}":{"put":{"summary":"Update an account","description":"","operationId":"update-an-account","parameters":[{"name":"accountId","in":"path","description":"The id of the account.","schema":{"type":"string","default":"h3qo5rine8itrr43wfen2356"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string","description":"The name of the account.","default":"California Funds Account"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\":\"h3qo5rine8itrr43wfen2356\",\n  \"object\":\"balanceAccount\",\n  \"name\": \"California Funds Account\",\n  \"key\": \"california_account\",\n  \"status\": \"active\",\n  \"created\": \"2015-10-28T22:55:09.000Z\",\n  \"lastUpdated\": \"2015-10-28T22:55:13.000Z\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"h3qo5rine8itrr43wfen2356"},"object":{"type":"string","example":"balanceAccount"},"name":{"type":"string","example":"California Funds Account"},"key":{"type":"string","example":"california_account"},"status":{"type":"string","example":"active"},"created":{"type":"string","example":"2015-10-28T22:55:09.000Z"},"lastUpdated":{"type":"string","example":"2015-10-28T22:55:13.000Z"}}}}}}},"deprecated":false},"get":{"summary":"Retrieve an account","description":"","operationId":"retrieve-an-account","parameters":[{"name":"accountId","in":"path","description":"The id of the account.","schema":{"type":"string","default":"h3qo5rine8itrr43wfen2356"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\":\"h3qo5rine8itrr43wfen2356\",\n  \"object\":\"balanceAccount\",\n  \"name\": \"California Funds Account\",\n  \"key\": \"california_account\",\n  \"status\": \"active\",\n  \"created\": \"2015-10-28T22:55:09.000Z\",\n  \"lastUpdated\": \"2015-10-28T22:55:13.000Z\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"h3qo5rine8itrr43wfen2356"},"object":{"type":"string","example":"balanceAccount"},"name":{"type":"string","example":"California Funds Account"},"key":{"type":"string","example":"california_account"},"status":{"type":"string","example":"active"},"created":{"type":"string","example":"2015-10-28T22:55:09.000Z"},"lastUpdated":{"type":"string","example":"2015-10-28T22:55:13.000Z"}}}}}}},"deprecated":false}},"/balances/accounts":{"post":{"summary":"Create an account","description":"","operationId":"create-an-account","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["name","key"],"properties":{"name":{"type":"string","description":"The name of the account","default":"California Funds Account"},"key":{"type":"string","description":"A key for the account.","default":"california_account"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\":\"h3qo5rine8itrr43wfen2356\",\n  \"object\":\"balanceAccount\",\n  \"name\": \"California Funds Account\",\n  \"key\": \"california_account\",\n  \"status\": \"active\",\n  \"created\": \"2015-10-28T22:55:09.000Z\",\n  \"lastUpdated\": \"2015-10-28T22:55:13.000Z\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"h3qo5rine8itrr43wfen2356"},"object":{"type":"string","example":"balanceAccount"},"name":{"type":"string","example":"California Funds Account"},"key":{"type":"string","example":"california_account"},"status":{"type":"string","example":"active"},"created":{"type":"string","example":"2015-10-28T22:55:09.000Z"},"lastUpdated":{"type":"string","example":"2015-10-28T22:55:13.000Z"}}}}}}},"deprecated":false}},"/withdrawals/settings":{"put":{"summary":"Manage settings","description":"Withdrawals can be scheduled to automatically be sent daily or weekly.  You can configure auto-withdrawals for a customer by managing their withdrawal settings. When the schedule runs, all available funds will attempt to be withdrawn. One withdrawal will be created for each account. Each account can be configured to have their funds sent to a different bank account.\n\nThe order of accounts listed in \"active\" is very important. When the auto-withdrawal schedule runs, withdrawals will attempt to draw from the accounts in the order given. However, if any accounts carry a negative balance, it will impact the maximum amount that can be withdrawn from any accounts with a positive balance. As a result, if there are active accounts with a negative balance, active accounts with a positive balance may not be able to withdraw all of their funds. The \"active\" list acts as a priority list of which accounts should take precedence over others.","operationId":"update-an-auto-withdrawal-settings","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"auto":{"type":"object","description":"The settings for managing automated withdrawals.","properties":{}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"auto\": {\n    \"frequency\": \"daily\",\n    \"active\": [\"default\", \"california_funds\"],\n    \"accounts\": {\n      \"default\": {\n        \"bankId\": \"8bce66a6217146048061b67c\"\n      },\n      \"california_funds\": {\n        \"bankId\": \"bfccfdffe5444323b9d43a25\"\n      }\n    }\n  }\n}"}},"schema":{"type":"object","properties":{"auto":{"type":"object","properties":{"frequency":{"type":"string","example":"daily"},"active":{"type":"array","items":{"type":"string","example":"default"}},"accounts":{"type":"object","properties":{"default":{"type":"object","properties":{"bankId":{"type":"string","example":"8bce66a6217146048061b67c"}}},"california_funds":{"type":"object","properties":{"bankId":{"type":"string","example":"bfccfdffe5444323b9d43a25"}}}}}}}}}}}}},"deprecated":false}},"/balances/summary":{"get":{"summary":"Retrieve the balances","description":"","operationId":"balance-summary","parameters":[{"name":"accounts","in":"query","description":"List of accounts to show. [default, your_key]","schema":{"type":"string","default":"default"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"usd\": {\n    \"default\": {\n      \"available\": \"20.00\",\n      \"pending\": \"80.00\",\n      \"current\": \"100.00\"\n    },\n    \"california_funds\": {\n      \"available\": \"10.00\",\n      \"pending\": \"0.00\",\n      \"current\": \"10.00\" \n    }\n  }\n}"}},"schema":{"type":"object","properties":{"usd":{"type":"object","properties":{"default":{"type":"object","properties":{"available":{"type":"string","example":"20.00"},"pending":{"type":"string","example":"80.00"},"current":{"type":"string","example":"100.00"}}},"california_funds":{"type":"object","properties":{"available":{"type":"string","example":"10.00"},"pending":{"type":"string","example":"0.00"},"current":{"type":"string","example":"10.00"}}}}}}}}}}},"deprecated":false}},"/disputes/recoups/{disputeRecoupId}":{"get":{"summary":"Retrieve a recoup","description":"","operationId":"retrieve-a-dispute-recoup","parameters":[{"name":"disputeRecoupId","in":"path","description":"The id of the dispute recoup.","schema":{"type":"string","default":"kav410bdsww9nat8gafwrb"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"object\":\"recoup\",\n  \"id\":\"kav410bdsww9nat8gafwrb\",\n  \"currency\": \"USD\",\n  \"paymentId\": \"h3qo5rine8itrr43wfen2356\",\n  \"disputeId\": \"f24937fa245d434dad5b993a\",\n  \"balanceChangeId\": \"ecbc725765d24c7a9c6a3fc4\",\n  \"status\":\"paid\",\n  \"created\":\"2015-10-28T22:56:20.000Z\",\n  \"lastUpdated\":\"2015-10-28T22:56:20.000Z\"\n}"}},"schema":{"type":"object","properties":{"object":{"type":"string","example":"recoup"},"id":{"type":"string","example":"kav410bdsww9nat8gafwrb"},"currency":{"type":"string","example":"USD"},"paymentId":{"type":"string","example":"h3qo5rine8itrr43wfen2356"},"disputeId":{"type":"string","example":"f24937fa245d434dad5b993a"},"balanceChangeId":{"type":"string","example":"ecbc725765d24c7a9c6a3fc4"},"status":{"type":"string","example":"paid"},"created":{"type":"string","example":"2015-10-28T22:56:20.000Z"},"lastUpdated":{"type":"string","example":"2015-10-28T22:56:20.000Z"}}}}}}},"deprecated":false}},"/refunds/{refundId}/recoups":{"post":{"summary":"Create a recoup","description":"A refund recoup can only be performed under the following conditions: Your plan allows for Payment Transfers, a payment was created that had payment transfers created against it, and a refund of the payment also occurred. Under these conditions, funds can be recouped back to the owner of the payment by using this endpoint.","operationId":"recoup-a-refund","parameters":[{"name":"refundId","in":"path","description":"The id of the refund.","schema":{"type":"string","default":"f24937fa245d434dad5b993a"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"RAW_BODY":{"type":"string","default":"{   \"acme_corp_platform\": \"-2.00\" }","format":"json"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"object\":\"recoup\",\n  \"id\":\"kav410bdsww9nat8gafwrb\",\n  \"currency\": \"USD\",\n  \"paymentId\": \"h3qo5rine8itrr43wfen2356\",\n  \"refundId\": \"f24937fa245d434dad5b993a\",\n  \"balanceChangeId\": \"a16609a00d5943aab4408b9b\",\n  \"status\":\"paid\",\n  \"created\":\"2015-10-28T22:56:20.000Z\",\n  \"lastUpdated\":\"2015-10-28T22:56:20.000Z\"\n}"}},"schema":{"type":"object","properties":{"object":{"type":"string","example":"recoup"},"id":{"type":"string","example":"kav410bdsww9nat8gafwrb"},"currency":{"type":"string","example":"USD"},"paymentId":{"type":"string","example":"h3qo5rine8itrr43wfen2356"},"refundId":{"type":"string","example":"f24937fa245d434dad5b993a"},"balanceChangeId":{"type":"string","example":"a16609a00d5943aab4408b9b"},"status":{"type":"string","example":"paid"},"created":{"type":"string","example":"2015-10-28T22:56:20.000Z"},"lastUpdated":{"type":"string","example":"2015-10-28T22:56:20.000Z"}}}}}}},"deprecated":false}},"/payments/{paymentId}/transfers":{"post":{"summary":"Create a transfer","description":"","operationId":"transfer-payment-funds","parameters":[{"name":"paymentId","in":"path","description":"The payment id.","schema":{"type":"string","default":"required"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"RAW_BODY":{"type":"string","default":"{   \"owner\": \"55.00\",   \"acme_corp_platform\": \"10.00\",   \"acme_corp_sub\": \"5.00\" }","format":"json"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": \"h3qo5rine8itrr43wfen2356\",\n  \"object\": \"paymentBalanceChange\",\n  \"paymentId\": \"crjeild6qpfse3a09vhtxw\",\n  \"actingResourceId\": \"crjeild6qpfse3a09vhtxw\",\n  \"actingResourceType\": \"Payment\",\n  \"change\": {\n    \"owner\": {\n      \"origin\": {\n        \"final\": \"55.00\",\n        \"transferable\": \"-70.00\"\n      }\n    },\n    \"acme_corp_platform\": {\n      \"default\": {\n        \"final\": \"10.00\"\n      }\n    },\n    \"acme_corp_sub\": {\n      \"default\": {\n        \"final\": \"5.00\"\n      }\n    }\n  },\n  \"status\": \"complete\",\n  \"created\": \"2018-10-28T22:55:09.000Z\",\n  \"lastUpdated\": \"2018-10-28T22:55:13.000Z\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"h3qo5rine8itrr43wfen2356"},"object":{"type":"string","example":"paymentBalanceChange"},"paymentId":{"type":"string","example":"crjeild6qpfse3a09vhtxw"},"actingResourceId":{"type":"string","example":"crjeild6qpfse3a09vhtxw"},"actingResourceType":{"type":"string","example":"Payment"},"change":{"type":"object","properties":{"owner":{"type":"object","properties":{"origin":{"type":"object","properties":{"final":{"type":"string","example":"55.00"},"transferable":{"type":"string","example":"-70.00"}}}}},"acme_corp_platform":{"type":"object","properties":{"default":{"type":"object","properties":{"final":{"type":"string","example":"10.00"}}}}},"acme_corp_sub":{"type":"object","properties":{"default":{"type":"object","properties":{"final":{"type":"string","example":"5.00"}}}}}}},"status":{"type":"string","example":"complete"},"created":{"type":"string","example":"2018-10-28T22:55:09.000Z"},"lastUpdated":{"type":"string","example":"2018-10-28T22:55:13.000Z"}}}}}}},"deprecated":false}},"/refunds/recoups/{refundRecoupId}":{"get":{"summary":"Retrieve a recoup","description":"","operationId":"retrieve-a-recoup","parameters":[{"name":"refundRecoupId","in":"path","description":"The refund recoup id.","schema":{"type":"string","default":"kav410bdsww9nat8gafwrb"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"object\":\"recoup\",\n  \"id\":\"kav410bdsww9nat8gafwrb\",\n  \"currency\": \"USD\",\n  \"paymentId\": \"h3qo5rine8itrr43wfen2356\",\n  \"refundId\": \"f24937fa245d434dad5b993a\",\n  \"balanceChangeId\": \"a16609a00d5943aab4408b9b\",\n  \"status\":\"paid\",\n  \"created\":\"2015-10-28T22:56:20.000Z\",\n  \"lastUpdated\":\"2015-10-28T22:56:20.000Z\"\n}"}},"schema":{"type":"object","properties":{"object":{"type":"string","example":"recoup"},"id":{"type":"string","example":"kav410bdsww9nat8gafwrb"},"currency":{"type":"string","example":"USD"},"paymentId":{"type":"string","example":"h3qo5rine8itrr43wfen2356"},"refundId":{"type":"string","example":"f24937fa245d434dad5b993a"},"balanceChangeId":{"type":"string","example":"a16609a00d5943aab4408b9b"},"status":{"type":"string","example":"paid"},"created":{"type":"string","example":"2015-10-28T22:56:20.000Z"},"lastUpdated":{"type":"string","example":"2015-10-28T22:56:20.000Z"}}}}}}},"deprecated":false}},"/disputes/{disputeId}/recoups":{"post":{"summary":"Create a recoup","description":"","operationId":"recoup-a-dispute","parameters":[{"name":"disputeId","in":"path","description":"The id of the dispute.","schema":{"type":"string","default":"f24937fa245d434dad5b993a"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"RAW_BODY":{"type":"string","default":"{   \"acme_corp_platform\": \"-2.00\" }","format":"json"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"object\":\"recoup\",\n  \"id\":\"kav410bdsww9nat8gafwrb\",\n  \"currency\": \"USD\",\n  \"paymentId\": \"h3qo5rine8itrr43wfen2356\",\n  \"disputeId\": \"f24937fa245d434dad5b993a\",\n  \"balanceChangeId\": \"ecbc725765d24c7a9c6a3fc4\",\n  \"status\":\"paid\",\n  \"created\":\"2015-10-28T22:56:20.000Z\",\n  \"lastUpdated\":\"2015-10-28T22:56:20.000Z\"\n}"}},"schema":{"type":"object","properties":{"object":{"type":"string","example":"recoup"},"id":{"type":"string","example":"kav410bdsww9nat8gafwrb"},"currency":{"type":"string","example":"USD"},"paymentId":{"type":"string","example":"h3qo5rine8itrr43wfen2356"},"disputeId":{"type":"string","example":"f24937fa245d434dad5b993a"},"balanceChangeId":{"type":"string","example":"ecbc725765d24c7a9c6a3fc4"},"status":{"type":"string","example":"paid"},"created":{"type":"string","example":"2015-10-28T22:56:20.000Z"},"lastUpdated":{"type":"string","example":"2015-10-28T22:56:20.000Z"}}}}}}},"deprecated":false}},"/payments/balances/changes/{paymentBalanceChangeId}":{"get":{"summary":"Retrieve a transfer","description":"","operationId":"retrieve-a-balance-change","parameters":[{"name":"paymentBalanceChangeId","in":"path","schema":{"type":"string","default":"h3qo5rine8itrr43wfen2356"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": \"h3qo5rine8itrr43wfen2356\",\n  \"object\": \"paymentBalanceChange\",\n  \"paymentId\": \"crjeild6qpfse3a09vhtxw\",\n  \"actingResourceId\": \"crjeild6qpfse3a09vhtxw\",\n  \"actingResourceType\": \"Payment\",\n  \"change\": {\n    \"owner\": {\n      \"origin\": {\n        \"final\": \"20.00\",\n        \"transferable\": \"-30.00\"\n      }\n    },\n    \"acme_corp_platform\": {\n      \"default\": {\n        \"final\": \"10.00\",\n        \"transferable\": \"0.00\"\n      }\n    }\n  },\n  \"status\": \"complete\",\n  \"created\": \"2015-10-28T22:55:09.000Z\",\n  \"lastUpdated\": \"2015-10-28T22:55:13.000Z\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"h3qo5rine8itrr43wfen2356"},"object":{"type":"string","example":"paymentBalanceChange"},"paymentId":{"type":"string","example":"crjeild6qpfse3a09vhtxw"},"actingResourceId":{"type":"string","example":"crjeild6qpfse3a09vhtxw"},"actingResourceType":{"type":"string","example":"Payment"},"change":{"type":"object","properties":{"owner":{"type":"object","properties":{"origin":{"type":"object","properties":{"final":{"type":"string","example":"20.00"},"transferable":{"type":"string","example":"-30.00"}}}}},"acme_corp_platform":{"type":"object","properties":{"default":{"type":"object","properties":{"final":{"type":"string","example":"10.00"},"transferable":{"type":"string","example":"0.00"}}}}}}},"status":{"type":"string","example":"complete"},"created":{"type":"string","example":"2015-10-28T22:55:09.000Z"},"lastUpdated":{"type":"string","example":"2015-10-28T22:55:13.000Z"}}}}}}},"deprecated":false}},"/payments/{paymentId}/balances":{"get":{"summary":"Retrieve the balance","description":"","operationId":"retrieve-a-balance","parameters":[{"name":"paymentId","in":"path","description":"The id of the payment.","schema":{"type":"string","default":"jajfghyd0yn8lmp5kpep0bnf"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"owner\": {\n    \"origin\": {\n      \"final\": \"20.00\",\n      \"transferable\": \"50.00\"\n    }\n  },\n  \"acme_corp_platform\": {\n    \"default\": {\n      \"final\": \"10.00\",\n      \"transferable\": \"0.00\"\n    }\n  }\n}"}},"schema":{"type":"object","properties":{"owner":{"type":"object","properties":{"origin":{"type":"object","properties":{"final":{"type":"string","example":"20.00"},"transferable":{"type":"string","example":"50.00"}}}}},"acme_corp_platform":{"type":"object","properties":{"default":{"type":"object","properties":{"final":{"type":"string","example":"10.00"},"transferable":{"type":"string","example":"0.00"}}}}}}}}}}},"deprecated":false}},"/payers/{payerId}":{"put":{"summary":"Update a payer","description":"","operationId":"update-a-payer","parameters":[{"name":"payerId","in":"path","description":"The id of the payer","schema":{"type":"string","default":"577b2ada121841e08b429444"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"The name for the payer.","default":"Christina Cesar"},"email":{"type":"string","description":"The email of the payer."},"address":{"type":"string","description":"The address of the payer.","format":"json"},"meta":{"type":"string","description":"Optional key/values to help link the payer to an external system.","format":"json"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": \"577b2ada121841e08b429444\",\n  \"object\": \"payer\",\n  \"name\": \"Christina Cesar\",\n  \"email\": \"christinac@paystand.com\",\n  \"address\": {\n    \"id\": \"905b3a4c929c4d958092dce2\",\n    \"object\": \"address\",\n    \"street1\": \"41 Grandview St Unit C\",\n    \"city\": \"Santa Cruz\",\n    \"state\": \"CA\",\n    \"postalCode\": \"95060\",\n    \"country\": \"USA\",\n    \"status\": \"active\",\n    \"created\": \"2018-08-07T20:07:14.000Z\",\n    \"lastUpdated\": \"2018-08-07T20:07:14.000Z\"\n  },\n  \"status\": \"active\",\n  \"created\": \"2018-08-07T20:07:14.000Z\",\n  \"lastUpdated\": \"2018-08-07T20:07:14.000Z\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"577b2ada121841e08b429444"},"object":{"type":"string","example":"payer"},"name":{"type":"string","example":"Christina Cesar"},"email":{"type":"string","example":"christinac@paystand.com"},"address":{"type":"object","properties":{"id":{"type":"string","example":"905b3a4c929c4d958092dce2"},"object":{"type":"string","example":"address"},"street1":{"type":"string","example":"41 Grandview St Unit C"},"city":{"type":"string","example":"Santa Cruz"},"state":{"type":"string","example":"CA"},"postalCode":{"type":"string","example":"95060"},"country":{"type":"string","example":"USA"},"status":{"type":"string","example":"active"},"created":{"type":"string","example":"2018-08-07T20:07:14.000Z"},"lastUpdated":{"type":"string","example":"2018-08-07T20:07:14.000Z"}}},"status":{"type":"string","example":"active"},"created":{"type":"string","example":"2018-08-07T20:07:14.000Z"},"lastUpdated":{"type":"string","example":"2018-08-07T20:07:14.000Z"}}}}}}},"deprecated":false},"get":{"summary":"Retrieve a payer","description":"","operationId":"retrieve-a-payer","parameters":[{"name":"payerId","in":"path","description":"The id of the payer","schema":{"type":"string","default":"577b2ada121841e08b429444"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": \"577b2ada121841e08b429444\",\n  \"object\": \"payer\",\n  \"name\": \"Christina C\",\n  \"email\": \"christinac@paystand.com\",\n  \"address\": {\n    \"id\": \"905b3a4c929c4d958092dce2\",\n    \"object\": \"address\",\n    \"street1\": \"41 Grandview St Unit C\",\n    \"city\": \"Santa Cruz\",\n    \"state\": \"CA\",\n    \"postalCode\": \"95060\",\n    \"country\": \"USA\",\n    \"status\": \"active\",\n    \"created\": \"2018-08-07T20:07:14.000Z\",\n    \"lastUpdated\": \"2018-08-07T20:07:14.000Z\"\n  },\n  \"status\": \"active\",\n  \"created\": \"2018-08-07T20:07:14.000Z\",\n  \"lastUpdated\": \"2018-08-07T20:07:14.000Z\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"577b2ada121841e08b429444"},"object":{"type":"string","example":"payer"},"name":{"type":"string","example":"Christina C"},"email":{"type":"string","example":"christinac@paystand.com"},"address":{"type":"object","properties":{"id":{"type":"string","example":"905b3a4c929c4d958092dce2"},"object":{"type":"string","example":"address"},"street1":{"type":"string","example":"41 Grandview St Unit C"},"city":{"type":"string","example":"Santa Cruz"},"state":{"type":"string","example":"CA"},"postalCode":{"type":"string","example":"95060"},"country":{"type":"string","example":"USA"},"status":{"type":"string","example":"active"},"created":{"type":"string","example":"2018-08-07T20:07:14.000Z"},"lastUpdated":{"type":"string","example":"2018-08-07T20:07:14.000Z"}}},"status":{"type":"string","example":"active"},"created":{"type":"string","example":"2018-08-07T20:07:14.000Z"},"lastUpdated":{"type":"string","example":"2018-08-07T20:07:14.000Z"}}}}}}},"deprecated":false}},"/transfers/{transferId}/report":{"get":{"summary":"Retrieve a report","description":"Soon after a payment has been posted a transfer report will be generated to track the progress of the transfer report. Provide the transfer id to retrieve the status of the transfer report from this endpoint.","operationId":"transfer-report","parameters":[{"name":"transferId","in":"path","description":"The id of the transfer.","schema":{"type":"string","default":"jyd3gwthdvbdpajvkdcc4gr1"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"object\": \"transferReport\",\n  \"id\": \"jyd3gwthdvbdpajvkdcc4gr1\",\n  \"amount\": 1270.59,\n  \"currency\": \"USD\",\n  \"transferStatus\": \"paid\",\n  \"status\": \"completed\",\n  \"created\": \"2018-11-05T19:08:40.000Z\",\n  \"lastUpdated\": \"2018-11-05T19:08:40.000Z\"\n}"}},"schema":{"type":"object","properties":{"object":{"type":"string","example":"transferReport"},"id":{"type":"string","example":"jyd3gwthdvbdpajvkdcc4gr1"},"amount":{"type":"number","example":1270.59,"default":0},"currency":{"type":"string","example":"USD"},"transferStatus":{"type":"string","example":"paid"},"status":{"type":"string","example":"completed"},"created":{"type":"string","example":"2018-11-05T19:08:40.000Z"},"lastUpdated":{"type":"string","example":"2018-11-05T19:08:40.000Z"}}}}}}},"deprecated":false}},"/customers/current/legalEntity/additionalOwners/{ownerId}":{"get":{"summary":"Retrieve an owner","description":"","operationId":"retrieve-an-owner","parameters":[{"name":"ownerId","in":"path","description":"The id of the additional owner.","schema":{"type":"string","default":"7ae4d3eecc4544419d77fa6f"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": \"7ae4d3eecc4544419d77fa6f\",\n  \"object\": \"legalEntityAdditionalOwner\",\n  \"last4PersonalTaxId\": \"6789\",\n  \"stakePercent\": \"25\",\n  \"title\": \"CFO\",\n  \"address\": {\n    \"street1\": \"123 First St\",\n    \"street2\": \"#2\",\n    \"city\": \"Santa Cruz\",\n    \"state\": \"CA\",\n    \"postalCode\": \"95060\",\n    \"country\": \"USA\"\n  },\n  \"contact\": {\n    \"firstName\": \"Martha\",\n    \"lastName\": \"Flowers\",\n    \"email\": \"martha@marthasflowers-test.com\",\n    \"phone\": \"8312223333\",\n    \"dateOfBirth\": \"08-30-1984\"\n  },
[...]
