{"openapi":"3.1.0","info":{"title":"Endpoints","description":"This is Sendle's primary API.","termsOfService":"https://support.sendle.com/hc/en-us/sections/200968387-Terms","contact":{"email":"support@sendle.com"},"version":"1.0.0"},"externalDocs":{"description":"Find out more about Sendle","url":"http://sendle.com"},"servers":[{"url":"https://sandbox.sendle.com","description":"Sandbox Server"},{"url":"https://api.sendle.com","description":"Production Server"}],"tags":[{"name":"Testing","description":"Testing"},{"name":"Quoting and Ordering","description":"Quoting and Ordering"},{"name":"Shipping manifests","description":"Shipping manifests"},{"name":"Returns","description":"Returns"},{"name":"Tracking","description":"Tracking"}],"paths":{"/api/ping":{"get":{"operationId":"ping","summary":"Basic API Test","description":"<span style=\"font-size: 1.3em\">Returns a simple response and a timestamp showing when it was generated on our system.</span>\n\nYou can use this endpoint to test your [API credentials](ref:getting-your-api-key), [idempotency keys](ref:idempotency-keys), and make sure you're ready to explore the rest of Sendle's API endpoints.\n\n-----\n\nWhile testing idempotency keys, pressing 'Try It!' every time will show you a new response for each request. If the response doesn't change, that means you were sent the same response and your idempotency key is working.\n","tags":["Testing"],"security":[{"basicAuth":[]}],"parameters":[{"$ref":"#/components/parameters/IdempotencyKey"},{"$ref":"#/components/parameters/UserAgent"}],"responses":{"200":{"description":"Successful response\n","content":{"application/json":{"schema":{"type":"object","properties":{"ping":{"type":"string","enum":["pong"]},"timestamp":{"type":"string","format":"date-time"}}},"example":{"ping":"pong","timestamp":"1997-08-29T02:14:00-05:00"}}}},"401":{"$ref":"#/components/responses/ErrorUnauthorised"},"402":{"$ref":"#/components/responses/ErrorPaymentRequired"},"500":{"$ref":"#/components/responses/ErrorInternal"},"503":{"$ref":"#/components/responses/ErrorNotAvailable"}}}},"/api/products":{"get":{"operationId":"getProducts","summary":"Get products","description":"<span style=\"font-size: 1.3em\">Returns how much you'll expect to pay to send a parcel, given the shipping details and your current plan.</span>\n\nYou'll receive one quote for each shipping product Sendle supports for the given route. Products are separated by details like service type (e.g. Standard vs Express) and first-mile option (whether a driver will pickup the parcel or the sender will drop it off at a valid Sendle location). When booking the delivery with a quote from this endpoint, you **need to send the selected product code** along with your order.\n\nYou can get quotes for both domestic and international shipments. International parcels can be shipped from Australia and the United States to countries around the globe, or from Canada to the United States.\n\n-----\n\nSince this is a `GET` request, the params need to be sent in the **query string**, not in the body like the [create an order](ref:createorder) endpoint requires. The `?` in the URL starts the query string.\n\nBe sure to separate terms using `<name>=<value>` pairs in the query string, and use [percent-encoding](https://en.wikipedia.org/wiki/Percent-encoding#Percent-encoding_reserved_characters) for all spaces or special characters like the playground on the right shows. You can type some spaces and special characters into the boxes below to see how they get encoded! If you need more information on `GET` vs `POST` requests, Mozilla's MDN [has a nice summary](https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods).\n\n-----\n\nHere are a few things to keep in mind while using this endpoint:\n\n- Filter the returned list according to the user’s configuration (e.g. your integration may select whether to show the pickup or drop off “Sendle Standard” product).\n- Display all valid quotes with the included product names (e.g. **“Sendle Standard”**, **“Sendle Express”**).\n- Look at the [Parcel Weights and Dimensions](ref:parcel-weights-and-dimensions) page for advice on parcel sizes.\n- Look at the [First Mile](ref:first-mile) page to see how parcels enter our mail network.\n- We decide which currency to return based on where the parcel is being sent from, so `AUD` for Australian, `CAD` for Canadian, and `USD` for U.S. parcels. This is the currency you'll be charged in.\n- The ETAs returned by this endpoint are the number of **business days** until the parcel should be delivered.\n","tags":["Quoting and Ordering"],"security":[{"basicAuth":[]}],"parameters":[{"$ref":"#/components/parameters/UserAgent"},{"in":"query","name":"Domestic / International","description":"Orders sent domestically inside a single country or internationally.\n","required":true,"style":"form","explode":true,"schema":{"type":"object","properties":{"sender_address_line1":{"$ref":"#/components/schemas/Address/properties/Line1"},"sender_address_line2":{"$ref":"#/components/schemas/Address/properties/Line2"},"sender_suburb":{"$ref":"#/components/schemas/Address/properties/Suburb"},"sender_postcode":{"$ref":"#/components/schemas/Address/properties/Postcode"},"sender_country":{"$ref":"#/components/schemas/Address/properties/CountryCode"},"receiver_address_line1":{"$ref":"#/components/schemas/Address/properties/Line1"},"receiver_address_line2":{"$ref":"#/components/schemas/Address/properties/Line2"},"receiver_suburb":{"$ref":"#/components/schemas/Address/properties/Suburb"},"receiver_postcode":{"$ref":"#/components/schemas/Address/properties/Postcode"},"receiver_country":{"$ref":"#/components/schemas/Address/properties/CountryCode"},"weight_value":{"$ref":"#/components/schemas/Physical/properties/WeightValue"},"weight_units":{"$ref":"#/components/schemas/Physical/properties/WeightUnit"},"volume_value":{"$ref":"#/components/schemas/Physical/properties/VolumeValue"},"volume_units":{"$ref":"#/components/schemas/Physical/properties/VolumeUnit"},"length_value":{"$ref":"#/components/schemas/Physical/properties/LengthValue"},"width_value":{"$ref":"#/components/schemas/Physical/properties/WidthValue"},"height_value":{"$ref":"#/components/schemas/Physical/properties/HeightValue"},"dimension_units":{"$ref":"#/components/schemas/Physical/properties/DimensionUnit"},"packaging_type":{"$ref":"#/components/schemas/Physical/properties/PackagingType"},"total_cover_amount":{"$ref":"#/components/schemas/TotalCoverAmount"}},"required":["sender_suburb","sender_postcode","sender_country","receiver_suburb","receiver_postcode","receiver_country","weight_value","weight_units","length_value","width_value","height_value","dimension_units"]}}],"responses":{"200":{"description":"Successful products response.\n\nThis is an array of quotes. Create the order with the selected product's quote.\n","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProductQuote"}},"example":[{"quote":{"gross":{"amount":8.47,"currency":"AUD"},"net":{"amount":7.7,"currency":"AUD"},"tax":{"amount":0.77,"currency":"AUD"}},"price_breakdown":{"base":{"amount":15,"currency":"AUD"},"discount":{"amount":-7.5,"currency":"AUD"},"cover":{"amount":0,"currency":"AUD"},"fuel_surcharge":{"amount":0.2,"currency":"AUD"},"base_tax":{"amount":1.5,"currency":"AUD"},"discount_tax":{"amount":-0.75,"currency":"AUD"},"cover_tax":{"amount":0,"currency":"AUD"},"fuel_surcharge_tax":{"amount":0.02,"currency":"AUD"},"service":{"amount":0,"currency":"AUD"}},"tax_breakdown":{"gst":{"amount":0.77,"currency":"AUD","rate":0.1}},"plan":"Sendle Pro","eta":{"days_range":[1,4],"date_range":["2022-02-28","2022-03-03"],"for_send_date":"2022-02-25"},"route":{"type":"same-city","description":"Sydney, Australia to Sydney, Australia"},"allowed_packaging":"any","product":{"code":"STANDARD-PICKUP","name":"Standard Pickup","first_mile_option":"pickup","service":"standard"},"cover":{"price":{"gross":{"amount":0,"currency":"AUD"},"net":{"amount":0,"currency":"AUD"},"tax":{"amount":0,"currency":"AUD"}}}},{"quote":{"gross":{"amount":8.47,"currency":"AUD"},"net":{"amount":7.7,"currency":"AUD"},"tax":{"amount":0.77,"currency":"AUD"}},"price_breakdown":{"base":{"amount":15,"currency":"AUD"},"discount":{"amount":-7.5,"currency":"AUD"},"cover":{"amount":0,"currency":"AUD"},"fuel_surcharge":{"amount":0.2,"currency":"AUD"},"base_tax":{"amount":1.5,"currency":"AUD"},"discount_tax":{"amount":-0.75,"currency":"AUD"},"cover_tax":{"amount":0,"currency":"AUD"},"fuel_surcharge_tax":{"amount":0.02,"currency":"AUD"},"service":{"amount":0,"currency":"AUD"}},"tax_breakdown":{"gst":{"amount":0.77,"currency":"AUD","rate":0.1}},"plan":"Sendle Pro","eta":{"days_range":[1,4],"date_range":["2022-02-28","2022-03-03"],"for_send_date":"2022-02-25"},"route":{"type":"same-city","description":"Sydney, Australia to Sydney, Australia"},"allowed_packaging":"any","product":{"code":"STANDARD-DROPOFF","name":"Standard Drop Off","first_mile_option":"drop off","service":"standard"},"cover":{"price":{"gross":{"amount":0,"currency":"AUD"},"net":{"amount":0,"currency":"AUD"},"tax":{"amount":0,"currency":"AUD"}}}}]}}},"401":{"$ref":"#/components/responses/ErrorUnauthorised"},"422":{"$ref":"#/components/responses/ErrorUnprocessableEntityProducts"},"500":{"$ref":"#/components/responses/ErrorInternal"},"503":{"$ref":"#/components/responses/ErrorNotAvailable"}}}},"/api/quote":{"get":{"operationId":"getQuote","summary":"Get a quote (deprecated)","description":"<span style=\"font-size: 1.3em\">Returns how much you'll expect to pay to send a parcel, given the shipping details and your current plan.</span>\n\nYou can get quotes for both domestic and international shipments. International parcels can be shipped from Australia and the United States to countries around the globe, or from Canada to the United States.\n\n> 🚧 New product-aware quoting\n>\n> Your system should use the new [Get Products endpoint](ref:getproducts) instead of this endpoint. This new endpoint makes quoting easier and also lets your system see all available [shipping products](doc:products) (such as Sendle Express or Saver).\n>\n> For more information, see [the post detailing our quoting update](https://developers.sendle.com/changelog/api-products-endpoint).\n\n-----\n\nSince this is a `GET` request, the params need to be sent in the **query string**, not in the body like the [create an order](ref:createorder) endpoint requires. The `?` in the URL starts the query string.\n\nBe sure to separate terms using `<name>=<value>` pairs in the query string, and use [percent-encoding](https://en.wikipedia.org/wiki/Percent-encoding#Percent-encoding_reserved_characters) for all spaces or special characters like the playground on the right shows. You can type some spaces and special characters into the boxes below to see how they get encoded! If you need more information on `GET` vs `POST` requests, Mozilla's MDN [has a nice summary](https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods).\n\n-----\n\nHere are a few things to keep in mind while using this endpoint:\n\n- Look at the [Parcel Weights and Dimensions](ref:parcel-weights-and-dimensions) page for advice on parcel sizes, including using our AU Domestic Unlimited Satchels.\n- Look at the [First Mile](ref:first-mile) page to see how parcels enter our mail network.\n- We decide which currency to return based on where the parcel is being sent from, so `AUD` for Australian, `CAD` for Canadian, and `USD` for U.S. parcels. This is the currency you'll be charged in.\n- The ETA returned by this endpoint is the number of **business days** until the parcel should be delivered.\n","tags":["Quoting and Ordering"],"security":[{"basicAuth":[]}],"deprecated":true,"parameters":[{"$ref":"#/components/parameters/UserAgent"},{"in":"query","name":"Order Type","description":"Select the type of order you're trying to quote, and we'll show the query params for it below.\n","required":true,"style":"form","explode":true,"schema":{"type":"object","oneOf":[{"title":"Domestic","description":"Orders sent domestically inside a single country.\n","properties":{"product_code":{"$ref":"#/components/schemas/ProductCode"},"first_mile_option":{"$ref":"#/components/schemas/FirstMileOption"},"pickup_address_line1":{"$ref":"#/components/schemas/Address/properties/Line1"},"pickup_address_line2":{"$ref":"#/components/schemas/Address/properties/Line2"},"pickup_suburb":{"$ref":"#/components/schemas/Address/properties/Suburb"},"pickup_postcode":{"$ref":"#/components/schemas/Address/properties/Postcode"},"pickup_country":{"$ref":"#/components/schemas/Address/properties/CountryCode","description":"[ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#Officially_assigned_code_elements) country code. If not provided this will default to `AU`.\n"},"delivery_address_line1":{"$ref":"#/components/schemas/Address/properties/Line1"},"delivery_address_line2":{"$ref":"#/components/schemas/Address/properties/Line2"},"delivery_suburb":{"$ref":"#/components/schemas/Address/properties/Suburb"},"delivery_postcode":{"$ref":"#/components/schemas/Address/properties/Postcode"},"delivery_country":{"$ref":"#/components/schemas/Address/properties/CountryCode","description":"[ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#Officially_assigned_code_elements) country code. If not provided this will default to `AU`.\n"},"weight_value":{"$ref":"#/components/schemas/Physical/properties/WeightValue"},"weight_units":{"$ref":"#/components/schemas/Physical/properties/WeightUnit"},"volume_value":{"$ref":"#/components/schemas/Physical/properties/VolumeValue"},"volume_units":{"$ref":"#/components/schemas/Physical/properties/VolumeUnit"},"length_value":{"$ref":"#/components/schemas/Physical/properties/LengthValue"},"width_value":{"$ref":"#/components/schemas/Physical/properties/WidthValue"},"height_value":{"$ref":"#/components/schemas/Physical/properties/HeightValue"},"dimension_units":{"$ref":"#/components/schemas/Physical/properties/DimensionUnit"},"packaging_type":{"$ref":"#/components/schemas/Physical/properties/PackagingType"},"total_cover_amount":{"$ref":"#/components/schemas/TotalCoverAmount"}},"required":["pickup_suburb","pickup_postcode","delivery_suburb","delivery_postcode","weight_value","weight_units","dimension_units","length_value","width_value","height_value"],"additionalProperties":false},{"title":"International","description":"Orders sent internationally from Australia, United States, or Canada.\n","properties":{"product_code":{"$ref":"#/components/schemas/ProductCode"},"pickup_address_line1":{"$ref":"#/components/schemas/Address/properties/Line1"},"pickup_address_line2":{"$ref":"#/components/schemas/Address/properties/Line2"},"pickup_suburb":{"$ref":"#/components/schemas/Address/properties/Suburb"},"pickup_postcode":{"$ref":"#/components/schemas/Address/properties/Postcode"},"pickup_country":{"$ref":"#/components/schemas/Address/properties/CountryCode","description":"[ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#Officially_assigned_code_elements) country code. If not provided this will default to `AU`.\n"},"delivery_address_line1":{"$ref":"#/components/schemas/Address/properties/Line1"},"delivery_address_line2":{"$ref":"#/components/schemas/Address/properties/Line2"},"delivery_suburb":{"$ref":"#/components/schemas/Address/properties/Suburb"},"delivery_postcode":{"$ref":"#/components/schemas/Address/properties/Postcode"},"delivery_country":{"$ref":"#/components/schemas/Address/properties/CountryCode"},"weight_value":{"$ref":"#/components/schemas/Physical/properties/WeightValue"},"weight_units":{"$ref":"#/components/schemas/Physical/properties/WeightUnit"},"volume_value":{"$ref":"#/components/schemas/Physical/properties/VolumeValue"},"volume_units":{"$ref":"#/components/schemas/Physical/properties/VolumeUnit"},"length_value":{"$ref":"#/components/schemas/Physical/properties/LengthValue"},"width_value":{"$ref":"#/components/schemas/Physical/properties/WidthValue"},"height_value":{"$ref":"#/components/schemas/Physical/properties/HeightValue"},"dimension_units":{"$ref":"#/components/schemas/Physical/properties/DimensionUnit"},"packaging_type":{"$ref":"#/components/schemas/Physical/properties/PackagingType"},"total_cover_amount":{"$ref":"#/components/schemas/TotalCoverAmount"}},"required":["pickup_suburb","pickup_postcode","delivery_country","weight_value","weight_units","dimension_units","length_value","width_value","height_value"],"additionalProperties":false}]}}],"responses":{"200":{"description":"Successful quote response.\n\nThis is an array of quotes. When calling the endpoint with your API credentials you'll receive one quote tailored for your account's current plan.\n","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Quote"}},"example":[{"quote":{"gross":{"amount":8.47,"currency":"AUD"},"net":{"amount":7.7,"currency":"AUD"},"tax":{"amount":0.77,"currency":"AUD"}},"price_breakdown":{"base":{"amount":15,"currency":"AUD"},"discount":{"amount":-7.5,"currency":"AUD"},"cover":{"amount":0,"currency":"AUD"},"fuel_surcharge":{"amount":0.2,"currency":"AUD"},"base_tax":{"amount":1.5,"currency":"AUD"},"discount_tax":{"amount":-0.75,"currency":"AUD"},"cover_tax":{"amount":0,"currency":"AUD"},"fuel_surcharge_tax":{"amount":0.02,"currency":"AUD"},"service":{"amount":0,"currency":"AUD"}},"tax_breakdown":{"gst":{"amount":0.77,"currency":"AUD","rate":0.1}},"plan_name":"Premium","eta":{"days_range":[0,4],"date_range":["2018-02-13","2018-02-19"],"for_pickup_date":"2018-02-13"},"route":{"type":"same-city","description":"Brisbane, Australia to Brisbane, Australia"},"allowed_packaging":"any","cover":{"price":{"gross":{"amount":0,"currency":"AUD"},"net":{"amount":0,"currency":"AUD"},"tax":{"amount":0,"currency":"AUD"}}},"product":{"atl_only":false,"code":"STANDARD-PICKUP","name":"Standard Pickup","first_mile_option":"pickup","service":"standard"}}]}}},"401":{"$ref":"#/components/responses/ErrorUnauthorised"},"422":{"$ref":"#/components/responses/ErrorUnprocessableEntityQuote"},"500":{"$ref":"#/components/responses/ErrorInternal"},"503":{"$ref":"#/components/responses/ErrorNotAvailable"}}}},"/api/orders":{"post":{"operationId":"createOrder","summary":"Create an order","description":"<span style=\"font-size: 1.3em\">Creates an order to ship a parcel to the given delivery address.</span>\n\nYou can send parcels domestically inside Australia, Canada, and the United States. International parcels can be shipped from Australia and the United States to countries around the globe, or from Canada to the United States. With our API you can tell us the parcel size, origin, and destination, and we'll do the work to find the best route and price for your order.\n\n-----\n\nSince this is a `POST` request, the params need to be sent in the **body** of your request as a **JSON object**. Fill out some fields below and see how the data is sent in the request example box.\n\nIf you need more information on GET vs POST requests, the Mozilla MDN [has a nice summary](https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods).\n\n-----\n\nWe decide which currency to charge based on where the parcel is being sent from, so `AUD` for Australian, `CAD` for Canadian, and `USD` for U.S. parcels. This is the currency you'll be charged in.\n\nYou'll need a card for the currency you're creating orders in, so an [AUD credit card](https://app.sendle.com/dashboard/billing?currency=AUD), [CAD credit card](https://app.sendle.com/dashboard/billing?currency=CAD), or a [USD credit card](https://app.sendle.com/dashboard/billing?currency=AUD). If you don't have the correct currency enabled for your card then you'll receive an error in the response.\n\n-----\n\nHere are a few things to keep in mind while using this endpoint:\n\n- A valid postcode **and** suburb name must be given. The suburb name is validated against the postcode, and they must match.\n- Make sure you send the `Content-Type: application/json` header, since you're sending the JSON body.\n- Look at the [Parcel Weights and Dimensions](ref:parcel-weights-and-dimensions) page for advice on parcel sizes.\n- Look at the [First Mile](ref:first-mile) page to see how parcels enter our mail network.\n- **All strings (names, addresses, …) must include only [Latin characters](https://support.sendle.com/hc/en-au/articles/115002794031-International-Book-with-Latin-characters).** That's A-Z along with certain accented characters like á, é, í, ó, and ú. Characters may show without accents on the physical label, but this will not affect deliverability.\n- If the `product_code` parameter is not given, the `product` object may not be included in the response.\n\nAnd when sending international orders:\n\n- Canadian international orders can only be sent to the United States.\n- Australian and Canadian international orders can only be [picked up](ref:first-mile).\n- When sending from Australia, identification matching the sender name on the label must be provided for the first three pickups of international parcels. This means **the first three times international parcels get picked up,** and not the first three international parcels sent.\n- The sender name can't be a URL (or URL-like, e.g. `Example.com`) because of shipping restrictions.\n- [HS codes](https://en.wikipedia.org/wiki/Harmonized_System) (in `parcel_contents`) are required when sending internationally. Senders can [lookup 6-digit codes here](https://uscensus.prod.3ceonline.com/).\n\n-----\n\nYou can prevent duplicate orders by including an [idempotency key](ref:idempotency-keys) when sending requests to this endpoint.\n\nWhile testing idempotency keys, pressing 'Try It!' every time will show you a new response for each request. If the response doesn't change, that means you were sent the same response and your idempotency key is working.\n","tags":["Quoting and Ordering"],"security":[{"basicAuth":[]}],"parameters":[{"$ref":"#/components/parameters/IdempotencyKey"},{"$ref":"#/components/parameters/UserAgent"}],"requestBody":{"description":"JSON body for creating an order\n","content":{"application/json":{"schema":{"type":"object","oneOf":[{"title":"Domestic","description":"Orders sent domestically inside a single country.\n","properties":{"sender":{"$ref":"#/components/schemas/SenderDetailsDomestic"},"receiver":{"$ref":"#/components/schemas/ReceiverDetails"},"description":{"$ref":"#/components/schemas/Order/properties/description"},"customer_reference":{"$ref":"#/components/schemas/Order/properties/customer_reference"},"product_code":{"$ref":"#/components/schemas/ProductCode"},"first_mile_option":{"$ref":"#/components/schemas/FirstMileOption"},"pickup_date":{"$ref":"#/components/schemas/PickupDate"},"weight":{"$ref":"#/components/schemas/Order/properties/weight"},"volume":{"$ref":"#/components/schemas/Order/properties/volume"},"dimensions":{"$ref":"#/components/schemas/Order/properties/dimensions","description":"The order's dimensions.\n"},"packaging_type":{"$ref":"#/components/schemas/Physical/properties/PackagingType"},"metadata":{"$ref":"#/components/schemas/Order/properties/metadata","description":"Up to 1MB of JSON key/value pairs stored with this order.\n\nIncluded when viewing an order and in some bulk reports available from our system.\n"},"hide_pickup_address":{"$ref":"#/components/schemas/HidePickupAddress"},"cover":{"$ref":"#/components/schemas/Cover","description":"Only available for Australian domestic orders.\n"}},"required":["description","weight","dimensions"],"additionalProperties":false},{"title":"International","description":"Orders sent internationally from Australia, United States, or Canada.\n","properties":{"sender":{"$ref":"#/components/schemas/SenderDetailsInternational"},"receiver":{"$ref":"#/components/schemas/ReceiverDetails"},"description":{"$ref":"#/components/schemas/Order/properties/description"},"customer_reference":{"$ref":"#/components/schemas/Order/properties/customer_reference"},"product_code":{"$ref":"#/components/schemas/ProductCode"},"pickup_date":{"$ref":"#/components/schemas/PickupDate","description":"If provided this must be at least one non-holiday, business day in the future – for example, `2021-09-24` (`YYYY-MM-DD`). If this is not given it will be set to the earliest available pickup date. The pickup date is returned in the order payload on subsequent requests.\n"},"weight":{"$ref":"#/components/schemas/Order/properties/weight"},"volume":{"$ref":"#/components/schemas/Order/properties/volume"},"dimensions":{"$ref":"#/components/schemas/Order/properties/dimensions"},"packaging_type":{"$ref":"#/components/schemas/Physical/properties/PackagingType"},"metadata":{"$ref":"#/components/schemas/Order/properties/metadata","description":"Up to 1MB of JSON key/value pairs stored with this order.\n\nIncluded when viewing an order and in some bulk reports available from our system.\n"},"parcel_contents":{"$ref":"#/components/schemas/Order/properties/parcel_contents","description":"International orders require a list of the parcel's contents for customs purposes. Add an entry for each item in the parcel. You can specify the quantity of each item when listing it.\n\nThe total value of an international parcel can't exceed $2000 AUD.\n"},"contents_type":{"$ref":"#/components/schemas/Order/properties/contents_type","description":"A contents type descriptor is required to create US international orders. This field is optional for Australia and Canada.\n"},"cover":{"$ref":"#/components/schemas/Cover","description":"Only available for Australian international orders.  \n"}},"required":["description","weight","dimensions","parcel_contents"],"additionalProperties":false}]}}},"required":true},"responses":{"201":{"description":"Successful order response.\n\nThis response contains a full Order object. This is the same one you'll get when [viewing an order](ref:vieworder).\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Order"},"examples":{"Domestic CA":{"description":"Successful domestic booking.\n","value":{"order_id":"f5233746-71d4-4b05-bf63-56f4abaed5f6","state":"Pickup","order_url":"https://api.sendle.com/api/orders/f5233746-71d4-4b05-bf63-56f4abaed5f6","sendle_reference":"S34WER4S","tracking_url":"https://track.sendle.com/tracking?ref=S34WER4S","metadata":{},"labels":[{"format":"pdf","size":"letter","url":"https://api.sendle.com/api/orders/f5233746-71d4-4b05-bf63-56f4abaed5f6/labels/letter.pdf"},{"format":"pdf","size":"cropped","url":"https://api.sendle.com/api/orders/f5233746-71d4-4b05-bf63-56f4abaed5f6/labels/cropped.pdf"}],"scheduling":{"is_cancellable":true,"pickup_date":"2022-07-29","picked_up_on":null,"delivered_on":null,"estimated_delivery_date_minimum":"2022-08-01","estimated_delivery_date_maximum":"2022-08-02","status":null},"hide_pickup_address":false,"description":"Care package","kilogram_weight":"2.7","weight":{"units":"kg","value":"2.7"},"customer_reference":"#123","sender":{"contact":{"name":"Georgia","phone":"18005555555","email":"georgia@catsocksltd.com","company":"Cat Socks","sendle_id":"georgia_cat_socks"},"address":{"address_line1":"121 Crumble Road","address_line2":null,"suburb":"Ottowa","state_name":"ON","postcode":"K1G 6P8","country":"Canada"},"instructions":null},"receiver":{"contact":{"name":"Tony","phone":null,"email":"tony@example.org","company":null},"address":{"address_line1":"5128 Av. Louis Fréchette","address_line2":null,"suburb":"Ottowasda","state_name":"QC","postcode":"G1S 3N4","country":"Canada"},"instructions":"Near the front door please!"},"route":{"delivery_guarantee_status":"ineligible","type":"export","description":"Ontario, Canada to Quebec, Canada"},"price":{"gross":{"amount":19.95,"currency":"CAD"},"net":{"amount":17.35,"currency":"CAD"},"tax":{"amount":2.6,"currency":"CAD"}},"packaging_type":"box","price_breakdown":{"base":{"amount":12.95,"currency":"CAD"},"base_tax":{"amount":1.94,"currency":"CAD"},"cover":{"amount":0,"currency":"CAD"},"cover_tax":{"amount":0,"currency":"CAD"},"discount":{"amount":0,"currency":"CAD"},"discount_tax":{"amount":0,"currency":"CAD"},"fuel_surcharge":{"amount":4.4,"currency":"CAD"},"fuel_surcharge_tax":{"amount":0.66,"currency":"CAD"},"service":{"amount":0,"currency":"CAD"}},"tax_breakdown":{"gst":{"amount":0.87,"currency":"CAD","rate":0.05},"qst":{"amount":1.73,"currency":"CAD","rate":0.09975}},"cover":{"price":{"gross":{"amount":0,"currency":"CAD"},"net":{"amount":0,"currency":"CAD"},"tax":{"amount":0,"currency":"CAD"}}},"label_provider":"customer","product":{"atl_only":true,"code":"STANDARD-PICKUP","name":"Standard Pickup","first_mile_option":"pickup","service":"standard"}}},"Domestic AU Pickup":{"description":"Successful domestic booking pickup.\n","value":{"order_id":"f5233746-71d4-4b05-bf63-56f4abaed5f6","state":"Pickup","order_url":"https://api.sendle.com/api/orders/f5233746-71d4-4b05-bf63-56f4abaed5f6","sendle_reference":"SNFJJ3","tracking_url":"https://track.sendle.com/tracking?ref=SNFJJ3","metadata":{"your_data":"XYZ123"},"labels":[{"format":"pdf","size":"cropped","url":"https://api.sendle.com/api/orders/f5233746-71d4-4b05-bf63-56f4abaed5f6/labels/cropped.pdf"},{"format":"pdf","size":"a4","url":"https://api.sendle.com/api/orders/f5233746-71d4-4b05-bf63-56f4abaed5f6/labels/a4.pdf"}],"scheduling":{"is_cancellable":true,"pickup_date":"2015-11-24","picked_up_on":null,"delivered_on":null,"estimated_delivery_date_minimum":"2015-11-26","estimated_delivery_date_maximum":"2015-11-27","status":null},"hide_pickup_address":true,"description":"Kryptonite","weight":{"units":"kg","value":"1.0"},"volume":{"units":"m3","value":"0.01"},"dimensions":{"length":"30.0","width":"20.0","height":"17.0","units":"cm"},"customer_reference":"SupBdayPressie","sender":{"contact":{"name":"Lex Luthor","phone":"0491 570 313","email":"lluthor@example.com","company":"LexCorp"},"address":{"address_line1":"123 Gotham Ln","address_line2":null,"suburb":"Sydney","state_name":"NSW","postcode":"2000","country":"Australia"},"instructions":"Knock loudly"},"receiver":{"contact":{"name":"Clark Kent","phone":null,"email":"clarkissuper@dailyplanet.xyz","company":"Daily Planet"},"address":{"address_line1":"80 Wentworth Park Road","address_line2":null,"suburb":"Glebe","state_name":"NSW","postcode":"2037","country":"Australia"},"instructions":"Give directly to Clark"},"route":{"description":"Sydney to Sydney","type":"same-city","delivery_guarantee_status":"eligible"},"price":{"gross":{"amount":8.47,"currency":"AUD"},"net":{"amount":7.7,"currency":"AUD"},"tax":{"amount":0.77,"currency":"AUD"}},"price_breakdown":{"base":{"amount":15,"currency":"AUD"},"discount":{"amount":-7.5,"currency":"AUD"},"cover":{"amount":0,"currency":"AUD"},"fuel_surcharge":{"amount":0.2,"currency":"AUD"},"base_tax":{"amount":1.5,"currency":"AUD"},"discount_tax":{"amount":-0.75,"currency":"AUD"},"cover_tax":{"amount":0,"currency":"AUD"},"fuel_surcharge_tax":{"amount":0.02,"currency":"AUD"},"service":{"amount":0,"currency":"AUD"}},"tax_breakdown":{"gst":{"amount":0.77,"currency":"AUD","rate":0.1}},"cover":{"price":{"gross":{"amount":0,"currency":"AUD"},"net":{"amount":0,"currency":"AUD"},"tax":{"amount":0,"currency":"AUD"}}},"packaging_type":"box"}},"Domestic AU Drop Off":{"description":"Successful domestic booking drop off.\n","value":{"order_id":"f5233746-71d4-4b05-bf63-56f4abaed5f6","state":"Drop Off","order_url":"https://api.sendle.com/api/orders/f5233746-71d4-4b05-bf63-56f4abaed5f6","sendle_reference":"SNFJJ3","tracking_url":"https://track.sendle.com/tracking?ref=SNFJJ3","metadata":{"your_data":"XYZ123"},"labels":[{"format":"pdf","size":"cropped","url":"https://api.sendle.com/api/orders/f5233746-71d4-4b05-bf63-56f4abaed5f6/labels/cropped.pdf"},{"format":"pdf","size":"a4","url":"https://api.sendle.com/api/orders/f5233746-71d4-4b05-bf63-56f4abaed5f6/labels/a4.pdf"},{"format":"png","size":"cropped","url":"https://api.sendle.com/api/orders/f5233746-71d4-4b05-bf63-56f4abaed5f6/labels/cropped.png"}],"scheduling":{"is_cancellable":true,"pickup_date":"2015-11-24","picked_up_on":null,"delivered_on":null,"estimated_delivery_date_minimum":"2015-11-26","estimated_delivery_date_maximum":"2015-11-27","status":null},"hide_pickup_address":true,"description":"Kryptonite","weight":{"units":"kg","value":"1.0"},"volume":{"units":"m3","value":"0.01"},"dimensions":{"length":"30.0","width":"20.0","height":"17.0","units":"cm"},"customer_reference":"SupBdayPressie","sender":{"contact":{"name":"Lex Luthor","phone":"0491 570 313","email":"lluthor@example.com","company":"LexCorp"},"address":{"address_line1":"123 Gotham Ln","address_line2":null,"suburb":"Sydney","state_name":"NSW","postcode":"2000","country":"Australia"},"instructions":"Knock loudly"},"receiver":{"contact":{"name":"Clark Kent","phone":null,"email":"clarkissuper@dailyplanet.xyz","company":"Daily Planet"},"address":{"address_line1":"80 Wentworth Park Road","address_line2":null,"suburb":"Glebe","state_name":"NSW","postcode":"2037","country":"Australia"},"instructions":"Give directly to Clark"},"route":{"description":"Sydney to Sydney","type":"same-city","delivery_guarantee_status":"eligible"},"price":{"gross":{"amount":8.47,"currency":"AUD"},"net":{"amount":7.7,"currency":"AUD"},"tax":{"amount":0.77,"currency":"AUD"}},"price_breakdown":{"base":{"amount":15,"currency":"AUD"},"discount":{"amount":-7.5,"currency":"AUD"},"cover":{"amount":0,"currency":"AUD"},"fuel_surcharge":{"amount":0.2,"currency":"AUD"},"base_tax":{"amount":1.5,"currency":"AUD"},"discount_tax":{"amount":-0.75,"currency":"AUD"},"cover_tax":{"amount":0,"currency":"AUD"},"fuel_surcharge_tax":{"amount":0.02,"currency":"AUD"},"service":{"amount":0,"currency":"AUD"}},"tax_breakdown":{"gst":{"amount":0.77,"currency":"AUD","rate":0.1}},"cover":{"price":{"gross":{"amount":0,"currency":"AUD"},"net":{"amount":0,"currency":"AUD"},"tax":{"amount":0,"currency":"AUD"}}},"packaging_type":"box"}},"International":{"description":"Successful international booking.\n","value":{"order_id":"f5233746-71d4-4b05-bf63-56f4abaed5f6","state":"Pickup","order_url":"https://api.sendle.com/api/orders/f5233746-71d4-4b05-bf63-56f4abaed5f6","sendle_reference":"SNFJJ3","tracking_url":"https://track.sendle.com/tracking?ref=SNFJJ3","labels":[{"format":"pdf","size":"a4","url":"https://api.sendle.com/api/orders/f5233746-71d4-4b05-bf63-56f4abaed5f6/labels/a4.pdf"},{"format":"pdf","size":"cropped","url":"https://api.sendle.com/api/orders/f5233746-71d4-4b05-bf63-56f4abaed5f6/labels/cropped.pdf"}],"scheduling":{"is_cancellable":true,"pickup_date":"2015-11-24","picked_up_on":null,"delivered_on":null,"estimated_delivery_date_minimum":"2021-11-29","estimated_delivery_date_maximum":"2021-12-03","status":null},"hide_pickup_address":false,"description":"Kryptonite","weight":{"units":"kg","value":"1.0"},"volume":{"units":"m3","value":"0.01"},"dimensions":{"length":"30.0","width":"20.0","height":"17.0","units":"cm"},"customer_reference":"SupBdayPressie","metadata":{"your_data":"XYZ123"},"sender":{"contact":{"name":"Lex Luthor","phone":"0491 570 313","email":"lluthor@example.com","company":"LexCorp","sendle_id":"sendleID"},"address":{"address_line1":"123 Gotham Ln","address_line2":null,"suburb":"Sydney","state_name":"NSW","postcode":"2000","country":"Australia"},"instructions":"Knock loudly"},"receiver":{"contact":{"name":"Clark Kent","phone":null,"email":"clarkissuper@dailyplanet.xyz","company":"Daily Planet"},"address":{"address_line1":"80 Wentworth Park Road","address_line2":null,"suburb":"Glebe","state_name":"NSW","postcode":"2037","country":"Australia"},"instructions":"Give directly to Clark"},"route":{"type":"export","description":"Sydney, Australia to New Zealand"},"price":{"gross":{"amount":7.7,"currency":"AUD"},"net":{"amount":7.7,"currency":"AUD"},"tax":{"amount":0,"currency":"AUD"}},"price_breakdown":{"base":{"amount":15,"currency":"AUD"},"discount":{"amount":-7.5,"currency":"AUD"},"cover":{"amount":0,"currency":"AUD"},"fuel_surcharge":{"amount":0.2,"currency":"AUD"},"base_tax":{"amount":0,"currency":"AUD"},"discount_tax":{"amount":0,"currency":"AUD"},"cover_tax":{"amount":0,"currency":"AUD"},"fuel_surcharge_tax":{"amount":0,"currency":"AUD"},"service":{"amount":0,"currency":"AUD"}},"tax_breakdown":{"gst":{"amount":0,"currency":"AUD","rate":0.1}},"cover":{"price":{"gross":{"amount":0,"currency":"AUD"},"net":{"amount":0,"currency":"AUD"},"tax":{"amount":0,"currency":"AUD"}}},"packaging_type":"box","contents":{"description":"Kryptonite","country_of_origin":"krypton","value":"900.0","currency":"AUD"},"parcel_contents":[{"description":"Kryptonite","country_of_origin":"krypton","value":"900.0","currency":"AUD","hs_code":"6815.99.41","quantity":1}],"contents_type":"Gift","product":{"atl_only":false,"code":"STANDARD-PICKUP","name":"Standard Pickup","first_mile_option":"pickup","service":"standard"}}}}}}},"401":{"$ref":"#/components/responses/ErrorUnauthorised"},"402":{"$ref":"#/components/responses/ErrorPaymentRequired"},"412":{"$ref":"#/components/responses/ErrorPreconditionFailed"},"422":{"$ref":"#/components/responses/ErrorUnprocessableEntityOrder"},"425":{"$ref":"#/components/responses/ErrorTooEarly"},"500":{"$ref":"#/components/responses/ErrorInternal"},"503":{"$ref":"#/components/responses/ErrorNotAvailable"}}}},"/api/orders/{id}":{"get":{"operationId":"viewOrder","summary":"View an Order","description":"<span style=\"font-size: 1.3em\">Returns the given order including its status, the public tracking URL, and the metadata you passed when creating it.</span>\n\nViewing an order should include everything that you need to know about it! Aside from the [tracking endpoint](ref:trackparcel), of course. Importantly, the `is_cancellable` key under the `scheduling` section tells you whether you can [cancel the order](ref:cancelorder).\n","tags":["Quoting and Ordering"],"security":[{"basicAuth":[]}],"parameters":[{"$ref":"#/components/parameters/OrderID"},{"$ref":"#/components/parameters/UserAgent"}],"responses":{"200":{"description":"Successful response.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Order"},"example":{"order_id":"f5233746-71d4-4b05-bf63-56f4abaed5f6","state":"Pickup","status":{"description":"Pickup Scheduled","last_changed_at":"2015-11-23"},"order_url":"https://api.sendle.com/api/orders/f5233746-71d4-4b05-bf63-56f4abaed5f6","sendle_reference":"SNFJJ3","tracking_url":"https://track.sendle.com/tracking?ref=SNFJJ3","metadata":{"your_data":"XYZ123"},"labels":[{"format":"pdf","size":"a4","url":"https://api.sendle.com/api/orders/f5233746-71d4-4b05-bf63-56f4abaed5f6/labels/a4.pdf"},{"format":"pdf","size":"cropped","url":"https://api.sendle.com/api/orders/f5233746-71d4-4b05-bf63-56f4abaed5f6/labels/cropped.pdf"}],"scheduling":{"is_cancellable":true,"pickup_date":"2015-11-24","picked_up_on":null,"delivered_on":null,"estimated_delivery_date_minimum":"2015-11-26","estimated_delivery_date_maximum":"2015-11-27","status":null},"description":"Kryptonite","weight":{"value":"1","units":"kg"},"volume":{"value":"0.01","units":"m3"},"dimensions":{"length":"30.0","width":"20.0","height":"17.0","units":"cm"},"customer_reference":"SupBdayPressie","sender":{"contact":{"name":"Lex Luthor","phone":"0491 570 313","email":"lluthor@example.com","sendle_id":"sendleID","company":"LexCorp"},"address":{"address_line1":"123 Gotham Ln","address_line2":null,"suburb":"Sydney","state_name":"NSW","postcode":"2000","country":"Australia"},"instructions":"Knock loudly"},"receiver":{"contact":{"name":"Clark Kent","phone":null,"email":"clarkissuper@dailyplanet.xyz","company":"Daily Planet"},"address":{"address_line1":"80 Wentworth Park Road","address_line2":null,"suburb":"Glebe","state_name":"NSW","postcode":"2037","country":"Australia"},"instructions":"Give directly to Clark"},"route":{"description":"Sydney to Sydney","type":"same-city","delivery_guarantee_status":"eligible"},"price":{"gross":{"amount":8.47,"currency":"AUD"},"net":{"amount":7.7,"currency":"AUD"},"tax":{"amount":0.77,"currency":"AUD"}},"price_breakdown":{"base":{"amount":15,"currency":"AUD"},"discount":{"amount":-7.5,"currency":"AUD"},"cover":{"amount":0,"currency":"AUD"},"fuel_surcharge":{"amount":0.2,"currency":"AUD"},"base_tax":{"amount":1.5,"currency":"AUD"},"discount_tax":{"amount":-0.75,"currency":"AUD"},"cover_tax":{"amount":0,"currency":"AUD"},"fuel_surcharge_tax":{"amount":0.02,"currency":"AUD"},"service":{"amount":0,"currency":"AUD"}},"tax_breakdown":{"gst":{"amount":0.77,"currency":"AUD","rate":0.1}},"cover":{"price":{"gross":{"amount":0,"currency":"AUD"},"net":{"amount":0,"currency":"AUD"},"tax":{"amount":0,"currency":"AUD"}}},"packaging_type":"box"}}}},"401":{"$ref":"#/components/responses/ErrorUnauthorised"},"404":{"$ref":"#/components/responses/ErrorNotFound"},"500":{"$ref":"#/components/responses/ErrorInternal"},"503":{"$ref":"#/components/responses/ErrorNotAvailable"}}},"delete":{"operationId":"cancelOrder","summary":"Cancel an Order","description":"<span style=\"font-size: 1.3em\">Cancels the given order.</span>\n\nAn order can be cancelled so long as it hasn't been collected by a driver. The way to see whether an order can still be cancelled is with the `is_cancellable` key when [viewing an order](ref:vieworder).\n\nIf the order has **already been cancelled** a `200` response will be returned – this is why an [idempotency key](ref:idempotency-keys) isn't needed for this endpoint. If the order has already been **collected** a `422` failure response will be returned.\n\nNote: Cancelled orders aren't deleted from the system and should still be viewable on your dashboard in the 'cancelled' state.\n","tags":["Quoting and Ordering"],"security":[{"basicAuth":[]}],"parameters":[{"$ref":"#/components/parameters/OrderID"},{"$ref":"#/components/parameters/UserAgent"}],"responses":{"200":{"description":"Indicates that the order was successfully cancelled.\n","content":{"application/json":{"schema":{"type":"object","properties":{"sendle_reference":{"$ref":"#/components/schemas/SendleReference"},"tracking_url":{"$ref":"#/components/schemas/Order/properties/tracking_url"},"order_id":{"$ref":"#/components/schemas/OrderID"},"order_url":{"$ref":"#/components/schemas/Order/properties/order_url"},"state":{"$ref":"#/components/schemas/Order/properties/state"},"customer_reference":{"$ref":"#/components/schemas/Order/properties/customer_reference"},"cancelled_at":{"description":"When the order was cancelled, e.g. `2015-10-15 00:56:51 UTC`.\n","type":"string"},"cancellation_message":{"description":"Why the order was cancelled.\n","type":"string"}}},"example":{"order_id":"f5233746-71d4-4b05-bf63-56f4abaed5f6","state":"Cancelled","order_url":"https://api.sendle.com/api/orders/f5233746-71d4-4b05-bf63-56f4abaed5f6","sendle_reference":"S34WER4S","tracking_url":"https://track.sendle.com/tracking?ref=S34WER4S","customer_reference":"SupBdayPressie","metadata":{},"cancelled_at":"2015-10-15 00:56:51 UTC","cancellation_message":"Cancelled by S6LRX64PV8MABbBbzu6DoBHD during picking up"}}}},"401":{"$ref":"#/components/responses/ErrorUnauthorised"},"404":{"$ref":"#/components/responses/ErrorNotFound"},"422":{"$ref":"#/components/responses/ErrorUnprocessableEntityCancelOrder"},"500":{"$ref":"#/components/responses/ErrorInternal"},"503":{"$ref":"#/components/responses/ErrorNotAvailable"}}}},"/api/orders/{id}/return":{"post":{"operationId":"returnOrder","summary":"Return an order","description":"<span style=\"font-size: 1.3em\">Creates a return label, letting receivers easily send orders back to the original sender.</span>\n\nSenders can use this endpoint to prepare an order to be returned. Returns can only be placed for domestic orders. <!--If you want to quote a return order, simply [get a quote](ref:getquote) with the 'sender' and 'receiver' details exchanged, and with the first mile option `dropoff`.-->\n\nAfter creating the return order, you can [get a label](ref:getting-labels) using the URLs in the response. The sender can then include the return label in the parcel before it's shipped (because they aren't added to your invoice until they're used), or send the label file to the customer for them to print it out. If the receiver will be printing it, try to use A4/Letter sizes since most receivers don't have dedicated label printers.\n\nIf you want a convenient page receivers can read – which includes packaging directions – here are our [AU Returns](https://support.sendle.com/hc/en-au/articles/4416750997389-How-to-return-a-parcel) and [US Returns](https://support.sendle.com/hc/en-us/articles/4416750997389-How-to-return-a-package) articles. After attaching the return label to the parcel, the receiver will need to leave the parcel at a [valid drop off location](https://returns.sendle.com/).\n\n-----\n\nSince this is a `POST` request, the params need to be sent in the **body** of your request as a **JSON object**. Fill out some fields below and see how the data is sent in the request example box.\n\nIf you need more information on GET vs POST requests, the Mozilla MDN [has a nice summary](https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods).\n\n-----\n\nReturns are [idempotent by nature](ref:idempotent-endpoints) – sending a new return request will give you the details of the already-created return order. The customer reference and delivery instructions given on the first request will be used and can't be updated, so make sure they're right the first time.\n","tags":["Returns"],"security":[{"basicAuth":[]}],"parameters":[{"$ref":"#/components/parameters/OrderID"},{"$ref":"#/components/parameters/UserAgent"}],"requestBody":{"description":"JSON body for returning an order\n","content":{"application/json":{"schema":{"type":"object","properties":{"customer_reference":{"$ref":"#/components/schemas/Order/properties/customer_reference"},"delivery_instructions":{"$ref":"#/components/schemas/CourierInstructionsReceiver"}}}}},"required":true},"responses":{"200":{"description":"Successful response. This means an existing return label has been returned.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderWithoutBreakdownFields"},"example":{"order_id":"ea01ea73-d14a-4faf-b1cf-02cc4057231f","state":"Drop Off","order_url":"https://api.sendle.com/api/orders/ea01ea73-d14a-4faf-b1cf-02cc4057231f","sendle_reference":"S3ND73","tracking_url":"https://track.sendle.com/tracking?ref=S3ND73","metadata":{},"labels":[{"format":"pdf","size":"a4","url":"https://api.sendle.com/api/orders/ea01ea73-d14a-4faf-b1cf-02cc4057231f/labels/a4.pdf"},{"format":"pdf","size":"cropped","url":"https://api.sendle.com/api/orders/ea01ea73-d14a-4faf-b1cf-02cc4057231f/labels/cropped.pdf"}],"scheduling":{"is_cancellable":false,"pickup_date":null,"picked_up_on":null,"delivered_on":null,"estimated_delivery_date_minimum":null,"estimated_delivery_date_maximum":null,"status":null},"hide_pickup_address":false,"description":"Kryptonite","weight":{"value":"1","units":"kg"},"volume":{"value":"0.01","units":"m3"},"customer_reference":"Regards -Clark","sender":{"contact":{"name":"Clark Kent","phone":null,"email":"clarkissuper@dailyplanet.xyz","company":"Daily Planet"},"address":{"address_line1":"80 Wentworth Park Road","address_line2":null,"suburb":"Glebe","state_name":"NSW","postcode":"2037","country":"Australia"},"instructions":null},"receiver":{"contact":{"name":"Lex Luthor","phone":"0491 570 313","email":"lluthor@example.com","sendle_id":"sendleID","company":"LexCorp"},"address":{"address_line1":"123 Gotham Ln","address_line2":null,"suburb":"Sydney","state_name":"NSW","postcode":"2000","country":"Australia"},"instructions":"Hand to front desk"},"route":{"description":"Sydney to Sydney","type":"same-city"},"price":{"gross":{"amount":8.47,"currency":"AUD"},"net":{"amount":7.7,"currency":"AUD"},"tax":{"amount":0.77,"currency":"AUD"}},"packaging_type":"box"}}}},"201":{"description":"Successful response. This means a return label has been created.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderWithoutBreakdownFields"},"example":{"order_id":"ea01ea73-d14a-4faf-b1cf-02cc4057231f","state":"Drop Off","order_url":"https://api.sendle.com/api/orders/ea01ea73-d14a-4faf-b1cf-02cc4057231f","sendle_reference":"S3ND73","tracking_url":"https://track.sendle.com/tracking?ref=S3ND73","metadata":{},"labels":[{"format":"pdf","size":"a4","url":"https://api.sendle.com/api/orders/ea01ea73-d14a-4faf-b1cf-02cc4057231f/labels/a4.pdf"},{"format":"pdf","size":"cropped","url":"https://api.sendle.com/api/orders/ea01ea73-d14a-4faf-b1cf-02cc4057231f/labels/cropped.pdf"}],"scheduling":{"is_cancellable":false,"pickup_date":null,"picked_up_on":null,"delivered_on":null,"estimated_delivery_date_minimum":null,"estimated_delivery_date_maximum":null,"status":null},"hide_pickup_address":false,"description":"Kryptonite","weight":{"value":"1","units":"kg"},"volume":{"value":"0.01","units":"m3"},"customer_reference":"Regards -Clark","sender":{"contact":{"name":"Clark Kent","phone":null,"email":"clarkissuper@dailyplanet.xyz","company":"Daily Planet"},"address":{"address_line1":"80 Wentworth Park Road","address_line2":null,"suburb":"Glebe","state_name":"NSW","postcode":"2037","country":"Australia"},"instructions":null},"receiver":{"contact":{"name":"Lex Luthor","phone":"0491 570 313","email":"lluthor@example.com","sendle_id":"sendleID","company":"LexCorp"},"address":{"address_line1":"123 Gotham Ln","address_line2":null,"suburb":"Sydney","state_name":"NSW","postcode":"2000","country":"Australia"},"instructions":"Hand to front desk"},"route":{"description":"Sydney to Sydney","type":"same-city"},"price":{"gross":{"amount":8.47,"currency":"AUD"},"net":{"amount":7.7,"currency":"AUD"},"tax":{"amount":0.77,"currency":"AUD"}},"packaging_type":"box"}}}},"401":{"$ref":"#/components/responses/ErrorUnauthorised"},"404":{"$ref":"#/components/responses/ErrorNotFound"},"422":{"$ref":"#/components/responses/ErrorUnprocessableEntityReturn"},"500":{"$ref":"#/components/responses/ErrorInternal"},"503":{"$ref":"#/components/responses/ErrorNotAvailable"}}},"get":{"operationId":"viewReturnOrder","summary":"View a return order","description":"<span style=\"font-size: 1.3em\">Views the given return order, including the label URLs.</span>\n\nYou can [get a label](ref:getting-labels) using the URLs in this response. The sender can then include the return label in the parcel before it's shipped (because they aren't added to your invoice until they're used), or send the label file to the customer for them to print it out. If the receiver will be printing it, try to use A4/Letter sizes since most receivers don't have dedicated label printers.\n\nIf you want a convenient page receivers can read – which includes packaging directions – here are our [AU Returns](https://support.sendle.com/hc/en-au/articles/4416750997389-How-to-return-a-parcel) and [US Returns](https://support.sendle.com/hc/en-us/articles/4416750997389-How-to-return-a-package) articles. After attaching the return label to the parcel, the receiver will need to leave the parcel at a [valid drop off location](https://returns.sendle.com/).\n","tags":["Returns"],"security":[{"basicAuth":[]}],"parameters":[{"$ref":"#/components/parameters/OrderID"},{"$ref":"#/components/parameters/UserAgent"}],"responses":{"200":{"description":"Successful response.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderWithoutBreakdownFields"},"example":{"order_id":"ea01ea73-d14a-4faf-b1cf-02cc4057231f","state":"Drop Off","order_url":"https://api.sendle.com/api/orders/ea01ea73-d14a-4faf-b1cf-02cc4057231f","sendle_reference":"S3ND73","tracking_url":"https://track.sendle.com/tracking?ref=S3ND73","metadata":{},"labels":[{"format":"pdf","size":"a4","url":"https://api.sendle.com/api/orders/ea01ea73-d14a-4faf-b1cf-02cc4057231f/labels/a4.pdf"},{"format":"pdf","size":"cropped","url":"https://api.sendle.com/api/orders/ea01ea73-d14a-4faf-b1cf-02cc4057231f/labels/cropped.pdf"}],"scheduling":{"is_cancellable":false,"pickup_date":null,"picked_up_on":null,"delivered_on":null,"estimated_delivery_date_minimum":null,"estimated_delivery_date_maximum":null,"status":null},"hide_pickup_address":false,"description":"Kryptonite","weight":{"value":"1","units":"kg"},"volume":{"value":"0.01","units":"m3"},"customer_reference":"Regards -Clark","sender":{"contact":{"name":"Clark Kent","phone":null,"email":"clarkissuper@dailyplanet.xyz","company":"Daily Planet"},"address":{"address_line1":"80 Wentworth Park Road","address_line2":null,"suburb":"Glebe","state_name":"NSW","postcode":"2037","country":"Australia"},"instructions":null},"receiver":{"contact":{"name":"Lex Luthor","phone":"0491 570 313","email":"lluthor@example.com","sendle_id":"sendleID","company":"LexCorp"},"address":{"address_line1":"123 Gotham Ln","address_line2":null,"suburb":"Sydney","state_name":"NSW","postcode":"2000","country":"Australia"},"instructions":"Hand to front desk"},"route":{"description":"Sydney to Sydney","type":"same-city"},"price":{"gross":{"amount":8.47,"currency":"AUD"},"net":{"amount":7.7,"currency":"AUD"},"tax":{"amount":0.77,"currency":"AUD"}},"packaging_type":"box"}}}},"401":{"$ref":"#/components/responses/ErrorUnauthorised"},"404":{"$ref":"#/components/responses/ErrorNotFound"},"500":{"$ref":"#/components/responses/ErrorInternal"},"503":{"$ref":"#/components/responses/ErrorNotAvailable"}}}},"/api/manifests":{"post":{"operationId":"createShippingManifest","summary":"Create shipping manifest","description":"<span style=\"font-size: 1.3em\">Creates shipping manifest(s) for the given orders.</span>\n\nShipping manifests let a driver collect multiple parcels while scanning one barcode on US Domestic orders. Today we have one type of shipping manifest – [USPS SCAN Forms](https://faq.usps.com/s/article/Click-N-Ship-SCAN-Form).\n\n> 📘 Info\n>\n> Since this is a `POST` request, the params need to be sent in the **body** of your request as a **JSON object.** The mdn web docs have a [summary of HTTP request methods](https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods).\n\n-----\n\nKeep these in mind while generating shipping manifests:\n\n- Only orders with a USPS label can currently be included on shipping manifests.\n- Each order can only be included on a single shipping manifest.\n- Shipping manifests cannot be modified after being created.\n- More than one shipping manifest may be returned by this endpoint.\n- Each order must be created **the same day as the shipping manifest.** The pickup / drop-off date can be in the future, but the order must be **created** on the same day as the shipping manifest.\n\n> 👍 End-of-day manifesting\n>\n> Since shipping manifests can only be created for orders booked that day, encourage your senders to generate and print their manifests at the end of each day.\n\n> 🗒️ Multi-page shipping manifests\n>\n> A single shipping manifest may include more than one SCAN form. In this case, the PDF will have multiple pages.\n>\n> Note:\n>\n> - Print and include all pages when giving a shipping manifest to the driver or when dropping the parcels off.\n> - Ensure the driver scans each page of the shipping manifest.\n> - **All orders on a single shipping manifest must be collected at the same time.**\n\n-----\n\nIf an order has **already been manifested** a `422` response will be returned – this is why an [idempotency key](https://developers.sendle.com/reference/idempotency-keys) isn't needed for this endpoint.\n","tags":["Shipping manifests"],"security":[{"basicAuth":[]}],"parameters":[{"$ref":"#/components/parameters/UserAgent"}],"requestBody":{"description":"JSON body for creating a manifest\n","content":{"application/json":{"schema":{"type":"object","description":"Orders to include on the shipping manifest(s).\n","properties":{"order_ids":{"type":"array","items":{"$ref":"#/components/schemas/OrderID"}}},"required":["order_ids"]}}}},"responses":{"200":{"description":"Successful response\n","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Manifest"}},"examples":{"Single manifest":{"description":"Successful manifest creation with a single response.\n","value":[{"manifest_id":"2ace1794-4476-4301-954d-c9f2c4993869","manifest_ref":"M123ABC","created_date":"2023-01-01","order_count":10,"carrier":"USPS","status":"completed"}]},"Multiple manifests":{"description":"Successful manifest creation with multiple responses.\n","value":[{"manifest_id":"1aa1b807-e3d3-4390-aba6-415d85c5096d","manifest_ref":"M321CBA","created_date":"2023-01-01","order_count":8,"carrier":"USPS","status":"completed"},{"manifest_id":"2ace1794-4476-4301-954d-c9f2c4993869","manifest_ref":"M231BCA","created_date":"2023-01-01","order_count":106,"carrier":"USPS","status":"completed"},{"manifest_id":"e9a1693f-8284-4f85-a3ef-e4877b64d6a5","manifest_ref":"M123ABC","created_date":"2023-01-01","order_count":24,"carrier":"USPS","status":"completed"}]}}}}},"400":{"$ref":"#/components/responses/ErrorBadRequestManifests"},"401":{"$ref":"#/components/responses/ErrorUnauthorised"},"422":{"$ref":"#/components/responses/ErrorUnprocessableEntityShippingManifest"},"500":{"$ref":"#/components/responses/ErrorInternal"},"503":{"$ref":"#/components/responses/ErrorNotAvailable"}}},"get":{"operationId":"getShippingManifests","summary":"Get all shipping manifests","description":"<span style=\"font-size: 1.3em\">Returns all shipping manifests for your account.</span>\n\nShipping manifests let a driver collect multiple parcels while scanning one barcode on US Domestic orders. Today we have one type of shipping manifest – [USPS SCAN Forms](https://faq.usps.com/s/article/Click-N-Ship-SCAN-Form).\n\n-----\n\nThis endpoint returns all shipping manifests for your account, including ones created via the API and also the Sendle dashboard.\n","tags":["Shipping manifests"],"security":[{"basicAuth":[]}],"parameters":[{"$ref":"#/components/parameters/UserAgent"}],"responses":{"200":{"description":"Successful response\n","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Manifest"}},"example":[{"manifest_id":"2ace1794-4476-4301-954d-c9f2c4993869","manifest_ref":"M123ABC","created_date":"2023-01-01","order_count":10,"carrier":"USPS","status":"completed"}]}}},"400":{"$ref":"#/components/responses/ErrorBadRequestManifests"},"401":{"$ref":"#/components/responses/ErrorUnauthorised"},"500":{"$ref":"#/components/responses/ErrorInternal"},"503":{"$ref":"#/components/responses/ErrorNotAvailable"}}}},"/api/manifests/{id}/status":{"get":{"operationId":"getShippingManifestStatus","summary":"Get status of shipping manifest","description":"<span style=\"font-size: 1.3em\">Returns status of a shipping manifest.</span>\n\nShipping manifests let a driver collect multiple parcels while scanning one barcode on US Domestic orders. Today we have one type of shipping manifest – [USPS SCAN Forms](https://faq.usps.com/s/article/Click-N-Ship-SCAN-Form).\n\n-----\n\nThis endpoint returns the status and other metadata of the given shipping manifest.\n","tags":["Shipping manifests"],"security":[{"basicAuth":[]}],"parameters":[{"$ref":"#/components/parameters/ShippingManifestID"},{"$ref":"#/components/parameters/UserAgent"}],"responses":{"200":{"description":"Successful response\n","content":{"application/json":{"schema":{"type":"object","properties":{"manifest_id":{"type":"string"},"order_ids":{"type":"array","items":{"$ref":"#/components/schemas/OrderID"}}}},"example":{"manifest_id":"2ace1794-4476-4301-954d-c9f2c4993869","manifest_ref":"M123ABC","created_date":"2023-01-01","order_count":10,"carrier":"USPS","status":"completed"}}}},"400":{"$ref":"#/components/responses/ErrorBadRequestManifests"},"401":{"$ref":"#/components/responses/ErrorUnauthorised"},"422":{"$ref":"#/components/responses/ErrorUnprocessableEntityManifestNotFound"},"500":{"$ref":"#/components/responses/ErrorInternal"},"503":{"$ref":"#/components/responses/ErrorNotAvailable"}}}},"/api/manifests/{id}/orders":{"get":{"operationId":"getShippingManifestOrders","summary":"Get orders on shipping manifest","description":"<span style=\"font-size: 1.3em\">Returns all orders on a shipping manifest.</span>\n\nShipping manifests let a driver collect multiple parcels while scanning one barcode on US Domestic orders. Today we have one type of shipping manifest – [USPS SCAN Forms](https://faq.usps.com/s/article/Click-N-Ship-SCAN-Form).\n\n-----\n\nThis endpoint returns all orders that are on the given shipping manifest.\n","tags":["Shipping manifests"],"security":[{"basicAuth":[]}],"parameters":[{"$ref":"#/components/parameters/ShippingManifestID"},{"$ref":"#/components/parameters/UserAgent"}],"responses":{"200":{"description":"Successful response\n","content":{"application/json":{"schema":{"type":"object","properties":{"manifest_id":{"type":"string"},"order_ids":{"type":"array","items":{"$ref":"#/components/schemas/OrderID"}}}},"example":{"manifest_id":"2ace1794-4476-4301-954d-c9f2c4993869","order_ids":["b3ffd6c4-4362-4dd6-84cf-02e502b303b7"]}}}},"400":{"$ref":"#/components/responses/ErrorBadRequestManifests"},"401":{"$ref":"#/components/responses/ErrorUnauthorised"},"422":{"$ref":"#/components/responses/ErrorUnprocessableEntityManifestNotFound"},"500":{"$ref":"#/components/responses/ErrorInternal"},"503":{"$ref":"#/components/responses/ErrorNotAvailable"}}}},"/api/manifests/{id}/download":{"get":{"operationId":"downloadShippingManifest","summary":"Download shipping manifest","description":"<span style=\"font-size: 1.3em\">Returns the printable shipping manifest.</span>\n\nShipping manifests let a driver collect multiple parcels while scanning one barcode on US Domestic orders. Today we have one type of shipping manifest – [USPS SCAN Forms](https://faq.usps.com/s/article/Click-N-Ship-SCAN-Form).\n\n-----\n\nThis endpoint returns a PDF of the given shipping manifest, which can be printed.\n","tags":["Shipping manifests"],"security":[{"basicAuth":[]}],"parameters":[{"$ref":"#/components/parameters/ShippingManifestID"},{"$ref":"#/components/parameters/UserAgent"}],"responses":{"200":{"description":"The printable shipping manifest.\n","content":{"application/pdf":{"schema":{"type":"string","format":"binary"}}}},"400":{"$ref":"#/components/responses/ErrorBadRequestManifests"},"401":{"$ref":"#/components/responses/ErrorUnauthorised"},"422":{"$ref":"#/components/responses/ErrorUnprocessableEntityManifestDownload"},"500":{"$ref":"#/components/responses/ErrorInternal"},"503":{"$ref":"#/components/responses/ErrorNotAvailable"}}}},"/api/tracking/{ref}":{"get":{"operationId":"trackParcel","summary":"Track a Parcel","description":"<span style=\"font-size: 1.3em\">Returns tracking details for the given parcel, including when different events happened to it.</span>\n\nThis endpoint doesn't contain precise personal location information, but can contain the city where events happen and some names (e.g. 'Parcel was signed for by JIMMY'). To get the public tracking URL that can be shared with the receiver, see the `tracking_url` key in the response from the [create](ref:createorder) or [view an order](ref:vieworder) endpoints.\n\nNote: The Sendle API does not currently expose webhooks, and this endpoint is the only way to retrieve tracking information. For updates, keep an eye on [our Changelog](https://developers.sendle.com/changelog)!\n\n-----\n\nWe recommend getting new tracking information for each parcel once per hour.\n\nYou should limit your requests to this endpoint to 10 per second per unique IP. If you need a higher limit, reach out [to our team](mailto:api@sendle.com).\n\n-----\n\nHere's most of our tracking events and what they mean:\n\n| Tracking Event | Description |\n| :-: | --- |\n| **Pickup Attempted**| Driver attempted to pickup the parcel. |\n| **Pickup** | Parcel successfully picked up. |\n| **Drop Off** | Parcel has not yet been dropped off. |\n| **Dropped Off** | Parcel left at a drop-off location. |\n| | |\n| **Info** | Information about the parcel. This can come from us or the delivery partner. |\n| **In Transit** | Parcel in transit between hub locations. |\n| | |\n| **Out for Delivery** | Driver has the parcel and is taking it to be delivered. |\n| **Delivery Attempted** | Parcel delivery attempted, but unsuccessful. |\n| **Delivered** | Parcel successfully delivered. |\n| **Local Delivery** | Delivery is being handled by a local partner (e.g. a local postal service or similar). |\n| **Card Left** | Parcel delivery attempted and a card has been left for the receiver to arrange collection or re-delivery. |\n| **Left with Agent** | Parcel has been left with a parcel connect location, POPStation, or similar for collection. |\n| | |\n| **Damaged** | Parcel has been marked as damaged. |\n| **Unable to Deliver** | Parcel could not be delivered. |\n| **Expired** | The label for this parcel has expired. |\n\nIf you receive an event type not on this list, look at the `description` of the event for more information.\n","tags":["Tracking"],"parameters":[{"$ref":"#/components/parameters/SendleReference"},{"$ref":"#/components/parameters/UserAgent"}],"responses":{"200":{"description":"Successful response.\n","content":{"application/json":{"schema":{"type":"object","properties":{"state":{"$ref":"#/components/schemas/Order/properties/state"},"tracking_events":{"$ref":"#/components/schemas/TrackingEvents"},"origin":{"description":"Where the parcel's being sent from.\n","type":"object","properties":{"country":{"$ref":"#/components/schemas/Address/properties/CountryCode","description":"[ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code. For example, `AU` for Australia, `CA` for Canada, and `US` for United States. This may be omitted if there is no origin/destination recorded yet.\n"}}},"destination":{"description":"Where the parcel's going.\n","type":"object","properties":{"country":{"$ref":"#/components/schemas/Address/properties/CountryCode","description":"[ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code. For example, `AU` for Australia, `CA` for Canada, and `US` for United States. This may be omitted if there is no origin/destination recorded yet.\n"}}},"scheduling":{"$ref":"#/components/schemas/Order/properties/scheduling"}}},"examples":{"LocalScanTime":{"description":"Local and display time on events.\n","value":{"state":"Delivered","status":{"description":"Parcel delivered","last_changed_at":"2023-04-04 04:25:00 UTC"},"origin":{"country":"AU"},"destination":{"country":"AU"},"scheduling":{"pickup_date":null,"picked_up_on":"2023-04-04","delivered_on":"2023-04-04","estimated_delivery_date_minimum":null,"estimated_delivery_date_maximum":null,"status":null},"tracking_events":[{"event_type":"Pickup","scan_time":"2023-04-04T01:04:00Z","description":"Parcel picked up","location":"Sydney, NSW","location_data":{"postcode":null,"state":"NSW","suburb":"Sydney","country":"Australia"},"local_scan_time":"2023-04-04T11:04:00","display_time":"2023-04-04T11:04:00+10:00"},{"event_type":"Out for Delivery","scan_time":"2023-04-04T03:23:00Z","description":"Parcel onboard courier vehicle for delivery","location_data":{},"local_scan_time":"2023-04-04T13:23:00","display_time":"2023-04-04T13:23:00+10:00"},{"event_type":"Delivered","scan_time":"2023-04-04T04:25:00Z","description":"Parcel delivered","local_scan_time":"2023-04-04T14:25:00","location_data":{},"display_time":"2023-04-04T14:25:00+10:00"}]}},"Pickup":{"description":"Pickup tracking events.\n","value":{"state":"Delivered","status":{"description":"Your package has been delivered to your mailbox!","last_changed_at":"2023-04-05 18:56:00 UTC"},"origin":{"country":"US"},"destination":{"country":"US"},"scheduling":{"pickup_date":null,"picked_up_on":"2023-04-04","delivered_on":"2023-04-05","estimated_delivery_date_minimum":null,"estimated_delivery_date_maximum":null,"status":null},"tracking_events":[{"event_type":"Pickup Attempted","scan_time":"2023-04-03T08:20:00Z","description":"We attempted to pick up the parcel but were unsuccessful","location_data":{},"reason":"Parcel not ready","display_time":"2023-04-03T08:20:00Z"},{"event_type":"Pickup","scan_time":"2023-04-04T16:12:00Z","description":"Parcel picked up","display_time":"2023-04-04T16:12:00Z","location_data":{}},{"event_type":"In Transit","scan_time":"2023-04-04T20:55:00Z","description":"Your package is in transit with the carrier.","location":"TEANECK, NJ","location_data":{"suburb":"TEANECK","state":"NJ","postcode":"07605","country":"US"},"local_scan_time":"2023-04-04T16:55:00","display_time":"2023-04-04T16:55:00-04:00"},{"event_type":"In Transit","scan_time":"2023-04-04T22:43:00Z","description":"Your package is in transit with the carrier.","location":"JERSEY CITY NJ NETWORK DISTRIBUTION CENTER","location_data":{"suburb":"JERSEY CITY","state":"NJ","postcode":"07605","country":"US"},"local_scan_time":"2023-04-04T22:43:00","display_time":"2023-04-04T22:43:00Z"},{"event_type":"In Transit","scan_time":"2023-04-05T03:14:00Z","description":"Your package is in transit with the carrier.","location":"NEW YORK NY DISTRIBUTION CENTER","location_data":{"suburb":"TEANECK","state":"NJ","postcode":"07030","country":"US"},"local_scan_time":"2023-04-05T03:14:00","display_time":"2023-04-05T03:14:00Z"},{"event_type":"In Transit","scan_time":"2023-04-05T12:04:00Z","description":"Your package is in transit with the carrier.","location":"NEW YORK, NY","location_data":{"suburb":"NEW YORK","state":"NY","postcode":null,"country":"US"},"local_scan_time":"2023-04-05T08:04:00","display_time":"2023-04-05T08:04:00-04:00"},{"event_type":"In Transit","scan_time":"2023-04-05T12:59:00Z","description":"Your package is in transit with the carrier.","location":"NEW YORK, NY","location_data":{"suburb":"NEW YORK","state":"NY","postcode":null,"country":"US"},"local_scan_time":"2023-04-05T08:59:00","display_time":"2023-04-05T08:59:00-04:00"},{"event_type":"Out for Delivery","scan_time":"2023-04-05T13:10:00Z","description":"Your package is on board for delivery!","location":"NEW YORK, NY","location_data":{"suburb":"NEW YORK","state":"NY","postcode":null,"country":"US"},"local_scan_time":"2023-04-05T09:10:00","display_time":"2023-04-05T09:10:00-04:00"},{"event_type":"Delivered","scan_time":"2023-04-05T18:56:00Z","description":"Your package has been delivered to your mailbox!","location":"NEW YORK, NY","location_data":{"suburb":"NEW YORK","state":"NY","postcode":"10002","country":"US"},"local_scan_time":"2023-04-05T14:56:00","display_time":"2023-04-05T14:56:00-04:00"}]}}}}}},"404":{"$ref":"#/components/responses/ErrorNotFound"},"429":{"$ref":"#/components/responses/ErrorTooManyRequests"},"500":{"$ref":"#/components/responses/ErrorInternal"},"503":{"$ref":"#/components/responses/ErrorNotAvailable"}}}}},"components":{"schemas":{"Address":{"type":"object","properties":{"Line1":{"description":"The street address for the location. **Do not** include the postcode, state, or suburb in this field. Best practice is to keep this under 40 chars due to label size limitations.\n\nAddresses can be split over two lines. Only this line is mandatory, and will be shown above `address_line2` on the shipping label.\n","type":"string","maxLength":255},"Line2":{"description":"Second line of the street address for the location. Best practice is to keep this under 40 chars due to label size limitations.\n","type":"string","maxLength":255,"nullable":true},"Suburb":{"description":"Suburb or town of the location. This is **required** and must be given. In certain regions the name here is validated against the postcode, so must be valid and match.\n\nIf we cannot service the area, the response will be a validation error stating it's not serviceable. If you receive an unserviceable error, you may want to check whether the location is also listed under a different name.\n","type":"string"},"Postcode":{"description":"Postcode, postal code, or ZIP code of the location. For locations in Australia and the U.S. this is a four or five digit string. In Canada it's the six character postal code.\n\nIf we cannot service the area, the response will be a validation error stating it's not serviceable.\n","type":"string"},"StateName":{"description":"State, province, or territory of the location.\n\nFor Australia these are: ACT, NSW, NT, QLD, SA, TAS, VIC, WA, with the long-form (i.e. \"Northern Territory\") also accepted. For Canada these are province/territory 2 letter representations such as ON and AB. For United States these are the state's 2 letter representation such as CA and NY.\n","type":"string"},"CountryCode":{"description":"[ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#Officially_assigned_code_elements) country code. For example, `AU`, `CA`, or `US`.\n","type":"string"}}},"AddressSenderDomestic":{"type":"object","properties":{"address_line1":{"$ref":"#/components/schemas/Address/properties/Line1"},"address_line2":{"$ref":"#/components/schemas/Address/properties/Line2"},"suburb":{"$ref":"#/components/schemas/Address/properties/Suburb"},"postcode":{"$ref":"#/components/schemas/Address/properties/Postcode"},"state_name":{"$ref":"#/components/schemas/Address/properties/StateName"},"country":{"description":"The country this order is being sent from. If not given, Sendle assumes orders are originating from Australia.\n\nThis can be either the [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#Officially_assigned_code_elements) country code or country name. Country names can vary between different systems, so **ISO country codes should be used where possible**.\n","type":"string","maxLength":255,"enum":["AU","CA","US"],"default":"AU"}},"required":["address_line1","suburb","postcode","state_name"]},"AddressSenderInternational":{"type":"object","properties":{"address_line1":{"$ref":"#/components/schemas/Address/properties/Line1"},"address_line2":{"$ref":"#/components/schemas/Address/properties/Line2"},"suburb":{"$ref":"#/components/schemas/Address/properties/Suburb"},"postcode":{"$ref":"#/components/schemas/Address/properties/Postcode"},"state_name":{"$ref":"#/components/schemas/Address/properties/StateName"},"country":{"description":"The country this order is being sent from.\n\nThis can be either the [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#Officially_assigned_code_elements) country code or country name. Country names can vary between different systems, so **ISO country codes should be used where possible**.\n","type":"string","maxLength":255,"enum":["AU","CA","US"],"default":"AU"}},"required":["address_line1","suburb","postcode","state_name"]},"AddressReceiver":{"type":"object","properties":{"address_line1":{"$ref":"#/components/schemas/Address/properties/Line1"},"address_line2":{"$ref":"#/components/schemas/Address/properties/Line2"},"suburb":{"$ref":"#/components/schemas/Address/properties/Suburb"},"postcode":{"$ref":"#/components/schemas/Address/properties/Postcode"},"state_name":{"$ref":"#/components/schemas/Address/properties/StateName"},"country":{"description":"Country for the recipient. If not given, Sendle assumes orders are in Australia.\n\nThis can be either the [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#Officially_assigned_code_elements) country code or country name. Country names can vary between different systems, so **ISO country codes should be used where possible**.\n","type":"string","maxLength":255,"default":"AU"}},"required":["address_line1","suburb","postcode","state_name"]},"AllowedPackaging":{"description":"The allowed packaging for the product.\n","oneOf":[{"type":"string","enum":["any"],"description":"No packaging restrictions apply."},{"$ref":"#/components/schemas/Physical/properties/PackagingType"}]},"Contact":{"type":"object","properties":{"Name":{"description":"Name.\n","type":"string","maxLength":255},"Email":{"description":"Email address.\n","type":"string"},"Phone":{"description":"A valid local phone number **including area code** or a fully qualified international number.\n\nExamples: `(02) 1234 1234`, `+1 519 123 1234`, `+61 (0)4 1234 1234`, `(321) 555-1234`.\n","type":"string","nullable":true},"Company":{"description":"Business name. This helps the driver successfully collect and deliver the parcel.\n","type":"string","nullable":true}}},"ContactSenderDomestic":{"type":"object","properties":{"name":{"$ref":"#/components/schemas/Contact/properties/Name","description":"The sender's name.\n"},"email":{"$ref":"#/components/schemas/Contact/properties/Email","description":"Email address for the sender. This can **only be given when sending with a supported reseller account** and is ignored otherwise.\n"},"phone":{"$ref":"#/components/schemas/Contact/properties/Phone","description":"A valid local phone number **including area code** or a fully qualified international number. Drivers can use this to coordinate pickup with the sender.\n\nExamples: `(02) 1234 1234`, `+1 519 123 1234`, `+61 (0)4 1234 1234`, `(321) 555-1234`.\n"},"company":{"$ref":"#/components/schemas/Contact/properties/Company"}},"required":["name"]},"ContactSenderInternational":{"type":"object","properties":{"name":{"$ref":"#/components/schemas/Contact/properties/Name","description":"The sender's name. This **can't be a URL on international orders** because of shipping restrictions.\n"},"email":{"$ref":"#/components/schemas/Contact/properties/Email","description":"Email address for the sender. This can **only be given when sending with a supported reseller account** and is ignored otherwise.\n"},"phone":{"$ref":"#/components/schemas/Contact/properties/Phone","description":"A valid local phone number **including area code** or a fully qualified international number. Drivers can use this to coordinate pickup with the sender.\n\nExamples: `(02) 1234 1234`, `+1 519 123 1234`, `+61 (0)4 1234 1234`, `(321) 555-1234`.\n"},"company":{"$ref":"#/components/schemas/Contact/properties/Company"}},"required":["name"]},"ContactReceiver":{"type":"object","properties":{"name":{"$ref":"#/components/schemas/Contact/properties/Name","description":"The receiver's name.\n"},"email":{"$ref":"#/components/schemas/Contact/properties/Email","description":"The receiver's email address. Sendle uses this to give the receipient parcel updates.\n"},"phone":{"$ref":"#/components/schemas/Contact/properties/Phone","description":"A valid local phone number **including area code** or a fully qualified international number. Drivers can use this to coordinate delivery with the receiver.\n\nExamples: `(02) 1234 1234`, `+1 519 123 1234`, `+61 (0)4 1234 1234`, `(321) 555-1234`.\n"},"company":{"$ref":"#/components/schemas/Contact/properties/Company"}},"required":["name"]},"Cost":{"type":"object","properties":{"amount":{"type":"number"},"currency":{"description":"Currency of the above amount. For example, `AUD` for Australian Dollars, `CAD` for Canadian Dollars, and `USD` for United States Dollars.\n","type":"string"}}},"CoverResponse":{"description":"Explains the cover and associated costs applicable to the order\n","type":"object","properties":{"price":{"description":"Explain the cover costs applicable to the order.\n","type":"object","properties":{"gross":{"description":"Total price of any cover including taxes.\n","$ref":"#/components/schemas/Cost"},"net":{"description":"The cost of any [cover / extra cover](https://try.sendle.com/en-au/cover).\n","$ref":"#/components/schemas/Cost"},"tax":{"description":"Tax that applies to any cover net price.\n","$ref":"#/components/schemas/Cost"}}},"total_cover":{"description":"Total cover for the parcel.\n","$ref":"#/components/schemas/Cost"}}},"CourierInstructionsSender":{"description":"Short message with pickup instructions for the driver. Should be under 40 chars due to label size limitations.\n","type":"string","maxLength":200},"CourierInstructionsSenderNullable":{"description":"Short message with pickup instructions for the driver. Should be under 40 chars due to label size limitations.\n","type":"string","maxLength":200,"nullable":true},"CourierInstructionsReceiver":{"description":"Short message with delivery instructions for the driver. Should be under 40 chars due to label size limitations.\n\nNote: Satchels are ATL only, but can include delivery instructions.\n","type":"string","maxLength":200},"Cover":{"description":"Only available for Australian domestic and international orders.\n","type":"object","properties":{"total_cover":{"type":"object","properties":{"amount":{"type":"number"}}}}},"DecimalString":{"type":"string","pattern":"^[0-9]*\\.?[0-9]+$"},"TotalCoverAmount":{"type":"#/components/schemas/DecimalString","description":"The decimal string value detailing the amount of cover for the parcel.\n"},"FirstMileOption":{"description":"Whether the parcel will be picked up or dropped off. This parameter is **deprecated** in favour of using the [Get Products endpoint](ref:getproducts) and selecting a matching [Product Code](https://developers.sendle.com/v99.94/changelog/api-products-endpoint).\n\nYou **should give this** if the product code isn't provided. If not specified this will default to `pickup`.\n","type":"string","deprecated":true,"enum":["pickup","drop off"]},"HidePickupAddress":{"description":"Only used on orders sent within or from Australia. Tells us whether to leave the street address of the sender off the label. If not given, the account preferences are respected.\n","type":"boolean"},"Manifest":{"type":"object","properties":{"manifest_id":{"description":"UUID ID for manifest\n","type":"string"},"manifest_ref":{"description":"String reference identifying manifest, prefixed with M\n","type":"string"},"created_date":{"description":"Date manifest created\n","type":"string"},"order_count":{"description":"Number of orders on manifest\n","type":"integer"},"carrier":{"description":"Always USPS\n","type":"string"},"status":{"description":"Current status of manifest. Once completed it will be available to download\n","type":"string","enum":["processing","completed","failed"]}}},"NullableDate":{"type":"string","format":"date","nullable":true},"Order":{"type":"object","properties":{"sendle_reference":{"$ref":"#/components/schemas/SendleReference"},"tracking_url":{"description":"The order's **public** tracking page. Tracking page updates as the parcel progresses from sender to receiver. This **can be shared and viewed without a Sendle Account** and **contains no personal information** about either party.\n","type":"string"},"order_id":{"$ref":"#/components/schemas/OrderID"},"order_url":{"description":"Specific API url for this order. After booking, this url becomes the point to check for updated information (state changes), labels and any other information related to the order.\n","type":"string"},"state":{"description":"The [current state of the order](ref:order-states).\n","type":"string"},"status":{"description":"This contains extra information about the order state. Only included when an order is viewed, not in the order creation response.\n","type":"object","properties":{"description":{"description":"User-readable description of the order's current state.\n","type":"string"},"last_changed_at":{"description":"Date the order changed to the current state, e.g. `2021-09-24`.\n","type":"string","format":"date"}}},"labels":{"description":"Shipping labels for the order. QR code labels will only be returned for eligible Australian drop off orders. See the [getting labels](ref:getting-labels) page for information on how to use these URLs.\n","type":"array","items":{"description":"Shipping label for the order.\n","type":"object","properties":{"format":{"description":"Format of the label. We currently provide QR code labels in `png` format and other labels as `pdf`.\n","type":"string"},"size":{"description":"Size of the label. Label size will either be `cropped` or `a4`/`letter` depending on the country the parcel's being sent from. QR codes are only available in the `cropped' size.\n","type":"string"},"url":{"description":"URL to receive the label with. This will redirect you to a file in the specified format that can be freely accessed for one minute.\n"}}}},"sender":{"type":"object","properties":{"contact":{"type":"object","properties":{"name":{"$ref":"#/components/schemas/Contact/properties/Name","description":"The sender's name.\n"},"email":{"$ref":"#/components/schemas/Contact/properties/Email","description":"The sender's email address.\n"},"phone":{"$ref":"#/components/schemas/Contact/properties/Phone","description":"The sender's phone number.\n"},"company":{"$ref":"#/components/schemas/Contact/properties/Company","description":"The sender's business name.\n"}},"required":["name"]},"address":{"type":"object","properties":{"address_line1":{"$ref":"#/components/schemas/Address/properties/Line1","description":"The street address for the location. This line will be shown above `address_line2` on the shipping label.\n"},"address_line2":{"$ref":"#/components/schemas/Address/properties/Line2","description":"Second line of the street address for the location.\n"},"suburb":{"$ref":"#/components/schemas/Address/properties/Suburb","description":"Suburb or town of the location.\n"},"postcode":{"$ref":"#/components/schemas/Address/properties/Postcode","description":"Postcode, postal code, or ZIP code of the location.\n"},"state_name":{"$ref":"#/components/schemas/Address/properties/StateName","description":"State, province, or territory this order is sent from.\n"},"country":{"description":"Country that this order is sent from.\n","type":"string","maxLength":255}},"required":["address_line1","suburb","postcode","state_name"]},"instructions":{"$ref":"#/components/schemas/CourierInstructionsSenderNullable"},"tax_ids":{"$ref":"#/components/schemas/TaxIDs"}},"required":["contact","address"]},"receiver":{"type":"object","properties":{"contact":{"type":"object","properties":{"name":{"$ref":"#/components/schemas/Contact/properties/Name","description":"The receiver's name.\n"},"email":{"description":"The receiver's email address. Sendle uses this to give the receipient parcel updates.\n"},"phone":{"$ref":"#/components/schemas/Contact/properties/Phone","description":"The receiver's phone number.\n"},"company":{"$ref":"#/components/schemas/Contact/properties/Company","description":"The receiver's business name.\n"}},"required":["name"]},"address":{"type":"object","properties":{"address_line1":{"$ref":"#/components/schemas/Address/properties/Line1","description":"The street address for the location. This line will be shown above `address_line2` on the shipping label.\n"},"address_line2":{"$ref":"#/components/schemas/Address/properties/Line2","description":"Second line of the street address for the location.\n"},"suburb":{"$ref":"#/components/schemas/Address/properties/Suburb","description":"Suburb or town of the location.\n"},"postcode":{"$ref":"#/components/schemas/Address/properties/Postcode","description":"Postcode, postal code, or ZIP code of the location.\n"},"state_name":{"$ref":"#/components/schemas/Address/properties/StateName","description":"State, province or territory this order is sent to.\n"},"country":{"description":"Country that this order is being sent to.\n","type":"string","maxLength":255}},"required":["address_line1","suburb","postcode","state_name"]},"instructions":{"$ref":"#/components/schemas/CourierInstructionsReceiver"}},"required":["contact","address","instructions"]},"description":{"description":"Gives the receiver information about the parcel in tracking emails and on their Sendle dashboard. This should be human readable and meaningful (e.g. \"Cat Socks Order #143\", not just \"#143\").\n\n**This does not show up on the label.**\n","type":"string","maxLength":255},"customer_reference":{"description":"Extra information that **will appear on the label**. This can be used for pick and pack purposes, to help with parcel identification, or anything else the sender needs.\n","type":"string","maxLength":255},"weight":{"description":"The weight of the package.\n","type":"object","properties":{"value":{"$ref":"#/components/schemas/Physical/properties/WeightValue"},"units":{"$ref":"#/components/schemas/Physical/properties/WeightUnit"}},"required":["value","units"]},"volume":{"description":"The volume of the package.\n","type":"object","properties":{"value":{"$ref":"#/components/schemas/Physical/properties/VolumeValue"},"units":{"$ref":"#/components/schemas/Physical/properties/VolumeUnit"}},"deprecated":true},"dimensions":{"description":"The order's dimensions. Only returned if dimensions are provided during [order creation](ref:createorder).\n","type":"object","properties":{"units":{"$ref":"#/components/schemas/Physical/properties/DimensionUnit"},"length":{"$ref":"#/components/schemas/Physical/properties/LengthValue"},"width":{"$ref":"#/components/schemas/Physical/properties/WidthValue"},"height":{"$ref":"#/components/schemas/Physical/properties/HeightValue"}}},"metadata":{"description":"Up to 1MB of JSON key/value pairs stored with this order.\n","type":"object"},"hide_pickup_address":{"description":"Whether the sender's address is hidden on the label. **<span style=\"color: #dd1e2e\">Only available for AU senders</span>**\n"},"scheduling":{"description":"Information regarding the order's pickup date and shipping.\n","type":"object","properties":{"is_cancellable":{"description":"Whether an order can be [cancelled](ref:cancelorder).","type":"boolean"},"pickup_date":{"$ref":"#/components/schemas/NullableDate","description":"This is the date the driver should pick up the order. May be `null` depending on the order status or for drop off orders.\n"},"picked_up_on":{"$ref":"#/components/schemas/NullableDate","description":"This is the date the order was collected. May be `null` depending on the order status.\n"},"delivered_on":{"$ref":"#/components/schemas/NullableDate","description":"This is the date the order was delivered. May be `null` depending on the order status.\n"},"estimated_delivery_date_minimum":{"$ref":"#/components/schemas/NullableDate","description":"The earliest parcel delivery date we estimate. May be `null` depending on the order status. **<span style=\"color: #dd1e2e\">domestic only</span>**\n"},"estimated_delivery_date_maximum":{"$ref":"#/components/schemas/NullableDate","description":"The latest date parcel delivery date we estimate. May be `null` depending on the order status. **<span style=\"color: #dd1e2e\">domestic only</span>**\n"}}},"route":{"description":"Information about the route.","type":"object","properties":{"description":{"description":"A human readable description of the route.","type":"string"},"type":{"description":"A machine readable version of the route type. Can be one of: `same-city`, `national`, `remote`, or `export`.\n","type":"string","enum":["same-city","national","remote","export"]},"delivery_guarantee_status":{"description":"Whether this parcel is covered by our [2-Day Delivery Guarantee](https://support.sendle.com/hc/en-au/articles/360002361031-Sendle-s-2-Day-Delivery-Guarantee). Only present if the account has been enrolled in this programme.\n\nThis is either `eligible` or `ineligible`.\n","type":"string","enum":["eligible","ineligible"]}}},"price":{"description":"The amount charged.\n","type":"object","properties":{"gross":{"description":"Total price including taxes.\n","$ref":"#/components/schemas/Cost"},"net":{"description":"Total price excluding taxes.\n","$ref":"#/components/schemas/Cost"},"tax":{"description":"Any applicable taxes.\n","$ref":"#/components/schemas/Cost"}}},"price_breakdown":{"description":"Explains the components of the price. Elements underneath refer to different line items. These items summed equal the gross price.\n","type":"object","properties":{"base":{"description":"The base price for this route.\n","$ref":"#/components/schemas/Cost"},"discount":{"description":"Any discounts that are applied.\n","$ref":"#/components/schemas/Cost"},"cover":{"description":"The cost of any [cover / extra cover](https://try.sendle.com/en-au/cover).\n","$ref":"#/components/schemas/Cost"},"fuel_surcharge":{"description":"Any fuel surcharge that is applied.\n","$ref":"#/components/schemas/Cost"},"base_tax":{"description":"Tax that applies to the base price.\n","$ref":"#/components/schemas/Cost"},"discount_tax":{"description":"Tax that applies to any discounts.\n","$ref":"#/components/schemas/Cost"},"cover_tax":{"description":"Tax that applies to any cover price.\n","$ref":"#/components/schemas/Cost"},"fuel_surcharge_tax":{"description":"Tax that applies to the fuel surcharge.\n","$ref":"#/components/schemas/Cost"},"service":{"description":"Any service cost that is applied.\n","$ref":"#/components/schemas/Cost"}}},"tax_breakdown":{"description":"Explains the taxes applicable to the price.\n","type":"object","properties":{"gst":{"description":"[Australian Goods and Services Tax](https://www.ato.gov.au/business/gst/) or [Canadian Goods and Services Tax](https://www.canada.ca/en/revenue-agency/services/forms-publications/publications/rc4027/doing-business-canada-gst-hst-information-non-residents.html#what_is) (depending on the order's origin).\n","$ref":"#/components/schemas/Tax"},"hst":{"description":"[Canadian Harmonized Sales Tax](https://www.canada.ca/en/revenue-agency/services/forms-publications/publications/rc4027/doing-business-canada-gst-hst-information-non-residents.html#what_is).\n","$ref":"#/components/schemas/Tax"},"qst":{"description":"[Québec Sales Tax](https://www.revenuquebec.ca/en/businesses/consumption-taxes/gsthst-and-qst/).\n","$ref":"#/components/schemas/Tax"}}},"cover":{"$ref":"#/components/schemas/CoverResponse"},"parcel_contents":{"description":"List of the parcel's contents for customs purposes. One entry for each item in the parcel.\n\nThis is only returned for international orders.\n","type":"array","items":{"description":"One item in the parcel.\n","type":"object","properties":{"description":{"description":"Detailed description of the contents **<span style=\"color: #dd1e2e\">for customs purposes.</span>** For example, \"Womens Shirt 100% Cotton\" or \"Tin Scale Model\".\n\nBe descriptive about **what the item is,** but **try not to describe designs on the item.** For example, descriptions like \"butterfly t-shirt\" or \"butterfly figurine\" can delay customs processing because 'butterfly' is an animal.\n","type":"string","minLength":3,"maxLength":300},"value":{"$ref":"#/components/schemas/DecimalString","description":"The value of one of these items. For example, if shipping twenty $1 items, the value would be `1` and the quantity would be `20`. Must be a decimal value greater than or equal to 0.01\n"},"quantity":{"description":"How many of this item are in the parcel?\n","type":"integer","default":1},"country_of_origin":{"description":"The country where the goods were manufactured.\n\nThis can be either the [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#Officially_assigned_code_elements) country code or country name. Country names can vary between different systems, so **ISO country codes should be used where possible**.\n","type":"string"},"hs_code":{"description":"A [Harmonized System](https://en.wikipedia.org/wiki/Harmonized_System) code for this item, appropriate for the destination country. Single HS tarrif code only. Must contain 6–10 digits with separating dots.\n","type":"string","pattern":"[0-9]{4}\\.[0-9]{2}(?:\\.[0-9]{1,4})?"}},"required":["description","value","country_of_origin","hs_code"]}},"contents_type":{"description":"Contents type of the shipment.\n","type":"string","enum":["Documents","Gift","Merchandise","Returned Goods","Sample","Other"]},"product":{"$ref":"#/components/schemas/Product"},"packaging_type":{"$ref":"#/components/schemas/Physical/properties/PackagingType"},"expires_at":{"description":"Date and time of when the label will expire **in UTC**. Timestamp format is [described in RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339#section-5.8).\n","type":"string"}}},"OrderID":{"description":"The order's unique identifier (UUID) in Sendle's system. This value is used by the API.\n","type":"string","format":"uuid"},"OrderWithoutBreakdownFields":{"type":"object","properties":{"sendle_reference":{"$ref":"#/components/schemas/SendleReference"},"tracking_url":{"$ref":"#/components/schemas/Order/properties/tracking_url"},"order_id":{"$ref":"#/components/schemas/OrderID"},"order_url":{"$ref":"#/components/schemas/Order/properties/order_url"},"state":{"$ref":"#/components/schemas/Order/properties/state"},"status":{"$ref":"#/components/schemas/Order/properties/status"},"labels":{"$ref":"#/components/schemas/Order/properties/labels"},"sender":{"$ref":"#/components/schemas/Order/properties/sender"},"receiver":{"$ref":"#/components/schemas/Order/properties/receiver"},"description":{"$ref":"#/components/schemas/Order/properties/description"},"customer_reference":{"$ref":"#/components/schemas/Order/properties/customer_reference"},"weight":{"$ref":"#/components/schemas/Order/properties/weight"},"volume":{"$ref":"#/components/schemas/Order/properties/volume"},"dimensions":{"$ref":"#/components/schemas/Order/properties/dimensions"},"metadata":{"$ref":"#/components/schemas/Order/properties/metadata"},"hide_pickup_address":{"$ref":"#/components/schemas/Order/properties/hide_pickup_address"},"scheduling":{"$ref":"#/components/schemas/Order/properties/scheduling"},"route":{"$ref":"#/components/schemas/Order/properties/route"},"price":{"$ref":"#/components/schemas/Order/properties/price"},"product":{"$ref":"#/components/schemas/Product"}}},"Physical":{"type":"object","properties":{"DimensionUnit":{"description":"The unit of measurement for the dimensions.\n\nMust be one of `cm` (centimetres) or `in` (inches).\n","type":"string","enum":["cm","in"]},"HeightValue":{"$ref":"#/components/schemas/DecimalString","description":"A decimal string value detailing the height of the parcel.\n"},"LengthValue":{"$ref":"#/components/schemas/DecimalString","description":"A decimal string value detailing the length of the parcel.\n"},"PackagingType":{"description":"The type of packaging used to send the parcel.\n","type":"string","enum":["box","satchel","unlimited satchel"]},"VolumeValue":{"$ref":"#/components/schemas/DecimalString","description":"A decimal string value detailing the volume of the parcel.\n","deprecated":true},"VolumeUnit":{"description":"The unit of measurement for the volume.\n\nMust be one of `l` (litres), `m3` (cubic metres), `in3` (cubic inches) or `ft3` (cubic feet).\n","type":"string","enum":["l","m3","in3","ft3"],"deprecated":true},"WeightValue":{"$ref":"#/components/schemas/DecimalString","description":"A decimal string value detailing how heavy the parcel is.\n"},"WeightUnit":{"description":"The unit of measurement for the weight.\n\nMust be one of `kg` (kilograms), `lb` (pounds), `g` (grams) or `oz` (ounces).\n","type":"string","enum":["kg","lb","g","oz"]},"WidthValue":{"$ref":"#/components/schemas/DecimalString","description":"A decimal string value detailing the width of the parcel.\n"}}},"PickupDate":{"description":"This param is used when your order is being picked up by a driver for the [first mile](ref:first-mile).\n\nIf provided this must be at least one non-holiday, business day in the future – for example, `2021-09-24` (`YYYY-MM-DD`). If this is not given it will be set to the earliest available pickup date. The pickup date is returned in the order payload on subsequent requests.\n","type":"string","format":"date"},"Product":{"description":"The shipping product being used.","type":"object","properties":{"atl_only":{"description":"Whether this product only supports <<glossary:ATL>> (Authority To Leave delivery instructions).\n","type":"boolean"},"code":{"$ref":"#/components/schemas/ProductCode","description":"The identifier for this product. To select this product for a request, send this product code.\n"},"name":{"description":"A human readable na
[...]
