swagger: '2.0'
info:
  title: Arcopay PSD2 API (ES)
  description: La estandarización de la conexión con cualquier banco en tiempo real.
  version: 1.1.5
host: apipsd2.arcopay.io
schemes:
  - https
basePath: /
produces:
  - application/json
paths:
  /listOfSupportedBanks/:
    get:
      summary: Lista de bancos soportados
      description: Obtén una lista completa de los bancos soportados, así como los nombres de los campos necesarios para dibujar un formulario de login similar al original del banco..
      parameters:
        - name: Accept-version
          in: header
          description: 'Versión de la API que se quiere consumir en versión: v.numeroDeVersion'
          type: string
          required: false
          default: v.1
        - name: countryCode
          in: query
          description: Código del país, formato ISO 3166-1 alpha-2 (https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). Por ejemplo ES para España. Si no se proporciona ningún código, se devolverá la lista completa.
          required: false
          type: string
        - name: showSandbox
          in: query
          description: Si no se proporciona ningún valor, no se informará del servicio sandbox. 1 para mostrar únicamente el servicio sandbox.
          required: false
          type: integer
      tags:
        - PSD2
      responses:
        '200':
          description: Array con el listado de bancos soportados y la información necesaria para dibujar su formulario de login
          headers:
            Debug-id:
              type: string
              description: Identificador único de la petición.
            Accept-version:
              type: string
              description: Versión consumida por la API.
          schema:
            type: array
            items:
              $ref: '#/definitions/listOfSupportedBanks'
        default:
          description: Unexpected error
          headers:
            Debug-id:
              type: string
              description: Identificador único de la petición.
            Accept-version:
              type: string
              description: Versión consumida por la API.
          schema:
            $ref: '#/definitions/Error'
  /consent/get/:
    post:
      summary: Gestiona la obtención del consentimiento por parte del usuario final.
      description: 'La obtención del consentimiento tanto para Agregación Bancaria como para Iniciar un pago se realiza en dos etapas: 
        </br> 1- Primera llamada a este método, que genera un enlace tipo follow para mostrar al usuario y que acepte el consentimiento. 
        </br> 2- Recepción de la respuesta del usuario en una URL de callback en tu entorno.
      
      </br> La llamada a este método responde con un enlace tipo follow link (parámetro "follow") para mostrar al usuario final y un identificador único del consentimiento (parámetro "consentId") que le permitirá trazar el proceso. Cuando el usuario abra la URL proporcionada y finalice el proceso, recibirá en su sistema, a través de la URL de callback indicada en el parámetro yourConsentCallback, el token junto con al identificador único de este consentimiento "consentId" y globalPosition con las cuentas disponibles. El esquema que se envía a esta URL de callback está descrito en la definición consentGetCallback más abajo.'
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: Accept-version
          in: header
          description: 'Versión de la API que se quiere consumir en versión: v.numeroDeVersion'
          type: string
          required: false
          default: v.1
        - name: servicekey
          in: formData
          description: Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.arcopay.io.
          required: true
          type: string
        - name: service
          in: formData
          description: Identificador único para cada banco. El listado de bancos soportados se obtiene en /listOfSupportedBanks/.
          required: true
          type: string
        - name: grantType
          type: string
          in: formData
          required: true
          description: 'Tipo de consentimiento solicitado. Acepta uno de los siguientes:
            </br> - read: Agregación de Cuentas, obtendrá el token para ser utilizado con el método /transactions/
            </br> - payment: Iniciación de Pagos, obtendrá el token para ser utilizado con los métodos /payments/'
        - name: validUntil
          in: formData
          format: date
          description: 'Fecha hasta la que se solicita la validez del consentimiento en formato dd-mm-aaaa. El rango permitido va desde la fecha actual, hasta 90 días a partir de la fecha actual'
          required: true
          type: string
        - name: dailyFrequency
          in: formData
          description: "Este parámetro solamente aplica si el consentimiento solicitado es de Agregación de Cuentas (grantType=read). Indica el número de refrescos diarios de los que se prevé hacer uso. El rango de valores permitidos es 1 a 4. El valor por defecto es 4."
          required: false
          type: integer
        - name: yourConsentCallback
          in: formData
          description: 'URL donde recibirá el token generado. Debe ser HTTPS. Vea [/definitions/consentGetCallback](#/definitions/consentGetCallback)'
          required: true
          type: string
        - name: urlRedirect
          in: formData
          description: 'Enlace al que el usuario será redireccionado una vez finalice el proceso de obtención del consentimiento.'
          required: false
          type: string
      tags:
        - PSD2
      responses:
        '200':
          description: Array of elements with consent information
          headers:
            Debug-id:
              type: string
              description: Identificador único de la petición.
            Accept-version:
              type: string
              description: Versión consumida por la API.
          schema:
            $ref: '#/definitions/consentGet'
        default:
          description: Unexpected error
          headers:
            Debug-id:
              type: string
              description: Identificador único de la petición.
            Accept-version:
              type: string
              description: Versión consumida por la API.
          schema:
            $ref: '#/definitions/Error'
  /consent/cancel/:
    post:
      summary: Borra un consentimiento.
      description: Borra un consentimiento.
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: Accept-version
          in: header
          description: 'Versión de la API que se quiere consumir en versión: v.numeroDeVersion'
          type: string
          required: false
          default: v.1
        - name: servicekey
          in: formData
          description: Licencia que identifica al cliente.
          required: true
          type: string
        - name: token
          in: formData
          description: Token que habrás obtenido a través del método /consent/get.
          required: true
          type: string
      tags:
        - PSD2
      responses:
        '200':
          description: Resultado.
          headers:
            Debug-id:
              type: string
              description: Identificador único de la petición.
            Accept-version:
              type: string
              description: Versión consumida por la API.
          schema:
            $ref: '#/definitions/consentCancel'
        default:
          description: Unexpected error
          headers:
            Debug-id:
              type: string
              description: Identificador único de la petición.
            Accept-version:
              type: string
              description: Versión consumida por la API.
          schema:
            $ref: '#/definitions/Error'
  /consent/renew/:
    post:
      summary: Renueva un consentimiento existente
      description: Amplía el plazo de caducidad de un token existente hasta un máximo de 90 días a partir de la fecha actual.
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: Accept-version
          in: header
          description: 'Versión de la API que se quiere consumir en versión: v.numeroDeVersion'
          type: string
          required: false
          default: v.1
        - name: servicekey
          in: formData
          description: Licencia que identifica al cliente.
          required: true
          type: string
        - name: token
          in: formData
          description: Token que habrás obtenido a través del método /consent/get.
          required: true
          type: string
        - name: validUntil
          in: formData
          format: date
          description: 'Fecha hasta la que se solicita la renovación de validez del consentimiento en formato dd-mm-aaaa. El rango permitido va desde la fecha actual, hasta 90 días a partir de la fecha actual. El valor por defecto es 90 días desde la fecha actual.'
          required: false
          type: string
      tags:
        - PSD2
      responses:
        '200':
          description: Resultado de la operación.
          headers:
            Debug-id:
              type: string
              description: Identificador único de la petición.
            Accept-version:
              type: string
              description: Versión consumida por la API.
          schema:
            $ref: '#/definitions/consentRenew'
        default:
          description: Unexpected error
          headers:
            Debug-id:
              type: string
              description: Identificador único de la petición.
            Accept-version:
              type: string
              description: Versión consumida por la API.
          schema:
            $ref: '#/definitions/Error'
  /consent/info/:
    post:
      summary: Información sobre el consentimiento
      description: Devuelve toda la información disponible sobre el consentimiento (token) consultado.
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: Accept-version
          in: header
          description: 'Versión de la API que se quiere consumir en versión: v.numeroDeVersion'
          type: string
          required: false
          default: v.1
        - name: servicekey
          in: formData
          description: Licencia que identifica al cliente.
          required: true
          type: string
        - name: token
          in: formData
          description: Token que habrás obtenido a través del método /consent/get.
          required: true
          type: string
      tags:
        - PSD2
      responses:
        '200':
          description: Toda la información sobre el consentimiento.
          headers:
            Debug-id:
              type: string
              description: Identificador único de la petición.
            Accept-version:
              type: string
              description: Versión consumida por la API.
          schema:
            $ref: '#/definitions/consentInfo'
        default:
          description: Unexpected error
          headers:
            Debug-id:
              type: string
              description: Identificador único de la petición.
            Accept-version:
              type: string
              description: Versión consumida por la API.
          schema:
            $ref: '#/definitions/Error'
  /transactions/:
    post:
      summary: Posición global y movimientos hasta una fecha dada.   
      description: 'Este endpoint devuelve el listado de productos y los movimientos para cada uno de los productos desde la fecha solicitada hasta el día actual: hasta 2 años de transacciones para productos tipo checking y tipo card. La cabecera de respuesta de cada llamada a este endpoint encontrará un parámetro llamado Debug-id, que contiene un identificador único para cada una de las llamadas que conviene guardar ya que el equipo técnico se lo pedirá para abrir tickets de soporte.'
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: Accept-version
          in: header
          description: 'Versión de la API que se quiere consumir en versión: v.numeroDeVersion'
          type: string
          required: false
          default: v.1
        - name: servicekey
          in: formData
          description: Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.arcopay.io.
          required: true
          type: string
        - name: token
          in: formData
          description: Este token ha sido obtenido previamente siguiendo el flujo de obtención del consentimiento PSD2 mediante el método consent/get.
          required: true
          type: string
        - name: startDate
          in: formData
          format: date
          description: Fecha desde la que queremos obtener los movimientos en formato dd-mm-aaaa. Obligatorio cuando el valor de "products" es distinto de GLOBAL.
          required: true
          type: string
        - name: products
          in: formData
          description: 'Nombres de productos bancarios (cuentas corrientes o tarjetas), separados por coma. Cabe destacar que en la primera llamada a la API, aún no conocemos los nombres de los productos que el usuario tiene contratados, por lo que este parámetro deberá recibir el valor GLOBAL.'
          required: true
          type: string
      tags:
        - PSD2
      responses:
        '200':
          description: Array con listado de productos bancarios y movimientos.
          headers:
            Debug-id:
              type: string
              description: Identificador único de la petición.
            Accept-version:
              type: string
              description: Versión consumida por la API.
          schema:
            type: array
            items:
              $ref: '#/definitions/transactions'
        default:
          description: Unexpected error
          headers:
            Debug-id:
              type: string
              description: Identificador único de la petición.
            Accept-version:
              type: string
              description: Versión consumida por la API.
          schema:
            $ref: '#/definitions/Error'
  /transactions/categories/:
    get:
      summary: Listado de categorías. Solo para las servicekeys con la opción contratada.
      description: Devuelve un listado completo de las categorías utilizadas por el categorizador de movimientos de Arcopay.
      parameters:
        - name: Accept-version
          in: header
          description: 'Versión de la API que se quiere consumir en versión: v.numeroDeVersion'
          type: string
          required: false
          default: v.1
        - name: countryCode
          in: query
          description: Código del país, formato ISO 3166-1 alpha-2 (https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). Por ejemplo ES para España. Si no se proporciona ningún código, se devolverá la lista completa.
          required: false
          type: string 
      tags:
        - V3
      responses:
        '200':
          description: Array con el listado de categorias utilizadas por Arcopay.
          headers:
            Debug-id:
              type: string
              description: Identificador único de la petición.
            Accept-version:
              type: string
              description: Versión consumida por la API.
          schema:
            type: array
            items:
              $ref: '#/definitions/categories'
        default:
          description: Unexpected error
          headers:
            Debug-id:
              type: string
              description: Identificador único de la petición.
            Accept-version:
              type: string
              description: Versión consumida por la API.
          schema:
            $ref: '#/definitions/Error'
  /payment/initiate/:
    post:
      summary: Inicia un pago
      description: '<b>Inicia un pago en modalidad: normal, instantáneo y recurrente.</b><br><ul><li>Al igual que en el método consent/get/, se requiere de la interacción del usuario para procesar el pago, por lo que la llamada a este método responde con un enlace tipo follow link (parámetro "follow") para mostrar al usuario final y un identificador único del pago (parámetro "paymentId") que le permitirá trazar el proceso.</li><li>Cuando el usuario abra la URL proporcionada se realizará un proceso de Prevención de Blanqueo de Capitales y en caso necesario se realizará una comprobación extra previa al inicio de pago.</li><li>Cuando finalice el proceso, recibirá en su sistema, a través de la URL de callback indicada en el parámetro yourPaymentCallback, el token junto con al identificador único de este pago "paymentId".</li><li>El esquema que se envía a esta URL de callback está descrito en la definición paymentInitiateCallback más abajo.</ul>'
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: Accept-version
          in: header
          description: 'Versión de la API que se quiere consumir en versión: v.numeroDeVersion'
          type: string
          required: false
          default: v.1
        - name: servicekey
          in: formData
          description: Licencia que identifica al cliente.
          required: true
          type: string
        - name: token
          in: formData
          description: Este token ha sido obtenido previamente siguiendo el flujo de obtención del consentimiento PSD2 mediante el método consent/get.
          required: true
          type: string
        - name: paymentType
          in: formData
          description: 'Tipo de pago:
              </br><b>- normal</b> -> transferencia normal
              </br><b>- instant</b> -> transferencia instantánea. Máximo importe permitido 15.000€ (150.000€ a partir de Julio de 2020). Desaconsejamos esta opción, ya que varios bancos cobran comisiones muy altas a los clientes, y sus APIS solamente informan al TPP de la comisión una vez el cliente ha completado o cancelado el pago, en lugar de informar previamente para permitir al TPP seleccionar el tipo de pago en función a la comisión.
              </br><b>- normalPeriodic</b> -> transferencia normal ejecutada con peridicidad, definida en los parámetros firstQuotaDate, frequency y numberOfQuotas.
              </br><b>- instantPeriodic</b> -> transferencia instantánea ejecutada con peridicidad, definida en los parámetros firstQuotaDate, frequency y numberOfQuotas.
              </br><b>- international</b> -> transferencia normal con IBAN de destino fuera de Europa.'
          required: true
          type: string
        - name: currency
          in: formData
          description: Código de la divisa en formato [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217).
          required: true
          type: string
        - name: amount
          in: formData
          description: Importe del pago utilizando el punto para decimales. Máximo 2 decimales.
          required: true
          type: number
        - name: sourceIBAN
          in: formData
          description: IBAN de origen con el cual el cliente quiere realizar el pago.
          required: true
          type: string
        - name: destinationIBAN
          in: formData
          description: IBAN de destino.
          required: true
          type: string
        - name: destinationCreditorName
          in: formData
          description: Nombre del titular de la cuenta de destino.
          required: true
          type: string
        - name: paymentDescription
          in: formData
          description: Description o concepto del pago. Máximo 140 caracteres.
          required: true
          type: string
        - name: yourPaymentCallback
          in: formData
          description: URL donde recibirá el token generado. Debe ser HTTPS.
          required: true
          type: string
        - name: firstQuotaDate
          in: formData
          format: date
          description: Solo obligatorio para pagos recurrentes (pagos por cuotas), es decir, cuando paymentType sea normalPeriodic o instantPeriodic. Fecha en formato dd-mm-aaaa.
          required: false
          type: string
        - name: frequency
          in: formData
          description: 'Solo obligatorio para pagos recurrentes (pagos por cuotas), es decir, cuando paymentType sea normalPeriodic o instantPeriodic. Valores permitidos: daily, weekly, everyTwoWeeks, monthly, everyTwoMonths, quarterly, semiAnnual, annual'
          required: false
          type: string
        - name: numberOfQuotas
          in: formData
          description: Solo obligatorio para pagos recurrentes (pagos por cuotas), es decir, cuando paymentType sea normalPeriodic o instantPeriodic. Número de veces que se ejecutará la orden de pago. Por ejemplo, si la orden corresponde a la devolución de un préstamo en 60 cuotas. El valor será 60.
          required: false
          type: number
        - name: urlRedirect
          in: formData
          description: 'Enlace al que será redireccionado el usuario una vez se confirme el pago.'
          required: false
          type: string
      tags:
        - PSD2 Payments
      responses:
        '200':
          description: Array de elementos conteniendo información del pago.
          headers:
            Debug-id:
              type: string
              description: Identificador único de la petición.
            Accept-version:
              type: string
              description: Versión consumida por la API.
          schema:
            $ref: '#/definitions/paymentInitiate'
        default:
          description: Unexpected error
          headers:
            Debug-id:
              type: string
              description: Identificador único de la petición.
            Accept-version:
              type: string
              description: Versión consumida por la API.
          schema:
            $ref: '#/definitions/Error'
  /payment/status/:
    post:
      summary: Estado de un pago.
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: Accept-version
          in: header
          description: 'Versión de la API que se quiere consumir en versión: v.numeroDeVersion'
          type: string
          required: false
          default: v.1
        - name: servicekey
          in: formData
          description: Licencia que identifica al cliente.
          required: true
          type: string
        - name: paymentId
          in: formData
          description: El id que identifica al pago, obtenido en payment/initiate
          required: true
          type: string
      tags:
        - PSD2 Payments
      responses:
        '200':
          description: Status of the requested payment.
          headers:
            Debug-id:
              type: string
              description: Identificador único de la petición.
            Accept-version:
              type: string
              description: Versión consumida por la API.
          schema:
            $ref: '#/definitions/paymentGetStatus'
        default:
          description: Unexpected error
          headers:
            Debug-id:
              type: string
              description: Identificador único de la petición.
            Accept-version:
              type: string
              description: Versión consumida por la API.
          schema:
            $ref: '#/definitions/Error'
  /payment/cancel/:
    post:
      summary: Cancela la petición de pago.
      description: Cancela la petición de pago, si es posible.
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: Accept-version
          in: header
          description: 'Versión de la API que se quiere consumir en versión: v.numeroDeVersion'
          type: string
          required: false
          default: v.1
        - name: servicekey
          in: formData
          description: Licencia que identifica al cliente.
          required: true
          type: string
        - name: paymentId
          in: formData
          description: El id que identifica al pago, obtenido en payment/initiate
          required: true
          type: string
      tags:
        - PSD2 Payments
      responses:
        '200':
          description: Resultado de la operación
          headers:
            Debug-id:
              type: string
              description: Identificador único de la petición.
            Accept-version:
              type: string
              description: Versión consumida por la API.
          schema:
            $ref: '#/definitions/paymentCancel'
        default:
          description: Unexpected error
          headers:
            Debug-id:
              type: string
              description: Identificador único de la petición.
            Accept-version:
              type: string
              description: Versión consumida por la API.
          schema:
            $ref: '#/definitions/Error'
  /payment/revert/:
    post:
      summary: Revierte un pago realizado con initiate
      description: 'Revierte un pago realizado anteriormente. Necesitará el identificador único del pago inicial "paymentId" para buscar la información del mismo.'
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: Accept-version
          in: header
          description: 'Versión de la API que se quiere consumir en versión: v.numeroDeVersion'
          type: string
          required: false
          default: v.1
        - name: servicekey
          in: formData
          description: Licencia que identifica al cliente.
          required: true
          type: string
        - name: paymentId
          in: formData
          description: Identificador único que hace referencia al pago inicial.
          required: true
          type: string
        - name: sourceIBAN
          in: formData
          description: IBAN de origen con el cual el cliente quiere revertir el pago. Si no se informa, se usará el IBAN de destino de la operación inicial.
          required: false
          type: string
      tags:
        - PSD2 Payments
      responses:
        '200':
          description: Array de elementos conteniendo información del pago revertido.
          headers:
            Debug-id:
              type: string
              description: Identificador único de la petición.
            Accept-version:
              type: string
              description: Versión consumida por la API.
          schema:
            $ref: '#/definitions/paymentRevert'
        default:
          description: Unexpected error
          headers:
            Debug-id:
              type: string
              description: Identificador único de la petición.
            Accept-version:
              type: string
              description: Versión consumida por la API.
          schema:
            $ref: '#/definitions/Error'
  /payment/statusRevert/:
    post:
      summary: Estado de un pago revertido.
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: Accept-version
          in: header
          description: 'Versión de la API que se quiere consumir en versión: v.numeroDeVersion'
          type: string
          required: false
          default: v.1
        - name: servicekey
          in: formData
          description: Licencia que identifica al cliente.
          required: true
          type: string
        - name: paymentRevertedId
          in: formData
          description: El id que identifica al pago revertido, obtenido en payment/revert
          required: true
          type: string
      tags:
        - PSD2 Payments
      responses:
        '200':
          description: Status of the requested revert.
          headers:
            Debug-id:
              type: string
              description: Identificador único de la petición.
            Accept-version:
              type: string
              description: Versión consumida por la API.
          schema:
            $ref: '#/definitions/paymentGetStatusRevert'
        default:
          description: Unexpected error
          headers:
            Debug-id:
              type: string
              description: Identificador único de la petición.
            Accept-version:
              type: string
              description: Versión consumida por la API.
          schema:
            $ref: '#/definitions/Error'
  /payment/getLinkForPayment/:
    post:
      summary: Genera un link de pago 
      description: 'Ofrecemos tres formas integración para la Iniciación de Pagos.
      - La primera, es mediante llamadas a los métodos descritos anteriormente. Esta forma permite crear una experiencia de uso totalmente integrada en su plataforma, ya que todo el diseño de UX recae en usted.
      - La segunda, es el uso de un widget javascript, que genera un iframe, integrable dentro de cualquier landing. El detalle técnico se encuentra en el documento "Guía de integración javascript" que le hemos proporcionado en el correo de bienvenida, si esta ha sido su opción elegida.
      - Por último, la descrita en este método, que consiste en un link de pago los valores parametrizados. Este método recibe los datos necesarios para realizar el pago y genera un smartlink de un solo uso parametrizado para proporcionárselo al usuario y pueda realizar un pago. Opcionalmente, este mismo método permite enviar el smartlink por SMS. Antes de poder utilizar este método, deberá haber preparado su entorno para recibir la respuesta de pago completado siguiendo la "Guía de integración smartlinks de pagos"'
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: servicekey
          in: formData
          description: 'Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.arcopay.io.'
          required: true
          type: string
        - name: JSONParameters
          in: formData
          description: 'Parámetros para configurar las opciones del link de pago, tales como importe, concepto y cuenta de destino, según las indicaciones del documento "Guía de integración smartlinks de pagos"'
          required: true
          type: string
        - name: phoneNumer
          in: formData
          description: 'Número de teléfono con prefijo del país sin espacios. Por ejemplo, para España +34644501035. Si no se indica ningún valor, no se enviará ningún mensaje. Solamente se obtendrá el link de pago en la respuesta.'
          required: false
          type: string
        - name: bodyText
          in: formData
          description: 'Texto con un máximo de 80 caracteres, al que se le añadirá el smartlink. En caso de estar vacío, se enviará el texto preconfigurado a su servicekey, por defecto "Utilice este enlace para para continuar con su pago de <importe> en el comercio <comercio>."'
          required: false
          type: string
      tags:
        - link
      responses:
        '200':
          description: 'Array con la URL a la landing con la información del pago y, si se ha solicitado envío de SMS, información sobre el estado del envío.'
          schema:
            type: array
            items:
              $ref: '#/definitions/getLinkForPayment'
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
  /me/:
    post:
      summary: Información de uso de licencia.
      description: Devuelve información de la licencia del cliente y el uso de la API.
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: Accept-version
          in: header
          description: 'Versión de la API que se quiere consumir en versión: v.numeroDeVersion'
          type: string
          required: false
          default: v.1
        - name: servicekey
          in: formData
          description: 'Licencia que identifica al cliente.'
          required: true
          type: string
        - name: details
          in: formData
          description: 'Indica que se quieren conocer detalles extra. Valor por defecto es 0'
          required: false
          type: boolean
        - name: timePeriod
          in: formData
          description: 'Filtro de fecha a consultar. Solamente aplica si details=1. Posibles valores: 24h o 30d'
          required: false
          type: string
      tags:
        - User
      responses:
        '200':
          description: Información del perfil de un usuario.
          headers:
            Debug-id:
              type: string
              description: Identificador único de la petición.
            Accept-version:
              type: string
              description: Versión consumida por la API.
          schema:
            $ref: '#/definitions/me'
        default:
          description: Unexpected error
          headers:
            Debug-id:
              type: string
              description: Identificador único de la petición.
            Accept-version:
              type: string
              description: Versión consumida por la API.
          schema:
            $ref: '#/definitions/Error'
definitions:
  me:
    type: object
    properties:
      limit:
        type: integer
        format: int32
        description: Límite de llamadas para la servicekey.
      counter:
        type: integer
        format: int32
        description: Llamadas realizadas durante el ciclo de facturación actual.
      remaining_calls:
        type: integer
        format: int32
        description: Llamadas restantes para el ciclo de facturación actual.
      date_renewal:
        type: string
        format: date
        description: Fecha de renovación del contador de llamadas, en formato dd-mm-yyyy.
      detail:
        type: object
        description: Detalles de las llamadas consultadas.
        properties:
          api:
            type: string
            description: Identificador de endpoint.
          timestamp:
            type: string
            description: Fecha de llamada.
          service:
            type: string
            description: Servicio consultado.
          ip:
            type: string
            description: IP de la llamada.
          debugID:
            type: string
            description: Identificador de la llamada.
  transactions:
    type: object
    properties:
      product:
        type: string
        description: 'Identificador único para un producto: IBAN o numeración de tarjeta de crédito.'
      type:
        type: string
        description: 'Tipo de producto: "checking" para cuenta corriente o "card" para tarjeta de crédito. Solamente es posible recuperar información de estos dos tipos de productos por el canal PSD2, al contrario que en la agregación no-PSD2, donde es posible recuperar también información de préstamos, líneas de crédito, seguros y productos de inversión.'
      balance:
        type: number
        format: float
        description: Saldo disponible del producto. Siempre existirá este saldo, el resto de valores balance podrán existir o no.
      countable_balance:
        type: number
        format: float
        description: Saldo contable.
      arranged_balance:
        type: number
        format: float
        description: Saldo dispuesto.
      balance_credit_granted:
        type: number
        format: float
        description: Saldo concedido.
      currency:
        type: string
        description: Código de la divisa en formato [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217).
      description:
        type: string
        description: Nombre del producto. En ocasiones es un alias que ha asignado el usuario, o puede coincidir con el valor de producto.
      iban:
        type: string
        description: El IBAN de la cuenta.
      is_owner:
        type: number
        format: int
        description: Indica si el usuario que ha dado el consentimiento es el propietario del producto (en algunos casos, el banco informa con el nombre del usuario conectado y no el propietario del producto). 0 -> No es titular. 1-> Es titular de la cuenta.
      holders:
        type: array
        description: Atributo disponible cuando el producto sea checking.
        items:
          type: object
          description: Array de titulares y autorizados del producto.
          properties:
            role:
              type: string
              description: Rol de la persona. Owner | Authorized.
            name:
              type: string
              description: Nombre de la persona.
            id:
              type: string
              description: Id de la persona. DNI|NIF|CIF
      transactions:
        type: object
        properties:
          date:
            type: string
            format: date
            description: Fecha del movimiento en formato dd-mm-yyyy.
          date2:
            type: string
            format: date
            description: Fecha de valor en formato dd-mm-yyyy. Esta clave no existe si las transacciones corresponden a un producto tipo card.
          amount:
            type: number
            format: float
            description: Importe de la transacción.
          balance:
            type: number
            format: float
            description: Saldo del producto en el instante posterior a la transacción.. Esta clave no existe si las transacciones corresponden a un producto tipo card.
          description:
            type: string
            description: Descripción de la transacción.
          categoryId:
            type: number
            format: int
            description: 'Id de categoría. Solo para las servicekeys con la opción contratada. Listado de categorías: https://apipsd2.arcopay.io/V3/categories/?countryCode=ES.'
          transactionId:
            type: string
            description: 'Identificador único para ese producto de la transacción de 32 caracteres. MUY IMPORTANTE: No utilizar este valor como índice único en una tabla de transacciones de todos los clientes, podrían existir colisiones, ya que solamente se garantiza que es un valor único por transacción y producto. Sí sería válido utilizar como índice único en una tabla de transacciones dos columnas, que incluyeran un id de producto y este transactionId.'
          mcc:
            type: number
            format: int
            description: 'Merchant Category Code (código de categoría del comercio) definido en la ISO 18245. El valor será 0, si no hay ningún código disponible.'
          creditorName:
            type: string
            description: 'Titular de la transacción. El valor será vacío si no hay ningún titular disponible.'
  listOfSupportedBanks:
    type: object
    properties:
      countryCode:
        type: string
        description: 'Código de país en formato ISO 3166-1 alpha-2 (https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).'
      service:
        type: string
        description: Identificador único del banco en la API.
      paymentsSupported:
        type: string
        description: Valor 0 o 1, dependiendo de si soporta Iniciación de Pagos (método /payments/)
      swift:
        type: string
        description: 'Código SWIFT en formato ISO 9362 (https://en.wikipedia.org/wiki/ISO_9362).'
      fullname:
        type: string
        description: Nombre completo del banco.
      image:
        type: string
        description: URL del logotipo del banco en formato PNG transparente de 128x128 pixels.
      imageSVG:
        type: string
        description: URL del logotipo del banco en formato SVG.
  paymentInitiate:
    type: object
    properties:
      follow:
        type: string
        description: 'URL a mostrar al cliente para autorizar el pago. La URL puede tener más de 255 caracteres.'
      paymentId:
        type: string
        description: 'Cadena de 36 caracteres con formato uuid 83c5036d-b7ce-f87e-99ef-7b966f16d9f5 que identifica a la operación de pago.'
  paymentGetStatus:
    type: object
    properties:
      status:
        type: string
        description: >
          Estado del pago. Puede ser
            - RCVD -> la iniciación de pago ha sido recibida. 
            - ACCC/ACSC -> operación asentada en la cuenta del deudor.
            - RJCT -> la iniciación de pago ha sido rechazada.
            - CANC -> la iniciación de pago ha sido cancelada.
  paymentRevert:
    type: object
    properties:
      status:
        type: string
        description: 'Si el proceso de reversión se ha llevado a cabo correctamente, el valor de "status" será ACCP.'
  paymentGetStatusRevert:
    type: object
    properties:
      status:
        type: string
        description: >
          Estado del pago. Puede ser
            - RCVD -> la iniciación para revertir el pago ha sido recibida. 
            - PDNG -> operación procesada y enviada por EDItran.
            - RJCT -> la iniciación para revertir el pago ha sido rechazada por el EDItran destino.
            - ACCP -> la iniciación para revertir el pago ha sido aceptada por el EDItran destino.
  paymentCancel:
    type: object
    properties:
      status:
        type: string
        description: 'Si el proceso de cancelación se ha llevado a cabo correctamente, el valor de "status" será CANC.'
  consentGet:
    type: object
    properties:
      follow:
        type: string
        description: 'URL a mostrar al usuario para que complete la obtención del consentimiento. La URL puede tener más de 255 caracteres.'
      consentId:
        type: string
        description: 'Cadena de 36 caracteres con formato uuid 83c5036d-b7ce-f87e-99ef-7b966f16d9f5 que identifica a la operación de consentimiento.'
  consentGetCallback:
    type: object
    description: 'Esta definición describe el esquema utilizado por Aftebanks para enviar a la URL de callback especificada por el cliente en el parámetro yourConsentCallback del método /consent/get'
    properties:
      token:
        type: string
        description: 'Token para ser utilizando en los métodos que requieren token como parámetro /payments/initiate y /transactions.'
      consentId:
        type: string
        description: 'Id asociado a la operación.'
      globalPosition:
        type: object
        description: 'Listado de los productos disponibles. Vea [/definitions/transactions](#/definitions/transactions)'
  paymentInitiateCallback:
    type: object
    description: 'Esta definición describe el esquema utilizado por Arcopay para enviar a la URL de callback especificada por el cliente en el parámetro yourPaymentCallback del método /payment/initiate'
    properties:
      token:
        type: string
        description: 'Token para ser utilizando en los métodos que requieren token como parámetro /payments/initiate y /transactions.'
      paymentId:
        type: string
        description: 'Id asociado a la operación.'
  getLinkForPayment:
    type: object
    properties:
      linkForPayment:
        type: string
        description: 'URL con el UX para realizar el pago.'
        example: 'https://arcopay.io/payWithYourBank/cEv-DOVDMro/'
      code:
        type: integer
        format: int32
        description: 'Posibles valores: 0, OK; 1, Error de envío; 2, No se ha solicitado envío'
        example: 0
      additional_info:
        type: object
        description: 'Detalle sobre el envío.'
        properties:
          status:
            type: string
            description: 'Posibles valores: does not apply|sent|wrong number|other problem'
            example: 'sent'
          phoneNumber:
            type: string
            description: 'Número de teléfono al que se ha enviado el mensaje.'
            example: '+34644501035'
  consentCancel:
    type: object
    properties:
      grantType:
        type: string
        description: 'Informa del tipo de token eliminado. Posibles valores: payment o read.'
      message:
        type: string
        description: 'Mensaje, en el idioma del banco indicando la eliminación satisfactoria del token'
  consentRenew:
    type: object
    properties:
      follow:
        type: string
        description: 'URL a mostrar al usuario para que complete el proceso de renovación del consentimiento. La URL puede tener más de 255 caracteres.'
      consentId:
        type: string
        description: 'Cadena de 36 caracteres con formato uuid 83c5036d-b7ce-f87e-99ef-7b966f16d9f5 que identifica a la operación de consentimiento.'
  consentInfo:
    type: object
    properties:
      grantType:
        type: string
        description: 'Tipo de consentimiento solicitado: read o payment'
      creationDate:
        type: string
        format: date
        description: 'Fecha en la que se creó el consentimiento en formato dd-mm-aaaa.'
      validUntil:
        type: string
        format: date
        description: 'Fecha de caducidad del consentimiento en formato dd-mm-aaaa.'
      log:
        type: object
        description: 'Histórico de conexiones'
        properties:
          timestamp:
            type: string
            description: Fecha del acceso en formato timestamp.
          currency:
            type: string
            description: Solamente si grantType=payment. Divisa en formato [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217).
          amount:
            type: number
            format: float
            description: Solamente si grantType=payment. Importe de la transacción, en caso de ser una operación de Iniciación de Pago.
          destinationIBAN:
            type: string
            description: Solamente si grantType=payment. Número de cuenta en la que se efectuó el pago.
          numberOfTransactionsCollected:
            type: number
            description: Solamente si grantType=read. Número de cuenta en la que se efectuó el pago.
          operationResult:
            type: boolean
            description: 'Posibles valores: 0 KO, 1 OK'
  Error:
    type: object
    properties:
      message:
        type: string
        description: Texto detallando el error encontrado, en el idioma del banco.
      code:
        type: string
        description: >
          Posibles valores
            - 1 -> Genérico. 
            - 50 -> Parámetro incorrecto en la llamada a la API.
            - C000 -> Error genérico con el consentimiento.
            - C001 -> Consentimiento inválido.
            - C002 -> Proceso de consentimiento no ha sido finalizado.
            - C003 -> El consentimiento no ha sido creado para el producto solicitado.
            - C004 -> Consentimiento expirado.
            - C005 -> El consentimiento ha alcanzado el límite diario permitido.
            - T000 -> Error genérico con las transacciones.
            - T001 -> El consentimiento no ha sido creado para el producto solicitado.
            - P000 -> Error genérico con la iniciación de pagos.
            - P001 -> Valor de sourceIBAN no válido.
            - P002 -> Formato de destinationIBAN incorrecto.
            - P003 -> Formato de sourceIBAN incorrecto.
            - P004 -> No hay saldo suficiente en la cuenta origen.
            - P005 -> Importe del pago excede el límite de la cuenta.
  categories:
    type: object
    properties:
      description:
        type: string
        description: 'Category name'
      id:
        type: integer
        format: int32
        description: 'Numerical identifier associated with the category'
      color:
        type: string
        description: 'Suggested color to display with the category'
      icon:
        type: string
        description: 'Suggested icon according to the icon collection maintained by Google https://material.io/resources/icons/'