openapi: 3.0.1
info:
  title: Berlin Group NextGenPSD2
  description: PSD2 compliant XS2A API implementing the NextGenPSD2 Framework Version
    1.3 of the Berlin Group
  version: "1.0"
servers:
- url: https://xs2a-api.solaris-sandbox.de/open-banking-server/xs2a/
tags:
- name: Account Information Service (AIS)
  description: |-
    The Account Information Service (AIS) offers the following services:
      * Transaction reports for a given account or card account including balances if applicable
      * Balances of a given account or card account
      * A list of available accounts or card account
      * Account details of a given account or card account or of the list of all accessible accounts or card account  relative to a granted consent
- name: Payment Initiation Service (PIS)
  description: |-
    The component for Payment Initiation Service (PIS) offers the following services:
      * Initiation and update of a payment request
      * Status information of a payment
paths:
  /xs2a/v1/accounts:
    get:
      tags:
      - Account Information Service (AIS)
      summary: Read Account List
      description: "Reads all available account, in addition with balance if the optional\
        \ parameter \"withBalance\" is used in the method if enabled"
      operationId: getAccountListUsingGET
      parameters:
      - name: Authorization
        in: header
        description: Bearer Token contained only if an OAuth2 based SCA was performed
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU (identifying bank customer)
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID-Type
        in: header
        description: Type of the PSU-ID
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-IP-Address
        in: header
        description: Real IP address of the PSU
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: Consent-ID
        in: header
        description: UUID identifying a customer consent for account information use
          cases
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
        example: generate-me
      responses:
        "200":
          description: OK
          headers:
            X-Request-ID:
              description: "ID of the request, unique to the call, as determined by\
                \ the initiating party"
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountListResponse'
        "4XX":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInformation'
  /xs2a/v1/accounts/{accountId}:
    get:
      tags:
      - Account Information Service (AIS)
      summary: Read Account Details
      description: "Reads details about an account, with balances where required.\
        \ It is assumed that a consent of the PSU to this access is already given\
        \ and stored on the ASPSP system. "
      operationId: readAccountDetailsUsingGET
      parameters:
      - name: Authorization
        in: header
        description: Bearer Token contained only if an OAuth2 based SCA was performed
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU (identifying bank customer)
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID-Type
        in: header
        description: Type of the PSU-ID
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-IP-Address
        in: header
        description: Real IP address of the PSU
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: Consent-ID
        in: header
        description: UUID identifying a customer consent for account information use
          cases
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
        example: generate-me
      - name: accountId
        in: path
        description: Identifier of the account
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          headers:
            X-Request-ID:
              description: "ID of the request, unique to the call, as determined by\
                \ the initiating party"
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDetailsResponse'
        "4XX":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInformation'
  /xs2a/v1/accounts/{accountId}/balances:
    get:
      tags:
      - Account Information Service (AIS)
      summary: Read Balance
      description: Reads account data from a given account addressed by "account-id"
      operationId: getBalancesUsingGET
      parameters:
      - name: Authorization
        in: header
        description: Bearer Token contained only if an OAuth2 based SCA was performed
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU (identifying bank customer)
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID-Type
        in: header
        description: Type of the PSU-ID
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-IP-Address
        in: header
        description: Real IP address of the PSU
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: Consent-ID
        in: header
        description: UUID identifying a customer consent for account information use
          cases
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
        example: generate-me
      - name: accountId
        in: path
        description: Identifier of the account
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          headers:
            X-Request-ID:
              description: "ID of the request, unique to the call, as determined by\
                \ the initiating party"
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalancesResponse'
        "4XX":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInformation'
  /xs2a/v1/accounts/{accountId}/transactions:
    get:
      tags:
      - Account Information Service (AIS)
      summary: Read transaction list of an account
      description: "Read transaction reports or transaction lists of a given account\
        \ addressed by \"account-id\", depending on the steering parameter \"bookingStatus\"\
        \ together with balances."
      operationId: getTransactionListUsingGET
      parameters:
      - name: Authorization
        in: header
        description: Bearer Token contained only if an OAuth2 based SCA was performed
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU (identifying bank customer)
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID-Type
        in: header
        description: Type of the PSU-ID
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-IP-Address
        in: header
        description: Real IP address of the PSU
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: dateFrom
        in: query
        description: "Starting date (inclusive the date dateFrom). Example: 2023-07-21"
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
          example: 2023-07-21
      - name: dateTo
        in: query
        description: "End date (inclusive the data dateTo). Example: 2023-07-22"
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
          example: 2023-07-22
      - name: entryReferenceFrom
        in: query
        description: Indicating that the AISP is in favour to get all transactions
          after the transaction with identification entryReferenceFrom alternatively
          to the above defined period
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: 19872535
      - name: pageNumber
        in: query
        description: "Optional pagination parameter, for querying all records on given\
          \ page"
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
        example: 1
      - name: Consent-ID
        in: header
        description: UUID identifying a customer consent for account information use
          cases
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party"
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: generate-me
      - name: accountId
        in: path
        description: Identifier of the account
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: bookingStatus
        in: query
        description: "Permitted codes are \"booked\", \"pending\",  \"information\""
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          headers:
            X-Request-ID:
              description: "ID of the request, unique to the call, as determined by\
                \ the initiating party"
              style: simple
              explode: false
              schema:
                type: string
            Content-Type:
              description: "Content type (one of: application/json, application/xml,\
                \ application/text)"
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
        "4XX":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInformation'
  /xs2a/v1/consents:
    post:
      tags:
      - Account Information Service (AIS)
      summary: Create consent
      description: "This method create a consent resource, defining access rights\
        \ to dedicated accounts of a given PSU-ID. These accounts are addressed explicitly\
        \ in the method as parameters as a core function."
      operationId: createConsentUsingPOST
      parameters:
      - name: Authorization
        in: header
        description: Bearer Token contained only if an OAuth2 based SCA was performed
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU (identifying bank customer)
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID-Type
        in: header
        description: Type of the PSU-ID
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: TPP-Decoupled-Preferred
        in: header
        description: "If \"true\", TPP prefers decoupled SCA approach, if \"false\"\
          , it prefers not to use this approach"
        required: false
        style: simple
        explode: false
        schema:
          type: boolean
      - name: TPP-Explicit-Authorisation-Preferred
        in: header
        description: TPP prefers to start the authorisation process separately or
          no
        required: false
        style: simple
        explode: false
        schema:
          type: boolean
      - name: TPP-Nok-Redirect-URI
        in: header
        description: TPP is asking to redirect the transaction flow to this address
          instead of the TPP-Redirect-URI in case of a negative result of the redirect
          SCA method
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: TPP-Redirect-Preferred
        in: header
        description: "If \"true\", TPP prefers a redirect over an embedded SCA approach,\
          \ if \"false\", it prefers not to be redirected for SCA"
        required: false
        style: simple
        explode: false
        schema:
          type: boolean
      - name: TPP-Redirect-URI
        in: header
        description: "URI of the TPP, where the transaction flow shall be redirected\
          \ to after a Redirect"
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-IP-Address
        in: header
        description: Real IP address of the PSU
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
        example: generate-me
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsentRequest'
        required: true
      responses:
        "201":
          description: Created
          headers:
            X-Request-ID:
              description: "ID of the request, unique to the call, as determined by\
                \ the initiating party"
              style: simple
              explode: false
              schema:
                type: string
                format: uuid
            ASPSP-SCA-Approach:
              description: SCA approach name
              style: simple
              explode: false
              schema:
                type: string
            Location:
              description: Location of the created resource
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateConsentResponse'
        "4XX":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInformation'
  /xs2a/v1/consents/{consentId}:
    get:
      tags:
      - Account Information Service (AIS)
      summary: Get consent request
      description: "Returns the content of an account information consent object.\
        \ This is returning the data for the TPP especially in cases, where the consent\
        \ was directly managed between ASPSP and PSU e.g. in a redirect SCA Approach."
      operationId: getConsentInformationUsingGET
      parameters:
      - name: Authorization
        in: header
        description: Bearer Token contained only if an OAuth2 based SCA was performed
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU (identifying bank customer)
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID-Type
        in: header
        description: Type of the PSU-ID
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-IP-Address
        in: header
        description: Real IP address of the PSU
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
        example: generate-me
      - name: consentId
        in: path
        description: UUID identifying a customer consent
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          headers:
            X-Request-ID:
              description: "ID of the request, unique to the call, as determined by\
                \ the initiating party"
              style: simple
              explode: false
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentContentResponse'
        "4XX":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInformation'
    delete:
      tags:
      - Account Information Service (AIS)
      summary: Delete consent
      description: The TPP can delete an account information consent object if needed.
      operationId: deleteConsentUsingDELETE
      parameters:
      - name: Authorization
        in: header
        description: Bearer Token contained only if an OAuth2 based SCA was performed
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU (identifying bank customer)
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID-Type
        in: header
        description: Type of the PSU-ID
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-IP-Address
        in: header
        description: Real IP address of the PSU
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
        example: generate-me
      - name: consentId
        in: path
        description: UUID identifying a customer consent
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: No Content
          headers:
            X-Request-ID:
              description: "ID of the request, unique to the call, as determined by\
                \ the initiating party"
              style: simple
              explode: false
              schema:
                type: string
                format: uuid
        "4XX":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInformation'
  /xs2a/v1/consents/{consentId}/authorisations:
    get:
      tags:
      - Account Information Service (AIS)
      summary: Get consent authorisation sub-resources request
      description: Return a list of all authorisation subresources IDs which have
        been created. This function returns an array of hyperlinks to all generated
        authorisation sub-resources.
      operationId: getConsentAuthorisationUsingGET
      parameters:
      - name: Authorization
        in: header
        description: Bearer Token contained only if an OAuth2 based SCA was performed
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU (identifying bank customer)
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID-Type
        in: header
        description: Type of the PSU-ID
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-IP-Address
        in: header
        description: Real IP address of the PSU
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
        example: generate-me
      - name: consentId
        in: path
        description: UUID identifying a customer consent
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          headers:
            X-Request-ID:
              description: "ID of the request, unique to the call, as determined by\
                \ the initiating party"
              style: simple
              explode: false
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorisationIdsResponse'
        "4XX":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInformation'
    post:
      tags:
      - Account Information Service (AIS)
      summary: Start the authorisation process for a consent
      description: Create an authorisation sub-resource and start the authorisation
        process of a consent. The message might in addition transmit authentication
        and authorisation related data.
      operationId: startConsentAuthorisationUsingPOST
      parameters:
      - name: Authorization
        in: header
        description: Bearer Token contained only if an OAuth2 based SCA was performed
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU (identifying bank customer)
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID-Type
        in: header
        description: Type of the PSU-ID
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-IP-Address
        in: header
        description: Real IP address of the PSU
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: TPP-Decoupled-Preferred
        in: header
        description: "If \"true\", TPP prefers decoupled SCA approach, if \"false\"\
          , it prefers not to use this approach"
        required: false
        style: simple
        explode: false
        schema:
          type: boolean
      - name: TPP-Nok-Redirect-URI
        in: header
        description: TPP is asking to redirect the transaction flow to this address
          instead of the TPP-Redirect-URI in case of a negative result of the redirect
          SCA method
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: TPP-Redirect-Preferred
        in: header
        description: "If \"true\", TPP prefers a redirect over an embedded SCA approach,\
          \ if \"false\", it prefers not to be redirected for SCA"
        required: false
        style: simple
        explode: false
        schema:
          type: boolean
      - name: TPP-Redirect-URI
        in: header
        description: "URI of the TPP, where the transaction flow shall be redirected\
          \ to after a Redirect"
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
        example: generate-me
      - name: consentId
        in: path
        description: UUID identifying a customer consent
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "201":
          description: Created
          headers:
            X-Request-ID:
              description: "ID of the request, unique to the call, as determined by\
                \ the initiating party"
              style: simple
              explode: false
              schema:
                type: string
                format: uuid
            ASPSP-SCA-Approach:
              description: SCA approach name
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAuthorisationResponse'
        "4XX":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInformation'
  /xs2a/v1/consents/{consentId}/authorisations/{authorisationId}:
    get:
      tags:
      - Account Information Service (AIS)
      summary: Read the SCA status of the consent authorisation
      description: This method returns the SCA status of a consent initiation's authorisation
        sub-resource.
      operationId: getConsentScaStatusUsingGET
      parameters:
      - name: Authorization
        in: header
        description: Bearer Token contained only if an OAuth2 based SCA was performed
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU (identifying bank customer)
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID-Type
        in: header
        description: Type of the PSU-ID
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-IP-Address
        in: header
        description: Real IP address of the PSU
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
        example: generate-me
      - name: authorisationId
        in: path
        description: Identifier of the authorisation
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: consentId
        in: path
        description: UUID identifying a customer consent
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          headers:
            X-Request-ID:
              description: "ID of the request, unique to the call, as determined by\
                \ the initiating party"
              style: simple
              explode: false
              schema:
                type: string
                format: uuid
            ASPSP-SCA-Approach:
              description: SCA approach name
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScaStatusResponse'
        "4XX":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInformation'
  /xs2a/v1/consents/{consentId}/status:
    get:
      tags:
      - Account Information Service (AIS)
      summary: Consent status request
      description: Read the status of an account information consent resource.
      operationId: getConsentStatusUsingGET
      parameters:
      - name: Authorization
        in: header
        description: Bearer Token contained only if an OAuth2 based SCA was performed
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU (identifying bank customer)
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID-Type
        in: header
        description: Type of the PSU-ID
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-IP-Address
        in: header
        description: Real IP address of the PSU
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
        example: generate-me
      - name: consentId
        in: path
        description: UUID identifying a customer consent
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          headers:
            X-Request-ID:
              description: "ID of the request, unique to the call, as determined by\
                \ the initiating party"
              style: simple
              explode: false
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentStatusResponse'
        "4XX":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInformation'
  /xs2a/v1/bulk-payments/sepa-credit-transfers:
    post:
      tags:
      - Payment Initiation Service (PIS)
      summary: Payment initiation request
      description: This method is used to initiate a payment at the ASPSP
      operationId: initiatePayment_2UsingPOST
      parameters:
      - name: Authorization
        in: header
        description: Bearer Token contained only if an OAuth2 based SCA was performed
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU (identifying bank customer)
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID-Type
        in: header
        description: Type of the PSU-ID
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: TPP-Decoupled-Preferred
        in: header
        description: "If \"true\", TPP prefers decoupled SCA approach, if \"false\"\
          , it prefers not to use this approach"
        required: false
        style: simple
        explode: false
        schema:
          type: boolean
      - name: TPP-Explicit-Authorisation-Preferred
        in: header
        description: TPP prefers to start the authorisation process separately or
          no
        required: false
        style: simple
        explode: false
        schema:
          type: boolean
      - name: TPP-Nok-Redirect-URI
        in: header
        description: TPP is asking to redirect the transaction flow to this address
          instead of the TPP-Redirect-URI in case of a negative result of the redirect
          SCA method
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: TPP-Redirect-Preferred
        in: header
        description: "If \"true\", TPP prefers a redirect over an embedded SCA approach,\
          \ if \"false\", it prefers not to be redirected for SCA"
        required: false
        style: simple
        explode: false
        schema:
          type: boolean
      - name: TPP-Redirect-URI
        in: header
        description: "URI of the TPP, where the transaction flow shall be redirected\
          \ to after a Redirect"
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: TPP-Rejection-NoFunds-Preferred
        in: header
        description: If 'true' the TPP prefers a rejection of the payment initiation
          in case the ASPSP is providing an integrated confirmation of funds request
          an the result of this is that not sufficient funds are available. This header
          might be ignored by the ASPSP
        required: false
        style: simple
        explode: false
        schema:
          type: boolean
      - name: PSU-IP-Address
        in: header
        description: Real IP address of the PSU
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
        example: generate-me
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SepaBulkPaymentRequest'
        required: true
      responses:
        "201":
          description: Created
          headers:
            X-Request-ID:
              description: "ID of the request, unique to the call, as determined by\
                \ the initiating party"
              style: simple
              explode: false
              schema:
                type: string
                format: uuid
            ASPSP-SCA-Approach:
              description: SCA approach name
              style: simple
              explode: false
              schema:
                type: string
            Location:
              description: Location of the created resource
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentTransactionStatus'
        "4XX":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInformation'
  /xs2a/v1/bulk-payments/sepa-credit-transfers/{paymentId}:
    get:
      tags:
      - Payment Initiation Service (PIS)
      summary: Get payment information
      description: Returns the content of a payment object
      operationId: getPaymentInformation_2UsingGET
      parameters:
      - name: Authorization
        in: header
        description: Bearer Token contained only if an OAuth2 based SCA was performed
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU (identifying bank customer)
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID-Type
        in: header
        description: Type of the PSU-ID
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-IP-Address
        in: header
        description: Real IP address of the PSU
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
        example: generate-me
      - name: paymentId
        in: path
        description: Identifier of the payment
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          headers:
            X-Request-ID:
              description: "ID of the request, unique to the call, as determined by\
                \ the initiating party"
              style: simple
              explode: false
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SepaBulkPaymentResponse'
        "4XX":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInformation'
    delete:
      tags:
      - Payment Initiation Service (PIS)
      summary: Payment cancellation request
      description: This method initiates the cancellation of a payment
      operationId: revokePaymentUsingDELETE
      parameters:
      - name: Authorization
        in: header
        description: Bearer Token contained only if an OAuth2 based SCA was performed
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU (identifying bank customer)
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID-Type
        in: header
        description: Type of the PSU-ID
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-IP-Address
        in: header
        description: Real IP address of the PSU
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: TPP-Decoupled-Preferred
        in: header
        description: "If \"true\", TPP prefers decoupled SCA approach, if \"false\"\
          , it prefers not to use this approach"
        required: false
        style: simple
        explode: false
        schema:
          type: boolean
      - name: TPP-Explicit-Authorisation-Preferred
        in: header
        description: TPP prefers to start the authorisation process separately or
          no
        required: false
        style: simple
        explode: false
        schema:
          type: boolean
      - name: X-Request-ID
        in: header
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
        example: generate-me
      - name: paymentId
        in: path
        description: Identifier of the payment
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "202":
          description: Accepted
          headers:
            X-Request-ID:
              description: "ID of the request, unique to the call, as determined by\
                \ the initiating party"
              style: simple
              explode: false
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCancellationResponse'
        "204":
          description: No Content
          headers:
            X-Request-ID:
              description: "ID of the request, unique to the call, as determined by\
                \ the initiating party"
              style: simple
              explode: false
              schema:
                type: string
                format: uuid
        "4XX":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInformation'
  /xs2a/v1/bulk-payments/sepa-credit-transfers/{paymentId}/authorisations:
    get:
      tags:
      - Payment Initiation Service (PIS)
      summary: Get payment initiation authorisation sub-resources request
      description: |-
        Read a list of all authorisation subresources IDs which have been created.

        This function returns an array of hyperlinks to all generated authorisation sub-resources.
      operationId: getPaymentInitiationAuthorisation_2UsingGET
      parameters:
      - name: Authorization
        in: header
        description: Bearer Token contained only if an OAuth2 based SCA was performed
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU (identifying bank customer)
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID-Type
        in: header
        description: Type of the PSU-ID
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-IP-Address
        in: header
        description: Real IP address of the PSU
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
        example: generate-me
      - name: paymentId
        in: path
        description: Identifier of the payment
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          headers:
            X-Request-ID:
              description: "ID of the request, unique to the call, as determined by\
                \ the initiating party"
              style: simple
              explode: false
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorisationIdsResponse'
        "4XX":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInformation'
    post:
      tags:
      - Payment Initiation Service (PIS)
      summary: Start the authorisation process for a payment initiation
      description: Create an authorisation sub-resource and start the authorisation
        process
      operationId: startPaymentAuthorisation_2UsingPOST
      parameters:
      - name: Authorization
        in: header
        description: Bearer Token contained only if an OAuth2 based SCA was performed
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU (identifying bank customer)
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID-Type
        in: header
        description: Type of the PSU-ID
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-IP-Address
        in: header
        description: Real IP address of the PSU
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: TPP-Decoupled-Preferred
        in: header
        description: "If \"true\", TPP prefers decoupled SCA approach, if \"false\"\
          , it prefers not to use this approach"
        required: false
        style: simple
        explode: false
        schema:
          type: boolean
      - name: TPP-Nok-Redirect-URI
        in: header
        description: TPP is asking to redirect the transaction flow to this address
          instead of the TPP-Redirect-URI in case of a negative result of the redirect
          SCA method
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: TPP-Redirect-Preferred
        in: header
        description: "If \"true\", TPP prefers a redirect over an embedded SCA approach,\
          \ if \"false\", it prefers not to be redirected for SCA"
        required: false
        style: simple
        explode: false
        schema:
          type: boolean
      - name: TPP-Redirect-URI
        in: header
        description: "URI of the TPP, where the transaction flow shall be redirected\
          \ to after a Redirect"
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
        example: generate-me
      - name: paymentId
        in: path
        description: Identifier of the payment
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "201":
          description: Created
          headers:
            X-Request-ID:
              description: "ID of the request, unique to the call, as determined by\
                \ the initiating party"
              style: simple
              explode: false
              schema:
                type: string
                format: uuid
            ASPSP-SCA-Approach:
              description: SCA approach name
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAuthorisationResponse'
        "4XX":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInformation'
  /xs2a/v1/bulk-payments/sepa-credit-transfers/{paymentId}/authorisations/{authorisationId}:
    get:
      tags:
      - Payment Initiation Service (PIS)
      summary: Read the SCA status of the payment authorisation
      description: This method returns the SCA status of a payment initiation's authorisation
        sub-resource
      operationId: getPaymentInitiationScaStatus_2UsingGET
      parameters:
      - name: Authorization
        in: header
        description: Bearer Token contained only if an OAuth2 based SCA was performed
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU (identifying bank customer)
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID-Type
        in: header
        description: Type of the PSU-ID
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-IP-Address
        in: header
        description: Real IP address of the PSU
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
        example: generate-me
      - name: authorisationId
        in: path
        description: Identifier of the authorisation
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: paymentId
        in: path
        description: Identifier of the payment
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          headers:
            X-Request-ID:
              description: "ID of the request, unique to the call, as determined by\
                \ the initiating party"
              style: simple
              explode: false
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScaStatusResponse'
        "4XX":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInformation'
  /xs2a/v1/bulk-payments/sepa-credit-transfers/{paymentId}/status:
    get:
      tags:
      - Payment Initiation Service (PIS)
      summary: Payment initiation status request
      description: Check the transaction status of a payment initiation
      operationId: getPaymentInitiationStatus_2UsingGET
      parameters:
      - name: Authorization
        in: header
        description: Bearer Token contained only if an OAuth2 based SCA was performed
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU (identifying bank customer)
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID-Type
        in: header
        description: Type of the PSU-ID
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-IP-Address
        in: header
        description: Real IP address of the PSU
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
        example: generate-me
      - name: paymentId
        in: path
        description: Identifier of the payment
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          headers:
            X-Request-ID:
              description: "ID of the request, unique to the call, as determined by\
                \ the initiating party"
              style: simple
              explode: false
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentAuthenticationStatus'
        "4XX":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInformation'
  /xs2a/v1/payments/sepa-credit-transfers:
    post:
      tags:
      - Payment Initiation Service (PIS)
      summary: Payment initiation request
      description: This method is used to initiate a payment at the ASPSP
      operationId: initiatePayment_1UsingPOST
      parameters:
      - name: Authorization
        in: header
        description: Bearer Token contained only if an OAuth2 based SCA was performed
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU (identifying bank customer)
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID-Type
        in: header
        description: Type of the PSU-ID
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: TPP-Decoupled-Preferred
        in: header
        description: "If \"true\", TPP prefers decoupled SCA approach, if \"false\"\
          , it prefers not to use this approach"
        required: false
        style: simple
        explode: false
        schema:
          type: boolean
      - name: TPP-Explicit-Authorisation-Preferred
        in: header
        description: TPP prefers to start the authorisation process separately or
          no
        required: false
        style: simple
        explode: false
        schema:
          type: boolean
      - name: TPP-Nok-Redirect-URI
        in: header
        description: TPP is asking to redirect the transaction flow to this address
          instead of the TPP-Redirect-URI in case of a negative result of the redirect
          SCA method
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: TPP-Redirect-Preferred
        in: header
        description: "If \"true\", TPP prefers a redirect over an embedded SCA approach,\
          \ if \"false\", it prefers not to be redirected for SCA"
        required: false
        style: simple
        explode: false
        schema:
          type: boolean
      - name: TPP-Redirect-URI
        in: header
        description: "URI of the TPP, where the transaction flow shall be redirected\
          \ to after a Redirect"
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: TPP-Rejection-NoFunds-Preferred
        in: header
        description: If 'true' the TPP prefers a rejection of the payment initiation
          in case the ASPSP is providing an integrated confirmation of funds request
          an the result of this is that not sufficient funds are available. This header
          might be ignored by the ASPSP
        required: false
        style: simple
        explode: false
        schema:
          type: boolean
      - name: PSU-IP-Address
        in: header
        description: Real IP address of the PSU
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
        example: generate-me
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SepaSinglePaymentRequest'
        required: true
      responses:
        "201":
          description: Created
          headers:
            X-Request-ID:
              description: "ID of the request, unique to the call, as determined by\
                \ the initiating party"
              style: simple
              explode: false
              schema:
                type: string
                format: uuid
            ASPSP-SCA-Approach:
              description: SCA approach name
              style: simple
              explode: false
              schema:
                type: string
            Location:
              description: Location of the created resource
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentTransactionStatus'
        "4XX":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInformation'
  /xs2a/v1/payments/sepa-credit-transfers/{paymentId}:
    get:
      tags:
      - Payment Initiation Service (PIS)
      summary: Get payment information
      description: Returns the content of a payment object
      operationId: getPaymentInformation_1UsingGET
      parameters:
      - name: Authorization
        in: header
        description: Bearer Token contained only if an OAuth2 based SCA was performed
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU (identifying bank customer)
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID-Type
        in: header
        description: Type of the PSU-ID
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-IP-Address
        in: header
        description: Real IP address of the PSU
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
        example: generate-me
      - name: paymentId
        in: path
        description: Identifier of the payment
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          headers:
            X-Request-ID:
              description: "ID of the request, unique to the call, as determined by\
                \ the initiating party"
              style: simple
              explode: false
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SepaPaymentResponse'
        "4XX":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInformation'
    delete:
      tags:
      - Payment Initiation Service (PIS)
      summary: Payment cancellation request
      description: This method initiates the cancellation of a payment
      operationId: cancelPayment_1UsingDELETE
      parameters:
      - name: Authorization
        in: header
        description: Bearer Token contained only if an OAuth2 based SCA was performed
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU (identifying bank customer)
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID-Type
        in: header
        description: Type of the PSU-ID
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-IP-Address
        in: header
        description: Real IP address of the PSU
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: TPP-Decoupled-Preferred
        in: header
        description: "If \"true\", TPP prefers decoupled SCA approach, if \"false\"\
          , it prefers not to use this approach"
        required: false
        style: simple
        explode: false
        schema:
          type: boolean
      - name: TPP-Explicit-Authorisation-Preferred
        in: header
        description: TPP prefers to start the authorisation process separately or
          no
        required: false
        style: simple
        explode: false
        schema:
          type: boolean
      - name: X-Request-ID
        in: header
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
        example: generate-me
      - name: paymentId
        in: path
        description: Identifier of the payment
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "202":
          description: Accepted
          headers:
            X-Request-ID:
              description: "ID of the request, unique to the call, as determined by\
                \ the initiating party"
              style: simple
              explode: false
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCancellationResponse'
        "204":
          description: No Content
          headers:
            X-Request-ID:
              description: "ID of the request, unique to the call, as determined by\
                \ the initiating party"
              style: simple
              explode: false
              schema:
                type: string
                format: uuid
        "4XX":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInformation'
  /xs2a/v1/payments/sepa-credit-transfers/{paymentId}/authorisations:
    get:
      tags:
      - Payment Initiation Service (PIS)
      summary: Get payment initiation authorisation sub-resources request
      description: |-
        Read a list of all authorisation subresources IDs which have been created.

        This function returns an array of hyperlinks to all generated authorisation sub-resources.
      operationId: getPaymentInitiationAuthorisation_1UsingGET
      parameters:
      - name: Authorization
        in: header
        description: Bearer Token contained only if an OAuth2 based SCA was performed
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU (identifying bank customer)
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID-Type
        in: header
        description: Type of the PSU-ID
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-IP-Address
        in: header
        description: Real IP address of the PSU
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
        example: generate-me
      - name: paymentId
        in: path
        description: Identifier of the payment
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          headers:
            X-Request-ID:
              description: "ID of the request, unique to the call, as determined by\
                \ the initiating party"
              style: simple
              explode: false
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorisationIdsResponse'
        "4XX":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInformation'
    post:
      tags:
      - Payment Initiation Service (PIS)
      summary: Start the authorisation process for a payment initiation
      description: Create an authorisation sub-resource and start the authorisation
        process
      operationId: startPaymentAuthorisation_1UsingPOST
      parameters:
      - name: Authorization
        in: header
        description: Bearer Token contained only if an OAuth2 based SCA was performed
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU (identifying bank customer)
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID-Type
        in: header
        description: Type of the PSU-ID
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-IP-Address
        in: header
        description: Real IP address of the PSU
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: TPP-Decoupled-Preferred
        in: header
        description: "If \"true\", TPP prefers decoupled SCA approach, if \"false\"\
          , it prefers not to use this approach"
        required: false
        style: simple
        explode: false
        schema:
          type: boolean
      - name: TPP-Nok-Redirect-URI
        in: header
        description: TPP is asking to redirect the transaction flow to this address
          instead of the TPP-Redirect-URI in case of a negative result of the redirect
          SCA method
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: TPP-Redirect-Preferred
        in: header
        description: "If \"true\", TPP prefers a redirect over an embedded SCA approach,\
          \ if \"false\", it prefers not to be redirected for SCA"
        required: false
        style: simple
        explode: false
        schema:
          type: boolean
      - name: TPP-Redirect-URI
        in: header
        description: "URI of the TPP, where the transaction flow shall be redirected\
          \ to after a Redirect"
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
        example: generate-me
      - name: paymentId
        in: path
        description: Identifier of the payment
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "201":
          description: Created
          headers:
            X-Request-ID:
              description: "ID of the request, unique to the call, as determined by\
                \ the initiating party"
              style: simple
              explode: false
              schema:
                type: string
                format: uuid
            ASPSP-SCA-Approach:
              description: SCA approach name
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePaymentAuthorisationResponse'
        "4XX":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInformation'
  /xs2a/v1/payments/sepa-credit-transfers/{paymentId}/authorisations/{authorisationId}:
    get:
      tags:
      - Payment Initiation Service (PIS)
      summary: Read the SCA status of the payment authorisation
      description: This method returns the SCA status of a payment initiation's authorisation
        sub-resource
      operationId: getPaymentInitiationScaStatus_1UsingGET
      parameters:
      - name: Authorization
        in: header
        description: Bearer Token contained only if an OAuth2 based SCA was performed
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU (identifying bank customer)
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID-Type
        in: header
        description: Type of the PSU-ID
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-IP-Address
        in: header
        description: Real IP address of the PSU
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
        example: generate-me
      - name: authorisationId
        in: path
        description: Identifier of the authorisation
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: paymentId
        in: path
        description: Identifier of the payment
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          headers:
            X-Request-ID:
              description: "ID of the request, unique to the call, as determined by\
                \ the initiating party"
              style: simple
              explode: false
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScaStatusResponse'
        "4XX":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInformation'
  /xs2a/v1/payments/sepa-credit-transfers/{paymentId}/status:
    get:
      tags:
      - Payment Initiation Service (PIS)
      summary: Payment initiation status request
      description: Check the transaction status of a payment initiation
      operationId: getPaymentInitiationStatus_1UsingGET
      parameters:
      - name: Authorization
        in: header
        description: Bearer Token contained only if an OAuth2 based SCA was performed
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU (identifying bank customer)
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID-Type
        in: header
        description: Type of the PSU-ID
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-IP-Address
        in: header
        description: Real IP address of the PSU
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
        example: generate-me
      - name: paymentId
        in: path
        description: Identifier of the payment
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          headers:
            X-Request-ID:
              description: "ID of the request, unique to the call, as determined by\
                \ the initiating party"
              style: simple
              explode: false
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentAuthenticationStatus'
        "4XX":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInformation'
  /xs2a/v1/periodic-payments/sepa-credit-transfers:
    post:
      tags:
      - Payment Initiation Service (PIS)
      summary: Payment initiation request
      description: This method is used to initiate a payment at the ASPSP
      operationId: initiatePaymentUsingPOST
      parameters:
      - name: Authorization
        in: header
        description: Bearer Token contained only if an OAuth2 based SCA was performed
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU (identifying bank customer)
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID-Type
        in: header
        description: Type of the PSU-ID
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: TPP-Decoupled-Preferred
        in: header
        description: "If \"true\", TPP prefers decoupled SCA approach, if \"false\"\
          , it prefers not to use this approach"
        required: false
        style: simple
        explode: false
        schema:
          type: boolean
      - name: TPP-Explicit-Authorisation-Preferred
        in: header
        description: TPP prefers to start the authorisation process separately or
          no
        required: false
        style: simple
        explode: false
        schema:
          type: boolean
      - name: TPP-Nok-Redirect-URI
        in: header
        description: TPP is asking to redirect the transaction flow to this address
          instead of the TPP-Redirect-URI in case of a negative result of the redirect
          SCA method
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: TPP-Redirect-Preferred
        in: header
        description: "If \"true\", TPP prefers a redirect over an embedded SCA approach,\
          \ if \"false\", it prefers not to be redirected for SCA"
        required: false
        style: simple
        explode: false
        schema:
          type: boolean
      - name: TPP-Redirect-URI
        in: header
        description: "URI of the TPP, where the transaction flow shall be redirected\
          \ to after a Redirect"
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: TPP-Rejection-NoFunds-Preferred
        in: header
        description: If 'true' the TPP prefers a rejection of the payment initiation
          in case the ASPSP is providing an integrated confirmation of funds request
          an the result of this is that not sufficient funds are available. This header
          might be ignored by the ASPSP
        required: false
        style: simple
        explode: false
        schema:
          type: boolean
      - name: PSU-IP-Address
        in: header
        description: Real IP address of the PSU
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
        example: generate-me
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SepaPeriodicPaymentRequest'
        required: true
      responses:
        "201":
          description: Created
          headers:
            X-Request-ID:
              description: "ID of the request, unique to the call, as determined by\
                \ the initiating party"
              style: simple
              explode: false
              schema:
                type: string
                format: uuid
            ASPSP-SCA-Approach:
              description: SCA approach name
              style: simple
              explode: false
              schema:
                type: string
            Location:
              description: Location of the created resource
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentTransactionStatus'
        "4XX":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInformation'
  /xs2a/v1/periodic-payments/sepa-credit-transfers/{paymentId}:
    get:
      tags:
      - Payment Initiation Service (PIS)
      summary: Get payment information
      description: Returns the content of a payment object
      operationId: getPaymentInformationUsingGET
      parameters:
      - name: Authorization
        in: header
        description: Bearer Token contained only if an OAuth2 based SCA was performed
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU (identifying bank customer)
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID-Type
        in: header
        description: Type of the PSU-ID
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-IP-Address
        in: header
        description: Real IP address of the PSU
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
        example: generate-me
      - name: paymentId
        in: path
        description: Identifier of the payment
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          headers:
            X-Request-ID:
              description: "ID of the request, unique to the call, as determined by\
                \ the initiating party"
              style: simple
              explode: false
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SepaPeriodicPaymentResponse'
        "4XX":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInformation'
    delete:
      tags:
      - Payment Initiation Service (PIS)
      summary: Payment cancellation request
      description: This method initiates the cancellation of a payment
      operationId: cancelPaymentUsingDELETE
      parameters:
      - name: Authorization
        in: header
        description: Bearer Token contained only if an OAuth2 based SCA was performed
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU (identifying bank customer)
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID-Type
        in: header
        description: Type of the PSU-ID
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-IP-Address
        in: header
        description: Real IP address of the PSU
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: TPP-Decoupled-Preferred
        in: header
        description: "If \"true\", TPP prefers decoupled SCA approach, if \"false\"\
          , it prefers not to use this approach"
        required: false
        style: simple
        explode: false
        schema:
          type: boolean
      - name: TPP-Explicit-Authorisation-Preferred
        in: header
        description: TPP prefers to start the authorisation process separately or
          no
        required: false
        style: simple
        explode: false
        schema:
          type: boolean
      - name: X-Request-ID
        in: header
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
        example: generate-me
      - name: paymentId
        in: path
        description: Identifier of the payment
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "202":
          description: Accepted
          headers:
            X-Request-ID:
              description: "ID of the request, unique to the call, as determined by\
                \ the initiating party"
              style: simple
              explode: false
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCancellationResponse'
        "204":
          description: No Content
          headers:
            X-Request-ID:
              description: "ID of the request, unique to the call, as determined by\
                \ the initiating party"
              style: simple
              explode: false
              schema:
                type: string
                format: uuid
        "4XX":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInformation'
  /xs2a/v1/periodic-payments/sepa-credit-transfers/{paymentId}/authorisations:
    get:
      tags:
      - Payment Initiation Service (PIS)
      summary: Get payment initiation authorisation sub-resources request
      description: |-
        Read a list of all authorisation subresources IDs which have been created.

        This function returns an array of hyperlinks to all generated authorisation sub-resources.
      operationId: getPaymentInitiationAuthorisationUsingGET
      parameters:
      - name: Authorization
        in: header
        description: Bearer Token contained only if an OAuth2 based SCA was performed
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU (identifying bank customer)
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID-Type
        in: header
        description: Type of the PSU-ID
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-IP-Address
        in: header
        description: Real IP address of the PSU
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
        example: generate-me
      - name: paymentId
        in: path
        description: Identifier of the payment
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          headers:
            X-Request-ID:
              description: "ID of the request, unique to the call, as determined by\
                \ the initiating party"
              style: simple
              explode: false
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorisationIdsResponse'
        "4XX":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInformation'
    post:
      tags:
      - Payment Initiation Service (PIS)
      summary: Start the authorisation process for a payment initiation
      description: Create an authorisation sub-resource and start the authorisation
        process
      operationId: startPaymentAuthorisationUsingPOST
      parameters:
      - name: Authorization
        in: header
        description: Bearer Token contained only if an OAuth2 based SCA was performed
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU (identifying bank customer)
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID-Type
        in: header
        description: Type of the PSU-ID
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-IP-Address
        in: header
        description: Real IP address of the PSU
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: TPP-Decoupled-Preferred
        in: header
        description: "If \"true\", TPP prefers decoupled SCA approach, if \"false\"\
          , it prefers not to use this approach"
        required: false
        style: simple
        explode: false
        schema:
          type: boolean
      - name: TPP-Nok-Redirect-URI
        in: header
        description: TPP is asking to redirect the transaction flow to this address
          instead of the TPP-Redirect-URI in case of a negative result of the redirect
          SCA method
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: TPP-Redirect-Preferred
        in: header
        description: "If \"true\", TPP prefers a redirect over an embedded SCA approach,\
          \ if \"false\", it prefers not to be redirected for SCA"
        required: false
        style: simple
        explode: false
        schema:
          type: boolean
      - name: TPP-Redirect-URI
        in: header
        description: "URI of the TPP, where the transaction flow shall be redirected\
          \ to after a Redirect"
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
        example: generate-me
      - name: paymentId
        in: path
        description: Identifier of the payment
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "201":
          description: Created
          headers:
            X-Request-ID:
              description: "ID of the request, unique to the call, as determined by\
                \ the initiating party"
              style: simple
              explode: false
              schema:
                type: string
                format: uuid
            ASPSP-SCA-Approach:
              description: SCA approach name
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePaymentAuthorisationResponse'
        "4XX":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInformation'
  /xs2a/v1/periodic-payments/sepa-credit-transfers/{paymentId}/authorisations/{authorisationId}:
    get:
      tags:
      - Payment Initiation Service (PIS)
      summary: Read the SCA status of the payment authorisation
      description: This method returns the SCA status of a payment initiation's authorisation
        sub-resource
      operationId: getPaymentInitiationScaStatusUsingGET
      parameters:
      - name: Authorization
        in: header
        description: Bearer Token contained only if an OAuth2 based SCA was performed
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU (identifying bank customer)
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID-Type
        in: header
        description: Type of the PSU-ID
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-IP-Address
        in: header
        description: Real IP address of the PSU
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
        example: generate-me
      - name: authorisationId
        in: path
        description: Identifier of the authorisation
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: paymentId
        in: path
        description: Identifier of the payment
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          headers:
            X-Request-ID:
              description: "ID of the request, unique to the call, as determined by\
                \ the initiating party"
              style: simple
              explode: false
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScaStatusResponse'
        "4XX":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInformation'
  /xs2a/v1/periodic-payments/sepa-credit-transfers/{paymentId}/status:
    get:
      tags:
      - Payment Initiation Service (PIS)
      summary: Payment initiation status request
      description: Check the transaction status of a payment initiation
      operationId: getPaymentInitiationStatusUsingGET
      parameters:
      - name: Authorization
        in: header
        description: Bearer Token contained only if an OAuth2 based SCA was performed
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU (identifying bank customer)
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-ID-Type
        in: header
        description: Type of the PSU-ID
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: PSU-IP-Address
        in: header
        description: Real IP address of the PSU
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
        example: generate-me
      - name: paymentId
        in: path
        description: Identifier of the payment
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          headers:
            X-Request-ID:
              description: "ID of the request, unique to the call, as determined by\
                \ the initiating party"
              style: simple
              explode: false
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentAuthenticationStatus'
        "4XX":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInformation'
components:
  schemas:
    AccountAccess:
      type: object
      properties:
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/AccountReference'
        balances:
          type: array
          items:
            $ref: '#/components/schemas/AccountReference'
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/AccountReference'
        additionalInformation:
          $ref: '#/components/schemas/AdditionalInformationAccess'
        availableAccounts:
          type: string
          enum:
          - allAccounts
          - allAccountsWithOwnerName
        availableAccountsWithBalance:
          type: string
          enum:
          - allAccounts
          - allAccountsWithOwnerName
        allPsd2:
          type: string
          enum:
          - allAccounts
          - allAccountsWithOwnerName
      description: Account Access
    AccountDetailsResponse:
      required:
      - currency
      - resourceId
      type: object
      properties:
        resourceId:
          type: string
          description: Id of the account
[...]
