{
    "openapi": "3.0.1",
    "info": {
        "title": "SIX Web API (prod)",
        "description": "All APIs about instruments",
        "contact": {
            "name": "SIX Web API Team 🚀",
            "url": "https://web.apiportal.six-group.com/portal/bfi/"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://web.api.six-group.com"
        }
    ],
    "security": [
        {
            "mutualTLS": [
                "mTLS is required to make API calls. It can be requested to SIX via the Dev Portal."
            ]
        }
    ],
    "paths": {
        "/api/findata/v1/instruments/referenceData/instrumentBase": {
            "get": {
                "tags": [
                    "referenceData"
                ],
                "description": "REST API for Instrument Base by any supported scheme",
                "operationId": "instrumentsBase",
                "parameters": [
                    {
                        "name": "scheme",
                        "in": "query",
                        "description": "Scheme of the Instrument Identifier.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ISIN",
                                "SEDOL",
                                "CUSIP",
                                "CINS",
                                "WKN",
                                "VALOR",
                                "COMMONCODE",
                                "TICKER_BC"
                            ]
                        },
                        "example": "ISIN"
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "Instrument Identification to be provided by client as input parameter.",
                            "format": "comma separated values"
                        },
                        "examples": {
                            "An example request with 6 existing instrument ISINs and 1 not found instrument ISIN": {
                                "summary": "CH0009980894,IE00B5BMR087,CH0559601544,US0378331005,JE00B1VS3770,US037833AK68,XXX",
                                "description": "An example request with 6 existing instrument ISINs and 1 not found instrument ISIN",
                                "value": "CH0009980894,IE00B5BMR087,CH0559601544,US0378331005,JE00B1VS3770,US037833AK68,XXX"
                            }
                        }
                    },
                    {
                        "name": "preferredLanguage",
                        "in": "query",
                        "description": "Language in ISO 639 alpha-2 code for string fields where content in different languages is available.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "EN",
                                "DE",
                                "FR",
                                "IT"
                            ]
                        },
                        "example": "EN"
                    },
                    {
                        "name": "extensions",
                        "in": "query",
                        "description": "Select Extensions to know more about the GraphQL query, Data Status and Dataset IDs. EXPLAIN = include the equivalent GraphQL query in the REST API response.",
                        "required": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "description": "Optional metadata to be returned in the response",
                                "enum": [
                                    "EXPLAIN",
                                    "DATA_STATUS",
                                    "DATASET_IDS"
                                ]
                            }
                        },
                        "example": "EXPLAIN"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "api-version": {
                                "description": "The API version of the response",
                                "required": true,
                                "schema": {
                                    "type": "string",
                                    "format": "date"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InstrumentsBaseTopLevelV1"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers": {
                            "ratelimit-limit": {
                                "description": "The maximum number of requests in the current window",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            },
                            "ratelimit-remaining": {
                                "description": "The number of requests remaining in the current rate limit window",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            },
                            "retry-after": {
                                "description": "How long to wait before making a follow-up request (in seconds)",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "example": {
                                    "message": "No required TLS certificate was sent"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "headers": {
                            "ratelimit-limit": {
                                "description": "The maximum number of requests in the current window",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            },
                            "ratelimit-remaining": {
                                "description": "The number of requests remaining in the current rate limit window",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            },
                            "retry-after": {
                                "description": "How long to wait before making a follow-up request (in seconds)",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "example": {
                                    "message": "Forbidden"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "headers": {
                            "ratelimit-limit": {
                                "description": "The maximum number of requests in the current window",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            },
                            "ratelimit-remaining": {
                                "description": "The number of requests remaining in the current rate limit window",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            },
                            "retry-after": {
                                "description": "How long to wait before making a follow-up request (in seconds)",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "example": {
                                    "message": "API rate limit exceeded"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers": {
                            "ratelimit-limit": {
                                "description": "The maximum number of requests in the current window",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            },
                            "ratelimit-remaining": {
                                "description": "The number of requests remaining in the current rate limit window",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            },
                            "retry-after": {
                                "description": "How long to wait before making a follow-up request (in seconds)",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "headers": {
                            "ratelimit-limit": {
                                "description": "The maximum number of requests in the current window",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            },
                            "ratelimit-remaining": {
                                "description": "The number of requests remaining in the current rate limit window",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            },
                            "retry-after": {
                                "description": "How long to wait before making a follow-up request (in seconds)",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "api-version",
                    "in": "header",
                    "description": "The API version is represented as a date in ISO 8601 format. If not explicitly specified, the system will default to the latest version available. Valid versions: 2022-01-01, 2023-01-01, 2024-01-01, 2024-03-01, 2024-06-01, 2024-08-01",
                    "required": false,
                    "style": "simple",
                    "schema": {
                        "type": "string",
                        "format": "date"
                    },
                    "example": "2024-08-01"
                }
            ]
        },
        "/api/findata/v1/listings/referenceData/instrumentBase": {
            "get": {
                "tags": [
                    "referenceData"
                ],
                "description": "REST API for Listing Instrument Base by any supported scheme",
                "operationId": "instrumentBase",
                "parameters": [
                    {
                        "name": "scheme",
                        "in": "query",
                        "description": "Scheme of the Listing Identifier. It is a combination of the instrument scheme and the market scheme separated by underscore.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ISIN_BC",
                                "VALOR_BC",
                                "SEDOL_BC",
                                "CUSIP_BC",
                                "TICKER_BC",
                                "CINS_BC",
                                "COMMONCODE_BC",
                                "WKN_BC"
                            ]
                        },
                        "example": "VALOR_BC"
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "Listing Identifier to be provided by client as input parameter. Several identifiers can be requested comma-separated.",
                            "format": "comma separated values"
                        },
                        "examples": {
                            "An example request with ABB stock on the Swiss Market and APPL stock on Nasdaq": {
                                "summary": "ABBN on Swiss Market and AAPL on Nasdaq",
                                "description": "An example request with ABB stock on the Swiss Market and APPL stock on Nasdaq",
                                "value": "1222171_4,908440_67"
                            },
                            "An example request with ABB stock on the Swiss Market": {
                                "summary": "ABBN on Swiss Market",
                                "description": "An example request with ABB stock on the Swiss Market",
                                "value": "1222171_4"
                            }
                        }
                    },
                    {
                        "name": "preferredLanguage",
                        "in": "query",
                        "description": "Language in ISO 639 for string fields where content in different languages is available.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "EN",
                                "DE",
                                "FR",
                                "IT"
                            ]
                        },
                        "example": "EN"
                    },
                    {
                        "name": "extensions",
                        "in": "query",
                        "description": "Select Extensions to know more about the GraphQL query, Data Status and Dataset IDs. EXPLAIN = include the equivalent GraphQL query in the REST API response.",
                        "required": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "description": "Optional metadata to be returned in the response",
                                "enum": [
                                    "EXPLAIN",
                                    "DATA_STATUS",
                                    "DATASET_IDS"
                                ]
                            }
                        },
                        "example": "EXPLAIN"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "api-version": {
                                "description": "The API version of the response",
                                "required": true,
                                "schema": {
                                    "type": "string",
                                    "format": "date"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InstrumentBaseByListingTopLevelV1"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "headers": {
                            "ratelimit-limit": {
                                "description": "The maximum number of requests in the current window",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            },
                            "ratelimit-remaining": {
                                "description": "The number of requests remaining in the current rate limit window",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            },
                            "retry-after": {
                                "description": "How long to wait before making a follow-up request (in seconds)",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "example": {
                                    "message": "No required TLS certificate was sent"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "headers": {
                            "ratelimit-limit": {
                                "description": "The maximum number of requests in the current window",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            },
                            "ratelimit-remaining": {
                                "description": "The number of requests remaining in the current rate limit window",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            },
                            "retry-after": {
                                "description": "How long to wait before making a follow-up request (in seconds)",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "example": {
                                    "message": "Forbidden"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "headers": {
                            "ratelimit-limit": {
                                "description": "The maximum number of requests in the current window",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            },
                            "ratelimit-remaining": {
                                "description": "The number of requests remaining in the current rate limit window",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            },
                            "retry-after": {
                                "description": "How long to wait before making a follow-up request (in seconds)",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "example": {
                                    "message": "API rate limit exceeded"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "headers": {
                            "ratelimit-limit": {
                                "description": "The maximum number of requests in the current window",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            },
                            "ratelimit-remaining": {
                                "description": "The number of requests remaining in the current rate limit window",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            },
                            "retry-after": {
                                "description": "How long to wait before making a follow-up request (in seconds)",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "headers": {
                            "ratelimit-limit": {
                                "description": "The maximum number of requests in the current window",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            },
                            "ratelimit-remaining": {
                                "description": "The number of requests remaining in the current rate limit window",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            },
                            "retry-after": {
                                "description": "How long to wait before making a follow-up request (in seconds)",
                                "required": true,
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "api-version",
                    "in": "header",
                    "description": "The API version is represented as a date in ISO 8601 format. If not explicitly specified, the system will default to the latest version available. Valid versions: 2022-01-01, 2023-01-01, 2024-01-01, 2024-03-01, 2024-06-01, 2024-08-01",
                    "required": false,
                    "style": "simple",
                    "schema": {
                        "type": "string",
                        "format": "date"
                    },
                    "example": "2024-08-01"
                }
            ]
        }
    },
    "components": {
        "schemas": {
            "Details": {
                "type": "object",
                "properties": {
                    "correlationId": {
                        "type": "string"
                    },
                    "userId": {
                        "type": "string"
                    }
                }
            },
            "ErrorDetail": {
                "required": [
                    "category",
                    "code",
                    "message"
                ],
                "type": "object",
                "properties": {
                    "category": {
                        "type": "string",
                        "description": "Error categories",
                        "example": "VALIDATION_ERROR",
                        "enum": [
                            "ENTITLEMENT_ERROR",
                            "VALIDATION_ERROR",
                            "DATA_FETCHING_ERROR",
                            "HTTP_ERROR",
                            "OTHER"
                        ]
                    },
                    "code": {
                        "type": "string",
                        "description": "code is used to identify the error",
                        "example": "CANNOT_CONVERT_PARAMETER",
                        "enum": [
                            "ACCESS_DENIED",
                            "TIMEOUT",
                            "INVALID_PERIOD",
                            "INVALID_RANGE",
                            "INVALID_CRITERIA",
                            "NO_DATA",
                            "PARAMETER_NOT_READABLE",
                            "PARAMETER_REQUIRED",
                            "DATA_REPORT_ERROR",
                            "QUOTA_LIMIT_EXCEEDED",
                            "INTERNAL_SERVICE_ERROR",
                            "REQUEST_NOT_ALLOWED",
                            "TOO_MANY_OPERATIONS",
                            "DUPLICATE_STREAM_ID",
                            "OTHER"
                        ]
                    },
                    "message": {
                        "type": "string",
                        "description": "a human readable description of the error",
                        "example": "missing header 'X-HEADER'"
                    },
                    "hint": {
                        "$ref": "#/components/schemas/Hint"
                    }
                },
                "description": "A machine/human readable description of an error."
            },
            "Explain": {
                "required": [
                    "query",
                    "variables"
                ],
                "type": "object",
                "properties": {
                    "query": {
                        "type": "string"
                    },
                    "variables": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "object"
                        }
                    }
                },
                "description": "Exposes the internal GraphQL query details behind a given REST request. Could be useful to migrate from REST to GraphQL (e.g. to customize the shape of the response). Disabled by default."
            },
            "ExtensionsData": {
                "type": "object",
                "properties": {
                    "explain": {
                        "$ref": "#/components/schemas/Explain"
                    },
                    "dataStatus": {
                        "type": "object",
                        "properties": {
                            "topLevel": {
                                "type": "string"
                            },
                            "dataStatus": {
                                "type": "array",
                                "items": {
                                    "type": "object"
                                }
                            },
                            "empty": {
                                "type": "boolean"
                            }
                        },
                        "additionalProperties": {
                            "type": "object"
                        }
                    },
                    "datasetIds": {
                        "type": "object",
                        "properties": {
                            "topLevel": {
                                "type": "string"
                            },
                            "datasetIds": {
                                "type": "array",
                                "items": {
                                    "type": "object"
                                }
                            },
                            "empty": {
                                "type": "boolean"
                            }
                        },
                        "additionalProperties": {
                            "type": "object"
                        }
                    },
                    "details": {
                        "$ref": "#/components/schemas/Details"
                    }
                }
            },
            "Hint": {
                "required": [
                    "data",
                    "type"
                ],
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "enum": [
                            "ALLOWED_RANGE",
                            "ALLOWED_VALUES",
                            "CONTACT_SIX"
                        ]
                    },
                    "data": {
                        "type": "object"
                    }
                },
                "description": "a machine readable description of the error"
            },
            "InstrumentBaseByListingInstrumentBaseV1": {
                "required": [
                    "instrumentNamePrefix",
                    "instrumentShortName",
                    "instrumentStatus",
                    "instrumentType",
                    "securityType",
                    "valor"
                ],
                "type": "object",
                "properties": {
                    "instrumentShortName": {
                        "type": "string",
                        "description": "Instrument short name."
                    },
                    "instrumentNamePrefix": {
                        "type": "string",
                        "description": "Prefix Instrument classification in textual form."
                    },
                    "instrumentNameSuffix": {
                        "type": "string",
                        "description": "Additional instrument type classifications in textual form."
                    },
                    "instrumentProductName": {
                        "type": "string",
                        "description": "A free-form descriptive name of the instrument, assigned by the issuer. E.g. 6 % Reversy on XYZ Ltd."
                    },
                    "valor": {
                        "type": "integer",
                        "description": "Official national instrument identifier assigned by the National Numbering Agency responsible for Switzerland: SIX Financial Information.",
                        "format": "int64"
                    },
                    "isin": {
                        "type": "string",
                        "description": "The International Securities Identification Number (ISIN) is a universally recognized and standardized code that uniquely identifies a financial instrument.  Its structure is defined in ISO 6166."
                    },
                    "instrumentType": {
                        "type": "string",
                        "description": "Instrument classification allocated by SIX Financial Information. The Instrument Type embodies a more granular categorization compared to the Security Type.",
                        "enum": [
                            "BOND",
                            "EQUITY",
                            "MTN",
                            "INSURANCE_POLICY",
                            "STRUCTURED_PRODUCT",
                            "TRUST_SHARE",
                            "INTEREST_RATE",
                            "RIGHT",
                            "CURRENCY",
                            "TRUST_CERT_FOUNDATION",
                            "TRUST_CERT_SHARE",
                            "SAVINGS_BOOK",
                            "REPO",
                            "FORWARD_TRANSACTION",
                            "COMBINED_TRANSACTION",
                            "FRN",
                            "LEVERAGED_PRODUCT",
                            "REPO_BASKET",
                            "ETD",
                            "FUTURE",
                            "MONEY_MARKET_INSTRUMENT",
                            "COMMODITY",
                            "CONVERTIBLE_BOND",
                            "INDEX",
                            "OPTION",
                            "TECHNICAL_CURRENCY",
                            "OTHER"
                        ]
                    },
                    "securityType": {
                        "type": "string",
                        "description": "Security classification allocated by SIX Financial Information.  The Security Type embodies a broader categoriatzion compared to the Instrument Type, specifially tailored for optimal presentation in display applications.",
                        "enum": [
                            "DEBT",
                            "EQUITY",
                            "INVESTMENT_TRUST_UNIT_SHARE",
                            "ETD",
                            "LEVERAGED_PRODUCT_SUBSCRIPTION_RIGHT",
                            "CURRENCY",
                            "INDEX",
                            "INTEREST_RATE",
                            "COMMODITY",
                            "STRUCTURED_PRODUCT",
                            "ETD_CONTRACT_SPECIFICATION",
                            "OTHER"
                        ]
                    },
                    "instrumentStatus": {
                        "type": "string",
                        "description": "Status indicating whether an instrument is active or not. Provided that the instrument is still active, this may include further information such as \"in default\" or \"In liquidation/dissolution\".",
                        "enum": [
                            "NOT_YET_ISSUED",
                            "INACTIVE",
                            "IN_LIQUIDATION_DISSOLUTION",
                            "ACTIVE",
                            "IN_DEFAULT",
                            "OTHER"
                        ]
                    },
                    "language": {
                        "type": "string",
                        "description": "Main language applicable to the financial instrument according to ISO 639 alpha-2 code. It can be different from the issuing company's main language.",
                        "enum": [
                            "EN",
                            "DE",
                            "FR",
                            "IT"
                        ]
                    },
                    "issuer": {
                        "$ref": "#/components/schemas/InstrumentBaseByListingIssuerV1"
                    },
                    "mostLiquidMarket": {
                        "$ref": "#/components/schemas/InstrumentBaseByListingMostLiquidMarketV1"
                    },
                    "nominalAmount": {
                        "type": "number",
                        "description": "Nominal amount or par value of an instrument (e.g. 100 for a share with a nominal value of CHF 100). For debt instruments, only the currency but no nominal value is issued.",
                        "format": "double"
                    },
                    "nominalCurrency": {
                        "type": "string",
                        "description": "Nominal currency, as specified by SIX, typically follows the ISO 4217 alpha-3 code. For cryptocurrencies, the Cryptocurrency Symbol in Instrument Symbology can be used for reference."
                    },
                    "nominalPaidUp": {
                        "type": "number",
                        "description": "If the instrument is partly paid-up as opposed to fully paid-up, the currently paid-in amount is recorded here. No entry is made for fully paid-up instruments.",
                        "format": "double"
                    },
                    "instrumentUnitType": {
                        "type": "string",
                        "description": "Indicates the unit of measurement in which the instrument quantity is expressed: Per instrument or per nominal. For prices, this is the unit in which the instrument is traded.",
                        "enum": [
                            "NOMINAL",
                            "PIECE_UNIT",
                            "OTHER"
                        ]
                    },
                    "instrumentUnitSize": {
                        "type": "number",
                        "description": "It indicates the smallest denominations. Break-down of debt instrument by their nominal values (in Switzerland usually CHF 1000 and CHF 5000). For trusts the decimal places are indicated here, e.g. \",001\" for proportions with fractions of 3 decimal places.",
                        "format": "double"
                    },
                    "currentCouponRate": {
                        "type": "number",
                        "description": "Current interest rate.",
                        "format": "double"
                    },
                    "currentCouponType": {
                        "type": "string",
                        "description": "Represents the characteristics of an interest payment made for an instrument. Interest payments are regular payments, their amounts are either fixed or depend on certain reference sizes such as reference interest rates.",
                        "enum": [
                            "FIXED",
                            "VARIABLE",
                            "OPTIONAL_PAYMENT",
                            "OTHER"
                        ]
                    },
                    "maturityDate": {
                        "type": "string",
                        "description": "Latest possible redemption date provided in the prospectus according to ISO 8601. This applies to all instruments for which only one maturity date was stated. If several dates were provided for the financial instrument (e.g. for ABS / Asset-Backed Securities), i.e. an expected maturity and a legal maturity, then this field will contain the date of the earliest possible maturity (Expected Maturity).",
                        "format": "date"
                    },
                    "maturityType": {
                        "type": "string",
                        "description": "Indicates whether an instrument has a fixed final expiry date or none at all",
                        "enum": [
                            "FIXED_EXPIRATION_OR_EARLIER",
                            "NO_EXPIRATION_DATE",
                            "EXPIRATION_FIXED_IN_ADVANCE",
                            "OTHER"
                        ]
                    },
                    "baseCurrency": {
                        "type": "string",
                        "description": "Base currency, as specified by SIX, typically follows the ISO 4217 alpha-3 code. For cryptocurrencies, the Cryptocurrency Symbol in Instrument Symbology can be used for reference."
                    },
                    "tradingCurrency": {
                        "type": "string",
                        "description": "Trading currency, as specified by SIX, typically follows the ISO 4217 alpha-3 code. For cryptocurrencies, the Cryptocurrency Symbol in Instrument Symbology can be used for reference."
                    },
                    "baseCryptoSymbol": {
                        "type": "string",
                        "description": "Base cryptocurrency symbol used in currency dealings."
                    },
                    "tradingCryptoSymbol": {
                        "type": "string",
                        "description": "Trading cryptocurrency symbol used in currency dealings."
                    },
                    "contractType": {
                        "type": "string",
                        "description": "Indicates the type of underlying to which the exchange-traded derivatives relates (e.g. ETD on interest, etc.).",
                        "enum": [
                            "ETD_ON_EQUITY",
                            "ETD_ON_INDEX",
                            "ETD_ON_INTEREST",
                            "ETD_ON_CURRENCY",
                            "ETD_ON_PRECIOUS_METAL",
                            "ETD_ON_FUTURE",
                            "ETD_ON_OPTION",
                            "ETD_ON_BASKET",
                            "ETD_ON_SWAP",
                            "ETD_ON_COMMODITY",
                            "ETD_ON_BOND",
                            "ETD_ON_FUND",
                            "ETD_ON_STRUCTURED_INSTRUMENT",
                            "ETD_ON_STRATEGY",
                            "ETD_ON_DIVIDEND",
                            "RELATIVE_PRICE_TRANSACTION_ON_ETD",
                            "ETD_ON_EQUITY_TOTAL_RETURN",
                            "OTHER"
                        ]
                    },
                    "contractSymbol": {
                        "type": "string",
                        "description": "Identification used by the exchange to identify the specification of a contract. In some markets also known as Product Code."
                    },
                    "underlyingInstrument": {
                        "$ref": "#/components/schemas/InstrumentBaseByListingUnderlyingInstrumentV1"
                    },
                    "ultimateUnderlyingInstrument": {
                        "$ref": "#/components/schemas/InstrumentBaseByListingUltimateUnderlyingInstrumentV1"
                    },
                    "optionType": {
                        "type": "string",
                        "description": "Defines the type of the option from an investor's point of view. E.g. right to purchase (call), right to sell (put).",
                        "enum": [
                            "CALL",
                            "PUT",
                            "CONVERSION_RIGHT",
                            "MANDATORY_CONVERSION",
                            "CONTINGENT_CONVERTIBLES_COCO",
                            "OTHER"
                        ]
                    },
                    "optionStrikePrice": {
                        "type": "number",
                        "description": "Price at which the holder of a call option can buy the underlying securities or the holder of a put option can sell. Also referred to as exercise price. Depending on the product type, strike prices define whether an embedded option in the product is \"in the money\" or not.",
                        "format": "double"
                    },
                    "optionStrikePriceCurrency": {
                        "type": "string",
                        "description": "Strike Price Currency, as specified by SIX, typically follows the ISO 4217 alpha-3 code. For cryptocurrencies, the Cryptocurrency Symbol in Instrument Symbology can be used for reference."
                    },
                    "exerciseType": {
                        "type": "string",
                        "description": "American style: Can be exercised at any time for the whole period - the data \"exercise from\" and \"exercise until\" are thus different. European style: Exercise at maturity or expiry. In this case the data \"exercise from\" and \"exercise until\" are identical. Bermuda style: Exercise on pre-defined days within an entire period of exercise.",
                        "enum": [
                            "AMERICAN",
                            "EUROPEAN",
                            "BERMUDA",
                            "OTHER"
                        ]
                    },
                    "expirationDate": {
                        "type": "string",
                        "description": "The date by which an option contract is abandoned and becomes worthless unless it is exercised.",
                        "format": "date"
                    },
                    "contractSize": {
                        "type": "number",
                        "description": "Indicates the quantity of underlying instruments or the notional amount of the contract. At issuance, for ETDs on equity this amount is identical with the Contract Multiplier. After an adjustment, the Contract Size can change and may be different to the Contract Multiplier.",
                        "format": "double"
                    },
                    "contractUnitType": {
                        "type": "string",
                        "description": "Type of quantity the Contract Size and Contract Multiplier refer to.",
                        "enum": [
                            "NOMINAL",
                            "PIECE_UNIT",
                            "CONTRACT",
                            "PHYSICAL_UNIT",
                            "INDEX_POINT",
                            "NOMINAL_CURRENCY_UNIT_PER_INDEX_POINT",
                            "RATIO",
                            "POUND_LB",
                            "METRIC_TONNE",
                            "GRAM",
                            "KILOGRAM",
                            "OUNCE",
                            "BUSHEL",
                            "GALLON",
                            "GIGAWATT_HOURS_GWH",
                            "CUBIC_METERS_M3",
                            "SACK",
                            "BARREL",
                            "TAEL",
                            "TOLA",
                            "TROY_OUNCE",
                            "MEGAWATT",
                            "ARROBA",
                            "HUNDREDWEIGHT_CWT",
                            "MMBTU",
                            "BOARD_FOOT",
                            "BAHT",
                            "KILOWATT_HOURS_KWH",
                            "MEGAWATT_HOURS_MWH",
                            "OTHER"
                        ]
                    },
                    "contractMultiplier": {
                        "type": "number",
                        "description": "The multiplier is the stated quantity or value to calculate the total contract value based on the quoted price.",
                        "format": "double"
                    },
                    "sixVersionNumber": {
                        "type": "integer",
                        "description": "SIX Financial Information assigns this version number to a contract. After changes in capital or other corporate actions a new version of an option or a future can be created and the version number is increased accordingly.",
                        "format": "int32"
                    }
                }
            },
            "InstrumentBaseByListingIssuerV1": {
                "required": [
                    "gk"
                ],
                "type": "object",
                "properties": {
                    "shortName": {
                        "type": "string",
                        "description": "Legal entity short name."
                    },
                    "longName": {
                        "type": "string",
                        "description": "Legal entity long name."
                    },
                    "lei": {
                        "type": "string",
                        "description": "The Legal Entity Identifier (LEI) is a 20-digit alphanumeric code to identify a legal entity. The structure is defined in ISO 17442."
                    },
                    "gk": {
                        "type": "integer",
                        "description": "The SIX Financial Information identifier (GK) of the legal entity.",
                        "format": "int64"
                    }
                },
                "description": "Issuer is a legal entity that develops, registers and sells securities to finance its operations. Issuers may be corporations, investment trusts, or domestic or foreign governments. This is the present-day issuer of the financial instrument."
            },
            "InstrumentBaseByListingListingsDataV1": {
                "type": "object",
                "properties": {
                    "listings": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/InstrumentBaseByListingListingsItemV1"
                        }
                    }
                }
            },
            "InstrumentBaseByListingListingsItemV1": {
                "required": [
                    "lookupStatus",
                    "requestedId",
                    "requestedScheme"
                ],
                "type": "object",
                "properties": {
                    "requestedId": {
                        "type": "string",
                        "description": "The requested entity id used in the request"
                    },
                    "requestedScheme": {
                        "type": "string",
                        "description": "The requested scheme used in the request",
                        "enum": [
                            "ISIN_BC",
                            "VALOR_BC",
                            "SEDOL_BC",
                            "CUSIP_BC",
                            "TICKER_BC",
                            "CINS_BC",
                            "COMMONCODE_BC",
                            "WKN_BC"
                        ]
                    },
                    "lookupStatus": {
                        "type": "string",
                        "description": "Status of the response",
                        "enum": [
                            "FOUND",
                            "NOT_FOUND",
                            "NOT_AUTHORIZED",
                            "NOT_VALID_ID"
                        ]
                    },
                    "lookup": {
                        "$ref": "#/components/schemas/InstrumentBaseByListingLookupV1"
                    },
                    "referenceData": {
                        "$ref": "#/components/schemas/InstrumentBaseByListingReferenceDataV1"
                    }
                }
            },
            "InstrumentBaseByListingLookupV1": {
                "required": [
                    "listingCurrency",
                    "listingName",
                    "listingShortName",
                    "listingStatus",
                    "marketName",
                    "marketShortName"
                ],
                "type": "object",
                "properties": {
                    "listingName": {
                        "type": "string",
                        "description": "Listing short name with up to 19 characters.\n<br>Deprecation reason: Use listingShortName, removed since version '2024-01-01'",
                        "deprecated": true
                    },
                    "marketName": {
                        "type": "string",
                        "description": "Market short name with up to 19 characters.\n<br>Deprecation reason: Use marketShortName, removed since version '2024-01-01'",
                        "deprecated": true
                    },
                    "listingShortName": {
                        "type": "string",
                        "description": "Listing short name with up to 19 characters."
                    },
                    "marketShortName": {
                        "type": "string",
                        "description": "The market short name where the instrument is listed with up to 19 characters."
                    },
                    "listingCurrency": {
                        "type": "string",
                        "description": "The trading currency, as specified by SIX, typically follows the ISO 4217 alpha-3 code. This is shown in the main currency and not in fractional units. For cryptocurrencies, the Cryptocurrency Symbol in Instrument Symbology can be used for reference."
                    },
                    "listingStatus": {
                        "type": "string",
                        "description": "This shows the instruments status on the market - it shows if it is listed, suspended, admited to trading, delisted, etc",
                        "enum": [
                            "UNOFFICIALLY_LISTED_ACCORDING_TO_EXCHANGE",
                            "APPLIED",
                            "LISTED",
                            "SUSPENDED",
                            "WITHDRAWN",
                            "DELISTED_BY_EXCHANGE",
                            "PROVISIONAL",
                            "WHEN_ISSUED",
                            "NOT_LISTED",
                            "ADMITTED_TO_TRADING",
                            "OFFICIAL_LISTING_ACC_TO_REGULATORY_AUTHORITY",
                            "VIRTUAL_LISTING_DERIVED_VALUES_ONLY",
                            "LISTING_NO_TRADING",
                            "OTHER"
                        ]
                    }
                }
            },
            "InstrumentBaseByListingMostLiquidMarketV1": {
                "required": [
                    "bc",
                    "longName",
                    "shortName"
                ],
                "type": "object",
                "properties": {
                    "shortName": {
                        "type": "string",
                        "description": "Market short name."
                    },
                    "longName": {
                        "type": "string",
                        "description": "Market long name."
                    },
                    "bc": {
                        "type": "integer",
                        "description": "Bourse Code (BC) of the market. It represents the SIX Financial Information identifier for exchanges, trading platforms, regulated or non-regulated markets and trade reporting facilities as sources of prices and related information.",
                        "format": "int64"
                    },
                    "mic": {
                        "type": "string",
                        "description": "Market Identifier Code (MIC) of the market. It is based on ISO 10383 alphanumeric-4 code and represents a universal method of identifying exchanges, trading platforms, regulated or non-regulated markets and trade reporting facilities as sources of prices and related information."
                    },
                    "country": {
                        "type": "string",
                        "description": "Country code delivered as ISO 3166 alpha-2 code."
                    }
                },
                "description": "The market with the largest number of orders to buy and sell for the financial instrument."
            },
            "InstrumentBaseByListingReferenceDataV1": {
                "type": "object",
                "properties": {
                    "instrumentBase": {
                        "$ref": "#/components/schemas/InstrumentBaseByListingInstrumentBaseV1"
                    }
                }
            },
            "InstrumentBaseByListingTopLevelV1": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/InstrumentBaseByListingListingsDataV1"
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ErrorDetail"
                        }
                    },
                    "extensions": {
                        "$ref": "#/components/schemas/ExtensionsData"
                    }
                }
            },
            "InstrumentBaseByListingUltimateUnderlyingInstrumentV1": {
                "required": [
                    "shortName",
                    "valor"
                ],
                "type": "object",
                "properties": {
                    "shortName": {
                        "type": "string",
                        "description": "Instrument short name."
                    },
                    "valor": {
                        "type": "integer",
                        "description": "Official national instrument identifier assigned by the National Numbering Agency responsible for Switzerland: SIX Financial Information.",
                        "format": "int64"
                    },
                    "isin": {
                        "type": "string",
                        "description": "The International Securities Identification Number (ISIN) is a universally recognized and standardized code that uniquely identifies a financial instrument. The structure is defined in ISO 6166."
                    }
                },
                "description": "It is the ultimate underlying instrument on which derivative instruments, such as futures and options, are based. For Options on Futures, it would correspond to the underlying of the Future."
            },
            "InstrumentBaseByListingUnderlyingInstrumentV1": {
                "required": [
                    "shortName",
                    "valor"
                ],
                "type": "object",
                "properties": {
                    "shortName": {
                        "type": "string",
                        "description": "Instrument short name."
                    },
                    "valor": {
                        "type": "integer",
                        "description": "Official national instrument identifier assigned by the National Numbering Agency responsible for Switzerland: SIX Financial Information.",
                        "format": "int64"
                    },
                    "isin": {
                        "type": "string",
                        "description": "The International Securities Identification Number (ISIN) is a universally recognized and standardized code that uniquely identifies a financial instrument. The structure is defined in ISO 6166."
                    }
                },
                "description": "It is the direct underlying instrument on which derivative instruments, such as futures and options, are based."
            },
            "InstrumentsBaseInstrumentBaseV1": {
                "required": [
                    "instrumentNamePrefix",
                    "instrumentShortName",
                    "instrumentStatus",
                    "instrumentType",
                    "securityType",
                    "valor"
                ],
                "type": "object",
                "properties": {
                    "instrumentShortName": {
                        "type": "string",
                        "description": "Instrument short name."
                    },
                    "instrumentNamePrefix": {
                        "type": "string",
                        "description": "Prefix Instrument classification in textual form."
                    },
                    "instrumentNameSuffix": {
                        "type": "string",
                        "description": "Additional instrument type classifications in textual form."
                    },
                    "instrumentProductName": {
                        "type": "string",
                        "description": "A free-form descriptive name of the instrument, assigned by the issuer. E.g. 6 % Reversy on XYZ Ltd."
                    },
                    "valor": {
                        "type": "integer",
                        "description": "Official national instrument identifier assigned by the National Numbering Agency responsible for Switzerland: SIX Financial Information.",
                        "format": "int64"
                    },
                    "isin": {
                        "type": "string",
                        "description": "The International Securities Identification Number (ISIN) is a universally recognized and standardized code that uniquely identifies a financial instrument.  Its structure is defined in ISO 6166."
                    },
                    "instrumentType": {
                        "type": "string",
                        "description": "Instrument classification allocated by SIX Financial Information. The Instrument Type embodies a more granular categorization compared to the Security Type.",
                        "enum": [
                            "BOND",
                            "EQUITY",
                            "MTN",
                            "INSURANCE_POLICY",
                            "STRUCTURED_PRODUCT",
                            "TRUST_SHARE",
                            "INTEREST_RATE",
                            "RIGHT",
                            "CURRENCY",
                            "TRUST_CERT_FOUNDATION",
                            "TRUST_CERT_SHARE",
                            "SAVINGS_BOOK",
                            "REPO",
                            "FORWARD_TRANSACTION",
                            "COMBINED_TRANSACTION",
                            "FRN",
                            "LEVERAGED_PRODUCT",
                            "REPO_BASKET",
                            "ETD",
                            "FUTURE",
                            "MONEY_MARKET_INSTRUMENT",
                            "COMMODITY",
                            "CONVERTIBLE_BOND",
                            "INDEX",
                            "OPTION",
                            "TECHNICAL_CURRENCY",
                            "OTHER"
                        ]
                    },
                    "securityType": {
                        "type": "string",
                        "description": "Security classification allocated by SIX Financial Information.  The Security Type embodies a broader categoriatzion compared to the Instrument Type, specifially tailored for optimal presentation in display applications.",
                        "enum": [
                            "DEBT",
                            "EQUITY",
                            "INVESTMENT_TRUST_UNIT_SHARE",
                            "ETD",
                            "LEVERAGED_PRODUCT_SUBSCRIPTION_RIGHT",
                            "CURRENCY",
                            "INDEX",
                            "INTEREST_RATE",
                            "COMMODITY",
                            "STRUCTURED_PRODUCT",
                            "ETD_CONTRACT_SPECIFICATION",
                            "OTHER"
                        ]
                    },
                    "instrumentStatus": {
                        "type": "string",
                        "description": "Status indicating whether an instrument is active or not. Provided that the instrument is still active, this may include further information such as \"in default\" or \"In liquidation/dissolution\".",
                        "enum": [
                            "NOT_YET_ISSUED",
                            "INACTIVE",
                            "IN_LIQUIDATION_DISSOLUTION",
                            "ACTIVE",
                            "IN_DEFAULT",
                            "OTHER"
                        ]
                    },
                    "language": {
                        "type": "string",
                        "description": "Main language applicable to the financial instrument according to ISO 639 alpha-2 code. It can be different from the issuing company's main language.",
                        "enum": [
                            "EN",
                            "DE",
                            "FR",
                            "IT"
                        ]
                    },
                    "issuer": {
                        "$ref": "#/components/schemas/InstrumentsBaseIssuerV1"
                    },
                    "mostLiquidMarket": {
                        "$ref": "#/components/schemas/InstrumentsBaseMostLiquidMarketV1"
                    },
                    "nominalAmount": {
                        "type": "number",
                        "description": "Nominal amount or par value of an instrument (e.g. 100 for a share with a nominal value of CHF 100). For debt instruments, only the currency but no nominal value is issued.",
                        "format": "double"
                    },
                    "nominalCurrency": {
                        "type": "string",
                        "description": "Nominal currency, as specified by SIX, typically follows the ISO 4217 alpha-3 code. For cryptocurrencies, the Cryptocurrency Symbol in Instrument Symbology can be used for reference."
                    },
                    "nominalPaidUp": {
                        "type": "number",
                        "description": "If the instrument is partly paid-up as opposed to fully paid-up, the currently paid-in amount is recorded here. No entry is made for fully paid-up instruments.",
                        "format": "double"
                    },
                    "instrumentUnitType": {
                        "type": "string",
                        "description": "Indicates the unit of measurement in which the instrument quantity is expressed: Per instrument or per nominal. For prices, this is the unit in which the instrument is traded.",
                        "enum": [
                            "NOMINAL",
                            "PIECE_UNIT",
                            "OTHER"
                        ]
                    },
                    "instrumentUnitSize": {
                        "type": "number",
                        "description": "It indicates the smallest denominations. Break-down of debt instrument by their nominal values (in Switzerland usually CHF 1000 and CHF 5000). For trusts the decimal places are indicated here, e.g. \",001\" for proportions with fractions of 3 decimal places.",
                        "format": "double"
                    },
                    "currentCouponRate": {
                        "type": "number",
                        "description": "Current interest rate.",
                        "format": "double"
                    },
                    "currentCouponType": {
                        "type": "string",
                        "description": "Represents the characteristics of an interest payment made for an instrument. Interest payments are regular payments, their amounts are either fixed or depend on certain reference sizes such as reference interest rates.",
                        "enum": [
                            "FIXED",
                            "VARIABLE",
                            "OPTIONAL_PAYMENT",
                            "OTHER"
                        ]
                    },
                    "maturityDate": {
                        "type": "string",
                        "description": "Latest possible redemption date provided in the prospectus according to ISO 8601. This applies to all instruments for which only one maturity date was stated. If several dates were provided for the financial instrument (e.g. for ABS / Asset-Backed Securities), i.e. an expected maturity and a legal maturity, then this field will contain the date of the earliest possible maturity (Expected Maturity).",
                        "format": "date"
                    },
                    "maturityType": {
                        "type": "string",
                        "description": "Indicates whether an instrument has a fixed final expiry date or none at all",
                        "enum": [
                            "FIXED_EXPIRATION_OR_EARLIER",
                            "NO_EXPIRATION_DATE",
                            "EXPIRATION_FIXED_IN_ADVANCE",
                            "OTHER"
                        ]
                    },
                    "baseCurrency": {
                        "type": "string",
                        "description": "Base currency, as specified by SIX, typically follows the ISO 4217 alpha-3 code. For cryptocurrencies, the Cryptocurrency Symbol in Instrument Symbology can be used for reference."
                    },
                    "tradingCurrency": {
                        "type": "string",
                        "description": "Trading currency, as specified by SIX, typically follows the ISO 4217 alpha-3 code. For cryptocurrencies, the Cryptocurrency Symbol in Instrument Symbology can be used for reference."
                    },
                    "baseCryptoSymbol": {
                        "type": "string",
                        "description": "Base cryptocurrency symbol used in currency dealings."
                    },
                    "tradingCryptoSymbol": {
                        "type": "string",
                        "description": "Trading cryptocurrency symbol used in currency dealings."
                    },
                    "contractType": {
                        "type": "string",
                        "description": "Indicates the type of underlying to which the exchange-traded derivatives relates (e.g. ETD on interest, etc.).",
                        "enum": [
                            "ETD_ON_EQUITY",
                            "ETD_ON_INDEX",
                            "ETD_ON_INTEREST",
                            "ETD_ON_CURRENCY",
                            "ETD_ON_PRECIOUS_METAL",
                            "ETD_ON_FUTURE",
                            "ETD_ON_OPTION",
                            "ETD_ON_BASKET",
                            "ETD_ON_SWAP",
                            "ETD_ON_COMMODITY",
                            "ETD_ON_BOND",
                            "ETD_ON_FUND",
                            "ETD_ON_STRUCTURED_INSTRUMENT",
                            "ETD_ON_STRATEGY",
                            "ETD_ON_DIVIDEND",
                            "RELATIVE_PRICE_TRANSACTION_ON_ETD",
                            "ETD_ON_EQUITY_TOTAL_RETURN",
                            "OTHER"
                        ]
                    },
                    "contractSymbol": {
                        "type": "string",
                        "description": "Identification used by the exchange to identify the specification of a contract. In some markets also known as Product Code."
                    },
                    "underlyingInstrument": {
                        "$ref": "#/components/schemas/InstrumentsBaseUnderlyingInstrumentV1"
                    },
                    "ultimateUnderlyingInstrument": {
                        "$ref": "#/components/schemas/InstrumentsBaseUltimateUnderlyingInstrumentV1"
                    },
                    "optionType": {
                        "type": "string",
                        "description": "Defines the type of the option from an investor's point of view. E.g. right to purchase (call), right to sell (put).",
                        "enum": [
                            "CALL",
                            "PUT",
                            "CONVERSION_RIGHT",
                            "MANDATORY_CONVERSION",
                            "CONTINGENT_CONVERTIBLES_COCO",
                            "OTHER"
                        ]
                    },
                    "optionStrikePrice": {
                        "type": "number",
                        "description": "Price at which the holder of a call option can buy the underlying securities or the holder of a put option can sell. Also referred to as exercise price. Depending on the product type, strike prices define whether an embedded option in the product is \"in the money\" or not.",
                        "format": "double"
                    },
                    "optionStrikePriceCurrency": {
                        "type": "string",
                        "description": "Strike Price Currency, as specified by SIX, typically follows the ISO 4217 alpha-3 code. For cryptocurrencies, the Cryptocurrency Symbol in Instrument Symbology can be used for reference."
                    },
                    "exerciseType": {
                        "type": "string",
                        "description": "American style: Can be exercised at any time for the whole period - the data \"exercise from\" and \"exercise until\" are thus different. European style: Exercise at maturity or expiry. In this case the data \"exercise from\" and \"exercise until\" are identical. Bermuda style: Exercise on pre-defined days within an entire period of exercise.",
                        "enum": [
                            "AMERICAN",
                            "EUROPEAN",
                            "BERMUDA",
                            "OTHER"
                        ]
                    },
                    "expirationDate": {
                        "type": "string",
                        "description": "The date by which an option contract is abandoned and becomes worthless unless it is exercised.",
                        "format": "date"
                    },
                    "contractSize": {
                        "type": "number",
                        "description": "Indicates the quantity of underlying instruments or the notional amount of the contract. At issuance, for ETDs on equity this amount is identical with the Contract Multiplier. After an adjustment, the Contract Size can change and may be different to the Contract Multiplier.",
                        "format": "double"
                    },
                    "contractUnitType": {
                        "type": "string",
                        "description": "Type of quantity the Contract Size and Contract Multiplier refer to.",
                        "enum": [
                            "NOMINAL",
                            "PIECE_UNIT",
                            "CONTRACT",
                            "PHYSICAL_UNIT",
                            "INDEX_POINT",
                            "NOMINAL_CURRENCY_UNIT_PER_INDEX_POINT",
                            "RATIO",
                            "POUND_LB",
                            "METRIC_TONNE",
                            "GRAM",
                            "KILOGRAM",
                            "OUNCE",
                            "BUSHEL",
                            "GALLON",
                            "GIGAWATT_HOURS_GWH",
                            "CUBIC_METERS_M3",
                            "SACK",
                            "BARREL",
                            "TAEL",
                            "TOLA",
                            "TROY_OUNCE",
                            "MEGAWATT",
                            "ARROBA",
                            "HUNDREDWEIGHT_CWT",
                            "MMBTU",
                            "BOARD_FOOT",
                            "BAHT",
                            "KILOWATT_HOURS_KWH",
                            "MEGAWATT_HOURS_MWH",
                            "OTHER"
                        ]
                    },
                    "contractMultiplier": {
                        "type": "number",
                        "description": "The multiplier is the stated quantity or value to calculate the total contract value based on the quoted price.",
                        "format": "double"
                    },
                    "sixVersionNumber": {
                        "type": "integer",
                        "description": "SIX Financial Information assigns this version number to a contract. After changes in capital or other corporate actions a new version of an option or a future can be created and the version number is increased accordingly.",
                        "format": "int32"
                    }
                }
            },
            "InstrumentsBaseInstrumentsDataV1": {
                "type": "object",
                "properties": {
                    "instruments": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/InstrumentsBaseInstrumentsItemV1"
                        }
                    }
                }
            },
            "InstrumentsBaseInstrumentsItemV1": {
                "required": [
                    "lookupStatus",
                    "requestedId",
                    "requestedScheme"
                ],
                "type": "object",
                "properties": {
                    "requestedId": {
                        "type": "string",
                        "description": "The requested entity id used in the request"
                    },
                    "requestedScheme": {
                        "type": "string",
                        "description": "The requested scheme used in the request",
                        "enum": [
                            "ISIN",
                            "SEDOL",
                            "CUSIP",
                            "CINS",
                            "WKN",
                            "VALOR",
                            "COMMONCODE",
                            "TICKER_BC"
                        ]
                    },
                    "lookupStatus": {
                        "type": "string",
                        "description": "Status of the response",
                        "enum": [
                            "FOUND",
                            "NOT_FOUND",
                            "NOT_AUTHORIZED",
                            "NOT_VALID_ID"
                        ]
                    },
                    "lookup": {
                        "$ref": "#/components/schemas/InstrumentsBaseLookupV1"
                    },
                    "referenceData": {
                        "$ref": "#/components/schemas/InstrumentsBaseReferenceDataV1"
                    }
                }
            },
            "InstrumentsBaseIssuerV1": {
                "required": [
                    "gk"
                ],
                "type": "object",
                "properties": {
                    "shortName": {
                        "type": "string",
                        "description": "Legal entity short name."
                    },
                    "longName": {
                        "type": "string",
                        "description": "Legal entity long name."
                    },
                    "lei": {
                        "type": "string",
                        "description": "The Legal Entity Identifier (LEI) is a 20-digit alphanumeric code to identify a legal entity. The structure is defined in ISO 17442."
                    },
                    "gk": {
                        "type": "integer",
                        "description": "The SIX Financial Information identifier (GK) of the legal entity.",
                        "format": "int64"
                    }
                },
                "description": "Issuer is a legal entity that develops, registers and sells securities to finance its operations. Issuers may be corporations, investment trusts, or domestic or foreign governments. This is the present-day issuer of the financial instrument."
            },
            "InstrumentsBaseLookupV1": {
                "required": [
                    "instrumentShortName",
                    "instrumentStatus",
                    "instrumentType"
                ],
                "type": "object",
                "properties": {
                    "instrumentShortName": {
                        "type": "string",
                        "description": "Instrument short name with up to 19 characters."
                    },
                    "instrumentStatus": {
                        "type": "string",
                        "description": "Status indicating whether an instrument is active or not. Provided that the instrument is still active, this may include further information such as \"in default\" or \"In liquidation/dissolution\"",
                        "enum": [
                            "NOT_YET_ISSUED",
                            "INACTIVE",
                            "IN_LIQUIDATION_DISSOLUTION",
                            "ACTIVE",
                            "IN_DEFAULT",
                            "OTHER"
                        ]
                    },
                    "instrumentType": {
                        "type": "string",
                        "description": "Instrument classification allocated by SIX Financial Information. The Instrument Type embodies a more granular categorization compared to the Security Type.",
                        "enum": [
                            "BOND",
                            "EQUITY",
                            "MTN",
                            "INSURANCE_POLICY",
                            "STRUCTURED_PRODUCT",
                            "TRUST_SHARE",
                            "INTEREST_RATE",
                            "RIGHT",
                            "CURRENCY",
                            "TRUST_CERT_FOUNDATION",
                            "TRUST_CERT_SHARE",
                            "SAVINGS_BOOK",
                            "REPO",
                            "FORWARD_TRANSACTION",
                            "COMBINED_TRANSACTION",
                            "FRN",
                            "LEVERAGED_PRODUCT",
                            "REPO_BASKET",
                            "ETD",
                            "FUTURE",
                            "MONEY_MARKET_INSTRUMENT",
                            "COMMODITY",
                            "CONVERTIBLE_BOND",
                            "INDEX",
                            "OPTION",
                            "TECHNICAL_CURRENCY",
                            "OTHER"
                        ]
                    }
                }
            },
            "InstrumentsBaseMostLiquidMarketV1": {
                "required": [
                    "bc",
                    "longName",
                    "shortName"
                ],
                "type": "object",
                "properties": {
                    "shortName": {
                        "type": "string",
                        "description": "Market short name."
                    },
                    "longName": {
                        "type": "string",
                        "description": "Market long name."
                    },
                    "bc": {
                        "type": "integer",
                        "description": "Bourse Code (BC) of the market. It represents the SIX Financial Information identifier for exchanges, trading platforms, regulated or non-regulated markets and trade reporting facilities as sources of prices and related information.",
                        "format": "int64"
                    },
                    "mic": {
                        "type": "string",
                        "description": "Market Identifier Code (MIC) of the market. It is based on ISO 10383 alphanumeric-4 code and represents a universal method of identifying exchanges, trading platforms, regulated or non-regulated markets and trade reporting facilities as sources of prices and related information."
                    },
                    "country": {
                        "type": "string",
                        "description": "Country code delivered as ISO 3166 alpha-2 code."
                    }
                },
                "description": "The market with the largest number of orders to buy and sell for the financial instrument."
            },
            "InstrumentsBaseReferenceDataV1": {
                "type": "object",
                "properties": {
                    "instrumentBase": {
                        "$ref": "#/components/schemas/InstrumentsBaseInstrumentBaseV1"
                    }
                }
            },
            "InstrumentsBaseTopLevelV1": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/InstrumentsBaseInstrumentsDataV1"
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ErrorDetail"
                        }
                    },
                    "extensions": {
                        "$ref": "#/components/schemas/ExtensionsData"
                    }
                }
            },
            "InstrumentsBaseUltimateUnderlyingInstrumentV1": {
                "required": [
                    "shortName",
                    "valor"
                ],
                "type": "object",
                "properties": {
                    "shortName": {
                        "type": "string",
                        "description": "Instrument short name."
                    },
                    "valor": {
                        "type": "integer",
                        "description": "Official national instrument identifier assigned by the National Numbering Agency responsible for Switzerland: SIX Financial Information.",
                        "format": "int64"
                    },
                    "isin": {
                        "type": "string",
                        "description": "The International Securities Identification Number (ISIN) is a universally recognized and standardized code that uniquely identifies a financial instrument. The structure is defined in ISO 6166."
                    }
                },
                "description": "It is the ultimate underlying instrument on which derivative instruments, such as futures and options, are based. For Options on Futures, it would correspond to the underlying of the Future."
            },
            "InstrumentsBaseUnderlyingInstrumentV1": {
                "required": [
                    "shortName",
                    "valor"
                ],
                "type": "object",
                "properties": {
                    "shortName": {
                        "type": "string",
                        "description": "Instrument short name."
                    },
                    "valor": {
                        "type": "integer",
                        "description": "Official national instrument identifier assigned by the National Numbering Agency responsible for Switzerland: SIX Financial Information.",
                        "format": "int64"
                    },
                    "isin": {
                        "type": "string",
                        "description": "The International Securities Identification Number (ISIN) is a universally recognized and standardized code that uniquely identifies a financial instrument. The structure is defined in ISO 6166."
                    }
                },
                "description": "It is the direct underlying instrument on which derivative instruments, such as futures and options, are based."
            }
        }
    }
}