{"openapi":"3.0.0","info":{"title":"Risk & Margin API","description":"API for Studio's Risk Management System.","version":"2.0.0"},"servers":[{"url":"https://api.clearstreet.io/studio/v2","description":"Production environment"}],"security":[{"BearerAuth":[]}],"paths":{"/entities/{entity_id}/pnl-summary":{"get":{"operationId":"getEntityPnlSummary","summary":"Get entity PNL summary","description":"Get PNL summary for all accounts in an entity.","tags":["PNL"],"parameters":[{"in":"path","name":"entity_id","required":true,"schema":{"$ref":"#/components/schemas/PnlSummary/properties/entity_id"}}],"responses":{"200":{"description":"Entity PNL summary","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PnlSummary"}}}},"default":{"description":"Error response","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri","description":"A URI reference that identifies the problem type."},"title":{"type":"string","description":"A short, human-readable summary of the problem type."},"status":{"type":"number","minimum":100,"maximum":599,"description":"The HTTP status code generated by the origin server for this occurrence of the problem."},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem."},"instance":{"type":"string","format":"uri","description":"An absolute URI that identifies the specific occurrence of the problem. It may or may not yield further information if dereferenced."}},"additionalProperties":false,"description":"A Problem Details object (RFC 9457)"}}}}}}},"/accounts/{account_id}/pnl-summary":{"get":{"operationId":"getAcountPnlSummary","summary":"Get account PNL summary","description":"Get PNL summary for a given account.","tags":["PNL"],"parameters":[{"in":"path","name":"account_id","required":true,"schema":{"$ref":"#/components/schemas/PnlDetails/properties/account_id"}}],"responses":{"200":{"description":"Account PNL summary","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PnlSummaryForAccount"}}}},"default":{"$ref":"#/paths/~1entities~1%7Bentity_id%7D~1pnl-summary/get/responses/default"}}}},"/accounts/{account_id}/pnl-details":{"get":{"operationId":"listPnlDetails","summary":"List account PNL details","description":"List PNL details for a given account.","tags":["PNL"],"parameters":[{"in":"path","name":"account_id","required":true,"schema":{"$ref":"#/components/schemas/PnlDetails/properties/account_id"}}],"responses":{"200":{"description":"Account PNL details","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/PnlDetails"}}},"required":["data"]}}}},"default":{"$ref":"#/paths/~1entities~1%7Bentity_id%7D~1pnl-summary/get/responses/default"}}}},"/entities/{entity_id}/regt-margin":{"get":{"operationId":"getRegTMargin","summary":"Get Reg-T margin","description":"Get the latest Reg-T margin calculation for the given entity","tags":["Margin"],"parameters":[{"in":"path","name":"entity_id","required":true,"schema":{"$ref":"#/components/schemas/PnlSummary/properties/entity_id"},"description":"Entity ID"}],"responses":{"200":{"description":"Reg-T margin","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegTMargin"}}}},"default":{"$ref":"#/paths/~1entities~1%7Bentity_id%7D~1pnl-summary/get/responses/default"}}}},"/entities/{entity_id}/portfolio-margin":{"get":{"operationId":"getPortfolioMargin","summary":"Get portfolio margin","description":"Get latest portfolio margin calculation for the given entity","tags":["Margin"],"parameters":[{"in":"path","name":"entity_id","required":true,"schema":{"$ref":"#/components/schemas/PnlSummary/properties/entity_id"},"description":"Entity ID"}],"responses":{"200":{"description":"Portfolio margin","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PortfolioMargin"}}}},"default":{"$ref":"#/paths/~1entities~1%7Bentity_id%7D~1pnl-summary/get/responses/default"}}}},"/entities/{entity_id}/regt-margin-simulations":{"post":{"operationId":"createRegTMarginSimulation","summary":"Create Reg-T simulation","description":"Simulate Reg-T margin calculation for a given hypothetical set of prices and/or trades. This is useful for understanding the impact of price fluctuations or trades on margin requirements. Once a simulation is created, it remains available for 48-hours, after which it will automatically be deleted.\n\nSimulations created through the API are visible in the Studio UI under the Risk & Margin section, after enabling the \"Risk Simulations\" toggle. \n","tags":["Margin Simulations"],"parameters":[{"in":"path","name":"entity_id","required":true,"schema":{"$ref":"#/components/schemas/PnlSummary/properties/entity_id"},"description":"Entity ID"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"$ref":"#/components/schemas/SimulationName","description":"A name for this simulation for reference."},"prices":{"type":"array","description":"List of prices to use in the simulation, i.e. fair-market-values you specify for each symbol. If this is not provided, current market prices will be used, if they are available.","items":{"$ref":"#/components/schemas/SimulationPrice"}},"trades":{"type":"array","description":"List of hypothetical trades to include in the simulation, if any.","items":{"$ref":"#/components/schemas/SimulationTrade"}},"ignore_existing":{"type":"boolean","default":false,"description":"If true, the simulation will ignore any existing positions and balances in the account. Set to true if you want to simulate from a clean slate, i.e. an empty account."}},"required":["name"]}}}},"responses":{"200":{"description":"Reg-T margin simulation","content":{"application/json":{"schema":{"type":"object","properties":{"simulation_id":{"$ref":"#/components/schemas/SimulationId"}},"required":["simulation_id"]}}}},"default":{"$ref":"#/paths/~1entities~1%7Bentity_id%7D~1pnl-summary/get/responses/default"}}}},"/entities/{entity_id}/regt-margin-simulations/{simulation_id}":{"get":{"operationId":"getRegTMarginSimulation","summary":"Get Reg-T simulation","description":"Get a Reg-T margin simluation that was previously created. Note, simulations are automatically deleted after 48-hours.","tags":["Margin Simulations"],"parameters":[{"in":"path","name":"entity_id","required":true,"schema":{"$ref":"#/components/schemas/PnlSummary/properties/entity_id"},"description":"Entity ID"},{"in":"path","name":"simulation_id","required":true,"schema":{"$ref":"#/components/schemas/SimulationId"},"description":"Simulation ID"}],"responses":{"200":{"description":"Reg-T margin simulation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegTMarginSimulation"}}}},"default":{"$ref":"#/paths/~1entities~1%7Bentity_id%7D~1pnl-summary/get/responses/default"}}}}},"components":{"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"schemas":{"MarginType":{"type":"string","enum":["none","regt","pm","rbh-bd","rbh-mm","fut-total-equity","fut-nlv"]},"SimulationId":{"type":"string","format":"uuid","example":"6460030d-8ed4-19d3-818e-e87b36e90005","description":"Unique ID for a simulation."},"SimulationName":{"type":"string","minimum":1,"maximum":256,"description":"Name of a simulation."},"Shocks":{"type":"object","description":"Maps shock scenarios to their resulting pnl.","additionalProperties":{"type":"number","format":"double","description":"The resulting pnl from the shock."}},"SimulationPrice":{"type":"object","properties":{"symbol":{"$ref":"#/components/schemas/PnlDetails/properties/symbol","description":"The symbol for the instrument."},"symbol_format":{"default":"cms","type":"string","enum":["cms","osi"],"description":"Denotes the format of the provided `symbol` field."},"price":{"description":"The price to use in the simulation.","type":"string","minLength":1,"maxLength":16,"example":123.99}},"required":["symbol","price"]},"SimulationTrade":{"type":"object","properties":{"symbol":{"$ref":"#/components/schemas/PnlDetails/properties/symbol","description":"The symbol for the instrument."},"symbol_format":{"$ref":"#/components/schemas/SimulationPrice/properties/symbol_format","default":"cms"},"side":{"description":"The side of the simulated trade.","type":"string","enum":["buy","sell"]},"quantity":{"$ref":"#/components/schemas/PnlDetails/properties/quantity","description":"The quantity of the simulated trade."},"price":{"$ref":"#/components/schemas/SimulationPrice/properties/price","description":"The price of the simulated trade."}},"required":["symbol","side","quantity","price"]},"RegTGroupMember":{"type":"object","properties":{"symbol":{"$ref":"#/components/schemas/PnlDetails/properties/symbol","description":"The symbol for the instrument."},"asset_class":{"$ref":"#/components/schemas/PnlDetails/properties/asset_class"},"quantity":{"$ref":"#/components/schemas/PnlDetails/properties/quantity","description":"The quantity held for this instrument."},"market_value":{"type":"number","format":"double","description":"Market value of the instrument."},"market_value_percent":{"type":"number","format":"double","description":"The percentage market value of the instrument in terms of the total `net_market_value` of all positions held.\nFormula: `market_value / net_market_value`\n"}},"required":["symbol","asset_class","quantity","market_value","market_value_percent"]},"RegTGroup":{"type":"object","properties":{"name":{"type":"string","description":"Unique name of the group, typically the symbol of the underlier."},"market_value":{"type":"number","format":"double","description":"The aggregated market value of all instruments for the symbol group."},"market_value_percent":{"type":"number","format":"double","description":"The percentage market value of the symbol group in terms of the total net_market_value of all positions.\nFormula: `(market_value / net_market_value)`\n"},"effective_requirement":{"type":"number","format":"double","description":"The enforced margin requirement in effect for the symbol group."},"house_requirement":{"type":"number","format":"double","description":"Margin requirements based on Clear Street's house margin methodology for the symbol group."},"exchange_requirement":{"type":"number","format":"double","description":"Margin requirements based on regulatory rules for the symbol group."},"margin_percent":{"type":"number","format":"double","description":"The percentage effective margin requirement in terms of the symbol group market value.\nFormula: `(effective_requirement / net_market_value)`\n"},"margin_percent_contribution":{"type":"number","format":"double","description":"The percentage effective margin requirement in terms of the total effective requirement.\nFormula: `(effective_requirement / sum(effective_requirement))`\n"},"members":{"type":"array","description":"A list of securities that comprise this group.","items":{"$ref":"#/components/schemas/RegTGroupMember"}}},"required":["name","market_value","market_value_percent","effective_requirement","house_requirement","exchange_requirement","margin_percent","margin_percent_contribution","members"]},"RegTMargin":{"type":"object","properties":{"version":{"type":"string","description":"Unique identifier for this margin calculation."},"timestamp":{"$ref":"#/components/schemas/PnlSummary/properties/timestamp","description":"Timestamp of when this margin was calculated."},"net_market_value":{"type":"number","format":"double","description":"Market value net of long and short market values."},"effective_requirement":{"type":"number","format":"double","description":"The enforced margin requirement in effect."},"effective_excess":{"type":"number","format":"double","description":"The maring amount by taking the difference between total equity and the effective requirement. A negative number reflects an effective margin deficit."},"house_requirement":{"type":"number","format":"double","description":"Margin requirements based on Clear Street's house margin methodology."},"house_excess":{"type":"number","format":"double","description":"The margin amount by taking the difference between total equity and the house requirement. A negative number reflects a house margin deficit."},"exchange_requirement":{"type":"number","format":"double","description":"Margin requirements based on regulatory rules."},"exchange_excess":{"type":"number","format":"double","description":"The margin amount by taking the difference between total equity and the exchange requirement. A negative number reflects an regulatory margin deficit."},"sma":{"type":"number","format":"double","description":"Special Memorandum Account (SMA). The regulatory line of credit amount for margin trading based on market value, trading activity, and available cash."},"sod_buying_power":{"type":"number","format":"double","description":"The limit, or \"up-to\" amount, of securities value that can be day-traded for a given trading day."},"overnight_buying_power":{"type":"number","format":"double","description":"The limit, or \"up-to\" amount, of securities value that can be purchased and held overnight."},"day_trade_buying_power":{"type":"number","format":"double","description":"The remaining amount of start_of_day_buying_power that captures any day-trading activity."},"groups":{"type":"array","description":"Reg-T margin groups","items":{"$ref":"#/components/schemas/RegTGroup"}}},"required":["version","timestamp","net_market_value","effective_requirement","effecive_excess","house_requirement","house_excess","exchange_requirement","exchange_deficit","sma","sod_buying_power","overnight_buying_power","day_trade_buying_power","groups"]},"RegTMarginSimulation":{"type":"object","properties":{"created_at":{"$ref":"#/components/schemas/PnlSummary/properties/timestamp","description":"Timestamp of when this simulation was created."},"name":{"$ref":"#/components/schemas/SimulationName","description":"Name of this simulation that you provided when creating it."},"simulation_id":{"$ref":"#/components/schemas/SimulationId"},"before":{"$ref":"#/components/schemas/RegTMargin","description":"The margin calculation before applying simulated trades."},"after":{"$ref":"#/components/schemas/RegTMargin","description":"The margin calculation after applying simulated trades."}},"required":["created_at","name","simulation_id","before","after"]},"PortfolioMarginGroupMember":{"type":"object","properties":{"symbol":{"$ref":"#/components/schemas/PnlDetails/properties/symbol","description":"The symbol for the instrument."},"asset_class":{"$ref":"#/components/schemas/PnlDetails/properties/asset_class"},"quantity":{"$ref":"#/components/schemas/PnlDetails/properties/quantity","description":"The quantity held for this instrument."},"market_value":{"type":"number","format":"double","description":"Market value of the instrument."},"market_value_percent":{"type":"number","format":"double","description":"The percentage market value of the instrument in terms of the total `net_market_value` of all positions held.\nFormula: `market_value / net_market_value`\n"},"shocks":{"$ref":"#/components/schemas/Shocks"}}},"PortfolioMarginGroup":{"type":"object","properties":{"name":{"type":"string","description":"Unique name of the group, typically the symbol of the underlier."},"market_value":{"type":"number","format":"double","description":"The aggregated market value of all instruments for the group."},"market_value_percent":{"type":"number","format":"double","description":"The percentage market value of the group in terms of the total net_market_value of all positions.\nFormula: `(market_value / net_market_value)`\n"},"effective_requirement":{"type":"number","format":"double","description":"The enforced margin requirement in effect for the group."},"margin_percent":{"type":"number","format":"double","description":"The percentage effective margin requirement in terms of the group market value.\nFormula: `(effective_requirement / net_market_value)`\n"},"margin_percent_contribution":{"type":"number","format":"double","description":"The percentage effective margin requirement in terms of the total effective requirement.\nFormula: `(effective_requirement / sum(effective_requirement))`\n"},"risk_based_requirement":{"type":"number","format":"double","description":"A component margin requirement that captures base-case risk for the group under house margin methodology"},"non_marginable_requirement":{"type":"number","format":"double","description":"A component margin requirement that captures risk for the group that are not margin eligible."},"liquidity_requirement":{"type":"number","format":"double","description":"A component margin requirement that captures risk for the group based on liquidity, Market Cap, and Average Daily Volume factors."},"concentration_requirement":{"type":"number","format":"double","description":"A component margin requirement that captures risk for the group based on gross exposure to total equity"},"discretionary_requirement":{"type":"number","format":"double","description":"A component margin requirement that captures miscellaneous risk factors for the group."},"regulatory_requirement":{"type":"number","format":"double","description":"Margin requirements based on OCC TIMS regulatory margin methodology"},"var_requirement":{"type":"number","format":"double","description":"Margin requirements based on value-at-risk over any 5-day period in a 2 year historic lookback"},"shocks":{"$ref":"#/components/schemas/Shocks"},"members":{"type":"array","description":"A list of securities that comprise this group.","items":{"$ref":"#/components/schemas/PortfolioMarginGroupMember"}}},"required":["name","market_value","market_value_percent","effective_requirement","house_requirement","exchange_requirement","margin_percent","margin_percent_contribution","members"]},"PortfolioMargin":{"type":"object","properties":{"version":{"type":"string","description":"Unique identifier for this margin calculation."},"timestamp":{"$ref":"#/components/schemas/PnlSummary/properties/timestamp","description":"Timestamp of when this margin was calculated."},"net_market_value":{"type":"number","format":"double","description":"Sum of market values across all positions."},"effective_requirement":{"type":"number","format":"double","description":"The enforced margin requirement in effect."},"effecive_excess":{"type":"number","format":"double","description":"The maring amount by taking the difference between total equity and the effective requirement. A negative number reflects an effective margin deficit."},"house_requirement":{"type":"number","format":"double","description":"Margin requirements based on Clear Street's house margin methodology."},"house_excess":{"type":"number","format":"double","description":"The margin amount by taking the difference between total equity and the house requirement. A negative number reflects a house margin deficit."},"risk_based_requirement":{"type":"number","format":"double","description":"A component margin requirement that captures base-case risk under house margin methodology."},"risk_based_requirement_percent":{"type":"number","format":"double","description":"The percentage risk_base margin requirement in terms of total house requirement\nFormula: `risk_based_requirement / house_requirement`\n"},"non_marginable_requirement":{"type":"number","format":"double","description":"A component margin requirement that captures risk for security instruments that are not margin eligible."},"non_marginable_requirement_percent":{"type":"number","format":"double","description":"The percentage non-marginable requirement in terms of total house requirement\nFormula: `non_marginable_requirement / house_requirement`\n"},"add_on_requirement":{"type":"number","format":"double","description":"Sum of add-on margin requirements.\nFormula: `liquidity_add_on + concentration_add_on + discretionary_requirement`\n"},"add_on_requirement_percent":{"type":"number","format":"double","description":"The percentage add-on margin requirements in terms of total house requirement.\nFormula: `add_on_requirement / house_requirement`\n"},"liquidity_add_on":{"type":"number","format":"double","description":"A component margin requirement that captures risk based on liquidity, Market Cap, and Average Daily Volume factors."},"liquidity_add_on_percent":{"type":"number","format":"double","description":"The percentage liquidity add-on margin requirements in terms of total house requirement.\nFormula: `liquidity_add_on / house_requirement`\n"},"concentration_add_on":{"type":"number","format":"double","description":"A component margin requirement that captures risk based on gross exposure to total equity."},"concentration_add_on_percent":{"type":"number","format":"double","description":"The percentage concentration add-on margin requirements in terms of total house requirement.\nFormula: `concentration_add_on / house_requirement`\n"},"discretionary_requirement":{"type":"number","format":"double","description":"A component margin requirement that captures miscellaneous risk factors."},"discretionary_requirement_percent":{"type":"number","format":"double","description":"The percentage discretionary margin requirements in terms of total house requirement\nFormula: `discretionary_requirement / house_requirement`\n"},"vega_requirement":{"type":"number","format":"double","description":"A component margin requirement that captures risk based on vega."},"groups":{"type":"array","description":"Portfolio margin groups","items":{"$ref":"#/components/schemas/PortfolioMarginGroup"}}}},"PnlSummary":{"type":"object","properties":{"timestamp":{"type":"integer","format":"int64","minimum":1710613560668,"maximum":2900000000000,"description":"Milliseconds since epoch."},"entity_id":{"type":"string","minLength":1,"maxLength":256,"example":100000,"description":"Entity ID for the legal entity."},"sod_equity":{"type":"number","format":"double","description":"Net value of instruments held in the portfolio at the start of a trading day."},"equity":{"type":"number","format":"double","description":"Net value of instruments held in the portfolio."},"sod_gross_market_value":{"type":"number","format":"double","description":"Absolute market value at the start of a trading day."},"gross_market_value":{"type":"number","format":"double","description":"Absolute market value of long and short market values."},"net_market_value":{"type":"number","format":"double","description":"Market value net of long and short market values."},"long_market_value":{"type":"number","format":"double","description":"Market value of securities positioned long."},"short_market_value":{"type":"number","format":"double","description":"Market value of securities positioned short."},"sod_long_market_value":{"type":"number","format":"double","description":"Market value of securities positioned long at the start of a trading day."},"sod_short_market_value":{"type":"number","format":"double","description":"Market value of securities positioned short at the start of a trading day."},"overnight_pnl":{"type":"number","format":"double","description":"Profit and loss from previous trading date."},"day_pnl":{"type":"number","format":"double","description":"Profit and loss from intraday trading activities."},"realized_pnl":{"type":"number","format":"double","description":"Profit and loss realized from position closing trading activity"},"unrealized_pnl":{"type":"number","format":"double","description":"Profit and loss from market changes."},"total_pnl":{"type":"number","format":"double","description":"`realized_pnl + unrealized_pnl`\n"},"net_pnl":{"type":"number","format":"double","description":"`total_pnl + total_fees`\n"},"total_fees":{"type":"number","format":"double","description":"Total fees incurred from trading activities."}},"required":["timestamp","entity_id","sod_equity","equity","sod_gross_market_value","gross_market_value","net_market_value","long_market_value","short_market_value","sod_long_market_value","sod_short_market_value","overnight_pnl","day_pnl","realized_pnl","unrealized_pnl","total_pnl","net_pnl","total_fees"]},"PnlDetails":{"properties":{"timestamp":{"$ref":"#/components/schemas/PnlSummary/properties/timestamp"},"entity_id":{"$ref":"#/components/schemas/PnlSummary/properties/entity_id","description":"Name of the legal entity."},"account_id":{"type":"string","minLength":1,"maxLength":256,"example":100000,"description":"Account ID for the account."},"symbol":{"type":"string","minLength":1,"maxLength":32,"example":"AAPL"},"symbol_description":{"type":"string","description":"Description of the symbol."},"asset_class":{"type":"string","enum":["other","equity","option","debt"],"description":"The asset class of the symbol."},"day_pnl":{"type":"number","format":"double","description":"Profit and loss from intraday trading activities."},"unrealized_pnl":{"type":"number","format":"double","description":"Profit and loss from market changes."},"realized_pnl":{"type":"number","format":"double","description":"Profit and loss realized from position closing trading activity."},"total_pnl":{"type":"number","format":"double","description":"`realized_pnl + unrealized_pnl`\n"},"overnight_pnl":{"type":"number","format":"double","description":"Profit and loss from previous trading date."},"total_fees":{"type":"number","format":"double","description":"Total fees incurred from trading activities."},"net_market_value":{"type":"number","format":"double","description":"Market value net of long and short market values."},"gross_market_value":{"type":"number","format":"double","description":"Absolute market value of long and short market values."},"sod_market_value":{"type":"number","format":"double","description":"Market value of a given instrument a the start of a trading day."},"quantity":{"type":"string","minLength":1,"maxLength":16,"example":100,"description":"String representation of quantity."},"sod_quantity":{"$ref":"#/components/schemas/PnlDetails/properties/quantity","description":"Quantity of a given instrument at the start of a trading day."},"bought_quantity":{"$ref":"#/components/schemas/PnlDetails/properties/quantity","description":"Quantity of a given instrument bought."},"sold_quantity":{"$ref":"#/components/schemas/PnlDetails/properties/quantity","description":"Quantity of a given instrument sold."},"buys":{"type":"integer","format":"int32","description":"Total buys of a given instrument."},"sells":{"type":"integer","format":"int32","description":"Total sells of a given instrument."},"price":{"type":"number","format":"double","description":"Price used in this pnl calculation."},"sod_price":{"type":"number","format":"double","description":"Price at the start of a trading day."},"underlier":{"$ref":"#/components/schemas/PnlDetails/properties/symbol","description":"The underlying instrument."}},"required":["timestamp","entity_id","entity_name","account_id","side","symbol","symbol_description","asset_class","day_pnl","unrealized_pnl","realized_pnl","total_pnl","overnight_pnl","total_fees","net_market_value","gross_market_value","sod_market_value","quantity","sod_quantity","bought_quantity","sold_quantity","buys","sells","price","sod_price","underlier"]},"PnlSummaryForAccount":{"allOf":[{"$ref":"#/components/schemas/PnlSummary"},{"properties":{"account_id":{"type":"string"}},"required":["account_id"]}]}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}