{"openapi":"3.1.0","info":{"title":"Mercury API","version":"2"},"servers":[{"url":"https://api.mercury.com/api/v2"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","name":"Authorization","x-bearer-format":"bearer","x-default":"<your_token>"}}},"security":[{"sec0":[]}],"paths":{"/account/{id}/statements":{"get":{"summary":"/account/:id/statements","description":"Retrieve statement information for a depository or credit account in a given time period (Note: For now, treasury accounts are not supported on this endpoint. You may request this functionality by reaching out to support.) Note that the type of account is signaled by the tag in the payload field. It determines the shape of the object in the contents field.","operationId":"accountidstatement","parameters":[{"name":"id","in":"path","description":"Your 36-character account UUID.","schema":{"type":"string"},"required":true},{"name":"start","in":"query","description":"Filter the statements so that their startDate is equal to or later than this date. Format: YYYY-MM-DD.","schema":{"type":"string","format":"date"}},{"name":"end","in":"query","description":"Filter the statements so that their endDate is less than or equal to this date. Format: YYYY-MM-DD.","schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Checking Account":{"value":"{\n    \"statements\": [\n        {\n            \"companyLegalAddress\": {\n                \"address1\": \"660 Mission Street\",\n                \"address2\": \"Floor 4\",\n                \"city\": \"San Francisco\",\n                \"country\": \"US\",\n                \"name\": \"Mercury\",\n                \"postalCode\": \"94105\",\n                \"region\": \"CA\"\n            },\n            \"companyLegalName\": \"Mercury Technologies, Inc.\",\n            \"ein\": \"82-1234567\",\n            \"endDate\": \"2020-03-31T23:59:59Z\",\n            \"details\": {\n              \"accountType\": \"depository\",\n              \"accountDetails\": {\n                \"accountNumber\": \"1234567765\",\n                \"routingNumber\": \"012345678\"\n              }\n            },\n            \"endingBalance\": 99509973.81,\n            \"startDate\": \"2020-03-01T00:00:00Z\"\n       }\n    ]\n}"},"Credit Account":{"value":"{\n    \"statements\": [\n        {\n            \"companyLegalAddress\": {\n                \"address1\": \"660 Mission Street\",\n                \"address2\": \"Floor 4\",\n                \"city\": \"San Francisco\",\n                \"country\": \"US\",\n                \"name\": \"Mercury\",\n                \"postalCode\": \"94105\",\n                \"region\": \"CA\"\n            },\n            \"companyLegalName\": \"Mercury Technologies, Inc.\",\n            \"ein\": \"82-1234567\",\n            \"endDate\": \"2020-03-31T23:59:59Z\",\n            \"details\": {\n              \"accountType\": \"credit\",\n              \"accountDetails\": {\n\t              \"creditLimit\": 1000.0,\n  \t            \"totalTransactions\": -64.59,\n    \t          \"totalOneTimePayments\": 36.32,\n      \t        \"totalAutopayPayments\": 35.26,\n        \t      \"totalCashbackEarned\": 0.96,\n          \t    \"dueDate\": \"April 1\"\n              }\n            },\n            \"endingBalance\": 99509973.81,\n            \"startDate\": \"2020-03-01T00:00:00Z\"\n       }\n    ]\n}"}},"schema":{"oneOf":[{"title":"Checking Account","type":"object","properties":{"statements":{"type":"array","items":{"type":"object","properties":{"companyLegalAddress":{"type":"object","properties":{"address1":{"type":"string","example":"660 Mission Street"},"address2":{"type":"string","example":"Floor 4"},"city":{"type":"string","example":"San Francisco"},"country":{"type":"string","example":"US"},"name":{"type":"string","example":"Mercury"},"postalCode":{"type":"string","example":"94105"},"region":{"type":"string","example":"CA"}}},"companyLegalName":{"type":"string","example":"Mercury Technologies, Inc."},"ein":{"type":"string","example":"82-1234567"},"endDate":{"type":"string","example":"2020-03-31T23:59:59Z"},"details":{"type":"object","properties":{"accountType":{"type":"string","example":"depository"},"accountDetails":{"type":"object","properties":{"accountNumber":{"type":"string","example":"1234567765"},"routingNumber":{"type":"string","example":"012345678"}}}}},"endingBalance":{"type":"number","example":99509973.81,"default":0},"startDate":{"type":"string","example":"2020-03-01T00:00:00Z"}}}}}},{"title":"Credit Account","type":"object","properties":{"statements":{"type":"array","items":{"type":"object","properties":{"companyLegalAddress":{"type":"object","properties":{"address1":{"type":"string","example":"660 Mission Street"},"address2":{"type":"string","example":"Floor 4"},"city":{"type":"string","example":"San Francisco"},"country":{"type":"string","example":"US"},"name":{"type":"string","example":"Mercury"},"postalCode":{"type":"string","example":"94105"},"region":{"type":"string","example":"CA"}}},"companyLegalName":{"type":"string","example":"Mercury Technologies, Inc."},"ein":{"type":"string","example":"82-1234567"},"endDate":{"type":"string","example":"2020-03-31T23:59:59Z"},"details":{"type":"object","properties":{"accountType":{"type":"string","example":"credit"},"accountDetails":{"type":"object","properties":{"creditLimit":{"type":"integer","example":1000,"default":0},"totalTransactions":{"type":"number","example":-64.59,"default":0},"totalOneTimePayments":{"type":"number","example":36.32,"default":0},"totalAutopayPayments":{"type":"number","example":35.26,"default":0},"totalCashbackEarned":{"type":"number","example":0.96,"default":0},"dueDate":{"type":"string","example":"April 1"}}}}},"endingBalance":{"type":"number","example":99509973.81,"default":0},"startDate":{"type":"string","example":"2020-03-01T00:00:00Z"}}}}}}]}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"errors\": {\n        \"message\": \"No matching token found\"\n    }\n}"}},"schema":{"type":"object","properties":{"errors":{"type":"object","properties":{"message":{"type":"string","example":"No matching token found"}}}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"errors\": {\n        \"message\": \"Couldn't find the resource for this ID\"\n    }\n}"}},"schema":{"type":"object","properties":{"errors":{"type":"object","properties":{"message":{"type":"string","example":"Couldn't find the resource for this ID"}}}}}}}}},"deprecated":false}},"/safes/{id}":{"get":{"summary":"/safes/:id","description":"","operationId":"safesid","parameters":[{"name":"id","in":"path","schema":{"type":"string","default":"Your 36-character SAFE request UUID."},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": \"c6f3f138-3e0a-11ef-b879-07e62ff010bc\",\n  \"documentUrl\": \"https://api.mercury.com/api/v2/safes/c6f3f138-3e0a-11ef-b879-07e62ff010bc/document\",\n  \"expiresAt\": \"2034-07-07T15:49:08.024383Z\",\n  \"governingState\": \"DE\",\n  \"includesMostFavoredNationClause\": true,\n  \"includesProRataRightsLetter\": false,\n  \"investmentAmount\": 1000,\n  \"investor\": {\n    \"signatoryName\": \"Roberta Flack\",\n    \"signatoryEmail\": \"roberta@roccoscafe.com\",\n    \"legalEntityName\": \"Rocco's Cafe\",\n    \"investorType\": \"investorTypeIndividual\"\n  },\n  \"organization\": {\n    \"legalEntityName\": \"Mercury Technologies Inc.\",\n    \"signatoryName\": \"Charlie Tuna\",\n    \"signatoryTitle\": \"CEO\",\n    \"signatoryEmail\": \"charlie.tuna@mercury.com\"\n  },\n  \"signedByInvestorAt\": \"0001-01-01T00:00:00Z\",\n  \"signedByOwnerAt\": \"0001-01-01T00:00:00Z\",\n  \"valuationType\": \"preMoney\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"c6f3f138-3e0a-11ef-b879-07e62ff010bc"},"documentUrl":{"type":"string","example":"https://api.mercury.com/api/v2/safes/c6f3f138-3e0a-11ef-b879-07e62ff010bc/document"},"expiresAt":{"type":"string","example":"2034-07-07T15:49:08.024383Z"},"governingState":{"type":"string","example":"DE"},"includesMostFavoredNationClause":{"type":"boolean","example":true,"default":true},"includesProRataRightsLetter":{"type":"boolean","example":false,"default":true},"investmentAmount":{"type":"integer","example":1000,"default":0},"investor":{"type":"object","properties":{"signatoryName":{"type":"string","example":"Roberta Flack"},"signatoryEmail":{"type":"string","example":"roberta@roccoscafe.com"},"legalEntityName":{"type":"string","example":"Rocco's Cafe"},"investorType":{"type":"string","example":"investorTypeIndividual"}}},"organization":{"type":"object","properties":{"legalEntityName":{"type":"string","example":"Mercury Technologies Inc."},"signatoryName":{"type":"string","example":"Charlie Tuna"},"signatoryTitle":{"type":"string","example":"CEO"},"signatoryEmail":{"type":"string","example":"charlie.tuna@mercury.com"}}},"signedByInvestorAt":{"type":"string","example":"0001-01-01T00:00:00Z"},"signedByOwnerAt":{"type":"string","example":"0001-01-01T00:00:00Z"},"valuationType":{"type":"string","example":"preMoney"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl --request GET --header 'Authorization: Bearer <TOKEN>' --url http://api.mercury.com/api/v2/safes/c6f3f138-3e0a-11ef-b879-07e62ff010bc"}],"samples-languages":["curl"]}}},"/safes":{"get":{"summary":"/safes","description":"","operationId":"safes","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"[\n  {\n    \"id\": \"c6f3f138-3e0a-11ef-b879-07e62ff010bc\",\n    \"documentUrl\": \"https://api.mercury.com/api/v2/safes/c6f3f138-3e0a-11ef-b879-07e62ff010bc/document\",\n    \"expiresAt\": \"2034-07-07T15:49:08.024383Z\",\n    \"governingState\": \"DE\",\n    \"includesMostFavoredNationClause\": true,\n    \"includesProRataRightsLetter\": false,\n    \"investmentAmount\": 1000,\n    \"investor\": {\n      \"signatoryName\": \"Roberta Flack\",\n      \"signatoryEmail\": \"roberta@roccoscafe.com\",\n      \"legalEntityName\": \"Rocco's Cafe\",\n      \"investorType\": \"investorTypeIndividual\"\n    },\n    \"organization\": {\n      \"legalEntityName\": \"Mercury Technologies Inc.\",\n      \"signatoryName\": \"Charlie Tuna\",\n      \"signatoryTitle\": \"CEO\",\n      \"signatoryEmail\": \"charlie.tuna@mercury.com\"\n    },\n    \"signedByInvestorAt\": \"0001-01-01T00:00:00Z\",\n    \"signedByOwnerAt\": \"0001-01-01T00:00:00Z\",\n    \"valuationType\": \"preMoney\"\n  }\n]"}},"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"c6f3f138-3e0a-11ef-b879-07e62ff010bc"},"documentUrl":{"type":"string","example":"https://api.mercury.com/api/v2/safes/c6f3f138-3e0a-11ef-b879-07e62ff010bc/document"},"expiresAt":{"type":"string","example":"2034-07-07T15:49:08.024383Z"},"governingState":{"type":"string","example":"DE"},"includesMostFavoredNationClause":{"type":"boolean","example":true,"default":true},"includesProRataRightsLetter":{"type":"boolean","example":false,"default":true},"investmentAmount":{"type":"integer","example":1000,"default":0},"investor":{"type":"object","properties":{"signatoryName":{"type":"string","example":"Roberta Flack"},"signatoryEmail":{"type":"string","example":"roberta@roccoscafe.com"},"legalEntityName":{"type":"string","example":"Rocco's Cafe"},"investorType":{"type":"string","example":"investorTypeIndividual"}}},"organization":{"type":"object","properties":{"legalEntityName":{"type":"string","example":"Mercury Technologies Inc."},"signatoryName":{"type":"string","example":"Charlie Tuna"},"signatoryTitle":{"type":"string","example":"CEO"},"signatoryEmail":{"type":"string","example":"charlie.tuna@mercury.com"}}},"signedByInvestorAt":{"type":"string","example":"0001-01-01T00:00:00Z"},"signedByOwnerAt":{"type":"string","example":"0001-01-01T00:00:00Z"},"valuationType":{"type":"string","example":"preMoney"}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl --request GET --header 'Authorization: Bearer <TOKEN>' --url https://api.mercury.com/api/v2/safes"}],"samples-languages":["curl"]}}},"/safes/{id} (COPY)":{"get":{"summary":"/safes/:id/document","description":"","operationId":"safesid-copy","parameters":[{"name":"id","in":"path","schema":{"type":"string","default":"Your 36-character SAFE request UUID."},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"text","code":"curl --request GET --header 'Authorization: Bearer <TOKEN>' --url http://api.mercury.com/api/v2/safes/c6f3f138-3e0a-11ef-b879-07e62ff010bc/document"}],"samples-languages":["text"]}}}},"x-readme":{"headers":[],"explorer-enabled":false,"proxy-enabled":false},"x-readme-fauxas":true}