{"openapi":"3.1.0","info":{"title":"API Settings","version":"1"},"servers":[{"url":"https://api.testwyre.com"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","name":"Authorization","x-default":"SK-XXXXXXXX-XXXXXXXX-XXXXXXXX","x-bearer-format":"bearer"}}},"security":[{"sec0":[]}],"paths":{"/v2/paymentMethod/{paymentMethodId}/followup":{"post":{"summary":"Bank Document Upload","description":"","operationId":"payment-method-followup","parameters":[{"name":"paymentMethodId","in":"path","description":"the ID of the payment method to upload the document to","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": \"PA_W7YN28ABCHT\",\n    \"owner\": \"account:AC_XX38VYXUA84\",\n    \"createdAt\": 1542771684392,\n    \"name\": \"Plaid Checking 0000\",\n    \"defaultCurrency\": \"USD\",\n    \"status\": \"PENDING\",\n    \"statusMessage\": null,\n    \"waitingPrompts\": [],\n    \"linkType\": \"LOCAL_TRANSFER\",\n    \"beneficiaryType\": \"UNKNOWN\",\n    \"supportsDeposit\": true,\n    \"nameOnMethod\": null,\n    \"last4Digits\": \"0000\",\n    \"brand\": null,\n    \"expirationDisplay\": null,\n    \"countryCode\": \"US\",\n    \"nickname\": null,\n    \"rejectionMessage\": null,\n    \"disabled\": false,\n    \"supportsPayment\": true,\n    \"chargeableCurrencies\": [ \"USD\" ],\n    \"depositableCurrencies\": [ \"USD\" ],\n    \"chargeFeeSchedule\": null,\n    \"depositFeeSchedule\": null,\n    \"minCharge\": null,\n    \"maxCharge\": null,\n    \"minDeposit\": null,\n    \"maxDeposit\": null,\n    \"documents\": [],\n    \"srn\": \"paymentmethod:PA_W7YN28ABCHT\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"PA_W7YN28ABCHT"},"owner":{"type":"string","example":"account:AC_XX38VYXUA84"},"createdAt":{"type":"integer","example":1542771684392,"default":0},"name":{"type":"string","example":"Plaid Checking 0000"},"defaultCurrency":{"type":"string","example":"USD"},"status":{"type":"string","example":"PENDING"},"statusMessage":{},"waitingPrompts":{"type":"array"},"linkType":{"type":"string","example":"LOCAL_TRANSFER"},"beneficiaryType":{"type":"string","example":"UNKNOWN"},"supportsDeposit":{"type":"boolean","example":true,"default":true},"nameOnMethod":{},"last4Digits":{"type":"string","example":"0000"},"brand":{},"expirationDisplay":{},"countryCode":{"type":"string","example":"US"},"nickname":{},"rejectionMessage":{},"disabled":{"type":"boolean","example":false,"default":true},"supportsPayment":{"type":"boolean","example":true,"default":true},"chargeableCurrencies":{"type":"array","items":{"type":"string","example":"USD"}},"depositableCurrencies":{"type":"array","items":{"type":"string","example":"USD"}},"chargeFeeSchedule":{},"depositFeeSchedule":{},"minCharge":{},"maxCharge":{},"minDeposit":{},"maxDeposit":{},"documents":{"type":"array"},"srn":{"type":"string","example":"paymentmethod:PA_W7YN28ABCHT"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"shell","code":"  curl -X POST \\\n    'https://api.sendwyre.com/v2/paymentMethod/PA_W7YN28ABCHT/followup' \\\n    --upload-file './bank_statement.pdf' \\\n    -H 'Content-Type: application/pdf' \\\n    -H 'Authorization:Bearer XXXXXXXX_YOUR_SESSION_ID_XXXXXXXX'","name":"Curl"}],"samples-languages":["shell"]}}},"/v3/accounts":{"post":{"summary":"Create Account","description":"","operationId":"create-account","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["type","country","profileFields"],"properties":{"type":{"type":"string","description":"the type of account, currently `INDIVIDUAL` is the only supported value"},"country":{"type":"string","description":"the country of the account holder. For individuals this is the country of residence. (Currently we only support US accounts)"},"profileFields":{"type":"array","description":"an array of the Fields submitted at the time of Account creation. You can submit as many or as few fields as you need at the time of Account creation. [More information](doc:account-resource#section-fields)"},"referrerAccountId":{"type":"string","description":"Supply your own Account ID when creating noncustodial accounts. This field is used to track which account referred the new account into our system"},"subaccount":{"type":"boolean","description":"When true, the newly created account will be a custodial subaccount owner by the caller. Otherwise, the account will be a standalone non-custodial account.","default":true},"disableEmail":{"type":"boolean","description":"if true prevents all outbound emails to the account. This includes all communications listed [here](https://docs.sendwyre.com/docs/customer-emails-messaging).","default":false}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\" : \"AC-U4BWHGZDG6W\",\n  \"status\" : \"PENDING\",\n  \"type\" : \"INDIVIDUAL\",\n  \"country\" : \"US\",\n  \"createdAt\" : 1541789972000,\n  \"depositAddresses\" : {\n    \"ETH\" : \"0x98B031783d0efb1E65C4072C6576BaCa0736A912\",\n    \"BTC\" : \"14CriXWTRoJmQdBzdikw6tEmSuwxMozWWq\"\n  },\n  \"totalBalances\" : { \n    \"BTC\" : 1.0000000,\n    \"ETH\" : 0.1000000000000000000\n  },\n  \"availableBalances\" : { \n    \"BTC\" : 1.0000000,\n    \"ETH\" : 0.1000000000000000000\n  },\n  \"profileFields\" : [ {\n    \"fieldId\" : \"individualCellphoneNumber\",\n    \"fieldType\" : \"CELLPHONE\",\n    \"value\" : null,\n    \"note\" : \"Must be verified by user.\",\n    \"status\" : \"OPEN\"\n  }, {\n    \"fieldId\" : \"individualEmail\",\n    \"fieldType\" : \"EMAIL\",\n    \"value\" : \"johnnyquest22@yolo.com\",\n    \"note\" : \"Must be verified by user.\",\n    \"status\" : \"OPEN\"\n  }, {\n    \"fieldId\" : \"individualLegalName\",\n    \"fieldType\" : \"STRING\",\n    \"value\" : \"Johnny Quest\",\n    \"note\" : null,\n    \"status\" : \"PENDING\"\n  }, {\n    \"fieldId\" : \"individualDateOfBirth\",\n    \"fieldType\" : \"DATE\",\n    \"value\" : null,\n    \"note\" : null,\n    \"status\" : \"OPEN\"\n  }, {\n    \"fieldId\" : \"individualSsn\",\n    \"fieldType\" : \"STRING\",\n    \"value\" : null,\n    \"note\" : null,\n    \"status\" : \"NULL\"\n  }, {\n    \"fieldId\" : \"individualResidenceAddress\",\n    \"fieldType\" : \"ADDRESS\",\n    \"value\" : {\n\t\t\t\t\"street1\": \"1 Market St\",\n\t\t\t\t\"street2\": \"Suite 402\",\n\t\t\t\t\"city\": \"San Francisco\",\n\t\t\t\t\"state\": \"CA\",\n\t\t\t\t\"postalCode\": \"94105\",\n\t\t\t\t\"country\": \"US\"\n\t\t},\n    \"note\" : null,\n    \"status\" : \"PENDING\"\n  }, {\n    \"fieldId\" : \"individualGovernmentId\",\n    \"fieldType\" : \"DOCUMENT\",\n    \"value\" : [],\n    \"note\" : null,\n    \"status\" : \"OPEN\"\n  }, {\n    \"fieldId\" : \"individualSourceOfFunds\",\n    \"fieldType\" : \"PAYMENT_METHOD\",\n    \"value\" : null,\n    \"note\" : \"Payment method not yet submitted\",\n    \"status\" : \"OPEN\"\n  } ]\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"AC-U4BWHGZDG6W"},"status":{"type":"string","example":"PENDING"},"type":{"type":"string","example":"INDIVIDUAL"},"country":{"type":"string","example":"US"},"createdAt":{"type":"integer","example":1541789972000,"default":0},"depositAddresses":{"type":"object","properties":{"ETH":{"type":"string","example":"0x98B031783d0efb1E65C4072C6576BaCa0736A912"},"BTC":{"type":"string","example":"14CriXWTRoJmQdBzdikw6tEmSuwxMozWWq"}}},"totalBalances":{"type":"object","properties":{"BTC":{"type":"integer","example":1,"default":0},"ETH":{"type":"number","example":0.1,"default":0}}},"availableBalances":{"type":"object","properties":{"BTC":{"type":"integer","example":1,"default":0},"ETH":{"type":"number","example":0.1,"default":0}}},"profileFields":{"type":"array","items":{"type":"object","properties":{"fieldId":{"type":"string","example":"individualCellphoneNumber"},"fieldType":{"type":"string","example":"CELLPHONE"},"value":{},"note":{"type":"string","example":"Must be verified by user."},"status":{"type":"string","example":"OPEN"}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl -X POST \\\n-H \"Content-Type: application/json\" \\\n-H \"Authorization: Bearer YOUR-WYRE-SECRET-KEY\" \\\n-d '{\"type\":\"INDIVIDUAL\",\"country\": \"US\",\"subaccount\": true,\"profileFields\":[{\"fieldId\": \"individualLegalName\",\"value\": \"YOUR_NAME\"},{\"fieldId\": \"individualEmail\",\"value\": \"YOUREMAIL@EMAIL.com\"},{\"fieldId\": \"individualResidenceAddress\",\"value\": {\"street1\": \"1 Market St\",\"street2\": \"Suite 402\",\"city\": \"San Francisco\",\"state\": \"CA\",\"postalCode\": \"94105\",\"country\": \"US\"}}]}' \\\nhttps://api.testwyre.com/v3/accounts"},{"language":"javascript","code":"// This sample is assuming you are using the Express framework for Node.js.\nconst axios = require('axios');\nconst { signature } = require('../utils/signature');\n\n// Sensitive data like API keys should be stored in your environment configuration.\nconst YOUR_WYRE_API_KEY = AK-XXXX-XXXX-XXXX\nconst YOUR_WYRE_SECRET_KEY = SK-XXXX-XXXX-XXXX\n\nasync createAccount(req, res, next) {\n        try {\n            const timestamp = new Date().getTime();\n            const url = `https://api.testwyre.com/v3/accounts?timestamp=${timestamp}`;\n            const headers = {};\n            const body = {\n                type: 'INDIVIDUAL',\n                country: 'US',\n                subaccount: true,\n                profileFields:[\n                    {\n                        fieldId: \"individualLegalName\",\n                        value: req.body.name\n                    },\n                    {\n                        fieldId: \"individualEmail\",\n                        value: req.body.email\n                    },\n                    {\n                        fieldId: \"individualResidenceAddress\",\n                        value: {\n                            street1: req.body.street1,\n                            street2: req.body.street2,\n                            city: req.body.city,\n                            state: req.body.state,\n                            postalCode: req.body.postalCode,\n                            country: req.body.country\n                        }\n                    },\n                    {\n                        fieldId: \"individualCellphoneNumber\",\n                        value: req.body.phonenumber\n                    },\n                    {\n                        fieldId: \"individualDateOfBirth\",\n                        value: req.body.dob\n                    },\n                    {\n                        fieldId: \"individualSsn\",\n                        value: req.body.ssn\n                    }\n                ]\n            }\n            const details = JSON.stringify(body);\n\n            headers['Content-Type'] = 'application/json';\n            headers['X-Api-Key'] = YOUR_WYRE_API_KEY;\n            headers['X-Api-Signature'] = signature(url, details);\n\n            const config = {\n                method: \"POST\",\n                url: url,\n                headers: headers,\n                data: details\n            }\n\n            const response = await axios(config);\n            res.json(response.data);\n\n        } catch (error) {\n            console.log(\"this is erorr\");\n            next(error)\n        }\n     }\n\n//Signature Example\nconst CryptoJS = require('crypto-js');\nconst signature = (url, data) => {\n    const dataToSign = url + data;\n    const token = CryptoJS.enc.Hex.stringify(CryptoJS.HmacSHA256(dataToSign.toString(CryptoJS.enc.Utf8), YOUR_WYRE_SECRET_KEY));\n    return token;\n}","name":"Node.js"}],"samples-languages":["curl","javascript"]}}},"/v2/paymentMethod/{paymentMethodId}":{"get":{"summary":"Get Payment Method","description":"Retrieve a specific payment method by ID","operationId":"get-payment-method","parameters":[{"name":"paymentMethodId","in":"path","description":"the ID of the payment method to retrieve","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": \"PA_XXXXXXXXXXX\",\n    \"owner\": \"account:AC_XXXXXXXXXXX\",\n    \"createdAt\": 1607878270000,\n    \"createdBy\": \"account:AC_XXXXXXXXXXX\",\n    \"name\": \"USD Bank account ending in 0000\",\n    \"defaultCurrency\": \"USD\",\n    \"providerId\": \"PA_XXXXXXXXXXX\",\n    \"status\": \"AWAITING_FOLLOWUP\",\n    \"statusMessage\": null,\n    \"waitingPrompts\": [\n        {\n            \"id\": \"DQVXCZDA97X\",\n            \"prompt\": \"Upload a bank statement\",\n            \"responses\": [],\n            \"type\": \"DOCUMENT\"\n        }\n    ],\n    \"providerData\": {},\n    \"linkType\": \"INTERNATIONAL_TRANSFER\",\n    \"beneficiaryType\": \"INDIVIDUAL\",\n    \"supportsDeposit\": true,\n    \"nameOnMethod\": \"Billy Jones\",\n    \"last4Digits\": \"0000\",\n    \"brand\": null,\n    \"expirationDisplay\": null,\n    \"countryCode\": \"US\",\n    \"nickname\": null,\n    \"underReviewAt\": null,\n    \"reviewReason\": null,\n    \"rejectionMessage\": null,\n    \"disabled\": false,\n    \"supportsPayment\": true,\n    \"chargeableCurrencies\": [\n        \"USD\"\n    ],\n    \"depositableCurrencies\": [\n        \"USD\"\n    ],\n    \"chargeFeeSchedule\": null,\n    \"depositFeeSchedule\": null,\n    \"minCharge\": null,\n    \"maxCharge\": null,\n    \"minDeposit\": null,\n    \"maxDeposit\": null,\n    \"documents\": [],\n    \"deletedDocuments\": [],\n    \"ownerName\": \"Decipher Financial\",\n    \"blockchains\": {\n        \"BTC\": \"mx9SoPogsMaaesXHtrb5dsn3fyRsQqFmuE\",\n        \"ETH\": \"0x39a3130c4d27c77eb70197e14444c738ddb90182\"\n    },\n    \"liquidationBalances\": {},\n    \"srn\": \"paymentmethod:PA_XXXXXXXXXXX\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"PA_XXXXXXXXXXX"},"owner":{"type":"string","example":"account:AC_XXXXXXXXXXX"},"createdAt":{"type":"integer","example":1607878270000,"default":0},"createdBy":{"type":"string","example":"account:AC_XXXXXXXXXXX"},"name":{"type":"string","example":"USD Bank account ending in 0000"},"defaultCurrency":{"type":"string","example":"USD"},"providerId":{"type":"string","example":"PA_XXXXXXXXXXX"},"status":{"type":"string","example":"AWAITING_FOLLOWUP"},"statusMessage":{},"waitingPrompts":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"DQVXCZDA97X"},"prompt":{"type":"string","example":"Upload a bank statement"},"responses":{"type":"array"},"type":{"type":"string","example":"DOCUMENT"}}}},"providerData":{"type":"object","properties":{}},"linkType":{"type":"string","example":"INTERNATIONAL_TRANSFER"},"beneficiaryType":{"type":"string","example":"INDIVIDUAL"},"supportsDeposit":{"type":"boolean","example":true,"default":true},"nameOnMethod":{"type":"string","example":"Billy Jones"},"last4Digits":{"type":"string","example":"0000"},"brand":{},"expirationDisplay":{},"countryCode":{"type":"string","example":"US"},"nickname":{},"underReviewAt":{},"reviewReason":{},"rejectionMessage":{},"disabled":{"type":"boolean","example":false,"default":true},"supportsPayment":{"type":"boolean","example":true,"default":true},"chargeableCurrencies":{"type":"array","items":{"type":"string","example":"USD"}},"depositableCurrencies":{"type":"array","items":{"type":"string","example":"USD"}},"chargeFeeSchedule":{},"depositFeeSchedule":{},"minCharge":{},"maxCharge":{},"minDeposit":{},"maxDeposit":{},"documents":{"type":"array"},"deletedDocuments":{"type":"array"},"ownerName":{"type":"string","example":"Decipher Financial"},"blockchains":{"type":"object","properties":{"BTC":{"type":"string","example":"mx9SoPogsMaaesXHtrb5dsn3fyRsQqFmuE"},"ETH":{"type":"string","example":"0x39a3130c4d27c77eb70197e14444c738ddb90182"}}},"liquidationBalances":{"type":"object","properties":{}},"srn":{"type":"string","example":"paymentmethod:PA_XXXXXXXXXXX"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"javascript","code":"const axios = require('axios');\n\nasync getPaymentMethod(req, res) {\n    try {\n        const timestamp = new Date().getTime();\n        const fullUrl = `https://api.sendwyre.com/v2/paymentMethod/${req.params.payment_id}?timestamp=${timestamp}`;\n        const headers = {};\n        const details = \"\";\n        headers['Content-Type'] = 'application/json';\n        headers['X-Api-Key'] = wyre_api_key;\n        headers['X-Api-Signature'] = signature(fullUrl, details);\n\n        const config = {\n            method: \"GET\",\n            url: fullUrl,\n            headers: headers,\n        }\n\n        const response = await axios(config);\n        res.send(response.data);\n\n    } catch (error) {\n        res.status(400).send(error.response.data);\n        return;\n    }\n    return;\n}","name":"Node.js"}],"samples-languages":["javascript"]}},"delete":{"summary":"Delete Payment Method","description":"","operationId":"delete-payment-method","parameters":[{"name":"paymentMethodId","in":"path","description":"ID of the payment method to be removed","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"true"}},"schema":{"type":"boolean","example":true,"default":true}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"'''\nThis is a Python 3.7 Module that deletes a payment methods in\nthe test env\n'''\nimport requests\nimport time\nimport os\nimport urllib.parse\nimport hashlib\nimport hmac\nimport json\n\n\nclass WyreApi:\n    API_KEY = os.getenv(\"WYRE_APIKEY\")\n    SEC_KEY = os.getenv(\"WYRE_TOKEN\")\n    API_URL = \"https://api.testwyre.com\"\n    API_VER2 = \"/v2\"\n    API_DELETE_PAYMENT = \"/paymentMethod\"\n\n    def calc_auth_sig_hash(self, url_body):\n        # calculates a signature per Wyre API:\n        # https://docs.sendwyre.com/docs/authentication#secret-key-signature-auth\n        message, secret = bytes(\n            url_body, 'utf-8'), bytes(WyreApi.SEC_KEY, 'utf-8')\n        newhash = hmac.new(secret, message, hashlib.sha256)\n        return newhash.hexdigest()\n\n    def calcTimeStamp(self):\n        # creates a timestamp to the millisecond\n        return str(round(time.time() * 1000))\n\n    def deletePaymentMethod(self, payment_id):\n        '''\n            Delete a payment method\n            DELETE https://api.testwyre.com/v2/paymentMethods\n        '''\n        if not payment_id:\n            print(\"Need to add a payment id\")\n            return\n\n        params = {\n            \"timestamp\": self.calcTimeStamp()\n        }\n        url = WyreApi.API_URL + WyreApi.API_VER2 + WyreApi.API_DELETE_PAYMENT \\\n            + \"/\" + payment_id + \"?\" + \\\n            urllib.parse.urlencode(params, encoding=\"utf-8\")\n\n        headers = {\n            \"X-API-Key\": WyreApi.API_KEY,\n            \"X-API-Signature\": self.calc_auth_sig_hash(url)\n        }\n\n        response = requests.delete(url, headers=headers)\n        if response.status_code == 200:\n            print(response)\n            return json.loads(response.text)\n        else:\n            print(response)\n            print(response.text)\n\n\nif __name__ == \"__main__\":\n\n    # initialize a Wyre Object\n    wyre = WyreApi()\n    payment_id = \"PA_GBU9DDFFDD4\"\n    # Get all payment methods\n    payments = wyre.deletePaymentMethod(payment_id)\n    if payments:\n        print(payments)\n"}],"samples-languages":["python"]}}},"/v3/accounts/{accountId}":{"post":{"summary":"Update Account","description":"","operationId":"submit-account-info","parameters":[{"name":"accountId","in":"path","description":"the ID of the Account you are updating","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"profileFields":{"type":"array","description":"An array containing objects of fieldIds and values"}}},"examples":{"Request Example":{"value":{"profileFields":[{"fieldId":"individualLegalName","value":"Johnny Quest"},{"fieldId":"individualCellphoneNumber","value":"+1 715-111-2222"},{"fieldId":"individualEmail","value":"lol@bananaphone.com"},{"fieldId":"individualDateOfBirth","value":"1990-09-24"},{"fieldId":"individualResidenceAddress","value":{"street1":"1 Market St","street2":"Suite 420","city":"San Francisco","state":"CA","postalCode":"94105","country":"US"}}]}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\" : \"AC-U4BWHGZDG6W\",\n  \"status\" : \"PENDING\",\n  \"type\" : \"INDIVIDUAL\",\n  \"country\" : \"US\",\n  \"createdAt\" : 1541789972000,\n  \"depositAddresses\" : {\n    \"ETH\" : \"0x98B031783d0efb1E65C4072C6576BaCa0736A912\",\n    \"BTC\" : \"14CriXWTRoJmQdBzdikw6tEmSuwxMozWWq\"\n  },\n  \"totalBalances\" : { \n    \"BTC\" : 1.0000000,\n    \"ETH\" : 0.1000000000000000000\n  },\n  \"availableBalances\" : { \n    \"BTC\" : 1.0000000,\n    \"ETH\" : 0.1000000000000000000\n  },\n  \"profileData\" : [ {\n    \"fieldId\" : \"individualCellphoneNumber\",\n    \"fieldType\" : \"CELLPHONE\",\n    \"value\" : null,\n    \"note\" : \"Must be verified by user.\",\n    \"status\" : \"OPEN\"\n  }, {\n    \"fieldId\" : \"individualEmail\",\n    \"fieldType\" : \"EMAIL\",\n    \"value\" : \"johnnyquest22@yolo.com\",\n    \"note\" : \"Must be verified by user.\",\n    \"status\" : \"OPEN\"\n  }, {\n    \"fieldId\" : \"individualLegalName\",\n    \"fieldType\" : \"STRING\",\n    \"value\" : \"Johnny Quest\",\n    \"note\" : null,\n    \"status\" : \"PENDING\"\n  }, {\n    \"fieldId\" : \"individualDateOfBirth\",\n    \"fieldType\" : \"DATE\",\n    \"value\" : null,\n    \"note\" : null,\n    \"status\" : \"OPEN\"\n  }, {\n    \"fieldId\" : \"individualSsn\",\n    \"fieldType\" : \"STRING\",\n    \"value\" : null,\n    \"note\" : null,\n    \"status\" : \"NULL\"\n  }, {\n    \"fieldId\" : \"individualResidenceAddress\",\n    \"fieldType\" : \"ADDRESS\",\n    \"value\" : {\n        \"street1\": \"1 Market St\",\n        \"street2\": \"Suite 402\",\n        \"city\": \"San Francisco\",\n        \"state\": \"CA\",\n        \"postalCode\": \"94105\",\n        \"country\": \"US\"\n    },\n    \"note\" : null,\n    \"status\" : \"PENDING\"\n  }, {\n    \"fieldId\" : \"individualGovernmentId\",\n    \"fieldType\" : \"DOCUMENT\",\n    \"value\" : [],\n    \"note\" : null,\n    \"status\" : \"OPEN\"\n  }, {\n    \"fieldId\" : \"individualSourceOfFunds\",\n    \"fieldType\" : \"PAYMENT_METHOD\",\n    \"value\" : null,\n    \"note\" : \"Payment method not yet submitted\",\n    \"status\" : \"OPEN\"\n  } ]\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"AC-U4BWHGZDG6W"},"status":{"type":"string","example":"PENDING"},"type":{"type":"string","example":"INDIVIDUAL"},"country":{"type":"string","example":"US"},"createdAt":{"type":"integer","example":1541789972000,"default":0},"depositAddresses":{"type":"object","properties":{"ETH":{"type":"string","example":"0x98B031783d0efb1E65C4072C6576BaCa0736A912"},"BTC":{"type":"string","example":"14CriXWTRoJmQdBzdikw6tEmSuwxMozWWq"}}},"totalBalances":{"type":"object","properties":{"BTC":{"type":"integer","example":1,"default":0},"ETH":{"type":"number","example":0.1,"default":0}}},"availableBalances":{"type":"object","properties":{"BTC":{"type":"integer","example":1,"default":0},"ETH":{"type":"number","example":0.1,"default":0}}},"profileData":{"type":"array","items":{"type":"object","properties":{"fieldId":{"type":"string","example":"individualCellphoneNumber"},"fieldType":{"type":"string","example":"CELLPHONE"},"value":{},"note":{"type":"string","example":"Must be verified by user."},"status":{"type":"string","example":"OPEN"}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"'''\nThis is a Python 3.7 Module that updates a Wyre Account\nusing secret key authentication.\n\nYou can only use this module for updating individual\nor business accounts if you already have an account set up.\n\nIf you do not have a business or individual account with a secretKey/ApiKey,\ngo through the sign-up process for a test account here: https://www.testwyre.com/\n'''\n\nimport hashlib\nimport hmac\nimport json\nimport os\nimport requests\nimport time\nimport urllib.parse\n\n\nclass WyreApi:\n    ACCOUNT_ID = os.getenv(\"ACCOUNT_ID\")\n    API_KEY = os.getenv(\"WYRE_APIKEY\")\n    SEC_KEY = os.getenv(\"WYRE_TOKEN\")\n    API_VER3 = \"/v3\"\n    API_ACCOUNT_PATH = \"/accounts\"\n    API_URL = \"https://api.testwyre.com\"\n\n\n\n\n    '''\n        This method calculates the auth signature hash required for secret key \n        authentication\n    '''\n\n    def calc_auth_sig_hash(self, url_body):\n        # calculates a signature per Wyre API:\n        # https://docs.sendwyre.com/docs/authentication#secret-key-signature-auth\n        message, secret = bytes(\n            url_body, 'utf-8'), bytes(WyreApi.SEC_KEY, 'utf-8')\n        newhash = hmac.new(secret, message, hashlib.sha256)\n        return newhash.hexdigest()\n\n\n\n\n\n    '''\n        This method calculates a timesteamp required for the secret key \n        authentication\n    '''\n\n    def calcTimeStamp(self):\n        # creates a timestamp to the millisecond\n        return str(round(time.time() * 1000))\n\n\n\n\n\n    '''\n        This method updates an account\n    '''\n\n    def updateAccount(self, post_data=None):\n        if not post_data:\n            print(\"You need to pass in an update object\")\n            return\n\n        params = {\n            \"timestamp\": self.calcTimeStamp()\n            # If you are masquerading (acting on behalf) of your subaccount\n            # enter your account_id associated with your business account\n            # You could add that field in when passing data into the method\n            # \"masqueradeAs\": \"ENTER ACCOUNT ID HERE\"\n        }\n        url = WyreApi.API_URL + WyreApi.API_VER3 + WyreApi.API_ACCOUNT_PATH + \\\n            \"?\" + urllib.parse.urlencode(params, encoding='utf-8')\n        headers = {\n            'X-API-Key': WyreApi.API_KEY,\n            'X-API-Signature': self.calc_auth_sig_hash(url + json.dumps(post_data))\n        }\n        response = requests.post(url, headers=headers, json=post_data)\n        if response.status_code == 200:\n            return json.loads(response.text)\n        else:\n            print(response)\n\n            \n            \n\nif __name__ == \"__main__\":\n    #=========== Initializes a Wyre Obj ============= #\n    account = WyreApi()\n\n    #======== Updating account with payment method ==== #\n    # You can add/subtract any fields you'd like to update an account\n    # https://docs.sendwyre.com/docs/account-resource#section-field-ids\n    updateObj = {\n        \"profileFields\": [{\n            \"fieldId\": \"individualLegalName\",\n            \"value\": \"Johnny Quest\"\n        }, {\n            \"fieldId\": \"individualCellphoneNumber\",\n            \"value\": \"+1 715-111-2222\"\n        }, {\n            \"fieldId\": \"individualEmail\",\n            \"value\": \"lol@bananaphone.com\"\n        }, {\n            \"fieldId\": \"individualDateOfBirth\",\n            \"value\": \"1990-09-24\"\n        }, {\n            \"fieldId\": \"individualResidenceAddress\",\n            \"value\": {\n                \"street1\": \"1 Market St\",\n                \"street2\": \"Suite 420\",\n                \"city\": \"San Francisco\",\n                \"state\": \"CA\",\n                \"postalCode\": \"94105\",\n                \"country\": \"US\"\n            }\n        }\n        ]\n    }\n\n    update = account.updateAccount(updateObj)\n    # Prints the server response\n    if update:\n    \tprint(update)"},{"language":"curl","code":"################### Update a Wyre Account ###################\n# In this example below, I'm using the test env. When you are ready, use the production url: https://api.sendwyre.com\n\n# Feel free to input your fields to update an account. \n\ncurl -X POST \\\n-H \"Content-Type: application/json\" \\\n-H \"Authorization: Bearer YOUR-BEARER-TOKEN\" \\\n-d '{\"profileFields\": [\\\n{\"fieldId\": \"individualLegalName\",\"value\": \"Johnny Quest\"}, \\\n{\"fieldId\": \"individualCellphoneNumber\",\"value\": \"+1 715-111-2222\"}, \\\n{\"fieldId\": \"individualEmail\",\"value\": \"lol@bananaphone.com\"}, \\\n{\"fieldId\": \"individualDateOfBirth\",\"value\": \"1990-09-24\"}, \\\n{\"fieldId\": \"individualResidenceAddress\",\"value\": ] \\\n{\"street1\": \"1 Market St\",\\\n\"street2\": \"Suite 420\", \\\n\"city\": \"San Francisco\", \\\n\"state\": \"CA\", \\\n\"postalCode\": \"94105\", \\\n \"country\": \"US\"}}]}' \\\nhttps://api.testwyre.com/v3/accounts/your_account_id\n#Ex: https://api.testwyre.com/v3/accounts/AC-U4BWHGZDG6W"}],"samples-languages":["python","curl"]}},"get":{"summary":"Get Account","description":"Retrieve all profile data for an account along with verification status","operationId":"get-account","parameters":[{"name":"accountId","in":"path","description":"The ID of the account you wish to retrieve","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\" : \"AC-U4BWHGZDG6W\",\n  \"status\" : \"PENDING\",\n  \"type\" : \"INDIVIDUAL\",\n  \"country\" : \"US\",\n  \"createdAt\" : 1541789972000,\n  \"depositAddresses\" : {\n    \"ETH\" : \"0x98B031783d0efb1E65C4072C6576BaCa0736A912\",\n    \"BTC\" : \"14CriXWTRoJmQdBzdikw6tEmSuwxMozWWq\"\n  },\n  \"totalBalances\" : { \n    \"BTC\" : 1.0000000,\n    \"ETH\" : 0.1000000000000000000\n  },\n  \"availableBalances\" : { \n    \"BTC\" : 1.0000000,\n    \"ETH\" : 0.1000000000000000000\n  },\n  \"profileFields\" : [ {\n    \"fieldId\" : \"individualCellphoneNumber\",\n    \"fieldType\" : \"CELLPHONE\",\n    \"value\" : null,\n    \"note\" : \"Must be verified by user.\",\n    \"status\" : \"OPEN\"\n  }, {\n    \"fieldId\" : \"individualEmail\",\n    \"fieldType\" : \"EMAIL\",\n    \"value\" : \"johnnyquest22@yolo.com\",\n    \"note\" : \"Must be verified by user.\",\n    \"status\" : \"OPEN\"\n  }, {\n    \"fieldId\" : \"individualLegalName\",\n    \"fieldType\" : \"STRING\",\n    \"value\" : \"Johnny Quest\",\n    \"note\" : null,\n    \"status\" : \"PENDING\"\n  }, {\n    \"fieldId\" : \"individualDateOfBirth\",\n    \"fieldType\" : \"DATE\",\n    \"value\" : null,\n    \"note\" : null,\n    \"status\" : \"OPEN\"\n  }, {\n    \"fieldId\" : \"individualSsn\",\n    \"fieldType\" : \"STRING\",\n    \"value\" : null,\n    \"note\" : null,\n    \"status\" : \"OPEN\"\n  }, {\n    \"fieldId\" : \"individualResidenceAddress\",\n    \"fieldType\" : \"ADDRESS\",\n    \"value\" : {\n\t\t\t\t\"street1\": \"1 Market St\",\n\t\t\t\t\"street2\": \"Suite 402\",\n\t\t\t\t\"city\": \"San Francisco\",\n\t\t\t\t\"state\": \"CA\",\n\t\t\t\t\"postalCode\": \"94105\",\n\t\t\t\t\"country\": \"US\"\n\t\t},\n    \"note\" : null,\n    \"status\" : \"PENDING\"\n  }, {\n    \"fieldId\" : \"individualGovernmentId\",\n    \"fieldType\" : \"DOCUMENT\",\n    \"value\" : [],\n    \"note\" : null,\n    \"status\" : \"OPEN\"\n  }, {\n    \"fieldId\" : \"individualSourceOfFunds\",\n    \"fieldType\" : \"PAYMENT_METHOD\",\n    \"value\" : null,\n    \"note\" : \"Payment method not yet submitted\",\n    \"status\" : \"OPEN\"\n  } ]\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"AC-U4BWHGZDG6W"},"status":{"type":"string","example":"PENDING"},"type":{"type":"string","example":"INDIVIDUAL"},"country":{"type":"string","example":"US"},"createdAt":{"type":"integer","example":1541789972000,"default":0},"depositAddresses":{"type":"object","properties":{"ETH":{"type":"string","example":"0x98B031783d0efb1E65C4072C6576BaCa0736A912"},"BTC":{"type":"string","example":"14CriXWTRoJmQdBzdikw6tEmSuwxMozWWq"}}},"totalBalances":{"type":"object","properties":{"BTC":{"type":"integer","example":1,"default":0},"ETH":{"type":"number","example":0.1,"default":0}}},"availableBalances":{"type":"object","properties":{"BTC":{"type":"integer","example":1,"default":0},"ETH":{"type":"number","example":0.1,"default":0}}},"profileFields":{"type":"array","items":{"type":"object","properties":{"fieldId":{"type":"string","example":"individualCellphoneNumber"},"fieldType":{"type":"string","example":"CELLPHONE"},"value":{},"note":{"type":"string","example":"Must be verified by user."},"status":{"type":"string","example":"OPEN"}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n\t\n}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"'''\nThis is a Python 3.7 Module that gets a Wyre Account\ninformation using secret key authentication.\n\nYou can only use this module for getting individual\nor business accounts if you already have an account set up.\n\nIf you do not have a business or individual account with a secretKey/ApiKey,\ngo through the sign-up process for a test account here: https://www.testwyre.com/\n'''\nimport hashlib\nimport hmac\nimport json\nimport os\nimport requests\nimport time\nimport urllib.parse\n\n\nclass WyreApi:\n    ACCOUNT_ID = os.getenv(\"ACCOUNT_ID\")\n    API_KEY = os.getenv(\"WYRE_APIKEY\")\n    SEC_KEY = os.getenv(\"WYRE_TOKEN\")\n    API_VER3 = \"/v3\"\n    API_ACCOUNT_PATH = \"/accounts\"\n    API_URL = \"https://api.testwyre.com\"\n\n    '''\n        This method calculates the auth signature hash required for secret key \n        authentication\n    '''\n\n    def calc_auth_sig_hash(self, url_body):\n        # calculates a signature per Wyre API:\n        # https://docs.sendwyre.com/docs/authentication#secret-key-signature-auth\n        message, secret = bytes(\n            url_body, 'utf-8'), bytes(WyreApi.SEC_KEY, 'utf-8')\n        newhash = hmac.new(secret, message, hashlib.sha256)\n        return newhash.hexdigest()\n\n      \n      \n      \n      \n    '''\n        This method calculates a timesteamp required for the secret key \n        authentication\n    '''\n\n    def calcTimeStamp(self):\n        # creates a timestamp to the millisecond\n        return str(round(time.time() * 1000))\n      \n      \n      \n      \n    '''  \n     \t\tThis method gets account information and returns it as a json object\n        Prints an error message if call is unsuccessful.\n    '''\n    def getAccountInfo(self):\n        params = {\n            \"timestamp\": self.calcTimeStamp()\n            # If you are masquerading (acting on behalf) of your subaccount\n            # enter your account_id associated with your business account\n            # You could add that field in when passing data into the method\n            # \"masqueradeAs\": \"ENTER ACCOUNT ID HERE\"\n        }\n        url = WyreApi.API_URL + WyreApi.API_VER3 + WyreApi.API_ACCOUNT_PATH + \\\n            \"/\" + WyreApi.ACCOUNT_ID + \"?\" + \\\n            urllib.parse.urlencode(params, encoding='utf-8')\n\n        headers = {\n            'X-API-Key': WyreApi.API_KEY,\n            'X-API-Signature': self.calc_auth_sig_hash(url)\n        }\n        response = requests.get(url, headers=headers)\n        if response.status_code == 200:\n            return json.loads(response.text)\n        else:\n            print(response)\n\n\nif __name__ == \"__main__\":\n    #=========== Initializes a Wyre Obj ============= #\n    account = WyreApi()\n    response = account.getAccountInfo()\n    # response is the server response\n    if response:\n    \tprint(response)"},{"language":"curl","code":"################### Get Wyre Account Information ###################\n# In this example below, I'm using the test env. When you are ready, use the production url: https://api.sendwyre.com\n\ncurl -X GET \\\n-H \"Authorization: Bearer SK-XXXXXXXX-XXXXXXXX-XXXXXXXX-XXXXXXXX\" \\\nhttps://api.testwyre.com/v3/accounts/:accountId\n#Ex: https://api.testwyre.com/v3/accounts/AC_XXXXXXXXXX"}],"samples-languages":["python","curl"]}}},"/v3/transfers/transferId:/confirm":{"post":{"summary":"Confirm Transfer","description":"","operationId":"confirm-transfer","parameters":[{"name":"transferId","in":"path","description":"the ID of the transfer to confirm","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": \"TF-4F3HRUYPNFY\",\n    \"sourceAmount\": 5,\n    \"sourceCurrency\": \"USD\",\n    \"destAmount\": 0.01,\n    \"destCurrency\": \"BTC\",\n    \"status\": \"PENDING\",\n    \"message\": \"Payment for DorianNakamoto@sendwyre.com\",\n    \"customId\": null,\n    \"exchangeRate\": 499.00,\n    \"createdAt\": 1541552388000,\n    \"fees\": {\n        \"USD\": 0.1,\n        \"BTC\": 0\n    },\n    \"totalFees\": 0.1,\n    \"completedAt\": 1541552388000,\n    \"cancelledAt\": null,\n    \"failureReason\": null,\n    \"expiresAt\": 1541553288000,\n    \"reversingSubStatus\": null,\n    \"reversalReason\": null,\n    \"pendingSubStatus\": null,\n    \"dest\": \"bitcoin:14CriXWTRoJmQdBzdikw6tEmSuwxMozWWq\",\n    \"blockchainTx\": null,\n    \"statusHistories\": [\n        {\n            \"id\": \"N88AFATLRZY\",\n            \"transferId\": \"TF-4F3HRUYPNFY\",\n            \"createdAt\": 1541552388000,\n            \"type\": \"OUTGOING\",\n            \"statusOrder\": 0,\n            \"statusDetail\": \"Initiating Transfer\",\n            \"state\": \"INITIATED\",\n            \"failedState\": null\n        },\n        {\n            \"id\": \"PED3FNLNUV7\",\n            \"transferId\": \"TF-4F3HRUYPNFY\",\n            \"createdAt\": 1541552388000,\n            \"type\": \"OUTGOING\",\n            \"statusOrder\": 200,\n            \"statusDetail\": \"Processing Exchange\",\n            \"state\": \"PENDING\",\n            \"failedState\": null\n        }\n    ],\n    \"owner\": \"account:AC-WYUR7ZZ6UMU\",\n    \"source\": \"account:AC-WYUR7ZZ6UMU\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"TF-4F3HRUYPNFY"},"sourceAmount":{"type":"integer","example":5,"default":0},"sourceCurrency":{"type":"string","example":"USD"},"destAmount":{"type":"number","example":0.01,"default":0},"destCurrency":{"type":"string","example":"BTC"},"status":{"type":"string","example":"PENDING"},"message":{"type":"string","example":"Payment for DorianNakamoto@sendwyre.com"},"customId":{},"exchangeRate":{"type":"integer","example":499,"default":0},"createdAt":{"type":"integer","example":1541552388000,"default":0},"fees":{"type":"object","properties":{"USD":{"type":"number","example":0.1,"default":0},"BTC":{"type":"integer","example":0,"default":0}}},"totalFees":{"type":"number","example":0.1,"default":0},"completedAt":{"type":"integer","example":1541552388000,"default":0},"cancelledAt":{},"failureReason":{},"expiresAt":{"type":"integer","example":1541553288000,"default":0},"reversingSubStatus":{},"reversalReason":{},"pendingSubStatus":{},"dest":{"type":"string","example":"bitcoin:14CriXWTRoJmQdBzdikw6tEmSuwxMozWWq"},"blockchainTx":{},"statusHistories":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"N88AFATLRZY"},"transferId":{"type":"string","example":"TF-4F3HRUYPNFY"},"createdAt":{"type":"integer","example":1541552388000,"default":0},"type":{"type":"string","example":"OUTGOING"},"statusOrder":{"type":"integer","example":0,"default":0},"statusDetail":{"type":"string","example":"Initiating Transfer"},"state":{"type":"string","example":"INITIATED"},"failedState":{}}}},"owner":{"type":"string","example":"account:AC-WYUR7ZZ6UMU"},"source":{"type":"string","example":"account:AC-WYUR7ZZ6UMU"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"requestBody":{"content":{"application/json":{"schema":{},"examples":{"Request Example":{"value":{"sourceAmount":"10","source":"account:PXTEXJ4HEPM","sourceCurrency":"USD","destCurrency":"CNY","dest":"email:sam@sendwyre.com"}}}}}}}},"/v3/transfers":{"post":{"summary":"Create Transfer","description":"","operationId":"create-transfer","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["sourceAmount","sourceCurrency","dest","destAmount","destCurrency"],"properties":{"source":{"type":"string","description":"An SRN representing an account that the funds will be retrieved from"},"sourceAmount":{"type":"number","description":"The amount to withdrawal from the source, in units of `sourceCurrency`. Only include `sourceAmount` OR `destAmount`, not both.","format":"double"},"sourceCurrency":{"type":"string","description":"The currency (ISO 3166-1 alpha-3) to withdrawal from the source wallet"},"dest":{"type":"string","description":"An account, wallet, or digital currency address or bank account to send the digital currency to. For bitcoin address use \"bitcoin:[address]\"."},"destAmount":{"type":"number","description":"Specifies the total amount of currency to deposit (as defined in `depositCurrency`). Only include `sourceAmount` OR `destAmount`, not both.","format":"double"},"destCurrency":{"type":"string","description":"The currency (ISO 3166-1 alpha-3) to deposit. if not provided, the deposit will be the same as the withdrawal currency (no exchange performed)"},"message":{"type":"string","description":"An optional user visible message to be sent with the transaction."},"notifyUrl":{"type":"string","description":"An optional url that Wyre will POST a status callback to (see [Callbacks](docs:) for more information)"},"autoConfirm":{"type":"boolean","description":"An optional parameter to automatically confirm the transfer order."},"customId":{"type":"string","description":"an optional custom ID to tag the transfer"},"amountIncludesFees":{"type":"boolean","description":"Optional. When true, the amount indicated (source or dest) will be treated as already including the fees"},"preview":{"type":"boolean","description":"creates a quote transfer object, but does not execute a real transfer."},"muteMessages":{"type":"boolean","description":"When true, disables outbound emails/messages to the destination"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"// A) Fiat USD transfer to payment method response\n{\n    \"owner\": \"account:AC_XXXXXXXX1\",\n    \"source\": \"account:AC_XXXXXXXX2\",\n    \"createdAt\": 604093186746,\n    \"sourceAmount\": 201.00,\n    \"destCurrency\": \"USD\",\n    \"sourceCurrency\": \"USD\",\n    \"customId\": null,\n    \"completedAt\": null,\n    \"cancelledAt\": null,\n    \"failureReason\": null,\n    \"expiresAt\": 1604094086746,\n    \"updatedAt\": null,\n    \"status\": \"UNCONFIRMED\",\n    \"exchangeRate\": null,\n    \"destAmount\": 200.00,\n    \"fees\": {\n        \"USD\": 1.00\n    },\n    \"totalFees\": 1.00,\n    \"blockchainTx\": null,\n    \"reversalReason\": null,\n    \"reversingSubStatus\": null,\n    \"dest\": \"paymentmethod:PA_LXXXXXXXX\",\n    \"statusHistories\": [],\n    \"pendingSubStatus\": null,\n    \"message\": \"Sending the user payment method\",\n    \"id\": \"TF_VXXXXXXXX\"\n}\n\n________________________________________________________________\n// B) Crypto USDT wallet transfer to payment method response\n\n{\n    \"owner\": \"account:AC_XXXXXXXX1\",\n    \"source\": \"wallet:WA_XXXXXXXX2\",\n    \"createdAt\": 604093186746,\n    \"sourceAmount\": 201.00,\n    \"destCurrency\": \"USD\",\n    \"sourceCurrency\": \"USDT\",\n    \"customId\": null,\n    \"completedAt\": null,\n    \"cancelledAt\": null,\n    \"failureReason\": null,\n    \"expiresAt\": 1604094086746,\n    \"updatedAt\": null,\n    \"status\": \"UNCONFIRMED\",\n    \"exchangeRate\": null,\n    \"destAmount\": 200.00,\n    \"fees\": {\n        \"USD\": 1.00\n    },\n    \"totalFees\": 1.00,\n    \"blockchainTx\": null,\n    \"reversalReason\": null,\n    \"reversingSubStatus\": null,\n    \"dest\": \"paymentmethod:PA_LXXXXXXXX\",\n    \"statusHistories\": [],\n    \"pendingSubStatus\": null,\n    \"message\": \"Sending to the user payment method\",\n    \"id\": \"TF_VXXXXXXXX\"\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"get":{"summary":"Transfer History","description":"","operationId":"transfer-history","parameters":[{"name":"offset","in":"query","description":"Determines the starting position of the returned items","schema":{"type":"string"}},{"name":"limit","in":"query","description":"Determines how many items are returned from the query","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"data\": [\n        {\n            \"closedAt\": 1536857934000,\n            \"createdAt\": 1536857933000,\n            \"id\": \"TF-PLPZGNU4EHV\",\n            \"customId\": null,\n            \"source\": \"account:AC-RCNPH8MWL3E\",\n            \"dest\": \"account:AC-RCNPH8MWL3E\",\n            \"sourceCurrency\": \"USD\",\n            \"destCurrency\": \"CNY\",\n            \"sourceAmount\": 1.01,\n            \"destAmount\": 6.83,\n            \"fees\": {\n                \"USD\": 0.01\n            },\n            \"sourceName\": \"Primary Account\",\n            \"destName\": \"Primary Account\",\n            \"status\": \"COMPLETED\",\n            \"message\": null,\n            \"exchangeRate\": 6.8349,\n            \"blockchainTxId\": null,\n            \"destNickname\": null\n        },\n        {\n            \"closedAt\": 1524090636000,\n            \"createdAt\": 1524090632000,\n            \"id\": \"TF-JD773YWJ3VB\",\n            \"customId\": null,\n            \"source\": \"paymentmethod:TestPaymentMethodApi\",\n            \"dest\": \"account:AC-RCNPH8MWL3E\",\n            \"sourceCurrency\": \"USD\",\n            \"destCurrency\": \"USD\",\n            \"sourceAmount\": 10000,\n            \"destAmount\": 10000,\n            \"fees\": {},\n            \"sourceName\": \"Payment Method TestPaymentMethodApi\",\n            \"destName\": \"Primary Account\",\n            \"status\": \"COMPLETED\",\n            \"message\": null,\n            \"exchangeRate\": null,\n            \"blockchainTxId\": null\n        }\n    ],\n    \"position\": 0,\n    \"recordsTotal\": 2,\n    \"recordsFiltered\": 2\n}"}},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"closedAt":{"type":"integer","example":1536857934000,"default":0},"createdAt":{"type":"integer","example":1536857933000,"default":0},"id":{"type":"string","example":"TF-PLPZGNU4EHV"},"customId":{},"source":{"type":"string","example":"account:AC-RCNPH8MWL3E"},"dest":{"type":"string","example":"account:AC-RCNPH8MWL3E"},"sourceCurrency":{"type":"string","example":"USD"},"destCurrency":{"type":"string","example":"CNY"},"sourceAmount":{"type":"number","example":1.01,"default":0},"destAmount":{"type":"number","example":6.83,"default":0},"fees":{"type":"object","properties":{"USD":{"type":"number","example":0.01,"default":0}}},"sourceName":{"type":"string","example":"Primary Account"},"destName":{"type":"string","example":"Primary Account"},"status":{"type":"string","example":"COMPLETED"},"message":{},"exchangeRate":{"type":"number","example":6.8349,"default":0},"blockchainTxId":{},"destNickname":{}}}},"position":{"type":"integer","example":0,"default":0},"recordsTotal":{"type":"integer","example":2,"default":0},"recordsFiltered":{"type":"integer","example":2,"default":0}}}}}}},"deprecated":false}},"/v3/transfers/{transferId}":{"get":{"summary":"Get Transfer","description":"Use this endpoint to get the details of a transfer","operationId":"get-transfer","parameters":[{"name":"transferId","in":"path","description":"ID of transfer to lookup","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"// Transfer USD -> BTC Example With \"blockchainTx\" Object.\n\n{\n  \"owner\": \"account:AC_XXXXXXXX1\",\n  \"reversingSubStatus\": null,\n  \"source\": \"paymentmethod:PA_XXXXXXXX1\",\n  \"pendingSubStatus\": null,\n  \"status\": \"COMPLETED\",\n  \"reversalReason\": null,\n  \"createdAt\": 1603824914000,\n  \"sourceAmount\": 2.02,\n  \"destCurrency\": \"BTC\",\n  \"sourceCurrency\": \"USD\",\n  \"statusHistories\": [\n    {\n      \"id\": \"QXXXXXXXX\",\n      \"transferId\": \"TF_XXXXXXXX1\",\n      \"createdAt\": 1603824935000,\n      \"type\": \"OUTGOING\",\n      \"statusOrder\": 0,\n      \"statusDetail\": \"Initiating Transfer\",\n      \"state\": \"INITIATED\",\n      \"failedState\": null\n    },\n    {\n      \"id\": \"BXXXXXXXX\",\n      \"transferId\": \"TF_XXXXXXX1\",\n      \"createdAt\": 1603824935000,\n      \"type\": \"OUTGOING\",\n      \"statusOrder\": 200,\n      \"statusDetail\": \"Processing Exchange\",\n      \"state\": \"PENDING\",\n      \"failedState\": null\n    },\n    {\n      \"id\": \"9XXXXXXXX\",\n      \"transferId\": \"TF_XXXXXXXX1\",\n      \"createdAt\": 1603824936000,\n      \"type\": \"OUTGOING\",\n      \"statusOrder\": 400,\n      \"statusDetail\": \"Processing Deposit\",\n      \"state\": \"PENDING\",\n      \"failedState\": null\n    },\n    {\n      \"id\": \"TXXXXXXXX\",\n      \"transferId\": \"TF_XXXXXXXX1\",\n      \"createdAt\": 1604346618000,\n      \"type\": \"OUTGOING\",\n      \"statusOrder\": 5100,\n      \"statusDetail\": \"Transfer Completed\",\n      \"state\": \"COMPLETED\",\n      \"failedState\": null\n    }\n  ],\n  \"blockchainTx\": {\n    \"id\": \"TR_XXXXXXXX1\",\n    \"networkTxId\": \"8ba2f644f71b2eaa5edd8e421df4a0b902e...\",\n    \"createdAt\": 1604343572000,\n    \"confirmations\": 1,\n    \"timeObserved\": 1604344752000,\n    \"blockTime\": 1604346566000,\n    \"blockhash\": \"0000000000000000000299574cd707c36...\",\n    \"amount\": 0.00014529,\n    \"direction\": \"OUTGOING\",\n    \"networkFee\": 0.00066185,\n    \"address\": \"3PZsfrHEsCooPM6BC9AXWyfxxxxxxxxxx\",\n    \"sourceAddress\": null,\n    \"currency\": \"BTC\",\n    \"twinTxId\": null\n  },\n  \"expiresAt\": 1603825514000,\n  \"completedAt\": 1604346618000,\n  \"cancelledAt\": null,\n  \"failureReason\": null,\n  \"updatedAt\": 1604346617000,\n  \"exchangeRate\": 0.00007264620000000001,\n  \"destAmount\": 0.00014529,\n  \"fees\": {\n    \"BTC\": 0,\n    \"USD\": 0.02\n  },\n  \"totalFees\": 0.02,\n  \"customId\": \"xxxxxxx-1111-77777-99999-1234567896\",\n  \"dest\": \"bitcoin:3PZsfrHEsCooPM6BC9AXWyxxxxxxxxxx\",\n  \"message\": null,\n  \"id\": \"TF_XXXXXXXX1\"\n}"}},"schema":{"type":"object","properties":{"owner":{"type":"string","example":"account:AC_XXXXXXXX1"},"reversingSubStatus":{},"source":{"type":"string","example":"paymentmethod:PA_XXXXXXXX1"},"pendingSubStatus":{},"status":{"type":"string","example":"COMPLETED"},"reversalReason":{},"createdAt":{"type":"integer","example":1603824914000,"default":0},"sourceAmount":{"type":"number","example":2.02,"default":0},"destCurrency":{"type":"string","example":"BTC"},"sourceCurrency":{"type":"string","example":"USD"},"statusHistories":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"QXXXXXXXX"},"transferId":{"type":"string","example":"TF_XXXXXXXX1"},"createdAt":{"type":"integer","example":1603824935000,"default":0},"type":{"type":"string","example":"OUTGOING"},"statusOrder":{"type":"integer","example":0,"default":0},"statusDetail":{"type":"string","example":"Initiating Transfer"},"state":{"type":"string","example":"INITIATED"},"failedState":{}}}},"blockchainTx":{"type":"object","properties":{"id":{"type":"string","example":"TR_XXXXXXXX1"},"networkTxId":{"type":"string","example":"8ba2f644f71b2eaa5edd8e421df4a0b902e..."},"createdAt":{"type":"integer","example":1604343572000,"default":0},"confirmations":{"type":"integer","example":1,"default":0},"timeObserved":{"type":"integer","example":1604344752000,"default":0},"blockTime":{"type":"integer","example":1604346566000,"default":0},"blockhash":{"type":"string","example":"0000000000000000000299574cd707c36..."},"amount":{"type":"number","example":0.00014529,"default":0},"direction":{"type":"string","example":"OUTGOING"},"networkFee":{"type":"number","example":0.00066185,"default":0},"address":{"type":"string","example":"3PZsfrHEsCooPM6BC9AXWyfxxxxxxxxxx"},"sourceAddress":{},"currency":{"type":"string","example":"BTC"},"twinTxId":{}}},"expiresAt":{"type":"integer","example":1603825514000,"default":0},"completedAt":{"type":"integer","example":1604346618000,"default":0},"cancelledAt":{},"failureReason":{},"updatedAt":{"type":"integer","example":1604346617000,"default":0},"exchangeRate":{"type":"number","example":0.00007264620000000001,"default":0},"destAmount":{"type":"number","example":0.00014529,"default":0},"fees":{"type":"object","properties":{"BTC":{"type":"integer","example":0,"default":0},"USD":{"type":"number","example":0.02,"default":0}}},"totalFees":{"type":"number","example":0.02,"default":0},"customId":{"type":"string","example":"xxxxxxx-1111-77777-99999-1234567896"},"dest":{"type":"string","example":"bitcoin:3PZsfrHEsCooPM6BC9AXWyxxxxxxxxxx"},"message":{},"id":{"type":"string","example":"TF_XXXXXXXX1"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/v3/rates":{"get":{"summary":"Exchange Rates","description":"","operationId":"live-exchange-rates","parameters":[{"name":"as","in":"query","description":"One of `DIVISOR`, `MULTIPLIER`, or `PRICED`. Dictates the structure and meaning of the numbers in the response","schema":{"type":"string","default":"DIVISOR"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"OK - as DIVISOR (default)":{"value":"{\n  \"DAIUSD\" : 1.0000000000000000,\n  \"ETHGBP\" : 0.00614438912894461535140759,\n  \"ETHDAI\" : 0.00468772651240999418604719,\n  \"BTCDAI\" : 0.0001553395057,\n  \"BTCUSD\" : 0.0001551095557793,\n  \"EURCNY\" : 0.1262048700,\n  \"ETHUSD\" : 0.00468067022563767608140186,\n  \"BRLEUR\" : 4.268617,\n  \"EURBTC\" : 5692.5720424425,\n  \"BRLHKD\" : 0.47708156844125,\n  \"DAIAUD\" : 0.7311389325235902,\n  \"DAIGBP\" : 1.3140247376079019\n   //And many more...\n}"},"OK - as PRICED":{"value":"{\n  \"AUDEUR\" : {\n    \"AUD\" : 1.59121648500278,\n    \"EUR\" : 0.6284500000\n  },\n  \"ETHAUD\" : {\n    \"AUD\" : 168.36495762445322,\n    \"ETH\" : 0.00593947822699870790826600\n  },\n  \"BRLMXN\" : {\n    \"MXN\" : 5.0634760000,\n    \"BRL\" : 0.19749278953825\n  },\n  \"MXNUSD\" : {\n    \"MXN\" : 18.920698,\n    \"USD\" : 0.0528521727\n  }\n  //And many more...\n}"}},"schema":{"oneOf":[{"title":"OK - as DIVISOR (default)","type":"object","properties":{"DAIUSD":{"type":"integer","example":1,"default":0},"ETHGBP":{"type":"number","example":0.0061443891289446155,"default":0},"ETHDAI":{"type":"number","example":0.004687726512409994,"default":0},"BTCDAI":{"type":"number","example":0.0001553395057,"default":0},"BTCUSD":{"type":"number","example":0.0001551095557793,"default":0},"EURCNY":{"type":"number","example":0.12620487,"default":0},"ETHUSD":{"type":"number","example":0.004680670225637676,"default":0},"BRLEUR":{"type":"number","example":4.268617,"default":0},"EURBTC":{"type":"number","example":5692.5720424425,"default":0},"BRLHKD":{"type":"number","example":0.47708156844125,"default":0},"DAIAUD":{"type":"number","example":0.7311389325235902,"default":0},"DAIGBP":{"type":"number","example":1.314024737607902,"default":0}}},{"title":"OK - as PRICED","type":"object","properties":{"AUDEUR":{"type":"object","properties":{"AUD":{"type":"number","example":1.59121648500278,"default":0},"EUR":{"type":"number","example":0.62845,"default":0}}},"ETHAUD":{"type":"object","properties":{"AUD":{"type":"number","example":168.3649576244532,"default":0},"ETH":{"type":"number","example":0.005939478226998708,"default":0}}},"BRLMXN":{"type":"object","properties":{"MXN":{"type":"number","example":5.063476,"default":0},"BRL":{"type":"number","example":0.19749278953825,"default":0}}},"MXNUSD":{"type":"object","properties":{"MXN":{"type":"number","example":18.920698,"default":0},"USD":{"type":"number","example":0.0528521727,"default":0}}}}}]}}}}},"deprecated":false}},"/v3/accounts/{accountId}/{fieldId}":{"post":{"summary":"Upload Document","description":"","operationId":"upload-document","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string","default":"the ID of the Account that the document belongs to"}},{"name":"fieldId","in":"path","description":"fieldId that the uploaded document is associated with. See list of valid fieldId values [here](/docs/account-resource#section-field-ids). Only fieldId values of type `DOCUMENT` will accept a document upload.","required":true,"schema":{"type":"string"}},{"name":"documentType","in":"query","description":"For individualGovernmentId fieldId, you could specify the documentType. Possible values are GOVT_ID, DRIVING_LICENSE, PASSPORT_CARD and PASSPORT","schema":{"type":"string","default":"GOVT_ID"}},{"name":"documentSubType","in":"query","description":"For individualGovernmentId fieldId, you could specify the documentSubType. Possible values are FRONT and BACK. For individualGovernmentId fieldId, it is required to upload both FRONT and BACK for GOVT_ID, DRIVING_LICENSE and PASSPORT_CARD.","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\" : \"AC-U4BWHGZDG6W\",\n  \"status\" : \"PENDING\",\n  \"type\" : \"INDIVIDUAL\",\n  \"country\" : \"US\",\n  \"createdAt\" : 1541789972000,\n  \"depositAddresses\" : {\n    \"ETH\" : \"0x98B031783d0efb1E65C4072C6576BaCa0736A912\",\n    \"BTC\" : \"14CriXWTRoJmQdBzdikw6tEmSuwxMozWWq\"\n  },\n  \"totalBalances\" : { \n    \"BTC\" : 1.0000000,\n    \"ETH\" : 0.1000000000000000000\n  },\n  \"availableBalances\" : { \n    \"BTC\" : 1.0000000,\n    \"ETH\" : 0.1000000000000000000\n  },\n  \"profileData\" : [ {\n    \"fieldId\" : \"individualCellphoneNumber\",\n    \"fieldType\" : \"CELLPHONE\",\n    \"value\" : null,\n    \"note\" : \"Must be verified by user.\",\n    \"status\" : \"OPEN\"\n  }, {\n    \"fieldId\" : \"individualEmail\",\n    \"fieldType\" : \"EMAIL\",\n    \"value\" : \"johnnyquest22@yolo.com\",\n    \"note\" : \"Must be verified by user.\",\n    \"status\" : \"OPEN\"\n  }, {\n    \"fieldId\" : \"individualLegalName\",\n    \"fieldType\" : \"STRING\",\n    \"value\" : \"Johnny Quest\",\n    \"note\" : null,\n    \"status\" : \"PENDING\"\n  }, {\n    \"fieldId\" : \"individualDateOfBirth\",\n    \"fieldType\" : \"DATE\",\n    \"value\" : null,\n    \"note\" : null,\n    \"status\" : \"OPEN\"\n  }, {\n    \"fieldId\" : \"individualSsn\",\n    \"fieldType\" : \"STRING\",\n    \"value\" : null,\n    \"note\" : null,\n    \"status\" : \"NULL\"\n  }, {\n    \"fieldId\" : \"individualResidenceAddress\",\n    \"fieldType\" : \"ADDRESS\",\n    \"value\" : {\n        \"street1\": \"1 Market St\",\n        \"street2\": \"Suite 402\",\n        \"city\": \"San Francisco\",\n        \"state\": \"CA\",\n        \"postalCode\": \"94105\",\n        \"country\": \"US\"\n    },\n    \"note\" : null,\n    \"status\" : \"PENDING\"\n  }, {\n    \"fieldId\" : \"individualGovernmentId\",\n    \"fieldType\" : \"DOCUMENT\",\n    \"value\" : [\"D2HLR7QCNZH\"],\n    \"note\" : null,\n    \"status\" : \"PENDING\"\n  }, {\n    \"fieldId\" : \"individualSourceOfFunds\",\n    \"fieldType\" : \"PAYMENT_METHOD\",\n    \"value\" : null,\n    \"note\" : \"Payment method not yet submitted\",\n    \"status\" : \"OPEN\"\n  } ]\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"AC-U4BWHGZDG6W"},"status":{"type":"string","example":"PENDING"},"type":{"type":"string","example":"INDIVIDUAL"},"country":{"type":"string","example":"US"},"createdAt":{"type":"integer","example":1541789972000,"default":0},"depositAddresses":{"type":"object","properties":{"ETH":{"type":"string","example":"0x98B031783d0efb1E65C4072C6576BaCa0736A912"},"BTC":{"type":"string","example":"14CriXWTRoJmQdBzdikw6tEmSuwxMozWWq"}}},"totalBalances":{"type":"object","properties":{"BTC":{"type":"integer","example":1,"default":0},"ETH":{"type":"number","example":0.1,"default":0}}},"availableBalances":{"type":"object","properties":{"BTC":{"type":"integer","example":1,"default":0},"ETH":{"type":"number","example":0.1,"default":0}}},"profileData":{"type":"array","items":{"type":"object","properties":{"fieldId":{"type":"string","example":"individualCellphoneNumber"},"fieldType":{"type":"string","example":"CELLPHONE"},"value":{},"note":{"type":"string","example":"Must be verified by user."},"status":{"type":"string","example":"OPEN"}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"\tcurl -X POST \\\n  \t'http://api.sendwyre.com/v3/accounts/AC-DM4ANREWUNJ/individualGovernmentId?documentType=DRIVING_LICENSE&documentSubType=FRONT&timestamp=1426252182534' \\\n    --upload-file '/Users/user/passport.pdf' \\\n  \t-H 'Content-Type: application/pdf' \\\n  \t-H 'Authorization: Bearer SK-XXX-XXX-XXX' \\\n\n\tcurl -X POST \\\n  \t'http://api.sendwyre.com/v3/accounts/AC-DM4ANREWUNJ/individualGovernmentId?documentType=DRIVING_LICENSE&documentSubType=BACK&timestamp=1426252182534' \\\n    --upload-file '/Users/user/passport.pdf' \\\n  \t-H 'Content-Type: application/pdf' \\\n  \t-H 'Authorization: Bearer SK-XXX-XXX-XXX' \\"},{"language":"html","code":"<!-- Use in conjusction with upload.js on the next tab -->\n<!doctype html>\n\n<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\">\n\n  <title>Wyre Document Upload</title>\n\n</head>\n\n<body>\n    <input type=\"file\">\n    <script src=\"./upload.js\"></script>\n</body>\n</html>","name":"index.html"},{"language":"javascript","code":"// Upload js file used in conjunction with index.html in the previous tab\nconst input = document.querySelector('input');\n\nlet uploadToWyre = (data) =>{\n    let timestamp = Date.now();\n    let headers = {};\n    headers['Authorization'] = 'Bearer SK-XXXXXX-XXXXXX-XXXXXX-XXXXXX';\n    headers['Content-Type'] = 'image/png';\n    fetch(`https://api.testwyre.com/v3/accounts/AC_XXXXXXXXXX/individualGovernmentId?documentType=PASSPORT&timestamp=${timestamp}`, {\n        method: \"POST\",\n        headers:  headers,\n        body: data.target.files[0]\n        }).then(res => {\n        console.log(\"Request complete! response:\", res);\n    });\n}\n\ninput.addEventListener('input', uploadToWyre);","name":"upload.js"}],"samples-languages":["curl","html","javascript"]}}},"/v3/subscriptions":{"post":{"summary":"Subscribe Webhook","description":"Receive HTTP webhooks when subscribed objects are updated","operationId":"subscribe-webhook","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"subscribeTo":{"type":"string","description":"The [SRN](doc:srns) for the object being subscribed/listened to. Whenever this referenced object is updated, the callback will get triggered"},"notifyTarget":{"type":"string","description":"The HTTP callback URI to notify when the subscribed object has been updated"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": \"JF4DQ2NE1\",\n  \"subscribed\": \"account:AC-F930QD8A2RRR\",\n  \"notifyTarget\": \"https://www.potatoes.com/webhook1\",\n  \"createdAt\": 1548368619000,\n  \"failure\": null,\n  \"failCount\": 0\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"JF4DQ2NE1"},"subscribed":{"type":"string","example":"account:AC-F930QD8A2RRR"},"notifyTarget":{"type":"string","example":"https://www.potatoes.com/webhook1"},"createdAt":{"type":"integer","example":1548368619000,"default":0},"failure":{},"failCount":{"type":"integer","example":0,"default":0}}}}}}},"deprecated":false},"get":{"summary":"Get Subscriptions","description":"Paginated response of all your currently active realtime data subscriptions","operationId":"get-subscriptions","parameters":[{"name":"offset","in":"query","description":"Starting position of the query","schema":{"type":"integer","format":"int32","default":0}},{"name":"length","in":"query","description":"Maximum number of results to return","schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": [{\n  \t\"id\": \"FD8319A3FA\",\n    \"subscribed\": \"account:AC-F930QD8A2RRR\",\n    \"notifyTarget\": \"https://www.potatoes.com/webhook1\",\n    \"createdAt\": 1548368619000,\n    \"failure\": null,\n    \"failCount\": 0\n  },{\n    \"id\": \"983SHNAOQZ6\",\n    \"subscribed\": \"account:AC-F930QD8A2RRR\",\n    \"notifyTarget\": \"https://www.potatoes.com/webhook2\",\n    \"createdAt\": 1548368114000,\n    \"failure\": \"Callback failed: 403 Forbidden\",\n    \"failCount\": 2\n  }],\n  \"recordsTotal\": 2,\n  \"position\": 0\n}"}},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"FD8319A3FA"},"subscribed":{"type":"string","example":"account:AC-F930QD8A2RRR"},"notifyTarget":{"type":"string","example":"https://www.potatoes.com/webhook1"},"createdAt":{"type":"integer","example":1548368619000,"default":0},"failure":{},"failCount":{"type":"integer","example":0,"default":0}}}},"recordsTotal":{"type":"integer","example":2,"default":0},"position":{"type":"integer","example":0,"default":0}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/v2/sessions/auth/key":{"post":{"summary":"Submit Auth Token","description":"Process a client-generated secret key to use as an auth token","operationId":"initialize-auth-token","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"secretKey":{"type":"string","description":"A 25-35 character randomly generated string to use as the key. Any valid JSON string without newlines is acceptable"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"apiKey\": \"AK-XXXX-YYYYY-ZZZZZ-QQQQQ\",\n  \"authenticatedAs\": null\n}"}},"schema":{"type":"object","properties":{"apiKey":{"type":"string","example":"AK-XXXX-YYYYY-ZZZZZ-QQQQQ"},"authenticatedAs":{}}}}}}},"deprecated":false,"security":[],"x-readme":{"code-samples":[{"language":"python","code":"'''\nThis is a Python 3.7 Module that Submits an Auth Token\nand returns an API key for authentication\n'''\nimport json\nimport secrets\nimport requests\nimport urllib.parse\n\n\nclass WyreApi:\n\n    API_URL = \"https://api.testwyre.com\"\n    API_VER2 = \"/v2\"\n    API_SESSIONS_PATH = \"/sessions/auth/key\"\n\n    def generate_token(self, tok_length=30):\n        '''\n            This method generates a secret token using secrets\n            in Python3\n        '''\n        return secrets.token_hex(tok_length)\n\n    def submitAuthToken(self, token):\n        '''\n            This method submits the secret key / token generated above\n            and to https://api.sendwyre.com/v2/sessions/auth/key\n            and sets API_KEY to the API key returned\n        '''\n        if not token:\n            print(\"Please generate a 25-35 length token\")\n            return\n\n        params = {\n            \"secretKey\": token\n        }\n        url = WyreApi.API_URL + WyreApi.API_VER2 + WyreApi.API_SESSIONS_PATH + \"?\" + \\\n            urllib.parse.urlencode(params, encoding='utf-8')\n\n        response = requests.post(url)\n        if response.status_code == 200:\n            return json.loads(response.text)\n        else:\n            print(response.text)\n\n\nif __name__ == \"__main__\":\n    # create a wyre class object\n    wyre = WyreApi()\n\n    # generate a wyre token\n    token = wyre.generate_token()\n    print(\"Token\", token)\n    # get a secret key\n    response = wyre.submitAuthToken(token)\n    if response:\n        print(\"API KEYS\", response.get('apiKey'))"},{"language":"curl","code":"################### Generate a secrey key ###################\n# On a Linux Environment\ndate +%s | sha256sum | base64 | head -c 32 ; echo\n\n# This will generate a random secret key. Do not lose this key. Once this key is generated, it will be tied to your API Key associated with your account. Here are other ways to generate a secret key in a Linux environmnet. https://www.howtogeek.com/howto/30184/10-ways-to-generate-a-random-password-from-the-command-line/\n\ncurl -XPOST \\\n-H \"Content-Type: application/json\" \\\n-d '{\"secretKey\": \"ENTER YOUR SECRET KEY HERE\"}' \\\nhttps://api.testwyre.com/v2/sessions/auth/key\n\n# This will return a JSON object with your API key. Use our test environment first before going into production.\n\n\n"}],"samples-languages":["python","curl"]}}},"/v3/subscriptions/{subscriptionId}":{"delete":{"summary":"Delete Subscription","description":"Remove any subscription you created to prevent further callbacks","operationId":"delete-subscription","parameters":[{"name":"subscriptionId","in":"path","description":"The ID of the subscription you wish to delete","schema":{"type":"string"},"required":true}],"responses":{"204":{"description":"204","content":{"application/json":{"examples":{"Result":{"value":""}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/v2/apiKeys":{"post":{"summary":"Create API Key","description":"Generate a new set of API credentials","operationId":"create-api-key","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"desc":{"type":"string","description":"A description of the credentials."},"type":{"type":"string","description":"Can be `FULL` or `READONLY`","default":"FULL"},"ipWhitelist":{"type":"array","description":"List of IP addresses allowed to use the key, or empty for no restrictions.","default":["[]"],"items":{"type":"string"}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"apiKey\": \"AK-XXXX-YYYYY-ZZZZZ-QQQQQ\",\n  \"owner\": \"account:AC_XYZ\",\n  \"type\": \"FULL\",\n  \"desc\": \"AwesomeWallet Connection\",\n  \"secretKey\": \"SK-ZZZZ-ZZZZ-ZZZZ-ZZZZ\",\n  \"ipWhitelist\": []\n}"}},"schema":{"type":"object","properties":{"apiKey":{"type":"string","example":"AK-XXXX-YYYYY-ZZZZZ-QQQQQ"},"owner":{"type":"string","example":"account:AC_XYZ"},"type":{"type":"string","example":"FULL"},"desc":{"type":"string","example":"AwesomeWallet Connection"},"secretKey":{"type":"string","example":"SK-ZZZZ-ZZZZ-ZZZZ-ZZZZ"},"ipWhitelist":{"type":"array"}}}}}}},"deprecated":false}},"/v2/paymentMethod/:paymentMethodId/attach":{"post":{"summary":"Attach Blockchain to Payment Method","description":"Give a payment method its own blockchain addresses for instant liquidation","operationId":"attach-blockchain-to-payment-method","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["blockchain"],"properties":{"blockchain":{"type":"string","description":"The blockchain to attach. May be `BTC`, `ETH`, or `ALL`. You may specify multiple currencies using commas, such as `BTC,ETH`"},"notifyUrl":{"type":"string","description":"The webhook URL that will be notified of the transfer as well as its subsequent status via a [data subscription](doc:subscribe-webhook)"},"muteMessages":{"type":"boolean","description":"When `true` indicates that the resulting transfers should not dispatch email notifications","default":false}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": \"PA_XXXXXXXXXX\",\n    \"owner\": \"account:AC_XXXXXXXXXXXX\",\n    \"createdAt\": 1607878270000,\n    \"name\": \"USD Bank account ending in 0000\",\n    \"defaultCurrency\": \"USD\",\n    \"status\": \"AWAITING_FOLLOWUP\",\n    \"statusMessage\": null,\n    \"waitingPrompts\": [\n        {\n            \"id\": \"DQVXCZDA97X\",\n            \"prompt\": \"Upload a bank statement\",\n            \"responses\": [],\n            \"type\": \"DOCUMENT\"\n        }\n    ],\n    \"linkType\": \"INTERNATIONAL_TRANSFER\",\n    \"beneficiaryType\": \"INDIVIDUAL\",\n    \"supportsDeposit\": true,\n    \"nameOnMethod\": \"Billy Jones\",\n    \"last4Digits\": \"0000\",\n    \"brand\": null,\n    \"expirationDisplay\": null,\n    \"countryCode\": \"US\",\n    \"nickname\": null,\n    \"rejectionMessage\": null,\n    \"disabled\": false,\n    \"supportsPayment\": true,\n    \"chargeableCurrencies\": [\n        \"USD\"\n    ],\n    \"depositableCurrencies\": [\n        \"USD\"\n    ],\n    \"chargeFeeSchedule\": null,\n    \"depositFeeSchedule\": null,\n    \"minCharge\": null,\n    \"maxCharge\": null,\n    \"minDeposit\": null,\n    \"maxDeposit\": null,\n    \"documents\": [],\n    \"blockchains\": {\n        \"ETH\": \"0x39a3130c4d27c77eb70197e14444c738ddb90182\",\n        \"BTC\": \"mx9SoPogsMaaesXHtrb5dsn3fyRsQqFmuE\"\n    },\n    \"liquidationBalances\": {},\n    \"srn\": \"paymentmethod:PA_XXXXXXXXXXX\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"PA_XXXXXXXXXX"},"owner":{"type":"string","example":"account:AC_XXXXXXXXXXXX"},"createdAt":{"type":"integer","example":1607878270000,"default":0},"name":{"type":"string","example":"USD Bank account ending in 0000"},"defaultCurrency":{"type":"string","example":"USD"},"status":{"type":"string","example":"AWAITING_FOLLOWUP"},"statusMessage":{},"waitingPrompts":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"DQVXCZDA97X"},"prompt":{"type":"string","example":"Upload a bank statement"},"responses":{"type":"array"},"type":{"type":"string","example":"DOCUMENT"}}}},"linkType":{"type":"string","example":"INTERNATIONAL_TRANSFER"},"beneficiaryType":{"type":"string","example":"INDIVIDUAL"},"supportsDeposit":{"type":"boolean","example":true,"default":true},"nameOnMethod":{"type":"string","example":"Billy Jones"},"last4Digits":{"type":"string","example":"0000"},"brand":{},"expirationDisplay":{},"countryCode":{"type":"string","example":"US"},"nickname":{},"rejectionMessage":{},"disabled":{"type":"boolean","example":false,"default":true},"supportsPayment":{"type":"boolean","example":true,"default":true},"chargeableCurrencies":{"type":"array","items":{"type":"string","example":"USD"}},"depositableCurrencies":{"type":"array","items":{"type":"string","example":"USD"}},"chargeFeeSchedule":{},"depositFeeSchedule":{},"minCharge":{},"maxCharge":{},"minDeposit":{},"maxDeposit":{},"documents":{"type":"array"},"blockchains":{"type":"object","properties":{"ETH":{"type":"string","example":"0x39a3130c4d27c77eb70197e14444c738ddb90182"},"BTC":{"type":"string","example":"mx9SoPogsMaaesXHtrb5dsn3fyRsQqFmuE"}}},"liquidationBalances":{"type":"object","properties":{}},"srn":{"type":"string","example":"paymentmethod:PA_XXXXXXXXXXX"}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"javascript","code":"const axios = require('axios');\nasync attachBlockchain(req, res) {\n    try {\n        const timestamp = new Date().getTime();\n        const url = `https://api.sendwyre.com/v2/paymentMethod/${req.params.payment_id}/attach?timestamp=${timestamp}`;\n        const headers = {};\n        const body = {\n            blockchain: \"ALL\",\n            notify: null,\n            muteMessages: true\n        }\n        const details = JSON.stringify(body);\n\n        headers['Content-Type'] = 'application/json';\n        headers['X-Api-Key'] = wyre_api_key;\n        headers['X-Api-Signature'] = signature(url, details);\n\n        const config = {\n            method: \"POST\",\n            url: url,\n            headers: headers,\n            data: details\n        }\n\n        const response = await axios(config);\n        res.send(response.data);\n\n    } catch (error) {\n        res.status(400).send(error.response.data);\n        return;\n    }\n    return;\n}","name":"Node.js"}],"samples-languages":["javascript"]}}},"/v3/limits":{"get":{"summary":"Limits","description":"Retrieve active limitations for movement of funds","operationId":"limits","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"ACCOUNT\": { // general account limits on ins/outs\n    \"24\": { // 1 day\n      \"BTC\": {\n        \"in\": 5.0, // deposit limit\n        \"out\": 5.0, // withdrawal limit\n        \"availIn\": 5.0,\n        \"availOut\": 5.0\n      }\n    },\n    \"168\": { // 1 week\n      \"USD\": {\n        \"in\": 20.0,\n        \"out\": 20.0,\n        \"availIn\": 20.0,\n        \"availOut\": 20.0\n      }\n    }\n  },\n  \"ACH\": { // limits which apply solely to ACH transactions\n    \"24\": { // 1 day\n      \"USD\": {\n        \"in\": 10000.0, // deposit limit\n        \"out\": 10000.0, // withdrawal limit\n        \"availIn\": 10000.0,\n        \"availOut\": 10000.0\n      }\n    },\n    \"168\": { // 1 week\n      \"USD\": {\n        \"in\": 20000.0,\n        \"out\": 20000.0,\n        \"availIn\": 20000.0,\n        \"availOut\": 20000.0\n      }\n    }\n  },\n  \"DEBIT_CARD\": { /* as above, apply solely to debit card transactions */ }\n}"}},"schema":{"type":"object","properties":{"ACCOUNT":{"type":"object","properties":{"24":{"type":"object","properties":{"BTC":{"type":"object","properties":{"in":{"type":"integer","example":5,"default":0},"out":{"type":"integer","example":5,"default":0},"availIn":{"type":"integer","example":5,"default":0},"availOut":{"type":"integer","example":5,"default":0}}}}},"168":{"type":"object","properties":{"USD":{"type":"object","properties":{"in":{"type":"integer","example":20,"default":0},"out":{"type":"integer","example":20,"default":0},"availIn":{"type":"integer","example":20,"default":0},"availOut":{"type":"integer","example":20,"default":0}}}}}}},"ACH":{"type":"object","properties":{"24":{"type":"object","properties":{"USD":{"type":"object","properties":{"in":{"type":"integer","example":10000,"default":0},"out":{"type":"integer","example":10000,"default":0},"availIn":{"type":"integer","example":10000,"default":0},"availOut":{"type":"integer","example":10000,"default":0}}}}},"168":{"type":"object","properties":{"USD":{"type":"object","properties":{"in":{"type":"integer","example":20000,"default":0},"out":{"type":"integer","example":20000,"default":0},"availIn":{"type":"integer","example":20000,"default":0},"availOut":{"type":"integer","example":20000,"default":0}}}}}}},"DEBIT_CARD":{"type":"object","properties":{}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/v2/apiKey/{apiKey}":{"delete":{"summary":"Delete API Key","description":"Destroys an existing key","operationId":"delete-api-key","parameters":[{"name":"apiKey","in":"path","description":"The API key you wish to delete","schema":{"type":"string"},"required":true}],"responses":{"204":{"description":"204","content":{"application/json":{"examples":{"Result":{"value":""}}}}}},"deprecated":false}},"/v2/paymentMethods":{"get":{"summary":"List Payment Methods","description":"Retrieve all payment methods owned by the current account","operationId":"list-payment-methods","parameters":[{"name":"offset","in":"query","description":"Determines the starting point if items returned","schema":{"type":"string"}},{"name":"limit","in":"query","description":"Determines the quantity of items returned from the query","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": [{\n    \"id\": \"PA-W7YN28ABCHT\",\n    \"owner\": \"account:AC-XX38VYXUA84\",\n    \"createdAt\": 1542771684392,\n    \"name\": \"Plaid Checking 0000\",\n    \"defaultCurrency\": \"USD\",\n    \"status\": \"PENDING\",\n    \"statusMessage\": null,\n    \"waitingPrompts\": [],\n    \"linkType\": \"LOCAL_TRANSFER\",\n    \"beneficiaryType\": \"UNKNOWN\",\n    \"supportsDeposit\": true,\n    \"nameOnMethod\": null,\n    \"last4Digits\": \"0000\",\n    \"brand\": null,\n    \"expirationDisplay\": null,\n    \"countryCode\": \"US\",\n    \"nickname\": null,\n    \"rejectionMessage\": null,\n    \"disabled\": false,\n    \"supportsPayment\": true,\n    \"chargeableCurrencies\": [ \"USD\" ],\n    \"depositableCurrencies\": [ \"USD\" ],\n    \"srn\": \"paymentmethod:PA-W7YN28ABCHT\",\n    \"chargeFeeSchedule\": null,\n    \"depositFeeSchedule\": null,\n    \"minCharge\": null,\n    \"maxCharge\": null,\n    \"minDeposit\": null,\n    \"maxDeposit\": null,\n    \"documents\": [],\n    \"blockchains\": {},\n    \"liquidationBalances\": {},\n  }],\n  \"recordsTotal\": 1,\n  \"position\": 0\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"python","code":"'''\nThis is a Python 3.7 Module that lists all the payment methods in\nthe test env\n'''\nimport requests\nimport time\nimport os\nimport urllib.parse\nimport hashlib\nimport hmac\nimport json\n\n\nclass WyreApi:\n    API_KEY = os.getenv(\"WYRE_APIKEY\")\n    SEC_KEY = os.getenv(\"WYRE_TOKEN\")\n    API_URL = \"https://api.testwyre.com\"\n    API_VER2 = \"/v2\"\n    API_GET_ALL_PAYMENT_METHODS = \"/paymentMethods\"\n\n    def calc_auth_sig_hash(self, url_body):\n        # calculates a signature per Wyre API:\n        # https://docs.sendwyre.com/docs/authentication#secret-key-signature-auth\n        message, secret = bytes(\n            url_body, 'utf-8'), bytes(WyreApi.SEC_KEY, 'utf-8')\n        newhash = hmac.new(secret, message, hashlib.sha256)\n        return newhash.hexdigest()\n\n    def calcTimeStamp(self):\n        # creates a timestamp to the millisecond\n        return str(round(time.time() * 1000))\n\n    def getAllPaymentMethods(self):\n        '''\n            Get a payment method\n            GET https://api.testwyre.com/v2/paymentMethods\n        '''\n        params = {\n            \"timestamp\": self.calcTimeStamp()\n        }\n        url = WyreApi.API_URL + WyreApi.API_VER2 + WyreApi.API_GET_ALL_PAYMENT_METHODS \\\n        + \"?\" + urllib.parse.urlencode(params, encoding=\"utf-8\")\n\n        headers = {\n            \"X-API-Key\": WyreApi.API_KEY,\n            \"X-API-Signature\": self.calc_auth_sig_hash(url)\n        }\n\n        response = requests.get(url, headers=headers)\n        if response.status_code == 200:\n            return json.loads(response.text)\n        else:\n            print(response)\n            print(response.text)\n\n\nif __name__ == \"__main__\":\n\n    # initialize a Wyre Object\n    wyre = WyreApi()\n\n    # Get all payment methods\n    payments = wyre.getAllPaymentMethods()\n    if payments:\n        print(payments)"}],"samples-languages":["python"]}}},"/v3/orders/reserve":{"post":{"summary":"Wallet Order Reservations","description":"Lock in wallet order via API before allowing widget operation","operationId":"wallet-order-reservations","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["referrerAccountId"],"properties":{"amount":{"type":"string","description":"Order amount (without rates locking)"},"sourceCurrency":{"type":"string","description":"Such as USD, GBP, EUR, CAD, AUD. See [Presentment Currencies](https://docs.sendwyre.com/docs/getting-started-wyre-checkout#current-digital-assets-and-fiat-currencies)"},"destCurrency":{"type":"string","description":"Destination currency to the supplied Ex. \"ETH\""},"dest":{"type":"string","description":"SRN of appropriate destination Ex. ethereum:0xBB9bc244D798123fDe783fCc1C72d3Bb8C189413"},"firstName":{"type":"string","description":"Buyer's first name"},"lastName":{"type":"string","description":"Buyer's last name (family name)"},"phone":{"type":"string","description":"Valid phone in the [E.164](https://en.wikipedia.org/wiki/E.164) format."},"email":{"type":"string","description":"Valid email address"},"country":{"type":"string","description":"Country code (alpha2 country code)","default":"US"},"postalCode":{"type":"string","description":"Valid US zipcode or postal code"},"state":{"type":"string","description":"Alpha2 code (2 characters) in uppercase for USA. Ex CA"},"city":{"type":"string","description":"City name"},"street1":{"type":"string","description":"Valid street line"},"lockFields":{"type":"array","description":"Possible values are [\"amount\", \"sourceCurrency\", \"destCurrency\", \"dest\", \"street1\", \"city\", \"state\", \"postalCode\", \"country\", \"firstName\", \"lastName\", \"phone\", \"email\"]","default":["[]"],"items":{"type":"string"}},"redirectUrl":{"type":"string","description":"Any valid HTTP URL"},"failureRedirectUrl":{"type":"string","description":"Any valid HTTP URL"},"paymentMethod":{"type":"string","description":"Possible values are `debit-card`, `apple-pay`"},"referrerAccountId":{"type":"string","description":"Account id of the owner of the authentication"},"referenceId":{"type":"string","description":"[optional] your own reference id (useful for webhooks)"},"hideTrackBtn":{"type":"boolean","description":"Used to disable the track button at the complete page","default":false},"sourceAmount":{"type":"string","description":"The fiat amount","default":"[optional]"},"destAmount":{"type":"string","description":"The crypto amount","default":"[optional]"},"amountIncludeFees":{"type":"boolean","description":"Tells if the sourceAmount OR destAmount includes fees or not","default":false}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"url\": \"https://pay.testwyre.com/purchase?accountId=AC_XXXXXXXXXX&country=US&failureRedirectUrl=https%3A%2F%2Fwww.sendwyre.com&amount=10&redirectUrl=https%3A%2F%2Fwww.sendeyre.com&utm_campaign=AC_Y22RAQXEYV6&utm_medium=widget&paymentMethod=debit-card&reservation=EFX6DN9ECRPTPDJBEL6U&sourceCurrency=USD&utm_source=checkout\",\n    \"reservation\": \"EFX6DN9ECRPTPDJBEL6U\"\n}"}},"schema":{"type":"object","properties":{"url":{"type":"string","example":"https://pay.testwyre.com/purchase?accountId=AC_XXXXXXXXXX&country=US&failureRedirectUrl=https%3A%2F%2Fwww.sendwyre.com&amount=10&redirectUrl=https%3A%2F%2Fwww.sendeyre.com&utm_campaign=AC_Y22RAQXEYV6&utm_medium=widget&paymentMethod=debit-card&reservation=EFX6DN9ECRPTPDJBEL6U&sourceCurrency=USD&utm_source=checkout"},"reservation":{"type":"string","example":"EFX6DN9ECRPTPDJBEL6U"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl -X POST \\\n  https://api.sendwyre.com/v3/orders/reserve \\\n  -H 'Authorization: Bearer WYRE_SECRET_KEY' \\\n  -H 'Content-Type: application/json' \\\n  -H 'cache-control: no-cache' \\\n  -d '{\n      \"amount\": \"10\",\n      \"paymentMethod\": \"debit-card\",\n      \"sourceCurrency\": \"USD\",\n      \"redirectUrl\": \"https://www.sendeyre.com\",\n      \"failureRedirectUrl\": \"https://www.sendwyre.com\",\n      \"referrerAccountId\": \"AC_XXXXXXXXXX\",\n      \"country\":\"US\",\n\t    \"lockFields\": [\"amount\"]\n\t}'"},{"language":"javascript","code":"const axios = require('axios');\nconst testUrl = \"https://api.testwyre.com\";\nconst productionUrl = \"https://api.sendwyre.com\";\nconst WYRE_TEST_API_KEY = \"AK-xxxx-xxxx-xxxx\";\n\n// Example is assuming use of Express and Axios\n// Make sure you are using the proper API keys for the correct environment (test, prod).\nasync orderReservation(req, res, next) {\n        try {\n            const timestamp = new Date().getTime();\n            const url = `${testUrl}/v3/orders/reserve?timestamp=${timestamp}`;\n            const headers = {};\n            const body = {\n              referrerAccountId: req.body.referrerAccountId\n            }\n            const details = JSON.stringify(body);\n            headers['Content-Type'] = 'application/json';\n            headers['X-Api-Key'] = WYRE_TEST_API_KEY;\n            headers['X-Api-Signature'] = signature(url, details);\n            const config = {\n                method: \"POST\",\n                url: url,\n                headers: headers,\n                data: details\n            }\n            const response = await axios(config);\n            res.send(response.data);\n        } catch (error) {\n            next(error)\n        }\n    }\n\n//View signature example here: https://docs.sendwyre.com/docs/authentication#section-calculating-the-request-signature"}],"samples-languages":["curl","javascript"]}}},"/v2/transfer/{transferId}/track":{"get":{"summary":"Track Widget Order","description":"Track a wallet order by transerId","operationId":"track-wallet-order","parameters":[{"name":"transferId","in":"path","description":"the transfer id","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"transferId\": \"TF_MDA6MAY848D\",\n    \"feeCurrency\": \"USD\",\n    \"fee\": 0.84,\n    \"fees\": {\n        \"ETH\": 0.001,\n        \"USD\": 0.33\n    },\n    \"sourceCurrency\": \"USD\",\n    \"destCurrency\": \"ETH\",\n    \"sourceAmount\": 1.84,\n    \"destAmount\": 0.001985533306564713,\n    \"destSrn\": \"ethereum:0x9E01E0E60dF079136a7a1d4ed97d709D5Fe3e341\",\n    \"from\": \"Walletorderholding WO_ELTUVYCAFPG\",\n    \"to\": null,\n    \"rate\": 0.0019760479041916164,\n    \"customId\": null,\n    \"status\": COMPLETED, \n    \"blockchainNetworkTx\": null,\n    \"message\": null,\n    \"transferHistoryEntryType\": \"OUTGOING\",\n    \"successTimeline\": [\n        {\n            \"statusDetails\": \"Initiating Transfer\",\n            \"state\": \"INITIATED\",\n            \"createdAt\": 1576263690000\n        },\n        {\n            \"statusDetails\": \"Processing Exchange\",\n            \"state\": \"PENDING\",\n            \"createdAt\": 1576263690000\n        },\n        {\n            \"statusDetails\": \"Processing Deposit\",\n            \"state\": \"PENDING\",\n            \"createdAt\": 1576263690000\n        }\n    ],\n    \"failedTimeline\": [],\n    \"failureReason\": null,\n    \"reversalReason\": null\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/v3/apple-pay/process/partner":{"post":{"summary":"Apple Pay Order Integration","description":"Wallet order creation with Apple Pay Payment Token","operationId":"apple-pay-order-integration","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"partnerId":{"type":"string","description":"Partner Wyre account Id. This field is mandatory."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": \"WO_ELTUVYCAFPG\", --> waller order id\n    \"createdAt\": 1576263687643,  -- timestamp in UTC\n    \"owner\": \"account:AC_RNWQNRAZFPC\", --> owner \n    \"status\": \"PROCESSING\",\n    \"transferId\": \"TF_MDA6MAY848D\",\n    \"sourceAmount\": 1.84,\n    \"sourceCurrency\": \"USD\",\n    \"destCurrency\": \"ETH\",\n    \"dest\": \"ethereum:0x9E01E0E60dF079136a7a1d4ed97d709D5Fe3e341\",\n    \"walletType\": \"APPLE_PAY\",\n    \"transferId\": null,\n    \"email\": \"user@company.com\",\n    \"errorMessage\": null,\n    \"accountId\": \"AC_RNWQNRAZFPC\",\n    \"paymentMethodName\": \"Visa 2942\"\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/v3/orders/quote/partner":{"post":{"summary":"Wallet Order Quotation","description":"Quote a Wallet Order","operationId":"wallet-order-quotation","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"amount":{"type":"string","description":"sourceAmount of a wallet order (e.g. purchase amount)"},"sourceCurrency":{"type":"string","description":"The currency (ISO 3166-1 alpha-3) to withdraw from the source wallet (e.g. USD)"},"destCurrency":{"type":"string","description":"The currency (ISO 3166-1 alpha-3) to deposit to dest wallet (e.g. BTC)"},"dest":{"type":"string","description":"A digital currency address to send the digital currency to."},"accountId":{"type":"string","description":"Your Partner Account ID. This associates purchases created inside the widget with you."},"country":{"type":"string","description":"Country code ISO Alpha 2 code in uppercase. Must be one of the countries supported by Wyre"},"walletType":{"type":"string","description":"APPLE_PAY or DEBIT_CARD","default":"DEBIT_CARD"},"amountIncludeFees":{"type":"boolean","description":"If `true`, fees are deducted from the `sourceAmount`","default":false},"sourceAmount":{"type":"string","description":"Use this parameter in place of `amount` when `amountIncludeFees` is equal to true."},"destAmount":{"type":"string","description":"Use this parameter when amountIncludeFees is equal to true."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"sourceCurrency\": \"USD\",\n    \"sourceAmount\": 5.95,\n    \"destCurrency\": \"ETH\",\n    \"destAmount\": 0.009880239520958084,\n    \"exchangeRate\": 0.001976047904191616838,\n    \"equivalencies\": {\n        \"CAD\": 4.95,\n        \"USDC\": 0.009920,\n        \"BTC\": 0.00040198,\n        \"ETH\": 0.009880239520958084,\n        \"GBP\": 4.95,\n        \"DAI\": 4.154151233875968493,\n        \"AUD\": 3.87,\n        \"EUR\": 4.95,\n        \"WETH\": 0.009880239520958084,\n        \"USD\": 4.95,\n        \"MXN\": 4.95\n    },\n    \"fees\": {\n        \"ETH\": 0.001000000000000000,\n        \"USD\": 0.45\n    }\n}"}},"schema":{"type":"object","properties":{"sourceCurrency":{"type":"string","example":"USD"},"sourceAmount":{"type":"number","example":5.95,"default":0},"destCurrency":{"type":"string","example":"ETH"},"destAmount":{"type":"number","example":0.009880239520958085,"default":0},"exchangeRate":{"type":"number","example":0.001976047904191617,"default":0},"equivalencies":{"type":"object","properties":{"CAD":{"type":"number","example":4.95,"default":0},"USDC":{"type":"number","example":0.00992,"default":0},"BTC":{"type":"number","example":0.00040198,"default":0},"ETH":{"type":"number","example":0.009880239520958085,"default":0},"GBP":{"type":"number","example":4.95,"default":0},"DAI":{"type":"number","example":4.154151233875968,"default":0},"AUD":{"type":"number","example":3.87,"default":0},"EUR":{"type":"number","example":4.95,"default":0},"WETH":{"type":"number","example":0.009880239520958085,"default":0},"USD":{"type":"number","example":4.95,"default":0},"MXN":{"type":"number","example":4.95,"default":0}}},"fees":{"type":"object","properties":{"ETH":{"type":"number","example":0.001,"default":0},"USD":{"type":"number","example":0.45,"default":0}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"javascript","code":"curl -X POST \\\n  API_URL/v3/orders/quote/partner \\\n  -H 'Authorization: Bearer WYRE_SECRET_KEY' \\\n  -H 'Content-Type: application/json' \\\n  -H 'Postman-Token: 7ad1cd47-a7bc-4126-9333-4983f4c6da5d' \\\n  -H 'cache-control: no-cache' \\\n  -d '{\n    \"amount\": \"5.0\",\n    \"sourceCurrency\": \"USD\",\n    \"destCurrency\": \"ETH\",\n    \"dest\": \"ethereum:xxxxxxxxxxx\",\n    \"accountId\": \"AC_xxxxxxxx\",\n     \"country\": \"US\"\n}'"}],"samples-languages":["javascript"]}}},"/v3/widget/limits/calculate":{"post":{"summary":"Limits API","description":"End-point to check current limits for a given wallet order billing address.","operationId":"limits-api","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["address","accountId"],"properties":{"walletType":{"type":"string","description":"Wallet type, must be either APPLE_PAY or DEBIT_CARD"},"address":{"type":"string","description":"See example for payload, all fields are required.","default":"JSON"},"accountId":{"type":"string","description":"Partner account id"},"userId":{"type":"string","description":"User id"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"dailyTotalSpent\": 0.00,\n    \"weeklyTotalSpent\": 2.00,\n    \"yearlyTotalSpent\": 23.15,\n    \"dailyTotal\": 260.00,\n    \"weeklyTotal\": 1000.00,\n    \"yearlyTotal\": 1500.00,\n    \"dailyRemaining\": 260.00,\n    \"weeklyRemaining\": 998.00,\n    \"yearlyRemaining\": 1476.85\n}"}},"schema":{"type":"object","properties":{"dailyTotalSpent":{"type":"integer","example":0,"default":0},"weeklyTotalSpent":{"type":"integer","example":2,"default":0},"yearlyTotalSpent":{"type":"number","example":23.15,"default":0},"dailyTotal":{"type":"integer","example":260,"default":0},"weeklyTotal":{"type":"integer","example":1000,"default":0},"yearlyTotal":{"type":"integer","example":1500,"default":0},"dailyRemaining":{"type":"integer","example":260,"default":0},"weeklyRemaining":{"type":"integer","example":998,"default":0},"yearlyRemaining":{"type":"number","example":1476.85,"default":0}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"security":[],"x-readme":{"code-samples":[{"language":"javascript","code":"curl -X POST \\\n  https://api.testwyre.com/v3/widget/limits/calculate \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n\t\"walletType\": \"DEBIT_CARD\",\n  \"accountId\": \"AC_XXXXXXXXXX\",\n  \"sourceCurrency\": \"USD\", // also accepts EUR, CAD, GBP and AUD\n\t\"address\": {\n\t\t\"street1\": \"\", // full street address\n\t\t\"city\": \"\", \n\t\t\"state\": \"\", // state code\n\t\t\"postalCode\": \"\", // only numbers\n\t\t\"country\": \"\" // two digits country code\n\t}\n}'"}],"samples-languages":["javascript"]}}},"/v3/widget/supportedCountries":{"get":{"summary":"Supported Countries","description":"End-point to fetch the currently supported countries by the Wyre widget.","operationId":"c
[...]
