{"openapi":"3.1.0","info":{"title":"Users","version":"4"},"servers":[{"url":"https://api.testwyre.com"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","name":"Authorization","x-bearer-format":"bearer"}}},"security":[{"sec0":[]}],"paths":{"/v3/users":{"post":{"summary":"Create User","description":"","operationId":"create-user","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"blockchains":{"type":"array","description":"List of blockchains to connect the user to. Supported: `BTC`, `MATIC`, `AVAX`, `ETH`, `XLM`, `AVAXC`, `ALL`. Defaults to none (empty list).","items":{"type":"string"}},"immediate":{"type":"boolean","description":"If true, returns immediately. This skips the default behavior of waiting up to 5 seconds for processing to complete, and so will always result in a PENDING user.","default":false},"fields":{"type":"object","description":"Maps field IDs to their respective values","properties":{"firstName":{"type":"string","description":"First name of the user. If first name contains spaces, replace spaces with hyphens."},"lastName":{"type":"string","description":"Last name of the user. If last name contains spaces, replace spaces with hyphens."},"dateOfBirth":{"type":"string"},"cellphoneNumber":{"type":"string"},"email":{"type":"string"},"residenceAddress":{"type":"object","properties":{"street1":{"type":"string"},"street2":{"type":"string"},"city":{"type":"string"},"state":{"type":"string"},"postalCode":{"type":"string"},"country":{"type":"string"}}}}},"partnerId":{"type":"string","description":"If using decentralized authentication, include your partner Id when creating the user"}}},"examples":{"Request Example":{"value":{"fields":{"firstName":"Deandre","lastName":"Renoylds","dateOfBirth":"2000-01-01","residenceAddress":{"street1":"1 Sunny Dr","street2":null,"city":"Philadelphia","state":"PA","postalCode":"55555","country":"US"}},"blockchains":["ALL"],"immediate":false,"scopes":["TRANSFER"]}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\" : \"US_UBWHGZDG6W\",\n  \"status\" : \"PENDING\",\n  \"createdAt\" : 1541789972000,\n  \"depositAddresses\" : {\n    \"ETH\" : \"0x98B031783d0efb1E65C4072C6576BaCa0736A912\",\n    \"BTC\" : \"14CriXWTRoJmQdBzdikw6tEmSuwxMozWWq\"\n  },\n  \"totalBalances\" : { \n    \"BTC\" : 1.0000000,\n    \"ETH\" : 0.1000000000000000000\n  },\n  \"availableBalances\" : { \n    \"BTC\" : 1.0000000,\n    \"ETH\" : 0.1000000000000000000\n  },\n  \"fields\" : {\n    \"firstName\": {\n      \"value\": \"Charlie\",\n      \"status\": \"SUBMITTED\",\n      \"error\": null\n    },\n    \"lastName\": {\n      \"value\": \"Kelly\",\n      \"status\": \"SUBMITTED\",\n      \"error\": null\n    },\n    \"residenceAddress\": {\n      \"value\": {\n        \"street1\": \"1 Sunny St\",\n\t\t\t\t\"street2\": \"Suite 402\",\n\t\t\t\t\"city\": \"Philadelphia\",\n\t\t\t\t\"state\": \"PA\",\n\t\t\t\t\"postalCode\": \"55555\",\n\t\t\t\t\"country\": \"US\"\n      },\n      \"status\": \"SUBMITTED\",\n      \"error\": null\n    }\n  }\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"US_UBWHGZDG6W"},"status":{"type":"string","example":"PENDING"},"createdAt":{"type":"integer","example":1541789972000,"default":0},"depositAddresses":{"type":"object","properties":{"ETH":{"type":"string","example":"0x98B031783d0efb1E65C4072C6576BaCa0736A912"},"BTC":{"type":"string","example":"14CriXWTRoJmQdBzdikw6tEmSuwxMozWWq"}}},"totalBalances":{"type":"object","properties":{"BTC":{"type":"integer","example":1,"default":0},"ETH":{"type":"number","example":0.1,"default":0}}},"availableBalances":{"type":"object","properties":{"BTC":{"type":"integer","example":1,"default":0},"ETH":{"type":"number","example":0.1,"default":0}}},"fields":{"type":"object","properties":{"firstName":{"type":"object","properties":{"value":{"type":"string","example":"Charlie"},"status":{"type":"string","example":"SUBMITTED"},"error":{}}},"lastName":{"type":"object","properties":{"value":{"type":"string","example":"Kelly"},"status":{"type":"string","example":"SUBMITTED"},"error":{}}},"residenceAddress":{"type":"object","properties":{"value":{"type":"object","properties":{"street1":{"type":"string","example":"1 Sunny St"},"street2":{"type":"string","example":"Suite 402"},"city":{"type":"string","example":"Philadelphia"},"state":{"type":"string","example":"PA"},"postalCode":{"type":"string","example":"55555"},"country":{"type":"string","example":"US"}}},"status":{"type":"string","example":"SUBMITTED"},"error":{}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/v3/users/{userId}":{"get":{"summary":"Get User","description":"Retrieve a contextualized user","operationId":"get-user","parameters":[{"name":"scopes","in":"query","schema":{"type":"string"}},{"name":"userId","in":"path","description":"Identifier of the user being queried (ex. `US_ABC1111`)","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\" : \"US_UBWHGZDG6W\",\n  \"status\" : \"PENDING\",\n  \"createdAt\" : 1541789972000,\n  \"depositAddresses\" : {\n    \"ETH\" : \"0x98B031783d0efb1E65C4072C6576BaCa0736A912\",\n    \"BTC\" : \"14CriXWTRoJmQdBzdikw6tEmSuwxMozWWq\"\n  },\n  \"totalBalances\" : { \n    \"BTC\" : 1.0000000,\n    \"ETH\" : 0.1000000000000000000\n  },\n  \"availableBalances\" : { \n    \"BTC\" : 1.0000000,\n    \"ETH\" : 0.1000000000000000000\n  },\n  \"fields\" : {\n    \"firstName\": {\n      \"value\": \"Charlie\",\n      \"status\": \"SUBMITTED\",\n      \"error\": null\n    },\n    \"lastName\": {\n      \"value\": \"Kelly\",\n      \"status\": \"SUBMITTED\",\n      \"error\": null\n    },\n    \"residenceAddress\": {\n      \"value\": {\n        \"street1\": \"1 Sunny St\",\n        \"street2\": \"Suite 402\",\n        \"city\": \"Philadelphia\",\n        \"state\": \"PA\",\n        \"postalCode\": \"55555\",\n        \"country\": \"US\"\n      },\n      \"status\": \"SUBMITTED\",\n      \"error\": null\n    }\n  }\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"US_UBWHGZDG6W"},"status":{"type":"string","example":"PENDING"},"createdAt":{"type":"integer","example":1541789972000,"default":0},"depositAddresses":{"type":"object","properties":{"ETH":{"type":"string","example":"0x98B031783d0efb1E65C4072C6576BaCa0736A912"},"BTC":{"type":"string","example":"14CriXWTRoJmQdBzdikw6tEmSuwxMozWWq"}}},"totalBalances":{"type":"object","properties":{"BTC":{"type":"integer","example":1,"default":0},"ETH":{"type":"number","example":0.1,"default":0}}},"availableBalances":{"type":"object","properties":{"BTC":{"type":"integer","example":1,"default":0},"ETH":{"type":"number","example":0.1,"default":0}}},"fields":{"type":"object","properties":{"firstName":{"type":"object","properties":{"value":{"type":"string","example":"Charlie"},"status":{"type":"string","example":"SUBMITTED"},"error":{}}},"lastName":{"type":"object","properties":{"value":{"type":"string","example":"Kelly"},"status":{"type":"string","example":"SUBMITTED"},"error":{}}},"residenceAddress":{"type":"object","properties":{"value":{"type":"object","properties":{"street1":{"type":"string","example":"1 Sunny St"},"street2":{"type":"string","example":"Suite 402"},"city":{"type":"string","example":"Philadelphia"},"state":{"type":"string","example":"PA"},"postalCode":{"type":"string","example":"55555"},"country":{"type":"string","example":"US"}}},"status":{"type":"string","example":"SUBMITTED"},"error":{}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl -X GET \\\n  https://api.testwyre.com/v3/users/:userId \\\n  -H 'Authorization: Bearer SK-XXXXXX-XXXXXXXX-XXXXXXXX' \\\n  -H 'Content-Type: application/json' \\\n  -H 'cache-control: no-cache' \\\n  -d '{}'"}],"samples-languages":["curl"]}},"post":{"summary":"Update User","description":"Update the User object with new KYC data.","operationId":"upload-user-data","parameters":[{"name":"userId","in":"path","description":"Identifier of the user to update","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"blockchains":{"type":"array","description":"List of blockchains to connect the user to. Supported: `BTC`, `ETH`, `ALL`. Defaults to none (empty list).","default":["[]"],"items":{"type":"string"}},"immediate":{"type":"boolean","description":"If true, returns immediately. This skips the default behavior of waiting up to 5 seconds for processing to complete, and so will always result in a PENDING user.","default":false},"fields":{"type":"object","description":"Maps field IDs to their respective values","properties":{}}}},"examples":{"Request Example":{"value":{"fields":{"firstName":"Deandre","lastName":"Renoylds"},"immediate":false,"scopes":["TRANSFER"]}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": \"US_9BJ94GDE4XA\",\n  \"status\": \"APPROVED\",\n  \"type\": \"INDIVIDUAL\",\n  \"country\": \"US\",\n  \"createdAt\": 1605847016000,\n  \"depositAddresses\": {},\n  \"totalBalances\": {},\n  \"availableBalances\": {},\n  \"fields\": {\n    \"residenceAddress\": {\n      \"value\": {\n        \"street1\": \"1234 Food Court\",\n        \"street2\": null,\n        \"city\": \"Minneapolis\",\n        \"state\": \"MN\",\n        \"postalCode\": \"55444\",\n        \"country\": \"US\"\n      },\n      \"error\": null,\n      \"status\": \"SUBMITTED\"\n    },\n    \"firstName\": {\n      \"value\": \"Mooncake\",\n      \"error\": null,\n      \"status\": \"SUBMITTED\"\n    },\n    \"lastName\": {\n      \"value\": \"Goodspeed\",\n      \"error\": null,\n      \"status\": \"SUBMITTED\"\n    }\n  }\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"US_9BJ94GDE4XA"},"status":{"type":"string","example":"APPROVED"},"type":{"type":"string","example":"INDIVIDUAL"},"country":{"type":"string","example":"US"},"createdAt":{"type":"integer","example":1605847016000,"default":0},"depositAddresses":{"type":"object","properties":{}},"totalBalances":{"type":"object","properties":{}},"availableBalances":{"type":"object","properties":{}},"fields":{"type":"object","properties":{"residenceAddress":{"type":"object","properties":{"value":{"type":"object","properties":{"street1":{"type":"string","example":"1234 Food Court"},"street2":{},"city":{"type":"string","example":"Minneapolis"},"state":{"type":"string","example":"MN"},"postalCode":{"type":"string","example":"55444"},"country":{"type":"string","example":"US"}}},"error":{},"status":{"type":"string","example":"SUBMITTED"}}},"firstName":{"type":"object","properties":{"value":{"type":"string","example":"Mooncake"},"error":{},"status":{"type":"string","example":"SUBMITTED"}}},"lastName":{"type":"object","properties":{"value":{"type":"string","example":"Goodspeed"},"error":{},"status":{"type":"string","example":"SUBMITTED"}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/v3/users/migrateAccount":{"post":{"summary":"Migrate Account","description":"Migrate a v2 or v3 account to a new user","operationId":"migrate-account","parameters":[{"name":"masqueradeAs","in":"query","description":"The account you want to masqueradeAs, e.g. `AC_CMJHT87VV48`","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"accountId":{"type":"string","description":"The account ID you wish to migrate, e.g. `AC_CMJHT87VV48`"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"userId\": \"US_111222333\"\n}"}},"schema":{"type":"object","properties":{"userId":{"type":"string","example":"US_111222333"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/v2/digitalwallet/webhook":{"post":{"summary":"Wallet Order Webhook","description":"","operationId":"wallet-order-webhook","parameters":[{"name":"owner","in":"query","description":"Change this field to your Wyre accountId. Ex: `account:AC_XXXXXXXXXXX`","required":true,"schema":{"type":"string","default":"account:AC_W4299GGHVUE"}},{"name":"webhook","in":"query","description":"Add URL of choice","required":true,"schema":{"type":"string","default":"https://requestinspector.com/inspect/wyreprod"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{ \n\"owner\":\"account:AC_W4299GGHVUE\", \n\"webhook\":\"https://requestinspector.com/inspect/wyreprod\"\n}"}},"schema":{"type":"object","properties":{"owner":{"type":"string","example":"account:AC_W4299GGHVUE"},"webhook":{"type":"string","example":"https://requestinspector.com/inspect/wyreprod"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"requestBody":{"content":{"application/json":{"schema":{},"examples":{"Request Example":{"value":{"owner":"account:AC_W4299GGHVUE","webhook":"https://requestinspector.com/inspect/wyreprod"}}}}}}}},"/v3/users/{userId}/onboarding":{"get":{"summary":"Get KYC Onboarding URL","description":"Retrieve URL for users to go through higher limit KYC onboarding","operationId":"get-onboarding-url","parameters":[{"name":"US_uid","in":"path","description":"Add your User ID (Example: US_X3RCVXREFCA)","schema":{"type":"string"},"required":true},{"name":"countryCode","in":"query","description":"2 Letter country code to specify user's country, default will be US","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"onboardingUrl\": \"https://pay.testwyre.com/users/US_X3RCVXREFCA/onboarding/TYAQL6BPRNQCJVQWZNU2CQUD6JTT4ATF49WZJXCHYB6XNR2LU9\"\n}"}},"schema":{"type":"object","properties":{"onboardingUrl":{"type":"string","example":"https://pay.testwyre.com/users/US_X3RCVXREFCA/onboarding/TYAQL6BPRNQCJVQWZNU2CQUD6JTT4ATF49WZJXCHYB6XNR2LU9"}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"language\": \"en\",\n    \"compositeType\": \"\",\n    \"subType\": \"\",\n    \"exceptionId\": \"test_CQC778\",\n    \"errorCode\": \"accessDenied.insufficientPrivileges\",\n    \"transient\": false,\n    \"message\": \"Insufficient Privileges\",\n    \"type\": \"AccessDeniedException\"\n}"}},"schema":{"type":"object","properties":{"language":{"type":"string","example":"en"},"compositeType":{"type":"string","example":""},"subType":{"type":"string","example":""},"exceptionId":{"type":"string","example":"test_CQC778"},"errorCode":{"type":"string","example":"accessDenied.insufficientPrivileges"},"transient":{"type":"boolean","example":false,"default":true},"message":{"type":"string","example":"Insufficient Privileges"},"type":{"type":"string","example":"AccessDeniedException"}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl -X GET \\\n  https://api.testwyre.com/v3/users/US_X3RCVXREFCA/onboarding \\\n  -H 'Authorization: Bearer SK-XXXXXX-XXXXXXXX-XXXXXXXX' \\\n  -H 'Content-Type: application/json' \\\n  -H 'cache-control: no-cache' \\\n  -d '{}'"}],"samples-languages":["curl"]}}},"/v3/users/{userId}/{fieldId}":{"post":{"summary":"Upload User Document","description":"Upload a document to a User","operationId":"upload-user-document","parameters":[{"name":"userId","in":"path","description":"Identifier of the user whose document needs to be uploaded. Example- US_ZPHZTVAMR4X","schema":{"type":"string"},"required":true},{"name":"fieldId","in":"path","description":"The fieldId that the uploaded document is associated with. Only fieldId values of type governmentIdFront and governmentIdBack will accept a document upload.","schema":{"type":"string"},"required":true},{"name":"docType","in":"query","description":"Possible values are GOVT_ID, DRIVING_LICENSE, PASSPORT_CARD and PASSPORT for governmentIdFront.  Possible values are GOVT_ID, DRIVING_LICENSE, PASSPORT_CARD for governmentIdBack.","required":true,"schema":{"type":"string"}},{"name":"masqueradeAs","in":"query","description":"You have to masquerade as the user you are uploading the file for. Same user used in the path params. Example- user:US_ZPHZTVAMR4X","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["File"],"properties":{"File":{"type":"string","description":"Supported document types are PDF, JPEG, PNG, DOC, and DOCX. Maximum file upload size is 7.75MB","format":"binary"}}}}}},"responses":{"204":{"description":"204","content":{"text/plain":{"examples":{"Success":{"value":"No Content"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/v3/blockchain/attach":{"post":{"summary":"Add Blockchain Address","description":"Use this endpoint to add specific blockchain addresses to Wyre Wallets. For example, Algorand and Mobilecoin wallet addresses do not come default after creating a wallet, but when using this endpoint, the user can add those specific chains to a Wyre wallet.","operationId":"attachblockchainaddress","parameters":[{"name":"masqueradeAs","in":"query","description":"If adding an address on behalf of a User, masqueradeAs is required. Ex, \"user:US_XXXXXXX\"","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"targetSrn":{"type":"string","description":"Wallet that you want an address assigned to. Ex, \"wallet:WA_XXXXXX\""},"blockchain":{"type":"array","description":"Blockchains that you want an address for. Possible values- \"ALGO\", \"MOB\"","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"ALGO\": \"XQCFLTEPW7EEZ46TBCDJORQFR32FIC7LWKQXCN2KDCRCJSTE3G3XVF4L2M\"\n}"}},"schema":{"type":"object","properties":{"ALGO":{"type":"string","example":"XQCFLTEPW7EEZ46TBCDJORQFR32FIC7LWKQXCN2KDCRCJSTE3G3XVF4L2M"}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"language\": \"en\",\n    \"compositeType\": \"\",\n    \"subType\": \"\",\n    \"exceptionId\": \"W6HLPC\",\n    \"transient\": false,\n    \"type\": \"ApiException\"\n}"}},"schema":{"type":"object","properties":{"language":{"type":"string","example":"en"},"compositeType":{"type":"string","example":""},"subType":{"type":"string","example":""},"exceptionId":{"type":"string","example":"W6HLPC"},"transient":{"type":"boolean","example":false,"default":true},"type":{"type":"string","example":"ApiException"}}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}