{"openapi":"3.1.0","info":{"version":"1.0.0","title":"Connections API","description":"# Introduction\nThis API specification is designed to represent the first meaningful stage of work for the Connections API. This specification details the new external endpoint, `/extend`."},"servers":[{"url":"https://auth.truelayer.com"},{"url":"https://auth.truelayer-sandbox.com"}],"tags":[{"name":"Public","description":"Operations available publicly"}],"paths":{"/connections":{"post":{"tags":["Connection"],"summary":"Create a Connection","description":"> 🚧 Not yet implemented.\n>\n> Creates a connection resource and returns its ID and a URL for the user to start the AIS flow. This endpoint is protected by the Client Credentials grant type.\n","security":[{"bearer_auth":[]}],"parameters":[{"$ref":"#/components/parameters/X-Client-Correlation-Id"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/createConnectionRequest"}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/createConnectionResponse"},"examples":{"newlyCreatedConnectionExample":{"$ref":"#/components/examples/newlyCreatedConnectionExample"}}}},"headers":{"Location":{"schema":{"type":"string"},"description":"The `Location` response header will contain the url where the newly created connection lives","example":"https://api.truelayer.com/connections/f1234560abf9f57287637624def390871"}}},"400":{"description":"Invalid request error."},"401":{"description":"Unauthorized error. Access token is missing or invalid."},"500":{"description":"Internal server error."}}}},"/connections/extend":{"post":{"tags":["Connection"],"summary":"Extend a connection","description":"Starts a process to extend a connection, by reconfirming consent and starting a new authentication if necessary.\nYou can find out more on how to use this endpoint [here](https://docs.truelayer.com/docs/connections).\n","operationId":"ExtendConnection","parameters":[{"$ref":"#/components/parameters/X-Client-Correlation-Id"}],"servers":[{"url":"https://api.truelayer.com"},{"url":"https://api.truelayer-sandbox.com"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/extendConnectionRequest"}}}},"responses":{"200":{"description":"Extend response","content":{"application/json":{"schema":{"oneOf":[{"no_action_needed":null,"$ref":"#/components/schemas/NewToken"},{"authentication_needed":null,"$ref":"#/components/schemas/UserInput"},{"reconfirmation_of_consent_needed":null,"$ref":"#/components/schemas/UserInput"}],"discriminator":{"propertyName":"action_needed"}},"examples":{"noFurtherActionExample":{"$ref":"#/components/examples/noFurtherActionExample"},"goToAuthDialogExample":{"$ref":"#/components/examples/goToAuthDialogExample"},"reauthRequiredExample":{"$ref":"#/components/examples/reauthRequiredExample"}}}}},"400":{"description":"Validation error response","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"},"examples":{"validationErrorExample":{"$ref":"#/components/examples/validationErrorExample"}}}}},"401":{"description":"Unauthorised","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"},"examples":{"validationErrorExample":{"$ref":"#/components/examples/unauthorisedErrorExample"}}}}},"422":{"description":"Unprocessable Entity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"},"examples":{"validationErrorExample":{"$ref":"#/components/examples/unprocessableEntityErrorExample"}}}}}},"security":[{"oauth2":[]}]}}},"components":{"securitySchemes":{"oauth2":{"type":"oauth2","flows":{"authorizationCode":{"authorizationUrl":"https://auth.truelayer.com/token/connect","tokenUrl":"https://auth.truelayer.com/token/connect","scopes":{"info":"read access for full_name of account holder","accounts":"read access for current and savings account data","cards":"read access for credit card account data","balance":"read access for balance data. This must be combined with at least one of `cards` or `accounts`","transactions":"read access for transaction data. This must be combined with at least one of `cards` or `accounts`","direct_debits":"read access for direct debit data. This must be combined with `accounts`","standing_orders":"read access for standing order data. This must be combined with `accounts`","offline_access":"enables read access for 90 days after end user grants authorization"}}}},"bearer_auth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"parameters":{"X-Client-Correlation-Id":{"name":"X-Client-Correlation-Id","description":"Client-specified ID used to debug requests","in":"header","schema":{"type":"string"}}},"schemas":{"return_uri":{"type":"string","description":"A valid `return_uri` for your TrueLayer `client_id` (Set in your Console App settings under Redirect URIs)","example":"https://example.org/redirect-page"},"scope":{"type":"string","description":"Space separated list of scopes representing the data you're asking the end user to share. Possible values:\n- `info`\n- `accounts`\n- `balance`\n- `transactions`\n- `standing_orders`\n- `direct_debits`\n- `offline_access`\n- `verification`\n- `signupplus`\n\nNote that `verification` and `signupplus` represent TrueLayer product scopes. Use them only if you have permissions.\n","example":"accounts transactions balance offline_access"},"provider_id":{"type":"string","description":"The provider ID of this connection","example":"ob-monzo"},"auth_inputs":{"type":"object","description":"Specify any required additional user input here. Our Providers API specifies which providers require these extra inputs (steps) and lists possible values where available.\n\nThe auth_inputs field requires specifying the input and the value. The key name should be the step `field.id` sourced from the Providers API and the value should be the user's selection. For example:\n```\n\"auth_inputs\": {\n  \"branch-name\": \"stet-credit-agricole-alpes-provence\"\n}\n```\n","example":{"branch-name":"stet-credit-agricole-alpes-provence"}},"provider_selection_preselected":{"title":"Preselected","type":"object","description":"Preselected provider. Indicates that the provider for this connection is preselected.","required":["type","provider_id"],"properties":{"type":{"type":"string","enum":["preselected"]},"provider_id":{"$ref":"#/components/schemas/provider_id"},"auth_inputs":{"$ref":"#/components/schemas/auth_inputs"}}},"capabilities":{"type":"string","enum":["info","accounts","account_balance","account_transactions","account_pending_transaction","account_direct_debits","account_standing_orders"]},"country_code":{"type":"string","enum":["AT","BE","DE","DK","ES","FI","FR","GB","IE","IT","LT","NL","NO","PL","PT","RO"]},"customer_segments":{"type":"string","enum":["retail","business","corporate"]},"provider_filter":{"type":"object","description":"A set of rules defining filtering logic on providers.","properties":{"provider_ids":{"type":"array","items":{"type":"string"},"description":"A list of provider IDs to be part of the provider selection. This takes precedence over all other selectors - if specified, all other fields will be ignored.","example":["ob-monzo","ob-natwest"]},"capabilities":{"type":"array","items":{"$ref":"#/components/schemas/capabilities"},"description":"A list of capabilities that the all providers in the output should have.\n"},"countries":{"type":"array","description":"The countries to return providers from, which display on the provider selection screen.\nMust be provided as two-character ISO 3166-2 country codes. See a [list of providers and supported countries and scopes](https://console.truelayer.com/providers).\n","items":{"$ref":"#/components/schemas/country_code"},"uniqueItems":true,"minItems":1,"default":["GB"]},"release_channel":{"type":"string","description":"The lowest stability release stage of a provider that should be returned.","default":"general_availability","enum":["general_availability","public_beta","private_beta"],"example":"general_availability"},"customer_segments":{"type":"array","items":{"$ref":"#/components/schemas/customer_segments"},"description":"The customer segments that providers cater to that should be returned.\n","default":["retail"]},"excludes":{"type":"object","description":"Options to exclude providers included by the filters","properties":{"provider_ids":{"type":"array","description":"IDs of providers to explicitly exclude from those returned.","items":{"type":"string"},"uniqueItems":true,"minItems":1,"example":["ob-exclude-this-bank"]}}}}},"providers_filters":{"type":"array","description":"A list of filters for the provider selection. Currently a maximum number of one filter is supported.","items":{"$ref":"#/components/schemas/provider_filter"}},"provider_selection_user_selected":{"title":"User selected","type":"object","description":"Indicates that the provider is to be selected from a collection","required":["type"],"properties":{"type":{"type":"string","enum":["user_selected"]},"filters":{"$ref":"#/components/schemas/providers_filters"}}},"provider_selection":{"title":"Provider Selection","type":"object","description":"An object to determine what providers can be involved in this connection. If the provider is already known set the type to `\"preselected\"`, otherwise set it to `\"user_selected\"`.","oneOf":[{"$ref":"#/components/schemas/provider_selection_preselected"},{"$ref":"#/components/schemas/provider_selection_user_selected"}],"discriminator":{"propertyName":"type","mapping":{"preselected":"#/components/schemas/provider_selection_preselected","user_selected":"#/components/schemas/provider_selection_user_selected"}}},"user":{"type":"object","description":"User details related to a connection. You should not provide this information if you are regulated.","properties":{"id":{"type":"string","description":"A unique identifier for the user. If you don’t provide this, TrueLayer generates a value in the response. You can use the same value for subsequent calls to indicate a returning user.","example":"d0e122db-2264-4bbe-97a5-869c95a0aa9e"},"name":{"type":"string","description":"This is the full first and last name of your end user (not initials). If you are not regulated this field is required. Pattern:  ^[^\\(\\)]+$","example":"Alan Turing"},"email":{"type":"string","format":"email","description":"The email address of your end user according to RFC 2822. If you are not regulated one of email/phone is required.","example":"alan.turing@bletchleypark.org.uk"},"phone":{"type":"string","description":"The phone number of your end user in formats recommended by ITU. The country calling code must be included and prefixed with a +. If you are regulated this field is optional, otherwise one of email/phone is required.","example":"+44777777777"}}},"language_id":{"type":"string","description":"The two-character [Unicode 639-1 code](https://en.wikipedia.org/wiki/List_of_ISO_639_language_codes) of the language used to render the Auth Dialog page.","enum":["en","de","es","fr","it","pl","sv","pt","nl","fi"]},"auth_dialog_settings":{"title":"Auth Dialog Settings","type":"object","description":"Settings related to the UI/UX of the Auth Dialog, should you need to use it for the authentication journey.","properties":{"language_id":{"$ref":"#/components/schemas/language_id"}}},"state":{"type":"string","description":"An opaque value used by the client to maintain state between the request and callback"},"is_form_post_response_mode":{"type":"boolean","description":"set field to `true` to set the response mode to `\"form_post\"`","example":false},"code_challenge":{"type":"string","description":"PKCE code challenge. The method used will be `S256`"},"oauth_settings":{"title":"OAuth Settings","type":"object","description":"OAuth related settings","properties":{"state":{"$ref":"#/components/schemas/state"},"is_form_post_response_mode":{"$ref":"#/components/schemas/is_form_post_response_mode"},"code_challenge":{"$ref":"#/components/schemas/code_challenge"}}},"createConnectionRequest":{"type":"object","required":["client_id","return_uri","scope","provider_selection"],"properties":{"return_uri":{"$ref":"#/components/schemas/return_uri"},"scope":{"$ref":"#/components/schemas/scope"},"provider_selection":{"$ref":"#/components/schemas/provider_selection"},"user_consent_collected":{"type":"boolean","description":"Set to `true` if the user has already granted consent to share their data in your client application. This is allowed only if you are a regulated client or if your consent collection screens were approved by TrueLayer. More details about collecting consent can be found [here](https://docs.truelayer.com/docs/collect-user-consent).\n\nSet to `false` if the user has not yet granted consent to share their data in the client application. This way TrueLayer will need to capture the users consent.\n"},"user":{"$ref":"#/components/schemas/user","description":"Details of the end user who is connecting their bank account. If you are a regulated client, these fields are not required."},"auth_dialog_settings":{"$ref":"#/components/schemas/auth_dialog_settings"},"oauth_settings":{"$ref":"#/components/schemas/oauth_settings"}}},"connection_id":{"type":"string","description":"Unique identifier for the connection","example":"f1234560abf9f57287637624def390871"},"createConnectionResponse":{"type":"object","description":"Response body of a POST /connections","properties":{"id":{"$ref":"#/components/schemas/connection_id"},"status":{"type":"string","enum":["authorization_required","authorizing","authorized","active","inactive","terminated"],"description":"The current state that the connection is in (one of `authorization_required`, `authorized`, `active`, `inactive`, `terminated`). This endpoint will always return `authorization_required`."},"user_input_link":{"type":"string","description":"The URL to redirect the end user to in order to send them on the authentication flow (this will either be an Auth Dialog link or some bank link depending on what was provided in the request body)."},"user":{"type":"object","description":"User details related to a connection. This will only be available for unregulated clients.","properties":{"id":{"type":"string","description":"A unique identifier for the user. You can use the same value for subsequent calls to indicate a returning user.","example":"d0e122db-2264-4bbe-97a5-869c95a0aa9e"}}}}},"client_id":{"type":"string","description":"Your application's client id, found in TrueLayer Console","example":"budgetapp-b4c334"},"new_user":{"type":"object","description":"Details of the end user who is connecting to their provider.","properties":{"id":{"type":"string","description":"Unique ID for the user"},"name":{"type":"string","description":"If the client is not regulated, they must provide this value.","example":"Alan Turing"},"email":{"type":"string","format":"email","description":"If the client is not regulated, they must provide one of `email`/`phone`.","example":"alan@example.org"},"phone":{"type":"string","format":"phone_number","description":"If the client is not regulated, they must provide one of `email`/`phone`.","example":"+437777777777"}}},"extendConnectionRequest":{"type":"object","required":["user_has_reconfirmed_consent","client_id","client_secret","user","refresh_token","redirect_uri"],"properties":{"user_has_reconfirmed_consent":{"type":"boolean","description":"Set to `true` if the user has re-confirmed consent in your application. We must review your consent screen and enable your client_id before you can set this field to `true` in production.\n\nSet to `false` if you'd like the user to re-confirm consent in TrueLayer's auth dialog (setting to `false` is currently not supported).\n"},"client_id":{"$ref":"#/components/schemas/client_id"},"client_secret":{"type":"string","description":"Your application's client secret, found in TrueLayer Console"},"user":{"$ref":"#/components/schemas/new_user"},"refresh_token":{"type":"string","description":"refresh_token for the connection you want to extend"},"redirect_uri":{"type":"string","format":"uri","description":"A valid redirect_uri for your TrueLayer client_id (set in your Console)"},"state":{"type":"string","description":"An opaque value used by the client to maintain state between the request and callback"},"code_challenge":{"type":"string","description":"PKCE code challenge"},"response_mode":{"type":"string","description":"If set to \"form_post\", when we call your redirect_uri, we'll include the `code` in a form POST request. If left unset, we'll make a GET request with the code set as a query parameter","enum":["form_post"]}}},"ActionNeeded":{"type":"string","description":"An explanation of the action needed to extend this connection","example":"no_action_needed","enum":["authentication_needed","no_action_needed","reconfirmation_of_consent_needed"]},"BaseExtend":{"type":"object","required":["action_needed"],"properties":{"action_needed":{"$ref":"#/components/schemas/ActionNeeded"}},"discriminator":{"propertyName":"action_needed"}},"NewToken":{"allOf":[{"$ref":"#/components/schemas/BaseExtend"},{"type":"object","required":["access_token","expires_in","token_type","refresh_token"],"properties":{"access_token":{"type":"string","description":"A short-lived JWT token used to access data on behalf of the End user"},"expires_in":{"type":"integer","description":"`access_token` validity in seconds. Default is 1 hour or specified by provider whichever is lower."},"refresh_token":{"type":"string","description":"A long-lived code used to obtain a new `access_token` when expired."},"token_type":{"type":"string","description":"Type of token returned. Must be `Bearer`"}}}]},"UserInput":{"allOf":[{"$ref":"#/components/schemas/BaseExtend"},{"type":"object","required":["user_input_link"],"properties":{"user_input_link":{"type":"string","format":"uri","description":"A link to direct the end user to confirm additional information. This could be a direct link to a bank authentication, or to TrueLayer if consent has not been re-confirmed."}}}]},"Problem":{"type":"object","title":"ApiErrorResponse","required":["title","type","status","trace_id"],"properties":{"type":{"description":"Link that describes http status codes","type":"string"},"title":{"description":"Title of the error","type":"string"},"status":{"description":"HTTP status code of the response","type":"integer"},"detail":{"description":"More verbose explanation of the error.\n","type":"string"},"instance":{"description":"The endpoint from where the error occured.\n","type":"string"},"trace_id":{"description":"A unique GUID for the request.","type":"string"},"errors":{"description":"Errors","type":"array","items":{}}}}},"examples":{"newlyCreatedConnectionExample":{"summary":"Newly created connection","value":{"id":"f1234560abf9f57287637624def390871","status":"authorization_required","user_input_link":"https://login.truelayer.com/?session_id=auth-abc123","user":{"id":"d0e122db-2264-4bbe-97a5-869c95a0aa9e"}}},"noFurtherActionExample":{"summary":"No action needed","value":{"action_needed":"no_action_needed","access_token":"ey...","expires_in":3600,"refresh_token":"ABC123","token_type":"Bearer"}},"goToAuthDialogExample":{"summary":"Go to auth dialog","value":{"action_needed":"reconfirmation_of_consent_needed","user_input_link":"https://login.truelayer.com/?session_id=auth-abc123"}},"reauthRequiredExample":{"summary":"Reauthentication required","value":{"action_needed":"authentication_needed","user_input_link":"https://personal.secure1.natwest.com/as/authorization.oauth2?client_id=HZ6ewkLruJDapDopkR6YVS&request=ey...gg&state=auth-y4PCIwnDZcUAM6nVoV_HJnb9DVmOXZlJT5UAs03wT8U&nonce=iZ67tVaMNo-NRtCPCu8nSvubsK5h1C8vr2peGsNc&scope=openid%20accounts&response_type=code%20id_token&redirect_uri=https%3A%2F%2Fauth.truelayer.com%2Foauth%2Fhybrid%2Fcallback"}},"validationErrorExample":{"summary":"Validation error","value":{"type":"https://docs.truelayer.com/#connection-api-errors","title":"One or more validation errors occurred.","status":400,"instance":"/connections/extend","trace_id":"3dc845a2-93a2-4e12-940a-0a8aec24d0bc","errors":{"ClientId":["The ClientId field is required."]}}},"unauthorisedErrorExample":{"summary":"Validation error","value":{"type":"https://docs.truelayer.com/#connection-api-errors","title":"Unauthorized","status":401,"detail":"Refresh token missing or invalid.","instance":"/connections/extend","trace_id":"5b25a9ad-fdb5-42c7-90d7-dca27ceebc4d"}},"unprocessableEntityErrorExample":{"summary":"Unprocessable Entity Error","value":{"type":"https://docs.truelayer.com/#connection-api-errors","title":"No way to extend this connection","status":422,"detail":"This connection cannot be extended","instance":"/connections/extend","trace_id":"1c7efd51-51d5-4e00-bce5-15bce583701f"}}}},"x-readme":{"explorer-enabled":false,"proxy-enabled":true}}