{
  "openapi": "3.0.1",
  "info": {
    "title": "API",
    "version": "v1",
    "description": "API Documentation site\n\n# Authentication\n\n<!-- ReDoc-Inject: <security-definitions> -->"
  },
  "servers": [
    {
      "url": "https://qvapikeybank.qolopay.com"
    }
  ],
  "security": [
    {
      "Bearer": []
    }
  ],
  "tags": [
    {
      "name": "Persons",
      "description": "Manage Persons"
    },
    {
      "name": "Cards",
      "description": "Manage Cards"
    },
    {
      "name": "Wallets",
      "description": "Manage Wallets"
    },
    {
      "name": "Accounts",
      "description": "Manage Accounts"
    },
    {
      "name": "Reports",
      "description": "Manage Report Requests"
    },
    {
      "name": "AccountInstruments",
      "description": "Manage AccountInstruments"
    },
    {
      "name": "Instruments",
      "description": "Manage Instruments"
    },
    {
      "name": "Transactions",
      "description": "Manage Transactions"
    },
    {
      "name": "Transfers",
      "description": "Manage Transfers"
    },
    {
      "name": "Webhooks",
      "description": "Manage Webhooks"
    }
  ],
  "paths": {
    "/api/{version}/account_instruments": {
      "post": {
        "tags": [
          "AccountInstruments"
        ],
        "summary": "Create AccountInstrument",
        "description": "Create a AccountInstrument for account on Qolo platform.",
        "operationId": "CreateAccountInstrument",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountInstrumentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns the newly created AccountInstrument",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountInstrumentDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "404": {
            "description": "Account not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/{version}/account_instruments/{account_instrument_guid}": {
      "get": {
        "tags": [
          "AccountInstruments"
        ],
        "summary": "Retrieve AccountInstrument",
        "description": "Use this end point to retrieve or find a specific account instrument by guid",
        "operationId": "GetAccountInstrumentById",
        "parameters": [
          {
            "name": "account_instrument_guid",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the Account Instrument with account details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountInstrumentDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "404": {
            "description": "Account Instrument not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/{version}/accounts": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Create Account",
        "description": "Call this end point to create an account on the platform by passing the wallet information.",
        "operationId": "CreateAccount",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns the newly created Account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "404": {
            "description": "Wallet not found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/{version}/accounts/{account_guid}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Retrieve Account",
        "description": "Use this end point to retrieve a specific account based on the account guid.",
        "operationId": "GetAccountById",
        "parameters": [
          {
            "name": "account_guid",
            "in": "path",
            "description": "Account unique identifier on the platform",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the Account with balance details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "404": {
            "description": "Account not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "Accounts"
        ],
        "summary": "Update Account",
        "description": "Call this end point to update account data. The fields that can currently be updated are: account_name",
        "operationId": "UpdateAccount",
        "parameters": [
          {
            "name": "account_guid",
            "in": "path",
            "description": "Account unique identifier on the platform",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAccountInfoRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAccountInfoRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAccountInfoRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAccountInfoRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the updated Account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/{version}/accounts/program/{program_guid}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Fetch Accounts by Balance",
        "description": "The end point allows fetching accounts sorted by balance. Up to 50 accounts can be fetched based on either ledger or available balance.",
        "operationId": "GetAccountsByProgram",
        "parameters": [
          {
            "name": "program_guid",
            "in": "path",
            "description": "Unique identifier of the program, for the accounts being fetched.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "based_on",
            "in": "query",
            "description": "Criteria to dientify if the account must be fetched based on Ledger or Available balance.",
            "schema": {
              "type": "string",
              "default": "ledger"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Criteria to identify if the accounts with highest balance or lowest balance is to be fetched. Default: desc (i.e.accounts with highest balances will be fetched)",
            "schema": {
              "type": "string",
              "default": "desc"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of accounts to be fetched.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "include_negative_balances",
            "in": "query",
            "description": "Whether accounts with negative balances are to be considered in the search.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "account_status",
            "in": "query",
            "description": "Status of accounts that is to be considered for the search.",
            "schema": {
              "$ref": "#/components/schemas/AccountStatus"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the Account details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccountByBalanceDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "404": {
            "description": "Account not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/{version}/accounts/balances": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Fetch Program Balances",
        "description": "Call this end point to fetch the total program balance grouped by account types. Separate information is provided for ledger, available and suspense balance.",
        "operationId": "GetAccountBalancesByProgram",
        "parameters": [
          {
            "name": "program_guid",
            "in": "query",
            "description": "Unique identifier of the program that is being queried upon.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns total program balance grouped by account types",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountBalancesDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "404": {
            "description": "Account not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/{version}/accounts/{account_guid}/status": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Status Account",
        "description": "Use this API end point to change the status of an account based on the account guid.",
        "operationId": "StatusAccount",
        "parameters": [
          {
            "name": "account_guid",
            "in": "path",
            "description": "Account unique identifier on the platform",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "account status request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountStatusUser"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the account details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "404": {
            "description": "Account not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/{version}/accounts/AdjustBalance": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Adjust Balance",
        "description": "Adjust Balance API should be used to update the balance of an account based on an external transfer.\r\nFor example, if a program funding account is credited by a bank wire, this API can be used to update the balance of the PROGFUND account on the platform.",
        "operationId": "AdjustBalance",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdjustBalanceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns the newly created Wallet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdjustBalanceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "404": {
            "description": "Wallet not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/{version}/accounts/sharedaccount": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Create Shared Account",
        "description": "Use this end point to share an account with a related person. A related person can be created using Create Person Relation API",
        "operationId": "CreateSharedAccount",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSharedAccountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns the newly shared Account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSharedAccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "404": {
            "description": "Wallet not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/{version}/accounts/updatesharedaccount": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Update Shared Account",
        "description": "Use this end point to update a shared account status.",
        "operationId": "UpdateSharedAccount",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSharedAccountRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns updated shared information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountSharedPersonDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/{version}/accounts/{account_guid}/PostInterest": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Post Interest",
        "description": "Use this API end point to post the interest accrued on the account guid.\r\nInterest can be posted only on an account that was closed that day.\r\nInterest post request on an account that is not closed, is assumed as the pre-process steps to close the account. The batch process will close the account the follwing day(s), if not already closed by then.",
        "operationId": "PostInterest",
        "parameters": [
          {
            "name": "account_guid",
            "in": "path",
            "description": "Account unique identifier on the platform",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the account details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "404": {
            "description": "Account not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/{version}/advances/{account_guid}/precalc": {
      "get": {
        "tags": [
          "Advances"
        ],
        "summary": "Advance PreCalc",
        "description": "Advance PreCalc",
        "operationId": "AdvancePreCalc",
        "parameters": [
          {
            "name": "account_guid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdvancePreCalcRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns the Advance PreCalc Details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdvancePreCalcResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "404": {
            "description": "Account not found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/{version}/advances/{account_guid}": {
      "post": {
        "tags": [
          "Advances"
        ],
        "summary": "Apply Advance",
        "description": "Apply Advance",
        "operationId": "Apply Advance",
        "parameters": [
          {
            "name": "account_guid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplyAdvanceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Applies the advance associated with the request_id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplyAdvanceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "404": {
            "description": "Account not found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/{version}/advances/{account_guid}/cycle": {
      "post": {
        "tags": [
          "Advances"
        ],
        "summary": "Change Advance Cycle",
        "description": "Change the cycle of the advance",
        "operationId": "Change Cycle",
        "parameters": [
          {
            "name": "account_guid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeAdvanceCycleRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Changes the cycle of the advance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeAdvanceCycleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "404": {
            "description": "Account not found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/{version}/batchfiles": {
      "post": {
        "tags": [
          "BatchFiles"
        ],
        "summary": "Create Batchfile for Disbursement",
        "description": "Create Batchfile with source document in base64 encoding",
        "operationId": "Batchfiles",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchfileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns batchfile_guid"
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchfileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "404": {
            "description": "Report name not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/{version}/batchfiles/Download": {
      "post": {
        "tags": [
          "BatchFiles"
        ],
        "summary": "Download Batchfile",
        "description": "Download File by Batchfile and Program Guid",
        "operationId": "DownloadBatchfile",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchfileDownloadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the batchfile as attachment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "404": {
            "description": "Batchfile not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/{version}/bulkorders": {
      "post": {
        "tags": [
          "BulkOrder"
        ],
        "summary": "Create Bulk Orders",
        "description": "Create a person and a bulk order on Qolo platform. If the person is already created, send an existing Person GUID.",
        "operationId": "CreateBulkOrder",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkOrderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns the newly bulkorder",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "404": {
            "description": "Program not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      },
      "get": {
        "tags": [
          "BulkOrder"
        ],
        "summary": "Retrieve Bulk Orders",
        "description": "Use this end point to display bulk order details",
        "operationId": "GetOrderDetail",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "start_index",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "order_guid",
            "in": "query",
            "description": "order guid",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "package_guid",
            "in": "query",
            "description": "package guid",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "person_guid",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "company_guid",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "start_search_date",
            "in": "query",
            "description": "start search date",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_search_date",
            "in": "query",
            "description": "end search date",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "bulk_order_status",
            "in": "query",
            "description": "bulk order status- PENDING,CREATED,CANCELLED,SHIPPED",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the bulk order details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkOrdersSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "404": {
            "description": "Order not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "BulkOrder"
        ],
        "summary": "Cancel Bulk Orders",
        "description": "This end point will allow you to cancel a bulk order on the Qolo platform.",
        "operationId": "CancelBulkOrder",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkOrderReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the bulk order details for the cancelled order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkOrderDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/{version}/bulkorders/CheckinBulkOrder": {
      "put": {
        "tags": [
          "BulkOrder"
        ],
        "summary": "Checkin Bulk Orders",
        "description": "This end point will allow you to checkin a bulk order on the Qolo platform.",
        "operationId": "CheckinBulkOrder",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkOrderReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the updated Person",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkOrderDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/{version}/bulkorders/BulkOrderSummaryByLocation": {
      "get": {
        "tags": [
          "BulkOrder"
        ],
        "summary": "Bulk Orders Summary By Location",
        "description": "Use this end point to display inventory summary details",
        "operationId": "GetBulkOrderSummaryByLocation",
        "parameters": [
          {
            "name": "person_guid",
            "in": "query",
            "description": "person guid",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "company_guid",
            "in": "query",
            "description": "company guid",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "limit",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "start_index",
            "in": "query",
            "description": "start index",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the bulk order summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkOrderSummarySearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "404": {
            "description": "Order not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/{version}/cards": {
      "get": {
        "tags": [
          "Cards"
        ],
        "summary": "Search Cards",
        "description": "Retrieve list of cards based on search criteria.",
        "operationId": "SearchCard",
        "parameters": [
          {
            "name": "person_guid",
            "in": "query",
            "description": "person guid",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "wallet_guid",
            "in": "query",
            "description": "wallet guid",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the Card",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardDTOSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Cards"
        ],
        "summary": "Create Card",
        "description": "Create a person and a card. If the person is already created, send an existing Person GUID without sending the person details.",
        "operationId": "CreateCard",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCardRequest"
              },
              "example": {
                "person": {
                  "person_guid": "00000000-0000-0000-0000-000000000000",
                  "birth_date": "1975-02-28",
                  "email": "john.smith@example.com",
                  "first_name": "John",
                  "last_name": "Smith",
                  "mobile_number": "+19540123456",
                  "base_address": {
                    "city": "Fort Lauderdale",
                    "country": "USA",
                    "address_line1": "222333 Sample road",
                    "postal_code": "33309",
                    "state": "FL"
                  },
                  "client_reference_id": "OM39125",
                  "address_lat": 0,
                  "address_lon": 0,
                  "ledger_balance": 0
                },
                "wallet_guid": "00000000-0000-0000-0000-000000000000",
                "program_guid": "bb6e9a04-ca42-4f32-b149-ad39ab3aa079",
                "months_until_expire": 0
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns the newly created Card",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCardResponse"
                },
                "example": {
                  "person": {
                    "person_guid": "00000000-0000-0000-0000-000000000000",
                    "birth_date": "1975-02-28",
                    "email": "john.smith@example.com",
                    "first_name": "John",
                    "last_name": "Smith",
                    "mobile_number": "+19540123456",
                    "base_address": {
                      "city": "Fort Lauderdale",
                      "country": "USA",
                      "address_line1": "222333 Sample road",
                      "postal_code": "33309",
                      "state": "FL"
                    },
                    "client_reference_id": "OM39125",
                    "address_lat": 0,
                    "address_lon": 0,
                    "ledger_balance": 0
                  },
                  "program_guid": "bb6e9a04-ca42-4f32-b149-ad39ab3aa079",
                  "card": {
                    "card_number": "5340920000000007",
                    "card_proxy": "cproxy0000000000001",
                    "mask_card_pan": "534092XXXXXX0007",
                    "wallet_guid": "05a28e5a-01a6-4a3e-8ce3-ca30fc09e5ae",
                    "issuance_type": "FULL",
                    "card_condition": "ORIGINAL",
                    "card_status": "PENDING",
                    "activation_method": "ONLOAD",
                    "expiration_date": "2212",
                    "logical_expiration_date": "0001-01-01T00:00:00",
                    "person_card_status": "ACTIVE",
                    "sys_utcinserted": "0001-01-01T00:00:00",
                    "sys_utcupdated": "0001-01-01T00:00:00"
                  },
                  "fulfillment_data": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "404": {
            "description": "Program not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/{version}/cards/{card_proxy}": {
      "get": {
        "tags": [
          "Cards"
        ],
        "summary": "Retrieve Card",
        "description": "Returns specific card details based on the given proxy.",
        "operationId": "GetCardById",
        "parameters": [
          {
            "name": "card_proxy",
            "in": "path",
            "description": "card proxy",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the Card",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardDTO"
                },
                "example": {
                  "card_number": "5340920000000007",
                  "card_proxy": "cproxy0000000000001",
                  "mask_card_pan": "534092XXXXXX0007",
                  "wallet_guid": "05a28e5a-01a6-4a3e-8ce3-ca30fc09e5ae",
                  "issuance_type": "FULL",
                  "card_condition": "ORIGINAL",
                  "card_status": "PENDING",
                  "activation_method": "ONLOAD",
                  "expiration_date": "2212",
                  "logical_expiration_date": "0001-01-01T00:00:00",
                  "person_card_status": "ACTIVE",
                  "card_tracking_detail": {
                    "fulfillment_house_name": "Arroweye",
                    "card_requested": "0001-01-01T00:00:00",
                    "card_shipment_date": "0001-01-01T00:00:00",
                    "card_delivery_method": "USPS",
                    "card_delivery_tracking_number": "1234365465",
                    "card_package_name": "TestPlacardPkg"
                  },
                  "sys_utcinserted": "0001-01-01T00:00:00",
                  "sys_utcupdated": "0001-01-01T00:00:00"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "404": {
            "description": "Card not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/{version}/cards/{card_proxy}/fulfillmentdata": {
      "get": {
        "tags": [
          "Cards"
        ],
        "summary": "Show card fulfillment data",
        "description": "Returns fulfillment data for specific card if a valid identifier was provided.\r\nTrack1, track2, cvx2 and pin are some important fields returned in this API\r\nPCI DSS compliance is required to use this API.",
        "operationId": "GetFulfillmentData",
        "parameters": [
          {
            "name": "card_proxy",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the fulfillment data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EncryptedFulfillmentDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "404": {
            "description": "Card not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/{version}/cards/{card_proxy}/showpan": {
      "get": {
        "tags": [
          "Cards"
        ],
        "summary": "Show card PAN",
        "description": "Returns PAN, cvv and expiraton date for specific card if a valid identifier was provided.\r\nPCI DSS compliance is required to use this API.",
        "operationId": "GetPANById",
        "parameters": [
          {
            "name": "card_proxy",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the Card",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardDTO"
                },
                "example": {
                  "card_number": "5340920000000007",
                  "card_proxy": "cproxy0000000000001",
                  "mask_card_pan": "534092XXXXXX0007",
                  "wallet_guid": "05a28e5a-01a6-4a3e-8ce3-ca30fc09e5ae",
                  "issuance_type": "FULL",
                  "card_condition": "ORIGINAL",
                  "card_status": "PENDING",
                  "activation_method": "ONLOAD",
                  "expiration_date": "2212",
                  "logical_expiration_date": "0001-01-01T00:00:00",
                  "person_card_status": "ACTIVE",
                  "card_tracking_detail": {
                    "fulfillment_house_name": "Arroweye",
                    "card_requested": "0001-01-01T00:00:00",
                    "card_shipment_date": "0001-01-01T00:00:00",
                    "card_delivery_method": "USPS",
                    "card_delivery_tracking_number": "1234365465",
                    "card_package_name": "TestPlacardPkg"
                  },
                  "sys_utcinserted": "0001-01-01T00:00:00",
                  "sys_utcupdated": "0001-01-01T00:00:00"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "404": {
            "description": "Card not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/{version}/cards/assign": {
      "post": {
        "tags": [
          "Cards"
        ],
        "summary": "Assign Card",
        "description": "Assign an instant issue or anonymous card to a Person.",
        "operationId": "AssignCard",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssignCardDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the newly assigned Card",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssignCardDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "404": {
            "description": "Card not found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/{version}/cards/{card_proxy}/activate": {
      "post": {
        "tags": [
          "Cards"
        ],
        "summary": "Activate Card",
        "description": "Activate a newly issued card. This API must be called in response to an activation request by the cardholder.",
        "operationId": "ActivateCard",
        "parameters": [
          {
            "name": "card_proxy",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CardStatusDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the card details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardDTO"
                },
                "example": {
                  "card_number": "5340920000000007",
                  "card_proxy": "cproxy0000000000001",
                  "mask_card_pan": "534092XXXXXX0007",
                  "wallet_guid": "05a28e5a-01a6-4a3e-8ce3-ca30fc09e5ae",
                  "issuance_type": "FULL",
                  "card_condition": "ORIGINAL",
                  "card_status": "PENDING",
                  "activation_method": "ONLOAD",
                  "expiration_date": "2212",
                  "logical_expiration_date": "0001-01-01T00:00:00",
                  "person_card_status": "ACTIVE",
                  "card_tracking_detail": {
                    "fulfillment_house_name": "Arroweye",
                    "card_requested": "0001-01-01T00:00:00",
                    "card_shipment_date": "0001-01-01T00:00:00",
                    "card_delivery_method": "USPS",
                    "card_delivery_tracking_number": "1234365465",
                    "card_package_name": "TestPlacardPkg"
                  },
                  "sys_utcinserted": "0001-01-01T00:00:00",
                  "sys_utcupdated": "0001-01-01T00:00:00"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "title": "One or more validation errors occurred.",
                  "status": 400,
                  "errors": {
                    "fulfillment_data": [
                      "The fulfillment field is required."
                    ]
                  },
                  "traceId": "0HLU5NVH2BE5E:00000001"
                }
              }
            }
          },
[...]
