{"openapi":"3.0.2","info":{"title":"DNB pre-validation API","description":"This API validates if the account information received is valid and if account is ready to receive funds.","version":"1.0.0"},"servers":[{"url":"https://prevalidation.api.dnb.no/v1"}],"paths":{"/account/norway-domestic/payment-info/validate":{"post":{"tags":["Pre-validation"],"security":[{"openId":["openbanking.prevalidation.norway:validate"]}],"summary":"Verifies if requested account can receive funds","description":"- This operation takes list of Norwegian accounts and validates if requested account can receive payments. \n- Input can be either BBAN or IBAN.\n- Response contains validation result for each account with validation code and explanation for it","operationId":"validateNorwegianAccountNumber","parameters":[{"$ref":"#/components/parameters/DNBAPI-Trace-Id"}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","example":[{"id":"record1","accountIdType":"BBAN","accountId":"12500834607"},{"id":"record2","accountIdType":"IBAN","accountId":"NO12500834607"},{"id":"record3","accountIdType":"BBAN","accountId":"NO12600834607"}],"items":{"$ref":"#/components/schemas/AccountNumberValidationRequest"}}}}},"responses":{"200":{"description":"Response for verifyAccountPaymentRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountNumberValidationResponse"},"example":{"paymentPreValidationLookupSuccess":[{"id":"record1","accountIdType":"BBAN","accountId":"12500834607","validationCode":"ACCOUNT_FOUND","validationDescription":"Yes, there is an account"},{"id":"record2","accountIdType":"IBAN","accountId":"NO12500834607","validationCode":"ACCOUNT_FOUND_BUT_RENUMBERED","validationDescription":"Yes, but renumbered","renumberedAccount":"NO125340834607"}],"paymentPreValidationLookupError":[{"id":"record3","accountIdType":"BBAN","accountId":"NO12600834607","backendErrorCode":"NARR","errorDescription":"Narrative","errorMessage":"Kar service is not reachable"}]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorModel"},"example":{"isoErrorCode":"CH21","isoErrorMessage":"RequiredCompulsoryElementMissing","errorDescription":"Required request header 'DNBAPI-Trace-Id' is not present"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorModel"},"example":{"isoErrorCode":"AG08","isoErrorMessage":"InvalidAccessRights","errorDescription":"No access to this service"}}}},"413":{"description":"Not Acceptable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorModel"},"example":{"isoErrorCode":"NARR","isoErrorMessage":"Narrative","errorDescription":"Not more than 10 accounts are allowed in one request"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorModel"},"example":{"isoErrorCode":"FF10","isoErrorMessage":"ProcessingError","errorDescription":"'Sorry, an error occurred. Please try again. If the problem persists, please reach out to us.'"}}}},"503":{"description":"Service unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorModel"},"example":{"isoErrorCode":"FF10","isoErrorMessage":"ProcessingError","errorDescription":"'Service is currently unavailable. Please try again after sometime. If the problem persists, please reach out to us.'"}}}}}}},"/account/norway-domestic/owner-info/validate":{"post":{"tags":["Pre-validation"],"security":[{"openId":["openbanking.prevalidation.norway:validate"]}],"summary":"Verify if requested account belongs to customer specified in the request","operationId":"validateNorwegianAccountOwner","description":"- This operation takes list of Norwegian accounts and its customer number and validates if accounts belongs to customers specified in the request.\n- Input can be either BBAN or IBAN and customer number.\n- Response contains validation result for each account with validation code and explanation for it","parameters":[{"$ref":"#/components/parameters/DNBAPI-Trace-Id"}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","example":[{"id":"record1","accountIdType":"BBAN","accountId":"12500834607","partyIdType":"SOSE_NO","partyId":"98488563569"},{"id":"record2","accountIdType":"IBAN","accountId":"NO12500834607","partyIdType":"NATIONAL_PUBLIC_ID_NO","partyId":"12109278845"},{"id":"record3","accountIdType":"IBAN","accountId":"NO12500834607","partyIdType":"NATIONAL_PUBLIC_ID_NO","partyId":"12109278845"}],"items":{"$ref":"#/components/schemas/AccountOwnerValidationRequest"}}}}},"responses":{"200":{"description":"Response for verifyAccountOwnerRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountOwnerValidationResponse"},"example":{"ownerPreValidationLookupSuccess":[{"id":"record1","accountIdType":"BBAN","accountId":"12500834607","partyIdType":"SOSE_NO","partyId":"98488563569","validationCode":"ACCOUNT_FOUND_AND_OWNED_BY_CUSTOMER","validationDescription":"Yes. Account exists and is owned by specified customer."},{"id":"record2","accountIdType":"IBAN","accountId":"NO12500834607","partyIdType":"NATIONAL_PUBLIC_ID_NO","partyId":"12109278845","validationCode":"ACCOUNT_RENUMBERED_AND_OWNED_BY_CUSTOMER","validationDescription":"Yes. Account has been renumbered and new account owned by specified customer","renumberedAccount":"NO125340834607"}],"ownerPreValidationLookupError":[{"id":"record3","accountIdType":"IBAN","accountId":"NO12500834607","partyIdType":"NATIONAL_PUBLIC_ID_NO","partyId":"12109278845","backendErrorCode":"NARR","errorDescription":"Narrative","errorMessage":"Kar service is not reachable"}]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorModel"},"example":{"isoErrorCode":"CH21","isoErrorMessage":"RequiredCompulsoryElementMissing","errorDescription":"Required request header 'DNBAPI-Trace-Id' is not present"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorModel"},"example":{"isoErrorCode":"AG08","isoErrorMessage":"InvalidAccessRights","errorDescription":"No access to this service"}}}},"413":{"description":"Not Acceptable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorModel"},"example":{"isoErrorCode":"NARR","isoErrorMessage":"Narrative","errorDescription":"Not more than 10 accounts are allowed in one request"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorModel"},"example":{"isoErrorCode":"FF10","isoErrorMessage":"ProcessingError","errorDescription":"'Sorry, an error occurred. Please try again. If the problem persists, please reach out to us.'"}}}},"503":{"description":"Service unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorModel"},"example":{"isoErrorCode":"FF10","isoErrorMessage":"ProcessingError","errorDescription":"'Service is currently unavailable. Please try again after sometime. If the problem persists, please reach out to us.'"}}}}}}},"/account/international/validate":{"post":{"tags":["Pre-validation"],"security":[{"openId":["openbanking.prevalidation.international:validate"]}],"summary":"Validate that the requested crossborder account can receive funds and it belongs to the customer specified in the request","operationId":"validateInternationalAccount","description":"- This operation takes a list of crossborder accounts and its customer names and validates if accounts are valid and belong to customers specified in the request.\n- Input can be accountNumber/IBAN and accound holder name.\n- Response contains validation result for each account with validation code and more explanation details","parameters":[{"$ref":"#/components/parameters/DNBAPI-Trace-Id"}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","example":[{"creditorAccount":"NO12500834607","creditorName":"John Doe"},{"creditorAccount":"500834217","creditorName":"Ola Nordmann","creditorAgent":{"bicfi":"DNBANOKKXXX"}},{"creditorAccount":"NO12600834607","creditorName":"Jane Doe"}],"items":{"$ref":"#/components/schemas/InternationalAccountValidationRequest"}}}}},"responses":{"200":{"description":"Response for international account validation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternationalAccountValidationResponse"},"example":{"internationalValidationSuccess":[{"creditorAccount":"12500834607","creditorName":"John Doe","accountValidationStatus":"PASS","accountValidationStatusDescription":"The account identification was successfully validated to an account that can receive funds.","creditorAccountMatch":"MTCH","creditorAccountMatchDescription":"Matched validation check.","creditorNameMatch":"MTCH","creditorNameMatchDescription":"Matched validation check.","validationSource":"ACSV"},{"creditorAccount":"NO12500834607","creditorName":"Ola Nordmann","accountValidationStatus":"INCO","accountValidationStatusDescription":"The account identification provided was successfully validated to an account that can receive funds, however, some additional account checks will be performed at transaction time.","creditorAccountMatch":"MTCH","creditorAccountMatchDescription":"Matched validation check.","creditorNameMatch":"NMTC","creditorNameMatchDescription":"Unmatched validation check.","validationSource":"HIST"}],"internationalValidationError":[{"creditorAccount":"NO12600834607","creditorName":"Jane Doe","backendErrorCode":"NARR","errorDescription":"Narrative","errorMessage":"SWIFT service is not reachable"}]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorModel"},"example":{"isoErrorCode":"CH21","isoErrorMessage":"RequiredCompulsoryElementMissing","errorDescription":"Required request header 'DNBAPI-Trace-Id' is not present"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorModel"},"example":{"isoErrorCode":"AG08","isoErrorMessage":"InvalidAccessRights","errorDescription":"No access to this service"}}}},"413":{"description":"Payload Too Large","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorModel"},"example":{"isoErrorCode":"NARR","isoErrorMessage":"Narrative","errorDescription":"Not more than 10 accounts are allowed in one request"}}}},"500":{"description":"Internal Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorModel"},"example":{"isoErrorCode":"FF10","isoErrorMessage":"ProcessingError","errorDescription":"'Sorry, an error occurred. Please try again. If the problem persists, please reach out to us.'"}}}},"503":{"description":"Service unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorModel"},"example":{"isoErrorCode":"FF10","isoErrorMessage":"ProcessingError","errorDescription":"'Service is currently unavailable. Please try again after sometime. If the problem persists, please reach out to us.'"}}}}}}}},"components":{"securitySchemes":{"openId":{"type":"openIdConnect","openIdConnectUrl":"https://api.ciam.dnb.no/.well-known/openid-configuration"}},"schemas":{"AccountNumberValidationRequest":{"required":["accountIdType","accountId","id"],"type":"object","properties":{"id":{"$ref":"#/components/schemas/Id"},"accountIdType":{"$ref":"#/components/schemas/AccountIdType"},"accountId":{"$ref":"#/components/schemas/AccountId"}}},"AccountOwnerValidationRequest":{"required":["accountIdType","accountId","partyIdType","partyId","id"],"type":"object","properties":{"id":{"$ref":"#/components/schemas/Id"},"accountIdType":{"$ref":"#/components/schemas/AccountIdType"},"accountId":{"$ref":"#/components/schemas/AccountId"},"partyIdType":{"$ref":"#/components/schemas/PartyIdType"},"partyId":{"$ref":"#/components/schemas/PartyId"}}},"InternationalAccountValidationRequest":{"required":["creditorAccount","creditorName"],"type":"object","properties":{"creditorAccount":{"$ref":"#/components/schemas/CreditorAccount"},"creditorName":{"$ref":"#/components/schemas/CreditorName"},"creditorAgent":{"$ref":"#/components/schemas/CreditorAgent"}}},"AccountNumberValidationResponse":{"type":"object","properties":{"validationLookupSuccess":{"type":"array","items":{"$ref":"#/components/schemas/AccountNumberValidationLookupSuccess"}},"validationLookupError":{"type":"array","items":{"$ref":"#/components/schemas/AccountNumberValidationLookupError"}}},"description":"Response for Payment pre validation"},"InternationalAccountValidationResponse":{"type":"object","properties":{"internationalValidationSuccess":{"type":"array","items":{"$ref":"#/components/schemas/InternationalAccountValidationSuccess"}},"internationalValidationError":{"type":"array","items":{"$ref":"#/components/schemas/InternationalAccountValidationLookupError"}}},"description":"Response for international account validation"},"AccountNumberValidationLookupSuccess":{"required":["validationCode","validationDescription"],"type":"object","properties":{"validationCode":{"$ref":"#/components/schemas/PaymentPreValidationCode"},"validationDescription":{"$ref":"#/components/schemas/ValidationDescription"},"renumberedBBANAccount":{"$ref":"#/components/schemas/AccountId"}},"description":"Accounts validated successfully","allOf":[{"$ref":"#/components/schemas/AccountNumberValidationRequest"}]},"InternationalAccountValidationSuccess":{"required":["accountValidationStatus","accountValidationStatusDescription","creditorAccountMatch","creditorAccountMatchDescription","creditorNameMatch","creditorNameMatchDescription","creditorAccount","creditorName"],"type":"object","properties":{"creditorAccount":{"$ref":"#/components/schemas/CreditorAccount"},"creditorName":{"$ref":"#/components/schemas/CreditorName"},"accountValidationStatus":{"$ref":"#/components/schemas/AccountValidationStatus"},"accountValidationStatusDescription":{"$ref":"#/components/schemas/AccountValidationStatusDescription"},"creditorAccountMatch":{"$ref":"#/components/schemas/CreditorAccountMatch"},"creditorAccountMatchDescription":{"$ref":"#/components/schemas/CreditorAccountMatchDescription"},"creditorNameMatch":{"$ref":"#/components/schemas/CreditorNameMatch"},"creditorNameMatchDescription":{"$ref":"#/components/schemas/CreditorNameMatchDescription"},"validationSource":{"$ref":"#/components/schemas/ValidationSource"}},"description":"Accounts validated successfully"},"AccountNumberValidationLookupError":{"description":"Accounts failed to validate","required":["backendErrorCode","errorDescription","errorMessage"],"type":"object","properties":{"backendErrorCode":{"$ref":"#/components/schemas/ErrorCode"},"errorDescription":{"$ref":"#/components/schemas/ErrorDescription"},"errorMessage":{"$ref":"#/components/schemas/ErrorMessage"}},"allOf":[{"$ref":"#/components/schemas/AccountNumberValidationRequest"}]},"InternationalAccountValidationLookupError":{"description":"Accounts failed to validate","required":["backendErrorCode","errorDescription","errorMessage"],"type":"object","properties":{"backendErrorCode":{"$ref":"#/components/schemas/ErrorCode"},"errorDescription":{"$ref":"#/components/schemas/ErrorDescription"},"errorMessage":{"$ref":"#/components/schemas/ErrorMessage"}},"allOf":[{"$ref":"#/components/schemas/InternationalAccountValidationRequest"}]},"AccountOwnerValidationResponse":{"type":"object","properties":{"validationLookupSuccess":{"type":"array","items":{"$ref":"#/components/schemas/AccountOwnerValidationLookupSuccess"}},"validationLookupError":{"type":"array","items":{"$ref":"#/components/schemas/AccountOwnerValidationLookupError"}}},"description":"Response for Owner pre validation"},"AccountOwnerValidationLookupSuccess":{"type":"object","required":["validationCode","validationDescription"],"properties":{"validationCode":{"$ref":"#/components/schemas/OwnerPreValidationCode"},"validationDescription":{"$ref":"#/components/schemas/ValidationDescription"},"renumberedBBANAccount":{"$ref":"#/components/schemas/AccountId"}},"allOf":[{"$ref":"#/components/schemas/AccountOwnerValidationRequest"}]},"AccountOwnerValidationLookupError":{"type":"object","description":"Accounts failed to validate","required":["backendErrorCode","errorDescription","errorMessage"],"properties":{"backendErrorCode":{"$ref":"#/components/schemas/ErrorCode"},"errorDescription":{"$ref":"#/components/schemas/ErrorDescription"},"errorMessage":{"$ref":"#/components/schemas/ErrorMessage"}},"allOf":[{"$ref":"#/components/schemas/AccountOwnerValidationRequest"}]},"Id":{"type":"string","description":"Unique ID associated with each account in request list, same ID will sent back in response to have correlation between request and response."},"AccountIdType":{"type":"string","description":"Specifies if given account id is BBAN or IBAN. Valid values are\n - BBAN\n - IBAN"},"AccountId":{"maxLength":34,"type":"string","description":"IBAN,BBAN.\n - BBAN => 22124567891\n - IBAN => NO9622124567891"},"CreditorAccount":{"maxLength":34,"type":"string","description":"BBAN or IBAN"},"CreditorName":{"maxLength":140,"type":"string","description":"Specifies account holder/creditor name"},"CreditorAgent":{"type":"object","required":["bicfi"],"description":"Set of elements used to identify a financial institution.","properties":{"bicfi":{"$ref":"#/components/schemas/Bicfi"}}},"Bicfi":{"type":"string","pattern":"^[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}$","description":"Code allocated to a financial institution - \"Business identifier code (BIC)\"\nCreditorAgentBic is mandatory, if BBAN is provided in AccountNumber."},"ValidationDescription":{"type":"string","description":"Describes validation code"},"PaymentPreValidationCode":{"type":"string","description":"Specifies validation code. Valid values are :\n- ACCOUNT_FOUND\n- ACCOUNT_FOUND_BUT_RENUMBERED\n- ACCOUNT_NOT_FOUND\n- RENUMBERED_ACCOUNT_NOT_FOUND\n- RENUMBERED_ACCOUNT_NOT_REACHABLE\n- ACCOUNT_NOT_REACHABLE\n- ACCOUNT_NUMBER_DOES_NOT_EXIST\n- LOOKUP_NOT_AUTHORIZED\n- BANK_DATA_NOT_REACHABLE"},"OwnerPreValidationCode":{"type":"string","description":"Specifies validation code. Valid values are :     \n- ACCOUNT_FOUND_AND_OWNED_BY_CUSTOMER\n- ACCOUNT_RENUMBERED_AND_OWNED_BY_CUSTOMER\n- ACCOUNT_FOUND_BUT_NOT_OWNED_BY_CUSTOMER\n- ACCOUNT_NOT_FOUND\n- RENUMBERED_ACCOUNT_NOT_FOUND\n- RENUMBERED_ACCOUNT_NOT_OWNED_BY_CUSTOMER\n- ACCOUNT_NOT_REACHABLE\n- RENUMBERED_ACCOUNT_NOT_REACHABLE\n- UNKNOWN_REGISTER_NUMBER\n- LOOKUP_NOT_AUTHORIZED\n- BANK_DATA_NOT_REACHABLE\n- ACCOUNT_OWNER_CANNOT_BE_VERIFIED\n- RENUMBERED_ACCOUNT_OWNER_CANNOT_BE_VERIFIED"},"AccountValidationStatus":{"type":"string","description":"Specifies validation code. Valid values are :\n- FAIL\n- INCO\n- PASS\n- WARN"},"AccountValidationStatusDescription":{"type":"string","description":"Specifies description for the validation code. Valid values are (corresponding pairs of AccountValidationStatus values):\n- The account identification provided was not successfully validated to an account that can receive funds.\n- The account identification provided was successfully validated to an account that can receive funds, however, some additional account checks will be performed at transaction time.\n- The account identification was successfully validated to an account that can receive funds.\n- The account identification was not successfully validated to an account that can receive funds, however, the responder lacks some information to provide a definite answer."},"CreditorAccountMatch":{"type":"string","description":"Specifies account number validation code. Valid values are :\n- MTCH\n- NMTC"},"CreditorAccountMatchDescription":{"type":"string","description":"Specifies description for account number validation code. Valid values are (corresponding pairs of CreditorAccountMatch values):\n- Matched validation check.\n- Unmatched validation check."},"CreditorNameMatch":{"type":"string","description":"Specifies validation code for account holder. Valid values are :\n- MTCH\n- MBAM\n- NMTC\n- NOAP\n- NOTC"},"ValidationSource":{"type":"string","description":"Specifies the decision maker. Valid values are :\n- ACSV (The responder is the financial institution servicing this account)\n- HIST (The responder is SWIFT, basing its decision on SWIFT past transactions made to this account)\n- OBSP (The responder is a third-party system to which the account servicer delegated implementation of the API, basing its decision on data fed by the account servicer. )"},"CreditorNameMatchDescription":{"type":"string","description":"Specifies description for the validation code for account holder. Valid values are (corresponding pairs of AccountHolderStatus):\n- Matched validation check.\n- The beneficiary bank has determined that the provided creditor name closely resembles the account holder name. However, it is not an exact match. The beneficiary bank can choose to disclose the actual account holder name for the payment sender to verify or update its records.\n- Unmatched validation check.\n- Validation check is not applicable.\n- Validation check has not been carried out."},"CustomerNumber":{"maxLength":35,"type":"string"},"PartyIdType":{"maxLength":35,"type":"string","description":"Specifies Party Id Type. Valid values are\n- SOSE_NO - Social Security Number Norway\n- NATIONAL_PUBLIC_ID_NO - Norwegian Organisation Identification number\n- D_NUMBER - Norwegian temporary national identification number"},"PartyId":{"maxLength":35,"type":"string"},"ErrorModel":{"type":"object","properties":{"isoErrorCode":{"$ref":"#/components/schemas/ErrorCode"},"isoErrorMessage":{"$ref":"#/components/schemas/ErrorMessage"},"errorDescription":{"$ref":"#/components/schemas/ErrorDescription"}}},"ErrorMessage":{"type":"string"},"ErrorCode":{"type":"string","description":"Valid values\n- AG08\n- NARR\n- FF10\n- CH21"},"ErrorDescription":{"type":"string","description":"Valid values\n- InvalidAccessRights\n- Narrative\n- ProcessingError\n- RequiredCompulsoryElementMissing"}},"parameters":{"DNBAPI-Trace-Id":{"name":"DNBAPI-Trace-Id","in":"header","description":"Custom correlation-id to be able to correlate request / response. By logging this value on the client, server and any backing services, it provides a mechanism to trace, diagnose and debug requests. Preferred format is UUID.","required":true,"style":"simple","explode":false,"schema":{"format":"string","type":"string"},"x-example":"64d16ca4-582a-416e-90d0-e39246b59399"}}}}