{
  "openapi": "3.0.0",
  "info": {
    "title": "Zipwhip Provisioning API",
    "description": "This documentation includes reference material for the commands and parameters used to provision phone numbers and create/manage accounts.\n\nYou can use Zipwhip’s HTTP Provisioning API to create your own automated provisioning solutions. An API Key is required for all interactions with the Provisioning API, in the form of an `api_key` query parameter GET request. Input values are passed as standard key value pairs via HTTP parameters. Make sure that all passed values are URL encoded.\n\n*Note: API Keys are only available to Zipwhip commercial partners and resellers. If you do not have an API Key, you can request one from [noc@zipwhip.com](mailto:noc@zipwhip.com).*\n\nZipwhip requires that all customers who use the Provisioning tools secure proper authorization from the end user of record for each telephone number provisioned. Failure to secure proper authorization can lead to termination of your service agreement with Zipwhip. Refer to your Zipwhip service agreement for specific contractual requirements regarding provisioning telephone numbers.\n\nFor further documentation, please read the [Zipwhip Provisioning API Reference PDF](https://www.zipwhip.com/wp-content/uploads/2018/01/provisioningapireference.pdf).",
    "contact": {},
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://provision.zipwhip.com/api",
      "variables": {}
    }
  ],
  "tags": [
    {
      "name": "Provision",
      "description": ""
    }
  ],
  "paths": {
    "/20140925/provision/eligible": {
      "get": {
        "tags": ["Provision"],
        "summary": "Check line elgibility",
        "description": "The first step in the process of provisioning a phone number is to verify that the number you want to provision is eligible to be provisioned. The eligible call is a required step in the provisioning process. When you build a step around the eligible call, you should accommodate both eligible (success) and ineligible (failure) results.\n\nIf a line is not able to be provisioned, the Provision/Eligible will return a status code. The current list of status codes is shown in the table below.\n\n## Provision/Eligible Status Codes\n\nCode | Description | Eligible\n--- | --- | ---\n100 | Successful Request | True\n110 | Unkown error | False\n111 | Rejected mobile number | False\n112 | Number already provisioned by another Organization | False\n113 | Ineligible - Number already provisioned by your Organization | False\n201 | Ineligible - Mobile Number | False\n213 | Number already provisioned by your Organization | False\n275 | Ineligible - Number recently canceled, within the past 20 minutes, please try again later | False\n408 | The phone_number specified is not assigned to your organization | False",
        "operationId": "ProvisionEligible",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "Authentication token you get when signing up for Provisioning API service from Zipwhip.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": ""
            }
          },
          {
            "name": "phone_number",
            "in": "query",
            "description": "The phone number you want to identify as eligible or ineligible. The number must be formatted in full e.164 format. Example: +18005551234",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProvisionEligible"
                },
                "example": {
                  "transaction_id": "d727c781-7b78-3145-f51a-85b9412cad1b",
                  "status_code": 100,
                  "error": "false",
                  "eligible": "true"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/20140925/provision/add": {
      "get": {
        "tags": ["Provision"],
        "summary": "Provision a line",
        "description": "The second step of the provisioning process is sending the provision request to the primary voice carrier for the eligible telephone number. This step cannot be completed until you have verified that the telephone number being submitted for provisioning is eligible. The Provision/Add call is the specific command that sends the provision request.",
        "operationId": "ProvisionAdd",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "Authentication token you get when signing up for Provisioning API service from Zipwhip.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": ""
            }
          },
          {
            "name": "phone_number",
            "in": "query",
            "description": "The phone number to be provisioned and activated for service. The number must be formatted in full e.164 format. Example: `+18005551234`.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": ""
            }
          },
          {
            "name": "account_name",
            "in": "query",
            "description": "The account name is generally the name of the business associated with the account.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": ""
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "The email address associated with the account.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": ""
            }
          },
          {
            "name": "feature_package",
            "in": "query",
            "description": "The name of the package that is associated with the account (e.g. `zipwhip_api`).",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": ""
            }
          },
          {
            "name": "effective_date",
            "in": "query",
            "description": "The specific date and time to process the provisioning request. If no effective date is provided, then the number is provisioned immediately. Format: ISO_8601 Example: `2014-05-08T17:35:16+00:00`.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": ""
            }
          },
          {
            "name": "vendor_customer_id",
            "in": "query",
            "description": "Vendor customer Id is an optional field that customers can use to link with their existing systems/applications.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProvisionAdd"
                },
                "example": {
                  "transaction_id": "bc3ef3f8-e0e6-4f5d-9701-b6796fd3dde6",
                  "status_code": "100",
                  "status_desc": "Successful Request",
                  "error": "false",
                  "effective_date": "2019-12-12T01:46:17+00:00",
                  "password": "vey287olo132"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/20140925/provision/status": {
      "get": {
        "tags": ["Provision"],
        "summary": "Check the provisioning status of a line",
        "description": "The third step in the process of provisioning a phone number is an optional step. You can use the Provision/Status call to track the status of your provision request.\r\rYou can use the status call in several different use cases. You can show the status states to the end user or hide them from the end user. You can let the end user make this call on an ad hoc basis, or build the call into a process. You can choose to display the provisioning request status in real-time or only when the status changes.",
        "operationId": "ProvisionStatus",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "Authentication token you get when signing up for Provisioning API service from Zipwhip.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": ""
            }
          },
          {
            "name": "phone_number",
            "in": "query",
            "description": "The phone number for which you want the provisioning status. The number must be formatted in full e.164 format. Example: +18005551234",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProvisionStatus"
                },
                "example": {
                  "transaction_id": "3d12f5f6-0b97-5f3e-8fa3-7b3d49610789",
                  "status_code": "100",
                  "status_desc": "Successful Request",
                  "error": "false",
                  "account_status": "Account Activated",
                  "last_updated": "2019-12-11T17:46:19+00:00"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/20140925/provision/update": {
      "get": {
        "tags": ["Provision"],
        "summary": "Update a provisioned line",
        "description": "You can use the Provision/Update call to make changes to an existing line/account. At present, if you use the Platform version, the only parameter you can update is Vendor Customer Id.",
        "operationId": "ProvisionUpdate",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "Authentication token you get when signing up for Provisioning API service from Zipwhip.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": ""
            }
          },
          {
            "name": "phone_number",
            "in": "query",
            "description": "The phone number to be updated. The number must be formatted in full e.164 format. Example: +18005551234",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": ""
            }
          },
          {
            "name": "effective_date",
            "in": "query",
            "description": "The specific date and time to process the provisioning request. If no effective date is provided, then the number is provisioned immediately. Format: ISO_8601 Example: `2014-05-08T17:35:16+00:00`.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": ""
            }
          },
          {
            "name": "vendor_customer_id",
            "in": "query",
            "description": "Vendor customer Id is an optional field that customers can use to link with their existing systems/applications.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProvisionUpdate"
                },
                "example": {
                  "transaction_id": "9964c3cf-d48d-bf3f-f833-ab90342ea0d7",
                  "status_code": "100",
                  "status_desc": "Successful Request",
                  "error": "false"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/20140925/provision/delete": {
      "get": {
        "tags": ["Provision"],
        "summary": "Deprovision a line",
        "description": "You can use the Provision/Delete call to delete an existing account, which means that billing on the account stops on date the account is deleted. If you want to delete multiple phone numbers or accounts, then you must delete each line/account individually.",
        "operationId": "ProvisionDelete",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "Authentication token you get when signing up for Provisioning API service from Zipwhip.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": ""
            }
          },
          {
            "name": "phone_number",
            "in": "query",
            "description": "The phone number of the line you want to deprovision. The number must be formatted in full e.164 format. Example: +18005551234",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": ""
            }
          },
          {
            "name": "effective_date",
            "in": "query",
            "description": "The specific date and time to process the provisioning request. If no effective date is provided, then the number is provisioned immediately. Format: ISO_8601 Example: `2014-05-08T17:35:16+00:00`.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProvisionDelete"
                },
                "example": {
                  "transaction_id": "34563c31-02db-0f37-bfaf-aeca19a91802",
                  "status_code": "100",
                  "status_desc": "Successful Request",
                  "error": "false"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/optOut/v1/status": {
      "get": {
        "tags": ["Provision"],
        "summary": "Fetch a list of opted-out numbers",
        "description": "Returns a list of numbers (in CSV format) that have opted out of receiving messages from the provided phone number.\n\n*This API call requires special permissions to use. If you are interested in accessing this call, contact us at [noc@zipwhip.com](mailto:noc@zipwhip.com?subject=Provision/OptOutList%20Access).*",
        "operationId": "ProvisionOptOutList",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "Authentication token you get when signing up for Provisioning API service from Zipwhip.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": ""
            }
          },
          {
            "name": "phone_number",
            "in": "query",
            "description": "The phone number of the provisioned line. The number must be formatted in full e.164 format. Example: +18005551234",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "example": "phoneNumber,blockedNumber,dateBlocked\n+14257772252,+12063639826,2019-12-16T16:18:07Z\n+14257772252,+12063969576,2019-12-13T13:41:57Z\n"
                },
                "example": "phoneNumber,blockedNumber,dateBlocked\n+14257772252,+12063639826,2019-12-16T16:18:07Z\n+14257772252,+12063969576,2019-12-13T13:41:57Z\n"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/optOut/v1/add": {
      "get": {
        "tags": ["Provision"],
        "summary": "Add line to optout list",
        "description": "Provides a way to block future text messages from being sent to\nthe opt_out_number from the phone_number provided.\nThis action cannot be undone via an API. The opt_out_number must send in UNSTOP to the phone_number to receive messages again.\n\n*This API call requires special permissions to use. If you are interested in accessing this call, contact us at [noc@zipwhip.com](mailto:noc@zipwhip.com?subject=Provision/OptOutAdd%20Access).*",
        "operationId": "ProvisionOptOutAdd",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "Authentication token you get when signing up for Provisioning API service from Zipwhip.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": ""
            }
          },
          {
            "name": "phone_number",
            "in": "query",
            "description": "The text-enabled line that the opt-out is being applied to. The number must be formatted in full e.164 format. Example: +18005551234",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": ""
            }
          },
          {
            "name": "opt_out_number",
            "in": "query",
            "description": "The wireless subscriber phone number that will be opted out of recieving new messages. The number must be formatted in full e.164 format. Example: +18005551234",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProvisionOptOutAdd"
                },
                "example": {
                  "transaction_id": "07e0e61a-0d56-8627-219e-3045a95dfb5c",
                  "status_code": "100",
                  "status_desc": "Block successfully added.",
                  "error": "false"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/reporting/v1/usage": {
      "get": {
        "tags": ["Provision"],
        "summary": "Fetch message counts for a line",
        "description": "Returns basic message counts (in CSV format) for the phone number specified. It will display messages sent (smsMT), and messages received (smsMO). Message stats are grouped-by daily metrics. Days with no metrics are omitted from the results. If no start_date is provided, then the call automatically provides stats for the previous day.\n\n*This API call requires special permissions to use. If you are interested in accessing this call, contact us at [noc@zipwhip.com](mailto:noc@zipwhip.com?subject=Provision/UsageReport%20Access).*",
        "operationId": "ProvisionUsageReport",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "Authentication token you get when signing up for Provisioning API service from Zipwhip.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": ""
            }
          },
          {
            "name": "phone_number",
            "in": "query",
            "description": "The phone number that usage data will be returned for. The number must be formatted in full e.164 format. Example: +18005551234",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": ""
            }
          },
          {
            "name": "org_customer_id",
            "in": "query",
            "description": "Filters results to a specific org customer.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": ""
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Filters results to a specific date range. If no start_date is provided, then the call automatically provides stats for the previous day. Format: `YYYY-MM-DD`",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "example": "orgCustomerId,phoneNumber,date,smsMO,smsMT\n"
                },
                "example": "orgCustomerId,phoneNumber,date,smsMO,smsMT\n"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/reporting/v1/deletedAccounts": {
      "get": {
        "tags": ["Provision"],
        "summary": "Fetch a list of deleted accounts",
        "description": "Returns a list of deleted accounts (in CSV format) for an org. The amount of detail can be refined by passing in an org_customer_id and then further refined by passing in a start_date.\n\n*This API call requires special permissions to use. If you are interested in accessing this call, contact us at [noc@zipwhip.com](mailto:noc@zipwhip.com?subject=Provision/DeletedAccounts%20Access).*",
        "operationId": "ProvisionDeletedAccounts",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "Authentication token you get when signing up for Provisioning API service from Zipwhip.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": ""
            }
          },
          {
            "name": "org_customer_id",
            "in": "query",
            "description": "Filters results to a specific org customer.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": ""
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Filters results to a specific date range. If no start_date is provided, then the call automatically provides stats for the previous day. Format: `YYYY-MM-DD`",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "example": "orgCustomerId,phoneNumber,dateCreated,dateCancelled\n"
                },
                "example": "orgCustomerId,phoneNumber,dateCreated,dateCancelled\n"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/20140925/enum/textable": {
      "get": {
        "tags": ["Provision"],
        "summary": "Check if line is text-enabled",
        "description": "Returns information regarding whether the given number is text-enabled or not.\n\n*This API call requires special permissions to use. If you are interested in accessing this call, contact us at [noc@zipwhip.com](mailto:noc@zipwhip.com?subject=Enum/Textable%20Access).*",
        "operationId": "Enum/Textable",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "Authentication token you get when signing up for Provisioning API service from Zipwhip.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": ""
            }
          },
          {
            "name": "phone_number",
            "in": "query",
            "description": "The phone number you want to verify is textable. The number must be formatted in full e.164 format. Example: +18005551234",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnumTextable"
                },
                "example": {
                  "transaction_id": "d0c7fca2-1710-f97c-9158-ab78fcb5f9cf",
                  "status_code": "100",
                  "error": false,
                  "textable": true,
                  "line_provider": "XO Communications, Inc.",
                  "texting_provider": "Zipwhip",
                  "type": "Landline"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "components": {
    "schemas": {
      "ProvisionEligible": {
        "title": "Provision/Eligible",
        "required": ["transaction_id", "status_code", "error", "eligible"],
        "type": "object",
        "properties": {
          "transaction_id": {
            "type": "string"
          },
          "status_code": {
            "type": "integer",
            "format": "int32"
          },
          "error": {
            "type": "string"
          },
          "eligible": {
            "type": "string"
          }
        },
        "example": {
          "transaction_id": "d727c781-7b78-3145-f51a-85b9412cad1b",
          "status_code": 100,
          "error": "false",
          "eligible": "true"
        }
      },
      "ProvisionAdd": {
        "title": "Provision/Add",
        "required": [
          "transaction_id",
          "status_code",
          "status_desc",
          "error",
          "effective_date",
          "password"
        ],
        "type": "object",
        "properties": {
          "transaction_id": {
            "type": "string"
          },
          "status_code": {
            "type": "string"
          },
          "status_desc": {
            "type": "string"
          },
          "error": {
            "type": "string"
          },
          "effective_date": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        },
        "example": {
          "transaction_id": "bc3ef3f8-e0e6-4f5d-9701-b6796fd3dde6",
          "status_code": "100",
          "status_desc": "Successful Request",
          "error": "false",
          "effective_date": "2019-12-12T01:46:17+00:00",
          "password": "vey287olo132"
        }
      },
      "ProvisionStatus": {
        "title": "Provision/Status",
        "required": [
          "transaction_id",
          "status_code",
          "status_desc",
          "error",
          "account_status",
          "last_updated"
        ],
        "type": "object",
        "properties": {
          "transaction_id": {
            "type": "string"
          },
          "status_code": {
            "type": "string"
          },
          "status_desc": {
            "type": "string"
          },
          "error": {
            "type": "string"
          },
          "account_status": {
            "type": "string"
          },
          "last_updated": {
            "type": "string"
          }
        },
        "example": {
          "transaction_id": "3d12f5f6-0b97-5f3e-8fa3-7b3d49610789",
          "status_code": "100",
          "status_desc": "Successful Request",
          "error": "false",
          "account_status": "Account Activated",
          "last_updated": "2019-12-11T17:46:19+00:00"
        }
      },
      "ProvisionUpdate": {
        "title": "Provision/Update",
        "required": ["transaction_id", "status_code", "status_desc", "error"],
        "type": "object",
        "properties": {
          "transaction_id": {
            "type": "string"
          },
          "status_code": {
            "type": "string"
          },
          "status_desc": {
            "type": "string"
          },
          "error": {
            "type": "string"
          }
        },
        "example": {
          "transaction_id": "9964c3cf-d48d-bf3f-f833-ab90342ea0d7",
          "status_code": "100",
          "status_desc": "Successful Request",
          "error": "false"
        }
      },
      "ProvisionDelete": {
        "title": "Provision/Delete",
        "required": ["transaction_id", "status_code", "status_desc", "error"],
        "type": "object",
        "properties": {
          "transaction_id": {
            "type": "string"
          },
          "status_code": {
            "type": "string"
          },
          "status_desc": {
            "type": "string"
          },
          "error": {
            "type": "string"
          }
        },
        "example": {
          "transaction_id": "34563c31-02db-0f37-bfaf-aeca19a91802",
          "status_code": "100",
          "status_desc": "Successful Request",
          "error": "false"
        }
      },
      "ProvisionOptOutAdd": {
        "title": "Provision/OptOutAdd",
        "required": ["transaction_id", "status_code", "status_desc", "error"],
        "type": "object",
        "properties": {
          "transaction_id": {
            "type": "string"
          },
          "status_code": {
            "type": "string"
          },
          "status_desc": {
            "type": "string"
          },
          "error": {
            "type": "string"
          }
        },
        "example": {
          "transaction_id": "07e0e61a-0d56-8627-219e-3045a95dfb5c",
          "status_code": "100",
          "status_desc": "Block successfully added.",
          "error": "false"
        }
      },
      "EnumTextable": {
        "title": "Enum/Textable",
        "required": [
          "transaction_id",
          "status_code",
          "error",
          "textable",
          "line_provider",
          "texting_provider",
          "type"
        ],
        "type": "object",
        "properties": {
          "transaction_id": {
            "type": "string"
          },
          "status_code": {
            "type": "string"
          },
          "error": {
            "type": "boolean"
          },
          "textable": {
            "type": "boolean"
          },
          "line_provider": {
            "type": "string"
          },
          "texting_provider": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "example": {
          "transaction_id": "d0c7fca2-1710-f97c-9158-ab78fcb5f9cf",
          "status_code": "100",
          "error": false,
          "textable": true,
          "line_provider": "XO Communications, Inc.",
          "texting_provider": "Zipwhip",
          "type": "Landline"
        }
      }
    }
  }
}
