{"openapi":"3.0.1","info":{"title":"Embedded API","version":"1.2.0"},"servers":[{"url":"https://api.multi1.enterprise.taxbit.com/v1"},{"url":"https://api.multi1.enterprise-staging.taxbit.com/v1"}],"components":{"securitySchemes":{"ClientAccountOwnerAuthorizer":{"bearerFormat":"JWT","scheme":"bearer","type":"http"}}},"paths":{"/oauth/account-owner-token":{"post":{"description":"This token serves as the authorization mechanism enabling you to submit and access Tax Documentation on behalf of the account owner. It is specifically designed for use with Account Owner and Tax Documentation endpoints and is primarily employed by customers using our W8/W9 solution.","parameters":[{"description":"The Content-Type header specifies the media type of the request payload (request body).","in":"header","name":"Content-Type","required":true,"schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"content":{"application/json":{"schema":{"properties":{"access_token":{"description":"Bearer token to use on behalf of an Account Owner to access and modify their Tax Documentation.","example":"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6Ik1qRXpRamxETmpRd01ESkVORU16TVVFd1FUWTRRamRDTlRaRk5VSTFRVVV5TlVGQlJUQTNPUSJ9...","type":"string"},"expires_in":{"description":"Time until token expires (in seconds).","example":86400,"type":"integer"},"token_type":{"description":"Access token type","type":"string","example":"Bearer"}},"title":"AuthTokenResponse","type":"object"}}},"description":"Auth Token Response."},"400":{"content":{"application/json":{"schema":{"properties":{"message":{"example":"Invalid Request","type":"string"}},"required":["message"],"type":"object"}}},"description":"Invalid Request."},"401":{"content":{"application/json":{"schema":{"properties":{"message":{"example":"Unauthorized Error","type":"string"}},"required":["message"],"type":"object"}}},"description":"Unauthorized Error."},"403":{"content":{"application/json":{"schema":{"properties":{"message":{"example":"Forbidden Error","type":"string"}},"required":["message"],"type":"object"}}},"description":"Forbidden Error."},"429":{"$ref":"#/paths/~1tax-documentation/get/responses/429"}},"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"properties":{"account_owner_id":{"description":"The TaxBit ID of the Account Owner.","example":"c0a7eae2-ad72-4bca-a690-d20b30f463b1","format":"uuid","type":"string","deprecated":true},"client_id":{"description":"Your TaxBit authentication client_id.","example":"<client_id>","type":"string"},"client_secret":{"description":"Your TaxBit authentication client_secret.","example":"<client_secret>","type":"string"},"grant_type":{"description":"OAuth 2.0 grant_type. The only supported value at this time is client_credentials.","example":"client_credentials","type":"string"},"tenant_id":{"description":"The tenant that the account owner is part of.","example":"8d0bd177-dd48-4bea-b89e-c4ce038375e7","format":"uuid","type":"string"}},"required":["account_owner_id","audience","client_id","client_secret","grant_type","tenant_id"],"title":"Bearer Token Request","type":"object"},{"properties":{"id":{"description":"Your system's unique identifier for the account owner.","example":"JohnDoe864","type":"string"},"client_id":{"description":"Your TaxBit authentication client_id.","example":"<client_id>","type":"string"},"client_secret":{"description":"Your TaxBit authentication client_secret.","example":"<client_secret>","type":"string"},"grant_type":{"description":"OAuth 2.0 grant_type. The only supported value at this time is client_credentials.","example":"client_credentials","type":"string"},"tenant_id":{"description":"The tenant that the account owner is part of.","example":"8d0bd177-dd48-4bea-b89e-c4ce038375e7","format":"uuid","type":"string"}},"required":["id","audience","client_id","client_secret","grant_type","tenant_id"],"title":"Bearer Token Request","type":"object"}]}}},"required":true},"summary":"Get an Account Owner Scoped Bearer Token","tags":["Auth Token"]}},"/tax-documentation":{"post":{"summary":"Submit Tax Documentation Data","description":"Submits complete and clean W-9, W-8BEN, or W-8BEN-E data for an Account Owner. Each submission is immutable.","tags":["Tax Documentation"],"requestBody":{"content":{"application/json":{"schema":{"title":"Tax Documentation Request","oneOf":[{"title":"Form W-9","type":"object","properties":{"document_type":{"type":"string","enum":["W-9"],"description":"The document type of the collected tax documentation data","example":"W-9"},"name":{"type":"string","description":"The legal name of the beneficial owner of the account","example":"John Doe"},"dba_name":{"type":"string","description":"The \"doing business as\" (DBA) or \"disregarded entity\" (DRE) name"},"tax_classification":{"type":"string","enum":["INDIVIDUAL","C_CORPORATION","S_CORPORATION","PARTNERSHIP","TRUST_ESTATE","LLC_C","LLC_P","LLC_S","OTHER"],"description":"The federal tax classification of name; if tax_classification != OTHER, other_tax_classification must be empty","example":"INDIVIDUAL"},"other_tax_classification":{"type":"string","description":"The tax classification not listed; if tax_classification = OTHER, this field is required"},"exempt_payee_code":{"type":"string","enum":["1","2","3","4","5","6","7","8","9","10","11","12","13"],"description":"The code used to identify payees who are exempt from backup withholding","example":"1"},"exempt_fatca_code":{"type":"string","enum":["A","B","C","D","E","F","G","H","I","J","K","L","M"],"description":"The code used to identify payees who are exempt from FATCA reporting","example":"A"},"address":{"type":"object","properties":{"first_line":{"type":"string","description":"The first line of name's address; this field is optional if a user has country or stateOrProvince set as UM.","example":"123 Pine St"},"second_line":{"type":"string","description":"The second line of name's address","example":"Apt 456"},"city":{"type":"string","description":"The city of name; this field is optional if a user has country or stateOrProvince set as UM.","example":"Seattle"},"state_or_province":{"anyOf":[{"title":"Canada Provinces","type":"string","enum":["AB","BC","MB","NB","NL","NT","NS","NU","ON","PE","QC","SK","YT"]},{"title":"US States","type":"string","enum":["AL","AK","AS","AZ","AR","CA","CO","CT","DE","DC","FM","FL","GA","GU","HI","ID","IL","IN","IA","KS","KY","LA","ME","MD","MA","MI","MN","MS","MO","MT","NE","NV","NH","NJ","NM","NY","NC","ND","MP","OH","OK","OR","PA","PR","RI","SC","SD","TN","TX","UM","UT","VT","VI","VA","WA","WV","WI","WY"]},{"title":"Other State or Province","type":"string"}],"description":"The state or province of name; this field is optional if a user does not have any of the following country: PR, MP, GU, AS, VI, UM, US, or CA.","example":"WA"},"postal_code":{"type":"string","description":"The postal code of name; if country = US, this field must be 5 or 9 digits; if country = CA, this field must be in \"LNLNLN\", \"LNL NLN\", or \"LNL-NLN\" format; this field is optional if a user does not have any of the following country or stateOrProvince: PR, MP, GU, AS, VI, UM, US, or CA.","example":"98000"},"country":{"type":"string","enum":["AF","AX","AL","DZ","AS","AD","AO","AI","AQ","AG","AR","AM","AW","AU","AT","AZ","BS","BH","BD","BB","BY","BE","BZ","BJ","BM","BT","BO","BQ","BA","BW","BV","BR","IO","VG","BN","BG","BF","BI","CV","KH","CM","CA","KY","CF","TD","CL","CN","CX","CC","CO","KM","CG","CD","CK","CR","CI","HR","CU","CW","CY","CZ","DK","DJ","DM","DO","EC","EG","SV","GQ","ER","EE","SZ","ET","FK","FO","FJ","FI","FR","GF","PF","TF","GA","GM","GE","DE","GH","GI","GR","GL","GD","GP","GU","GT","GG","GN","GW","GY","HT","HM","VA","HN","HK","HU","IS","IN","ID","IR","IQ","IE","IM","IL","IT","JM","JP","JE","JO","KZ","KE","KI","KW","KG","LA","LV","LB","LS","LR","LY","LI","LT","LU","MO","MG","MW","MY","MV","ML","MT","MH","MQ","MR","MU","YT","MX","FM","MD","MC","MN","ME","MS","MA","MZ","MM","NA","NR","NP","NL","NC","NZ","NI","NE","NG","NU","NF","KP","MK","MP","NO","OM","PK","PW","PS","PA","PG","PY","PE","PH","PN","PL","PT","PR","QA","RE","RO","RU","RW","BL","SH","KN","LC","MF","PM","VC","WS","SM","ST","SA","SN","RS","SC","SL","SG","SX","SK","SI","SB","SO","ZA","GS","KR","SS","ES","LK","SD","SR","SJ","SE","CH","SY","TW","TJ","TZ","TH","TL","TG","TK","TO","TT","TN","TR","TM","TC","TV","VI","UG","UA","AE","GB","UM","US","UY","UZ","VU","VE","VN","WF","EH","YE","ZM","ZW"],"description":"The country of name","example":"US"}},"required":["first_line","city","state_or_province","postal_code","country"],"description":"The address of name"},"tin":{"type":"string","description":"The U.S. tax identification number (TIN) associated with the name; the TIN must consist of 9 numerical digits, must not be sequential or repeating, must not begin with five zeros, and must not contain any alphabetic characters","example":"123123123"},"tin_type":{"type":"string","enum":["SSN","EIN","ITIN","ATIN"],"description":"The type of US tax identification number; if tax_classification = INDIVIDUAL, tin_type must be SSN, ITIN, or ATIN - else, tin_type must be EIN","example":"SSN"},"has_certified":{"type":"boolean","enum":[true],"description":"The user has certified under penalties of perjury all necessary certifications","example":true},"is_not_subject_backup_withholding":{"type":"boolean","description":"The user has certified that they are not subject to backup withholding","example":true},"signature":{"type":"string","description":"The signed name of signor (i.e., individual authorized to sign for name); if tax_classification = INDIVIDUAL, signature must equal name","example":"John Doe"},"signature_timestamp":{"type":"string","description":"The date and time when the form was signed; the timestamp must be within 24 hours of the current UTC time","example":"2023-02-01T00:00:00.000Z"}},"required":["document_type","name","tax_classification","address","tin","tin_type","has_certified","is_not_subject_backup_withholding","signature","signature_timestamp"]},{"title":"Form W-8BEN","type":"object","properties":{"document_type":{"type":"string","enum":["W-8BEN"],"description":"The document type of the collected tax documentation data","example":"W-8BEN"},"name":{"type":"string","description":"The legal name of the beneficial owner of the account","example":"John Doe"},"reference_numbers":{"type":"string","description":"The legal name of the US or foreign “disregarded entity” (DRE) owner"},"tax_classification":{"type":"string","enum":["INDIVIDUAL"],"description":"The federal tax classification of name","example":"INDIVIDUAL"},"country":{"type":"string","enum":["AF","AX","AL","DZ","AS","AD","AO","AI","AQ","AG","AR","AM","AW","AU","AT","AZ","BS","BH","BD","BB","BY","BE","BZ","BJ","BM","BT","BO","BQ","BA","BW","BV","BR","IO","VG","BN","BG","BF","BI","CV","KH","CM","CA","KY","CF","TD","CL","CN","CX","CC","CO","KM","CG","CD","CK","CR","CI","HR","CU","CW","CY","CZ","DK","DJ","DM","DO","EC","EG","SV","GQ","ER","EE","SZ","ET","FK","FO","FJ","FI","FR","GF","PF","TF","GA","GM","GE","DE","GH","GI","GR","GL","GD","GP","GU","GT","GG","GN","GW","GY","HT","HM","VA","HN","HK","HU","IS","IN","ID","IR","IQ","IE","IM","IL","IT","JM","JP","JE","JO","KZ","KE","KI","KW","KG","LA","LV","LB","LS","LR","LY","LI","LT","LU","MO","MG","MW","MY","MV","ML","MT","MH","MQ","MR","MU","YT","MX","FM","MD","MC","MN","ME","MS","MA","MZ","MM","NA","NR","NP","NL","NC","NZ","NI","NE","NG","NU","NF","KP","MK","MP","NO","OM","PK","PW","PS","PA","PG","PY","PE","PH","PN","PL","PT","PR","QA","RE","RO","RU","RW","BL","SH","KN","LC","MF","PM","VC","WS","SM","ST","SA","SN","RS","SC","SL","SG","SX","SK","SI","SB","SO","ZA","GS","KR","SS","ES","LK","SD","SR","SJ","SE","CH","SY","TW","TJ","TZ","TH","TL","TG","TK","TO","TT","TN","TR","TM","TC","TV","VI","UG","UA","AE","GB","UM","UY","UZ","VU","VE","VN","WF","EH","YE","ZM","ZW"],"description":"The country of citizenship of name; country must not be US","example":"GR"},"permanent_address":{"type":"object","properties":{"first_line":{"type":"string","description":"The first line of name's permanent address; this field is optional if a user has country or stateOrProvince set as UM.","example":"123 Pine St"},"second_line":{"type":"string","description":"The second line of name's permanent address","example":"Apt 456"},"city":{"type":"string","description":"The city of name; this field is optional if a user has country or stateOrProvince set as UM.","example":"Seattle"},"state_or_province":{"anyOf":[{"$ref":"#/paths/~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/0"},{"$ref":"#/paths/~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/1"},{"$ref":"#/paths/~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/2"}],"description":"The state or province of name; this field is optional if a user does not have any of the following country: PR, MP, GU, AS, VI, UM, US, or CA.","example":"WA"},"postal_code":{"type":"string","description":"The postal code of name; if country = US, this field must be 5 or 9 digits; if country = CA, this field must be in \"LNLNLN\", \"LNL NLN\", or \"LNL-NLN\" format; this field is optional if a user does not have any of the following country or stateOrProvince: PR, MP, GU, AS, VI, UM, US, or CA.","example":"98000"},"country":{"type":"string","enum":["AF","AX","AL","DZ","AS","AD","AO","AI","AQ","AG","AR","AM","AW","AU","AT","AZ","BS","BH","BD","BB","BY","BE","BZ","BJ","BM","BT","BO","BQ","BA","BW","BV","BR","IO","VG","BN","BG","BF","BI","CV","KH","CM","CA","KY","CF","TD","CL","CN","CX","CC","CO","KM","CG","CD","CK","CR","CI","HR","CU","CW","CY","CZ","DK","DJ","DM","DO","EC","EG","SV","GQ","ER","EE","SZ","ET","FK","FO","FJ","FI","FR","GF","PF","TF","GA","GM","GE","DE","GH","GI","GR","GL","GD","GP","GU","GT","GG","GN","GW","GY","HT","HM","VA","HN","HK","HU","IS","IN","ID","IR","IQ","IE","IM","IL","IT","JM","JP","JE","JO","KZ","KE","KI","KW","KG","LA","LV","LB","LS","LR","LY","LI","LT","LU","MO","MG","MW","MY","MV","ML","MT","MH","MQ","MR","MU","YT","MX","FM","MD","MC","MN","ME","MS","MA","MZ","MM","NA","NR","NP","NL","NC","NZ","NI","NE","NG","NU","NF","KP","MK","MP","NO","OM","PK","PW","PS","PA","PG","PY","PE","PH","PN","PL","PT","PR","QA","RE","RO","RU","RW","BL","SH","KN","LC","MF","PM","VC","WS","SM","ST","SA","SN","RS","SC","SL","SG","SX","SK","SI","SB","SO","ZA","GS","KR","SS","ES","LK","SD","SR","SJ","SE","CH","SY","TW","TJ","TZ","TH","TL","TG","TK","TO","TT","TN","TR","TM","TC","TV","VI","UG","UA","AE","GB","UM","US","UY","UZ","VU","VE","VN","WF","EH","YE","ZM","ZW"],"description":"The country of name","example":"US"}},"required":["first_line","city","state_or_province","postal_code","country"],"description":"The permanent residence address of name"},"mailing_address":{"type":"object","properties":{"first_line":{"type":"string","description":"The first line of name's mailing address; this field is optional if a user has country or stateOrProvince set as UM.","example":"123 Pine St"},"second_line":{"type":"string","description":"The second line of name's mailing address","example":"Apt 456"},"city":{"type":"string","description":"The city of name; this field is optional if a user has country or stateOrProvince set as UM.","example":"Seattle"},"state_or_province":{"anyOf":[{"$ref":"#/paths/~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/0"},{"$ref":"#/paths/~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/1"},{"$ref":"#/paths/~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/2"}],"description":"The state or province of name; this field is optional if a user does not have any of the following country: PR, MP, GU, AS, VI, UM, US, or CA.","example":"WA"},"postal_code":{"type":"string","description":"The postal code of name; if country = US, this field must be 5 or 9 digits; if country = CA, this field must be in \"LNLNLN\", \"LNL NLN\", or \"LNL-NLN\" format; this field is optional if a user does not have any of the following country or stateOrProvince: PR, MP, GU, AS, VI, UM, US, or CA.","example":"98000"},"country":{"type":"string","enum":["AF","AX","AL","DZ","AS","AD","AO","AI","AQ","AG","AR","AM","AW","AU","AT","AZ","BS","BH","BD","BB","BY","BE","BZ","BJ","BM","BT","BO","BQ","BA","BW","BV","BR","IO","VG","BN","BG","BF","BI","CV","KH","CM","CA","KY","CF","TD","CL","CN","CX","CC","CO","KM","CG","CD","CK","CR","CI","HR","CU","CW","CY","CZ","DK","DJ","DM","DO","EC","EG","SV","GQ","ER","EE","SZ","ET","FK","FO","FJ","FI","FR","GF","PF","TF","GA","GM","GE","DE","GH","GI","GR","GL","GD","GP","GU","GT","GG","GN","GW","GY","HT","HM","VA","HN","HK","HU","IS","IN","ID","IR","IQ","IE","IM","IL","IT","JM","JP","JE","JO","KZ","KE","KI","KW","KG","LA","LV","LB","LS","LR","LY","LI","LT","LU","MO","MG","MW","MY","MV","ML","MT","MH","MQ","MR","MU","YT","MX","FM","MD","MC","MN","ME","MS","MA","MZ","MM","NA","NR","NP","NL","NC","NZ","NI","NE","NG","NU","NF","KP","MK","MP","NO","OM","PK","PW","PS","PA","PG","PY","PE","PH","PN","PL","PT","PR","QA","RE","RO","RU","RW","BL","SH","KN","LC","MF","PM","VC","WS","SM","ST","SA","SN","RS","SC","SL","SG","SX","SK","SI","SB","SO","ZA","GS","KR","SS","ES","LK","SD","SR","SJ","SE","CH","SY","TW","TJ","TZ","TH","TL","TG","TK","TO","TT","TN","TR","TM","TC","TV","VI","UG","UA","AE","GB","UM","US","UY","UZ","VU","VE","VN","WF","EH","YE","ZM","ZW"],"description":"The country of name","example":"US"}},"required":["first_line","city","state_or_province","postal_code","country"],"description":"The mailing address of name"},"tin":{"type":"string","description":"The U.S. tax identification number (TIN) associated with the name; the TIN must consist of 9 numerical digits, must not be sequential or repeating, must not begin with five zeros, and must not contain any alphabetic characters","example":"123123123"},"ftin":{"type":"string","description":"The foreign tax identification number (“FTIN”) of name","example":"667788991"},"ftin_not_legally_required":{"type":"boolean","description":"The user has indicated that they are legally not required to provide a FTIN; if false, FTIN is required","example":true},"date_of_birth":{"type":"string","description":"The date of birth of name; age must be between 0-130","example":"05/11/1998"},"has_certified":{"type":"boolean","enum":[true],"description":"The user has certified under penalties of perjury all necessary certifications","example":true},"signature":{"type":"string","description":"The signed name of signor (i.e., individual authorized to sign for name); signature must equal name","example":"John Doe"},"signature_timestamp":{"type":"string","description":"The date and time when the form was signed; the timestamp must be within 24 hours of the current UTC time","example":"2023-02-01T00:00:00.000Z"}},"required":["document_type","name","tax_classification","country","permanent_address","date_of_birth","ftin_not_legally_required","has_certified","signature","signature_timestamp"]},{"title":"Form W-8BEN-E","type":"object","properties":{"document_type":{"type":"string","enum":["W-8BEN-E"],"description":"The document type of the collected tax documentation data","example":"W-8BEN-E"},"name":{"type":"string","description":"The legal name of the beneficial owner of the account","example":"John Doe"},"reference_numbers":{"type":"string","description":"The legal name of the US or foreign “disregarded entity” (DRE) owner"},"tax_classification":{"type":"string","enum":["CORPORATION","PARTNERSHIP","SIMPLE_TRUST","COMPLEX_TRUST","GRANTOR_TRUST","ESTATE","CENTRAL_BANK_OF_ISSUE","FOREIGN_GOVERNMENT_CONTROLLED_ENTITY","FOREIGN_GOVERNMENT_INTEGRAL_PART","TAX_EXEMPT_ORGANIZATION","PRIVATE_FOUNDATION","INTERNATIONAL_ORGANIZATION"],"description":"The federal tax classification of name","example":"CORPORATION"},"country":{"type":"string","enum":["AF","AX","AL","DZ","AS","AD","AO","AI","AQ","AG","AR","AM","AW","AU","AT","AZ","BS","BH","BD","BB","BY","BE","BZ","BJ","BM","BT","BO","BQ","BA","BW","BV","BR","IO","VG","BN","BG","BF","BI","CV","KH","CM","CA","KY","CF","TD","CL","CN","CX","CC","CO","KM","CG","CD","CK","CR","CI","HR","CU","CW","CY","CZ","DK","DJ","DM","DO","EC","EG","SV","GQ","ER","EE","SZ","ET","FK","FO","FJ","FI","FR","GF","PF","TF","GA","GM","GE","DE","GH","GI","GR","GL","GD","GP","GU","GT","GG","GN","GW","GY","HT","HM","VA","HN","HK","HU","IS","IN","ID","IR","IQ","IE","IM","IL","IT","JM","JP","JE","JO","KZ","KE","KI","KW","KG","LA","LV","LB","LS","LR","LY","LI","LT","LU","MO","MG","MW","MY","MV","ML","MT","MH","MQ","MR","MU","YT","MX","FM","MD","MC","MN","ME","MS","MA","MZ","MM","NA","NR","NP","NL","NC","NZ","NI","NE","NG","NU","NF","KP","MK","MP","NO","OM","PK","PW","PS","PA","PG","PY","PE","PH","PN","PL","PT","PR","QA","RE","RO","RU","RW","BL","SH","KN","LC","MF","PM","VC","WS","SM","ST","SA","SN","RS","SC","SL","SG","SX","SK","SI","SB","SO","ZA","GS","KR","SS","ES","LK","SD","SR","SJ","SE","CH","SY","TW","TJ","TZ","TH","TL","TG","TK","TO","TT","TN","TR","TM","TC","TV","VI","UG","UA","AE","GB","UM","UY","UZ","VU","VE","VN","WF","EH","YE","ZM","ZW"],"description":"The country in which the business or organization is legally registered or incorporated; this must be a country other than the United States","example":"GR"},"permanent_address":{"type":"object","properties":{"first_line":{"type":"string","description":"The first line of name's permanent address; this field is optional if a user has country or stateOrProvince set as UM.","example":"123 Pine St"},"second_line":{"type":"string","description":"The second line of name's permanent address","example":"Apt 456"},"city":{"type":"string","description":"The city of name; this field is optional if a user has country or stateOrProvince set as UM.","example":"Seattle"},"state_or_province":{"anyOf":[{"$ref":"#/paths/~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/0"},{"$ref":"#/paths/~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/1"},{"$ref":"#/paths/~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/2"}],"description":"The state or province of name; this field is optional if a user does not have any of the following country: PR, MP, GU, AS, VI, UM, US, or CA.","example":"WA"},"postal_code":{"type":"string","description":"The postal code of name; if country = US, this field must be 5 or 9 digits; if country = CA, this field must be in \"LNLNLN\", \"LNL NLN\", or \"LNL-NLN\" format; this field is optional if a user does not have any of the following country or stateOrProvince: PR, MP, GU, AS, VI, UM, US, or CA.","example":"98000"},"country":{"type":"string","enum":["AF","AX","AL","DZ","AS","AD","AO","AI","AQ","AG","AR","AM","AW","AU","AT","AZ","BS","BH","BD","BB","BY","BE","BZ","BJ","BM","BT","BO","BQ","BA","BW","BV","BR","IO","VG","BN","BG","BF","BI","CV","KH","CM","CA","KY","CF","TD","CL","CN","CX","CC","CO","KM","CG","CD","CK","CR","CI","HR","CU","CW","CY","CZ","DK","DJ","DM","DO","EC","EG","SV","GQ","ER","EE","SZ","ET","FK","FO","FJ","FI","FR","GF","PF","TF","GA","GM","GE","DE","GH","GI","GR","GL","GD","GP","GU","GT","GG","GN","GW","GY","HT","HM","VA","HN","HK","HU","IS","IN","ID","IR","IQ","IE","IM","IL","IT","JM","JP","JE","JO","KZ","KE","KI","KW","KG","LA","LV","LB","LS","LR","LY","LI","LT","LU","MO","MG","MW","MY","MV","ML","MT","MH","MQ","MR","MU","YT","MX","FM","MD","MC","MN","ME","MS","MA","MZ","MM","NA","NR","NP","NL","NC","NZ","NI","NE","NG","NU","NF","KP","MK","MP","NO","OM","PK","PW","PS","PA","PG","PY","PE","PH","PN","PL","PT","PR","QA","RE","RO","RU","RW","BL","SH","KN","LC","MF","PM","VC","WS","SM","ST","SA","SN","RS","SC","SL","SG","SX","SK","SI","SB","SO","ZA","GS","KR","SS","ES","LK","SD","SR","SJ","SE","CH","SY","TW","TJ","TZ","TH","TL","TG","TK","TO","TT","TN","TR","TM","TC","TV","VI","UG","UA","AE","GB","UM","US","UY","UZ","VU","VE","VN","WF","EH","YE","ZM","ZW"],"description":"The country of name","example":"US"}},"required":["first_line","city","state_or_province","postal_code","country"],"description":"The permanent residence address of name"},"mailing_address":{"type":"object","properties":{"first_line":{"type":"string","description":"The first line of name's mailing address; this field is optional if a user has country or stateOrProvince set as UM.","example":"123 Pine St"},"second_line":{"type":"string","description":"The second line of name's mailing address","example":"Apt 456"},"city":{"type":"string","description":"The city of name; this field is optional if a user has country or stateOrProvince set as UM.","example":"Seattle"},"state_or_province":{"anyOf":[{"$ref":"#/paths/~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/0"},{"$ref":"#/paths/~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/1"},{"$ref":"#/paths/~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/2"}],"description":"The state or province of name; this field is optional if a user does not have any of the following country: PR, MP, GU, AS, VI, UM, US, or CA.","example":"WA"},"postal_code":{"type":"string","description":"The postal code of name; if country = US, this field must be 5 or 9 digits; if country = CA, this field must be in \"LNLNLN\", \"LNL NLN\", or \"LNL-NLN\" format; this field is optional if a user does not have any of the following country or stateOrProvince: PR, MP, GU, AS, VI, UM, US, or CA.","example":"98000"},"country":{"type":"string","enum":["AF","AX","AL","DZ","AS","AD","AO","AI","AQ","AG","AR","AM","AW","AU","AT","AZ","BS","BH","BD","BB","BY","BE","BZ","BJ","BM","BT","BO","BQ","BA","BW","BV","BR","IO","VG","BN","BG","BF","BI","CV","KH","CM","CA","KY","CF","TD","CL","CN","CX","CC","CO","KM","CG","CD","CK","CR","CI","HR","CU","CW","CY","CZ","DK","DJ","DM","DO","EC","EG","SV","GQ","ER","EE","SZ","ET","FK","FO","FJ","FI","FR","GF","PF","TF","GA","GM","GE","DE","GH","GI","GR","GL","GD","GP","GU","GT","GG","GN","GW","GY","HT","HM","VA","HN","HK","HU","IS","IN","ID","IR","IQ","IE","IM","IL","IT","JM","JP","JE","JO","KZ","KE","KI","KW","KG","LA","LV","LB","LS","LR","LY","LI","LT","LU","MO","MG","MW","MY","MV","ML","MT","MH","MQ","MR","MU","YT","MX","FM","MD","MC","MN","ME","MS","MA","MZ","MM","NA","NR","NP","NL","NC","NZ","NI","NE","NG","NU","NF","KP","MK","MP","NO","OM","PK","PW","PS","PA","PG","PY","PE","PH","PN","PL","PT","PR","QA","RE","RO","RU","RW","BL","SH","KN","LC","MF","PM","VC","WS","SM","ST","SA","SN","RS","SC","SL","SG","SX","SK","SI","SB","SO","ZA","GS","KR","SS","ES","LK","SD","SR","SJ","SE","CH","SY","TW","TJ","TZ","TH","TL","TG","TK","TO","TT","TN","TR","TM","TC","TV","VI","UG","UA","AE","GB","UM","US","UY","UZ","VU","VE","VN","WF","EH","YE","ZM","ZW"],"description":"The country of name","example":"US"}},"required":["first_line","city","state_or_province","postal_code","country"],"description":"The mailing address of name"},"tin":{"type":"string","description":"The U.S. tax identification number (TIN) associated with the name; the TIN must consist of 9 numerical digits, must not be sequential or repeating, must not begin with five zeros, and must not contain any alphabetic characters","example":"123123123"},"ftin":{"type":"string","description":"The foreign tax identification number (“FTIN”) of name","example":"667788991"},"ftin_not_legally_required":{"type":"boolean","description":"The user has indicated that they are legally not required to provide a FTIN; if false, FTIN is required","example":true},"has_certified":{"type":"boolean","enum":[true],"description":"The user has certified under penalties of perjury all necessary certifications","example":true},"signature":{"type":"string","description":"The signed name of signor (i.e., individual authorized to sign for name)","example":"John Doe"},"signature_timestamp":{"type":"string","description":"The date and time when the form was signed; the timestamp must be within 24 hours of the current UTC time","example":"2023-02-01T00:00:00.000Z"}},"required":["document_type","name","tax_classification","country","permanent_address","ftin_not_legally_required","has_certified","signature","signature_timestamp"]}]}}}},"responses":{"200":{"description":"Tax Documentation Data","content":{"application/json":{"schema":{"$ref":"#/paths/~1tax-documentation/get/responses/200/content/application~1json/schema"}}}},"400":{"description":"Invalid Data"},"401":{"description":"Forbidden"},"403":{"description":"Wrong Account Owner"},"404":{"description":"Tax Documentation Not Found"},"429":{"$ref":"#/paths/~1tax-documentation/get/responses/429"}},"security":[{"ClientAccountOwnerAuthorizer":[]}]},"get":{"summary":"Retrieve Latest Tax Documentation Data","description":"Returns the most recent W-9, W-8BEN, or W-8BEN-E data submission for an Account Owner","tags":["Tax Documentation"],"parameters":[{"in":"query","name":"unmask_tin","schema":{"type":"string","enum":["true","false"],"default":"false"},"required":false,"description":"Whether to unmask the tin in the response; defaults to false","example":"false"}],"responses":{"200":{"description":"Tax Documentation Data","content":{"application/json":{"schema":{"title":"Tax Documentation Response","oneOf":[{"title":"Form W-9","type":"object","properties":{"id":{"type":"string","format":"uuid","description":"The TaxBit internal UUID for the collected tax documentation data","example":"0177df49-c1aa-4d0b-bbeb-67a0c1b33a94"},"document_type":{"type":"string","enum":["W-9"],"description":"The document type of the collected tax documentation data","example":"W-9"},"name":{"type":"string","description":"The legal name of the beneficial owner of the account","example":"John Doe"},"dba_name":{"type":"string","description":"The \"doing business as\" (DBA) or \"disregarded entity\" (DRE) name"},"tax_classification":{"type":"string","enum":["INDIVIDUAL","C_CORPORATION","S_CORPORATION","PARTNERSHIP","TRUST_ESTATE","LLC_C","LLC_P","LLC_S","OTHER"],"description":"The federal tax classification of name","example":"INDIVIDUAL"},"other_tax_classification":{"type":"string","description":"The tax classification not listed"},"exempt_payee_code":{"type":"string","enum":["1","2","3","4","5","6","7","8","9","10","11","12","13"],"description":"The code used to identify payees who are exempt from backup withholding","example":"1"},"exempt_fatca_code":{"type":"string","enum":["A","B","C","D","E","F","G","H","I","J","K","L","M"],"description":"The code used to identify payees who are exempt from FATCA reporting","example":"A"},"address":{"type":"object","properties":{"first_line":{"type":"string","description":"The first line of name's address","example":"123 Pine St"},"second_line":{"type":"string","description":"The second line of name's address","example":"Apt 456"},"city":{"type":"string","description":"The city of name","example":"Seattle"},"state_or_province":{"anyOf":[{"$ref":"#/paths/~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/0"},{"$ref":"#/paths/~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/1"},{"$ref":"#/paths/~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/2"}],"description":"The state or proince of name","example":"WA"},"postal_code":{"type":"string","description":"The postal code of name","example":"98000"},"country":{"type":"string","enum":["AF","AX","AL","DZ","AS","AD","AO","AI","AQ","AG","AR","AM","AW","AU","AT","AZ","BS","BH","BD","BB","BY","BE","BZ","BJ","BM","BT","BO","BQ","BA","BW","BV","BR","IO","VG","BN","BG","BF","BI","CV","KH","CM","CA","KY","CF","TD","CL","CN","CX","CC","CO","KM","CG","CD","CK","CR","CI","HR","CU","CW","CY","CZ","DK","DJ","DM","DO","EC","EG","SV","GQ","ER","EE","SZ","ET","FK","FO","FJ","FI","FR","GF","PF","TF","GA","GM","GE","DE","GH","GI","GR","GL","GD","GP","GU","GT","GG","GN","GW","GY","HT","HM","VA","HN","HK","HU","IS","IN","ID","IR","IQ","IE","IM","IL","IT","JM","JP","JE","JO","KZ","KE","KI","KW","KG","LA","LV","LB","LS","LR","LY","LI","LT","LU","MO","MG","MW","MY","MV","ML","MT","MH","MQ","MR","MU","YT","MX","FM","MD","MC","MN","ME","MS","MA","MZ","MM","NA","NR","NP","NL","NC","NZ","NI","NE","NG","NU","NF","KP","MK","MP","NO","OM","PK","PW","PS","PA","PG","PY","PE","PH","PN","PL","PT","PR","QA","RE","RO","RU","RW","BL","SH","KN","LC","MF","PM","VC","WS","SM","ST","SA","SN","RS","SC","SL","SG","SX","SK","SI","SB","SO","ZA","GS","KR","SS","ES","LK","SD","SR","SJ","SE","CH","SY","TW","TJ","TZ","TH","TL","TG","TK","TO","TT","TN","TR","TM","TC","TV","VI","UG","UA","AE","GB","UM","US","UY","UZ","VU","VE","VN","WF","EH","YE","ZM","ZW"],"description":"The country of name","example":"US"}},"description":"The address of name"},"tin":{"type":"string","description":"The US tax identification number of name","example":"123123123"},"tin_type":{"type":"string","enum":["SSN","EIN","ITIN","ATIN"],"description":"The type of US tax identification number","example":"SSN"},"has_certified":{"type":"boolean","enum":[true],"description":"The user has certified under penalties of perjury all necessary certifications","example":true},"is_not_subject_backup_withholding":{"type":"boolean","description":"The user has certified that they are not subject to backup withholding","example":true},"signature":{"type":"string","description":"The signed name of signor (i.e., individual authorized to sign for name)","example":"John Doe"},"signature_timestamp":{"type":"string","description":"The date and time the form was signed","example":"2023-02-01T00:00:00.000Z"}}},{"title":"Form W-8BEN","type":"object","properties":{"id":{"type":"string","format":"uuid","description":"The TaxBit internal UUID for the collected tax documentation data","example":"0177df49-c1aa-4d0b-bbeb-67a0c1b33a94"},"document_type":{"type":"string","enum":["W-8BEN"],"description":"The document type of the collected tax documentation data","example":"W-8BEN"},"name":{"type":"string","description":"The legal name of the beneficial owner of the account","example":"John Doe"},"reference_numbers":{"type":"string","description":"The legal name of the US or foreign “disregarded entity” (DRE) owner"},"tax_classification":{"type":"string","enum":["INDIVIDUAL"],"description":"The federal tax classification of name","example":"INDIVIDUAL"},"country":{"type":"string","description":"The country of citizenship of name","example":"GR"},"permanent_address":{"type":"object","properties":{"first_line":{"type":"string","description":"The first line of name's permanent address; this field is optional if a user has country or stateOrProvince set as UM.","example":"123 Pine St"},"second_line":{"type":"string","description":"The second line of name's permanent address","example":"Apt 456"},"city":{"type":"string","description":"The city of name; this field is optional if a user has country or stateOrProvince set as UM.","example":"Seattle"},"state_or_province":{"anyOf":[{"$ref":"#/paths/~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/0"},{"$ref":"#/paths/~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/1"},{"$ref":"#/paths/~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/2"}],"description":"The state or province of name; this field is optional if a user does not have any of the following country: PR, MP, GU, AS, VI, UM, US, or CA.","example":"WA"},"postal_code":{"type":"string","description":"The postal code of name; if country = US, this field must be 5 or 9 digits; if country = CA, this field must be in \"LNLNLN\", \"LNL NLN\", or \"LNL-NLN\" format; this field is optional if a user does not have any of the following country or stateOrProvince: PR, MP, GU, AS, VI, UM, US, or CA.","example":"98000"},"country":{"type":"string","enum":["AF","AX","AL","DZ","AS","AD","AO","AI","AQ","AG","AR","AM","AW","AU","AT","AZ","BS","BH","BD","BB","BY","BE","BZ","BJ","BM","BT","BO","BQ","BA","BW","BV","BR","IO","VG","BN","BG","BF","BI","CV","KH","CM","CA","KY","CF","TD","CL","CN","CX","CC","CO","KM","CG","CD","CK","CR","CI","HR","CU","CW","CY","CZ","DK","DJ","DM","DO","EC","EG","SV","GQ","ER","EE","SZ","ET","FK","FO","FJ","FI","FR","GF","PF","TF","GA","GM","GE","DE","GH","GI","GR","GL","GD","GP","GU","GT","GG","GN","GW","GY","HT","HM","VA","HN","HK","HU","IS","IN","ID","IR","IQ","IE","IM","IL","IT","JM","JP","JE","JO","KZ","KE","KI","KW","KG","LA","LV","LB","LS","LR","LY","LI","LT","LU","MO","MG","MW","MY","MV","ML","MT","MH","MQ","MR","MU","YT","MX","FM","MD","MC","MN","ME","MS","MA","MZ","MM","NA","NR","NP","NL","NC","NZ","NI","NE","NG","NU","NF","KP","MK","MP","NO","OM","PK","PW","PS","PA","PG","PY","PE","PH","PN","PL","PT","PR","QA","RE","RO","RU","RW","BL","SH","KN","LC","MF","PM","VC","WS","SM","ST","SA","SN","RS","SC","SL","SG","SX","SK","SI","SB","SO","ZA","GS","KR","SS","ES","LK","SD","SR","SJ","SE","CH","SY","TW","TJ","TZ","TH","TL","TG","TK","TO","TT","TN","TR","TM","TC","TV","VI","UG","UA","AE","GB","UM","US","UY","UZ","VU","VE","VN","WF","EH","YE","ZM","ZW"],"description":"The country of name","example":"US"}},"description":"The permanent residence address of name"},"mailing_address":{"type":"object","properties":{"first_line":{"type":"string","description":"The first line of name's mailing address; this field is optional if a user has country or stateOrProvince set as UM.","example":"123 Pine St"},"second_line":{"type":"string","description":"The second line of name's mailing address","example":"Apt 456"},"city":{"type":"string","description":"The city of name; this field is optional if a user has country or stateOrProvince set as UM.","example":"Seattle"},"state_or_province":{"anyOf":[{"$ref":"#/paths/~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/0"},{"$ref":"#/paths/~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/1"},{"$ref":"#/paths/~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/2"}],"description":"The state or province of name; this field is optional if a user does not have any of the following country: PR, MP, GU, AS, VI, UM, US, or CA.","example":"WA"},"postal_code":{"type":"string","description":"The postal code of name; if country = US, this field must be 5 or 9 digits; if country = CA, this field must be in \"LNLNLN\", \"LNL NLN\", or \"LNL-NLN\" format; this field is optional if a user does not have any of the following country or stateOrProvince: PR, MP, GU, AS, VI, UM, US, or CA.","example":"98000"},"country":{"type":"string","enum":["AF","AX","AL","DZ","AS","AD","AO","AI","AQ","AG","AR","AM","AW","AU","AT","AZ","BS","BH","BD","BB","BY","BE","BZ","BJ","BM","BT","BO","BQ","BA","BW","BV","BR","IO","VG","BN","BG","BF","BI","CV","KH","CM","CA","KY","CF","TD","CL","CN","CX","CC","CO","KM","CG","CD","CK","CR","CI","HR","CU","CW","CY","CZ","DK","DJ","DM","DO","EC","EG","SV","GQ","ER","EE","SZ","ET","FK","FO","FJ","FI","FR","GF","PF","TF","GA","GM","GE","DE","GH","GI","GR","GL","GD","GP","GU","GT","GG","GN","GW","GY","HT","HM","VA","HN","HK","HU","IS","IN","ID","IR","IQ","IE","IM","IL","IT","JM","JP","JE","JO","KZ","KE","KI","KW","KG","LA","LV","LB","LS","LR","LY","LI","LT","LU","MO","MG","MW","MY","MV","ML","MT","MH","MQ","MR","MU","YT","MX","FM","MD","MC","MN","ME","MS","MA","MZ","MM","NA","NR","NP","NL","NC","NZ","NI","NE","NG","NU","NF","KP","MK","MP","NO","OM","PK","PW","PS","PA","PG","PY","PE","PH","PN","PL","PT","PR","QA","RE","RO","RU","RW","BL","SH","KN","LC","MF","PM","VC","WS","SM","ST","SA","SN","RS","SC","SL","SG","SX","SK","SI","SB","SO","ZA","GS","KR","SS","ES","LK","SD","SR","SJ","SE","CH","SY","TW","TJ","TZ","TH","TL","TG","TK","TO","TT","TN","TR","TM","TC","TV","VI","UG","UA","AE","GB","UM","US","UY","UZ","VU","VE","VN","WF","EH","YE","ZM","ZW"],"description":"The country of name","example":"US"}},"description":"The mailing address of name"},"tin":{"type":"string","description":"The US tax identification number of name","example":"123123123"},"ftin":{"type":"string","description":"The foreign tax identification number (“FTIN”) of name","example":"667788991"},"ftin_not_legally_required":{"type":"boolean","description":"The user has indicated that they are legally not required to provide a FTIN","example":true},"date_of_birth":{"type":"string","description":"The date of birth of name","example":"05/11/1998"},"has_certified":{"type":"boolean","enum":[true],"description":"The user has certified under penalties of perjury all necessary certifications","example":true},"signature":{"type":"string","description":"The signed name of signor (i.e., individual authorized to sign for name)","example":"John Doe"},"signature_timestamp":{"type":"string","description":"The date and time the form was signed","example":"2023-02-01T00:00:00.000Z"}}},{"title":"Form W-8BEN-E","type":"object","properties":{"id":{"type":"string","format":"uuid","description":"The TaxBit internal UUID for the collected tax documentation data","example":"0177df49-c1aa-4d0b-bbeb-67a0c1b33a94"},"document_type":{"type":"string","enum":["W-8BEN-E"],"description":"The document type of the collected tax documentation data","example":"W-8BEN-E"},"name":{"type":"string","description":"The legal name of the beneficial owner of the account","example":"John Doe"},"reference_numbers":{"type":"string","description":"The legal name of the US or foreign “disregarded entity” (DRE) owner"},"tax_classification":{"type":"string","enum":["CORPORATION","PARTNERSHIP","SIMPLE_TRUST","COMPLEX_TRUST","GRANTOR_TRUST","ESTATE","CENTRAL_BANK_OF_ISSUE","FOREIGN_GOVERNMENT_CONTROLLED_ENTITY","FOREIGN_GOVERNMENT_INTEGRAL_PART","TAX_EXEMPT_ORGANIZATION","PRIVATE_FOUNDATION","INTERNATIONAL_ORGANIZATION"],"description":"The federal tax classification of name","example":"CORPORATION"},"country":{"type":"string","description":"The country of incorporation or organization of name","example":"GR"},"permanent_address":{"type":"object","properties":{"first_line":{"type":"string","description":"The first line of name's permanent address; this field is optional if a user has country or stateOrProvince set as UM.","example":"123 Pine St"},"second_line":{"type":"string","description":"The second line of name's permanent address","example":"Apt 456"},"city":{"type":"string","description":"The city of name; this field is optional if a user has country or stateOrProvince set as UM.","example":"Seattle"},"state_or_province":{"anyOf":[{"$ref":"#/paths/~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/0"},{"$ref":"#/paths/~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/1"},{"$ref":"#/paths/~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/2"}],"description":"The state or province of name; this field is optional if a user does not have any of the following country: PR, MP, GU, AS, VI, UM, US, or CA.","example":"WA"},"postal_code":{"type":"string","description":"The postal code of name; if country = US, this field must be 5 or 9 digits; if country = CA, this field must be in \"LNLNLN\", \"LNL NLN\", or \"LNL-NLN\" format; this field is optional if a user does not have any of the following country or stateOrProvince: PR, MP, GU, AS, VI, UM, US, or CA.","example":"98000"},"country":{"type":"string","enum":["AF","AX","AL","DZ","AS","AD","AO","AI","AQ","AG","AR","AM","AW","AU","AT","AZ","BS","BH","BD","BB","BY","BE","BZ","BJ","BM","BT","BO","BQ","BA","BW","BV","BR","IO","VG","BN","BG","BF","BI","CV","KH","CM","CA","KY","CF","TD","CL","CN","CX","CC","CO","KM","CG","CD","CK","CR","CI","HR","CU","CW","CY","CZ","DK","DJ","DM","DO","EC","EG","SV","GQ","ER","EE","SZ","ET","FK","FO","FJ","FI","FR","GF","PF","TF","GA","GM","GE","DE","GH","GI","GR","GL","GD","GP","GU","GT","GG","GN","GW","GY","HT","HM","VA","HN","HK","HU","IS","IN","ID","IR","IQ","IE","IM","IL","IT","JM","JP","JE","JO","KZ","KE","KI","KW","KG","LA","LV","LB","LS","LR","LY","LI","LT","LU","MO","MG","MW","MY","MV","ML","MT","MH","MQ","MR","MU","YT","MX","FM","MD","MC","MN","ME","MS","MA","MZ","MM","NA","NR","NP","NL","NC","NZ","NI","NE","NG","NU","NF","KP","MK","MP","NO","OM","PK","PW","PS","PA","PG","PY","PE","PH","PN","PL","PT","PR","QA","RE","RO","RU","RW","BL","SH","KN","LC","MF","PM","VC","WS","SM","ST","SA","SN","RS","SC","SL","SG","SX","SK","SI","SB","SO","ZA","GS","KR","SS","ES","LK","SD","SR","SJ","SE","CH","SY","TW","TJ","TZ","TH","TL","TG","TK","TO","TT","TN","TR","TM","TC","TV","VI","UG","UA","AE","GB","UM","US","UY","UZ","VU","VE","VN","WF","EH","YE","ZM","ZW"],"description":"The country of name","example":"US"}},"description":"The permanent residence address of name"},"mailing_address":{"type":"object","properties":{"first_line":{"type":"string","description":"The first line of name's mailing address; this field is optional if a user has country or stateOrProvince set as UM.","example":"123 Pine St"},"second_line":{"type":"string","description":"The second line of name's mailing address","example":"Apt 456"},"city":{"type":"string","description":"The city of name; this field is optional if a user has country or stateOrProvince set as UM.","example":"Seattle"},"state_or_province":{"anyOf":[{"$ref":"#/paths/~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/0"},{"$ref":"#/paths/~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/1"},{"$ref":"#/paths/~1tax-documentation/post/requestBody/content/application~1json/schema/oneOf/0/properties/address/properties/state_or_province/anyOf/2"}],"description":"The state or province of name; this field is optional if a user does not have any of the following country: PR, MP, GU, AS, VI, UM, US, or CA.","example":"WA"},"postal_code":{"type":"string","description":"The postal code of name; if country = US, this field must be 5 or 9 digits; if country = CA, this field must be in \"LNLNLN\", \"LNL NLN\", or \"LNL-NLN\" format; this field is optional if a user does not have any of the following country or stateOrProvince: PR, MP, GU, AS, VI, UM, US, or CA.","example":"98000"},"country":{"type":"string","enum":["AF","AX","AL","DZ","AS","AD","AO","AI","AQ","AG","AR","AM","AW","AU","AT","AZ","BS","BH","BD","BB","BY","BE","BZ","BJ","BM","BT","BO","BQ","BA","BW","BV","BR","IO","VG","BN","BG","BF","BI","CV","KH","CM","CA","KY","CF","TD","CL","CN","CX","CC","CO","KM","CG","CD","CK","CR","CI","HR","CU","CW","CY","CZ","DK","DJ","DM","DO","EC","EG","SV","GQ","ER","EE","SZ","ET","FK","FO","FJ","FI","FR","GF","PF","TF","GA","GM","GE","DE","GH","GI","GR","GL","GD","GP","GU","GT","GG","GN","GW","GY","HT","HM","VA","HN","HK","HU","IS","IN","ID","IR","IQ","IE","IM","IL","IT","JM","JP","JE","JO","KZ","KE","KI","KW","KG","LA","LV","LB","LS","LR","LY","LI","LT","LU","MO","MG","MW","MY","MV","ML","MT","MH","MQ","MR","MU","YT","MX","FM","MD","MC","MN","ME","MS","MA","MZ","MM","NA","NR","NP","NL","NC","NZ","NI","NE","NG","NU","NF","KP","MK","MP","NO","OM","PK","PW","PS","PA","PG","PY","PE","PH","PN","PL","PT","PR","QA","RE","RO","RU","RW","BL","SH","KN","LC","MF","PM","VC","WS","SM","ST","SA","SN","RS","SC","SL","SG","SX","SK","SI","SB","SO","ZA","GS","KR","SS","ES","LK","SD","SR","SJ","SE","CH","SY","TW","TJ","TZ","TH","TL","TG","TK","TO","TT","TN","TR","TM","TC","TV","VI","UG","UA","AE","GB","UM","US","UY","UZ","VU","VE","VN","WF","EH","YE","ZM","ZW"],"description":"The country of name","example":"US"}},"description":"The mailing address of name"},"tin":{"type":"string","description":"The US tax identification number of name","example":"123123123"},"ftin":{"type":"string","description":"The foreign tax identification number (“FTIN”) of name","example":"667788991"},"ftin_not_legally_required":{"type":"boolean","description":"The user has indicated that they are legally not required to provide a FTIN","example":true},"has_certified":{"type":"boolean","enum":[true],"description":"The user has certified under penalties of perjury all necessary certifications","example":true},"signature":{"type":"string","description":"The signed name of signor (i.e., individual authorized to sign for name)","example":"John Doe"},"signature_timestamp":{"type":"string","description":"The date and time the form was signed","example":"2023-02-01T00:00:00.000Z"}}}]}}}},"400":{"description":"Invalid Data"},"401":{"description":"Forbidden"},"404":{"description":"Tax Documentation Not Found"},"429":{"content":{"application/json":{"schema":{"properties":{"message":{"example":"Too Many Requests","type":"string"}},"required":["message"],"type":"object"}}},"description":"Too Many Requests - Throttling."}},"security":[{"ClientAccountOwnerAuthorizer":[]}]}},"/tax-documentation/{id}":{"get":{"summary":"Retrieve Tax Documentation Data by ID","description":"Returns a specific W-9, W-8BEN, or W-8BEN-E data submission by its ID for an Account Owner","tags":["Tax Documentation"],"parameters":[{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"required":true,"description":"The TaxBit internal UUID for the collected tax documentation data","example":"0177df49-c1aa-4d0b-bbeb-67a0c1b33a94"},{"in":"query","name":"unmask_tin","schema":{"type":"string","enum":["true","false"],"default":"false"},"required":false,"description":"Whether to unmask the tin in the response; defaults to false","example":"false"}],"responses":{"200":{"description":"Tax Documentation Data","content":{"application/json":{"schema":{"$ref":"#/paths/~1tax-documentation/get/responses/200/content/application~1json/schema"}}}},"400":{"description":"Invalid Data"},"401":{"description":"Forbidden"},"403":{"description":"Wrong Account Owner"},"404":{"description":"Tax Documentation Not Found"},"429":{"$ref":"#/paths/~1tax-documentation/get/responses/429"}},"security":[{"ClientAccountOwnerAuthorizer":[]}]}},"/tax-documentation/summary":{"get":{"summary":"Retrieve Tax Documentation Summary","description":"Returns the Tax Documentation Type and Status, TIN Verification Status, Issues, and Expiration Date (if applicable), for an Account Owner","tags":["Tax Documentation"],"responses":{"200":{"description":"Tax Documentation Summary","content":{"application/json":{"schema":{"title":"Tax Documentation Summary Response","oneOf":[{"title":"Form W-9","type":"object","properties":{"id":{"type":"string","format":"uuid","description":"The TaxBit internal UUID for the collected tax documentation data","example":"0177df49-c1aa-4d0b-bbeb-67a0c1b33a94"},"document_type":{"type":"string","enum":["W-9"],"description":"The document type of the collected tax documentation data","example":"W-9"},"status":{"type":"string","enum":["VALID","INVALID","UNDOCUMENTED"],"description":"The status of the latest Tax Documentation for the account owner","example":"VALID"},"tin_verification_status":{"type":"string","enum":["UNPROCESSED","PENDING","INVALID","TIN_MISMATCH","NOT_ISSUED","VALID_TIN_TYPE_MISMATCH","VALID"],"description":"The status of the IRS TIN Match in the TaxBit system.","example":"VALID"},"tin_verification_date":{"type":"string","description":"The date of the IRS TIN Match result","example":"2025-12-31T00:00:00.000Z"}}},{"title":"Form W-8","type":"object","properties":{"id":{"type":"string","format":"uuid","description":"The TaxBit internal UUID for the collected tax documentation data","example":"0177df49-c1aa-4d0b-bbeb-67a0c1b33a94"},"document_type":{"type":"string","enum":["W-8BEN","W-8BEN-E"],"description":"The document type of the collected tax documentation data","example":"W-8BEN"},"status":{"type":"string","enum":["VALID","INVALID","UNDOCUMENTED"],"description":"The status of the latest Tax Documentation for the account owner","example":"VALID"},"issues":{"type":"object","properties":{"issue_type":{"type":"string","enum":["PO_BOX_PERMANENT_ADDRESS","US_PERMANENT_ADDRESS","US_MAILING_ADDRESS","EXPIRED_FORM","CARE_OF_PERMANENT_ADDRESS"],"description":"The type of issue","example":"US_MAILING_ADDRESS"},"issue_status":{"type":"string","enum":["OPEN","RESOLVED"],"description":"The status of the issue","example":"OPEN"},"curing_status":{"type":"string","enum":["NOT_APPLICABLE","OPEN","RESOLVED"],"description":"The status of curing documentation","example":"OPEN"},"resubmission_status":{"type":"string","enum":["NOT_APPLICABLE","OPEN","RESOLVED"],"description":"The status of resubmission","example":"OPEN"}},"description":"An array of issues related to Tax Documentation submissions"},"expiration_date":{"type":"string","description":"The expiration date of the latest Tax Documentation for an account owner","example":"2025-12-31T00:00:00.000Z"}}}]}}}},"400":{"description":"Invalid Data"},"401":{"description":"Forbidden"},"404":{"description":"Tax Documentation Not Found"},"429":{"$ref":"#/paths/~1tax-documentation/get/responses/429"}},"security":[{"ClientAccountOwnerAuthorizer":[]}]}},"/tax-documentation-status":{"get":{"summary":"Retrieve Tax Documentation Status","description":"Returns the Comprehensive Tax Documentation Type and Status for an Account Owner. This status is specific to the DAC7 interview. For W-9, W-8BEN, and W-8BEN-E status, please refer to the tax-documentation-summary endpoint.","tags":["Tax Documentation"],"responses":{"200":{"description":"Tax Documentation Status","content":{"application/json":{"schema":{"required":["data"],"type":"object","properties":{"submission_status":{"type":"string","description":"The account owner's tax documentation submission status. If tax documentation has been submitted under the account owner, this value is 'SUBMITTED'.","enum":["SUBMITTED","NOT_SUBMITTED"]},"DAC7_interview":{"type":"object","properties":{"data_collection_status":{"type":"string","description":"The DAC7 collection status. DAC7 Collection Status refers to the status of required information under DAC7 regulations.","enum":["COMPLETE","INCOMPLETE"]},"expiration_date":{"type":"string","format":"date-time","description":"The date when the DAC7 information collected expires.","example":"2023-02-01T00:00:00.000Z"},"vat_status":{"type":"string","description":"The VAT validation status indicates the outcome or condition of the tax-related Value Added Tax (VAT) verification process.","enum":["PENDING","VALID","INVALID","INSUFFICIENT_DATA"]},"vat_validation_date":{"type":"string","format":"date-time","description":"The date when the VAT number was validated.","example":"2023-02-01T00:00:00.000Z"}}}}}}}},"400":{"description":"Invalid Data"},"401":{"description":"Forbidden"},"429":{"$ref":"#/paths/~1tax-documentation/get/responses/429"}},"security":[{"ClientAccountOwnerAuthorizer":[]}]}},"/tax-documentation/document":{"post":{"summary":"Generate Tax Documentation Document","description":"Creates a W-9, W-8BEN, or W-8BEN-E PDF document for an Account Owner","tags":["Tax Documentation"],"responses":{"200":{"description":"Tax Documentation Document","content":{"application/json":{"schema":{"title":"Tax Documentation Document","type":"object","properties":{"id":{"type":"string","format":"uuid","description":"The TaxBit internal UUID for the Tax Documentation document","example":"dee74516-e397-11ed-b5ea-0242ac120002"},"type":{"type":"string","enum":["W-9","W-8BEN","W-8BEN-E"],"description":"The Tax Dcoumentation document type","example":"W-9"},"status":{"type":"string","enum":["PROCESSING","FINISHED","ERROR"],"description":"The Tax Documentation document generation status","example":"FINISHED"},"signature_timestamp":{"type":"string","description":"The date and time the Tax Documentation document was created","example":"2023-02-01T00:00:00.000Z"},"url":{"type":"string","description":"URL to download the Tax Documentation document","example":"https://taxbit-staging-east1-document-service...id=GetObject"}},"required":["id","type","status","signature_timestamp"]}}}},"400":{"description":"Invalid Data"},"401":{"description":"Forbidden"},"403":{"description":"Wrong Account Owner"},"404":{"description":"Tax Documentation Document Not Found"},"429":{"$ref":"#/paths/~1tax-documentation/get/responses/429"}},"security":[{"ClientAccountOwnerAuthorizer":[]}]}},"/tax-documentation/document/{id}":{"get":{"summary":"Retrieve Tax Documentation Document by ID","description":"Returns a W-9, W-8BEN, or W-8BEN-E PDF document by its ID for an Account Owner","tags":["Tax Documentation"],"parameters":[{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"required":true,"description":"The TaxBit internal UUID for the Tax Documentation document","example":"dee74516-e397-11ed-b5ea-0242ac120002"}],"responses":{"200":{"description":"Tax Documentation Document","content":{"application/json":{"schema":{"$ref":"#/paths/~1tax-documentation~1document/post/responses/200/content/application~1json/schema"}}}},"400":{"description":"Invalid Data"},"401":{"description":"Forbidden"},"403":{"description":"Wrong Account Owner"},"404":{"description":"Tax Documentation Document Not Found"},"429":{"$ref":"#/paths/~1tax-documentation/get/responses/429"}},"security":[{"ClientAccountOwnerAuthorizer":[]}]}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}