{
    "openapi": "3.0.1",
    "info": {
        "description": "PPRO's One-time Payments",
        "title": "Payment Charges",
        "version": "v1"
    },
    "servers": [
        {
            "description": "Production - Sandbox environment for integration testing",
            "url": "https://api.sandbox.eu.ppro.com"
        },
        {
            "description": "Production endpoint for EU customers",
            "url": "https://api.eu.ppro.com"
        }
    ],
    "security": [
        {
            "bearer_token": []
        }
    ],
    "tags": [
        {
            "name": "Authorization Endpoints"
        },
        {
            "name": "Capture Endpoints"
        },
        {
            "name": "Refund Endpoints"
        },
        {
            "name": "Void Endpoints"
        }
    ],
    "paths": {
        "/v1/payment-charges": {
            "get": {
                "description": "Returns all payment charges that match the given search criteria. ",
                "operationId": "searchPaymentCharge",
                "parameters": [
                    {
                        "explode": true,
                        "in": "query",
                        "name": "merchantPaymentChargeReference",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "style": "form"
                    },
                    {
                        "explode": true,
                        "in": "query",
                        "name": "agreementId",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "style": "form"
                    },
                    {
                        "explode": true,
                        "in": "query",
                        "name": "page",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "style": "form"
                    },
                    {
                        "description": "The merchant identifier.",
                        "example": "merch_cb6RQnZbBwSBkn34QYXhr",
                        "explode": false,
                        "in": "header",
                        "name": "Merchant-Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    },
                    {
                        "description": "Optional unique request reference to facilitate debugging.",
                        "example": "abc-unique-value-for-tracing",
                        "explode": false,
                        "in": "header",
                        "name": "Request-Reference",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetPaymentChargesResponse"
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExceptionResponseBody"
                                }
                            }
                        },
                        "description": "Duplicate request received with the same idempotency key."
                    },
                    "504": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExceptionResponseBody"
                                }
                            }
                        },
                        "description": "Call to the upstream dependency timed out."
                    }
                },
                "summary": "List payment charges",
                "tags": [
                    "Authorization Endpoints"
                ]
            },
            "post": {
                "description": "Creates a payment charge.",
                "operationId": "authorize",
                "parameters": [
                    {
                        "description": "The merchant identifier.",
                        "example": "merch_cb6RQnZbBwSBkn34QYXhr",
                        "explode": false,
                        "in": "header",
                        "name": "Merchant-Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    },
                    {
                        "description": "Optional unique request reference to facilitate debugging.",
                        "example": "abc-unique-value-for-tracing",
                        "explode": false,
                        "in": "header",
                        "name": "Request-Reference",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AuthorizationRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentChargeResponse"
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExceptionResponseBody"
                                }
                            }
                        },
                        "description": "Duplicate request received with the same idempotency key."
                    },
                    "504": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExceptionResponseBody"
                                }
                            }
                        },
                        "description": "Call to the upstream dependency timed out."
                    }
                },
                "summary": "Create payment charge",
                "tags": [
                    "Authorization Endpoints"
                ]
            }
        },
        "/v1/payment-charges/{paymentChargeId}/voids": {
            "get": {
                "description": "Return all voids associated with the payment charge.",
                "operationId": "getVoids",
                "parameters": [
                    {
                        "explode": false,
                        "in": "path",
                        "name": "paymentChargeId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    },
                    {
                        "description": "The merchant identifier.",
                        "example": "merch_cb6RQnZbBwSBkn34QYXhr",
                        "explode": false,
                        "in": "header",
                        "name": "Merchant-Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    },
                    {
                        "description": "Optional unique request reference to facilitate debugging.",
                        "example": "abc-unique-value-for-tracing",
                        "explode": false,
                        "in": "header",
                        "name": "Request-Reference",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetVoidsResponse"
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExceptionResponseBody"
                                }
                            }
                        },
                        "description": "Duplicate request received with the same idempotency key."
                    },
                    "504": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExceptionResponseBody"
                                }
                            }
                        },
                        "description": "Call to the upstream dependency timed out."
                    }
                },
                "summary": "List voids",
                "tags": [
                    "Void Endpoints"
                ]
            },
            "post": {
                "description": "Void all or part of an authorization on a payment charge that has not yet been captured. ",
                "operationId": "processVoid",
                "parameters": [
                    {
                        "explode": false,
                        "in": "path",
                        "name": "paymentChargeId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    },
                    {
                        "description": "The merchant identifier.",
                        "example": "merch_cb6RQnZbBwSBkn34QYXhr",
                        "explode": false,
                        "in": "header",
                        "name": "Merchant-Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    },
                    {
                        "description": "Optional unique request reference to facilitate debugging.",
                        "example": "abc-unique-value-for-tracing",
                        "explode": false,
                        "in": "header",
                        "name": "Request-Reference",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/VoidRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentChargeVoidResponse"
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExceptionResponseBody"
                                }
                            }
                        },
                        "description": "Duplicate request received with the same idempotency key."
                    },
                    "504": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExceptionResponseBody"
                                }
                            }
                        },
                        "description": "Call to the upstream dependency timed out."
                    }
                },
                "summary": "Create void",
                "tags": [
                    "Void Endpoints"
                ]
            }
        },
        "/v1/payment-charges/{paymentChargeId}/refunds": {
            "get": {
                "description": "Return all refunds associated with the payment charge.",
                "operationId": "getRefunds",
                "parameters": [
                    {
                        "explode": false,
                        "in": "path",
                        "name": "paymentChargeId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    },
                    {
                        "description": "The merchant identifier.",
                        "example": "merch_cb6RQnZbBwSBkn34QYXhr",
                        "explode": false,
                        "in": "header",
                        "name": "Merchant-Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    },
                    {
                        "description": "Optional unique request reference to facilitate debugging.",
                        "example": "abc-unique-value-for-tracing",
                        "explode": false,
                        "in": "header",
                        "name": "Request-Reference",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetRefundsResponse"
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExceptionResponseBody"
                                }
                            }
                        },
                        "description": "Duplicate request received with the same idempotency key."
                    },
                    "504": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExceptionResponseBody"
                                }
                            }
                        },
                        "description": "Call to the upstream dependency timed out."
                    }
                },
                "summary": "List refunds",
                "tags": [
                    "Refund Endpoints"
                ]
            },
            "post": {
                "description": "Refund all or part of an authorization on a payment charge that has been captured. ",
                "operationId": "refund",
                "parameters": [
                    {
                        "explode": false,
                        "in": "path",
                        "name": "paymentChargeId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    },
                    {
                        "description": "The merchant identifier.",
                        "example": "merch_cb6RQnZbBwSBkn34QYXhr",
                        "explode": false,
                        "in": "header",
                        "name": "Merchant-Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    },
                    {
                        "description": "Optional unique request reference to facilitate debugging.",
                        "example": "abc-unique-value-for-tracing",
                        "explode": false,
                        "in": "header",
                        "name": "Request-Reference",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RefundRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentChargeRefundResponse"
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExceptionResponseBody"
                                }
                            }
                        },
                        "description": "Duplicate request received with the same idempotency key."
                    },
                    "504": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExceptionResponseBody"
                                }
                            }
                        },
                        "description": "Call to the upstream dependency timed out."
                    }
                },
                "summary": "Create refund",
                "tags": [
                    "Refund Endpoints"
                ]
            }
        },
        "/v1/payment-charges/{paymentChargeId}/captures": {
            "get": {
                "description": "Return all captures associated with the payment charge. ",
                "operationId": "getCaptures",
                "parameters": [
                    {
                        "explode": false,
                        "in": "path",
                        "name": "paymentChargeId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    },
                    {
                        "description": "The merchant identifier.",
                        "example": "merch_cb6RQnZbBwSBkn34QYXhr",
                        "explode": false,
                        "in": "header",
                        "name": "Merchant-Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    },
                    {
                        "description": "Optional unique request reference to facilitate debugging.",
                        "example": "abc-unique-value-for-tracing",
                        "explode": false,
                        "in": "header",
                        "name": "Request-Reference",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetCapturesResponse"
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExceptionResponseBody"
                                }
                            }
                        },
                        "description": "Duplicate request received with the same idempotency key."
                    },
                    "504": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExceptionResponseBody"
                                }
                            }
                        },
                        "description": "Call to the upstream dependency timed out."
                    }
                },
                "summary": "List captures",
                "tags": [
                    "Capture Endpoints"
                ]
            },
            "post": {
                "description": "Capture all or part of an authorization on a payment charge. ",
                "operationId": "capture",
                "parameters": [
                    {
                        "explode": false,
                        "in": "path",
                        "name": "paymentChargeId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    },
                    {
                        "description": "The merchant identifier.",
                        "example": "merch_cb6RQnZbBwSBkn34QYXhr",
                        "explode": false,
                        "in": "header",
                        "name": "Merchant-Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    },
                    {
                        "description": "Optional unique request reference to facilitate debugging.",
                        "example": "abc-unique-value-for-tracing",
                        "explode": false,
                        "in": "header",
                        "name": "Request-Reference",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CaptureRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentChargeCaptureResponse"
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExceptionResponseBody"
                                }
                            }
                        },
                        "description": "Duplicate request received with the same idempotency key."
                    },
                    "504": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExceptionResponseBody"
                                }
                            }
                        },
                        "description": "Call to the upstream dependency timed out."
                    }
                },
                "summary": "Create capture",
                "tags": [
                    "Capture Endpoints"
                ]
            }
        },
        "/v1/payment-charges/{paymentChargeId}/authorizations": {
            "get": {
                "description": "Returns all authorizations associated with the payment charge.",
                "operationId": "getAuthorizations",
                "parameters": [
                    {
                        "explode": false,
                        "in": "path",
                        "name": "paymentChargeId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    },
                    {
                        "description": "The merchant identifier.",
                        "example": "merch_cb6RQnZbBwSBkn34QYXhr",
                        "explode": false,
                        "in": "header",
                        "name": "Merchant-Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    },
                    {
                        "description": "Optional unique request reference to facilitate debugging.",
                        "example": "abc-unique-value-for-tracing",
                        "explode": false,
                        "in": "header",
                        "name": "Request-Reference",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetAuthorizationsResponse"
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExceptionResponseBody"
                                }
                            }
                        },
                        "description": "Duplicate request received with the same idempotency key."
                    },
                    "504": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExceptionResponseBody"
                                }
                            }
                        },
                        "description": "Call to the upstream dependency timed out."
                    }
                },
                "summary": "List authorizations",
                "tags": [
                    "Authorization Endpoints"
                ]
            },
            "post": {
                "description": "Provide additional data required to proceed with the authorization.",
                "operationId": "confirm",
                "parameters": [
                    {
                        "explode": false,
                        "in": "path",
                        "name": "paymentChargeId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    },
                    {
                        "description": "The merchant identifier.",
                        "example": "merch_cb6RQnZbBwSBkn34QYXhr",
                        "explode": false,
                        "in": "header",
                        "name": "Merchant-Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    },
                    {
                        "description": "Optional unique request reference to facilitate debugging.",
                        "example": "abc-unique-value-for-tracing",
                        "explode": false,
                        "in": "header",
                        "name": "Request-Reference",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ConfirmationRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentChargeAuthorizationResponse"
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExceptionResponseBody"
                                }
                            }
                        },
                        "description": "Duplicate request received with the same idempotency key."
                    },
                    "504": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExceptionResponseBody"
                                }
                            }
                        },
                        "description": "Call to the upstream dependency timed out."
                    }
                },
                "summary": "Update authorization",
                "tags": [
                    "Authorization Endpoints"
                ]
            }
        },
        "/v1/payment-charges/{paymentChargeId}": {
            "get": {
                "description": "Returns the payment charge, given the charge ID.",
                "operationId": "getPaymentCharge",
                "parameters": [
                    {
                        "explode": false,
                        "in": "path",
                        "name": "paymentChargeId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    },
                    {
                        "description": "The merchant identifier.",
                        "example": "merch_cb6RQnZbBwSBkn34QYXhr",
                        "explode": false,
                        "in": "header",
                        "name": "Merchant-Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    },
                    {
                        "description": "Optional unique request reference to facilitate debugging.",
                        "example": "abc-unique-value-for-tracing",
                        "explode": false,
                        "in": "header",
                        "name": "Request-Reference",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentChargeResponse"
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExceptionResponseBody"
                                }
                            }
                        },
                        "description": "Duplicate request received with the same idempotency key."
                    },
                    "504": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExceptionResponseBody"
                                }
                            }
                        },
                        "description": "Call to the upstream dependency timed out."
                    }
                },
                "summary": "Get Payment Charge",
                "tags": [
                    "Authorization Endpoints"
                ]
            }
        },
        "/v1/payment-charges/{paymentChargeId}/voids/{voidId}": {
            "get": {
                "description": "Returns a specific void operation associated with the payment charge.",
                "operationId": "getVoid",
                "parameters": [
                    {
                        "explode": false,
                        "in": "path",
                        "name": "paymentChargeId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    },
                    {
                        "explode": false,
                        "in": "path",
                        "name": "voidId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    },
                    {
                        "description": "The merchant identifier.",
                        "example": "merch_cb6RQnZbBwSBkn34QYXhr",
                        "explode": false,
                        "in": "header",
                        "name": "Merchant-Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    },
                    {
                        "description": "Optional unique request reference to facilitate debugging.",
                        "example": "abc-unique-value-for-tracing",
                        "explode": false,
                        "in": "header",
                        "name": "Request-Reference",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentChargeVoidResponse"
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExceptionResponseBody"
                                }
                            }
                        },
                        "description": "Duplicate request received with the same idempotency key."
                    },
                    "504": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExceptionResponseBody"
                                }
                            }
                        },
                        "description": "Call to the upstream dependency timed out."
                    }
                },
                "summary": "Get void",
                "tags": [
                    "Void Endpoints"
                ]
            }
        },
        "/v1/payment-charges/{paymentChargeId}/refunds/{refundId}": {
            "get": {
                "description": "Returns a specific refund operation associated with the payment charge",
                "operationId": "getRefund",
                "parameters": [
                    {
                        "explode": false,
                        "in": "path",
                        "name": "paymentChargeId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    },
                    {
                        "explode": false,
                        "in": "path",
                        "name": "refundId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    },
                    {
                        "description": "The merchant identifier.",
                        "example": "merch_cb6RQnZbBwSBkn34QYXhr",
                        "explode": false,
                        "in": "header",
                        "name": "Merchant-Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    },
                    {
                        "description": "Optional unique request reference to facilitate debugging.",
                        "example": "abc-unique-value-for-tracing",
                        "explode": false,
                        "in": "header",
                        "name": "Request-Reference",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentChargeRefundResponse"
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExceptionResponseBody"
                                }
                            }
                        },
                        "description": "Duplicate request received with the same idempotency key."
                    },
                    "504": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExceptionResponseBody"
                                }
                            }
                        },
                        "description": "Call to the upstream dependency timed out."
                    }
                },
                "summary": "Get refund",
                "tags": [
                    "Refund Endpoints"
                ]
            }
        },
        "/v1/payment-charges/{paymentChargeId}/captures/{captureId}": {
            "get": {
                "description": "Returns a specific capture operation associated with the payment charge.",
                "operationId": "getCapture",
                "parameters": [
                    {
                        "explode": false,
                        "in": "path",
                        "name": "paymentChargeId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    },
                    {
                        "explode": false,
                        "in": "path",
                        "name": "captureId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    },
                    {
                        "description": "The merchant identifier.",
                        "example": "merch_cb6RQnZbBwSBkn34QYXhr",
                        "explode": false,
                        "in": "header",
                        "name": "Merchant-Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    },
                    {
                        "description": "Optional unique request reference to facilitate debugging.",
                        "example": "abc-unique-value-for-tracing",
                        "explode": false,
                        "in": "header",
                        "name": "Request-Reference",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentChargeCaptureResponse"
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExceptionResponseBody"
                                }
                            }
                        },
                        "description": "Duplicate request received with the same idempotency key."
                    },
                    "504": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExceptionResponseBody"
                                }
                            }
                        },
                        "description": "Call to the upstream dependency timed out."
                    }
                },
                "summary": "Get capture",
                "tags": [
                    "Capture Endpoints"
                ]
            }
        },
        "/v1/payment-charges/{paymentChargeId}/authorizations/{authorizationId}": {
            "get": {
                "description": "Returns a specific authorization operation associated with the payment charge",
                "operationId": "getAuthorization",
                "parameters": [
                    {
                        "explode": false,
                        "in": "path",
                        "name": "paymentChargeId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    },
                    {
                        "explode": false,
                        "in": "path",
                        "name": "authorizationId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    },
                    {
                        "description": "The merchant identifier.",
                        "example": "merch_cb6RQnZbBwSBkn34QYXhr",
                        "explode": false,
                        "in": "header",
                        "name": "Merchant-Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    },
                    {
                        "description": "Optional unique request reference to facilitate debugging.",
                        "example": "abc-unique-value-for-tracing",
                        "explode": false,
                        "in": "header",
                        "name": "Request-Reference",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentChargeAuthorizationResponse"
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExceptionResponseBody"
                                }
                            }
                        },
                        "description": "Duplicate request received with the same idempotency key."
                    },
                    "504": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExceptionResponseBody"
                                }
                            }
                        },
                        "description": "Call to the upstream dependency timed out."
                    }
                },
                "summary": "Get authorization",
                "tags": [
                    "Authorization Endpoints"
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "Address": {
                "description": "The shipping address details.",
                "example": {
                    "firstName": "John",
                    "lastName": "Smith",
                    "country": "DE",
                    "phoneNumber": "01522113356",
                    "city": "Berlin",
                    "street": "Maple Street 102/B",
                    "postalCode": "41460",
                    "region": "Berlin"
                },
                "properties": {
                    "firstName": {
                        "description": "The address first name.",
                        "example": "John",
                        "type": "string"
                    },
                    "lastName": {
                        "description": "The address last name.",
                        "example": "Smith",
                        "type": "string"
                    },
                    "phoneNumber": {
                        "description": "The address phone number.",
                        "example": "01522113356",
                        "type": "string"
                    },
                    "street": {
                        "description": "Street name, house number and other details such as apartment number or door number",
                        "example": "Maple Street 102/B",
                        "type": "string"
                    },
                    "postalCode": {
                        "description": "The address postal code.",
                        "example": "41460",
                        "type": "string"
                    },
                    "city": {
                        "description": "The address city.",
                        "example": "Berlin",
                        "type": "string"
                    },
                    "region": {
                        "description": "The address region.",
                        "example": "Berlin",
                        "type": "string"
                    },
                    "country": {
                        "description": "The address country.",
                        "example": "DE",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "AirlineDetails": {
                "description": "The airline industry specific details.",
                "example": {
                    "passengerName": "John Doe",
                    "passengerPhone": "14082319231",
                    "pnr": "SKJ2NS01AS",
                    "tripSegments": [
                        {
                            "destinationAirportCode": "SYD",
                            "fareBasisCode": "YE3MGB",
                            "segmentId": "1",
                            "departureDate": "2025-01-01",
                            "flightCarrierCode": "016",
                            "departureAirportCode": "MAN",
                            "flightNumber": "BA98"
                        },
                        {
                            "destinationAirportCode": "SYD",
                            "fareBasisCode": "YE3MGB",
                            "segmentId": "1",
                            "departureDate": "2025-01-01",
                            "flightCarrierCode": "016",
                            "departureAirportCode": "MAN",
                            "flightNumber": "BA98"
                        }
                    ],
                    "carrierCode": "016",
                    "airlineCode": "016",
                    "numberOfPassengers": 1,
                    "passengerEmail": "john@gmail.com"
                },
                "properties": {
                    "pnr": {
                        "description": "The passenger number record",
                        "example": "SKJ2NS01AS",
                        "type": "string"
                    },
                    "numberOfPassengers": {
                        "description": "The number of passengers",
                        "example": 1,
                        "format": "int32",
                        "minimum": 1,
                        "type": "integer"
                    },
                    "airlineCode": {
                        "description": "The airline code",
                        "example": "016",
                        "type": "string"
                    },
                    "passengerEmail": {
                        "description": "The passenger email",
                        "example": "john@gmail.com",
                        "type": "string"
                    },
                    "passengerPhone": {
                        "description": "The passenger phone number",
                        "example": "14082319231",
                        "type": "string"
                    },
                    "passengerName": {
                        "description": "The passenger name",
                        "example": "John Doe",
                        "type": "string"
                    },
                    "carrierCode": {
                        "description": "The airline carrier code",
                        "example": "016",
                        "type": "string"
                    },
                    "tripSegments": {
                        "description": "The trip segment details",
                        "items": {
                            "$ref": "#/components/schemas/AirlineTripSegment"
                        },
                        "type": "array"
                    }
                },
                "type": "object"
            },
            "AirlineIndustryData": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/IndustryData"
                    },
                    {
                        "properties": {
                            "details": {
                                "$ref": "#/components/schemas/AirlineDetails"
                            },
                            "type": {
                                "description": "The AIRLINE industry data type.",
                                "enum": [
                                    "AIRLINE"
                                ],
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                ],
                "example": {
                    "details": {
                        "passengerName": "John Doe",
                        "passengerPhone": "14082319231",
                        "pnr": "SKJ2NS01AS",
                        "tripSegments": [
                            {
                                "destinationAirportCode": "SYD",
                                "fareBasisCode": "YE3MGB",
                                "segmentId": "1",
                                "departureDate": "2025-01-01",
                                "flightCarrierCode": "016",
                                "departureAirportCode": "MAN",
                                "flightNumber": "BA98"
                            },
                            {
                                "destinationAirportCode": "SYD",
                                "fareBasisCode": "YE3MGB",
                                "segmentId": "1",
                                "departureDate": "2025-01-01",
                                "flightCarrierCode": "016",
                                "departureAirportCode": "MAN",
                                "flightNumber": "BA98"
                            }
                        ],
                        "carrierCode": "016",
                        "airlineCode": "016",
                        "numberOfPassengers": 1,
                        "passengerEmail": "john@gmail.com"
                    },
                    "type": "AIRLINE"
                },
                "required": [
                    "details"
                ],
                "type": "object"
            },
            "AirlineTripSegment": {
                "description": "The trip segment details",
                "example": {
                    "destinationAirportCode": "SYD",
                    "fareBasisCode": "YE3MGB",
                    "segmentId": "1",
                    "departureDate": "2025-01-01",
                    "flightCarrierCode": "016",
                    "departureAirportCode": "MAN",
                    "flightNumber": "BA98"
                },
                "properties": {
                    "fareBasisCode": {
                        "description": "The fare basis code",
                        "example": "YE3MGB",
                        "type": "string"
                    },
                    "departureAirportCode": {
                        "description": "The departure airport code",
                        "example": "MAN",
                        "type": "string"
                    },
                    "destinationAirportCode": {
                        "description": "The destination airport code",
                        "example": "SYD",
                        "type": "string"
                    },
                    "flightNumber": {
                        "description": "The flight number",
                        "example": "BA98",
                        "type": "string"
                    },
                    "departureDate": {
                        "description": "The departure date",
                        "example": "2025-01-01",
                        "format": "date",
                        "type": "string"
                    },
                    "flightCarrierCode": {
                        "description": "The flight carrier code",
                        "example": "016",
                        "type": "string"
                    },
                    "segmentId": {
                        "description": "The trip segment ID",
                        "example": "1",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "AuthenticationSettings": {
                "description": "The authorization authentication settings.",
                "discriminator": {
                    "mapping": {
                        "SCAN_CODE": "#/components/schemas/ScanCodeAuthenticationSettings",
                        "EXTERNAL_3DS": "#/components/schemas/ThreeDSecureAuthenticationSettings",
                        "MULTI_FACTOR": "#/components/schemas/MultiFactorAuthenticationSettings",
                        "REDIRECT": "#/components/schemas/RedirectAuthenticationSettings"
                    },
                    "propertyName": "type"
                },
                "properties": {
                    "type": {
                        "type": "string"
                    }
                },
                "required": [
                    "type"
                ],
                "type": "object"
            },
            "AuthorizationRequest": {
                "example": {
                    "amount": {
                        "currency": "EUR",
                        "value": 1000
                    },
                    "instrumentId": "instr_SNaRMvhYNFpXhEhgTVSed",
                    "initiator": "CONSUMER",
                    "instrument": {
                        "details": {
                            "bankCode": "12341234",
                            "holderName": "John Doe",
                            "iban": "DE75512108001245126199",
                            "debitMandateId": "debitMandateId",
                            "swiftCode": "DEUTDEFF123",
                            "bankName": "My Bank",
                            "accountNumber": "007123456"
                        },
                        "type": "BANK_ACCOUNT"
                    },
                    "paymentMedium": "ECOMMERCE",
                    "authenticationSettings": [
                        {
                            "settings": {
                                "verificationCode": "777123"
                            },
                            "type": "MULTI_FACTOR"
                        },
                        {
                            "settings": {
                                "verificationCode": "777123"
                            },
                            "type": "MULTI_FACTOR"
                        }
                    ],
                    "paymentDescriptor": "Acme - ORDER 1234",
                    "merchantPaymentChargeReference": "5c019979-0751-469e-96e0-b67f1d95c577",
                    "autoCapture": false,
                    "scheduleType": "UNSCHEDULED",
                    "paymentMethod": "IDEAL",
                    "consumer": {
                        "country": "DE",
                        "taxIdentification": "798154336790",
                        "phone": "+491521111111",
                        "name": "John Smith",
                        "client": {
                            "ip": "11.22.22.33"
                        },
                        "billingAddress": {
                            "firstName": "John",
                            "lastName": "Smith",
                            "country": "DE",
                            "phoneNumber": "01522113356",
                            "city": "Berlin",
                            "street": "Maple Street 102/B",
                            "postalCode": "41460",
                            "region": "Berlin"
                        },
                        "locale": "de-DE",
                        "merchantConsumerReference": "5c019979-0751-469e-96e0-b67f1d95c577",
                        "email": "johnsmith@example.com"
                    },
                    "order": {
                        "orderReferenceNumber": "orderReferenceNumber",
                        "shippingAddress": {
                            "firstName": "John",
                            "lastName": "Smith",
                            "country": "DE",
                            "phoneNumber": "01522113356",
                            "city": "Berlin",
                            "street": "Maple Street 102/B",
                            "postalCode": "41460",
                            "region": "Berlin"
                        },
                        "installmentPlan": {
                            "numberOfInstallments": 1
                        },
                        "industryData": [
                            {
                                "details": {
                                    "passengerName": "John Doe",
                                    "passengerPhone": "14082319231",
                                    "pnr": "SKJ2NS01AS",
                                    "tripSegments": [
                                        {
                                            "destinationAirportCode": "SYD",
                                            "fareBasisCode": "YE3MGB",
                                            "segmentId": "1",
                                            "departureDate": "2025-01-01",
                                            "flightCarrierCode": "016",
                                            "departureAirportCode": "MAN",
                                            "flightNumber": "BA98"
                                        },
                                        {
                                            "destinationAirportCode": "SYD",
                                            "fareBasisCode": "YE3MGB",
                                            "segmentId": "1",
                                            "departureDate": "2025-01-01",
                                            "flightCarrierCode": "016",
                                            "departureAirportCode": "MAN",
                                            "flightNumber": "BA98"
                                        }
                                    ],
                                    "carrierCode": "016",
                                    "airlineCode": "016",
                                    "numberOfPassengers": 1,
                                    "passengerEmail": "john@gmail.com"
                                },
                                "type": "AIRLINE"
                            },
                            {
                                "details": {
                                    "passengerName": "John Doe",
                                    "passengerPhone": "14082319231",
                                    "pnr": "SKJ2NS01AS",
                                    "tripSegments": [
                                        {
                                            "destinationAirportCode": "SYD",
                                            "fareBasisCode": "YE3MGB",
                                            "segmentId": "1",
                                            "departureDate": "2025-01-01",
                                            "flightCarrierCode": "016",
                                            "departureAirportCode": "MAN",
                                            "flightNumber": "BA98"
                                        },
                                        {
                                            "destinationAirportCode": "SYD",
                                            "fareBasisCode": "YE3MGB",
                                            "segmentId": "1",
                                            "departureDate": "2025-01-01",
                                            "flightCarrierCode": "016",
                                            "departureAirportCode": "MAN",
                                            "flightNumber": "BA98"
                                        }
                                    ],
                                    "carrierCode": "016",
                                    "airlineCode": "016",
                                    "numberOfPassengers": 1,
                                    "passengerEmail": "john@gmail.com"
                                },
                                "type": "AIRLINE"
                            }
                        ],
                        "totalTaxAmount": 6,
                        "orderItems": [
                            {
                                "amount": 1000,
                                "quantity": 1,
                                "name": "White T-Shirt",
                                "sku": "LS123456789",
                                "category": "bicycle"
                            },
                            {
                                "amount": 1000,
                                "quantity": 1,
                                "name": "White T-Shirt",
                                "sku": "LS123456789",
                                "category": "bicycle"
                            }
                        ]
                    },
                    "webhooksUrl": "webhooksUrl"
                },
                "properties": {
                    "paymentMethod": {
                        "description": "The payment method which should be used to process the payment charge. Must be uppercase.",
                        "example": "IDEAL",
                        "pattern": "^[A-Z0-9_]+$",
                        "type": "string"
                    },
                    "paymentMedium": {
                        "default": "ECOMMERCE",
                        "description": "The payment medium.",
                        "enum": [
                            "ECOMMERCE",
                            "MOTO",
                            "POS"
                        ],
                        "example": "ECOMMERCE",
                        "type": "string"
                    },
                    "paymentDescriptor": {
                        "description": "The payment descriptor (arbitrary string). May be presented to the consumer.",
                        "example": "Acme - ORDER 1234",
                        "type": "string"
                    },
                    "initiator": {
                        "description": "The initiator of the charge",
                        "enum": [
                            "CONSUMER",
                            "MERCHANT"
                        ],
                        "type": "string"
                    },
                    "scheduleType": {
                        "default": "UNSCHEDULED",
                        "description": "The charge schedule type",
                        "enum": [
                            "UNSCHEDULED",
                            "RECURRING"
                        ],
                        "type": "string"
                    },
                    "instrumentId": {
                        "description": "The identifier of an existing payment instrument. Instruments are used for account on file payments.",
                        "example": "instr_SNaRMvhYNFpXhEhgTVSed",
                        "type": "string"
                    },
                    "instrument": {
                        "$ref": "#/components/schemas/AuthorizationRequest_instrument"
                    },
                    "amount": {
                        "$ref": "#/components/schemas/Money"
                    },
                    "consumer": {
                        "$ref": "#/components/schemas/Consumer"
                    },
                    "order": {
                        "$ref": "#/components/schemas/Order"
                    },
                    "merchantPaymentChargeReference": {
                        "description": "The merchant payment charge reference. Aka, Transaction Reference.",
                        "example": "5c019979-0751-469e-96e0-b67f1d95c577",
                        "type": "string"
                    },
                    "authenticationSettings": {
                        "description": "The authorization authentication settings.",
                        "items": {
                            "$ref": "#/components/schemas/AuthorizationRequest_authenticationSettings_inner"
                        },
                        "type": "array"
                    },
                    "autoCapture": {
                        "description": "Indicates whether the payment charge should be automatically captured after a successful authorization.",
                        "example": false,
                        "type": "boolean"
                    },
                    "webhooksUrl": {
                        "description": "The URL to which the payment charge state changes will be notified",
                        "pattern": "^(https)://[-a-zA-Z0-9+&@#/%?=~_|!:,.;]*[-a-zA-Z0-9+&@#/%=~_|]",
                        "type": "string"
                    }
                },
                "required": [
                    "amount",
                    "consumer",
                    "paymentMethod"
                ],
                "type": "object"
            },
            "BankAccountDetails": {
                "description": "The bank account details",
                "example": {
                    "bankCode": "12341234",
                    "holderName": "John Doe",
                    "iban": "DE75512108001245126199",
                    "debitMandateId": "debitMandateId",
                    "swiftCode": "DEUTDEFF123",
                    "bankName": "My Bank",
                    "accountNumber": "007123456"
                },
                "properties": {
                    "accountNumber": {
                        "description": "The account number.",
                        "example": "007123456",
                        "type": "string"
                    },
                    "holderName": {
                        "description": "The account holder name.",
                        "example": "John Doe",
                        "type": "string"
                    },
                    "iban": {
                        "description": "The IBAN.",
                        "example": "DE75512108001245126199",
                        "type": "string"
                    },
                    "swiftCode": {
                        "description": "The SWIFT code.",
                        "example": "DEUTDEFF123",
                        "type": "string"
                    },
                    "bankName": {
                        "description": "The bank name.",
                        "example": "My Bank",
                        "type": "string"
                    },
                    "bankCode": {
                        "description": "The bank code.",
                        "example": "12341234",
                        "type": "string"
                    },
                    "debitMandateId": {
                        "description": "The reference id for a mandate that allows debit charges on the bank account.",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "BankAccountInstrument": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/PaymentInstrument"
                    },
                    {
                        "properties": {
                            "details": {
                                "$ref": "#/components/schemas/BankAccountDetails"
                            },
                            "type": {
                                "description": "The BANK_ACCOUNT payment instrument type",
                                "enum": [
                                    "BANK_ACCOUNT"
                                ],
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                ],
                "example": {
                    "details": {
                        "bankCode": "12341234",
                        "holderName": "John Doe",
                        "iban": "DE75512108001245126199",
                        "debitMandateId": "debitMandateId",
                        "swiftCode": "DEUTDEFF123",
                        "bankName": "My Bank",
                        "accountNumber": "007123456"
                    },
                    "type": "BANK_ACCOUNT"
                },
                "required": [
                    "details"
                ],
                "type": "object"
            },
            "Challenge": {
                "description": "The 3DS authentication challenge details.",
                "properties": {
                    "preference": {
                        "description": "The 3DS authentication challenge initialization preference.",
                        "enum": [
                            "NO_PREFERENCE",
                            "NO_CHALLENGE_REQUESTED",
                            "CHALLENGE_REQUESTED",
                            "CHALLENGE_MANDATED",
                            "DATA_ONLY"
                        ],
                        "type": "string"
                    },
                    "outcome": {
                        "description": "The 3DS authentication challenge outcome.",
                        "enum": [
                            "CHALLENGE",
                            "FRICTIONLESS",
                            "DATA_ONLY"
                        ],
                        "type": "string"
                    },
                    "exemptionReason": {
                        "description": "The 3DS authentication challenge exemption reason.",
                        "enum": [
                            "LOW_VALUE",
                            "LOW_RISK",
                            "TRUSTED_BENEFICIARY",
                            "FIXED_RECURRING"
                        ],
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Client": {
                "description": "Consumer's client data",
                "example": {
                    "ip": "11.22.22.33"
                },
                "properties": {
                    "ip": {
                        "description": "The IP address of the client",
                        "example": "11.22.22.33",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Consumer": {
                "description": "The consumer details.",
                "example": {
                    "country": "DE",
                    "taxIdentification": "798154336790",
                    "phone": "+491521111111",
                    "name": "John Smith",
                    "client": {
                        "ip": "11.22.22.33"
                    },
                    "billingAddress": {
                        "firstName": "John",
                        "lastName": "Smith",
                        "country": "DE",
                        "phoneNumber": "01522113356",
                        "city": "Berlin",
                        "street": "Maple Street 102/B",
                        "postalCode": "41460",
                        "region": "Berlin"
                    },
                    "locale": "de-DE",
                    "merchantConsumerReference": "5c019979-0751-469e-96e0-b67f1d95c577",
                    "email": "johnsmith@example.com"
                },
                "properties": {
                    "name": {
                        "description": "The consumer name.",
                        "example": "John Smith",
                        "type": "string"
                    },
                    "email": {
                        "description": "The consumer email.",
                        "example": "johnsmith@example.com",
                        "type": "string"
                    },
                    "phone": {
                        "description": "The consumer phone number.",
                        "example": "+491521111111",
                        "type": "string"
                    },
                    "country": {
                        "description": "2-letter ISO code of the country where the payment instrument or account has been issued or established (for example GB, US, DE).",
                        "example": "DE",
                        "type": "string"
                    },
                    "locale": {
                        "description": "The locale describing the preferred language of the consumer",
                        "example": "de-DE",
                        "type": "string"
                    },
                    "client": {
                        "$ref": "#/components/schemas/Client"
                    },
                    "taxIdentification": {
                        "description": "The consumer tax identification (Social security identification) eg.: CPF in Brazil, NISS in Portugal, etc.",
                        "example": "798154336790",
                        "type": "string"
                    },
                    "merchantConsumerReference": {
                        "description": "The merchant provided consumer reference.",
                        "example": "5c019979-0751-469e-96e0-b67f1d95c577",
                        "type": "string"
                    },
                    "billingAddress": {
                        "$ref": "#/components/schemas/Address"
                    }
                },
                "required": [
                    "country"
                ],
                "type": "object"
            },
            "EducationIndustryData": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/IndustryData"
                    },
                    {
                        "properties": {
                            "type": {
                                "description": "The EDUCATION industry data type.",
                                "enum": [
                                    "EDUCATION"
                                ],
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                ],
                "type": "object"
            },
            "IndustryData": {
                "description": "The list of industry specific data.",
                "discriminator": {
                    "mapping": {
                        "AIRLINE": "#/components/schemas/AirlineIndustryData",
                        "EDUCATION": "#/components/schemas/EducationIndustryData"
                    },
                    "propertyName": "type"
                },
                "properties": {
                    "type": {
                        "type": "string"
                    }
                },
                "required": [
                    "type"
                ],
                "type": "object"
            },
            "InstallmentPlan": {
                "description": "Describes the financing details chosen by the consumer for this order",
                "example": {
                    "numberOfInstallments": 1
                },
                "properties": {
                    "numberOfInstallments": {
                        "description": "The number of installments the consumer will split the payment into.",
                        "format": "int32",
                        "type": "integer"
                    }
                },
                "required": [
                    "numberOfInstallments"
                ],
                "type": "object"
            },
            "InstrumentValidation": {
                "description": "If included, PPRO will try to validate the instrument with a nominal-amount authorization. If validation fails, the instrument creation request will fail",
                "properties": {
                    "currency": {
                        "description": "ISO 4217 3-letter currency code.",
                        "example": "EUR",
                        "maxLength": 3,
                        "minLength": 3,
                        "type": "string"
                    },
                    "taxIdentification": {
                        "description": "The consumer tax identification",
                        "example": "798154336790",
                        "type": "string"
                    }
                },
                "required": [
                    "currency"
                ],
                "type": "object"
            },
            "MockInstrument": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/PaymentInstrument"
                    },
                    {
                        "properties": {
                            "details": {
                                "additionalProperties": {
                                    "description": "The MOCK payment details",
                                    "type": "string"
                                },
                                "description": "The MOCK payment details",
                                "type": "object"
                            },
                            "type": {
                                "description": "The MOCK payment instrument type",
                                "enum": [
                                    "MOCK"
                                ],
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                ],
                "type": "object"
            },
            "Money": {
                "description": "The amount to be authorized.",
                "example": {
                    "currency": "EUR",
                    "value": 1000
                },
                "properties": {
                    "value": {
                        "description": "The amount in the payment charge currency's smallest unit.",
                        "example": 1000,
                        "format": "int64",
                        "type": "integer"
                    },
                    "currency": {
                        "description": "ISO 4217 3-letter currency code.",
                        "example": "EUR",
                        "maxLength": 3,
                        "minLength": 3,
                        "type": "string"
                    }
                },
                "required": [
                    "currency",
                    "value"
                ],
                "type": "object"
            },
            "MultiFactorAuthenticationSettings": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/AuthenticationSettings"
                    },
                    {
                        "properties": {
                            "settings": {
                                "$ref": "#/components/schemas/MultiFactorAuthenticationSettingsDetails"
                            },
                            "type": {
                                "description": "The MULTI_FACTOR authentication type.",
                                "enum": [
                                    "MULTI_FACTOR"
                                ],
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                ],
                "example": {
                    "settings": {
                        "verificationCode": "777123"
                    },
                    "type": "MULTI_FACTOR"
                },
                "type": "object"
            },
            "MultiFactorAuthenticationSettingsDetails": {
                "description": "The MULTI_FACTOR authentication details.",
                "example": {
                    "verificationCode": "777123"
                },
                "properties": {
                    "verificationCode": {
                        "description": "Code generated to authenticate the user.",
                        "example": "777123",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Order": {
                "description": "The order details.",
                "example": {
                    "orderReferenceNumber": "orderReferenceNumber",
                    "shippingAddress": {
                        "firstName": "John",
                        "lastName": "Smith",
                        "country": "DE",
                        "phoneNumber": "01522113356",
                        "city": "Berlin",
                        "street": "Maple Street 102/B",
                        "postalCode": "41460",
                        "region": "Berlin"
                    },
                    "installmentPlan": {
                        "numberOfInstallments": 1
                    },
                    "industryData": [
                        {
                            "details": {
                                "passengerName": "John Doe",
                                "passengerPhone": "14082319231",
                                "pnr": "SKJ2NS01AS",
                                "tripSegments": [
                                    {
                                        "destinationAirportCode": "SYD",
                                        "fareBasisCode": "YE3MGB",
                                        "segmentId": "1",
                                        "departureDate": "2025-01-01",
                                        "flightCarrierCode": "016",
                                        "departureAirportCode": "MAN",
                                        "flightNumber": "BA98"
                                    },
                                    {
                                        "destinationAirportCode": "SYD",
                                        "fareBasisCode": "YE3MGB",
                                        "segmentId": "1",
                                        "departureDate": "2025-01-01",
                                        "flightCarrierCode": "016",
                                        "departureAirportCode": "MAN",
                                        "flightNumber": "BA98"
                                    }
                                ],
                                "carrierCode": "016",
                                "airlineCode": "016",
                                "numberOfPassengers": 1,
                                "passengerEmail": "john@gmail.com"
                            },
                            "type": "AIRLINE"
                        },
                        {
                            "details": {
                                "passengerName": "John Doe",
                                "passengerPhone": "14082319231",
                                "pnr": "SKJ2NS01AS",
                                "tripSegments": [
                                    {
                                        "destinationAirportCode": "SYD",
                                        "fareBasisCode": "YE3MGB",
                                        "segmentId": "1",
                                        "departureDate": "2025-01-01",
                                        "flightCarrierCode": "016",
                                        "departureAirportCode": "MAN",
                                        "flightNumber": "BA98"
                                    },
                                    {
                                        "destinationAirportCode": "SYD",
                                        "fareBasisCode": "YE3MGB",
                                        "segmentId": "1",
                                        "departureDate": "2025-01-01",
                                        "flightCarrierCode": "016",
                                        "departureAirportCode": "MAN",
                                        "flightNumber": "BA98"
                                    }
                                ],
                                "carrierCode": "016",
                                "airlineCode": "016",
                                "numberOfPassengers": 1,
                                "passengerEmail": "john@gmail.com"
                            },
                            "type": "AIRLINE"
                        }
                    ],
                    "totalTaxAmount": 6,
                    "orderItems": [
                        {
                            "amount": 1000,
                            "quantity": 1,
                            "name": "White T-Shirt",
                            "sku": "LS123456789",
                            "category": "bicycle"
                        },
                        {
                            "amount": 1000,
                            "quantity": 1,
                            "name": "White T-Shirt",
                            "sku": "LS123456789",
                            "category": "bicycle"
                        }
                    ]
                },
                "properties": {
                    "orderItems": {
                        "description": "The list of order items.",
                        "items": {
                            "$ref": "#/components/schemas/OrderItem"
                        },
                        "type": "array"
                    },
                    "shippingAddress": {
                        "$ref": "#/components/schemas/Address"
                    },
                    "industryData": {
                        "description": "The list of industry specific data.",
                        "items": {
                            "$ref": "#/components/schemas/Order_industryData_inner"
                        },
                        "type": "array"
                    },
                    "orderReferenceNumber": {
                        "description": "The merchant's internal order reference (if different from merchantPaymentChargeReference)",
                        "type": "string"
                    },
                    "totalTaxAmount": {
                        "description": "The total tax value paid by the consumer for the order (in same currency units as specified by amount.currency)",
                        "format": "int64",
                        "type": "integer"
                    },
                    "installmentPlan": {
                        "$ref": "#/components/schemas/InstallmentPlan"
                    }
                },
[...]
