{
    "openapi": "3.0.1",
    "info": {
        "description": "Payment Agreements API",
        "title": "Payment Agreements",
        "version": "v1"
    },
    "servers": [
        {
            "description": "Production - Sandbox environment for integration testing",
            "url": "https://api.sandbox.eu.ppro.com"
        },
        {
            "description": "QA",
            "url": "https://api.qa.eu.ppro.com/v1/payment-agreements"
        }
    ],
    "security": [
        {
            "bearer_token": []
        }
    ],
    "paths": {
        "/v1/payment-agreements": {
            "post": {
                "operationId": "createAgreement",
                "parameters": [
                    {
                        "description": "The merchant identifier.",
                        "example": "merch_cb6RQnZbBwSBkn34QYXhr",
                        "explode": false,
                        "in": "header",
                        "name": "Merchant-Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgreementRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AgreementResponse"
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "504": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExceptionResponseBody"
                                }
                            }
                        },
                        "description": "Call to the upstream dependency timed out."
                    }
                },
                "summary": "Create a Payment Agreement",
                "tags": [
                    "Payment Agreements"
                ]
            }
        },
        "/v1/payment-agreements/{agreement-id}/revocations": {
            "post": {
                "operationId": "revokeAgreement",
                "parameters": [
                    {
                        "explode": false,
                        "in": "path",
                        "name": "agreement-id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    },
                    {
                        "description": "The merchant identifier.",
                        "example": "merch_cb6RQnZbBwSBkn34QYXhr",
                        "explode": false,
                        "in": "header",
                        "name": "Merchant-Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AgreementResponse"
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "504": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExceptionResponseBody"
                                }
                            }
                        },
                        "description": "Call to the upstream dependency timed out."
                    }
                },
                "summary": "Revoke a Payment Agreement",
                "tags": [
                    "Payment Agreements"
                ]
            }
        },
        "/v1/payment-agreements/{agreement-id}/payment-charges": {
            "post": {
                "operationId": "createCharge",
                "parameters": [
                    {
                        "explode": false,
                        "in": "path",
                        "name": "agreement-id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    },
                    {
                        "description": "The merchant identifier.",
                        "example": "merch_cb6RQnZbBwSBkn34QYXhr",
                        "explode": false,
                        "in": "header",
                        "name": "Merchant-Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgreementChargeRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AgreementChargeResponse"
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "504": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExceptionResponseBody"
                                }
                            }
                        },
                        "description": "Call to the upstream dependency timed out."
                    }
                },
                "summary": "Create a Payment Charge",
                "tags": [
                    "Payment Charges"
                ]
            }
        },
        "/v1/payment-agreements/{agreement-id}": {
            "get": {
                "operationId": "fetchPaymentAgreement",
                "parameters": [
                    {
                        "explode": false,
                        "in": "path",
                        "name": "agreement-id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    },
                    {
                        "description": "The merchant identifier.",
                        "example": "merch_cb6RQnZbBwSBkn34QYXhr",
                        "explode": false,
                        "in": "header",
                        "name": "Merchant-Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AgreementResponse"
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "504": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExceptionResponseBody"
                                }
                            }
                        },
                        "description": "Call to the upstream dependency timed out."
                    }
                },
                "summary": "Retrieve a Payment Agreement",
                "tags": [
                    "Payment Agreements"
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "Address": {
                "description": "The billing address details.",
                "example": {
                    "firstName": "John",
                    "lastName": "Smith",
                    "country": "DE",
                    "phoneNumber": "01522113356",
                    "city": "Berlin",
                    "street": "Maple Street 102/B",
                    "postalCode": "41460",
                    "region": "Berlin"
                },
                "properties": {
                    "firstName": {
                        "description": "The address first name.",
                        "example": "John",
                        "type": "string"
                    },
                    "lastName": {
                        "description": "The address last name.",
                        "example": "Smith",
                        "type": "string"
                    },
                    "phoneNumber": {
                        "description": "The address phone number.",
                        "example": "01522113356",
                        "type": "string"
                    },
                    "street": {
                        "description": "Street name, house number and other details such as apartment number or door number",
                        "example": "Maple Street 102/B",
                        "type": "string"
                    },
                    "postalCode": {
                        "description": "The address postal code.",
                        "example": "41460",
                        "type": "string"
                    },
                    "city": {
                        "description": "The address city.",
                        "example": "Berlin",
                        "type": "string"
                    },
                    "region": {
                        "description": "The address region.",
                        "example": "Berlin",
                        "type": "string"
                    },
                    "country": {
                        "description": "The address country.",
                        "example": "DE",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "AgreementChargeRequest": {
                "description": "An initial payment charge to be created when initializing the agreement in a \"link and pay\" journey",
                "example": {
                    "amount": {
                        "currency": "EUR",
                        "value": 1000
                    },
                    "autoCapture": false,
                    "initiator": "MERCHANT",
                    "authenticationSettings": [
                        {
                            "settings": {
                                "returnUrl": "https://example.com/order_details?order_id=12345"
                            },
                            "type": "REDIRECT"
                        },
                        {
                            "settings": {
                                "returnUrl": "https://example.com/order_details?order_id=12345"
                            },
                            "type": "REDIRECT"
                        }
                    ],
                    "paymentDescriptor": "PPRO - ORDER 1234",
                    "merchantPaymentChargeReference": "5c019979-0751-469e-96e0-b67f1d95c577",
                    "order": {
                        "orderReferenceNumber": "orderReferenceNumber",
                        "shippingAddress": {
                            "firstName": "John",
                            "lastName": "Smith",
                            "country": "DE",
                            "phoneNumber": "01522113356",
                            "city": "Berlin",
                            "street": "Maple Street 102/B",
                            "postalCode": "41460",
                            "region": "Berlin"
                        },
                        "installmentPlan": {
                            "numberOfInstallments": 6
                        },
                        "industryData": [
                            {
                                "details": {
                                    "passengerName": "John Doe",
                                    "passengerPhone": "14082319231",
                                    "pnr": "SKJ2NS01AS",
                                    "tripSegments": [
                                        {
                                            "destinationAirportCode": "SYD",
                                            "fareBasisCode": "YE3MGB",
                                            "segmentId": "1",
                                            "departureDate": "2025-01-01",
                                            "flightCarrierCode": "016",
                                            "departureAirportCode": "MAN",
                                            "flightNumber": "BA98"
                                        },
                                        {
                                            "destinationAirportCode": "SYD",
                                            "fareBasisCode": "YE3MGB",
                                            "segmentId": "1",
                                            "departureDate": "2025-01-01",
                                            "flightCarrierCode": "016",
                                            "departureAirportCode": "MAN",
                                            "flightNumber": "BA98"
                                        }
                                    ],
                                    "carrierCode": "016",
                                    "airlineCode": "016",
                                    "numberOfPassengers": 1,
                                    "passengerEmail": "john@gmail.com"
                                },
                                "type": "AIRLINE"
                            },
                            {
                                "details": {
                                    "passengerName": "John Doe",
                                    "passengerPhone": "14082319231",
                                    "pnr": "SKJ2NS01AS",
                                    "tripSegments": [
                                        {
                                            "destinationAirportCode": "SYD",
                                            "fareBasisCode": "YE3MGB",
                                            "segmentId": "1",
                                            "departureDate": "2025-01-01",
                                            "flightCarrierCode": "016",
                                            "departureAirportCode": "MAN",
                                            "flightNumber": "BA98"
                                        },
                                        {
                                            "destinationAirportCode": "SYD",
                                            "fareBasisCode": "YE3MGB",
                                            "segmentId": "1",
                                            "departureDate": "2025-01-01",
                                            "flightCarrierCode": "016",
                                            "departureAirportCode": "MAN",
                                            "flightNumber": "BA98"
                                        }
                                    ],
                                    "carrierCode": "016",
                                    "airlineCode": "016",
                                    "numberOfPassengers": 1,
                                    "passengerEmail": "john@gmail.com"
                                },
                                "type": "AIRLINE"
                            }
                        ],
                        "totalTaxAmount": 0,
                        "orderItems": [
                            {
                                "amount": 1000,
                                "quantity": 1,
                                "name": "White T-Shirt",
                                "sku": "LS123456789",
                                "category": "bicycle"
                            },
                            {
                                "amount": 1000,
                                "quantity": 1,
                                "name": "White T-Shirt",
                                "sku": "LS123456789",
                                "category": "bicycle"
                            }
                        ]
                    },
                    "webhooksUrl": "webhooksUrl"
                },
                "properties": {
                    "initiator": {
                        "description": "The charge initiator",
                        "enum": [
                            "MERCHANT",
                            "CONSUMER"
                        ],
                        "type": "string"
                    },
                    "paymentDescriptor": {
                        "description": "The transaction descriptor (arbitrary string). May be presented to the consumer.",
                        "example": "PPRO - ORDER 1234",
                        "type": "string"
                    },
                    "amount": {
                        "$ref": "#/components/schemas/Money"
                    },
                    "autoCapture": {
                        "description": "Indicates whether the payment charge should be automatically captured after a successful authorization.",
                        "example": false,
                        "type": "boolean"
                    },
                    "order": {
                        "$ref": "#/components/schemas/Order"
                    },
                    "merchantPaymentChargeReference": {
                        "description": "The merchant payment charge reference. Aka, Transaction Reference.",
                        "example": "5c019979-0751-469e-96e0-b67f1d95c577",
                        "type": "string"
                    },
                    "webhooksUrl": {
                        "description": "The URL to which the payment charge state changes will be notified",
                        "pattern": "^(https)://[-a-zA-Z0-9+&@#/%?=~_|!:,.;]*[-a-zA-Z0-9+&@#/%=~_|]",
                        "type": "string"
                    },
                    "authenticationSettings": {
                        "description": "The authorization authentication settings.",
                        "items": {
                            "$ref": "#/components/schemas/AgreementChargeRequest_authenticationSettings_inner"
                        },
                        "type": "array"
                    }
                },
                "required": [
                    "amount"
                ],
                "type": "object"
            },
            "AgreementRequest": {
                "example": {
                    "amountType": "MAX",
                    "amount": {
                        "currency": "EUR",
                        "value": 1000
                    },
                    "endDate": "2023-11-27T09:30:00Z",
                    "instrumentId": "instr_SNaRMvhYNFpXhEhgTVSed",
                    "description": "description",
                    "merchantPaymentAgreementReference": "5c019979-0751-469e-96e0-b67f1d95c577",
                    "instrument": {
                        "details": {
                            "bankCode": "12341234",
                            "holderName": "John Doe",
                            "iban": "DE75512108001245126199",
                            "debitMandateId": "debitMandateId",
                            "swiftCode": "DEUTDEFF123",
                            "bankName": "My Bank",
                            "accountNumber": "007123456"
                        },
                        "type": "BANK_ACCOUNT"
                    },
                    "paymentSessionId": "sess_hb8BQ2kbhpHRmE29T6ajx",
                    "initialPaymentCharge": {
                        "amount": {
                            "currency": "EUR",
                            "value": 1000
                        },
                        "autoCapture": false,
                        "initiator": "MERCHANT",
                        "authenticationSettings": [
                            {
                                "settings": {
                                    "returnUrl": "https://example.com/order_details?order_id=12345"
                                },
                                "type": "REDIRECT"
                            },
                            {
                                "settings": {
                                    "returnUrl": "https://example.com/order_details?order_id=12345"
                                },
                                "type": "REDIRECT"
                            }
                        ],
                        "paymentDescriptor": "PPRO - ORDER 1234",
                        "merchantPaymentChargeReference": "5c019979-0751-469e-96e0-b67f1d95c577",
                        "order": {
                            "orderReferenceNumber": "orderReferenceNumber",
                            "shippingAddress": {
                                "firstName": "John",
                                "lastName": "Smith",
                                "country": "DE",
                                "phoneNumber": "01522113356",
                                "city": "Berlin",
                                "street": "Maple Street 102/B",
                                "postalCode": "41460",
                                "region": "Berlin"
                            },
                            "installmentPlan": {
                                "numberOfInstallments": 6
                            },
                            "industryData": [
                                {
                                    "details": {
                                        "passengerName": "John Doe",
                                        "passengerPhone": "14082319231",
                                        "pnr": "SKJ2NS01AS",
                                        "tripSegments": [
                                            {
                                                "destinationAirportCode": "SYD",
                                                "fareBasisCode": "YE3MGB",
                                                "segmentId": "1",
                                                "departureDate": "2025-01-01",
                                                "flightCarrierCode": "016",
                                                "departureAirportCode": "MAN",
                                                "flightNumber": "BA98"
                                            },
                                            {
                                                "destinationAirportCode": "SYD",
                                                "fareBasisCode": "YE3MGB",
                                                "segmentId": "1",
                                                "departureDate": "2025-01-01",
                                                "flightCarrierCode": "016",
                                                "departureAirportCode": "MAN",
                                                "flightNumber": "BA98"
                                            }
                                        ],
                                        "carrierCode": "016",
                                        "airlineCode": "016",
                                        "numberOfPassengers": 1,
                                        "passengerEmail": "john@gmail.com"
                                    },
                                    "type": "AIRLINE"
                                },
                                {
                                    "details": {
                                        "passengerName": "John Doe",
                                        "passengerPhone": "14082319231",
                                        "pnr": "SKJ2NS01AS",
                                        "tripSegments": [
                                            {
                                                "destinationAirportCode": "SYD",
                                                "fareBasisCode": "YE3MGB",
                                                "segmentId": "1",
                                                "departureDate": "2025-01-01",
                                                "flightCarrierCode": "016",
                                                "departureAirportCode": "MAN",
                                                "flightNumber": "BA98"
                                            },
                                            {
                                                "destinationAirportCode": "SYD",
                                                "fareBasisCode": "YE3MGB",
                                                "segmentId": "1",
                                                "departureDate": "2025-01-01",
                                                "flightCarrierCode": "016",
                                                "departureAirportCode": "MAN",
                                                "flightNumber": "BA98"
                                            }
                                        ],
                                        "carrierCode": "016",
                                        "airlineCode": "016",
                                        "numberOfPassengers": 1,
                                        "passengerEmail": "john@gmail.com"
                                    },
                                    "type": "AIRLINE"
                                }
                            ],
                            "totalTaxAmount": 0,
                            "orderItems": [
                                {
                                    "amount": 1000,
                                    "quantity": 1,
                                    "name": "White T-Shirt",
                                    "sku": "LS123456789",
                                    "category": "bicycle"
                                },
                                {
                                    "amount": 1000,
                                    "quantity": 1,
                                    "name": "White T-Shirt",
                                    "sku": "LS123456789",
                                    "category": "bicycle"
                                }
                            ]
                        },
                        "webhooksUrl": "webhooksUrl"
                    },
                    "paymentMedium": "ECOMMERCE",
                    "authenticationSettings": [
                        null,
                        null
                    ],
                    "frequency": {
                        "interval": 3,
                        "type": "MONTHLY"
                    },
                    "paymentMethod": "UPI_AUTOPAY",
                    "startDate": "2023-03-26T20:24:27Z",
                    "consumer": {
                        "country": "DE",
                        "taxIdentification": "798154336790",
                        "phone": "+491521111111",
                        "name": "John Smith",
                        "billingAddress": {
                            "firstName": "John",
                            "lastName": "Smith",
                            "country": "DE",
                            "phoneNumber": "01522113356",
                            "city": "Berlin",
                            "street": "Maple Street 102/B",
                            "postalCode": "41460",
                            "region": "Berlin"
                        },
                        "locale": "de-DE",
                        "merchantConsumerReference": "5c019979-0751-469e-96e0-b67f1d95c577",
                        "email": "johnsmith@example.com"
                    },
                    "webhooksUrl": "webhooksUrl"
                },
                "properties": {
                    "paymentMethod": {
                        "description": "The payment method which should be used to process the payment charge.",
                        "example": "UPI_AUTOPAY",
                        "type": "string"
                    },
                    "paymentMedium": {
                        "default": "ECOMMERCE",
                        "description": "The payment medium.",
                        "enum": [
                            "ECOMMERCE",
                            "MOTO",
                            "POS"
                        ],
                        "example": "ECOMMERCE",
                        "type": "string"
                    },
                    "description": {
                        "description": "The description of the agreement",
                        "maxLength": 100,
                        "minLength": 0,
                        "type": "string"
                    },
                    "merchantPaymentAgreementReference": {
                        "description": "The merchant payment agreement reference.",
                        "example": "5c019979-0751-469e-96e0-b67f1d95c577",
                        "type": "string"
                    },
                    "frequency": {
                        "$ref": "#/components/schemas/Frequency"
                    },
                    "startDate": {
                        "description": "The start date of the agreement",
                        "example": "2023-03-26T20:24:27Z",
                        "format": "date-time",
                        "type": "string"
                    },
                    "endDate": {
                        "description": "The end date of the agreement",
                        "example": "2023-11-27T09:30:00Z",
                        "format": "date-time",
                        "type": "string"
                    },
                    "amount": {
                        "$ref": "#/components/schemas/Money"
                    },
                    "amountType": {
                        "description": "Defines if the provided 'amount' is a maximum value or an exact value.",
                        "enum": [
                            "MAX",
                            "EXACT"
                        ],
                        "type": "string"
                    },
                    "instrumentId": {
                        "description": "The identifier of an existing payment instrument. Instruments are used for account on file payments.",
                        "example": "instr_SNaRMvhYNFpXhEhgTVSed",
                        "type": "string"
                    },
                    "instrument": {
                        "$ref": "#/components/schemas/AgreementRequest_instrument"
                    },
                    "paymentSessionId": {
                        "description": "The identifier of the associated payment-session. Payment-sessions are created by the drop-in UI.",
                        "example": "sess_hb8BQ2kbhpHRmE29T6ajx",
                        "type": "string"
                    },
                    "consumer": {
                        "$ref": "#/components/schemas/Consumer"
                    },
                    "webhooksUrl": {
                        "description": "The URL to which the agreement state changes will be notified",
                        "pattern": "^(https)://[-a-zA-Z0-9+&@#/%?=~_|!:,.;]*[-a-zA-Z0-9+&@#/%=~_|]",
                        "type": "string"
                    },
                    "initialPaymentCharge": {
                        "$ref": "#/components/schemas/AgreementChargeRequest"
                    },
                    "authenticationSettings": {
                        "description": "The authorization authentication settings.",
                        "items": {
                            "$ref": "#/components/schemas/AgreementChargeRequest_authenticationSettings_inner"
                        },
                        "type": "array"
                    }
                },
                "required": [
                    "consumer",
                    "paymentMethod"
                ],
                "type": "object"
            },
            "AirlineDetails": {
                "description": "The airline industry specific details.",
                "example": {
                    "passengerName": "John Doe",
                    "passengerPhone": "14082319231",
                    "pnr": "SKJ2NS01AS",
                    "tripSegments": [
                        {
                            "destinationAirportCode": "SYD",
                            "fareBasisCode": "YE3MGB",
                            "segmentId": "1",
                            "departureDate": "2025-01-01",
                            "flightCarrierCode": "016",
                            "departureAirportCode": "MAN",
                            "flightNumber": "BA98"
                        },
                        {
                            "destinationAirportCode": "SYD",
                            "fareBasisCode": "YE3MGB",
                            "segmentId": "1",
                            "departureDate": "2025-01-01",
                            "flightCarrierCode": "016",
                            "departureAirportCode": "MAN",
                            "flightNumber": "BA98"
                        }
                    ],
                    "carrierCode": "016",
                    "airlineCode": "016",
                    "numberOfPassengers": 1,
                    "passengerEmail": "john@gmail.com"
                },
                "properties": {
                    "pnr": {
                        "description": "The passenger number record",
                        "example": "SKJ2NS01AS",
                        "type": "string"
                    },
                    "numberOfPassengers": {
                        "description": "The number of passengers",
                        "example": 1,
                        "format": "int32",
                        "minimum": 1,
                        "type": "integer"
                    },
                    "airlineCode": {
                        "description": "The airline code",
                        "example": "016",
                        "type": "string"
                    },
                    "passengerEmail": {
                        "description": "The passenger email",
                        "example": "john@gmail.com",
                        "type": "string"
                    },
                    "passengerPhone": {
                        "description": "The passenger phone number",
                        "example": "14082319231",
                        "type": "string"
                    },
                    "passengerName": {
                        "description": "The passenger name",
                        "example": "John Doe",
                        "type": "string"
                    },
                    "carrierCode": {
                        "description": "The airline carrier code",
                        "example": "016",
                        "type": "string"
                    },
                    "tripSegments": {
                        "description": "The trip segment details",
                        "items": {
                            "$ref": "#/components/schemas/AirlineTripSegment"
                        },
                        "type": "array"
                    }
                },
                "required": [
                    "pnr"
                ],
                "type": "object"
            },
            "AirlineIndustryData": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/IndustryData"
                    },
                    {
                        "properties": {
                            "details": {
                                "$ref": "#/components/schemas/AirlineDetails"
                            },
                            "type": {
                                "description": "The AIRLINE industry data type.",
                                "enum": [
                                    "AIRLINE"
                                ],
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                ],
                "example": {
                    "details": {
                        "passengerName": "John Doe",
                        "passengerPhone": "14082319231",
                        "pnr": "SKJ2NS01AS",
                        "tripSegments": [
                            {
                                "destinationAirportCode": "SYD",
                                "fareBasisCode": "YE3MGB",
                                "segmentId": "1",
                                "departureDate": "2025-01-01",
                                "flightCarrierCode": "016",
                                "departureAirportCode": "MAN",
                                "flightNumber": "BA98"
                            },
                            {
                                "destinationAirportCode": "SYD",
                                "fareBasisCode": "YE3MGB",
                                "segmentId": "1",
                                "departureDate": "2025-01-01",
                                "flightCarrierCode": "016",
                                "departureAirportCode": "MAN",
                                "flightNumber": "BA98"
                            }
                        ],
                        "carrierCode": "016",
                        "airlineCode": "016",
                        "numberOfPassengers": 1,
                        "passengerEmail": "john@gmail.com"
                    },
                    "type": "AIRLINE"
                },
                "required": [
                    "details"
                ],
                "type": "object"
            },
            "AirlineTripSegment": {
                "description": "The trip segment details",
                "example": {
                    "destinationAirportCode": "SYD",
                    "fareBasisCode": "YE3MGB",
                    "segmentId": "1",
                    "departureDate": "2025-01-01",
                    "flightCarrierCode": "016",
                    "departureAirportCode": "MAN",
                    "flightNumber": "BA98"
                },
                "properties": {
                    "fareBasisCode": {
                        "description": "The fare basis code",
                        "example": "YE3MGB",
                        "type": "string"
                    },
                    "departureAirportCode": {
                        "description": "The departure airport code",
                        "example": "MAN",
                        "type": "string"
                    },
                    "destinationAirportCode": {
                        "description": "The destination airport code",
                        "example": "SYD",
                        "type": "string"
                    },
                    "flightNumber": {
                        "description": "The flight number",
                        "example": "BA98",
                        "type": "string"
                    },
                    "departureDate": {
                        "description": "The departure date",
                        "example": "2025-01-01",
                        "format": "date",
                        "type": "string"
                    },
                    "flightCarrierCode": {
                        "description": "The flight carrier code",
                        "example": "016",
                        "type": "string"
                    },
                    "segmentId": {
                        "description": "The trip segment ID",
                        "example": "1",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "AuthenticationSettings": {
                "description": "The authorization authentication settings.",
                "discriminator": {
                    "mapping": {
                        "SCAN_CODE": "#/components/schemas/ScanCodeAuthenticationSettings",
                        "EXTERNAL_3DS": "#/components/schemas/ThreeDSecureAuthenticationSettings",
                        "REDIRECT": "#/components/schemas/RedirectAuthenticationSettings"
                    },
                    "propertyName": "type"
                },
                "properties": {
                    "type": {
                        "type": "string"
                    }
                },
                "required": [
                    "type"
                ],
                "type": "object"
            },
            "BankAccountDetails": {
                "description": "The bank account details",
                "example": {
                    "bankCode": "12341234",
                    "holderName": "John Doe",
                    "iban": "DE75512108001245126199",
                    "debitMandateId": "debitMandateId",
                    "swiftCode": "DEUTDEFF123",
                    "bankName": "My Bank",
                    "accountNumber": "007123456"
                },
                "properties": {
                    "accountNumber": {
                        "description": "The account number.",
                        "example": "007123456",
                        "type": "string"
                    },
                    "holderName": {
                        "description": "The account holder name.",
                        "example": "John Doe",
                        "type": "string"
                    },
                    "iban": {
                        "description": "The IBAN.",
                        "example": "DE75512108001245126199",
                        "type": "string"
                    },
                    "swiftCode": {
                        "description": "The SWIFT code.",
                        "example": "DEUTDEFF123",
                        "type": "string"
                    },
                    "bankName": {
                        "description": "The bank name.",
                        "example": "My Bank",
                        "type": "string"
                    },
                    "bankCode": {
                        "description": "The bank code.",
                        "example": "12341234",
                        "type": "string"
                    },
                    "debitMandateId": {
                        "description": "The reference id for a mandate that allows debit charges on the bank account.",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "BankAccountInstrument": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/PaymentInstrument"
                    },
                    {
                        "properties": {
                            "details": {
                                "$ref": "#/components/schemas/BankAccountDetails"
                            },
                            "type": {
                                "description": "The BANK_ACCOUNT payment instrument type",
                                "enum": [
                                    "BANK_ACCOUNT"
                                ],
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                ],
                "example": {
                    "details": {
                        "bankCode": "12341234",
                        "holderName": "John Doe",
                        "iban": "DE75512108001245126199",
                        "debitMandateId": "debitMandateId",
                        "swiftCode": "DEUTDEFF123",
                        "bankName": "My Bank",
                        "accountNumber": "007123456"
                    },
                    "type": "BANK_ACCOUNT"
                },
                "required": [
                    "details"
                ],
                "type": "object"
            },
            "Challenge": {
                "description": "The 3DS authentication challenge details.",
                "properties": {
                    "preference": {
                        "description": "The 3DS authentication challenge initialization preference.",
                        "enum": [
                            "NO_PREFERENCE",
                            "NO_CHALLENGE_REQUESTED",
                            "CHALLENGE_REQUESTED",
                            "CHALLENGE_MANDATED",
                            "DATA_ONLY"
                        ],
                        "type": "string"
                    },
                    "outcome": {
                        "description": "The 3DS authentication challenge outcome.",
                        "enum": [
                            "CHALLENGE",
                            "FRICTIONLESS",
                            "DATA_ONLY"
                        ],
                        "type": "string"
                    },
                    "exemptionReason": {
                        "description": "The 3DS authentication challenge exemption reason.",
                        "enum": [
                            "LOW_VALUE",
                            "LOW_RISK",
                            "TRUSTED_BENEFICIARY",
                            "FIXED_RECURRING"
                        ],
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Consumer": {
                "description": "The consumer details to be used in subsequent payment charges.",
                "example": {
                    "country": "DE",
                    "taxIdentification": "798154336790",
                    "phone": "+491521111111",
                    "name": "John Smith",
                    "billingAddress": {
                        "firstName": "John",
                        "lastName": "Smith",
                        "country": "DE",
                        "phoneNumber": "01522113356",
                        "city": "Berlin",
                        "street": "Maple Street 102/B",
                        "postalCode": "41460",
                        "region": "Berlin"
                    },
                    "locale": "de-DE",
                    "merchantConsumerReference": "5c019979-0751-469e-96e0-b67f1d95c577",
                    "email": "johnsmith@example.com"
                },
                "properties": {
                    "name": {
                        "description": "The consumer name.",
                        "example": "John Smith",
                        "type": "string"
                    },
                    "email": {
                        "description": "The consumer email.",
                        "example": "johnsmith@example.com",
                        "type": "string"
                    },
                    "phone": {
                        "description": "The consumer phone number.",
                        "example": "+491521111111",
                        "type": "string"
                    },
                    "country": {
                        "description": "2-letter ISO code of the country where the payment instrument or account has been issued or established (for example GB, US, DE).",
                        "example": "DE",
                        "type": "string"
                    },
                    "locale": {
                        "description": "The locale describing the preferred language of the consumer",
                        "example": "de-DE",
                        "type": "string"
                    },
                    "taxIdentification": {
                        "description": "The consumer tax identification (Social security identification) eg: CPF in Brazil, NISS in Portugal, etc.",
                        "example": "798154336790",
                        "type": "string"
                    },
                    "merchantConsumerReference": {
                        "description": "The merchant provided consumer reference.",
                        "example": "5c019979-0751-469e-96e0-b67f1d95c577",
                        "type": "string"
                    },
                    "billingAddress": {
                        "$ref": "#/components/schemas/Address"
                    }
                },
                "required": [
                    "country",
                    "name"
                ],
                "type": "object"
            },
            "EducationIndustryData": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/IndustryData"
                    },
                    {
                        "properties": {
                            "type": {
                                "description": "The EDUCATION industry data type.",
                                "enum": [
                                    "EDUCATION"
                                ],
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                ],
                "type": "object"
            },
            "Frequency": {
                "description": "The frequency of payment charges",
                "example": {
                    "interval": 3,
                    "type": "MONTHLY"
                },
                "properties": {
                    "type": {
                        "description": "The type of frequency between consecutive payment charges.",
                        "enum": [
                            "DAILY",
                            "WEEKLY",
                            "MONTHLY",
                            "YEARLY"
                        ],
                        "example": "MONTHLY",
                        "type": "string"
                    },
                    "interval": {
                        "default": 1,
                        "description": "The interval between consecutive payment charges. The unit of the interval depends on the frequency type. For example, if type is MONTHLY and interval is 3, it means every 3 months.",
                        "example": 3,
                        "format": "int32",
                        "maximum": 1000,
                        "minimum": 1,
                        "type": "integer"
                    }
                },
                "required": [
                    "type"
                ],
                "type": "object"
            },
            "IndustryData": {
                "description": "The list of industry specific data.",
                "discriminator": {
                    "mapping": {
                        "AIRLINE": "#/components/schemas/AirlineIndustryData",
                        "EDUCATION": "#/components/schemas/EducationIndustryData"
                    },
                    "propertyName": "type"
                },
                "properties": {
                    "type": {
                        "type": "string"
                    }
                },
                "required": [
                    "type"
                ],
                "type": "object"
            },
            "InstallmentPlan": {
                "description": "Describes the financing details chosen by the consumer for this order",
                "example": {
                    "numberOfInstallments": 6
                },
                "properties": {
                    "numberOfInstallments": {
                        "description": "The number of installments the consumer will split the payment into.",
                        "format": "int32",
                        "type": "integer"
                    }
                },
                "required": [
                    "numberOfInstallments"
                ],
                "type": "object"
            },
            "InstrumentValidation": {
                "description": "If included, PPRO will try to validate the instrument with a nominal-amount authorization. If validation fails, the instrument creation request will fail",
                "properties": {
                    "currency": {
                        "description": "ISO 4217 3-letter currency code.",
                        "example": "EUR",
                        "maxLength": 3,
                        "minLength": 3,
                        "type": "string"
                    },
                    "taxIdentification": {
                        "description": "The consumer tax identification",
                        "example": "798154336790",
                        "type": "string"
                    }
                },
                "required": [
                    "currency"
                ],
                "type": "object"
            },
            "MockInstrument": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/PaymentInstrument"
                    },
                    {
                        "properties": {
                            "details": {
                                "additionalProperties": {
                                    "description": "The MOCK payment details",
                                    "type": "string"
                                },
                                "description": "The MOCK payment details",
                                "type": "object"
                            },
                            "type": {
                                "description": "The MOCK payment instrument type",
                                "enum": [
                                    "MOCK"
                                ],
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                ],
                "type": "object"
            },
            "Money": {
                "description": "Defines the amount of each subsequent payment charge. Defined in conjunction with 'amountType'.",
                "example": {
                    "currency": "EUR",
                    "value": 1000
                },
                "properties": {
                    "value": {
                        "description": "The amount in the payment charge currency's smallest unit.",
                        "example": 1000,
                        "format": "int64",
                        "type": "integer"
                    },
                    "currency": {
                        "description": "ISO 4217 3-letter currency code.",
                        "example": "EUR",
                        "maxLength": 3,
                        "minLength": 3,
                        "type": "string"
                    }
                },
                "required": [
                    "currency",
                    "value"
                ],
                "type": "object"
            },
            "Order": {
                "description": "The order details.",
                "example": {
                    "orderReferenceNumber": "orderReferenceNumber",
                    "shippingAddress": {
                        "firstName": "John",
                        "lastName": "Smith",
                        "country": "DE",
                        "phoneNumber": "01522113356",
                        "city": "Berlin",
                        "street": "Maple Street 102/B",
                        "postalCode": "41460",
                        "region": "Berlin"
                    },
                    "installmentPlan": {
                        "numberOfInstallments": 6
                    },
                    "industryData": [
                        {
                            "details": {
                                "passengerName": "John Doe",
                                "passengerPhone": "14082319231",
                                "pnr": "SKJ2NS01AS",
                                "tripSegments": [
                                    {
                                        "destinationAirportCode": "SYD",
                                        "fareBasisCode": "YE3MGB",
                                        "segmentId": "1",
                                        "departureDate": "2025-01-01",
                                        "flightCarrierCode": "016",
                                        "departureAirportCode": "MAN",
                                        "flightNumber": "BA98"
                                    },
                                    {
                                        "destinationAirportCode": "SYD",
                                        "fareBasisCode": "YE3MGB",
                                        "segmentId": "1",
                                        "departureDate": "2025-01-01",
                                        "flightCarrierCode": "016",
                                        "departureAirportCode": "MAN",
                                        "flightNumber": "BA98"
                                    }
                                ],
                                "carrierCode": "016",
                                "airlineCode": "016",
                                "numberOfPassengers": 1,
                                "passengerEmail": "john@gmail.com"
                            },
                            "type": "AIRLINE"
                        },
                        {
                            "details": {
                                "passengerName": "John Doe",
                                "passengerPhone": "14082319231",
                                "pnr": "SKJ2NS01AS",
                                "tripSegments": [
                                    {
                                        "destinationAirportCode": "SYD",
                                        "fareBasisCode": "YE3MGB",
                                        "segmentId": "1",
                                        "departureDate": "2025-01-01",
                                        "flightCarrierCode": "016",
                                        "departureAirportCode": "MAN",
                                        "flightNumber": "BA98"
                                    },
                                    {
                                        "destinationAirportCode": "SYD",
                                        "fareBasisCode": "YE3MGB",
                                        "segmentId": "1",
                                        "departureDate": "2025-01-01",
                                        "flightCarrierCode": "016",
                                        "departureAirportCode": "MAN",
                                        "flightNumber": "BA98"
                                    }
                                ],
                                "carrierCode": "016",
                                "airlineCode": "016",
                                "numberOfPassengers": 1,
                                "passengerEmail": "john@gmail.com"
                            },
                            "type": "AIRLINE"
                        }
                    ],
                    "totalTaxAmount": 0,
                    "orderItems": [
                        {
                            "amount": 1000,
                            "quantity": 1,
                            "name": "White T-Shirt",
                            "sku": "LS123456789",
                            "category": "bicycle"
                        },
                        {
                            "amount": 1000,
                            "quantity": 1,
                            "name": "White T-Shirt",
                            "sku": "LS123456789",
                            "category": "bicycle"
                        }
                    ]
                },
                "properties": {
                    "orderItems": {
                        "description": "The list of order items.",
                        "items": {
                            "$ref": "#/components/schemas/OrderItem"
                        },
                        "type": "array"
                    },
                    "shippingAddress": {
                        "$ref": "#/components/schemas/Address"
                    },
                    "industryData": {
                        "description": "The list of industry specific data.",
                        "items": {
                            "$ref": "#/components/schemas/Order_industryData_inner"
                        },
                        "type": "array"
                    },
                    "orderReferenceNumber": {
                        "description": "The merchant's internal order reference (if different from merchantPaymentChargeReference)",
                        "type": "string"
                    },
                    "totalTaxAmount": {
                        "description": "The total tax value paid by the consumer for the order (in same currency units as specified by amount.currency)",
                        "format": "int64",
                        "type": "integer"
                    },
                    "installmentPlan": {
                        "$ref": "#/components/schemas/InstallmentPlan"
                    }
                },
                "type": "object"
            },
            "OrderItem": {
                "description": "The list of order items.",
                "example": {
                    "amount": 1000,
                    "quantity": 1,
                    "name": "White T-Shirt",
                    "sku": "LS123456789",
                    "category": "bicycle"
                },
                "properties": {
                    "sku": {
                        "description": "The order item SKU.",
                        "example": "LS123456789",
                        "type": "string"
                    },
                    "category": {
                        "description": "The order item category.",
                        "example": "bicycle",
                        "type": "string"
                    },
                    "name": {
                        "description": "The order item name.",
                        "example": "White T-Shirt",
                        "type": "string"
                    },
                    "quantity": {
                        "description": "The order item quantity.",
                        "example": 1,
                        "format": "int32",
                        "type": "integer"
                    },
                    "amount": {
                        "description": "The amount to pay for each individual item in the payment charge currency's smallest unit.",
                        "example": 1000,
                        "format": "int64",
                        "type": "integer"
                    }
                },
                "required": [
                    "amount",
                    "name",
                    "quantity"
                ],
                "type": "object"
            },
            "PaymentInstrument": {
                "description": "The payment instrument",
                "discriminator": {
                    "mapping": {
                        "RAW_CARD": "#/components/schemas/RawCardInstrument",
                        "BANK_ACCOUNT": "#/components/schemas/BankAccountInstrument",
                        "UPI_AUTOPAY": "#/components/schemas/UpiAutopayInstrument",
                        "CARD_PPRO_VAULTED": "#/components/schemas/VaultedCardInstrument",
                        "MOCK": "#/components/schemas/MockInstrument"
                    },
                    "propertyName": "type"
                },
                "properties": {
                    "type": {
                        "type": "string"
                    }
                },
                "required": [
                    "type"
                ],
                "type": "object"
            },
            "RedirectAuthenticationSettings": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/AuthenticationSettings"
                    },
                    {
                        "properties": {
                            "settings": {
                                "$ref": "#/components/schemas/RedirectAuthenticationSettingsDetails"
                            },
                            "type": {
                                "description": "The REDIRECT authentication type settings.",
                                "enum": [
                                    "REDIRECT"
                                ],
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                ],
                "example": {
                    "settings": {
                        "returnUrl": "https://example.com/order_details?order_id=12345"
                    },
                    "type": "REDIRECT"
                },
                "type": "object"
            },
            "RedirectAuthenticationSettingsDetails": {
                "description": "The REDIRECT authentication settings.",
                "example": {
                    "returnUrl": "https://example.com/order_details?order_id=12345"
                },
                "properties": {
                    "returnUrl": {
                        "description": "The page where the consumer should be redirected to after the payment succeeds.",
                        "example": "https://example.com/order_details?order_id=12345",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "ScanCodeAuthenticationSettings": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/AuthenticationSettings"
                    },
                    {
                        "properties": {
                            "settings": {
                                "$ref": "#/components/schemas/ScanCodeAuthenticationSettingsDetails"
                            },
                            "type": {
                                "description": "The SCAN_CODE authentication type settings.",
                                "enum": [
                                    "SCAN_CODE"
                                ],
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                ],
                "type": "object"
            },
            "ScanCodeAuthenticationSettingsDetails": {
                "description": "The SCAN_CODE authentication settings.",
                "properties": {
                    "scanBy": {
                        "description": "Custom expiry date in ISO 8601 format.",
                        "example": "2023-03-26T20:24:27.123Z",
                        "format": "date-time",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "ThreeDSecure": {
                "description": "The EXTERNAL_3DS authentication settings.",
                "properties": {
                    "authenticationStatus": {
                        "description": "The 3DS authentication status code.",
                        "enum": [
                            "SUCCESS",
                            "ATTEMPT_ACKNOWLEDGED",
                            "FAILED",
                            "AUTHENTICATION_UNAVAILABLE"
                        ],
                        "type": "string"
                    },
                    "authenticationValue": {
                        "description": "The 3DS authentication CAVV.",
                        "type": "string"
                    },
                    "eci": {
                        "description": "The 3DS authentication ECI.",
                        "type": "string"
                    },
                    "version": {
                        "description": "The 3DS authentication version.",
                        "type": "string"
                    },
                    "externalId": {
                        "description": "The 3DS authentication transaction identifier.",
                        "type": "string"
                    },
                    "challenge": {
                        "$ref": "#/components/schemas/Challenge"
                    }
                },
                "type": "object"
            },
            "ThreeDSecureAuthenticationSettings": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/AuthenticationSettings"
                    },
                    {
                        "properties": {
                            "settings": {
                                "$ref": "#/components/schemas/ThreeDSecure"
                            },
                            "type": {
                                "description": "The EXTERNAL_3DS authentication type settings.",
                                "enum": [
                                    "EXTERNAL_3DS"
                                ],
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                ],
                "type": "object"
            },
            "UpiAutopayInstrument": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/PaymentInstrument"
                    },
                    {
                        "properties": {
                            "type": {
                                "description": "The UPI_AUTOPAY payment instrument type",
                                "enum": [
                                    "UPI_AUTOPAY"
                                ],
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                ],
                "type": "object"
            },
            "VaultedCardDetails": {
                "description": "The vaulted card details",
                "properties": {
                    "brand": {
                        "description": "The card brand",
                        "example": "VISA",
                        "type": "string"
                    },
                    "bin": {
                        "description": "The bank identification number",
                        "example": "1234",
                        "type": "string"
                    },
                    "last4Digits": {
                        "description": "The last 4 digits of the card",
                        "example": "1234",
                        "type": "string"
                    },
                    "expiryMonth": {
                        "description": "The card expiration month",
                        "example": 1,
                        "format": "int32",
                        "maximum": 12,
                        "minimum": 1,
                        "type": "integer"
                    },
                    "expiryYear": {
                        "description": "The card expiration year",
                        "example": 2024,
                        "format": "int32",
                        "minimum": 2000,
                        "type": "integer"
                    },
                    "holderName": {
                        "description": "The card holder name",
                        "example": "John Smith",
                        "type": "string"
                    },
                    "panAlias": {
                        "description": "The card PAN alias",
                        "type": "string"
                    },
                    "cvvAlias": {
                        "description": "The card CVV alias",
                        "example": "123",
                        "type": "string"
                    },
                    "isCvvPresent": {
                        "description": "Is card CVV present",
                        "example": true,
                        "type": "boolean"
                    }
                },
                "required": [
                    "bin",
                    "brand",
                    "expiryMonth",
                    "expiryYear",
                    "holderName",
                    "last4Digits"
                ],
                "type": "object"
            },
            "VaultedCardInstrument": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/PaymentInstrument"
                    },
                    {
                        "properties": {
                            "details": {
                                "$ref": "#/components/schemas/VaultedCardDetails"
                            },
                            "validate": {
                                "$ref": "#/components/schemas/InstrumentValidation"
                            },
                            "type": {
                                "description": "The CARD_PPRO_VAULTED payment instrument type",
                                "enum": [
                                    "CARD_PPRO_VAULTED"
                                ],
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                ],
                "type": "object"
            },
            "AgreementResponse": {
                "example": {
                    "amountType": "MAX",
                    "amount": {
                        "currency": "EUR",
                        "value": 1000
                    },
                    "endDate": "2023-03-26T20:24:27.123Z",
                    "instrumentId": "instrumentId",
                    "description": "description",
                    "merchantPaymentAgreementReference": "merchantPaymentAgreementReference",
                    "merchant": {
                        "id": "merchant001"
                    },
                    "history": [
                        {
                            "id": "ahist_ufJuwjMY21NVK4dkjee3",
                            "status": "SUCCEDED",
                            "createdAt": "2023-03-26T20:24:27.123Z"
                        }
                    ],
                    "frequency": {
                        "interval": 3,
                        "type": "MONTHLY"
                    },
                    "createdAt": "2023-03-26T20:24:27.123Z",
                    "authenticationMethods": [
                        {
                            "details": {
                                "mobileIntentUri": "upiGlobal://pay?tr=123&from_app=true"
                            },
                            "type": "APP_INTENT"
                        },
                        {
                            "details": {
                                "mobileIntentUri": "upiGlobal://pay?tr=123&from_app=true"
                            },
                            "type": "APP_INTENT"
                        }
                    ],
                    "failure": {
                        "failureCode": "failureCode",
                        "providerFailureCode": "providerFailureCode",
                        "failureType": "INTERNAL_ERROR",
                        "failureMessage": "failureMessage"
                    },
                    "paymentMethod": "UPI_AUTOPAY",
                    "id": "agr_pmCQxjxTj35kx6KaSgOJh",
                    "startDate": "2023-03-26T20:24:27.123Z",
                    "consumer": {
                        "country": "DE",
                        "taxIdentification": "798154336790",
                        "phone": "+491521111111",
                        "name": "John Smith",
                        "billingAddress": {
                            "firstName": "John",
                            "lastName": "Smith",
                            "country": "DE",
                            "phoneNumber": "01522113356",
                            "city": "Berlin",
                            "street": "Maple Street 102/B",
                            "postalCode": "41460",
                            "region": "Berlin"
                        },
                        "locale": "de-DE",
                        "merchantConsumerReference": "5c019979-0751-469e-96e0-b67f1d95c577",
                        "email": "johnsmith@example.com"
                    },
                    "initialPaymentChargeId": "initialPaymentChargeId",
                    "status": "ACTIVE",
                    "updatedAt": "2023-03-26T20:24:27.123Z"
                },
                "properties": {
                    "id": {
                        "description": "The payment agreement ID",
                        "example": "agr_pmCQxjxTj35kx6KaSgOJh",
                        "type": "string"
                    },
                    "status": {
                        "description": "The payment agreement status",
                        "enum": [
                            "INITIALIZING",
                            "AUTHENTICATION_PENDING",
                            "ACTIVE",
                            "REVOKED_BY_CONSUMER",
                            "REVOKED_BY_MERCHANT",
                            "FAILED"
                        ],
                        "example": "ACTIVE",
                        "type": "string"
                    },
                    "failure": {
                        "$ref": "#/components/schemas/ProcessingFailure"
                    },
                    "description": {
                        "description": "The description of the agreement",
                        "type": "string"
                    },
                    "merchantPaymentAgreementReference": {
                        "description": "The merchant payment agreement reference",
                        "type": "string"
                    },
                    "paymentMethod": {
                        "description": "The payment method which was used to process the payment charge.",
                        "example": "UPI_AUTOPAY",
                        "type": "string"
                    },
                    "frequency": {
                        "$ref": "#/components/schemas/Frequency"
                    },
                    "startDate": {
                        "description": "The start date of the agreement",
                        "example": "2023-03-26T20:24:27.123Z",
                        "format": "date-time",
                        "type": "string"
                    },
                    "endDate": {
                        "description": "The end date of the agreement",
                        "example": "2023-03-26T20:24:27.123Z",
                        "format": "date-time",
                        "type": "string"
                    },
                    "amount": {
                        "$ref": "#/components/schemas/Money"
                    },
                    "instrumentId": {
                        "description": "The ID of the payment instrument associated with the agreement.",
                        "type": "string"
                    },
                    "amountType": {
                        "description": "Defines if the provided 'amount' is a maximum value or an exact value.",
                        "enum": [
                            "MAX",
                            "EXACT"
                        ],
                        "type": "string"
                    },
                    "merchant": {
                        "$ref": "#/components/schemas/Merchant"
                    },
                    "consumer": {
                        "$ref": "#/components/schemas/Consumer"
                    },
                    "authenticationMethods": {
                        "description": "The available authentication methods for the authorization.",
                        "items": {
                            "$ref": "#/components/schemas/AgreementResponse_authenticationMethods_inner"
                        },
                        "type": "array"
                    },
                    "history": {
                        "description": "History of changes regarding the agreement status",
                        "example": [
                            {
                                "id": "ahist_ufJuwjMY21NVK4dkjee3",
                                "status": "SUCCEDED",
                                "createdAt": "2023-03-26T20:24:27.123Z"
                            }
                        ],
                        "items": {
                            "$ref": "#/components/schemas/HistoryEntryResponse"
                        },
                        "type": "array"
                    },
                    "initialPaymentChargeId": {
                        "description": "The payment charge ID of the initial charge generated by this agreement",
                        "type": "string"
                    },
                    "createdAt": {
                        "description": "The agreement creation timestamp in ISO 8601 format.",
                        "example": "2023-03-26T20:24:27.123Z",
                        "format": "date-time",
                        "type": "string"
                    },
                    "updatedAt": {
                        "description": "The agreement update timestamp in ISO 8601 format.",
                        "example": "2023-03-26T20:24:27.123Z",
                        "format": "date-time",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "AppIntentAuthenticationDetails": {
                "description": "The APP_INTENT authentication details.",
                "example": {
                    "mobileIntentUri": "upiGlobal://pay?tr=123&from_app=true"
                },
                "properties": {
                    "mobileIntentUri": {
                        "description": "Intent URI to be used for app-to-app mobile flows.",
                        "example": "upiGlobal://pay?tr=123&from_app=true",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "AppIntentAuthenticationMethod": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/AuthenticationMethod"
                    },
                    {
                        "properties": {
                            "details": {
                                "$ref": "#/components/schemas/AppIntentAuthenticationDetails"
                            },
                            "type": {
                                "description": "The APP_INTENT authentication type.",
                                "enum": [
                                    "APP_INTENT"
                                ],
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                ],
                "example": {
                    "details": {
                        "mobileIntentUri": "upiGlobal://pay?tr=123&from_app=true"
                    },
                    "type": "APP_INTENT"
                },
                "type": "object"
            },
            "AuthenticationMethod": {
                "description": "The available authentication methods for the authorization.",
                "discriminator": {
                    "mapping": {
                        "APP_INTENT": "#/components/schemas/AppIntentAuthenticationMethod",
                        "SCAN_CODE": "#/components/schemas/ScanCodeAuthenticationMethod",
                        "REDIRECT": "#/components/schemas/RedirectAuthenticationMethod"
                    },
                    "propertyName": "type"
                },
                "properties": {
                    "type": {
                        "enum": [
                            "REDIRECT",
                            "SCAN_CODE",
                            "APP_INTENT",
                            "EXTERNAL_3DS"
                        ],
                        "type": "string"
                    },
                    "details": {
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "HistoryEntryResponse": {
                "description": "History of changes regarding the agreement status",
                "example": [
                    {
                        "id": "ahist_ufJuwjMY21NVK4dkjee3",
                        "status": "SUCCEDED",
                        "createdAt": "2023-03-26T20:24:27.123Z"
                    }
                ],
                "properties": {
                    "id": {
                        "description": "The history entry ID",
                        "example": "ahist_pmCQxjxTj35kx6KaSgOJh",
                        "type": "string"
                    },
                    "status": {
                        "description": "The history entry status",
                        "enum": [
                            "INITIALIZING",
                            "AUTHENTICATION_PENDING",
                            "ACTIVE",
                            "REVOKED_BY_CONSUMER",
                            "REVOKED_BY_MERCHANT",
                            "FAILED"
                        ],
                        "example": "ACTIVE",
                        "type": "string"
                    },
                    "failure": {
                        "$ref": "#/components/schemas/ProcessingFailure"
                    },
                    "createdAt": {
                        "description": "The history entry timestamp",
                        "example": "2023-03-26T20:24:27.123Z",
                        "format": "date-time",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Merchant": {
                "description": "The merchant details.",
                "example": {
                    "id": "merchant001"
                },
                "properties": {
                    "id": {
                        "description": "The merchant identifier provided by PPRO during onboarding.",
                        "example": "merchant001",
                        "type": "string"
                    }
                },
                "required": [
                    "id"
                ],
                "type": "object"
            },
            "ProcessingFailure": {
                "description": "The processing failure, if the operation failed.",
                "example": {
                    "failureCode": "failureCode",
                    "providerFailureCode": "providerFailureCode",
                    "failureType": "INTERNAL_ERROR",
                    "failureMessage": "failureMessage"
                },
                "nullable": true,
                "properties": {
                    "failureType": {
                        "description": "The failure type.",
                        "enum": [
                            "INTERNAL_ERROR",
                            "INTERNAL_DECLINE",
                            "PROVIDER_ERROR",
                            "PROVIDER_DECLINE"
                        ],
                        "type": "string"
                    },
                    "failureCode": {
                        "description": "The failure code.",
                        "type": "string"
                    },
                    "providerFailureCode": {
                        "description": "The payment provider failure code.",
                        "type": "string"
                    },
                    "failureMessage": {
                        "description": "The failure message.",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "RedirectAuthenticationDetails": {
                "description": "The REDIRECT authentication details.",
                "properties": {
                    "requestUrl": {
                        "description": "The URL where the consumer should be redirected in order to authenticate the agreement.",
                        "type": "string"
                    },
                    "requestMethod": {
                        "description": "The redirect HTTP method.",
                        "enum": [
                            "GET",
                            "POST"
                        ],
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "RedirectAuthenticationMethod": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/AuthenticationMethod"
                    },
                    {
                        "properties": {
                            "details": {
                                "$ref": "#/components/schemas/RedirectAuthenticationDetails"
                            },
                            "type": {
                                "description": "The REDIRECT authentication type.",
                                "enum": [
                                    "REDIRECT"
                                ],
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                ],
                "type": "object"
            },
            "ScanCodeAuthenticationDetails": {
                "description": "The SCAN_CODE authentication details.",
                "properties": {
                    "codeType": {
                        "description": "The Scan Code type selected.",
                        "enum": [
                            "QR",
                            "UPC",
                            "ITF",
                            "CODE128"
                        ],
                        "type": "string"
                    },
                    "codeImage": {
                        "description": "An already-rendered Scan Code image for ease of integration.",
                        "example": "https://authman-mobileapp.ppro.com/qr.png?payload=dXBpR2xvYmFsOi8vc3RhcnRfdHJhbnNhY3Rpb24/dHI9MTIzJmZyb21fcXI9dHJ1ZQ==",
                        "type": "string"
                    },
                    "codePayload": {
                        "description": "The Scan Code payload to construct the image on the partner side.",
                        "example": "upiGlobal://pay?tr=123&from_desktop=true",
                        "type": "string"
                    },
                    "codeDocument": {
                        "description": "The url to a pdf/html payslip document.",
                        "example": "https://urltodocument.com",
                        "type": "string"
                    },
                    "scanBy": {
                        "description": "The custom expiry timestamp for paying in ISO 8601 format.",
                        "example": "2023-03-26T20:24:27.123Z",
                        "format": "date-time",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "ScanCodeAuthenticationMethod": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/AuthenticationMethod"
                    },
                    {
                        "properties": {
                            "details": {
                                "$ref": "#/components/schemas/ScanCodeAuthenticationDetails"
                            },
                            "type": {
                                "description": "The SCAN_CODE authentication type.",
                                "enum": [
                                    "SCAN_CODE"
                                ],
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                ],
                "type": "object"
            },
            "ExceptionResponseBody": {
                "example": {
                    "extensions": {
                        "key": "{}"
                    },
                    "failureMessage": "failureMessage",
                    "status": 0,
                    "timestamp": "2000-01-23T04:56:07.000+00:00"
                },
                "properties": {
                    "status": {
                        "format": "int32",
                        "type": "integer"
                    },
                    "failureMessage": {
                        "type": "string"
                    },
                    "timestamp": {
                        "format": "date-time",
                        "type": "string"
                    },
                    "extensions": {
                        "additionalProperties": {
                            "type": "object"
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "AgreementChargeResponse": {
                "example": {
                    "country": "DE",
                    "captures": [
                        {
                            "createdAt": "2000-01-23T04:56:07.000+00:00",
                            "amount": 6,
                            "merchantCaptureReference": "merchantCaptureReference",
                            "failure": {
                                "failureCode": "failureCode",
[...]
