{"openapi":"3.1.0","info":{"title":"Business operations","version":"1.0.0","license":{"name":"Attribution-NonCommercial-ShareAlike 4.0 International","identifier":"CC-BY-NC-SA-4.0"}},"servers":[{"url":"https://api.mollie.com/v2"}],"security":[{"bearerAuth":[]}],"paths":{"/balances":{"get":{"summary":"List balances","tags":["Balances API"],"operationId":"list-balances","description":"Retrieve a list of the organization's balances, including the primary balance.\n\nThe results are paginated.","parameters":[{"name":"currency","description":"Optionally only return balances with the given currency. For example: `EUR`.","in":"query","schema":{"type":["string","null"]}},{"name":"from","description":"Provide an ID to start the result set from the item with the given ID and onwards. This allows you to paginate the result set.","in":"query","schema":{"type":["string","null"]}},{"name":"limit","description":"The maximum number of items to return. Defaults to 50 items.","in":"query","schema":{"type":["integer","null"],"minimum":1,"maximum":250,"default":50}},{"name":"testmode","description":"Most API credentials are specifically created for either live mode or test mode. In those cases the `testmode` query parameter can be omitted. For organization-level credentials such as OAuth access tokens, you can enable test mode by setting the `testmode` query parameter to `true`.\n\nTest entities cannot be retrieved when the endpoint is set to live mode, and vice versa.","in":"query","schema":{"type":["boolean","null"],"default":false}}],"responses":{"200":{"description":"A list of balance objects. For a complete reference of the balance object, refer to the [Get balance endpoint](get-balance) documentation.","content":{"application/hal+json":{"schema":{"type":"object","properties":{"count":{"type":"integer","description":"The number of items in this result set. If more items are available, a `_links.next` URL will be present in the result as well.\n\nThe maximum number of items per result set is controlled by the `limit` property provided in the request. The default limit is 50 items.","minimum":1,"maximum":250},"_embedded":{"type":"object","properties":{"balances":{"description":"An array of balance objects. For a complete reference of the balance object, refer to the [Get balance endpoint](get-balance) documentation.","type":"array","items":{"type":"object"}}}},"_links":{"type":"object","description":"Links to help navigate through the lists of items. Every URL object will contain an `href` and a `type` field.","properties":{"self":{"description":"The URL to the current set of items.","type":"object","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"previous":{"description":"The previous set of items, if available.","type":["object","null"],"properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"next":{"description":"The next set of items, if available.","type":["object","null"],"properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"documentation":{"type":"object","description":"In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}}}}}},"example":{"count":5,"_embedded":{"balances":[{"resource":"balance","id":"bal_gVMhHKqSSRYJyPsuoPNFH","mode":"live","currency":"EUR","description":"Primary balance","availableAmount":{"currency":"EUR","value":"905.25"},"pendingAmount":{"currency":"EUR","value":"0.00"},"transferFrequency":"twice-a-month","transferThreshold":{"currency":"EUR","value":"5.00"},"transferReference":"Mollie settlement","transferDestination":{"type":"bank-account","beneficiaryName":"John Doe","bankAccount":"NL55INGB0000000000"},"status":"active","_links":{"self":{"href":"...","type":"application/hal+json"}}},{},{},{},{}]},"_links":{"self":{"href":"...","type":"application/hal+json"},"previous":null,"next":{"href":"https://api.mollie.com/v2/balances?from=bal_gVMhHKqSSRYJyPsuoPABC&limit=5","type":"application/hal+json"},"documentation":{"href":"...","type":"text/html"}}}}}},"400":{"description":"The request contains issues. For example, if the specified `from` value is not a valid ID.","content":{"application/hal+json":{"schema":{"type":"object","description":"An error response object.","properties":{"status":{"type":"integer","description":"The status code of the error message. This is always the same code as the status code of the HTTP message itself.","minimum":400,"maximum":599},"title":{"type":"string","description":"The HTTP reason phrase of the error. For example, for a `404` error, the `title` will be `Not Found`."},"detail":{"type":"string","description":"A detailed human-readable description of the error that occurred."},"field":{"type":["string","null"],"description":"If the error was caused by a value provided by you in a specific field, the `field` property will contain the name of the field that caused the issue."},"_links":{"type":"object","properties":{"documentation":{"description":"The URL to the generic Mollie API error handling guide.","properties":{"href":{"default":"https://docs.mollie.com/errors"},"type":{"default":"text/html"}},"type":"object"}}}}},"example":{"status":400,"title":"Bad Request","detail":"Invalid cursor value","field":"from","_links":{"documentation":{"href":"...","type":"text/html"}}}}}},"404":{"description":"No entity with this ID exists.","content":{"application/hal+json":{"schema":{"type":"object","description":"An error response object.","properties":{"status":{"type":"integer","description":"The status code of the error message. This is always the same code as the status code of the HTTP message itself.","minimum":400,"maximum":599},"title":{"type":"string","description":"The HTTP reason phrase of the error. For example, for a `404` error, the `title` will be `Not Found`."},"detail":{"type":"string","description":"A detailed human-readable description of the error that occurred."},"field":{"type":["string","null"],"description":"If the error was caused by a value provided by you in a specific field, the `field` property will contain the name of the field that caused the issue."},"_links":{"type":"object","properties":{"documentation":{"description":"The URL to the generic Mollie API error handling guide.","properties":{"href":{"default":"https://docs.mollie.com/errors"},"type":{"default":"text/html"}},"type":"object"}}}}},"example":{"status":404,"title":"Not Found","detail":"No entity exists with token '7UhSN1zuXS'","_links":{"documentation":{"href":"...","type":"text/html"}}}}}}},"x-readme":{"code-samples":[{"language":"shell","code":"curl -X GET https://api.mollie.com/v2/balances \\\n    -H \"Authorization: Bearer access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\""},{"language":"php","install":"composer require mollie/mollie-api-php","code":"<?php\n$mollie = new \\Mollie\\Api\\MollieApiClient();\n$mollie->setAccessToken(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\");\n\n$balances = $mollie->balances();"},{"language":"node","install":"npm install @mollie/api-client","code":"/*\nWe don't have a Node.js code example for this\nAPI call yet.\n\nIf you have some time to spare, feel free to\nshare suggestions on our Discord:\nhttps://discord.gg/VaTVkXB4aQ\n*/"},{"language":"python","install":"pip install mollie-api-python","code":"from mollie.api.client import Client\n\nmollie_client = Client()\nmollie_client.set_access_token(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\")\n\nbalances = mollie_client.balances.list()"},{"language":"ruby","install":"gem install mollie-api-ruby","code":"require 'mollie-api-ruby'\n\nMollie::Client.configure do |config|\n  config.api_key = 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ'\nend\n\nbalances = Mollie::Balance.all"}]}}},"/balances/{id}":{"parameters":[{"schema":{"type":"string","example":"bal_gVMhHKqSSRYJyPsuoPNFH"},"name":"id","description":"Provide the ID of the item you want to perform this operation on.","in":"path","required":true}],"get":{"summary":"Get balance","tags":["Balances API"],"operationId":"get-balance","description":"When processing payments with Mollie, we put all pending funds — usually minus Mollie fees — on a balance. Once you have linked a bank account to your Mollie account, we can pay out your balance towards this bank account.\n\nWith the Balances API you can retrieve your current balance. The response includes two amounts:\n\n* The *pending amount*. These are payments that have been marked as `paid`, but are not yet available on your balance.\n* The *available amount*. This is the amount that you can get paid out to your bank account, or use for refunds.\n\nWith instant payment methods like iDEAL, payments are moved to the available balance instantly. With slower payment methods, like credit card for example, it can take a few days before the funds are available on your balance. These funds will be shown under the *pending amount* in the meanwhile.","parameters":[{"name":"testmode","description":"Most API credentials are specifically created for either live mode or test mode. In those cases the `testmode` query parameter can be omitted. For organization-level credentials such as OAuth access tokens, you can enable test mode by setting the `testmode` query parameter to `true`.\n\nTest entities cannot be retrieved when the endpoint is set to live mode, and vice versa.","in":"query","schema":{"type":["boolean","null"],"default":false}}],"responses":{"200":{"description":"The balance object.","content":{"application/hal+json":{"schema":{"type":"object","properties":{"resource":{"type":"string","description":"Indicates the response contains a balance object. Will always contain the string `balance` for this endpoint.","readOnly":true,"default":"balance"},"id":{"type":"string","description":"The identifier uniquely referring to this balance. Example: `bal_gVMhHKqSSRYJyPsuoPNFH`.","readOnly":true},"mode":{"type":"string","description":"Whether this entity was created in live mode or in test mode.\n\nPossible values: `live` `test`","readOnly":true},"currency":{"type":"string","description":"The balance's ISO 4217 currency code.","readOnly":true},"description":{"type":"string","description":"The description or name of the balance. Can be used to denote the purpose of the balance.","readOnly":true},"status":{"type":"string","description":"The status of the balance.\n\nPossible values:\n\n* `active` — The balance is operational and ready to be used.\n* `inactive` — The account is being validated by our team, or the balance has been blocked. Contact us for more information.","readOnly":true},"transferFrequency":{"type":"string","description":"The frequency with which the available amount on the balance will be settled to the configured transfer destination.\n\nPossible values:\n\n* `daily` — Every business day\n* `twice-a-week` — Every Tuesday and Friday\n* `every-monday` — Every Monday\n* `every-tuesday` — Every Tuesday\n* `every-wednesday` — Every Wednesday\n* `every-thursday` — Every Thursday\n* `every-friday` — Every Friday\n* `twice-a-month` — On the first and the fifteenth of the month\n* `monthly` — On the first of the month\n* `never` — Automatic settlements are paused for this balance\n\nSettlements created during weekends or on bank holidays will take place on the next business day.","readOnly":true},"transferThreshold":{"description":"The minimum amount configured for scheduled automatic settlements. As soon as the amount on the balance exceeds this threshold, the complete balance will be paid out to the transfer destination according to the configured frequency.","readOnly":true,"type":"object","required":["currency","value"],"properties":{"currency":{"type":"string","description":"A three-character ISO 4217 currency code.","example":"EUR"},"value":{"type":"string","description":"A string containing an exact monetary amount in the given currency.","example":"10.00"}}},"transferReference":{"type":["string","null"],"description":"The transfer reference set to be included in all the transfers for this balance.","readOnly":true},"transferDestination":{"type":"object","description":"The destination where the available amount will be automatically transferred to according to the configured transfer frequency.","properties":{"type":{"type":"string","description":"The default destination of automatic scheduled transfers. Currently only `bank-account` is supported.\n\nPossible values:\n* `bank-account` — Transfer the balance amount to an external bank account"},"bankAccount":{"type":"string","description":"The configured bank account number of the beneficiary the balance amount is to be transferred to."},"beneficiaryName":{"type":"string","description":"The full name of the beneficiary the balance amount is to be transferred to."}},"readOnly":true},"availableAmount":{"description":"The amount directly available on the balance, e.g. `{\"currency\":\"EUR\", \"value\":\"100.00\"}`.","readOnly":true,"type":"object","required":["currency","value"],"properties":{"currency":{"type":"string","description":"A three-character ISO 4217 currency code.","example":"EUR"},"value":{"type":"string","description":"A string containing an exact monetary amount in the given currency.","example":"10.00"}}},"pendingAmount":{"description":"The total amount that is queued to be transferred to your balance. For example, a credit card payment can take a few days to clear.","readOnly":true,"type":"object","required":["currency","value"],"properties":{"currency":{"type":"string","description":"A three-character ISO 4217 currency code.","example":"EUR"},"value":{"type":"string","description":"A string containing an exact monetary amount in the given currency.","example":"10.00"}}},"createdAt":{"type":"string","description":"The entity's date and time of creation, in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.","readOnly":true},"_links":{"type":"object","description":"An object with several relevant URLs. Every URL object will contain an `href` and a `type` field.","properties":{"self":{"type":"object","description":"In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"documentation":{"type":"object","description":"In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}}},"readOnly":true}}},"example":{"resource":"balance","id":"bal_gVMhHKqSSRYJyPsuoPNFH","mode":"live","currency":"EUR","description":"Primary balance","availableAmount":{"currency":"EUR","value":"905.25"},"pendingAmount":{"currency":"EUR","value":"0.00"},"transferFrequency":"twice-a-month","transferThreshold":{"currency":"EUR","value":"5.00"},"transferReference":"Mollie settlement","transferDestination":{"type":"bank-account","beneficiaryName":"John Doe","bankAccount":"NL55INGB0000000000"},"status":"active","_links":{"self":{"href":"...","type":"application/hal+json"},"documentation":{"href":"...","type":"text/html"}}}}}},"404":{"description":"No entity with this ID exists.","content":{"application/hal+json":{"schema":{"type":"object","description":"An error response object.","properties":{"status":{"type":"integer","description":"The status code of the error message. This is always the same code as the status code of the HTTP message itself.","minimum":400,"maximum":599},"title":{"type":"string","description":"The HTTP reason phrase of the error. For example, for a `404` error, the `title` will be `Not Found`."},"detail":{"type":"string","description":"A detailed human-readable description of the error that occurred."},"field":{"type":["string","null"],"description":"If the error was caused by a value provided by you in a specific field, the `field` property will contain the name of the field that caused the issue."},"_links":{"type":"object","properties":{"documentation":{"description":"The URL to the generic Mollie API error handling guide.","properties":{"href":{"default":"https://docs.mollie.com/errors"},"type":{"default":"text/html"}},"type":"object"}}}}},"example":{"status":404,"title":"Not Found","detail":"No entity exists with token '7UhSN1zuXS'","_links":{"documentation":{"href":"...","type":"text/html"}}}}}}},"x-readme":{"code-samples":[{"language":"shell","code":"curl -X GET https://api.mollie.com/v2/balances/bal_gVMhHKqSSRYJyPsuoPNFH \\\n    -H \"Authorization: Bearer access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\""},{"language":"php","install":"composer require mollie/mollie-api-php","code":"<?php\n$mollie = new \\Mollie\\Api\\MollieApiClient();\n$mollie->setAccessToken(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\");\n\n$balance = $mollie->balances->get(\"bal_gVMhHKqSSRYJyPsuoPNFH\");"},{"language":"node","install":"npm install @mollie/api-client","code":"/*\nWe don't have a Node.js code example for this\nAPI call yet.\n\nIf you have some time to spare, feel free to\nshare suggestions on our Discord:\nhttps://discord.gg/VaTVkXB4aQ\n*/"},{"language":"python","install":"pip install mollie-api-python","code":"from mollie.api.client import Client\n\nmollie_client = Client()\nmollie_client.set_access_token(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\")\n\nbalance = mollie_client.balances.get(\"bal_gVMhHKqSSRYJyPsuoPNFH\")"},{"language":"ruby","install":"gem install mollie-api-ruby","code":"require 'mollie-api-ruby'\n\nMollie::Client.configure do |config|\n  config.api_key = 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ'\nend\n\nbalance = Mollie::Balance.get('bal_gVMhHKqSSRYJyPsuoPNFH')"}]}}},"/balances/primary":{"get":{"summary":"Get primary balance","tags":["Balances API"],"operationId":"get-primary-balance","description":"Retrieve the primary balance. This is the balance of your account's primary currency, where all payments are settled to by default.\n\nThis endpoint is a convenient alias of the [Get balance](get-balance) endpoint. For a complete reference of the balance object, refer to that endpoint's documentation.","responses":{"200":{"description":"The primary balance object. For a complete reference of the balance object, refer to the [Get balance](get-balance) endpoint documentation.","content":{"application/hal+json":{"schema":{}}}}},"x-readme":{"code-samples":[{"language":"shell","code":"curl -X GET https://api.mollie.com/v2/balances/primary \\\n    -H \"Authorization: Bearer access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\""},{"language":"php","install":"composer require mollie/mollie-api-php","code":"<?php\n$mollie = new \\Mollie\\Api\\MollieApiClient();\n$mollie->setAccessToken(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\");\n\n$balance = $mollie->balances->primary();"},{"language":"node","install":"npm install @mollie/api-client","code":"/*\nWe don't have a Node.js code example for this\nAPI call yet.\n\nIf you have some time to spare, feel free to\nshare suggestions on our Discord:\nhttps://discord.gg/VaTVkXB4aQ\n*/"},{"language":"python","install":"pip install mollie-api-python","code":"from mollie.api.client import Client\n\nmollie_client = Client()\nmollie_client.set_access_token(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\")\n\nbalance = mollie_client.balances.get(\"primary\")"},{"language":"ruby","install":"gem install mollie-api-ruby","code":"# We don't have a Ruby code example for this\n# API call yet.\n# \n# If you have some time to spare, feel free to\n# share suggestions on our Discord:\n# https://discord.gg/VaTVkXB4aQ"}]}}},"/balances/{balanceId}/report":{"parameters":[{"name":"balanceId","description":"Provide the ID of the related balance.","in":"path","required":true,"schema":{"type":"string","example":"bal_gVMhHKqSSRYJyPsuoPNFH"}}],"get":{"summary":"Get balance report","tags":["Balances API"],"operationId":"get-balance-report","description":"Retrieve a summarized report for all transactions on a given balance within a given timeframe.\n\nThe API also provides a detailed report on all 'prepayments' for Mollie fees that were deducted from your balance during the reported period, ahead of your Mollie invoice.\n\nThe alias `primary` can be used instead of the balance ID to refer to the organization's primary balance.","parameters":[{"name":"from","description":"The start date of the report, in `YYYY-MM-DD` format. The from date is 'inclusive', and in Central European Time. This means a report with for example `from=2024-01-01` will include transactions from 2024-01-01 0:00:00 CET and onwards.","in":"query","schema":{"type":"string"},"required":true},{"name":"until","description":"The end date of the report, in `YYYY-MM-DD` format. The until date is 'exclusive', and in Central European Time. This means a report with for example `until=2024-02-01` will include transactions up until 2024-01-31 23:59:59 CET.","in":"query","schema":{"type":"string"},"required":true},{"name":"grouping","description":"You can retrieve reports in two different formats. With the `status-balances` format, transactions are grouped by status (e.g. `pending`, `available`), then by transaction type, and then by other sub-groupings where available (e.g. payment method).\n\nWith the `transaction-categories` format, transactions are grouped by transaction type, then by status, and then again by other sub-groupings where available.\n\nPossible values: `status-balances` `transaction-categories` (default: `status-balances`)","in":"query","schema":{"type":["string","null"]}},{"name":"testmode","description":"Most API credentials are specifically created for either live mode or test mode. In those cases the `testmode` query parameter can be omitted. For organization-level credentials such as OAuth access tokens, you can enable test mode by setting the `testmode` query parameter to `true`.\n\nTest entities cannot be retrieved when the endpoint is set to live mode, and vice versa.","in":"query","schema":{"type":["boolean","null"],"default":false}}],"responses":{"200":{"description":"The balance report object.","content":{"application/hal+json":{"schema":{"type":"object","properties":{"resource":{"type":"string","description":"Indicates the response contains a balance report object. Will always contain the string `balance-report` for this endpoint.","readOnly":true,"default":"balance-report"},"balanceId":{"type":"string","description":"The ID of the balance this report is generated for."},"timeZone":{"type":"string","description":"The time zone used for the from and until parameters. Currently only time zone `Europe/Amsterdam` is supported."},"from":{"type":"string","description":"The start date of the report, in `YYYY-MM-DD` format. The from date is 'inclusive', and in Central European Time. This means a report with for example `from=2024-01-01` will include movements of 2024-01-01 0:00:00 CET and onwards."},"until":{"type":"string","description":"The end date of the report, in `YYYY-MM-DD` format. The until date is 'exclusive', and in Central European Time. This means a report with for example `until=2024-02-01` will include movements up until 2024-01-31 23:59:59 CET."},"grouping":{"type":"string","description":"You can retrieve reports in two different formats. With the `status-balances` format, transactions are grouped by status (e.g. `pending`, `available`), then by direction of movement (e.g. moved from pending to available), then by transaction type, and then by other sub-groupings where available (e.g. payment method).\n\nWith the `transaction-categories` format, transactions are grouped by transaction type, then by direction of movement, and then again by other sub-groupings where available.\n\nBoth reporting formats will always contain opening and closing amounts that correspond to the start and end dates of the report.\n\nPossible values: `status-balances` `transaction-categories` (default: `status-balances`)"},"totals":{"type":"object","description":"Totals are grouped according to the chosen grouping rule. The example response should give a good idea of what a typical grouping looks like.\n\nIf grouping `status-balances` is chosen, the main grouping is as follows:\n\n* `pendingBalance` containing an `open`, `pending`, `movedToAvailable`, and `close` sub-group\n* `availableBalance` containing an `open`, `movedFromPending`, `immediatelyAvailable`, and `close` sub-group\n\nIf grouping `transaction-categories` is chosen, the main grouping is as follows:\n\n* `open` and `close` groups, each containing a `pending` and `available` sub-group\n* Transaction type groups such as `payments` or `refunds`, each containing a `pending`, `movedToAvailable`, and `immediatelyAvailable` sub-group\n\nEach sub-group typically has:\n\n* An `amount` object containing the group's total amount\n* A `count` integer if relevant (for example, counting the number of refunds)\n* A `subtotals` array containing more sub-group objects if applicable"},"_links":{"type":"object","description":"An object with several relevant URLs. Every URL object will contain an `href` and a `type` field.","properties":{"self":{"type":"object","description":"In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"documentation":{"type":"object","description":"In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}}},"readOnly":true}}},"example":{"resource":"balance-report","balanceId":"bal_gVMhHKqSSRYJyPsuoPNFH","timeZone":"Europe/Amsterdam","from":"2024-01-01","until":"2024-01-31","grouping":"transaction-categories","totals":{"open":{"available":{"amount":{"currency":"EUR","value":"0.00"}},"pending":{"amount":{"currency":"EUR","value":"0.00"}}},"payments":{"immediatelyAvailable":{"amount":{"currency":"EUR","value":"0.00"}},"pending":{"amount":{"currency":"EUR","value":"4.98"},"subtotals":[{"transactionType":"payment","count":1,"amount":{"currency":"EUR","value":"4.98"},"subtotals":[{"method":"ideal","count":1,"amount":{"currency":"EUR","value":"4.98"}}]}]},"movedToAvailable":{"amount":{"currency":"EUR","value":"0.00"}}},"refunds":{},"capital":{},"chargebacks":{},"transfers":{},"fee-prepayments":{"immediatelyAvailable":{"amount":{"currency":"EUR","value":"0.00"}},"movedToAvailable":{"amount":{"currency":"EUR","value":"-0.36"},"subtotals":[{"prepaymentPartType":"fee","count":1,"amount":{"currency":"EUR","value":"-0.29"},"subtotals":[{"feeType":"payment-fee","method":"ideal","count":1,"amount":{"currency":"EUR","value":"-0.29"}}]},{"prepaymentPartType":"fee-vat","amount":{"currency":"EUR","value":"-0.0609"}},{"prepaymentPartType":"fee-rounding-compensation","amount":{"currency":"EUR","value":"-0.0091"}}]},"pending":{"amount":{"currency":"EUR","value":"-0.36"},"subtotals":[]}},"corrections":{},"close":{"available":{"amount":{"currency":"EUR","value":"0.00"}},"pending":{"amount":{"currency":"EUR","value":"4.32"}}}},"_links":{"self":{"href":"...","type":"application/hal+json"},"documentation":{"href":"...","type":"text/html"}}}}}},"404":{"description":"No entity with this ID exists.","content":{"application/hal+json":{"schema":{"type":"object","description":"An error response object.","properties":{"status":{"type":"integer","description":"The status code of the error message. This is always the same code as the status code of the HTTP message itself.","minimum":400,"maximum":599},"title":{"type":"string","description":"The HTTP reason phrase of the error. For example, for a `404` error, the `title` will be `Not Found`."},"detail":{"type":"string","description":"A detailed human-readable description of the error that occurred."},"field":{"type":["string","null"],"description":"If the error was caused by a value provided by you in a specific field, the `field` property will contain the name of the field that caused the issue."},"_links":{"type":"object","properties":{"documentation":{"description":"The URL to the generic Mollie API error handling guide.","properties":{"href":{"default":"https://docs.mollie.com/errors"},"type":{"default":"text/html"}},"type":"object"}}}}},"example":{"status":404,"title":"Not Found","detail":"No entity exists with token '7UhSN1zuXS'","_links":{"documentation":{"href":"...","type":"text/html"}}}}}}},"x-readme":{"code-samples":[{"language":"shell","code":"curl -X GET https://api.mollie.com/v2/balances/bal_gVMhHKqSSRYJyPsuoPNFH/report?from=2024-01-01&until=2024-02-01&grouping=transaction-categories \\\n    -H \"Authorization: Bearer access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\""},{"language":"php","install":"composer require mollie/mollie-api-php","code":"<?php\n$mollie = new \\Mollie\\Api\\MollieApiClient();\n$mollie->setAccessToken(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\");\n\n$report = $mollie->balanceReports->get(\n    \"bal_gVMhHKqSSRYJyPsuoPNFH\",\n    [\n        \"from\" => \"2024-01-01\",\n        \"until\" => \"2024-02-01\",\n        \"grouping\" => \"transaction-categories\",\n    ],\n);"},{"language":"node","install":"npm install @mollie/api-client","code":"/*\nWe don't have a Node.js code example for this\nAPI call yet.\n\nIf you have some time to spare, feel free to\nshare suggestions on our Discord:\nhttps://discord.gg/VaTVkXB4aQ\n*/"},{"language":"python","install":"pip install mollie-api-python","code":"'''\nWe don't have a Python code example for this\nAPI call yet.\n\nIf you have some time to spare, feel free to\nshare suggestions on our Discord:\nhttps://discord.gg/VaTVkXB4aQ\n'''"},{"language":"ruby","install":"gem install mollie-api-ruby","code":"# We don't have a Ruby code example for this\n# API call yet.\n# \n# If you have some time to spare, feel free to\n# share suggestions on our Discord:\n# https://discord.gg/VaTVkXB4aQ"}]}}},"/balances/{balanceId}/transactions":{"parameters":[{"name":"balanceId","description":"Provide the ID of the related balance.","in":"path","required":true,"schema":{"type":"string","example":"bal_gVMhHKqSSRYJyPsuoPNFH"}}],"get":{"summary":"List balance transactions","tags":["Balances API"],"operationId":"list-balance-transactions","description":"Retrieve a list of all balance transactions. Transactions include for example payments, refunds, chargebacks, and settlements.\n\nFor an aggregated report of these balance transactions, refer to the [Get balance report](get-balance-report) endpoint.\n\nThe alias `primary` can be used instead of the balance ID to refer to the organization's primary balance.\n\nThe results are paginated.","parameters":[{"name":"from","description":"Provide an ID to start the result set from the item with the given ID and onwards. This allows you to paginate the result set.","in":"query","schema":{"type":["string","null"]}},{"name":"limit","description":"The maximum number of items to return. Defaults to 50 items.","in":"query","schema":{"type":["integer","null"],"minimum":1,"maximum":250,"default":50}},{"name":"testmode","description":"Most API credentials are specifically created for either live mode or test mode. In those cases the `testmode` query parameter can be omitted. For organization-level credentials such as OAuth access tokens, you can enable test mode by setting the `testmode` query parameter to `true`.\n\nTest entities cannot be retrieved when the endpoint is set to live mode, and vice versa.","in":"query","schema":{"type":["boolean","null"],"default":false}}],"responses":{"200":{"description":"A list of balance transaction objects.","content":{"application/hal+json":{"schema":{"type":"object","properties":{"count":{"type":"integer","description":"The number of items in this result set. If more items are available, a `_links.next` URL will be present in the result as well.\n\nThe maximum number of items per result set is controlled by the `limit` property provided in the request. The default limit is 50 items.","minimum":1,"maximum":250},"_embedded":{"type":"object","properties":{"balance_transactions":{"description":"An array of balance transaction objects.","type":"array","items":{"type":"object","properties":{"resource":{"type":"string","description":"Indicates the response contains a balance transaction object. Will always contain the string `balance_transaction` for this endpoint.","readOnly":true,"default":"balance_transaction"},"id":{"type":"string","description":"The identifier uniquely referring to this balance transaction. Example: `baltr_QM24QwzUWR4ev4Xfgyt29d`.","readOnly":true},"type":{"type":"string","description":"The type of transaction, for example `payment` or `refund`. Values include the below examples, although this list is not definitive.\n\n* Regular payment processing: `payment` `capture` `unauthorized-direct-debit` `failed-payment`\n* Refunds and chargebacks: `refund` `returned-refund` `chargeback` `chargeback-reversal`\n* Settlements: `outgoing-transfer` `canceled-outgoing-transfer` `returned-transfer`\n* Invoicing: `invoice-compensation` `balance-correction`\n* Mollie Connect: `application-fee` `split-payment` `platform-payment-refund` `platform-payment-chargeback`"},"resultAmount":{"description":"The final amount that was moved to or from the balance. If the transaction moves funds away from the balance, for example when it concerns a refund, the amount will be negative.","type":"object","required":["currency","value"],"properties":{"currency":{"type":"string","description":"A three-character ISO 4217 currency code.","example":"EUR"},"value":{"type":"string","description":"A string containing an exact monetary amount in the given currency.","example":"10.00"}}},"initialAmount":{"description":"The amount that was to be moved to or from the balance, excluding deductions. If the transaction moves funds away from the balance, for example when it concerns a refund, the amount will be negative.","type":"object","required":["currency","value"],"properties":{"currency":{"type":"string","description":"A three-character ISO 4217 currency code.","example":"EUR"},"value":{"type":"string","description":"A string containing an exact monetary amount in the given currency.","example":"10.00"}}},"deductions":{"description":"The total amount of deductions withheld from the movement. For example, if we charge a €0.29 fee on a €10 payment, the deductions amount will be `{\"currency\":\"EUR\", \"value\":\"-0.29\"}`.\n\nWhen moving funds to a balance, we always round the deduction to a 'real' amount. Any differences between these real-time rounded amounts and the final invoice will be compensated when the invoice is generated.","type":["object","null"],"required":["currency","value"],"properties":{"currency":{"type":"string","description":"A three-character ISO 4217 currency code.","example":"EUR"},"value":{"type":"string","description":"A string containing an exact monetary amount in the given currency.","example":"10.00"}}},"context":{"type":"object","description":"Depending on the type of the balance transaction, we will try to give more context about the specific event that triggered it. For example, the context object for a payment transaction will look like `{\"paymentId\": \"tr_7UhSN1zuXS\"}`.\n\nBelow is a complete list of the context values that each type of transaction will have.\n\n* Type `payment: `paymentId`\n* Type `capture`: `paymentId` `captureId`\n* Type `unauthorized-direct-debit`: `paymentId`\n* Type `failed-payment`: `paymentId`\n* Type `refund`: `paymentId` `refundId`\n* Type `returned-refund`: `paymentId` `refundId`\n* Type `chargeback`: `paymentId` `chargebackId`\n* Type `chargeback-reversal`: `paymentId`\n* Type `outgoing-transfer`: `settlementId` `transferId`\n* Type `canceled-outgoing-transfer`: `settlementId` `transferId`\n* Type `returned-transfer`: `settlementId` `transferId`\n* Type `invoice-compensation`: `invoiceId`\n* Type `balance-correction`: none\n* Type `application-fee`: `paymentId`\n* Type `split-payment`: `paymentId`\n* Type `platform-payment-refund`: `paymentId` `refundId`\n* Type `platform-payment-chargeback`: `paymentId` `chargebackId`"}}}}}},"_links":{"type":"object","description":"Links to help navigate through the lists of items. Every URL object will contain an `href` and a `type` field.","properties":{"self":{"description":"The URL to the current set of items.","type":"object","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"previous":{"description":"The previous set of items, if available.","type":["object","null"],"properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"next":{"description":"The next set of items, if available.","type":["object","null"],"properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"documentation":{"type":"object","description":"In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}}}}}},"example":{"count":5,"_embedded":{"balance_transactions":[{"resource":"balance_transaction","id":"baltr_QM24QwzUWR4ev4Xfgyt29A","type":"refund","resultAmount":{"currency":"EUR","value":"-10.25"},"initialAmount":{"currency":"EUR","value":"-10.00"},"deductions":{"currency":"EUR","value":"-0.25"},"context":{"paymentId":"tr_7UhSN1zuXS","refundId":"re_4qqhO89gsT"}},{"resource":"balance_transaction","id":"baltr_WhmDwNYR87FPDbiwBhUXCh","type":"payment","resultAmount":{"currency":"EUR","value":"9.71"},"initialAmount":{"currency":"EUR","value":"10.00"},"deductions":{"currency":"EUR","value":"-0.29"},"context":{"paymentId":"tr_7UhSN1zuXS"}},{},{},{}]},"_links":{"self":{"href":"...","type":"application/hal+json"},"previous":null,"next":{"href":"https://api.mollie.com/v2/balances/bal_gVMhHKqSSRYJyPsuoPNFH/transactions?from=baltr_rXeW2yPqqDUyfAqq8fS5Bg&limit=5","type":"application/hal+json"},"documentation":{"href":"...","type":"text/html"}}}}}},"400":{"description":"The request contains issues. For example, if the specified `from` value is not a valid ID.","content":{"application/hal+json":{"schema":{"type":"object","description":"An error response object.","properties":{"status":{"type":"integer","description":"The status code of the error message. This is always the same code as the status code of the HTTP message itself.","minimum":400,"maximum":599},"title":{"type":"string","description":"The HTTP reason phrase of the error. For example, for a `404` error, the `title` will be `Not Found`."},"detail":{"type":"string","description":"A detailed human-readable description of the error that occurred."},"field":{"type":["string","null"],"description":"If the error was caused by a value provided by you in a specific field, the `field` property will contain the name of the field that caused the issue."},"_links":{"type":"object","properties":{"documentation":{"description":"The URL to the generic Mollie API error handling guide.","properties":{"href":{"default":"https://docs.mollie.com/errors"},"type":{"default":"text/html"}},"type":"object"}}}}},"example":{"status":400,"title":"Bad Request","detail":"Invalid cursor value","field":"from","_links":{"documentation":{"href":"...","type":"text/html"}}}}}},"404":{"description":"No entity with this ID exists.","content":{"application/hal+json":{"schema":{"type":"object","description":"An error response object.","properties":{"status":{"type":"integer","description":"The status code of the error message. This is always the same code as the status code of the HTTP message itself.","minimum":400,"maximum":599},"title":{"type":"string","description":"The HTTP reason phrase of the error. For example, for a `404` error, the `title` will be `Not Found`."},"detail":{"type":"string","description":"A detailed human-readable description of the error that occurred."},"field":{"type":["string","null"],"description":"If the error was caused by a value provided by you in a specific field, the `field` property will contain the name of the field that caused the issue."},"_links":{"type":"object","properties":{"documentation":{"description":"The URL to the generic Mollie API error handling guide.","properties":{"href":{"default":"https://docs.mollie.com/errors"},"type":{"default":"text/html"}},"type":"object"}}}}},"example":{"status":404,"title":"Not Found","detail":"No entity exists with token '7UhSN1zuXS'","_links":{"documentation":{"href":"...","type":"text/html"}}}}}}},"x-readme":{"code-samples":[{"language":"shell","code":"curl -X GET https://api.mollie.com/v2/balances/bal_gVMhHKqSSRYJyPsuoPNFH/transactions \\\n    -H \"Authorization: Bearer access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\""},{"language":"php","install":"composer require mollie/mollie-api-php","code":"<?php\n$mollie = new \\Mollie\\Api\\MollieApiClient();\n$mollie->setAccessToken(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\");\n\n$balanceTransactions = $mollie->balanceTransactions->listFor(\"bal_gVMhHKqSSRYJyPsuoPNFH\");"},{"language":"node","install":"npm install @mollie/api-client","code":"/*\nWe don't have a Node.js code example for this\nAPI call yet.\n\nIf you have some time to spare, feel free to\nshare suggestions on our Discord:\nhttps://discord.gg/VaTVkXB4aQ\n*/"},{"language":"python","install":"pip install mollie-api-python","code":"'''\nWe don't have a Python code example for this\nAPI call yet.\n\nIf you have some time to spare, feel free to\nshare suggestions on our Discord:\nhttps://discord.gg/VaTVkXB4aQ\n'''"},{"language":"ruby","install":"gem install mollie-api-ruby","code":"# We don't have a Ruby code example for this\n# API call yet.\n# \n# If you have some time to spare, feel free to\n# share suggestions on our Discord:\n# https://discord.gg/VaTVkXB4aQ"}]}}},"/settlements":{"get":{"summary":"List settlements","tags":["Settlements API"],"operationId":"list-settlements","description":"Retrieve a list of all your settlements.\n\nThe results are paginated.","parameters":[{"name":"from","description":"Provide an ID to start the result set from the item with the given ID and onwards. This allows you to paginate the result set.","in":"query","schema":{"type":["string","null"]}},{"name":"limit","description":"The maximum number of items to return. Defaults to 50 items.","in":"query","schema":{"type":["integer","null"],"minimum":1,"maximum":250,"default":50}},{"name":"balanceId","in":"query","description":"Provide the token of the balance to filter the settlements by. This is the balance token that the settlement was settled to.","schema":{"type":["string","null"],"example":"bal_3kUf4yU2nT"}}],"responses":{"200":{"description":"A list of settlement objects. For a complete reference of the settlement object, refer to the [Get settlement endpoint](get-settlement) documentation.","content":{"application/hal+json":{"schema":{"type":"object","properties":{"count":{"type":"integer","description":"The number of items in this result set. If more items are available, a `_links.next` URL will be present in the result as well.\n\nThe maximum number of items per result set is controlled by the `limit` property provided in the request. The default limit is 50 items.","minimum":1,"maximum":250},"_embedded":{"type":"object","properties":{"settlements":{"description":"An array of settlement objects. For a complete reference of the settlement object, refer to the [Get settlement endpoint](get-settlement) documentation.","type":"array","items":{"type":"object"}}}},"_links":{"type":"object","description":"Links to help navigate through the lists of items. Every URL object will contain an `href` and a `type` field.","properties":{"self":{"description":"The URL to the current set of items.","type":"object","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"previous":{"description":"The previous set of items, if available.","type":["object","null"],"properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"next":{"description":"The next set of items, if available.","type":["object","null"],"properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"documentation":{"type":"object","description":"In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}}}}}},"example":{"count":5,"_embedded":{"settlements":[{"resource":"settlement","id":"stl_jDk30akdN","reference":"1234567.2404.03","status":"paidout","amount":{"currency":"EUR","value":"39.75"},"balanceId":"bal_3kUf4yU2nT","periods":{},"settledAt":"2024-04-06T09:41:44+00:00","_links":{"self":{"href":"...","type":"application/hal+json"}}},{},{},{},{}]},"_links":{"self":{"href":"...","type":"application/hal+json"},"previous":null,"next":{"href":"https://api.mollie.com/v2/settlements?from=cst_stTC2WHAuS&limit=5","type":"application/hal+json"},"documentation":{"href":"...","type":"text/html"}}}}}},"400":{"description":"The request contains issues. For example, if the specified `from` value is not a valid ID.","content":{"application/hal+json":{"schema":{"type":"object","description":"An error response object.","properties":{"status":{"type":"integer","description":"The status code of the error message. This is always the same code as the status code of the HTTP message itself.","minimum":400,"maximum":599},"title":{"type":"string","description":"The HTTP reason phrase of the error. For example, for a `404` error, the `title` will be `Not Found`."},"detail":{"type":"string","description":"A detailed human-readable description of the error that occurred."},"field":{"type":["string","null"],"description":"If the error was caused by a value provided by you in a specific field, the `field` property will contain the name of the field that caused the issue."},"_links":{"type":"object","properties":{"documentation":{"description":"The URL to the generic Mollie API error handling guide.","properties":{"href":{"default":"https://docs.mollie.com/errors"},"type":{"default":"text/html"}},"type":"object"}}}}},"example":{"status":400,"title":"Bad Request","detail":"Invalid cursor value","field":"from","_links":{"documentation":{"href":"...","type":"text/html"}}}}}},"404":{"description":"No entity with this ID exists.","content":{"application/hal+json":{"schema":{"type":"object","description":"An error response object.","properties":{"status":{"type":"integer","description":"The status code of the error message. This is always the same code as the status code of the HTTP message itself.","minimum":400,"maximum":599},"title":{"type":"string","description":"The HTTP reason phrase of the error. For example, for a `404` error, the `title` will be `Not Found`."},"detail":{"type":"string","description":"A detailed human-readable description of the error that occurred."},"field":{"type":["string","null"],"description":"If the error was caused by a value provided by you in a specific field, the `field` property will contain the name of the field that caused the issue."},"_links":{"type":"object","properties":{"documentation":{"description":"The URL to the generic Mollie API error handling guide.","properties":{"href":{"default":"https://docs.mollie.com/errors"},"type":{"default":"text/html"}},"type":"object"}}}}},"example":{"status":404,"title":"Not Found","detail":"No entity exists with token '7UhSN1zuXS'","_links":{"documentation":{"href":"...","type":"text/html"}}}}}}},"x-readme":{"code-samples":[{"language":"shell","code":"curl -X GET https://api.mollie.com/v2/settlements \\\n    -H \"Authorization: Bearer access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\""},{"language":"php","install":"composer require mollie/mollie-api-php","code":"<?php\n$mollie = new \\Mollie\\Api\\MollieApiClient();\n$mollie->setAccessToken(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\");\n\n$settlements = $mollie->settlements();"},{"language":"node","install":"npm install @mollie/api-client","code":"const { createMollieClient } = require('@mollie/api-client');\nconst mollieClient = createMollieClient({ accessToken: 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ' });\n\nconst settlements = await mollieClient.settlements.iterate();"},{"language":"python","install":"pip install mollie-api-python","code":"from mollie.api.client import Client\n\nmollie_client = Client()\nmollie_client.set_access_token(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\")\n\nsettlements = mollie_client.settlements.list()"},{"language":"ruby","install":"gem install mollie-api-ruby","code":"require 'mollie-api-ruby'\n\nMollie::Client.configure do |config|\n  config.api_key = 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ'\nend\n\nsettlements = Mollie::settlement.all"}]}}},"/settlements/{id}":{"parameters":[{"schema":{"type":"string","example":"stl_jDk30akdN"},"name":"id","description":"Provide the ID of the item you want to perform this operation on.","in":"path","required":true}],"get":{"summary":"Get settlement","tags":["Settlements API"],"operationId":"get-settlement","description":"Retrieve a single settlement by its ID.\n\nTo lookup settlements by their bank reference, replace the ID in the URL by a reference. For example: `1234567.2404.03`.\n\nA settlement represents a transfer of your balance funds to your external bank account.\n\nSettlements will typically include a report that details what balance transactions have taken place between this settlement and the previous one.\n\nFor more accurate bookkeeping, refer to the [balance report](get-balance-report) endpoint or the [balance transactions](list-balance-transactions) endpoint.","responses":{"200":{"description":"The settlement object.","content":{"application/hal+json":{"schema":{"type":"object","properties":{"resource":{"type":"string","description":"Indicates the response contains a settlement object. Will always contain the string `settlement` for this endpoint.","readOnly":true,"default":"settlement"},"id":{"type":"string","description":"The identifier uniquely referring to this settlement. Example: `stl_jDk30akdN`.","readOnly":true},"reference":{"type":"string","description":"The settlement's bank reference, as found in your Mollie account and on your bank statement.","readOnly":true},"settledAt":{"type":["string","null"],"description":"The date on which the settlement was settled, in ISO 8601 format.\n\nFor an [open settlement](get-open-settlement) or for the [next settlement](get-next-settlement), no settlement date is available.","readOnly":true},"status":{"type":"string","description":"The status of the settlement.\n\nPossible values:\n\n* `open` — The settlement has not been closed yet\n* `pending` — The settlement has been closed and is being processed\n* `paidout` — The settlement has been paid out\n* `failed` — The settlement could not be paid out","readOnly":true},"amount":{"description":"The total amount of the settlement.","readOnly":true,"type":"object","required":["currency","value"],"properties":{"currency":{"type":"string","description":"A three-character ISO 4217 currency code.","example":"EUR"},"value":{"type":"string","description":"A string containing an exact monetary amount in the given currency.","example":"10.00"}}},"balanceId":{"type":"string","description":"The balance token that the settlement was settled to.","readOnly":true},"periods":{"type":"object","description":"For bookkeeping purposes, the settlement includes an overview of transactions included in the settlement. These transactions are grouped into 'period' objects — one for each calendar month.\n\nFor example, if a settlement includes funds from 15 April until 4 May, it will include two period objects. One for all transactions processed between 15 April and 30 April, and one for all transactions between 1 May and 4 May.\n\nPeriod objects are grouped by year, and then by month. So in the above example, the full `periods` collection will look as follows: `{\"2024\": {\"04\": {...}, \"05\": {...}}}`.\n\nEach period object will contain the following fields:\n* `revenue` — An array of revenue objects containing the total revenue for each payment method during this period\n* `costs` — An array of cost objects, describing the fees withheld for each payment method during this period\n* `invoiceId` — The ID of the invoice created for this period, if the invoice has been created yet\n\nEach `revenue` object has the following fields:\n* `description` — A description of the revenue subtotal\n* `method` — The payment method, if applicable\n* `count` — The number of payments\n* `amountNet` — The net total of received funds, i.e. excluding VAT\n* `amountVat` — The applicable VAT\n* `amountGross` — The gross total of received funds, i.e. including VAT\n\nEach `cost` object has the following fields:\n* `description` — A description of the cost subtotal\n* `method` — The payment method, if applicable\n* `count` — The number of fees\n* `rate` — The service rates, further divided into `fixed` and `percentage` costs\n* `amountNet` — The net total cost, i.e. excluding VAT\n* `amountVat` — The applicable VAT\n* `amountGross` — The gross total cost, i.e. including VAT\n\nThe example response should give a good idea of what this looks like in practise.","readOnly":true},"_links":{"type":"object","description":"An object with several relevant URLs. Every URL object will contain an `href` and a `type` field.","properties":{"self":{"type":"object","description":"In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"payments":{"description":"The API resource URL of the [payments](list-payments) included in this settlement.","type":"object","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"captures":{"description":"The API resource URL of the [captures](list-captures) included in this settlement.","type":"object","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"refunds":{"description":"The API resource URL of the [refunds](list-refunds) deducted from this settlement.","type":"object","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"chargebacks":{"description":"The API resource URL of the [chargebacks](list-chargebacks) deducted from this settlement.","type":"object","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"documentation":{"type":"object","description":"In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}}},"readOnly":true}}},"example":{"resource":"settlement","id":"stl_jDk30akdN","reference":"1234567.2404.03","status":"paidout","amount":{"currency":"EUR","value":"39.75"},"balanceId":"bal_3kUf4yU2nT","periods":{"2024":{"04":{"revenue":[{"description":"iDEAL","method":"ideal","count":6,"amountNet":{"currency":"EUR","value":"86.1000"},"amountVat":null,"amountGross":{"currency":"EUR","value":"86.1000"}},{"description":"Refunds iDEAL","method":"refund","count":2,"amountNet":{"currency":"EUR","value":"-43.2000"},"amountVat":null,"amountGross":{"currency":"EUR","value":"-43.2000"}}],"costs":[{"description":"iDEAL","method":"ideal","count":6,"rate":{"fixed":{"currency":"EUR","value":"0.3500"},"percentage":null},"amountNet":{"currency":"EUR","value":"2.1000"},"amountVat":{"currency":"EUR","value":"0.4410"},"amountGross":{"currency":"EUR","value":"2.5410"}},{"description":"Refunds iDEAL","method":"refund","count":2,"rate":{"fixed":{"currency":"EUR","value":"0.2500"},"percentage":null},"amountNet":{"currency":"EUR","value":"0.5000"},"amountVat":{"currency":"EUR","value":"0.1050"},"amountGross":{"currency":"EUR","value":"0.6050"}}],"invoiceId":"inv_FrvewDA3Pr"}}},"settledAt":"2024-04-06T09:41:44+00:00","_links":{"self":{"href":"...","type":"application/hal+json"},"payments":{"href":"https://api.mollie.com/v2/settlements/stl_jDk30akdN/payments","type":"application/hal+json"},"refunds":{"href":"https://api.mollie.com/v2/settlements/stl_jDk30akdN/refunds","type":"application/hal+json"},"chargebacks":{"href":"https://api.mollie.com/v2/settlements/stl_jDk30akdN/chargebacks","type":"application/hal+json"},"captures":{"href":"https://api.mollie.com/v2/settlements/stl_jDk30akdN/captures","type":"application/hal+json"},"documentation":{"href":"...","type":"text/html"}}}}}},"404":{"description":"No entity with this ID exists.","content":{"application/hal+json":{"schema":{"type":"object","description":"An error response object.","properties":{"status":{"type":"integer","description":"The status code of the error message. This is always the same code as the status code of the HTTP message itself.","minimum":400,"maximum":599},"title":{"type":"string","description":"The HTTP reason phrase of the error. For example, for a `404` error, the `title` will be `Not Found`."},"detail":{"type":"string","description":"A detailed human-readable description of the error that occurred."},"field":{"type":["string","null"],"description":"If the error was caused by a value provided by you in a specific field, the `field` property will contain the name of the field that caused the issue."},"_links":{"type":"object","properties":{"documentation":{"description":"The URL to the generic Mollie API error handling guide.","properties":{"href":{"default":"https://docs.mollie.com/errors"},"type":{"default":"text/html"}},"type":"object"}}}}},"example":{"status":404,"title":"Not Found","detail":"No entity exists with token '7UhSN1zuXS'","_links":{"documentation":{"href":"...","type":"text/html"}}}}}}},"x-readme":{"code-samples":[{"language":"shell","code":"curl -X GET https://api.mollie.com/v2/settlements/stl_jDk30akdN \\\n    -H \"Authorization: Bearer access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\""},{"language":"php","install":"composer require mollie/mollie-api-php","code":"<?php\n$mollie = new \\Mollie\\Api\\MollieApiClient();\n$mollie->setAccessToken(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\");\n\n$settlement = $mollie->settlements->get(\"stl_jDk30akdN\");"},{"language":"node","install":"npm install @mollie/api-client","code":"const { createMollieClient } = require('@mollie/api-client');\nconst mollieClient = createMollieClient({ accessToken: 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ' });\n\nconst settlement = await mollieClient.settlements.get('stl_jDk30akdN');"},{"language":"python","install":"pip install mollie-api-python","code":"from mollie.api.client import Client\n\nmollie_client = Client()\nmollie_client.set_access_token(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\")\n\nsettlement = mollie_client.settlements.get(\"stl_jDk30akdN\")"},{"language":"ruby","install":"gem install mollie-api-ruby","code":"require 'mollie-api-ruby'\n\nMollie::Client.configure do |config|\n  config.api_key = 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ'\nend\n\nsettlement = Mollie::settlement.get('stl_jDk30akdN')"}]}}},"/settlements/open":{"get":{"summary":"Get open settlement","tags":["Settlements API"],"operationId":"get-open-settlement","description":"Retrieve the details of the open balance of the organization. This will return a settlement object representing your organization's balance.\n\nFor a complete reference of the settlement object, refer to the [Get settlement endpoint](get-settlement) documentation.\n\nFor more accurate bookkeeping, refer to the [balance report](get-balance-report) endpoint or the [balance transactions](list-balance-transactions) endpoint.","responses":{"200":{"description":"A settlement object describing your current balance. For a complete reference of the settlement object, refer to the [Get settlement](get-settlement) endpoint documentation.","content":{"application/hal+json":{"schema":{}}}}},"x-readme":{"code-samples":[{"language":"shell","code":"curl -X GET https://api.mollie.com/v2/settlements/open \\\n    -H \"Authorization: Bearer access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\""},{"language":"php","install":"composer require mollie/mollie-api-php","code":"<?php\n$mollie = new \\Mollie\\Api\\MollieApiClient();\n$mollie->setAccessToken(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\");\n\n$settlement = $mollie->settlements->open();"},{"language":"node","install":"npm install @mollie/api-client","code":"const { createMollieClient } = require('@mollie/api-client');\nconst mollieClient = createMollieClient({ accessToken: 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ' });\n\nconst settlement = await mollieClient.settlements.getOpen();"},{"language":"python","install":"pip install mollie-api-python","code":"from mollie.api.client import Client\n\nmollie_client = Client()\nmollie_client.set_access_token(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\")\n\nsettlement = mollie_client.settlements.get(\"open\")"},{"language":"ruby","install":"gem install mollie-api-ruby","code":"require 'mollie-api-ruby'\n\nMollie::Client.configure do |config|\n  config.api_key = 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ'\nend\n\nsettlement = Mollie::Settlement.open"}]}}},"/settlements/next":{"get":{"summary":"Get next settlement","tags":["Settlements API"],"operationId":"get-next-settlement","description":"Retrieve the details of the current settlement, that has not yet been paid out.\n\nFor a complete reference of the settlement object, refer to the [Get settlement endpoint](get-settlement) documentation.\n\nFor more accurate bookkeeping, refer to the [balance report](get-balance-report) endpoint or the [balance transactions](list-balance-transactions) endpoint.","responses":{"200":{"description":"The next settlement object. For a complete reference of the settlement object, refer to the [Get settlement](get-settlement) endpoint documentation.","content":{"application/hal+json":{"schema":{}}}}},"x-readme":{"code-samples":[{"language":"shell","code":"curl -X GET https://api.mollie.com/v2/settlements/next \\\n    -H \"Authorization: Bearer access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\""},{"language":"php","install":"composer require mollie/mollie-api-php","code":"<?php\n$mollie = new \\Mollie\\Api\\MollieApiClient();\n$mollie->setAccessToken(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\");\n\n$settlement = $mollie->settlements->next();"},{"language":"node","install":"npm install @mollie/api-client","code":"const { createMollieClient } = require('@mollie/api-client');\nconst mollieClient = createMollieClient({ accessToken: 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ' });\n\nconst settlement = await mollieClient.settlements.getNext();"},{"language":"python","install":"pip install mollie-api-python","code":"from mollie.api.client import Client\n\nmollie_client = Client()\nmollie_client.set_access_token(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\")\n\nsettlement = mollie_client.settlements.get(\"next\")"},{"language":"ruby","install":"gem install mollie-api-ruby","code":"require 'mollie-api-ruby'\n\nMollie::Client.configure do |config|\n  config.api_key = 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ'\nend\n\nsettlement = Mollie::Settlement.next"}]}}},"/settlements/{settlementId}/payments":{"parameters":[{"name":"settlementId","description":"Provide the ID of the related settlement.","in":"path","required":true,"schema":{"type":"string","example":"stl_jDk30akdN"}}],"get":{"summary":"Get settlement payments","tags":["Settlements API"],"operationId":"get-settlement-payments","description":"Retrieve all payments included in the given settlement.\n\nThe response is in the same format as the response of the [List payments endpoint](list-payments). Refer to that endpoint's documentation for more details.\n\nFor capture-based payment methods such as Klarna, the payments are not listed here. Refer to the [List settlement captures](list-settlement-captures) endpoint instead.","responses":{"200":{"description":"A list of payment objects. For a complete reference of the response, refer to the [List payments](list-payments) endpoint documentation.","content":{"application/hal+json":{"schema":{}}}},"404":{"description":"No entity with this ID exists.","content":{"application/hal+json":{"schema":{"type":"object","description":"An error response object.","properties":{"status":{"type":"integer","description":"The status code of the error message. This is always the same code as the status code of the HTTP message itself.","minimum":400,"maximum":599},"title":{"type":"string","description":"The HTTP reason phrase of the error. For example, for a `404` error, the `title` will be `Not Found`."},"detail":{"type":"string","description":"A detailed human-readable description of the error that occurred."},"field":{"type":["string","null"],"description":"If the error was caused by a value provided by you in a specific field, the `field` property will contain the name of the field that caused the issue."},"_links":{"type":"object","properties":{"documentation":{"description":"The URL to the generic Mollie API error handling guide.","properties":{"href":{"default":"https://docs.mollie.com/errors"},"type":{"default":"text/html"}},"type":"object"}}}}},"example":{"status":404,"title":"Not Found","detail":"No entity exists with token '7UhSN1zuXS'","_links":{"documentation":{"href":"...","type":"text/html"}}}}}}},"x-readme":{"code-samples":[{"language":"shell","code":"curl -X GET https://api.mollie.com/v2/settlements/stl_jDk30akdN/payments \\\n    -H \"Authorization: Bearer access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\""},{"language":"php","install":"composer require mollie/mollie-api-php","code":"<?php\n$mollie = new \\Mollie\\Api\\MollieApiClient();\n$mollie->setAccessToken(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\");\n\n$settlement = $mollie->settlements->get(\"stl_jDk30akdN\");\n$payments = $settlement->payments();"},{"language":"node","install":"npm install @mollie/api-client","code":"const { createMollieClient } = require('@mollie/api-client');\nconst mollieClient = createMollieClient({ accessToken: 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ' });\n\nconst settlement = await mollieClient.settlementPayments.iterate({\n  settlementId: 'stl_jDk30akdN'\n});"},{"language":"python","install":"pip install mollie-api-python","code":"from mollie.api.client import Client\n\nmollie_client = Client()\nmollie_client.set_access_token(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\")\n\nsettlement = mollie_client.settlements.get(\"stl_jDk30akdN\")\npayments = settlement.payments.list()"},{"language":"ruby","install":"gem install mollie-api-ruby","code":"require 'mollie-api-ruby'\n\nMollie::Client.configure do |config|\n  config.api_key = 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ'\nend\n\npayments = Mollie::Settlement::Payment.all(settlement_id: 'stl_jDk30akdN')"}]}}},"/settlements/{settlementId}/captures":{"parameters":[{"name":"settlementId","description":"Provide the ID of the related settlement.","in":"path","required":true,"schema":{"type":"string","example":"stl_jDk30akdN"}}],"get":{"summary":"Get settlement captures","tags":["Settlements API"],"operationId":"get-settlement-captures","description":"Retrieve all captures included in the given settlement.\n\nThe response is in the same format as the response of the [List captures endpoint](list-captures). Refer to that endpoint's documentation for more details.","responses":{"200":{"description":"A list of capture objects. For a complete reference of the response, refer to the [List captures](list-captures) endpoint documentation.","content":{"application/hal+json":{"schema":{}}}},"404":{"description":"No entity with this ID exists.","content":{"application/hal+json":{"schema":{"type":"object","description":"An error response object.","properties":{"status":{"type":"integer","description":"The status code of the error message. This is always the same code as the status code of the HTTP message itself.","minimum":400,"maximum":599},"title":{"type":"string","description":"The HTTP reason phrase of the error. For example, for a `404` error, the `title` will be `Not Found`."},"detail":{"type":"string","description":"A detailed human-readable description of the error that occurred."},"field":{"type":["string","null"],"description":"If the error was caused by a value provided by you in a specific field, the `field` property will contain the name of the field that caused the issue."},"_links":{"type":"object","properties":{"documentation":{"description":"The URL to the generic Mollie API error handling guide.","properties":{"href":{"default":"https://docs.mollie.com/errors"},"type":{"default":"text/html"}},"type":"object"}}}}},"example":{"status":404,"title":"Not Found","detail":"No entity exists with token '7UhSN1zuXS'","_links":{"documentation":{"href":"...","type":"text/html"}}}}}}},"x-readme":{"code-samples":[{"language":"shell","code":"curl -X GET https://api.mollie.com/v2/settlements/stl_jDk30akdN/captures \\\n    -H \"Authorization: Bearer access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\""},{"language":"php","install":"composer require mollie/mollie-api-php","code":"<?php\n$mollie = new \\Mollie\\Api\\MollieApiClient();\n$mollie->setAccessToken(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\");\n\n$settlement = $mollie->settlements->get(\"stl_jDk30akdN\");\n$captures = $settlement->captures();"},{"language":"node","install":"npm install @mollie/api-client","code":"const { createMollieClient } = require('@mollie/api-client');\nconst mollieClient = createMollieClient({ accessToken: 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ' });\n\nconst settlement = await mollieClient.settlementCaptures.iterate({\n  settlementId: 'stl_jDk30akdN'\n});"},{"language":"python","install":"pip install mollie-api-python","code":"from mollie.api.client import Client\n\nmollie_client = Client()\nmollie_client.set_access_token(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\")\n\nsettlement = mollie_client.settlements.get(\"stl_jDk30akdN\")\ncaptures = settlement.captures.list()"},{"language":"ruby","install":"gem install mollie-api-ruby","code":"require 'mollie-api-ruby'\n\nMollie::Client.configure do |config|\n  config.api_key = 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ'\nend\n\ncaptures = Mollie::Settlement::Capture.all(settlement_id: 'stl_jDk30akdN')"}]}}},"/settlements/{settlementId}/refunds":{"parameters":[{"name":"settlementId","description":"Provide the ID of the related settlement.","in":"path","required":true,"schema":{"type":"string","example":"stl_jDk30akdN"}}],"get":{"summary":"Get settlement refunds","tags":["Settlements API"],"operationId":"get-settlement-refunds","description":"Retrieve all refunds 'deducted' from the given settlement.\n\nThe response is in the same format as the response of the [List refunds endpoint](list-refunds). Refer to that endpoint's documentation for more details.","responses":{"200":{"description":"A list of refund objects. For a complete reference of the response, refer to the [List refunds](list-refunds) endpoint documentation.","content":{"application/hal+json":{"schema":{}}}},"404":{"description":"No entity with this ID exists.","content":{"application/hal+json":{"schema":{"type":"object","description":"An error response object.","properties":{"status":{"type":"integer","description":"The status code of the error message. This is always the same code as the status code of the HTTP message itself.","minimum":400,"maximum":599},"title":{"type":"string","description":"The HTTP reason phrase of the error. For example, for a `404` error, the `title` will be `Not Found`."},"detail":{"type":"string","description":"A detailed human-readable description of the error that occurred."},"field":{"type":["string","null"],"description":"If the error was caused by a value provided by you in a specific field, the `field` property will contain the name of the field that caused the issue."},"_links":{"type":"object","properties":{"documentation":{"description":"The URL to the generic Mollie API error handling guide.","properties":{"href":{"default":"https://docs.mollie.com/errors"},"type":{"default":"text/html"}},"type":"object"}}}}},"example":{"status":404,"title":"Not Found","detail":"No entity exists with token '7UhSN1zuXS'","_links":{"documentation":{"href":"...","type":"text/html"}}}}}}},"x-readme":{"code-samples":[{"language":"shell","code":"curl -X GET https://api.mollie.com/v2/settlements/stl_jDk30akdN/refunds \\\n    -H \"Authorization: Bearer access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\""},{"language":"php","install":"composer require mollie/mollie-api-php","code":"<?php\n$mollie = new \\Mollie\\Api\\MollieApiClient();\n$mollie->setAccessToken(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\");\n\n$settlement = $mollie->settlements->get(\"stl_jDk30akdN\");\n$refunds = $settlement->refunds();"},{"language":"node","install":"npm install @mollie/api-client","code":"const { createMollieClient } = require('@mollie/api-client');\nconst mollieClient = createMollieClient({ accessToken: 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ' });\n\nconst settlement = await mollieClient.settlementRefunds.iterate({\n  settlementId: 'stl_jDk30akdN'\n});"},{"language":"python","install":"pip install mollie-api-python","code":"from mollie.api.client import Client\n\nmollie_client = Client()\nmollie_client.set_access_token(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\")\n\nsettlement = mollie_client.settlements.get(\"stl_jDk30akdN\")\nrefunds = settlement.refunds.list()"},{"language":"ruby","install":"gem install mollie-api-ruby","code":"require 'mollie-api-ruby'\n\nMollie::Client.configure do |config|\n  config.api_key = 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ'\nend\n\nrefunds = Mollie::Settlement::Refund.all(settlement_id: 'stl_jDk30akdN')"}]}}},"/settlements/{settlementId}/chargebacks":{"parameters":[{"name":"settlementId","description":"Provide the ID of the related settlement.","in":"path","required":true,"schema":{"type":"string","example":"stl_jDk30akdN"}}],"get":{"summary":"Get settlement chargebacks","tags":["Settlements API"],"operationId":"get-settlement-chargebacks","description":"Retrieve all chargebacks 'deducted' from the given settlement.\n\nThe response is in the same format as the response of the [List chargebacks endpoint](list-chargebacks). Refer to that endpoint's documentation for more details.","responses":{"200":{"description":"A list of refund objects. For a complete reference of the response, refer to the [List chargebacks](list-chargebacks) endpoint documentation.","content":{"application/hal+json":{"schema":{}}}},"404":{"description":"No entity with this ID exists.","content":{"application/hal+json":{"schema":{"type":"object","description":"An error response object.","properties":{"status":{"type":"integer","description":"The status code of the error message. This is always the same code as the status code of the HTTP message itself.","minimum":400,"maximum":599},"title":{"type":"string","description":"The HTTP reason phrase of the error. For example, for a `404` error, the `title` will be `Not Found`."},"detail":{"type":"string","description":"A detailed human-readable description of the error that occurred."},"field":{"type":["string","null"],"description":"If the error was caused by a value provided by you in a specific field, the `field` property will contain the name of the field that caused the issue."},"_links":{"type":"object","properties":{"documentation":{"description":"The URL to the generic Mollie API error handling guide.","properties":{"href":{"default":"https://docs.mollie.com/errors"},"type":{"default":"text/html"}},"type":"object"}}}}},"example":{"status":404,"title":"Not Found","detail":"No entity exists with token '7UhSN1zuXS'","_links":{"documentation":{"href":"...","type":"text/html"}}}}}}},"x-readme":{"code-samples":[{"language":"shell","code":"curl -X GET https://api.mollie.com/v2/settlements/stl_jDk30akdN/chargebacks \\\n    -H \"Authorization: Bearer access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\""},{"language":"php","install":"composer require mollie/mollie-api-php","code":"<?php\n$mollie = new \\Mollie\\Api\\MollieApiClient();\n$mollie->setAccessToken(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\");\n\n$settlement = $mollie->settlements->get(\"stl_jDk30akdN\");\n$chargebacks = $settlement->chargebacks();"},{"language":"node","install":"npm install @mollie/api-client","code":"const { createMollieClient } = require('@mollie/api-client');\nconst mollieClient = createMollieClient({ accessToken: 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ' });\n\nconst settlement = await mollieClient.settlementChargebacks.iterate({\n  settlementId: 'stl_jDk30akdN'\n});"},{"language":"python","install":"pip install mollie-api-python","code":"from mollie.api.client import Client\n\nmollie_client = Client()\nmollie_client.set_access_token(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\")\n\nsettlement = mollie_client.settlements.get(\"stl_jDk30akdN\")\nchargebacks = settlement.chargebacks.list()"},{"language":"ruby","install":"gem install mollie-api-ruby","code":"require 'mollie-api-ruby'\n\nMollie::Client.configure do |config|\n  config.api_key = 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ'\nend\n\nchargebacks = Mollie::Settlement::Chargeback.all(settlement_id: 'stl_jDk30akdN')"}]}}},"/invoices":{"get":{"summary":"List invoices","tags":["Invoices API"],"operationId":"list-invoices","description":"Retrieve a list of all your invoices, optionally filtered by year or by invoice reference.\n\nThe results are paginated.","parameters":[{"name":"reference","description":"Filter for an invoice with a specific invoice reference, for example `2024.10000`.","in":"query","schema":{"type":["string","null"]}},{"name":"year","description":"Filter for invoices of a specific year, for example `2024`.","in":"query","schema":{"type":["string","null"]}},{"name":"from","description":"Provide an ID to start the result set from the item with the given ID and onwards. This allows you to paginate the result set.","in":"query","schema":{"type":["string","null"]}},{"name":"limit","description":"The maximum number of items to return. Defaults to 50 items.","in":"query","schema":{"type":["integer","null"],"minimum":1,"maximum":250,"default":50}}],"responses":{"200":{"description":"A list of invoice objects. For a complete reference of the invoice object, refer to the [Get invoice endpoint](get-invoice) documentation.","content":{"application/hal+json":{"schema":{"type":"object","properties":{"count":{"type":"integer","description":"The number of items in this result set. If more items are available, a `_links.next` URL will be present in the result as well.\n\nThe maximum number of items per result set is controlled by the `limit` property provided in the request. The default limit is 50 items.","minimum":1,"maximum":250},"_embedded":{"type":"object","properties":{"invoices":{"description":"An array of invoice objects. For a complete reference of the invoice object, refer to the [Get invoice endpoint](get-invoice) documentation.","type":"array","items":{"type":"object"}}}},"_links":{"type":"object","description":"Links to help navigate through the lists of items. Every URL object will contain an `href` and a `type` field.","properties":{"self":{"description":"The URL to the current set of items.","type":"object","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"previous":{"description":"The previous set of items, if available.","type":["object","null"],"properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"next":{"description":"The next set of items, if available.","type":["object","null"],"properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"documentation":{"type":"object","description":"In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}}}}}},"example":{"count":5,"_embedded":{"invoices":[{"resource":"invoice","id":"inv_xBEbP9rvAq","reference":"2023.10000","vatNumber":"NL001234567B01","status":"open","netAmount":{"currency":"EUR","value":"45.00"},"vatAmount":{"currency":"EUR","value":"9.45"},"grossAmount":{"currency":"EUR","value":"54.45"},"lines":[{"period":"2023-09","description":"iDEAL payment fees","count":100,"vatPercentage":21,"amount":{"currency":"EUR","value":"45.00"}}],"issuedAt":"2023-09-01","dueAt":"2023-09-14","_links":{"self":{"href":"...","type":"application/hal+json"}}},{},{},{},{}]},"_links":{"self":{"href":"...","type":"application/hal+json"},"previous":null,"next":{"href":"https://api.mollie.com/v2/invoices?from=inv_TUhzbAFMrt&limit=5","type":"application/hal+json"},"documentation":{"href":"...","type":"text/html"}}}}}},"400":{"description":"The request contains issues. For example, if the specified `from` value is not a valid ID.","content":{"application/hal+json":{"schema":{"type":"object","description":"An error response object.","properties":{"status":{"type":"integer","description":"The status code of the error message. This is always the same code as the status code of the HTTP message itself.","minimum":400,"maximum":599},"title":{"type":"string","description":"The HTTP reason phrase of the error. For example, for a `404` error, the `title` will be `Not Found`."},"detail":{"type":"string","description":"A detailed human-readable description of the error that occurred."},"field":{"type":["string","null"],"description":"If the error was caused by a value provided by you in a specific field, the `field` property will contain the name of the field that caused the issue."},"_links":{"type":"object","properties":{"documentation":{"description":"The URL to the generic Mollie API error handling guide.","properties":{"href":{"default":"https://docs.mollie.com/errors"},"type":{"default":"text/html"}},"type":"object"}}}}},"example":{"status":400,"title":"Bad Request","detail":"Invalid cursor value","field":"from","_links":{"documentation":{"href":"...","type":"text/html"}}}}}},"404":{"description":"No entity with this ID exists.","content":{"application/hal+json":{"schema":{"type":"object","description":"An error response object.","properties":{"status":{"type":"integer","description":"The status code of the error message. This is always the same code as the status code of the HTTP message itself.","minimum":400,"maximum":599},"title":{"type":"string","description":"The HTTP reason phrase of the error. For example, for a `404` error, the `title` will be `Not Found`."},"detail":{"type":"string","description":"A detailed human-readable description of the error that occurred."},"field":{"type":["string","null"],"description":"If the error was caused by a value provided by you in a specific field, the `field` property will contain the name of the field that caused the issue."},"_links":{"type":"object","properties":{"documentation":{"description":"The URL to the generic Mollie API error handling guide.","properties":{"href":{"default":"https://docs.mollie.com/errors"},"type":{"default":"text/html"}},"type":"object"}}}}},"example":{"status":404,"title":"Not Found","detail":"No entity exists with token '7UhSN1zuXS'","_links":{"documentation":{"href":"...","type":"text/html"}}}}}}},"x-readme":{"code-samples":[{"language":"shell","code":"curl -X GET https://api.mollie.com/v2/invoices \\\n    -H \"Authorization: Bearer access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\""},{"language":"php","install":"composer require mollie/mollie-api-php","code":"<?php\n$mollie = new \\Mollie\\Api\\MollieApiClient();\n$mollie->setAccessToken(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\");\n\n$invoices = $mollie->invoices();"},{"language":"node","install":"npm install @mollie/api-client","code":"/*\nWe don't have a Node.js code example for this\nAPI call yet.\n\nIf you have some time to spare, feel free to\nshare suggestions on our Discord:\nhttps://discord.gg/VaTVkXB4aQ\n*/"},{"language":"python","install":"pip install mollie-api-python","code":"from mollie.api.client import Client\n\nmollie_client = Client()\nmollie_client.set_access_token(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\")\n\ninvoices = mollie_client.invoices.list()"},{"language":"ruby","install":"gem install mollie-api-ruby","code":"require 'mollie-api-ruby'\n\nMollie::Client.configure do |config|\n  config.api_key = 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ'\nend\n\ninvoices = Mollie::invoice.all"}]}}},"/invoices/{id}":{"parameters":[{"schema":{"type":"string","example":"inv_FrvewDA3Pr"},"name":"id","description":"Provide the ID of the item you want to perform this operation on.","in":"path","required":true}],"get":{"summary":"Get invoice","tags":["Invoices API"],"operationId":"get-invoice","description":"Retrieve a single invoice by its ID.\n\nIf you want to retrieve the details of an invoice by its invoice number, call the [List invoices](list-invoices) endpoint with the `reference` parameter.","responses":{"200":{"description":"The invoice object.","content":{"application/hal+json":{"schema":{"type":"object","properties":{"resource":{"type":"string","description":"Indicates the response contains an invoice object. Will always contain the string `invoice` for this endpoint.","readOnly":true,"default":"invoice"},"id":{"type":"string","description":"The identifier uniquely referring to this invoice. Example: `inv_FrvewDA3Pr`.","readOnly":true},"reference":{"type":"string","description":"The reference number of the invoice. An example value would be: `2024.10000`.","readOnly":true},"vatNumber":{"type":["string","null"],"description":"The VAT number to which the invoice was issued to, if applicable.","readOnly":true},"status":{"type":"string","description":"Status of the invoice.\n\nPossible values:\n* `open` — The invoice is not paid yet.\n* `paid` — The invoice is paid.\n* `overdue` — Payment of the invoice is overdue.","readOnly":true},"netAmount":{"description":"Total amount of the invoice, excluding VAT.","readOnly":true,"type":"object","required":["currency","value"],"properties":{"currency":{"type":"string","description":"A three-character ISO 4217 currency code.","example":"EUR"},"value":{"type":"string","description":"A string containing an exact monetary amount in the given currency.","example":"10.00"}}},"vatAmount":{"description":"VAT amount of the invoice. Only applicable to merchants registered in the Netherlands. For EU merchants, VAT will be shifted to the recipient (as per article 44 and 196 in the EU VAT Directive 2006/112). For merchants outside the EU, no VAT will be charged.","readOnly":true,"type":"object","required":["currency","value"],"properties":{"currency":{"type":"string","description":"A three-character ISO 4217 currency code.","example":"EUR"},"value":{"type":"string","description":"A string containing an exact monetary amount in the given currency.","example":"10.00"}}},"grossAmount":{"description":"Total amount of the invoice, including VAT.","readOnly":true,"type":"object","required":["currency","value"],"properties":{"currency":{"type":"string","description":"A three-character ISO 4217 currency code.","example":"EUR"},"value":{"type":"string","description":"A string containing an exact monetary amount in the given currency.","example":"10.00"}}},"lines":{"type":"array","description":"The collection of products which make up the invoice.","items":{"type":"object","properties":{"period":{"type":"string","description":"The administrative period in `YYYY-MM` on which the line should be booked."},"description":{"type":"string","description":"Description of the product."},"count":{"type":"integer","description":"Number of products invoiced. For example, the number of payments."},"vatPercentage":{"type":"integer","description":"VAT percentage rate that applies to this product."},"amount":{"description":"Line item amount excluding VAT.","type":"object","required":["currency","value"],"properties":{"currency":{"type":"string","description":"A three-character ISO 4217 currency code.","example":"EUR"},"value":{"type":"string","description":"A string containing an exact monetary amount in the given currency.","example":"10.00"}}}}},"readOnly":true},"issuedAt":{"type":"string","description":"The invoice date in `YYYY-MM-DD` format.","readOnly":true},"paidAt":{"type":["string","null"],"description":"The date on which the invoice was paid, if applicable, in `YYYY-MM-DD` format.","readOnly":true},"dueAt":{"type":["string","null"],"description":"The date on which the invoice is due, if applicable, in `YYYY-MM-DD` format.","readOnly":true},"_links":{"type":"object","description":"An object with several relevant URLs. Every URL object will contain an `href` and a `type` field.","properties":{"self":{"type":"object","description":"In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"pdf":{"description":"URL to a downloadable PDF of the invoice.","type":"object","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"documentation":{"type":"object","description":"In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}}},"readOnly":true}}},"example":{"resource":"invoice","id":"inv_xBEbP9rvAq","reference":"2023.10000","vatNumber":"NL001234567B01","status":"open","netAmount":{"currency":"EUR","value":"45.00"},"vatAmount":{"currency":"EUR","value":"9.45"},"grossAmount":{"currency":"EUR","value":"54.45"},"lines":[{"period":"2023-09","description":"iDEAL payment fees","count":100,"vatPercentage":21,"amount":{"currency":"EUR","value":"45.00"}}],"issuedAt":"2023-09-01","dueAt":"2023-09-14","_links":{"self":{"href":"...","type":"application/hal+json"},"pdf":{"href":"https://www.mollie.com/merchant/download/invoice/xBEbP9rvAq/2ab44d60b35b1d06090bba955fa2c602","type":"application/pdf"},"documentation":{"href":"...","type":"text/html"}}}}}},"404":{"description":"No entity with this ID exists.","content":{"application/hal+json":{"schema":{"type":"object","description":"An error response object.","properties":{"status":{"type":"integer","description":"The status code of the error message. This is always the same code as the status code of the HTTP message itself.","minimum":400,"maximum":599},"title":{"type":"string","description":"The HTTP reason phrase of the error. For example, for a `404` error, the `title` will be `Not Found`."},"detail":{"type":"string","description":"A detailed human-readable description of the error that occurred."},"field":{"type":["string","null"],"description":"If the error was caused by a value provided by you in a specific field, the `field` property will contain the name of the field that caused the issue."},"_links":{"type":"object","properties":{"documentation":{"description":"The URL to the generic Mollie API error handling guide.","properties":{"href":{"default":"https://docs.mollie.com/errors"},"type":{"default":"text/html"}},"type":"object"}}}}},"example":{"status":404,"title":"Not Found","detail":"No entity exists with token '7UhSN1zuXS'","_links":{"documentation":{"href":"...","type":"text/html"}}}}}}},"x-readme":{"code-samples":[{"language":"shell","code":"curl -X GET https://api.mollie.com/v2/invoices/inv_xBEbP9rvAq \\\n    -H \"Authorization: Bearer access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\""},{"language":"php","install":"composer require mollie/mollie-api-php","code":"<?php\n$mollie = new \\Mollie\\Api\\MollieApiClient();\n$mollie->setAccessToken(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\");\n\n$invoice = $mollie->invoices->get(\"inv_xBEbP9rvAq\");"},{"language":"node","install":"npm install @mollie/api-client","code":"/*\nWe don't have a Node.js code example for this\nAPI call yet.\n\nIf you have some time to spare, feel free to\nshare suggestions on our Discord:\nhttps://discord.gg/VaTVkXB4aQ\n*/"},{"language":"python","install":"pip install mollie-api-python","code":"from mollie.api.client import Client\n\nmollie_client = Client()\nmollie_client.set_access_token(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\")\n\ninvoice = mollie_client.invoices.get(\"inv_xBEbP9rvAq\")"},{"language":"ruby","install":"gem install mollie-api-ruby","code":"require 'mollie-api-ruby'\n\nMollie::Client.configure do |config|\n  config.api_key = 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ'\nend\n\ninvoice = Mollie::invoice.get('inv_xBEbP9rvAq')"}]}}}},"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","x-default":"live_dHar4XY7LxsDOtmnkVtjNVWXLSlXsM"}},"parameters":{"list-from":{"name":"from","description":"Provide an ID to start the result set from the item with the given ID and onwards. This allows you to paginate the result set.","in":"query","schema":{"type":["string","null"]}},"list-limit":{"name":"limit","description":"The maximum number of items to return. Defaults to 50 items.","in":"query","schema":{"type":["integer","null"],"minimum":1,"maximum":250,"default":50}},"testmode":{"name":"testmode","description":"Most API credentials are specifically created for either live mode or test mode. In those cases the `testmode` query parameter can be omitted. For organization-level credentials such as OAuth access tokens, you can enable test mode by setting the `testmode` query parameter to `true`.\n\nTest entities cannot be retrieved when the endpoint is set to live mode, and vice versa.","in":"query","schema":{"type":["boolean","null"],"default":false}},"id":{"name":"id","description":"Provide the ID of the item you want to perform this operation on.","in":"path","required":true,"schema":{"type":"string"}},"parent-balance-id":{"name":"balanceId","description":"Provide the ID of the related balance.","in":"path","required":true,"schema":{"type":"string","example":"bal_gVMhHKqSSRYJyPsuoPNFH"}},"parent-settlement-id":{"name":"settlementId","description":"Provide the ID of the related settlement.","in":"path","required":true,"schema":{"type":"string","example":"stl_jDk30akdN"}}},"schemas":{"list-count":{"type":"integer","description":"The number of items in this result set. If more items are available, a `_links.next` URL will be present in the result as well.\n\nThe maximum number of items per result set is controlled by the `limit` property provided in the request. The default limit is 50 items.","minimum":1,"maximum":250},"url":{"type":"object","description":"In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"url-nullable":{"type":["object","null"],"description":"In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"list-links":{"type":"object","description":"Links to help navigate through the lists of items. Every URL object will contain an `href` and a `type` field.","properties":{"self":{"description":"The URL to the current set of items.","type":"object","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"previous":{"description":"The previous set of items, if available.","type":["object","null"],"properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"next":{"description":"The next set of items, if available.","type":["object","null"],"properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"documentation":{"type":"object","description":"In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}}}},"error-response":{"type":"object","description":"An error response object.","properties":{"status":{"type":"integer","description":"The status code of the error message. This is always the same code as the status code of the HTTP message itself.","minimum":400,"maximum":599},"title":{"type":"string","description":"The HTTP reason phrase of the error. For example, for a `404` error, the `title` will be `Not Found`."},"detail":{"type":"string","description":"A detailed human-readable description of the error that occurred."},"field":{"type":["string","null"],"description":"If the error was caused by a value provided by you in a specific field, the `field` property will contain the name of the field that caused the issue."},"_links":{"type":"object","properties":{"documentation":{"description":"The URL to the generic Mollie API error handling guide.","properties":{"href":{"default":"https://docs.mollie.com/errors"},"type":{"default":"text/html"}},"type":"object"}}}}},"mode":{"type":"string","descripti
[...]
