{"openapi":"3.1.0","info":{"title":"Mollie Connect","version":"1.0.0","license":{"name":"Attribution-NonCommercial-ShareAlike 4.0 International","identifier":"CC-BY-NC-SA-4.0"}},"servers":[{"url":"https://api.mollie.com/v2"}],"security":[{"bearerAuth":[]}],"paths":{"/permissions":{"get":{"summary":"List permissions","tags":["Permissions API"],"operationId":"list-permissions","description":"Retrieve a list of all permissions available to the current access token.\n\nThe results are **not** paginated.","responses":{"200":{"description":"A list of permission objects. For a complete reference of the permission object, refer to the [Get permission endpoint](get-permission) documentation.","content":{"application/hal+json":{"schema":{"type":"object","properties":{"count":{"type":"integer","description":"The number of items in this result set. If more items are available, a `_links.next` URL will be present in the result as well.\n\nThe maximum number of items per result set is controlled by the `limit` property provided in the request. The default limit is 50 items.","minimum":1,"maximum":250},"_embedded":{"type":"object","properties":{"permissions":{"description":"An array of permission objects. For a complete reference of the permission object, refer to the [Get permission endpoint](get-permission) documentation.","type":"array","items":{"type":"object"}}}},"_links":{"type":"object","description":"An object with several relevant URLs. Every URL object will contain an `href` and a `type` field.","properties":{"self":{"description":"The URL to the current set of items.","type":"object","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"documentation":{"type":"object","description":"In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}}}}}},"example":{"count":8,"_embedded":{"permissions":[{"resource":"permission","id":"payments.read","description":"View your payments","granted":true,"_links":{"self":{"href":"...","type":"application/hal+json"}}},{"resource":"permission","id":"payments.write","description":"Create new payments","granted":false,"_links":{"self":{"href":"...","type":"application/hal+json"}}},{},{},{},{},{},{}]},"_links":{"self":{"href":"...","type":"application/hal+json"},"documentation":{"href":"...","type":"text/html"}}}}}},"400":{"description":"The request contains issues. For example, if the specified `from` value is not a valid ID.","content":{"application/hal+json":{"schema":{"type":"object","description":"An error response object.","properties":{"status":{"type":"integer","description":"The status code of the error message. This is always the same code as the status code of the HTTP message itself.","minimum":400,"maximum":599},"title":{"type":"string","description":"The HTTP reason phrase of the error. For example, for a `404` error, the `title` will be `Not Found`."},"detail":{"type":"string","description":"A detailed human-readable description of the error that occurred."},"field":{"type":["string","null"],"description":"If the error was caused by a value provided by you in a specific field, the `field` property will contain the name of the field that caused the issue."},"_links":{"type":"object","properties":{"documentation":{"description":"The URL to the generic Mollie API error handling guide.","properties":{"href":{"default":"https://docs.mollie.com/errors"},"type":{"default":"text/html"}},"type":"object"}}}}},"example":{"status":400,"title":"Bad Request","detail":"Invalid cursor value","field":"from","_links":{"documentation":{"href":"...","type":"text/html"}}}}}}},"x-readme":{"code-samples":[{"language":"shell","code":"curl -X GET https://api.mollie.com/v2/permissions \\\n    -H \"Authorization: Bearer access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\""},{"language":"php","install":"composer require mollie/mollie-api-php","code":"<?php\n$mollie = new \\Mollie\\Api\\MollieApiClient();\n$mollie->setAccessToken(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\");\n\n$permissions = $mollie->permissions->all();"},{"language":"node","install":"npm install @mollie/api-client","code":"const { createMollieClient } = require('@mollie/api-client');\nconst mollieClient = createMollieClient({ accessToken: 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ' });\n\nconst permissions = await mollieClient.permissions.iterate();"},{"language":"python","install":"pip install mollie-api-python","code":"from mollie.api.client import Client\n\nmollie_client = Client()\nmollie_client.set_access_token(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\")\n\npermissions = mollie_client.permissions.list()"},{"language":"ruby","install":"gem install mollie-api-ruby","code":"require 'mollie-api-ruby'\n\nMollie::Client.configure do |config|\n  config.api_key = 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ'\nend\n\npermissions = Mollie::Permission.all"}]}}},"/permissions/{id}":{"parameters":[{"schema":{"type":"string","example":"payments.read"},"name":"id","description":"Provide the ID of the item you want to perform this operation on.","in":"path","required":true}],"get":{"summary":"Get permission","tags":["Permissions API"],"operationId":"get-permission","description":"Retrieve a single permission by its ID, and see if the permission is granted to the current access token.","parameters":[{"name":"testmode","description":"Most API credentials are specifically created for either live mode or test mode. In those cases the `testmode` query parameter can be omitted. For organization-level credentials such as OAuth access tokens, you can enable test mode by setting the `testmode` query parameter to `true`.\n\nTest entities cannot be retrieved when the endpoint is set to live mode, and vice versa.","in":"query","schema":{"type":["boolean","null"],"default":false}}],"responses":{"200":{"description":"The permission object.","content":{"application/hal+json":{"schema":{"type":"object","properties":{"resource":{"type":"string","description":"Indicates the response contains a permission object. Will always contain the string `permission` for this endpoint.","readOnly":true,"default":"permission"},"id":{"type":"string","description":"The identifier uniquely referring to this permission. Example: `payments.read`.","readOnly":true},"description":{"type":"string","description":"A short description of what kind of access the permission enables.","readOnly":true},"granted":{"type":"boolean","description":"Whether this permission is granted to the app by the organization.","readOnly":true},"_links":{"type":"object","description":"An object with several relevant URLs. Every URL object will contain an `href` and a `type` field.","properties":{"self":{"type":"object","description":"In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"documentation":{"type":"object","description":"In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}}},"readOnly":true}}},"example":{"resource":"permission","id":"payments.read","description":"View your payments","granted":true,"_links":{"self":{"href":"...","type":"application/hal+json"},"documentation":{"href":"...","type":"text/html"}}}}}},"404":{"description":"No entity with this ID exists.","content":{"application/hal+json":{"schema":{"type":"object","description":"An error response object.","properties":{"status":{"type":"integer","description":"The status code of the error message. This is always the same code as the status code of the HTTP message itself.","minimum":400,"maximum":599},"title":{"type":"string","description":"The HTTP reason phrase of the error. For example, for a `404` error, the `title` will be `Not Found`."},"detail":{"type":"string","description":"A detailed human-readable description of the error that occurred."},"field":{"type":["string","null"],"description":"If the error was caused by a value provided by you in a specific field, the `field` property will contain the name of the field that caused the issue."},"_links":{"type":"object","properties":{"documentation":{"description":"The URL to the generic Mollie API error handling guide.","properties":{"href":{"default":"https://docs.mollie.com/errors"},"type":{"default":"text/html"}},"type":"object"}}}}},"example":{"status":404,"title":"Not Found","detail":"No entity exists with token '7UhSN1zuXS'","_links":{"documentation":{"href":"...","type":"text/html"}}}}}}},"x-readme":{"code-samples":[{"language":"shell","code":"curl -X GET https://api.mollie.com/v2/permissions/payments.read \\\n    -H \"Authorization: Bearer access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\""},{"language":"php","install":"composer require mollie/mollie-api-php","code":"<?php\n$mollie = new \\Mollie\\Api\\MollieApiClient();\n$mollie->setAccessToken(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\");\n\n$permission = $mollie->permissions->get(\"payments.read\");"},{"language":"node","install":"npm install @mollie/api-client","code":"const { createMollieClient } = require('@mollie/api-client');\nconst mollieClient = createMollieClient({ accessToken: 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ' });\n\nconst permission = await mollieClient.permissions.get('payments.read');"},{"language":"python","install":"pip install mollie-api-python","code":"from mollie.api.client import Client\n\nmollie_client = Client()\nmollie_client.set_access_token(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\")\n\npermission = mollie_client.permissions.get(\"payments.read\")"},{"language":"ruby","install":"gem install mollie-api-ruby","code":"require 'mollie-api-ruby'\n\nMollie::Client.configure do |config|\n  config.api_key = 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ'\nend\n\npermission = Mollie::Permission.get('payments.read')"}]}}},"/organizations/{id}":{"parameters":[{"schema":{"type":"string","example":"org_12345678"},"name":"id","description":"Provide the ID of the item you want to perform this operation on.","in":"path","required":true}],"get":{"summary":"Get organization","tags":["Organizations API"],"operationId":"get-organization","description":"Retrieve a single organization by its ID.\n\nYou can normally only retrieve the currently authenticated organization with this endpoint. This is primarily useful for OAuth apps. See also [Get current organization](get-current-organization).\n\nIf you have a *partner account*', you can retrieve organization details of connected organizations.","parameters":[{"name":"testmode","description":"Most API credentials are specifically created for either live mode or test mode. In those cases the `testmode` query parameter can be omitted. For organization-level credentials such as OAuth access tokens, you can enable test mode by setting the `testmode` query parameter to `true`.\n\nTest entities cannot be retrieved when the endpoint is set to live mode, and vice versa.","in":"query","schema":{"type":["boolean","null"],"default":false}}],"responses":{"200":{"description":"The organization object.","content":{"application/hal+json":{"schema":{"type":"object","properties":{"resource":{"type":"string","description":"Indicates the response contains an organization object. Will always contain the string `organization` for this endpoint.","readOnly":true,"default":"organization"},"id":{"type":"string","description":"The identifier uniquely referring to this organization. Example: `org_12345678`.","readOnly":true},"name":{"type":"string","description":"The name of the organization.","readOnly":true},"email":{"type":"string","description":"The email address associated with the organization.","readOnly":true},"locale":{"type":"string","description":"The preferred locale of the merchant, as set in their Mollie dashboard.","readOnly":true},"address":{"description":"The address of the organization.","type":"object","properties":{"title":{"type":"string","description":"The title of the person, for example *Mr.* or *Mrs.*."},"givenName":{"type":"string","description":"The given name (first name) of the person should be at least two characters and cannot contain only numbers."},"familyName":{"type":"string","description":"The given family name (surname) of the person should be at least two characters and cannot contain only numbers."},"organizationName":{"type":"string","description":"The name of the organization, in case the addressee is an organization."},"streetAndNumber":{"type":"string","description":"A street and street number."},"streetAdditional":{"type":"string","description":"Any additional addressing details, for example an apartment number."},"postalCode":{"type":"string","description":"A postal code. This field may be required if the provided country has a postal code system."},"email":{"type":"string"},"phone":{"type":"string","description":"If provided, it must be in the [E.164](https://en.wikipedia.org/wiki/E.164) format. For example: +31208202070."},"city":{"type":"string"},"region":{"type":"string"},"country":{"type":"string","description":"A country code in [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) format."}}},"registrationNumber":{"type":"string","description":"The registration number of the organization at their local chamber of commerce."},"vatNumber":{"type":["string","null"],"description":"The VAT number of the organization, if based in the European Union or in The United Kingdom. VAT numbers are verified against the international registry *VIES*.\n\nThe field is not present for merchants residing in other countries."},"vatRegulation":{"type":["string","null"],"description":"Mollie applies Dutch VAT for merchants based in The Netherlands, British VAT for merchants based in The United Kingdom, and shifted VAT for merchants in the European Union.\n\nThe field is not present for merchants residing in other countries.\n\nPossible values: `dutch` `british` `shifted`"},"_links":{"type":"object","description":"An object with several relevant URLs. Every URL object will contain an `href` and a `type` field.","properties":{"self":{"type":"object","description":"In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"dashboard":{"description":"Direct link to the organization's Mollie dashboard.","type":"object","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"documentation":{"type":"object","description":"In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}}},"readOnly":true}}},"example":{"resource":"organization","id":"org_12345678","name":"Mollie B.V.","email":"info@mollie.com","address":{"streetAndNumber":"Keizersgracht 126","postalCode":"1015 CW","city":"Amsterdam","country":"NL"},"registrationNumber":"30204462","vatNumber":"NL815839091B01","_links":{"self":{"href":"...","type":"application/hal+json"},"dashboard":{"href":"https://mollie.com/dashboard/org_12345678","type":"text/html"},"documentation":{"href":"...","type":"text/html"}}}}}},"404":{"description":"No entity with this ID exists.","content":{"application/hal+json":{"schema":{"type":"object","description":"An error response object.","properties":{"status":{"type":"integer","description":"The status code of the error message. This is always the same code as the status code of the HTTP message itself.","minimum":400,"maximum":599},"title":{"type":"string","description":"The HTTP reason phrase of the error. For example, for a `404` error, the `title` will be `Not Found`."},"detail":{"type":"string","description":"A detailed human-readable description of the error that occurred."},"field":{"type":["string","null"],"description":"If the error was caused by a value provided by you in a specific field, the `field` property will contain the name of the field that caused the issue."},"_links":{"type":"object","properties":{"documentation":{"description":"The URL to the generic Mollie API error handling guide.","properties":{"href":{"default":"https://docs.mollie.com/errors"},"type":{"default":"text/html"}},"type":"object"}}}}},"example":{"status":404,"title":"Not Found","detail":"No entity exists with token '7UhSN1zuXS'","_links":{"documentation":{"href":"...","type":"text/html"}}}}}}},"x-readme":{"code-samples":[{"language":"shell","code":"curl -X GET https://api.mollie.com/v2/organizations/org_12345678 \\\n    -H \"Authorization: Bearer access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\""},{"language":"php","install":"composer require mollie/mollie-api-php","code":"<?php\n$mollie = new \\Mollie\\Api\\MollieApiClient();\n$mollie->setAccessToken(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\");\n\n$organization = $mollie->organizations->get(\"org_12345678\");"},{"language":"node","install":"npm install @mollie/api-client","code":"/*\nWe don't have a Node.js code example for this\nAPI call yet.\n\nIf you have some time to spare, feel free to\nshare suggestions on our Discord:\nhttps://discord.gg/VaTVkXB4aQ\n*/"},{"language":"python","install":"pip install mollie-api-python","code":"from mollie.api.client import Client\n\nmollie_client = Client()\nmollie_client.set_access_token(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\")\n\norganization = mollie_client.organizations.get(\"org_12345678\")"},{"language":"ruby","install":"gem install mollie-api-ruby","code":"require 'mollie-api-ruby'\n\nMollie::Client.configure do |config|\n  config.api_key = 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ'\nend\n\norganization = Mollie::Organization.get('org_12345678')"}]}}},"/organizations/me":{"get":{"summary":"Get current organization","tags":["Organizations API"],"operationId":"get-current-organization","description":"Retrieve the currently authenticated organization. A convenient alias of the [Get organization](get-organization) endpoint.\n\nFor a complete reference of the organization object, refer to the [Get organization](get-organization) endpoint documentation.","responses":{"200":{"description":"The current organization object. For a complete reference of the organization object, refer to the [Get organization](get-organization) endpoint documentation.","content":{"application/hal+json":{"schema":{}}}}},"x-readme":{"code-samples":[{"language":"shell","code":"curl -X GET https://api.mollie.com/v2/organizations/me \\\n    -H \"Authorization: Bearer access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\""},{"language":"php","install":"composer require mollie/mollie-api-php","code":"<?php\n$mollie = new \\Mollie\\Api\\MollieApiClient();\n$mollie->setAccessToken(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\");\n\n$organization = $mollie->organizations->current();"},{"language":"node","install":"npm install @mollie/api-client","code":"/*\nWe don't have a Node.js code example for this\nAPI call yet.\n\nIf you have some time to spare, feel free to\nshare suggestions on our Discord:\nhttps://discord.gg/VaTVkXB4aQ\n*/"},{"language":"python","install":"pip install mollie-api-python","code":"from mollie.api.client import Client\n\nmollie_client = Client()\nmollie_client.set_access_token(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\")\n\norganization = mollie_client.organizations.get(\"me\")"},{"language":"ruby","install":"gem install mollie-api-ruby","code":"require 'mollie-api-ruby'\n\nMollie::Client.configure do |config|\n  config.api_key = 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ'\nend\n\norganization = Mollie::Organization.current"}]}}},"/organizations/me/partner":{"get":{"summary":"Get partner status","tags":["Organizations API"],"operationId":"get-partner-status","description":"Retrieve partnership details about the currently authenticated organization. Only relevant for so-called *partner accounts*.","responses":{"200":{"description":"The partner status object.","content":{"application/hal+json":{"schema":{"type":"object","properties":{"resource":{"type":"string","description":"Indicates the response contains a partner status object. Will always contain the string `partner` for this endpoint.","readOnly":true,"default":"partner"},"partnerType":{"type":["string","null"],"description":"Indicates the type of partner. Will be `null` if the currently authenticated organization is not enrolled as a partner.\n\nPossible values: `oauth` `signuplink` `useragent`","readOnly":true},"isCommissionPartner":{"type":"boolean","description":"Whether the current organization is receiving commissions.","readOnly":true},"userAgentTokens":{"type":"array","description":"Array of User-Agent token objects. Present if the organization is a partner of type `useragent`, or if they were in the past.","items":{"type":"object","properties":{"token":{"type":"string","description":"The unique User-Agent token."},"startsAt":{"type":"string","description":"The date from which the token is active, in ISO 8601 format."},"endsAt":{"type":["string","null"],"description":"The date until when the token will be active, in ISO 8601 format. Will be `null` if the token does not have an end date (yet)."}}},"readOnly":true},"partnerContractSignedAt":{"type":["string","null"],"description":"The date the partner contract was signed, in ISO 8601 format. Omitted if no contract has been signed (yet).","readOnly":true},"partnerContractUpdateAvailable":{"type":"boolean","description":"Whether an update to the partner contract is available and requiring the organization's agreement.","readOnly":true},"_links":{"type":"object","description":"An object with several relevant URLs. Every URL object will contain an `href` and a `type` field.","properties":{"self":{"type":"object","description":"In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"signuplink":{"description":"The URL that can be used to have new organizations sign up and be automatically linked to this partner. Will be omitted if the partner is not of type `signuplink`.","type":"object","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"documentation":{"type":"object","description":"In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}}}}}},"example":{"resource":"partner","partnerType":"signuplink","partnerContractSignedAt":"2023-03-20T13:59:02+00:00","_links":{"self":{"href":"...","type":"application/hal+json"},"signuplink":{"href":"https://www.mollie.com/dashboard/signup/exampleCode","type":"text/html"},"documentation":{"href":"...","type":"text/html"}}}}}}},"x-readme":{"code-samples":[{"language":"shell","code":"curl -X GET https://api.mollie.com/v2/organizations/me/partner \\\n    -H \"Authorization: Bearer access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\""},{"language":"php","install":"composer require mollie/mollie-api-php","code":"/*\nWe don't have a PHP code example for this\nAPI call yet.\n\nIf you have some time to spare, feel free to\nshare suggestions on our Discord:\nhttps://discord.gg/VaTVkXB4aQ\n*/"},{"language":"node","install":"npm install @mollie/api-client","code":"/*\nWe don't have a Node.js code example for this\nAPI call yet.\n\nIf you have some time to spare, feel free to\nshare suggestions on our Discord:\nhttps://discord.gg/VaTVkXB4aQ\n*/"},{"language":"python","install":"pip install mollie-api-python","code":"'''\nWe don't have a Python code example for this\nAPI call yet.\n\nIf you have some time to spare, feel free to\nshare suggestions on our Discord:\nhttps://discord.gg/VaTVkXB4aQ\n'''"},{"language":"ruby","install":"gem install mollie-api-ruby","code":"require 'mollie-api-ruby'\n\nMollie::Client.configure do |config|\n  config.api_key = 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ'\nend\n\norganization = Mollie::Partner.current"}]}}},"/profiles":{"post":{"summary":"Create profile","tags":["Profiles API"],"operationId":"create-profile","description":"Create a profile to process payments on.\n\nProfiles are required for payment processing. Normally they are created via the Mollie dashboard. Alternatively, you can use this endpoint to automate profile creation.","requestBody":{"content":{"application/json":{"schema":{"required":["name","website","email","phone"],"type":"object","properties":{"resource":{"type":"string","description":"Indicates the response contains a profile object. Will always contain the string `profile` for this endpoint.","readOnly":true,"default":"profile"},"id":{"type":"string","description":"The identifier uniquely referring to this profile. Example: `pfl_v9hTwCvYqw`.","readOnly":true},"mode":{"type":"string","description":"Whether this entity was created in live mode or in test mode.\n\nPossible values: `live` `test`","readOnly":true},"name":{"type":"string","description":"The profile's name, this will usually reflect the trade name or brand name of the profile's website or application."},"website":{"type":"string","description":"The URL to the profile's website or application. Only `https` or `http` URLs are allowed. No `@` signs are allowed."},"email":{"type":"string","description":"The email address associated with the profile's trade name or brand."},"phone":{"type":"string","description":"The phone number associated with the profile's trade name or brand."},"description":{"type":["string","null"],"description":"The products or services offered by the profile's website or application."},"countriesOfActivity":{"type":"array","description":"A list of countries where you expect that the majority of the profile's customers reside, in ISO 3166-1 alpha-2 format."},"businessCategory":{"type":"string","description":"The industry associated with the profile's trade name or brand. Please refer to the [business category list](business-categories) for all possible options."},"status":{"type":"string","description":"The profile status determines whether the profile is able to receive live payments.\n\nPossible values:\n\n* `unverified`: The profile has not been verified yet and can only be used to create test payments.\n* `verified`: The profile has been verified and can be used to create live payments and test payments.\n* `blocked`: The profile is blocked and can no longer be used or changed.","readOnly":true},"review":{"type":["object","null"],"description":"Present if changes have been made that have not yet been approved by Mollie. Changes to test profiles are approved automatically, unless a switch to a live profile has been requested. The review object will therefore usually be `null` in test mode.","properties":{"status":{"type":"string","description":"The status of the requested changes.\n\nPossible values: `pending` `rejected`"}},"readOnly":true},"createdAt":{"type":"string","description":"The entity's date and time of creation, in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.","readOnly":true},"_links":{"type":"object","description":"An object with several relevant URLs. Every URL object will contain an `href` and a `type` field.","properties":{"self":{"type":"object","description":"In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"dashboard":{"description":"Link to the profile in the Mollie dashboard.","type":"object","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"chargebacks":{"description":"The API resource URL of the chargebacks that belong to this profile.","type":"object","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"methods":{"description":"The API resource URL of the methods that are enabled for this profile.","type":"object","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"payments":{"description":"The API resource URL of the payments that belong to this profile.","type":"object","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"refunds":{"description":"The API resource URL of the refunds that belong to this profile.","type":"object","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"checkoutPreviewUrl":{"description":"The hosted checkout preview URL. You need to be logged in to access this page.","type":"object","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"documentation":{"type":"object","description":"In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}}},"readOnly":true}}}}}},"responses":{"201":{"description":"The newly created profile object. For a complete reference of the profile object, refer to the [Get profile endpoint](get-profile) documentation.","content":{"application/hal+json":{"example":{"resource":"profile","id":"pfl_QkEhN94Ba","mode":"live","name":"My website name","website":"https://shop.example.org","email":"info@example.org","phone":"+31208202070","businessCategory":"OTHER_MERCHANDISE","categoryCode":5399,"status":"verified","review":{"status":"pending"},"createdAt":"2023-03-20T09:28:37+00:00","_links":{"self":{"href":"...","type":"application/hal+json"},"dashboard":{"href":"https://www.mollie.com/dashboard/org_123456789/settings/profiles/pfl_QkEhN94Ba","type":"text/html"},"documentation":{"href":"...","type":"text/html"}}}}}},"404":{"description":"No entity with this ID exists.","content":{"application/hal+json":{"schema":{"type":"object","description":"An error response object.","properties":{"status":{"type":"integer","description":"The status code of the error message. This is always the same code as the status code of the HTTP message itself.","minimum":400,"maximum":599},"title":{"type":"string","description":"The HTTP reason phrase of the error. For example, for a `404` error, the `title` will be `Not Found`."},"detail":{"type":"string","description":"A detailed human-readable description of the error that occurred."},"field":{"type":["string","null"],"description":"If the error was caused by a value provided by you in a specific field, the `field` property will contain the name of the field that caused the issue."},"_links":{"type":"object","properties":{"documentation":{"description":"The URL to the generic Mollie API error handling guide.","properties":{"href":{"default":"https://docs.mollie.com/errors"},"type":{"default":"text/html"}},"type":"object"}}}}},"example":{"status":404,"title":"Not Found","detail":"No entity exists with token '7UhSN1zuXS'","_links":{"documentation":{"href":"...","type":"text/html"}}}}}}},"x-readme":{"code-samples":[{"language":"shell","code":"curl -X POST https://api.mollie.com/v2/profiles \\\n    -H \"Authorization: Bearer access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\" \\\n    -d \"name=My website name\" \\\n    -d \"website=https://shop.example.org\" \\\n    -d \"email=info@example.org\" \\\n    -d \"phone=+31208202070\" \\\n    -d \"businessCategory=OTHER_MERCHANDISE\" \\\n    -d \"mode=live\""},{"language":"php","install":"composer require mollie/mollie-api-php","code":"<?php\n$mollie = new \\Mollie\\Api\\MollieApiClient();\n$mollie->setAccessToken(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\");\n\n$profile = $mollie->profiles->create([\n    \"name\" => \"My website name\",\n    \"website\" => \"https://shop.example.org\",\n    \"email\" => \"info@example.org\",\n    \"phone\" => \"+31208202070\",\n    \"businessCategory\" => \"OTHER_MERCHANDISE\",\n    \"mode\" => \"live\",\n]);"},{"language":"node","install":"npm install @mollie/api-client","code":"const { createMollieClient } = require('@mollie/api-client');\nconst mollieClient = createMollieClient({ accessToken: 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ' });\n\nconst profile = await mollieClient.profiles.create({\n  name: 'My website name',\n  website: 'https://shop.example.org',\n  email: 'info@example.org',\n  phone: '+31208202070',\n  businessCategory: 'OTHER_MERCHANDISE',\n  mode: 'live'\n});"},{"language":"python","install":"pip install mollie-api-python","code":"from mollie.api.client import Client\n\nmollie_client = Client()\nmollie_client.set_access_token(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\")\n\nprofile = mollie_client.profiles.create({\n    \"name\": \"My website name\",\n    \"website\": \"https://shop.example.org\",\n    \"email\": \"info@example.org\",\n    \"phone\": \"+31208202070\",\n    \"businessCategory\": \"OTHER_MERCHANDISE\",\n    \"mode\": \"live\",\n})"},{"language":"ruby","install":"gem install mollie-api-ruby","code":"require 'mollie-api-ruby'\n\nMollie::Client.configure do |config|\n  config.api_key = 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ'\nend\n\nprofile = Mollie::Profile.create(\n  name: 'My website name',\n  website: 'https://shop.example.org',\n  email: 'info@example.org',\n  phone: '+31208202070',\n  businessCategory: 'OTHER_MERCHANDISE',\n  mode: 'live'\n)"}]}},"get":{"summary":"List profiles","tags":["Profiles API"],"operationId":"list-profiles","description":"Retrieve a list of all of your profiles.\n\nThe results are paginated.","parameters":[{"name":"from","description":"Provide an ID to start the result set from the item with the given ID and onwards. This allows you to paginate the result set.","in":"query","schema":{"type":["string","null"]}},{"name":"limit","description":"The maximum number of items to return. Defaults to 50 items.","in":"query","schema":{"type":["integer","null"],"minimum":1,"maximum":250,"default":50}}],"responses":{"200":{"description":"A list of profile objects. For a complete reference of the profile object, refer to the [Get profile endpoint](get-profile) documentation.","content":{"application/hal+json":{"schema":{"type":"object","properties":{"count":{"type":"integer","description":"The number of items in this result set. If more items are available, a `_links.next` URL will be present in the result as well.\n\nThe maximum number of items per result set is controlled by the `limit` property provided in the request. The default limit is 50 items.","minimum":1,"maximum":250},"_embedded":{"type":"object","properties":{"profiles":{"description":"An array of profile objects. For a complete reference of the profile object, refer to the [Get profile endpoint](get-profile) documentation.","type":"array","items":{"type":"object"}}}},"_links":{"type":"object","description":"Links to help navigate through the lists of items. Every URL object will contain an `href` and a `type` field.","properties":{"self":{"description":"The URL to the current set of items.","type":"object","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"previous":{"description":"The previous set of items, if available.","type":["object","null"],"properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"next":{"description":"The next set of items, if available.","type":["object","null"],"properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"documentation":{"type":"object","description":"In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}}}}}},"example":{"count":5,"_embedded":{"profiles":[{"resource":"profile","id":"pfl_QkEhN94Ba","mode":"live","name":"My website name","website":"https://shop.example.org","email":"info@example.org","phone":"+31208202070","businessCategory":"OTHER_MERCHANDISE","categoryCode":5399,"status":"verified","review":{"status":"pending"},"createdAt":"2023-03-20T09:28:37+00:00","_links":{"self":{"href":"...","type":"application/hal+json"}}},{},{},{},{}]},"_links":{"self":{"href":"...","type":"application/hal+json"},"previous":null,"next":{"href":"https://api.mollie.com/v2/profiles?from=pfl_v9hTwCvYqw&limit=5","type":"application/hal+json"},"documentation":{"href":"...","type":"text/html"}}}}}},"400":{"description":"The request contains issues. For example, if the specified `from` value is not a valid ID.","content":{"application/hal+json":{"schema":{"type":"object","description":"An error response object.","properties":{"status":{"type":"integer","description":"The status code of the error message. This is always the same code as the status code of the HTTP message itself.","minimum":400,"maximum":599},"title":{"type":"string","description":"The HTTP reason phrase of the error. For example, for a `404` error, the `title` will be `Not Found`."},"detail":{"type":"string","description":"A detailed human-readable description of the error that occurred."},"field":{"type":["string","null"],"description":"If the error was caused by a value provided by you in a specific field, the `field` property will contain the name of the field that caused the issue."},"_links":{"type":"object","properties":{"documentation":{"description":"The URL to the generic Mollie API error handling guide.","properties":{"href":{"default":"https://docs.mollie.com/errors"},"type":{"default":"text/html"}},"type":"object"}}}}},"example":{"status":400,"title":"Bad Request","detail":"Invalid cursor value","field":"from","_links":{"documentation":{"href":"...","type":"text/html"}}}}}},"404":{"description":"No entity with this ID exists.","content":{"application/hal+json":{"schema":{"type":"object","description":"An error response object.","properties":{"status":{"type":"integer","description":"The status code of the error message. This is always the same code as the status code of the HTTP message itself.","minimum":400,"maximum":599},"title":{"type":"string","description":"The HTTP reason phrase of the error. For example, for a `404` error, the `title` will be `Not Found`."},"detail":{"type":"string","description":"A detailed human-readable description of the error that occurred."},"field":{"type":["string","null"],"description":"If the error was caused by a value provided by you in a specific field, the `field` property will contain the name of the field that caused the issue."},"_links":{"type":"object","properties":{"documentation":{"description":"The URL to the generic Mollie API error handling guide.","properties":{"href":{"default":"https://docs.mollie.com/errors"},"type":{"default":"text/html"}},"type":"object"}}}}},"example":{"status":404,"title":"Not Found","detail":"No entity exists with token '7UhSN1zuXS'","_links":{"documentation":{"href":"...","type":"text/html"}}}}}}},"x-readme":{"code-samples":[{"language":"shell","code":"curl -X GET https://api.mollie.com/v2/profiles \\\n    -H \"Authorization: Bearer access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\""},{"language":"php","install":"composer require mollie/mollie-api-php","code":"<?php\n$mollie = new \\Mollie\\Api\\MollieApiClient();\n$mollie->setAccessToken(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\");\n\n$profiles = $mollie->profiles();"},{"language":"node","install":"npm install @mollie/api-client","code":"const { createMollieClient } = require('@mollie/api-client');\nconst mollieClient = createMollieClient({ accessToken: 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ' });\n\nconst profiles = await mollieClient.profiles.iterate();"},{"language":"python","install":"pip install mollie-api-python","code":"from mollie.api.client import Client\n\nmollie_client = Client()\nmollie_client.set_access_token(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\")\n\nprofiles = mollie_client.profiles.list()"},{"language":"ruby","install":"gem install mollie-api-ruby","code":"require 'mollie-api-ruby'\n\nMollie::Client.configure do |config|\n  config.api_key = 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ'\nend\n\nprofiles = Mollie::Profile.all"}]}}},"/profiles/{id}":{"parameters":[{"schema":{"type":"string","example":"pfl_QkEhN94Ba"},"name":"id","description":"Provide the ID of the item you want to perform this operation on.","in":"path","required":true}],"get":{"summary":"Get profile","tags":["Profiles API"],"operationId":"get-profile","description":"Retrieve a single profile by its ID.","parameters":[{"name":"testmode","description":"Most API credentials are specifically created for either live mode or test mode. In those cases the `testmode` query parameter can be omitted. For organization-level credentials such as OAuth access tokens, you can enable test mode by setting the `testmode` query parameter to `true`.\n\nTest entities cannot be retrieved when the endpoint is set to live mode, and vice versa.","in":"query","schema":{"type":["boolean","null"],"default":false}}],"responses":{"200":{"description":"The profile object.","content":{"application/hal+json":{"schema":{"type":"object","properties":{"resource":{"type":"string","description":"Indicates the response contains a profile object. Will always contain the string `profile` for this endpoint.","readOnly":true,"default":"profile"},"id":{"type":"string","description":"The identifier uniquely referring to this profile. Example: `pfl_v9hTwCvYqw`.","readOnly":true},"mode":{"type":"string","description":"Whether this entity was created in live mode or in test mode.\n\nPossible values: `live` `test`","readOnly":true},"name":{"type":"string","description":"The profile's name, this will usually reflect the trade name or brand name of the profile's website or application."},"website":{"type":"string","description":"The URL to the profile's website or application. Only `https` or `http` URLs are allowed. No `@` signs are allowed."},"email":{"type":"string","description":"The email address associated with the profile's trade name or brand."},"phone":{"type":"string","description":"The phone number associated with the profile's trade name or brand."},"description":{"type":["string","null"],"description":"The products or services offered by the profile's website or application."},"countriesOfActivity":{"type":"array","description":"A list of countries where you expect that the majority of the profile's customers reside, in ISO 3166-1 alpha-2 format."},"businessCategory":{"type":"string","description":"The industry associated with the profile's trade name or brand. Please refer to the [business category list](business-categories) for all possible options."},"status":{"type":"string","description":"The profile status determines whether the profile is able to receive live payments.\n\nPossible values:\n\n* `unverified`: The profile has not been verified yet and can only be used to create test payments.\n* `verified`: The profile has been verified and can be used to create live payments and test payments.\n* `blocked`: The profile is blocked and can no longer be used or changed.","readOnly":true},"review":{"type":["object","null"],"description":"Present if changes have been made that have not yet been approved by Mollie. Changes to test profiles are approved automatically, unless a switch to a live profile has been requested. The review object will therefore usually be `null` in test mode.","properties":{"status":{"type":"string","description":"The status of the requested changes.\n\nPossible values: `pending` `rejected`"}},"readOnly":true},"createdAt":{"type":"string","description":"The entity's date and time of creation, in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.","readOnly":true},"_links":{"type":"object","description":"An object with several relevant URLs. Every URL object will contain an `href` and a `type` field.","properties":{"self":{"type":"object","description":"In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"dashboard":{"description":"Link to the profile in the Mollie dashboard.","type":"object","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"chargebacks":{"description":"The API resource URL of the chargebacks that belong to this profile.","type":"object","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"methods":{"description":"The API resource URL of the methods that are enabled for this profile.","type":"object","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"payments":{"description":"The API resource URL of the payments that belong to this profile.","type":"object","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"refunds":{"description":"The API resource URL of the refunds that belong to this profile.","type":"object","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"checkoutPreviewUrl":{"description":"The hosted checkout preview URL. You need to be logged in to access this page.","type":"object","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"documentation":{"type":"object","description":"In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}}},"readOnly":true}}},"example":{"resource":"profile","id":"pfl_QkEhN94Ba","mode":"live","name":"My website name","website":"https://shop.example.org","email":"info@example.org","phone":"+31208202070","businessCategory":"OTHER_MERCHANDISE","categoryCode":5399,"status":"verified","review":{"status":"pending"},"createdAt":"2023-03-20T09:28:37+00:00","_links":{"self":{"href":"...","type":"application/hal+json"},"dashboard":{"href":"https://www.mollie.com/dashboard/org_123456789/settings/profiles/pfl_QkEhN94Ba","type":"text/html"},"documentation":{"href":"...","type":"text/html"}}}}}},"404":{"description":"No entity with this ID exists.","content":{"application/hal+json":{"schema":{"type":"object","description":"An error response object.","properties":{"status":{"type":"integer","description":"The status code of the error message. This is always the same code as the status code of the HTTP message itself.","minimum":400,"maximum":599},"title":{"type":"string","description":"The HTTP reason phrase of the error. For example, for a `404` error, the `title` will be `Not Found`."},"detail":{"type":"string","description":"A detailed human-readable description of the error that occurred."},"field":{"type":["string","null"],"description":"If the error was caused by a value provided by you in a specific field, the `field` property will contain the name of the field that caused the issue."},"_links":{"type":"object","properties":{"documentation":{"description":"The URL to the generic Mollie API error handling guide.","properties":{"href":{"default":"https://docs.mollie.com/errors"},"type":{"default":"text/html"}},"type":"object"}}}}},"example":{"status":404,"title":"Not Found","detail":"No entity exists with token '7UhSN1zuXS'","_links":{"documentation":{"href":"...","type":"text/html"}}}}}}},"x-readme":{"code-samples":[{"language":"shell","code":"curl -X GET https://api.mollie.com/v2/profiles/pfl_QkEhN94Ba \\\n    -H \"Authorization: Bearer access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\""},{"language":"php","install":"composer require mollie/mollie-api-php","code":"<?php\n$mollie = new \\Mollie\\Api\\MollieApiClient();\n$mollie->setAccessToken(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\");\n\n$profile = $mollie->profiles->get(\"pfl_QkEhN94Ba\");"},{"language":"node","install":"npm install @mollie/api-client","code":"const { createMollieClient } = require('@mollie/api-client');\nconst mollieClient = createMollieClient({ accessToken: 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ' });\n\nconst profile = await mollieClient.profiles.get('pfl_QkEhN94Ba');"},{"language":"python","install":"pip install mollie-api-python","code":"from mollie.api.client import Client\n\nmollie_client = Client()\nmollie_client.set_access_token(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\")\n\nprofile = mollie_client.profiles.get(\"pfl_QkEhN94Ba\")"},{"language":"ruby","install":"gem install mollie-api-ruby","code":"require 'mollie-api-ruby'\n\nMollie::Client.configure do |config|\n  config.api_key = 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ'\nend\n\nprofile = Mollie::Profile.get('pfl_QkEhN94Ba')"}]}},"patch":{"summary":"Update profile","tags":["Profiles API"],"operationId":"update-profile","description":"Update an existing profile.\n\nProfiles are required for payment processing. Normally they are created and updated via the Mollie dashboard. Alternatively, you can use this endpoint to automate profile management.","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":["string","null"]},"website":{"type":["string","null"]},"email":{"type":["string","null"]},"phone":{"type":["string","null"]},"description":{"type":["string","null"]},"countriesOfActivity":{"type":["array","null"],"items":{"type":"string"}},"businessCategory":{"type":["string","null"]},"categoryCode":{"type":["integer","null"]},"mode":{"type":["string","null"],"description":"Updating a profile from `test` mode to `live` mode will trigger a verification process, where we review the profile before it can start accepting payments."}}}}}},"responses":{"200":{"description":"The updated profile object. For a complete reference of the profile object, refer to the [Get profile endpoint](get-profile) documentation.","content":{"application/hal+json":{"example":{"resource":"profile","id":"pfl_QkEhN94Ba","mode":"live","name":"My updated website name","website":"https://updated.example.org","email":"info@example.org","phone":"+31208202070","businessCategory":"OTHER_MERCHANDISE","categoryCode":5399,"status":"verified","review":{"status":"pending"},"createdAt":"2023-03-20T09:28:37+00:00","_links":{"self":{"href":"...","type":"application/hal+json"},"dashboard":{"href":"https://www.mollie.com/dashboard/org_123456789/settings/profiles/pfl_QkEhN94Ba","type":"text/html"},"documentation":{"href":"...","type":"text/html"}}}}}},"404":{"description":"No entity with this ID exists.","content":{"application/hal+json":{"schema":{"type":"object","description":"An error response object.","properties":{"status":{"type":"integer","description":"The status code of the error message. This is always the same code as the status code of the HTTP message itself.","minimum":400,"maximum":599},"title":{"type":"string","description":"The HTTP reason phrase of the error. For example, for a `404` error, the `title` will be `Not Found`."},"detail":{"type":"string","description":"A detailed human-readable description of the error that occurred."},"field":{"type":["string","null"],"description":"If the error was caused by a value provided by you in a specific field, the `field` property will contain the name of the field that caused the issue."},"_links":{"type":"object","properties":{"documentation":{"description":"The URL to the generic Mollie API error handling guide.","properties":{"href":{"default":"https://docs.mollie.com/errors"},"type":{"default":"text/html"}},"type":"object"}}}}},"example":{"status":404,"title":"Not Found","detail":"No entity exists with token '7UhSN1zuXS'","_links":{"documentation":{"href":"...","type":"text/html"}}}}}}},"x-readme":{"code-samples":[{"language":"shell","code":"curl -X PATCH https://api.mollie.com/v2/profiles/pfl_QkEhN94Ba \\\n    -H \"Authorization: Bearer access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\" \\\n    -d \"name=My updated website name\" \\\n    -d \"website=https://updated.example.org\""},{"language":"php","install":"composer require mollie/mollie-api-php","code":"<?php\n$mollie = new \\Mollie\\Api\\MollieApiClient();\n$mollie->setAccessToken(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\");\n\n$mollie->profiles->update(\"pfl_QkEhN94Ba\", [\n    \"name\" => \"My updated website name\",\n    \"website\" => \"https://updated.example.org\",\n]);"},{"language":"node","install":"npm install @mollie/api-client","code":"const { createMollieClient } = require('@mollie/api-client');\nconst mollieClient = createMollieClient({ accessToken: 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ' });\n\nawait mollieClient.profiles.update('pfl_QkEhN94Ba', {\n  name: 'My updated website name',\n  website: 'https://updated.example.org'\n});"},{"language":"python","install":"pip install mollie-api-python","code":"from mollie.api.client import Client\n\nmollie_client = Client()\nmollie_client.set_api_key(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\")\n\nprofile = mollie_client.profiles.update(\"pfl_QkEhN94Ba\", {\n    \"name\": \"My updated website name\",\n    \"website\": \"https://updated.example.org\"\n})"},{"language":"ruby","install":"gem install mollie-api-ruby","code":"require 'mollie-api-ruby'\n\nMollie::Client.configure do |config|\n  config.api_key = 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ'\nend\n\nprofile = Mollie::profile.update(\n  'pfl_QkEhN94Ba',\n  name: 'My updated website name',\n  website: 'https://updated.example.org'\n)"}]}},"delete":{"summary":"Delete profile","tags":["Profiles API"],"operationId":"delete-profile","description":"Delete a profile. A deleted profile and its related credentials can no longer be used for accepting payments.","responses":{"204":{"description":"An empty response.","content":{"application/hal+json":{"schema":{},"example":{}}}},"404":{"description":"No entity with this ID exists.","content":{"application/hal+json":{"schema":{"type":"object","description":"An error response object.","properties":{"status":{"type":"integer","description":"The status code of the error message. This is always the same code as the status code of the HTTP message itself.","minimum":400,"maximum":599},"title":{"type":"string","description":"The HTTP reason phrase of the error. For example, for a `404` error, the `title` will be `Not Found`."},"detail":{"type":"string","description":"A detailed human-readable description of the error that occurred."},"field":{"type":["string","null"],"description":"If the error was caused by a value provided by you in a specific field, the `field` property will contain the name of the field that caused the issue."},"_links":{"type":"object","properties":{"documentation":{"description":"The URL to the generic Mollie API error handling guide.","properties":{"href":{"default":"https://docs.mollie.com/errors"},"type":{"default":"text/html"}},"type":"object"}}}}},"example":{"status":404,"title":"Not Found","detail":"No entity exists with token '7UhSN1zuXS'","_links":{"documentation":{"href":"...","type":"text/html"}}}}}}},"x-readme":{"code-samples":[{"language":"shell","code":"curl -X DELETE https://api.mollie.com/v2/profiles/pfl_QkEhN94Ba \\\n    -H \"Authorization: Bearer access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\""},{"language":"php","install":"composer require mollie/mollie-api-php","code":"<?php\n$mollie = new \\Mollie\\Api\\MollieApiClient();\n$mollie->setAccessToken(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\");\n\n$mollie->profiles->delete(\"pfl_QkEhN94Ba\");"},{"language":"node","install":"npm install @mollie/api-client","code":"const { createMollieClient } = require('@mollie/api-client');\nconst mollieClient = createMollieClient({ accessToken: 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ' });\n\nconst profile = await mollieClient.profiles.delete('pfl_QkEhN94Ba');"},{"language":"python","install":"pip install mollie-api-python","code":"from mollie.api.client import Client\n\nmollie_client = Client()\nmollie_client.set_access_token(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\")\n\nmollie_client.profiles.delete(\"pfl_QkEhN94Ba\")"},{"language":"ruby","install":"gem install mollie-api-ruby","code":"require 'mollie-api-ruby'\n\nMollie::Client.configure do |config|\n  config.api_key = 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ'\nend\n\nMollie::Profile.delete('pfl_QkEhN94Ba')"}]}}},"/profiles/me":{"get":{"summary":"Get current profile","tags":["Profiles API"],"operationId":"get-current-profile","description":"Retrieve the currently authenticated profile. A convenient alias of the [Get profile](get-profile) endpoint.\n\nFor a complete reference of the profile object, refer to the [Get profile](get-profile) endpoint documentation.","responses":{"200":{"description":"The current profile object. For a complete reference of the profile object, refer to the [Get profile](get-profile) endpoint documentation.","content":{"application/hal+json":{"schema":{}}}}},"x-readme":{"code-samples":[{"language":"shell","code":"curl -X GET https://api.mollie.com/v2/profiles/me \\\n    -H \"Authorization: Bearer live_dHar4XY7LxsDOtmnkVtjNVWXLSlXsM\""},{"language":"php","install":"composer require mollie/mollie-api-php","code":"<?php\n$mollie = new \\Mollie\\Api\\MollieApiClient();\n$mollie->setApiKey(\"live_dHar4XY7LxsDOtmnkVtjNVWXLSlXsM\");\n\n$profile = $mollie->profiles->getCurrent();"},{"language":"node","install":"npm install @mollie/api-client","code":"const { createMollieClient } = require('@mollie/api-client');\nconst mollieClient = createMollieClient({ apiKey: 'live_dHar4XY7LxsDOtmnkVtjNVWXLSlXsM' });\n\nconst profile = await mollieClient.profiles.getCurrent();"},{"language":"python","install":"pip install mollie-api-python","code":"from mollie.api.client import Client\n\nmollie_client = Client()\nmollie_client.set_api_key(\"live_dHar4XY7LxsDOtmnkVtjNVWXLSlXsM\")\n\nprofile = mollie_client.profiles.get(\"me\")"},{"language":"ruby","install":"gem install mollie-api-ruby","code":"require 'mollie-api-ruby'\n\nMollie::Client.configure do |config|\n  config.api_key = 'live_dHar4XY7LxsDOtmnkVtjNVWXLSlXsM'\nend\n\nprofile = Mollie::Profile.current"}]}}},"/onboarding/me":{"get":{"summary":"Get onboarding status","tags":["Onboarding API"],"operationId":"get-onboarding-status","description":"Retrieve the onboarding status of the currently authenticated organization.","responses":{"200":{"description":"The onboarding status object of the current organization.","content":{"application/hal+json":{"schema":{"type":"object","properties":{"resource":{"type":"string","description":"Indicates the response contains an onboarding status object. Will always contain the string `onboarding` for this endpoint.","readOnly":true,"default":"onboarding"},"name":{"type":"string","description":"The name of the organization.","readOnly":true},"status":{"type":"string","description":"The current status of the organization's onboarding process.\n\nPossible values:\n* `needs-data` — The merchant needs to provide additional information\n* `in-review` — The merchant provided all information, awaiting review from Mollie\n* `completed` — The onboarding is completed","readOnly":true},"canReceivePayments":{"type":"boolean","description":"Whether the organization can receive payments.","readOnly":true},"canReceiveSettlements":{"type":"boolean","description":"Whether the organization can receive settlements to their external bank account.","readOnly":true},"signedUpAt":{"type":"string","description":"The sign up date of the organization.","readOnly":true},"_links":{"type":"object","description":"An object with several relevant URLs. Every URL object will contain an `href` and a `type` field.","properties":{"self":{"type":"object","description":"In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"dashboard":{"description":"Direct link to the onboarding process in the Mollie dashboard. The merchant can be redirected to this page to complete their onboarding.","type":"object","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"organization":{"description":"The API resource URL of the organization.","type":"object","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"documentation":{"type":"object","description":"In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}}},"readOnly":true}}},"example":{"resource":"onboarding","name":"Mollie B.V.","status":"completed","canReceivePayments":true,"canReceiveSettlements":true,"signedUpAt":"2023-12-20T10:49:08+00:00","_links":{"self":{"href":"...","type":"application/hal+json"},"dashboard":{"href":"https://www.mollie.com/dashboard/onboarding","type":"text/html"},"organization":{"href":"https://api.mollie.com/v2/organizations/org_12345678","type":"application/hal+json"},"documentation":{"href":"...","type":"text/html"}}}}}}},"x-readme":{"code-samples":[{"language":"shell","code":"curl -X GET  https://api.mollie.com/v2/onboarding/me \\\n    -H \"Authorization: Bearer access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\""},{"language":"php","install":"composer require mollie/mollie-api-php","code":"<?php\n$mollie = new \\Mollie\\Api\\MollieApiClient();\n$mollie->setAccessToken(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\");\n\n$onboarding = $mollie->onboarding->get();"},{"language":"node","install":"npm install @mollie/api-client","code":"/*\nWe don't have a Node.js code example for this\nAPI call yet.\n\nIf you have some time to spare, feel free to\nshare suggestions on our Discord:\nhttps://discord.gg/VaTVkXB4aQ\n*/"},{"language":"python","install":"pip install mollie-api-python","code":"from mollie.api.client import Client\n\nmollie_client = Client()\nmollie_client.set_access_token(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\")\n\nonboarding = mollie_client.onboarding.get(\"me\")"},{"language":"ruby","install":"gem install mollie-api-ruby","code":"require 'mollie-api-ruby'\n\nMollie::Client.configure do |config|\n  config.api_key = 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ'\nend\n\nonboarding = Mollie::Onboarding.me"}]}},"post":{"summary":"Submit onboarding data","tags":["Onboarding API"],"operationId":"submit-onboarding-data","description":"**⚠️ We no longer recommend implementing this endpoint. Please refer to the Client Links API instead to kick off the onboarding process for your merchants.**\n\nSubmit data that will be prefilled in the merchant's onboarding. The data you submit will only be processed when the onboarding status is `needs-data`. Information that the merchant has entered in their dashboard will not be overwritten.","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"organization":{"type":"object","properties":{"name":{"type":"string","description":"The name of the organization."},"address":{"description":"The address of the organization.","type":"object","properties":{"title":{"type":"string","description":"The title of the person, for example *Mr.* or *Mrs.*."},"givenName":{"type":"string","description":"The given name (first name) of the person should be at least two characters and cannot contain only numbers."},"familyName":{"type":"string","description":"The given family name (surname) of the person should be at least two characters and cannot contain only numbers."},"organizationName":{"type":"string","description":"The name of the organization, in case the addressee is an organization."},"streetAndNumber":{"type":"string","description":"A street and street number."},"streetAdditional":{"type":"string","description":"Any additional addressing details, for example an apartment number."},"postalCode":{"type":"string","description":"A postal code. This field may be required if the provided country has a postal code system."},"email":{"type":"string"},"phone":{"type":"string","description":"If provided, it must be in the [E.164](https://en.wikipedia.org/wiki/E.164) format. For example: +31208202070."},"city":{"type":"string"},"region":{"type":"string"},"country":{"type":"string","description":"A country code in [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) format."}}},"registrationNumber":{"type":"string","description":"The registration number of the organization at their local chamber of commerce."},"vatNumber":{"type":["string","null"],"description":"The VAT number of the organization, if based in the European Union or in The United Kingdom. VAT numbers are verified against the international registry *VIES*.\n\nThe field can be omitted for merchants residing in other countries."},"vatRegulation":{"type":["string","null"],"description":"Mollie applies Dutch VAT for merchants based in The Netherlands, British VAT for merchants based in The United Kingdom, and shifted VAT for merchants in the European Union.\n\nThe field can be omitted for merchants residing in other countries.\n\nPossible values: `dutch` `british` `shifted`"}}},"profile":{"type":"object","properties":{"name":{"type":"string","description":"The profile's name, this will usually reflect the trade name or brand name of the profile's website or application."},"website":{"type":"string","description":"The URL to the profile's website or application. Only `https` or `http` URLs are allowed. No `@` signs are allowed."},"email":{"type":"string","description":"The email address associated with the profile's trade name or brand."},"phone":{"type":"string","description":"The phone number associated with the profile's trade name or brand."},"description":{"type":["string","null"],"description":"The products or services offered by the profile's website or application."},"businessCategory":{"type":"string","description":"The industry associated with the profile's trade name or brand. Please refer to the [business category list](business-categories) for all possible options."}}}}}}}},"responses":{"204":{"description":"An empty response.","content":{"application/hal+json":{"schema":{},"example":{}}}}},"x-readme":{"code-samples":[{"language":"shell","code":"curl -X POST https://api.mollie.com/v2/onboarding/me \\\n    -H \"Authorization: Bearer live_dHar4XY7LxsDOtmnkVtjNVWXLSlXsM\" \\\n    -d \"organization[name]=Mollie B.V.\" \\\n    -d \"organization[address][streetAndNumber]=Keizersgracht 126\" \\\n    -d \"organization[address][postalCode]=1015 CW\" \\\n    -d \"organization[address][city]=Amsterdam\" \\\n    -d \"organization[address][country]=NL\" \\\n    -d \"organization[registrationNumber]=30204462\" \\\n    -d \"organization[vatNumber]=NL815839091B01\" \\\n    -d \"profile[name]=Mollie\" \\\n    -d \"profile[url]=https://www.mollie.com\" \\\n    -d \"profile[email]=info@mollie.com\" \\\n    -d \"profile[phone]=+31208202070\" \\\n    -d \"profile[businessCategory]=MONEY_SERVICES\""},{"language":"php","install":"composer require mollie/mollie-api-php","code":"<?php\n$mollie = new \\Mollie\\Api\\MollieApiClient();\n$mollie->setAccessToken(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\");\n\n$mollie->onboarding->submit([\n    \"organization\" => [\n        \"name\" => \"Mollie B.V.\",\n        \"address\" => [\n            \"streetAndNumber\" => \"Keizersgracht 126\",\n            \"postalCode\" => \"1015 CW\",\n            \"city\" => \"Amsterdam\",\n            \"country\" => \"NL\",\n        ],\n        \"registrationNumber\" => \"30204462\",\n        \"vatNumber\" => \"NL815839091B01\",\n    ],\n    \"profile\" => [\n        \"name\" => \"Mollie\",\n        \"url\" => \"https://www.mollie.com\",\n        \"email\" => \"info@mollie.com\",\n        \"phone\" => \"+31208202070\",\n        \"businessCategory\": \"MONEY_SERVICES\",\n    ],\n]);"},{"language":"node","install":"npm install @mollie/api-client","code":"/*\nWe don't have a Node.js code example for this\nAPI call yet.\n\nIf you have some time to spare, feel free to\nshare suggestions on our Discord:\nhttps://discord.gg/VaTVkXB4aQ\n*/"},{"language":"python","install":"pip install mollie-api-python","code":"from mollie.api.client import Client\n\nmollie_client = Client()\nmollie_client.set_access_token(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\")\n\nmollie_client.onboarding.create({\n  \"organization\": {\n    \"name\": \"Mollie B.V.\",\n    \"address\": {\n      \"streetAndNumber\": \"Keizersgracht 126\",\n      \"postalCode\": \"1015 CW\",\n      \"city\": \"Amsterdam\",\n      \"country\": \"NL\",\n    },\n    \"registrationNumber\": \"30204462\",\n    \"vatNumber\": \"NL815839091B01\",\n  },\n  \"profile\": {\n    \"name\": \"Mollie\",\n    \"url\": \"https://www.mollie.com\",\n    \"email\": \"info@mollie.com\",\n    \"phone\": \"+31208202070\",\n    \"categoryCode\": 6012,\n  },\n})"},{"language":"ruby","install":"gem install mollie-api-ruby","code":"require 'mollie-api-ruby'\n\nMollie::Client.configure do |config|\n  config.api_key = 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ'\nend\n\nMollie::Onboarding.submit(\n  organization: {\n    name: \"Mollie B.V.\",\n    address: {\n      streetAndNumber: \"Keizersgracht 126\",\n      postalCode: \"1015 CW\",\n      city: \"Amsterdam\",\n      country: \"NL\"\n    },\n    registrationNumber: \"30204462\",\n    vatNumber: \"NL815839091B01\"\n  },\n  profile: {\n    name: \"Mollie\",\n    url: \"https://www.mollie.com\",\n    email: \"info@mollie.com\",\n    phone: \"+31208202070\",\n    businessCategory: \"MONEY_SERVICES\"\n  }\n)"}]}}},"/clients":{"get":{"summary":"List clients","tags":["Clients API"],"operationId":"list-clients","description":"Retrieve a list of all clients linked to your account.\n\nThe results are paginated.","parameters":[{"description":"This endpoint allows embedding related API items by appending the following values via the `embed` query string parameter.\n\n* `organization`: Include the organization of the client. Available for `signuplink` partners, or for `oauth` partners with the `organizations.read` scope.\n* `onboarding`: Include the onboarding status of the client. Available for `signuplink` partners, or for `oauth` partners with the `onboarding.read` scope.","name":"embed","in":"query","schema":{"type":["string","null"]}},{"name":"from","description":"Provide an ID to start the result set from the item with the given ID and onwards. This allows you to paginate the result set.","in":"query","schema":{"type":["string","null"]}},{"name":"limit","description":"The maximum number of items to return. Defaults to 50 items.","in":"query","schema":{"type":["integer","null"],"minimum":1,"maximum":250,"default":50}}],"responses":{"200":{"description":"A list of client objects. For a complete reference of the client object, refer to the [Get client endpoint](get-client) documentation.","content":{"application/hal+json":{"schema":{"type":"object","properties":{"count":{"type":"integer","description":"The number of items in this result set. If more items are available, a `_links.next` URL will be present in the result as well.\n\nThe maximum number of items per result set is controlled by the `limit` property provided in the request. The default limit is 50 items.","minimum":1,"maximum":250},"_embedded":{"type":"object","properties":{"clients":{"description":"An array of client objects. For a complete reference of the client object, refer to the [Get client endpoint](get-client) documentation.","type":"array","items":{"type":"object"}}}},"_links":{"type":"object","description":"Links to help navigate through the lists of items. Every URL object will contain an `href` and a `type` field.","properties":{"self":{"description":"The URL to the current set of items.","type":"object","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"previous":{"description":"The previous set of items, if available.","type":["object","null"],"properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"next":{"description":"The next set of items, if available.","type":["object","null"],"properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"documentation":{"type":"object","description":"In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}}}}}},"example":{"count":5,"_embedded":{"clients":[{"resource":"client","id":"org_12345678","organizationCreatedAt":"2023-04-06T13:10:19+00:00","_links":{"self":{"href":"...","type":"application/hal+json"}}},{},{},{},{}]},"_links":{"self":{"href":"...","type":"application/hal+json"},"previous":null,"next":{"href":"https://api.mollie.com/v2/clients?from=org_63916732&limit=5","type":"application/hal+json"},"documentation":{"href":"...","type":"text/html"}}}}}},"400":{"description":"The request contains issues. For example, if the specified `from` value is not a valid ID.","content":{"application/hal+json":{"schema":{"type":"object","description":"An error response object.","properties":{"status":{"type":"integer","description":"The status code of the error message. This is always the same code as the status code of the HTTP message itself.","minimum":400,"maximum":599},"title":{"type":"string","description":"The HTTP reason phrase of the error. For example, for a `404` error, the `title` will be `Not Found`."},"detail":{"type":"string","description":"A detailed human-readable description of the error that occurred."},"field":{"type":["string","null"],"description":"If the error was caused by a value provided by you in a specific field, the `field` property will contain the name of the field that caused the issue."},"_links":{"type":"object","properties":{"documentation":{"description":"The URL to the generic Mollie API error handling guide.","properties":{"href":{"default":"https://docs.mollie.com/errors"},"type":{"default":"text/html"}},"type":"object"}}}}},"example":{"status":400,"title":"Bad Request","detail":"Invalid cursor value","field":"from","_links":{"documentation":{"href":"...","type":"text/html"}}}}}},"404":{"description":"No entity with this ID exists.","content":{"application/hal+json":{"schema":{"type":"object","description":"An error response object.","properties":{"status":{"type":"integer","description":"The status code of the error message. This is always the same code as the status code of the HTTP message itself.","minimum":400,"maximum":599},"title":{"type":"string","description":"The HTTP reason phrase of the error. For example, for a `404` error, the `title` will be `Not Found`."},"detail":{"type":"string","description":"A detailed human-readable description of the error that occurred."},"field":{"type":["string","null"],"description":"If the error was caused by a value provided by you in a specific field, the `field` property will contain the name of the field that caused the issue."},"_links":{"type":"object","properties":{"documentation":{"description":"The URL to the generic Mollie API error handling guide.","properties":{"href":{"default":"https://docs.mollie.com/errors"},"type":{"default":"text/html"}},"type":"object"}}}}},"example":{"status":404,"title":"Not Found","detail":"No entity exists with token '7UhSN1zuXS'","_links":{"documentation":{"href":"...","type":"text/html"}}}}}}},"x-readme":{"code-samples":[{"language":"shell","code":"curl -X GET https://api.mollie.com/v2/clients \\\n    -H \"Authorization: Bearer access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\""},{"language":"php","install":"composer require mollie/mollie-api-php","code":"<?php\n$mollie = new \\Mollie\\Api\\MollieApiClient();\n$mollie->setAccessToken(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\");\n\n$clients = $mollie->clients();"},{"language":"node","install":"npm install @mollie/api-client","code":"/*\nWe don't have a Node.js code example for this\nAPI call yet.\n\nIf you have some time to spare, feel free to\nshare suggestions on our Discord:\nhttps://discord.gg/VaTVkXB4aQ\n*/"},{"language":"python","install":"pip install mollie-api-python","code":"from mollie.api.client import Client\n\nmollie_client = Client()\nmollie_client.set_access_token(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\")\n\nclients = mollie_client.clients.list()"},{"language":"ruby","install":"gem install mollie-api-ruby","code":"require 'mollie-api-ruby'\n\nMollie::Client.configure do |config|\n  config.api_key = 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ'\nend\n\nclients = Mollie::Client.all"}]}}},"/clients/{id}":{"parameters":[{"schema":{"type":"string","example":"org_12345678"},"name":"id","description":"Provide the ID of the item you want to perform this operation on.","in":"path","required":true}],"get":{"summary":"Get client","tags":["Clients API"],"operationId":"get-client","description":"Retrieve a single client by its ID.","parameters":[{"description":"This endpoint allows embedding related API items by appending the following values via the `embed` query string parameter.\n\n* `organization`: Include the organization of the client. Available for `signuplink` partners, or for `oauth` partners with the `organizations.read` scope.\n* `onboarding`: Include the onboarding status of the client. Available for `signuplink` partners, or for `oauth` partners with the `onboarding.read` scope.","name":"embed","in":"query","schema":{"type":["string","null"]}}],"responses":{"200":{"description":"The client object.","content":{"application/hal+json":{"schema":{"type":"object","properties":{"resource":{"type":"string","description":"Indicates the response contains a client object. Will always contain the string `client` for this endpoint.","readOnly":true,"default":"client"},"id":{"type":"string","description":"The identifier uniquely referring to this client. Example: `org_12345678`.","readOnly":true},"organizationCreatedAt":{"type":"string","description":"The date and time the client organization was created, in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.","readOnly":true},"_links":{"type":"object","description":"An object with several relevant URLs. Every URL object will contain an `href` and a `type` field.","properties":{"self":{"type":"object","description":"In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"organization":{"description":"The API resource URL of the client's organization.","type":"object","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"onboarding":{"description":"The API resource URL of the client's onboarding status.","type":"object","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"documentation":{"type":"object","description":"In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}}},"readOnly":true}}},"example":{"resource":"client","id":"org_12345678","organizationCreatedAt":"2023-04-06T13:10:19+00:00","_links":{"self":{"href":"...","type":"application/hal+json"},"organization":{"href":"https://api.mollie.com/v2/organizations/org_12345678","type":"application/hal+json"},"onboarding":{"href":"https://api.mollie.com/v2/onboarding/org_12345678","type":"application/hal+json"},"documentation":{"href":"...","type":"text/html"}}}}}},"404":{"description":"No entity with this ID exists.","content":{"application/hal+json":{"schema":{"type":"object","description":"An error response object.","properties":{"status":{"type":"integer","description":"The status code of the error message. This is always the same code as the status code of the HTTP message itself.","minimum":400,"maximum":599},"title":{"type":"string","description":"The HTTP reason phrase of the error. For example, for a `404` error, the `title` will be `Not Found`."},"detail":{"type":"string","description":"A detailed human-readable description of the error that occurred."},"field":{"type":["string","null"],"description":"If the error was caused by a value provided by you in a specific field, the `field` property will contain the name of the field that caused the issue."},"_links":{"type":"object","properties":{"documentation":{"description":"The URL to the generic Mollie API error handling guide.","properties":{"href":{"default":"https://docs.mollie.com/errors"},"type":{"default":"text/html"}},"type":"object"}}}}},"example":{"status":404,"title":"Not Found","detail":"No entity exists with token '7UhSN1zuXS'","_links":{"documentation":{"href":"...","type":"text/html"}}}}}}},"x-readme":{"code-samples":[{"language":"shell","code":"curl -X GET https://api.mollie.com/v2/clients/org_12345678 \\\n    -H \"Authorization: Bearer access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\""},{"language":"php","install":"composer require mollie/mollie-api-php","code":"<?php\n$mollie = new \\Mollie\\Api\\MollieApiClient();\n$mollie->setAccessToken(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\");\n\n$client = $mollie->clients->get(\"org_12345678\");"},{"language":"node","install":"npm install @mollie/api-client","code":"/*\nWe don't have a Node.js code example for this\nAPI call yet.\n\nIf you have some time to spare, feel free to\nshare suggestions on our Discord:\nhttps://discord.gg/VaTVkXB4aQ\n*/"},{"language":"python","install":"pip install mollie-api-python","code":"from mollie.api.client import Client\n\nmollie_client = Client()\nmollie_client.set_access_token(\"access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\")\n\nclient = mollie_client.clients.get(\"org_12345678\")"},{"language":"ruby","install":"gem install mollie-api-ruby","code":"require 'mollie-api-ruby'\n\nMollie::Client.configure do |config|\n  config.api_key = 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ'\nend\n\nclient = Mollie::Client.get('org_12345678')"}]}}},"/client-links":{"post":{"summary":"Create client link","tags":["Client Links API"],"operationId":"create-client-link","description":"> 🚧 Closed beta\n> \n> The Client Links API is in closed beta and only available to selected partners. Please contact your partner manager if you want to implement this.\n\nLink a new or existing organization to your OAuth application, in effect creating a new client. The response contains a `clientLink` where you should redirect your customer to.\n\nThe `clientLink` URL behaves similar to the regular OAuth authorization URL. It supports the following parameters from the [Authorize](authorize) endpoint:\n\n* `client_id`\n* `state`\n* `approval_prompt`\n* `scope`\n\nWe recommend at least requesting the scopes `onboarding.read onboarding.write` this way.\n\nError handling is also dealt with similar to the [Authorize](authorize) endpoint: the customer is redirected back to your app's redirect URL with the `error` and `error_description` parameters added to the URL.","requestBody":{"content":{"application/json":{"schema":{"required":["owner","name","address"],"type":"object","properties":{"resource":{"type":"string","description":"Indicates the response contains a client link object. Will always contain the string `client-link` for this endpoint.","readOnly":true,"default":"client-link"},"id":{"type":"string","description":"The identifier uniquely referring to this client link. Example: `cl_vZCnNQsV2UtfXxYifWKWH`.","readOnly":true},"owner":{"type":"object","description":"Personal data of your customer.","properties":{"email":{"type":"string","description":"The email address of your customer."},"givenName":{"type":"string","description":"The given name (first name) of your customer."},"familyName":{"type":"string","description":"The family name (surname) of your customer."},"locale":{"type":["string","null"],"description":"Preset the language to be used for the login screen, if applicable. For the consent screen, the preferred language of the logged in merchant will be used and this parameter is ignored.\n\nWhen this parameter is omitted, the browser language will be used instead.\n\nPossible values: `en_US` `nl_NL` `nl_BE` `fr_FR` `fr_BE` `de_DE` `es_ES` `it_IT`"}},"required":["email","givenName","familyName"],"writeOnly":true},"name":{"type":"string","description":"Name of the organization.","writeOnly":true},"address":{"type":"object","description":"Address of the organization.","properties":{"streetAndNumber":{"type":["string","null"],"description":"The street name and house number of the organization."},"postalCode":{"type":["string","null"],"description":"The postal code of the organization. Required if a street address is provided and if the country has a postal code system."},"city":{"type":["string","null"],"description":"The city of the organization. Required if a street address is provided."},"country":{"type":"string","description":"The country of the address in ISO 3166-1 alpha-2 format."}},"required":["country"],"writeOnly":true},"registrationNumber":{"type":["string","null"],"description":"The registration number of the organization at their local chamber of commerce.","writeOnly":true},"vatNumber":{"type":["string","null"],"description":"The VAT number of the organization, if based in the European Union. VAT numbers are verified against the international registry *VIES*.","writeOnly":true},"_links":{"type":"object","description":"An object with several relevant URLs. Every URL object will contain an `href` and a `type` field.","properties":{"self":{"type":"object","description":"In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"clientLink":{"description":"The link you can send your customer to, where they can either log in and link their account, or sign up and proceed with onboarding.","type":"object","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"documentation":{"type":"object","description":"In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}}},"readOnly":true}}}}}},"responses":{"201":{"description":"The newly created client link object.","content":{"application/hal+json":{"schema":{"type":"object","properties":{"resource":{"type":"string","description":"Indicates the response contains a client link object. Will always contain the string `client-link` for this endpoint.","readOnly":true,"default":"client-link"},"id":{"type":"string","description":"The identifier uniquely referring to this client link. Example: `cl_vZCnNQsV2UtfXxYifWKWH`.","readOnly":true},"owner":{"type":"object","description":"Personal data of your customer.","properties":{"email":{"type":"string","description":"The email address of your customer."},"givenName":{"type":"string","description":"The given name (first name) of your customer."},"familyName":{"type":"string","description":"The family name (surname) of your customer."},"locale":{"type":["string","null"],"description":"Preset the language to be used for the login screen, if applicable. For the consent screen, the preferred language of the logged in merchant will be used and this parameter is ignored.\n\nWhen this parameter is omitted, the browser language will be used instead.\n\nPossible values: `en_US` `nl_NL` `nl_BE` `fr_FR` `fr_BE` `de_DE` `es_ES` `it_IT`"}},"required":["email","givenName","familyName"],"writeOnly":true},"name":{"type":"string","description":"Name of the organization.","writeOnly":true},"address":{"type":"object","description":"Address of the organization.","properties":{"streetAndNumber":{"type":["string","null"],"description":"The street name and house number of the organization."},"postalCode":{"type":["string","null"],"description":"The postal code of the organization. Required if a street address is provided and if the country has a postal code system."},"city":{"type":["string","null"],"description":"The city of the organization. Required if a street address is provided."},"country":{"type":"string","description":"The country of the address in ISO 3166-1 alpha-2 format."}},"required":["country"],"writeOnly":true},"registrationNumber":{"type":["string","null"],"description":"The registration number of the organization at their local chamber of commerce.","writeOnly":true},"vatNumber":{"type":["string","null"],"description":"The VAT number of the organization, if based in the European Union. VAT numbers are verified against the international registry *VIES*.","writeOnly":true},"_links":{"type":"object","description":"An object with several relevant URLs. Every URL object will contain an `href` and a `type` field.","properties":{"self":{"type":"object","description":"In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"clientLink":{"description":"The link you can send your customer to, where they can either log in and link their account, or sign up and proceed with onboarding.","type":"object","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"documentation":{"type":"object","description":"In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}}},"readOnly":true}}},"example":{"resource":"client-link","id":"cl_vZCnNQsV2UtfXxYifWKWH","_links":{"self":{"href":"...","type":"application/hal+json"},"clientLink":{"href":"https://my.mollie.com/dashboard/client-link/cl_vZCnNQsV2UtfXxYifWKWH","type":"text/html"},"documentation":{"href":"...","type":"text/html"}}}}}},"404":{"description":"No entity with this ID exists.","content":{"application/hal+json":{"schema":{"type":"object","description":"An error response object.","properties":{"status":{"type":"integer","description":"The status code of the error message. This is always the same code as the status code of the HTTP message itself.","minimum":400,"maximum":599},"title":{"type":"string","description":"The HTTP reason phrase of the error. For example, for a `404` error, the `title` will be `Not Found`."},"detail":{"type":"string","description":"A detailed human-readable description of the error that occurred."},"field":{"type":["string","null"],"description":"If the error was caused by a value provided by you in a specific field, the `field` property will contain the name of the field that caused the issue."},"_links":{"type":"object","properties":{"documentation":{"description":"The URL to the generic Mollie API error handling guide.","properties":{"href":{"default":"https://docs.mollie.com/errors"},"type":{"default":"text/html"}},"type":"object"}}}}},"example":{"status":404,"title":"Not Found","detail":"No entity exists with token '7UhSN1zuXS'","_links":{"documentation":{"href":"...","type":"text/html"}}}}}}},"x-readme":{"code-samples":[{"language":"shell","code":"curl -X POST https://api.mollie.com/v2/client-links \\\n    -H \"Authorization: Bearer access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ\" \\\n    -d \"owner[email]=info@example.org\" \\\n    -d \"owner[givenName]=Chuck\" \\\n    -d \"owner[familyName]=Norris\" \\\n    -d \"address[country]=NL\" \\\n    -d \"name=Mollie B.V.\" \\\n    -d \"registrationNumber=30204462\" \\\n    -d \"vatNumber=NL815839091B01\""},{"language":"php","install":"composer require mollie/mollie-api-php","code":"/*\nWe don't have a PHP code example for this\nAPI call yet.\n\nIf you have some time to spare, feel free to\nshare suggestions on our Discord:\nhttps://discord.gg/VaTVkXB4aQ\n*/"},{"language":"node","install":"npm install @mollie/api-client","code":"/*\nWe don't have a Node.js code example for this\nAPI call yet.\n\nIf you have some time to spare, feel free to\nshare suggestions on our Discord:\nhttps://discord.gg/VaTVkXB4aQ\n*/"},{"language":"python","install":"pip install mollie-api-python","code":"'''\nWe don't have a Python code example for this\nAPI call yet.\n\nIf you have some time to spare, feel free to\nshare suggestions on our Discord:\nhttps://discord.gg/VaTVkXB4aQ\n'''"},{"language":"ruby","install":"gem install mollie-api-ruby","code":"# We don't have a Ruby code example for this\n# API call yet.\n# \n# If you have some time to spare, feel free to\n# share suggestions on our Discord:\n# https://discord.gg/VaTVkXB4aQ"}]}}}},"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","x-default":"live_dHar4XY7LxsDOtmnkVtjNVWXLSlXsM"}},"schemas":{"list-count":{"type":"integer","description":"The number of items in this result set. If more items are available, a `_links.next` URL will be present in the result as well.\n\nThe maximum number of items per result set is controlled by the `limit` property provided in the request. The default limit is 50 items.","minimum":1,"maximum":250},"url":{"type":"object","description":"In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"error-response":{"type":"object","description":"An error response object.","properties":{"status":{"type":"integer","description":"The status code of the error message. This is always the same code as the status code of the HTTP message itself.","minimum":400,"maximum":599},"title":{"type":"string","description":"The HTTP reason phrase of the error. For example, for a `404` error, the `title` will be `Not Found`."},"detail":{"type":"string","description":"A detailed human-readable description of the error that occurred."},"field":{"type":["string","null"],"description":"If the error was caused by a value provided by you in a specific field, the `field` property will contain the name of the field that caused the issue."},"_links":{"type":"object","properties":{"documentation":{"description":"The URL to the generic Mollie API error handling guide.","properties":{"href":{"default":"https://docs.mollie.com/errors"},"type":{"default":"text/html"}},"type":"object"}}}}},"entity-permission":{"type":"object","properties":{"resource":{"type":"string","description":"Indicates the response contains a permission object. Will always contain the string `permission` for this endpoint.","readOnly":true,"default":"permission"},"id":{"type":"string","description":"The identifier uniquely referring to this permission. Example: `payments.read`.","readOnly":true},"description":{"type":"string","description":"A short description of what kind of access the permission enables.","readOnly":true},"granted":{"type":"boolean","description":"Whether this permission is granted to the app by the organization.","readOnly":true},"_links":{"type":"object","description":"An object with several relevant URLs. Every URL object will contain an `href` and a `type` field.","properties":{"self":{"type":"object","description":"In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}},"documentation":{"type":"object","description":"In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.","properties":{"href":{"type":"string","description":"The actual URL string."},"type":{"type":"string","description":"The content type of the page or endpoint the URL points to."}}}},"readOnly":true}}},"address":{"type":"object","properties":{"title":{"type":"string","description":"The title of the person, for exa
[...]
