{"openapi":"3.0.0","info":{"title":"Execution API","description":"API for Studio's Execution Management System.","version":"2.0.0"},"servers":[{"url":"http://api.clearstreet.io/studio/v2","description":"Production environment"}],"security":[{"BearerAuth":[]}],"paths":{"/accounts/{account_id}/orders":{"post":{"operationId":"createOrder","summary":"Create order","description":"Creates a new order and sends to our internal systems for execution. Note that a successful call to this endpoint does not necessarily mean your order has been accepted, e.g. a downstream venue might reject your order. You should therefore utilize our WebSocket APIs to listen for changes in order lifecycle events.","tags":["Orders"],"parameters":[{"in":"path","name":"account_id","required":true,"schema":{"$ref":"#/components/schemas/Order/properties/account_id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"reference_id":{"$ref":"#/components/schemas/ReferenceId"},"order_type":{"$ref":"#/components/schemas/OrderType"},"side":{"$ref":"#/components/schemas/OrderSide"},"quantity":{"$ref":"#/components/schemas/Position/properties/quantity","description":"The maximum quantity to be executed."},"price":{"$ref":"#/components/schemas/Order/properties/price","description":"The price to execute at-or-better."},"time_in_force":{"$ref":"#/components/schemas/TimeInForce"},"strategy_type":{"$ref":"#/components/schemas/StrategyType"},"locate_broker":{"type":"string","minLength":1,"maxLength":256,"description":"If you're short-selling and using an away broker for a locate, provide the broker name here."},"symbol":{"$ref":"#/components/schemas/Order/properties/symbol","description":"The symbol this order is for. See `symbol_format` for supported symbol formats."},"symbol_format":{"$ref":"#/paths/~1accounts~1%7Baccount_id%7D~1orders/get/parameters/5/schema","default":"cms"}},"required":["order_type","side","quantity","time_in_force","strategy_type","symbol"],"additionalProperties":false}}}},"responses":{"201":{"description":"Order received. Indicates the the order was received and is pending further processing.","content":{"application/json":{"schema":{"type":"object","properties":{"order_id":{"type":"string","example":"234usdfa3","description":"An internally generated unique ID for this order."}},"required":["order_id"]}}}},"default":{"$ref":"#/paths/~1accounts~1%7Baccount_id%7D~1orders/get/responses/default"}}},"get":{"operationId":"listOrders","summary":"List orders","description":"List orders for a given account for the current trading day, filtered on the given query parameters.","tags":["Orders"],"parameters":[{"in":"path","name":"account_id","required":true,"schema":{"$ref":"#/components/schemas/Order/properties/account_id"}},{"in":"query","name":"state","schema":{"$ref":"#/components/schemas/OrderState"},"description":"Filter by order state."},{"in":"query","name":"from","schema":{"$ref":"#/components/schemas/Order/properties/created_at","description":"Milliseconds since epoch timestamp. This will constrain the search for orders created after this timestamp, inclusively. Timestamps for orders prior the current trading day will be ignored."}},{"in":"query","name":"to","schema":{"$ref":"#/components/schemas/Order/properties/created_at","description":"Milliseconds since epoch timestamp. This will constrain the search for orders created before this timestamp, inclusively. Timestamps for orders beyond the current trading day will be ignored."}},{"in":"query","name":"symbol","schema":{"$ref":"#/components/schemas/Order/properties/symbol"},"description":"Filter by symbol."},{"in":"query","name":"symbol_format","schema":{"default":"ticker","type":"string","enum":["cms","osi"],"description":"Denotes the format of the provided `symbol` field."},"description":"Format of symbol."},{"in":"query","name":"page_size","schema":{"type":"integer","minimum":1,"maximum":2000,"default":25,"description":"Number of orders to return per page."}},{"in":"query","name":"page_token","schema":{"type":"string","description":"Cursor for the page to return."}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Order"}},"next_page_token":{"type":"string","description":"Cursor for the next page of results."}},"required":["data"]}}}},"default":{"description":"Error response","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","format":"uri","description":"A URI reference that identifies the problem type."},"title":{"type":"string","description":"A short, human-readable summary of the problem type."},"status":{"type":"number","minimum":100,"maximum":599,"description":"The HTTP status code generated by the origin server for this occurrence of the problem."},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem."},"instance":{"type":"string","format":"uri","description":"An absolute URI that identifies the specific occurrence of the problem. It may or may not yield further information if dereferenced."}},"additionalProperties":false,"description":"A Problem Details object (RFC 9457)"}}}}}},"delete":{"operationId":"deleteAllOrders","summary":"Delete all orders","description":"Attempts to cancel all open orders for a given account. Cancelling an order cannot be guaranteed as there might be in-flight executions.","tags":["Orders"],"parameters":[{"in":"path","name":"account_id","required":true,"schema":{"$ref":"#/components/schemas/Order/properties/account_id"}},{"in":"query","name":"symbol","schema":{"$ref":"#/components/schemas/Order/properties/symbol","description":"Cancel orders only for this specific symbol. If this is omitted, all open orders will be cancelled."}},{"in":"query","name":"symbol_format","schema":{"$ref":"#/paths/~1accounts~1%7Baccount_id%7D~1orders/get/parameters/5/schema","default":"cms","description":"Format of the provided symbol."}}],"responses":{"201":{"description":"Successfully attempted to cancel all open orders.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/OrderId"},"description":"Array of order IDs that were attempted to be cancelled."}},"required":["data"]}}}},"default":{"$ref":"#/paths/~1accounts~1%7Baccount_id%7D~1orders/get/responses/default"}}}},"/accounts/{account_id}/orders/{order_id}":{"get":{"operationId":"getOrder","summary":"Get order","description":"Get an order that was previously created.","tags":["Orders"],"parameters":[{"in":"path","name":"account_id","required":true,"schema":{"$ref":"#/components/schemas/Order/properties/account_id"}},{"in":"path","name":"order_id","required":true,"schema":{"$ref":"#/components/schemas/OrderId"}}],"responses":{"200":{"description":"The order associated with the given `order_id`.","content":{"application/json":{"schema":{"type":"object","properties":{"order":{"$ref":"#/components/schemas/Order"}},"required":["order"],"additionalProperties":false}}}}}},"delete":{"operationId":"deleteOrder","summary":"Delete order","description":"Attempts to cancel an existing order. Cancelling an order cannot be guaranteed as there might be in-flight executions.","tags":["Orders"],"parameters":[{"in":"path","name":"account_id","required":true,"schema":{"$ref":"#/components/schemas/Order/properties/account_id"}},{"in":"path","name":"order_id","required":true,"schema":{"$ref":"#/components/schemas/OrderId"}}],"responses":{"201":{"description":"Order cancel successfully attempted."},"default":{"$ref":"#/paths/~1accounts~1%7Baccount_id%7D~1orders/get/responses/default"}}}},"/accounts/{account_id}/trades/{trade_id}":{"get":{"operationId":"getTrade","summary":"Get trade","description":"Get trade a trade by its unique trade ID.","tags":["Trades"],"parameters":[{"in":"path","name":"account_id","required":true,"schema":{"$ref":"#/components/schemas/Order/properties/account_id"}},{"in":"path","name":"trade_id","required":true,"schema":{"$ref":"#/components/schemas/TradeId"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Trade"}}}},"default":{"$ref":"#/paths/~1accounts~1%7Baccount_id%7D~1orders/get/responses/default"}}}},"/accounts/{account_id}/trades":{"get":{"operationId":"listTrades","summary":"List trades","description":"List trades for a given account for the current trading day.","tags":["Trades"],"parameters":[{"in":"path","name":"account_id","required":true,"schema":{"$ref":"#/components/schemas/Order/properties/account_id"}},{"in":"query","name":"page_size","schema":{"type":"integer","minimum":1,"maximum":2000,"default":25,"description":"Number of trades to return per page."}},{"in":"query","name":"page_token","schema":{"type":"string","description":"Cursor for the page to return."}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Trade"}},"next_page_token":{"type":"string","description":"Cursor for the next page of results."}},"required":["data"]}}}},"default":{"$ref":"#/paths/~1accounts~1%7Baccount_id%7D~1orders/get/responses/default"}}}},"/accounts/{account_id}/positions/{symbol}":{"get":{"operationId":"getPosition","summary":"Get position","description":"Get current positions for a given account for a given symbol.","tags":["Positions"],"parameters":[{"in":"path","name":"account_id","required":true,"schema":{"$ref":"#/components/schemas/Order/properties/account_id"}},{"in":"path","name":"symbol","required":true,"schema":{"$ref":"#/components/schemas/Order/properties/symbol","description":"Symbol to get position for."}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Position"}}}},"default":{"$ref":"#/paths/~1accounts~1%7Baccount_id%7D~1orders/get/responses/default"}}}},"/accounts/{account_id}/positions":{"get":{"operationId":"listPositions","summary":"List positions","description":"List current positions for a given account.","tags":["Positions"],"parameters":[{"in":"path","name":"account_id","required":true,"schema":{"$ref":"#/components/schemas/Order/properties/account_id"}},{"in":"query","name":"page_size","schema":{"type":"integer","minimum":1,"maximum":2000,"default":25,"description":"Number of positions to return per page."}},{"in":"query","name":"page_token","schema":{"type":"string","description":"Cursor for the page to return."}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Position"}},"next_page_token":{"type":"string","description":"Cursor for the next page of results."}},"required":["data"]}}}},"default":{"$ref":"#/paths/~1accounts~1%7Baccount_id%7D~1orders/get/responses/default"}}}}},"components":{"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"schemas":{"OrderId":{"type":"string","minLength":1,"maxLength":256,"example":12390213,"description":"Unique order ID assigned by us."},"TradeId":{"type":"string","minLength":1,"maxLength":256,"example":12390213,"description":"Unique trade ID assigned by us."},"ReferenceId":{"type":"string","minLength":1,"maxLength":256,"example":"my-order-id-123","description":"An ID that you provide."},"OrderSide":{"type":"string","enum":["buy","sell","sell-short"],"description":"Buy, sell, sell-short indicator."},"TimeInForce":{"type":"string","enum":["day","ioc","day-plus","at-open","at-close"],"description":"The lifecycle enforcement of this order.\n- `day`: The order will exist for the duration of the current trading session\n- `ioc`: The order will immediately be executed or cancelled\n- `day-plus`: The order will exist only for the duration the current trading session plus extended hours, if applicable\n- `at-open`: The order will exist only for the opening auction of the next session\n- `at-close`: The order will exist only for the closing auction of the current session\n"},"OrderType":{"type":"string","enum":["limit","market"],"description":"The type of order, can be one of the following:\n- `limit`: A limit order will execute at-or-better than the limit price you specify\n- `market`: An order that will execute at the prevailing market prices\n"},"OrderState":{"type":"string","enum":["open","rejected","closed"],"description":"Simplified order state, which is inferred from `OrderStatus`. Makes it easier to determine whether an order can be executed against.\n- `open`: Order *can* potentially be executed against.\n- `rejected`: Order *cannot* be executed against because it was rejected. This is a terminal state.\n- `closed`: Order *cannot* be executed against. This is a terminal state.\n"},"OrderStatus":{"type":"string","enum":["new","partially-filled","filled","canceled","replaced","pending-cancel","stopped","rejected","suspended","pending-new","calculated","expired","accepted-for-bidding","pending-replace","done-for-day"],"description":"Granular order status using [standard values come FIX tag 39](https://www.fixtrading.org/online-specification/order-state-changes)."},"OrderUpdateReason":{"type":"string","enum":["place","modify","cancel","execution-report","cancel-reject"]},"StrategyType":{"type":"string","enum":["sor","dark","ap","pov","twap","vwap"],"description":"Strategy type used for execution, can be one of below. Note, we use sensible defaults for strategy parameters at the moment. In future, we will provide a way to provide specify these parameters.\n- `sor`: Smart order router\n- `dark`: Dark pool\n- `ap`: Arrival price\n- `pov`: Percentage of volume\n- `twap`: Time weighted average price\n- `vwap`: Volume weighted average price\n\nFor more information on these strategies, please refer to our [documentation](https://docs.clearstreet.io/studio/docs/execution-strategies).\n"},"Order":{"type":"object","properties":{"created_at":{"description":"When the order was created in milliseconds since epoch.","type":"integer","format":"int64","minimum":1710613560668,"maximum":2900000000000},"updated_at":{"$ref":"#/components/schemas/Order/properties/created_at","description":"When the order was updated in milliseconds since epoch."},"order_id":{"$ref":"#/components/schemas/OrderId","description":"An internally generated unique ID for this order."},"reference_id":{"$ref":"#/components/schemas/ReferenceId","description":"The ID you provided when creating this order."},"version":{"type":"integer","example":1,"description":"A monotonically increasing number indicating the version of this order. A higher number indicates a more recent version of the order."},"account_id":{"type":"string","minLength":1,"maxLength":256,"example":100000,"description":"Account ID for the account."},"state":{"$ref":"#/components/schemas/OrderState"},"status":{"$ref":"#/components/schemas/OrderStatus"},"symbol":{"type":"string","minLength":1,"maxLength":32,"example":"AAPL"},"order_type":{"$ref":"#/components/schemas/OrderType"},"side":{"$ref":"#/components/schemas/OrderSide"},"quantity":{"$ref":"#/components/schemas/Position/properties/quantity","description":"The requested quantity on this order."},"price":{"description":"The requsted limit price on this order.","type":"string","minLength":1,"maxLength":16,"example":123.99},"time_in_force":{"$ref":"#/components/schemas/TimeInForce"},"strategy_type":{"$ref":"#/components/schemas/StrategyType"},"average_price":{"type":"number","format":"double","description":"Calculated average price of all fills on this order."},"filled_quantity":{"$ref":"#/components/schemas/Position/properties/quantity","description":"The quantity that has been filled."},"order_update_reason":{"$ref":"#/components/schemas/OrderUpdateReason","description":"The last reason why this order was updated"},"text":{"type":"string","description":"Free form text typically contains reasons for a reject."}},"required":["created_at","updated_at","order_id","version","account_id","state","status","symbol","order_type","side","quantity","time_in_force","strategy_type","filled_quantity"]},"Trade":{"type":"object","properties":{"created_at":{"$ref":"#/components/schemas/Order/properties/created_at","description":"When this trade happened in milliseconds since epoch."},"account_id":{"$ref":"#/components/schemas/Order/properties/account_id"},"trade_id":{"$ref":"#/components/schemas/TradeId"},"order_id":{"$ref":"#/components/schemas/OrderId","description":"The order ID of the order this trade occurred on."},"symbol":{"$ref":"#/components/schemas/Order/properties/symbol","description":"The symbol this trade was for."},"side":{"$ref":"#/components/schemas/OrderSide","description":"The side this trade occurred on."},"quantity":{"$ref":"#/components/schemas/Position/properties/quantity","description":"The amount that was traded."},"price":{"$ref":"#/components/schemas/Order/properties/price","description":"The traded price."}},"required":["created_at","trade_id","order_id","side","quantity","price"]},"Position":{"type":"object","properties":{"account_id":{"$ref":"#/components/schemas/Order/properties/account_id"},"symbol":{"$ref":"#/components/schemas/Order/properties/symbol"},"quantity":{"type":"string","minLength":1,"maxLength":16,"example":100,"description":"String representation of quantity."}}},"BuyingPower":{"type":"object","properties":{"account_id":{"$ref":"#/components/schemas/Order/properties/account_id"},"amount":{"type":"number","format":"double","description":"The buying power available for this account."}},"required":["account_id","buying_power"]},"LocateInventory":{"type":"object","properties":{"account_id":{"$ref":"#/components/schemas/Order/properties/account_id"},"symbol":{"$ref":"#/components/schemas/Order/properties/symbol"},"available":{"$ref":"#/components/schemas/Position/properties/quantity"},"reserved":{"$ref":"#/components/schemas/Position/properties/quantity"},"used":{"$ref":"#/components/schemas/Position/properties/quantity"}}}}},"externalDocs":{"url":"https://docs.clearstreet.io/"},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}