{
    "openapi": "3.0.0",
    "info": {
        "title": "API de transacciones",
        "description": "La API de Transacciones esta diseñada para obtener la información referente a las transacciones individuales.",
        "contact": {
            "name": "API Support",
            "email": "developers@clip.mx"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "x-explorer-enabled": true,
    "x-samples-enabled": true,
    "x-proxy-enabled": true,
    "servers": [
        {
            "description": "URL base del ambiente de producción.",
            "url": "https://api-gw.payclip.com/"
        }
    ],
    "tags": [
        {
            "name": "Transacciones",
            "description": "El recurso de **API de transacciones** permite obtener los detalles de una o más transacciones. Una transacción individual se identifica por su número de recibo **receipt_no**. Una lista de transacciones se define por un rango de fechas específico.\nEl objeto **payment** muestra la información relacionada a una transacción individual. Contiene detalles del lugar en que se realiza el pago, método de pago, estado actual de la transacción y fecha. "
        }
    ],
    "paths": {
        "/payments/receipt-no/{receipt_no}": {
            "get": {
                "tags": [
                    "Transacciones"
                ],
                "summary": "Obtener detalles de una transacción individual",
                "description": "Regresa una transacción individual por su ID <code>receipt_no</code>. \n\nRecuerda que necesitas tu [*token de autenticación*](https://developer.clip.mx/reference/token-de-autenticacion) para realizar las llamadas a la API.\n",
                "operationId": "Transaction",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "receipt_no",
                        "in": "path",
                        "description": "Número de identificación para la transacción.",
                        "required": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string",
                                    "default": "5mUV5Dt"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Solicitud exitosa. La respuesta contiene un objeto con los detalles de transacción.",
                        "content": {
                            "application/vnd.com.payclip.v1+json": {
                                "example": {
                                    "query": {
                                        "receipt_no": "1iNzWOR"
                                    },
                                    "meta": {
                                        "item_type": "payment"
                                    },
                                    "item": {
                                        "receipt_no": "1iNzWOR",
                                        "created_at": "2022-01-10T14:36:13.745Z",
                                        "location": {
                                            "latitude": -111.9060182,
                                            "longitude": 111.9060182
                                        },
                                        "status": "Paid",
                                        "amount": 200,
                                        "currency": "MXN",
                                        "terms": null,
                                        "tip": 0,
                                        "total": 200,
                                        "payment_method": "Credit",
                                        "sub_type": "SWIPE",
                                        "card": {
                                            "brand": "MasterCard",
                                            "last4": "4352",
                                            "issuer": "BANAMEX"
                                        },
                                        "merchant_invoice": null,
                                        "user_email": "test@example.com"
                                    },
                                    "response_messages": []
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Parámetro de ruta incorrecto.",
                        "content": {
                            "application/vnd.com.payclip.v1+json": {
                                "example": {
                                    "query": {
                                        "receipt_no": "1iNzWOR"
                                    },
                                    "meta": null,
                                    "item": null,
                                    "response_messages": [
                                        {
                                            "severity": "Error",
                                            "code": "payclip.not.found",
                                            "text": "Could not find the receipt no."
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error."
                    }
                }
            }
        },
        "/payments": {
            "get": {
                "tags": [
                    "Transacciones"
                ],
                "summary": "Obtener detalles de una lista de transacciones",
                "description": "Regresa una lista de transacciones definida por un rango de fechas. \n\nRecuerda que necesitas tu [*token de autenticación*](https://developer.clip.mx/reference/token-de-autenticacion) para realizar las llamadas a la API.\n",
                "operationId": "transactions",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Fecha de inicio a consultar",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "default": "2022-07-01T18:44:41.000Z"
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "Fecha de fin a consultar",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "default": "2022-07-02T18:44:41.000Z"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Estado de la transacción. Posibles valores: Paid, Cancelled.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "paid",
                                "cancelled"
                            ]
                        }
                    },
                    {
                        "name": "last4",
                        "in": "query",
                        "description": "Últimos 4 dígitos del número de tarjeta",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Número de elementos por página",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "maximum": 100
                        }
                    },
                    {
                        "name": "pagination_token",
                        "in": "query",
                        "description": "Token de paginación",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Solicitud exitosa. La respuesta contiene un objeto con los detalles de la lista de transacciones.",
                        "content": {
                            "application/vnd.com.payclip.v2+json": {
                                "example": {
                                    "items": [
                                        {
                                            "receipt_no": "WpJi058",
                                            "created_at": "2022-07-30T18:52:42Z",
                                            "location": {
                                                "longitude": "-103.3657798",
                                                "latitude": "20.7009265"
                                            },
                                            "user_email": "test@example.com",
                                            "status": "Paid",
                                            "payment_method": "CREDIT",
                                            "sub_type": "EMV_SIGNATURE",
                                            "card": {
                                                "brand": "MC",
                                                "issuer": "BANAMEX",
                                                "last4": "4352"
                                            },
                                            "currency": "MXN",
                                            "terms": null,
                                            "amount": "150.00",
                                            "tip": "0.00",
                                            "total": "150.00",
                                            "merchant_invoice": ""
                                        }
                                    ],
                                    "query": {
                                        "pagination_token": "",
                                        "limit": "1",
                                        "from": "2022-07-01T10:10:50Z",
                                        "to": "2022-08-01T07:32:50Z",
                                        "last4": "1234",
                                        "status": "Approved"
                                    },
                                    "response_messages": [],
                                    "meta": {
                                        "limit": "1",
                                        "pagination_token": "Mg==",
                                        "from": "2022-07-01T10:10:50Z",
                                        "to": "2022-08-01T07:32:50Z",
                                        "item_type": "Payment"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Parámetros de consulta incorrectos.",
                        "content": {
                            "application/vnd.com.payclip.v2+json": {
                                "example": {
                                    "items": [],
                                    "query": {
                                        "pagination_token": "",
                                        "limit": "12",
                                        "from": "2019-09-25T04:38:00Z",
                                        "to": "2019-10-23"
                                    },
                                    "response_messages": [
                                        {
                                            "severity": "error",
                                            "code": "payclip.bad.request",
                                            "text": "bad request"
                                        }
                                    ],
                                    "meta": {
                                        "limit": "12",
                                        "pagination_token": "",
                                        "from": "2019-09-25T04:38:00Z",
                                        "to": "2019-10-23",
                                        "item_type": "Payment"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Not Found."
                    },
                    "500": {
                        "description": "Internal Server Error."
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "ApiKeyAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "Authorization"
            }
        },
        "schemas": {
            "payment_response": {
                "type": "object",
                "properties": {
                    "query": {
                        "type": "object",
                        "properties": {
                            "receipt_no": {
                                "type": "string",
                                "description": "Identificador único de la transacción.",
                                "example": "5mUV5Dt"
                            }
                        }
                    },
                    "meta": {
                        "type": "object",
                        "properties": {
                            "item_type": {
                                "type": "string",
                                "description": "Tipo de modelo de datos en la respuesta. En esta respuesta el tipo es payment.",
                                "example": "payment"
                            }
                        }
                    },
                    "item": {
                        "$ref": "#/components/schemas/item"
                    },
                    "response_messages": {
                        "$ref": "#/components/schemas/response_messages"
                    }
                }
            },
            "payments_response": {
                "type": "object",
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/item"
                        }
                    },
                    "query": {
                        "type": "object",
                        "properties": {
                            "from": {
                                "type": "string",
                                "description": "Fecha de inicio de la solicitud de consulta.",
                                "format": "date-time",
                                "example": "2022-07-01T18:44:41Z"
                            },
                            "to": {
                                "type": "string",
                                "description": "Fecha de fin de la solicitud de consulta.",
                                "format": "date-time",
                                "example": "2022-07-02T18:44:41Z"
                            },
                            "status": {
                                "type": "string",
                                "description": "Estado de la transacción.",
                                "example": "paid"
                            },
                            "last4": {
                                "type": "string",
                                "description": "Últimos 4 dígitos del número de tarjeta",
                                "example": 9876
                            },
                            "pagination_token": {
                                "type": "string",
                                "description": "Cadena de base 64 utilizada para la paginación de los resultados.",
                                "format": "base64",
                                "example": "base64"
                            },
                            "limit": {
                                "type": "string",
                                "description": "Número de elementos a mostrar por página.",
                                "maximum": 100,
                                "default": 20,
                                "example": "10"
                            }
                        }
                    },
                    "response_messages": {
                        "$ref": "#/components/schemas/response_messages"
                    },
                    "meta": {
                        "type": "object",
                        "properties": {
                            "from": {
                                "type": "string",
                                "description": "Fecha de inicio que incluye la lista.",
                                "format": "date-time",
                                "example": "2022-07-01T18:44:41Z"
                            },
                            "to": {
                                "type": "string",
                                "description": "Fecha de fin que incluye la lista.",
                                "format": "date-time",
                                "example": "2022-07-02T18:44:41Z"
                            },
                            "pagination_token": {
                                "type": "string",
                                "description": "Cadena de base 64 utilizada para la paginación de los resultados.",
                                "format": "base64",
                                "example": "base64"
                            },
                            "limit": {
                                "type": "string",
                                "description": "Número de elementos a mostrar por página.",
                                "maximum": 100,
                                "default": 20,
                                "example": "10"
                            },
                            "item_type": {
                                "type": "string",
                                "description": "Tipo de modelo de datos en la respuesta. En esta respuesta el tipo es payment.",
                                "example": "payment"
                            }
                        }
                    }
                }
            },
            "item": {
                "description": "Detalles de pago para una transacción individual con ID  <code>receipt_no</code>.",
                "type": "object",
                "properties": {
                    "receipt_no": {
                        "type": "string",
                        "description": "Identificador único de la transacción.",
                        "example": "5mUV5Dt"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Fecha de creación del pago.",
                        "example": "2022-01-10T14:36:13.745Z"
                    },
                    "location": {
                        "type": "object",
                        "properties": {
                            "latitude": {
                                "type": "string",
                                "description": "Coordenada de latitud para la ubicación de la transacción.",
                                "example": "-111.9060182"
                            },
                            "longitude": {
                                "type": "string",
                                "description": "Coordenada de longitud para la ubicación de la transacción.",
                                "example": "-111.9060182"
                            }
                        }
                    },
                    "status": {
                        "type": "string",
                        "description": "Estado de la transacción al momento de realizar la consulta.",
                        "example": "Paid",
                        "enum": [
                            "Paid",
                            "Cancelled",
                            "Declined"
                        ]
                    },
                    "amount": {
                        "type": "string",
                        "description": "Cantidad del pago.",
                        "example": 200
                    },
                    "currency": {
                        "type": "string",
                        "description": "Código de divisa para la transacción del pago conforme a ISO 4217.",
                        "example": "MXN"
                    },
                    "terms": {
                        "type": "string",
                        "description": "Indica si el pago se difiere en mensualidades.",
                        "enum": [
                            "3",
                            "6",
                            "9",
                            "12"
                        ],
                        "nullable": true,
                        "example": null
                    },
                    "tip": {
                        "type": "string",
                        "description": "Cantidad de la propina.",
                        "example": 0
                    },
                    "total": {
                        "type": "string",
                        "description": "Cantidad total del pago incluyendo propina.",
                        "example": 200
                    },
                    "payment_method": {
                        "type": "string",
                        "description": "Especifica la categoría de la forma de pago: \n- CREDIT: la tarjeta es de crédito\n- DEBIT: la tarjeta es de débito\n- OTHER: la tarjeta no es de débito ni crédito, por ejemplo, tarjeta de vales  \n",
                        "enum": [
                            "Credit",
                            "Debit",
                            "Other"
                        ],
                        "example": "Credit"
                    },
                    "sub_type": {
                        "type": "string",
                        "description": "Especifica detalles adicionales del tipo de pago en payment_method: \n- KEYED: Número de tarjeta de crédito ingresada manualmente\n- SWIPE: pago con tarjeta de banda magnética\n- EMV_SIGNATURE: pago con tarjeta de chip y verificación con firma\n- CARD_ON_FILE: el flujo de pago usa datos de una tarjeta almacenada previamente\n- EMV_PIN: pago con tarjeta de chip y verificación con pin\n- NFC_SWIPE: pago contactless con tarjeta de banda magnética\n- NFC_EMV_SIGNATURE: pago contactless con tarjeta de chip\n- ECOMMERCE: pago a distancia\n",
                        "enum": [
                            "KEYED",
                            "SWIPE",
                            "EMV_SIGNATURE",
                            "CARD_ON_FILE",
                            "EMV_PIN",
                            "NFC_SWIPE",
                            "NFC_EMV_SIGNATURE",
                            "ECOMMERCE"
                        ],
                        "example": "SWIPE"
                    },
                    "card": {
                        "type": "object",
                        "properties": {
                            "brand": {
                                "type": "string",
                                "description": "Tipo de tarjeta utilizada para el pago.",
                                "example": "Mastercard"
                            },
                            "last4": {
                                "type": "string",
                                "description": "Últimos cuatro dígitos de la tarjeta utilizada para el pago.",
                                "example": "4352"
                            },
                            "issuer": {
                                "type": "string",
                                "description": "Banco emisor de la tarjeta.",
                                "example": "BANAMEX"
                            }
                        }
                    },
                    "merchant_invoice": {
                        "type": "string",
                        "description": "Referencia alfanumérica proporcionada por el vendedor.",
                        "nullable": true,
                        "example": null
                    },
                    "user_email": {
                        "type": "string",
                        "description": "Correo electrónico del usuario Clip.",
                        "example": "user@example.com"
                    }
                }
            },
            "response_messages": {
                "type": "object",
                "properties": {
                    "severity": {
                        "type": "string",
                        "description": "Tipo de problema encontrado.",
                        "example": "Error"
                    },
                    "code": {
                        "type": "string",
                        "description": "Mapeo del código para el error específico en el campo severity.",
                        "example": "payclip.not.found"
                    },
                    "text": {
                        "type": "string",
                        "description": "Descripción para el código de error correspondiente.",
                        "example": "Could not find the receipt no."
                    }
                }
            }
        }
    }
}