{"openapi":"3.0.3","servers":[{"url":"https://pg-sandbox.paymaya.com","description":"Sandbox"},{"url":"https://pg.paymaya.com","description":"Production"}],"info":{"version":"1.0.0","title":"Pay With PayMaya","termsOfService":"https://developers.paymaya.com/terms","contact":{"name":"PayMaya Product Engineering - Payments Services Engineering","email":"PaymentsServicesEngineering@paymaya.com","url":"https://enterprise.paymaya.com"},"x-logo":{"url":"https://cdn.paymaya.com/production/devportal/www/images/Logo_Header_v2.png","altText":"PayMaya Developers"},"description":"# API Authentication\n\nAuthentication is done via [HTTP Basic Authentication](https://developer.mozilla.org/en-US/docs/Web/HTTP/Authentication#basic_authentication_scheme). Depending on the API, the public / secret key must be provided and the username and the password left as blank.\n\nSteps are as follows:\n1.  Combine Username and Password (left blank) separated by ‘:’ (colon). If your API key is “pk-Z0OSzLvIcOI2UIvDhdTGVVfRSSeiGStnceqwUE7n0Ah”, the resulting string is:\n\n```no-highlight\npk-Z0OSzLvIcOI2UIvDhdTGVVfRSSeiGStnceqwUE7n0Ah:\n```\n\n2.  Apply Base64 encoding to the resulting string from Step 1. Using the resulting string from Step 1, the Base64 encoded string will be:\n\n```no-highlight\ncGstWjBPU3pMdkljT0kyVUl2RGhkVEdWVmZSU1NlaUdTdG5jZXF3VUU3bjBBaDo=\n```\n\n3.  Indicate the authorization method i.e. “Basic” followed by a space then the Base64 encoded string in Step 2. An example is shown below.\n\n```no-highlight\nAuthorization: Basic cGstWjBPU3pMdkljT0kyVUl2RGhkVEdWVmZSU1NlaUdTdG5jZXF3VUU3bjBBaDo=\n```\n\n# Environment Setup\nPayMaya Payment Gateway has two environments:\n**Sandbox** and **Production**.\n\n**Sandbox** is used for development, testing and integration. Once integration is completed on this environment it will be verified by our Merchant Services team. Only then will production credentials be provided. \n\n- Sandbox Url: https://pg-sandbox.paymaya.com\n\n> Load testing is not allowed on both environments. If you have need for load testing please contact us.\n\n**Production** is for live payments. Testing in this environment will incur real charges\n- Production Url: https://pg.paymaya.com\n\n# Sandbox Credentials\n\n## Wallet Payments\n\n### API Merchant Keys\n\nFor a payment facilitator merchant:\n\n- Public Key: pk-rpwb5YR6EfnKiMsldZqY4hgpvJjuy8hhxW2bVAAiz2N\n- Secret Key: sk-6s9dwnYGFJdZOYu1HCUAfUZctWEf9AjtHIG38kezX8W\n\nFor a non-payment facilitator merchant:\n\n- Public Key: pk-MOfNKu3FmHMVHtjyjG7vhr7vFevRkWxmxYL1Yq6iFk5\n- Secret Key: sk-NMda607FeZNGRt9xCdsIRiZ4Lqu6LT898ItHbN4qPSe\n\n### PayMaya User Account\n\n- Username: 09193890579\n- Password: Password123\n- OTP: 123456\n\n## Scan QR Payments\n\n### API Integrator Key\n\n- Secret Key: sk-hsys96oEOHUai31ouBHwrIHYTfHdHJdVKSVSxZNeNJg\n\n### Merchant Account\n\n- P2M ID: 54212615-7ee5-43a5-a4d8-76f5087ecd8c\n\n### Payment Card Info\n\n- PAN: “5424820002859039”\n- Expiry Month: “05”\n- Expiry Year: “2020”\n- CVC: “059”\n\n# Features\n\n## Payment Facilitator\n\nFor a payment facilitator (PF) account, some information are required to identify payment transactions to the correct sub-merchant.\nThis set of information is passed through the **metadata** property of the JSON request body.\n\nThe following is the specification of all the PF information that are required and may be provided through the metadata object:\n\n<SchemaDefinition schemaRef=\"#/components/schemas/Metadata\" exampleRef=\"#/components/examples/Metadata\"/>\n\n## Idempotency\n\nPayment Gateway APIs support optional [idempotency](https://en.wikipedia.org/wiki/Idempotence) for retransmissions. An idempotent operation is an operation, action, or request that can be applied multiple times without changing the result, i.e. the state of the system, beyond the initial application. This comes in handy during network failures, or any recoverable system failures that the client may encounter. When a request fails due to a network issue, you can just resend the request with the same idempotency key and you will get the result of the first one.\n\nThe idempotency key can be set by adding the following HTTP request header:\n\n```\nX-Idempotency-Key: <idempotency-key>\n```\n\nWhere \\<idempotency-key\\> is any client-assigned string value. The client is expected to assign a unique value to the idempotency key for any unique transaction requested. When sending retransmissions, resend the request with the same idempotency key to retrieve the response from the previous request.\n\nWhen an idempotency key is provided in the header, The API will check first if the request is a first transmission, or a retransmission.\n\n- For first transmissions, processing proceeds as normal.\n- For retransmissions, the response of the corresponding first transmission is returned, given that all the following parameters match between the first transmission, and the retransmission:\n\n    - Requesting party (identified by the API key)\n    - Request HTTP method\n    - Request URL\n    - Idempotency Key\n\nIn the case that a retransmission is sent while a first transmission is still ongoing, the API will wait for the completion of the first transmission, and respond back to both the first transmission and the retransmission requests with the same response.\n\nOne of the basic application of idempotency is to prevent double-charging. This is the API for [Execute Recurring Payment] with idempotency:\n\n### Request\n\n#### Headers\n\n```\nContent-Type: application/json\nAuthorization: Basic c2stTk1kYTYwN0ZlWk5HUnQ5eENkc0lSaVo0THF1NkxUODk4SXRIYk40cVBTZTo=\nX-Idempotency-Key: 26e50ccb-b3f0-4dde-8061-2353585e872d\n```\n\n#### Body\n```\n{\n  \"totalAmount\": {\n    \"currency\": \"PHP\",\n    \"value\": 100\n  },\n  \"requestReferenceNumber\": \"567834590\",\n  \"metadata\": {}\n}\n```\n\nSending this request twice without idempotency key will charge the customer twice. But when the idempotency key is provided, the user will be charged only once until the cached response expires, regardless of how many times it is called, provided the same idempotency key is sent on the subsequent requests.\n\nThe idempotency key is not required. When not provided, the request wouldn’t be idempotent and the response wouldn’t be cached.\n"},"tags":[{"name":"Wallet Payments","description":"PayMaya e-wallet payments."},{"name":"Scan QR Payments","description":"PayMaya QR payments initiated by third party integrators."},{"name":"Payments Info","description":"This sections provides a set of APIs on how to retrieve payment information."},{"name":"Webhooks","description":"Usage of webhooks for payments"},{"name":"Voids","description":"Full reversal of payments (same-day)"},{"name":"Refunds","description":"Partial or full reversal of payment (next-day)"},{"name":"Cancel Payment","description":"Cancel a pending transaction.\n\n## Cancel Payment Status\n\n```mermaid\ngraph TD\nPENDING_TOKEN --> PAYMENT_CANCELLED\nPENDING_TOKEN --> PENDING_PAYMENT\nPENDING_PAYMENT --> PAYMENT_CANCELLED\n```\n\n## Cancel Payment Webhooks\n\n`PAYMENT_CANCELLED` All cancelled payments will fire the `PAYMENT_CANCELLED` webhook.\n\n`CHECKOUT_CANCELLED` If the transaction cancelled is a Checkout transaction, it will fire the `CHECKOUT_CANCELLED` webhook. If you have a `PAYMENT_CANCELLED` webhook registered, it will also be fired.\n"},{"name":"Customizations","description":"Merchant customizations on select UI components"},{"name":"Errors","description":"## API Authentication Errors\n\nThe following is a list of errors returned by PayMaya regarding the API keys used by the merchant.\n\n| Name | HTTP Status Code | Error Code | Error Message |\n| --- | --- | --- | --- |\n| MISSING_AUTHENTICATION_HEADER | 401 | K001 | “Kindly include a Base64 encoded key in the basic authentication header.” |\n| KEY_EXPIRED | 401 | K002 | “Please generate a new key.” |\n| INVALID_API_KEY | 401 | K003 | “Invalid authentication credentials. Kindly verify if the key you are using is correct.” |\n| INVALID_KEY_TYPE | 401 | K004<br>K005 | “Please use secret / public key instead.” |\n| INVALID_AUTHORIZATION_HEADER | 401 | K006 | “Key provided is not a valid Base64 encoded key.” |\n| INVALID_KEY_SCOPE | 401 | K007 | “Please check the provided key’s scopes.” |\n| INTERNAL_AUTHENTICATION_ERROR | 400 | K999 | “Please contact PayMaya support.” |\n\n## Operational Errors\n\nThe schema specification for the error list in this section follows the following:\n\n<SchemaDefinition schemaRef=\"#/components/schemas/ErrorGeneric\" exampleRef=\"#/components/examples/2553-ValidationError\"/>\n\n| Name | HTTP Status Code | Error Code | Error Message |\n| --- | --- | --- | --- |\n| MISSING_INVALID_PARAMS | 400 | 2553<br>PYBY0001 | Missing/invalid parameters. |\n| INTERNAL_SERVER_ERROR | 400 | PY0001<br>PY0066<br>PY0067<br>PYBY0012<br>PYBY9999 | A problem is encountered. Please contact your system administrator. |\n| CARD_EXPIRED_ERROR | 400 | PY0002 | Card is expired. |\n| CARD_INVALID_ERROR | 400 | PY0003 | Card is invalid. |\n| PAYMENT_TOKEN_EXPIRED_OR_USED | 400 | PY0007 | Invalid token status. |\n| PAYMENT_TOKEN_NOT_FOUND | 400 | PY0008 | Token is invalid. |\n| PAYMENT_DOES_NOT_EXIST | 404 | PY0009<br>PYBY0002 | Payment does not exist. |\n| FAILED_TO_PROCESS_PAYMENT | 400 | PY0010 | Failed to process payment. |\n| CARD_VAULT_UNREACHABLE | 400 | PY0013 | Card Vault server unreachable / timed out. |\n| CARD_VAULT_ERROR | 400 | PY0014 | Card Vault service error. |\n| PROCESSOR_SERVER_UNREACHABLE | 400 | PY0015 | Payment processor server unreachable / timed out. |\n| PROCESSOR_SERVER_ERROR | 400 | PY0016 | Payment processor service error. |\n| MERCHANT_NOT_FOUND | 404 | PY0017<br>PYBY0003 | Merchant not found. |\n| MERCHANT_FORBIDDEN | 401 | PY0019<br>PYBY0004 | Forbidden. |\n| MERCHANT_REQUIRED | 400 | PY0020 | Merchant is required. |\n| FAILED_TO_ADD_CUSTOMER | 400 | PY0021 | Failed to add customer. |\n| CUSTOMER_DOES_NOT_EXIST | 404 | PY0023 | Customer does not exist. |\n| FAILED_TO_DELETE_CUSTOMER | 400 | PY0024 | Failed to delete customer. |\n| FAILED_TO_UPDATE_CUSTOMER | 400 | PY0025 | Failed to update customer details. |\n| FAILED_TO_UPDATE_CARD | 400 | PY0026 | Failed to update card details. |\n| CARD_DOES_NOT_EXIST | 404 | PY0027 | Card does not exist. |\n| FAILED_TO_DELETE_CARD | 400 | PY0028 | Failed to delete card. |\n| NO_CARD_FOUND | 400 | PY0029 | No card found for customer. |\n| CARD_TOKEN_INVALID_STATUS | 400 | PY0030 | Invalid card token status. |\n| FAILED_TO_ADD_CARD | 400 | PY0035 | Failed to add card to customer. |\n| CARD_NOT_SUPPORTED_ERROR | 400 | PY0036 | Card is not supported. |\n| CURRENCY_NOT_SUPPORTED_ERROR | 400 | PY0037 | Currency is not supported. |\n| WEBHOOK_DOES_NOT_EXIST | 404 | PY0038 | Webhook does not exist. |\n| WEBHOOK_ALREADY_EXISTS | 400 | PY0039 | Webhook already exists. |\n| CHECKOUT_SERVER_ERROR | 400 | PY0041 | A problem is encountered. Please contact your system administrator. |\n| SUBSCRIPTION_CANNOT_CHARGE | 400 | PY0042 | Charging of subscription is not applicable. |\n| CARD_ALREADY_EXISTS | 400 | PY0043 | Card already exists. |\n| PAYMENT_INVALID | 400 | PY0044 | Payment is invalid. |\n| INVALID_VOID_REQUEST | 400 | PY0045 | Payment is not available for void. |\n| REFUND_DOES_NOT_EXIST | 404 | PY0046 | Refund does not exist. |\n| INELIGIBLE_FOR_REFUND | 401 | PY0047 | Payment is ineligible for refund. |\n| INVALID_REFUND_AMOUNT | 400 | PY0048 | Requested refund amount is greater than the original amount. |\n| SUBSCRIPTION_DOES_NOT_EXIST | 404 | PY0049 | Subscription does not exist. |\n| FAILED_TO_ADD_SUBSCRIPTION | 400 | PY0050 | Failed to add subscription to card. |\n| FAILED_TO_UPDATE_SUBSCRIPTION | 400 | PY0051 | Failed to update subscription details. |\n| FAILED_TO_CANCEL_SUBSCRIPTION | 400 | PY0052 | Failed to cancel subscription. |\n| MERCHANT_ALREADY_EXISTS | 400 | PY0053 | Merchant already exists. |\n| SUBSCRIPTION_ALREADY_CHARGED | 400 | PY0054 | Subscription already charged. |\n| FAILED_DELETE_MERCHANT | 400 | PY0056 | Failed to delete merchant. |\n| PAYMENT_EXPIRED | 422 | PY0057 | The Payment has expired and cannot be processed. |\n| MERCHANT_CANNOT_P2M | 403 | PY0058 | The merchant indicated does not have P2M services enabled. |\n| CUSTOMER_VAULT_UNREACHABLE | 400 | PY0059 | Customer Vault server unreachable / timed out. |\n| CUSTOMER_VAULT_ERROR | 400 | PY0060 | Customer Vault service error. |\n| VOID_NOT_FOUND | 404 | PY0063 | Void does not exist. |\n| MERCHANT_NOT_CUSTOMIZED | 404 | PY0065 | This merchant has no customizations present. |\n| AUTH_FAILURE | 400 | PY0068 | Payment not executed due to authorization failure. |\n| AUTH_SERVER_UNREACHABLE | 400 | PY0069 | Authentication server unreachable / timed out. |\n| SCHEME_UNSUPPORTED_BY_MERCHANT | 400 | PY0070 | Scheme is unsupported by merchant |\n| PROCESSOR_MISMATCH_ERROR | 400 | PY0071 | Payment mismatch with Merchant. |\n| REFUND_CUTOFF | 400 | PY0072 | Transaction cannot be processed. Cannot refund a transaction before cut off time. |\n| VOID_CUTOFF | 400 | PY0073 | Transaction cannot be processed. Cannot void a transaction after cut off time. |\n| TERMINAL_DOES_NOT_EXIST | 404 | PY0074 | Terminal does not exist. |\n| BATCH_NOT_FOUND | 404 | PY0075 | Batch not found |\n| PAYMENT_ALREADY_EXISTS | 400 | PY0076 | Payment already exists. |\n| PAYMENT_TOKEN_ALREADY_EXISTS | 400 | PY0077 | Payment Token already exists. |\n| BATCH_STARTED | 400 | PY0078 | Batch has already started. |\n| NO_AUTHORIZED_PAYMENTS_IN_BATCH | 400 | PY0079 | Batch does not contain any payments. |\n| PAYMENT_DETAILS_MISMATCH | 400 | PY0080 | Payment details do not match. |\n| BATCH_NOT_FOR_RECON | 400 | PY0081 | Batch is not available for reconciliation. |\n| TERMINAL_PARTY_EXISTS | 400 | PY0083 | Terminal party id already exists. |\n| TERMINAL_MERCHANT_PROCESSOR_EXISTS | 400 | PY0084 | Terminal processor id already exists. |\n| CANNOT_VOID_TERMINAL_AUTHORIZED_PAYMENT | 400 | PY0085 | Authorized payment must be voided from terminal. |\n| CANNOT_VOID_CAPTURED_PAYMENT_IN_TERMINAL | 400 | PY0086 | Void unavailable in terminal. Please contact your administrator. |\n| CARD_ALREADY_PROVIDED | 400 | PY0088 | Card data already provided. |\n| NO_CARD_PROVIDED | 400 | PY0089 | No card data provided. |\n| RRN_NOT_UNIQUE | 400 | PY0104 | Reference number is linked to multiple payments. |\n| INSUFFICIENT_BALANCE | 400 | PY0105 | Account has insufficient balance to perform this transaction. |\n| PARTIAL_REFUND_NOT_ALLOWED | 200 | PY0113 | Partial refund is not allowed for this transaction. |\n| BIN_ERROR | 400 | PY0117 | Card is invalid. |\n| ISSUER_DECLINE_CARD_ACCOUNT | 400 | PY0119 | Issuer declined card or account. |\n| ISSUER_DECLINE_GENERIC | 400 | PY0120 | Issuer decline. |\n| ISSUER_DECLINE_EXPIRED | 400 | PY0121 | Card is expired. |\n| ISSUER_SYSTEM_DOWN | 400 | PY0122 | Issuer system is unavailable. |\n| ACCOUNT_LIMIT | 400 | PY0123 | Account limit exceeded. |\n| VERIFICATION_FAILED | 400 | PY0124 | Transaction could not be verified. |\n| PIN_ERROR | 400 | PY0125 | PIN is invalid or incorrect. |\n| ACTIVE_TERMINAL_DOES_NOT_EXIST | 400 | PY0999 | No active terminal exists. |\n| FAILED_TO_DEACTIVATE_TERMINAL | 400 | PY0999 | Failed to deactivate terminal. |\n| MISSING_CP_PARAMS | 400 | PY9999 | Missing/invalid parameters. |\n| DIRECTPAYMENT_DOES_NOT_EXIST | 400 | PY9999 | Direct Payment does not exist. |\n| PAYBY_SERVER_ERROR | 400 | PYBY0001 | A problem is encountered. Please contact your system  |\n| PAYMAYA_CONNECT_ERROR | 400 | PYBY0005 | PayMaya Issuing or Connect service error. |\n| PAYMENT_VAULT_ERROR | 400 | PYBY0006 | Payment Vault service error. |\n| CURRENCY_MISMATCH | 400 | PYBY0007 | Payment currency does not match the user account currency. |\n| INSUFFICIENT_BALANCE | 400 | PYBY0008 | Account has insufficient balance to perform this transaction. |\n| WALLET_NOT_FOUND | 404 | PYBY0009 | Wallet does not exist. |\n| WALLET_IS_INACTIVE | 400 | PYBY0010 | Wallet is inactive or deleted from the system and cannot be used for this transaction. |\n| PAYMENT_EXPIRED | 400 | PYBY0011 | Payment has expired and cannot be processed. |\n| WALLET_EXISTS | 400 | PYBY0013 | Wallet has already been created. Please create a new one. |\n\n"}],"paths":{"/payby/v2/paymaya/payments":{"post":{"tags":["Wallet Payments"],"summary":"Create Single Payment","description":"Creates a single payment transaction using a PayMaya account.","security":[{"publicKey":[]}],"operationId":"createV2SinglePayment","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSinglePaymentRequest"},"examples":{"CreateSinglePaymentRequest":{"$ref":"#/components/examples/CreateSinglePaymentRequest"}}}}},"responses":{"200":{"description":"Successfully created single payment.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSinglePaymentResponse"},"examples":{"PaymentResponse":{"$ref":"#/components/examples/CreateSinglePaymentResponse"}}}}}}}},"/payby/v2/paymaya/link":{"post":{"tags":["Wallet Payments"],"summary":"Create Wallet Link","description":"Creates a wallet link that allows charging to a PayMaya account.","security":[{"publicKey":[]}],"operationId":"createV2WalletLink","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateWalletLinkRequest"},"examples":{"WalletLinkRequest":{"$ref":"#/components/examples/CreateWalletLinkRequest"}}}}},"responses":{"200":{"description":"Successfully requested a wallet link for activation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateWalletLinkResponse"},"examples":{"WalletLinkResponse":{"$ref":"#/components/examples/CreateWalletLinkResponse"}}}}}}}},"/payby/v2/paymaya/link/{linkId}":{"parameters":[{"$ref":"#/components/parameters/linkId"}],"get":{"tags":["Wallet Payments"],"summary":"Get Wallet Link","description":"Retrives details of a linked PayMaya wallet account.","security":[{"secretKey":[]}],"operationId":"getV2WalletLink","responses":{"200":{"description":"Successfully retrieved wallet link.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletLinkResponse"},"examples":{"LinkedResponse":{"$ref":"#/components/examples/WalletLinkVerifiedResponse"}}}}}}},"delete":{"tags":["Wallet Payments"],"summary":"Delete Wallet Link","description":"Used to deactivate a PayMaya wallet link.","security":[{"secretKey":[]}],"operationId":"deleteV2WalletLink","responses":{"200":{"description":"Successfully deleted wallet link.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletLinkResponse"},"examples":{"LinkedResponse":{"$ref":"#/components/examples/WalletLinkDeletedResponse"}}}}}}}},"/payby/v2/paymaya/link/{linkId}/execute":{"parameters":[{"$ref":"#/components/parameters/linkId"}],"post":{"tags":["Wallet Payments"],"summary":"Execute Wallet Link Payment","description":"Used to executes a payment transaction using an established wallet link.","security":[{"secretKey":[]}],"operationId":"executeV2WalletLink","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExecuteWalletLinkPaymentRequest"},"examples":{"ExecutePaymentRequest":{"$ref":"#/components/examples/ExecuteWalletLinkPaymentRequest"}}}}},"responses":{"200":{"description":"Successfully executed wallet link payment.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentResponse"},"examples":{"ExecutePaymentResponse":{"$ref":"#/components/examples/ExecuteWalletLinkPaymentResponse"}}}}}}}},"/payments/v1/qr/payments":{"post":{"tags":["Scan QR Payments"],"summary":"Create Dynamic QR","description":"Creates a dynamic QR payment transaction.\n\n> This is intended to be used by the merchant.\n","security":[{"publicKey":[]}],"operationId":"createDynamicQR","requestBody":{"description":"createDynamicQR","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDynamicQrRequest"},"examples":{"CreateDynamicQrRequest":{"$ref":"#/components/examples/CreateDynamicQrRequest"}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDynamicQrResponse"},"examples":{"CreateDynamicQrResponse":{"$ref":"#/components/examples/CreateDynamicQrResponse"}}}}}}}},"/scan/v2/qr/merchants/{p2mId}/payments":{"post":{"tags":["Scan QR Payments"],"summary":"Create Static QR","description":"Creates a static QR payment transaction from via a merchant’s P2M ID.\n\n> This is intended to be used by a third-party integrator (not necessarily the merchant).\n","parameters":[{"in":"path","name":"p2mId","schema":{"type":"string"},"required":true}],"security":[{"publicKey":[]}],"operationId":"createV2StaticQR","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateStaticQrRequest"},"examples":{"StaticQrRequest":{"$ref":"#/components/examples/CreateStaticQrRequest"}}}}},"responses":{"200":{"description":"Successfully created static QR.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentResponse"},"examples":{"StaticQrPendingPaymentResponse":{"$ref":"#/components/examples/StaticQrPendingPaymentResponse"},"StaticQrPendingTokenResponse":{"$ref":"#/components/examples/StaticQrPendingTokenResponse"}}}}}}}},"/scan/v2/qr/payments/{paymentId}":{"parameters":[{"$ref":"#/components/parameters/paymentId"}],"post":{"tags":["Scan QR Payments"],"summary":"Update QR Payment","description":"Used to add payment details (e.g. card information) to an existing pending QR payment transaction.\n\n> This is intended to be used by a third-party integrator (not necessarily the merchant).\n","security":[{"secretKey":[]}],"operationId":"updateV2QrPayments","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateQrPaymentRequest"},"examples":{"QRPaymentRequest":{"$ref":"#/components/examples/UpdateQrPaymentRequest"}}}}},"responses":{"200":{"description":"Successfully added payment details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentResponse"},"examples":{"StaticQrPendingPaymentResponse":{"$ref":"#/components/examples/StaticQrPendingPaymentResponse"}}}}}}},"put":{"tags":["Scan QR Payments"],"summary":"Execute QR Payment","description":"Executes a QR payment transaction.\n\n> This is intended to be used by a third-party integrator (not necessarily the merchant).\n","security":[{"secretKey":[]}],"operationId":"executeV2QrPayment","responses":{"200":{"description":"Successfully executed payment.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentResponse"},"examples":{"ExecuteQrPaymentSuccessResponse":{"$ref":"#/components/examples/ExecuteQrPaymentSuccessResponse"}}}}}}},"get":{"tags":["Scan QR Payments"],"summary":"Get QR Payment","description":"Retrieves a QR payment transaction.\n\n> This is intended to be used by a third-party integrator (not necessarily the merchant).\n","security":[{"secretKey":[]}],"operationId":"getV2QrPayments","responses":{"200":{"description":"Successfully retrieved payment.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentResponse"},"examples":{"ExecuteQrPaymentSuccessResponse":{"$ref":"#/components/examples/ExecuteQrPaymentSuccessResponse"}}}}}}}},"/payments/v1/payments/{paymentId}":{"parameters":[{"$ref":"#/components/parameters/paymentId"}],"get":{"tags":["Payments Info"],"summary":"Retrieve Payment via ID","description":"Retrieve the transaction information by supplying its payment ID.","security":[{"secretKey":[]}],"operationId":"getPaymentViaPaymentId","responses":{"200":{"description":"Successfully retrieved payment information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentResponse"},"examples":{"OneTimePaymentSuccess":{"$ref":"#/components/examples/OneTimePaymentSuccess"},"P2mPaymentSuccess":{"$ref":"#/components/examples/P2mPaymentSuccess"},"OneTimePaymentFailed":{"$ref":"#/components/examples/OneTimePaymentFailed"},"OneTimeAuthorizedPayment":{"$ref":"#/components/examples/OneTimeAuthorizedResponse"},"OneTimeCapturedPayment":{"$ref":"#/components/examples/OneTimeCapturedResponse"},"P2mPaymentFailed":{"$ref":"#/components/examples/P2mPaymentFailed"},"PwpLinkedWalletPaymentSuccess":{"$ref":"#/components/examples/PwpLinkedWalletPaymentSuccess"}}}}}}},"delete":{"tags":["Voids"],"summary":"Void Payment via ID","description":"Void the transaction identified by the payment ID.","security":[{"secretKey":[]}],"operationId":"voidV1PaymentViaIdViaDeleteMethod","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VoidRequest"},"examples":{"VoidRequest":{"$ref":"#/components/examples/VoidRequest"}}}}},"responses":{"200":{"description":"Successfully voided payment.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VoidResponse"},"examples":{"VoidSuccess":{"$ref":"#/components/examples/VoidSuccess"}}}}}}}},"/payments/v1/payment-rrns/{rrn}":{"parameters":[{"$ref":"#/components/parameters/rrn"}],"get":{"tags":["Payments Info"],"summary":"Retrieve Payment via RRN","description":"Retrieve the transaction/s information by supplying a merchant's request reference number. The resulting response is an array of payment information.\n","security":[{"secretKey":[]}],"operationId":"getPaymentViaRequestReferenceNumber","responses":{"200":{"description":"Successfully retrieved payment information.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PaymentResponse"}},"examples":{"OneTimePaymentSuccess":{"$ref":"#/components/examples/OneTimePaymentSuccessViaRrn"}}}}}}}},"/payments/v1/payments/{paymentId}/status":{"parameters":[{"$ref":"#/components/parameters/paymentId"}],"get":{"tags":["Payments Info"],"summary":"Retrieve Payment Status","description":"A simplified version of the *Retrieve Payment via ID* API. This only returns the payment status.","security":[{"secretKey":[]}],"operationId":"getPaymentStatusViaPaymentId","responses":{"200":{"description":"Successfully retrieved payment status.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentStatusResponse"},"examples":{"PaymentStatusResponse":{"$ref":"#/components/examples/PaymentStatusResponse"}}}}}}}},"/payments/v1/webhooks":{"post":{"tags":["Webhooks"],"summary":"Create Webhook","description":"Registers a webhook URL for a specific transaction event on which the merchant wants to be notified of.","security":[{"secretKey":[]}],"operationId":"createV1Webhook","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookRequest"},"examples":{"WebhookRequest":{"$ref":"#/components/examples/WebhookRequest"}}}}},"responses":{"200":{"description":"Successfully created a webhook.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookResponse"},"examples":{"WebhookSuccess":{"$ref":"#/components/examples/WebhookSuccess"}}}}}}},"get":{"tags":["Webhooks"],"summary":"Get Webhooks","description":"Retrieves a list of webhooks that a merchant registered.","security":[{"secretKey":[]}],"operationId":"getV1Webhooks","responses":{"200":{"description":"Successfully retrieved webhooks.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WebhookResponse"}},"examples":{"WebhookSuccess":{"$ref":"#/components/examples/WebhookSuccessMany"}}}}}}}},"/payments/v1/webhooks/{webhookId}":{"parameters":[{"$ref":"#/components/parameters/webhookId"}],"get":{"tags":["Webhooks"],"summary":"Get Webhook","description":"Retrieves a webhook via a webhook ID.","security":[{"secretKey":[]}],"operationId":"getV1Webhook","responses":{"200":{"description":"Successfully retrieved a webhook.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookResponse"},"examples":{"WebhookSuccess":{"$ref":"#/components/examples/WebhookSuccess"}}}}}}},"put":{"tags":["Webhooks"],"summary":"Update Webhook","description":"Change the URL of a registered webhook.","security":[{"secretKey":[]}],"operationId":"updateV1Webhook","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookUpdateRequest"},"examples":{"WebhookUpdateRequest":{"$ref":"#/components/examples/WebhookUpdateRequest"}}}}},"responses":{"200":{"description":"Successfully updated webhook.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookResponse"},"examples":{"WebhookSuccess":{"$ref":"#/components/examples/WebhookSuccess"}}}}}}},"delete":{"tags":["Webhooks"],"summary":"Delete Webhook","description":"Removes a registered webhook from a merchant.\n\n> The API returns the last state of the webhook upon successful deletion.\n","security":[{"secretKey":[]}],"operationId":"deleteV1Webhook","responses":{"200":{"description":"Successfully deleted webhook.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookResponse"},"examples":{"WebhookSuccess":{"$ref":"#/components/examples/WebhookSuccess"}}}}}}}},"/payments/v1/payments/{paymentId}/voids":{"parameters":[{"$ref":"#/components/parameters/paymentId"}],"post":{"tags":["Voids"],"summary":"Void Payment via ID","description":"Void the transaction identified by the payment ID.","security":[{"secretKey":[]}],"operationId":"voidV1PaymentViaIdViaPostMethod","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VoidRequest"},"examples":{"VoidRequest":{"$ref":"#/components/examples/VoidRequest"}}}}},"responses":{"200":{"description":"Successfully voided payment.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VoidResponse"},"examples":{"VoidSuccess":{"$ref":"#/components/examples/VoidSuccess"}}}}}}},"get":{"tags":["Voids"],"summary":"Retrieve Void Transactions","description":"Retrieves a list of void transactions associated to a payment transaction.","security":[{"secretKey":[]}],"operationId":"getV1VoidsOfPayment","responses":{"200":{"description":"Successfully retrieved void transactions.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VoidResponse"}},"examples":{"VoidSuccessMany":{"$ref":"#/components/examples/VoidSuccessMany"}}}}}}}},"/payments/v1/payment-rrns/{rrn}/voids":{"parameters":[{"$ref":"#/components/parameters/rrn"}],"post":{"tags":["Voids"],"summary":"Void Payment via RRN","description":"Voids the transaction identified by the merchant's request reference number.\n\n> If the RRN is not a unique identifier by the merchant, the [Void via Payment ID](#operation/voidV1PaymentViaIdViaPostMethod) should be used instead.\n","security":[{"secretKey":[]}],"operationId":"voidV1PaymentViaRrn","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VoidRequest"},"examples":{"VoidRequest":{"$ref":"#/components/examples/VoidRequest"}}}}},"responses":{"200":{"description":"Successfully voided payment.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VoidResponse"},"examples":{"VoidSuccess":{"$ref":"#/components/examples/VoidSuccess"}}}}}}}},"/payments/v1/payments/{paymentId}/voids/{voidId}":{"parameters":[{"$ref":"#/components/parameters/paymentId"},{"$ref":"#/components/parameters/voidId"}],"get":{"tags":["Voids"],"summary":"Retrieve Void Transaction","description":"Retrieves a void transaction identified by the provided payment ID and void ID.","security":[{"secretKey":[]}],"operationId":"getV1VoidOfPayment","responses":{"200":{"description":"Successfully retrieved void transactions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VoidResponse"},"examples":{"VoidSuccess":{"$ref":"#/components/examples/VoidSuccess"}}}}}}}},"/payments/v1/payments/{paymentId}/refunds":{"parameters":[{"$ref":"#/components/parameters/paymentId"}],"post":{"tags":["Refunds"],"summary":"Refund Payment via ID","description":"Refund the transaction identified by the payment ID.","security":[{"secretKey":[]}],"operationId":"refundV1PaymentViaId","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefundRequest"},"examples":{"RefundRequest":{"$ref":"#/components/examples/RefundRequest"}}}}},"responses":{"200":{"description":"Successfully refunded payment.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefundResponse"},"examples":{"RefundSuccess":{"$ref":"#/components/examples/RefundSuccess"}}}}}}},"get":{"tags":["Refunds"],"summary":"Retrieve Refund Transactions","description":"Retrieves a list of refund transactions associated to a payment transaction.","security":[{"secretKey":[]}],"operationId":"getV1RefundsOfPayment","responses":{"200":{"description":"Successfully retrieved refund transactions.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RefundResponse"}},"examples":{"RefundSuccess":{"$ref":"#/components/examples/RefundSuccessMany"}}}}}}}},"/payments/v1/payment-rrns/{rrn}/refunds":{"parameters":[{"$ref":"#/components/parameters/rrn"}],"post":{"tags":["Refunds"],"summary":"Refund Payment via RRN","description":"Refunds the transaction identified by the merchant's request reference number.\n\n> If the RRN is not a unique identifier by the merchant, the [Refund via Payment ID](#operation/refundV1PaymentViaId) should be used instead.\n","security":[{"secretKey":[]}],"operationId":"refundV1PaymentViaRrn","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefundRequest"},"examples":{"RefundRequest":{"$ref":"#/components/examples/RefundRequest"}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefundResponse"},"examples":{"RefundSuccess":{"$ref":"#/components/examples/RefundSuccess"}}}}}}}},"/payments/v1/payments/{paymentId}/refunds/{refundId}":{"parameters":[{"$ref":"#/components/parameters/paymentId"},{"$ref":"#/components/parameters/refundId"}],"get":{"tags":["Refunds"],"summary":"Retrieve Refund Transaction","description":"Retrieves a refund transaction identified by the provided payment ID and refund ID.","security":[{"secretKey":[]}],"operationId":"getV1RefundOfPayment","responses":{"200":{"description":"Successful retrieval of refund information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefundResponse"},"examples":{"RefundSuccess":{"$ref":"#/components/examples/RefundSuccess"}}}}}}}},"/payments/v1/payments/{paymentId}/cancel":{"parameters":[{"$ref":"#/components/parameters/paymentId"}],"post":{"tags":["Cancel Payment"],"summary":"Cancel Payment via ID","operationId":"cancelV1PaymentViaIdViaPostMethod","description":"Cancel the transaction identified by the payment ID.","security":[{"secretKey":[]}],"responses":{"200":{"description":"Successfully cancelled payment.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentResponse"},"examples":{"PaymentCancelledResponse":{"$ref":"#/components/examples/PaymentCancelledResponse"}}}}}}}},"/payments/v1/customizations":{"post":{"tags":["Customizations"],"summary":"Set Customizations","description":"Provides customization settings for the mercahnt to change some elements on the user interface.","security":[{"secretKey":[]}],"operationId":"setV1Customizations","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Customizations"},"examples":{"CustomizationsRequest":{"$ref":"#/components/examples/CustomizationsRequest"}}}}},"responses":{"200":{"description":"Successfully retrieved payment information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Customizations"},"examples":{"CustomizationsResponse":{"$ref":"#/components/examples/CustomizationsResponse"}}}}}}},"get":{"tags":["Customizations"],"summary":"Retrieve Customizations","description":"Retrieves the customizations that are set by the merchant.","security":[{"secretKey":[]}],"operationId":"getV1Customizations","responses":{"200":{"description":"Successfully retrieved payment information.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Customizations"}},"examples":{"Customizations":{"$ref":"#/components/examples/CustomizationsResponse"}}}}}}},"delete":{"tags":["Customizations"],"summary":"Remove Customizations","description":"Removes the customizations set and use the default look-and-feel of the payment user interface.","security":[{"secretKey":[]}],"operationId":"deleteV1Customizations","responses":{"204":{"description":"Successfully removed customizations."}}}}},"components":{"securitySchemes":{"publicKey":{"type":"http","scheme":"basic","description":"Merchant keys that are used to access public endpoints. These endpoints are normally triggered from the merchant's frontend system,\nand as such the keys are safe to be loaded on the frontend apps.\n"},"secretKey":{"type":"http","scheme":"basic","description":"Merchant keys that are used to access secret endpoints. These endpoints are normally triggered from the merchant's backend system,\nand should not be loaded on the frontend apps and/or distributed in public.\n"}},"schemas":{"ErrorGeneric":{"type":"object","required":["code","message"],"properties":{"code":{"type":"string","description":"Error code."},"message":{"type":"string","description":"Additional description on the error encountered."},"parameters":{"type":"array","description":"This property is only relevant for validation errors.","items":{"type":"object","properties":{"field":{"type":"string","description":"The parameter name that is missing or invalid."},"description":{"type":"string","description":"Additional information on why the error occurred."}}}}}},"Amount":{"type":"number","format":"float","minimum":0.01,"maximum":9999999,"description":"Amount of the transaction."},"Currency":{"type":"string","minLength":3,"maxLength":3,"description":"[ISO 4217 Alpha-3](https://www.iso.org/iso-4217-currency-codes.html) currency code\n","example":"PHP"},"TotalAmount-Value":{"type":"object","title":"Total Amount","required":["value","currency"],"description":"Contains the value and currency of the transaction.","properties":{"value":{"$ref":"#/components/schemas/Amount"},"currency":{"$ref":"#/components/schemas/Currency"}}},"RedirectUrl":{"type":"object","title":"Redirect URLs","description":"Contains a list of redirect URLs of the merchant for specific events.","properties":{"success":{"type":"string","format":"url","description":"URL to redirect to when the payment is successfully completed."},"failure":{"type":"string","format":"url","description":"URL to redirect to when the payment fails."},"cancel":{"type":"string","format":"url","description":"URL to redirect to when the payment is cancelled by the payer/buyer."}}},"RequestReferenceNumber":{"title":"Merchant Request Reference Number","type":"string","minLength":1,"maxLength":36,"description":"The merchant's reference number for the transaction. It is strongly advised that the merchant provide unique value for this property for each transaction."},"UserId":{"type":"string","format":"email | phone","description":"The email or phone that identifies the PayMaya consumer account that is expected to fulfill the transaction.\nWhen this is provided, the payer will not be able to change the PayMaya account username in the login page.\n"},"PaymentFacilitator":{"title":"Payment Facilitator","type":"object","description":"For a payment facilitator, this provides details regarding the sub-merchant.","required":["smi","smn","mci","mpc","mco"],"properties":{"smi":{"type":"string","minLength":1,"maxLength":30,"description":"Sub-merchant ID."},"smn":{"type":"string","format":"alphanumeric, hyphen, space, apostrophe, comma, period, hyphen","minLength":1,"maxLength":64,"description":"Sub-merchant name."},"mci":{"type":"string","minLength":1,"maxLength":13,"description":"Sub-merchant city location."},"mpc":{"type":"string","minLength":3,"maxLength":3,"description":"[ISO 4217 Numeric](https://www.iso.org/iso-4217-currency-codes.html) currency code.\n"},"mco":{"type":"string","minLength":3,"maxLength":3,"description":"[ISO 3166 Alpha-3](https://www.iso.org/iso-3166-country-codes.html) country code.\n"},"mst":{"type":"string","minLength":2,"maxLength":3,"description":"Sub-merchant abbreviated state location (required if country is USA)."},"mcc":{"type":"string","format":"numeric","minLength":1,"maxLength":15,"description":"[ISO 18245](https://www.iso.org/standard/33365.html) merchant category code.\n"},"postalCode":{"type":"string","format":"alphanumeric, dash, space, hyphen, underscore","maxLength":20,"description":"Sub-merchant postal code"},"contactNo":{"type":"string","format":"phone","maxLength":20,"description":"Contact number without spaces, dashes, or parentheses."},"state":{"type":"string","minLength":1,"maxLength":100,"description":"Sub-merchant state location in full text."},"addressLine1":{"type":"string","minLength":1,"maxLength":100,"description":"Sub-merchant street address."}}},"Metadata":{"title":"Metadata","type":"object","description":"Used to provide additional data to the transaction such a payment faciliator information.","properties":{"subMerchantRequestReferenceNumber":{"title":"Sub-merchant Request Reference Number","type":"string","format":"alphanumeric, dash, space, hyphen, underscore","minLength":1,"maxLength":36,"description":"Reference number of the sub-merchant for the related transaction"},"pf":{"$ref":"#/components/schemas/PaymentFacilitator"}}},"CreateSinglePaymentRequest":{"type":"object","required":["totalAmount","redirectUrl","requestReferenceNumber"],"properties":{"totalAmount":{"$ref":"#/components/schemas/TotalAmount-Value"},"redirectUrl":{"type":"object","required":["success","failure","cancel"],"allOf":[{"$ref":"#/components/schemas/RedirectUrl"}]},"requestReferenceNumber":{"$ref":"#/components/schemas/RequestReferenceNumber"},"userId":{"$ref":"#/components/schemas/UserId"},"metadata":{"$ref":"#/components/schemas/Metadata"}}},"PaymentId":{"title":"Payment ID","type":"string","format":"uuid","description":"The unique identification of the payment transaction."},"CreateSinglePaymentResponse":{"type":"object","properties":{"paymentId":{"$ref":"#/components/schemas/PaymentId"},"redirectUrl":{"type":"string","format":"url","description":"A redirect URL to PayMaya's authorization page for the wallet link.\nThe authorization step should be completed successfully in order to use the wallet link for succeeding payments.\n"}}},"CreateWalletLinkRequest":{"type":"object","required":["redirectUrl"],"properties":{"redirectUrl":{"type":"object","required":["success","failure","cancel"],"allOf":[{"$ref":"#/components/schemas/RedirectUrl"}]},"userId":{"$ref":"#/components/schemas/UserId"},"metadata":{"$ref":"#/components/schemas/Metadata"}}},"LinkId":{"type":"string","format":"uuid","description":"The unique identification string of a PayMaya Account wallet link."},"CreateWalletLinkResponse":{"type":"object","properties":{"linkId":{"$ref":"#/components/schemas/LinkId"},"redirectUrl":{"type":"string","format":"url","description":"A redirect URL to PayMaya's authorization page for the wallet link.\nThe authorization step should be completed successfully in order to use the wallet link for succeeding payments.\n"}}},"ProfileId":{"type":"string","description":"Identification string of the PayMaya consumer account."},"Sex":{"type":"string","enum":["M","F"],"description":"Biological sex."},"Phone":{"type":"string","format":"phone","minLength":1,"maxLength":1000,"description":"Contact phone number."},"Email":{"type":"string","format":"email","minLength":5,"maxLength":1000,"description":"Contact e-mail address."},"Contact":{"type":"object","title":"Contact Details","description":"Contact details like phone and/or email address.","properties":{"phone":{"$ref":"#/components/schemas/Phone"},"email":{"$ref":"#/components/schemas/Email"}}},"PaymayaConsumer":{"type":"object","description":"Contains personal information regarding the PayMaya Account consumer.","properties":{"firstName":{"type":"string","description":"First name of consumer."},"middleName":{"type":"string","description":"Middle name of consumer."},"lastName":{"type":"string","description":"Last name of consumer."},"sex":{"$ref":"#/components/schemas/Sex"},"contact":{"$ref":"#/components/schemas/Contact"}}},"WalletLinkResponse":{"type":"object","properties":{"profileId":{"$ref":"#/components/schemas/ProfileId"},"card":{"type":"object","description":"Contains the state of the associated virtual card to this PayMaya Account.","properties":{"state":{"type":"string","enum":["VERIFIED","DELETED"],"description":"Indicates the state of the wallet link:\n- `VERIFIED`: active and can be used for payments.\n- `DELETED`: deactivated wallet.\n"}}},"customer":{"$ref":"#/components/schemas/PaymayaConsumer"}}},"ExecuteWalletLinkPaymentRequest":{"type":"object","required":["totalAmount","requestReferenceNumber"],"properties":{"totalAmount":{"$ref":"#/components/schemas/TotalAmount-Value"},"requestReferenceNumber":{"$ref":"#/components/schemas/RequestReferenceNumber"},"metadata":{"$ref":"#/components/schemas/Metadata"}}},"PaymentStates":{"title":"Payment States","type":"string","description":"Indicates the current state of the payment transaction.","enum":["PENDING_TOKEN","PENDING_PAYMENT","FOR_AUTHENTICATION","AUTHENTICATING","AUTH_NOT_ENROLLED","AUTH_SUCCESS","AUTH_FAILED","PAYMENT_SUCCESS","PAYMENT_FAILED","PAYMENT_PROCESSING","AUTHORIZED","PAYMENT_EXPIRED","PAYMENT_CANCELLED","PAYMENT_INVALID","VOIDED","REFUNDED","ACCOUNT_ABUSE","CAPTURED","DONE","CAPTURE_HOLD_EXPIRED"]},"CreatedAt":{"type":"string","format":"date-time","description":"The timestamp in UTC when the record is created."},"UpdatedAt":{"type":"string","format":"date-time","description":"The timestamp in UTC when the record is last updated."},"PaymentTokenId":{"title":"Payment Token ID","type":"string","description":"The string token representing the card information (only relevant for card-based payments).","example":"0zjacza65HEobriYGN9g5XwaWZYVSeErdNnaNCLCo8QvUXuGg49KPJSy1XbhHPL8OisYOiYPJSQ2BxqR2AuC682Yu5G5LzrU0SK6ByWi0TyhkekWf1ssl6cMBWAVAOdArLcY1QXEyHdr8EsRAS2bHeMEpUU6OSmxmky5Fk"},"CardScheme":{"type":"string","enum":["visa","jcb","master-card"],"description":"Card scheme."},"Issuer":{"type":"string","description":"Name of the issuing bank as provided by https://binlist.net."},"FundSourceCard":{"title":"Card","type":"object","required":["id","type","description"],"properties":{"id":{"$ref":"#/components/schemas/PaymentTokenId"},"type":{"type":"string","description":"Indicates the type of the fund source. For card transactions this is always set to `card`.","example":"card"},"description":{"type":"string","description":"Masked card PAN which *may* show the last 4 digits.","example":"**** **** **** 4154"},"details":{"description":"Contains the more information specific to the card used.","type":"object","properties":{"scheme":{"$ref":"#/components/schemas/CardScheme"},"last4":{"type":"string","format":"numeric","description":"Last 4 digits of the card PAN.","example":4154},"first6":{"type":"string","format":"numeric","description":"First 6 digits of the card PAN.","example":545301},"masked":{"type":"string","description":"Masked card PAN which *may* show the first 6 and last 4 digits.","example":"545301******4154"},"issuer":{"$ref":"#/components/schemas/Issuer"}}}}},"FundSourcePaymaya":{"title":"PayMaya Account (Single Payment)","type":"object","required":["id","type","description"],"properties":{"id":{"type":"string","format":"phone","description":"The mobile phone number (MSISDN) associated to the PayMaya account.","example":"+639086216587"},"type":{"type":"string","description":"Indicates the type of the fund source. For PayMaya transactions, this is always set to `paymaya`.","example":"paymaya"},"description":{"type":"string","description":"The formatted masked mobile phone number, which *may* show the last 4 digits.","example":"***** ***6587"},"details":{"description":"Contains the more information specific to the PayMaya account.","type":"object","properties":{"firstName":{"type":"string","description":"The first name of the PayMaya account holder.","example":"Maya"},"lastName":{"type":"string","description":"The last name of the PayMaya account holder.","example":"Cruz"},"msisdn":{"type":"string","format":"phone","description":"The mobile phone number (MSISDN) associated to the PayMaya account.","example":"+639086216587"},"email":{"type":"string","format":"email","description":"The mobile phone number (MSISDN) associated to the PayMaya account.","example":"maya.juan@mail.com"},"masked":{"type":"string","description":"The masked mobile phone number, which *may* show the last 4 digits.","example":"********6587"}}}}},"FundSourcePaymayaLinkedWallet":{"title":"PayMaya Account (Recurring Payment)","type":"object","required":["id","type","description"],"properties":{"id":{"$ref":"#/components/schemas/PaymentTokenId"},"type":{"type":"string","description":"Indicates the type of the fund source. For recurring PayMaya wallet transactions, this is set to `card`.","example":"card"},"description":{"type":"string","description":"Masked card PAN which *may* show the last 4 digits.","example":"**** **** **** 4154"},"details":{"description":"Contains the more information specific to the card used.","type":"object","properties":{"scheme":{"$ref":"#/components/schemas/CardScheme"},"last4":{"type":"string","format":"numeric","description":"Last 4 digits of the card PAN.","example":4154},"first6":{"type":"string","format":"numeric","description":"First 6 digits of the card PAN.","example":545301},"masked":{"type":"string","description":"Masked card PAN which *may* show the first 6 and last 4 digits.","example":"545301******4154"},"issuer":{"$ref":"#/components/schemas/Issuer"},"profileId":{"$ref":"#/components/schemas/ProfileId"}}}}},"FundSourceP2m":{"title":"P2M","type":"object","required":["type","description"],"properties":{"id":{"type":"string","description":"Always set to null."},"type":{"type":"string","description":"Indicates the type of the fund source. For PayMaya P2M transactions this is always set to `paymaya`.","example":"paymaya"},"description":{"type":"string","description":"Always set to `PayMaya Account`.","example":"PayMaya Account"},"details":{"description":"Contains the card token used associated to the PayMaya account.","type":"object","properties":{"scheme":{"type":"string","enum":["visa","jcb","master-card"],"description":"Card scheme.","example":"master-card"},"last4":{"type":"string","format":"numeric","description":"Last 4 digits of the card PAN.","example":4154},"first6":{"type":"string","format":"numeric","description":"First 6 digits of the card PAN.","example":545301},"masked":{"type":"string","description":"Masked card PAN which *may* show the first 6 and last 4 digits.","example":"545301******4154"},"issuer":{"$ref":"#/components/schemas/Issuer"}}}}},"FundSourcePaypal":{"title":"PayPal Account","type":"object","required":["id","type","description"],"properties":{"id":{"type":"string","format":"email","description":"The payer's PayPal account as represented by an email address.","example":"maya.juan@mail.com"},"type":{"type":"string","description":"Indicates the type of the fund source. For PayPal transactions, this is always set to `paypal`.","example":"paypal"},"description":{"type":"string","description":"The formatted masked PayPal account (i.e. email address).","example":"m*******n@mail.com"}}},"FundSource":{"type":"object","oneOf":[{"$ref":"#/components/schemas/FundSourceCard"},{"$ref":"#/components/schemas/FundSourcePaymaya"},{"$ref":"#/components/schemas/FundSourcePaymayaLinkedWallet"},{"$ref":"#/components/schemas/FundSourceP2m"},{"$ref":"#/components/schemas/FundSourcePaypal"}]},"EmvIccData":{"title":"EMV ICC Data","type":"string","minLength":1,"maxLength":340,"description":"EMV ICC binary data returned by the Issuer. To be used for post-processing (e.g., Issuer Authentication by EMV EXTERNAL AUTHENTICATE or 2nd GENERATE AC).","example":"ggIcAIQHoAAAAAMQEJUFgAAAAACaAxcEGZwBAF8qAgYInwIGAAAAAAEAnwMGAAAAAAAAnxASBgEKA6CAAAoCAAAAAABuefOZnxoCBgifHghQWU1ZUE9TMZ8mCA5/WLUnW3KxnycBgJ8zAyAgyJ80Ax4DAJ81ASGfNgIAyp83BKOXolWfQQQAAAAB"},"TransactionId":{"title":"Transaction ID","type":"string","description":"Unique identifier returned by the issuer for this transaction.","example":"OUWZP6"},"ApprovalCode":{"title":"Approval Code","type":"string","description":"Approval Code / Authorization Identification Code generated by the issuer to indicate the approval of a transaction","example":873200},"BatchNo":{"title":"Processor Batch Number","type":"string","format":"alphanumeric","minLength":1,"maxLength":8,"description":"Value supplied by P3 or the value of `transaction.trace.batchNo` during the request (if supplied) which indicates the batch of transactions that the specific transaction has been grouped with. Merchants may keep track of this value for reconnaissance.","example":20210506},"TraceNo":{"title":"Processor Trace Number","type":"string","format":"alphanumeric","minLength":1,"maxLength":8,"description":"Value of `transaction.trace.traceNo` during the request (if supplied)"},"ReceiptNo":{"title":"Receipt Number","type":"string","format":"alphanumeric","minLength":1,"maxLength":12,"description":"A receipt / reference number generated by the acquirer. Can be used by all parties (cardholder merchant payment gateway acquirer issuer) when looking up a specific transaction record for reconnaisance.","example":112612964976},"Receipt":{"title":"Processor Receipt","type":"object","description":"Additional transaction reference numbers generated by either the issuing bank or the acquiring host. This is only relevant for card and PayMaya Account payments.","properties":{"transactionId":{"$ref":"#/components/schemas/TransactionId"},"approvalCode":{"$ref":"#/components/schemas/ApprovalCode"},"batchNo":{"$ref":"#/components/schemas/BatchNo"},"traceNo":{"$ref":"#/components/schemas/TraceNo"},"receiptNo":{"$ref":"#/components/schemas/ReceiptNo"}}},"AuthorizationType":{"title":"Authorization Type","type":"string","enum":["NORMAL","FINAL","PREAUTHORIZATION"],"description":"For card transactions, it indicates the type of authorization applied. For more information, click this [link](https://cdn.paymaya.com/sandbox/payments_api/paymayap3/paymayap3.html#header-authorization-types)."},"PaymentResponse":{"title":"Generic Payment Response","type":"object","required":["id","isPaid","status","amount","currency","canVoid","canRefund","canCapture","createdAt","updatedAt"],"properties":{"id":{"$ref":"#/components/schemas/PaymentId"},"isPaid":{"type":"boolean","description":"Indicates if the payment is processed successfully or not."},"status":{"$ref":"#/components/schemas/PaymentStates"},"amount":{"$ref":"#/components/schemas/Amount"},"currency":{"$ref":"#/components/schemas/Currency"},"canVoid":{"type":"boolean","description":"Indicates if the payment can be voided (e.g. same-day reversal for card transactions)."},"canRefund":{"type":"boolean","description":"Indicates if the payment can be refunded (e.g. next-day reversal for card transactions)."},"canCapture":{"type":"boolean","description":"Indicates if the payment can be captured for settlement to merchant. This is only relevant for authorization payments."},"createdAt":{"$ref":"#/components/schemas/CreatedAt"},"updatedAt":{"$ref":"#/components/schemas/UpdatedAt"},"requestReferenceNumber":{"$ref":"#/components/schemas/RequestReferenceNumber"},"description":{"title":"Customer/Payer Description","type":"string","description":"Contains identifying information regarding the payer of the transaction. It may contain the payer's email address, name, or address line.","example":"Charge for maya.juan@mail.com"},"paymentTokenId":{"$ref":"#/components/schemas/PaymentTokenId"},"verificationUrl":{"title":"3DS Verification URL","type":"string","format":"url","description":"The URL that the payer needs to open in the browser to complete payment via 3DS authentication."},"fundSource":{"$ref":"#/components/schemas/FundSource"},"batchNumber":{"title":"Terminal Batch Number","type":"string","format":"alphanumeric, dash, space, hyphen, underscore","minLength":1,"maxLength":36,"description":"The batch number of a terminal-based payment."},"traceNumber":{"title":"Terminal Trace Number","type":"string","format":"alphanumeric, dash, space, hyphen, underscore","minLength":1,"maxLength":36,"description":"The batch number of a terminal-based payment."},"emvIccData":{"$ref":"#/components/schemas/EmvIccData"},"receipt":{"$ref":"#/components/schemas/Receipt"},"approvalCode":{"$ref":"#/components/schemas/ApprovalCode"},"receiptNumber":{"$ref":"#/components/schemas/ReceiptNo"},"authorizationType":{"$ref":"#/components/schemas/AuthorizationType"},"capturedAmount":{"type":"number","format":"float","description":"Indicates the total amount already captured for this authorization payment. Only applicable if the transaction has an `authorizationType`."},"authorizationPayment":{"title":"Authorization Payment ID","type":"string","format":"uuid","description":"The unique identification of the authorization payment associated to this payment. Only applicable if this is a capture payment."},"capturedPaymentId":{"title":"Capture Payment ID","type":"string","format":"uuid","description":"The unique identification of the capture payment associated to this payment. Only applicable if this is an authorization payments."},"subscription":{"title":"Subscription ID","type":"string","format":"uuid","description":"The unique identification of the subscription associated to this payment."},"metadata":{"$ref":"#/components/schemas/Metadata"}}},"CreateDynamicQrRequest":{"type":"object","required":["totalAmount","requestReferenceNumber"],"properties":{"totalAmount":{"$ref":"#/components/schemas/TotalAmount-Value"},"redirectUrl":{"$ref":"#/components/schemas/RedirectUrl"},"requestReferenceNumber":{"$ref":"#/components/schemas/RequestReferenceNumber"},"metadata":{"$ref":"#/components/schemas/Metadata"}}},"CreateDynamicQrResponse":{"type":"object","properties":{"paymentId":{"type":"string","format":"uuid","example":"5f1e1df5-b58f-481b-89cb-8dd41afcf771"},"redirectUrl":{"type":"string","example":"https://payments-web-sandbox.paymaya.com/v2/qr?id=5f1e1df5-b58f-481b-89cb-8dd41afcf771"},"qrCodeBoy":{"type":"string","example":"{\\\"m\\\":{\\\"n\\\":\\\"QR Sample Merchant\\\"},\\\"t\\\":{\\\"p\\\":\\\"5f1e1df5-b58f-481b-89cb-8dd41afcf771\\\",\\\"a\\\":100}}"}}},"BaseAddress":{"type":"object","properties":{"line1":{"type":"string","description":"Address Line 1.","minLength":1,"maxLength":1000},"line2":{"type":"string","description":"Address Line 2.","minLength":1,"maxLength":1000},"city":{"type":"string","description":"City","minLength":1,"maxLength":1000},"state":{"type":"string","description":"State / Province.","minLength":1,"maxLength":1000},"zipCode":{"type":"string","description":"Zip / Postal code.","minLength":1,"maxLength":1000},"countryCode":{"type":"string","minLength":2,"maxLength":2,"description":"[ISO 3166 alpha-2](https://www.iso.org/iso-3166-country-codes.html) notation of the country.\n"}}},"BillingAddress-Basic":{"type":"object","title":"Basic Billing Address","allOf":[{"$ref":"#/components/schemas/BaseAddress"}]},"BillingAddress-Kount":{"type":"object","title":"Kount Billing Address","required":["countryCode"],"allOf":[{"$ref":"#/components/schemas/BaseAddress"}]},"BillingAddress-All":{"type":"object","title":"Billing Address","description":"Contains billing information of the payer/buyer. By default, all information are optional (i.e. use `Basic Billing Address` specification).\nHowever, If the merchant is enabled to use Kount fraud protection, they must use `Kount Billing Address` specification.\n","oneOf":[{"$ref":"#/components/schemas/BillingAddress-Basic"},{"$ref":"#/components/schemas/BillingAddress-Kount"}]},"ShippingTypes":{"type":"string","enum":["ST","SD"],"description":"* `ST` - Standard shipping\n* `SD` - Same-day shipping\n"},"ShippingAddress-Basic":{"type":"object","title":"Basic Shipping Address","description":"Contains shipment information including name of the person identified to receive the purchase order.","allOf":[{"$ref":"#/components/schemas/BaseAddress"},{"type":"object","properties":{"firstName":{"type":"string","description":"First name of the recipient.","minLength":1,"maxLength":1000,"example":"Maya"},"middleName":{"type":"string","description":"Middle name of the recipient.","minLength":1,"maxLength":1000,"example":"Jose"},"lastName":{"type":"string","description":"Last name of the recipient.","minLength":1,"maxLength":1000,"example":"Juan"},"phone":{"$ref":"#/components/schemas/Phone"},"email":{"$ref":"#/components/schemas/Email"},"shippingType":{"$ref":"#/components/schemas/ShippingTypes"}}}]},"ShippingAddress-Kount":{"type":"object","title":"Kount Shipping Address","description":"Contains shipment information including name of the person identified to receive the purchase order.","required":["countryCode"],"allOf":[{"$ref":"#/components/schemas/BaseAddress"},{"type":"object","properties":{"firstName":{"type":"string","description":"First name of the recipient.","minLength":1,"maxLength":1000,"example":"Maya"},"middleName":{"type":"string","description":"Middle name of the recipient.","minLength":1,"maxLength":1000,"example":"Jose"},"lastName":{"type":"string","description":"Last name of the recipient.","minLength":1,"maxLength":1000,"example":"Juan"},"phone":{"$ref":"#/components/schemas/Phone"},"email":{"$ref":"#/components/schemas/Email"},"shippingType":{"$ref":"#/components/schemas/ShippingTypes"}}}]},"ShippingAddress-All":{"type":"object","title":"Shipping Address","description":"Contains shipment information including name of the person identified to receive the purchase order. By default, all information are optional (i.e. use `Basic Shipping Address` specification).\nHowever, If the merchant is enabled to use Kount fraud protection, they must use `Kount Shipping Address` specification.\n","oneOf":[{"$ref":"#/components/schemas/ShippingAddress-Basic"},{"$ref":"#/components/schemas/ShippingAddress-Kount"}]},"BaseBuyer":{"type":"object","title":"Buyer","description":"Contains personal information regarding the buyer/payer of the transaction.","properties":{"firstName":{"type":"string","description":"First name of the payer/buyer.","minLength":1,"maxLength":1000},"middleName":{"type":"string","description":"Middle name of the payer/buyer.","minLength":1,"maxLength":1000},"lastName":{"type":"string","description":"Last name of the payer/buyer.","minLength":1,"maxLength":1000},"birthday":{"type":"string","format":"date","description":"Birthday in [ISO 8601 / RFC 3339 full-date format](https://tools.ietf.org/html/rfc3339#section-5.6)."},"customerSince":{"type":"string","format":"date","description":"Date in [ISO 8601 / RFC 3339 full-date format](https://tools.ietf.org/html/rfc3339#section-5.6) when payer/buyer registered as a customer as per merchant's records."},"sex":{"$ref":"#/components/schemas/Sex"},"contact":{"$ref":"#/components/schemas/Contact"},"billingAddress":{"$ref":"#/components/schemas/BillingAddress-All"},"shippingAddress":{"$ref":"#/components/schemas/ShippingAddress-All"}}},"Buyer-Basic":{"type":"object","title":"Basic Buyer","allOf":[{"$ref":"#/components/schemas/BaseBuyer"}]},"Buyer-Kount":{"type":"object","title":"Kount Buyer","required":["firstName","lastName","contact","billingAddress","shippingAddress"],"allOf":[{"$ref":"#/components/schemas/BaseBuyer"}]},"Buyer-All":{"type":"object","title":"Buyer","description":"Contains personal information regarding the buyer/payer of the transaction. By default, all information are optional (i.e. use `Basic Buyer` specification).\nHowever, If the merchant is enabled to use Kount fraud protection, they must use `Kount Buyer` specification.\n","oneOf":[{"$ref":"#/components/schemas/Buyer-Basic"},{"$ref":"#/components/schemas/Buyer-Kount"}]},"Card":{"type":"object","description":"Card information.","required":["number","expMonth","expYear","cvc"],"properties":{"number":{"type":"string","minLength":12,"maxLength":19,"description":"Primary account number (PAN) of the card.","example":"5123456789012346"},"expMonth":{"type":"string","enum":["01","02","03","04","05","06","07",8,9,"10","11","12"],"description":"Card expiration month in numeric string format.","example":"12"},"expYear":{"type":"string","format":"numeric","minLength":4,"maxLength":4,"description":"Card expiration year.","example":"2025"},"cvc":{"type":"string","minLength":3,"maxLength":4,"description":"Card verification value/code (CVV/CVC) or card security code (CSC).","example":"111"}}},"CreateStaticQrRequest":{"type":"object","required":["totalAmount","requestReferenceNumber"],"properties":{"totalAmount":{"$ref":"#/components/schemas/TotalAmount-Value"},"buyer":{"$ref":"#/components/schemas/Buyer-All"},"card":{"$ref":"#/components/schemas/Card"},"requestReferenceNumber":{"$ref":"#/components/schemas/RequestReferenceNumber"}}},"UpdateQrPaymentRequest":{"type":"object","required":["card"],"properties":{"card":{"$ref":"#/components/schemas/Card"},"buyer":{"$ref":"#/components/schemas/Buyer-All"}}},"Reason":{"type":"string","minLength":1,"maxLength":512,"description":"A description of why the operation (e.g. void, refund) needs to be executed."},"VoidRequest":{"type":"object","required":["reason"],"properties":{"reason":{"$ref":"#/components/schemas/Reason"},"requestReferenceNumber":{"$ref":"#/components/schemas/RequestReferenceNumber"}}},"VoidId":{"title":"Void ID","type":"string","format":"uuid","description":"The unique identification of the void transaction.","example":"0a306b5c-4eff-4d5b-80d4-277d442d5258"},"VoidRefundStates":{"title":"Void/Refund States","type":"string","description":"Indicates the status of a void/refund transaction.","enum":["PENDING","SUCCESS","FAILED"]},"VoidResponse":{"type":"object","required":["id","payment","status","reason","createdAt","updatedAt"],"properties":{"id":{"$ref":"#/components/schemas/VoidId"},"payment":{"$ref":"#/components/schemas/PaymentId"},"status":{"$ref":"#/components/schemas/VoidRefundStates"},"reason":{"$ref":"#/components/schemas/Reason"},"requestReferenceNumber":{"$ref":"#/components/schemas/RequestReferenceNumber"},"createdAt":{"$ref":"#/components/schemas/CreatedAt"},"updatedAt":{"$ref":"#/components/schemas/UpdatedAt"}}},"PaymentStatusResponse":{"type":"object","required":["id","status"],"properties":{"id":{"$ref":"#/components/schemas/PaymentId"},"status":{"$ref":"#/components/schemas/PaymentStates"}}},"WebhookId":{"type":"string","format":"uuid","description":"The unique identification of the webhook URL."},"WebhookName":{"type":"string","minLength":1,"maxLength":256,"enum":["AUTHORIZED","PAYMENT_SUCCESS","PAYMENT_FAILED","PAYMENT_EXPIRED","PAYMENT_CANCELLED","3DS_PAYMENT_SUCCESS","3DS_PAYMENT_FAILURE","3DS_PAYMENT_DROPOUT","RECURRING_PAYMENT_SUCCESS","RECURRING_PAYMENT_FAILURE","CHECKOUT_SUCCESS","CHECKOUT_FAILURE","CHECKOUT_DROPOUT","CHECKOUT_CANCELLED"]},"WebhookCallbackUrl":{"type":"string","format":"url","minLength":1,"maxLength":2083,"description":"The merchant server's URL that is called for this this webhook."},"WebhookResponse":{"type":"object","required":["id","name","callbackUrl","createdAt","updatedAt"],"properties":{"id":{"$ref":"#/components/schemas/WebhookId"},"name":{"$ref":"#/components/schemas/WebhookName"},"callbackUrl":{"$ref":"#/components/schemas/WebhookCallbackUrl"},"createdAt":{"$ref":"#/components/schemas/CreatedAt"},"updatedAt":{"$ref":"#/components/schemas/UpdatedAt"}}},"WebhookRequest":{"title":"Webhook Request","type":"object","required":["name","callbackUrl"],"properties":{"name":{"$ref":"#/components/schemas/WebhookName"},"callbackUrl":{"$ref":"#/components/schemas/WebhookCallbackUrl"}}},"WebhookUpdateRequest":{"type":"object","required":["callbackUrl"],"properties":{"callbackUrl":{"$ref":"#/components/schemas/WebhookCallbackUrl"}}},"RefundId":{"type":"string","format":"uuid","description":"The unique identification of the refund transaction.","example":"fbc7d874-4f05-45e8-b205-14e2d07657f5"},"RefundAt":{"type":"string","format":"date-time","description":"The timestamp in UTC when the transaction is refunded."},"RefundResponse":{"type":"object","required":["id","payment","amount","currency","status","reason","createdAt","updatedAt"],"properties":{"id":{"$ref":"#/components/schemas/RefundId"},"reason":{"$ref":"#/components/schemas/Reason"},"amount":{"$ref":"#/components/schemas/Amount"},"currency":{"$ref":"#/components/schemas/Currency"},"status":{"$ref":"#/components/schemas/VoidRefundStates"},"payment":{"$ref":"#/components/schemas/PaymentId"},"requestReferenceNumber":{"$ref":"#/components/schemas/RequestReferenceNumber"},"refundAt":{"$ref":"#/components/schemas/RefundAt"},"createdAt":{"$ref":"#/components/schemas/CreatedAt"},"updatedAt":{"$ref":"#/components/schemas/UpdatedAt"}}},"TotalAmount-Amount":{"type":"object","title":"Total Amount","required":["amount","currency"],"description":"Contains the value and currency of the transaction.","properties":{"amount":{"$ref":"#/components/schemas/Amount"},"currency":{"$ref":"#/components/schemas/Currency"}}},"RefundRequest":{"type":"object","required":["totalAmount","reason"],"properties":{"totalAmount":{"$ref":"#/components/schemas/TotalAmount-Amount"},"reason":{"$ref":"#/components/schemas/Reason"},"requestReferenceNumber":{"$ref":"#/components/schemas/RequestReferenceNumber"}}},"Customizations":{"title":"Customizations","type":"object","required":["logoUrl","iconUrl","appleTouchIconUrl","customTitle","colorScheme"],"properties":{"logoUrl":{"type":"string","format":"url,","minLength":5,"maxLength":2082,"description":"URL that points to the merchant's logo image."},"iconUrl":{"type":"string","format":"url,","minLength":5,"maxLength":2082,"description":"URL that points to the merchant's icon image."},"appleTouchIconUrl":{"type":"string","format":"url,","minLength":5,"maxLength":2082,"description":"URL that points to the merchant's Apple icon image."},"customTitle":{"type":"string","minLength":1,"maxLength":64,"description":"Customized title used in the web browser."},"colorScheme":{"type":"string","format":"hexcolor","description":"The HEX color code that is used for the payment button."},"hideReceiptInput":{"type":"boolean","description":"Indicates if the merchant does not allow its payers to freely send transaction receipts (i.e. set to `true`).\n","default":false},"skipResultPage":{"type":"boolean","description":"Indicates if the merchant does not want to show the payment result page.\nWhen skipped (i.e. set to `true`), the payment page redirects immediately to the merchant's redirect URL.\n","default":false},"showMerchantName":{"type":"boolean","description":"Indicates if the merchant name on the result page is displayed.\nFor merchants that have their name in their logo, they may opt to hide a textual display of their name to remove duplicity.\n","default":true},"redirectTimer":{"type":"number","format":"integer","minimum":3,"maximum":30,"description":"The number of seconds the payment result page is shown before it redirects to the merchant's redirect URL.\n\nThe following are the **default** time used depending on the resulting payment:\n- `15 seconds`: for successful payments\n- `5 seconds`: for failed payments\n"}}}},"examples":{"Metadata":{"summary":"Payment facilitator metadata.","value":{"subMerchantRequestReferenceNumber":"SUBMER-12345","pf":{"smi":"SUB034221","smn":"Maya Merchant","mci":"MANILA","mpc":"608","mco":"PHL","mcc":"3415","postalCode":"1001","contactNo":"+6329112345","state":"Metro Manila","addressLine1":"Quezon Boulevard, Quiapo"}}},"2553-ValidationError":{"summary":"Missing/invalid parameters.","value":{"code":"2553","message":"Missing/invalid parameters.","parameters":[{"field":"card.cvc","description":"A 3-4 digit cvc / cvv is required."}]}},"CreateSinglePaymentRequest":{"summary":"Single payment request.","value":{"totalAmount":{"currency":"PHP","value":"100"},"redirectUrl":{"success":"https://www.merchantsite.com/success?id=567834590","failure":"https://www.merchantsite.com/failure?id=567834590","cancel":"https://www.merchantsite.com/cancel?id=567834590"},"requestReferenceNumber":"5b4a6d60-2165-4bc1-bb0e-e610d1a3f82d"}},"CreateSinglePaymentResponse":{"summary":"Single payment response.","value":{"paymentId":"5f1e1df5-b58f-481b-89cb-8dd41afcf771","redirectUrl":"https://payments-web-sandbox.paymaya.com/paymaya/payment?id=5f1e1df5-b58f-481b-89cb-8dd41afcf771"}},"CreateWalletLinkRequest":{"summary":"Wallet link Request","value":{"redirectUrl":{"success":"https://www.merchantsite.com/success?id=6319921","failure":"https://www.merchantsite.com/failure?id=6319921","cancel":"https://www.merchantsite.com/cancel?id=6319921"},"requestReferenceNumber":"5b4a6d60-2165-4bc1-bb0e-e610d1a3f82d"}},"CreateWalletLinkResponse":{"summary":"Wallet link response.","value":{"linkId":"1bbe9edd-0732-405f-93a1-1b5938de3fa0","redirectUrl":"https://payments-web-sandbox.paymaya.com/paymaya/link?id=1bbe9edd-0732-405f-93a1-1b5938de3fa0"}},"WalletLinkVerifiedResponse":{"summary":"Linked wallet response.","value":{"profileId":"770234873401","card":{"state":"VERIFIED"},"customer":{"firstName":"Maya","middleName":"Jose","lastName":"Juan","birthday":"1987-10-10","sex":"F","contact":{"phone":"+63(2)1234567890","email":"maya.juan@mail.com"}}}},"WalletLinkDeletedResponse":{"summary":"Linked wallet response.","value":{"profileId":"770234873401","card":{"state":"DELETED"},"customer":{"firstName":"Maya","middleName":"Jose","lastName":"Juan","birthday":"1987-10-10","sex":"F","contact":{"phone":"+63(2)1234567890","email":"maya.juan@mail.com"}}}},"ExecuteWalletLinkPaymentRequest":{"summary":"Execute payment via wallet link request.","value":{"totalAmount":{"currency":"PHP","value":100},"requestReferenceNumber":"5b4a6d60-2165-4bc1-bb0e-e610d1a3f82d"}},"ExecuteWalletLinkPaymentResponse":{"summary":"Execute wallet link payment response.","value":{"id":"e732f996-cb87-4120-b712-166d8183c01d","isPaid":true,"status":"PAYMENT_SUCCESS","amount":"100","currency":"PHP","canVoid":true,"canRefund":true,"canCapture":false,"createdAt":"2021-07-13T07:34:52.000Z","updatedAt":"2021-07-13T07:34:52.000Z","description":"Charge for maya.juan@mail.com","fundSource":{"type":"card","id":"A4GmO2g8kFUeZTmOncccNe5lHGTLjJ0Fph28DMU4dNjxnwPPYQyBQS11KQ5ItXqdz7Yzft7cDR9VjCTF82vTsyOW2a3uIYzjyA0GquW6kUWrqkW3rofjFj16TKIMh6ZBoJVAZZngi4gOtJ2pRlg0uXqX4DGE3f52n7e7cVrc","description":"**** **** **** 7140","details":{"scheme":"master-card","last4":"7140","first6":"542482","masked":"542482******7140","issuer":"SmartPay","profileId":"777457095040"}},"receipt":{"transactionId":"dd4b2796-aef7-4b03-bbba-c7342eb9fec2","receiptNo":"7d8990c5cb2e","approval_code":"00001234","approvalCode":"00001234"},"approvalCode":"00001234","receiptNumber":"7d8990c5cb2e","requestReferenceNumber":"5b4a6d60-2165-4bc1-bb0e-e610d1a3f82d"}},"CreateDynamicQrRequest":{"summary":"Dynamic QR payment request","value":{"totalAmount":{"currency":"PHP","value":"100.00"},"redirectUrl":{"success":"http://shop.someserver.com/success?id=6319921","failure":"http://shop.someserver.com/failure?id=6319921","cancel":"http://shop.someserver.com/cancel?id=6319921"},"requestReferenceNumber":"5b4a6d60-2165-4bc1-bb0e-e610d1a3f82d","metadata":{}}},"CreateDynamicQrResponse":{"summary":"Dynamic QR payment response.","value":{"paymentId":"e732f996-cb87-4120-b712-166d8183c01d","redirectUrl":"https://payments-web-sandbox.paymaya.com/v2/qr?id=e732f996-cb87-4120-b712-166d8183c01d","qrCodeBody":"{\"m\":{\"n\":\"QR Sample Merchant\"},\"t\":{\"p\":\"e732f996-cb87-4120-b712-166d8183c01d\",\"a\":100}}"}},"CreateStaticQrRequest":{"summary":"Create static QR request.","value":{"totalAmount":{"currency":"PHP","value":"100.00"},"buyer":{"firstName":"Maya","lastName":"Juan"},"card":{"number":"5424820002859039","expMonth":"05","expYear":"2020","cvc":59},"requestReferenceNumber":"5b4a6d60-2165-4bc1-bb0e-e610d1a3f82d"}},"StaticQrPendingPaymentResponse":{"summary":"Static QR response (PENDING_PAYMENT).","value":{"id":"e732f996-cb87-4120-b712-166d8183c01d","isPaid":false,"status":"PENDING_PAYMENT","amount":"100","currency":"PHP","canVoid":false,"canRefund":false,"canCapture":false,"createdAt":"2021-07-13T09:47:09.000Z","updatedAt":"2021-07-13T09:47:09.000Z","paymentTokenId":"760026","merchant":{"p2mId":"f96e4945-e8cf-4e4a-8cae-21e073b97a03","name":"Happy Merchant"},"metadata":{},"requestReferenceNumber":"5b4a6d60-2165-4bc1-bb0e-e610d1a3f82d"}},"StaticQrPendingTokenResponse":{"summary":"Static QR response (PENDING_TOKEN).","value":{"id":"e732f996-cb87-4120-b712-166d8183c01d","isPaid":false,"status":"PENDING_TOKEN","amount":"100","currency":"PHP","canVoid":false,"canRefund":false,"canCapture":false,"createdAt":"2021-07-13T09:45:44.000Z","updatedAt":"2021-07-13T09:45:44.000Z","merchant":{"p2mId":"f96e4945-e8cf-4e4a-8cae-21e073b97a03","name":"Happy Merchant"},"metadata":{},"requestReferenceNumber":"5b4a6d60-2165-4bc1-bb0e-e610d1a3f82d"}},"ExecuteQrPaymentSuccessResponse":{"summary":"Execute QR payment response.","value":{"id":"e732f996-cb87-4120-b712-166d8183c01d","isPaid":true,"status":"PAYMENT_SUCCESS","amount":"100","currency":"PHP","canVoid":true,"canRefund":true,"canCapture":false,"createdAt":"2021-07-13T09:47:09.000Z","updatedAt":"2021-07-13T09:47:36.000Z","fundSource":{"type":"paymaya","id":null,"description":"PayMaya Account","details":{"scheme":"visa","last4":"1112","first6":"401200","masked":"401200******1112","issuer":"Others"}},"merchant":{"p2mId":"f96e4945-e8cf-4e4a-8cae-21e073b97a03","name":"Happy Merchant"},"receipt":{"transactionId":"35745160-3797-460b-87d7-ca1c04ee8d2a","receiptNo":"99e9c4d70896","approval_code":"00001234","approvalCode":"00001234"},"metadata":{},"approvalCode":"00001234","receiptNumber":"99e9c4d70896","requestReferenceNumber":"5b4a6d60-2165-4bc1-bb0e-e610d1a3f82d"}},"UpdateQrPaymentRequest":{"summary":"Update QR payment request.","value":{"card":{"number":"5424820002859039","expMonth":"05","expYear":"2020","cvc":59},"buyer":{"firstName":"Maya","lastName":"Juan"}}},"OneTimePaymentSuccess":{"summary":"Successful online one-time card payment.","value":{"id":"e732f996-cb87-4120-b712-166d8183c01d","isPaid":true,"status":"PAYMENT_SUCCESS","amount":"100","currency":"PHP","canVoid":true,"canRefund":false,"canCapture":false,"createdAt":"2021-07-01T08:17:23.000Z","updatedAt":"2021-07-01T08:17:47.000Z","description":"Charge for maya.juan@mail.com","paymentTokenId":"GFwIun6Avo1kYe0nW7S1jVysqosocS9uMU7XNpMcUEksHx8FZXbE7TQZ3F1YQwZb5xHiAv2b2hpvrpVwYuNH1gPSPdaq8Zr90WXBRMfDVC8KkiHswlRjPz5ToTPEGy76S4S052RkAiwFcC6uAEGKnFyiGZzx7NMcYczrCK8","fundSource":{"type":"card","id":"GFwIun6Avo1kYe0nW7S1jVysqosocS9uMU7XNpMcUEksHx8FZXbE7TQZ3F1YQwZb5xHiAv2b2hpvrpVwYuNH1gPSPdaq8Zr90WXBRMfDVC8KkiHswlRjPz5ToTPEGy76S4S052RkAiwFcC6uAEGKnFyiGZzx7NMcYczrCK8","description":"**** **** **** 4154","details":{"scheme":"master-card","last4":"4154","first6":"545301","masked":"545301******4154","issuer":"Others"}},"receipt":{"transactionId":"1ec32b34-eb53-4d7b-bcd4-b846aff1d601","receiptNo":"eb1ae1105a61","approval_code":"00001234","approvalCode":"00001234"},"approvalCode":"00001234","receiptNumber":"eb1ae1105a61","requestReferenceNumber":"1625127550"}},"P2mPaymentSuccess":{"summary":"Successful P2M payment.","value":{"id":"e732f996-cb87-4120-b712-166d8183c01d","isPaid":true,"status":"PAYMENT_SUCCESS","amount":"10","currency":"PHP","canVoid":true,"canRefund":true,"canCapture":false,"createdAt":"2021-07-01T08:26:13.000Z","updatedAt":"2021-07-01T08:26:16.000Z","description":"Charge for maya.juan@mail.com","paymentTokenId":"f2Z54aBePxQ94bxbKTivBgtP79igw7EtVI2iQ5yC1qSbnpONVZiPBOszn6QWG8eamJ3aMwcshX0RDkCf7skvMCvZkmIwX88Bs4vBsmLpeXJLDpsMkxyhz1PKgTWB9s3ndGtr1SDLOFDrr8IG242xJFCkEWHpdlWkG7lts","fundSource":{"type":"paymaya","id":null,"description":"PayMaya Account","details":{"scheme":"master-card","last4":"4154","first6":"545301","masked":"545301******4154","issuer":"Others"}},"receipt":{"transactionId":"41f17efc-a48b-450d-a69d-6808fd35e8ec","receiptNo":"18976ad0a321","approval_code":"00001234","approvalCode":"00001234"},"metadata":{},"approvalCode":"00001234","receiptNumber":"18976ad0a321"}},"OneTimePaymentFailed":{"summary":"Failed online one-time card payment.","value":{"id":"e732f996-cb87-4120-b712-166d8183c01d","isPaid":false,"status":"PAYMENT_FAILED","amount":"100","currency":"PHP","canVoid":false,"canRefund":false,"canCapture":false,"createdAt":"2021-07-01T08:32:41.000Z","updatedAt":"2021-07-01T08:32:59.000Z","description":"Charge for maya.juan@mail.com","paymentTokenId":"UtWWeYMCYhJEQQbdS6TVJnLoorunPZst603Z6Vg3Ym0SP3Ftw6HIn0DP4ljhc1nVTvcLByDHtKTm4SWOqahd0uQCH3BBICJSsigudt1YdwKY1b7sL15GvPNmrUw6RCL0reykOihWYOn5xv71KT9JtGw4lbfxIjJ3NUSyaq4","fundSource":{"type":"card","id":"UtWWeYMCYhJEQQbdS6TVJnLoorunPZst603Z6Vg3Ym0SP3Ftw6HIn0DP4ljhc1nVTvcLByDHtKTm4SWOqahd0uQCH3BBICJSsigudt1YdwKY1b7sL15GvPNmrUw6RCL0reykOihWYOn5xv71KT9JtGw4lbfxIjJ3NUSyaq4","description":"**** **** **** 4154","details":{"scheme":"master-card","last4":"4154","first6":"545301","masked":"545301******4154","issuer":"Others"}},"requestReferenceNumber":"1625128441","errorCode":"PY0120","errorMessage":"[PY0120] Issuer decline."}},"OneTimeAuthorizedResponse":{"summary":"Authorized online one-time card payment.","value":{"id":"e732f996-cb87-4120-b712-166d8183c01d","isPaid":false,"status":"AUTHORIZED","amount":"100","currency":"PHP","canVoid":true,"canRefund":false,"canCapture":true,"createdAt":"2021-07-12T14:45:24.000Z","updatedAt":"2021-07-12T14:45:36.000Z","description":"Charge for maya.juan@mail.com","paymentTokenId":"nQNpuQ22LisfIDTy03egyMbEKSUd2mkYQ6lz8NVkWLWkFQEkmyXuK7pg5vgxMWLZjMX3dlP2LqXUuS46OPlBKFT1aQovGt3QRLsc9wmgWDBSQSUuP469YybwWNSjDnDjox9OD2CN4NWWp2BXiPb8a362tABZcwhwbh6XB2Uc","authorizationType":"NORMAL","capturedAmount":"0","fundSource":{"type":"card","id":"nQNpuQ22LisfIDTy03egyMbEKSUd2mkYQ6lz8NVkWLWkFQEkmyXuK7pg5vgxMWLZjMX3dlP2LqXUuS46OPlBKFT1aQovGt3QRLsc9wmgWDBSQSUuP469YybwWNSjDnDjox9OD2CN4NWWp2BXiPb8a362tABZcwhwbh6XB2Uc","description":"**** **** **** 4154","details":{"scheme":"master-card","last4":"4154","first6":"545301","masked":"545301******4154","issuer":"Others"}},"receipt":{"transactionId":"6e8ea92c-cd2e-42d5-a3d3-3ad7ab59ce95","receiptNo":"86aa75a4b57c","approval_code":"00001234","approvalCode":"00001234"},"approvalCode":"00001234","receiptNumber":"86aa75a4b57c","requestReferenceNumber":"1626101125"}},"OneTimeCapturedResponse":{"summary":"Captured online one-time card payment.","value":{"id":"e732f996-cb87-4120-b712-166d8183c01d","isPaid":false,"status":"CAPTURED","amount":"100","currency":"PHP","canVoid":false,"canRefund":false,"canCapture":true,"createdAt":"2021-07-12T14:45:24.000Z","updatedAt":"2021-07-12T15:36:05.000Z","description":"Charge for maya.juan@mail.com","authorizationType":"NORMAL","capturedAmount":"1","fundSource":{"type":"card","id":"nQNpuQ22LisfIDTy03egyMbEKSUd2mkYQ6lz8NVkWLWkFQEkmyXuK7pg5vgxMWLZjMX3dlP2LqXUuS46OPlBKFT1aQovGt3QRLsc9wmgWDBSQSUuP469YybwWNSjDnDjox9OD2CN4NWWp2BXiPb8a362tABZcwhwbh6XB2Uc","description":"**** **** **** 4154","details":{"scheme":"master-card","last4":"4154","first6":"545301","masked":"545301******4154","issuer":"Others"}},"receipt":{"transactionId":"6e8ea92c-cd2e-42d5-a3d3-3ad7ab59ce95","receiptNo":"86aa75a4b57c","approval_code":"00001234","approvalCode":"00001234"},"approvalCode":"00001234","receiptNumber":"86aa75a4b57c","requestReferenceNumber":"1626101125","capturedPaymentId":"ec12e7df-5b3a-493e-93bb-26cfbda4a7ac"}},"P2mPaymentFailed":{"summary":"Failed P2M payment.","value":{"id":"e732f996-cb87-4120-b712-166d8183c01d","isPaid":false,"status":"PAYMENT_FAILED","amount":"10","currency":"PHP","canVoid":false,"canRefund":false,"canCapture":false,"createdAt":"2021-07-01T08:35:37.000Z","updatedAt":"2021-07-01T08:35:39.000Z","description":"Charge for joseph.bolanos@paymaya.com","paymentTokenId":"q7KE92GxFfWI8YYXtWFgdR6wGcCcD87QC1cbQN8NLHR7L7d98TvO7uRLx3tCKiV9jGwqmORxxJz0jK8UcvxCBIOMzAUbsrqks0sdw4MYPaAdyPYoaED3JLp9jXIKBLcyeQmzljj5BmBbjHovjbt5M46l4KQw1lgt7Dfkh3Q","fundSource":{"type":"paymaya","id":null,"description":"PayMaya Account","details":{"scheme":"master-card","last4":"4154","first6":"545301","masked":"545301******4154","issuer":"Others"}},"metadata":{},"errorCode":"PY0124","errorMessage":"[PY0124] Transaction could not be verified."}},"PwpLinkedWalletPaymentSuccess":{"summary":"Successful PWP direct linked wallet payment.","value":{"id":"e732f996-cb87-4120-b712-166d8183c01d","isPaid":true,"status":"PAYMENT_SUCCESS","amount":"100","currency":"PHP","canVoid":true,"canRefund":true,"canCapture":false,"createdAt":"2021-07-13T07:34:52.000Z","updatedAt":"2021-07-13T07:34:52.000Z","description":"Charge for maya.juan@mail.com","fundSource":{"type":"card","id":"A4GmO2g8kFUeZTmOncccNe5lHGTLjJ0Fph28DMU4dNjxnwPPYQyBQS11KQ5ItXqdz7Yzft7cDR9VjCTF82vTsyOW2a3uIYzjyA0GquW6kUWrqkW3rofjFj16TKIMh6ZBoJVAZZngi4gOtJ2pRlg0uXqX4DGE3f52n7e7cVrc","description":"**** **** **** 7140","details":{"scheme":"master-card","last4":"7140","first6":"542482","masked":"542482******7140","issuer":"SmartPay","profileId":"777457095040"}},"receipt":{"transactionId":"dd4b2796-aef7-4b03-bbba-c7342eb9fec2","receiptNo":"7d8990c5cb2e","approval_code":"00001234","approvalCode":"00001234"},"approvalCode":"00001234","receiptNumber":"7d8990c5cb2e","requestReferenceNumber":"1625127550"}},"VoidRequest":{"summary":"Void request.","value":{"reason":"Return item","requestReferenceNumber":"90d3336a-ead5-420b-b924-1df9628676ae"}},"VoidSuccess":{"summary":"Successful void response.","value":{"id":"0a306b5c-4eff-4d5b-80d4-277d442d5258","payment":"e732f996-cb87-4120-b712-166d8183c01d","status":"SUCCESS","reason":"Return item","requestReferenceNumber":"90d3336a-ead5-420b-b924-1df9628676ae","createdAt":"2021-07-02T08:24:29.000Z","updatedAt":"2021-07-02T08:24:29.000Z"}},"OneTimePaymentSuccessViaRrn":{"summary":"Successful online one-time card payment.","value":[{"id":"e732f996-cb87-4120-b712-166d8183c01d","isPaid":true,"status":"PAYMENT_SUCCESS","amount":"100","currency":"PHP","canVoid":true,"canRefund":false,"canCapture":false,"createdAt":"2021-07-01T08:17:23.000Z","updatedAt":"2021-07-01T08:17:47.000Z","description":"Charge for maya.juan@mail.com","paymentTokenId":"GFwIun6Avo1kYe0nW7S1jVysqosocS9uMU7XNpMcUEksHx8FZXbE7TQZ3F1YQwZb5xHiAv2b2hpvrpVwYuNH1gPSPdaq8Zr90WXBRMfDVC8KkiHswlRjPz5ToTPEGy76S4S052RkAiwFcC6uAEGKnFyiGZzx7NMcYczrCK8","fundSource":{"type":"card","id":"GFwIun6Avo1kYe0nW7S1jVysqosocS9uMU7XNpMcUEksHx8FZXbE7TQZ3F1YQwZb5xHiAv2b2hpvrpVwYuNH1gPSPdaq8Zr90WXBRMfDVC8KkiHswlRjPz5ToTPEGy76S4S052RkAiwFcC6uAEGKnFyiGZzx7NMcYczrCK8","description":"**** **** **** 4154","details":{"scheme":"master-card","last4":"4154","first6":"545301","masked":"545301******4154","issuer":"Others"}},"receipt":{"transactionId":"1ec32b34-eb53-4d7b-bcd4-b846aff1d601","receiptNo":"eb1ae1105a61","approval_code":"00001234","approvalCode":"00001234"},"approvalCode":"00001234","receiptNumber":"eb1ae1105a61","requestReferenceNumber":"1625127550"}]},"PaymentStatusResponse":{"summary":"Payment status.","value":{"id":"e732f996-cb87-4120-b712-166d8183c01d","status":"PAYMENT_SUCCESS"}},"WebhookSuccessMany":{"summary":"List of webhooks.","value":[{"id":"954cd5a7-1316-4ea1-a014-8f848bd87726","name":"PAYMENT_SUCCESS","callbackUrl":"http://www.merchantsite.com/success","createdAt":"2021-07-05T15:11:53.000Z","updatedAt":"2021-07-05T15:11:53.000Z"}]},"WebhookRequest":{"summary":"Webhook request.","value":{"name":"PAYMENT_SUCCESS","callbackUrl":"http://www.merchantsite.com/success"}},"WebhookSuccess":{"summary":"Successful webhook response.","value":{"id":"954cd5a7-1316-4ea1-a014-8f848bd87726","name":"PAYMENT_SUCCESS","callbackUrl":"http://www.merchantsite.com/success","createdAt":"2021-07-05T15:11:53.000Z","updatedAt":"2021-07-05T15:11:53.000Z"}},"WebhookUpdateRequest":{"summary":"Update webhook URL.","value":{"callbackUrl":"http://www.merchantsite.com/success"}},"VoidSuccessMany":{"summary":"List of void transactions.","value":[{"id":"0a306b5c-4eff-4d5b-80d4-277d442d5258","payment":"e732f996-cb87-4120-b712-166d8183c01d","status":"SUCCESS","reason":"Return item","requestReferenceNumber":"90d3336a-ead5-420b-b924-1df9628676ae","createdAt":"2021-07-02T08:24:29.000Z","updatedAt":"2021-07-02T08:24:29.000Z"}]},"RefundSuccessMany":{"summary":"List of refund transactions.","value":[{"id":"8969d8a7-7287-4aee-bf43-7516b9385290","reason":"Item out of stock","amount":"1","currency":"PHP","status":"SUCCESS","payment":"e29f24d9-ea15-47c4-bca0-46dfe84a773b","requestReferenceNumber":"466d97e5-ea38-4ee2-bbcb-d2301dfcac5f","refundAt":"2021-07-09T09:09:52.000Z","createdAt":"2021-07-09T09:09:52.000Z","updatedAt":"2021-07-09T09:09:52.000Z"}]},"RefundRequest":{"summary":"Refund request.","value":{"totalAmount":{"amount":1,"currency":"PHP"},"reason":"Item out of stock","requestReferenceNumber":"466d97e5-ea38-4ee2-bbcb-d2301dfcac5f"}},"RefundSuccess":{"summary":"Successful refund response.","value":{"id":"8969d8a7-7287-4aee-bf43-7516b9385290","reason":"Item out of stock","amount":"1","currency":"PHP","status":"SUCCESS","payment":"e29f24d9-ea15-47c4-bca0-46dfe84a773b","requestReferenceNumber":"466d97e5-ea38-4ee2-bbcb-d2301dfcac5f","refundAt":"2021-07-09T09:09:52.000Z","createdAt":"2021-07-09T09:09:52.000Z","updatedAt":"2021-07-09T09:09:52.000Z"}},"PaymentCancelledResponse":{"summary":"Payment cancelled response.","value":{"id":"abff8289-0f21-4521-8eee-b28304fc3eee","isPaid":false,"status":"PAYMENT_CANCELLED","amount":"1","currency":"PHP","canVoid":false,"canRefund":false,"canCapture":false,"createdAt":"2022-05-12T15:17:27.000Z","updatedAt":"2022-05-12T15:18:04.000Z","description":"Charge for maya.juan@mail.com","requestReferenceNumber":"6478615382"}},"CustomizationsResponse":{"summary":"Customizations response.","value":{"logoUrl":"https://www.merchantsite.com/icon-store.b575c975.svg","iconUrl":"https://www.merchantsite.com/favicon.ico","appleTouchIconUrl":"https://www.merchantsite.com/touch-icon-ipad-retina.png","customTitle":"Merchant Store","colorScheme":"#85c133","redirectTimer":5,"hideReceiptInput":true,"skipResultPage":false,"showMerchantName":false}},"CustomizationsRequest":{"summary":"Customizations request.","value":{"logoUrl":"https://www.merchantsite.com/icon-store.b575c975.svg","iconUrl":"https://www.merchantsite.com/favicon.ico","appleTouchIconUrl":"https://www.merchantsite.com/touch-icon-ipad-retina.png","customTitle":"Merchant Store","colorScheme":"#85c133","redirectTimer":5,"hideReceiptInput":true,"skipResultPage":false,"showMerchantName":false}}},"parameters":{"linkId":{"name":"linkId","in":"path","description":"The unique identification string of a PayMaya Account wallet link.","required":true,"allowEmptyValue":false,"style":"simple","schema":{"type":"string","format":"uuid"},"example":"1bbe9edd-0732-405f-93a1-1b5938de3fa0"},"paymentId":{"name":"paymentId","in":"path","description":"The unique identification string of the payment transaction.","required":true,"allowEmptyValue":false,"style":"simple","schema":{"type":"string","format":"uuid"},"example":"e732f996-cb87-4120-b712-166d8183c01d"},"rrn":{"name":"rrn","in":"path","description":"A merchant's request reference number for a given transaction.","required":true,"allowEmptyValue":false,"style":"simple","schema":{"$ref":"#/components/schemas/RequestReferenceNumber"},"example":1625127550},"webhookId":{"name":"webhookId","in":"path","description":"The unique identification string of a webhook.","required":true,"allowEmptyValue":false,"style":"simple","schema":{"type":"string","format":"uuid"},"example":"954cd5a7-1316-4ea1-a014-8f848bd87726"},"voidId":{"name":"voidId","in":"path","description":"The unique identification string of the void transaction.","required":true,"allowEmptyValue":false,"style":"simple","schema":{"type":"string","format":"uuid"},"example":"0a306b5c-4eff-4d5b-80d4-277d442d5258"},"refundId":{"name":"refundId","in":"path","description":"The unique identification string of the refund transaction.","required":true,"allowEmptyValue":false,"style":"simple","schema":{"type":"string","format":"uuid"},"example":"8969d8a7-7287-4aee-bf43-7516b9385290"}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}