openapi: 3.0.0
servers:
  - description: XS2A API
    url: 'https://api.xs2a.com/v1'
info:
  description: >-
    # Introduction

    XS2A offers easy to use and easy to integrate client and server-side 
    APIs based on our XS2A platform.

    The API provides an interface for connecting and extracting online banking account 
    information to meet your individual business requirements. We like to call it the 
    "access to the account" concept.

    This is the Swagger Documentation for the XS2A API. More Info at 

    [https://tink.com/de/fts](https://tink.com/de/fts).

    ## SDKs

    We have released a range of client- and serverside SDKs for easy consumption of this API.
    You can find those on our [Github](https://github.com/fintecsystems).

    ## JSON Request Bodies
    
    Please make sure to include the HTTP header Content-Type `application/json` with 
    your JSON body, if you decide to use JSON for your POST data instead of URL encoded data.

    ## Transaction Data Policy

    Please note that to comply with our privacy policy we only keep transaction data for 
    30 days. The transaction data will not be available after this period.

    ## Pagination

    Most calls which return a list-like data structure allow pagination:

      ```js
    {
        "total": 15,
        "per_page": 15,
        "current_page": 1,
        "last_page": 8,
        "from": 1,
        "to": 15,
        "data": [
            // ... user data ...
        ]
    }
      ```

    Explanation of response fields are as follows.

      | Parameter                | Type    | Description                                      |
      |--------------------------|---------|--------------------------------------------------|
      | total                    | integer | Total number of results.                         |
      | per_page                 | integer | Number of objects per page.                      |
      | current_page             | integer | Current page                                     |
      | last_page                | integer | Last page, usually the total of available pages. |
      | from                     | integer | Showing results from index element.              |
      | to                       | integer | Showing results from index element.              |
      | data                     | array   | An array of user data with the actual results.   |

    ### API Compatibility

    We consider the following changes as 'non-breaking' changes to the API.
    
    - Adding a field to an object

    - Introducing a new API endpoint that did not exist before

    - Adding a search parameter


    However we consider these examples as 'breaking' changes.


    - Changing the datatype of a field

    - Removing a field from an object

    - Changing the semantics of an existing field

    - Changing URLs


    We consider the HTML that is generated by our xs2a.js and possibly styled by your own 
    application as a form of API, and also try to limit changes to the structure and semantics 
    of the generated markup, however we might add certain markup in the future which is the 
    reason why you have to include the xs2a_base.css file in your HTML.

    # Authentication

    You can create and manage API keys from your account. Multiple API keys can be 
    active at the same time. 
    Endpoints are only available via HTTPS. Plain HTTP requests will not be processed.

    In general, all authentication is done via `http basic`:
      - Username: `api`
      - Password: `Your_API_Key`

    You can find `Your_API_Key` here:
    [https://manage.xs2a.com/configure/apikeys](https://manage.xs2a.com/configure/apikeys).

    Please be aware of the different modes for API keys. An API key in mode `Test` is 
    not allowed to access `Live` transactions. `Live` API keys are not able to access data 
    made from test transactions.
    <!-- ReDoc-Inject: <security-definitions> -->
  version: ''
  title: XS2A API
  contact:
    email: support@tink-germany.com
  x-logo:
    url: './img/FTS_Logo_2018_Claim.svg'
tags:
  - name: Bankcodes API
    description: >-
      XS2A might not support every bank. To help you decide whether or not 
      you should offer a XS2A product to a customer, you can call this API 
      endpoint to determine whether or not XS2A supports the bank code of 
      the customer.
      If you are unsure whether the customer has entered a BIC or a bank code,
      use the `q` parameter as described in the parameters.
  - name: Embeddable Risk Checks
    description: >-

      In the following sections, the available risk-checks for xs2a.risk are 
      documented. 
      
      ### How do I use a risk check?
      
      You can use them individually or in combination by embedding them inside 
      a xs2a.risk object as described in the [request body](#tag/XS2A.risk/paths/~1risks/post)
      of the xs2a.risk object.

      ### How do I get the results of a risk check?

      After the customer has finished the wizard process, you can `GET` the results 
      at the [risks endpoint](#tag/XS2A.risk/paths/~1risks~1{transaction-id}/get), they will be
      in the response body. 
      

      **Please Note**: The risk check 'xs2a_account_snapshot'
      will not be shown with its full results there, as they
      can get very large. The detailed results for it can be retrieved at its respective
      endpoints [account snapshot download](#tag/XS2A.risk/paths/~1risks~1{transaction-id}~1accountSnapshot/get).


      ## xs2a.account_snapshot

      A XS2A.account_snapshot is more an additional option than a whole check. 
      A XS2A.account_snapshot offers direct access to the raw account data. 
      The account data reflects the information at the time of the transaction.

      If you use XS2A.risk for example for a loan application process, 
      you can use the account snapshot to complete your files of the customer.

      A typical workflow for a XS2A.risk check with a XS2A.account_snapshot 
      option enabled works as follows.

      1. Create a XS2A.risk session with enabled XS2A.account_snapshot

      2. Initialize and the Wizard, customer completes the login with the bank

      3. The XS2A application prepares the account statement (snapshot).

      4. Using an API call you can retrieve/download the created account statement.


      The range of the returned turnovers in the the account snapshot can be either 
      constrained by a number of days, starting from the current date or optionally 
      by explicitly stating a `from` and `to` parameter. Notice however, that the complete 
      account snapshot will be restricted to the given date range. That also means 
      that the account balance will be from the last day of the given date range.


      For the full list of filters visit the [test call page](https://manage.xs2a.com/integration/test) 
      and select "XS2A.risk" from the product dropdown and click the checkbox at
      "XS2A.account_snapshot". You will be presented with a full list of filters.


      If you want all turnovers with all available filter without specifying any 
      filters in the first place you may supply the `all_tags` parameter. Keep in mind 
      however that the filter rules we apply internally may change a lot. To keep your 
      set of filters, and therefore your API, from unexpected changes it is advisable 
      to provide a full list of filters when creating the session.

      #### Download the Account Snapshot Result

      The account statement can be downloaded via a GET call to the following URL


      ```
      GET https://api.xs2a.com/v1/risks/<transaction-id>/accountSnapshot?format=pdf
      ```


      The format parameter is optional. The account snapshot is available in the following 
      formats: `pdf`, `csv`, `json` and `json2`. This call defaults to `pdf` if the format parameter 
      is omitted. Please note that you have to use `json2` as format if the `all_accounts`
      parameter was set to `true`.

      ## xs2a.balance_check

      The XS2A.balance_check allows the check of the account coverage against a given amount.

      ## xs2a.balance_overview

      XS2A.balance_overview returns the current running total of the chosen account.

      An XS2A.balance_overview has no additional parameters. Just append an empty object to 
      the XS2A.risk object to indicate you would like this check to be performed.

      ## xs2a.cashflow_overview

      XS2A.cashflow_overview provides an cashflow overview for the requested risk date range.

      An XS2A.cashflow_overview has no additional parameters. Just append an empty object to 
      the XS2A.risk object to indicate you would like this check to be performed.

      ## xs2a.chargeback_check

      XS2A.chargeback_check returns the number of detected chargeback transactions for the account.

      An XS2A.chargeback_check has no additional parameters. Just append an empty object to the XS2A.risk 
      object to indicate you would like this check to be performed.

      ## xs2a.children_check

      The XS2A.children_check gathers payments from governmental facilities, which indicate how many children the account has.

      This risk-check has no configuration.
      
      ## xs2a.insurance_contract_check
      
      The XS2A.insurance_contract_check provides an overview of the users existing insurance contracts and provides important informations (e.g. insurance policy number) about the users insurance situation.

      ## xs2a.rating_b2b_check

      Produces a qualitative evaluation of a bank statement (business accounts) according to various criteria and summarizes these in a school grade system (A-F).

      ## xs2a.rating_b2c_check

      Produces a qualitative evaluation of a bank statement (private accounts) according to various criteria and summarizes these in a school grade system (A-F).

      ## xs2a.profit_loss_check

      The P&L check (profit and loss check) provides a simplified P&L statement for B2B customers as well as an overview of other relevant
      operational KPIs. These can be, for example, other relevant income, expenses and cash flows from the account. In addition,
      the tax number is also shown (initially, however, only in Germany).

      ## xs2a.income_check

      The Income Check provides an overview of the account holder's various types of income.
      Each type of income is listed separately and the corresponding key figures are calculated so that the customer can only take into account the types of income that are relevant for him/her.


      ## xs2a.crefo_check

      With the Xs2a_Crefo Check it is possible to request the Creditreform "Kompaktauskunft" (compact information report) via Tink Germany. It gives an impression of the financial circumstances of corporate customers (B2B) and clearly arranges the most important information (creditworthiness and business information).
      The prerequisite for this is a separate contract for use with Creditreform.
      The Crefo "Kompaktauskunft" (compact information report) is ideally suited as a supplement to the FTS B2B Rating.
      For further access to the documentation please contact <a href="mailto:support@tink-germany.com">support@tink-germany.com</a>.

      ## xs2a.account_linked_offers_check

      The Account Linked Offers Check validates with the consent of the user, based on an account view, whether third party offers might be of
      interest to the user and hands over an advertising link for one-time use to a Tink Germany business partner.


      ## xs2a.credit_check

      The XS2A.credit_check gathers various information about a customer. The check was designed 
      for example to be used in a loan application process without the need to resort to some other 
      medium. Currently information on all available tags are available. For further
      information see our [tag documentation](https://manage.xs2a.com/documentation/tags).

      ## xs2a.direct_debit_check

      The XS2A.direct_debit_check uses various metrics to determine the best date to execute a direct 
      debit to minimize the risk of a default due to a lack of account coverage.

      ## xs2a.name_check

      The XS2A.name_check compares a given name and firstname with the extracted account holder.

      ## xs2a.overdraft_limit_check

      XS2A.overdraft_limit_check returns the number of booking days of the given risk range. 
      The number of days the account used the overdraft limit, the maximum amount of overdraft 
      used, the average and the median used overdraft.

      An XS2A.overdraft_limit_check has no additional parameters. Just append an empty object to 
      the XS2A.risk object to indicate you would like this check to be performed.


      ## xs2a.seizure_check

      XS2A.seizure_check allows you to check for a seizure account. In addition the request can be
      filtered over a period in days.

      ## xs2a.standing_orders_check

      XS2A.standing_orders_check allows you to retrieve all standing orders from an account. 
      An XS2A.standing_orders_check has no additional parameters. Simply append an empty object to 
      the XS2A.risk object to indicate you would like this check to be performed.

      The standing_orders-property contains the list of all standing orders objects.

      ## xs2a_all_accounts_check

      XS2A.all_accounts_check is like the XS2a.account_snapshot more of an 
      additional option than an individual check. If this option is selected, 
      all visible accounts are extracted and reported back.

      An XS2A.all_all_accounts_check has no additional parameters. 
      Just append an empty object to the XS2A.risk object to indicate you want 
      this check to be performed.

      ## xs2a_account_status_check

      With XS2A.xs2a_account_status_check a list of accounts within the bank connection can be requested.
      Basically you have to decide if the account status data for the reference account or all accounts
      within the bank account should be collected. In addition the request can be filtered over a period
      in days. As result you get data about account or accountholder identification, current account balance,
      turnovers and the quality of the turnovers.

      ### Possible input:

      The XS2A.xs2a_account_status_check need a limit of turnover days, which will
      be used in this check. And it is possible to choose between all accounts, or
      only one specific account, which will be used.

      ## xs2a_holder_identification_check

      Using the XS2A.holder_identification_check,  a list of names can
      be checked against the name of the accountholder of all accounts in the
      bank connection. For the request only the first name and last name must
      be transferred. As result you get the information if there is a match per
      account and given name and lastname.
      Possible Match results see below.

      - **NONE**: No match was found

      - **PERSON**: If the expected_person can be identified with name and lastname

      - **COMPANY**: If the expected_person or accountholder is a company, containing lastname

      - **LAST_NAME**: If the lastname can be found in accountholder and is not a company

      ## xs2a_risk_calculations_check

      XS2A.risk_calculations_check allows you to get many functions with consideration of the
      chosen tags or/and categories. You can name the functions as you want.
      Choose the period of time and see the results.

      ## xs2a_account_characteristics_check

      XS2A.account_characteristics_check allows you to retrieve a number of infos
      about the account, like chargebacks, encashment, loans and other. Simply
      append an empty object to the XS2A.risk object to indicate you would like
      this check to be performed.

      ## xs2a_age_verification_check

      The XS2A.age_verification_check  verifies the legal age of the account holder.
      
      ## xs2a.collection_check

      The XS2A.collection_check is used to check whether the current open amount is available on the account and payment should be initiated. If this is not the case, then an individual installment payment is calculated and proposed. This information is supported by further relevant indicators.

      ## xs2a.fact_sheet_lists

      A XS2A.fact_sheet_lists allows you to create a lists of filtered transaction data from the reference account.
      The request can be filtered using the appropriate filters based on a set number of days,
      categories and/or tags, min. and/or max. amount.

      #### Download the JSON List, with all included turnovers and distinct counter holders

      The json lists can be downloaded via a GET call to the following URL


      ```
      GET https://api.xs2a.com/v1/risks/<transaction-id>/jsonlists
      ```

  - name: XS2A.risk.fullpdf
    description: >-
      XS2A.risk.fullpdf is a wonderful way to show you all the checks in one pdf.


      **Please Note**: Only the risk-cheks will be shown in this pdf, which were selected in the transaction (WizardSession). So if `xs2a_account_snapshot` and `xs2a_name_check` has been selected, only this information of this checks, can be found in the fullpdf.

      ### Download All selected checks as pdf

      ```
      GET https://api.xs2a.com/v1/risks/<transaction-id>/fullpdf
      ```
  - name: XS2A.risk.export
    description: >-
      XS2A.risk.export is a wonderful way to show you all the checks in one pdf or html.


      **Please Note**: Only the risk-cheks will be shown in this pdf, which were selected in the transaction (WizardSession). So if `xs2a_account_snapshot` and `xs2a_name_check` has been selected, only this information of this checks, can be found in the pdf or html.

      ### Download All selected checks as pdf

      ```
      GET https://api.xs2a.com/v1/risks/<transaction-id>/export?format=pdf&locale=de
      ```

      ### Download All selected checks as html

      ```
      GET https://api.xs2a.com/v1/risks/<transaction-id>/export?format=html&locale=de
      ```


      **Locale can be de or en**

  - name: XS2A.risk
    description: >-
      XS2A.risk allows you to collect and validate a bank connection. Additionally
      a range of predefined checks can be applied using the retrieved account
      information. For more information about the predefined checks see the
      [Embeddable Risk Checks section](#tag/Embeddable-Risk-Checks).
  - name: Additional Settings
    description: >-

      We have different additional settings for our clients to customize the experience and to deliver the best solution.
      If you want to know more about one of the following options feel free to reach out to your customer success manager.
      They can give you more information and guidance on these features and activate them for you.
  - name: XS2A.pay
    description: >-
      XS2A.pay is a payment solution. The customer uses his online banking
      credentials. Optional security checks will be executed to counter fraud
      and other suspicious activity. After that, the transfer of a fixed amount
      and purpose will be sent to a predefined recipient account. The customer
      authorizes the transaction with a TAN, after which the bank is executing
      the transfer. In case the sender country is Switzerland (`CH`), the fields
      `recipient_street`, `recipient_zip`, `recipient_city` and `recipient_country_id`
      are required.
  - name: XS2A.api General Information
    description: >-
      The XS2A.api is a set of APIs that make it possible to manage a users bank 
      accounts in an asynchronous way. This makes the suitable for use in for example
      PFM tools. The API authentication is slightly different from the rest of the 
      APIs, which makes it possible to deploy the API client including the API keys 
      directly to mobile devices.

      ### Structure
      
      The entities that can be managed using the XS2A.api are as follows.

      ![XS2A.api Diagram](img/xs2a_api_objects.png)

        | Entity                 | Description                                                                                                        |
        |------------------------|--------------------------------------------------------------------------------------------------------------------|
        | bank_user              | A person with one or more bank logins.                                                                             |
        | bank_user_access_token | Access tokens that belong to a specific user, to access the rest of the API on behalf of that user.                |
        | bank_connection        | A login to a specific bank. The bank login consists of a bank code and a bank name and a synchronisation method.   |
        | bank_account           | `bank_account_balance` and `bank_account_turnovers` - The bank accounts and the bank account contents of the user. |


      ### Basic Flow and Authentication

      The authentication to the API is divided into two parts. The first part 
      or the API is accessed via the standard authentication as described in the 
      [authentication chapter](#section/Authentication). This part of the API can be used to create bank users 
      and manage access tokens. These access tokens enable to access the rest of the 
      API of behalf of a user.

      So the basic flow of this API is as follows.

      1. Create a bank user using the global API key.

      2. Create an access token for that bank user, to be able to access the API on behalf of the user. Use the new access token from here on instead of the global API key. (for more see the notice below)

      3. Create a bank connection for the user.

      4. Display a wizard for that bank connection for the user.

      5. The user completes the wizard, by entering her bank login credentials.

      6. Retrieve the account contents like balance and transactions.


      ### Using an Access Token

      To use the access token and access the rest of the API on behalf of the user, simply replace the global API key with the generated access token. 
      That means, still use Basic-Authentication with `api` as the username and the newly generated access token as the password.

      Subsequent API calls with then be done on behalf of the user, that owns the access token.

  - name: XS2A.api.users
    description: >-
      Allows to create and delete bank users. A bank user is basically a person that has one or more 
      logins to an online banking portal (a bank connection). In XS2A.api, a bank 
      user is mainly an entity which is used to aggregate bank account 
      information on, therefore it does not have many attributes.
  - name: XS2A.api.connections
    description: >-
      A bank connection represents a login to a specific bank. The creation of a bank connection always 
      requires user interaction. The user has to select the bank he/her wants to connect and provide the 
      login credentials to that bank. This process in done in our wizard, that guides the end user 
      through the process.


      The creation of a bank connection always requires user interaction. Therefore the bank connection can not be created immediately.
      Instead this call will return a `wizard_session_key` that must be used to start a wizard.


      A wizard is used to guide the user through the login process to her bank. The login process is modeled as close to the real
      bank login process as possible. A wizard is therefore basically a set of forms that has to be displayed to the user.


      The wizard can either be a Javascript widget, that can be embedded on a website or within a mobile app via webviews, or a pure API solution, 
      that does not require Javascript, but is a little harder to implement.


      For the Javascript wizard integration, please refer to the [chapter on client integration](#tag/Javascript). For the pure API solution, please 
      refer to the [chapter on the Wizard-API](#tag/Wizard-API).

      ### Syncing

      Bank connections can be synced. Syncing a bank connection means that the login to the bank is repeated, 
      the new balance and the new list of turnovers is fetched and the list of accounts associated to the bank 
      user is updated accordingly. Syncing a bank connection can be done in three different `sync_mode`.


        | sync_mode | Description                                                                                                                                                                                                                                                                                                                                                                                                         |
        |-------------|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
        | `full`      | If a bank connections sync_mode is set to full, the bank credentials are stored in XS2A and the connection will be synced automatically once a day.                                                                                                                                                                                                                                                                  |
        | `shared`    | If `sync_mode` is set to `shared`, XS2A will collect the credentials, encrypt them, cut the cipher in half and make one half of the credentials available at the end of the session. This way neither XS2A, nor the client has access to the full set of credentials. The sync of a bank connection has then to be done via API, providing the other half of the credential cipher as an argument to the sync call. |
        | `none`      | The connection will not be synced automatically. Every time a sync is initiated via the API, the user has to provide her bank credentials via the wizard.                                                                                                                                                                                                                                                           |

      **If the sync is a initial sync:**

      1. If `days` and `limit_days` is 0 or null, 60 days are synced.

      2. If `days` or `limit_days` is set and greater than 0, the set value is synced.

      3. If `days` and `limit_days` are set and greater than 0, the smaller value is synced.

      **If its a normal sync:**

      1. If `last_synced` and `limit_days` are set and greater than 0,

         a. if `last_synced` + 5 days is greater than `limit_days`, the `limit_days` is synced.

         b. if `last_synced` + 5 days is smaller than `limit_days`, the `last_synced` + 5 days are synced.

      2. If `last_synced` is set and `limit_days` is not set, the `last_synced` + 5 days are synced.

      3. If `last_synced` and `limit_days` are not set, 60 days are synced.

      4. If `last_synced` is not set and `limit_days` is set and greater than 0,

         a. if `limit_days` is greater than 60, the `limit_days` is synced.

         b. if `limit_days` is smaller than 60, 60 days are synced.


      In the normal sync the `limit_days` value is the value from the initial sync.


      **Note**: Every event that occurs when synchronizing bank connections is sent out to a webhook URL. See the [Bank Connection Events Section](#tag/XS2A.api-Bank-Connection-Events) for more details.

      ### Error Handling

      Any bank connections that are in sync_mode `full` are synced automatically by XS2A. No further steps are needed, the 
      turnovers and balance information on the accounts will always be up to date. If a sync process fails for some reason, 
      for example if the user has changed the password, the automatic sync will stop. The field `sync_message` will contain more 
      information about the error. The field `sync_fail_counter` will have the number of subsequent failures. The parameter `sync_active` will 
      be set to false an the connection will not be synced again.

      However, in the case described above, the sync can be forced via the API. See also [syncing a bank connection](#tag/XS2A.api.connections/paths/~1api~1connections~1{connection-id}~1sync/post) for details. 
      After 2 failures in a row, the bank connection will be disabled and can not be synced again. It will have to be deleted and recreated.
      The user will have to re-enter his credentials via the wizard.
  - name: XS2A.api Bank Connection Events
    description: >-
      Every event that occurs when synchronizing bank connections is sent out to a webhook URL, that can be configured in the [customer cockpit](https://manage.xs2a.com/).
      The following events will be automatically sent to the webhook URLs as they occur.


      - `bank_accounts.new_bank_account` - If a new bank account pops up during syncing that is not yet present in the list of account.

      - `bank_accounts.new_turnovers` - If a bank account has gained some new turnovers.

      - `bank_accounts.sync_failed` - If a bank connection automatic sync failed for some reason.

      - `bank_accounts.sync_finished` - If a bank connection automatic sync finished successfully.

      - `bank_accounts.detached_bank_account` - If a bank account is detached from bank connection.

      - `bank_connection.sync_expires` - If a PSD2 consent will expire within the next 8 days.

      - `bank_connection.disabled` - If a bank connection has been disabled.


      The URLs will be called using the POST method. Unless a successful response code of 200 is seen the URL will be called again up to 
      30 times in growing time frames. The events are accompanied by a payload that contains information a about what changed.

      ### Payload for `bank_accounts.new_bank_account` and `bank_accounts.new_turnovers`:


      ```json

      {
          "id": "ev_vJnkqIQ8f3AMszf2",
          "transaction": null,
          "type": "bank_accounts.new_turnovers",
          "message": "User has new turnovers on a bank account",
          "data": {
              "bank_user_id": "bus_UcupnDXT1p6WSpWI",
              "bank_account_id": "bac_1aQL65xB8ASjvbiJ"
          },
          "testmode": "0",
          "created_at": "2017-12-28 13:44:34",
          "object": "xs2a_event"
      }

      ```

      ### Payload for `bank_accounts.sync_failed`:


      ```json

      {
          "id": "ev_vJnkqIQ8f3AMszf2",
          "transaction": null,
          "type": "bank_accounts.sync_failed",
          "message": "Bank connection synchronization failed.",
          "data": {
              "id": "bcn_A0bkAL1h1POZNKMr",
              "bic": "TESTDE88XXX",
              "bank_name": "Testbank",
              "country_id": "DE",
              "sync_mode": "full",
              "sync_active": false,
              "sync_message": " Der Login zu Ihrer Bank ist fehlgeschlagen.",
              "sync_fail_counter": 2,
              "last_synced": "2017-12-27T14:57:59Z",
              "testmode": false,
              "created_at": "2017-12-27T14:57:59Z",
              "object": "bank_connection"
          },
          "testmode": "0",
          "created_at": "2017-12-28 13:44:34",
          "object": "xs2a_event"
      }

      ```

      ### Payload for `bank_accounts.sync_finished`:


      ```json

      {
          "id": "ev_vJnkqIQ8f3AMszf2",
          "transaction": null,
          "type": "bank_accounts.sync_finished",
          "message": "Bank connection synchronization finished.",
          "data": {
              "id": "bcn_A0bkAL1h1POZNKMr",
              "bic": "TESTDE88XXX",
              "bank_name": "Testbank",
              "country_id": "DE",
              "sync_mode": "full",
              "sync_active": true,
              "sync_message": " Die Synchronisation wurde erfolgreich abgeschlossen.",
              "sync_fail_counter": 0,
              "last_synced": "2017-12-28T14:57:59Z",
              "testmode": false,
              "created_at": "2017-12-28T14:57:59Z",
              "object": "bank_connection"
          },
          "testmode": "0",
          "created_at": "2017-12-28 13:44:34",
          "object": "xs2a_event"
      }

      ```

      ### Payload for `bank_accounts.detached_bank_account`:


      ```json

      {
          "id": "ev_vJnkqIQ8f3AMszf2",
          "transaction": null,
          "type": "bank_accounts.sync_detached",
          "message": "Bank connection synchronization detached.",
          "data": {
              "bank_connection_id": "bcn_I07SbPeysQkQV5yq",
              "bank_account_id": "DE62888888880012345678",
              "bank_user_id": "usr_3mvhflqpe95mdjb0",
          },
          "testmode": "0",
          "created_at": "2017-12-28 13:44:34",
          "object": "xs2a_event"
      }

      ```

      ### Payload for `bank_connection.sync_expires`:


      ```json

      {
          "id": "ev_vJnkqIQ8f3AMszf2",
          "transaction": null,
          "type": "bank_connection.sync_expires",
          "message": "PSD2 Consent expires at 2020-09-05",
          "data": {
              "id": "bcn_A0bkAL1h1POZNKMr",
              "bank_user_id": "bus_edcfrebnhgztud",
              "transaction": null,
              "bic": "TESTDE88XXX",
              "bank_name": "Testbank",
              "country_id": "DE",
              "sync_mode": "full",
              "sync_active": true,
              "sync_message": "",
              "sync_fail_counter": 0,
              "last_synced": "2020-08-27 09:32:10",
              "testmode": false,
              "metadata": null,
              "created_at": "2020-06-09 16:05:45",
              "object": "bank_connection"
          },
          "testmode": "0",
          "created_at": "2020-09-06 00:00:04",
          "object": "xs2a_event"
      }

      ```

      ### Payload for `bank_connection.disabled`:


      ```json

      {
          "id": "ev_vJnkqIQ8f3AMszf2",
          "transaction": null,
          "type": "bank_connection.disabled",
          "message": "Bank connection is disabled.",
          "data": {
              "id": "bcn_A0bkAL1h1POZNKMr",
              "bank_user_id": "bus_edcfrebnhgztud",
              "transaction": null,
              "bic": "TESTDE88XXX",
              "bank_name": "Testbank",
              "country_id": "DE",
              "sync_mode": "full",
              "sync_active": false,
              "sync_message": "",
              "sync_fail_counter": 1,
              "last_synced": "2020-08-27 09:32:10",
              "testmode": false,
              "metadata": null,
              "created_at": "2020-06-09 16:05:45",
              "object": "bank_connection"
          },
          "testmode": "0",
          "created_at": "2020-09-06 00:00:04",
          "object": "xs2a_event"
      }

      ```
  - name: XS2A.api.accounts
    description: >-
      Allows to fetch the list of bank accounts for a user. This endpoint is
      accessed in the scope of a user with a user specific access token. Bank
      accounts are automatically read from bank connections.
  - name: Wizard API
    description: >-
      The Wizard API allows to avoid the usage of the Javascript library
      xs2a.js.

      The Wizard-API provides an API that is queried to guide the user through the bank login process.
      Whenever embedding the Javascript wizard on a page or an app is not option, the use of the Wizard-API should be considered.
      Estimated timeout time can be expected around 15 minutes without customer interaction.
      Whenever a user triggers an action such as TAN/login-data/bank selection, the timer is set back to zero.
  - name: XS2A.api.place.payment
    description: >-
      Extension of the XS2A.api with pay functions including optional execution of the security settings before the pay transaction.
  - name: Blacklist API
    description: >-
      The Blacklist API allows you to manage a personal blacklist of IBANs.
      After adding an iban to the blacklist, the customer won't be able to use
      it in the XS2A Wizard. **Note:** Keep track of the ID given when adding 
      and IBAN to the blacklist. Once you add an IBAN to the blacklist, 
      you will receive an ID. To later remove that IBAN from the blacklist or 
      retrieve details about it, you will need that ID again.
  - name: Whitelist API
    description: >-
      The Whitelist API allows you to manage a personal whitelist of IBANs.
      After adding an IBAN to the whitelist, the customer will be checked with different
      security settings.
      **Note:** Keep track of the ID to when adding an IBAN to the whitelist. You will need it later,
      if you want to remove IBANS.
  - name: Sessions API
    description: This will return a wizard_session object.
  - name: Events API
    description: >-
      An event is basically the API representation of a webhook. Every webhook
      you receive fires an event, that you can process further.
  - name: General Information
    description: >-
      XS2A offers the possibility of building entire product families based on our 
      "access to the account" concept. It is possible to seamlessly integrate XS2A functionality
      into your own software or processes. To achieve this flexibility, our API is composed of 
      two major components.


      - Client Integration

      - Server API Integration


      Client side integration aims towards seamlessly embedding the wizard into your web pages or mobile apps via webviews,
      or into your mobile apps using our mobile SDKs for [iOS](https://github.com/FinTecSystems/xs2a-ios),
      [Andriod](https://github.com/FinTecSystems/xs2a-android) or [React Native](https://github.com/FinTecSystems/xs2a-react-native).


      Direct integration using a Javascript library and a set of CSS themes:
      Both will be embedded directly into your web interface. The GUI elements are created with DOM-Operations 
      an allow easy styling via CSS.

      On the server side we offer a REST-API and webhooks for easy integration of your server components.

      The following describes the basic steps for a transaction:


      - Using the REST-API, your server initiates a new session with XS2A. In the response you will receive 
      a unique and once-only valid `wizard_session_key`.
      
      - Using this key you are now able to initiate the Wizard which is seamlessly embedded in your website. 
      The Wizard offers various interaction possibilities during the transaction.
      
      - While the customer is using the Wizard, you are able to customize and individualize the interaction 
      through various Javascript callbacks.
      
      - After the customer has finished the transaction and interaction with the Wizard, you will receive a 
      client Javascript callback and also a server side webhook will be executed. Your application will be 
      notified on both the client and server side that a transaction has finished.
  - name: Javascript
    description: >-
      You will have to embed our Javascript library into your website.

      The library can be embedded into the `<head>` section of your website. It has to be hotlinked
      directly from our XS2A server. This will ensure you will always use the latest build.


      ```html
        <script src="https://api.xs2a.com/xs2a.js"></script>
      ```

      To load the styling, you can call in your `<body>`:

      ```js
        xs2a.useBaseStyles();
      ```
      
      This will fetch our `xs2a_base.css` and will provide a base for any custom styles you might want to write.

      In case you run into CSP related issue or the like, hotlink the file directly in the `<head>` section of your page:

      ```html
        <!-- Optional, in case of issues with xs2a.useBaseStyles() -->
        <link rel="stylesheet" href="https://api.xs2a.com/xs2a_base.css">
      ```

      The `xs2a.js` will register the new global Javascript object `xs2a`. Use this global object to interact with
      XS2A forms. You will also have to include a container element into the `<body>` of your website.


      ```html
        <noscript>
          <h2>Your browser does not support Javascript.</h2>
          Please deactivate Javascript Blocker, AdBlocker etc. to use the service.
        </noscript>
        <div id="XS2A-Form" data-xs2a="<your-wizard-session-key-here>"></div>  
      ```


      The XS2A Wizard will be rendered within the container element. We strongly recommend to leave the id 
      attribute `XS2A-Form` unchanged. Our CSS rules depend on it. Please see also the CSS styleguide.


      If you do include our container element within a form-tag, pressing the enter key might accidentally 
      submit data to your server. There is also the possibility that wrongfully entered login information 
      will be prefilled by the browser.


      Please make sure, that the container element is *not* within a `<form>` tag or the like.


      Initialize xs2a.js by calling the `init()` method. The Javascript will then connect to our servers 
      and start the XS2A-Wizard inside of the container element.

      If you followed our instructions for including our Javascript file the global xs2a object will be available 
      after the `<script>` tag. The xs2a object implements the following methods:


      ## xs2a.configure()

      It is possible to set some configuration options, to alter the default behavior of the wizard.

      This method needs to be called before `init()`.

      ```js
        xs2a.configure({
          'validate-login-credentials': true,
          'autocomplete-suggestions': 5,
          'next-button-text': 'Next',
          'back-button-text': 'Back',
          'abort-button-text': 'Abort',
          'back-button-action': function() {
            console.log('back custom action');
          },
          'focus-onload': true,
          'validate-privacy-policy': true,
          'open-privacy-policy-in-tab': false,
          'logo-variation': 'standard',
          'logo-alignment': 'end',
          'logo-height': 60,
          'reuse-tab-on-redirect': false,
          'enable-password-visibility-toggle': false,
        });
      ```

        | Parameter                  | Description                                                                                                                                                | Default  |
        |----------------------------|------------------------------------------------------------------------------------------------------------------------------------------------------------|----------|
        | validate-login-credentials | A warning will be displayed, if the user enters a password which is 4 characters or less.                                                                  | true     |
        | autocomplete-suggestions   | Specify the number of maximum autocomplete suggestions for the BIC/bank name field.                                                                        | 5        |
        | next-button-text           | Customize the text for the "next" button.                                                                                                                  |          |
        | back-button-text           | Customize the text for the "back" button.                                                                                                                  |          |
        | abort-button-text          | Customize the text for the "abort" button.                                                                                                                  |          |
        | back-button-action         | Here you can specify a function which gets called when the user presses the back button, often used in cases where a custom redirect is wanted.            |          |
        | focus-onload               | If set to false, the page where xs2a.js is implemented will not jump to the wizard form on load.                                                           | true     |
        | validate-privacy-policy    | A warning will be displayed, if the user do not accept the privacy policy.                                                                                 | true     |
        | open-privacy-policy-in-tab | Opens the privacy policy in a new tab instead of a modal.                                                                                                  | false    |
        | logo-variation             | Option to display different types of the "provided by Tink Germany" Logo. Options are `standard` (blue hud, gray text), `white` and `black`.              | standard |
        | logo-alignment             | Sets the alignment of the Tink Germany logo. Options are: `start`, `center` and `end`.                                                                    | end      |
        | logo-height                | Sets the height of the Tink Germany logo, the width is automatically set proportionally.                                                                  | 60       |
        | reuse-tab-on-redirect      | Configures the behavior in case a redirect to the banks page is needed. Set to true to *not* open a new tab. Set to true for mobile web view integrations. | false    |
        | enable-password-visibility-toggle | Enable a visibility toggle at the end of the password input to let user check the entered password. | false    |

      
      ## xs2a.init()

      `xs2a.init(HTMLElement, wizardSessionKey)`

      Both `HTMLElement` and `wizardSessionKey` are optional parameters.

      Initializes the XS2A object on the current page. It will look for an HTML element with a data-xs2a attribute (assuming no HTMLElement is passed), 
      like the following.


      ```html
        <noscript>
          <h2>Your browser does not support Javascript.</h2>
          Please deactivate Javascript Blocker, AdBlocker etc. to use the service.
        </noscript>
        <!-- wizard will be rendered into the following element: -->
        <div id="XS2A-Form" data-xs2a="<your-wizard-session-key-here>"></div>
      ```

      Alternatively, instead of defining an element like this in your DOM and let xs2a.js find it, you can specify a HTMLElement that xs2a.js should use
      to render itself into. Likewise, you can pass the wizard session key as a second parameter. In this case, xs2a.js will not look for an element in your DOM
      as described above, but will use the passed parameters.

      Example for passing both DOM element and session key:


      ```js
        // wizard will be rendered into #someElement with the given key
        xs2a.init(document.getElementById('someElement'), 'my_wizard_session_key');
      ```

      ## xs2a.finish(function())

      `xs2a.finish()`


      Is used to register a callback function which will be called after the transaction has finished.

      You must provide a `xs2a-finish()` callback, because after a finished transaction the customer needs to be 
      redirected, like in the following example.


      ```
        xs2a.finish(function(credentials) {
            window.location.href = 'http://<your-success-link>';
        });
      ```

      The shared credentials will only be returned in the `credentials` parameter if the session is a XS2A.api session with `sync_mode` set to `shared`.
      Otherwise the `credentials` is irrelevant.

      ## xs2a.abort(function())

      `xs2a.abort()`


      The callback will be executed in case the customer decides to abort the current transaction. We suggest to 
      redirect the customer accordingly. A callback must be provided.


      ```js
        xs2a.abort(function() {
            // Will be executed in case the customer aborts the transaction
        });
      ```

      ## xs2a.error(function())

      ```js
        xs2a.error(function(errorCode, messages, recoverable) {
            // Will be executed in case an error occurs during transaction
        });
      ```

      The callback will be executed in case an error occurs during the transaction. The `errorCode` can be as 
      follows.
      
      - **login_failed**: Login to bank failed (e.g. invalid login credentials)

      - **session_timeout**: The customer's session has timed out.

      - **tan_failed**: User entered invalid TAN.

      - **tech_error**: An unknown or unspecified error occurred.

      - **testmode_error**: An error occurred using testmode settings.

      - **trans_not_possible**: A transaction is not possible for various reasons.

      - **validation_failed**: Validation error (e.g. entered letters instead of numbers).


      The `recoverable` property indicates whether the error results in an abortion of the transaction. 
      If `recoverable` equals `false` the transaction is aborted.


      Please note, that **`recoverable` can be both `true` or `false` for a given error message**.
      For example, "login_failed" can be recoverable twice, but in order to protect the account from being
      locked due to too many failed login attempts, we abort the session then
      and you would again get "login_failed" but this time with `recoverable = false`.

      ## xs2a.bank(function())

      `xs2a.bank()`


      Allows you to register a function which will be executed before a bank selection page will be shown. 
      For example, you can use this callback to provide some custom information on this page.

      ```js
        xs2a.bank(function() {
            document.getElementById('your-text').style.display = 'block';
        });
      ```

      ## xs2a.isBank()

      `xs2a.isBank()`


      Function that returns `true` if the current step is the `bank` step, `false` otherwise.

      ## xs2a.login(function())

      `xs2a.login()`


      Callback can be registered which will be executed before the bank login page will be displayed. See also xs2a.bank(function()).

      ## xs2a.isLogin()

      `xs2a.isLogin()`


      Function that returns `true` if the current step is the `login` step, `false` otherwise.
      
      ## xs2a.account(function())

      `xs2a.account()`


      Callback which will be executed before the bank account selection page will be displayed. See also xs2a.bank(function()).

      ## xs2a.isAccount()

      `xs2a.isAccount()`


      Function that returns `true` if the current step is the `account` step, `false` otherwise.
      
      ## xs2a.tan(function())

      `xs2a.tan()`


      Callback can be registered which will be executed before the bank enter tan page will be displayed. See also xs2a.bank(function()).

      ## xs2a.isTan()

      `xs2a.isTan()`


      Function that returns `true` if the current step is the `tan` step, `false` otherwise.

      ## xs2a.abortTransaction()

      `xs2a.abortTransaction()` makes it possible to abort the current transaction manually.


      If it fits your use case you may simply add an Abort-Link or Button to your Form and register an event listener, that calls `xs2a.abortTransaction()`,
      like shown in the following example.


      ```html
        <a href="#" id="abort">Abort transaction</a>
        <script>
            document.getElementById('abort').onclick = function() {
                xs2a.abortTransaction();
            };
        </script>
      ```

      ## xs2a.lang()

      `xs2a.lang()` allows to get or set the language during a transaction. If no parameter is passed, 
      `xs2a.lang()` simple returns the current language which may be `de`, `en`, `es`, `it` or `fr`. If a parameter is passed, 
      the form will be redisplayed with the new language set. The method will again return the language 
      that was actually set.


      Please note, that setting the language is only allowed if the user is not yet logged in to his or 
      her bank. If the user is already logged in, the language will not be changeable.


      Please also note that bank messages will not always be translated. For example banks, that communicate via HBCI 
      or banks that do not allow to switch the language will be served in German or in the default language 
      provided by the bank.

      ```html
        <select id="lang">
            <option>de</option>
            <option>en</option>
        </select>

        <script>
        document.querySelector('#lang').addEventListener('change', function () {
            let language = this.value;
            // set the language for the xs2a wizard
            xs2a.lang(language);
            // set the language for your app
            document.location.href = "..."
        });
        </script>
      ```

      ## xs2a.render(function())

      `xs2a.render()`

      Callback can be registered which will be executed every time a new form is displayed. So basically it will be executed before every step. See also `xs2a.bank(function())`.


      ## xs2a.intermission(function())


      ```js
        xs2a.intermission(function() {
          // This is your notification that the session is now in intermission state,
          // do any async operations and then either veto or resume the session.
        });
      ```


      Callback that can be registered which will be executed if the widget is sent to the intermission state, which is a waiting/polling state during which you can
      do any asynchronous operations, i.e. see [retrieving account snapshot](#tag/Sessions-API/paths/~1sessions~1{transaction-id}~1accountSnapshot/get), and then decide 
      to either [veto](#tag/Sessions-API/paths/~1sessions~1{transaction-id}~1veto/post) or [resume](#tag/Sessions-API/paths/~1sessions~1{transaction-id}~1resume/post) the session.

      ## Extending the xs2a forms

      The XS2A platform also offers the ability to extend its forms with your own custom fields. That might 
      be useful if you want to ask for some additional information during the transaction. Additional information 
      may be things like an email address or asking the user to confirm additional checkboxes.


      The two forms that can be extended are the bank code entry form and the login form. You may add custom form 
      elements by appending or prepending them to the existing form. The custom form elements that you can add via 
      the API are as follows.

      - Paragraphs - Text paragraphs that can optionally contain a title.  

      - Descriptions - Textual descriptions for input fields.  

      - Checkboxes  

      - Text inputs  


      To extend the forms, the global `xs2a` object provides the method `xs2a.extend()`. This method receives a callback as its 
      first argument. This callback is used to work with a `FormBuilder` that is passed to the callback. The `xs2a.extend()`
      method should be called before `xs2a.init()`.

      ### Examples

      #### Extending the bank code entry form by appending an email text input

      ```js
        xs2a.extend('bank', function(form) {
            form.text('email', 'E-Mail', '', '', ['required', 'email'], form.APPEND);
            form.description('To proceed you need to enter a valid email address.', form.APPEND);
        });

        xs2a.init();
      ```

      #### Extending the login form by appending a required checkbox


      ```js
        xs2a.extend('login', function(form) {
            form.paragraph('Custom title', 'Custom text', form.PREPEND);
            form.checkbox('my_policy', 'I accept this policy.', true, form.APPEND);
            form.description('To proceed you need accept this policy.', form.APPEND);
        });

        xs2a.init();
      ```

      #### Extending both forms with a custom message


      ```js
        xs2a.extend('bank', function(form) {
            form.paragraph('Hallo', 'This is a custom message', form.PREPEND);
        });

        xs2a.extend('login', function(form) {
            form.paragraph('Hallo', 'This is a custom message', form.PREPEND);
        });

        xs2a.init();
      ```

      #### Extending a form with a translations text object


      ```js
        xs2a.extend('bank', function(form) {
          var transParagraphTitle = {
            EN: 'Hello',
            DE: 'Hallo'
          };

          var transParagraphText = {
            EN: 'This is a custom message',
            DE: 'Dies ist eine benutzerdefinierte Nachricht'
          };

          form.paragraph(transParagraphTitle, transParagraphText, form.PREPEND);
        });

        xs2a.init();
      ```

      We support the languages: DE, EN, IT, ES, FR. Default language is german (DE).



      ### Form Builder Methods

      The form builder passed to the callback has the following methods.

      #### form.paragraph()

      `form.paragraph(title, text, where)`  

      Adds a paragraph to the form.

        | Parameter | Type             | Description                                                                |
        |-----------|------------------|----------------------------------------------------------------------------|
        | title     | string \| object | The title of the paragraph (optional).                                     |
        | text      | string \| object | The text of the paragraph (optional).                                      |
        | where     | string           | Where to put the paragraph. One of form.APPEND or form.PREPEND. (optional) |

      #### form.description()

      `form.description(text, where)`  

      Adds a description text to the form.

        | Parameter | Type             | Description                                                                |
        |-----------|------------------|----------------------------------------------------------------------------|
        | title     | string \| object | The title of the paragraph (optional).                                     |
        | where     | string           | Where to put the paragraph. One of form.APPEND or form.PREPEND. (optional) |


      #### form.checkbox()

      `form.checkbox(name, label, required, where)`  

      Adds a checkbox input to the form.

        | Parameter | Type             | Description                                                               |
        |-----------|------------------|---------------------------------------------------------------------------|
        | name      | string           | The name of the checkbox input.                                           |
        | label     | string \| object | The label of the checkbox input.                                          |
        | required  | boolean          | True, if the user has to check this box.                                  |
        | where     | string           | Where to put the checkbox. One of form.APPEND or form.PREPEND. (optional) |


      #### form.text()

      `form.text(name, label, value, placeholder, validation, where)`  

      Adds a text input to the form.

        | Parameter   | Type             | Description                                                                                                   |
        |-------------|------------------|---------------------------------------------------------------------------------------------------------------|
        | name        | string           | The name of the input.                                                                                        |
        | label       | string \| object | The label of the input.                                                                                       |
        | value       | string           | Prefill this input. (optional)                                                                                |
        | placeholder | string \| object | The placeholder text for this input. (optional)                                                               |
        | validation  | array            | An array of validation rules. Allowed validation rules are required, email, numeric and alpha_num. (optional) |
        | where       | string           | Where to put the paragraph. One of form.APPEND or form.PREPEND. (optional)                                    |


      #### Links, Modal Dialogs and Tooltips

      You may also include links, modal dialogs and/or tooltips in the provided text.

      To include a link use the following syntax:  


      `Text with a link [<name>|link::<url>]`  


      A modal dialog can be included with:  


      `Text with a modal dialog [<name>|dialog::<text>]`  


      You can include a tooltip using the following syntax:  


      `Text with a tooltip [tooltip|<text>]`  
    
      ### Retrieving custom Values

      You receive the values, that the XS2A platform collected for you in the metadata attribute of your 
      transaction object, when you finally fetch it via the JSON API.  

      See the API description for the product you are using (e.g. [XS2A.RISK](#tag/XS2A.risk)) for more details on how to get the transaction 
      object after a transaction is finished.

  - name: Events and Webhook
    description: >-
      An event is basically anything that can happen with your XS2A account, e.g. creating a transaction, 
      matching of a transaction and the like. Also includes things like changing your account password.  


      A webhook ist just a URL which will be called whenever an event has happened.

      Webhooks are sent from our public IP: `37.208.107.50`


      You can view events within our admin application or via API. Webhook URLs can be added, edited or deleted. 
      You can enter up to three URLs. All URLs will be called via `POST`. Using HTTPs is required for all webhooks, 
      yet the certificate may be a self signed one.  


      ### Example System Call to your URL

      ```js
          {
              "id": "ev_kdhwWdkshflL237SdkDQ",
              "transaction": "xr_1ewwjEXLPISIGDy2",
              "type": "transaction.created",
              "message": "Transaction xr_1ewwjEXLPISIGDy2 created.",
              "data": {},
              "testmode": "1",
              "created_at": "2014-03-23 14:00:03",
              "object": "xs2a_event"
          }
      ```

      The field **data** will have event dependent information. Currently we support the following events.

      - **transaction.created**: A XS2A transaction has been created. Transaction data will be within the `data`.

      - **transaction.update**: Transactions might get an updated notification. The updated transaction data will be within the `data`.

      - **transaction.password_changed**: Account password has been changed. The field `data` will be empty.


      A connection error or a HTTP status code > 400 will be interpreted by the XS2A platform as a failed webhook. 
      In this case the webhook will keep retrying to call your URL again (with an increasing time span between multiple tries).


      The first five tries will be made within the first minute. All other tries will be within an increased time span. 
      After a total of 40 tries the webhook will be killed.

      ## Webhook Signature

      Our webhooks are singed. Its recommended to check signature for validity.  

      The signature will be sent in HTTP-Header X-Payload-Signature.  

      The X-Payload-Signature is only displayed when Secret is active.  

      You can find your shared secret on your [webhook configuration page](https://manage.xs2a.com/configure/webhooks).

      #### Example signed webhook call to your URL

      ```http
        POST /your-webhook-url HTTP/1.1
        Host: yourserver.com
        X-Payload-Signature: v1=6754b105f95c0cd9c544701451df7ffeebcb4ff7f17b64f75239502b27b1d8ab
        Content-Type: application/json
        Content-Length: 56

        {
            "id": "ev_kdhwWdkshflL237SdkDQ",
            "object": "xs2a_event",
            "type": "transaction.created",
            "testmode": true,
            "data": {},
            "created_at": "2014-03-23 14:00:03"
        }
      ```

      ### Versioning

      To maintain a backward compatibility, we maintain a versioned signature in our HTTP-Header. The format for multiple versions is as followed. 
      `v1=hashv1`
      
      
      ### Checking Signatures for validity

      To check a signature for validity you need to calculate and compare the hash for your corresponding version.
      
      ### v1

      In this version, you need to create a hash over the entire content of the webhook and create a Hash Message Authentication Code (HMAC) with the following settings:

      - **Algorithm**: SHA256

      - **Payload**: Entire payload (including whitespaces)

      - ** Secret**: Shared secret. This can be found on your [webhook configuration page](https://manage.xs2a.com/configure/webhooks).


      #### Example

        - Message: `Hello World!`
          - Secret: `secret_password`
          - Signature: `v1=faeffaa195ee7b044d20f034b5cf7ed1309c9e1f043836a65227d55be6452af2`

  - name: CSS
    description: >-
      The XS2A form embeds itself seamlessly into your website using DOM operations. This enables you to 
      define your own custom CSS rules and customize the look and feel to fit your needs. 

      ### Default Styling

      We provide base styling for the XS2A form, which you can implement by simply calling:

      ```js
        xs2a.useBaseStyles();
      ```

      This will add a stylesheet to the `<head>` section of your page, which fetches the base style file.
      You can then write custom css based on that style.
      
      In case you run into CSP related issue or the like, hotlink the file directly in the `<head>` section of your page:

      ```html
        <!-- Optional, in case of issues with xs2a.useBaseStyles() -->
        <link rel="stylesheet" href="https://api.xs2a.com/xs2a_base.css">
      ```

      ### Custom Styling

      When creating your own styling, the easiest way is to adjust the variables we define at the very top of the xs2a_base.css style file.
      We provide some CSS Variables, where you can change the colors to your corporate design.

      ```html
        <style>
          :root {
            --xs2a-primary: blue;
            --xs2a-error: red;
            --xs2a-warning: yellow;
            /* other overwrites, see top of xs2a_base.css file for all variables */
          }
        </style>
      ```

      If you create your own styles, we recommend to follow these guidelines.

      - **Build upon the base CSS**: This will ensure you correct styling in case future HTML markup changes occur.
      Also the positioning rules are always the latest.

      - **Add a style directly to elements**: The best way is to define a style for the elements as directly as possible. 
      Use simple selectors which should not make assumptions about the HTML structure.

      Please keep in mind that we can not provide support for themes which do not use our base CSS as a basis.
  - name: Testbank
    description: >-
      For testing and integration purposes we offer a Testbank. While using the 
      Testbank, no real transactions will be made.


      **Testbank is only available in Test mode or with a test API key.**


      The Testbank allows you to try out various ways the Wizard and other components can or will behave.
      You can use either of the following test banks, either with their respective bank codes or BIC.

      In case the chosen product requires recipient information, entering almost any data is fine as long it conforms 
      to the basic validation rules set by the chosen product.


      If you provide an account number or IBAN in the initial call, the customer will not be able to choose a different account, 
      even if there are more accounts available to chose from. If the given IBAN is not in the customer list of accounts, the 
      transaction will be aborted.

      ## Testbank Credentials

        | Testbank          | Bank Code | BIC         |
        |-------------------|-----------|-------------|
        | German Testbank   | 88888888  | TESTDE88XXX |
        | Austrian Testbank | 88888     | TESTAT88XXX |


      ## Trigger specific behaviours

      ### Force the Display of Wizard Tabs

      Display of wizard tabs can be forced by using the bank code *88888889* in combination with a test API key.


      ### Force other Behaviours using PIN

      You can use the following options with both banks as **PIN** in the login step to force certain behaviors.
      Use the words in bold to trigger the described behaviour.

        | PIN                | Description                                                                                                                                                    |
        |--------------------|----------------------------------------------------------------------------------------------------------------------------------------------------------------|
        | accounts           | Displays the account selection step with more than one account available.                                                                                      |
        | allforms           | Displays all possible UI elements (except tabs) in one step. Perfect for writing and debugging CSS/styling. Tabs can be shown using 88888889 as bank code.     |
        | autosubmit         | Display a form that simulates waiting for authorization from an external source, e.g. customer uses a token device while waiting for tan. (Only works for Pay) |
        | autosubmitLogin    | Display a form that simulates waiting for authorization from an external source, e.g. customer uses a token device while login. Works on all products.         |
        | business           | Returns business accounts with turnovers instead of private accounts.                                                            |
        | config             | Allows you to configure some custom settings for testing various settings, e.g. turnover types, holder names etc.                                              |
        | forms              | Allows you to choose from some prepared forms with various UI elements of the Wizard.                                                                          |
        | next               | Displays a login next step                                                                                                                                     |
        | no-account         | A transaction without a valid account type.                                                                                                                    |
        | no-standing-orders | The chosen account has no standing orders.                                                                                                                     |
        | no-turnovers       | No turnovers.                                                                                                                                                  |
        | negative-balance   | A transaction with a negative account balance.                                                                                                                 |
        | slow               | Slows down the transaction considerably.                                                                                                                       |
        | with-chargeback    | Generates a turnover that indicates a chargeback.                                                                                                              |
        | with-credit-card   | Adds a credit card to the list of accounts                                                                                                                     |
        | with-seizure       | Generates an account under seizure.                                                                                                                            |
        | wrong              | Provokes a login error.                                                                                                                                        |
        | without-iban       | Adds an account without an iban to the list of accounts.                                                                                                       |


      ### Simulate wrong TAN Attempt

      To simulate a wrong TAN attempt, please enter **WRONG** as TAN.

      ## Test Pinned Accounts

      The following list of banks **must be pinned**, i.e. they must be specified in the API call. They
      **cannot be selected** using the account number field of the Wizard.

      ### Test Pinned Accounts - German Testbank

      In case you want to test pinned account numbers or IBANs, the German Testbank will return the following accounts.

        | IBAN                   | Account Number | Bank Code | Description | Transactions possible |
        |------------------------|----------------|-----------|-------------|-----------------------|
        | DE62888888880012345678 | 12345678       | 88888888  | Girokonto   | Yes                   |
        | DE04888888880087654321 | 87654321       | 88888888  | Extra-Konto | No                    |


      If you use the login-PIN `accounts`, the German Testbank will return the following additional accounts.

        | IBAN                   | Account Number | Bank Code | Description      | Transactions possible |
        |------------------------|----------------|-----------|------------------|-----------------------|
        | DE35888888880012345679 | 12345679       | 88888888  | Girokonto Plus   | Yes                   |
        | DE93888888880043218765 | 43218765       | 88888888  | Kontokorrent     | Yes                   |


      ### Test Pinned Accounts - Austrian Testbank

      In case you want to test pinned account numbers or IBANs, the Austrian Testbank will return the following accounts.

        | IBAN                 | Account Number | Bank Code | Description   | Transactions possible |
        |----------------------|----------------|-----------|---------------|-----------------------|
        | AT248888800012345678 | 12345678       | 88888     | Girokonto     | Yes                   |
        | AT638888800087654321 | 87654321       | 88888     | Sparkonto     | No                    |

      If you use the login-PIN `accounts`, the Austrian Testbank will return the following additional accounts.

        | IBAN                 | Account Number | Bank Code | Description    | Transactions possible |
        |----------------------|----------------|-----------|----------------|-----------------------|
        | AT948888800012345679 | 12345679       | 88888     | Girokonto Plus | Yes                   |
        | AT558888800043218765 | 43218765       | 88888     | Kontokorrent   | Yes                   |

  - name: Diagrams
    description: >-
      This chapter shows a couple of sequence diagrams for common scenarios. 
      The diagrams are quite detailed and designed to further your understanding 
      of how the involved parties interact.

      ## XS2A.pay with JS widget

      This diagram shows a standard integration of the JS widget for a payment initiation service.

      ![XS2A.pay with JS Widget Diagram](img/payment_js_api.png)

      ## XS2A.pay with wizard API

      This diagram shows a standard integration of the XS2A.pay API using the wizard API.

      ![XS2A.pay with wizard API Diagram](img/payment_wizard_api.png)

      ## XS2A.risk with wizard API

      This diagram shows a standard integration of the XS2A.risk API using the wizard API.

      ![XS2A.risk with wizard API Diagram](img/risk_wizard_api.png)

      ## XS2A.risk with JS widget

      This diagram shows a standard integration of the XS2A.risk API using the Javascript widget.

      ![XS2A.risk with JS widget Diagram](img/risk_js_api.png)
  - name: Postman
    description: >-
      ## Import Request Collection and Environment

      ### Request Collection

      1. In Postman, click on the "Import" button in the upper left corner.

      2. In the opened window click on "Choose Files" under "Import File".

      3. Select the file "XS2A.postman_collection.json" and press "open".

      4. The collection is now imported and can be found in the list on the left side of the window.

      5. Click on the three points at the collection and then on "Edit".

      6. Go to "Authorization" in the opened window.

      7. Enter your Test-API-Key under "Password" and save.


      ### Environment

      1. Click top right in Postman on the small gear symbol.

      2. Click on "Import" in the lower right corner of the currently opened window.

      3. Click on "Select File", choose then "XS2A.postman_environment.json" and press "open".

      4. Close the "Management Environment" window.

      5. Select "XS2A" from the dropdown in the upper right corner next to the small gear.

      ## Download

      <a href ="./downloads/XS2A.postman_collection.json" download>XS2A.postman_collection.json</a>


      <a href ="./downloads/XS2A.postman_environment.json" download>XS2A.postman_environment.json</a>
  - name: Testbank 2.0
    description: >-
      Tink Germany also offers a Testbank 2.0 with further testing functionalities. For access to documentation please contact support@tink-germany.com
x-tagGroups:
  - name: General
    tags:
    - Testbank
    - Testbank 2.0
    - Versioning
    - Bankcodes API
    - Diagrams
    - Postman
  - name: XS2A.Risk
    tags:
    - Embeddable Risk Checks
    - XS2A.risk.fullpdf
    - XS2A.risk.export
    - XS2A.risk
    - Additional Settings
  - name: XS2A.Pay
    tags:
    - XS2A.pay
  - name: Misc
    tags:
    - Wizard API
    - Blacklist API
    - Whitelist API
    - Sessions API
    - Events API
  - name: XS2A.api
    tags:
    - XS2A.api General Information
    - XS2A.api.users
    - XS2A.api.connections
    - XS2A.api Bank Connection Events
    - XS2A.api.accounts
    - XS2A.api.wizard
    - XS2A.api.place.payment
  - name: Client Integration
    tags:
    - General Information
    - Javascript
    - CSS
    - Events and Webhook
paths:
  /version:
    get:
      tags:
        - Versioning
      summary: Versioning
      description: >-
        In case we make an API change, we might release a new version of the API. You can retrieve
        the current version by calling the version endpoint. This contains the date of the release
        date of the API. With every change we update the release date.
      security:
        - basicAuth: []
      responses:
        '200':
          description: Request successfully processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Versioning'
        '401':
          description: Authentication failed API key missing or not valid
        '403':
          description: Forbidden Access blocked
        '500':
          description: An internal server problem occurred
  /bankcodes:
    get:
      tags:
        - Bankcodes API
      summary: Check if a bank is supported by xs2a
      description: >-
        You will receive information about the selected bank. The field 
        `xs2a_supported` can be used to determine whether or not you should offer 
        XS2A products to your customer.
      security:
        - basicAuth: []
      parameters:
        - in: query
          name: bank_code
          description: bank code of the customers bank, optionally a country_id, otherwise Germany will be assumed
          schema:
            type: string
        - in: query
          name: country_id
          description: Two letter country code id, e.g. AT, CH, DE
          schema:
            $ref: '#/components/schemas/country_id'
        - in: query
          name: bic
          description: BIC of the customers bank, no country id is necessary
          schema:
            type: string
        - in: query
          name: per_page
          description: Items per page
          schema:
            type: integer
        - in: query
          name: page
          description: Which page to display
          schema:
            type: integer
        - in: query
          name: q
          description: Uses the value to search for customers bank as either BIC or bank code
          schema:
            type: string
      responses:
        '200':
          description: Request successfully processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankObject'
        '401':
          description: Authentication failed API key missing or not valid
        '403':
          description: Forbidden Access blocked
        '404':
          description: >-
            Product not enabled or Not found The requested object does not exist
            on the server
        '500':
          description: An internal server problem occurred
  /bankcodes/all:
    get:
      tags:
        - Bankcodes API
      summary: Get a paginated list of all bank objects
      description: >-
        You will receive a paginated list of all bank objects.
      security:
        - basicAuth: []
      parameters:
        - in: query
          name: country_id
          description: Filter returned results by country_id
          schema:
            $ref: '#/components/schemas/country_id'
        - in: query
          name: per_page
          description: Items per page
          schema:
            type: integer
        - in: query
          name: page
          description: Which page to display
          schema:
            type: integer
      responses:
        '200':
          description: Request successfully processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankObjectList'
        '401':
          description: Authentication failed API key missing or not valid
        '403':
          description: Forbidden Access blocked
        '404':
          description: >-
            Product not enabled or Not found The requested object does not exist
            on the server
        '500':
          description: An internal server problem occurred
  /bankcodes/autocomplete:
    get:
      tags:
        - Bankcodes API
      summary: Get a paginated list of all bankcodes for a query string
      description: >-
        For a paginated result of bankcodes based on a query string, send a
        get request to this endpoint.
      parameters:
        - in: query
          required: true
          name: q
          description: Use a query string to search for a bank by name
          schema:
            type: string
        - in: query
          name: country_id
          description: Two letter country code id, e.g. AT, CH, DE
          schema:
            $ref: '#/components/schemas/country_id'
        - in: query
          name: per_page
          description: Items per page
          schema:
            type: integer
        - in: query
          name: page
          description: Which page to display
          schema:
            type: integer
        - in: query
          name: product
          description: Limit your search to a specific product
          schema:
            $ref: '#/components/schemas/product'
      security:
        - basicAuth: []
      responses:
        '200':
          description: Request successfully processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankObjectList'
        '401':
          description: Authentication failed API key missing or not valid
        '403':
          description: Forbidden Access blocked
        '404':
          description: >-
            Product not enabled or Not found The requested object does not exist
            on the server
        '500':
          description: An internal server problem occurred
  /risks:
    post:
      tags:
        - XS2A.risk
      summary: Create xs2a.risk object
      description: >-
        Create a xs2a.risk object and receive a wizard session key in return.


        **Please Note**: In the following documentation of the request body, all available 
        risk checks are defined. It is important to note that they are optional, and that 
        you simply submit the risk check you need. You can find a more detailed explanation 
        of the risk checks [here](#tag/Embeddable-Risk-Checks).

      responses:
        '200':
          description: Request successfully processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WizardSessionResponse'
        '401':
          description: Authentication failed API key missing or not valid
        '403':
          description: Forbidden Access blocked
        '404':
          description: >-
            Product not enabled or Not found The requested object does not exist
            on the server
        '422':
          description: Validation failed Something is wrong with the user input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: An internal server problem occurred
      security:
        - basicAuth: []
      x-codeSamples:
        - lang: Javascript
          label: Node.js SDK
          source: |
            // npm i @fintecsystems/xs2a-node --save

            const { XS2A } = require('@fintecsystems/xs2a-node');
            const xs2a = new XS2A('your-api-key');
            try {
              const { wizard_session_key } = await xs2a.Risk.create({
                xs2a_account_snapshot: {
                  days: 365
                }
              });

              // Use wizard_session_key e.g. with xs2a.js
            } catch (e) {
              // Handle errors ...
            }
        - lang: PHP
          source: |
            require 'vendor/autoload.php';

            $apiKey = 'your-api-key';

            $payload = [
              'xs2a_account_snapshot' => [
                'days' => 365,
              ],
            ];

            $response = \Httpful\Request::post('https://api.xs2a.com/v1/risks')
              ->sendsJson()
              ->authenticateWith('api', $apiKey)
              ->body(json_encode($payload))
              ->send();

            echo $response->body->transaction;
            echo $response->body->wizard_session_key;
        - lang: HTTP
          source: |
            POST /v1/risks HTTP/1.1
            Host: api.xs2a.com
            Content-Type: application/json
            Authorization: Basic base64("api:YOUR_API_KEY_GOES_HERE")
            Cache-Control: no-cache

            {
              "xs2a_account_snapshot": {
                "days":365
              }
            }
        - lang: Java
          label: Java SDK
          source: |
            // Create a RiskService Instance
            RiskService riskService = new RiskService(apiKey);

            // Build a Risk Request
            Xs2aRisk risk = new Xs2aRisk();

            Xs2aAccountSnapshot accountSnapShot = new Xs2aAccountSnapshot(
                10,
                LocalDate.parse("2021-01-01"),
                LocalDate.parse("2021-01-10"),
                List.of("income"),
                true,
                true
            );
            risk.setXs2aAccountSnapshot(accountSnapShot);
            // add more risk checks as necessary ...

            // Fire the request and get a response
            WizardSessionResponse response = riskService.create(risk);
      requestBody:
        $ref: '#/components/requestBodies/xs2a.risk'
    get:
      tags:
        - XS2A.risk
      summary: Get a list of all xs2a.risk transaction objects
      description: >-
        Get a list of all xs2a.risk transaction object, or filter using
        query parameters.
      security:
        - basicAuth: []
      parameters:
        - in: query
          name: account_holder
          description: Filter using account holder of the account
          schema:
            type: string
        - in: query
          name: iban
          description: Filter using iban
          schema:
            type: string
        - in: query
          name: bic
          description: Filter using bic
          schema:
            type: string
        - in: query
          name: country_id
          description: Filter using two letter country id
          schema:
            $ref: '#/components/schemas/country_id'
        - in: query
          name: merchant_id
          description: Filter by merchant_id
          schema:
            type: string
        - in: query
          name: per_page
          description: Items per page
          schema:
            type: integer
        - in: query
          name: page
          description: Which page to display
          schema:
            type: integer
        - in: query
          name: 'from'
          description: >-
            Filter by date. Pass ISO8601 conform dates
            (yyyy-mm-ddThh:mm:ss-zzzz). The time and timezone portions are
            optional and may be omitted (e.g yyyy-mm-dd or yyyy-mm-ddThh:mm:ss).
          required: false
          schema:
            type: string
            format: date-time
        - in: query
          name: 'to'
          description: >-
            Filter by date. Pass ISO8601 conform dates
            (yyyy-mm-ddThh:mm:ss-zzzz). The time and timezone portions are
            optional and may be omitted (e.g yyyy-mm-dd or yyyy-mm-ddThh:mm:ss).
          required: false
          schema:
            type: string
            format: date-time
        - in: query
          name: since
          description: >-
            Filter by date (format yyyy-mm-dd or yyyy-mm-ddThh:mm:ssZ or an
            ISO8601 conform date. You can also supply date expressions like "-2
            weeks" oder "-4 month"). This parameter has been deprecated in
            favor of from and to.
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Request successfully processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RisksTransactionList'
        '401':
          description: Authentication failed API key missing or not valid
        '403':
          description: Forbidden Access blocked
        '404':
          description: >-
            Product not enabled or Not found The requested object does not exist
            on the server
        '422':
          description: Validation failed Something is wrong with the user input
        '500':
          description: An internal server problem occurred
  '/risks/{transaction-id}':
    get:
      tags:
        - XS2A.risk
      summary: Get a xs2a.risk transaction object
      description: >-
        **Please Note**: In the following documentation, all available risk checks 
        are included in the response body. Note however, that only the ones which you 
        requested will be included in the response, and that 'xs2a_account_snapshot'
        have its own endpoint, where you will get the full results
        of this check.
      security:
        - basicAuth: []
      parameters:
        - in: path
          name: transaction-id
          description: ID of the transaction to be retrieved.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Request successfully processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiskObject'
        '401':
          description: Authentication failed API key missing or not valid
        '403':
          description: Forbidden Access blocked
        '404':
          description: >-
            Product not enabled or Not found The requested object does not exist
            on the server
        '410':
          description: The object has been deleted intentionally
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedObject'
        '422':
          description: Validation failed Something is wrong with the user input
        '500':
          description: An internal server problem occurred
    delete:
      tags:
        - XS2A.risk
      summary: Delete a xs2a.risk transaction object
      description: >-
        Transaction data also can be deleted manually by sending a DELETE
        request for that transaction.
      security:
        - basicAuth: []
      parameters:
        - in: path
          name: transaction-id
          description: >-
            Transaction data also can be deleted manually by sending a DELETE
            request for that transaction.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Request successfully processed
        '401':
          description: Authentication failed API key missing or not valid
        '403':
          description: Forbidden Access blocked
        '404':
          description: >-
            Product not enabled or Not found The requested object does not exist
            on the server
        '410':
          description: The object has been deleted intentionally
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedObject'
        '422':
          description: Validation failed Something is wrong with the user input
        '500':
          description: An internal server problem occurred
  '/risks/{transaction-id}/accountSnapshot':
    get:
      tags:
        - XS2A.risk
      summary: Download an Account Snapshot
      description: >-
        An account snapshot can be downloaded in several formats. The response object 
        described here details the JSON2 response.
      security:
        - basicAuth: []
      parameters:
        - in: path
          name: transaction-id
          description: ID of the transaction to be retrieved.
          required: true
          schema:
            type: string
        - in: query
          name: format
          description: >-
            The format parameter is optional. The account snapshot is available in 
            the following formats: pdf, csv, json and json2. This call defaults to 
            pdf if the format parameter is omitted. Please note that you have to use 
            json2 as format if the all_accounts parameter was set to true.
          required: false
          schema:
            type: string
            enum: ['pdf', 'csv', 'json', 'json2']
      responses:
        '200':
          description: Request successfully processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSnapshotJSON2'
            text/csv; charset=UTF-8:
              example:
                booking_date;purpose;amount;currency;counter_iban;counter_bic;counter_holder;tags;category_id
                26.02.2019;"ABSCHLUSS KEINE BELEG INFORMATIONEN, SIEHE GGF. KONTOAUSZUG !";-9.55;EUR;;;;;
            application/pdf:
              schema:
                type: string
                format: byte
            application/octet-stream:
              schema:
                type: string
                format: byte
        '401':
          description: Authentication failed API key missing or not valid
        '403':
          description: Forbidden Access blocked
        '404':
          description: >-
            Product not enabled or Not found The requested object does not exist
            on the server
        '410':
          description: The object has been deleted intentionally
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedObject'
        '422':
          description: Validation failed Something is wrong with the user input
        '500':
          description: An internal server problem occurred
  '/risks/{transaction-id}/report/{report-id}':
    get:
      tags:
        - XS2A.risk
      summary: Download a Report
      security:
        - basicAuth: []
      parameters:
        - in: path
          name: transaction-id
          description: ID of the transaction to be retrieved.
          required: true
          schema:
            type: string
        - in: path
          name: report-id
          description: ID of the report to be retrieved. If not present, current default report will be used.
          required: true
          schema:
            type: string
        - in: query
          name: format
          description: >-
            The format parameter is optional. The report is available in
            the following formats: html, pdf and json. This call defaults to
            html if the format parameter is omitted.
          required: false
          schema:
            type: string
            enum: ['html', 'pdf', 'json']
        - in: query
          name: locale
          description: >-
            Locale in which the report will be rendered. This has no effect when using json format.
          required: false
          schema:
            type: string
            enum: ["de", "en"]
      responses:
        '200':
          description: Request successfully processed
        '401':
          description: Authentication failed API key missing or not valid
        '403':
          description: Forbidden Access blocked
        '404':
          description: >-
            Product not enabled or Not found The requested object does not exist
            on the server
        '410':
          description: The object has been deleted intentionally
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedObject'
        '422':
          description: Validation failed Something is wrong with the user input
        '500':
          description: An internal server problem occurred
  '/risks/{transaction-id}/events':
    get:
      tags:
        - XS2A.risk
      summary: Get all events for a xs2a.risk transaction object
      security:
        - basicAuth: []
      parameters:
        - in: path
          name: transaction-id
          description: ID of the transaction for which all events are to be retrieved for.
          required: true
          schema:
            type: string
        - in: query
          name: per_page
          description: Items per page
          schema:
            type: integer
        - in: query
          name: page
          description: Which page to display
          schema:
            type: integer
      responses:
        '200':
          description: Request successfully processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventsList'
        '401':
          description: Authentication failed API key missing or not valid
        '403':
          description: Forbidden Access blocked
[...]
