openapi: 3.0.1
info:
  title: Tokenization API
  description: Merchant Services Tokenization APIs enable merchants to secure their cards on file by replacing the sensitive Primary Account Number (PAN) with a token. Currently supports network tokenization via Mastercard, Visa & Amex.
  version: 1.4.3
  contact:
    name: Tokenization API Support
    url: https://developer.payments.jpmorgan.com/contact/support
    email: ms.pit.team@jpmorgan.com
servers:
  - url: https://api.merchant.jpmorgan.com/payments/v1/
    description: North America production endpoint
  - url: https://api-mock.payments.jpmorgan.com/payments/v1
    description: JPM-PROD Merchant Payments API sandbox
tags:
  - name: Token Processing
    description: Manage or request tokens and cryptograms.
  - name: Cryptograms Request
    description: Request cryptograms for a token.
  - name: Token Lifecycle Management
    description: Manage or request token state information.
  - name: Bulk Operation
    description: Bulk Token Operation.
  - name: Bulk Key Management
    description: Bulk Key Management
  - name: Bank Account Tokenization
    description: Bank Account Tokenization Management
  - name: Health Check
    description: Validate the health of the service.
paths:
  /healthcheck:
    get:
      summary: Health check for the Tokenization service.
      operationId: v1GetHealth
      tags:
        - Health Check
      description: Healthcheck endpoint to validate that the service is running.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/healthCheckResource"
              examples:
                Success:
                  value:
                    status: UP
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "503":
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "504":
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
  /tokens:
    post:
      summary: Token provisioning request.
      operationId: v1ProvisionToken
      tags:
        - Token Processing
      description: Provision a token for a payment instrument.
      parameters:
        - name: merchantId
          in: header
          required: true
          schema:
            type: string
            minLength: 8
            maxLength: 12
          description: Identifier for the merchant account.
          examples:
            Visa card tokenization:
              value: "991234567890"
            MasterCard tokenization:
              value: "991234567891"
            Amex tokenization:
              value: "991234567892"
        - name: requestId
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: Merchant identifier for the request. The value must be unique.
          examples:
            Visa card tokenization:
              value: 10cc0270-7bed-11e9-a188-1763956dd7f6
            MasterCard tokenization:
              value: 11cc0270-7bed-11e9-a188-1763956dd7f6
            Amex tokenization:
              value: 12cc0270-7bed-11e9-a188-1763956dd7f6
      requestBody:
        description: Token Provision request
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/tokenProvisionRequest"
            examples:
              Visa card tokenization:
                value:
                  device:
                    deviceType: PHONE
                    deviceIPAddress: 127.0.0.1
                    deviceLocale: en-US
                    deviceLatLong: 40, -73
                    deviceMake: Samsung
                    deviceOS: ANDROID
                    deviceOsVersion: "12"
                    digitalDeviceIdentifier: ahd896384d
                    deviceGeoLocationCaptureTimestamp: 2021-09-08T21:01:20.945Z
                    deviceName: Samsung_Android
                    walletId: "123"
                  accountInformation:
                    accountholderName: John Doe
                    accountholderEmail: test@test.com
                    accountType: GUEST
                    accountHolderReference: e5ad0fd0-4f92-4df
                    cardNumber: "4111111111111111"
                    billingAddress:
                      addressLine1: 7825 N MacArthur Blvd
                      addressLine2: Lewisville Mall
                      city: Irving
                      stateProvince: TX
                      postalCode: "72638"
                      countryCode: US
                    cardExpiry:
                      month: 11
                      year: 2022
                    cardSource: KEY_ENTERED
                    cardVerificationNumber: "325"
                  riskInformation:
                    walletRisk:
                      walletScore: 15
                      walletUsageLength: 94
                      walletTransactions: 35
                      walletNameMatch: true
                    cardRisk:
                      cardScore: 23
                      cardUsageLength: 249
                    deviceRisk:
                      deviceScore: 19
                      deviceUsageLength: 193
                      deviceTokenCount: 2
                      deviceCountry: US
                    userRisk:
                      userScore: 38
                      userUsageLength: 49
                      userTokenCount: 2
                      userWalletCount: 1
                      userCountry: US
                      newUserAccount: false
                      onFileTime: 37
                  presentationModes:
                    - ECOM
                  recommendationPath: APPROVED
              MasterCard tokenization:
                value:
                  device:
                    deviceType: PHONE
                    deviceIPAddress: 127.0.0.1
                    deviceLocale: en-US
                    deviceLatLong: 40, -73
                    deviceMake: Samsung
                    deviceOS: ANDROID
                    deviceOsVersion: "12"
                    digitalDeviceIdentifier: ahd896384d
                    deviceGeoLocationCaptureTimestamp: 2021-09-08T21:01:20.945Z
                    deviceName: Samsung_Android
                    walletId: "123"
                  accountInformation:
                    accountholderName: John Doe
                    accountholderEmail: test@test.com
                    accountType: GUEST
                    accountHolderReference: e5ad0fd0-4f92-4df
                    cardNumber: "5204740000001002"
                    billingAddress:
                      addressLine1: 7825 N MacArthur Blvd
                      addressLine2: Lewisville Mall
                      city: Irving
                      stateProvince: TX
                      postalCode: "72638"
                      countryCode: US
                    cardExpiry:
                      month: 11
                      year: 2022
                    cardSource: KEY_ENTERED
                    cardVerificationNumber: "325"
                  riskInformation:
                    walletRisk:
                      walletScore: 15
                      walletUsageLength: 94
                      walletTransactions: 35
                      walletNameMatch: true
                    cardRisk:
                      cardScore: 23
                      cardUsageLength: 249
                    deviceRisk:
                      deviceScore: 19
                      deviceUsageLength: 193
                      deviceTokenCount: 2
                      deviceCountry: US
                    userRisk:
                      userScore: 38
                      userUsageLength: 49
                      userTokenCount: 2
                      userWalletCount: 1
                      userCountry: US
                      newUserAccount: false
                      onFileTime: 37
                  presentationModes:
                    - ECOM
                  recommendationPath: APPROVED
              Amex tokenization:
                value:
                  device:
                    deviceType: PHONE
                    deviceIPAddress: 127.0.0.1
                    deviceLocale: en-US
                    deviceLatLong: 40, -73
                    deviceMake: Samsung
                    deviceOS: ANDROID
                    deviceOsVersion: "12"
                    digitalDeviceIdentifier: ahd896384d
                    deviceGeoLocationCaptureTimestamp: 2021-09-08T21:01:20.945Z
                    deviceName: Samsung_Android
                    walletId: "123"
                  accountInformation:
                    accountholderName: John Doe
                    accountholderEmail: test@test.com
                    accountType: GUEST
                    accountHolderReference: e5ad0fd0-4f92-4df
                    cardNumber: "340000000000001"
                    billingAddress:
                      addressLine1: 7825 N MacArthur Blvd
                      addressLine2: Lewisville Mall
                      city: Irving
                      stateProvince: TX
                      postalCode: "72638"
                      countryCode: US
                    cardExpiry:
                      month: 11
                      year: 2022
                    cardSource: KEY_ENTERED
                    cardVerificationNumber: "3251"
                  riskInformation:
                    walletRisk:
                      walletScore: 15
                      walletUsageLength: 94
                      walletTransactions: 35
                      walletNameMatch: true
                    cardRisk:
                      cardScore: 23
                      cardUsageLength: 249
                    deviceRisk:
                      deviceScore: 19
                      deviceUsageLength: 193
                      deviceTokenCount: 2
                      deviceCountry: US
                    userRisk:
                      userScore: 38
                      userUsageLength: 49
                      userTokenCount: 2
                      userWalletCount: 1
                      userCountry: US
                      newUserAccount: false
                      onFileTime: 37
                  presentationModes:
                    - ECOM
                  recommendationPath: APPROVED
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/tokenProvisionResponse"
              examples:
                Visa card tokenization:
                  value:
                    identifier: fb0dabc0-da2c-46b6-b3a3-8fc6d3185e08
                    timestamp: 2021-09-15T19:08:19.097Z
                    tokenInformation:
                      tokenNumber: "4761340000000019"
                      expiry:
                        month: 11
                        year: 2022
                      tokenReferenceIdentifier: af0a77c2-3810-457f-8d47-807bab406df8
                      tokenizationApprovalStatus: APPROVED
                      cardReferenceNumber: 73ebcc62-56c0-41d2-b70a-4ede8cd700ff
                      cardTokenStatus: ACTIVE
                      cardLast4Digits: "1111"
                      cardBrand: VISA
                    cardMetaData:
                      cardArtUrl: http://cardArtUrl.com
                      backgroundCardGraphicsColor: "#000000"
                      foregroundCardGraphicsColor: "#FFFFFF"
                      labelCardGraphicsColor: "#C0C0C0"
                      cardDescription: The Bank Chase Card
                      issuerInformation:
                        cardIssuer: Bank Example
                        cardIssuerEmailAddress: bank@example.com
                        issuerWebsiteURL: bank.com
                        cardIssuerCustomerServiceTelephone: "400800393"
                        issuerOnlineBankingURL: onlinebanking.com
                        issuerIconURL: http://logo.png
                        issuerPrivacyURLText: privacypolicybank.com
                        issuerLogoURLText: banklogo.com
                        issuerApplicationOS: IOS
                        issuerAppName: bankmobileapp
                        issuerAppAddress: com.bank.appname
                      cardShortDescription: The Bank Card
                      cardTermsAndConditionsIdentifier: 37629726-58cf-4fbb-a2bd-457614704be4
                      cardTermsAndConditionsURL: http://termsAndConditionsUrl.com
                      cardAssetData:
                        - assetReferenceIdentifier: 3801a454c0b84de883f5432815ded5f5
                          assetType: ICON_ISSUER
                          mimeType: IMAGE/PNG
                          pixelHeight: 100
                          pixelWidth: 100
                    requestIdentifier: 276ac797-8754-4ab8-a0b7-87da568e4d6d
                    responseStatus: SUCCESS
                    responseCode: APPROVED
                    responseMessage: The request is well received
                MasterCard tokenization:
                  value:
                    identifier: fb0dabc0-da2c-46b6-b3a3-8fc6d3185e08
                    timestamp: 2021-09-15T19:08:19.097Z
                    tokenInformation:
                      tokenNumber: "5000010000000019"
                      expiry:
                        month: 11
                        year: 2022
                      tokenReferenceIdentifier: af0a77c2-3810-457f-8d47-807bab406df8
                      tokenizationApprovalStatus: APPROVED
                      cardReferenceNumber: 73ebcc62-56c0-41d2-b70a-4ede8cd700ff
                      cardTokenStatus: ACTIVE
                      cardLast4Digits: "1002"
                      cardBrand: MASTERCARD
                    cardMetaData:
                      cardArtUrl: http://cardArtUrl.com
                      backgroundCardGraphicsColor: "#000000"
                      foregroundCardGraphicsColor: "#FFFFFF"
                      labelCardGraphicsColor: "#C0C0C0"
                      cardDescription: The Bank Chase Card
                      issuerInformation:
                        cardIssuer: Bank Example
                        cardIssuerEmailAddress: bank@example.com
                        issuerWebsiteURL: bank.com
                        cardIssuerCustomerServiceTelephone: "400800393"
                        issuerOnlineBankingURL: onlinebanking.com
                        issuerIconURL: http://logo.png
                        issuerPrivacyURLText: privacypolicybank.com
                        issuerLogoURLText: banklogo.com
                        issuerApplicationOS: IOS
                        issuerAppName: bankmobileapp
                        issuerAppAddress: com.bank.appname
                      cardShortDescription: The Bank Card
                      cardTermsAndConditionsIdentifier: 37629726-58cf-4fbb-a2bd-457614704be4
                      cardTermsAndConditionsURL: http://termsAndConditionsUrl.com
                      cardAssetData:
                        - assetReferenceIdentifier: 3801a454c0b84de883f5432815ded5f5
                          assetType: ICON_ISSUER
                          mimeType: IMAGE/PNG
                          pixelHeight: 100
                          pixelWidth: 100
                    requestIdentifier: 276ac797-8754-4ab8-a0b7-87da568e4d6d
                    responseStatus: SUCCESS
                    responseCode: APPROVED
                    responseMessage: The request is well received
                Amex tokenization:
                  value:
                    identifier: fb0dabc0-da2c-46b6-b3a3-8fc6d3185e08
                    timestamp: 2022-09-09T19:08:19.097Z
                    tokenInformation:
                      tokenNumber: "340000000001000"
                      expiry:
                        month: 11
                        year: 2022
                      tokenReferenceIdentifier: af0a77c2-3810-457f-8d47-807bab406df8
                      tokenizationApprovalStatus: APPROVED
                      cardReferenceNumber: 73ebcc62-56c0-41d2-b70a-4ede8cd700ff
                      cardTokenStatus: ACTIVE
                      cardLast4Digits: "0001"
                      cardBrand: AMEX
                    cardMetaData:
                      cardArtUrl: http://cardArtUrl.com
                      backgroundCardGraphicsColor: "#000000"
                      foregroundCardGraphicsColor: "#FFFFFF"
                      labelCardGraphicsColor: "#C0C0C0"
                      cardDescription: The Bank Chase Card
                      issuerInformation:
                        cardIssuer: Bank Example
                        cardIssuerEmailAddress: bank@example.com
                        issuerWebsiteURL: bank.com
                        cardIssuerCustomerServiceTelephone: "400800393"
                        issuerOnlineBankingURL: onlinebanking.com
                        issuerIconURL: http://logo.png
                        issuerPrivacyURLText: privacypolicybank.com
                        issuerLogoURLText: banklogo.com
                        issuerApplicationOS: IOS
                        issuerAppName: bankmobileapp
                        issuerAppAddress: com.bank.appname
                      cardShortDescription: The Bank Card
                      cardTermsAndConditionsIdentifier: 37629726-58cf-4fbb-a2bd-457614704be4
                      cardTermsAndConditionsURL: http://termsAndConditionsUrl.com
                      cardAssetData:
                        - assetReferenceIdentifier: 3801a454c0b84de883f5432815ded5f5
                          assetType: ICON_ISSUER
                          mimeType: IMAGE/PNG
                          pixelHeight: 100
                          pixelWidth: 100
                    requestIdentifier: 276ac797-8754-4ab8-a0b7-87da568e4d6d
                    responseStatus: SUCCESS
                    responseCode: APPROVED
                    responseMessage: The request is well received
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adfsError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/tokenProvisionDuplicateResponse"
              examples:
                Resource Not Found:
                  value:
                    responseCode: DUPLICATE
                    responseMessage: This request has already been processed
                    payload:
                      identifier: fb0dabc0-da2c-46b6-b3a3-8fc6d3190e98
                      requestIdentifier: fb0dabc0-da2c-46b6-b3a3-8fc6d3185e08
                      tokenReferenceIdentifier: fb0dabc0-da2c-46b6-b3a3-8fc6d3185e09
                      cardMetaData:
                        cardArtUrl: http://cardArtUrl.com
                        backgroundCardGraphicsColor: "#000000"
                        foregroundCardGraphicsColor: "#FFFFFF"
                        labelCardGraphicsColor: "#C0C0C0"
                        cardDescription: The Bank Chase Card
                        issuerInformation:
                          cardIssuer: Bank Example
                          cardIssuerEmailAddress: bank@example.com
                          issuerWebsiteURL: bank.com
                          cardIssuerCustomerServiceTelephone: "400800393"
                          issuerOnlineBankingURL: onlinebanking.com
                          issuerIconURL: http://logo.png
                          issuerPrivacyURLText: privacypolicybank.com
                          issuerLogoURLText: banklogo.com
                          issuerApplicationOS: IOS
                          issuerAppName: bankmobileapp
                          issuerAppAddress: com.bank.appname
                        cardShortDescription: The Bank Card
                        cardTermsAndConditionsIdentifier: 37629726-58cf-4fbb-a2bd-457614704be4
                        cardTermsAndConditionsURL: http://termsAndConditionsUrl.com
                        cardAssetData:
                          - assetReferenceIdentifier: 3801a454c0b84de883f5432815ded5f5
                            assetType: ICON_ISSUER
                            mimeType: IMAGE/PNG
                            pixelHeight: 100
                            pixelWidth: 100
        "412":
          description: Precondition Failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "503":
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "504":
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
  /cryptograms:
    post:
      summary: Token cryptogram request.
      operationId: v1CreateCryptogram
      tags:
        - Cryptograms Request
      description: Request a cryptogram for a network token. The request can be initiated using either the tokenNumber or tokenReferenceIdentifier field.
      parameters:
        - name: merchantId
          in: header
          required: true
          schema:
            type: string
            minLength: 8
            maxLength: 12
          description: Identifier for the merchant account.
          examples:
            Visa cryptogram request:
              value: "991234567890"
            MasterCard cryptogram request:
              value: "991234567891"
            Amex cryptogram request:
              value: "991234567892"
        - name: requestId
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: Merchant identifier for the request. The value must be unique.
          examples:
            Visa cryptogram request:
              value: 10cc0270-7bed-11e9-a188-1763956dd7f6
            MasterCard cryptogram request:
              value: 11cc0270-7bed-11e9-a188-1763956dd7f6
            Amex cryptogram request:
              value: 12cc0270-7bed-11e9-a188-1763956dd7f6
      requestBody:
        description: Request a cryptogram for a token for payment processing.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/tokenCryptogramRequest"
            examples:
              Visa cryptogram request:
                value:
                  paymentOrder:
                    amounts:
                      amount: 1234
                      currency: USD
                    device:
                      deviceType: PHONE
                      deviceIPAddress: 192.168.1.78
                      deviceLocale: en-US
                      deviceLatLong: 40, -73
                      deviceMake: Samsung
                      deviceOS: ANDROID
                      deviceOsVersion: "12.0"
                      digitalDeviceIdentifier: ahd896384d
                      deviceGeoLocationCaptureTimestamp: 2021-09-08T21:01:20.945Z
                      deviceName: Samsung_Android
                      walletId: "123"
                    initiatedBy: CARDHOLDER
                    transactionType: ECOMMERCE
                  paymentInstrument:
                    accountholderName: Jane Doe
                    tokenReferenceIdentifier: 205c9a37-ae4a-4cb5-8c9a-75de746500b5
                    tokenNumber: "4111111111111111"
                    electronicCommerceIndicator: "02"
                    expiry:
                      month: 12
                      year: 2022
                    tokenAuthenticationValue: AgAAABBBBq1IZrIDlcLmQD4AAAA=
                  tokenCryptogramType: TAVV
              MasterCard cryptogram request:
                value:
                  paymentOrder:
                    amounts:
                      amount: 1234
                      currency: USD
                    device:
                      deviceType: PHONE
                      deviceIPAddress: 192.168.1.78
                      deviceLocale: en-US
                      deviceLatLong: 40, -73
                      deviceMake: Samsung
                      deviceOS: ANDROID
                      deviceOsVersion: "12.0"
                      digitalDeviceIdentifier: ahd896384d
                      deviceGeoLocationCaptureTimestamp: 2021-09-08T21:01:20.945Z
                      deviceName: Samsung_Android
                      walletId: "123"
                    initiatedBy: CARDHOLDER
                    transactionType: ECOMMERCE
                  paymentInstrument:
                    accountholderName: Jane Doe
                    tokenReferenceIdentifier: 205c9a37-ae4a-4cb5-8c9a-75de746500b5
                    tokenNumber: "5011111111111111"
                    electronicCommerceIndicator: "02"
                    expiry:
                      month: 12
                      year: 2022
                    tokenAuthenticationValue: AgAAABBBBq1IZrIDlcLmQD4AAAA=
                  tokenCryptogramType: UCAF
                  randomNumber: "19283765"
              Amex cryptogram request:
                value:
                  paymentOrder:
                    amounts:
                      amount: 1234
                      currency: USD
                    device:
                      deviceType: PHONE
                      deviceIPAddress: 192.168.1.78
                      deviceLocale: en-US
                      deviceLatLong: 40, -73
                      deviceMake: Samsung
                      deviceOS: ANDROID
                      deviceOsVersion: "12.0"
                      digitalDeviceIdentifier: ahd896384d
                      deviceGeoLocationCaptureTimestamp: 2021-09-08T21:01:20.945Z
                      deviceName: Samsung_Android
                      walletId: "123"
                    initiatedBy: CARDHOLDER
                    transactionType: ECOMMERCE
                  paymentInstrument:
                    accountholderName: Jane Doe
                    tokenReferenceIdentifier: 205c9a37-ae4a-4cb5-8c9a-75de746500b5
                    tokenNumber: "340000000001000"
                    electronicCommerceIndicator: "07"
                    expiry:
                      month: 12
                      year: 2022
                    tokenAuthenticationValue: "9876"
                  tokenCryptogramType: DCSC
                  randomNumber: "19283765"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/tokenCryptogramResponse"
              examples:
                Visa cryptogram request:
                  value:
                    identifier: f47eb287-f561-4493-921f-ebec52453797
                    timestamp: 2021-09-15T19:43:59.856Z
                    paymentInstrument:
                      accountholderName: Jane Doe
                      tokenReferenceIdentifier: 205c9a37-ae4a-4cb5-8c9a-75de746500b5
                      tokenNumber: "4111111111111111"
                      electronicCommerceIndicator: "02"
                      expiry:
                        month: 12
                        year: 2022
                      tokenAuthenticationValue: AgAAABBBBq1IZrIDlcLmQD4AAAA=
                    paymentOrder:
                      amounts:
                        amount: 1234
                        currency: USD
                      device:
                        deviceType: PHONE
                        deviceIPAddress: 192.168.1.78
                        deviceLocale: en-US
                        deviceLatLong: 40, -73
                        deviceMake: Samsung
                        deviceOS: ANDROID
                        deviceOsVersion: "12.0"
                        digitalDeviceIdentifier: ahd896384d
                        deviceGeoLocationCaptureTimestamp: 2021-09-08T21:01:20.945Z
                        deviceName: Samsung_Android
                        walletId: "123"
                      initiatedBy: CARDHOLDER
                      transactionType: ECOMMERCE
                    requestIdentifier: 1162bba1-d14e-4e49-b870-0d30d599245f
                    responseStatus: SUCCESS
                    responseCode: ACCEPTED
                    responseMessage: The request is well received.
                MasterCard cryptogram request:
                  value:
                    identifier: f47eb287-f561-4493-921f-ebec52453797
                    timestamp: 2021-09-15T19:43:59.856Z
                    paymentInstrument:
                      accountholderName: Jane Doe
                      tokenReferenceIdentifier: 205c9a37-ae4a-4cb5-8c9a-75de746500b5
                      tokenNumber: "5011111111111111"
                      electronicCommerceIndicator: "02"
                      expiry:
                        month: 12
                        year: 2022
                      tokenAuthenticationValue: AgAAABBBBq1IZrIDlcLmQD4AAAA=
                    paymentOrder:
                      amounts:
                        amount: 1234
                        currency: USD
                      device:
                        deviceType: PHONE
                        deviceIPAddress: 192.168.1.78
                        deviceLocale: en-US
                        deviceLatLong: 40, -73
                        deviceMake: Samsung
                        deviceOS: ANDROID
                        deviceOsVersion: "12.0"
                        digitalDeviceIdentifier: ahd896384d
                        deviceGeoLocationCaptureTimestamp: 2021-09-08T21:01:20.945Z
                        deviceName: Samsung_Android
                        walletId: "123"
                      initiatedBy: CARDHOLDER
                      transactionType: ECOMMERCE
                    requestIdentifier: 1162bba1-d14e-4e49-b870-0d30d599245f
                    responseStatus: SUCCESS
                    responseCode: ACCEPTED
                    responseMessage: The request is well received.
                Amex cryptogram request:
                  value:
                    identifier: f47eb287-f561-4493-921f-ebec52453797
                    timestamp: 2021-09-15T19:43:59.856Z
                    paymentInstrument:
                      accountholderName: Jane Doe
                      tokenReferenceIdentifier: 205c9a37-ae4a-4cb5-8c9a-75de746500b5
                      tokenNumber: "340000000001000"
                      electronicCommerceIndicator: "07"
                      expiry:
                        month: 12
                        year: 2022
                      tokenAuthenticationValue: "9876"
                    paymentOrder:
                      amounts:
                        amount: 1234
                        currency: USD
                      device:
                        deviceType: PHONE
                        deviceIPAddress: 192.168.1.78
                        deviceLocale: en-US
                        deviceLatLong: 40, -73
                        deviceMake: Samsung
                        deviceOS: ANDROID
                        deviceOsVersion: "12.0"
                        digitalDeviceIdentifier: ahd896384d
                        deviceGeoLocationCaptureTimestamp: 2021-09-08T21:01:20.945Z
                        deviceName: Samsung_Android
                        walletId: "123"
                      initiatedBy: CARDHOLDER
                      transactionType: ECOMMERCE
                    requestIdentifier: 1162bba1-d14e-4e49-b870-0d30d599245f
                    responseStatus: SUCCESS
                    responseCode: ACCEPTED
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adfsError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "412":
          description: Precondition Failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "503":
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "504":
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
  "/tokens/{token-reference-id}":
    get:
      summary: Request token information.
      operationId: v1GetTokenByTokenReferenceId
      tags:
        - Token Processing
      description: Request information about a token.
      parameters:
        - name: merchantId
          in: header
          required: true
          schema:
            type: string
            example: "991234567890"
            minLength: 8
            maxLength: 12
          description: Identifier for the merchant account.
          examples:
            Success:
              value: "991234567890"
            Error:
              value: "991234567891"
        - name: requestId
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: Merchant identifier for the request. The value must be unique.
          examples:
            Success:
              value: 10cc0270-7bed-11e9-a188-1763956dd7f6
            Error:
              value: 20cc0270-7bed-11e9-a188-1763956dd7f6
        - name: token-reference-id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Reference identifier for a specific token.
          examples:
            Success:
              value: fb0dabc0-da2c-46b6-b3a3-8fc6d3190e88
            Error:
              value: fb0dabc0-da2c-46b6-b3a3-8fc6d3190e98
        - name: tokenRequestorId
          in: header
          schema:
            type: string
          description: Identifies a unique occurrence of the pairing of the token requestor with the token domain.
          examples:
            Success:
              value: "10012345678"
            Error:
              value: "10012345688"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/tokenInformationResponse"
              examples:
                Success:
                  value:
                    identifier: fb0dabc0-da2c-46b6-b3a3-8fc6d3190e98
                    timestamp: 2021-09-15T19:52:48.801Z
                    paymentInstrument:
                      tokenReferenceIdentifier: fb0dabc0-da2c-46b6-b3a3-8fc6d3190e88
                      cardTokenStatus: ACTIVE
                      stateChangeReason: RESUME
                      stateChangeTimestamp: 2021-09-15T19:52:48.801Z
                    requestIdentifier: 10cc0270-7bed-11e9-a188-1763956dd7f6
                    responseStatus: SUCCESS
                    responseCode: ACCEPTED
                    responseMessage: The request is well received.
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adfsError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
              examples:
                Error:
                  value:
                    responseStatus: ERROR
                    responseCode: NOT_FOUND
                    responseMessage: Transaction was not found
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "503":
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "504":
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
  "/tokens/{token-reference-id}/lifecycle-states":
    patch:
      summary: Token lifecycle management request.
      operationId: v1UpdateTokenStateByTokenReferenceId
      tags:
        - Token Lifecycle Management
      description: Manages the token lifecycle state.
      parameters:
        - name: merchantId
          in: header
          required: true
          schema:
            type: string
            minLength: 8
            maxLength: 12
          description: Identifier for the merchant account.
          examples:
            Lifecycle SUSPEND request:
              value: "991234567890"
            Lifecycle RESUME request:
              value: "991234567891"
            Lifecycle DELETE request:
              value: "991234567892"
        - name: requestId
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: Merchant identifier for the request. The value must be unique.
          examples:
            Lifecycle SUSPEND request:
              value: 10cc0270-7bed-11e9-a188-1763956dd7f6
            Lifecycle RESUME request:
              value: 11cc0270-7bed-11e9-a188-1763956dd7f6
            Lifecycle DELETE request:
              value: 12cc0270-7bed-11e9-a188-1763956dd7f6
        - name: token-reference-id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Reference identifier for a specific token.
          examples:
            Lifecycle SUSPEND request:
              value: fb0dabc0-da2c-46b6-b3a3-8fc6d3190e88
            Lifecycle RESUME request:
              value: fb0dabc0-da2c-46b6-b3a3-8fc6d3190e98
            Lifecycle DELETE request:
              value: fb0dabc0-da2c-46b6-b3a3-8fc6d3190e68
      requestBody:
        description: Token Lifecycle Management
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/tokenLifecycleRequest"
            examples:
              Lifecycle SUSPEND request:
                value:
                  paymentInstrument:
                    lifecycleManagementAction:
                      stateChangeReason: SUSPEND
                      stateChangeReasonText: Consumer suspended subscription
              Lifecycle RESUME request:
                value:
                  paymentInstrument:
                    lifecycleManagementAction:
                      stateChangeReason: RESUME
                      stateChangeReasonText: Consumer resumed subscription
              Lifecycle DELETE request:
                value:
                  paymentInstrument:
                    lifecycleManagementAction:
                      stateChangeReason: DELETE
                      stateChangeReasonText: Consumer cancelled subscription
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/tokenLifecycleResponse"
              examples:
                Lifecycle SUSPEND request:
                  value:
                    identifier: d389b100-37b1-4239-96f3-7340a75045c6
                    timestamp: 2021-09-15T19:52:48.801Z
                    cardTokenStatus: SUSPENDED
                    stateChangeReason: SUSPEND
                    tokenReferenceIdentifier: fb0dabc0-da2c-46b6-b3a3-8fc6d3190e88
                    requestIdentifier: 10cc0270-7bed-11e9-a188-1763956dd7f6
                    responseStatus: SUCCESS
                    responseCode: ACCEPTED
                    responseMessage: The request is well received.
                Lifecycle RESUME request:
                  value:
                    identifier: d389b100-37b1-4239-96f3-7340a75045c6
                    timestamp: 2021-09-15T19:52:48.801Z
                    cardTokenStatus: ACTIVE
                    stateChangeReason: RESUME
                    tokenReferenceIdentifier: fb0dabc0-da2c-46b6-b3a3-8fc6d3190e98
                    requestIdentifier: 11cc0270-7bed-11e9-a188-1763956dd7f6
                    responseStatus: SUCCESS
                    responseCode: ACCEPTED
                    responseMessage: The request is well received.
                Lifecycle DELETE request:
                  value:
                    identifier: d389b100-37b1-4239-96f3-7340a75045c6
                    timestamp: 2021-09-15T19:52:48.801Z
                    cardTokenStatus: DELETED
                    stateChangeReason: DELETE
                    tokenReferenceIdentifier: fb0dabc0-da2c-46b6-b3a3-8fc6d3190e68
                    requestIdentifier: 12cc0270-7bed-11e9-a188-1763956dd7f6
                    responseStatus: SUCCESS
                    responseCode: ACCEPTED
                    responseMessage: The request is well received.
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adfsError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "412":
          description: Precondition Failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "503":
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "504":
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
    get:
      summary: Request token states.
      operationId: v1GetTokenStateByTokenReferenceId
      tags:
        - Token Lifecycle Management
      description: Request token lifecycle state information.
      parameters:
        - name: tokenRequestorId
          in: header
          schema:
            type: string
          description: Identifies a unique occurrence of the pairing of the token requestor with the token domain.
          examples:
            Success:
              value: "10012345678"
            Error:
              value: "10012345688"
        - name: merchantId
          in: header
          required: true
          schema:
            type: string
            example: "991234567890"
            minLength: 8
            maxLength: 12
          description: Identifier for the merchant account.
          examples:
            Success:
              value: "991234567890"
            Error:
              value: "991234567891"
        - name: requestId
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: Merchant identifier for the request. The value must be unique.
          examples:
            Success:
              value: 10cc0270-7bed-11e9-a188-1763956dd7f6
            Error:
              value: 20cc0270-7bed-11e9-a188-1763956dd7f6
        - name: token-reference-id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Reference identifier for a specific token.
          examples:
            Success:
              value: fb0dabc0-da2c-46b6-b3a3-8fc6d3190e88
            Error:
              value: fb0dabc0-da2c-46b6-b3a3-8fc6d3190e98
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/tokenInformationResponse"
              examples:
                Success:
                  value:
                    identifier: fb0dabc0-da2c-46b6-b3a3-8fc6d3190e98
                    timestamp: 2021-09-15T19:52:48.801Z
                    paymentInstrument:
                      tokenReferenceIdentifier: fb0dabc0-da2c-46b6-b3a3-8fc6d3190e88
                      cardTokenStatus: ACTIVE
                      stateChangeReason: RESUME
                      stateChangeTimestamp: 2021-09-15T19:52:48.801Z
                    requestIdentifier: 10cc0270-7bed-11e9-a188-1763956dd7f6
                    responseStatus: SUCCESS
                    responseCode: ACCEPTED
                    responseMessage: The request is well received.
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adfsError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
              examples:
                Error:
                  value:
                    responseStatus: ERROR
                    responseCode: NOT_FOUND
                    responseMessage: Transaction was not found
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "503":
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "504":
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
  "/tokens/{token-reference-id}/details":
    get:
      summary: Request token details.
      operationId: v1GetTokenDetailsByTokenReferenceId
      tags:
        - Token Processing
      description: Request details about a token.
      parameters:
        - name: merchantId
          in: header
          required: true
          schema:
            type: string
            example: "991234567890"
            minLength: 8
            maxLength: 12
          description: Identifier for the merchant account.
          examples:
            Success:
              value: "991234567890"
            Error:
              value: "991234567891"
        - name: requestId
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: Merchant identifier for the request. The value must be unique.
          examples:
            Success:
              value: 10cc0270-7bed-11e9-a188-1763956dd7f6
            Error:
              value: 20cc0270-7bed-11e9-a188-1763956dd7f6
        - name: tokenRequestorId
          in: header
          schema:
            type: string
          description: Identifies a unique occurrence of the pairing of the token requestor with the token domain.
          examples:
            Success:
              value: "10012345678"
            Error:
              value: "10012345688"
        - name: token-reference-id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Reference identifier for a specific token.
          examples:
            Success:
              value: fb0dabc0-da2c-46b6-b3a3-8fc6d3190e88
            Error:
              value: fb0dabc0-da2c-46b6-b3a3-8fc6d3190e98
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/tokenProvisionResponse"
              examples:
                Success:
                  value:
                    identifier: fb0dabc0-da2c-46b6-b3a3-8fc6d3185e08
                    timestamp: 2022-09-09T19:08:19.097Z
                    tokenInformation:
                      tokenNumber: "340000000001000"
                      expiry:
                        month: 11
                        year: 2022
                      tokenReferenceIdentifier: fb0dabc0-da2c-46b6-b3a3-8fc6d3190e88
                      tokenizationApprovalStatus: APPROVED
                      cardReferenceNumber: 73ebcc62-56c0-41d2-b70a-4ede8cd700ff
                      cardTokenStatus: ACTIVE
                      cardLast4Digits: "0001"
                      cardBrand: VISA
                    cardMetaData:
                      cardArtUrl: http://cardArtUrl.com
                      backgroundCardGraphicsColor: "#000000"
                      foregroundCardGraphicsColor: "#FFFFFF"
                      labelCardGraphicsColor: "#C0C0C0"
                      cardDescription: The Bank Chase Card
                      issuerInformation:
                        cardIssuer: Bank Example
                        cardIssuerEmailAddress: bank@example.com
                        issuerWebsiteURL: bank.com
                        cardIssuerCustomerServiceTelephone: "400800393"
                        issuerOnlineBankingURL: onlinebanking.com
                        issuerIconURL: http://logo.png
                        issuerPrivacyURLText: privacypolicybank.com
                        issuerLogoURLText: banklogo.com
                        issuerApplicationOS: IOS
                        issuerAppName: bankmobileapp
                        issuerAppAddress: com.bank.appname
                      cardShortDescription: The Bank Card
                      cardTermsAndConditionsIdentifier: 37629726-58cf-4fbb-a2bd-457614704be4
                      cardTermsAndConditionsURL: http://termsAndConditionsUrl.com
                      cardAssetData:
                        - assetReferenceIdentifier: 3801a454c0b84de883f5432815ded5f5
                          assetType: ICON_ISSUER
                          mimeType: IMAGE/PNG
                          pixelHeight: 100
                          pixelWidth: 100
                    requestIdentifier: 276ac797-8754-4ab8-a0b7-87da568e4d6d
                    responseStatus: SUCCESS
                    responseCode: APPROVED
                    responseMessage: The request is well received
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adfsError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
              examples:
                Error:
                  value:
                    responseStatus: ERROR
                    responseCode: NOT_FOUND
                    responseMessage: Transaction was not found
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "503":
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "504":
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
  "/tokens/{token-reference-id}/assets/{asset-reference-id}":
    get:
      summary: Request token assets.
      operationId: v1GetTokenAssetsByTokenAndAssetReferenceIds
      tags:
        - Token Processing
      description: Request token assets containing card art and other details.
      parameters:
        - name: merchantId
          in: header
          required: true
          schema:
            type: string
            example: "991234567890"
            minLength: 8
            maxLength: 12
          description: Identifier for the merchant account.
          examples:
            Success:
              value: "991234567890"
            Error:
              value: "991234567891"
        - name: requestId
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: Merchant identifier for the request. The value must be unique.
          examples:
            Success:
              value: 10cc0270-7bed-11e9-a188-1763956dd7f6
            Error:
              value: 20cc0270-7bed-11e9-a188-1763956dd7f6
        - name: token-reference-id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Reference identifier for a specific token.
          examples:
            Success:
              value: fb0dabc0-da2c-46b6-b3a3-8fc6d3190e88
            Error:
              value: fb0dabc0-da2c-46b6-b3a3-8fc6d3190e98
        - name: asset-reference-id
          in: path
          required: true
          schema:
            type: string
          description: Reference identifier for a specific asset.
          examples:
            Success:
              value: 3801a454c0b84de883f5432815ded5f5
            Error:
              value: 4801a454c0b84de883f5432815ded5f5
        - name: tokenRequestorId
          in: header
          schema:
            type: string
          description: Identifies a unique occurrence of the pairing of the token requestor with the token domain.
          examples:
            Success:
              value: "10012345678"
            Error:
              value: "10012345678"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/tokenAssetResponse"
              examples:
                Success:
                  value:
                    identifier: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                    timestamp: 2022-09-11T15:25:35.950Z
                    cardAssetData:
                      - assetReferenceIdentifier: 3801a454c0b84de883f5432815ded5f5
                        assetType: ICON_ISSUER
                        mimeType: IMAGE/PNG
                        pixelHeight: 100
                        pixelWidth: 100
                    requestIdentifier: 10cc0270-7bed-11e9-a188-1763956dd7f6
                    responseStatus: SUCCESS
                    responseCode: ACCEPTED
                    responseMessage: Request Accepted
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adfsError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
              examples:
                Error:
                  value:
                    responseStatus: ERROR
                    responseCode: NOT_FOUND
                    responseMessage: Transaction was not found
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "503":
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "504":
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
  /bulk-tokens:
    post:
      summary: Process Bulk Tokens
      operationId: v1BulkTokenPost
      tags:
        - Bulk Operation
      description: Request bulk upload of token request
      parameters:
        - name: merchantId
          in: header
          required: true
          schema:
            type: string
            minLength: 8
            maxLength: 12
          description: Identifier for the merchant account.
          examples:
            Successful Bulk Tokenization:
              value: "991234567890"
        - name: requestId
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: Merchant identifier for the request. The value must be unique.
          examples:
            Successful Bulk Tokenization:
              value: 20cc0270-7bed-11e9-a188-1763956dd7f6
        - name: isEncrypted
          in: header
          schema:
            type: boolean
            example: true
          description: Indicates the message body of a transmitted message containing the actual data for a specific purpose is encrypted.
          examples:
            Successful Bulk Tokenization:
              value: true
      requestBody:
        description: Process Bulk Tokens
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                fileRecordCount:
                  description: Enumerates the quantity of records in a data object that is processed or transmitted.
                  type: integer
                  format: int32
                  example: 10
                merchantFileIdentifier:
                  description: A unique number assigned to a data file containing one or more records that is processed or transmitted. In this context, this is the unique identifier of the file provided by merchant.
                  type: string
                  example: "123"
                fileName:
                  description: The label given to a data file containing zero or more records that is processed or transmitted.
                  type: string
                  example: sample-123.txt
                fileCreationDate:
                  description: Designates the year, month and day on which the file was created.
                  type: string
                  example: 09/08/2022
                fileData:
                  description: Merchant provided data in base64 encoded format for token update.
                  type: string
          application/json:
            schema:
              $ref: "#/components/schemas/tokenBulkRequest"
            examples:
              Successful Bulk Tokenization:
                value:
                  fileRecordCount: 10
                  merchantFileIdentifier: "123"
                  fileName: sample-123.txt
                  fileCreationDate: 09/08/2022
                  fileData: 0,123456789012,20220124,D,PAN2NWT
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/tokenBulkPostResponse"
              examples:
                Successful Bulk Tokenization:
                  value:
                    fileInformation:
                      batchFileIdentifier: 379f0966-71a1-4db5-b1b3-0e87cb864ff0
                      fileName: sample-123.txt
                      merchantFileIdentifier: "123"
                      fileRecordCount: 10
                      fileReceivedTimestamp: 09/08/2022
                    messages:
                      responseStatus: SUCCESS
                      responseCode: ACCEPTED
                      responseMessage: "Upload Successful Batch Id: 5e339850-4a5f-482e-9afb-79870d4056cf"
                    requestIdentifier: 379f0966-71a1-4db5-b1b3-0e87cb864ff0
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adfsError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/tokenProvisionDuplicateResponse"
        "412":
          description: Precondition Failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "503":
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "504":
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
  "/bulk-tokens/{merchant-file-identifier}":
    get:
      summary: GET specific file information
      operationId: v1BulkTokenByIdGet
      tags:
        - Bulk Operation
      description: Request bulk upload of token request
      parameters:
        - name: merchantId
          in: header
          required: true
          schema:
            type: string
            minLength: 8
            maxLength: 12
          description: Identifier for the merchant account.
          examples:
            Success:
              value: "991234567890"
            Error:
              value: "991234567891"
        - name: merchant-file-identifier
          in: path
          required: true
          schema:
            type: string
          description: This is used for specifying individual parameters under API endpoint methods.
          examples:
            Success:
              value: "123"
            Error:
              value: "999"
        - name: requestId
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: Merchant identifier for the request. The value must be unique.
          examples:
            Success:
              value: 30cc0270-7bed-11e9-a188-1763956dd7f6
            Error:
              value: 40cc0270-7bed-11e9-a188-1763956dd7f6
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
              examples:
                Successful Bulk Tokenization:
                  value:
                    responseStatus: SUCCESS
                    responseCode: ACCEPTED
                    responseMessage: "Upload Successful Batch Id: 5e339850-4a5f-482e-9afb-79870d4056cf"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adfsError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
              examples:
                Error:
                  value:
                    responseStatus: ERROR
                    responseCode: NOT_FOUND
                    responseMessage: Transaction was not found
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "503":
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "504":
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
  "/bulk-tokens/{merchant-file-identifier}/download":
    get:
      summary: GET specific file information
      operationId: v1BulkTokenDownloadGet
      tags:
        - Bulk Operation
      description: Request bulk upload of token request
      parameters:
        - name: merchantId
          in: header
          required: true
          schema:
            type: string
            minLength: 8
            maxLength: 12
          description: Identifier for the merchant account.
          examples:
            Success:
              value: "991234567890"
            Error:
              value: "991234567891"
        - name: merchant-file-identifier
          in: path
          required: true
          schema:
            type: string
          description: This is used for specifying individual parameters under API endpoint methods.
          examples:
            Success:
              value: "123"
            Error:
              value: "999"
        - name: requestId
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: Merchant identifier for the request. The value must be unique.
          examples:
            Success:
              value: 50cc0270-7bed-11e9-a188-1763956dd7f6
            Error:
              value: 60cc0270-7bed-11e9-a188-1763956dd7f6
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/downloadResponse"
              examples:
                Successful Bulk Tokenization:
                  value:
                    batchFileIdentifier: 379f0966-71a1-4db5-b1b3-0e87cb864ff0
                    errorCount: 0
                    processedCount: 10
                    merchantFileIdentifier: "123"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adfsError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
              examples:
                Error:
                  value:
                    responseStatus: ERROR
                    responseCode: NOT_FOUND
                    responseMessage: Transaction was not found
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "503":
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "504":
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
  /bulk-tokens/encryption-key:
    post:
      summary: Create encryption key from a merchant
      operationId: v1BulkTokenKeyManagementPost
      tags:
        - Bulk Key Management
      description: Request to create the public key from a merchant to firm for bulk tokenization
      parameters:
        - name: merchantId
          in: header
          required: true
          schema:
            type: string
            minLength: 8
            maxLength: 12
          description: Identifier for the merchant account.
          examples:
            Success:
              value: "9912345678"
        - name: requestId
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: Merchant identifier for the request. The value must be unique.
          examples:
            Success:
              value: 10cc0270-7bed-11e9-a188-1763956dd7f6
      requestBody:
        description: Create Encryption Key
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/keyManagementRequest"
            examples:
              Success:
                value:
                  publicKeyText: '-----BEGIN PGP PUBLIC KEY BLOCK----- mI0EZDWyKwEEAPIwHMin2LzgTWj6JGGk6iXPFheSwxmMJQgnhEWNAnLUPNEGzFNh vH+1/J58wgAAUb1+/C/7QuMSZ1kYrH6J7lO5SIf9yMuB8f9BO7ZlXU4FR80ollbh 468dcxORBhQwqCOY7k6J7G9giFofSzcvxdKuKZw8ACpIjyWZDMda/nzFABEBAAG0 KUF1dG9nZW5lcmF0ZWQgS2V5IDx3NTk3NTg0QGNoY2FyMjI4YzI1bjE+iM4EEwEI ADgWIQRv1korTacF2a3w0YNhW9cYyCSY7QUCZDWyKwIbLwULCQgHAgYVCgkICwIE FgIDAQIeAQIXgAAKCRBhW9cYyCSY7UufA/4nOw2DJJcAftRqa62ViBBIJTmh69/X Vjpt6s4RzLGPvsZu6A3Z+pW1KWAk/j+As0bKf4cKIgkdZuMXFcmyN9KYnFRjcPRH Diplb+j+kH+zBv/sFDbfcOBWJ7BViwkXpJnke2O5gsLZU8m42izYK262szQbv828 E9BNpzV2cPX/Mg== =hix+ -----END PGP PUBLIC KEY BLOCK-----'
                  digitalDeviceFingerprintIdentifier: 6FD64A2B4DA705D9ADF0D183615BD718C82498ED
                  publicKeyExpirationTimestamp: "1680364800"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
              examples:
                Success:
                  value:
                    responseStatus: SUCCESS
                    responseCode: ACCEPTED
                    responseMessage: Successfully created encryption key
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adfsError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/tokenProvisionDuplicateResponse"
        "412":
          description: Precondition Failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "503":
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "504":
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
    get:
      summary: Provide public key to a merchant
      operationId: v1BulkTokenKeyManagementGet
      tags:
        - Bulk Key Management
      description: Request to provide the public key from firm to a merchant for bulk tokenization
      parameters:
        - name: merchantId
          in: header
          required: true
          schema:
            type: string
            minLength: 8
            maxLength: 12
          description: Identifier for the merchant account.
          examples:
            Success:
              value: "9912345678"
        - name: requestId
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: Merchant identifier for the request. The value must be unique.
          examples:
            Success:
              value: 10cc0270-7bed-11e9-a188-1763956dd7f6
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/keyManagementResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adfsError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "503":
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "504":
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
  /acquirertokens:
    post:
      summary: Provision a acquirer token for a payment instrument.
      operationId: v1AcquirerTokenPost
      tags:
        - Token Processing
      description: Provision a acquirer token for a payment instrument.
      parameters:
        - name: merchantId
          in: header
          required: true
          schema:
            type: string
            minLength: 8
            maxLength: 12
          description: Identifier for the merchant account.
          examples:
            CMT acquirer token:
              value: "991234567890"
        - name: requestId
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: Merchant identifier for the request. The value must be unique.
          examples:
            CMT acquirer token:
              value: 5bc5f837-b772-48f3-ad29-32fcdfe368ff
      requestBody:
        description: Acquirer token provison request
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/acquirerTokenProvisionRequest"
            examples:
              CMT acquirer token:
                value:
                  accountInformation:
                    cardNumber: "379296848452209002"
                    cardSource: KEY_ENTERED
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/acquirerTokenProvisionResponse"
              examples:
                CMT acquirer token:
                  value:
                    tokenInformation:
                      acquirerTokenNumber: "379296576034739002"
                    requestIdentifier: 5bc5f837-b772-48f3-ad29-32fcdfe368ff
                    responseStatus: SUCCESS
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adfsError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/tokenProvisionDuplicateResponse"
              examples:
                Resource Not Found:
                  value:
                    responseCode: DUPLICATE
                    responseMessage: This request has already been processed
                    payload:
                      identifier: fb0dabc0-da2c-46b6-b3a3-8fc6d3190e98
                      requestIdentifier: fb0dabc0-da2c-46b6-b3a3-8fc6d3185e08
                      tokenReferenceIdentifier: fb0dabc0-da2c-46b6-b3a3-8fc6d3185e09
                      cardMetaData:
                        cardArtUrl: http://cardArtUrl.com
                        backgroundCardGraphicsColor: "#000000"
                        foregroundCardGraphicsColor: "#FFFFFF"
                        labelCardGraphicsColor: "#C0C0C0"
                        cardDescription: The Bank Chase Card
                        issuerInformation:
                          cardIssuer: Bank Example
                          cardIssuerEmailAddress: bank@example.com
                          issuerWebsiteURL: bank.com
                          cardIssuerCustomerServiceTelephone: "400800393"
                          issuerOnlineBankingURL: onlinebanking.com
                          issuerIconURL: http://logo.png
                          issuerPrivacyURLText: privacypolicybank.com
                          issuerLogoURLText: banklogo.com
                          issuerApplicationOS: IOS
                          issuerAppName: bankmobileapp
                          issuerAppAddress: com.bank.appname
                        cardShortDescription: The Bank Card
                        cardTermsAndConditionsIdentifier: 37629726-58cf-4fbb-a2bd-457614704be4
                        cardTermsAndConditionsURL: http://termsAndConditionsUrl.com
                        cardAssetData:
                          - assetReferenceIdentifier: 3801a454c0b84de883f5432815ded5f5
                            assetType: ICON_ISSUER
                            mimeType: IMAGE/PNG
                            pixelHeight: 100
                            pixelWidth: 100
        "412":
          description: Precondition Failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "503":
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "504":
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
components:
  parameters:
    assetReferenceId:
      name: asset-reference-id
      in: path
      required: true
      schema:
        type: string
      description: Reference identifier for a specific asset.
    merchantId:
      name: merchant-id
      in: header
      required: true
      schema:
        type: string
        example: "991234567890"
        minLength: 8
        maxLength: 12
      description: Identifier for the merchant account.
    requestId:
      name: request-id
      in: header
      required: true
      schema:
        type: string
        format: uuid
      description: Merchant identifier for the request. The value must be unique.
    tokenReferenceId:
      name: token-reference-id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Reference identifier for a specific token.
    tokenRequestorId:
      name: token-requestor-id
      in: header
      required: true
      schema:
        type: string
        pattern: ^\d{11}$
        example: "10012345678"
      description: Identifier for the merchant given by payment networks or token provider.
  schemas:
    accountholderName:
      description: Consumer name that includes the first, middle, and last name.
      type: string
      maxLength: 26
      example: Jane Doe
      writeOnly: true
    accountInformation:
      description: Account Object
      type: object
      required:
        - cardNumber
        - cardExpiry
        - cardSource
      properties:
        accountholderName:
          $ref: "#/components/schemas/accountholderName"
        accountholderEmail:
          description: Mandatory for Visa. Conditional for American Express. Provide either email or telephone number for the accountholder.
          type: string
          example: test@email.com
          writeOnly: true
        accountholderTelephone:
          $ref: "#/components/schemas/accountholderTelephone"
        accountType:
          description: Describes the type of account. Amex has a pre-defined value of "credit_card", Visa has pre-defined values of "GUEST" or "WALLET".
          type: string
          maxLength: 16
        accountHolderReference:
          $ref: "#/components/schemas/accountHolderReference"
        cardNumber:
          $ref: "#/components/schemas/cardNumber"
        cardSequenceNumber:
          description: Sequence number for primary account number
          type: string
          pattern: ^[0-9]{3}$
          example: "003"
        cardReferenceNumber:
          $ref: "#/components/schemas/cardReferenceNumber"
        billingAddress:
          $ref: "#/components/schemas/address"
        cardExpiry:
          $ref: "#/components/schemas/cardExpiry"
        cardSource:
          description: Indicates how (method) primary account number was entered.
          type: string
          enum:
            - ONFILE
            - MOBILE_BANKING_APP
            - KEY_ENTERED
            - CAMERA_CAPTURED
            - MANUAL_UNKNOWN
        issuerData:
          description: Issuer provided verification data in base64 format when token was push provisioned for consumer account in Merchant system.
          type: string
        cardVerificationNumber:
          description: A number used in conjunction with a card number and card expiration to validate card transactions to reduce the incidence of credit card fraud, primarily for card not present transactions. Sometimes called card verification data (CVD), card verification number (CVN), card verification value (CVV or CVV2), card verification value code (CVVC), card verification code (CVC or CVC2), verification code (V - code or V code), card code verification (CCV), or signature panel code (SPC).
          type: string
          minLength: 3
          maxLength: 4
          pattern: ^\d{3,4}$
          writeOnly: true
    accountholderTelephone:
      description: Conditional - Provide either email or telephone number for the accountholder.
      type: object
      required:
        - phoneNumber
      properties:
        countryCode:
          description: The telephone dialing prefix for a member country in the International Telecommunication Union (ITU) that is defined by the ITU-T E.164 standard. The code is a combination of one, two or three digits identifying a specific country, countries in an integrated numbering plan, or a specific geographic area.  In this context, this is the telephone country code of cardholder.
          type: integer
          minimum: 1
          maximum: 999
          example: 1
          writeOnly: true
        phoneNumber:
          description: "A locator whose value identifies the formatted numeric address for routing voice or data communications via telephony, to reach a party. NOTE: Telephone number formats may vary; this field can include domestic and international telephone numbers.  In this context, this is the telephone number of the cardholder"
          type: string
          maxLength: 12
          writeOnly: true
    tokenNumber:
      description: The token number is a SECURE surrogate value for the account number utilized in payment. A token is created at enrollment into programs or when consumer credentials are stored for card on file processing. The Token Number is a surrogate based on the Credit Card number. The token number is consistent with ISO 8583 message requirements, and is a 13 to19-digit numeric value that must pass basic validation rules of an account number, including the LUHN check(Mod 10).
      type: string
      maxLength: 19
      example: "4111111111111111"
    cardAssetData:
      type: array
      minItems: 0
      description: Card assets which help to build virtual replication of actual physical card art.
      items:
        $ref: "#/components/schemas/cardAssetDataElement"
    cardAssetDataElement:
      description: Card assets which help to build virtual replication of actual physical card art.
      type: object
      properties:
        assetReferenceIdentifier:
          description: Unique identifier for card assets that helps to build virtual replication of actual physical card art.
          type: string
        assetType:
          description: Codifies the different nature, genres or categories of content assets that are published and/or presented by the Firm or third party.  Examples of content asset types include document, image, text, video.  Content asset is any written or audio visual content used by the Firm for various business purposes.
          type: string
          enum:
            - CARD_ART_FOREGROUND
            - CARD_ART_BACKGROUND
            - ICON_ISSUER
            - TERMS_AND_CONDITIONS
            - COMBINED_BACKGROUND
            - ICON_PAYMENT_NETWORK
            - ICON_COBRAND
        mimeType:
          description: Label used to identify a type of data. This is used by data users so that they can handle the data properly.
          type: string
          enum:
            - IMAGE/PNG
            - IMAGE/PDF
            - IMAGE/JPEG
            - IMAGE/SVG+XML TEXT/HTML
            - TEXT/PLAIN
            - TEXT/XML
            - APPLICATION/PDF
        assetContent:
          description: Provides a textual version of card information that helps to build virtual replication of actual physical card art.
          type: string
          format: base64
        pixelHeight:
          description: The height of an image used for calculating image size. This is used to build virtual replication of actual physical card art.
          type: integer
          maximum: 4096
          example: 10
        pixelWidth:
          description: The width of an image used for calculating image size. This is used to build virtual replication of actual physical card art.
          type: integer
          maximum: 4096
          example: 12
    cardReferenceNumber:
      description: Identifier assigned to a credit/debit card number that was tokenized.
      type: string
      format: uuid
    address:
      description: Address Object
      type: object
      properties:
        addressLine1:
          description: "A portion of a party's address containing any of the following: house number, street name, street direction, street type, dwelling type and number, PO Box number, rural delivery route number."
          type: string
          writeOnly: true
        addressLine2:
          description: "A portion of a party's address containing any of the following: house number, street name, street direction, street type, dwelling type and number, PO Box number, rural delivery route number."
          type: string
          writeOnly: true
        city:
          description: A portion of a party's address which is the geographic area that is a municipality with legal power granted by a state/province charter.
          type: string
        stateProvince:
          description: Geographic area that represents subdivision of a country like Virginia or Bavaria.
          type: string
        postalCode:
          description: The portion of a party’s address that is the encoded representation of a geographic area to facilitate mail delivery services.
          type: string
          writeOnly: true
        countryCode:
          description: A code that identifies the Country or a Geographic Area based on ISO 3166 standards.
          type: string
          writeOnly: true
    transactionAmount:
      description: Specifies the monetary value of the transaction performed.
      type: integer
      format: int64
      minimum: 1
      maximum: 999999999999
      example: 1234
    cardNumber:
      description: The Card Number is a number recognized by an issuer and used to identify the underlying account to which each transaction should be applied.
      type: string
      maxLength: 19
      example: "5111111111111111"
    cardExpiry:
      description: A number in the form of Month/Year.  Provided in format MM/YY.
      type: object
      required:
        - month
        - year
      properties:
        month:
          $ref: "#/components/schemas/month"
        year:
          $ref: "#/components/schemas/year"
    expiry:
      description: A number in the form of Month/Year that is displayed on a card (Debit/Credit).  Provided in format MM/YY.
      type: object
      required:
        - month
        - year
      properties:
        month:
          $ref: "#/components/schemas/month"
        year:
          $ref: "#/components/schemas/year"
    month:
      description: The month of the expiration date
      type: integer
      format: int32
      minimum: 1
      maximum: 12
      example: 5
      writeOnly: true
    year:
      description: The year of the expiration date
      type: integer
      minimum: 2018
      maximum: 2999
      example: 2020
      writeOnly: true
    cardTokenStatus:
      description: Current state of the token.
      type: string
      enum:
        - ACTIVE
        - DELETED
        - INACTIVE
        - SUSPENDED
    cardMetaData:
      description: Information about the card related to a token.
      type: object
      properties:
        cardArtUrl:
          $ref: "#/components/schemas/url"
        backgroundCardGraphicsColor:
          description: Graphic color name of the card background.
          type: string
          maxLength: 32
          example: "#ffffff"
        foregroundCardGraphicsColor:
          description: Graphic color name of the card foreground.
          type: string
          maxLength: 32
          example: "#0033cc"
        labelCardGraphicsColor:
          description: Graphic color name of the card label.
          type: string
          maxLength: 32
          example: "#33cc33"
        cardDescription:
          description: Detail information of the card provided by card issuer.
          type: string
          maxLength: 256
        issuerInformation:
          $ref: "#/components/schemas/issuerInformation"
        cardShortDescription:
          description: Provides summary-level detail information of the card product provided by card issuer.
          type: string
          maxLength: 128
        cardTermsAndConditionsIdentifier:
          description: Unique identifier for the terms and conditions for a card specified by the card isuer. Merchant uses this identifier to track if terms have been updated and if a message is needed for the card holder to review new terms and conditions.
          type: string
          format: uuid
        cardTermsAndConditionsURL:
          $ref: "#/components/schemas/url"
        cardAssetData:
          $ref: "#/components/schemas/cardAssetData"
    issuerInformation:
      description: Information about the card issuer
      type: object
      properties:
        cardIssuer:
          description: Financial institution authorized to issue cards with the payment brand logo.
          type: string
          maxLength: 128
        issuerAddress:
          description: Provides unformatted postal address information for the card issuer.
          type: string
        cardIssuerEmailAddress:
          description: Email address of the card issuer.
          type: string
          maxLength: 64
        issuerWebsiteURL:
          $ref: "#/components/schemas/url"
        cardIssuerCustomerServiceTelephone:
          description: Card issuer customer care telephone number.
          type: string
          maxLength: 12
        issuerOnlineBankingURL:
          $ref: "#/components/schemas/url"
        issuerIconURL:
          description: Site or link for the card issuer's image or symbol. Used by merchants to build a better consumer experience.
          type: string
          maxLength: 512
        issuerPrivacyURLText:
          $ref: "#/components/schemas/url"
        issuerLogoURLText:
          $ref: "#/components/schemas/url"
        issuerApplicationOS:
          description: Operating system of the issuing bank's mobile application
          type: string
          maxLength: 16
        issuerAppName:
          description: Issuing bank mobile application name for displaying to user.
          type: string
          maxLength: 128
        issuerAppAddress:
          description: Package name for issuing bank mobile application.
          type: string
          maxLength: 1024
    transactionCurrencyCode:
      description: Monetary unit that was associated with transaction using ISO 4217 format.
      type: string
      enum:
        - USD
        - EUR
        - GBP
        - AUD
        - NZD
        - SGD
        - CAD
        - JPY
        - HKD
        - KRW
        - TWD
        - MXN
        - BRL
    device:
      description: Contains additional information related to the consumer device.
      type: object
      properties:
        deviceType:
          description: Contains additional information related to the consumer device.
          type: string
          enum:
            - PHONE
            - TABLET
            - PHONE_TABLET
            - PC
            - WATCH
            - TV
            - WEARABLE
            - AUTOMOBILE
            - SERVER
            - CARD
            - STICKER
            - PERIPHERAL
            - TAG
            - JEWELRY
            - FASHION_ACCESSORY
            - GARMENT
            - DOMESTIC_APPLIANCE
            - GAMING_DEVICE
            - OTHER
        deviceIPAddress:
          $ref: "#/components/schemas/ipAddress"
        deviceLocale:
          description: Provides information about language and locale of the device, configured for the consumer. Described in RFC5646
          type: string
          example: en-US
        deviceLatLong:
          description: Identifies the latitude and longitude coordinates. Information is expressed in the order of latitude then longitude.
          type: string
          pattern: ^(\-?\d+(\.\d+)?),\s*(\-?\d+(\.\d+)?)$
          example: 40.758, -73.9855
        deviceMake:
          description: Manufacturer of a device.
          type: string
          example: Samsung
        deviceOS:
          description: Operating system of the device. Valid values for Visa Token Service are ANDROID, IOS, WINDOWS, WEB.
          type: string
          enum:
            - ANDROID
            - IOS
            - WINDOWS
            - BLACKBERRY
            - TIZEN
            - WEB
            - ANDROID_WEAR
            - EMBEDDED_OS
            - PAGARE_EMBEDDED
            - OTHER
        deviceOsVersion:
          description: Version of the operating system for target device.
          type: string
          example: 12.1.3
        digitalDeviceIdentifier:
          description: Identifies a unique occurrence of an electronic device.
          type: string
          example: 12jasdf5dr3452rf
        deviceGeoLocationCaptureTimestamp:
          description: Designates the hour, minute, and second in a specific day when the geographic location data captured. This is provided in ISO 8601 date-time format.
          type: string
          format: date-time
        deviceName:
          description: Name for the target device where the token is located.
          type: string
          maxLength: 256
[...]
