openapi: 3.0.1
info:
  title: Reporting API
  description: Data Reports API enables easy access to build consumable data sets. It is designed for merchants or system integrators looking for transaction-level payment data.
  version: 1.1.20
  contact:
    name: Reporting API Support
    url: https://developer.payments.jpmorgan.com/contact/support
    email: ms.pit.team@jpmorgan.com
servers:
  - url: https://api.reports.jpmorgan.com/api/v1
    description: Production Environment For Report
  - url: https://api-mock.payments.jpmorgan.com/api/v1
    description: JPM-PROD Merchant Payments API sandbox
tags:
  - name: Report Types
    description: Endpoints for report types.
  - name: Report Configurations
    description: Endpoints for report configurations.
  - name: Reports
    description: Endpoints for reports.
  - name: Report Files
    description: Endpoints for report files.
  - name: Health Check
    description: Validate the health of the service.
paths:
  /healthcheck:
    get:
      summary: Health check for the Data Reports service.
      operationId: v1GetHealth
      tags:
        - Health Check
      description: Healthcheck endpoint to validate that the service is running.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/healthCheckResource"
              examples:
                Success:
                  value:
                    status: UP
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "503":
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "504":
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
  /report-types:
    get:
      summary: Get a list of available report types.
      operationId: v1ListReportTypes
      tags:
        - Report Types
      description: Get a list of available report types.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/reportTypes"
              examples:
                Success:
                  value:
                    reportTypes:
                      - reportTypeId: "1001"
                        reportTypeName: Transaction Details
                        reportDescription: Provides transaction detail information on authorizations and declines
                        reportGranularityTypeCode: Transactions level
                        paymentGatewayRegionCode: USA
                        paymentMethodCodes:
                          - AX
                          - MC
                          - DI
                          - VI
                      - reportTypeId: "1002"
                        reportTypeName: Settlement Details
                        reportDescription: Details on all settlement events for the given period
                        reportGranularityTypeCode: Transactions level
                        paymentGatewayRegionCode: USA
                        paymentMethodCodes:
                          - AX
                          - MC
                          - DI
                          - VI
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adfsError"
              examples:
                Authentication Failure:
                  value:
                    errorSource: APG-EDGE
                    errorCode: EDG00012
                    errorDescription: the signature could not be verified
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "504":
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
  "/report-types/{report-type-id}":
    get:
      summary: Get details for a specific report type.
      operationId: v1ListReportTypesByReportTypeId
      tags:
        - Report Types
      description: Get details for a specific report type.
      parameters:
        - name: report-type-id
          in: path
          required: true
          schema:
            type: string
            maxLength: 40
          description: Uniquely identifies the type of report being requested.
          examples:
            Success:
              value: "1003"
            Authentication Failure:
              value: "9003"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/reportTypeFields"
              examples:
                Success:
                  value:
                    reportTypeFields:
                      - reportAttributeName: Transaction Identifier
                        businessDefinitionText: Identifies a unique occurrence of a transaction.
                        defaultIncludeIndicator: true
                      - reportAttributeName: Sales Order
                        businessDefinitionText: Identifies a unique occurrence of the confirmation of goods and/or services purchased.
                        defaultIncludeIndicator: true
                      - reportAttributeName: Transaction Amount
                        businessDefinitionText: Specifies the monetary value of the transaction performed.
                        defaultIncludeIndicator: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adfsError"
              examples:
                Authentication Failure:
                  value:
                    errorSource: APG-EDGE
                    errorCode: EDG00012
                    errorDescription: the signature could not be verified
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "504":
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
  /reports:
    get:
      summary: Get a list of available reports.
      operationId: v1ListReports
      tags:
        - Reports
      description: Get a list of available reports.
      parameters:
        - name: next
          in: header
          schema:
            type: string
          description: This is used for specifying individual parameters under API endpoint methods.
          examples:
            Success:
              value: Q0MtMTAzMDMyLVY3NzY0ODMtODA3MTUtVUFUfDEwYjQ1YzJlNzhhMGFiNDA5ZDlkYWJhZDY3Y2FmZWIxZGUwMGYwN2ZmZmZjMTcwMA
            Authentication Failure:
              value: XYX1239999999
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/reportList"
              examples:
                Success with no additional pages:
                  value:
                    summarizedReports:
                      - reportIdentifier: 6ee97665-8d2c-424c-859a-dd98a9e4e0ca
                        reportConfigurationId: 193544e3-0fdf-472e-8cae-798ff88da609
                        reportTypeNames:
                          - Settlement Summary
                          - Settlement Details
                        reportStatus: Requested
                        updateTimestamp: 2021-08-23T00:23:05.353Z
                        createTimestamp: 2021-08-23T00:19:05.353Z
                        intervalParam:
                          reportingPeriodStartTimestamp: 2021-08-23 00:18:18
                          reportingPeriodEndTimestamp: 2021-08-23 00:19:18
                          scheduleFrequency: adhoc
                      - reportIdentifier: c6a6f075-64d5-476f-b463-bc1c5de1abd7
                        reportConfigurationId: ca788ad9-521c-45ec-b36d-0fdd38701e4d
                        reportTypeNames:
                          - Transaction Details
                        reportStatus: Completed
                        updateTimestamp: 2021-08-20T00:23:05.353Z
                        createTimestamp: 2021-08-20T00:19:05.353Z
                        intervalParam:
                          reportingPeriodStartTimestamp: 2021-08-20 00:18:18
                          reportingPeriodEndTimestamp: 2021-08-20 00:19:18
                          scheduleFrequency: adhoc
                        reportDetails:
                          reportFileName: 992994469896.Multiple.adhoc.2021-08-20.2021-08-20
                          url: https://helix-data-reporting-files-int.uat.aws.jpmchase.net/api/v1/report-files/c6a6f075-64d5-476f-b463-bc1c5de1abd7
                    lastPage: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adfsError"
              examples:
                Authentication Failure:
                  value:
                    errorSource: APG-EDGE
                    errorCode: EDG00012
                    errorDescription: the signature could not be verified
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "504":
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
    post:
      summary: Create a new report configuration.
      operationId: v1CreateReportConfiguration
      tags:
        - Reports
      description: Create a new report configuration for a merchant based upon a report type.
      requestBody:
        description: Create new report configuration.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/reportConfigRequest"
            examples:
              Success with Minimum Config/Adhoc Frequency:
                value:
                  entityType: PE
                  entityIds:
                    - "9876543210"
                    - "9876543211"
                  reportSections:
                    - sectionReportTypeName: Transaction Details
                  frequencyConfig:
                    scheduleFrequency: Adhoc
                    reportingPeriodStartTimestamp: 2020-04-11 01:00:00
                    reportingPeriodEndTimestamp: 2020-04-13 23:00:00
              Success with Minimum Config/Scheduled Frequency:
                value:
                  entityType: PE
                  entityIds:
                    - "9876543210"
                    - "9876543211"
                  reportSections:
                    - sectionReportTypeName: Transaction Details
                  frequencyConfig:
                    scheduleFrequency: Daily
                    reportFileScheduledTime: 09:00:00
                    reportingPeriodStartTime: 23:00:00
              Success with Complete Config/Adhoc Frequency:
                value:
                  entityType: PE
                  entityIds:
                    - "998586046651"
                  reportSections:
                    - sectionReportTypeName: Settlement Details
                      sectionSelectedFields:
                        - alias: Record Type
                          constantValueText: RACT0010
                        - alias: Entity Type
                          constantValueText: TD
                        - reportAttributeName: Action Date
                          alias: Submission Date
                        - reportAttributeName: Payout Identifier
                        - reportAttributeName: Transaction Processing Entity Identifier
                          alias: Entity Number
                        - reportAttributeName: Transaction Currency Code
                          alias: Presentment Currency
                        - reportAttributeName: Sales Order Number
                          alias: Merchant Order Number
                        - reportAttributeName: Masked Card Number
                          alias: Account Number
                        - reportAttributeName: Card Expiration Month Year Number
                          alias: Expiration Date
                        - reportAttributeName: Transaction Amount
                          alias: Amount
                        - reportAttributeName: Payment Method Code
                          alias: MOP
                        - reportAttributeName: Client Action Code
                          alias: Action Code
                        - reportAttributeName: Authorization Timestamp
                          alias: Auth Date
                        - reportAttributeName: Firm Authorization Response Code
                          alias: Auth Code
                        - reportAttributeName: Payment Authorization Response Identifier
                          alias: Auth Response Code
                        - reportAttributeName: Merchant Category Code
                          alias: MCC
                        - reportAttributeName: Token Type Code
                        - reportAttributeName: Interchange Program Code
                          alias: Interchange Qualification Code
                        - reportAttributeName: Interchange Fee Amount
                          alias: Interchange Unit Fee
                        - reportAttributeName: Interchange Fee Rate
                          alias: Interchange Face Value % Fee
                        - reportAttributeName: Total Interchange Amount
                        - reportAttributeName: Total Payment Brand Fee Amount
                          alias: Total Assessment Amount
                        - reportAttributeName: Other Fee Amount
                          alias: Other Debit Passthrough Fees
                        - reportAttributeName: Settlement Currency Code
                          alias: Settlement Currency
                      sectionSortOrderList:
                        - reportAttributeName: Total Interchange Amount
                          sortOrderCode: asc
                      sectionFilterAttributeList:
                        - reportAttributeName: Funding Status Code
                          filterAttributeCode: ="Payment Submitted"
                        - reportAttributeName: Client Action Code
                          filterAttributeCode: IN ("DP","RF","AR","DR","RQ")
                  fileDelimiter: ","
                  reportConfigurationName: Deposit Detail Financial Report-Ad hoc
                  reportFileName: <Processing Entity ID>.<Report Type>.<frequency>.<From Date YYYY-MM-DD>.<To Date YYYY-MM-DD>
                  reportHeader: HACT0010,<Processing Entity ID>,<Report Type>,<frequency>,<From Date YYYY-MM-DD>,<To Date YYYY-MM-DD>,<Generation Date YYYY-MM-DD>,GenerationTime=<Generation Time HH:MM:SS>
                  fileHeader: DFRBEGIN,ProcessingEntityId=<Processing Entity ID>,Frequency=<frequency>
                  fileTrailer: DFREND,ProcessingEntityId=<Processing Entity ID>,Frequency=<frequency>
                  csvColumnNameDisplayIndicator: true
                  reportConfigStatus: Active
                  frequencyConfig:
                    scheduleFrequency: adhoc
                    reportingPeriodStartTimestamp: 2021-02-14 01:00:00
                    reportingPeriodEndTimestamp: 2021-02-16 23:00:00
              Success with exisiting config on demand/adhoc:
                value:
                  reportConfigurationId: 7e04226f-c683-4854-ab58-24d2eb24581c
                  frequencyConfig:
                    scheduleFrequency: Adhoc
                    reportingPeriodStartTimestamp: 2020-04-11 01:00:00
                    reportingPeriodEndTimestamp: 2020-04-13 23:00:00
              Failure due to incorrect report type:
                value:
                  entityType: PE
                  entityIds:
                    - "9876543210"
                    - "9876543211"
                  reportSections:
                    - sectionReportTypeName: Trans Details
                  frequencyConfig:
                    scheduleFrequency: Daily
                    reportFileScheduledTime: 09:00:00
                    reportingPeriodStartTime: 23:00:00
              Failure due to incorrect frequency:
                value:
                  entityIds:
                    - "9876543210"
                    - "9876543211"
                  reportSections:
                    - sectionReportTypeName: Transaction Details
                  frequencyConfig:
                    scheduleFrequency: ABC
                    reportFileScheduledTime: 09:00:00
                    reportingPeriodStartTime: ""
              Authentication Failure:
                value:
                  reportConfigurationId: 5555-6666-7777-2222
                  frequencyConfig:
                    scheduleFrequency: Adhoc
                    reportingPeriodStartTimestamp: 2020-04-11 01:00:00
                    reportingPeriodEndTimestamp: 2020-04-13 23:00:00
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/reportPostResponse"
              examples:
                Success with Minimum Config/Adhoc Frequency:
                  value:
                    reportIdentifier: 11b410c6-e226-4230-ac65-6b944c6a0f10
                    reportConfigurationId: 485b35be-ee95-4c15-a7d3-54da51e60f3e
                    reportTypeNames:
                      - Transaction Details
                    createTimestamp: 2020-11-20T19:26:13.926Z
                Success with Minimum Config/Scheduled Frequency:
                  value:
                    reportIdentifier: ac4e5189-43c7-4766-8c05-fde51ccc3528
                    reportConfigurationId: 70c36405-60b6-4a36-a539-2a95dd307516
                    reportTypeNames:
                      - Transaction Details
                    createTimestamp: 2020-11-20T19:43:26.604Z
                Success with Complete Config/Adhoc Frequency:
                  value:
                    reportIdentifier: 8f25d70d-887e-49eb-9a95-f8b56c04c3ba
                    reportConfigurationId: 96658d8b-9602-4db9-bb46-ed988523e027
                    reportTypeNames:
                      - Settlement Details
                    createTimestamp: 2020-11-20T20:33:27.337Z
                Success with exisiting config on demand/adhoc:
                  value:
                    reportIdentifier: 1a54c4c5-c5c7-45c7-92fb-1e8c3c980df5
                    reportConfigurationId: 7e04226f-c683-4854-ab58-24d2eb24581c
                    reportTypeNames:
                      - Transaction Details
                    createTimestamp: 2020-11-24T01:13:44.253Z
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
              examples:
                Failure due to incorrect report type:
                  value:
                    responseStatus: ERROR
                    responseCode: "400"
                    responseMessage: ""
                    validationErrors:
                      - code: "400"
                        message: reportTypeName is required
                        entity: ""
                Failure due to incorrect frequency:
                  value:
                    responseStatus: ERROR
                    responseCode: "400"
                    responseMessage: ""
                    validationErrors:
                      - code: "400"
                        message: "Invalid frequency value entered : "
                        entity: ""
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adfsError"
              examples:
                Authentication Failure:
                  value:
                    errorSource: APG-EDGE
                    errorCode: EDG00012
                    errorDescription: the signature could not be verified
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "504":
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
  "/reports/{report-id}":
    get:
      summary: Get details for a specific report.
      operationId: v1GetReportByReportId
      tags:
        - Reports
      description: Get details for a specific report.
      parameters:
        - name: report-id
          in: path
          required: true
          schema:
            type: string
            maxLength: 40
          description: Unique id  for the report.
          examples:
            Success:
              value: fca8115f-1912-4743-9d27-c61de99b604a
            Authentication Failure:
              value: 5555-66666-7777
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/report"
              examples:
                Success:
                  value:
                    reportIdentifier: c6a6f075-64d5-476f-b463-bc1c5de1abd7
                    reportConfigurationId: ca788ad9-521c-45ec-b36d-0fdd38701e4d
                    reportTypeNames:
                      - Settlement Summary
                      - Settlement Details
                    reportStatus: Completed
                    updateTimestamp: 2021-08-20T00:23:05.353Z
                    createTimestamp: 2021-08-20T00:19:05.353Z
                    intervalParam:
                      reportingPeriodStartTimestamp: 2021-08-20 00:18:18
                      reportingPeriodEndTimestamp: 2021-08-20 00:19:18
                      scheduleFrequency: adhoc
                    reportDetails:
                      reportFileName: 992994469896.Multiple.adhoc.2021-08-20.2021-08-20
                      url: https://helix-data-reporting-files-int.uat.aws.jpmchase.net/api/v1/report-files/c6a6f075-64d5-476f-b463-bc1c5de1abd7
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adfsError"
              examples:
                Authentication Failure:
                  value:
                    errorSource: APG-EDGE
                    errorCode: EDG00012
                    errorDescription: the signature could not be verified
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "504":
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
  /report-configs:
    get:
      summary: Get a list of available report configurations.
      operationId: v1ListReportConfigurations
      tags:
        - Report Configurations
      description: Get a list of available report configurations.
      parameters:
        - name: next
          in: header
          schema:
            type: string
          description: This is used for specifying individual parameters under API endpoint methods.
          examples:
            Success:
              value: Q0MtMTAzMDMyLVY3NzY0ODMtODA3MTUtVUFUfDEwYjQ1YzJlNzhhMGFiNDA5ZDlkYWJhZDY3Y2FmZWIxZGUwMGYwN2ZmZmZjMTcwMA
            Authentication Failure:
              value: 5555-6666-7777
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/reportConfigurationList"
              examples:
                Success with no additional pages:
                  value:
                    summarizedReportConfigurations:
                      - reportConfigurationId: 193544e3-0fdf-472e-8cae-798ff88da609
                        updateTimestamp: 2021-08-23T02:07:43.550Z
                        frequencyConfig:
                          scheduleFrequency: Adhoc
                          reportFileScheduledTime: 2021-08-23 09:00:00
                          reportingPeriodStartTime: 2021-08-23 23:00:00
                        reportConfigStatus: Active
                        reportTypeNames:
                          - Settlement Summary
                          - Settlement Details
                        reportTypeIds:
                          - "1004"
                          - "1002"
                      - reportConfigurationId: 044a7d09-b0eb-4cef-84dc-c4771d15375c
                        updateTimestamp: 2021-08-23T02:07:41.550Z
                        frequencyConfig:
                          scheduleFrequency: Adhoc
                          reportingPeriodStartTimestamp: 2020-04-11 01:00:00
                          reportingPeriodEndTimestamp: 2020-04-13 23:00:00
                        reportConfigStatus: Active
                        reportTypeNames:
                          - Transaction Details
                        reportTypeIds:
                          - "1003"
                    lastPage: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adfsError"
              examples:
                Authentication Failure:
                  value:
                    errorSource: APG-EDGE
                    errorCode: EDG00012
                    errorDescription: the signature could not be verified
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "504":
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
  "/report-configs/{report-configuration-id}":
    get:
      summary: Get details for a specific report configuration.
      operationId: v1GetReportConfigurationByReportConfigurationId
      tags:
        - Report Configurations
      description: Get details for a specific report configuration.
      parameters:
        - name: report-configuration-id
          in: path
          required: true
          schema:
            type: string
            maxLength: 40
          description: Identifies a unique occurrence of reporting setup as requested by customer.
          examples:
            Success:
              value: 7611d1bf-325c-4795-a828-ac21f9bea5dc
            Authentication Failure:
              value: 1234-5678-9101
            Resource Not Found:
              value: 5555-6666-7777
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/reportConfigResponse"
              examples:
                Success:
                  value:
                    reportConfigurationId: 7611d1bf-325c-4795-a828-ac21f9bea5dc
                    entityIds:
                      - "992994469896"
                    reportSections:
                      - sectionTitle: Transaction Details
                        sectionReportTypeName: Transaction Details
                        sectionReportTypeId: "1001"
                        selectedFields:
                          - reportAttributeName: Action Date
                          - reportAttributeName: Transaction Processing Entity Identifier
                          - reportAttributeName: Transaction Currency Code
                          - reportAttributeName: Settlement Currency Code
                          - reportAttributeName: Payout Posted Timestamp
                          - reportAttributeName: Transaction Identifier
                            alias: Txn count
                            aggregateOperationText: count
                          - reportAttributeName: Transaction Amount
                            aggregateOperationText: sum
                            alias: Transaction Amount Total
                          - reportAttributeName: Settlement Currency Code
                          - reportAttributeName: Transaction Processing Entity Identifier
                          - reportAttributeName: Transaction Identifier
                            aggregateOperationText: count
                            alias: Total Authorization Count
                            conditionalAggregateIndicator: true
                            aggregateConditionAttributeName: Event Type Category Code
                            aggregateConditionText: = "NON"
                          - reportAttributeName: Transaction Identifier
                            aggregateOperationText: count
                            alias: Total Declined Deposit Count
                            conditionalAggregateIndicator: true
                            aggregateConditionAttributeName: Event Type Category Code
                            aggregateConditionText: = "DEC"
                          - reportAttributeName: Transaction Identifier
                            aggregateOperationText: count
                            alias: Total Authorization Count
                            conditionalAggregateIndicator: true
                            aggregateConditionAttributeName: Event Type Category Code
                            aggregateConditionText: = "NON"
                          - reportAttributeName: Transaction Amount
                            aggregateOperationText: sum
                            alias: Total Declined Amount
                            conditionalAggregateIndicator: true
                            aggregateConditionAttributeName: Event Type Category Code
                            aggregateConditionText: = "DEC"
                          - reportAttributeName: Transaction Identifier
                            aggregateOperationText: count
                            alias: Total Cancelled Count
                            conditionalAggregateIndicator: true
                            aggregateConditionAttributeName: Event Type Category Code
                            aggregateConditionText: IN ("CNSALE","CNREF")
                          - reportAttributeName: Transaction Amount
                            aggregateOperationText: sum
                            alias: Total Cancelled Amount
                            conditionalAggregateIndicator: true
                            aggregateConditionAttributeName: Event Type Category Code
                            aggregateConditionText: IN ("CNSALE","CNREF")
                          - reportAttributeName: Transaction Identifier
                            aggregateOperationText: count
                            alias: Total Rejected Count
                            conditionalAggregateIndicator: true
                            aggregateConditionAttributeName: Event Type Category Code
                            aggregateConditionText: = "REJ"
                          - reportAttributeName: Transaction Amount
                            aggregateOperationText: sum
                            alias: Total Rejected Amount
                            conditionalAggregateIndicator: true
                            aggregateConditionAttributeName: Event Type Category Code
                            aggregateConditionText: = "REJ"
                          - reportAttributeName: Transaction Amount
                            aggregateOperationText: sum
                            alias: Net Successful Transaction Amount
                            conditionalAggregateIndicator: true
                            aggregateConditionAttributeName: Event Type Category Code
                            aggregateConditionText: IN ("SALE","REF")
                    frequencyConfig:
                      scheduleFrequency: Adhoc
                      reportingPeriodStartTimestamp: 2020-04-11 01:00:00
                      reportingPeriodEndTimestamp: 2020-04-13 23:00:00
                    fileDelimiter: ","
                    reportFileName: theFileNameOfTheReport
                    reportHeader: RH_ReportHeader
                    fileHeader: FH_FileHeader
                    fileTrailer: FT_FileTrailer
                    csvColumnNameDisplayIndicator: true
                    totalRowCountDisplayIndicator: false
                    sectionRowCountDisplayIndicator: false
                    reportConfigStatus: Active
                    updateTimestamp: 2021-08-23T02:07:41.779Z
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adfsError"
              examples:
                Authentication Failure:
                  value:
                    errorSource: APG-EDGE
                    errorCode: EDG00012
                    errorDescription: the signature could not be verified
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
              examples:
                Resource Not Found:
                  value:
                    responseStatus: ERROR
                    responseCode: "404"
                    responseMessage: Resource not found
                    validationErrors:
                      - code: "404"
                        message: Resource not found
                        entity: ""
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "504":
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
    put:
      summary: Update an existing report configuration.
      operationId: v1UpdateReportConfigurationByReportConfigurationId
      tags:
        - Report Configurations
      description: Update an existing report configuration.
      parameters:
        - name: report-configuration-id
          in: path
          required: true
          schema:
            type: string
            maxLength: 40
          description: Identifies a unique occurrence of reporting setup as requested by customer.
          examples:
            Success:
              value: 7611d1bf-325c-4795-a828-ac21f9bea5dc
            Failure due to incorrect frequency:
              value: 12324-5678-9012
            Authentication Failure:
              value: 5555-6666-7777
      requestBody:
        description: Update an existing report configuration.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/reportConfigPutRequest"
            examples:
              Success:
                value:
                  entityType: PE
                  entityIds:
                    - "9876543210"
                    - "9876543211"
                  reportSections:
                    - sectionReportTypeName: Transaction Details
                  fileDelimiter: "|"
              Failure due to incorrect frequency:
                value:
                  entityType: PE
                  entityIds:
                    - "9876543210"
                    - "9876543211"
                  reportSections:
                    - sectionReportTypeName: Transaction Details
                  frequencyConfig:
                    scheduleFrequency: Daily
                    reportingPeriodStartTimestamp: 2021-08-23 01:00:00
                    reportingPeriodEndTimestamp: 2021-08-23 23:00:00
              Authentication Failure:
                value:
                  entityType: PE
                  entityIds:
                    - "9876543210"
                    - "9876543211"
                  reportSections:
                    - sectionReportTypeName: Transaction Details
                  fileDelimiter: "|"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/reportConfigResponse"
              examples:
                Success:
                  value:
                    reportConfigurationId: 7611d1bf-325c-4795-a828-ac21f9bea5dc
                    entityIds:
                      - "992994469896"
                    reportSections:
                      - sectionTitle: Transaction Details
                        sectionReportTypeName: Transaction Details
                        sectionReportTypeId: "1001"
                        selectedFields:
                          - reportAttributeName: Firm Authorization Approval Code
                          - reportAttributeName: Firm Authorization Response Category Code
                          - reportAttributeName: Firm Authorization Response Code
                          - reportAttributeName: Firm Authorization Response Description Text
                          - reportAttributeName: Payment Instrument Code
                          - reportAttributeName: Payment Method Code
                          - reportAttributeName: Transaction Identifier
                          - reportAttributeName: Transaction Processing Entity Identifier
                    frequencyConfig:
                      scheduleFrequency: Adhoc
                      reportingPeriodStartTimestamp: 2021-08-23 01:00:00
                      reportingPeriodEndTimestamp: 2021-08-23 23:00:00
                    fileDelimiter: "|"
                    reportFileName: theFileNameOfTheReport
                    reportHeader: RH_ReportHeader
                    fileHeader: FH_FileHeader
                    fileTrailer: FT_FileTrailer
                    csvColumnNameDisplayIndicator: true
                    totalRowCountDisplayIndicator: false
                    sectionRowCountDisplayIndicator: false
                    reportConfigStatus: Active
                    updateTimestamp: 2021-08-23T00:26:23.884Z
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
              examples:
                Failure due to incorrect frequency:
                  value:
                    responseStatus: ERROR
                    responseCode: "400"
                    responseMessage: ""
                    validationErrors:
                      - code: "400"
                        message: reportFileScheduleTimeStamp and reportingPeriodStartTime are required
                        entity: ""
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adfsError"
              examples:
                Authentication Failure:
                  value:
                    errorSource: APG-EDGE
                    errorCode: EDG00012
                    errorDescription: the signature could not be verified
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "504":
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
  "/report-files/{report-id}":
    get:
      summary: Get a specific report file.
      operationId: v1GetReportFileByReportId
      tags:
        - Report Files
      description: Get a specific report file.
      parameters:
        - name: report-id
          in: path
          required: true
          schema:
            type: string
            maxLength: 40
          description: Unique id  for the report.
          examples:
            Success:
              value: fca8115f-1912-4743-9d27-c61de99b604a
            Authentication Failure:
              value: 5555-6666-7777
        - name: report-format
          in: query
          schema:
            type: string
            minLength: 3
            maxLength: 3
          description: Indicates the report file format as text or binary file. Allowed values=> csv and pdf
          examples:
            Success:
              value: csv
            Authentication Failure:
              value: TXT
      responses:
        "200":
          description: OK
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/fileContent"
              examples:
                Success:
                  value: 9876543210.SettlementDetail.Adhoc,2020-11-30.2020-11-30
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/adfsError"
              examples:
                Authentication Failure:
                  value:
                    errorSource: APG-EDGE
                    errorCode: EDG00012
                    errorDescription: the signature could not be verified
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
        "504":
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/messages"
components:
  schemas:
    healthCheckResource:
      description: Contains health check information about a resource.
      type: object
      required:
        - status
      properties:
        status:
          description: Indicates the status of all resources.
          type: string
          enum:
            - UP
            - DOWN
            - UNKNOWN
            - OUT OF SERVICE
    reportType:
      description: Report Type
      type: object
      required:
        - reportTypeId
        - reportTypeName
        - reportDescription
        - reportGranularityTypeCode
      properties:
        reportTypeId:
          $ref: "#/components/schemas/reportTypeId"
        reportTypeName:
          description: The name of the report type.
          type: string
        reportDescription:
          description: The textual description of the report type.
          type: string
        reportGranularityTypeCode:
          description: The level at which report detail is presented. For example, Fee level, transaction level and so on.
          type: string
        gatewayRegionCode:
          description: Indicates the geographical region for which the report type is applicable.  The region code is defined using ISO-3166 code. For e.g. USA, CAN, AU and so on
          type: string
        paymentMethodCodes:
          type: array
          description: Indicates the list of Payment Network Code through which card's (Debit or credit) account transactions in the report are processed. For e.g. VI, MC, AX and so on.
          minItems: 0
          items:
            type: string
    reportTypeNames:
      type: array
      minItems: 0
      description: The names of the report types.
      items:
        type: string
    reportTypeFields:
      description: An array containing Report Type Fields.
      type: object
      required:
        - reportTypeFields
      properties:
        reportTypeFields:
          type: array
          minItems: 0
          description: Report Type Field Array
          items:
            $ref: "#/components/schemas/defaultReportField"
    defaultReportField:
      description: Report Configuration Request
      type: object
      required:
        - reportAttributeName
        - businessDefinitionText
        - defaultIncludeIndicator
      properties:
        reportAttributeName:
          $ref: "#/components/schemas/reportAttributeName"
        businessDefinitionText:
          description: Indicates clear and concise description of the data elements used in the reports
          type: string
        defaultIncludeIndicator:
          description: Indicates the BOOLEAN value to signifiy if the attribute is included in the report. TRUE indicates that the attribute is included by default.
          type: boolean
    reportConfigRequest:
      description: report configuration request
      type: object
      oneOf:
        - $ref: "#/components/schemas/reportConfigRequestByConfigId"
        - $ref: "#/components/schemas/reportConfigRequestByEntity"
    reportConfigRequestByConfigId:
      description: report configuration request
      title: Config
      type: object
      required:
        - reportConfigurationId
        - frequencyConfig
      properties:
        reportConfigurationId:
          $ref: "#/components/schemas/reportConfigurationId"
        frequencyConfig:
          $ref: "#/components/schemas/frequencyConfig"
    reportConfigRequestByEntity:
      description: report configuration request
      title: Entity
      type: object
      required:
        - entityIds
        - frequencyConfig
        - reportSections
      properties:
        entityType:
          $ref: "#/components/schemas/entityType"
        entityIds:
          $ref: "#/components/schemas/entityIds"
        frequencyConfig:
          $ref: "#/components/schemas/frequencyConfig"
        fileDelimiter:
          $ref: "#/components/schemas/fileDelimiter"
        reportFileName:
          $ref: "#/components/schemas/reportFileName"
        reportHeader:
          $ref: "#/components/schemas/reportHeader"
        fileHeader:
          $ref: "#/components/schemas/fileHeader"
        fileTrailer:
          $ref: "#/components/schemas/fileTrailer"
        csvColumnNameDisplayIndicator:
          $ref: "#/components/schemas/csvColumnNameDisplayIndicator"
        reportConfigStatus:
          $ref: "#/components/schemas/reportConfigStatus"
        reportDescription:
          $ref: "#/components/schemas/reportDescription"
        reportConfigurationName:
          $ref: "#/components/schemas/reportConfigurationName"
        reportSections:
          $ref: "#/components/schemas/reportSections"
        reportFormatList:
          $ref: "#/components/schemas/reportFormatList"
        sectionRowCountDisplayIndicator:
          $ref: "#/components/schemas/sectionRowCountDisplayIndicator"
        totalRowCountDisplayIndicator:
          $ref: "#/components/schemas/totalRowCountDisplayIndicator"
    reportIdentifier:
      description: Identifies a unique occurrence of reporting events.
      type: string
    entityIds:
      type: array
      minItems: 0
      description: Indicates the array of applicable processing entities for which the reporting data  is required.
      items:
        $ref: "#/components/schemas/transactionProcessingEntityIdentifier"
    createTimestamp:
      description: Designates the hour, minute and second in a specific day when the record was created.
      type: string
    reportStatus:
      description: The label for a valid state applicable to a gamification item. This includes both gamification item set-up and operational status plus Customer status.
      type: string
      enum:
        - Requested
        - Initiated
        - Completed
        - Errored
    sortOrder:
      description: Sort Order
      type: object
      required:
        - reportAttributeName
        - sortOrderCode
      properties:
        reportAttributeName:
          $ref: "#/components/schemas/reportAttributeName"
        sortOrderCode:
          description: "Indicates the arrangement of items based on specified criteria such as alpabetical, numerical or organise data in a specific sequence. Allowed values: asc and desc"
          type: string
    filterAttribute:
      description: Report Detail
      type: object
      required:
        - reportAttributeName
        - filterAttributeCode
      properties:
        reportAttributeName:
          $ref: "#/components/schemas/reportAttributeName"
        filterAttributeCode:
          description: The filter criteria to filter the report. For example, filterAttributeCode=> Payment Submitted, Supported functions for filter=> =,!=, &lt;,&gt;, IN, and NOT IN
          type: string
    frequencyConfig:
      description: frequency Configiguration
      type: object
      oneOf:
        - $ref: "#/components/schemas/frequencyConfigAdhoc"
        - $ref: "#/components/schemas/frequencyConfigScheduled"
    frequencyConfigAdhoc:
      description: frequency Configiguration
      title: Adhoc
      type: object
      required:
        - scheduleFrequency
        - reportingPeriodStartTimestamp
        - reportingPeriodEndTimestamp
      properties:
        scheduleFrequency:
          $ref: "#/components/schemas/scheduleFrequency"
        reportingPeriodStartTimestamp:
          description: Indicates the end date and  time when the report activity ends basis merchant end of the day in standard UTC format.This field includes hour (hh), minute (mm), seconds (ss) and date (if timestamp) or year (YYYY), month (MM), and day (DD) (if date).
          type: string
        reportingPeriodEndTimestamp:
          description: Indicates the start date and  time when the report activity begins basis merchant end of the day in standard UTC format.This field includes hour (hh), minute (mm), seconds (ss) and date (if timestamp) or year (YYYY), month (MM), and day (DD) (if date).
          type: string
    frequencyConfigScheduled:
      description: frequency Configiguration
      title: Adhoc
      type: object
      required:
        - scheduleFrequency
        - reportFileScheduledTime
        - reportingPeriodStartTime
      properties:
        scheduleFrequency:
          $ref: "#/components/schemas/scheduleFrequency"
        reportFileScheduledTime:
          description: Designates the hour, minute, and second boundary to which the firm is expected to send the report file to customer.
          type: string
        reportingPeriodStartTime:
          description: Designates the beginning hour, minute, and second boundary to which the report data pertains.
          type: string
    scheduleFrequency:
      description: "The planned intervals at which events, activities or processes occur. Allowed values: daily, weekly, monthly, and adhoc."
      type: string
    reportConfigurationId:
      description: A system generated unique identifier for  report configuration.
      type: string
    reportPostResponse:
      description: Report Configurarion Response
      type: object
      required:
        - reportIdentifier
        - reportConfigurationId
        - reportTypeNames
        - createTimestamp
      properties:
        reportIdentifier:
          description: Identifies a unique occurrence of reporting events.
          type: string
        reportConfigurationId:
          $ref: "#/components/schemas/reportConfigurationId"
        reportTypeNames:
          $ref: "#/components/schemas/reportTypeNames"
        createTimestamp:
          description: Designates the hour, minute and second in a specific day when the record was created.
          type: string
    reportList:
      description: List of all report runs
      type: object
      properties:
        next:
          $ref: "#/components/schemas/next"
        summarizedReports:
          type: array
          minItems: 0
          description: Array of reportList
          items:
            $ref: "#/components/schemas/report"
        lastPage:
          $ref: "#/components/schemas/lastPage"
    report:
      description: Report Configuration
      type: object
      required:
        - reportIdentifier
        - reportConfigurationId
        - reportTypeNames
        - reportStatus
        - updateTimestamp
        - createTimestamp
        - intervalParam
      properties:
        reportIdentifier:
          $ref: "#/components/schemas/reportIdentifier"
        reportConfigurationId:
          $ref: "#/components/schemas/reportConfigurationId"
        reportTypeNames:
          $ref: "#/components/schemas/reportTypeNames"
        reportStatus:
          $ref: "#/components/schemas/reportStatus"
        updateTimestamp:
          $ref: "#/components/schemas/updateTimestamp"
        createTimestamp:
          $ref: "#/components/schemas/createTimestamp"
        intervalParam:
          $ref: "#/components/schemas/intervalParams"
        reportDetails:
          $ref: "#/components/schemas/reportDetails"
        errorMessage:
          $ref: "#/components/schemas/errorMessage"
    intervalParams:
      description: Interval Parameter
      type: object
      oneOf:
        - $ref: "#/components/schemas/intervalParamsAdhoc"
        - $ref: "#/components/schemas/intervalParamsScheduled"
    intervalParamsAdhoc:
      description: Interval Parameter
      title: Adhoc
      type: object
      required:
        - scheduleFrequency
        - reportingPeriodStartTimestamp
        - reportingPeriodEndTimestamp
      properties:
        scheduleFrequency:
          $ref: "#/components/schemas/scheduleFrequency"
        reportingPeriodStartTimestamp:
          description: Designates the hour (hh), minute (mm), seconds (ss) and date (if timestamp) or year (YYYY), month (MM), and day (DD) (if date) of the first occurrence of the reporting period.
          type: string
        reportingPeriodEndTimestamp:
          description: Designates the hour (hh), minute (mm), seconds (ss) and date (if timestamp) or year (YYYY), month (MM), and day (DD) (if date) of the last occurrence of the reporting period.
          type: string
    intervalParamsScheduled:
      description: Interval Parameter
      title: Scheduled
      type: object
      required:
        - scheduleFrequency
        - reportingPeriodStartTime
      properties:
        scheduleFrequency:
          $ref: "#/components/schemas/scheduleFrequency"
        reportingPeriodStartTime:
          description: Designates the beginning hour, minute, and second boundary to which the report data pertains.
          type: string
    reportDetails:
      description: reportDetails
      type: object
      required:
        - reportFileName
        - url
      properties:
        reportFileName:
          $ref: "#/components/schemas/reportFileName"
        url:
          description: A reference to a web resource on the internet specifying its location on a computer network and a mechanism for retrieving.
          type: string
    reportConfigurationList:
      description: reportConfigurationList
      type: object
      properties:
        next:
          $ref: "#/components/schemas/next"
        summarizedReportConfigurations:
          type: array
          minItems: 0
          description: Array of reportConfiguration object.
          items:
            $ref: "#/components/schemas/reportConfiguration"
        lastPage:
          $ref: "#/components/schemas/lastPage"
    reportConfiguration:
      description: reportConfiguration
      type: object
      required:
        - reportConfigurationId
        - updateTimestamp
        - frequencyConfig
        - reportConfigStatus
        - reportTypeNames
        - reportTypeIds
      properties:
        reportConfigurationId:
          $ref: "#/components/schemas/reportConfigurationId"
        reportTypeIds:
          $ref: "#/components/schemas/reportTypeIds"
        reportTypeNames:
          $ref: "#/components/schemas/reportTypeNames"
        reportConfigStatus:
          $ref: "#/components/schemas/reportConfigStatus"
        updateTimestamp:
          $ref: "#/components/schemas/updateTimestamp"
        frequencyConfig:
          $ref: "#/components/schemas/frequencyConfig"
    reportConfigPutRequest:
      description: reportConfigPutRequest
      type: object
      required:
        - entityIds
        - reportSections
      properties:
        entityType:
          $ref: "#/components/schemas/entityType"
        entityIds:
          $ref: "#/components/schemas/entityIds"
        fileDelimiter:
          $ref: "#/components/schemas/fileDelimiter"
        frequencyConfig:
          $ref: "#/components/schemas/frequencyConfig"
        reportFileName:
          $ref: "#/components/schemas/reportFileName"
        reportHeader:
          $ref: "#/components/schemas/reportHeader"
        fileHeader:
          $ref: "#/components/schemas/fileHeader"
        fileTrailer:
          $ref: "#/components/schemas/fileTrailer"
        csvColumnNameDisplayIndicator:
          $ref: "#/components/schemas/csvColumnNameDisplayIndicator"
        reportConfigStatus:
          $ref: "#/components/schemas/reportConfigStatus"
        reportDescription:
          $ref: "#/components/schemas/reportDescription"
        reportConfigurationName:
          $ref: "#/components/schemas/reportConfigurationName"
        reportSections:
          $ref: "#/components/schemas/reportSections"
        reportFormatList:
          $ref: "#/components/schemas/reportFormatList"
        sectionRowCountDisplayIndicator:
          $ref: "#/components/schemas/sectionRowCountDisplayIndicator"
        totalRowCountDisplayIndicator:
          $ref: "#/components/schemas/totalRowCountDisplayIndicator"
    transactionProcessingEntityIdentifier:
      description: Identifies a unique entity for transaction processing at the lowest level of the account hierarchy of the backend proprietary merchant acquiring processing platform. This level organizes transaction types for submission, funding, and reporting.
      type: string
    reportTypeId:
      description: Uniquely identifies the type of report being requested.
      type: string
    reportConfigStatus:
      description: The status of the report configuration.
      type: string
      enum:
        - Active
        - Inactive
    reportFileName:
      description: The merchant defined name for report file. By default=> "Entity ID". "Report Type" . "frequency". "From Date YYYY-MM-DD". "To Date YYYY-MM-DD"
      type: string
    reportHeader:
      description: The header of the report file. By default=> entityId= "Entity ID", ReportTypeName= "Report Type"  , Frequency="frequency", FromDate= "From Date YYYY-MM-DD" , ToDate= "To Date YYYY-MM-DD " , GenerationDate= "Generation Date YYYY-MM-DD" , GenerationTime= " Generation Time HH:MM:SS"
      type: string
    fileHeader:
      description: The  textual information in the first row of a file. By default=> EntityId= "Entity ID",Frequency="frequency"
      type: string
    fileTrailer:
      description: The textual information in the last row of a file. By default=> EntityId= "Entity ID ",Frequency="frequency"
      type: string
    csvColumnNameDisplayIndicator:
      description: Indicates the BOOLEAN value to display column name in the report.
      type: boolean
    reportConfigurationName:
      description: The merchant defined name of the report configuration.
      type: string
    reportDescription:
      description: The textual description of the report.
      type: string
    fileDelimiter:
      description: "Indicates the demarcation operator to separate and distinguish individual data fields wthin a report, facilitating structred organization and retrieval of information. Allowed values: comma[,], pipe[|], and tab[->]"
      type: string
    updateTimestamp:
      description: Indicates the specific time of the day ( in hour, minute and second) when the configuration was most recently updated.
      type: string
    reportConfigResponse:
      description: Report Configuration Response
      type: object
      required:
        - reportConfigurationId
        - entityIds
        - reportSections
        - frequencyConfig
        - fileDelimiter
        - reportFileName
        - reportHeader
        - fileHeader
        - fileTrailer
        - csvColumnNameDisplayIndicator
        - reportConfigStatus
        - updateTimestamp
      properties:
        reportConfigurationId:
          $ref: "#/components/schemas/reportConfigurationId"
        entityIds:
          $ref: "#/components/schemas/entityIds"
        reportSections:
          $ref: "#/components/schemas/reportSections"
        frequencyConfig:
          $ref: "#/components/schemas/frequencyConfig"
        fileDelimiter:
          $ref: "#/components/schemas/fileDelimiter"
        reportFileName:
          $ref: "#/components/schemas/reportFileName"
        reportHeader:
          $ref: "#/components/schemas/reportHeader"
        fileHeader:
          $ref: "#/components/schemas/fileHeader"
        fileTrailer:
          $ref: "#/components/schemas/fileTrailer"
        csvColumnNameDisplayIndicator:
          $ref: "#/components/schemas/csvColumnNameDisplayIndicator"
        totalRowCountDisplayIndicator:
          $ref: "#/components/schemas/totalRowCountDisplayIndicator"
        sectionRowCountDisplayIndicator:
          $ref: "#/components/schemas/sectionRowCountDisplayIndicator"
        reportConfigStatus:
          $ref: "#/components/schemas/reportConfigStatus"
        updateTimestamp:
          $ref: "#/components/schemas/updateTimestamp"
        reportDescription:
          $ref: "#/components/schemas/reportDescription"
        reportConfigurationName:
          $ref: "#/components/schemas/reportConfigurationName"
        reportFormatList:
          $ref: "#/components/schemas/reportFormatList"
    errorMessage:
      description: Describes a message if  problem occurred or error preventing the system from completing a  task.
      type: string
    fileContent:
      description: Provide texual information about the values stored in a file
      type: string
    reportAttributeName:
      description: The name of the attribute in the report.
      type: string
    adfsError:
      description: Object containing information in the file
      type: object
      required:
        - errorSource
        - errorCode
        - errorDescription
      properties:
        errorSource:
          description: The label of the component from where the error or warning is generating
          type: string
          example: APG-EDGE
        errorCode:
          description: General status of all resources
          type: string
          example: EDG00012
        errorDescription:
          description: Long explanation of code returned by the computer system application that either indicates successful processing, or a given number that can be investigated by support staff for further resolution and troubleshooting.
          type: string
          example: the signature could not be verified
    messages:
      description: A list of errors and warnings.
      type: object
      required:
        - responseStatus
        - responseCode
      properties:
        responseStatus:
          $ref: "#/components/schemas/responseStatus"
        responseCode:
          $ref: "#/components/schemas/responseCode"
        responseMessage:
          $ref: "#/components/schemas/responseMessage"
        validationErrors:
          type: array
          minItems: 0
          description: Information about errors occurred in transaction validation
          items:
            $ref: "#/components/schemas/validationMessage"
    responseStatus:
      description: Request result status.
      type: string
      readOnly: true
      example: SUCCESS
      enum:
        - SUCCESS
        - ERROR
    responseCode:
      description: Short explanation of the response code.
      type: string
      readOnly: true
      minLength: 2
      maxLength: 50
      example: ACCEPTED
    responseMessage:
      description: Long explanation of the response message.
      type: string
      readOnly: true
      example: Request Accepted
    validationMessage:
      description: Object containing information about transaction validation
      type: object
      required:
        - code
        - message
      properties:
        code:
          $ref: "#/components/schemas/code"
        message:
          $ref: "#/components/schemas/errorMessage"
        entity:
          description: Information about the entity that experienced an error.
          type: string
    code:
      description: Short informative code about the error.
      type: string
    reportTypes:
      description: An array containing Report Types.
      type: object
      required:
        - reportTypes
      properties:
        reportTypes:
          type: array
          description: Array of report type
          minItems: 0
          items:
            $ref: "#/components/schemas/reportType"
    reportSections:
      description: The label given as a header for the section.
      type: array
      minItems: 0
      items:
        $ref: "#/components/schemas/reportSection"
    reportSection:
      description: The label given as a header for the section.
      type: object
      required:
        - sectionReportTypeName
      properties:
        sectionTitle:
          description: The name of the section within the report.
          type: string
        sectionReportTypeName:
          description: The report type name of the section within the report.
          type: string
        sectionSelectedFields:
          type: array
          minItems: 0
          description: Section Selected Fields List
          items:
            $ref: "#/components/schemas/selectedFields"
        sectionSortOrderList:
          type: array
          minItems: 0
          description: Section Selected Fields List
          items:
            $ref: "#/components/schemas/sortOrder"
        sectionFilterAttributeList:
          type: array
          minItems: 0
          description: Section Selected Fields List
          items:
            $ref: "#/components/schemas/filterAttribute"
        sectionReportTypeId:
          description: The report type identifier of the section within the report.
          type: string
    sectionRowCountDisplayIndicator:
      description: Indicates the BOOLEAN value to display row count for each report section. This field is only applicable when the report is generated in PDF format.
      type: boolean
    totalRowCountDisplayIndicator:
      description: Indicates the BOOLEAN value to display total number of row count in the report for all sections. This field is only applicable when the report is generated in PDF format.
      type: boolean
    reportFormatList:
      type: array
      minItems: 0
      description: Format of the report. Allowed values are csv and pdf
      items:
        $ref: "#/components/schemas/reportFormat"
    reportTypeIds:
      type: array
      minItems: 0
      description: The unique identifier of the types of reports
      items:
        type: string
    reportFormat:
      description: Codifies the document file format as text or binary file format for storing documents on a storage media, especially for use by computers.
      type: string
      enum:
        - CSV
        - PDF
        - TXT
    lastPage:
      description: Indicates the BOOLEAN value to signify whether or not the response is the final page of results.
      type: boolean
      example: true
    next:
      description: Indicates the reference for the next page for paginated response. Use the value of next to fetch the next batch of report configs. If the lastPage = TRUE; then the next attribute value is not populated.
      type: string
    selectedFields:
      description: Section Selected Fields
      type: object
      properties:
        reportAttributeName:
          $ref: "#/components/schemas/reportAttributeName"
        alias:
          description: The name of the attribute in the report.
          type: string
        constantValueText:
          description: The static text value of the attribute.
          type: string
        aggregateOperationText:
          description: The category of aggregation analytic functions. Allowed values=> count, avg, min, max, and sum
          type: string
        conditionalAggregateIndicator:
          description: Indicates the value for aggregate operation if performed on specific condition. Allowed values=> true and false.
          type: string
        aggregateConditionAttributeName:
          description: The label of the field on which aggregate condition is defined.
          type: string
        aggregateConditionText:
          description: Textual representation of the aggregate condition value.
          type: string
    entityType:
      description: Codifies the level of the merchant relationship as it relates to the acquiring account.
      type: string
