openapi: 3.0.0
info:
  version: 1.1.35
  title: Global API
  description: |-
    Our DHL eCS API provides you an interface to send shipment data, retrieve labels and access track and trace information. Please find instruction below. 
    If you would like to additionally search for address data of our service points (e.g. find the closest parcel shop of a specific address), please visit DHL Location Finder API (https://developer.dhl.com/api-reference/location-finder#get-started-section/overview). 
     ### Changelog

    Disclaimer: This changelog is intended to give a summary of major changes
    between API versions only. For full details of all changes compared to a
    previous version, please always refer to the API description in its
    entirety.

    - **1.0.9**
      - Tryout Enabled.
    - **1.1.10**
      - Document Updated as per OpenAPI 3.0 standard
    - **1.1.19**
      - YAML file updated with examples & Specification
    - **1.1.20**
      - YAML file updated with cEvent endpoint & response codes were updated
    - **1.1.22**
      - YAML file updated with connectPlus schema & examples were updated
    - **1.1.23**
      - Removed the label parameters from connectPlus section.
    - **1.1.25**
      - Added new labelreprint endpoint & example for labeless return PL and updated the allowed timestamp format for all examples.
    - **1.1.26**
      - Added new courier pickup endpoint & the example json of ParcelEurope.return.network, return consolidation by DHL.
servers:
  - url: 'https://api-sandbox.dhl.com'
paths:
  /ccc/v1/auth/accesstoken:
    get:
      summary: Get Access Token
      description: |+
        The API provides OAuth 2.0 Access Token with various authorization scopes.

        The Get Access Token API call provides OAuth 2.0 Bearer token with authorization scope, assigned to your client id, which will grants you an access to the DHL eCS APIs.

        The API operation is secured by HTTP Basic authentication, therefore you have to provide **client_id** and **client_secret** as a username and password, when calling the API.
      parameters: []
      tags:
        - Get Access Token
      responses:
         '200':
          $ref: '#/components/responses/SuccessAccessToken200'
         '401':
          $ref: '#/components/responses/Unauthorized401'  
  /ccc/send-cpan:
    post:
      security:
        - OAuth2: []
      summary: Send shipment data and receive labels
      description: |+
        Purpose of this service is to send shipment data (cPAN) to the eConnect API and receive shipment labels in response, as per the requested file format and resolution. For supported services and features please refer to the <b>[Get Started](https://developer.dhl.com/api-reference/ecommerce-europe#get-started-section)</b> section of this developer website. 

         **System Response Codes**

         The System Response Codes are provided in the *status* filed of the response.

         |HTTP Code|Status Code|Description|
         |---|---|--------|
         |200|200|CPAN processed|
         |200|602|Processing related errors|
         |200|603|Request validation errors|
         |401||Unauthorized|
         |429||Too many requests, try again later| 
         |500||Internal Server error, contact support|
      parameters:
        - name: customRange
          in: query
          description:  Custom Range can be used (set to true) by customers, which are configured (allowed) in eConnect for this functionality. Custom Range allows a customer to request a certain type of data/ application identifier to be applied to the request (parcelIdentifier).
          schema:
            type: string
            enum:
              - 'true'
              - 'false'
          required: false
        - name: generateLabel
          in: query
          description: Label generation is required or not
          schema:
            type: string
            enum:
              - 'true'
              - 'false'
          required: false
        - name: labelFormat
          in: query
          description: Please select the label format would you like to generate
          schema:
            enum:
              - pdf
              - zpl
              - png
              - zpl-native              
            type: string
          required: false
        - name: labelSize
          in: query
          description: Size of the label
          schema:
            enum:
              - 10x15
              - 10x21
            type: string
          required: false
        - name: resolution
          in: query
          description: Resolution in DPI for ZPL label
          schema:
            enum:
              - "200"
              - "300"
            type: string
          required: false
      requestBody:
        description: CPAN details defined in JSON schema. Please choose the required product for respective example value
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cPANRequest'
            examples:
              ParcelConnectDoorstep:
                $ref: '#/components/examples/ParcelConnectDoorstep'
              ParcelConnectDoorstepNoLabel:
                $ref: '#/components/examples/ParcelConnectDoorstepNoLabel'
              ParcelConnectServicePoint:
                $ref: '#/components/examples/ParcelConnectServicePoint'
              ParcelConnectServicePointNoLabel:
                $ref: '#/components/examples/ParcelConnectServicePointNoLabel'
              ParcelConnectLocker:
                $ref: '#/components/examples/ParcelConnectLocker'
              ParcelConnectCustomerBarcode:
                $ref: '#/components/examples/ParcelConnectCustomerBarcode'
              ParcelConnectDirectAdressing:
                $ref: '#/components/examples/ParcelConnectDirectAddressing'
              ReturnNetwork:
                $ref: '#/components/examples/ReturnNetwork'
              ReturnNetworkNoLabel:
                $ref: '#/components/examples/ReturnNetworkNoLabel'
              ReturnNetworkQRCode:
                $ref: '#/components/examples/ReturnNetworkQRCode'
              ReturnNetworkLocationId:
                $ref: '#/components/examples/ReturnNetworkLocationId'
              ParcelInternational:
                $ref: '#/components/examples/ParcelInternational'   
              ReturnInternational:
                $ref: '#/components/examples/ReturnInternational'
      tags:
        - Send CPAN
      responses:
        '200':
          $ref: '#/components/responses/ShipmentSuccess200'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '503':
          $ref: '#/components/responses/ServiceUnavail503'
        '500':
          $ref: '#/components/responses/InternalServerError500'
        '429':
          $ref: '#/components/responses/TooManyRequests429'
  /ccc/send-cpan2:
    post:
      summary: Send cPAN2 request
      description: >
        Purpose of this service is to send shipments in a “lean” way (cPAN2) with a significantly reduced  scope of data - in comparison to the service send-cpan.  The repeatedly used part of data is pre-configured in the form of “customer scenarios” which are a parameter for the request of this service. The response data schema makes it transparent which data was generated from the scenario.


        **System Response Codes**

         The System Response Codes are provided in the *statusCode* field of the response.

         |Code|Description|
         |------------------|--------------|
         |200|CPAN processed|
         |401|Unexpected input provided|
         |602|CCC system processing related errors|
         |603|CCC system request validation errors|
         |401|Unauthorized request|
         |500|Internal Server Error|
         |
      requestBody:
        description: cPAN2 details defined in JSON schema.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cPAN2Request'
            examples:
              cPAN2Request:
                $ref: '#/components/examples/cPAN2Request'
      parameters: []
      tags:
        - Send cPAN2(**Beta Version)
      responses:
        '200':
          $ref: '#/components/responses/cPAN2Response200' 
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '500':
          $ref: '#/components/responses/InternalServerError500'
        '503':
          $ref: '#/components/responses/ServiceUnavail503'
  /ccc/send-cCustoms:
    post:
      security:
        - OAuth2: []
      summary: Send cCustoms data
      description: |  
        Purpose of this service is to send customs data for shipments, that already have been created via the send CPAN request. It is applicable for non-EU destination shipments for the product DHL Parcel International. For Parcel Connect this service is only applicable to UK.Access restricted please contact DHL representative.

         **System Response Codes**

         The System Response Codes are provided in the *status* filed of the response.

         |HTTP Code|Status Code|Description|
         |------------------|-------|--------------|
         |200|200|cCustoms processed|
         |200|617|ccustoms processing related errors|
         |200|618|cCustoms request validation errors|
         |401||Unauthorized|
         |429||Too many requests, try again later| 
         |500||Internal Server error, contact support|
      parameters:
        - name: generateCustomsDocument
          in: query
          description: CN23 Document generation is required or not. Default format is PDF. Please note:- a CN23 document is only returned for product parcelInternational, as it is not applicable to other products.
          required: false
          schema:
            enum:
              - 'true'
              - 'false'
            type: string
      requestBody:
        description: cCustoms details in defined JSON schema
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomsRequestFormat'
            examples:
              ParcelConnect:
                $ref: '#/components/examples/cCustomsParcelInternational'
              cCustomsParcelConnectEUtoGB:
                $ref: '#/components/examples/cCustomsParcelConnectEUtoGB'
              cCustomsParcelConnectGBtoEU:
                $ref: '#/components/examples/cCustomsParcelConnectGBtoEU'
                
      tags:
        - Send cCustoms
      responses:
        '200':
          $ref: '#/components/responses/CustomsShipmentSuccess200'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '429':
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  /ccc/ReturnInternational:
    post:
      security:
        - OAuth2: []
      summary: Send ReturnInternational with cCustoms data
      description: |+
        Purpose of this service is to send both cPAN & cCustoms data for the product ReturnInternational and it will return the label & CN23 document for returns outside the EU countries.  

         **System Response Codes**

         The System Response Codes are provided in the *status* filed of the response.
        |HTTP Code|Status Code|Description|
         |------------------|-------|--------------|
         |200|200|cPAN cCustoms processed|
         |200|617|cPAN ccustoms processing related errors|
         |200|618|cPAN cCustoms request validation errors|
         |401||Unauthorized|
         |429||Too many requests, try again later| 
         |500||Internal Server error, contact support|
    
      requestBody:
        description: Details in defined JSON schema
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CPANCustomsRequestFormat'
            examples:
              ParcelConnect:
                $ref: '#/components/examples/cPANcCustomsParcelReturnInternational'
      tags:
        - Send ReturnInternational with cCustoms (** Beta Version)
      responses:
        '200':
          $ref: '#/components/responses/CpanCustomsShipmentSuccess200'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  /ccc/createShipmentPlus:
    post:
      security:
        - OAuth2: []
      summary: Send shipment data for Connect Plus product and receive labels
      description: |+
        Purpose of this service is to send shipment data (cPAN) for the product DHL Connect PLUS to the eConnect API and receive shipment labels in response, as per the requested file format and resolution. For supported services and features please refer to the <b>[Get Started](https://developer.dhl.com/api-reference/ecommerce-europe#get-started-section)</b> section of this developer website.

         **System Response Codes**

         The System Response Codes are provided in the *status* filed of the response.

         |HTTP Code|Status Code|Description|
         |---|---|--------|
         |200|200|CPAN processed|
         |200|602|Processing related errors|
         |200|603|Request validation errors|
         |401||Unauthorized|
         |429||Too many requests, try again later| 
         |500||Internal Server error, contact support|
      requestBody:
        description: connectPlus details defined in JSON schema. 
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createShipmentPlusRequestFormat'
            examples:
              ConnectPlusNoLabel:
                $ref: '#/components/examples/ConnectPlusNoLabel'
              ConnectPlusLabel:
                $ref: '#/components/examples/ConnectPlusLabel'
              ConnectPlusLabelCustomerBarcode:
                $ref: '#/components/examples/ConnectPlusLabelCustomerBarcode'
              ParcelEurope.connectPlus-LabelRequested Pallet:
                $ref: '#/components/examples/createShipmentPlusLabelRequestedPallet'
                
      tags:
        - Send connectPlus (**Beta Version)
      responses:
        '200':
          $ref: '#/components/responses/connectPlusShipmentSuccess200'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '429':
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          $ref: '#/components/responses/InternalServerError500'
        '503':
          $ref: '#/components/responses/ServiceUnavail503'
  /ccc/send-cevent:
    post:
      security:
        - OAuth2: []
      summary: Send cevent data
      description: |+
        Purpose of this service is to send event data for shipments, that already have been created via the send CPAN request. Customers can provide event activities that take place as pre- or post- processing of DHL activities. This event data will be relayed to respective DHL eCS network partners and also end recipients (e.g., via Track & Trace information). Customer needs to be authorized by project team to use this service to specific events.

         **System Response Codes**

         The System Response Codes are provided in the *status* filed of the response.

         |HTTP Code|Status Code|Description|
         |---|---|--------|
         |200|200|cEvent processed|
         |200|602|Processing related errors|
         |200|603|Request validation errors|
         |401||Unauthorized|
         |429||Too many requests, try again later| 
         |500||Internal Server error, contact support|
      requestBody:
        description: cEvent details defined in JSON schema.
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cEventRequest'
            examples:
              cEvent:
                $ref: '#/components/examples/cEvent'
      tags:
        - Send cEvent
      responses:
        '200':
          $ref: '#/components/responses/cEventShipmentSuccess200'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '429':
          $ref: '#/components/responses/TooManyRequests429'
        '503':
          $ref: '#/components/responses/ServiceUnavail503'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  /ccc/label-reprint:
    get:
      security:
        - OAuth2: []
      summary: Get the label reprinted based on the pieceId & customerId
      description: |+
        Purpose of this service is to get the label reprinted for the given pieceId & customerId. The benefit of this service is that it reprints the label. The label will be stored for maximum 10 days from the initial request and after that reprint not available any more. This feature is applicable only for 'ParcelEurope.parcelconnect', 'ParcelEurope.return.network' and 'ParcelEurope.connectplus'  'product's. Customer needs to be authorized by project team to use this service.
        

         **System Response Codes**

         The System Response Codes are provided in the *status* filed of the response.

         |HTTP Code|Description|
         |---|------|
         |200| Request has been processed successfully|
         |401|Unauthorized or Request error|
         |429|Too many requests, try again later| 
         |500|Internal Server error, contact support|
      parameters:
        - name: pieceId
          in: query
          description: ShipmentId of the parcel
          required: true
          schema:
            default: ''
            type: string
        - name: customerId
          in: query
          description: Individual customer Identification
          required: true
          schema:
            default: ''
            type: string
      tags:
        - Label Reprint
      responses:
        '200':
          $ref: '#/components/responses/lableReprintSuccess200'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '429':
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  /ccc/track-trace:
    get:
      security:
        - OAuth2: []
      summary: Get Track & Trace details of Shipment
      description: |+
        Purpose of this service is to get the track & trace details of the given shipmentId. The benefit of this service is that it returns complete track & trace details if the customer is connected directly. If the customer is connected via integrator then they can receive only limited track & trace information. 

         **System Response Codes**

         The System Response Codes are provided in the *status* filed of the response.

         |HTTP Code|Status Code|Description|
         |---|---|--------|
         |200|200|Track & Trace processed|
         |200|612|Track & Trace processing related errors|
         |401||Unauthorized|
         |429||Too many requests, try again later| 
         |500||Internal Server error, contact support|
      parameters:
        - name: shipmentId
          in: query
          description: ShipmentId of the parcel
          required: true
          schema:
            default: ''
            type: string
      tags:
        - Track & Trace
      responses:
        '200':
          $ref: '#/components/responses/tracktrace200'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '429':
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  /ccc/track-trace/shipments:
    get:
      security:
        - OAuth2: []
      summary: Get Track & Trace details of shipments with paging
      description: |+
        Purpose of this service is to get all the shipments track & trace details for the given customerId and injection date. The benefit of this service is that it returns track & trace details of all the shipments for a specific customer and given specific date. 

         **System Response Codes**

         The System Response Codes are provided in the *status* filed of the response.
         |HTTP Code|Status Code|Description|
         |---|---|--------|
         |200|200|Multiple track & trace processed|
         |200|615|Multiple track & trace processing related error|
         |401||Unauthorized|
         |429||Too many requests, try again later| 
         |500||Internal Server error, contact support|
      parameters:
        - name: customerId
          in: query
          description: CustomerId of the requested shipments
          required: true
          schema:
            default: ''
            type: string
        - name: injectionDate
          in: query
          description: Date of requested shipments in dd/MM/yyyy format
          schema:
            default: ''
            type: string
          required: true
        - name: startRow
          in: query
          description: Number of shipments count exceeded the page size then customer can specify the startRow value.
          required: false
          schema:
            default: ''
            type: string
      tags:
        - Track & Trace Paging
      responses:
        '200':
          $ref: '#/components/responses/MultipleTrackTraceResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '429':
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  /ccc/track-trace/customerWithDateInterval:
    get:
      security:
        - OAuth2: []
      summary: Get Multiple Track & Trace of Customer with date interval
      description: |+
        Purpose of this service is to get all the shipments track & trace information for the given customerId, injectionDateFrom and injectionDateTo input fileds. The benefit of this service is that it returns track & trace details of all the shipments for a specific customer between the given start and end dateTime interval. 

         **System Response Codes**

         The System Response Codes are provided in the *status* filed of the response.
         |HTTP Code|Status Code|Description|
         |---|---|--------|
         |200|200|Multiple track & trace processed|
         |200|621|Multiple track & trace for customer date interval related errors|
         |401||Unauthorized|
         |429||Too many requests, try again later| 
         |500||Internal Server error, contact support|
      parameters:
        - name: customerId
          in: query
          description: CustomerId of the requested shipments
          required: true
          schema:
            default: ''
            type: string
        - name: injectionDateFrom
          in: query
          description: 'Start date of requested shipments in dd/MM/yyyy HH:mm format'
          required: true
          schema:
            default: ''
            type: string
        - name: injectionDateTo
          in: query
          description: 'End date of requested shipments in dd/MM/yyyy HH:mm format'
          required: true
          schema:
            default: ''
            type: string
      tags:
        - Multiple Track & Trace
      responses:
        '200':
          $ref: '#/components/responses/customerWithDateIntervalResponse'
        '400':
          $ref: '#/components/responses/BadRequest400'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '429':
          $ref: '#/components/responses/TooManyRequests429'
        '500':
          $ref: '#/components/responses/InternalServerError500'
  /ccc/courier-pickup:
    post:
      summary: Send Courier Pickup request
      description: |+
        The purpose of this service is to enable our business customers in France and Italy to order a courier pickup of their shipments created over the send CPAN service.

        A DHL courier pickup can be requested for a specific date and within a desired time-slot.
        
        Pickup cancellations and modifications are possible via the customer service hotlines but not via this service.
        
        The use of this service is subject to additional authorization for which you are welcome to contact your DHL representative.
        
        **System Response Codes**

         The System Response Codes are provided in the *statusCode* field of the response.

         |Code|Description|
         |------------------|--------------|
         |201|Success|
         |400|Bad request|
         |401|Unauthorized request|
         |500|Internal Server Error|
      requestBody:
        description: Pickup details defined in JSON schema.
        required: true
        content:
          application/json:
            schema:
                    $ref: '#/components/schemas/CourierPickupRequest'
            examples:
              CourierPickupRequest:
                $ref: '#/components/examples/CourierPickupRequest'
      parameters: []
      tags:
        - Courier Pickup in Italy and France (**Beta Version)
      responses:
       '201':
          $ref: '#/components/responses/CourierPickupResponse201'
       '401':
          $ref: '#/components/responses/Unauthorized401'
       '400':
          $ref: '#/components/responses/CourierPickupResponse400'
       '500':
          $ref: '#/components/responses/InternalServerError500'
components:
  schemas:
    cPAN2Response200:
      type: object
      properties:
        message:
          type: object
          description: Container for the request data
          properties:
            status:
              type: string
              description: >-
                Status of the cPAN2 request call.
              example: >-
                200
            sessionId:
              type: string
              example: 752328d4-2630-4a48-ac2b-a03b21b4de10    
            timestamp:
                  type: string
                  description: Timestamp at which the response data is passed from DHL eCS Europe API.
                  example: >-
                    Example of expressing the same time in the different
                    formats- 2022-07-01T13:05:05Z 2022-07-01T15:05:05+02:00
                    2022-07-01T11:05:05-02:00
                  enum:
                    - YYYY-MM-DDThh:mm:ssZ (or)
                    - YYYY-MM-DDThh:mm:ss+hh:mm (or)
                    - YYYY-MM-DDThh:mm:ss-hh:mm  
            statusCode:
              type: string
              example: OK or ERROR
            statusMessage:
              type: string
              example: >-
                "OK" or "Configuration
                not found for customerId: 'Test12345'. If you are a customer,
                please enter your valid DHL customerID. If you are an
                integrator, please enter the DHL ID of your customer into this
                field."   
            cpanVersion:
              type: string
              description: Applied cPAN version
            xpanVersion:
              type: string
              description: Applied xPAN version
            shipmentID:
                  type: string
                  description: Shipment Identification
                  example: >-
                   2TESTJJD14900057729161
                  maxLength: 50   
            customerId:
              type: string
              description: Customer Identification
              example: >-
                    5012345678
              maxLength: 35 
            scenarioId:
              type: string
              description: >-
                This describes which scenario the customer is going to opt for their shipment. This scenarioId is defined in the setup of the customer. It is crucial for DHL to derive all customer scenario specific shipment attributes. This information must be provided if a different scenario than the default scenario is requested.
              example: >-
                returnProgram
              maxLength: 35  
            routingCode:
                  type: string
                  description: >-
                    Routing code.
                  example: Example of the identifier type ASC MH10- 2LIT20123+70530000
            product:
                  type: string
                  description: >-
                    This is the product of the parcel. Please use- -
                    ParcelEurope.parcelconnect for product "DHL Parcel Connect",
                    - ParcelEurope.return.network for product "DHL Parcel Return
                    Connect", - ParcelEurope.parcelinternational for product
                    "DHL Parcel International" -
                    ParcelEurope.return.international for product "DHL Parcel
                    International Return"
                  enum:
                    - ParcelEurope.parcelconnect,
                    - ParcelEurope.return.network,
                    - ParcelEurope.parcelinternational,
                    - ParcelEurope.return.international 
            totalPieces:
                  type: integer
                  description: >-
                    Count of pieces, available for ConnectPlus
            pieceDetails:
              type: array
              items:
                properties:
                  pieceId:
                    type: string
                    description: Identification of parcel
                  pieceNr:
                    type: string
                    description: Sequence nr, available for ConnectPlus
            address:
              type: array
              description: All addresses either sent or enriched from configured scenario
              items:
                properties:
                  segment:
                    type: string
                    description: Address segment
                    enum:
                      - sender
                      - recipient
                      - other
                    example: recipient
                  type:
                    type: string
                    description: >-
                        Address type
                  firstname:
                    type: string
                    description: >-
                      First name of address of specified segment and type             
                  name:
                    type: string
                    description: >-
                      Name of address of specified segment and type.
                  street:
                    type: string
                    description: Street of address of specified segment and type
                  streetNr:
                    type: string
                    description: Street Nr of address of specified segment and type          
                  city:
                    type: string
                    description: City of address of specified segment and type
                  postcode:
                    type: string
                    description: Postcode of address of specified segment and type
                  country:
                    type: string
                    description: >-
                      Country of address of specified segment and type
                required:
                  - segment
                  - type
                  - name
                  - street
                  - city
                  - postcode
                  - country
                  
            directInjection:
              type: array
              description: Derived direct injection information as it is used as output for xPAN
              items:
                properties:
                  directInjectionCountry:
                    type: string
                    description: Country of direct injection
                  directInjectionGatewayCity:
                    type: string
                    description: City of direct injection
                  directInjectionGatewayPostcode:
                    type: string
                    description: Postcode of direct injection
            payerOrganization:
              type: array
              description: Derived payer organization as it is used as output for xPAN
              items:
                properties:
                  payerAccountId:
                    type: string
                    description: Account Id of the payer organization
                  payerName:
                    type: string
                    description: Name of the payer organization
            customerContractInformation:
              type: array
              items:
                properties:
                  customerId:
                    type: string
                    description: Customer Identification
                    example: 5012345678
                  customerContact:
                    type: string
                    description: >-
                      Contact name
                  customerPricingReference:
                    type: string
                    description: >-
                      Account Nr    
            shipmentFeatures:
              type: array
              description: Derived list of configured features as used as output fox xPAN.
              items:
                properties:
                  simpleFeature:
                    type: string
                    description: Name of the feature.
                    enum:
                      - receiverSignature
                      - prime
                      - onlyMo2Fr
                      - adhocPickup
                      - goGreen
                      - noProofOfDelivery
                    example: receiverSignature
                  complexFeatures:
                    type: string
                  extraInsurance:
                    type: string
                    description: >-
                      For future use    
            feature:
              type: array
              items:
                properties:
                  featureName:
                    type: string
                    description: Name of the feature.
                  boolValue:
                    type: boolean
                    description: >-
                      Value of the feature in boolean format.
                      enum:
                        - true
                        - false                      
                  textValue:
                    type: string
                    description: >-
                      Value of the feature in string format.   
                  intValue:
                    type: string
                    description: >-
                      Value of the feature in integer format.
                  labelFormat:
                    type: string
                    example: pdf
                    description: >-
                     Format of the label. If no label is generated, this field is not returned.  
                  label:
                    type: string
                    description: >-
                      The base64 string of the encoded label returned by Maia.
                      If no label is generated, this field is not returned.               
          required:
            - timestamp
            - status
            - sessionId
            - statusMessage
            - cpanVersion
            - xpanVersion
            - shipmentId
            - scenarioId
            - customerId
            - address
            - pieceDetails
            - payerOrganization
            - customerContractInformation
      required:
        - message    
    cPANRequest:
      type: object
      properties:
        dataElement:
          type: object
          description: 'Container for the request data'
          properties:
            parcelOriginOrganization:
              type: string
              description: This field indicates the origin country of the parcel. ISO-3166 two-letter country code (capital lettters); format:- capital letters.
              example: NL
              maxLength: 2
            parcelDestinationOrganization:
              type: string
              description: This indicates which country is the recipient of the parcel. ISO-3166 two-letter country code(capital lettters); format:- capital letters.
              example: PL
              maxLength: 2
            general:
              type: object
              properties:
                parcelIdentifier:
                  type: string
                  description: This describes the identifier that is used for parcel tracking. 
                    Product DHL Parcel Connect/Return Connect
                      - This is always a License-Plate identifier. 
                      - If the label is requested via this API then this value should be left empty. 
                    Product DHL Parcel International
                      - This is always a UPU S10 identifier. 
                      - If the label is requested via this API then this value should be left empty.
                    Product DHL Parcel Return International
                      - not applicable, as lable and parcel identifier are  always provided.
                    Must be provided if label is not requested.
                  example: Example of parcelIdentifier of type ASC MH10 "JJD0000000000000001"
                timestamp:
                  type: string
                  description: Timestamp at which the request data is passed to DHL eCS Europe API.
                  example: Example of expressing the same time in the different formats-
                       2022-07-01T13:05:05Z
                       2022-07-01T15:05:05+02:00
                       2022-07-01T11:05:05-02:00
                  enum: 
                     - YYYY-MM-DDThh:mm:ssZ (or) 
                     - YYYY-MM-DDThh:mm:ss+hh:mm (or) 
                     - YYYY-MM-DDThh:mm:ss-hh:mm
                product:
                  type: string
                  description: This is the product of the parcel.
                     Please use-
                         - ParcelEurope.parcelconnect for product "DHL Parcel Connect", 
                         - ParcelEurope.return.network for product "DHL Parcel Return Connect", 
                         - ParcelEurope.parcelinternational for product "DHL Parcel International"
                         - ParcelEurope.return.international for product "DHL Parcel International Return"
                  enum: 
                     - ParcelEurope.parcelconnect, 
                     - ParcelEurope.return.network, 
                     - ParcelEurope.parcelinternational, 
                     - ParcelEurope.return.international
                routingCode:
                  type: string
                  description: This describes the identifier used for routing the parcel. It contains information about the data/ application identifier type used, recipient information and service information. Must only provided when the label is not requested, but generated by the customer. Not relevant for DHL Parcel Return International.   
                    Must be provided if label is not requested.
                  example: Example of the identifier type ASC MH10- 2LIT20123+70530000
              required:
                - timestamp
                - product
            cPAN:
              type: object
              description: Container for the parcel sender, receiver and parcel feature details.
              properties:
                addresses:
                  type: object
                  description: Container for the parcel sender and receiver details. Addresses where the parcel is coming from and destined to.
                  properties:
                    sender:
                      type: array
                      description: Container for the parcel sender details. In case parcels are undeliverable, they will be send back to this address.
                      items:
                       properties:
                        type:
                          type: string
                          description: Type of the sender address.There must be one sender with address type "default". 
                          example: default
                          enum:
                              - default                          
                        firstName:
                          type: string
                          maxLength: 35
                          description: If first name is available, fill in this field. Content can also be put into 'name' field.
                        name:
                          type: string
                          maxLength: 35
                          description: This is the main field for describing the name. It must contain the surname, optionally also the first name.
                        additionalName:
                          type: string
                          maxLength: 35
                          description: If further name field is required, use this field.
                        mobileNr:
                          type: string
                          maxLength: 35
                          description: Sender's phone number, used for SMS notification.
                        phoneNr:
                          type: string
                          maxLength: 35
                          description: Sender's phone number (optional)
                        email:
                          type: string
                          maxLength: 70
                          description: Sender's email address, used for mail notification. Must contain the "@" character
                        street1:
                          type: string
                          maxLength: 35
                          description: This field must contain the street name of the sender address. Optionally also the housenumber, if not contained in street1Nr.
                        street1Nr:
                          type: string
                          maxLength: 10
                          description: If the house number is not part of Street1, this field can be used. Conditional:Must be provided if product= ParcelEurope.return.international
                        street2:
                          type: string
                          maxLength: 35
                          description: Alternative street name of the sender address. Optionally also the house number.
                        street2Nr:
                          type: string
                          maxLength: 10
                          description: If the house number is not part of Street2, this field can be used.
                        postcode:
                          type: string
                          maxLength: 17
                          description: The postcode/zipcode of the sender of the parcel.
                        city:
                          type: string
                          maxLength: 35
                          description: City name of the sender's address
                        country:
                          type: string
                          description: ISO-3166 two-letter country code; format:- capital letters
                          maxLength: 2
                          example: NL
                        referenceNr:
                          type: string
                          description: Customer-specific reference number, which will also appear on the label.
                        customerIdentification:
                          type: string
                          maxLength: 35
                          description: Individual customer ID of sender. Will be provided to customers during onboarding process.
                        customerAccountNr1:
                          type: string
                          maxLength: 35
                          description: Additional account information. Will be provided to customers during onboarding process, if applicable to the customer scenario.Conditional:You either need to send a customerAccountNr1 or need to be pre-configured in eConnect. Please reach out to your DHL contact person.  
                       required:
                         - type
                         - name
                         - street1
                         - postcode
                         - city
                         - country
                         - customerIdentification
                    recipient (This segment must be provided if product is different than ParcelEurope.return.* ):
                      type: array
                      maxItems: 2
                      description: Container for the parcel recipient details. The parcel will be shipped to this address.
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                            description: Type of the recipient address. 
                                Product DHL Parcel Connect - 
                                 - Type of recipient address can be doorstep, parcelshop, parcelstation, postOffice.
                                Product DHL Parcel Return Connect -
                                 - Type of recipient address is always  doorstep.
                                Product DHL Parcel International/Return International - 
                                 - Type of recipient address is always doorstep.
                            enum: 
                              - doorstep, 
                              - parcelshop, 
                              - parcelstation, 
                              - postOffice
                          firstName:
                            type: string
                            maxLength: 35
                            description: If first name is available, fill in this field. Content can also be put into name field.
                          name:
                            type: string
                            maxLength: 35
                            description: This is the main field for describing the name. It must contain the surname, optionally also the first name.
                            example:
                          additionalName:
                            type: string
                            maxLength: 35
                            description: If a further name field is required, use this field.
                            example:
                          mobileNr:
                            type: string
                            maxLength: 35
                            description: Recipient mobile number, used for SMS notification in some scenarios (e.g. service point delivery).
                            example:
                          phoneNr:
                            type: string
                            maxLength: 35
                            description: Recipient fixed line phone number.
                            example:
                          email:
                            type: string
                            maxLength: 70
                            description: Recipient email address, used for email notification. Must contain the "@" character. Mandatory, if addressed to an access point.
                            example:
                          street1:
                            type: string
                            maxLength: 35
                            description: This field must contain the street name of the sender address. Optionally also the housenumber, if not contained in street1Nr. 
                              Note - in case of direct addressing to service points the keyword has to be included here. (Source- LocationFinder)
                            example: Packstation
                          street1Nr:
                            type: string
                            maxLength: 10
                            description: If the housenumber is not part of Street1, this field can be used.
                              Note- in case of direct addressing to service points the keywordId has to be included here. (Source- LocationFinder)
                            example: 183
                          street2:
                            type: string
                            maxLength: 35
                            description: Additional street name of the recipient address. Optionally also the housenumber. Note- in case of direct addressing to service points the streetAddress has to be included here. It contains street name and optionally also street number (Source- LocationFinder)
                            example:
                          street2Nr:
                            type: string
                            maxLength: 10
                            description: If the housenumber is not part of Street2, this field can be used. Note - in case of direct addressing to service points this field can needs to be left empty or populated with housenumber if not included in Street2.
                            example:
                          postcode:
                            type: string
                            maxLength: 17
                            description: The postcode/zipcode of the recipient of the item.
                            example:
                          city:
                            type: string
                            maxLength: 35
                            description: The name of the city of the recipient address for delivery.
                            example:
                          country:
                            type: string
                            description: ISO-3166 two-letter country code. format:- capital letters
                            maxLength: 2                            
                            example: PL
                          customerIdentification:
                            type: string
                            maxLength: 35
                            description: Optional field for individual customer ID of recipient, e.g. EKP 
                                Note - in case of direct addressing to German parcelstations this field must contain the Postnumber (see Use Case)
                            example: German Postnumber - 12345678
                       
                        required:
                          - type
                          - name
                          - street1
                          - postcode
                          - city
                          - country
                    recipient (only to be used for products ParcelEurope.return.* ):
                     type: array
                     description: This segement is only to be used for products ParcelEurope.return.network and ParcelEurope.return.international. If this segement is used, the recipient address segment has to be neglected.
                     items:
                      type: object
                      properties:
                       locationId:
                         type: string
                         maxLength: 35
                         description: In case consolidation = true (see below parameter in feature segment) a locationId can be provided to indicate the return location to be used for business customers to consolidate return shipments for local pickup. In case, no locationId was provided, eConnect will use the configured default location as the return consolidation address. In case, no locationId was provided and no default is configured, the request will be rejected.     
                  required:
                    - sender
                    - recipient (This segment must be provided if product is different than ParcelEurope.return.* )
                customerBarcode:
                  type: object
                  description: Container for customer indivdual barcode to be printed on the label
                  properties:
                    position:
                      type: string
                      description: In case an own customer barcode shall be printed on the label, the customer can chose between two positions for this customer.
                        barcode -
                          - top (allowed for labelSize - 10x20)
                          - middle (allowed for labelSize - 10x15, 10x20)
                          Note - barcode type is always Code-128
                      example:
                    id:
                      type: string
                      description: Value that will be encoded in the printed barcode
                      example: Order12345
                      maxLength: 35
                    caption:
                      type: string
                      description: The caption (text) that shall be printed below the barcode. 
                      example: (Order)12345
                features:
                  type: object
                  description: Container for features of the product
                  properties:
                    physical:
                      type: object
                      description: Container for the physical attributes of a parcel
                      properties:
                        grossWeight:
                          type: string
                          description: Gross weight of the parcel in kilogram (kg). format - nn.nnn (in kg)
                          example:
                        volume:
                          type: string
                          description: Volume of the parcel in cubic meter (m^3). format - nn.nn (in m^3)
                          example:
                        length:
                          type: string
                          description: Length of the parcel in meter (m). format - nn.nn (in m)
                          example:
                        height:
                          type: string
                          description: Height of the parcel in meter (m). format - nn.nn (in m)
                          example:
                        width:
                          type: string
                          description: Width of the parcel in meter (m). format - nn.nn (in m)
                          example:
                      required:
                        - grossWeight
                    cod:
                      type: object
                      description: Optional container for the Cash-On-Delivery (COD) details. The feature is only available for specific lanes please contact your DHL representative.
                      properties:
                        sepa:
                          type: object
                          description: Container for COD in case of Sepa banking transfers.
                          properties:
                            amount:
                              type: string
                              description: The amount to be charged. Must be provided if sepa transfer is true. format - nnnnnnnnn.nnn 
                              example: 188.35
                            currency:
                              type: string
                              description: Must be provided if sepa transfer is true. ISO 4217 alpha-3 currency code
                              maxLength: 3
                              example: EUR
                            bankAccountHolder:
                              type: string
                              description: Name of the party on behalf of which the beneficiary receives the payment. Must be provided if sepa transfer is true. format - nnnnnnnnn.nnn 
                              example:
                            IBAN:
                              type: string
                              description: IBAN of bank account for SEPA-countries only. Must be provided if sepa transfer is true.
                              example: DE00 0000 0000 0000 0000 00
                            BIC:
                              type: string
                              description: BIC of bank account for SEPA-countries only. Must be provided if sepa transfer is true.
                              example: TESTDEM1001
                            bankName:
                              type: string
                              description: The name of bank. Must be provided if sepa transfer is true.
                              example: Testbank
                            bankLocation:
                              type: string
                              description: The location of bank.
                              example: Berlin
                            intendedPurpose:
                              type: string
                              description: Underlying reason for the payment transaction. Must be provided if sepa transfer is true.
                              example: TestOrder123
                          required:
                            - amount
                            - currency
                            - bankAccountHolder
                            - IBAN
                            - BIC
                            - bankName
                            - intendedPurpose
                    bulky:
                      type: boolean
                      description: Any parcel with irregular shape or any kind of packaging that prevents automated sorting are selectable as oon it bulky For details please contact DHL representative.
                      example: true or false
                    adhocPickup:
                      type: boolean
                      description: Flag for ad-hoc pickup service for Parcel Return Connect.
                      example: true or false
                    priority:
                      type: boolean
                      description: Shipment handeled with previously aligned ops priority process (e.g. first wave delivery). Usage limited to countries and customers with special contractual arrangements in place.
                      example: true or false
                    gogreen:
                      type: boolean
                      description: Insert only, if the feature "Go Green" is required for the specific shipment. Contractual agreement with DHL representative is mandatory.
                      example: true or false
                    extraInsurance:
                      type: string
                      description: Insert only, if extra insurance is required and aligned with your DHL representative. The possible values of "A" or "B" represent clauses from the customer contract.
                      enum:
                        - A
                        - B
                    noProofOfDelivery:
                      type: boolean
                      description: True if no proof of delivery is required else false. Option to renounce POD  is only available for DHL Parcel Connect and only in destination BE and FR. 
                      example: true or false
                    undeliverableInstruction:
                      type: string
                      description: List of possible values are 'Abandon' or 'Return'.
                      example: Abandon
                    consolidation:
                      type: boolean
                      description: This field is available for use only for ParcelEurope.return.network or ParcelEurope.return.international product's. For product ParcelEurope.return.international the field is mandatory GenerateLabel parameter must be set to "true" when consolidation flag is used for return.international product.
                      example: true or false
                  required:
                    - physical
                featureCodes:
                  type: object
                  description: Container for the feature details.
                  properties:
                    feature:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            description: Name of the feature.
                            example:
                          boolValue:
                            type: boolean
                            description: Value of the feature in boolean format.
                            example:
                          textValue:
                            type: string
                            description: Value of the feature in string format
                            example:
                          intValue:
                            type: integer
                            description: Value of the feature in integer format.
                            example:
                        required:
                          - name
                  required:
                    - feature
              required:
                - addresses
                - features
          required:
            - parcelOriginOrganization
            - parcelDestinationOrganization
            - general
            - cPAN
      required:
        - dataElement
    cPAN2Request:
      type: object
      properties:
        message:
          type: object
          description: Container for the request data
          properties:
            timestamp:
              type: string
              description: >-
                Timestamp at which the request data is passed to DHL eCS
                    Europe API.
              example: >-
                Example of expressing the same time in the different
                formats- 2022-07-01T13:05:05Z 2022-07-01T15:05:05+02:00
                2022-07-01T11:05:05-02:00
              enum:
                - YYYY-MM-DDThh:mm:ssZ (or)
                - YYYY-MM-DDThh:mm:ss+hh:mm (or)
                - YYYY-MM-DDThh:mm:ss-hh:mm
            customerId:
              type: string
              description: >-
                    This describes the identifier that is used for parcel
                    tracking. Product DHL Parcel Connect/Return Connect - This
                    is always a License-Plate identifier. - If the label is
                    requested via this API then this value should be left empty.
              example: >-
                    Example of parcelIdentifier of type ASC MH10
                    "JJD0000000000000001"
              maxLength: 35
            scenarioId:
              type: string
              description: >-
                This describes which scenario the customer is going to opt for their shipment. This scenarioId is defined in the setup of the customer. It is crucial for DHL to derive all customer scenario specific shipment attributes. This information must be provided if a different scenario than the default scenario is requested.
              example: >-
                returnProgram
              maxLength: 35
            address:
              type: array
              items:
                properties:
                  addressType:
                    type: string
                    description: Type of the addresses.
                    enum:
                      - senderDefault
                      - recipientDoorstep
                    example: sendDefault
                  firstName:
                    type: string
                    maxLength: 35
                    description: >-
                      If first name is available, fill in this field.
                      Content can also be put into 'name' field.
                  name:
                    type: string
                    maxLength: 50
                    description: >-
                      This is the main field for describing the name. It
                      must contain the surname, optionally also the
                      first name.
                  additionalName:
                    type: string
                    maxLength: 35
                    description: If further name field is required, use this field.
                  companyName:
                    type: string
                    maxLength: 50
                    description: If further name field is required, use this field.
                  mobile:
                    type: string
                    maxLength: 35
                    description: Phone number, used for SMS notification.
                  email:
                    type: string
                    maxLength: 70
                    description: >-
                      email address, used for mail
                      notification. Must contain the "@" character.
                  street:
                    type: string
                    maxLength: 100
                    description: >-
                              This field must contain the street name of the
                              sender/recipient address. Optionally also the housenumber,
                              if not contained in streetNr.
                  streetNr:
                    type: string
                    maxLength: 10
                    description: >-
                              If the house number is not part of Street1, this
                              field can be used.
                  city:
                    type: string
                    maxLength: 35
                    description: City name of the sender/recipient address.
                  postcode:
                    type: string
                    maxLength: 17
                    description: >-
                          The postcode/zipcode of the sender/recipient of the parcel.
                  country:
                    type: string
                    description: >-
                      ISO-3166 two-letter country code
                    minLength: 2
                    maxLength: 2
                    example: NL
                required:
                  - addressType
                  - name
                  - street
                  - city
                  - postcode
                  - country
            directAddressing:
              type: object
              description: >-
                      Container to describe the relevant data attributed for DHL eConnect to derive all relevant information of the accessPoint (e.g. the address or type of the accessPoint).
              properties:
                keywordId:
                  type: string
                  maxLength: 50
                  description: >-
                      Keyword ID which is used to call the Unified Location Finder API.
                postcode:
                  type: string
                  maxLength: 17
                  description: >-
                        The postcode/zipcode of the sender/recipient of the parcel.
                country:
                  type: string
                  minLength: 2
                  maxLength: 2
                  description: >-
                        ISO-3166 two-letter country code
                recipientAccountNr:
                  type: string
                  maxLength: 35
                  description: >-
                       AccountNr of the recipient.  In this element the recipients postnumber must be provided, if applicable for the respective delivery country and accessPoint type (e.g. delivery in DE for parcelStation).
              required:
                - keywordId
                - postcode
                - country

            pieces:
              type: array
              items:
                properties:
                  weigth:
                    type: string
                    description: >-
                     weight of the parcel in kilogram (kg). format
                     - nn.nnn (in kg)
                    example: null
                  height:
                    type: string
                    description: >-
                     Height of the parcel in meter (m). format - nn.nn
                     (in m)
                    example: null
                  length:
                    type: string
                    description: >-
                     Length of the parcel in meter (m). format - nn.nn
                            (in m)
                    example: null
                  width:
                    type: string
                    description: >-
                     Width of the parcel in meter (m). format - nn.nn (in m)
                    example: null 
                  bulky:
                    type: boolean
                    description: >-
                        Any parcel with irregular shape or any kind of packaging
                        that prevents automated sorting are selectable as bulky.
                        For details please contact DHL representative.
                    example: true or false
                  senderReferencenr:
                    type: string
                    maxLength: 35
                    description: >-
                     Customer-specific reference number, which will
                     also appear on the label.
                  recipientReferenceNr:
                    type: string
                    maxLength: 35
                    description: >-
                      Customer-specific reference number.
                required:
                  - weigth
          required:
            - timestamp
            - customerId
            - address
            - pieces
      required:
        - message        
    CustomsRequestFormat:
      type: object
      properties:
        dataElement:
          type: object
          description: Container for the request data.
          properties:
            version: 
              type: string
              description: Version of the data message
            parcelOriginOrganization:
              type: string
              description: This field indicates the origin country of the parcel. ISO-3166 two-letter country code
              example: DE
              maxLength: 2
            parcelDestinationOrganization:
              type: string
              description: This indicates which country is the recipient of the parcel. ISO-3166 two-letter country
              example: GB
              maxLength: 2
            general:
              type: object
              description: Container for the general data of request.
              properties:
                parcelIdentifier:
                  type: string
                  description: This describes the identifier that is used for parcel tracking. 
                  example: Example of parcelIdentifier of type ASC MH10 - JJD0000000000000001
                timestamp:
                  type: string
                  description: Timestamp at which the request data is passed to DHL eCS Europe API.
                  example: Example of expressing the same time in the different formats -
                     2022-07-01T13:05:05Z
                     2022-07-01T15:05:05+02:00
                     2022-07-01T11:05:05-02:00
                  enum: 
                     - YYYY-MM-DDThh:mm:ssZ (or) 
                     - YYYY-MM-DDThh:mm:ss+hh:mm (or) 
                     - YYYY-MM-DDThh:mm:ss-hh:mm
                product:
                  type: string
                  description: This is the product of the parcel.
                      Please use -
                       - ParcelEurope.parcelconnect for product "DHL Parcel Connect",  
                       - ParcelEurope.parcelInternational for product "DHL Parcel International"
                  enum:
                      - ParcelEurope.parcelconnect,  
                      - ParcelEurope.parcelInternational
                routingCode:
                  type: string
                  description: This describes the identifier used for routing the parcel. It contains information about the data/ application identifier type used, recipient information and service information. No needed in case of product = ParcelEurope.parcelconnect.
                  example:
                customerIdentification:
                  type: string
                  description: Individual customer ID of sender. Will be provided to customers during onboarding process.
              required:
                - parcelIdentifier
                - timestamp
                - product
                - customerIdentification
            cCustoms:
              type: object
              properties:
                update:
                  type: boolean
                  description: Only used if product = ParcelEurope.parcelconnect AND parcelDestinationOrganization = GB. Set 'false' or do not provide, if customs data Element is provided the first time. Set 'true', if this is an update or a previously transferred customs data element.
                CustomsIDs:
                  type: object
                  description: Container for the customsIDs for sender and recipient. Needs to be included only if customsID information for the sender and/or recipient shall be specified.
                  properties:
                    sender:
                      type: object
                      description: Container for the customsIDs for sender. Needs to be included only if customsID information for the sender and/or recipient shall be specified. Maximum of 5 sender idType and identifer is allowed.
                      properties:
                        idType:
                          type: string
                          description: Information on the type of fiscal ID. Condition:- Must be provided if product is ParcelEurope.parcelInternational. In case of ParcelEurope.parcelConnect, the fiscalID must either provided here or by configuration. For more details please refer to the use cases or reach out to your DHL contact person.
                          example: VAT
                          maxLength: 35
                          enum:
                            - VAT
                            - EORI
                            - inboundVAT
                            - IOSS
                        identifier:
                          type: string
                          description: Fiscal ID of the sender.          Condition:- same as for idType
                          example: German VAT - DE 123456789
                          maxLength: 35
                    recipient:
                      type: object
                      description: Container for the customsIDs for recipient. Needs to be included only if customsID information for the sender and/or recipient shall be specified. condition:- must be provided if product = ParcelEurope.parcelInternational; if product = ParcelEurope.parcelconnect;
                      properties:
                        idType:
                          type: string
                          description: Information on the type of fiscal ID. Condition:- Must be provided if product is ParcelEurope.parcelInternational. In case of ParcelEurope.parcelConnect, the fiscalID must either provided here or by configuration. For more details please refer to the relevant use cases ("Get Started" Section) or reach out to your DHL contact person.
                          example: VAT
                          maxLength: 35
                          enum:
                            - VAT
                            - EORI
                            - inboundVAT
                        identifier:
                          type: string
                          description: Fiscal ID of the recipient.          Condition:- same as for idType
                          example: German VAT - DE 123456789
                          maxLength: 35
                shippingFee:
                  type: object
                  properties:
                    currency:
                      type: string
                      description: Currency of of the shipping fee to recipient.Note:- in case multiple currency elements are provided, use consistent currency in message. ISO 4217 alpha-3 currency codes. Must be provided if product = ParcelEurope.parcelInternational.
                      maxLength: 3
                    value:
                      type: string
                      description: Transportation costs for the shipment. Can be stated as "0.00" for parcel international. Must be provided if product = ParcelEurope.parcelInternational. format - nnnnn.nn; 
                      maxLength: 7
                insuranceCost:
                  type: object
                  properties:
                    value:
                      type: string
                      description: Insurance cost for the shipment. format - nnnnn.nn
                      maxLength: 15
                goodsDescription:
                  type: object
                  description: Container for the description of all the items in the shipment
                  properties:
                    general:
                      type: object
                      description: General information that refers to all items in the shipment
                      properties:
                        incoterms:
                          type: string
                          description: Incoterm as agreed between sender and recipient. DDP or DAP; Must be provided if product= ParcelEurope.parcelconnect
                          example: DDP
                          enum: 
                            - DDP
                            - DAP
                        goodsClassification:
                          type: string
                          description: Indication for customs for the Export Reason. Allowed values- corresponding names of UPU list 136 (Note:- CommercialGoods = Sale of goods; reason 11). Also note that in various customs scenarios not all values are allowed  check out the respective use case description (get started section and/ or reach out to your DHL contact to confirm the respective scenario allowed values)
                          example: CommercialGoods
                          enum:
                            - CommercialSaleOfGoods, 
                            - CommercialGoods, 
                            - UnwantedCommercialReturnGoods, 
                            - RepairReturnGoods, 
                            - WarrantyReturnGoods, 
                            - ReturnedItem, 
                            - Gift, 
                            - ProductSample, 
                            - MaterialForTheBlind, 
                            - HumanitarianAid, 
                            - GoodsForTesting, 
                            - LoanOfGoods, 
                            - Documents, 
                            - MixedContent, 
                            - FreeUsage, 
                            - Other
                          maxLength: 35
                        totalValue:
                          type: string
                          description: Sum of total values for all  items. Must be provided if product= ParcelEurope.parcelconnect
                          example: 183.50
                        currency:
                          type: string
                          description: Currency of sum of total values for  all  items (all item values must be given in this currency).Note:- in case multiple currency elements are provided:- use consistent currency in message. format - ISO 4217 alpha-3 currency codes
                          example: GBP
                          maxLength: 3
                        shipmentWeight:
                          type: string
                          description: Total gross weight of the shipment in kg.Must match weight provided in shipment data. Must be provided if product= ParcelEurope.parcelconnect format- nnnnn.nn; 
                          example: 5.45
                          maxLength: 8
                      required:
                        - goodsClassification
                        - currency
                    item:
                      type: object
                      properties:
                        description:
                          type: string
                          description: Description of the goods.
                          example: DHL coffee cup
                          maxLength: 35
                        customsTariffNumber:
                          type: string
                          description: Tariff Code to describe the goods (usually as HS-code)
                          example: 69120020
                          maxLength: 10
                        originCountry:
                          type: string
                          description: Country of origin (manufacture) of the content piece.  ISO-3166 two-letter country code; Must be provided if product= ParcelEurope.parcelconnect
                          example: NL
                          maxLength: 2
                        quantity:
                          type: string
                          description: Number of units of the piece
                          example: 4
                        netWeight:
                          type: string
                          description: Net weight of all Items of the described type (= weight of an individual item of the described type * quantity)Kg, format - xx.xxx ("." as separator, 3 decimals)
                          example: 0.500
                          maxLength: 8
                        value:
                          type: string
                          description: Gross value (incl. VAT) of all Items of the described type (= value of an individual item of the described type * quantity).
                          example:
                          maxLength: 9
                        currency:
                          type: string
                          description: Currency of the declared value. Note each item must be declared in the provided general/currency.Note:- in case multiple currency elements are provided:- use consistent currency in message.format- ISO 4217 alpha-3 currency codes; Must be provided if product= ParcelEurope.parcelconnect
                          example: GBP
                          maxLength: 3
                      required:
                        - description
                        - customsTariffNumber
                        - quantity
                        - netWeight
                        - value
                  required:
                    - item
                customsDocuments:
                  type: object
                  properties:
                    document:
                      type: object
                      properties:
                        docType:
                          type: string
                          description: Classification of the document. if product = parcel international
                             Possible values - "INV" (for invoice), "LCS" (for license), "CRT" (for certificate); 
                             Must be provided if product = ParcelEurope.parcelInternational
                          maxLength: 3
                        identifier:
                          type: string
                          description: Identifier of the document. e.g. commercial invoice number as specified by the customer
                          example: 20220905_12345
                          maxLength: 35
                        name:
                          type: string
                          description: Filename of the encoded document. Must be provided if product= ParcelEurope.parcelconnect  AND destination = GB
                          example: invoice_test_example
                          maxLength: 255
                        binary:
                          type: string
                          description: Base64-encoded electronic document. File type can be determined by its magic number. Must be provided if product= ParcelEurope.parcelconnect  AND destination = GB
                        issueDate:
                          type: string
                          description: Issue date of the document. Must be provided if product= ParcelEurope.parcelconnect
                          example: 05-09-2022
                      required:
                        - identifier
                  required:
                    - document
                comment:
                  type: string
                  description: Additional information on the shipment to aid customs clearance processes
                  maxLength: 512
              required:
                - goodsDescription
                - customsDocuments
          required:
            - general
            - cCustoms
            - parcelOriginOrganization
            - parcelDestinationOrganization
      required:
        - dataElement
    CPANCustomsRequestFormat:
      type: object
      properties:
        dataElement:
          type: object
          properties:
            parcelOriginOrganization:
              type: string
            parcelDestinationOrganization:
              type: string
            general:
              type: object
              properties:
                parcelIdentifier:
                  type: string
                timestamp:
                  type: string
                product:
                  type: string
                routingCode:
                  type: string
                customerIdentification:
                  type: string
              required:
                - parcelIdentifier
                - timestamp
                - product
                - customerIdentification
            cPAN:
              type: object
              properties:
                addresses:
                  type: object
                  properties:
                    sender:
                      type: object
                      properties:
                        type:
                          type: string
                        firstName:
                          type: string
                        name:
                          type: string
                        additionalName:
                          type: string
                        mobileNr:
                          type: string
                        phoneNr:
                          type: string
                        email:
                          type: string
                        street1:
                          type: string
                        street1Nr:
                          type: string
                        street2:
                          type: string
                        street2Nr:
                          type: string
                        postcode:
                          type: string
                        city:
                          type: string
                        country:
                          type: string
                        referenceNr:
                          type: string
                        customerIdentification:
                          type: string
                        customerAccountNr1:
                          type: string
                      required:
                        - type
                        - name
                        - street1
                        - postcode
                        - city
                        - country
                        - customerIdentification
                    recipient:
                      type: array
                      items:
                        type: object
                        properties:
                          deliveryMode:
                            type: string
                          additionalDeliveryInstruction:
                            type: string
                          type:
                            type: string
                          firstName:
                            type: string
                          name:
                            type: string
                          additionalName:
                            type: string
                          mobileNr:
                            type: string
                          phoneNr:
                            type: string
                          email:
                            type: string
                          street1:
                            type: string
                          street1Nr:
                            type: string
                          street2:
                            type: string
                          street2Nr:
                            type: string
                          postcode:
                            type: string
                          city:
                            type: string
                          country:
                            type: string
                          customerIdentification:
                            type: string
                          keywordId:
                            type: string
                          locationId:
                            type: string
                        required:
                          - type
                          - name
                          - street1
                          - postcode
                          - city
                          - country
                  required:
                    - sender
                    - recipient
                customerBarcode:
                  type: object
                  properties:
                    position:
                      type: string
                    id:
                      type: string
                    caption:
                      type: string
                features:
                  type: object
                  properties:
                    physical:
                      type: object
                      properties:
                        grossWeight:
                          type: string
                        volume:
                          type: string
                        length:
                          type: string
                        height:
                          type: string
                        width:
                          type: string
                      required:
                        - grossWeight
                    timeWindow:
                      type: object
                      properties:
                        morning:
                          type: boolean
                        afternoon:
                          type: boolean
                        evening:
                          type: boolean
                        specificTimeWindow:
                          type: string
                    cod:
                      type: object
                      properties:
                        sepa:
                          type: object
                          properties:
                            amount:
                              type: string
                            currency:
                              type: string
                            bankAccountHolder:
                              type: string
                            IBAN:
                              type: string
                            BIC:
                              type: string
                            bankName:
                              type: string
                            bankLocation:
                              type: string
                            intendedPurpose:
                              type: string
                          required:
                            - amount
                            - currency
                            - bankAccountHolder
                            - IBAN
                            - BIC
                            - bankName
                            - intendedPurpose
                    bulky:
                      type: boolean
                    adhocPickup:
                      type: boolean
                    priority:
                      type: boolean
                    gogreen:
                      type: boolean
                    extraInsurance:
                      type: string
                    noProofOfDelivery:
                      type: boolean
                    noSaturdayDelivery:
                      type: boolean
                    undeliverableInstruction:
                      type: string
                    consolidation:
                      type: boolean
                  required:
                    - physical
                featureCodes:
                  type: object
                  properties:
                    feature:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                          boolValue:
                            type: boolean
                          textValue:
                            type: string
                          intValue:
                            type: integer
                        required:
                          - name
                  required:
                    - feature
                directInjection:
                  type: boolean
                directInjectionDetails:
                  type: object
                  properties:
                    directInjectionCountry:
                      type: string
                    directInjectionGatewayCity:
                      type: string
                    directInjectionGatewayPostcode:
                      type: string
                  required:
                    - directInjectionCountry
                    - directInjectionGatewayCity
                    - directInjectionGatewayPostcode
              required:
                - addresses
                - features
            cCustoms:
              type: object
              properties:
                CustomsIDs:
                  type: object
                  properties:
                    sender:
                      type: object
                      properties:
                        idType:
                          type: string
                        identifier:
                          type: string
                      required:
                        - idType
                        - identifier
                    recipient:
                      type: object
                      properties:
                        idType:
                          type: string
                        identifier:
                          type: string
                      required:
                        - idType
                        - identifier
                shippingFee:
                  type: object
                  properties:
                    currency:
                      type: string
                    value:
                      type: string
                  required:
                    - currency
                    - value
                goodsDescription:
                  type: object
                  properties:
                    general:
                      type: object
                      properties:
                        goodsClassification:
                          type: string
                        currency:
                          type: string
                      required:
                        - goodsClassification
                        - currency
                    item:
                      type: object
                      properties:
                        description:
                          type: string
                        customsTariffNumber:
                          type: string
                        originCountry:
                          type: string
                        quantity:
                          type: string
                        netWeight:
                          type: string
                        value:
                          type: string
                      required:
                        - description
                        - quantity
                        - netWeight
                        - value
                customsDocuments:
                  type: object
                  properties:
                    document:
                      type: object
                      properties:
                        docType:
                          type: string
                        identifier:
                          type: string
                      required:
                        - docType
                        - identifier
                  required:
                    - document
                comment:
                  type: string
              required:
                - goodsDescription
                - customsDocuments
          required:
            - parcelOriginOrganization
            - parcelDestinationOrganization
            - general
            - cPAN
            - cCustoms
      required:
        - dataElement
    createShipmentPlusRequestFormat:
      type: object
[...]
