---
openapi: 3.0.1
info:
  title: Print-Mailing Dispatch Preparation API
  contact:
    url: https://developer.dhl.com/api-reference/print-mailing-dispatch-preparation-api
    email: it-csp@deutschepost.de
  version: 20240826.2229.7-3546-10c2404
servers:
- url: https://api-eu.dhl.com/post/advertising/print-mailing
  description: Production environment
- url: https://api-uat-vzen.dhl.com/post/advertising/print-mailing
  description: Test environment
tags:
- name: authentication
  description: Get access tokens for Print-Mailing Automation services
- name: lookups
  description: Lists static request oder response values of other API resources
- name: addresses
  description: Create, update or get addresses use in processings. You need an access
    token with ROLE_DIS_ACCESS to access this resource.
- name: DIALOGPOST processing results
  description: Collect results and access information logs.You need an access token
    with ROLE_DIS_ACCESS and ROLE_DIS_MANAGE_DIALOGPOST to access this resource.
- name: cost calculation
  description: Cost calculation for DIALOGPOST, POSTWURFSPEZIAL and POSTAKTUELL.
- name: productiondefinitions
  description: Create, update or get your production definitions. You need an access
    token with ROLE_DIS_ACCESS to access this resource.
- name: DIALOGPOST contracts
  description: Create, update or get your DIALOGPOST contracts.You need an access
    token with ROLE_DIS_ACCESS to access this resource.
- name: DIALOGPOST processings
  description: Create, update and release processings or track processing states.You
    need an access token with ROLE_DIS_ACCESS and ROLE_DIS_MANAGE_DIALOGPOST to access
    this resource.
- name: Default induction
  description: Manage induction information for POSTWURFSPEZIAL and POSTAKTUELL processings.You
    need an access token with ROLE_DIS_ACCESS to access this resource.
- name: POSTAKTUELL processing results
  description: Collect results and access information logs.You need an access token
    with ROLE_DIS_ACCESS and ROLE_DIS_MANAGE_POSTAKTUELL to access this resource.
- name: POSTWURFSPEZIAL processings
  description: Create, update and release processings. Track processing states and
    collect results.You need an access token with ROLE_DIS_ACCESS and ROLE_DIS_MANAGE_POSTWURFSPEZIAL
    to access this resource.
- name: POSTAKTUELL processings
  description: Create, update and release processings. Track processing states and
    collect results.You need an access token with ROLE_DIS_ACCESS and ROLE_DIS_MANAGE_POSTAKTUELL
    to access this resource.
- name: POSTWURFSPEZIAL processing results
  description: Collect results and access information logs.You need an access token
    with ROLE_DIS_ACCESS and ROLE_DIS_MANAGE_POSTWURFSPEZIAL to access this resource.
- name: order records
  description: Manage order information (order records) which were sent to the Deutsche
    Post Auftragsmanagement.You need an access token with ROLE_DIS_ACCESS to access
    this resource.
- name: Default payment
  description: Manage payment information for POSTWURFSPEZIAL and POSTAKTUELL processings.You
    need an access token with ROLE_DIS_ACCESS to access this resource.
paths:
  "/user/v1/authentication/postshoplogin":
    post:
      tags:
      - authentication
      summary: Retrieve a dm access token for a registered user from the Post Shop.
      operationId: loginPostShopUser
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreatePostShopLoginRep"
        required: true
      responses:
        '200':
          description: Successfully generated a new access token. Find it in the response
            'jwtToken'.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TokenRep"
        '403':
          description: If a private user tries to login (DM_CUS_0001), or customerEkp
            is different from the one already saved in customer data (DM_CUS_0003).
  "/user/v1/authentication/partnersystem/tokenbased":
    post:
      tags:
      - authentication
      summary: Retrieve a dm access token for a registered user from a partner system
        using token based authentication.
      operationId: loginPartnerSystemTokenBased
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreatePartnerSystemLoginRep"
        required: true
      responses:
        '200':
          description: Successfully generated a new access token. Find it in the response
            'jwtToken'.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TokenRep"
        '422':
          description: Unprocessable entity. DM_GA_0009 if token has expired. DM_GA_0010
            if token signature is invalid. DM_GA_0011 if token was issued in the future.
            DM_CO_0006 if token cannot be decoded.
        '404':
          description: Resource not found. DM_GA_0008 if the partner system is unknown
            / is not active.
  "/user/v1/authentication/partnersystem/credentialsbased":
    post:
      tags:
      - authentication
      summary: Retrieve a dm access token for a registered user from a partner system
        using credential based authentication.
      operationId: loginPartnerSystemCredentialBased
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreatePartnerSystemTokenRep"
        required: true
      responses:
        '200':
          description: Successfully generated a new access token. Find it in the response
            'jwtToken'.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TokenRep"
        '422':
          description: If the authentication secret is wrong. (DM_CO_0011)
        '404':
          description: If the partner system and customer combination is not foundor
            the partner system is inactive or the partner system customer is inactive.
            (DM_GA_0008)
  "/user/v1/authentication/businesslogin":
    post:
      tags:
      - authentication
      summary: Retrieve a jwt for a business login.
      operationId: loginBusinessUser
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateBusinessLoginRep"
        required: true
      responses:
        '200':
          description: Successfully generated a new jwt. Find it in the response 'jwtToken'.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TokenRep"
  "/user/v1/customererrorcodelookups":
    get:
      tags:
      - lookups
      summary: Retrieve all error code lookups for this service.
      description: A lookup consists of an id and an internationalized label. It is
        used to communicate possible values for specific objects to the api caller.
      operationId: getAllCustomerErrorCodeLookups
      responses:
        '200':
          description: All available error code lookup values per lookup.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: array
                  items:
                    "$ref": "#/components/schemas/ValueLabelPairRep"
  "/user/v1/authentication/reauth":
    get:
      tags:
      - authentication
      summary: Creates a new jwt with the maximum period of validity for the currently
        logged in user. You must call this method with a valid token in the authentication
        header
      operationId: reauth
      responses:
        '200':
          description: Successfully generated a new jwt. Find it in the response 'jwtToken'
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TokenRep"
  "/dispatchpreparation/v1/productiondefinitions/{id}":
    get:
      tags:
      - productiondefinitions
      summary: Get a specific production definition.
      operationId: getProductionDefinition
      parameters:
      - name: id
        in: path
        description: The identifier of the production definition.
        required: true
        schema:
          type: integer
          format: int64
      - name: customerId
        in: query
        description: ID of the customer.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Production definition found and returned.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ProductionDefinitionRep"
        '403':
          description: Access forbidden because of missing authority for resource.
    put:
      tags:
      - productiondefinitions
      summary: Update an existing production definition.
      operationId: updateProductionDefinition
      parameters:
      - name: id
        in: path
        description: The identifier of the production definition.
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateOrUpdateProductionDefinitionRep"
        required: true
      responses:
        '422':
          description: 'DM_DIS_2002: If you specified production definition for trays
            AND bundles. DM_DIS_2004: If you tried to update a default production
            definition. DM_DIS_2003: Input data validation failed. Please notice the
            concrete error description in the error response.'
        '200':
          description: Production definition successfully updated.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ProductionDefinitionRep"
        '403':
          description: Access forbidden because of missing authority for resource.
    delete:
      tags:
      - productiondefinitions
      summary: Delete an existing production definition.
      operationId: deleteProductionDefinition
      parameters:
      - name: id
        in: path
        description: The identifier of the production definition.
        required: true
        schema:
          type: integer
          format: int64
      - name: customerId
        in: query
        description: ID of the customer.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '403':
          description: Access forbidden because of missing authority for resource.
        '200':
          description: Production definition successfully deleted.
          content:
            application/json:
              schema:
                type: object
  "/dispatchpreparation/v1/postwurfspezial/processings/{id}":
    get:
      tags:
      - POSTWURFSPEZIAL processings
      summary: Get detail information about a processing.
      description: This may be a draft or a completed processing.
      operationId: getProcessing
      parameters:
      - name: id
        in: path
        description: The identifier of the processing.
        required: true
        schema:
          type: integer
          format: int64
      - name: customerId
        in: query
        description: ID of the customer.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '404':
          description: Processing with the given id was not found.
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
        '200':
          description: Processing found and returned.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PwspProcessingRep"
    put:
      tags:
      - POSTWURFSPEZIAL processings
      summary: Update an existing processing draft.
      description: You may update, release or delete it afterwards.
      operationId: updateProcessing
      parameters:
      - name: id
        in: path
        description: The identifier of the processing.
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateOrUpdatePwspProcessingRep"
        required: true
      responses:
        '200':
          description: Processing successfully created.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PwspProcessingRep"
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
        '422':
          description: 'DM_DIS_0003: If this processing is not in state ''CREATED''.DM_DIS_0020:
            Target group selection id of processing must be null when mailing items
            already exist or are created.'
    delete:
      tags:
      - POSTWURFSPEZIAL processings
      summary: Delete a processing draft.
      description: This is only possible for processings in state 'CREATED'.
      operationId: deleteProcessing
      parameters:
      - name: id
        in: path
        description: The identifier of the processing.
        required: true
        schema:
          type: integer
          format: int64
      - name: customerId
        in: query
        description: ID of the customer.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Processing draft deleted.
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Processing with the given id was not found.
        '422':
          description: 'DM_DIS_0003: If this processing is not in state ''CREATED''.'
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
  "/dispatchpreparation/v1/postaktuell/processings/{id}":
    get:
      tags:
      - POSTAKTUELL processings
      summary: Get detail information about a processing.
      description: This may be a draft or a completed processing.
      operationId: getProcessing_1
      parameters:
      - name: id
        in: path
        description: The identifier of the processing.
        required: true
        schema:
          type: integer
          format: int64
      - name: customerId
        in: query
        description: ID of the customer.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '404':
          description: Processing with the given id was not found.
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
        '200':
          description: Processing found and returned.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PaProcessingRep"
    put:
      tags:
      - POSTAKTUELL processings
      summary: Update an existing processing draft.
      description: You may update, release or delete it afterwards.
      operationId: updateProcessing_1
      parameters:
      - name: id
        in: path
        description: The identifier of the processing.
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateOrUpdatePaProcessingRep"
        required: true
      responses:
        '200':
          description: Processing successfully created.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PaProcessingRep"
        '422':
          description: 'DM_DIS_0003: If this processing is not in state ''CREATED''.'
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
    delete:
      tags:
      - POSTAKTUELL processings
      summary: Delete a processing draft.
      description: This is only possible for processings in state 'CREATED'.
      operationId: deleteProcessing_1
      parameters:
      - name: id
        in: path
        description: The identifier of the processing.
        required: true
        schema:
          type: integer
          format: int64
      - name: customerId
        in: query
        description: ID of the customer.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Processing draft deleted.
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Processing with the given id was not found.
        '422':
          description: 'DM_DIS_0003: If this processing is not in state ''CREATED''.'
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
  "/dispatchpreparation/v1/orderrecords":
    get:
      tags:
      - order records
      summary: Fetches a list of order records.
      operationId: getOrderRecords
      parameters:
      - name: customerId
        in: query
        description: ID of the customer.
        required: true
        schema:
          type: integer
          format: int64
      - name: datefrom
        in: query
        description: Filter order records by inductionDate from. Today, if not supplied.
        required: false
        schema:
          type: string
          format: date
      - name: dateto
        in: query
        description: Filter order records by inductionDate to.
        required: false
        schema:
          type: string
          format: date
      - name: processingid
        in: query
        description: Identifier of the requested processing.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: List of the requested order records.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CollectionRepOrderRecordRep"
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
        '422':
          description: 'DM_DIS_2024: If the given time range is invalid.'
    put:
      tags:
      - order records
      summary: Updates an order in order management (AM) and creates a record entry
        of type 'Change'.
      operationId: updateOrder
      parameters:
      - name: processingid
        in: query
        description: Identifier of the corresponding processing.
        required: true
        schema:
          type: integer
          format: int64
      - name: amOrderId
        in: query
        description: Identifier of the corresponding order issued by order management
          (AM).
        required: false
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateOrderRecordRep"
        required: true
      responses:
        '404':
          description: 'DM_DIS_2010: If the requested order does not exist. DM_DIS_2033:
            No order found for update.'
        '422':
          description: 'DM_DIS_2012: If the specified inductionDate is invalid. DM_DIS_2008:
            Wrong combination of induction information. DM_DIS_2030: Update not possible
            for processing with simulation. DM_DIS_2031: The originator ekp cannot
            be changed. DM_DIS_2029: Update is not possible. Processing not found.
            DM_DIS_2044: Depot of pick-up induction cannot be changed in order management.'
        '200':
          description: Creation of order record and update of order successful. Get
            the details from the order record list.
          content:
            "*/*":
              schema:
                type: object
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
    delete:
      tags:
      - order records
      summary: Cancel an order within Deutsche Post Auftragsmanagement.
      operationId: cancelOrder
      parameters:
      - name: processingid
        in: query
        description: Identifier of the corresponding processing.
        required: true
        schema:
          type: integer
          format: int64
      - name: amOrderId
        in: query
        description: Identifier of the corresponding order issued by order management
          (AM).
        required: false
        schema:
          type: integer
          format: int64
      - name: customerId
        in: query
        description: Identifier of the customer owning the order.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
        '404':
          description: 'DM_DIS_2010: If the requested order does not exist.'
        '200':
          description: Order successfully cancelled.
          content:
            application/json:
              schema:
                type: object
        '422':
          description: 'DM_DIS_2011: If the order is not cancelable.'
  "/dispatchpreparation/v1/dialogpost/contracts/{id}":
    get:
      tags:
      - DIALOGPOST contracts
      summary: Get a specific contract.
      operationId: getContract
      parameters:
      - name: id
        in: path
        description: The identifier of the contract.
        required: true
        schema:
          type: integer
          format: int64
      - name: customerId
        in: query
        description: ID of the customer.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Contract found and returned.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DpContractRep"
        '403':
          description: Access forbidden because of missing authority for resource.
    put:
      tags:
      - DIALOGPOST contracts
      summary: Update an existing contract based on information you negotiated with
        your DV franking consultant.
      operationId: updateContract
      parameters:
      - name: id
        in: path
        description: The identifier of the contract. See lookup resource 'DisContractType'
          for available values.
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateOrUpdateDpContractRep"
        required: true
      responses:
        '403':
          description: Access forbidden because of missing authority for resource.
        '200':
          description: Contract successfully updated.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DpContractRep"
        '422':
          description: " DM_DIS_2003: Input data validation failed. Please notice
            the concrete error description in the error response. DM_DIS_2007: Wrong
            combination of procedure number and payment information. DM_DIS_2008:
            Wrong combination of inductionType and induction information. DM_DIS_2036:
            Cannot update contract. E.g. change of contract type is not valid. DM_DIS_2038:
            If the procedure is not supported for the contract type."
    delete:
      tags:
      - DIALOGPOST contracts
      summary: Delete a contract.
      operationId: deleteContract
      parameters:
      - name: id
        in: path
        description: The identifier of the contract.
        required: true
        schema:
          type: integer
          format: int64
      - name: customerId
        in: query
        description: ID of the customer.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Contract successfully deleted.
          content:
            application/json:
              schema:
                type: object
        '403':
          description: Access forbidden because of missing authority for resource.
  "/dispatchpreparation/v1/defaultpayment":
    get:
      tags:
      - Default payment
      summary: Get default payment information for a customer.
      description: Returns the default payment information for a customer, if defined.
      operationId: getPayment
      parameters:
      - name: customerId
        in: query
        description: ID of the customer.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '404':
          description: You did not define a default payment yet.
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
        '200':
          description: Payment found and returned.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DefaultPaymentRep"
    put:
      tags:
      - Default payment
      summary: Update default payment information for a customer.
      operationId: updatePayment
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateDefaultPaymentRep"
        required: true
      responses:
        '403':
          description: Access forbidden because of missing authority for ressource
            or entity.
        '404':
          description: If the given payment id does not exist.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DefaultPaymentRep"
        '422':
          description: 'DM_DIS_2021: If the payer''s address was not found in the
            master data.'
        '200':
          description: Payment successfully updated.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DefaultPaymentRep"
    post:
      tags:
      - Default payment
      summary: Define default payment information for a customer.
      operationId: createPayment
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateDefaultPaymentRep"
        required: true
      responses:
        '403':
          description: Access forbidden because of missing authority for resource.
        '201':
          description: Payment successfully created.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DefaultPaymentRep"
        '422':
          description: 'DM_DIS_0007 Only one payment per customer allowed. DM_DIS_2021:
            If the payer''s address was not found in the master data. '
    delete:
      tags:
      - Default payment
      summary: Delete default payment information for a customer.
      operationId: deletePayment
      parameters:
      - name: customerId
        in: query
        description: ID of the customer.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
        '200':
          description: Payment successfully deleted.
          content:
            application/json:
              schema:
                type: object
  "/dispatchpreparation/v1/defaultinduction":
    get:
      tags:
      - Default induction
      summary: Get default induction information for a customer.
      description: Returns the default induction information for a customer, if defined.
      operationId: getInduction
      parameters:
      - name: customerId
        in: query
        description: ID of the customer.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '404':
          description: You did not define a default induction yet.
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
        '200':
          description: Induction found and returned.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DefaultInductionRep"
    put:
      tags:
      - Default induction
      summary: Update default induction information for a customer.
      operationId: updatePayment_1
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateDefaultInductionRep"
        required: true
      responses:
        '200':
          description: Induction successfully updated.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DefaultInductionRep"
        '422':
          description: 'DM_DIS_2008: An induction with pick-up location must have
            a valid pick-up address.'
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
        '404':
          description: Induction for the customer was not found. Depot name not found.
    post:
      tags:
      - Default induction
      summary: Define default induction information for a customer.
      operationId: createInduction
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateDefaultInductionRep"
        required: true
      responses:
        '403':
          description: Access forbidden because of missing authority for resource.
        '404':
          description: Depot name was not found.
        '201':
          description: Induction successfully created.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DefaultInductionRep"
        '422':
          description: 'DM_DIS_0009 Only one induction per customer is allowed. DM_DIS_2008:
            An induction with pick-up location must have a valid pick-up address.'
    delete:
      tags:
      - Default induction
      summary: Delete default induction information for a customer.
      operationId: deletePayment_1
      parameters:
      - name: customerId
        in: query
        description: ID of the customer.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
        '200':
          description: Induction successfully deleted.
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Induction for the customer was not found
  "/dispatchpreparation/v1/addresses/{id}":
    put:
      tags:
      - addresses
      summary: Update an existing address.
      operationId: updateAddress
      parameters:
      - name: id
        in: path
        description: The identifier of the address.
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateOrUpdateAddressRep"
        required: true
      responses:
        '200':
          description: Address successfully updated.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AddressRep"
        '422':
          description: 'DM_DIS_2000: Address with ekp in use by other address. If
            the ekp''s checksum is not valid. DM_DIS_2003: Input data validation failed.
            Please notice the concrete error description in the error response.'
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
    delete:
      tags:
      - addresses
      summary: Delete address.
      operationId: deleteAddress
      parameters:
      - name: id
        in: path
        description: The identifier of the address.
        required: true
        schema:
          type: integer
          format: int64
      - name: customerId
        in: query
        description: ID of the customer.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '422':
          description: DM_DIS_0008 Cannot delete because it is in use by payment.
        '200':
          description: Address successfully deleted.
          content:
            application/json:
              schema:
                type: object
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
  "/dispatchpreparation/v1/productiondefinitions":
    get:
      tags:
      - productiondefinitions
      summary: Get all production definitions.
      description: There exist three default production definitions for each product.
        They are called 'LetterC5', 'LetterDL', 'PostcardDL', 'LetterC5Postwurfspezial',
        'LetterDLPostwurfspezial' and 'PostcardDLPostwurfspezial'. You may use them
        or create a copy of them with a new production definition name.
      operationId: getProductionDefinitions
      parameters:
      - name: customerId
        in: query
        description: ID of the customer.
        required: true
        schema:
          type: integer
          format: int64
      - name: name
        in: query
        description: Partial or full name of the productiondefinition.
        required: false
        schema:
          type: string
      responses:
        '403':
          description: Access forbidden because of missing authority for resource.
        '200':
          description: Production definitions found and returned.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CollectionRepProductionDefinitionRep"
    post:
      tags:
      - productiondefinitions
      summary: Add a new production definition.
      operationId: createProductionDefinition
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateOrUpdateProductionDefinitionRep"
        required: true
      responses:
        '403':
          description: Access forbidden because of missing authority for resource.
        '201':
          description: Production definition successfully created.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ProductionDefinitionRep"
        '422':
          description: 'DM_DIS_2001: Another production definition with the same name
            exists already. DM_DIS_2002: If you specified production definition for
            trays AND bundles. DM_DIS_2004: If you tried to update a default production
            definition. DM_DIS_2003: Input data validation failed. Please notice the
            concrete error description in the error response.'
  "/dispatchpreparation/v1/postwurfspezial/simplecostcalculation":
    post:
      tags:
      - cost calculation
      summary: Calculate costs without a list of mailing items.
      operationId: calculateCosts
      requestBody:
        content:
          application/xml:
            schema:
              "$ref": "#/components/schemas/CreatePwspSimpleCostCalculationRep"
          application/json:
            schema:
              "$ref": "#/components/schemas/CreatePwspSimpleCostCalculationRep"
        required: true
      responses:
        '422':
          description: Invalid input. DM_DIS_0002 The input is invalid. A specific
            reason of the subsystem is provided. DM_DIS_1005 inductionDate has to
            be in the future.
        '200':
          description: Cost calculation successfully created.
          content:
            application/xml:
              schema:
                "$ref": "#/components/schemas/PwspSimpleCostCalculationRep"
            application/json:
              schema:
                "$ref": "#/components/schemas/PwspSimpleCostCalculationRep"
  "/dispatchpreparation/v1/postwurfspezial/processings":
    get:
      tags:
      - POSTWURFSPEZIAL processings
      summary: Get an overview of your processings.
      description: This resource is pageable and filterable! The default page size
        is 20.
      operationId: getProcessings
      parameters:
      - name: customerId
        in: query
        description: ID of the customer.
        required: true
        schema:
          type: integer
          format: int64
      - name: processingState
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: description
        in: query
        schema:
          type: string
      - name: targetGroupSelectionId
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Processing list found and returned.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CollectionRepPwspProcessingRep"
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
    post:
      tags:
      - POSTWURFSPEZIAL processings
      summary: Create a new processing as a draft.
      description: You may update, release or delete it afterwards.
      operationId: createProcessing
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateOrUpdatePwspProcessingRep"
        required: true
      responses:
        '200':
          description: Processing successfully created.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PwspProcessingRep"
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
  "/dispatchpreparation/v1/postwurfspezial/processings/{id}/release":
    post:
      tags:
      - POSTWURFSPEZIAL processings
      summary: Release a processing on basis of the current draft.
      description: This is only possible for processings in state 'CREATED'. It will
        validate all relevant mailing parameters, fetch your selection from the Target
        Group Planner and start preparing concrete recipient addresses.
      operationId: releaseProcessing
      parameters:
      - name: id
        in: path
        description: The identifier of the processing.
        required: true
        schema:
          type: integer
          format: int64
      - name: customerId
        in: query
        description: ID of the customer.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '422':
          description: 'DM_DIS_0004: If this processing is not in state ''CREATED''.
            DM_DIS_2016: No default payment is defined. DM_DIS_2017: No default induction
            is defined. DM_DIS_2020: The target group selection id cannot be found
            for the given customer. DM_DIS_2021: If an address was not found in the
            master data. DM_DIS_0014: If an production definition optimizationType
            other than FABRICATION_EFFORT is chosen. DM_DIS_0015: If no pallet production
            is chosen. DM_DIS_0041: Your customer''s EKP is not allowed to book PWSP
            processings. Please contact your sales contact person. DM_DIS_0021: Either
            target group selection id or mailing items of processing must be given.
            Other validation errors: for mailing definition parameters may occur.'
        '404':
          description: Processing with the given id was not found.
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
        '200':
          description: Release of processing successful.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PwspProcessingRep"
  "/dispatchpreparation/v1/postwurfspezial/processings/{id}/mailingitems":
    post:
      tags:
      - POSTWURFSPEZIAL processings
      summary: Create mailing items.
      description: Existing mailing items will be replaced. This is only possible
        for processings in state 'CREATED'.
      operationId: createMailingItems
      parameters:
      - name: id
        in: path
        description: The identifier of the processing.
        required: true
        schema:
          type: integer
          format: int64
      - name: customerId
        in: query
        description: ID of the customer.
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: List of mailing items. Strongly recommended is gzip compression
          of the body and media type 'application/octet-stream'.
        content:
          application/octet-stream:
            schema:
              type: array
              items:
                "$ref": "#/components/schemas/CreatePwspProcessingMailingItemRep"
          application/json:
            schema:
              type: array
              items:
                "$ref": "#/components/schemas/CreatePwspProcessingMailingItemRep"
        required: true
      responses:
        '422':
          description: 'DM_DIS_0006: If this processing is not in state ''CREATED''.DM_DIS_0020:
            Target group selection id of processing must be null when mailing items
            already exist or are created.'
        '404':
          description: Processing with the given id was not found.
        '201':
          description: Creation of mailing items successful.
          content:
            application/octet-stream:
              schema:
                type: object
            application/json:
              schema:
                type: object
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
  "/dispatchpreparation/v1/postwurfspezial/processings/{id}/mailing":
    get:
      tags:
      - POSTWURFSPEZIAL processings
      summary: Get information about the mailing.
      description: Finds and returns mailing. This is only possible for processings
        in state 'CREATED'.
      operationId: getMailing
      parameters:
      - name: id
        in: path
        description: The identifier of the processing.
        required: true
        schema:
          type: integer
          format: int64
      - name: customerId
        in: query
        description: ID of the customer.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Mailing found and returned.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PwspProcessingMailingRep"
        '404':
          description: Processing with the given id was not found.
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
    post:
      tags:
      - POSTWURFSPEZIAL processings
      summary: Add information about the mailing.
      description: This is only possible for processings in state 'CREATED'.
      operationId: createOrUpdateMailing
      parameters:
      - name: id
        in: path
        description: The identifier of the processing.
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreatePwspProcessingMailingRep"
        required: true
      responses:
        '422':
          description: 'DM_DIS_0006: If this processing is not in state ''CREATED''.
            DM_DIS_2008: Wrong combination of inductionType and induction information.
            DM_DIS_2021: If an address was not found in the master data. DM_DIS_2016:
            No default payment is defined. DM_DIS_2017: No default induction is defined.
            DM_DIS_0023: Bundles with minNumberItemsForContainerLr are not supported
            for PWSP.'
        '404':
          description: Processing with the given id was not found.
        '200':
          description: Update successful.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PwspProcessingMailingRep"
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
  "/dispatchpreparation/v1/postaktuell/simplecostcalculation":
    post:
      tags:
      - cost calculation
      summary: Create a cost calculation.
      description: You need the authority ROLE_DIS_POSTAKTUELL_ANY_AND_ALL_HOUSEHOLDS
        to calculate a paProductVariant:2 (ANY_AND_ALL_HOUSEHOLDS).
      operationId: calculateCosts_1
      requestBody:
        content:
          application/xml:
            schema:
              "$ref": "#/components/schemas/CreatePaSimpleCostCalculationRep"
          application/json:
            schema:
              "$ref": "#/components/schemas/CreatePaSimpleCostCalculationRep"
        required: true
      responses:
        '422':
          description: Invalid input. DM_DIS_0002 The input is invalid. A specific
            reason of the subsystem is provided. DM_DIS_1005 inductionDate has to
            be in the future.
        '200':
          description: Cost calculation successfully created.
          content:
            application/xml:
              schema:
                "$ref": "#/components/schemas/PaSimpleCostCalculationRep"
            application/json:
              schema:
                "$ref": "#/components/schemas/PaSimpleCostCalculationRep"
  "/dispatchpreparation/v1/postaktuell/processings":
    post:
      tags:
      - POSTAKTUELL processings
      summary: Create a new processing as a draft.
      description: You may update, release or delete it afterwards.
      operationId: createProcessing_1
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateOrUpdatePaProcessingRep"
        required: true
      responses:
        '200':
          description: Processing successfully created.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PaProcessingRep"
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
  "/dispatchpreparation/v1/postaktuell/processings/{id}/release":
    post:
      tags:
      - POSTAKTUELL processings
      summary: Release a processing on basis of the current draft.
      description: This is only possible for processings in state 'CREATED'. It will
        validate all relevant mailing parameters, fetch your selection from the Target
        Group Planner and start preparing concrete recipient addresses.
      operationId: releaseProcessing_1
      parameters:
      - name: id
        in: path
        description: The identifier of the processing.
        required: true
        schema:
          type: integer
          format: int64
      - name: customerId
        in: query
        description: ID of the customer.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '404':
          description: Processing with the given id was not found.
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
        '422':
          description: 'DM_DIS_0004: If this processing is not in state ''CREATED''.
            DM_DIS_2016: No default payment is defined. DM_DIS_2017: No default induction
            is defined. DM_DIS_2020: The target group selection id cannot be found
            for the given customer. DM_DIS_2021: If an address was not found in the
            master data. Other validation errors for mailing definition parameters
            may occur.'
        '200':
          description: Release of processing successful.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PaProcessingRep"
  "/dispatchpreparation/v1/postaktuell/processings/{id}/mailing":
    get:
      tags:
      - POSTAKTUELL processings
      summary: Get information about the mailing.
      description: Finds and returns mailing. This is only possible for processings
        in state 'CREATED'.
      operationId: getMailing_1
      parameters:
      - name: id
        in: path
        description: The identifier of the processing.
        required: true
        schema:
          type: integer
          format: int64
      - name: customerId
        in: query
        description: ID of the customer.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Mailing found and returned.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PaProcessingMailingRep"
        '404':
          description: Processing with the given id was not found.
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
    post:
      tags:
      - POSTAKTUELL processings
      summary: Add information about the mailing.
      description: This is only possible for processings in state 'CREATED'.
      operationId: createOrUpdateMailing_1
      parameters:
      - name: id
        in: path
        description: The identifier of the processing.
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreatePaProcessingMailingRep"
        required: true
      responses:
        '404':
          description: Processing with the given id was not found.
        '422':
          description: 'DM_DIS_0006: If this processing is not in state ''CREATED''.
            DM_DIS_2008: Wrong combination of inductionType and induction information.
            DM_DIS_2021: If an address was not found in the master data. DM_DIS_2016:
            No default payment is defined. DM_DIS_2017: No default induction is defined.
            DM_DIS_2027: Not enough rights to use product variant ANY_AND_ALL_HOUSEHOLDS. '
        '200':
          description: Update successful.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PaProcessingMailingRep"
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
  "/dispatchpreparation/v1/dialogpost/standardcostcalculation":
    post:
      tags:
      - cost calculation
      summary: Calculate costs with a list of mailing items.
      operationId: indicateCosts
      requestBody:
        content:
          application/xml:
            schema:
              "$ref": "#/components/schemas/CreateDpStandardCostCalculationRep"
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateDpStandardCostCalculationRep"
        required: true
      responses:
        '200':
          description: Cost calculation successfully created.
          content:
            application/xml:
              schema:
                "$ref": "#/components/schemas/DpStandardCostCalculationRep"
            application/json:
              schema:
                "$ref": "#/components/schemas/DpStandardCostCalculationRep"
        '422':
          description: Invalid input. DM_DIS_0002 The input is invalid. A specific
            reason of the subsystem is provided.
  "/dispatchpreparation/v1/dialogpost/simplecostcalculation":
    post:
      tags:
      - cost calculation
      summary: Calculate costs without a list of mailing items.
      operationId: indicateCosts_1
      requestBody:
        content:
          application/xml:
            schema:
              "$ref": "#/components/schemas/CreateDpSimpleCostCalculationRep"
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateDpSimpleCostCalculationRep"
        required: true
      responses:
        '422':
          description: Invalid input. DM_DIS_0002 Input cannot be processed. DM_DIS_1005
            Invalid induction date. DM_DIS_1010 Invalid dimensions. DM_DIS_1015 Invalid
            type.
        '200':
          description: Cost calculation successfully created.
          content:
            application/xml:
              schema:
                "$ref": "#/components/schemas/DpSimpleCostCalculationRep"
            application/json:
              schema:
                "$ref": "#/components/schemas/DpSimpleCostCalculationRep"
  "/dispatchpreparation/v1/dialogpost/processings":
    get:
      tags:
      - DIALOGPOST processings
      summary: Get an overview of your processings.
      description: This resource is pageable and filterable! The default page size
        is 20.
      operationId: getProcessings_1
      parameters:
      - name: customerId
        in: query
        description: ID of the customer.
        required: true
        schema:
          type: integer
          format: int64
      - name: processingState
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: description
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Processing list found and returned.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CollectionRepDpProcessingRep"
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
    post:
      tags:
      - DIALOGPOST processings
      summary: Create a new processing as a draft.
      description: You may update, release or delete it afterwards.
      operationId: createProcessing_2
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateDpProcessingRep"
        required: true
      responses:
        '201':
          description: Processing successfully created.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DpProcessingRep"
        '422':
          description: 'DM_DIS_2003: Input data validation failed. DM_DIS_2039 If
            the LETTER contract for processing with remaining items is missing. Please
            notice the concrete error description in the error response.'
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
  "/dispatchpreparation/v1/dialogpost/processings/{id}/release":
    post:
      tags:
      - DIALOGPOST processings
      summary: Release a processing on basis of the current draft.
      description: This is only possible for processings in state 'CREATED'.
      operationId: releaseProcessing_2
      parameters:
      - name: id
        in: path
        description: The identifier of the processing.
        required: true
        schema:
          type: integer
          format: int64
      - name: customerId
        in: query
        description: ID of the customer.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '422':
          description: 'DM_DIS_0004: If this processing is not in state ''CREATED''.DM_DIS_2021:
            If an address was not found in the master data. DM_DIS_2043: If type of
            depot does not match type of induction. Other validation errors for mailing
            definition parameters may occur.'
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
        '200':
          description: Release of processing successful.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DpProcessingRep"
        '404':
          description: Processing with the given id was not found. If no matching
            contract was found.
  "/dispatchpreparation/v1/dialogpost/processings/{id}/mailingitems":
    post:
      tags:
      - DIALOGPOST processings
      summary: Create mailing items.
      description: Existing mailing items will be replaced. This is only possible
        for processings in state 'CREATED'.
      operationId: createMailingItems_1
      parameters:
      - name: id
        in: path
        description: The identifier of the processing.
        required: true
        schema:
          type: integer
          format: int64
      - name: customerId
        in: query
        description: ID of the customer.
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: List of mailing items. Strongly recommended is gzip compression
          of the body and media type 'application/octet-stream'.
        content:
          application/octet-stream:
            schema:
              type: array
              items:
                "$ref": "#/components/schemas/CreateDpProcessingMailingItemRep"
          application/json:
            schema:
              type: array
              items:
                "$ref": "#/components/schemas/CreateDpProcessingMailingItemRep"
        required: true
      responses:
        '422':
          description: 'DM_DIS_0004: If this processing is not in state ''CREATED''.'
        '404':
          description: Processing with the given id was not found.
        '201':
          description: Creation of mailing items successful.
          content:
            application/octet-stream:
              schema:
                type: object
            application/json:
              schema:
                type: object
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
    delete:
      tags:
      - DIALOGPOST processings
      summary: Delete mailing items.
      description: Delete mailing items. This is only possible for processings in
        state 'CREATED'.
      operationId: deleteMailingItems
      parameters:
      - name: id
        in: path
        description: The identifier of the processing.
        required: true
        schema:
          type: integer
          format: int64
      - name: customerId
        in: query
        description: ID of the customer.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '422':
          description: 'DM_DIS_0004: If this processing is not in state ''CREATED''.'
        '404':
          description: Processing with the given id was not found.
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
        '200':
          description: Deletion of mailing items successful.
          content:
            application/json:
              schema:
                type: object
  "/dispatchpreparation/v1/dialogpost/processings/{id}/mailing":
    get:
      tags:
      - DIALOGPOST processings
      summary: Get information about the mailing.
      description: Finds and returns mailing. This is only possible for processings
        in state 'CREATED'.
      operationId: getMailing_2
      parameters:
      - name: id
        in: path
        description: The identifier of the processing.
        required: true
        schema:
          type: integer
          format: int64
      - name: customerId
        in: query
        description: ID of the customer.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Mailing found and returned.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DpProcessingMailingRep"
        '404':
          description: Processing with the given id was not found.
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
    post:
      tags:
      - DIALOGPOST processings
      summary: Add information about the mailing.
      description: This is only possible for processings in state 'CREATED'.
      operationId: createOrUpdateMailing_2
      parameters:
      - name: id
        in: path
        description: The identifier of the processing.
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateDpProcessingMailingRep"
        required: true
      responses:
        '200':
          description: Creation or update successful.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DpProcessingMailingRep"
        '404':
          description: Processing with the given id was not found.
        '422':
          description: 'DM_DIS_0006: If this processing is not in state ''CREATED''.
            DM_DIS_2021: If an address was not found in the master data. DM_DIS_2037:
            If multiple payments of the same contract type are configured.'
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
  "/dispatchpreparation/v1/dialogpost/contracts":
    get:
      tags:
      - DIALOGPOST contracts
      summary: Get all contracts.
      description: Contracts are necessary for it franking. They contain information
        about induction and payment.
      operationId: getContracts
      parameters:
      - name: customerId
        in: query
        description: ID of the customer.
        required: true
        schema:
          type: integer
          format: int64
      - name: ownerekp
        in: query
        description: Owner ekp of the contract.
        required: false
        schema:
          type: string
      - name: name
        in: query
        description: Partial or full name of the contract.
        required: false
        schema:
          type: string
      responses:
        '403':
          description: Access forbidden because of missing authority for resource.
        '200':
          description: Contracts found and returned.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CollectionRepDpContractRep"
    post:
      tags:
      - DIALOGPOST contracts
      summary: Add a new contract based on information you negotiated with your DV
        franking consultant.
      operationId: createContract
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateOrUpdateDpContractRep"
        required: true
      responses:
        '201':
          description: Contract successfully created.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DpContractRep"
        '403':
          description: Access forbidden because of missing authority for resource.
        '422':
          description: 'DM_DIS_2005: A contract for the supplied ekp, procedure and
            subscription already exists. DM_DIS_2003: Input data validation failed.
            Please notice the concrete error description in the error response. DM_DIS_2007:
            Wrong combination of procedure number and payment information. DM_DIS_2008:
            Wrong combination of inductionType and induction information. DM_DIS_2036:
            Cannot update contract. E.g. change of contract type is not valid. DM_DIS_2038:
            If the procedure is not supported for the contract type.'
  "/dispatchpreparation/v1/addresses":
    get:
      tags:
      - addresses
      summary: Find addresses which can be referenced by ekp in processing.
      operationId: getAddresses
      parameters:
      - name: customerId
        in: query
        description: ID of the customer.
        required: true
        schema:
          type: integer
          format: int64
      - name: ekp
        in: query
        description: Ekp of the address.
        required: false
        schema:
          type: string
      - name: name
        in: query
        description: Partial or full name of the address.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Addresses found and returned.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CollectionRepAddressRep"
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
    post:
      tags:
      - addresses
      summary: Add a new address. EKP must be different from other addresses for this
        customerId.
      operationId: createAddress
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateOrUpdateAddressRep"
        required: true
      responses:
        '422':
          description: 'DM_DIS_2000: Address with ekp in use by other address. If
            the ekp''s checksum is not valid. DM_DIS_2003: Input data validation failed.
            Please notice the concrete error description in the error response.'
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
        '201':
          description: Address successfully created.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AddressRep"
  "/dispatchpreparation/v1/postwurfspezial/processings/{id}/results":
    get:
      tags:
      - POSTWURFSPEZIAL processing results
      summary: Get processing result documents.
      description: Returns the concrete binary documents (pdf, jpg) you chose as 'createDocumentTypes'
        in your mailing parameters. The documents are zipped in a deflate compressed
        archive.
      operationId: getProcessingResultDocuments
      parameters:
      - name: id
        in: path
        description: The ID of a processing
        required: true
        schema:
          type: integer
          format: int64
      - name: customerId
        in: query
        description: ID of the customer.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Documents found and returned as byte stream.
          content:
            application/octet-stream:
              schema:
                "$ref": "#/components/schemas/StreamingResponseBody"
            application/json:
              schema:
                "$ref": "#/components/schemas/StreamingResponseBody"
        '422':
          description: Invalid input.
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
  "/dispatchpreparation/v1/postwurfspezial/processings/{id}/results/postage":
    get:
      tags:
      - POSTWURFSPEZIAL processing results
      summary: Get postage result information.
      operationId: getProcessingResultPostage
      parameters:
      - name: id
        in: path
        description: The identifier of the processing.
        required: true
        schema:
          type: integer
          format: int64
      - name: customerId
        in: query
        description: ID of the customer.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Postage information found and returned.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PwspProcessingResultsPostagesRep"
        '404':
          description: Processing with the given id was not found or postage result
            is not available yet (DM_DIS_2015).
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
  "/dispatchpreparation/v1/postwurfspezial/processings/{id}/results/mailingitems":
    get:
      tags:
      - POSTWURFSPEZIAL processing results
      summary: Get resulting mailing items.
      description: 'Please set the Accept-Encoding: gzip http header to ensure http
        response compression. An array of PwspProcessingResultsValuesMailingItemRep
        is returned.'
      operationId: getProcessingResultMailingItems
      parameters:
      - name: id
        in: path
        description: The identifier of the processing.
        required: true
        schema:
          type: integer
          format: int64
      - name: customerId
        in: query
        description: ID of the customer.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '404':
          description: Processing with the given id was not found or mailing items
            are not available yet (DM_DIS_2015).
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
        '200':
          description: Mailing items information found and returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/PwspProcessingResultsValuesMailingItemRep"
  "/dispatchpreparation/v1/postwurfspezial/processings/{id}/log":
    get:
      tags:
      - POSTWURFSPEZIAL processing results
      summary: Retrieve a trace log with info and error messages.
      operationId: getProcessingLog
      parameters:
      - name: id
        in: path
        description: The identifier of the processing.
        required: true
        schema:
          type: integer
          format: int64
      - name: customerId
        in: query
        description: ID of the customer.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
        '200':
          description: Processing log found and returned.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ProcessingLogRep"
  "/dispatchpreparation/v1/postaktuell/processings/{id}/results":
    get:
      tags:
      - POSTAKTUELL processing results
      summary: Get processing result documents.
      description: Returns the concrete binary documents (pdf, jpg) you chose as 'createDocumentTypes'
        in your mailing parameters. The documents are zipped in a deflate compressed
        archive.
      operationId: getProcessingResultDocuments_1
      parameters:
      - name: id
        in: path
        description: The ID of a processing
        required: true
        schema:
          type: integer
          format: int64
      - name: customerId
        in: query
        description: ID of the customer.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Documents found and returned as byte stream.
          content:
            application/octet-stream:
              schema:
                "$ref": "#/components/schemas/StreamingResponseBody"
            application/json:
              schema:
                "$ref": "#/components/schemas/StreamingResponseBody"
        '422':
          description: Invalid input.
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
  "/dispatchpreparation/v1/postaktuell/processings/{id}/results/postage":
    get:
      tags:
      - POSTAKTUELL processing results
      summary: Get postage result information.
      operationId: getProcessingResultPostage_1
      parameters:
      - name: id
        in: path
        description: The identifier of the processing.
        required: true
        schema:
          type: integer
          format: int64
      - name: customerId
        in: query
        description: ID of the customer.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Postage information found and returned.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PaProcessingResultsPostagesRep"
        '404':
          description: Processing with the given id was not found or postage result
            is not available yet (DM_DIS_2015).
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
  "/dispatchpreparation/v1/postaktuell/processings/{id}/log":
    get:
      tags:
      - POSTAKTUELL processing results
      summary: Retrieve a trace log with info and error messages.
      operationId: getProcessingLog_1
      parameters:
      - name: id
        in: path
        description: The identifier of the processing.
        required: true
        schema:
          type: integer
          format: int64
      - name: customerId
        in: query
        description: ID of the customer.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
        '200':
          description: Processing log found and returned.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ProcessingLogRep"
  "/dispatchpreparation/v1/dispatchpreparationlookups":
    get:
      tags:
      - lookups
      summary: Retrieve all lookups for this service.
      description: A lookup consists of an id and an internationalized label. It is
        used to communicate possible values for specific objects to the api caller
      operationId: getAllLookups
      responses:
        '200':
          description: All available lookup values per lookup.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: array
                  items:
                    "$ref": "#/components/schemas/KeyValuePairRep"
  "/dispatchpreparation/v1/dispatchpreparationerrorcodelookups":
    get:
      tags:
      - lookups
      summary: Retrieve all error code lookups for this service.
      description: A lookup consists of an id and an internationalized label. It is
        used to communicate possible values for specific objects to the api caller.
      operationId: getAllLookups_1
      responses:
        '200':
          description: All available error code lookup values per lookup.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: array
                  items:
                    "$ref": "#/components/schemas/ValueLabelPairRep"
  "/dispatchpreparation/v1/dialogpost/processings/{id}":
    get:
      tags:
      - DIALOGPOST processings
      summary: Get detail information about a processing.
      description: This may be a draft or a completed processing.
      operationId: getProcessing_2
      parameters:
      - name: id
        in: path
        description: The identifier of the processing.
        required: true
        schema:
          type: integer
          format: int64
      - name: customerId
        in: query
        description: ID of the customer.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '404':
          description: Processing with the given id was not found.
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
        '200':
          description: Processing found and returned.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DpProcessingDetailRep"
    delete:
      tags:
      - DIALOGPOST processings
      summary: Delete a processing draft.
      description: This is only possible for processings in state 'CREATED'.
      operationId: deleteProcessing_2
      parameters:
      - name: id
        in: path
        description: The identifier of the processing.
        required: true
        schema:
          type: integer
          format: int64
      - name: customerId
        in: query
        description: ID of the customer.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Processing draft deleted.
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Processing with the given id was not found.
        '422':
          description: 'DM_DIS_0003: If this processing is not in state ''CREATED''.'
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
  "/dispatchpreparation/v1/dialogpost/processings/{id}/results":
    get:
      tags:
      - DIALOGPOST processing results
      summary: Get processing result documents.
      description: Returns the concrete binary documents (pdf, jpg) you chose as 'createDocumentTypes'
        in your mailing parameters. The documents are zipped in a deflate compressed
        archive.
      operationId: getProcessingResultDocuments_2
      parameters:
      - name: id
        in: path
        description: The ID of a processing
        required: true
        schema:
          type: integer
          format: int64
      - name: customerId
        in: query
        description: ID of the customer.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Documents found and returned as byte stream.
          content:
            application/octet-stream:
              schema:
                "$ref": "#/components/schemas/StreamingResponseBody"
            application/json:
              schema:
                "$ref": "#/components/schemas/StreamingResponseBody"
        '422':
          description: Invalid input.
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
  "/dispatchpreparation/v1/dialogpost/processings/{id}/results/postageremaining":
    get:
      tags:
      - DIALOGPOST processing results
      summary: Get postage result information.
      operationId: getProcessingResultPostageRemaining
      parameters:
      - name: id
        in: path
        description: The identifier of the processing.
        required: true
        schema:
          type: integer
          format: int64
      - name: customerId
        in: query
        description: ID of the customer.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '404':
          description: Processing with the given id was not found or postage result
            is not ready yet.
        '200':
          description: Postage information found and returned.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DpProcessingResultsValuesRemainingRep"
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
  "/dispatchpreparation/v1/dialogpost/processings/{id}/results/postage":
    get:
      tags:
      - DIALOGPOST processing results
      summary: Get postage result information.
      operationId: getProcessingResultPostage_2
      parameters:
      - name: id
        in: path
        description: The identifier of the processing.
        required: true
        schema:
          type: integer
          format: int64
      - name: customerId
        in: query
        description: ID of the customer.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '404':
          description: Processing with the given id was not found or postage result
            is not ready yet.
        '200':
          description: Postage information found and returned.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DpProcessingResultsValues"
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
  "/dispatchpreparation/v1/dialogpost/processings/{id}/results/mailingitems":
    get:
      tags:
      - DIALOGPOST processing results
      summary: Get resulting mailing items.
      description: 'Please set the Accept-Encoding: gzip http header to ensure http
        response compression. An array of DpProcessingResultsValuesMailingItemRep
        is returned.'
      operationId: getProcessingResultMailingItems_1
      parameters:
      - name: id
        in: path
        description: The identifier of the processing.
        required: true
        schema:
          type: integer
          format: int64
      - name: customerId
        in: query
        description: ID of the customer.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Mailing items information found and returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/DpProcessingResultsValuesMailingItemRep"
        '404':
          description: Processing with the given id was not found or mailing items
            are not available yet (DM_DIS_2015).
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
  "/dispatchpreparation/v1/dialogpost/processings/{id}/log":
    get:
      tags:
      - DIALOGPOST processing results
      summary: Retrieve a trace log with info and error messages.
      operationId: getProcessingLog_2
      parameters:
      - name: id
        in: path
        description: The identifier of the processing.
        required: true
        schema:
          type: integer
          format: int64
      - name: customerId
        in: query
        description: ID of the customer.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '403':
          description: Access forbidden because of missing authority for resource
            or entity.
        '200':
          description: Processing log found and returned.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ProcessingLogRep"
  "/dispatchpreparation/v1/depotlookups":
    get:
      tags:
      - lookups
      summary: Retrieve all Deutsche Post depot names.
      description: Get a list of Deutsche Post depots for induction and contract creation.
        Use the depots name attribute as unique key.
      operationId: getAllDepotLookups
      responses:
        '200':
          description: All available depots.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: array
                  items:
                    "$ref": "#/components/schemas/DepotRep"
components:
  schemas:
    CreatePostShopLoginRep:
      required:
      - jwtToken
      type: object
      properties:
        jwtToken:
          type: string
          description: The json web token generated by the post shop as plain text.
      description: The postshop login data.
    TokenRep:
      type: object
      properties:
        jwtToken:
          type: string
          description: The DM-Suite token.
    CreatePartnerSystemLoginRep:
      required:
      - jwtToken
      type: object
      properties:
        jwtToken:
          type: string
          description: The json web token generated by a partner system
      description: The token based partner system login data.
    CreatePartnerSystemTokenRep:
      required:
      - authenticationSecret
      - locale
      - partnerSystemCustomerIdExt
      - partnerSystemIdExt
      type: object
      properties:
        partnerSystemIdExt:
          type: string
          description: The external partner system ID.
        partnerSystemCustomerIdExt:
          maxLength: 60
          minLength: 0
          type: string
          description: The external partner system customer ID.
        authenticationSecret:
          maxLength: 255
          minLength: 0
          type: string
          description: The authentication secret.
        locale:
          type: string
          description: The locale.
      description: The partner system login data.
    CreateBusinessLoginRep:
      required:
      - locale
      - password
      - username
      type: object
      properties:
        username:
          type: string
          description: The username of the user to login.
        password:
          type: string
          description: The password of the user to login.
        locale:
          type: string
          description: The locale used for subsequent requests (e.g. 'de' or 'en').
      description: The business login data.
    ValueLabelPairRep:
      type: object
      properties:
        value:
          type: string
        label:
          type: string
    CreateOrUpdateProductionDefinitionRep:
      required:
      - customerId
      - heightInDeciMm
      - lengthInDeciMm
      - mailingItemType
      - name
      - pallets
      - productionDefinitionFabricationType
      - weightInGram
      - widthInDeciMm
      type: object
      properties:
        name:
          maxLength: 255
          minLength: 0
          type: string
          description: A human readable name for this production definition.
          example: Postcard DL
        mailingItemType:
          type: integer
          description: A mailing item type. See lookup resource 'MailingItemType'
            for available values.
          format: int32
          example: 2
        lengthInDeciMm:
          maximum: 6000
          minimum: 1000
          type: integer
          description: Length of the mailing item in 1/10 mm. Values will be rounded
            up to millimeters for the processing run.
          format: int64
          example: 2200
        widthInDeciMm:
          maximum: 4490
          minimum: 700
          type: integer
          description: Width of the mailing item in 1/10 mm. Values will be rounded
            up to millimeters for the processing run.
          format: int64
          example: 1050
        heightInDeciMm:
          maximum: 3000
          minimum: 1
          type: integer
          description: 'Height/Thickness of the mailing item in 1/10 mm. '
          format: int64
          example: 10
        notEnabledForAutomation:
          type: boolean
          description: Indicates whether the mailing items are not enabled for automation.
            Does not apply to product Postaktuell
          example: false
          default: false
        dialogpostKoop:
          type: boolean
          description: Specifies whether Dialogpost-Koop is used. When this option
            is set, extra items to reach a minimum of 100,000 total mailing items
            will be added, if necessary. This may be useful for Dialogpost-Koop customers
            to gain extra discounts on the real items. This parameter is  not available
            for products Postwurfspezial and Postaktuell.
          example: false
          default: false
        remainingItems:
          type: boolean
          description: Specifies whether Remaining Items are used. When this option
            is set, remaining items will be calculated for your processing. Make sure
            to add a contract of type LETTER for your remaining items to your processing.
            This parameter is not available for products Postwurfspezial and Postaktuell.
          example: true
          default: true
        unwrapped:
          type: boolean
          description: Specifies whether the mailing items are unwrapped.
          example: false
          default: false
        weightInGram:
          maximum: 10000
          minimum: 1
          type: integer
          description: Weight of the mailing item in gram.
          format: int64
          example: 7
        productionDefinitionFabricationType:
          type: integer
          description: Type of a mailing item container (tray or bundle). See lookup
            resource 'ProductionDefinitionFabricationType' for available values. TRAYS
            are not available for product Postaktuell.
          format: int32
          example: 1
        trays:
          "$ref": "#/components/schemas/ProductionDefinitionTraysRep"
        bundles:
          "$ref": "#/components/schemas/ProductionDefinitionBundlesRep"
        pallets:
          "$ref": "#/components/schemas/ProductionDefinitionPalletsRep"
        customerId:
          type: integer
          description: The customer id for which to act.
          format: int64
      description: Representation of a production definition for creating.
    ProductionDefinitionBundlesRep:
      required:
      - maxNumberItemsPerContainer
      - productionDefinitionOptimizationType
      type: object
      properties:
        maxNumberItemsPerContainer:
          type: integer
          description: Contains the maximum number of mailing items in a container.
          format: int32
          example: 450
        productionDefinitionOptimizationType:
          type: integer
          description: Define the optimization strategy for this production definition.
            See lookup resource 'ProductionDefinitionOptimizationType' for available
            values. For product Postwurfspezial, only FABRICATION_EFFORT is supported.
            This parameter does not apply to product Postaktuell.
          format: int32
          example: 1
        productionDefinitionNumberItemsDependentOptimizationType:
          type: integer
          description: 'Relevant only if you chose ProductionDefinitionOptimizationType=3:
            Define the concrete number of items for this option in minNumberItemsForContainerLr
            or minNumberItemsForContainerPlz. See lookup resource ''ProductionDefinitionNumberItemsDependentOptimizationType''
            for available values.'
          format: int32
          nullable: true
        minNumberItemsForContainerLr:
          minimum: 0
          type: integer
          description: 'Relevant only if you chose ProductionDefinitionNumberItemsDependentOptimizationType=1:Specifies
            the minimum number of mailing items inside an LR mailing item container
            for the container to be produced. This setting is meant to provide a means
            of controlling gain of rebates vs. increased production complexity. '
          format: int32
          nullable: true
        minNumberItemsForContainerPlz:
          minimum: 0
          type: integer
          description: 'Relevant only if you chose ProductionDefinitionNumberItemsDependentOptimizationType=3:Specifies
            the minimum number of mailing items inside a PLZ mailing item container
            for the container to be produced. This setting is meant to provide a means
            of controlling gain of rebates vs. increased production complexity. '
          format: int32
          nullable: true
        maxNumberItemsSmallBundle:
          minimum: 0
          type: integer
          description: Maximum number of mailing items in a bundle for this bundle
            to be considered 'small'.
          format: int32
          nullable: true
        productionOrderBundles:
          minimum: 0
          type: integer
          description: 'Specifies the production order of bundles vs. small bundles.
            Find the ''ProductionOrderBundles'' with options (e.g. ''Small first per
            pallet'') using the lookup resource. '
          format: int32
          nullable: true
          example: 1
          default: 1
        productionOrderSmallBundles:
          minimum: 0
          type: integer
          description: 'Specifies the production order of small bundles. Find the
            type ''ProductionOrderSmallBundles'' with options (e.g. ''ZIP ascending'')
            using the lookup resource. '
          format: int32
          nullable: true
          example: 1
          default: 1
      description: 'Relevant only if you chose ProductionDefinitionFabricationType=2:
        Production parameters for bundles.'
      nullable: true
    ProductionDefinitionPalletsRep:
      required:
      - usePallets
      type: object
      properties:
        usePallets:
          type: boolean
          description: Specifies whether fabrication of pallets should be enabled.
          example: true
        maxNumberMailingItemsPerPallet:
          type: integer
          description: Contains the maximum number of mailing items per pallet. Is
            mandatory for bundles. For Dialogpost, this parameter does not apply to
            trays.
          format: int32
          nullable: true
          example: 5000
        alwaysProducePallets:
          type: boolean
          description: Specifies whether pallets are even produced when they are not
            required, like for a total item weight of less than 500 kg. For product
            Postwurfspezial, only value true is valid.
          example: false
          default: false
        traysStackable:
          type: boolean
          description: Specifies whether stackable pallets are produced. Deprecated
            attribute. Will be replaced by 'stackable'
          example: false
          deprecated: true
          default: false
        stackable:
          type: boolean
          description: Specifies whether stackable pallets are produced.
          example: false
          default: false
        emptyWeightInGram:
          minimum: 1000
          type: integer
          description: Weight of an empty pallet in gram.
          format: int32
          example: 22000
          default: 22000
        maxNumberTraysPerPallet:
          minimum: 0
          type: integer
          description: Maximum number of trays that can be put on one pallet. Only
            relevant if FabricationType is TRAYS (1).
          format: int32
          nullable: true
          example: 28000
        maxNumberTraysPerLayer:
          minimum: 0
          type: integer
          description: Maximum number of trays per layer on a pallet. Only relevant
            if FabricationType is TRAYS (1).
          format: int32
          nullable: true
          example: 8
        productionDefinitionOptimizationType:
          type: integer
          description: Define the optimization strategy for the pallet production.
            Define the minimum amount of saved money for this option in minSavingToProduceExtraPallet.
            See lookup resource 'ProductionDefinitionOptimizationType' for available
            values. For product  Postwurfspezial, only FABRICATION_EFFORT is supported.
          format: int32
          example: 1
          default: 1
        minSavingToProduceExtraPallet:
          minimum: 0
          type: integer
          description: 'Relevant only if you chose ProductionDefinitionOptimizationType=3:
            Minimum amount of saved money in Cent for a not required pallet to be
            produced. For example, it might be possible to either put a bunch of containers
            on 1 LZ pallet, or on 2 LR pallets. Only if the 2 LR pallets cost at least
            as much less as the amount specified here, they will be produced. Otherwise,
            the 1 LZ pallet will be produced.'
          format: int64
          example: 0
          default: 0
      description: Production definitions for pallets. Set pallets.usePallets false
        if you don't want pallet production.
    ProductionDefinitionTraysRep:
      required:
      - maxNumberItemsPerContainer
      - productionDefinitionOptimizationType
      - trayType
      type: object
      properties:
        trayType:
          type: integer
          description: Available tray types (sizes). Standard Post trays exist in
            2 sizes. See lookup resource 'TrayType' for available values.
          format: int32
          example: 1
        maxNumberItemsPerContainer:
          type: integer
          description: Contains the maximum number of mailing items in a container.
          format: int32
          example: 450
        numberItemsForTrayHalfFull:
          type: integer
          description: Number of items of this variant that will make a tray be half-full.
            A tray must be at least half-full for production rebates.
          format: int32
          nullable: true
          example: 228
        productionDefinitionOptimizationType:
          type: integer
          description: Define the optimization strategy for this production definition.
            See lookup resource 'ProductionDefinitionOptimizationType' for available
            values. For product Postwurfspezial, only FABRICATION_EFFORT is supported.
          format: int32
          example: 1
        productionDefinitionNumberItemsDependentOptimizationType:
          type: integer
          description: 'Relevant only if you chose ProductionDefinitionOptimizationType=3:
[...]
