swagger: "2.0"
info:
  version: '2.4.0'
  title: "DHL Global Forwarding Shipment Booking API"
  description: >-
    Shipment Booking API allows developer to book Air, Ocean, Rail and Road Freight shipments in various DHL Global Forwarding transport management systems.
host: "api-sandbox.dhl.com"
basePath: "/dgff/transportation"
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json"
- "application/problem+json"
security:
  - oAuth2Token: []
securityDefinitions:
  oAuth2Token:
    type: oauth2
    tokenUrl: 'https://api-sandbox.dhl.com/auth/v1/token?response_type=access_token&grant_type=client_credentials'
    flow: application
    scopes:
      shipmentBooking: ''
paths:
  /shipment-booking:
    post:
      operationId: "shipmentbooking_POST"
      summary: "Create a shipment booking"
      description: "Use this operation to create a shipment booking with DHL Global Forwarding. You will receive a 'DGF Booking ID' reference in return."
      consumes:
      - "application/json"
      produces:
      - "application/json"
      - "application/problem+json"
      parameters:
      - in: "body"
        name: "shipmentBooking"
        required: true
        schema:
          $ref: "#/definitions/shipmentBooking"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/shipmentbooking_POST_response"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/shipmentbooking_401_error_response"
        429:
          description: "Too Many Requests"
          schema:
            $ref: '#/definitions/shipmentbooking_429_error_response'
        500:
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/shipmentbooking_500_error_response"
  /shipment-booking/{shipment-id}:
    patch:
      operationId: "shipmentbooking_PATCH"
      summary: "Update a shipment booking"
      description: "Use this operation to update a shipment booking with DHL Global Forwarding. You are allowed to update shipments booked by your API app only. Business rule validation applies"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      - "application/problem+json"
      parameters:
      - name : "shipment-id"
        in: path
        type: string
        required: true
        description: "Shipment ID e.g. S2100067035"
      - in: "body"
        name: "shipmentBooking_Update"
        required: true
        schema:
          $ref: "#/definitions/shipmentBookingUpdate"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/shipmentbooking_PATCH_200_response"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/shipmentbooking_401_error_response"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/shipmentbooking_PATCH_403_response"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/shipmentbooking_PATCH_404_error_response"
        429:
          description: "Too Many Requests"
          schema:
            $ref: '#/definitions/shipmentbooking_429_error_response'
        500:
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/shipmentbooking_500_error_response"
  /shipment-booking/status:
    get:
      operationId: "shipmentbookingstatus_GET"
      summary: "Check on the status of your shipment booking"
      description: "Use this operation to check on the status of your shipment booking (using 'DGF Booking ID' reference)"
      produces:
      - "application/json"
      - "application/problem+json"
      parameters:
      - name: "_DGFBookingID"
        description: "DGFBookingID is a unique reference generated by DHL Global Forwarding when you create a shipment booking using the API"
        in: "query"
        required: true
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/shipmentbookingstatus_GET_response"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/shipmentbooking_401_error_response"
        404:
          description: "Shipment Booking ID Not Found"
          schema:
            $ref: "#/definitions/shipmentbookingstatus_GET_Not_Found_response"
  /shipment-booking/codelist:
    get:
      operationId: "shipmentbookingcodelist_GET"
      summary: "Retrieve DHL codes and descriptions list"
      description: "Use this operation to retrieve DHL codes and descriptions list. This operation returns list of codes and desciptions for a given codeListID"
      produces:
      - "application/json"
      - "application/problem+json"
      parameters:
      - name: "codeListID"
        description: ""
        in: "query"
        required: false
        type: "string"
        enum:
          - "CommodityCode"
          - "CountryCode"
          - "CurrencyCode"
          - "DeliveryMode"
          - "DimensionUoM"
          - "FlashpointTemperatureUoM"
          - "GoodsTemperatureUoM"
          - "IncoTerms"
          - "NoteType"
          - "PackageType"
          - "PartyType"
          - "ProductCode"
          - "ReferenceType"
          - "ServiceCode"
          - "ServiceLevelCode"
          - "ShipmentRelease"
          - "ShipmentType"
          - "ShipmentSubType"
          - "TransportMode"
          - "TransportUnitType"
          - "VolumeUoM"
          - "WeightUoM"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/shipmentbookingcodelist_GET_response"
        401:
          description: "Access Denied"
        404:
          description: "Code List Not Found"
          schema:
            $ref: "#/definitions/shipmentbookingcodelist_GET_NotFound_response"
definitions:
  address_4:
    properties:
      addressLine1:
        type: "string"
        maxLength: 50
        example: "21 JOO KOON CIRCLE"
      addressLine2:
        type: "string"
        maxLength: 50
        example: ""
      postalCode:
        type: "string"
        maxLength: 10
        example: "629057"
      city:
        type: "string"
        example: "Singapore"
        maxLength: 50
      stateProvince:
        type: "string"
        maxLength: 25
        example: ""
      countryCode:
        type: "string"
        description: "Use 'CountryCode' code list, see https://api-sandbox.dhl.com/dgff/transportation/shipment-booking/codelist?codeListID=CountryCode"
        maxLength: 2
        example: "SG"
  address_3:
    properties:
      addressLine1:
        type: "string"
        maxLength: 50
        example: ""
      addressLine2:
        type: "string"
        maxLength: 50
        example: ""
      postalCode:
        type: "string"
        maxLength: 10
        example: ""
      city:
        type: "string"
        maxLength: 50
        example: ""
      stateProvince:
        type: "string"
        maxLength: 25
        example: ""
      countryCode:
        type: "string"
        description: "Use 'CountryCode' code list, see https://api-sandbox.dhl.com/dgff/transportation/shipment-booking/codelist?codeListID=CountryCode"
        maxLength: 2
        example: ""
  customsClassification:
    properties:
      countryCode:
        type: "string"
        description: "ISO 2-character country code\nUse 'CountryCode' code list, see https://api-sandbox.dhl.com/dgff/transportation/shipment-booking/codelist?codeListID=CountryCode"
        maxLength: 2
        example: "US"
      code:
        type: "string"
        description: "Harmonized System (HS) code"
        maxLength: 15
        example: "3304"
  delivery:
    properties:
      _DGFDeliver:
        type: "boolean"
        description: "Set flag to 'true' if you would like DHL Global Forwarding to perform the delivery to the final destination. Populate the delivery details below only if Delivery Location differs from Consignee location"
        example: false
      accountNumber:
        type: "string"
        maxLength: 12
        example: ""
      name:
        type: "string"
        maxLength: 100
        example: ""
      address:
        $ref: "#/definitions/address"
      contact:
        $ref: "#/definitions/contact"
  dimensions:
    properties:
      dimensionsUom:
        type: "string"
        description: "Use 'DimensionUoM' code list, see https://api-sandbox.dhl.com/dgff/transportation/shipment-booking/codelist?codeListID=DimensionUoM"
        maxLength: 3
        example: "MTR"
      length:
        type: "number"
        format: "double"
        maximum: 999999.999
        description: "Sending values with more than 3 decimal places will result in an Error 400."
        example: 20.1
      width:
        type: "number"
        format: "double"
        maximum: 999999.999
        description: "Sending values with more than 3 decimal places will result in an Error 400."
        example: 8.0
      height:
        type: "number"
        format: "double"
        maximum: 999999.999
        description: "Sending values with more than 3 decimal places will result in an Error 400."
        example: 8.5
  temperatures:
    properties:
      requiresTemperatureControl:
        type: "boolean"
        description: "Set flag to 'true' if the cargo requires to be transported in controlled temperatures"
        example: false
      requiredMinimum:
        type: "number"
        format: "double"
        description: "Minimum temperature required during cargo transport. Must be provided if requiresTemperatureControl is 'true'"
        example: 8.0
      requiredMaximum:
        type: "number"
        format: "double"
        description: "Maximum temperature required during cargo transport. Must be provided if requiresTemperatureControl is 'true'"
        example: 10.0
      uom:
        type: "string"
        description: "Temperature Unit of measurement. Must be provided if requiresTemperatureControl is 'true'\nUse 'GoodsTemperatureUoM' code list, see https://api-sandbox.dhl.com/dgff/transportation/shipment-booking/codelist?codeListID=GoodsTemperatureUoM"
        maxLength: 3
        example: "CEL"
  parties:
    required:
    - "partyType"
    - "accountNumber"
    properties:
      partyType:
        type: "string"
        description: "Use 'PartyType' code list, see https://api-sandbox.dhl.com/dgff/transportation/shipment-booking/codelist?codeListID=PartyType"
        example: "DeliveryAgent"
      accountNumber:
        type: "string"
        maxLength: 12
        example: "SFO"
  hazardousMaterial:
    properties:
      _UNDGNumber:
        type: "string"
        description: "Dangerous goods United Nations Number"
        maxLength: 5
        example: "1266a"
      _IMOClassCode:
        type: "number"
        format: "double"
        description: "Dangerous goods IMO Class Code"
        example: 3
      flashpointTemperature:
        $ref: "#/definitions/flashpointTemperature"
      properShippingname:
        type: "string"
        description: "Hazardous Goods Shipping Name"
        example: ""
      technicalName:
        type: "string"
        maxLength: 100
        description: "Hazardous Goods Technical Name"
        example: ""
      marinePollutant:
        type: "string"
        maxLength: 1
        description: "Hazardous Goods Marine Pollutant (Y – Marine Pollutant / S – Severe Marine Pollutant)"
        example: "Y"
      packageCount:
        type: "integer"
        format: "int64"
        description: "Hazardous Goods Package Count"
        example: 10
      packageType:
        type: "string"
        maxLength: 3
        description: "Use 'PackageType' code list, see https://api-sandbox.dhl.com/dgff/transportation/shipment-booking/codelist?codeListID=PackageType"
        example: "PLT"
      grossWeight:
        type: "number"
        format: "double"
        maximum: 999999.999
        description: "Sending values with more than 3 decimal places will result in an Error 400."
        example: 50.0
      grossWeightUom:
        type: "string"
        description: "Use 'WeightUoM' code list, see https://api-sandbox.dhl.com/dgff/transportation/shipment-booking/codelist?codeListID=WeightUoM"
        maxLength: 3
        example: "KGM"
      volume:
        type: "number"
        format: "double"
        maximum: 999999.999
        description: "Sending values with more than 3 decimal places will result in an Error 400."
        example: 10.5
      volumeUom:
        type: "string"
        description: "Use 'VolumeUoM' code list, see https://api-sandbox.dhl.com/dgff/transportation/shipment-booking/codelist?codeListID=VolumeUoM"
        maxLength: 3
        example: "MTQ"
      contact:
        $ref: "#/definitions/contact_6"
  address_5:
    properties:
      addressLine1:
        type: "string"
        maxLength: 50
        example: "7699 CORPORATE CENTER DR"
      addressLine2:
        type: "string"
        maxLength: 50
        example: ""
      postalCode:
        type: "string"
        maxLength: 10
        example: "33126"
      city:
        type: "string"
        maxLength: 50
        example: "MIAMI"
      stateProvince:
        type: "string"
        maxLength: 25
        example: "FL"
      countryCode:
        type: "string"
        description: "Use 'CountryCode' code list, see https://api-sandbox.dhl.com/dgff/transportation/shipment-booking/codelist?codeListID=CountryCode"
        maxLength: 2
        example: "US"
  flashpointTemperature:
    properties:
      uom:
        type: "string"
        description: "Use 'FlashpointTemperatureUoM' code list, see https://api-sandbox.dhl.com/dgff/transportation/shipment-booking/codelist?codeListID=FlashpointTemperatureUoM"
        maxLength: 3
        example: "CEL"
      text:
        type: "number"
        format: "double"
        description: "A lowest temperature at which the goods will ignite"
        example: 20.0
  contact_6:
    properties:
      name:
        type: "string"
        maxLength: 256
        example: "John Doe"
      phone:
        type: "string"
        maxLength: 20
        example: "+1 99 999 9999"
      email:
        type: "string"
        maxLength: 254
        example: "j.doe@acme.com"
  goodsLines:
    required:
    - "packageType"
    properties:
      packageCount:
        type: "integer"
        description: "Number of packages."
        format: "int64"
        example: 10
      packageType:
        type: "string"
        description: "Package Type Code e.g. PLT Pallet.\nUse 'PackageType' code list, see https://api-sandbox.dhl.com/dgff/transportation/shipment-booking/codelist?codeListID=PackageType"
        maxLength: 3
        example: "PLT"
      packageID:
        type: "string"
        description: "Package Identification."
        example: "PalletNo12346"
      grossWeight:
        type: "number"
        format: "double"
        maximum: 999999.999
        description: "Sending values with more than 3 decimal places will result in an Error 400."
        example: 50.0
      grossWeightUom:
        type: "string"
        description: "Gross Weight Unit of measurement.\nUse 'WeightUoM' code list, see https://api-sandbox.dhl.com/dgff/transportation/shipment-booking/codelist?codeListID=WeightUoM"
        maxLength: 3
        example: "KGM"
      volume:
        type: "number"
        format: "double"
        maximum: 999999.999
        description: "Sending values with more than 3 decimal places will result in an Error 400."
        example: 10.5
      volumeUom:
        type: "string"
        description: "Volume Unit of measurement.\nUse 'VolumeUoM' code list, see https://api-sandbox.dhl.com/dgff/transportation/shipment-booking/codelist?codeListID=VolumeUoM"
        maxLength: 3
        example: "MTQ"
      innerPackageCount:
        type: "integer"
        format: "int64"
        description: "Total inner package count (SLAC)."
        example: 10
      loadingMeters:
        type: "number"
        format: "double"
        description: "Loading meters for trucking."
        example: 8.5
      marksAndNumbers:
        type: "string"
        example: ""
      goodsDescription:
        type: "string"
        description: "Detailed goods descriptions."
        maxLength: 260
        example: "Solid metal"
      commodityCode:
        type: "string"
        description: "Commodity code of the goods.\nUse 'CommodityCode' code list, see https://api-sandbox.dhl.com/dgff/transportation/shipment-booking/codelist?codeListID=CommodityCode"
        maxLength: 4
        example: "GEN"
      harmonizedCode:
        type: "string"
        maxLength: 15
        description: "Harmonized System (HS) code. Populate either harmonizedCode for single HS code or customsClassification for multiple HS codes"
        example: "711311"
      originCountryCode:
        type: "string"
        description: "Goods origin.\nUse 'CountryCode' code list, see https://api-sandbox.dhl.com/dgff/transportation/shipment-booking/codelist?codeListID=CountryCode"
        minLength: 2
        maxLength: 2
        example: "PH"
      customsClassification:
        type: array
        description: "Populate either harmonizedCode for single HS code or customsClassification for multiple HS codes"
        items:
          $ref: "#/definitions/customsClassification"
      transportUnitID:
        type: "string"
        description: "Container number (For future use)"
        maxLength: 20
        example: "HASU1179387"
      transportUnitType:
        type: "string"
        description: "Requested container type (For future use).\nUse 'TransportUnitType' code list, see https://api-sandbox.dhl.com/dgff/transportation/shipment-booking/codelist?codeListID=TransportUnitType"
        maxLength: 10
        example: "42T0"
      dimensions:
        $ref: "#/definitions/dimensions"
      temperatures:
        $ref: "#/definitions/temperatures"
      hazardousMaterial:
        type: "array"
        items:
          $ref: "#/definitions/hazardousMaterial"
  address_2:
    properties:
      addressLine1:
        type: "string"
        maxLength: 50
        example: "7600 CORPORATE CENTER DR"
      addressLine2:
        type: "string"
        maxLength: 50
        example: "SUITE 601"
      postalCode:
        type: "string"
        maxLength: 10
        example: "33126"
      city:
        type: "string"
        maxLength: 50
        example: "MIAMI"
      stateProvince:
        type: "string"
        maxLength: 25
        example: "FL"
      countryCode:
        type: "string"
        description: "Use 'CountryCode' code list, see https://api-sandbox.dhl.com/dgff/transportation/shipment-booking/codelist?codeListID=CountryCode"
        maxLength: 2
        example: "US"
  shipmentBooking:
    example:
      {"housebillNumber":"SGLA00344","externalBookingID":"REF01234","modeOfTransport":"AIR","shipmentBranchCode":"SIN","originLocationCode":"SGSIN","originLocationName":"Singapore","originCountryCode":"SG","destinationLocationCode":"USMIA","destinationLocationName":"Miami FL","destinationCountryCode":"US","portOfLoadingLocationCode":"","portOfLoadingLocationName":"","portOfLoadingCountryCode":"","portOfUnloadingLocationCode":"","portOfUnloadingLocationName":"","portOfUnloadingCountryCode":"","requestedPickupDate":"2019-09-02T19:00:00+01:00","requestedShippingDate":"2019-09-03T19:00:00+01:00","requestedDeliveryDate":"2019-09-05T10:00:00+01:00","shipmentType":"LSE","shipmentSubType":"STD","assembly":false,"deliveryMode":"DOOR/DOOR","serviceLevel":"STD","serviceCode":"AA1","productCode":"ALC","_DGFInsure":false,"requestedCarrier":"","incoterms":"FCA","incotermsLocation":"Miami","releaseType":"","valueOfGoods":200,"valueOfGoodsCurrencyCode":"USD","insuranceValue":200,"insuranceValueCurrencyCode":"USD","customer":{"accountNumber":"USGEE030","name":"ACME INT'L INC","address":{"addressLine1":"7600 CORPORATE CENTER DR","addressLine2":"SUITE 601","postalCode":"33126","city":"MIAMI","stateProvince":"FL","countryCode":"US"},"contact":{"name":"Mr J. Doe","phone":"+1 99 999 9999","email":"j.doe@acme.com"}},"shipper":{"accountNumber":"SGSIN6661","name":"JJ Electronics","address":{"addressLine1":"20 JOO KOON CIRCLE","addressLine2":"","postalCode":"629057","city":"Singapore","stateProvince":"","countryCode":"SG"},"contact":{"name":"M Jane","phone":"+65 88 888 8888","email":"jane.m@jj.com"}},"consignee":{"accountNumber":"USGEE036","name":"ACME INT'L INC","address":{"addressLine1":"7699 CORPORATE CENTER DR","addressLine2":"","postalCode":"33126","city":"MIAMI","stateProvince":"FL","countryCode":"US"},"contact":{"name":"","phone":"","email":""}},"notify":{"accountNumber":"USBOC996","name":"X-COMMERCIAL AIRPLANE","address":{"addressLine1":"","addressLine2":"","postalCode":"","city":"","stateProvince":"","countryCode":""},"contact":{"name":"Mr. Xavier","phone":"","email":"xavier@x-plane.com"}},"goodsLines":[{"packageCount":10,"packageType":"PLT","packageID":"PalletNo12346","grossWeight":50,"grossWeightUom":"KGM","volume":10.5,"volumeUom":"MTQ","innerPackageCount":10,"loadingMeters":8.5,"marksAndNumbers":"","goodsDescription":"Solid metal","commodityCode":"GEN","originCountryCode":"PH","customsClassification":[{"countryCode":"US","code":"3304"},{"countryCode":"US","code":"3305"}],"transportUnitID":"HASU1179387","transportUnitType":"42T0","dimensions":{"dimensionsUom":"MTR","length":20.1,"width":8,"height":8.5},"temperatures":{"requiresTemperatureControl":false,"requiredMinimum":8,"requiredMaximum":10,"uom":"CEL"},"hazardousMaterial":[{"_UNDGNumber":"1266a","_IMOClassCode":3,"flashpointTemperature":{"uom":"CEL","text":20},"properShippingname":"","technicalName":"","marinePollutant":"Y","packageCount":10,"packageType":"PLT","grossWeight":50,"grossWeightUom":"KGM","volume":10.5,"volumeUom":"MTQ","contact":{"name":"John Doe","phone":"+1 99 999 9999","email":"j.doe@acme.com"}}]}],"references":[{"type":"CRN","number":"ZZ555555"}],"notes":[{"type":"CIN","text":"Customs Instructions will folllow"}],"service":[{"type":"DKI","requestedDate":"2019-09-01T08:00:00+01:00"}],"pickup":{"_DGFPickup":true,"accountNumber":"SGSIN661","name":"James Chang","address":{"addressLine1":"21 JOO KOON CIRCLE","addressLine2":"","postalCode":"629057","city":"Singapore","stateProvince":"","countryCode":"SG"},"contact":{"name":"","phone":"","email":""}},"delivery":{"_DGFDeliver":false,"accountNumber":"","name":"","address":{"addressLine1":"","addressLine2":"","postalCode":"","city":"","stateProvince":"","countryCode":""},"contact":{"name":"","phone":"","email":""}},"parties":[{"partyType":"DeliveryAgent","accountNumber":"SFO"}]}
    required:
    - "modeOfTransport"
    - "originLocationCode"
    - "originCountryCode"
    - "shipmentType"
    properties:
      housebillNumber:
        type: "string"
        description: "Leave this field blank unless you have a DHL pre-assigned housebillNumber"
        maxLength: 35
        example: "SGLA00344"
      externalBookingID:
        type: "string"
        description: "External party-assigned identification for the booking to be made with DGF"
        maxLength: 35
        example: "REF01234"
      modeOfTransport:
        type: "string"
        description: "Use 'TransportMode' code list, see https://api-sandbox.dhl.com/dgff/transportation/shipment-booking/codelist?codeListID=TransportMode\nFor transport mode of Road, please reach out to DGF API Support(dgf.apisupport@dhl.com) along with the list of origin county to be used."
        minLength: 3
        maxLength: 3
        example: "AIR"
      shipmentBranchCode:
        type: "string"
        description: "Station branch code"
        maxLength: 3
        example: "SIN"
      originLocationCode:
        type: "string"
        description: "Use 'UN/LOCODE' code list, see 'UNECE Code List by Country and Territory' at https://www.unece.org/cefact/locode/service/location.html"
        minLength: 5
        maxLength: 5
        example: "SGSIN"
      originLocationName:
        type: "string"
        maxLength: 35
        example: "Singapore"
      originCountryCode:
        type: "string"
        description: "Use 'CountryCode' code list, see https://api-sandbox.dhl.com/dgff/transportation/shipment-booking/codelist?codeListID=CountryCode"
        minLength: 2
        maxLength: 2
        example: "SG"
      destinationLocationCode:
        type: "string"
        description: "Use 'UN/LOCODE' code list, see 'UNECE Code List by Country and Territory' at https://www.unece.org/cefact/locode/service/location.html"
        maxLength: 5
        example: "USMIA"
      destinationLocationName:
        type: "string"
        maxLength: 35
        example: "Miami FL"
      destinationCountryCode:
        type: "string"
        description: "Use 'CountryCode' code list, see https://api-sandbox.dhl.com/dgff/transportation/shipment-booking/codelist?codeListID=CountryCode"
        maxLength: 2
        example: "US"
      portOfLoadingLocationCode:
        type: "string"
        description: "(For future use) Use 'UN/LOCODE' code list, see 'UNECE Code List by Country and Territory' at https://www.unece.org/cefact/locode/service/location.html"
        maxLength: 5
        example: ""
      portOfLoadingLocationName:
        type: "string"
        maxLength: 35
        description: "(For future use) This is the first port of loading that the vessel departs from."
        example: ""
      portOfLoadingCountryCode:
        type: "string"
        description: "(For future use) Use 'CountryCode' code list, see https://api-sandbox.dhl.com/dgff/transportation/shipment-booking/codelist?codeListID=CountryCode"
        maxLength: 2
        example: ""
      portOfUnloadingLocationCode:
        type: "string"
        description: "(For future use) Use 'UN/LOCODE' code list, see 'UNECE Code List by Country and Territory' at https://www.unece.org/cefact/locode/service/location.html"
        maxLength: 5
        example: ""
      portOfUnloadingLocationName:
        type: "string"
        maxLength: 35
        description: "(For future use) This is the last port of discharge where the container is discharged from vessel."
        example: ""
      portOfUnloadingCountryCode:
        type: "string"
        description: "(For future use) Use 'CountryCode' code list, see https://api-sandbox.dhl.com/dgff/transportation/shipment-booking/codelist?codeListID=CountryCode"
        maxLength: 2
        example: ""
      requestedPickupDate:
        type: "string"
        description: "A future date and time for the latest time for the goods to be picked up."
        example: "2019-09-02T19:00:00+01:00"
      requestedShippingDate:
        type: "string"
        description: "A future date and time for the goods to be shipped."
        example: "2019-09-03T19:00:00+01:00"
      requestedDeliveryDate:
        type: "string"
        description: "A future date and time for the goods to be delivered."
        example: "2019-09-05T10:00:00+01:00"
      shipmentType:
        type: "string"
        description: "Container Mode. Use 'ShipmentType' code list, see https://api-sandbox.dhl.com/dgff/transportation/shipment-booking/codelist?codeListID=ShipmentType"
        maxLength: 3
        example: "LSE"
      shipmentSubType:
        type: "string"
        description: "Shipment Type. Use 'ShipmentSubType' code list, see https://api-sandbox.dhl.com/dgff/transportation/shipment-booking/codelist?codeListID=ShipmentSubType"
        maxLength: 3
        example: "STD"
      assembly:
        type: "boolean"
        description: "[For Internal Use]\nSet flag to 'true' to create a Quick Booking instead of a Shipment.\n\nPlease reach out to DGF API Support(dgf.apisupport@dhl.com) if you plan to send Quick Bookings."
        example: false
      deliveryMode:
        type: "string"
        description: "Shipment delivery mode code. Only applicable for Ocean Freight.\nUse 'DeliveryMode' code list, see https://api-sandbox.dhl.com/dgff/transportation/shipment-booking/codelist?codeListID=DeliveryMode"
        maxLength: 12
        example: "DOOR/DOOR"
      serviceLevel:
        type: "string"
        description: "Use 'ServiceLevelCode' code list, see https://api-sandbox.dhl.com/dgff/transportation/shipment-booking/codelist?codeListID=ServiceLevelCode"
        maxLength: 3
        example: "STD"
      serviceCode:
        type: "string"
        description: "Use 'ServiceCode' code list, see https://api-sandbox.dhl.com/dgff/transportation/shipment-booking/codelist?codeListID=ServiceCode"
        maxLength: 4
        example: "AA1"
      productCode:
        type: "string"
        description: "In combination with the standard Service Levels (e.g. AEC - DHL Air Economy Consol, APB - DHL Air Priority Back to Back, etc.), can be used for autorating\nUse 'ProductCode' code list, see https://api-sandbox.dhl.com/dgff/transportation/shipment-booking/codelist?codeListID=ProductCode"
        example: "ALC"
      _DGFInsure:
        type: "boolean"
        description: "Set flag to 'true' if you would like DHL Global Forwarding to insure the cargo"
        example: false
      requestedCarrier:
        type: "string"
        description: "Enter Carrier Code if a specific carrier is requested, if blank we will choose the best carrier available for this shipment.\nOnly used when shipment type is FCL."
        maxLength: 12
        example: ""
      incoterms:
        type: "string"
        description: "This codification of terms is used in foreign trade contracts to define which parties incur the costs and at what specific point the costs are incurred.\n\nUse 'IncoTerms' code list, see https://api-sandbox.dhl.com/dgff/transportation/shipment-booking/codelist?codeListID=IncoTerms."
        maxLength: 3
        example: "FCA"
      incotermsLocation:
        type: "string"
        maxLength: 50
        example: "Miami"
      releaseType:
        type: "string"
        description: "Use 'ShipmentRelease' code list, see https://api-sandbox.dhl.com/dgff/transportation/shipment-booking/codelist?codeListID=ShipmentRelease"
        maxLength: 3
        example: ""
      valueOfGoods:
        type: "number"
        format: "double"
        description: "Total value of goods."
        example: 200.00
      valueOfGoodsCurrencyCode:
        type: "string"
        description: "Use 'CurrencyCode' code list, see https://api-sandbox.dhl.com/dgff/transportation/shipment-booking/codelist?codeListID=CurrencyCode"
        maxLength: 3
        example: "USD"
      insuranceValue:
        type: "number"
        format: "double"
        description: "Declared value for Insurance"
        example: 200.00
      insuranceValueCurrencyCode:
        type: "string"
        description: "Use 'CurrencyCode' code list, see https://api-sandbox.dhl.com/dgff/transportation/shipment-booking/codelist?codeListID=CurrencyCode"
        maxLength: 3
        example: "USD"
      customer:
        description: "Controlling Customer"
        $ref: "#/definitions/customer"
      shipper:
        description: "Shipper"
        $ref: "#/definitions/shipper"
      consignee:
        description: "Consignee"
        $ref: "#/definitions/consignee"
      notify:
        description: "Notify Party"
        $ref: "#/definitions/notify"
      goodsLines:
        type: "array"
        items:
          $ref: "#/definitions/goodsLines"
      references:
        type: "array"
        items:
          $ref: "#/definitions/references"
      notes:
        type: "array"
        items:
          $ref: "#/definitions/notes"
      service:
        type: "array"
        items:
          $ref: "#/definitions/service"
      pickup:
        description: "Pickup Address"
        $ref: "#/definitions/pickup"
      delivery:
        description: "Delivery Address"
        $ref: "#/definitions/delivery"
      parties:
        type: "array"
        items:
          $ref: "#/definitions/parties"
  address_1:
    properties:
      addressLine1:
        type: "string"
        maxLength: 50
        example: "20 JOO KOON CIRCLE"
      addressLine2:
        type: "string"
        maxLength: 50
        example: ""
      postalCode:
        type: "string"
        maxLength: 10
        example: "629057"
      city:
        type: "string"
        maxLength: 50
        example: "Singapore"
      stateProvince:
        type: "string"
        maxLength: 25
        example: ""
      countryCode:
        type: "string"
        description: "Use 'CountryCode' code list, see https://api-sandbox.dhl.com/dgff/transportation/shipment-booking/codelist?codeListID=CountryCode"
        maxLength: 2
        example: "SG"
  pickup:
    properties:
      _DGFPickup:
        type: "boolean"
        description: "Set flag to 'true' and populate the pickup details below if you would like DHL Global Forwarding to perform the pickup"
        example: true
      accountNumber:
        type: "string"
        maxLength: 12
        example: "SGSIN661"
      name:
        type: "string"
        maxLength: 100
        example: "James Chang"
      address:
        $ref: "#/definitions/address_4"
      contact:
        $ref: "#/definitions/contact_4"
  contact_2:
    properties:
      name:
        type: "string"
        maxLength: 256
        example: "Mr J. Doe"
      phone:
        type: "string"
        maxLength: 20
        example: "+1 99 999 9999"
      email:
        type: "string"
        maxLength: 254
        example: "j.doe@acme.com"
  contact_1:
    properties:
      name:
        type: "string"
        maxLength: 256
        example: "M Jane"
      phone:
        type: "string"
        maxLength: 20
        example: "+65 88 888 8888"
      email:
        type: "string"
        maxLength: 254
        example: "jane.m@jj.com"
  contact_5:
    properties:
      name:
        type: "string"
        maxLength: 256
        example: ""
      phone:
        type: "string"
        maxLength: 20
        example: ""
      email:
        type: "string"
        maxLength: 254
        example: ""
  contact_4:
    properties:
      name:
        type: "string"
        maxLength: 256
        example: ""
      phone:
        type: "string"
        maxLength: 20
        example: ""
      email:
        type: "string"
        maxLength: 254
        example: ""
  contact_3:
    properties:
      name:
        type: "string"
        maxLength: 256
        example: "Mr. Xavier"
      phone:
        type: "string"
        maxLength: 20
        example: ""
      email:
        type: "string"
        maxLength: 254
        example: "xavier@x-plane.com"
  address:
    properties:
      addressLine1:
        type: "string"
        maxLength: 50
        example: ""
      addressLine2:
        type: "string"
        maxLength: 50
        example: ""
      postalCode:
        type: "string"
        maxLength: 10
        example: ""
      city:
        type: "string"
        maxLength: 50
        example: ""
      stateProvince:
        type: "string"
        maxLength: 25
        example: ""
      countryCode:
        type: "string"
        description: "Use 'CountryCode' code list, see https://api-sandbox.dhl.com/dgff/transportation/shipment-booking/codelist?codeListID=CountryCode"
        maxLength: 2
        example: ""
  shipmentbookingcodelist_GET_response:
    properties:
      Result:
        type: "array"
        items:
          $ref: "#/definitions/Result"
  shipmentbookingcodelist_GET_NotFound_response:
    properties:
      title:
        type: "string"
        example: "Client error"
      detail:
        type: "string"
        example: "Code List ID Not Found"
  contact:
    properties:
      name:
        type: "string"
        maxLength: 256
        example: ""
      phone:
        type: "string"
        maxLength: 20
        example: ""
      email:
        type: "string"
        maxLength: 254
        example: ""
  consignee:
    properties:
      accountNumber:
        type: "string"
        description: "Consignee organization code"
        maxLength: 12
        example: "USGEE036"
      name:
        type: "string"
        maxLength: 100
        description: "The company who is to receive the goods being transported"
        example: "ACME INT'L INC"
      address:
        $ref: "#/definitions/address_5"
      contact:
        $ref: "#/definitions/contact_5"
  Result:
    properties:
      id:
        type: "string"
        example: "ELI"
      description:
        type: "string"
        example: "LITHIUM-ION BATTERIES PACKED WITH EQUIPMENT - NON-DGR"
  service:
    properties:
      type:
        type: "string"
        maxLength: 3
        example: "DKI"
        description: "Use 'ServiceType' code list, see https://api-sandbox.dhl.com/dgff/transportation/shipment-booking/codelist?codeListID=ServiceType"
      requestedDate:
        type: "string"
        description: "Service requested date and time."
        example: "2019-09-01T08:00:00+01:00"
  references:
    properties:
      type:
        type: "string"
        description: "Use 'ReferenceType' code list, see https://api-sandbox.dhl.com/dgff/transportation/shipment-booking/codelist?codeListID=ReferenceType"
        maxLength: 3
        example: "CRN"
      number:
        type: "string"
        maxLength: 35
        example: "ZZ555555"
  customer:
    properties:
      accountNumber:
        type: "string"
        description: "Controlling Customer organization code"
        maxLength: 12
        example: "USGEE030"
      name:
        type: "string"
        maxLength: 100
        example: "ACME INT'L INC"
      address:
        $ref: "#/definitions/address_2"
      contact:
        $ref: "#/definitions/contact_2"
  shipper:
    properties:
      accountNumber:
        type: "string"
        description: "Shipper organization code"
        maxLength: 12
        example: "SGSIN6661"
      name:
        type: "string"
        maxLength: 100
        description: "The company who is the sender of goods."
        example: "JJ Electronics"
      address:
        $ref: "#/definitions/address_1"
      contact:
        $ref: "#/definitions/contact_1"
  notify:
    properties:
      accountNumber:
        type: "string"
        description: "Notify Party organization code"
        maxLength: 12
        example: "USBOC996"
      name:
        type: "string"
        maxLength: 100
        example: "X-COMMERCIAL AIRPLANE"
      address:
        $ref: "#/definitions/address_3"
      contact:
        $ref: "#/definitions/contact_3"
  partyUpdate:
    properties:
      accountNumber:
        type: "string"
        description: "Organization code"
        maxLength: 12
        example: "USGEE036"
  shipmentbooking_POST_response:
    properties:
      _DGFBookingID:
        type: "string"
        example: "2e5c37b954dc49a0b43a404bc1cf59b9"
      status:
        type: "string"
        example: "Accepted"
        enum:
          - "Accepted"
          - "Rejected"
      statusURL:
        type: "string"
        example: "https://api-sandbox.dhl.com/dgff/transportation/shipment-booking/status?_DGFBookingID=2e5c37b954dc49a0b43a404bc1cf59b9"
  notes:
    properties:
      type:
        type: "string"
        description: "Use 'NoteType' code list, see https://api-sandbox.dhl.com/dgff/transportation/shipment-booking/codelist?codeListID=NoteType"
        maxLength: 3
        example: "CIN"
      text:
        type: "string"
        example: "Customs Instructions will folllow"
  shipmentbookingstatus_GET_response:
    properties:
      status:
        type: "string"
        example: "Shipment Created"
        enum:
          - "Accepted"
          - "In Progress"
          - "Rejected"
          - "Shipment Created"
      housebillNumber:
        type: "string"
        maxLength: 35
        example: "DELA00342"
      shipmentID:
        type: "string"
        example: "S1900052870"
      shipmentTrackingURL:
        type: "string"
        description: "You can start to track your shipment using the DGF Shipment Tracking API. Your app's 'Consumer Key' is the API Key required to use the DGF Shipment Tracking API.
        For more information on the DGF Shipment Tracking API, see https://developer.dhl.com/api-reference/dgf-shipment-tracking"
        example: "https://api-sandbox.dhl.com/dgff/transportation/shipment-tracking?housebill=DELA00342"
  shipmentbookingstatus_GET_Not_Found_response:
    properties:
      status:
        type: "string"
        example: "Client error"
      title:
        type: "string"
        example: "Booking ID Not Found"
  shipmentbooking_401_error_response:
    properties:
      status:
        type: integer
        example: 401
      title:
        type: "string"
        example: "Unauthorized"
      detail:
        type: "string"
        example: "Expired Access Token"
        enum:
          - "Unauthorized for given resource"
          - "Expired Access Token"
      api-correlation-id:
        type: "string"
        example: "bcf621d5-250d-49b5-a4a0-521cf7a120f0"
  shipmentbooking_500_error_response:
    properties:
      status:
        type: integer
        example: 500
      title:
        type: "string"
        example: "Internal Server Error"
        enum:
          - "Internal Server Error"
      detail:
        type: "string"
        example: "The server encountered an unexpected condition that prevented it from fulfilling the request. Please try again later"
      api-correlation-id:
        type: "string"
        example: "bcf621d5-250d-49b5-a4a0-521cf7a120f0"
  shipmentbooking_429_error_response:
    properties:
      status:
        type: integer
        example: 429
      title:
        type: "string"
        example: "Too Many Requests"
        enum:
          - "Too Many Requests"
      detail:
        type: "string"
        example: "Number of API requests for a given API key/token has exceeded allocated rate limit. Please try again later."
      api-correlation-id:
        type: "string"
        example: "bcf621d5-250d-49b5-a4a0-521cf7a120f0"
  shipmentbooking_PATCH_200_response:
    properties:
      status:
        type: integer
        example: 200
      detail:
        type: "string"
        example: "Shipment S2100067034 updated successfully"
      results:
        $ref: "#/definitions/updateResults_success"
      api-correlation-id:
        type: "string"
        example: "0a54613e-81d3-4461-8869-23b09966cd40"
  shipmentbooking_PATCH_404_error_response:
    properties:
      status:
        type: "string"
        example: "Client error"
      detail:
        type: "string"
        example: "Shipment ID S1122334455 not found"
      api-correlation-id:
        type: "string"
        example: "0a54613e-81d3-4461-8869-23b09966cd40"
  shipmentbooking_PATCH_403_response:
    properties:
      status:
        type: integer
        example: 403
      title:
        type: string
        example: "Shipment S2100067035 could not be updated"
      detail:
        type: "string"
        example: "Update not allowed as no fields passed business rule validations"
      results:
        $ref: "#/definitions/updateResults_403_error"
      api-correlation-id:
        type: "string"
        example: "0a54613e-81d3-4461-8869-23b09966cd40"
  updateResults_update_fields:
      type: string
      example: "$.references"
  updateResults_403_error:
    type: array
    items:
      properties:
        updateField:
          $ref: "#/definitions/updateResults_update_fields"
        status:
          type: string
          enum:
            - accepted
            - rejected
          example: "rejected"
        details:
          type: string
          example: "Update not allowed as shipment has been picked up"
  updateResults_success:
    type: array
    items:
      properties:
        updateField:
          $ref: "#/definitions/updateResults_update_fields"
        status:
          type: string
          enum:
            - accepted
            - rejected
          example: "accepted"
  shipmentBookingUpdate:
    properties:
      shipmentBranchCode:
        type: "string"
        description: "Station branch code. Populate to define the country for references instead of being defaulted to DHL headquarters (Germany)"
        maxLength: 3
        example: "SIN"
      consignee:
        $ref: "#/definitions/partyUpdate"
      goodsLines:
        type: "array"
        items:
          $ref: "#/definitions/goodsLines"
      references:
        type: "array"
        items:
          $ref: "#/definitions/references"
      notes:
        type: "array"
        items:
          $ref: "#/definitions/notes"
